[2022-09-21 12:47] #17606 closed, assigned to nobody

[2022-09-21 12:50] #17380 closed, assigned to E1izabeth, uslss

[2022-09-21 12:50] #16545 closed, assigned to E1izabeth, uslss

[2022-09-21 12:59] jkjunior commented on #17682
Same issue.

[code]

[2022-09-21 13:02] djbeacom opened #17699 "SQL compilation error for Snowflake Stored Procedures"
### Description

Getting the below error when trying to "View Procedure" or "Generate SQL DDL" for Snowflake Stored Procedures.  This worked flawlessly in previous versions prior to upgrading.

![image](https://user-images.githubusercontent.com/62651897/191509510-89946a68-5941-4a04-a6b6-bea75b1e9ef5.png)

The procedure definition is error-free.  I am able to view and execute using the Snowflake UI

[2022-09-21 13:48] markervie commented on #17616
Thanks for that confirmation, LL.

[2022-09-21 13:52] markervie commented on #17616
LL - by PRO DBeaver versions, you're referring to both the Enterprise and Ultimate versions as listed @ the product website https://dbeaver.com/edition/, correct ?

[2022-09-21 14:36] tvogel8570 commented on #17349
I have a large project that has this behavior but am unable to reproduce on a smaller / test project.  You can go ahead and close as the workaround is acceptable.

[2022-09-21 15:26] ghost commented on #16526
still with the error in SQL Server.

![image](https://user-images.githubusercontent.com/88109095/191545712-2dfddef0-91d6-4d3a-b3e0-d3c96b919d63.png)

this work for me

[2022-09-21 15:29] E1izabeth commented on #16526
Fix will be available in the nearest release.

[2022-09-21 15:45] igor2x commented on #17698
I am using the latest Db2 version v11.5.7.0 with the latest manually [added JDBC Driver 4.31.10](https://www.ibm.com/support/pages/db2-jdbc-driver-versions-and-downloads) and the latest available DBeaver CE 22.2.0.

It has to be some way to add Application Name, because _DataGrip_ does it successfully.

[2022-09-21 16:07] igor2x commented on #17698
I am not a programmer, but I searched the web and all documentation I have found point to `setClientProgramName`. Are you sure `setClientInfo` pointed from your Github link is the same property? Maybe `setClientInfo` is the column CLIENT_APPLNAME like I have described in my initial post, that is correctly set. But maybe beside that it should also `setClientProgramName` be set.

Sources:
1. [Is the

[2022-09-21 18:46] wistlo commented on #11220
Came here to write up a request, but found the solution already exists.  Typing alias.* and hitting control-space gives whole list with the alias prefix.   This is really useful when joining multiple tables with dozens of fields.  Thanks dbeaver!

[2022-09-21 18:55] jdechter opened #17700 "Create Snowflake Procedure"
### Description

This produces an error

CREATE OR REPLACE PROCEDURE testproc()
RETURNS varchar
LANGUAGE SQL AS
$$
DECLARE
	i int;
BEGIN
	i:=1;
	IF (i=1) THEN
		i:=2;
	END IF;
	IF (i=2) THEN
		i:=3;
	END IF;
END
$$;

SQL Error [1003] [42000]: SQL compilation error:
parse error line 14 at position 7 near '<EOF>'.
syntax error line 4 at position 1 unexpected '$'.
syntax error line 14 at position 7 u

[2022-09-21 19:50] dputzter82 opened #17701 "ODBC jdbc-odbc-bridge-jre7.jar NullPointerException"
### Description

Creating new ODBC connection. Downloaded both the jar and dll from github and placed in local directory.
![image](https://user-images.githubusercontent.com/2846197/191595682-67660e1b-ae9e-49ec-ad19-bdc9fa0b94b9.png)

Getting this error when attempting to connect:
Unexpected driver error occurred while connecting to the database
  NullPointerException
  java.lang.NullPointerExcepti

[2022-09-21 20:03] dputzter82 commented on #17701
Additionally, when I reset the driver libraries to the "restore default" option, then click the download/update button, and then the download button, I get a "Driver file download failed." error. Not sure if this is related or not.

![image](https://user-images.githubusercontent.com/2846197/191599729-f733bb71-3d7b-4566-a3d3-708ed6c2c156.png)

[2022-09-22 02:57] #17393 closed, assigned to nobody

[2022-09-22 05:30] DariaMarkaryan opened #17703 "BLOB export from Maria with new driver didn't show blob content"
### Description

Maria driver has been updated from 2.7.0 to 3.0.7. And BLOBs during export to TXT format (but for example nothing changed in CSV export).
Now in TXT export we can't see BLOBs content, it replaced by string '[BLOB]'
Binaries export properties(Not depends on the encoding selected):
![image](https://user-images.githubusercontent.com/43252954/191665159-b39899dd-e071-4c3c-ace7-2f723ee2

[2022-09-22 06:36] LonwoLonwo commented on #17657
I can't reproduce your issue with hive-jdbc-uber-2.6.5.0-292

![5K3cBMuinS](https://user-images.githubusercontent.com/45152336/191674929-6009ba5a-dc97-4cc8-b8b7-23fde94e9989.gif)

Probably this is how the Cloudera driver works.

I think you can just set all auto-complete settings from "default" to "upper".

[2022-09-22 06:41] LonwoLonwo commented on #17697
Hello @lastares

This is a translating issue from the Eclipse side: https://github.com/dbeaver/dbeaver/issues/17641

Probably, we need to find or create a ticket on the Eclipse bug tracker.

[2022-09-22 07:30] igor2x opened #17704 "declare cursor fails with -104 error"
### Description

Data can be loaded from cursor. This can be very handy if data are loaded from another database through federated system. But it can also be handy if loaded inside the same database. It speeds up process of data transfer significantly.

When I execute "declare cursor" command in DBeaver fails with error, but in official IBM "db2cmd" tool works just normally.

### DBeaver Version

[2022-09-22 07:49] LonwoLonwo commented on #17699
Hello @djbeacom

What name does your procedure schema have?

Probably driver updating will help you:

![2022-09-01 00_58_49-DBeaver 22 2 0 - MediaType](https://user-images.githubusercontent.com/45152336/187792925-291fe5b0-dbef-44ba-98a2-9f90103d8d97.png)

As here https://github.com/dbeaver/dbeaver/issues/17121

[2022-09-22 09:40] GG668 opened #17705 "Setting up dbeaver.ini to start dbeaver from the command line has no effect"
### Description

I am following this operation
https://dbeaver.com/docs/wiki/Admin-Manage-Drivers/
I configured the ini file (-Ddbeaver.drivers.configuration-file=c:\some-path\dbeaver-drivers-config.xml) and xml file, and also downloaded the driver package
But I get a different result when I start dbeaver using the command line than when I start dbeaver directly
I start dbeaver directly, then open

[2022-09-22 09:51] GG668 commented on #17705
I seem to know why, I wrote ClickHouse in the driver name but it jumped to ClickHouse (Legacy), but why?

[2022-09-22 09:59] E1izabeth commented on #17705
@GG668
You can find driver id in the driver description using Driver Manager or through Connection configuration -> Edit Driver Settings.
![image](https://user-images.githubusercontent.com/28875055/191717780-eea8b531-5624-4d10-b550-97e1ed4c2a7b.png)

[2022-09-22 10:06] GG668 commented on #17705
Thank you

[2022-09-22 10:06] #17705 closed, assigned to nobody

[2022-09-22 11:05] JesseFL commented on #17657
Yes, I will.  Thank you for checking into it.

[2022-09-22 11:30] igor2x commented on #17698
I have found another tool that properly sets APPLICATION_NAME. The name of tool is "SQL Workbench/J" and this tool is written in Java and source code is also available to download: https://www.sql-workbench.eu/dev-download.html
Tool uses "Apache License, Version 2.0" which is the same as DBeaver license, so no worries for braking some license checking into the code.

Bellow SQL:
`SELECT APPLICATIO

[2022-09-22 12:19] LonwoLonwo commented on #17703
As s workaround - you can check these settings and increment the LOB cache:

![2022-09-22 15_18_24-DBeaver 22 2 1 - album](https://user-images.githubusercontent.com/45152336/191744937-7f719fcf-cc27-44d1-b7be-3d8b1b36f286.png)

[2022-09-22 12:32] iraidaa commented on #17367
Hi @lucashtc,

May I ask you the following questions:
Do you have problems with the network? It seems that connection fails after timeout.
Do you use VPN or SSH?
Can you provide dbeaver-debug.log, please? It's located in the same folder as the .log file.

I suggest setting Keep-Alive option in the Initialization tab of the Connection configuration, so that the connection won't fall.

[2022-09-22 12:48] DariaMarkaryan commented on #17703
So, there is so tiny cash for blobs by default. Change of the settings mentioned above helps export blob values

[2022-09-22 13:03] LonwoLonwo commented on #17701
Hello @dputzter82

Thanks for the info and for the logs.

And yes, this is a duplicate of https://github.com/dbeaver/dbeaver/issues/17569.

So I'm closing this ticket.

[2022-09-22 13:03] #17701 closed, assigned to nobody

[2022-09-22 13:04] emironovDB commented on #17146
@scottlapoint
Could you provide the driver version?

[2022-09-22 13:12] emironovDB commented on #17590
@sssqwe
Hi,
Could you provide the data example?

[2022-09-22 13:16] emironovDB commented on #17661
@Ravi5308
Thanks for the idea!

[2022-09-22 13:30] LonwoLonwo commented on #17675
Thanks for the report.

Probably we need to enhance enum reading for PostgreSQL

[2022-09-22 13:33] E1izabeth commented on #17678
@bouyeijiang
Please, describe what's the issue about in more details.
Provide the steps to reproduce your issue. A video with the reproduction could be useful.

[2022-09-22 13:48] bouyeijiang commented on #17678
If you do not operate the interface for a few minutes and then re execute the script, it will be displayed as being in the query all the time. You need to disconnect the slave connection to be normal.The same operation does not have this problem in the window system
![2022-09-22 21-48-23屏幕截图](https://user-images.githubusercontent.com/4083760/191764649-ebee9883-7904-4f11-8482-0b69e71326c8.png)

[2022-09-22 13:50] emironovDB commented on #17684
@majkinetor
Thanks for the request!

[2022-09-22 13:56] LonwoLonwo commented on #17696
Thanks for the bug report.

Actually, this is the duplicate of this ticket https://github.com/dbeaver/dbeaver/issues/13476

And please tack a look at this advice: https://github.com/dbeaver/dbeaver/issues/13476#issuecomment-1001506524

[2022-09-22 13:56] #17696 closed, assigned to nobody

[2022-09-22 14:01] Destrolaric commented on #17678
@bouyeijiang Hi, can you see if https://github.com/dbeaver/dbeaver/issues/12559 is similar to your issue?

[2022-09-22 14:05] Destrolaric commented on #17679
Probably related to the old driver, we need to look if it will reproduce after https://github.com/dbeaver/dbeaver/issues/17427 will be completed.

[2022-09-22 14:07] briandhuff commented on #17696
Thank you, I had looked for similar issues reported but didn't think about the empty line as a delimiter.
Problem resolved

[2022-09-22 14:19] LonwoLonwo commented on #17700
Recently we had the very same discussion here: https://github.com/dbeaver/dbeaver/issues/17636
You can find some tips there.

For now, we do not have a test environment, so I can't reproduce your issue.

Can you please provide a screen of your issue?

[2022-09-22 14:24] LonwoLonwo commented on #17676
Hm. I can't reproduce your issue on Windows. Can you provide a video, please?

[2022-09-22 14:49] bouyeijiang commented on #17678
didn't solve the problem

[2022-09-22 15:21] jdechter commented on #17700
I read that discussion before.  Not exactly the same thing.
Seem DBeaver is parsing the text incorrectly.
image attached
<img width="305" alt="Screenshot 2022-09-22 111926" src="https://user-images.githubusercontent.com/67009541/191786852-4391407c-ad21-4f18-a90c-f54e7d8d4232.png">

[2022-09-22 16:17] #16775 closed, assigned to Destrolaric, Matvey16

[2022-09-22 16:31] jagannathsrs commented on #14749
Colleague of mine had the same issue. Even with the same credentials and Pem keys, it failed with `exhausted all authentication methods for client dbeaver` Only difference was that I am on a intel Mac and he's on a M1 Mac.

The issue was resolved when he downloaded the M1/Silicon version of Dbeaver and used JSch method.
<img width="611" alt="Screen Shot 2022-09-22 at 9 30 26 AM" src="https://user-

[2022-09-22 17:31] scottlapoint commented on #17146
MySQL 8.0.30

[2022-09-22 20:04] sssqwe commented on #17590
I don't quite understand what data example are you referring. If you are talking about my SQL files. I uploaded my create and insert SQL files to: https://github.com/sssqwe/Mistranslation-of-SQL.git.

[2022-09-22 23:04] dencapitanblack opened #17707 "Error in the request execution plan"
### Description

Hi! I am using db2 luw and after clicking on the "Get Query execution plan" button, nothing is returned. I turned on event monitor and looked at what happens when I receive a request plan. There are question marks everywhere in the queries, what could this be related to? Below is the request log (this is the result of executing the command db2evmon -path /home/db2inst1/db2event/ >

[2022-09-23 00:03] nrrkeene opened #17708 "Execution Error window cannot close with standard Command-W shortcut"
### Description

DBeaver displays an error message in a window but the window does not accept standard window shortcut. Either the window should act like a window, or if it needs to act like a dialog box it should be a dialog box.

### DBeaver Version

v22.2.0

### Operating System

12.4

### Database and driver

Oracle, but I imagine it works with any database

### Steps to reproduce

Steps to re

[2022-09-23 06:26] LonwoLonwo commented on #17707
Hi.
Could you please provide the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you

[2022-09-23 06:38] E1izabeth commented on #17541
https://github.com/dbeaver/dbeaver/wiki/Separate-Connections

[2022-09-23 07:19] LonwoLonwo commented on #17703
Actual for Oracle too. Probably we should read the contents, as we do for CSV export.

[2022-09-23 07:49] e1ace opened #17709 "Firebird driver missing"
### Description

Opening a legacy database. The latest Firebird JDBC driver is not compatible with the database. Reverting to an older version database (Firebird 2.2.15) allows the database to be opened and the various table can be edited. Everything works as it should.

![Downloaded Driver](https://user-images.githubusercontent.com/20770537/191912648-d62498f8-1ef6-4ebb-b18e-a26859b7226e.png)

The

[2022-09-23 08:12] dencapitanblack commented on #17707
Hi! Here is the execution log
`
2022-09-23 11:07:29.999 - Check EXPLAIN tables in 'MAXIMO'

2022-09-23 11:07:30.145 - EXPLAIN tables with schema MAXIMO found.

2022-09-23 11:07:30.145 - Valid explain tables found in MAXIMO

2022-09-23 11:07:30.145 - Schema=MAXIMO : EXPLAIN PLAN SET QUERYNO = 166423 FOR SELECT * FROM WORKORDER

2022-09-23 11:07:30.561 - org.eclipse.core.runtime.AssertionFailedExcep

[2022-09-23 10:13] JactyChan commented on #15991
I also have this problem, how to deal with it？

[2022-09-23 11:58] DariaMarkaryan opened #17711 "Table references pop-up appears after removing all filters from context menu in datagrid"
### Description

https://user-images.githubusercontent.com/43252954/191952824-69fa8502-4d4c-4f6a-857f-2efc6e66b6a9.mp4

### DBeaver Version

22.1.1

### Operating System

win10

### Database and driver

_No response_

### Steps to reproduce

1. Set table filter in any way
2. Remove filters through the context menu: Filter -> Remove all filters\orderings

### Additional context

_No response_

[2022-09-23 12:51] iraidaa opened #17712 "SQLite Remote documentation"
Some of our PRO users are already waiting for the SQLite Remote release. It would be great to publish some docs or tutorials regarding this topic.

[2022-09-23 12:55] RayNeverLearns opened #17713 "Problems occurred while trying to save the state of the workbench"
### Description

Every single time I close DBeaver (in every Windows version for the past couple of months, but I am now on 22.2.0), I get an error saying "Problems occurred while trying to save the state of the workbench" and when I click on Details, it says "Could not reset markers snapshot file". I have searched and not found this issue reported before. Any ideas?

### DBeaver Version

Communit

[2022-09-23 13:04] jflambert opened #17714 "Error when creating postgresql connection: "unable to find valid certification path to requested target""
### Description

On a brand new Windows 10 VM, I can't create postgresql connections because driver files can't be downloaded.

It doesn't look like the bundled "Java" works fully.

### DBeaver Version

Community Edition 22.2.0

### Operating System

Windows 10

### Database and driver

This doesn't matter, I can't download drivers, but otherwise:

1. postgresql 13.8
2. JDBC 42.5.0 (presumably the

[2022-09-23 13:21] E1izabeth commented on #17714
Thank you for bug report. We already have an issue with the same bug #17591. As a workaround you can remove `-Djavax.net.ssl.trustStoreType=WINDOWS-ROOT` from `dbeaver.ini` file.

[2022-09-23 13:21] #17714 closed, assigned to nobody

[2022-09-23 13:32] jflambert commented on #17714
@E1izabeth  is there an older version of dbeaver available for download that doesn't have this issue?

[2022-09-23 13:34] pmweeks98 commented on #17257
Have dbeaver installed using snap on RHEL8. Was working up till today and now I'm getting this error

Edit: Was an issue with my postgres, restarted the service and dbeaver is working again

[2022-09-23 13:42] jflambert opened #17715 "Confusing user interface on backup success"
### Description

When a backup is successful, the wizard doesn't have a "Close" button. Instead the user is still shown Start and Cancel.

I had to tell a user to close with the X button. Either Start or Cancel should be renamed to Close.

![image](https://user-images.githubusercontent.com/11539524/191973356-32e6871e-e7f0-41be-96cc-5676f0f91db2.png)

### DBeaver Version

Community Edition 22.2.0

[2022-09-23 14:03] E1izabeth commented on #17714
I hope that this issue is not about DBeaver itself, but about your certificates, so I can't suggest you some other version to downgrade to. It seems that some required certificate is missing in your WINDOWS-ROOT. If you delete this parameter from the dbeaver.ini file, DBeaver will use java certificates and everything should be ok.
P.S. dbeaver.ini file is in the same location where dbeaver.exe fil

[2022-09-23 21:12] E1izabeth commented on #14113
Is this issue still actual?
Seems it was solved.

[2022-09-23 21:15] pdarringer-kinetica opened #17716 "Add support for Kinetica database"
We (Kinetica) have a number of enterprise customers and developers who are using DBeaver to connect to their Kinetica databases.  It would be great if DBeaver could add standard support for Kinetica using our JDBC driver.

Here's our Maven info:
- GroupID:  com.kinetica
- ArtifactID:  kinetica-jdbc
- Repository:  https://nexus.kinetica.com/repository/releases
- Latest JAR:  kinetica-jdbc-7.1.7.3-j

[2022-09-24 10:29] E1izabeth commented on #16411
Connected with #17096

[2022-09-24 10:31] Dillonsmart commented on #8508
This worked!

[2022-09-24 10:50] george-hopkins commented on #17274
I was able to access my database after granting DBeaver access to removable media:
[code]

[2022-09-24 12:31] dan-schneider opened #17718 "German translations"
Hi,

I use DBeaver regularly in the German language. Some translations are not quite correct, others are still missing entirely. For this reason I followed this description to improve that: https://github.com/dbeaver/dbeaver/wiki/Localization

When I publish the branch I got this error "It looks like you don't have write access to dbeaver/dbeaber. If you should, please check with a repository admi

[2022-09-24 13:25] E1izabeth commented on #17718
We do not give write access to the repository. Seems that we need to edit this guide. Thank you.
Please, fork dbeaver repository and follow this instructions https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2022-09-24 13:59] songzc3 commented on #4631
Hi:
  I am glad to see your feeback!
  But it is still exist. Though I upgrade 22.2，I only display code and can not  edit! (refer to follow picture)
By the way, you maybe enhance function:sql script format,now it is not pretty,thanks!

![1664028511525](https://user-images.githubusercontent.com/44917923/192102465-caf660a4-d2e2-4991-9997-456abc5b0211.jpg)

[2022-09-24 19:12] artemiuss opened #17719 "Bug when selecting an empty string on MySQL"
### Description

When selecting an empty string on MySQL

`SELECT ''`

1. The result is grayed out
![image](https://user-images.githubusercontent.com/15310217/192114658-540d5986-a9c8-46f3-bb20-14779d789321.png)
2. Subsequent execution of queries in this window is no longer possible. The tab becomes broken.

### DBeaver Version

Community 22.2.0

### Operating System

Windows 10

### Database and d

[2022-09-24 22:53] ShadelessFox commented on #17719
Hello @artemiuss,

Can you please send log files? You can find instructions here: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-09-24 23:21] artemiuss commented on #17719
Here it is

eclipse.buildId=unknown
java.version=11.0.12
java.vendor=Eclipse Foundation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en
Command-line arguments:  -os win32 -ws win32 -arch x86_64

org.jkiss.dbeaver.model
Error
Sun Sep 25 02:18:53 EEST 2022
Event loop exception

![image](https://user-images.githubusercontent.com/15310217/192122025-7bdd2a82-380b-46be-ab91-18bf474a2a7e.png

[2022-09-24 23:22] artemiuss commented on #17719
[.log](https://github.com/dbeaver/dbeaver/files/9639736/default.log)

[2022-09-24 23:46] ShadelessFox commented on #17719
Okay, now I understand what's happening. Thanks for the bug report, this is clearly a really bad bug.

As a workaround, you can specify a non-empty alias.

[2022-09-25 16:44] TheMechanist902 opened #17723 "Use adaptive selection with Ctrl+A to mark current statement/query/script"
**Is your feature request related to a problem? Please describe.**
I feel one does often need to copy sub-statements from other queries/CTEs. It would be really convenient if there was a way to quickly mark the current statement/query/script based on the position of the cursor inside the editor.
E.g. if you have this in your editor:
[code]

**Describe the solution you'd like**
When you have the cu

[2022-09-25 21:46] rustyx commented on #13114
Why is a `snap` bug closed as a dupe of a `flatpak` bug? It's not the same thing and the resolution can be different. The comments with workarounds in the dupe are all specific to Flatpak.

[2022-09-25 23:44] williambuchanan2 opened #17724 "Columns are read-only then schema and DB having the same name"
### Description

This problem seems to be related to the use of schemas.

Run a simple query on a table which is not in the dbo schema, then try to edit the data in the grid. The following error is shown:

Column is read-only: No corresponding table column

### DBeaver Version

Community Edition 22.2.1.202209251341

### Operating System

Windows 11

### Database and driver

SQL Server

### Steps t

[2022-09-26 07:19] domonkosbalogh-seon commented on #3780
same issue, updating the folder from 204 to 211 solved it

[2022-09-26 08:07] DariaMarkaryan opened #17727 "SQL Editor menu item not shown"
### Description

SQL Editor is checked in 'Customize menu visibility' but isn't visible in the top menu bar
![image](https://user-images.githubusercontent.com/43252954/192225484-10897c71-3461-4b8b-8026-aedd6390718c.png)
The setting is in Window -> Perspective -> Customize perspective, Menu Visibility

### DBeaver Version

22.2.1

### Operating System

win10

### Database and driver

_No response_

[2022-09-26 10:45] E1izabeth commented on #17714
@jflambert I encountered the same issue and it disappeared after one of the latest (in September) windows updates. Maybe it will help you too.

[2022-09-26 10:54] VXprof opened #17729 "Unreadable XML, JSON, ..."
### Description

Don't know if this is a bug or not, but I can't see a content in a readable (expected) format.

Example:

![image](https://user-images.githubusercontent.com/114399611/192257415-1049263b-9317-4b0f-9d08-2839fbf6dd13.png)

I've tried all content encondings from the drop-down.

### DBeaver Version

Community 22.2.1.202209251341

### Operating System

WIN10

### Database and driver

1.

[2022-09-26 11:29] cniweb opened #17730 "Cannot complete the install DBeaver IDE 22.2.1 on Eclipse 2021-12 (4.22.0)"
### Description

Install / Update from DBeaver IDE 22.2.0 to DBeaver IDE 22.2.1 on Eclipse 2021-12 (4.22.0) fail with:
[code]

### DBeaver Version

22.2.1

### Operating System

Windows

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-26 12:04] LonwoLonwo commented on #17724
Hello @williambuchanan2

For now, I can't reproduce your issue.

Do you use select for non-default database? Or for default?

As a workaround - can you please check the result of selecting one more time (re-run) after you open the `syscore` tables list in the navigator tree?

[2022-09-26 12:48] sebalis commented on #17682
A new version has been released (22.2.1) and this time the sha256 file at dbeaver.io matches the software file at Github. So the issue itself no longer exists. But I worry about the fact that this issue does not seem to have been noticed by anyone, judging by the lack of responses.

[2022-09-26 12:49] sebalis commented on #17682
I should rephrase that: The issue does still exist for version 22.2.0.

[2022-09-26 13:32] hasanunlukilinc commented on #5738
It worked for me also Macos Monteray 12.6 and Dbeaver Version 22.2.1.202209251341

[2022-09-26 14:36] #17719 closed, assigned to uslss, ShadelessFox

[2022-09-26 14:37] #15319 closed, assigned to uslss, LonwoLonwo

[2022-09-26 15:00] Austin1 opened #17732 "Keep Office Integration on upgrade"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I do an upgrade and lose the Office integration extension

**Describe the solution you'd like**
When checking for a DBeaver upgrade, the application should note to the end user if there is not compatible extensions. If the extensions are compatible, include this in the upgrade process so that you do not l

[2022-09-26 15:02] E1izabeth commented on #17732
Thank you for feature request.
Duplicate of #5317.

[2022-09-26 15:03] #17732 closed, assigned to nobody

[2022-09-26 15:16] #17541 closed, assigned to E1izabeth, Matvey16

[2022-09-26 15:52] pcgeek86 commented on #5601
I had to uncheck the `Verify Server Certificate` box. Very unintuitive.

[2022-09-26 15:52] ShadelessFox commented on #17729
Hello @VXprof,

Are you sure that the cell contents is indeed textual, non-binary data?

[2022-09-26 16:30] #17428 closed, assigned to E1izabeth, Matvey16

[2022-09-26 20:08] CarlGraff commented on #5667
if you are doing this a lot I recommend copying the multiple insert statements into an editor like notepad++ where you easily convert this to a single statement either with regex or a macro

[2022-09-26 22:35] williambuchanan2 commented on #17724
Hi @LonwoLonwo

The DB wasn't default - I did try to make it default but no change. I have also tried re-running the query. In fact I have rebooted a few times, and refreshed the navigator tree several times as well but it doesn't make a difference.

See screenshot below - the inline editing works fine for a table in the dbo schema in the same database. I have tried a selection of tables in the Sy

[2022-09-27 00:20] DariaMarkaryan opened #17736 "Restrict data edit setting breaks data grid"
### Description

https://user-images.githubusercontent.com/43252954/192403215-10f4d322-fdcf-428f-9fdd-2aa0bf5cd519.mp4

[code]

[code]

### DBeaver Version

22.2.1

### Operating System

win10

### Database and driver

_No response_

### Steps to reproduce

1. Select 'Edit Connection' in connection's context menu
2. Create Connection type with checked setting 'Restrict data edit'
![image](https://

[2022-09-27 00:37] telford-tendys commented on #6015
This is not a bug, it is normal for postgresql clients to use their local timezone. On a standard psql client you type `show timezone;` to see what your current settings are and `set timezone='UTC';` to change settings for the current connection. If you try a simple `select now();` it will include an offset indicating which timezone adjustment the server is applying to your session.

The only thin

[2022-09-27 05:08] jasraja commented on #16663
Hello @emironovDB and @LonwoLonwo

Thanks for considering this case and taking it up. Would just like to add that the current version of Athena JDBC driver is 2.0.32 which was updated in early August https://s3.amazonaws.com/athena-downloads/drivers/JDBC/SimbaAthenaJDBC-2.0.32.1000/docs/release-notes.txt

[2022-09-27 06:02] skotlex opened #17737 "Question about db access session count"
### Description

I used dbeaver at work before. Meanwhile, at dawn, the number of Oracle sessions for certain individuals soared to 60 for unknown reasons. Since the company has a maximum of five db, it is strange for an individual to use nearly 60 sessions. And the number of sessions suddenly increased even though the person in question was not working at the time.

Unfortunately, this is all the

[2022-09-27 06:37] LonwoLonwo commented on #16663
Thanks for the clarification @jasraja

[2022-09-27 07:29] ccczhouxin commented on #17730
Are thr new dbeaver not suit eclipse2021-12

[2022-09-27 08:11] serge-rider opened #17738 "Greenplum: disable prepared statements"
### Description

Prepared statements in Greenplum are not work well with multiplexing.
We already disable them by setting prepareThreshold to 0.
Let';s make it more obvious by populating driver property + set preferQueryMode to simple.

### DBeaver Version

22.2

### Operating System

_No response_

### Database and driver

Greenplum

### Steps to reproduce

_No response_

### Additional context

[2022-09-27 09:48] ced75 opened #17739 "Autocompletion doubles table alias"
### Description

![dbeaver_autocompletion](https://user-images.githubusercontent.com/12892581/192493344-afad2e6e-c4bd-49f3-a41a-fa2a3ccb695f.gif)
The alias of a table is doubled by autocompletion when the FROM clause already exists and when the column is already used in the SELECT list.

### DBeaver Version

Community Edition 22.2.1

### Operating System

Ubuntu 22.04

### Database and driver

Pos

[2022-09-27 10:10] artemiuss opened #17740 "MySQL DB object "not found in catalog" error when trying to navigate it using Ctrl+click"
### Description

When navigating the DB object(in my case, stored procedure) using the Ctrl+click shortcut, the "not found in catalog" error occurs.
Please note that this error occurs only when this action is performed the second and all subsequent times, while the first time, the error does not occur.

### DBeaver Version

DBeaver Community 22.2.1.202209251341

### Operating System

Windows 10
Wi

[2022-09-27 10:20] mims92 commented on #1426
I know that is doesn't provide a reliable solution for DBeaver but: https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/workbench.settingup.html

[2022-09-27 12:00] LonwoLonwo commented on #17700
You can highlight and execute the procedure code body as a workaround.

![2022-09-27 14_58_20-DBeaver 22 2 1 - _SNOWFLAKE_SAMPLE_DATA 2_ Script-28](https://user-images.githubusercontent.com/45152336/192519612-9ece0797-d7b2-415a-a8ca-3cc0fc64b9a1.png)

[2022-09-27 12:02] LonwoLonwo commented on #17700
Also, you can change this setting in your connection settings. It helped me to execute the procedure.

![2022-09-27 15_01_42-Connection _SNOWFLAKE_SAMPLE_DATA 2_ configuration](https://user-images.githubusercontent.com/45152336/192520013-a6947e9c-d8c6-4f5f-833c-cae4c97ef0cf.png)

[2022-09-27 13:25] jdechter commented on #17700
Hi-lighting did not work.
changing $$ to string literal did work.

However I do not think that was the original intent.  I believe it is still a bug

thanks

[2022-09-27 14:04] jean152 opened #17744 "French traduction error"
### Description

Hello,

I was working with Dbeaver (great tool by the way !) and I saw a traduction error in French. see screenshot below:

It shoud be "Lire les données dans **un** éditeur SQL"
and not "Lire les données dans _**une**_ éditeur SQL" because "éditeur" is "nom masculin".

![traduction_error_editeur](https://user-images.githubusercontent.com/33521187/192547675-c881cc5f-c6b0-46c3-bb59

[2022-09-27 14:34] TomaszWojtys-TomTom opened #17746 "No editor for [geometry]"
### Description

When I try to visualize geometry column the map preview is not available. The only message I have is "No editor for [geometry]"
![image](https://user-images.githubusercontent.com/24460812/192554152-682ffa69-14fc-4c82-bc09-d43c6f88ce74.png)

### DBeaver Version

Community Edition Version 22.2.1.202209251341

### Operating System

MS Windows 10

### Database and driver

PostgreSQL 1

[2022-09-27 17:12] fa5fou5 opened #17747 "Variables Windows should be linked to its connexion / Envirenment"
**Is your feature request related to a problem? Please describe.**
The Variables Window is not linked to a specific environment/connexion.
When I switch from one environment to another I still have the same Variables that I have declared in a specific sql Script file linked to a specific connexion

**Describe the solution you'd like**
Each Connextion should have its own Variables window

[2022-09-27 18:05] brother-z opened #17748 "SSH Auth Fail after 22.2.1 update"
### Description

Updating to 22.2.1 breaks SSH+Jump server with public key connection. Downgrading to 22.2.0 makes it work again.
Error says "Auth fail", log attached.
[dbeaver.log](https://github.com/dbeaver/dbeaver/files/9658583/dbeaver.log)

### DBeaver Version

Community Edition 22.2.1

### Operating System

Windows 10

### Database and driver

_No response_

### Steps to reproduce

1. Configu

[2022-09-27 19:28] E1izabeth commented on #17748
Does switching Implementation to SSHJ in Connection Configuration ->SSH -> Advanced Settings help?
![image](https://user-images.githubusercontent.com/28875055/192617950-e35e109b-6c72-4ecd-9160-d760df9f2c8e.png)

[2022-09-27 19:31] E1izabeth commented on #17746
Please, try switching Client Web Engine in Preferences -> User Interface to Internet Explorer.
![image](https://user-images.githubusercontent.com/28875055/192618514-54cd1955-26c6-4471-a044-ae74999033cf.png)

[2022-09-27 19:33] #16687 closed, assigned to E1izabeth, Matvey16

[2022-09-27 19:37] E1izabeth commented on #16829
Should have been fixed along with #16687. Fix will be available in the 22.2.2 release.

[2022-09-27 19:37] #16829 closed, assigned to nobody

[2022-09-27 20:03] E1izabeth commented on #17744
Thank you for bug report.

[2022-09-28 02:06] loong-coder opened #17750 "Sqlserver use CAST function type conversion failure"
### Description

I was expecting a date value, but actually got a datetime value
<img width="527" alt="image" src="https://user-images.githubusercontent.com/101961800/192670456-f925898a-d5f1-4ba3-9ab4-ade56a095350.png">

### DBeaver Version

Community Edition Version 22.2.0.202209040629

### Operating System

macOS Monterey Version 12.6

### Database and driver

1. Microsoft SQL Server 2019
2. Mic

[2022-09-28 06:04] TomaszWojtys-TomTom commented on #17746
Indeed, this change helped and map view is working.
Thank you a lot!

Issue can be closed.

[2022-09-28 06:04] #17746 closed, assigned to nobody

[2022-09-28 06:30] LonwoLonwo commented on #17716
Thanks for the suggestion @pdarringer-kinetica

[2022-09-28 07:30] artemiuss commented on #17740
It is a very annoying bug. I would appreciate a fix. I can provide more details if needed.

[2022-09-28 07:32] brother-z commented on #17748
I did switch, but then the "jump server" section is missing, so I assumed it can't do the me->bastion->db_srv and didn't dig any further, just downgraded to previous version.

[2022-09-28 08:22] uslss commented on #17740
thanks for the report

[2022-09-28 08:30] uslss commented on #17704
thanks for the report

[2022-09-28 08:37] uslss commented on #17659
@samuelguesnier did you try to uncheck Native date/time format option?
![image](https://user-images.githubusercontent.com/31996417/192731366-2185b06c-2d0f-4e41-a228-5fecf1849605.png)

[2022-09-28 08:42] VXprof commented on #17729
Hi @ShadelessFox,

I found out that it is a ZIP file ...

Thank you for your time.

[2022-09-28 08:42] #17729 closed, assigned to nobody

[2022-09-28 09:06] DKhalil opened #17754 "Schema Privileges Save button not enabling on update"
### Description

After selecting a new privilege the save/revert/refresh buttons stay disabled.

![image](https://user-images.githubusercontent.com/497250/192737957-693ccc70-8645-4cc5-90be-4c9c9984c764.png)

### DBeaver Version

CE 22.2.0

### Operating System

Windows 10

### Database and driver

MariaDB

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-28 09:12] #17744 closed, assigned to E1izabeth

[2022-09-28 10:22] LonwoLonwo commented on #17754
Hello @DKhalil

Did you change your focus in this dialog?

![hzMkYyHNUG](https://user-images.githubusercontent.com/45152336/192755377-d9cbce6e-5bfc-4e23-bf55-19d2da0a6ebb.gif)

[2022-09-28 10:25] perereman opened #17755 "Promts to download (and override) driver everytime I reboot DBeaver"
### Description

I am using Ubuntu 22.04 and DBeaver 22.2.1 CE to connect to an Informix BD.

I need an specific Informix JDBC driver since bundled does not work propperly with the Informix DBM version we have.

Just as soon I installed DBeaver I configured the driver from de Driver Manager and it worked fine. I deleted the bundled driver and added then new one.

However, everytime I close DBever

[2022-09-28 10:26] LonwoLonwo commented on #17750
Hello @hookv

Yes, I can reproduce it.

![2022-09-28 13_24_26-334 825 971 - AnyDesk](https://user-images.githubusercontent.com/45152336/192756019-5eae70f2-2dd4-4d06-a02c-d32c61c3c73a.png)

As a workaround you can use other name for your casted column (not original name).

![2022-09-28 13_24_05-334 825 971 - AnyDesk](https://user-images.githubusercontent.com/45152336/192755973-3be1bf51-ddf6-4c85-94

[2022-09-28 10:38] LonwoLonwo commented on #17724
Can you please check this option? In case of this action - a new editor with an appropriate connection will be open.
Will the result also be read-only?

![2022-09-28 10_16_45-334 825 971 - AnyDesk](https://user-images.githubusercontent.com/45152336/192758329-bd90dc45-66f5-444b-83f3-0907a5472e05.png)

[2022-09-28 10:58] igor2x opened #17757 "Download driver files dialog when I reopen DBeaver appears everytime"
### Description

When I reopen DBeaver it always opens "Download driver files" error. After I manually delete offered driver in Driver Manager then connection works fine. But reopening DBeaver and problem is back.

This problem first appeared in 22.2.1. Up till 22.2.0 this was not a problem. It looks like regression problem.

### DBeaver Version

Community Edition 22.2.1

### Operating System

Win

[2022-09-28 12:38] #17586 closed, assigned to uslss, ShadelessFox

[2022-09-28 12:38] #16016 closed, assigned to uslss, LonwoLonwo

[2022-09-28 12:39] #5529 closed

[2022-09-28 13:15] geanmatheus opened #17759 "Dbeaver is not showing column default value - SQLSERVER"
### Description

Looking in PowerDesigner, I noticed that a table has columns with default values.
ex:

CREATE TABLE client(
client_id CHAR(8) NOT NULL,
is_active bit  NOT NULL default 1
)

But when I tried to get the script to create this table in Dbeaver, the default value does not appear, causing divergence when I tried to recreate the table:

ex.:

CREATE TABLE client(
client_id CHAR(8) NOT NU

[2022-09-28 14:19] Dutchglory opened #17762 "No more .rpm at dbeaver.io/files/ea"
why are there no more .rpm  packages at dbeaver.io/files/ea ...??

[2022-09-28 14:36] uslss commented on #17757
thanks for the report

[2022-09-28 14:37] uslss commented on #17755
thanks for the report. will be fixed in #17757

[2022-09-28 14:37] #17755 closed, assigned to nobody

[2022-09-28 14:39] uslss commented on #17759
@geanmatheus unfortunately, cannot reproduce it against 22.2.1. Could you please check if issue is actual for you against the recent version?

[2022-09-28 14:40] uslss commented on #17713
@RayNeverLearns could you try to reset workspace?
https://github.com/dbeaver/dbeaver/wiki/Reset-workspace

[2022-09-28 14:42] uslss commented on #17709
thanks for the report. will be fixed in #17757

[2022-09-28 14:42] #17709 closed, assigned to nobody

[2022-09-28 14:43] jyinpci opened #17763 "Statistics tab always becomes active when running a SQL script"
### Description

This is related to a previously closed ticket  https://github.com/dbeaver/dbeaver/issues/7704.

The issue had resurfaced in the past 3 releases, still happening in the current 22.2.1 release.  Whenever one executes a script having a variable (or more than SQL statements), the Statistics tab will be displayed first.  One has to click on the Result tab to actually see the result.  A

[2022-09-28 14:43] uslss commented on #17715
thanks for the suggestion

[2022-09-28 14:45] jyinpci commented on #7704
I opened a new issue https://github.com/dbeaver/dbeaver/issues/17763 for this.  Please add your comments to the new issue.

[2022-09-28 14:51] E1izabeth commented on #17762
Thank you for bug report. It will be fixed.

[2022-09-28 14:52] miltonchirinos44 opened #17764 "Oracle database connection error:"
### Description

In short, I have problems making a connection to an oracle database when the application is executed from eclipse java and at that moment I perform the connection tests, which makes connections difficult by cloudbeaver since I get the same error, which more rare is when I perform tests with the dbeaver and cloudbeaver applications downloaded from the official site if I can success

[2022-09-28 15:28] serge-rider commented on #17757
Fixed

[2022-09-28 15:52] serge-rider commented on #17757
You need to go to driver settings and delete old library again. Then it will be ok on next restart.

[2022-09-28 16:03] mohsenomidi opened #17767 "Table Copy and Paste with Data"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

Copy paste tables with data like Navicat

In this feature when you select table to copy and paste in another database the table structure created, and all table data will be inserted

**Describe alternatives you've considered**
No alternative

**Additional context**
No any additional data

[2022-09-28 16:19] RayNeverLearns commented on #17713
I just did that, twice and the problem is still there. I get it every single time I close DBeaver. :(

[2022-09-28 16:19] RayNeverLearns commented on #17713
I just did that, twice and the problem is still there. The error comes up every single time I close DBeaver. :(

[2022-09-28 16:23] igor2x opened #17768 "DBeaver snap download inconsistencies in download versions on snap web site"
### Description

On DBeaver web site: https://dbeaver.io/download/ there is info DBeaver on Linux can also be installed using snap, but there are some inconsistencies.

### DBeaver Version

Not applicable

### Operating System

Not applicable

### Database and driver

Not applicable

### Steps to reproduce

1. Go to DBeaver snap web page: https://snapcraft.io/dbeaver-ce
2. At the top click on drop

[2022-09-28 17:22] bickgr commented on #17763
Adding to follow this issue, also still happening for me.

**DBeaver Version**
CE Version 22.2.1.202209251341

**OS**
macOS 12.6

Seeing the status tab shown as default when running a script with variables or multiple selects.  Also when multiple results windows are open, when refreshing one view jumps back to the stats tab.

[2022-09-28 18:45] E1izabeth commented on #17762
Fixed

[2022-09-28 18:45] #17762 closed, assigned to nobody

[2022-09-28 19:04] geanmatheus commented on #17759
still the same
![dbeaver](https://user-images.githubusercontent.com/18244115/192867322-0597f9d2-147b-4196-a1f4-018ed71b00af.png)

[2022-09-28 19:06] geanmatheus commented on #17759
still the same
![dbeaver](https://user-images.githubusercontent.com/18244115/192867632-11568381-7582-4f76-9910-d958ad26f8af.png)

[2022-09-28 19:49] LonwoLonwo commented on #17759
Also can't reproduce.

What database version and driver version do you use?

![2022-09-28 22_48_26-334 825 971 - AnyDesk](https://user-images.githubusercontent.com/45152336/192875310-4773ae87-81d0-4dab-a7aa-fc495d474c82.png)

[2022-09-28 19:51] LonwoLonwo commented on #17763
Hello.

Can you provide some video of the issue?

[2022-09-28 20:02] macromatt opened #17770 "Broken Feature in Snowflake "Open separate connection for each editor""
### Description

The feature in Editors | SQL Editors | "Open separate connection for each editor" no longer works. When using "USE DATABASE" command all tabs change to that database rather than retaining original or last database.  This bug is in Snowflake.

### DBeaver Version

Version 22.2.1.202209251341

### Operating System

macOS Monterey 12.6

### Database and driver

_No response_

### Ste

[2022-09-28 20:47] ShadelessFox commented on #17767
Hello @mohsenomidi,

Have you considered using the data transfer feature?

https://github.com/dbeaver/dbeaver/wiki/Data-migration

[2022-09-28 21:20] E1izabeth commented on #17770
[This feature was turned off](https://github.com/dbeaver/dbeaver/wiki/Separate-Connections) for Snowflake due to [repeated authentication for MFA](https://github.com/dbeaver/dbeaver/issues/17288).

[2022-09-28 22:06] bickgr commented on #17763
Sure thing, here's a video in action

https://user-images.githubusercontent.com/46910221/192897153-0c93b05c-e224-4df3-9c2b-be17c2d0c08f.mp4

I would expect that after running the script the default view would be the last query run, the tab labeled Demographics.  After clicking to the Demographics tab and clicking the refresh I would expect the view to remain on the Demographics tab.

[2022-09-28 22:30] williambuchanan2 commented on #17724
Hi @LonwoLonwo

Thanks for your message. In fact that worked! Looking into why it work has revealed the problem... It seems that when you include the database name in the query everything works ok, but without it we get the error. See below - the circled query works, but the second query without the DB name doesn't work.

I wonder if this is a side effect of my schema and DB having the same name?

[2022-09-29 05:16] mohsenomidi commented on #17767
Data transfer is the complex feature to do the advanced data migration but the table copy paste is some rules for basic operations. Now we have copy paste table from one db to another db(with same engine, like mysql to mysql) it just execute ddl to create table. In this operation data will not transferred but with "copy with data" the data also automatically goes to target db
There is some points

[2022-09-29 07:37] DKhalil commented on #17754
Ah, okay, I just assumed it was broken because that seems really unintuitive to me. Maybe not a bug but a UX complaint then ;)

[2022-09-29 08:18] LonwoLonwo commented on #17754
Yeah, it is UIX problem. Ok, maybe we can do something here.

[2022-09-29 08:21] mauringuay commented on #17757
Sorry to bother You, but your solution is not working

I have the same issue

WHen i delete the librairies, it's working fine but if i shut down Dbeaver and restart it, the "deleted" libraieis are back.

That mean to use Dbeaver i need to remove the librairies everytime i launch it

If I install the DBEAVER 22.0.4 version it's ok, it's not working with the 22.2.1 version

[2022-09-29 09:06] sinancakir commented on #7298
@HakanDOGAN1981 driver properties de Encoding Value yok. Kendim ekledim ama olmadı. Siz nasıl yaptınız.

[2022-09-29 09:09] ShadelessFox commented on #17767
We don't want to provide a way to transfer data from one table to another just by copying it. This is an expensive operation that will be hidden under a single button.

Data transfer is designed for migrating data, and it can create new tables if necessary.

Potentially, we can just prefill the data transfer wizard after copying a table with data. We will need to discuss UX.

[2022-09-29 09:20] Guzya commented on #17344
+1
[log.zip](https://github.com/dbeaver/dbeaver/files/9673169/log.zip)

`JVM terminated. Exit code=127
/usr/share/dbeaver-ce/jre/bin/java
-XX:+IgnoreUnrecognizedVMOptions
--add-modules=ALL-SYSTEM
-Dosgi.requiredJavaVersion=11
-Xms64m
-Xmx1024m
-Ddbeaver.distribution.type=deb
-jar /usr/share/dbeaver-ce/plugins/org.eclipse.equinox.launcher_1.6.400.v20210924-0641.jar
-os linux
-ws gtk
-arch x86_64
-s

[2022-09-29 09:21] Guzya commented on #17344
dbeaver 22.2.1

[2022-09-29 09:23] endo64 commented on #2728
Keeping a filters history would be a very nice feature. Currently I keep my filters in a text file because when you quit from DBeaver filters history is deleted and I'm too lazy to write them each time.

[2022-09-29 09:38] mousey92 commented on #6045
I believe this issue was indeed fixed, even for Windows, a few subversions ago. I recently updated to 22.2.1(.202209251341) and I'm seeing this issue arise again, especially on columns with integer values:
![image](https://user-images.githubusercontent.com/26246536/192997567-4ede9698-16cc-4da2-9e3c-bacf349ea0f4.png)

[2022-09-29 10:37] ferrybig opened #17772 "Snap version of dbeaver unable to talk to ssh-agent"
### Description

I used the snap version of dbeaver becaus of it sautomatic updates. I expectd the same features in the snap version as in the release version.

It will not see that ssh-agent is running, as ssh-agent places its files in /tmp, while snap apps have a separate /tmp folder.

### DBeaver Version

Version 22.2.1.202209251341

### Operating System

Ubuntu 22.04.1 LTS

### Database and dr

[2022-09-29 10:41] igor2x commented on #17757
To recap this bug report:
1. DBeaver worked fine up to including 22.2.0 and this problem did not appear.
2. Problem is in DBeaver 22.2.1 and there is currently no work-around for this problem.
3. Upgrade to DBeaver 22.2.2 (currently in development) when it will be available.
4. After upgrade for first time you are requited to manually delete library again, because "delete library"  action is trigg

[2022-09-29 11:30] iraidaa commented on #17663
Hi @AGGGU,

Did you try to Edit the connection by choosing **Browse...** from the drop-down menu of the Client -> **Remove Home** -> **OK**?

Could you also send us the log files? Please, check the instruction: https://github.com/dbeaver/dbeaver/wiki/Log-files. Not only the native client can cause such an error.

[2022-09-29 11:32] #17551 closed, assigned to nobody

[2022-09-29 11:38] geanmatheus commented on #17759
Microsoft SQL Server 2016 (SP3-CU1-GDR) (KB5015371) - 13.0.7016.1 (X64)

MSSQL JDBC 9.2.0 JRE8

[2022-09-29 12:05] iraidaa commented on #17697
@LonwoLonwo  The ticket is ready: https://github.com/eclipse-platform/.github/issues/68.

[2022-09-29 12:13] ghost commented on #13457
It would be really nice if the upgrade could to be more seamless.
I would even argue that it should be as simple as clicking upgrade, DBeaver closing, entering UAC (if necessary), seeing a progress bar and relaunching DBeaver after the upgrade, no more clicks.
Feels unnecessary to click "Next" on the same dialogs every time I need to update.

[2022-09-29 12:18] geanmatheus commented on #17759
![image](https://user-images.githubusercontent.com/18244115/193022257-adb8d3cf-6341-4c21-8a0a-a7e1cf05be2b.png)
When viewing information from a table that already existed in the database, this default information does not appear. But creating this example table that I spoke, appears normally.
Is it some specific configuration of this table that already existed?

[2022-09-29 12:57] Destrolaric commented on #17674
Thank you for the report!

[2022-09-29 13:15] LonwoLonwo commented on #17707
Can you please check this statement:

`EXPLAIN PLAN SET QUERYNO = 166421 FOR SELECT * FROM WORKORDER`

End send the result of it (screen, maybe)?

[2022-09-29 13:19] LonwoLonwo commented on #17700
Ok, this is unclear - wy it is working fine for me, and not for you. Ok, maybe we can investigate it.

[2022-09-29 13:27] ShadelessFox commented on #17723
Hello @TheMechanist902,

Thanks for the feature request.

[2022-09-29 13:42] ShadelessFox commented on #17747
Hello @fa5fou5,

Just to clarify things, are you talking about this window?

![image](https://user-images.githubusercontent.com/35821147/193047777-7cfc716b-1147-4a66-81b7-e6dfb0797b90.png)

[2022-09-29 13:48] HerbertR opened #17774 "SQL Editor - Alt+Up stops moving to previous SQL Statement if encounters a blank line between Comment and SQL Statement"
### Description

In the SQL Editor, when using Alt+Up to move thru the previous SQL statements, Alt+Up stops working if it encounters a blank line between a Comment and a SQL statement. Alt+Down works fine and continues down thru the gap to the next SQL statement.

![DBeaver_Example_Of_Blank_Line](https://user-images.githubusercontent.com/29405190/193047841-1ceef62c-7d38-45f9-866d-6b3bae069c67.jpg

[2022-09-29 13:52] E1izabeth commented on #17748
Just to make it clear, do you use encrypted key? I mean did you fill passphrase field?

[2022-09-29 13:55] ShadelessFox commented on #17759
Hello @geanmatheus,

Can you please confirm that the default value is shown in SSMS?

[2022-09-29 14:00] ShadelessFox commented on #17764
Hello @miltonchirinos44,

Is the issue only appears when running DBeaver in a development environment?

[2022-09-29 14:02] BRCHDN commented on #6045
I am out of the office until 10/10/2022.

Note: This is an automated response to your message  "Re: [dbeaver/dbeaver]
Need option in Layout to resize column but fit column name (#6045)" sent on
29/09/2022 11:38:45.

This is the only notification you will receive while this person is away.
Unless otherwise specified, this e-mail message (including its attachments) contains confidential information

[2022-09-29 14:08] miltonchirinos44 commented on #17764
Hi @ShadelessFox
If the problem appears when it is in a development environment in eclipse java, but when I run the `mvn package` and generate the compiled files with the new modifications, the error still appears
Binary or binary files that are in `product/community/target/products`

It only happens to me with the oracle database since with the postgres database there is no problem since the conn

[2022-09-29 14:11] ShadelessFox commented on #17763
Thanks for the bug report

[2022-09-29 14:19] ShadelessFox commented on #17768
Hello @igor2x,

Thanks for the report.

We've cleared outdates channels, now there is only the `latest/stable` one.

[2022-09-29 14:19] #17768 closed, assigned to nobody

[2022-09-29 14:22] ShadelessFox commented on #17764
I don't really have any guesses what is going on.

Perhaps the driver is different from one used in DBeaver downloaded from https://dbeaver.io/files?

[2022-09-29 14:23] cci-etunca commented on #7298
ben de birkaç varyasyon denedim olmadı, en son kullandığım db inin asistanına geçtim. dbeaver da başaramadım.

[2022-09-29 14:37] brother-z commented on #17748
Yes, my keys are encrypted and I don't store passwords in DBeaver, only usernames are in settings.
So my normal "connect to database" workflow is:
1. enter db password
2. enter cert password A
3. enter cert password A again (I use same cert for both remote machines)
4. acknowledge the server fingerprint, because for some reason the bastion host fingerprint gets stored and the DB host never does, b

[2022-09-29 14:42] rumbin commented on #15706
I second that

[2022-09-29 15:04] E1izabeth commented on #17748
Thank you for bug report.

[2022-09-29 15:12] travelliu opened #17775 "PostgreSQL Composite Type DDL generation is not correct"
### Description

[code]

[code]
![2022-09-29 at 23 11](https://user-images.githubusercontent.com/7792329/193069782-75545478-6e84-4ab7-aeb1-d3bdf58338d1.png)

### DBeaver Version

22.1.0

### Operating System

macOS 12.6

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-29 15:20] LonwoLonwo commented on #17775
Hello @travelliu

Thaks for the bug report.

But I'm closing this ticket as a duplicate of this ticket https://github.com/dbeaver/dbeaver/issues/15644

[2022-09-29 15:20] #17775 closed, assigned to nobody

[2022-09-29 15:27] trymzet opened #17776 "Databricks driver - setup steps not reproducible"
### Description

1. I'm not able to provide the JDBC URL - the box is there but when I try to type anything in, nothing happens (workaround: edit the driver and hardcode your JDBC URL as the template URL)
3. Guides specify that I should paste my token into the "personal-access-token" field. This field doesn't exist; I only see "username" and "password" fields (workaround: specify `token` as the us

[2022-09-29 16:25] marcelo-lara commented on #6639
I get this message when trying to open an .ERD exported file
[code]
The steps I'm doing:
1. on Windows: Open DBeaver, open a database and save the ERD as `file.erd`
2. on Ubuntu: Open the `file.erd`  with DBeaver.

any ideas?

[2022-09-29 18:17] LonwoLonwo commented on #16842
Hello @yoni-yad2

I'm in process of investigating your issue.

You wrote: `*SHOW TRIGGERS command shows trigger X`

 But as I can see in the MySQL documentation:
[SHOW TRIGGERS](https://dev.mysql.com/doc/refman/8.0/en/show-triggers.html) lists the triggers currently defined for tables in a database (the default database unless a FROM clause is given). This statement returns results only for databa

[2022-09-29 18:31] kai-morich commented on #17609
CALL vs. EXEC is ok.
HANA supports positional parameters and named parameters with '=>' syntax. Usually positional parameters are used, so generating with positional parameters looks ok to me.

[2022-09-29 19:05] ceinmart commented on #4341
Hi,
I'm running dbeaver 22.2 on windows, the instalation was by zip archive , where the jre become togheter.
Trying to configure the SSL for my Informix connectio too.

@serge-rider , the dbeaver doesn't recognize the **jssecacerts** into dbeaver\jre\lib\security .
As far I know this should be a default behave of the java.
I use this with lot of others java tools without issue.

What I need to cha

[2022-09-30 01:43] EldarAgalarov opened #17778 "Snap: Project directory always changes on app start producing erros"
### Description

Hi. I'm using project directory that resides on separate mounted storage and DBeaver on every start reports: Resource does not exists. DBeaver can't load project directory and all scripts because directory with prefix path `/run/user/1000/doc` always changes on app start. I need to manually remove project and reload it again setting correct path.

Parts of path that marked with bo

[2022-09-30 05:28] mgrahamfa commented on #17344
I recreated the crash logs for you in case you might find it helpful.  I did find a newer distribution (debian bullseye)  that works if I install from the debian repository,
The crash is using an appimage of dbeaver (v 22.1.2)

[logs.zip](https://github.com/dbeaver/dbeaver/files/9680987/logs.zip)

[2022-09-30 06:35] GuenterSch commented on #17541
Remark: It would be helpful, if you write why these databases were excepted.

[2022-09-30 07:53] kaiten27 opened #17781 "SQL Editor : Context menu in result area shows disabled "Copy" function after first select"
### Description

"Copy" function in the context menu of the SQL Editor result set is disabled on "first select".

### DBeaver Version

Community  22.2.1.202209251341

### Operating System

Windows 10 64-Bit

### Database and driver

Azure SQL Server

Driver
![image](https://user-images.githubusercontent.com/114728107/193219760-c667f625-d47a-4780-aeed-effc649cee3c.png)

![image](https://user-images

[2022-09-30 07:54] jbdesbas commented on #2361
I had the same issue. I got around the problem by installing a local pg_bouncer.

`client --> pgbouncer (local) --> pgbouncer (remote) --> database` :heavy_check_mark:

On the **local** `pgbouncer.ini` I applied the @allanlewis tricks https://github.com/dbeaver/dbeaver/issues/2361#issuecomment-603223985

pgbouncer is quite simple to config, see https://www.pgbouncer.org/usage.html#quick-start or h

[2022-09-30 09:54] Xtinction commented on #17257
I'm experiencing the same issue, but I have used this install many times. I get this error on startup now, and don't know how to get rid of it without doing a reinstall, where I will lose all my connections etc.

 I think the windows app version is just not really a good idea. Same thing when you want to see where a script file is on your drive, I found it impossible to find out with the windows s

[2022-09-30 10:19] Matvey16 commented on #17738
Verified

[2022-09-30 10:19] #17738 closed, assigned to serge-rider, Matvey16

[2022-09-30 10:58] #14908 closed, assigned to uslss, LonwoLonwo

[2022-09-30 10:59] #15922 closed, assigned to E1izabeth, uslss

[2022-09-30 11:18] LonwoLonwo commented on #17776
Hello @Trymzet

Can you try to choose Azure Databricks from the connections list?

![2022-09-30 14_15_11-Connect to a database](https://user-images.githubusercontent.com/45152336/193258296-0dfcdbdb-5937-4078-ba93-0f2f958021b9.png)

Also if you will have any problems with the driver loading - you can add path to the driver manually in the Connection Settings

![2022-09-30 14_16_24-DBeaver 22 2 1 -

[2022-09-30 11:52] Xtinction opened #17784 "Windows App "open file location" doesnt work"
### Description

I am at a loss where to find my script files from the windows app. When you are editing a script and right-click on the tab header, you get the option to "got to file location" but that results in an error. I think this is a problem with the windows app exclusively.

The folder that is referred to in the documentation "%APPDATA%\DBeaverData\"  does not exist on my machine. A file

[2022-09-30 12:01] E1izabeth opened #17785 "Azure Databricks driver connection page URL non-editable"
### Description

![image](https://user-images.githubusercontent.com/28875055/193265093-79076daa-e6fa-439a-a743-57ebbb57106a.png)

### DBeaver Version

DBeaver 22.2.1

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-30 12:29] #17757 closed, assigned to serge-rider, uslss

[2022-09-30 12:59] hozdenoren opened #17787 "White Scroll Bars with Dark Mode"
**Is your feature request related to a problem? Please describe.**

Scroll bars do not adapt to the dark theme as shown in the screenshot. Is there a way to change this behavior?

**Describe the solution you'd like**

Scroll bars to look like VS Code or WhatsApp (or many other apps) where they adapt to the theme.

**Describe alternatives you've considered**

I have tried both the Microsoft Store v

[2022-09-30 13:13] geanmatheus commented on #17759
No, it's not. The error message below appears. In DEV environment, I can see the script, but when generating the table script, the default value is not displayed either. Very strange

PRD Enviromet Error:
![image](https://user-images.githubusercontent.com/18244115/193277052-68a7ff79-dd65-40f9-b94e-a06a0118d3f9.png)

DEV Enviroment table script:

![image](https://user-images.githubusercontent.com/1

[2022-09-30 13:28] hozdenoren commented on #17787
It could be related to not being able to get the system theme correctly. Windows is set to dark mode; however, if I set the theme to "System" on DBeaver, it gets the light theme. If I enable Contrast themes on windows, on the other hand, it changes the scrollbar colors accordingly.

[2022-09-30 14:14] Matvey16 commented on #17329
@Dkrav-UA Thank you for steps to reproduce, we are looking at it.

[2022-09-30 15:08] samuelguesnier commented on #17659
Thanks @uslss it's working by setting use native date to false,.

[2022-09-30 15:08] #17659 closed, assigned to uslss

[2022-09-30 15:34] trymzet commented on #17776
Yes I tried using this one and it doesn't work, I described the error above.

Yeah I think that workaround can probably work.

[2022-09-30 15:52] wdebeau1 opened #17788 "Exporting multiple requests to clipboard"
**Is your feature request related to a problem? Please describe.**
I have a script that runs about a dozen queries. I'd like to be able to export all of the results to the clipboard as markdown.
If I do the following...
Select all
right-click, Execute, Export From Query
In "Export target", Select "Markdown"
In Output, select "Copy to clipboard"
Then proceed

Only the result of the final query in t

[2022-09-30 20:34] miltonchirinos44 commented on #17764
Hello @ShadelessFox  tell him that when I connect to the oracle and postgresql database through the official application it does not let me connect to the oracle and postgresql database, to solve this error I had to download other drivers that help me connect, with which I was successful .
but only in the applications that are on the official page, since when I perform the tests from eclipse java,

[2022-09-30 23:10] #17061 closed, assigned to uslss, ShadelessFox

[2022-10-01 03:00] vanduc1102 commented on #988
on MAC, it will be 100x faster if we can input the path directly, instead of browsing  😢

[2022-10-01 17:38] joaofconde commented on #17567
Hi all, with last version now works perfectly

[2022-10-01 17:41] EldarAgalarov commented on #17778
Seems this is xdg portal issue.
Workaround for bypassing portal and using direct access to project dir:
`sudo snap connect dbeaver-ce:removable-media`

[2022-10-02 16:00] William-Robert-Robertson commented on #17763
Hi,

I've just noticed this problem as well - at first I thought I must have made a mistake while I was tired but I realized that it seemed to have started just after upgrading.

When I run a select query or hit the Save button to send changes to the results back to the database the query runs then the Statistics tab immediately gets focus so that I have to click on the Results tab each time to ge

[2022-10-03 04:45] Obeydullah commented on #17763
Exactly same issue for me too,

[2022-10-03 05:30] ged-yuko commented on #17537
Seems it has nothing to do with DBeaver itself but with ssh configuration. Though ssh-related libraries may require upgrade, as i remember issues about missing support of the recent key types walkarounded by switching the ssh-related library explicitly.

See [OpenSSH 8.2 release notes](https://www.openssh.com/txt/release-8.2):

One doesn't even always need to change keys of the affected authoritie

[2022-10-03 05:48] DeflateAwning opened #17791 "In the per-column filter pane, the counts at the top of the "Value" column don't have good number formatting"
### Description

1. Load a table in the table results view.
2. For a specific column, click the Filter button next to that column. Ensure your column has >1000 total/shown values.
3. Observe that the "Value (123456 total, 1234 shown)" section doesn't use locale-specific number formatting (it uses no number formatting at all).

In step three, I want it to show those values, but with proper number f

[2022-10-03 06:13] LonwoLonwo commented on #17567
Thanks for the report @joaofconde

[2022-10-03 06:27] LonwoLonwo commented on #17776
Ok. Driver downloading problems fixed here: https://github.com/dbeaver/dbeaver/issues/17757

Azure URL ticket here: https://github.com/dbeaver/dbeaver/issues/17785

All fixes will be available in the 22.2.2 DBeaver version.

[2022-10-03 06:41] LonwoLonwo commented on #17787
Hello @hozdenoren

Thanks for the report.

[2022-10-03 07:05] LonwoLonwo commented on #17759
Ok. the [Internet says](https://www.sqlservercentral.com/forums/topic/property-text-is-not-available-for-defaultconstraint-1) that it can be a definitions access issue.

Can you please check this version? And add access to your database?

`GRANT VIEW DEFINITION ON OBJECT :: <table> TO <user>;`

[2022-10-03 07:07] LonwoLonwo commented on #17724
Yes, it can be the reason.

Thanks for the bug report.

[2022-10-03 07:28] LonwoLonwo commented on #16663
Hello @jasraja

Can you please check your Athena connection with this driver? https://s3.amazonaws.com/athena-downloads/drivers/JDBC/SimbaAthenaJDBC-2.0.32.1000/AthenaJDBC42.jar

Is it working fine?

[2022-10-03 07:33] yoni-yad2 commented on #16842
Never mind, I was mislead by the fact that the user needs to reconnect in order to be affected  by the new TRIGGER privileges.

[2022-10-03 07:33] #16842 closed, assigned to LonwoLonwo

[2022-10-03 07:39] LonwoLonwo commented on #16842
Yeah, reconnect sometimes can help.

Thanks for the answer.

[2022-10-03 08:24] #17778 closed, assigned to nobody

[2022-10-03 08:42] ValmeI commented on #17763
Also experiencing same issue on Version 22.2.1.202209251341

[2022-10-03 09:17] jasraja commented on #16663
Sure @LonwoLonwo , I will check and let you know. Pls allow me time till tomorrow as I am travelling atm.

Regards,

[2022-10-03 09:18] LonwoLonwo commented on #16663
Thanks @jasraja

[2022-10-03 09:36] josmamencia opened #17794 "Dialog with the Cancel button is very little visible"
**Is your feature request related to a problem? Please describe.**
When executing long SQL statements it is very unclear whether the query is still running or not. The dialog with the cancel button is barely noticeable. Sometimes you don't know if the query is over until you look closely at the results or messages pane.

**Describe the solution you'd like**
The dialog should be located in the cent

[2022-10-03 09:42] mousey92 opened #17795 "Save all changed scripts on close"
When closing DBeaver and multiple changed SQL scripts are not saved as indicated by the star on the script name:
![image](https://user-images.githubusercontent.com/26246536/193547229-c8d091c7-f97a-48a8-8309-f97c37f147d7.png)
a separate save prompt is given for each script. Instead of getting a save prompt per SQL script, add buttons to 'save all' and 'save none'

[2022-10-03 10:51] snopov opened #17796 "How debug procedure"
### Description

Hi.

How I can debug procedure?

I get error now.

“PostgreSQL Debug – Local session 743080
ERROR: recontract.external_load_contract(integer, integer) is a procedure
Подсказка: To call a procedure, use CALL.
Позиция: 15”

Functions are debugged without errors.

Best regards.

### DBeaver Version

Communicate edition 22.2.0

### Operating System

windows 10

### Database and driver

[2022-10-03 11:10] geanmatheus commented on #17759
It Worked, Thanks!

![image](https://user-images.githubusercontent.com/18244115/193563172-5d73948f-907b-4a53-b095-2efccad3311d.png)

[2022-10-03 11:10] #17759 closed, assigned to nobody

[2022-10-03 11:12] LonwoLonwo commented on #17759
Thanks for the answer @geanmatheus

[2022-10-03 12:47] sourceful-alex commented on #2316
This is an important feature to add. The Enter key is a horrible key for autocomplete, because it gets pressed at the end of each line of SQL. Half the time this results in unwanted autocomplete activation (typically when the line ends with a table or column alias). The Tab key, on the other hand, is ideal. There's no reason need a Tab character anywhere other than the start of a line, so no more

[2022-10-03 14:11] cbreen872 opened #17799 "DBeaver Results Show Datetime but Changes on CSV export"
### Description

When I run a query using an Oracle DB in DBeaver the results show in datetime format. [DBeaver Results]([https://i.stack.imgur.com/0FuBA.png]

Recently, however, once the exports are exported to csv, I open the csv and only the time mm:ss are displayed. [CSV Result [Display]](https://i.stack.imgur.com/gQf6N.png)

I have to format back to the full datetime on every column once open

[2022-10-03 14:47] jdechter commented on #17700
It works without modifying the preferences with only 1 if/end if block.
Once you add a second block,  it does not work.

needing to change the preferences for $$, i do not think that is by design.

On Thu, Sep 29, 2022 at 9:19 AM Anastasiya ***@***.***> wrote:

[2022-10-03 15:48] PeterMaltby opened #17801 "Connection shell commands unexpected behaviour"
### Description

I was attempting to use the following script in the Connection setting -> Shell commands "before connect" section in order to create an ssh tunnel to AWS recourse that frequently changes location the code is:
[code]

upon connecting I get the below error:
[code]

Some investigation has led to me seeing the output of $PATH is not correct, however even when manually entering the pat

[2022-10-03 18:45] miguelmsoler commented on #14749
The problem is due that ssh-keygen generated an openssh format private key, buy DBeaver expects an older PEM format.

You can convert the existing private key. But it will overwrite the original one. The commando for doing that is: ssh-keygen -t rsa -b 2048 -m PEM

Source:
https://stackoverflow.com/questions/56979849/dbeaver-ssh-tunnel-invalid-private-key

[2022-10-03 20:59] LonwoLonwo commented on #16372
Hello @coleman-rik

I'm in the process of your ticket investigation.

So, I'm not so familiar with PostgreSQL probably. Can you explain it to me - what do you mean about fdw schemas? I see how I can create a foreign table. I see how I can import tables from the foreign schema (https://www.postgresql.org/docs/current/sql-importforeignschema.html). But as I understand, this schema for import can con

[2022-10-04 01:26] jeanse7en opened #17803 "Cannot SSH terminal on last version 22.2.1"
### Description

I cannot access MySQL DB via SSH tunnel. It throws me an exception like "SSH failed multi times", I didn't remember exactly.
I already reverted to previous version and it worked well

### DBeaver Version

22.2.0

### Operating System

MacOS  Monterey

### Database and driver

Mysql 8

### Steps to reproduce

1. Download the last version 22.2.1
2. setup a ssh tunel
3. try to connec

[2022-10-04 01:34] rachmadhartono8 commented on #10160
I have An Issue, if i import at DB ever format CSV, that make my date of file change from 2022-09-30 to 2022-09-29, how must i do to solve this case/problem ? please, thank you

[2022-10-04 01:42] rachmadhartono8 opened #17804 "How to set the date format so that it doesn't change when importing the csv file to the dbever database column"
### Description

I have a problem importing csv data into DBeaver DBMS, when importing data, the date column changes from 2022-09-30 to 2022-09-29, what should I do to prevent this problem from recurring in my dbever, thanks

### DBeaver Version

Community Edition 22.1.3

### Operating System

mac.OS.Monterey 12.2.1

### Database and driver

1. Database Name MySQL

### Steps to reproduce

I have a

[2022-10-04 07:06] jasraja commented on #16663
Hi @LonwoLonwo ,

I have checked the Athena connection with the new driver (  https://s3.amazonaws.com/athena-downloads/drivers/JDBC/SimbaAthenaJDBC-2.0.32.1000/AthenaJDBC42.jar ) and it is working fine with the last milestone release - 22.2.1 on Windows 10.

Thanks a lot!

Regards,

[2022-10-04 07:32] Shizukaax commented on #4901
This issue still persists in v22.2.1, will there be any fixes for this?

[2022-10-04 07:35] Shizukaax opened #17805 "Generate UUID option only generates the same UUID for all rows"
### Description

![image](https://user-images.githubusercontent.com/114982699/193761182-ce223e46-157c-4d04-bc6f-c2bd801c9b7f.png)

### DBeaver Version

22.2.1

### Operating System

Windows 10

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-10-04 07:35] LonwoLonwo commented on #16663
Thanks for your answer @jasraja

[2022-10-04 08:40] E1izabeth commented on #17805
#4901

[2022-10-04 13:42] #17545 closed, assigned to ShadelessFox, Matvey16

[2022-10-04 13:54] #17139 closed, assigned to uslss, LonwoLonwo

[2022-10-04 14:03] #17785 closed, assigned to E1izabeth, Matvey16

[2022-10-04 14:05] #17736 closed, assigned to E1izabeth, uslss

[2022-10-04 14:11] #17037 closed, assigned to E1izabeth, Matvey16

[2022-10-04 14:11] #17718 closed, assigned to E1izabeth, Matvey16

[2022-10-04 14:13] #16663 closed, assigned to LonwoLonwo, Matvey16

[2022-10-04 14:14] #14221 closed, assigned to uslss

[2022-10-04 14:15] #16049 closed, assigned to ShadelessFox, Matvey16

[2022-10-04 14:17] #17791 closed, assigned to uslss, ShadelessFox

[2022-10-04 14:27] vince-payne opened #17807 "Row count in the properties tab is different from the row count in the data tab."
### Description

I had a table with exactly 100k rows, which was verified by a count(*) query. Looking at the properties tab of the table shows that the row count is slightly smaller at 99,440 rows, and this anomaly was replicated on another machine with the same data set, but a different local database. On the data tab, the calculate total row count button also says there are 100k rows.

First sc

[2022-10-04 21:13] serge-rider opened #17811 "OpenSearch driver"
We need to add OpenSearch JDBC driver in the list of preconfigured drivers.

https://github.com/opensearch-project/sql/tree/2.x/sql-jdbc

[2022-10-05 09:26] LonwoLonwo commented on #17807
Hello @vince-payne

Yeah, I can reproduce it. And I found the reason.

We are using the [SHOW TABLE STATUS](https://mariadb.com/kb/en/show-table-status/) statement for the additional table information reading - which you can see in the Statistics tab.

But, I see many bug reports incorrect rows number in the result of this statement. Like here: https://stackoverflow.com/a/8624606

I'm not sure wha

[2022-10-05 09:43] LonwoLonwo commented on #17805
Thanks for the report @Shizukaax

The UUID generator should be improved for the case of many columns, yes.

[2022-10-05 09:44] zolovey commented on #8647
@LonwoLonwo any thoughts/updates on the issue?

[2022-10-05 09:45] LonwoLonwo commented on #17805
Can be implemented with #4901

[2022-10-05 09:50] LonwoLonwo commented on #8647
Ok, ok. We can find some time for this ticket. I will add it to our development queue.

[2022-10-05 11:56] rauleando opened #17815 "error open script location"
### Description

You cannot open the folder where the script you select is located.

### DBeaver Version

22.2.1

### Operating System

Ubuntu 22.04

### Database and driver

SQLite
Mysql

### Steps to reproduce

1. Proyect > Scripts
2. Properties any script
3. Click open the path
**¡Error file manager!**

### Additional context

The failure is due to the fact that it tries to open the script with

[2022-10-05 12:12] LonwoLonwo commented on #17815
Can you provide some sreens of this issue please? For now, I can't reproduce.

[2022-10-05 12:19] rauleando commented on #17815
![Captura desde 2022-10-05 14-18-53](https://user-images.githubusercontent.com/115075271/194058664-6a879163-cdcc-4fbd-9342-68ac559d73b0.png)

[2022-10-05 12:29] #17591 closed, assigned to E1izabeth, Matvey16

[2022-10-05 12:30] #17479 closed, assigned to Destrolaric, Matvey16

[2022-10-05 12:42] vince-payne commented on #17807
Alright thank you. This issue can probably be closed then.

[2022-10-05 14:27] dtiziani opened #17817 "Implement Zoom using CTRL+Mouse Wheel"
**Is your feature request related to a problem? Please describe.**
I'm always frustraded when I try to zoom the text editor using my mouse wheel and it doesn't work.

**Describe the solution you'd like**
Apparently the eclipse framework already supports this (https://www.eclipse.org/eclipse/news/4.6/M4/#text-zoom-commands).

There are some old issues in this repo related to this:
- https://github.

[2022-10-05 14:43] zensabbah commented on #3720
And for Mac?

[2022-10-05 15:43] nosequins opened #17818 "Downloading the Data in the Tables"
### Description

<img width="562" alt="dbeaver error" src="https://user-images.githubusercontent.com/63614464/194090511-c894e0df-0a51-40ab-aa5d-2d53071fad41.PNG">

I can't extract all the rows in my table that has over 1,400,000 rows. I tried segmenting the data, so that I can get multiple output files, but at times I'll either get 1 file or 2 files with one file having the max amount of rows for

[2022-10-05 16:08] willydavidjr commented on #2733
Under your column name, right click "Columns" then choose "View Columns"

![image](https://user-images.githubusercontent.com/20619236/194107019-c7fdee52-b145-4a22-aab6-60f999fd0c23.png)

From there, you can select the column that you are interested to move the object/column up or down.

![image](https://user-images.githubusercontent.com/20619236/194108736-843e54b8-448a-4904-a2c9-75c08271ac47.png)

[2022-10-05 16:14] #17064 closed, assigned to E1izabeth, uslss

[2022-10-05 16:14] #17654 closed, assigned to E1izabeth, uslss

[2022-10-05 16:16] #13208 closed, assigned to uslss, LonwoLonwo

[2022-10-05 16:16] #15905 closed, assigned to LonwoLonwo, Matvey16

[2022-10-05 16:16] #13238 closed, assigned to uslss, LonwoLonwo

[2022-10-05 16:45] #7853 closed

[2022-10-05 17:25] ChenpiDog opened #17820 "Data Modeling"
It is expected that DBeaver can provide data modeling functions, including conceptual model, logical model, and physical model, with reference to business data modeling tools ERwin and PowerDesigner.

[2022-10-05 18:20] aalleaa opened #17821 "Problem regarding the tables importation"
### Description

I sorry to bother you but I have a problem regading the data importation on Dbeaver. I try to apply the easy method as describe here : https://dbeaver.com/docs/wiki/Data-transfer/
But all my columns are in the same column. Instead of having 10 columns with their own data, I have one column with the 10 data separated by a semicolon.

To avoid this problem I tried to create my table

[2022-10-05 19:23] cherio opened #17822 "Uses incorrect location to create the "drivers" directory upon new instance startup"
### Description

Directory `drivers` is created in a location outside the scope specified during the initial launch of `dbeaver`.

This ticket is not about changing the location of `drivers` folder in the UI. It is about the application taking liberty of creating a directory where it shouldn't upon the 1st start before the location can be configured in the UI.

### DBeaver Version

community editi

[2022-10-05 19:56] flambchap commented on #17820
DBeaver EE and UE offer Forward Engineering: https://dbeaver.com/2022/07/07/forward-engineering-with-erd/. Does it cover your needs?

[2022-10-05 20:12] Camden-Lee opened #17823 "Add null count function to the calculation pane"
**Is your feature request related to a problem? Please describe.**
When exploring a column in a table, I make heavy use of the calculation pane to see basic stats (count, count distinct, sum, etc.). I love this quick view, but I really wish there was a function to count the number of nulls.

![Screen Shot 2022-10-05 at 3 09 19 PM](https://user-images.githubusercontent.com/42618819/194153528-7fcf3c

[2022-10-05 22:03] JEBanasik opened #17824 "Joins Between Simple Text and Text That Looks Like Numbers Fails"
### Description

Cannot make a join between a regular text column and a text column that looks like numbers.  DBeaver throws an error that the number contains an invalid character.  Here is the setup: ERP System #1 (ERP1) extract has tables that are 100% NVARCHAR2(500) and ERP System #2 (ERP2) extract has tables that are also 100% NVARCHAR2(500).  The third system is an ORACLE database holding the

[2022-10-06 03:24] ChenpiDog commented on #17820
@n5a5 This seems to be the ER diagram generated according to the connected database. If so, this is not what I want. What I want is to provide a canvas and basic charts (entities, relationships, etc.). I can drag and drop charts to model data, and finally generate table building statements automatically.

[2022-10-06 06:22] LonwoLonwo commented on #17821
Hello @aalleaa

Can you please make a video of your steps? Or some screens?

[2022-10-06 06:57] kseniaguzeeva opened #17825 "Data Export in CSV format with custom Header format is impossible (NPE appears)"
### Description

Data Export in CSV format with custom Header format is impossible (NPE appears)

### DBeaver Version

22.2.2 CE EA

### Operating System

Win10

### Database and driver

PostgreSQL

### Steps to reproduce

1. Export a table in CSV format with a changed header format

![dbeaver_P7XWpMg7Aw](https://user-images.githubusercontent.com/112612526/194234419-ffb7c787-ba7e-4c33-a2d6-3d923b0

[2022-10-06 07:51] Ferrox12 opened #17826 "Keep installed plugins"
Hi,
when I update DBeaver I must download again the plugins that were already installed (office support for example).
Is there a mehod to keep them installed?

[2022-10-06 07:53] E1izabeth commented on #17826
Thank you for feature request. It's a duplicate of #5317. You can find temporary workaround there.

[2022-10-06 07:54] #17826 closed, assigned to nobody

[2022-10-06 08:04] jasraja commented on #16663
Hello @LonwoLonwo,

Thanks for making and pushing the changes.

Just came to found out that Athena driver has been further updated to 2.0.**33** version.

The changelog/release notes for the newly released driver is available at https://s3.amazonaws.com/athena-downloads/drivers/JDBC/SimbaAthenaJDBC-2.0.33.1000/docs/release-notes.txt

Seems like the direct link for driver jar file is not updated/up

[2022-10-06 08:25] VitaliiTsilnyk opened #17827 "Horizontal scrolling with pinned columns is broken when using Shift+Scroll"
### Description

When there is a pinned column in the table data grid view, scrolling to the left using Shift + Mouse Scroll Wheel jumps to the beginning (the leftmost position of the scrollbar). While scrolling to the right keeps working fine.
This only happens when a column is pinned, otherwise it's working fine.

### DBeaver Version

22.2.1.202209251341

### Operating System

Microsoft Windows

[2022-10-06 08:28] LonwoLonwo commented on #17825
[code]

[2022-10-06 08:57] LonwoLonwo commented on #17737
Hello @skotlex

So. We didn't have any significant changes about new database connections for Oracle last year.
As you pointed out - DBeaver opens new connections for metadata reading and newly opened SQL Editors. Yes.
And I think that disabling this setting can help to decrease the number of connections.

[2022-10-06 09:20] skotlex commented on #17737
Thank you for your answer. :)

[2022-10-06 09:20] #17737 closed, assigned to LonwoLonwo

[2022-10-06 09:22] E1izabeth commented on #17795
Thank you for feature request. It's a duplicate of #12862

[2022-10-06 09:22] #17795 closed, assigned to nobody

[2022-10-06 09:24] #17807 closed, assigned to nobody

[2022-10-06 09:35] LonwoLonwo commented on #17815
How did you install DBeaver? Do you have any DBeaver extensions?

[2022-10-06 09:38] E1izabeth opened #17830 "Data Transfer stuck when connection is broken"
### Description

Can't stop or retry data export if connection was broken while starting.
![image](https://user-images.githubusercontent.com/28875055/194278720-ab11aa9d-477b-49e0-95f6-21b3a95c9e89.png)

### DBeaver Version

DBeaver 22.2.2

### Operating System

Windows 10

### Database and driver

PostgreSQL 11

### Steps to reproduce

1. Load some data
2. Setup and start data export (somewhere in

[2022-10-06 09:48] E1izabeth opened #17831 "Use Data Formatter profiles while exploring data in data editor"
We  have data format settings where you can create a profile. It is not obvious that this is just editing a data format profile that can only be used in export and not when viewing table data.

I expected the behavior, when I switch the profile in these settings, the data representation should be updated according to it.

Let's allow to select the profile to use it when displaying the data instead

[2022-10-06 10:10] rauleando commented on #17815
sudo snap install dbeaver-ce
no extensions

but in another virtual machine I have installed the debian package from the official website and exactly the same thing happens. Error when trying to open the folder where the script is located.

[2022-10-06 10:17] rauleando commented on #17815
![error_open_origin_file](https://user-images.githubusercontent.com/115075271/194288297-b2bd7575-7e02-4c8b-a79f-1c463aaaa1dc.png)
![properties_script](https://user-images.githubusercontent.com/115075271/194288300-f36c0c49-7cd9-46c0-9ea0-f6726c97f826.png)

[2022-10-06 10:22] LonwoLonwo commented on #16663
Hello @jasraja

Thanks for your suggestion. But we can't change driver version every release. For this reason you can do it manually as a workaround.

You can create ticket about another driver update. And it will be added in the end of our development queue.

[2022-10-06 10:30] LonwoLonwo commented on #17774
Hello @HerbertR

For now I can't reproduce your issue.

![rZvG825qwP](https://user-images.githubusercontent.com/45152336/194290467-f6e0ed10-5c93-4e7c-9d38-cff50c0a7bef.gif)

Maybe you can generate some script example for testing? Content can be matter.

[2022-10-06 10:43] Matvey16 opened #17834 "NPE after closing empty editor"
### Description

If a new SQL Editor is closed without actions NPE will be thrown

### DBeaver Version

22.2.2

### Operating System

Any

### Database and driver

Any

### Steps to reproduce

1. Open new SQL Editor
2. Close it

**Expected:** Editor is closed
**Actual:** Editor is closed with NPE

### Additional context

![dbeaver_0AxAAvrrw3](https://user-images.githubusercontent.com/82543000/1942

[2022-10-06 11:05] LonwoLonwo commented on #17781
Ok, yes, I can reproduce it.

![2022-10-06 14_01_58-DBeaver Ultimate 22 2 2 - _Google Cloud SQL - SQL Server - test-mssql-instance_ ](https://user-images.githubusercontent.com/45152336/194296893-9aba5f28-b1b0-4c6e-acef-510f8981b654.png)

If any other rows are in the result - you can switch to them and back - then the "Copy" button will be available again. As a workaround.

[2022-10-06 11:22] DariaMarkaryan opened #17835 "Wrong array creation DDL in export"
### Description

When we export a table with array into the new table, the DDL isn't include info about array type.
e.x. export default.AUTO_TEST_DO_NOT_EDIT_EXPORT to a new table '**TEST_TABLE**':
[code]

![image](https://user-images.githubusercontent.com/43252954/194299928-0a949316-e08c-44bd-929a-4773af7f85bd.png)

### DBeaver Version

22.2.1

### Operating System

win10

### Database and driver

[2022-10-06 12:01] jasraja commented on #16663
Thanks @LonwoLonwo for your revert.

I suggested since the release was due early next week.

Regards,

[2022-10-06 12:30] iraidaa commented on #17713
Hi @RayNeverLearns,

Could you remove the .metadata folder from your workspace? The last step from this documentation: https://github.com/dbeaver/dbeaver/wiki/Reset-workspace.

[2022-10-06 12:38] estefanionsantos commented on #5805
--
cool Vitor, i will test your solution

[2022-10-06 12:39] uslss commented on #17643
Sorry for the late response. It seems it is expected behavior for SQL editor - https://github.com/dbeaver/dbeaver/wiki/SQL-Editor

If you have some ideas on how to improve the SQL editor, you can create a feature request.

[2022-10-06 12:39] #17643 closed, assigned to uslss

[2022-10-06 12:42] uslss commented on #17827
thanks for the report

[2022-10-06 12:46] Destrolaric commented on #17673
Thank you for the bug report!

[2022-10-06 12:48] Destrolaric commented on #17739
Hi, it looks like it is a side effect of using Hippie Engine. You can disable it in the `SQL Editor -> Code Completion -> Activate Hippie Engine for autocompletion`. Thank you for the bug report!

[2022-10-06 12:58] Destrolaric commented on #17772
Thank for the bug report!

[2022-10-06 13:12] LonwoLonwo commented on #17820
Please provide more examples of your feature request. Pictures will be very helpful.

[2022-10-06 13:15] #17349 closed, assigned to serge-rider, uslss

[2022-10-06 13:22] Destrolaric commented on #17799
Hi, could you open your CSV file in the Notepad and provide me a screenshot of it? Thanks.

[2022-10-06 13:29] Destrolaric commented on #17804
Hi, it looks similar to https://github.com/dbeaver/dbeaver/issues/16624, can you look at it?

[2022-10-06 13:36] ChenpiDog commented on #17820
![e7235473e9ce1d8a5cd6fd2799ad896](https://user-images.githubusercontent.com/55483982/194327272-13c2c98b-7ac9-45a5-909f-17c59a2e3119.jpg)
![307a3d937217572836c2f38cd83e953](https://user-images.githubusercontent.com/55483982/194327311-0713516c-eed5-4fbb-a3e1-e4234e5b3ebb.jpg)

[2022-10-06 13:40] ChenpiDog commented on #17820
The physical model can be created according to the specific database type. For example, if I select MySQL, Dbeaver will provide the data type corresponding to MySQL. I can add constraints such as primary keys. When I finish modeling, Dbeaver will automatically generate the statement for creating tables or directly create tables in the database I select.

[2022-10-06 13:44] LonwoLonwo commented on #17824
Hello @JEBanasik

Can you provide some screens of your issue please?

Also, could you please provide the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-10-06 13:49] Destrolaric commented on #17803
Hi, Duplicate of https://github.com/dbeaver/dbeaver/issues/17748

[2022-10-06 13:49] #17803 closed, assigned to nobody

[2022-10-06 13:57] ced75 commented on #17739
Hi,
Thanks for the quick fix! It seems better without Hippie Engine.

[2022-10-06 14:01] ChenpiDog commented on #17820
@LonwoLonwo
Modeling is a global perspective. It can provide two functions: "table" and "Figure" based on multiple connected databases (such as MySQL, postgresql, etc.):
"Table": I can filter the tables I need from the connected database and group them, or draw the tables myself.
"Figure": Each "Table" group provides a canvas on which I can model data (logical model, physical model). The table of

[2022-10-06 14:16] Destrolaric commented on #17678
@bouyeijiang, hi could you provide me an information about query, via Query Manager https://github.com/dbeaver/dbeaver/wiki/Query-Manager

[2022-10-06 14:33] cbreen872 commented on #17799
Interesting - Would this mean that it is something in my excel settings
that would be causing this? Any idea what that could be?

Thank you!

[image: image.png]

On Thu, Oct 6, 2022 at 9:22 AM Georgii ***@***.***> wrote:

[2022-10-06 14:40] Destrolaric commented on #17799
@cbreen872 Hi, sorry, but email replies don't support attachments. It's better to send them directly. I have a suspicion that it may not recognize the time format correctly.

[2022-10-06 14:42] PaulDokken opened #17838 "Clear function not working in DB Navigator"
### Description

When searching in the Database Navigator the clear button does not work in the search.  I am using CE 22.2.1 for Mac.  I know this is a minor thing but just wanted to report it.
![image](https://user-images.githubusercontent.com/75853422/194342500-3b319271-9357-4c36-989d-b2931bc5e6ad.png)

### DBeaver Version

22.2.1

### Operating System

macOS 12.5.1

### Database and driver

My

[2022-10-06 14:45] cbreen872 commented on #17799
![image](https://user-images.githubusercontent.com/15809358/194343893-746e5021-d7a7-4fe9-bf4e-f40e32d7ef2f.png)

[2022-10-06 14:49] Destrolaric commented on #17799
@cbreen872
![image](https://user-images.githubusercontent.com/20579256/194344520-0f6cc0a6-2f1c-4cc1-88b0-b71441134042.png)
It looks like your excel uses an incorrect time format, you can change it manually in this excel menu. Write me if it helps.

[2022-10-06 14:56] #17834 closed, assigned to E1izabeth

[2022-10-06 15:15] cbreen872 commented on #17799
Thank you - yes i know how to edit it after the fact, I was hoping there was a solution prior to doing that.  Sometimes i need to go in and edit 20+ datetime fields in the formatting tab and it's quite cumbersome.  I know from the dbeaver side it looks like its fine though, so that's good! Appreciate your help.  It was driving me crazy and I didn't even think to test in notepad++

[2022-10-06 15:22] Destrolaric commented on #17799
@cbreen872 You can always change the timestamp format in DBeaver itself Editors -> Data Editor -> Data Formats -> Timestamp
![image](https://user-images.githubusercontent.com/20579256/194353226-b44353c1-8526-46fb-aafc-d29f5926d5b1.png)

[2022-10-06 16:03] coleman-rik commented on #16372
Perhaps I was less clear than I should have been.

Here's pgAdmin4, notice how the foreign tables are differentiated by more than just a tiny green symbol in a sea of other non foreign tables.
![pgAdmin4_foreign_tables_differentiated_20221006_114801](https://user-images.githubusercontent.com/3697063/194360359-a9746c1e-fed9-4ab2-9fd8-e967fc5fd297.png)

Here's DataGrip's approach.  It takes it even

[2022-10-06 16:12] LonwoLonwo commented on #16372
Ok, thanks. Now it is more apparent.

[2022-10-06 16:29] E1izabeth commented on #17521
Does this issue is still actual for the latest DBeaver version?

[2022-10-06 18:41] HakanDOGAN1981 commented on #7298
@sinancakir @cci-etunca @mehmeet43
encoding = WIN1254  şeklinde denermisin...

[2022-10-07 00:47] Seasawher opened #17840 "Change the way NOT NULL constraints are displayed in the ER diagram."
**Is your feature request related to a problem? Please describe.**
Nullability can be made to be displayed on ER diagrams from the settings.

However, as far as I know, the only option is to display "NOT NULL". "NOT NULL" takes up too much width.

**Describe the solution you'd like**
It would be helpful to have the option of indicating nullability with a color or an ellipsis.

---

Thank you for m

[2022-10-07 02:33] JessycaFrederick opened #17841 "Valid CREATE TABLE syntax throwing errors"
### Description

CREATE TABLE winelcub_wcr2dev.affilimate_links (
  id INTEGER auto_increment NOT NULL,
  link_id INTEGER NOT NULL,
  link_type TINYINT NOT NULL,
  last_mod DATE NOT NULL
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_unicode_ci;

Validates here: https://www.eversql.com/sql-syntax-check-validator/

DBeaver throws error:
org.jkiss.dbeaver.model.sql.DBSQLException: SQL

[2022-10-07 04:23] youngynj19 opened #17842 "show column description doesn't work"
### Description

I set "show column description" on but cannot see them on a result panel.
The database connection is DB2 iSeries/AS 400.

How can I fix this?

### DBeaver Version

Community Edition 22.1.4

### Operating System

Windows 11

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-10-07 04:48] LonwoLonwo commented on #17841
Hello @JessycaFrederick

I suggest, that an increment column should be the part of the primary key in MySQL.

([url](https://www.tutorialspoint.com/fix-mysql-error-1075-42000-incorrect-table-definition-there-can-be-only-one-auto-column-and-it-must-be-defined-as-a-key))

[code]

![2022-10-07 07_45_03-DBeaver 22 2 2 - _MySQL - localhost_ Script-35](https://user-images.githubusercontent.com/45152336/

[2022-10-07 04:54] LonwoLonwo commented on #17842
Hello @youngynj19

Can you provide your query example?

[2022-10-07 05:26] youngynj19 commented on #17842
Hi @LonwoLonwo

I am afaraid I can't for a security matter... Is there another way to fix this without providing it?

thank you

[2022-10-07 05:29] LonwoLonwo commented on #17840
Ok. Thanks @Seasawher

We will see that we can do here.

[2022-10-07 05:31] LonwoLonwo commented on #17842
It can be related with this ticket: https://github.com/dbeaver/dbeaver/issues/14974

Do you have JOINs in your query?

[2022-10-07 05:55] MuellerAndr commented on #17521
Version: 22.2.1.202209251341
The Problem is still present.

[2022-10-07 05:56] MuellerAndr commented on #17521
I Updated to the last Release from 26.9.2022 Version Today
Version: 22.2.1.202209251341
The Problem is still present.

[2022-10-07 05:58] youngynj19 commented on #17842
oh, mine is just simple query. Like,

select * from table where column1=1 and column2=1

[2022-10-07 06:02] LonwoLonwo commented on #17842
Ok. Can you check this solution please? https://github.com/dbeaver/dbeaver/issues/14269#issuecomment-1046100904

[2022-10-07 06:52] sinancakir commented on #7298
![image](https://user-images.githubusercontent.com/4346887/194485723-541c6e87-f5f9-42df-912a-418f2d73223f.png)

![image](https://user-images.githubusercontent.com/4346887/194485797-e607d17a-ac99-46a8-92d3-4e211c83eff0.png)

[2022-10-07 06:56] youngynj19 commented on #17842
wow, there is nothing written on the comment field..

![image](https://user-images.githubusercontent.com/97592790/194486413-c0c1a60f-388e-4b84-ac6a-1aead5d0f8fa.png)

Do you think this might be the reason why I can't see anything on the result panel?

[2022-10-07 07:08] LonwoLonwo commented on #17842
Do you have any comments there?

Comments representation depends on some of driver properties https://github.com/dbeaver/dbeaver/issues/13153

[2022-10-07 07:09] ArqamRafay commented on #1684
As of DBeaver v21, this setting can be now be found under Window -> Preferences -> Editors -> SQL Editor -> Code Completion -> Insert Table Alias -> N/A

[2022-10-07 08:42] Destrolaric commented on #17840
@Seasawher Hi, you can see if the foreign key can be null by white rhombus at the start of the relation. It means the foreign key is NOT NULL if it doesn't have it. Write if this information helps.
![image](https://user-images.githubusercontent.com/20579256/194511368-5d999e57-64e1-405b-a164-c813ba63bdba.png)

[2022-10-07 09:15] Seasawher commented on #17840
@Destrolaric Thanks!

[2022-10-07 10:41] #17825 closed, assigned to uslss, LonwoLonwo

[2022-10-07 11:31] Matvey16 opened #17845 "[Redshift] Reference links lead to error in some cases"
### Description

Clicking on reference link sometimes lead to error, even though the query works fine if opened in separate tab with `Ctrl + L.click` or manual execution in SQL editor.
**Note:** Some links do work in the same table

### DBeaver Version

22.2.2

### Operating System

Win11

### Database and driver

Redshift 8.0.2
Redshift JDBC 2.1.0.3

### Steps to reproduce

Our test redshift clus

[2022-10-07 13:01] enaut opened #17846 "ERD diagram"
### Description

Hello and thank you for the tool!

The problem:
1. I created an ERD diagram and rearranged all the boxes so that they are visually clearly sorted with little crossing lines.
2. With what I learned I adjusted the database model slightly (Django) and migrated the database.
3. Next I want the modifications to appear in the diagram.
  4. refresh does nothing
  5. refreshing the databa

[2022-10-07 14:40] michaelcollinsedgov opened #17847 "Question about the DDL tab on Table Properties Pages"
How is that DDL retrieved from the DBMS?  Is there a JDBC API that is used to retrieve DDL from the DBMS, or is generated from system tables, or is it specific to the DBMS module?

[2022-10-07 16:13] goodale opened #17848 "stuck on 'configure workbench window'"
### Description

I am considering upgrading to the Enterprise version and installed v22.2.0.     However, it won't launch.    the splashscreen is displayed and then gets stuck on 'Configure workbench window'.

### DBeaver Version

Enterprise 22.2.0

### Operating System

Windows 11 64

### Database and driver

N/A  (tool won't even launch)

### Steps to reproduce

Install 22.2.0  (choose option to

[2022-10-07 16:48] Matvey16 opened #17849 "[Redshift] incorrect query for alter table"
### Description

Changing column type in metadata editor is impossible because the query includes `USING` which is not supported

### DBeaver Version

22.2.2

### Operating System

Any

### Database and driver

Redshift 8.0.2
Redshift JDBC Driver 2.1.0.3

### Steps to reproduce

1. Open properties tab of a table
2. Change something in column type (e.g. change the size of varchar column)
3. Try to

[2022-10-07 17:04] JessycaFrederick commented on #17841
@LonwoLonwo You make an excellent point. I think the reason I didn't do this is that I can't.

1. Clicking the Key field doesn't activate it the way it does for Default or Extra.
2. When you create a new column, the dialog doesn't have a field for Key.

Okay, I finally found it — somewhere unexpected. I right-clicked on the column entry and chose New Constraint from Selection.

Maybe the UI could

[2022-10-07 17:04] #17841 closed, assigned to nobody

[2022-10-07 17:13] AgostinhoBarbosa commented on #17678
I'm having the same problem, if I leave any bank open for a certain time without doing anything, when it returns it crashes

[2022-10-07 17:54] E1izabeth commented on #17848
The first launch takes more time than usual. And windows could tell you that an application is not responding, but that's not true. How long have you waited? Maybe you could try to wait more?

[2022-10-07 19:56] zyzil commented on #9414
I'm having this same issue with DBeaver Version 22.2.1.202209251341. I hope it gets fixed soon, very frustrating.

[2022-10-08 11:37] E1izabeth commented on #17389
@All3xJ, could you send the contend which was in the provided hastebin (it's empty now) or at least the query which you see in the [Query Manager](https://dbeaver.com/docs/wiki/Query-Manager/) when trying to delete the mentioned constraint? Also table DDL will be helpful.

[2022-10-09 01:16] iloveuaa opened #17851 "delect this issues.tks"
### Description

db2 connected sucessful and all of schema show null.
query sucessful by shell cmd.

e.g:
[code]

### DBeaver Version

DBeaver Community 22.2.1

### Operating System

Windows10 21H2

### Database and driver

DB2/LINUXX8664 SQL09074
Driver：com.ibm.db2.jcc.DB2Driver
jar: db2jcc4.jar

### Steps to reproduce

1、connected sucessful.
2、explorer show null.

### Additional context

_No res

[2022-10-09 01:39] #17851 closed, assigned to nobody

[2022-10-09 02:52] lucky-bin opened #17852 "connect clickhouse show tables error"
### Description

connect clickhouse show tables error,  `comment` not exists

Code: 47, e.displayText() = DB::Exception: Missing columns: 'comment' while processing query: 'SELECT name AS TABLE_NAME, engine AS TABLE_TYPE, database AS TABLE_SCHEM, comment AS REMARKS, database, name, uuid, engine, is_temporary, data_paths, metadata_path, metadata_modification_time, dependencies_database, dependencie

[2022-10-09 08:31] ccczhouxin opened #17853 "eclipse can not start dbeaver"
### Description

![image](https://user-images.githubusercontent.com/43168824/194746277-ce845ace-1663-4f4f-97e2-133756e8a96d.png)
I clone the last dbeaver version，and use maven to update project ，also has that errors

error messge：
!SESSION 2022-10-09 16:27:48.748 -----------------------------------------------
eclipse.buildId=unknown
java.version=11.0.1
java.vendor=Oracle Corporation
BootLoader co

[2022-10-09 13:33] iTem186 commented on #6876
@ShadelessFox Hi there! In which version it's available ? In my versions 22.2.1 on Mac and Windows I don't see `SQLite Remote` in possible connections.
<img width="783" alt="image" src="https://user-images.githubusercontent.com/26230210/194759817-d6ef6ca3-a1f1-40a2-a1f8-fe24808fff25.png">

[2022-10-09 13:51] ShadelessFox commented on #6876
Hello @iTem186,

The SQLite Remote driver is only available in DBeaver PRO versions which aren't yet released.

You can download early access versions here: https://dbeaver.com/files/ea/

[2022-10-09 18:29] serge-rider commented on #17852
The error happens inside Clickhouse JDBC driver itself (i.e. it is not DBeaver issue).

Perhaps it is because you have a quite old server version and use new driver.
Try `Clickhouse (Legacy)` driver instead.

[2022-10-10 04:54] Grisgram opened #17857 "UI-Locale gets lost after each update"
**Is your feature request related to a problem? Please describe.**
I do not like installers, so I always update manually by unzipping the executable.
In your readme you state clearly, that we shall NOT extract "over" the existing files, we shall take a new folder.
However, somewhere in the "configuration" folder in the install-location (and not in the user profile!) there is the setting, which UI

[2022-10-10 08:02] SubOptimal commented on #17857
Maybe related to https://github.com/dbeaver/dbeaver/issues/6872 or https://github.com/dbeaver/dbeaver/issues/12771.

[2022-10-10 08:24] LonwoLonwo commented on #17845
Can be a driver issue: https://support.tibco.com/s/article/Protocol-errors-with-Amazon-Redshift-database-ERROR-Invalid-protocol-sequence-P-while-in-PortalSuspended-state

[2022-10-10 08:33] LonwoLonwo commented on #17847
Hello @michaelcollinsedgov

There is no JDBC API for table DDL extracting (as I know).

We are using different approaches for DDL creation for different DBMSs. Sometimes we can ask the database directly - as we do for MySQL with this query:

`SHOW CREATE <table_name>`

Or we can create table DDL from the table info - as we do for PostgreSQL.

So, it depends on DBMS.

Do you want to know more infor

[2022-10-10 08:36] #17853 closed, assigned to nobody

[2022-10-10 10:06] vivainio opened #17860 "Oracle: support EZCONNECT scheme for specifying connection string"
**Is your feature request related to a problem? Please describe.**

We have Oracle connection strings shared in EZCONNECT format which is easy to copy paste around (as it's just one short string). DBeaver doesn't currently support it.

EZCONNECT is described here: https://www.orafaq.com/wiki/EZCONNECT

Our current connection strings for sysadmin look e.g. like this:  sa/somepassword@10.116.7.63:49

[2022-10-10 10:37] E1izabeth opened #17861 "Add automatic port forwarding for url connection configuration with ssh"
### Description

Currently user needs to add such setting if they use ssh and connect by url:
![image](https://user-images.githubusercontent.com/28875055/194847711-b4bf3315-8b0f-4c25-9645-d72f91b2f717.png)

We can configure it automatically.

### DBeaver Version

DBeaver 22.2.2

### Operating System

Windows 10

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Add

[2022-10-10 11:08] benyaminl commented on #9803
@kseniiaguzeeva This is also happen on Linux Fedora with Java sitting around on 5-7%. Any idea to reduce it at least to 2%? I already minimize the view, java still sitting around on 7% on average.

This is killing battery on the go when not used tbf

[2022-10-10 12:10] rauleando commented on #17815
With the new version 22.2.2 it has been solved. Thank you, great job!

[2022-10-10 12:10] #17815 closed, assigned to nobody

[2022-10-10 12:12] LonwoLonwo commented on #17815
Thanks for your answer @rauleando

[2022-10-10 12:37] e1ace commented on #17709
@uslss Can this be reopened? Despite it being listed as fixed - I still have the same issue with V22.2.2 - with the exact same steps as above.

[2022-10-10 12:54] e1ace commented on #17709
I deleted the firebird driver out of the Driver Manager. And then manually added in a new custom driver and it works.

![image](https://user-images.githubusercontent.com/20770537/194870881-6532eefd-37d4-46a2-acc6-d033557a2b26.png)

[2022-10-10 13:28] daliborp76 commented on #7892
Same here
Win11, DBeaver 22.2.1.202209251341
Any code buffer SAVE action (CTRL+S, save from menu) resets current connection (disconnects) thus invalidates current session

[2022-10-10 15:06] geokoz opened #17864 "No suitable driver(-s) found for specified JDBC URL"
### Description

Hi Dbeaver support,

I am using DBeaver 22.2.0 and trying to "Create new connection from JDBC URL". I added the jdbc url address of a PostgreSQL server that I want to connect to, but the popup window says: "No suitable driver(-s) found for specified JDBC URL" without considering whatever I write in the url box.
The "Proceed" button remains disabled at all times.
Any idea how to re

[2022-10-10 16:26] LonwoLonwo commented on #17776
Hello @Trymzet

Can you please check our last release? https://dbeaver.io/

[2022-10-10 16:27] LonwoLonwo commented on #17864
Hello @geokoz

Can you provide please example of your URL?

[2022-10-10 16:30] LonwoLonwo commented on #17864
For now, I can't reproduce.

![2022-10-10 19_30_06-DBeaver Ultimate 22 2 2 - storage](https://user-images.githubusercontent.com/45152336/194913135-acd32f28-a12e-4724-a405-fe4c06ff532a.png)

[2022-10-10 17:05] geokoz commented on #17864
I tried now something like (can't post the "xxxxxx" part), then it proceeds but when it tries to connect it just times out:
jdbc:postgresql://ae-aurora-cluster.cluster-XXXXXX.amazonaws.com:5432/XXX

It never time outs from my other connection (which is ETL IBM DataStage tool) and it has the same URL.
Thanks,Georgi

[2022-10-10 17:40] bernardiego opened #17865 "Failed to fetch table data (Out of memory)"
### Description

Immediately after updating to 22.2.2, I couldn't access certain tables (On which I suppose, the data to show -first 200 rows- were to big), and other tables took _minutes_ to show.

- No internet problems were present.
- RAM availability wasn't a problem, neither from system nor database.

I downgraded to 22.2.1 and problems went away.

[.log](https://github.com/dbeaver/dbeaver/fi

[2022-10-10 18:48] Yurii-kyiv opened #17867 "the millisecond part of the timestamp is displayed incorrectly"
### Description

select now();
now
------------------------------
2022-10-10 11:**19:12**.**1912** +0300
millisecond part always repeats data from minutes and seconds
It is DBeaver's bug, not DB
Native Postgresql client app psql displays timestamp correctly

### DBeaver Version

Community Edition 22.1.3.202207240747

### Operating System

Windows 10

### Database and driver

PostgreSQL 10/11

###

[2022-10-10 20:01] serge-rider commented on #15650
Fixed.
Also I chganged the way how we mark current value (now it is bold font).
Also value can be changed with double click or <kbd>Enter</kbd> now (previously it was single click and it produced a mess sometimes)

[2022-10-10 20:35] strangan commented on #17303
Was this fixed in today's 10/10/2022 release? It doesn't seem like it, but i wanted to verify.

[2022-10-10 20:38] E1izabeth commented on #17303
@strangan it wasn't fixed in 22.2.2

[2022-10-10 20:38] JEBanasik commented on #17824
I’m sorry.  I’m too busy using Excel on a major project to accomplish what I couldn’t do with DBeaver.  It would only take a few minutes to create some test tables for yourself.

[2022-10-10 20:47] strangan commented on #17303
ok thanks. Any idea when it will be fixed - which release will it be squeezed into?

[2022-10-10 20:49] E1izabeth commented on #17303
I don't have an answer for this question now. We will try to keep you informed.

[2022-10-10 21:09] serge-rider commented on #16673
This behaviour is controlled by "display format" setting.
For plain text it is "Edit" (row value without numeric formatting), for grid it is "Display" (numeric formatting is applied).
For plaintext it can be changed in data editor preferences.

Now I unified this. Display format can be changed for both grid and text presentations.
It was also added to the context menu:
![image](https://user-images

[2022-10-10 21:46] serge-rider commented on #17348
Most problems with columns naming and quoting were already resolved in 22.2.2.

@plotn could you check it one more time? What problems are still there?

[2022-10-10 21:51] dannywells1 commented on #9414
Just got the latest, 22.2.1.202209270815 still an issue :(

[2022-10-10 23:01] LonwoLonwo commented on #17824
I'll wait.

[2022-10-10 23:08] LonwoLonwo commented on #17864
So... It gives you the driver and connection page, but you can not connect during the timeout problems? Or it something else?
Maybe you can provide me some footage of your issue, please?

[2022-10-10 23:20] geokoz commented on #17864
Maybe I need some investigation from my network team, why it times out ... to trace the connection.When I get their reply, I'll come up with more details.

[2022-10-10 23:43] LonwoLonwo commented on #17867
Hello @Yurii-kyiv

As I can see in your pattern and result:
HH: (Hour in day) - 11
mm: (Minute in hour) - 19
ss: (Second in minute) - 12
m: (Minute in hour without leading zeros) - 19
s: (Second in minute without leading zeros) -12

So, 11:19:12.1912 - is expected result for your pattern. And here you can find our wiki page: https://dbeaver.com/docs/wiki/Managing-Data-Formats/#time

Do you want to

[2022-10-10 23:57] BobbySchnipke commented on #17865
I'm having the same issue immediately after updating to 22.2.2 though the error I'm seeing is: SQL Error: Internal jdbc driver error

The details do mention a memory issue though:
org.jkiss.dbeaver.model.sql.DBSQLException: SQL Error: Internal jdbc driver error
	at org.jkiss.dbeaver.model.impl.jdbc.exec.JDBCStatementImpl.executeStatement(JDBCStatementImpl.java:133)
	at org.jkiss.dbeaver.model.impl

[2022-10-10 23:58] youngynj19 commented on #17842
Dear @LonwoLonwo.
You are my savior! #13153 solved the problem, thank you!!

[2022-10-11 00:07] LonwoLonwo commented on #17865
Hello. Thanks for the bug report.

We are looking into it.

A workaround for now is to enable this setting in the connection settings:

![2022-10-11 03_04_34-Connection _dvdrental_ configuration](https://user-images.githubusercontent.com/45152336/194970198-1d11db13-a188-4244-bb5e-7a2884e36b48.png)

[2022-10-11 00:16] BobbySchnipke commented on #17865
I may give that a try later. For now rolling back one version solved the problem for me.

[2022-10-11 00:17] LonwoLonwo commented on #17864
Ok, I'll wait for your answer.

[2022-10-11 00:43] serge-rider commented on #17865
Fixed.
It was a side effect of prepared statements disablement in Greenplum.

[2022-10-11 00:59] fa5fou5 commented on #17747
Indeed, yes

On Thu., Sep. 29, 2022, 9:42 a.m. ShadelessFox, ***@***.***>
wrote:

[2022-10-11 01:30] LonwoLonwo commented on #17860
Ok, thanks for the suggestion @vivainio

I hope we can find such a solution that we will not have to parse the URL line manually. Maybe some JDBC API.

For the future: https://stackoverflow.com/questions/38919499/how-to-parse-oracle-jdbc-ezconnect-with-python

[2022-10-11 02:38] BobinYang opened #17874 "sql server Function and Procedure Issues"
### Description

1、sql server navigator： Function and Procedure  want a separate classification to distinguish them.
2、sql server navigator : cannot rename Function/Procedure name and F2 cannot take effect.
3、sql server navigator :Function cannot add a comment ,because  it is treated as a Procedure  and  occur  a error.
<img width="963" alt="issue" src="https://user-images.githubusercontent.com/41

[2022-10-11 04:34] dibyendumca opened #17875 "Displaying wrong record number in Record View Mode"
### Description

![image](https://user-images.githubusercontent.com/61493364/194997608-7bce254d-3777-4607-aa4f-12e3a71981ff.png)
![image](https://user-images.githubusercontent.com/61493364/194997706-19b54e40-031e-45ed-9fbd-83686606b73d.png)

The record Row number shown in Grid View is not the same as shown in the Record View.
Please refer the 2 screen shots images attached.
For every record its th

[2022-10-11 04:43] jackietl1018 opened #17876 "Error connecting to datasource Unknow system variable 'character_set_client'"
### Description

mysql5 connecter，local client is mysql  5.7.23

### DBeaver Version

22.1.5

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-10-11 04:46] vivainio commented on #17860
Looks like jdbc supports it directly:
https://docs.oracle.com/en/database/oracle/oracle-database/21/jajdb/

On Tue 11. Oct 2022 at 4.30, Anastasiya ***@***.***> wrote:

[2022-10-11 06:28] flambchap commented on #17820
Oh, I see. We'll do that for the EE and UE versions. Thank you for the idea.

[2022-10-11 06:52] ChenpiDog commented on #17820
@n5a5 How long is the data modeling expected to go online? I have tried the latest EE version, but this function has not yet been implemented.

[2022-10-11 07:06] derfryday commented on #9414
still broken on 22.2.2.202210092258

[2022-10-11 07:08] goodale commented on #17848
waited more than five minutes.  uninstalled v22 and reinstalled the old v7
version so i can get back to work

On Fri, Oct 7, 2022 at 1:55 PM Elizabeth ***@***.***> wrote:

--

*Steve Lopez*

*Founder & President*

*RegattaCentral – Powered by Stack Sports*

6233 Riverside Dr, Suite 1N, Dublin, OH, 43017 USA

Office: +1 614-360-2922 x102

Mobile: +1 614-440-5665

Fax: (888) 735-9544

***@***.***
ww

[2022-10-11 07:24] Yurii-kyiv commented on #17867
Thanks a lot Anastasiya.
I was wrong. I used Postgresql template for timestamp.

[2022-10-11 07:42] ahhmedbilal commented on #16350
Instead of fastload, try multiload utility. Empty table restriction is not there with multi load. But jdbc multiload is not supported. Is it so that with jdbc fast load, table needs to be empty?-- from phone
-------- Original message --------From: Anastasiya ***@***.***> Date: 6/7/22  14:41  (GMT+02:00) To: dbeaver/dbeaver ***@***.***> Cc: ahhmedbilal ***@***.***>, Mention ***@***.***> Subject: Re

[2022-10-11 07:47] alanneese commented on #16092
Please click on this link <https://screenrec.com/share/ZY9Vuq5F0g>.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Wed, Apr 6, 2

[2022-10-11 07:49] tianlongJ commented on #16289
navicat这种的，很方便

------------------ 原始邮件 ------------------
发件人: ***@***.***&gt;;
发送时间: 2022年4月25日(星期一) 下午4:49
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [dbeaver/dbeaver] Dbeaver列数据筛选功能 (Issue #16289)

@tianlongJ could you provide some examples of the feature you need?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you we

[2022-10-11 08:16] ahhmedbilal commented on #16350
Background task still running. unless it completes, i can not execute any
other qry in dbeaver for that connections.
will send another email once bg task is completed.

On Tue, May 31, 2022 at 9:09 AM Ahmed Bilal ***@***.***> wrote:

[2022-10-11 08:32] ShadelessFox commented on #17875
Hello @dibyendumca,

Thanks for the bug report

[2022-10-11 08:38] LonwoLonwo commented on #17867
DBeaver is based on java, and it is a universal tool, so we are using java patterns, yes.

Ok. Does this issue solve? Am I closing the ticket?

[2022-10-11 08:43] LonwoLonwo commented on #17876
Hello @jackietl1018

Please provide more info about your issue.

What steps to reproduce did you have?

Could you please send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

Thank you.

[2022-10-11 09:01] SimonDataAnalist commented on #17232
Hello,

Here is a screenshot from a script:
***@***.***
When I remove the comment text:
/********************************************************************************
* Dit script haalt alle clienten op met een actief geregisteerd product.
* Versie     : 1.0
* Datum            : 03-02-2020
* Auteur     : Simon ter Beek
****************************************************************************

[2022-10-11 09:09] mauringuay commented on #17757
Parfait it's working

Thanks you !

De : igor2x ***@***.***>
Envoyé : jeudi 29 septembre 2022 12:41
À : dbeaver/dbeaver ***@***.***>
Cc : GUAY Maurin DTSI/DISU ***@***.***>; Mention ***@***.***>
Objet : Re: [dbeaver/dbeaver] Download driver files dialog when I reopen DBeaver appears everytime (Issue #17757)

To recap this bug report:

  1.  DBeaver worked fine up to including 22.2.0 and this probl

[2022-10-11 09:15] djbeacom commented on #17699
Thank you!  This resolved the issue.

[2022-10-11 09:37] LonwoLonwo commented on #17860
In this case, you can convert "sa/somepassword@10.116.7.63:49190/ORCLCDB" to the URL. Can you try it, please?

![2022-10-11 12_35_52-DBeaver Ultimate 22 2 2 - _postgres12local_ Script-170](https://user-images.githubusercontent.com/45152336/195054996-8c56beb0-9bfb-43eb-8b2d-17a13d2260c9.png)

[2022-10-11 09:40] #17699 closed, assigned to nobody

[2022-10-11 09:41] LonwoLonwo commented on #17699
Thanks for your answer @djbeacom

[2022-10-11 09:45] flambchap commented on #17820
Unfortunately, I don't have any estimates right now.

[2022-10-11 09:46] #17875 closed, assigned to uslss, ShadelessFox

[2022-10-11 09:56] LonwoLonwo commented on #17874
Thanks for the bug report @BobinYang

Incorrect:

`EXEC master.sys.sp_addextendedproperty 'MS_Description', N'test', 'schema', N'dbo', 'procedure', N'east_or_west';`

We need to use the function type name here:

`EXEC master.sys.sp_addextendedproperty 'MS_Description', N'test', 'schema', N'dbo', 'function', N'east_or_west';`

And this is the script for the object renaming.

[code]

[2022-10-11 09:57] iuri1994 opened #17878 "Launch dbeaver after installation"
Hello, this is a small feature
Is it possible to have the launch dbeaver in the setup dialog?
![image](https://user-images.githubusercontent.com/51403191/195058996-fad1c950-5a6c-46b9-84ab-656a159f468e.png)

[2022-10-11 10:02] ajax16384 opened #17879 "ClickHouse driver UInt64 wrong value"
### Description

current ("new") ClickHouser driver still produces wrong values with UInt64 fields

### DBeaver Version

22.2.2

### Operating System

_No response_

### Database and driver

clickhouse-jdbc-0.3.2.jar

### Steps to reproduce

[code]
Current ClickHouse driver
[code]
Legacy ClickHouse driver
[code]
16218631392101484784 ->17357176597978101064 ???

### Additional context

_No response_

[2022-10-11 10:41] Matvey16 opened #17880 "Customize perspective shows incorrect preferences"
### DBeaver Version

22.2.2

### Operating System

Win11

### Database and driver

Any

### Steps to reproduce

1. Go to Window -> Customize Perspective -> Menu Visibility tab
2. Uncheck `File` and some other menu items and save changes
3. Open perspective customization again

**Expected:** `File` is still unchecked
**Actual:** It is checked but is invisible in the menu

### Additional context

![

[2022-10-11 10:58] Yurii-kyiv commented on #17867
Yes, issue solved. Thanks

[2022-10-11 11:40] #17867 closed, assigned to nobody

[2022-10-11 12:03] s-nt-s commented on #17476
Same problem, but I don't want to delete `.dbeaver`. I need to keep my previous data source configuration.
How can I fix it?

[2022-10-11 12:13] #16673 closed, assigned to serge-rider, uslss

[2022-10-11 13:32] thnk2wn commented on #15706
This seems to have been fixed with 22.1 https://dbeaver.io/2022/06/05/dbeaver-22-1/

[2022-10-11 13:32] #15706 closed, assigned to nobody

[2022-10-11 14:12] HerbertR commented on #17774
I just updated to DBeaver Community 22.2.2.202210092258 and still having this issue. I tried typing in part of your code and the SQL Editor continues to stop moving to previous SQL Statement at the blank like between the comment and the SQL statement. I also noticed that if cursor is at the very bottom of the SQL Editor session and there are a couple of blank lines, Alt+Up won't move the cursor up

[2022-10-11 14:28] wistlo opened #17882 "Copy File Path missing on some SQL scripts"
### Description

Some open SQL scripts no longer offer the "Copy File Path" option on the tab right-click.  I first saw this in 22.2.1 and it persists in 22.2.2.
![image](https://user-images.githubusercontent.com/154039/195115303-021b7a0c-936f-4813-8830-d8246c11f586.png)

I thought at first this was related to not having a assigned connection, but that was not the case.  ALso tried shortening the

[2022-10-11 14:32] sage5616 commented on #17303
Thank you @E1izabeth. Hope it can be fixed soon... I like Dbeaver, but need to switch to an alternative when using Databricks.

[2022-10-11 14:35] catarineu opened #17883 "Improved database navigator"
**Is your feature request related to a problem? Please describe.**
The current database navigator is really impractical:
- When you type a **search** keyword it only show results if the connection's subtree is expanded down. If you have your connections subtrees collapsed the filter is useless. See image below (no results shown!)

![image](https://user-images.githubusercontent.com/30507229/1951195

[2022-10-11 14:36] LonwoLonwo commented on #17774
And what database did you use for this screen? I need to know the dialect.

[2022-10-11 14:43] JEBanasik commented on #17824
I solved my issue by using ON CONCAT(‘X’, ERP1.ID) = CONCAT(‘X’,ERP2.ID) in the JOIN.  This forced Dbeaver to use text comparison.  This did not change the results of the JOIN’s output.

I’m sure you can solve it with this additional information.

[2022-10-11 14:50] LonwoLonwo commented on #17536
Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/17697

This is the bug from the Eclipse side

[2022-10-11 14:50] #17536 closed, assigned to nobody

[2022-10-11 14:57] HerbertR commented on #17774
I'm using the included drivers. The attached script is for IBM DB2 iSeries, and I have the same issue with SQL Server.

[2022-10-11 16:15] #16445 closed, assigned to LonwoLonwo, Matvey16

[2022-10-11 16:15] #15650 closed, assigned to serge-rider, uslss

[2022-10-11 17:27] wolfderby opened #17885 "every time I open dbeaver it has an upgrade"
**Is your feature request related to a problem? Please describe.**
delay upgrades or do not push updates as often

**Describe the solution you'd like**
I want to open dbeaver, not upgrade it.

**Describe alternatives you've considered**
Have an option to always automatically upgrade, or only notify if n number of versions out of date.

**Additional context**
I use this program just about every day

[2022-10-11 18:04] alex-pax commented on #17885
Have you considered turning off the Automatic Updates Check in the Preferences menu?
![image](https://user-images.githubusercontent.com/13181150/195166386-73c8ab6e-a28d-4ad4-8d6f-1addc9b118e7.png)

[2022-10-11 18:47] johanjvrens commented on #16663
Hi I get the following error on the new version of DBeaver([DBeaver 22.2.2](https://dbeaver.io/2022/10/10/dbeaver-22-2-2/)
October 10th, 2022) and after being forced to download the new driver (Athena: driver version updated to 2.0.30):
`org.jkiss.dbeaver.model.sql.DBSQLException: SQL Error [HY000]: Error message not found: ATHENA_CLIENT_ERROR. Can't find bundle for base name com.simba.athena.athe

[2022-10-11 18:57] Robynishere1 opened #17886 "I'm connected to Athena, relying on Presto. Is there a way to check which version of Presto I'm using? I have reason to suspect it's out of date."
**Is your feature request related to a problem? Please describe.**
The command in the below link doesn't seem to work and I want to see if it's because I need to update the version somehow:
https://prestodb.io/docs/current/sql/show-columns.html

Sorry if there's already a way to do this, if so please show me how!

Thank you!

[2022-10-11 20:59] LonwoLonwo commented on #16663
Hello @johanjvrens
And you can not connect?

[2022-10-11 21:46] vlasvlasvlas commented on #17885
its kind of annoying, maybe the default could be check off, not check on.. but yeah.. you can switch it.

[2022-10-11 21:48] vlasvlasvlas commented on #17767
this is a great idea !

[2022-10-12 04:18] a-pavlov commented on #17678
The same issue - seems after some time the connection to database is expired, but the application does not know about it. As workaround I click on "Cancel" button(important: do not switch tabs because it can hide the "Cancel" button), click to "Invalidate/Reconnect" in tool bar, wait for re-connection and execute the script again.

[2022-10-12 04:46] eciosilva-pharmanexo commented on #7288
Thank you! This solved my issue.

[2022-10-12 04:47] eciosilva-pharmanexo commented on #7288
Thank U! This solved my issue.

[2022-10-12 06:05] init931 opened #17887 "PostgresSQL. Result-set fetch size isn't working"
### Description

When I open table view "Data" page it usually select 200 rows. But now I can't open large table because dbeaver tries to download whole table.
Also isn't working resut'set fetch size.

![image](https://user-images.githubusercontent.com/45001853/195262420-b6688680-1b13-4b46-9db8-614494e1979d.png)

![image](https://user-images.githubusercontent.com/45001853/195262654-8025c8a7-ee46-4

[2022-10-12 07:26] majkyyx commented on #14528
Helo @LonwoLonwo Anastasiya , can we continue in this issue? Do u have time for this? thx

[2022-10-12 07:40] BobinYang opened #17890 "sql server : Add some ability for altering Index、Primary Keys & Foreign Keys."
Hope  add  some abilities  for  sql server :
1、rename Index、PK，FK 。
2、Modify Index、PK、FK。

![image](https://user-images.githubusercontent.com/41612864/195279769-0f67e666-563c-4437-937f-25fad877faac.png)

[2022-10-12 08:08] johanjvrens commented on #16663
Hi, @LonwoLonwo I can make the connection, but the same error has been thrown for any syntax or missing value or anything wrong in the SQL I'm trying to run so debugging is really hard.

[2022-10-12 08:13] johanjvrens commented on #16663
I fixed this by replacing the driver with my manually downloaded AthenaJDBC42-2.0.33.jar driver and this seems to give the same error feedback that I'm used to. Think this is the important part of the error message above with the old driver: `Caused by: java.sql.SQLException: Error message not found: ATHENA_CLIENT_ERROR. ATHENA_CLIENT_ERROR. Can't find bundle for base name com.simba.athena.athena.

[2022-10-12 08:30] detkliff opened #17891 "do not open big table"
### Description

![image](https://user-images.githubusercontent.com/61137576/195290781-081fb4ea-35d0-423b-bc0b-f0dadbd27811.png)

### DBeaver Version

22.2.2

### Operating System

windows 11 64bit

### Database and driver

Postgresql 12.8

### Steps to reproduce

1. Create table with data with size 600Mb +
2. Click on table in object tree
3. Bbeaver show message with Fetch table data, local proce

[2022-10-12 08:32] igor2x commented on #17427
Today I have upgraded DBeaver to 22.2.2.202210092258 (info from Help | About).

1. Database | Driver Manager.
2. Select DB2 | DB2 LUW and Edit button.
3. Libraries tab and click on Download/Upgrade.
![image](https://user-images.githubusercontent.com/10895030/195290920-550c10dd-b109-4d38-b51b-e872785af14d.png)
and dialog opens:
![image](https://user-images.githubusercontent.com/10895030/195291097-9

[2022-10-12 09:05] jurekbal commented on #17891
I confirm this problem with version 22.2.2.202210092258.
Error when fetching table data. After a few minutes of fetching:
org.jkiss.dbeaver.model.sql.DBSQLException: SQL Error: Internal jdbc driver error
...
Caused by: java.lang.OutOfMemoryError: Java heap space
Postgresql 12.11, Win 11, 64bit

[2022-10-12 09:06] Schtailian commented on #17891
Can confirm, for me it also happens with big postgres tables.
No problem with a big oracle Table.

Drivers are all up-to-date.

When Downgrading do DBeaver 22.2.1 this problem does not exist.

[2022-10-12 09:06] LonwoLonwo commented on #17891
Hello. Thanks for the bug report.

You can read more about this problem here (with a workaround): https://github.com/dbeaver/dbeaver/issues/17865

I'm closing this ticket as a duplicate.

[2022-10-12 09:06] #17891 closed, assigned to nobody

[2022-10-12 09:07] LonwoLonwo commented on #17887
Hello. Thanks for the bug report.

You can read more about this problem here (with a workaround): https://github.com/dbeaver/dbeaver/issues/17865

Probably this is your case.

[2022-10-12 09:26] alexdawn commented on #11417
Thank you for the above fix!

Using dbeaver 22.2.2 and I have the same issue with mysql drivers, however searching I only see "MySQL"

I then noticed the search had defaulted to "popular" and not "all", could it default to "all"?

[2022-10-12 09:33] LonwoLonwo commented on #17824
I can not. I need extra info: screens and scripts.
Any additional information will be helpful.

[2022-10-12 09:34] E1izabeth commented on #11417
Hi, @alexdawn. Please, create a separate issue for that.

[2022-10-12 09:38] LonwoLonwo commented on #14528
Hello @majkyyx
I can't reproduce your issue.

Maybe you can add some grants for DBA_SCHEDULER_JOB_RUN_DETAILS and use DBA views as default with this Connection setting ?

![2022-10-12 12_37_44-DBeaver Ultimate 22 2 2 - child_a](https://user-images.githubusercontent.com/45152336/195307966-70f727ed-cbab-44f5-8d73-58b833d21451.png)

[2022-10-12 09:45] zhuanke commented on #11553
yes, the "space" key is more smoother。
anyone know if it has been released?

[2022-10-12 09:45] LonwoLonwo commented on #17774
And now, with the DB2i database help, I can reproduce your issue. Thanks.

(As I fought, Alt+Up works fine when the string with comment has folding)

![2022-10-12 12_43_30-DBeaver Ultimate 22 2 2 - _PUB400 COM 1 1_Script-183](https://user-images.githubusercontent.com/45152336/195309688-74acf383-dc77-4904-9b6b-e0e9cde198fa.png)

[2022-10-12 10:41] uslss commented on #17865
verified

[2022-10-12 10:41] #17865 closed, assigned to serge-rider, uslss

[2022-10-12 10:57] uslss opened #17892 "Update Driver dialog is not clickable until Driver settings dialog is opened"
### Description

Update Driver dialog is not clickable until Driver settings dialog is opened
![dbeaver_lpgtQtcWez](https://user-images.githubusercontent.com/31996417/195325314-1bbbc2c2-3fe8-4200-a814-e33686730cf6.gif)

### DBeaver Version

22.2.2

### Operating System

win10

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-10-12 11:06] uslss opened #17893 "Driver isn't updated automatically after its version update"
Today I have upgraded DBeaver to 22.2.2.202210092258 (info from Help | About).

1. Database | Driver Manager.
2. Select DB2 | DB2 LUW and Edit button.
3. Libraries tab and click on Download/Upgrade.
![image](https://user-images.githubusercontent.com/10895030/195290920-550c10dd-b109-4d38-b51b-e872785af14d.png)
and dialog opens:
![image](https://user-images.githubusercontent.com/10895030/195291097-9

[2022-10-12 11:08] uslss commented on #17427
thanks for the report. new issue was created

[2022-10-12 11:08] #17427 closed, assigned to E1izabeth, Matvey16

[2022-10-12 11:44] majkyyx commented on #14528
![image](https://user-images.githubusercontent.com/14957734/195334001-19f19965-3cde-4938-a994-e2482adee37f.png)

It's not helping, i have rights to see DBA_SCHEDULER_JOB_RUN_DETAILS, in connection setting checked this option and "Run log" is still empty. But i thing it will be something about the grands of schema.

[2022-10-12 11:48] majkyyx commented on #14528
I'll try found same DB where "run log" is working and try to compare the grants. I'll let you know.

[2022-10-12 12:54] majkyyx commented on #14528
I found something. I found DB with two schemas, one working and one not working.

Schema "provoz" is working.
Schema "verso2" is not working.

Same connection (it's copied), same DB,same SID/service_name, same version, everything)

Only one diferent what i found is in table "user_tab_privs" where is grant to DBMS_SHEDULER

![image](https://user-images.githubusercontent.com/14957734/195347111-499b5

[2022-10-12 13:43] vivainio commented on #17860
@LonwoLonwo I can confirm that I was able to connect by prepending "jdbc:oracle:thin:" to the EZCONNECT path

[2022-10-12 13:46] almends opened #17895 "missing 'tabs list icon'"
### Description

I just upgraded from an older version.   In that version and in the screenshots on your home page there was always an icon to the right of the script tabs that allowed you to show the full list of tabs with the long names.  After upgrading I do not get that 'show list icon' that looked something like >>#

### DBeaver Version

Community  22.2.0.202209051344

### Operating System

W

[2022-10-12 14:20] ems2811 opened #17897 "PostgreSQL: java.lang.OutOfMemoryError: Java heap space"
### Description

A simple query like "select * from some_table" either fails with "java.lang.OutOfMemoryError: Java heap space" or crashes the application under heavy load. The table from the query contains about 1.5 million records. This problem does not exist on version 22.2.1.
[Log file](https://github.com/dbeaver/dbeaver/files/9765707/log.txt)
![01](https://user-images.githubusercontent.com/22

[2022-10-12 14:28] d2k2-git commented on #17036
i have other issue. when i use a scheme prefix in "from"-selection i dont get autocomplete for table columns

select * from schema.table1 as t1 where t1.<autocomplete not working>

select * from table1 as t1 where t1.<autocomplete working here>

[2022-10-12 14:34] d2k2-git opened #17898 "Autocomplete not working with scheme prefix and alias"
### Description

when i use a scheme name autocomplete is not working for tables.

![image](https://user-images.githubusercontent.com/6248041/195370751-ca3d29f6-a1d9-4215-adbf-c7aaac9fa499.png)

but without its working:
![image](https://user-images.githubusercontent.com/6248041/195370923-2ed89971-4aa6-45ac-a926-ef2df70e0955.png)

### DBeaver Version

Community Edition 22.2.2.202210092258

### Oper

[2022-10-12 15:09] Colux195 commented on #17897
It happens exactly the same.

[2022-10-12 15:59] LonwoLonwo commented on #17897
Hello. Thanks for the bug report.

You can read more about this problem here (with a workaround): https://github.com/dbeaver/dbeaver/issues/17865

I'm closing this ticket as a duplicate.

[2022-10-12 15:59] #17897 closed, assigned to nobody

[2022-10-12 16:13] LonwoLonwo commented on #14528
Can you please check this tree tables for "verso2"? Does any of these tables has info inside?

[code]

[2022-10-12 17:15] serge-rider commented on #17893
We don't update driver version automatically now. It is a new feature request, not a bug.

[2022-10-12 18:40] michaelcollinsedgov commented on #17847
Thanks for the explanation.  That is what I thought.

I have two main DBMS that I use: Oracle and Postgres based (Greenplum and Redshift).  So in the Postgres example, you do some queries against `pg_tables` and some other system catalog tables, and use that to "stitch" together the DDL you show?

[2022-10-12 18:47] LonwoLonwo commented on #17847
Yes. It is correct. DBeaver read info from `pg_attributes`, `pg_types` etc.

[2022-10-12 20:40] miTsirraH commented on #17770
This is terrible that it has been turned off. It is going to cause people to execute SQL in the wrong context.
What was the last version this was not turned off for?

[2022-10-12 20:45] E1izabeth commented on #17770
DBeaver 22.1.2 doesn't contain this yet.
We will return back the ability to open sql editor in a separate connection for Snowflake. Thank you.

[2022-10-12 21:26] 0nehand opened #17903 "Can no longer connect to any DB2 database - "Required property is unknown host""
### Description

I've been pulling my hair out over this issue.  My DBeaver instance (version 22.2.2.202210092258) can no longer connect to any DB2 database hosts/IPs.  I've tried with a variety of driver versions

- DB2 11.1.4 (JDBC 4.0)
- DB2 11.5.5 (JDBC 4.0)
- DB2 11.5.7 (JDBC 4.0)

..and all of these give me the same error:

<img width="1419" alt="image" src="https://user-images.githubusercon

[2022-10-12 21:32] E1izabeth opened #17904 "Can't create the new task in some cases"
### Description

If I do not select something and just want to create a new task by the context menu pressing on an empty place in the tasks area, I can't.
![image](https://user-images.githubusercontent.com/28875055/195452088-195cf576-321c-4df1-8bd1-0c6251015544.png)

Also we have toolbar with "create new task", "create tasks folder" and "delete". This actions appear when I focus a navigator objec

[2022-10-12 23:39] serge-rider commented on #17904
Tasks view was redesigned.
Now we see only tasks for the active project.
Some ocmmands were moved from toolbar to the view menu.
Active project selector was added to manu as well.

[2022-10-13 01:11] serge-rider commented on #17682
It was a result of emergency hotfix version release.
We didn't re-uploaded github artifacts at that time.
Files on dbeaver.io are ok.

I don';t think that we should patch the past for now..

[2022-10-13 01:11] #17682 closed, assigned to nobody

[2022-10-13 01:17] serge-rider commented on #17893
To enable automatic driver update you need to turn on option "Check for new driver versions" in driver preferences.
![image](https://user-images.githubusercontent.com/6398845/195476609-34172b72-a30d-4862-ac13-b35f6bfe1904.png)

[2022-10-13 01:46] sebalis commented on #17682
Yes, I can live with “the past remaining unpatched”, But this comment still helped me. I have an update script for dbeaver that downloads the .deb package and the checksum. I bleieve that when I wrote that script, the only place to download the .deb file was from Github (it’s possible that I overlooked something.) Now when I download this file from the website the download comes from dbeaver.com.

[2022-10-13 03:26] kbhoward opened #17908 "Embedded Firebird File - Not sure this is a bug with DBeaver"
### Description

Trying to create or connect to an embedded/single-file/server-less firebird db file.
Using the driver that DBeaver downloads fails with "Connect to 'file2.fdb'", "com/sun/jna/Platform", "Unexpected driver error occurred while connecting to the database
  com/sun/jna/Platform
  com/sun/jna/Platform
"
![Screenshot from 2022-10-12 23-21-36](https://user-images.githubusercontent.com/8

[2022-10-13 06:17] majkyyx commented on #14528
yeah, all of those select works and resuluts has data.

![image](https://user-images.githubusercontent.com/14957734/195516910-b2a65001-986f-47a2-a7a8-859063cfe5af.png)

[2022-10-13 06:38] LonwoLonwo commented on #14528
But "run log" just query "SELECT * FROM SCHEDULER_JOB_RUN_DETAILS" :(

Can you check your [query manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager) again then?

[2022-10-13 06:40] LonwoLonwo commented on #17908
Could you please provide the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-10-13 06:47] LonwoLonwo commented on #17903
Hello @0nehand

Can you please return to version 22.2.1 and check your connections there?

[2022-10-13 06:49] majkyyx commented on #14528
i cleaned query manager and just double click on the first job. (default tab is Run log, dbeaver remeber this tab from last opening)

there are 5 queries:

[code]
[code]
[code]
[code]
[code]

![image](https://user-images.githubusercontent.com/14957734/195523594-4f231063-ed8b-4250-99a1-9f6842591879.png)

[2022-10-13 06:53] majkyyx commented on #14528
I think is not about rights to select user_scheduler_job_run_details. It's about dbeaver just don't run this query somehow.

[2022-10-13 06:54] igor2x commented on #17893
@serge-rider I tried setting the preference and driver does not update. But...

I actually don't care if JDBC driver gets automatically updated or not, this was @uslss nice gesture to open new bug report, but unfortunately my previous bug report https://github.com/dbeaver/dbeaver/issues/17427 was closed down.

What I care is what I have written in my original bug report comment: Dbeaver v22.2.2 sh

[2022-10-13 06:57] majkyyx commented on #14528
I can show you this online via google meet or something if you want :-)

[2022-10-13 07:06] LonwoLonwo commented on #14528
Ok. Step back.

https://github.com/dbeaver/dbeaver/blob/devel/plugins/org.jkiss.dbeaver.ext.oracle.ui/src/org/jkiss/dbeaver/ext/oracle/ui/editors/SchedulerJobLogEditor.java#L112

You can see that DBeaver returns the SYS schema view as the log. Do you have the SYS schema in your schemas list?

[2022-10-13 07:07] LonwoLonwo commented on #14528
SYS schema is visible with the Advanced connection view.

[2022-10-13 07:15] majkyyx commented on #14528
OK, i switched to advanced in connection view and it's starts working. Schema sys is visible.

![image](https://user-images.githubusercontent.com/14957734/195527438-5032fa7e-f7bb-43f8-ae9f-e3d5b9dbbaa7.png)

Before i switched to advanced, there was custom connection view with all checkboxes checked.

[2022-10-13 07:21] LonwoLonwo commented on #14528
Ok. So. The issue is - the "Run log" isn't available for non-advanced types of connection views.
Can you create a new ticket for this? With the link to this ticket.

[2022-10-13 07:22] majkyyx commented on #14528
I know! It's working only when SYS schema is visible in schema list. Because if i use the schema filtr, and sys schema is hidden, it stops working.

![image](https://user-images.githubusercontent.com/14957734/195528882-8d882fa9-97f4-4186-8e8e-f8cbb01ae5ef.png)

![image](https://user-images.githubusercontent.com/14957734/195529195-84f00ef7-ffaf-44ce-b49f-fff3f4c7f3db.png)

[2022-10-13 07:33] majkyyx opened #17909 "Scheduler/jobs/Run Log is empty (oracle) when sys schema is not visible"
### Description

 Scheduler/jobs/Run Log is empty (oracle) when sys schema is not visible.

Run log show "No Data" label, everytime when sys schema is not visible in database navigator. Only oracle problem.

### DBeaver Version

CE 22.2.1.202209251341

### Operating System

ubuntu, windows 10

### Database and driver

ojdbc8.jar

### Steps to reproduce

Use filter for schema list in database navig

[2022-10-13 07:35] majkyyx commented on #14528
Thank you Anastasiya for this investigation.
I made new issue https://github.com/dbeaver/dbeaver/issues/17909

Have a nice day.

bye

[2022-10-13 07:36] LonwoLonwo commented on #17909
Thanks for the report @majkyyx

[2022-10-13 07:42] LonwoLonwo commented on #17818
Hello @nosequins

If I understood you correctly, you need to use this export setting:

![2022-10-13 10_40_41-DBeaver Ultimate 22 2 2 - _language](https://user-images.githubusercontent.com/45152336/195533450-459b15ad-b034-432b-b943-7aab8554a9ea.png)

[2022-10-13 08:25] LonwoLonwo commented on #17898
Ok, I see. The reason is in the not parsed schema name.

![2022-10-13 10_58_13-DBeaver Ultimate 22 2 2 - _stores_demo_Script-185](https://user-images.githubusercontent.com/45152336/195537155-0822b941-1ce2-4a96-a5bb-0eab82962b7c.png)

[2022-10-13 08:25] LonwoLonwo commented on #17898
Thanks for the bug report @d2k2-git

[2022-10-13 08:26] LonwoLonwo commented on #17890
Thanks for the suggestion @BobinYang

[2022-10-13 08:51] LonwoLonwo commented on #17838
Thanks for the bug report.

Duplicates https://github.com/dbeaver/dbeaver/issues/10590

[2022-10-13 08:51] #17838 closed, assigned to nobody

[2022-10-13 09:56] Matvey16 commented on #17794
@josmamencia Thank you for the report.

[2022-10-13 09:56] michal-bartak commented on #14908
It's in 22.2.2 now. Thank you!

[2022-10-13 10:03] LonwoLonwo commented on #14908
Yep, we implemented it in version 22.2.2

![2022-09-26 16_39_56-test_as - Persist Changes](https://user-images.githubusercontent.com/45152336/192338880-e5a5a4cf-ecfe-4ebb-8cbb-f122313483f5.png)

[2022-10-13 10:18] Matvey16 commented on #17040
@wangqian-49 Thank you for the report. I wasn't able to reproduce that big of a memory leak, but for fullHD gif of 15 mb, DBeaver took 400Mb of memory. As a temporal workaround I can propose to allow more memory for DBeaver by starting it with `-Xmx3072m` that way it will at least continue to work and won't cause out of memory.

[2022-10-13 10:55] Matvey16 commented on #17590
@sssqwe I wasn't able to reproduce it with your SQL files.

Can you please check what result you would get if you execute SELEct for this table in another client (e. g. command line)

![image](https://user-images.githubusercontent.com/82543000/195578779-caa339a1-de0b-4921-abcb-b6270abb58ec.png)

[2022-10-13 10:58] Matvey16 commented on #17730
@ccczhouxin Have you tried uninstalling DBeaver plugin completely and reinstalling the newest version?

[2022-10-13 11:09] Matvey16 commented on #17784
@Xtinction Thank you for the report. Can you type `%APPDATA%` as a path in your windows explorer and look if DbeaverData can be found there?

[2022-10-13 11:17] Xtinction commented on #17784
Hey Matvey,

Because I was having issues (this one: https://github.com/dbeaver/dbeaver/issues/17257) I had to reinstall dbeaver. I opted for the regular version instead of the windows store version, because of this issue.

I do remember though, that the files could not be found in that location, since that is the location specified in the documentation. I did a windows search in that entire folder

[2022-10-13 11:18] Matvey16 commented on #17882
@wistlo Hello, it looks strange. Do you know if those script have any difference? How did you open the script that has wrong context menu?

[2022-10-13 11:18] Xtinction commented on #17784
Oh lol I just tried reinstalling the windows store version, but upon app start I still get the issue I mentioned. So I am forever cut off from the windows app version it seems.

[2022-10-13 11:32] uslss commented on #17892
verified

[2022-10-13 12:02] jyinpci opened #17913 "JSON format does not work for data editor"
### Description

When editing data in data editor, selecting JSON format, and then click ctrl_shift_f, the json data in the editor are not formatted.

### DBeaver Version

22.2.2

### Operating System

Windows 10 Pro

### Database and driver

oracle_thin

### Steps to reproduce

Select a record that contains columns having json strings.
In the data editor, double click the column containing the js

[2022-10-13 12:12] E1izabeth commented on #17893
@igor2x the current fix will be available in the next release.

As a temporary workaround you can manually delete the corresponding cached record about the driver in .metadata\\.config\drivers.xml to force DBeaver to use updated driver version.

[2022-10-13 12:20] flambchap commented on #17623
Thank you for the idea.

[2022-10-13 12:26] flambchap commented on #17274
@NiklasRz Do I understand correctly that the issue is gone for you?

[2022-10-13 12:28] uslss opened #17914 "Some symbols( ` , ") in columns name are repeated twice during data import to new table"
### Description

Some symbols( ` , ") in columns name are repeated twice during data import to a new table if the column name was changed during the import.

was founded during the check of #17619

### DBeaver Version

22.2.2

### Operating System

win10

### Database and driver

mysql 5.7

### Steps to reproduce

1. Start import from csv to new table
2. Change some column name by adding, e.g. gra

[2022-10-13 12:29] flambchap commented on #17353
@dzar-aker, I'm sorry for the late response. Please create a ticket on our support system on our website, and we'll gladly help.

[2022-10-13 12:47] dzar-aker commented on #17353
I cannot create a ticket as I am an education customer. I was told to use this site to report the issue.

[2022-10-13 12:53] ShadelessFox commented on #17878
Hello @iuri1994,

Thanks for the feature request

[2022-10-13 13:03] ShadelessFox commented on #17886
Hello @Robynishere1,

You can use the `Test Connection` button found in the connection configuration dialog.

Let me know if it solves your issue.

[2022-10-13 13:04] ShadelessFox commented on #17895
Hello @almends,

Can you please provide a screenshot showing the problem? Thank you.

[2022-10-13 13:16] ShadelessFox commented on #17913
We need to add an additional action for formatting panel contents (and it should be available in standalone editors, too).

[2022-10-13 13:25] almends commented on #17895
The end of the Script tabs does not include the icon to show the list of tabs (full names)

[2022-10-13 13:38] ShadelessFox opened #17915 "Develop modern ODBC JDBC driver"
Currently, we are using an outdated and unmaintained ODBC driver developed by Sun. It has a lot of bugs, it doesn't support new features from both JDBC and ODBC APIs, and we have to ship an supplementary native library with it.

We want to develop a proof-of-concept JDBC adapter for the ODBC written in pure Java thanks to the JNA library.

[2022-10-13 14:18] 0nehand commented on #17903
Hi @LonwoLonwo
Just tested with 22.2.1.202209251341 -- same exact error.  :(

[2022-10-13 14:30] 0nehand commented on #17903
I even tested with 22.1.5 just now and still get the same error.  So something on my local setup definitely broke, but I can't tell what.  It's almost like the DB2 driver that DBeaver instantiates can't see my network interface.

[2022-10-13 15:29] flambchap commented on #14691
Nevermind, we'll do that independently.

[2022-10-13 16:02] E1izabeth opened #17916 "NPE on prefs change"
### Description

[code]

### DBeaver Version

DBeaver 22.2.2

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-10-13 16:25] kbhoward commented on #17908
Files attached as requested.
Note that I had to rename '.log' to 'log.log' as github doesn't allow uploading hidden files.
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/9778655/dbeaver-debug.log)
[log.log](https://github.com/dbeaver/dbeaver/files/9778660/log.log)

[2022-10-13 16:36] #17619 closed, assigned to E1izabeth, uslss

[2022-10-13 16:37] #17893 closed, assigned to serge-rider, uslss

[2022-10-13 20:18] bombillazo commented on #11891
Hey, this is still an issue for me, what properties page ?

[2022-10-13 22:15] kohlschuetter commented on #10701
@jonjonw, @umbe1987: Newer versions of the original junixsocket support PostgreSQL and DBeaver out of the box, and the "setCreated" bug is also fixed.

See [the above junixsocket issue](https://github.com/kohlschutter/junixsocket/issues/120) for some instructions how to add com.kohlschutter.junixsocket jars as dependencies and how to configure them (the socket factory setup is slightly different).

[2022-10-13 23:13] iambudi opened #17919 "Shortcut for Adding Column/Field"
Just like shortcut for adding row, it would be nice to have shortcut for adding column `(cmd +)`.

![image](https://user-images.githubusercontent.com/31809529/195727042-990c3a6c-61b6-467f-82bb-a62958badda6.png)

[2022-10-14 00:31] lacanoid opened #17920 "Database navigator live updates"
Database navigator does not refresh automatically, one has to run "refresh" from the menu often.
This is highly annoying as one never quite knows if what is shown is actually what is there.

This typically happens when running SQL DDL commands; neither metadata nor navigator is refreshed.

Perhaps a thing to do would be to refresh open folders in the navigator every now and then...

[2022-10-14 04:39] wistlo commented on #17882
I tried opening several scripts from a variety of sources, including dBeaver>File Open, from Windows FIle Explorer, from Everything V1.5a (using Windows default file association) .

The only pattern I could discern was that the first three .sql files I opened had the longer correct right-click menu, but as soon as one of the subsequent scripts opens without the menu, most of them open without it r

[2022-10-14 09:57] LonwoLonwo commented on #17879
Hello @ajax16384

I can reproduce it with your driver version, but not with the version: `ClickHouse JDBC Driver clickhouse-jdbc 0.3.2-patch11 (revision: 27f8951)`

So, I suppose, that this is a driver issue. And you can update your driver to fix it.

![2022-10-14 12_53_35-DBeaver 22 2 2 - test_uint64](https://user-images.githubusercontent.com/45152336/195819324-d202f7ac-4354-455c-8cca-d4e90c74256

[2022-10-14 10:05] travelliu opened #17922 "want to support delimiter / syntax for oracle on syntax parsing"
#### System information:
- Operating system: macOS 12.3.1 x86_64
- DBeaver version:  22.0.4
- Additional extensions

#### Connection specification:

![2022-05-07 at 00 13](https://user-images.githubusercontent.com/7792329/167171646-e8187692-41fa-4415-82ee-9e4fc8ef3bf4.png)

#### Describe the problem you're observing:
![2022-05-07 at 00 13](https://user-images.githubusercontent.com/7792329/16717171

[2022-10-14 11:11] ajax16384 commented on #17879
"Connection X configuration->Connection settings->Edit Driver Settings->Libraries->Download/Update"
Trying to download same 0.3.2 (no patched) version.

May be dbeaver pinned version sould be updated to fresh clickhouse driver repo reference?
https://github.com/dbeaver/dbeaver/blob/663b7dfbc986b5ff9f97bacb3d802eac869c59be/plugins/org.jkiss.dbeaver.ext.clickhouse/plugin.xml#L59

[2022-10-14 11:49] ShadelessFox commented on #16923
Hello @trybowski,

I don't have such a drive that is too small to hold the temp file, therefore I can't reproduce the issue but I know it's reproducible.

Can you please provide log files, please? You can find instructions here: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-10-14 12:31] chrillemus commented on #16952
I have the same issue

[2022-10-14 14:42] #17152 closed, assigned to ShadelessFox, Matvey16

[2022-10-14 14:42] #15644 closed, assigned to ShadelessFox, Matvey16

[2022-10-14 16:09] 0nehand commented on #17903
I even tested this using the JRE _inside_ DBeaver's packaged files and the same driver and the connection worked

[code]

So why can the actual DBeaver client connect?? 🤔

[2022-10-14 18:20] chewygranola commented on #17847
For the Postgres/Greenplum implementation, this is why the DDL feature does not pull the child partitions of a table into the definition?

[2022-10-14 18:26] #17916 closed, assigned to E1izabeth, Matvey16

[2022-10-14 19:52] rdslw commented on #6581
This is not a "only wayland/gnome" issue.

Dbeaver is (still after 5 yrs) completely f*cked up on pure X11 (using minimal i3), if user is having 4k display in hidpi mode (dpi:192). For clarity: only one monitor, no fancy setups.

In essence: this is hidpi on linux general dbeaver bug.

It's easily visible during startup, while inital welcoming modal window with dbeaver gfx & logo: its shown multip

[2022-10-15 04:35] LonwoLonwo commented on #17847
Because we implemented it just recently: https://github.com/dbeaver/dbeaver/issues/15905
You can check it in the last DBeaver version (but be careful with this case https://github.com/dbeaver/dbeaver/issues/17865)

[2022-10-15 07:23] superclarkk commented on #2316
Have been trying DBeaver for the first time over the last week. This issue is a deal-breaker for me. Please, team, give the user the freedom of choice.

Also, when you press Enter to accept a suggestion, it creates a new line. I can't imagine anyone thinking that's acceptable.

[2022-10-15 07:30] superclarkk commented on #2316
btw, there are some jar patches in [this eclipse ticket](https://bugs.eclipse.org/bugs/show_bug.cgi?id=348857). Is it possible to integrate them into DBeaver?

[2022-10-15 17:50] madarauciha commented on #1399
Use Sqllite Studio to change any column property like auto increment ,datatype etc which is not possible in dbeaver .
Note:- Sqllite Studio is just an examples .

[2022-10-16 13:38] rdconsolo commented on #10945
Same with macOS 12.6, dbeaver 22.2.2.

http://img4.imagetitan.com/img.php?image=25_screenshot2022-10-14at07.46.10.png

[2022-10-17 03:40] Seasawher opened #17934 "Input window sometimes does not close"
### Description

Sometimes the input field does not close and remains on the screen.

It follows scrolling as shown in this image.

![bug_of_DBeaver](https://user-images.githubusercontent.com/47292598/196083513-2354a95a-b7d9-422b-9b6c-a22fa3e606ca.jpg)

### DBeaver Version

Community edition 22.2.2.202210092258

### Operating System

Windows 10 Pro 21H2

### Database and driver

1. Database name:

[2022-10-17 07:09] NiklasRz commented on #17274
@n5a5 the issue is still there but manually replacing the path is a workaround that solves it. Might still be an issue for others users though that are unaware of the workaround

[2022-10-17 08:31] superclarkk commented on #8552
Same issue. Any chance of a fix?

[2022-10-17 10:50] LonwoLonwo commented on #7215
Hello.

Snowflake private key/password authentication is available in the DBeaver PRO versions: https://dbeaver.com/download/

![2022-10-17 13_47_30-DBeaver Ultimate 22 2 0 - RETURN_GREATER(NUMBER_1 NUMBER, NUMBER_2 NUMBER)](https://user-images.githubusercontent.com/45152336/196158872-8fcde998-af95-4cf7-ab82-cfa74ae84096.png)

[2022-10-17 10:52] #7215 closed

[2022-10-17 11:04] rasputino commented on #17099
I had same problem but I'm sure I didn't change this option, maybe the issue should be something like "Fetch limit option has lost its state"

[2022-10-17 11:05] LonwoLonwo commented on #5536
Can't reproduce against in DBeaver 22.2.2
Probably fixed in https://github.com/dbeaver/dbeaver/issues/9875

Did someone expect this issue in the latest DBeaver version?

[2022-10-17 11:45] E1izabeth commented on #17348
All mentioned in [my comment](https://github.com/dbeaver/dbeaver/issues/17348#issuecomment-1217087731) issues are still actual.
Mentioned in this issue behavior about window flickering is reproducible too.

[2022-10-17 11:58] cniweb commented on #17730
@Matvey16 Yes, I try it with a fresh installation and dbeaver version 22.2.1.

[2022-10-17 12:01] cniweb commented on #17730
@ccczhouxin Which version is still compatible with Eclipse 2021-12?

[2022-10-17 12:41] Matvey16 commented on #17904
This removed the buttons to create tasks/folders in toolbar

Expected:
![dbeaver_34tVdMjwY0](https://user-images.githubusercontent.com/82543000/196179449-9a043853-032d-4e73-a069-5591e4ff5685.png)

Actual:
![dbeaver_GLsGucsHfK](https://user-images.githubusercontent.com/82543000/196179490-829ef9e7-52fb-4688-a69e-8b465827fb23.png)

[2022-10-17 12:58] E1izabeth commented on #17922
Please, try latest DBeaver version. I can't reproduce it against DBeaver 22.2.1

[2022-10-17 13:04] E1izabeth commented on #17920
It looks like a duplicate of #6398
Probably will be implemented in scope of that issue.

[2022-10-17 13:04] #17920 closed, assigned to nobody

[2022-10-17 13:12] E1izabeth commented on #17908
@kbhoward does the Fireberd database file located on your PC?

[2022-10-17 13:19] E1izabeth commented on #17908
I'm not sure that connection url `jdbc:firebirdsql:embedded:` is correct.

[2022-10-17 13:50] E1izabeth commented on #17864
Probably it's a duplicate of #17627

[2022-10-17 14:13] ghost commented on #17763
Same issue here, but additionally it seems to be a coin toss whether the Statistics or Result panel is shown, sometimes I get the Result panel, and sometimes the Statistics.
After executing the script in the editor 20 times subsequently (<kbd>F9</kbd> in my shortcuts) I got the Results panel 9 times and the Statistics panel 11 times.

- Version 22.2.1.202209251341
- MySQL version (found with `SHOW

[2022-10-17 14:23] iraidaa commented on #17848
Hi @goodale,

Could you make a thread dump at the moment it stucks, if the issue appears again https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump?

Also, you can reset UI settings https://github.com/dbeaver/dbeaver/wiki/Reset-UI-settings.

If it doesn't help you, please reset the workspace https://github.com/dbeaver/dbeaver/wiki/Reset-workspace.

[2022-10-17 14:52] krasucki opened #17938 "Allow to execute SQL script before & after executing database export / import task"
**Is your feature request related to a problem? Please describe.**
It is related to issue I submitted before (#13281), but since there is no progress on it (I understand that can be a specific/complicated problem). Here is an alternative proposal.

**Describe the solution you'd like**
Add option to execute (previously defined) SQL script before & after successfuly executing database *export / impo

[2022-10-17 14:57] doreenherold opened #17939 "Table appears to depopulate"
### Description

After creating a table and populating it, Refresh is clicked and the size of the table shows that it has been populated. But when the table is opened, it's empty. When the view is refreshed, the table size decreases. The attached video provides an illustration. The scripts used to create and populate the table have been used regularly in the past and the experience described above

[2022-10-17 17:54] LonwoLonwo commented on #17938
Hello @krasucki

If I understood you correctly - this is already implemented in DBeaver PRO versions as Composite tasks: https://github.com/dbeaver/dbeaver/wiki/Composite-Tasks

You can try it for free at https://dbeaver.com/trial/ (14-day free trial version)

[2022-10-17 19:20] E1izabeth commented on #17922
The issue is about the conflict between division operator and delimiter. It's reproducible.

[2022-10-17 20:34] msacs09 opened #17942 "Cannot reverse engineer a ER diagram from SQL server"
### Description

SQL Error [40515] [S0001]: Reference to database and/or server name in 'master.sys.schemas' is not supported in this version of SQL Server.
  Reference to database and/or server name in 'master.sys.schemas' is not supported in this version of SQL Server.
  Reference to database and/or server name in 'master.sys.schemas' is not supported in this version of SQL Server.

### DBeaver

[2022-10-17 20:41] LonwoLonwo commented on #17942
Hello @msacs09

Looks like https://github.com/dbeaver/dbeaver/issues/5258

Do you use SQL Server Azure?

[2022-10-17 20:42] LonwoLonwo commented on #17942
Could you please provide the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-10-17 22:07] kbhoward commented on #17908
@E1izabeth
Hi E1izabeth,
Yes about the file; it is located on my local filesystem...no network drives.
I can connect to a Firebird server via TCP, by the way, just not the embedded file.
I'm not sure about the connection URL either, to be honest, but that is what I got from the Jaybird user manual:
`

3.1.4 Embedded Server

jdbc:firebirdsql:embedded:<database>

Similar to the Firebird client libra

[2022-10-17 22:13] #16570 closed, assigned to ShadelessFox, Matvey16

[2022-10-17 22:13] #17649 closed, assigned to ShadelessFox, Matvey16

[2022-10-17 22:13] kbhoward commented on #17908
Also, I _can_ create an embedded Firebird DB using FlameRobin...so, I assume the drivers (shared object files, .so or .dll) are installed correctly....seems to be an issue with Jaybird or DBeaver...just not sure which....or an error or my part....just don't know what(?)

[2022-10-17 22:13] hongbo-miao opened #17943 "Allow to delete measurement in InfluxDB"
**Is your feature request related to a problem? Please describe.**
Currently, DBeaver does not allow to delete InfluxDB 1.x measurement in the UI.

**Describe the solution you'd like**
It would be great to add a "Delete" option in the menu when right click the measurement.
Similarly, for [future InfluxDB 2.x](https://github.com/dbeaver/dbeaver/issues/11684).
Thanks! 😃

<img width="293" alt="image"

[2022-10-17 22:23] jyinpci opened #17944 "Enable shortcut for using external editor to edit a data field in data pane - feature request"
### Description

Wish to be able to define a hotkey for right_click a data field -> Edit -> Open in external editor.

Thank you for your consideration.

![Screenshot 2022-10-17 182139](https://user-images.githubusercontent.com/12385381/196294792-9f39a216-6e46-46bc-9046-8e41732cc035.jpg)

### DBeaver Version

Community Edition 22.2.2

### Operating System

Windows 10 Pro

### Database and driver

_

[2022-10-17 22:40] #17904 closed, assigned to serge-rider, uslss

[2022-10-18 01:48] travelliu commented on #17922
![2022-10-18 at 09 47](https://user-images.githubusercontent.com/7792329/196316240-2138355b-f62d-436f-a3f8-12515ffe8d1b.png)

[2022-10-18 01:51] travelliu commented on #17922
![2022-10-18 at 09 51](https://user-images.githubusercontent.com/7792329/196316649-44ae7805-c8ce-400a-9eaf-677174b306ec.png)

[2022-10-18 01:54] travelliu commented on #17922
Hopefully, delimiter is supported directly during syntax parsing, and users can easily forget to set delimiters, and conflict between division operator and delimiter

[2022-10-18 07:08] spencermathews commented on #17865
This seems to be the reference issue for this bug. It makes sense to close the related issues as duplicates, by why close this issue when the problem is not yet fixed?

[2022-10-18 07:31] ybin-hub opened #17946 "中文翻译关闭全部翻译有误"
### Description

[
![微信图片_20221018152854](https://user-images.githubusercontent.com/73328869/196365014-39d6a915-ac15-490e-8aa6-db75409f28d2.png)
](url)
右键选项卡的时候，关闭全部翻译有误

### DBeaver Version

DBeaver Community 22.2.2

### Operating System

windows 10

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-10-18 07:45] LonwoLonwo commented on #17943
Hello @Hongbo-Miao

Thanks for the idea.

[2022-10-18 07:47] LonwoLonwo commented on #17946
Hello @ybin-hub

Thanks for the bug report.

Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/17697

This is the bug from the Eclipse side.

[2022-10-18 07:47] #17946 closed, assigned to nobody

[2022-10-18 08:49] greenpeas commented on #17099
Me and my colleague faced this problem.
Solution: check the box Editors - Editor - "Use SQL to limit ..."

[2022-10-18 10:38] LonwoLonwo commented on #7103
So, SCIM is a System for Cross-domain Identity Management.
SCIM provides a defined schema for representing users and groups and a RESTful API to run CRUD operations on those user and group resources.
The goal of SCIM is to securely automate the exchange of user identity data between your company's cloud applications and any service providers, such as enterprise SaaS applications.

SCIM can be used

[2022-10-18 10:38] #7103 closed

[2022-10-18 10:46] loynoir opened #17949 "unable to open Data tag on 100 million record postgres db"
### Description

https://dba.stackexchange.com/questions/259205/get-a-truly-random-row-from-a-postgresql-table-quickly

[code]

Schemas > public > Tables > rand > Data

1. Long long dbeaver GUI not responding
2. Notify should exit workbench
3. Exit dbeaver GUI
4. Reopen dbeaver GUI

[code]

### DBeaver Version

22.2.2

### Operating System

archlinux

### Database and driver

_No response_

### St

[2022-10-18 13:34] filkovsp commented on #12443
hi,
same issue when running similar thing with temp table in dbeaver:
[code]

that returns just `Statistics` result:
[code]

[2022-10-18 13:51] Henry-Sumner commented on #6131
@molotch very slowly

[2022-10-18 14:02] voregnev opened #17951 "SSL parameters sslrootcert in ClickHouse driver setting doesn't work"
### Description

I can't connect with ssl root ca to cloud
(at any path in system and installed as Root cert)
system can't find cert

javax.net.ssl.SSLException: Failed to get SSL context
  Failed to get SSL context
  Failed to get SSL context
    No certificate data found
    No certificate data found

		"provider": "clickhouse",
			"driver": "com_clickhouse",
			"name": "cluster.mdb.yandexcloud.

[2022-10-18 14:05] Destrolaric commented on #17951
@voregnev Hi. We reopened the Clickhouse SSL ticket. You can track progress there https://github.com/dbeaver/dbeaver/issues/17363
Closing this one as a duplicate

[2022-10-18 14:05] #17951 closed, assigned to nobody

[2022-10-18 14:32] LonwoLonwo commented on #17949
Hello @loynoir

Probably this issue was fixed here #17865

Please check this workaround: https://github.com/dbeaver/dbeaver/issues/17865#issuecomment-1273928373

[2022-10-18 15:00] E1izabeth commented on #17903
Have you tried to write to the Host field an ip (9.4.XXX.XXX) which you get after testing connection outside the DBeaver UI?

[2022-10-18 15:10] E1izabeth commented on #17882
Do all opened files located in the same directory on your PC or not? Are all files stored on the local system or some of them are located in the network drive or some cloud?

[2022-10-18 15:13] #17842 closed, assigned to nobody

[2022-10-18 15:19] E1izabeth commented on #17678
Please, provide the queries which you see in [Query Manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager) while encountering this issue.

[2022-10-18 15:32] SuperDaveOsbourne opened #17955 "View Data option in Database Navigator fails on execution with Timescale Hypertables"
### Description

Runs into an out of memory option. This has worked well in all the versions of the last year up to the last two.

!ENTRY org.jkiss.dbeaver.model 4 0 2022-10-17 08:58:26.663
!MESSAGE SQL Error: Internal jdbc driver error
!SUBENTRY 1 org.jkiss.dbeaver.model 4 0 2022-10-17 08:58:26.663
!MESSAGE SQL Error: Internal jdbc driver error
!SUBENTRY 2 org.jkiss.dbeaver.model 4 0 2022-10-17 0

[2022-10-18 15:40] E1izabeth commented on #17955
Could you try this workaround https://github.com/dbeaver/dbeaver/issues/17865#issuecomment-1273928373 ?
Please, let me know if it helps.

[2022-10-18 15:40] #17949 closed, assigned to nobody

[2022-10-18 17:51] ncastrog opened #17958 "Crash when reading a table"
### Description

When opening a 3.8 GB table with 6 columns on data tab, dbeaver crashes,
[dbeaver.log](https://github.com/dbeaver/dbeaver/files/9813781/dbeaver.log)

### DBeaver Version

Version 22.2.2.202210092258

### Operating System

macOS Monterrey 12.6

### Database and driver

Postgresql 14.4 and 14.5.
JDBC Driver 42.2.20

### Steps to reproduce

Opening data tab, table size, 3.8 GB, 7 col

[2022-10-18 17:53] E1izabeth commented on #17958
Could you try this workaround https://github.com/dbeaver/dbeaver/issues/17865#issuecomment-1273928373 ?
Please, let me know if it helps.

[2022-10-18 17:56] E1izabeth commented on #17865
@spencermathews the fix is ready and will be available in the next release.

[2022-10-18 18:54] miltonchirinos44 commented on #17764
To date I have no solution to the oracle database connection error

[2022-10-18 20:17] ncastrog commented on #17958
Thanks works as usual now.

[2022-10-18 20:19] E1izabeth commented on #17958
The fix will be available in the next release. I'll close this issue as a duplicate of #17865

[2022-10-18 20:19] #17958 closed, assigned to nobody

[2022-10-18 21:22] 0nehand commented on #17903
@E1izabeth Yes, I've tried setting up the connection using an IP instead of the hostname as well and still get the same error.

[2022-10-18 23:00] grclague opened #17962 "Large tables load very slowly and take up a lot of memory."
### Description

With the previous version of Dbeaver 22.2.1 (Looking at PostgreSQL) a 1.3G table opens in the table viewer in 32ms. When opening with the latest version (2022.2.2) after ~ 40 seconds DBeaver throws a Java heap space exception. Even when opening slightly smaller (eg: ~400M) tables they take excessively long to open in the data viewer tab (>30 seconds rather than < 1 second).

### D

[2022-10-19 02:05] TomYule opened #17963 "create custom test databases that are populated with fake data"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
create custom test databases that are populated with fake data

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
https://github.com/emirozer/fake2db

**Describe alternatives you've considered*

[2022-10-19 05:37] Forerver-Monologue opened #17964 "DBeaver Development Guide"
Thank you very much for providing the DBeaver development guide, including project import, IDE tools, version requirements, project startup and other information and screenshots.

[2022-10-19 05:38] tudorpop9 opened #17965 "Failed transactions seem to persist changes for snowflake database"
### Description

Failed transactions seem to persist changes of the queries above the one that failed when a select is executed, but in fact it does not happen.
Example: -- have been put in the steps to reproduce
*assume that all values for "col" are 0*
Begin
Begin Transaction;
    update table set col = 1 where ID = 1
    update table set col = 2 where ID = 'foo' -- fails
    update table set col

[2022-10-19 08:18] hmica commented on #17962
Seems duplicate of #17865

[2022-10-19 08:55] LonwoLonwo commented on #17962
Could you try this workaround https://github.com/dbeaver/dbeaver/issues/17865#issuecomment-1273928373 ?

[2022-10-19 10:27] banDeveloper commented on #17709
Same issue here, solved in the same way thanks to @e1ace. I'm using Windows 11.

[2022-10-19 12:31] michaschumann opened #17967 "Firebird updatable views appear as tables"
### Description

Firebird 3 Views that are accompanied by triggers that allow Insert, update and delete (I use this for simplifiying processes that write to a fully normalized database) are displayed as tables and the wring ddl is shown.

### DBeaver Version

22.1.3

### Operating System

Windows 11 22H1

### Database and driver

Firebird 3 latest version
jdbc:firebirdsql

### Steps to reproduce

[2022-10-19 12:38] #17811 closed, assigned to Destrolaric, Matvey16

[2022-10-19 12:39] #17329 closed, assigned to LonwoLonwo, Matvey16

[2022-10-19 12:39] #11684 closed, assigned to Destrolaric, Matvey16

[2022-10-19 12:41] #16205 closed, assigned to ShadelessFox, Matvey16

[2022-10-19 12:42] #17849 closed, assigned to LonwoLonwo, Matvey16

[2022-10-19 12:54] wysokinskim commented on #2874
Bug is still present in DBeaver 22.0.3 on MacOs

[2022-10-19 13:01] rgimenes26 commented on #11891
Getting the same after adding new column with the editor.

![image](https://user-images.githubusercontent.com/77639064/196698059-db45497f-683b-4807-8c5a-96bfb311a4dd.png)

[2022-10-19 13:24] MikeB2019x commented on #11891
I'm curious:  why would refreshing the database be expected to influence the results/display of a query?  The db hasn't changed, it has just been queried, correct?  Or is there a deeper SQL effect taking place?

[2022-10-19 13:30] LonwoLonwo commented on #17967
Hello @michaschumann

Please provide DDL examples.

[2022-10-19 14:00] plotn opened #17969 "Lost function editing when toggle "modificators""
### Description

as shown...
![dbeaver_func_edit](https://user-images.githubusercontent.com/11477081/196712539-3b00103b-85f5-41cc-914f-050c7319296a.png)

### DBeaver Version

22.2.0 CE

### Operating System

win

### Database and driver

PG 14

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-10-19 15:16] Destrolaric opened #17971 "NPE for PKCS8 keys"
Using PKC8 keys produces following NPE
[code]

_Originally posted by @Matvey16 in https://github.com/dbeaver/dbeaver/issues/17806#issuecomment-1282349650_

[2022-10-19 15:22] #17748 closed, assigned to Destrolaric, Matvey16

[2022-10-19 15:35] Icemap opened #17973 "Debug in Eclipse occurred error ClassNotFoundException: org.jkiss.dbeaver.ui.app.standalone.DBeaverApplication"
### Description

When debugging the devel branch code at Eclipse:

[code]

And the content of the `/Users/cheese/runtime-DBeaver.product/.metadata/.log` file:

[code]

### DBeaver Version

devel branch

### Operating System

macOS Big Sur 11.1

### Database and driver

Nope

### Steps to reproduce

Follow this: https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse

### Additional context

Nop

[2022-10-19 16:08] dm11111 commented on #16663
Hi @johanjvrens - I'm suffering some the same issue as you and have tried to update to AthenaJDBC42-2.0.33.jar so that I can get useful descriptive error mesages back.  However I have not been as successful as you.

If have tried both the `com.simba.athena.jdbc.driver` and `com.simba.athena.jdbc42.driver` class names but both give an `"Unexpected driver error occurred while connecting to the datab

[2022-10-19 17:56] #17770 closed, assigned to E1izabeth, Matvey16

[2022-10-19 18:00] E1izabeth opened #17975 "Update wiki about Separate connection options"
We changed UI representation of this setting here https://github.com/dbeaver/dbeaver/pull/17948
Maybe we also should describe `Default` option.

[2022-10-19 18:26] kay-ou commented on #17217
this doesn't work for me, I have the DBeaver 22.2.2 with Windows 11 + WSL2 Ubuntu, error gone but the table list is empty.

[2022-10-19 18:34] aalleaa commented on #17821
Hey! Yes of course!
I did [Dbeaver_test.zip](https://github.com/dbeaver/dbeaver/files/9823273/Dbeaver_test.zip).
The problem I want us to focus on is not the error at the end of the procedure when I click on start (commencer in French) but it's when I preview the datas, I am suppose to have 3 columns and all the informations are in the same one.

[2022-10-19 22:33] wistlo commented on #17882
All files are local, or "local+" (part of OneDrive directory but designated to live on hard disk).

In the test case of the renamed "t.sql", the full path was

`c:\temp\today\t.sql`

This directory is **not affiliated** with OneDrive or any cloud service (corporate OneDrive is the only such service allowed on our workstations).

I'm really watching subjectively for some indication of why some file

[2022-10-20 02:03] #17363 closed, assigned to Destrolaric, Matvey16

[2022-10-20 03:05] #17162 closed, assigned to E1izabeth, Matvey16

[2022-10-20 06:14] Icemap commented on #17973
I tried 21.x version. It built success.
Did https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse guide outdated?
How can we debug 22.x version at Eclipse?
PTAL @serge-rider

[2022-10-20 08:00] SaSa1983 opened #17976 "SSH Tunnel through multiple JUMP Servers"
**Is your feature request related to a problem? Please describe.**
I have a ssh server to which i need to connect (on the shell) the following way:
ssh user@target -J user@jump01,user@jump02

From the target host I can reach the desired database server.
I'm currently unable to enter such a tunneling scenario in DBeaver.

**Describe the solution you'd like**
Redesign the of enable Jump-Server to al

[2022-10-20 08:09] E1izabeth commented on #17976
Thank you for feature request.

[2022-10-20 08:14] boardend commented on #17600
I have installed `pg_format` via the Ubuntu "pgformatter" package and it is working fine in Bash. But when I try to add it as an external formatter in DBeaver, I get `Cannot run program "pg_format": error=2, No such file or directory`. Could this be due to some sort of Snap sandboxing? (I'm on latest/stable 22.2.1.202209251341 from snapcraft.io)

[2022-10-20 08:30] johanjvrens commented on #16663
Hi @dm11111  - Open Driver Manager under the Database -> Driver Manager Menu:
Select AWS -> Athena this wil open Edit Driver 'Athena' menu
Then click on Add File and point to your AthenaJDBC42-2.0.33.jar file Then click on ok you can then resolve the class path and restart DBeaver This should work.

[2022-10-20 09:18] #17973 closed, assigned to nobody

[2022-10-20 09:23] E1izabeth commented on #17882
We add this option to the context menu only if eclipse's method `getLocation()` returns not null.
From the documentation:

I guess we could try using `getLocationURI()` also. Seems it may help in some cases.

[2022-10-20 09:32] esanumIT commented on #12761
Good day, is there any workaround for this, while we wait for the fix to make it to a release? :)

[2022-10-20 09:40] CelenaBb opened #17982 "Problem with sorting (ASCII)"
### Description

CREATE TABLE TEST1 (
ID NUMBER(38,0),
IP VARCHAR2(255)
);

INSERT INTO TEST1
(ID,IP )
VALUES(1,’1.2.3.4^110.0.0.2′);

INSERT INTO TEST1
(ID,IP )
VALUES(2, ‘110.0.0.0’);

INSERT INTO TEST1
(ID,IP )
VALUES(3, ‘110.0.0.2’);

according to ASCII character “.” is less than “1”

but in version 22.2.2.202210092258 The result of sorting

SELECT * FROM TEST1 ORDER BY IP

is:

110.0.0.0
110.

[2022-10-20 10:40] Nick-Nal opened #17983 "PostGIS geometry is not visible in 'Value' window"
### Description

Greetings

After release of PostgreSQL 15 last week, I decided to make a clean installation of new DB version and manually upload my geoanalytical pet-project from source SQL-code (not a dump/backup restoration, because I also needed to update some geo data, too).

Anyway, all worked out fine except the fact that DBeaver doesn't show anything in GIS viewer - all I got is a 'No edi

[2022-10-20 10:51] E1izabeth commented on #17983
Please, try switching Web engine setting to Internet Explorer. Does it help?

![189076967-0ccb360d-ed60-483e-b0b8-59494d0cfa6a.png](https://user-images.githubusercontent.com/28875055/196929360-7c0808ec-8360-4844-956a-8c3bcc9f8f4b.png)

[2022-10-20 11:03] Nick-Nal commented on #17983
Thanks a lot, it worked (after DBeaver restart)

[2022-10-20 11:03] #17983 closed, assigned to nobody

[2022-10-20 11:07] E1izabeth commented on #17983
Duplicate of #17746

[2022-10-20 11:16] E1izabeth commented on #17520
Sometimes we have `Not implemented [WebView2 runtime not found]` error which our users encounter even on Windows 10 with Edge. We handle this situation, but it leads to `No editor for [geometry]` message in value panel (#17746, #17983). We need to fallback to IE usage if Edge cannot be used as a web engine.

[2022-10-20 11:22] deciphr102 opened #17984 "How to install and use this in arm based linux"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-20 11:23] deciphr102 commented on #17984
none of the version working in arm based linux

[2022-10-20 11:25] E1izabeth commented on #17984
How are you trying to install DBeaver?
Which of the ways mentioned here https://dbeaver.io/download/ do you use?

What does it mean "none of the version working"? Do you have some error on DBeaver start?

[2022-10-20 11:31] E1izabeth commented on #17969
Can't reproduce on DBeaver 22.2.2 with PostgreSQL 12

[2022-10-20 12:11] E1izabeth commented on #17895
Can't reproduce. I have such button
![image](https://user-images.githubusercontent.com/28875055/196944878-4deb7ea0-08ab-470c-9780-5a609e9bcbb6.png)

[2022-10-20 12:23] plotn commented on #17969
@E1izabeth , let's check what you exaclty do. I did:

1. Open function, open DDL tab. Button "show permissions" is set initially to "on";
2. Edit the text of the function, but forgot to persist it (Ctrl-S);
3. Press "show permissions", button state becomes "off", all my editings immediatly lost.

What I expect:

1. When I press modificators (any of them) and there is unsaved function text - to sho

[2022-10-20 12:33] E1izabeth commented on #17969
Thank you for explanation. It's more clear for me now.

[2022-10-20 12:56] ShadelessFox commented on #17883
Hello @catarineu,

Have you tried using the [Metadata Search](https://github.com/dbeaver/dbeaver/wiki/DB-Metadata-Search) feature?

Expanding child nodes on search update is a bad UX. Everything will expand and collapse as you type.

[2022-10-20 13:04] Destrolaric commented on #17903
@0nehand Hi, I have looked into your connection pattern. You have a redundant curly bracket in your URL pattern. You can try to change `{{host}}` to `{host}`. Write me if it helps.

[2022-10-20 13:04] flambchap commented on #17919
Thank you for the idea.

[2022-10-20 13:05] ShadelessFox commented on #17521
Hello @MuellerAndr,

Don't mix transaction manager and SQL statements. Use just one of them.

Transaction manager uses JDBC API to start/end/commit transactions. The behavior depends on a given driver implementation and it may handle transactions differently from the database itself.

Additionally, we don't want to parse SQL statements and handle `COMMIT` and other statements ourselves.

[2022-10-20 13:05] #17521 closed, assigned to nobody

[2022-10-20 13:06] flambchap commented on #17934
Can you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-10-20 13:18] flambchap commented on #17939
From what I can see in the video, the script fails on the VACUUM statement. I suggest executing the script using the `Alt + X` shortcut.

[2022-10-20 13:23] flambchap commented on #17963
We have the mock data functionality in our EE and UE editions. I suggest trying them: https://dbeaver.com/download/.

[2022-10-20 13:25] #17964 closed, assigned to nobody

[2022-10-20 13:34] ShadelessFox commented on #17965
Hello @tudorpop9,

How exactly are you executing that block?

I suggest selecting it and pressing the `Ctrl+Enter` shortcut.

[2022-10-20 14:23] LonwoLonwo commented on #17982
Hello @CelenaBb

Unfortunately can't reproduce your issue.

![2022-10-20 17_13_05-DBeaver Ultimate 22 2 2 - _orcl_Script-190](https://user-images.githubusercontent.com/45152336/196974944-e05e77f6-d272-403b-bcca-a92aece96119.png)

Sorting from the client-side (DBeaver) and the server side is the same (Oracle).

I used Oracle Oracle Database 12c and the same driver as you.

[2022-10-20 15:16] CelenaBb commented on #17982
![image](https://user-images.githubusercontent.com/116263928/196988664-d32103f5-d072-4296-b23f-8b3740a0feb0.png)
![image](https://user-images.githubusercontent.com/116263928/196988737-99bce724-939f-4180-ae23-78d19a107445.png)

this is what I see sorting the table by pushing the sorting buttom

[2022-10-21 01:55] kbhoward commented on #17908
Looks like Dbeaver is still trying to network connect even though the url says embedded and the driver checkbox is marked 'Embedded'.  It is listed as 'localhost:3050'....see the first screenshot.

[2022-10-21 05:12] anantya-ncompass opened #17989 "Is there APIs to add, edit and delete users in dbeaver?"
I can't find any user management APIs in the DBeaver documentation. I need APIs to add, edit and remove user from BDeaver. Please provide me the documentation if available.

[2022-10-21 06:33] E1izabeth commented on #17989
What database do you use?

[2022-10-21 08:08] LonwoLonwo commented on #8303
Related #7402 #12404

[2022-10-21 08:43] JeamesHorn commented on #17865
any fixes for Mac OS Dbeaver?

[2022-10-21 08:48] E1izabeth commented on #17865
@JeamesHorn please, try workaround mentioned here https://github.com/dbeaver/dbeaver/issues/17865#issuecomment-1273928373
The fix will be available in the next release.

[2022-10-21 08:49] JeamesHorn commented on #17865
Hi - I cannot find the connection settings in the Mac OS userface unforunately, best I can get is PostGRE SQL driver settings but that box is not there for selecting

[2022-10-21 08:55] LonwoLonwo commented on #17865
Use can use F4 on your connection in the Database Navigator to open Connection settings

[2022-10-21 09:17] E1izabeth commented on #17908
Please, try 22.2.2 version

[2022-10-21 09:18] E1izabeth commented on #17908
Or maybe even better to wait for 22.2.3 release in a couple of days.

[2022-10-21 13:46] Seasawher commented on #17934
I understand. It may take some time. (maybe about a week)

[2022-10-21 14:33] Cimballi commented on #17857
I confirm the bug, my system locale is French, I try to switch to English but it's always back to French.

[2022-10-21 15:57] dmiska25 opened #17993 "Possible to edit SSL through console?"
I am attempting to leverage dbeavers [console connection parameters](https://dbeaver.com/docs/wiki/Command-Line/#connection-parameters) to add dbeaver support to a tool we use at my company. However, our db's use SSL. I have had some success adding a CA Certificate through the use of `prop.propName` for drivers that have the option listed in the `Driver Properties` screen, but we use others that d

[2022-10-21 17:25] 0nehand commented on #17903
Wow, that was it...  Great catch @Destrolaric !!  Thanks a lot for pointing that out.  Really curious how that ended up happening... but for now I'll chalk it up to user error I suppose!  All is good now.

[2022-10-21 17:25] #17903 closed, assigned to Destrolaric

[2022-10-21 18:18] Wang19961231 opened #17994 "SQL error [1305] [42000]"
### Description

 I can't save and use it when I connect to mysql and create procedure and function ( show SQL error [1305] [42000]). It works fine when I use other tools and Command line client.

### DBeaver Version

DBeaver Community 22.2.2

### Operating System

windows

### Database and driver

MySQL8.0

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-10-21 22:00] E1izabeth commented on #17994
Please, describe steps to reproduce. How exactly are you trying to create procedure and function?

[2022-10-22 06:33] Wang19961231 commented on #17994
I can't save and use it when I connect to MySQL and create procedure and function ( show SQL error [1305] [42000]). It works fine when I use other tools like navicat and Command line client.&nbsp;The attached pictures show the situation I encountered.&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-10-22 06:38] E1izabeth commented on #17994
I don't see attached images. Please, send them via github, because attached to reply email files do not appear here.

[2022-10-22 06:43] Wang19961231 commented on #17994
OK.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "dbeaver/dbeaver"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年10月22日(星期六) 下午2:38
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [dbeave

[2022-10-22 06:46] Wang19961231 commented on #17994
![微信图片_20221022014323](https://user-images.githubusercontent.com/75326829/197324728-0a3062ce-ed08-4998-8ef2-bab147a7252c.png)
![微信图片_20221022014316](https://user-images.githubusercontent.com/75326829/197324737-788e8a30-f9eb-47fa-9670-a2efc78b614f.png)

[2022-10-22 12:29] E1izabeth commented on #17994
The procedure was not created successful, because DBeaver consider blank line as a statement delimiter by default. You can turn off this setting here (see Blank line as a statement delimiter)
![image](https://user-images.githubusercontent.com/28875055/197339023-912dd78c-2a8f-4056-99cf-1962f4d3c861.png)

[2022-10-22 19:19] neslihann2525 commented on #17865
Actually there is another solution for this issue, you could click the "Edit Connection" of the connection, and there  "Data Editor" menu, enable the Datasource "connectionName" settings on the top of the window and enable "Use SQL to limit fetch size". After that, for the Community Edition 22.2.2 version, it gets datas fast as older versions.

![image](https://user-images.githubusercontent.com/45

[2022-10-22 22:37] #16440 closed, assigned to ShadelessFox, DariyaFedorova

[2022-10-22 23:22] Arbaz23 commented on #17914
hello, can i take this issue ?

[2022-10-23 05:08] Wang19961231 commented on #17994
After I turn this off, it still can't work.
![1666501479358](https://user-images.githubusercontent.com/75326829/197374919-e7f4f8ac-51ab-4b11-939b-2c90509a0249.png)
![1666501586976](https://user-images.githubusercontent.com/75326829/197374922-c39837a5-7b97-4c17-a465-9a00798ca60e.png)
![1666501604165](https://user-images.githubusercontent.com/75326829/197374923-988d53a0-c0a2-4da8-ac21-43906875281c.p

[2022-10-23 07:52] E1izabeth commented on #17994
How do you execute your script? Which button or hotkey do you use?

[2022-10-23 15:56] Wang19961231 commented on #17994
This one. When I execute the SQL, it shows 'Updated Rows -1'.
![1e798bfa0084ac7e6af8c19bda16a29](https://user-images.githubusercontent.com/75326829/197402419-9f2f505b-2f15-4b9e-8d7b-122be761c269.png)

[2022-10-23 16:04] E1izabeth commented on #17994
Where is your cursor at the moment when you press this button? Maybe you accidentally run another query instead of create procedure, because your script works for me.

Please, try using "Execute script" button (Alt + X hotkey) or highlight the whole statement and press the button which you are trying to use. I hope it should help.

[2022-10-23 16:06] Wang19961231 commented on #17994
Mine is the community version.
![1666541124377](https://user-images.githubusercontent.com/75326829/197402925-dfb48461-d1fb-409c-811a-52cec40b52cd.png)