[2022-11-18 11:16] alvinjg commented on #18133
Hi @ShadelessFox,
Yes, we have tried that approach to remove the Dbeaver plugins in application as a workaround. It worked.
But do we have plans to fix the issue even DBeaver plugins are selected? In Eclipse 202106 with Dbeaver 21.1.1.202106210824, we do not need to do this workaround.

[2022-11-18 11:25] Destrolaric commented on #9414
@wysokinskim Thank you, nice find!
It would be great if anyone could send the duplicate entries here before deleting them.

[2022-11-18 11:35] apurvc commented on #18239
@LonwoLonwo  unfortunately above advice didn't work .

What I have found is DbVisualizer and DbSchema also are having same issue even with latest simba  jdbc driver https://storage.googleapis.com/simba-bq-release/jdbc/SimbaJDBCDriverforGoogleBigQuery42_1.2.23.1027.zip (Google BigQuery Driver).

Only DataGrip which was recently updated the driver https://github.com/DataGrip/bigquery-jdbc-driver/rel

[2022-11-18 11:49] ShadelessFox commented on #18133
Sorry, I don't know how it worked before. This is a general solution that involves explicitly disabling non-required plugins.

[2022-11-18 11:59] ShadelessFox commented on #18188
Thanks for the log file.

According to its contents, it's actually the issue of the MySQL Connector/J driver.

According to [this StackOverflow answer](https://stackoverflow.com/a/48305493), the certificate must contain all the certificates of the chain.

[2022-11-18 12:18] hozn commented on #9414
I've removed the entries as others mention, but the problem persists for me (comes back after some usage).  I must be missing something ...

[2022-11-18 12:42] andrew-dixon commented on #9414
@hozn Mine did that as well after updating to a new version. I just had to go back into the `workbench.xmi` file and remove them again.

[2022-11-18 12:44] hozn commented on #9414
@andrew-dixon  -- thank you!  I will keep removing them in hopes that they stay removed! :)

[2022-11-18 13:04] zhangyangyu commented on #18188
The summary seems not right in this case. Because when I use the pem file with only the CA cert inside, the connection succeeds. It doesn't contain the intermediate cert(thus not all the certs of the chain included).

But the stackoverflow answer does give useful info. The keytool will only import the first cert in the cert bundle file. I think this is what need to be addressed.

[2022-11-18 14:18] mbaric commented on #10547
Hey guys.
[open-database-object-error.log](https://github.com/dbeaver/dbeaver/files/10042028/open-database-object-error.log)

I managed to reproduce it. Here is Error log exported.

[2022-11-18 14:29] E1izabeth commented on #10547
@mbaric thank you!

[2022-11-18 14:36] mbaric commented on #10547
@E1izabeth no worries.let me know if you'll need more info. Cheers and thank you for super awesome Dbeaver app.

[2022-11-18 20:14] jserafim commented on #6591
I'm having the same problem described by @michalk-k , the automatic upper case is not working in version 22.2.4.202211061524

It was working before, in version 22.0.3.202204170718 , so it is definitely a bug.

It would also be great to have these settings unified with 4 options, as described by @pyrocks .

[2022-11-18 20:49] E1izabeth opened #18265 "NPE while opening data source selector for script without data source"
### Description

[code]

### DBeaver Version

DBeaver 22.2.5

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-18 21:40] MarkA1 commented on #9414
How timely: after 11 days of this working with removed bindings (longer than it ever went before), the issue came back today.

@Destrolaric:  Here are the bindings I removed, the commands with matching IDs, and the new bindings that get auto-generated on restart/exit after removing the initial bindings:

[code]
One other item of note, which may just be a coincidence, I had the bindings file open i

[2022-11-19 16:55] chelebarry commented on #8489
The find in the output query grid should be review when using the grid view some string you are searching for is not found sometimes, I get a "String not found" now if I use the text view and do the search for exactly the same string I do find what I want.

[2022-11-20 07:27] pyrocks commented on #6591
I confirm. It was working correctly in the previous version 22.2.3 - but stopped working on 2.2.4 without changing any setting.

[2022-11-20 07:28] pyrocks commented on #6591
@uslss don't know if you guys saw it because it's a revived old one. just in case...

[2022-11-20 23:00] serge-rider opened #18271 "Data export button enhancements"
- Show current command name instead of default "Export data"
- Remove `...` from Export Data action title

[2022-11-21 01:44] Sidewindr opened #18272 "Ctrl-Tab and Ctrl-Shift-Tab to move between tabs."
Hi,

Presently there appears to be no keyboard shortcut to switch between tabs in DBeaver.  It would be nice to be able to switch tabs forward with Ctrl-Tab and backward with Ctrl-Shift-Tab like you can with Tabs in Chrome for example.  I am surprised that this has never been implemented.

Cheers,
Jason.

[2022-11-21 01:46] duzhaofa opened #18273 "The problem of Chinese translation"
### Description

Right click on the opening tab, [close all] option should be called [全部关闭], but now is [关闭关闭]。

### DBeaver Version

DBeaver Community 22.2.5

### Operating System

Windows 11

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-21 01:46] Sidewindr commented on #18272
Never mind .. I found how to do this.. :)

[2022-11-21 01:46] #18272 closed, assigned to nobody

[2022-11-21 02:22] pengwanli commented on #18220
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/10051947/dbeaver-debug.log)
 The Presto's database is  PrestoDB .
@ShadelessFox
Maybe I think error is ' Method DatabaseMetaData.getTypeInfo is not yet implemented'

[2022-11-21 04:46] DamijanD opened #18274 "Unable to set result fetch size in 22.2.5"
### Description

Unable to set result fetch size in 22.2.5
![image](https://user-images.githubusercontent.com/44526436/202967406-eb3a24cf-7375-4c3f-9047-1b58ff7a27ea.png)
Before it was like:
![image](https://user-images.githubusercontent.com/44526436/202967459-e4984e57-0f24-48bf-94dd-739da037d3b0.png)

Maybe there is a setting somewhere but I can't find it - anyway this possibility to set fetch si

[2022-11-21 05:05] vishal9565 commented on #8800
![image](https://user-images.githubusercontent.com/14247461/202969583-77b99472-7b85-4192-b306-f86f9350698b.png)
``` snap connect mysql-workbench-community:password-manager-service ```

``` snap connect mysql-workbench-community:ssh-keys ```

[2022-11-21 07:40] LonwoLonwo commented on #18274
Hello @DamijanD

What database do you use?

[2022-11-21 07:43] DamijanD commented on #18274
This was tested with oracle (jdbc)

[2022-11-21 07:48] BorisPoscredit commented on #18131
With version 22.2.5 the bug is fixed. Thank you!

[2022-11-21 08:04] mopsik10 opened #18275 "Return the button "execute SQL in new tab""
Please bring back the "execute SQL in new tab" button.
Sometimes you need to run several scripts quickly and compare the result. Without this button it is very inconvenient.
![image](https://user-images.githubusercontent.com/69254183/202996486-aaa6c9e6-d154-438f-b4a8-bed45f1183bb.png)
Button disappeared in version 22.2.5.202211202223

[2022-11-21 08:06] LonwoLonwo commented on #18274
![2022-11-21 11_04_40-DBeaver Enterprise 22 2 5 - _MySQL 5 5_ Script-83](https://user-images.githubusercontent.com/45152336/202996789-07bf9254-2f62-4913-bb6d-ea46edb5def2.png)

You can use the "Configure" button to go to the preferences.

[2022-11-21 08:15] Destrolaric commented on #18273
![image](https://user-images.githubusercontent.com/20579256/202998630-40edef6f-23cb-43ca-9c0e-3e18482b7215.png)
I agree. It looks weird.

[2022-11-21 08:20] LonwoLonwo commented on #18273
Hello @duzhaofa

Thanks for the bug report. This ticket is a duplicate of https://github.com/dbeaver/dbeaver/issues/17697

You can read more info about his problem there.

[2022-11-21 08:20] #18273 closed, assigned to nobody

[2022-11-21 08:24] anita970120 opened #18276 "pg_restore Error: could not execute query: ERROR: cannot execute CREATE INDEX in a read-only transaction"
### Description

One database in the server turned into a read-only transaction when I was trying to restore some sql files on this server and the back-up files are failed to be restored.
[restore_geogrid.txt](https://github.com/dbeaver/dbeaver/files/10054609/restore_geogrid.txt)

### DBeaver Version

Version 22.2.1

### Operating System

Windows Server 2016 Datacenter

### Database and driver

1.

[2022-11-21 08:26] E1izabeth commented on #18183
@amanda-mason please, try DBeaver 22.2.5. Is your issue solved?

[2022-11-21 08:27] DamijanD commented on #18274
Yes I can -  but I don't know if this is by design or it is a bug that this option is now removed from status bar. Anyway in my humble opinion this was very useful to have it here where you need it and (if this is by design) I would say that this change is step back

[2022-11-21 08:38] LonwoLonwo commented on #18262
Hello @divsri

If you have a SELECT statement - you can look on the right side of the lower toolbar.

![2022-11-21 11_33_15-DBeaver Enterprise 22 2 5 - _MySQL 5 5_ Script-83](https://user-images.githubusercontent.com/45152336/203003219-05f0693c-550d-4b90-9a7e-80faf668fbcd.png)

Or you can open the [Query manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager). The query manager has the "Du

[2022-11-21 08:56] Destrolaric commented on #16197
### -- Acceptance criteria --
- [ ] Shows new additional information popup when selecting the JDBC table
- [ ] Shows information about columns if the JDBC table is selected
- [ ] Shows keyword information(if supported for database)
- [ ] Shows metadata information about schemas similarly to old dialog.

[2022-11-21 09:23] LonwoLonwo commented on #16214
Can't reproduce against in DBeaver 22.2.5

![2022-11-21 12_21_51-DBeaver Enterprise 22 2 5 - _postgres_ Script-34](https://user-images.githubusercontent.com/45152336/203013176-1daa9490-c339-44db-bcef-cff688354285.png)

[2022-11-21 09:30] LonwoLonwo commented on #16419
Hello @LjzMorn

Can you please check? Is this issue actually in the current DBeaver release? https://dbeaver.io/download/

[2022-11-21 09:37] LonwoLonwo commented on #18276
Hello @anita970120

It is not clear for now.

In the attached file, you have an error:

[code]

But in the steps you have:

`cannot execute CREATE INDEX in a read-only transaction`

What is your main problem?

![2022-11-21 12_35_57-DBeaver Enterprise 22 2 5 - try_table](https://user-images.githubusercontent.com/45152336/203016328-1f9323d5-425e-4714-a4ef-c41f93aeaf2a.png)

Also, can you please chec

[2022-11-21 09:38] E1izabeth commented on #17607
The second NPE seems to be fixed.

[2022-11-21 09:40] anita970120 commented on #18276
Hi,
the main problem is "cannot execute CREATE INDEX in a read-only transaction", which is also written in the attached file.
The button is always set as unlocked.

[2022-11-21 09:52] E1izabeth commented on #17740
@artemiuss could you check if the issue is still actual for the latest DBeaver version?

[2022-11-21 09:54] E1izabeth commented on #17740
The issue is actual for DBeaver 22.2.5, it was reproduced.

[2022-11-21 09:57] LonwoLonwo commented on #17740
![2022-11-21 12_52_37-DBeaver 22 2 5 - _localhost 2_ Script-31](https://user-images.githubusercontent.com/45152336/203020480-317a197b-ffd9-45fb-841e-f451dab019b2.png)

Steps:
1. Open the non-default catalog with procedures in the Navigator.
2. Use "Execute Stored procedure" on any procedure. SQL Editor will appear with the call statement.
3. Use Ctrl+Click on the procedure name in the SQL Editor.

[2022-11-21 11:27] uslss commented on #18145
@igor2x, thanks for the report, and sorry for the late response.
Could you check if the issue is reproducible for you against the recent version (22.2.5)?

[2022-11-21 11:49] lewis1277 opened #18279 "Improve Dark Theme"
**Is your feature request related to a problem? Please describe.**
The current dark theme is good, but lacking in various areas, resulting in an ugly look when using it compared to the default light mode. Areas like the context menu being white, the scrollbars being white and the colour of text being black in contrast to the current theme are frustrating.

**Describe the solution you'd like**
At c

[2022-11-21 12:38] hozdenoren commented on #18279
Related to #17787

[2022-11-21 12:41] E1izabeth commented on #18275
This command is still available through context menu

![image](https://user-images.githubusercontent.com/28875055/203057672-b57f87ee-4ffd-4d3f-9f8f-3c90deb82ab9.png)

or by shortcut
![image](https://user-images.githubusercontent.com/28875055/203057416-68568aaa-a2bf-4a82-b6d3-b21b7b2dd821.png)

[2022-11-21 13:25] igor2x commented on #18122
1. I have upgraded DBeaver from **Help | Check for Updates** and closed down BDeaver.
2. I started DBeaver and from **Help | About** there is _DBeaver Community Edition 22.2.5__ displayed. This problem should be fixed in this version.
3. Repeat all steps from first post of this bug report and there is still exactly the same problem.

Can you please reopen this bug report.

[2022-11-21 14:03] weaver543 commented on #9414
I REALLY hope this bug is fixed soon.  DBeaver is amazing on Windows but since forced to migrate to Mac, I just cannot get used to using different keys for beginning/end of line, other than home/end, which works fine remapped in all other Mac applications

[2022-11-21 14:20] Gabriel-Voyager commented on #18274
Also for me this change is a step back, i usually change the fetch size many times at once executing query.
I ve to return to the 22.2.3

[2022-11-21 14:30] igor2x commented on #18145
I retested in DBeaver 22.2.5 and in step 18 now it is displayed:
![image](https://user-images.githubusercontent.com/10895030/203077318-6b180ca7-d1c5-43ae-93d6-20cb4b4da6ae.png)

It is little bit strange just "parent" member and no "child" member is displayed. I expect to get the parent/child logic like in step 18 from my first post. I don't know if this is intentional or a **new** bug trying to fi

[2022-11-21 14:33] apdma commented on #18274
Agree.
I'm used to changing the number of fetch with one click. Now need to go somewhere else to do this.
Also, I think it's UI bug because of this
![image](https://user-images.githubusercontent.com/91953047/203080874-fc63ba5e-8842-449e-ab95-9a2aca265561.png)

[2022-11-21 14:41] scottlapoint commented on #17146
That did the trick! I had no idea that setting was there! Works great now!
![Screen Shot 2022-11-21 at 10 40 46 AM](https://user-images.githubusercontent.com/24252132/203082969-e944aa53-0aef-41d1-8eb7-c9cdc23d25c0.jpg)

[2022-11-21 14:41] #17146 closed, assigned to nobody

[2022-11-21 15:33] LonwoLonwo commented on #18276
Can you please check this statement?

`SELECT pg_is_in_recovery()`

true -> Database has only Read Access
false -> Database has full Access

[2022-11-21 15:58] LonwoLonwo commented on #18276
Also, this discussion can be helpful https://stackoverflow.com/questions/31186414/error-cannot-execute-create-table-in-a-read-only-transaction

[2022-11-21 16:16] sfscgjohnson opened #18281 "Maintain State between application loads"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I exit the application, restart my computer, or force quit because it requests saving all of my files which most of them are working and I never want to save them.

**Describe the solution you'd like**
When I close the application it saves my current state and loads that when I come back to DBeaver.  This

[2022-11-21 16:47] LonwoLonwo commented on #17146
Thanks for the answer @scottlapoint

[2022-11-21 18:36] artemiuss commented on #18274
In addition, the "Fetch All" button has now disappeared. I'm disappointed.

[2022-11-21 18:58] D-750 commented on #18274
please bring back the 'fetch' buttons!

[2022-11-21 19:00] D-750 commented on #18275
Please bring back the button!
There is space enough in the vertical bar..

[2022-11-21 19:50] serge-rider commented on #18275
Yes, we have space for it but too many buttons confuse people.
For experienced users there are shortcuts and context menus.

However, maybe we could make it configurable..

[2022-11-21 21:10] D-750 commented on #18275
Yes, I do use the shortcut now however I prefer to make it configurable.

[2022-11-21 22:37] amanda-mason commented on #18183
@LonwoLonwo @E1izabeth Works perfectly in 22.2.5! Thank you both so much for your help!!

[2022-11-21 22:37] #18183 closed, assigned to nobody

[2022-11-22 00:08] ShadelessFox commented on #18281
Hello @sfscgjohnson,

I believe you're referring to the auto-save feature. If all editors' have their contents saved, there's nothing to prompt about.

DBeaver has this feature:

![image](https://user-images.githubusercontent.com/35821147/203183065-7b86d330-b0fb-4eee-bcd0-81fec13e59dd.png)

Please let me know if your issue was solved.

[2022-11-22 00:10] ShadelessFox commented on #18279
Hello @lewis1277,

White components are mostly native ones, so they match the OS theme. Are you using the dark theme in your OS?

[2022-11-22 00:12] lewis1277 commented on #18279
yes, for Windows 11 (Update 22H2)
my issue is most likely related to the one quoted by @hozdenoren above

[2022-11-22 00:15] ShadelessFox commented on #18279
I see. Thanks for providing extra information.

Indeed, it looks like the same issue, and I will close this one as a duplicate then.

Duplicate of https://github.com/dbeaver/dbeaver/issues/17787

[2022-11-22 00:15] #18279 closed, assigned to nobody

[2022-11-22 00:41] flambchap commented on #5620
Since we use Java 17 now, maybe we can use `jpackage` for that.

[2022-11-22 00:58] rburke-orthofi opened #18289 "Start DBeaver on installer close."
**Is your feature request related to a problem? Please describe.**
I open DBeaver, do an upgrade, then it doesn't reopen. If I open DBeaver I'm more than likely wanting to use it, not just upgrade it.

**Describe the solution you'd like**
A checkbox (pre-checked) indicating I want DBeaver to run after installer is closed.

Many applications work like this.

[2022-11-22 01:10] hrbruen opened #18290 "22.5 changes"
Just some feedback.

~Query Editor - Top and bottom action toolbars were redesigned  - why? Why muck around with things that worked. Where is the button to run the query and output it to a new tab? "Pin"ing the tabs is very sub-optimal. How can I get it to go back the way it was?~

Property editors (all of them). 2 years on and there is still not enough room in the editors to allow me to view and

[2022-11-22 01:39] LjzMorn commented on #16419
Hi @LonwoLonwo ,
![image](https://user-images.githubusercontent.com/104968827/203194828-7a8f6be3-8900-42c0-a0b9-fcfe5249ad73.png)
Yes,Same as report.

Log↓
!ENTRY org.jkiss.dbeaver.model 4 0 2022-11-22 09:39:04.175
!MESSAGE Locale not recognized
!SUBENTRY 1 org.jkiss.dbeaver.model 4 0 2022-11-22 09:39:04.175
!MESSAGE Locale not recognized
!STACK 0
java.sql.SQLException: Locale not recognized
	at o

[2022-11-22 01:49] jshmlr commented on #18131
Thank you team for turning this around so quickly!

[2022-11-22 01:54] ShadelessFox commented on #18289
Hello @rburke-orthofi,

Thank you for your request.

What is your OS?

[2022-11-22 03:48] pgnd opened #18292 "[SOLVED] sqlite3 db inaccessible (Unable to open the database file) in Dbeaver; OK in cli & Beekeper ?"
### Description

i've an sqlite3 db,
[code]

it passes sqlite3 check
[code]

from sqlite3 cmd line, it's readable, editable, usable.

the app which created/populated it (a laravel9 install), has no issues opening/modifying it.

with
[code]

i create the connection, DL the JDBS driver, and try to open; fails with,
[code]

in DBeaver's connection settings
[code]

& @ driver settings, library is
[cod

[2022-11-22 04:45] pgnd commented on #18292
it's never where you look first, is it?  sigh.

the issue is *flatpak* ... this is the flatpak install of DBeaver

installed Flatseal

gave explicit permission to the DBeaver flatpak for filesystem path -> /data/db/sqlite

now, no more issue with DBeaver -- access to the DB is good

[2022-11-22 04:45] #18292 closed, assigned to nobody

[2022-11-22 05:03] GabrielKNdara opened #18293 "Connecting to sql server"
### Description

Hi guys .

I'm new to Dbeaver and mx linux. I want to connect dbeaver to  mssql server, yet i don't how, please help.
![Screenshot_2022-11-22_06-49-55](https://user-images.githubusercontent.com/52117833/203224824-8466444a-de62-46a3-9373-be70783b4d19.png)

### DBeaver Version

community edition 21.0.5

### Operating System

mx linux 21

### Database and driver

ms sql server

### S

[2022-11-22 06:15] jog-ioki commented on #18117
Same issue for DBeaver Version Version 22.2.5.202211202223 on macOS Ventura 13.0.1. Let me know if You need debugging info, but i assume You already know what the issue is?

[2022-11-22 08:16] LonwoLonwo commented on #18274
Hello everyone. You can vote with any emoji on the main topic to help us understand - that this feature was essential for you.

[2022-11-22 09:03] LonwoLonwo commented on #18293
Hello @ProgrammerGabs

Perhaps you can not use Windows Authentication for your Linux machine.
You can use SQL Server Authentication with the login and password. SQL Server localhost database usually have user 'sa' as default.
And usually, you need to use [SQL Sever configuration manager](https://learn.microsoft.com/en-us/sql/relational-databases/sql-server-configuration-manager?view=sql-server-ver

[2022-11-22 09:12] Matvey16 commented on #18221
Verified

[2022-11-22 09:12] #18221 closed, assigned to Matvey16

[2022-11-22 09:33] Alieladi commented on #6131
One can also change it in Window -> Preferences -> General -> Keys. For toggle Block/Line Comment, replace binding (Ctrl+Shift+/) to Ctrl+Shift+7

[2022-11-22 09:47] anita970120 commented on #18276
I checked it, the result shows false. However, within the restore process, the database changed into read-only mode automatically. Now the situation is, the data in the table was restored, but the indexes were empty. Is that possible that I create the indexes manually for the restored data?

[2022-11-22 09:56] plotn opened #18294 "Wrong PG timestamp type code generation"
### Description

I opened (working) function and I see code:

create or replace function repl_log.repl_log_start (
  p_entity          text,
  p_d_period_start  timestamp default null without time zone,
  p_d_period_end    timestamp default null without time zone,

....

So I guess that function header was generated by DBEaver and the type should be:

timestamp without time zone default null

inst

[2022-11-22 10:16] anita970120 commented on #18276
Hi @LonwoLonwo ,

I think I found the problem. The storage of my server is full, so it turns into the read-only mode. Let's see whether the problem could be solved after the storage size is enhanced.

Thanks for you support anyways.

[2022-11-22 10:44] lincoln310 commented on #7976
Why do I have to install postgresql on my Mac? Does it only need a client?

[2022-11-22 11:09] Destrolaric commented on #18117
Yes, sorry for the late response, unfortunately, it's an Apple Webkit issue. We can't do anything except fully disable the gis editor until it is fixed. It only applies to Intel Ventura macOS so the only possible workaround is a system version downgrade.

[2022-11-22 11:11] LonwoLonwo commented on #18276
Any time. I will wait for your answer about storage enhancement.

[2022-11-22 11:15] LonwoLonwo commented on #18294
Hello @plotn

Can you please provide the full function DDL example for the tests?

[2022-11-22 11:19] LonwoLonwo commented on #18294
DBeaver reads functions DDL differently, but usually, it just does

`SELECT pg_get_functiondef(<objectId>);`

https://github.com/dbeaver/dbeaver/blob/devel/plugins/org.jkiss.dbeaver.ext.postgresql/src/org/jkiss/dbeaver/ext/postgresql/model/PostgreProcedure.java#L421

[2022-11-22 11:22] pkExec opened #18295 "Fetch all button missing from UI"
### Description

There used to be a button in the bottom toolbar "Fetch all rows", as per the documentation:
https://dbeaver.com/docs/wiki/Navigation/#data-rows

This button has disappeared. I can only find the related command in the "Navigate" menu.

### DBeaver Version

Community Edition 22.2.5.202211202223

### Operating System

Windows 10 64bit

### Database and driver

PostgreSQL 11

### Step

[2022-11-22 11:23] E1izabeth commented on #18295
It's a duplicate of #18274
Please, see the discussion there.

[2022-11-22 11:23] #18295 closed, assigned to nobody

[2022-11-22 11:24] uslss commented on #18290
#18275

[2022-11-22 11:37] plotn commented on #18294
create or replace function repl_log.repl_log_start (
  p_entity          text,
  p_d_period_start  timestamp default null without time zone,
  p_d_period_end    timestamp default null without time zone,
  p_comment_text    text      default null,
  p_entity_modifier text      default null,
  p_sql_err_code    text      default null,
  p_sql_err_message text      default null,
  p_snapshot_id     b

[2022-11-22 11:42] plotn commented on #18294
SELECT pg_get_functiondef(<objectId>) returns:

CREATE OR REPLACE FUNCTION repl_log.repl_log_start(p_entity text, p_d_period_start timestamp without time zone DEFAULT NULL::timestamp without time zone, p_d_period_end timestamp without time zone DEFAULT NULL::timestamp without time zone, p_comment_text text DEFAULT NULL::text, p_entity_modifier text DEFAULT NULL::text, p_sql_err_code text DEFAULT N

[2022-11-22 11:46] plotn commented on #18294
Sorry!!!!
This is our fork of DBeaver, the error is inside it.

[2022-11-22 11:46] #18294 closed, assigned to nobody

[2022-11-22 11:48] LonwoLonwo commented on #18294
Ok :)

[2022-11-22 11:49] E1izabeth commented on #18289
This issue looks like a duplicate of #17878

[2022-11-22 12:15] hrbruen opened #18296 "22.5.2 is GARBAGE"
### Description

This release is unmitigated crap. Full of un-necessary changes and just to top it off you have re-instituted the java over errors again.
Get a grip folks!
Back to the previous release for me.
No need to reply
![image](https://user-images.githubusercontent.com/69578129/203311309-28b3d41c-e745-47bc-8f06-7b9164b21d1d.png)

### DBeaver Version

The latest junk

### Operating System

_

[2022-11-22 12:18] #18296 closed, assigned to nobody

[2022-11-22 12:51] jog-ioki commented on #18117
No reason to say sorry! Thanks for the update and keep up the good work. Love the tool!

[2022-11-22 12:59] #18243 closed, assigned to LonwoLonwo, Matvey16

[2022-11-22 12:59] #18156 closed, assigned to flambchap, uslss

[2022-11-22 13:11] hawkdoc-mtp commented on #18252
Really? No one has any information about DBeaver trying to open a port that is different from the default on specified?

[2022-11-22 13:18] ShadelessFox commented on #18252
It might be something with the driver. We need to investigate this issue.

[2022-11-22 13:28] #18289 closed, assigned to nobody

[2022-11-22 14:35] MohitMannaMAF commented on #18090
I got similar error. Only difference I am using this class com.simba.athena.amazonaws.auth.DefaultAWSCredentialsProviderChain

[2022-11-22 14:39] #18271 closed, assigned to ShadelessFox, Matvey16

[2022-11-22 15:49] marc-hawke commented on #18274
I use the FetchAll hundreds of times a day.   I found it nested in the Navigate menu (doesn't seem like navigation..shouldn't it be data? or even 'sql editor')  and that told me the hot-key, but it still seems like a button worth having.  They could just have it be tied to the 'count rows' button that's there.   Clicking it again would fetch the rows it just counted.  ;)

[2022-11-22 16:37] LonwoLonwo commented on #18263
Thanks for the idea @hski-github

As I can see, many functions DBeaver doesn't support.

![2022-11-22 19_36_04-DBeaver Ultimate 22 2 5 - _localhost 5_ Script-76](https://user-images.githubusercontent.com/45152336/203370384-0069d65b-1603-4a7a-bbdc-1b2fa9c25e5f.png)

![2022-11-22 19_36_25-DBeaver Ultimate 22 2 5 - _localhost 5_ Script-76](https://user-images.githubusercontent.com/45152336/203370386-

[2022-11-22 18:27] brother-z commented on #18017
Noticed that in 22.2.5 you added jump servers for SSHJ, so I just tried it out. Unfortunately it behaves the same as JSch - "test tunnel" works fine, "test connection" uses my Windows login instead of configured one.
I noticed two more things:
- if I configure my user name to something longer than single letter, it still behaves the same, so it's not some off by one, it's just confused :)
- SSHJ h

[2022-11-22 19:48] serge-rider opened #18300 "Configure SQL editor toolbar"
We want to have customization of SQL editor toolbar.
Additional actins like "Execute in new script", "Export from query" and other may be placed on the vertical toolbar.

By default only execute, execute script and explain plan should be visible.

[2022-11-22 19:50] serge-rider commented on #18275
Further improvements will be implemented in #18300

Fix in `devel`.

[2022-11-22 21:17] codearoo opened #18301 "Button to load all records from result set is gone"
Before one of the most recent changes, there was a button at the bottom of a query result set that you could press to load all the records. Now it's been replaced with a button the CALCULATE how many records (which is nice), but the ability to load all the result set seems to be gone!

[2022-11-22 21:29] codearoo opened #18302 "Configuration to limit result set by SQL does not seem to work"
### Description

I would expect that turning on "Use SQL to limit fetch size" would actually show SQL modification somewhere.
![image](https://user-images.githubusercontent.com/1846799/203423873-1cbf0a3a-5067-4889-8850-4006e4a944ef.png)

But I don't see that shown anywhere...
![image](https://user-images.githubusercontent.com/1846799/203424079-9dd669aa-90b9-419a-92e6-5677b4dea6ac.png)

And there a

[2022-11-22 21:33] NHYurdd commented on #18301
Having the same issue with v22.2.5.   The Load All Records button is gone.

[2022-11-22 21:35] NHYurdd commented on #18275
Yes, please bring back this run SQL in new tab button.  Having it buried in a configuration setting is confusing for basic users.

[2022-11-22 22:41] michal-bartak commented on #6591
Seems v22.2.5 fixes automatic keywords conversion to uppercase

[2022-11-23 06:15] kbhoward commented on #17908
All,

I tried 22.2.5 on Debian, DBeaver said something about drivers missing, I forced download and overwrite.
Using a JDBC connection URL of jdbc:firebirdsql:embedded:/home/keith/file.fdb gives me an "unexpected driver error".
Removing the last colon so URL looks like this, jdbc:firebirdsql:embedded/home/keith/file.fdb gives an error of "Your user name and password are not defined. Ask your datab

[2022-11-23 07:52] alesc2000 commented on #7114
Multiple rows of editor tabs is really needed for many of us... I hope you'll consider implementing it soon. Thanks!
![image](https://user-images.githubusercontent.com/19900533/203495358-7c7a32d6-acf9-458b-a8f2-ddc0a03998f7.png)

[2022-11-23 08:13] alesc2000 commented on #16050
Multiple rows of editor tabs is really needed for many of us... I hope you'll consider implementing it soon. Thanks!

![image](https://user-images.githubusercontent.com/19900533/203498434-a441ffeb-7dab-42fb-830d-a31ee2b0e9c0.png)

[2022-11-23 08:14] ahhmedbilal commented on #7114
https://github.com/dbeaver/dbeaver/issues/7114#issuecomment-1113955296
Now i think all of us are having big screen, so for small monitor one row is ok but for big screen multiple rows must be enabled. This will make our life easier in switching tabs.

[2022-11-23 08:54] ThePnut opened #18306 "Intalled, but won't open"
### Description

I've installed this for the first time, but it will not run.
Also, If I try to uninstall it, I get this error NSIS ERROR: Error launching installer

Error Log Attatched
[1669192683350.log](https://github.com/dbeaver/dbeaver/files/10073899/1669192683350.log)

### DBeaver Version

22.2.25

### Operating System

Windows 10

### Database and driver

_No response_

### Steps to reprodu

[2022-11-23 10:22] uslss commented on #18275
verified.
Fix will be available in 22.3.0 (December 4, 2022)

[2022-11-23 10:22] #18275 closed, assigned to serge-rider, uslss

[2022-11-23 10:35] rccc commented on #16293
Hello,

In my case checking "Expand navigation tree on connect" and settings the restore depth to "3" does not have any effects.

I can't stand to click so many times anymore. Do not want to use dbeaver anymore because of this.

Dbeaver community 22.2.5 on Debian 10.

[2022-11-23 11:12] qupear commented on #17763
Upvoting this issue. But for me it happens only with 22.2.5 version. BTW is it possible to disable a tab with statistics through dbeaver settings until fix?

[2022-11-23 11:46] iraidaa opened #18307 "Add additional article regarding the '... (SSL) encryption. Error: "PKIX path building failed:...' error"
There is an article https://dbeaver.com/docs/wiki/Importing-CA-Certificates-into-DBeaver/  contains information about the possible cause of the '_The driver could not establish a secure connection to SQL Server by using Secure Sockets Layer (SSL) encryption. Error: "PKIX path building failed:..._' error - Java certificates. But this article describes not the only reason and not the only solution f

[2022-11-23 11:51] iraidaa opened #18308 "Add informtion regarding the license and .dat files"
Add the instruction here https://dbeaver.com/docs/wiki/License-Administration/

[2022-11-23 12:40] inliquid opened #18309 "Can't install PostgreSQL drivers after clean Windows 10 reinstallation"
### Description

This is first time I encounter such a problem. I installed DBeaver many times and never seen this before.
It's Windows 10 clean install with just a couple of tools including Docker and DBeaver. After configuring some quick connection to local PostgreSQL DB, DBeaver was unable to fetch PostgreSQL drivers:

[code]

![изображение](https://user-images.githubusercontent.com/6797881/203

[2022-11-23 12:47] #14866 closed, assigned to E1izabeth, uslss

[2022-11-23 12:50] E1izabeth commented on #18309
Could you try switching the preference `Use Windows truststore` off and restart DBeaver?
![image](https://user-images.githubusercontent.com/28875055/203551141-6d4af2aa-d68c-4945-93f8-62de21dddeee.png)

[2022-11-23 12:53] liukekeke opened #18310 "unhandled due to prior sendError"
### Description

19:12:47.694 [main] INFO  o.e.j.s.s.DefaultSessionIdManager - Session workerName=
19:12:47.765 [main] INFO  o.e.j.server.handler.ContextHandler - Started o.e.j.s.ServletContextHandler@375084c9{/,file:///root/liuke/cloudbeaver/web/,AVAILABLE}
19:12:47.795 [main] INFO  o.e.jetty.server.AbstractConnector - Started ServerConnector@502a4156{HTTP/1.1, (http/1.1)}{0.0.0.0:8978}
19:12:47.

[2022-11-23 12:58] inliquid commented on #18309
@E1izabeth thanks, that helped. Is it supposed to be disabled? If so why it's enabled by default?

I just checked another Windows 10 machine and it has "Use Windows trust store" enabled, and everything seems to work fine. Configuration of the system is pretty much the same as well as internet connection.

[2022-11-23 13:04] E1izabeth commented on #18309
It's enabled by default.
We are not sure why this issue happens on one machines and everything is works on another yet. Besides that, some users has another issues when it's disabled, so, it's not planned to disable it by default now.
We are observing this issue now, maybe we will disable it by default in future.

[2022-11-23 13:12] bianyun1981 opened #18312 "Found some hard-coded cases where the localization properties file was not found (part 4)"
#### System information:
- Operating system (distribution) and version: Windows 11 Professional Edition (Simplified Chinese), 21H2
- DBeaver version: 22.2.5

#### Describe the problem you're observing:
After I updated the code of the develop branch to the latest version (last commit time: Sun Nov 20 23:35:31 2022 +0300, commit by plotn <plotnikovya@gmail.com>, commit hash: 7fb7c33fbf4fb9d99a1c42a6

[2022-11-23 13:37] LonwoLonwo commented on #17697
We probably need to update Eclipse Babel from our side first.

[2022-11-23 13:56] LonwoLonwo commented on #18310
Hello. Please provide more info about your problem. At least - steps to reproduce.

[2022-11-23 14:32] huths0lo opened #18313 "Postgres Foreign Key - Not using primary key without using console commands"
### Description

I have a table that uses a dual column unique row.  (i.e. ALTER TABLE someTable ADD UNIQUE (col1, col2)).  Now that this unique row constraint exists, if I try to set a foreign key that uses this table, its defaulting to the unique key, instead of the primary key "id".  The GUI wont let me change it, so I instead am copying the commands it generates, and then going to the console,

[2022-11-23 15:59] inliquid commented on #18309
Not sure if this is connected, but I also start seeing these errors when trying to perform some trivial actions like creating a role:
![изображение](https://user-images.githubusercontent.com/6797881/203592024-7e19dd86-5fae-4cd4-977d-dac8e6b6bd5c.png)

[2022-11-23 16:36] inliquid opened #18314 "Can't create role with GUI"
### Description

With recent updates creation of any additional role on PostgreSQL start throwing an error:

![изображение](https://user-images.githubusercontent.com/6797881/203599811-596f125c-7137-4af0-a8e7-1b18c105f495.png)

### DBeaver Version

Community Edition 22.2.5.202211202223

### Operating System

Windows 10 22H2

### Database and driver

_No response_

### Steps to reproduce

_No respon

[2022-11-23 17:09] DoctorKrolic opened #18315 "Please unify sql editor case preference in a single option"
There are currently 2 separate options for case preferences:
- Editors -> SQL Editor -> Code completion -> Insert case
- Editors -> SQL Editor -> Formatting -> Keyword case

I cannot come up with a single possible use case, where the user might preffer one option to be upper case and other to be lower. At the same time such behaviour might be confusing, because people usually expect the editor to

[2022-11-23 17:13] surpavan commented on #14866
Thank you.

[2022-11-23 17:14] DoctorKrolic opened #18316 "Sql keyword `into` is not suggested after `insert`"
### Description

`INSERT INTO ...` is a common well-known sql construct that doesn't depend on any specific sql dialect. However, dbeaver doesn't suggest `INTO` completion after `INSERT` when typing

### DBeaver Version

Community Edition 22.2.5

### Operating System

Windows 11 22H2

### Database and driver

PostgreSQL 14.5

### Steps to reproduce

1. Open SQL editor
2. Type `insert`
3. Type spac

[2022-11-23 18:48] LonwoLonwo commented on #18309
Ups. That's mine.

[2022-11-23 18:51] LonwoLonwo commented on #18314
Thanks for the bug report.

[2022-11-23 18:55] LonwoLonwo commented on #18306
Hello @ThePnut

`C:\Users\701438393\.swt\lib\win32\x86_64\swt-win32-4954r7.dll: Your organization used Device Guard to block this app. Contact your support person for more info`

Probably your problem is here? Seems to be some security restrictions on your machine.

[2022-11-23 19:10] LonwoLonwo commented on #18316
Thanks for the suggestion.

[2022-11-23 19:15] LonwoLonwo commented on #18313
Hello @huths0lo
Can't reproduce it for now.
Can you provide table examples please?

[2022-11-23 19:19] LonwoLonwo commented on #18302
Hello @codearoo

You can see your query with the fetch limit in the [Query Manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager).

It works in my case:

![2022-11-23 22_18_02-DBeaver Ultimate 22 2 5 - film](https://user-images.githubusercontent.com/45152336/203629715-1638cdc4-a54d-4667-9dd3-4e7d989176ae.png)

[2022-11-23 19:45] LonwoLonwo commented on #18259
Oh, this is a special, strange case for the SQLite and Firebird databases.
If you open this filter configuration dialog from any other database on the level of the tables - you will see this link.

![2022-11-23 22_32_44-DBeaver Ultimate 22 2 5 - film](https://user-images.githubusercontent.com/45152336/203633387-fef503ce-e07f-4bb3-8a2d-482ae0ce6bf3.png)

[2022-11-23 19:49] LonwoLonwo commented on #18074
Additionally, did you try to use performance datatransfer settings?

![2022-11-23 22_47_56-Data Transfer](https://user-images.githubusercontent.com/45152336/203634219-52fff50a-94f7-4d1c-b229-c2dab62a69a1.png)

Bulk load or multi-insert can increase loading performance dramatically.

[2022-11-23 21:30] codearoo commented on #18302
Oh. But if I can't edit that to rerun, what's the point?

On Wed, Nov 23, 2022, 2:20 PM Anastasiya ***@***.***> wrote:

[2022-11-23 22:44] givihuda commented on #3094
I'm not even seeing where to cancel... it's just counting up an Executing timer, nothing I do cancels it except closing DBeaver and my database program.

[2022-11-24 06:32] ivankovalenko commented on #6888
I've managed to create separate driver for Tibero and establish a connection but found some nuances.
There is a table with column A detected NUMBER by dbeaver. In Query column A/3 is returned as NUMBER(38,0) which does inproper round of returned value. Can this behavior be tuned in driver properties?

[2022-11-24 06:34] ivankovalenko commented on #6888
As for assistance for installing tibero - tmaxsoft (Tibero DB) does provide free trial vm with Tibero Database https://www.tmaxsoft.com/tibero-vm-download/. Hope that can move adoption Dbeaver for Tibero easier.

[2022-11-24 07:33] ThePnut commented on #18306
Hi,
Could this be the only reason? Just asking as other members in my team have no problems using the App.
Anything to do with my Java? etc.

[2022-11-24 08:08] LonwoLonwo commented on #18259
And this is expected behavior because your table filters in the SQLite are already global for your datasource.

[2022-11-24 08:08] #18259 closed, assigned to nobody

[2022-11-24 08:13] LonwoLonwo commented on #18302
To edit what?
You can copy your query from the Query manager and rerun it.

[2022-11-24 08:23] E1izabeth commented on #17776
@Trymzet does it work for you?

[2022-11-24 08:35] rpalloni opened #18319 "Hide not relevant schemas in projects tree"
Suppose you have a long list of schemas in a database but you mainly work only with some of them and you don't want to scroll up and down looking for those. It would be cool to have the possibility to hide non relevant schemas, like for example "everything that has TEST% naming"

[2022-11-24 08:41] anita970120 commented on #18276
Hi @LonwoLonwo ,
after implementing the storage enhancement, the restore went successfully.

[2022-11-24 10:51] LonwoLonwo commented on #18015
So. People. If you know - when we can find the newest Iris Cache driver - please let us know.

[2022-11-24 10:53] LonwoLonwo commented on #18243
Implemented.

![2022-11-17 14_53_23-DBeaver Ultimate 22 2 5 - Playlist](https://user-images.githubusercontent.com/45152336/202491242-25805acd-8962-4f93-ba19-8c3e47db0d61.png)

Will be available [here](https://dbeaver.io/) on 2022-12-05

[2022-11-24 11:24] aetonsi commented on #6213
Bump.

As of nov 24 2022, the issue is still present. `nvarchar` columns are filled with `null`s.

Changing column type to `varchar` fixes it, i tried locally. **But i cannot alter the client's database just to view data correctly in dbeaver.** Nor i can `CAST` every single textual field in every query. A simple `SELECT * FROM users` would become bloated with `CAST`s and absurd list of fields: the

[2022-11-24 11:36] uslss commented on #18319
Filters could be used in this case.
You can read more about it [here](https://github.com/dbeaver/dbeaver/wiki/Configure-Filters)

[2022-11-24 11:39] uslss commented on #18309
already fixed in #18314

[2022-11-24 11:51] #18314 closed, assigned to uslss, LonwoLonwo

[2022-11-24 12:43] nmoreaud opened #18322 "Open SQLite database file with drag&drop"
I would like to be able to open SQLite files easily by drag&drop from windows explorer to DBeaver.
Currently it opens a query tab with binary content.

[2022-11-24 12:44] nmoreaud opened #18323 "SQLite: "open with" DBeaver"
I would like to be able to open SQLite files easily by setting Windows "open with" setting to DBeaver.exe.
Currently it opens a DBeaver window having an open query tab with binary content.

[2022-11-24 12:56] #18274 closed, assigned to serge-rider, uslss

[2022-11-24 12:56] #18246 closed, assigned to ShadelessFox, Matvey16

[2022-11-24 13:14] codearoo commented on #18302
But the related point is that I can't get more than the fetch configuration
into my resultset because that button to get full results is gone.

A question I have though, if the limit is not in SQL, then how is it done?

On Thu, Nov 24, 2022, 3:13 AM Anastasiya ***@***.***> wrote:

[2022-11-24 13:20] ShadelessFox commented on #17857
https://github.com/dbeaver/dbeaver/issues/16187

[2022-11-24 13:45] LonwoLonwo commented on #18239
Does the BigQuery connection work for you with the previous driver?

[2022-11-24 13:48] ShadelessFox commented on #18252
Just to minimize the scope of potential problems, have you changed any of the driver properties?

[2022-11-24 13:49] ShadelessFox commented on #18258
Thank you for your report.

[2022-11-24 13:51] ShadelessFox commented on #18261
Hello @justinSmileDate,

Please take a look [here](https://github.com/dbeaver/dbeaver/tree/devel/plugins/org.jkiss.dbeaver.model/src/org/jkiss/dbeaver/model/impl/jdbc/exec).

[2022-11-24 13:52] #18261 closed, assigned to nobody

[2022-11-24 13:57] ShadelessFox commented on #18290
Hello @hrbruen,

Can you please show footage showing the second issue?

[2022-11-24 13:59] ShadelessFox commented on #18301
Fixed in #18274, it will be available with the next release.

[2022-11-24 13:59] #18301 closed, assigned to nobody

[2022-11-24 14:02] ShadelessFox commented on #18306
It doesn't seem like there's something wrong with your Java installation but with your Windows.

It has nothing to do with DBeaver, and we can't help, sorry.

Please contact your system administrator.

[2022-11-24 14:02] #18306 closed, assigned to nobody

[2022-11-24 14:05] hrbruen commented on #18290
#10204

[2022-11-24 14:20] ShadelessFox commented on #18322
Hello @nmoreaud,

Thank you for your request.

We can add a DND handler in the navigator that will prompt the user to create a new connection.

[2022-11-24 14:23] ShadelessFox commented on #18323
Hello @nmoreaud,

Thanks for the feature request.

Duplicate of https://github.com/dbeaver/dbeaver/issues/15395

[2022-11-24 14:23] #18323 closed, assigned to nobody

[2022-11-24 14:23] gqcdm commented on #8129
+1 gnome+wayland+dbeaver

[2022-11-24 14:24] ShadelessFox commented on #15395
We can add a new checkbox in the installation to add file association for `.db` files.

[2022-11-24 14:28] ShadelessFox commented on #18290
Oh, see.

What about your point regarding the navigation issue? Can you elaborate?

[2022-11-24 14:33] petrvalkoun-gooddata commented on #9414
Guys, this is really bad, I cannot use the editor at all because of this issue. please fix it

[2022-11-24 14:34] quentinboudet commented on #15249
I'm really interested too, exporting one sql file is fine but I try to run several exports at once without any other manual operations. I would prefer selecting multiple files to avoid to maintain a sql file with 10 000 lines. I thought about selecting a folder or files in the project window and right-click to choose export, or I tried with the tasks but it miss just one thing, you can choose "Add

[2022-11-24 14:42] derfryday commented on #9414
@petrvalkoun-gooddata check your config, I had multiple mappings for the home and end keys, clearing those up fixed it for me like 1 or 2 versions of Dbeaver ago.

[2022-11-24 15:00] Raptord commented on #18015
@LonwoLonwo I found this github repo that seems to be maintained by IRIS with various versions of the Cache driver; is this what you were looking for?

https://github.com/intersystems-community/iris-driver-distribution

[2022-11-24 15:37] LonwoLonwo commented on #18015
https://github.com/intersystems-community/iris-driver-distribution/blob/main/JDBC/JDK11/intersystems-jdbc-3.2.0.jar does not work for me :( Does any driver from this repo work for you?

[2022-11-24 15:40] LonwoLonwo commented on #18302
This button returned in this ticket: https://github.com/dbeaver/dbeaver/issues/18274

[2022-11-24 15:41] LonwoLonwo commented on #18276
Thanks for the answer @anita970120

I'm closing this ticket because we can do something in this situation from DBeaver's side.

[2022-11-24 15:42] #18276 closed, assigned to nobody

[2022-11-24 16:39] Destrolaric commented on #17537
It looks like it is related to using JSCH for our interactions with ssh agents. This library can't work correctly with the new RSA keys. Because it recognizes them as old `ssh-rsa` and not as `rsa-sha2-512` or `rsa-sha2-256` keys and leads to server blocking usage of them.

[2022-11-24 17:57] hawkdoc-mtp commented on #18252
I installed the app and was presented with a key requirement.

[2022-11-24 19:08] #18265 closed, assigned to E1izabeth, Matvey16

[2022-11-25 02:20] #15129 closed, assigned to nobody

[2022-11-25 04:53] detkliff opened #18327 "Work with unreacheble host is very slow"
### Description

during operation, one of the hosts with the database becomes unavailable. I don't know about it. I click on the object of this database in the object tree and the program freezes.

why not do a very simple check on the availability of the host with the database? For example, elementary ping and give an error without allowing freezes

### DBeaver Version

community edition 22.2.5

[2022-11-25 08:15] WEGFan opened #18329 "Missing "Fetch next page of results" and "Maximum result-set size" in data editor toolbar"
### Description

They exist in 22.2.3, is the removal intended?

22.2.3:
![](https://user-images.githubusercontent.com/7558201/203930764-723e88ac-11f5-4a1e-b3ea-245d2943e12f.png)

22.2.4 & 22.2.5：
![](https://user-images.githubusercontent.com/7558201/203930846-fa753cea-fec4-46c4-a164-fb8a4e4fa117.png)

### DBeaver Version

Community Edition 22.2.4 & 22.2.5

### Operating System

Windows 10

### Da

[2022-11-25 08:28] qilinsanshao commented on #18274
please bring back the 'fetch' buttons!

[2022-11-25 08:31] rpalloni commented on #18319
Not working for SnowFlake. And actually I ment persistent filter. Don't want to filter each time

[2022-11-25 09:36] MrLuke1110 opened #18330 "export to csv/xlsx not show column description in header"
### Description

connection setting: db2 iseries/as400
export to csv/xlsx, header format choose description/both, export data no description,
please help me.

### DBeaver Version

community edition 22.2.5

### Operating System

windows 10

### Database and driver

jt400-11.0

### Steps to reproduce

_No response_

### Additional context

![image](https://user-images.githubusercontent.com/66194793/

[2022-11-25 10:04] rovvit commented on #11891
Got this bug on DBeaver 22.2.1 for Mint on MariaDB

STR:
1. Connect to database
2. Run ALTER TABLE table_name ADD column_name

![image](https://user-images.githubusercontent.com/111741914/203956503-33ba03e1-82c5-4cac-b18b-e3c4939bd685.png)

Newly added column is marked as read-only

How 2 fix: refreshing the table (via F5) worked for me

[2022-11-25 10:30] LonwoLonwo commented on #18314
Fixed.
Will be available [here](https://dbeaver.io/) on 2022-12-05

[2022-11-25 10:33] thgsponer opened #18331 "SSH tunnel to remote server with putty generated private key: exhausted available authentication methods"
### Description

Hi all

I am trying to connect to a remote PostgreSQL database through an SSH tunnel.

I generated the private key using puttygen, giving me a .ppk file. After google research and browsing the issues [#3125](https://github.com/dbeaver/dbeaver/issues/3125), I found that ppk private keys do not work with DBeaver. I then converted my ppk private key file into a pem file.

Unfortunate

[2022-11-25 11:41] moiz-i-am opened #18332 "DBeaver crashes on loading geometry of any size (PostGIS)"
### Description

DBeaver is crashing every time I click on the spatial data view window after the update of macOS from 12.6 monetary to 13 Ventura.

Don't know what's going on.

Also tried installing different versions of DBeaver but the problem remains still.

### DBeaver Version

Community Edition

### Operating System

macOS 13.0.1 Ventura

### Database and driver

Database version: PostgreSQL

[2022-11-25 11:43] Destrolaric commented on #18332
Hi, the issue is a duplicate of https://github.com/dbeaver/dbeaver/issues/18117

[2022-11-25 11:43] #18332 closed, assigned to nobody

[2022-11-25 11:54] Destrolaric commented on #18331
@thgsponer Hi, which algorithm was used to generate the key?

[2022-11-25 12:09] thgsponer commented on #18331
I used RSA

[2022-11-25 12:19] LordMilutin opened #18333 "The fetch all rows button is "missing" in the latest version"
### Description

The fetch all rows button is "missing", please add it back or at least make it customizable so that we can choose if we want to put it in the toolbar or not.

### DBeaver Version

Community Edition 22.2.5.202211202223

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-25 12:49] Destrolaric commented on #18331
Hmm. Could you try to add it to pageant ssh agent and connect via putty itself?

[2022-11-25 13:04] thgsponer commented on #18331
I can connect via putty when I use the ppk file. When I use the pem file it says 'unable to use key file ... old PEM format'

[2022-11-25 13:15] uslss opened #18334 "Procedure columns cannot be loaded in case there is function with the same name in DB"
### Description

Procedure columns cannot be loaded for MySQL in case there is function with the same name in DB

https://user-images.githubusercontent.com/31996417/203994493-b77efd7d-11e9-47f8-bd7b-672b42060236.mp4

### DBeaver Version

22.2.5

### Operating System

win10

### Database and driver

MySQL, > 8.0.25

### Steps to reproduce

_No response_

### Additional context

[dbeaver-debug (2).l

[2022-11-25 13:22] Destrolaric commented on #18331
You can try to use .ppk key with SSHJ. Could you try it?

[2022-11-25 13:25] camlafit commented on #16247
Hello

I think I'm in same trouble as explained before.
I've tried to connect over ssh with ed25519 and get this error  :
[code]

I've tried with SSHj and JSch implementation. I'm up to date to now (Version 22.2.5.202211202223)

With terminal and same key with(out) agent It's ok.

[2022-11-25 13:58] thgsponer commented on #18331
I tried. Same error. Below are the new log and debug files.
[dbeaver-debug-new.log](https://github.com/dbeaver/dbeaver/files/10093323/dbeaver-debug-new.log)
[mynew.log](https://github.com/dbeaver/dbeaver/files/10093324/mynew.log)

[2022-11-25 14:48] #18015 closed, assigned to uslss, LonwoLonwo

[2022-11-25 14:48] #16393 closed, assigned to ShadelessFox, Matvey16

[2022-11-25 15:00] Dorregaray1 opened #18338 "Wrong interpretation of named dollar quotes (when generating inserts with quotes) - POSTGRES"
### Description

dBeaver misinterpret named dollar quotes and do not find where sql command is ending.

Here is simple example. I am using dollar quotes for generating inserts.

![image](https://user-images.githubusercontent.com/18217565/204005767-e37c56bd-7e61-4f71-985a-050046c30e15.png)

Command will pass, however dBeaver do not recognize the end of this command properly. So it happens that it w

[2022-11-25 15:06] Destrolaric commented on #18331
@thgsponer Hmm, the last thing you can try is to use pageant - add a key there and use `Agent` auth in DBeaver. Write me if it helps.

[2022-11-25 15:19] FherStk commented on #14931
Hi there!

I use DBeaver with my students in order to operate with PSQL, and we are also interested in this feature.

Thanks a lot,
Fher

[2022-11-25 15:24] LonwoLonwo commented on #18334
The issue will appear if you are using MySQL driver version > 8.0.25
Workaround: use driver version <= 8.0.25

[2022-11-25 15:42] FherStk opened #18339 "PostgreSQL - Role list in the wrong place"
### Description

Dear DBeaver team,

This is just a graphical issue, but can cause a misunderstanding to the DBeaver's users. In PostgreSQL, the users and roles (which are the same) are created at DBMS level and not within the databases.

![image](https://user-images.githubusercontent.com/324326/204016923-1a463e19-aa43-416a-8edf-dfb5a2a1fb29.png)

Each database shows exactly the same role info, wh

[2022-11-25 16:05] thgsponer commented on #18331
Unfortunately - the same error.
[dbeaver-debug-last-try.log](https://github.com/dbeaver/dbeaver/files/10094076/dbeaver-debug-last-try.log)
[last-try.log](https://github.com/dbeaver/dbeaver/files/10094079/last-try.log)

[2022-11-25 16:38] RafaelXI opened #18341 "The "Execute SQL in new tab" button is missing."
### Description

The "Execute SQL in new tab" button in the "SQL Editor" window is missing.

![obraz](https://user-images.githubusercontent.com/66827234/204026816-1b919704-1bd5-4097-8b69-73d89c93ce69.png)

### DBeaver Version

Community Edition 22.2.5

### Operating System

Win 10

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-25 16:49] E1izabeth commented on #18338
Thank you for bug report.
As a workaround you can highlight the whole query and press Execute SQL statement.

[2022-11-25 16:59] E1izabeth commented on #18315
Thank you for the idea.

[2022-11-25 17:01] E1izabeth commented on #18315
From what I observe, Keyword case option doesn't affect the keywords case completion if the Insert case option is set to another case.

[2022-11-25 17:06] E1izabeth commented on #18341
It's a duplicate of #18275.
Fix will be available in 22.3.0.

[2022-11-25 17:06] #18341 closed, assigned to nobody

[2022-11-25 18:56] kseniaguzeeva opened #18342 "Folders can be created after switching to Projects tab"
### Description

Run DBeaver and press Create folder button
**Expected**: the pop up box appears to enter the folder name
**Actual result:** no visible changes. It's necessary to open Projects tab and go back to the Navigator before it.

https://user-images.githubusercontent.com/112612526/204042094-d39a406a-92e1-48e8-b695-17ce8f72b351.mp4

### DBeaver Version

CE	22.2.5.202211251203

### Operating

[2022-11-25 19:59] gvenzl opened #18344 "Wrong numeric value displayed in Grid but correct in Text output"
### Description

When I select a column of data type `REAL` (`float4`) in Postgres, I get to see a value in the Grid output that is not the correct value from the database. It appears as if the value has been rounded and several fractions have been added:

<img width="372" alt="image" src="https://user-images.githubusercontent.com/4610293/204050179-a2651229-5f27-4a53-9d42-6044ab306a3b.png">

When

[2022-11-26 04:38] kseniaguzeeva commented on #18342
the focus is needed.

[2022-11-26 10:08] cardalda commented on #8546
And still...
It happens very quickly after a restart without any clue.
I have been pressing END after every query, and for no particular reason after executing a few queries, END jumps to end of file instead end of line.
After this, I cannot even save my file sometimes, neither with keyboard, nor by the menu bar.

I think I found something.
It has nothing to do with executing queries.
I can (almos

[2022-11-26 14:45] E1izabeth commented on #17857
The location where the UI language setting being stored doesn't exists prior the first launch of the eclipse application and should be initialized by the platform itself, so we cannot just create it artificially during the installation process.
The language setting itself is loaded by the eclipse platform earlier than any of the application's code, so we also cannot apply the setting from the prev

[2022-11-26 17:15] coleman-rik commented on #18339
I concur.  The strange thing is that up until, I don't know the last update, the Roles folder was shown in the correct database **cluster** level, not in an individual database.

I was forced to use pgAdmin 4 while I was searching around the internet for some reason why dBeaver was suddenly broken.

Annoying as it it, at least I know where the devs hid this vital piece of information and I can sto

[2022-11-27 08:15] Alexandr-Kislov opened #18347 "Typo in the menu in Russian"
### Description

There is a typo in the "База данных" (Database) menu option in Russian language. Should be "Новое соединение из JDBC URL" instead of "Новое сое**з**динение из JDBC URL".
![image](https://user-images.githubusercontent.com/68337846/204125420-c2771647-b095-48e5-8175-351944e47595.png)

### DBeaver Version

Community Edition 22.2.5.202211202223

### Operating System

Windows 10

### Da

[2022-11-27 08:19] Alexandr-Kislov commented on #18333
Faced the same problem. Please return the button back it is needed very often.
@LordMilutin as a temporary solution you can use a hotkey Ctrl+Shift+=

[2022-11-27 08:20] s1ashi opened #18348 "SSH MFA Auth with interactive password prompt broken since 22.2.1"
### Description

Since 22.2.1 release got following error while trying to connect DB over SSH Tunnel & Jump server with MFA enabled.
Error details:
[code]
In 22.2.0 Password prompt appeared when trying to connect (expected behavior, as password was not saved in Dbeaver Connection Preferences/SSH Tab), and then connection successfully established.

Since 22.2.1 SSH password prompt not showing and c

[2022-11-27 09:22] E1izabeth commented on #18347
Thank you for bug report.

[2022-11-27 11:48] DoctorKrolic opened #18350 "Do not add space after commiting completions, but add space to valid commit characters"
My preffered style of wrighting sql statements is the folowwing:
[code]
or
[code]

In both these cases it is convinient to use autocompletion for `table_name` and `column` names. However, dbeaver autocompletion _always_ inserts space after commiting completion. In both cases above this is wrong and annoying. To combine best from both worlds, where you can choose to have a space after commiting, bu

[2022-11-27 14:30] E1izabeth commented on #18350
Thank you for feature request.

[2022-11-27 15:08] humphreygao commented on #18350
- `Tab` and `Enter` commit completion without adding any other chars to it.
You can uncheck this option ->  ![2ZN)I83(BLA_ ALO1%{W}JJ](https://user-images.githubusercontent.com/52394598/204141742-a42453b1-9149-47d5-906b-6d5cd9161dc4.png)

- `Space` commits completion and adds a space after it.
Currently, you can select a code completion option in the code completion popup and press a `Space` to ac

[2022-11-27 15:13] #18347 closed, assigned to E1izabeth

[2022-11-27 15:17] DoctorKrolic commented on #18350
@humphreygao Yeah, but the main point here is that even having such setting it is not flexiable at all. In some cases having a space inserted is really helpful, while in others is is just annoying. My suggestion is to replace this option with the commit characters mechanism I described above

[2022-11-27 15:33] humphreygao commented on #18350
Insert space :
- [ ] after table names
- [ ] after column names in select clause
- [ ] after column names in other places

Remove trailing whitespace after pressing `Enter` key

[2022-11-27 15:43] DoctorKrolic commented on #18350
And then in some dialect we find some edge case, where the expirience is still bad. We add another option for this case, then after a while find another case and add another option. After some time the list would contain 10+ elements and theoretically it still wouldn't cover all possible cases. I don't kwn why you are pushing here towards adding more settings. Having a human to make a desidion is

[2022-11-27 15:46] DoctorKrolic commented on #18350
Also consider, that even one person might preffer different cases for different scenarios. For instance, I said that I preffer to have
[code]
but if there is only 1 column to update I might want to wright it like `UPDATE table_name SET column=value...`, and in such case I actually _want_ the space to be inserted when completing `table_name`

[2022-11-27 16:00] humphreygao opened #18351 "Please remove leading whitespaces"
### Description

Please see the video:

https://user-images.githubusercontent.com/52394598/204144533-433ae181-4bf8-489b-b371-a87d0b924c10.mp4

If the former SQL has leading whitespaces, there always be leading whitespace in the new line once I press Enter.

### DBeaver Version

22.2.5

### Operating System

Windows 11 22H2

### Database and driver

Any

### Steps to reproduce

1. Type the followin

[2022-11-27 20:45] PabloMonfort commented on #17099
Im facing similar problem trying to just open a sql file to execute in linux ubuntu. nice tool btw, i just wish it work coz at the moment my first experience with this app is just terrible, i need to execute a sql file to my sql server but its hang and freeze and i cant even close the app.
![Dbevererror](https://user-images.githubusercontent.com/30636592/204158850-af57e0d9-1a61-4670-9f01-81a94e835

[2022-11-27 22:07] radekhag opened #18352 "Inline editing of array type column for Databricks"
Hello,

When I'm displaying a content of a table using DBeaver 22.2.5 with each of recommended drivers - Databricks JDBC Driver 2.6.29  or  Simba Apache Spark JDBC 2.6.22 I'm always getting a string representation of values of an array column in Data Editor (grid). That is:  ["AB","CD",EF"]  instead of  {"AB","CD","EF"} like for PostgreSQL However, the data type seems to be properly recognized as

[2022-11-28 01:44] Griffo-Hub commented on #15381
another one having this issue...owuld love tok now if anyone has been able to resolve this. Also - the link for reliersoft is broken. The website appears to be having issues

[2022-11-28 07:28] FarshidShekari opened #18353 "Causing lock in oracle database"
### Description

Hi
After editing a view, if there is the same column name in the query(by joins) the client causes a lock happens on the object and needs to kill the session or even restart the service.

Thanks in advance for improving it.

### DBeaver Version

 22.2.5.202211202223

### Operating System

Windows 11

### Database and driver

Oracle

### Steps to reproduce

_No response_

### Addit

[2022-11-28 08:03] LonwoLonwo commented on #18339
Hello.
For many years DBeaver had Role Manager on the database level. But then we tried to switch it to the data source level because, as you said, the role belongs to the data source.
After it, we had some issues: https://github.com/dbeaver/dbeaver/issues/14703.
There is no database choice in the Role manager, and it works poorly for data sources with many databases.
So we returned Role Manager o

[2022-11-28 08:12] LonwoLonwo commented on #18344
Hello @gvenzl

You can disable numeric formatting. Or change the number of maximum fraction digits.

![2022-11-28 11_09_50-DBeaver 22 2 4 - _Maria 10 3_ Script-10](https://user-images.githubusercontent.com/45152336/204226472-ca1243b6-b7e7-47b1-b75a-f09acc93865b.png)

`PostgreSQL accepts float(1) to float(24) as selecting the real type`  says [documentation](https://www.postgresql.org/docs/7.4/data

[2022-11-28 08:23] LonwoLonwo commented on #18351
Hello. Thanks for the report.

I'm not sure about the

![t0FqcUFRI6](https://user-images.githubusercontent.com/45152336/204228368-7360f31f-1edb-4cb0-861b-8f5828e2fb71.gif)

But the first time - it is true.

[2022-11-28 08:24] LonwoLonwo commented on #18352
Thanks for the idea @radekhag

[2022-11-28 08:26] LonwoLonwo commented on #18353
Hello @FarshidShekari

Please provide clear steps to reproduce this issue.
A view DDL example will be beneficial.

[2022-11-28 08:33] LonwoLonwo commented on #15381
And again - we can't add a driver without a driver. Still waiting for the open-source driver.

[2022-11-28 08:46] LonwoLonwo commented on #18302
Closed as duplicate of #18274

[2022-11-28 08:46] #18302 closed, assigned to nobody

[2022-11-28 09:09] pierrecorsini opened #18354 "Bind parameters feature on `$P{ABCD}` variables"
### Description

- Previously parameters formated like `$P{ABCD}`  were individually indentified in the "Bind parameter(s)" window.
- Now only the `$P` is identified as a variable.

### DBeaver Version

22.2.5

### Operating System

PostgreSQL 12.7 (Ubuntu 12.7-0ubuntu0.20.10.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 10.2.0-13ubuntu1) 10.2.0, 64-bit

### Database and driver

_No response_

[2022-11-28 09:09] LonwoLonwo commented on #18319
![2022-11-28 12_08_21-Connection _SNOWFLAKE_SAMPLE_DATA_ configuration](https://user-images.githubusercontent.com/45152336/204237927-b2c9240f-b7a6-4a02-8c14-d6cb45609b19.png)

You can add your filter globally in the Connections Settings.

Need more details.

[2022-11-28 09:30] FarshidShekari commented on #18353
Suppose there's a column with the same name in another table that you want to use in your join in the view you already created, when you add this table to join and didn't determine which column with the same name comes from which table, after clicking on persisting button to save, this object will be locked :))
and after trying to save view changes nothing was raised as an error.

[2022-11-28 10:50] uslss commented on #16214
Also cannot reproduce in 22.2.5

[2022-11-28 10:50] #16214 closed, assigned to uslss

[2022-11-28 11:01] bgmxl opened #18355 "How to set the database task automatic execution of Firebird Database?"
I have a period of SQL and wants it to execute it once a day, how to set it.
![image](https://user-images.githubusercontent.com/34325905/204261877-5f9f3b38-9ccf-44ec-a0e3-54831b44844c.png)

[2022-11-28 11:04] apurvc commented on #18239
@LonwoLonwo It did work with the old version of driver https://storage.googleapis.com/simba-bq-release/jdbc/SimbaJDBCDriverforGoogleBigQuery42_1.2.21.1025.zip and I tested it still works.
Probably the issue is with new drivers.

[2022-11-28 11:16] LonwoLonwo commented on #18239
Ok, thanks for the investigation. Will be waiting for the new driver version without the issue.

[2022-11-28 11:18] LonwoLonwo commented on #18353
Please provide a table and view DDLs to reproduce this issue.

[2022-11-28 11:21] LonwoLonwo commented on #18355
Hello @bgmxl

You can read more about task scheduling here: https://github.com/dbeaver/dbeaver/wiki/Task-Scheduler.

You can schedule your task only in PRO DBeaver's versions. Or you can investigate your system scheduler as well.

[2022-11-28 11:21] #18355 closed, assigned to nobody

[2022-11-28 11:29] mtaieb1 commented on #17675
I am facing the same issue when trying to connect to remote Postgres DB that hosts around 300 schemas and multiple enums. It takes about 5 minutes to open a connection.
Using Dbeaver v22.2.5 and jdbc driver v42.5.1

[2022-11-28 11:32] michal-bartak opened #18357 "NULL substitute for display purposes"
**Is your feature request related to a problem? Please describe.**
Currently, NULL is represented (if enabled) by `[NULL]` string. We found it not enough distinct visually from other strings. TBH we are not the first. for example even pgsql has an option to change this representation.

**Describe the solution you'd like**
Option to customize representation of NULL value. It should accept any strin

[2022-11-28 11:36] apurvc commented on #18239
@LonwoLonwo  just for update , I quickly tested all the drivers and not to much for a surprise all of them work .
I have been thinking that it could be a Windows (10) issue as it was working fine on Win 11. Seems some updates on system happened last week and it all works now.

Thanks!! for your support

[2022-11-28 11:36] #18239 closed, assigned to nobody

[2022-11-28 11:56] majkinetor commented on #1741
Yeah, its cumbersome, it looks like editor is changed and in my case even zoom level is not obayed.

Vscode ALT SHIFT + mouse selection is how it should be done.

[2022-11-28 12:41] #17914 closed, assigned to uslss, ShadelessFox

[2022-11-28 12:41] #16756 closed, assigned to E1izabeth, uslss

[2022-11-28 12:41] #17740 closed, assigned to uslss, LonwoLonwo

[2022-11-28 13:32] Destrolaric commented on #17297
@byrider-jparker4 Hi, sorry for the late response. We looked into our code and found that we used `svv_datashare` and `svv_datashare_objects`, which require root. But I am entirely not sure that `SHOW DATASHARES` requires admin access. AWS Documentation says that it only requires SHARE and ALTER on the datashare. Are you sure that is the case?

[2022-11-28 13:53] stegus64 commented on #18333
I have the same problem

[2022-11-28 14:14] flambchap opened #18358 "IllegalArgumentException when connecting to PostgreSQL 15"
### Description

When connecting to PG 15, DBeaver code throws said exceptions, and they end up in the log.

[code]

### DBeaver Version

CE 22.2.5

### Operating System

macOS 13

### Database and driver

PostgreSQL 15.1 (Debian 15.1-1.pgdg110+1)
PostgreSQL 15.1 (Debian 15.1-1.pgdg110+1) on aarch64-unknown-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit

PostgreSQL JDBC Drive

[2022-11-28 14:39] LonwoLonwo commented on #18333
Fixed here: #18274

Fix will be available in DBeaver 22.3.0

Closed as duplicate

[2022-11-28 14:39] #18333 closed, assigned to nobody

[2022-11-28 14:42] coleman-rik commented on #18339
@LonwoLonwo,
Thanks for jumping into the conversation.  I'm not sure how other RDMS handle it, but there isn't _supposed_ to be a database choice in the role manager in PostgreSQL, at least not insofar as what database the role **belongs to**.  There is one role per **cluster**, that role can have access to none of the databases, some of the databases, or all of the databases.  Additionally, the p

[2022-11-28 14:58] byrider-jparker4 commented on #17297
@Destrolaric , No problem. I appreciate you looking into it.

*Users who have the ALTER and SHARE privileges*...

[https://docs.amazonaws.cn/en_us/redshift/latest/dg/r_ALTER_DATASHARE.html](Redshift ALTER DATASHARE)
### Required Privileges:
Following are required privileges for ALTER DATASHARE:
- Superuser.
- User with the ALTER DATASHARE privilege.
- Users who have the ALTER or ALL privilege on t

[2022-11-28 15:12] Destrolaric commented on #17297
@byrider-jparker4 More like it requires the superuser to give permissions to the second user, like most privileges in DB. Here is a little more descriptive part of the documentation:

[2022-11-28 15:31] Destrolaric commented on #18348
@s1ashi Hi. I was unable to reproduce it for my key. If possible, can you provide the ssh-keygen command example which was used? It may be helpful.

[2022-11-28 15:49] cardalda commented on #9414
I also had have mapping problems, and after editing the DefaulltKeyBinding, it works perfectly.
But...

After a while the mapping stops working and keys are behaving as before.
It's hard to reproduce, but I managed to make it happen a few times within a few seconds.
After you restart dBeaver, the mapping works according to your file.
What I did is try to change a query (which is auto loaded in the

[2022-11-28 16:15] byrider-jparker4 commented on #17297
@Destrolaric Ahh, so i did indeed interpret that wrong. Apologies, I am not a Redshift guru by any means.

So `SHOW DATASHARES` doesn't require superuser, BUT it does require more elevated permissions (`ALTER DATASHARE`) than most admins would be willing to give non-admin type users.

Chaining the ability to view datashares to a view that requires the user to have the permissions to also change/de

[2022-11-28 16:43] dmotte commented on #8913
Hey there, I also had this problem.

- OS: **Ubuntu 20.04 LTS**
- DBeaver version: **22.2.5**
- Database: **MySQL 5**
- Do you use tunnels or proxies: **no**

These are the steps to reproduce it:

1. Create an **empty table** using this statement:
[code]
2. Create a **CSV file** with this content:
[code]
3. Right click on the table &rarr; **Import Data**
   ![0](https://user-images.githubuserconte

[2022-11-28 16:49] yoni-yad2 opened #18361 "Add Generate DDL for MySQL / MariaDB indexes"
**Is your feature request related to a problem? Please describe.**
We need a quick way to generate DDL commands for MySQL/MariaDB indexes.

**Describe the solution you'd like**
Right click on an index should show "Generate DDL"->"DDL"

Output should be:
`ALTER TABLE [table name] ADD KEY [index name] ([column list]);`

**Describe alternatives you've considered**
Generating "CREATE TABLE" DDL for th

[2022-11-28 21:43] fa5fou5 opened #18364 "Snowflake Parsing Issue in Procedure View"
### Description

Seems that Dbeaver having issue viewing procedure and it seems to be related to this
https://docs.snowflake.com/en/developer-guide/snowflake-scripting/running-examples.html
Exemple of a procedure created in the Dbeaver client
[code]
Error message:

### DBeaver Version

22.2.5

### Operating System

Windows 10

### Database and driver

1. Database : Snowflake

### Steps to reproduc

[2022-11-28 22:52] daniol opened #18365 "Support for indexes on views with schema binding (SQL Server)"
**Is your feature request related to a problem? Please describe.**
SQL Server support indexes on views created with schema binding, see ["Create Indexed Views" documentation](https://learn.microsoft.com/en-us/sql/relational-databases/views/create-indexed-views?view=sql-server-ver16).
DBeaver UI does not have an overview of the indexes and does not offer an option to create indexes for the view, as

[2022-11-28 22:53] #18101 closed, assigned to E1izabeth, uslss

[2022-11-28 23:15] bkyle opened #18366 "Error loading table data from BigSQL (DB2 Variant) connection"
### Description

When open the Table Editor for a table in BigSQL and switch to the Data tab the following error message is returned:

### DBeaver Version

Community Edition 22.2.1

### Operating System

macOS Montery 12.6

### Database and driver

- Server: BigSQL 7.1
- Driver:
  - Group: com.ibm.db2
  - Artifact: jcc
  - Version: 11.5.0.0

### Steps to reproduce

1. Connect to BigSQL Database.
2

[2022-11-28 23:21] serge-rider opened #18367 "Connection edit dialog is slow"
### Description

When we open connection edit dialog it takes about 2 seconds to render UI.
This is very annoying.

It happens because of many tab folder and especially SSH and SSL configurators.
We must initialize them in a lazy mode.

Also we should improve SSH config page.

### DBeaver Version

22.2.5

### Operating System

_No response_

### Database and driver

_No response_

### Steps to rep

[2022-11-29 00:33] match-gabeflores opened #18370 "Disable highlighting query after execution"
Dbeaver seems to (sometimes?) highlight (select) the query after the query has complete. is there a way to disable this?

i'll often have a query running for a few seconds and start typing away somewhere down in the editor. when the execution finishes, it interrupts my typing to highlight the query. sometimes, this causes me to delete the sql query!

examples:

- https://imgur.com/9i0T4s6
- https:

[2022-11-29 00:35] match-gabeflores commented on #18370
tag @LonwoLonw

[2022-11-29 00:35] match-gabeflores commented on #18370
cc @LonwoLonwo from previous discussion

[2022-11-29 07:00] PJFonseca commented on #8057
What is blocking this? I'm a n00bie at this RPM repo stuff, but how hard can it be?

[2022-11-29 08:09] francescosalvi commented on #3094
(running Version 22.2.5.202211202223)

whenever I forget to re-establish a _lost_ VPN connection before (mistakenly) launching a query using an _open_ (at least in the eyes of dbeaver) connection based on the aforementioned VPN, I get softlocked in the application. Cancelling doesn't do anything, just hangs like the original query execution.

![image](https://user-images.githubusercontent.com/1724

[2022-11-29 08:56] LonwoLonwo commented on #18370
Thanks for the report.

[2022-11-29 08:59] LonwoLonwo commented on #18365
Thanks for the feature request @daniol

[2022-11-29 09:06] LonwoLonwo commented on #18361
Thanks for the idea @yoni-yad2

[2022-11-29 09:58] michal-bartak opened #18371 "TRIGGER formatting"
**Is your feature request related to a problem? Please describe.**
The current formatting of the trigger looks like this:
[code]

There are several issues:
1. it's 2-liner
2. ON at the end of the first line seems to be in wrong place (see suggestion below)
3. condition is inserted between "ROW" and "EXECUTE" but without wrapping. It causes EXECUTE part be appended to the line visually sticking out

[2022-11-29 10:04] MrLuke1110 opened #18372 "How to get DBeaver Office integration old version"
### Description

install DBeaver Office integration, only can find the lastest version (https://dbeaver.io/update/office/latest/), use the lastest version on export data, cant find "column names as header".
can't find 2.2.3 in here(https://dbeaver.io/files/)
so where can i get the previous version?
Thanks.

lastest verion
![image](https://user-images.githubusercontent.com/66194793/204499154-ee6a04

[2022-11-29 10:23] LonwoLonwo commented on #18372
Hello @MrLuke1110

Maybe this is the setting that you are looking for.

![2022-11-29 13_21_50-Data Transfer](https://user-images.githubusercontent.com/45152336/204503916-260ff1e6-73f3-46a6-a094-edd24ccb08d7.png)

[2022-11-29 10:26] LonwoLonwo commented on #18371
Hello @michalk-k

Are you talking about Formatting with Ctrl+Shift+F in the SQL Editor? Or about DDL representation in the trigger tab?

[2022-11-29 10:35] Destrolaric commented on #18129
@marcheschi Hi, I tried to reproduce this issue but couldn't do it. Could you provide additional information? Does this reproduces for the newer versions?
[code]

[2022-11-29 10:37] michal-bartak commented on #18371
Sorry, I wasn't precise enough.
I mentioned formatting in DDL tab.

But I've just tested SQL formatting option. I copied the trigger DDL into the editor, made a one-liner by removing EOLs then used SQL formatting). The result is the same as shown in DDL tab.
I repeated the test, correcting **some** NEW/OLD objects to uppercase, leaving others lowercase. The formatting feature didn't change the cas

[2022-11-29 11:01] switchfoot7 opened #18376 "Script title pattern gets reset after every restart of DBeaver"
### Description

 **Window > Properties > Editors > SQL Editor > Scripts > Script title pattern** is lost after every restart of DBeaver

### DBeaver Version

22.2.1

### Operating System

Windows

### Database and driver

_No response_

### Steps to reproduce

Go to **Window > Properties > Editors > SQL Editor > Scripts** and set a value in **Script title pattern:** for example **${fileName}**
Ap

[2022-11-29 12:43] LonwoLonwo commented on #18376
Hello @switchfoot7

Can't reproduce your issue. The Script title pattern contains saved value after DBeaver reopening for me.

Can you please check the newest DBeaver version?

[2022-11-29 12:45] LonwoLonwo commented on #18371
Ok, thanks for the feature request.

[2022-11-29 13:11] #18358 closed, assigned to flambchap, uslss

[2022-11-29 13:22] kowilf opened #18377 "Proposals and auto-complete don't work with partition and alias"
### Description

![image](https://user-images.githubusercontent.com/91829971/204539239-52d5439b-8eee-42b3-bef5-c57a59be99ac.png)

![image](https://user-images.githubusercontent.com/91829971/204539523-4f1205b8-c9f8-496e-8b7b-f640bf5f1311.png)

### DBeaver Version

Community Version 22.2.5

### Operating System

WIN-11

### Database and driver

MySQL

### Steps to reproduce

_No response_

### Addit

[2022-11-29 13:52] #18367 closed, assigned to serge-rider, uslss

[2022-11-29 13:52] #18173 closed, assigned to Destrolaric

[2022-11-29 14:00] MrLuke1110 commented on #18372
There are other problems with this function, which also need to be dealt with
https://github.com/dbeaver/dbeaver/issues/18330

[2022-11-29 14:58] LonwoLonwo commented on #18364
Hello @fa5fou5

Can't reproduce your issue for now.

![2022-11-29 17_53_26-DBeaver Ultimate 22 2 5 - _TEST_DB_ Script-85](https://user-images.githubusercontent.com/45152336/204563304-52025072-832b-4213-b6ae-8eb91a4f008a.png)

What driver version do you use?

[2022-11-29 15:29] #18172 closed, assigned to mgramin, uslss

[2022-11-29 15:31] michal-bartak commented on #18371
I found formatting reported above comes from the compact formatter. The default formatting looks even worse.
[code]

[2022-11-29 17:05] chaodhib commented on #9107
This feature would indeed be great

[2022-11-29 17:13] dodbrian commented on #9803
I have the same issue on macOS Monterey 12.6, M1 chip.
DBeaver 22.2.5

<img width="963" alt="image" src="https://user-images.githubusercontent.com/2762450/204596823-305d8148-9561-46a2-b5a2-b6560744f171.png">

[2022-11-29 17:14] LonwoLonwo commented on #18372
Then I do not think that version decreasing will help.

[2022-11-29 17:17] LonwoLonwo commented on #18330
Hello @MrLuke1110

Can you please try to export from the table data viewer? I think the problem exists only for the SQL Editor data viewer.

[2022-11-29 17:31] #16197 closed, assigned to Destrolaric, Matvey16

[2022-11-29 18:36] #18253 closed, assigned to Destrolaric, uslss, Matvey16

[2022-11-29 19:41] DariaMarkaryan opened #18383 "Make field for path to postgres script editable"
This field isn't editable, unlike all of the other places where we should choose path to file
![image](https://user-images.githubusercontent.com/43252954/204631582-d8a21c7e-cdfe-4036-83bf-1b95fcb68d40.png)

[2022-11-30 00:59] wallygator470 commented on #18275
The bigger question is why did you think removing it was the right thing to do?  it has been there forever and NOW you decide to remove it?  This is not how you maintain software.  You push out releases very often and then you do something like this that removes functionality to those of us that have used this tool are used to.  In the future please think about the people.

[2022-11-30 06:41] aplatypus opened #18386 "Unable to enter file name in SaveAs dialog"
### Description

* I used the File / Save As menu item to save my open SQL editor
* A file save dialog appears
![File save](https://user-images.githubusercontent.com/67028/204724401-296aeaf8-dd80-4321-a6d1-71d44c9a4b61.png)
  * As indicated with the arrow, I expected to enter a meaningful name for the script
* I began to type a useful name and this happened (_screenshot_)
![image](https://user-ima

[2022-11-30 08:47] krilim commented on #18197
Hi, I am using Fedora 37 with all updates and I am getting same error. App version is **22.2.5**

`org.eclipse.swt.SWTError: No more handles
	at org.eclipse.swt.SWT.error(SWT.java:4944)
	at org.eclipse.swt.SWT.error(SWT.java:4833)
	at org.eclipse.swt.SWT.error(SWT.java:4804)
	at org.eclipse.swt.graphics.Cursor.<init>(Cursor.java:151)
	at org.eclipse.swt.widgets.Display.getSystemCursor(Display.java

[2022-11-30 08:56] webinside44 opened #18387 "Improve erd diagrams - save hide relationships"
Each time I have to open an ERD diagram, I have to restore table width in grid and remove some table relationships (just for display).

I typically need to remove tracking relations for display

[2022-11-30 08:58] dibyendumca opened #18388 "Add SYNONYMS in the Database Navigator Tree for EnterpriseDB Postgres Advanced Server"
Hello Team,

Is there any option to see the list of the SYNONYMS under any Schema in the Database Navigator Panel of DBeaver for POSTGRESQL?

[2022-11-30 09:36] LonwoLonwo commented on #18388
Hello @dibyendumca

What synonyms are you talking about? I do not see any official information that PostgreSQL supports synonyms.

![2022-11-30 12_35_35-DBeaver Ultimate 22 2 5 - _postgres_ Script-34](https://user-images.githubusercontent.com/45152336/204760201-6d5c5ac3-c804-4ee0-b57d-dcf000733e1a.png)

[2022-11-30 09:38] LonwoLonwo commented on #18387
Hello @webinside44

Did you try to use custom diagrams? https://github.com/dbeaver/dbeaver/wiki/Custom-Diagrams

[2022-11-30 09:41] LonwoLonwo commented on #18386
Hello @aplatypus

Can you provide a video of your issue, please?

[2022-11-30 09:45] webinside44 commented on #18387
Hi @LonwoLonwo,
Yes I do, that's what I'm talking about.
I created ERD in diagrams folder
![image](https://user-images.githubusercontent.com/66775649/204762472-fa2dcae4-7daf-4ddb-92d7-c9438fce6ab9.png)

[2022-11-30 09:52] angelchen1030 commented on #18090
Hi @E1izabeth ,

Sorry, after downloading the previous driver version (https://s3.amazonaws.com/athena-downloads/drivers/JDBC/SimbaAthenaJDBC-2.0.31.1000/AthenaJDBC42.jar), where could I find this  'edit driver->Libraries'? Thank you.

[2022-11-30 10:17] uslss commented on #18329
thanks for the report.
was fixed in #18274
Close this issue as a duplicate

[2022-11-30 10:17] #18329 closed, assigned to nobody

[2022-11-30 10:21] uslss commented on #17887
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it.

[2022-11-30 10:21] #17887 closed, assigned to nobody

[2022-11-30 10:21] uslss commented on #17876
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it.

[2022-11-30 10:21] #17876 closed, assigned to nobody

[2022-11-30 10:22] uslss commented on #17824
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:22] #17824 closed, assigned to nobody

[2022-11-30 10:22] uslss commented on #17818
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:22] #17818 closed, assigned to LonwoLonwo

[2022-11-30 10:22] uslss commented on #17590
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:22] #17590 closed, assigned to Matvey16

[2022-11-30 10:22] uslss commented on #17886
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:22] #17886 closed, assigned to nobody

[2022-11-30 10:23] uslss commented on #5536
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:23] #5536 closed

[2022-11-30 10:23] uslss commented on #17848
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:23] #17848 closed, assigned to iraidaa

[2022-11-30 10:24] uslss commented on #17938
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:24] #17938 closed, assigned to nobody

[2022-11-30 10:24] uslss commented on #17942
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:24] #17942 closed, assigned to nobody

[2022-11-30 10:26] uslss commented on #17678
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:26] #17678 closed, assigned to Destrolaric

[2022-11-30 10:26] bouyeijiang commented on #17678
谢谢您的来信！我会及时查阅的
 

[2022-11-30 10:30] uslss commented on #17967
It seems it was fixed in #10492

If the issue is still actual for you against the recent version - feel free to reopen the issue with additional info to reproduce it

[2022-11-30 10:30] #17967 closed, assigned to nobody

[2022-11-30 10:32] uslss commented on #17984
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:32] #17984 closed, assigned to nobody

[2022-11-30 10:33] uslss commented on #17939
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:33] #17939 closed, assigned to nobody

[2022-11-30 10:33] uslss commented on #17963
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:33] #17963 closed, assigned to nobody

[2022-11-30 10:34] uslss commented on #17965
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:34] #17965 closed, assigned to nobody

[2022-11-30 10:34] uslss commented on #17989
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:34] #17989 closed, assigned to nobody

[2022-11-30 10:35] uslss commented on #17389
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:35] #17389 closed, assigned to nobody

[2022-11-30 10:36] uslss commented on #16923
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:36] #16923 closed, assigned to ShadelessFox

[2022-11-30 10:36] uslss commented on #17821
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:36] #17821 closed, assigned to iraidaa

[2022-11-30 10:37] uslss commented on #17764
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:37] #17764 closed, assigned to nobody

[2022-11-30 10:37] uslss commented on #17895
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 10:37] #17895 closed, assigned to nobody

[2022-11-30 10:55] E1izabeth commented on #18090
@angelchen1030
for example, here
![image](https://user-images.githubusercontent.com/28875055/204778231-df32c4d1-bdbd-4928-9a66-c1a5fe50cd67.png)

[2022-11-30 11:06] dibyendumca commented on #18388
![image](https://user-images.githubusercontent.com/61493364/204778690-2b5bca4d-6ac3-4ded-b785-445da48b3d8d.png)
https://www.enterprisedb.com/docs/epas/latest/epas_compat_ora_dev_guide/03_advanced_concepts/04_synonyms/

Yes, EDB Advanced Postgres support synonyms of OBJECTs of one SCHEMA to another.

you can create like this
[code]

[2022-11-30 11:38] allipatev opened #18390 "Expanding "Virtual Schemas" under a non-privileged user in Exasol leads to error for Exasol SaaS DB"
### Description

At the moment expanding "Virtual Schemas" under a non-privileged user in Exasol leads to error for Exasol SaaS DB:

[code]

### DBeaver Version

Community Edition 22.2.5.202211202223

### Operating System

Windows

### Database and driver

Exasol JDBC driver 7.1.11

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-30 11:59] uslss commented on #17998
There have been no updates on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2022-11-30 11:59] #17998 closed, assigned to nobody

[2022-11-30 12:01] goodale commented on #17848
I reverted back to Navicat.  At some point when I have time I’ll try to
install it again

On Wed, Nov 30, 2022 at 5:24 AM Dziyana ***@***.***> wrote:

[2022-11-30 12:51] LonwoLonwo commented on #18388
Ok. pg_catalog.pg_synonym will help.

Thanks for the idea.

[2022-11-30 13:11] Destrolaric commented on #17297
@byrider-jparker4 As I looked, I think you can see shared DB without those privileges. But looking for info about data share itself requires you to give alter for the user. Is it the case of viewing shared DB or data share metadata itself?

[2022-11-30 13:28] byrider-jparker4 commented on #17297
@Destrolaric what we are looking for specifically is the ability for non-admin users to be able to "browse" the datashare database the same as they would a regular database. Drilling down in the Database Navigator through Schemas, Tables. etc.

As an admin i can do this, but as a non-admin the Schemas folder never populated because of the view used to gather that data. In the screenshot
![Screensh

[2022-11-30 14:00] Destrolaric commented on #17297
Ahh, you see, we use svv_datashare for a different thing. You can see a particular Datashares folder. This one contains specific info about data share itself. `Show data shares and mentioned view gives information about it.
Can you try using
[code]

[2022-11-30 14:06] almends commented on #17895
I have noticed that the icon appears after a certain number of tabs are opened.  Its visibility is conditional

From: Dziyana ***@***.***>
Sent: Wednesday, November 30, 2022 5:38 AM
To: dbeaver/dbeaver ***@***.***>
Cc: Almendinger, Steven ***@***.***>; Mention ***@***.***>
Subject: [EXT]Re: [dbeaver/dbeaver] missing 'tabs list icon' (Issue #17895)

You don't often get email from ***@***.******@***

[2022-11-30 14:08] Destrolaric commented on #17297
Reference from Amazon docs:

[2022-11-30 14:16] strokovnjaka opened #18392 "Cannot query clickhouse"
### Description

While I can connect to my clickhouse instance (I can see the databases, their tables, etc.), I cannot get dbeaver to perform any queries, e.g. not even a `select 1`. The error I get is

[code]

### DBeaver Version

Community Edition 22.0.2.202204041542

### Operating System

Microsoft Windows 10 Enterprise, 10.0.19045 Build 19045

### Database and driver

1. ClickHouse server vers

[2022-11-30 14:54] sebastianpennino commented on #5601
macOS 12.6 (Monterrey) /  using DBeaver Version 22.2.5.202211202223

Same solution as @jenswegar, @simenbm and  others.
I had to uncheck the `Verify Server Certificate` box in the SSL tab.

[2022-11-30 15:09] kseniaguzeeva opened #18393 "Export in Parquet"
Based on https://github.com/dbeaver/cloudbeaver/issues/1315

Is it possible to export in Parquet?

It would (1) make the data more usable instantly, and (2) it would lead to lower egress than a CSV.

[2022-11-30 15:37] LonwoLonwo commented on #18330
It is not database-specific. We just do not have comment info during the transfer process.

[2022-11-30 17:07] LonwoLonwo commented on #17763
The consequences of this ticket https://github.com/dbeaver/dbeaver/issues/16605

[2022-11-30 19:38] gasparakos commented on #17140
Same to me: Version 22.2.5.202211202223

[2022-11-30 20:19] Skywalker-11 commented on #5601
You just have to be aware that this might make you vulnerable to MitM attacks as the traffic to the server might not be transferred over a secure connection (especially if you try to connect to a cloud server).

[2022-11-30 20:25] warnes commented on #6476
On the `PostgreSQL` tab:
![Screenshot 2022-11-30 at 3 22 37 PM](https://user-images.githubusercontent.com/6144863/204900851-6b42b338-510b-4692-a833-e6c06439d912.png)