[2022-08-19 15:05] plotn commented on #17348
and (i'm sorry) mostly oracle's word's users dont want to see "singed binary integer" but the "number" (or number(x), or (x,y).
But most ETL scenarios build on "we dont believe the source, let it be maximum number", e.g. just number

[2022-08-19 19:40] birdingman0626 commented on #17394
因为bigint就是int8啊..

[2022-08-19 22:00] lord-lucho-wins opened #17402 "SAP HANA - Generating View SSL Script is not showing columns"
### Description

Connecting to SAP HANA - When I am generating View SSL Script is not showing columns, this is dangerous because I made changes with no column definition, please fix it

### DBeaver Version

Community Edition Version 22.1.4.20220805144

### Operating System

Windows 10

### Database and driver

Database: SAP HANA
Driver: SAP / HANA

### Steps to reproduce

Open connection
Go to Vie

[2022-08-20 06:08] E1izabeth commented on #17253
Thank you for bug report.

[2022-08-20 09:31] mauroian opened #17403 "Renaming a Stored Procedure or Function"
It should be possible to rename a Stored Procedure or Function by right-clicking on it in the Database Navigator tree (as it happens for tables or views).

[2022-08-21 12:05] LonwoLonwo commented on #17403
Hello @mauroian

What database do you use?

[2022-08-21 20:13] mauroian commented on #17403
I use SQL Server.

Thanks.

On Sun, 21 Aug 2022 at 13:06, Anastasiya ***@***.***> wrote:

[2022-08-21 22:47] SourceNode commented on #15706
I keep losing my custom dbeaver.ini settings due to this issue. DBeaver settings and configuration should be separate from the application binary to prevent it being replaced with every update.

[2022-08-22 01:22] google007049 opened #17407 "Advanced copy => Advanced paste Null Value Script Error ????"
### Description

Thank you always for your hard work.

Even with version 22.1.5.202208211008, there is still an error when you  advanced paste and save after an advanced copy.
Script has an error. **'[NULL]'** must be changed to **NULL**. And for NULL of DATE TYPE, you need to change **TIMESTAMP'[NULL]'** to **NULL**.

![image](https://user-images.githubusercontent.com/58673078/185825757-62a43664-

[2022-08-22 07:55] Matvey16 opened #17408 "Filters on composite type columns are not properly loaded"
### Description

If the filters on composite type columns are saved and the table is then reopened, the query for the table will be incorrect.

### DBeaver Version

22.1.5

### Operating System

Win 10

### Database and driver

_No response_

### Steps to reproduce

1. Filter the table by a column in a composite type.
2. Save the filter
3. Reopen the table

**Expected:** The same data is shown
**A

[2022-08-22 08:13] E1izabeth opened #17410 "Invalid filter query construction for composite types with the same column names"
### Description

Invalid filter query in special case.
https://user-images.githubusercontent.com/28875055/185871199-0dbecc2b-86e6-4f14-b4fb-7a9eacbd519c.mp4

Custom filter panel updates both columns constrains when trying to update only one.
https://user-images.githubusercontent.com/28875055/185873278-9bc902f4-3112-47a0-b19a-a4f5c0ac5081.mp4

### DBeaver Version

DBeaver 22.1.5

### Operating Syst

[2022-08-22 08:17] Matvey16 opened #17411 "Can't change SRID for BLOB columns with geometry data"
### Description

If the blob system contains geometry data it is possible to change view format to geometry and select the SRID, but on the actual map the SRID will be selected as simple and can't be changed.

### DBeaver Version

22.1.5

### Operating System

Win 10

### Database and driver

SQLite

### Steps to reproduce

1. Enter geometry data into Blob column e.g. `POINT (10 10)`
2. Change the

[2022-08-22 08:29] E1izabeth opened #17412 "Show complex columns structure is broken for arrays of composite data types"
### Description

https://user-images.githubusercontent.com/28875055/185875841-49baa1c8-dadc-4ab0-be65-174f1b22ab96.mp4

### DBeaver Version

DBeaver 22.1.5

### Operating System

_No response_

### Database and driver

PostgreSQL 12

### Steps to reproduce

1. Open table with array of composite data types.
2. Turn on Show complex columns structure
3. See a lot of messages in the debug log like
`Ca

[2022-08-22 08:42] E1izabeth opened #17413 "Errors on editing multidimensional array"
### Description

https://user-images.githubusercontent.com/28875055/185877782-d7ef43b7-b126-4c23-95c8-06ddc035d48e.mp4

### DBeaver Version

DBeaver 22.1.5

### Operating System

_No response_

### Database and driver

PostgreSQL 12

### Steps to reproduce

1. Try to open or modify value of multidimensional array with inline array editing.
2. See in the debug log

[code]

### Additional context

_

[2022-08-22 09:14] uslss commented on #17397
@bankuaizhuan1 what database do you use? video with the issue also would be very helpful

[2022-08-22 09:40] bankuaizhuan1 commented on #17397
mysql 数据库 8.0 ，视频的话等我抽时间录一下

[2022-08-22 11:45] marat-irgebayev commented on #11052
This functionality is a must have, it would be great if it was implemented ASAP, so much working hours could be saved up collectively

[2022-08-22 12:36] homerlex commented on #16936
FYI - I am having the exact same issue.  I can view data in my AWS Elasticache intances just fine.   I just started playing with AWS MemoryDB and also get the `No reachable node in cluster` when trying to run a query from DBeaver.  I am also on Windows 10 and using DBeaver EE 22.1.0.202206131757

[2022-08-22 12:52] tautf commented on #15753
Ping @LonwoLonwo

So i'm reopening this as i found out the issue because i was facing it again and the fact that dbeaver is not complaining may be discussed to have it as an error.

As you can see in my comment above, i have been running the following:

[code]

The cause of this issue is a missing `^` at the last `END` statement.

If youre missing it, the statement runs fine, but has no effect to

[2022-08-22 14:08] flambchap commented on #5750
A user of ours still experiences this issue. He suspects that those tables from the wrong schemas are actually synonyms. I think we can add a separate folder for synonyms, and the issue will disappear.

[2022-08-22 14:11] michal-bartak opened #17415 "Drag&Drop from Navigator"
### Description

Is it expected that Drag&Drop of an object pulled from the Navigator to SQL editor doesn't work?
The mouse cursor is being changed during this process indicating d&d operation, but the object name is not pasted to the editor.

### DBeaver Version

22.1.4.202208051447

### Operating System

Fedora 36

### Database and driver

PostgreSQL

### Steps to reproduce

1. hover with mouse

[2022-08-22 14:22] JMajeau commented on #17352
This does seem to be what I was looking for, thank you!

[2022-08-22 14:22] #17352 closed, assigned to nobody

[2022-08-22 14:56] homerlex commented on #16936
NOTE: Seems to be related to Encryption.  The cluster I get the error on has "Encryption in transit" set to "TLS".

As a test, I created another cluster with  "Encryption in transit" set to "No encryption".  The "No Encryption" cluster's data is viewable in DBeaver.

[2022-08-22 14:58] jetzerb commented on #17379
[This feature already exists](https://dbeaver.com/docs/wiki/Navigation/#navigate-foreign-keys---referencing-tables).  Populated cells that are foreign keys have a clickable "external link" icon
![image](https://user-images.githubusercontent.com/36859020/185950539-08a7a005-c120-49ec-bb0b-ddf4360d3be2.png). When you click it, the row in the referenced table will open.  You can then use the navigatio

[2022-08-22 15:37] renezito opened #17419 "After change a value in reultset the "Save" button is not enabled"
### Description

I execute my SQL, in resultset I change a value and the button "Save" in the lower left corner
![20220822 Error dbeaver 22 1 5-botton save no se habilita](https://user-images.githubusercontent.com/37661233/185960508-1aff46a6-67da-40b4-be73-826c018ff4e0.jpg)
.

### DBeaver Version

22.1.5

### Operating System

Windows 10 Pro

### Database and driver

It's irrelevant for this bug,

[2022-08-22 15:40] renezito commented on #17419
It's very rare.  I execute again the same SQL, change a value and the button "Save" is enabled....
Please check it... more than one time.  You can see the imagen I posted that shows the button is not enabled.
Thanks

[2022-08-22 15:41] numeralnathan commented on #17379
Thank you!  I am blind.

This works for @OneToOne and @ManyToOne.  What about @OneToMany?  The column doesn't exist in one of the tables.

Oh wait, I found it.  If I right click on the row header > Navigate > References, it shows a list of related tables.  This just showed me a bug in my schema.  A table is missing a foreign key constraint.

[2022-08-22 15:41] #17379 closed, assigned to nobody

[2022-08-22 16:08] DariaMarkaryan opened #17420 "[Redhift] Ingoing references aren't visible"
### Description

Can't see ingoing references. You can navigate by links in cells in the data grid, but they aren't visible in References Panel and in ERD.
(Sorry, haven't taken video in references panel, but think problem is clear)

Video from ERD:

https://user-images.githubusercontent.com/43252954/185968068-1f172736-c5ad-4b0b-ba6d-50518ac412c5.mp4

### DBeaver Version

22.1.5

### Operating Sys

[2022-08-22 16:20] DariaMarkaryan opened #17421 "[Redshift] varbyte column breaks columns editing"
### Description

https://user-images.githubusercontent.com/43252954/185969046-278e00a5-562d-4c0f-9dc0-43137c9f3382.mp4

If table without PK, but with Virtual Pk, has **varbyte** column you won't be able to delete or change other data.

### DBeaver Version

22.1.5

### Operating System

win11

### Database and driver

Redshift

### Steps to reproduce

_No response_

### Additional context

_No resp

[2022-08-22 16:30] Apple-76 commented on #17388
Having the same issue on 22.1.5 on MacOS Ventura 13.0 beta (22A5321d)

[2022-08-22 16:56] benyaminl commented on #11095
@kseniiaguzeeva with this, is it possible for us to create a new action? like copy as sql update or copy as sql delete. Thank you

[2022-08-22 20:37] leehach opened #17425 "SSL Mode = disabled required for successful connection, still working on other installations with SSL off."
### Description

I don't think this is a bug. It is an unexpected behavior that I can't find information on.

I use DBeaver to connect to a PostgreSQL database. I've put in usual connection string info on the Main tab of the Connection configuration dialog. I've never done anything on the SSL tab for the connection to work. It is currently working on a Linux machine and a Windows machine using Com

[2022-08-23 00:24] lohxx opened #17426 "NoSQL database options are empty."
### Description

<img width="1440" alt="Captura de Tela 2022-08-22 às 21 19 23" src="https://user-images.githubusercontent.com/26140123/186042236-9e3e502a-658e-403b-9a79-8f483df204fd.png">

### DBeaver Version

22.1.5

### Operating System

macOs Monterey 12.5.1

### Database and driver

_No response_

### Steps to reproduce

1. Click on the button to connect a database
2. Select the NoSQL option

[2022-08-23 05:38] igor2x opened #17427 "Update Db2 LUW JDBC driver to version v11.5.7.0"
**Is your feature request related to a problem?**
In DBeaver Community Edition v22.1.5 on Windows 10 there is 3 years old JDBC driver for Db2 v11.5.0.0 bundled in DBeaver which is pretty old. I need to manually download the latest JDBC and manually import it into DBeaver and I need to help my coworkers to do the same, which is little bit annoying.

**Describe the solution you'd like**
Please inclu

[2022-08-23 06:04] igor2x opened #17428 "Old link to Db2 Driver documentation"
### Description

The problem is in DBeaver Community Edition 22.1.5 at Db2 Driver there is link to old end-of-life database v11.1. This is the problem. Solution is to update link to latest and officially supported v11.5 database.

### DBeaver Version

Community Edition 22.1.5

### Operating System

Windows 10

### Database and driver

Database name and JDBC driver I am using is irrelevant to this

[2022-08-23 06:23] goryushkinov commented on #17368
Colleagues, please pay attention ! Thanks.

[2022-08-23 07:08] uslss commented on #16262
@usoa unfortunately, cannot reproduce you issue for now. Could you check if it is reproducible for you against the new dbeaver version?

[2022-08-23 08:35] NiklasRz commented on #17274
Previously I was unable to edit the "Path" field after choosing the "edit connection" option. I don't know why, but when I tried right now, I was able to edit that field. When I manually changed the path from "run/user/...." to "/home/myuser/.../dbfile.db" it worked and I was able to access the db without getting the error.

[2022-08-23 09:37] LucioMenci commented on #14251
Hi,
I don't know if there is a problem, but maybe I help a bit yuou in this. I wrote something time ago to help me to do the same thing for DB2 and SQLServer.

Imagine to write this:
[code]
And have cursor on 4th row.
System has to know that I am asking for the four tables mentioned and to populate menu simply has to perform the following selects:

DB2:
[code]
On SQLServer:
[code]

Those are examp

[2022-08-23 09:53] Destrolaric commented on #17426
Hi, could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.
Edit. Never mind, I confirm that the NoSQL tab should not be visible on CE.

[2022-08-23 12:32] uslss commented on #17427
#17428

[2022-08-23 12:38] uslss commented on #17419
@renezito unfortunately, cannot reproduce it.
Probably some special steps are needed. Video with the issue will be very helpful.
![dbeaver_G83kp847BC](https://user-images.githubusercontent.com/31996417/186159957-697084a9-d449-4c2c-b0ea-0167036dcc5a.gif)

[2022-08-23 12:44] uslss commented on #17407
@google007049, unfortunately, cannot reproduce it. It would be helpful if you could provide a DDL to create the table to reproduce an issue

[2022-08-23 12:46] Essentia-G opened #17433 "Changing the font size in the navigation tree"
We need to add a new setting to the User Interface -> Appearance -> Colors and Fonts to make it possible to change the font size only for the Database Navigator.

[2022-08-23 12:48] uslss commented on #17403
thanks for the suggestion

[2022-08-23 12:51] uslss commented on #17393
@hktalent could you provide steps to reproduce or video with the issue? thanks in advance

[2022-08-23 13:01] uslss commented on #17392
@google007049, unfortunately, cannot reproduce.
Could you provide logs? https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-08-23 13:17] serge-rider commented on #16852
We will upgrade SSHJ version and add ASN1 dependency in the next version

[2022-08-23 13:38] uslss commented on #17402
@lord-lucho-wins, unfortunately, cannot reproduce it. Columns are shown for me in generated script.
Probably you could provide a video with the issue?
![image](https://user-images.githubusercontent.com/31996417/186172726-501d207c-23e8-4830-88dc-c9ce8b51030c.png)

[2022-08-23 13:49] jyinpci commented on #7704
I am seeing this issue with 22.1.4 (but only for some instances of dbeaver).  After running a script, it always shows the <Statistics 1> tab.  I have to switch manually to the <Results 1> tab.  Is there a configuration that I can set to suppress this?  I have dbeaver (same version running on another connected to a different database), the default output tab is the <Results 1> tab.

[2022-08-23 14:30] mindful-monkey opened #17434 "Display DB2 Column Mask Objects"
**Is your feature request related to a problem? Please describe.**
When switching from Toad for DB2 to dbeaver, I noticed that existing mask objects are not listed/visible.

**Describe the solution you'd like**
List all existing masks either on database/schema level or on table level

[2022-08-23 15:06] Destrolaric opened #17436 "Npe appears when using gis editor"
### Description

NPE when activating gis editor

### DBeaver Version

22.1.5

### Operating System

Windows 10

### Database and driver

[code]

### Steps to reproduce

Try to click on geometry data to open the editor, around 1 of 100 tries will lead to NPE

### Additional context

_No response_

[2022-08-23 15:54] jyk4100 commented on #9414
I am still having the same issue post upgrade to 22.2.0 (version: 22.1.5.202208211008). Although the time that take to "Home/End redirection to Line Start/Line End" to stop working has increased from 10 minutes to say 30 minutes 😃  (rough estimates). Anyone else still having the same problem after upgrading to 22.2.0?

https://user-images.githubusercontent.com/14896560/186223109-454e5202-92f7-4faf

[2022-08-23 15:59] LucioMenci commented on #14251
Here you an example to search for table list too. Assuming that the character position is §:
[code]
Naturally empty aliases have to be replaced with `(Schema != '' ? Schema + '.' : '') + Table`

I didn't use a specific language, I don't know witch one you use (I think it was java), but I think you can understand how I used regexes.
I can't intervene directly in the code, as I don't know how the us

[2022-08-23 16:04] #17016 closed, assigned to ShadelessFox, Matvey16

[2022-08-23 16:04] #17248 closed, assigned to ShadelessFox, Matvey16

[2022-08-23 16:13] dabrign commented on #16865
Same setup, same problem...

Any update?

[2022-08-23 16:32] trinard108 commented on #9045
I'm receiving this issue in DBeaver Version 22.1.5.202208211008, and none of the workarounds above work.  This is preventing me from using DBeaver at all.  No right clicks work, anywhere in DBeaver.  It seems this issue has existed for years.  Is there another way to reach the menus shown on right click, especially 'Show all databases'?

[2022-08-23 18:17] zalox opened #17442 "Unable to turn off new version notification on startup"
Dear team,

I find it very annoying that I have to dismiss an "Update Available" dialog every time I start DBeaver. For most of my software I use the package manager in my distribution to update and it almost always is one version behind your latest, which is fine for me in most cases. I've scanned through the menus for a way to dismiss this dialog, but no luck.

Is there a way to turn it off perm

[2022-08-24 00:15] lord-lucho-wins commented on #17402
Hello @uslss ,
I create a view with when the column name of the view is **SocioNegocio** :
CREATE VIEW "SBO_TAMAING_PRODUC"."TQC_VW_PRUEBA" ( "SocioNegocio" ) AS
(SELECT "CardCode" FROM OCRD)

When i use generate DDL I get:
CREATE VIEW SBO_TAMAING_PRODUC.TQC_VW_PRUEBA AS
SELECT "CardCode" FROM OCRD;

Then put ALTER instead CREATE and execute:
ALTER VIEW SBO_TAMAING_PRODUC.TQC_VW_PRUEBA AS
SELECT "

[2022-08-24 00:51] google007049 commented on #17407
Thank you for your reply. And thank you for your interest.
Raise the table layout and DDL.

When Dbeaver does Advanced Paste, there is an error as below when creating a script.

INSERT INTO A_MAISSU (COMPANY_KIND,ISSNO,ISSEQ,ITEM_CODE,DEPT_CODE,ISDATE,QTY,UPRICE,AMT,IS_TYPE,SLIP_NO,IN_CD,COA_CODE,STOCK_FLAG,FB_FLAG,FB_SEQ,AC_FLAG,AC_SLIPNO,AC_DATE,REMARK,IS_STATUS,CREATE_EMPNO,CREATE_DTIME,MODIFY_

[2022-08-24 02:21] google007049 commented on #17392
Thank you for your answer.
If you watch the video, it will be easy to reproduce, but I'm sorry to hear that it's hard.
For example, I'm going to tell you something

### **select sysdate from dual ; -- sysdate**

In this sentence, an error occurs when you perform Ctrl+enter with a prompt after select sysdate from dual; --sysdate.
However, if you block only select sysdate from dual; or run ctrl+ente

[2022-08-24 02:56] ghost opened #17444 "Search string, hope to automatically remove the spaces on the left and right sides"
DBeaver Enterprise
version info： 22.1.0.202206131757
When I input a string with spaces, there is no result, after removing the spaces there is a result, I hope to be able to automatically remove the spaces.
![image](https://user-images.githubusercontent.com/43258262/186310212-d373d955-fd38-457b-b264-c16bc6a6fd94.png)

[2022-08-24 03:06] MarcelloPaiva commented on #17302
I am currently having the same issue

[2022-08-24 03:36] j717273419 opened #17445 "Sql Server create new column will lost column description"
### Description

Sql Server create new column will lost column description, when I create a new column in a table, I type a description for this column. but when I save the change. This column will lost.

### DBeaver Version

Community 22.1.3

### Operating System

Windows 11

### Database and driver

SQL Server

com.microsoft.sqlserver:mssql-jdbc:RELEASE

9.2.0.jre8

### Steps to reproduce

1. cr

[2022-08-24 08:30] E1izabeth commented on #17309
Connected to #16785

[2022-08-24 09:07] #16974 closed, assigned to Destrolaric, Matvey16

[2022-08-24 09:49] lukaseder opened #17451 "Fetch multiple implicit cursors from Oracle procedural code"
### Description

When using "implicit cursors" (or whatever they're called, i.e. when using `DBMS_SQL.RETURN_RESULT`) in Oracle, only the first one is fetched and displayed, unlike in other RDBMS (MySQL, SQL Server), where they're all fetched.

### DBeaver Version

Version 22.1.5.2022082

### Operating System

Microsoft Windows [Version 10.0.22000.856]

### Database and driver

1. Oracle Database

[2022-08-24 10:08] lukaseder commented on #17451
Maybe, this is because of the following issue of ojdbc?
https://blog.jooq.org/how-to-fetch-oracle-12c-implicit-cursors-with-jdbc-and-jooq/

[2022-08-24 10:27] E1izabeth commented on #17433
Probably it's a duplicate of https://github.com/dbeaver/dbeaver/issues/17253

[2022-08-24 10:55] #16208 closed, assigned to Destrolaric, Matvey16

[2022-08-24 11:04] serge-rider commented on #16936
We need to
- Upgrade Jedis version (to 4.x)
- Test with encrypted clusters

[2022-08-24 13:16] ShadelessFox commented on #17329
Hello @Dkrav-UA,

I'm unable to reproduce your issue. Can you try installing the latest version of DBeaver? https://dbeaver.io/download

[2022-08-24 13:28] #16995 closed, assigned to E1izabeth, uslss

[2022-08-24 13:36] thejavalistener opened #17457 "SQL Editor disconect on save (Eclipse Plugin)"
### Description

When I save the file, the sql editor loses connection and reconnection is required.

### DBeaver Version

22.1.5 (Eclipse Plugin)

### Operating System

Windows 8.1

### Database and driver

Hyper SQL Server 2.7.0

### Steps to reproduce

1. Create a connection
2. Open any .sql file
3. Execute some statement
4. Save the file
5. Connection lost!

### Additional context

_No respons

[2022-08-24 13:39] renezito commented on #17419
Thanks for ur quickly answer.  As I said, then I execute again the SQL and chage a value, the button was enabled.  And, as you say, some special steps are needed.  Please close this issue.

[2022-08-24 13:40] #16425 closed, assigned to uslss, ShadelessFox

[2022-08-24 14:10] renezito opened #17458 "Feature request: View permission and dependencies when viewing materialized view"
It could be great if we can see more details when viewing materialized views.  For example, 2 basic things: **Permissions** and **Dependencies**.
![image](https://user-images.githubusercontent.com/37661233/186535185-433d5a6c-e0b6-4c74-8392-c82b1d44ccd6.png)

[2022-08-24 14:24] serge-rider commented on #16792
Can be tested after WinStore release

[2022-08-24 14:30] lucashtc commented on #17367
@uslss
After waiting a long period of time, I got this result inside the log.

After it reports this error, I can finally execute my queries

![image](https://user-images.githubusercontent.com/17412763/186444845-a9c7275e-d9a2-4397-8273-4a66b4df2de7.png)

[2022-08-24 16:54] fxerkan commented on #17388
I have the same issues and also these additional problems;
- I can't open the Context Menu (right click) menu in any place
- Dbeaver toolbar menus are NOT working - I can't click or open any menu item even if it highlight the menu
<img width="630" alt="image" src="https://user-images.githubusercontent.com/20793273/186476730-0cb91c72-ab40-4ad5-a646-7c6faf39b68b.png">
- when I close the main Dbeaver

[2022-08-24 17:18] michal-bartak commented on #17205
I found that being in block edit mode, pressing and holding space (for repetitive adding spaces) ends with weird behavior too. the block edit cursor jumps to the line beginnings (probably similar to tab)

[2022-08-24 17:41] ShadelessFox opened #17460 "Column names with `create` mapping aren't displayed correctly in the UI but executes fine"
### Description

After creating a data transfer task to a new table, changes to column names are not reflected after reopening the saved task.

![image](https://user-images.githubusercontent.com/35821147/186486210-135d199b-bfaa-441c-902f-8c5aee364eef.png)

### DBeaver Version

22.1.5

### Operating System

Windows 10

### Database and driver

_No response_

### Steps to reproduce

_No response_

#

[2022-08-24 19:19] serge-rider commented on #16431
We must resolve variables during connect only, see DBPConnectionConfiguration.resolveDynamicVariables

[2022-08-25 07:45] poltpolt commented on #8129
Regression in 22.1 at least this is when I switched to wayland and noticed this bug

[2022-08-25 08:23] uslss commented on #16785
fixed ib #17309

[2022-08-25 08:23] #16785 closed, assigned to nobody

[2022-08-25 08:24] tomchiverton commented on #17442
Preferences > User Interface > disable automatic update check

Suggest closing the issue

[2022-08-25 08:24] serge-rider commented on #16936
Linked PR: https://github.com/dbeaver/dbeaver-ee/pull/1886

[2022-08-25 08:31] uslss commented on #17451
thanks for the report

[2022-08-25 08:35] uslss commented on #17445
thanks for the report

[2022-08-25 08:36] uslss commented on #17433
closed as a duplicate of #17253

[2022-08-25 08:36] #17433 closed, assigned to nobody

[2022-08-25 08:39] uslss commented on #16606
There has been no update on the issue for a long time. If the issue is still actual for you, feel free to reopen it.

[2022-08-25 08:39] #16606 closed, assigned to Matvey16

[2022-08-25 08:40] uslss commented on #14647
There has been no update on the issue for a long time. If the issue is still actual for you, feel free to reopen it.

[2022-08-25 08:40] #14647 closed, assigned to Destrolaric

[2022-08-25 08:40] uslss commented on #16069
There has been no update on the issue for a long time. If the issue is still actual for you, feel free to reopen it.

[2022-08-25 08:40] #16069 closed, assigned to ShadelessFox

[2022-08-25 08:41] uslss commented on #16815
There has been no update on the issue for a long time. If the issue is still actual for you, feel free to reopen it.

[2022-08-25 08:41] #16815 closed, assigned to nobody

[2022-08-25 08:42] uslss commented on #17071
There has been no update on the issue for a long time. If the issue is still actual for you, feel free to reopen it.

[2022-08-25 08:42] #17071 closed, assigned to nobody

[2022-08-25 08:42] uslss commented on #17116
There has been no update on the issue for a long time. If the issue is still actual for you, feel free to reopen it.

[2022-08-25 08:42] #17116 closed, assigned to nobody

[2022-08-25 08:43] uslss commented on #16955
There has been no update on the issue for a long time. If the issue is still actual for you, feel free to reopen it.

[2022-08-25 08:43] #16955 closed, assigned to nobody

[2022-08-25 08:44] uslss commented on #16482
Is the issue still actual?

[2022-08-25 08:44] uslss commented on #16961
There has been no update on the issue for a long time. If the issue is still actual for you, feel free to reopen it.

[2022-08-25 08:44] #16961 closed, assigned to uslss

[2022-08-25 08:45] uslss commented on #17197
There has been no update on the issue for a long time. If the issue is still actual for you, feel free to reopen it.

[2022-08-25 08:45] #17197 closed, assigned to nobody

[2022-08-25 08:45] uslss commented on #16862
There has been no update on the issue for a long time. If the issue is still actual for you, feel free to reopen it.

[2022-08-25 08:45] #16862 closed, assigned to LonwoLonwo

[2022-08-25 08:46] uslss commented on #17224
There has been no update on the issue for a long time. If the issue is still actual for you, feel free to reopen it.

[2022-08-25 08:46] #17224 closed, assigned to nobody

[2022-08-25 08:47] uslss commented on #17238
There has been no update on the issue for a long time. If the issue is still actual for you, feel free to reopen it.

[2022-08-25 08:47] #17238 closed, assigned to nobody

[2022-08-25 08:52] #17344 closed, assigned to nobody

[2022-08-25 08:54] #17442 closed, assigned to nobody

[2022-08-25 08:56] #17309 closed, assigned to E1izabeth, uslss

[2022-08-25 10:12] Matvey16 commented on #17040
@wangqian-49 Is it possible for you to attach this gif here. Or at least say it's dimentions in pixels?

[2022-08-25 10:33] Xophmeister opened #17466 "Execute SQL statement considers empty lines and comments as statement delimiters"
### Description

When you click "Execute SQL", or press Ctrl+Enter, in the SQL editor, DBeaver only seems to consider a "statement" to be a contiguous block of text from the cursor position, rather than an actual SQL statement.

For example, this is a complete SQL statement:

[code]

DBeaver, however, considers this as four separate statements and executes the one where the cursor is located:

1.

[2022-08-25 10:46] Bas950 opened #17467 "PostgreSQL - _box (box[]) isn't formatted as an array correctly."
### Description

Box arrays aren't getting parsed correctly
![image](https://user-images.githubusercontent.com/34792838/186643633-454fff7f-c751-43a9-a21f-d8167ab428d4.png)

Should be like any other arrays:
![image](https://user-images.githubusercontent.com/34792838/186643798-107c5807-86ca-4d8b-89df-c1120ac902fa.png)

### DBeaver Version

22.1.3.202207240614

### Operating System

Windows 11 build:

[2022-08-25 11:00] Matvey16 commented on #15282
@WildLlama Thank you for this sample. There indeed is a bug in code extraction. We will see what can be done

[2022-08-25 11:18] schmunk42 commented on #16961
Please reopen.

I am having the same issue, users usually are created with `ALL PRIVILEGES` which does not include `GRANT OPTION` https://dev.mysql.com/doc/refman/8.0/en/privileges-provided.html#priv_grant-option

Schema permissions are also set to `N` in `mysql.db`, but it is shown as checked like in https://github.com/dbeaver/dbeaver/issues/16961#issuecomment-1177175512

I haven't tested with an

[2022-08-25 11:46] flambchap commented on #17353
Hi @dzar-aker. Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

[2022-08-25 12:07] uslss commented on #17467
thanks for the report

[2022-08-25 12:09] uslss commented on #17466
@Xophmeister could you try to disable Blank line is statement delimiter option in preferences and check if it helps?
![image](https://user-images.githubusercontent.com/31996417/186660493-e9eb479e-47fa-42a0-a877-17d1e8b210fe.png)

[2022-08-25 12:14] Xophmeister commented on #17466
Thanks @uslss -- That does fix the problem, but that seems like a curious default.

[2022-08-25 12:21] Kluk commented on #16961
@uslss, thank you for your reply and sorry for the long delay. I thought I replied to this but I've probably been interrupted and forgot to publish my comment.

Yes, but the display is still wrong. EVENT is checked in MySQL Workbench but not in DBeaver as it should be.
Also, administrative roles are not the same as schema privileges.
Administrative roles are global, schema privileges are specific

[2022-08-25 12:49] flambchap commented on #17091
Agreed. Thank you for noticing.

[2022-08-25 12:51] flambchap commented on #17091
Fixed.

[2022-08-25 12:51] #17091 closed, assigned to flambchap

[2022-08-25 13:05] emironovDB commented on #9326
Hi @dbajaj1,

Have you tried installing the latest version of DBeaver?

Is the problem still present?

[2022-08-25 13:10] Destrolaric commented on #14944
@suhailmemon Hi, sorry for waiting. I looked into your logs. Unfortunately, they don't contain the required information. Please could you try to reproduce this error and send logs once again?

[2022-08-25 13:14] Destrolaric commented on #17388
Hi, the issue is a duplicate of #17204. Unfortunately, this is the Eclipse bug in Ventura, and it should be resolved later in the autumn. For now, downgrading may help.

[2022-08-25 13:14] #17388 closed, assigned to nobody

[2022-08-25 13:17] camargoguedes opened #17470 "block selection"
Bom dia,
primeiramente gostaria de dizer que a ferramenta é excelente, uma das melhores que já vi.
Uma implementação que ajudaria muito e a tornaria muito produtiva é a seleção em bloco, igual o NotePad++ o SQL Server e etc. Pois nestes é possivel efetuar a seleção no Teclado diretamente com o atalho de tecla Alt+Shift.

[2022-08-25 13:20] ShadelessFox commented on #17470
Hello @camargoguedes,

If I understand you correctly, you can enable block selection mode using the `Alt+Shift+A` shortcut.

Please let me know if your issue solved.

[2022-08-25 13:23] Destrolaric commented on #17257
I think we should investigate possible ways to extract logs from ws store apps

[2022-08-25 13:26] camargoguedes commented on #17470
yes, that would be it, but today it is only possible to make the selection with the mouse, it would not be possible to implement something similar with Notepad++. Is the selection made directly on the text with no zoom change?

[2022-08-25 13:27] emironovDB commented on #17355
@liuzhe101
Thanks for the feature request!

[2022-08-25 13:34] ShadelessFox commented on #17470
Sorry, I don't quite understand. Can you please clarify?

Do you want to hold `Alt` key while dragging the mouse to perform block selection, just like in Notepad++? It's certainly possible to implement, but, as of now, the only solution is to use the mentioned shortcut.

[2022-08-25 13:43] camargoguedes commented on #17470
that's right, in notepad++ and other tools I don't need to pick up the mouse, we can use the right, left up and down arrows, but thanks anyway

[2022-08-25 13:50] ShadelessFox commented on #17470
I'm confused. You **don't** want to use the mouse to perform a block selection? This is totally possible in DBeaver, too.

1. Press `Alt+Shift+A` to enter block selection mode
2. Use arrow keys to extend the selection
3. Press `Alt+Shift+A` again to leave block selection mode

[2022-08-25 13:54] ShadelessFox commented on #17444
Hello @chazhongbao,

What's the type of the `account` column? I assume it's a number?

[2022-08-25 13:58] camargoguedes commented on #17470
no mouse.

I'd like to use the arrow keys

<details>

![Setas](https://user-images.githubusercontent.com/54440358/186684259-f6b07de2-2b5b-462e-bb59-124c5586716a.jpeg)

</details>

[2022-08-25 14:04] ShadelessFox commented on #17470
Okay, then use the following solution https://github.com/dbeaver/dbeaver/issues/17470#issuecomment-1227290908

[2022-08-25 14:05] #17470 closed, assigned to nobody

[2022-08-25 16:08] hozn commented on #9414
Concur; same issue after upgrade, though also agree that it takes more than a couple minutes now. ( Maybe it did before; it's hard to time it :) )

[2022-08-25 16:10] derfryday commented on #9414
still broken, basically right after launching dbeaver too.

[2022-08-25 16:12] tmas commented on #16852
So I'm unsure why SSHing in from a terminal doesn't also encounter this issue, but when the `ssh-keyscan` trick didn't work for me I was able to fix the issue by generating an ed25519 key to replace my existing RSA key.

It looks like Ubuntu 22.04 deprecated rsa-based SSH keys, so I'd say this is probably outside of the project scope. I'm not sure if there's a way to see what version of OpenSSH th

[2022-08-25 16:34] #17412 closed, assigned to serge-rider, uslss

[2022-08-25 16:34] #16655 closed, assigned to E1izabeth, uslss

[2022-08-25 18:29] iguanito commented on #3780
Faced the same issue today but on Ubuntu with snap installation. (dbeaver v22.1.4)

Actually, the problem was solved by updating the local folder to store drivers:
Windows -> Preferences -> Connections -> Drivers -> Edit local folder with actually existing path

![image](https://user-images.githubusercontent.com/4182403/186741475-be8d89bd-ffd9-4f1f-b231-0bbdd24a9b55.png)

[2022-08-25 19:20] d13g0 commented on #9414
Same here I can't wait for the fix

[2022-08-25 19:49] ljohnston123 opened #17476 "After installing dBeaver 22.1.5, I get "Datasource config parse error""
### Description

This is similar to https://github.com/dbeaver/dbeaver/issues/17300

I installed dBeaver 22.1.5 this week.  I was prompted to migrate my configuration to the new format and I choose 'Migrate' and my existing connections are imported.

But then I need to create a new connection.  The new connection is type Postgre.  I already have 2 existing postgre connections as well.

After I cre

[2022-08-25 21:30] E1izabeth commented on #17476
Please, send the log files. You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/

[2022-08-25 21:35] #16482 closed, assigned to nobody

[2022-08-25 21:43] E1izabeth commented on #17476
Also could you send your data-sources file (see https://github.com/dbeaver/dbeaver/wiki/Admin-Manage-Connections) to my email? It would be very helpful.

[2022-08-26 07:32] wangqian-49 commented on #17040
@Matvey16 896 × 700 pixels

[2022-08-26 08:30] mblackgeo opened #17477 "Spatial GIS viewer prompts to save HTML and does not render inside dbeaver"
### Description

Whenever viewing a geometry column, the spatial viewer does not render inside dbeaver just prompts the file manager to save a temporary HTML file only. The spatial viewer window within dbeaver stays blank, no matter what options are selected. The geberated HTML file contains HTML/JS including leaflet, and pressing the "open in browser" button at the bottom of the spatial viewer wi

[2022-08-26 08:44] #17260 closed, assigned to uslss, ShadelessFox

[2022-08-26 08:48] E1izabeth commented on #17389
Please, send the query which you see in the [Query Manager](https://dbeaver.com/docs/wiki/Query-Manager/) when trying to delete constraint.
EDITED: never mind, I see it

[2022-08-26 09:01] Destrolaric commented on #17477
Hi, a duplicate of https://github.com/dbeaver/dbeaver/issues/16125. A workaround for this issue can be found there.

[2022-08-26 09:01] #17477 closed, assigned to nobody

[2022-08-26 09:05] #17018 closed, assigned to E1izabeth

[2022-08-26 09:05] uslss commented on #17458
thanks for the suggestion

[2022-08-26 09:09] mblackgeo commented on #17477
Many thanks, that has fixed the issue. I'll try and do a better job of searching the closed issues next time, cheers :+1:

[2022-08-26 09:31] mordillo123 commented on #1804
Any updates? Tnx

[2022-08-26 09:43] Rah1x commented on #8546
still happening!

[2022-08-26 10:21] #16749 closed, assigned to Destrolaric, Matvey16

[2022-08-26 10:36] Destrolaric opened #17479 "[Clickhouse] Datetime64/Datetime support"
Currently, we have one datatype for handling timestamp values. As we found out in the scope of https://github.com/dbeaver/dbeaver/issues/17362 Clickhouse has two datatypes for timestamps. Datetime doesn't support milliseconds and has a lesser range of dates but Datetime64 supports them. We need to be able to handle them. We need to be able to handle date formatting issues that arise when we use Cl

[2022-08-26 11:26] trinard108 opened #17480 "Right click menu does not appear anywhere in DBeaver"
### Description

It appears that this issue has existed for years.  I tried commenting on the last post (2020) but got no response so I'm thinking that I was supposed to create my own.

I'm receiving this issue in DBeaver Version 22.1.5.202208211008, and none of the workarounds in any of the posts mentioning it have worked for me.  No right clicks work, anywhere in DBeaver.   I enter DBeaver throu

[2022-08-26 12:22] ljohnston123 commented on #17476
Here is my log file
[.log](https://github.com/dbeaver/dbeaver/files/9433099/default.log)

[2022-08-26 12:27] E1izabeth commented on #17476
Thank you

[2022-08-26 13:35] kikonen commented on #17332
Updated to 22.1.5.202208211008 and error is back (naturally since conf file is back to original).

[2022-08-26 13:40] Destrolaric commented on #17332
Hi, the fix will be available in 22.2.0. If the issue regarding no more handles continues, there will be a new UI preference to use IE as a default browser.

[2022-08-26 14:32] Destrolaric commented on #16431
I have looked into the issue, and we actually have a variable resolution. It happens when we start connecting to the data source. Fill free to reopen it if you think the issue is still actual.

[2022-08-26 14:32] #16431 closed, assigned to Destrolaric, Matvey16

[2022-08-26 14:51] #17332 closed, assigned to Destrolaric, Matvey16

[2022-08-26 17:39] E1izabeth commented on #6246
May be implemented in scope of #16678

[2022-08-26 19:57] durja commented on #4526
disconnecting and reconnecting the connection worked for me.

[2022-08-27 03:56] ghost commented on #17444
no, It is a number of string type, I have tried inputting the number can be found, inputting the string can not。  The column is  varchar type

[2022-08-27 07:32] #16936 closed, assigned to serge-rider, Matvey16

[2022-08-27 11:01] plotn commented on #8394
@E1izabeth, could you help me? I am trying to add breakpoint to QueryLogCommandHandler at first line (QueryLogViewer logViewer = getActiveQueryLog(event);) of:

public Object execute(ExecutionEvent event) throws ExecutionException

But this doent work. I guess I was right with this line of code? Other places are caught by debugger as well...

[2022-08-27 12:01] ShadelessFox commented on #17444
We don't want to trim strings since spaces are part of their data, and they may be important. Sorry.

If the column had a numeric type, it would be an option, since a number is only represented by `0..9`, excluding spaces.

[2022-08-27 12:01] #17444 closed, assigned to nobody

[2022-08-27 15:47] cacio-costa commented on #9414
I just update to DBeaver Version 22.1.5.202208211008, and macOS Monterey 12.5.1, M1 chip. The issue persists.

[2022-08-27 23:24] dector commented on #17476
+1. All saved connections / driver configurations disappearing:

[code]

(I was downloading h2-2.1.214 driver in the latest session - only maven repo cache is present)

`Version 22.1.5.202208211008`

[2022-08-28 08:14] serge-rider commented on #17476
Log says that file C:\Users\LJohnsto\AppData\Roaming\DBeaverData\workspace6\General\.dbeaver-data-sources.xml is corrupted.
It is a file where older DBeaver versions kepp datasources configuration.

[2022-08-28 22:19] dector commented on #17476
Reproducing:
https://imgur.com/a/k4y433y

[2022-08-29 07:35] nacesprin commented on #72
@serge-rider  Is this feature disabled? I can't set any ENUM option with last versions.

[2022-08-29 07:38] Destrolaric commented on #72
@nacesprin Hi, could you provide additional system information? We had that issue on macOS but it should work now.

[2022-08-29 07:40] serge-rider commented on #17476
The bug was appeared in 22.1.3. Legacy configuration (from DBeaver earlier than version 7) was incorrectly converted to a new configuration format (json contents in xml file).
This was fixed.

How to fix your configuration:
- Delete folder `.dbeaver` in your project
- Restart DBeaver

[2022-08-29 08:28] #17288 closed, assigned to E1izabeth, uslss

[2022-08-29 08:41] LonwoLonwo commented on #17360
Small note:
Table engines are editable only in one case - after the table creation in DBeaver, then the table tab is still open.
Table engines are not editable for persisted tables.

![2022-08-29 11_37_32-DBeaver Ultimate 22 2 0 - _language5](https://user-images.githubusercontent.com/45152336/187160706-6f1f8a19-e29a-449e-a894-a6d2b2e93a89.png)

This is the generic problem about updatable/editable

[2022-08-29 08:50] LonwoLonwo commented on #17480
Hello @trinard108

Can you provide a video of this issue, please?

Also, if I understand you correctly, your workaround is in Preferences -> Connections -> Drivers -> PostgreSQL
(It will work on all PostgreSQL connections, not for one only)

![2022-08-29 11_48_29-DBeaver Ultimate 22 2 0 - _language5](https://user-images.githubusercontent.com/45152336/187162564-7e2de709-79ea-4564-b0cf-1fe043383045.

[2022-08-29 08:52] uslss commented on #17476
verified

[2022-08-29 08:52] #17476 closed, assigned to serge-rider, uslss

[2022-08-29 09:25] Destrolaric opened #17489 "[Edge] no more handles"
[code]
_Originally posted by @kikonen in https://github.com/dbeaver/dbeaver/issues/17332#issuecomment-1213219453_
Sometimes appears when using Edge, it may happen due to handles being not properly disposed of because of race conditions.
Possibly related to the internal error inside the eclipse: https://github.com/eclipse-platform/eclipse.platform.swt/issues/339. We need to look for workarounds reg

[2022-08-29 10:04] nacesprin commented on #72
Hi @Destrolaric . DBeaver version I have is   22.1.5.202208211008
Windows 10.

I mean, if there is any way to specify the values in design/options tab though any dropdown list instead of by string.
![image](https://user-images.githubusercontent.com/295375/187177114-1ae726d8-e32f-4250-b581-d922aba0724c.png)

[2022-08-29 10:07] Destrolaric commented on #72
@nacesprin Hmm, I think we didn't add an enum as a datatype for that database. Could you tell me which database it is?

[2022-08-29 10:27] nacesprin commented on #72
I don't understand your question. It is my own database. What does the database have to do here?

[2022-08-29 10:29] Destrolaric commented on #72
@nacesprin, Sorry, I meant database type Postgre, Oracle, or another database type. The reason is each database has its data types. In DBeaver, many datatypes are hardcoded and need to be added manually to be recognized as such.

[2022-08-29 10:38] Matvey16 commented on #17457
@thejavalistener Hello, I was not able to reproduce this. Can you add what version of eclipse do you use?
And a few more clarifications. Is the .sql file created in Dbeaver and located in Scripts folder or is it an external file outside of workspace?
Did you make any changes to the file after executing a statement

[2022-08-29 10:43] Matvey16 commented on #17389
@All3xJ Thank you for the report. We will look what can be done with it.

[2022-08-29 11:22] Matvey16 opened #17491 "A lot of errors in Eclipse with DBeaver plugin"
### Description

Throughout the work in Dbeaver as an Eclipse plugin the error log gets congested with a lot of errors that don't affect the the work.

### DBeaver Version

22.1.5

### Operating System

Win10

### Database and driver

Any

### Steps to reproduce

1. Install Dbeaver plugin on eclipse
2. Do some basic work (Create a connection, change some data in data editor, run some scripts)

###

[2022-08-29 11:28] E1izabeth opened #17492 "Selection in dictionary value panel makes value hardly readable due to the light blue background"
### Description

![image](https://user-images.githubusercontent.com/28875055/187190935-ba97f8a0-c0f6-4ffd-853a-98aefd69731c.png)

### DBeaver Version

DBeaver 22.1.5

### Operating System

Windows 10

### Database and driver

_No response_

### Steps to reproduce

1. Open value panel for foreign key column.
2. Select an item. The font becomes white and the background becomes blue.
2. Put cursor on

[2022-08-29 11:38] ShadelessFox commented on #17492
#12141

[2022-08-29 11:55] uslss commented on #17480
#17204

[2022-08-29 12:11] maphstay commented on #16205
I totally agree with @Matvey16, i was need this today and was searching about until found this request, it's really necessary for improve the new feature "adding new sheet".

[2022-08-29 12:33] biji commented on #8129
same issue , I'm using  `22.1.5.202208211008`

[2022-08-29 12:38] nacesprin commented on #72
:) Database is MySQL. ENUM is working, but I ask if I can create ENUM elements through any way other than hardcoded.

[2022-08-29 12:58] maphstay opened #17493 "Problem when "Write to the single file" is checked in XLSX export"
### Description

When we checked "Write to the single file" in XLSX export, if we using the variables datasource, catalog or schema (these was the options that i tested), the value comes as empty.

Follow some prints to explain better.

### DBeaver Version

Community edition 22.1.5

### Operating System

Windows 10 x64 21H2 build 19044.1889

### Database and driver

Database MySQL
MySQL driver JBD

[2022-08-29 13:03] ShadelessFox commented on #17493
Hello @maphstay,

This is the expected behavior. The option `Write to the single file`, well, writes everything into a single file. Therefore the output filename must **not** be unique.

Perhaps you wanted to use the `Append to the end of the file` option?

[2022-08-29 13:23] maphstay commented on #17493
Yeah, i can append the name statically, but this way i need change the value for some database that i want export.
In my case too i need edit label sheet to comes with the table name, this is possible using write to the single file ?

[2022-08-29 13:33] kfwolf opened #17494 "Provide a way to dump the entire DDL for a single database."
This would be similar to the db2look function available through ibm's db2 or Microsofts SSMS generate scripts for all db objects.

The goal is to create a script that contains the entire DDL.  After a deployment, one could compare the script to a pre-deployment dump.

[2022-08-29 13:37] ShadelessFox commented on #17493
No, it's not possible.

[2022-08-29 13:39] LonwoLonwo commented on #17065
Now I can not see procedure parameters because of extra quotes.

`-- Load procedure columns ['TEST_DB', PUBLIC, PROC1, %] `

It does not work.

We should quote only keywords or names with special characters.

![2022-08-29 16_39_18-DBeaver Ultimate 22 2 0 - PROC1(ID FLOAT)](https://user-images.githubusercontent.com/45152336/187214579-dbc00c79-38bc-4076-b232-15bbbddaa7e0.png)

[2022-08-29 13:55] trinard108 commented on #17480
I cannot access the screen that you showed me above because the menu does
not appear when I right click.  Is there an alternative way to access it?
You can't see me right click from a video, here are the steps that I
follow.

Steps:
1.  Open Terminal from Mac
2.  Type command to open DBeaver. (prdsql -n <site name> -d <database name>
-m dbeaver --psql-path /Applications/DBeaver.app/Contents/MacOS/

[2022-08-29 13:58] maphstay commented on #17493
so for now this is all, I appreciate your help.

[2022-08-29 13:58] #17493 closed, assigned to nobody

[2022-08-29 13:58] LonwoLonwo commented on #17480
Is the left click also not available on the Windows tab? Preferences are in the "Window" menu.

[2022-08-29 14:31] trinard108 commented on #17480
Left click is available.  Excellent, I found it in the Windows menu for the
driver.  Any advice on getting the right click to work will be great, but
accessing this menu was the big one for me.

On Mon, Aug 29, 2022 at 8:58 AM Anastasiya ***@***.***> wrote:

--
This e-mail message was sent from 6 River Systems, LLC and may contain
confidential and/or privileged information. If you are not an addre

[2022-08-29 14:35] trinard108 commented on #17480
Sorry, I take it back.  Selecting 'Show all Databases' through that menu is
not showing me all of my databases.  Is there another setting that it goes
along with?  Is it using ClassPath driver instead since I log in with the
terminal?

On Mon, Aug 29, 2022 at 9:31 AM Trina DuBose ***@***.***> wrote:

--
This e-mail message was sent from 6 River Systems, LLC and may contain
confidential and/or priv

[2022-08-29 14:50] LonwoLonwo commented on #17480
Unfortunately, it's a bug that is described here #17204
For now, only a downgrade can help (probably to version 21.1.2)
I hope that the fix will be available next month.

[2022-08-29 14:53] trinard108 commented on #17480
I've already tried downgrading.  I'll wait on the fix to use it.  Thank you
for your help.

On Mon, Aug 29, 2022 at 9:51 AM Anastasiya ***@***.***> wrote:

--
This e-mail message was sent from 6 River Systems, LLC and may contain
confidential and/or privileged information. If you are not an addressee or
otherwise authorized to receive this message, you should not use, copy,
disclose or take any ac

[2022-08-29 14:57] LonwoLonwo commented on #17480
For the PostgreSQL database?

[2022-08-29 15:00] trinard108 commented on #17480
Correct. The one I access through the Terminal.

On Mon, Aug 29, 2022 at 9:57 AM Anastasiya ***@***.***> wrote:

--
This e-mail message was sent from 6 River Systems, LLC and may contain
confidential and/or privileged information. If you are not an addressee or
otherwise authorized to receive this message, you should not use, copy,
disclose or take any action based on this e-mail or any informatio

[2022-08-29 15:12] LonwoLonwo commented on #17480
Ok, I will research the "Show all databases" bug.

Also, the "Edit connection" button has a shortcut - F4. Can you please try to use it in the navigator tree on your connection?

[2022-08-29 15:28] trinard108 commented on #17480
Thanks.  F4 shows all icons on the mac.  I've selected DBeaver but can't
seem to get this to work specifically for DBeaver.  I'm sure there is a way
to remove that shortcut showing all icons.  I'll hunt for it and let you
know if it works.

On Mon, Aug 29, 2022 at 10:12 AM Anastasiya ***@***.***>
wrote:

--
This e-mail message was sent from 6 River Systems, LLC and may contain
confidential and/or

[2022-08-29 15:31] LonwoLonwo commented on #17480
The key manager is in the Preferences:

![2022-08-29 18_30_28-Preferences](https://user-images.githubusercontent.com/45152336/187238019-ec4352ca-b61d-4ca8-8ed3-3cd2db015709.png)

[2022-08-29 15:38] trinard108 commented on #17480
Yes, I changed it to F5 and it worked in retrieving the menu.  Fantastic!
Thank you

On Mon, Aug 29, 2022 at 10:31 AM Anastasiya ***@***.***>
wrote:

--
This e-mail message was sent from 6 River Systems, LLC and may contain
confidential and/or privileged information. If you are not an addressee or
otherwise authorized to receive this message, you should not use, copy,
disclose or take any action b

[2022-08-29 18:59] danmaxis opened #17498 "Data Import task not matching mapping criteria regarding column name case"
### Description

Hello there,
I had a data import task that started to create new columns instead using mapped ones.

My source table always generates uppercase column names (db2).
And my target table is defined to lowercase column names (postgresql).

Except for PKs, all columns have the same name (except for letter case).
But during column mapping phase, it shows every column as 'existing'.

It'

[2022-08-30 00:04] strangan commented on #17303
Hi Any update on this? I changed the dbeaver.ini file like you suggested, but it did not make a difference.

Let me know.

Thanks

[2022-08-30 00:23] alexmalins commented on #17303
Hi, I've also run up against this issue this morning. I guess an issue is there are no Mac/AArch64 builds of OpenJDK for < Java 17... Would trying OpenJDK v18 help? Or Maybe an [Azul](https://www.azul.com/downloads/?os=macos&architecture=arm-64-bit&package=jdk) OpenJDK build with version < 17 - e.g. v11?

[2022-08-30 01:43] soul-F opened #17500 "Querying SQL using dbeaver was slow the first time, then very fast."
### Description

I have 100,000 tables in my database.
Querying SQL using dbeaver was slow the first time, then very fast.
Time is spent querying database INFORMATION_SCHEMA.
Is there any solution?

select * from information_schema.processlist;

| 806296184 | xxx    | xxx | NULL               | Query   |   30 | checking permissions | /* ApplicationName=DBeaver 22.1.5 - Metadata */ SELECT A.REFEREN

[2022-08-30 05:00] 132262B opened #17501 "Error while exporting data "Task execution failed""
### Description

An error occurred while exporting data.
mariadb(MariaDB 10.1.48-MariaDB-0ubuntu0.18.04.1) -> mariadb(MariaDB 10.4.19-MariaDB-1:10.4.19+maria~xenial-log)(x)
mariadb -> txt file (x)

Caused by: java.io.IOException: Packets out of order when reading field packets, expected was EOF stream.Packet contents (hex) =
+--------------------------------------------------+
|  0  1  2  3  4  5

[2022-08-30 07:38] igortank opened #17502 "Data Transfer Dialog cannot be minimized"
### Description

Hellow!
When uploading to a file, the "data transfer" window is active and cannot be minimized, and when the file is being formed, it becomes impossible to use the main application.
Previously, the "data transfer" window could be minimized.

### DBeaver Version

22.1.5.202208211008

### Operating System

windows 10

### Database and driver

oracle

### Steps to reproduce

_No resp

[2022-08-30 07:57] Matvey16 commented on #17498
@danmaxis Thank you for the report. We are already working on this issue in #17329

[2022-08-30 07:57] #17498 closed, assigned to nobody

[2022-08-30 08:28] ShadelessFox commented on #17065
Unfortunately, this bug can't be fixed from our side. Our attempt to fix it resulted in other bugs mentioned in https://github.com/dbeaver/dbeaver/issues/17065#issuecomment-1230322892.

We need to update the driver after they fix this issue: https://github.com/snowflakedb/snowflake-jdbc/issues/550

[2022-08-30 08:36] LonwoLonwo commented on #17494
Hello @kfwolf

For what database do you ask for this functionality?

[2022-08-30 08:38] #8476 closed

[2022-08-30 08:40] uslss commented on #17502
thanks for the report

[2022-08-30 08:40] #17276 closed, assigned to uslss, LonwoLonwo

[2022-08-30 08:42] uslss commented on #17501
@132262B, please, provide steps to reproduce.Videoo with the issue also would be helpful

[2022-08-30 08:59] uslss commented on #17354
@match-gabeflores cannot reproduce it. Auto refresh clause is shown for the table where it is enabled. Could you check if the issue is reproducible for you against 22.1.5? t
![image](https://user-images.githubusercontent.com/31996417/187394961-f39743a8-1c90-4b1f-9884-47fbfcf52977.png)

[2022-08-30 09:03] ShadelessFox commented on #17329
This issue was caused by #15860.

[2022-08-30 09:04] uslss commented on #17038
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it.

[2022-08-30 09:04] #17038 closed, assigned to nobody

[2022-08-30 09:05] uslss commented on #17126
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it.

[2022-08-30 09:05] #17126 closed, assigned to nobody

[2022-08-30 09:06] uslss commented on #17203
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it.

[2022-08-30 09:06] #17203 closed, assigned to nobody

[2022-08-30 09:12] uslss commented on #17397
still cannot reproduce the issue

https://user-images.githubusercontent.com/31996417/187398206-aa32a703-62a8-485b-89d3-f50590944bb9.mp4

[2022-08-30 09:27] Destrolaric commented on #17502
@igortank Hi, we disabled the minimize due to many issues with the Eclipse platform. It was done in the scope of https://github.com/dbeaver/dbeaver/issues/16867, maybe we should allow Windows users to minimize, but it also works not as well as it should.
For now, unfortunately, you can only reduce the size of the unwanted panels so you can focus on other tasks.

[2022-08-30 10:36] 3DRaven opened #17504 "Not all columns shown in Table view"
### Description

Opened table column list. In table exists 5 columns, shown 1

### DBeaver Version

22.1.5

### Operating System

ubuntu 22.04

### Database and driver

PostgreSQL driver from dbeaver repo

### Steps to reproduce

1. Create table by DDL
`
CREATE TABLE configuration.task (
	id int4 NOT NULL GENERATED ALWAYS AS IDENTITY,
	instance_id int4 NOT NULL,
	name varchar NOT NULL,
	count int4

[2022-08-30 10:39] molotch commented on #6131
Same issue, how can you work without keyboard shortcuts?

[2022-08-30 10:53] Matvey16 commented on #16076
The client doesn't crash completely, but can't show anything from the browser (both the map for geometry data and any web page), only this error will be show instead

`GDBus.Error:org.freedesktop.portal.Error.NotAllowed: This call is not available inside the sandbox`

[2022-08-30 10:58] #16852 closed, assigned to serge-rider, Matvey16

[2022-08-30 13:01] kfwolf commented on #17494
As it would be extremely valuable to create the full DDL prior to a deployment, run the deployment and look for all changes.  Secondly, if you have a database with multiple references to a table or a function, it would be great to document the entire scope of a db object.  I would recommend looking at MS SQL server SSMS tools and see how it generates a script.

[2022-08-30 13:14] igor2x opened #17505 "Error message escapes current configuration dialog on Linux desktop"
### Description

DBeaver testing connection on Linux desktop. When error message is displayed and Alt+Tab clicked multiple times then error message is hidden behind dialog from where error was triggered.

### DBeaver Version

Community Edition Version 22.1.5.202208211008

### Operating System

Ubuntu 22.04

### Database and driver

Not applicable.

### Steps to reproduce

In DBeaver Community Edit

[2022-08-30 13:25] igor2x opened #17506 "Every dialog escapes main program on Linux desktop"
### Description

Every time a dialog is opened there is additional window opened and Alt+Tab displays two icons for single DBeaver program.

This bug is similar to https://github.com/dbeaver/dbeaver/issues/17505 but it is not related to error messages only, but it happens every time when Alt+Tab is pressed, so I am opening separate bug report, despite maybe looking the same problem, it may have di

[2022-08-30 13:49] Destrolaric commented on #17505
Looks similar to https://github.com/dbeaver/dbeaver/issues/13691

[2022-08-30 13:57] match-gabeflores commented on #17354
Hi @uslss ,

I upgraded and can still reproduce it. But I left out one detail which appears to be the reason - I'm using Okta Single Sign-On for authentication and I'm using a _copy_ of the Redshift driver.

When I connect to a different redshift cluster using login/password, this issue doesn't exist
When I connect to our main RS cluster using the copied driver with Okta SSO, the `auto-refresh` is

[2022-08-30 14:50] LonwoLonwo commented on #17494
So you are using MS SQL server and your feature request for MS SQL server? Am I right @kfwolf ?

[2022-08-30 15:35] #15176 closed, assigned to uslss, LonwoLonwo

[2022-08-30 15:53] LonwoLonwo commented on #15427
Hello @kai-morich

So, I used your example - and I had an error from the issue.
But after that, I increased the cache size value - and now I can see data in Binary presentation and Text presentation.

![2022-08-30 18_42_30-Window](https://user-images.githubusercontent.com/45152336/187483445-ac6caad7-2a6f-4613-bbae-38b5696289bb.png)

![2022-08-30 18_43_16-Window](https://user-images.githubuserconte

[2022-08-30 15:55] kfwolf commented on #17494
This should have been clarified in the original request... ideally dbeaver would provide a sql script for any database but my database of preference for this request is postgresql.

[2022-08-30 16:06] kai-morich commented on #15427
I would have expected that a 'lob cache size' option improves performance when reading same lobs again, but I did not expect that this limits the maximum single lob size. Single lob reading should be without limit or the option should be named more clearly and a dbeaver error instead of no error or DB specific error should be shown when limit exceeded, so users can figure out, which option they ha

[2022-08-30 18:19] anaruzhnii opened #17508 "DBeaver's system theme doesn't reflect Windows theme"
### Description

![image](https://user-images.githubusercontent.com/106668678/187512908-9ebbe817-d295-414a-b49f-324d4f6cf042.png)
By Explorer and task bar you can see that dark theme is selected in Windows, but when I select System theme in DBeaver it turns light

### DBeaver Version

Community Edition 22.1.3.202207240614

### Operating System

Windows 11 Home edition 22000.856

### Database and d

[2022-08-30 20:42] sage5616 commented on #17303
Hello,

I am running into the same problem as OP. M1 Mac,
Java version:
openjdk 18.0.2.1 2022-08-18
OpenJDK Runtime Environment Temurin-18.0.2.1+1 (build 18.0.2.1+1)
OpenJDK 64-Bit Server VM Temurin-18.0.2.1+1 (build 18.0.2.1+1, mixed mode)

This is Dbeaver for M1 specific bug. DataGrip by JetBrains works fine.
Also, the same error occurs with SQL Workbench/J.

Please fix Dbeaver for for M1 Macs.

[2022-08-30 21:35] BradLeeHines-ST opened #17509 "Paragraph Character shows up in DBeaver IDE that is not present in Array datatypes"
### Description

We've written a SELECT query against an ARRAY column datatype in Snowflake.
When we do this, a Paragraph character ¶  shows up to separate elements in the DBeaver IDE.

[
  0.3,
  0.5
]

### DBeaver Version

Version 22.1.3.202207240747

### Operating System

OSX 12.5

### Database and driver

Snowflake with Maven Snowflake driver 3.13.6 JDBC

### Steps to reproduce

Write a select

[2022-08-30 23:12] alexmalins commented on #17303
Here is an unofficial workaround for Apple silicon users:

- Download and install Azul's Zulu JRE v11 for macOS Arm64 from [here](https://www.azul.com/downloads/?version=java-11-lts&os=macos&architecture=arm-64-bit&package=jre)
- Open `/Applications/DBeaver.app/Contents/Eclipse/dbeaver.ini` and edit the line below `-vm` to point to the newly installed JRE v11 at `/usr/bin/java`
- Launch DBeaver an

[2022-08-31 05:22] igor2x commented on #17505
Yes, it looks a duplicate. Maybe leave it open, because I have added additional info that error messages escape main window, but successful messages don't. Maybe there is some setting about this two windows that can be helpful for developers.

[2022-08-31 05:40] LEvinson2504 opened #17510 "Stack overflow error"
### Description

If I try to export the output of any sql query, there is a persistent stack overflow error which keeps coming up even after being closed and doesnt let me select the options to export the data. This is preventing me from exporting any data

![image](https://user-images.githubusercontent.com/32845787/187600197-0a412c16-d580-4d32-8193-0da51b5d50df.png)

Log file output: https://past

[2022-08-31 08:10] Destrolaric commented on #17510
@LEvinson2504, Hi. Unfortunately, I was unable to reproduce that. Could you provide a video with the issue and more details regarding your graphical environment?

[2022-08-31 08:15] iraidaa commented on #17425
Hello @leehach,

This could have happened due to many different reasons. For example, the version of the Postgre driver has changed, the Postgre server settings have changed, or the DBeaver cryptography libraries have changed.

Could you please send us the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

[2022-08-31 08:37] LonwoLonwo commented on #15009
Can't reproduce against DBeaver 22.1.5

![2022-08-31 11_31_50-Event](https://user-images.githubusercontent.com/45152336/187635116-28be12db-16a7-4f4d-a403-e339499e7441.png)

Was:

![2022-08-31 11_36_59-DBeaver Lite 21 3 0 - _toursdb_ Script-39](https://user-images.githubusercontent.com/45152336/187635143-344379f7-cfd3-4a6f-b613-c1058bd3d550.png)

[2022-08-31 08:37] #15009 closed, assigned to nobody

[2022-08-31 08:45] LonwoLonwo commented on #17360
As I said - this is generic problem. We need to refresh properties after not persisted -> persisted changes.
So I renaming this ticket.

[2022-08-31 08:51] LonwoLonwo commented on #15427
Ok, thanks for the answer @kai-morich

As I can see - this is a general issue for different databases - reading LOBs from the driver's side. It can be solved by switching from Auto-commit mode to manual. I will add a message about it for Exceptions.

[2022-08-31 10:24] Matvey16 commented on #17333
Changed the information to match the name of the page

https://github.com/dbeaver/dbeaver/wiki/Extension-SVG-Format

[2022-08-31 10:36] #13691 closed, assigned to Destrolaric

[2022-08-31 11:09] flambchap commented on #17303
@alexmalins, Thank you for the workaround. In fact, any JRE < 16 should work as the issue is directly linked to this JEP: https://openjdk.org/jeps/396. Another good alternative I know is BellSoft's Liberica JRE.

@strangan, I suggest using the workaround above. Please don't forget to restore dbeaver.ini to its original state.

The issue is scheduled for the 22.2.1 release.

[2022-08-31 12:30] DariaMarkaryan opened #17513 "New SQL editor opened not associated with the selected database/schema"
### Description

Steps to reproduce:
1. Select database/schema that isn't set as default
2. Open new sql script: select in menu SQL Editor-> New SQL script
Expected:
At the top of the opened SQL Editor you'll see that Active catalog/schema is set to selected in the first step database
Actual:
Script is connected to the default database

https://user-images.githubusercontent.com/43252954/187678743-

[2022-08-31 12:50] sage5616 commented on #17303
@alexmalins thank you for sharing the workaround steps, I will give it a shot. I have a follow up question, is it possible to keep multiple versions of JRE on the same machine without conflicts and point Dbeaver to JRE v11? Have you done this, is it as simple as installing JRE in different directories or is there more configuration to do after the installation?

@n5a5 Nikita Akilov thank you for s

[2022-08-31 13:04] flambchap commented on #17303
@okulikm On September 26.

Generally, no other configuration is needed. The only thing to be aware of is the `JAVA_HOME` variable. It points to your default java, and some installers may change it.

[2022-08-31 13:15] flambchap commented on #17509
Looks suspiciously similar to https://github.com/dbeaver/dbeaver/issues/17120

[2022-08-31 13:24] alexmalins commented on #17303
@okulikm No I didn't, this was the first system-wide install I did of a JRE on this machine, and I don't have experience with multiple installs. As @n5a5 says though, it should be possible. Searching StackOverflow etc. will yield answers.

[2022-08-31 13:29] DariaMarkaryan commented on #17513
Not a bug. The setting "Open  new connection for each sql editor" should be enabled for expected behaviour

[2022-08-31 13:29] #17513 closed, assigned to nobody

[2022-08-31 14:31] zalox commented on #17442
Thank you, I'm much happier now.

However, this option was hard to find.

As @tomchiverton mentioned, the option is under
Preferences > User Interface > "General section" > disable automatic update check

I would have found it more easily if it were under
Preferences > General > Install/Update.

I don't get why it is under User Interface.

That's my two cents, thank you for your help and your grea

[2022-08-31 15:22] uslss commented on #16684
#13030

[2022-08-31 15:23] uslss commented on #13030
implemented in #16684

[2022-08-31 15:23] #13030 closed, assigned to nobody

[2022-08-31 15:58] willturcios1 opened #17515 "Generate SQL in Azure SQL DB does not generate PK"
### Description

``When trying to generate SQL and grab the DDL for an NC index, it works but when you do a PK it does not, it just returns a semi-colon:
Even under properties, it shows empty.
![image](https://user-images.githubusercontent.com/64033961/187723482-afa78bff-41ed-4c53-a252-76108c704a26.png)
![image](https://user-images.githubusercontent.com/64033961/187723630-63059227-f707-4781-8094-2

[2022-08-31 16:44] Matvey16 opened #17516 "Scripts are deleted if they are closed without changes"
### Description

Any script is deleted if it is opened and then closed

### DBeaver Version

22.2.0

### Operating System

Any

### Database and driver

Any

### Steps to reproduce

1. Turn on a preference to delete empty scripts
2. Open an existing script
3. Close it

**Expected:** Script is closed
**Actual:** Script is deleted permanently

### Additional context

Script won't be deleted if the p

[2022-08-31 17:10] flambchap commented on #7208
I think we want to add support for that. Subtasks:

- [ ] Show attached databases in the navigator,
- [ ] Add UI for attaching,
- [ ] Make sure that autocomplete works for attached databases.

[2022-08-31 17:48] notzippy opened #17518 "Tabbed queries do not run on seperate connections"
### Description

Execute a statement for a single long-running query, Now "execute a statement in a new tab" for a second query. The second query will not begin to execute until the first is completed.

#2180 sounds similar although it was closed. I know separate SQL editors which would establish different connections which would solve this, but the current design does appear to imply that two sta

[2022-08-31 18:00] LonwoLonwo commented on #17515
Thanks for the bug report @willturcios1

Actually, this is a duplicate of https://github.com/dbeaver/dbeaver/issues/13529

We do not show index DDL at all at this moment.

[2022-08-31 18:00] #17515 closed, assigned to nobody

[2022-08-31 18:20] willturcios1 commented on #13529
@LonwoLonwo thanks for updating the one I opened, I looked around and did not find this one, but yes this is the same behavior.

[2022-08-31 18:22] willturcios1 commented on #13529
Also want to point out it does work for non-clustered indexes so perhaps is just a filter issue when extracting.

[2022-08-31 18:44] serge-rider commented on #17516
Fixed

[2022-08-31 18:45] #17362 closed, assigned to serge-rider, Destrolaric, Matvey16

[2022-08-31 18:45] #16684 closed, assigned to uslss, LonwoLonwo

[2022-08-31 22:01] LonwoLonwo commented on #17121
Hello @danryushin

As I can see, your issue is solved in the last Snowflake driver version.

You can change it in your connection settings.

![2022-09-01 00_58_49-DBeaver 22 2 0 - MediaType](https://user-images.githubusercontent.com/45152336/187792925-291fe5b0-dbef-44ba-98a2-9f90103d8d97.png)

Please try it and give us feedback - is driver upgrading helped you?

[2022-08-31 23:33] pavan-chakka commented on #3377
Hello,

I have  MAC M1 Max with Open JDK 11, and using DBeaver 22.1.2 to connect DB hosted MS SQL Server.   Tried all options listed in above chat, but facing same issue  and getting below error -

"The TCP/IP connection to the host XXXXXX, port 1433 has failed. Error: "XXXXXX. Verify the connection properties. Make sure that an instance of SQL Server is running on the host and accepting TCP/IP co

[2022-08-31 23:41] pavan-chakka opened #17519 "Make sure that TCP connections to the port are not blocked by a firewall"
### Description

Hello,

I have MAC M1 Max with Open JDK 11, and using DBeaver 22.1.2 to connect DB hosted MS SQL Server. Tried all options listed in above chat, but facing same issue and getting below error -

"The TCP/IP connection to the host XXXXXX, port 1433 has failed. Error: "XXXXXX. Verify the connection properties. Make sure that an instance of SQL Server is running on the host and accept

[2022-09-01 05:35] kai-morich commented on #15427
👍

[2022-09-01 05:45] juminda-suurekoerve opened #17520 "Use eclipse Web Browser preference"
### Description

We upgraded DBeaver (22.1.0 to 22.1.5) on a Windows virtual machine. All other users were disconnected, but one hadn't closed DBeaver. Installation stopped ("cannot write to...") and after canceling this, DBeaver does not start anymore, pointing to the log file quoted below.

Is there any chance, we can fix (and keep settings, connections etc.) this or do we need a full new instal

[2022-09-01 06:32] MuellerAndr opened #17521 "Error Script Insert after Commit statement by setting manual commit"
### Description

hello,
I use a sql scipt which does not work since the last dbeaver update.
the script is executed in manual commit mode.
Script:
[code]

Error:
SQL-Fehler [335544332] [08003]: invalid transaction handle (expecting explicit transaction start) [SQLState:08003, ISC error code:335544332]
  invalid transaction handle (expecting explicit transaction start) [SQLState:08003, ISC error co

[2022-09-01 07:17] Matvey16 commented on #17516
Still works not as expected. Not critical right now, but empty scripts are deleted even if they are not new.

1. Open an existing script
2. Delete everything
3. Save th changes and close the script
4. Restart DBeaver
5. Open the script
6. Close it

Script will be deleted even if the preference says `Delete only new scripts`

[2022-09-01 07:31] #17399 closed, assigned to E1izabeth, Matvey16

[2022-09-01 07:32] LonwoLonwo commented on #13529
Thanks, I fixed the name of this issue.

[2022-09-01 07:34] teja463 opened #17522 "SAP HANA Database connection was removed"
### Description

Hi I am currently using Dbeaver Community edition 22.0.5 and using it to connect to SAP HANA database. But when I downloaded the latest version 22.1.5 I dont see any option to connect to the SAP HANA databse. Is there any reason the support is removed in the new version.

### DBeaver Version

Community Edition 22.1.5

### Operating System

Windows 10

### Database and driver

_No

[2022-09-01 08:56] E1izabeth opened #17523 "Update wiki page about Console View"
- [x] Rename Console View to SQL Terminal
- [x] Update images
- [x] Remove information about preserving state on tab close

https://github.com/dbeaver/dbeaver/wiki/SQL-Terminal

[2022-09-01 09:03] #17516 closed, assigned to serge-rider, Matvey16

[2022-09-01 09:31] LonwoLonwo commented on #17522
Hello @teja463

Please check that the "All" tab is chosen in the Connection dialog.

![2022-09-01 12_30_19-Window](https://user-images.githubusercontent.com/45152336/187881864-e4bd3002-1c8d-49dd-a2f3-446066012a78.png)

[2022-09-01 09:38] DariaMarkaryan opened #17524 "Filters of type 'equal' doesn't work in data editor"
### Description

https://user-images.githubusercontent.com/43252954/187883172-29f0c818-e1f1-42c0-b408-07bb3c197d59.mp4

Step to reproduce:
1. open a table
2. in context menu select Filters -> Custom\Clipboard\value filter-> select filter with '='
3. Apply the filter
As the result you'll see that filtering value isn't passed to the filter bar

### DBeaver Version

22.2.0

### Operating System

win1

[2022-09-01 09:47] serge-rider commented on #17524
Fixed

[2022-09-01 10:31] igor2x opened #17525 "DBeaver connects with three connections to DB2 database instead of one"
### Description

When DBeaver connects to DB2 database I expect (like any other application) that it connects to database with only single connection. But it always connects with three connections. It looks like there are some run away connections.

Because each connection on database server consumes some memory and many application developers accessing database it is just consumed way more resour

[2022-09-01 10:37] AlexeyAntipov98 opened #17526 "Can't use common table expressions (with .. as)"
### Description

When i run sql request i saw SQL Error 42P01. This request working in pgAdmin

### DBeaver Version

22.1.5

### Operating System

WIN 10

### Database and driver

PostgreSQL 13.2
PostgreSQL JDBC Driver JDBC 42.2.25

### Steps to reproduce

I write this SQL request and run him

with tbl as (
	select 1
)

select * from tbl

### Additional context

org.jkiss.dbeaver.model.sql.DBSQLEx

[2022-09-01 10:37] Matvey16 commented on #17525
@igor2x Hello. It is working as intended. Two additional connections are for metadata read and SQL Editor. Those options can be desabled.

![dbeaver_vEM2j0fZYt](https://user-images.githubusercontent.com/82543000/187894763-45e7a62e-5169-4a9f-8602-0080b8e4e0e1.png)
![dbeaver_NUXyywLjyr](https://user-images.githubusercontent.com/82543000/187894782-b337638c-1fad-4e59-b3b5-d14be7d762db.png)

[2022-09-01 10:48] LonwoLonwo commented on #17526
Hello @AlexeyAntipov98

I see an empty line in your query. Probably, problem is with this empty line - by default DBeaver recognizes it as delimiter.

So. You can remove an empty line from your query.

![2022-09-01 13_46_39-Window](https://user-images.githubusercontent.com/45152336/187896482-9bbb585f-ad8e-45d8-ae33-09090b2c4145.png)

Or you can highlight all your query and run it

![2022-09-01 13_

[2022-09-01 11:01] LonwoLonwo commented on #17509
Hello @BradLeeHines-ST

Please tell me more about your issue.
What kind of discrepancy do you see here? DBeaver shows your value with special symbols inside because it tries to show inline.

![2022-09-01 12_47_03-Window](https://user-images.githubusercontent.com/45152336/187897237-ad81f7c0-4a73-41f5-ada3-178696f95916.png)

You can open the Value panel and see your data without special symbols but

[2022-09-01 11:08] LonwoLonwo commented on #17120
Hello @emanueol

Please tell me more about your issue.
What kind of discrepancy do you see here? DBeaver shows your value with special symbols inside because it tries to show inline.

![2022-09-01 12_47_03-Window](https://user-images.githubusercontent.com/45152336/187897237-ad81f7c0-4a73-41f5-ada3-178696f95916.png)

You can open the Value panel and see your data without special symbols but on diff

[2022-09-01 11:13] LonwoLonwo commented on #17120
Or JSON view
![2022-09-01 14_12_38-Window](https://user-images.githubusercontent.com/45152336/187900807-a10bf84d-0b8f-4afb-8911-57fc790e3827.png)

[2022-09-01 12:51] iraidaa opened #17528 "Update Project-team-work wiki page"
https://github.com/dbeaver/dbeaver/wiki/Project-team-work

Need to add step by step detailed information how to share the project with git.
In particular, how to fill in the authentication field in DBeaver with GitHub data.

[2022-09-01 12:58] LonwoLonwo commented on #17391
Hello @EricWagnerJr

Can you provide a procedure example DDL, please?

[2022-09-01 13:29] flambchap commented on #17368
Hi. Unfortunately, the settings are all over the place. I think we can add a way to export and import settings similarly to Eclipse or IntelliJ platform. Thank you for the idea.

[2022-09-01 13:31] flambchap commented on #17089
Hi. We will add the Export/Import feature for settings in the scope of https://github.com/dbeaver/dbeaver/issues/17368.

[2022-09-01 13:35] flambchap commented on #17089
With regards to `Save Perspective As...`, I'm not sure if it's possible to do it in the Eclipse RCP app. We need to figure that out.

[2022-09-01 13:37] flambchap commented on #17051
Hi @Xylandor. Can you please tell me how you can see this data in DBeaver?

[2022-09-01 13:42] emironovDB commented on #17296
@gregid
Thank you for the good idea

[2022-09-01 13:46] flambchap commented on #17089
Yes, it seems like we can add the ability to save custom perspectives.

[2022-09-01 13:52] emironovDB commented on #17504
@3DRaven
Could you provide footage of such behavior?

[2022-09-01 14:06] emironovDB commented on #17521
@MuellerAndr
Could you answer what exact version of DBeaver did you use?

[2022-09-01 14:13] emironovDB commented on #17009
@GuenterSch
Could you answer what is the type of the key you are using?

[2022-09-01 14:37] flambchap commented on #17519
Hi. It seems like DBeaver cannot reach the specified host, or the port needs to be changed. I suggest double-checking it. Also, do you need to take some additional steps to reach the specified host (e.g., use VPN or SSH tunnel)?

[2022-09-01 14:53] pavan-chakka commented on #17519
Hello, Thanks for responding. I am on VPN only, and when I do 'ping IPADDRESS -p 1433' from terminal, I am able to establish connection and get packets. So only from DBeaver, am unable to connect.

[2022-09-01 15:16] juminda-suurekoerve commented on #17520
We were able to just run the installer again and it looked to be working fine. But switching the data view from grid or text to spatial does not work anymore:

Also wouldn't it be a good idea to check for open files / write protections before starting the installation and to then possibly stop the process?

[2022-09-01 15:46] EricWagnerJr commented on #17391
I'm not sure I am able to share that in this forum. I'm realizing you have a different portal on your site for submitting tech support requests. I think I may need to pivot to there.

Update: I did submit a ticket separately there so we could possibly schedule a call.

[2022-09-01 16:01] JesseFL opened #17532 "Default Schema is ignored for Apache Hive connections"
### Description

The default schema is not respected for Apache Hive connections.  Every time a new connection is established, the active schema is always N/A

![image](https://user-images.githubusercontent.com/17784067/187958843-b8fedaf3-6c2a-45c9-a5d1-39e459d030b6.png)

Error log is showing this error:
`!MESSAGE Active schema can't be changed for this kind of datasource!`

[dbeaver logs.txt](htt

[2022-09-01 19:13] cesar-bsd-com-br commented on #7704
I have the same problem with "statistics window" with version 22.1.5.

[2022-09-01 19:37] braiam opened #17533 "NPE when DBeaver tries to autocomplete table names"
### Description

Typing out a table name on a editor screen for a Postgres connection, produce the following NullPointerException:

[code]

it can be something simple as `select * from d` to produce the error.

### DBeaver Version

22.1.5

### Operating System

Debian Stable

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-01 19:50] AlexeyAntipov98 commented on #17526
Thank you. Now it working)

[2022-09-01 19:50] #17526 closed, assigned to nobody

[2022-09-01 21:13] devaib commented on #7704
Same issue here with version 22.1.5 on Windows.

[2022-09-02 02:45] CC-Hsu opened #17534 "Adding a new option to Custom Navigation Tree View for displaying/hiding unprivileged objects (tables, views, functions. etc.)"
**Is your feature request related to a problem? Please describe.**
Most of the time application developers connect to a database with non-superuser accounts and these accounts are only granted with necessary objects (tables, views, functions, etc.).

And developers only need to work with these objects rather than all objects inside a database.

Especially sometimes there are a lot of objects (tabl

[2022-09-02 04:42] DariaMarkaryan commented on #17524
Verified

[2022-09-02 04:42] #17524 closed, assigned to serge-rider

[2022-09-02 06:21] LonwoLonwo commented on #17391
So it means that only one stored procedure doesn't work? Not all? Or maybe you can find a sample procedure?

[2022-09-02 06:26] LonwoLonwo commented on #17534
Hello @CC-Hsu

Can you provide more examples about privileged/not privileged objects?
Also, usually, we do not read user privileges, only for some databases. We can't do it on the general level. Maybe we can try to do it for a special database. What database do you use?

[2022-09-02 06:36] LonwoLonwo commented on #17533
Hello @braiam

For now, I can't reproduce your issue, unfortunately.

Maybe you can provide a screen or video of your issue, please?

[2022-09-02 07:45] LonwoLonwo commented on #17065
I created the PR for Snowflake driver. Will hope it helps https://github.com/snowflakedb/snowflake-jdbc/pull/1130

[2022-09-02 07:46] CC-Hsu commented on #17534
Hi, LonwoLonwo,

Thanks for your quick reply. 😃

Specifically, I mainly work with Postgres, but I also heard of this demand from other people working with Oracle, SQL Server, MySQL.

Foe example, when a DB user account `xxx_user` is granted by superuser with `SELECT`/`INSERT`/`UPDATE`/`DELETE` privileges only on a table `public.ooo_table`.
[code]

And there are more tables but `xxx_user` has no ac

[2022-09-02 08:06] shawnWXN opened #17536 "选项卡菜单item名错误"
### Description

![image](https://user-images.githubusercontent.com/47786182/188089461-c24b4214-c90f-4522-86eb-612111ac40c1.png)

### DBeaver Version

Community  22.1.5.202208211008

### Operating System

Windows11

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-02 08:21] ShadelessFox commented on #17536
Hello @shawnWXN,

Please use English and provide more information about the issue.

If the localization is incorrect, then please suggest a better translation.

[2022-09-02 08:59] teja463 commented on #17522
@LonwoLonwo my bad, sorry for wasting your time

[2022-09-02 08:59] #17522 closed, assigned to nobody

[2022-09-02 09:10] mayerro opened #17537 "SSH tunnel not connect from DBeaver to latest linux distros."
#### System information:
- Linux, macOS
- DBeaver *

#### Connection specification:
- SSH tunnel

#### Describe the problem you're observing:
SSH tunnel not connect from DBeaver to latest linux distros.

#### Steps to reproduce, if exist:
Install latest version of any linux distro (ubuntu22,fedora36,redhat8) and update it
Try to setup ssh tunnel from dbeaver connection with rsa key

#### Include a

[2022-09-02 09:11] #16991 closed, assigned to Destrolaric

[2022-09-02 09:15] mayerro commented on #17537
Possible workaround is decreasing ssh security on remote host:
add 2 lines to sshd config and restart it
[code]

[2022-09-02 10:40] #17333 closed, assigned to Matvey16

[2022-09-02 10:44] n5a5 commented on #17537
Can't reproduce it on Pop!_OS 22.04

[2022-09-02 10:49] flambchap commented on #17500
Hi. Please check out this ticket: https://github.com/dbeaver/dbeaver/issues/16480. You can find a couple of workarounds there. I think we should improve the performance of metadata read. I'm closing this ticket as a duplicate.

[2022-09-02 10:52] #17500 closed, assigned to nobody

[2022-09-02 11:02] flambchap commented on #17537
I have a gut feeling that this is a duplicate of https://github.com/dbeaver/dbeaver/issues/14749.

[2022-09-02 11:03] flambchap commented on #17537
https://github.com/dbeaver/dbeaver/issues/17312

[2022-09-02 11:04] flambchap commented on #17537
https://github.com/dbeaver/dbeaver/issues/16247

[2022-09-02 11:05] LonwoLonwo commented on #17523
Verified.

[2022-09-02 11:05] #17523 closed, assigned to E1izabeth

[2022-09-02 11:09] tatzio opened #17538 "Filter by Cell value changes timestamp format"
### Description

In Data view I'm trying to filter by Cell value on Timestamp field.
On generated query Timestamp format changes - in this case loosing precision.

Value in Data tab vs Query:
`2020-03-17 20.18.54.847747`
`2020-03-17 20:18:54.847`

### DBeaver Version

CE 22.1.5

### Operating System

Win10

### Database and driver

DB2 12
DB2 for z/OS

### Steps to reproduce

In Data tab I select

[2022-09-02 12:01] marat2706 opened #17539 "Cursor jumps to the beginning of the line on paste using mouse context menu"
### Description

When you try to paste text using the context menu, the cursor runs to the beginning of the line and the paste occurs in the wrong place.
![image](https://user-images.githubusercontent.com/68788317/188138188-c8b4a8be-59e9-498f-b89c-77fc64882888.png)

### DBeaver Version

22.1.5.202208211008

### Operating System

Windows 10

### Database and driver

_No response_

### Steps to repr

[2022-09-02 12:22] E1izabeth opened #17541 "List databases with turned off multiple connections"
We turned off separate connections for metadata and sql editor for some databases in this ticket #15153.
We should describe it somewhere for these databases:
- SQLServer Azure AD MFA
- BigQuery
- BigTable
- Spanner
- Apache Hadoop, Apache Drill, Apache Kyuubi, Apache Spark, Apache Hive, SnappyData, Gemfire XD, Apache Phoenix
- Redshift
- Snowflake

[2022-09-02 13:00] #17391 closed, assigned to flambchap

[2022-09-02 13:00] EricWagnerJr commented on #17391
No, it is all stored procedures failing. I can't share my companies SPs in a public forum I'm realizing so we will have to take this private over the internal ticketing system.

[2022-09-02 13:14] lackovic commented on #3230
Maybe this could be added to DBeaver Documentation [Deleting project](https://dbeaver.com/docs/wiki/Projects/#deleting-project) section: currently it is only stated at the top of the page and that can be easily missed when the reader is focused on deleting and is not reading the whole page.

[2022-09-02 13:20] flambchap commented on #17391
@EricWagnerJr Please check out my message on our ticket system, thanks

[2022-09-02 13:47] kcgreg77 opened #17542 "Salesforce CDP authentication failure"
### Description

I'm currently connected to Salesforce CDP using Tableau and would like to connect DBeaver as well.   Since Tableau is working,  I believe the prerequisite "Set Up a Connected App" step had been completed.   Authentication with Tableau is working successfully for my logn,  however with DBeaver I'm receiving "authentication failure".   Need help understanding if I'm doing something

[2022-09-02 13:59] flambchap commented on #15783
Done in the scope of https://github.com/dbeaver/dbeaver/issues/16852.

[2022-09-02 14:01] #15783 closed, assigned to nobody

[2022-09-02 14:35] Matvey16 opened #17543 "Blank scripts are deleted even if they are not new"
### Description

Preference to delete empty scripts on closing ignores the option to delete only new scripts and any empty script is always deleted

### DBeaver Version

22.2.0

### Operating System

Any

### Database and driver

Any

### Steps to reproduce

1. Open an existing script
2. Delete everything
3. Save th changes and close the script
4. Restart DBeaver
5. Open the script
6. Close it

**

[2022-09-02 14:59] iraidaa commented on #17520
Hello @juminda-suurekoerve,

I guess you did the right thing by reinstalling DBeaver.

Now could you try to reset the workspace manually following the second part of the instruction: https://github.com/dbeaver/dbeaver/wiki/Reset-workspace?

[2022-09-02 16:18] EricWagnerJr commented on #17391
This fixed the issue @n5a5, thank you.

[2022-09-02 16:38] LonwoLonwo commented on #17542
Related tickets: https://github.com/dbeaver/dbeaver/issues/17038
https://github.com/dbeaver/dbeaver/issues/16652

[2022-09-02 16:39] flambchap commented on #17391
@EricWagnerJr My pleasure!

[2022-09-02 16:49] Essentia-G opened #17545 "URL formatting issues"
### Description

We have an issue with URLs on macOS.
ATS doesn't allow to open the link with HTTP, but I can't change the protocol. When I try to enter "https" instead of "http", the protocol is duplicated. It looks like using URLs on mac is impossible now.

![Sep-02-2022 10-23-37](https://user-images.githubusercontent.com/54938058/188199737-439b1f28-3a47-4585-8565-715d4019bd64.gif)

![Screen Sho

[2022-09-02 16:50] LonwoLonwo commented on #17539
Hello @marat2706

Can you reproduce this behavior in all places of SQL Editor or only at the end of the string?

[2022-09-02 17:22] LonwoLonwo commented on #17532
Hello @JesseFL

Thanks for the report!

[2022-09-02 18:16] marat2706 commented on #17539
Hello Anastasiya

I can reproduce this behavior only at the end of the string.

пт, 2 сент. 2022 г. в 19:50, Anastasiya ***@***.***>:

[2022-09-02 19:36] sage5616 commented on #17303
The workaround from @alexmalins has worked for me as well. I have installed Azul's Java 11 (LTS) using .dmg: https://www.azul.com/downloads/?version=java-11-lts&os=macos&architecture=arm-64-bit&package=jre

@n5a5 looking forward to that date. Will that release work with the latest OpenJDK@18 available via brew? https://formulae.brew.sh/formula/openjdk

[2022-09-02 22:06] ahmaldonado commented on #6213
Same problem. WIth ODBC connection the nvarchar values are shown as nulls. To work around this, change to varchar using cast function.

[2022-09-03 04:56] LonwoLonwo commented on #17539
Thanks for the bug report.

[2022-09-03 04:59] LonwoLonwo commented on #17538
Hello @tatzio

Can you please provide a screen from your (Preferences -> Editors -> Data Editor ->) the "Data Format" page?

[2022-09-03 06:02] tatzio commented on #17538
Hi @LonwoLonwo,
I have same def for Timestamp for both global and for this Datasource - also Timestamp and Timestamp With Timezone have same mask:
`yyyy-MM-dd HH.mm.ss.SSSSSS`

![image](https://user-images.githubusercontent.com/106803609/188258097-a600fcd6-6972-4ddd-89e7-67652da6c34d.png)

[2022-09-03 08:02] dbojan opened #17547 "enable "set null value" menu entry for unique/primary key fields."
**Is your feature request related to a problem? Please describe.**
after using 'duplicate row' option, primary key/unique column field is also duplicated.
there is no menu entry under 'edit' to set null value to primary key field.
you get error when trying to submit, after edits.

**Describe the solution you'd like**
enable 'edit'/'set null value', like in every other cell context menu.

[2022-09-03 09:24] dbojan opened #17548 "Duplicate row that duplicates only selected cells, to the next row"
**Is your feature request related to a problem? Please describe.**
When duplicating row, primary key/unique values is also duplicated, which obviously cannot be committed to db.

**Describe the solution you'd like**
when duplicating row, duplicate only selected values, or
add option in configuration to not duplicate primary key/unique values.
Or keep 'duplicate row' command, and add another 'dupli

[2022-09-03 09:30] danryushin commented on #17121
Hello,

Thanks, with the new driver the procedures are now working fine for visualization

[2022-09-03 09:30] #17121 closed, assigned to nobody

[2022-09-03 10:14] tatzio commented on #17538
For now I have Disabled data/time formatting.

I still get formatted output - below is what I get vs DB2 native format:
`2022-03-14 11:46:17.211431654`
`2022-03-14-11.46.17.211431654`
but at least I do not loose precision on `default` DB2 timestamps (precision 6 for sec divisions).

There is also [THIS](https://github.com/dbeaver/dbeaver/discussions/17550#discussion-4358108) problem. Maybe solving

[2022-09-03 11:34] braiam commented on #17533
Sadly I can not. I restarted DBeaver, again after another NPE affecting data exports, and it continued working. I'm not aware of any specific steps required to reproduce either NPE, they just _happen_ :wavehands:

[2022-09-03 13:50] E1izabeth commented on #17520
Workspace reset will not help. It's a bug which was fixed in 22.2.0 (#17332).
@juminda-suurekoerve please update your DBeaver version to 22.2.0. Let me know if the issue is still exists after update.

[2022-09-03 14:32] E1izabeth commented on #17287
It's a clickhouse issue https://github.com/ClickHouse/clickhouse-jdbc/issues/915.
Should be fixed with the driver update.

[2022-09-04 03:11] seanc commented on #6592
Absolutely devastated at the removal of this feature.

[2022-09-04 06:30] vds2212 opened #17551 "Can't change the background color of some part of the screen"
### Description

I'm busy configuring the DBeaver theme to match the Nord theme.
I have two big area where I fail to obtain what I want.

The first is the text background in the editor (but I believe it is related to issue #12591)

The second is that I can't change the background color of
- The menu
- The side bar
- The lists in dialogs

![image](https://user-images.githubusercontent.com/160393/18

[2022-09-04 08:24] vaaski commented on #17324
For anyone trying to install 22.1.0 with homebrew and being annoyed that it isn't as easy as just prepending @22.1.0, heres how I did it according to [this stackoverflow post](https://stackoverflow.com/a/69832222/6765374)

[code]

this installs https://github.com/Homebrew/homebrew-cask/commit/707f37126777e710d34232ed602c49329907e221, which restored right-click functionality for me on my m2 air run

[2022-09-04 17:10] dbojan opened #17552 "sum of selected values in 'Values' side panel"
**Is your feature request related to a problem? Please describe.**
When user selects multiple numerical, non foreign key, values in one column, 'Values' side panel displays just the first value.

Which is probably not what the user wants, since she selected multiple values.

**Describe the solution you'd like**
It would be useful to display sum of all selected values, instead of just the value of

[2022-09-05 06:57] neoman-titan commented on #7704
Seems this has been fixed in 22.2.0!

[2022-09-05 07:13] Dkrav-UA commented on #17329
Version 22.2.0
No changes. Still can't import
![изображение](https://user-images.githubusercontent.com/16414895/188386981-85210b04-5c92-45cf-9510-49b304ee50f0.png)

LOG
2022-09-05 10:12:06.511 - Initialize pipes
2022-09-05 10:12:06.512 - Create necessary database objects
2022-09-05 10:12:06.512 - 	Validate table structure table 'street'
2022-09-05 10:12:06.513 - Attribute does not support updating

[2022-09-05 07:16] igor2x commented on #17525
1. On **Window | Preferences** I have set:
![image](https://user-images.githubusercontent.com/10895030/188388112-da83a6d2-1681-48c7-9822-751f4aa4ddd0.png)

2. On individual connection right click and **Edit Connection** and set:
![image](https://user-images.githubusercontent.com/10895030/188388500-d5ce4b02-8953-48d5-8747-8f17327f6692.png)

Retesting and now only single connection is established be

[2022-09-05 07:22] ShadelessFox commented on #17329
Are you editing a persisted task or created a new one?

[2022-09-05 07:50] Dkrav-UA commented on #17329
Continue previous. Your suggestion about "issue was caused by https://github.com/dbeaver/dbeaver/issues/15860"  did not solve the problem.
When task executes it takes setting from tasks.json. However data in tasks.json and in GUI doesn't match.

When I manually changed all fields in JSON-file to correct values (had to change UPPERCASE to LOWERCASE) I managed to run the task.

[2022-09-05 08:22] yoni-yad2 opened #17554 "MySQL username isn't with proper back quotes when dragging/copying to SQL editor"
### Description

When copying a MySQL user from DB navigator to SQL editor it shows as:
`username@%`

or when dragging as:

`` `username@%` ``

instead of the correct way of:
`` `username`@`%` ``

### DBeaver Version

Community Edition Version 22.2.0.2022090406

### Operating System

Windows 10 64 bit

### Database and driver

MySQL / MariaDB

### Steps to reproduce

_No response_

### Additional

[2022-09-05 08:37] igor2x opened #17555 "For Db2 connections make more visible when connection is established"
**Is your feature request related to a problem? Please describe.**
Db2 connections use green icon in **Database Navigator** panel. When I connect to database "check" icon is added, but this icon is also green and it is difficult to distinguish when connection is established.
![image](https://user-images.githubusercontent.com/10895030/188404830-442c6ea3-b442-4b0a-989e-bb93d3e41abb.png)

**Describe

[2022-09-05 08:41] juminda-suurekoerve commented on #17520
Thanks @E1izabeth & @iraidaa.

The issue still exists in 22.2.0:

I did not reset the workspace, yet - should I try that now?

[2022-09-05 08:58] Destrolaric commented on #17520
@juminda-suurekoerve, hi, could you try to switch the active web browser via preferences manually `User Interface -> Web Engine`? Switch it to Internet Explorer. Also, can you tell me your Windows version?
![image](https://user-images.githubusercontent.com/20579256/188410107-408880e9-a139-4ac6-873d-148ea208500b.png)

[2022-09-05 09:20] serge-rider opened #17556 "SQL editor: open new tab doesn't change tab selection"
### Description

Execute in new tab opens new tab but doesn't change

### DBeaver Version

22.2

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-05 09:56] emironovDB commented on #16863
Close as a duplicate of #17479

[2022-09-05 09:56] #16863 closed, assigned to Destrolaric

[2022-09-05 10:09] igor2x commented on #17525
For step 2 I have found global setting:
On **Windows | Preferences** I have set:
![image](https://user-images.githubusercontent.com/10895030/188424641-91e0f652-5e77-48b5-9813-b73cd1c894ab.png)

[2022-09-05 10:09] #17525 closed, assigned to nobody

[2022-09-05 10:26] yapsr commented on #17537
Another workaround could be to not use the agent, but select "Public Key" as authentication method.

[2022-09-05 10:26] juminda-suurekoerve commented on #17520
Thank you, @Destrolaric - this did work!
My VM runs with Windows Server 2019 (version 1809).

Is that actually unrelated to our original problem (the interupted upgrade)?
Coming back to it: still wouldn't it be a good idea to check for open files / write protections before starting the installation and to then possibly stop the process?

[2022-09-05 11:54] cesar-bsd-com-br commented on #7704
Yes, solved with the version 22.2.0.

Thanks @titanlab

[2022-09-05 12:08] LonwoLonwo commented on #17554
Thanks for the bug report @yoni-yad2

[2022-09-05 13:40] LonwoLonwo commented on #15381
Unfortunately, I can find an open-source JDBC driver for Salesforce for now. And yes, I can\t connect to my Salesforce database with the Salesforce CDP driver.

[2022-09-05 13:47] #17556 closed, assigned to E1izabeth, uslss

[2022-09-05 14:02] umangjun92 commented on #11891
This worked for me

[2022-09-05 14:39] JBSP-code opened #17564 "SAP HANA -- Ignore leading comments before anonymous blocks"
Strictly speaking, it is a HANA error that occurs here, but dbeaver might circumvent it. Whenever a enclosed comment (/* */) is placed before a anonymous block and included in the statement sent to the HANA db, only statistics from the query are shown as results. Error does not occur when using single line comments (--):

[code]
![image](https://user-images.githubusercontent.com/28879598/188469738

[2022-09-05 16:19] hunalme opened #17566 "Brew install --cask ... not working (Error: SHA256 mismatch)"
### Description

Hello DBeaver community,

I'm unable to install DBeaver using brew tool because of the "SHA256 mismatch" error. Could you please fix the homebrew file (https://github.com/Homebrew/homebrew-cask/blob/master/Casks/dbeaver-community.rb) using correct hash values.

Regards

[code]

### DBeaver Version

22.2.0

### Operating System

MacOS

### Database and driver

_No response_

### St

[2022-09-05 16:34] #16978 closed, assigned to E1izabeth

[2022-09-05 16:51] GuenterSch commented on #17009
Hello Eugene,
the private key file (*.pem) contains the following code:

-----BEGIN RSA PRIVATE KEY-----
Proc-Type: 4,ENCRYPTED
DEK-Info: AES-256-CBC,F7DEB6495A2F896B651E82EDA641F8A8

[2022-09-05 21:25] hrnkilic commented on #11803
Version 22.2.0 resolves this issue.

[2022-09-05 23:27] joaofconde opened #17567 "macOS 13.0 Beta (22A5331f) DBeaver doesn't show dropdown menus"
### Description

macOS 13.0 Beta (22A5331f) DBeaver doesn't show dropdown menus

### DBeaver Version

Community edition last version

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-06 01:37] Iatbzh opened #17568 "dbeaver restarts the database and automatically reconnects"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When I close dbeaver, the database is not disconnected, and the script is not closed. When I open it again, it is automatically connected, and the script appears

**Describe the solution you'd like**
A clear and concise description of what

[2022-09-06 05:28] netmole opened #17569 "ODBC can't work with jdbc-odbc-bridge-jre7"
### Description

Hi I  create a ODBC connection ,use the  dirver jdbc-odbc-bridge-jre7.jar and jdbcodbc.dll downloaded from github dbeaver.
When I test the connection ,I receive "NullPointerException" error .
And I find Dirver Class is not found in "Edit Driver 'odbc'" dialog, when I click the "Find Class".

![image](https://user-images.githubusercontent.com/6734899/188537253-49d4eae2-cc93-4c52-86

[2022-09-06 06:57] LonwoLonwo commented on #17567
Hello @joaofconde

DBeaver is based on the Eclipse platform, and this is the Eclipse bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=580322

It seems to be fixed already, but this fix will be available in our product only in Autumn with the new Eclipse release.

As a workaround, for now, you can use DBeaver versions <= 22.1.0.

I am closing this as a duplicate of #17204

[2022-09-06 06:57] #17567 closed, assigned to nobody

[2022-09-06 06:58] LonwoLonwo commented on #17480
I am closing this as a duplicate of https://github.com/dbeaver/dbeaver/issues/17204

[2022-09-06 06:58] #17480 closed, assigned to nobody

[2022-09-06 07:26] hunalme commented on #17566
The problem is fixed within the context of following task/comment. I'm closing the issue.
https://github.com/Homebrew/homebrew-cask/pull/131042#issuecomment-1237278037
Thanks.

[2022-09-06 07:26] #17566 closed, assigned to nobody

[2022-09-06 08:40] goryushkinov commented on #17368
Hi everybody ! Nikita, thanks for the answer ! Can you also inform about еstimated timeframe for this opportunity ?

[2022-09-06 10:47] LonwoLonwo commented on #16544
Note for the future:
Driver returns tris struct value as a String.
So we need some parser for it.

[2022-09-06 13:32] mastachaos commented on #14930
I just started encountering this issue on 22.2.0 (Windows 11 x64)

[2022-09-06 13:36] serge-rider commented on #17349
Can't reproduce. PErhaps some special action in DBeaver causes this behavior.
@tvogel8570 do you have any hints?

[2022-09-06 15:06] fernandomacho commented on #9045
Hi, eclipse already fix this issue https://github.com/eclipse-platform/eclipse.platform.swt/issues/256

[2022-09-06 17:30] E1izabeth commented on #17568
You can turn off automatic connection to the database on script opening by disabling the _Connect on editor activation_ preference

![image](https://user-images.githubusercontent.com/28875055/188701292-371685d9-7b93-4f2c-9245-9dd39d6f7532.png)

[2022-09-06 17:32] E1izabeth commented on #17555
Thank you for feature request.

[2022-09-06 18:02] E1izabeth commented on #17436
Seemed it was fixed in 22.2.0. I can't reproduce it anymore.

[2022-09-06 19:02] E1izabeth commented on #17436
The issue appears after opening Value panel for gis values when the Microsoft Edge browser is set as Web Engine, but there is no Microsoft Edge on the client machine.

[2022-09-06 19:07] E1izabeth commented on #17436
It happens because of the following errors.
![image](https://user-images.githubusercontent.com/28875055/188718679-198e9e8b-9706-4cda-b123-99ee126c63ff.png)
![image](https://user-images.githubusercontent.com/28875055/188718770-6ab2822d-4655-4a88-9395-98a3ce9a7893.png)

[2022-09-06 19:26] jyinpci commented on #7704
Hmmm, somehow it still happens to me in 22.2.0.

[2022-09-06 20:46] anguis-datura commented on #7704
To repro just close result tab and statistic tab starts to appear after each script execution again, as workaround reopen DBeaver.

[2022-09-06 21:27] E1izabeth commented on #17520
We try to use default eclipse preference page with the available browsers auto detection which is already included into DBeaver.
There is available browsers detection mechanism which could tell us whether Edge is available on the client machine or not.

![image](https://user-images.githubusercontent.com/28875055/188742943-ae8e4076-f1d7-4d38-8711-bd19887c88f9.png)

[2022-09-07 07:42] wonb168 opened #17580 "can add console window in future？"
**Is your feature request related to a problem? Please describe.**
dbeaver’s SQL window only support sql，but sometimes we need write command script in console，
I find omindb can support sql window and console window both，
if dbeaver can add this feature in future？
![image](https://user-images.githubusercontent.com/25274931/188819062-85dcaa15-69dc-47a5-9435-c55acf4db7ae.png)

[2022-09-07 09:15] castielhong opened #17585 "There are blank space when export the query result into spreadsheet"
Hi, each time I export the query result into spreadsheet, there are a few space behind the value. I suppose it is to make up the maximum field due to the dbeaver default setting? And it should not be the dababase issue, because if I export the query result into spreadsheet from QMF, there is no space behind the value.

My current solution is to use excel formula "=trim" to remove the space, but it

[2022-09-07 09:23] serge-rider opened #17586 "Binary editor activation is too slow"
### Description

When open LOB editor for a binary content (shift+enter) it takes too long to open.

This is because we load content in all text editors in the LOB editor.
We must load them in a lazy mode.

### DBeaver Version

22.2

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-07 11:11] igor2x commented on #17428
I have tested this little bit more and I see IBM supports "latest" link which is independent of version number and always displays help for the latest version.

I suggest to change current link:
https://www.ibm.com/docs/en/db2/11.1?topic=pdsdjs-common-data-server-driver-jdbc-sqlj-properties-all-database-products

to "latest" link:
https://www.ibm.com/docs/en/db2/latest?topic=pdsdjs-common-data-ser

[2022-09-07 11:19] uslss commented on #17268
Cannot reproduce it for now. @srnsomu Is it reproducible for you against 22.2.0 version?

[2022-09-07 12:08] tvogel8570 commented on #17349
Give me a couple of days to see if I can produce a minimal reproduction.

[2022-09-07 12:11] adyaabo opened #17588 "MSSQL query with CTE and MERGE dropped semicolon from query"
### Description

Query in example always receive answer SQL Error [10713] [S0001]

May be on MERGE not applied false on 'remove query trailing delimiter' flag ?

### DBeaver Version

community edition 22.1.3-1

### Operating System

ArchLinux

### Database and driver

_No response_

### Steps to reproduce

Example:
CREATE TABLE #tmp_test (
	col1 int,
	col2 int
);
INSERT INTO #tmp_test VALUES (1,1)

[2022-09-07 12:22] E1izabeth commented on #17428
Thank you for investigation, @igor2x!

[2022-09-07 15:55] srnsomu commented on #17268
I was unaware that the SSPI authentication was not available in the Community edition. The issue can be closed

[2022-09-07 15:55] #17268 closed, assigned to uslss

[2022-09-07 16:25] kcgreg77 commented on #17542
Hopefully this helps others,  but the issue is related to SalesForce Connected App setup.
The "Salesforce CDP Tableau Connection" app needs to have IP Relaxation set to "Relax IP restrictions"
Now,  I'm able to JDBC connect from DBeaver

[2022-09-07 16:25] #17542 closed, assigned to nobody

[2022-09-07 16:26] LonwoLonwo commented on #17542
Thanks for clarification @kcgreg77

[2022-09-07 16:37] #17519 closed, assigned to nobody

[2022-09-07 16:37] pavan-chakka commented on #17519
I was able to connect thru IpAddress

[2022-09-07 20:03] sssqwe opened #17590 "Mistranslation between GBK and UTF8"
I'm having a problem with DBeaver and Mysql. I used DBeaver to create and insert data(chinese character included)  into the table on a virtual machine. However, after I inserted the data. The data been inserted changed to 斯锟铰达拷 which is a result of mistranslation between UTF-8 and GBK. The question is the Mysql DB on VM is all set to UTF8. I don't know how such mistranslation has happened. Can som

[2022-09-07 20:11] E1izabeth opened #17591 "Can't download driver files due to certificate issues"
### Description

I try to connect to database, but I don't have downloaded driver files yet.
Download driver files window appears, then I get the following exception.

![image](https://user-images.githubusercontent.com/28875055/188966666-5fe6467f-3ba7-4f48-bfca-2d6cafc1565d.png)

After some investigation we found out that removing -Djavax.net.ssl.trustStoreType=WINDOWS-ROOT from dbeaver.ini helps.

[2022-09-07 20:49] adyaabo commented on #17588
also in Ubuntu/DBeaver 22.2.0

[2022-09-07 20:57] E1izabeth commented on #17588
Thank you for bug report.

[2022-09-07 20:58] E1izabeth commented on #17588
As a workaround you can select the whole query with semicolon and run.

[2022-09-07 21:58] bickgr commented on #7704
Still having the same issue on Version 22.2.0.202209051344, when running a sql script with multiple queries, the statistics tab is still the default selected tab

[2022-09-07 23:36] DanGeekyWorld opened #17593 "Error to Autenticate with Azure of SQL Server"
### Description

Cant load Java MSAL4J cant Autenticate ActiveDirectoryPassword.

Is the same Issue  with AZURE.

### DBeaver Version

22.2.0

### Operating System

Mac os Monterrey 12.5.1

### Database and driver

com.microsoft.azure:msal4j:RELEASE
1.12.0

and for SQL

com.microsoft.sqlserver:mssql-jdbc:RELEASE
9.2

### Steps to reproduce

Try to Add access to a data base on AZURE or SQL

with Ac

[2022-09-08 02:12] joanbm opened #17594 "/usr/bin/dbeaver symlink remains after uninstalling DBeaver CE from RPM file"
### Description

If one installs DBeaver CE from the RPM file on a distribution such as Fedora Linux 36, then uninstalls it, a broken symlink at `/usr/bin/dbeaver` (pointing to a missing `/usr/share/dbeaver-ce/dbeaver` file) remains.

On Fedora this happens both when installing the package using `rpm` or `dnf`.

Aside from the orphaned/leftover file, this also causes a warning when re-installing D

[2022-09-08 02:38] davidh-cloudster commented on #12510
Hi
I am having the same issues
OS: Windows 10 Home
DBeaver version: 22.2.0

In the dbeaver.ini , I have the following setting:

-vmargs
-XX:+IgnoreUnrecognizedVMOptions
--add-modules=ALL-SYSTEM
-Dosgi.requiredJavaVersion=11
-Xms64m
-Xmx4096m
-Djavax.net.ssl.trustStoreType=WINDOWS-ROOT
-Ddbeaver.distribution.type=exe

I only changed the old value to -Xmx4096m.
I had Java heap space Error before I c

[2022-09-08 02:44] davidh-cloudster opened #17595 "UTF16 String size is 2098200574, should be less than 1073741823"
### Description

My question is similar to #12510
System information:
OS: Windows 10 Home
DBeaver: DBeaver Community 22.2.0

In the dbeaver.ini , I have the following setting:

-vmargs
-XX:+IgnoreUnrecognizedVMOptions
--add-modules=ALL-SYSTEM
-Dosgi.requiredJavaVersion=11
-Xms64m
-Xmx4096m
-Djavax.net.ssl.trustStoreType=WINDOWS-ROOT
-Ddbeaver.distribution.type=exe

I only changed the old value to

[2022-09-08 02:50] TomYule commented on #7591
I have a similar problem
I unloaded and reloaded and still couldn't fix it
dbeaver-ce-22.2.0-x86_64-setup.exe
I installed the option for my own use and finally solved it

[2022-09-08 06:22] LonwoLonwo commented on #17593
Could you please provide the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-09-08 06:30] #17532 closed, assigned to LonwoLonwo, Matvey16

[2022-09-08 08:00] bazmap opened #17597 "GIS Viewer broken : Not implemented [WebView2 runtime not found]"
### Description

When I try to visualize spatial data, I've got an error :
Not implemented [WebView2 runtime not found]

org.eclipse.swt.SWTError: Not implemented [WebView2 runtime not found]
	at org.eclipse.swt.SWT.error(SWT.java:4944)
	at org.eclipse.swt.browser.Edge.createEnvironment(Edge.java:313)
	at org.eclipse.swt.browser.Edge.create(Edge.java:336)
	at org.eclipse.swt.browser.Browser.<init>

[2022-09-08 08:42] E1izabeth commented on #17597
Thank you for bug report. Please, try switching this setting to Internet Explorer. Does it help?

![image](https://user-images.githubusercontent.com/28875055/189076967-0ccb360d-ed60-483e-b0b8-59494d0cfa6a.png)

[2022-09-08 09:13] bazmap commented on #17597
Amazing, it works !

Ok thats a little bit awkward to use Internet Explorer but I can make an effort for this wonderfull software that DBeaver is.

Thank you

Best Regards !

[2022-09-08 09:13] #17597 closed, assigned to nobody

[2022-09-08 09:28] ShadelessFox commented on #17595
Hello @davidh-cloudster,

You are trying to load a 16.4 GB file, which causes the issue.

Even with 32 GB of RAM, it would be impossible due to the limitations of the Java platform.

So don't open such big files.

[2022-09-08 09:28] #17595 closed, assigned to nobody

[2022-09-08 09:33] iraidaa commented on #17288
Hello @Aileron79,

The issue is fixed in 22.2.0. Please, try the new version.

[2022-09-08 11:13] davidh-cloudster commented on #17595
Hi @ShadelessFox
Thanks for the reply
If I have to import all the data in the 16.4 GB file, would file split be a good way to do it?
The file contains lots of queries, if I can split the huge file into, let's say ten 1.64GB files
Would it be a good approach?
Also, I wonder what is the max file size that the Java platform can run.
Thanks for your time.

[2022-09-08 11:26] it-fuhr opened #17599 "Getting SQL Error SQL0181 and displaying "NULL" for a date-field with "9999-12-31" (DB2 i series)"
### Description

Getting SQL Error SQL0181 and displaying "NULL" for a date-field with "9999-12-31" (DB2 i series)
see Example in Steps to reproduce.

Output/Ausgabe:
[SQL0181] Wert in Datums-, Zeit- oder Zeitmarkenzeichenfolge ung}ltig.

ID|FROM_DATE |TO_DATE   |
--+----------+----------+
 1|2010-03-19|2010-03-21|
 2|2022-08-01|2022-08-31|
 3|          |          |

### DBeaver Version

Community

[2022-09-08 11:31] flambchap commented on #17594
Thank you for your report and investigation. We'll fix that for sure.

[2022-09-08 11:33] ShadelessFox commented on #17595
Yes, you can split your file into chunks. Each chunk should be 1.0 GB at most (the number mentioned in error divided by 2^30).

Unfortunately, the Eclipse platform DBeaver is built on handles such big files poorly when it comes to rendering them as text.

So even a 500 MB file can make DBeaver irresponsible.

[2022-09-08 12:04] michal-bartak commented on #14908
Hello. Any chance to see this feature any soon?

[2022-09-08 13:15] LonwoLonwo commented on #17346
Hello @vtsimbos

"ALL_USERS" is a specific name for the SYS schema system view.

So, in this case, you can change this setting in your connection settings:

![2022-09-08 16_11_50-DBeaver Ultimate 22 2 0 - MAPS](https://user-images.githubusercontent.com/45152336/189131440-4ebc19a1-362e-4ea3-8e25-3c7380a78ce3.png)

It will help in your case, I hope.

[2022-09-08 13:17] emironovDB commented on #17354
Hi @match-gabeflores,

Could you provide the driver version that you use?

Additionally please provide the output of the following query:
`select pg_get_viewdef(<view-id>);`

[2022-09-08 13:22] emironovDB commented on #17367
@bouyeijiang @lucashtc
Hi,

Could you make[ a thread dump](https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump) during the query execution?

[2022-09-08 13:25] LonwoLonwo commented on #17392
Yeah, I see.

`SELECT 1; --select `

Do not work in Postgres too.
We need to handle this case.

Thanks for the bug report.

[2022-09-08 13:25] emironovDB commented on #17387
@ikodev

Please try reinstalling DBeaver
And let me know if it helps

[2022-09-08 13:36] LonwoLonwo commented on #17407
Hello @google007049

What is the reason to create so many tickets with one problem? Any difference from the case in https://github.com/dbeaver/dbeaver/issues/17210?

I'm closing this ticket as a duplicate of https://github.com/dbeaver/dbeaver/issues/17210

You can add additional info about your new case in the original ticket.

[2022-09-08 13:36] #17407 closed, assigned to nobody

[2022-09-08 13:46] ShadelessFox commented on #17518
Hello @notzippy,

This will not work. Let me explain.

Every SQL editor is associated with its own connection. When using connection pooling, it will result in different queries executing in different connections, not sharing the common state such as transactions. Additionally, a query can depend on the result of a previously executed query. Running queries in parallel can cause any sort of weird

[2022-09-08 13:46] #17518 closed, assigned to nobody

[2022-09-08 13:50] emironovDB commented on #17548
We will fix this issue in #17547

[2022-09-08 13:50] #17548 closed, assigned to nobody

[2022-09-08 13:54] LonwoLonwo commented on #17564
Can be connected with https://github.com/dbeaver/dbeaver/issues/17392

[2022-09-08 13:55] emironovDB commented on #17551
@vds2212
Hi,
Have you tried [darkest dark](https://marketplace.eclipse.org/content/darkest-dark-theme-devstyle)?

[2022-09-08 13:55] lav-patel opened #17600 "Enhancement Request: pgformatter style formatting"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
--> We use [pgformatter ](https://www.postgresql.org/about/news/pgformatter-v50-released-2166/) style formatting for SQL as It is suggested by official pg docs, but it is frustrating to use another tool and reformat the SQL.

**Describe the

[2022-09-08 14:00] ShadelessFox commented on #17552
Hello @dbojan,

The value panel shows the value of the currently focused cell, not the selected one. The focused cell has a thick black border.

We don't want to change this behavior.

As a workaround, you can specify a shortcut for revealing the calculator panel in the <kbd>Preferences</kbd> &rArr; <kbd>User Interface</kbd> &rArr; <kbd>Keys</kbd>.

[2022-09-08 14:00] #17552 closed, assigned to nobody

[2022-09-08 14:01] ShadelessFox commented on #17569
Hello @netmole,

Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-09-08 14:05] ShadelessFox commented on #17600
Hello @lav-patel,

You can define an external formatter in <kbd>Preferences</kbd> &rArr; <kbd>Editors</kbd> &rArr; <kbd>SQL Editor</kbd> &rArr; <kbd>Formatting</kbd> and set <kbd>Formatter</kbd> to <kbd>External formatter</kbd>.

Does it solve your problem?

[2022-09-08 14:08] kikonen opened #17601 "REQ: New shortcut key for "SQL Editor -> New SQL Script""
**Is your feature request related to a problem? Please describe.**
Current shortcut key for "SQL Editor -> New SQL Script" action is *extremely cumbersome. It seems to be "CTRL + ]"

Producing "]" requires pressing "ALTGR + 9", which means that full combination would be "CTRL + ALTGR + 9"
=> and that does not seem to work

**Describe the solution you'd like**

Easier shortcut key for opening new S

[2022-09-08 14:14] kikonen commented on #17332
Just tried with  22.2.0.202209051344 and encountering still similar problems; this time seemingly no workaround (?!?)

[2022-09-08 14:14] Destrolaric commented on #17597
Linked issue: https://github.com/dbeaver/dbeaver/issues/17520

[2022-09-08 14:15] E1izabeth commented on #17520
On some Windows 10 client machines users experience the same [issue with WebView2 runtime not found](https://github.com/dbeaver/dbeaver/issues/17597), and [this one](https://github.com/dbeaver/dbeaver/issues/17332#issuecomment-1240779511).

[2022-09-08 14:16] Destrolaric commented on #17332
@kikonen Have you tried changing to IE in User Interface -> Web Engine?
The issue with handles is planned to be looked into in the near future.

[2022-09-08 14:28] match-gabeflores commented on #17354
driver v2.0.0.7
see below screenshot. Note that the driver type says Postgres which I think is correct

![image](https://user-images.githubusercontent.com/286903/189147711-6e6ed29a-5cf8-43da-9db9-5797fed5c673.png)

output of
`select pg_get_viewdef('globaldata.vwdeviceplatform', true)`

is like this (snipped the query). Note, `autorefresh on` is not present.
[code]

When I go on the DEV cluster (wh

[2022-09-08 14:34] match-gabeflores commented on #17354
hi @appleoddity,

you helped verify a similar issue in https://github.com/dbeaver/dbeaver/issues/14039 (#14039), wondering if you can reproduce this error in your similar SSO/copied driver environment.

steps would be:
1. Create a materialized view with `autorefresh on` attribute
2. then script out the ddl
3. the ddl should have autorefresh on

[2022-09-08 14:49] kikonen commented on #17332
Meaning this (at least didn't find any other setting DBeaver related to that). Haven't touched that.

*EDIT*
Did few trials of different options on that, and didn't really see any improvement.

![image](https://user-images.githubusercontent.com/478935/189153161-b61aac98-05ad-4373-b885-9300b2ba1b2f.png)

Default web browser in OS is naturally Opera; not sure how it relates into this embedded geo vi

[2022-09-08 14:54] Destrolaric commented on #17332
@kikonen, This is the wrong page. Required page setting is located in User Interface preference(see screenshot below)
![image](https://user-images.githubusercontent.com/20579256/189154579-1427b493-ae35-46c7-82ae-d5d1d14bd6ea.png)

[2022-09-08 14:57] kikonen commented on #17332
:) I see.

Well, changing that setting did actually improve situation; who says that IE is dead :D

and this is also better workaround than that "edit init file in not easily guessable directory".

[2022-09-08 15:35] soluzione-software opened #17602 "problem in restore"
### Description

when i try to restore a database i get this error:
Error executing process
  Process failed (exit code = 1). See error log.
  Process failed (exit code = 1). See error log.

ask 'MySQL restore' finished at Thu Sep 08 17:32:32 CEST 2022
2022-09-08 17:32:32.583 - IO error: Process failed (exit code = 1). See error log.
2022-09-08 17:32:32.584 - java.io.IOException: Process failed (e

[2022-09-08 15:43] LonwoLonwo commented on #17564
Hello @JBSP-code

Thanks for the report.

As shown in the Query Manager, DBeaver sends two identical statements.
But it seems the driver returns the result in the data form only in one case. So it can be an issue from the driver's side.

We should look into it.

[2022-09-08 15:43] netmole commented on #17569
Sorry ,I don't know how to send you the log file.

When I click the "Find Class",I find in the log file "dbeaver-debug.log ":

2022-09-08 23:33:53.159 - DBeaver 22.2.0.202209051344 is starting
2022-09-08 23:33:53.159 - OS: Windows 10 10.0 (amd64)
2022-09-08 23:33:53.159 - Java version: 11.0.12 by Eclipse Foundation (64bit)
2022-09-08 23:33:53.159 - Install path: 'C:\Users\xxxxxx\Documents\tools\db

[2022-09-08 15:43] LonwoLonwo commented on #17564
![2022-09-08 18_28_22-DBeaver Ultimate 22 2 0 - MAPS](https://user-images.githubusercontent.com/45152336/189166284-f2cad6df-1086-4824-853c-245a552563da.png)

[2022-09-08 15:46] netmole commented on #17569
add:  I download the dirver  jdbc-odbc-bridge-jre7 from https://github.com/dbeaver/jdbc-odbc-bridge-jre7;

[2022-09-08 16:12] E1izabeth commented on #17602
Please, provide the log files. You can find instructions here https://dbeaver.com/docs/wiki/Log-files/.

[2022-09-08 16:47] vds2212 commented on #17551
Thanks for you response :-)

It is still a bit unclear to me :-| I understand
- I need first to install the market client
- Then I could install darkest dark

I'm right?

Could you tell me how darkest dark could help me?

Could you give me some pointers about how to install the market client?

Best regards,
Vivian.

[2022-09-08 17:54] vds2212 commented on #17551
I found the option (I don't know exactly how).
The new result is already much better:

![image](https://user-images.githubusercontent.com/160393/189192252-8bdfff49-5292-4dab-b451-28638d28dbd5.png)

Thanks for your support.
Best regards,
Vivian.

[2022-09-08 18:00] E1izabeth commented on #17551
You don't need to install Eclipse Marketplace. It's in the Menu->Help

![image](https://user-images.githubusercontent.com/28875055/189193218-7698dec2-5e28-4fea-a7ba-2e9d8e18d688.png)

![image](https://user-images.githubusercontent.com/28875055/189193225-10e7e3bd-5ec6-42f1-adc0-0fb48baad9ea.png)

[2022-09-08 18:01] E1izabeth commented on #17551
Darkest dark theme extension provides more flexible theme customization.

[2022-09-08 19:30] E1izabeth commented on #17380
@PoseidonEnergy please, add instance name to the host. Like this

![image](https://user-images.githubusercontent.com/28875055/189209469-e58f6e7e-9c66-415d-9168-9ac46124beb8.png)

As far as I see we generate connection url according to this template https://docs.microsoft.com/en-us/sql/connect/jdbc/building-the-connection-url?view=sql-server-ver15

Let me know if it helps.

[2022-09-08 19:43] lucashtc commented on #17367
@emironovDB
Hi,
This dump was at the time he was making a "seach proposals", and it doesn't run, it stays put for a long period of time.
I need to stop the task and try an invalidation of the connection to be able to run it again.
Sometimes I need to close Dbeaver and force it to close with kill.

[code]

[2022-09-08 19:50] lucashtc commented on #17367
@emironovDB
This dump was made when I try to close the "search proposals", but it takes a long time to close.

[code]

[2022-09-08 20:10] sergeynilov opened #17603 "Why I can not login ib Dbeaver with valid postgreSql credentials?"
### Description

I try to login from my Dbeaver 22.0.4 to postgreSql 12.11 under local kubuntu 20,
but got error:

    FATAL: password authentication failed for user "postgres"

In Dbeaver db settings user/password are “postgres” - they are valid, as I login with this credentials in pgphpadmin :
https://prnt.sc/KDIUsmZgiERO

Are there some other settings invalid ?

Thanks!

### DBeaver Version

Db

[2022-09-09 02:22] GitHubzjh1997 opened #17604 "dbeaver fields are not fully displayed"
![Snipaste_2022-09-09_11-40-09](https://user-images.githubusercontent.com/83394483/189271078-109bc024-d041-4eac-9290-0b993d23ebea.jpg)
![Snipaste_2022-09-09_11-34-52](https://user-images.githubusercontent.com/83394483/189266700-96f8e35a-03ce-46fe-b051-efce60a29484.jpg)
### Description

1.I created a new CREATE USER ID field in Navicat
2.This field is not displayed in dBeaver
3.But if you create a

[2022-09-09 03:35] GitHubzjh1997 commented on #17604
![Uploading Snipaste_2022-09-09_11-33-56.jpg…]()

[2022-09-09 04:18] hktalent opened #17605 "Mac os 13.0 Beta (22A5331f) can not open menu and right menu"
### Description

Mac os 13.0 Beta (22A5331f) can not open menu and right menu

### DBeaver Version

22.2

### Operating System

_No response_

### Database and driver

mysql

### Steps to reproduce

Mac os 13.0 Beta (22A5331f) can not open menu and right menu

### Additional context

<img width="658" alt="image" src="https://user-images.githubusercontent.com/18223385/189270849-89a5b593-54a7-4dcc-b

[2022-09-09 06:32] vtsimbos commented on #17346
LonwoLonwo thank you very much. Your solution works fine.

[2022-09-09 06:32] #17346 closed, assigned to LonwoLonwo

[2022-09-09 06:39] LonwoLonwo commented on #17604
Hello @GitHubzjh1997

Did you refresh your table after column creation in Navicat?

[2022-09-09 06:43] LonwoLonwo commented on #17603
Hello @sergeynilov
Can you please try to change host to localhost? I hope it will help.

[2022-09-09 06:45] LonwoLonwo commented on #17602
Additionally, please provide your MySQL server version.

[2022-09-09 06:47] LonwoLonwo commented on #14908
Hello @michalk-k

This task, for now, is in our plans for the 22.2.2 release.
You can see it in the "Milestone" section on this GitHub page.

[2022-09-09 06:49] #16792 closed, assigned to ShadelessFox, Matvey16

[2022-09-09 06:50] LonwoLonwo commented on #17605
Hello @hktalent

Thanks for the bug report.

DBeaver is based on the Eclipse platform, and this is the Eclipse bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=580322

It seems to be fixed already, but this fix will only be available in our product in Autumn with the new Eclipse release.

As a workaround, you can now use DBeaver versions <= 22.1.0.

I am closing this as a duplicate of https://gi

[2022-09-09 06:50] #17605 closed, assigned to nobody

[2022-09-09 08:08] michal-bartak commented on #14908
Thank you for the clarification.
Please don't get me wrong or offensive, but I found those milestones often not fulfilled. There are issues planned for v21 but still not delivered while being more critical.
So because I don't know the policy of using/changing milestones I'm asking directly for plans/activity around a particular issue.

Anyway, keep up the good work
With regards

[2022-09-09 08:31] michal-bartak commented on #17494
Not sure why x:postgresql has been set to this issue (it's not mentioned in posts above).
Anyway, it's possible to dump the whole db from PostgreSQL using DBeaver's backup feature. It uses the pg_dump utility to dump the entire db (or selected objects) into SQL file.

[2022-09-09 08:47] E1izabeth commented on #17380
You should do the same in other Database IDEs, for example, in Microsoft SQL Management Studio:

![image](https://user-images.githubusercontent.com/28875055/189310473-d2eb67ae-9ee1-49d2-8cc8-7df1bdf86e72.png)

[2022-09-09 08:53] capaj commented on #2201
@rpgdev I had this disabled for some strange reason, you saved me like 10 hours or manual reconnections over the next few months with your screenshot.

[2022-09-09 09:24] arindam31 commented on #3896
Got the same issue again on ver 22.2.0

[2022-09-09 09:25] E1izabeth commented on #3896
Please, create the new issue if you encounter some bugs.

[2022-09-09 09:38] vgrimaldi848 commented on #7911
Not sure if this is a bug or not but you should try to edit the connection definition and:
Metadata - > Unchecjk default option -> Check "Use case-sensitive names in DDL statements".

Worked for me.

[2022-09-09 10:14] AS-WM opened #17606 "Cannot connect to databases"
### Description

Hi I appear to be having an issue connecting to postgres databases via dbeaver. I have checked and the credentials have worked on the same machine using pgadmin, so it is an issue specific to dbeaver and not an issue with the databases themselves.

Whenever I try and connect to a postgresql database I get the following error
SCRAM authentication is not supported by this driver. Yo

[2022-09-09 10:30] E1izabeth opened #17607 "NPEs while opening and editing object"
### Description

From time to time I see these NPEs in my logs. I can't stable reproduce it to provide some steps.
[code]

[code]

### DBeaver Version

DBeaver 22.2.0

### Operating System

Windows 10

### Database and driver

PostgreSQL 12

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-09 10:55] pamamu opened #17608 "UPDATE statement generation without WHERE"
### Description

PRECONDITIONS:
- DB2 Database.
- Select using script.
- Script select without PRIMARY KEY.

STEPS:
1. Execute Query and works properly.
2. Select all the rows and columns in the Grid Panel.
3. Right Click -> Generate SQL -> UPDATE.

EXPECTED RESULT:
- Update Statements with the following syntax "UPDATE xxxx SET a=y WHERE b=z"

ACTUAL RESULT:
- Update Statements with the following

[2022-09-09 11:03] gabitianu opened #17609 "Generate SQL: database procedure call"
### Description

The generated statement for executing a procedure in HANA should be:
CALL "SCHEMA_NAME"."PROCEDURE_NAME"(
	IN_PARAM1 => ''/*<NVARCHAR(256)>*/,
	IN_PARAM2 => /*<INTEGER>*/,
	IN_PARAM3 => /*<TABLE_TYPE>*/,
	IN_PARAM4 => /*<BIGINT>*/,
	OUT_RESULT => ?
)

The statement generated by DBeaver is
EXEC "SCHEMA_NAME"."PROCEDURE_NAME"(:IN_PARAM1, : IN_PARAM2, : IN_PARAM3, : IN_PARAM4, ?)

##

[2022-09-09 12:07] GitHubzjh1997 commented on #17604
Of course。
![Snipaste_2022-09-09_20-04-45](https://user-images.githubusercontent.com/83394483/189346134-91af5c37-4666-4cb4-a272-c2fc9d89f8cf.jpg)
And you can't find out using select*, so I don't think it has anything to do with refreshing
But the fields do exist in the table。
![Snipaste_2022-09-09_20-06-24](https://user-images.githubusercontent.com/83394483/189346458-d80e9466-9e67-45d1-91fa-b70b80

[2022-09-09 12:21] LonwoLonwo commented on #17604
Ok. How about DBeaver restart?
And if it will not help - can you please check your column in DDL? DBeaver reads table DDL from the server. And Please provide this DDL here.

[2022-09-09 13:03] GitHubzjh1997 commented on #17604
Well, I found out why by looking at DDL.I accidentally selected invisible when creating the field.Thank you for your help, sorry for asking a naive error.

[2022-09-09 13:03] #17604 closed, assigned to nobody

[2022-09-09 14:35] Neemaul commented on #8129
Same issue under `22.1.3.202207311845`. Same conditions - using wayland and swaywm.

Can someone reopen?

[2022-09-09 14:46] luvelloso commented on #3371
I have the same issue.

[2022-09-09 14:55] Destrolaric commented on #17606
@AS-WM  Hi, I think this happens due to the driver being compiled for `.jre6`. You should use a different driver, for example, `postgresql-42.2.25.jar`

[2022-09-09 15:20] DariaMarkaryan opened #17610 "[Clickhouse] Can't see tables when 'Show all tables in a single list' is enabled"
### Description

In connection setting of clickhouse customize navigator view as shown at the screenshot:
![image](https://user-images.githubusercontent.com/43252954/189384562-a8ccba79-5cbd-4cc7-95e3-07773e12908e.png)
then reconnect - you'll not be able to see any objects except data types in the connection tree
![image](https://user-images.githubusercontent.com/43252954/189384766-bca4277e-83c1-45

[2022-09-09 18:30] PoseidonEnergy commented on #17380
I have tried that, and it still adds "serverName=.\sqlexpress" to the connection string.

The connection string should look like this: `jdbc:sqlserver://.\sqlexpress;databaseName=master;integratedSecurity=true;`

See a screenshot of my attempt below:

![servername](https://user-images.githubusercontent.com/109360495/189421042-a5ce9b87-5868-4ac6-b641-cb04474dc938.PNG)

I also can confirm that ".\sq

[2022-09-10 06:21] erki77 opened #17612 "MS Access - wrong symbols around identifiers"
### Description

In case of making queries against a MS Access database DBeaver uses backtip quotes around identifiers, instead of square brackets or no symbols at all. This code cannot be executed in MS Access directly.

DBeaver output:
SELECT *
FROM \`Hotel\`
WHERE Hotel.\`hotel_nr\` =2;

Desired output:
SELECT *
FROM [Hotel]
WHERE Hotel.[hotel_nr] =2;

or

SELECT *
FROM Hotel
WHERE Hotel.hotel_

[2022-09-10 08:07] michal-bartak commented on #11061
Any chance to increase priority for this change?
Being not able to manage public privilege has a security impact.

[2022-09-10 13:33] jacobator commented on #17204
Works again with latest Ventura beta

[2022-09-10 17:47] TheMechanist902 opened #17613 "Filter history dropdown: Query preview text apparently is partly using a foreign codeset"
### Description

When you activate the dropdown menu of recently applied filters, the preview for the query partly uses a foreign set of symbols (In my case some sort of Asian codeset)
![image](https://user-images.githubusercontent.com/8171872/189495385-b2474ddc-da80-43bb-a3f1-f8891791fbe2.png)

It's a purely visual nag, but a fix would be appriciated if somebody finds the time.

### DBeaver Versi

[2022-09-10 19:54] E1izabeth commented on #17380
Thank you for explanations.

[2022-09-10 20:00] E1izabeth commented on #17380
Using `localhost` or windows machine name instead of `.` works for me. Maybe you could try using it as a temporary workaround.

[2022-09-10 20:40] E1izabeth commented on #17608
Thank you for bug report.

[2022-09-10 23:07] throttlehead-dev commented on #17537
I had this same problem on 22.04. I only needed to add `PubkeyAcceptedKeyTypes=+ssh-rsa` to `/etc/ssh/sshd_config` and restart `sudo systemctl restart ssh`

[2022-09-11 03:37] ged-yuko commented on #5317
I found that DBeaver CE update site (https://dbeaver.io/update/ce/latest/) is not complete enough for Eclipse platform to update all the application components. It seems that it is being generated with [product/repositories/org.jkiss.dbeaver.ce.repository/category.xml](https://github.com/dbeaver/dbeaver/blob/devel/product/repositories/org.jkiss.dbeaver.ce.repository/category.xml), which obvoiusly

[2022-09-11 12:54] AviSarmani opened #17614 "Multiple underscores in table names get truncated to one when exporting a table to a file"
### Description

Multiple underscores in table names get truncated to one when exporting a table to a file

### DBeaver Version

Community edition 22.2.0

### Operating System

Win 10

### Database and driver

Postgres but have also reproduced under Clickhouse so I don't think it's DB related

### Steps to reproduce

1. Create a table that has multiple underscores in it's name:
[code]
2. Try to ex

[2022-09-11 20:01] martinglatz opened #17615 "copy to excel"
I often copy query results to excel and Dbeaver currenly (22.2.0) does not have the desired features I'd wish for.

The closest I can get to is modify "copy to csv" with \t as delimiter. I don't want to export, that is too much clicking.
Furthermore I do have problems with greater than seconds precision in time-like columns (excel does not support that) and decimal separator, I use "," instead of

[2022-09-11 20:56] ShadelessFox commented on #17615
Hello @martinglatz,

Have you tried the office integration extension? https://github.com/dbeaver/dbeaver/wiki/Optional-extensions#office-integration

[2022-09-12 05:07] xazos79 commented on #8529
I also still see this as of 22.2.0

Strange thing is that i've never seen it until this very version. And i've been using DBeaver for years.

[2022-09-12 06:48] LonwoLonwo commented on #17614
Thanks for the bug report @AviSarmani

Note for the future: StreamTransferConsumer#stripObjectName

[2022-09-12 06:57] iklose opened #17616 "Support Amazon Redshift Serverless IAM Authentication"
DBeaver supports IAM authentication for Redshift Clusters. One of the mandatory parameters for this is cluster_id. The newly introduced Amazon Redshift Serverless service does not use a cluster_id but a workgroupname parameter for connections. Therefore currently there is no way to use DBeaver with Amazon Redschift Serverless as the current set-up is trying to use cluster_id and o connect to a Red

[2022-09-12 07:05] LonwoLonwo commented on #11061
Hello @michalk-k

This is a very confusing story. The role that exists but doesn't exist in metadata. Also, I check PGAdmin4 - I can't see the "public" role there too.

So, can you provide me with some documentation links, please?

[2022-09-12 08:58] uslss opened #17619 "Grave accent isn't escaped during table creation"
### Description

![image](https://user-images.githubusercontent.com/31996417/189613669-6db4893a-ba99-4e91-add1-8d10737cd552.png)
Grave accent isn't escaped during table creation

### DBeaver Version

CE 22.2.0

### Operating System

win10

### Database and driver

MySQL 5.7.25-28

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-12 08:59] #17528 closed, assigned to iraidaa

[2022-09-12 09:20] michal-bartak commented on #11061
I don't know any page dedicated for PUBLIC role which provides comprehensive and complete information about it. Pieces of information are rather scattered across privileges-related pages. I collected knowledge about that subject learning it hard way while creating and applying access policies to postgres databases.

Here is page about GRANT syntax: https://www.postgresql.org/docs/14/sql-grant.html

[2022-09-12 09:35] #15196 closed, assigned to Destrolaric, Matvey16

[2022-09-12 09:41] #17491 closed, assigned to serge-rider, Matvey16

[2022-09-12 10:16] LonwoLonwo commented on #17616
Thanks for the report @iklose

Probably we can add a new option somewhere here in the Connection Settings:

![2022-09-12 13_14_56-DBeaver Ultimate 22 2 0 - _localhost_ Script-34](https://user-images.githubusercontent.com/45152336/189629784-f14b73de-cf52-43be-811c-353a9bb693d1.png)

[2022-09-12 10:27] LonwoLonwo commented on #11061
Ok, this is convincing.
I will add it to the nearest free milestone.

[2022-09-12 10:31] #17366 closed, assigned to nobody

[2022-09-12 10:37] LonwoLonwo commented on #17533
Hello @braiam

Unfortunately, my colleagues nor I can reproduce this issue and catch NullPointerException.

Also, these code lines:

[code]

look outdated, not as in our JSQLibrary version. So it can be some installing problems.

So, for now, I'm closing this ticket. If you have more details about this issue - feel free to write it here or create a new ticket.

[2022-09-12 10:37] #17533 closed, assigned to nobody

[2022-09-12 10:40] Matvey16 opened #17621 "Sequence DDL is not refreshed with a corresponding button"
### Description

If the DDL of a sequence is opened in metadata editor, any changes to it won't be updated after any refresh. Only after object is closed and reopened

### DBeaver Version

22.2.0

### Operating System

Any

### Database and driver

Vertica Database 12.00.0000
vertica.jar 12.00.0100

### Steps to reproduce

1. Open a sequence from the navigator
2. Change something through UI (e. g.

[2022-09-12 10:41] Matvey16 commented on #16879
Verified

[2022-09-12 10:44] Ravi5308 opened #17622 "[Snowflake] Supports materialized views"
### Description

I have connected to Snowflake through DBeaver and created a materialized  view . When deleting the materialized  view by right click on view object, getting an error " **SQL Error [2203] [02000]: SQL compilation error: Object found is of type 'MATERIALIZED_VIEW', not specified type 'VIEW'.
  SQL compilation error: Object found is of type 'MATERIALIZED_VIEW', not specified type 'VI

[2022-09-12 11:51] GlyphSH opened #17623 "Features for MSSQL login creation"
**Is your feature request related to a problem? Please describe.**
I am unable to make logins the way i'de like for my database, leaving me reliant on SSMS for the forseeable future. (forcing me to use a windows VM on Linux hosts)

**Describe the solution you'd like**
I'de like to see these options:
Windows/SQL Server authentication options for new user
Options for enforcing password policy option

[2022-09-12 12:20] sonerfromnurland opened #17625 "Query result column width autofitting or setting column width"
I would like to see columns autofit when looking at results from database. Often I do work with data that are wider than column width and adjusting that manually is just pain. I would like to be able to set it up so, that this will be done automatically.
For reference, please see for example how Oracle SQL Developer does this. Or, we should be able to set determined width to the resulting query ta

[2022-09-12 12:26] GaryLiuTelus opened #17626 "Network connection proxy settings and plugins are reset after each upgrade"
### Description

All settings in Preference -> General -> General Connections lost and are reset after each upgrade.
Also, the plug-in installed from 3rd party sources lost after each upgrade.

### DBeaver Version

Community 22.2.0.202209051344

### Operating System

Windows 10 Enterprise 20H2

### Database and driver

_No response_

### Steps to reproduce

1. Make some changes in 'Preference' ->

[2022-09-12 12:27] sonerfromnurland commented on #17625
Actually, it can e done as following. It fills the bills.
![74865202-c952ea00-531e-11ea-85e8-fb67af37fe6a 1](https://user-images.githubusercontent.com/99599870/189653306-e19eb4fe-bb29-4b6d-a14a-232e544a658d.gif)

[2022-09-12 12:52] igor2x opened #17627 "jdbc:db2://server:port/database:sslConnection=true; results in No suitable driver was found for specified JDBC URL"
### Description

Typing :sslConnection=true at the end of JDBC URL connection and there is not possible to select a driver.

### DBeaver Version

Community Edition 22.2.0.202209040629

### Operating System

Windows 10

### Database and driver

1. Database name and version: DB2 v11.5.7.0
2. Driver name version: Db2 v11.4 M7 FP0 version 4.31.10

### Steps to reproduce

1. From **Database | New Conne

[2022-09-12 14:41] ShadelessFox commented on #17627
Hello @igor2x,

You don't have to specify driver parameters here. The solution is to remove the parameter here and set it manually later in the connection configuration dialog.

The pattern that is matched against the supplied JDBC URL is created using the sample URL of the driver itself which may not contain placeholders for these parameters.

Unfortunately, we can't extract parameters ourselves

[2022-09-12 15:26] LonwoLonwo commented on #17622
Hello @Ravi5308

Thanks for the bug report.

Can you please check the type of your view in the properties tab? Is it VIEW or MATERIALIZED VIEW?

![2022-09-12 18_24_47-DBeaver Ultimate 22 2 0 - NEWVIEW](https://user-images.githubusercontent.com/45152336/189693741-e1d13fe3-2bb4-4e7c-bf45-fec247c13689.png)

[2022-09-12 15:27] LonwoLonwo commented on #17622
Note for the future: https://docs.snowflake.com/en/sql-reference/sql/create-materialized-view.html

[2022-09-12 15:38] Ravi5308 commented on #17622
Actually the object is MATERIALIZED view,
![image](https://user-images.githubusercontent.com/9348512/189696312-1c72033d-f29a-4ff7-9ab3-ffc63c15f53c.png)

But, Showing it as VIEW.
![image](https://user-images.githubusercontent.com/9348512/189696471-9dbe6a38-bac4-4bdb-9b72-85d8e6ff9f09.png)

[2022-09-12 16:42] #13367 closed, assigned to uslss, LonwoLonwo

[2022-09-12 16:42] #15427 closed, assigned to LonwoLonwo, Matvey16

[2022-09-12 16:48] #17436 closed, assigned to E1izabeth, uslss

[2022-09-13 00:57] LonwoLonwo commented on #17622
Ok, thanks for the answer.

[2022-09-13 04:38] zem558 opened #17630 "I hope you can also realize the function of displaying function usage"
![1](https://user-images.githubusercontent.com/45349060/189809721-99c0c00e-95b7-4d01-857b-9398321df7fb.png)
![2](https://user-images.githubusercontent.com/45349060/189810117-a7aa67c5-8079-4a7e-a9d5-9b12e88dfb46.png)
![3](https://user-images.githubusercontent.com/45349060/189810149-298cfb90-eac8-4f7e-b582-6a76aaee65a3.png)

[2022-09-13 06:14] geekyBoogiepop commented on #15213
I still have this issue. Does anyone know a fix for this?

[2022-09-13 06:21] trevorandrade opened #17631 "When Using Generate DDL with the fully qualified name option unchecked the indexes creation and other statements remained fully qualified."
### Description

The generate DDL with fully qualified option unchecked always works for the table but does not properly work for other statements like index creation, alter etc

![image](https://user-images.githubusercontent.com/18694511/189820313-4da5910c-3963-49bc-ab8b-e4e789fa53fc.png)

![image](https://user-images.githubusercontent.com/18694511/189820756-0836922e-6a7f-4e99-a846-409797e01bd3.p

[2022-09-13 07:06] LonwoLonwo commented on #17631
Thanks for the report @trevorandrade

[2022-09-13 07:06] igor2x commented on #17627
This connection string is just a sample. I need to add some more parameters, but I found out that DBeaver doesn't know how to parse the URL when parameters are added.

My idea is to setup connection URL and send it to coworkers and they just add it to DBeaver with one click. Now I need to write step-by-step documentation how to add parameters and hope they don't do mistakes.

If there is no global

[2022-09-13 07:18] LonwoLonwo commented on #17630
Hello @zem558

Thanks for the idea.

We already have the ticket with the same request, so I'm closing this as a duplicate of #14872

[2022-09-13 07:18] #17630 closed, assigned to nobody

[2022-09-13 07:58] LonwoLonwo commented on #17621
Also, please check Snowflake sequences in EE too.

[2022-09-13 08:03] sohzm commented on #15213
Hey, I got the fix. (for arch-linux only I think)
[code]
(a reboot is needed after this (maybe))

[2022-09-13 08:53] AapoTammisto commented on #14930
Me too, same version. RMB workaround still works though.

[2022-09-13 13:40] Ravi5308 opened #17634 "option to find object dependencies / references in DBeaver"
Would like to have a option to to check the object references in DBeaver like in SQL Server Management Studio.
![image](https://user-images.githubusercontent.com/9348512/189915850-fe554eb1-34e2-44cd-ba57-bf5705c56876.png)

In SQL Server management Studio, we can find the Object references by click on that particular object.
![image](https://user-images.githubusercontent.com/9348512/189916018-7c052

[2022-09-13 14:21] eschaubert opened #17635 ""Insert Case" for Code Completion cannot correctly insert certain case sensitive functions in Clickhouse"
### Description

Some functions were added to the code completion dictionary for clickhouse, but when inserting them, the "insert case" as per settings for code completion in DBEAVER can only be either UPPER or LOWER or DEFAULT. But this does not work for Clickhouse specific function, which are all case-sensitive. The case sensitivity is by design and was a deliberate decision by the clickhouse de

[2022-09-13 14:27] LonwoLonwo commented on #17634
Hello @Ravi5308

Can you please be more specific about object types? Not all objects can have references.

And your request is for MSSQL, am I right?

[2022-09-13 14:32] LonwoLonwo commented on #17635
Ok, thanks for the report. We will see what we can do.

[2022-09-13 14:34] LonwoLonwo commented on #17625
Hello @sonerfromnurland

So, as you mentioned - you can use "Columns width: Fit values". Does this option solve your request?

[2022-09-13 14:41] Ravi5308 commented on #17634
This is for Snowflake.
Ex: I have a table and created a view, table function and a materialized view etc. using that table.
here my request is , please add a feature to check all the references of that table what that used.
We have like this in SQL Server Management Studio.
![image](https://user-images.githubusercontent.com/9348512/189931434-0f50876b-7160-48bd-9709-446f054aa4cb.png)

[2022-09-13 14:53] kfwolf commented on #17494
Not looking to "dump the whole db".  When using the backup feature, one of the options is "Use SQL Insert instead of copy for rows" - this gives the impression that it is going to "create data".

The feature ask here is to create the sql only or DDL (no dml) .  Also, it should include all functions, SP, user define data types, etc.

[2022-09-13 14:55] LonwoLonwo commented on #17634
PostgreSQL has a `pg_depend` metadata table for this reason - to know object dependencies.
I do not see analogs in Snowflake.
How can I get dependencies info from Snowflake?

[2022-09-13 15:41] HansKappert-Eneco opened #17636 "Snowflake procedure creation fails in DBeaver, not in Snowflake"
### Description

I cannot create a snowflake procedure that has a CASE statement in one of it's statements.

### DBeaver Version

22.1.4.202208051447
22.2.0.202209051344

### Operating System

Win 11

### Database and driver

net.snowflake:snowflake-jdbc:RELEASE [3.13.6]

### Steps to reproduce

Running this script:

[code]
in DBeaver gives this error:

[code]
After much effort I found that the EN

[2022-09-13 15:47] sondoskareem commented on #7976
Perfectly worked for me

[2022-09-13 18:08] rat1borik opened #17638 "Create or replace procedure from sql editor window"
Does not update db tree (metadata) for postgres when run create or replace function. It\`s necessary to go in db tree, find node and refresh this node by f5 or context menu (it\`s take so much time). Another solution is reconnect to db but this is awful of course. Please refresh dbtree more frequently.

[2022-09-13 18:43] fm89 commented on #16852
Hi,
It now works correctly using SSHJ (not with JSch though).
I would like to thank all the persons involved in this correction!
Thanks for building and maintaining such a great tool.

[2022-09-13 18:59] mglatz commented on #17615
thanks @ShadelessFox I was not aware of such feature. It works great, however I'd personally still prefer copy-paste stuff as described.
1. it would be faster
2. time to time I want to copy data to existing excel

I therefore propose to keep this feature request open and see if someone else would be interested.

[2022-09-13 21:59] dargueta commented on #11613
This is happening again with 22.2.0 on Ubuntu 22.04 on a fresh install from the snap.

[2022-09-14 02:41] dimkas78 opened #17640 "Do not expand code groups after query execution"
DBeaver 22.2.0
Database - ClickHouse 22.

I have long query with several CTE in beginning.
So I decide to collapse CTE text by grouping feature of text editor, something like this (comments is in russian, nevermind):
![Снимок экрана 2022-09-14](https://user-images.githubusercontent.com/61900705/190045970-a5c0e0c6-3325-4ffc-bb50-e6f1a649a766.png)
But after executing query all this groups become exp

[2022-09-14 06:04] SSSDNSY opened #17641 "Chinese on button of tabs "Close All" is error"
### Description

Right click on one tab and the Chinese of close all button is Error ,it's shoud be "关闭全部" or “全部关闭”，but it is "关闭关闭“,its mean "close close" not  "close all".

### DBeaver Version

22.2.0.202209051344

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

1、open >2 tabs include Sciprt or Connections
2、Right click on one tab and the Chi

[2022-09-14 06:04] SSSDNSY commented on #17641
may be your guys can help me to commit good first PR ，thanks

[2022-09-14 07:22] lyndavandermerwe commented on #16558
Hi @emironovDB ,
Sorry for not responding sooner. I was using multiple connections.
I have since change to one connection and retested and this appears to resolve the query timeout issue

[2022-09-14 07:22] #16558 closed, assigned to Matvey16

[2022-09-14 07:38] Matvey16 commented on #17508
@anarujnii Hello, this feature is intended for Systems that has Light/Dark theme like MacOS or Ubuntu for example. It doesn't work for Windows because it's theme is not categorized as dark or light. It was added in Windows 11, so maybe we need to look if it can be implemented for windows as well

[2022-09-14 07:42] E1izabeth commented on #17641
Thank you for bug report.
You can find instructions here https://github.com/dbeaver/dbeaver/wiki/Localization

[2022-09-14 07:44] E1izabeth commented on #17641
Please, let me know if you are going to create pull request. Otherwise we could fix it by ourselves.

[2022-09-14 07:46] LonwoLonwo commented on #17641
https://github.com/dbeaver/dbeaver/discussions/16825

[2022-09-14 07:55] LonwoLonwo commented on #17636
Hello @HansKappertEneco

Did you try to highlight all your query and then execute?

![2022-09-14 10_51_03-DBeaver Ultimate 22 2 0 - _TEST_DB_ Script-17](https://user-images.githubusercontent.com/45152336/190094556-b8bd1cba-c083-4ef2-be70-e4255507758f.png)

Also I see many empty lines in your statement. By default DBeaver recognizes empty lines as delimiters (then you do not have highlighting). You

[2022-09-14 08:18] #16526 closed, assigned to serge-rider, E1izabeth, uslss

[2022-09-14 08:19] #17621 closed, assigned to uslss, LonwoLonwo

[2022-09-14 08:26] LucioMenci opened #17643 "Bug: Changing connection doens't works well"
### Description

Changing connection configuration when you have a window with that connection doesn't works well

### DBeaver Version

22.2.0.2022090513

### Operating System

Win10

### Database and driver

Driver: DB2 LUW

### Steps to reproduce

1- Open a connection with a particular default schema
2- Open a new window with that connection
3- Write a SQL without using schema names, with tables

[2022-09-14 08:54] deepakgonda commented on #14749
Also facing same problem, unable to connect from my Dbeaver to Ubuntu 22.04 , but I am able to to ssh into the Ubuntu machine directly.

[2022-09-14 09:56] serge-rider commented on #17426
NoSQL databases supported only in PRO version of DBeaver.

[2022-09-14 09:56] #17426 closed, assigned to nobody

[2022-09-14 10:44] shipjesus commented on #17634
Has been recently integrated into snowflake:
https://docs.snowflake.com/en/user-guide/object-dependencies.html

some more information but not from snowflake:
https://www.springml.com/blog/snowflakes-object-dependencies-governance-feature/
https://medium.com/snowflake/how-to-display-object-dependencies-in-snowflake-43914a7fc275

hope that helps!

[2022-09-14 12:11] LonwoLonwo commented on #17634
Oh, I see, my Snowflake test environment is too old to see these views.
I will think, that we can do with it.

Thanks for the answer @shipjesus

[2022-09-14 13:34] flambchap commented on #17303
@sage1147 I think it will. At the same time, we'll probably patch the JRE we bundle with our dmgs, so you won't need to install a separate JRE.

Unfortunately, we couldn't squeeze this ticket into 22.2.1. Re-scheduled to 22.2.2.

[2022-09-14 13:37] uslss commented on #17643
@LucioMenci, unfortunately, cannot reproduce it. Could you provide a video with the issue or some screenshots that can help to reproduce an issue?

[2022-09-14 13:42] uslss commented on #17638
thanks for the suggestion.
close as a duplicate of #6398

[2022-09-14 13:42] #17638 closed, assigned to nobody

[2022-09-14 13:45] uslss commented on #17626
thanks for the report.
proxy issue will be resolved in #16215
issue with plugins - #5317

[2022-09-14 13:45] #17626 closed, assigned to nobody

[2022-09-14 13:50] uslss commented on #17601
New SQL script also could be created with Ctrl+F3. BTW, the shortcut could be changed in Preferences. Does it resolve your issue?
![image](https://user-images.githubusercontent.com/31996417/190172117-37110509-5164-4cc8-b1cb-ce688ee05657.png)

[2022-09-14 13:53] uslss commented on #17599
thanks for the report

[2022-09-14 14:12] LucioMenci commented on #17643
Hi Dziyana,
Thank you for the quick reply.

This is the Start point:
![Snap1](https://user-images.githubusercontent.com/15246491/190176677-82f985bb-139a-47e9-ae03-d9721a985fc4.png)

BBCLIPT is not into DB2ADMIN schema, buti t is into FINANCE schema.

I don’t want the connection Raspini – Pth02 has the default schema DB2ADMIN. I tried to change it into the connection configuration form:
![Snap3](ht

[2022-09-14 14:32] HansKappert-Eneco commented on #17636
Hi Anastasiya,

Yes I did that.
I am getting this:
![image](https://user-images.githubusercontent.com/103498525/190354412-f319cd5a-11d0-4fa3-8cc2-e8cf2e101e79.png)

And these are my settings. They look identical to me:
![image](https://user-images.githubusercontent.com/103498525/190354516-bacfe638-3def-4317-b175-6af724de974d.png)

When I change the query part as follows, it is accepted:
![image](h

[2022-09-14 14:52] pdimh commented on #2254
It seems the last couple commits of this issue never got merged. The PR got merged before them.

[2022-09-14 15:06] #6876 closed

[2022-09-14 15:09] ShadelessFox commented on #6876
Implemented:

![image](https://user-images.githubusercontent.com/35821147/189554532-89af39ed-def7-4a77-b592-47d6dc9be911.png)

[2022-09-14 15:12] ShadelessFox commented on #17615
There's a button in the toolbar that exports data to excel, perhaps it can fulfill your needs?

![image](https://user-images.githubusercontent.com/35821147/190193625-69957225-8746-4047-809d-96c8287364f7.png)

[2022-09-14 16:33] kikonen commented on #17601
Marvellous! Didn't realize there is such binding logic. It absolutely resolves issues (existence of CTRL + F3 by itself already did, but possibility to adjust can be useful)

[2022-09-14 16:33] #17601 closed, assigned to nobody

[2022-09-14 16:35] mglatz commented on #17615
that is the one provided by with the office integration you mentioned above. It does work well but again, I'd still prefer easy copy to clipboard option, because
1. it would be faster
2. time to time I want to copy data to existing excel

[2022-09-14 16:47] ShadelessFox commented on #17615
Okay, I see. I think we can just implement the mentioned customization in the CSV exporter.

[2022-09-14 16:57] TidyPyAi opened #17648 "Azure Synapse not showing DBO Views"
### Description

Dbeaver will not show the DBO Views or Tables
Connection = Active Directory MFA
Connection URL  =  Synapse Workspace Serverless URL;  from Azure Resource Group page.
SSMS, Azure Data studio, SSDT, PowerBI: work just fine with this manner of connection

![image](https://user-images.githubusercontent.com/109158403/190213537-989dce8c-284d-4f05-8dab-41bb4ced03f3.png)

### DBeaver Vers

[2022-09-15 03:45] LonwoLonwo commented on #17636
Hello @HansKappertEneco

I suggest that you add screens from your e-mail in the answer, but I can't see them here. Please reload screens here, on the GitHub page directly.

[2022-09-15 04:42] LonwoLonwo commented on #17648
Hello @TidyPyAi

Unfortunately I can't reproduce your issue.

![2022-09-15 07_38_15-DBeaver Ultimate 22 2 0 - _MariaDB 10 1 3_Script-175](https://user-images.githubusercontent.com/45152336/190316045-0db73f0e-8f33-4de0-967a-0b446218f559.png)

Did you try to click on the "Schemas" folder in the Database Navigator tree and then choose "dbo" schema, click on dbo schema and then click on the "Views" fo

[2022-09-15 04:42] KevinJohnMulligan commented on #8529
Thank you, this worked in my case!

[2022-09-15 04:44] KevinJohnMulligan commented on #8529
As for the initial problem... It's a very unintuitive and disruptive behaviour for the software to do without any kind of notification or hint on how to avoid it.

I'm using v22.0.0 but since I see it's still a problem in [22.2.0](https://github.com/dbeaver/dbeaver/issues/8529#issuecomment-1243226537) I'm not going to update the software.

[2022-09-15 05:02] LonwoLonwo commented on #14925
Hello @endromono

Is this issue is still actual for you in the last DBeaver version 22.2.0?

[2022-09-15 06:03] strangan commented on #17303
Thanks @n5a5 . I dont want to mess around with Java and JRE versions. When is 22.2.2 due to be released? Sometime in October I imagine?

[2022-09-15 08:03] Matvey16 commented on #17613
@TheMechanist902 Hello. What type of columns does your table have? Does it happen with any query or something specific. Also can you check if the query in Query Manager has the same issue.

[2022-09-15 08:28] HansKappert-Eneco commented on #17636
Did so, see above. Thanks a lot for helping me!

[2022-09-15 08:40] Matvey16 commented on #17609
@gabitianu Thank you for the report

[2022-09-15 09:12] uslss opened #17649 "Do not show SSH tab for database that doesn't support it"
**Describe the solution you'd like**
SSH tab should not be shown in the Connection dialog for databases that don't support it

[2022-09-15 09:13] uslss commented on #16840
there has been no update on the issue for a long time. If it is still actual - feel free to reopen it

[2022-09-15 09:13] #16840 closed, assigned to nobody

[2022-09-15 09:14] uslss commented on #16694
there has been no update on the issue for a long time. If it is still actual - feel free to reopen it

[2022-09-15 09:14] #16694 closed, assigned to Matvey16

[2022-09-15 09:14] uslss commented on #17125
there has been no update on the issue for a long time. If it is still actual - feel free to reopen it

[2022-09-15 09:14] #17125 closed, assigned to Destrolaric

[2022-09-15 09:15] uslss commented on #17131
there has been no update on the issue for a long time. If it is still actual - feel free to reopen it

[2022-09-15 09:15] #17131 closed, assigned to iraidaa

[2022-09-15 09:17] uslss commented on #17117
there has been no update on the issue for a long time. If it is still actual - feel free to reopen it

[2022-09-15 09:17] #17117 closed, assigned to LonwoLonwo

[2022-09-15 09:17] uslss commented on #17149
there has been no update on the issue for a long time. If it is still actual - feel free to reopen it

[2022-09-15 09:17] #17149 closed, assigned to iraidaa

[2022-09-15 09:17] uslss commented on #17282
there has been no update on the issue for a long time. If it is still actual - feel free to reopen it

[2022-09-15 09:17] #17282 closed, assigned to nobody

[2022-09-15 09:18] uslss commented on #17364
there has been no update on the issue for a long time. If it is still actual - feel free to reopen it

[2022-09-15 09:18] #17364 closed, assigned to nobody

[2022-09-15 09:19] uslss commented on #17342
there has been no update on the issue for a long time. If it is still actual - feel free to reopen it

[2022-09-15 09:19] #17342 closed, assigned to nobody

[2022-09-15 09:20] uslss commented on #17334
#6398

[2022-09-15 09:21] #17394 closed, assigned to nobody

[2022-09-15 09:23] #17419 closed, assigned to nobody

[2022-09-15 09:24] #17466 closed, assigned to nobody

[2022-09-15 09:36] daamiansz opened #17651 "adding a wms layer to the geometry preview window"
Is it possible to add a wms service in the geometry preview window. I know it is possible to add a TMS layer, but can I add wms as in the example from leaflet ?

var nexrad = L.tileLayer.wms("http://mesonet.agron.iastate.edu/cgi-bin/wms/nexrad/n0r.cgi", {
    layers: 'nexrad-n0r-900913',
    format: 'image/png',
    transparent: true,
    attribution: "Weather data © 2012 IEM Nexrad"
});

[2022-09-15 09:48] #17651 closed, assigned to nobody

[2022-09-15 10:19] E1izabeth opened #17654 "Refactor SQL Terminal"
We need to remove early startup from data.console plugin and create new extension point for sql terminal to let sql editor somehow  handle such contributions.

[2022-09-15 11:20] LonwoLonwo commented on #17641
"Close All" is not the DBeaver button but Eclipse. You can't find the localization in our files.

You can try to find or create a ticket about this localization issue here: https://bugs.eclipse.org/bugs/

[2022-09-15 11:39] flambchap commented on #17303
@strangan We release new versions every two weeks, so that will be October 10.

[2022-09-15 11:54] JesseFL opened #17657 "Apache Hive Default Keyword Case Should Be Set To UPPER"
### Description

Apache Hive default keyword case is probably undefined.  Auto-convert keyword case is not working.
![image](https://user-images.githubusercontent.com/17784067/190396933-cb5e1fee-d9cd-4849-bf6e-f8f1186f4d49.png)

Apache Hive default keyword case should be set to UPPER.

### DBeaver Version

Commuinity 22.2.0

### Operating System

Windows 10

### Database and driver

Apache Hive
Cl

[2022-09-15 12:21] JesseFL opened #17658 "Apache Hive "Insert Table Alias" option is ignored"
### Description

When connected to Apache Hive, after typing `FROM `, the auto-complete list of tables is displayed.  Selecting any table by pressing `ENTER` populates the table name, but does NOT populate the table alias.

![image](https://user-images.githubusercontent.com/17784067/190402026-6bcf9fa2-640e-4bdf-b934-9733b779ffe4.png)

I realize my screenshot is blurred but please be assured I test

[2022-09-15 12:46] samuelguesnier opened #17659 "Data Formatting not working when exporting result set"
### Description

When I export the data , DateTime format is YYY-MM-dd whereas it should be YYYMMdd

![Capture](https://user-images.githubusercontent.com/24391067/190405655-a675484b-a2e7-4933-a1f4-8319a29205e7.PNG)

exported DateTime -> '2015-12-15 00:00:00.000'

### DBeaver Version

Community Edition Version 22.2.0.202209051344

### Operating System

Windows Server 2016 DataCenter

### Database a

[2022-09-15 13:08] dbeaver-pm commented on #4631
Hello @songzc3,

Is the issue still actual to you?

[2022-09-15 13:13] dbeaver-pm commented on #17009
Hello @GuenterSch,

Have you tried connecting using the private key in DBeaver PRO? It has dedicate support for private key authentication.

[2022-09-15 13:26] coder966 opened #17660 "Native binaries using GraalVM"
**Is your feature request related to a problem? Please describe.**
Currently, DBEaver starts in few seconds and consumes hundreds of megabytes of memory. This could be greatly improved to sub-second startup time and well under 100MB of memory consumption.

**Describe the solution you'd like**
Compiling to native binaries using GraalVM.

I would like to hear your thoughts on this.

Thanks

[2022-09-15 13:48] dbeaver-pm commented on #17640
Hello @dimkas78,

Thanks for the bug report

[2022-09-15 13:49] Ravi5308 opened #17661 "Option to select different size warehouse and different database and schema when connected to Snowflake from DBeaver"
In Native Snowflake, in the worksheet, we could able to choose different size warehouse, able to choose different database and  schema in that connected database.
![image](https://user-images.githubusercontent.com/9348512/190418341-5bdf1e92-2605-47ac-993e-df7c91ad09c6.png)

but in DBEaver, at the time of adding new Database Connection , we need to provide Database, Warehouse and Schema and there a

[2022-09-15 14:00] dbeaver-pm commented on #17569
#12761

[2022-09-15 14:14] GuenterSch commented on #17009
Hello DBeaver-PM,

no, I use the DBeaver Community Version. I think it should work here also.

[2022-09-15 14:35] bravestarr13 commented on #16312
Hello. Is there an update on this? Any info if the vulnerability is valid or which version of the app is affected?

[2022-09-15 14:38] tidypy commented on #17648
you are correct I did find it under schemas;
It is in an unexpected place, but works for me.

![image](https://user-images.githubusercontent.com/50213641/190431859-64368693-fa31-4bc2-996d-a9c35628995e.png)

[2022-09-15 14:42] flambchap commented on #16312
Hello. There is no vulnerability here. The email we received describes a documented functionality, namely, the possibility of loading a custom JDBC driver using the driver manager: https://github.com/dbeaver/dbeaver/wiki/Database-drivers#libraries.

[2022-09-15 14:43] #16312 closed, assigned to nobody

[2022-09-15 14:44] iraidaa commented on #15352
The issue still exist. I reprosuce the issue using UE 22.2.0. One of the PRO users have encountered this issue too.

If you select “Show all databases” in the connection settings, and leave the Database field empty on the Main tab, then there will be an error “FATAL: Database <USERNAME> does not exist”. You have to specify the database. You won't get an error, only if the username matches the name

[2022-09-15 14:52] michal-bartak commented on #17494
IMO it is still possible. Not by clicking on checkboxes though but you can achieve what you want.
Backup is created by `pg_dump` command and at the same time, DBeaver allows to pass of additional parameters to this command, making it possible to control what and how is dumped.

When you open the backup dialog, on the second page you will find "Extra command arguments"
![image](https://user-images.

[2022-09-15 14:53] LonwoLonwo commented on #17648
Hooray

Can I close this ticket?

Do you have any other questions?

[2022-09-15 14:53] niraj-khatiwada commented on #2765
For future Linux users,

1) Find mysql client path:
![image](https://user-images.githubusercontent.com/51436631/190435704-841bb9d5-282e-4f1f-b16f-5bfdadd7dacb.png)

2) Add the path to "Load Client"  window:
![image](https://user-images.githubusercontent.com/51436631/190435808-ecd20a1d-40ac-445a-8bb6-19bd53df0d32.png)
![image](https://user-images.githubusercontent.com/51436631/190436452-3b0bb9be-76

[2022-09-15 14:57] michal-bartak commented on #11453
Guys, this issue getting old, but is so annoying. It impacts every time I convert an object oid to its literal presentation.

For example, if while selecting database I click on schema `some_schema` then query statistics:
[code]
All functions located in `some_schema` misses the schema name in their fully qualified identifier.
And this is one out of hundreds of examples.

Could you please do someth

[2022-09-15 15:00] flambchap commented on #17660
I find GraalVM's Native Image to be an exciting technology. However, it's not suited for DBeaver. Quote from [their documentation](https://www.graalvm.org/dev/reference-manual/native-image/basics/#static-analysis):

One of DBeaver's defining features is the ability to load different JDBC drivers dynamically (https://github.com/dbeaver/dbeaver/wiki/Database-drivers#libraries). Moreover, in the case

[2022-09-15 15:00] #17660 closed, assigned to nobody

[2022-09-15 15:39] AGGGU opened #17663 "Can't leave client blank"
### Description

Hey Everyone, im sorry to be a bother.

Whenever i try to create a new connection to an oracle DB the client field is automatically filled with "OraDB19Home1" and i don't get the option to leave it in it's default value. When trying to connect to an oracleDB i get socket error.  I have tried in pcs where oracle was never installed and the default client field is different and will

[2022-09-15 15:49] TidyPyAi commented on #17648
Please close the ticket;  I did not see a place to close the ticket myself 😉

Best regards,
Christopher Lazok
Office: 281.647.3789
Email: ***@***.******@***.***>
16850 Park Row Dr. Houston, TX 77084

This message and any files transmitted with it are intended exclusively for the intended recipient, and may contain confidential and/or privileged information. If you are not the intended recipient, p

[2022-09-15 18:41] budlin2 commented on #9388
Doesn't look like any headway has been made on this, but I think this would be a useful feature. This way you could right click on the folder, Create > Create New File, and quickly have a script in the location you want associated with the data source you want.

[2022-09-15 20:55] Rhythmfish opened #17664 "Interrupted driver download breaks further download attempts. (BigQuery driver)"
### Description

### Issue

Interrupted driver download breaks further download attempts. Connection error message when attempting to "Test Connection" and re-download driver.
*com.simba.googlebigquery.jdbc42.Driver*

### Description

I'm setting up DBeaver for use with bigquery the first time on this workstation. I was in the middle of downloading the Simba JDBC Driver when the internet connectio

[2022-09-15 21:16] serge-rider opened #17665 "Greenplum: client app name is not populated"
### Description

DBeaver doesn't send client app name for Greenplum driver (although it does for PostgreSQL).

### DBeaver Version

22.2

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-16 02:40] DeflateAwning opened #17666 "Broken link in DBeaver daily tip"
### Description

In the tip shown below, clicking the link doesn't do anything.

Solution: fix the link, but also spell out where to go so users know (example: Window > Preferences > Editors > Data Editor > Appearance > Grid > Highlight rows with selected cells")

![image](https://user-images.githubusercontent.com/11021263/190544957-f60659b8-d419-43a7-9b81-4248ace57b3c.png)

### DBeaver Version

C

[2022-09-16 02:46] dzar-aker commented on #17353
Well... my email response seems to have not added my log files to this! Not sure what happened.

Here is the .log file.
[dbeaver.log](https://github.com/dbeaver/dbeaver/files/9580228/dbeaver.log)

The dbeaver-debug.log file is empty (0 length). Anything else you may want?

Also, I looked into the CLI a bit and I get the same problem if I manually try to run the script from the CLI, myself, in Powe

[2022-09-16 05:12] vds2212 commented on #17551
Thanks for your help.

[2022-09-16 07:27] serge-rider commented on #17665
Fixed

[2022-09-16 09:23] HansKappert-Eneco commented on #17636
By accident we found out why this occurs.
It fails when I use "Execute as script" (what I needed to do before I think)
It succeeds when I use "Execute SQL statement"
Not sure if behaviour was changed.

[2022-09-16 12:55] SSSDNSY commented on #17641
well,its funny  QAQ

[2022-09-16 13:01] ls-ramos commented on #14749
Hey I am also facing this error:

I am running on Mac M1 and I can connect directly with shh but not with Dbeaver

[2022-09-16 13:13] LonwoLonwo commented on #17658
Thanks for the report @JesseFL

[2022-09-16 15:08] LonwoLonwo commented on #17657
Hello @JesseFL

I can't reproduce, unfortunately.

Can you please check this setting?

![2022-09-16 18_07_44-Preferences](https://user-images.githubusercontent.com/45152336/190671456-4d3fa2e7-2fb9-4545-89a1-8015ba747d30.png)

[2022-09-16 15:13] LonwoLonwo commented on #17636
You can check this instrument: https://github.com/dbeaver/dbeaver/wiki/Query-Manager

You can see there - what statements do you execute.

[2022-09-16 15:46] brauliobo commented on #8129
same with 22.2.0 + wayland

[2022-09-16 18:51] JesseFL commented on #17657
@LonwoLonwo
My setting looks like yours, Code Completion is set to Insert Case Default.

Can you please check this setting?  Is your code formatter also set to default?
![image](https://user-images.githubusercontent.com/17784067/190710680-54b0849e-e003-4ab2-8f7f-783d38e1a48a.png)

Also I am not using the included Hive driver, I am using 3rd party Cloudera driver.  Maybe that is related?

[2022-09-16 19:47] LonwoLonwo commented on #17648
Thanks for the answer

[2022-09-16 19:47] #17648 closed, assigned to nobody

[2022-09-17 10:38] llf007 opened #17673 "DuckDB Date Types add new row error"
### Description

1.Create test table
[code]
2.I try  add new row
3.input 2022-01-02
4.Save，See an
Error synchronizing data with database

Reason:
Can not bind statement parameter
![image](https://user-images.githubusercontent.com/60683568/190852416-6a71b3c2-37a5-4dab-989e-726bc19e7007.png)

![image](https://user-images.githubusercontent.com/60683568/190852624-564d352d-82a7-45ae-afbc-8af194f35dca.p

[2022-09-17 12:45] was-av opened #17674 "Invalid type int8 instead of Int8 when export from PostgreSQL and import to ClickHouse"
### Description

Can not transfer data from PostgreSQL to ClickHouse, because generated DDL for create new table has invalid type 'int8' instead of 'Int8'

### DBeaver Version

CE Version 22.2.0.202209051344

### Operating System

macOS Monterey 12.6

### Database and driver

Connection Drivers:
PostgreSQL standard driver
Yandex ClickHouse legacy driver (server version < 21.3)

### Steps to reprod

[2022-09-17 15:00] HansKappert-Eneco commented on #17636
Thank you. Now that my problem is solved, we can close this ticket.
Kind regards,
Hans Kappert

[2022-09-17 15:00] #17636 closed, assigned to LonwoLonwo

[2022-09-18 07:08] pyrocks opened #17675 "Opening a connection takes a lot of time on `Read data types`"
### Description

Related to #17117 - it happens in my case as well.
I have a DB with a dozen schemas and ~315 enums.
Whenever I open a connection to a remote DB the background task stays on `Read data types` for about 35 seconds before the connection is actually opened.
suggestions:
1. do this as a background task AFTER the connection is made
2. lookup a data type when it's actually needed i.e des

[2022-09-18 08:16] jakiw commented on #5587
I have the same problem. The `Deep cascade` Button is greyed out. The `Delete cascade` button does not update the SQL, and if the deletion is executed using `Save` in the dialog, I still get the same foreign key errors that I get if I do not use the `Delete cascade` option.
I am using Manjaro Linux, and version 22.1.3 of DBeaver.

[2022-09-18 10:42] vivekworks commented on #17631
@LonwoLonwo Is anyone working on this? May I take a crack at it?

Please assign the bug to me

[2022-09-18 11:52] plotn opened #17676 "Bug with alter table"
### Description

Some strange behaviour while saving changes to a table

### DBeaver Version

22.2.0 CE

### Operating System

ubuntu 22

### Database and driver

Postgres 15 beta

### Steps to reproduce

1. Open existing table
2. Add column, press ok. Type - varchar, name - any, etc unchanged;
3. Column was added to a list, but yet not persisted;
4. Change "default" value to "adfadfasdfasdf";
5.

[2022-09-18 21:56] #16626 closed, assigned to E1izabeth, Matvey16

[2022-09-19 05:14] bouyeijiang opened #17678 "No operation timeout Executing the script has been waiting"
### Description

I need to disconnect and reconnect to work properly

### DBeaver Version

all version

### Operating System

linux mint 20(ubuntu)

### Database and driver

postgresql 12

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-19 05:17] Tomoko0930 opened #17679 "To use DBeaver in Oracle compatibility mode in Db2"
### Description

I have Db2 set to Oracle compatibility mode. In this case, I need to set "set sqlcompat plsql" to the procedure in order to execute the Oracle PL/SQL in Db2. However, SQL editor in DBeaver does not seem to recognize "set.." syntax. How can I run "set sqlcompat plsql" in DBeaver without error?

### DBeaver Version

Community Edition 22.2.0.202209051344

### Operating System

Window

[2022-09-19 07:39] LonwoLonwo commented on #17631
Hello @vivekworks

You can create you PR, pull it, and we will look into it.

[2022-09-19 08:20] Matvey16 commented on #17665
Verified

[2022-09-19 08:20] #17665 closed, assigned to serge-rider, Matvey16

[2022-09-19 10:12] LonwoLonwo commented on #16939
I'm closing this as duplicate of https://github.com/dbeaver/dbeaver/issues/16411

[2022-09-19 10:12] #16939 closed, assigned to nobody

[2022-09-19 12:12] sebalis opened #17682 "release 22.2.0: problem with checksum files"
### Description

Hi, the content of https://dbeaver.io/files/22.2.0/checksum/dbeaver-ce_22.2.0_amd64.deb.sha256 does not match my locally calculated checksum for https://github.com/dbeaver/dbeaver/releases/download/22.2.0/dbeaver-ce_22.2.0_amd64.deb – the sha256 file contains 01deb3834681699775e28ec722ec509a1e275a69e62624c9612f47553f370c5f  and I get 00f5f29e380dc0898fda8d156f65b7bdb18596940e5fc2b

[2022-09-19 13:57] majkinetor opened #17684 "Option to add date of export"
**Is your feature request related to a problem? Please describe.**
When I use Generate Sql -> DDL or Export Data I want to see date when this file was created as this is important info and many other tools do this.

**Describe the solution you'd like**
Add option for this that adds comment at the top to DDL `-- Exported date: <ISO8601 date>` and similar to data export.

**Describe alternatives you

[2022-09-19 14:30] #16879 closed, assigned to LonwoLonwo, Matvey16

[2022-09-19 14:30] #17658 closed, assigned to uslss, LonwoLonwo

[2022-09-19 15:18] PoseidonEnergy commented on #17380
@E1izabeth I have tried `localhost` and my machine name and I get the same error. I take it from your screenshots that you are successfully able to connect to a SQLEXPRESS instance with DBeaver. Is this true?

[2022-09-19 15:21] E1izabeth commented on #17380
Yes, I'm able to successfully connect to sqlexpress running on my local machine.

[2022-09-20 07:49] #16847 closed, assigned to uslss, LonwoLonwo

[2022-09-20 07:53] LonwoLonwo commented on #17657
It can be because the driver returns info about the default keywords case.

Can you please provide a video of your issue?

[2022-09-20 08:16] ianchanning commented on #14620
Useful relevant comment from the Mac native client thread: https://github.com/dbeaver/dbeaver/issues/7976#issuecomment-725436879

[2022-09-20 08:32] ccczhouxin opened #17686 "Eclipse import dbeaver22.2.0 occur some maven problems"
### Description

![image](https://user-images.githubusercontent.com/43168824/191207189-30bdf08f-4a6b-460c-868a-46b5f99ecbe3.png)
Plugin execution not covered by lifecycle configuration: org.apache.maven.pluginsmaven-clean-plugin2.5xclean (execton: default-clean-1, phase intialize)
I fllow https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse ,in the last occur the problem

### DBeaver Version

[2022-09-20 09:13] #17686 closed, assigned to nobody

[2022-09-20 09:27] ShpxLbh opened #17688 "Database changes doesn't save."
### Description

edite tables via enter, save changes - then refresh - see changes (delete rows end adit records)
refresh couple of times connection and tables - edit made.
turn off dbeaver, turn on.
connect to sql database - no edits at all... frustrating! can't work .

### DBeaver Version

22.2.0.202209080956

### Operating System

windows 10

### Database and driver

sql, drivers azure

### Ste

[2022-09-20 09:36] uslss commented on #17349
@tvogel8570 do you have any updates?

[2022-09-20 10:10] Matvey16 commented on #17329
@Dkrav-UA I wasn't able to reproduce this issue on the latest version. Are you sure it is the same problem?
I see tha you had different errors in 22.1.4 and 22.2.0
[code]
So in the latest one I see DBeaver trying to create a lowercase column just like in UI

[2022-09-20 10:58] Dkrav-UA commented on #17329
Error is reproducible.

1. Create table to import from.

[code]
2. Create second table :
[code]
3. Import Data
![изображение](https://user-images.githubusercontent.com/16414895/191238058-fc571f9f-1bec-4749-bbe7-f1c187be3541.png)

4.
![изображение](https://user-images.githubusercontent.com/16414895/191238649-f1f8caa4-ddc9-4ed9-acec-a3129c64e101.png)
by default, DBeaver will convert 'TXT' to 'txt' .

[2022-09-20 11:38] JesseFL commented on #17657
Here is a video.
Should I open as a bug with Cloudera team?
![2022-09-20_07-36-03](https://user-images.githubusercontent.com/17784067/191247952-4df5853b-3204-4b49-9ff2-eeee4d6114d4.gif)

[2022-09-20 11:50] iraidaa opened #17692 "Import data saves the last used target container"
The target container is where the data is uploaded, schema or database. We can choose any.
But there may be an attempt to connect to the last used container. In this case, the connection to the database takes a long time, and the UI may freeze. Also, you can encounter an error **'an error occurred while logging in'**.

[2022-09-20 12:23] #15899 closed, assigned to Destrolaric, uslss

[2022-09-20 13:11] ShadelessFox commented on #17688
Hello @ShpxLbh,

Perhaps your transaction mode is set to manual commit?

Please refer to https://github.com/dbeaver/dbeaver/wiki/Auto-and-Manual-Commit-Modes.

[2022-09-20 13:48] ShpxLbh commented on #17688
@ShadelessFox  nope, tried that option in many ways. Deleted connection from library of connections, connected via different driver (was azure, tried via mssql) and it works well.

[2022-09-20 14:04] ianchanning commented on #5008
I hit what seems a related but new problem. The Client.pgsql pg_dump is v12.2 but I'm running postgres 14.5

[code]

So I get the following error:
[code]

[2022-09-20 14:09] ShadelessFox commented on #17688
I see.

I assume the issue is now resolved and, therefore, can be closed?

[2022-09-20 14:10] ianchanning commented on #5008
Yes - unfortunately the flatpak pgsql client hasn't been updated for 3 years and still points to 12.2: https://github.com/flathub/io.dbeaver.DBeaverCommunity.Client.pgsql/blob/master/io.dbeaver.DBeaverCommunity.Client.pgsql.json

Anyway around this?

For now I just copy paste the commands that DBeaver creates and paste them into my terminal

[2022-09-20 14:23] ianchanning commented on #5008
I've created a PR to upgrade... https://github.com/flathub/io.dbeaver.DBeaverCommunity.Client.pgsql/pull/7

[2022-09-20 14:33] ShpxLbh commented on #17688
probably yes.  but no info why was that error.

[2022-09-20 14:33] #17688 closed, assigned to nobody

[2022-09-20 14:49] andersonsimioni opened #17693 "Procedure not loading"
### Description

When I try to load a procedure to edit, it now show the code, it only show the empty text screen without the procedure code, it's a bug because when I try with workbench the procedure load normaly.

![image](https://user-images.githubusercontent.com/55260999/191288613-c2c8c747-37a1-4358-b079-17c9066e0d42.png)

### DBeaver Version

Community edition 22.2.0

### Operating System

Wi

[2022-09-20 16:07] reginakwon commented on #14930
Also have this issue once I upgraded to 22.2.0 (Win 10 x64). Also able to work around with right-click (thanks diegogurpegui!).

[2022-09-20 17:38] E1izabeth commented on #17666
Thank you for bug report.

[2022-09-20 17:54] Rhythmfish commented on #17664
This issue has been resolved.
Using the Driver Manager in the Database menu, I was able to manually force download and overwrite the Simba JDBC driver.

### Select driver manager
![image](https://user-images.githubusercontent.com/53582936/191329290-11abc7e7-82d2-4097-9605-0ddf4999d9fa.png)

### Select driver and edit
![image](https://user-images.githubusercontent.com/53582936/191329459-0e2ef7c0-9a

[2022-09-20 17:54] #17664 closed, assigned to nobody

[2022-09-20 20:07] markervie commented on #17616
Does the current version of  DBeaver Community editionsupport IAM authentication for Redshift Clusters ?

Are there any other key IAM authorization-related Driver properties beyond "ClusterID" that are required ?

Asking b/c I'm consistently getting a "Connection Timed Out" error in DBeaver Community edition (see attached screenshot) even after verifying that the following parameter DO enable me t

[2022-09-20 23:24] briandhuff opened #17696 "No Proposal with table alias and empty line before FROM statement"
### Description

If you alias a table and have a space between your last select line and the FROM clause, column recommendations do not work.

Example of it not working with an alias and space between selection and from block
![image](https://user-images.githubusercontent.com/4779934/191381030-a5aefbfb-e926-4b8f-a562-d26b5c5b0f6d.png)

Example of it working without the alias and with the space bet

[2022-09-21 01:29] lastares opened #17697 "Update Babel version"
### Description

<img width="249" alt="image" src="https://user-images.githubusercontent.com/25546446/191394273-a56a894d-e240-40aa-b46c-a7b5682c8cd9.png">

### DBeaver Version

22.2.0.202209051344

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-09-21 04:30] Obeydullah commented on #7704
Still have the issue with version 22.2.0

[2022-09-21 05:34] LonwoLonwo commented on #17693
Hello @andersonsimioni

I can't reproduce your issue.

Could you please provide the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-09-21 06:20] nickbg321 commented on #15579
I'm not sure why I closed this as it's still valid and is also reproducible on Ubuntu 22.04 last time I've tried it. Must've been a misclick.

[2022-09-21 07:07] cci-etunca commented on #7298
Hocam siz bu problemi çözdünüz mü

[2022-09-21 08:01] #15579 closed, assigned to nobody

[2022-09-21 08:45] HakanDOGAN1981 commented on #7298
Evet, çözdüm. Şu şekilde düzelte bilirsin.
1-Bağlatınızda sağ tıklayarak/Edit Connection
2-Driver Properties
3-Encoding Value = WIN1254

[2022-09-21 09:14] #17467 closed, assigned to uslss, ShadelessFox

[2022-09-21 10:34] igor2x opened #17698 "Set Application Name parameter in Db2"
**Is your feature request related to a problem? Please describe.**
DBeaver does not sets APPLICATION_NAME parameter and it is so displayed "db2jcc_application" as it is displayed for all applications that do not set application name. In many tools it is difficult to distinguish which of database connection is DBeaver and which one is from other applications that also do not have set the name.

**D

[2022-09-21 11:09] LonwoLonwo commented on #17698
Hello @igor2x

Can you specify, please, what DB2 version you use?

[2022-09-21 11:18] LonwoLonwo commented on #17698
![2022-09-21 14_16_05-DBeaver 22 2 1 - _SAMPLEDB_ Script-17](https://user-images.githubusercontent.com/45152336/191490481-4394baa3-6bdb-438b-9b2e-c81f6fba74c6.png)

Also, please check this setting. It must be disabled.

For now, I can't reproduce your issue for DB2 Luw

![2022-09-21 14_17_04-DBeaver 22 2 1 - _SAMPLEDB_ Script-17](https://user-images.githubusercontent.com/45152336/191490701-a0cb814

[2022-09-21 11:28] LonwoLonwo commented on #17698
I'm not sure that we can do it...

Because we do it already here:
https://github.com/dbeaver/dbeaver/blob/devel/plugins/org.jkiss.dbeaver.ext.db2/src/org/jkiss/dbeaver/ext/db2/model/DB2DataSource.java#L272

And in the documentation for the Connection class, I can see:

So it can be the strange behavior from the driver's class, I'm not sure.

[2022-09-21 11:30] AS-WM commented on #17606
@Destrolaric tried that. Have JDK 11 now and postgresql-42.4.0.jar. Still comes up with the same error of

SCRAM authentication is not supported by this driver. You need JDK >= 8 and pgjdbc >= 42.2.0 (not ".jre" versions)

Which JDK 11 >= 8 and 42.4.0.jar. >= 42.2.0

[2022-09-21 11:58] #15860 closed, assigned to uslss, LonwoLonwo

[2022-09-21 12:07] #17666 closed, assigned to E1izabeth, uslss

[2022-09-21 12:09] LonwoLonwo commented on #17616
Hello @markervie

Only PRO DBeavers versions support IAM authentication for Redshift.

[2022-09-21 12:47] AS-WM commented on #17606
Fixed the issue. It appears that DBeaver was holding on to an outdated library, which was being checked first, and therefore failing the test.

Steps to solve issue.
1. Download latest JDBC and move to \Program Files\DBeaver\shared_drivers
2. Open DBeaver and click Database -> Driver Manager
3. Double click on PostgreSQL
4. Under libraries click Add file and find the new JDBC
5. Delete any of the