[2021-12-15 07:13] Matvey16 commented on #13474
Verified

[2021-12-15 07:13] #13474 closed, assigned to serge-rider, Matvey16

[2021-12-15 07:15] bianyun1981 opened #14911 "Localization of Simplified Chinese is different between released version and local built version"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise Edition (Simplified Chinese), 21H1
- DBeaver version: 21.3.1.202112130652
- Additional extensions

#### Describe the problem you're observing:
I am a DBeaver fan, and I want to contribute to the localization of DBeaver (Simplified Chinese). So I decided to fork the DBeaver repo, and clone it and build it

[2021-12-15 07:49] uslss commented on #13972
verified

[2021-12-15 07:49] #13972 closed, assigned to E1izabeth, uslss

[2021-12-15 07:52] uslss commented on #14910
thanks for the report

duplicates #13627.

[2021-12-15 07:52] #14910 closed, assigned to nobody

[2021-12-15 08:10] uslss commented on #13934
1. Checkbox cannot be unchecked
![k79pi06Pxb](https://user-images.githubusercontent.com/31996417/146146563-61190ca2-2adb-4c8b-9f25-b39f39cac797.gif)

2. Checkbox isn't greyed out in case Copy to clipboard option is enabled.
![nS0jgMo1rw](https://user-images.githubusercontent.com/31996417/146146693-d2f272dd-398b-4312-a7b9-646240a0aef6.gif)

[2021-12-15 08:26] uslss commented on #14904
@lukaseder , you could disable numeric formatting in preferences
![image](https://user-images.githubusercontent.com/31996417/146150577-34c023f7-cd91-4902-aaad-5aee1151d3bb.png)

[2021-12-15 08:28] Matvey16 commented on #10263
Verified

[2021-12-15 08:28] #10263 closed

[2021-12-15 08:36] uslss commented on #14758
@Cergoo what database do you use? could you provide csv sample to reproduce the issue?

[2021-12-15 08:39] #14248 closed, assigned to nobody

[2021-12-15 08:52] lukaseder commented on #14904
That doesn't affect array contents, see:

![image](https://user-images.githubusercontent.com/734593/146154268-69b40511-53a4-40d9-bde1-e53ebf8958ad.png)

Compared to enabling it:

![image](https://user-images.githubusercontent.com/734593/146154226-dbbb58b5-ec34-47ec-8173-0d6c0884f34d.png)

[2021-12-15 08:54] uslss commented on #14904
thanks for the investigation and report

[2021-12-15 09:42] ShadelessFox commented on #14911
Hello @bianyun1981,

The locally built version lacks some localization because it's a part of Eclipse localization.

We use Babel while packaging to include that localization too. You can install it manually.

I'm going to convert this issue to the discussion.

[2021-12-15 09:42] #14911 closed, assigned to nobody

[2021-12-15 09:42] ShadelessFox commented on #14594
Fixed:

![image](https://user-images.githubusercontent.com/35821147/146011876-ade2fce7-4d23-4464-bc02-5507f8e099db.png)

[2021-12-15 10:31] Matvey16 commented on #9326
@dbajaj1 It should be in the context menu when you right-click the connection in navigator

[2021-12-15 10:34] VipSaran commented on #4915
The described problem started happening to me when upgraded to Version 21.3.0.202111281534 (community)

As can be seen:
![image](https://user-images.githubusercontent.com/995948/146171265-1c3964e1-d7fa-4abd-9f4c-b108a3327eba.png)

2 DBs are filtered to be shown and 1 DB is ACTIVE, but the "Open Database Object" dialog lists objects from both Active and inactive DB.

Insult to injury: it doesn't ev

[2021-12-15 10:46] Matvey16 commented on #14694
@wangqian-49 I was not able to reproduce your issue because I don't have privileges to modify files in /usr/share directory and therefore can't change language in UI. I assume you modified privileges to be able to edit that directory?

[2021-12-15 10:48] Matvey16 commented on #14733
@qiqingli  Thank you for the suggestion

[2021-12-15 10:51] da-anda commented on #9999
I have the same issue. How did you resolve it @rezetta ?

[2021-12-15 10:55] ultra-chel commented on #1156
but in my case "put localhost" don't work, what other reasons could there be?
![image_2021-12-15_17-51-26](https://user-images.githubusercontent.com/54051018/146174111-4d57b269-2917-48d4-9507-f547d53e21c0.png)

[2021-12-15 11:53] Matvey16 commented on #14770
@bupy Please add more information to reproduce. Will DBeaver launch if you reinstall it? And more importantly will this error appear if you start it, do nothing, close and restart your machine?

[2021-12-15 12:02] Matvey16 commented on #14814
@fgalvani70 Hello. Have you tried disabling date/time formatting entirely?

[2021-12-15 12:10] Matvey16 opened #14915 "Connection settings window is not resized when additional tab is opened"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.1

#### Steps to reproduce, if exist:
1. Open connection settings window
2. Open SSH tab
3. Click on advanced settings

**Expected:** Window is resized or scroll bar appears
**Actual:** Can't change settings until window is manually resized

![vzaMNyhRiX](https://user-images.githubusercontent.com/82

[2021-12-15 12:16] Matvey16 commented on #14863
Seems like expected Teradata behavior:

[code]

[2021-12-15 12:18] flambchap commented on #1156
Hello @ultra-chel Alexander. Can you please paste the stack trace here?

[2021-12-15 12:24] ultra-chel commented on #1156
[err.log](https://github.com/dbeaver/dbeaver/files/7719279/err.log)

[2021-12-15 12:41] bupy7 commented on #14770
Yes.

Yes, it's very important thing - the restart. Before restart, just closing/opening, has no error effect.

[2021-12-15 13:11] flambchap commented on #1156
Please try using the 42.2.14 version of the PostgreSQL driver. You can do that using the "Настройки драйвера" button.

[2021-12-15 13:48] ultra-chel commented on #1156
![image](https://user-images.githubusercontent.com/54051018/146197661-0db622ca-5e57-4afd-808c-7ab9858d9ffa.png)

tried to selecting 42.2.14
42.2.14.jre6
42.2.14.jre7
and restarting, but result is the same
[err.log](https://github.com/dbeaver/dbeaver/files/7719842/err.log)

[2021-12-15 13:59] flambchap commented on #1156
That's strange. I don't have a good idea at the moment. Do you use SSL? If not, are you sure your database doesn't require one?

[2021-12-15 15:13] uslss commented on #13934
incorrect behavior is shown In the case of multi-table export to the single file with append option enabled.
**STR**
1. Start export of the three tables (t1, t2, t3) and perform it to the single file (we've got file with t1, t2. t3 tables one-by-one)
2. Add a new row to the first table (t1) and perform an export to the same file with the append option enabled
**Actual result**
We've got a file wit

[2021-12-15 17:25] CaioOliveiraw commented on #6064
+1

[2021-12-15 19:13] fgalvani70 commented on #14814
Hi Matvey16!!!!

Yes. I do!
I tried to enable and disable globally and also specifically on MS SQL
connection.

Flávio Galvani
+551197637-6817

Em qua., 15 de dez. de 2021 às 09:02, Matvey16 ***@***.***>
escreveu:

[2021-12-15 19:25] himebaugh opened #14922 "Add portable Chocolatey package for Windows ZIP"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I'd like a new package to be offered on Chocolatey that uses the already-built portable ZIP release for Windows (most recent was dbeaver-ce-21.3.1-win32.win32.x86_64.zip). This would make updating my portable install much easier by being able to use a non-administrative install of Chocolate

[2021-12-15 20:00] majkinetor commented on #14922
I don't maintain Dbeaver Enterprise chocolatey package any more because my license expired and I use community version now. I disabled the automatic package because it got too big for embedded package (larger then 200MB which is choco gallery limit) so it needs intervention to de-embed it, which I didn't do since I don't use it. However, all previous versions available on Chocolatey Gallery will a

[2021-12-15 20:19] LonwoLonwo commented on #13390
Would you please check against the newest DBeaver release?
Examples for issue reproducing for Oracle and DB2 also will be very helpful.

[2021-12-15 22:32] logangarcia-kubra opened #14924 "DBeaver CE 21.3.1 does not launch"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: CE 21.3.1
- Additional extensions: N/A

After upgrading to DBeaver 21.3.1 from 21.3.0, I saw the splash screen briefly before it told me that the application had stopped and to consult the metadata logs. After looking at the logs, I saw this output:

[code]

The issue seems to be that my user name

[2021-12-16 03:52] ultra-chel commented on #1156
yes, we use ssl

[2021-12-16 04:52] endromo opened #14925 "Table list not showing for "babelfish""
Hi DBEaver,

Table list not showing for "babelfish" , here is the screenshot:
![image](https://user-images.githubusercontent.com/93171615/146310388-36f338f1-1f28-489c-805d-2e726d0efc58.png)

Regards,
Endro

[2021-12-16 05:26] Matvey16 opened #14926 "Array elements position differ in record mode and value panel"
#### System information:
- DBeaver version 21.3.1

#### Describe the problem you're observing:
The numbers indicating the position of array elements are different in record mode and value panel. In value panel they start from 0 and in record mode they start form 1.

#### Steps to reproduce, if exist:
1. Open a table with array in record mode
2. Compare numbers that indicate element position with v

[2021-12-16 05:27] Matvey16 commented on #14594
Verified

New bug found in array presentation #14926

[2021-12-16 05:27] #14594 closed, assigned to ShadelessFox, Matvey16

[2021-12-16 05:56] Matvey16 commented on #13761
Verified

[2021-12-16 05:56] #13761 closed, assigned to E1izabeth, Matvey16

[2021-12-16 06:11] ahsand97 commented on #7885
it happens for me too with multiple Oracle database connections through VPN, if I leave dbeaver in an idle state for like 30-40 minutes then try to execute a query in any of the databases and it just runs infinitely and cancel button does nothing but generaring more and more tasks trying to abort the query.
DBeaver has to be killed and reopened in order to run queries normally

[2021-12-16 07:07] uslss commented on #14010
verified

[2021-12-16 07:07] #14010 closed, assigned to uslss, ShadelessFox

[2021-12-16 07:54] geuss commented on #14863
Hi, Thanks for answer. The usability and the look&feel is not very good with this frame opened every time that a user use the show command. A less cumbersome warning window?

[2021-12-16 08:14] Matvey16 commented on #14694
@wangqian-49 Did you by any chance start DBeaver from terminal with `sudo`?

[2021-12-16 08:24] ShadelessFox commented on #14881
This issue may have been fixed in other places too.

[2021-12-16 08:36] wangqian-49 commented on #14694
@Matvey16 Yes, I created an ordinary user named test and changed the permission of the directory " /usr/share/dbeaver-ce/" to test with the command "chown -R test:test /usr/share/dbeaver-ce/", and then start DBeaver with command "cd  /usr/share/dbeaver-ce/;./dbeaver".

[2021-12-16 08:58] uslss commented on #9645
obsolete

[2021-12-16 08:58] #9645 closed

[2021-12-16 09:09] uslss commented on #10021
for now, masks could be used in open database object search.

[2021-12-16 09:09] #10021 closed

[2021-12-16 09:28] Destrolaric commented on #13861
Added HippieCompletion to check for in-script variables and suggest them based on similarity. Turned off by default, can be added via preferences. Needs to be tested on performance problems on large scripts.
![image](https://user-images.githubusercontent.com/20579256/146345445-5ae4ff20-af37-4f63-b2e1-8a7569c490a4.png)
![image](https://user-images.githubusercontent.com/20579256/146345606-1b4867a1-f

[2021-12-16 09:45] Destrolaric commented on #13861
@yevon, thank you for your request. We added in-text autocompletion concerning the first part of the issue. The second part, related to BEGIN-END, is working as expected.

[2021-12-16 09:50] VipSaran opened #14927 "After upgrade, the theming customization is reset and theme plugin is no longer available"
#### System information:
- Operating system (distribution) and version
Edition	Windows 10 Enterprise N
Version	21H2
Installed on	‎19.‎06.‎2020.
OS build	19044.1348
Experience	Windows Feature Experience Pack 120.2212.3920.0
- DBeaver version: 21.3.1.202112130652 (community)
- Additional extensions
![image](https://user-images.githubusercontent.com/995948/146335851-fdac542d-4880-4c18-ba6a-a233b86424

[2021-12-16 10:23] uslss commented on #13934
verified

[2021-12-16 10:23] #13934 closed, assigned to Destrolaric, uslss

[2021-12-16 10:26] LonwoLonwo commented on #14925
Hello @endromono
Thanks for the bug report.
The issue resolution is in progress.

[2021-12-16 10:28] phanchutoan opened #14928 "Visible column on "Result Set Order/Filter Setting" is so difficult to select/unselect"
I am using the macos version (21.3.1.202112130652)
Visible column on "Result Set Order/Filter Setting" is quite difficult and weird to select/unselect

<img width="608" alt="Screen Shot 2021-12-16 at 17 25 32" src="https://user-images.githubusercontent.com/10822388/146354438-4bf9a253-3efb-4e6e-a466-ac3e7a600c4f.png">

Would prefer the old version checkbox

[2021-12-16 10:59] Matvey16 commented on #14881
Verified

[2021-12-16 10:59] #14881 closed, assigned to ShadelessFox, Matvey16

[2021-12-16 11:09] GriGrim commented on #14737
I've upgraded DBeaver to the version 21.3.1, but the error still remains.

[2021-12-16 11:11] ks-2097 commented on #1708
@popovserhii I have exactly the same issue. Can't get the original behaviour back. Now the button jsut doesn't do anything.
Did you solv it?

[2021-12-16 11:11] yevon commented on #13861
Perfect, thanks! I will have a look at it, looks promising. Will it be available in 21.3.2 or it is already on 21.3.1?

[2021-12-16 11:13] uslss commented on #1708
it could be changed in Preferences
![image](https://user-images.githubusercontent.com/31996417/146361565-ad2d481d-c65a-49dd-bbac-fc52c1eb2bc1.png)

[2021-12-16 11:14] ks-2097 commented on #1708
Awesome thanks so much!

[2021-12-16 11:33] Destrolaric commented on #13861
@yevon It will be available in 21.3.2  :)

[2021-12-16 11:43] LonwoLonwo commented on #14928
Hello @phanchutoan

You can change boolean column representation in the preferences. Preferences -> Editors.

![2021-12-16 14_41_41-Visible column on _Result Set Order_Filter Setting_ is so difficult to select_un](https://user-images.githubusercontent.com/45152336/146365725-ee5c2587-de3a-4c18-96fc-df3741948f5c.png)

[2021-12-16 12:00] uslss commented on #13861
verified

[2021-12-16 12:00] #13861 closed, assigned to Destrolaric, uslss

[2021-12-16 12:46] LexxaRRioo opened #14929 "Please add support for the error line number to the error message for DB2"
When using DB2 with DBeaver, it is difficult to debug sql queries without specific line number in the error message.
If possible for the DB2 engine, add support for the error line number to the error message.

Similar FR for sql server:
https://github.com/dbeaver/dbeaver/issues/4816

[2021-12-16 12:59] popovserhii commented on #1708
@uslss Great! Exactly what I was looking for.

[2021-12-16 12:59] eSargin commented on #8074
the problem still persists
![apeiron-api](https://user-images.githubusercontent.com/18756378/146376523-d170d21f-baa2-462d-a916-3442ff8514a0.gif)

[2021-12-16 15:10] leonbloy opened #14930 "Export button is greyed out in result panel in version 21.3.1"
Buttons in the low icons bar in the result panel behave strangely, I think this started happening after upgrading to 21.3.1

Steps:

- Start DBeaver, connect, open SQL script window,  reset perspective
- Reveal the QueryManager view, and click inside it (select some row)
- Run some SELECT query from the script window (preferably that returns more rows than the page size)

First result: inside the

[2021-12-16 16:10] Cergoo commented on #14758
@uslss I have MySql 8.0.27 and try to import https://www.cftc.gov/files/dea/history/fut_fin_txt_2021.zip

[2021-12-16 17:55] silvaevandro commented on #6064
+1

[2021-12-16 18:31] ShadelessFox commented on #14187
1. The confirmation dialog pops up after data is fetched:
![image](https://user-images.githubusercontent.com/35821147/146428242-cb3b5e02-9846-417d-9c3a-9049061290dd.png)

2. The confirmation dialog can't be closed by pressing `Cancel`:
![jexsbXi5f8](https://user-images.githubusercontent.com/35821147/146428471-8355d801-492e-4aba-9c1f-71530c20097e.gif)

[2021-12-16 20:43] vrcollins commented on #9107
I am very interested in the AWS SSM feature.

[2021-12-16 20:44] linxpatrick opened #14931 "Allow altering role membership for PostgreSQL"
dBeaver v21.2.5

Thank you for making the Role Manager for Postgres work again.

Unless I'm missing something it is possible to create and remove roles but I don't see any way to add or remove role members. If the ability doesn't exist, can you add it please? If it does exist, can someone explain how to do it?

[2021-12-16 20:47] rrousselot commented on #14927
I have never, to my knowledge, used DevStyle but I do use Dark Mode and as OP has indicated this seems to have been broken.

[2021-12-17 08:16] uslss commented on #14930
@leonbloy , unfortunately, cannot reproduce it. Could you provide a video of the issue? Also, is there something in the [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-12-17 08:52] aion1998 opened #14934 "Can not read response from server. Expected to read 4 bytes, read 0 bytes before connection was unexpectedly lost."
I think this works well
But when I open a table, an error message occurred

errorMsg:` Can not read response from server. Expected to read 4 bytes, read 0 bytes before connection was unexpectedly lost.`

[2021-12-17 08:52] uslss commented on #14758
Thanks for the suggestion and clarification

[2021-12-17 08:56] uslss commented on #14934
please, describe the issue accordingly to the [template](https://github.com/dbeaver/dbeaver/issues/new?assignees=&labels=bug%2C+wait+for+review&template=bug_report.md&title=)

[2021-12-17 09:07] #14934 closed

[2021-12-17 09:15] uslss commented on #5427
@GaryLiuTelus is it still actual against the recent(21.3.1) version? unfortunately, cannot reproduce it

[2021-12-17 09:18] uslss commented on #9625
actual for 21.3.1

[2021-12-17 09:26] uslss commented on #8634
The issue isn't reproducible against 21.3.1

[2021-12-17 09:26] #8634 closed

[2021-12-17 09:38] LeMapper commented on #14924
Duplicate of #14927

[2021-12-17 09:44] LeMapper commented on #14927
Seems like there has been some trouble with paths, lately. I updated to DBeaver CE 21.3.0.202112091630 via Microsoft Store lately. I now can't create new connections to Oracle servers, because the path to WindowsApps\DbeaverCorp.DBeaverCE_...\plugins/org.eclipse.equinox.launcher contains a forward slash and cannot be found 😅
'AutoRegisterSchemeHandlersJob has encountered a problem'

[2021-12-17 09:55] uslss commented on #14882
https://github.com/dbeaver/dbeaver/issues/14927#issuecomment-996576620

[2021-12-17 09:57] Sergey-V-R opened #14935 "Violation of Сp1251 encoding when opening an existing script"
System information:
- Operating system (distribution) and version: Windows 10 Pro x64.
- DBeaver version:  21.2.5.202111141807
- Additional extensions: N/A

I am creating a script with comments in Russian. The script is saved in Сp1251 encoding.
![01_Script on creation](https://user-images.githubusercontent.com/96280439/146525408-1d1001b2-4d75-4963-a244-5aa1287fcfa7.PNG)
![06_Script in the FAR edi

[2021-12-17 09:59] Skydiveroid commented on #14872
Thank you for the future request

[2021-12-17 10:00] Skydiveroid commented on #14866
Thank you for the request

[2021-12-17 10:05] Matvey16 commented on #14664
Can you please attach a file with script? Github may have erased some of the newline or other symbols.

[2021-12-17 10:16] LonwoLonwo commented on #14935
Hello @Sergey-V-R

Can you please check the workaround (about option in the -ini file) from this ticket: https://github.com/dbeaver/dbeaver/discussions/12193?

[2021-12-17 10:17] uslss commented on #7576
issue is reproducible in 21.3.1

[2021-12-17 10:33] uslss commented on #8367
@vowor could you check if it is still actual for you against the recent version?

[2021-12-17 10:38] uslss commented on #6739
expected behaviour

[2021-12-17 10:38] #6739 closed

[2021-12-17 10:43] uslss commented on #7928
Unfortunately, we've got no env to test.
@nikolas-jose Could you please check if it is still present for you against the recent version?

[2021-12-17 10:53] Sergey-V-R commented on #14935
Thanks @LonwoLonwo, I'll check.

[2021-12-17 11:02] #11932 closed, assigned to nobody

[2021-12-17 11:04] #11543 closed, assigned to nobody

[2021-12-17 11:09] uslss commented on #9152
not actual anymore

[2021-12-17 11:09] #9152 closed

[2021-12-17 11:13] Sergey-V-R commented on #14935
Didn't help (closed DBeaver, changed DBeaver.ini, opened DBeaver, opened the script).

-startup
plugins/org.eclipse.equinox.launcher_1.6.300.v20210813-1054.jar
--launcher.library
plugins/org.eclipse.equinox.launcher.win32.win32.x86_64_1.2.300.v20210828-0802
-vmargs
-XX:+IgnoreUnrecognizedVMOptions
--add-modules=ALL-SYSTEM
-Dosgi.requiredJavaVersion=11
-Xms64m
-Xmx1024m
-DFile.encoding=Cp1251

[2021-12-17 11:15] uslss commented on #13444
@velhaco20000 could you check if it is reproducible for you against 21.3.1?

[2021-12-17 11:44] uslss commented on #11939
reproducible on 21.3.1, ubuntu 20.10

[2021-12-17 11:54] uslss commented on #9368
not reproducible in 21.3.1

[2021-12-17 11:54] #9368 closed

[2021-12-17 12:25] flzpenteado commented on #6157
I am using the  21.3.1.202112130652 version, and backquotes are enabled by default, and I cannot disable it!
PS: I'm on MacOs

[2021-12-17 13:02] ghost commented on #14413
@jbernardes @ismailsunni; I use Ubuntu 20.04 with Debian Package 21.3.1

I solve this problem installing Postgres and PostGis **BEFORE** DBeaver, this will grant the instalation of two plugins and anothers drivers:

![image](https://user-images.githubusercontent.com/26460729/146548378-341dd8cd-9975-47a1-ab2a-8fa4b9fb1fdd.png)

But you can install manually that.

Hope this help you!

[2021-12-17 13:33] AlexandreHGuerra commented on #667
too bad this feature have been overlooked for so much time
Its really useful to run a query that generates a bunch of commands to run
not even counting when running a big script, you'll need to have all the outputs consolidated in just one file ou output window

[2021-12-17 13:57] Matvey16 commented on #14814
@fgalvani70 Can you elaborate some more about a database you use? Does it have an english documentation?

[2021-12-17 14:01] Matvey16 commented on #14863
@geuss You can turn this option off in properties, but you will need to open output window manually to read any specific message. The output window is opened by default when server sends output message.

![image](https://user-images.githubusercontent.com/82543000/146555676-dbfc5cdb-2b30-4831-8901-8bf7af5fb8e3.png)

[2021-12-17 14:01] #14863 closed, assigned to nobody

[2021-12-17 14:07] Matvey16 commented on #14694
@wangqian-49 Thank you for the report. This happened because you started DBeaver from the terminal, so the restart after prompt reused the old .ini file without language change, only after manual closing the process was properly killed. We have plans to change the way that language property is stored, so this issue won't exist.

[2021-12-17 14:17] flambchap commented on #14891
Hello. We don't have a process on that at the moment. I suggest writing a page as a comment here. We'll add it to our wiki. Thank your contribution.

[2021-12-17 14:19] maciey opened #14939 "Preference - switch to output / result tab"
I have lot of procedures where Im actually more interested **output** then **results** while Im executing q-ty

Would be great to have option do not auto switch to results, but output if user decides
Or (even better) option to undock / dock somewhere else  output window so I can see both..

![obraz](https://user-images.githubusercontent.com/5410448/146556924-29e80ef4-54b3-4cec-990c-f814433263f2.pn

[2021-12-17 14:36] GaryLiuTelus commented on #5427
Thanks for the following up. No, it has been resolved. Everything working perfectly!

[2021-12-17 15:22] daffyduck25 opened #14941 "Cannot connect to Snowflake after upgrade from 21.2.5.202111141807 to 21.3.1.202112130652"
#### System information:
- Windows 10
- DBeaver version: 21.3.1.202112130652
- Additional extensions

#### Connection specification:
- Database: Snowflake
- Driver name: JDBC
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No
- Plugin:  org.jkiss.dbeaver.model

#### Describe the problem you're observing:
Cannot connect to Snowflake database using the same connection settings that are successful

[2021-12-17 16:11] fgalvani70 commented on #14814
I will send you some screenshots.

Flávio Galvani
+5511 97637-6817

Em sex., 17 de dez. de 2021 10:57, Matvey16 ***@***.***>
escreveu:

[2021-12-17 16:49] ilyafrank2021 opened #14942 "Unable to connect to Google Cloud Spanner emulator"
I am unable to connect to Google Cloud Spanner emulator (non-emulator works fine). I followed the instructions here

https://medium.com/google-cloud/cloud-spanner-in-dbeaver-853998faa0ba

When I connect, it looks like it worked but when I try to expand the tables, I get this error.
I am able to connect from DbVisualizer, so I don't think it's an issue with the emulator.

SQL Error [3]: INVALID_ARG

[2021-12-17 17:55] ivanlonel opened #14943 "Manage pg-cron jobs via GUI"
Currently, there's no support for managing [pg_cron](https://github.com/citusdata/pg_cron) jobs from the graphical interface.

Since pgAgent support is coming to Dbeaver (#6077), it would be useful to have the same functionality for pg_cron.

[2021-12-17 17:58] ivanlonel commented on #6077
Thanks for your reply, @ShadelessFox. I've created #14943, following your advice.

[2021-12-17 17:59] varun-senthilnathan-000 commented on #2998
Hi,

Would it be okay if I attempt this?

[2021-12-17 21:40] suhailmemon opened #14944 "calling BigQuery stored procedures from Dbeaver"
#### System information:
- Operating system (distribution) and version: MACos catalina 10.15.7
- DBeaver version: Version 7.0.2.202004051509
- Java version
- Additional extensions

#### Connection specification:
- Database name and version: Google BigQuery
- Driver name: Google BigQuery driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing: when i

[2021-12-17 23:39] ivanlonel opened #14945 "Missing parentheses on generated query when filtering/sorting by composite type subfields (Postgres)"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro 21H1
- DBeaver version: 21.3.1
- Additional extensions: Office support, git support, SSHJ, Debug and SVG

#### Connection specification:
- Database name and version: Postgresql 14.1
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're obser

[2021-12-18 04:33] saygindogu commented on #2998
Just a heads up, I'm not working on this. Please feel free to take it if you're interested. Sorry for blocking this issue for a long time.

[2021-12-19 12:56] lastseenjustnow commented on #6064
+1

[2021-12-19 14:17] omerkocadere opened #14946 "What is configuration to connect to sql server localdb -> (LocalDB)\MSSQLLocalDB"
I could not achieve to connect. Could you please show how to connect?

It is working when trying to connect using sql server
![Ssms_KYiJDjFd9o](https://user-images.githubusercontent.com/9765632/146677919-53d0ebcc-481c-442c-857e-a0a46281b146.png)
?

But gives an error when trying with dbeaver
![dbeaver_JjbE6OKBzQ](https://user-images.githubusercontent.com/9765632/146677989-93a46263-5e60-44da-a116-9

[2021-12-19 17:21] ShadelessFox commented on #14946
Hello @zormaxx,

You should specify `localhost` as a hostname.

[2021-12-19 17:21] #14946 closed, assigned to nobody

[2021-12-19 17:53] LonwoLonwo commented on #13778
Fixed.

[2021-12-19 18:01] LonwoLonwo commented on #14945
Hello @ivanlonel
Thanks for the bug report!

[2021-12-20 02:49] phanchutoan commented on #14928
Hello @LonwoLonwo

It switched to icon after I changed the setting.
But it still needs 3 clicks to check/uncheck.
1 click to focus the line, 1 click to focus the icon and 1 click to actually check/uncheck.
Is this the designed behaviour?
<img width="594" alt="Screen Shot 2021-12-20 at 09 45 41" src="https://user-images.githubusercontent.com/10822388/146704531-77d564ec-7d66-486a-8736-c39c5ee7971e.p

[2021-12-20 08:50] Matvey16 commented on #13778
Verified

[2021-12-20 08:50] #13778 closed, assigned to LonwoLonwo, Matvey16

[2021-12-20 08:51] jzvikart commented on #1847
I'm using version 21.1.0.202106021338 and I have unchecked Window -> Preferences -> General -> Install/Update -> Automatic Updates -> Automatically find new updates and notify me.

In spite of that, DBeaver keeps checking for new versions and popping up a "new version available" dialog on start.

How do I disable this?

[2021-12-20 09:38] 0xWWW opened #14952 "Connection attempt timed out with Postgres."
I'm able to access the postgres db via console, but unable to access on there using dbeaver for now.
![image](https://user-images.githubusercontent.com/50073310/146745680-33ecc1aa-d798-4c48-a41e-047df8158d64.png)
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04
- DBeaver version: Version 21.3.0.202111281534

[2021-12-20 09:58] Matvey16 commented on #13196
Verified

[2021-12-20 09:58] #13196 closed, assigned to Destrolaric, Matvey16

[2021-12-20 10:27] Matvey16 opened #14953 "Additional excessive auto-complete window in table properties"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.2

#### Describe the problem you're observing:
Pressing autocomplete shortcut in data type window leads to another window opening on top of already existing one.

#### Steps to reproduce, if exist:
1. Open columns tab in table properties
2. Expand the data type list
3. Press <kbd>Ctrl + Space</kbd>

[2021-12-20 10:30] andribas404 opened #14956 "export ERD to graphml loses edges with duplicated ids"
#### System information:
- Operating system (distribution) and version Ununtu 20.04.3 LTS
- DBeaver version 21.3.1.202112111946
- Additional extensions no

#### Connection specification:
- Database name and version soup
- Driver name PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:

When exporting ERD to graphml edges from entity get the

[2021-12-20 10:53] Matvey16 commented on #14944
@suhailmemon BigQuery often sends a more specific error message with response code etc. Can you show the full error message?

[2021-12-20 12:12] Matvey16 commented on #14941
@daffyduck25 Please check how URL template is configured for snowflake driver. If it is not like on the picture, try resetting it to default

![image](https://user-images.githubusercontent.com/82543000/146765495-149587c2-677b-4644-81f1-7e0028aacb8b.png)

[2021-12-20 12:30] dime0169 opened #14958 "Error when trying to open "session manager""
#### System information:
- Operating system (distribution) and version : Ubuntu 20.04.3 LTS
- DBeaver version :     DBeaver	21.3.0.202111291204
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name : MySQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:

Unable to open "session manager" when I made a rig

[2021-12-20 13:10] LonwoLonwo commented on #14928
Yes. This is the designed behavior.

[2021-12-20 13:11] daffyduck25 commented on #14941
Thanks that worked.  There was a "spelling" error for the URL template.  jdbc was spelled jbcd.  I assume it was that way as default when installed.

[2021-12-20 13:11] #14941 closed, assigned to nobody

[2021-12-20 13:13] Matvey16 commented on #14737
@GriGrim Can you post a screenshot of driver properties for the connection (with blurred sensitive information ofc)

[2021-12-20 13:31] GriGrim commented on #14737
![Exasol_connection](https://user-images.githubusercontent.com/2479756/146774639-4b60af24-cb59-4ba3-8e77-e3241c583d0b.png)

[2021-12-20 13:41] LonwoLonwo opened #14959 "[DB2] Exclude views from generated table DDL"
### Discussed in https://github.com/dbeaver/dbeaver/discussions/14955

<div type='discussions-op-text'>

<sup>Originally posted by **twielens** December 20, 2021</sup>
Hello,

We've been using DBeaver for quite a while and now we finally obtained the rights to use the generate DDL function (DB2LOOK) which is working but the problem is that when I try to get the DDL for a table I also get a lot of

[2021-12-20 13:53] LonwoLonwo commented on #14959
Options: https://www.ibm.com/docs/en/db2/11.5?topic=commands-db2look-db2-statistics-ddl-extraction-tool

[2021-12-20 14:04] knwpsk opened #14960 "can't download driver files"
On startup > reconnect, dBeaver popup says it needs to download PostgreSql driver files.
I click Download button
It pops up error saying the Maven artifact is not found.

I click Abort and keep working as normal.
This happens every time I start DBeaver.

Sorry, I don't know much about Maven but am happy to further troubleshoot if someone guides me.

Screenshots attached.

![image](https://user-ima

[2021-12-20 14:22] Destrolaric commented on #14960
@knwpsk Thank you for your ticket, probably related to a known bug with MavenArtifactEditor. You can temporarily add the preferred version inside the artifact editor. Here is the guide https://github.com/dbeaver/dbeaver/wiki/How-to-add-additional-artifacts-to-the-driver

[2021-12-20 14:29] knwpsk commented on #14960
@Destrolaric thanks for your quick reply.
Can you possibly guide me just a bit farther? How can I identify what version of what artifact dbv thinks it needs?
Or can I just happily ignore this til the bug you mentioned is fixed? I'm not having any noticeable issues in my work, just seeing this dbv popup.

[2021-12-20 14:39] Destrolaric commented on #14960
@knwpsk Bug is related to using RELEASE without the preferred version, so it will probably start working if you write any existing version that is sufficient.

[2021-12-20 15:36] serge-rider opened #14962 "Drag-n-drop files between DBeaver workspace and local file system"
We need to support DnD to copy/move scripts, images and other files between workspace and file system.

[2021-12-20 15:37] serge-rider commented on #14962
Done

[2021-12-20 16:07] suhailmemon commented on #14944
@Matvey16, that's about the only error i could see in the dbeaver UI:

SQL Error [100078] [HY000]: [Simba][BigQueryJDBCDriver](100078) Error initializing column metadata: Could not retrieve table schema information.

[2021-12-20 16:09] suhailmemon commented on #14944
![image](https://user-images.githubusercontent.com/36083983/146797684-d850b7d2-39e9-451d-83e4-1250e0269be3.png)

[2021-12-20 16:10] suhailmemon commented on #14944
![image](https://user-images.githubusercontent.com/36083983/146797790-8360a7ce-ba90-482d-86c8-f24ee297f569.png)

[2021-12-20 16:10] suhailmemon commented on #14944
@Matvey16 screenshot above.

[2021-12-20 16:30] suhailmemon commented on #14944
also if i copy the exact call command and run it in the google cloud console bigquery UI, it runs successfully

[2021-12-20 21:38] sssnarl commented on #3377
@mrotteveel is correct here all that needs to be done is to enable the SQL Server Browser service and start it.  connected without issue to the named instance after that.

[2021-12-20 23:02] bianyun1981 opened #14964 "Some of the localization work for Simplified Chinese have not been completed"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise Edition (Simplified Chinese), 21H1
- DBeaver version: 21.3.1.202112130652
- Additional extensions

#### Describe the problem you're observing:
I committed a pull request (14948) yesterday, but it failed to pass the commit message validation:
**Checking commit messages against "^(#\d{3,6}|((dbeaver|cloudbe

[2021-12-21 01:31] ghost opened #14965 "schtasks.exe not found in schedule task"
#### System information:
OS : Windows 10 Pro 20H2

USE : DBeaver Enterprise 21.3.0

#### Connection specification:
Postgresql -> MSSQL
Database Tasks

#### Describe the problem you're observing:
1. Database Tasks success

2. schedule task save

3. "has been scheduled in local windows task scheduler" notifications

3. open scheduler setting

4. DBeaver folder open

5. nothing is registered

#### In

[2021-12-21 01:32] ghost commented on #14965
-vmargs
-Ddbeaver.scheduler.windows.legacy=true

[2021-12-21 04:21] 0xWWW commented on #14952
It was fixed with installing postgres cli packages, and update DBeaver version

[2021-12-21 04:21] #14952 closed

[2021-12-21 04:53] bigoper commented on #6048
How did you get/use the old driver?
Thanks

[2021-12-21 06:52] Matvey16 commented on #13924
Doesn't work for some columns

![j3kzu3pfyX](https://user-images.githubusercontent.com/82543000/146885089-4c6ff703-b97b-42f4-b1c1-8f31ab96a065.gif)

[2021-12-21 07:23] twielens commented on #14959
I think the -noview option could be standard, but maybe add other options (grants, indexes, etc.).

[2021-12-21 07:39] E1izabeth opened #14968 "Buttons aren't disabled while data export processing"
#### Describe the problem you're observing:
Buttons Process, Back and Cancel aren't disabled while task is running in data export wizard

#### Steps to reproduce, if exist:
1. Take a big result set
2. Run data export
![image](https://user-images.githubusercontent.com/28875055/146889821-e8180b24-ca46-4538-8635-284476ae515f.png)
3. If to push Process button while task is processed, got an error
![im

[2021-12-21 08:20] Matvey16 commented on #13784
Verified

[2021-12-21 08:20] #13784 closed, assigned to E1izabeth, Matvey16

[2021-12-21 08:44] jnko266 opened #14970 "Permission denied while converting private key for SSH access"
#### System information:
- Operating system (distribution) and version: MacOS Monterey 12.0.1
- DBeaver version: 21.3.1.202112130652
- Additional extensions: none

#### Connection specification:
- Database name and version: MariaDB, don't know the version, shouldn't matter
- Driver name: MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc): SSH

#### Describe the problem you're observing:
I'm

[2021-12-21 08:47] ShadelessFox commented on #14965
Hello @al8bright,

I believe your task contains Korean characters in its name. Fortunately, a modern scheduler handles them well.

Is there any particular reason to use the legacy scheduler? I would suggest you disable this option and try again.

[2021-12-21 09:13] yangmeng66 opened #14971 "Database driver plug-in development questions: <extension ...>"
Everybody is good! I have some questions that I hope can only guide me:

Our company was developing our own database (similar to ClickHouse) and wanted to use your Dbeaver, but also wanted to do something custom, as clickHouse writes here:

[code]

But unfortunately I couldn't find the relevant driver docs for "extension..." Thank you very much

[2021-12-21 09:39] Destrolaric opened #14972 "Fallback version is not working correctly in Maven Artifact Editor"
The fallback version is not working correctly right now. When we create an artifact with the empty version and filled fallback version, it will fail to download

[2021-12-21 09:43] flambchap commented on #14771
Module added.

[2021-12-21 10:02] #14971 closed, assigned to nobody

[2021-12-21 10:05] ceugenio opened #14974 "DB2 Query Result - Show column description in header dosen't work when declaration contains join"
#### System information:
- Operating system (distribution) and version:  IBM i 7.4
- DBeaver version: 21.3.1 (and previous)

#### Connection specification:
- Database name and version: DB2 11.5
- Driver name: DB2 iSeries/AS 400 (JT400 - IBM Toolbox for Java JDBC driver)
https://www.ibm.com/docs/en/was/8.5.5?topic=SSEQTP_8.5.5/com.ibm.websphere.nd.multiplatform.doc/ae/tcws_toolbox.html
http://jt400

[2021-12-21 10:47] jnko266 commented on #14970
After some time googling, I've found an SSHJ "addon," which after installing (and switching to this implementation in the advanced settings of the SSH configuration panel) managed to make it work.

[2021-12-21 10:57] jnko266 commented on #14970
Just found #5845 explaining this problematic. Closing this.

[2021-12-21 10:57] #14970 closed, assigned to nobody

[2021-12-21 14:11] serge-rider commented on #12718
#14721 was fixed.
On MacOS <kbd>CTRL+Space</kbd> is the default shortcut. It may not work if you have more than one keyboard layout (system shortcut bound it).

Workarounds:
- use <kbd>fn+ctrl+space</kbd> shortcut
- redefine system shortcut for keyboard layout change

[2021-12-21 14:57] andydkelly-ig opened #14976 "Can't authenticate to Azure SQL Databases - STS Throttling Issue"
#### System information:
- Mac OSX Big Sur 11.6
- 21.3.1.202112130652

#### Connection specification:
- Azure SQL Server
- MSQL JDBC driver

#### Describe the problem you're observing:

Can't authenticate to Azure SQL Servers using AD with Password. Receive the error `Request was throttled according to instructions from STS`. Tried this using every combination available of JDBC driver and MS Authe

[2021-12-21 15:00] #14976 closed, assigned to nobody

[2021-12-21 15:01] andydkelly-ig commented on #14976
This started working again so presuming it was Azure issue

[2021-12-21 15:35] LonwoLonwo commented on #14507
Redshift/Cockroach drivers copy management fixed. Now copied driver must work and recognize PG server type correctly after DBeaver reopening.

[2021-12-21 16:09] knwpsk commented on #14960
I'm pretty confused.

When I edit the connection > libraries, I see this:

![image](https://user-images.githubusercontent.com/30087322/146961469-3ecae642-0943-4d25-8df0-c7ef95105c64.png)

When I try to download, I get the error about Maven geometry file "release" not found.

When I double-click that file, I see:

![image](https://user-images.githubusercontent.com/30087322/146961649-90017cae-0e39-4

[2021-12-21 20:21] ivanlonel opened #14980 "Data editor doesn't enclose pre-existing filters in parentheses when adding new conditions, messing precedence"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro 21H1
- DBeaver version: 21.3.1
- Additional extensions: Office support, git support, SSHJ, Debug and SVG

#### Connection specification:
- Database name and version: Postgresql 14.1
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're obser

[2021-12-21 21:51] Austin1 commented on #2316
Does anyone know how to do what @nicchristeller did using AutoHotKey but on a Mac? Tried ot figure it out with Karabiner Elements but not having any luck. This issue really is messing with my brain.

https://github.com/dbeaver/dbeaver/issues/2316#issuecomment-532056640

[2021-12-21 22:48] melienherrera commented on #14891
# Astra DB
## Connecting to Astra DB

### Prerequisites
**Astra DB** is a serverless, database-as-a-service (DaaS) built on Apache Cassandra. Before connecting, we must create and configure Astra DB as a custom driver in DBeaver.

With these instructions, it is assumed that you have already created a database in Astra DB (make sure it is in the "Active" state!), generated an[ application token](ht

[2021-12-21 22:56] melienherrera commented on #14891
Hi there! Just added the page as a comment. Let us know if you have any questions/changes, thanks!

[2021-12-22 02:00] fin-illusion opened #14981 "load tablecache Very slow"
oracle load tablecache  Very slow

[2021-12-22 05:25] Matvey16 commented on #14962
Verified

[2021-12-22 05:25] #14962 closed, assigned to serge-rider, Matvey16

[2021-12-22 05:41] Matvey16 commented on #14968
Verified

[2021-12-22 05:41] #14968 closed, assigned to E1izabeth, Matvey16

[2021-12-22 08:19] plotn opened #14985 "alter foreign table bug (postgres)"
Hi! when I edit field types in the foreign table DBeaver generates following sql (e.g.):

ALTER TABLE db2l_ot.future_point_rtk_hermes ALTER COLUMN pointfabriclength TYPE numeric(38, 8) USING pointfabriclength::numeric;

This leads to error, because "USING pointfabriclength::numeric;" is not needed when editing foreign table.

[2021-12-22 08:22] Matvey16 commented on #12829
I contacted Eclipse support for their help in resolving the issue

[2021-12-22 08:25] plotn opened #14986 ""Typed" (enum) field filtering"
When I try to filter column of enum type - I cannot enter values by text (only by checking them), cannot filter the list when typing (it becomes empty).
And I cannot make partial filter - e.g. I want to filter:
field_of_enum_type::text like 'something%'

But I cannot ((((
![dbeaver_typed_column](https://user-images.githubusercontent.com/11477081/147060381-826ca640-b626-4bb2-9a1e-d0ae6e12d831.png)

[2021-12-22 08:35] uslss commented on #13704
verified

[2021-12-22 08:35] #13704 closed, assigned to E1izabeth, uslss

[2021-12-22 08:42] E1izabeth commented on #14669
To avoid switching between databases with `use dbname;` before and after every user action, only default database is shown for now.

[2021-12-22 08:53] ShadelessFox commented on #14986
Hello @plotn,

Would you please rewrite your issue using our bug template?

A minimal reproducible example would be handly.

[2021-12-22 08:53] uslss commented on #14669
verified

[2021-12-22 08:53] #14669 closed, assigned to E1izabeth, uslss

[2021-12-22 09:28] Matvey16 commented on #12718
Verified

[2021-12-22 09:28] #12718 closed, assigned to serge-rider, Matvey16

[2021-12-22 09:51] plotn commented on #14986
I think there is no need to "reproducable example", because it is a "core" problem, but i'll try

1. Create enum type:
CREATE TYPE enum_type_example AS ENUM (
	'VALUE1',
	'VALUE2');
2. Create table with column of this type;
3. Fill any data;
4. Try to filter.

[2021-12-22 10:22] Matvey16 commented on #14751
It looks like a problem with i3wm, we will try to look at it, but it seems as though it can't be fixed without help from i3 developers

[2021-12-22 10:47] alainthieffry opened #14988 "ERD : Table size not preserved in saved diagram"
#### System information:
- Operating system : Windows 10 Enterprise edition 64 bits
- DBeaver version : 21.3.0 Lite Edition
- Additional extensions : none

#### Connection specification:
- Database name and version : N/A
- Driver name : N/A
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  : N/A

#### Describe the problem you're observing:
The size of tables in a diagram is not preserved when re

[2021-12-22 11:14] okerstent opened #14990 "Query results showing value of wrong columns having similar names"
#### System information:
- Ubuntu 20.04.2 LTS
- DBeaver 21.3.1.202112130652
- Additional extensions: -

#### Connection specification:
- Oracle Database 18c Express Edition Release 18.0.0.0.0
- Driver name ojdbc8 release 12.2.0.1
- Do you use tunnels or proxies (SSH, SOCKS, etc): no, local db in docker

#### Describe the problem you're observing:
Having two columns with a longer identical prefix (

[2021-12-22 11:17] ShadelessFox commented on #14986
What database is it?

[2021-12-22 11:44] LonwoLonwo commented on #14985
Hello @plotn

Thanks for the bug report.

[2021-12-22 11:45] plotn commented on #14986
I'm sorry!
It is Postgres

[2021-12-22 12:08] flambchap commented on #14924
Duplicate of https://github.com/dbeaver/dbeaver/issues/14877.

[2021-12-22 12:08] #14924 closed, assigned to nobody

[2021-12-22 12:12] ShadelessFox commented on #14986
I'm unable to reproduce your issue.

![image](https://user-images.githubusercontent.com/35821147/147090927-720b8d81-6473-43be-a0a3-9b79175eb074.png)

Is there something up to the enum's prefix? Is that schema name (`public`, `mcs`)?

[2021-12-22 12:15] ShadelessFox commented on #14990
Hello @okerstent,

Can you please provide a screenshot showing your issue?

[2021-12-22 12:16] LonwoLonwo commented on #14981
Hello @fin-illusion

Please do not ignore the issue template.

DBeaver has some extra performance options. You can find them in your "Connection Settings" -> "Oracle properties".

![2021-12-22 15_14_38-Connection _orcl_ configuration](https://user-images.githubusercontent.com/45152336/147091465-2e5c1c27-462d-4be2-bbbd-2a7ec2a9d851.png)

[2021-12-22 12:18] LonwoLonwo commented on #14986
And what DBeaver version do you use? @plotn

[2021-12-22 12:20] Matvey16 commented on #14958
@dime0169 Do you use Oceanbase db?

[2021-12-22 12:24] Matvey16 commented on #14980
@ivanlonel Thank you for the report. We will fix it.

[2021-12-22 12:25] plotn commented on #14986
21.3.0
your idea could be a glue!
see my metadata - enum is in another scheme:

CREATE TABLE repl.repl_statements (
	id bigserial NOT NULL,
	entity repl_log."t_log_entity" NULL, -- Имя сущность

[2021-12-22 12:29] LonwoLonwo commented on #14986
Ok. Can you test it in [the newest DBeaver version](https://dbeaver.io/download/), please?
We fixed a related bug in the latest release.
https://github.com/dbeaver/dbeaver/issues/14314

[2021-12-22 12:38] plotn commented on #14986
I tested. Bug still exists. Could you try your test with the different schemas?

[2021-12-22 12:49] Skydiveroid commented on #14891
Thank you for your conribution!

[2021-12-22 12:59] Skydiveroid commented on #14929
Thank you for the idea.

[2021-12-22 13:12] Skydiveroid commented on #14943
Thank you for the idea.

[2021-12-22 13:35] Matvey16 commented on #14507
Verified

[2021-12-22 13:35] #14507 closed, assigned to LonwoLonwo, Matvey16

[2021-12-22 13:38] serge-rider commented on #14635
Done

[2021-12-22 14:04] ShadelessFox commented on #12864
Implemented:

![](https://user-images.githubusercontent.com/35821147/145281208-d362742d-82b0-4f59-bbc2-9b457d9dc9ed.png)

[2021-12-22 14:14] ShadelessFox commented on #14187
1. The confirmation dialog pops up several times after pressing `Yes`, effectively performing `UPDATE` every time:
![R7aF1Ngqr7](https://user-images.githubusercontent.com/35821147/147105603-6eb6fa2f-d9d4-451a-a36a-74b4ba6515b3.gif)

2. The confirmation dialog pops up for the second time after pressing either `No` or `Cancel`:
![hekEjf85kZ](https://user-images.githubusercontent.com/35821147/1471057

[2021-12-22 14:34] uslss commented on #14635
verified

[2021-12-22 14:34] #14635 closed, assigned to serge-rider, uslss

[2021-12-22 14:48] Matvey16 opened #14991 "Connection settings can't be saved after connection test"
#### System information:
- Operating system (distribution) and version
- DBeaver version 21.3.2

#### Steps to reproduce, if exist:
1. Right-click a connection and click `Edit connection`
2. Click `Test connection`

**Expected:** OK and Cancel buttons can be clicked
**Actual:** Buttons are disabled

![DXL4UZGELc](https://user-images.githubusercontent.com/82543000/147110625-19bb711c-6861-454e-b0cb-

[2021-12-22 14:51] Destrolaric commented on #14972
The fallback version did not work properly when the artifact was created/edited from manual edit mode. It was related to the preferred version being an empty string which caused it to think it has the preferred version and to try to download it.

[2021-12-22 15:03] Matvey16 commented on #14771
Verified

[2021-12-22 15:03] #14771 closed, assigned to flambchap, Matvey16

[2021-12-22 15:09] okerstent commented on #14990
Issue resolved, sorry for false alarm ...

[2021-12-22 15:09] #14990 closed, assigned to nobody

[2021-12-22 15:11] uslss commented on #14972
verified

[2021-12-22 15:11] #14972 closed, assigned to Destrolaric, uslss

[2021-12-22 17:06] ivanlonel opened #14998 "Filter dialog doesn't show all options for Postgres composite type subfields, even with "Read from server" checked"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro 21H1
- DBeaver version: 21.3.1
- Additional extensions: Office support, git support, SSHJ, Debug and SVG

#### Connection specification:
- Database name and version: Postgresql 14.1
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're obser

[2021-12-22 17:06] knwpsk commented on #14960
I updated dbv to latest release.
This fixed the problem.

[2021-12-22 17:14] uslss commented on #14991
verified

[2021-12-22 17:14] #14991 closed, assigned to uslss, ShadelessFox

[2021-12-22 17:24] uslss commented on #14998
thanks for the report

[2021-12-22 17:31] Matvey16 commented on #13924
Doesn't work if aliased column is array type

![lOsrj8iJzH](https://user-images.githubusercontent.com/82543000/147132445-b8384126-9222-46ad-9da9-5537be9c62a9.gif)

[2021-12-22 17:34] Matvey16 commented on #14039
Verified

[2021-12-22 17:34] #14039 closed, assigned to LonwoLonwo, Matvey16

[2021-12-22 18:36] Matvey16 commented on #12864
Verified

[2021-12-22 18:36] #12864 closed, assigned to ShadelessFox, Matvey16

[2021-12-23 09:30] DariaMarkaryan opened #14999 "EPSG button in spatial view is disabled in some tables"
#### System information:
- Win10, DBeaver CE 21.3.2

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/43252954/147218867-daada9c0-43dd-4795-a8f3-bde280364b25.png)
![image](https://user-images.githubusercontent.com/43252954/147218901-af850978-9aaa-45b9-a463-84bb07a6cc61.png)
In some tables EPSG button is disabled. At first glance, I don't see any notabl

[2021-12-23 09:52] dinmukhamed09 commented on #7113
@serge-rider Hi! It would be greate to support AWS DynamoDB in DbeaverCE.

Is it possible that you will come back to this issue?

I really like your software. I wouldn't like to install other IDE to work with DynamoDB.

[2021-12-23 09:54] dinmukhamed09 commented on #1426
Could you take a look again to support AWS DynamoDB in DbeaverCE, please

[2021-12-23 10:07] tati-kru commented on #1426
@dinmukhamed09 I'm afraid there are no such plans at this moment. DBeaver connects to DynamoDB through a special extension, not a JDBC driver. This extension can work with various specific DynamoDB objects that are not available for JDBC. This is not an open-source plugin. I don't think that it will become open-source in the near future.

[2021-12-23 10:10] tati-kru commented on #14891
@melienherrera thank you for your comment and article. I'm afraid we do not add articles about connection to some database if this connection is based on a generic driver. We have a special article about generic connections in our wiki: https://github.com/dbeaver/dbeaver/wiki/Database-drivers.
If you want to make a connection page for AstraDB in DBeaver you can send us a pull request as it's descr

[2021-12-23 10:52] Matvey16 opened #15000 "[Derby] Constraints are read incorrectly"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.2

#### Connection specification:
- Database name and version Derby 10.15.1.3
- Driver name Apache Derby Network Client JDBC Driver 10.15.2.0
- SSH

#### Describe the problem you're observing:
Constraint columns are not recognized in any tab (Properties, DDL, Data view)

#### Steps to reproduce, if

[2021-12-23 11:21] dinmukhamed09 commented on #1426
Hi,

As I understand that feature supports in EE plan.

What the difference between DbeaverEE and DbeaverCE?

[2021-12-23 14:25] LonwoLonwo commented on #12454
duplicate of #15000

[2021-12-23 14:25] #12454 closed, assigned to LonwoLonwo

[2021-12-23 14:47] apdma opened #15002 "DB2 10.5 Explain plan"
#### System information:
- Windows 10
- DBeaver version 21.3.1.202112111946

#### Connection specification:
- DB2 10.5
- com.ibm.db2.jcc.DB2Driver
- VPN

#### Describe the problem you're observing:
Explain plan not showing in window

#### Steps to reproduce, if exist:
Try execute explain plan on any query, for example
SELECT sysdate FROM DUMMY_TABLE;

#### Include any warning/errors/backtraces fro

[2021-12-23 15:19] Matvey16 opened #15003 "[Derby] Incorrect query sent when searching in column value filter"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.2 CE

#### Connection specification:
- Database name and version Derby 10.15.1.3
- Driver name Apache Derby Network Client JDBC Driver 10.15.2.0
- SSH

#### Describe the problem you're observing:
Searching in column filter can't be performed without `Show row count`

#### Steps to reproduce, if exis

[2021-12-23 15:20] GustavoContreiras opened #15004 "Connections missing / not showing"
#### System information:
- Operating system (distribution) and version **MacOS 11.6**
- DBeaver version **21.3.1**
- Additional extensions **none**

#### Connection specification:
- Database name and version **MySQL 8.0**, **PostgreSQL**
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? **Pritunl software for VPN access**

#### Describe the problem you're observing:
All my connectio

[2021-12-23 15:21] tati-kru commented on #1426
@dinmukhamed09 you can find the whole list of differences here: https://dbeaver.com/edition/.

[2021-12-23 18:15] melienherrera opened #15006 "Add Astra DB to list of driver configurations"
**Is your feature request related to a problem? Please describe.**
Wanted to add Astra DB as one of the options of driver configurations built into DBeaver.

**Describe the solution you'd like**
Below is the driver description for Astra DB.

**DRIVER DESCRIPTION:**
- Driver Name: `Astra DB`
- Driver Type: `Generic`
- Class Name: `com.simba.cassandra.jdbc42.Driver`
  - Library:   [SimbaCassandraJDB

[2021-12-23 18:16] melienherrera commented on #14891
@tati-kru Hi there! Thanks for the suggestion! Created the issue here: #15006

[2021-12-23 18:24] 4ndr3453rk3n5 opened #15007 "dbeaver shows null-value as result whereas mariadb itself returns a real value"
**system information**
- MacOS 11.6
- dbeaver Version 21.1.4.202108020335

**connection**
- mariadb 10.5.8

**problem description:**
dbeaver shows a result which is different from the real result of the sql - query.
The following query: select STR_TO_DATE('', '%d.%m.%Y'); executed on mariadb results a real date:  0000-00-00  whereas dbeaver shows [NULL] as result, which is obviously wrong.

![imag

[2021-12-23 19:29] uslss commented on #15007
thanks for the report

[2021-12-23 19:32] uslss commented on #15004
Hi @GustavoContreiras , probably you have more than one project, could you check this? Only connections from the active project are shown in DB Navigator.
![image](https://user-images.githubusercontent.com/31996417/147284550-8fba7484-67b5-4f47-9cf3-d3045866df41.png)

[2021-12-23 21:00] LonwoLonwo opened #15008 "Session Manager. Incorrect columns moving behavior."
DBeaver 21.3.2

Open Session Manager (PG as an example)
Use "Group by column" on any column.
Use "Clear grouping"
Open the "Column config" dialog (click on any column name)

Expected result: columns order in the dialog is equal to the order of visible columns in the session manager
Actual: it isn't

![kb3OJ4Sbzj](https://user-images.githubusercontent.com/82543000/147103181-b2aef5dc-7d82-4c5b-9e00-

[2021-12-23 21:08] ShadelessFox commented on #15007
Hello @4ndr3453rk3n5,

The driver itself treats an empty date as null. It is the correct behavior.

[2021-12-23 21:08] #15007 closed, assigned to nobody

[2021-12-23 21:18] LonwoLonwo commented on #11314
So, in conclusion.

When working with the session manager, you have some additional options.

1. You can disable (hide) any columns in the "Configure Columns" dialog.

![2021-12-24 00_04_02-DBeaver Ultimate 21 3 2 - Sessions - MySQL 8 0](https://user-images.githubusercontent.com/45152336/147291693-06d4eb90-3dcf-4c1b-974f-f1dcc7a819b6.png)

2. You can open data from the session manager in the SQL E

[2021-12-23 21:18] #11314 closed, assigned to LonwoLonwo

[2021-12-24 01:10] bianyun1981 commented on #14964
[code]

Hello, @Skydiveroid,

The above four lines of hard-coded code were originally added in @ShadelessFox's commit to pull request #14948 (short sha: 2ecaf3b), so I did not count them at first. Considering that those hard-coded lines in the main post will be modified in 21.3.3 milestone, I think it might be better to cancel pull request #14948 first, and wait for the 21.3.3 version to be releas

[2021-12-24 01:28] fin-illusion commented on #14981
Thank you. This setting is all right.

[2021-12-24 03:15] CheyenneForbes commented on #11255
What's the status of this?

[2021-12-24 07:16] Matvey16 opened #15009 "Incorrect column name in grouping panel"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.2

#### Connection specification:
- Database name and version Derby 10.15.1.3
- Driver name Apache Derby Network Client JDBC Driver 10.15.2.0
- SSH

#### Describe the problem you're observing:
The `Count(*)` column in grouping panel have the wrong name

#### Steps to reproduce, if exist:
1. Open a t

[2021-12-24 07:26] moshimowang326 opened #15010 "Batch indent or Batch align"
I hope the dbeaver will add Batch indentation or  Batch alignment for sql editor . I have used the datagrip application has these features!

Having  these  features  would  make   dbeaver  even  more  useful .

[2021-12-24 07:39] #15000 closed, assigned to uslss, LonwoLonwo

[2021-12-24 07:44] E1izabeth opened #15011 "Filter result set on aliased column doesn't work for array type"
https://user-images.githubusercontent.com/28875055/147336024-1075f8ac-b5e1-4e47-b807-ddf6c84f2f96.mp4

[2021-12-24 07:50] kseniiaguzeeva opened #15012 "Pop up dialog for defining virtual keys appears in Clickhouse"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.3.2 EA

#### Connection specification:
- Database name and version Clickhouse
#### Describe the problem you're observing:
Virtual tab doesn't exist in Clickhouse but the pop up to define vfk appears on attempt to save table changes

https://user-images.githubusercontent.com/51405061/147332002-2fe3a315-5

[2021-12-24 08:34] tati-kru commented on #15006
@melienherrera it seems that provided driver is not open-source. We cannot add this to DBeaver Community.

[2021-12-24 08:51] ShadelessFox commented on #15010
Hello @moshimowang326,

I'm not sure what you are talking about.

Would you please provide more information (including screenshots) of the feature you want?

[2021-12-24 09:02] moshimowang326 commented on #15010
sorry! It's bothering you. the features like this:
![image](https://user-images.githubusercontent.com/54019970/147337575-c893fb0b-4536-4814-bcc8-c6c3546576dd.png)
![image](https://user-images.githubusercontent.com/54019970/147337657-ad25de40-fcc0-42a6-b7c6-61b8cad7dd73.png)

[2021-12-24 09:04] moshimowang326 commented on #15010
sorry! It's bothering you. You can check the attached video!

[2021-12-24 09:09] ShadelessFox commented on #15010
So you're talking about multi cursor feature.

We do have that already, you can enable it using <kbd>Alt+Shift+A</kbd>, or by using <kbd>Edit</kbd> &rArr; <kbd>Enable Block Selection</kbd>.

[2021-12-24 09:22] apdma commented on #15002
So, I checked EXPLAIN_* tables and find out, what they all is empty.
On second DB the EXPLAIN_* tables has some rows.
So for some reason I can't trigger insert in explain tables and dbeaver read nulls

[2021-12-24 09:24] moshimowang326 commented on #15010
YSE!
I find this feature thank you very much!

[2021-12-24 09:27] #15010 closed, assigned to nobody

[2021-12-24 09:51] Matvey16 commented on #13924
New ticket #15011 created for array columns. Verified for other types

[2021-12-24 09:51] #13924 closed, assigned to E1izabeth, Matvey16

[2021-12-24 10:02] apdma commented on #15002
Ok, so not so simple how i think.
1) When I start explain with "Ctrl+Shift+E" it not fill any EXPLAIN_* tables
2) When I start explain with "explain ALL FOR SELECT 1 FROM dual;" it create rows
3) If I for the giggles start explain "Ctrl+Shift+E" on query "explain ALL FOR SELECT 1 FROM dual;" I get the error
[code]
So I don't fully undestand what dbeaver do if the "Ctrl+Shift+E" was started

[2021-12-24 10:22] LonwoLonwo commented on #8983
Close the ticket again due to the lack of response from the user.

[2021-12-24 10:22] #8983 closed

[2021-12-24 10:31] #14981 closed, assigned to nobody

[2021-12-24 10:44] Destrolaric commented on #14960
@knwpsk  I am glad what update fixed the issue. Thank you for your research. I am closing the ticket.

[2021-12-24 10:44] #14960 closed, assigned to Destrolaric

[2021-12-24 11:24] plotn commented on #14986
I did the test:

[code]

Both filters (f1_enum and f2_enum) behave as the same (both with bugs)

[2021-12-24 12:13] dime0169 commented on #14958
@Matvey16 No Im using MySQL

[2021-12-24 13:32] Heliner opened #15016 "sql from `copy from sql` can't be successful executed"
#### System information:
- Operating system (distribution) and version : Mac os BigSur
- DBeaver version :version 21.3.1.202112130652
- Additional extensions: None

#### Describe the problem you're observing:
copy from sql not get the right sql
#### Steps to reproduce, if exist:
[code]

then
<img width="651" alt="图片" src="https://user-images.githubusercontent.com/32272517/147355506-fee2e8bd-c1cd-4

[2021-12-24 14:09] SevC10 commented on #14956
Same issue here

**System information:**

- _Operating system:_ Windows 10 Pro (20H2), build 19042.1415
- _DBeaver version:_   21.1.5.202108160727

**Connection specification:**

- _Database:_ MySQL Community on AWS RDS
- _Driver name:_ mysql:mysql-connector-java:RELEASE, version 8.0.17
- _Do you use tunnels or proxies:_ no

Describe the problem you're observing:
When exporting ERD to .graphml, if

[2021-12-24 19:26] ShadelessFox commented on #15016
Hello @Heliner,

I don't see any difference between the two code snippets. Is there a mistake?

[2021-12-24 21:17] E1izabeth opened #15017 "Error loading database schema in Babelfish"
Observable when expanding database schema node after commit 3a0c27bf824d01cca014d25950e511389d702f3f

![image](https://user-images.githubusercontent.com/28875055/147372104-fdaa955a-18b1-4a98-9490-19b5301b23f0.png)

These queries are not working for Babelfish:
[code]
[code]

<details><summary>Stack trace from debug log</summary>

[code]
</details>

[2021-12-25 11:23] andriusign opened #15018 "Table view flashes, impossible to work 21.3.1"
Open Dbeaver 21.3.
Table view flashes on each mouse move event, impossible to work at all. Glitches start randomly, sometimes on maximize window, sometimes just when program opens.

![Untitled](https://user-images.githubusercontent.com/14263959/147383920-fa70d0c2-25db-4bcf-9185-60639131c91b.png)

OS: Linux

[2021-12-25 12:52] ShadelessFox commented on #15018
Hello @andriusign,

Thanks for the report.

Duplicate of #14751.

[2021-12-25 12:52] #15018 closed, assigned to nobody

[2021-12-25 13:42] ShadelessFox commented on #13507
The first issue is database-specific. Some databases perform a case-insensitive search by default. In offline search, we always perform a case-insensitive search. So won't fix.

[2021-12-25 17:10] uslss commented on #14555
can't reproduce in 21.3.2

[2021-12-25 21:23] ac10n commented on #5095
![image](https://user-images.githubusercontent.com/5188263/147393740-807223a4-6179-45f6-8c02-f0c92eff8455.png)

I'm using DBeaver Version 21.3.1.202112130652.
KDE Plasma 5.23.3 on Fedora. Dual Monitor (laptop: Frame.work 2256*1504@100%, External: Dell 32 4k@150%)

Same behavior in single monitor as well.

My only essential tool that does not work with hidpi is DBeaver. It also does not care about

[2021-12-26 02:17] tarungk opened #15026 "Project submit feature not available"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-26 02:34] #15026 closed, assigned to nobody

[2021-12-26 09:08] hktalent opened #15028 "Elasticsearch no tables"
<img width="354" alt="image" src="https://user-images.githubusercontent.com/18223385/147403647-1c200c91-0e71-4156-8e3a-7fdfee49e08b.png">

<img width="618" alt="image" src="https://user-images.githubusercontent.com/18223385/147403638-718f6e02-7a96-417a-88b0-c8b3df28b2a4.png">
<img width="984" alt="image" src="https://user-images.githubusercontent.com/18223385/147403652-45628b0a-8dc0-4140-87f1-4c80

[2021-12-26 09:21] hktalent commented on #15028
<img width="681" alt="image" src="https://user-images.githubusercontent.com/18223385/147403943-64c21bba-e78a-4988-ac87-080fcd476da7.png">
docker ps -a
17a25bffa763   elasticsearch:7.16.2             "/bin/tini -- /usr/l…"   27 hours ago   Up About an hour            0.0.0.0:9200->9200/tcp, 0.0.0.0:9300->9300/tcp                                                                         es
<img width=

[2021-12-26 09:47] MikePryadko commented on #13576
@Matvey16 yes, I'm sure. And yes - right now I've updated Zoom exactly by this way :relieved:

[![Watch the video](https://img.youtube.com/vi/LltpSm14eY8/hqdefault.jpg)](https://youtu.be/LltpSm14eY8)
(Click image to go to youtube)

[2021-12-26 13:35] allanlaal commented on #13933
whats the prognosis? :)

[2021-12-26 15:25] DariaMarkaryan opened #15030 "Notes are duplicated after refresh"
#### System information:
- Win10, DBeaver CE 21.3.2

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
Create a note in ERD, refresh it and try to drag-n-drop the note. Or create note, drag-n-drop and refresh -> the duplicate appears where the note was moved from

#### Include any warning/errors/backtraces from the logs

https://user-images.githubusercontent.com/43252

[2021-12-26 15:32] davideio87 opened #15031 "Lock while editing Mysql procedures"
Hello,
I have a "problem" on my 21.1 version of dbeaver, but I'm facing it since a lot of previous versions.

I use it to work on a "Development" Mysql database, so the Auto commit is disabled

**Here is the issue:** when I open a stored procedure (by double click) and edit it directly inside the Properties editor, most of the time ( let's say 90%) I can't save my edit because when I press Save->

[2021-12-27 01:15] tianke3477 opened #15036 "Invalid column name 'is_external'"
Hello,

#### System information:
Win10, DBeaver CE 21.3.2

#### Connection specification:
Microsoft SQL Server 2014
-
#### **Error Info**

!ENTRY org.jkiss.dbeaver.model 4 0 2021-12-27 09:05:55.594
!MESSAGE Invalid column name 'is_external'.
!SUBENTRY 1 org.jkiss.dbeaver.model 4 0 2021-12-27 09:05:55.594
!MESSAGE Invalid column name 'is_external'.
!STACK 0
com.microsoft.sqlserver.jdbc.SQLServerExc

[2021-12-27 02:12] ReconditenessPerson commented on #14664
[sql.txt](https://github.com/dbeaver/dbeaver/files/7778004/sql.txt)

I updated the latest version of 21.3 Version 2, the problem still occurs

[2021-12-27 02:17] ReconditenessPerson commented on #14664
I don't think it's a script problem, because the same script is displayed normally on the dbeaver on my other computer, and the operating system is consistent with the dbeaver version.

[2021-12-27 03:04] zane-rl opened #15037 "pg sql generation error"
#### System information:
- OS: win10
- DBeaver version：21.3.2.202112261636

#### Describe the problem you're observing:
when a table column type is jsonb, pg generate insert sql error
#### Steps to reproduce, if exist:
open table, and then generate insert sql, the jsonb column content include redundant quotation mark
![jsonColumn_insert_20211227104051](https://user-images.githubusercontent.com/102

[2021-12-27 04:06] Haikson opened #15038 "Can not open CLOB in external editor"
#### System information:
- Operating system (distribution) and version: macOS Monterey 12.1
- DBeaver version: 21.3.2
- Additional extensions: -

#### Connection specification:

- Database name and version: Oracle Database 19c Enterprise Edition Release 19.0.0.0.0 - Production
- Driver name: Oracle JDBC driver 12.2.0.1.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no tunnels

#### Describ

[2021-12-27 05:18] Matvey16 commented on #14737
Based on the error message it seems like there is a problem with krb5.conf file. Can you check that everything is correct there?

[2021-12-27 05:28] Matvey16 commented on #14958
@dime0169 Right at the beggining of error message it says `org.eclipse.core.runtime.CoreException: Plug-in org.jkiss.dbeaver.ext.oceanbase.ui was unable to load class org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLSessionEditor.`
Can you check what driver appears at the top right corner of connection cofiguration? If it is MySQL than it lools like a bug that should be fixed asap.

![image](https://us

[2021-12-27 05:50] LonwoLonwo commented on #15036
Hello @tianke3477
Thanks for the bug report.
At what moment does the error occur?

[2021-12-27 05:58] jason6822 commented on #15036
when Loading Tables, Microsoft SQL Server 2016 has no this bug

[2021-12-27 06:12] Haikson commented on #15038
The problem is solved by assigning a file assotiation

[2021-12-27 06:12] #15038 closed, assigned to nobody

[2021-12-27 06:52] tianke3477 commented on #15036
Hello @LonwoLonwo

![1640587885](https://user-images.githubusercontent.com/613854/147443386-5eb35e89-404e-4df2-a099-8e3e6624d4cb.png)

[2021-12-27 06:59] timotirta commented on #15036
Same here. got it on Microsoft SQL Server 2016 when loading the table.

[2021-12-27 07:23] DariaMarkaryan opened #15040 "Inheritance arrow in ERD is duplicated on refresh"
#### System information:
- Win10, DBeaver CE 21.3.2

#### Describe the problem you're observing:

https://user-images.githubusercontent.com/43252954/147445965-5423243d-c3ad-474c-8ffd-b81f22a41fea.mp4

#### Steps to reproduce, if exist:
Open ERD with Inheritance relationship between tables in any database and refresh it

[2021-12-27 07:57] Destrolaric opened #15041 "HippieEngine enhancements"
- [x] Enable it by default
- ~~Make it case insensitive~~
- [x] Update Wiki page to contain information about what Hippie engine is (https://github.com/dbeaver/dbeaver/wiki/SQL-Assist-and-Auto-Complete)

[2021-12-27 08:06] Destrolaric opened #15042 "Disable `Append to the file` option for binary file formats"
XLSX files are binary. Appending to them will cause files to be unreadable. We need to turn off this functionality when the XLSX file is selected.

[2021-12-27 08:13] damianozucconi commented on #15036
Got the same on SQLServer 2008 R2

[2021-12-27 08:22] uslss commented on #15028
It seems jdbc connect requires Platinum subscription
https://www.elastic.co/downloads/jdbc-client

[2021-12-27 08:34] tanks-oracle opened #15045 "Little suggestion for metadata panel"
please add column's comment for metadata panel, so increase convenience ,thanks.

[2021-12-27 08:38] GriGrim commented on #14737
I didn't create neither krb5.conf, nor krb5.ini file.
Before I upgraded Exasol JDBC driver to version 7.1 kerberos connection was working fine. Now I rolled back Exasol JDBC driver to 6.2, but kerberos connection is still failing. My colleagues who didn't upgrade Exasol JDBC driver still can connect without any problems.
Interesting is that ExaPlus client, which is using the same JDBC driver, is p

[2021-12-27 08:40] uslss commented on #15045
thanks for suggestion

closed as a duplicate of #11054

[2021-12-27 08:40] #15045 closed, assigned to nobody

[2021-12-27 08:58] hktalent commented on #15028
@uslss  I tried every version of the driver, but all failed

[2021-12-27 09:22] DariaMarkaryan opened #15046 "Import GIT project using the New Project wizard throws coreException"
#### System information:
- Win10, DBeaver CE 21.3.2

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/43252954/147456427-20559465-eb7b-41a9-b108-6f26376a8c28.png)

#### Steps to reproduce, if exist:
open projects tab and start cloning project from GIT (e.g. https://github.com/dbeaver/dbeaver-qa.git).
On this step select Import using the New Project wiz

[2021-12-27 10:15] uslss commented on #13663
still reproducible in 21.3.2
![q9Sx0olbKd](https://user-images.githubusercontent.com/31996417/147461450-ee82b297-5955-4db1-81cd-0c2a36f9e78e.gif)

[2021-12-27 10:25] isantolin commented on #8057
Please! Anyone can create RPM repository updates? <3

[2021-12-27 10:55] uslss commented on #13476
@MebsSystem Uncheck Blank line is statement delimiter option in Preferences, so blank lines will be ignored
![image](https://user-images.githubusercontent.com/31996417/147465016-afc62f9a-0dc9-42c1-85a0-7e3e7135f187.png)

[2021-12-27 10:59] uslss commented on #13390
still cannot reproduce it against 21.3.2.
@RamonCar66 is it still actual for you? please provide a video of an issue if it is

[2021-12-27 11:20] dime0169 commented on #14958
Hello @Matvey16,

I confirm it's MySQL as you can see on the screenshot below :

![image](https://user-images.githubusercontent.com/96423971/147466980-72ca1716-6868-4b01-ad01-942983a3c2f1.png)

Nice if it could be fixed asap ! :)

[2021-12-27 12:01] uslss commented on #15017
verified

[2021-12-27 12:01] #15017 closed, assigned to E1izabeth, uslss

[2021-12-27 12:12] LonwoLonwo commented on #15037
Hello @rboleynl

Thanks for the bug report.

As I can see, this issue is only for "Generated insert/update" queries, not in the actual insert/update script.

![2021-12-27 15_10_14-Event](https://user-images.githubusercontent.com/45152336/147470734-d6291efc-3438-4660-84fb-d4c855b24593.png)

[2021-12-27 12:20] LonwoLonwo commented on #14958
Hello @dime0169

Can you open Session Manager from the Administer tab?

![2021-12-27 15_17_13-DBeaver Ultimate 21 3 1 - Sessions - MySQL 5 5](https://user-images.githubusercontent.com/45152336/147471173-4c8ff81a-b242-4925-a31e-e6113ba61a7b.png)

Also, please can you share your "Connection view" settings?

![2021-12-27 15_17_50-DBeaver Ultimate 21 3 1 - Sessions - MySQL 5 5](https://user-images.git

[2021-12-27 12:30] uslss commented on #15036
verified

[2021-12-27 12:31] LonwoLonwo commented on #15028
Can you provide more [error logs](https://github.com/dbeaver/dbeaver/wiki/Log-files), please?

[2021-12-27 12:36] uslss commented on #15028
error appears after driver update e.g. to 7.16.2.
At first attempt of the Test connection:
[code]
Second attempt:
[code]

[2021-12-27 12:38] uslss commented on #14545
verified

[2021-12-27 12:38] #14545 closed, assigned to uslss, ShadelessFox

[2021-12-27 12:42] uslss commented on #14192
verified

[2021-12-27 12:42] #14192 closed, assigned to uslss, ShadelessFox

[2021-12-27 12:43] uslss commented on #14132
verified

[2021-12-27 12:43] #14132 closed, assigned to E1izabeth, uslss

[2021-12-27 13:15] Matvey16 commented on #14749
@lpossamai Can you check if it was fixed for you in the latest version?

[2021-12-27 13:19] #14712 closed, assigned to nobody

[2021-12-27 13:19] clayrisser commented on #6581
I'm having the same issue on Debian using SwayWM.

[2021-12-27 13:20] #14754 closed, assigned to nobody

[2021-12-27 13:26] rafaelsanchezsouza commented on #2235
Hello!

I'm on Windows 10, working with Dbeaver 21.3.2

I have been using DBeaver with Informix and I'm experiencing exactly the same issues described here in [2322](https://github.com/dbeaver/dbeaver/issues/2322): autocomplete won't work for columns and I have to explicit the schema for tables

Thank you for this amazing tool!

[2021-12-27 13:27] uslss opened #15050 "NPE appears when trying to change date format"
DBeaver 21.3.2

*STR*
Try to change date format to `yyyy-MM-dd HH:mm:ss[.SSSSSSSSS]` and you'll get below NPE:
[code]

_Originally posted by @zhicwu in https://github.com/dbeaver/dbeaver/issues/14772#issuecomment-985411211_

[2021-12-27 13:28] uslss commented on #14772
Close this issue as resolved.
Ticket for NPE is created

[2021-12-27 13:28] #14772 closed, assigned to nobody

[2021-12-27 13:30] uslss commented on #14540
There has been no update on the issue for a long time.
If it is still present, feel free to reopen it.

[2021-12-27 13:30] #14540 closed, assigned to nobody

[2021-12-27 13:30] uslss commented on #14578
There has been no update on the issue for a long time.
If it is still present, feel free to reopen it.

[2021-12-27 13:31] uslss commented on #14686
There has been no update on the issue for a long time.
If it is still present, feel free to reopen it.

[2021-12-27 13:31] #14686 closed, assigned to nobody

[2021-12-27 13:35] uslss commented on #13532
There has been no update on the issue for a long time.
If it is still present, feel free to reopen it.

[2021-12-27 13:35] #13532 closed, assigned to nobody

[2021-12-27 13:37] uslss commented on #14317
There has been no update on the issue for a long time.
If it is still present, feel free to reopen it.

[2021-12-27 13:37] #14317 closed, assigned to nobody

[2021-12-27 13:38] uslss commented on #14626
There has been no update on the issue for a long time.
If it is still present, feel free to reopen it.

[2021-12-27 13:38] #14626 closed, assigned to nobody

[2021-12-27 13:38] uslss commented on #13900
There has been no update on the issue for a long time.
If it is still present, feel free to reopen it.

[2021-12-27 13:38] #13900 closed, assigned to nobody

[2021-12-27 13:41] uslss commented on #11415
There has been no update on the issue for a long time.
If it is still present, feel free to reopen it.

[2021-12-27 13:41] #11415 closed, assigned to nobody

[2021-12-27 13:41] uslss commented on #13896
There has been no update on the issue for a long time.
If it is still present, feel free to reopen it.

[2021-12-27 13:41] #13896 closed, assigned to nobody

[2021-12-27 13:41] #14765 closed, assigned to nobody

[2021-12-27 14:14] serge-rider commented on #15036
DBeaver 21.3.2 was re-published.
You can download new fixed binaries from dbeaver.io or from GitHub

[2021-12-27 14:30] ayharano opened #15052 "sha256 mismatch when installing version 21.3.2 with brew"
#### System information:
- Operating system (distribution) and version: macOS Big Sur 11.6.2 x86_64
- DBeaver version: 21.3.2

#### Describe the problem you're observing:

Could not install dbeaver using brew, because of sha256 mismatch.

#### Steps to reproduce, if exist:

`brew reinstall --cask dbeaver-community`

#### Include any warning/errors/backtraces from the logs

[code]

[2021-12-27 15:10] ayharano commented on #15052
~~I opened a PR for homebrew as https://github.com/Homebrew/homebrew-cask/pull/116516~~ and this one in a similar manner to how https://github.com/Homebrew/homebrew-cask/pull/106704 and https://github.com/dbeaver/dbeaver/issues/12699 were done.

Was there a new build using the same version number?

**EDIT**: as https://github.com/Homebrew/homebrew-cask/pull/116520 handles both Intel and aarch64, c

[2021-12-27 18:23] Kaspary commented on #6581
Same issue on Ubuntu with KDE!
![2021-12-27_15-20](https://user-images.githubusercontent.com/30197537/147497667-20164c2c-386c-4eef-b10b-e9c9038634c5.png)
![2021-12-27_15-22](https://user-images.githubusercontent.com/30197537/147497720-3b0e2258-9172-4e3d-a8d5-b2fbea51fe11.png)

[2021-12-27 18:52] mayank4all opened #15054 "SHA 256 mismatch when installing dbeaver using Homebrew"
System information:
Operating system (distribution) and version: macOS Big Sur 11.2.3
DBeaver version: 21.3.2
Describe the problem you're observing:
Could not install dbeaver using brew, because of sha256 mismatch.

Steps to reproduce, if exist:
brew install --cask dbeaver-community

Include any warning/errors/backtraces from the logs
Running `brew update --preinstall`...
==> Downloading https://d

[2021-12-27 19:10] ayharano commented on #15052
Solved by https://github.com/Homebrew/homebrew-cask/commit/e38ba101a6883a8617a3ed71e694842fc583e815

[2021-12-27 19:10] #15052 closed, assigned to nobody

[2021-12-27 19:11] ayharano commented on #15054
This commit should have solved that issue: https://github.com/Homebrew/homebrew-cask/commit/e38ba101a6883a8617a3ed71e694842fc583e815

[2021-12-27 21:39] #9593 closed

[2021-12-27 21:49] lpossamai commented on #14749
Updated to the 21.3.2.202112271055 version. Same issue.

[code]

[2021-12-28 01:25] Cheney-77 commented on #8235
@serge-rider  hello,i just want to know is there any plan to support other database type,like postgresql ? looking forward to your reply,tkx!!

[2021-12-28 01:38] zane-rl commented on #15037
@LonwoLonwo you are right，just only for "Generated insert/update" queries，plsql execute this generate insert sql will result in sql query not match.

[2021-12-28 02:49] hktalent commented on #15028
<img width="479" alt="image" src="https://user-images.githubusercontent.com/18223385/147522181-db5f78df-6a2d-4e27-a801-3c403bef2bad.png">
<img width="691" alt="image" src="https://user-images.githubusercontent.com/18223385/147522198-df5c9fc0-483d-4d09-80fe-c2ddf0c3bc9a.png">
<img width="868" alt="image" src="https://user-images.githubusercontent.com/18223385/147522246-70327524-a18f-40d8-b187-9c668

[2021-12-28 03:21] hktalent commented on #15028
[code]

[2021-12-28 04:30] hktalent commented on #15028
<img width="1136" alt="image" src="https://user-images.githubusercontent.com/18223385/147528155-eeb71e4a-569b-4375-905a-042218d36dff.png">
Apparently does not support 7.16.2

[2021-12-28 04:43] hktalent commented on #15028
http://0.0.0.0:9200/_xpack/license
<img width="666" alt="image" src="https://user-images.githubusercontent.com/18223385/147528919-cfbf9c91-4471-44ac-9bb0-bcbd0f7a9c5b.png">
copy to file
~/.eclipse_keyring

[2021-12-28 06:23] E1izabeth opened #15059 "Don't change case for quoted identifiers"
There is an option to change case of column and table names in SQL export wizard (Identifier case). When column or table name is quoted it transforms too. We don't need to change case for quoted identifiers.

[2021-12-28 07:09] mayank4all commented on #15054
Yes, this issue is resolved now. Thanks @ayharano
Closing the issue.

[2021-12-28 07:09] #15054 closed, assigned to nobody

[2021-12-28 07:23] LonwoLonwo commented on #13465
I can't reproduce it against in DBeaver 21.3.2
Probably fixed in previous releases.

![2021-12-28 10_18_11-DBeaver Ultimate 21 3 2 - _postgres 13 3_Script-97](https://user-images.githubusercontent.com/45152336/147539517-6b6ee11c-e6f7-4692-8e01-868784ee5753.png)

If the issue arises again - feel free to reopen this ticket.

[2021-12-28 07:23] #13465 closed, assigned to LonwoLonwo

[2021-12-28 07:25] zuzzz opened #15062 "Absent Refresh button in Custom Diagrams"
Why did remove the Update and Save buttons on the toolbar, in the custom diagram window?
Hotkeys (ctrl+s, f5) still work, but this is not always convenient.

This is somehow related to problem issue [/dbeaver-ee/issues/587](https://github.com/dbeaver/dbeaver-ee/issues/587). I have no access to this issue.

#### System information:
- Operating system: Windows 10
- DBeaver version: 21.3.2

[2021-12-28 07:44] januwA commented on #1849
This problem makes me want to uninstall dbeaver ...

[2021-12-28 07:48] tucsale commented on #14958
I unfortunately have the same problem with mysql and maridb drivers
<img width="865" alt="image" src="https://user-images.githubusercontent.com/5597865/147541493-3c41d42c-0bda-4e2d-ab46-eb694020824b.png">

[2021-12-28 07:55] DariaMarkaryan opened #15064 "Search a number as a whole word works like "contains""
#### System information:
- win10, DBeaver CE 21.3.2

#### Describe the problem you're observing:
If you search word in data editor with checked "Whole word" option, it works properly, but if you try to find, for example, number "5" all cells that contain it will be highlighted
![image](https://user-images.githubusercontent.com/43252954/147542389-f405193b-7385-437b-a11a-4c64e644ad31.png)

[2021-12-28 08:05] DariaMarkaryan opened #15065 "Ordering in column header isn't displayed if you set it in custom filtering"
#### System information:
- Win10, DBeaver CE 21.3.2

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/43252954/147543416-4f9c7fd3-65a7-44a8-87b8-38f3781e2b89.png)

#### Steps to reproduce, if exist:
Go to data editor, click on Customize filters button and set ordering
![image](https://user-images.githubusercontent.com/43252954/147543539-c6774eec-9a83-4

[2021-12-28 08:18] Destrolaric opened #15066 "Data Transfer wiki update"
New functionality was implemented in data transfer. We need to update the wiki with information about new features. Also, the wiki lacks basic features description.
- Add information about append to end feature
- Information about settings

[2021-12-28 08:36] Destrolaric opened #15067 "[XLSX] Allow to append new data to existing file in Data-transfer"
Currently, we cannot append any information towards the XLSX format. If something is appended file becomes unreadable.

**Describe the solution you'd like**
If the XLSX format is selected, we need to append the required information correctly.

[2021-12-28 08:51] uslss commented on #13744
verified

[2021-12-28 08:51] #13744 closed, assigned to uslss, ShadelessFox

[2021-12-28 08:54] trydofor opened #15068 "Tools/Restore database Must confirm before [start]"
#### System information:
- Operating system (distribution) and version: Mac
- DBeaver version: 21 CE

#### Connection specification:
- Database name and version : Mysql 5.7
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

i have a friend, and
he click [start] of Tools/Restore,
he lost his job,
he restore wrong data.

he just dump dat

[2021-12-28 08:57] uslss commented on #13935
verified

[2021-12-28 08:57] #13935 closed, assigned to uslss, ShadelessFox

[2021-12-28 09:05] ShadelessFox commented on #15067
Duplicates #15042

[2021-12-28 09:49] serge-rider commented on #14958
Fixed (problem was caused by duplicated declaration of session editor in Oceanbase extension)

[2021-12-28 09:54] DoS174 opened #15069 "[clickhouse] Use SQL to limit fetch size is not working"
I select "Use SQL to limit fetch size" for DB in clickhouse and the query does not change. In the end, LIMIT does not appear.
Checked in postgresql. Everything works there

[2021-12-28 10:35] Matvey16 opened #15070 "Exclude certain columns from search"
This feature request is based on #13876

We need to add an option to only include certain columns when performing a quick search on fetched rows.

Currently, the idea looks like this:
We will add a new attribute into Filter customization in the data editor. This attribute needs to have a boolean value that will point if this column should be included in a simple search with Ctrl+F and full-text se

[2021-12-28 12:44] Matvey16 commented on #14069
No longer reproducible

[2021-12-28 12:44] #14069 closed, assigned to Matvey16

[2021-12-28 12:57] flambchap opened #15071 "[Data Editor] Update table is executed N times if you press the Save button N times in a row"
#### System information:
- Operating system (distribution) and version Win 11
- DBeaver version 21.3.2 devel

#### Connection specification:
- Database name and version Hive 2.3 (although I believe it's not important)

#### Steps to reproduce, if exist:
1. Create a table in Hive with varchar of a float column (I think that DBMS, data types, and the number of columns are not important, though)
2. I

[2021-12-28 12:58] serge-rider opened #15072 "Migrate to Eclipse 2021-12"
We need to migrate to a new Eclipse platform (2021-12).

[2021-12-28 13:04] uslss commented on #14999
verified

[2021-12-28 13:04] #14999 closed, assigned to E1izabeth, uslss

[2021-12-28 13:11] uslss commented on #15028
@hktalent please, provide steps to reproduce the issue and what should be fixed in your opinion

[2021-12-28 13:58] LonwoLonwo commented on #13949
Fixed ![OaxMpHUahM](https://user-images.githubusercontent.com/45152336/147537715-0dca8050-eaf3-4039-af4e-fa73fa7c51f2.gif)

[2021-12-28 13:59] LonwoLonwo commented on #13495
Fixed. For PostgreSQL and Redshift (EE version - only there we have roles).

![2021-12-27 15_27_28-DBeaver Ultimate 21 3 1 - miriam](https://user-images.githubusercontent.com/45152336/147471775-dae61372-4154-4ba4-848f-b7d446f75adf.png)

[2021-12-28 14:02] uslss commented on #14350
verfified

[2021-12-28 14:02] #14350 closed, assigned to uslss, ShadelessFox

[2021-12-28 14:06] uslss commented on #14444
verified

[2021-12-28 14:06] #14444 closed, assigned to uslss, ShadelessFox

[2021-12-28 14:28] jaweed-khan commented on #10912
Same issue appeared in Ubuntu 20.04
Any suggestions on how to update the dbeaver on ubuntu after we install through snap ?

[2021-12-28 15:59] paoloholzl opened #15074 "Execute same SQL code on other DB or other connections"
One of the best things of dBeaver is if you have a sql command to execute one more then one DB, you can open more than one SQL editor for each connection and than copy and correct istruction and execute again.

For example you have two or connections using one or more DB with same structure.
I have connection to production server and an other connection to test server.
ALTER TABLE (test connection

[2021-12-28 16:08] LonwoLonwo commented on #15068
Hello @trydofor

Sad story.

Maybe we must add more confirmation dialogs for these dangerous operations like Restore or Truncate.
Maybe we must add some new double confirmation for DELETE operation and others.

[2021-12-28 16:08] paoloholzl opened #15076 "Schema ER lines"
Schema ER is better if you can request to start line left or right of fields connected in foreign keys (and not only to table box).
An other semplification my be permit to transform (for example using double click), relation line orientation to vertical or horizontal.

[2021-12-28 18:59] trajano commented on #1677
I think this was working at one point but it stopped working recently for me.  Should I re-open?

[2021-12-28 19:10] mcheremnov commented on #14770
I have the same issue. I install dbeaver from brew. Attaching full report below.
[dbeaver_report.txt](https://github.com/dbeaver/dbeaver/files/7786075/dbeaver_report.txt)

[2021-12-28 19:38] gitgud5000 commented on #8613
![SmilingSmilingCatGIF](https://user-images.githubusercontent.com/17186026/147601184-13270333-43f4-4d8c-95e2-ef26a7040011.gif)

[2021-12-28 19:42] dime0169 commented on #14958
Ok nice !
Thank you @serge-rider

[2021-12-29 02:16] hktalent commented on #15028
@uslss
I gave up, because this jdbc needs official authorization to be used, and there is currently no version authorization of 7.16.2, so I gave up

[2021-12-29 05:56] wangsvip opened #15078 "Can you add Doris and StarRocks DB"
Can you add support for Doris and StarRocks DB? This will be a great feature!

[2021-12-29 06:10] #15078 closed, assigned to nobody

[2021-12-29 06:40] Matvey16 commented on #14274
Can't be reproduce anymore

[2021-12-29 06:40] #14274 closed, assigned to Matvey16

[2021-12-29 07:21] Matvey16 commented on #14663
Verified

[2021-12-29 07:21] #14663 closed, assigned to ShadelessFox, Matvey16

[2021-12-29 07:54] morl-la opened #15079 "Unhandled event loop exception when opening the global search"
#### System information:
- Operating system (distribution) and version: mac 12.0.1
- DBeaver version: 21.3.2
- Additional extensions

#### Connection specification:
- Database name and version: postgresql 13, default driver

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/44611568/147636014-680809f0-eb27-4c68-883d-7bbe90df6a32.png)

#### Steps to repr

[2021-12-29 08:02] LonwoLonwo commented on #15079
Hello @morl-la

Thanks for the bug report.
Can you please be more specific about the steps to reproduce?

[2021-12-29 08:08] LonwoLonwo commented on #14618
Fixed.

![2021-12-28 18_39_39-DBeaver Ultimate 21 3 2 - _orcl_ Script-42](https://user-images.githubusercontent.com/45152336/147582715-538f3cfe-f1e0-44dc-940c-73723ed15582.png)

[2021-12-29 08:21] uslss commented on #15028
Unfortunately, we cannot fix elasticsearch issues.

[2021-12-29 08:21] #15028 closed, assigned to nobody

[2021-12-29 08:36] morl-la commented on #15079
I searched something using ^H, closed the search dialog, continued working, after a while did ^H again and the error popped. Don't have accurate reproduction steps...

[2021-12-29 08:45] LonwoLonwo commented on #15079
Did you use the full-text search? Or metadata search?

![2021-12-29 11_45_02-Search](https://user-images.githubusercontent.com/45152336/147643631-ea312ad1-2524-4f31-8501-c02f46ab840f.png)

[2021-12-29 08:48] Matvey16 commented on #1156
@ultra-chel Hello. I was not able to reproduce this issue, the only at least somewhat similar error can be found by using incorrect files in SSL settings. Can you test if those files are valid in any other application?

[2021-12-29 08:50] Matvey16 commented on #14770
@bupy What processor does your Mac have?

[2021-12-29 08:52] bupy7 commented on #14770
@Matvey16 Intel Core i5

[2021-12-29 08:53] morl-la commented on #15079
I only use the `File Search` tab.

[2021-12-29 08:53] Matvey16 commented on #14927
@VipSaran Unfortunately this plugin is not included in our installation package, so it needs to be reinstalled after every DBeaver update. Adding it to the package has other issues, but we will return to this in the future

[2021-12-29 08:55] uslss commented on #13949
verified

[2021-12-29 08:55] #13949 closed, assigned to uslss, LonwoLonwo

[2021-12-29 08:55] Matvey16 commented on #14935
@Sergey-V-R Can you please attach this file, so we can replicate this issue in our environment?

[2021-12-29 09:25] hktalent commented on #15028
@uslss  @Skydiveroid Thank you very much, welcome to China and invite you to drink

[2021-12-29 09:34] paoloholzl commented on #15076
![Example](https://user-images.githubusercontent.com/96785200/147647802-ce697b87-423f-4656-a60c-726c5aa95b21.png)

[2021-12-29 09:36] ultra-chel commented on #1156
in postgress settings ssl=on, but in my connection i am not using ssl because in the settings it is written that the ssl parameters are optional. I apologize if the previous message misinformed you

[2021-12-29 09:42] hktalent opened #15082 "mongo, no user ,no passed, cannot connect"
<img width="705" alt="image" src="https://user-images.githubusercontent.com/18223385/147648363-d5d16943-a984-4560-b4b2-62ac147b1cf7.png">
<img width="1167" alt="image" src="https://user-images.githubusercontent.com/18223385/147648391-aaeefeeb-7ad6-436a-9e5b-20558751d987.png">

[code]

## no user no passed
[code]

[2021-12-29 09:42] Matvey16 commented on #14939
@maciey You can configure the output window to be separate from resilts window and to automatically open when new message is sent. Do you think this functionality will be enough?

![kso76uAOVl](https://user-images.githubusercontent.com/82543000/147648549-285a1cdf-f54e-4a85-9412-29ed885e310f.gif)

[2021-12-29 09:45] hktalent commented on #15082
python code, is ok

[code]

[2021-12-29 10:41] Trid-collab opened #15084 "How the sqlite driver manually"
I am new to dbeaver. I have installed in my WIN10 machine, but the moment I am trying to connect to my SQLITE db its trying to download the SQLITE connection driver which is failing because of some SSL certificate error - maybe due to the security packages on my laptop.

Is it possible to download the said driver manually and install it. If so how - it nice if someone could direct me to the right

[2021-12-29 11:04] uslss commented on #15059
verified

[2021-12-29 11:15] flambchap commented on #15084
Hi. Please refer to this article. Do the actions described there help? https://github.com/dbeaver/dbeaver/wiki/Importing-CA-Certificates-into-DBeaver

[2021-12-29 11:18] flambchap commented on #15082
Hi @hktalent. You are trying to connect to MongoDB using the MonetDB driver. We only support MongoDB in our commercial products. https://dbeaver.com/download/

[2021-12-29 11:18] #15082 closed, assigned to nobody

[2021-12-29 12:23] Matvey16 commented on #15069
@DoS174 Thank you for the report, we will work on that.

[2021-12-29 12:27] Matvey16 commented on #15062
@zuzzz Thank you for the report, it is indeed a bug, that occured during new feature implementation, we will fwork on that.

[2021-12-29 12:29] Matvey16 commented on #15031
@davideio87 Have you tried unchecking an option to open separate connection for metadata read?

![image](https://user-images.githubusercontent.com/82543000/147662224-3d63189a-9677-42ab-a8af-9e95794a870c.png)

[2021-12-29 12:36] LonwoLonwo commented on #15079
probably linked with : https://github.com/dbeaver/dbeaver/issues/12114

[2021-12-29 12:50] VipSaran commented on #14927
The problem is -- I use the plugin for a few years now and only with DBeaver v21+ the problems started, so some sort of regression occured (or an incompatible change was introduced) in that/later versions.

[2021-12-29 13:02] mshakurov opened #15086 "task to dump database for all objects"
How do I set up a task that will back up all schemas and all objects? Why do I have to choose schemes every time? Maybe I don’t see any special settings? Or should I manually write a script? Is there a setting through the DBeaver interface?
I mean, if a new scheme is added, then it will not be reserved by the same task, and I need to configure the task.

[2021-12-29 13:39] Skydiveroid commented on #15076
Thanks for the idea!

[2021-12-29 14:17] hktalent commented on #15082
@akilovich
<img width="1052" alt="image" src="https://user-images.githubusercontent.com/18223385/147671318-73a25fd8-f3dd-487c-a31f-269463f475bb.png">
java.lang.IllegalArgumentException: Missing or empty user name
	at org.monetdb.jdbc.MonetConnection.<init>(Unknown Source)
	at org.monetdb.jdbc.MonetDriver.connect(Unknown Source)
	at org.jkiss.dbeaver.model.impl.jdbc.JDBCDataSource.lambda$0(JDBCData

[2021-12-29 14:27] flambchap commented on #15082
@hktalent Could you please create a ticket on our support system on dbeaver.com?

[2021-12-29 15:08] serge-rider opened #15090 "CSV import - column length auto-detect improvement"
Let's round detected string length to the next power of 2.
Too precise column lengths look weird.

[2021-12-29 15:19] serge-rider commented on #15090
Done

[2021-12-29 15:24] Heliner commented on #15016
Sorry, get a mistake:
this ` is conflict with  markdown grammar
in fact, we expect to get：
![image](https://user-images.githubusercontent.com/32272517/147677678-92927e30-eade-418a-a487-f63f6ddc1c02.png)

[2021-12-29 17:30] rahlquistqq commented on #14882
I reproduced this 2x on;
Windows 10 21H2 build 19044.1415
Java 64 bit 8 update 311 (build 1.8.0_311-b11)

Of note, I switched to the MS store version because the 64 bit installer from the Dbeaver site throws an error as well;
"Version 1.8.0_311 of the JVM is not suitable for this product. Version: 11 or greater is required."

<img width="1275" alt="2021-12-29 12_27_46-Settings" src="https://user-i

[2021-12-29 20:11] NFSpeedy commented on #837
Are we dragging the zoom feature into 2022? Is there a new ticket?

[2021-12-30 01:05] zingaburga commented on #4792
I decided to take a look at this again.

Current behaviour is *much* better than it used to be, so thanks a lot for the change.
Unfortunately, it seems like the correct database is selected only when opening SQL editor tabs, but not with database/table etc tabs.  In fact, I don't even get the option to select an active database from the dropdown at the top there, though it can be changed with the

[2021-12-30 03:02] sjivan commented on #3972
I ran into the same issue here. The problem is that Export with "Plain" format exports it in plain SQL script format however Import with the "Plain" format tried to load the sql script using pg_restore which does not support importing of plain sql file format and hence we see the error "input file appears to be a text format dump. Please use psql".

In order to restore the "Plain" format export, o

[2021-12-30 06:00] Matvey16 opened #15092 "Change UI for local clients settings"
We need to change the UI that is used when a user seys buck up or restore tasks. Currently the UI doesn't provide enough information for user to understend what is needed to start a task, this is especially confusing on Linux and Mac where MySQL and PostreSQL binaries are not downloaded automatically and nothing in the UI points to the fact that user needs to install them manually. The main confus

[2021-12-30 06:03] Matvey16 opened #15093 "Download local clients on Linux and Mac"
We need to find a way to download MySQL and PostgreSQL binaries needed for backup/restore tasks on Linux and Mac. We already do that for Windows, but users of other operating systems are very frustrated when they can't start a task and sometimes don't understand that those clients need to be installed manually.

[2021-12-30 06:04] Matvey16 commented on #7976
#14620
#15092
#15093

[2021-12-30 06:20] ghost commented on #14965
![image](https://user-images.githubusercontent.com/4089920/147726742-185010ed-57da-4980-ab2e-5f7b40af9b95.png)

[2021-12-30 06:23] ghost commented on #14965
"-Ddbeaver.scheduler.windows.legacy=true"

Deleting from the line throws an error

[2021-12-30 06:45] leezm opened #15094 "Enhance Status details"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions
win11
21.3
#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
any db,any driver,no SSH
#### Describe the problem you're observing:
After I executed a piece of SQL, the execution time displayed in the lower right co

[2021-12-30 07:20] uslss commented on #13700
verified

[2021-12-30 07:20] #13700 closed, assigned to Destrolaric, uslss

[2021-12-30 07:23] uslss commented on #13436
verified

[2021-12-30 07:23] #13436 closed, assigned to Destrolaric, uslss

[2021-12-30 07:31] uslss commented on #15042
The option should be unchecked in case it is greyed out
![image](https://user-images.githubusercontent.com/31996417/147730767-1a7e33cb-4087-4973-8b86-65691ca66e42.png)

[2021-12-30 07:35] uslss commented on #15090
verified

[2021-12-30 07:35] #15090 closed, assigned to serge-rider, uslss

[2021-12-30 07:45] Destrolaric opened #15095 "Auto-apply value sometimes brakes layout in toolbar"
#### Describe the issue you're observing:
Auto-apply value when pressed sometimes resizes layout for no apparent reason.
#### Steps to reproduce, if exist:
- Open panel menu with actions
- Press auto-apply value
- Sometimes layout shrinks

https://user-images.githubusercontent.com/20579256/147731707-ec7f05eb-79be-414f-a455-140b1eccaa5f.mp4

[2021-12-30 08:05] trydofor commented on #15068
thanks 👍

[2021-12-30 08:08] Sergey-V-R commented on #14935
Addition.
The problem is different. Dbeaver on my computer cannot correctly open a file whose name is typed in Cyrillic. Dbeaver can save such a file,
![20_Script on creation, UTF-8](https://user-images.githubusercontent.com/96280439/147732702-b8ebf67f-1ec6-4405-a6d3-857c1a2e5609.PNG)

and upon opening it gives the file a new default name.
![22_Script after opening, UTF-8](https://user-images.gith

[2021-12-30 10:03] dafuzzz opened #15097 "data lost when copying result as html with some column hidden"
#### System information:
- Operating system (distribution) and version: ubuntu 20.04
- DBeaver version: 21.3.2.202112271055
- Additional extensions

#### Connection specification:
- Database name and version: postgres (PostgreSQL) 10.19 (Debian 10.19-1.pgdg90+1)
- Driver name: PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:

Lost data w

[2021-12-30 10:18] Matvey16 commented on #14618
Verified

[2021-12-30 10:20] uslss commented on #15097
thanks for the report

[2021-12-30 10:28] Matvey16 commented on #14618
NPE when column is filtered while being selected using aliased table name

![image](https://user-images.githubusercontent.com/82543000/147743602-b15504d4-cd56-4916-a83f-588e27ae9173.png)

[2021-12-30 10:48] LonwoLonwo commented on #14618
Fixed

[2021-12-30 11:06] Trid-collab commented on #15084
Hi, Thank for the suggestion. I have tried the same as per the inputs, but it doesn't seem to work

[2021-12-30 11:10] ShadelessFox commented on #14965
Can you please post a full log?

It can be found according to this wiki page: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-12-30 12:02] LonwoLonwo commented on #15050
Also `yyyy-MM-dd HH:mm:ss[.ffffff]` pattern works fine, but `yyyy-MM-dd HH:mm:ss[.SSSSSSSSS]` - don't (It will show SSSSSSSSS letters instead of seconds part).

[2021-12-30 12:06] zhicwu commented on #14255
Please check below example for array of tuple:

https://github.com/ClickHouse/clickhouse-jdbc/blob/179527258d8456f10d9ea96512c0345500325eb5/clickhouse-jdbc/src/test/java/com/clickhouse/jdbc/ClickHouseStatementTest.java#L199-L224

It's somehow rendered as below in DBeaver Version 21.3.2.202112261636:
![image](https://user-images.githubusercontent.com/4270380/147750506-2b057764-7ed6-49d8-9077-e42422

[2021-12-30 12:35] tz3tzis commented on #2618
@serge-rider what about multiple saving of files? From what i understand saving a compressed file with a .zip extension works as expected. When i try to save multiple compressed files i only get the first file. Not sure if this behavior is the same for uncompressed files.

[2021-12-30 13:13] serge-rider commented on #14299
Fixed

[2021-12-30 13:46] Matvey16 commented on #15079
@morl-la Can you please attach the full log file?

[2021-12-30 13:47] maciey commented on #14939
This is excellent. I didnt know about this option.
Closing this item then

[2021-12-30 13:47] #14939 closed, assigned to nobody

[2021-12-30 13:50] Matvey16 commented on #15074
@paoloholzl There is an option in Enterprise edition to create composite tasks. They allow you to execute the same script on many different connections. Are you proposing something more specific?

[2021-12-30 13:57] Matvey16 commented on #15002
@apdma
It looks like expected behavior because pressing "Ctrl+Shift+E" leads to DBeaver sending this query `EXPLAIN PLAN SET QUERYNO = 164088 FOR explain ALL FOR SELECT 1 FROM dual;` and it is invalid.
So basically "Ctrl+Shift+E" wraps you query into explain and is intended to be used on queries that can be explained

[2021-12-30 13:58] morl-la commented on #15079
@Matvey16 I since then restarted DBeaver. Will the log be relevant? Where do I find it?

[2021-12-30 14:05] Matvey16 commented on #14618
Verified

[2021-12-30 14:05] #14618 closed, assigned to LonwoLonwo, Matvey16

[2021-12-30 14:08] Matvey16 commented on #13507
Verified

[2021-12-30 14:08] #13507 closed, assigned to ShadelessFox, Matvey16

[2021-12-30 15:08] andriusign commented on #14751
@ShadelessFox is anyone fixing this issue? This is very bad UX, it's been glitching for ages. What's the progress, when is it gonna be fixed? Can you drop that i3wm and just use something simple for a view?

[2021-12-30 16:13] Scoppio opened #15099 "Bad results due to DBeaver trying to be clever with my queries"
#### System information:
- MacOS BigSur 11.6
- DBeaver version 21.3.1

#### Connection specification:
- Postgresql 12.8 and 9.5.23
- SSH Tunnel

#### Describe the problem you're observing:

Whenver I make a query that selects data with a date column which has a value that is bigger than `now() - interval '4 hours'` (or any amount of hours to be clear), aka.: I want to select all rows that were cre

[2021-12-30 16:18] deeco opened #15100 "Unable to save connections made from CLI using connection parameters"
**Is your feature request related to a problem? Please describe.**
When creating a connection using the cli as per https://github.com/dbeaver/dbeaver/wiki/Command-Line#connection-parameters.
The connections do no persist once the dbeaver client is closed. Can see manual creations from ui in the data-sources.json are persistent

tried with create = true even though its default but connections never

[2021-12-30 19:47] ShadelessFox commented on #14751
Hello @andriusign,

As said before, it looks like an Eclipse issue. If so, we can't do anything about it, unfortunately.

We'll review the issue after the holidays. Thanks for the patience.

[2021-12-31 08:15] tianmingxing opened #15101 "SQL 错误 [1105] [HY000]: Unknown system variable 'transaction_read_only'"
#### System information:
- Operating system (distribution) and version: MacBook Pro M1
- DBeaver version: 21.3.0.202112040536

#### Connection specification:
- Database name and version: [mycat](https://github.com/MyCATApache/Mycat-Server) （mysql proxy software）
- Driver name: mysql
- Do you use tunnels or proxies: SSH

#### Describe the problem you're observing:

<img width="445" alt="image" src=

[2021-12-31 10:22] andriusign commented on #14751
@ShadelessFox have you contacted Eclipse developers at least? What are the updates from them? How long will take to fix this issue? Why depend on Eclipse at all?

[2021-12-31 11:33] ShadelessFox commented on #14751
It could be an Eclipse issue, and we need to confirm that before contacting their developers.

The reason why we depend on Eclipse is that DBeaver is built on top of Eclipse.

[2021-12-31 11:42] andriusign commented on #14751
Let's hope they fix this soon, otherwise bye bye to beaver :) And I suggest you drop everything you're doing and go fix this issue as this seems a blocker to use your software at all. Working is not possible at all.
In the meantime, can anyone recommend a NORMAL fully working Postgresql client (and NOT web based, NOT Eclipse based)?

[2021-12-31 13:10] flambchap commented on #14751
Hi @andriusign. What window manager do you use?

[2021-12-31 16:31] andriusign commented on #14751
@akilovich I am on Linux Mint 19.3 Cinnamon, Cinnamon version 4.4.8, kernel 5.4.0-91-generic

[2022-01-01 10:46] yevon opened #15102 "Dbeaver 21.3.2.202112271055 asks to perform a commit on exit even when no transaction is made (It shouldn't do it, bug),"
**Is your feature request related to a problem? Please describe.**
Dbeaver asks you to perform a commit on exit in the opened sql editor even when you didn't execute any script or insert or update statements. It should not ask for it if no transaction is made, or if just sql select statemetns were executed.

[2022-01-01 11:27] yevon opened #15103 "Additional issues with autocompletion, sql editor, and Hippie Engine in 21.3.2"
#### System information:
- Operating system (distribution) and version: Windows 11
- DBeaver version: 21.3.2
- Additional extensions

#### Connection specification:
- Database name and version: Oracle DB 19c
- Driver name: Oracle
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
 I was checking the new autocompletion features and the Hippie engine

[2022-01-01 16:18] LonwoLonwo commented on #15101
Hi @tianmingxing

Can you please tell me more about your issue? When did this issue appear? Also, a full [error log](https://github.com/dbeaver/dbeaver/wiki/Log-files) will be very helpful.

[2022-01-01 16:28] LonwoLonwo commented on #15103
https://github.com/dbeaver/dbeaver/issues/13861

[2022-01-01 20:42] LucasRibeiroRJBR commented on #6508
Still reproducible in 21.2.4

[2022-01-02 07:10] morl-la opened #15105 "When disconnected from a DB, pop-up should allow to re-connect"
**Is your feature request related to a problem? Please describe.**
I don't save password on my connections.
I have a dozen sql editor tabs open, each with its own connection.
Every day all of my connections disconnect (when the computer sleeps) and I have to start my day by manually connecting to each data source.

**Describe the solution you'd like**
When I run a query in an Sql editor for a disc

[2022-01-02 07:35] morl-la commented on #15079
I have inspected the logs, unfortunately they contain sensitive information like function names, connection names, even full queries when they fail, so I don't think I can upload them.
There are plenty of "unhandled event loop exception" errors in the logs, I grep-ed them to a file and attached, I hope it'll help.
[event_loop_exceptions.log](https://github.com/dbeaver/dbeaver/files/7798730/event_l

[2022-01-03 05:38] flambchap commented on #14751
Thanks. What's the output of the following command?

[code]

[2022-01-03 08:44] lukaseder opened #15106 "Dbeaver asks for bind parameter values when query uses PostgreSQL dollar quoted string literal syntax"
#### System information:
- Operating system (distribution) and version: Microsoft Windows [Version 10.0.22000.376]
- DBeaver version: Version 21.3.2.202112271055
- Java version: 11.0.9.1+1

#### Connection specification:
- Database name and version: PostgreSQL 14.1 (Debian 14.1-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit
- Driver name: pgjdbc
- Do

[2022-01-03 10:00] davideio87 commented on #15031
It seems exactly what I was looking for!

Thanks a lot!

[2022-01-03 10:00] #15031 closed, assigned to nobody

[2022-01-03 10:55] jppo opened #15107 "Mysql/MariaDB can't see sessions detail"
When I want to see sessions I get the following message :
Le plug-in org.jkiss.dbeaver.ext.oceanbase.ui n’a pas réussi à charger la classe org.jkiss.dbeaver.ext.mysql.ui.editors.MySQLSessionEditor.
Version : 21.3.2.202112271055
System Linux
Database MariaDB on Azure (PAAS),
same problem with On Prem MariaDB and MySQL databases
Regards
JP P

[2022-01-03 10:58] jppo commented on #15107
Addendum :
Sessions access is OK with Postgresql and MSSL databases.

[2022-01-03 18:49] MrHPotter commented on #4738
Hi. As i am new to Open Source in general i dont know if this will be Helpful and i do not know if you are still interest in solving this Issue. But i have used Lazy Dependencies in the Past for handling necessary cyclic dependencies. So you only Get the dependency once required.
The way i know this in C# is we inject the ServiceProvider[Or equivalent Factory - whatever is used for getting the dep

[2022-01-03 20:11] Xylandor commented on #13658
This is still an issue with latest version and because it's been awhile since any update on this, I thought I'd share another work-around. I found out that if you uncheck the `Show panels in results tabs` option (`SQL Editor > Panels`), this behavior does not occur. It's only a problem when Output is displayed as a results tab. This will cause the Output window to display on the right side of the

[2022-01-04 00:52] ghost commented on #14965
[sch.log](https://github.com/dbeaver/dbeaver/files/7804718/sch.log)
log

[2022-01-04 00:53] ghost commented on #14965
[sch_dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/7804720/sch_dbeaver-debug.log)
debug

[2022-01-04 01:44] tianmingxing commented on #15101
There is another situation to report. When I connect to the database with Navicat, it works normally, and it seems to do better

log file: [归档.zip](https://github.com/dbeaver/dbeaver/files/7804916/default.zip)

[2022-01-04 02:47] Teiemo opened #15109 "result break"
Hi. The values is Korean in grid is broken.
Another db tools is okay but dbeaver has problem

I think encoding setting problem. but I don't find way to set

Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit Production
NLS_LANGUAGE	AMERICAN
NLS_TERRITORY	AMERICA
NLS_CHARACTERSET	US7ASCII
NLS_NCHAR_CHARACTERSET	AL16UTF16

thank you

[2022-01-04 03:49] match-gabeflores commented on #14507
Can confirm this is fixed now. Thank you!

[2022-01-04 05:53] ShadelessFox commented on #14965
Thank you.

Could you please also provide Windows version information? I'm interested in particular numbers.

In can be found in <kbd>Settings</kbd> &rArr; <kbd>System</kbd> &rArr; <kbd>About</kbd>.

[2022-01-04 06:11] ShadelessFox commented on #15109
Hello @Teiemo,

Could you please provide a screenshot of the issue?

[2022-01-04 06:13] ShadelessFox commented on #15106
Thanks for the bug report.

[2022-01-04 06:17] 195820 opened #15110 "multiple rows paste"
Can copy multiple columns of a row in the table to the corresponding columns in multiple rows.
<img width="586" alt="Snipaste_2022-01-04_14-07-06" src="https://user-images.githubusercontent.com/48042626/148017010-2246f767-4046-4e43-a67b-dd66fa618b47.png">

what i hope:
<img width="523" alt="Snipaste_2022-01-04_14-08-05" src="https://user-images.githubusercontent.com/48042626/148017023-01ce4757-0bd

[2022-01-04 07:42] Cheney-77 commented on #9292
@uslss  hello,i know dbeaver provides  "Virtual Unique Keys" to delete/update a row-data without unique-key defined in the table,but  i‘m wondering if there any quick solution to  fix this problem? as far as I am concerned,ORACLE/SQLite has implemented ROWID,but how it works when the DB is postgresql/mysql?looking forward to your reply,tkx!!

[2022-01-04 11:11] mferri17 commented on #6784
Not sure it's the right place here, but the same error happens in Tableau when connected to Qubole Presto:
`[Qubole][JDBC](11220) Parameters cannot be used with normal Statement objects, use PreparedStatements instead.`

For me, it happened due to a regex containing "?". Even after removing the comments, the error was present. The only way to solve it was changing the regex to avoid using "?".

[2022-01-04 12:28] solisgb opened #15111 "Postgres CREATE OR REPLACE FUNCTION"
#### System information:
- Operating system (distribution) and version: Windows 10 v. 20H2
- DBeaver version 21.3.2.202112261636
- Additional extensions: Postgis

#### Connection specification:
- Database name and version : PostgreSQL 12.8, compiled by Visual C++ build 1914, 64-bit
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
When I

[2022-01-04 13:48] GnsCy opened #15112 "PostgreSQL Function Dependencies (Trigger)"
#### System information:
- Operating system  = Windows 10
- DBeaver version = 21.3.1

#### Connection specification:
- Database name and version = PostgreSQL 13

#### Describe the problem you're observing:
On initial startup of the application the dependency list of a function that is used by multiple triggers is correct.
Once you refresh the list then all the entries display the same table/schema

[2022-01-04 18:01] aravindhansps opened #15113 "dBEAVER 21.3.2 not loading"
Application not loading at startup itself.

!MESSAGE Problems occurred when invoking code from plug-in: "org.eclipse.equinox.preferences".

[2022-01-04 19:04] chrisguindon commented on #12829
Hi @Matvey16,

I would recommend that someone submit an issue to the MPC project about this:
https://bugs.eclipse.org/bugs/enter_bug.cgi?product=MPC

[2022-01-04 20:26] LonwoLonwo commented on #15107
Hello @jppo
Thanks for the bug report.

This issue was fixed in this ticket: https://github.com/dbeaver/dbeaver/issues/14958.

The New DBeaver version with the fix will be available 24.01.2022.

[2022-01-04 20:26] #15107 closed, assigned to nobody

[2022-01-04 20:42] LonwoLonwo commented on #15111
Hello @solisgb

I've tried to execute your statement in DBeaver SQL Editor, and the statement works fine for me. With highlight and Ctrl+Enter.

![2022-01-04 23_31_18-DBeaver Ultimate 21 3 2 - _postgres 13 3_Script-81](https://user-images.githubusercontent.com/45152336/148120481-3537dfcb-7c01-46fd-bee5-b62bc26ab68e.png)

Please can you check your preferences? Window -> Preferences -> Editors -> SQ

[2022-01-04 20:52] LonwoLonwo commented on #15112
Hello @GnsCy

Thanks for the bug report.
Please provide test DDLs for steps 1 and 2 (trigger function and tables).

[2022-01-04 21:17] LonwoLonwo commented on #15103
Hello @yevon

1.

![2022-01-05 00_01_31-](https://user-images.githubusercontent.com/45152336/148123690-01473b34-debd-4d6f-b55e-ff3fcf630fff.png)

I can't reproduce it. Can you provide more details, please? Maybe screenshots or video, or steps to reproduce (HippyEngine setting is on in my settings).

2.

We already have a ticket for this issue in this milestone: https://github.com/dbeaver/dbeaver/i

[2022-01-05 00:38] Teiemo commented on #15109
Hi. @ShadelessFox

![캡처](https://user-images.githubusercontent.com/97074123/148142522-54814a00-8689-4be0-a264-56e8cbaca513.PNG)

Like this... haha
Korean word is broken

[2022-01-05 01:02] guiqui commented on #7976
Well I solved the issue by clicking in Local client and typing the path to where my pg and pg_dump are installed in my local machine that in my case was /opt/bin/pg_dump

[2022-01-05 03:47] szhong20 commented on #4123
I had also facing this problem on latest version of dbeaver
![image](https://user-images.githubusercontent.com/78476461/148155396-291f8903-aa15-4a95-9f29-21b99f1cb230.png)

Actually, I've connect to the remote database through SSH tunnel.
![image](https://user-images.githubusercontent.com/78476461/148155869-77909afe-b8b3-41dc-a417-3396027bc046.png)

The solution works for me.

[2022-01-05 05:52] Poojalaxman opened #15114 "where can I get the spark jar for Dbaever?"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2022-01-05 07:36] solisgb commented on #15111
Thank you very much,
Following your indications my problem has been solved.

El mar, 4 ene 2022 a las 21:42, Anastasiya ***@***.***>)
escribió:

--
*Luis Solís García-Barbón*
Si usted recibe este mensaje por error, por favor, comuníquelo al remitente
y borre el mensaje y los archivos adjuntos de su sistema.
If you receive this message by mistake, please inform the sender and delete
the message and

[2022-01-05 08:40] GnsCy commented on #15112
Hello @LonwoLonwo

I have updated the bug report with more detailed explanation of the issue and added some test DDLs as well.
Please let me know if you need any additional information in order to reproduce the issue

[2022-01-05 11:07] robmoss2k commented on #14825
This doesn't work:

`jdbc:athena://AWSRegion=us-east-1;`

But this does:

`jdbc:athena://AWSRegion={region};`

[2022-01-05 11:07] #14825 closed, assigned to serge-rider

[2022-01-05 13:26] ShadelessFox commented on #15114
Hello @Poojalaxman,

I'm not sure if your issue is related to DBeaver.

Please create a new discussion if your issue is not resolved.

[2022-01-05 13:26] #15114 closed, assigned to nobody

[2022-01-05 13:27] ShadelessFox commented on #15113
Hello @aravindhansps,

Please a [new issue using our issue template](https://github.com/dbeaver/dbeaver/issues/new?assignees=&labels=bug%2C+wait+for+review&template=bug_report.md&title=) and provide all required information.

[2022-01-05 13:27] #15113 closed, assigned to nobody

[2022-01-05 13:30] ShadelessFox commented on #15106
Sorry for the confusion. It is intended behavior for <kbd>Code block</kbd> display style and can be changed in the preferences:

![image](https://user-images.githubusercontent.com/35821147/148225326-cc773657-c6de-432f-bba3-5af095aa9aa5.png)

Does it solve your issue?

[2022-01-05 13:36] lukaseder commented on #15106
Thanks, it's nice to be able to switch the display behaviour of dollar quoted string literals.

However, that's just a setting governing the UI *display* behaviour. `$$ $a $$` is interpreted as a string literal by the PostgreSQL server, hence, it never contains a bind variable.

In my opinion, that's a bug, not a question. By consequence, changing that setting didn't have any effect on my query...

[2022-01-05 13:52] THE1960 opened #15116 "New database created but not displayed"
I have a connection on PostgreSQL. PostgreSQL-DB exists. I created one new database with a table and filled it with data. Then the program closed. After I restarted the program, the new DB was gone. Connection to PostgreSQL works. If I want to create a new one with this name, I become the message "Cannot create DB already exists ...". But I can't load or see them anywhere. The problem is reproduci

[2022-01-05 14:46] aravindhansps opened #15117 "Dbeaver 21.3.2 not loading"
Application not loading at startup itself. BELOW IS THE DATA FROM LOG.

!MESSAGE Problems occurred when invoking code from plug-in: "org.eclipse.equinox.preferences".

[2022-01-05 19:04] SynapseScribe commented on #12393
How do i disable auto updates (win 11)?

[2022-01-05 19:21] acfarrer commented on #14384
Would this help with embedding connection strings in a script?

Like @jeff-bowles , I need to provide unambiguous scripts to other users and I need to ensure the connections are defined. Not sure what the SQL syntax would be though. In my scripts, I use 'db2 connect to dbname' after specifying the db2profile

[2022-01-05 23:03] keygendnl commented on #14751
My friend has the same problem on AstraLinux 2.12.43. He uses fly-wm. So I think it's not about the window manager.
@akilovich, the command output is empty.

[2022-01-05 23:48] zhicwu commented on #14576
It works if you're using new driver(com.clickhouse.jdbc.ClickHouseDriver) in clickhouse-jdbc 0.3.2 or above. FYI, below query works as well:
[code]

[2022-01-06 00:05] zhicwu opened #15118 "Bump ClickHouse JDBC driver dependency"
**Is your feature request related to a problem? Please describe.**
Before clickhouse-jdbc 0.3.2, the official JDBC driver relies on text-based data format for exchanging data between client and server, so it's inefficient, memory hungry, and does not working properly with datetime values and time zone. More importantly, starting from 0.3.2, its maven group id was changed from `ru.yandex.clickhouse

[2022-01-06 01:52] paul-yangmy opened #15119 "incremental backup"
**Is your feature request related to a problem? Please describe.**
Hi, dear. I‘m working on some periodic forms. Now, I have to create a task to complete the dump operation. It cost a lot of time to export data because of a quite large amount. Could you provide an incremental way to export it?

**Describe the solution you'd like**
An incremental backup method can only need to back up files that ha

[2022-01-06 01:53] paul-yangmy commented on #15119
Thx!!!!

[2022-01-06 04:22] mreschke commented on #15036
Not bumping the version breaks other automated services from detecting an update.  Should bump to 21.3.3 so downstream linux package managers get this fix

[2022-01-06 06:08] Swapnali1996 opened #15120 "Not able to run the athena queries"
Hi Team ,
             I am facing the issue with dbeaver since 2-3 days .I am not able to run my athena queries .Queries are taking much time and giving session timeout error.it also giving other error like Some data source connections wasn't closed on shutdown in 5000ms. Probably network timeout occurred.
Solutions I tried:
    reinstalled many times.
    deleted .eclipse and .metadata files and

[2022-01-06 06:36] LonwoLonwo commented on #15116
Hello @THE1960

Please check your connection settings with right click on your connection in the Database Navigator Tree.

The setting "Show all databases" must be enabled, if you want to see all your databases in one connection.

![2022-01-06 09_31_57-DBeaver Ultimate 21 3 2 - _postgres 13 3_Script](https://user-images.githubusercontent.com/45152336/148339586-a9b58684-f60f-48db-8175-d10387d0cfca.

[2022-01-06 06:40] rahulkhanna2 commented on #9976
This is strange but it seems to be working for now

[2022-01-06 08:49] ShadelessFox commented on #15119
Hello @paul-yangmy,

If you're talking about database backup, then this feature may not be supported by the database you're using.

What's the database you're referring to?

[2022-01-06 11:26] THE1960 commented on #15116
Good morning and wish you a good new year,

Thank you for the information. It works very well. I didn't know that I had to change these settings.

Freundliche Grüsse
Tobias Heise

Tobias Heise
Alte Torkelbergstr. 37	Mobile: +49 176 22749419
78465 Konstanz		Mail: ***@***.*** ***@***.***>

[2022-01-06 15:10] #15116 closed, assigned to nobody

[2022-01-06 15:27] LonwoLonwo commented on #15120
Hello @Swapnali1996

What DBeaver version do you use? And what Athena driver version do you use?

We updated Athena driver version in the last version: https://github.com/dbeaver/dbeaver/issues/13784

Maybe your issue is with the new driver?

Then you can try manually change new driver on the old driver version: https://s3.amazonaws.com/athena-downloads/drivers/JDBC/SimbaAthenaJDBC-2.0.16.1000/Ath

[2022-01-06 15:29] #15111 closed, assigned to nobody

[2022-01-06 15:30] kyleflan commented on #11097
Seeing similar behavior with Amazon MemoryDB on latest DBeaver EE (21.3.0.202112052011). Connection is fine when "Cluster" mode is checked, but **Key list** and **Key hierarchy** are empty and trying to execute e.g. `GET <key>` returns

[2022-01-06 16:18] PHPTCloud opened #15123 "Table view with dark theme bug"
After the update, the tables began to display strangely. There are some white stripes with a black theme. I can not fix it in the settings.
Tell me how to fix it please.

https://snipboard.io/pumzna.jpg

[2022-01-06 16:20] #15123 closed, assigned to nobody

[2022-01-06 16:46] ccstonge opened #15124 "Authorization ID null when trying to EXPLAIN QUERY on DB2 LUW 9.5"
#### System information:
- Operating system (distribution) and version - Windows 10
- DBeaver version - 21.3.2
- Additional extensions - No

#### Connection specification:
- Database name and version - DB2 LUW 9.5
- Driver name -db2jcc4.jar version 4.19.66
- Do you use tunnels or proxies (SSH, SOCKS, etc)? -No

#### Describe the problem you're observing: When clicking Explain Execution Plan for an

[2022-01-06 17:05] andriusign commented on #14751
As mentioned before, it is Cinnamon.

[2022-01-06 19:36] kczx3 commented on #5005
Maybe this stylesheet is helpful for how to go about parsing it?  Having this would be super helpful!
https://github.com/JustinPealing/html-query-plan/blob/master/src/qp.xslt

[2022-01-07 02:29] paul-yangmy commented on #15119
Hi, yes. Did we have the database incremental backup? I used mysql.

[2022-01-07 02:44] KaseiHaku opened #15126 ""Window - Preferences - User Interface - Confirmations - Close extra result tabs" not working"
#### System information:
- Operating system (distribution) and version: Win 10
- DBeaver version: 21.3.2.202112271055
- Additional extensions

#### Connection specification:
- Database name and version: MySQL 8
- Driver name: mysql-connector-java-8.0.17.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
When there are multiple result tabs in the

[2022-01-07 03:41] wayneyaoo opened #15127 "Configure arrow line in ER Diagram to represent foreign key"
Thank you for the awesome project first!!

**Is your feature request related to a problem? Please describe.**
We use ER diagram to assist in database design and one of common problems is to introduce multiple cascade path suddenly when adding a new table/field. We need to identify possible cycles and determine which foreign key to set to "on delete set null". This is particularly difficult given c

[2022-01-07 04:22] pupi1985 commented on #12485
I faced this situation with a simple `select * from table` query. Indeed, refreshing the table as explained here solved the issue https://github.com/dbeaver/dbeaver/issues/12485#issuecomment-954104923

However, I can add why I believe the issue raised. I modified the table structure (basically, added the read-only column) programatically from the application I'm developing. So it seems DBeaver cac

[2022-01-07 07:39] devismu opened #15128 "Automate data export"
Is there a way to automate data export? I am looking for Query IN and Excel OUT, or something similar which is 100% automated. Or an interface that can be operated by someone to extract data with almost no technical knowledge of data engineering. Or could you built a connector for MS PowerAutomate?

![image](https://user-images.githubusercontent.com/13745525/148508988-7944e61d-876e-4a3c-88f3-ddebe

[2022-01-07 07:42] hktalent opened #15129 "CREATE OR REPLACE VIEW, But it does not automatically refresh the local view code"
CREATE OR REPLACE VIEW, But it does not automatically refresh the local view code
<img width="347" alt="image" src="https://user-images.githubusercontent.com/18223385/148509231-80a12636-7c0c-4906-a32c-58f2a9a8d3b3.png">

<img width="739" alt="image" src="https://user-images.githubusercontent.com/18223385/148509304-531818c3-ff50-4bac-9c6f-15cb7b8b3c7c.png">

<img width="452" alt="image" src="https:

[2022-01-07 09:25] ShadelessFox commented on #15119
Thanks for the response.

Looks like that MySQL indeed supports such feature.

We currently don't support that.

[2022-01-07 09:48] andrematzke commented on #15117
same here.

[2022-01-07 09:49] andrematzke commented on #15117
!STACK 0
java.lang.IllegalArgumentException: URI has an authority component
	at java.base/java.io.File.<init>(File.java:425)
	at org.jkiss.dbeaver.utils.RuntimeUtils.getLocalFileFromURL(RuntimeUtils.java:197)
	at org.jkiss.dbeaver.utils.GeneralUtils.getMetadataFolder(GeneralUtils.java:661)
	at org.jkiss.dbeaver.core.DesktopPreferencesInitializer.initializeDefaultPreferences(DesktopPreferencesIniti

[2022-01-07 09:50] Swapnali1996 commented on #15120
@LonwoLonwo
 i am using Dbeaver 21.3.2 with athena jar 2.0.25
i also tried older version
also tried to reset workspace .Do you know any way to stop all previous sessions.
![image](https://user-images.githubusercontent.com/39511034/148525843-c2c6b6d3-d191-451b-89d0-e09c2de5e3f5.png)

[2022-01-07 09:55] andrematzke commented on #15117
with 21.2.5 (https://dbeaver.io/files/21.2.5/) thus is not happening.

Machine: Windows 8.1 JRE 11 Temurin and JRE 17 Temurin

[2022-01-07 10:53] isak-kaz commented on #4907
Hi @serge-rider, has anything changed regarding this or this feature is still impossible to implement?
Thanks

[2022-01-07 13:01] Diabolarius commented on #5077
@serge-rider I dicovered this ticket as the problem is still persistent. Therefore please reopen the ticket.
As can be seen in the screenshot the fraction-digits of the preference doesnt affect the GUI-view. This view is instead always limited to 3 fraction digits max and half-rounding is applied. Nonethless of the preferences in data formats.
Honestly, I cannot understand what @tobwen or myself n

[2022-01-07 13:51] dalexander-trc opened #15130 "Generate UPDATE SQL w/ Specific Columns"
**Is your feature request related to a problem? Please describe.**
There are situations when I want to update records on a specific environment based on another. In this situation, only one or two columns have changed value and those are the ones I want to update. Currently the generate SQL function will update all columns, which is fine, but not as concise when saving those statements off for sou

[2022-01-07 13:52] eperrone-kercher opened #15131 "NullPointer in explain plan for postgres"
Getting Error on Explain Plans

#### System information:
- Operating system (distribution) and version Windows 10 Enterprise 20H2
- DBeaver version 21.3.1.202112130652
- Additional extensions: Office Extension

#### Connection specification:
- Database name and version PostgreSQL 9.5.20 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-23), 64-bit
- Driver name
- Do you u

[2022-01-07 14:19] xavt commented on #10235
This would be greatly benefic; for example, use cases where one has several similar/identic databases and not able to distinguish betweeb tabs.

[2022-01-07 15:10] ooobii opened #15132 "WinGet - Failed to install as Administrator (Hash Mismatch)"
#### System information:
- **Operating system**: Windows 11 (Build 22000.376)
- **DBeaver version**: 21.3.0.202111281534 (Not Latest)
- **Additional extensions**: N/A

#### Connection specification:
- **Database name and version**: N/A
- **Driver name**: N/A
- **Do you use tunnels or proxies (SSH, SOCKS, etc)?**: N/A

#### Describe the problem you're observing:
When attempting to install / update

[2022-01-07 20:25] ShadelessFox commented on #3696
I believe this feature was already implemented in #11719.

[2022-01-07 20:25] #3696 closed

[2022-01-08 16:29] ramonmpacheco commented on #14882
Same error here with Java 11

![image](https://user-images.githubusercontent.com/43766601/148651902-dfb6c70e-f49e-478d-8cc8-51c92f033cc1.png)
![image](https://user-images.githubusercontent.com/43766601/148651987-26f5734e-d013-4102-b55b-e3d55df78a7c.png)

[2022-01-08 19:26] mattcargile commented on #6289
Is [this](https://community.intersystems.com/post/dbeaver-officially-supports-intersystems-iris) supported now? Haven't installed the Community edition yet. The aforementioned link's versioning appears to mimic the EE version? There is a separate dev channel for EE an Community, right?

EDIT: I installed the software and do see IRIS in the the connection picker UI, FYI. Don't have an instance to t

[2022-01-08 20:20] mattcargile commented on #15132
I used [chocolatey](https://www.chocolatey.org) and it did work. I used `choco install dbeaver -y`.

[2022-01-08 21:15] rberge commented on #6289
I should remove myself from this because I no longer use intersystems.

[2022-01-09 10:26] LonwoLonwo commented on #15131
Hello @eperrone-kercher

Thanks for the bug report.

[2022-01-09 13:15] sandeshk89 commented on #4450
Hi Serge,

I'm still facing this issue, with the latest version (21.3.2) of community edition. Do I have to use enterprise edition for this?

I have the option "Replace current word" selected as well.

![image](https://user-images.githubusercontent.com/75207315/148683642-bd1801dd-b7ec-477f-979d-3132df84625d.png)
![image](https://user-images.githubusercontent.com/75207315/148683677-48168085-48ba-45

[2022-01-09 17:17] lapsha38 commented on #6581
u also can use workaround like this:

export GDK_BACKEND=x11
dbeaver-ce

**profit!**

or u can change .desktop file like this:
sudo vim '/usr/share/applications/dbeaver-ce.desktop'
and change exec line:
Exec=env GDK_BACKEND=x11 /usr/share/dbeaver-ce/dbeaver

[2022-01-09 17:28] ihabunek commented on #6581
@lapsha38 This does help, but scaling doesn't work well with apps running on xwayland. At least not on my setup (swaywm).

Here's dbeaver running on x11 with 2x scaling:

![image](https://user-images.githubusercontent.com/482138/148693157-4237bdff-2c0b-4c61-97b4-2887e3fb544f.png)

And here it is without scaling, zoomed to get approximately the same text size:

![image](https://user-images.githubus

[2022-01-10 00:51] mdahlman commented on #4450
The behavior you show doesn't match the initial report. I think you'll need to open a separate issue.

[2022-01-10 05:32] sandeshk89 opened #15135 "Autocomplete Issue - Doesn't remove initially typed characters. (Community Edition - 21.3.2)"
Hi,

I'm facing the issue with autocomplete, where the characters that we type initially to get suggestions from auto-complete, don't get replaced by the selected suggestion from drop-down, but get appended at the end. I'm using the latest version (21.3.2) of community edition.

I have the option "_Replace current word_" selected as well, but this doesn't resolve the issue.

![image](https://user-

[2022-01-10 05:34] sandeshk89 commented on #4450
Added a separate issue [**15135**.](https://github.com/dbeaver/dbeaver/issues/15135)

[2022-01-10 06:00] LonwoLonwo commented on #15131
Fixed in DBeaver 21.3.3.

[2022-01-10 06:48] LonwoLonwo commented on #15124
Hello @ccstonge

Let's try to figure out what went wrong.

First, the execution plan mechanism tries to find schema with EXPLAIN tables with the query: "VALUES(SESSION_USER)".

Does this query work for you? If it works - what result does it return? If the query returns schema name - does this schema persist in your schema list?

[2022-01-10 07:10] LonwoLonwo commented on #12485
Hello @pupi1985

Yes, DBeaver doesn't refresh tables periodically. Only after specific events or pressing the button "Refresh" on schema/catalog/data source etc., in the Database Navigator tree.

"Refresh active schema after SQL execution" setting helps control the current default schema. This setting is not about table refresh.

[2022-01-10 07:14] LonwoLonwo commented on #15120
Did the old driver version help you to run your athena queries?

Usually, a restart of DBeaver helps to stop all previous sessions.

[2022-01-10 07:46] ghost commented on #14965
![화면 캡처 2022-01-10 164628](https://user-images.githubusercontent.com/4089920/148732598-1de10177-ebb6-410c-a814-35a70c7f3988.png)

[2022-01-10 07:58] ShadelessFox commented on #14965
That would be enough for now, thanks again.

We are going to review the issue in near future. As of now, we are unable to reproduce it.

[2022-01-10 08:06] ShadelessFox commented on #15135
Hello @sandeshk89,

Thanks for the report.

[2022-01-10 08:21] LonwoLonwo commented on #15071
Fixed.

[2022-01-10 08:39] baizhi1989 opened #15138 "the same sql return different result when i connect to mysql database or h2 database"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.3.0.202111281534
- Additional extensions

#### Connection specification:
- Database name and version mysql  mysql-8.0.23
- Driver name mysql 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no
- Database name and version h2 database h2-1.4.199
- Driver name h2-1.4.199
- Do you use tunnels or prox

[2022-01-10 08:46] uslss commented on #15011
verified

[2022-01-10 08:46] #15011 closed, assigned to E1izabeth, uslss

[2022-01-10 09:29] ShadelessFox commented on #15106
I see. Thanks for the explanation.

By the way, to see the changes, you have to re-connect to the database.

[2022-01-10 09:39] Matvey16 commented on #14299
Verified

[2022-01-10 09:39] #14299 closed, assigned to serge-rider, Matvey16

[2022-01-10 09:45] ShadelessFox commented on #15138
Hello @baizhi1989,

As you mentioned, it depends on the database you're connected to.

We do not process SQL in any way, but the database may process your query differently.

[2022-01-10 09:45] #15138 closed, assigned to nobody

[2022-01-10 09:56] ShadowNev commented on #13390
at this moment, in the recent version I cannot reproduce the issue on Oracle
but on DB2 still no output
![output](https://user-images.githubusercontent.com/42059626/148747102-331d6e64-014a-4c4c-8672-08d21f2f2c0f.gif)

[2022-01-10 10:15] LonwoLonwo commented on #15112
Unfortunately, I can't reproduce.

![bdgxxqqxGd](https://user-images.githubusercontent.com/45152336/148749423-47c92da9-8a24-4f44-954d-75949a78981d.gif)

Can you please make a video of the issue? Maybe it helps to reproduce.

[2022-01-10 10:40] nicolanicoletti commented on #13436
Hi
dbaver 21.3.2 has same issue.
Have you integrate patch ?

[2022-01-10 12:00] Matvey16 commented on #15131
Verified

[2022-01-10 12:00] #15131 closed, assigned to LonwoLonwo, Matvey16

[2022-01-10 12:09] #15072 closed, assigned to serge-rider

[2022-01-10 13:17] nk54 commented on #13689
Hi, the problem occured on Oracle DB but I think it's a bug of the compare method, not the DB provider because the filter works well on Oracle SQL Developper studio.

[2022-01-10 15:19] Matvey16 commented on #12285
Verified

[2022-01-10 15:19] #12285 closed, assigned to ShadelessFox, Matvey16

[2022-01-10 15:42] MightyCrabKing opened #15141 "Support Database Identifier To Allow Connection to AWS RDS over Local Port Forwarding"
**Is your feature request related to a problem? Please describe.**
For security reasons we restrict access to the RDS database via a bastion host in AWS. Meaning we port forward via the bastion box to reach the AWS RDS Instance. This is currently not compatible with IAM authentication in DBeaver as the host is localhost rather than that of the database identifier which is used when generating the

[2022-01-10 16:24] LonwoLonwo commented on #13390
Hello @ShadowNev

DBeaver doesn't support output panel messages in DB2 yet. You can create another issue as a feature request for this.

[2022-01-10 17:00] ghost commented on #15132
According to the official winget documentation, you could use the parameter `--force` for both `winget install` and `winget upgrade` commands. Works only if you don't run it as Administrator though.

**When a hash mismatch is discovered will ignore the error and attempt to install the package.**

https://docs.microsoft.com/en-us/windows/package-manager/winget/upgrade#options

[2022-01-10 18:21] ooobii commented on #15132
I want to preface with a thank you for your responses. 😺 Love me some DBeaver!!!

I'm aware that hash checks can be skipped, but skipping them is **not** a good idea / work around in stricter security environments. I am using this as part of an automated background script that runs as Administrator (so that UAC does not trigger when triggering certain installation packages).

I need to verify the

[2022-01-10 18:24] ooobii commented on #15132
I will use this for the time being - hash checks in `choco` match! Thanks, @mattcargile 👍🏼

But, the problem with `winget` still remains and should be corrected.

[2022-01-10 20:23] suhailmemon commented on #14944
any updates here?

[2022-01-10 22:08] bechtold opened #15142 "Tools and Tasks in Lite Edition broken"
#### System information:
- macOS Montery 12.0.1 (M1 Max)
- DBeaver Lite Edition 21.3.0

#### Connection specification:
- PostgreSQL

#### Describe the problem you're observing:
I used the Community Edition 21.3.2 to create a truncate task that I saved. Now, while using the trial of the Lite Edition I get an error `Could not create the view: org.jkiss.dbeaver.tasks` and I can't create a truncate ta

[2022-01-11 02:12] leimao commented on #6876
Is this still the case using DBeaver in 2022? I just wanted to view the sqlite file on my Linux computer remotely from my Windows laptop. Thank you.

[2022-01-11 07:46] HohesP commented on #14882
I can reproduce this error with DBeaver Version 21.3.0.202112091630 (from Microsoft Store) when trying to create a new Oracle database connection.
See attached log file for details.

Workaround: copy present Oracle database connection und configure the new connection details
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/7844646/dbeaver-debug.log)
.

[2022-01-11 08:34] Aileron79 opened #15143 "Caching issue: DDL for stored procedure not updated if SP is changed"
#### System information:
- Operating system (distribution) and version
Win 10

- DBeaver version
21.2.3.202110151816

- Additional extensions

#### Connection specification:
- Database name and version
Azure SQL

- Driver name
Azure SQL Server

- Do you use tunnels or proxies (SSH, SOCKS, etc)?
No

#### Describe the problem you're observing:
- Opened a stored procedure by right clicking => Generat

[2022-01-11 08:58] Matvey16 commented on #14817
Parameters are not actually deleted, they just disappear from the list until the new one is created or the editor is reopened

![explorer_OAvIDwQta0](https://user-images.githubusercontent.com/82543000/148911863-6e76848d-1b79-49e6-bf64-609a5db38302.gif)

[2022-01-11 10:14] flambchap commented on #15142
Hi @bechtold. Thank you for your interest in our products. Unfortunately, DBeaver LE doesn't support tasks. I also want to tell you that you can ask such questions using our ticket system on dbeaver.com.

[2022-01-11 10:14] #15142 closed, assigned to nobody

[2022-01-11 10:44] uslss commented on #14340
There has been no update on the issue for a long time. If it is still present - feel free to reopen it.

[2022-01-11 10:44] #14340 closed, assigned to nobody

[2022-01-11 10:46] uslss commented on #14830
There has been no update on the issue for a long time. If it is still present - feel free to reopen it with additional info.

[2022-01-11 10:46] #14830 closed, assigned to nobody

[2022-01-11 10:48] uslss commented on #14930
There has been no update on the issue for a long time. If it is still present - feel free to reopen it.

[2022-01-11 10:48] #14930 closed, assigned to nobody

[2022-01-11 10:48] uslss commented on #7928
There has been no update on the issue for a long time. If it is still present - feel free to reopen it.

[2022-01-11 10:48] #7928 closed

[2022-01-11 10:49] uslss commented on #13444
There has been no update on the issue for a long time. If it is still present - feel free to reopen it.

[2022-01-11 10:49] #13444 closed, assigned to Matvey16

[2022-01-11 10:49] #5427 closed

[2022-01-11 10:50] pilipalahjh opened #15144 "[Oracle] When connecting to oracle database, schema names are displayed as numbers"
#### System information:
- Operating system (distribution) and version:win10
- DBeaver version:21.3.2.202112271055
- Additional extensions

#### Connection specification:
- Database name and version:oracle
- Driver name:oracle
- Do you use tunnels or proxies (SSH, SOCKS, etc)? :driver name:oracle.jdbc.OracleDriver,ojdbc11-21.3.0.0.jar

#### Describe the problem you're observing:
在连接部分oracle数据库时，模式

[2022-01-11 10:54] uslss commented on #15004
There has been no update on the issue for a long time. If it is still present - feel free to reopen it.

[2022-01-11 10:54] #15004 closed, assigned to nobody

[2022-01-11 10:57] LonwoLonwo commented on #15144
Hello @pilipalahjh

Please use the English language.

[2022-01-11 10:59] helder-mattos opened #15146 "Redshift - Import CSV slowness"
#### System information:
- Operating system: Windows 10
- DBeaver version : Version 21.3.2.202112271055
- Additional extensions : None

#### Connection specification:
- Database name and version: Redshift
- Driver name : AWS / Redshift
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

I'm trying to import by using the Data transfer wizard a small C

[2022-01-11 11:08] pilipalahjh commented on #15144
when connecting some oracle databases.the shema name is displayed as some numbers

when connecting some oracle databases.the shema name is displayed as some numbers

[2022-01-11 11:22] uslss commented on #14986
Thanks for the report and clarification.
The error appears when trying to enter some text to the filter field

[code]

[2022-01-11 11:29] uslss commented on #15144
#14381

[2022-01-11 11:33] LonwoLonwo commented on #15144
@pilipalahjh
Please provide the [log file](https://github.com/dbeaver/dbeaver/wiki/Log-files) to the ticket.

[2022-01-11 11:39] uslss opened #15147 "Focus isn't at the resultset in SQL when trying to add the row"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.3.2

#### Describe the problem you're observing:
Focus still remains in SQL editor when trying to add a row in the resultset
#### Steps to reproduce, if exist:
1. Execute some Select query or Open table using Read in SQL editor
2. Create a new row in the resultset using Add new row button (hotkey is n

[2022-01-11 11:40] uslss commented on #15071
verfied

[2022-01-11 11:40] #15071 closed, assigned to uslss, LonwoLonwo

[2022-01-11 12:08] uslss commented on #15042
verified

[2022-01-11 12:08] #15042 closed, assigned to Destrolaric, uslss

[2022-01-11 12:16] pilipalahjh commented on #15144
I copy it to my issue

[2022-01-11 12:24] pilipalahjh commented on #15144
thanks,I have more information about it,but i still don't know how to solve;

thanks,I have more information about it,but i still don't know how to solve;

[2022-01-11 12:25] LonwoLonwo commented on #15144
Can you please execute one of these queries? DBeaver uses these queries to get schemas names. (You can find this query in the [Query Manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager))

[code]

[code]

[2022-01-11 12:31] LonwoLonwo commented on #15146
Hello @helder-mattos

Have you tried "multi-row insert" or "skip bind values" settings?

![2022-01-11 15_28_25-Data Transfer](https://user-images.githubusercontent.com/45152336/148942644-500ff9f2-7679-4687-a427-fc48b491f2b7.png)

[2022-01-11 12:33] KBSchmidt commented on #3972
Which then begs the question, what does "Plain" import even do, if it's not for importing "Plain" sql dumps?

[2022-01-11 12:42] Destrolaric commented on #13436
@nicolanicoletti Hi, this fix will be released in version 21.3.3

[2022-01-11 13:02] uslss commented on #13495
verified

[2022-01-11 13:02] #13495 closed, assigned to uslss, LonwoLonwo

[2022-01-11 13:49] TheEnglishSpy commented on #5258
Thanks! Simple and effective work around :-) ... still would be nice if you could switch during an active connection. Any updates on this? Cheers to all!

[2022-01-11 15:28] YuriDude opened #15150 "Oracle Driver is not getting loaded...getting NPE"
#### System information:
- Operating system (distribution) and version: Windows 10 (Version 10.0.19042.1415)
- DBeaver version: Version 21.3.0.202112091630
- Additional extensions: None

#### Connection specification:
- Database name and version: Oracle
- Driver name: --
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No
- Java Runtime: java.runtime.version=11.0.12+7 (_from configs_)

#### De

[2022-01-11 15:46] ac10n opened #15151 "Ability to run Dbaever with a different scale from the OS"
For months, I've been unable to use Dbeaver because I'm using a HiDPI monitor.
I'm using Fedora 35 + KDE + Wayland.

With a little bit of searching, I see that historically people had issues with the scaling.

One solution that can allow us to continue using dbeaver (even in a sub-optimal manner) is to allow the user to set a different scaling for dbeaver.

I would happily set Dbeaver's scale to 1

[2022-01-11 15:53] Matvey16 commented on #14958
Verified

[2022-01-11 15:53] #14958 closed, assigned to serge-rider, Matvey16

[2022-01-11 15:55] tati-kru opened #15152 "Issue with opening of SQL editor"
There is some issue with the SQL editor opening.
The stack trace is available here:
![FIwuNwbVQAQ1wTv](https://user-images.githubusercontent.com/30336552/148976111-be85611b-9f96-48ba-a653-008135dd2ae0.jpeg)
We need to handle this error in a better way.

[2022-01-11 18:13] Exanime4Ever commented on #15036
Seriously appreciate if the version can be bumped so the wheels turn for Linux updates again... DBeaver is my daily driver for work and I had to fall back to my hated backup Aqua because of this issue

[2022-01-11 18:40] tyoc213 commented on #1361
for postgres

`find / -name "pg_dump" 2>/dev/null` and set the path to the local client

[2022-01-11 21:50] krishna4ldw opened #15153 "BigQuery JDBC Connection Error"
#### System information:
- Operating system (distribution) and version : Windows 10 10.0.19041 Build 19041
- DBeaver version : Version 21.3.2.202112271055
- Java version : java version "11.0.11" 2021-04-20 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.11+9-LTS-194)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.11+9-LTS-194, mixed mode)
- Additional extensions

#### Connection specifica

[2022-01-11 22:21] rhanton opened #15154 "Extended character set characters are not being displayed/treated appropriately by DBeaver"
#### System information:
- OSX 11.6
- DBeaver version 21.2.3.202110151816

#### Connection specification:
- MySQL 5.7
- mysql-connector 5.1.39
- SSH Tunnel thru Centos 7

#### Describe the problem you're observing:
When I use the application to store data including the special character values described further in this article - https://stackoverflow.com/questions/2826191/converting-ms-word-curly-

[2022-01-12 02:48] wrck opened #15155 "Querying nested function SQL will cause the interface to be unresponsive and abnormally slow"
#### System information:
- Operating system (distribution) and version : win10
- DBeaver version : 21.3.2
- Additional extensions : DBeaver Office Support

#### Connection specification:
- Database name and version : MySQL 5.7.26
- Driver name : MySQL Connector/J mysql-connector-java-8.0.27
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When I qu

[2022-01-12 03:52] pilipalahjh commented on #15144
i can only execute first query successful
![image](https://user-images.githubusercontent.com/52158211/149060864-b4486a70-18c8-4d13-9ff8-f8ffb4ab3f43.png)

[2022-01-12 06:45] LonwoLonwo commented on #15144
Ок.

Does this query return your schemas names?

[code]

[2022-01-12 06:48] pilipalahjh commented on #15144
No.
![image](https://user-images.githubusercontent.com/52158211/149077905-53e356ec-7641-4bf3-ae31-c1022a22ebe9.png)

[2022-01-12 06:49] pilipalahjh commented on #15144
schemas names  still are displayed as numbers.

[2022-01-12 06:52] LonwoLonwo commented on #15150
Hello @YuriDude

Sorry, I can't reproduce this issue.

Maybe ["Reset workspace"](https://github.com/dbeaver/dbeaver/wiki/Reset-workspace) can help you.
Or you can download the latest [DBeaver version](https://dbeaver.io/).

If nothing of the proposed will help, please provide a [log file](https://dbeaver.io/) of the issue.

[2022-01-12 07:06] LonwoLonwo commented on #15144
Can you tell me more about your driver?
Have you tried using the standard Oracle driver, which DBeaver suggests downloading?

[ALL_USERS](https://docs.oracle.com/cd/B14117_01/server.101/b10755/statviews_1199.htm) must return your user's (schemas) names. It can be the driver issue, that it does not return anything.

[2022-01-12 07:27] pilipalahjh commented on #15144
My driver name is oracle.jdbc.OracleDriver.I used DBeaver suggests dirver.but it can not connect to oracle database.

[2022-01-12 08:32] antonyraj05 opened #15157 "you can't select item 'org.jkiss.dbeaver.ext.oracle.model error in Schema Compare in Dbeaver EE"
#### System information:
- Operating system (distribution) and version : Windows 10
- DBeaver version : Version 21.3.0.202112052011 (Enterprise edition)
- Additional extensions

#### Connection specification:
- Database name and version: Oracle 11g
- Driver name: NA
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : NA

#### Describe the problem you're observing:
While comparing the 2 different

[2022-01-12 08:33] antonyraj05 commented on #15157
I'm new to use Dbeaver, my target is to try this for Azure CICD, please help

[2022-01-12 08:38] GnsCy commented on #15112
I test it with the latest version (21.3.2) and indeed I couldn't reproduce the issue.
With previous versions (21.3.1, 21.3.0) though I could reproduce it.
![Media1](https://user-images.githubusercontent.com/92713743/149092470-7db23220-14fe-41de-b7f1-8340d18fb29b.gif)

So I guess we can close the issue as resolved ?

[2022-01-12 08:56] LonwoLonwo commented on #15157
Hello @antonyraj05

You can read about Schema Compare here - https://github.com/dbeaver/dbeaver/wiki/Schema-compare

Unfortunately, packages are not in the list of the simple schema compare. You can compare schemas with packages (in Oracle) only with the Liquibase PRO key - https://github.com/dbeaver/dbeaver/wiki/Schema-compare#using-schema-compare-with-liquibase-pro-key

But maybe we must add the

[2022-01-12 08:59] LonwoLonwo commented on #13671
Fixed in DBeaver 21.3.3

![MLUSP8eXnr](https://user-images.githubusercontent.com/45152336/148968491-59cb3284-4841-41f6-8c26-3141e1f680c2.gif)

[2022-01-12 09:22] LonwoLonwo commented on #15112
yes. Thanks for the investigation!

[2022-01-12 09:22] #15112 closed, assigned to nobody

[2022-01-12 09:31] mkgrgis commented on #11090
The same statement WITH GRANT OPTION is actual for PostgreSQL and Oracle.

[2022-01-12 09:42] alesito85 opened #15158 "Advanced Copy as SQL doesn't copy table name as case sensitive"
#### System information:
- Operating system (distribution) and version: MacOS Monterey
- DBeaver version: 21.3.2 Community

#### Connection specification:
- Database name and version: Postgres 12
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When copying result row in order to get an insert SQL statement the

[2022-01-12 09:58] LonwoLonwo commented on #15158
Hello @alesito85

Have you tried to change Copy settings?

![2022-01-12 12_56_58-DBeaver Ultimate 21 3 2 - LargeTable2](https://user-images.githubusercontent.com/45152336/149118201-6f1b67e5-b2d6-4b2b-97be-0913614ef13e.png)

![2022-01-12 12_58_06-DBeaver Ultimate 21 3 2 - LargeTable2](https://user-images.githubusercontent.com/45152336/149118207-0c9623da-00e8-4d69-8076-d982d899e7e8.png)

[2022-01-12 10:10] alesito85 commented on #15158
@LonwoLonwo identifier case setting is set to "mixed" on my instance. "as is" is not available, only mixed, upper and lower.

[2022-01-12 10:11] matt-jay commented on #5754
I also have an issue in v21.3.2 (CE): I can configure the connection to use MFA and a browser window opens and asks me to provide credentials. The browser then redirects to localhost:xxxxx (xxxxx = varying port numbers on each try), and the process is stuck there. DBeaver does not appear to pick up the response.

Has anyone else observed this behavior? This is on MacOS 11.6.2.
The drivers appear t

[2022-01-12 10:34] uslss commented on #15041
verified

[2022-01-12 10:34] #15041 closed, assigned to Destrolaric, uslss

[2022-01-12 10:34] Matvey16 commented on #14944
@suhailmemon Can you copy a full stack trace from the error view? Or attach the .log file?

[2022-01-12 10:43] LonwoLonwo commented on #15158
Ok. Can you please test the Early Access version? https://dbeaver.io/files/ea/

Maybe it was fixed here - https://github.com/dbeaver/dbeaver/issues/15059

[2022-01-12 11:23] ShadelessFox commented on #15152
It looks like you have force-closed DBeaver while having a SQL console opened.

Not sure if we should fix this.

[2022-01-12 11:30] pswilde commented on #15036
The re-published 21.3.2 works - Thanks

But until that becomes mainstream in Linux package managers (ideally by bumping the version number), a manual download from Early Access https://dbeaver.io/files/ea/ will have to do!
I suspect a new release is due, so the version number will be bumped then.

[2022-01-12 11:51] Matvey16 commented on #14700
@hlascelles Thank you for the report. I reproduced it and we will work on that.

[2022-01-12 11:58] Matvey16 commented on #14770
@bupy7 This could have been fixed with a recent update of the Eclipse platform. Can you check the early access version https://dbeaver.io/files/ea/ and verify if it was fixed for you?

[2022-01-12 12:01] Matvey16 commented on #14927
It may be connected with the fact that we updated the Eclipse version in 21.3.0. Looks like it should be fixed

[2022-01-12 12:10] Matvey16 commented on #14935
@Sergey-V-R Have you tried picking the default encoding in workspace settings?

[2022-01-12 12:16] ccstonge commented on #15124
Hi,

That query does return the proper schema name and that schema does exist and the EXPLAIN tables are in it.

[2022-01-12 12:22] flambchap commented on #14922
Thank you for the idea. I think we are going to maintain choco packages ourselves at some point.

[2022-01-12 12:23] LonwoLonwo commented on #15016
Can you please test the Early Access version? https://dbeaver.io/files/ea/

Maybe it was fixed here - #15059

[2022-01-12 12:23] Matvey16 commented on #15099
@Scoppio I was not able to reproduce it. Can you provide a DDL of this table with a few rows of sample data to test it on our database? Also would be useful to see the query that is being sent (can be seen in query manager)

[2022-01-12 12:32] tati-kru commented on #15152
It is a user comment: "I was trying to add a foreign key for about 20 minutes and I couldn't get DBeaver to either accept it or delete it.  Then my computer crashed, and when DBeaver restarted, it displayed this."

[2022-01-12 12:58] Skydiveroid commented on #15086
@mshakurov

Thanks for the idea.

[2022-01-12 13:04] Skydiveroid commented on #15094
We need to check it.

[2022-01-12 14:19] Skydiveroid commented on #15105
Thank you for the future request!

[2022-01-12 14:20] Skydiveroid commented on #15110
Thank you for the future request!

[2022-01-12 14:44] Scoppio commented on #15099
Have you tried running on a local postgres or a remote one at a different timezone? Because when running with a postgres on localhost everything works perfectly, but as soon as I point to a remote database at AWS the queries become unreliable.

I cannot provide you with sample data or artificial data, sorry. But I can say that using remote databases in different timezones break the query.

[2022-01-12 15:07] Matvey16 commented on #1156
@ultra-chel We need to see the settings that you have for every tab in connection settings (you can blur sensitive data) to be able to recognize the source of the issue. The most interesting are ssl driver properties and ssl tab
![dbeaver_56RhTIx26m](https://user-images.githubusercontent.com/82543000/149166391-19aa2733-7347-4c61-9c3e-be1666705d35.png)
![dbeaver_SEMY5HiFBe](https://user-images.gith

[2022-01-12 15:16] Matvey16 commented on #15101
@tianmingxing Can you try creating a connection with MySQL 5 driver?

[2022-01-12 16:15] #12218 closed, assigned to serge-rider

[2022-01-12 17:05] dhekum opened #15162 "I'm getting an error Connection timed out: connect when it try to connect to an data base. What should I do"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-12 17:27] jetzerb commented on #13905
I ran across this issue today, but noticed an oddity.  If you include another statement _before_ the one with all the parens, there is no problem.  Some examples on `Version 21.3.2.202112271055`

[code]

[2022-01-12 20:08] alesito85 commented on #15158
I've tried, but dmg file seems incomplete (using MacBook Air M1) and .tar.gz doesn't appear to work either. I've tried downloading same arch.

[2022-01-13 00:47] mtowersap commented on #8930
I didn't quite have this problem, but I couldn't get dbeaver to connect to the running postgresql container.  realized I had a windows postgresql server running, and it was trying to connect to that instead. I turned it off, and poof, could connect to the container.  I could have gotten around that probably changing the port, but I wasn't using the windows postgres server., so I made it manual and

[2022-01-13 01:28] pilipalahjh commented on #15144
I try to just replace first default jar package.And i solved it.thanks.
![image](https://user-images.githubusercontent.com/52158211/149249368-d3d8630a-ef0c-4431-be2a-7d24d568fae1.png)

[2022-01-13 03:54] wardelll commented on #9181
Same issue with version 21.3.2 on Mint 18.3 if I click 'Open File' from the file menu or if I click the file Browse button to add a key file in the ssh settings.

[2022-01-13 05:04] mwittmann commented on #5994
I noticed that the behavior described below only applies to the SQL Editor **before** I have selected a server and database... so DBeaver does not yet know which SQL syntax is correct. So the following may be moot... but for the record.

MySQL allows single line comments starting with `#` (hash). If keyword capitalization is turned on, DBeaver always capitalizes them on lines starting with (or to

[2022-01-13 06:40] tianmingxing commented on #15101
<img width="500" alt="image" src="https://user-images.githubusercontent.com/5615719/149278667-5ebc4d44-4643-4dcb-9cc0-a286f4536fbb.png">

SQL 错误 [S1000]: Could not retrieve transaction read-only status from server
Could not retrieve transaction read-only status from server
Could not retrieve transaction read-only status from server
Unknown system variable 'transaction_read_only'
Unknown system var

[2022-01-13 06:59] LonwoLonwo commented on #15144
@pilipalahjh Thanks for the investigation.

[2022-01-13 06:59] #15144 closed, assigned to nobody

[2022-01-13 07:32] elmarlegrange commented on #14882
Using Windows 11 and getting the same issue on application start:
![image](https://user-images.githubusercontent.com/40075458/149285110-c7998384-da40-49c8-ab49-238b7b60f39a.png)

Version: MS Store
![image](https://user-images.githubusercontent.com/40075458/149285242-9b645fab-ec1a-446b-9d94-1d09ccd023ad.png)

[2022-01-13 07:44] antonyraj05 commented on #15157
Hello @LonwoLonwo
Thanks for sharing, I do have a liquibase pro trail key & which is applied to Dbeaver too.
I tried to create Liquibase change log too same

[2022-01-13 09:10] uslss commented on #15162
please, provide info accordingly to the [template ](https://github.com/dbeaver/dbeaver/issues/new?assignees=&labels=bug%2C+wait+for+review&template=bug_report.md&title=)

[2022-01-13 09:12] uslss commented on #15154
@rhanton could you check if issue is actual for you against 21.3.2 version?

[2022-01-13 09:28] Matvey16 commented on #13671
Verified

[2022-01-13 09:28] #13671 closed, assigned to LonwoLonwo, Matvey16

[2022-01-13 09:54] uslss commented on #15128
@devismu Probably Tasks will be helpful in this case.
You can read more about them [here](https://github.com/dbeaver/dbeaver/wiki/Task-Management)
Could you check if it resolves your issue?

[2022-01-13 09:58] uslss commented on #15151
Thanks for the report.
Unfortunately, this is a bug in Eclipse platform.
Close this as a duplicate of #6581

[2022-01-13 09:58] #15151 closed, assigned to nobody

[2022-01-13 10:03] flambchap opened #15164 "Correct the name of the Salesforce driver"
In the 21.3.2, we added the SalesForce driver. Salesforce has asked us to correct the driver's name to Salesforce CDP.

[2022-01-13 10:08] damgot commented on #9626
I'm also looking for this feature.
Data-compare compares two tables but not two results.

[2022-01-13 10:19] StevenWooding opened #15165 "Showing "Data" on a CockroachDB never completes (hangs) on a very large table with a stacked primary key"
To fix the issue you simply have to add "order by primary key <tablename>" to the backend query. So it should be an easy fix.

#### System information:
- OS: Ubuntu 20.04
- Dbeaver Version 21.1.2
- Additional extensions: None

#### Connection specification:
- Database: CockrochDB 21.2
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc): No

#### Describe the pro

[2022-01-13 11:10] LonwoLonwo commented on #15165
Hello @StevenWooding

Can you provide table DDL with a stacked (multi) primary key, please?

[2022-01-13 11:35] LonwoLonwo opened #15167 "Add "Reacreate table" option in datatransfer."
We need to add the "Reacreate table" option in the data transfer import options.

With the ability to recreate existing tables (DROP and CREATE).

It can help users with CSV files that have changed (The number of columns in the file may differ from the original table, for example).

[2022-01-13 11:50] LonwoLonwo commented on #15124
Ok. And what about verifying statement? Can you execute it?

CALL SYSPROC.SYSINSTALLOBJECTS('EXPLAIN','V','','SCHEMANAME')

Use the result from VALUES(SESSION_USER) instead 'SCHEMANAME'.

This procedure returns error -438 if no EXPLAIN tables in the schema.

[2022-01-13 12:29] serge-rider opened #15168 "Add menu item "Create SQL script""
We need a new context menu item "New Script" for SQL editor tab menu.
It will create a new script for current database connection.

[2022-01-13 12:58] ShadelessFox commented on #14477
Implemented:

![image](https://user-images.githubusercontent.com/35821147/149334519-0de16110-1148-4247-abb7-ee760ec658d4.png)

[2022-01-13 13:13] flambchap commented on #15164
Changed.

[2022-01-13 13:17] magespawn commented on #14882
![DBeaver  About 2022-01-13_15-15](https://user-images.githubusercontent.com/9950525/149337027-d6233c52-83d3-4185-af8f-ed3614feafd8.png)
![Dbeaver Error 2022-01-13_15-14](https://user-images.githubusercontent.com/9950525/149337050-0dd1d022-870a-4447-89b6-9afbc8bd2965.png)
 Windows 10.

[2022-01-13 13:33] Matvey16 commented on #15101
@tianmingxing I meant using this driver when creating a connection

![image](https://user-images.githubusercontent.com/82543000/149339556-a316b3cc-2af4-44c4-8f8c-160d68c6ab3b.png)

Or if you are using a custom copy, to copy it from this one.

[2022-01-13 13:51] ccstonge commented on #15124
Running that from DBeaver results in:

`[-438] Application raised error or warning with diagnostic text: "EXPLAIN INVALID".. SQLCODE=-438, SQLSTATE=3900`

Running from control center gives:

[code]

The tables exist. These are the tables listed in the schema that corresponds with the user:

EXPLAIN_ARGUMENT
EXPLAIN_DIAGNOSTIC
EXPLAIN_DIAGNOSTIC_DATA
EXPLAIN_INSTANCE
EXPLAIN_OBJECT
EXPLAIN_OPERATOR

[2022-01-13 14:39] LonwoLonwo commented on #15158
@alesito85
Maybe this advice can help with EA: https://github.com/dbeaver/dbeaver/issues/13125#issuecomment-876418323

[2022-01-13 14:40] Matvey16 commented on #12010
Value panel presentations work independently from each other, It can be very confusing and lead to mistakes in user cases.

![dbeaver_wAMwyU122E](https://user-images.githubusercontent.com/82543000/149350642-0ef81d01-c7ff-439f-a755-c4d85e3a1323.gif)

[2022-01-13 15:41] veerappans opened #15172 "Can we add a new database connection please to Apache Druid."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-13 16:24] pperejonf opened #15173 "Adding DB2 tables to ERD diagram result in Null pointer exception"
#### System information:
- Operating system (distribution) and version:  Windows 10 Home
- DBeaver version: Versión21.3.2.202112271055
- Additional extensions: Git

#### Connection specification:
- Database name and version: DB2 v10.5.0.11
- Driver name: com.ibm.db2.jcc.DB2Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: VPN Connection

#### Describe the problem you're observing:

For so

[2022-01-13 17:16] LonwoLonwo commented on #15173
Hello @pperejonf

What do you mean by specific tables? Maybe we can fix the issue with these tables because I'm not sure that DBeaver should show an incorrect ERD diagram without not-downloaded tables or connections between tables (foreign keys).

[2022-01-13 19:48] alesito85 commented on #15158
@LonwoLonwo I've tried it using this method and it worked (I was able to launch this version of DBeaver - verified in about, build number). However the issue with advance copy persists, I've verified that case is set to "as is".

[2022-01-13 21:07] rdp commented on #14477
Thanks!

[2022-01-14 01:33] GamesmenJordan commented on #2412
I am also having this error, changing driver version doesn't seem to make any difference - tried 8.0.3, 8.0.11, 8.0.27 and all return this error.

[2022-01-14 02:35] tianmingxing commented on #15101
@Matvey16 @LonwoLonwo  The solution you mentioned has no effect。

<img width="651" alt="image" src="https://user-images.githubusercontent.com/5615719/149441811-0fce6b4e-f83c-400c-beb4-71937d594a01.png">

<img width="449" alt="image" src="https://user-images.githubusercontent.com/5615719/149441749-28095714-f84e-416c-917d-1767fe918231.png">

[2022-01-14 02:36] tianmingxing commented on #15101
If only unrecognized variables appear, can this situation be ignored? Do not interrupt the current operation, or the problem may be solved.

[2022-01-14 03:00] lzb-libra commented on #12010
I hope I can use the plug-in directly in the form instead of opening a panel to operate, which undoubtedly increases my operation steps, and I hardly use this panel

[2022-01-14 06:18] LonwoLonwo commented on #15158
Can you please provide a screen of your Export SQL settings?

I can't reproduce, unfortunately.

[2022-01-14 06:19] LonwoLonwo commented on #15157
And it worked? Or was some problems?

[2022-01-14 06:22] LonwoLonwo commented on #15157
Also - did the schema compare with all packages correct?
The main issue is only with picking only some packages, not all?

[2022-01-14 06:24] alesito85 commented on #15158
Here you have.

![image](https://user-images.githubusercontent.com/4399118/149461416-a84ec865-30bd-4cc5-a131-80bc29be3673.png)

[2022-01-14 06:42] david-a-hillman opened #15174 "Display Bug: Bottom line of SQL Editor pane is obscured by horizontal scroll bar"
#### System information:
- Kubuntu 20.04.3 LTS
- DBeaver version Version 21.3.2.202112271055

#### Describe the problem you're observing:
The bottom line of any SQL Editor pane is obscured by the horizontal scrollbar when the mouse pointer is hovered over that region ( which causes the scrollbar to be rendered ).  See attached screenshot.

#### Steps to reproduce, if exist:
Create an SQL Editor pa

[2022-01-14 06:49] LonwoLonwo commented on #15158
Hmm... Ok. And what about table DDL?

[2022-01-14 06:54] alesito85 commented on #15158
Here's the DDL:

[code]

[2022-01-14 07:36] uslss commented on #15174
thanks for the report
duplicates #10950

[2022-01-14 07:36] #15174 closed, assigned to nobody

[2022-01-14 07:42] 0luc opened #15175 "Password plaintext visible when using -con parameter with password included. Shown in 'Installation Information' screen."
#### System information:
- Windows Server 2016 x64
- DBeaver CE	21.3.2.202112271055
- No extensions

#### Connection specification:
- Oracle 19c
- Oracle
- No proxy or tunnels

#### Describe the problem you're observing:
When using -con parameter with password included. The password is plaintext shown in: Help -> Installation Information -> Tab 'Configuration' as shown below.

-con
name=**$name**|

[2022-01-14 08:07] #14964 closed, assigned to E1izabeth, uslss

[2022-01-14 08:13] uslss commented on #15164
verified

[2022-01-14 08:13] #15164 closed, assigned to flambchap, uslss

[2022-01-14 08:29] Destrolaric commented on #12010
@lzb-libra Hi, you can use time editor in inline mode, or by hitting ctrl+enter combination, you summon dialog in which you are able to edit variables.

[2022-01-14 08:32] lzb-libra commented on #12010
@Destrolaric Hi, In my dbeaver version, the community does not respond to pressing Ctrl + enter. Does this version not have this function

[2022-01-14 08:34] Destrolaric commented on #12010
@lzb-libra Sorry got a typo, shift+enter is the correct combination

[2022-01-14 08:34] ShadelessFox commented on #14964
Hello @bianyun1981,

Although this issue is now closed, you can still refer to it if you create a new PR.

[2022-01-14 08:38] uslss commented on #15158
thanks for the report and clarification

[2022-01-14 08:39] LiBerti13 commented on #5536
This issue is still present. This is clearly a bug. I see no reason why all the columns _in the entire database_ should be retrieved before a single table is queried.

[2022-01-14 08:41] lzb-libra commented on #12010
@Destrolaric Thanks, but I only use this panel when there are a lot of contents in the field. After entering this panel, I still can't find the time selection plug-in. The time selection plug-in I said is similar to this

[2022-01-14 08:41] Matvey16 commented on #15099
@Scoppio It looks like an expected behavior to me. The function `now()` is executed on the server therefore it uses the server timezone. What type of timestamp column do you have? timestamp or timestamptz?

[2022-01-14 08:43] lzb-libra commented on #12010
@Destrolaric Thank you, but I only use this panel when viewing the contents of large fields. There is still no time plug-in I need in this panel. The plug-in I want is like the one shown in the picture. Won't community provide it in this version
![QQ截图20220114163945](https://user-images.githubusercontent.com/63389341/149483623-dc0a1bb1-cf6e-40d6-a654-2248c4d694a7.png)
![QQ图片20220114164056](https:/

[2022-01-14 08:45] lzb-libra commented on #12010
In fact, this function is not particularly needed. The main thing is that dbeaver has to download the plug-in again after each update

[2022-01-14 08:47] rhanton commented on #15154
@uslss Upgraded to 21.3.2 and it operates exactly the same as 21.2.3.x (as described above).

[2022-01-14 08:49] uslss commented on #15154
@rhanton thanks for testing. Could you provide some sample data to reproduce an issue? Thanks in advance

[2022-01-14 08:53] uslss commented on #15016
thanks for the report.
will be fixed in #15158

[2022-01-14 08:53] #15016 closed, assigned to nobody

[2022-01-14 08:55] #14891 closed, assigned to nobody

[2022-01-14 08:59] pperejonf commented on #15173
Hello @LonwoLonwo!  Thanks for your response.

I mean that there are many tables I can add to my ERD inmediately and without any problem, but here are other that I simply can't, getting in 90% of cases a "Null pointer exception". That's why I'm thinking it could be a dymamic issue (table lock or something...). Why does it work sometimes and other not? Why only specific tables from the same scheme?

[2022-01-14 09:11] uslss commented on #12010
feature request accordingly to plugin could be tracked here #5317

[2022-01-14 09:16] lzb-libra commented on #12010
Thanks for your advice

[2022-01-14 09:23] lukaseder opened #15176 "Firebird procedure/function overloads aren't displayed correctly in schema tree"
#### System information:
- Operating system (distribution) and version: Microsoft Windows [Version 10.0.22000.434]
- DBeaver version: Version 21.3.2.202112271055
- Java version: OpenJDK build 17+35-2724

#### Connection specification:
- Database name and version: 4.0.0
- Driver name: `org.firebirdsql.jdbc:jaybird:4.0.0.java8`
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the

[2022-01-14 09:26] Destrolaric opened #15177 "Disabling SQL parameters also disables SQL variables"
#### Describe the issue you're observing:
In SQL Processing, we have two checkboxes, `Enable SQL parameters` and `Enable SQL variables`. If parameters are disabled, DBeaver stops parsing variables even if the second checkbox is ticked.

#### Steps to reproduce:
- Untick `Enable SQL parameters`
- Tick `Enable SQL variables.`
- Try to create a variable with ${}
- Variable is not parsed

[2022-01-14 09:33] Matvey16 commented on #14477
Verified

[2022-01-14 10:17] Matvey16 commented on #15079
@morl-la Does this error appear consistently at the same situation or is it more random?

[2022-01-14 10:25] Matvey16 commented on #15101
@tianmingxing For now it can't be ignored, but the last possible workaround is to use MySQL (Old) driver to create a connection. It works as a generic type, so would probably ignore this error. Please tell if it worked, otherwise we will need to dig deeper.

[2022-01-14 10:33] Matvey16 commented on #15117
@aravindhansps Can you please provide more info. What OS do you use, how did you install DBeaver? Do you see any error message when launching Dbeaver?

[2022-01-14 10:40] morl-la commented on #15079
It was random and hasn't reproduced since.

[2022-01-14 10:40] Matvey16 commented on #15102
@yevon Sorry, your title and post sound kind of contradicting. Did I understand correctly that you don't want to confirm commit on exit if you had only selects in transaction? We have smart commit mode that will open transactions only for DM queries and will autocommit any select query. There are some situation where you want to execute select in transaction so commiting it automatically without u

[2022-01-14 10:44] yevon commented on #15102
No no, what I mean is that latest dbeaver version asks you to commit pending transactions even when you have not executed any. If you open a new connection, execute a select * from dual, and you close it, it asks you to commit pending transactions. A select is not a transaction that makes any change to the db, so it should not ask you to commit anything.

[2022-01-14 10:58] Destrolaric commented on #14220
@pjfrade I looked into this issue, unfortunately, this error is not handled correctly inside the Snowflake driver and DBeaver can't detect it properly. It is third-party issue and can't be fixed inside DBeaver

[2022-01-14 11:30] bianyun1981 commented on #14964
@ShadelessFox OK. I am now doing the localization of Simplified Chinese.

[2022-01-14 11:51] Leopold702 opened #15178 "Installing sp_WhoIsActive procedure with DBeaver"
#### System information:
- Operating system (distribution) and version: Windows Server 2019
- DBeaver version: 21.3.2.202112271055 (CE)
- Java version: 11.0.12
- sp_WhoIsActive: 11.32
- Additional extensions: none

#### Connection specification:
- Database name and version: SQL Server 2019
- Driver name: MS SQL Server / SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Descr

[2022-01-14 11:51] Matvey16 commented on #15102
@yevon Thank you for clarification. I will change this ticket to a bug, because it is indeed a bug.

The expected behavior is to not ask for confirmation if transaction had only select queries and it works until any other query is executed in a transaction, after that the confirmation will always pop up regardless of query type in a transaction

STR:
1. Enable manual transactions
2. Execute any da

[2022-01-14 11:57] Matvey16 commented on #15079
@morl-la It appears as a general java or eclipse issue. The only workaround I can see is to add `-Xss5m` parameter in dbeaver.ini file which will increase the stack size for the JVM (you can use any other size instead of 5m, but to big numbers can affect performance).
We need to find a way to reproduce this issue in order to implement a fix

[2022-01-14 11:58] LonwoLonwo commented on #15178
Hello @Leopold702

Please, can you highlight all your script in SQL Editor and use Alt+X?

[2022-01-14 12:21] Leopold702 commented on #15178
Hi @LonwoLonwo,

I'm still getting the same problem. Here is a demo.

https://user-images.githubusercontent.com/64221830/149513921-572417fc-3c44-4bcb-97be-e241628c94a3.mp4

[2022-01-14 12:25] LonwoLonwo commented on #15178
And highlighting + Ctrl+Enter?

[2022-01-14 12:35] Leopold702 commented on #15178
Then it fails like this:

![image](https://user-images.githubusercontent.com/64221830/149516016-3bede7f0-0eea-4efe-8378-751da31caf54.png)
Here is also [error log](https://github.com/dbeaver/dbeaver/files/7870330/sp_whoisactive.log).

[2022-01-14 13:06] bechtold commented on #15142
Hi @akilovich, thx for your answer. It looked like a bug, so I didn't think it was a question. I guess DBeaver LE is not an option then.

[2022-01-14 14:58] Matvey16 commented on #14031
Verified

[2022-01-14 17:10] Scoppio commented on #15099
No... not by far, what I said originally was:
`select * from my_table mt where mt.created_at between now() - interval '4 hours' and now();` (retconning, I originally used between but got stuck in my head that I was using greater than)

considering `now()` = `2022-01-14 14:37:00.000Z`

## Expected
Expected to return only objects created between `2022-01-14 14:37:00.000Z` and the `2022-01-14 10:37:0

[2022-01-14 18:43] Scoppio commented on #15099
I am closing this issue because I cannot replicate this error anymore since the last update in DBeaver.

[2022-01-14 18:43] #15099 closed, assigned to nobody

[2022-01-14 20:59] aravindhansps commented on #15117
Hi,

I have downloaded the ZIP folder and running it on my Work Citrix machine.

From: Matvey16 ***@***.***>
Sent: Friday, January 14, 2022 2:33 AM
To: dbeaver/dbeaver ***@***.***>
Cc: aravindhansps ***@***.***>; Mention ***@***.***>
Subject: Re: [dbeaver/dbeaver] Dbeaver 21.3.2 not loading (Issue #15117)

@aravindhansps <https://github.com/aravindhansps>  Can you please provide more info. What OS

[2022-01-14 21:01] yevon commented on #15103
Find attached a video with found issues:

[Video capture link](https://we.tl/t-tmdfz2iEZT)

Sorry but my video screen recorder software is not able to capture the autocompletion pop up even when I was seeing it, but it just says (No proposals).

[2022-01-15 11:46] Lonniebiz opened #15185 "AppImage Support"
My preferred way to install Dbeaver would be an [AppImage](https://www.appimagehub.com/), but as far as I know this isn't an option.

I've been told that people who know what they're doing can convert Snaps and Flatpacks to AppImages without much effort.

Can Dbeaver add the generation of an AppImage to their build process, so that it could be made available via AppImage download?

[2022-01-15 13:49] 3DRaven opened #15186 "Lost connection every time"
#### System information:
- Ubuntu 20.04
- DBeaver 21.2.2.202110030714 installed as deb

#### Connection specification:
- Postgres 12
- org.postgresql.Driver
- VPN only

#### Describe the problem you're observing:

After few minutes I can't execute SQL on connection. Every time I need to use "check connection" in context menu for connection and invalidate it. As consequence do not work "rescans" of

[2022-01-16 09:01] BambangSumitra opened #15188 "Incorrect query result on custom add driver (MariaDB)"
#### System information:
- Operating system (distribution) and version : Windows 11
- DBeaver version : 21.3.0.202112091630 ( from windows store )
- Additional extensions : None

#### Connection specification:
- Database name and version : 10.5.12-MariaDB MariaDB Server
- Driver name : org.mariadb.jdbc - version 2.62
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  : No

#### Describe the probl

[2022-01-16 11:06] barbyware opened #15189 "Apache kylin support"
I could use the generic JDBC for apache kylin.
But it is possible to provide an apache kilyn connector,

[2022-01-16 16:53] LinWanCen commented on #14780
![image](https://user-images.githubusercontent.com/14926671/149669514-bb013bc5-4f3d-4a91-a276-48b114d4106b.png)

[2022-01-16 20:04] ShadelessFox commented on #14780
I see, thanks. It would be handy.

Currently, the description is displayed in a tooltip.

[2022-01-17 04:18] ghost opened #15191 "Now a day if you forget your local password, Dbeaver has is no more usefull.Please, create a recovery password feature."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-17 06:00] Matvey16 commented on #14737
@GriGrim Have you tried connecting with the same driver properties on any of your colleagues' pc where it works?

[2022-01-17 06:20] younjunsu opened #15192 "Please support TIBERO."
Hello. I am an engineer working as a DBA in Korea.
Please support Tibero(RDBMS) products, made in Korea.

Please support TIBERO.
------------------------------
**DBeaver**
- Version : COMMNUNITY EDITION 21.3.2.202112271055
- OS : Windows 10 64bit

**TIBERO**

- VERSION : 6
- TYPE : RDBMS
- JDBC Connection URL : jdbc:tibero:thin:@{host}:{port}:{database}
- JDBC Driver FILE : You need to pull it out

[2022-01-17 07:20] bianyun1981 opened #15194 "Wrong row count passed to NLS.bind() method in ResultSetViewer.java"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise Edition (Simplified Chinese), 21H1
- DBeaver version: 21.3.3-SNAPSHOT (The latest development version at the time of posting)
- Additional extensions: none

#### Describe the problem you're observing:
I found an accidentally caused bug that didn't exist in the last release (21.3.2). The buggy code is at l

[2022-01-17 07:27] uslss commented on #14296
verified

[2022-01-17 07:27] #14296 closed, assigned to E1izabeth, uslss

[2022-01-17 07:31] uslss commented on #15191
@scubaDevs please, provide more info about your issue. Clear steps to reproduce will be helpful. Which DBeaver version do you use?

[2022-01-17 07:40] ShadelessFox commented on #15194
Hello @bianyun1981,

Thanks for the report.

That was an unintended typo.

[2022-01-17 07:48] TomskDiver opened #15196 "GUI doesn't support Clickhouse UUID type"
#### System information:
- Operating system (distribution) and version  - Windows 10
- DBeaver version - 21.3.2.202112271055 (27 Dec 2021)
- Additional extensions

#### Connection specification:
- Database name and version  - ClickHouse 21.3.19.1
- Driver name - ru.yandex.clickhouse-jdbc clickhouse-jdbc 0.3.2 (revision: 567e14d)
- Do you use tunnels or proxies (SSH, SOCKS, etc)? - SSH tunnel

####

[2022-01-17 07:51] uslss commented on #15186
@3DRaven Connection validation time could be changed in Connection Settings
![image](https://user-images.githubusercontent.com/31996417/149728704-d6b2ef7a-4c56-4f70-aba7-23f75167ad20.png)
Also, you can change Keep-alive to non-null
![image](https://user-images.githubusercontent.com/31996417/149728764-49918522-e207-49d4-b764-0af19b637798.png)
Could you check if changing these settings resolves your

[2022-01-17 07:55] ghost commented on #15191
https://stackoverflow.com/questions/39928401/recover-db-password-stored-in-my-dbeaver-connection

On Mon, Jan 17, 2022 at 4:32 AM Dziyana ***@***.***> wrote:

[2022-01-17 07:56] ghost commented on #15191
Dbeaver 21.3.2

On Mon, Jan 17, 2022 at 4:57 AM Leandro Gehlen ***@***.***> wrote:

[2022-01-17 08:31] uslss commented on #15196
thanks for the report

[2022-01-17 09:12] ShadelessFox commented on #14582
https://bugs.eclipse.org/bugs/show_bug.cgi?id=578213

[2022-01-17 09:58] Matvey16 commented on #14288
Verified

[2022-01-17 09:58] #14288 closed, assigned to E1izabeth, Matvey16

[2022-01-17 10:41] Matvey16 commented on #13561
Verified

[2022-01-17 10:41] #13561 closed, assigned to ShadelessFox, Matvey16

[2022-01-17 10:45] Destrolaric commented on #14031
Reopened due to found bug with selection of line break characters

[2022-01-17 10:56] uslss commented on #15155
#14053

[2022-01-17 11:05] uslss commented on #5670
still reproducible in 21.3.2

[2022-01-17 11:18] uslss commented on #11269
cannot reproduce it against 21.3.2

[2022-01-17 11:18] #11269 closed, assigned to nobody

[2022-01-17 11:29] uslss commented on #11509
already implemented (21.3.2 - cannot reproduce)

[2022-01-17 11:29] #11509 closed, assigned to nobody

[2022-01-17 11:45] uslss commented on #12134
seems to be fixed in 21.3.2

[2022-01-17 11:45] #12134 closed, assigned to nobody

[2022-01-17 12:20] Matvey16 commented on #15117
@aravindhansps Please attach the full log file, it contains information needed for investigation

[2022-01-17 12:45] Destrolaric commented on #12674
The issue is reproducible in XFCE and Gnome DE.
I tried to reproduce it on KDE Plasma mysqldump is working correctly
![VirtualBoxVM_OWMirxDl6r](https://user-images.githubusercontent.com/20579256/149772599-d61c424a-eba6-4cef-993d-f75f5605ada1.png)

[2022-01-17 13:25] Matvey16 commented on #15194
Verified

[2022-01-17 13:25] #15194 closed, assigned to ShadelessFox, Matvey16

[2022-01-17 13:58] Matvey16 commented on #14031
Verified

[2022-01-17 13:58] #14031 closed, assigned to Destrolaric, Matvey16

[2022-01-17 14:44] 3DRaven commented on #15186
I will try use this and will write later about results

[2022-01-17 14:57] GreatEMU opened #15198 "Countless issues after upgrading from (very) old version #1 - Metadata"
Because of problems on an older version I skipped upgrading for many years. Now after upgrading to the current version I can't count the issues anymore. What happend to this usefull tool?

This is issue #1:
Metadata only work in places when formatin SQL-Script with comment characters

Example:
[code]
In this example, FileB's metadata does not appear. If I delete the comment characters, the data is