[2021-03-11 16:16] mkgrgis commented on #11679
Thank for note, @LonwoLonwo!
Firebird, `CREATE USER` see [this url](https://firebirdsql.org/refdocs/langrefupd25-security-sql-user-mgmt.html). No problems with
[code]
But in DBeaver there is no block of users for Firebird... Oh, I didn't see.

For Oracle the problem is around something like https://docs.oracle.com/cd/B19306_01/server.102/b14200/statements_6012.htm  But is there creating of `CREATE

[2021-03-11 16:20] flambchap commented on #10841
Fixed.

[2021-03-11 18:20] LonwoLonwo commented on #10540
In SELECT LENGTH('CANDIDE') LENGTH is blue, as I can see.

[2021-03-11 20:26] Henry-Jones commented on #11518
Actually the documentation for version 11 and 12 describe nchar more or less as an alias to nvarchar. Both types are not filled with spaces, according to this docs.

[nchar data type in SAP documentation](http://dcx.sap.com/index.html#1201/en/dbreference/char-character-wsqltype.html)

If I extend the table from above with a second column as nvarchar(20) there a no fill chars in this second column.

[2021-03-11 20:32] Henry-Jones commented on #11518
There is no "Data Editor" in the german version below "Editoren", only "SQL Editor" and "Text Editor". At least if you mean in the settings window. But even then, in neither is an option "local" (I guess it would be "Sprache" in German) to choose from.

[2021-03-11 21:09] joekrukosky opened #11698 "Discover update wants dbeaver community 21.0.0 to upgrade to 7.3.1"
I'm running Pop!OS (ubuntu) with KDE and Discover keeps asking me to update dbeaver to 7.3.1 when I'm running 21.0.0.
Anyone else having this trouble or know what's going on?

[2021-03-11 22:13] michal-bartak opened #11699 "We don't include the `AS` clause for table aliases because it is not required and thus can be omitted."
We don't include the `AS` clause for table aliases because it is not required and thus can be omitted.

__Originally posted by @ShadelessFox in https://github.com/dbeaver/dbeaver/issues/11625#issuecomment-795344121__

TBH I don't understand why the original issue has been closed. I raised the issue as **feature request**. Didn't ask why DBeaver doesn't have this feature. Insted I've asked if can b

[2021-03-11 22:26] fossildoc commented on #11481
Thank you for your response. There is a typo in my OP which may have caused
some confusion: "and searched" should be "are searched".
To clarify, attached are two screenshots.
1. full.png shows the window that appears when "DB Full-Text search" is
clicked. You will see a checkbox labeled "Fast search (indexed)". That is a
very useful feature because it limits the search to only indexed columns,
whi

[2021-03-11 23:31] ShadelessFox commented on #11699
Hello @michalk-k,

It was a rude statement of me, I'm sorry for that. I thought it was more a question than an actual feature request. The issue was converted into the discussion, if that still makes sense.

We will implement this as a feature, it would be a nice small addition.

[2021-03-12 01:40] qngl commented on #11685
If user does inline editing and clicks "Save", then gets the error.
![2021-03-12 09_35_51-DBeaver 21 0 0 - NOTIFICATION](https://user-images.githubusercontent.com/26473377/110878627-8511fd80-8316-11eb-8e5d-8f3fa4589d04.png)

[2021-03-12 04:41] lpossamai commented on #11613
The issue is still happening to me. Should I also send you an email with the logs @ShadelessFox?

[2021-03-12 08:26] LonwoLonwo commented on #11679
yep, you it's true about User<>Schema. But we don't have user's DDL tab and as a schema, he is quoted.

![2021-03-12 11_22_45-NEWTABLE - Persist Changes](https://user-images.githubusercontent.com/45152336/110913028-adedbf00-8325-11eb-961d-607e5f838c7f.png)

So. This bug is  for PostgreSQL.

[2021-03-12 08:30] LonwoLonwo commented on #11685
And what type of data has "RECEIVE_TIME"?

[2021-03-12 08:42] yingfengli opened #11701 "athena connection support AWS China region"
Is there any roadmap for Dbeaver to connect Athena  in  AWS China region  ? can not find cn-north-1 and cn-northwest-1 the config in connection creation GUI .

[2021-03-12 08:44] penCsharpener opened #11702 "Cannot connect SQL Server with DBeaver 21"
Although there are various similar issues about this around I found none that helped me so far - neither at github nor stackoverflow or blogs...

#### System information:
- Operating system (distribution) and version: Windows 10 20H2
- DBeaver version: 21
- Additional extensions: just plain DBeaver

#### Connection specification:
- Database name and version: SQL Server 2019 Developer Edition insta

[2021-03-12 08:44] uslss commented on #10841
verified

[2021-03-12 08:44] #10841 closed, assigned to flambchap, uslss

[2021-03-12 08:48] uslss commented on #10544
verified

[2021-03-12 08:48] #10544 closed

[2021-03-12 08:48] penCsharpener commented on #11702
Here is my config

![image](https://user-images.githubusercontent.com/26190934/110915169-960f3e80-8317-11eb-9fe0-d51dc67209c7.png)

![image](https://user-images.githubusercontent.com/26190934/110915277-b808c100-8317-11eb-98ea-a3cd3df1453d.png)

![image](https://user-images.githubusercontent.com/26190934/110915366-d373cc00-8317-11eb-8290-820ae9c670c3.png)
![image](https://user-images.githubusercont

[2021-03-12 08:53] ShadelessFox commented on #11613
Hello again @lpossamai,

Yes, please.

Also I would be glad to receive summary about the original issue about permission error, because currently we're talking about another issue

[2021-03-12 08:58] kseniiaguzeeva commented on #11073
verified

[2021-03-12 08:58] #11073 closed, assigned to flambchap, kseniiaguzeeva

[2021-03-12 09:25] kseniiaguzeeva commented on #10742
verified

[2021-03-12 09:25] #10742 closed

[2021-03-12 09:45] bdaboah opened #11703 "cannot execute query with db monitor"
hello

when we open the monitoring database (ctrl alt shit B), we cannot :

execute sql statement with ctrl-enter => new ligne instead of
delete character of the query with del button => nothing

sorry for my english ^^

![Screenshot_2021-03-12_10-40-51](https://user-images.githubusercontent.com/466506/110922360-e25e7c80-831f-11eb-8ba8-ed601d1f82b2.png)

dbeaver Version 21.0.0.202103021012

Linux

[2021-03-12 09:48] kseniiaguzeeva commented on #10982
verified

[2021-03-12 09:48] #10982 closed, assigned to serge-rider, kseniiaguzeeva

[2021-03-12 09:49] serge-rider commented on #11703
Could you check error/debug log for any related errors? (https://github.com/dbeaver/dbeaver/wiki/Log-files)

[2021-03-12 09:50] qngl commented on #11685
TIMESTAMP

[2021-03-12 10:08] uslss commented on #10961
verified

[2021-03-12 10:08] #10961 closed, assigned to uslss, ShadelessFox

[2021-03-12 10:09] sharathr1 opened #11704 "PostgreSQL 11 - Unable to edit JSON column"
Whenever we edit a json column or non-json column in the table which has json column is not supported.

[2021-03-12 10:19] uslss commented on #11047
verified

[2021-03-12 10:19] #11047 closed, assigned to flambchap, uslss

[2021-03-12 10:33] uslss commented on #11662
verified

[2021-03-12 10:33] #11662 closed, assigned to serge-rider, uslss

[2021-03-12 10:39] uslss commented on #11479
verified

[2021-03-12 10:39] #11479 closed, assigned to uslss, LonwoLonwo

[2021-03-12 10:40] kseniiaguzeeva commented on #11702
Please try to write 0.0.0.0 instead of localhost, check whether the port is correct for your local SQL Server.
![dbeaver_RG5UxMhWJD](https://user-images.githubusercontent.com/51405061/110928912-72a8bb80-8338-11eb-9638-508858288a19.png)

[2021-03-12 10:44] uslss commented on #11562
verified

[2021-03-12 10:44] #11562 closed, assigned to flambchap, uslss

[2021-03-12 10:54] serge-rider opened #11705 "Data transfer tasks execution"
Sometimes a lot of different DDL/data specific errors occur during data transfer tasks (and maybe some other) execution.
We need to add ability to ignore all these errors silently.

[2021-03-12 11:10] chaptergy commented on #4738
This is especially useful when working with database dumps, which are usually large in size. If I want to import a db dump in dbeaver I would usually have to wait around 4 to 5 minutes for the editor to load after opening the sql file, only to then wait 4 to 5 minutes more after switching the database on which I would want to import this dump.

[2021-03-12 11:20] LonwoLonwo commented on #11007
Fixed in 21.0.1

[2021-03-12 11:21] LonwoLonwo commented on #10728
Indexes in Clickhouse are not the same as indexes in standard DB, like PG or Oracle. Their structure is more complicated.
And unfortunately, it does not fit into the standard index model in DBeaver.
Unfortunately, the current Clickhaus driver does not return the list of indexes.
Therefore, while we did not know how to get a list of all table indexes, we remove the index tab.
However, you can alway

[2021-03-12 11:34] uslss commented on #11704
thanks for the report

[2021-03-12 11:37] uslss commented on #11702
@penCsharpener also please check tcp/ip settings for sql server instance
https://kb.sos-berlin.com/pages/viewpage.action?pageId=17499564
https://stackoverflow.com/questions/18841744/jdbc-connection-failed-error-tcp-ip-connection-to-host-failed

[2021-03-12 11:49] uslss commented on #11592
@Sybil997 please, provide an error stacktrace https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-03-12 11:51] uslss commented on #11525
Unfortunately, dbeaver supports x64 odbc driver only

[2021-03-12 11:52] #11525 closed, assigned to nobody

[2021-03-12 11:55] uslss commented on #11494
Could you try to reset [wokspace state](https://github.com/dbeaver/dbeaver/wiki/Reset-workspace) and [UI settings](https://github.com/dbeaver/dbeaver/wiki/Reset-UI-settings)?

[2021-03-12 11:57] uslss commented on #11481
@fossildoc could you post pictures once again?
Unfortunately, I can't see it :(
![image](https://user-images.githubusercontent.com/31996417/110937282-3464c980-8343-11eb-808a-fe9b9dca6ce1.png)

[2021-03-12 12:06] uslss commented on #10728
verified

[2021-03-12 12:06] #10728 closed

[2021-03-12 12:09] detkliff commented on #11494
yes, i could. No effect

[2021-03-12 12:11] detkliff commented on #11494
![изображение](https://user-images.githubusercontent.com/61137576/110938591-e86f5000-8355-11eb-9cee-15fadc084d22.png)
reset wokspace state and UI settings

[2021-03-12 12:24] tharun-d opened #11710 "after save drop down again changed to NA"
#### System information:
- Operating system (distribution) and version : ubuntu 16.04
- DBeaver version latest deb version
- Additional extensions no

#### Connection specification:
- Database name and version maria db
- Driver name maria

when ever I select host and db name from drop down

and writing script its working if I click ctrl+s drop down again changed to NA. again I have to select host

[2021-03-12 12:28] LonwoLonwo commented on #10726
I've added default as default Engine on the end of statement - https://clickhouse.tech/docs/en/engines/table-engines/log-family/log/
Because it is understandable and does not require columns as parameters.

[2021-03-12 13:46] serge-rider commented on #6916
Fixed

[2021-03-12 14:45] bfharreguy opened #11711 "Debbuging with mariadb"
Hello!! i try to o a debugg with mariadb and i have the error "Driver mariadb no support debugging"
I try to ativate debuging in Driver mariadbconnector J
https://mariadb.com/kb/en/about-mariadb-connector-j/#debugging
The problems persinst!! if mysql works i think what in mariadb should be work, please help!1 i need a do a debug
Im using DBeaver last version of comunity
Mariab server 10.5.8
Mariad

[2021-03-12 15:14] robertos1232 opened #11712 "DBMS_OUTPUT dbeaver position"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04
- DBeaver version dbeaver 21
- Additional extensions None

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
I have i problem with "output dbms."
Because i do not see the option to position it.
In

[2021-03-12 15:53] kseniiaguzeeva commented on #6989
Could you please create a new ticket, tell your database and send DDL example?
Is it possible to make screenshot of Preferences>Data Editor>Data Formats?
![dbeaver_plW9XxsFZp](https://user-images.githubusercontent.com/51405061/110964311-1d829f00-8364-11eb-88e0-7867288301df.png)

[2021-03-12 16:25] LonwoLonwo commented on #7861
Fixed in 21.0.1

[2021-03-12 16:59] fossildoc commented on #11481
I do not see any way to upload images to my OP in github, so I have
attached both files to this email again. If you cannot see them, please
send me explicit instructions on how to add them to my OP.

On Fri, Mar 12, 2021 at 6:57 AM Dziyana ***@***.***> wrote:

[2021-03-12 18:35] penCsharpener commented on #11702
I tried all the above. No luck. My TCP port is 1433 and that works fine in Azure Data Studio and SSMS.
But when I run `telnet 127.0.0.1 1433` it also says

[code]

I mean this is a fresh installation with all default settings. I can connect DBeaver to a remove SQL server but for some reason not to my localhost instance. It even worked in the past with a docker container version but I had to give u

[2021-03-12 18:52] enriquezrene commented on #10328
Hi @LonwoLonwo
I'm sorry. I think I was not clear enough. Let's say you're selecting the id of the IT department
[code]

Now, let's say you want to know all the employees working on the above-mentioned department. So you need the following query:
[code]

In this case, I want to use the first query as subquery, which means, I need to wrap it between parenthesis like this:

[code]

So it would be aw

[2021-03-12 18:55] uslss commented on #11702
@penCsharpener could you check if tcp/ip is enabled for your mssql instance?
https://docs.microsoft.com/en-us/sql/database-engine/configure-windows/configure-a-server-to-listen-on-a-specific-tcp-port?view=sql-server-ver15

[2021-03-12 19:48] penCsharpener commented on #11702
It says Active yes, and Enable No but even if I do Enabled Yes and Active Yes for TCP/IP and restart the service I can't connect.

[2021-03-12 19:54] Henry-Jones commented on #11518
Some more background:

- contrary to the documentation, the database is sending UTF8 spaces for the empty chars in the select. This is a log of the network traffic from the DDL yesterday.

![Screenshot 2021-03-12 082425](https://user-images.githubusercontent.com/9108755/110990772-12d00600-8374-11eb-8edd-abd95dc1d901.png)

- the UTF16 code 0x2020 indeed represents a small cross:

[UTF16 Chart of th

[2021-03-12 21:58] dragonxtek commented on #11598
I'm working with spatial data in Ubuntu 20.10 and dbeaver 21. Some times dbeaver freezes and it crashes after some queries (I have not yet been able to replicate it). I readed the dbeaver log in ~/.local/share/DBeaverData/workspace6/.metadata/dbeaver-debug.log, but not appear info about the crashing, only issues caused by SQL sentences. This is an extract of the last lines from the file:

  Hint:

[2021-03-13 00:03] p91paul commented on #11481
@fossildoc you have to upload them by posting your comment on the Github web interface. Github allows replies through emails, but does not understand email attachments.

[2021-03-13 02:26] fossildoc commented on #11481
x-special/nautilus-clipboard
copy
file:///home/richard/full.png
x-special/nautilus-clipboard
copy
file:///home/richard/ctrl-f.png

[2021-03-13 04:33] suzukiyuuma opened #11716 "Japanese Translation"
I would like to contribute Japanese translation.
Could you see it if I fork this repo and send pull-request?
Or could I join the team like korean or chinese persons?

[2021-03-13 09:40] mbnoimi commented on #10320
The bug still occurs with flatpak version `21.0.0.202102281712`
[code]

[2021-03-13 14:10] omobus opened #11717 "PostgreSQL array type does not have a component type"
#### System information:
- MacOS 11.2.3
- DBeaver 21.0.0.202103021012

#### Connection specification:
- PostgreSQL 9.6
- SSH tunel

#### Describe the problem you're observing:
An exception is thrown when displaying an array.

#### Steps to reproduce, if exist:
create domain uids_t as varchar(48) array;

create table users (
user_id varchar(48) not null primary key,
pids uids_t
);

insert into  use

[2021-03-13 16:43] ravshansbox opened #11718 "Improve app icon"
App icon doesn't look great in dock, looks bigger than other icons:
<img width="731" alt="image" src="https://user-images.githubusercontent.com/1499188/111037203-f3ed7480-8444-11eb-9339-72739e47d35e.png">

[2021-03-13 19:36] serge-rider commented on #8151
Duplicate of #10841

Will be fixed in 21.0.1

[2021-03-13 19:36] #8151 closed

[2021-03-13 19:45] serge-rider commented on #6441
Most mentioned issues were resolved in versions 7.2-7.3

Please reopen is some of them are still reproducible

[2021-03-13 19:45] #6441 closed

[2021-03-13 19:53] serge-rider commented on #10887
Problem with black labels seems to be Windows-specific.
See https://stackoverflow.com/questions/64049172/how-to-fix-black-foreground-color-for-selected-text-item-in-eclipse-dark-themes

We can't revert to older Eclipse version.
So upgrading Windows 10 version seems to be the only solution for now.

[2021-03-13 21:33] adamsolymos commented on #11647
The same happened on MacOS 11.0.1 with DBeaver v 21.0.0.202102281712. Selected theme is Dark Theme

[2021-03-13 23:44] psuplat opened #11719 "Table filters to be case-insensitive"
This is mainly issue when working with Postgresql.
Filters are case-sensitive. Making them case-insensitive would be a really nice touch.
For example, in the below screen, typing in col, will find Nicola, but Colin will be omitted from the list.
![image](https://user-images.githubusercontent.com/14207860/111052768-e7254c80-8455-11eb-8fe2-8b4993de699d.png)

[2021-03-14 03:06] lpossamai commented on #11613
I get the below error when using SSH Tunnel via DBeaver:

[code]

Note that if I use the same SSH-KEY to directly ssh into the ssh server, it works. I have emailed you the full log.

[2021-03-14 05:05] laurianops commented on #871
Thanks @dgellow  I had the same problem.

[2021-03-14 06:04] IDRIMalek commented on #7597
Same issue.
I've just downgrade.
Work again.

[2021-03-14 06:43] iwantmyway opened #11721 "Only part of the file is imported and no error prompted"
I use the import a csv to sqlite database.
My file have around 500k row. When it run through about the first 360k, it close and report import success.
I also check my file at the row where it stop importing, no issue was found on that row.

https://imgur.com/nccV1vo
https://imgur.com/N7vQytE
https://imgur.com/MqkIqrN

[2021-03-14 08:53] kseniiaguzeeva commented on #6558
verified (Mac and Win10 were tested)

[2021-03-14 08:53] #6558 closed

[2021-03-14 09:48] danilort opened #11722 "Ambiguous buttons (language Italy)"
#### System information:
- Operating system (distribution) and version: Windows 10 versione 20H2 build 19042.804
- DBeaver version: DBeaver Community 21.0.0.202103021012 (LANGUAGE: ITALY)
- Additional extensions: NULL

#### Connection specification:
- Database name and version: MySQL 8.0.21
- Driver name: Driver for MySQL 8 and later
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : NULL

####

[2021-03-14 15:04] defalt926 commented on #11484
Hi! Can you make pictures about how search filters work? I want to work on this issue, but i am a beginner dbeaver user and this is my first contribute.

[2021-03-14 15:17] kseniiaguzeeva commented on #10725
verified

[2021-03-14 15:17] #10725 closed

[2021-03-14 16:35] rotorboy opened #11723 "please"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-14 16:51] rotorboy opened #11724 "please add progress indicator"
Please add progress-indicator as shown in the MariaDB Docs.

_Progress_ Reporting
MariaDB provides progress reporting for ALTER TABLE statement for clients that support the new progress reporting protocol. For example, if you were using the mysql client, then the progress report might look like this::

ALTER TABLE test ENGINE=Aria;
Stage: 1 of 2 'copy to tmp table'    46% of stage_

[2021-03-14 16:54] fossildoc commented on #11484
![BeforeSearch](https://user-images.githubusercontent.com/17547612/111077057-7453ba00-84c5-11eb-99b5-7bb74aceffa3.png)
The picture above shows a part of the verb table. It shows the columns pres, decl, def.

![FilterWindow](https://user-images.githubusercontent.com/17547612/111077074-859cc680-84c5-11eb-877b-48a034eafccc.png)
![SearchWindow](https://user-images.githubusercontent.com/17547612/111077

[2021-03-14 17:03] fossildoc commented on #11484
I don't think cut & paste for images is working on this site, so I'm sending the images again by drag & drop.
![BeforeSearch](https://user-images.githubusercontent.com/17547612/111077057-7453ba00-84c5-11eb-99b5-7bb74aceffa3.png)
![FilterWindow](https://user-images.githubusercontent.com/17547612/111077074-859cc680-84c5-11eb-877b-48a034eafccc.png)
![SearchWindow](https://user-images.githubuserconten

[2021-03-14 17:10] fossildoc commented on #11481
Cut & paste for images does not seem to be working on this site, so I am sending the images again by drag & drop.
![full](https://user-images.githubusercontent.com/17547612/111077306-90a42680-84c6-11eb-8681-61262a4264e7.png)
![ctrl-f](https://user-images.githubusercontent.com/17547612/111077310-9437ad80-84c6-11eb-9366-044dfc07ae17.png)

[2021-03-14 18:27] p91paul commented on #11723
I guess something went wrong while creating this feature request!

[2021-03-14 21:56] smeagol152 commented on #10887
Hello @serge-rider , please reconsider this bug since I'm in Windows Built 2004 and I still have this issue,

Warm regards

[2021-03-15 01:36] ShadelessFox commented on #11723
Closed as possible unsuccessful predecessor of #11724

[2021-03-15 01:36] #11723 closed, assigned to nobody

[2021-03-15 01:42] ShadelessFox commented on #11716
Hello @suzukiyuuma,

You can follow [this article](https://github.com/dbeaver/dbeaver/wiki/Localization) on how to add translation, it will require to fork this repo and make a pull request, yeah :)

Thanks for future contributions!

P.S: I will convert this issue to a discussion.

[2021-03-15 01:42] #11716 closed, assigned to nobody

[2021-03-15 01:59] ShadelessFox commented on #6295
Hello @amatosg,

I believe this feature was implemented in #11118. Can you upgrade and check it out? Thanks!

[2021-03-15 02:21] ShadelessFox commented on #5636
Hello @KarlLevik,

I believe it was fixed. If you are still using our product, can you try updating to newer version to see if the problem still persists?

Thanks!

[2021-03-15 04:00] Mikrz opened #11726 "Windows native SSH Agent not detected for SSH tunnels"
#### System information:
- Operating system (distribution) and version: Windows 20H2
- DBeaver version: Community 21.0.0.202103021012
- Additional extensions: n/a

#### Connection specification:
- Database name and version: MariaDB Ver 15.1 Distrib 10.4.17-MariaDB
- Driver name: MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:
Not able to

[2021-03-15 06:48] LonwoLonwo commented on #11717
Hm, I see. We are reading information about component type (typelem column) from "uids_t", but we need to read the necessary component information from "_uids_t".

Thanks for the bug report!

[2021-03-15 06:50] amatosg commented on #6295
While I don't have files to make tests, for the description I see in the issue matches my request.

[2021-03-15 06:56] dnroldan commented on #7031
I don't know, I tried your queries but I don't know how to use it correctly

[2021-03-15 06:59] LonwoLonwo commented on #7031
Hello @dnroldan
Please use table name as object_name and schema/user name as owner.
like
SELECT DBMS_METADATA.GET_DEPENDENT_DDL('OBJECT_GRANT','EMPLOYEE', 'HR')

[2021-03-15 07:03] dnroldan commented on #7031
Hello @LonwoLonwo, i tried it but I have a "SQL Error [923] [42000]: ORA-00923"

If I put the "select * from DBMS... i get a SQL Error [933] [42000]: ORA-00933

[2021-03-15 07:08] LonwoLonwo commented on #10328
So far, the only case when I see that the replacement does not work - this is when there is nothing after query in SQL Editor and when it is right in front of delimiter (";").
As a workaround, you can use space+delimiter at the end of the query (see video).

![2021-03-15_09h56_59](https://user-images.githubusercontent.com/45152336/111115108-34e4a680-8575-11eb-882b-cb7052089eea.gif)

[2021-03-15 07:10] LonwoLonwo commented on #10502
There is no updates for long time.

Feel free to reopen the ticket, if the problem occurs again.

[2021-03-15 07:10] #10502 closed

[2021-03-15 07:10] eugenesotnikov opened #11727 "Show DB size of pg base in 21.0.0"
#### System information:
- Windows 10
- DBeaver version 21.0.0
- Additional extensions

#### Connection specification:
- PostgreSQL 11.8
- PostgreSQL JDBC Driver 42.2.5

#### Describe the problem you're observing:

If have upgraded from 7.1.5 to 21.0.0
And in 7.1.5 was size of db in postgres. But in 21.0.0. it is gone. On screen i showed where it was.
How to enable it?
![image](https://user-images

[2021-03-15 07:19] LonwoLonwo commented on #7031
Hello  @p91paul
As our best Oracle Consultant, what do you think, what GRANTS should it be shown in the Table DDL tab? May be you know a suitable query? I would like to implement this FR.

[2021-03-15 07:21] eugenesotnikov commented on #11727
I downgraded to 7.1.5.
It was as
![image](https://user-images.githubusercontent.com/60689184/111117149-306dbd00-8578-11eb-878c-3c38b65c4df7.png)
It was very comfortable for many database

[2021-03-15 07:55] ShadelessFox commented on #6295
Alrighty then, I will close this issue for now. Thanks for response!

[2021-03-15 07:55] #6295 closed

[2021-03-15 08:02] uslss commented on #11647
duplicates #10887

[2021-03-15 08:02] #11647 closed, assigned to nobody

[2021-03-15 08:03] uslss commented on #11535
duplicates #10887

[2021-03-15 08:03] #11535 closed, assigned to nobody

[2021-03-15 08:08] LonwoLonwo commented on #11727
Hello @eugenesotnikov
It was a test implementation of that FR in version 7.1.5
But, unfortunately, its introduction led to many problems (mainly because the databases of users are usually heavy), so we immediately turn it off.
However, we still can return PostgreSQL DB statistic as feature request in next releases.
Thanks for idea.

[2021-03-15 08:12] uslss commented on #10887
still reproducible for dark and darkest dark themes against win10 2004

[2021-03-15 08:16] uslss commented on #7861
verified

[2021-03-15 08:16] #7861 closed

[2021-03-15 08:17] uslss commented on #10777
verified

[2021-03-15 08:17] #10777 closed

[2021-03-15 08:17] qupear commented on #10887
This is reproducible on Windows 10H2 as well as Windows 7 Windows Server 2008 and Windows Server 2019. So there is probably no relation to an OS version. There needs to be a white/red/green foreground for such menu elements to be seen.

[2021-03-15 09:02] eugenesotnikov commented on #11727
Must i create FR?
It's really very good feature

[2021-03-15 09:20] #10714 closed

[2021-03-15 10:15] LonwoLonwo commented on #11727
Now. I marked this ticket as enhancement/feature request. Thanks.

[2021-03-15 10:33] alex-rus-msk commented on #4979
I cannot decompressing navision 2009R2, somebody can help?

BLOB fields starts with magic number 0x01447C5A
if throw a way 0x01447C5A results still not decompressed or error because unsupported compression method

in nav2009R2 my fields in HEX:
01447C5A000A386D40C0B870B879A973C406F7B061B0

it is simple txt file - with text:
testtest20212021

compressed string look like:
�D|Z
8m@A?p?y©sA�?°a°

i tr

[2021-03-15 10:36] alex-chee commented on #4979
I cannot decompressing navision 2009R2, somebody can help?

BLOB fields starts with magic number 0x01447C5A
if throw a way 0x01447C5A results still not decompressed or error because unsupported compression method

in nav2009R2 my fields in HEX:
01447C5A000A386D40C0B870B879A973C406F7B061B0

it is simple txt file - with text:
testtest20212021

compressed string look like:
�D|Z
8m@A?p?y©sA�?°a°

i tr

[2021-03-15 11:01] ceinmart commented on #7031
Not sure if this SQL cover all situations, but I think is the basic for any Oracle version...

[code]

[2021-03-15 11:15] tasuki commented on #9307
What the hell... thank you a whole bunch! I never would've figured this by myself!

[2021-03-15 11:18] uslss commented on #4216
seems issue duplicates #72

[2021-03-15 11:18] #4216 closed

[2021-03-15 11:21] uslss commented on #10992
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-03-15 11:21] #10992 closed, assigned to nobody

[2021-03-15 11:22] uslss commented on #10507
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-03-15 11:22] #10507 closed

[2021-03-15 11:23] uslss commented on #11215
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-03-15 11:23] #11215 closed, assigned to nobody

[2021-03-15 11:23] uslss commented on #11221
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-03-15 11:23] #11221 closed, assigned to nobody

[2021-03-15 11:24] uslss commented on #11220
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-03-15 11:24] #11220 closed, assigned to nobody

[2021-03-15 11:24] 2019-05-10 opened #11733 ""Import data": Filechosser does not order sensibly"
I frequently need to importa CSV file into a table.
Opening the file chooser, it usually is hard to spot the file, since the order is rather un-helpful.
Default order seems to be by name, which has files and directories in a complete jumble.
A much more sensible initial order would be by type, so that files and directories are collected in two sections, and then by name and/or date.
Thus one immed

[2021-03-15 11:25] uslss commented on #11338
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-03-15 11:25] #11338 closed, assigned to nobody

[2021-03-15 11:25] uslss commented on #11431
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-03-15 11:25] #11431 closed, assigned to nobody

[2021-03-15 11:36] uslss commented on #11349
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-03-15 11:36] #11349 closed, assigned to nobody

[2021-03-15 11:39] #11337 closed, assigned to LonwoLonwo

[2021-03-15 11:43] dnroldan commented on #7031
Hi @ceinmart ,

I cant obtain results with your query because my user haven't privilleges to acces "dba_tab_privs".
I only comment it because I imagin that the final solution may be for credentials with minor permissions.

Regards.

[2021-03-15 11:46] 2019-05-10 commented on #11368
I played around when time permitted and so far I've found tow things:
a) closing database navigator view does not change anything
b) closing all open editors _seems_ to make cpu usage drop, opening a bunch of editors again does not seem to cause the rise again

b) could indicate that either not actively closing old editors but keeping them open over a long time is at fault -- but I usually shutdow

[2021-03-15 11:56] uslss commented on #8142
already implemented
![image](https://user-images.githubusercontent.com/31996417/111149998-9cfbb280-859e-11eb-8374-3223a4dd1bb2.png)

[2021-03-15 11:56] #8142 closed

[2021-03-15 12:01] 2019-05-10 commented on #11368
Well. my be, it _is_ just the file chooser.
Have not yet imported nor done anything with DBeaver since about 45 minutes and the cpu usage already reaches 28% now.

[2021-03-15 12:03] 2019-05-10 commented on #11368
After import cpu now reaches 38%.

[2021-03-15 13:04] uslss commented on #3466
duplicates #582

[2021-03-15 13:04] #3466 closed

[2021-03-15 13:05] lucamanga opened #11734 "CRASH WITH EXPLAIN ANALYZE ON POSTGRES 13.1"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04
- DBeaver version: 21.0.0

#### Connection specification:
- Database name and version: Postgres 13.1
- Driver name: the official one
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  NO

#### Describe the problem you're observing:
When I do an EXPLAIN ANALYZE, dbeaver crashes badly

#### Steps to reproduce, if e

[2021-03-15 13:06] lucamanga commented on #11734
Note: I'm using the snap version of DBeaver

[2021-03-15 14:23] serge-rider commented on #11393
Fixed

[2021-03-15 15:05] serge-rider commented on #11718
Agreed

[2021-03-15 15:32] ceinmart commented on #7031
ouch, my bad , try this :

[code]

[2021-03-15 15:48] ShadelessFox commented on #11733
Hello @2019-05-10,

I'm not quite understand what you're talking about. DBeaver uses native system components, such as file chooser in your case.

Can you please provide screenshots?

[2021-03-15 15:51] 2019-05-10 commented on #11733
I assume, when instantiating the file chooser, you can as well set the sorting, as you obviously do with the file type ("*.csv")?

![Screenshot_20210315_121405](https://user-images.githubusercontent.com/50481865/111181634-780f3b80-85ae-11eb-8c4d-0d6487714f94.png)

Order here should be
files
directories

not as is now a mix like

adirectory
afile
bdirectory
cdirectory
dfile
edirectory
...

[2021-03-15 16:00] ShadelessFox commented on #11733
Unfortunately, we can't specify the sorting order by ourselves for such platform-specific (and distro-specific) stuff.

Specifying the file filters is a fundamental and well-established feature, but changing sorting, well, rather the opposite.

You can try tweaking settings of your file manager.

[2021-03-15 16:14] #11733 closed, assigned to nobody

[2021-03-15 16:21] Robynishere1 opened #11737 "CSV Datetime formats can't be converted"
#### System information:
- Operating system (distribution) and version
**Windows 10**
- DBeaver version
**21.0.0**
- Additional extensions

#### Connection specification:
- Database name and version
**CSV File**

- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

Hi there

I have a file folder that automatically imports CSV files saved in

[2021-03-15 16:23] serge-rider opened #11738 "Update standard Eclipse UI localization"
We need yo update Babel to 2020-12

[2021-03-15 16:25] DanMcM-SD opened #11739 "Splash screen should show more diversity"
I believe an application with the title "community" should show a more diverse collection of faces. It would be nice if the dbeaver splash screen reflected our community better.

[2021-03-15 16:27] LonwoLonwo commented on #10328
Unfortunately, those several cases that I discovered not to fix.
They are on the side of the Eclipse, on which our program is based.
But you can use workaround, that I suggested.

[2021-03-15 16:36] serge-rider commented on #10654
Unfortunately it is not possible to modify Store application start parameters. As well as modify any of its configuration files.
At the moment the only way to modify default language is thru app parameter or by changing dbeaver.ini. It is Eclipse platform limitation.

Probably we need to publish different version of DBeaver CE for different Windows languages.

[2021-03-15 17:29] serge-rider commented on #10158
We need to show warning dialog with countdown before transaction end.

[2021-03-15 17:42] #11739 closed, assigned to nobody

[2021-03-15 19:36] p91paul commented on #7031
Wow, didn't know I had that title 😀

This one looks fine (in your previous comments, the FROM DUAL part was missing which is why probably the other guys couldn't try it).
[code]

Based on my test, it extracts all grants when the user has DBA privileges, and only the ones to your user when executed by an unprivileged user. Should be equivalent to @ceinmart queries, except easier.

SYSTEM_GRANT in m

[2021-03-15 20:10] p91paul commented on #11733
@2019-05-10 I think the way sorting works might depend on your default file manager application settings

[2021-03-15 22:08] fabianMendez opened #11742 "Filter by value when double clicking on a filter option"
**Is your feature request related to a problem? Please describe.**
This would just be a QOL improvement, but it is annoying that when I double click on an item of the filter options it applies an "is null" filter:

![imagen](https://user-images.githubusercontent.com/32204060/111227336-67f85b80-85b0-11eb-935e-585d5ceae6f8.png)

![imagen](https://user-images.githubusercontent.com/32204060/111227368-

[2021-03-16 00:16] rgoncalves-fuze opened #11743 "Unable to create a new database connection - DriverTreeViewer cannot be cast to class DriverTabbedViewer"
#### System information:
- Operating system (distribution) and version: Windows 10 20H2
- DBeaver version: 21.0.0.202102281712
- Additional extensions: none

#### Describe the problem you're observing:
When trying to create a new database connection, I always get the following error:
[code]

#### Steps to reproduce, if exist:
Just try to create a new database connection by going to menu Database -

[2021-03-16 04:42] septe01 commented on #6994
tkss bro..
fix use this.

[2021-03-16 07:53] LonwoLonwo commented on #10718
Fixed. But be careful. This is expensive operation, and therefore not all the usual cases are supported. I'm not sure, for example, that the update will work when chosen "Use all columns as key".

[2021-03-16 07:56] LonwoLonwo commented on #11743
Hello @rgoncalves-fuze
This ticket is duplicate of https://github.com/dbeaver/dbeaver/issues/11646
And answer was:
"This bug is already fixed. We've released hotfix version right after 21.0 release.
Just re-download it from dbeaver.io."

[2021-03-16 07:56] #11743 closed, assigned to nobody

[2021-03-16 08:03] uslss commented on #10726
verified

[2021-03-16 08:03] #10726 closed

[2021-03-16 08:04] uslss commented on #10718
verified

[2021-03-16 08:04] #10718 closed

[2021-03-16 08:27] LonwoLonwo opened #11745 "Create Generic DDL tests."
For now, in many Databases DBeaver use generic create DDL method, which goes trough entity managers and creates a statement based on them.

We need more tests on them.

[2021-03-16 08:51] LonwoLonwo commented on #10328
Now I close this ticket, because it seems that problem solved - the wrapping in the brackets is supported by DBeaver.

Feel free to reopen the ticket if you appear additions.

[2021-03-16 08:51] #10328 closed

[2021-03-16 09:16] uslss commented on #11393
Still reproducible for non-custom diagran (e.g. for tables). Button is active, but do nothing after click on it.

[2021-03-16 09:36] ghYura opened #11746 "Active tab or window view scaling. Ctrl + mouse scroll wheel"
Add view/font scaling for any active tab or window for the DBeaver
Closest analog as expected is in your browser:
Press "Ctrl" + mouse scroll wheel
10% <... 100% ...< ?
Thank you.

[2021-03-16 09:51] georgethemarmot opened #11748 "Add File name pattern Variable in Data Transfer Output Wizard"
Hi, it would be really helpful to add the script file name variable ${fileName}  as usable into the data export wizard.
Thank you

[2021-03-16 09:57] ghost opened #11749 "An escape sequence in a SQL Query was malformed."
#### System information:
- Operating system (distribution) and version: **_Microsoft Windows 10 Enterprise 10.0.17763 Build 17763_**
- DBeaver version: **_21.0.0.202103040430_**
- Additional extensions: **_n/a_**

#### Connection specification:
- Database name and version: **_Adaptive Server Enterprise/12.5.4_**
- Driver name: **_Sybase JConnect_**
- Do you use tunnels or proxies (SSH, SOCKS, etc)

[2021-03-16 10:30] ShadelessFox commented on #11699
Now you can choose between several flavors:
![java_GZBAlrUgvP](https://user-images.githubusercontent.com/35821147/111294712-a8f97a00-865b-11eb-96d5-7736ea39d373.png)

Note: actually this is a good feature since some SQL dialects can _theoretically_ lack or require the `AS` keyword for aliases.

[2021-03-16 11:03] uslss commented on #10857
verified

[2021-03-16 11:03] #10857 closed, assigned to flambchap, uslss

[2021-03-16 11:42] uslss commented on #11699
verified

[2021-03-16 11:42] #11699 closed, assigned to uslss, ShadelessFox

[2021-03-16 12:23] dnroldan commented on #7031
Thanks @p91paul ,

I had this error:

SQL Error [31608] [99999]: ORA-31608: no se ha encontrado el objeto especificado de tipo OBJECT_GRANT
ORA-06512: en "SYS.DBMS_METADATA", línea 5088
ORA-06512: en "SYS.DBMS_METADATA", línea 7681
ORA-06512: en línea 1

Regards.

[2021-03-16 12:54] alexwhitman commented on #11260
Issue has, for me at least, disappeared after upgrade to 21.0.0.

[2021-03-16 13:07] lucamanga commented on #11598
Happens to me too. It crashes BADLY when I click to an geometry. Too much unstable...

[2021-03-16 13:25] bjkluft opened #11751 "Open previous/next table"
**Is your feature request related to a problem? Please describe.**
Not a real problem, but I currently have a database with 266 tables which I have to identify and describe. I now use the "Table" button on the right to open the next table.
![image](https://user-images.githubusercontent.com/12735834/111316199-558b2a00-8663-11eb-97a2-595299f3a8e2.png)
However I have to scroll down to the current tab

[2021-03-16 13:53] ShadelessFox opened #11752 "JSON exporter fails for table with virtual columns in it"
#### Steps to reproduce, if exist:
1. Open table that contains data
2. Create a virtual column with any expression
3. In navigator tree open context menu and press <kbd>Export</kbd>
4. Choose JSON as a target
5. Continue to the end, try to execute

#### Include any warning/errors/backtraces from the logs
[code]

[2021-03-16 13:57] ShadelessFox commented on #11749
Hello @andreasnikiforosgeorgiadis,

This is a problem of the database you're using.

[2021-03-16 14:02] ShadelessFox commented on #11746
Hello @ghYura,

You can change scale factor using <kbd>Ctrl</kbd>+<kbd>+/-</kbd>.

[2021-03-16 14:08] ShadelessFox commented on #11737
Hello @Robynishere1,

Can you provide step-by-step tutorial on how to reproduce your issue?

To be honest, I'm a bit confused. Are you talking about "flat files" driver for CSV files? Or you're trying to perform data transfer from CSV file to the table in your database? Please provide more context.

[2021-03-16 14:09] #11746 closed, assigned to nobody

[2021-03-16 14:13] samgoularte opened #11754 "A bug was found when trying to use CTE"
#### System information:
- Operating system (distribution) and version: **Microsoft Windows 10 Enterprise**
- DBeaver version: **21.0.0.202103021012**
- Additional extensions: **-/-**

#### Connection specification:
- Database name and version: **SQL Server 2019 Enterprise**
- Driver name: **MSSQL JDBC 8.2.0**
- Do you use tunnels or proxies (SSH, SOCKS, etc)? **no**

#### Describe the problem you

[2021-03-16 14:33] ghost commented on #11749
Hi,

If I execute the same code using a different DB client it works fine.

Could you please clarify?

Στις Τρί, 16 Μαρ 2021, 3:58 μ.μ. ο χρήστης Who cares <
***@***.***> έγραψε:

[2021-03-16 14:55] serge-rider commented on #11393
Fixed

[2021-03-16 15:57] pkernevez commented on #8692
Same issue, any news about it ?

[2021-03-16 16:05] Robynishere1 commented on #11737
Hi there!

  1.  Save a CSV in a folder and refresh the CSV- downloads database
     *   CSV’s in the folder appear in the tables list
     *   Photo of DBeaver Tables:

***@***.***D71A41.C541A8D0]

     *   Photo of File location with CSV Files:

***@***.***D71A42.914DFCD0]

     *   Snapshot of select all statement:

***@***.***D71A43.743F8590]

     *   Snapshot of error message appears after e

[2021-03-16 16:14] ShadelessFox commented on #11749
I believe the reason may be is that different DB client removes all the comments from the query before sending it to the server, but DBeaver don't do that (as described here https://github.com/dbeaver/dbeaver/issues/11661#issuecomment-795355779).

I can see this specific error mentioned in Sybase docs [here](http://infocenter.sybase.com/help/index.jsp?topic=/com.sybase.infocenter.dc39001.0707100/d

[2021-03-16 16:17] ShadelessFox commented on #11737
Unfortunately, I can't see any attachments nor images 😕

This may happen when you're answering through your mail, not github itself.

[2021-03-16 17:10] Robynishere1 commented on #11737
The photos don't seem to be working in the github comments. They won't attach to my response.

[2021-03-16 17:46] ghost commented on #11749
Thank you, I'll check the links and get back to you.

If you think the issue can be closed, then go ahead.

Στις Τρί, 16 Μαρ 2021, 6:15 μ.μ. ο χρήστης Who cares <
***@***.***> έγραψε:

[2021-03-16 18:44] ShadelessFox commented on #11737
If they're attached as a link, that's okay - if you enable <kbd>Preview</kbd> mode, they should be here.

Otherwise, you can use free image hosting like https://imgur.com/.

[2021-03-16 18:46] ShadelessFox commented on #11749
Okay, I will close the issue, but you can still comment here.

[2021-03-16 18:46] #11749 closed, assigned to nobody

[2021-03-16 18:54] guilmour-asc commented on #8447
Ummmmmm, the problem still exists...

[2021-03-16 19:24] p91paul commented on #7031
and does the @ceinmart latest query return some rows instead?

[2021-03-16 19:30] p91paul commented on #7031
According to stackoverflow, that exception is thrown when there are no grants for your user on that table. So it must be handled gracefully on Dbeaver side if they choose the DBMS_METADATA query.

[2021-03-16 19:58] p91paul commented on #8447
I'd say the bug is in how pop os handles versions, not in dbeaver. It should not propose the repository version if the installed version is greater. Actually, that's pretty unusual because it's not how apt works, so I'm guessing this is a bug in some pop os specific tool.

[2021-03-16 21:39] Robynishere1 commented on #11737
Hi
I've attached the text and images via a word doc. Let me know if that helps!
Thanks!

[description of issue.docx](https://github.com/dbeaver/dbeaver/files/6152370/description.of.issue.docx)

[2021-03-16 23:24] AkshayRShiraguppi commented on #6064
Well, even notepad++ uses this. Its due time Dbeaver develops and adds it.

[2021-03-17 07:10] LonwoLonwo commented on #11679
Fixed in 21.0.1

[2021-03-17 08:28] uslss commented on #11393
verified

[2021-03-17 08:28] #11393 closed, assigned to serge-rider, uslss

[2021-03-17 08:32] uslss commented on #11679
verified

[2021-03-17 08:32] #11679 closed, assigned to uslss, LonwoLonwo

[2021-03-17 09:23] flambchap commented on #10990
Implemented. We also decided to go a bit further.

![Screenshot 2021-03-17 122217](https://user-images.githubusercontent.com/26031301/111444520-82027d00-871b-11eb-8a8b-22daa5b740f3.png)

[2021-03-17 09:26] LonwoLonwo commented on #11007
Fixed. Finally.

[2021-03-17 09:27] LonwoLonwo commented on #11007
Also PK and UK DDL inside table fixed in EE version ("CONSTRAINT" word removed)

[2021-03-17 09:29] serge-rider commented on #10158
Done.

To test:
- Configure transaction auto-close in the connection settings->Transactions
- Open SQL editor
- Enable transactions (disable auto-commit)
- Perform a query
- Wait for X seconds (X is configured in the first pp.). Note: don't move your mouse and don't press keys while waiting
- You will see confirmation dialog with the countdown. After countdown will finish active transaction will b

[2021-03-17 09:42] haugs commented on #10990
The screenshot looks great and promising! :)
Maybe the new functionality is not "important" enough though to keep it at the top of the popup menu?

[2021-03-17 09:57] Jrmy003 opened #11759 "Import CSV file do not work anymore 7.3.0+"
Hello,

Since version 7.3.+, I'm not able to import CSV file anymore.
The max length for varchar fields was previously set to 50 or 1024, and is now auto detected (with random values)
and it seems everything was imported into varchar.

I'm working with big, dirty CSV files (50 columns, 10k+ raws, and malformed) the business gave to me, and I keep getting errors since I update from 7.3.0 to newer v

[2021-03-17 10:12] flambchap opened #11760 "Show info message when database node is not deleted because of open editor"
Currently, when we have a navigator node opened in some editor and we attempt to delete it via the navigator tree, we have to confirm deletion using the `save` button in the editor. This is somewhat confusing, so we should display a message box that informs the user about that.

[2021-03-17 10:26] ShadelessFox commented on #11759
Hello @Jrmy003,

You can specify minimal length for columns in the importer settings:
![image](https://user-images.githubusercontent.com/35821147/111453078-3ef8d780-8724-11eb-9f42-04b62afee269.png)

Does it solve your problem? Thanks.

[2021-03-17 10:54] uslss commented on #10990
verified. Will be available in 21.0.1

[2021-03-17 10:54] #10990 closed, assigned to flambchap, uslss

[2021-03-17 11:06] ghost commented on #10184
This is a major usability issue, as viewing result data is one of the main use cases.

[2021-03-17 11:41] Jrmy003 commented on #11759
Hello @ShadelessFox

It partially fix the issue, I'm still having this one, while trying to convert, phone or bank account numbers to integer.

Data transfer failed during batch insert
(you can disable batch insert in order to skip particular rows).

Reason:
SQL Error [8115] [S0002]: Une erreur de dépassement arithmétique s'est produite lors de la conversion de expression en type de données int.

[2021-03-17 11:41] uslss commented on #10158
verified

[2021-03-17 11:41] #10158 closed

[2021-03-17 11:49] ShadelessFox commented on #11759
1. Are you expecting these account numbers to be converted into integers or not?
2. Can you provide sample data, so I can examine it?
3. Does changing value of <kbd>Columns samples count</kbd> affects the result or the error itself?

[2021-03-17 12:03] uslss commented on #11759
@Jrmy003 ,
please, uncheck highlighted option
![image](https://user-images.githubusercontent.com/31996417/111464465-dadd1000-8731-11eb-8e1a-d8088205bbec.png)

[2021-03-17 12:06] uslss commented on #11722
thanks for the report

[2021-03-17 12:14] michal-bartak commented on #11699
Great thank you.
Just comment on "in FROM clause": will it work also for tables referenced in JOINS?
And tbh it must not be tables only. It could be views or functions which returns record(sets) etc.

[2021-03-17 12:19] uslss commented on #11543
You could disable statistic info in Connection context menu
![image](https://user-images.githubusercontent.com/31996417/111466345-39a38900-8734-11eb-9409-26e44dca649d.png)

[2021-03-17 12:24] ShadelessFox commented on #11699
Yes, it will work with `JOIN` clauses.

Also, you can create an additional FR to support function aliasing, but I'm not sure what you mean.

[2021-03-17 12:35] uslss commented on #11710
Hi @tharun-d ,
unfortunately, cannot reproduce it. Is there something in the logs? Could you provide a video of the issue?

[2021-03-17 12:45] Wroud opened #11762 "Strange resizer button behavior"
![image](https://user-images.githubusercontent.com/811729/111469145-67d69800-8737-11eb-98d7-b67590b603fd.png)

1. Maximize value panel
2. Hold mouse down on "right" arrow of resizer

Actual behavior: right after mouse down resizer jumps to right for some distance
Expected behavior: nothing happened

[2021-03-17 12:47] Wroud opened #11763 "Map is empty for specific points"
![image](https://user-images.githubusercontent.com/811729/111469513-d74c8780-8737-11eb-94d8-5ecf8e911cd3.png)

If I select some points wich one of them is `POINT (766456911 13.5639657)` empty map is displayed

[2021-03-17 12:50] ShadelessFox commented on #11763
Looks like a duplicate of #11021 :)

[2021-03-17 12:50] #11763 closed, assigned to nobody

[2021-03-17 12:53] ShadelessFox commented on #11021
Invalid geometry data example: `POINT (766456911 13.5639657)`

I don't see a nice solution for this problem except to ignore such invalid values when passing them for Leaflet.

[2021-03-17 12:59] ShadelessFox commented on #11762
I think this is happening because the resizer supports dragging. But I doubt dragging should be active when user presses buttons.

![KMn0r37DUY](https://user-images.githubusercontent.com/35821147/111471081-905f9180-8739-11eb-8350-1bfee6a090d4.gif)

[2021-03-17 13:03] danielporto commented on #10470
It seems that is crashing perhaps due to system update.
![image](https://user-images.githubusercontent.com/1652891/111471681-0dcad800-8721-11eb-8326-fb7ed307da0f.png)

Any timeline on a native version?

[2021-03-17 13:04] borisdj opened #11764 "Sql profiler"
I can't find option in Dbeaver to catch and see sql executed from external app.
Essentially feature of Sql Profiller tool from SSMS.
Does Dbeaver has this ?

[2021-03-17 13:07] Jrmy003 commented on #11759
@ShadelessFox

    Are you expecting these account numbers to be converted into integers or not?

No, everything in varchar is fine for me, I'm just looking to import a lot of data quickly into a temporary format does not matter as I am able to convert data into proper format using sql if I need it. And moreover I expect phone number, bank account numbers, even postal codes to be format as varchar

[2021-03-17 13:13] ShadelessFox commented on #11759
By the sample data I meant any data, I'm only interested in the format of it. Of course I'm not begging you to provide such sensitive data. You can replace digits, so original data would not be recognizable.

First of all, try to set <kbd>Columns samples count</kbd> to `0` this time, this should default all columns back to `varchar`.

[2021-03-17 13:14] flambchap commented on #10470
Since DBeaver is an Eclipse RCP application, we need to wait for the SWT team at Eclipse to [provide support for Apple Silicon](https://bugs.eclipse.org/bugs/show_bug.cgi?id=565690). After that, we'll be able to provide a macOS/ARM version as well.

[2021-03-17 13:21] Jrmy003 commented on #11759
@uslss
Still got sql error, but it helped me finding the error data.

@ShadelessFox
Can you provide sample data, so I can examine it?
You can reproduce the bug using the csv content attached as test.log file.

The integer size is set to 4

![image](https://user-images.githubusercontent.com/3603542/111473314-3526a280-872b-11eb-8a41-b0697b6528bb.png)

[test.log](https://github.com/dbeaver/dbeaver/fi

[2021-03-17 13:29] ShadelessFox commented on #11759
By using provided data and settings mentioned before, I don't have any problems and the created columns are fine:

![java_DlGP3bKP9b](https://user-images.githubusercontent.com/35821147/111475063-c43cb600-873d-11eb-8ac2-40440c116fa4.png)

The created columns:
![image](https://user-images.githubusercontent.com/35821147/111475088-cbfc5a80-873d-11eb-93d0-f1fc2e6a3694.png)

[2021-03-17 13:31] Jrmy003 commented on #11759
@ShadelessFox Perfect that's all I needed (I'm able to import everything again as varchar by setting 0 in this field, and I can adjust the max size now :) )

And still remains the bug related to integer size detection, that do not matter to me. Should I close this ticket now as I can import CSV as full varchar?
Or keep it open until the integer detection is fixed?

[2021-03-17 13:43] ShadelessFox commented on #11759
Actually, we don't detect the maximum size for numeric columns.

I believe the `4` on your screenshot is the default length for `int` column in your database.

You can create a separate feature request, since this issue's title may be misleading for such small thing.

[2021-03-17 13:47] ShadelessFox commented on #11364
This is a result of #5990, whoops 😅

[2021-03-17 13:57] LonwoLonwo commented on #10743
Hello @borkor
Can you please provide table DDL example query with data insert query for tests?

[2021-03-17 14:04] Jrmy003 commented on #11759
Ok, thank you for the help!
Have a good day !

[2021-03-17 14:04] #11759 closed, assigned to nobody

[2021-03-17 14:06] ghost commented on #11749
Hello @ShadelessFox,

I read what you sent, saw your comment about the potential problem the database driver was causing and remembered that I had another option when creating a Sybase connection (jTDS). So, I created a new connection to the database using the latest version of **[jTDS](http://jtds.sourceforge.net/)** (instead of jConnect) and the same code worked fine.

I'll check if there is a s

[2021-03-17 14:08] ShadelessFox commented on #11759
You are welcome!

[2021-03-17 14:09] LonwoLonwo commented on #10801
Fixed in 21.0.1

[2021-03-17 14:09] ShadelessFox commented on #11749
You are welcome!

[2021-03-17 14:11] Jrmy003 commented on #11759
And btw I'm using SqlServer 2008 which is not supported any more by Microsoft, I'm not sure the issue related to integer exists on newer version of Sql Server. The bug maybe does not exist :/

[2021-03-17 14:17] ShadelessFox commented on #11759
It's still `4` by default using SQL Server 15 (2019) 🤔

As I said earlier, you can create a FR to support determining the length of numeric columns, too

[2021-03-17 14:19] kseniiaguzeeva commented on #11007
verified

[2021-03-17 14:19] #11007 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-03-17 14:23] ShadelessFox commented on #11364
Hello @jetzerb,

The problem with string literals is that, in fact, they can span across multiple lines, so if there's no closing quote, the entire document will turn into string, just like with the comments. I'm not sure if this is a nice solution ...

If you have any better solution, please share it with me :)

[2021-03-17 14:31] Jrmy003 commented on #11759
Ok then, will create a bug so, I got a concrete example.

[2021-03-17 14:52] Jrmy003 opened #11767 "Import CSV - Error no integer size determination"
Hello everyone,

It looks like the size of integer fields are not auto determined as the size of varchar filed is, the default integer size is used which can lead to issue during import.
Attached a file containing csv data lead to an issue while using csv import functionality.

I'm using SQLServer as SGBD.

[test.log](https://github.com/dbeaver/dbeaver/files/6157235/test.log)

![image](https://use

[2021-03-17 14:54] uslss commented on #9206
seems it is eclipse issue

[2021-03-17 14:55] kseniiaguzeeva commented on #11340
Sorry for the long answer. I clarified how the option works. Seems, now I understand your case. First of all it was wrong advice to enable _Open separate connection for each editor_. Please disable it for your case and enable **Auto-sync connection with Navigator**
![dbeaver_eLaB4A4TSh](https://user-images.githubusercontent.com/51405061/111484915-3b2a7c80-8747-11eb-934f-6e998bed855e.png)
How it wo

[2021-03-17 14:56] uslss commented on #11285
SSL for Informix is not supported by now.

Marked as feature request

[2021-03-17 14:58] uslss commented on #11415
@jfreidkes-CA Could you try to install dbeaver using dmg file?

[2021-03-17 14:59] uslss commented on #11487
Could you provide a debug-log?

[2021-03-17 15:01] uslss commented on #11518
Seems it is driver-specific issue.
Could you try to set Charset as UTF-16 or USC2 in driver properties?
![image](https://user-images.githubusercontent.com/31996417/111489003-d1ac6d00-874a-11eb-8e6c-1a774fb6a8ae.png)

[2021-03-17 15:03] uslss commented on #11533
thanks for the suggestion

[2021-03-17 15:04] uslss commented on #11538
thanks for the suggestion

[2021-03-17 15:08] uslss commented on #11544
Unfortunately, it is not really possible. It could take too much time to load the whole tree in DB navigator.
You could use e.g. Tables folder filter instead
It could be found in connection properties
![image](https://user-images.githubusercontent.com/31996417/111489904-9fe7d600-874b-11eb-9c1e-934b3880f6b5.png)
or in the Connection context menu in DB navigator
![image](https://user-images.githubus

[2021-03-17 15:14] uslss commented on #11545
thanks for suggestion

[2021-03-17 15:14] uslss commented on #11553
thanks for suggestion

[2021-03-17 15:15] marcelofernandez commented on #8800
This problem remains in 21.0.0.202102281712 dbeaver-ce version.

[2021-03-17 15:35] kseniiaguzeeva commented on #10801
Implemented.

[2021-03-17 15:35] #10801 closed, assigned to LonwoLonwo

[2021-03-17 15:43] flambchap opened #11769 "Snowflake: set current schema the right way"
We should do it properly, which is going to resolve various inconsistencies, such as not using bold font for the current schema in the navigator, etc. On top of that, we should respect [Snowflake's rules for escaping identifiers](https://docs.snowflake.com/en/sql-reference/identifiers-syntax.html).

[2021-03-17 15:50] flambchap opened #11770 "Review animated GIFs in the wiki"
Animated GIFs themselves are quite nice, but we use our Github wiki for generating PDF with documentation, and GIFs are static there. Sometimes it results in uninformative docs.

[2021-03-17 15:57] uslss commented on #11555
You could try to use [Filter ](https://github.com/dbeaver/dbeaver/wiki/Filter-Database-Objects)item on the context menu of Tables folder

[2021-03-17 15:59] uslss commented on #11559
duplicate #9206

[2021-03-17 15:59] #11559 closed, assigned to nobody

[2021-03-17 16:02] uslss commented on #11575
thanks for suggestion

[2021-03-17 16:12] serge-rider opened #11771 "Database tasks: refresh scheduler status in async mode"
Currently scheduler status reading blocks UI. Bad UIX.

Moreover when external scheduler hangs DBeaver hangs too.
We must call external process in detached job.

[2021-03-17 16:13] serge-rider commented on #11771
Done

[2021-03-17 19:20] parthipank opened #11772 "Can't view DynamoDB table in grid view"
#### System information:
- Windows 10
- DBeaver Enterprise 21.0

#### Connection specification:
- AWS DynamoDB

#### Describe the problem you're observing:
I'm getting an error, when I try to load a dynamoDB table data. On the left plane in Data tab, JSON is the only available data representation option which is visible for this particular table. When I click on the JSON button to toggle the view

[2021-03-17 19:28] jetzerb commented on #11364
@ShadelessFox That _is_ in fact what happens in other editors.  It can be helpful--when a large chunk of the script looks like a string, you know you've forgotten the closing quotation mark.

I think the formatting on that second select statement here
![image](https://user-images.githubusercontent.com/36859020/111526265-85523480-872c-11eb-8cf3-dc25a077412e.png)

is less informative than here:
![im

[2021-03-17 19:36] michal-bartak commented on #11699
Thanks for response.

I meant:
SELECT * FROM some_schema.some_function() AS ...

[2021-03-17 19:55] ShadelessFox commented on #11364
I see. Can you please create a separate feature request for this?

[2021-03-17 20:45] jetzerb opened #11773 "All script text following an unclosed quotation mark should be highlighted as a string or object"
**Is your feature request related to a problem? Please describe.**
In a SQL editor, if you type in an opening quotation mark, either for a string literal (single quote) or a SQL object (double quote or square bracket), everything following that quote is highlighted as if it were _code_ rather than a string or object name until such time as the closing quote is entered.

**Describe the solution you

[2021-03-17 21:17] Chealer commented on #2054
Even IntelliJ IDEA does not do that (by default). IDEA has an option for automatic synchronization, but it's only accessible in a menu.

[2021-03-18 01:53] jyoisamu commented on #11543
I abled statistic info in Connection context menu,but It taked about three minutes  to show。

[2021-03-18 03:11] jimbogithub opened #11775 "FOREIGN KEY REFERENCES omits schema"
#### System information:
- Operating system (distribution) and version: macOS 11.1
- DBeaver version: 21.0.0.202103021012
- Java version: bundled
- Additional extensions: n/a

#### Connection specification:
- Database name and version: PostgreSQL 12.6
- Driver name: PostgreSQL JDBC Driver 42.2.5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
DDL

[2021-03-18 06:12] tharun-d commented on #11710
Adding video @uslss

https://user-images.githubusercontent.com/24644710/111581319-07029a80-87df-11eb-839d-12c8a9a0d01e.mp4

[2021-03-18 06:18] tharun-d commented on #11710
@uslss   just now updated to latest one the issue is still there please note only after change script and do ctrl + s or file save it happens

[2021-03-18 06:48] LonwoLonwo commented on #8076
But we have it now! We can compare Snowflake schemas in DBeaver EE version.

[2021-03-18 06:48] #8076 closed

[2021-03-18 06:53] rwichrowski opened #11776 "shortcuts execute stored own procedure"
Hi,
Is it possible to set a hotkey to run your own stored procedure.
I used MSSQL Management Studio
![image](https://user-images.githubusercontent.com/11941099/111585025-fd693a80-87be-11eb-929c-40d5807959cd.png)
and I often used this procedure to find same information from database
Thanks, greetings

[2021-03-18 06:57] flambchap commented on #11705
Implemented.

[2021-03-18 06:59] Gota-Peng commented on #11524
@uslss
The largest Keep-Alive value is 9999 seconds, about 166 minutes. But that's not enough, "never disconnect" will be better. BTW, I have no idea about what "zero turns keep alive off" mean. Dose it mean disconnect immediately if there's no activity?

[2021-03-18 07:09] LonwoLonwo commented on #11775
Hello @jimbogithub
You can use "Generate SQL" -> "DDL" for you table.
![2021-03-18 10_03_33-DBeaver Enterprise 21 0 1 - address](https://user-images.githubusercontent.com/45152336/111586493-f861b680-87d1-11eb-8262-79b55e4dfe0e.png)

This generator show fully qualified names as default, including for reference tables.
![2021-03-18 10_02_49-Generated SQL (dvdrental)](https://user-images.githubuserco

[2021-03-18 07:11] dnroldan commented on #7031
If I comment the subquery with "dba_roles", it´s works.

[2021-03-18 07:13] dnroldan commented on #7031
I don't know, I tried with grantor and granted schemas and fails with both of them.

Thanks

[2021-03-18 07:30] rotorboy opened #11777 "Unable to create new table and new columns MariaDB"
#### System information:
- Operating system (distribution) and version - macOS 10.14.6
- DBeaver version -  21.0.0.202103021012
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name - defualt
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

after selecting "create new table", unable to add columns to it, or

[2021-03-18 07:53] LonwoLonwo commented on #3344
In DBeaver 21.0.0 it's Decimal(Numeric) type from DB2 and decimal target type in MSSQL.
https://www.ibm.com/support/knowledgecenter/SSEPEK_12.0.0/intro/src/tpc/db2z_numericdatatypes.html (about numeric/decimal types)

![2021-03-18 10_49_05-Map columns of IMPORT_TEST](https://user-images.githubusercontent.com/45152336/111590965-d703c900-87d7-11eb-8065-73c06c76c0bf.png)

So, I think - this is perfec

[2021-03-18 07:53] #3344 closed

[2021-03-18 07:56] LonwoLonwo commented on #6075
problem of incorrect FK syntax solved with scope of https://github.com/dbeaver/dbeaver/issues/11007

[2021-03-18 08:21] uslss opened #11778 "Column cannot be dropped if primary key exists"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.1

#### Connection specification:
- Database name and version SQLite

#### Describe the problem you're observing:
If table has primary key, column from it cannot be dropped - error appears

#### Steps to reproduce, if exist:
1. Create table
[code]
2. Try to delete e.g. Fax column using UI

**Actual

[2021-03-18 08:23] uslss commented on #2958
verified

[2021-03-18 08:23] #2958 closed

[2021-03-18 08:29] uslss commented on #11364
verified

[2021-03-18 08:29] #11364 closed, assigned to uslss, ShadelessFox

[2021-03-18 08:32] LonwoLonwo commented on #2958
Implemented in 21.0.1

Now in case of column delete DBeaver will search all dependent objects for this column (PK, UK, FK and indexes) and suggest remove these dependent objects to. In case, if you will choose "No" in this "delete dependent objects" dialog, Dbeaver will not delete dependent objects nor column.

![111466294-2abcd680-8734-11eb-8e25-e489f01c47f3](https://user-images.githubusercontent

[2021-03-18 08:39] uslss commented on #11705
verified

[2021-03-18 08:39] #11705 closed, assigned to flambchap, uslss

[2021-03-18 08:40] #6916 closed

[2021-03-18 08:48] p91paul commented on #7031
@dnroldan could you provide sample ddl? the create table and grants, then the exact dbms_metadata query you are running and with which user you are connected while running it. Of course without including sensitive details.

[2021-03-18 08:52] dnroldan commented on #7031
For example:

GRANT INSERT, SELECT , UPDATE, DELETE ON SCHEMA_OWNER_NAME.TABLE_NAME TO SCHEMA_NAME_GRANTED;

Thanks

[2021-03-18 08:53] LonwoLonwo commented on #9710
The greatest problem for us is now in the implementation of this improvement, it is the lack of a test base. Without it, we cannot properly check the PR and make the necessary edits. We will try to come up with something to the test base (if you have ideas, then share!), But not in this release.

[2021-03-18 08:56] wernerdaehn commented on #9710
If you need help, I can create a new branch and implement it for you. Otherwise I can share a Hana database in AWS with you.
My problem is that I am pretty busy until end of June.

[2021-03-18 08:59] p91paul commented on #7031
@dnroldan sorry can't reproduce anything with just that.
From what I can see on my system dbms_metadata works awesomely, I leave further analysis to the dbeaver developers. One thing for certain, you must be prepared to the function failing and throwing exceptions if the object has no grants on it.
Or you could query dba/all tab privs, depending on user preferences, and handle quoting in dbeaver.

[2021-03-18 09:00] LonwoLonwo opened #11779 "[PostgreSQL] Serial types are broken in non-catalog schemas."
DBeaver 21.0.0

Serial types are continued to be read as serial for columns, but is not lacking in the list of data types to choose when creating new column.
What is very uncomfortable.
Need to return them to the list

![2021-03-18 12_36_28-DBeaver Enterprise 21 0 1 - aaa](https://user-images.githubusercontent.com/45152336/111604752-ae370000-87e6-11eb-8f13-417276970d58.png)

[2021-03-18 09:20] ShadelessFox commented on #8232
Please note that this is an Enterprise Edition extension.

[2021-03-18 09:27] serge-rider commented on #9710
@wernerdaehn If you could share access to AWS Hana that would be super-awesome ❤️
Please write me on serge@jkiss.org

[2021-03-18 09:28] wernerdaehn commented on #9710
Copied your email, you can delete above post.

[2021-03-18 09:31] uslss commented on #11572
Hi @zoetang ,
sorry for the late response.
Could you check if it reproducible in case of downgrade to previous version?

[2021-03-18 09:33] uslss commented on #11576
Could you provide a query example and check in the query manager which query failed?

[2021-03-18 09:34] uslss commented on #11577
Could you provide a screenshot or video of the issue? It will help to reproduce an issue.
Thanks in advance

[2021-03-18 09:37] uslss commented on #11598
Thanks for the report.
Could you try to change web browser in preference to another (non-default) and check if it helps?
![image](https://user-images.githubusercontent.com/31996417/111604687-9fe8e400-87e6-11eb-9f27-4d1e4cf50d3a.png)

[2021-03-18 09:38] uslss commented on #11605
Seems it isn't implemented yet. Marked as feature request.

[2021-03-18 09:39] uslss commented on #11607
Hi @lightsailpro ,
could you provide dbeaver [debug-log](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-03-18 09:42] uslss commented on #11611
thanks for the suggestion

closed as a duplicate of #7014

[2021-03-18 09:42] #11611 closed, assigned to nobody

[2021-03-18 09:44] uslss commented on #11612
seems it is driver-specific issue

[2021-03-18 09:46] uslss commented on #11614
Hi @GaryLiuTelus ,
could you try to create connections accordingly to [guide](https://github.com/dbeaver/dbeaver/wiki/Create-Connection)?

[2021-03-18 09:48] uslss commented on #11629
thanks for the suggestion

[2021-03-18 09:50] uslss commented on #11636
Hi @lxkplus ,
could you provide more clear steps to reproduce? Screenshots or video can be very helpful
Thanks in advance

[2021-03-18 09:52] uslss commented on #11621
Issue's stacktrace should be available by clicking on details button, could you check it?

[2021-03-18 09:54] uslss commented on #11643
Hi @LotusLine ,
can you check if ssh key is still available?
It seems it is not founded in /Users/azadeh/Documents/keydb/am_wpin

[2021-03-18 09:56] uslss commented on #11651
Unfortunately, we don't support M1 officially at the moment.

Could you provide [error logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-03-18 09:58] uslss commented on #11652
Its template is available in Driver settings. Does it solve your problem?
![image](https://user-images.githubusercontent.com/31996417/111607806-a593f900-87e9-11eb-9cff-043c368fda43.png)

[2021-03-18 09:59] uslss commented on #11654
Hi @lxkplus ,
could you provide more clear steps to reproduce? Probably, with screenshots/video.
Thanks in advance

[2021-03-18 10:04] serge-rider commented on #11738
Done.
This must be tested with Chinese, Russian, Korean, Japanese, German, French and Portuguese localizations (using -nl parameter)

[2021-03-18 10:05] lukaseder commented on #11621
Hmm, I can't say what changed. I'm still on the same version 7.3.5.202102151746, but now the layout of the button is correct:

![image](https://user-images.githubusercontent.com/734593/111608481-8d1be280-87d9-11eb-9414-35b590cb8e85.png)

It looks as though under certain conditions, the UI layout breaks, so this isn't a problem of having the scrollbar at all, but of not having it under certain cond

[2021-03-18 10:05] #11621 closed, assigned to ShadelessFox

[2021-03-18 10:12] ndlarsen commented on #10098
Consider editing the snap so it's installable with the `--classic` argument. This also enables retaining configurations then uninstalling the snap.

[2021-03-18 10:23] mykola-melnykov opened #11782 "Unable to get docs from database in CouchDB"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro 20H2
- DBeaver version 21.0.0.202103080721

#### Connection specification:
- Database name and version - CouchDB 1.6.1
- Driver name CouchDB
- Do you use tunnels or proxies (SSH, SOCKS, etc) - no

#### Describe the problem you're observing:
I coudn`t get list of docs from CouchDB, but I see list of DBs

![image]

[2021-03-18 10:44] fjf2002 opened #11783 ""Open Database Object" omits Foreign Tables"
**Is your feature request related to a problem? Please describe.**
The Dialog "Open Database Object" omits Foreign Tables - at least with PostgreSQL.

**Describe the solution you'd like**
The Dialog "Open Database Object" should also take Foreign Tables into consideration.

**Describe alternatives you've considered**
None.

**Additional context**
Tested on a PostgreSQL database.

[2021-03-18 10:46] SirBenJammin commented on #11577
Hey uslss,

To reproduce issue 1:

1. Open dbeaver
2. Open a SQL script.
3. Open a procedure or package directly from schema, not as a SQL script but as a object.
4. Click and drag the procedure/package across the shared area to create a split screen.
5. Open the Declaration/Body of the procedure/package.
6. Click into the SQL script and then click into the declaration/body.
7. The error will be t

[2021-03-18 11:28] 2019-05-10 opened #11784 "disable/delay tooltips"
Tooltips appear more or less immediatelly when hovering -- despite being most of the time either without adding anything (a tooltip with the table name when hovering over the table name), or are a hindrance (large tooltips with the complete query hiding parts a result view).

Additionally, I am using x2org to work remotely -- starting DBeaver over x2org and then having another window overlaying DB

[2021-03-18 11:48] geuss commented on #6813
Still present in 21.0.0

[2021-03-18 12:06] robert-niestroj opened #11785 "Cant scroll schema list to bottom"
#### System information:
- Windows 10 20H2
- DBeaver 21

#### Connection specification:
- Postgres 12

#### Describe the problem you're observing:
![obraz](https://user-images.githubusercontent.com/9776384/111623483-bc871b00-87ea-11eb-8713-ab7b56af241b.png)

I have a lot of schemas in my DB. I Have the Windows Taskbar on top of the screen. I cant scroll the list of schemas down. I don't see that m

[2021-03-18 12:08] Henry-Jones commented on #11518
All three variants (incl. "UTF16") are replied with: "JZ0I5: Unbekannte CHARSET-Eigenschaft angegeben: "

![image](https://user-images.githubusercontent.com/9108755/111623812-2d2e3780-87eb-11eb-92d0-456ed4c79891.png)

[2021-03-18 12:46] shkpendy commented on #11524
HI,
The issue is resolved.
The above keep alive connection didn't work.

I have configured keep-alive connection at SSH tab level, which has resolved the issue.
Thanks to serge rider :)

[2021-03-18 13:12] ShadelessFox commented on #10994
Now the importer is BOM-unaware, but you still have to specify valid encoding during import.

[2021-03-18 13:26] DougLawry commented on #6075
@LonwoLonwo: Many thanks Anastasiya! Have read #11007 and will retest in 21.0.1 when it's released.

[2021-03-18 13:57] vityank commented on #8167
Added pull request #11787 for this issue

[2021-03-18 14:12] ghost opened #11788 "Support for importing/including sql scripts in other sql scripts"
**Is your feature request related to a problem? Please describe.**
I have a number of .sql scripts, and would like to create a single file that can be run to execute them all in the order they appear in the main file.

**Describe the solution you'd like**
An ability to import/include external sql files using a filepath, which runs each script in the order it appears in the list.
e.g.
@script1.sql

[2021-03-18 14:16] marcmuel commented on #10479
2021-03-18 15:24:28
Full thread dump OpenJDK 64-Bit Server VM (11.0.5+10 mixed mode):

Threads class SMR info:
_java_thread_list=0x000000001c659da0, length=49, elements={
0x0000000003397000, 0x0000000019cce000, 0x0000000019cd4800, 0x0000000019d29000,
0x0000000019d2a000, 0x0000000019d2c000, 0x0000000019d38000, 0x0000000019d3e800,
0x0000000019c83800, 0x000000001a827800, 0x000000001c085000, 0x0000000

[2021-03-18 14:24] LonwoLonwo commented on #11392
Hello @kstrophus
"Evaluate SQL Expression" - just small helpful function to execute part of the query.
you can read about it here: https://github.com/dbeaver/dbeaver/wiki/SQL-Execution#sql-expression-evaluation
This is a pattern, that always adds SELECT at the query beginning (and depending on the database "FROM DUAL").

"INSERT INTO datetable(a) values (current_timestamp())" - as example, you can

[2021-03-18 14:25] LonwoLonwo commented on #11392
The ticket moves into the discussion

[2021-03-18 14:25] #11392 closed, assigned to LonwoLonwo

[2021-03-18 14:55] legolas108 commented on #1155
Would also much appreciate this to be configurable. There are already so many highly refined configuration options, this should definitely be included. Thanks!

[2021-03-18 14:59] ShadelessFox commented on #11788
Hello @GDownAdviseInc,

That's an interesting feature request.

As a more general workaround I can suggest you to use <kbd>SQL Script</kbd> task - you can add multiple SQL files in it (and, optionally, multiple connections), and they will execute synchronously, one after the other.

[2021-03-18 15:07] ghost commented on #11788
Hi @ShadelessFox thanks for getting back so quickly! It might be related to me being new to sql stuff, and instead coming from a programming place, so probably trying to do the wrong things in the wrong ways. If I'm completely out in left field, please feel free to close and ignore, just couldn't see anywhere else to do it.

I can't find the SQL Script task I'm afraid. I've also tried searching on

[2021-03-18 15:15] ShadelessFox commented on #11788
You can find more information about tasks here: https://github.com/dbeaver/dbeaver/wiki/Task-Management

The <kbd>SQL Script</kbd> task can be found among other tasks, as shown in the article mentioned above:

![image](https://user-images.githubusercontent.com/35821147/111649847-cbcf8e00-8815-11eb-8be9-e9aa4a0226fa.png)
![image](https://user-images.githubusercontent.com/35821147/111649749-b8bcbe00

[2021-03-18 15:22] ghost commented on #11788
Fantastic! That is perfect - thank you.

[2021-03-18 15:24] ShadelessFox commented on #11788
You are welcome!

I will close this issue for now. If you have any questions left - feel free to ask them here.

[2021-03-18 15:24] #11788 closed, assigned to nobody

[2021-03-18 15:28] GaryLiuTelus commented on #11614
Hi Dziyana,

I can create a connection and connected to the database, but the issue here is the JDBC URL is not editable, and the content inside is copied directly from driver settings. So you cannot connect 2 databases with the same driver.

For example, I cannot connect to 2 Hive database (with different JDBC URLs) using the same driver, as the JDBC URL is locked.

***@***.***D71BE9.CEFD5DC0]

G

[2021-03-18 15:40] GaryLiuTelus commented on #11614
![image](https://user-images.githubusercontent.com/39339422/111653927-a8d5b780-87de-11eb-930e-fff34db47414.png)

[2021-03-18 16:04] #11682 closed, assigned to nobody

[2021-03-18 16:11] ghost commented on #11672
Normally working version is **7.0.5** (updated information, previously I specified 7.1.5 by mistake).

[2021-03-18 16:16] vityank commented on #11656
I think it can be related to parser bug I have with some procedures on Vertica.

Working simple query:
`CREATE OR REPLACE FUNCTION public.dbvrTest(a VARCHAR, b INT)
RETURN INT
AS
BEGIN
	RETURN 9;
END;`

Failing query:

`CREATE OR REPLACE FUNCTION public.dbvrTest(a VARCHAR, b INT)
RETURN INT
AS
BEGIN
	RETURN (CASE WHEN b<=5 THEN 1
	WHEN b<=10 THEN 100-30*(8/4)
	WHEN b<=100 THEN 8*6
	ELSE 0 END /* <

[2021-03-18 16:41] maffe commented on #11576
When I try to get the row count for
[code]
the query manager shows
[code]
This query fails with the message “SQL-Fehler [156] [S1000]: Incorrect syntax near the keyword 'SELECT'.”.

I don’t know if there’s another way to get the row count.

[2021-03-18 19:22] LonwoLonwo commented on #11656
And the problem occurs when you try to perform the script in SQL Editor or when saving the procedure? Please clarify.

[2021-03-18 20:14] F0xD8rk commented on #11544
This change would probably require you to redesign the DB Navigator, so I understand this would be difficult.
At the moment I already use the suggested object filter to filter the results, so I will keep using this filter in the future.

The option to increase the default result set size using the preferences could also be a solution. However, this would probably cause performance to drop severely

[2021-03-18 22:53] jimbogithub commented on #11775
Thanks for your suggestion.  Unfortunately in the version I am running (noted at top of issue), the Table level DDL generation behaves the same as the Schema level DDL generation.  It does not include the schema prefix in the reference.

It would also be pretty inconvenient to generate the script one table at a time.

[2021-03-19 01:00] vityank commented on #11656
For me. it's single statement execution inside open 'SQL Script'(Ctrl+]) + Ctrl-\ for exec.

[2021-03-19 07:06] michal-bartak commented on #11453
guys, I have provided response.

[2021-03-19 08:07] LonwoLonwo commented on #11775
Ok. Thanks for the bug report.

[2021-03-19 08:48] binarytracer opened #11791 "Cant Create New Connection"
#### System information:
- Operating system (distribution) and version : Ubuntu 18.04.5 LTS
- DBeaver version: 21.0.0
- Additional extensions: none

#### Connection specification:
- Database name and version: mysql 8.0.23 ( Mysql Community Server, docker )
- Driver name:
- Do you use tunnels or proxies (SSH, SOCKS, etc)? nope

#### Describe the problem you're observing:

#### Steps to reproduce, i

[2021-03-19 08:49] ShadelessFox commented on #10303
Columns configuration for stream exporters (files) is now implemented:

![java_piE4RTXw7S](https://user-images.githubusercontent.com/35821147/111754346-ee5eb700-88a8-11eb-9bd7-74d52706cbba.png)

This dialog can be found on the <kbd>Exporter settings</kbd> page under the <kbd>Configure Columns</kbd> button.

Currently trimming is not implemented, unfortunately. A separate feature request will be cr

[2021-03-19 09:11] jmccay-work commented on #10303
Awesome!  Thank you.  You people do great work!

Also, great name for the auto notification system.  It threw me off for a
moment.

On Fri, Mar 19, 2021, 4:50 AM Who cares ***@***.***> wrote:

[2021-03-19 09:16] LonwoLonwo commented on #11590
Waiting for the fix in @JSQLParser

[2021-03-19 09:23] ShadelessFox commented on #11791
Hello @binarytracer,

I cannot reproduce your issue.

Dumb, but sometimes a working suggestion - have you tried restarting DBeaver? Otherwise, can you try the [EA](https://dbeaver.io/files/ea/) version?

If the issue still can be reproduced, please provide the [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files).

[2021-03-19 09:45] fjf2002 commented on #11783
By the way, NOT listing foreign tables is inconsistent in my opinion, because in the DB Navigator, foreign tables ARE listed as tables.

Thank you for considering my issue.

[2021-03-19 09:54] LonwoLonwo commented on #11779
Fixed in 21.0.2
Data type alias are again in drop down list in case of column create.

[2021-03-19 10:19] LonwoLonwo commented on #720
As I can see, DDL for Hive tables has both table comments and column comments.
And we also had many changes in data transfer, which should have helped with situations above.
It looks like the problem was solved. This issue will be closed.
Feel free to reopen it, if problem occurs again.

![2021-03-19 13_16_14-DBeaver Enterprise 21 0 0 - newtable_1](https://user-images.githubusercontent.com/4515233

[2021-03-19 10:19] #720 closed

[2021-03-19 10:30] LonwoLonwo commented on #11791
Hello @binarytracer
This ticket is duplicate of #11646
And answer was:
"This bug is already fixed. We've released hotfix version right after 21.0 release.
Just re-download it from dbeaver.io."

[2021-03-19 10:30] #11791 closed, assigned to nobody

[2021-03-19 11:41] heidivanparys opened #11793 "Geometries in GeoPackage files"
#### System information:
- Operating system (distribution) and version: Microsoft Windows 10
- DBeaver version: 21.0.0
- Additional extensions: -

#### Connection specification:
- Database name and version: GeoPackage, v1.2
- Driver name: org.xerial:sqlite-jdbc:sqlite-jdbc-3.34.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no (as far as I know...)

#### Describe the problem you're observi

[2021-03-19 11:56] ezequielbjm commented on #11260
In my case, recently installed version 21.0.0 (not upgraded) on Big Sur 11.2 prompts every start to allow incoming connections

[2021-03-19 12:12] LonwoLonwo commented on #11257
Query example for such non-schemas users will be very helpful.

[2021-03-19 12:21] dicaetano commented on #10887
I'm facing some problem with font color of the icons with the same theme, but in linux. Do I need to create a specific issue?

![1](https://user-images.githubusercontent.com/20803573/111778985-47702000-8894-11eb-97c9-31028568fd34.png)

When I open some menu, like Preferences, the color gets fixed:

![2](https://user-images.githubusercontent.com/20803573/111779040-5e167700-8894-11eb-85f0-e268378653

[2021-03-19 12:38] ShadelessFox commented on #11793
Hello @heidivanparys,

Unfortunately, I cannot reproduce your issue:

![image](https://user-images.githubusercontent.com/35821147/111780281-3c36e780-88c8-11eb-9a93-79713629e70a.png)

Have you tried opening the <kbd>Value</kbd> panel on the right in the <kbd>Grid</kbd> view? You can select individual geometry values to be shown in this panel. Empty map may be caused by invalid values, as described

[2021-03-19 13:07] binarytracer commented on #11791
what i did to fix this done is, reinstall the new one :)

[2021-03-19 14:13] heidivanparys commented on #11793
@ShadelessFox

Value panel (Text):

![image](https://user-images.githubusercontent.com/11427611/111791271-5ae6af80-88c3-11eb-8b18-3a9b6e075ee7.png)

Value panel (Map): empty canvas (I tried every geometry in provinces and also some geometries in places and rivers, without luck):

![image](https://user-images.githubusercontent.com/11427611/111791377-6e921600-88c3-11eb-8e36-e2c35ccf3544.png)

Bonusi

[2021-03-19 14:15] aa-dxp168 opened #11794 "DBeaver Version 7.3.5.202102141704 Error executing tool mysql Dump database on macOS 11.1"
#### System information:
- Operating system (distribution) and version: macOS 11.1
- DBeaver version: 7.3.5.202102141704
- Additional extensions

#### Connection specification:
- Database name and version: MySQL 8.0.21
- Driver name: MySQL 8.0.21
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:
<img width="449" alt="Screen Shot 2021-03-19 at 10 14

[2021-03-19 14:18] flambchap opened #11795 "'Disable referential integrity...' checkbox must always be disabled when gray"
Currently, we remember the last chosen option, and it may result in situations like this:

![Screenshot 2021-03-19 171757](https://user-images.githubusercontent.com/26031301/111794237-136a1e80-88d7-11eb-91e7-3f0beb9e7e68.png)

[2021-03-19 14:29] ShadelessFox commented on #11793
My last guess is that you may have some some problems with OpenStreetMap tiles. Can you try changing it to something else?

![image](https://user-images.githubusercontent.com/35821147/111795784-9049c800-88d8-11eb-8a50-a6e91257b386.png)

The other guess is that the Internet Explorer is not accessible (which we're using to display Leaflet). Ask your sysadmin.

[2021-03-19 15:32] kseniiaguzeeva commented on #10601
Cannot be reproduced anymore

[2021-03-19 15:32] #10601 closed

[2021-03-19 15:35] ShadelessFox opened #11796 "Terminate DBeaver gracefully after starting updater"
We've implemented automatic updates in #6558, but the termination routine may lead to the workbench corruption.

[2021-03-19 16:05] flambchap commented on #11450
Will be resolved in the scope of #11769.

[2021-03-19 16:05] #11450 closed, assigned to flambchap

[2021-03-19 19:01] Savers80 opened #11798 "Implement Favorite Tables, on Left Menù"
Hi All,
it will be usefull the possibility to mark some tables on left menu as Faorite so that you can choose to show all tables of database or only tables marked as favorite;
This feature is more usefull when you work  in a 'time window' on restricted tables , avoiding to scroll up/down to find table or use input text filter .

Attached there are screenshot of the functionality as example in Heid

[2021-03-19 19:12] humbertocarvalho opened #11799 "Reload System Variables After Running Shell Commands"
After running a shell script (e.g Before Connect), I expect the application to refresh the System Variables, because I want to use a batch script to set a variable with my gcloud token. Without this, I have to close the application and open it again.

It would be nice if the application can reload the system variables.

[2021-03-19 19:43] Skypekey opened #11800 "How to specify the default drivers directory"
I want to specify the default driver directory in the portable version, but i don't know how can I configure it. I need some suggestions to solve this problem
The version is dbeaver-ce-21.0.0-win32.win32.x86_64

[2021-03-19 20:13] serge-rider opened #11801 "DB2: extra embedded routines"
DB2 LUW driver provides a very small number of embedded functions for syntax highlight.
We should extend it (with constants or by reading from SYSCAT.ROUTINES)

[2021-03-19 20:14] serge-rider commented on #11801
DB2 functions: https://www.ibm.com/support/producthub/db2/docs/content/SSEPGG_11.5.0/com.ibm.db2.luw.sql.ref.doc/doc/r0024845.html?pos=2

[2021-03-19 23:19] ShadelessFox commented on #11794
Hello @aa-dxp168,

Please provide the [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files).

[2021-03-19 23:57] p91paul commented on #11799
Do you mean environment variables? I'm afraid that's now how env variables work, I might be wrong but they cannot just be "reloaded" I think. Surely on linux, most likely it's the same on windows. How are you setting them?

[2021-03-20 11:22] lemon-juice opened #11802 "Extremely slow or completely broken text editor for larger TEXT or JSON columns"
I've found an issue with the text editor for cell values that make it virtually impossible to use. By text editor I mean the one you open with Shift+Enter on a table cell in the data view tab. Either DBeaver will take a very long time to open the editor while being frozen or the editor will open empty. I've found out the problem happens when the text contains no line breaks.

I'm attaching a small

[2021-03-20 11:47] Savers80 commented on #10137
I have open this request feature, that is related with this
https://github.com/dbeaver/dbeaver/issues/11798

[2021-03-20 13:21] defalt926 commented on #11484
I see your problem. I do not have issue like shortened columns after clicking on remove all filters. But I am going to try fixing the displaying of unselected columns after search in full text.

[2021-03-20 14:05] CodyBuilder-dev commented on #4738
Hello, I just tried to make this feature by myself. But I got caught in a cyclic dependency problem.

Following is a sequence of my approach:
(1) Make 'Run Script' menu and command in 'org.jkiss.dbeaver.ui.navigator'
(2) Write handler setting in plugin.xml to connect the command with 'SQLEditorHandlerExecute' class in 'org.jkiss.dbeaver.ui.editor.sql'
(3) Add 'org.jkiss.dbeaver.ui.editor.sql' in R

[2021-03-20 15:13] kseniiaguzeeva opened #11803 "Virtual foreign key cannot be deleted"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.1

#### Steps to reproduce, if exist:
1. Create a virtual foreign key
2. Delete it

Expected: the virtual foreign key and the virtual reference are deleted
Actual result: virtual reference remains and the connection exist in Reference panel and ERD.

[2021-03-20 16:48] vlacko0930 opened #11804 "Couldn't create new column with upper case"
#### System information:
- Operating system: Windows 10
- DBeaver version: 7.3.1

#### Connection specification:
- Database name and version: PostgreSQL 12.5
- PostgreSQL JDBC Driver 42.2.5

#### Describe the problem you're observing:
When I'd like to create a new column in an existing table with GUI, it always changes the upper cases in name to lower cases after I close the modalwindow.

[2021-03-20 20:46] noschang commented on #11719
I upvote this!!

Also, I'm from Brazil and here we have values with accents.
If you're gonna have work to make this case insensitive it would be nice to also make it accent insensitive.
So, for example, if you search for ```sao```, you would find values like so: ```São Paulo```, ```Eles são muito espertos```

[2021-03-20 21:15] noschang opened #11805 "Reduce filter options based on the current dataset"
I don't believe this is a bug, so I'm opening this issue as a feature request.

DBeaver has the feature of easily filtering a dataset using the filter icon on the "Results" tab. See below:

![Captura de tela de 2021-03-20 17-57-17](https://user-images.githubusercontent.com/709553/111885352-f4868d80-89a5-11eb-8753-de126ea95b84.png)

Given the dataset on the previous picture, if I open the filter fo

[2021-03-20 21:42] ShadelessFox commented on #11719
Hello @noschang,

Thanks for the suggestion!

Fortunately, we can implement that, it would be a nice feature.

[2021-03-20 22:40] KarlLevik commented on #5636
Yes, thank you! This seems to work now, currently running Version 21.0.0.202103021012.

[2021-03-20 22:40] #5636 closed

[2021-03-20 22:44] ShadelessFox commented on #11804
Hello @vlacko0930,

You can put the name into double quotes like so: <kbd>"NaMe"</kbd>.

Quote from [PostgreSQL documentation](https://www.postgresql.org/docs/current/sql-syntax-lexical.html):

We do that for various renaming actions, but the fact that we don't do that for object creation is silly.

[2021-03-20 23:11] rharri commented on #11752
`DBUtils.getAttributeBindings(session, dataContainer, resultSet.getMeta());` on line 118 internally calls `DBUtils.injectAndFilterAttributeBindings` which results in `columnBindings` having duplicate references to the virtual column. This in itself does not cause this particular problem, though it is probably not intended behaviour.

https://github.com/dbeaver/dbeaver/blob/434253ee861c1a577318ae3c

[2021-03-21 07:05] dextok commented on #11718
[dbeaver.icns.zip](https://github.com/dbeaver/dbeaver/files/6176981/dbeaver.icns.zip)

<img width="781" alt="20210321145622" src="https://user-images.githubusercontent.com/25945825/111896596-ceb8c180-8a55-11eb-9102-98048330788e.png">
It looks much better after using the regenerated icns file.
however, same as #11557, it is overwritten by the original big and square icon when dbeaver is running and

[2021-03-21 07:17] uslss opened #11806 "NPE appears in case of connection disconnect while ERD is loading"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.1 EA

#### Steps to reproduce, if exist:
1. Open some ERD that loads quite long.
2. Disconnect from DB

![2021-03-21_10h10_41](https://user-images.githubusercontent.com/31996417/111896988-6bffff80-8a2e-11eb-860e-0f02dc68b32f.gif)
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/6176996/d

[2021-03-21 07:31] uslss opened #11807 "NPE appears in reference panel for ref table"
#### System information:
- Operating system (distribution) and version win10 x64
- DBeaver version 21.0.1 EA

#### Connection specification:
- Database name and version Sybase
- Driver name jconnect

#### Describe the problem you're observing:
Two tables exists:
[code]
Open NewTable and check reference panel - NPE appears, nothing is shown at ref panel

[code]

[2021-03-21 07:52] uslss opened #11808 "Values are truncated during the export from csv to non-existing table"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.1 EA

#### Connection specification:
- Database name and version Sybase
- Driver name jconnect

#### Steps to reproduce, if exist:
1. Start import to new table from CSV
[actor_202103181130.csv.txt](https://github.com/dbeaver/dbeaver/files/6177021/actor_202103181130.csv.txt)
2. Check preview data dia

[2021-03-21 12:20] kseniiaguzeeva opened #11809 "Connection view>Hide folders does not show triggers"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.2 EA

#### Connection specification:
- Database name and version SQL Server

#### Steps to reproduce, if exist:
1. Set Connection view>Hide folders in the context menu
2. Expand the connection DB Navigator tree

**Expected**: all object types are displayed in DB Navigator
**Actual result**: triggers

[2021-03-21 13:21] gavenkoa commented on #11338
Hi!

Disabling above removed reported slowness.

It wasn't obvious that I have to tick "Meta" option to display meta queries.

So I open the tab for table by double clicking on table and following query takes 10-11 sec:

[code]

The query is repeated for each opened table Data with same 10 sec delay.

[2021-03-21 13:41] Pshemas opened #11810 "Pan in ER Diagram View"
I'm trying out Dbeaver and I can't find a pretty basic feature - panning (moving up/down, sideways) in ER diagram view. While zooming works nicely (ctrl+mousewheel) it's pretty much a major pita if you can't move the view with mouse action and you're forced to use bottom and sidebar.
Something like you have in almost any graphic app, for example space + left mouseclick and move to get the pan acti

[2021-03-21 13:52] kseniiaguzeeva commented on #11738
Chinese, Russian, Korean, Portuguese, Japanese, German, French localizations (using -nl parameter) tested on Mac and Win

Note: Portuguese locale shows wrong interface language.
![Screenshot 2021-03-21 at 16 47 51](https://user-images.githubusercontent.com/51405061/111907451-61615c80-8a66-11eb-8898-db34bd5f31ed.png)

[2021-03-22 00:20] rotorboy opened #11811 "Unable to edit records in Data Editor"
#### System information:
- Operating system (distribution) and version - MacOS 10.14.6
- DBeaver version - 21.0.0
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name - Default MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:

In addition to being unable to use UI to create a DB table, Using DBe

[2021-03-22 04:46] subbareddydagumati opened #11812 "How to avoid triggering Metadata queries"
#### System information:
- Windows 10
- DBeaver 7.3.1.202012201616

#### Connection specification:
- PrestoSql-346
- PrestoSql Jdbc - 339
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  N

#### Describe the problem you're observing:
DBeaver automatically triggering metadata queries in the background like below. This causing too many active queries on server and they running for longer duration

[2021-03-22 05:46] #11738 closed, assigned to serge-rider

[2021-03-22 05:55] linaotian-vv opened #11813 "您好，请问支持达梦和人大金仓数据库的连接嘛？"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-03-22 06:28] F-l-a-m opened #11816 "Text in SQL editor is always selected from the start"
Is it some kind of toggle I've accidentally turned on?
The text in SQL editor is always selected from the start when I try to select anything using the mouse.
I have the same behavior as Ctrl+Shift+Home with any mouse movement.

[2021-03-22 06:33] shanmugaTrimble commented on #10345
It worked for me.
Thank you so much gJMI

[2021-03-22 07:06] lucamanga commented on #11598
On Ubuntu 20.04, Dbeaver snap version, going to Preferences -> UI -> Web Browser crashes the program.

[2021-03-22 07:50] #10985 closed, assigned to serge-rider, flambchap

[2021-03-22 07:59] serge-rider commented on #11368
Thank you for the investigation.

[2021-03-22 08:02] meriturva opened #11817 "Unable to download zip file: https://dbeaver.io/files/dbeaver-ce-latest-win32.win32.x86_64.zip"
Just click on:

https://dbeaver.io/files/dbeaver-ce-latest-win32.win32.x86_64.zip

from:
https://dbeaver.io/download/

error:

[code]

[2021-03-22 08:07] serge-rider commented on #10669
It is a standard Eclipse dialog

[2021-03-22 08:31] serge-rider commented on #11493
It is not a bug. Ctrl+enter shortcut works only in database navigator.

[2021-03-22 08:31] #11493 closed, assigned to nobody

[2021-03-22 08:34] ShadelessFox commented on #11813
Hello @linaotian-vv,

Please fill the issue form using plain English.

[2021-03-22 08:35] uslss commented on #11817
unfortunately, cannot reproduce it.
What browser do you use?

[2021-03-22 08:37] uslss commented on #11816
Unfortunately, cannot reproduce it.
Could you provide a video of the issue?
What OS and DBeaver version do you use?

[2021-03-22 08:42] uslss commented on #11805
thanks for suggestion
closed as a duplicate of #10549

[2021-03-22 08:42] #11805 closed, assigned to ShadelessFox

[2021-03-22 08:43] geertvercamer opened #11818 "SQL Error [IX000]: Routine (get_data_type) can not be resolved."
#### System information:
- W10
- since DBeaver version  > 7.2.0

#### Connection specification:
- IBM Informix Dynamic Server Version 10.00.FC5

#### Describe the problem you're observing:
SQL Error [IX000]: Routine (get_data_type) can not be resolved.
When browsing in the tree to the column level

[2021-03-22 08:46] meriturva commented on #11817
Is not related to the browser but file permission.

Tested on two different networks and browsers.

Also a simple wget from an external vps doesn't work.

[2021-03-22 08:47] meriturva commented on #11817
test also file: https://download.dbeaver.com/community/21.0.1/dbeaver-ce-21.0.1-win32.win32.x86_64.zip

[2021-03-22 08:49] uslss commented on #11811
Hi, @rotorboy ,
unfortunately cannot reproduce it.
Could you provide table DDL? It will be helpful for issue reproducing

[2021-03-22 08:54] uslss commented on #11802
Thanks for the bug report

[2021-03-22 08:58] uslss commented on #11800
You can learn more about it [here](https://github.com/dbeaver/dbeaver/wiki/Admin-Manage-Drivers)

[2021-03-22 09:06] uslss commented on #11785
thanks for the report

[2021-03-22 09:08] uslss commented on #11784
thanks for the suggestion
duplicates #11483

[2021-03-22 09:08] #11784 closed, assigned to nobody

[2021-03-22 09:09] uslss commented on #11777
cannot reproduce it. Could you check it against 21.0.1?

[2021-03-22 09:09] Skypekey commented on #11800
I read this document and i know how to configure this, but when i configured dbeaver,ini to specify data directory,  it is not  working properly. My configuration is
[code]

[2021-03-22 09:13] uslss commented on #11772
Hi @parthipank ,
could you provide table DDL?
Is there something in the [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-03-22 09:15] uslss commented on #11767
Hi @Jrmy003 ,
could you try to uncheck Disable batches option in import settings and check if it helps?
![image](https://user-images.githubusercontent.com/31996417/111966754-53fcae80-8b08-11eb-87a7-b8702111f4d8.png)

[2021-03-22 09:17] uslss commented on #11764
thanks for suggestion

[2021-03-22 09:19] ShadelessFox commented on #11767
@uslss,

Unfortunately, this will not help.

This issue is created from #11759. We don't determine column length for numeric values during import from csv as we do for textual values.

[2021-03-22 09:48] heidivanparys commented on #11793
@ShadelessFox This issue is fixed in the 21.0.1 release, there the map viewer shows the geometries and the background map as expected.

Bonus info: I didn't have this issue at all in the 21.0.0 release on my Mac. Tested from the same location (but without VPN, as opposed to on my work computer).

[2021-03-22 09:48] #11793 closed, assigned to nobody

[2021-03-22 10:11] linaotian-vv commented on #11813
Can you provide the connection between DM database and Kingbase database？

[2021-03-22 10:17] linaotian-vv commented on #11813
These two databases are used by many people in China

[2021-03-22 10:20] F-l-a-m commented on #11816
Kubuntu 16.04 (But It was not a problem for a long time) + DBeaver 21.0.1
The selection behavior can be reproduced by clicking somewhere in the middle of the text and using the Ctrl+Shift+Home shortcut. But using the shortcut - It's the desired effect. But in my case, I have the same effect just trying to select any amount of text using the mouse.

[2021-03-22 11:02] uslss commented on #11816
duplicates #10914

[2021-03-22 11:02] #11816 closed, assigned to nobody

[2021-03-22 11:56] kseniiaguzeeva commented on #11779
verified

[2021-03-22 11:56] #11779 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-03-22 12:03] kseniiaguzeeva commented on #10994
verified

[2021-03-22 12:03] #10994 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-03-22 12:14] ShadelessFox commented on #11421
This is a database-related error.

I'm not quite sure what you're trying to achieve, can you provide a suggestion?

Thanks.

[2021-03-22 12:30] serge-rider commented on #10680
https://github.com/JSQLParser/JSqlParser/issues/1103

[2021-03-22 12:59] kseniiaguzeeva commented on #10303
Verified

[2021-03-22 12:59] #10303 closed

[2021-03-22 13:00] serge-rider commented on #9902
@andrzejdziekonski You can see synonym target in the synonym editor:
![image](https://user-images.githubusercontent.com/6398845/111993299-81a52000-8b27-11eb-99db-b75847926f89.png)

Just click the link to jump to actual table.

PS I've added several improvements, including synonym delete support.

[2021-03-22 13:09] serge-rider commented on #10581
Fixed.

Now we filter only "leaf" containers. For PG and SQL Server it means schemas.

[2021-03-22 13:11] rotorboy commented on #11811
21.0.1 seems to have fixed the issue. Thanks

[2021-03-22 13:11] rotorboy commented on #11777
21.0.1 seems to have fixed the issue. Thanks

[2021-03-22 13:35] flambchap commented on #11795
Fixed.

[2021-03-22 13:57] nobicycle commented on #7350
This problem now occurs under:

Version 21.0.0.202103152349
Linux tower 5.10.23-1-MANJARO #1 SMP PREEMPT Thu Mar 11 18:47:18 UTC 2021 x86_64 GNU/Linux

![Screenshot_2021-03-22_21-56-50](https://user-images.githubusercontent.com/1372447/112001069-8edb0280-8b59-11eb-8908-e1c19c19ef89.png)

[2021-03-22 14:11] ShadelessFox commented on #11796
Please make sure that installer asks user to close all unsaved data.

[2021-03-22 14:28] alumni commented on #11694
I get a restart loop when I'm online.

Reproduction steps:
1. install 21.0.0
2. install excel export + svg export addons
3. upgrade to 21.0.1
4. migrate addons + restart

It will then go on a restart loop.

The versions are probably irrelevant, this has been happening for quite some time.

Logs are not created in `%APPDATA%`, the crash happens before they are written there.

I noticed that if I ru

[2021-03-22 14:41] uslss commented on #11818
could you check if it is reproducible against 21.0.1?
is there something in logs?

[2021-03-22 14:45] serge-rider commented on #10494
All DDL/grant statements are executed in the single transaction. Rollback is performed on any error and commit on success.

[2021-03-22 14:48] serge-rider commented on #11158
Fixed

[2021-03-22 14:53] geertvercamer commented on #11818
yep, still there.

Log:
java.sql.SQLException: Routine (get_data_type) can not be resolved.
at com.informix.util.IfxErrMsg.buildExceptionWithMessage(IfxErrMsg.java:416)
at com.informix.util.IfxErrMsg.buildIsamException(IfxErrMsg.java:401)
at com.informix.jdbc.IfxSqli.addException(IfxSqli.java:3021)
at com.informix.jdbc.IfxSqli.receiveError(IfxSqli.java:3272)
at com.informix.jdbc.IfxSqli.dispatchMs

[2021-03-22 15:27] ShadelessFox commented on #11773
Implemented:
![image](https://user-images.githubusercontent.com/35821147/112014723-38130000-8b3c-11eb-8f4f-8dda6cd4d35f.png)

[2021-03-22 15:33] GuillaumeDesforges commented on #10581
How can I check when/in which version this fix is going to apply?

[2021-03-22 17:11] Quiquoqua48 commented on #11421
Hi,
what drove me to ask here is that I can execute a query to modify the structure of a table having a field for example with ENUM('iOS', 'IOS') from phpMyAdmin, but I can't do this using Dbeaver.

I wish it was possible to differentiate capital letters in the case of enum.

Thanks

[2021-03-22 17:34] ShadelessFox commented on #11421
Again, this is a database-related error. There may be a plenty of different reasons why this exact action in phpMyAdmin succeeds, but fails in DBeaver. You can even preview generated DDL and try to execute it manually. Are you sure you're operating on the same database and table in both cases?

[2021-03-22 17:39] humbertocarvalho commented on #11799
Yes. I set then through a batch script and refresh windows env. The application can't reload it?

[2021-03-22 18:58] jetzerb commented on #11773
Your change looks correct for string literals.

But note how line 2 has an opening quote (`[`) which is never closed.  All the following lines of code should be highlighted as if they are part of that object name.  Here are some screenshots from SSMS:

First, exactly your text.  Note how everything following the opening square bracket through the end of the script is assumed to be part of the obje

[2021-03-22 19:05] ghost opened #11826 "Update attribute type Ltree error"
Error syntax in update attribute type Ltree with alter directly table.. Only being able to update via sql query

[2021-03-22 19:32] rdp commented on #6353
reinstall worked for me on OS X after I got this message after the OS upgraded to big sur, for followers... :)

[2021-03-22 23:04] p91paul commented on #11799
Which command are you using to set them in your batch script?

[2021-03-23 00:34] #11811 closed, assigned to nobody

[2021-03-23 00:35] #11777 closed, assigned to nobody

[2021-03-23 05:35] ShadelessFox commented on #11773
Unfortunately, I had to leave bracket and double quotes as-is.

First of all, they are the identifier quotations marks, so **they can't span across multiple lines**, and our lexical rules can't do something like "try to find your closing sibling on the current line, otherwise span towards the end of file and commit that". What if an opening quote will match closing quote on the other line?

I'd re

[2021-03-23 07:01] parthipank commented on #11772
Hi @uslss ,
How do I get the table DDL?
Here is the error log.
![image](https://user-images.githubusercontent.com/10793238/112106417-a8b92b80-8bd3-11eb-8a74-f07953faa9a3.png)

[2021-03-23 07:12] meriturva commented on #11817
Today works!

[2021-03-23 07:12] #11817 closed, assigned to nobody

[2021-03-23 07:26] parthipank commented on #11772
@uslss
This is the Java version that I'm currently running.
[code]

[2021-03-23 07:40] kseniiaguzeeva commented on #11796
The installer doesn't ask it and changes are not saved (tested on Mac)

[2021-03-23 07:45] vmalyutin opened #11828 "DBeaver losts current schema."
System information:
- Operating system: Win 10
- DBeaver version: Version 21.0.1.202103211229,
- Additional extensions: No extensions
- PGbouncer: 1.12.0

Connection specification:
- Database name and version: PostgreSQL 10.11 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39), 64-bit
- Driver name: PostgreSQL JDBC Driver 42.2.5
- Do you use tunnels or proxies: No, I d

[2021-03-23 07:47] kseniiaguzeeva commented on #11826
Please tell DBeaver version, your database and steps to reproduce.

[2021-03-23 07:57] flambchap commented on #11769
Fixed the problems with setting the current database and the current schema. The issue regarding Swnoflake identifier rules will be transferred to a separate ticket.

[2021-03-23 07:57] mtravis commented on #11598
Same for me.

[2021-03-23 08:02] kseniiaguzeeva commented on #11776
Thank you for the suggestion!

[2021-03-23 08:02] serge-rider opened #11829 "DB2: support begin/end blocks rules"
We probably need to add more sophisticated rule for block parse. Currently we use just block begin/end literals which don't respect context.

[2021-03-23 08:05] flambchap opened #11830 "SQL Folding: support for nested folds"
The current implementation relies on the fact that folding blocks can not intersect. This prevents us from adding support for nested folds.

[2021-03-23 08:07] kseniiaguzeeva commented on #11782
Is it possible to send log files completely https://github.com/dbeaver/dbeaver/wiki/Log-files?
Do you try to open a database via DB Navigator to see docs and receive an error?

[2021-03-23 08:07] literakl opened #11831 "Export E/R diagram from CLI"
**Is your feature request related to a problem? Please describe.**

I am able to use Dbeaver GUI and generate E/R diagrams. That is cool. But I would love to be able to generate the same output from CLI in a headless environment. This would be a cool pipeline in Gitlab to document the current state.

**Describe the solution you'd like**
Project has been configured and stored at correct location. R

[2021-03-23 08:11] flambchap commented on #10959
I'm going to subdivide this FR into two separate issues. The first two points will be covered in https://github.com/dbeaver/dbeaver/issues/11830. Here we will concentrate on sticky folding.

[2021-03-23 08:23] kseniiaguzeeva commented on #11748
Thank you for the idea

[2021-03-23 08:32] abhishekdanej commented on #10026
Initially my proxy was not set ..so it failed to download the driver. But then it said that the RELEASE file is not available from maven. I restarted dbeaver and it worked for me.

[2021-03-23 08:33] uslss commented on #11158
verified

[2021-03-23 08:33] #11158 closed, assigned to serge-rider, uslss

[2021-03-23 08:35] kseniiaguzeeva commented on #11742
Please tell DBeaver version and your database. I cannot reproduce your case, but it looks like a bug.
I tested in PostgreSQL and SQLite:
1. Open a table
2. Open a filter in column header
3. Double click a value in the filter list,

**Actual result:**
- a first column value is applied to column with a primary key
- a filter is not applied for other columns

https://user-images.githubusercontent.com

[2021-03-23 08:38] uslss commented on #11795
verified

[2021-03-23 08:38] #11795 closed, assigned to flambchap, uslss

[2021-03-23 08:39] kseniiaguzeeva commented on #10581
Verified.
The fix is included in the next release 21.0.2

[2021-03-23 08:39] #10581 closed

[2021-03-23 08:44] ShadelessFox commented on #11742
Note to a previous comment:

In both cases if any items are selected, then following double-click (no matter where) will close dialog and apply filter with previously selected items.

[2021-03-23 08:51] uslss commented on #9902
Link isn't available in case Synonym is created using a fully qualified table name
works ok, link is shown:
[code]
Doesn't work, link is N/A:
[code]
![image](https://user-images.githubusercontent.com/31996417/112119042-0ba7c400-8bce-11eb-9421-ae6692251776.png)

[2021-03-23 09:00] kseniiaguzeeva opened #11834 "Data changes are not applied after pressing persist data changes when we close DBeaver"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.0.1

#### Steps to reproduce, if exist:
1. Open a table in the RersultSet
2. Change a cell value (or add/delete a row)
3. Press the cross to close DBeaver
4. Press Yes in _persist data changes_ pop up to apply changes
5. Open DBeaver and open the table to check changes

**Expected**: the changes are app

[2021-03-23 09:00] ShadelessFox commented on #11365
Hello @knutwannheden,

I believe this was fixed in #11467. Can you please check it out?

Thanks!

[2021-03-23 09:04] iSpeeX opened #11835 "Dbeaver won't open anymore"
Hello,

I was using Dbeaver for a couple weeks now without any problems. Yesterday I shutdown my laptop and this morning tried to launch Dbeaver as usual and it's not working anymore.
It says that an error has occurs and show the path to a log file.
What's in the log file is kinda mysterious (and it's always the same) :
!SESSION !SESSION !SESSION !SESSION !SESSION !SESSION !SESSION !SESSION !SESSI

[2021-03-23 09:19] mcvincekova commented on #11415
Hi, experienced the same problem, and for me the [downloading](https://dbeaver.io/download/) and using the newest DBeaver version helped.
This is my current working setup
- macOS: `Big Sur version 11.2.2`
- DBeaver: `dbeaver-ce-21.0.1-macos.dmg`
- Java: `openjdk 11.0.2 2019-01-15`

Note:
During installation of the new DBeaver version, you can select an option to migrate your current connection set

[2021-03-23 09:24] uslss commented on #11801
verified

[2021-03-23 09:24] #11801 closed, assigned to serge-rider, uslss

[2021-03-23 09:25] ShadelessFox commented on #11773
We decided to make them multiline too, despite the point I mentioned before. Maybe in some databases they can.

[2021-03-23 09:27] serge-rider commented on #9902
Fixed

[2021-03-23 09:33] LonwoLonwo commented on #11818
It can be driver issue https://stackoverflow.com/questions/25982045/routine-get-data-type-can-not-be-resolved
What driver version do you use?

[2021-03-23 09:50] wernerdaehn commented on #11257
I have tested all combinations I can think of:

* A user with a schema
* A new schema owned by somebody else (CREATE SCHEMA schema_without_user owned BY dbeaver_normal;)

Dbeaver works as expected.

What Hana Studio does is, similar - but not exactly - to what @kai-morich said, is hide all schemas that have no objects the connected user can see.
In other words, the list of schemas is not inferred

[2021-03-23 10:14] flambchap opened #11838 "Respect Snowflake identifier rules"
We need to properly escape Snowflake identifiers. It's going to solve problems with setting current databases and schemas with case-sensitive identifiers.

[2021-03-23 10:14] mnott opened #11839 "Could DBeaver please stay focused???"
**Is your feature request related to a problem? Please describe.**
When using the session manager, selecting a PID and activating auto-refresh, DBeaver loses the focus on the selected line.

This is frustrating, as in the SQL pane below it would nicely show which statement is currently run, and would allow for observing at a distance what a current session is currently at. Since it loses focus on

[2021-03-23 10:21] geertvercamer commented on #11818
We are on Informix Dynamic Server 10.00.FC5
Driver is Informix JDBC Driver for Informix Dynamic Server 4.50.JC4W1

When I Install dBeaver 7.2.0 again, I get a request to download driver
files:

   - repo:/drivers/informix/ifxjdb.jar
   - repo:/drivers/informix/ifxlang.jar
   - (repo:/drivers/informix/LICENSE.txt)

This yields version IBM Informix JDBC Driver for IBM Informix Dynamic
Server 3.70.JC

[2021-03-23 10:27] wernerdaehn commented on #11164
Actually, this is not Hana related but valid for all databases. How are statements executed there?

1. Statements executed by DBeaver for e.g. list of all tables.
2. Statements executed by the user in the SQL Console.

For the latter I don't see much options other than a complete rewrite of the SQL console and supporting parameters.

[2021-03-23 10:29] kseniiaguzeeva commented on #11734
Works correctly in Win10

[2021-03-23 10:31] knutwannheden commented on #11365
I am using DBeaver	21.0.1.202103211229 and DBeaver SVG Extension	1.0.87.202102141704. There I still have the problem with the clipped SVG diagrams.

[2021-03-23 10:33] ShadelessFox commented on #11365
That's unfortunate. Can you provide more details?

[2021-03-23 10:38] wernerdaehn commented on #9998
The driver does not return anything because it is user-defined.

https://help.sap.com/viewer/7c78579ce9b14a669c1f3295b0d8ca16/Cloud/en-US/20fa17f375191014a4d8d8cbfddfe340.html

[code]

[2021-03-23 10:39] kseniiaguzeeva commented on #11719
Thank you for the idea. @psuplat As a workaround have you tried to use Full-text search (in the main menu or top toolbar)? You can modify case-sensitive option there.
![Screenshot 2021-03-23 at 13 32 20](https://user-images.githubusercontent.com/51405061/112133717-056d1400-8bdd-11eb-8428-966343b01e2f.png)

But it doesn't support accent case.

[2021-03-23 10:42] kseniiaguzeeva commented on #11712
Please send a picture and show where the option was before.

[2021-03-23 10:45] knutwannheden commented on #11365
AFAICT the result still looks the same. I can upload the generated SVG for you.

[2021-03-23 10:46] uslss commented on #11769
verified

[2021-03-23 10:46] #11769 closed, assigned to flambchap, uslss

[2021-03-23 11:03] uslss commented on #10477
@thebruuu , `-runTask` is available for EE version only

[2021-03-23 11:05] ShadelessFox commented on #9998
We're retrieving information about columns using JDBC API [DatabaseMetaData#getColumns](https://docs.oracle.com/javase/8/docs/api/java/sql/DatabaseMetaData.html#getColumns-java.lang.String-java.lang.String-java.lang.String-java.lang.String-) that accepts table name pattern. The escape sequence for this pattern should be retrieved using [DatabaseMetaData#getSearchStringEscape](https://docs.oracle.c

[2021-03-23 11:05] uslss commented on #9902
verified

[2021-03-23 11:06] #9902 closed

[2021-03-23 11:06] kseniiaguzeeva commented on #11721
Please tell DBeaver version. Do you use SSH, VPN etc? Also please send log and debug log https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-03-23 11:06] wernerdaehn opened #11841 "Read transaction state from server"
#### System information:
- Operating system (distribution) and version, Win10
- DBeaver version: 21.0.0

#### Connection specification:
- Database name and version: Hana 2.0 SP4

#### Describe the problem you're observing:

When autocommit is turned off, the statement counter under the transaction is simply increased. Even if there was a commit or just a SQL select being executed.

#### Steps to r

[2021-03-23 11:09] uslss commented on #8232
verified

[2021-03-23 11:09] #8232 closed

[2021-03-23 11:11] wernerdaehn commented on #9998
I see. Thanks for the correction.

[2021-03-23 11:12] wernerdaehn commented on #9998
@kai-morich Do you mind to create a SAP internal support incident for that?

[2021-03-23 11:18] majkinetor opened #11842 "Errors getting count on SQL server with queries that have repeated columns (and SQLite)"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro  10.0.19042 N/A Build 19042
- DBeaver version: 21.0.1
- Additional extensions: none

#### Connection specification:
- Database name and version: Microsoft SQL Server 2017 (RTM) - 14.0.1000.169 (X64) ¶ Aug 22 2017
- Driver name: Microsoft JDBC Driver for SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc

[2021-03-23 11:27] Mizar01 commented on #11352
I can add that the default action on the toolbar is to open existing saved file if any. This in my opinion shuldn't be the default.

Most of the time I have to create brand new query and I have to delete all the text i find inside before (and this will overwrite my old script too) or remember to click on the drop down menu.

I had a weird problem the last day because the editor accidentally summon

[2021-03-23 11:28] majkinetor opened #11843 "Hiding columns makes export to any format invalid"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro  10.0.19042 N/A Build 19042
- DBeaver version: 21.0.1
- Additional extensions: none

#### Connection specification:
- Database name and version: Microsoft SQL Server 2017 (RTM) - 14.0.1000.169 (X64) ¶ Aug 22 2017
- Driver name: Microsoft JDBC Driver for SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc

[2021-03-23 11:37] uslss commented on #11842
thanks for the bug report

[2021-03-23 11:42] uslss commented on #11843
thanks for the bug report

[2021-03-23 11:46] LonwoLonwo commented on #11257
I understand correctly, what do you want to see all the schemes except empty?

[2021-03-23 11:51] wernerdaehn commented on #11257
Correct, that makes the most sense. To show all schemas except empty (based on the permissions of the user).
The select
[code]
gives you that.

[2021-03-23 11:53] ShadelessFox commented on #11365
Yes, please, I'd take a look. Can you also provide the screenshot of the ER diagram GUI in DBeaver? I'm interested in the entities' placement, scroll position and the grid scale.

[2021-03-23 12:22] fabianMendez commented on #11742
@ShadelessFox thanks for your response.

I was testing on dbeaver 21.0.0 but now with dbeaver 21.0.1 it does not add the `is null` filter which is a great first step, however, as you've mentioned double clicking only submits the filter dialog. It would be great if double clicking on an item would apply it as a filter.

[2021-03-23 12:28] serge-rider commented on #11834
1.  Changes weren't saved during shutdown process because all monitors were in state "canceled"
2. Transaction commit was forced BEFORE data save

Now fixed.

[2021-03-23 12:36] jetzerb commented on #11773
Indeed, MSSQL allows this:
![image](https://user-images.githubusercontent.com/36859020/112147045-40a21f80-8baa-11eb-8d39-b23b5197f703.png)

[2021-03-23 12:42] humbertocarvalho commented on #11799
I'm using the SETX command.

[2021-03-23 12:53] ghost commented on #11826
bug fixed in version 21.0.1

[2021-03-23 12:53] #11826 closed, assigned to nobody

[2021-03-23 13:06] knutwannheden commented on #11365
Here is a screenshot: ![image](https://user-images.githubusercontent.com/408765/112150576-8ed21580-8be0-11eb-892e-ebf7f8f77a43.png)

And here the SVG (zipped): [test.zip](https://github.com/dbeaver/dbeaver/files/6189821/test.zip)

The contents is all there, but I can only see what fits on the screen (using Chromium-based browser as viewer), and when trying to zoom out (using browser functionality)

[2021-03-23 13:19] jfreidkes-CA commented on #11415
Hi! Thanks to both of you @uslss and @mcvincekova for your replies!
I've already tried both, and not working either 😢
Thanks for the help!

[2021-03-23 13:44] detkliff opened #11845 "DBeaver does not answer for 1-2 minutes before click on not available resource"
DBeaver vers 21.0.1
Postgresql 9.5, 12.2
![изображение](https://user-images.githubusercontent.com/61137576/112156118-c4d6c000-8c07-11eb-8053-706fbe43f23e.png)

I do not know that the server SERVER_MAIN is already off or available.

1. Open objects tree  of SERVER_MAIN  in left part of the interface.
2. Duble click on a stored procedure

![изображение](https://user-images.githubusercontent.com/6113

[2021-03-23 13:58] elring opened #11847 "PostgreSQL - unable to edit table column default value"
OS: Linux Mint 20
DBeaver version: CE 21.0.1
Database: PostgreSQL 12

Table editor doesn't save default values for column.

Reproduce: create any table like
[code]
Try to edit column default value - in column list - entered value 123 immediately "disappears" - saving table results in DDL `ALTER TABLE public.testtable ALTER COLUMN aint DROP DEFAULT;`.

Editing in column details allows to "enter" de

[2021-03-23 13:58] ShadelessFox commented on #11365
To be really sure, can you install the Early Access version? https://dbeaver.io/files/ea/

Thanks again.

[2021-03-23 14:47] LonwoLonwo commented on #11847
Thanks for the bug report!

[2021-03-23 14:48] knutwannheden commented on #11365
Yes! With the Early Access it now works as expected. The version of the SVG extension is now also updated: 1.0.89.202103211229. I was assuming I would only have to update the existing plug-in.

[2021-03-23 14:48] #11365 closed, assigned to nobody

[2021-03-23 14:55] LonwoLonwo commented on #10266
duplicate of https://github.com/dbeaver/dbeaver/issues/9710

[2021-03-23 16:18] kai-morich commented on #11257
I would include all schemas, where the user has sufficient privileges.

So instead of

    SELECT DISTINCT schema_name FROM objects

I recommend to use

    SELECT schema_name FROM sys.schemas WHERE HAS_PRIVILEGES ='TRUE'

But that very likely this is only for display. I guess internally a full list of schemas is required, else something like object dependencies might fail

[2021-03-23 16:25] kai-morich commented on #9998
looks like this missing property could be _fixed_ in HANASqlDialect class

[2021-03-23 16:36] WGALVAO2020 opened #11849 "Export Excel"
Boa tarde,
          Gostaria de saber se existe alguma opção export no formato de arquivo do Excel *.xls ou *.xlsx?

#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

[2021-03-23 16:41] p91paul commented on #11839
Automatically reselect the current row after a refresh would indeed be nice. It probably requires a per-database support. On Oracle, for example, you would need SID+serial# (+ instanceid when in RAC mode) to identify the row.

[2021-03-23 16:45] ShadelessFox commented on #9998
We still don't know what escape sequence the driver uses.

[2021-03-23 16:53] jmcastagnetto commented on #7727
Just an idea, perhaps allow a config file in the user home dir that can override some of the values in the systemwide ini file.
You can then have something like `~/.dbeaver.ini ` with the changes you want.
Perhaps the logic can be handled somewhere in https://github.com/dbeaver/dbeaver/blob/52be7bc8b0d954da6386a06663c65b79df52be35/plugins/org.jkiss.dbeaver.registry/src/org/jkiss/dbeaver/registry/B

[2021-03-23 17:16] Matheus8174 commented on #10461
Tanks for the help

[2021-03-23 19:41] staze opened #11850 "Password doesn't meet requirements"
Just ran into this issue: https://github.com/dbeaver/dbeaver/issues/5175

Found the issue is dbeaver is trying to create the user with a blank password, then alter the user to add the password as two separate operations. The first one fails because the of password complexity rules.

Removing the alter piece, and tying into the create fixes the issue. This is on MySQL 8, and current dbeaver (Versio

[2021-03-23 20:13] uslss commented on #11849
Hi @WGALVAO2020 ,
with CE version you can use [Office extension](https://github.com/dbeaver/dbeaver/wiki/Optional-extensions#office-integration).
Also, export to excel is available in [Enterprise edition](https://dbeaver.com/) by default

[2021-03-23 20:14] #11849 closed, assigned to nobody

[2021-03-23 20:16] william-demasi opened #11852 "Unable to get Snowflake connection to work"
I am not able to get the connection to Snowflake works. None of the documentation I've seen addresses what I am experiencing.

Snowflake version: 5.8.2

![image](https://user-images.githubusercontent.com/81262576/112210799-87ffce80-8bf1-11eb-97b4-03b1ed9cc2a7.png)

![image](https://user-images.githubusercontent.com/81262576/112211514-5f2c0900-8bf2-11eb-90b2-053cff7adbb8.png)
But I've loaded the .j

[2021-03-23 20:17] p91paul commented on #10477
@alfonz19 did you install dbeaver though the official rpm on the website, or though a distribution package?

Asking because some versions ago I noticed a bug in Arch Linux packaging. They created a wrapper script that failed to pass command line parameters to the dbeaver executable. Maybe Fedora has a similar issue, and if so you can report it to the Fedora package maintainer.

[2021-03-23 21:01] ggregoire opened #11853 "SQL Editor: the numbers inside arrays don't use the color for numbers"
Hi! First of all, thanks for that amazing database client!

**Is your feature request related to a problem? Please describe.**

In the SQL Editor, the numbers inside arrays don't use the color for numbers.

It makes it hard to read the numbers. For example, in this screenshot:

<img width="191" alt="Screen Shot 2021-03-23 at 2 38 31 PM" src="https://user-images.githubusercontent.com/591804/1122154

[2021-03-23 23:01] DeflateAwning opened #11854 "Issue with Ctrl+ArrowKey hotkey around underscores in SQL Editor"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 7.2.3 and 7.3.4

#### Connection specification:
- Database name and version: N/A
- Driver name: N/A
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Good Behaviour: In the SQL text editor, using Ctrl+LeftArrowKey or Ctrl+RightArrowKey to jump forwa

[2021-03-24 05:14] noschang opened #11855 "Using the shortcut of the "Explain execution plan" feature causes several bugs"
### READ FIRST

When I was opening this issue I find out what was causing the problem and how to "solve it". But, I'm still opening this issue for two reasons. First, to help other people that may be having the same problem, second, because maybe there's a way to solve it in DBeaver.

#### System information:
- Ubuntu 20.04 LTS
- DBeaver 21.0.1.202103211229
- Additional extensions: None installed

[2021-03-24 05:15] noschang commented on #11734
@lucamanga see https://github.com/dbeaver/dbeaver/issues/11855

[2021-03-24 06:20] lxkplus commented on #11654
![图片](https://user-images.githubusercontent.com/78188981/112264337-b4782100-8cab-11eb-8a88-88ed286a1f91.png)
the text and background is all white 。and i cannot change it by Appearance settings

[2021-03-24 06:34] kseniiaguzeeva commented on #11834
verified

[2021-03-24 06:34] #11834 closed, assigned to serge-rider, kseniiaguzeeva

[2021-03-24 06:50] kseniiaguzeeva opened #11856 "Non-default schema can be selected in SQL Editor only manualy in SQL Editor top toolbar"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version   21.0.1.202103232026

#### Steps to reproduce, if exist:
**Case 1**
Select _New SQL Script_ in the context menu of non-default schema in DB Navigator

**Expected**: SQL Editor for the schema is opened
**Actual result**: SQL Editor is opened for default schema if it exists or without schema if it doesn't

[2021-03-24 07:15] LonwoLonwo commented on #11847
Fixed in 21.0.2

[2021-03-24 07:38] flambchap commented on #11130
Done.

[2021-03-24 07:40] LonwoLonwo commented on #11852
Hello @william-demasi
Have you tried to use "Reset to Defaults"?
Also https://stackoverflow.com/questions/54371447/what-are-the-differences-between-javadoc-jar-sources-jar-and-jar

[2021-03-24 08:13] LonwoLonwo commented on #9710
Search with "Ctrl+Schift+D" on connection fixed.

[2021-03-24 08:36] majkinetor commented on #11842
This also happens with sqlite 3.32.3 with query like this:

[code]

[code]

[2021-03-24 08:36] lauliu opened #11858 "MySQL function round is not work in script `insert into my_price(price) select round('42.0asd',2) as price"
In MySQL database, I want to transform data from string to decimal(18,2),as follower,

1.  `select round('42.0asd',2) as price;` this script result is ok;
2. ` create table my_price( price decimal(18,2) );`,this script  to create a table;
3. `insert into my_price(price) select round('42.0asd',2) as price;` ,but this script is except,it's report “SQL 错误 [1292] [22001]: Data truncation: Truncated in

[2021-03-24 08:37] uslss commented on #9710
verified

[2021-03-24 08:37] #9710 closed

[2021-03-24 08:40] uslss commented on #11130
verified

[2021-03-24 08:40] #11130 closed, assigned to flambchap, uslss

[2021-03-24 08:52] LonwoLonwo commented on #11397
Fixed in 21.0.2
Will be available [here](https://dbeaver.io/) at 2020-04-05

[2021-03-24 08:52] LonwoLonwo commented on #11165
Fixed in 21.0.2
Will be available [here](https://dbeaver.io/) at 2020-04-05

[2021-03-24 08:55] kseniiaguzeeva opened #11859 "When we close DBeaver with unsaved changes in Data Editor and refuse to save them in the pop up, it appears twice"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.2 EA

#### Steps to reproduce, if exist:
1. Open a table in the Data Editor and make any change
2. Press the cross to close DBeaver
3. Refuse to save changes in the pop up

**Expected**: DBeaver is closed, and the changes are not applied
**Actual result**: the  pop up appears the second time, DBeave

[2021-03-24 09:15] #11856 closed, assigned to nobody

[2021-03-24 09:28] uslss commented on #11847
verified

[2021-03-24 09:28] #11847 closed, assigned to uslss, LonwoLonwo

[2021-03-24 09:31] uslss commented on #11142
verified

[2021-03-24 09:31] #11142 closed, assigned to uslss, ShadelessFox

[2021-03-24 09:50] kseniiaguzeeva commented on #10494
verified

[2021-03-24 09:50] #10494 closed

[2021-03-24 10:03] kseniiaguzeeva commented on #11796
veirified on Mac and Win10. Separate ticket is created https://github.com/dbeaver/dbeaver/issues/11859

[2021-03-24 10:03] #11796 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-03-24 10:26] uslss commented on #11165
verified

[2021-03-24 10:26] #11165 closed, assigned to uslss, LonwoLonwo

[2021-03-24 10:28] uslss commented on #11397
verified

[2021-03-24 10:28] #11397 closed, assigned to uslss, LonwoLonwo

[2021-03-24 10:28] lauliu commented on #11858
can adjust it to a warning ? not a exception!

[2021-03-24 10:30] alikrc commented on #1774
full path in windows

 `%APPDATA%\DBeaverData\workspace6\.metadata\.plugins\org.eclipse.core.runtime\.settings\org.eclipse.ui.editors.prefs`

[2021-03-24 10:32] uslss commented on #11858
thanks for the report

[2021-03-24 10:36] uslss commented on #11854
thanks for the report
duplicates #1155

[2021-03-24 10:36] #11854 closed, assigned to nobody

[2021-03-24 10:43] uslss commented on #11850
Hi @staze ,
did you try to use Mysql(not Mysql 5) driver and check if it helps?
![image](https://user-images.githubusercontent.com/31996417/112297301-c60afa00-8ca6-11eb-9c79-0cb3aaeac129.png)
for me works ok:
![image](https://user-images.githubusercontent.com/31996417/112297244-b5f31a80-8ca6-11eb-91db-f620a62af5c4.png)

[2021-03-24 10:45] uslss commented on #11835
Hi @iSpeeX ,
can you try to [reset workspace](https://github.com/dbeaver/dbeaver/wiki/Reset-workspace)?

[2021-03-24 10:45] kai-morich commented on #9998
the internal statement for `DatabaseMetaData#getColumns` contains

      WHERE
         ( ($2) IS NULL  OR ($2) = '' OR C.SCHEMA_NAME LIKE ($2) ESCAPE '\')
         AND C.TABLE_NAME LIKE ($3) ESCAPE '\'
         AND C.COLUMN_NAME LIKE ($4) ESCAPE '\'

so \ is the escape character

[2021-03-24 11:00] detkliff opened #11860 "lost the ability to point defaul column value"
DBeaver 21.0.1
Postgresql 9.6,  12.2

CASE1
1.Create table
CREATE TABLE gty_test.newtable_2 (
	column1 bool NOT NULL
);
2.Open table edit window and edit value
![изображение](https://user-images.githubusercontent.com/61137576/112299065-40dd1080-8cb9-11eb-8102-43acd060f4f8.png)
3.Click on save button. DBeaver open alter table window with the script
"ALTER TABLE gty_test.newtable_2 ALTER COLUMN colu

[2021-03-24 11:26] kseniiaguzeeva commented on #11378
Sorry for the long responce. Please send the video one more time (here or on kseniia@jkiss.org). This one doesn't work.

[2021-03-24 11:35] uslss commented on #11860
thanks for the report
fixed in the scope of #11847

[2021-03-24 11:35] #11860 closed, assigned to nobody

[2021-03-24 11:39] uslss commented on #11813
Dameng DB support feature request #10133

[2021-03-24 11:41] uslss commented on #11813
You can also create a feature request about Kingbase support

[2021-03-24 11:41] #11813 closed, assigned to nobody

[2021-03-24 12:02] flambchap commented on #11452
Fixed.

[2021-03-24 12:03] flambchap commented on #11838
Fixed.

[2021-03-24 12:32] alumni commented on #9998
That means the `DatabaseMetaData#getSearchStringEscape` should be updated to return `'\'`, right?

@kai-morich DBeaver could treat HANA as a special case, but others that use the HANA JDBC driver will have the same problem.

I tried it in DataGrip before opening this ticket, but it seems they don't use the methods from the driver, they build their own statements (and they have other issues because

[2021-03-24 12:50] kai-morich commented on #9998
Of course would be better if the JDBC driver would provide this option but this will take some time.
Many JDBC drivers are incomplete so dbeaver has various places to compensate for missing properties like [SQLDialect](https://github.com/dbeaver/dbeaver/blob/devel/plugins/org.jkiss.dbeaver.ext.hana/src/org/jkiss/dbeaver/ext/hana/model/HANASQLDialect.java#L76) classes and driver [plugin.xml](https:

[2021-03-24 12:55] serge-rider commented on #11671
We use Gson in lenient mode to save/load JSON configuration. It is pretty standard.
As far as I know it doesn't escape slashes even in strict mode.

It is said that slash escaping is optional: https://stackoverflow.com/questions/29396608/how-to-escape-slashes-in-gson

[2021-03-24 13:07] TeoZ73 opened #11862 "Unable to connect to jdbc repository"
#### System information:
- Operating system win10 2004 19041.329
- DBeaver version 21
- Additional extensions None

After a new istallation is impossible downloading jdbc driver from site https://dbeaver.io/files/jdbc

tnk

[2021-03-24 13:50] noschang opened #11863 "Inconsistent behavior on "Results" tab"
#### System information:
- Ubuntu 20.04 LTS
- DBeaver 21.0.1.202103211229
- Additional extensions: None installed

#### Connection specification:
- Oracle 11g
- JDBC8
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

After running a query I try to press ```Shift+Ctrl+\``` in the results tab to fetch the entire dataset. However, DBeaver seems incons

[2021-03-24 13:50] aisbergde commented on #11671
Yes, I think it is not an issue. As I wrote

[2021-03-24 13:54] alfonz19 commented on #10477
I think I had some issue with dbeaver from fedora (not sure now), so I reinstalled it from webpage dbeaver.io.

But if creating new connection/whatever is only for EE, lets close this ticket. I solved the issue differently in dbeaver, I won't discuss it here, and if this option is somehow blocked, the main benefit of dbeaver would cease to exist for me and I will move away to another app.

[2021-03-24 14:00] uslss commented on #10477
@alfonz19 sorry for the misunderstanding, connection creating is of course CE feature.
Only -var, -runTask and -license parameters are EE only.
![image](https://user-images.githubusercontent.com/31996417/112322763-3d01bc00-8cc2-11eb-8b1a-0e489dab0467.png)

[2021-03-24 14:07] uslss commented on #11702
SMSS and Azure Data Studio don't use TCP/IP protocol to connect to MSSQL, so they will connect successfully even if the TCP/IP configuration is wrong.
Please recheck your Database configuration.

[2021-03-24 14:07] #11702 closed, assigned to nobody

[2021-03-24 14:10] uslss commented on #11862
Hi @TeoZ73 ,
Drivers will automatically download when you start to create a new connection

[2021-03-24 14:23] TeoZ73 commented on #11862
when i try to connect/download...

Can't create driver instance
  Error creating driver 'DB2 iSeries/AS 400' instance.
Most likely required jar files are missing.
You should configure jars in driver settings.

Reason: can't load driver class 'com.ibm.as400.access.AS400JDBCDriver'
  Error creating driver 'DB2 iSeries/AS 400' instance.
Most likely required jar files are missing.
You should configure

[2021-03-24 20:42] dfmolanoco commented on #995
I had the same issue, i fixed adding database name to the connection configuration, thanks

[2021-03-24 21:45] guigons commented on #7976
Hi Folks!

This steps bellow solved my problem on Mac for Postgres database:

1 - Install PostgresSQL, download here: https://www.postgresql.org/download/macosx/

2 - on DBeaver: Local Client -> Choose /Library/PostgreSQL/XX/bin

[2021-03-24 21:47] coleman-rik opened #11869 "there is no update for more than a month."
there is no update for more than a month.
If the issue is still actual for you - feel free to reopen it

_Originally posted by @uslss in https://github.com/dbeaver/dbeaver/issues/10259#issuecomment-760439159_

DBeaver 21.0.1 It now highlights the first error (which is an improvement).  The bottom of the window now lists the current cursor position as Line: character along line: character from begi

[2021-03-24 22:36] sisazim opened #11870 "conexao com ODBC ja instalado no windows"
configuracao para selecionar o driver instalado no windows

[2021-03-25 02:06] DeflateAwning opened #11871 "In filters pane, Counts don't sort properly"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.0.1
- Additional extensions

#### Connection specification:
- Database name and version: MySQL
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When you sort by the "Count" column added in Issue #10961 (i.e. click on the column nam

[2021-03-25 02:11] DeflateAwning opened #11872 "Add bars to the Count in the filters pane"
**Is your feature request related to a problem? Please describe.**
Visuals are easier to judge quickly than pure numbers.

**Describe the solution you'd like**
After opening the Filters pane on a column, counts are shown (as added in Issue #10961). I want data bars shown behind the Count numbers for easier comparisons of relative frequencies of values.

A basic mock-up of this sort of data bar is

[2021-03-25 03:50] zarpelon opened #11873 "Disconnect all databases when it's categorized"
I am organizing my connections by separate project directories. What happens is that over the course of the day I may have several open connections and currently there is no way to "close all connections"

![new_feature](https://user-images.githubusercontent.com/264762/112416029-a48c2b80-8d03-11eb-87be-aecb85980bf4.png)

[2021-03-25 07:14] kseniiaguzeeva commented on #11537
It is not a bug, but how Oracle works. Some Oracle versions can be used with specific drivers only.

[2021-03-25 07:14] #11537 closed, assigned to nobody

[2021-03-25 07:23] LonwoLonwo commented on #9760
Vertica columns remarks implemented in 21.0.2
Will be available [here](https://dbeaver.io/) at 2020-04-05

[2021-03-25 07:30] kseniiaguzeeva commented on #11571
Now DBeaver installer goes with Java, and it can be a reason of your issue (if you have installed Java separately with custom settings). What you can try:
- delete DBeaver Java (JRE) or
- delete and install DBeaver without Java (Remove Java checkbox in the installer)

DBeaver will use your Java in this case.

[2021-03-25 07:32] kseniiaguzeeva commented on #11626
Thank you for your ideas. We will investigate what and how can be implemented.

[2021-03-25 07:39] kseniiaguzeeva commented on #11655
We already have such feature.
Press **Script** on the bottom toolbar after editing a table (before saving changes). Separate window will be opened with generated SQL expression. You can remove schema name there and copy the expression.
![Screenshot 2021-03-25 at 10 37 45](https://user-images.githubusercontent.com/51405061/112435790-42104b00-8d56-11eb-9bea-d5d1d191facf.png)

Please ask to reopen th

[2021-03-25 07:42] uslss commented on #10259
#11869
DBeaver 21.0.1 It now highlights the first error (which is an improvement). The bottom of the window now lists the current cursor position as Line: character along line: character from beginning of statement. Unfortunately only indication it gives of the location of the error is still just a position (which I am assuming is in characters from the beginning of the statement) ex: Position: 16

[2021-03-25 07:43] uslss commented on #11869
#10259 reopened. Thanks for the clarification, move your comment to #10259

[2021-03-25 07:43] #11869 closed, assigned to nobody

[2021-03-25 07:45] kseniiaguzeeva commented on #11683
It makes sense. Do you have an idea what of the ways of implementation will be an optimal? How should the feature look like?

[2021-03-25 07:46] uslss commented on #11871
thanks for the report

[2021-03-25 07:49] kseniiaguzeeva commented on #11690
We should implement a correct GUID view in Oracle. Thank you for the report.

[2021-03-25 07:51] uslss commented on #11862
Cannot reproduce it.
Could you try to reset driver settings to default and then download the driver once again?
![2021-03-25_10h50_09](https://user-images.githubusercontent.com/31996417/112437502-12fad900-8d58-11eb-841d-d4d3d31469c2.gif)

[2021-03-25 07:53] uslss commented on #11870
Hi @sisazim ,
could you provide more information about your problem in English with clear steps?

[2021-03-25 07:54] kseniiaguzeeva commented on #11694
Please try to delete _.eclipse_ folder (`${HOME}/.eclipse`). It should help.

[2021-03-25 07:55] kseniiaguzeeva commented on #11698
Please send log files https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-03-25 07:57] kseniiaguzeeva commented on #11701
Thank you for the report. We will add the region.

[2021-03-25 08:04] uslss commented on #9760
verified

[2021-03-25 08:04] #9760 closed

[2021-03-25 08:04] kseniiaguzeeva commented on #11711
It is not implemented yet in DBeaver. We will be working on your ticket in 21.1.1 where we are going to improve debugger.

[2021-03-25 08:11] TeoZ73 commented on #11862
tnk now it work fine

[2021-03-25 08:11] #11862 closed, assigned to nobody

[2021-03-25 08:13] kseniiaguzeeva commented on #11724
It sounds interesting, but we have to figure out how much effort it takes to implement it.

[2021-03-25 08:15] kseniiaguzeeva commented on #11726
It is not a bug. We do not yet support this type of SSH. But we should implement it in future. Thank you for the report.

[2021-03-25 08:18] kseniiaguzeeva commented on #11734
Thank you for the report. I close the ticket as a duplicate of #11855 because it has more details.

[2021-03-25 08:20] kseniiaguzeeva commented on #11737
Unfortunately, it is not a bug, which can be fixed, but a limitation of CSV driver. As a workaround you can import the table into another database which support date/time format via DBeaver import/export tools.

[2021-03-25 08:20] #11737 closed, assigned to nobody

[2021-03-25 08:22] kseniiaguzeeva commented on #11748
Please tell which type of export do you mean (e.g. _export from query_ or another)?

[2021-03-25 08:29] kseniiaguzeeva commented on #11751
DBeaver has _Link with Editor_ option (`Ctrl+Shif+,`) which can cover your needs. It synchronizes the active editor with the element in the DB Navigator. Press it in DB Navigator (or use shortcut) when you have a table opened, and this table will be selected in DB Navigator tree. So, you can easily find next or previous table.

https://user-images.githubusercontent.com/51405061/112442730-37a57f80-

[2021-03-25 08:32] p91paul commented on #11872
I think the EE version is capable of drawing actual charts from the content of the grouping panel

[2021-03-25 08:55] bjkluft commented on #11751
Thank you.
Not quite what I wanted but it did help.

[2021-03-25 08:55] #11751 closed, assigned to nobody

[2021-03-25 09:00] LonwoLonwo opened #11875 "[SQL Console] Formatting adds a delimiter in the unsuitable part of the query"
- DBeaver 21.0.1
- MySQL 8.0/PostgreSQL 10 and other

Formatting in SQL Console (but not in SQL Editor) with setting "Insert delimiters in empty lines" adds a delimiter on the end of every row.

Steps:
- Open any table and add any filter
- Use ctrl+click on the table name in the left angle to open query in SQL Console
- Use ctrl+schift+F on the query with enable setting in Preferences "Insert deli

[2021-03-25 09:45] Mizar01 opened #11876 "Closing the open editor tab will freeze dbeaver for a little while"
- Linux Mint 19
- DBeaver version : 21.0.1

Context: Postgres connection through tunnelling

I open multiple editor tabs. Sometimes i have to clean up tabs so I close all of them. Trying to close the last left open tab: dbeaver freeze for 20 seconds or more without responding.
Never noticed this bug before.

[2021-03-25 09:49] kseniiaguzeeva commented on #11751
Please write, if you find it inconvenient.

[2021-03-25 10:02] uslss commented on #11838
verified

[2021-03-25 10:02] #11838 closed, assigned to flambchap, uslss

[2021-03-25 11:34] noschang commented on #11734
@kseniiaguzeeva I mentioned the issue #11855 here because maybe this is the problem that @lucamanga is facing. He didn't mention if he used the keyboard shortcut or wrote the query with ```explain analyze``` at the beginning.

So I'm not entirely sure if these bugs are related. Before marking it as a duplicate, I suggest that @lucamanga test disabling the emoji app to see if his problem is gone.

[2021-03-25 11:35] flambchap commented on #10401
Fixed.

[2021-03-25 11:45] kseniiaguzeeva commented on #11734
Thank you for pointing it out.

[2021-03-25 12:12] MkLHX commented on #6876
i'm using this great tool because i'm using sqlite db in iot devices.
sqlite-web
https://github.com/coleifer/sqlite-web

[2021-03-25 12:17] juchat opened #11878 "Running multiple Task parallelly"
Is there any option available for Community version to run multiple tasks in parallel?

[2021-03-25 12:23] SnowPowerCore commented on #10887
+1 having the same issue on Windows 10 20H2

[2021-03-25 13:20] kseniiaguzeeva commented on #11878
You can add multiple scripts to a Script [task](https://github.com/dbeaver/dbeaver/wiki/Task-Management) or several tables to an import/export task
![Screenshot 2021-03-25 at 16 08 37](https://user-images.githubusercontent.com/51405061/112477997-90d4d980-8d84-11eb-9744-0a5e828f4fae.png)

Option to create a [composite task](https://github.com/dbeaver/dbeaver/wiki/Composite-Tasks) (which can include

[2021-03-25 13:22] kseniiaguzeeva commented on #11876
Could you please send a video with the bug and [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files)?
Does it depend on quantity of tabs?

[2021-03-25 13:29] kseniiaguzeeva commented on #11873
You can do it using **Disconnect all** in Database menu.

https://user-images.githubusercontent.com/51405061/112480447-19ed1000-8d87-11eb-9e90-130d8c3a9f63.mov

[2021-03-25 13:31] kseniiaguzeeva commented on #11863
Could you please send a video with the bug and log files https://github.com/dbeaver/dbeaver/wiki/Log-files?

[2021-03-25 13:52] Robynishere1 commented on #11737
Thank you for confirming, can I leave this feedback as a feature request?

[2021-03-25 13:53] sisazim commented on #11870
good morning, grateful for the help.

a step by step configuration to include an existing ODBC connection on windows.

there is an ODBC drive installed on windows and I want to use that drive, how to view to configure access?

I want to configure here my drive already installed in the window

De: Dziyana ***@***.***>
Enviada em: quinta-feira, 25 de março de 2021 04:54
Para: dbeaver/dbeaver ***@***

[2021-03-25 14:18] flambchap commented on #10697
Hi @dolt131943. Forgive me if I'm mistaken, but it seems like everything works like expected here. The query
[code]
inserts values `abc"abc` and `abc\"abc` since backslash is indeed an escape character and needs to be escaped.

[2021-03-25 14:21] flambchap opened #11881 "Incorrect filtering of varchar column if filter value contains backslash"
@kseniiaguzeeva same goes for Searching and filtering in the data tables.
I have a table containing php-class-names (thus haveing a backslash in it) if you filter or search for it, all backslashes have to be escaped with a double backslash).
The filter suggests a single slash.
![image](https://user-images.githubusercontent.com/976407/105842587-b89eff80-5fd6-11eb-8e13-78dfee45073a.png)
![image](htt

[2021-03-25 14:26] #11835 closed, assigned to nobody

[2021-03-25 14:54] kseniiaguzeeva commented on #11828
Please check whether **Open separate connection for each editor** option is enabled.
![Screenshot 2021-03-25 at 17 51 53](https://user-images.githubusercontent.com/51405061/112493038-dac4bc00-8d92-11eb-824a-798497fb9c48.png)

If it is disabled, a connection uses one schema for all SQL Editors and opens SQL Editor for a default schema.

[2021-03-25 15:02] joekrukosky commented on #11698
[Log-for-11698.txt](https://github.com/dbeaver/dbeaver/files/6205677/Log-for-11698.txt)

[2021-03-25 15:10] robertos1232 commented on #11712
There is a version 7.0.
![image](https://user-images.githubusercontent.com/40420170/112495842-8dd9e900-8d84-11eb-9962-2c8ed48ce05e.png)

[2021-03-25 15:13] robertos1232 commented on #11712
There is a version 21.
![image](https://user-images.githubusercontent.com/40420170/112496342-f45f0700-8d84-11eb-9d54-ad6b6ec3d881.png)

[2021-03-25 15:13] flambchap commented on #10697
Ok, now I see what you meant there. That's indeed a bug. Working on that.

[2021-03-25 15:16] kseniiaguzeeva commented on #11737
You should ask CSV for this feature https://www.cdata.com/drivers/csv/. Also other CSV driver versions may support date format.

[2021-03-25 15:41] rstaylor opened #11883 "Schema not visible in navigator when Schema filter used"
#### System information:
- Operating system: Ubuntu 18.04
- DBeaver version: 21.0.1.202103211229
- Additional extensions

#### Connection specification:
- Database name and version: InterSystems IRIS v2021.1
- Driver name: InterSystems IRIS
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
When I apply an exclusion filter to the Schemas shown in the

[2021-03-25 16:02] Mizar01 commented on #11876
Hi.
I tried, but I can't reproduce it anymore.
It happened yesterday and this morning twice.
The number of open tabs was less than 5.

Lately I was cleaning all my saved scripts, deleting them both from the software and from the file system, but in any case I'm not saving those tabs.

I will try to reproduce in the next days to see if there is some pattern.

[2021-03-25 16:23] flambchap commented on #11881
It turned out to be a duplicate of #10697.

[2021-03-25 16:23] #11881 closed, assigned to flambchap

[2021-03-25 17:04] benjdv opened #11886 "Foreign key dictionary doesn't work with connexion in read only mode"
Hi,
The "dictionary" functionnality that show foreign key value when navigate into data is a great capacity of dbeaver.
Unfortunatly this functionnality doesn't work with the security mode "read only"
I don't know why there is this limitation.
Please consider, if it's possible, to allow dictionary to work with connection in read only mode.
Regards,

[2021-03-25 18:43] mj1995DK opened #11887 "HELP - Deleted file in DBeaver and can't find it"
I had three PDF-files in the DBeaver and I deleted it by mistake. Is there any chance I can recover the files?

[2021-03-25 18:50] juchat commented on #11878
i have save export task from the collection of scripts; however, i have to run one at a time.

[2021-03-25 18:53] GaryLiuTelus commented on #6064
Upvote for this.

[2021-03-25 18:54] GaryLiuTelus commented on #11614
Any comments?

[2021-03-25 19:42] krlicmuhamed commented on #6110
@uslss I have a similiar issue, however If I enter column data type as geography, I get `Bad data type name specified`...
[Image](https://i.imgur.com/4DDF4Kp.png)

[2021-03-25 20:35] patrickkidd commented on #10184
I am pinging back here again that this is indeed a major usability issue. Smooth scrolling is often not possible AT ALL on macOS because system scrollbars appear on scroll and then disappear and are very small. Even if you get the mouse over them fast enough they are very small and disappear very quickly so it is hard to grab them at all. You have to scroll with the trackpad to make them appear in

[2021-03-25 21:20] gearskullguy opened #11888 "DBeaver blocked by Windows Firewall after install, not sure what it's trying to do"
#### System information:
- Operating system: Windows 10 Pro 64-bit Version 20H2
- DBeaver version: Community Version 21.0.1.202103211229
- Java version: None installed... it must be using a version that came with it.
- Additional extensions: ? I just installed this for the first time on my computer fresh from your website.

#### Connection specification:
- Database name and version: I just opened

[2021-03-25 21:46] LonwoLonwo commented on #6110
Hello @krlicmuhamed
That version of DBeaver are you using?
Do you have PostGIS extension on Postgres?
Is geography type in the list of data types when create a column?

[2021-03-25 22:25] allanlaal opened #11889 "ADD support for color themes (like GapStyle)"
**Is your feature request related to a problem? Please describe.**
I'm editing code (including SQL) on different IDE's and Editors, so I'm using the GapStyle color scheme to unify everything - now every editor feels like home™ :)

**Describe the solution you'd like**
Implement support for color schemes using the same mechanism that [GapStyle uses](https://github.com/gaplo917/GapStyle/blob/c8cb069b

[2021-03-25 22:31] staze commented on #11850
It is using that driver.

I'm connecting to an MySQL 8 Community server over SSH. This is how it generates the create user strings.

![image](https://user-images.githubusercontent.com/1100483/112551899-0d64b980-8d7f-11eb-9fc3-601537bb3fee.png)

[2021-03-26 00:53] ShadelessFox commented on #10259
Hello @coleman-rik,

We don't parse the statements by ourselves, the errors are sent by the server itself, as mentioned multiple times before. The same thing is for the error message - the code position is the part of it, we don't modify it.

[2021-03-26 00:54] mogzol commented on #11352
I'd like to hear the reasoning behind having the default action be opening a recent script. For that to really be useful you'd have to (a) remember what your most recent script was, and (b), actually want to open that script. I don't know about anybody else, but there's very few circumstances where that's actually what I want to do. Most of the time I just want to write a quick one-off query, so I

[2021-03-26 04:34] vmalyutin commented on #11828
Kseniia, yes, it is enabled.
One note. When I execute my query with "set search_path"  it works fine always. But without that it fails as I shown above.

[2021-03-26 06:49] lemon-juice commented on #11352
Good point. I think a button to open a new blank sql editor should be the default for everybody. Things like opening previous scripts can be useful but are more specialized operations for those who want them. I can see the devs are planning a fix for this, I hope they will implement the new blank script button in some form.

[2021-03-26 07:27] uslss commented on #11452
verified

[2021-03-26 07:27] #11452 closed, assigned to flambchap, uslss

[2021-03-26 07:27] uslss commented on #11771
verified

[2021-03-26 07:27] #11771 closed, assigned to serge-rider, uslss

[2021-03-26 07:43] LonwoLonwo commented on #11875
Also this behaviour reproduce in SQL Editor with MacOS and Linux systems with enable setting "Insert delimiters in empty lines" in preference.

[2021-03-26 07:44] yjd opened #11891 "Read-only: No Corresponding table column"
Starting in 2020, there has been this problem from a certain version of 7.2 to the latest version 7.3:
Read-only: No Corresponding table column
screenshot:
![1](https://user-images.githubusercontent.com/6856740/113960298-de5a4780-9856-11eb-9c9b-217a087fb100.png)

Version 7.2 does not have this problem before September 2020,
screenshot:
![22](https://user-images.githubusercontent.com/6856740/113960

[2021-03-26 07:48] antru commented on #10184
I recall Mac has a setting which enables the scrollbars to be shown at all times. Might help a little!

[2021-03-26 07:49] patrickkidd commented on #10184
That's correct, it could. Though it would disrupt desired behavior for all the other apps on the machine as well.

[2021-03-26 08:11] Jaydeb91 opened #11892 "unable to connect tally jdbc driver in dbeaver"
Hi All,
Can you please help to understand - Why I am unable to install JDBC driver in dbeaver

your quick response will be highly appreciated!

![Tally Issue-db](https://user-images.githubusercontent.com/52272413/112601630-aefc1180-8e38-11eb-9ba2-7553190424c6.png)

Getting JDBC driver from Cdata @ https://www.cdata.com/kb/tech/tally-jdbc-dbvr.rst

Thanks, Jaydeb

[2021-03-26 08:19] flambchap commented on #10697
Fixed.

[2021-03-26 08:46] uslss commented on #11887
Unfortunately, it is not possible.

[2021-03-26 08:46] #11887 closed, assigned to nobody

[2021-03-26 09:53] serge-rider commented on #11352
I think we can do the following: add default behavior selector right in the SQL dropdown. As a sub-menu with radio buttons selector.

Thus you can define "SQL" button behavior with two clicks.

[2021-03-26 09:59] tati-kru commented on #10184
Hey all, just would like to let you know that we haven't forgotten about this issue. But it's quite complicated to fix.
Couple recommendations to improve grid performance on Mac:
- Set monospaced font for data grid: Window -> Preferences -> User Interface -> Appearance -> Colors and Fonts -> Database Query results -> Resultset Data types -> Results grid font.
- Remove right-justify: Window -> Pref

[2021-03-26 10:04] kseniiaguzeeva commented on #11892
What exactly goes wrong? Do you make all steps from the instruction successfully? Could you send a screenshot of settings tab of **Edit Driver** dialog?

[2021-03-26 10:07] uslss commented on #10697
verified

[2021-03-26 10:07] #10697 closed

[2021-03-26 10:13] uslss commented on #11883
Hi @rstaylor .
did you try to escape '%' with backslash?

[2021-03-26 10:30] uslss commented on #10401
verified

[2021-03-26 10:30] #10401 closed

[2021-03-26 10:57] Jaydeb91 commented on #11892
Yes, I am following all the instruction given by the cdata @ https://www.cdata.com/kb/tech/tally-jdbc-dbvr.rst

  screenshot settings tab of **Edit Driver** dialog
![image](https://user-images.githubusercontent.com/52272413/112621734-1bced600-8e50-11eb-9718-c8cb42108a56.png)

[2021-03-26 11:11] uslss commented on #11596
Hi @452 ,
cannot reproduce it against 21.0.1,
is it still actual for you?

[2021-03-26 11:14] uslss commented on #11591
Hi @glmarsh ,
cannot reproduce it. Could you tell me how do you install dbeaver? snap or deb package?

[2021-03-26 11:21] ashep commented on #7777
Unfortunately in my case this didn't help. 21.0.1 on Big Sur.

[2021-03-26 11:21] uslss commented on #11371
Sorry for the late response.
Could you check if it reproducible for you against [the recent version](https://dbeaver.io/download/)?

[2021-03-26 11:23] lemon-juice commented on #11352
Sounds good to me!

[2021-03-26 12:11] rstaylor commented on #11883
Yes, to be clear the filter works.  However the results in the navigator does not organize the tree by schema.  All the tables are mixed together under tables with no schema.  Then when I try to look at one of the table's data it tries to use a generic default schema which fails.

If I use an inclusion filter it all works correctly.  The schema selected each have their own branch in the navigation

[2021-03-26 12:24] kseniiaguzeeva commented on #11892
Jar file looks incorrect (class doesn't appear). Most probably it is Tally issue.

[2021-03-26 13:41] FirKys opened #11895 "Export geometry doesn't include SRID"
#### System information:
- Operating system (distribution) and version:  **Win 10**
- DBeaver version:  **21.0.1.202103211229**
- Java version: **Java 9**

====

#### Connection specification:
- Database name and version: !!**PostGIS**!! 2.5.2
- Driver name: postgres
- Do you use tunnels or proxies (SSH, SOCKS, etc)? **no**

====

#### Describe the problem you're observing:
During exporting data t

[2021-03-26 13:45] flambchap commented on #10958
Implemented.

[2021-03-26 13:58] flambchap commented on #11895
Thank you for the report.

[2021-03-26 15:19] HughKelley commented on #8553
I've run into this issue as well. So far, it seems that in North America, CTS may only handle HARN coordinate reference systems and older systems are more likely to fail.
That's consistent with the example above comparing 2773 (a HARN crs) to 2232 (which predates HARN)

[https://www.georepository.com/crs_4152/NAD83-HARN.html](https://www.georepository.com/crs_4152/NAD83-HARN.html)

[2021-03-26 15:35] lnicola commented on #11371
It seems to be working now, it might have been a packaging problem. Thanks for pinging me, I wanted to test, but forgot about it.

[2021-03-26 15:35] #11371 closed, assigned to nobody

[2021-03-26 16:25] aderchox commented on #21
I'm not opening a new issue to avoid duplicate issues, but I hope someone will respond because I'm not even to open my DBeaver. Also the error is not helpful at all. Although my issue is almost similar to this one, there are **things worth mentioning:**
1. I'm on Windows 10 and not on MacOS, and my OS is up to date.
2. I have tried both JDK 1.8 (Java 8) and JDK 15 without success (downloaded from

[2021-03-26 16:26] aderchox commented on #21
I'm not opening a new issue to avoid duplicate issues, but I hope someone will respond because I'm not even able to open my DBeaver. Also the error is not helpful at all. My issue is similar to the one on this page, but there are **things worth mentioning:**
1. I'm on Windows 10 and not on MacOS, and my OS is up to date.
2. I have tried both JDK 1.8 (Java 8) and JDK 15 without success (downloaded

[2021-03-26 18:16] DougLawry commented on #6075
I can confirm that the FK syntax problem (issue 2) is resolved in 21.0.1.

4 also seems to be fixed, but not 1 or 3. Please let me know if anything remains unclear in those problem descriptions.

Please ignore my previous statement below, as this is fine when run in the correct database, "stores_demo" in this example:

"Another problem is that stores_demo:informix.customer produces error -556 "Can

[2021-03-26 18:26] douglasdtc opened #11899 "IntersSystems Caché - GlobalCharacterStream shows as [CacheInputStream]"
#### System information
- Operating System: Windows 10 Enterprise
- DBeaver Version: 21.0.1.202103211229
- Additional Extensions: None

#### Connection specification
- Database: InterSystems Caché 2018
- Driver: Caché
- Tunnels or Proxies: No

#### Problem
When we have a datatype of `GlobalCharacterStream` on a table, instead of showing the values, it's presenting the value `[CacheInputStream]`. I

[2021-03-26 18:27] Chealer commented on #814
Columns can be searched with the metadata (second) tab of Search (Ctrl+H).

[2021-03-26 23:16] zarpelon commented on #11873
nice! works fine.

[2021-03-26 23:16] #11873 closed, assigned to nobody

[2021-03-27 12:18] r0bis commented on #11612
OK, thanks I will try to create a bug report or open a discussion about this on https://sourceforge.net/p/csvjdbc/

[2021-03-27 20:17] simoc commented on #11612
The SQL queries listed in this issue work correctly for me using DBeaver 21.0.1.202103211229 on Windows 10.

The SQL queries also worked correctly for me using CsvJdbc directly in a Java test program.

In the DBeaver Driver properties tab under Connection Settings, I added dateFormat dd/MM/yyyy to the User Properties list, like in the screenshot below.

![dbeaver-connection-settings-user-propertie

[2021-03-28 15:31] aisbergde opened #11900 "mssql - it is not possible to insert new lines into tables containing calculated columns"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver Version 21.0.1.202103211229
- Additional extensions

#### Connection specification:
- Database name and version, SQL Server 2019
- Driver name default
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

it is not possible to duplicate / insert new lines into tabl

[2021-03-28 16:57] ragmon opened #11901 "Task execution process on finish not working"
#### System information:
- Ubuntu 20.10
- DBeaver 7.3.1

#### Connection specification:
- MySQL 5.7
- MySQL driver

#### Describe the problem you're observing: execute process on finish not working properly

#### Steps to reproduce, if exist:
1. Create new task
2. Fill execution process on finish: `telegram-cli -W -e "post_file Запуск_морлайкс /PATH_TO_ARCHIVE/latest_db_dump.sql.zip"`

#### Includ

[2021-03-28 23:12] r0bis commented on #11612
Interesting, thanks very much for this information; I only ever adjusted driver properties (it just seemed that if it is set there, it is what the driver should use), I never set User Properties; I will try to do this tomorrow. If that is the culprit, then it seems it is DBeaver side bug, perhaps?

[2021-03-29 00:08] baliramaswamy opened #11902 "Fetch Size value is zero, the whole table is fetched"
Hi,

I see DBeaver sends a cancellation request based on the "Resultset Fetch Size", default is 200 on the version I have. If I change it to 100, query cancels at 100. If I change it to zero it does not send a cancellation request. Is that the exepcted behavior of the product?

Thanks
Balaji

[2021-03-29 07:37] mykola-melnykov commented on #11782
[couch.log](https://github.com/dbeaver/dbeaver/files/6220047/couch.log)
I tried throught main window

[2021-03-29 07:59] uslss commented on #11902
Hi @baliramaswamy ,
if I catch you right, it is expected behavior. In case fetch size value is set to 0, the whole table should be fetched.

[2021-03-29 08:01] #11902 closed, assigned to nobody

[2021-03-29 08:17] JurajKukla opened #11905 "Additional image formats support"
Good day,
I am creating this feature request since the current version of DBeaver is not supporting displaying various image formats.
Currently supported image formats are: bmp, jpeg, png, gif. I would like to request support additional image formats: wsq, j2k, jp2, tiff, jpg, ...
Example: if I use png format:
![image](https://user-images.githubusercontent.com/40146416/112807138-dab90a80-9077-11eb

[2021-03-29 08:19] uslss commented on #11900
thanks for the report

[2021-03-29 08:20] uslss commented on #11899
thanks for the report

[2021-03-29 08:24] uslss commented on #11883
thanks for the report and clarification

[2021-03-29 08:27] uslss commented on #11870
You could try to use the default odbc driver in DBeaver
![image](https://user-images.githubusercontent.com/31996417/112808520-bc580c80-9081-11eb-8f8c-ece6bd9cbb2c.png)

[2021-03-29 08:33] uslss commented on #11818
@geertvercamer drivers could be customized manually accordingly to [guide](https://github.com/dbeaver/dbeaver/wiki/Admin-Manage-Drivers)

[2021-03-29 08:33] #11818 closed, assigned to nobody

[2021-03-29 08:37] uslss commented on #11438
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen this issue with an additional info

[2021-03-29 08:37] #11438 closed, assigned to nobody

[2021-03-29 08:43] #10259 closed

[2021-03-29 08:46] uslss commented on #11548
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen this issue with an additional info

[2021-03-29 08:46] #11548 closed, assigned to nobody

[2021-03-29 09:23] flambchap opened #11908 "Extend support for disabling referential integrity checks in data transfer"
In https://github.com/dbeaver/dbeaver/issues/11047, we added support for disabling foreign key checks for Oracle and PostgreSQL. Now we need to extend this option on other databases. MySQL, SQL Server, DB2, and Exasol are in priority.

[2021-03-29 10:31] allanlaal opened #11909 "support for Firebase Cloud Firestore"
Cloud Firestore is Firebase's newest database for mobile app development. It builds on the successes of the Realtime Database with a new, more intuitive data model. Cloud Firestore also features richer, faster queries and scales further than the Realtime Database.

https://firebase.google.com/docs/database/rtdb-vs-firestore

[2021-03-29 10:33] allanlaal opened #11910 "support for Firebase Realtime Database"
Realtime Database is Firebase's original database. It's an efficient, low-latency solution for mobile apps that require synced states across clients in realtime.

its still in use in many Firebase applications, but not as important as #11909

https://firebase.google.com/docs/database/rtdb-vs-firestore

[2021-03-29 12:31] alikrc commented on #3699
@johnrijs have you found a solution? i've same problem

[2021-03-29 13:00] LonwoLonwo opened #11912 "[Redshift] Support for users and permissions."
Now in DBeaver 21.0.1 we have only permissions button in table DDL.

![2021-03-29 14_33_28-Window](https://user-images.githubusercontent.com/45152336/112830835-c4bd4100-909b-11eb-983c-619158863ee1.png)

![2021-03-26 19_36_40-DBeaver Enterprise 21 0 2 - venue](https://user-images.githubusercontent.com/45152336/112830895-d999d480-909b-11eb-92c3-964bd6ed37b7.png)

We need to add more information abou

[2021-03-29 13:21] Mizar01 opened #11914 "Screen disturbingly flashing grey."
#### System information:
- Linux Mint 19 - kernel 4.15.0-140-generic
- DBeaver 21.0.1

#### Connection specification:
- Any

#### Describe the problem you're observing:
When I move or click the mouse around the editor and results area, the screen is flashing gray.
Sometimes, when I copy with my custom 'F11' key, the query or the results area will turn completely grey unless I click on then once mo

[2021-03-29 13:34] kseniiaguzeeva commented on #10958
MySQL, PostgreSQL delete dialogues were tested

[2021-03-29 13:34] #10958 closed, assigned to flambchap, kseniiaguzeeva

[2021-03-29 15:27] LonwoLonwo commented on #11875
Fixed in 21.0.2

[2021-03-29 15:28] LonwoLonwo commented on #11276
Fixed in 21.0.2
new ticket about Redshift permissions created https://github.com/dbeaver/dbeaver/issues/11912

[2021-03-29 16:22] konstantin-yua commented on #3286
So is there any progress since the last comment was left here?

[2021-03-29 16:24] 452 commented on #11596
Yes, actual
![image](https://user-images.githubusercontent.com/1583753/112867839-0bbf2c80-90c4-11eb-8c9a-e080262e91e2.png)
![image](https://user-images.githubusercontent.com/1583753/112867894-1b3e7580-90c4-11eb-9a1e-add189c30a18.png)
![image](https://user-images.githubusercontent.com/1583753/112868027-445f0600-90c4-11eb-8146-420b6f932bea.png)
![image](https://user-images.githubusercontent.com/1583

[2021-03-29 18:08] elring opened #11917 "Copy table & column rename creates wrong DDL"
OS: Linux Mint 20
Dbeaver: 21.0.2 EA (and 21.0.0)
DB: PostgreSQL 12

After table copy (for example Ctrl+C and Ctrl+V in table list) new table is "pre-created". When I immediately rename some column in this table (without previous saving), the result DDL is wrong. The table is created with new column name, that's ok. But then follows wrong additional rename SQL clause. This rename SQL should not be

[2021-03-29 18:32] r0bis commented on #11612
Yes, I verified - it works if there is **User Property** set for the **dateFormat**. It is however a bit confusing and I am not sure if that is the intended behaviour. Essentially what happens is that **dateFormat** is ignored  if set as @simoc described before the 2nd screenshot: "It is also possible to edit dateFormat directly under Driver properties, like in the screenshot below. When I do this

[2021-03-29 19:07] simoc commented on #11612
I added some debug messages to CsvJdbc, so I can see exactly which driver properties are passed.

DBeaver is passing driver property " dateFormat" with a leading space, so CsvJdbc does not recognise it. The other driver properties ("charset", "columnTypes", "fileExtension", etc.) are passed correctly. User properties are also passed correctly.

I searched the DBeaver source code and found this lin

[2021-03-29 20:02] CraigFNMA opened #11919 "Slowness going between tabs/look ahead feature/writing result"
#### System information:
- Windows 10
- DBeaver version 7.10
- Additional extensions - none

#### Connection specification:
- Database name and version - Netezza 7.2.1.7 / Redshift
- Driver name - nzjdbc.jar / RedshiftJDBC42-no-awssdk-1.2.45.1069.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  NA

#### Describe the problem you're observing:

Slow response when navigating between tabs, usin

[2021-03-29 20:20] derwin12 commented on #11108
Note still and issue with 21.0.1 version. Cannot resize the Results window .. either all on or all off or one spot in the middle.

[2021-03-30 04:34] tonytheodore commented on #11561
This also happens with MS Access as the source and data type is "double".

[2021-03-30 05:55] LonwoLonwo commented on #11495
Fixed in 21.0.2

[2021-03-30 06:02] LonwoLonwo commented on #11675
Now default delimiter for all databases including SQL Server is semicolon (";").
This means that in the generated statements for the SQLServer we now use ";" instead of "GO." Including Merge.

You can partially change this behavior in the preferences.
Preferences -> Editors -> SQL Editor -> SQL Processing

Replace the semicolon in the "Statements delimiter" field on the desired separator and turn

[2021-03-30 06:09] LonwoLonwo commented on #11010
Informix is a special base. We cannot change the database in the connection, because it requires a separate connection. And we cannot make a scheme of default, because in the Informix scheme - this is the user who gave the rights to these objects.
Therefore, when trying to choose a default scheme, nothing will happen now.

[2021-03-30 06:35] #11010 closed, assigned to LonwoLonwo

[2021-03-30 07:11] kseniiaguzeeva commented on #11718
Icon is ok on Mac
![Screenshot 2021-03-30 at 09 37 01](https://user-images.githubusercontent.com/51405061/112948056-3cdd4280-9140-11eb-82a6-0bf133e0df1f.png)
but looks small on Win

[2021-03-30 07:32] r0bis commented on #11612
Many thanks @simoc; this was not a third party issue; hopefully this can be merged soon @uslss. Thanks for  great software; it can very useful to be able to query CSV files with SQL.

[2021-03-30 07:38] zolthan commented on #10395
Hi @kseniiaguzeeva could I give you any more information?

The problem still persists but I see a solution coming in 21.0.3? 🤗

[code]

[2021-03-30 08:23] uslss commented on #11919
Hi @CraigFNMA ,
could you check if it is reproducible for you against the recent version(21.0.1)?

[2021-03-30 08:26] uslss commented on #11917
thanks for the report

[2021-03-30 08:29] flambchap commented on #10959
Implemented.

[2021-03-30 08:49] uslss commented on #11718
win:
![image](https://user-images.githubusercontent.com/31996417/112961421-04dcfc00-914e-11eb-9156-99c9540557f0.png)

[2021-03-30 08:56] LonwoLonwo commented on #11590
So, JSQLParser fixed parsing problem with ":", but we chose another way to solve this problem.

https://github.com/dbeaver/dbeaver/issues/6075#issuecomment-808423774 according this comment and those DDL, who returns to us Informix for views, procedures and triggers, we decided to remove the name of the catalog of the generated queries. For Visual Query Builder also.

So, no catalog, no separator -

[2021-03-30 09:28] AaronWiora opened #11921 "Test tunnel configuration button cut off"
#### System information:
- Ubuntu 20.10 64-bit Gnome 3.38.3 X11
- DBeaver 21.0.1

#### Describe the problem you're observing:
When creating a MariaDB connection using SSH Tunnel the button **Test tunnel configuration** is not visible because the default height of the window is to small. You can resize the window but that isn't obvious for the user and the window should have a different height by d

[2021-03-30 09:45] serge-rider commented on #11718
If icon doesn't change try icon cache reset or machine reboot.

[2021-03-30 09:48] serge-rider commented on #11352
Default action configuration:

![image](https://user-images.githubusercontent.com/6398845/112969532-fc88bf00-9155-11eb-99c7-1cb82f9a8f4f.png)

[2021-03-30 09:49] kseniiaguzeeva commented on #10395
We hope to solve it in 21.0.3, but the cause of the bug is still unknown and needs to be investigated

[2021-03-30 10:02] detkliff opened #11922 "add ability to change foreign key parameters from the interface for Postgresql"
DBeaver 21.0.1

![изображение](https://user-images.githubusercontent.com/61137576/112971725-f0f2c380-9168-11eb-9d90-896b7af160bf.png)

[2021-03-30 11:00] LonwoLonwo commented on #11172
Hello @mbelvadi2
Have you try use alias for rowid when using subqueries?
https://stackoverflow.com/questions/8682398/sqlite-says-no-such-column-rowid-when-using-sub-queries

This quote is very similar to the answer you need:

[2021-03-30 11:58] brunoherdina commented on #8350
thank youuu @Jonakemon :D

[2021-03-30 11:59] #9883 closed

[2021-03-30 12:26] SherlockSoftware opened #11923 "msSQL.. query IS NULL for at DATETIME field, does not error but does not display 1 record that is there"
Windows 10
DBbeaver21.0.1.202103211229
Java Ver 8 Update 281 . (build 1.8.0_281-b09)
??
msSQL and "mifn2021"  export table "ChequesOut"
- Driver name
![image](https://user-images.githubusercontent.com/64625961/112986538-57013a00-91ad-11eb-9b93-85945f6d2db4.png)

- Do you use tunnels or proxies (SSH, SOCKS, etc)?   [ NO ]

#### Describe the problem you're observing:
Exported a table but how to atta

[2021-03-30 13:13] serge-rider commented on #11379
![image](https://user-images.githubusercontent.com/6398845/112994271-bdb53200-9172-11eb-82ba-07169b6c49d3.png)
![image](https://user-images.githubusercontent.com/6398845/112994320-cc9be480-9172-11eb-9304-770166030a5d.png)
![image](https://user-images.githubusercontent.com/6398845/112994402-dfaeb480-9172-11eb-925a-ff0799d808ba.png)

[2021-03-30 14:24] Tekka90 commented on #9414
Just to mention that I use v21.0.1.202103211229 now, on Big Sure, and do the exact same setup as described, and get the exact same result...
I am getting nuts with it, always jumping to begin end of the page, very frustrating !

[2021-03-30 14:48] LonwoLonwo commented on #10752
Hello @mbelvadi2
Actually we have support rowid columns for SQLite.

![2021-03-30 17_44_20-Preview Changes](https://user-images.githubusercontent.com/45152336/113009053-48e8f480-9180-11eb-80b7-d1dcc0d49c11.png)

What DBeaver and SQLite versions do you use?
And what is table DDL,where there was a warning when the cells change?

[2021-03-30 15:31] sk-dataocean-online opened #11925 "Cannot load and save scripts"
#### System information:
- Operating system (distribution) and version: Linux Mint 18.3 Cinnamon 64-bit (Kernel 4.15.0-128-generic)
- DBeaver version: 21.0.1.202103220618

#### Connection specification:
- Database name and version: PostgreSQL 10.16 (Ubuntu 10.16-1.pgdg16.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609, 64-bit

#### Describe the problem

[2021-03-30 16:22] brightblueray commented on #11651
Same issue.  DBeaver was working and then stopped.  Logs attached.
[dbeaverCrash.zip](https://github.com/dbeaver/dbeaver/files/6230544/dbeaverCrash.zip)

[2021-03-30 18:58] pgiansante commented on #8701
I still see this issue in Version 21.0.0.202103102007.

[2021-03-30 20:33] sravikrishna3 commented on #8701
I am using ver 21.0.1 and it shows view ddl as

create view cam_laad.cam_cohort_builder_rx
AS SELECT * FROM cam_laad_ext.cam_cohort_builder_rx with no schema binding

Looks right to me.

[2021-03-30 21:27] acrey1 commented on #11590
Thanks!

[2021-03-31 06:52] kseniiaguzeeva commented on #11875
Verified (Win and Mac were tested)

[2021-03-31 06:52] #11875 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-03-31 06:55] #11718 closed, assigned to serge-rider, kseniiaguzeeva

[2021-03-31 06:56] detkliff commented on #11494
version 21.0.1

CREATE TABLE formula (
	id serial NOT NULL,
	left_header_id int4 NULL,
	top_header_id int4 NULL,
	formula json NOT NULL

RESULT:
![изображение](https://user-images.githubusercontent.com/61137576/113102888-096de700-9218-11eb-99d6-aabf2c8afb83.png)

![изображение](https://user-images.githubusercontent.com/61137576/113102959-1be82080-9218-11eb-93be-9e3e0e2c95a2.png)

[2021-03-31 06:57] detkliff commented on #11494
![изображение](https://user-images.githubusercontent.com/61137576/113103069-42a65700-9218-11eb-9b06-02b3b84eda1f.png)

[2021-03-31 07:48] uslss commented on #11590
verified

[2021-03-31 07:48] #11590 closed, assigned to uslss, LonwoLonwo

[2021-03-31 07:50] uslss commented on #11675
verified

[2021-03-31 07:50] #11675 closed, assigned to uslss, LonwoLonwo

[2021-03-31 08:00] uslss commented on #11495
![image](https://user-images.githubusercontent.com/31996417/113110966-5c43a080-9210-11eb-8ece-7da37df96d0c.png)

[2021-03-31 08:03] uslss commented on #11773
verified

[2021-03-31 08:03] #11773 closed, assigned to uslss, ShadelessFox

[2021-03-31 08:08] uslss commented on #11612
verified

[2021-03-31 08:08] #11612 closed, assigned to serge-rider, uslss

[2021-03-31 08:22] serge-rider commented on #11194
It is a side effect of "bug" in PostgreSQL driver, see https://stackoverflow.com/questions/38404534/postgresql-getcolumnname-is-not-working-returning-alias-name

It is not possible to determine original name of a column in resultset.
We need some workaround.

[2021-03-31 08:34] kseniiaguzeeva commented on #11352
verified

[2021-03-31 08:34] #11352 closed, assigned to serge-rider, kseniiaguzeeva

[2021-03-31 08:41] kseniiaguzeeva opened #11927 "Remove empty space from Configure table columns dialog"
We show unnecessary empty space in _Configure table columns dialog_ of Export now. Is it possible to remove it?
Relates to https://github.com/dbeaver/dbeaver/issues/10303
![dbeaver_BdopNymaiJ](https://user-images.githubusercontent.com/51405061/113116242-ef330980-9215-11eb-8528-2d9f3810b1bd.png)

[2021-03-31 08:44] uslss opened #11929 "Save script confirmation dialog is shown twice"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.2 EA

#### Describe the problem you're observing:
Save script confirmation dialog is shown twice
#### Steps to reproduce, if exist:
1. Connect to database
2. Open Script dialog with Ctrl+]
3. Make some changes in script window
4. Close DBeaver

**Actual result**
1. Exit confirmation dialog is shown

[2021-03-31 08:49] serge-rider commented on #11194
We'll try to get real column name from the query itself

[2021-03-31 08:56] LonwoLonwo commented on #11495
Definition and constraint names fixed.

[2021-03-31 09:16] brasio opened #11931 "Java heap space error while importing data: no solutions found"
I cannot import a table of 10 millions of records, neither from a csv file, nor from a table of another database. I have tried with:

1) changing parameters in dbeaver.ini file:

-Xms512m
-Xmx8192m

2) making import with "by segments" option

3) reducing fetching parameter and "commit after rows" parameters

but without success.

Is there any other suggestion? I don't understand why this abnormal

[2021-03-31 09:20] yanliuy-max commented on #11579
版本21.0.1.202103211229,unable to find valid certification path to requested target when connect the db2 in win10
also cann't find the sslconnection  setting

[2021-03-31 09:23] uslss commented on #10959
Folding state doesn't save for script like ddl for pagila.public (full ddl with comment and grants)
![2021-03-31_12h21_50](https://user-images.githubusercontent.com/31996417/113121984-dfb6bf00-921b-11eb-805e-d8c0ac8f7ade.gif)

[2021-03-31 09:24] drivertx opened #11932 "UI flickers and is torn apart"
#### System information:
- Debian 10 (on Chrome OS 89.0.4389.95)
- DBeaver 21.0.1.202103211229

#### Describe the problem you're observing:
The UI flickers and looks weird.

#### Steps to reproduce, if exist:
Download, install and start.

![DBEaver](https://user-images.githubusercontent.com/81619982/113121865-5e5b2e80-9213-11eb-81d4-0daa08dcf664.png)

[2021-03-31 09:25] serge-rider commented on #11929
Fixed

[2021-03-31 09:26] serge-rider commented on #11859
Duplicate of #11929

[2021-03-31 09:26] uslss commented on #11495
verified

[2021-03-31 09:26] #11495 closed, assigned to uslss, LonwoLonwo

[2021-03-31 09:26] #11859 closed, assigned to nobody

[2021-03-31 09:30] dolt131943 commented on #10697
sorry for my poor english

[2021-03-31 09:36] flambchap commented on #10959
The current solution uses Eclipse's persistent properties which can not be greater than 2KB in size. With too many folded annotations, we exceed this threshold which causes this behavior. We discussed that with Serge and decided that we'll address this issue in one of our future releases.

[2021-03-31 09:37] uslss commented on #10959
verified

[2021-03-31 09:37] #10959 closed, assigned to flambchap, uslss

[2021-03-31 10:03] uslss commented on #11929
An issue with sql editor - fixed.
issue with data editor - still reproduced

[2021-03-31 10:17] rashidhussainshah commented on #7640
in ubuntu open software store, open dbeaver and open file permissions and enable ssh-keys
![Screenshot from 2021-03-31 15-16-06](https://user-images.githubusercontent.com/39673127/113129408-49db5e00-9234-11eb-9867-468e098451e6.png)

[2021-03-31 10:17] Thomas-1985 commented on #10353
For me it is working in 21.0.1 (Mac OS)

DBMS: MariaDB 10.5.4 (source and destination)

[2021-03-31 10:18] Thomas-1985 commented on #9894
Works for me in 21.0.1 (haven't tested on earlier versions). Thanks! :)

[2021-03-31 12:14] uslss commented on #11921
thanks for the report

[2021-03-31 12:37] kseniiaguzeeva commented on #11260
Please tell do you run several DBeaver instances? Do you use default workspace location?

[2021-03-31 13:22] serge-rider commented on #11853
Thanks for the bug report.

Fixed

[2021-03-31 13:25] flambchap opened #11936 "Add 'Close existing connections' checkbox when deleting a database in SQL Server"
Previously it was impossible due to the rigidness of the Delete Object Dialog. After some work in https://github.com/dbeaver/dbeaver/issues/10958, nothing stops us from doing what was planned in https://github.com/dbeaver/dbeaver/issues/10712.

[2021-03-31 13:35] serge-rider commented on #10479
I've fixed navigator node expand routine.
Now it shouldn't block UI on simultaneous popup dialog invocation.

Workaround: disable: expand tree option:
![image](https://user-images.githubusercontent.com/6398845/113152681-0a663f00-923f-11eb-850d-5215ffd070e4.png)

[2021-03-31 13:47] mtelgkamp opened #11939 "Problems with text containing NUL character"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.10
- DBeaver version: Version 21.0.1.202103220618
- Additional extensions: none

#### Connection specification:
- Database name and version: mariadb 10.2
- Driver name: mariadb 1.5.5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
Content after a NUL character is tru

[2021-03-31 14:41] xantari opened #11942 "SQL Error HY001: PWS00001 function did not complete successfully on IBMi DB2"
#### System information:
- Operating system (distribution) and version
Windows 10.
- DBeaver version
21.0.1
- Additional extensions
None

#### Connection specification:
- Database name and version
IBMi DB2 V7R3
- Driver name
Db2 iSeries (com.ibm.as400.access.AS400JDBCDriver) / JT400.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
No

#### Describe the problem you're observing:

When selecti

[2021-03-31 14:46] xantari commented on #11942
Figured it out.

You need to set this to fix this issue:

![image](https://user-images.githubusercontent.com/6610039/113163626-f4885800-9205-11eb-8e3a-6fb599c7c38b.png)

[2021-03-31 15:04] pgiansante commented on #8701
Here are my steps:

  1.  If I generate full DDL on a schema, I currently see the issue of 2 “create or replace view as”.  I guess left over from the bug.
  2.  I copied the DDL into a script window and went through cleaning up the multiple “create views”.
  3.  I executed the entire script.
  4.  After refreshing the views, I regenerated the full DDL and I still see the multiple “create views”.

[2021-03-31 15:36] kseniiaguzeeva commented on #11194
Verified. Vertica case cannot be reproduced too.
`SELECT c.*, data_type_id as DATA_TYPE from v_catalog.columns c`

[2021-03-31 15:36] #11194 closed, assigned to serge-rider, kseniiaguzeeva

[2021-03-31 15:40] LonwoLonwo commented on #6052
Feature implemented in DBeaver 21.0.2

More information about how it works here: https://github.com/dbeaver/dbeaver/wiki/SQL-Formatting

[2021-03-31 15:53] serge-rider commented on #11929
Fixed

[2021-03-31 16:06] LonwoLonwo commented on #10542
Fixed in 21.0.2

[2021-03-31 16:39] kseniiaguzeeva commented on #11379
1. Auto-assist doesn't show integer values out of the first limited batch.
https://user-images.githubusercontent.com/51405061/113176784-879cae80-9255-11eb-9372-a0868955d210.mp4

2. Auto-assist list jumps to its beginning when you scroll to its end
https://user-images.githubusercontent.com/51405061/113176926-aa2ec780-9255-11eb-876b-49de6787e428.mp4

3. Auto-assist shows a column value out of the fi

[2021-03-31 16:56] kseniiaguzeeva commented on #11927
verified