[2021-08-10 07:19] Matvey16 opened #13484 "Wrong timestamp formatting with time zone settings"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5

#### Connection specification:
- Database name and version PostgreSQL 12

#### Describe the problem you're observing:
If time zone is set in Timestamp formatting, timestamp fields will display wrong formatting with `f` in pattern. Works correctly when using `S` as milliseconds in pattern.

#### S

[2021-08-10 07:33] Matvey16 commented on #13416
@Nemecsek Hello. Can you check how it looks if you disable Date/time formatting?

![dbeaver_0EOt7TCUbo](https://user-images.githubusercontent.com/82543000/128826631-fbf36a58-1187-4b68-93eb-d4174421a8d0.png)

I tried to reproduce it and for me changing time zone in importer settings changed the imported time accordingly

![dbeaver_KBRtoPabTu](https://user-images.githubusercontent.com/82543000/12882

[2021-08-10 07:47] Matvey16 commented on #13418
@SupervisionT This can be related to the fact that 7.2.5 is pretty old and has different dependencies on top of other differences. Have you tried uninstalling current version and then clean installing the new one?

[2021-08-10 07:58] flambchap commented on #12537
Thank you, Kirill. I've managed to get up and running an 11g instance, but still haven't found success in reproducing the issue. The only idea I have in mind at the moment is that it is somehow a mac-specific issue, although I find it to be very unlikely :(. I'll try to figure something out and will keep you updated.

[2021-08-10 08:07] Matvey16 commented on #13450
@inliquid Hello. The issue you encountered is related to a shortcut that is created during install. It has a ` -nl en` property where `en` is the language that you picked during install. When it switched back to russian, did you start it from .exe file or from the same desktop shortcut?

[2021-08-10 08:43] Matvey16 commented on #12345
Verified

[2021-08-10 08:43] #12345 closed, assigned to LonwoLonwo, Matvey16

[2021-08-10 09:41] Matvey16 opened #13486 "Add an ability to switch from resultset tabs to editors"
We have a shortcut <kbd>Ctrl + Tab</kbd> to switch focus from Editor tabs to resultsets of current editor, but going back is impossible without a mouse.

[2021-08-10 09:42] Matvey16 commented on #12532
Verified
Additional enhancement ticket opened #13486

[2021-08-10 09:42] #12532 closed, assigned to ShadelessFox, Matvey16

[2021-08-10 09:44] DariaMarkaryan opened #13487 "Tooltips change in strange ways"
#### System information:
- Win10
- DBeaver CE 21.1.4

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/43252954/128722166-29dcce4b-476e-48c4-adef-6f5bbc32ef25.png)
![image](https://user-images.githubusercontent.com/43252954/128722549-dd9f334f-3abd-4ce8-8d92-e159dcb974eb.png)
There are two type of tooltip for the same buttons - with and without a toolti

[2021-08-10 09:49] gavvvr commented on #12537
@akilovich , I already reported above, that the problem was also reproducible on Linux. So far I only did not cover Windows :)

[2021-08-10 10:16] Matvey16 commented on #9484
Verified

[2021-08-10 10:16] #9484 closed

[2021-08-10 10:26] Matvey16 commented on #13465
@elring Thank you for the report, we will work on it.
![image](https://user-images.githubusercontent.com/82543000/128854119-32407bd7-4478-4ce0-ad77-28c25cbe8df0.png)

[2021-08-10 11:22] inliquid commented on #13450
I can't tell actually, because reinstalled portable version which seems to not have this issue. What I usually do is open start menu, then type program name such as "dbea,,,", and then select from the search result, after that I just pin it on the bottom panel. I expect it to be either binary or a shortcut to the binary. I also expect that running `*.exe` file have the same effect as shortcut.

An

[2021-08-10 12:15] Matvey16 commented on #13472
@Korov thank you for the report, I reproduced this issue and got an NPE
[code]

[2021-08-10 12:34] Matvey16 commented on #13474
@hoi82 Can you show me your import settings? I tried reproducing it, and imported 20k rows of 11 columns in 20 seconds

[2021-08-10 12:53] vani0vani0 commented on #13483
Same thing happens with other special symbols, such as underscore. It happens when you use column names that are recognized as reserved sql words, such as "day" or "time". I have a CSV file and an empty table with the following column names:
`_time, day`
The import task fails with the same message:
`Can't find target attribute [_time]`
Even though in the mappings everything is set up correctly.

[2021-08-10 12:54] Matvey16 commented on #13450
@inliquid You can change language in properties, but it is impossible if you install DBeaver into a read-only directory like a default Program Files.
If you change a language after installation and want it to persist, you need to create a new shortcut, or start DBeaver from .exe file and repin it to taskbar.

[2021-08-10 13:11] ramirobarreca commented on #10372
Is it possible that this error is still happening for actual DBeaver versions?
* DBeaver: version 21.1.4
* DB: PostgreSQL 8.4
Tables created with a SERIAL datatype ar shown as VARCHAR instead of integer.  Either at the Columns list but also in the DDL code.
For newer PG versions (i.e. PG 11) it is shown OK.

[2021-08-10 13:27] Kim-Hyeonseok opened #13489 "How to change the size of menu bar and button??"
plz answer me.. I want to change the button more bigger than now..

[2021-08-10 13:29] inliquid commented on #13450
Thanks. As I said, I already found a workaround with using portable version only.

Here is quick recap for a language related problems of DBeaver:

0. Just a note: `Program Files` dir is not read-only
1. To make it easier to work with config files from the OS security perspective, it is possible to save configs in `%APPDATA%` as many other programs do
2. Language selection should not be implied by

[2021-08-10 13:48] ShadelessFox commented on #13283
Hello @gtorinsd,

Is the issue still relevant to you? Please take look at https://github.com/dbeaver/dbeaver/issues/13283#issuecomment-884228194

[2021-08-10 17:50] ShadelessFox commented on #13283
My guess is that this specific column has type `geometry(geometrycollection)`, but I need more information.

[2021-08-10 22:47] mleehayes opened #13490 "DBeaver incorrectly parses Snowflake stored procedure that contains the text: //end"
#### System information:
- Operating system (distribution) and version: Windows 10 Version 1909 (OS Build 18363.1679)
- DBeaver version: 21.1.4.202108020335
- Additional extensions: ??

#### Connection specification:
- Database name and version: Snowflake
- Driver name:  JDBC 3.12.15
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
When I attempt to c

[2021-08-11 00:49] cydonialis commented on #13120
Hello @LonwoLonwo
We used driver developed and maintained by database team which serves [GaussDb](https://dbdb.io/db/gaussdb), Not common on the market😂

below is tables DDL:
`CREATE TABLE CMDBCORESVRDB.I_DCNCMLAG (
	id VARBINARY(16) NOT NULL,
	class_Name VARCHAR(384) NOT NULL,
	class_Id BINARY_BIGINT NOT NULL,
	collectorId VARCHAR(36),
	reportSn BINARY_BIGINT,
	last_Modified BINARY_BIGINT NOT NUL

[2021-08-11 06:56] flambchap commented on #12537
Have you tried to reset UI settings and worspace state? If now, please do that to see if it helps.
![Screenshot 2021-08-11 095327](https://user-images.githubusercontent.com/26031301/128983085-695a521a-1f51-49e2-a001-41a320d3e5ce.png)
(the options you need are at the very bottom).

If that doesn't help, then I believe there's a small but crutial detail missing in your recipe above. So I want you to

[2021-08-11 07:03] Matvey16 commented on #12600
Verified

[2021-08-11 07:03] #12600 closed, assigned to ShadelessFox

[2021-08-11 07:22] gavvvr commented on #12537
No, resetting of both did not help.
I will also try a Windows version soon and will make a screencast.

Btw I noticed you use the Ultimate version, I use the Community one

[2021-08-11 07:34] kseniiaguzeeva opened #13491 "Column length cannot be less then 3 symbols in txt export"
#### System information:
- Operating system (distribution) and version Win
- DBeaver version 21.1.4

#### Steps to reproduce, if exist:
1. Export a table in txt format and set min/max column length 1/2
2. Perform the export
![dbeaver_IBRTYWjUSY](https://user-images.githubusercontent.com/51405061/128988041-5eb0fc10-6a01-4ae3-96b2-b6b53a55dd26.png)

**Expected**: max 2 symbols are displayed in the c

[2021-08-11 08:32] plmmihail opened #13492 "Incons"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-08-11 08:32] #13492 closed, assigned to nobody

[2021-08-11 08:49] plmmihail opened #13493 "Inconsequent behaviour of GUI during inserting a row in a table with default values of columns and/or for date columns"
#### System information:
- Operating system (distribution) and version
Linux Mint, CentOS
- DBeaver version
The last, 21.1.3
- Additional extensions
No
#### Connection specification:
- Database name and version
Oracle 10, Postgres 13
- Driver name
Standard maven artifacts from collection of DBeaver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
No

#### Describe the problem you're observing:
T

[2021-08-11 08:58] mikkk3l commented on #13042
¿Any news? Thanks!!!

[2021-08-11 09:14] flambchap commented on #12703
Fixed.

[2021-08-11 09:27] Matvey16 commented on #11619
Copy settings are expected to do what it says. When checked the new workspace would be opened with current preferences and layout. For now it works somewhat strange, because the layout is not copied and Dbeaver doesn't have Working sets that are also offered to be copied. The only working option is to copy preferences.
We need to fix that.

[2021-08-11 10:27] ShadelessFox commented on #13002
Implemented:
1. Horizontal scrolling using <kbd>Shift</kbd>+<kbd>Mouse Sheel</kbd>
2. Hand tool that allows you to pan diagram (toggleable, default shortcut is <kbd>Tab</kbd>)

Note: unfortunately, we can't assign <kbd>Space</kbd> for toggling hand tool, since this key is used for selecting entities.

https://user-images.githubusercontent.com/35821147/129013418-14c30215-ac13-44a2-bc5a-cc466e0d0de7

[2021-08-11 10:37] gavvvr commented on #12537
Same on Windows (fresh Dbeaver CE 21.1.4 + Oracle 11 build with my instructions above):
![image](https://user-images.githubusercontent.com/1719646/129014965-5f12d264-a793-40e5-9dc1-22057e2dd02f.png)

Will record and attach a short screencast later

[2021-08-11 10:58] andrew-dixon commented on #9414
Same here. It works initially but after some time it then jumps to beginning / end of document. So frustrating.  I also have the configs mentioned in the workarounds and they works for other apps like VS Code, Word, etc... just not in dbeaver.

[2021-08-11 11:35] deepaksenthilkumar commented on #13477
Thanks for reporting this. We noticed the same. Did you also notice the security definer in procedure ddls are missing (it’s available in properties though), have you already file a bug for that?

[2021-08-11 12:18] flambchap commented on #12537
Successfully reproduced the issue on Oracle 12c EE.

[2021-08-11 12:36] kseniiaguzeeva opened #13495 "Wrong syntax for connection limit in Role DDL"
#### System information:
- DBeaver version 21.1.4

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
Open a role DDL

**Expected**:  no limit is written as `-1` https://www.postgresql.org/docs/8.1/sql-createrole.html
**Actual result**: no limit is written as `UNLIMITED`

[2021-08-11 13:04] tati-kru commented on #13404
Duplicate of #11139

[2021-08-11 13:04] #13404 closed, assigned to nobody

[2021-08-11 13:11] #13454 closed, assigned to nobody

[2021-08-11 13:16] tati-kru commented on #13457
Thanks for suggestion

[2021-08-11 13:17] #13464 closed, assigned to nobody

[2021-08-11 13:21] tati-kru commented on #13472
Thanks for the report

[2021-08-11 13:25] tati-kru commented on #13476
Thanks for the report

[2021-08-11 13:40] Matvey16 commented on #13489
It can't be done in DBeaver. What OS do you use? Maybe you can change OS settings to do that.

[2021-08-11 13:41] Matvey16 commented on #13002
Verified

[2021-08-11 13:41] #13002 closed, assigned to ShadelessFox

[2021-08-11 13:43] Matvey16 commented on #13334
@VladimirVarnakov Thank you for the report. We will look into it

[2021-08-11 13:47] Matvey16 commented on #13153
Can be related to #13335
We will look into it

[2021-08-11 13:57] Matvey16 commented on #13481
@simmermonr Thank you for the report

[2021-08-11 14:04] deepaksenthilkumar commented on #13283
CREATE TABLE test_geom (c1_geometry geometry)

select * from pg_catalog.pg_attribute where attname = 'c1_geometry';

This is the output
{
"select * from pg_catalog.pg_attribute where attname = 'c1_geometry'": [
	{
		"attrelid" : 835925,
		"attname" : "c1_geometry",
		"atttypid" : 3000,
		"attstattarget" : -1,
		"attlen" : -1,
		"attnum" : 1,
		"attndims" : 0,
		"attcacheoff" : -1,
		"atttypmod" :

[2021-08-11 14:08] ShadelessFox commented on #13283
Thanks @deepaksenthilkumar! May I ask you to do the same thing but using following queries:

[code]

[code]

[2021-08-11 14:16] deepaksenthilkumar opened #13498 "Performance improvement of multi-row inserts with the bypass of binding values"
**Is your feature request related to a problem? Please describe.**
Performance issues in multi-row inserts of millions of records for the Redshift database. The issue is because of the time the Redshift 1.x JDBC driver takes to prepare a statement (which is exponentially proportional to the number of question marks in the statement we are trying to prepare).

**Describe the solution you'd like**
P

[2021-08-11 15:22] ShadelessFox opened #13500 "PostGIS: special geometry types are not supported"
#### Connection specification:
- Database name and version **PostgreSQL 12**

#### Describe the problem you're observing:
The following types are not supported and cause error to display in UI:
 - geometrycollection
 - circularstring
 - compoundcurve
 - curvepolygon
 - multicurve
 - multisurface
 - polyhedralsurface
 - triangle
 - tin

[2021-08-11 15:34] ilne commented on #13483
Most likely the same issue as described in https://github.com/dbeaver/dbeaver/issues/13402.

[2021-08-11 15:35] JeroenNienhuis opened #13501 "select records using spatial viewer"
When one of more cells with spatial data are selected the spatial data are shown on a map. This is a very useful feature. It would be even more useful if it could also be used the other way around: selecting records with spatial data graphically.

When I have a table data frame opened (with or without a filtered selection) and click the spatial column, all records are selected and shown on a map.

[2021-08-11 16:09] Nemecsek commented on #13416
I can try only next week, sorry. I will let you know. Thx

[2021-08-11 16:37] ghost opened #13503 "Custom ERD foreign key relations not showing for other members"
#### System information:
- Operating system (distribution) and version : Windows 10
- DBeaver version: Community Edition 21.0.5
- Java version "1.8.0_291"
- Additional extensions

#### Connection specification:
- Database name and version : SQL Server 2016
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
I have created a custom ERD by ma

[2021-08-11 19:02] hhhien2903 commented on #7257
Hoping this feature request will be released soon. Thanks so much for created DBeaver.

[2021-08-12 03:37] deepaksenthilkumar commented on #13283
It errors. We can’t specify geometry type in redshift during create

[2021-08-12 05:36] AnandKumarTokopedia commented on #7597
It is actually happening because the Table is updated, but the table columns are not updated.
You can do one thing after updating the table refresh the column too
`from the left pane ->table_name->Columns(right-click)->refresh`
No need for a restart.

[2021-08-12 06:22] Matvey16 commented on #13483
Yes, this looks like the same issue and we are working on it. Thank you for the report

[2021-08-12 06:22] #13483 closed, assigned to nobody

[2021-08-12 06:23] Matvey16 commented on #13402
Can be related to #13453

[2021-08-12 06:57] ShadelessFox commented on #13283
Oh, that's unfortunate. Thanks for the information!

[2021-08-12 07:40] janiu-001 opened #13504 "Export Product error"
Hi export,

A issue reported when i plan to Use "Export  Product export Wizard", please check the detail info below, very appreciated to get you response.

A cycle was detected when generating the classpath org.slf4j.api_1.7.30.v20200204-2150, ch.qos.logback.classic_1.2.3.v20200428-2012, org.slf4j.api_1.7.30.v20200204-2150.

if i check the  button "Allow for binary cycles in target platform" , blo

[2021-08-12 07:51] tatod opened #13505 "default value for data rows per statement"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04.2 LTS
- DBeaver version: 21.1.5.202108090656
- Additional extensions: n/a

#### Connection specification:
- Database name and version: Oracle Oracle Database 12c EE Extreme Perf Release 12.1.0.2.0 - 64bit Production
With the Partitioning, Real Application Clusters, Automatic Storage Management, OLAP,
Advanced Anal

[2021-08-12 08:06] mboeringa opened #13506 "PLPGSQL 'ELSIF' not recognized in 'SQL Editor'"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.4
- Additional extensions: None

#### Connection specification:
- Database name and version: PostgreSQL 13.3
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
This is a very minor issue, but I noticed the PLPGSQL language 'ELSIF' syn

[2021-08-12 08:15] Matvey16 commented on #12703
Verified

[2021-08-12 08:15] #12703 closed, assigned to flambchap

[2021-08-12 08:15] #13233 closed, assigned to flambchap

[2021-08-12 08:33] ShadelessFox commented on #13500
Fixed:

![java_fCLMmnwDTy](https://user-images.githubusercontent.com/35821147/129060546-654f11dd-6ef1-4d27-9616-2b961e9d8862.png)

[2021-08-12 08:34] ShadelessFox commented on #10918
Implemented. Now you can't add objects for project that differs from diagram's project

[2021-08-12 08:36] mboeringa commented on #13506
After some more editing, I now see it properly styled, closing.

[2021-08-12 08:36] #13506 closed, assigned to nobody

[2021-08-12 08:48] ShadelessFox commented on #11690
Hello @christopheblin,

Is there any updates? Please take look at https://github.com/dbeaver/dbeaver/issues/11690#issuecomment-890014845. Thanks!

[2021-08-12 09:23] Matvey16 opened #13507 "Case-insensitive search in column filter has inconsistent behavior"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5

#### Describe the problem you're observing:
1. When searching for value with unchecked option `Read from server` the search is always case-insensitive even when this option is disabled.
2. The option for case-insensitive search is greyed out if filter window was closed with disabled `read from se

[2021-08-12 09:36] flambchap commented on #12649
Fixed.

[2021-08-12 10:26] LonwoLonwo commented on #13505
Hello @tatod

We have a special solution for Oracle.
Just choose "INSERT ALL" for "Upsert keyword" in Format settings.

![2021-08-12 13_23_06-DBeaver Enterprise 21 1 5 - ACTOR](https://user-images.githubusercontent.com/45152336/129181446-dc71d7fc-a9a2-4c44-a66e-0b8838ecc3bf.png)

So it will be generate something like this:
[code]

[2021-08-12 10:33] DariaMarkaryan commented on #10918
Verified

[2021-08-12 10:33] #10918 closed, assigned to ShadelessFox, DariyaFedorova

[2021-08-12 10:34] Matvey16 commented on #12649
Verified

@plotn I would like to ask you to also verify if this was fixed. Our tests were artificial and don't cover complete picture, because we were not able to reproduce this issue naturally. New version with this fix will be released on Monday.

[2021-08-12 10:34] #12649 closed, assigned to flambchap

[2021-08-12 10:41] Matvey16 commented on #12135
Verified

[2021-08-12 10:41] #12135 closed, assigned to ShadelessFox, Matvey16

[2021-08-12 10:57] ShadelessFox opened #13510 "Radix Number Formatter: `Bits` parameter doesn't do anything"
#### Describe the problem you're observing:
There's some problems and improvements related to radix formatter:
1. <kbd>Bits</kbd> parameter does not affect the result. I suspect it should trim LSB bits when radix is set to `2`.
2. Negative numbers are displayed with minus sign in a weird place (`0x-1`), more convenient alternative would be `-0x1`
3. In addition to the previous point, I suggest add

[2021-08-12 11:05] DariaMarkaryan commented on #13500
Verified

[2021-08-12 11:05] #13500 closed, assigned to ShadelessFox, DariyaFedorova

[2021-08-12 11:16] Matvey16 commented on #13360
Verified

[2021-08-12 11:16] #13360 closed, assigned to LonwoLonwo

[2021-08-12 12:35] LonwoLonwo commented on #12888
Thanks a lot @bianyun1981!

[2021-08-12 13:22] LonwoLonwo commented on #10372
Hello @ramirobarreca
Could you please provide table DDL as an example? And some screens. I can't reproduce in DBeaver 21.1.4

[2021-08-12 13:36] LonwoLonwo commented on #13495
https://docs.aws.amazon.com/redshift/latest/dg/r_CREATE_USER.html yep, redshift syntax

[2021-08-12 13:56] gilbertttsubay commented on #10461
Sorry i dont see the answer here @malthenpaur .
![image](https://user-images.githubusercontent.com/35297439/129209491-0cea3c26-70e7-4cdd-80df-82938d54d31f.png)
where is the navigatior view?

[2021-08-12 13:59] Matvey16 opened #13512 "Undone changes in table properties are highlighted as if the are still changed"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version
- Additional extensions

#### Steps to reproduce, if exist:
1. Make some changes to table's properies
2. Undo with <kbd>Crtrl+Z</kbd>

**Expected:** Value is not highlighted
**Actual result:** Value is highlighted like when it is changed

![qWUPZ0XqyQ](https://user-images.githubusercontent.com/82543000/1

[2021-08-12 14:00] gilbertttsubay opened #13513 "problem create database"
Can you help me to solve "Object create not available in simple view mode"
![image](https://user-images.githubusercontent.com/35297439/129209953-e688629f-0047-4b5a-b988-ec8903f45977.png)

there are some guys who solved it with "Hello I also had same problem.Just right click-edit connection-navigator view and change to advanced."

but i dont see the "navigatior view".
![image](https://user-images.g

[2021-08-12 14:10] LonwoLonwo commented on #13513
Hello @gilbertttsubay

You can change it in Connection Settings -> General -> Navigator view

![2021-08-12 17_07_24-DBeaver Enterprise 21 1 5 - mood_data](https://user-images.githubusercontent.com/45152336/129211637-a6b95bbd-5227-414d-a6bf-6f0623abc803.png)

Or use right-click on a connection in Database Navigator and choose "Connection view".

![2021-08-12 17_06_38-DBeaver Enterprise 21 1 5 - moo

[2021-08-12 14:10] #13513 closed, assigned to nobody

[2021-08-12 14:23] pbl-ms opened #13515 "Distribute DBeaver with JDK or JRE that includes java.instrument module"
**Is your feature request related to a problem? Please describe.**
Unable to use out-of-the-box DBeaver with custom Java agent since JRE does not include Java instrument module.

**Describe the solution you'd like**
Add Java instrument module to the JRE included or distribute DBeaver with full JDK instead of JRE.

**Describe alternatives you've considered**
Use my own JDK.

[2021-08-12 15:07] rrousselot opened #13516 "Column Selection and Editing"
Please implement the following in the editor.  Notepad++ used as example.

Column Mode & Column Editor
Using Alt + Mouse dragging or Alt + Shift + Arrow keys to switch to column mode:

![image](https://npp-user-manual.org/docs/images/columnMode.gif)

[2021-08-12 19:18] ShadelessFox commented on #13516
It's already implemented: <kbd>Alt+Shift+A</kbd>

[2021-08-12 19:18] #13516 closed, assigned to nobody

[2021-08-13 01:50] acrey1 opened #13518 "Error on Update"
#### System information:
- Operating system (distribution) and version: Win10
- DBeaver version: 21.1.4.202107231409
- Additional extensions: N/A

#### Connection specification:
- Database name and version: N/A
- Driver name: N/A
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
**Error message:**   Missing requirement: DBeaver PostgreSQL Support U

[2021-08-13 06:04] ashokSQLtechi opened #13519 "Cant install DBEAVER exe on windows 10"
- Operating system (distribution) and version: windows 10
- DBeaver version: 21.1.0
- Java version 11
- Additional extensions

![image](https://user-images.githubusercontent.com/88874135/129312152-792a7a6c-0c73-463c-ac1f-67192b8d656f.png)

#### Describe the problem you're observing:

when i tried to install windows enterprise edition it shows installing but never complete.

[2021-08-13 06:04] ashokSQLtechi commented on #13519
plz suggest how to fix this error.

[2021-08-13 07:30] LonwoLonwo commented on #13120
Can you please tell me more about GaussDb? Does it support upper case or mixed case? Why "id" and "name" must be quoted? Are they keywords or reserved words GaussDb? Or they must be quoted because they are in lower case?

[2021-08-13 07:31] tatod commented on #13505
I think I like INSERT ALL option :)

Maybe then it would be better to default that one to avoid generating script which does not work but I leave this up to you to decide. I am fine to close this issue.

[2021-08-13 07:34] #13505 closed, assigned to nobody

[2021-08-13 08:39] archenroot opened #13523 "Redshift generete full DDL: Unsupported vector type: com.amazon.redshift.util.RedshiftObject"
#### System information:
- Operating system (distribution) and version: Gentoo
- DBeaver version -
- Additional extensions

#### Connection specification:
- Database name and version: AWS Redshift
- Driver name: redshift
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: ssh

#### Describe the problem you're observing:
When using generate DDL for Schema in redshift database when I click button co

[2021-08-13 11:40] LonwoLonwo commented on #13523
Hello @archenroot
When DBeaver generates schema DDL it uses DDL from all tables. So the problem is with specific tables.
Can you please find this specific table for example? Its DDL will be very helpful for issue reproducing.

[2021-08-13 11:45] LonwoLonwo commented on #13375
Hello @qiqingli
Thanks for the bug report!

[2021-08-13 12:17] LonwoLonwo commented on #13518
Hello @acrey1
Which version to which version did you want to update?
org.eclipse.gef3 bundle require for PostgreSQL UI plugin only in DBeaver 21.1.5 version, these are fresh changes.

[2021-08-13 12:22] acrey1 commented on #13518
Hi Anastasiya,

I am running the EA version of EE (https://dbeaver.com/files/ea/enterprise/update/dbeaver/).

I am just doing a normal weekly update and getting the error message.

Do I need to install an additional plug-in?

Adam.

[2021-08-13 12:39] kseniiaguzeeva opened #13526 "SQL Server Azure: default schema cannot be changed via UI"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5 EA

#### Connection specification:
- Database name and version SQL Server Azure

#### Steps to reproduce, if exist:
Connect to SQL Server Azure and try to change database in DB Navigator or SQL Editor

**Expected**: the database is changed
**Actual result**: no visible changes

https://user-images

[2021-08-13 12:51] kseniiaguzeeva opened #13527 "SQL Server Azure: table statistics in DB Navigator are not equal to statistics in table properties"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5 EA

#### Connection specification:
- Database name and version SQL Server Azure

#### Steps to reproduce, if exist:
Enable table statistic in DB Navigator and compare it with statistic in the table Metadata Editor.
![dbeaver_ZANUTJVLue](https://user-images.githubusercontent.com/51405061/129359652-

[2021-08-13 13:10] kseniiaguzeeva opened #13528 "SQL Server Azure: The created database cannot be deleted"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5 EA
-
#### Connection specification:
- Database name and version SQL Server Azure

#### Steps to reproduce, if exist:
1. Create a database via UI
2. Delete this database via context menu in Metadata Editor

**Expected**: the created database is deleted
**Actual result**: the created database cannot

[2021-08-13 13:25] kseniiaguzeeva opened #13529 "SQL Server: Source tab is empty in the index properties"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5 EA

#### Connection specification:
- Database name and version: SQL Server Azure
#### Steps to reproduce, if exist:
Open a table clustered index in Metadata Editor

**Expected**: Source tab has Index DDL
**Actual result**: the Source tab is empty.
![dbeaver_wuaK5Era1S](https://user-images.githubus

[2021-08-13 13:47] kseniiaguzeeva commented on #13527
The statistic is displayed in bytes in table properties.

[2021-08-13 13:47] #13527 closed, assigned to nobody

[2021-08-13 13:48] kseniiaguzeeva opened #13530 "SQL Server Azure: database trigger cannot be deleted"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5 EA

#### Connection specification:
- Database name and version: SQL Server Azure

#### Steps to reproduce, if exist:
1. Create a trigger (for example https://www.sqlshack.com/ddl-triggers-in-azure-sql-database/)
2. Delete it via SQL Editor

**Expected**: the trigger is deleted
**Actual result**: t

[2021-08-13 13:51] Matvey16 opened #13531 "Errors when adding new row in record mode"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5

#### Describe the problem you're observing:
IndexOutOfBounds exception when reverting new row in record mode

#### Steps to reproduce, if exist:
1. Select 3 or more non-adjacent rows in grid view and switch to record mode
2. Select the middle record and click `add new row`
3. Cancel changes

**Ex

[2021-08-13 14:11] hufersil opened #13532 "Sybase JTDS / jConnect Problems"
Hi,

Using the version 6 or above of DBeaver  (including the one released on 2021-08-02), I'm unable to connect to Sybase database using jConnect. Using the JTDS driver, I was able to connect, but I faced the problem of this ticket: https://github.com/dbeaver/dbeaver/issues/3528

I tried using jConnect, but in my case I must use the parameter APPLICATIONNAME, but it seems to me that this version i

[2021-08-13 19:04] mantinnne opened #13533 "DBeaver won't open Windows 10"
Hello!
Can you please tell me what is the problem with running dbveawer on windows 10?
I use the installer dbeaver-ce-21.1.4-x86_64-setup.exe but also tried the archive.

Installed java 11 on the system.

Problem: During the first installation, everything starts up, but if you close the application and start it again, the program does not open, but hangs in the system.

Found a problem in the plug

[2021-08-13 19:57] silvershadowcc opened #13534 "DBeaver fails to escape database names properly when setting user grants"
DBeaver Version 21.1.4.202108020335 and MariaDB 5.5 (mysql)

I always used DBeaver for user privileges. Not having changed them in a while I had no idea why I kept getting the error of "SELECT command denied to user..." until examining the grants manually.

DBeaver isn't properly escaping database names (or just underscores) anymore for user privilege grants.

Example when ticking the box Select i

[2021-08-14 17:34] DidierLLanten commented on #2650
--------------------------------------------------------------------------------------------------------------------------------------------
A little guide how do it.
Una pequeña guia de como se hace.

1- [Cambiar Ruta Scripts.docx](https://github.com/dbeaver/dbeaver/files/6986941/Cambiar.Ruta.Scripts.docx)
2- https://dbeaver.com/docs/wiki/Script-Management/

[2021-08-14 18:14] d-01 commented on #10765
Possible workarounds:
1. Use string IDs.
2. For viewing data create VIEW object with integer IDs replaced with values, for editing use source table with integers and foreign keys.

[2021-08-14 18:25] d-01 commented on #76
@AlphaBravo777, did you find an alternative DB manager with drop-down support for FKs?

[2021-08-14 19:26] AlphaBravo777 commented on #76
No, at the moment I am still using dbeaver. It is good on what I ise it for
other wise, so am I living with this inconvenience for the moment.

On Sat, 14 Aug 2021 at 20:25, d-01 ***@***.***> wrote:

[2021-08-15 06:02] deepaksenthilkumar opened #13536 "Redshift: No Schema Binding views column datatypes are inconsistent and length are missing in the navigator"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.4

#### Connection specification:
- Database name and version: Redshift 1.0.29551
- Driver name: https://s3.amazonaws.com/redshift-downloads/drivers/jdbc/1.2.45.1069/RedshiftJDBC42-no-awssdk-1.2.45.1069.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc) SSH

#### Describe the problem you'r

[2021-08-15 09:01] stilliard commented on #4585
The SSHJ extension @serge-rider recommended worked great thanks!

[2021-08-15 10:57] kseniiaguzeeva opened #13537 "Copy as SQL adds N to uniqueidentifier value"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5 EA

#### Connection specification:
- Database name and version SQL Server Azure

#### Steps to reproduce, if exist:
Open a table with a uniqueidentifier column and copy its value in SQL format

**Expected**: the cell value is copied
**Actual result**: N is added to the copied value

![dbeaver_ocxS

[2021-08-15 11:16] kseniiaguzeeva opened #13538 "Copy to clipboard doesn't work for xls format"
#### System information:
- Operating system (distribution) and version Win 10
- DBeaver version 21.1.5

#### Steps to reproduce, if exist:
1. Install office extension
2. Export a table in xls format to clipboard

**Expected**: the data is xopied to clipboard in xls format
**Acual result**: copy to clipboard option is disabled
![dbeaver_QCYidJMIFI](https://user-images.githubusercontent.com/51405061

[2021-08-15 20:41] ShadelessFox commented on #13537
It's a feature. `N` prefix stands for Unicode string literal.

https://docs.microsoft.com/en-us/sql/t-sql/data-types/nchar-and-nvarchar-transact-sql

[2021-08-15 20:41] #13537 closed, assigned to nobody

[2021-08-16 01:15] Laughdie commented on #10133
现在支持达梦数据库和瀚高数据库吗？

[2021-08-16 02:30] cydonialis commented on #13120
@LonwoLonwo

1. [This  is official website of Gaussdb.](https://support.huaweicloud.com/intl/en-us/productdesc-gaussdb/introduction.html)
2. why the column name need to be quoted:
    - The table was created with "Column name case sensitive", and "id"、"name" both are lower case and user defined, there may be another lower case column name like "age" 、"salary" etc. When a "non column name quoted" s

[2021-08-16 02:46] deepaksenthilkumar opened #13542 "Redshift data import issues"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.4

#### Connection specification:
- Database name and version: Redshift 1.0.29551
- Driver name: https://s3.amazonaws.com/redshift-downloads/drivers/jdbc/1.2.45.1069/RedshiftJDBC42-no-awssdk-1.2.45.1069.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc) SSH

#### Describe the problem you'r

[2021-08-16 03:00] deepaksenthilkumar opened #13544 "Redshift Data Editor-Editing of Date/Timestamp columns fails"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.4

#### Connection specification:
- Database name and version: Redshift 1.0.29551
- Driver name: https://s3.amazonaws.com/redshift-downloads/drivers/jdbc/1.2.45.1069/RedshiftJDBC42-no-awssdk-1.2.45.1069.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc) SSH

#### Describe the problem you'r

[2021-08-16 03:04] deepaksenthilkumar commented on #13523
@LonwoLonwo -I have noticed this error earlier. It occurs when the 2.x Redshift JDBC Driver is used instead of 1.x driver as 2.x expects RedshiftObject instead of PostgreObject
@archenroot-What's the JDBC driver used?

[2021-08-16 03:42] netdragonboberb commented on #5008
Installing flatseal worked.

[2021-08-16 03:43] netdragonboberb commented on #10320
Install flatseal as described here https://github.com/dbeaver/dbeaver/issues/5008

[2021-08-16 05:07] prrathamesshloke commented on #5897
@gnowk  's [solution](https://github.com/dbeaver/dbeaver/issues/5897#issuecomment-766161681) works great. In my case I cant switch to other OS as I doubt it will disable my backbit keyboard. At lest it didn't worked when I tried crouton. and Linux beta is pretty stable for my use case. Thank You !

[2021-08-16 06:06] Matvey16 opened #13545 "ERD search works only for table names"
#### System information:
- DBeaver version 21.1.5
- Additional extensions

#### Describe the problem you're observing:
Search function in ER diagrams works only for table/view names and doesn't work for column names.

[2021-08-16 06:08] PENGCHENGLIN007 commented on #12354
Oracle Database 19c Enterprise Edition Release 19.0.0.0.0 - Production

[2021-08-16 06:09] PENGCHENGLIN007 commented on #12354
Oracle Database 19c Enterprise Edition Release 19.0.0.0.0 - Production
DBeaver21.0.3.202104181339

[2021-08-16 06:56] DariaMarkaryan opened #13548 "Can't see connection type until it would be chosen manually"
#### System information:
- Win10, DBeaver CE 21.1.5

#### Connection specification:
 Seen in the SQLite, Vertica, Postgres...

#### Steps to reproduce:
Create new DB connection, click on edit connection in the connection context menu (or press F4). Go to the General tab.
Expected: You can see Development connection type selection in the combo box by default
Actual: The combo box is empty until you

[2021-08-16 07:05] #13408 closed, assigned to nobody

[2021-08-16 07:20] LonwoLonwo commented on #12354
Hello @PENGCHENGLIN007
We have many updates from version 21.0.3
Can you please test new DBeavers versions?
https://dbeaver.io/

[2021-08-16 07:56] Matvey16 opened #13549 "Athena: column header filtering error"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5

#### Connection specification:
- Database name and version Athena

#### Describe the problem you're observing:
Filtering in column header is impossible because of the error.

#### Steps to reproduce, if exist:
1. Open filter in column header
2. Start typing a needed value

**Expected:** Values ar

[2021-08-16 09:24] serge-rider commented on #13145
Fixed in dbeaver/pro#710

[2021-08-16 09:24] #13145 closed, assigned to flambchap

[2021-08-16 09:29] ShadelessFox commented on #13538
It's disabled because XLSX is a binary format. AFAIK excel and other tools accept only text data when pasting from clipboard.

[2021-08-16 09:29] #13538 closed, assigned to nobody

[2021-08-16 09:31] m-ovs commented on #11424
We improved search functionality on our website. Thank you for the report.

[2021-08-16 09:32] #11424 closed, assigned to m-ovs

[2021-08-16 09:41] serge-rider commented on #12730
It is a feature. Grid lines are ugly in dark theme.

[2021-08-16 09:41] #12730 closed, assigned to nobody

[2021-08-16 09:54] serge-rider commented on #11947
It is a standard Eclipse control. Unfortunately we can't affect it's look and feel.

[2021-08-16 09:54] #11947 closed, assigned to nobody

[2021-08-16 09:56] serge-rider commented on #12924
It is another tasks dialog (Eclipse-specific)

[2021-08-16 09:56] #12924 closed, assigned to nobody

[2021-08-16 10:02] serge-rider commented on #12998
Active schema can't be changed in SQL Server and Sybase. It is database system limitation.

[2021-08-16 10:02] #12998 closed, assigned to nobody

[2021-08-16 10:04] serge-rider commented on #12971
We need to add aliases support in H2

[2021-08-16 10:08] selster opened #13552 "DBEAVER with access"
I have the lastest dBeaver, created a simple table in microsoft access, created a new microsoft access connection in dBeaver, it downloaded the lastest driver, I chose my latest database4.accdb file.  (In microsoft access, my table is named "sheet2.")  The test for the connection is 4ms.  The database shows in the dBeaver tree.  But under Tables, when I click on it, no individual tables show.  The

[2021-08-16 10:15] serge-rider commented on #13078
It is not data editor-specific. It works like this in all find/replace contexts.
Perhaps we should change it but we need to change it globally then.

[2021-08-16 11:38] serge-rider commented on #12839
SQL Server doesn't keep session context between queries.

IF you need to execute several queries which declare/refer some variables then you need to execute them as a single query.

Just select your queries in SQL editor and run them with <kbd>ctrl+enter</kbd>.

[2021-08-16 11:54] LonwoLonwo commented on #13471
Fixed for numeric and decimal types.

[2021-08-16 12:00] LonwoLonwo commented on #12888
Implemented in DBeaver 21.2.0
Except "upper, lower". Not so easy to localize settings parameters, unfortunately.

[2021-08-16 12:26] ShadelessFox opened #13553 "Radix Number Formatter: Add option for choosing endianness for `Bits` parameter"
Quoting #13510:

The `Bits` parameters is effectively doing this (in Java): `(0b11110000 & 0b1111) = 0b0000`. That's not the case for some databases that are little-endian and would do `(0b11110000 & 0b1111) = 0b1111` instead. Some may expect this behavior, so let's add an option to toggle between **little-endian** and **big-endian** in radix formatter.

[2021-08-16 12:41] LonwoLonwo commented on #13382
We can't do it for tables without keys.

It works fine for tables with PK.
![V2oCfXnXJ8](https://user-images.githubusercontent.com/45152336/129565313-e10429b4-bf60-46d1-b383-f5eb9d7b176e.gif)

[2021-08-16 12:41] #13382 closed, assigned to LonwoLonwo

[2021-08-16 12:47] serge-rider commented on #13518
It was a corrupted update site.
Now fixed.

Thank you for the bug report 👍

[2021-08-16 12:47] #13518 closed, assigned to serge-rider

[2021-08-16 13:19] saygindogu commented on #2998
Sorry for the huge latency. It seems I'm not able to build the project to start with 😕 And I forgot to update here. If I do not come up with a PR you can assume I'm not working on this for now. Sorry again.

[2021-08-16 13:26] b90g opened #13555 "Debian 21.1.5 wont start"
#### System information:
- Operating system (distribution) and version Debian 11 latest
- DBeaver version 21.1.5
- Additional extensions  mariadb

#### Connection specification:
- Database name and version - not applicable

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

Updating from 21.1.4 to 21.1.5

trying to execute binary.

Binary seem to be lost.

dbeaver doe

[2021-08-16 13:27] b90g commented on #13555
(downgrading to 21.1.4, dbeaver starts again..)

maybe something packaged wrong.

[2021-08-16 13:52] Matvey16 opened #13556 "Wrong mapping for export form MongoDB to MySQL"
#### System information:
- Operating system (distribution) and version WIn10
- DBeaver version 21.1.5

#### Steps to reproduce, if exist:
1. Start export form MongoDB/DocumentsDB to MySQL
2. Look at DDL statement

**Expected:** Varchar columns have length defined in parenthesis
**Actual result:** Length is not defined which leads to syntax error

![dbeaver_tqzcywEEPY](https://user-images.githubuse

[2021-08-16 15:10] serge-rider commented on #13542
It is not Redshift-specific issue. It is a side effect of #7911 fix.

Fixed

[2021-08-16 15:16] serge-rider commented on #13515
Could you say why do you need instrument module?

Workaround: delete folder `jre`in DBeaver installation. Then DBeaver will use system default Java.

[2021-08-16 15:18] serge-rider commented on #13519
Maybe the installer was corrupted during download. Or some local software blocks further installation.
Did you try to download another version? (e.g. 21.0)

[2021-08-16 15:19] serge-rider commented on #13555
Executable `dbeaver` was renamed to `dbeaver-ce` (because of multipel different dbeaver products).

We probably should return `dbeaver` alias for Community version (at least for backward compatibility)

[2021-08-16 15:41] pbl-ms commented on #13515
We use special Java agent for Kerberos authentication under Windows Credential Guard.
It needs Java instrument. It would spare us from changing jre like we do now.

[2021-08-16 15:45] KrzysztofDusko opened #13557 "Netezza Performance Server 'infinity' value is not properly handled"
#### System information:
- Windows 10
- DBeaver 21.1.5.202108160727

#### Connection specification:
- Netezza Performance Server Release 11.2.1.0 [Build 30]
- Driver name : NZJDBC 11.1.0.0.jar

#### Describe the problem you're observing:
run query
[code]
leads to 'org.jkiss.dbeaver.model.exec.DBCException: SQL Error [1019] [HY000]: netezza.res.bad.timestamp ...'
(same with -infinity)

[2021-08-16 15:50] deepaksenthilkumar commented on #13542
Using an upper-case table name "UPPERFILE" and running an import fails, as Redshift stores that as "upperfile" by default still fails. That's a REDSHIFT issue.

[2021-08-16 16:55] TNakagawa3q opened #13558 "Accessing Snowflake via SSO"
#### System information:
- DBeaver version 21.1.5

#### Connection specification:
- Snowflake
- JDBC

#### Describe the problem you're observing:
We have Snowflake SSO configured to use Google as our IDprovider. Logging into Snowflake still seems to require UN/PW. Is there a way around this so that our users don't need to keep UN/PW and just use SSO?

[2021-08-16 20:39] 0xAnasEzz commented on #2770
This is much needed.

[2021-08-16 22:22] deepaksenthilkumar opened #13559 "Security Definer is missing for a Redshift procedure in the Generate SQL>DDL statement"
Create a procedure with a security definer option.

For example below is the code to create a procedure with security definer

CREATE OR REPLACE PROCEDURE sp_truncate_table(in_table_name character varying(256))
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $$
DECLARE
    v_table varchar ;
BEGIN
    v_table:=lower(trim(in_table_name)) ;
    RAISE INFO 'User % truncating table %', v_table ;
    EXECUTE 'tr

[2021-08-17 00:29] p91paul commented on #13382
did you try using jdbc getGeneratedKeys to get values after insert? https://stackoverflow.com/questions/13205031/jdbc-getgeneratedkeys
You should be able to specify which columns you want to get back. It might not work for all drivers, but in theory it's more reliable than a subsequent select by primary key. I use it to get columns generated by triggers on Oracle.

[2021-08-17 01:33] cydonialis commented on #13120
@LonwoLonwo
In addition, Gaussdb is extended from PostgreSql😀

[2021-08-17 01:57] yjd commented on #11891
@serge-rider  @Matvey16

Feedback
The latest version of dbeaver-ce-21.1.5-win32.win32.x86_64.zip has a problem with the save button not being activated.
dbeaver-ce-21.1.4-win32.win32.x86_64.zip Everything is fine

[2021-08-17 03:49] JGKle commented on #6345
Odd, I'm not seeing this - found this issue when searching for the same, as a first-time user, one of the first things I noticed is that it forgets the state of the tree in Database Navigator each & every time I quit.  Using 21.1.5 on Linux. Also tried the settings mentioned above, but it never restores the tree state.

[2021-08-17 04:20] JGKle commented on #12873
I have the same request, but on Linux

[2021-08-17 04:31] JGKle commented on #6345
...After messing with this for awhile, it seems like it only restores the tree if there are no tabs opened. So either you can restore tabs or the tree, but not both...?

[2021-08-17 04:33] JGKle opened #13561 "Remember tree hierarchy even when there are tabs to restore"
Per [this issue](https://github.com/dbeaver/dbeaver/issues/6345), I've found that dbeaver is supposed to restore the expansion state of the navigator tree. However, I've found that it doesn't do so if there are also any tabs to restore. In other words, if I close all tabs before exiting, then the next time I launch, it will properly expand the tree - but if I leave any tabs opened, then I have to

[2021-08-17 05:56] LonwoLonwo commented on #13382
Yep, we use getGeneratedKeys already, thanks. And it works fine. But the table from the topic example has no keys at all.
So I was not entirely correct was in my statement. Not only a PK can be used for the refresh, of course.

[2021-08-17 06:13] pwin0220 commented on #7597
For me it happens when I do an automated creation of Table and Columns, where the source name contains a space in the end of its column name definition "Columnname ", in my case I'm using an excel as rawdata, reading it with (python) pandas df=pd.read_excel and creating the table/columns with df.to_sql.
If the excel sheets columns has a space in the end of the name I will get the "locked" behaviou

[2021-08-17 06:17] b90g commented on #13555
Thenks but when entering `db` and pressing the tab button for autocomplete all debian knew was dbus, searched in /bin, /sbin, /usr/bin, /usr/sbin.

also: is it  a use case to have the community version and the directors cut on the same os installed?

[2021-08-17 06:32] RodSM opened #13562 "Can't edit Athena AWS Driver Properties"
**System information:**
Operating system (distribution) and version - Mac OS Big Sur 11.5.2
DBeaver CE version 21.1.5
Additional extensions

**Connection specification:**
Database name and version AWS Athena
Driver name AWS/Athena
Do you use tunnels or proxies (SSH, SOCKS, etc)? No

**Describe the problem you're observing:**
When attempting to edit values in Driver Properties, a drop-down validati

[2021-08-17 06:57] resquej opened #13563 "Error with xp_cmdshell"
Hi,

After install new version 21.1.5 I get this error, before it works fine.

Error occurred during SQL query execution
Reason:
SQL Error [229] [S0005]: The EXECUTE permission was denied on the object 'xp_cmdshell', database 'mssqlsystemresource', schema 'sys'.

when running:

exec xp_cmdshell 'net use'

thank you

#### System information:
- Windows 10
- 21.1.5

[2021-08-17 07:11] Matvey16 opened #13564 "Sybase: columns from tables in different schemas with the same name merge into both"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5
- Additional extensions

#### Connection specification:
- Database name and version Sybase

#### Description
Issue with [#954](https://github.com/dbeaver/pro/issues/679) feature

#### Steps to reproduce, if exist:
1. Create two tables with the same name in different schemas.
2. Enable `Show all ta

[2021-08-17 07:17] Matvey16 opened #13565 "Can't enable all tables in one list with hide folders"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5
- Additional extensions

#### Steps to reproduce, if exist:
1. Enable `Hide folders` and `Show all tables in a single list` in custom connection view
2. Try to open objects list

**Expected:** List is shown
**Actual:** Error is thrown

![pt7jSjyohv](https://user-images.githubusercontent.com/825430

[2021-08-17 07:24] Matvey16 commented on #13562
Duplicates #13441

[2021-08-17 07:24] #13562 closed, assigned to nobody

[2021-08-17 07:42] Matvey16 commented on #13510
Verified

[2021-08-17 07:42] p91paul commented on #13382
If I understand correctly, you use getGeneratedKeys to get the value of ID and then a primary key select to get Column3, is that right?
What I'm telling is that some jdbc drivers might return Column3 value as well with getGeneratedKeys, if you ask them to. So for those drivers you are fine even without primary key, and the primary key refresh can be used as a fallback only for others.

[2021-08-17 08:29] slade991 opened #13566 "Dbeaver automatically dump database with "--no-data" option"
#### System information:
- Operating system (distribution) and version : Linux arch 5.10.56-1-lts
- DBeaver version : 21.1.4.202108022028

#### Connection specification:
- Database name and version : mysql  Ver 15.1 Distrib 10.3.25-MariaDB
- Driver name ( i'm not sur but it shouldn't be relevant)
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No but it's not a local database remote server is

[2021-08-17 08:56] Matvey16 commented on #12888
Typo "Upsert" instead of "Insert"

![dbeaver_m1gTm87E6Z](https://user-images.githubusercontent.com/82543000/129695788-3f0b779d-79d9-44f5-824d-313bed7953b1.png)

[2021-08-17 09:21] Matvey16 commented on #12888
Expected for newer versions

[2021-08-17 09:21] #12888 closed, assigned to LonwoLonwo, Matvey16

[2021-08-17 12:02] LonwoLonwo commented on #13566
Hello @slade991
Can you please show your Export configuration window?
Can't reproduce it for now.
DBeaver add "--no-data" option only in case then setting "Structure only" enabled.

[2021-08-17 12:39] allipatev opened #13568 "Exasol SQL syntax highlighting"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.3.202107181810
- Additional extensions: no

#### Connection specification:
- Database name and version: Exasol 7.0
- Driver name: EXASolution JDBC Driver 7.0.4
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: no

#### Describe the problem you're observing:

May I ask how DBeaver decides wh

[2021-08-17 12:40] ThaDaVos commented on #13555
Same issue here - after install latest version, any executables are gone... no `dbeaver` and no `dbeaver-ce` on my side

[2021-08-17 12:44] ThaDaVos commented on #13555
@b90g how did you downgrade? I tried `sudo apt-get install dbeaver-ce=21.1.4` but it tells me no version like it exists...

[2021-08-17 12:57] Matvey16 commented on #13471
Verified

[2021-08-17 12:57] #13471 closed, assigned to LonwoLonwo, Matvey16

[2021-08-17 13:10] CSharpRon commented on #13555
@ThaDaVos I was able to downgrade by apt removing dbeaver-ce followed by manually downloading and then installing the .deb for 21.1.4 here
[https://github.com/dbeaver/dbeaver/releases](https://github.com/dbeaver/dbeaver/releases).

[2021-08-17 13:38] Matvey16 opened #13569 "Athena: changing schema in SQL Editor does nothing"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5
- Additional extensions

#### Connection specification:
- Database name and version Athena

#### Describe the problem you're observing:
Queries are always executed on default schema even if it is changed in SQL editor

#### Steps to reproduce, if exist:
1. Change schema in SQL editor to any other

[2021-08-17 14:17] LonwoLonwo commented on #13441
Fixed. Didn't work in BigQuery and Vertica drivers also (which have combo boxes in driver properties).

[2021-08-17 14:43] chriszrc commented on #2648
For anyone else coming here, the option is here:

<img width="616" alt="Screen Shot 2021-08-17 at 11 40 17 AM" src="https://user-images.githubusercontent.com/25695785/129746914-e094a2c5-cc2e-4d9d-a9cd-0f1483d2086d.png">

But the actual table count is in the "Properties" panel, and is only populated when the table is highlighted in the Database Navigator:

<img width="1344" alt="Screen Shot 2021-08

[2021-08-17 15:40] Mark531 commented on #13407
As I told you, nothing was displayed and no log was generated.
I had to reinstall DBeaver to have it work again.

[2021-08-17 15:40] #13407 closed, assigned to nobody

[2021-08-17 16:57] brunobaiano commented on #3710
Good afternoon,
any news in this request?
It would be really good

[2021-08-17 17:04] KrzysztofDusko commented on #10832
worth to mention. Netezza have two modes, Schema on or shema off.

**Schema Off**
[code]
RANDOM_WORD  can be 'admin' ("default" schema name), valid owner, (fake = onther existing user) or **whatever else**
from example above completely valid is
[code]
the theory that it can be owner or "admin" coms probably from behavior of one specific application (Aginity Workbench) but it simply not true, middl

[2021-08-17 17:29] achangs opened #13570 "One-click to turn on/off READ-ONLY setting"
**Is your feature request related to a problem? Please describe.**

I often need to turn this setting on/off, to prevent my clobbering a database by mistake.   Currently, to do this, I need to click several times to "Edit Connection", which is inconvenient.

**Describe the solution you'd like**

Make turning on/off of READ-ONLY into a simple one-click from the right-button pull-down menu.

Admitte

[2021-08-17 17:52] LonwoLonwo commented on #13568
Hello @allipatev
DBeaver gets information about keywords and functions words from the driver directly.

![2021-08-17 20_46_38-DBeaver Ultimate 21 1 5 - _none_Script-54](https://user-images.githubusercontent.com/45152336/129775805-0e3cd942-e228-4b78-bb7b-082606ec5974.png)

But this list can be not so correct, as you can see in the picture. Some words are recognized as functions (blue), some as keyw

[2021-08-17 18:08] LonwoLonwo commented on #13402
Seems to be fixed in https://github.com/dbeaver/dbeaver/issues/13542

[2021-08-17 19:28] rijnhard opened #13571 "Data Transfer on Mysql doesn't handle reserved words correctly"
#### System information:
- Operating system (distribution) and version: Linux mint 20.2
- DBeaver version: Version 21.1.4.202108020335
- Additional extensions: None

#### Connection specification:
- Database name and version: Mysql 5.5 / Mysql 5.6
- Driver name: Mysql 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? yes, SSH

#### Describe the problem you're observing:
Initiate data transfer b

[2021-08-17 20:10] allipatev commented on #13568
Hi @LonwoLonwo .
Thanks for your response!
Could you please also tell which driver method is used for that purpose?

[2021-08-17 23:31] RodSM commented on #13441
Thank you @LonwoLonwo for the fix! Could you please give an estimation when it will be released?

[2021-08-18 03:07] slade991 commented on #13566
Alright,
i must have been utterly blind, i checked the export window 10 times and somehow i missed the "structure only" checkbox.
Sorry to have wasted your time!
Thank you.

[2021-08-18 03:07] #13566 closed, assigned to nobody

[2021-08-18 04:58] LonwoLonwo commented on #13568
Hello @allipatev
I used EXASolution JDBC Driver 7.0.3

[2021-08-18 05:18] LonwoLonwo commented on #13441
Fixed in DBeaver 21.2.0
Will be available [here](https://dbeaver.io/) on 2021-08-30

[2021-08-18 05:20] LonwoLonwo commented on #13571
Hi @rijnhard
Thanks for the bug report.
This is a duplicate of https://github.com/dbeaver/dbeaver/issues/13402
Will be fixed in DBeaver 21.2.0

[2021-08-18 05:20] #13571 closed, assigned to nobody

[2021-08-18 06:03] Matvey16 commented on #13466
Data formatting is still not saved
![Qw6l0g5IIl](https://user-images.githubusercontent.com/82543000/129845959-78124879-3334-4d81-ad6a-189f20d4364c.gif)

[2021-08-18 06:12] Matvey16 commented on #13441
Verified

[2021-08-18 06:12] #13441 closed, assigned to LonwoLonwo, Matvey16

[2021-08-18 06:58] Matvey16 commented on #13542
Verified

[2021-08-18 06:58] #13542 closed, assigned to serge-rider, Matvey16

[2021-08-18 06:58] Matvey16 commented on #13402
Verified

[2021-08-18 06:58] #13402 closed, assigned to serge-rider, Matvey16

[2021-08-18 07:23] allipatev commented on #13568
Hi @LonwoLonwo ,
I mean: does DBeaver call a particular JDBC driver method like java.sql.ResultSet.getMetaData() for that purpose?

[2021-08-18 07:38] LonwoLonwo commented on #13568
DBeaver load functions here https://github.com/dbeaver/dbeaver/blob/47a069fccfea6d041f5ba287c168fc50496ba0fc/plugins/org.jkiss.dbeaver.model/src/org/jkiss/dbeaver/model/impl/jdbc/JDBCSQLDialect.java#L382
from DatabaseMetaData

[2021-08-18 07:41] Matvey16 commented on #13466
Verified

[2021-08-18 07:41] #13466 closed, assigned to serge-rider, Matvey16

[2021-08-18 08:00] LonwoLonwo commented on #13453
Seems to be fixed in #13542

[2021-08-18 08:59] Matvey16 commented on #13453
This issue needs a separate fix, still reproducable

[2021-08-18 09:25] serge-rider commented on #12614
Fixed

[2021-08-18 09:52] serge-rider commented on #13116
Fixed

[2021-08-18 09:58] LonwoLonwo commented on #13557
Thanks for the bug report

[code]

[2021-08-18 09:59] LonwoLonwo commented on #12657
Fixed.

[2021-08-18 10:24] LonwoLonwo commented on #13534
Hello @silvershadowcc

Thanks for the bug report.

Please, can you tell me more about your situation?
At what moment does the error occur?
Why 'system_cfg' must be quoted? My local MySQL (and MariaDB too) can perform this expression:
`GRANT SELECT ON 'system_cfg'.* TO 'user1'@'localhost'`
and
`GRANT SELECT ON system_cfg.* TO 'user1'@'localhost'` too

![2021-08-18 13_12_49-Event](https://user-image

[2021-08-18 10:31] LonwoLonwo commented on #12944
Hello @jppo
Can you please tell me more about how exactly you are connecting to databases in DBeaver?
Video or screenshots can be also very helpful.

[2021-08-18 10:52] Matvey16 commented on #13559
Verified

[2021-08-18 10:52] #13559 closed, assigned to nobody

[2021-08-18 10:55] richard-popham commented on #9836
This is an issue with Postgres not guaranteeing the order without an order by when limit is used.[ Documentation](https://www.postgresql.org/docs/9.5/queries-limit.html) states:

I am currently seeing this issue with tables over 800,000 records.

[2021-08-18 11:18] ShadelessFox commented on #13343
Fixed. The bug was caused by non-ASCII digits that were treated as valid input. We restricted number highlighting just for ASCII 0-9 characters.

Testers, please see https://github.com/dbeaver/dbeaver/issues/11104#issuecomment-790755537 for other test cases

[2021-08-18 11:18] Matvey16 commented on #13490
@mleehayes
Hello, I tried reproducing your issue and seems like expected snowflake behavior. How Dbeaver parses your script is influenced by it's structure and SQL processing properties. Can you show me you r properties for SQL processing

![dbeaver_bYj4YJ3I6s](https://user-images.githubusercontent.com/82543000/129889208-220bf160-94b1-4abe-a9b2-ba62270c3d90.png)

[2021-08-18 11:23] Matvey16 commented on #13493
@plmmihail Can you verify if your issue was fixed or not in latest version 21.1.5

[2021-08-18 11:40] joanbm commented on #13555
Same here, I used to launch DBeaver by running `dbeaver` from a terminal but there is no longer any binary with this or a similar name in my `PATH`.

I can launch DBeaver by running `/usr/share/dbeaver-ce/dbeaver` directly.

[2021-08-18 12:02] Matvey16 commented on #13563
@resquej Hello, can you be more specific, when this happens? Also please attach a log file.

[2021-08-18 12:21] serge-rider commented on #13453
@Matvey16 This bug was fixed in #13542 indeed.
For problem with columns remapping after target database change we need another ticket.

[2021-08-18 12:31] plmmihail commented on #13493
@Matvey16, thanks for a question.
DBeaver 21.1.5, still actual. For Postgres, Oracle and some other DBs generates `NULL`, not `DEFAULT`.
![изображение](https://user-images.githubusercontent.com/75296351/129898380-e5360b5d-6e75-4c25-ad17-eb3abc5008a4.png)

[2021-08-18 12:59] serge-rider commented on #13532
Could you say what Sybase server version do you use?

[2021-08-18 13:08] hufersil commented on #13532
Thanks for replying!

This image is from DBeaver 5.1.6 using Sybase jConnect, which works fine as mentioned before.

![image](https://user-images.githubusercontent.com/2363112/129903108-792d9342-e8c5-413a-af06-dcad3570e7de.png)

[2021-08-18 13:21] DariaMarkaryan opened #13575 "Tooltips for connection types settings"
These two checkboxes in properties for connection types have no tooltips. We need to add them
![image](https://user-images.githubusercontent.com/43252954/129905375-e48a5f31-c4fe-49cf-a48d-57be09fce5a6.png)

[2021-08-18 13:43] Matvey16 commented on #12614
Verified

[2021-08-18 13:43] #12614 closed, assigned to serge-rider, Matvey16

[2021-08-18 14:10] Matvey16 commented on #13343
Verified

[2021-08-18 14:10] #13343 closed, assigned to ShadelessFox

[2021-08-18 14:20] MikePryadko opened #13576 "Bad package for Ubuntu: can't install update"
**OS**: `Ubuntu 20.04.2 LTS x86_64`
**DE**: `Xfce 4.14`
**WM**: `Xfwm4 version 4.14.1 (revision 44809c49)`
At the moment I've:
![image](https://user-images.githubusercontent.com/31248040/129913155-f8520ead-fa65-4940-ba7d-89214babf6f5.png)
Today it offered me to download update (as many times before): I was redirected to browser and automatically started downloading of `dbeaver-ce_21.1.5_amd64.deb`

[2021-08-18 14:30] ShadelessFox commented on #13575
What should these tooltips look like?

[2021-08-18 18:41] deepaksenthilkumar commented on #13544
I was fixing the PostgreDateTimeValueHandler but noticed the Redshift JDBC driver 1.x doesn't work for bind variables with timestamptz. It works for Date, Timestamp but not for timestamptz.

Probably we should have a skip bind value option for data editor too.
@ShadelessFox @serge-rider @LonwoLonwo Thoughts?

Probably just fix date, timestamp at this point...

[2021-08-18 19:54] silvershadowcc commented on #13534
It's not about the quotes, it's about escaping the underscore. DBeaver used to do that, since I set the privileges with DBeaver some time ago. Now it doesn't anymore. When the underscore isn't escaped and I try to SELECT with that user I get the "command denied to user" access violation.

[2021-08-18 22:45] LonwoLonwo commented on #13534
But can you explain to me please, why we need to escape underscores in grant statements?
According to [documentation](https://mariadb.com/kb/en/string-literals/):

And message "command denied to user" - maybe it is more about user privilege restrictions, not syntax error?

[2021-08-19 01:37] 250846434 opened #13577 "mysql DEFAULT_GENERATED on update CURRENT_TIMESTAMP"
#### System information:
- windows 10
- DBeaver version : 21.1.5

#### Connection specification:
- mysql 8
- com.mysql.cj.jdbc.Driver 8.0.17
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
- no.

#### Describe the problem you're observing:

ALTER TABLE `dbName`.`tableName` MODIFY COLUMN update_time timestamp DEFAULT CURRENT_TIMESTAMP DEFAULT_GENERATED on update CURRENT_TIMESTAMP NULL;
#### Step

[2021-08-19 01:48] 250846434 commented on #13577
see the #10797
maybe modify this code?
plugins/org.jkiss.dbeaver.ext.mysql/src/org/jkiss/dbeaver/ext/mysql/edit/MySQLTableColumnManager.java
like this?
[code]

[2021-08-19 05:36] Matvey16 commented on #12657
Verified

[2021-08-19 05:36] #12657 closed, assigned to LonwoLonwo

[2021-08-19 06:02] ahhmedbilal opened #13580 "Teradata: stored procedure not visible in database navigator"
#### System information:
- Operating system (distribution) and version: win 10
- DBeaver version: 21.1.2
- Java version
- Additional extensions

#### Connection specification:
- Database name and version: Teradata 16.20.53.31
- Driver name: Teradata
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
in database navigator and under database name, i ca

[2021-08-19 06:34] Erarshad commented on #4738
is this issue still open

[2021-08-19 06:38] Matvey16 commented on #13576
@MikePryadko Hello. Have you updated DBeaver by executing a *.deb file before? It can be related to our latest fix that let's you have multiple editions of Dbeaver on one machine.

[2021-08-19 06:45] LonwoLonwo commented on #13580
Hello, @ahhmedbilal
Can you please check your connection view settings? Is it advanced/custom?

![2021-08-19 09_41_33-DBeaver 21 1 0 - _PostgreSQL - dvdrental_ Script-33](https://user-images.githubusercontent.com/45152336/130020645-c2703105-532b-4637-b7ca-0ca99b4175f3.png)

And if it is advanced/custom, could you take a screen from Database Navigator Tree, please?
The name/version of the Teradata

[2021-08-19 06:58] Matvey16 commented on #13116
Verified

[2021-08-19 06:58] #13116 closed, assigned to serge-rider, Matvey16

[2021-08-19 06:59] markuman commented on #5601
disable ssl it not a solution. don't do it!

[2021-08-19 07:02] LonwoLonwo commented on #13577
Hello @250846434
Please provide table DDL and clear steps to reproduce.
I can't reproduce it for now.

![2021-08-19 10_01_28-DBeaver Ultimate 21 1 5 - timestamp_default](https://user-images.githubusercontent.com/45152336/130023040-6fecbbf0-f80a-456b-9470-2ffb2a04483c.png)

[2021-08-19 07:03] markuman commented on #5601
[There are three solutions](https://github.com/dbeaver/dbeaver/issues/7620#issuecomment-644328633)

1. Disable server certificate validation checkbox (many DB tools do this implicitly to avoid such problems)
2. Provide all certs (CA, user SSL certificate and its private key -  imo not possible when using aws rds, they provide just one cert bundle )
3. Use MySQL driver

[2021-08-19 07:08] shaoyu0102 commented on #9097
Operating system (distribution) and version: Windows 10
DBeaver version: 21.1.5

Star symbol (*) in right side of file name does not  disappear after saving

[2021-08-19 07:30] Matvey16 commented on #13552
Hello, @selster Sorry, I was not able to reproduce this issue. Is there a chance for you to provide a file that has this issue, so I can try looking what is wrong with it.

[2021-08-19 07:36] selster commented on #13552
First let me clarify my question. If you click on the name of a stash, either left click or right click, I assume it would be a right click. Can you get a URL for that stash, something that I can then paste into OneNote. So that when I go to OneNote, I can click on that URL, and it will take me back to that particular stash? Or maybe it will open all of the web pages inside of that stash? This is

[2021-08-19 07:39] Matvey16 commented on #13533
@mantinnne Hello, thank you for the report. If it is possible can you try to delete DBeaverData folder entirely and reinstall DBever?

[2021-08-19 07:45] Matvey16 commented on #13504
@janiu-001 Hello, Jason. Please provide more information for us to reproduce this issue. Mainly your OS, DBeaver version, Database that you are using. And most importantly steps to reproduce with table DDL if it is possible.

[2021-08-19 07:45] mantinnne commented on #13533
@Matvey16  Hello, Of course, I tried deleting and reinstalling, and DBeaverData try delete

Windows 10 20h2 oc 19042.746

[2021-08-19 07:53] 250846434 commented on #13577
1.create column
[code]
2.modify this column. like this image.
![update ddl error](https://user-images.githubusercontent.com/25220333/130029453-b6ed4410-ad91-405c-bee9-a8a488968f3e.png)

3. got it.
[code]

i submited a PR,I'm not sure if this is correct, I just changed the corresponding method by referring to #10797.

[2021-08-19 07:54] 250846434 commented on #13577
@LonwoLonwo 回复见上方,谢谢!

[2021-08-19 07:56] MikePryadko commented on #13576
Hi @Matvey16 ! Yes, I've used that method few times and all was Ok.

[2021-08-19 08:11] serge-rider commented on #12818
Fixed

[2021-08-19 08:23] Matvey16 commented on #13576
Ok, we will look into that. In the meantime you can update either by removing and reinstalling DBEaver with latest deb package or just use `sudo dpkg -i dbeaver-ce_21.1.5_amd64.deb` to update your current version

[2021-08-19 08:41] Matvey16 commented on #12818
Verified

[2021-08-19 08:41] #12818 closed, assigned to serge-rider

[2021-08-19 08:43] serge-rider commented on #11606
Default navigator settings can be configured in preferences (page Connections).
It works as expected in my env.

[2021-08-19 09:05] tati-kru commented on #13203
Fixed

[2021-08-19 09:05] #13203 closed, assigned to serge-rider, riednyko

[2021-08-19 09:19] serge-rider commented on #12910
Fixed

[2021-08-19 09:33] Nemecsek commented on #13416
@Matvey16,
After disabling date/time formatting it doesn't yet work.

What I expect to import (`date_time` as `timestamptz`):
![desired](https://user-images.githubusercontent.com/25978536/130044981-4ecde2ca-d9fb-440f-ab54-1abe4bfdc3d6.png)

This is how the `date_time` column is imported as `timestamp`:
![timestamp](https://user-images.githubusercontent.com/25978536/130041571-cf026d9c-02b0-4943-ae7

[2021-08-19 09:57] mikaelmockel commented on #13402
Hi,
the issue is still present in the new 21.1.5 version of dbeaver.
Do not close the issue.

[2021-08-19 10:09] Nemecsek commented on #13416
I found a solution on [Stackoverflow: How to change DBeaver timezone / How to stop DBeaver from converting date and time](https://stackoverflow.com/a/67169826/4106261) that I previously missed.

After adding `-Duser.timezone=UTC` to `/usr/share/dbeaver/dbeaver.ini` import is now correct:

![timestamp_new_setting](https://user-images.githubusercontent.com/25978536/130049341-9ada98da-749f-4df8-8ddd-

[2021-08-19 10:46] LonwoLonwo commented on #13402
Hi @mikaelmockel
Issue fixed but will be available only in release 21.2.0 on 2021-08-30 [here](https://dbeaver.io/)
or earlier [here](https://dbeaver.io/files/ea/)

[2021-08-19 10:53] serge-rider commented on #9812
Fixed.

Now we will show network error if network access is unavailable

[2021-08-19 11:18] zeleznypa opened #13581 "ORA-00900 error when create or replace package body with "table.colum%type" internal parameter"
#### System information:
- Operating system (distribution) and version: MacOS 11.5.1
- DBeaver version: 21.1.5
- Additional extensions: No

#### Connection specification:
- Driver name: Oracle ojdbc8:RELEASE [12.2.0.1]

#### Describe the problem you're observing:
Unable to compile the package body when there is a "table.column%type" as internal type.

#### Steps to reproduce, if exist:
When the ta

[2021-08-19 11:39] Matvey16 opened #13582 "Quotation doesn't change in export wizard"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.5

#### Describe the problem you're observing:
Quotation is remembered for initial target database even after it is changed in export wizard

#### Steps to reproduce, if exist:
1. Perform a successful export into a database that uses double quotes for quotations (e.g. PostgreSQL)
2. Start export and

[2021-08-19 11:40] Matvey16 commented on #13453
New ticket with a more complete description created #13582

[2021-08-19 11:40] #13453 closed, assigned to serge-rider

[2021-08-19 11:41] 2-5 commented on #13309
@serge-rider Possible relevant, my Windows regional settings are different from the ones in DBeaver, so maybe DBeaver uses a mix of the two.

![1](https://user-images.githubusercontent.com/3753822/130062454-7bf569d4-9e7c-46fe-a6a9-f6c19d62f361.png)

![2](https://user-images.githubusercontent.com/3753822/130062464-cf8a189b-c32d-4b52-a8b7-df01504c8e06.png)

![3](https://user-images.githubusercontent

[2021-08-19 11:43] LonwoLonwo commented on #13577
Yes, thanks @250846434

[2021-08-19 12:04] ahhmedbilal commented on #13580
Hi,

It was custom. I set it to Advance, now SP are visible.

Thanks

On Thu, Aug 19, 2021 at 9:46 AM Anastasiya ***@***.***> wrote:

[2021-08-19 12:41] gsliskov opened #13583 "Postgres CSV import fails if CSV contains SQL key words (like Date)"
Trying to import:
https://github.com/OxCGRT/covid-policy-tracker/blob/master/data/OxCGRT_latest.csv
fails with error "Can't find target attribute [Date]". Checked with other data, also fails (eg. OWID).

Worked in previous major version. Database table is created as it should.

[2021-08-19 13:32] Matvey16 commented on #9812
Verified

[2021-08-19 13:33] Matvey16 commented on #11606
Verified

[2021-08-19 13:33] #11606 closed, assigned to serge-rider

[2021-08-19 13:44] #13580 closed, assigned to nobody

[2021-08-19 13:48] LonwoLonwo commented on #13583
Hello @gsliskov
Thanks for the bug report!
The problem was solved here https://github.com/dbeaver/dbeaver/issues/13542
Changes will be available in the new version DBeaver 21.2.0 on 2020-08-30.

[2021-08-19 13:48] #13583 closed, assigned to nobody

[2021-08-19 13:52] DariaMarkaryan opened #13585 "Global data formatting: changes are visible only in one of the connections"
#### System information:
- Win10, DBeaver CE 21.1.5

#### Steps to reproduce, if exist:
Find or create 2 cells with numeric(>1000)/time etc. in two connections. Make sure that local formatting is disabled for both of them.
Go to the global formatting settings and change the locale so that it visually differs from the previous one. Apply changes.
Refresh the data in the table that was active when y

[2021-08-19 13:57] Matvey16 commented on #12910
Verified

[2021-08-19 13:57] #12910 closed, assigned to serge-rider

[2021-08-19 14:15] ahhmedbilal opened #13586 "@todo task in SQL Script"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

like in java IDE we can use @todo to add a task for ourselves, in same way, this feature could be added to dbeaver also. while writting a script, some other related task also comes to mind and currently there is no place to record them in

[2021-08-19 15:15] eshirvana opened #13587 "after updating to 21.1.5, It's gone from menu system"
#### System information:
- Linux m Ubuntu 21.04.2
- DBeaver version: 21.1.5.202108160727

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
after updating the snap package , I can't see the application in the menu system.
I only can open the app using terminal.

#### Steps to repr

[2021-08-19 15:50] #9812 closed

[2021-08-19 16:51] flachtiago opened #13589 "Data Export Task: lost output settings"
#### System information:
- Windows 10 Pro
- DBeaver 21.1.3

#### Describe the problem you're observing:
Some configuration items, when editing my Data export task, specifically in Output screen such as Directory, "File name pattern" and "Open output folder at end" are always reset to its default values, even though the values for "outputFolder",  "outputFilePattern" and "openFolderOnFinish" are co

[2021-08-19 19:50] DariaMarkaryan commented on #13575
Something about functionality of these options i guess. There is no confirmation for running regular SQL queries. Perhaps this is a bug and you need to add confirmation when this option is enabled, or its purpose is not clear from its name.

[2021-08-19 20:42] danielreis58 commented on #13587
Same problem here, Ubuntu 20.04.3

[2021-08-19 23:30] barel166 commented on #13133
I can confirm this is still an issue in 21.1.5 when trying to list columns of a table in a Redshift Spectrum schema. This worked fine before.

![image](https://user-images.githubusercontent.com/75643982/130156822-daa3a19b-9daf-42a7-8377-aaa659077e5c.png)

[2021-08-19 23:32] sravikrishna3 commented on #13133
I believe it will be fixed only in 21.2.1 version.

[2021-08-20 02:55] PDMoFan opened #13593 "Blob field content view Chinese garbled characters.(blob内容查看中文乱码)"
Database encoding format（数据库编码格式）:
![image](https://user-images.githubusercontent.com/40638512/130171634-ec01355d-0a06-4dbe-a6d8-8ec48d0a6579.png)
Blob field content view（Blob内容查看）：
![image](https://user-images.githubusercontent.com/40638512/130171921-e9bbc13d-e11c-4a5f-988e-66eab182ddf3.png)

[2021-08-20 03:01] PDMoFan commented on #13593
表的字符集和字段的类型：
![image](https://user-images.githubusercontent.com/40638512/130172556-e62e9821-b20d-47ad-ad0b-ebba4554577c.png)

[2021-08-20 03:02] janiu-001 commented on #13504
OS: mac catalina
dbeaver: the latest master branch

i also have the same problem on the windows system.

Do you have a try to click ""Export Product export Wizard" in the view tab?It should be reproduced easily

[2021-08-20 03:02] PDMoFan commented on #13593
The character set and field type of the table（表的字符集和字段的类型）：
![表字符集](https://user-images.githubusercontent.com/40638512/130172678-a74dd0dd-59ca-41d1-8378-a572630caa9b.png)

[2021-08-20 03:19] PDMoFan commented on #13593
The database above is Mariadb. This is the Oracle database. Is the same Chinese garbled code.（上面的数据库是mariadb。下面这个是oracle数据库。也是一样的中文乱码。）
![image](https://user-images.githubusercontent.com/40638512/130173820-107b99bb-a49b-4196-9117-050659aed11a.png)
Table Spaces and field types（表空间和字段类型）：
![image](https://user-images.githubusercontent.com/40638512/130173653-065dfaa1-b1a8-4d8e-b6b4-6c0ac1cba51d.png)

[2021-08-20 03:19] GitHubAFeng opened #13594 "TOP cannot be used as an OFFSET"
#### System information:
- Operating system (distribution) and version
- win10-64
- DBeaver version
- 21.1.5.202108160727
- Additional extensions
- none

#### Connection specification:
- Database name and version
- MS SQL Server 2017
- Driver name
- MS SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
- none

#### Describe the problem you're observing:

run the sql:

SELECT * FROM sys.

[2021-08-20 06:40] Matvey16 commented on #13493
@plmmihail Can you provide a DDL for table in your example, so I can try reproducing it?
You have two issues in your initual post. A ticket for the first one is already created and we are thinking on the solution, but I want a DDL to reproduce the second one.

[2021-08-20 07:00] Matvey16 commented on #13504
@janiu-001 I still can't understand the exect steps. Do you mean you are exporting data from data view? If so, I need to know what is a target of your export. Another database or a file (csv, xml etc.)? It will be good to know what type of columns are you trying to export. And I can't understand what "Allow for binary cycles in target platform" means. If you are using Dbeave in non-english languag

[2021-08-20 07:20] Stollie commented on #13587
Same issue as described here #13138

Log message with this version:
[code]

[2021-08-20 07:40] LonwoLonwo commented on #13493
We added support of "INSERT DEFAULT VALUES" in the previous release, yes https://github.com/dbeaver/dbeaver/issues/12786
But this expression doesn't work in Oracle.
And we do not support statements like "INSERT INTO tableName VALUES (DEFAULT, DEFAULT)" for now. It can be a feature request.
Maybe we will fix it in this ticket: https://github.com/dbeaver/dbeaver/issues/13359

and about:

We can't re

[2021-08-20 09:50] serge-rider opened #13596 "Oceanbase plugin development"
Most job was done by  @LuckyLeoZZ in https://github.com/dbeaver/dbeaver/pull/13449

[2021-08-20 09:51] LonwoLonwo commented on #12676
Export with enabled setting "Selected columns only" and columns with equals names fixed in DBeaver 21.2.0 .

[2021-08-20 10:08] plmmihail commented on #13493
To @Matvey16
Thanks for reproducing of the first error.

My DDL for Oracle with DEFAULT date is
[code]
In Postgres there is function `CURRENT_DATE`, no need `TRUNC(SYSDATE)`.
Let's try to reproduce the situation after insert default we have NULL in corresponding cell, not real data.

[2021-08-20 10:15] plmmihail opened #13598 "INSERT and UPDATE with DEFAULT in Oracle and some other DBs."
**Is your feature request related to a problem? Please describe.**
No support for INSERT INTO ... (...) VALUES (v1, DEFAULT, v2, v3, DEFAULT, v4 ... ) in Oracle
See context in https://github.com/dbeaver/dbeaver/issues/13493#issuecomment-902500177

**Describe the solution you'd like**
Behavior by SQL standard.

**Describe alternatives you've considered**
No

**Additional context**
No

[2021-08-20 10:16] plmmihail commented on #13359
This ticket corresponds to a part of problem from https://github.com/dbeaver/dbeaver/issues/13598

[2021-08-20 10:29] serge-rider commented on #13596
@LuckyLeoZZ new plugin merged in devel. It is ready to be inbcluded in release cycle. However there are several issues with it:
- No driver jars specified. It is not clear where to get them. Perfect solution would be to specify some Maven artifact in driver config. Or some https download link at least. We usually do not add new database extensions without drivers because for end users it is hard t

[2021-08-20 10:32] plmmihail commented on #13493
To @LonwoLonwo : thanks for clarification.

In this cases (it's not often) DBeaver can use unusual background colour for the cell with default value with non copyable message "Need manual refreshing" or something similar.

[2021-08-20 10:48] narasimhajupally commented on #13587
facing same issue. using terminal to launch the application

[2021-08-20 11:51] perbergstrand commented on #13587
Same issue, on Ubuntu 21.04.
DBeaver .desktop file missing in /var/lib/snapd/desktop/applications

[2021-08-20 11:56] DariaMarkaryan opened #13599 "Shortcut for activation of pattern editing in Data Formatting"
This editable field activates only by double click. It would be great to have a shortcut for such of fields
![image](https://user-images.githubusercontent.com/43252954/130229094-06feb2db-10c9-46e5-a2b8-56b1230838d5.png)

[2021-08-20 12:38] riednyko commented on #13587
Thank you for the bug report.
We just updated Snap package, please test it

[2021-08-20 13:40] Matvey16 opened #13601 "Mock data generation NPE"
#### Steps to reproduce, if exist:
Start mock data generation

**Actual result:** NPE is thrown and data can't be generated

![dbeaver_HCFQbiC8c2](https://user-images.githubusercontent.com/82543000/130242113-7557462d-3443-47e0-b9a9-d1ca390430ae.png)

[2021-08-20 13:51] serge-rider commented on #13601
Fixed

[2021-08-20 13:52] LonwoLonwo commented on #13301
Fixed in DBeaver 21.2.0

[2021-08-20 14:01] eshirvana commented on #13587
worked for , have to remove and install it again.

[2021-08-20 14:01] #13587 closed, assigned to nobody

[2021-08-20 15:16] mleehayes commented on #13490
Here's the screenshot:

![SQL_processing](https://user-images.githubusercontent.com/73184896/130254770-aca46d75-963a-49ff-8000-8c50fc2d5e45.jpg)

I guess I wasn't clear on the issue.  Snowflake supports JavaScript as it's stored procedure language.  The forward slash characters are line comments in the stored procedure and are ignored by Snowflake.  The problem as I see it is that DBeaver is inter

[2021-08-20 15:22] LonwoLonwo commented on #13230
![2021-08-20 12_43_24-Window](https://user-images.githubusercontent.com/45152336/130256046-107918ad-5de8-4077-b0a3-241a98d5b711.png)

Fixed. Few more pixels on top were added.

[2021-08-20 15:24] LonwoLonwo commented on #13095
Fixed. Also, the connection filter changed.
Pictures are here https://github.com/dbeaver/dbeaver/pull/13590

[2021-08-20 15:26] Matvey16 commented on #13498
@deepaksenthilkumar Something went wrong because with this option toggled on, only one row is inserted millions of times
![6B53Kp6xbx](https://user-images.githubusercontent.com/82543000/130256525-7468521e-82d0-4196-8285-599e3fb83972.gif)

[2021-08-20 15:26] Matvey16 commented on #13601
Verified

[2021-08-20 15:26] #13601 closed, assigned to serge-rider

[2021-08-20 15:59] ShadelessFox commented on #13593
@PDMoFan thanks for bug report, but please translate your comments to English.

[2021-08-20 16:14] serge-rider commented on #13498
Fixed.
Note: multi-row mode and value binding are independent parameters now.

Binding disable + big multi-row value increases data transfer performance dramatically.

[2021-08-20 17:55] drees commented on #13587
Same here, also had to remove/install again. I ended up losing my workspace settings, had to restore from backup.

[2021-08-21 08:10] MikePryadko commented on #13576
@Matvey16 thanks for the advice, but my current version works fine so I prefer to wait yours fix and then test it :sunglasses: I think it's right: I've got the problem and I'll report it fixed. :relieved:

[2021-08-21 08:49] Gitog commented on #13289
Getting same error "Event loop Exception,Java heap space, Unhanded Event loop exception". Im using version 21.1.5

[2021-08-21 18:19] deepaksenthilkumar opened #13606 "Redshift specific functions and keywords aren't highlighted in a different color"
**Is your feature request related to a problem? Please describe.**
Some of the Redshift-specific functions, keywords are not indicated in a different color in the SQL editor.

Some of the examples are:
"SYSDATE"
"COPY",
"DATASHARE",
"LIBRARY",
"MATERIALIZED",
"MODEL",
"REFRESH",
"UNLOAD",
"VACUUM"
"NVL",
"NVL2"
**Describe the solution you'd like**
We can add PostgreDialect to support Redshift-spec

[2021-08-21 23:14] glmarsh opened #13608 "Native Client missing -"
#### System information:
- Operating system : Ubuntu 21.04
- DBeaver version  :  21.1.5.202108160727
- Java version        :  1.8.0_221
- Additional extensions

#### Connection specification:
- Database name and version  :  MySQL community version 8.0.26
- Driver name                           :  mysql connector/J8.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you

[2021-08-22 01:11] deepaksenthilkumar commented on #13498
I noticed the bug. Thanks @serge-rider for fixing it, but using replace of ? is 6x slower during the replace. I will work on appending it to stringbuilder directly.

[2021-08-22 02:51] LuckyPickleZZ commented on #13596
@serge-rider Thank you very much. For these questions you said, I 'll make improvements in the near future.
And I would like to tell you that I maybe request for a PR for OB oracle mode. Sorry for increasing the workload of review for you.

[2021-08-22 02:51] LuckyLeoZZ commented on #13596
@serge-rider Thank you very much. For these questions you said, I 'll make improvements in the near future.
And I would like to tell you that I maybe request for a PR for OB oracle mode. Sorry for increasing the workload of review for you.

[2021-08-22 05:55] deepaksenthilkumar commented on #13498
Submitted the PR for a faster/accurate version of skip bind values. Thanks @Matvey16  for finding the issue!

[2021-08-22 06:02] deepaksenthilkumar opened #13611 "In Redshift, during data import the column length has to be based on the byte length/octet length for string columns instead of length of the columns."
**Is your feature request related to a problem? Please describe.**
In Redshift, during data import, the column length has to be based on the byte length/octet length for string columns instead of the length of the columns.

**Describe the solution you'd like**
Calculate byte length and use if for field lengths.

[2021-08-22 06:02] deepaksenthilkumar commented on #13611
@ShadelessFox Any suggestion on where to start. Is this configurable by database?

[2021-08-22 06:47] serge-rider commented on #13498
Umm, from my expirience 99% of time it spends in insert itself and in network operations. Optimizing StringBuilder operations doesn't make much sense.

My concern is that we have a lot of different modes (batch, single/multi row, disabled bindings, databases which don't support batches, etc). All these cases must be tested.

[2021-08-22 10:00] c384795430 opened #13612 "After updating mysql COMMENT, the query is still the old commit message"
![image](https://user-images.githubusercontent.com/88574668/130350825-1c6d07a1-2d1c-44de-899f-4b69e27552c4.png)

DBeaver  version：21.1.0.202106090921

[2021-08-22 10:28] ShadelessFox commented on #13611
I'm not sure what you're talking about. You're talking about the case when you import data to non-existing table in Redshift?

[2021-08-22 10:31] deepaksenthilkumar commented on #13611
Yes.

[2021-08-22 10:31] c384795430 opened #13613 "There is no automatic prompt when entering the mysql keyword, example ：left join ."
Does anyone know how to do it?

[2021-08-22 10:38] ShadelessFox commented on #13611
The target column's length is determined using the source attribute's length. Unfortunately it's a generic code and it can't handle such specific cases. You still can take look at it and maybe add yet another function to `SQLDialect`.

[2021-08-22 10:39] deepaksenthilkumar commented on #13498
In this case, the slowness is because of how the replace method internally works vs. just append. I measured timing and it was just doing replace for 50-70 seconds for every run (100k multirow insert size)

I had the same concern and tested all the below options as I didn't want to break anything.

These are the options that I tested.
1. Single record (multirow insert+no skip bind value, disable b

[2021-08-22 10:39] #13613 closed, assigned to nobody

[2021-08-22 10:55] deepaksenthilkumar commented on #13611
Can you point me to where the length is calculated now, I will see if we can modify the SQLDialect for Redshift.

[2021-08-22 11:19] ShadelessFox commented on #13611
Sure, see `DBStructUtils#mapTargetDataType`.

[2021-08-22 11:51] SenCodeMaker commented on #6640
Still having this issue, tried all the solution exports, im-config set to cvjks and then set to ibus, back to default, login/logout at each time still having no handles error. Also tried to downgrade from 21.1.5 to 21.0.5 or 7.3.5 no one is working. I'm on ubuntu 16 LTS this is the logs:

!ENTRY org.eclipse.ui 4 0 2021-08-21 23:08:37.581
!MESSAGE Unhandled event loop exception
!STACK 0
org.eclipse

[2021-08-22 17:19] deepaksenthilkumar commented on #13611
Made it generic, as it might benefit any other database that needs to use this option.

[2021-08-22 18:30] JeroenNienhuis opened #13616 "erroneous sql when first part of a record filter is entered manually and the second part graphically"
#### System information:
- Operating system Windows
- DBeaver version 21.1.4

#### Describe the problem you're observing:
Records in the datagrid can be filtered. The filter settings can be entered by using the graphical interface and through manual input. When a filter is based on 2 fields the total filter string is a concatenation with " AND " as a separator, e.g.
(project_id IN (29)) AND (year

[2021-08-22 21:23] jayDee-fit commented on #13309
I'm having the same issue, but my colleague isn't.
I'm using Version 21.1.5.202108160727 and he's using Version 7.2.0.202008302047 (unfortunately that's probably not all that helpful, as that's quite a lot of difference in versions).
It's only in the presentation of the numbers on screen, they show to 3 decimal places even though they're stored to 5 decimal places in the database.  No amount of pl

[2021-08-22 21:27] silvershadowcc commented on #13534
All I know is that DBeaver used to escape the underscore, so I was able to use DBeaver to set privileges, now it doesn't escape them anymore and I get this error. When I manually set the privileges with escaped underscore it works.

[2021-08-22 21:35] silvershadowcc commented on #13534
Reference
```The _ and % wildcards are permitted when specifying database names in GRANT statements that grant privileges at the database level (GRANT ... ON db_name.*). This means, for example, that to use a _ character as part of a database name, specify it using the \ escape character as \_ in the GRANT statement, to prevent the user from being able to access additional databases matching the w

[2021-08-23 02:12] ShadelessFox commented on #13616
Thanks for the bug report

[2021-08-23 06:24] perry-mitchell opened #13617 "Menu bar in SQL script results not clickable after upgrade to 21.1.5"
#### System information:
- Ubuntu 21.04
- DBeaver 21.1.5
- No additional extensions

#### Connection specification:
- MySQL
- No tunnels or proxies (local database)

#### Describe the problem you're observing:

After upgrading to 21.1.5 from 21.0.4, the menu bar below the results pane when entering custom SQL queries doesn't accept mouse clicks. Hints still appear when hovering, but the buttons do

[2021-08-23 07:18] DariaMarkaryan opened #13618 "Data formatting settings from db context menu and from table settings aren't synchronized"
#### System information:
- Win10, DBeaver 21.1.5

#### Describe the problem you're observing:
Can't change formatting though context menu
#### Steps to reproduce:
Open table with float numbers
Set local language settings through settings button
Change local language settings through database menu. Select language, for which format of numbers will look different
Reconnect
Check how the numbers and

[2021-08-23 07:36] uslss commented on #13608
#10320

[2021-08-23 07:39] uslss commented on #13301
verified

[2021-08-23 07:39] #13301 closed, assigned to uslss, LonwoLonwo

[2021-08-23 07:40] SSSDNSY opened #13619 "“连接名称” 放在 常规配置"
![image](https://user-images.githubusercontent.com/15624361/130409226-9037fce7-2a6e-4539-a0ca-faea08508a69.png)
**Describe the solution you'd like**
配置“连接名称” 这个配置应该放在常规配置里面，而不是点开菜单。对于其他的客户端软件，这个是跟数据库url,用户，密码 在同一个窗口的，dbeaver还得多点一下。期待优化这个。

[2021-08-23 07:41] SSSDNSY commented on #13619
Configure Connection Name This configuration should be placed in the general configuration, not in the open menu.For other client software, this is in the same window as the database url, user, password, dbeaver a little more.Look forward to optimizing this.

[2021-08-23 07:47] ahhmedbilal opened #13620 "Advance copy feature not working correctly in "Schema properties" view"
#### System information:
- Operating system (distribution) and version win 10
- DBeaver version 21.1.2
- Additional extensions

#### Connection specification:
- Database name and version teradata 16.20
- Driver name teradata jdbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
The advance copy feature in schema properties does not copy the correct

[2021-08-23 07:57] Matvey16 commented on #13095
Verified

[2021-08-23 07:57] #13095 closed, assigned to LonwoLonwo, Matvey16

[2021-08-23 08:00] Matvey16 commented on #13230
Verified

[2021-08-23 08:00] #13230 closed, assigned to LonwoLonwo, Matvey16

[2021-08-23 08:06] uslss commented on #13577
verified

[2021-08-23 08:06] #13577 closed, assigned to serge-rider, uslss

[2021-08-23 08:09] uslss commented on #13606
verified

[2021-08-23 08:09] #13606 closed, assigned to uslss

[2021-08-23 08:12] uslss commented on #13620
thanks for the report
closed as a duplicate of #9252

[2021-08-23 08:12] #13620 closed, assigned to nobody

[2021-08-23 08:17] uslss commented on #13619
will be implemented in the scope of #13127
thanks for the suggestion

[2021-08-23 08:17] #13619 closed, assigned to nobody

[2021-08-23 08:24] uslss commented on #13594
thank you for the report

[2021-08-23 08:27] uslss commented on #13612
thanks for the report

[2021-08-23 08:31] uslss commented on #13589
thanks for the report

[2021-08-23 08:43] Matvey16 commented on #13477
Another wrong DDL is generated `GRANT ALL ON TABLE public.users TO group "\""test group2\""";`

[2021-08-23 08:50] uslss commented on #13037
there is no update on issue for a long time.
If it is still actual - feel free to reopen it with an additional info that will help to reproduce an issue.

[2021-08-23 08:50] #13037 closed, assigned to nobody

[2021-08-23 08:51] uslss commented on #12993
there is no update on issue for a long time.
If it is still actual - feel free to reopen it with an additional info that will help to reproduce an issue.

[2021-08-23 08:51] #12993 closed, assigned to nobody

[2021-08-23 08:52] uslss commented on #13199
there is no update on issue for a long time.
If it is still actual - feel free to reopen it with additional info that will help to reproduce an issue.

[2021-08-23 08:52] #13199 closed, assigned to nobody

[2021-08-23 08:53] uslss commented on #13093
there is no update on issue for a long time.
If it is still actual - feel free to reopen it with additional info that will help to reproduce an issue.

[2021-08-23 08:53] #13093 closed, assigned to nobody

[2021-08-23 08:55] Matvey16 opened #13622 "Can't skip columns in export if they have the same name"
#### System information:
- Operating system (distribution) and version WIn10
- DBeaver version 21.1.5

#### Steps to reproduce, if exist:
1. Run a query to get a result where columns have the same name e. g. `select 1 as "column", 2 as "column", 3 as "column"`
2. Start export and set some of the columns to be skipped

**Expected:** Only selected columns are exported
**Actual:** All columns are exp

[2021-08-23 08:55] Matvey16 commented on #12676
Verified
Need to fix another issue with same-named columns #13622

[2021-08-23 08:55] #12676 closed, assigned to LonwoLonwo, Matvey16

[2021-08-23 09:03] #12887 closed, assigned to nobody

[2021-08-23 09:08] janiu-001 commented on #13504
![1](https://user-images.githubusercontent.com/19970581/130421223-c021d1a8-dba8-4640-a957-4fdb404bc353.png)
![2](https://user-images.githubusercontent.com/19970581/130421250-b171aea0-5db7-4ba8-9073-ac7b86decdae.png)
![3](https://user-images.githubusercontent.com/19970581/130421279-81313945-bc1b-428e-8a70-9fdd22f63879.png)

Please check the attached image, the first two images are my procedure, the

[2021-08-23 10:32] isantolin opened #13626 "GNOME 3.38 runtime no longer supported"
#### System information:
- Operating system (distribution) and version: Fedora 34
- DBeaver version: 21.1.4 (Flatpak)
- Additional extensions: No

#### Connection specification:
- Database name and version: No related
- Driver name: No related
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No related

#### Describe the problem you're observing:
I tried to update using flatpak and the following

[2021-08-23 10:40] drfugazi commented on #13542
I have the same issue with MySQL to SQLite export/import. On 21.1.4 and 21.1.5, rollback to 21.1.3 works fine as workaround.

[2021-08-23 10:58] LonwoLonwo commented on #13534
Ok, thanks for the bug report.

[2021-08-23 11:05] plmmihail opened #13627 "Error during saving changes in view with comments (Oracle)"
#### System information:
- Operating system (distribution) and version
Linux Mint, Fedora
- DBeaver version
2.1.5
- Additional extensions
No
#### Connection specification:
- Database name and version
Oracle 10i
- Driver name
Maven artifact from DBeaver's collection
![изображение](https://user-images.githubusercontent.com/75296351/130436022-5e592e48-34ba-44c2-bfba-03c2c4cd8cd2.png)

- Do you use tu

[2021-08-23 11:35] serge-rider commented on #12869
JNA added to driver dependencies

[2021-08-23 11:38] serge-rider opened #13629 "SQL Server driver, MFA, MacOS"
1. We need to upgrade SQL Server driver
2. We need to ensure that MFA authentication (browser-based) works on MacOS and Linux.

[2021-08-23 11:40] deepaksenthilkumar commented on #13477
Is that an existing, but different issue?--
SD

[2021-08-23 11:56] serge-rider commented on #13582
Fixed

[2021-08-23 11:57] Matvey16 commented on #13498
Verified.
1.2 million rows imported in 6 minutes

[2021-08-23 11:57] #13498 closed, assigned to serge-rider, Matvey16

[2021-08-23 11:59] deepaksenthilkumar commented on #13498
Try importing with 3 columns. It increases to 18 minutes? That’s where the
fix I added  (see pull request) comes into picture. --
SD

[2021-08-23 12:36] serge-rider commented on #13477
Fixed

[2021-08-23 12:55] ShadelessFox commented on #13034
Done:

![java_yShr92tHTw](https://user-images.githubusercontent.com/35821147/130430220-a582d0b8-42f3-4f24-b530-575e962095b3.png)

![image](https://user-images.githubusercontent.com/35821147/130430148-e43d8488-36bb-4815-adde-2ecee5827597.png)

[2021-08-23 13:29] Matvey16 commented on #13309
I can reproduce it
![Elc0aSEEXm](https://user-images.githubusercontent.com/82543000/130455675-f288770e-265a-4ba6-95a7-b17553138783.gif)

[2021-08-23 13:37] Matvey16 commented on #13477
Still not as expected, one quote just moved to the beginning of `group` keyword
[code]

[2021-08-23 14:04] Matvey16 commented on #12882
Verified

[2021-08-23 14:04] #12882 closed, assigned to ShadelessFox, Matvey16

[2021-08-23 14:24] LonwoLonwo commented on #13627
Thanks for the bug report.

[2021-08-23 15:13] LonwoLonwo commented on #13627
We need to execute this type of statement as a script in databases, whose do not support multi-statement execution.

[2021-08-23 15:15] LonwoLonwo commented on #13627
@plmmihail
As a workaround, you can change the DDL form to compact and then change the view declarartion.

![2021-08-23 18_14_03-DBeaver Enterprise 21 1 5 - TESTCOMMENT](https://user-images.githubusercontent.com/45152336/130472471-abd993e0-da5e-4687-a8ba-8e333beb75ed.png)

[2021-08-23 15:51] LonwoLonwo commented on #13004
Fixed in DBeaver 21.2.0

[2021-08-23 18:43] bstempi opened #13635 "Unable to Connect to Redshift/StrongDM"
#### System information:
- Operating system: OSX Catalina 10.15.7
- DBeaver version: 21.1.2.202107041908

#### Connection specification:
- Database: Amazon Redshift
- Driver name: RedshiftJDBC42-no-awssdk-1.2.45.1069.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: StrongDM

At my current place of work, we use a tool called StrongDM to connect to our Redshift clusters. In short, I start and

[2021-08-23 19:10] deepaksenthilkumar opened #13636 "Enablement of Fetch all rows button is broken in 21.1.5, It works in 21.1.4"
Create a table temp_test_1 with 1 column col1 and 2000 rows, all the records have data as 1 for testing purposes.

Open a new editor and run select * from temp_test_1.

Data Editor preferences (in case you need)
![image](https://user-images.githubusercontent.com/36084950/130503805-320dc191-36d5-4da0-8b5a-1e5b1cf02fa3.png)

21.1.4
Fetch all rows is enabled
![image](https://user-images.githubusercon

[2021-08-23 21:36] LonwoLonwo commented on #13534
So, I've tried to implement your syntax, but it doesn't work. Not in MySQL 8.0, not in MariaDB 10.2.

![2021-08-24 00_33_48-DBeaver Headless Test Application 1 0 5 - test12053@%](https://user-images.githubusercontent.com/45152336/130522553-c7b3ba46-93c2-4442-b9a8-8fddb9b5131e.png)

[2021-08-24 03:01] yenaikafei opened #13637 "Can't open entity 'xxx' Reason：472718807"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.4.4
- Additional extensions

#### Connection specification:
- Database name and version aliyun-mysql select @@version:5.7.30-log
- Driver name mysql:mysql-connector-java:RELEASE[8.0.17]
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  NO

#### Describe the problem you're observing:
double click dat

[2021-08-24 03:41] ayan84 opened #13638 "Mark Code Block Scope"
I have become a fan of dbeaver over the last 8 months. I started it for PostgreSQL, but now I use it with MSSQL, MYSQL also. I still find some lack of features which will improve its usability a great deal.
When I work with a large and complex script, the lack of scope selection makes it a little difficult for me. Such as, I attached here two screenshots, one from SSMS and the other from dBeaver,

[2021-08-24 03:53] ayan84 commented on #13533
WIndows denfender has a feature called Controlled Folder Access. Turn it off from Defender or allow dbeaver to see if your problem gone.

[2021-08-24 07:22] TsunamiHandia opened #13643 "Issue during import from .csv"
Since version 21.1.4, during import from .csv, an error occurs, the application informs that it can't access to a field in the table, but that field is skipped. I test this in 21.1.4 and 21.1.5. Now I reinstalled version 21.1.3, here the import functionality works fine.

[2021-08-24 07:55] LonwoLonwo commented on #13643
Hello @TsunamiHandia

Maybe here is one of your cases?
https://github.com/dbeaver/dbeaver/issues/13402
https://github.com/dbeaver/dbeaver/issues/13542

[2021-08-24 07:56] LonwoLonwo commented on #13643
If not - please, tell us more about your OS, data transfer settings, file example, and table DDL example. Screens will be also very helpful.

[2021-08-24 07:59] Matvey16 commented on #12460
Verified

[2021-08-24 07:59] #12460 closed, assigned to ShadelessFox, Matvey16

[2021-08-24 08:16] Matvey16 opened #13644 "Global tables filter refreshes only one schema"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.5

#### Describe the problem you're observing:
Applying global filter for table automatically refreshes only one schema, for filters to apply to other schemas they need to be refreshed manually

#### Steps to reproduce, if exist:
1. Expand Tables folder in DB Navigator and select **Filter** in a tab

[2021-08-24 08:22] LonwoLonwo commented on #13636
Thanks for the bug report!
As I can see, buttons will be available if you click on the object in the Navigator Tree, for example.

[2021-08-24 08:24] uslss commented on #13637
@yenaikafei please, provide [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)

[2021-08-24 08:30] uslss commented on #13637
also, please try to[ reset workspace](https://github.com/dbeaver/dbeaver/wiki/Reset-workspace)

[2021-08-24 08:40] serge-rider commented on #13636
It is side effect of #12532 fix. Reverted.

[2021-08-24 08:41] serge-rider commented on #12464
See #13636

[2021-08-24 09:06] uslss commented on #13617
thanks for the report
duplicates #13636

[2021-08-24 09:06] #13617 closed, assigned to nobody

[2021-08-24 09:08] tony352 opened #13646 "Unable to select DBeaver CE as default app in Windows 10"
#### System information:
- Operating system (distribution) and version:   Windows 10
- DBeaver version:  DBeaver 21.1.0.202106032102
- Additional extensions

#### Describe the problem you're observing:
When I click on an .sql file, my PC opens up another application to open these.  I would like to use DBeaver as my default application.  However, Windows doesn't give me this option.

#### Steps to

[2021-08-24 09:16] uslss commented on #13034
verified

[2021-08-24 09:16] #13034 closed, assigned to uslss, ShadelessFox

[2021-08-24 09:17] LonwoLonwo commented on #13004
Fixed.

[2021-08-24 09:21] uslss opened #13647 "Incorrect wizard is opened on click on create index button in the toolbar"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.5

#### Describe the problem you're observing:
Incorrect wizard is opened on click on create index button in the toolbar if index column is selected
Index column is selected:
![image](https://user-images.githubusercontent.com/31996417/130591537-9ba4ea98-999f-4cb8-a515-becc5a5c940d.png)
Index is sele

[2021-08-24 09:25] serge-rider commented on #13477
Fixed. Roles names are stored in quoted and escaped form.

Please test it in PostgreSQL as well.

[2021-08-24 09:47] JBSP-code opened #13648 "HANA SQL: CASE WHEN in DO BEGIN … END statements"
I'm getting an error when using a CASE WHEN expression in a DO BEGIN ... END statement using a SAP HANA database. Using HANA Modeler for Eclipse does not throw an error.

Works:
[code]

Works:
[code]

Doesn't work:
[code]

Error message:
[code]

Thank you for your help.

[2021-08-24 09:56] Matvey16 commented on #13477
Verified

[2021-08-24 09:56] #13477 closed, assigned to serge-rider, Matvey16

[2021-08-24 10:18] mantinnne commented on #13533
@ayan84
Thanks a lot, it worked

[2021-08-24 10:26] uslss commented on #13594
verified

[2021-08-24 10:26] #13594 closed, assigned to uslss, ShadelessFox

[2021-08-24 10:41] TsunamiHandia commented on #13643
When I have time, I prepare a more detailed example.

On Tue, Aug 24, 2021, 09:57 Anastasiya ***@***.***> wrote:

[2021-08-24 10:43] Matvey16 commented on #13557
Verified

[2021-08-24 10:43] #13557 closed, assigned to ShadelessFox, Matvey16

[2021-08-24 10:50] LonwoLonwo commented on #13648
Thanks for the bug report!

[2021-08-24 10:51] SSSDNSY commented on #13619
ok

[2021-08-24 10:57] Matvey16 opened #13649 "Handling of infinity timestamp in Netezza"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.0

#### Connection specification:
- Database name and version Netezza

#### Describe the problem you're observing:
Timestamp fields with 'infinity' value are shown as `294277-01-09 04:00:54` in resultset. We already show it as `infinity` in PostgreSQL, so we can try to do something similar for Netez

[2021-08-24 10:57] plmmihail commented on #13627
Thanks, @LonwoLonwo ! Comments are lost during using "Compact form" mode.

[2021-08-24 11:18] Matvey16 commented on #13004
Verified

[2021-08-24 11:18] #13004 closed, assigned to LonwoLonwo, Matvey16

[2021-08-24 11:20] serge-rider commented on #1155
Eclipse bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=324316

[2021-08-24 11:50] atmouse- commented on #13626
gnome 3.38 dependency has been removed now.

[code]

checked
[code]

[2021-08-24 11:56] Matvey16 commented on #13302
Verified

[2021-08-24 11:56] #13302 closed, assigned to ShadelessFox, Matvey16

[2021-08-24 12:10] lbarron-md opened #13651 "Export: MariaDb -> MariaDb, Process not escaping column names"
#### System information:
- Ubuntu 20.04.3
- Version 21.1.5.202108160727

#### Connection specification:
- Maria

#### Describe the problem you're observing:
Exporting table to table doesn't escape column names

#### Steps to reproduce, if exist:

DDL:
[code]

[2021-08-24 12:29] serge-rider opened #13652 "SSH tunnels configuration wiki"
We need page which describes SSH configuration in details.
Somewhere under "Database connections".
There is a very brief description in https://github.com/dbeaver/dbeaver/wiki/Create-Connection , it must contain link to this new page

[2021-08-24 12:34] LonwoLonwo commented on #13648
Fixed in DBeaver 21.2.0

[2021-08-24 12:44] JBSP-code commented on #13648
Awesome, thank you!

[2021-08-24 13:02] Matvey16 commented on #13582
Verified

[2021-08-24 13:02] #13582 closed, assigned to serge-rider, Matvey16

[2021-08-24 13:48] #12464 closed, assigned to flambchap, uslss

[2021-08-24 13:51] serge-rider commented on #13636
Fixed

[2021-08-24 13:59] spassignat opened #13654 "Allow changing the URL Template in the Driver Manager only for drivers which support this"
I use a custom jdbc driver to connect to mysql. Unfortunately, when I setup this driver in the driver manager as Generic, I don't have the support of some MySQL keywords (ex: DELIMITER).

So I tried to setup this driver as a MySQL driver, guessing there are database plugins ;-), but it's impossible to choose the url pattern for these drivers, which makes impossible to connect to the database (obvi

[2021-08-24 13:59] CastilhosR opened #13655 "Error when connect to a Oracle Database"
#### System information:
- Windows 7
- DBeaver 21.1.5

#### Connection specification:
- Oracle 11.2.0.4.0 (running in a Oracle Linus System)
- Driver oracle
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no !

#### Describe the problem you're observing:
until DBeaver 21.0 it's all ok, but now, I can't connect do Oracle Database

#### Steps to reproduce, if exist: just create an try to connect.

[2021-08-24 14:14] Matvey16 commented on #13636
Verified

[2021-08-24 14:14] #13636 closed, assigned to serge-rider, Matvey16

[2021-08-24 14:15] LonwoLonwo commented on #13019
Fixed case with database and schema-changing to another database and non-public schema (changed always to the public earlier).

[2021-08-24 14:27] QinFangYuan opened #13656 "[ Error ] develop on dbeaver 21.0.5 for windows 32bit"
recently，i want to use windows 32bit (not 64bit)  , but dbeaver 21.0.5 only support windows 64bit

so,i try to develop dbeaver on source code,just like in the picture below
I'm add win32 x86 setting in Tycho build at pom.xml
![image](https://user-images.githubusercontent.com/46182166/130634110-e8dff2d5-3b6c-4e1b-930a-bcaa1ff25ead.png)

The following exception occurs when i use **mvn package**
![im

[2021-08-24 14:30] serge-rider commented on #13656
Eclipse platform no longer supports 32-bit architecture.

You could try to build with older Eclipse version (Oxygen?). But there is no guarantee that it will even compile with recent DBeaver codebase.

[2021-08-24 14:36] QinFangYuan commented on #13656
ok, thanks, I see what you mean.

[2021-08-24 14:46] QinFangYuan commented on #13656
My development platform is windows 64-bit,use **Eclipse IDE for RCP**

[2021-08-24 14:49] CastilhosR commented on #13655
Sorry guys, we identified a configuration error in the user that was being used to connect. I'm going to close the ticket.

[2021-08-24 14:49] #13655 closed, assigned to nobody

[2021-08-24 15:37] LonwoLonwo commented on #13651
Hello @lbarron-md
Thanks for the bug report.
Probably your problem was fixed here: https://github.com/dbeaver/dbeaver/issues/13402, https://github.com/dbeaver/dbeaver/issues/13542

You can test it in Early Version: https://dbeaver.io/files/ea/

[2021-08-24 15:37] #13651 closed, assigned to nobody

[2021-08-24 21:13] gerhard81 commented on #9593
Hi, what's the status for this feature request?
The request is currently open for more than a year.
Any Info would be great
- any questions?
- delivery date?

Gerhard

[2021-08-25 00:02] WolfX2 commented on #13239
Thats correct. You could compare this to the well-known functionality that exists in notepad++ where you can style all, or one occurrence of a code block in the context menu, screenshot attached.

![image](https://user-images.githubusercontent.com/30268352/130705137-e6282448-fab4-4e6a-b436-5206fff01742.png)

[2021-08-25 03:07] sizzlorox opened #13657 "PostgreSQL: Array type varchar doesn't have a component type"
#### System information:
- Operating system (distribution) and version
Windows 10 Pro Version 20H2 build 19042.1110
- DBeaver version
2.1.15.202108160727
- Additional extensions
None

#### Connection specification:
- Database name and version
Postgres v13.3
- Driver name
PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
None

#### Describe the problem you're observing:
Having data type

[2021-08-25 04:09] kartikea commented on #2244
I have used UNION as option.
SHOW tables UNION
SHOW tables;

[2021-08-25 05:57] wiwwo opened #13658 "Text search goes on "Output" tab"
Run a whatever query, and try to search a text in SQL window...
In this case, search for "THISISABUG"; as you can see, "String not found" in the find window, even if Sql Script window is selected. Keep selecting the Sql Script window, focus keeps going to Output window, and "String not found".

DBeaver Community Edition	21.1.5.202108160727
MacOs BigSur 11.4 (20F71)

<img width="718" alt="image" sr

[2021-08-25 06:07] Matvey16 commented on #13490
@mleehayes

This is expected Snowflake behavior, because you can't run two statements in one query, you need to either use Alt+X to run the whole script or first execute `alter session set MULTI_STATEMENT_COUNT=0;` to disable the lock on multi statement, but be aware of the vulnerability to SQL injections.

And I was not able to reproduce the issue, can you look and verify that I did everything li

[2021-08-25 06:10] Matvey16 commented on #12869
@py-prash Hello, we don't have the appropriate environment to test it entirely. Can you try our latest early access version and verify if the issue is resolved
https://dbeaver.io/files/ea/

[2021-08-25 06:15] Matvey16 commented on #13289
@Gitog Can you add more info. What export are you starting, that leads to this error.

[2021-08-25 06:16] wiwwo opened #13659 "Keyboard re-mapping randomly stops working"
DBeaver Community Edition 21.1.5.202108160727
MacOs BigSur 11.4 (20F71)

I use a MAC with external keyboard.

I remapped the "Home" and "End" key to go to the beginning and end OF LINE.
It works.
After some time, something happens, and Home maps to start of FILE, and end to END of files.

Only solution, restart DBeaver. 

This is driving me freaking nuts.
WTH

[2021-08-25 06:28] wiwwo commented on #13659
Just to be clear: behavior changes without any configuration change, I restart and apply no configuration change. Just good old "turn it off and on again".
I am using a external editor to edit files now.
This is extremely disappointing and just crazy.

PLEASE do not reply with "works in my machine".

[2021-08-25 07:02] #13533 closed, assigned to nobody

[2021-08-25 07:07] LonwoLonwo commented on #13657
Hello @sizzlorox
Thanks for the bug report.

Please provide table DDL.
I can't reproduce for now.

![2021-08-25 10_06_30-DBeaver Ultimate 21 2 0 - array_types_varchar](https://user-images.githubusercontent.com/45152336/130742794-fb67a829-7c79-4528-93e6-b52bcaccf9d9.png)

[2021-08-25 07:43] TsunamiHandia commented on #13402
Here are some screenshoots and the DDL of the table:

**DDL:**
CREATE TABLE XXX.dbo.Lista_contactos_eliminar_revisados_XXX (
	eliminar varchar(12) COLLATE Modern_Spanish_CI_AS NULL,
	[Nombre empresa] varchar(75) COLLATE Modern_Spanish_CI_AS NULL,
	Nº varchar(30) COLLATE Modern_Spanish_CI_AS NULL,
	Nombre varchar(75) COLLATE Modern_Spanish_CI_AS NULL
);

**Columns** mapped:
![campos](https://user-i

[2021-08-25 07:56] LonwoLonwo commented on #13402
Thanks @TsunamiHandia

The issue was resolved. You can test it in our earlier version [here](https://dbeaver.io/files/ea/)

[2021-08-25 08:25] sizzlorox commented on #13657
Hello @LonwoLonwo

Thank you for looking into this!
Unfortunately I've already dropped the table and changed it into text[].

After seeing that you're unable to reproduce it I've tried reproducing it myself and strange enough it appears to be working.
My ORM appears to have set the column type as `character varying array`.  Where the DDL is set as:
`status_description varchar NULL, -- Status Descr

[2021-08-25 08:52] Matvey16 commented on #13019
Verified

[2021-08-25 08:52] #13019 closed, assigned to LonwoLonwo, Matvey16

[2021-08-25 08:54] uslss commented on #13616
verified

[2021-08-25 08:54] #13616 closed, assigned to uslss, ShadelessFox

[2021-08-25 08:58] uslss commented on #13648
verified

[2021-08-25 08:58] #13648 closed, assigned to uslss, LonwoLonwo

[2021-08-25 08:58] ShadelessFox commented on #13652
https://github.com/dbeaver/dbeaver/wiki/SSH-Configuration

[2021-08-25 09:17] LonwoLonwo commented on #13657
Ok. Thanks for the quick response!

[2021-08-25 09:17] #13657 closed, assigned to nobody

[2021-08-25 09:39] DamijanD opened #13662 "Results panel buttons disabled in 21.1.5"
In version 21.1.5 buttons on results panel are always disabled. Tested on multiple computers (win10 &  2012R2).

![image](https://user-images.githubusercontent.com/44526436/130767065-41f1f503-0057-40fe-9df0-5f82a4a38bf3.png)

I believe that Save button was already disabled in 21.1.4

[2021-08-25 10:06] ShadelessFox commented on #12674
Hello @KES777,

On my machine the <kbd>Tip of the day</kbd> window is opened **BEFORE** <kbd>Version update</kbd>, so behavior is correct. Both windows are modal, I don't think we want to make them both non-modal.

Are you sure you haven't changed focus to another window by accident?

[2021-08-25 10:17] axrand opened #13663 "AltGr behaviour on localised keyboard (Lithuanian QWERTY)"
#### System information:
- Windows 20H2 / build 19042.1165
- DBeaver version  21.1.5.202108160727

#### Describe the problem you're observing:
When using non-english keyboard (Windows Lithuanian QWERTY keyboard which uses top row for local symbols) it is not possible to correctly type numbers using top row of the keyboard in **SQL Editor**.
When trying to type 1 2 3 4 5 6 7 8 9 0
The result in SQL

[2021-08-25 10:18] LonwoLonwo commented on #13581
Hello @zeleznypa
Thanks for the bug report!

This is some kind of statement parsing issue, as I can see.

As a workaround, you can highlight your statement in SQL Editor and use Ctrl+Enter.

[2021-08-25 10:23] LonwoLonwo commented on #13662
Hello @DamijanD
Thanks for the bug report.

We already fixed this issue here: https://github.com/dbeaver/dbeaver/issues/13636

Fix will be available in DBeaver version 21.2.0 on 2021-08-30.

[2021-08-25 10:23] #13662 closed, assigned to nobody

[2021-08-25 11:26] uslss commented on #13304
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-08-25 11:26] #13304 closed, assigned to nobody

[2021-08-25 11:34] ShadelessFox commented on #13658
Thanks for bug report

[2021-08-25 12:16] Matvey16 commented on #13611
@deepaksenthilkumar I've tested this feature and found few issues.
1. The option doesn't work if you go back in import wizard and change it, it remembers the first choice.

![h5ZI3Q2dRr](https://user-images.githubusercontent.com/82543000/130787720-5f40c809-1c58-49d6-b733-628660a95f04.gif)

2. I performed an import with this option disabled (which obviously led to a fail, because it tried to insert

[2021-08-25 12:21] alfathard opened #13666 "table name tab not showing correct name"
the table tab doesn't display the correct name, instead it displays something like an obscure code or encryption
![Screenshot (147)](https://user-images.githubusercontent.com/71913516/130789532-157effd6-0cd8-47a3-a1ff-5ac1126384de.png)

[2021-08-25 12:22] murilowippel opened #13667 "Language problem: half English, half Brazilian Portuguese"
#### System information:
- Windows 10
- DBeaver version: 21.1.5.202108160727

#### Describe the problem you're observing:
After updating the software (not exactly to the described version above), some of the menus, buttons and etc were translated to Brazilian Portuguese, although I didn't change the language setting. I tried changing the language to Brazilian Portuguese and then back to English, b

[2021-08-25 12:32] zeleznypa commented on #13581
Hello @LonwoLonwo, thanks for your fast reply.

Unfortunately for me the workaround is not usable.
I have a lot of packages that I need to deploy in a batch.

So I have to use the [@include](https://dbeaver.com/docs/wiki/Client-Side-Scripting/) mechanism that execute them in separate window and this mechanism still cause the issue :(

[2021-08-25 12:45] tati-kru commented on #13157
Possible solution: add preference option which will disable scripts-to-datasource association.

[2021-08-25 12:54] tati-kru commented on #13501
We can implement navigation to selected GIS objects thru the context menu.

[2021-08-25 12:58] tati-kru commented on #13504
Why do you export product? You can build it with Maven and get binary artifacts from `target`.

[2021-08-25 13:15] tati-kru commented on #13586
Thanks for suggestion

[2021-08-25 13:22] tati-kru commented on #13638
Thanks for the feature suggestion

[2021-08-25 13:32] charlesHenryPATARD commented on #13490
Hi,
I'm facing the same issue.

My configuration :

SGBD : Ingres
DBeaver version :  21.5.5
OS : Linux CentOS

I changed my SQL processing settings as mentioned in previous post by @Matvey16 like this :

Uncheck : Ignore native delimiter
Uncheck : Blank line...
Check : Remove trailing query delimiter

My Procedure is :

`CREATE PROCEDURE p_test_chp
	(id INTEGER NOT NULL) as

declare
	id_level INT;

[2021-08-25 13:48] s2mako commented on #8404
Are there any news on this issue? Unfortunately I'm also encountering this stuttering behaviour.

[2021-08-25 13:51] JeroenNienhuis commented on #13501
What do you mean? Selected GIS objects on the map (using the context menu of the map) and add the result to the datagrid selection?
I think there are a few basic solutions:
- selecing items on the map by clicking on items and build a collection of selected items and after that pick "add selection to filter" from the map context menu. This would need some kind of onClick event for items on the map.

[2021-08-25 14:47] flachtiago opened #13671 "SQL Format add line if query starts with line comment"
#### System information:
- Win 10 Pro
- DBeaver version: 21.1.3

#### Describe the problem you're observing:
If a query starts with a line comment everytime I press Ctrl+Shift+F (or using the equivalent option from the menus)  the whole query is moved one line down. It doesn't happen if the query starts with a block comment, though.

#### Steps to reproduce, if exist:
- Paste this query in the edi

[2021-08-25 15:14] mleehayes commented on #13490
I agree you weren't able to reproduce the behavior.  Weird.  My settings appear to be the same as yours.  I guess we close the issue as unreproduceable.

Thanks for looking into the issue.

[2021-08-25 15:53] harryghgim commented on #6989
@cpinamtz does the following helps you?

- go to `Preferences > Editors > Data Editor > Data Formats`
- check `Disable numeric formatting`

Hopefully your float values will look more precise than before.

In case someone is wondering, my environment is as follows:

OS: mac Catalina 10.15.7
dbeaver version: Version 21.1.5.202108160727
database: mariadb 10.6

[2021-08-25 16:15] deepaksenthilkumar commented on #13611
@Matvey16 - I will check and fix this.

[2021-08-25 16:26] ems2811 opened #13673 "Inactive buttons after data grid at first opening sql editor"
#### System information:
- Windows 10 Pro x64
- DBeaver 21.1.5
- No additional extensions

#### Connection specification:
- PostgreSQL 9.5
- Default postgres driver
- No tunnels or proxies

#### Describe the problem you're observing:
At first opening sql editor and executing sql - buttons after result grid are inactive. Need to move between editors to activate buttons.

#### Steps to reproduce, if

[2021-08-25 17:20] deepaksenthilkumar commented on #13611
This seems to be an existing problem (refresh of target DDL when settings change). Test it just based on column sample count
Have 3 records
1
10
100

Test each time with sample count 1,2,3 see the DDL. Same issue.

[2021-08-25 17:21] #13626 closed, assigned to nobody

[2021-08-25 17:50] deepaksenthilkumar commented on #13611
The issue is because once the attribute is set, we are unable to update the maxlength, precision, scale.
@Matvey16 -We should raise a new issue for that and not treat this as a problem for this feature.
@ShadelessFox - This is the reason why I ended up using setFullTypeNamefor RedshiftView instead of setPrecision, setScale as part of #13536. Any reason why we can't update maxLength, precision, the

[2021-08-25 18:48] ShadelessFox commented on #13673
Duplicate of #13636

[2021-08-25 18:48] #13673 closed, assigned to nobody

[2021-08-25 19:14] EdvanBatist opened #13674 "Firebird in dbeaver does not hold auto-increment of the table and does not let you edit "nothing""
Boa Tarde...

Não consigo criar tabela com auto incremento no Dbeaver... o mesmo permite marcar a opção na coluna ID, porem ao persistir(Guardar), ele desmarca... e também não permite edição das opções mencionadas acima... já com sql server, tudo funciona. O PROBLEMA É SÓ COM O FIREBIRD.
[code]

![TELA 1](https://user-images.githubusercontent.com/68394751/130850359-e0ee5e4b-0ff3-4d91-ba0f-d5e42c9d

[2021-08-25 21:02] p91paul commented on #13652
my 2 cents: while it looks quite well explained, it might help if you added a few practical examples with IP addresses (fictional of course) that users can relate to. And maybe put a link to the wiki page in the SSH tunnel configuration page of connection settings in DBeaver. It can be quite hard to get it right.

[2021-08-26 03:45] Thinkhua opened #13677 "Default config INFO delete"
Why not accept delete  the default configuration info like 'file save', 'Maven URL'  and so on?

[2021-08-26 06:39] mohsenomidi opened #13678 "Using X protocol to connect to mysql database"
#### System information:
- Operating system MacOS Big Sur 11.5
- DBeaver Version 21.1.4.202108020335
- Additional extensions

#### Connection specification:
- Database Mysql 8.0.26
- Driver Mysql
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

I am trying to connect to Mysql Database via X protocol my server is listening on 0.0.0.0 port : 33060
m

[2021-08-26 06:43] LonwoLonwo commented on #13309
Fixed for float8, floa4, and for numeric types without parameters.

[2021-08-26 07:04] tapijo opened #13680 "Netezza DDL statements with COMMENT ON statements"
**Is your feature request related to a problem? Please describe.**
Not a problem, just a new feature.

**Describe the solution you'd like**
I'd like to see COMMENT ON -statements with database objects DDL statements in Netezza.

**Describe alternatives you've considered**
At the moment you can't see comment on statements with for example in create table statement generated using gui. You have to g

[2021-08-26 07:22] Matvey16 commented on #12247
Already fixed. Feel free to reopen if the issue is still actual for you

[2021-08-26 07:22] #12247 closed, assigned to nobody

[2021-08-26 07:24] Matvey16 commented on #13160
Thank you for a suggestion

[2021-08-26 07:26] Matvey16 commented on #13239
Thank you for a suggestion

[2021-08-26 07:26] uslss commented on #12754
Button highlight disables on focus change when tab is still opened
![2021-08-26_10h14_38](https://user-images.githubusercontent.com/31996417/130919762-4e40ff8a-a54f-4ab0-8d4e-328f18218ec1.gif)

[2021-08-26 07:31] uslss opened #13681 "Tasks folder: folder isn't saved if there is no tasks in project"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.0 EA

#### Describe the problem you're observing:
New folder isn't saved if there is no tasks in project
#### Steps to reproduce, if exist:
1. Create a project
2. Create Task folder and then reopen the application

**Actual result**
Folder disappears. Tasks.json file isn't created until no task is c

[2021-08-26 07:32] Matvey16 commented on #13503
@KarthikDulam Unfortunately it is impossible for now. We will think about it and see if there is a way to implement a solution for this.

[2021-08-26 07:42] Erdnah commented on #9319
@mioux My startup loop was fixed by running dbeaver with "-clean" command line parameter.

[2021-08-26 07:48] Matvey16 commented on #13552
@selster sorry, I can't quite understand what leads to your issue. For me to reproduce it and then decide on the solution, we need you to describe clear steps that lead to this, or at least send a video with those steps. Also it would be good to know your OS and DBeaver version

[2021-08-26 08:01] uslss commented on #13309
verified

[2021-08-26 08:01] #13309 closed, assigned to uslss, LonwoLonwo

[2021-08-26 08:05] uslss commented on #13677
@Thinkhua please provide more info about your suggestion. Clear steps and some screenshots will be very helpful

[2021-08-26 08:07] uslss commented on #13674
thank you for the suggestion

[2021-08-26 08:08] uslss commented on #13671
thank you for the report

[2021-08-26 08:10] uslss commented on #13267
still cannot reproduce an issue. is it still actual against the recent dbeaver version?

[2021-08-26 08:11] yennor commented on #13667
propably my problem is related. At once dbeaver shows everything in german. not english anymore. (I'm not sure with what update it happened).
I'm using debian testing, with kde.
my locale is:

LANGUAGE=en_GB:en
LC_CTYPE="en_GB.UTF-8"
LC_NUMERIC=de_CH.UTF-8
LC_TIME=de_CH.UTF-8
LC_COLLATE=de_CH.UTF-8
LC_MONETARY=de_CH.UTF-8
LC_MESSAGES="en_GB.UTF-8"
LC_PAPER="en_GB.UTF-8"
LC_NAME="en_GB.UTF-8"
LC_AD

[2021-08-26 08:12] uslss commented on #13214
there is no any update on ticket for a long time.
if it is still actual for you, feel free to reopen it with additional info

[2021-08-26 08:12] #13214 closed, assigned to nobody

[2021-08-26 08:14] uslss commented on #13123
still cannot reproduce an issue.
If it is still actual, feel free to reopen it with additional info that could help to reproduce an issue

[2021-08-26 08:14] #13123 closed, assigned to nobody

[2021-08-26 08:15] KES777 commented on #12674
If I remember correct, on my machine the `tip` is also opened first.

Notice, `tip of the day` is marked as active. After this second `version update` modal window is opened.
so first windows become unclickable, but still is on foreground.

I mean focus should be moved to this second window (it must become active instead of `tip of the day`)

[2021-08-26 08:17] uslss commented on #13091
there is no update on issue for a long time.
If it is still actual - feel free to reopen it with additional info that could help to reproduce an issue

[2021-08-26 08:17] #13091 closed, assigned to nobody

[2021-08-26 08:21] uslss commented on #13282
there is no update on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2021-08-26 08:21] #13282 closed, assigned to nobody

[2021-08-26 08:22] #13275 closed, assigned to nobody

[2021-08-26 08:23] uslss commented on #13253
there is no update on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2021-08-26 08:23] #13253 closed, assigned to nobody

[2021-08-26 08:23] uslss commented on #12689
there is no update on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2021-08-26 08:23] #12689 closed, assigned to nobody

[2021-08-26 08:24] uslss commented on #12837
there is no update on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2021-08-26 08:24] #12837 closed, assigned to flambchap

[2021-08-26 08:25] uslss commented on #12417
there is no update on the issue for a long time.
If it is still actual - feel free to reopen it with additional info that will help to reproduce an issue

[2021-08-26 08:25] #12417 closed, assigned to LonwoLonwo

[2021-08-26 08:26] uslss commented on #13391
@leezm is it still actual for you?
unfortunately, the issue cannot be fixed if it isn't reproducible

[2021-08-26 08:27] uslss commented on #13384
there is no update on the issue for a long time.
If it is still actual - feel free to reopen it with additional info that will help to reproduce an issue

[2021-08-26 08:27] #13384 closed, assigned to nobody

[2021-08-26 08:28] uslss commented on #13388
@duri0214 is it still actual for you?

[2021-08-26 08:29] #13371 closed, assigned to nobody

[2021-08-26 08:29] uslss commented on #13415
there is no update on the issue for a long time.
If it is still actual - feel free to reopen it with additional info that will help to reproduce an issue

[2021-08-26 08:29] #13415 closed, assigned to nobody

[2021-08-26 08:30] serge-rider commented on #13536
Fixed in #13541

@deepaksenthilkumar Thank you 👍

[2021-08-26 08:31] #13433 closed, assigned to nobody

[2021-08-26 08:34] uslss commented on #13468
@BERRELION what database do you use?

[2021-08-26 08:37] leezm commented on #13391
YES,other SP is OK...I think something went wrong in the SP then return -1,but in other tools it's can return record set...Maybe ignore wrong in this sp can return record set...

[2021-08-26 08:41] Matvey16 commented on #13561
@metal450 Thank you for the report. It seems more like a bug to me. The tree doesn't expand if at least one tab is opened, and also generates a lot of errors.
Steps to reproduce;
1. Allow auto-expand for navigator in preferences
2. Open at least on editor tab and expend a tree to at least table level
3. Close and reopen Dbeaver

The tree is expected to be expanded (if the depth is chosen correctly

[2021-08-26 08:49] duri0214 commented on #13388
Thank you for your reply. I'm still using MYSQLworkbenchi because I still have symptoms, but I'd like to move to beaver completely if possible.

[2021-08-26 08:54] BERRELION commented on #13468
@uslss PostgreSQL and Oracle

[2021-08-26 09:13] ShadelessFox commented on #12674
In my case <kbd>Version update</kbd> is the active window, and since it is opened last, it can be closed.

Can you record a video? You can use debug options to override DBeaver's version, so the update dialog can be seen every time.

https://github.com/dbeaver/dbeaver/wiki/Debug-options

[2021-08-26 09:15] KES777 commented on #12674
ok, I will try

[2021-08-26 09:29] Matvey16 commented on #13611
Verified

[2021-08-26 09:29] #13611 closed, assigned to ShadelessFox, Matvey16

[2021-08-26 09:30] Matvey16 commented on #13611
@deepaksenthilkumar Thank you for your work, all of the issues I found are global and are not specific to your feature

[2021-08-26 09:39] Matvey16 commented on #12869
@py-prash Please reopen this ticket if your issue will persist.

[2021-08-26 09:39] #12869 closed, assigned to serge-rider

[2021-08-26 09:42] ShadelessFox commented on #13652
Hello @p91paul,

Thanks for suggestion! I'm not sure about _practical examples with IP addresses_, what exactly do you mean?

[2021-08-26 09:45] uslss commented on #13536
verified

[2021-08-26 09:45] #13536 closed, assigned to serge-rider, uslss

[2021-08-26 10:15] Matvey16 commented on #11473
Verified

[2021-08-26 10:15] #11473 closed, assigned to ShadelessFox, Matvey16

[2021-08-26 10:51] Matvey16 commented on #13654
@spassignat What do you mean it's impossible to choose the url pattern? It's locked from editing if you try to edit an existing MySQL driver. But if you create a new one, and choose Driver type as MySQL you can change url template however you want.

![dbeaver_t7kEmaRCAS](https://user-images.githubusercontent.com/82543000/130950178-f8b2a2cd-becc-4f4e-af46-fd7a4fa894ac.png)

[2021-08-26 10:59] Matvey16 commented on #13608
@glmarsh What type of Dbeaver package are you using?

[2021-08-26 11:29] serge-rider commented on #13206
Fixed

[2021-08-26 11:56] uslss commented on #13206
verified

[2021-08-26 12:00] LonwoLonwo commented on #13680
Hello @tapijo

Ability to change tables, views, table columns, view columns descriptions for Netezza implemented in DBeaver EE version.
Along with the support of synonyms, sequences, unique keys, etc.
You can try it with the trial license version: https://dbeaver.com/

![2021-08-26 14_54_07-NEWVIEW - Persist Changes](https://user-images.githubusercontent.com/45152336/130958638-116241f2-3510-48e1-8

[2021-08-26 12:02] coolspring1293 commented on #4445
Reminder, reminder, I really need this function, thank you!

[2021-08-26 12:25] tapijo commented on #13680
Thanks for answer, if the feature will not be available in CE we just have to live without it.

[2021-08-26 12:25] #13680 closed, assigned to nobody

[2021-08-26 12:29] serge-rider commented on #13544
I've fixed it in a bit different fashion.

@deepaksenthilkumar Thank you for the bug report and bug fix 👍

[2021-08-26 12:31] deepaksenthilkumar commented on #13544
Thanks.
--
SD

[2021-08-26 12:50] sars2sars2 commented on #13267
The issue is now fixed. Not sure what fixed the issue.

[2021-08-26 12:50] #13267 closed, assigned to nobody

[2021-08-26 13:07] uslss commented on #13544
verified

[2021-08-26 13:07] #13544 closed, assigned to serge-rider, uslss

[2021-08-26 13:29] nk54 opened #13689 "Filter tables doesn't work if table name contain $ or _"
#### System information:
- Operating system : Windows 10
- DBeaver version : 21.1.5.202108160727
- Additional extensions : none

#### Describe the problem you're observing:
Filtering the list of tables in the database navigator doesn't work well.
If you work on a database with several hundreds of tables, it's very hard to use it with the current filter.

#### Steps to reproduce, if exist:
Have a d

[2021-08-26 13:56] glmarsh commented on #13608
Community version 21.1.5 on Ubuntu 21.04.Sent from my Galaxy
-------- Original message --------From: Matvey16 ***@***.***> Date: 8/26/21  3:59 AM  (GMT-08:00) To: dbeaver/dbeaver ***@***.***> Cc: glmarsh ***@***.***>, Mention ***@***.***> Subject: Re: [dbeaver/dbeaver] Native Client missing -  (#13608)
@glmarsh What type of Dbeaver package are you using?

—You are receiving this because you were m

[2021-08-26 14:05] Matvey16 opened #13690 "Redshift connection can't be accessed in CE if it was opened in EE"
#### System information:
- DBeaver version 21.2.0

#### Connection specification:
- Database name and version Redshift, Netezza
- Driver name AWS Redshift jdbc Driver

#### Describe the problem you're observing:
If the connection was created in DBeaver CE and then later opened in DBeaver EE, the driver for the connection will be changed to the one for EE and the connection becomes inaccessible for

[2021-08-26 14:28] spassignat commented on #13654
Ok, you're right, I can set the URL pattern. I was not accurate enough in the case description, but there is still maybe an issue. If we manage to make it work, do you think my strategy will enable mysql features on this custom driver ?

So I can set the pattern:
![image](https://user-images.githubusercontent.com/6451374/130979160-9f4d4317-7526-494c-b0d1-e20182af8e43.png)

I can also setup a conne

[2021-08-26 14:42] spassignat opened #13691 "Connection window should be modal dialog"
When you test your database connection, and change window (ex: with Alt+TAB), the focus is lost on the connection result.

When you're back on dbeaver (ex: Alt+Tab), if you arrive on the connection settings, you can't close the window until the connection window is opened, but this windows is behind the connection settings.

In this screen shot, I moved the connection window to see it:
![image](ht

[2021-08-26 15:41] fujiokae opened #13692 "Please support ESRI geometry for the Geometry Viewer"
I manage both PostGIS databases and ESRI enterprise geodatabases on PostgreSQL for multiple projects using DBeaver.
While I can take a quick look at the geometry over the map using the Geometry Viewer, which is very nice, for PostGIS, that does not happen for ESRI enterprise geodatabases.

Although ESRI of course provides an extensive suite of products/tools/scripts to manage enterprise databases,

[2021-08-26 15:53] ShadelessFox commented on #13692
Thanks for feature request!

[2021-08-26 16:14] noom073 opened #13693 "Report problem, app freeze after use wrongful query with CLOB type."
#### System information:
- Operating system Windows 10
- DBeaver version 21.1.5.202108160727

#### Connection specification:
- Database ORACLE10g

Report problem, app freeze after use wrongful query with CLOB type.
#### Describe the problem you're observing:
In ORACLE, after use group by with CLOB column it freeze and can't do anything.
Yes, it's the wrongful to query group by with CLOB. I just sa

[2021-08-26 16:17] serge-rider opened #13694 "Redshift: procedures loading bugs"
1. Structure assistant can't find procedures (because of wrong backslash escape)
2. Auto-completion doesn't append procedure parameters (because of wrong oid column mapping)
2. Procedures can't be navigated with hyperlinks from SQL editor (because of wrong oid column mapping)

[2021-08-26 16:25] deepaksenthilkumar opened #13695 "Redshift For Timedout Sessions-Doesn't reconnect on query execute"
In DBeaver 21.1.5 (Aug 16 build)

ALTER USER testuser SESSION TIMEOUT 60; -- In reality this is 1 hour, but setting to 60 seconds for quicker test.

After 60 seconds of idle time, when we run the query, we get the below error.

![image](https://user-images.githubusercontent.com/36084950/131000097-4f219a6d-8f2c-4d8e-a8bb-9ce5a27cb410.png)

Invalidate/Reconnect works. But is there a way to automatic

[2021-08-26 16:34] gururagavan2008 commented on #13695
In case it helps, this works with other databases. The issue seems to be only with Redshift.

[2021-08-26 16:34] deepaksenthilkumar commented on #13695
Thanks @gururagavan2008
Yeah. It works for Teradata/Oracle. But doesn't work for Redshift.

[2021-08-26 16:35] serge-rider commented on #13695
This is easy to implement (PostgreDataSource.discoverErrorType)

[2021-08-26 16:48] WolfX2 opened #13696 "Vertical indent (or tab) lines"
**Is your feature request related to a problem? Please describe.**
Ensuring code is indented consistently

**Describe the solution you'd like**
Add indent lines that run the length of the page similar to notepad++ and VScode

![image](https://user-images.githubusercontent.com/30268352/131003026-e3391771-eb78-4746-826d-c2ab0851a5d0.png)

**Describe alternatives you've considered**
NA

**Additional

[2021-08-26 17:29] ahhmedbilal commented on #13586
Another feature that could be added is

@todo add table definition in @"here is should give all files names that
are open or that are in my current active project".

i.e when i press @ then apart from giving "todo", it should also give me
the option to select file name from a drop down menu.

On Wed, Aug 25, 2021 at 4:15 PM Tati Kru ***@***.***> wrote:

[2021-08-26 17:30] devotoare commented on #5008
Adding the path to Flatseal worked but none of the paths here were right for me. Mine was:

`/home/MYUSERNAME/.local/share/flatpak/runtime/io.dbeaver.DBeaverCommunity.Client.mariadb/x86_64/stable/active/files`

On Pop 21.04

[2021-08-26 19:06] deepaksenthilkumar commented on #13695
Thanks, @serge-rider for the suggestion. Fixed!

[2021-08-26 22:13] p91paul commented on #13652
@ShadelessFox something along the lines of "Imagine you have your database on IP x.x.x.x on port aaaa and your ssh jump host on y.y.y.y. Then you should set _this_  on ssh settings and _that_  on connection settings"

[2021-08-27 00:42] PDMoFan commented on #13593
@ShadelessFox
The contents have been translated into English, and the contents in parentheses are Chinese translations.

[2021-08-27 01:49] zhaopinglu opened #13698 "The exporting table data function cut the clob content into too-long pieces which caused ora-1704 during importing"
#### System information:
- Operating system (distribution) and version
-  windows 10
-
- DBeaver version
- 21.1.2
-
- Additional extensions

#### Connection specification:
- Database name and version
- oracle 19.3
-
- Driver name
- oracle.jdbc.OracleDriver
-
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
- No

#### Describe the problem you're observing:
When exporting data for table which has

[2021-08-27 02:06] zhaopinglu commented on #13698
FYI:

UTF-8 Encoding
UTF-8 is the 8-bit encoding of Unicode. It is a variable-width encoding and a strict superset of ASCII. This means that each and every character in the ASCII character set is available in UTF-8 with the same code point values.

**One Unicode character can be 1 byte, 2 bytes, 3 bytes, or 4 bytes in UTF-8 encoding.**

Characters from the European scripts are represented in eithe

[2021-08-27 02:50] teamayu opened #13699 "Check All for Database Dump Ignores Tables - Manual Check Works Fine"
Operating system (distribution) and version: Win 10, 64 Bit
DBeaver version: 21.1.5
Database: MySQL, 5.7.29

Right Click a table in DBeaver and select 'Tools > Dump Database'. The dialog opens with the selected table highlighted.

![27-08-2021_104822](https://user-images.githubusercontent.com/10624092/131064106-44e81f48-602d-4856-a66b-21b333b22f56.jpg)

If you select 'All' and then 'Start', it onl

[2021-08-27 02:50] ghost commented on #13503
@Matvey16 , Thank you for the message.

Is this something thats available in the Dbeaver enterprise version or with integration with Git?

If you can suggest some ways that this can be achieved, it will greatly help my cause.

[2021-08-27 06:12] TsunamiHandia commented on #13402
Ok I proved it, and it works fine.

Thank you very much

On Wed, Aug 25, 2021, 09:57 Anastasiya ***@***.***> wrote:

[2021-08-27 06:22] binodkalathil opened #13700 "Import SQL Script - Allow selection of multiple files"
**Is your feature request related to a problem? Please describe.**
The **Import SQL Script** option in **SQL Editor** Menu allows the selection of only one file. I am trying to run scripts in multiple files and I will need to do the manual selection of files for all the files available. Some of the other SQL clients have this feature already.

**Describe the solution you'd like**
We want to be abl

[2021-08-27 06:32] LonwoLonwo commented on #13432
https://github.com/dbeaver/dbeaver/issues/5896

[2021-08-27 06:51] LonwoLonwo commented on #12795
Was fixed here: https://github.com/dbeaver/dbeaver/issues/12899

[2021-08-27 06:51] #12795 closed, assigned to nobody

[2021-08-27 07:43] LonwoLonwo commented on #13699
Thanks for the bug report!

Doesn't work with PostgreSQL dump too.

As a workaround - right-click on tables container and choose Tools->Dump.

![2021-08-27 10_41_52-DBeaver Ultimate 21 2 0 - _dvdrental_ Script-2](https://user-images.githubusercontent.com/45152336/131091420-cd49080c-f150-4045-8c6c-2e6bc957612b.png)

[2021-08-27 07:47] teamayu commented on #13699
Great, thank you.

[2021-08-27 08:01] Matvey16 commented on #13694
Verified

[2021-08-27 08:01] #13694 closed, assigned to serge-rider

[2021-08-27 08:04] kseniiaguzeeva opened #13701 "Pop up window remains visible after opening a table in SQL Editor from the top filter field"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.0 EA
#### Steps to reproduce, if exist:
1. Open a table in the Data Editor
2. Double click the table name, which is placed before the top filter field

**Expected**: the SQL Editor is opened with the select query
**Actual result**:  the SQL Editor is opened with the select query and pop up window wi

[2021-08-27 08:17] ptarant opened #13702 "Filter db objects by name"
#### System information:
- Operating system (distribution) and version: MacOS 11.5.2
- DBeaver version: Version 21.1.5.202108160727
- Additional extensions: none

#### Connection specification:
- Database name and version: Percona DB cluster 5
- Driver name: MySQL from DBeaver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : SSH proxy

#### Describe the problem you're observing:
the text field

[2021-08-27 08:34] ShadelessFox commented on #13593
Thanks!

[2021-08-27 08:46] kseniiaguzeeva opened #13703 "Changing column type to string adds unnecessary parameter to table DDL"
#### System information:
- DBeaver version 21.2.0 EA

#### Connection specification:
- Database name and version Hive

#### Steps to reproduce, if exist:
1. Open a table import dialog
2. Change column type to STRING from another
3. Ope DDL preview

**Expected:** STRING types doesn't have additional values in its DDL
**Actual result:** STRING **(10)** is written in the DDL

https://user-images.gith

[2021-08-27 09:19] DariaMarkaryan commented on #13206
Bug is still reproduced in ClickHouse

[2021-08-27 09:36] ShadelessFox commented on #13652
Interesting. I've written a small paragraph based on your suggestion:
https://github.com/dbeaver/dbeaver/wiki/SSH-Configuration#practical-use

[2021-08-27 09:51] Philippe-M opened #13704 "Choice of upper or lower case for data export"
Would it be possible to have an option, when exporting data, to choose if the name of the tables / fields must be in upper case, lower case or respect the format of the source database?

For example this query

[code]

When exported to sql format gives

[code]

while i wish it looked like this
[code]

[2021-08-27 10:35] Matvey16 opened #13706 "NPE when trying to save blank regex coloring"
#### System information:
- DBeaver version 21.2.0
- Additional extensions

#### Describe the problem you're observing:
NPE is thrown when trying to save regex coloring with blank value. Filter is saved anyway

#### Steps to reproduce, if exist:
1. Open row coloring and pick regex operator
2. Leave the value field blank and click ok

**Expected:** Filter is saved and window is closed
**Actual:** Fi

[2021-08-27 11:25] Matvey16 opened #13707 "Redshift: references are not shown"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.0

#### Connection specification:
- Database name and version Redshift

#### Describe the problem you're observing:
References are not show in table metadata

#### Steps to reproduce, if exist:
1. Create a parent table
2. Create a child table with foreign key referencing a parent table
3. Open Refer

[2021-08-27 12:07] Matvey16 opened #13708 "ERD: Custom relations are saved even when changes are reverted"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.0

#### Describe the problem you're observing:
Reverting changes after creating custom relations is not working.

#### Steps to reproduce, if exist:
1. Open ERD for schema and create a custom relation between any two tables
2. Close the editor and don't persist changes when prompted
3. REopen schema

[2021-08-27 13:42] Matvey16 opened #13709 "Resize export wizard to include all options"
We need to resize export wizard window (and possibly other windows) or make it dynamically resizable to include all of the options. Right now they are invisible until manually resized.

[2021-08-27 13:49] Matvey16 opened #13710 "Add information about possibility to skip value binding during export"
We need to expand export wiki to include information about fast export into redshift with a feature added in #13498

[2021-08-27 13:54] Matvey16 opened #13711 "Expand jump server settings if it is enabled in SSH settings"
- [ ] We need to by default expand jump server settings in SSH tab of connection settings if it was already enabled.
- [ ] And also add details about intermediate server in information window for tunnel configuration test.

[2021-08-27 15:29] p91paul commented on #13652
Yeah that should help people stumbling on complicated setups. :smile:

[2021-08-27 17:55] mataski opened #13715 "Edits to cells do not save"
v21.1.5

Can't save any edit made to a cell

E.g. change 14 to 0014 and clicking Save does not do anything.

![gif](https://user-images.githubusercontent.com/62036912/131168977-b079f085-d92b-4c20-853b-bd30469860dd.gif)

![image](https://user-images.githubusercontent.com/62036912/131169133-51d91d45-db40-4741-a1f5-3d7eb2195f1d.png)

[2021-08-27 18:20] ausiddiqui commented on #11415
Still the case with 21.1.5 the latest version. Here is the thread-dump.txt promised months ago. The CPU usage stays at 100% as the program becomes non responsive and the memory usage is about 550 MB. There is no way to get to logs as the program hangs on loading - I can see my last opened query editor and the code but can't click into the text editor to change anything, the cursor changes to a spi

[2021-08-27 19:00] Hex052 opened #13716 "Update OpenJDK JRE in installer from 11.0.11 to 11.0.12"
**Is your feature request related to a problem? Please describe.**
The version of OpenJDK 11 bundled with the installer or the zip files is out of date. OpenJDK JRE 11.0.11 is bundled while 11.0.12 is the most recent, which fixes [these issues](https://openjdk.java.net/groups/vulnerability/advisories/2021-07-20)

**Describe the solution you'd like**
OpenJDK JRE 11 should be updated to 11.0.12

**D

[2021-08-27 19:30] ShadelessFox commented on #13715
Hello @mataski,

Leading zeroes are often trimmed because they make no sense. What's your use case?

[2021-08-27 19:51] mataski commented on #13715
That's the goal, need leading zeroes? On the website they will increment 0014, 0015, 0016, etc. with every new entity creation.

(website runs on PHP CMS called Drupal)

And you're right, it does save if I change it to just 15.

[2021-08-27 20:35] ShadelessFox commented on #13715
I still don't understand your use case.

If you want to select IDs from your database padded with zeroes, you can use builtin database functions, or just store IDs as `char(4)`. It's not DBeaver-related.

[2021-08-27 20:46] #13715 closed, assigned to nobody

[2021-08-28 03:15] tohghua opened #13717 "Running this sql causing high CPU usage and UI freeze"
It is found in 21.1.5, while 21.1.3 is ok.

I run this sql in a mysql server:
[code]

[2021-08-28 05:33] LonwoLonwo opened #13718 "Ability to use task filter."
We need to add the ability to filter tasks according to different parameters for those cases when we really have many tasks and the search for a specific task becomes too complex.

![2021-08-28 08_24_50-DBeaver Ultimate 21 2 0 - _pubs2_Script-40](https://user-images.githubusercontent.com/45152336/131207342-0b556e4b-011c-40f2-a5f4-bfdbc8a1e633.png)

[2021-08-28 09:02] tomuGo opened #13719 "一会不操作 就断开连接了，必须重新打开才行"
#### System information:
- Operating system (distribution) and version     ubuntu18
- DBeaver version      21.1.5
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

org.jkiss.dbeaver.model.sql.DBSQLException: SQL 错误: Statement cancelled due to client request
	at org.jkiss.dbeaver.model.impl.jdbc.exec

[2021-08-28 10:25] SlavaProvalov opened #13720 "Crashes on startup"
#### System information:
- Windows 10 Pro x64 21H1
- DBeaver version: 21.1.5 (same problem on all previous versions after 2x.x.x)
- Java version - 11.0.11

#### Describe the problem you're observing:
DBeaver crashes on startup.
![dbeaver_starts](https://user-images.githubusercontent.com/16419946/131214864-b78a4abc-e38e-47c7-a0e2-c75e6da27cb0.jpg)

.log:

!SESSION 2021-08-28 13:07:55.398 ----------

[2021-08-28 12:50] saleyn opened #13721 "Unable to SSL connect to MySQL"
#### System information:
- Operating system (distribution) and version: Manjaro Linux 5.10.59
- DBeaver version: 21.1.5.202108172303
- Additional extensions: None
- Java: jdk-openjdk-16.0.2.u7-1  jre-openjdk-16.0.2.u7-1  jre-openjdk-headless-16.0.2.u7-1  openjdk-doc-16.0.2.u7-1  openjdk-src-16.0.2.u7-1

#### Connection specification:
- Database name and version: MySQL Server version: 10.5.10-Maria

[2021-08-28 14:32] AnrDaemon commented on #8787
Me, too, I wish to be able to define dictionary descriptions as SQL statements.
The use case of `article/author/organization` (i.e.) is quite common in business logic.
In my case, it is `document/status/workflow`, where I want to clearly see that document has status from its own workflow, not some different one. (Happens at times, causes much headache in investigation.)

[2021-08-28 15:18] AnrDaemon commented on #13717
@tohghua please wrap your request in \```

[2021-08-28 15:19] AnrDaemon commented on #13716
Many people would just use standalone zip and avoid this issue.

[2021-08-28 17:50] ShadelessFox commented on #13721
Hello @saleyn,

DBeaver requires Java 11. As of now, we depend on some internal classes from JDK that are unavailable in newer versions of Java.

[2021-08-28 17:55] ShadelessFox commented on #13720
Hello @SlavaProvalov,

Please provide more context. Is DBeaver installed as extension in Eclipse or as standalone application?

[2021-08-28 17:57] ShadelessFox commented on #13719
Hello @tomuGo,

Please use English. Can you provide steps to reproduce your issue?

[2021-08-28 17:58] ShadelessFox commented on #13717
Hello @tohghua,

Thanks for bug report.

Looks like a @JSQLParser issue.

[2021-08-28 18:05] jaypn commented on #4186
Hello guys I recently changed my IP address from google cloud am trying to connect my database but am getting this same error that connect timed out can anyone help me out please?

[2021-08-28 19:49] josh231101 commented on #4186
You have to update your DB to accept querys from your new IP, probably is mounted on AWS or something your db

[2021-08-28 20:19] Cyberuben commented on #13720
I'm not sure if this is relevant, but I'm not able to start up the application at all. I just downloaded the latest version, tried to open it. I can see the `dbeaver.exe` in my task manager, but I can't seem to find any open window or use the application at all.

[2021-08-28 20:32] SlavaProvalov commented on #13720
As standalone application

[2021-08-28 20:58] ShadelessFox commented on #13720
Are you installing DBeaver through .msi installer of .zip archive?

[2021-08-29 03:15] saleyn commented on #13721
That works. Thanks!

[2021-08-29 03:15] #13721 closed, assigned to nobody

[2021-08-29 07:10] SlavaProvalov commented on #13720
Msi installer

[2021-08-29 10:37] Kerksys opened #13722 "Function "Copy as .." and custom filter bug"
#### System information:
- Windows 10
- DBeaver 21.1.3
- Additional extensions - No

#### Connection specification:
- PostgreSQL 12.7, compiled by Visual C++ build 1914, 64-bit
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No, local instance

#### Describe the problem you're observing:
Have a simple table
|id                                  |isdeleted|da

[2021-08-29 10:49] ShadelessFox commented on #13720
Try resetting workspace:
https://github.com/dbeaver/dbeaver/wiki/Reset-workspace

If it didn't help, try uninstalling DBeaver first and repeat.

[2021-08-29 14:57] uslss commented on #13722
thanks for the report
closed as a duplicate of #9252

[2021-08-29 14:57] #13722 closed, assigned to nobody

[2021-08-29 16:44] mkgrgis commented on #12247
@Matvey16,
21.1.5 still actual. Maybe, I need resetting of a cache? Where is it?

[2021-08-29 19:58] LonwoLonwo commented on #13392
Some useful references:
https://docs.exasol.com/sql_references/geospatialdata/import_geospatial_data_from_csv.htm
https://docs.exasol.com/sql_references/geospatialdata/geospatialdata_overview.htm

[2021-08-30 06:22] Matvey16 opened #13724 "Redshift: Permissions are shown incorrectly in DDL for new tables"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.0

#### Connection specification:
- Database name and version Redshift

#### Steps to reproduce, if exist:
1. Create new table
2. Open DDL for the table and enable permissions display

**Expected:** Correct grants are shown
**Actual:** Grant DDL is missing user name

**Note:** Manually adding alread

[2021-08-30 07:07] DariaMarkaryan opened #13725 "Highlighted results are not cleared for simple search when next search can't find any results"
#### System information:
- Win10, DBeaver 21.2.0

If we've already perform search without "search by whole word" checkbox activated, and then we checked it, the selection of founded previously data isn't cleared

#### Steps to reproduce, if exist:
https://user-images.githubusercontent.com/43252954/131299086-ac368ef2-0763-4005-92b3-2e0e8b0267e2.mp4

[2021-08-30 07:17] DariaMarkaryan opened #13726 "Coloring by range doesn't work for the text"
#### System information:
- Win10, DBeaver 21.2.0

#### Describe the problem you're observing:
Expected: Text color can be set as gradient in data editor
Actual: Text color set as the low bound color

https://user-images.githubusercontent.com/43252954/131300687-8ff963b4-47a5-4fd0-b402-1f9fd7c3504a.mp4

#### Steps to reproduce, if exist:

[2021-08-30 07:21] LonwoLonwo commented on #12977
Hello @ivolvicente

You can find the "Event" privilege in the main (admin) privileges list.

![2021-08-30 10_18_36-DBeaver Ultimate 21 2 0 - test@%](https://user-images.githubusercontent.com/45152336/131301105-50dfc7b9-112e-4e85-8e60-0caf0dde8444.png)

[2021-08-30 07:36] LonwoLonwo commented on #12977
Also, I've added a grant option via DBeaver for my user and it appears in the MySQL Workbench privileges list.

![2021-08-30 10_29_19-DBeaver Ultimate 21 2 0 - test@%](https://user-images.githubusercontent.com/45152336/131302688-7e3c24c6-bff4-45a0-9e2d-ebf3ae277c63.png)

Statement for "Grant option" in DBeaver is

`GRANT Grant option ON schemaName.* TO 'userName'@'%';`

And what expression creates

[2021-08-30 07:47] DariaMarkaryan opened #13727 "Can't execute set,unset,echo commands if carriage is placed after last letter"
#### System information:
- Win10, DBeaver 21.2.0

#### Steps to reproduce, if exist:
Type @set var=somevalue and press ctrl+enter
Expected: variable value is set
Actual: nothing happened. You need to move the carriage from the end of the line to anywhere in the middle and then if you pressed ctrl+enter the variable will be created

https://user-images.githubusercontent.com/43252954/131304644-08501

[2021-08-30 08:44] SSSDNSY opened #13728 "Add search history for search bar"
**Is your feature request related to a problem? Please describe.**

add search history for search bar
![QQ截图20210830162917](https://user-images.githubusercontent.com/15624361/131311996-60c546c4-aef9-4c98-ad9a-f1f11ee0a645.png)

**Describe the solution you'd like**
（Don't dislike me. I'm back again for new feature）
your guys know human being always lazy  and hope computer more diligent , I assume y

[2021-08-30 08:47] Matvey16 commented on #13510
Verified

[2021-08-30 08:47] #13510 closed, assigned to ShadelessFox, Matvey16

[2021-08-30 09:30] LonwoLonwo commented on #12652
Fixed in DBeaver 21.2.1

[2021-08-30 11:54] SlavaProvalov commented on #13720
Thanks! Reseting workspace realy helped me.

[2021-08-30 11:54] #13720 closed, assigned to nobody

[2021-08-30 11:56] Matvey16 commented on #12652
Verified

[2021-08-30 11:56] #12652 closed, assigned to LonwoLonwo, Matvey16

[2021-08-30 12:00] GiannisDimitriou commented on #13717
Hi @ShadelessFox

I the bug relevant to the size of the query ?

I am experiencing the same issue for any query above certain size.
I don't think the db engine is relevant but I am using PostgreSQL.

[2021-08-30 12:02] ShadelessFox commented on #13717
Yes. The more inner queries and blocks the query has, the longer it takes to proceed, unfortunately.

[2021-08-30 12:13] GiannisDimitriou commented on #13717
@ShadelessFox thanks for the immediate response!

Do you see any quick fix for this issue, since it's kind of a serious showstopper ?
Btw I don't remember having this kind of issue in the past with the same query.

[2021-08-30 12:21] ShadelessFox commented on #13717
Unfortunately, there's no a quick fix for that. We'll have to wait for @JSQLParser to update.

[2021-08-30 15:24] GiannisDimitriou commented on #13717
Leaving it here, until a proper fix is found, downgrading to <= 21.1.3v is the only workaround for this issue

[2021-08-30 15:40] aparrott-bgsa commented on #13724
Can confirm, I'm experiencing crashes of the client when trying to generate sql - ddl

[2021-08-30 16:00] LonwoLonwo commented on #12831
Hello @icegood

We are reading objects DDL from sqlite_master. And sqlite_master stores it in the format in which the statement was performed.
This is a standard situation for many databases. So what can we help you with?

[2021-08-30 17:54] LonwoLonwo commented on #13392
Quotation fixed in UPDATE statement.

Also, the ability to update geometry columns in the table with the primary key (sic!) was added.

[2021-08-30 18:05] uslss commented on #13029
@icegood is it still actual for you?

[2021-08-30 18:06] uslss commented on #13150
there is no update on issue for a long time. if it is still actual for you - feel free to reopen an issue

[2021-08-30 18:06] #13150 closed, assigned to nobody

[2021-08-30 18:10] uslss commented on #7834
there is no update on issue for a long time.
If it is still actual for you - feel free to reopen it

[2021-08-30 18:10] #7834 closed

[2021-08-30 18:14] uslss commented on #8600
is it still actual?
unfortunately, we've got no environment to test

[2021-08-30 18:16] uslss commented on #10227
@lucas75 sorry for the late response. Is the issue still reproducible?

[2021-08-30 18:17] uslss commented on #9192
is it still actual?

[2021-08-30 18:18] uslss commented on #12219
is it still actual?

[2021-08-30 18:20] uslss commented on #11710
sorry for the late response.
Is the issue still actual?
unfortunately, cannot reproduce it

[2021-08-30 18:25] uslss commented on #13701
verified

[2021-08-30 18:25] #13701 closed, assigned to uslss, ShadelessFox

[2021-08-30 18:27] uslss commented on #8173
in 21.2.0 it looks the next way:
![image](https://user-images.githubusercontent.com/31996417/131386821-67d8b075-6740-4593-8a3e-a968e23168ab.png)

[2021-08-30 18:32] uslss commented on #13663
thank you for the report

[2021-08-30 18:35] uslss commented on #6581
is it still actual?

[2021-08-30 18:36] uslss commented on #7262
seem it is duplicate of #6581

[2021-08-30 18:37] #7262 closed

[2021-08-30 18:42] ihabunek commented on #6581
This is version 21.2.0.202108291732 running od Debian with SwayWM on Wayland with scaling set to 1.5.

![image](https://user-images.githubusercontent.com/482138/131388509-677c052b-0289-483f-a13f-3c5168e07850.png)

[2021-08-30 18:44] uslss commented on #10406
still actual in 21.2.0

[2021-08-30 18:45] uslss commented on #8234
is it still actual?

[2021-08-30 19:20] wlasiukk commented on #8234
No, we do not have problem with this issue any more.

pon., 30 sie 2021, 20:45 użytkownik Dziyana ***@***.***>
napisał:

[2021-08-31 05:45] rajeshisnepali opened #13738 "Expand current database from table list"
**Is your feature request related to a problem? Please describe.**
Every time I turn on my machine, & of course DBeaver. I've lots of tables opened. I've to go through the left sidebar & expand each host, database to get the actual database table.

**Describe the solution you'd like**
Make an option (right-click) on the table (extend data) to go to the current database. Or at least save the settin

[2021-08-31 05:48] rajeshisnepali opened #13739 "Open multiple same table records"
**Is your feature request related to a problem? Please describe.**
So hard to view records side by side. You can't open duplicate records.

**Describe the solution you'd like**
Add a feature to view the same table records multiple times.

**Describe alternatives you've considered**
Had to open a new window for this small issue which obviously takes huge system resource.

[2021-08-31 05:54] emmanueltouzery commented on #6581
I see the same thing as https://github.com/dbeaver/dbeaver/issues/6581#issuecomment-908592007 on fedora 34, also with sway.

[2021-08-31 06:36] Matvey16 commented on #13695
Verified

[2021-08-31 06:36] #13695 closed, assigned to Matvey16

[2021-08-31 06:39] #13490 closed, assigned to nobody

[2021-08-31 06:47] kentore82 commented on #5452
Hi,

Ive tested the edit functionality for redis values of type ReJSON (that is, a Redis Json database). It seems that reading the ReJson type works fine, but if edited the value is saved as a regular string type back to Redis, thus corrupting the database (key/value) pair. Can you reproduce this behaviour @serge-rider ?

Thanks! :)

[2021-08-31 07:18] uslss commented on #13739
@rajeshisnepali Multiple record view is already implemented. Does it solve your issue?
![cGd5pio0Wl](https://user-images.githubusercontent.com/31996417/131459813-06e57478-a9a7-40b3-be66-7472f2840063.gif)

[2021-08-31 07:23] uslss commented on #13738
Link with editor button is already implemented (you can see how it works in gif attached). Could you check if it resolves your problem?
![VmiXWG7qoa](https://user-images.githubusercontent.com/31996417/131460472-aaecf9fc-beae-4be6-b510-45297f28a8e3.gif)

[2021-08-31 07:41] LonwoLonwo opened #13740 ""Task Management" page update"
https://github.com/dbeaver/dbeaver/wiki/Task-Management

- Update images
- Update task folders info

[2021-08-31 08:49] Matvey16 commented on #13392
Verified

[2021-08-31 08:49] #13392 closed, assigned to LonwoLonwo, Matvey16

[2021-08-31 09:12] TimZhang13579 opened #13741 "Failed to load jvm.dll"
#### System information:

Windows 10 Enterprise Edition.
DBeaver 7.3.5.
Java 1.8.0_301.

#### Describe the problem you're observing:

I Failed to launch DBeaver, it always shows me a dialog with error message: Failed to load the JNI shared library "C:\Program Files\Java\jre 1.8.0_301\bin\server\jvm.dll

![image](https://user-images.githubusercontent.com/74940838/131475538-13b3dd89-4aa4-447c-bd65-5

[2021-08-31 09:35] serge-rider commented on #13555
Fixed.
Version 21.2 was re-published

[2021-08-31 09:52] TimZhang13579 commented on #13719
Hi all, the headline means:
DBeaver cannot establish a permanent connection, the session will be broken off within minutes if user don't input any more command.

[2021-08-31 09:56] ShadelessFox commented on #13719
Hello @TimZhang13579,

Thanks for clarification. But we still need steps to reproduce the issue, otherwise we can't do nothing.

[2021-08-31 10:19] TimZhang13579 commented on #13719
I just translate Chinese to English, I am not the owner of the question. Thanks.

[2021-08-31 10:28] Matvey16 commented on #13555
Verified for .deb packages

[2021-08-31 10:45] Matvey16 commented on #13608
@glmarsh
I was not able to reproduce this issue. Can you tell me if you doing it as I am.
1. Click "Local client"
2. Select "Browse"
3. Click "Add home"
4. Navigate to /usr/bin and click "Open"

[2021-08-31 10:48] ShadelessFox commented on #13432
We still don't display default constraints in a separate tab, but now they're respected when dropping columns.

[2021-08-31 11:03] Matvey16 commented on #13555
Verified

[2021-08-31 11:03] #13555 closed, assigned to serge-rider, flambchap

[2021-08-31 11:22] Crazy-Hopper commented on #13154
Since it is a planned work, I think I can add some details on mysql session manager problem I still see with 21.2.0 version.
When opening session manager and make it periodically refresh, I can see that new connections are listed, complete connections are removed, but for running connections columns like Command, Time, State, and Query aren't updated. Reopening session manager of course displays f

[2021-08-31 14:29] Jackxiaojiahuo commented on #13719
Hello  @ShadelessFox
The problem recurrence steps are as follows:
1.Open a database connection session and let it stand for half an hour or an hour
2. If you try to enter a command to execute in this session, an error will be reported(Similar to the above error report)
3. At this point, you must try the connection again and open it again
The session will not automatically attempt to reconnect
 I o

[2021-08-31 14:40] uslss commented on #13719
@Jackxiaojiahuo you can change keep-alive value in connection properties to non-null. If it will be set e.g. to 30, than keepalive signal will be sent every 30 seconds
![image](https://user-images.githubusercontent.com/31996417/131522605-a7d9a446-8fef-4fea-a4b7-243dce688ad6.png)

[2021-08-31 14:40] silvestreR commented on #12668
In my case the file was located at /etc/java-openjdk/security/java.security - removing TLSv1, TLSv1.1, from jdk.tls.disabledAlgorithms worked.

Distro OS: Manjaro - Pahvo 21.1.1

[2021-08-31 14:49] serge-rider commented on #10472
In current versions we sign all jars but 3rd party jars (including Eclipse ones).

[2021-08-31 14:55] LonwoLonwo commented on #9921
The feature is not implemented yet.

[2021-08-31 15:21] lbassuncao commented on #6131
This issue remains in Version 21.2.0, with Portuguese keyboard.

[2021-08-31 16:53] junedev commented on #8508
@agmckee Thanks so much! This worked perfectly for me.

[2021-08-31 16:59] junedev commented on #9584
I had the same issue and this fixed it in my case: https://github.com/dbeaver/dbeaver/issues/8508#issuecomment-758028691

[2021-08-31 18:53] RobKraft commented on #5258
I find that specifying the database does not work for the {SQL Server} driver, but does work for the {ODBC Driver 17 for SQL Server} driver.  I am connecting from Microsoft Access.

[2021-08-31 21:00] KES777 opened #13744 "Uncomment line strip indentation"
#### System information:
- Linux Mint v19.3
- DBeaver version 21.0.3

#### Connection specification:
- Database name and version Postgres

#### Describe the problem you're observing:
When I uncomment line CTRL+/ then indentation is removed too

#### Steps to reproduce, if exist:

1. type: tab, tab, --, some text
2. press CTRL+/

[code]

[2021-08-31 21:15] LonwoLonwo commented on #11530
Implemented in scope with https://github.com/dbeaver/pro/issues/511

[2021-08-31 21:15] #11530 closed, assigned to nobody

[2021-08-31 21:18] LonwoLonwo commented on #4288
Implemented in scope with https://github.com/dbeaver/dbeaver/issues/11523

[2021-08-31 21:18] #4288 closed

[2021-08-31 22:07] mleehayes commented on #13490
Matvey16,  I just ran across a potential solution while working on a Snowflake UDF.  In my connection settings, in the Snowflake tab,  I had the following selected:
![image](https://user-images.githubusercontent.com/73184896/131581914-bb12f2b5-7807-4ccf-86a8-7b5e06ca0c5a.png)

If I changed the setting from "Code block" to "String literal",  it solved the issue I was having with the UDF.  I haven't

[2021-08-31 22:21] SubOptimal commented on #13741
Might be a problem of mixed 32 / 64 bit executables / libraries.

Could you please post the output of `C:\Program Files\Java\jre 1.8.0_301\bin\java -version`

[2021-09-01 01:03] DeflateAwning commented on #11872
Wondering if anyone has had a chance to look at this recently, thanks!

[2021-09-01 02:19] Jackxiaojiahuo commented on #13719
Thanks, I got it

[2021-09-01 02:57] TimZhang13579 commented on #13741
Hi @SubOptimal ,
Please have a look at the picture. Thanks.
![image](https://user-images.githubusercontent.com/74940838/131603889-c0a9f0a4-4eae-4991-b40f-59c9e2fe8ea7.png)

[2021-09-01 03:31] NehalDamania commented on #10852
Same issue. This workaround from another issue comment helps: [comment link](https://github.com/dbeaver/dbeaver/issues/4791#issuecomment-844077570)
The workaround mentioned in the comment is:

1. upgrade Dbeaver
2. Start Dbeaver and install Office plugin, without automatic restart. Close Dbeaver.
3. Start DBeaver "as administrator" and install Office plugin, without automatic restart. Close Dbeave

[2021-09-01 04:35] rajeshisnepali commented on #13739
Unfortunately, it's very hard to see how you get those records (cropped gif). Also, I need to open two tables instead of opening few (selected) rows.

[2021-09-01 04:39] rajeshisnepali commented on #13738
I can't find such a button in my DBeaver. My version information is
![image](https://user-images.githubusercontent.com/23610013/131612671-576062ed-7a93-49ec-ac99-e44faa1405b3.png)

![image](https://user-images.githubusercontent.com/23610013/131612737-ebed6c03-fc0c-4a2a-888b-8ab90e9017d7.png)
As you can see my top bar.

[2021-09-01 07:48] wernerdaehn opened #13745 "Hana: create procedure fails with syntax error at END if there is a loop inside."
#### System information:
- Win10
- DBeaver 21.2.0

#### Connection specification:
Sap Hana

#### Describe the problem you're observing:
Simple procedure cannot be created due to supposed syntax errors.

#### Steps to reproduce, if exist:
Run the SQL Script:

[code]

It seems the parser sends only the string
[code]
truncating the statement after the end-for's semicolon char.

Error message is
[code

[2021-09-01 08:31] ShadelessFox commented on #11872
We can either use a custom renderer to visualize the distribution using progress-like bars, or use a column containing the percentage value.

The first one may cause rendering issues on different platforms, but will look fancier.  We'll look into it.

[2021-09-01 09:21] FedorovaDarya opened #13746 "MongoDB doesn't perform Invalidate/Reconnect"
#### System information:
- Win10, DBever 21.2.0 EE
#### Connection specification:
- MongoDB
#### Describe the problem you're observing:
MongoDB doesn't perform Invalidate/Reconnect

https://user-images.githubusercontent.com/43252954/131646434-a0e4f6e4-8775-4b67-99c0-8d7319150dc6.mp4

[2021-09-01 09:52] ShadelessFox commented on #13741
Hello @TimZhang13579,

DBeaver is bundled with JRE. The system-installed one can cause problems just like in this case.

Run the installer again and make sure the <kbd>Include Java</kbd> option is checked.

[2021-09-01 10:31] Cris70 opened #13747 "Error -4461 calling stored procedure"
#### System information:
- Linux openSuse Tumbleweed 20210830
- DBeaver 21.2.0.202108291732

#### Connection specification:
- Database name and version: DB/2 for z/OS v12
- Driver name: jdbc version 4.26.14
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes, ssh

#### Describe the problem you're observing:
When I call the ADBGDDL stored procedure I get this error:
Errore SQL [42815]: [jcc][101

[2021-09-01 11:43] ShadelessFox commented on #13738
Hello @rajeshisnepali,

The cursor in this video has offset by some reason.

Here's the button:
![image](https://user-images.githubusercontent.com/35821147/131665480-7119bcb1-153b-4767-a513-60c3e04e376a.png)

[2021-09-01 11:55] uslss commented on #13691
thank you for the report

[2021-09-01 12:06] uslss commented on #13693
@noom073 could you provide table ddl and query example to reproduce an issue? thanks in advance

[2021-09-01 12:11] uslss commented on #13744
thank you for the report

[2021-09-01 12:19] mikalai-shchurko opened #13750 "Schema is always reset to schema name same as logged username (postgres)"
#### System information:
- Windows 10 Pro (build 19042.1165)
- DBeaver version: 21.2.0.202108310918 (wasn't reproducible on 6.3.3 and was reproducible at least from 7.0)

#### Connection specification:
- postgres 9.6
- postgresql driver shipped with dbeaver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? - no

#### Describe the problem you're observing:
If username matches any of schema names,

[2021-09-01 12:21] kseniiaguzeeva opened #13751 "Timezones are not displayed with disabled date/time formatting"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.2 EE

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
1. Disable date/time formatting in PostgreSQL connection settings
2. Open a table with a timezone column type (e.g. _postgres.test_review.date_test_)

**Expected**: timezones are displayed in

[2021-09-01 12:23] LonwoLonwo commented on #13745
Hello @wernerdaehn

Thanks for the bug report!

You can try to highlight your procedure statement in SQL Editor and use Ctrl+Enter to avoid block parsing problems.

Now we, unfortunately, cannot test this case, because the connection to the database you gave us is no longer working. If you have the opportunity to back our access to the database - it would be very cool!

[2021-09-01 12:24] ShadelessFox commented on #11102
Development note: we can use [PDFBox](https://pdfbox.apache.org/) library for reading and rendering PDF files.

[2021-09-01 12:27] serge-rider commented on #13751
Fixed.
Note: new timestamp formatting types were added: `Timestamp with timezone` and  `Time with timezone`.

[2021-09-01 12:28] serge-rider commented on #13484
Probably duplicate of #13484

[2021-09-01 13:14] slondr commented on #10118
Still having this issue in DBeaver 21.2 using jsch

[2021-09-01 13:15] LonwoLonwo commented on #13750
Thanks for the bug report!

[2021-09-01 13:17] ShadelessFox commented on #10118
Hello @slondr,

Please create a separate issue and provide more details about your problem. This ticket is closed.

[2021-09-01 13:53] noom073 commented on #13693
Thank you very much for your response.
Now it work normally, I am sorry you all for my issue. I think my problem it maybe because the connection is lose.
I’m really sorry for my mistake. Thank you very much again for your response.
![1630503752887](https://user-images.githubusercontent.com/54969096/131683568-a6223b9c-e51a-4e9a-8ae0-024ed73e2207.jpg)

[2021-09-01 14:45] DariaMarkaryan opened #13755 "NULL strings in CSV export aren't quoted"
#### System information:
- Win10, DBeaver EE 21.2.0

#### Connection specification:
- Reproduced in Mongo, Vertica..

#### Describe the problem you're observing:
Strings that replaces NULL values when you perform CSV export can't be quoted

#### Steps to reproduce, if exist:
1. Open table with NULL values
2. Start CSV export
3. Set string for NULL values and set Quote always as "all"
![image](http

[2021-09-01 14:46] LonwoLonwo commented on #13750
Oh. I see.
PG [documentation](https://www.postgresql.org/docs/current/functions-info.html) says about cureent_schema() method : Returns the name of the schema that is first in the search path.

And we use this expression after each execution in SQL Editor.
We put "$user" in the first place in the search_path, and in case, when the user name is the same as the schema name - We change the scheme to

[2021-09-01 14:51] BERRELION opened #13756 "Closing tags not auto completed"
`IF ... THEN / END IF` are not automatically added when typing in SQL editor. Same for ` CASE / END [CASE]` and `LOOP / END LOOP`.

The only clause I am aware of that gets auto-completed is the `BEGIN / END` clause.

It would be a time saver if that's added in new features 👌😉!

As of now, I set up templates for all those clauses but I often time forget then keyword... but having feature native on

[2021-09-01 15:05] wernerdaehn commented on #13745
I have shutdown the server but can start it at any time. It is just that I do no longer need it 24x7. Please send me an email when and for how long I should start the server and I will do so.

[2021-09-01 15:15] LonwoLonwo commented on #13745
Thanks for your help. Your database was very useful for us.

Anyway. I see a blank line in your statement.
Can you please tell me - the "Blank line is statement delimiter" is enabled or disabled in your preferences?

![2021-09-01 18_13_04-DBeaver Ultimate 21 2 0 - _orcl_ Script-8](https://user-images.githubusercontent.com/45152336/131697461-af599285-0a56-428b-b6f6-5d40331425f2.png)

[2021-09-01 15:38] mikalai-shchurko commented on #13750
Thanks @LonwoLonwo
When I uncheck this option it still queries the wrong schema (dbowner instead of public), but doesn't change selected value in dropdown afterwards :)
So it doesn't solve the main problem.
Here's what I have after execution:
![image](https://user-images.githubusercontent.com/9625621/131701157-d7daabbc-0558-4b24-96ce-37675f186713.png)

[2021-09-01 15:51] wernerdaehn commented on #13745
Yes, it was checked. It tried with and without (opening a new editor after the change to be safe).
I also removed the blank lines from the procedure code.
Behavior is always the same, the code sent to the database ends at the line `end for;`

[2021-09-01 16:23] LonwoLonwo commented on #13750
Yeah. It's again because the user is first in your search_path.
As a workaround for now - you can set your search_path manually.

[2021-09-01 16:34] cydonialis commented on #13120
@LonwoLonwo Hello,I realized that the database server we used, is just extended from Gaussdb and the sql grammer is much like Oracle, my question is as the below said:
[oracle-db-quote-column-names](https://stackoverflow.com/questions/38328169/oracle-db-quote-column-names)

When the database table is created with case sensitive, then there need to use "double quoted"  to refer it:

At the end, Whe

[2021-09-01 16:44] ShadelessFox commented on #10149
Now we save last manually chosen content viewer for column.

Since the title was changed, the initial request was mostly ignored. We can further improve support for different viewers according to no. 1, 2 and 3.

[2021-09-01 16:55] uslss commented on #13693
@noom073 thank you for your response.
So the issue could be closed as resolved?

[2021-09-01 17:01] LonwoLonwo commented on #13120
How works Dbeaver with column and table names? DBeaver gets information about database Identifier Case from the driver first of all. Next, if the column or table name case does not coincide with the database Identifier Case, DBeaver wraps such a name in quotes.

So I think, that this is driver issue.

[2021-09-01 17:16] LonwoLonwo commented on #13120
https://github.com/dbeaver/dbeaver/blob/devel/plugins/org.jkiss.dbeaver.model/src/org/jkiss/dbeaver/model/impl/jdbc/JDBCSQLDialect.java#L139
This is the place, where we reading database case info from the driver.

[2021-09-01 17:17] LonwoLonwo commented on #13406
Fixed in DBeaver 21.2.1

[2021-09-01 17:24] ShadelessFox commented on #13755
Quotes in CSV files are non-mandanory. Why do we need to quote them?

Moreover, how e.g. `"NULL"` should be interpreted as? As a `NULL` value or as a `"NULL"` string?

[2021-09-01 17:29] uslss commented on #13659
thanks for the report.
duplicates #9414

[2021-09-01 17:29] #13659 closed, assigned to nobody

[2021-09-01 17:56] halilim opened #13758 "ResultSet fetch size can't be set to lower than 100"
#### System information:
- Operating system (distribution) and version: macOS Big Sur 11.5.2 (20G95)
- DBeaver version: 21.2.0.202108291732

#### Connection specification:
- Database name and version: PostgreSQL 13.3
- Driver name: PostgreSQL JDBC Driver 42.2.5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
ResultSet fetch size can't be set to lo

[2021-09-01 17:57] dlbannerman commented on #10358
armyofda12mnkeys - Also new to DBeaver and have to use two-factor.  Might you provide a bit more information on what you did to get such to work?

[2021-09-01 18:02] ArianHojatAES commented on #10358
I put in my usual connection information on main connection setting popup, and just added the RADIUS property that I mentioned above in the Drivers Properties tab in that popup.

[2021-09-01 18:04] armyofda12mnkeys commented on #10358
I put in my usual connection information on main connection setting popup, and just added the RADIUS property that I mentioned above in the Drivers Properties tab in that popup.

[2021-09-01 18:48] ShadelessFox commented on #13758
Hello @halilim,

It's a feature. Why would you need to fetch less than 100 rows in one go?

[2021-09-01 20:01] jaypn commented on #4186
Hello guys, thanks for your previous suggestion, I worked but now the issue I have is to recover my databases data, it looks like a brand new databases without any databases that I created before

[2021-09-01 20:07] halilim commented on #13758
@ShadelessFox we have tables with `jsonb` columns. Some of them take 10-20 seconds to load 100 rows.

[2021-09-01 20:13] ShadelessFox commented on #13758
I see. Thanks for the explanation!

[2021-09-01 21:23] ivolvicente commented on #12977
Hi @LonwoLonwo , thanks for your clarification, there is indeed the Event privilege on user Properties tab.

[2021-09-01 21:32] ivolvicente commented on #12977
By the way, the other application I tested is HeidiSQL.

I created a new user and set the GRANT privilege on HeidiSQL and the SQL execution will set user privilege USAGE

![heidisql_CbUYDhMgZ2](https://user-images.githubusercontent.com/11926387/131747955-679ae470-8773-4ad4-acf1-ba98c6e9bb96.png)

After all, this looks more an error on HeidiSQL than on DBeaver.

[2021-09-02 01:32] noom073 commented on #13693
Yes, all right.

[2021-09-02 01:32] #13693 closed, assigned to nobody

[2021-09-02 04:50] rajeshisnepali commented on #13738
`Ctrl+Shift+,` is 🔥

[2021-09-02 04:50] #13738 closed, assigned to nobody

[2021-09-02 06:17] chelicery commented on #6064
+1

[2021-09-02 06:34] Matvey16 opened #13761 "Variables (parameters) are not changed during export from query"
#### System information:
- DBeaver version 21.2.0

#### Describe the problem you're observing:
Changes to variables during export from query are not saved and are ignored

#### Steps to reproduce, if exist:
1. Start an export from query with a variable
2. At the last step of export settings change a variable value
3. Start export

**Expected:** Exported data is from query with a changed variable v

[2021-09-02 06:38] vijayaragavan95 commented on #3699
I think it has a problem. Because, when I run long scripts setting temporary session parameters, this live connection gets broken and Dbeaver reconnects with a new session and triggers same query. But this time all my session parameters are lost.

[2021-09-02 07:14] kseniiaguzeeva opened #13762 "Function search doesn't work in trigger create dialog"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.2 EE EA

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
1. Open Triggers tab in table Properties, open create trigger dialog, enter name and open dropdown to select a function
2. Type a function name in the search field

**Expected:** matched fu

[2021-09-02 07:21] Aileron79 commented on #6064
This would be a nice feature, I'd be happy about a multiline editing feature. In the example above just let me select the word "quick" in all lines and replace it in all lines by typing "slow". Have not found anything like that, doubt it makes sense to create another feature request for that.

[2021-09-02 07:24] Matvey16 opened #13763 "Wrong sorting of tasks with upper case letters"
Sorting database tasks right now mixes folders with other tasks. It would be more user friendly if folders are always shown on top.

![x5t1kYY5ca](https://user-images.githubusercontent.com/82543000/131800782-82a58ab0-c6bc-485f-9fc0-1e3b92a80ac7.gif)

[2021-09-02 07:40] Shantanu101998 commented on #222
Hello! Marking all occurrences is a good step in the direction! But can we go a step further and "select" all occurrences. Like the shortcut "Command + D" in VS code. I know there is always an option of "Find and replace all" but it is nowhere as easy to use as the above mentioned option. Thanks!

[2021-09-02 08:24] Matvey16 commented on #13589
Related #13222

[2021-09-02 08:45] LonwoLonwo commented on #12977
Thanks for the feedback!

It seems that all problems are solved, so I close the ticket. If you have some questions or problems associated with this ticket, you can reopen it or create a new one.

[2021-09-02 08:45] #12977 closed, assigned to LonwoLonwo

[2021-09-02 08:46] serge-rider commented on #13222
Duplicate of #13589

[2021-09-02 09:32] francescmallafre commented on #5489
+1

[2021-09-02 09:35] flambchap commented on #12651
Reproduced on 1920x1200 resolution.

[2021-09-02 09:36] Matvey16 opened #13766 "Metadata search can't find comments"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.0

#### Connection specification:
- Database name and version PostgreSQL

#### Describe the problem you're observing:
DB metadata search doesn't find a table by it's comment (also actual for procedures and other objects)

#### Steps to reproduce, if exist:
1. Copy a table comment to clipboard
2. Ope

[2021-09-02 10:23] Matvey16 commented on #13589
Verified

[2021-09-02 10:23] #13589 closed, assigned to serge-rider

[2021-09-02 10:24] Matvey16 commented on #13222
Verified

[2021-09-02 10:24] #13222 closed, assigned to serge-rider

[2021-09-02 10:32] uslss opened #13767 "Incorrect tab is shown instead of Statistic tab after Explain execution plan"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.0

#### Connection specification:
- Database name and version Azure SQL Server

#### Describe the problem you're observing:
Incorrect tab is shown instead of Statistic tab after Explain plan execution for Create/Update/Insert queries
#### Steps to reproduce, if exist:
1. Connect to db and perform Ex

[2021-09-02 11:04] uslss opened #13768 "Spatial data cannot be changed in Oracle using Shift+Enter or Value panel"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.0

#### Connection specification:
- Database name and version Oracle

#### Describe the problem you're observing:
Error appears while trying to change geometry value using editor dialog (Shift+Enter)
[code]

[2021-09-02 11:14] Cris70 commented on #13747
Sorry, the stored procedure is not defined in the system (I thought it was).
Nevertheless, the error returned is weird. QMF correctly returns "The stored procedure STSDB2.ADBGDDL could not be found."

[2021-09-02 11:19] Cris70 opened #13770 ""No procedure found" (sqlcode=-440) error executing stored procedure"
#### System information:
- Linux openSuse Tumbleweed 20210830
- DBeaver 21.2.0.202108291732

#### Connection specification:
- Database name and version: DB/2 for z/OS v12
- Driver name: jdbc version 4.26.14
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes, ssh

#### Describe the problem you're observing:
When I call the STSDB2.ADB2RE stored procedure I get this error:
Errore SQL [42884]: NO

[2021-09-02 12:10] ShadelessFox opened #13771 "Remember Value Panel "Content viewer settings""
The chosen content viewer must be saved for an attribute, so user don't need to change it every time.

The issue is created from #10149.

[2021-09-02 12:21] flambchap commented on #12651
Fixed.

[2021-09-02 13:23] ShadelessFox commented on #12933
Implemented. Now shortcuts (`.lnk`) added to the <kbd>Scripts</kbd> folder should open the filter they point to.

What to test:
 - Shortcuts to file/folder
 - Deleting target file and trying to open shortcut
 - Absolute/Relative shortcuts (e.g. within the same drive and on separate drives)
 - ASCII/Unicode paths (e.g. folder named 🔥)