[2021-02-19 08:15] davidoff2500 opened #11419 "need altibase many function.."
**Is your feature request related to a problem? Please describe.**

1. If  double-click a table in the altibase in UI,  add or delete columns in the UI, and wish the script will be automatically generated.

2. Column depiction is not displayed when table is clicked.
3.
**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**
Thank you.

[2021-02-19 08:15] LonwoLonwo commented on #10362
Fixed in 21.0.1

[2021-02-19 08:18] aisbergde commented on #3587
Nevertheless, it is a good idea to describe that briefly in the documentation as well.

As a non-native English speaker, I have always wondered about the strange names for database tools and never tried to make sense of them. It would never have occurred to me to look for a translation. And so it was only today that I learned where all these terrible names come from that are so hard to remember an

[2021-02-19 08:50] Quiquoqua48 opened #11421 "Case insensitive in ENUM"
Hi. I'm working on a database where often i see **enum** fields with, in example, two choices:

seems it's done for words that people can write in both ways..

In any case, a get error on Dbeaver because it doesn't recognize the case difference (while I can do it, in example, on phpMyAdmin).

Is there a way to bypass this?
Thanks

[2021-02-19 08:59] aisbergde opened #11423 "open with > web browser > missing line breaks in multi-line-strings"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 7.3.5.202102141704
- Additional extensions

#### Connection specification:
- Database name and version: SQL Server 2019
- Driver name: I don't know
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: no

#### Describe the problem you're observing:

- line breaks are removed in the "open with  > We

[2021-02-19 09:33] LonwoLonwo commented on #11403
Fixed in 21.0.0
For procedure and view definitions with equal names.

[2021-02-19 09:46] uslss commented on #11103
@rdewolff fix is available in EA version for now - https://dbeaver.com/files/ea/enterprise/
The new release will be available on March, 7

[2021-02-19 09:46] flambchap commented on #11414
Hello @urack. I'd like to reproduce the bug, so I need to know which local server you use to make a DB dump. Thank you.

[2021-02-19 09:47] uslss commented on #9309
verified

[2021-02-19 09:47] #9309 closed

[2021-02-19 09:50] uslss commented on #11330
verified

[2021-02-19 09:50] #11330 closed, assigned to Sargul, serge-rider, uslss

[2021-02-19 09:50] uslss commented on #11103
verifed

[2021-02-19 09:50] #11103 closed, assigned to serge-rider, uslss

[2021-02-19 09:51] rdewolff commented on #11103
Thanks for the heads up

[2021-02-19 09:52] aisbergde opened #11424 "poor search functionality in the Github wiki"
#### Describe the problem you're observing:

There are a lot of features in dbeaver, and a lot of them are documented in the wiki, but the documentation is hard to find.

#### Steps to reproduce, if exist:

for example, I am looking for information about virtual columns and virtual references

The first place to search is here:

- https://dbeaver.com/docs/wiki/
  There is a search button, I enter

[2021-02-19 09:59] bkolb249 commented on #11320
heres the exception-Stacktrace:

	at org.postgresql.shaded.com.ongres.scram.common.util.UsAsciiUtils.toPrintable(UsAsciiUtils.java:45)
	at org.postgresql.shaded.com.ongres.scram.common.stringprep.StringPreparations$1.doNormalize(StringPreparations.java:43)
	at org.postgresql.shaded.com.ongres.scram.common.stringprep.StringPreparations.normalize(StringPreparations.java:53)
	at org.postgresql.shaded

[2021-02-19 10:00] serge-rider opened #11425 "Use multi-row INSERTs in data transfer"
We need this to speedup data load.
Currently it works terribly slow on some platforms like Redshift.
Using multi-row batches may increase performance dramatically.

[2021-02-19 10:03] serge-rider commented on #11404
We'll upgrade driver version in the next DBeaver version.

[2021-02-19 10:04] serge-rider commented on #11404
Workaround: download driver manually, extract it somewhere and all *.jar files as DBeaver libraries.

[2021-02-19 10:41] F0xD8rk commented on #11357
I just noticed that the same problem occurs after creation of a procedure or a function. The delimiter is also not set automatically after creation of the procedure/function using the SQL editor.
The problem does not occur anymore after:
- manually putting the delimiter at the end of the procedure/function using the GUI
- Persisting the changes

In short, the problem occurs only after first creati

[2021-02-19 10:42] aisbergde opened #11426 "mssql - incorrect and incomplete DDL for tables with calculated columns and extended properties"
#### System information:

- Operating system (distribution) and version: Windows 10
- DBeaver version: .3.5.202102141704
- Additional extensions

#### Connection specification:
- Database name and version: SQL Server 2019
- Driver name: information not available in connection properties
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

- calculated co

[2021-02-19 10:50] uslss commented on #10362
verified

[2021-02-19 10:50] #10362 closed

[2021-02-19 10:53] uslss commented on #11038
verified

[2021-02-19 10:53] #11038 closed, assigned to uslss, ShadelessFox

[2021-02-19 11:00] urack commented on #11414
Thanks for your support.

Actually i am running Linux Mint 20.1 x86_64 which is based on ubuntu on my laptop to do testing. The database server is Mariadb version Server version: 10.3.25-MariaDB-0ubuntu0.20.04.1 Ubuntu 20.04.

I installed DBeaver Version 7.3.5.202102151746 on same machine.  If you need any other information , feel free let me know.

[2021-02-19 11:53] uslss commented on #11404
verified

[2021-02-19 11:53] #11404 closed, assigned to serge-rider, uslss

[2021-02-19 12:14] ShadelessFox commented on #11421
Hello @Quiquoqua48,

What database are you using?

Please follow our issue templates, this would help avoiding unnecessary questions.

[2021-02-19 12:32] lukaseder opened #11428 "java.lang.NoClassDefFoundError: javax/tools/JavaFileManager when creating H2 aliases"
#### System information:

- **Operating system (distribution) and version**: Microsoft Windows [Version 10.0.19042.804]
- **DBeaver version**: 7.3.5.202102151746
- **Java version**: openjdk version "11.0.9.1" 2020-11-04

#### Connection specification:

- **Database name and version**: H2 1.4.200
- **Driver name**: org.h2.Driver
- **Do you use tunnels or proxies (SSH, SOCKS, etc)?** No

#### Descri

[2021-02-19 12:38] uslss commented on #11403
verified

[2021-02-19 12:38] #11403 closed, assigned to uslss, LonwoLonwo

[2021-02-19 14:18] caburet commented on #5499
Its gonna be nice to have it!

[2021-02-19 14:45] Doxxxxxx commented on #10852
Hello,

Same probleme here.
What I do to "fix" the problem is starting another instance of Dbeaver (via Windows Start menu for example) and click on "discard" when it says it can't lock workspace.
And I do it after each dbeaver update.

[2021-02-19 15:03] mitchellrj commented on #10862
@uslss @serge-rider we have looked at this feature in the early access version of Enterprise Edition (build date 2021-02-19) and it does not allow a user to enter a session token. Temporary credentials such as those issued by AWS SSO or STS require three pieces of information to authenticate:
* Access key ID
* Secret access key
* Session token

Would you like some clearer test cases or user storie

[2021-02-19 16:37] busyscout opened #11430 "Return old logs and output buttons UI"
Since version 7.3.3 buttons for output and logs in sql editor have text labels.
It would be nice to have an option to remove text from these button (and make them look as they were before).
Reason:
1) they take more vertical space now
2) they take more attention now and distract from query text
3) they differ from sibling buttons in the same panel
![2021-02-19 19_29_38-DBeaver 7 3 5 - _none_ Scrip

[2021-02-19 16:58] chriswatkins314 commented on #10234
I have had this same problem for over a year when installing the Office plug-in after upgrading the dbeaver version.  Usually, a system re-boot will fix the issue.

[2021-02-19 17:18] flambchap commented on #9480
Fixed.

[2021-02-19 17:19] flambchap commented on #11346
Fixed.

[2021-02-19 17:41] DKholev opened #11431 "Exporting data of Snowflake query does not work. Trying it several times and each time getting different/incorrect results."
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-02-19 17:45] Bakrain commented on #10234
Anyone faced the same issue, I fixed it by checking the box for me instead of for all users during installing dbeaver.

[2021-02-19 18:33] 2019-05-10 commented on #11368
[thread-dump2.txt](https://github.com/dbeaver/dbeaver/files/6012188/thread-dump2.txt)
And another thread dump while freezing on paste

[2021-02-19 18:33] niraj8241 commented on #11020
Sorry, I somehow lost track of this.

- which type of authentication do you use

        [SSO Link](https://docs.aws.amazon.com/redshift/latest/mgmt/options-for-providing-iam-credentials.html)
        The plugin name is **com.amazon.redshift.plugin.BrowserSamlCredentialsProvider**

steps how do you connect
- Configure PingFederate to setup Redshift SSO (https://docs.aws.amazon.com/redshift/latest/

[2021-02-19 18:44] Quiquoqua48 commented on #11421
Hi, I'm sorry for have not used the template before!

#### System information:
- Operating system (distribution) and version => Linux OpenSuse Tumbleweed updated
- DBeaver version => 7.3.2.202101032114 (have to install last update)

#### Connection specification:
- Database name and version => version seems to be Mysql 5.5.68 on Plesk server. I've not understood which name I have to write (not the

[2021-02-19 18:48] chriswatkins314 commented on #10234
Thanks, I will try that at the next upgrade. The reboot worked again for me this time. On reboot, I still get the blinking splash screen at first, but it eventually opens after a couple of min.

[2021-02-19 23:20] IrribarraForcast commented on #9181
Having this same issue when trying to Save file, open file in a postgresql server managed via google cloud sql proxy, using Ubuntu 16.04, Dbeaver version is 7.3.5.202102141704

[2021-02-20 00:09] vlad88sv commented on #8745
Looks like there's something wrong with the driver and Aurora RDS in general:

![DBeaver EE AWS Aurora MySQL](https://user-images.githubusercontent.com/91489/108574607-80d95e00-72dd-11eb-88d6-3b7d3fff33ef.gif)

[2021-02-20 01:34] Sarke commented on #8584
Same.

[code]

[2021-02-20 06:33] kseniiaguzeeva opened #11434 "Add DBeaver necessary info in .exe file properties"
We should add Program name, company name, version number to .exe file properties.

[2021-02-20 08:29] uslss commented on #10862
@mitchellrj thanks for the answer.
Could you provide how you configure DBeaver?
For now, we support token that is saved with aws cli only

[2021-02-20 08:32] uslss commented on #9480
verified

[2021-02-20 08:32] #9480 closed

[2021-02-20 09:31] uslss commented on #11346
Items list is blinking in case of using Up button
![2021-02-20_12h30_03](https://user-images.githubusercontent.com/31996417/108591007-82effb00-7377-11eb-98b8-8ceed7aee633.gif)

[2021-02-20 10:25] mitchellrj commented on #10862
SSO credentials are time-limited, like STS credentials are. This authentication flow is supported in the AWS CLI v2 only, and the credentials are stored differently. Once you have these credentials to authenticate with AWS, getting a token for database access is the same process.

If you don't have access to AWS SSO, you can see the user experience in [this YouTube video](https://www.youtube.com/w

[2021-02-20 11:17] uslss commented on #10480
verified

[2021-02-20 11:17] #10480 closed

[2021-02-20 11:42] LonwoLonwo commented on #8181
Hello @mkgrgis
Have you tried using "Custom view" with no flags?
![2021-02-20 14_38_11-](https://user-images.githubusercontent.com/45152336/108594188-770d3480-7389-11eb-8d15-efb4bb96e49a.png)

![2021-02-20 14_35_00-DBeaver Enterprise 21 0 0 - RDB$INDEX_NAME](https://user-images.githubusercontent.com/45152336/108594189-783e6180-7389-11eb-833a-a5c6871114b0.png)

In this mode I don't see system table

[2021-02-20 12:26] LonwoLonwo commented on #10492
@teklstudio Hello. Have you tested new versions? Is bug still there?

[2021-02-20 12:36] DorwinDT commented on #10492
yes, I have bug...
my version is
[cid:image001.png@01D7078D.6DA78FC0]
and view are between tables:
[cid:image002.png@01D7078D.6DA78FC0]

best regards
Peter

From: Anastasiya <notifications@github.com>
Sent: Saturday, February 20, 2021 1:27 PM
To: dbeaver/dbeaver <dbeaver@noreply.github.com>
Cc: Peter Turčan <peter.turcan@tekl.com>; Mention <mention@noreply.github.com>
Subject: Re: [dbeaver/dbeaver

[2021-02-20 12:39] DorwinDT commented on #10492
again :) yes. I have version 7.3.5.202102151746
andviews are still between tables...

[2021-02-20 12:45] LonwoLonwo commented on #10492
Can you please show result of this query
`SELECT * FROM RDB$RELATIONS WHERE RDB$RELATION_NAME='SIZELIST1'`
Because this is the system table from which we read all the data about tables and views.

[2021-02-20 12:55] DorwinDT commented on #10492
here it is uploaded:
https://ibb.co/0fktkNk

[2021-02-20 13:05] flambchap commented on #10857
Hello @landv. I can't reproduce the issue against the current version (7.3.5). I want to ask you a few questions.

* Are you experiencing this issue with the current version at the moment?
* If so, did you install DBeaver with the deb package or using snap?
* Could you please show me the contents of the dbeaver.desktop file before the changes that seem to cure your problem?

Thank you.

[2021-02-20 14:03] LonwoLonwo commented on #10853
Fixed in 21.0.0

[2021-02-20 14:05] flambchap commented on #10620
Fixed.

[2021-02-20 16:16] Singa-dev opened #11438 "Can not get the latest data"
#### System information:
- MacOS Big Sur Version 11.2(20D64)
- DBeaver EE Version 7.3.0.202012061950
- Additional extensions

#### Connection specification:
- MySQL 8
-
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
-- Yes use SSH tunnels

#### Describe the problem you're observing:
I am sure I have been inserted a new data, but I can not get this data by command select.
When i restart DBeaver

[2021-02-20 16:38] mkgrgis commented on #8181
Thanks, @LonwoLonwo, this flags works. It was the problem with _advanced_ mode as default.

[2021-02-20 17:15] rbalslev commented on #9890
I have this problem too (as far as I can see). Viewing data which is really "Vælg" and reported as such in other DB clients, I get "VÃ¦lg" in DBeaver. Obviously a pretty big problem...

[2021-02-20 17:50] sfog17 commented on #4516
I have a similar problem
The work around with "Shell Commands in connections settings" doesn't work for me

The only solution I found so far is to:

- Connect to the jumphost (`ssh jumpuser@jumphost`)
- From the jumphost, local forward the port (`ssh -f -N user@target -L portJump:localhost:portDB`)
- Then go back to my local machine and I can connect via DBeaver (SSH tab, host: jumphost, user: jum

[2021-02-20 18:04] findepi opened #11439 "Use getLargeUpdateCount() to retrieve update count for a query"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A user reported using DBeaver with Trino and being confused by the update count show as 2147483647 for a `CREATE TABLE AS ...` query that actually created more rows.
The value 2147483647 comes from https://github.com/trinodb/trino/blob/58e

[2021-02-20 23:02] nihirisuto commented on #2316
Coming to DBeaver from SSMS & Azure Data Studio this is kind of driving me mad lol. I'd love the option at least, even if it's off by default.

For the record DBeaver is probably the most recommended cross-OS application for cross platform use in SQL Server environments where employees can use either a Mac or Windows. Chances are the majority of those workers are using SSMS where the tab completio

[2021-02-21 07:53] armandoclasslife commented on #6045
Hi guys, I want to twist the twister.

What I would like to have is to fit the longest one between column and content.

I am on Linux. If you fit to the content and the column name is longer than the content, the column name is truncated. So I would like to fit to the longest one between the column name and the content, so that I would always see the column name and the column content entirely.

I

[2021-02-21 09:01] BRCHDN commented on #6045
I am out of the office until 01/03/2021.

Note: This is an automated response to your message  "Re: [dbeaver/dbeaver]
Need option in Layout to resize column but fit column name (#6045)" sent on
21/02/2021 08:53:56.

This is the only notification you will receive while this person is away.
Unless otherwise specified, this e-mail message (including its attachments) contains confidential information

[2021-02-21 12:35] spinjector commented on #2316
This is off-topic, but...yes, DBeaver is freekin amazing. :)

[2021-02-21 12:45] LonwoLonwo commented on #8181
Advanced is advanced)

I have added triggers and sequences in system object list. Now with settings - custom view without any flags - system tables, views, triggers and sequences are not in object list. In Firebird.

[2021-02-21 13:33] iwantmyway commented on #11366
Thank you so much. You are life saver.
It is exactly what I need.

[2021-02-21 13:33] #11366 closed, assigned to nobody

[2021-02-21 15:33] KevinBurton opened #11441 "Clone SQL Database or multiple tables to MariaDB?"
**Is your feature request related to a problem? I see from DBeaver that there is an option to export data from individual tables from SQL Server. Then I could import that data into a MariaDB database/table. I basically want to be able to clone the "schema"  for a table including the table name AND copy the data in that table from MS SQL to MariaDB. Ideally I would like to do this for all the table

[2021-02-21 18:05] piotrku commented on #11414
The same here:

Error executing tool 'Dump database'
Reason:
java.lang.NullPointerException

for:
DBeaver Version 7.3.5.202102151746
macOS 11.2.1 (Big Sur)
Driver: MySQL Connector/J [mysql-connector-java-8.0.17 (Revision: 16a712ddb3f826a1933ab42b0039f7fb9eebc6ec)]
Server URL: jdbc:mysql://localhost:33060/
Server Server: MySQL [8.0.23-0ubuntu0.20.04.1]
[code]

[2021-02-22 09:08] dmetzler1988 commented on #8151
I also have an issue with dark theme (Community Edition - Version 7.3.5.202102151746).

On my dark theme only the Info/Warning popups is white and can't be read.
![image](https://user-images.githubusercontent.com/8446518/108686372-9cb74c80-74f5-11eb-8e8c-89630bfc5cc7.png)

@mnt1979
This issue you have does not occur on my machine with the current version.

[2021-02-22 10:27] btanner2 commented on #10852
I just found the solution. I just copied the zip content from dbeaver download into the existing dbeaver directory. This caused the endless loop after I started dbeaver. After creating a new directory, dbeaver starts normally. The settings are saved somehwere else, so nothing was lost.

Problem solved.

[2021-02-22 12:29] mitchellrj commented on #10862
[The AWS Toolkit for Jetbrains](https://github.com/aws/aws-toolkit-jetbrains) also [added support for this](https://github.com/aws/aws-toolkit-jetbrains/issues/1238) in version 1.18.

[2021-02-22 12:32] zolthan commented on #10395
And still on 7.3.5 :-( No one cares...

[2021-02-22 12:49] chinwobble opened #11448 "Automatically assosciate all scripts to the same data source"
I have hundreds of sql scripts that all act on the same database.
I imported them into a dbeaver project.
I want them all to be associated with the one connection I setup.

**Describe the solution you'd like**
Add "associate to data source" with the right click menu of a folder.
This will allow all scripts in a folder to be associated.

**Describe alternatives you've considered**
Manually assoscia

[2021-02-22 15:08] flambchap commented on #11346
Fixed this problem as well.

[2021-02-22 15:08] flambchap commented on #11414
Fixed.

[2021-02-22 15:22] gv8349 opened #11449 "DBeaver - JDBC Driver Setup"
#### System information:
- Windows 10
- DBeaver version - Version 7.3.5
- Java version -- Not Sure
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
I'm not able to install the jdbc drivers that are needed and not able to download and isntall JDBC drivers

[2021-02-22 15:29] 2019-05-10 commented on #11368
[thread-dump.txt](https://github.com/dbeaver/dbeaver/files/6023021/thread-dump.txt)
[thread-dump2.txt](https://github.com/dbeaver/dbeaver/files/6023022/thread-dump2.txt)

[2021-02-22 16:25] patrickkidd commented on #6536
This does not work on Big Sur. The option is checked and horizontal scrolling is still per-column when using the trackpad wheel. It is smooth when dragging the horizontal scrollbar but the scrollbar is not always visible and is so cumbersome to grab by making it appear and then grabbing it before it disappears that it is quite frustrating.

[2021-02-22 16:38] patrickkidd commented on #10184
+1 For this issue. It is very difficult to use the data view without smooth scrolling with the trackpad. Thank you!

[2021-02-22 17:04] daniel-sali opened #11450 "Current schema selection fails for Snowflake connections"
#### System information:
- Operating system (distribution) and version: **Mac OS Mojave 10.14.6**
- DBeaver version  **Version 7.3.5.202102151746**
- Additional extensions **None**

#### Connection specification:
- Database name and version **Snowflake 3.12.9**
- Driver name **snowflake-jdbc-3.6.8.jar**
- Do you use tunnels or proxies (SSH, SOCKS, etc)? ** No **

#### Describe the problem you're o

[2021-02-22 17:39] LonwoLonwo commented on #10937
Fixed in 21.0.0
Default DDL for UI-created event fixed.

[2021-02-23 03:03] ShiShiDaWei opened #11451 "Maven Mirror"
How do I change the Maven mirror address?
Because the network in my area is so bad.

[2021-02-23 04:45] #11451 closed, assigned to nobody

[2021-02-23 08:48] cqyisbug commented on #11414
nice

[2021-02-23 08:50] lxkplus commented on #11147
Thank you for your reply.
This problem has been solved, I have set up SSH, now there is no problem using it.
But I think the strange thing is that when I use proxifer, dbeaver can't proxy through proxifer.
When using agent, dbeaver always seems to say: I have my own agent system. You look down on me when using this kind of software. Then he won't go.

I don't know if this is a bug.
Thank you again

[2021-02-23 09:08] mikkk3l opened #11452 "DBeaver hangs with many templates"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 7.3.5
- Java version 1.8
- Additional extensions

#### Connection specification:
- Database name and version DB2
- Driver name JDBC
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing: I have 252 templates. When clicking in the templates view over three tim

[2021-02-23 09:13] mikkk3l commented on #11452
I attach a video of the behaviour:

![2021-02-23_DBeaver_manyTemplatesHangs](https://user-images.githubusercontent.com/15341836/108822668-af965380-75bf-11eb-8295-260f8e08b36c.gif)

[2021-02-23 09:41] sacb2 commented on #5897
Work for me on Debian 9 Dbeaver 7.3.3. Thanks!

[2021-02-23 10:31] michal-bartak opened #11453 "[postgresql] How to not change search_path when selecting database"
#### System information:
- Win/Linux
- 7.3.5

#### Connection specification:
- Postgresql
- org.postgresql.Driver
- No

#### Describe the problem you're observing:
How to disable changing search_path every time when selecting database if several databases are contained by postgresql cluster?
The only workflow I know to change database is to use of this selector:
![obrazek](https://user-images.gith

[2021-02-23 10:42] bjkluft opened #11454 "Trigger code from Oracle db not viewable"
#### System information:
- Windows 10 Pro
- DBeaver version 7.3.5.202102151746
- Java version 1.8.0_181-b13

#### Connection specification:
- Oracle jdbc driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
I'm not able to view the trigger declarations, using a Oracle Instant Client with the same database and user I'm able to view the trigger co

[2021-02-23 11:17] uslss commented on #11416
verified

[2021-02-23 11:17] #11416 closed, assigned to serge-rider, uslss

[2021-02-23 11:20] p91paul opened #11455 "[Oracle] Wrong object type for partitioned tables synonyms"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 7.3.5
- Additional extensions n/a

#### Connection specification:
- Database name and version Oracle 11
- Driver name ojdbc19
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n/a

#### Describe the problem you're observing:
I have a synonym to a partitioned table; DBeaver joins ALL_SYNONYMS with A

[2021-02-23 11:21] uslss commented on #10853
verified

[2021-02-23 11:21] #10853 closed, assigned to uslss, LonwoLonwo

[2021-02-23 11:22] uslss commented on #11346
verified

[2021-02-23 11:22] #11346 closed, assigned to flambchap, uslss

[2021-02-23 11:27] uslss commented on #8181
verified

[2021-02-23 11:27] #8181 closed

[2021-02-23 11:28] uslss commented on #10937
verified

[2021-02-23 11:28] #10937 closed, assigned to uslss, LonwoLonwo

[2021-02-23 12:10] mkgrgis commented on #8143
pg_dump & pg_restore still not use SSL settings.

[2021-02-23 13:50] Lautenschlager-id opened #11457 "Connection won't be kept alive when set up through a VPN"
#### System information:
- OS Version: Windows 10 Version / 10.0.19041 Build 19041
- DBeaver version: 7.3.5.202102151746

#### Connection specification:
- MySQL
- Remote connection using a VPN

#### Issue
For some reason that I'm unable to understand, the remote connection I'm using through a VPN is failing to keep the connection alive. Every query I perform requires the system to reconnect to the

[2021-02-23 14:22] rashidhussainshah commented on #1764
press alt + insert key, its working fine in my laptop, my Dbeaver Version 7.3.5.202102151746

[2021-02-23 14:43] kseniiaguzeeva opened #11458 "Roles tab exists in a role editor"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version  7.3.5

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
Open a role in Metadata Editor
![dbeaver_E9taRpCKig](https://user-images.githubusercontent.com/51405061/108859706-8c3ec900-75fe-11eb-8de8-6f0dd5735c38.png)

[2021-02-23 14:55] palbr commented on #6997
Update: I just tested dbeaver 7.3.5 and my CSV-export-file now contains numbers with comma as decimal separator.

I used the following settings in "Data Formats" :

![DBeaver Data Format properties](https://user-images.githubusercontent.com/2083705/108860566-9bb61600-75ee-11eb-886b-8c07e007b09a.png)

Especially:
- Locale = "de_DE"
- "Disable numeric formatting" is disabled (seems to be unimportant

[2021-02-23 15:09] #6997 closed

[2021-02-23 15:35] uslss commented on #11454
hi @bjkluft ,
cannot reproduce the issue. works ok for me,
![image](https://user-images.githubusercontent.com/31996417/108866934-bc3d9a80-7605-11eb-8097-21c697aa28ce.png)
Can you share how declaration tab looks for you? Thanks in advance

[2021-02-23 15:37] uslss commented on #11450
thanks for the report

[2021-02-23 16:01] uslss commented on #11431
Hi @DKholev ,
could you provide an error log and steps to reproduce an issue?

[2021-02-23 16:08] uslss commented on #11349
Hi @moesio ,
cannot reproduce it. Can you check keybindings in preferences?
![image](https://user-images.githubusercontent.com/31996417/108871782-8c44c600-760a-11eb-9fc1-6decb416ffe3.png)

[2021-02-23 16:22] uslss commented on #11409
Hi @aisbergde ,
you can open the editor using Shift+Enter when the needed cell is chosen.
Also, you can change double-click behavior in preferences.
![image](https://user-images.githubusercontent.com/31996417/108873711-76380500-760c-11eb-927e-5be1d7eb72d5.png)

[2021-02-23 16:23] #11409 closed, assigned to nobody

[2021-02-23 16:48] uslss commented on #11417
Hi @Carlos-SS-PMI ,
you can use MySQL connection for 8+ versions and MySQL 5 connection for 5+ version
![image](https://user-images.githubusercontent.com/31996417/108877154-0297f700-7610-11eb-9056-b24eca8b2b75.png)

[2021-02-23 17:09] uslss commented on #11438
Hi @Singa-dev ,
unfortunately, cannot reproduce an issue.
Do you use sql editor or UI to insert new values? Can you provide more steps to reproduce an issue (probably video)?

[2021-02-23 17:59] dextok commented on #11410
What's your dbeaver version and platform? I think ER diagram is saved as **erd** format by default. You can press **Ctrl + S** or hit the save button to save your diagram in ER diagrams folder.

[2021-02-23 22:36] giannineves commented on #8673
I have a similar issue. When using a simple TO_DATE command, I have the return bellow:

SQL: SELECT TO_DATE('2021-07-01', 'yyyy-MM-dd') FROM dual

![Image 7](https://user-images.githubusercontent.com/22803560/108917295-82689600-75fd-11eb-8a5a-8f053f292412.jpg)

[2021-02-24 02:32] leezm opened #11460 "Enhance Search Module PLZ!"
**Is your feature request related to a problem? Please describe.**
The current search function cannot find codes in the database, etc.
**Describe the solution you'd like**
Refer to oracle sql developer 'Find database objects'
![image](https://user-images.githubusercontent.com/24444492/108938644-6e6b7580-768b-11eb-82ff-00ca416f8cf3.png)

**Describe alternatives you've considered**
...
**Additional

[2021-02-24 06:43] armandoclasslife opened #11461 "max between column and content width"
Hi guys, I want to twist the twister.

What I would like to have is to fit the longest one between column and content.

I am on Linux. If you fit to the content and the column name is longer than the content, the column name is truncated. So I would like to fit to the longest one between the column name and the content, so that I would always see the column name and the column content entirely.

I

[2021-02-24 06:44] vadim3004 opened #11462 "[Google Cloud Sql] DBeaver 7.3.5 - Cannot connect to Postgres via Google Cloud SQL connection"
#### System information:
- Operating system: Windows 7
- DBeaver version: 7.3.5
- Java version: 8 update 121

#### Connection specification:
- Database: Postgres 13
- Not using tunnels/proxies

When trying to connect with Google Cloud Sql driver, the following error is displayed:
[code]
The same database works fine with regular Postgres connection.

[2021-02-24 08:21] feeva opened #11464 "User interface language won't change"
#### System information:
- Windows 10
- DBeaver 7.3.5

#### Describe the problem you're observing:
Changing user interface language from the preferences window has no effect. After restarting DBeaver, I don't see any change.

#### Include any warning/errors/backtraces from the logs
I couldn't find any relavant messages from logs.

[2021-02-24 08:29] honey-yogurt opened #11465 "Over 70s can not open a table even an empty table"
os : macOs 10.15.7
dbeaver version : 7.3.5
java version: 8
drive：8.0.17
When I open one table  ,it always costs over 70s ,even an empty table. how can I solve it?

[2021-02-24 08:29] kseniiaguzeeva commented on #11458
Expected

[2021-02-24 08:29] #11458 closed, assigned to nobody

[2021-02-24 08:34] honey-yogurt commented on #11465
And it always notices :  DataSource was invalidated, live  connection count 2/2

[2021-02-24 08:47] p91paul commented on #11465
you failed to mention which database are you on, but you can try setting the connection keep-alive timeout on connection settings

[2021-02-24 10:21] uslss commented on #11414
verified

[2021-02-24 10:21] #11414 closed, assigned to flambchap, uslss

[2021-02-24 10:21] sdudnic commented on #11410
I use the latest version, just downloaded. at time asking.

As I told, there is no need to save the **picture**, but to save the diagram objects disposal.

Because I want my diagram objects be disposed in a way, not auto arranged. When I update/reload the diagram from the database, I would like to keep my objects in the same place, not rearrange each time the tables are updated.

[2021-02-24 10:22] sdudnic commented on #11410
I use the latest version, just downloaded. at time asking.

[2021-02-24 10:27] uslss commented on #11410
@sdudnic do you try to use Save the current contents button?
![image](https://user-images.githubusercontent.com/31996417/108987138-feb5b480-76a3-11eb-9d1c-5f1583b62392.png)

[2021-02-24 10:29] uslss commented on #10040
There is no update on the issue for a long time.
If the issue is still actual for you - feel free to reopen it.

[2021-02-24 10:29] #10040 closed

[2021-02-24 10:30] #10934 closed, assigned to nobody

[2021-02-24 10:30] uslss commented on #11105
There is no update on the issue for a long time.
If the issue is still actual for you - feel free to reopen it.

[2021-02-24 10:30] #11105 closed, assigned to nobody

[2021-02-24 10:30] uslss commented on #10965
There is no update on the issue for a long time.
If the issue is still actual for you - feel free to reopen it.

[2021-02-24 10:30] #10965 closed, assigned to nobody

[2021-02-24 10:31] uslss commented on #11025
There is no update on the issue for a long time.
If the issue is still actual for you - feel free to reopen it.

[2021-02-24 10:31] #11025 closed, assigned to nobody

[2021-02-24 10:31] uslss commented on #10245
There is no update on the issue for a long time.
If the issue is still actual for you - feel free to reopen it.

[2021-02-24 10:31] #10245 closed

[2021-02-24 10:31] kseniiaguzeeva commented on #10395
Sorry for not responding here directly. We are looking for a reason. Which Eclipse version do you have?

[2021-02-24 10:32] uslss commented on #10988
There is no update on the issue for a long time.
If the issue is still actual for you - feel free to reopen it.

[2021-02-24 10:32] #10988 closed, assigned to nobody

[2021-02-24 10:33] bjkluft commented on #11454
Hello uslss,

We managed to solve the issue ourselves. We had to explicitly allow the user (me) to view the trigger data.
Thank you for your reply.

[2021-02-24 10:33] #11454 closed, assigned to nobody

[2021-02-24 10:33] uslss commented on #10146
feature request related #11448

[2021-02-24 10:33] #10146 closed

[2021-02-24 10:34] sdudnic commented on #11410
is not really clear what the button does. Where do it saves, what mean "contents".

Suppose the scenario. I do a diagram, move objects. At a moment I
a) "save" the diagram
b) close the **diagram**.
c) close the **DBeaver**.
d) **modify** tables.
e) Open DBeaver...

Where should I search for my "saved" diagram to see the DB modifications?

[2021-02-24 10:41] uslss commented on #11410
Previously created diagrams could be found in ER diagram folder at Project tab if you talk about [Custom diagrams](https://github.com/dbeaver/dbeaver/wiki/Custom-Diagrams)
Also ER diagrams are available for objects like table or schema at ER Diagram tab - https://github.com/dbeaver/dbeaver/wiki/Database-Structure-Diagrams

[2021-02-24 10:43] kseniiaguzeeva commented on #10654
@aisbergde I agree that the option to change language has to work correctly and it is going to be fixed in 21.0.1 release.
We gave preference to other tasks for some time, because there was the workaround

[2021-02-24 10:44] ShadelessFox commented on #10713
Hello @rjmurray54,

This is not a DBeaver problem - this is how PostgreSQL works. **Temporary tables are dropped at the end of the session, along with all objects that depend on it**. The solution is (that, in fact, was already mentioned) is to make the table non-temporary or create custom type instead of table.

https://www.postgresql.org/docs/9.3/sql-createtable.html

[2021-02-24 10:44] #10713 closed

[2021-02-24 10:44] kseniiaguzeeva commented on #10971
@pgodfrin-nov  please clarify what do you mean.

[2021-02-24 10:52] sdudnic commented on #11410
When I open a database, go to Tables and ViewDiagram

![image](https://user-images.githubusercontent.com/35489219/108990051-a4622700-7696-11eb-852f-9a4b3b15ca41.png)

I obtain a "dbo" "ER Diagram". When I click on "Save" where is it saved to open it?

because I have any .erd file, and any entry in the "ER Diagrams" folder...

[2021-02-24 11:00] emretuna01 commented on #10886
yeah, as you say it works with git. is it possible to using without git and seeing changes instantly.

Can this be considered as a feature request

[2021-02-24 11:05] sdudnic opened #11467 "saved svg images does not contain the whole diagram"
#### System information:
- Operating system (distribution) and version: Windows 10 x64
- DBeaver Version 7.3.0.202012061950
- Additional extensions

#### Connection specification:
- Database name and version Sql Server
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
saving the diagram as svg file saves a document witch view does not con

[2021-02-24 11:06] miky-schreiber commented on #8705
@serge-rider , Any chance to show also number of rows, not only table size?

[2021-02-24 11:26] serge-rider commented on #10862
@mitchellrj
7.3+ EA version IAM authentication already supports options 2 and 3.
![image](https://user-images.githubusercontent.com/6398845/108993643-eba6e280-76ab-11eb-9b0c-06365e0bb8b2.png)

Setting Credentials to `System default` will load CLI credentials file from `~/.aws/credentials`. It will also user session token.

Example of creds file:
[code]

If it doesn't work in your case - please wri

[2021-02-24 12:07] zolthan commented on #10395
How can I find out? I don‘t use Eclipse. So I use the version that comes with DBeaver.

[2021-02-24 12:33] troogyt commented on #10826
Thank you. It worked.

[2021-02-24 12:43] kseniiaguzeeva commented on #11399
Unfortunatelly I cannot reproduce it. Please send a video, where you reproduce it.

[2021-02-24 12:47] kseniiaguzeeva commented on #11465
Could you please send the database and what query is running in Query Manager at this time (Window>Show view>Query manager). Enable all query types here:
![dbeaver_aakNPCHUia](https://user-images.githubusercontent.com/51405061/109002689-940e7400-76b7-11eb-9be8-9c48f2d18e0a.png)

[2021-02-24 12:51] pgodfrin-nov commented on #10971
It would be nice to have the Solarized themes, or even any of the dozens that are out there for other products.

[2021-02-24 12:55] kseniiaguzeeva commented on #11464
It will be fixed in ticket https://github.com/dbeaver/dbeaver/issues/10654.
As a workaround open properties of DBeaver label and delete (or set if you need in English)  `-nl en` from object line.  You will be able to change language in Preferences>User interface in DBeaver after this.

[2021-02-24 12:55] #11464 closed, assigned to nobody

[2021-02-24 12:57] rjmurray54 commented on #10713
Dear Sir / Madam,

Thank you for responding to my perceived issue with DBeaver.  I come from a SQL Server background and the SQL Server -vs- PostgreSQL handles temporary tables or rather objects that are associated with temp tables, totally different.  When a temp table, whether it be local or global, is deleted at the end of a session, only the table is removed and not ALL objects associated to i

[2021-02-24 13:16] ShadelessFox commented on #10713
I'm sorry for confusing you by mentioning the ability to use the custom type in this case. I haven't noticed that there's a loop in your function that inserts values into the table, hence may result in multiple rows. I was thinking about using custom type as a _tuple_ to store several values in instead of utilizing the table, but that's not your case, because it would be only suitable for one _row

[2021-02-24 13:39] yiding-he commented on #11399
@kseniiaguzeeva Sure, so this is my screen recording as a demonstration of this issue:

[2021-02-24 14:53] knbknb commented on #8788
This does hold for the PNG-file writer, but does not hold for the SVG plugin, here the image is still cropped.

[2021-02-24 14:56] kseniiaguzeeva opened #11471 "Case sensitive option doesn't work in Full-Text search"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 7.3.5 EA

#### Connection specification:
- Database name and version SQL Server

#### Steps to reproduce, if exist:
1. Open full-text search and enter a word from a table in incorrect case
2. Enable Case sensitive search and begin the search

Expected: the value is not found because the wrong case were e

[2021-02-24 14:56] thomich commented on #7521
tried snap package on ubuntu 20.04 and also can't get native client running, even no permissions to /usr/bin..
installed -deb package from https://dbeaver.io/download/ and now all fine...

i just needed to set /usr/bin as native client home dir:
![image](https://user-images.githubusercontent.com/4398840/109018919-cff60900-76b8-11eb-8b92-66d6d8de9a23.png)

[2021-02-24 14:59] knbknb commented on #11467
I have the same problem, on Ubuntu Linux, 20.04, dbeaver 7.3.5,      DBeaver SVG Extension	1.0.87.202102141704

There was a [workaround from 2019](https://github.com/dbeaver/dbeaver/issues/3099#issuecomment-490088699) for the PNG file writer, but it does not work for me and the SVG writer.

[2021-02-24 15:06] LonwoLonwo commented on #10347
Can't reproduce.

With this driver
![2021-02-24 17_37_40-Connection _oracle 8_ configuration](https://user-images.githubusercontent.com/45152336/109019781-5cf58e00-76ca-11eb-8a1c-2b787d38fe53.png)

![2021-02-24 18_02_39-DBeaver Enterprise 21 0 0 - _oracle 8_ Script-89](https://user-images.githubusercontent.com/45152336/109020003-9af2b200-76ca-11eb-8f5b-6df1086218c0.png)

May be you changed driver

[2021-02-24 15:11] dave-mclean commented on #5931
MacOs Catalina 10.15.7
dbeaver 7.3.2

Same issue.

I also see the following behaviour:

If I turn on "show key binding when command is invoked" then I can see what command dbeaver thinks is being invoked as I hit it.

I have the following settings:
HOME ->  Start of Line of Text
END -> End of Line of Text
SHIFT+HOME -> Select to start of line of Text
SHIFT+END -> Select to end of line of Text

whe

[2021-02-24 15:41] serge-rider opened #11473 "SSH jump server support"
It is a continuation of #4516

https://stackoverflow.com/questions/26028910/jsch-not-able-to-connect-from-unix-jump-server-to-another-unix-servers-using-j

[2021-02-24 15:42] LonwoLonwo commented on #8181
Also you can change "Show system objects" filter here
![2021-02-24 12_55_31-](https://user-images.githubusercontent.com/45152336/109025747-12771000-76d0-11eb-9250-1e08a2f79689.png)

[2021-02-24 15:59] flambchap commented on #6104
It really turned out to be a caching problem. Fixed.

[2021-02-24 16:00] rjmurray54 commented on #10713
That helped a lot thanks!!

[2021-02-24 16:11] #6104 closed

[2021-02-24 16:11] BytesBytes opened #11476 "Filter doens't work on synonyms in Oracle"
#### System information:
- Operating system (distribution) and version: Windows 10 version 20H2 Build 19042.804
- DBeaver version: 7.3.5.202102141704
- Additional extensions

#### Connection specification:
- Database name and version: Oracle database 12c
- Driver name: Oracle Client 12 - 12.2.0.1.0 - oracle.jdbc.OracleDriver library 21.1.0.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#

[2021-02-24 16:22] mkgrgis opened #11477 "No OPTIONS data for columns of foreign table in DDL or UI"
[x:postgres]

**Postgresql 9.6 +**

**Is your feature request related to a problem? Please describe.**
No `OPTIONS` (SQL lexema) data are displayed for columns of foreign table in UI or in DDL.

**Describe the solution you'd like**
New column for metadata for "Columns" display table for a foreign table
New textarea or area for key/value array for a column of a foreign table

**Additional context**

[2021-02-24 16:28] ppcamp opened #11478 "Change default queries for backup/restore"
When I've tried to use dbeaver to backup my remote server, and then, restore it in my local machine, I've found an error:

This is the default query executed when I've tried to backup my server:
[code]

However, for some reason, it fails when I've tried to restore it.

In my local test, I noticed that the problem was caused by the param `-n public`, i.e, when I execute the same instruction, withou

[2021-02-24 19:37] lrweck opened #11479 "Missing Column on old PG Version"
#### System information:
- Windows 10 19042.804
- DBeaver version: 7.3.5.202102141704

#### Connection specification:
- PostgreSQL 8.3.23
- JDBC
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes, SSH

#### Describe the problem you're observing:

I am getting a error while invalidating connection that makes it impossible to login.

[code]

#### Steps to reproduce, if exist:

Connect to a Postg

[2021-02-24 23:38] Bartman0 commented on #11303
I have:

<img width="694" alt="image" src="https://user-images.githubusercontent.com/6528994/109080963-c04ee280-7701-11eb-8522-e526e69020a1.png">

[2021-02-24 23:39] Bartman0 commented on #11303
I tried 7.3.5 today. That version works also. So maybe my problem was/is specific for 7.3.4 .

[2021-02-25 01:33] fossildoc opened #11480 "ctrl-f Find defaults to cell under cursor"
- Operating system (distribution) and version
- ubuntu 18.04
- DBeaver version
- 7.3.5
- Java version
- 1.8.0_282

- Database name and version
- postgresql  12.6
- Driver name
- jdbc postgresql
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
no
#### Describe the problem you're observing:
ctrl+f (Find) search field defaults to the contents of the cell under the cursor. If the search fails and I

[2021-02-25 01:39] fossildoc opened #11481 "indexed search for ctrl-f Find"
**Is your feature request related to a problem? Please describe.**
DB Full-Text Search has a nice feature: indexed search. This means that only indexed columns, which are generally the most important, and searched, and not other columns which may be irrelevant. This feature is not available on ctrl-f Find, which causes unwanted search hits.

**Describe the solution you'd like**
Add indexed search

[2021-02-25 01:40] sdudnic commented on #11467
Did you try my workaround with inkscape?

[2021-02-25 01:43] fossildoc opened #11482 "regular expressions for DB Full Text search"
**Is your feature request related to a problem? Please describe.**
ctrl-f Find has a nice feature: regular expressions. Would that this were also available in DB Full-Text search; without it, many unwanted hits occur.

**Describe the solution you'd like**
Add regular expresions to DB Full-Text search.

[2021-02-25 01:47] fossildoc opened #11483 "option to disable annoying tooltips"
**Is your feature request related to a problem? Please describe.**
Tooltips are everywhere. It's hardly possible to move the cursor around without having annoying tooltips pop up. An experienced user doesn't need them anymore, but like Freddie Kruger, they keep rising and going forth.

**Describe the solution you'd like**
Give us an option to turn off all tooltips. And I mean all of them.

[2021-02-25 01:56] fossildoc opened #11484 "Stop changing displayed columns hidden by custom filter"
**Is your feature request related to a problem? Please describe.**
Customize Filters allows me to turn off the display of columns which are not relevant to the context I'm working in. But everytime I do a DB Full-Text search, the system will turn on the display of all the columns of every table which has a search hit, even if there are no hits in those columns. This is extremely annoying. The "rem

[2021-02-25 02:07] fossildoc opened #11485 "stop changing column display widths"
**Is your feature request related to a problem? Please describe.**
At startup, the system does not restore the column display widths which existed at the last shutdown, so I have to step through every table and adjust the widths of every column to where I want them. Sometimes the widths seem to be adjusted to allow enough room on the far right for Panels, which I almost never use. At other times,

[2021-02-25 04:02] Actualization opened #11486 "Row coloring via like check against text"
Row coloring currently supports = checks and between two values checks to color rows.

Right clicking a result set or table column -> View/Format option -> Row Colors... option
produces a menu that allows you to color rows based on = value

In addition to the = check and the checkbox to use gradients between two values
it would be useful if coloring via a like or ilike check against text in a colu

[2021-02-25 05:52] kseniiaguzeeva commented on #11361
verified

[2021-02-25 05:52] #11361 closed, assigned to flambchap, kseniiaguzeeva

[2021-02-25 06:06] kseniiaguzeeva commented on #10620
verified

[2021-02-25 06:06] #10620 closed

[2021-02-25 06:37] LonwoLonwo commented on #11479
Hello @lrweck
Please take a screenshot to clarify the version of the base and driver.

![2021-02-25 09_32_45-DBeaver Enterprise 7 3 0 - last_update](https://user-images.githubusercontent.com/45152336/109113278-0ed59e80-774d-11eb-9c68-098736534099.png)

[2021-02-25 06:45] detkliff opened #11487 "invalidate ssh tunnel"
Dbeaver 7.3.5
Postgresql 12

Добрый день. Работаю совсем с другой базой db_lite  и более того, сеть для БД на скрине db_prod  выключена и доступа к этой базе нет.

Тем не менее приложение раз в 2 секунды пытается достучаться до ssh тоннеля, который указан в настройках БД db_prod. Все начинает тормозить.

![изображение](https://user-images.githubusercontent.com/61137576/109113834-a98aa900-775e-11eb

[2021-02-25 06:58] kseniiaguzeeva commented on #6104
verified

[2021-02-25 07:14] kseniiaguzeeva opened #11488 "A query must be executed before performing export if ResultSet was closed"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 7.3.5 EA

#### Steps to reproduce, if exist:
1. Open new SQL Editor and execute a query
2. Close ResultSet
3. Select Export from Query in the context menu

Expected: the export wizard appears
Actual result: ResultSet with grey background appears

https://user-images.githubusercontent.com/51405061/1091164

[2021-02-25 07:30] flambchap commented on #10492
Another fix has been introduced, I hope it will work.

[2021-02-25 07:53] kseniiaguzeeva opened #11489 "Wrong default length for numeric type"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.0 EA

#### Connection specification:
- Database name and version SQL Server

#### Steps to reproduce, if exist:
1. Create a numeric column
2. Save it

**Expected**: the column is created
**Actual resul**t: the column is not created and the error appears:
`SQL Error [2750] [S0001]: Column or paramete

[2021-02-25 08:19] kseniiaguzeeva opened #11490 "Column labels disappear after sorting in create key dialogue"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.0 EA

#### Steps to reproduce, if exist:
1. Open Create unique key dialogue
2. Press Column header in the opened window several times

**Expected**: the columns are sorted ASC/DESC
**Actual result**: the columns are sorted and their labels dipsapear

https://user-images.githubusercontent.com/5140506

[2021-02-25 08:38] DorwinDT commented on #10492
@akilovich great, and in which version it will be available?

[2021-02-25 09:01] serge-rider commented on #11488
Fixed

[2021-02-25 09:21] flambchap commented on #10492
@teklstudio It will be available in 21.0.1, the first 21.0.1 EA containing the fix will be built somewhere in the next week, I'll let you know.

[2021-02-25 09:23] kseniiaguzeeva commented on #11488
verified

[2021-02-25 09:23] #11488 closed, assigned to serge-rider

[2021-02-25 10:02] acicchetti commented on #10347
Hi
I changed the drivers and now the time is displayed correctly.
I found the driver in this link:
[https://www.oracle.com/technetwork/jp/database/enterprise-edition/jdbc9201-083937-ja.html](url)
the file to download is:
classes111.jar
![Cattura1](https://user-images.githubusercontent.com/72074781/109136506-7cd39300-7758-11eb-87b5-07d5c3e7c706.PNG)

and now date-time are displayed correctly.
![Cat

[2021-02-25 10:04] kseniiaguzeeva opened #11493 "Shortcuts Ctrl+Alt+Enter, Ctrl+Enter do not work with focus in SQL Editor and Data Editor"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.0

#### Steps to reproduce, if exist:
1. Save an SQL and close it
2. Open Data Editor/New SQL Editor and press Ctrl+Alt+Enter/Ctrl+Enter

Expected: SQL Console/Recent SQL Editor window is opened
Actual result: no visible changes

[2021-02-25 10:27] detkliff opened #11494 "wrong table boundaries"
Dbeaver 7.3.5
Postgresql 12

There are several columns with timestamp type one after another. Value of next column moved to previous column.

![изображение](https://user-images.githubusercontent.com/61137576/109139987-f3cf5280-777d-11eb-9903-8a4acf69cfaf.png)

![изображение](https://user-images.githubusercontent.com/61137576/109140039-03e73200-777e-11eb-9867-33490ba32ea3.png)

[2021-02-25 10:28] LonwoLonwo commented on #10347
Hurrah! The power of drivers! Good luck with your future work.

[2021-02-25 10:28] #10347 closed

[2021-02-25 10:44] kseniiaguzeeva opened #11495 "Check constraint is not displayed in table DDL"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.0

#### Connection specification:
- Database name and version SQL Server

#### Steps to reproduce, if exist:
Open DDL tab for a  table with check constraint, e.g. ```
CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int CHECK (Age>=1

[2021-02-25 11:40] teson2000 opened #11496 "System tables in firebird needs to be hidden in ERD"
Firebird system tables needs to be hidden by default in the tables list.
Earlier discussion at https://github.com/dbeaver/dbeaver/pull/7223

Although it's possible to set a table filter as

RDB\$%
MON\$%
SEC\$%

they also mess up the ER-diagram.

It believe the list may be based on the version independent
SELECT RDB$RELATION_NAME FROM RDB$RELATIONS
WHERE RDB$SYSTEM_FLAG = 0

[2021-02-25 11:43] flambchap commented on #11478
Hello @ppcamp. It's quite strange that the `-n` flag causes problems, seems more like a bug. Could you please tell me which version of PostgreSQL you use and your OS, and what kind of error DBeaver shows when it fails to restore the database? Thank you.

[2021-02-25 12:12] kseniiaguzeeva commented on #11484
Thank you for suggestion.

[2021-02-25 12:17] kseniiaguzeeva commented on #11496
You can hide them via connection context menu Connection view>Show system objects (disable them)
![dbeaver_xjWO9KLmtW](https://user-images.githubusercontent.com/51405061/109152449-9090f080-777c-11eb-8332-f1b8987b4093.png)

[2021-02-25 12:29] kseniiaguzeeva commented on #11467
Thank you for the report.

[2021-02-25 12:47] serge-rider commented on #11398
This feature will be added in DBeaver EE 21 (the next version).

[2021-02-25 13:11] kseniiaguzeeva commented on #10896
Unfortunately, I still cannot reproduce. Does it fail with 2040 year only? What will you receive with the current year?

[2021-02-25 13:13] kseniiaguzeeva commented on #10971
We are not going to implement new themes, but we support eclipse plugin https://marketplace.eclipse.org/content/eclipse-color-theme. Please try it.

[2021-02-25 13:13] #10971 closed, assigned to nobody

[2021-02-25 13:19] kseniiaguzeeva commented on #11020
How do you set the connection in DBeaver? Please send screenshots. DBeaver Enterprise supports AWS IAM authentication, you can see trial version, the problem shouldn't appear there https://dbeaver.com/trial/.

[2021-02-25 13:21] uslss opened #11500 "Remember last open tab (Data/Properties/ER Diagram) in object editor after application restart"
**Is your feature request related to a problem? Please describe.**
For now, if we switch to Data/Properties/ER Diagram in the object editor, a new editor opens with the last chosen tab in the previous editor. But after application restart default tab resets.

**Describe the solution you'd like**
We should keep the same default tab for the object editor after the application restart.

[2021-02-25 13:21] flambchap commented on #9480
@serge-rider has found a problem leading to NPE.

STR:
1. Open an embedded ER diagram, e.g. Chinook -> Artist -> ER Diagram.
2. Toggle 'persist diagram' twice.
3. A dialog window pops up. Choose 'Yes'.
4. Boom!

The fix is on its way.

[2021-02-25 13:21] kseniiaguzeeva commented on #11320
Thank you for logs. The problem should be in ongres driver. Could you report them?

[2021-02-25 13:23] #11398 closed, assigned to serge-rider

[2021-02-25 13:25] kseniiaguzeeva commented on #11365
Thank you for the report and for the workaround. Looking for a free space in future milestones to fix it.

[2021-02-25 13:29] kseniiaguzeeva commented on #11377
Thank you for the suggestion. The feature is useful, but takes a long time to do it. We are going to return to the ticket later.

[2021-02-25 13:31] kseniiaguzeeva commented on #11378
Thank you for the report. Please send an example. It is hardly possible to find a reason without it

[2021-02-25 13:34] kseniiaguzeeva commented on #11408
It makes sence and will be implemented.

[2021-02-25 13:37] kseniiaguzeeva commented on #11415
Please try Java 11. It should help.

[2021-02-25 13:39] kseniiaguzeeva commented on #11419
Please write in details which support do you need for altibase.
DBeaver allows to create/delete columns via Data Editor, generate SQL scripts etc.

[2021-02-25 13:40] kseniiaguzeeva commented on #11424
Thank you for the report.

[2021-02-25 13:43] kseniiaguzeeva commented on #11428
Please send log files https://github.com/dbeaver/dbeaver/wiki/Log-files.
Why do you use your own Java? DBeaver goes already with it.

[2021-02-25 13:47] kseniiaguzeeva commented on #11430
I agree with you. From the other side, small icons are hard to see. I will convert the ticket into discussion and let's see the demand for this task.

[2021-02-25 13:47] #11430 closed, assigned to nobody

[2021-02-25 13:48] kseniiaguzeeva commented on #11439
It is the interesting issue. Thank you for the report.

[2021-02-25 13:50] teson2000 commented on #11496
Thanks, it works for the table list but ER-diagram is still populated with the (51) system tables.

![fb](https://user-images.githubusercontent.com/1379148/109162632-b7e5be80-7778-11eb-9d4d-8372042dce93.png)

[2021-02-25 13:52] lukaseder commented on #11428
As I said, this H2 feature requires a JDK, not a JRE, as H2 uses the JDK's in-memory Java compilation classes. Dbeaver ships only with a JRE, from what I can tell?

The log files don't contain anything magical other than a hint at H2 requiring classes from the JDK, which aren't included in the JRE:

[code]

My recommendation here is to either ship the JDK, or to use the JDK that `%JAVA_HOME%` poin

[2021-02-25 13:52] kseniiaguzeeva commented on #11441
It is a big dream of many users, but cannot be done now. Please use data transfer option to simplify data migration https://github.com/dbeaver/dbeaver/wiki/Data-migration.

[2021-02-25 13:52] #11441 closed, assigned to nobody

[2021-02-25 13:57] kseniiaguzeeva commented on #11449
You can do it. Here is the instruction https://github.com/dbeaver/dbeaver/wiki/Database-drivers. Ask to reopen the ticket, if you need some other help.

[2021-02-25 13:57] #11449 closed, assigned to nobody

[2021-02-25 14:01] kseniiaguzeeva commented on #11448
Please select your scripts in the folder and press **Assosiate with data source** in the context menu.
![dbeaver_FMCpKcqYUM](https://user-images.githubusercontent.com/51405061/109164061-0b610800-778b-11eb-9857-b0666c656121.png)

[2021-02-25 14:01] #11448 closed, assigned to nobody

[2021-02-25 14:03] kseniiaguzeeva commented on #11452
Thank you for the report.

[2021-02-25 14:07] rajmondburgaj opened #11506 "Icons do not respect colors in black theme"
I enabled the black theme but seems there is a problem with the icons below.

![image](https://user-images.githubusercontent.com/7545874/109164670-fc725980-777a-11eb-89ee-115a20a97abf.png)

Would be nice if the icons respect the theme or to have a dedicated set of icons for black theme!

The same happens with scrollbars but not sure if this can be easily fixed

![image](https://user-images.githubu

[2021-02-25 14:07] teson2000 commented on #11496
It seems to be implemented in the jdbc-driver jaybird, looking at:
https://www.firebirdsql.org/file/documentation/drivers_documentation/java/4.0.x/docs/org/firebirdsql/jdbc/FBDatabaseMetaData.html#getTables(java.lang.String,java.lang.String,java.lang.String,java.lang.String%5B%5D)

So connection on ER-view should probably be:

`tables = dbMetaData.getTables (null, null, "%", new String[] {"TABLE"}

[2021-02-25 14:07] kseniiaguzeeva commented on #11453
You describe the expected DBeaver behaviour. We use search_path for selecting database. If you have any ideas how to do it by different way, we would be happy to know it.

[2021-02-25 14:08] kseniiaguzeeva commented on #11455
Thank you for the report.

[2021-02-25 14:09] bkolb249 commented on #11320
I don't think I understand. What do you mean by "reporting them"?

[2021-02-25 14:12] kseniiaguzeeva commented on #11457
Thank you for the report.
The similar tickets https://github.com/dbeaver/dbeaver/issues/9110 and https://github.com/dbeaver/dbeaver/issues/6903

[2021-02-25 14:14] kseniiaguzeeva commented on #11320
We cannot fix it from our side. It is a problem of Ongres and has to be fixed from its side.

[2021-02-25 14:18] kseniiaguzeeva commented on #11496
Thank you for the report.

[2021-02-25 14:30] ppcamp commented on #11478
Hi @akilovich , what's up? Sorry about the mistake when I was putting the flags. In fact, given the origin of the problem, I thought that it shouldn't be there.

---

- OS: _Kubuntu 20.10; 5.8.0-44-generic #50-Ubuntu SMP Tue Feb 9 06:29:41 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux_
- Remote OS:  _Ubuntu 20.04; 5.4.0-52-generic #57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020 x86_64 x86_64 x86_64 GNU/Linu

[2021-02-25 14:33] lrweck commented on #11479
Hi @LonwoLonwo

![image](https://user-images.githubusercontent.com/26086198/109168125-451b1a00-775d-11eb-860b-081f409f2e9a.png)

[2021-02-25 14:46] alexi-courieux commented on #1968
Hello, I have a similar bug with my DB2 database, when I try to open the triggers 'folder', I have this error: `Internal driver error`.

here is the log file :
[code]

I don't know if I should have started a new ticket, but this bug seems close enough to me.

[2021-02-25 14:56] LonwoLonwo commented on #11479
Ok, sorry.

First check "Read all data types" in PostgreSQL tab.

![2021-02-25 17_53_06-DBeaver Enterprise 21 0 0 - _TEST_ Script-33](https://user-images.githubusercontent.com/45152336/109171116-7f52de80-7792-11eb-8d09-10558ba33729.png)

And then "Test connection".

(This is also workaround for column problem)

[2021-02-25 14:58] lrweck commented on #11479
![image](https://user-images.githubusercontent.com/26086198/109171738-cf18b200-7760-11eb-8912-7ac3d741621c.png)

[2021-02-25 14:59] JCapriotti commented on #9414
Was this able to be reproduced after @MeboGit's example? It happens for me too; not the biggest bug in the world but when you're editing text and your cursor unexpectedly jumps to the start/end of the file, it is pretty frustrating.

For now I'll retrain my brain to use the default shortcuts rather than customized ones.

[2021-02-25 14:59] lrweck commented on #11479
Enabling "Read all Datatypes" makes it possible to login/connect and use DBeaver again.

[2021-02-25 15:10] flambchap commented on #11073
Implemented.

[2021-02-25 15:26] p91paul opened #11508 "Broken autocompletion in grouping panel"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 7.3.5
- Additional extensions: n/a

#### Connection specification:
- Database name and version: Oracle 11
- Driver name: ojdbc19
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n/a

#### Describe the problem you're observing:
Short version: identical to https://github.com/dbeaver/dbeaver/issues

[2021-02-25 15:31] maciey commented on #11073
Cool. Thanks!

[2021-02-25 16:12] michal-bartak commented on #11453
`search_path` is not a command to select database. It sets one or more schemas which are looked into for objects which are not fully qualified (lacks of schema name in identifier).

example
[code]
As you can see, it has nothing to do with database.

Default search_path is set in server configuration. If programmer, or code depends on that, changing search_path (ie in DBeaver  during selecting data

[2021-02-25 16:29] martinandersen3d opened #11509 "[Bug] Projects/Project View - Folder name does not support UTF Characters."
#### System information:
- Operating system (distribution) and version: ubuntu/kubuntu 20.20
- DBeaver version: 7.3.5

#### Describe the problem you're observing:

If I use international letters like à, é, æ, ø, å, ß, in the folder filename, then it will NOT show up in Project/Projects view

Example:

![image](https://user-images.githubusercontent.com/19984581/109183286-10738680-778e-11eb-8168-882

[2021-02-25 16:57] sdn-br opened #11510 "Create or replace procedure fails when using Alt+X (Oracle)"
#### System information:
- Windows 10
- DBeaver version 7.3.5
- Additional extensions

#### Connection specification:
- Oracle

#### Describe the problem you're observing:

When using Alt+X to create a stored procedure, the script fails, because the BEGIN ... END block is parsed separately

CREATE OR REPLACE PROCEDURE P_TEST
IS
   L_DUMMY NUMBER;
BEGIN
   SELECT 1
     INTO L_DUMMY
     FROM DUAL;

[2021-02-25 19:43] sho13 commented on #11414
Hi, i'm experiencing the same issue, is there any news when the fix will be available? Thank you 🙏!

[2021-02-25 20:58] daniel-sali commented on #11450
Additionally, the USE SCHEMA statements sent when opening a new Script for a schema with case-sensitive names are issued without quotes, resulting in an error:

[code]

[2021-02-25 22:31] stdedos opened #11511 "Support leveldb"
Thank you for such an amazing piece of software! I was looking for something like that _forever_, and I cannot believe that it is offered as open source!

(Although, I have to admit, I hate that the UI is based on Eclipse, and _whatever that cat drags with it_ ...)

**Is your feature request related to a problem? Please describe.**
I was wondering if you were willing to support leveldb

**Describe

[2021-02-25 22:34] martinandersen3d commented on #11509
~~workaround (linux) - use folder symlink~~

~~ln -s "/réäl/path" "/linked/path"~~

~~The symlink will show up, as long as it only is az-0-9 chars~~

edit: the symlink folder will show up, but files in it will not open.

[2021-02-26 01:32] sagarwal0303 opened #11512 "issue while using aggregate functions...like max, distinct etc; query doesn't work...Tried in Version : 7.3.5; 7.3.4"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-02-26 06:39] landv commented on #10857
Hello @akilovich ,
You can try installing  deepin system.
This system is deepin (https://www.deepin.org/en/).
install DBeaver .
dbeaver community version is installed without Icon.
Need Modify /usr/share/applications/dbeaver.desktop File, remove WM_ Class,There will be icons.
This is a translator translation, not accurate enough, please understand。

[2021-02-26 07:33] Carlos-SS-PMI commented on #11417
Thanks! Works like a charm! :-)

[2021-02-26 07:34] #11417 closed, assigned to nobody

[2021-02-26 08:27] flambchap commented on #11414
Hi. The fix is included in version 21.0.0 which will be out on Monday.

[2021-02-26 09:14] kseniiaguzeeva opened #11513 "Vertica cannot be connected"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.0 EA

#### Connection specification:
- Database name and version Vertica

#### Steps to reproduce, if exist:
Connect to Vertica

Actual result: error appears:
[code]
[.log](https://github.com/dbeaver/dbeaver/files/6048574/default.log)

Workaround: Use DBeaver EE

[2021-02-26 09:16] kseniiaguzeeva opened #11514 "View cannot be created via UI"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.0

#### Connection specification:
- Database name and version Vertica

Press Create new view

Expected: the window to create new view appears
Actual result: error appears: Can't find node corresponding to new object
[default (1).log](https://github.com/dbeaver/dbeaver/files/6048588/default.1.log)

[2021-02-26 09:18] kseniiaguzeeva opened #11515 "Function cannot be deleted via UI and its DDL is incomplete"
Win10
DBeaver 21.0
Vertica

1. Create a function e.g. CREATE FUNCTION myzeroifnull(x INT) RETURN INT AS BEGIN RETURN (CASE WHEN (x IS NOT NULL) THEN x ELSE 0 END); END;
2. Go to Source tab of the created function and see the statement.

**Expected**: the new function can be created using the statement
**Actual result**: thestatement contains only a part of the statement RETURN CASE WHEN (x IS NOT

[2021-02-26 09:22] kseniiaguzeeva commented on #11513
The driver has to be downloaded manually

[2021-02-26 09:22] #11513 closed, assigned to nobody

[2021-02-26 09:24] kseniiaguzeeva opened #11516 "Create Projection and Sequence via UI"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.0 EA

#### Connection specification:
- Database name and version Vertica

Users should have possibility to create/drop Projection and Sequence via UI

[2021-02-26 10:17] bkolb249 commented on #11320
The problem can be solved by using the newest JDBC driver; _PostgreSQL JDBC Driver version 42.2.19_

I was using Version 42.2.5

[2021-02-26 10:17] #11320 closed, assigned to nobody

[2021-02-26 10:45] ShadelessFox commented on #11512
Hello @sagarwal0303,

Please update your issue with updated form - we can't guess details like what database are you using and etc.

[2021-02-26 11:35] kseniiaguzeeva opened #11517 "Date/timestamp columns convert to varchar during db_db transfer"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0
#### Connection specification:
- Database name and version Vertica

#### Steps to reproduce, if exist:
Export table with date, timestamp column to a new table

**Expected**: structure of target table is identical with structure of source table
**Actual result**: date/timestamp columns convert to var

[2021-02-26 11:37] Henry-Jones opened #11518 "strange chars (little cross) in result columns, SyBase jConnect driver"
Hello,

I use DBeaver for some different database drivers, but this only happens on a SQL Anywhere 12 server:

all fields which are part of the primary key and are of type nchar, are filled after their actual content with litte crosses "†" up to the maximum size.

It's mainly a cosmetic problem, but every now and then it happens that I update a row and the crosses get written for real back to the

[2021-02-26 11:55] Henry-Jones opened #11519 "unable to open SQL Anywhere DB with jTDS driver"
Hello,

If I try to open a SQL Anywhere Database 12 with the jTDS driver the following error occurs:

the top error message means "the database was not found"
the message in the details then states "login failed"

If I open the exact same database with the jConnect driver it works.

What could be the problem here ?

I had opened this issue before but it got tangled with another issue on the same t

[2021-02-26 12:34] kseniiaguzeeva opened #11520 "Tables from different schemas are not colorized in ERD"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0

#### Steps to reproduce, if exist:
1. Open ERD
2. Dnd a table from another schema to the erd

Expected: the table is colorized by another color
Actual result: the table is not colorized

![dbeaver_Lnw1Ec4k0H](https://user-images.githubusercontent.com/51405061/109300772-04e49600-7848-11eb-9aaf-16628

[2021-02-26 12:40] kseniiaguzeeva opened #11521 "Created unique key is not visible in table properties"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0 EA

#### Connection specification:
- Database name and version Vertica

#### Steps to reproduce, if exist:
Open a table properties and create unique key

Expected: the key appears and remains in unique key list
Actual result: the key is not visible in unique keys tab, but exists in the table DDL

[2021-02-26 13:23] kseniiaguzeeva opened #11522 "Custom view doesn't show unique and foreign keys"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0 EA

#### Connection specification:
- Database name and version Vertica

#### Steps to reproduce, if exist:
Set connection view>HIde folders or show only schemas and tables

Expected: Unique keys and foreifn keys remain visible in table properties
Actual result: Columns and DDL tab is visible only, l

[2021-02-26 13:41] kseniiaguzeeva opened #11523 "Edit columns via UI"
Can we support change column names via object editor?

![dbeaver_DcC3W2Z8Dd](https://user-images.githubusercontent.com/51405061/109307237-5d6c6100-7851-11eb-8b67-8d71223bee48.png)

[2021-02-26 13:58] shkpendy commented on #8979
HI,

Can someone comment on this issue?

[2021-02-26 14:32] kseniiaguzeeva commented on #9760
The similar ticket https://github.com/dbeaver/dbeaver/issues/11523

[2021-02-26 14:32] shkpendy opened #11524 "Connection issue for long running queries"
#### System information:
- Operating system (distribution) and version: Windows 10 x64 Pro Vesion 20H2
- DBeaver version: 7.1.0
- Additional extensions

#### Connection specification:
- Database name and version: Vertica 8.0x
- Driver name: jdbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes SSH tunneling

#### Describe the problem you're observing:
If any query is taking more than 4-5 min

[2021-02-26 14:38] WVUTampaAlum commented on #9881
This issue still persist. There must be multiple queries in the window and clicking 'execute SQL Script' more than 1 time keeps opening up multiple result tabs. v7.3.5

[2021-02-26 14:39] kseniiaguzeeva commented on #8956
I cannot reproduce it on Vertica 10. The table is created according the code. Could you please send a picture what is wrong with the created table?

[2021-02-26 14:44] kseniiaguzeeva commented on #8728
Thank you for the report.

[2021-02-26 14:55] ShadelessFox commented on #9881
Hello @WVUTampaAlum,

This is happening because the previous query is not finished at the moment you start a new one.

[2021-02-26 14:59] serge-rider commented on #11072
WE also need to add possibility to define variables in CLI mode.

[2021-02-26 15:00] Chealer commented on #7947
Why is this report closed?

[2021-02-26 15:08] lmaher007 opened #11525 "Advantage Database Server via ODBC"
Not a feature request, but more of a question since I didn't find anywhere to ask simple quesitons.

I'm trying to use DBeaver on an ODBC connection to an Advantage Database Server (versions 8 or 9).

Simple question... Can it be done?

Thank you
Lynne

[2021-02-26 15:25] flambchap opened #11526 "Tip of the day dialog is cropped on macOS Big Sur"
![Screenshot 2021-02-26 at 17 16 32](https://user-images.githubusercontent.com/26031301/109319525-028e3600-7860-11eb-86e7-f6f089be9bc5.png)

[2021-02-26 15:28] kseniiaguzeeva commented on #10886
You already can do it. You and your collegues have to have the same data-source id. Have you tried to copy it from your file to other users files and then to open the linked diagram?:
![image](https://user-images.githubusercontent.com/51405061/109319660-281b3f80-7860-11eb-886b-f8c1a79562ac.png)

[2021-02-26 15:31] kseniiaguzeeva commented on #9414
Unfortunatelly I still cannot reproduce it. It is a bad bug and I appreciate your help. Am I right, that you changed default shortcuts on custom ones and faced the issue?

[2021-02-26 15:33] kseniiaguzeeva commented on #11303
Nice to hear! Please ask to reopen the ticket if you face the issue again.

[2021-02-26 15:33] #11303 closed, assigned to nobody

[2021-02-26 15:35] kseniiaguzeeva commented on #11399
Thank you! I reproduced it with EverEdit.

[2021-02-26 15:41] jetzerb commented on #11364
I wonder if this is related to another of DBeaver's unexpected behaviors:

![image](https://user-images.githubusercontent.com/36859020/109320199-617a8d80-7815-11eb-8298-30ab969b6b46.png)
![image](https://user-images.githubusercontent.com/36859020/109320447-a4d4fc00-7815-11eb-9269-1dbae08b5d86.png)
![image](https://user-images.githubusercontent.com/36859020/109320648-d8b02180-7815-11eb-807a-276bb3b

[2021-02-26 15:42] kseniiaguzeeva commented on #8705
Could you please create a new feature request?

[2021-02-26 15:49] kseniiaguzeeva opened #11530 "Statistics in DB Navigator"
#### System information:
- DBeaver version 21.0.0

#### Connection specification:
- Database name and version Vertica

We should add Statistics support in DB Navigator

[2021-02-26 15:52] kseniiaguzeeva commented on #11014
Cannot be reproduced anymore

[2021-02-26 15:52] #11014 closed, assigned to nobody

[2021-02-26 16:00] kseniiaguzeeva commented on #11062
Thank you for the additional details. Reproduced.

[2021-02-26 16:13] kseniiaguzeeva commented on #11357
Thank you for the report.
**STR**:
1. Create a procedure via SQL Editor e.g. ```CREATE OR REPLACE PROCEDURE HR.add_job_history2
  (  p_emp_id          job_history2.employee_id%type
   , p_start_date      job_history2.start_date%type
   , p_end_date        job_history2.end_date%type
   , p_job_id          job_history2.job_id%type
   , p_department_id   job_history2.department_id%type
   )
IS
BEGIN

[2021-02-26 16:18] kseniiaguzeeva commented on #11426
The statement execution fails here `WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]` with error `OPTIMIZE_FOR_SEQUENTIAL_KEY' is not a recognized CREATE TABLE option`
What do I miss?

[2021-02-26 17:49] aisbergde commented on #11426
@kseniiaguzeeva
You could delete (ignore) `WITH ...`, It does not matter for the calculated columns

the script is originally created when I create a script for any table directly in SSMS (SQL Server Management Studio)

This should be fine to test:

[code]

You can also use any other table containing any calculated column.

BTW, the code above contains "normal" (not persisted) calculated column. B

[2021-02-26 18:21] nmeachen opened #11531 "MS SQL - when authenticationScheme is ntlm, DBeaver does not pass the required username and password properties to the driver"
#### System information:
- Windows 10 20H2
- DBeaver 7.3.5

#### Connection specification:
- MS SQL Server
- MS SQL 8.2.0 JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No
- Connection string that works in IntelliJ and SQL Workbench/J:
- jdbc:sqlserver://{host}\{instanceName}:{port};encrypt=true;authenticationScheme=NTLM;domain=domain.com;trustServerCertificate=true;integratedSecur

[2021-02-26 18:22] flambchap commented on #11526
Fixed.

[2021-02-26 18:36] vrajanap commented on #6903
This is still an active issue with version 7.3.5.

[2021-02-26 19:13] WVUTampaAlum commented on #9881
I'm 100% sure the queries are finished.

[2021-02-26 20:32] lemon-juice opened #11532 "Dump database feature potentially dangerous: easy to overwrite files without warning"
Today I've become a victim of the dump database feature in DBeaver 7.3.5, which makes it too easy to overwrite a file without warning and as a consequence lose data. This is how the dump dialogue window looks for MySQL:

![dbeaver-dump](https://user-images.githubusercontent.com/11840364/109351671-ed260580-7879-11eb-80ab-34cfb2290488.png)

The problem is that pressing the Start button will invoke t

[2021-02-26 20:52] madmurdok opened #11533 "A possibility of using results from existing queries as a source for future queries."
**Is your feature request related to a problem? Please describe.**
Talking about SQL-based databases(Like PostgresSql, Oracle, MySql, etc.)
Usually, when writing the final query, I often create subqueries / auxiliary queries. Especially if the end result is complex enough - it's a common task to check all intermediate queries.

**Describe the solution you'd like**
So, it will be great if I can use

[2021-02-26 21:07] kriansa commented on #7727
I'm also interested in such solution. As a suggestion, it could be possible to setup java command args from a known location (such files on home folder).

[2021-02-26 23:15] gustavofcalmeida commented on #8204
My DBeaver is 7.2, I'm using the first tab, so no custom URL, but never managed to make it work. Always get a timeout.

My setting is this:

(1) Windows 10, Dbeaver 7.2
  --[ssh]-->
(2) Ubuntu server
  --[direct access]-->
(3) Windows server hosting Oracle

(2) and (3) are in the same network. I know (2) can access (3)s Oracle directly, because I use Java programs using the same drivers and JDBC U

[2021-02-26 23:23] ShadelessFox commented on #9881
Please, create a new issue and provide detailed steps how to reproduce it, along with database info.

[2021-02-26 23:50] JaggedJax commented on #8613
It would be nice to have at least a little more history provided as just now DBeaver crashed on me and when I reopened it all my queries were gone. Sigh.

[2021-02-27 08:04] p91paul commented on #11364
@jetzerb I'd say it's 2 different issues: the OP one is most likely caused by the fact that empty line is by default a statement separator, so dbeaver is unable to match the opening and closing because it thinks they are on 2 different statements.

Yours would cause the first line to be properly shown, but not the third, as it applies independently from the presence of an empty line. I suggest you

[2021-02-27 08:09] p91paul commented on #11357
@kseniiaguzeeva in you STR, you are missing a ; in the end of the first statement already, which the OP instead claims is present!

[2021-02-27 08:18] p91paul commented on #8613
@JaggedJax that's a feature available only in the enterprise edition

[2021-02-27 11:37] serge-rider opened #11534 "Auth model replacement support"
A driver may need to replace its default auth model from database native to something more sophisticated (e.g. IAM). It cn be done in the auth model configuration (in plugin.xml). It must happen implicitly.
Model and UI must support this.

[2021-02-27 12:44] qupear commented on #5317
Hopefully this will be solved. Exporting data in Excel with one button is much more easier then any other way. But re-installing office integration after each update makes no sense.

After updating Dbeaver if you look in list of installed software there will be office integration and darkest theme, so they are recognized as installed but there is something in the settings that makes them disabled.

[2021-02-27 13:03] qupear opened #11535 "DevStyle selected menu items colors"
#### System information:
- Operating system Windows 10 64bit 20H2 build 19042.804
- DBeaver version 7.3.5
- Additional extensions Office support and DevStyle (include darkest dark theme)
#### Connection specification:
It does not depend on type of connection.
#### Describe the problem you're observing:
In DevStyle (Darkest Dark theme) there is an issue when currently selected menu items are displa

[2021-02-27 16:37] chephei commented on #2334
For dbeaver 7.3.0 on Linux
select in Type = number and unmark use grouping
![image](https://user-images.githubusercontent.com/31193948/109393519-fefebb80-7900-11eb-8518-1f22be1570a0.png)

[2021-02-28 05:20] cngobd opened #11536 "When will you support influxdb?"
I find that dbeaver not support influxdb, when will you support this database?

[2021-02-28 05:22] leezm opened #11537 "error when use ojdbc8 to connect to oracle"
#### System information:
- win10 ltsc
- 7.3.5

#### Connection specification:
- oracle 11g and oracle 19c
- ojdbc8
- no

#### Describe the problem you're observing:
when use ojdbc8,error like this:
![image](https://user-images.githubusercontent.com/24444492/109408788-cd045c80-79c7-11eb-8f6a-79bcafeb02c9.png)
it's ok when use ojdbc6...
#### Steps to reproduce, if exist:
user ojbc8 to connect to ora

[2021-02-28 07:41] miky-schreiber opened #11538 "Database navigator - see table size"
It would be great to have the table size in terms of number of rows inside the database navigator, similar to the table size in GB that we now have (see PR #8705) -

![image](https://user-images.githubusercontent.com/61650261/109411204-0d081700-79a9-11eb-887f-cd493dbecfef.png)

We can show both table size and number of rows or make it configurable.

[2021-02-28 10:02] F0xD8rk commented on #11357
@p91paul That is correct, the ; is present at the end of the statement when running it. I just noticed that it seems to work when you place the delimiter twice (so ;;) at the end of for example a package body. However, it would still be great if it would work with the one delimiter, because that is also the way it works for the other objects. It would also be a little bit of an annoyance if you ha

[2021-02-28 10:54] kseniiaguzeeva commented on #11532
Thank you for the report. As a wrokaround while you can use -${timestamp} in dump file name pattern. The file name will have current time in the name, and your situation can happen only if you make the dump at the same minute again.

[2021-02-28 10:56] kseniiaguzeeva commented on #11536
The database is supported in Enterprise Edition https://dbeaver.com/

[2021-02-28 11:02] kseniiaguzeeva commented on #11535
Thank you for the report.

[2021-02-28 11:18] kseniiaguzeeva commented on #11531
How do you set NTLM:
on the main page of connection settings
![dbeaver_dMbkJgY6p6](https://user-images.githubusercontent.com/51405061/109416512-c24dc580-79cf-11eb-9d9d-e218b4b06424.png)

or in Driver properties?
![dbeaver_vEXMGInGep](https://user-images.githubusercontent.com/51405061/109416516-c5e14c80-79cf-11eb-886e-2994f744cfbf.png)

If you use Driver properties, please try to set NTLM on the ma

[2021-02-28 11:44] kseniiaguzeeva commented on #11524
Please give me a query example to reproduce.

[2021-02-28 12:01] kseniiaguzeeva commented on #11518
Thank you for the report, but I cannot reproduce it.
Could you send DDL example to reproduce? And what locale do you use (Editors>Data Editor>Data Formats)?

[2021-02-28 12:03] kseniiaguzeeva commented on #11512
Please tell:
- your database,
- DBeaver version,
- how do you apply the functions (via SQL Editor, Panel?..)

[2021-02-28 12:06] kseniiaguzeeva commented on #11510
Thank you for the report.

[2021-02-28 12:14] kseniiaguzeeva commented on #11508
Thank you for the report.

[2021-02-28 13:19] kseniiaguzeeva commented on #11494
I cannot reproduce it.
![dbeaver_8KSjAHijQR](https://user-images.githubusercontent.com/51405061/109419802-490a9e80-79e0-11eb-8461-80d8d86483fd.png)

- What OS do you use?
- Is it standalone DBeaver version?
- Please send DDL of your table.

[2021-02-28 14:02] shkpendy commented on #11524
Hello,

Let me describe more to make you understand.

Firstly it is not query dependent, for instance I was working on a table which contains 100M records. I'm trying to filter the data using some columns and regular expressions. The query should return almost 20M records and I'm using a create statement as well to load this data.

This operation will definitely take time may be 10-15 mins, howeve

[2021-02-28 17:39] nmeachen commented on #11531
It does not work either of your listed ways, the only way I get it to connect successfully using defined credentials and NTLM is to add user properties for user & password. And if you are not running a SQL Browser service, the only way to use the default port 1433 is to add a User property for port also.

<img width="431" alt="user-properties" src="https://user-images.githubusercontent.com/6871244

[2021-02-28 22:52] LonwoLonwo opened #11542 "[Oracle] via UI columns creating problems"
DBeaver 7.3.5
Oracle 12

Steps:
- Open existing Oracle table or create new one
- Create column via UI. Choose data type from the drop-down list and do not change anything after
- Try to save result

This type of data type of Oracle Columns generate incorrect alter statement:
BFILE
CFILE
CONTENT POINTER
DECIMAL
INTERVALs
LONG
LONG RAW
OID
OCTET

![2021-02-25 23_24_11-DBeaver Enterprise 21 0 0 - NEW

[2021-03-01 01:21] sagarwal0303 commented on #11512
Hi,
Database: hive
Version:7.3.4
Used sql Eury in the dbeaver editor.
Please inform if you need any more information.

Thanks,
Shruti

On Sun, Feb 28, 2021 at 7:03 AM Kseniia <notifications@github.com> wrote:

[2021-03-01 01:36] ShadelessFox commented on #11512
Can you provide the query you've used and the error itself? Also [the log files](https://github.com/dbeaver/dbeaver/wiki/Log-files) would be useful.

[2021-03-01 02:16] jyoisamu opened #11543 "It takes a long time to show table size."
#### System information:
- Operating system (distribution) and version
WIndows１０ HOME
- DBeaver version
21.0.0
- Additional extensions
no one
#### Connection specification:
- Database name and version
Mysql5.5.56
- Driver name

- Do you use tunnels or proxies (SSH, SOCKS, etc)?
NO

#### Describe the problem you're observing:
It takes a long time to show  table  size.

#### Steps to reproduce, if e

[2021-03-01 02:17] Kerry0527 commented on #8956
Hi kseniiaguzeeva,
 Thank you for your reply,  [https://imgtu.com/i/6PNrRg](url)

[2021-03-01 02:18] Kerry0527 commented on #8956
Hi kseniiaguzeeva,
Thank you for your reply,  pls follow this pic, https://imgtu.com/i/6PNrRg

[2021-03-01 02:19] jyoisamu commented on #11543
This problem has arisen since the size of the table can be displayed.
And only appear in individual MYSQL databases.

[2021-03-01 05:34] #11465 closed, assigned to nobody

[2021-03-01 06:02] lroolle commented on #4483
For me, It's weird sometimes works fine and sometimes broken, for example, `⌃A` should go to the line start.

![image](https://user-images.githubusercontent.com/14071051/109457522-fdb2c780-7a95-11eb-86ad-2810bd328f4b.png)

DBeaver Version: 7.3.3.202101161839
  macOS Version: High Sierra 10.13.6

[2021-03-01 06:51] kseniiaguzeeva commented on #11423
Thank you for the report.

[2021-03-01 07:11] JamesInform commented on #11478
That seems to be the misconception that a plain backup (setting pg_dump --format=p) can be restored with pg_restore. But it isn't. The parameter "--format=p"  generates a plain sql script that you need to execute using the psql command line client instead of pg_restore.

So as a workaround, if you want to restore your backup, you can use DBeaver's execute sql script functionality:

![image](https:

[2021-03-01 07:13] kseniiaguzeeva commented on #11340
Is it possible to send a video with the issue?

[2021-03-01 07:49] kseniiaguzeeva commented on #11537
I cannot reproduce it in Oracle 12. Please send log files https://github.com/dbeaver/dbeaver/wiki/Log-files.
Please send also screenshot of driver settings (Connection settings>Main tab> Edit Driver Settings)
![dbeaver_ZMMSOdfdd7](https://user-images.githubusercontent.com/51405061/109467100-b91a3280-7a7b-11eb-8ab7-5cc689bb8b27.png)

[2021-03-01 08:08] F0xD8rk opened #11544 "[Oracle] Behaviour filter on top differs from filter in navigation tree (per object type)"
**Describe the solution you'd like**
If you set the result set size to f.e. 250 records, the filter on top does not show objects that you want to filter that are not in the first fetched 250 records of the object types. If you click on the "More" option under f.e. the object type _tables_, then the object with the filtered name is shown correctly.

![afbeelding](https://user-images.githubuserconte

[2021-03-01 08:15] leezm commented on #11537
@kseniiaguzeeva
First of all,I use oracle 11.2.0.4 and 19c,not 12c.
**The error log is as follows：**
!ENTRY org.jkiss.dbeaver.model 4 0 2021-03-01 16:08:54.253
!MESSAGE Operation failed. Retry count remains = 1
!SUBENTRY 1 org.jkiss.dbeaver.model 4 0 2021-03-01 16:08:54.253
!MESSAGE IO 错误: Undefined Error
!SUBENTRY 2 org.jkiss.dbeaver.model 4 0 2021-03-01 16:08:54.253
!MESSAGE Undefined Error
!STA

[2021-03-01 08:27] uslss commented on #10485
there is no update on issue for a long time.
if issue is still actual for you - feel free to reopen it

[2021-03-01 08:27] #10485 closed

[2021-03-01 08:29] howdev commented on #10904
can't use deb file for nojdk? nojdk only available as tar.gz?
Java bundle is not necessary even for deb installer since Linux already has Java installed.

[2021-03-01 08:36] knbknb commented on #11467
No . I tried to open the image file with CHrome and Firefox. Both opened the cropped images instantly, but I didn't really check the SVG code.

The cropped areas are not really findable with "Find in page" feature of the browser.
I do not know much about svg, and the SVG code countless little  `<path>` elements because every table row starts with a little icon for the datatype. That makes the code

[2021-03-01 08:39] kseniiaguzeeva commented on #10887
Similar issues:
[Icons do not respect colors in black theme](https://github.com/dbeaver/dbeaver/issues/11506),
[Notification wrong color theme](https://github.com/dbeaver/dbeaver/issues/10841),
[DevStyle selected menu items colors](https://github.com/dbeaver/dbeaver/issues/11535)

[2021-03-01 08:42] kseniiaguzeeva commented on #9386
Could you please try the latest version https://dbeaver.io/download/? Is the issue still actual for you?

[2021-03-01 08:48] aisbergde commented on #11423
I think the missing linebreak could be fixed by adapting the used CSS and changing some white-space settings

[2021-03-01 08:51] LonwoLonwo commented on #11514
Fixed. Also extra line breaks was removed from DDL view.

[2021-03-01 09:01] dasandeyu opened #11545 "Support Sharding-Proxy connection"
When I connect to the Sharding-Proxy database, the database name is a mandatory option. There are four databases in the same Sharding-Proxy database, and I need to create 4 connections to complete.
such as below:

![image](https://user-images.githubusercontent.com/13783632/109474710-c0f3ca00-7aaf-11eb-8eb3-c7ece3d4d2d9.png)

[2021-03-01 09:36] kseniiaguzeeva commented on #10939
Cannot be reproduced anymore

[2021-03-01 09:36] #10939 closed, assigned to nobody

[2021-03-01 09:49] OscarBan opened #11548 "工具栏大小"
dbeaver支持修改工具栏大小吗

[2021-03-01 09:53] kseniiaguzeeva commented on #11537
Thank you.
Please check the connection settings (host/port, Service name instead of SID?).
Try to use another driver version. It should work with any Oracle, but client's driver version can be important in some cases.

[2021-03-01 10:20] tati-kru opened #11549 "SQL parser: support semantic rules for tables, columns and aliases"

[2021-03-01 10:42] leezm commented on #11537
It's ok  when I use ojbc6,but ojbc8 is the default driver...😂

[2021-03-01 10:58] kseniiaguzeeva commented on #11526
closed

[2021-03-01 10:58] #11526 closed, assigned to flambchap

[2021-03-01 11:12] stefan-dan commented on #8069
With the latest update version 21. This bug reappeared, when trying to back up a database on MariaDB version 10.1.
The error message:
`Task 'MySQL dump' finished at Mon Mar 01 13:06:53 EET 2021
2021-03-01 13:06:54.042 - IO error: Process failed (exit code = 7). See error log.
2021-03-01 13:06:54.043 - java.io.IOException: Process failed (exit code = 7). See error log.
	at org.jkiss.dbeaver.tasks.n

[2021-03-01 12:49] detkliff commented on #11494
WINDOWS 10 64bit

standalone? - what is it?  Dbeaver 7.3.5 community

CREATE TABLE m_g.t_template (
	n_id int4 NOT NULL,
	s_name varchar(1000) NOT NULL
	d_active_from timestamptz NOT NULL,
	d_active_to timestamptz NULL,
	d_create timestamptz NULL
);

[2021-03-01 13:04] ShadelessFox commented on #11393
As a dirty workaround you can use <kbd>Refresh Diagram</kbd> button in the toolbar menu.

[2021-03-01 13:38] flambchap commented on #10857
Okay, now I get it. It actually should be `WMCLASS` as defined in the [Startup notification protocol](https://specifications.freedesktop.org/startup-notification-spec/startup-notification-0.1.txt).

[2021-03-01 14:17] taf1-cornell-edu opened #11553 "Use space to apply template"
Editor Auto Replace would allow the user to have custom replacement strings in the editor.  This is *the* only feature I miss since coming to dBeaver from Toad and would be a huge timesaver.  It could be configured to:
o  autoreplace common typos (e.g.  'form'--> 'from')
o  autoreplace user-defined shorthand for commonly used words.  (e.g.  's * f ' --> 'select * from ',   'gb '--> 'group by ')
o

[2021-03-01 14:28] flambchap commented on #11520
Side effect of [this](https://github.com/dbeaver/dbeaver/issues/11309) fix.

[2021-03-01 14:33] #11534 closed, assigned to serge-rider

[2021-03-01 14:39] sravikrishna3 opened #11554 "dbeaver errors out redshift"
#### System information:
- Macos Big sur
- 7.3.5 and 21.0
- Additional extensions

#### Connection specification:
- Redshift
- redshift-jdbc42-2.0.0.2.
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

After connecting to Redshift when I try to expand a schema and view table list, I get some weird error "portal not found".
Happens in both 7.3.5 and 21.
Attached screenshots and debug log
[dbe

[2021-03-01 15:09] sravikrishna3 commented on #11554
Seems to be a jdbc issue.  When I change the jdbc driver to 1.2.45.1069, everything works fine

[2021-03-01 15:56] tral opened #11555 "Filtering in "Database Navigator" is very slow for databases with many tables"
#### System information:
- MacOS Big Sur 11.2.2
- 21.0.0
- No additional extensions

#### Connection specification:
- MySQL 5.6
- Driver name MySQL 5
- No tunnels or proxies

#### Describe the problem you're observing:
For databases with big number of tables filtering takes several seconds (7-10) and hangs/freezes the application for several seconds. Sometimes after the initial 1st time filtering

[2021-03-01 16:30] stephannv opened #11557 "Custom icon is being overwritten by default icon"
#### System information:
- Mac OS 11.2.1 Big Sur
- DBeaver 21.0.0.202102281712

#### Connection specification:
Not applicable

#### Describe the problem you're observing:
When I setup a custom icon for DBeaver, the startup overwrite it with default DBeaver icon.

https://user-images.githubusercontent.com/3025661/109559526-8a22b180-7ab9-11eb-9830-82b891a52596.mov

#### Steps to reproduce, if exist:

[2021-03-01 17:00] LonwoLonwo commented on #11520
Fixed

[2021-03-01 17:01] coatsden opened #11558 "Editor not respecting multi-line comment"
![DBeaver_EditorCommentIssue](https://user-images.githubusercontent.com/51123206/109530762-fc41c900-7aae-11eb-91b3-b9d7ecd2e08a.gif)

#### System information:
- Operating system (distribution) and version - Windows 10 (2004)
- DBeaver version - 21.0.0.
- Additional extensions - None

#### Connection specification:
- Database name and version - Postgresql
- Driver name
- Do you use tunnels or proxi

[2021-03-01 17:15] andrekutianski commented on #9206
Same problem here to import and export data.

When I try import wizard dbeaver crashes and I get this error log:

*OS: Mint 17
* Dbeaver: 21.0.0

[code]

[2021-03-01 17:21] andrekutianski opened #11559 "Data Transfer Wizard Crashes on any attempt to import data to PostgreSQL"
#### System information:
- Operating system (distribution) and version: **Mint 18 Cinnamon kernel 4.4.0-187-reneric**
- DBeaver version: **21.0.0**
- Additional extensions

#### Connection specification:
- Database name and version: **PostgreSQL 13**
- Driver name: **PostgreSQL JDBC Driver**
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: **No**

#### Describe the problem you're observing:

Wh

[2021-03-01 17:33] 2019-05-10 commented on #11368
[thread-dump3.txt](https://github.com/dbeaver/dbeaver/files/6063370/thread-dump3.txt)
[thread-dump4.txt](https://github.com/dbeaver/dbeaver/files/6063371/thread-dump4.txt)

[2021-03-01 18:07] kseniiaguzeeva commented on #11520
verified

[2021-03-01 18:07] #11520 closed, assigned to LonwoLonwo

[2021-03-01 18:51] AzizHassan6 opened #11560 "Dbeaver Windows Install Issue"
Hello,

Earlier today I tried to set up Dbeaver on my pc. I was able to download the application and install the recommended drivers but was running into issues when running queries.

I checked the error I could see on screen and it seemed like a generic error because it gave me a query error but nothing was wrong with my syntax. I did some digging and looked at the logs and found there were error

[2021-03-01 18:52] rkharkar commented on #8288
Worked for me. Thank you.

[2021-03-01 18:57] uslss commented on #11560
Hi @AzizHassan6 ,
could you provide what database you use, more clear steps to reproduce, and an error log?
thanks in advance

[2021-03-01 19:02] uslss commented on #11558
thanks for the report.
Closed as duplicate of #11364

[2021-03-01 19:02] #11558 closed, assigned to nobody

[2021-03-01 19:27] uslss opened #11561 "All numeric types switches to varbit in case of import from csv to new table"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.0

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
1. Start import from csv to non-existing table and check column types mapping - all numeric types columns are varbit in target table
![image](https://user-images.githubusercontent.com/3199641

[2021-03-01 19:31] serge-rider commented on #11561
Fixed

[2021-03-01 20:22] matthijs-va opened #11562 "Unknown variable 'column-statistics=0'"
#### System information:
- Ubuntu 20.04.2 LTS
- DBeaver 21.0.0
- mysqldump  Ver 10.19 Distrib 10.5.9-MariaDB, for debian-linux-gnu (x86_64)

#### Connection specification:
- mysql  Ver 15.1 Distrib 10.5.9-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
- MariaDB Java Client 2.4.3

#### Describe the problem you're observing:

Whenever I try to dump a local or remote database I get followi

[2021-03-01 20:40] flambchap commented on #10857
Fixed.

[2021-03-01 20:42] flambchap commented on #10978
Fixed.

[2021-03-01 21:26] AzizHassan6 commented on #11560
Hi @uslss ,
The database I'm using is hive. I tried just looking up a table in the SQL editor and received the attached error log.
[dbeaver_error_log.log](https://github.com/dbeaver/dbeaver/files/6064561/dbeaver_error_log.log)

[2021-03-01 22:08] p91paul commented on #11553
sql templates feature is very similar and already available!

[2021-03-01 23:03] andrekutianski commented on #11559
related to #9206

[2021-03-02 01:03] qacollective commented on #9779
Sorry for the delay, I don't seem to get any notifications from GitHub about new messages.

I have tested this, and it works - when reconnecting to the database, there is no 'DRILL' node in the table tree and subsequently when I click 'View' on a table, I don't get the query error!

:+1:

[2021-03-02 01:09] wangjingyv commented on #11397
![image](https://user-images.githubusercontent.com/31919725/109581056-ac0e4980-7b36-11eb-9a4a-e5f5e2fb9032.png)
![image](https://user-images.githubusercontent.com/31919725/109581095-bfb9b000-7b36-11eb-8332-71eff80f7fbd.png)
![image](https://user-images.githubusercontent.com/31919725/109581121-cf38f900-7b36-11eb-8b88-11ba5ac4c9e7.png)
Here is my version number and format.

[2021-03-02 01:13] wangjingyv commented on #11397
![image](https://user-images.githubusercontent.com/31919725/109581547-6b630000-7b37-11eb-8af2-b7617d86613a.png)
 This problem does not exist in the MySQL database, it exists in the Oracle database

[2021-03-02 07:10] s-heins-cw commented on #10930
Is there anyone looking into it? The bug is still existing in 21.0!

[2021-03-02 08:10] kseniiaguzeeva commented on #9779
Great!

[2021-03-02 08:31] kseniiaguzeeva commented on #11557
I failed to dnd the icon to DBeaver. Thank you for the report.

[2021-03-02 08:39] uslss commented on #11561
verified

[2021-03-02 08:39] #11561 closed, assigned to serge-rider, uslss

[2021-03-02 08:41] kseniiaguzeeva commented on #11555
Thank you for the report. Please try to disable **show statistic info** if it is enabled. It can help.
![Screenshot 2021-03-02 at 11 39 34](https://user-images.githubusercontent.com/51405061/109621537-24cbd080-7b4c-11eb-9bae-872f90cd722b.png)

[2021-03-02 08:48] kseniiaguzeeva commented on #11553
As @p91paul said, have you tried templates https://github.com/dbeaver/dbeaver/wiki/SQL-Templates?

[2021-03-02 08:52] rokopi-byte opened #11563 "Cannot properly select text in the query panel"
#### System information:
- Operating system (distribution) and version: Ubuntu 16.04
- DBeaver version: 21.0.0

#### Describe the problem you're observing:

I cannot properly select text in the query panel. Every time I try to select something with mouse, like a single word or the entire query.. everything above, from the beginning of the panel is selected. I have been experiencing this problem fo

[2021-03-02 08:54] uslss commented on #11563
duplicates #11205

anyway, thanks for the report

[2021-03-02 08:54] #11563 closed, assigned to nobody

[2021-03-02 08:56] kseniiaguzeeva commented on #11554
Thank you for the report and for the details. I cannot reproduce it with my settings.

[2021-03-02 08:56] rokopi-byte commented on #11563
Yes, exactly.. sorry for the duplicate! I didn't see, thanks

[2021-03-02 08:56] #11536 closed, assigned to nobody

[2021-03-02 08:57] Edijus opened #11565 "Global search in code completion does not work"
#### System information:
- Operating system (distribution) and version: Win10 x64
- DBeaver version: 21.0.0
- Additional extensions

#### Connection specification:
- Database name and version: PostgreSQL 12

#### Describe the problem you're observing:
I have checked "Use global search (in all schemas)", but code completion works only in current schema.

[2021-03-02 09:00] kseniiaguzeeva commented on #11548
Please describe in English with more details what is your issue about.

[2021-03-02 09:02] DavidRotert commented on #11562
Same problem here on Manjaro with mysqldump (package maraidb-clients) 10.19. I think line 87 in plugins/org.jkiss.dbeaver.ext.mysql/src/org/jkiss/dbeaver/ext/mysql/tasks/MySQLDatabaseExportHandler.java is the problem. It only checks if mysqldump major version is >= 8. Maybe it should also check if the distribution is MariaDB so the option is not added because of the different MariaDB Version 10.x?

[2021-03-02 09:25] flambchap commented on #11562
Yep, you guys are right about the cause. Sorry for that, I will fix that soon.

[2021-03-02 09:40] flambchap commented on #4885
Fixed.

[2021-03-02 10:41] ShadelessFox commented on #10222
I believe there was no any colorization present even without these attributes, so I will mark this issue as a feature request.

If I'm wrong, feel free to provide additional information and examples.

[2021-03-02 11:27] LonwoLonwo commented on #11565
Hello @Edijus
Could you please provide query examples, where global search doesn't work?

[2021-03-02 11:33] serge-rider commented on #8403
ARM support was added in version 21

[2021-03-02 11:33] serge-rider commented on #552
ARM support was added in version 21

[2021-03-02 12:18] kaelte opened #11571 "After update to 21.0: Unsupported mechanism type PLAIN"
[code]

I just have updated Dbeaver from 7.1? to 21.0 using the installer above. My previously defined connections were preserved but the driver needed to be installed. I added manually the old file to Apache Hive Bibliothek because the download timed out.

Since I need to authenticate with Kerberos I start Dbeaver with a BAT-script using the following commands:
[code]

When I want to connect to t

[2021-03-02 12:39] Edijus commented on #11565
![code_completion](https://user-images.githubusercontent.com/7039127/109649796-10e09880-7b65-11eb-8e30-18c8c30444d9.png)
Image is better than thousand words.

[2021-03-02 13:02] zoetang opened #11572 "Met "Connection attempt timed out" issue when connect to heroku-postgresql"
#### System information:
- MacOS big sur version 11.2.2
- DBeaver version: 21.0.0

#### Connection specification:
- Heroku Postgres  Stander version
- Driver name : Postgres SQL 11.3
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  socks (the socks is working )

#### Describe the problem you're observing:
1. The connection is working well before I do the update
2. After the update , the "Connec

[2021-03-02 13:14] Henry-Jones commented on #11518
Hello, the following DDL will create the described situation:

CREATE TABLE tl130."DBA".NewTable (
	Column1 nchar(20) NOT NULL,
	CONSTRAINT NewTable_PK PRIMARY KEY (Column1)
) GO;

INSERT INTO tl130."DBA".NewTable (Column1) VALUES('Fritz');

if I use "generate SQL -> Insert" also the resulting text will contain the crosses.

![image](https://user-images.githubusercontent.com/9108755/109653663-919d

[2021-03-02 13:26] EmaD-2306 commented on #6916
Any news about this issue? It is a real shame not to be able to use this functionality with SAP IQ.
Thanks

[2021-03-02 14:18] arielcarralbal commented on #10302
Here are the logs.

Trying to access catalogs/schemas that are shown as NAME00001 on  "Database Navigator" does not generate any logging.

Using IBM Data Studio we realized that columns or other objects names differ when longer than 10 chars.
Example:
Column name : ENTERPRISE_ID
Object name (for that column): ENTER00001

The same for catalogs/schemas. So we think that if "Database Navigator" or "C

[2021-03-02 14:44] LonwoLonwo commented on #10502
Hello @chengjf0526
Unfortunately i can't reproduce with DBeaver 21.0.0 and Oracle 12.
Have you tried using refresh button?
![2021-03-02 17_39_30-DBeaver Enterprise 21 0 0 - TEST734](https://user-images.githubusercontent.com/45152336/109665072-dbe13f80-7b7e-11eb-9ec2-c170342dbb8a.png)

[2021-03-02 14:47] LonwoLonwo commented on #11496
Fixed in 21.0.1
Will be available [here](https://dbeaver.io/) at 2021-03-22

[2021-03-02 14:54] jyinpci commented on #11340
Hi Kseniia,

Thank you for your follow-up.  I really should have recorded a video and have tried, but my database names all contain names of my customer companies, they might not be pleased to have such videos uploaded to a public site.

I did experiment with different configurations and have more to report.  I think having multiple connections (to different databases) in the navigator seems to ca

[2021-03-02 14:57] arielcarralbal commented on #10302
I edited previous comment. Also here adding .log file

[log.log](https://github.com/dbeaver/dbeaver/files/6069512/log.log)

[2021-03-02 15:26] Edijus opened #11573 "DBeaver 100% CPU usage and crash"
I am trying to run simple query that returns 549069 rows (and 49 columns) in 19 seconds when running in pgAdmin 4 v5.
Running same query on DBeaver 21.0.0 results in 100% CPU usage and DBeaver crash.
Win10 x64, 16GB RAM, intel i7-7700, PostgerSQL 12
![not_responding](https://user-images.githubusercontent.com/7039127/109671075-6d9b7d80-7b7c-11eb-9198-91089d315408.JPG)

[2021-03-02 15:39] ceinmart opened #11575 "Show triggers of views for MSSQL."
Using Dbeaver version 21, connecting to SQL SERVER 2019 Standard.
Not showing triggers created for views. (instead of)

As example, if you create the view + triggers bellow , you will not found the trigger on the tree view.
[code]

[2021-03-02 16:23] maffe opened #11576 "Getting actual row count fails with Sybase ASE"
#### System information:
- Windows 10
- DBeaver 21.0.0 (log entries below are from 7.3.5)
- No extensions

#### Connection specification:
- Sybase Adaptive Server Enterprise/12.0.0.7/P/EBF 10869 ROLLUP/Sun_svr4/OS 5.6/1996/32bit/FBO/Fri Feb 21 03:19:58 2003
- Driver: jTDS 1.3.1

#### Describe the problem you're observing:
Getting total row count fails with SQL syntax error

#### Steps to reproduce

[2021-03-02 16:57] tral commented on #11555
Thanks @kseniiaguzeeva it helped a bit, but I still see random freezes, for 3-5 seconds for now (which is not ideal, but is still an improvement).

[2021-03-02 18:00] SirBenJammin opened #11577 "UI Rendering Issues"
#### System information:
- Operating system (distribution) and version:
Microsoft Windows 10 Enterprise - Version 10.0.17763 Build 17763
- DBeaver version:
7.3.5.202102151746
- Additional extensions:
DBeaver Git Support - Version 1.0.39.202102141704
DBeaver Office Support - Version 1.1.88.202102141704

#### Connection specification:
- Database name and version:
Oracle - Version 19.9.1.0.0
- Driver

[2021-03-02 19:15] aguerra72 commented on #11396
again .. fatal error installing new software options...

[image: image.png]

[image: image.png]

[image: image.png]

El jue, 18 feb 2021 a las 12:16, Angel Guerra Hernandez (<aghnet@gmail.com>)
escribió:

--
Angel Alberto Guerra H
aghnet@gmail.com

[2021-03-02 19:53] WVUTampaAlum commented on #9881
mysql (execute sql script - alt x)
--  create table a(col1 varchar(32) null);

select * from a;
select * from a;
select * from a;
select * from a;

[2021-03-02 20:10] Moridin11 opened #11578 "Show Output as a tab (the way it was before)"
The output  used to show as a tab next to the results window.  Is there a way for us to move it back there. After updating to 7.3.4 it displays to the right of the SQL Query and this is rather annoying.

Was this intended or is this something that we can be given the option?

[2021-03-02 20:37] els-pnw opened #11579 "DBeaver 21.0.0 does not read certs from MacOS Keychains as it did in prior releases"
#### System information:
- Operating system (distribution) and version
- MacOS 10.15.7
- DBeaver version
- 21.0.0
- Additional extensions

#### Connection specification:
- Database name and version
- n/a
- Driver name
- jdbc teiid driver (doesn't really matter)
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
- No

#### Describe the problem you're observing:
In prior releases Dbeaver would read

[2021-03-03 01:04] dragonxtek commented on #5144
I found a case where DBeaver can't recognize a valid geom. I tested in both, version 7.3 and in the lastest 21.0
![Selection_999(1402)](https://user-images.githubusercontent.com/10552658/109736080-9f273f80-7ba2-11eb-9976-2bb3f2c3cd46.png)

I tested the same query in pgAdmin4 without issues
![Selection_999(1400)](https://user-images.githubusercontent.com/10552658/109736122-b23a0f80-7ba2-11eb-8897-c

[2021-03-03 08:51] HarveyJay commented on #10317
I also think it's necessary to group tabs by different connections.
I think it's good to show only tabs in current connection.

[2021-03-03 09:43] ShadelessFox commented on #11399
Hello @yiding-he,

Can you please try the [Early Access](https://dbeaver.io/files/ea/) version to see if the problem still persists?

We can't really verify the fix by ourselves :(

[2021-03-03 10:04] Keper opened #11582 "Re-split SQL script buttons"
In the 7.3.5 version you merge scripts SQL buttons in one button, could you return to the previous condition?

Thanks.

[2021-03-03 10:06] uslss commented on #11582
thanks for suggestion
duplicates #11352

[2021-03-03 10:06] #11582 closed, assigned to nobody

[2021-03-03 10:31] uslss commented on #11573
hi @Edijus ,
is there something in logs?

[2021-03-03 10:39] e4711s opened #11583 "the beaver is barely visible anymore on splash and about screen"
I know, this is cosmetic and subjective, but I think the beaver mascot could be featured a bit more prominently again on the splash screen and about dialog. ;)

[2021-03-03 10:50] sckiffo2 commented on #1555
7.3.5 It is still there.

[2021-03-03 10:56] michub opened #11584 "Set input variable value and let user to choose from select box of possibile values"
It could be interesting to let define a variable and possible values.

The possible values have to be shown in a select box.

Example
:messageTypeId can be one of these values:

- 'type1'
- 'type2'
- 'type3'

[code]

![screenshot2](https://user-images.githubusercontent.com/5565267/109795695-89079680-7c17-11eb-8a96-82e4c7ec7fa4.png)

[2021-03-03 11:32] LonwoLonwo commented on #10872
Hello @Musashi11
Unfortunately I'm not an expert on Firebird. And I want to understand in what cases should I use field RDB$CHARACTER_LENGTH, and in what cases should I use field RDB$FIELD_LENGTH?

Can I always use field RDB$CHARACTER_LENGTH instead RDB$FIELD_LENGTH? And if not always, then indicate more precisely - in what cases? only for bases with UTF-8 encoding? or even bases that have an enco

[2021-03-03 11:39] LonwoLonwo commented on #10872
As I can see, problem does not occur for database with ASCII charset.

[2021-03-03 11:58] zmartell opened #11585 "CouchDB - Integers in document do not get read, and modifies itself if edit other fields."
#### System information:
- Operating system (distribution) and version
- Windows 10 Latest 64bit
-
- DBeaver version
- DBeaver Enterprise - v21.0.0 Early Access - Due to other bugs, it doesnt even try to save document in earlier versions.
- Additional extensions

#### Connection specification:
- Database name and version
CouchDB 3.1.1
- Driver name
The official EE one
- Do you use tunnels or proxi

[2021-03-03 12:06] yiding-he commented on #11399
The problem is still there.

[2021-03-03 12:08] ShadelessFox commented on #11399
Thanks for the response. I will investigate further.

[2021-03-03 13:16] ShadelessFox commented on #11399
Looks like the fix was lost on the way to the Early Access version. Now it should be included. Can you try again, please?

[2021-03-03 13:35] yiding-he commented on #11399
@ShadelessFox
I have confirmed that this bug has been fixed, and for privacy concerns I removed screen recordings uploaded previously.

[2021-03-03 13:49] emmanueltouzery commented on #8303
I've had just now a database migration hang (setting not-null to some fields in a table) until I manually killed the "idle in transaction" dbeaver `SHOW search_path` query. It seems that this can lock changes to the DDL?

This is postgresql 12.4.

[2021-03-03 13:51] emmanueltouzery commented on #8303
update: it seems a user was editing that table in dbeaver but didn't know he must save so that the changes are applied. While the changes were not applied dbeaver held a lock on the table (for over 40 minutes). It's also possible that the user actually tried to save in dbeaver but the connection with the database was lost, in which case dbeaver is not guilty at all, I guess.

I guess the expected

[2021-03-03 13:53] serge-rider commented on #11089
We need some steps to reproduce.
It happens rarely after dbeaver is working for a long-time (days)

[2021-03-03 14:05] p91paul commented on #4514
Additional information for anyone stumbling onto this page: after migrating the database to EUS\OUD from EUS\CDM, I had to remove that connection setting to avoid getting `ORA-28274: No ORACLE password attribute corresponding to user nickname exists.`
See https://wiki.loopback.org/display/KB/EUS+Migration+from+OID+to+OUD

[2021-03-03 15:04] serge-rider commented on #9758
Fixed.
Additionally authorization with app default crednetials support added.
![image](https://user-images.githubusercontent.com/6398845/109825473-ea952880-7c4a-11eb-848d-d57bf262bbb3.png)

[2021-03-03 15:05] serge-rider commented on #9758
Fix will be included in DBeaver EE 21.0

[2021-03-03 15:32] serge-rider commented on #10982
Fixed

[2021-03-03 15:47] serge-rider commented on #10714
DBeaver uses EGit for Git integration.
Generally it already supports SSH agents: https://stackoverflow.com/questions/13396405/eclipse-git-and-ssh-agent
There are known issues with different agents: https://bugs.eclipse.org/bugs/show_bug.cgi?id=179924

Anyhow we can't fix it from DBeaver side as we rely on EGit implementation.

[2021-03-03 16:03] techlock77 commented on #8600
@zejji @jkaetz
I am experiencing the same issue now. Is it resolved?

@serge-rider I have tried disabling schema refresh in preferences, but, NO LUCK.

Still cannot switch to another schema and every time I run a query it is by default picking up default schema mentioned in the connection.

[2021-03-03 16:13] flambchap commented on #11562
Fixed.

[2021-03-03 16:16] bemigo opened #11588 "Filtering in Select Data Source is broken"
#### System information:
- Operating system (distribution) and version: Editie	Windows 10 Pro (20H2;19042.804)
- DBeaver version: 21.0.0.202102281712
- Java version:
- Additional extensions: Office-extension

#### Connection specification:
- Database: PostgreSQL 11

#### Describe the problem you're observing:
In the select data-source diagram (Ctrl + 9-) I can only filter on the first letters. Not

[2021-03-03 17:48] nullaegy commented on #11136
uninstalled again. (made an export from projects)
deleted C:\Users\<username>\AppData\Roaming\DBeaverData
deleted c:\Users\<username>\.dbeaver4
deleted c:\Users\<username>\.dbeaver-drivers
deleted C:\Users\<username>.eclipse folder
deleted C:\Users\<username>.accessibility.properties file
reinstalled with dbeaver-ce-21.0.0-x86_64-setup.exe
import project.
everything works, event the dashboard :)

[2021-03-03 19:36] MeboGit commented on #9414
Shortcuts are defined as follows:

![image](https://user-images.githubusercontent.com/15740317/109861884-1a9af680-7c60-11eb-910d-40958e3e2985.png)

[2021-03-03 19:44] AzizHassan6 commented on #11560
@uslss Just curious if you had any advice as to how I can resolve this issue. Thanks!

[2021-03-03 21:11] felix-penrose commented on #7976
I don't see why this is closed - this issue has been present for me on ubuntu 20.10 for a good 2 months. I literally can't dump or restore any sql files with this software. Why do I need to specify anything like this? It's not even clear what I'm expected to do to fix this (not that the user should need to)

Version 21.0.0.202102281712

[2021-03-03 21:21] acrey1 opened #11590 "Error creating Query Builder option from Informix Table"
#### System information:
- Operating system (distribution) and version: Windows Server 2019
- DBeaver version: 21.0.0 (EE)
- Additional extensions: NA

#### Connection specification:
- Database name and version: Informix 12.x
- Driver name: Informix
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Error on creating Query Builder window

#### Steps

[2021-03-03 23:59] glmarsh opened #11591 "Unable to enter local client path"
I am using DBeaver-ce version 21.0.0.202102281712  with MySQL Ver 8.0.23-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))
When attempting to find the Native Client path I am unable to select /usr/share/dbeaver  which was the location used by the previous version of DBeaver-ce version 7.3.5.  When I try to select this location I get a permissions error which does not happen with the older version(7.

[2021-03-04 04:00] Sybil997 opened #11592 "Cannot connect postersql"
<img width="1078" alt="截屏2021-03-04 下午1 58 52" src="https://user-images.githubusercontent.com/80020687/109909522-f8ea4f80-7cf1-11eb-9055-027365ea9a1b.png">

[2021-03-04 05:19] 2jiwon commented on #9455
I also have this problem. Any solution for this yet?

[2021-03-04 08:18] Spoelle opened #11593 "No Bug, just Good Work!"
Version 21.0.0
Splashscreen : very nice work, well done !!
Keep up the good work, thank you.

![image](https://user-images.githubusercontent.com/19902865/109932464-844fea80-7cca-11eb-844c-d8a831ae34c9.png)

[2021-03-04 08:57] LonwoLonwo commented on #10742
Implemented in 21.0.1

[2021-03-04 08:59] LonwoLonwo commented on #10742
Now, by default, we add an "prepareThreshold=0" parameter to the connection string for postgreSQL and GreenPlum. It helps to fight the problem of this ticket, but may worsen performance. Enabling this function in the settings will return everything back.

![2021-03-03 21_05_34-DBeaver Enterprise 21 0 0 - _EXT FDB_ Script-6](https://user-images.githubusercontent.com/45152336/109938442-12cf6680-7ce1

[2021-03-04 09:25] dG94Cg commented on #11592
can you provide with JDBC Driver version and JDBC URL? so we can repeat the issue.
please follow the issue format, like [one issue example](https://github.com/dbeaver/dbeaver/issues/11577)

[2021-03-04 10:12] 452 opened #11594 "System notification not showed for long operations, Make is completed dialog always on top"
#### System information:
- Ubuntu 20.04.2 LTS, GNOME 3.36.8, X11
- DBeaver IDE	21.0.0.202103021012
- Additional extensions: Spring Tool Suite 4 Version: 4.9.0.RELEASE Build Id: 202012132054

#### Connection specification:
- PostgreSQL 9.6
- PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
For long operations, you try to show system notif

[2021-03-04 10:13] #11593 closed, assigned to nobody

[2021-03-04 10:19] Moby01 commented on #6870
This issue as reported by ghost has resurfaced since the last update... Current work around is to save multiple times, once it finally saves you can rename the script file.

[2021-03-04 10:21] uslss commented on #10967
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-03-04 10:21] #10967 closed, assigned to nobody

[2021-03-04 10:22] uslss commented on #11183
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-03-04 10:22] #11183 closed, assigned to nobody

[2021-03-04 10:22] uslss commented on #7683
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-03-04 10:22] #7683 closed

[2021-03-04 10:31] uslss commented on #11201
thanks for clarification

[2021-03-04 10:32] uslss commented on #11086
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it

[2021-03-04 10:32] #11086 closed, assigned to nobody

[2021-03-04 10:33] uslss commented on #11098
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it

[2021-03-04 10:33] #11098 closed, assigned to nobody

[2021-03-04 10:33] uslss commented on #11266
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it

[2021-03-04 10:33] #11266 closed, assigned to nobody

[2021-03-04 10:37] uslss commented on #9110
closed as a duplicate of #6903

[2021-03-04 10:37] #9110 closed

[2021-03-04 10:37] uslss commented on #11457
closed as a duplicate of #6903

[2021-03-04 10:37] #11457 closed, assigned to nobody

[2021-03-04 10:39] uslss commented on #11256
closed as a duplicate of #6903

[2021-03-04 10:39] #11256 closed, assigned to nobody

[2021-03-04 10:39] 452 opened #11596 "Backup tool - back button work not correctly if you reselect tables"
#### System information:
- Ubuntu 20.04.2 LTS, GNOME 3.36.8, X11
- DBeaver IDE	21.0.0.202103021012
- Additional extensions: Spring Tool Suite 4 Version: 4.9.0.RELEASE Build Id: 202012132054

#### Connection specification:
- PostgreSQL 9.6
- PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Steps to reproduce, if exist:
Go to Tool -> Backup -> select two tables
go forward, clic

[2021-03-04 10:41] uslss commented on #11277
The driver was downgraded in the scope of #11264

[2021-03-04 10:41] #11277 closed, assigned to nobody

[2021-03-04 10:45] uslss commented on #11342
1. Cannot reproduce this against recent version - if the issue reproduces in the future, please open a new ticket related to it.
2. You can change the default workspace in Main menu: File - Switch workspace - Other

[2021-03-04 10:45] #11342 closed, assigned to nobody

[2021-03-04 10:50] #11278 closed, assigned to nobody

[2021-03-04 10:54] mtravis opened #11598 "dbeaver crashes when trying to open spatial data view"
#### System information:
- Ubuntu 20.04.2 LTS
- DBeaver version 21.0.0.202102281712

#### Connection specification:
- postgres 10.9 / postgis 2.4.4
- PostgreSQL JDBC Driver
- No tunnels or proxies used

#### Describe the problem you're observing:
When I try and use the spatial data view of a table dbeaver crashes.

#### Steps to reproduce, if exist:
Open postgres connection > View Table > click on

[2021-03-04 10:55] uslss commented on #11391
@kylewhittaker17 could you try to make keep-alive interval less (e.g. 100)?

[2021-03-04 11:10] uslss commented on #11598
Hi @mtravis ,
can you try to reset workspace using Main menu: File - Reset Workspace state or according to [the article ](https://github.com/dbeaver/dbeaver/wiki/Reset-workspace)?

[2021-03-04 11:16] uslss commented on #11594
thanks for the report

[2021-03-04 11:22] uslss commented on #11590
thanks for the report

[2021-03-04 11:23] uslss commented on #11588
thanks for the report

[2021-03-04 11:39] serge-rider commented on #11585
Thank you for the bug report.

Fix will be included in EE 21.0 version.

[2021-03-04 11:40] #11583 closed, assigned to nobody

[2021-03-04 11:50] uslss commented on #11554
we doesn't support 2.x driver for now.
Default Redshift driver was downgraded to 1.2.45.1069 in the scope of #11264

[2021-03-04 11:50] #11554 closed, assigned to nobody

[2021-03-04 11:59] serge-rider commented on #11588
Fixed

[2021-03-04 12:27] Sybil997 commented on #11592
Good evening,

Thanks for email, sorry for my wrong format.
Form the detail, it says 'Please report this exception', I thought that posted is 'report'.

Kind regards,
Sybil[cid:83440a62-f2a4-407f-acb7-0d9659a75cbf]
________________________________
From: tox_at_fishing <notifications@github.com>
Sent: Thursday, 4 March 2021 19:25
To: dbeaver/dbeaver <dbeaver@noreply.github.com>
Cc: Sybil997 <jll97@

[2021-03-04 12:38] p91paul commented on #6870
Friendly suggestion: open a new issue, old closed ones might be overlooked.

[2021-03-04 12:44] Sybil997 commented on #11592
Hey guys,

I'm a new one to use it, after installing, I am experiencing one connect issues when creating connection.
![Screen Shot 2021-03-04 at 10 42 02 pm](https://user-images.githubusercontent.com/80020687/109965569-da5c7680-7d3a-11eb-8b3f-922fb85aea6f.png)

After I press test connection it shown that
![Screen Shot 2021-03-04 at 10 42 48 pm](https://user-images.githubusercontent.com/80020687/10

[2021-03-04 12:46] uslss commented on #11592
What Postgresql version do you use?

[2021-03-04 12:50] mtravis commented on #11598
Hi @uslss

Tried resetting the workspace and then followed the steps in that article. Still the same problem unfortunately.

[2021-03-04 12:54] ShadelessFox commented on #11578
Hello @Moridin11,

This change was intentional and you cannot move it back like it was before.

You can disable automatic opening using <kbd>Preferences</kbd> &rArr; <kbd>Editors</kbd> &rArr; <kbd>SQL Editor</kbd> &rArr; <kbd>Open output viewer on new messages</kbd>

[2021-03-04 12:54] #11578 closed, assigned to nobody

[2021-03-04 12:58] ShadelessFox commented on #11584
Hello @michub,

How are the possible values should be defined for a given variable?

I'm thinking about support for enumeration values (in columns), that would be more useful. Is that what you had in mind?

[2021-03-04 13:23] uslss commented on #1711
already implemented
![image](https://user-images.githubusercontent.com/31996417/109970325-f8f44a80-7d05-11eb-9cbc-288b12e932f8.png)

[2021-03-04 13:23] #1711 closed

[2021-03-04 13:26] uslss commented on #2930
Already implemented
![image](https://user-images.githubusercontent.com/31996417/109970676-61dbc280-7d06-11eb-8392-79dce53f6daa.png)

[2021-03-04 13:26] #2930 closed

[2021-03-04 13:28] uslss commented on #2722
already implemented
![image](https://user-images.githubusercontent.com/31996417/109970861-9bacc900-7d06-11eb-9924-9c047dcb2262.png)

[2021-03-04 13:28] #2722 closed

[2021-03-04 13:43] michub commented on #11584
Hello,
it could be interesting to define Enumerations like:
-- set enumeration FIRST_VALUE oneOF ('value1', 'value2', 'value3' ....)
and let's do
select * from my_table where field== FIRST_VALUE
---------------------------------------------------------------------------------------------------------------------------------
Another upgrade could be to define a complex object:
-- set complex MY_OBJ_

[2021-03-04 14:01] 452 commented on #3778
Please add Linux support

[2021-03-04 14:02] uslss commented on #11588
verified

[2021-03-04 14:02] #11588 closed, assigned to serge-rider, uslss

[2021-03-04 14:05] ShadelessFox commented on #11584
Oh, I meant the enumeration type of the column itself.

Imagine you have column `data` of type `ENUM('a', 'b', 'c')` and you're about to execute the following query:
[code]
Then `:value` could be expanded to `a`, `b` or `c` respectfully.

I like the example you've provided, but it will require a lot of effort for a such small piece of functionality.

[2021-03-04 14:05] uslss commented on #11585
verified

[2021-03-04 14:05] #11585 closed, assigned to uslss

[2021-03-04 14:21] Sybil997 commented on #11592
PostgreSQL 13

[2021-03-04 14:37] michub commented on #11584
Ok I understand,
and is it possible to show the msg box with a select box that contains all the possible values in field?
See the attached image in the created issue.
Thanks. 
    Il giovedì 4 marzo 2021, 15:05:21 CET, Who cares <notifications@github.com> ha scritto:

Oh, I meant the enumeration type of the column itself.

Imagine you have column data of type ENUM('a', 'b', 'c') and you're about t

[2021-03-04 14:44] uslss commented on #9758
verified

[2021-03-04 14:44] #9758 closed

[2021-03-04 14:47] uslss commented on #11592
@Sybil997 is there something in the [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-03-04 14:58] #5745 closed

[2021-03-04 15:01] ShadelessFox commented on #11584
In case of enumerations - yes, we can implement this in the future. But currently there's no such functionality, unfortunately.

[2021-03-04 15:34] thnk2wn opened #11605 "Mac OS keybindings ignored (~/Library/KeyBindings)"
#### System information:
- Operating system (distribution) and version - `OS Mac OS X(x86_64) v10.16`
- DBeaver version: `21.0.0.202103021012`
- Additional extensions: `None`

#### Connection specification:
- Database name and version: `N/A here but PostgreSQL 12.5`
- Driver name: `N/A here but PostgreSQL JDBC Driver`
- Do you use tunnels or proxies (SSH, SOCKS, etc)? `NA here but no`

#### Descri

[2021-03-04 15:35] kseniiaguzeeva opened #11606 "Connections are created in Custom view with no selected options"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21. 0

#### Steps to reproduce, if exist:
1. Create a new connection
2. Check its view in DB Navigator

Expected: Advanced view is displayed by default, if another type has not been set
Actual result: custom view with no options is selected
![dbeaver_IqKUbMRBk0](https://user-images.githubusercontent.com/

[2021-03-04 15:55] uslss commented on #5536
is it still actual?

[2021-03-04 16:23] onevedrov commented on #5536
Yes. It's quite annoying especially with database with large amount of tables.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Dziyana <notifications@github.com>
Sent: Thursday, March 4, 2021 10:55:43 AM
To: dbeaver/dbeaver <dbeaver@noreply.github.com>
Cc: Oleg Nevedrov <onevedrov@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [dbeaver/dbeaver

[2021-03-04 16:39] lightsailpro opened #11607 "Indexes are not showing on table and schema level with Splicemachine jdbc driver"
#### System information:
- Operating system (distribution) and version : Windows 10
- DBeaver version: 7.3.5
- Additional extensions

#### Connection specification:
- Database name and version: Splicemachine 3.0
- Driver name: Splicemachine jdbc driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Connection is set up using the splicemachine jdb

[2021-03-04 16:42] ShadelessFox commented on #11104
Testers, please make sure that numeric literals like listed below still highlighted and formatted correctly:
[code]

[2021-03-04 17:38] saywebsolutions commented on #8219
This doesn't seem to work for me; I get

[code]

[2021-03-04 17:38] johnwespinosa opened #11610 "DBeaver not showing tables in Database Navigator"
Hello,

DBeaver is not displaying any tables nor views in the Database Navigator. This has happened many times and my workaround has been to remove the connection/driver completely and add it again. This has been happening on version 7.2.2, so I just upgraded to version 21.0 and still no tables are showing.

I'm on OS Window 10 Enterprise. Connecting to data source in DB2.

Is this a known issue o

[2021-03-04 18:36] taf1-cornell-edu commented on #11553
After using SQL Templates for a couple of days now, I do like it, thank you.  The one change I think would be an improvement would be to allow setting the activation keys in preferences.  E.g., by adding space as an activation key, typing 'form ' would autocorrect to 'from ' without me even noticing, and without backing up and typing tab, or getting a syntax error at runtime, and then going back a

[2021-03-04 18:55] DeflateAwning opened #11611 "Add a button to transpose a results set (show rows as columns and columns as rows)"
**Is your feature request related to a problem? Please describe.**
I often filter to one or two rows in tables with 50+ columns, and want to efficiently compare them side-by-side. The best way to do this sort of comparison is often showing each column as a row, and each row as a column (i.e. transposing the table). Currently, I have to copy it out to Excel to do this soft of viewing.

**Describe t

[2021-03-04 19:24] r0bis opened #11612 "CSV file date format is not recognised as set in driver properties - default is used"
#### System information:
- Operating system:  WINDOWS 10 Latest
- DBeaver version: 21.0.0.202103021012
- Additional extensions: none

#### Connection specification:
- Database name and version: Flat Files / CSV
- Driver name: Flat files / CSV

#### Describe the problem you're observing:
I have data file where date is in dd/MM/yyyy format; dbeaver default format is yyyy-MM-dd
I created 2 test table

[2021-03-04 20:44] LonwoLonwo commented on #10840
Implemented in 21.0.1
Will be available [here](https://dbeaver.io/) at 2021-03-22

[2021-03-04 20:45] LonwoLonwo commented on #10872
Fixed in 21.0.1
Will be available [here](https://dbeaver.io/) at 2021-03-22

[2021-03-04 20:45] LonwoLonwo commented on #6059
Fixed in scope with https://github.com/dbeaver/dbeaver/issues/10872

[2021-03-04 20:47] LonwoLonwo commented on #2954
Ability to edit procedures and functions implemented in scope https://github.com/dbeaver/dbeaver/issues/10872
Will be available [here](https://dbeaver.io/) at 2021-03-22

[2021-03-04 20:50] LonwoLonwo commented on #3106
Functions with parameters are readable in DBeaver 21.0.0
Functions DDL, ability to drop/edit function/procedure via UI implemented in scope with https://github.com/dbeaver/dbeaver/issues/10872
Will be available [here](https://dbeaver.io/) at 2021-03-22

[2021-03-04 21:32] ceinmart commented on #8219
See #10987 .
After version 7.3.1 the marketplace become incompatible .
However the workaround is add the http://download.eclipse.org/mpc/releases/1.9.0 as repository and install the marketplace from there.
Then all works again.

[2021-03-04 21:45] lpossamai opened #11613 "SSH Tunnel - Cannot run program ssh-keygen error"
I have SSHJ `1.0.73` installed and I'm running Dbeaver version `21.0.0`.

When trying to set up a DB connection using an SSH tunnel, I get the following error:

`Cannot run program "ssh-keygen": error=13,Permission denied error=13,Permission denied`

My SSH key is already in OPENSSH format:

[code]

What should I do here? Thanks!

Edit: Found the error log

[code]

[2021-03-04 22:05] GaryLiuTelus opened #11614 "The JDBC URL is not editable for Apache Hive and customized drivers"
#### System information:
- Operating system (distribution) and version
- **Windows 10 Enterprise 10.0.17763 build 17763**
- DBeaver version
- **21.0**
- Additional extensions

#### Connection specification:
- Database name and version
- **Apache Hive 3.0**
- Driver name
- **Apache Hive, and customized drivers**
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
**No.**
#### Describe the problem yo

[2021-03-04 22:27] lpossamai commented on #11613
I have uninstalled DBeaver from SNAP and have installed the version from the website.

Now, I get the following error:

[code]

Using the same SSH key via ssh command it works.

[2021-03-05 02:50] simongcc commented on #11562
@akilovich Hello! I am using MacOS version, did the fix already launched to the binary or need to wait for the launch?

Reference:
DBeaver Version 21.0.0.202103021012
MacOS Mojave 10.14.6
Local Client 10.5.8-MariaDB Homebrew
Remote DB MariaDB 10.x.x

[2021-03-05 03:23] JiaOkay opened #11617 "Live connection count 2/2"
#### System information:
- Windows 10 专业版  20H2
- DBeaver 21.0.0
- Additional extensions

#### Connection specification:
- mysql 5.6
- jdbc
- No tunnels or proxies

#### 1、我只开了一个脚本窗口，然后我在左侧打开数据库，展开查看表之后，执行查询语句时会提示有两个活跃的连接。
 关闭连接后重新连接则恢复正常，之前的版本也有这个问题。
![image](https://user-images.githubusercontent.com/38833358/110060482-f4c93b00-7da0-11eb-89d5-62f7d34db4d3.png)

#### 2、同时执行两句，用分号";"隔开，并不能返回两个结果集。会

[2021-03-05 05:31] GRajaMca commented on #734
As a workaround, we can download the respective jar file and add to the configuration that might resolve this issue. The primary root cause for this issue is the proxy network.

[2021-03-05 07:35] aisbergde opened #11618 "Help buttons not working"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version Version 21.0.0.202102281712
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

When pressing help button then nothing happens.
![image](https://user-images.

[2021-03-05 07:54] aisbergde opened #11619 "Workspace - copy settings: missing help or documentation, what happens? how to select source and target?"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version Version 21.0.0.202102281712
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

I try to find out some functionality of dbeaber.
There is a "Select a directo

[2021-03-05 08:00] aisbergde commented on #11619
For example, the help text directly in the windows could / should be:

dbeaver will restart and use the new workspace

This would explain what to do, how it works and no additional documentation would be required.

[2021-03-05 08:07] rajdeep-biswas commented on #2013
it's because they're useless

[2021-03-05 08:13] uslss commented on #2013
Reopened.
The issue was closed by mistake.

[2021-03-05 08:38] lukaseder opened #11621 "No scrollbar in error message display"
#### System information:
- Operating system (distribution) and version: Microsoft Windows [Version 10.0.19042.804]
- DBeaver version: Version 7.3.5.202102151746

#### Connection specification:
- Database name and version: CockroachDB CCL v21.1.0-alpha.3 (x86_64-unknown-linux-gnu, built 2021/02/08 20:04:30, go1.15.6) (get it from here: https://hub.docker.com/r/cockroachdb/cockroach-unstable/tags?pa

[2021-03-05 08:56] aisbergde opened #11622 "dbeaver crash when displaying big custom ER diagrams (system objects are included by default when selecting a whole database)"
#### System information:

- Operating system (distribution) and version Windows 10
- DBeaver version Version 21.0.0.202102281712
- Additional extensions

#### Connection specification:

- Database name and version SQL Server 2019
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

I tried to create a custom ER diagram for a whole database:

[2021-03-05 09:13] hiiiys opened #11623 "Warning Msg"
I tried to run a sql script but encounter error.
It shows SQL warning: Truncated incorrect Integer value.
An exception stack trace is not available

my sql script is

“select * from table_name where score  = ‘100’”

the data type for score is varchar(7)

[2021-03-05 09:33] flambchap commented on #10492
@teklstudio [The EA version](https://dbeaver.io/files/ea/) with the fix is out.

[2021-03-05 09:37] DorwinDT commented on #10492
@akilovich - works great! thank you

[2021-03-05 09:38] flambchap commented on #10492
Hooray!

[2021-03-05 09:38] #10492 closed

[2021-03-05 09:39] #11399 closed, assigned to ShadelessFox

[2021-03-05 09:40] flambchap commented on #11562
Hello, @simongcc. The fix will be available in the next version (21.0.1).

[2021-03-05 09:52] LonwoLonwo commented on #11622
Hello @aisbergde
Thanks for the bug report.

The library we use to work with the ERD, unfortunately, does not always give good performance. Now we test another library with which perhaps performance will be faster.
Also for the upcoming release 21.0.1, we have already corrected the problem of [including system tables in the ERD](https://github.com/dbeaver/dbeaver/issues/11496) when they are lackin

[2021-03-05 09:59] LonwoLonwo commented on #10930
For some reason, views were in the list of tables. We fixed it - now views are in the views folder.

Fixed in 21.0.1
Will be available [here](https://dbeaver.io/) at 2021-03-22

And soon here: https://dbeaver.io/files/ea/

[2021-03-05 10:03] michal-bartak opened #11625 "AS keyword for aliases"
When inserting table names using autocomplete, DBeaver automatically generates an alias:
[code]
As you can see it lacks of AS keyword. Is there any option I missed to enable that? Or it's missing feature?

With regards

[2021-03-05 10:05] aisbergde opened #11626 "visualize different kind of relations and create the definition directly in the database. Optionally link custom ER diagrams to objects"
**Is your feature request related to a problem? Please describe.**

I want to visualize **data lineage** (dependencies, references):

- **references between objects** (they are available in metadata and I can extend them by virtual relations, I have all this information in my repositories)
- **references between columns** (I get them by parsing the code of views and most of these references are al

[2021-03-05 10:10] uslss commented on #10930
verified

[2021-03-05 10:10] #10930 closed, assigned to uslss, LonwoLonwo

[2021-03-05 10:12] uslss commented on #10840
verified

[2021-03-05 10:12] #10840 closed, assigned to uslss, LonwoLonwo

[2021-03-05 10:14] aisbergde commented on #11622
@LonwoLonwo
BTW, the issue was: I forgot to select one (1) database but the ER diagram was created for all databases on the instance. Of course this can crash. When creating ER diagrams only for one database without system views the performance is good. I am very happy with this feature.

You could consider implementing a warning, if a stupid user like me tries to create a customer ER diagram for

[2021-03-05 11:53] aisbergde opened #11628 "Add context menu entry to hint about existing "shift-Enter" feature to allow multiline edit in a separate window"
**Is your feature request related to a problem? Please describe.**

I am working with related tables like
- TableA
  - A_id
  - A_name
- TableB
  - A_id
  - B_multiline

FK from TableB.A_id -> TableA.A_id

And I want to edit the **multiline content** of TableB.B_multiline

When I just open TableB then I can edit the multiline content of B_multiline in the "Value" section:
![image](https://user-ima

[2021-03-05 12:15] aisbergde opened #11629 "Add "pin Column" to context menu also in "record data view""
**Is your feature request related to a problem? Please describe.**

I want to easily be able to pin columns. Currently, this is only available in the context menu of the "normal" data view (not as record, but as table). It is not available in the context menu when in Record view.

**Describe the solution you'd like**

I want to be able to pin columns also in record view. Because it has influence a

[2021-03-05 12:44] detkliff opened #11631 "devide functions, procedure, trigger functions"
it is very convenient to have separation when working with functions
such as in pgAdmin or in Oracle PLSQLDeveloper

![изображение](https://user-images.githubusercontent.com/61137576/110117157-4c37cd00-7dda-11eb-9d21-1ea6212eaaf3.png)

all functions devided for functions, procedure, trigger functions.

In DBeaver 21 version
![изображение](https://user-images.githubusercontent.com/61137576/11011724

[2021-03-05 15:00] jkaetz commented on #8600
@techlock77
This is still a problem in version 21.0.0  The Refresh schema after execution box has little to do with it as the execution is taking place on the default schema of the connection and not the one selected in the toolbar.  As before the code completion is checking the proper schema, it is only the execution happening on the wrong schema.

My workaround is to have multiple connections an

[2021-03-05 17:01] aisbergde opened #11633 "it is not possible to create virtual FK between views"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.0.0.202102281712
- Additional extensions

#### Connection specification:
- Database name and version SQL Server 2019
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

I try to create virtual FK between views, but dbeaver doesn't accept

[2021-03-05 21:20] AdrianoBortoloto opened #11634 "Roles permissions missing"
#### System information:
- Operating system (distribution) and version : Windows 10
- DBeaver version: 7.3.5 and 21.0.0
- Additional extensions: None

#### Connection specification:
- Database name and version: PostgreSQL 10

#### Describe the problem you're observing:
Role properties Permissions didn't load the metadata.
#### Steps to reproduce, if exist:
Database Navigator > MyConnection > db >

[2021-03-06 07:12] chapmanjacobd opened #11635 "BigQuery Geography type does not display the map"
#### System information:
- Operating system (distribution) Windows 10
- DBeaver version 7.3.0 EE
- Additional extensions

#### Describe the problem you're observing:

DBeaver only shows the text value of the cell

#### Steps to reproduce, if exist:

1 Add a geography column

2 Insert

[code]

3 Select

[2021-03-06 10:51] lxkplus opened #11636 "import / export BUG"
Hello, I have some BUGs that I want to submit.

When using the import and export function, the export encoding defaults to ANSI format.However, when importing, there will be garbled code.

If I open a file in ANSI format, it works fine.

When I open a file in UTF-8 format, it works fine.

But: when I imported SQL, he scrambled.

I changed the text to UTF-8 (I changed the default encoding format),

[2021-03-06 14:36] kseniiaguzeeva commented on #11634
Thank you for the report.

[2021-03-06 15:25] krsbalu commented on #7683
It's resolved.... For now

On Thu, 4 Mar, 2021, 15:53 Dziyana, <notifications@github.com> wrote:

[2021-03-07 04:49] 7astro7 commented on #11360
Attempting to build dbeaver on arch Linux produces an error message similar to @A248 's.
Operating system name:     Arch Linux
Operating system version:  Rolling release
Kernel version:            5.11.2
Hardware platform:         x86_64

openjdk 15.0.2 2021-01-19
OpenJDK Runtime Environment (build 15.0.2+7)
OpenJDK 64-Bit Server VM (build 15.0.2+7, mixed mode)

After cloning using
    git clone h

[2021-03-07 13:10] makarevs opened #11639 "Columns are not updating in metadata view pane"
#### System information:
- Operating system (distribution) and version: Microsoft Windows 10 Enterprise 10.0.17763 Build 17763
- DBeaver version: 21.0.0.202102281712
- Java version: 1.8.0_261; Java(TM) SE Runtime Environment (build 1.8.0_261-b12); Java HotSpot(TM) Client VM (build 25.261-b12, mixed mode)
- Additional extensions: None for DBeaver

#### Connection specification:
- Database name and

[2021-03-07 13:12] RastaTaz opened #11640 "[v21.0.0] - Can't perform MariaDB dump with error : "/usr/bin/mysqldump: unknown variable 'column-statistics=0' ""
#### System information:
- Operating system (distribution) and version : Ubuntu based
- DBeaver version : 21.0.0
- Additional extensions : -

#### Connection specification:
- Database name and version :
  - Remote DB : MariaDB 10.x (maybe 10.2)
  - Local client : MariaDB 10.3 "mysqldump  Ver 10.17 Distrib 10.3.25-MariaDB, for debian-linux-gnu (x86_64)"
- Driver name : MariaDB (type : MySQL)
- Do y

[2021-03-07 13:14] uslss commented on #11640
thanks for the report
closed as a duplicate of #11562 .
will be fixed in the scope of 21.0.1

[2021-03-07 13:14] #11640 closed, assigned to nobody

[2021-03-07 13:17] kseniiaguzeeva commented on #11639
Please write any details

[2021-03-07 13:24] makarevs commented on #11639
Apologies, posting first time here, prematurely created the item, thinking I would search for title... Now posted details in edit. Unfortunately do not know if can edit the title -- would make it more informative, like "Columns are not updating in metadata view pane"

[2021-03-07 13:29] kseniiaguzeeva commented on #11639
Cannot reproduce. Do you refresh the table after making changes? Please write steps to reproduce, DBeaver version, your database.

[2021-03-07 13:31] makarevs commented on #11639
Wrote steps.

In them there is no attempt to refresh the Metadata pane. I expect the window with metadata to update after execution of new query just as results themselves are updated. I believe this is a reasonable expectation.

Thanks for such a quick reaction!
Great tool overall - keep enjoying it!

[2021-03-07 13:41] makarevs commented on #11639
Added, to main issue post, one action leading to update of columns (switch to "Value" and back), which is akin to refresh. I am using it currently, but this is a slow-down, and, occasionally, if I do not do it immediately -- throws me off when I try to look at which columns I have...

So, it is not a show-stopper, of course, but would be nice to make it a consistent and more efficient experience w

[2021-03-07 16:01] danilort opened #11642 "SORT BY COLUMN does not work, when the "result-fetch size" is less than the number of records"
#### System information:
- Operating system (distribution) and version: Windows 10 versione 20H2 build 19042.804
- DBeaver version: DBeaver Community 21.0.0.202103021012
- Additional extensions: NULL

#### Connection specification:
- Database name and version: MySQL 8.0.21
- Driver name: Driver for MySQL 8 and later
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NULL

#### Describe the problem

[2021-03-08 07:27] mwittmann commented on #10833
Hmmm... tried to reproduce in a test table today and was unable to. The `text` field copied and pasted my text string of 500 characters. I'll see if I run across this again, and if so, try to narrow down the conditions or cause and provide a reproducible case.

[2021-03-08 09:01] anurbol commented on #10010
Hello,

I appreciate your work, but shouldn't the original problem be fixed instead of fixing symptoms?

I often deal with large tables and 100 rows is still too big for me.

[2021-03-08 09:05] simongcc commented on #11562
@akilovich Thanks for the efforts!

[2021-03-08 09:10] LotusLine opened #11643 "Operation not permitted - MacOS Big Sur"
Hi,

im unable to open/connect to any databases suddenly. Worked fine before and also on my other Mac machine which is Catalina OS.

Dbeaver version: v21.01.01
MacOS Big Sur v11.1

- Driver name : am3
- Do you use tunnels or proxies (SSH, SOCKS, etc)? yes , SSH

Below is the error log message:

!SESSION 2021-03-08 09:59:06.500 -----------------------------------------------
eclipse.buildId=unknown

[2021-03-08 09:44] kentore82 opened #11644 "RedisJSON support"
Currently Im unable to view values of RedisJSON type:
`WRONGTYPE Operation against a key holding the wrong kind of value`

As a minimum, it would be great to at least have the possibility to view redisJSON datatype as string, but ideally in full json structure with edit possibilities.

https://oss.redislabs.com/redisjson/

[2021-03-08 10:24] Peter-Kahlhoefer opened #11645 "21.0.0 Dark Mode - Missing contrast"
Hi.
Today I installed 21.0.0. I was using dark mode before. I never changed something in colors. But now the dark mode is no more usable.
Selected projects are black font on nearly black background.
All the > before expandable objects are also black on black -till you hover over it.

I tried to play with colors, but do not find a solution for the ">" signs.

May be it would be fine to get a correc

[2021-03-08 10:34] Nemecsek opened #11646 "20.0: Error when Creating a new Connection."
#### System information:
- Ubuntu 20.04
- DBeaver CE 21.0.0.202102281712

#### Describe the problem you're observing:
Cannot create a new connection because of an error.
Old connections continue to work as before (when DBeaver 7.3 was installed).

#### Include any warning/errors/backtraces from the logs
When creating a new connection (Right click on `General/Connections/Create/Connection`) I get s

[2021-03-08 10:39] Peter-Kahlhoefer commented on #11645
Well. even the syntax highlighting in the SQL Editor is a nightmare in dark mode.
![08-03-_2021_11-25-59](https://user-images.githubusercontent.com/80254311/110310445-d9f60100-8002-11eb-8b3e-4010d8f9cb99.png)

[2021-03-08 10:47] stratozero opened #11647 "Unreadable texts with dark theme"
Using dark theme, some texts shows in a light grey shadowed of white, that is unreadable on popups (which have white background), and very difficult to read in menu.

OS: Windows 10
Database: PostgresSQL 11
Driver: JDBC

To reproduce popup: right click on a connection > Invalidate / reconnect
To reproduce menu: right click on a connection > Edit connection > select tab SSH, Proxy or SSL

![dbeaver

[2021-03-08 12:55] Moridin11 opened #11650 "Code Folding disappears after file save"
When I have a new script open, my "code blocks" appear just fine.  I can easily collapse and  expand sections. However as soon as I save the file, then all of the code blocks disappear and I can no longer get folding to work.

V 7.3.4

[2021-03-08 13:15] Moridin11 commented on #11650
This appears to have been resolved in  v21.0

[2021-03-08 13:15] #11650 closed, assigned to nobody

[2021-03-08 17:08] serge-rider commented on #11646
This bug is already fixed. We've released hotfix version right after 21.0 release.
Just re-download it from dbeaver.io.

[2021-03-08 17:08] #11646 closed, assigned to nobody

[2021-03-08 17:13] julyosss opened #11651 "Dbeaver quit unexpectedly"
Process:               dbeaver [29177]
Path:                  /Applications/DBeaver.app/Contents/MacOS/dbeaver
Identifier:            org.jkiss.dbeaver.core.product
Version:               ???
Code Type:             X86-64 (Translated)
Parent Process:        ??? [1]
Responsible:           dbeaver [29177]
User ID:               501

Date/Time:             2021-03-09 01:12:07.154 +0800
OS Version:

[2021-03-08 18:14] stabylo commented on #4516
For those remaining blocked by this approach :
Client --SSH--> Jump Server --SSH--> Server

The following ssh command in terminal allowed me to forward local port 1234 to Server port 5432
ssh -L 1234:localhost:5432  [user]@[Jump Server Address] [user]@[Server Address]

Then i was able to connect directly with dBeaver on port 1234 (without using SSH tunnel configuration)

But i would appreciate to

[2021-03-08 19:04] KevinBurton opened #11652 "Connection string"
I go through all of the tabs and fill it out and then test connection and the connection says OK. I browse the MariaDB databases and tables and execute some queries. When I am done I would like to take my new found knowledge and access the database through EF. In order to do that I need to get a connection string that specifies the default database, the server, credentials (user name/password), an

[2021-03-08 20:44] adrianog commented on #3958
Was a feature request ever created for this?

[2021-03-09 03:03] lxkplus opened #11654 "some bug——but not important"
Hello. I found some bugs.

My screen is lit up, so I set a look (dark).

Then I exported the settings. When I imported them, I found that they didn't change the appearance.

I opened the file and looked at it

The contents are as follows:

#Sat Mar 06 00:21:49 CST 2021

\!/=

/instance/ org.eclipse.ui .workbench/ org.eclipse.ui .commands=<?xml version\="1.0" encoding\="UTF-8"?>\r\n< org.eclipse.ui

[2021-03-09 03:11] wowsonsun opened #11655 "Can I Remove schema qualification from the data editor query?"
#### System information:
- deepin 20.1
- DBeaver enterprise  7.3.0
- Additional extensions

#### Connection specification:
- MySQL 5.6.0-UDAL-DBPROXY-2.4.0-2018-09-06T12:22:21Z
- MySQL Connector Java mysql-connector-java-5.1.48 ( Revision: 29734982609c32d3ab7e5cac2e6acee69ff6b4aa )
-

#### Describe the problem you're observing:

the MySQL middleware we're using does not support scheme qualifier, e

[2021-03-09 08:29] TomYule opened #11656 "mysql 8 create procedure error"
#### System information:
- Operating system (distribution) and version mac os big sur 11.2.2
- DBeaver version 21.0.0.202103021012
- Additional extensions
Windows has the same problem
#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
<img width="1371" alt="图片" src="https://user-images.githubusercontent.com/13266764/110439896

[2021-03-09 08:40] uslss commented on #11647
thanks for the report

[2021-03-09 08:43] uslss commented on #11647
Notifications issue #10841

[2021-03-09 08:45] uslss commented on #11644
thanks for the suggestion

[2021-03-09 08:53] uslss commented on #11642
hi @danilort ,
unfortunately cannot reproduce it. Could you provide table ddl?

[2021-03-09 08:57] uslss commented on #11623
Hi @hiiiys ,
what database and dbeaver version do you use?

[2021-03-09 09:00] hiiiys commented on #11623
Thanks for your reply. I’m using 6.2.1
Loading MariaDB

[2021-03-09 09:00] uslss commented on #11628
Hi @aisbergde , you could use shift+enter after cell choosing - then the editor will open.

[2021-03-09 09:27] danilort commented on #11642
The problem also occurs using SQLite.
I send you the database dgshopping_temp_32.db

Query:  SELECT * FROM oggetti ORDER BY id ASC;
See screenshot.jpg

![immagine](https://user-images.githubusercontent.com/16148184/110448823-d8d7d900-80c1-11eb-94d5-9ade2e5c3ca4.png)

[dgshopping_temp_32.zip](https://github.com/dbeaver/dbeaver/files/6107406/dgshopping_temp_32.zip)

[2021-03-09 10:02] aisbergde commented on #11628
@uslss This works perfectly and this was what I was looking for!

But features are only good if you can find them. I want to change my feature request so that there is an entry for this functionality in the context menu.

[2021-03-09 10:03] kseniiaguzeeva commented on #11395
You can set custom hotkeys in Window>Preferences>User interface>Keys
![Screenshot 2021-03-09 at 13 02 22](https://user-images.githubusercontent.com/51405061/110454007-d54f4c80-80d7-11eb-9a31-f30b0ff26677.png)

[2021-03-09 10:03] #11395 closed, assigned to nobody

[2021-03-09 10:05] aisbergde commented on #11633
Today it works. Maybe it was only necessary to restart dbeaver?

[2021-03-09 11:05] 2-5 opened #11658 "[PostgreSQL] Invalid DDL shown for generated columns"
- DBeaver version: 21.0.0
- Database name and version: PostgreSQL 13.2
- Driver name: PostgreSQL JDBC Driver

#### Describe the problem you're observing:
DBeaver shows the wrong DDL (table/properties/DDL) for a table containing a generated column.

Table was created with this column definition:
[code]

psql shows:
[code]

DBeaver shows:
[code]

DBeaver implies that the column just has a default an

[2021-03-09 13:23] uslss commented on #11658
thanks for the report
closed as a duplicate of #7861

[2021-03-09 13:23] #11658 closed, assigned to nobody

[2021-03-09 13:29] serge-rider opened #11660 "Plaintext mode: add (optionally) line delimiter on the top and bottom of data grid"

[2021-03-09 13:33] fusukevn opened #11661 "Strip comment when executing statements"
**Is your feature request related to a problem? Please describe.**
I have the code like below

acn=100001431
--AND stat=1
AND boo=64098;

it's can be running correctly if database is Oracle but if database diff ( in my case is M-database with external jdbc driver).
I have only 2 kinds of database above so I'm not sure the issue happens with the others db type or not!
The issue happen because Dbeav

[2021-03-09 13:36] uslss commented on #11642
thanks for clarification

[2021-03-09 13:37] uslss commented on #11623
@hiiiys could you check issue is reproducible for you against [21.0.0](https://dbeaver.io/download/)?

[2021-03-09 13:58] TimBurris commented on #6563
@RaulHurtadoCNP solved it for me too!!  I was connecting to Sql Server 2008 and actually not using dbeaver, but the point is still the same, JDBC connection to al 'older' sql server.

[2021-03-09 14:15] ShadelessFox opened #11662 "Add files URL into product version file"
We need to add a new tag to `product/version.xml` file that will point to `/files/` path in order to obtain direct URL to the installation file. It is required to implement in-app updater.

[2021-03-09 14:18] LonwoLonwo commented on #10390
Hello @VasilyRozhkovVGR
I want to ask - if you add a space here in this place (see picture) - then the query works?
![2021-03-09 17_04_39-DBeaver Enterprise 21 0 0 - _none_ Script-9](https://user-images.githubusercontent.com/45152336/110483218-9088dd00-80fa-11eb-8728-6d9c663e23bb.png)

[2021-03-09 14:37] serge-rider commented on #11368
@2019-05-10 thank you for the details.

Unfortunately thread dumps don't contain real clues (something eats cpu in UI rendering thread).

- What if you close all open editors - does it still consume CPU?
- What if you collapse database navigator tree?
- Or even close it?

[2021-03-09 14:43] MichaelMih commented on #6024
Now it has moved to: Connection right-click -> Connection view... -> Show system objects

[2021-03-09 15:20] serge-rider commented on #11579
Most likely it happens because now we include Java in DBeaver package. So system-default Java not used anymore.

[2021-03-09 15:20] LonwoLonwo commented on #10390
If you want to use parameters binding inside ARRAY brackets, then you must add a space. Because without a space - this is PostgreSQL [array slicing](https://www.postgresql.org/docs/11/arrays.html#ARRAYS-ACCESSING). We have already fixed it in this ticket - https://github.com/dbeaver/dbeaver/issues/5440

[2021-03-09 15:32] serge-rider commented on #11360
We need to get rid of explicit algorithm usage in self-signed certificate generation.

We probably should use sun.security.tools.keytool.Main instead.

[2021-03-09 15:38] VasilyRozhkovVGR commented on #10390
thnks!!

[2021-03-09 15:53] LonwoLonwo commented on #10390
Thank you for your update. It looks like the problem was solved. This issue will convert to discussion.

[2021-03-09 15:53] #10390 closed

[2021-03-09 16:00] ANTGOMEZ opened #11665 "Object name hard to read when selecting an object in DB Navigator when in dark mode, name remains black."
#### System information:
Windows 10
DBeaver Version 21.0.0.202103021012

#### Describe the problem you're observing:
1: Set DBeaver Dark Mode
2: Open Database Navigator
3: Highlight any item in the Db hierarchies
4: See item name sets to black - is hard to read

The main reason for Dark Mode is better visibility through contrast.

I suggest keep text color white and perhaps change the highlight ba

[2021-03-09 16:02] LonwoLonwo commented on #11590
Hello @acrey1
As a workaround, you can remove the name of the DB with the symbol ":" from query ("gamtraining:" in your case), then Visual Query Builder must all correctly parse.

[2021-03-09 17:27] LonwoLonwo commented on #10398
Hello @KES777
Could you explain - why do you need this improvement ("space just after WHERE")? The execution of the query will pass correctly in any case - with spaces and without.

[2021-03-09 19:01] KES777 commented on #10398
because it looks ugly.

For example the one 40Kb query could be executed correct if we write it at one line. But still we split it to many lines for formatting purpose. Here is same it cause me to hit extra buttons to remove extra spaces at wrong place.

So if you implement feature it would be good to have it work properly.

[2021-03-09 19:14] LonwoLonwo commented on #10398
Formatting may look unpleasant for you, but be useful for someone else. We added this feature also under user request. As mentioned above, you can disable the setting in the preferences.

[2021-03-09 19:27] uslss commented on #11665
thanks for the report
duplicates #11647

[2021-03-09 19:27] #11665 closed, assigned to nobody

[2021-03-09 19:56] uslss commented on #10952
Hi @pooher3 ,
sorry for the late response.
Unfortunately, cannot reproduce an issue. What ODBC platform do you use: x64 or x32?

[2021-03-09 20:00] uslss commented on #11426
thanks for clarification and report

[2021-03-09 20:05] uslss commented on #11476
thanks for the report

[2021-03-09 20:22] uslss commented on #11524
@shkpendy could you try to change keep-alive value in connection properties?
![image](https://user-images.githubusercontent.com/31996417/110532785-55a09c80-812e-11eb-9789-6e54bb1b54fb.png)

[2021-03-09 20:24] uslss commented on #11525
Hi @lmaher007 ,
did you try to use ODBC driver?
![image](https://user-images.githubusercontent.com/31996417/110532963-8aacef00-812e-11eb-98c1-2ea520f4ffa3.png)

[2021-03-09 20:25] aisbergde commented on #11426
I would say: it is a very serious bug, but not just an enhancement, when the code shown in dbeaver is not correct. And it isn't correct, if calculated columns are shown as real columns.

This bug prevents from using dbeaver to really work with databases, because they will be corrupted if the code shown in dbeaver would be applied. Currently because of this bug it is too dangerous to change objects

[2021-03-09 20:32] uslss commented on #11610
Hi @johnwespinosa ,
cannot reproduce it. What db2 version and what db2 driver do you use?

[2021-03-09 20:43] uslss commented on #11617
hi @JiashunLi ,
1. Probably Open separate connection for each editor option is enabled
![image](https://user-images.githubusercontent.com/31996417/110535135-f09a7600-8130-11eb-91f0-8a522129d1fe.png)
2. Try to use Execute SQL script button (Alt+x)
![image](https://user-images.githubusercontent.com/31996417/110535358-39eac580-8131-11eb-947c-30f0638b2326.png)

[2021-03-09 20:44] uslss commented on #11618
Thanks for the report

[2021-03-09 20:46] uslss commented on #11619
thanks for the report

[2021-03-09 20:51] uslss commented on #11396
Thanks for your response.
Unfortunately, pictures aren't visible.
![image](https://user-images.githubusercontent.com/31996417/110536335-66531180-8132-11eb-9a8f-4ed69a3aace9.png)

What OS and dbeaver version do you use?

[2021-03-09 22:04] jgrocha commented on #6131
I still have this issue in Version 21.0.0.202102281937, with non English keyboard.

Can this reopened? Should I open a new issue?

[2021-03-10 01:34] FelixxShin opened #11667 "'SQL Error [8152] String or binary data would be truncated.' happens in SQL-Server"
#### System information:
- Operating system (distribution) and version: macOS Big Sur 11.2.2
- DBeaver version: 21.0.0.202103021012
- Java version
- Additional extensions:  With Docker 3.2.1

#### Connection specification:
- Database name and version:
   Microsoft SQL Server 2019 (RTM-CU8-GDR) (KB4583459) - 15.0.4083.2 (X64)
	Nov  2 2020 18:35:09
	Copyright (C) 2019 Microsoft Corporation
	Develope

[2021-03-10 01:59] Sybil997 commented on #11592
![Uploading Screen Shot 2021-03-10 at 11.58.59 am.png…]()

[2021-03-10 03:36] Sybil997 commented on #11592
<img width="762" alt="Screen Shot 2021-03-10 at 11 58 59 am" src="https://user-images.githubusercontent.com/80020687/110572688-a7383e00-81a5-11eb-81f1-ae25b753218a.png">

[2021-03-10 04:54] kseniiaguzeeva commented on #9206
Does it happen with any import/export? Which database do you use?
Please tell steps to reproduce.

[2021-03-10 05:09] andrekutianski commented on #9206
@kseniiaguzeeva OS: Mint 17 / Dbeaver: 21.0.0 / DB: PostgreSQL on any import/export. The error I copped on the comment https://github.com/dbeaver/dbeaver/issues/9206#issuecomment-788119576

[2021-03-10 06:28] LonwoLonwo commented on #10328
Hello @enriquezrene
Could you add more details in your feature request?  As mentioned above, the possibility of wrapping brackets already exists in SQL Editor in DBeaver.

[2021-03-10 07:27] lxkplus commented on #11636
sorry,i did not konw i can provide photos before.
![Snipaste_2021-03-10_15-22-52](https://user-images.githubusercontent.com/78188981/110591861-888d7380-81b4-11eb-8f3b-b84eaad29670.png)
and garbled code：
![Snipaste_2021-03-10_15-26-22](https://user-images.githubusercontent.com/78188981/110592287-0e112380-81b5-11eb-8b77-6fc840511c62.png)

[2021-03-10 07:39] dG94Cg commented on #8288
OS: Arch Linux x86_64
Kernel: 5.11.4-arch1-1
Packages: 596 (pacman), 80 (guix-user), 2 (flatpak)
WM: awesome
CPU: Intel i5-9500 (6) @ 4.400GHz
GPU: Intel UHD Graphics 630
PackageManager: Guix + Pacman
JDK: openjdk version "14" 2020-03-17 14.0+adhoc jdk14-bc54620a3848
GTK: gtk-engines	2.20.2	out	/gnu/store/vx91xpwmisz2mvdp48bp4h8hlyzdai7j-gtk-engines-2.20.2
InputMethod: Fcitx (from guix)
build dbea

[2021-03-10 07:52] LonwoLonwo commented on #11667
Can't reproduce with Microsoft SQL Server 2014

![2021-03-10 10_39_20-DBeaver Enterprise 21 0 0 - _master_ Script-10](https://user-images.githubusercontent.com/45152336/110594592-0db16200-818e-11eb-804d-0852bf25f401.png)

![2021-03-10 10_38_52-](https://user-images.githubusercontent.com/45152336/110594616-15710680-818e-11eb-942a-441ea7351870.png)
Could you check please which script is executed in

[2021-03-10 08:02] LonwoLonwo commented on #11656
Hello @TomYule
Strange, I can't reproduce it with your query.
Have you try execute this query in SQL Editor?

Also, could you check please which script is executed in the Query Manager? Are there any differences from your script?
![2021-03-10 10_38_52-](https://user-images.githubusercontent.com/45152336/110596102-f2475680-818f-11eb-871e-fb99d1f64f0e.png)

[2021-03-10 08:22] LonwoLonwo commented on #11635
Hello @chapmanjacobd
This is not a bug. Geographical types of columns in different bases contain specific data that we need to be able to correctly read.
Like we read data of the geographic columns in the PostGIS.
But not for BigQuery. So this is a feature request. And we will try to do it in next releases.

However, now in DBeaver we can [work with geographic data](https://github.com/dbeaver/dbea

[2021-03-10 08:37] LonwoLonwo commented on #11633
Hello @aisbergde
Did you update the version or simply restart DBeaver? Does the problem arise again?

[2021-03-10 08:56] miqbal23 commented on #6989
Hello,
It seems that I face the same issue as previously solved here, and I'm using 7.3.3
![image](https://user-images.githubusercontent.com/12664445/110603001-21be8900-81b9-11eb-889c-febacbfd7631.png)
![image](https://user-images.githubusercontent.com/12664445/110603025-2a16c400-81b9-11eb-8508-fc446a9ef172.png)

Any solution to this?

[2021-03-10 09:08] uslss commented on #11645
thanks for the report
will be fixed in #11647

[2021-03-10 09:08] #11645 closed, assigned to nobody

[2021-03-10 09:09] aisbergde commented on #11633
@LonwoLonwo I did not update but just restarted. Currently, I can create them.

[2021-03-10 09:32] LonwoLonwo commented on #11479
We have changed the process of adding typcategory column to request for reading database data types.
Previously, we simply checked the version of the base, but obviously, this method is not always working.
So now we will find with a separate SELECT, whether typcategory column is in the system table we need.

Fixed in 21.0.1.
Will be available [here](https://dbeaver.io/) at 2021-03-22

[2021-03-10 09:35] aisbergde opened #11671 "data-sources.json is not conform to JSON specification, some special characters are not escaped"
I try to generate the virtual key definitions in `data-sources.json` by exporting JSON from SQL Server (where I have all these definitions). But The SQL Server can only create JSON which is conform to the JSON specification, and this JSON will escape some characters.

For general info about escaping and encoding in JSON, see Section 2.5 of the JSON RFC - https://www.ietf.org/rfc/rfc4627.txt.

"/"

[2021-03-10 10:37] flambchap commented on #10544
Fixed.

[2021-03-10 10:41] ghost opened #11672 "Cannot edit cells in query result"
#### System information:
- CentOS 7
- DBeaver 21.0.0 (but happens on previous one as well)
- MySQL 10.3.28-MariaDB
- MariaDB connector/J 1.5.5

On Windows I cannot reproduce it.

Value is not editable in Panel:

![image](https://user-images.githubusercontent.com/4306334/110616368-8374f800-81a5-11eb-9023-8690577bf969.png)

But after double click it shows edit frame:

![image](https://user-images.gi

[2021-03-10 10:47] flambchap commented on #10544
I want to point out here (just for the history) one small thing. The fix itself is trivial. At some point, the line `commandContext.resetChanges(false)` had been changed to `commandContext.resetChanges(true)`, despite the fact that the comment above that line explains why the argument should be `false`. So, I've reverted that change. But neither I nor Serge was able to tell from the history of com

[2021-03-10 10:56] flambchap commented on #11047
Implemented. For now, this option is available for Oracle and Postgres only, but we'll add support for other databases somewhere in the future.

[2021-03-10 11:01] ShadelessFox commented on #10303
Hello @jmccay-work,

May I ask what do you mean by `whitespace trim`? You want to fully _exclude_ columns from result set or just trim the containing data in them?

Thank you in advance.

[2021-03-10 12:01] aisbergde opened #11673 "full window value editor (Shift-Enter) opens content as read only in some cases (when called from a referenced table)"
related to #11628

The solution was to use Shift-Enter to open the full window value editor

But in this specific case the separate full window value editor opens the content read only.

It works fine when it will be opened for a normal table in the "main window", but when it is opened from a table in the referenced window then it is not possible to edit the content. It will open as read only

###

[2021-03-10 12:27] ShadelessFox commented on #11625
We don't include the `AS` clause for table aliases because it is not required and thus can be omitted.

[2021-03-10 12:27] #11625 closed, assigned to nobody

[2021-03-10 12:31] serge-rider opened #11675 "SQL Server: put GO delimiter on separate line"
We should place GO delimiters on a separate line (now we add them in generated SQL at the end of line).

[2021-03-10 12:31] serge-rider commented on #11675
Or, perhaps, we should use semicolon always.

[2021-03-10 12:32] serge-rider commented on #11675
Also see #1482

[2021-03-10 12:38] ShadelessFox commented on #11661
We don't strip comments from query because they may contain sensitive for the server information.

The issue is related to the driver you're using - it does not conform the _SQL specification_ - so use the other driver instead.

[2021-03-10 12:38] #11661 closed, assigned to nobody

[2021-03-10 12:58] ShadelessFox commented on #11613
Hello @lpossamai,

Your issue may be a duplicate of #8863. **TL;DR: give the required permissions for `ssh-keygen`, so DBeaver could use it.**

Also the full log (snap version) would be helpful.

[2021-03-10 13:28] matthewlenz commented on #301
This works but fails when trying to use dumps from mysqldump.  mysqldump uses a delimiter of ";;" for creating triggers/procedures.

[2021-03-10 14:18] ShadelessFox commented on #6558
Now it is possible to install an update directly from DBeaver on Windows and macOS.

Unfortunately, there is no an easy way to test this until the next version will come out.

[2021-03-10 14:21] LonwoLonwo commented on #11634
Fixed in 21.0.1
Will be available [here](https://dbeaver.io/) at 2021-03-22

[2021-03-10 14:23] jmccay-work commented on #10303
Sorry for the confusion.

These are two separate issues.  The first would be to exclude specific columns from a export.  I have to deal with legacy tables that I think date back to the 80s or 90s.  The design of them is not optimum.

The second request is that it would be nice to apply a whitespace trim to a column.  Again, the tables are not optimally designed and they use char instead of varchar

[2021-03-10 14:40] nicoschl commented on #6558
Does this include Linux?

I'm no expert on how Eclipse does this, but if it works on Windows and macOS, why wouldn't it work on Linux?

[2021-03-10 15:05] ShadelessFox commented on #6558
Short answer: currently no.

As of now, we stick to the simple approach to download the installation file and launch it manually. On Linux there's DEB and RPM packages which can be installed both using GUI application and terminal, and there's a bunch of such applications (including terminals) per each distro and so on. I hope this makes sense.

[2021-03-10 15:07] Lonniebiz commented on #6558
On Kubuntu 20.04, I installed Dbeaver using snap:
`sudo snap install dbeaver-ce`

Whoever is maintaining that snap is doing a good job. My system pretty much stays on the latest stable release without effort. When I see update notifications, I just ignore them (knowing I'll have that new version automatically soon enough).

[2021-03-10 15:09] nicoschl commented on #6558
@ShadelessFox Thanks for the explanation. I thought/was hoping that it uses the Eclipse way of updating itself.

[2021-03-10 15:27] ShadelessFox commented on #10303
I see, thanks for a neat explanation!

[2021-03-10 15:46] mkgrgis opened #11679 "Name of role/user is not quoted in DDL"
#### System information:
- DBeaver version
The last
- Additional extensions
No

#### Connection specification:
- Database name and version
PostgreSQL, Firebird, Oracle, maybe some other

#### Describe the problem you're observing:

After
[code]
See DDL for role/user. If there is space in name of role or user, there is no quoting => invalid DDL.

[2021-03-10 16:19] cbcoutinho commented on #11613
I have this same problem. I just updated to dbeaver 21.0 today and immediately ran into this problem with connecting to a database server using an SSH tunnel (agent).

Launching the DBeaver desktop app on openSUSE (rpm install) results in the `Auth fail` error that @lpossamai mentioned above.

Strangely, if I launch `dbeaver` from my terminal then I'm able to use SSH tunnel as normal. Where can I

[2021-03-10 16:43] ShadelessFox commented on #11613
Hello @cbcoutinho,

https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-03-10 17:04] cbcoutinho commented on #11613
Got the debug logs @ShadelessFox, thanks for the link. I'm not comfortable listing the entire log here, but I'd be happy to send you them elsewhere (desktop vs terminal usage).

I found the problem. DBeaver wasn't able to locate the SSH socket on my client machine to access the agent because I don' t use the normal ssh socket - I use GPG authentication (via gpg-agent) for SSH access, and the appro

[2021-03-10 17:16] ShadelessFox commented on #11613
Thanks @cbcoutinho, you can email me at yan@jkiss.org.

[2021-03-10 18:15] jfreidkes-CA commented on #11415
Hey! Thanks for replying. Already tried that and still not working… any other thing I could check?
Thanks!!

[2021-03-10 20:03] SteveSzumski opened #11682 "Dbeaver will not list all the databases created for a connection"
#### System information:
- macOS 10.15.7
- DBeaver version Version 21.0.0.202103021012

#### Connection specification:
- Database name and version postgresql

#### Describe the problem you're observing:
I have created 2 new databases on a local connect 127.0.0.1
I restored a database backup for them and it successfully restored and Iw as able to use the databases for local development.

When I clo

[2021-03-10 20:17] JoelDKraft opened #11683 "Warn when closing editor with uncommitted transaction"
Several times I have accidentally closed the table editor when there was a pending transaction that had not been committed or rolled back.  Of course then everything starts locking up until you figure out you need to open it back up and deal with the transaction.

I think that you should be prompted to either commit or rollback the pending transaction before the window can be closed. I assume this

[2021-03-10 21:14] wolverline commented on #11285
Not allowed to add Driver properties. So I added a user property as the following:

![Capture](https://user-images.githubusercontent.com/460865/110698225-5fbcac80-81bb-11eb-92ae-d8dcf13b043e.PNG)

I'm using Informix JDBC v4.10.10. I have no issues with other TCP informix connection. But SSL connection doesn't work. The error message in the log is:

!ENTRY org.jkiss.dbeaver.model 4 0 2021-03-10 16:

[2021-03-10 21:16] p91paul commented on #6558
@Lonniebiz That would be, unless I'm mistaken, because the snap maintainer is the upstream itself and building snap is part of their release process :smile:

[2021-03-10 21:26] p91paul commented on #6558
For linuxes, the only sound way is to provide a deb/rpm repository instead of (or in addition of) a deb/rpm file. Should be a matter of creating the correct directory structure and metadata files, which isn't trivial, but not that difficult as well. The system will then take care of updates instead of the application.

For people installing from deb/rpm, running an installer or even the eclipse wa

[2021-03-10 21:34] p91paul commented on #11683
AFAIK this is already implemented for sql scripts, consoles, and exiting application. I don't think for table editor though.

[2021-03-10 22:12] mattfabina opened #11684 "InfluxDB 2 support in EE"
**Is your feature request related to a problem? Please describe.**
InfluxData is increasingly pushing their roll-out of InfluxDB 2, including, for example, having their primary Docker image point to an InfluxDB 2 version.

**Describe the solution you'd like**
It would be great if DBeaver EE would move to support InfluxDB 2. My layman's understanding is that only the authentication methods need to

[2021-03-11 02:27] FelixxShin commented on #11667
Thank you for your reply.

I attach a screen shot from the Query Manager.
It's executed in other DBMS that is SQL Server 2008 on Window NT (not Docker)

Microsoft SQL Server 2008 R2 (SP2) - 10.50.4000.0 (Intel X86)
    Jun 28 2012 08:42:37
    Copyright (c) Microsoft Corporation
    Express Edition with Advanced Services on Windows NT 5.2 <X86> (Build 3790: Service Pack 2)

PS. It seems like you e

[2021-03-11 03:03] cbcoutinho commented on #11613
@ShadelessFox email sent

[2021-03-11 03:58] qngl opened #11685 "Can not edit Datetime/Timestamp column value in table's Data view when connecting to Oracle DB"
#### System information:
- OS: Windows 10 Pro v1903  18362.592
- DBeaver version 21.0.0 or 7.3.5
- Java version 1.8.0_221
- Installed with dbeaver-ce-21.0.0-x86_64-setup.exe

#### Connection specification:
- Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit Production With the Partitioning, OLAP, Data Mining and Real Application Testing options
- Oracle JDBC driver 12.2.0.1.0
- Do

[2021-03-11 06:00] LonwoLonwo commented on #11685
Hello @qngl
Can you provide more details, please?
Some info from table? like on the picture?
Because we already use TIMESTAMP before TIMESTAMP columns data.

![2021-03-11 08_56_06-DBeaver Enterprise 21 0 0 - DATES_TEST](https://user-images.githubusercontent.com/45152336/110742698-e1f2b280-8247-11eb-8769-e616bf90c8b5.png)

We have another problem, what "timestamp" word before data is and before DAT

[2021-03-11 06:31] rajaramanwork opened #11686 "How to view output of Ref Cursor in Dbeaver Version 7.3.3"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-03-11 06:31] rajaramanwork commented on #11686
DECLARE
  P_APPLICATION_KEYS VARCHAR2(32767);
  P_CURSOR SYS_REFCURSOR;

BEGIN
  P_APPLICATION_KEYS := '1,3,5';
  P_CURSOR := NULL;

  AWP.PKG_WORKFLOW_AUTHORING_API.P_GET_WORKFLOW_VERSIONS_EXT ( P_APPLICATION_KEYS, :P_CURSOR );
  COMMIT;
END;

[2021-03-11 06:32] rajaramanwork commented on #11686
DECLARE
  P_APPLICATION_KEYS VARCHAR2(32767);
  P_CURSOR SYS_REFCURSOR;

BEGIN
  P_APPLICATION_KEYS := '1,3,5';
  P_CURSOR := NULL;

  PKG_WORKFLOW_AUTHORING_API.P_GET_PROC ( P_APPLICATION_KEYS, :P_CURSOR );
  COMMIT;
END;

[2021-03-11 06:36] LonwoLonwo commented on #11679
Hello @mkgrgis
As I can see, you totally right with PostgreSQL. I will fix it.
But I don't see user/role DDL in Oracle or Firebird. Tell me, please, where did you find them?

[2021-03-11 08:02] flambchap commented on #10725
Fixed.

[2021-03-11 08:16] uslss commented on #5144
Reproducible
[code]

[2021-03-11 08:23] uslss commented on #8956
Still cannot reproduce it.
![image](https://user-images.githubusercontent.com/31996417/110757213-3142de00-825c-11eb-9f17-e7da749456cb.png)
@Kerry0527 what dbeaver version and OS do you use?

[2021-03-11 08:26] #11147 closed, assigned to nobody

[2021-03-11 08:28] uslss commented on #11394
did you try to use some default driver from dbeaver?
![image](https://user-images.githubusercontent.com/31996417/110757884-ec6b7700-825c-11eb-9328-70b006535375.png)

[2021-03-11 08:30] uslss commented on #11460
thanks for the suggestion.

Closed as duplicate of #2443

[2021-03-11 08:30] #11460 closed, assigned to nobody

[2021-03-11 08:31] uslss commented on #11461
thanks for the report

[2021-03-11 08:35] uslss commented on #11462
Unfortunately, we cannot investigate the issue for now due to the absence of the environment

[2021-03-11 08:59] uslss commented on #11480
thanks for the report

[2021-03-11 09:00] ShadelessFox commented on #11682
Hello @SteveSzumski,

Please make sure that <kbd>Show all databases</kbd> inside connection configuration is set:
![image](https://user-images.githubusercontent.com/35821147/110761862-43734b00-8261-11eb-9107-ac1e2c2df533.png)

[2021-03-11 09:06] uslss commented on #11482
thanks for the suggestion

[2021-03-11 09:07] uslss commented on #11483
thanks for the suggestion

[2021-03-11 09:08] uslss commented on #11485
thanks for the suggestion

[2021-03-11 09:20] uslss commented on #11487
Probably, keep-alive values for connection or ssh-tunnel are not zero. Could you check them?
![image](https://user-images.githubusercontent.com/31996417/110764443-1ffdcf80-8264-11eb-9405-97b50a25e42d.png)
![image](https://user-images.githubusercontent.com/31996417/110764472-2a1fce00-8264-11eb-85eb-b2f03a0aa2dd.png)

[2021-03-11 09:32] detkliff commented on #11487
for database keep-alive not null in mz config, but it is true for available resourses. It is not true for unavalibale resourses.

[2021-03-11 10:12] uslss commented on #11486
thanks for the suggestion

[2021-03-11 10:14] uslss commented on #11481
Could you clarify what search are you talking about? Probably screenshots can be very helpful

[2021-03-11 10:17] uslss commented on #11506
thanks for the report.
will be fixed in the scope of #11647

[2021-03-11 10:17] #11506 closed, assigned to nobody

[2021-03-11 10:20] uslss commented on #11511
Hi @stdedos ,
Does Leveldb have jdbc driver?

[2021-03-11 10:24] uslss commented on #11519
Seems it is expected behavior. jtds driver is needed for old database versions.

[2021-03-11 10:24] #11519 closed, assigned to nobody

[2021-03-11 10:26] LonwoLonwo commented on #11633
Thank you for your update. It looks like the problem was solved. This issue will be closed.
Fell free to reopen this issue, if the problem appears again.

[2021-03-11 10:26] #11633 closed, assigned to nobody

[2021-03-11 10:29] uslss commented on #11477
thanks for the suggestion

[2021-03-11 10:33] LonwoLonwo commented on #11408
related https://github.com/dbeaver/dbeaver/issues/11631 https://github.com/dbeaver/dbeaver/issues/7058

[2021-03-11 10:37] uslss commented on #11518
Seems that it is server-side issue.
Types like nchar(20) are filled by default with spaces, probably it is changed to "†" symbol in the server config

[2021-03-11 10:39] uslss commented on #11494
@detkliff is it reproducible for you for timestamp (not timestamptz) column?

[2021-03-11 10:45] uslss commented on #11686
what database do you use?
Could you check the issue against the recent version (21.0)?

[2021-03-11 10:50] uslss commented on #11684
Thanks for the info and suggestion.
Hope, it will be implemented in the nearest future

[2021-03-11 10:52] uslss commented on #11673
thanks for the report

[2021-03-11 11:01] stdedos commented on #11511
I don't think so 😕

There is a JNI https://github.com/fusesource/leveldbjni but I don't think it has jdbc driver 😕

[2021-03-11 11:14] uslss commented on #11514
verified

[2021-03-11 11:14] #11514 closed, assigned to uslss, LonwoLonwo

[2021-03-11 11:16] uslss commented on #11104
verified

[2021-03-11 11:16] #11104 closed, assigned to uslss, ShadelessFox

[2021-03-11 11:18] uslss commented on #10759
verified

[2021-03-11 11:18] #10759 closed

[2021-03-11 11:19] uslss commented on #4885
verified

[2021-03-11 11:19] #4885 closed

[2021-03-11 11:24] christopheblin opened #11690 "Displaying C# GUID in Oracle"
Currently, when you use the Hex formatter for binary data, you can see something like :

![image](https://user-images.githubusercontent.com/11044877/110779651-12e0e080-8264-11eb-8664-2c11b83224de.png)

However, as explained in https://stackoverflow.com/a/7289991/1545567, in C#, the GUID generation is using FlipEndian

So basically, if I use Entity Framework Core and I do

var obj = new Obj { Id =

[2021-03-11 11:25] uslss commented on #6059
verified

[2021-03-11 11:25] #6059 closed

[2021-03-11 11:39] ShadelessFox commented on #10961
Implemented for columns with no foreign key.

[2021-03-11 11:53] uslss commented on #10872
verified

[2021-03-11 11:53] #10872 closed, assigned to uslss, LonwoLonwo

[2021-03-11 11:54] uslss commented on #2954
implemented in 21.0.1

[2021-03-11 12:08] detkliff commented on #11494
yes it is. today  version Dbeaver 21.0.0
![изображение](https://user-images.githubusercontent.com/61137576/110785119-6109da00-828c-11eb-8b52-47d2224e3aaa.png)

![изображение](https://user-images.githubusercontent.com/61137576/110785151-6bc46f00-828c-11eb-879d-2a6d69faa627.png)

[2021-03-11 12:14] uslss commented on #11496
verified

[2021-03-11 12:14] #11496 closed, assigned to uslss, LonwoLonwo

[2021-03-11 12:30] uslss commented on #11634
verified

[2021-03-11 12:30] #11634 closed, assigned to uslss, LonwoLonwo

[2021-03-11 12:31] bcm5645 commented on #11378
Hello Kseenia

Please see enclosed screenshot video.
I kept executing a statement (Ctrl+Enter), editing the statement in the meantime (adding tab and remove).

It seems to be parsing issue.
Can parsing works like this, that it looks for closest delimiters before and after current cursor position and execute only such statement?

I have set a semicolon as delimiter.

https://user-images.githubuserc

[2021-03-11 12:38] uslss commented on #11393
Print button is disabled for Schema/Table ERD until custom diagram creation. But even when it becomes highlighted it doesn't work
![2021-03-11_15h37_41](https://user-images.githubusercontent.com/31996417/110788557-d58a4c00-827f-11eb-94d7-db67523647b4.gif)

[2021-03-11 12:39] uslss commented on #8788
verified

[2021-03-11 12:39] #8788 closed

[2021-03-11 12:46] uslss commented on #11467
still reproducible
![2021-03-11_15h45_27](https://user-images.githubusercontent.com/31996417/110789418-e8515080-8280-11eb-9bbe-da62a98abd7d.gif)

[2021-03-11 12:50] uslss commented on #10739
verified

[2021-03-11 12:50] #10739 closed

[2021-03-11 13:07] LonwoLonwo commented on #7031
And what type of grants are you looking for?

We can use SELECT DBMS_METADATA.GET_DEPENDENT_DDL('SYSTEM_GRANT',object_name, owner) or
SELECT DBMS_METADATA.GET_DEPENDENT_DDL('OBJECT_GRANT',object_name, owner)

[2021-03-11 13:08] LonwoLonwo commented on #11631
Thanks for suggestion!
We will try to do it in this ticket: https://github.com/dbeaver/dbeaver/issues/11408

[2021-03-11 13:09] #11631 closed, assigned to nobody

[2021-03-11 13:43] kool2zero opened #11692 "Export to Excel include SQL Statement in separate tab"
Sometimes when I provide a data extract, I do not save the SQL statement and when they inevitably request the same data later, I have to redevelop the query.  It would be nice if during the export to XLSX a tab can be added at the end that contains the SQL statment used for the export (similar to SQL developer).  For now I have resorted to opening the Excel and copying and pasting the SQL into a n

[2021-03-11 13:44] #11692 closed, assigned to nobody

[2021-03-11 13:44] kool2zero commented on #11692
Nevermind.. found the setting.  Sorry

[2021-03-11 13:50] uslss commented on #10978
verified

[2021-03-11 13:50] #10978 closed, assigned to flambchap, uslss

[2021-03-11 13:54] rajaramanwork commented on #11686
Oracle 19

On Thu, Mar 11, 2021 at 5:45 AM Dziyana ***@***.***> wrote:

[2021-03-11 14:12] uslss commented on #11467
verified

[2021-03-11 14:12] #11467 closed, assigned to uslss, ShadelessFox

[2021-03-11 14:26] LonwoLonwo commented on #7861
https://www.postgresql.org/docs/current/ddl-generated-columns.html table for tests can be taken from here.

[2021-03-11 15:28] lateo-net opened #11694 "stuck on splash screen"
#### System information:
- win 10 1809
- DBeaver 21
- Additional extensions : broke DBeaver trying to install extensions/drivers offline

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Context : it broke after i tried everything i could think of to offline install stuff so that

[2021-03-11 15:36] lmaher007 commented on #11525
Yes I did, but because our database is 32 bits, I had to install an older version of DBeaver in which I don't see functions and can't select tables on the left but I see stored procedures, but it seems to open the ODBC!!!

Oh and I cannot run a simple select on an existing table. One I know works.

I guess DBeaver is a no go for me... sorry