[2022-07-21 18:00] s-mikkelsen commented on #13133
I am experiencing the same issue with the newest version of DBeaver

#### System information:
- Operating system (distribution) and version: macOS Monterey 12.4
- DBeaver version 22.1.2.202207091909

#### Describe the problem you're observing:

We are using Amazon Redshift Spectrum to query external data in S3. Users on the newest version of DBeaver are unable to expand columns. I have seen null p

[2022-07-21 18:11] barel166 commented on #13133
I can confirm same problem. I had to roll back to DBeaver v22.1.0. Also on macOS Monterrey 12.4

[2022-07-21 18:18] scottlapoint opened #17146 "ALIAS not showing up in Column Headers"
![Screen Shot 2022-07-21 at 3 12 33 PM](https://user-images.githubusercontent.com/24252132/180284463-5a33e7ea-2bc1-4424-a13d-939d72dfbcd5.png)

#### System information:
- Operating system (distribution) and version - MACOS 12.4
- DBeaver version - 22.1.2 (this has been going on for the last few updates at least)
- Additional extensions - Darkest Dark (tried without it - issue still persists)

####

[2022-07-21 20:17] s-mikkelsen commented on #13133
@barel166 Thank you! Rollback fixed for us as well.

[2022-07-21 21:08] dbenz04 commented on #17136
I'm experiencing similar issues - DBeaver is much slower than before and freezes/not responding quite often now.

I use DBeaver primarily on Windows 11 to query an Oracle database using the Oracle driver.

[2022-07-21 21:54] amartin141 commented on #17136
yup i downgraded to previous version and life is good

On Thu, Jul 21, 2022 at 5:08 PM dbenz04 ***@***.***> wrote:

[2022-07-22 00:26] cooltnt commented on #17136
yes, i tried many times,  22.1.2 not good,  22.1.1 is good,  so i think 22.1.2 have some problems

[2022-07-22 00:36] nathmate commented on #17144
I am also finding that since upgrading to 22.1.2 , dbt is now hanging on all queries. It seems to get stuck on the "Load composite cache: Load composite objects".

[2022-07-22 02:55] zhaixuepan commented on #17102
Hello @LonwoLonwo.
I uninstalled and re-downloaded it, but it still doesn't work.
Is the latest version not yet distributed in the Windows App Store?

![image](https://user-images.githubusercontent.com/15258081/180352491-3e249142-ab94-407a-8b9c-6db468d69e1a.png)
![image](https://user-images.githubusercontent.com/15258081/180352764-acb1a85b-1a6b-4ab2-9f56-e9569a6335dd.png)
![image](https://user-ima

[2022-07-22 06:21] dimitrispal opened #17147 "Automatic proxy configuration not showing up on the application"
#### System information:
- Windows 10 x64
- 22.1.2
- Additional extensions

#### Connection specification:
- Database name and version
- com.mysql.cj.jdbc.Driver  8.0.17
- No

#### Describe the problem you're observing:
On the documentation i can see the image below but i cannot find it anywhere on the software...
![image](https://user-images.githubusercontent.com/39836056/180375800-49cb0256-915a-

[2022-07-22 06:28] jiangyutu opened #17148 "Hope to have the option to add ` symbols to field and table names when generating sql"
now : ```select id from table;```
will : ·```select `id` from `table`;```
It is best to set the mode for generating sql

[2022-07-22 06:44] LonwoLonwo commented on #17148
Hello @jiangyutu

Do you want a special Generate SQL dialog button that quotes all columns and table names?

[2022-07-22 06:48] jiangyutu commented on #17148
I am using the clickhouse database, but when the table name is Chinese, the generated sql cannot be executed unless ` is added to the table name and field in Chinese

[2022-07-22 06:48] jiangyutu commented on #17148
I am using the clickhouse database, but when the table name is Chinese, the generated sql cannot be executed unless ` is added to the table name and field in Chinese

[2022-07-22 06:53] jiangyutu commented on #17148
It is best to add a setting option, you can choose whether the generated sql uses ` to wrap the field and table name

[2022-07-22 06:53] jiangyutu commented on #17148
@LonwoLonwo

[2022-07-22 06:55] LonwoLonwo commented on #17147
Hello @dimitrispal

Thanks for noticing.

Automatic proxy configuration is available only in [DBeaver PRO](https://dbeaver.com/) versions.

I added this info to our wiki page.

[2022-07-22 06:55] #17147 closed, assigned to nobody

[2022-07-22 06:58] LonwoLonwo commented on #17146
Hello @scottlapoint

Can you please provide `log_uploads` DDL and your select query here? For testing.

[2022-07-22 07:02] LonwoLonwo commented on #16364
Maybe you can provide a video of this issue?
We can't reproduce your issue for now.

[2022-07-22 07:11] LonwoLonwo commented on #16862
Hello @Fcscanf

I can see in your picture the small lock icon. It means, that your data here is read-only and DBeaver knows nothing about metadata from this object.

![2022-07-22 10_03_12-The same version, but one does not generate SQL function, why is this_ · Issue #](https://user-images.githubusercontent.com/45152336/180383052-19b12165-a8d2-42fe-a150-a716e2c50c15.png)

You can try to open your t

[2022-07-22 07:14] Fcscanf commented on #16862
@LonwoLonwo Thank you for your help, I will try it later, thank you

[2022-07-22 07:15] LonwoLonwo commented on #17144
Hello @nathmate
What database do you use?

[2022-07-22 07:25] LonwoLonwo commented on #17148
Can you provide a screen of your Generate SQL dialog, please? With incorrect quoted values.
Usually, DBeaver quotes the columns and table names with special characters or keywords.

![2022-07-22 10_24_29-DBeaver Ultimate 21 3 0 - NewTable_1](https://user-images.githubusercontent.com/45152336/180386391-facccaa6-e03d-47a6-81b9-458275490d81.png)

[2022-07-22 07:30] LonwoLonwo commented on #17102
Thanks for the answer.

[2022-07-22 07:30] jiangyutu commented on #17148
now:
![image](https://user-images.githubusercontent.com/101239834/180387157-4e7dc83e-b678-43d0-b9d5-9e7260ba39a5.png)
<br>will:
![image](https://user-images.githubusercontent.com/101239834/180387892-9238f131-d6cb-4597-a10c-dcc8ebc1b4d1.png)

[2022-07-22 07:31] LonwoLonwo commented on #17102
I'm closing this ticket as a duplicate of #17132
The fix will be available in the next release - 22.1.3

[2022-07-22 07:31] #17102 closed, assigned to nobody

[2022-07-22 07:34] LonwoLonwo commented on #17148
Ok, I see. I do not know why ClickHouse can't execute this statement without quotes, but we can add a quoting button.

[2022-07-22 07:35] hxp0618 commented on #17127
I have found the problem, I need to specify the vm parameter to the java directory ,as below：
-vm
/Library/Java/JavaVirtualMachines/zulu-11.jdk/Contents/Home/bin/java

[2022-07-22 07:35] #17127 closed, assigned to nobody

[2022-07-22 07:37] jiangyutu commented on #17148
I think this function is very important. This function is generally available in other database connection tools, such as sqlyog and navicat.

[2022-07-22 07:47] khwj commented on #17143
@LonwoLonwo here is the exported log: [errors.log](https://github.com/dbeaver/dbeaver/files/9165736/errors.log)

[2022-07-22 08:07] Achilles-Wang opened #17149 "datetime"
cant delete data in clickhouse，and turn out to report  “Timestamp format must be yyyy-mm-dd hh:mm:ss”。when I use “select now()”,result is like '2022-07-22 15:51:13.000'.but when i use it in cmd, result is rightly like "2022-07-22 15:51:13"

[2022-07-22 08:07] Achilles-Wang commented on #17149
is it related to JAVA?

[2022-07-22 08:30] LonwoLonwo commented on #12342
PR https://github.com/dbeaver/dbeaver-ee/pull/1816

[2022-07-22 08:35] poltpolt commented on #14930
bug still present in 22.1.2 Linux RPM build

[2022-07-22 08:56] zhaixuepan commented on #17102
Thanks.

[2022-07-22 09:45] LonwoLonwo commented on #17144
We created an Early Access version.
Please test it and tell us the hanging issue is solved or not https://dbeaver.io/files/ea/

[2022-07-22 09:45] LonwoLonwo commented on #17136
We created an Early Access version.
Please test it and tell us if the hanging issue is solved or not https://dbeaver.io/files/ea/

[2022-07-22 09:55] ShadelessFox opened #17151 "Glyphs for PageUp/PageDown keys are incorrect"
_Originally posted by @givihuda in https://github.com/dbeaver/dbeaver/discussions/14662#discussioncomment-3192302_

1. Eclipse uses `⇞` and `⇟` glyphs which confuse macOS users because mac keyboards don't have such keys. We need to patch Eclipse to display `⤒` and `⤓` instead.
1. Our wiki features [a dedicated page for shortcuts](https://github.com/dbeaver/dbeaver/wiki/Shortcuts/) which is rather

[2022-07-22 10:29] valsamis-d opened #17152 "DBeaver allows exiting while task is running"
#### System information:
- Operating system (distribution) and version: Windows 10 21H2 (Build 19044.1766)
- DBeaver version: 22.1.2 Portable
- Additional extensions: MS Office, Darkest Theme

#### Connection specification:
- Database name and version: DB2 JCC Type 4 v11.5.70-FP000
- Driver name: db2jcc4,jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes (SOCS)

#### Describe the problem y

[2022-07-22 10:33] elektro-wolle commented on #11338
I've tried the statement directly on the database and can confirm the ten seconds. But without the `pg_stat_get_numscans` expression the execution is instant (50ms).

[2022-07-22 10:35] tiglymigly commented on #1555
oracle connection.
autocommit = off, isolation level: read committed.
**select 1 from dual;** counts as a modifying statement
beaver version: 22.1.2.202207091909

this is confusing, bummer!

Does it mean that query statement locking the table in oracle?

![bummer](https://user-images.githubusercontent.com/95620050/180420714-478f70b3-4929-4b46-a50d-976e9ed9cadb.jpg)

[2022-07-22 12:03] scottlapoint commented on #17146
It's not happening on this table specifically, it happens to any of them, here are the details you requested.

SELECT id,pid AS PID,date AS `LOAD_DATE`,FROM_UNIXTIME(stamp) AS `LOAD_DATE_TIME`,records AS `RECORDS_LOADED`
FROM log_uploads WHERE date = current_date

CREATE TABLE `log_uploads` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pid` int(11) NOT NULL,
  `date` date DEFAULT NULL,
  `stamp` in

[2022-07-22 12:15] scottlapoint commented on #17146
I also installed on a Windows machine, and tested, seems to be ok there, so related to MACOS only it seems.

[2022-07-22 12:29] ShadelessFox opened #17153 "Improve object statistics visuals in the navigator"
_Originally posted by @givihuda in https://github.com/dbeaver/dbeaver/discussions/16106_

Currently, statistics' visuals are unclear. We want to improve it, so the background is filled left-to-right rather than right-to-left. Also, a light border will highlight the entire statistics bar, making it more pleasant.

![image](https://user-images.githubusercontent.com/35821147/177660984-d4b63ccd-78c8-4

[2022-07-22 13:39] dbenz04 commented on #17136
I tried the early access version this morning. So much faster and more responsive. A query that took 1.5 hours to return 103k rows yesterday only took 1.5 minutes today.

[2022-07-22 13:45] tatod commented on #17131
yes, APPS and XXDFIX are the schema names

[2022-07-22 13:48] ShadelessFox opened #17154 "Rename root elements of collections in the value panel"
Currently, it just shows `<root>`, which is kinda geeky for regular users:

![image](https://user-images.githubusercontent.com/35821147/180452928-f86efa71-2b77-4b16-a7a7-e84b2d180f42.png)

We need to name it more friendly.

[2022-07-22 13:54] Matvey16 opened #17156 "Columns in table properties during data import are not properly resized"
#### System information:
- DBeaver version 22.1.3
-
#### Steps to reproduce, if exist:
1. Open import wizard and select a file that will create a new table
2. Open table properties configuration

**Expected:** The values are readable
**Actual:** Column can be to narrow so the value is cropped

![dbeaver_nSwk3WNle7](https://user-images.githubusercontent.com/82543000/180454084-fc641a6e-fbd4-4c07-a8f

[2022-07-22 14:07] ShadelessFox commented on #17152
Hello @valsamis-d,

Which kind of task are you talking about?

[2022-07-22 14:16] givihuda commented on #17153
So what happens when the bar overlaps the numbers and letters? They appear to have almost identical colors.

[2022-07-22 14:26] ShadelessFox commented on #17153
We will use a brighter color for the background and a contrasting color for the text.

It's just a rough visualization of what it would look like.

[2022-07-22 14:56] valsamis-d commented on #17152
I have an export task that takes about 1hr to complete. So, when I exit dbeaver by mistake it won't tell that a task is running and let me confirm.

[2022-07-22 15:28] jet2 commented on #16482
![image](https://user-images.githubusercontent.com/24220126/180472630-c6e36ad0-5fb4-4c2e-a0dc-392fa00b9b9a.png)

[2022-07-22 17:13] givihuda commented on #7280
I just installed Eclipse for Mac and pasted SQL to a .txt file in a new project... and selecting multiple indented lines and hitting Shift+Tab removed an indent. The indents are spaces, not tabs.

Why again can't DBeaver do this like every other editor I use?

[2022-07-23 05:11] maciey opened #17160 "Pin scripts tab"
I very like option to pin results tab.
Would it be possible to implement the same with scripts ?

I have dozen tabs opened in the same time and have to quickly switch from one to another
It will help a lot if I could pin those most frequently used

** EDIT **

Talking about those tabs at the top:

![obraz](https://user-images.githubusercontent.com/5410448/182153028-0fd7797a-c7fa-4909-9574-4a980d20

[2022-07-24 04:56] bianyun1981 opened #17162 "Found some hard-coded cases where the localization properties file was not found (part 3）"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise Edition (Simplified Chinese), 21H1
- DBeaver version: 22.1.3-SNAPSHOT (The latest development version at the time of posting)

#### Describe the problem you're observing:
After I updated the code of the develop branch to the latest version (last commit time: 2022-07-22 16:27 (GMT+8), commit by [yagudin10]

[2022-07-24 12:21] AonumaSomkaew opened #17163 "Aonuma"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2022-07-24 18:08] #17163 closed, assigned to nobody

[2022-07-25 00:46] cooltnt commented on #17136
tks,  this version I haven't found the previous problems yet

[2022-07-25 03:51] rodrigoGA commented on #5317
happy 3 years to this issue 🥳🥳🥳
Is this planned to be fixed? is very annoying

[2022-07-25 05:33] neilnsmith commented on #15644
Yes, choosing (1000,999) as the scale and precision is ridiculous.  It means that if you recreate your types from the code generated by dbeaver, you won't be able to subsequently store any value >= 10.  If they were going to set some arbitrary values (which it shouldn't), then something like (1000,500) would have at least been better

[2022-07-25 06:38] LonwoLonwo commented on #17146
Thanks.
I can't reproduce it now, but I also use Windows. We will try to check it on Mac.

![2022-07-25 09_36_39-DBeaver Ultimate 22 1 3 - _MySQL 5 5_ Script-68](https://user-images.githubusercontent.com/45152336/180713548-84125aac-64a6-4fee-91da-3c10f85ef94f.png)

[2022-07-25 06:40] LonwoLonwo commented on #17136
Thank you for testing @cooltnt and @dbenz04

[2022-07-25 06:42] LonwoLonwo commented on #17136
Closed as duplicate of #17068

Fix is already available in version 22.1.3
https://dbeaver.io/download/

[2022-07-25 06:42] #17136 closed, assigned to nobody

[2022-07-25 06:43] LonwoLonwo commented on #17144
Closed as duplicate of #17068

Fix is already available in version 22.1.3
https://dbeaver.io/download/

[2022-07-25 06:43] #17144 closed, assigned to nobody

[2022-07-25 06:54] LonwoLonwo commented on #17149
Hello @Achilles-Wang

Can you please provide your table DDL and data sample?

[2022-07-25 07:02] Achilles-Wang commented on #17149
CREATE TABLE review_output.corpus
(

    `comment_id` String,

    `valid` Nullable(Int16),

    `corpus` String,

    `cut_time` DateTime DEFAULT now(),

    `channel` Nullable(String),

    `category` Nullable(String),

    `brand` Nullable(String)
)
ENGINE = ReplacingMergeTree
ORDER BY comment_id
SETTINGS index_granularity = 8192;

[2022-07-25 07:05] Achilles-Wang commented on #17149
![飞书20220725-150345](https://user-images.githubusercontent.com/46441147/180717904-f2f188e4-a83b-4729-96ae-574291e08b18.jpg)
![飞书20220725-150444](https://user-images.githubusercontent.com/46441147/180717919-f744cc3e-dba2-4d4c-95c1-d91de2af462d.jpg)

[2022-07-25 07:06] Achilles-Wang commented on #17149
1000000129	1	服务态度 好 锅底 认真 辣 锅底 种类	2022-04-27 18:15:59.000	DP	食品	周师兄火锅
1000000709	1	位置 观音桥 好找 周师兄 外地人 喜欢 本地人 好 味道 喜欢 菜品 精致 还可以 少 服务 帮忙 口罩 明星 打卡 腰片 干 油碟 霸道 机器人 重庆 火锅	2022-04-27 18:15:59.000	DP	食品	周师兄火锅
1000002763	1	好吃 好吃 肚子饿 小郡肝 大 男朋友 牛肉 爱好者 推荐 大刀 腰片 好 小 奥利奥 雪山 不甜 海带苗 嫩 来点 大 小郡肝 冰粉 味道 酒酿 圆子 味道 鸭肠 还行 麻辣 小郡肝 调料 差不多 等位	2022-04-27 18:15:59.000	DP	食品	周师兄火锅

[2022-07-25 07:11] Achilles-Wang commented on #17149
when i use cmd-client ,datetime columns are correct like '2022-04-27 18:15:59',not '2022-04-27 18:15:59.000'.with the problem,when i modify data,dbeaver report an error like 'Timestamp format must be yyyy-mm-dd hh:mm:ss'

[2022-07-25 07:13] serge-rider opened #17165 "Upgrade JSQLParser"
We need to upgrade JSQLParser to 4.5. It provides new parsing capabilities.

[2022-07-25 07:13] Achilles-Wang commented on #17149
oh,it reminds me that every datetime column becomes like 'yyyy-mm-dd hh:mm:ss.xxx'.but they seem correct in cmd-client

[2022-07-25 07:14] Achilles-Wang commented on #17149
oh,it remind me that ervery datetime column becomes like 'yyyy-mm-dd hh:mm:ss.xxx'

[2022-07-25 07:15] LonwoLonwo commented on #17165
Related tickets:
#15626
#15946
https://github.com/dbeaver/pro/issues/1048

[2022-07-25 07:24] zkelo opened #17166 "Exception when open tables list of Clickhouse connection"
#### System information:
- Operating system (distribution) and version: **Windows 11 21H2**
- DBeaver version: **22.1.3**
- Additional extensions; **DBeaver Office Support**

#### Connection specification:
- Database name and version: **Clickhouse 21.1.2.15**
- Driver name: **Clickhouse (Legacy)**
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  **Yes, SSH tunnel**

#### Describe the problem yo

[2022-07-25 07:46] AonumaSomkaew opened #17167 "iCloud"

[2022-07-25 07:48] LonwoLonwo commented on #15741
Unfortunately, I didn't find a working JDBC driver for FoundationDB.

For now, we can't add support of FoundationDB in DBeaver.

Some links:
https://mvnrepository.com/artifact/com.foundationdb/fdb-sql-layer-jdbc
https://forums.foundationdb.org/t/sql-layer-in-foundationdb/94/10

[2022-07-25 07:57] LonwoLonwo commented on #16482
Maybe you can provide me with an encrypted sample database, please?
On sqlcipher4.
You can send it to my e-mail: anastasiia.volkova@dbeaver.com

[2022-07-25 08:22] #17167 closed, assigned to nobody

[2022-07-25 08:24] LonwoLonwo commented on #17166
Thanks for the bug report @zkelo

[2022-07-25 08:43] Marcdsv commented on #17166
Don't know if it's related but I have the same issue and also some queries are running indefinitely. I rolled back to 22.1.2 version and it works fine.

[2022-07-25 10:33] dbeaver-pm commented on #15471
Let's write more verbose info in tooltip. In status bar we need in a short form

[2022-07-25 10:57] GuenterSch commented on #15471
The date format **2022-07-25 12:48:56** (YYYY-MM-DD) has near the same size like **Jul 25, 12:48:56**.
But we have also the year and we have a standard output format (sortable).
In version 21.3.3 this format was already available.

Bug:
Since Version 22.1.1 it is not possible to open the Status Details. Therefore, I cannot copy this information any longer!

[2022-07-25 11:16] scottlapoint commented on #17146
Just noticed there was an update and installed.

No change (not sure if the note about fixing column aliases was related to this issue or not).

 ** Also side note, each time there is an update it wipes out my darkest dark theme, I have to reinstall it each time.

[2022-07-25 11:24] ShadelessFox commented on #17152
I see. Thanks for the clarification. We should respect background tasks and prevent them from being interrupted.

[2022-07-25 11:25] LonwoLonwo commented on #17166
Hello @Marcdsv

What Clickhouse database version do you use?

[2022-07-25 12:36] JaldeaR commented on #9322
As of the new version 22.1.3 this issue was resolved.

[2022-07-25 12:37] JaldeaR commented on #9322
As of the new version 22.1.3 this issue was resolved.

[2022-07-25 12:48] LonwoLonwo opened #17169 "[Firebird] Update Firebird driver to 5.0.4"
### Discussed in https://github.com/dbeaver/dbeaver/discussions/17129

<div type='discussions-op-text'>

<sup>Originally posted by **nilooInGitHub** July 20, 2022</sup>
Hello Dear Community,

I installed DBeaver and firebird

I have a problem.

1. the stored procedures are not displayed in Navigator?

Can someone help me?
</div>

[2022-07-25 12:50] LonwoLonwo commented on #17169
Also, connected discussion: https://github.com/dbeaver/dbeaver/discussions/16920

[2022-07-25 12:50] LonwoLonwo commented on #17169
Probably we need to read functions and procedures from the system tables, not with the driver.

[2022-07-25 13:00] Aileron79 commented on #16873
I am sorry to say that it has not been resolved. I installed 22.1.3 today, and when running a query in a window that has been idle for a while, the reconnection attempt will open a browser window saying "Authentication complete. You can close the browser and return to the application."

![image](https://user-images.githubusercontent.com/16278437/180783026-89bf9fbf-3455-4e3a-af3b-7b65c8af0c3c.png)

[2022-07-25 13:56] stanfordpeng commented on #16994
OK I think Edit Driver Page can configure the URL correctly. But the first page is just so misleading I mean what is the point of asking database name and project if everything is gonna configured in the URL. When they conflict, we tend to believe in the setting in the first page

[2022-07-25 13:57] stanfordpeng commented on #16994
This can be closed. It might be an "undocumented feature" lol

[2022-07-25 13:57] #16994 closed, assigned to nobody

[2022-07-25 15:38] troizet opened #17173 "Incorrect button layout in the Tip of the Day window"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04.4 LTS
- DBeaver version: 22.1.3.202207240747

#### Describe the problem you're observing:
![Снимок экрана от 2022-07-25 22-31-16](https://user-images.githubusercontent.com/9607501/180817893-9defc261-387c-4b80-9944-48fb2a4b3941.png)

[2022-07-25 17:59] JonLVacasa commented on #6216
Is there directions on how to achieve this? Would like to be able to freeze columns in result set

[2022-07-25 18:59] Matvey16 commented on #15361
Verified

[2022-07-25 19:06] Matvey16 commented on #17132
Verified

[2022-07-25 19:06] #17132 closed, assigned to serge-rider, Matvey16

[2022-07-25 22:05] svonjoi commented on #7598
same here. Helped: window -> reset perspective

[2022-07-25 22:08] Matvey16 commented on #15626
Verified

[2022-07-25 22:08] #15626 closed, assigned to LonwoLonwo, Matvey16

[2022-07-25 22:08] Matvey16 commented on #17165
Verified

[2022-07-25 22:08] #17165 closed, assigned to serge-rider, Matvey16

[2022-07-26 07:03] nicolas-gouteux-sonarsource commented on #9414
I confirm this bug is annoying.

Symptom: Home/End redirection to Line Start/Line End work for some time and then flip back to TextStart/TextEnd although the ppup mentions Line Start/Line End.

MacOs 12.4 Dbeaver 22.1.2

Can this one be addressed?
Thanks

[2022-07-26 07:08] kejdajar commented on #16904
Hello,

after running the `where java` command I get the following output:
`C:\Program Files (x86)\Common Files\Oracle\Java\javapath\java.exe`

Within the ouputted path I wasn't able to find the `cacerts` file. Under the `javapath` there are only `java.exe`, `javaw.exe` and `javaws.exe` files.

After some searching, I was able to find the `cacerts` file in
`C:\Program Files\Java\jre1.8.0_341\lib\s

[2022-07-26 07:19] andrew-dixon commented on #9414
@nicolas-gouteux-sonarsource It's been added to the slate for release 22.2.0 which looks to be currently scheduled for early September, so 🤞

[2022-07-26 07:56] pkwieci1 commented on #5317
C'mon, and I thought I'm doing something wrong because I have to reinstall the Office plugin every time the app updates. Plz fix 😁

[2022-07-26 08:47] gsthorat opened #17175 "Can't read tables: null ConcurrentModificationException java.util.ConcurrentModificationException"
I am getting below error message when I open/refresh the connection.

[code]

![image](https://user-images.githubusercontent.com/29622633/180963482-362173b8-b811-4adf-92e6-abf47419780f.png)

**Steps to Replicate:**
1. Open connect in Dbeaver
2. Now connect to same database using another database client. e.g sqldeveloper in my case
3. Do some modifications to database using sqldeveloper
4. Now try

[2022-07-26 09:45] palytoxin commented on #16455
the bug has been fixed, after upgrade manjaro new glibc

[2022-07-26 09:45] #16455 closed, assigned to nobody

[2022-07-26 13:48] jbisson commented on #16748
still an issue, not sure what more I can provide guys....is it possible to compare the two sets of logs? the code must be a bit different between the two but one way doesn't work?

[2022-07-26 18:45] kret13 commented on #16852
I have the same issue. Have you found a workaround for this?

[2022-07-26 20:15] MikeB2019x opened #17178 "Error message persists and hides running query"
#### System information:
- MacOS Version 10.15.7
- DBeaver Version 22.1.1.202206261508

#### Describe the problem you're observing:
This is my screen on the second run of the query.
![image](https://user-images.githubusercontent.com/49003263/181096723-6386bf85-79a3-4ae9-8c36-f610b322f98c.png)

There are two things wrong:

1. the error was thrown when trying to filter the results in the tab (but th

[2022-07-26 20:52] tbazadaykin opened #17179 "Export as "insert into" from subquery with "union""
[code]

Then export this query a "SQL Insert" with default settings.

What did I get
[code]

what i expected to get

[code]

[2022-07-26 21:04] fm89 commented on #16852
Well, I do not know a workaround from within DBeaver itself. But you can setup a tunnel manually using the ssh command as mentioned above. Then make DBeaver point towards a local address (which is port-forwarded). Obviously, this is not optimal, as it requires you to perform this additionnal step each time before using DBeaver.

[2022-07-27 03:39] vhassis commented on #13534
Hi! Any news about this fix?
I'm having this same problem with mysql on ubuntu when granting user permissions and getting dual database grants when there is already a grant with escaped database (first line) and I grant a permission with dbeaver (second line):
[code]

[2022-07-27 03:42] vhassis commented on #13534
About this, the database need to be quoted with backticks:
[code]

[2022-07-27 06:17] Manja-S commented on #9866
I would really like it to be implemented.

[2022-07-27 08:33] LonwoLonwo commented on #17175
Could you please send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-07-27 09:35] #15361 closed, assigned to Destrolaric, Matvey16

[2022-07-27 09:35] #17135 closed, assigned to LonwoLonwo, Matvey16

[2022-07-27 09:48] gsthorat commented on #17175
Thanks @LonwoLonwo for quick turnaround on this.

I have attached [log.txt](https://github.com/dbeaver/dbeaver/files/9197135/log.txt) log file

[2022-07-27 10:30] Matvey16 commented on #16558
Is idle transactions close disabled in your preferences?

![image](https://user-images.githubusercontent.com/82543000/181226078-59ab8cdf-b6de-4895-9894-6caf25562d03.png)

[2022-07-27 10:35] Matvey16 commented on #16694
@ghost Have you tried enabling `use SQL to limit fetch size` in data editor properties?

[2022-07-27 10:44] Matvey16 commented on #16750
@jtg567 Hello, sorry for the late response. I reproduced this issue and it looks like that property was edded in dreiver settings and not connection settings. Can you try to remove this property from snowflake driver in `Database > Driver manager` menu?
![zoVd9mpuEL](https://user-images.githubusercontent.com/82543000/181228591-c1b05c1c-db2b-43fb-9eda-c3c79a30369a.png)
![dbeaver_EXlmrNTcxD](https:/

[2022-07-27 11:06] AndreSchulz-IONOS commented on #8552
hi, any update here? having the same issue...

e.g. have a look at the following example:
[code]
if i want to add a new line before `-- test2` i would put the cursor on the start of the line and hit enter.
this results in
[code]
so far so good.
but
[code]
results in
[code]

[2022-07-27 11:15] lyndavandermerwe commented on #16558
Hi @Matvey16 ,

Yes, closure of Idle transactions is disabled in my settings
![image](https://user-images.githubusercontent.com/105920847/181233994-6b85932b-eddd-4824-88f3-3c2392338be8.png)

[2022-07-27 11:23] Marcdsv commented on #17166
@LonwoLonwo
Version 21.3.13.9

[2022-07-27 11:33] Matvey16 commented on #16624
@JSKo13 Thank you for your investigation. I reproduced this issue and we are planning to fix it

[2022-07-27 12:28] ULis3h opened #17182 "Build on Mac Get a Failed"
- jdk11
- mvn 3.8.6
- mac 11.5.1

[INFO] Scanning for projects...
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
[INFO] Adding repository https://dbeaver.io/eclipse-repo
[INFO] Fetching p2.index from https://download.eclipse.org/releases

[2022-07-27 13:02] emironovDB commented on #17082
I'm still unable to find anything useful :(

Can you please make a thread dump when you experience this issue? Thanks. https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump

[2022-07-27 13:33] emironovDB commented on #17138
Could you please try the latest version and see if this helps?

[2022-07-27 13:37] rodabt commented on #16852
Same here

[2022-07-27 13:49] mpapachristoforou commented on #17138
Yes, works perfectly! :smiley:

Thanks Eugene

[2022-07-27 13:50] mpapachristoforou commented on #17138
closing ticket

[2022-07-27 13:50] #17138 closed, assigned to nobody

[2022-07-27 17:04] jtg567 commented on #16750
Thank you @Matvey16; I can use DBeaver with Snowflake again!

[2022-07-27 21:03] Carl-Moy opened #17187 "Cassandra metadata edtior"
I would like to be able to have DBeaver take a Cassandra table and (assuming it's not indexed), be able to right click on the column in the table and rename.  This capability exists on RDBMS such as Oracle.

[2022-07-27 21:12] LonwoLonwo commented on #12342
Related ticket: https://github.com/dbeaver/dbeaver/issues/16482

[2022-07-28 06:46] LonwoLonwo commented on #17187
Thanks for the idea @Carl-Moy

Some useful links: https://docs.datastax.com/en/cql-oss/3.3/cql/cql_reference/cqlAlterTable.html

Maybe we can add these restrictions as a note/comment in the renaming query.

[2022-07-28 07:42] LonwoLonwo commented on #17182
Hello @ULis3h
Can you provide your steps before building?
Did you try to update code before building?

[2022-07-28 07:47] ULis3h commented on #17182
@LonwoLonwo
OK,
git clone https://github.com/dbeaver/dbeaver.git dbeaver
cd dbeaver
mvn package

then, i get error...

[2022-07-28 07:57] LonwoLonwo commented on #17182
You can delete dbeaver project and clone it again. You have problem in the com.github.jsqlparser-4.5.0.jar file. Probably, you can't download it from dbeaver.io because of some firewall problems.

[2022-07-28 07:58] #17182 closed, assigned to nobody

[2022-07-28 08:35] uslss commented on #15946
verified

[2022-07-28 08:35] #15946 closed, assigned to uslss, LonwoLonwo

[2022-07-28 08:43] solisgb commented on #17082
The select returns 20 geometries of multipolygon type; 693,297 points in all geometries; the geometry with the most points has 140,155 points.
I include the process ID in Windows 10.
1)  Application status
![dbeaver_execution](https://user-images.githubusercontent.com/37953927/181461603-2285d6e4-1ae8-4eeb-aee9-9595a7c02abf.PNG)
2) ID: 11916
![dbeaver_process_id](https://user-images.githubuserconte

[2022-07-28 09:20] slistov opened #17190 "Russian localization error"
**OS**
Ubuntu, .deb

**DBeaver version**
22.1.3.202207240747

**Problem description**
Russian localization error in "Tip of the day" window

Now
обл**Ы**чных
![image](https://user-images.githubusercontent.com/75843336/181468168-c7cee996-c065-4bb9-a728-0692a3d2a8b4.png)

Expecting
обл**А**чных

[2022-07-28 09:23] solisgb commented on #17082
It seems that the error is related to the number of points in the geometry.
If I run a select for each geometry, the problem only appears with gid 10 (geometry with 140,155 points) and gid 13 (geom127,037 points), but no longer with gid 17 (geom 101,704 points).
If I run a select with all rows except gid 10 and 13 the geometries are represented correctly.
I include a csv file (zipped) with these g

[2022-07-28 09:30] LonwoLonwo commented on #17190
Oops.
Thanks for the bug report @slistov

[2022-07-28 11:13] Matvey16 commented on #17092
@Montgomeryz Thank you for the report. The problem is that the detached editor behaves like a separate window and doesn't have any menu commands at all (it can be seen on MacOS better that when you focus on detached editor, menu commands just disappear), so when you use file menu it works as intended because that menu is not associated with detached window. We will see if menu commands could be ad

[2022-07-28 11:37] Destrolaric commented on #16910
Linked pr:https://github.com/dbeaver/dbeaver-packaging/pull/42

[2022-07-28 12:06] uslss commented on #16961
@Kluk seems the issue is similar to #12977
Event privilege is available on User Properties Tab.
Unfortunately, cannot reproduce the issue with Grant option

[2022-07-28 12:08] uslss commented on #16841
There have been no updates for a long time.
If the issue is still actual - feel free to reopen it

[2022-07-28 12:08] #16841 closed, assigned to nobody

[2022-07-28 12:09] uslss commented on #16722
There have been no updates for a long time.
If the issue is still actual - feel free to reopen it with additional info

[2022-07-28 12:09] #16722 closed, assigned to Destrolaric

[2022-07-28 12:09] #16806 closed, assigned to nobody

[2022-07-28 12:09] uslss commented on #16892
There have been no updates for a long time.
If the issue is still actual - feel free to reopen it with additional info

[2022-07-28 12:09] #16892 closed, assigned to nobody

[2022-07-28 12:10] #16913 closed, assigned to nobody

[2022-07-28 12:10] #16855 closed, assigned to Matvey16

[2022-07-28 12:11] uslss commented on #16907
There have been no updates for a long time.
If the issue is still actual - feel free to reopen it with additional info

[2022-07-28 12:11] #16907 closed, assigned to nobody

[2022-07-28 12:11] uslss commented on #16860
There have been no updates for a long time.
If the issue is still actual - feel free to reopen it with additional info

[2022-07-28 12:11] #16860 closed, assigned to uslss

[2022-07-28 12:12] uslss commented on #16945
There have been no updates for a long time.
If the issue is still actual - feel free to reopen it with additional info

[2022-07-28 12:12] #16945 closed, assigned to nobody

[2022-07-28 12:15] uslss commented on #16928
Refresh improvements will be done in the scope of #6398.
Close this issue as a duplicate.
Anyway, thanks for the report

[2022-07-28 12:15] #16928 closed, assigned to nobody

[2022-07-28 12:19] uslss commented on #16840
@dennisKwone you could try [Darkest Dark theme ](https://github.com/dbeaver/dbeaver/wiki/Eclipse-extensions#popular-3rd-party-extensions-for-eclipse-and-dbeaver)

[2022-07-28 12:26] uslss commented on #17178
@MikeB2019x you can enable Show errors in a dialog in Preferences. Does it resolve your issue?
![image](https://user-images.githubusercontent.com/31996417/181504584-60c0dc88-eb95-4370-8ef6-31cec8ca8a62.png)

[2022-07-28 12:30] uslss commented on #17173
Also reproducible on windows os
![image](https://user-images.githubusercontent.com/31996417/181505162-36946846-1671-4f39-91b0-23f217d27674.png)

[2022-07-28 12:31] Lancer11211 opened #17192 "Updating while the table is sorted corrupts data"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04
- DBeaver version 22.1.3 CE
- Additional extensions N/A

#### Connection specification:
- Database name and version H2DB
- Driver name JDBC
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

While the table is sorted, updating cells can corrupt the table:

I ordered

[2022-07-28 13:33] MikeB2019x commented on #17178
@uslss yup that falls in to the 'nice' category so many thanks for that.  _Really nice_ would be being able to prevent even the pop-up dialog b/c when I'm in the field on a small screen it's just one more thing blocking my view :)

[2022-07-28 16:28] #12342 closed, assigned to uslss, LonwoLonwo

[2022-07-28 19:34] jbrains commented on #17068
I'm merely confirming that this problem is fixed in 22.1.3.

[2022-07-29 01:23] zhicwu opened #17196 "Single database connection mode?"
**Is your feature request related to a problem? Please describe.**

When I use DBeaver to connect to `jdbc:ch://(https://explorer@play.clickhouse.com:443),(https://demo:demo@github.demo.trial.altinity.cloud)?load_balancing_policy=random`, it may show database/table structure from one server and issue query against the other. This is because each connection may pick a different server from the list

[2022-07-29 01:42] xm0827 opened #17197 "更新到22.1.3.202207240747版本后，不再支持多屏自动缩放。"
这次升级开了倒车。 我之前的版本支持多个屏幕直接拖放后自动缩放的。更新到这个版本后不再支持这种缩放了。这个是要抛弃多屏用户的使用了吗？

#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Includ

[2022-07-29 08:24] tonysmz opened #17198 "SAP hana database schema case sensitive issue"
#### System information:
- Operating system (distribution) and version
  Windows 11
- DBeaver version
  22.1.3
- Additional extensions

#### Connection specification:
- Database name and version
  SAP HANA EXPRESS 2.0
- Driver name
  default sap hana jdbc driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
  no

#### Describe the problem you're observing:
  when connect SAP hana, there are t

[2022-07-29 09:38] #15620 closed, assigned to serge-rider, Matvey16

[2022-07-29 09:39] #17166 closed, assigned to uslss, LonwoLonwo

[2022-07-29 12:27] cesek-navisys commented on #16733
Same problem. I believe it has something to do with citext. I can easily update data via UPDATE ... SET COLUMN but not in DBeaver UI (22.1.2.202207091909).

![image](https://user-images.githubusercontent.com/79996604/181758264-26ab5412-21f6-41a7-a100-ec5d56c8fa10.png)

[2022-07-29 12:39] serge-rider opened #17201 "Upgrade Mockito to 4.x"
We use too old legacy Mockito for unit tests.
We need to upgrade it to the most recent version.

[2022-07-29 12:59] #16910 closed, assigned to Destrolaric, Matvey16

[2022-07-29 13:00] #17190 closed, assigned to uslss, LonwoLonwo

[2022-07-29 13:00] #17154 closed, assigned to uslss, ShadelessFox

[2022-07-29 13:34] LonwoLonwo commented on #16733
The original issue and ticket about `citext` representation are now in this ticket: https://github.com/dbeaver/dbeaver/issues/17108
You can vote for them (So we can't understand that this is urgent). And subscribe to get news.

[2022-07-29 13:44] LonwoLonwo commented on #17198
Thanks for the bug report @tonysmz

I can reproduce your issue.

[2022-07-29 14:06] LonwoLonwo commented on #17198
Not best, but some small workaround: you can set default schema in the database navigator tree:

![tbYsUEOIF5](https://user-images.githubusercontent.com/45152336/181777559-55f0af5c-45a6-487a-9a40-313fe1c568f9.gif)

[2022-07-29 14:09] LonwoLonwo commented on #17197
Hello @xm0827

Please translate your ticket into English.

Also, some screens or videos of the issue will be beneficial.

[2022-07-29 14:12] LonwoLonwo commented on #17162
Hello @bianyun1981

Thanks for the report.

[2022-07-29 14:28] tonysmz commented on #17198
Hi LonwoLonwo,

Thanks for your reply, according to your instructions, it is indeed possible to use the uppercase schema as the default schema. In fact, I have tried to switch the default schema in the navigator before, but I found that the schema in the top pancel has not changed, so I did not make further tests

Tony

[2022-07-29 14:33] tonysmz commented on #17198
and I think this issue is not only relate to sap hana only but all kind of databases (though I didn't tested the other database), hope it can be fixed soon, thank you for the great work of  you and your team

[2022-07-29 17:21] shoulders commented on #172
just for reference there is now a setting

`Windows --> Preferences --> Editors --> SQL Editor --> SQL Processing --> Delimiters --> Blank line is a statement delimiter`

[2022-07-29 17:40] jiangyutu opened #17203 "The production version (release-22.1.2) failed to build"
After inspection found that depend on the package version of ```https://dbeaver.io/eclipse-repo/``` has changed, now I want to build the warehouse at the local, where I need to find the dependencies
<br>
![image](https://user-images.githubusercontent.com/101239834/181814558-08e5a50d-860a-4567-82e0-9d304f0f36ce.png)

[2022-07-29 18:05] SummerHow commented on #16733
the type of database I am connecting to is Oracle

[2022-07-29 18:17] eckmanca-caremore commented on #15743
This also occurs when trying to use Generate DDL - Show full DDL on a schema. Message:

Error ready procedure body
ERROR: "array_accum" is an aggregate function

[2022-07-29 18:21] oguzyildizz opened #17204 "Right click menu and all the system bar menus are invisible"
#### System information:
- Operating system (distribution) and version: 13 ventura (beta)
- DBeaver version: 22.1.3
- Additional extensions: None

#### Connection specification:
- Database name and version: Postgres
- Driver name: Default one it made me download

#### Describe the problem you're observing:
Right click menus and all the system bar menus are invisible (they're still clickable but I

[2022-07-29 22:52] jtg567 commented on #17009
Found this issue by searching, facing something similar and wondering if it's actually not a Snowflake bug?

I'm also trying to keypair authenticate to Snowflake to save myself from several MFA pushes to my mobile device when working with DBeaver. I've similarly set the `private_key_file` and `private_key_file_pwd` properties.

My error:`Private key provided is invalid or not supported: /Users/jos

[2022-07-30 06:47] TheresaAd commented on #16515
Hi , on the preference settings, I found this and it worked for me

![image](https://user-images.githubusercontent.com/23723296/181878452-3bf2596c-f583-41d7-9070-b8fd26d5dd76.png)

[2022-07-30 08:38] michal-bartak opened #17205 "Using Tab in block edit mode indents whole line"
#### System information:
- Fedora 36
- DBeaver version: 22.1.3
- Additional extensions: N/A

#### Connection specification:
- Postgresql 14
- Potgresql
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NO

#### Describe the problem you're observing:
When in block edit mode, trying to indent the whole block of text by hitting TAB key, I expect to add spaces/tabs where the cursor is located.
DBeave

[2022-07-30 08:56] michal-bartak commented on #7280
Thank you for the feedback @givihuda
I reported it almost 3 years ago. It remains annoying when formatting a source code.

[2022-07-30 09:08] michal-bartak opened #17206 "Permission settings for database"
**Is your feature request related to a problem? Please describe.**
There is no Permission setting for databases
![image](https://user-images.githubusercontent.com/7868445/181903367-4360b8db-d5d1-4464-ab89-532cce5ea409.png)

I report it as a feature request but tbh I consider it a bug since most objects (schemas, tables, functions, SPs etc) have it

**Describe the solution you'd like**
Databases de

[2022-07-30 17:44] #17201 closed, assigned to serge-rider

[2022-07-31 04:27] enkracken commented on #16993
Yeah. Make it straight to always use between next or start would make it better. Sorry for late reply. I don't have any word in my head

[2022-07-31 13:38] travelliu opened #17208 "Hope to support PG $tagName$code$tagname$ parsing"
**Is your feature request related to a problem? Please describe.**

[code]

The above SQL will be sent to the database as a SQL statement during execution.

![2022-07-31 at 21 39](https://user-images.githubusercontent.com/7792329/182029071-296cca9a-f447-44b1-9910-4861a581c438.png)

JDBC Log Trace

[code]

**Describe the solution you'd like**

Want to automatically split into two executions.

**Des

[2022-07-31 23:56] podoni opened #17209 "Improved "Plan" results window"
Currently, there are many cases of comparing "PLAN" for sql tuning, so I hope that some improvements will be made in the PLAN execution result window.

1. Add a function to select all in the Oracle PLAN execution result window (ex : ctrl+a)
  ![image](https://user-images.githubusercontent.com/59002295/182050690-056eb297-2c6a-4e22-aba9-ccd1d9e45821.png)

3. When advanced copy is executed, I want th

[2022-08-01 00:28] google007049 opened #17210 "Advance copy '[NULL]' PASTE"
![image](https://user-images.githubusercontent.com/58673078/182051927-c7ef47fe-f6f3-4ce8-be69-758f481ee49a.png)

![image](https://user-images.githubusercontent.com/58673078/182052558-bb808f6d-6bdf-42c9-a2fc-0e0ab3f30df8.png)

INSERT INTO C_FOREIGN(COMPANY_KIND,CONTROL_YEAR,CONTROL_NO,PAPMNY_CODE,SALE_DATE,PRINT_DTIME,REDEM_DATE,CURR_CD,PAPMNY_AMT,DEL_YN,REG_EMPNO,REG_DTIME,**MOD_EMPNO**,**MOD_DTIM

[2022-08-01 01:51] xcxcxz opened #17211 "running query exception"
#### System information:
- Operating system (distribution) and version : Mac os m1
- DBeaver version : 22.1.3
- Additional extensions : none

#### Connection specification:
- Database name and version : mysql
- Driver name : Default one it made me download
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
it throws exceptions like attach log when runni

[2022-08-01 06:40] iraidaa commented on #16904
Hello @kejdajar,

Did you try to tick Trust Server Certificate in the SSL tab in the Connection configuration? I guess you can try it to enable trust in the SSL certificate of the SQL Server.

![image](https://user-images.githubusercontent.com/49681450/182087450-7e9b1b72-225d-498d-aa06-ddc0d092c31f.png)

[2022-08-01 06:47] ClassyCircuit commented on #5258
When is this bug going to be fixed? It's been 4 years now. Why other IDEs don't have such an issue?
It's not about running cross-database queries, but simply switching between several databases on the same Azure server.

[2022-08-01 07:15] LonwoLonwo commented on #17210
Hello @google007049
Please provide your DBeaver version, database name and version, and your table DDL. Data sample also will be beneficial

[2022-08-01 07:23] kejdajar commented on #16904
Hello,

I have verified (using our non-pruduction environment) that "Trust Server Certificate" allows the connection to be established successfully. Nonetheless, I was told by the database administrator that the "Trust Server Certificate" should never be ticked for production environments - to ensure the certificate is valid and the connection is secure.

Currently, I have to use the SSMS to conne

[2022-08-01 07:35] LonwoLonwo commented on #17206
Thanks for the suggestion (and SQL) @michalk-k

[2022-08-01 07:35] LonwoLonwo commented on #8000
Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/17206

[2022-08-01 07:35] #8000 closed

[2022-08-01 07:38] LonwoLonwo commented on #17204
Hello @oguzyildiz1991

Can you please provide a video of the issue?

[2022-08-01 08:11] LonwoLonwo commented on #5258
And how can we do this without the USE statement? Do you know the solution @janissimsons?

[2022-08-01 08:53] Ou7law007 commented on #16852
Same here version 22.1.3

[2022-08-01 09:13] Character799 opened #17213 "Filter Objects of Owner while connected with another user"
Hello,

While I know that when connected with the owner of the schema, I can filter the tables I want , it seems it is not possible when connected with, for example, a select user.
Please consider the following scenario:
USER1 connects to (and has only select rights to these schemas)
1)SCHEMA1_OWNER
     Tables
          A
          B
          C
2)SCHEMA2_OWNER
      Tables
          D

[2022-08-01 09:47] szekeresgeza opened #17215 "Incorrect table DDL generation in azure sql server"
#### System information:
- Operating system (distribution) and version : Windows 10
- DBeaver version : 22.1.3.202207240747
- Additional extensions

#### Connection specification:
- Database name and version :  Azure SQL
- Driver name : Azure SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
We created a table. There are many columns with  c

[2022-08-01 11:06] goranc commented on #17166
Why you don't have latest two versions supported to upgrade/downgrade ?

This is very bad practice because we have to manually install previous version of the software in case that something isn't working in new version which is critical, like it was the case here.

[2022-08-01 11:16] amartin141 commented on #11078
Any update on this @dbeaver-devops

[2022-08-01 11:53] llagerlof commented on #4630
Although this issue is already closed, this happened to me in Fedora 36, but I managed to solve the problem using another workaround instead the `-nl` option.

My system is in `pt_BR` and after I installed `DBeaver-CE 22.1.3` as a normal user, the application configured itself to `pt_BR` and didn't let me change to `en_US` in DBeaver preferences (the exactly issue informed by @JamesInform).

In my

[2022-08-01 12:32] phulstaert opened #17217 "sqlite locked when opening from wsl path"
### Description

![sqlite locked wsl 2022-08-01 142353](https://user-images.githubusercontent.com/8971696/182147261-243ce3fa-3af3-4b28-b0de-c03c02536d9b.png)
When opening a sqlite file from a wsl path ( \\\wsl$\Ubuntu20.04\....\db.sqlite ), DBeaver gives an error that the file is locked.
A regular network path ( \\\nas\someFiles\db.sqlite ) works without problems.

This is an issue since DBeaver i

[2022-08-01 12:35] phulstaert commented on #17217
Small addition; it has nothing to do with the $ symbol in the url.
\\\localhost\c$\Projects\db.sqlite also works without issues.

When mapping the wsl path to a drive letter, it also does not work.

[2022-08-01 12:42] phulstaert commented on #17217
Only reference of existing issue is https://github.com/dbeaver/dbeaver/issues/4314#issuecomment-716283300.
But here the op states every network path does not work (what clearly is not the case). The comment above states that also wsl does not work. (This was already the case in 2020)

[2022-08-01 12:53] maciey opened #17219 "Dark theme - XML preview not visible"
In the dark mode (default) XML preview is completely not readable
(Screenshot looks in fact better then in real :)

In general dark black / blue on dark grey background are hard to read.
Would be good to have this corrected

![obraz](https://user-images.githubusercontent.com/5410448/182096174-1f806f21-e9e6-429d-a86e-5842dbbe0fdb.png)

[2022-08-01 12:56] maciey commented on #6216
Right clicking on columns header:

![obraz](https://user-images.githubusercontent.com/5410448/182152600-b2e557b4-67ed-4ab4-aa9d-148a375b4fec.png)

[2022-08-01 13:19] iGavroche opened #17220 "Illegible UI in Manjaro (Latest) / Gnome 42.3"
### Description

DBeaver's UI in Gnome Dark mode displays a gradient and colors which make most tabs impossible to read.

Here is what it looks like:
![image](https://user-images.githubusercontent.com/95258328/182156372-6935ebd2-32b3-403c-93e7-b7b0b5c568e7.png)

### Steps to reproduce

Assuming latest Manjaro Linux with Gnome 42.3 (X11 Windowing System) in Dark Mode.
1. Install DBeaver from the AU

[2022-08-01 13:33] iGavroche commented on #17220
Looks like I found the solution, so here it is for anyone finding themselves in the same situation:

Switching to Dark Mode fixes the issue:
![image](https://user-images.githubusercontent.com/95258328/182159202-11688330-b6b2-4c17-a1e5-78e97898db24.png)

To do so click on `Window > Preferences > Appearance`, then Switch the `Theme` to `Dark`.

[2022-08-01 13:33] #17220 closed, assigned to nobody

[2022-08-01 13:39] Destrolaric commented on #17125
Hi, I looked into described problems
1. Unfortunately couldn't reproduce it, a video may help.
2. Data editor applies current timezone for used dates if there is no manual override, you can disable date/time formatting in `Data Formats` preferences

[2022-08-01 14:10] LonwoLonwo commented on #17219
Hello @maciey

Yes, I can reproduce it. Value panel is fine for JSON format, for String, but not for XML.

[2022-08-01 14:11] phulstaert commented on #17217
I suspect this is on a driver level (that DBeaver is using to make the connection)
I think is this is the related incident
https://youtrack.jetbrains.com/issue/DBE-11014
and they refer to this:
https://github.com/microsoft/WSL/issues/4689

Could you think about a temporary solution? Something in the likes of a temporary and automatic
`ln -s /wslPath/db.sqlite /mnt/c/temp.sqlite`

[2022-08-01 14:57] chiefgecko opened #17222 "BUG - Explain plan bind variables dialog is missing quoted bind variable names"
### Description

Database type: ORACLE
Query: [select :1 ,:"SYS_B_1" ,:"MYBVAR8" from dual;]

### Steps to reproduce

Explain plan bind variables dialog does not detect quoted("") bind variable names.

![dbeaver-explain](https://user-images.githubusercontent.com/8054008/182178491-21953631-565a-4009-b101-9f35b266b79b.jpg)

### DBeaver Version

Community Edition Version 22.1.3.202207240747

### Oper

[2022-08-01 15:03] Austin1 commented on #17126
Sorry! For some reason I didn't get a reply notification OR it got buried somehwere in Gmail updates category.

I'm outling what I consider two separate issues below:

I've now upgraded to 22.1.3 and I'm re-testing.

Here are my driver settings to make sure I dont have a versioning issue with what you all deploy as the "latest" that you all partnered with Teradata on:
<img width="612" alt="image"

[2022-08-01 16:05] oguzyildizz commented on #17204
I'm right clicking in this video, and also clicking the buttons on top https://drive.google.com/file/d/1zDLw1rKiPYmVHPjD4DTkOlSPfj93k7tM/view?usp=sharing

[2022-08-01 16:45] Austin1 commented on #17126
Update

I made a net new connection with no schema filters and now all the types are appearing under the database instead of just views. Is that a bug or do I have a setting wrong?

Also - I was able to confirm that seeing source definitions for procedures is NOT a problem.

[2022-08-01 17:06] LonwoLonwo commented on #17204
Yes, I see now, thanks.

DBeaver is based on the Eclipse platform, and this is the Eclipse bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=580322

It seems to be fixed already, but this fix will be available in our product only in Autumn with the new Eclipse release.

[2022-08-01 17:25] oguzyildizz commented on #17204
Thanks for looking into it!

[2022-08-01 17:30] oguzyildizz commented on #17204
Downgrading it worked (also had to do [this](https://github.com/dbeaver/dbeaver/issues/1218#issuecomment-277714288) )

[2022-08-01 17:38] MrDevCop opened #17224 "Error while connecting to Mysql Database"
### Description

Hi everyone!
This is my first time posting an issue on Github so kindly bear with me if I make any mistakes while explaining my issue.
A little background: I have just got a new laptop for my workplace on which i am trying to install and use dbeaver to connect to our MySQL database hosted on AWS. In my old machine I could easily set up a connection to my database without any hassl

[2022-08-01 19:31] justinTM commented on #8819
not accurate solution:
<img width="521" alt="image" src="https://user-images.githubusercontent.com/9123665/182230460-bc66925f-a193-4a7f-99de-e6e78d692c80.png">

[2022-08-01 21:44] p91paul commented on #15519
is this planned for some future release?

[2022-08-02 08:57] Raygeku commented on #17166
I have same issue. So, only available solution is rollback?

[2022-08-02 09:57] LonwoLonwo commented on #17224
Could you please share the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-08-02 10:06] LonwoLonwo commented on #17224
Also, a screen of the connection page will be beneficial.
I googled this issue, and it can be bundled with a user name, for example.

[2022-08-02 10:10] LonwoLonwo commented on #17224
Or maybe this advice can help you: https://github.com/dbeaver/dbeaver/issues/3213#issuecomment-376276865

[2022-08-02 10:15] LonwoLonwo commented on #17222
Hello @chiefgecko

Can you please explain to me - is any specific reason to use variables in quotes? Why do they need quotes?
Links and examples will be beneficial, thanks.

[2022-08-02 10:17] Matvey16 commented on #16704
Currently you can either disable the auto-closing for brakets to get rid of this behavior.

[2022-08-02 10:22] iraidaa commented on #16904
Hello @kejdajar,

Could you please send me the log files? You can find instructions here: [dbeaver.com/docs/wiki/Log-files](https://dbeaver.com/docs/wiki/Log-files/). You can send it to email: iraida.lavrova@dbeaver.com.

Also, attach the DBeaver Connection Settings screenshot please.

Really sorry for the inconvenience you experienced!

[2022-08-02 10:30] LonwoLonwo commented on #17211
Hello @xcxcxz

Is this issue occurs only for provided query? Or not?
Maybe you can provide a more simple query example instead of this? I can't reproduce without all these tables from your query, which I do not have.

[2022-08-02 10:37] xcxcxz commented on #17211
Unfortunatly, Others are working well.
But after i run that provide query, other query also not works and 'cmd + enter' also not working...
It just change the line.

[2022-08-02 10:38] LonwoLonwo commented on #17209
Hello @podoni

Please provide me with more info.

1. Is there any specific reason not to use Shift instead of Ctrl+A?
2. Do you suggest using tab symbols for nested operations?

[2022-08-02 10:42] LonwoLonwo commented on #17211
SQL Editor result tab will not work after this kind of issue. Better to close the resultset and SQL Editor too.

Maybe you can test it in the new SQL Editor? Cut the query for our test? Or provide us please dependent objects DDLs.

[2022-08-02 10:57] uslss commented on #17215
thanks for the report

[2022-08-02 11:09] uslss commented on #17205
thanks for the report

[2022-08-02 11:21] uslss commented on #17192
thanks for the report

[2022-08-02 11:22] uslss commented on #17192
![dbeaver_6CHCWU3EUs](https://user-images.githubusercontent.com/31996417/182363018-bf4517c7-c69c-44f0-89b4-d260adf4892d.gif)

[2022-08-02 11:31] kejdajar commented on #16904
Thank you,
you can find all the requested details in your e-mail inbox.

[2022-08-02 11:31] uslss opened #17231 "FK link in empty cell for every row entry is shown in case of array expand"
### Description

FK link in an empty cell for every row entry is shown in case of array expansion if there is some reference to FK in the row

### Steps to reproduce

![image](https://user-images.githubusercontent.com/31996417/182364063-719f0d13-03b4-4941-a2f6-11af53802989.png)

### DBeaver Version

CE 22.1.4

### Operating System

win10

[2022-08-02 11:33] LonwoLonwo commented on #17166
Hello everyone.

We have Early Acces DBeaver 22.1.4 version: https://dbeaver.io/files/ea/
It can be raw in some places because it's not tested for now, but this bug is fixed in this version.

[2022-08-02 11:42] uslss commented on #17179
thanks for the report
seems to be similar to #16893
will be fixed in #17044

[2022-08-02 11:42] #17179 closed, assigned to nobody

[2022-08-02 12:12] SimonDataAnalist opened #17232 "SQL Error OpenEdge JDBC (10713)"
### Description

When I run a query via the OpenEdge driver that starts with information about the query, so it starts with /*<here is information about the script>*/ then I get a sql error:
SQL Error [HY000]: [DataDirect][OpenEdge JDBC Driver][OpenEdge] Syntax error in SQL statement at or about "...” (10713)

When I start the same query without starting with /*<here is information about the scrip

[2022-08-02 12:15] zalciokas commented on #5317
Or, maybe, if it's hard to leave plugin installed after update, please, implement data export to xlsx :)

[2022-08-02 12:24] szekeresgeza commented on #17215
Hi!

Today we tested with another dbeaver sql driver  (MS SQL Server / SQL Server)  and unfortunatelly the same issue is occured.

BR
Geza

[2022-08-02 13:41] serge-rider commented on #16836
Fixed. Now we use database name from URL instead of `local`.

[2022-08-02 14:54] #15471 closed, assigned to Destrolaric, uslss

[2022-08-02 14:54] #16895 closed, assigned to Destrolaric, uslss

[2022-08-02 15:18] LonwoLonwo commented on #15188
Hello @BambangSumitra

I have a question for you. Tell me, please, what is the reason to use a custom provider instead of an official one?

[2022-08-02 15:31] ipcooper opened #17234 "InterSystems IRIS JDBC Driver Link Outdated"
### Description

When establishing your first connection to InterSystems IRIS, DBeaver will prompt you to download the appropriate JDBC driver from the official InterSystems github repository using a link which is now out of date and nonfunctional (https://https://github.com/intersystems-community/iris-driver-distribution/raw/main/intersystems-jdbc-3.1.0.jar).

The suggested location to get the la

[2022-08-02 15:39] LonwoLonwo opened #17235 "Incorrect place of the "Persist" button in the "Preview changes" dialog"
### Description

![2022-08-02 15_06_39-DBeaver Ultimate 22 1 4 - ALBUM](https://user-images.githubusercontent.com/45152336/182415007-d14e3840-e3ec-465c-977b-948522f67971.png)

### Steps to reproduce

1. Do some changes in the data viewer cell
2. Open the "Script" button

### DBeaver Version

22.1.3

### Operating System

Windows

[2022-08-02 15:46] LonwoLonwo commented on #17234
Hello @ipcooper
Thanks for the report.
We use JDK11 in DBeaver, maybe https://github.com/intersystems-community/iris-driver-distribution/blob/main/JDBC/JDK11/intersystems-jdbc-3.2.0.jar will be better?

[2022-08-02 15:51] LonwoLonwo commented on #17232
Hello @Simon-Zuidwester
Can you provide a screen from SQL Editor, please?
Are these symbols "//" means comment in OpenEdge dialect? If yes, did you try to use the standard "#" symbol?

[2022-08-02 16:03] ipcooper commented on #17234
I've been able to successfully use both the driver you linked and the one I linked in the JDK18 folder - if you think the JDK11/3.20 is better then I personally don't see a reason not to use it instead.

[2022-08-02 16:22] #15469 closed, assigned to uslss, LonwoLonwo

[2022-08-02 16:57] chiefgecko commented on #17222
Oracle bind variable naming supports Oracle standard object naming.

[code]
Consequently the same naming conventions apply to bind variables

[code]
(more...)

[2022-08-02 16:58] chiefgecko commented on #17222
Example in a script:
[code]

=====
Tim...

[code]

[2022-08-02 17:00] chiefgecko commented on #17222
Script:
[code]

[2022-08-02 17:28] Kyle-Payne commented on #14749
Team, I ran into this same error when I tried a new bastion host running Ubuntu 22.04. Things had been working (tunneling with DBeaver) when my bastion host was running 20.04. I rolled back to 20.04 and things started working again.
To be clear 22.04 works in every other way for tunneling. So, at the CLI I was able to connect to and tunnel through my bastion host. It was only DBeaver which had the

[2022-08-02 18:53] zsm369 opened #17238 "SSMS Login Failed."
### Description

![image](https://user-images.githubusercontent.com/32601074/182451622-b142fa97-7859-4440-838c-94a3f01733b3.png)

### Steps to reproduce

_No response_

### DBeaver Version

22.1.3

### Operating System

_No response_

[2022-08-02 19:50] givihuda commented on #7280
I guess I don't understand @serge-rider's reference to Eclipse... is Eclipse used in DBeaver? Or it was and the feature was removed with Eclipse?

[2022-08-02 20:10] E1izabeth commented on #7280
@givihuda DBeaver is based on Eclipse platform

[2022-08-02 22:20] givihuda commented on #7280
Strange, I wonder why it wouldn't inherit its de-indent feature.

[2022-08-02 22:21] rjake opened #17240 "Code folding on indentation"
I think issues #6498, #11830, and maybe #13152 could be resolved if DBeaver used indentation as a guide. I generally use text editors that collapse on indentation and it slows me down when I can't collapse sections of my code. DBeaver does fold code but only at high levels. I often want to collapse a lengthy  `case` statement or a whole `select` section. Or sometimes I put a list of things in pare

[2022-08-03 00:35] xcxcxz commented on #17211
I tried in mysql workbench and it working well.
I give you DDLs.

[code]

[code]

[code]

Thank you for your help.
I hope you find this bug and fix smoothly :)
If you need anything else, please let me know. I will support and provide what ever i can.

[2022-08-03 01:24] BambangSumitra commented on #15188
Actually the actual problem raised on metabase, i'am using metabase and
mariadb columnstore as our database warehouse, why i'am using the custom
driver, just to make sure using the same driver as included in metabase and
to reproduce the same issues in metabase (metabase.com )

[2022-08-03 01:30] xcxcxz commented on #17211
Is it because of `site.xml` is missing on https://dbeaver.io/eclipse-repo/ ?
i just clone codes, and it throw this exception `Error while reading from repository: https://dbeaver.io/eclipse-repo/site.xml.`

[2022-08-03 01:53] xcxcxz commented on #17211
@LonwoLonwo
Maybe I found some point.
if I remove or make to comment all the empty columns like ' ',
it works well.

but still not working 'run script' and 'cmd + enter' if i run with  empty columns.

[2022-08-03 06:21] JoMrx opened #17241 "Snowflake: DESCRIBE TABLE not working"
### Description

In DBeaver, the DESCRIBE TABLE command does not work with Snowflake.

### Steps to reproduce

1. Use Snowflake browser GUI or Snowsight:
2. exec DESCRIBE TABLE tablename
3. result: works fine.
4. Use DBEAVER
5. connect to Snowflake database
6. exec DESCRIBE TABLE tablename
7. result:

SQL Error [1003] [42000]: SQL compilation error:
syntax error line 7 at position 9 unexpected 'ta

[2022-08-03 06:29] LonwoLonwo commented on #17241
Hello @JoMrx

Unfortunately, I can't reproduce it.

![2022-08-03 09_26_25-DBeaver Enterprise 22 1 3 - _SNOWFLAKE_SAMPLE_DATA_ Script-38](https://user-images.githubusercontent.com/45152336/182539053-d9e197fc-bdd6-410f-b1f4-d48db58d769a.png)

Can you please provide a screen from your SQL Editor? And your database and driver versions (you can check it in the Connection Settings -> Test Connection). T

[2022-08-03 06:30] LonwoLonwo commented on #17234
Thanks for the answer and investigation @ipcooper

[2022-08-03 06:32] LonwoLonwo commented on #17238
Hello @zsm369

What database do you use?
What connection type did you use?
Why do you think this is a DBeaver issue and not an incorrect login/password?

[2022-08-03 06:34] LonwoLonwo commented on #17240
Hello @rjake

Thanks for the suggestion. We can try to do it.

[2022-08-03 06:36] hf-krechan commented on #7846
@wub thank you very much. You saved my day 👍

[2022-08-03 06:53] JoMrx commented on #17241
![image](https://user-images.githubusercontent.com/99005935/182543228-c4efeca9-96e9-4ad6-bc55-1c3da237be62.png)
Sorry, was my error. Previous command wasn't terminated while not visible in the window.

[2022-08-03 06:55] LonwoLonwo commented on #17241
I'm glad that this is ok now.

[2022-08-03 06:55] #17241 closed, assigned to nobody

[2022-08-03 07:10] LonwoLonwo commented on #17126
Hello @Austin1

So, please tell me. Did your issue disappear after filter clearing? And was the main issue with schema filters?

Yes, that it's not ok.
Could you please send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-08-03 07:19] ptarant opened #17242 "Filter values list does not contain all values"
### Description

percona table, size 12M, 164K records, trying to filter Int column. After opening the filter window I entered the desired value I want to retrieve. The value seems not to be present in the table according to the filter suggested values, which is not the case.

### Steps to reproduce

![image](https://user-images.githubusercontent.com/17988931/182547864-9585abd0-b1a3-4ee4-bcb0-6002

[2022-08-03 07:21] LonwoLonwo commented on #17126
Also, can you please check your connection view mode? Maybe changing to "Advanced" will help.

![2022-08-03 10_19_43-DBeaver 22 1 4 - TESTDB](https://user-images.githubusercontent.com/45152336/182548350-6dcf3355-d111-4e0c-b559-62b1d760d7f6.png)

[2022-08-03 07:37] JoMrx opened #17243 "Statement Delimiter on new row"
**Is your feature request related to a problem? Please describe.**
Using SQL Editor:
As the statement delimiter gets added at the end of the last row of a query / statement, it can accidentally be commented out and cause issues in the subsequent statements.
-> issue #17241

**Describe the solution you'd like**
An option in the code formatter to move it on a separate line would be feasible.
-> Pref

[2022-08-03 07:50] LonwoLonwo commented on #17149
Could you please send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-08-03 08:32] Matvey16 commented on #16836
Verified

[2022-08-03 08:32] #16836 closed, assigned to serge-rider, Matvey16

[2022-08-03 09:08] uslss commented on #17242
thanks for the report

[2022-08-03 10:09] CommandLineConqueror opened #17244 "Datatable export doesn't create varchar(MAX) but varchar(1) instead"
### Description

in Export Data -> Database
When selecting [configure] you can see that it correctly determined column should be _varchar(MAX)_ due to the large string. But it creates _varchar(1)_ instead and causes errors due to truncation of the string during export.

Before I updated DBeaver to see if perhaps it's fixed already there was an option to preview DLL (option now gone), and you could

[2022-08-03 10:47] alaz1987 commented on #1592
The error appears when exporting data from a PostgresSQL table on a Windows platform.

![image](https://user-images.githubusercontent.com/6562482/182590301-bc447ecc-ce69-4393-9736-542f3187057b.png)

![image](https://user-images.githubusercontent.com/6562482/182590501-06b18246-c43c-4cc4-ac83-94a97117a580.png)

[2022-08-03 10:50] Matvey16 opened #17245 "Console icon in SQL Editor stays enabled in SQ"
### Description

Console icon in SQL Editor shows that it is still enabled if the tab is closed manually

### Steps to reproduce

1. Enable console output in SQL Editor
2. Close the console tab

**Expected:** Console button is toggled off
**Actual:** Console button is still on

![dbeaver_3xqUtP70Mc](https://user-images.githubusercontent.com/82543000/182590765-e8acee35-95a4-4cc0-8398-b9af991a822c.g

[2022-08-03 11:27] E1izabeth commented on #17245
It's not a bug. Enabled state means that output on query execution will go to console view and console view tab will be opened. In other words, console view button state shows whether this feature is enabled, it's not about the tab opened/closed state.

[2022-08-03 11:40] LonwoLonwo commented on #17244
Hello @swagozaurus

What database do you use?

[2022-08-03 11:42] #17245 closed, assigned to E1izabeth

[2022-08-03 11:45] mrclmh opened #17246 "Auto complete only offers one of two table aliases"
### Description

I have to work with especially long table names for some queries. (DB is PostgreSQL 11)
The table aliases are generated by DBeaver and for this expample below, DBeaver only offers `sadpoootbapt` for autocomplete when typing `sad`. `sadpoootbtwt` is missing.

[code]

### Steps to reproduce

_No response_

### DBeaver Version

Community Edition Version 22.1.3.202207240747

### Opera

[2022-08-03 11:48] CommandLineConqueror commented on #17244
I was using access database (.accdb) as a source, moving data to ms sql server

[2022-08-03 11:55] #5258 closed

[2022-08-03 11:55] #17014 closed, assigned to E1izabeth, uslss

[2022-08-03 11:55] #17015 closed, assigned to E1izabeth, uslss

[2022-08-03 11:55] #17192 closed, assigned to uslss, LonwoLonwo

[2022-08-03 11:56] #16605 closed, assigned to Destrolaric, Matvey16

[2022-08-03 11:57] #17173 closed, assigned to nobody

[2022-08-03 12:30] mrclmh commented on #17246
I just noticed that the behavior does not seem to depend on the length of the tables aliases, but on whether they share a common prefix.
In another case with the talbe aliases `spoo` and `spoos`, auto complete does not offer`spoos`.

[2022-08-03 12:40] #5499 closed

[2022-08-03 13:12] NickLion commented on #16766
I'm using KDE — KWin wayland. Same problems with copy-paste in dbeaver. As I understand correctly, dbeaver (or Java) supports only UTF8_STRING, but not text/plain clipboard type. After coping from dbeaver:

[code]

After coping from KDE apps:

[code]

As a workaround, it's possible to use `wl-copy "$(wl-paste)"` (or longer variant `wl-copy "$(wl-paste --type UTF8_STRING || wl-paste --type text/pla

[2022-08-03 13:29] kejdajar commented on #16904
After further investigation and reading a related issue here https://superuser.com/questions/1006250/how-to-add-lets-encrypt-to-the-java-allowed-certificates I have finally managed to connect to the database.

If anyone is interested, here are the steps:
- download certificates from Let's Encrypt website (https://letsencrypt.org/certificates/) - for my case, only the Intermediate Let’s Encrypt R3

[2022-08-03 13:29] #16904 closed, assigned to iraidaa

[2022-08-03 14:03] E1izabeth opened #17248 "Array expand items doesn't work for NoSQL databases"
### Description

https://user-images.githubusercontent.com/28875055/182627551-1e25807c-8ba7-405f-909a-0c23f744bdae.mp4

### Steps to reproduce

_No response_

### DBeaver Version

DBeaver 22.1.4

### Operating System

_No response_

[2022-08-03 15:06] E1izabeth opened #17250 "Invalid DDL for Oracle types"
### Description

Expected:
[code]

Actual:
[code]

![image](https://user-images.githubusercontent.com/28875055/182641998-73fa5be9-a62d-4abb-b12b-94d510758706.png)

### Steps to reproduce

1. Create type in Oracle database
2. Open its declaration or press Generate SQL->DDL
3. See invalid DDL

### DBeaver Version

DBeaver 22.1.4

### Operating System

_No response_

[2022-08-03 15:39] cloutierjo commented on #15899
I also have that issue. a bit more info,
I'm using the sshj implementation
I'm using the network profile feature ( I have 3 different database going true the same ssh host)
If I set the password without checking the save password box, it does work well until I restart the software (which is expected) but next the only way to reconnect is to reopen the network profiles page to set the password agai

[2022-08-03 17:28] #15858 closed, assigned to uslss, LonwoLonwo

[2022-08-03 17:28] #16674 closed, assigned to E1izabeth, uslss

[2022-08-03 17:29] #14700 closed, assigned to LonwoLonwo, Matvey16

[2022-08-03 17:46] mbfdias commented on #16852
I have the same problem with dbeaver Version 22.1.3.202207271354 running on an ubuntu 18.04 connecting to just a installed brand new ubuntu 22.04

adding PubkeyAcceptedKeyTypes=+ssh-rsa to the 22.04 server /etc/ssh/sshd_config and restarting sshd temporarily bypasses the problem and allows the tunnel to work

[2022-08-03 19:41] E1izabeth commented on #17108
I'm unable to reproduce with 22.1.3. Is this issue actual for the latest DBeaver version?

[2022-08-03 21:03] ghost opened #17251 "problem connecting on (mariadb) SkySQL instance"
### Description

I recently started using SkySQL for their $500 credit for new account signups, So after ordering one of their systems I connected to the server with MySQL workbench which worked perfectly fine, even though it did bring up a warning about an unknown DB version which SkySQL claims the warning is not to be worried of.

So after connecting with MySQL workbench I come across some odd c

[2022-08-03 21:08] adminsyszg commented on #17108
No, it's not actual for latest version, work fine. Thx!

[2022-08-03 21:12] MikeB2019x commented on #11891
Using: Version 22.1.3.202207240747

I get this on a simple query where I've assigned column names.  Refreshing does not change behaviour:

![image](https://user-images.githubusercontent.com/49003263/182711302-a11727ff-a535-47fb-a132-eb8b31861fea.png)

[2022-08-03 21:14] ghost commented on #17251
additional: just created a report at MariaDB SkySQL portal querying if they can hand over the connection logs which involve both MySQL workbench and DBeaver...

edit: MariaDB came to the rescue - phew
incidentally was me reading the wrong setup guide and getting the ssl cert mixed up.

Any future lookers: [https://mariadb.com/products/skysql/docs/connect/clients/dbeaver/#connect](setup guide)

[2022-08-03 22:33] #17251 closed, assigned to nobody

[2022-08-04 00:23] plustag opened #17252 "Show objects decription not work."
### Description

I checked "Show objects description" in Connection view.
but does not display description in table list in tree.
However it started to show after View Table(F4)

### Steps to reproduce

oracle 19c

### DBeaver Version

22.1.2

### Operating System

windows 10

[2022-08-04 01:30] Maxx-Yang opened #17253 "English connection name and table name can't change font size,"
### Description

I found thant the table name in the  Database Navigator is so smalll and I can't change the font size. But the chinese followed the table name can change size. so I want know why this take place.
### Steps to reproduce

_No response_

### DBeaver Version

22.1.3

### Operating System

_No response_

[2022-08-04 01:37] Maxx-Yang commented on #17253
like the below image display,chinese can change the font size
![image](https://user-images.githubusercontent.com/32293803/182744332-e54d4482-2ad1-4a71-abef-29a3e00b5092.png)

[2022-08-04 01:37] groogiam commented on #17108
@adminsyszg @E1izabeth This is still happening for me on 22.1.3.
![image](https://user-images.githubusercontent.com/1992395/182744392-7ec3096f-f0c1-4236-8c1d-22ed0e43c7eb.png)

PostgreSQL 12.11 on x86_64-pc-linux-musl, compiled by gcc (Alpine 11.2.1_git20220219) 11.2.1 20220219, 64-bit

[2022-08-04 01:38] podoni commented on #17209
Hello @LonwoLonwo
1. I made a request because it was inconvenient to scroll and select an area because there were a lot of content in the SQL plan I wrote.
    If you have trouble with development, you can ignore it.
2. It's good to use tabs for nested tasks, but it's inconvenient to see because it's not currently indented.
   The contents of the PLAN are made into an Excel file and analyzed.
![im

[2022-08-04 02:05] ailibibi commented on #16892
This execution is good, only click the small icon button will still popover, my version is: 22.1.3.202207240747, thank you

[2022-08-04 03:57] snowflakenf opened #17257 "Can't launch DBeaver"
### Description

![屏幕截图 2022-08-04 111712](https://user-images.githubusercontent.com/51702211/182756244-9235f542-1e95-4fd8-9257-fa1aabd281a9.png)
I got DBeaver CE from MS Store,can't launch it.Awfully,since the log file is null,I can't locate the problem.
I also got it from MS Store on my Windows 10 PC,it **runs well**.

### Steps to reproduce

1.Launch DBeaver.
2.Crashes and show nothing but the

[2022-08-04 06:12] ashwini-desai commented on #6215
Any update on this?

[2022-08-04 06:25] google007049 commented on #17210
Dbeaver 22.1.3
oracle 11.2.40

[2022-08-04 06:31] E1izabeth commented on #17108
@groogiam please, provide table ddl and steps to reproduce.

[2022-08-04 07:14] SimonDataAnalist commented on #17232
![Script](https://user-images.githubusercontent.com/110468118/182787527-e79dbbdf-6b7a-4195-820f-a3f4298577a4.png)

When I remove the comment text:
/********************************************************************************
* Dit script haalt alle clienten op met een actief geregistreerd product.
* Versie     : 1.0
* Datum            : 03-02-2020
* Auteur     : Simon ter Beek
****************

[2022-08-04 07:29] LonwoLonwo commented on #17252
Hello @plustag

Comments metadata is too expansive. For this reason, we read comments only when we read table metadata.

You can open (double-click on the folder) "Tables" in the Database Navigator tree, and all comments will be read for all tables.

![2022-08-04 10_26_38-DBeaver Enterprise 22 1 3 - HR](https://user-images.githubusercontent.com/45152336/182789312-b769c173-ceab-4786-a1ad-59981421f8

[2022-08-04 07:29] #17252 closed, assigned to nobody

[2022-08-04 07:42] aleksandr-shevchenko opened #17260 "In the export protocol, the number of records is shown as doubled."
### Description

In the export protocol, the number of records is shown as doubled.
I.e. real records = 6.213.312, but show as 12.426.624 (=6.213.312 * 2)
<img width="344" alt="ss_2022_08_04__11_27_24" src="https://user-images.githubusercontent.com/25248634/182791995-71bdaf76-61d5-48e3-9910-179c06867de2.png">

### Steps to reproduce

_No response_

### DBeaver Version

22.1.3 CE

### Operating Sys

[2022-08-04 07:44] LonwoLonwo commented on #17066
Closed as duplicate of #16996

[2022-08-04 07:44] #17066 closed, assigned to nobody

[2022-08-04 07:44] LonwoLonwo commented on #17215
Closed as duplicate of #16996

[2022-08-04 07:44] #17215 closed, assigned to nobody

[2022-08-04 08:01] LonwoLonwo commented on #17260
Yes, I can reproduce.
Thanks for the bug report @aleksandr-shevchenko

[2022-08-04 08:05] LonwoLonwo commented on #17260
DBCStatistics#addRowsFetched

[2022-08-04 08:41] win768 opened #17262 "When the table name is Chinese, the code cannot be completed"
### Description

When the table name is Chinese, the code cannot be completed

Video presentation address
https://wwu.lanzout.com/iJIY608zw6eb

### Steps to reproduce

When the table name is Chinese, the code cannot be completed
Video presentation address
https://wwu.lanzout.com/iJIY608zw6eb

### DBeaver Version

22.1.3

### Operating System

_No response_

[2022-08-04 08:45] tinman2501 commented on #17219
I think a similar error makes the filter panel font/background color combination quite hard to read in dark mode. The font is always black, no matter what.

[2022-08-04 09:08] #16408 closed, assigned to E1izabeth, Matvey16

[2022-08-04 09:14] iraidaa commented on #17131
Hello @tatod,

I was trying to reproduce the issue. I can see the trigger not on the synonym but the table of the original schema in the Table Triggers folder on the left.

Maybe you can try to Refresh the schema after the trigger creation?

Could it be an Oracle feature that triggers written on synonym of a table are linked to the original table?

[2022-08-04 09:24] #16499 closed, assigned to Destrolaric, DariyaFedorova, Matvey16

[2022-08-04 09:46] Matvey16 commented on #15282
I was not able to reproduce it by copying text from different other editors and even other OSs. If you happen to get this bug with missing line feeds again, it would be great if you could save this script and share it so I can open it on my machine and maybe find a way to reproduce this.

[2022-08-04 10:13] E1izabeth commented on #17208
This query works well for me
[code]
The problem is reproducible for query with `$function$pg_ls_dir$function$` at the end of the statement.

We should improve support for postgresql dollar-quoted strings.
https://www.postgresql.org/docs/current/sql-syntax-lexical.html#SQL-SYNTAX-DOLLAR-QUOTING

[2022-08-04 10:29] LonwoLonwo commented on #17251
Thanks for the investigation @Jakemcandrew

[2022-08-04 10:33] LonwoLonwo commented on #16325
Hello @TCorwinKRS
 Option to choose the ability to see all databases added in this ticket: https://github.com/dbeaver/dbeaver/issues/5258
It will be available on Monday's next DBeaver release, 22.1.4.

![2022-08-01 18_45_49-DBeaver  C__Users_anvolka_work_DbeaverP_dbeaver-workspace-idea  - C__Users_anvol](https://user-images.githubusercontent.com/45152336/182202867-67b5b856-d996-43c8-bfe2-ce4d52141

[2022-08-04 10:33] #16325 closed, assigned to LonwoLonwo

[2022-08-04 10:36] iraidaa commented on #8673
Also, inform the user  `eric.*******.**@gmail.com` when the bug is fixed

[2022-08-04 10:44] LonwoLonwo opened #17263 "Support separate connections for databases in one connection."
Sometimes we have a connection with a server with some databases inside.
Some databases can be read in one connection - like MSSQL.
But other databases exist, which demand separate connections for each database.
Without it, we can't read or change metadata in non-default databases.

We did it for PostgreSQL.

And we should add this opportunity for Azure or Netezza.

[2022-08-04 10:48] LonwoLonwo commented on #5258
Hi everyone.
Options to use the ability to see all databases of connection implemented in this ticket and will be available in the next release, 22.1.4
By default, only specified in the connections setting database will be shown in the Database navigator tree.

![2022-08-01 18_45_49-DBeaver  C__Users_anvolka_work_DbeaverP_dbeaver-workspace-idea  - C__Users_anvol](https://user-images.githubusercont

[2022-08-04 10:53] Matvey16 commented on #16954
@andale82 Thank you for the suggestion. As I see it you suggest to implement a feature that would evaluate if the saved password that is currently invalid, was valid in the past and in that case aloow to re-enter it in a pop-up window. We will see if anything can be done about that.
Currently for some databases (Oracle among them) we have a possibility to change a password for current user from th

[2022-08-04 12:10] adminsyszg commented on #17108
in some cases, it's still reproduce. in different instaneses DB it work fine or not work. DB-shema - analogue.

[2022-08-04 12:13] andale82 commented on #16954
I know that it's possible change the password both on server side and in saved credentials on client side.
but I can't use it because, I connect to account oracle across a proxy that use my email credentials, so when I change my email credentials, I have to change saved credentials on client side.

[2022-08-04 12:43] LonwoLonwo commented on #17114
Thanks for the idea @gsthorat

Probably we can do that.

[2022-08-04 12:48] LonwoLonwo commented on #17117
Hello @marcelothomaz

Different data types can be in different schemas, and data types from a non-current schema can be used in tables, etc., in a current schema. So we need to know about these types.

But tell me, please - what do you mean - stuck? How many enum-reading rows do you have in the Query manager?

[2022-08-04 12:57] LonwoLonwo commented on #17143
Ok, thanks for the logs. Maybe you have some database examples for testing?

[2022-08-04 13:16] emironovDB commented on #17038
@Manosfdc
Hi!
Could you provide a screenshot with driver connection settings?
And did you try connecting to SalesForce with another tool?

[2022-08-04 13:31] emironovDB commented on #17160
@maciey
Hi!
Thanks for the request!

[2022-08-04 13:35] groogiam commented on #17108
@adminsyszg @E1izabeth

To Reproduce:

1. Open Database Navigator
2. Expand Postgres instance
3. Expand Databases -> Database Name -> Schemas -> public -> Tables
4. Double Click on a table that contains a citext column.
5. On the "Data" tab of the opened window select a row and column. Double click the column to edit.

Expected Result:
The grid column goes into edit mode allow the text to be updat

[2022-08-04 13:40] emironovDB commented on #17196
@zhicwu
Hi!
Thanks for the request!

[2022-08-04 14:02] emironovDB commented on #17203
@jiangyutu
Hi!
Could you explain what issue did you try to resolve?

[2022-08-04 14:47] Destrolaric commented on #17217
@phulstaert Hi, thank you for the information, as I see from the mentioned issues, there is a way to do it manually. Symlink needs to be created from a Linux distribution containing SQLite, which is problematic when the PC has multiple distros. DBeaver doesn't know which one is correct. Unfortunately, I don't think we can do something meaningful about it.

[2022-08-04 15:22] serge-rider commented on #17042
We redesigned full-text search in prev releases (we removed checkboxes, now you need to select multiple objects with CTRL pressed).
What we need to improve:
- Add checkbox to exclude search in views (including materialized views)
- Support search in multiple connections
- Show connection name in search results (only if we search in multiple connections)

[2022-08-04 15:30] emironovDB opened #17266 "Hidden columns shows in the end of grid"
### Description

When you hide columns in the grid and then show them again, this column expands at the end of the grid

<img width="956" alt="Screenshot 2022-08-04 at 18 25 48" src="https://user-images.githubusercontent.com/105634259/182887329-510786eb-5220-45a1-9f3e-1d33330f755f.png">

### Steps to reproduce

_No response_

### DBeaver Version

22.1.0 UE

### Operating System

Windows 11

[2022-08-04 15:32] serge-rider commented on #17008
Let's improve it:
- All Generate SQL command will respect currently selected columns (if more than one column is selected)
- In SQL preview dialog add checkbox "Use selected columns only". It is enabled by default if more than one column is selected
- Improve SQL preview dialog checkboxes UI. We have too many of them and UI is a bit messy. We can put them in two lines.

[2022-08-04 15:42] gsthorat commented on #17008
Thanks @serge-rider That would be really helpful :)

[2022-08-04 15:51] gsthorat commented on #17175
**Update:**

I got the exact steps to replicate the above issue.

1. Create two connection pointing to same database but to different schema.
In my case, **TEST_SCHEMA1** and **TEST_SCHEMA2** are the two schema.

2. Now open/view data of the available table or perform any operation.
3. Now navigate to another connection
4. Now right-click on the schema → **tables** option and select refresh option

[2022-08-04 15:54] PliusMinus commented on #17042
Really - checkboxes was better.

A stick always has two ends.
On the one hand, it became possible to mark a lot at once with _shift_.
On the other hand, if accidentally click without _ctrl_, all the work you put into marking the search objects is lost.

The improvements sound good.

[2022-08-04 16:22] CampAsAChamp commented on #5169
Bless you for this!, I too spent a few hours wondering why it was saying the CTE table didn't exist, before switching to pgAdmin, and then finding this comment.

Also for everyone else who finds this thread, I kept thinking the top play button icon ran the whole script when no lines were selecting/highlighted, but no its the middle button which I've highlighted in red. Or like @jramiresbrito said,

[2022-08-04 16:25] srnsomu opened #17268 "Unable to perform SSPI authentication in DBeaver"
### Description

I am using version 22.1.2 and SSPI support via waffle-jna was added in 22.0.5 according to release notes. However, when I try to perform SSPi authentication for a user, it fails with the error com.sun.jna.LastErrorException.

I am able to perform SSPi authentication for the same user using pgAdmin.  It however fails with DBeaver.
I have added the waffle-jna artifact in Libraries a

[2022-08-04 17:41] WildLlama commented on #15282
@Matvey16 If this error happens to me again, I'll share the script file to better analyze it.
As stated in a comment before, I was able to generate this bug by using the souce code extraction of the queries from Visual Studio (the version I work with is the 2012)
Is it possible that, by running the extraction utility, it defaults to the Linux end-of-line syntax on the script file

[2022-08-04 17:56] phulstaert commented on #17217
I understand this is "out of scope" of DBeaver, but "we cannot do" is incorrect.

If you have this path
`\\wsl$\Ubuntu-22.04\home\user\db.sqlite`
Ubuntu-22.04 is the distribution. Within \\wsl$\ you always get all the installed distributions.

You could run
`wsl -d "Ubuntu-22.04" "<command>"`
Where the value in -d "" comes from the wsl$ path.

The command itself would also be extracted from the pa

[2022-08-04 20:30] aa-matthias commented on #16847
@emironovDB - for me it's solved by updating to version 3.0.7 - the changelog mentions couple of changes related to binary display

https://github.com/mariadb-corporation/mariadb-connector-j/releases/tag/3.0.7

[2022-08-05 03:29] DariaMarkaryan opened #17269 "Can't add a column to the grouping panel"
### Description

Can't use grouping panel. In any database

https://user-images.githubusercontent.com/43252954/182995367-b55576a1-2ce9-442b-b554-4eaf93dc4963.mp4

![image](https://user-images.githubusercontent.com/43252954/182995476-e9037674-8c96-465d-b0ab-51e43cc7ffe5.png)

[code]

[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/9265013/dbeaver-debug.log)

[log.txt](https://github.co

[2022-08-05 04:50] LonwoLonwo commented on #17269
And also:

[code]

[2022-08-05 05:58] serge-rider commented on #17269
Fixed

[2022-08-05 08:40] Destrolaric commented on #17217
![image](https://user-images.githubusercontent.com/20579256/183038211-f00c20c1-db90-4c4c-b38c-f809dbcb18e6.png)
@phulstaert Second feature already exists. It's in `Connection Settings -> Shell Commands`. Write me If it helps.

[2022-08-05 08:44] E1izabeth commented on #17208
@travelliu as a workaround you can select the whole statement and run.

[2022-08-05 08:50] Destrolaric commented on #17175
Thank for the information.

[2022-08-05 08:50] Guiraud commented on #8085
On 22.1.3, I had to close and reopen Dbeaver while the VPN was connected.

[2022-08-05 08:54] phulstaert commented on #17217
Ok, then we have a solution! (stupid of me to have missed this :-))

This is the place my linked file will appear
![image](https://user-images.githubusercontent.com/8971696/183040844-49c47404-3456-47a8-89ee-6ba163eac2ad.png)

We create this by this command (where the /srv/... location is the "real" location of the sqlite file.
![image](https://user-images.githubusercontent.com/8971696/183041005-d3

[2022-08-05 10:00] DariaMarkaryan opened #17270 "Grouping panel is cleared when switching between panels"
### Description

Grouping panel is cleared when switching between panels

https://user-images.githubusercontent.com/43252954/183053880-f01aea17-6404-4ecc-8c75-96d342d2dd7f.mp4

Workaround:
Before switching to another panel or closing the grouping, refresh the table and grouping will be save

### DBeaver Version

22.1.4

### Operating System

win11

### Database and driver

_No response_

### Steps

[2022-08-05 10:01] DariaMarkaryan commented on #17269
Verified

[2022-08-05 10:03] LonwoLonwo commented on #16847
THanks for investigation everyone.

Probably we need to update default driver version for MariaDB.

[2022-08-05 10:52] alattke-chwy commented on #16397
Hi! Can anyone provide an update on this please?

[2022-08-05 11:29] xcxcxz commented on #17211
I found one more case like what i provide.
If you need query and DDLs, Please let me know :)

[2022-08-05 12:40] khwj commented on #17143
@LonwoLonwo sure.
It can be reproduce by a simple Delta table
[code]
Then double click on the new table on Database Navigator/Projects will give the same error as in the description.

[2022-08-05 12:54] besza commented on #9322
Still an issue with dbeaver-ce 22.1.3 on Windows.

OS: Microsoft Windows 11 Enterprise (10.0.22000 Build 22000)
Dist: dbeaver-ce 22.1.3 x86_64 ZIP
Working fallback: dbeaver-ce 22.1.1 x86_64 ZIP

[2022-08-05 12:57] BriceJamin commented on #1669
Hello, sorry I never try again since I don't need it, and I forget it.

By reading last comment I think (not sure) it comes from my ssh key which need a passphrase entry.
Perhaps checking if your ssh key use passphrase and using last loging improvment can help you ?

I don't remenber why I need to use `ssh -L 3133:ip:5433 user@server`
I'm asking too if using
`Host *
 ForwardAgent yes`
in my ssh co

[2022-08-05 12:58] khwj commented on #17143
One thing I noticed is that if I just set the database/schema from a Script editor, e.g. executing `USE default;` then the table properties, columns and "Generate SQL"  will work properly. So my guess is these errors have something to do with multi-level table identifier (Kyuubi has [catalog](https://github.com/apache/incubator-kyuubi#datalakelakehouse-support) and Spark 3.x.x have [namespace](htt

[2022-08-05 13:40] NiklasRz opened #17274 "Sqlite DB is locked (only in DBeaver)"
### Description

I consistently get "[SQLITE_BUSY] The database file is locked (database is locked)" on my SQLite DB in DBeaver. This is only in DBeaver. I can connect, read and write without any problems in Python. This persists through reconnects and reboots.

I tried duplicating the DB and connecting to the copy instead, but I get the same error.

### DBeaver Version

CE 22.1.3

### Operating S

[2022-08-05 13:41] Destrolaric commented on #17274
Hi, is your SQLite on the Shared folder/WSL?

[2022-08-05 13:49] NiklasRz commented on #17274
Hi, are you asking where I have the .db file? The file is in my home directory. Just realized that I have another sqlite database there that I can connect to without problems.
I noticed that in the connection settings for the one that is working I have something like "Path: /home/myuser/mydb.db"
On the one that isn't working I have: "Path: /run/user/1000/doc/2f03b66c/mydb.db"

[2022-08-05 13:55] Destrolaric commented on #17274
As I remember /run/user/1000 is files created by running programs, so they are probably being used by another program.

[2022-08-05 13:59] LonwoLonwo commented on #16397
Hello @alattke-chwy

You can see more data about this ticket in the "Milestone" section.

[2022-08-05 14:01] NiklasRz commented on #17274
I still get run/user/1000 after rebooting or duplicating the database file which I assume should get rid of all references to the file by other programs?
Is it possible that the file itself is kind of marked as "busy" which persists through reboot/copy?

[2022-08-05 14:22] Matvey16 commented on #17257
@snowflakenf Did you use Dbeaver standalone version on this PC previously?

[2022-08-05 14:32] elitesrush opened #17275 "SQL Error [208] [S0002]: Error while trying to export data to .CSV from temporary tables with single hashtag."
### Description

Suddenly, even without trying to upgrade, Dbeaver started throwing an error which says: SQL Error [208] [S0002]: Invalid object name '#tablename'

When I created a temp table with double hashtags (global temp table), then I was able to export the data without errors.

Why sudden change?

### DBeaver Version

22.1.3

### Operating System

Windows 7

### Database and driver

SQL Ser

[2022-08-05 15:29] LonwoLonwo opened #17276 "Clickhouse columns have incorrect names in special case."
### Description

DBeaver trims columns and tables names when reading.
Because of that, we can't read table data properly, do filtering via UI, do grouping, etc.

![2022-08-05 18_27_14-Window](https://user-images.githubusercontent.com/45152336/183110069-d6c660cb-688a-4a6f-8194-aa804d0ea481.png)

### DBeaver Version

22.1.3

### Operating System

_No response_

### Database and driver

Clickhouse an

[2022-08-05 21:42] DBNoobie opened #17279 "Unable to Edit Connection v22.1.3"
### Description

After upgrading from 22.0.0, I am unable to edit any existing connections. Selecting Edit Connection from the context menu (or using F4) does nothing.

There have been no changes to file permissions on the DBeaver directory (presently set at Full Control)

### DBeaver Version

Community Edition 22.1.3

### Operating System

Windows 10 21H2

### Database and driver

Oracle Database

[2022-08-05 22:43] keyrox commented on #17263
Yes please, this is such a big deal for us working with Azure Databases.

[2022-08-06 01:44] buhlerax commented on #14225
Good evening,
Any news on this feature request?

[2022-08-07 14:54] DoctorKrolic opened #17282 "DBeaver's sql editor forces lower case on sql keywords"
### Description

When applying sql keywords suggestions they appear to be in lower case, even though in completion windows they are shown in UPPER CASE. Typing sql keyword and hitting `space` also force-apply active completion, making the keyword in lower case:
![dbeaver_8yOsw6fG6n](https://user-images.githubusercontent.com/70431552/183296742-02256707-af18-4157-8484-ac71cee441a1.gif)
_First time I

[2022-08-07 15:12] KulykDmytro commented on #3918
@neitomic @mnt1979 thanks for point
where to set ?

will it work in CE?

[2022-08-07 15:28] kseniiaguzeeva opened #17283 "Gis: Topography view is applied for whole column only"
### Description

GIS values can't be displayed in the topography view

### DBeaver Version

22.1.3.202207210656

### Operating System

Win

### Database and driver

PostgreSQL

### Steps to reproduce

1. Open a table with gis values (e.p. PostgreSQL gis.public.planet_osm_line)
2. open the Value panel, select some GIS values and change the view on the Topography in the panel

**Expected**: the data

[2022-08-08 02:30] google007049 opened #17284 "Advanced Paste Error"
### DBeaver Version

community edition 22.1.4

### Operating System

windows 10

### Database and driver

ORACLE 11G

### Description

If you add Row after ADVANCED COPY in Grid and  Advanced paste, the Timestamp value is added to the column value of Date type as shown in the screen below.
Therefore, an error occurs when saving.

The format of Date is also set to yyyy-mm-dd. But
The column values

[2022-08-08 03:24] neitomic commented on #3918
Yes, it works on CE.
If you want to use Athena with SSO, you can look into this https://github.com/neitomic/simba-athena-driver-sso-support

[2022-08-08 04:41] DariaMarkaryan opened #17285 "Regex symbols in File search are cleared after opening file while search"
### Description
https://user-images.githubusercontent.com/43252954/183340772-ad48dcb0-1117-4537-ad69-c255eceb0776.mp4

### DBeaver Version

22.1.4

### Operating System

win11

### Database and driver

not specific

### Steps to reproduce

1. in main menu go to Search->File search
2. In the "Containing text" field input something with special regex characters (^a*) and start search
3. Double click

[2022-08-08 07:19] LonwoLonwo commented on #17282
Hello @DoctorKrolic

You can change this behavior in Window -> Preferences -> Editors -> SQL Editor -> Code Completion
Please select "Upper case" for the "Insert case".

![2022-08-08 10_17_08-Window](https://user-images.githubusercontent.com/45152336/183361835-a6e41af9-f94b-445e-bde9-f124dfa82417.png)

[2022-08-08 07:24] LonwoLonwo commented on #17279
Could you please send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-08-08 07:25] #17269 closed, assigned to serge-rider, DariyaFedorova

[2022-08-08 07:32] ItsCosmas commented on #1453
Thank you, this works and I don't have to use `dbeaver.exe -nl en` everytime

[2022-08-08 07:43] DoctorKrolic commented on #17282
Yes, that helped. I yet have several questions/proposals then:
1) What is a `Default` value here? Why not just upper/lower case? IMO it would be better, if there were only 2 options available
2) Upper case should probably be a default value. There is a convention, that SQL keywords are in upper case, so dbeaver should consider that. However, if user prefer a lower case, he will be able to explicit

[2022-08-08 08:05] alexandrudsc opened #17286 "Error with copy-as-markdown on individual records on debian after results are re-ordered"
### Description

I have first noticed this on the results of a describe `mysql` statement, I have not tested it on other types of queries (I am not sure if that would make any difference or not).

### DBeaver Version

Community Ediotion, Version 21.3.1.202112130652

### Operating System

Debian 11

### Database and driver

1. Database: 10.2.32-MariaDB-log
2. Driver: org.mariadb.jdbc:mariadb-java-c

[2022-08-08 08:12] E1izabeth commented on #17286
Thank you for bug report. It should be fixed for the DBeaver 22.1.4. Could you, please, check if your issue is still actual for the latest DBeaver version?

[2022-08-08 08:13] kalyagin-private opened #17287 "java.lang.NullPointerException for Date type in ClickHouse"
### Description

When you select data from Clickhouse table with  "Date" type, you see "java.lang.NullPointerException" instead of NULL

![image](https://user-images.githubusercontent.com/3599574/183371460-94b31922-da50-41bc-a9a8-5b9bf60d0244.png)

### DBeaver Version

CE 22.1.3

### Operating System

Ubuntu 20.04

### Database and driver

Database name: ClickHouse 22.2.2.1
Driver: clickhouse-jdbc

[2022-08-08 08:24] alexandrudsc commented on #17286
Hi @E1izabeth, thanks for your quick reply. Indeed I've updated my dbeaver to 22.1.4 and the issue is fixed.

I will close this then as it is not actual for the latest dbeaver version

[2022-08-08 08:24] #17286 closed, assigned to nobody

[2022-08-08 08:42] snowflakenf commented on #17257
No,I just use it first time.

[2022-08-08 08:51] Destrolaric commented on #17257
@snowflakenf, Does it had a successful launch previously?

[2022-08-08 08:52] snowflakenf commented on #17257
No,first launch.

[2022-08-08 10:28] LonwoLonwo commented on #14107
I created the bug report for MySQL. And I hope it will help.

https://bugs.mysql.com/bug.php?id=108088

[2022-08-08 10:30] E1izabeth commented on #17287
@kalyagin-private, we are unable to reproduce your issue. Please, send us the log files: https://dbeaver.com/docs/wiki/Log-files/

[2022-08-08 10:46] kalyagin-private commented on #17287
@E1izabeth ,
I selected same table as in general messasage and got the same error

![image](https://user-images.githubusercontent.com/3599574/183400981-2b516321-6ef4-4086-944d-3567f2f5a23a.png)

eclipse.buildId=unknown
java.version=11.0.12
java.vendor=Eclipse Foundation
BootLoader constants: OS=linux, ARCH=x86_64, WS=gtk, NL=ru_RU
Command-line arguments:  -os linux -ws gtk -arch x86_64

org.jkiss.

[2022-08-08 10:50] E1izabeth commented on #17287
Thank you for quick answer.

[2022-08-08 11:10] E1izabeth commented on #17262
Thank you for bug report

[2022-08-08 11:16] TOMHTML commented on #16852
Hi,
I had the same issue, DBeaver was unable to use my SSH tunnel while there was no issue with the terminal. More than that, only one tunnel had this issue, we duplicated the server and the ssh tunnel and there was no problem there.

The problem is the server had multiple public keys, and for some reason Dbeaver wasn't using the "good" one, only the key listed in the "known hosts". The terminal c

[2022-08-08 11:27] E1izabeth commented on #11151
I suppose it's much better now (thanks to DBeaver community), so we can close this issue.

[2022-08-08 11:27] #11151 closed, assigned to nobody

[2022-08-08 11:35] iraidaa commented on #14225
Hello @buhlerax,

The requested feature is planned to be implemented in October.

Thank you.

[2022-08-08 11:38] Aileron79 opened #17288 "Azure SQL Server MFA Authentication Causes Repeated Browser Windows (not yet fixed!)"
### Description

For most databases I authenticate using "Azure SQL Server MFA Authentication". Since version 22.1 a new browser tab opens every time I connect or reconnect to a database, this is also true for automatic reconnects after some idle time. The browser tab points to https://localhost:<someport> and only says "Authentication complete. You can close the browser and return to the applicat

[2022-08-08 11:44] LonwoLonwo commented on #17108
Hello @groogiam
Can you provide your table DDL, please?

[2022-08-08 11:59] E1izabeth commented on #17288
Thank you for report.

[2022-08-08 13:13] Matvey16 commented on #17040
@wangqian-49 Can you specify what button exatly do you click to view content?

[2022-08-08 13:18] WildLlama commented on #15282
@Matvey16 I've managed to re-create the issue using the latest DBeaver update (v. 22.1.4.202208051447)
In the zip attached you can find the script with the wrong ending line characters.

As stated before, it was achieved by coping the query from VS2012 to a new script file.
What I've copied are these line of code, starting from ```"SELECT``` because otherwise the code extraction doesn't work
[code

[2022-08-08 13:22] bnelissen-orisha opened #17291 "Wrong script opened"
### Description

The wrong script is opened when opening a connection. It looks like it's the previously opened script in ALL connections instead the connection I choose.

Bug appears in 22.1.4, previous version are good.

This is my Scripts preferences :
![image](https://user-images.githubusercontent.com/37617999/183428033-8d0bb72e-edb3-4f8f-8fc1-73b2f7bee0d1.png)

### DBeaver Version

22.1.4

##

[2022-08-08 13:26] #17093 closed, assigned to nobody

[2022-08-08 14:17] LonwoLonwo commented on #17211
Yes, provided it, please.

For now, we can't reproduce this issue on Windows and mac m1 too.

[2022-08-08 14:19] LonwoLonwo commented on #17210
Ok. And table DDL, please.

[2022-08-08 14:20] LonwoLonwo commented on #17209
OK, thanks for the answer.

[2022-08-08 14:47] carlosedsferreira commented on #17279
It happens the same to me.

I can see the following error:
```/usr/share/dbeaver-ce/jre/bin/java: symbol lookup error: /home/<my_user>/.eclipse/org.jkiss.dbeaver.product_22.1.4_302967072_linux_gtk_x86_64/configuration/org.eclipse.osgi/141/0/.cp/libswt-pi3-gtk-4952r11.so: undefined symbol: gtk_menu_popup_at_pointer```

[2022-08-08 14:48] E1izabeth opened #17293 "Global preference links don't work in non-global preferences"
### Description

https://user-images.githubusercontent.com/28875055/183445261-ee2cc2a7-6e5f-42ff-8c79-355e33b6f56e.mp4

[code]

### DBeaver Version

DBeaver 22.1.4

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-08-08 15:02] Matvey16 commented on #17291
@bnserig Thank you for the report

[2022-08-08 15:57] gregid opened #17296 "Generic SPARQL endpoint driver"
A generic SPARQL endpoint jdbc driver would be a nice addition to DBeaver.

Jena is one such implementation:
- https://jena.apache.org/documentation/jdbc/
- http://events17.linuxfoundation.org/sites/events/files/slides/Introducing%20JDBC%20for%20SPARQL.pdf

Some alternatives to jena referenced in the links above.

Also of interest - existing Virtuoso driver.

[2022-08-08 16:25] groogiam commented on #17108
@LonwoLonwo

See below ddl for which reproduces the issue. As I've stated in my previous comments it is reproducible for me on all citext columns. Thanks.

CREATE TABLE public.citexteditrepro (
	id uuid NOT NULL,
	loginname public.citext NOT NULL,
	CONSTRAINT pk_citexteditrepro PRIMARY KEY (id)
);

[2022-08-08 17:26] byrider-jparker4 opened #17297 "Redshift Datashare browsing only available to superusers"
### Description

When trying to browse a redshift datashare as a non-superuser, DBeaver is unable to display the schema/tables of the datashare.

It seems DBeaver uses `show datashares` and the `svv_datashare` and `svv_datashare_objects` views to display this information. However, those views are limited to superuser permissions.

Would it be possible to use non-superuser views (like below) to pop

[2022-08-08 17:51] ivaylo-infostrux commented on #839
I would have to strongly disagree!  Uppercasing keywords is key for SQL code readability.  Readability results in maintainability which reduces development cost.  There are reasons why there are SQL standards and the majority of them recommend keywords to be in uppercase.  In any forward-thinking organization, these rules are automatically enforced by linters run by the CI workflow, too.

Going ag

[2022-08-08 19:43] femosso commented on #12218
Is https://dbeaver.io/update/sshj/latest/ down again?
![image](https://user-images.githubusercontent.com/3494622/183500929-87dee213-b9a6-4698-b41c-55e16dd44184.png)
![image](https://user-images.githubusercontent.com/3494622/183501043-ca46456f-ae0d-40ca-96f8-6a492fb6b6ad.png)

[2022-08-08 19:53] camoore1979 opened #17300 "After install of latest community edition, getting "Datasource config parse error""
### Description

Just installed the latest community edition of DBeaver (dbeaver-ce-22.1.4-macos-x86_64.dmg) on my MacBook Pro (15-inch, Mid 2015, 2.2 GHz Quad-Core Intel Core i7 running macOS Monterey Version 12.5). I had been running a much older version of DBeaver, but after removing DBeaver completely (so far as I can tell), installed this version and keep getting this error:

<img width="730"

[2022-08-08 20:42] E1izabeth opened #17302 "Can't edit array of composite types"
### Description

![image](https://user-images.githubusercontent.com/28875055/183509814-a143978f-19ce-4234-b68e-df7ac1afae0d.png)

Edit as a string is not available, arrays expander can't expand array element, value viewer is empty.

NPE in logs:
[code]

### DBeaver Version

DBeaver 22.1.4

### Database and driver

PostgreSQL 12

### Steps to reproduce

[code]

[2022-08-08 21:46] strangan opened #17303 "Could not initialize class com.databricks.client.jdbc42.internal.apache.arrow.memory.util.MemoryUtil"
### Description

This only affects Dbeaver CE for Silicon ARM Mac OS X.

Querying any Databricks table produces the following error:

SQL Error [500540] [HY000]: [Databricks][DatabricksJDBCDriver](500540) Error caught in BackgroundFetcher. Foreground thread ID: 124. Background thread ID: 172. Error caught: Could not initialize class com.databricks.client.jdbc42.internal.apache.arrow.memory.util.Me

[2022-08-08 22:26] Lonniebiz commented on #839
@ivaylo-infostrux : Modern SQL editors colorize keywords automatically. Automatically colorized keywords are enough distinction for readability sake. In cases where this is not the case, I agree with you that it does enhance readability. Yet, personally, I like everything to be in lowercase except for when uppercase is required to achieve a particular result set. CaPiTaLiZaTiOn rEqUiReS UnNeCeSsAr

[2022-08-08 23:23] ivaylo-infostrux commented on #839
Thanks for the response, @Lonniebiz, but standards are the exact opposite of personal preferences.  The needs of the team and the organization as a whole quite often outweigh the individual preference.  It's the price we all pay for efficient collaboration.

[2022-08-09 00:47] google007049 commented on #17210
Thank you for your interest.
Upload Table Describe.
This occurs when you select Row and then save Advanced Copy => Advanced paste.
In the figure below, an error occurs in the Date Type.

![image](https://user-images.githubusercontent.com/58673078/183538811-8dbc77ed-e1cd-4d8e-9386-c8b941aa12ec.png)

[2022-08-09 01:00] WigraiTH commented on #16721
Hi @E1izabeth , This issue has been fixed since 22.1.2 with "Enable parameters in DLL and $$ blocks" ticked. Thanks a lot for your and the team's help.

[2022-08-09 01:09] xcxcxz commented on #17211
It comes from I updated to v 22.1.3.

[code]

This query also not working.
Everytime, using select query with empty column(' '), Dbeaver is not work.

You can use  `TB_KDTF_APP_CALL_LIST` DDL on my second reply for this query.

[2022-08-09 05:06] blocka commented on #6599
This did not work. My old connections do not appear after migrating.

[2022-08-09 06:35] SimonDataAnalist commented on #17232
It seems that the issue has been resolved with the installation of version 22.1.4

[2022-08-09 06:35] #17232 closed, assigned to nobody

[2022-08-09 07:28] 3shv opened #17305 "Failed to load existing database connections after update to 22.1.4.202208051447"
### Description

After the Dbeaver is updated to 22.1.4, it failed to load the existing connections and shows the message `no default storage in registry General`

[code]

### DBeaver Version

22.1.4.202208051447

### Operating System

macOS Monterey 12.4

### Database and driver

1. Cloudera Impala cloudera_impala
2. Vertica vertica-jdbc-8

### Steps to reproduce

_No response_

### Additional co

[2022-08-09 07:38] mmdext opened #17306 "Mising "CREATE" when generating DDL for Oracle trigger"
### Description

The generated SQL has no "CREATE" keyword

### DBeaver Version

22.1.4.202208051447

### Operating System

Windows 10

### Database and driver

Database: Oracle 12c

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-08-09 07:51] E1izabeth commented on #17306
Thank you for bug report.

[2022-08-09 07:58] 3shv commented on #17305
Looking at the [commit](https://github.com/dbeaver/dbeaver/commit/46e2f8c88941745b80c08acbcaaae8dad8e54269), the new update discards reading the config `data-sources-default.json`. So after I rename it to `data-sources.json`, all my connections are back.

[2022-08-09 08:18] Destrolaric commented on #16626
Will be done in the scope of #13691

[2022-08-09 08:42] nagylzs opened #17307 "Cannot move connection folder to top level"
### Description

In the connection tree (database navigator), it is possible to move a subfolder between parents. But it is impossible to move it to the top level (e.g. make it a root folder). Today I accidentally moved one of my top folders under another folder, and now I'm stuck with it.

### DBeaver Version

22.1.3

### Operating System

Ubunut 22.04

### Database and driver

_No response_

###

[2022-08-09 08:44] E1izabeth commented on #17305
@Rajesh-Veeranki thank you for bug report and investigation.

[2022-08-09 08:49] LonwoLonwo commented on #17303
Hello @strangan

Do you use DBeaver bundled java or your java?

[2022-08-09 08:50] LonwoLonwo commented on #17297
Hello @byrider-jparker4

Thanks for the report.

[2022-08-09 09:13] mipi21 opened #17309 "Color workboock sql"
### Description

In the last version of DBEaver sql file workboock dont change color.
Example if I open a file SQL whit env PRODUCTION is settend in orance color, afther I change enviroment for this workboock in DEV (DEV has settend whit white color), workboock is stay in orance color and not change in white color.

please fix it.
Thanks.

### DBeaver Version

Community Editions 22.1.4

### Operat

[2022-08-09 10:20] solisgb opened #17311 "AltGr + 1 + 2 + 6"
Windows 10
Dbeaver Version 22.1.4.202208051447

When I open a new SQL console and press the keys Alt + 1 + 2 + 6 it writes ~ as I wanted. But after executing any operation from the console, this keyboard shortcut stops working.

It would be very useful if this keyboard shortcut (Alt + 1 + 2 + 6 typing the ~ symbol in the console) would work in a normal work session.

[2022-08-09 10:30] matke2002 opened #17312 "SSH with (outdated) JSch plugin can't connect to Ubuntu 2022"
### Description

Hi,
I'm not able to create SSH tunneling connection using private key to one Ubuntu 2022 server. I get error "Auth failed" with correct key.
I had the same issue with Filezilla, Putty ... and issue was solved with the latest version.
I see that DBeaver is using https://mvnrepository.com/artifact/com.jcraft/jsch , last update 4 years ago (or modification 3 years old). I assume that

[2022-08-09 10:35] Lonniebiz commented on #839
@ivaylo-infostrux : Thankfully, dBeaver can accommodate all users' preferences (even those who are luddites).

[2022-08-09 12:00] chWagnr opened #17313 "Can't load databases with numeric schema names"
### Description

Loading databases with numeric schema names e.g. `1` lead to following error message:

[code]

### DBeaver Version

CE 22.1.4

### Operating System

Ubuntu 20.04.4

### Database and driver

DB: 10.6.4-MariaDB-1:10.6.4+maria~focal
Driver: MariaDB JDBC 2.7.1

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-08-09 12:52] devnaumov opened #17314 "Can't open References tab in Hive"
### Description

The error "Method not supported" occurs when I try to open the References tab in Hive
![image](https://user-images.githubusercontent.com/48489896/183651007-99618537-f673-4f04-82db-4341cf72849d.png)

### DBeaver Version

Enterprise edition 22.1.1

### Operating System

windows 10

### Database and driver

Apache hive

### Steps to reproduce

1. Open any table in the metadata editor

[2022-08-09 12:57] E1izabeth commented on #17300
Could you send the `data-sources` or/and `dbeaver-data-sources` file (depends on which one do you have)?
You can find it in the [workspace](https://github.com/dbeaver/dbeaver/wiki/Workspace-Location)\workspace6\General\\.dbeaver.

[2022-08-09 12:57] Destrolaric commented on #17314
Thank you for your report.

[2022-08-09 13:14] Destrolaric commented on #17274
You can try the solution discussed in https://github.com/dbeaver/dbeaver/issues/17217, write me if it helps.

[2022-08-09 13:16] Destrolaric commented on #17311
Looks like an active result panel makes using alt + number binding impossible. Looks like a bug.

[2022-08-09 13:43] E1izabeth commented on #6599
@blocka it may be connected with #17305
Which DBeaver version did you use before last update?

[2022-08-09 13:47] blocka commented on #6599
Before this I used dbeaver 4...not exactly sure what version.
Unlike in that issue, I don't have any json file to speak of...just the xml file.

On top of this, when I restart dbeaver, I lose all my connections. I don't see any data-sources.json (but I do see a credentials-config.json)

[2022-08-09 13:47] E1izabeth commented on #12218
@femosso, we don't distribute it as an extension anymore, that's why this link is not working. This dependency is included in DBeaver.

[2022-08-09 13:52] E1izabeth commented on #6599
@blocka, thank you for quick answer. Do you have any error in the [log](https://github.com/dbeaver/dbeaver/wiki/Log-files) file?
Maybe it seems like described in #17300?

[2022-08-09 13:56] blocka commented on #6599
I see this:
[code]

[2022-08-09 14:00] E1izabeth commented on #6599
@blocka could you send me your `.dbeaver-data-sources.xml`?

[2022-08-09 14:20] SultanCordoba opened #17316 "DBeaver no longer associates SQL Editor files with connection"
### Description

When you right-clicked a connection and selected "SQL Editor", when you wanted to select a file, it used to consider only the scripts used by that connection. Right now it considers ALL of them.
If you unclick "Show scripts for all connections" the only change is the icon at the left of any row as shown in these two images
![image](https://user-images.githubusercontent.com/8661483

[2022-08-09 14:32] kartikkudada opened #17317 "Unable to create Oracle JDBC connection in DBeaver using Calcite"
### Description

I am trying to connect my Oracle database using calcite JDBC  in DBever.

Driver class used : org.apache.calcite.jdbc.Driver

URL  - jdbc:oracle:thin:XXXXXXX:1521:<database>

But when I use same same URL and driver  with main java program . it works fine .

Connection con= DriverManager.getConnection("jdbc:calcite:schemaType=JDBC; schema.jdbcUser=USERNAME; " +
"schema.jdbcPassword

[2022-08-09 15:05] LonwoLonwo commented on #17313
Hello @chWagnr

Can you open catalogs with non-numeric names in this connection?

[2022-08-09 15:16] ivaylo-infostrux commented on #839
The fact that you can use a tool a certain way is not, in itself, an endorsement of your mode of use.

BTW, Luddites would be breaking computers, not using them.

[2022-08-09 15:17] chWagnr commented on #17313
Hi.
Yes, that works. Maybe it's not working because of the missing quotation of the numeric name?

[2022-08-09 15:17] DBNoobie commented on #17279
Log files attached. Two attempts made to edit connection at 15:11:xx.

Thanks for your efforts.

[2022-08-09 15:26] rambouillet commented on #6213
I have the same issue with the following setup:

Operating System: `Windows 10 Enterprise Version`
DBeaver Version: `22.1.1.202206261508`
Driver: `sun.jdbc.odbc.JdbcOdbcDriver` and `ODBC Driver 17 for SQL Server`
Database: `SQL Server 2019 Express (a.k.a. SQLExpress)`
Connection String: `Driver={ODBC Driver 17 for SQL Server};Server=.\sqlexpress;Uid=;Pwd=;Trusted_Connection=Yes;`

Note: I don't wa

[2022-08-09 15:35] Damba-Mbulelo commented on #6213
Change your NVACHAR to VARCHAR and everything will be visible. That's how I did it on my project.

[2022-08-09 15:42] kannes commented on #839
@Lonniebiz Your low effort trolling is really unnecessary. I am glad it is easy to unsubscribe from an issue, maybe you should do the same.

[2022-08-09 15:44] rambouillet commented on #6213
I would do this, but Entity Framework is preferring nvarchar over varchar, and I don't want to change its default functionality. Plus, I would lose all the benefits of Unicode if I just used varchar.

[2022-08-09 15:49] bryan831 commented on #839
@Lonniebiz your responses are extremely childish and surprising since you've mentioned "writing SQL for 20 years". I think you need to grow up figuratively speaking. Maybe you find it hard to capitalize keywords because your mechanics are bad. That doesn't mean you have to insist your preference is better

[2022-08-09 15:57] SultanCordoba commented on #17316
How can I verify the behaviour so the issue can be closed?

[2022-08-09 16:07] strangan commented on #17303
HI @LonwoLonwo

I am using the Java bundled with Dbeaver. In other words, I am not changing any environments etc. The issue seems to be with the Silicon ARM version of Dbeaver.

Thanks

[2022-08-09 17:02] Matvey16 commented on #17316
Can be related #17291

@SultanCordoba There is no need, thank you. We will test it and if everything good it will be fixed in the nearest update

[2022-08-09 19:46] femosso commented on #12218
Oh, thank you @E1izabeth! I didn't realize that. It's working fine now :)

[2022-08-09 20:19] E1izabeth opened #17321 "Loosing connections after upgrading from dbeaver < 6.1.3 to > 6.1.3"
### Discussed in https://github.com/dbeaver/dbeaver/discussions/17304, https://github.com/dbeaver/dbeaver/issues/6599#issuecomment-1208920167

<div type='discussions-op-text'>

<sup>Originally posted by **blocka** August  9, 2022</sup>
When starting dbeaver the first time, it offered to migrate my configuration. This doesn't seem to have happened, as I don't see any connections. In the project dir

[2022-08-09 20:43] E1izabeth commented on #17312
@matke2002, have you tried to use SSHJ?
![image](https://user-images.githubusercontent.com/28875055/183757043-a841e2fe-ed25-4259-9b5d-31e7383adccf.png)

[2022-08-09 20:46] E1izabeth commented on #17309
Thank you for bug report.

[2022-08-09 21:40] AlexandreHGuerra commented on #17018
May i suggest a way to describe a way to set 2 things?
1) Line wrap or not
2) Allow a single column of 32-64Kb chars, in orde to dump DDL scripts per table or object
Its an amazing and very useful feature

[2022-08-09 21:40] amancini commented on #7060
+1

[2022-08-09 21:54] E1izabeth commented on #17018
@AlexandreHGuerra, could you describe it in more details?
1. Do you mean to make a setting to include line wrap between query text and result or not? Or which line wrap are you talking about?
2. Do you mean to create a custom DBeaver command to print the object ddl to the console view?

[2022-08-09 22:10] E1izabeth commented on #17018
Maybe I misunderstood and you asked to make some suggestions for wiki article... Anyway, you can write it here.

[2022-08-10 01:11] camoore1979 commented on #17300
@E1izabeth Great Q. That led me to the problem, I could not find the location of those exact data source files and if they existed I didn't care to keep them, but you got me to digging around. To resolve, I did some `find` commands and found all the DBeaver config files, removed them, and did a full uninstall of DBeaver and re-install. That worked. Thanks!

[2022-08-10 01:11] #17300 closed, assigned to nobody

[2022-08-10 04:14] ynnsnr commented on #7976
On Mac, after clicking `Add Home`, you can use `command + shift + G` to go directly to any hidden folder. I'm using homebrew so I had to type `/opt/homebrew/bin`.
Solution found [here](https://david.raleche.com/web-consulting/how-to-fix-dbeaver-native-client-is-not-specified-for-connection), tested on Monterey.

[2022-08-10 04:52] blocka commented on #6599
Renaming `.dbeaver-data-sources.xml` to `data-sources.json` fixed the problem of losing the connections on restart. Is there a tool that can manually convert data-sources.xml to the new format?

[2022-08-10 06:16] chiraPaki opened #17323 "False Table Metadata Displayed"
### Description

The Database Navigator shows me wrong metadata of tables.
For example, I have a table with NVARCHAR columns having a length 10 letters, but the Navigator states that the length were 5.
Even if I copy the table, the data are not cut down to, the length of the data is still 10, but even the copy table states length = 5.
DBeaver (false):
![grafik](https://user-images.githubuserconten

[2022-08-10 06:33] adeel-raza-azeemi commented on #7892
Same issue here on
Ubuntu 20.04.4 LTS (64 bit)

As soon as I save the SQL script file active connection got lost. (Or to N/A)

@liumingkun solution didn't worked for me . I put the first line in my script file to
-- CONNECTION: name=util

    i.e. util being my connection name

but it also didn't worked.

[2022-08-10 07:55] dinicolae commented on #17291
I have updated DBeaver recently and have the same issue. It is impossible to work now, cause I have so many connections and it messes up all my scripts.

[2022-08-10 07:59] bendoughty opened #17324 "Menu bar and right-click not functioning correctly in macOS Ventura"
### Description

Hello!

I have been noticing a few oddities while running DBeaver on beta versions of the forthcoming macOS Ventura (13.0) release:

1. Clicking any of the menu bar items (Navigate, Seach, SQL Editor, etc) does not produce a menu as expected.

2. Secondary (aka "right") click does not work in any part of the DBeaver interface

Log: [dbeaver-debug copy.log](https://github.com/dbeav

[2022-08-10 10:35] ddxv commented on #14749
Recently two client machines (Ubuntu 22.04 and Mac OS) are able to SSH but unable to use dbeaver Jsch to connect to an Ubuntu 22.04 server.

The Ubuntu 22.04 client is able to use SSHJ in dbeaver and connect.
The Mac OS client fails for both SSHJ and Jsch.

I found a bit more which seems to back up what @devvick reported:

https://stackoverflow.com/questions/73135640/jschexception-auth-fail-on-ubu

[2022-08-10 11:08] osysltd commented on #8777
Yes, I agree very annoying

[2022-08-10 11:33] McMogan opened #17325 "Choose SQL script (F3) shows scripts for all connections"
### Description

Choose SQL script (F3) shows scripts for all connections , even if checkbox "Show scripts for all connections" is unchecked.
Works fine on Dbeaver 22.1.2

### DBeaver Version

22.1.4

### Operating System

Windows

### Database and driver

_No response_

### Steps to reproduce

Select a database connexion
press F3

### Additional context

_No response_

[2022-08-10 11:35] matke2002 commented on #17312
Hi @E1izabeth,
with SSHJ I get connection timeout.

[2022-08-10 11:36] Destrolaric commented on #16076
@GabagoolOverHere, Sorry for waiting, I downloaded the latest DBeaver snap and it looks like it was fixed. Could you look if it's still reproducible?

[2022-08-10 11:39] Destrolaric commented on #17325
Hi, duplicate of https://github.com/dbeaver/dbeaver/issues/17316.

[2022-08-10 11:40] #17325 closed, assigned to nobody

[2022-08-10 11:40] E1izabeth commented on #17325
Thank you for bug report.

[2022-08-10 11:47] E1izabeth commented on #17312
DBeaver uses the latest Jsch version. JSch seems not to be updated anymore.

I guess this issue is a duplicate of https://github.com/dbeaver/dbeaver/issues/14749

[2022-08-10 11:50] #17312 closed, assigned to nobody

[2022-08-10 11:54] Aileron79 opened #17326 "Automatic reconnect does not work for menu functionality (such as Generate DDL)"
### Description

When a script window loses connectivity, it will automatically reconnect when I execute a new statement. However, when a connection has timed out and I select Generate SQL => DDL from a database object's context menu, an error message will pop up saying that the connection is invalid:
![image](https://user-images.githubusercontent.com/16278437/183894314-c6b6749e-953e-4448-8b91-fa2

[2022-08-10 12:03] Destrolaric commented on #17317
@kartikkudada
Hi, could you provide a screenshot of the Libraries tab in Drivers settings?
![image](https://user-images.githubusercontent.com/20579256/183896222-f2307426-ffa1-4afd-951c-67656bd3e159.png)

[2022-08-10 12:29] kfa-t opened #17327 "Parsing error in Oracle create function declaration-block (as/is)"
### Description

XMLTYPE breaks the parsing:
Simple Ctrl+Enter-Parsing and scriptexecution (alt+x) stops at line 4 just before the ;  and creates an invalid function in the database.
Works with marked block and Ctrl+Enter   but not   as part of a change script.
Parsing is fine when commenting the line.

create or replace FUNCTION XML_KFA (XML_DATA_CLOB CLOB)
RETURN CLOB
AS
    XML_DATA XMLTYPE;

[2022-08-10 12:51] stevleibelt commented on #1708
Finally the solution from @uslss answered my search question "show total row count of sql statement like in pgAdmin".
Thank you very much, I hope my written down search term will help someone in the future, at least my future me :-).

[2022-08-10 12:59] uslss commented on #17326
thanks for the report

[2022-08-10 13:00] GuenterSch opened #17328 "Search>File: File Search Replace Button is wrong"
### Description

In the dialog **File Search**, the replace button is wrong, because there is no possibility to set a replace value.

**Please remove the Replace button.**

![grafik](https://user-images.githubusercontent.com/99535516/183913025-15d4ad20-fd57-4c64-a791-9dd91315d8f1.png)

### DBeaver Version

22.1.4

### Operating System

Windows 10 21H2

### Database and driver

_No response_

### S

[2022-08-10 13:00] kartikkudada commented on #17317
@Destrolaric - Thank you for response .
Please find screenshot of libraries tab .

![libraries](https://user-images.githubusercontent.com/10473037/183907196-10808227-09f3-41d3-bae2-b1743356219e.png)

[2022-08-10 13:02] uslss commented on #17323
@chiraPaki could you provide table ddl to reproduce an issue?

[2022-08-10 13:11] uslss commented on #17268
thanks for the report.
seems SSPI is working with waffle-jna 1.9.1 only.
Could you try to reset driver settings to default and check if it helps?
![image](https://user-images.githubusercontent.com/31996417/183909850-2f8dac7e-0ac9-4dc1-b196-a5bad18b61a0.png)

[2022-08-10 13:14] uslss commented on #17244
thanks for the report

[2022-08-10 13:21] uslss commented on #16950
there has been no update on the issue for a long time.
If the issue is still reproducible for you - feel free to reopen it with additional info.

[2022-08-10 13:22] #16950 closed, assigned to nobody

[2022-08-10 13:22] uslss commented on #17079
there has been no update on the issue for a long time.
If the issue is still reproducible for you - feel free to reopen it with additional info.

[2022-08-10 13:22] #17079 closed, assigned to nobody

[2022-08-10 13:23] uslss commented on #17100
there has been no update on the issue for a long time.
If the issue is still reproducible for you - feel free to reopen it with additional info.

[2022-08-10 13:23] #17100 closed, assigned to nobody

[2022-08-10 13:28] chiraPaki commented on #17323
Sure. Here it is:

CREATE TABLE DataLake.snow.hlptbl_tickets (
	ID bigint IDENTITY(1,1) NOT NULL,
	[Issue Type] nvarchar(25) COLLATE Latin1_General_100_CS_AS NULL,
	[Number] nvarchar(10) COLLATE Latin1_General_100_CS_AS NULL,
	[Short Description] nvarchar(1000) COLLATE Latin1_General_100_CS_AS NULL,
	[Assignment group] nvarchar(500) COLLATE Latin1_General_100_CS_AS NULL,
	[Assigned to] nvarchar(10

[2022-08-10 13:48] Dkrav-UA opened #17329 "Database Tasks saved in 22.1.0 version doesn't work in higher versions (22.1.1 - 22.1.4)"
### Description

Task created in version 22.1.0 produces errors  in higher versions.
tasks.json file contains wrong information about fields. GUI shows correct information, but file contains different (wrong) names.

tasks.json (version 22.1.0)
![изображение](https://user-images.githubusercontent.com/16414895/183919563-aad28f4b-557b-4dbb-8e0f-4ac76535e941.png)

tasks.json (changed by 22.1.4 versio

[2022-08-10 14:00] GuenterSch opened #17330 "Search>File: Add scope "Open Files" to "File Search""
Hello,

in the dialog "File Search", please add the option "Open Files" in section "Scope".
With scope "Open Files" (or "Open SQL Editors") it should be possible, to search in all open SQL Editors (Open Files). This should also work, if the files are distributed on the file system and not in one workspace.

Whether it works on unsaved files too, should be dependend how easy the implementation is.

[2022-08-10 14:02] E1izabeth commented on #17313
We should quote database names which contains only numeric characters. For database names like `123db` it works fine.

[2022-08-10 14:36] bessa3301 commented on #7976
https://github.com/dbeaver/dbeaver/issues/7976#issuecomment-725436879

It worked for me using docker! 🐳 🐋

[2022-08-10 15:19] JeroenNienhuis opened #17332 "event loop exception (viewing geometries"
### Description

Just updated to new DBeaver version

running
select st_geometryfromtext('POLYGON ((0 0, 1 1, 2 0, 0 0))')
gives an event loop exception

details:
eclipse.buildId=unknown
java.version=11.0.12
java.vendor=Eclipse Foundation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en
Command-line arguments:  -os win32 -ws win32 -arch x86_64

org.jkiss.dbeaver.model
Error
Wed Aug 10

[2022-08-10 15:29] Destrolaric commented on #17332
Hi, for Windows 7 and older please remove `-Dorg.eclipse.swt.browser.DefaultType=edge` from dbeaver.ini. The file is located in the DBeaver directory.
Also, Edge is supported for Windows 7, you can install and this will allow you to use it as internal browser for DBeaver

[2022-08-10 16:00] JeroenNienhuis commented on #17332
Removing the line from the ini-file works. thanks a lot.
I prefer not to use Edge.

[2022-08-10 16:05] Destrolaric commented on #17332
@JeroenNienhuis Unfortunately, it's the only viable replacement for IE for SWT applications. Chromium support was discontinued due to license issues.

[2022-08-10 19:42] E1izabeth commented on #1367
@wwwald you can try our new experimental routing method. It could be turned on in Preferences->Editors->Diagram Editor->Routing settings
![image](https://user-images.githubusercontent.com/28875055/184005765-26516529-561d-483d-81dd-0d712f9613a5.png)

[2022-08-10 20:20] plotn opened #17333 "Documentation bug in DBeaver SVG Extension"
### Description

The link https://dbeaver.com/docs/wiki/Extension-SVG-Format/
contains info about Office extension, not SVG.
So I dont know how to use svg extension

### DBeaver Version

not applicable

### Operating System

not applicable

### Database and driver

not applicable

### Steps to reproduce

not applicable

### Additional context

not applicable

[2022-08-10 21:24] E1izabeth commented on #17008
This request #6426 could be implemented in the scope of this issue.

[2022-08-10 21:31] E1izabeth commented on #16678
Connected to #6072

[2022-08-10 21:49] E1izabeth commented on #8487
Seems to be implemented.

[2022-08-10 21:49] #8487 closed

[2022-08-11 03:27] lswjkllc commented on #17166
I have same issue with '20.6.3.28' version. Could you tell me how to reslove?

[2022-08-11 08:57] Matvey16 commented on #17329
Thank you for the report

[2022-08-11 09:13] Aileron79 opened #17334 "DDL cached and not updated on ALTER"
### Description

To modify stored procedures I right click the SP => Generate SQL => DDL to get the source. In a script window I modify the script and then send the changes using an ALTER statement which goes through fine. When I now right click that SP again, click Generate SQL => DDL, I will get the unALTERed DDL from before. This caused quite some confusion when I needed to check if I had made

[2022-08-11 09:18] mohd-akram commented on #13900
I'm getting this same error when enabling SSL:

[code]

I'm not sure how to fix this (I've already verified that the server is fine using `mysql --ssl`).

EDIT: I've verified that the CA cert that the server uses (ISRG Root X1) is in DBeaver's CA certs via:

[code]

Not sure why it isn't using it.

[2022-08-11 09:22] Matvey16 commented on #17328
@GuenterSch Thank you for the report, but you will be able to replace the text, that's why replace button has ellipsis at the end.

If any match is found a new window would be opened

![dbeaver_lvJJlX0UIV](https://user-images.githubusercontent.com/82543000/184102965-54323949-3770-40d3-ab0c-58d055c78b1f.png)

[2022-08-11 09:33] LonwoLonwo commented on #17166
Hello @lswjkllc

Do you use the last version of DBeaver? 22.1.4?
If not - please, upgrade DBeaver.

[2022-08-11 09:37] Raygeku commented on #17166
For me and my teammate, it worked.

Thanks!

[2022-08-11 09:38] LonwoLonwo commented on #17324
Hello @bendoughty

DBeaver is based on the Eclipse platform, and this is the Eclipse bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=580322

It seems to be fixed already, but this fix will be available in our product only in Autumn with the new Eclipse release.

[2022-08-11 09:39] LonwoLonwo commented on #17324
Duplicate: https://github.com/dbeaver/dbeaver/issues/17204

[2022-08-11 09:40] LonwoLonwo commented on #17323
Hello @chiraPaki

Thanks for the report.
We already have bug ticket this problem: https://github.com/dbeaver/dbeaver/issues/16996

So I'm closing this ticket as duplicate

[2022-08-11 09:40] #17323 closed, assigned to nobody

[2022-08-11 09:53] #16463 closed, assigned to E1izabeth, uslss

[2022-08-11 09:54] #17250 closed, assigned to E1izabeth, uslss

[2022-08-11 09:54] #17306 closed, assigned to E1izabeth, uslss

[2022-08-11 10:06] LiveGood commented on #16425
Hi. I have this problem as well:
DBeaver: 22.1.2.202207091909
Mac version: MacOS Monterey 12.1

[2022-08-11 10:08] #13658 closed, assigned to Destrolaric, Matvey16

[2022-08-11 10:09] hakakou commented on #2959
For me, the method using ODBC Driver has problems. Specifically all columns that are nvarchar type show up as NULL. Other columns like int, date show up OK. The only solution that works for me is using https://github.com/dbeaver/dbeaver/issues/2959#issuecomment-602774726

[2022-08-11 10:13] #17028 closed, assigned to E1izabeth, Matvey16

[2022-08-11 10:26] iraidaa commented on #17149
Hello @Achilles-Wang,

Did you try to change the pattern in Windows -> Preferences -> Data Format -> (Format) Type-> Timestamp and Timestamp with Timezone with `yyyy-mm-dd hh:mm:ss` and click **Apply**?

I have performed the steps above and I get the following:

![image](https://user-images.githubusercontent.com/49681450/184112683-9f859984-9de5-457a-a76c-1506e15b2f31.png)

The Delete option works

[2022-08-11 10:35] iraidaa commented on #17149
@Achilles-Wang,

I also suggest trying V22.1.4. Everything worked for me using it.

[2022-08-11 10:43] LonwoLonwo commented on #17282
DBeaver - is a universal database tool. It means that DBeaver supports different databases.
Some databases work with lower case (like PostgreSQL), and others with upper case (like Oracle).
So, by choosing the "default" setting, you will know that you will get "select" in the PostgreSQL script and "SELECT" in the Oracle script.

Because DBeaver store the list of keywords in the upper case. I'm not

[2022-08-11 10:58] E1izabeth commented on #17327
Thank you for bug report. As a temporary workaround you can select the whole statement and press Run.

[2022-08-11 11:03] E1izabeth commented on #17246
Thank you for bug report.

[2022-08-11 11:09] sohzm commented on #15213
Same issue on archlinux with pacman

[2022-08-11 11:26] kartikkudada commented on #17317
I tried Add Artificat option in Edit Driver dialog box .
And provided my dependency details which I used in java program .

    <dependency>
            <groupId>org.apache.calcite</groupId>
            <artifactId>calcite-core</artifactId>
            <version>1.30.0</version>
        </dependency>

It time it asked me to change URL :
Changed to : **jdbc:oracle:thin:@XXXXXXXXXXXX1521:XXXX**
Tried

[2022-08-11 11:27] kartikkudada commented on #17317
after adding calcite-core artificat
![calcite-core-library](https://user-images.githubusercontent.com/10473037/184123348-a41d54d0-6ba4-4b36-a9d9-e28ecbfa4f98.png)

[2022-08-11 12:26] E1izabeth commented on #17333
@plotn thank you for bug report.
You can install DBeaver SVG Extension by following these steps:
1. Go to the main menu Help -> Install New Software
2. Paste https://dbeaver.io/update/svg/latest/ into Work with field and press Enter
3. Check DBeaver Extension->DBeaver Office Extension item and press Next
4. Accept license agreement, press next.
5. Wait for the installation and agree to restart DBe

[2022-08-11 12:53] E1izabeth commented on #17268
connected to https://github.com/dbeaver/dbeaver/issues/1974

[2022-08-11 13:26] E1izabeth commented on #17108
Is this issue reproducible with the latest DBeaver version (22.1.4)? Please, try upgrading to the latest DBeaver 22.1.4.

[2022-08-11 13:26] dbeaver-pm commented on #17143
Thanks for the report.

[2022-08-11 13:31] ghost commented on #3070
The same issue is happening to me in Windows 7.

A workaround I found was a combination of all the workarounds presented here.

For me, when the application was fully launched (after the splashscreen) there was no "Pin to taskbar" option when I right-clicked it. To fix that, first I had to create a shortcut of `dbeaver.exe` then added the following arguments to the shortcut's "Target": `-vm "C:\Pr

[2022-08-11 13:33] dbeaver-pm commented on #17178
Thanks for the idea @MikeB2019x

[2022-08-11 13:57] dbeaver-pm commented on #17279
Please attach the log file here, on this GitHub page @DBNoobie
It doesn't work with e-mail

[2022-08-11 13:58] dbeaver-pm commented on #17210
Can be connected with https://github.com/dbeaver/dbeaver/issues/17284

[2022-08-11 14:05] dbeaver-pm commented on #17303
Probably it's connected with JAVA 17.

[2022-08-11 14:16] Destrolaric commented on #17257
@snowflakenf, Sorry for waiting, I was, unfortunately, wasn't able to reproduce this. You are getting a null for logs due to AppData/Roaming virtualization. I think you should try to create workspace folders by installing and launching standalone DBeaver and open it via the winstore version this may allow you to create a log file there or even fix the issue.

[2022-08-11 14:25] #17156 closed, assigned to LonwoLonwo, Matvey16

[2022-08-11 14:29] LonwoLonwo commented on #17243
Hello @JoMrx

I'm not sure about the new option in settings - there are too many settings for now about delimiters.

![2022-08-11 17_28_51-DBeaver Ultimate 22 1 4 - _postgres_ Script-34](https://user-images.githubusercontent.com/45152336/184157338-6c509eb2-119b-460b-aded-ded6e2f9b32b.png)

Maybe you can use this setting?

[2022-08-11 14:40] groogiam commented on #17108
Yes it is still happening on 22.1.4. Thanks.

[2022-08-11 14:45] JoMrx commented on #17243
![image](https://user-images.githubusercontent.com/99005935/184160058-8350952a-29a9-4b4d-9ba9-8b8860a782b4.png)

Actually, I have not understood this option yet. It at least does not have effects for my problem.
The ; as statement delimiter in Snowflake should be on a separate line.

[2022-08-11 14:52] raffael-mnhn commented on #17140
I have the same issue with the snap version 22.1.3.202207240747

[2022-08-11 14:59] Destrolaric commented on #17317
@kartikkudada, I have a question regarding the usage of the Calcite driver for the Oracle database. Is there any specific reason to use Calcite for interaction with the Oracle database?

[2022-08-11 15:09] Destrolaric commented on #17210
@google007049 Hi, could you provide a video that demonstrates this issue? It will be good if you also make one for the second ticket

[2022-08-11 15:14] kartikkudada commented on #17317
@Destrolaric - Thanks for response .
We can connect to variety of database (Oracle/MySql/SQL Server/Postgres) using calcite driver .
One driver is sufficient for multiple databases . And I would like to modify calcite and use as driver jar in DBeaver/tableau .

[2022-08-11 15:16] Destrolaric commented on #17317
@kartikkudada Does this mean that provided driver works for other databases in DBeaver?

[2022-08-11 15:16] bendoughty commented on #17324
Thank you very much both for the information and for your hard work on DBeaver, @LonwoLonwo.

I look forward to using future releases with Ventura, but in the meantime I have taken a look through the issue you linked, and it does indeed appear that earlier versions of DBeaver (<=22.1.0, to be exact) do not suffer from the issues noted above. If any other early adopters of macOS Ventura happen to s

[2022-08-11 15:16] #17324 closed, assigned to nobody

[2022-08-11 15:36] kartikkudada commented on #17317
@Destrolaric - yes it will work with changes only in Host ,port ,user credentials . I am able to connect oracle and Mysql using same calcite driver in my java program .
But I couldn't do in Dbeaver with neither built-in calcite jar nor modified jar.

[2022-08-11 19:36] herme063 opened #17337 "import/export apache ignite UUID column type"
### Description

We have a apache ignite table that uses UUID as primary key. When we try to import the data to another instance, we get a binding  error:

    Object parameter[----GUID----] binding not supported

Also I don't see UUID in the data types list.

### DBeaver Version

Community Edition 22.1.4

### Operating System

Windows Server 2016

### Database and driver

Apache Ignite 8.8.13

##

[2022-08-11 19:57] srnsomu commented on #17268
Hi @uslss I did try the recommendation to use waffle version 1.9.1, but it did not help. After I change to defaults, it beings up a UI to download the drivers. When I click OK on the UI, it goes into an error. I've created a screenshot recording of the same. Also, what is the password box set to when performing SSPI. I've currently set it as empty.

https://user-images.githubusercontent.com/400886

[2022-08-12 02:25] google007049 commented on #17284
Thank you for your interest in my question.
We will upload a video of the action for this question.
Please check it again and thank you.

https://user-images.githubusercontent.com/58673078/184273536-32b05d43-7c7e-4173-90ba-86c7de58bab1.mp4

[2022-08-12 03:18] google007049 commented on #17210
I received your email, thank you.
Thank you.
I uploaded an Advanced Paste error video. Please check it again.

Thank you very much.

https://user-images.githubusercontent.com/58673078/184285526-172be7cd-ea01-4bdf-ba50-c30b36b133d4.mp4

-----Original Message-----
From: ***@***.***>
To: ***@***.***>;
Cc: ***@***.***>; ***@***.***>;
Sent: 2022-08-12 (금) 00:09:49 (GMT+09:00)
Subject: Re: [dbeaver/dbea

[2022-08-12 04:10] moonjoungyoung commented on #17291
Same Issue here. It is so hard to work.
Can I downgrade dbeaver version ..?

[2022-08-12 04:11] moonjoungyoung commented on #17291
@Matvey16

Same Issue here..
It is impossible to work now, so I am using another SQL tool.
Can I downgrade dbeaver version ..?

[2022-08-12 04:39] google007049 opened #17338 "Grid Advanced copy => Advanced paste => save => error."
### Description

Post again when Grid reports Advanced copy => Advanced paste => save => error.
Upload the video.

Thank you for your interest.

### DBeaver Version

community edition 22.1.4.202208051447

### Operating System

Windows10

### Database and driver

Oracle 11g

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-08-12 04:52] #17338 closed, assigned to nobody

[2022-08-12 05:04] google007049 opened #17339 "Advanced copy => Advanced paste => save => error."
### Description

Advanced copy => Advanced paste => save => error on Grid
Upload the video.

I uploaded this question before, but I am uploading it again with a video attached.

Thank you for your interest.

https://user-images.githubusercontent.com/58673078/184288145-04ce03f8-6aed-4920-b509-f4e145635705.mp4

### DBeaver Version

community edition 22.1.4.202208051447

### Operating System

Windows

[2022-08-12 06:45] ilgarhidayatov opened #17340 "Incorrect type on select query"
### Description

On select data  getting error on where clause 'SQL Error [22P02]: ERROR: invalid input syntax for type integer: "APPROVED"'
while field is varchar can't compait with text data

### DBeaver Version

Community version 22.1.4

### Operating System

windows 10

### Database and driver

PosgreSQL

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-08-12 07:18] ilgarhidayatov commented on #17340
nevermind... found problem... wasnt bug

[2022-08-12 07:22] #17340 closed, assigned to nobody

[2022-08-12 07:51] LonwoLonwo commented on #17284
Closed as duplicate: https://github.com/dbeaver/dbeaver/issues/17210

[2022-08-12 07:51] #17284 closed, assigned to nobody

[2022-08-12 07:52] LonwoLonwo commented on #17339
Ok, thanks @google007049

Close as duplicate of https://github.com/dbeaver/dbeaver/issues/17210

[2022-08-12 07:52] #17339 closed, assigned to nobody

[2022-08-12 07:54] LonwoLonwo commented on #17210
Also connected with https://github.com/dbeaver/dbeaver/issues/8673

[2022-08-12 08:05] kikonen commented on #17332
Encountering constant errors in windows 10, which look a bit similar

Removing that line from AppData\Local\DBeaver\dbeaver.ini seemed to help also there

Error was surely rather irritating, not only one error dialog, but *two* of them popping up, next one even more irritating than actual error dialog, suggesting to restart DBeaver.

[2022-08-12 08:46] wangxuqi opened #17341 "greenplum prepareLookupStatement is not work on GP7"
### Description

When I build greenplum version 7 with master branch.  It does not have pg_catalog.pg_partitions system view and also the pg_class catalog does not has 'relstorage' column.  Shall we support it?

![image](https://user-images.githubusercontent.com/13748374/184318584-e0507b5a-b2a6-4e79-9e1b-46862606259d.png)
![image](https://user-images.githubusercontent.com/13748374/184318690-0cc433

[2022-08-12 08:47] Destrolaric commented on #17332
@kikonen Hmm, did you remove Microsoft Edge from your Windows? It looks like DBeaver couldn't find Edge on your PC.

[2022-08-12 08:49] E1izabeth commented on #17332
@Destrolaric, I reproduced it on windows 7. @kikonen just tell us that after SWTError DBeaver thought that the workspace could be broken and suggested to restart DBeaver.

[2022-08-12 09:32] #17313 closed, assigned to E1izabeth, uslss

[2022-08-12 09:33] #16368 closed, assigned to E1izabeth, uslss

[2022-08-12 13:03] kasiry opened #17342 "同样的情况下，我用navicat可以连上mysql数据库，但是用Dbever连接不上。"
### Description

mysql数据库部署在远程Liunx服务器上，网络有限制需要连接VPN；在连接VPN的情况下，我是用navicat可以连上该数据库，我使用dbever连不上；我又换了种测试方式，我不使用VPN，使用和Liunx服务器同网段的网络也可以连上数据库，请问下，这种情况应该配置Dbever的哪里呢？

### DBeaver Version

21.3.2

### Operating System

windows10

### Database and driver

Mysql数据8.X  驱动：com.mysql.cj.jdbc.Driver 8.0.17

### Steps to reproduce

背景：
mysql数据库部署在客户现场的Liunx服务器上，有两种工作人员，一种是在现场的工作人员，一种是在远程的工作人员。
1、在现场的工作使用和服务

[2022-08-12 14:17] GuenterSch commented on #17328
Hello Matvey16,

thanks for the clarification.
For me, this is unusual and therefore I did not have the idea, that a new window will be opened. In my test there was no match and therefore the Replace dialog did not open.

BR
Günter

[2022-08-12 14:17] #17328 closed, assigned to nobody

[2022-08-12 14:18] GuenterSch commented on #17328
There exist the possibility to replace a text.

[2022-08-12 14:56] LonwoLonwo commented on #17341
Thanks for the bug report @wangxuqi

[2022-08-12 14:59] LonwoLonwo commented on #17342
Hi @kasiry

Please translate your ticket into English.

[2022-08-12 15:11] kikonen commented on #17332
I definitelly have not uninstalled Edge :)

I think error started appearing with DBeaver 22.14 (did upgrade from 22.13 few days ago). I happen to have anothr win 11 (sorrry meant win 11, when said win 10 :D) machine with 22.13 so testing now does it have similar behaviour... I think 22.13 works fine.

Upgraded also this second computer to 22.14, and error started to appear, and also in this case,

[2022-08-12 15:35] mgrahamfa opened #17344 "crash on right click"
### Description

right clicking on things instantly crashes dbeaver.
with the following report.  It did not happen in 7.3.5

JVM terminated. Exit code=127
/initrd/mnt/tmpfs/tmp/.mount_DBeavemitLCF/dbeaver/jre/bin/java
-XX:+IgnoreUnrecognizedVMOptions
--add-modules=ALL-SYSTEM
-Dosgi.requiredJavaVersion=11
-Xms64m
-Xmx1024m
-jar /initrd/mnt/tmpfs/tmp/.mount_DBeavemitLCF/dbeaver//plugins/org.eclipse.

[2022-08-12 15:45] mgrahamfa commented on #17344
OS
Linux puppypc26280 4.19.164 #1 SMP Sat Jan 2 15:22:11 AEST 2021 x86_64 Intel(R) Core(TM) i7-3770 CPU @ 3.40GHz GenuineIntel GNU/Linux

Database mssql
driver libmsodbcsql 17.6

I don't think it is database related, right clicking an just about anything crashes dbeaver.

I am able to connect to the database and use the system as long as I remember to not right click.
unfortunately, some things ar

[2022-08-12 15:49] mgrahamfa commented on #17344
accidently closed...
the problem is still happening.

[2022-08-12 16:11] plotn commented on #17333
And how to use it?

[2022-08-12 16:28] E1izabeth commented on #17333
It allows to save diagram to svg.

[2022-08-12 18:09] hozn commented on #9414
This has been driving me crazy.  Home/End configured as above and stops working after a bit of time in the editor (seems like just a couple minutes for me.)  I'm glad I finally found the correct issue, so I can watch for a fix.  I'll try the Karabiner workaround as this makes the dbeaver editor pretty much unusable for me for larger queries -- using home/end while editing is way too ingrained. (I

[2022-08-12 18:55] Gabriel-Wendel commented on #8328
nothing to increment this feature yet?

[2022-08-12 21:26] DBNoobie commented on #17279
Files have been uploaded to Public Repository DBNoobie<https://github.com/DBNoobie> / DBeaverIssue17279<https://github.com/DBNoobie/DBeaverIssue17279>.

[2022-08-12 22:41] E1izabeth commented on #17279
Thank you.
May be connected with https://github.com/dbeaver/dbeaver/issues/17305

[2022-08-13 02:42] snowflakenf commented on #17257
The version from github release worked,while the version from store didn't still. All right,I use the standalone one from now. As for the problem of the previous one,maybe I will never know.

[2022-08-13 06:07] vtsimbos opened #17346 "Can't expand schemas tab in navigation bar"
### Description

I have connected an Oracle Database in dbeaver v. 22.1.1.202206261508. When I try to expand the schemas in the database navigator I got this error:
"ORA-00904: "U"."USERNAME": invalid identifier".

And on the details:
SQL Error [904] [42000]: ORA-00904: "U"."USERNAME": invalid identifier
Error : 904, Position : 35, Sql = SELECT U.* FROM ALL_USERS U
WHERE (U.USERNAME IS NOT NULL),

[2022-08-13 06:38] pararang commented on #17079
Hi, this issue is also happening to me, using dbeaver Version 22.1.4.202208051447 Com. edition. Run on Ubuntu 22.04.1 LTS.

![Screenshot from 2022-08-13 14-34-15](https://user-images.githubusercontent.com/8720184/184472042-d32ccc91-d4af-4daf-88ad-197d669c6fb3.png)
![Screenshot from 2022-08-13 14-33-51](https://user-images.githubusercontent.com/8720184/184472043-b8c374a5-1cc7-4715-bf67-76b420fde8d9

[2022-08-13 12:11] minaguib commented on #6652
I thought I had the same issue, but I just discovered it's a human error.

It looks like DBeaver supports sorting on multiple columns.

So, if you click ↑ or ↓ on columnA to sort by it (it works)
Then later click ↑ or ↓ on columnB, it'll appear broken, but I think that's because it's being added as a secondary sort column.

If you'd like to sort by columnB, you must first de-select the sorting arr

[2022-08-13 19:04] shaypower opened #17347 "SOCKS5h/TOR proxy support"
### Description

attempting to use tor as a proxy for dbeaver results in a password prompt, and errors out.
steps to reproduce:
create a proxy to a db connection with:
SOCKS, 127.0.0.1:9150

### DBeaver Version

Community 22.1.4

### Operating System

Windows 10

### Database and driver

PostgreSQL 10.21
PostgreSQL JDBC Driver [42.2.20]

### Steps to reproduce

create a proxy to a db connection wi

[2022-08-14 11:01] kasiry commented on #17342
ok。
Description
The mysql database is deployed on the remote Liunx server, and VPN is required for network restrictions. In the case of VPN connection, I can connect to the database using Navicat, I can not connect to the database using Dbever; I changed the test method again, I do not use VPN, use the same network segment as Liunx server can also connect to the database, may I ask, in this case,

[2022-08-14 11:04] kasiry commented on #17342
ok。
Description
The mysql database is deployed on the remote Liunx server, and VPN is required for network restrictions. In the case of VPN connection, I can connect to the database using Navicat, I can not connect to the database using Dbever; I changed the test method again, I do not use VPN, use the same network segment as Liunx server can also connect to the database, may I ask, in this case,

[2022-08-14 11:04] kasiry commented on #17342
ok。
Description
The mysql database is deployed on the remote Liunx server, and VPN is required for network restrictions. In the case of VPN connection, I can connect to the database using Navicat, I can not connect to the database using Dbever; I changed the test method again, I do not use VPN, use the same network segment as Liunx server can also connect to the database, may I ask, in this case,

[2022-08-14 11:06] kasiry commented on #17342
OK。

Description
The mysql database is deployed on the remote Liunx server, and VPN is required for network restrictions. In the case of VPN connection, I can connect to the database using Navicat, I can not connect to the database using Dbever; I changed the test method again, I do not use VPN, use the same network segment as Liunx server can also connect to the database, may I ask, in this case,

[2022-08-14 17:31] plotn opened #17348 "Export data - weird column naming behaviour"
### Description

When I try to export data and name columns (I write, then click by mouse on the next field) there are beahavior:
1. Correct renaming and selecting of the next field;
2. Returning of old value (sometimes several times, then it could be as of 1);
3. Active window flickering;
4. If i press enter insead of mouse click - then could be selected row above (or 2,3,4 lines above), not next

[2022-08-14 18:37] tvogel8570 opened #17349 "Directory .dbeaver added on all open projects in Eclipse"
### Description

Using dbeaver ( 22.1.4.202208051447) in Eclipse (2022-06 (4.24.0) Build id: 20220609-1112).

Periodically  dbeaver creates a directory .dbeaver and project-settings.json in every open project.  This behavior is undesired because not all developers use dbeaver and I have to cleanup before committing to git.

My workaround is to add .dbeaver to the master .gitignore

### DBeaver Ver

[2022-08-15 10:42] detkliff opened #17350 "trigger not showed on a view ddl"
### Description

open ddl tab on view. You cannot see create trigger code in creation script

### DBeaver Version

22.1.4

### Operating System

windows 10

### Database and driver

Postgresql 14.2

### Steps to reproduce

1. Create view
CREATE OR REPLACE VIEW v
AS SELECT...
2. create trigger on this view
create trigger trg_v_change instead of...
3. open ddl tab on view v. You cannot see create tr

[2022-08-15 10:45] E1izabeth commented on #17344
Thank you for bug report.
Please, send us the log files. You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/

[2022-08-15 11:07] Destrolaric commented on #17332
@kikonen, thank you for the information. Unfortunately, I was unable to reproduce it on my system. Is there a reliable way to do it? Video may help.

[2022-08-15 12:50] JMajeau opened #17352 "Driver/ID list for command line arguments"
Hello,

I'm not sure this is a feature request, it's more of a question.
In your documentation (https://dbeaver.com/docs/wiki/Command-Line/), there is a section called **Connection Parameters**. That section shows how to create a single command line argument to connect to a database. In it’s parameters, there is the non-optional **driver (Driver name or ID)**. I was wondering if it was possible to

[2022-08-15 13:13] dzar-aker opened #17353 "Scheduled tasks not running as expected"
### Description

I have a couple of scheduled tasks that I have set to run each morning at 7 AM. I think this did work once or twice, but it's no longer creating any output, although the "Last Run" is updated each morning to indicate it did run. When I run them manually, they do produce the output I expect in the location I expect.

Any ideas on how I can debug this or make it work?

My machine is

[2022-08-15 15:09] Matvey16 commented on #17291
@moonjoungyoung Sorry for this. The earlier versions can be downloaded here https://dbeaver.io/files/
We fixed this bug and as soon as it is merged I'll update this ticket with a link to the new early access version.

[2022-08-15 15:13] #17291 closed, assigned to nobody

[2022-08-15 15:19] #17316 closed, assigned to Destrolaric, Matvey16

[2022-08-15 15:25] match-gabeflores opened #17354 "[Redshift] - Generating DDL on materialized view doesn't include AUTO REFRESH setting"
### Description

In Redshift, If I generate the DDL on a materialized view, it doesn't include the auto refresh setting (YES/NO).
Edit: I'm using **Okta Single Signon (SSO) for authentication** and I made a _copy_ of the Redshift driver.

![image](https://user-images.githubusercontent.com/286903/184663880-ab47f526-4401-4bb6-b0bb-51ede71bda71.png)

AWS Docs
https://docs.aws.amazon.com/redshift/late

[2022-08-16 00:10] mgrahamfa commented on #17344
I didn't know where the log files were.  I see the problem is probably my GTK is too old.sorry to bother you. I'll have to see what my options are to upgrade.
thanks.

    On Monday, August 15, 2022, 03:45:32 AM PDT, Elizabeth ***@***.***> wrote:

Thank you for bug report.
Please, send us the log files. You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/

—
Reply to this email

[2022-08-16 02:23] liuzhe101 opened #17355 "Dbeaver cannot support function parameter hints"
**Describe alternatives you've considered**
I hope the tool can prompt the function and parameter prompt to connect to the database, just like the idea

**Additional context**

![1660616549995](https://user-images.githubusercontent.com/61652514/184784882-be795284-86bb-49df-9ee5-f4f2d4729381.jpg)

[2022-08-16 07:11] iraidaa commented on #17288
The bug is reproduced with Snowflake in DBeaver EE

[2022-08-16 07:42] javaanddonet opened #17356 "Menu placed upside down"
### Description

Menu placed upside down.

### DBeaver Version

22.1.4.202208051447

### Operating System

macOS Big Sur 11.4

### Database and driver

MySQL 5.7

### Steps to reproduce

1. Chose a mysql connection, and double click it, open this connection.
2. Select Users menu, and double click it, open this menu.
3. On the right side, chose one user and double click it, open this user.
4. Click

[2022-08-16 07:43] javaanddonet commented on #17356
![dbeaver-bug](https://user-images.githubusercontent.com/35132479/184825144-b822478b-c217-4345-b3e0-730bf3f0b50f.png)

[2022-08-16 07:53] Matvey16 commented on #17270
Verified

[2022-08-16 07:53] #17270 closed, assigned to serge-rider, Matvey16

[2022-08-16 08:26] E1izabeth commented on #16873
@Aileron79 does exactly this issue exists (when new browser tabs are repeatedly opened) or this problem has gone and you get authentication tab only on reconnect?

[2022-08-16 08:28] E1izabeth commented on #16873
@Zulu-Inuoe could you check is this issue actual for the latest DBeaver version?

[2022-08-16 08:39] Aileron79 commented on #16873
@E1izabeth I get new authentication tabs every time a connection is made, no matter if it is a new connection I establish consciously myself or if it reconnects automatically. Sometimes I just type a new statement in the query window, DBeaver tries to come up with suggestions for autocompletion, for that purpose it reconnects in the background to fetch table names (I assume), that causes a browser

[2022-08-16 08:41] E1izabeth commented on #17288
Could you set `Keep-Alive` and `Close idle connections after` to some value? Let me know if this resolves your issue.

![image](https://user-images.githubusercontent.com/28875055/184836756-258b2f04-b0f1-4e46-abf7-685ec63dadab.png)

[2022-08-16 08:45] E1izabeth commented on #16873
Thank you for response.

[2022-08-16 08:51] uslss commented on #17356
thanks for the report.
seems to be similar to #10945

[2022-08-16 08:51] #17356 closed, assigned to nobody

[2022-08-16 09:02] guiwebdev opened #17357 "Datsources mixed"
### Description

After latest upgrade, all my scripts are shown on F3, despite the connection I'm working on.
(the option to show scripts from all connections is not enabled), but if I do enable it, it only changes the icons of the scripts to their correct connection

More, if I right click on a result and choose the "Generate", all the options add the schema to the script which is not the connect

[2022-08-16 09:14] uslss commented on #17357
thanks for the report
The issue is already fixed in #17316
The fix will be available in 22.1.5

[2022-08-16 09:14] #17357 closed, assigned to nobody

[2022-08-16 09:20] E1izabeth commented on #17288
@Aileron79, also please send the log files. You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/

[2022-08-16 09:22] #16873 closed, assigned to nobody

[2022-08-16 09:44] DanVal80 commented on #16852
Thank you @TOMHTML. I have been struggling for weeks with this issue. Your solution worked immediately! (Dbeaver 22.1.4 connecting to Ubuntu 22.04 via SSHJ tunnel).

[2022-08-16 10:25] ironbirdie opened #17359 "open current sql script always opens the last sql-script"
### Description

First, I have to say, what great tool dbeaver is.

I have been using it a while, i keep finding interesting features.
However I've recently upgraded to the lastest version 22.1.4 and opening the recent sql script from a connection.
Always opens the last recent sql-script of all connections instead of the one associated with the connection.

The last recent sql-script is then also

[2022-08-16 10:57] emironovDB commented on #16713
@dovatti
Hi
Thank you for your request.
We added the complete list of supported databases in the DBeaver Community Edition.
Please, learn it here https://dbeaver.io/about/

We also updated the list of the supported databases in DBeaver PRO https://dbeaver.com/databases/ and our web application CloudBeaver https://cloudbeaver.io/features/#sql-and-nosql

If you have any questions, please fill free t

[2022-08-16 10:57] #16713 closed, assigned to serge-rider

[2022-08-16 11:29] flambchap opened #17360 "Refresh table properties layout after table creation"
### Description

It's [almost impossible to change](https://stackoverflow.com/a/68716746) the table engine in said DBMS, but the corresponding combo box in the Entity Editor is expandable even if a table is already persisted.

### DBeaver Version

Ultimate, devel branch

### Operating System

Pop!_OS 22.04

### Database and driver

ClickHouse 22.1.3.7
ClickHouse JDBC Driver clickhouse-jdbc 0.3.2-p

[2022-08-16 11:49] n5a5 opened #17361 "Support Explain Execution Plan for ClickHouse"
DBeaver does not support the mentioned [functionality](https://github.com/dbeaver/dbeaver/wiki/Query-Execution-Plan#simple-plan-view), although ClickHouse docs say it's possible to do: https://clickhouse.com/docs/en/sql-reference/statements/explain/.

[2022-08-16 12:00] flambchap opened #17362 "Update using the grid fails when you have a timestamp column"
### Description

Exception:

[code]

### DBeaver Version

Ultimate, devel branch

### Operating System

Pop!_OS 22.04

### Database and driver

ClickHouse 22.1.3.7
ClickHouse JDBC Driver clickhouse-jdbc 0.3.2-patch11 (revision: 27f8951)
Non-legacy driver

### Steps to reproduce

1.
[code]
2. Populate the table with a row.
3. Attempt to edit a timestamp.

### Additional context

_No response_

[2022-08-16 12:17] flambchap opened #17363 "Add a Use SSL option for ClickHouse"
It would be great if we had a `Use SSL` button on the ClickHouse Connection Page, just like in InfluxDB:

![image](https://user-images.githubusercontent.com/26031301/184877411-266c879b-0393-4a90-a8f7-4a830dbfa0ef.png)

[2022-08-16 12:18] E1izabeth commented on #17359
Thanks for the report.
The issue should be fixed in #17316.
The fix will be available in DBeaver 22.1.5.

[2022-08-16 12:18] #17359 closed, assigned to nobody

[2022-08-16 12:26] Destrolaric commented on #17363
Probably we should discuss adding that button for other databases. Users, mostly, don't need to change anything in SSL configuration.

[2022-08-16 16:42] E1izabeth commented on #17355
Thank you for feature request. It's a duplicate of #3061, so, I'll close it.

[2022-08-16 16:44] E1izabeth commented on #17355
Maybe this feature request is slightly different.

[2022-08-16 16:53] NikolayTach opened #17364 "{blog-postapi-url}/../wp-admin/post.php?action=edit&post={post-id}"
### Description

### XML Parsing Error: not well-formed
Location: file:///home/mint/dbeaver/bundles/gora.xml
Line Number 15, Column 57:
`{blog-postapi-url}/../wp-admin/post.php?action=edit&post={post-id}`

### DBeaver Version

22.1.0

### Operating System

MintOS 11.2.0

### Database and driver

`Framework Laptop 11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40GHz`

### Steps to reproduce

`curl https:

[2022-08-16 16:55] E1izabeth commented on #17243
This option helps to add delimiter to the end of the line if you don't have it.
For example for query
[code]
it will add delimiter in the end of the first select:
[code]

But this option doesn't help.
For example, this text
[code]
becomes
[code]
and the query is still broken.

[2022-08-16 16:57] E1izabeth commented on #17364
Please, describe in more details what are you trying to do, some steps to reproduce would be helpful.

[2022-08-16 19:44] E1izabeth commented on #17348
Thank you for bug report.
Additional note:
- I cannot select the previously suggested `Target` if the were only one proposal after `[skip]` has been selected.
- It's not possible to use keyboard to navigate through the target columns list.
- Sometimes several lists shows expanded state, but no one of them are really expanded.
![image](https://user-images.githubusercontent.com/28875055/184974114-5e

[2022-08-16 20:42] AtillaSE commented on #2071
I want to bump the request for this feature again. Would be really handy to roll out a new database structure without moving over all data

[2022-08-16 20:53] E1izabeth commented on #2071
Please create a new issue for this feature request.

[2022-08-16 22:01] AtillaSE opened #17366 "Sync database Structures/Migrate should be implemented"
In the options there's already a Compare/Migrate function, but the Migrate is not implemented yet. There is a workaround by exporting a database and importing that again on the other server, but that will also copy over the data. I'd like to be able to 'deploy' changes to the database structure without also migrating the data.

[2022-08-17 04:07] kkirpichnikov commented on #1990
@BeggarsPaulSloan, @PhilippeTorres
Open the Database Client Homes
<img width="430" alt="image" src="https://user-images.githubusercontent.com/13055750/185032308-7ee8bad8-9a7a-4dfe-9232-64bec774806b.png">

Press `cmd+shift+G` and now you should be able to specify the full path to your client
<img width="886" alt="image" src="https://user-images.githubusercontent.com/13055750/185032446-771fa299-6b1a

[2022-08-17 05:53] bouyeijiang opened #17367 "sometime exeucte a query scripts and i need waiting along time."
### Description

dbeaver running on linux mint system.
the show reading data but its alway waiting and no result,i can't cancel the query scripts.

the same database enviroment is normal when i running on window system.

### DBeaver Version

22.1.1

### Operating System

linux mint

### Database and driver

postgresql 12

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-08-17 07:03] psychelzh commented on #6213
Weirdly, if I choose "ODBC ANSI Driver" when configuring data source on Windows, DBeaver will show Chinese characters as normal. However, ANSI is not recommended when data stores Unicode characters.

[2022-08-17 07:03] birdingman0626 commented on #17342
用IP地址连，不要用hostname

[2022-08-17 08:10] uslss commented on #17367
@bouyeijiang please, provide [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files). Also, a video with the issue will be quite useful.

[2022-08-17 08:12] uslss commented on #17366
@AtillaSE Schema migration is already implemented in DBeaver PRO versions, if I catch your request correctly.
You could read more about it here https://github.com/dbeaver/dbeaver/wiki/Schema-compare

[2022-08-17 08:18] bouyeijiang commented on #17367
only have one screenshot
always on this window,I'm sure it's not the slow response of the database.

![2022-08-17 16-13-37屏幕截图](https://user-images.githubusercontent.com/4083760/185069357-72f74f5d-2c67-4434-ab0c-3af70c7eeaa7.png)

[2022-08-17 08:22] goryushkinov opened #17368 "Export/import of DBeaver preferences"
Hi all ! Can anybody help with the question in which file are the installation settings stored ? We need to replace automatically some of the default settings when installing for many users. For example: in "Connections→Metadata" remove mark for "Open separate connection for metadata read". This will reduce the number of sessions created when reading metadata. Thanks.

[2022-08-17 08:24] uslss commented on #17350
thanks for the report

[2022-08-17 08:50] uslss commented on #17346
unfortunately cannot reproduce the issue.
What Oracle version do you use?

[2022-08-17 08:56] #17025 closed, assigned to Destrolaric, Matvey16

[2022-08-17 09:21] MindWithCake commented on #6581
I just upgraded to Ubuntu 22.04.1 and tried a wayland session again. Many of the issues are gone now, there is just a little glitch left: icons loaded while the application is on the main screen (125% zoom) are of the correct size, while icons loaded when dbeaver is on the secondary screen (100% zoom) are zoomed. In the attached image the icons underlined in blue have been loaded on the main scree

[2022-08-17 09:53] elitesrush commented on #17275
I had to uncheck the option called "open new connection" in "Extraction Settings" of "Export Data" window and that worked.

[2022-08-17 09:53] #17275 closed, assigned to uslss

[2022-08-17 10:01] vtsimbos commented on #17346
The version is 19c

[2022-08-17 12:21] #17235 closed, assigned to uslss, ShadelessFox

[2022-08-17 13:08] pjam889 opened #17376 "Edit Driver Setting - URL Template overwritten between connections"
### Description

I use two different connections to Amazon Redshift:
Connection 1) Authenticates with AWS Single Sign On, requires this URL template: jdbc:redshift:iam://{host}:{port}/{database}
Connection 2) Autheticates with user/passsword, requires this URL template:          jdbc:redshift://{host}:{port}/{database}

The issue is that "URL Template" setting is not independent, if I add "iam:" t

[2022-08-17 13:22] #16996 closed, assigned to uslss, ShadelessFox

[2022-08-17 15:56] #16793 closed, assigned to uslss, ShadelessFox

[2022-08-17 19:51] jaredwillden commented on #4483
Happens to me on Mac Monterrey DBeaver Version 22.1.4.202208051447. Seems to happen when I have a SQL Console open and a script file open and switch between them.

[2022-08-17 22:31] numeralnathan opened #17379 "Control + Left Click on Foreign Key to View the Row"
**Is your feature request related to a problem? Please describe.**

Open a table and view its data.  Some of the columns are foreign keys.  I currently copy the key and open the corresponding table.  I then filter for that key.

**Describe the solution you'd like**

Please let me Control + Left Click on a key and have DBeaver open the corresponding table with a filter so that I see that row.

[2022-08-17 22:45] PoseidonEnergy opened #17380 "DBeaver does not allow anything after "jdbc:sqlserver://" in MS SQL Server URL template, breaking sqlexpress and localdb connections"
### Description

In DBeaver 22.1.1, the SQL Server URL template is something like

`jdbc:sqlserver://;serverName=localhost;databaseName=testdb`

For a lot of people, this isn't a problem, because they can just use the `serverName` parameter and port to connect via TCP/IP.
However, this breaks support for **sqlexpress** and **localdb** connections, which **cannot** be connected to with the `serverN

[2022-08-18 00:05] lucashtc commented on #17367
The same here PopOS.
On Windows this problem does not happen.

Sometimes I need to close Dbeaver and sometimes force it to close, killing the process.

I managed to reduce this problem by putting to refresh the connection every 5 minutes

[2022-08-18 00:07] lucashtc commented on #17367
I will further investigate the problem using the doc mentioned by @uslss

[2022-08-18 06:32] wangqian-49 commented on #17040
1. Double click the table in the tree navigation bar on the left, and the table information will be displayed on the right
2. Click the data tab page
3. Select a data
4. Open the value viewer on the right to view the preview information

[2022-08-18 07:51] Destrolaric commented on #16991
https://github.com/dbeaver/dbeaver/wiki/Troubleshooting-system-issues

[2022-08-18 08:20] E1izabeth commented on #17380
Thank you for bug report.

[2022-08-18 08:43] Matvey16 commented on #17213
Can you pleasy specify how do you filter tables in the schema?

There is already a way to filter tables in a certain schema, did you try that?

![dbeaver_zKIU6ESKh4](https://user-images.githubusercontent.com/82543000/185351772-8308232b-a385-4e4e-9fa3-c804f9df6038.gif)

[2022-08-18 08:45] ionel-sirbu-crunch opened #17381 "Script to connection associations lost in v. 22.1.4.202208051447"
### Description

Whenever I select a connection in the left hand pane & press F3 for opening the SQL script associated with that connection (I usually have just one such script), instead of opening it, I get the pop-out window with all the scripts from all connections in there.
Since that association used to work fine before, I never bothered naming the scripts in accordance with the connection, s

[2022-08-18 08:46] #16750 closed, assigned to Matvey16

[2022-08-18 08:49] Destrolaric commented on #17381
Hi, it is fixed in the scope of https://github.com/dbeaver/dbeaver/issues/17316. The release version with the fix should be available on Monday. For now, you can use an earlier version of DBeaver https://dbeaver.io/files/

[2022-08-18 08:49] #17381 closed, assigned to nobody

[2022-08-18 08:55] ionel-sirbu-crunch commented on #17381
Sweet, thanks for the prompt reply! ❤️ And apologies for opening a duplicate - I did do a search by `script` before, but I couldn't spot anything similar after taking a quick gander. 🤷‍♂️

[2022-08-18 09:49] #14945 closed, assigned to E1izabeth, Matvey16

[2022-08-18 09:49] #14998 closed, assigned to E1izabeth, Matvey16

[2022-08-18 10:27] SailorMax commented on #3816
Looks like something similar already exists, but not free: https://www.cdata.com/kb/tech/kafka-jdbc-dbvr.rst

[2022-08-18 10:49] #17321 closed, assigned to nobody

[2022-08-18 10:49] #17279 closed, assigned to nobody

[2022-08-18 10:49] #17305 closed, assigned to E1izabeth, uslss

[2022-08-18 10:51] E1izabeth commented on #17279
The fix should be available in the future release. Please, let me know if the bug still exists.

[2022-08-18 10:52] E1izabeth commented on #17305
The fix should be available in the future release. Please, let me know if the bug still exists.

[2022-08-18 11:12] Matvey16 commented on #17040
@wangqian-49 Thank you for the report. We'll see what can be done about that.

[2022-08-18 11:42] Matvey16 commented on #17146
@scottlapoint Can you run `SHOW variables;` and see what is the value for lowercase_table_names?

[2022-08-18 11:56] scottlapoint commented on #17146
Here you go.

lower_case_table_names	1

[2022-08-18 12:15] iraidaa commented on #17334
Hello @Aileron79,

I've tried to reproduce the issue, using Azure SQL and DBeaver 22.1.4.

The following way to modify the procedure works for me:

Open the procedure -> go to the Source tab -> modify the existing procedure with ALTER PROCEDURE before it -> Save it ->click on Persist in the pop-up.

Then, I tried to close DBeaver, opened it again, checked the procedure and found only the changed p

[2022-08-18 12:45] flambchap commented on #17303
Hi @strangan. Can you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

[2022-08-18 13:12] emironovDB commented on #16558
@lyndavandermerwe
Do you have only one connection to a database or multiple?

[2022-08-18 13:41] uslss commented on #17268
SSPI authentication is implemented in EE version. Could you check if it works for you?
![image](https://user-images.githubusercontent.com/31996417/185409589-3b3eb737-8b7e-4ba1-81d3-dec8aea7c11f.png)

[2022-08-18 13:48] ShadelessFox commented on #17330
Hello @GuenterSch,

Unfortunately, we can't modify this dialog since it's a part of Eclipse, neither it can be extended.

[2022-08-18 13:48] #17330 closed, assigned to ShadelessFox

[2022-08-18 13:50] srnsomu commented on #17268
Hi @uslss, I am using the Community Edition. Is PostgreSQL SSPI only available in the Enterprise Edition?

[2022-08-18 13:50] KLIS-IT opened #17386 ""Choose SQL script" dialog displays to many scripts"
### Description

Since upgrade to Version 22.1.4 "Choose SQL script" dialog displays to many scripts.
Also scripts related to other Folders as current select are displayed.
For example I press F3 on a PostgreSQL DB connection before 22.1.4 only scripts for this connection were shown.
Now also connections to Oracle DB shown but icon for PostgreSQL is displayed before script name.
Once ticking "Sele

[2022-08-18 13:52] ikodev opened #17387 "dbeaver updates don't change the PROJECT_LOC variable to the new directory generated"
### Description

Platform
[code]
Dbeaver
[code]

Package Manager
[code]

Currently, my package manager snap is dealing all the updates of DBEAVER.

Dbeaver was targeting the `/home/user/snap/dbeaver-ce/203/` directory but a recent update has generated the `/home/user/snap/dbeaver-ce/204/` and symlinked it properly to the `/home/user/snap/dbeaver-ce/current/`directory.
**The problem is that the var

[2022-08-18 13:57] Destrolaric commented on #17386
Hi, it is fixed in the scope of https://github.com/dbeaver/dbeaver/issues/17316. The release version with the fix should be available on Monday. For now, you can use an earlier version of DBeaver https://dbeaver.io/files/

[2022-08-18 13:57] #17386 closed, assigned to nobody

[2022-08-18 14:01] ShadelessFox commented on #17352
Hello @JMajeau,

If I understand you correctly, you can find the ID of the desired driver by looking it up in the Driver Manager:

![image](https://user-images.githubusercontent.com/35821147/185414063-1c9eb20d-e694-4ebe-9e94-637e4d884460.png)

[2022-08-18 14:38] tomlenzmeier opened #17388 "Mac Version 22.1.3 Not Working"
### Description

After upgrading my previous version, the program does not work. None of the menu options, such as File, Edit, Navigate, etc. work. If I click on them, nothing happens. Furthermore, I cannot right-click on anything at all. The only way to close the program is to force-quit.

### DBeaver Version

Community Edition 22.1.3

### Operating System

Monterey 12.5

### Database and driver

[2022-08-18 14:41] Destrolaric commented on #17317
@kartikkudada I have looked into this issue deeper looks like you are using an entirely different driver class name for the driver you are using is `org.apache.calcite.jdbc.Driver` when the default avatica configuration uses `org.apache.calcite.avatica.remote.Driver`. Your driver is part of `org.apache.calcite` not of `org.apache.calcite.avatica`. Its artifact id is `calcite-core`. I tried to conn

[2022-08-18 14:49] Destrolaric commented on #17317
You may look to our documentation about configuring new drivers https://dbeaver.com/docs/wiki/Database-drivers/

[2022-08-18 16:32] strangan commented on #17303
Hi @n5a5

Please see attached.

[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/9375756/dbeaver-debug.log)
[Dbeaver-LogFile-MacM1Silicon.txt](https://github.com/dbeaver/dbeaver/files/9375759/Dbeaver-LogFile-MacM1Silicon.txt)

[2022-08-18 17:39] flambchap commented on #17303
Thank you. The issue is indeed linked to Java 17:

`Caused by: java.lang.reflect.InaccessibleObjectException: Unable to make field long java.nio.Buffer.address accessible: module java.base does not "opens java.nio" to unnamed module @4a007e64`

I think we can tweak the bundled JRE.

[2022-08-18 17:41] flambchap commented on #17303
As a workaround, please find the `dbeaver.ini` file inside DBeaver.app and add the following two lines to the bottom of the file:

[code]

[2022-08-18 18:06] flambchap commented on #17303
The same issue here: https://github.com/dbeaver/dbeaver/issues/14691

[2022-08-18 18:06] flambchap commented on #14691
It will be fixed alongside #17303

[2022-08-18 18:10] All3xJ opened #17389 "DBeaver can't delete primary key contraint"
### Description

I can't delete primary key with DBeaver, it says

errno 150 primary key is not correctly formed.

If I execute a script with `set foreign_key_checks=off` and then do it again, it gives me that error again.

If I do it via mysql commandline, (disabling foreign key checks too), doing the SAME query as dbeaver (`ALTER TABLE dbname.tablename DROP PRIMARY KEY; ` )it works....

Also, it

[2022-08-18 18:10] sparrowme commented on #16993
I would recommend NOT changing the action under a button's location (even if you change the label)  (muscle memory), but consider leaving the location alone and simply make it disappear if being disabled appears confusing.

[2022-08-18 18:32] E1izabeth commented on #16993
@sparrowme thank you for suggestions

[2022-08-18 18:33] sparrowme opened #17390 "Dump database - Next button disabled by default"
### Description

Next button is disabled by default with no indication user must click on an already checked item to cause it to enable.

See #16993 for different Next button issue

### DBeaver Version

Community Edition 22.1.4

### Operating System

Ubuntu 20.04 LTS

### Database and driver

MySQL 8

### Steps to reproduce

1. Right-click on a Database in the Database Navigator and then Tools ->

[2022-08-18 18:47] sparrowme commented on #17390
I did see the native client error, but did not consider it the cause... adding a default and going through the process again does in fact default the Next button to active.

I suspect it was unintentional to actually allow it to activate the way I introduce above.

Some fix may be helpful, otherwise feel free to close.

[2022-08-18 19:20] strangan commented on #17303
I did that, but it doesn't solve the problem. Here's a copy of my
dbeaver.ini file

-startup
../Eclipse/plugins/org.eclipse.equinox.launcher_1.6.400.v20210924-0641.jar
--launcher.library
../Eclipse/plugins/org.eclipse.equinox.launcher.cocoa.macosx.aarch64_1.2.500.v20220509-0833
-vm
../Eclipse/jre/Contents/Home/bin/java
-vmargs
-XX:+IgnoreUnrecognizedVMOptions
--add-modules=ALL-SYSTEM
-Dosgi.requir

[2022-08-18 19:31] EricWagnerJr opened #17391 "Can't run IBM iSeries (AS400) Stored Procedure calls in DBeaver 22.1.0 but can run them in 6.2.0"
### Description

Doing a proof of concept for DBeaver Lite - I can run stored procedures in 6.2.0 using the jtopen (jt400.jar) driver. I can also run select statements against it using 22.1.0, but I can't run stored procedures.

Example Call: "CALL SOMESCHEMA.SOMEPROCEDURE('EA', ?, ?);"

Configs:
![image](https://user-images.githubusercontent.com/39307812/185479235-33f93a49-5e51-4607-92c5-ede64c00

[2022-08-18 19:40] E1izabeth commented on #17376
Thank you for bug report.

[2022-08-18 21:51] E1izabeth commented on #16991
Please add the dots to the end of sentences.

[2022-08-19 00:22] google007049 opened #17392 "CTRL+ENTER error statement when running SQL?"
### Description

I always use it well if I thank you well.

Run ctrl+enter when running QUERY. There is a problem in some cases as below.
1. If there is a comment in the query, an error occurs when the query is included and executed.
2. If the block is processed except for comment, it will be inquired without errors.
3. If you run directly on the line below without block processing, an error will

[2022-08-19 02:22] hktalent opened #17393 "The saved sql statement should not be executed, which will lead to unforeseen losses"
### Description

Prompt to save sql when exiting, for example:
UPDATE vuls.alipay_task_db_saves SET created_at=NOW();
UPDATE vuls.alipay_task_db_saves SET run_status=1;

After a few days, when the tool is started, the saved SQL statement will be executed again unexpectedly, which will cause my data to be irreparably lost.

### DBeaver Version

Version 22.1.3.202207240747

### Operating System

mac

[2022-08-19 04:03] buhlerax commented on #14225
Thanks.
I will be waiting. Have these changes already entered the Enterprise version?

[2022-08-19 06:07] maxs-marcel opened #17394 "PostgreSQL数据库, bigint数据类型的字段保存后变为了int8, 希望更正"
### Description

<img width="733" alt="image" src="https://user-images.githubusercontent.com/65930792/185553278-26047640-2586-4a72-ae76-4626390e18c0.png">
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/65930792/185553224-7599c816-8ebe-4313-ad89-f1c7b1f932de.png">

当我使用DataGrip工具进行查看时, 这个字段类型保存的没问题, 只是展示有问题, 希望官方更正.

<img width="802" alt="image" src="https://user-image

[2022-08-19 06:51] Aileron79 commented on #17334
That of course works, but the issue is not that the procedures are not updated - in fact, they are. The problem is that when right clicking a procedure that has been ALTERed => Generate DDL, that DDL is not fetched from the database but from the cache. I need to refresh the database view or disconnect/reconnect to the database to actually see the ALTERed procedure in the DDL. Not sure if that is a

[2022-08-19 08:50] Character799 commented on #17213
I used the **Filter** Option from the **User Connection - General Connection Settings**.
But what you showed is exactly what I was looking for .
Thanks!
![Filter](https://user-images.githubusercontent.com/110384758/185581808-b74f5057-51e5-47f7-a5e8-265cde8fc1d2.jpg)

[2022-08-19 08:50] Character799 commented on #17213
Functionality already exists

[2022-08-19 08:50] #17213 closed, assigned to Matvey16

[2022-08-19 09:09] Hermholtz opened #17395 "Insufficient info in the "Error connecting to datasource" window on startup."
### Description

When DBeaver starts, it displays the error that it can't connect to a datasource. But it doesn't tell which one it can't connect to. I have several sources, and some of them may be inaccessible (because e.g. a VPN is required or a VM needs to be brought up). Either way, it would be very useful to know which data sources DBeaver complains about, and if it complains about one or mor

[2022-08-19 10:08] kartikkudada commented on #17317
@Destrolaric
Thank you .
I deleted downloaded jars by Dbeaver and updated required jars for connection by adding add artifact option in Edit Driver option.
Yes you are correct my required Driver is part of org.apache.calcite , and part of calcite-core artifact . which I added later.
now I am able to connect oracle and MySql .

I think when calcite connection is selected in Dbeaver , it should down

[2022-08-19 10:13] Icemap opened #17396 "Support TiDB"
**Is your feature request related to a problem? Please describe.**

Add TiDB support.

**Describe the solution you'd like**

- Create TiDB type database
- At the database tab, should show `sequence`, and hide `triggers`, `events`, and `procedures`.

**Describe alternatives you've considered**

**Additional context**
Add any other context or screenshots about the feature request here.

<img width="

[2022-08-19 10:14] Destrolaric commented on #17317
@kartikkudada I am not sure, your driver is entirely different from calcite avatica. Connection is configured for calcite avatica, which is, for example, used for apache druid. I think It needs its own configuration.

[2022-08-19 10:18] bankuaizhuan1 opened #17397 "22.1.4.202208051447 Update table structure refresh and restore again"
### Description

创建表格，新建一个表索引，删除索引，刷新表格，索引又还原了？连续几次都不行，断开连接，再次链接，再次删除才生效

Create a table, create a new table index, delete the index, refresh the table, the index is restored? If it doesn't work several times in a row, disconnect it, link it again, and delete it again to take effect.

### DBeaver Version

22.1.4.202208051447

### Operating System

win10

### Database and driver

_No response_

###

[2022-08-19 10:46] E1izabeth opened #17398 "Pinned columns doesn't work for nosql databases, arrays and composite types"
We should support columns pin for these databases and data types or disable this functionality in ui.

[2022-08-19 10:52] iraidaa commented on #17334
Hello @Aileron79,

I think it's connected with the fact that there is  the main connection to the database in the navigator on the left.  For example, the SQL script uses another connection. If we made changes through one connection, then the other one should get to know about the change. That's why clicking Refresh helps.

[2022-08-19 10:54] #14619 closed, assigned to nobody

[2022-08-19 11:38] flambchap opened #17399 "Console view icon is missing on Linux"
### Description

It's impossible to toggle on the console view since the icon is missing.

![image](https://user-images.githubusercontent.com/26031301/185610198-e3a91dd1-17d8-4a44-bf2d-51f589426165.png)

### DBeaver Version

Community 22.1.4

### Operating System

Pop!_OS 22.04

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-08-19 12:08] E1izabeth commented on #17395
Thank you for suggestions.

[2022-08-19 14:50] plotn commented on #17348
some addition. Exporting from pg to ora:
1. All columns are quoted. Please, don do that - it really hurts. We all except behaviour: pg lower case = ORA UPPER CASE and this is ok. If (if!!) some columns are quoted - god with them, let it be (but not specially!).
2. When I focus, and then defocus values, they become unquoted :)

[2022-08-19 14:51] plotn commented on #17348
![dbeaver_export_add](https://user-images.githubusercontent.com/11477081/185645870-0f89e752-8cb7-4b0a-846d-6ce4a8b0a174.png)

[2022-08-19 14:55] plotn commented on #17348
And it finally fails.... :(
so data export (the excellent part of dbeaver need to be refactored, i think)
![dbeaver_export_add2](https://user-images.githubusercontent.com/11477081/185646903-d1eb2976-8ec0-45d5-9c85-f002acf16d2b.png)