[2022-04-04 07:37] #15844 closed, assigned to nobody

[2022-04-04 07:40] LonwoLonwo commented on #15178
You can try to change standard script delimiters in Preferences:

![2022-04-04 10_39_29-DBeaver Ultimate 22 0 2 - _orcl_Script-140](https://user-images.githubusercontent.com/45152336/161496617-c9c232ab-bcae-4ed4-9285-a5445b48a53d.png)

[2022-04-04 07:41] herve3d commented on #16039
It works ! I thought I did this... Thanks

[2022-04-04 07:43] #16039 closed, assigned to nobody

[2022-04-04 07:48] uslss commented on #15616
Did you try to disable Automatic updates check in preferences?
![image](https://user-images.githubusercontent.com/31996417/161497919-8ae097ac-4a70-4ff1-a04d-8171054dd723.png)

[2022-04-04 07:49] uslss commented on #15759
There has been no update for a long time. If the issue reproduces again - feel free to reopen it

[2022-04-04 07:49] #15759 closed, assigned to nobody

[2022-04-04 07:56] Marmeladenbrot commented on #1934
Thanks for implementing this.
Is there a list what counts as "whitespace"? I have this list I check for in my SQL queries:

UTF8-Code | Definition
-- | --
U+000A | line feed
U+000B | vertical tabulation
U+000C | formfeed
U+000D | carriage return
U+0009 | horizontal tabulation
U+0085 | next line
U+00A0 | no-break space
U+0020 | whitespace
U+200B | zero-width space
U+200C | zero-width non-joiner
U+2

[2022-04-04 08:09] LonwoLonwo opened #16061 "[SQLEditor] Error icons can be overlapped"
DBeaver 22.0.2

![2022-04-04 10_03_58-DBeaver Ultimate 22 0 2 - _orcl_Script-140](https://user-images.githubusercontent.com/45152336/161501084-79aa7e8e-80ed-440d-ad58-99729aa48fe4.png)

Script error icon can overlap query error icon.

Steps:

1. Execute a query with some error as a query.
2. Execute the same query as a script.

![VXAvmLBoda](https://user-images.githubusercontent.com/45152336/16150

[2022-04-04 08:31] uslss commented on #15853
@Jaiswalakshat20, unfortunately, the picture isn't available. Could you provide more info? E.g,. logs, video with the issue

[2022-04-04 08:32] ShadelessFox commented on #1934
We display only line feeds, carriage returns, spaces, ideographic spaces, zero-width spaces, and tabulations. This is the same set of characters supported for displaying by Eclipse in its text editors.

[2022-04-04 08:34] #15824 closed, assigned to nobody

[2022-04-04 08:38] uslss commented on #15700
Databricks driver is already included in Driver List since 22.0.2
![image](https://user-images.githubusercontent.com/31996417/161506353-9e519fa5-8faf-4623-85f3-9546eba80f50.png)

[2022-04-04 08:38] #15700 closed, assigned to nobody

[2022-04-04 08:39] #15647 closed, assigned to nobody

[2022-04-04 08:41] CousinItt1313 commented on #15914
Hello all,

I have the similar case in my ERD export. For me it seems that yED has problems when there are identical IDs - which should not happen in my case. :)
BR
ROMAN
![image](https://user-images.githubusercontent.com/102952668/161506828-fa006b5d-d189-4154-9ee8-a57b8d9da87f.png)

[2022-04-04 08:47] LonwoLonwo commented on #16057
Thanks for the bug report @kai-morich

[2022-04-04 08:49] uslss commented on #15398
and what database do you use?

[2022-04-04 08:52] #15458 closed, assigned to nobody

[2022-04-04 08:54] uslss commented on #15904
Since 22.0.2 this feature could be disabled in preferences (#15961)
![image](https://user-images.githubusercontent.com/31996417/161509328-15fd6205-faff-4113-a480-1d9a8fc505c9.png)

[2022-04-04 08:54] #15904 closed, assigned to nobody

[2022-04-04 09:18] Matvey16 commented on #16054
Now it just deletes the script from the task if you don't go to the second step before saving.

[2022-04-04 09:27] Matvey16 commented on #16042
Verified

[2022-04-04 09:27] #16042 closed, assigned to Destrolaric, Matvey16

[2022-04-04 10:03] johamm opened #16064 "Escape apostrophe / single quote with backslash no longer works"
I updated to the latest version of DBeaver this morning (Version 22.0.2.202204021640) and since anything that I'm attempting to select from a database with an apostrophe is no longer working when I escape with a backslash.

For example:

`select * from table1 where field1 = 'Jo\'s escaped string';`

I know I can just change my enclosures to be double quotes and remove the backslash or even use two

[2022-04-04 11:24] dbeaver-pm commented on #10047
Must be resolved in individual tickets about data type mappings in particular databases

[2022-04-04 11:24] #10047 closed

[2022-04-04 11:27] sandofvega opened #16065 "The release date is showing ahead of one month."
#### System information:
- Operating system: Ubuntu 20.04
- DBeaver version: 22.0.2.202204021640

#### Describe the problem you're observing:
Today is April 4, 2022. The release date is showing ahead of one month.

#### Steps to reproduce, if exist:
Help -> About

![screenshot-nimbusweb me-2022 04 04-17_23_40](https://user-images.githubusercontent.com/34006175/161534040-283b96f6-c5a1-4f04-a1ba-d47

[2022-04-04 13:00] Matvey16 commented on #8979
@shkpendy Hello. Is that still reproducible for you. I was not able to reproduce this behavior

[2022-04-04 13:10] gvaleika opened #16066 "Connection with SSH"
#### System information:
- Archlinux
- DBeaver version 22.0.1

#### Connection specification:
- Postgresql, MySQL
- SSH tunel

#### Describe the problem you're observing:
While conncting to connection with configured ssh tunel I get error.

![image](https://user-images.githubusercontent.com/23062169/161549761-1087936f-5c22-4e7e-a8f8-c56e00917ad8.png)

#### Steps to reproduce, if exist:

connect to

[2022-04-04 13:25] reinaldofox opened #16068 "Dropdown menu just flashes and doesn't let you choose"
In the column tab in table properties screen,  when trying to select the data type by clicking the down arrow on the dropdown menu, the list of options just blinks and disappears, making selection impossible.

--------------------------------------------------------------
  OS: Pop!_OS 21.10 x86_64
Host: K43E 1.0
Kernel: 5.16.15-76051615-generic
Uptime: 45 mins
Packages: 2122 (dpkg), 22 (flatpak),

[2022-04-04 13:34] LonwoLonwo commented on #16068
Hello @reinaldofox

What database do you use?

[2022-04-04 13:35] LonwoLonwo commented on #16068
And what DBeaver version do you use?

[2022-04-04 13:37] reinaldofox opened #16069 "Embedded SQL editors do not show errors"
SQL Editor does not mark lines with errors and does not point out what the error is when typing or editing code.
This drives me crazy, because when I try to code a procedure, for example, the program just stops saving it and just says that there are errors.
In MySQL Workbench it marks the line with error and displays a red dot which when clicked shows the error description.
What if this also happe

[2022-04-04 13:43] LonwoLonwo commented on #16069
Hello @reinaldofox

What DBeaver version do you use?
What database and driver do you use?

[2022-04-04 13:53] reinaldofox commented on #16068
Database MySQL 8.0.28-0ubuntu0.21.10.3
DBeaver Version 22.0.1.202203181646

[2022-04-04 14:16] Enphynity opened #16070 "How do I turn off the red squiggly lines when error is encountered?"
How can I turn off the red squiggly lines that show up when an error is encountered?  Sometimes they don't go away when the query executes successfully and can be quite annoying to look at.

![image](https://user-images.githubusercontent.com/102975271/161563309-d92f127a-1d74-4032-a62e-2a09f1485b21.png)

Thank you

[2022-04-04 14:17] artukn opened #16071 "Broken selection in SQL Editor"
Reopening closed issue [#11205](https://github.com/dbeaver/dbeaver/issues/11205) as it is not fixed till this day.

#### System information:
- Ubuntu 16.04 LTS
- DBeaver version 7.3.1-22.0.2.202204021640
- No additional extensions

#### Connection specification:
- Not relevant

#### Describe the problem you're observing:
In SQL editor (or any text file really) trying to select some text with your

[2022-04-04 14:29] rjake opened #16073 "More definition for text boxes in dark theme"
**Is your feature request related to a problem? Please describe.**
When I use the dark theme, I find it hard to see where there is text I can edit or fields that need to be filled in. It's easy to miss a field.

In this example, I find it difficult to see how to change the name of the file or the timestamp format.

In this one, it's easy to miss the port

I didn't see anything about this when sear

[2022-04-04 14:48] LonwoLonwo commented on #16070
Hello @Enphynity

Starts DBeaver 22.0.2 version you can disable this behavior in Preferences -> Editors -> SQL Editor -> Code Editor ("Show problem markers").

![image](https://user-images.githubusercontent.com/35821147/159919687-8df7d259-dc9a-4f04-9b42-8f0874b94b1e.png)

[2022-04-04 14:56] Enphynity commented on #16070
Thanks so much!

[2022-04-04 14:56] #16070 closed, assigned to nobody

[2022-04-04 15:16] artukn commented on #16071
I've checked old DBeaver versions on a clean Ubuntu 16.04 install and found that version 7.3.0 works correctly, while 7.3.1 no longer does.

[2022-04-04 15:24] Matvey16 commented on #14953
We need to fix it without disabling autocomplete

[2022-04-04 15:37] reinaldofox commented on #16069
Database MySQL 8.0.28-0ubuntu0.21.10.3
DBeaver Version 22.0.1.202203181646

[2022-04-04 15:55] paid-geek commented on #15780
Sorry for the long delay, installing the extension fits the bill. I agree that this issue can be closed.

[2022-04-04 17:17] xantari commented on #13335
Hi,

Let me give you example.

1. Create the following source file on your system. [VUECANDIDATEDEMOGRAPHICSHISTORY.txt](https://github.com/dbeaver/dbeaver/files/8411747/VUECANDIDATEDEMOGRAPHICSHISTORY.txt)
2. Set the driver properties as follows:
metadata source: 1
translate binary: true
extended metadata: true
remarks: system
3. Set DBeaver to show column comments:
![image](https://user-images.g

[2022-04-04 17:32] match-gabeflores opened #16074 "Query Shortcuts - Ability to select top 100 from a selected table in SQL Editor (custom command)"
**Is your feature request related to a problem? Please describe.**
Say I have a query like below:
![image](https://user-images.githubusercontent.com/286903/161597229-6e713e2d-f543-44e9-a0ec-59e1b6c82cb7.png)

I want to be able to select a table (`store.subscription_event_types` in the example) and right-click on it (or use some keyword) and have it execute a `SELECT TOP 100 * FROM store.subscripti

[2022-04-04 17:45] globomike commented on #15978
Thanks @Matvey16 - really appreciated :-)

[2022-04-04 18:06] Leopold702 commented on #15178
This did the trick. Thank you very much!

[2022-04-04 18:06] #15178 closed, assigned to nobody

[2022-04-04 19:34] bagabool opened #16076 "GIS visualization crashes on snap store CE version 22.0.2"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04
- DBeaver version: 22.0.2, CE, snap-store
- Additional extensions: I'm on emacs and EXWM

#### Connection specification:
- Driver name: Postgresql + PostGIS
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
The app instantly crashes when clicking on a geo value in a

[2022-04-04 19:44] rjake opened #16077 "Ctrl + Enter not running code"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise
- DBeaver version: 22.0.2
- Additional extensions: none

#### Connection specification:
- Database name and version: Netezza 7.2.0.6
- Driver name: JDBC
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When I run ctrl + enter on a script with multiple stat

[2022-04-04 22:05] ShadelessFox commented on #16077
Hello @rjake,

Thanks for the bug report.

[2022-04-04 22:14] marktsug commented on #16077
I'm experiencing a similar issue running Version 22.0.2.202204021640 on Cloudera Impala.  I can't run multi-line SQL commands in the SQL Editor.  If I put all the commands on a single line, it runs fine, but if there are multiple lines, the SQL command does not run and I get the same response that @rjake described above.  Help!

[2022-04-05 06:10] serge-rider commented on #16077
It happens when you have a semicolon on a separate line after a query. E.g.
[code]
Workaround is to put semicolon in the end of query.

This bug was already fixed. Hotfix patch was applied to version 22.0.2, you can re-download it from dbeaver.io website or from GitHub.

[2022-04-05 06:10] LonwoLonwo commented on #15178
Thanks for the answer @Leopold702

[2022-04-05 06:13] serge-rider commented on #16076
Thanks you for the bug report.

It is a known issue with embedded browsers in snap packages.

[2022-04-05 06:14] LonwoLonwo commented on #15941
Hello!

Can you please test the latest version of DBeaver? https://dbeaver.io/download/

[2022-04-05 06:15] serge-rider commented on #16066
Probably something is wrong with known_hosts file in your home directory.

Try to enable option "Bypass host verification" in advanced SSH settings.

[2022-04-05 06:17] serge-rider commented on #16065
Thanks you for the bug report.
It is a bug in release description. We will fix it in the next version.

[2022-04-05 06:37] LBeaulaton commented on #15941
Hi,
fix the problem for me.

[2022-04-05 06:37] #15941 closed, assigned to nobody

[2022-04-05 06:49] LonwoLonwo commented on #15941
Thanks for the answer and for the investigation @LBeaulaton

[2022-04-05 07:42] 3rdey3 commented on #15941
The plugin is working for me on windows 11.

[2022-04-05 07:42] LonwoLonwo commented on #13335
Ok, I see that you are using labels for your columns.

As some workaround, for now, I suggest you use COMMENTS for columns, not just labels.

![2022-04-05 10_01_03-DBeaver Ultimate 22 0 2 - _PUB400 COM 1_Script-145](https://user-images.githubusercontent.com/45152336/161703367-32665a2e-f222-475d-bf2e-61d70027e20d.png)

Also, please, can you tell me - how do you use DBeaver with "metadata source: 0"

[2022-04-05 07:43] LonwoLonwo commented on #15941
Thanks @3rdey3

[2022-04-05 08:01] #16065 closed, assigned to serge-rider, uslss

[2022-04-05 08:17] elring opened #16078 "Timestamp values are automatically modified in data editor"
#### System information:
- Linux Mint 20.3
- DBeaver 22.0.2

#### Connection specification:
- Postgresql 12.9-0ubuntu0.20.04.1
- PostgreSQL JDBC Driver 42.2.16
- SSH tunnel

#### Describe the problem you're observing:
In data editor when only "browsing" with cursor over timestamp values some values are automatically marked as modified - background color changes and when I close the table I got the

[2022-04-05 08:27] E1izabeth commented on #16064
Hi, @johamm! Thank you for bug report. Unfortunately, I can't reproduce it for now. Was the connection established when it happened?

[2022-04-05 08:31] johamm commented on #16064
The connection was established as I could run other queries fine.  However. this is very odd... I've tried it again today (after the program was closed and my machine has since restarted) and it seems to work now!!!

[2022-04-05 08:35] uslss commented on #16060
verified

[2022-04-05 08:35] #16060 closed, assigned to uslss, LonwoLonwo

[2022-04-05 08:38] E1izabeth commented on #16064
Thank you for the reply. I'll close this issue. Please, feel free to reopen it if this happens again.

[2022-04-05 08:38] #16064 closed, assigned to nobody

[2022-04-05 08:49] uslss commented on #16077
verified

[2022-04-05 08:54] mandreato opened #16079 "Mapping "VARCHAR" during export from MySQL to Oracle"
Oracle VARCHAR datatype is a synonym to VARCHAR2 but should not be used --> [https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/Data-Types.html#GUID-DF7E10FC-A461-4325-A295-3FD4D150809E](url)

So during export/import from MySQL to Oracle, VARCHAR columns should be mapped to VARCHAR2.

[2022-04-05 09:05] krzysztofjeziorny opened #16080 "Brew SHA256 mismatch for version 22.0.2"
I've tried to create an [issue](https://github.com/Homebrew/homebrew-cask/issues/121558) at Homebrew for that, but I'm apparently too dumb to do that properly.

#### System information:
- Operating system (distribution) and version: MacOS 11.6.5
- DBeaver version: 22.0.1

#### Describe the problem you're observing:

Updating `dbeaver-community` with `brew` to 22.0.2 creates an error:

[code]

[2022-04-05 09:21] gvaleika commented on #16066
ssh and dbeaver 21 with current known_hosts file works. dbeaver 22 - fails.

[2022-04-05 09:36] gvaleika commented on #16066
Actually turning off "Bypass host verification" workaround works. Meanwhile dbeaver 21 works as is.

It is not clear 22 fails while verifying host configured for that connection or fails on random known host. Because same failure happens on different connections(mysql and pg) using different ssh hosts.

[2022-04-05 09:43] E1izabeth commented on #16066
Host verification was implemented in dbeaver 21.3.5. known_hosts file was not used earlier

[2022-04-05 09:43] Matvey16 commented on #16024
Verified

[2022-04-05 09:43] #16024 closed, assigned to serge-rider, Matvey16

[2022-04-05 10:02] uslss commented on #16079
thanks for the suggestion

[2022-04-05 10:40] hegyre commented on #9834
Hello @HopDevvil814 , how did you managed to fix that please ?
We are having the same issue (Community Edition)

[2022-04-05 11:04] uslss commented on #632
cannot reproduce against 22.0.2

[2022-04-05 11:04] #632 closed

[2022-04-05 11:07] uslss commented on #926
seems feature request is outdated for now

[2022-04-05 11:07] #926 closed

[2022-04-05 11:18] Matvey16 commented on #15643
You don't need to it will terminate itself in a few seconds

[2022-04-05 11:30] uslss commented on #1999
The schema compare feature is already available in EE

[2022-04-05 11:30] #1999 closed

[2022-04-05 11:33] LonwoLonwo commented on #16054
Fixed

[2022-04-05 11:37] LonwoLonwo commented on #13627
Fixed.

![2022-04-05 12_19_30-DBeaver Ultimate 22 0 2 - TEST_SCRIPT](https://user-images.githubusercontent.com/45152336/161726074-9fae4ff3-af21-44ec-8484-5e88305f9169.png)

Now you can change the view definition with comments correctly.

[2022-04-05 12:01] #3106 closed

[2022-04-05 12:12] #3710 closed

[2022-04-05 12:24] xantari commented on #1999
@uslss does schema compare only do table schemas or does it also do data in the table and synchronize the data rows?

[2022-04-05 12:29] xantari commented on #13335
Yes metadata source: 0 works for me, but is missing a few features such as showing identity column details.

[2022-04-05 12:35] gvaleika commented on #16066
Can confirm that my known_hosts file had 1 corrupted record. After I corrected this record 22 version works.

May be this can be feature request - check known_hosts line by line and ignore(log with info) corrupted lines instead of failing to connect using any ssh tunel.

[2022-04-05 12:38] E1izabeth commented on #16066
Thank you for investigation! We will think about how to improve this behavior.

[2022-04-05 13:11] garetjax76 opened #16084 "DB2/400 semicolumn terminator in last line"
- Operating system: Win10 Pro
- DBeaver version: 22.0.2.202204041542
- Database name and version: DB2/400
- Driver name: DB2 iSeries/AS 400

I usually write my queries like this:

(with the single semicolumn as the last line), and executing the query with CTRL+Enter on any line always worked.
Starting with 22.0.2 this throws an error:

This happens no matter the cursor position.

If I move the sem

[2022-04-05 13:15] E1izabeth commented on #16084
Thank you for bug report. This bug was already fixed https://github.com/dbeaver/dbeaver/issues/16077. Hotfix patch was applied to version 22.0.2, you can re-download it from [dbeaver.io](http://dbeaver.io/) website or from GitHub.

[2022-04-05 13:15] #16084 closed, assigned to nobody

[2022-04-05 13:43] milkeasd opened #16085 "Is create mysql table by sql support in DBeaver ?"
Is create mysql table by sql support in DBeaver ?

[2022-04-05 14:08] E1izabeth commented on #16085
HI, @milkeasd! You can write sql queries in SQL Editor https://dbeaver.com/docs/wiki/SQL-Editor/ , including "create table", "insert into" queries. Is that what you mean?

[2022-04-05 14:15] Ellebjerg opened #16086 "com.sun.jna.LastErrorException when connecting to Postgres"
When I try to connect to Postgres from DBeaver 22.0.2, I get the error message in the attached screenshot.

Best regards,

Lars Ellebjerg

[2022-04-05 14:16] vladimarius commented on #1033
This error is present in version 22.0.2.202204021640

[2022-04-05 14:18] brunoalreis opened #16087 "Postgres database not visible"
#### System information:
- Windows 11
- DBeaver version 22.0.2.202204021640

#### Connection specification:
- Postgresql 14
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

Not possible to see the following database: Test.Api.Local
When I create a new database with this name, it is visible. If I Refresh databases, it disappears.

#### Steps to rep

[2022-04-05 14:19] E1izabeth commented on #16086
Hi, @Ellebjerg! Unfortunately, your screenshot seems to have failed to load. Please, reattach it.

[2022-04-05 14:23] LonwoLonwo commented on #16087
Hello @brunoalreis

By default, DBeaver shows only one database.

So maybe enabling the "Show all databases" in Connection Settings can help you?

![2022-04-05 17_21_08-Window](https://user-images.githubusercontent.com/45152336/161775950-c9e5a186-91a8-47bb-8864-7a32208f5939.png)

[2022-04-05 14:25] Ellebjerg commented on #16086
![Screenshot 2022-04-05 161112](https://user-images.githubusercontent.com/10741426/161776225-9d60957c-deee-49f8-be6c-f37fb07e4bad.png)

[2022-04-05 14:25] Matvey16 commented on #14843
Fixed in the latest eclipse version

[2022-04-05 14:25] #14843 closed, assigned to LonwoLonwo, Matvey16

[2022-04-05 14:28] E1izabeth commented on #16086
Could you, please, also specify your Postgres version?
Has the connection been established or it was failed with this error?

[2022-04-05 14:29] Ellebjerg commented on #16086
It is a PG11 with postgis-extention

[2022-04-05 14:30] Ellebjerg commented on #16086
DBeaver 22.0.2.202204041542.
There is no connection

[2022-04-05 15:04] Betree opened #16088 "Touching a date timestamptz edits it"
#### System information:
- Operating system (distribution) and version: Fedora release 35, using Xorg
- DBeaver version: 22.0.2, but I was already affected with 22.0.1
- Additional extensions: none

#### Connection specification:
- Database name and version: PostgreSQL 13.6 (Ubuntu 13.6-1.pgdg20.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0, 64-bit
- Driver nam

[2022-04-05 16:51] serge-rider opened #16091 "Snoflake: add LIMIT transformer for SQL queries"
Complex queries work too slowly without LIMIT clause. We need to add it with standard LIMIT transformer

[2022-04-05 22:04] alanneese opened #16092 "Receiving 'Datasource was invalidated' notification"
### Discussed in https://github.com/dbeaver/dbeaver/discussions/15936

<div type='discussions-op-text'>

<sup>Originally posted by **alanneese** March  1, 2022</sup>

#### System information:
- Windows 10
- DBeaver 21.3.5.202202200327

#### Connection specification:
- Database name : jhj7bqbh_menudb
- Driver name : MySQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the pr

[2022-04-06 04:35] waldyd commented on #14585
Any workaround so far?
Reproduced in Version 22.0.2.202204041542.

[2022-04-06 05:35] flykarry commented on #15981
Sorry, this doesn't work.

[2022-04-06 06:41] Lewonna opened #16093 "alt + lbm for vertical selection"
**Is your feature request related to a problem? Please describe.**
Is there a vertical selection option like MS SQL?
![image](https://user-images.githubusercontent.com/43236226/161911393-6dbae62a-9e12-4e79-89e2-d7ebff0ac530.png)

If there is such a possibility, please tell me how to do it.

[2022-04-06 07:00] uslss commented on #16092
@alanneese could you provide a video with the issue? is it reproducible against 22.0.2?

[2022-04-06 07:02] ThadeusAnand commented on #15895
Postgresql 14 on CentOS 7

[2022-04-06 07:20] Matvey16 commented on #16054
Verified

[2022-04-06 07:20] #16054 closed, assigned to LonwoLonwo, Matvey16

[2022-04-06 07:30] uslss commented on #16093
@Lewonna , if I understand you correctly, it could be done using Alt+Shift+A. Does it resolve your issue?
![image](https://user-images.githubusercontent.com/31996417/161919812-8f8a3a1d-0770-4761-bd8a-5e4368c53436.png)

[2022-04-06 07:33] uslss commented on #16088
thanks for the report.

closed as a duplicate of #16078

[2022-04-06 07:33] #16088 closed, assigned to nobody

[2022-04-06 07:46] Lewonna commented on #16093
that's what I need, thank you :)

[2022-04-06 07:52] Matvey16 commented on #13491
Verified

[2022-04-06 07:52] #13491 closed, assigned to E1izabeth, Matvey16

[2022-04-06 07:53] #16093 closed, assigned to nobody

[2022-04-06 08:35] uslss commented on #13627
verified

[2022-04-06 08:35] #13627 closed, assigned to uslss, LonwoLonwo

[2022-04-06 08:38] Matvey16 commented on #15981
@flykarry Thank you, it looks like influx returns timestamps in a way that we can't transform them with current methods, we will look at this some more.

[2022-04-06 09:06] mikkk3l commented on #15742
I have updated to 22.0.2 and it works again.

This is the config:
![image](https://user-images.githubusercontent.com/15341836/161938989-c9c1e0dd-25b2-4fe1-b982-db4fbfe4ad50.png)

Thank you.

[2022-04-06 09:20] uslss commented on #4091
Link to the target table is available at the Synonym tab
![image](https://user-images.githubusercontent.com/31996417/161942062-4536a462-4027-46e0-a733-40b5f97c8126.png)

[2022-04-06 09:20] #4091 closed

[2022-04-06 09:23] uslss commented on #4259
Already implemented
![image](https://user-images.githubusercontent.com/31996417/161942814-1b83fb34-1aed-4b34-b1ca-62d7682df114.png)

[2022-04-06 09:23] #4259 closed

[2022-04-06 09:31] y-okamoto-1113 commented on #16080
@krzysztofjeziorny
i met the same bug yesterday.
but today, i could install:+1:

[2022-04-06 09:34] Matvey16 commented on #16091
Verified

[2022-04-06 09:34] #16091 closed, assigned to serge-rider, Matvey16

[2022-04-06 09:35] krzysztofjeziorny commented on #16080
@y-okamoto-1113 Seems to be corrected in https://github.com/Homebrew/homebrew-cask/pull/121545

[2022-04-06 09:35] #16080 closed, assigned to nobody

[2022-04-06 09:39] zhaozhilong999 opened #16096 "Please add the line number when the SQL returns the error information, and the error prompt is detailed to each line"
When executing SQL, if there is an error message, please print and mark the wrong line number. If there is no line number, it is very troublesome to find the problem.

[2022-04-06 09:42] uslss commented on #8696
closed as a duplicate of #4628

[2022-04-06 09:42] #8696 closed

[2022-04-06 10:35] LonwoLonwo commented on #16096
Hello @zhaozhilong999

What DBeaver version do you use?
And what database do you use?

[2022-04-06 10:48] LonwoLonwo commented on #15742
Thanks for the answer and for the investigation @mikkk3l

[2022-04-06 10:48] #15742 closed, assigned to LonwoLonwo

[2022-04-06 10:51] LonwoLonwo commented on #16086
Hello @Ellebjerg

Can you please attach the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

Also, what Operating system do you use? And what driver version do you use? And how did you install DBeaver (installer, Eclipse etc.)?

[2022-04-06 11:16] Ellebjerg commented on #16086
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/8426303/dbeaver-debug.log)
[log.log](https://github.com/dbeaver/dbeaver/files/8426310/log.log) - renamed hidden file

I use Windows 10 and installed DBeaver using the installer from https://dbeaver.io/download/.

Which driver do you ask for the version of?

[2022-04-06 11:20] Matvey16 commented on #16001
@kyimpact Do you get any warnings or errors in error log?

[2022-04-06 11:28] Matvey16 commented on #16023
@omlnaut Thank you for the report

[2022-04-06 11:36] kyimpact commented on #16001
No warning no error logs, Even I dowloaded the trial enterprise edition also but that is also giving the same issue.

[2022-04-06 11:42] Matvey16 commented on #16043
@Nik-dot Thank you for the report

[2022-04-06 12:15] LonwoLonwo commented on #16086
You can send this picture with drivers versions from the PG connection settings page

![2022-04-06 15_14_23-Window](https://user-images.githubusercontent.com/45152336/161972339-e5aeae69-dad1-47d1-9123-5aaedd78bed0.png)

[2022-04-06 12:18] LonwoLonwo commented on #16086
Also, I see many wornings in your logs like

If this important? Error from this issue is associated with PGPASS authentication?

[2022-04-06 12:39] reinaldocoelho commented on #8219
Vrapper works like a charm, but when update dbeaver version I always lost the plugin and need to install again.

Does someone having this too?

[2022-04-06 12:39] Ellebjerg commented on #16086
Don't bother with the PGPASS part of the log. We don't use it. I just tried to see what would happen with that setting on.

![pg_driver_settings](https://user-images.githubusercontent.com/10741426/161976206-6b2639b3-ae55-4ba6-baa6-7192f66c7756.png)

[2022-04-06 12:50] maxtheking opened #16098 "Does the springshell 0day impact DBeaver?"
As the title states, does the Springshell 0day exploit impact DBeaver?
I know the vulnerability applies to JDK 9.0 or later, and DBeaver comes with OpenJDK 11.
Any news on this?

Thanks in advance.

[2022-04-06 12:53] Hippo0o commented on #8129
copying from firefox
[code]
does not work for me in version 22

[2022-04-06 12:56] Hippo0o commented on #8129
copy/paste from firefox
[code]
or from my clipboard manager copyq
[code]

do not work for me in version 22

[2022-04-06 13:14] LonwoLonwo commented on #16068
Can you provide the video of the error please?

[2022-04-06 13:30] flambchap commented on #16098
Hi. None of the DBeaver versions use Spring Framework. Therefore they are not impacted.

[2022-04-06 13:30] #16098 closed, assigned to nobody

[2022-04-06 13:39] flambchap opened #16100 "The ''Normal' execution method locks tables for MySQL dumps"
#### System information:
- Operating system (distribution) and version RHEL 8.5
- DBeaver version 22.0.0 UE
- Additional extensions

#### Connection specification:
- Database name and version MariaDB 10.3.23
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Steps to reproduce, if exist:
1. Create a dump task
2. Choose the 'Normal (no locks)' Execution Method
3. Execute the

[2022-04-06 13:44] ceinmart commented on #8219
Hi, Yes!
And I also open a issue , then was found it duplicated... this issue is already  planned .
 https://github.com/dbeaver/dbeaver/issues/5317

[2022-04-06 13:45] LonwoLonwo commented on #15297
Thanks for the report. We will look into it.

[2022-04-06 13:45] ShadelessFox commented on #16069
Hello @reinaldofox,

Are you talking about the SQL editor or the DDL viewer of a procedure?

Can you please record a video showing the issue?

[2022-04-06 13:45] ShadelessFox commented on #16050
Hello @yexinfo,

Thanks for the feature request.

[2022-04-06 13:46] LonwoLonwo commented on #15971
Thank you for the idea @IdrissaD

[2022-04-06 13:46] ShadelessFox commented on #16029
Hello @mdahlman,

Thanks for noting!

[2022-04-06 13:48] LonwoLonwo commented on #15954
Thank you for the idea @SherlockSoftware

[2022-04-06 13:59] reinaldocoelho commented on #8219
Great!! Thanks! :-)

[2022-04-06 14:11] Starcomfr opened #16102 "Possibility to see DB2 IBM short columns & table names on tables properties view"
Hi,

I don't know for other DB system because I work essentially on DB2 IBM so, for DB2 system users, it would be usefull to be able to see system names for tables and columns on DB2 IBM.

Sytem table names can be knownusing request like:
SELECT SYS_TNAME FROM qsys2.systables WHERE TABLE_SCHEMA = 'My_schema' AND TABLE_NAME = 'My_table_name';

System column names can be knownusing request like:
SEL

[2022-04-06 14:36] brunoalreis commented on #16087
Yes, it worked.

Thanks.

[2022-04-06 14:37] LonwoLonwo commented on #16087
Thanks for the answer @brunoalreis

[2022-04-06 14:37] #16087 closed, assigned to nobody

[2022-04-06 14:48] reinaldofox commented on #16068
https://user-images.githubusercontent.com/1627337/162002615-2299b3c8-7d5f-4856-845f-1078f98fb8a5.mp4

[2022-04-06 15:07] reinaldofox commented on #16069
https://user-images.githubusercontent.com/1627337/162006858-28661194-c592-4c29-9d7f-6b6c5b484412.mp4

[2022-04-06 15:14] ShadelessFox commented on #16069
I see, thanks.

Error highlighting is not supported in embedded SQL editors.

[2022-04-06 15:31] ShadelessFox commented on #14835
Feature was implemented in Enterprise, Ultimate, and Lite editions:

![java_VrMCv1inSy](https://user-images.githubusercontent.com/35821147/161794896-95a94f51-8b65-4c54-ab37-6e26d7cc2fb8.png)

[2022-04-06 17:06] ghost opened #16105 "Can not create a new SQL Script"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise Version 21H2 OS Build 19044.1586
- DBeaver version: Version 22.0.2.202204041542
- Java version: 8 update 321 (build 1.8.0_321-b07)
- Additional extensions: DBeaver Office integration

#### Connection specification:
- Database name and version: ALL
- Driver name: ALL
- Do you use tunnels or proxies (SSH, S

[2022-04-06 17:18] ShadelessFox commented on #16105
Hello @Adamkrein,

Could you please send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

[2022-04-06 17:50] ghost commented on #16105
You can close the ticket. After a reboot of my system it started to work.

[2022-04-06 18:29] mgabeler-lee-6rs opened #16107 "PostgreSQL: Show all / non-default databases not obeyed nor overridable from command line"
#### System information:
- Operating system: Debian Bullseye
- DBeaver: 22.0.2
- Additional extensions: None

#### Connection specification:
- Database name and version: PostgreSQL 9.6
- Driver name: Default built into DBeaver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

When opening a connection from the command line, it does not obey the "Sh

[2022-04-06 19:40] flambchap commented on #16100
Fixed.

[2022-04-06 20:10] LonwoLonwo commented on #16105
Thanks for the answer @Adamkrein

[2022-04-06 20:10] #16105 closed, assigned to nobody

[2022-04-07 06:39] uslss commented on #5489
is it still actual against 22.0,2?

[2022-04-07 07:19] acrey1 opened #16109 "Error in Update with h2.jar"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version:   22.0.2.202203311140
- Additional extensions: statET

#### Connection specification:
- Database name and version: NA
- Driver name: NA
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NA

#### Describe the problem you're observing:
I am getting an error every time I do a DBeaver update.

You wi

[2022-04-07 07:27] uslss commented on #5786
duplicates #3328

[2022-04-07 07:27] #5786 closed

[2022-04-07 07:36] uslss commented on #6047
It could be disabled in Preferences
![image](https://user-images.githubusercontent.com/31996417/162145480-6455ac99-3b20-4732-ba8c-8a61519096d5.png)

[2022-04-07 07:36] #6047 closed

[2022-04-07 07:42] uslss commented on #6324
Target DDL could be already copied in Data Transfer Wizard
![image](https://user-images.githubusercontent.com/31996417/162146400-3fe6366a-759e-4cdf-ba5d-6ce6e3b1d366.png)

[2022-04-07 07:42] #6324 closed

[2022-04-07 07:52] Bouncer77 opened #16111 "ER Diagramm NPE"
After exporting the diagram and then opening it. On version Версия 22.0.0.202203060510 DBeaver Community - taked error.
I can nor fix this problem. Please, help me.

eclipse.buildId=unknown
java.version=11.0.12
java.vendor=Eclipse Foundation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=ru
Command-line arguments:  -os win32 -ws win32 -arch x86_64

org.jkiss.dbeaver.model
Ошибка
Thu Apr

[2022-04-07 07:59] uslss commented on #16111
@Bouncer77 , unfortunately, cannot reproduce it. Could you provide a video with the issue and more clear steps to reproduce it?

[2022-04-07 08:02] LonwoLonwo commented on #16111
Connected to https://github.com/dbeaver/dbeaver/issues/15766

[2022-04-07 08:05] uslss commented on #6712
Probably, [Rows coloring](https://github.com/dbeaver/dbeaver/wiki/Data-View-and-Format#rows-coloring) could be used in this case

[2022-04-07 08:05] #6712 closed

[2022-04-07 08:20] uslss commented on #6872
will be fixed in #12771

[2022-04-07 08:20] #6872 closed

[2022-04-07 09:00] #6912 closed

[2022-04-07 11:35] LonwoLonwo commented on #16068
Ok, I see. Thanks for the bug report.

[2022-04-07 11:46] ShadelessFox commented on #16007
Hello @2019-05-10,

Thanks for the bug report.

[2022-04-07 11:59] uslss commented on #16100
verified

[2022-04-07 11:59] #16100 closed, assigned to flambchap, uslss

[2022-04-07 12:04] LonwoLonwo commented on #14278
Duplicate of https://github.com/dbeaver/dbeaver/issues/14442

[2022-04-07 12:04] #14278 closed, assigned to LonwoLonwo

[2022-04-07 12:05] LonwoLonwo commented on #15243
Pg_dump/pg_restore tools updated to version 14.

[2022-04-07 12:12] longj0n opened #16114 "Different colours on different windows"
Using DBeaver 22.0.1 on Win 10, I tend to open up a few different windows with all tabs in 1 window for a specific DB connection, useful to help prevent doing stuff on the wrong DB. But what would be even more useful is a way to colour-code each window. Doesn't need to be an automatic colour-allocation based on DB connection as that would need to be per tab, but come to think of it that might be u

[2022-04-07 12:34] serge-rider commented on #12581
Google cloud support was added in LE/EE/UE products.
Initially we support only SQL databases (MySQL, PostgreSQL and SQL Server).

![image](https://user-images.githubusercontent.com/6398845/162199061-c006255b-f1b8-4ec1-b04d-b26cc3a33723.png)

![image](https://user-images.githubusercontent.com/6398845/162198928-309ca169-ed28-4cb9-854c-969b9ea3ea7e.png)
![image](https://user-images.githubusercontent.

[2022-04-07 12:40] uslss commented on #14790
verified

[2022-04-07 12:40] #14790 closed, assigned to uslss, ShadelessFox

[2022-04-07 12:43] uslss commented on #15243
CE:
![image](https://user-images.githubusercontent.com/31996417/162201334-6f0a6ea2-4794-4831-9341-f933cdb428ba.png)

[2022-04-07 13:32] LonwoLonwo commented on #16114
Hello @longj0n

Maybe ability to create custom connections type with the coloring can help you?

You find it in the Connection settings -> General -> Edit connection types.

Usually, our users use Production connection type to mark important databases.
And you can create your own connection type.

[2022-04-07 13:32] LonwoLonwo commented on #16114
![2022-04-07 16_28_07-DBeaver Enterprise 21 3 3 - Playlist](https://user-images.githubusercontent.com/45152336/162210778-ec189793-5569-4c93-a8c4-284a90a75b4c.png)

[2022-04-07 14:23] serge-rider commented on #15676
It works with predefined driver but not the latest version (latest version doesn't work in Java 11)
Try version 4.14.1-HBase-1.4 :
![image](https://user-images.githubusercontent.com/6398845/162221548-7c1e0290-1d0b-4fd9-abe3-53a6bda786fd.png)

I will set this driver version as default in the next DBeaver version

[2022-04-07 16:40] miTsirraH opened #16120 "When semicolon is on new line SQL does not execute"
With latest update behavior has changed when executing queries like below that have semicolon on a new line - they do not execute nor do they indicate any error.

e.g.
SELECT
    COUNT(1)
FROM
    URBN.DW_PRD_SKU AS SKU
;

[2022-04-07 17:30] jetzerb opened #16121 "SQL Editor Templates don't filter based on context"
#### System information:
- Windows 10
- DBeaver 22.0.2.202204041542

#### Describe the problem you're observing:
In a SQL editor, when I hit `CTRL+ALT+SPACE` to generate the list of Templates to choose from, _all_ templates are shown, rather than just templates that apply to my current connection.

#### Steps to reproduce, if exist:
1. Create two templates, each with "context" set to a specific DB

[2022-04-07 17:41] jadenguyen0128 commented on #7024
I experienced the similar issue. And it turned out that it's the user error. Specifically, I used the UNLOAD command in SQL editor page that is connected to the wrong database. For example, I need to unload the data from 1 table from Redshift cluster A to S3. But I executed the UNLOAD command in the SQL editor page that is connected to Redshift cluster B.

[2022-04-07 18:04] ci-jsmith commented on #16120
Please fix!  many scripts don't work the same any more!

[2022-04-07 18:10] E1izabeth commented on #16120
Hi, @ci-jsmith! Thank you for bug report. This bug was already fixed https://github.com/dbeaver/dbeaver/issues/16077. Hotfix patch was applied to version 22.0.2, you can re-download it from [dbeaver.io](http://dbeaver.io/) website or from GitHub.

[2022-04-07 18:10] #16120 closed, assigned to nobody

[2022-04-07 18:10] joshcsmith13 commented on #16120
I wasted too much time trying to figure out what was going on yesterday, after applying the latest update.

[2022-04-07 18:19] rjake commented on #16077
@serge-rider @ShadelessFox I am still having this issue. I tried installing from both
https://dbeaver.io/files/ea/  (Early access)
and
https://dbeaver.io/download/ (Prod)

I see version `22.0.2.2022 04 04 1542` (windows 64) and Check for Updates says there are no new versions. Is there another place I should download this from or maybe the 🐛 is still here?

[2022-04-07 21:23] ar-jan opened #16125 "GIS map viewer not displayed, prompted with a save file dialog instead"
#### System information:
- Void Linux
- 22.0.1 and 22.0.2
- Additional extensions: none

#### Connection specification:
- PostgreSQL 14.1 with PostGIS 3.1.5
- Driver: PostgreSQL JDBC Driver 42.2.5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

When selecting a geometry column (with points in my case), instead of displaying a map in the results p

[2022-04-08 03:03] joshcsmith13 commented on #16077
same here.  I'm not getting a new version and the bug still exists.

[2022-04-08 03:06] BYNepenthe opened #16126 "Export CVS is not the selected data"
#### System information:
- Operating system (distribution) and version：MacOS Catalina 10.15.7
- DBeaver version：22.0.0.202203060510

#### Connection specification:
- Database name and version：oracle

#### Describe the problem you're observing:
Select the data row, export the result set, select CVS, check "Select row, select column", the exported data is often not the selected row data

[2022-04-08 06:02] turbopixel commented on #8545
This problem still exists. I downloaded dbeaver from the website and not from the Software Center
dbeaver opens to the wrong update file. My system needs .deb and opens .rpm

My system: Linunt Mint (Cinnamon) .deb

[2022-04-08 06:36] LonwoLonwo commented on #16125
Hello @ar-jan

Can you provide table DDL and some test data for the investigation?

[2022-04-08 06:51] LonwoLonwo commented on #15738
Fixed in DBeaver 22.0.3

[2022-04-08 07:05] ShadelessFox commented on #16077
Hello @rjake @joshcsmith13,

Can you please provide a sample of a query causing the bug to appear?

Additionaly, please post a screenshot of the `About` dialog.

[2022-04-08 08:10] Matvey16 commented on #14835
Working directory property is ignored

[2022-04-08 08:33] uslss commented on #15676
verified

[2022-04-08 08:33] #15676 closed, assigned to serge-rider, uslss

[2022-04-08 08:38] uslss commented on #15738
verified

[2022-04-08 08:38] #15738 closed, assigned to uslss, LonwoLonwo

[2022-04-08 08:55] Matvey16 commented on #16055
Not reproducible on MacOS Monterey 12.3

[2022-04-08 08:55] #16055 closed, assigned to ShadelessFox, Matvey16

[2022-04-08 09:17] Matvey16 commented on #15283
Verified

[2022-04-08 09:17] #15283 closed, assigned to E1izabeth, Matvey16

[2022-04-08 09:20] LonwoLonwo commented on #14557
Rowid column is now hidden for Cockroach (as it was in table DDL and in the Data Viewer).

Also, button "Show comments" was removed for Cockroach tables/views, because table DDL readed from Cockroach already has this rows.

![2022-04-07 21_17_01-DBeaver Ultimate 22 0 2 - test_rowid_2](https://user-images.githubusercontent.com/45152336/162270128-8efd72a4-fe89-4020-a754-e1aa46ad8b5f.png)

![2022-04-

[2022-04-08 09:36] ar-jan commented on #16125
Sure, here is a simplified example:

[code]

[2022-04-08 11:46] Matvey16 commented on #14400
Verified

[2022-04-08 11:46] #14400 closed, assigned to Destrolaric, Matvey16

[2022-04-08 12:24] janpio opened #16129 "Import Connection String in "Connect to a database" screen"
I have to add databases to my DBeaver a lot, multiple times a day. I get the connection details of these databases as a connection string of the form `postgresql://user:password@hostname:port/database`. Every time I paste that into the `Host` input field, then copy the database to the `Database` field, the port to `Port` and finally `Username` and `Password` as well. Then I remove the protocol and

[2022-04-08 12:27] serge-rider commented on #15097
Fixed.
Now data export respects visual columns order.

Note: when exporting __virtual__ columns + selected columns then virtual columns must be in the end of list.
We need another ticket for virtual columns handling. In data export virtual columns are handled on a model level and do not "know" about their visual position.

[2022-04-08 12:45] geuss opened #16130 "Unable to Authenticate to Azure SQL with Active Directory MFA"
#### System information:
- Operating system (distribution) and version: Windows 10 PRO
- DBeaver version: CE 22.0.2 (EA) , but also with stable version
- Additional extensions: none

#### Connection specification:
- Database name and version: Micosoft SQL Azure
- Driver name: com.microsoft.sqlserver.jdbc.SQLServerDriver 9.2.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the

[2022-04-08 12:55] michal-bartak opened #16131 "Missing highlighting for lot of datatypes (how to add Custom Data Types)"
#### System information:
- Operating system (distribution) and version: Fedora 35
- DBeaver version: 22.0.2.202204041542
- Additional extensions: N/A

#### Connection specification:
- Database name and version: Postgres 12, Postgres 13
- Driver name: Postgres
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
A lot of data types are not highlighted.

[2022-04-08 13:13] michal-bartak opened #16132 "Words that start with underscore are treated as keywords"
#### System information:
- Operating system (distribution) and version: Fedora 35
- DBeaver version: Version 22.0.2.202204041542
- Additional extensions: N/A

#### Connection specification:
- Database name and version: Postgresql 12, 13
- Driver name: Postgres
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NO

#### Describe the problem you're observing:
Keywords, when prefixed with non-literal

[2022-04-08 13:43] uslss commented on #12892
verified

[2022-04-08 13:43] #12892 closed, assigned to E1izabeth, uslss

[2022-04-08 13:45] uslss commented on #14557
verified

[2022-04-08 13:45] #14557 closed, assigned to uslss, LonwoLonwo

[2022-04-08 13:53] techj82 commented on #16077
@ShadelessFox  I have the same issue as @rjake @joshcsmith13. Same code example as in previous posts apply. If the delimiter is on a new line it doesn't work. To be clear I get the same response as the original poster.

**This doesn't work**
[code]

**This does work**
[code]

[2022-04-08 14:18] E1izabeth commented on #16132
Thank you for bug report

[2022-04-08 14:21] flambchap commented on #16125
Hi @ar-jan. What kind of packaging do you use?

[2022-04-08 15:31] ikemefuna-turing commented on #11891
Worked for me, thanks for sharing @vongohren

[2022-04-08 15:33] joshcsmith13 commented on #16077
2 lines is all it takes to reproduce this.  the only way to get this to run is to highlight the select line, without the ";", and execute.

![image](https://user-images.githubusercontent.com/8902423/162475016-29bd1e1c-cbb6-4f89-8324-b579d66341d2.png)

I am connected to Netezza.
DBeaver Version 22.0.2.202204041542

![image](https://user-images.githubusercontent.com/8902423/162474415-3420494f-dc9c-4

[2022-04-08 15:39] joshcsmith13 commented on #16077
Is this because we're running a version from the future??  😄
![image](https://user-images.githubusercontent.com/8902423/162475642-7632b6cd-d903-4c36-a141-829b5d233ac1.png)

[2022-04-08 15:44] rjake commented on #16077
My details are the same as @joshcsmith13

[2022-04-08 18:46] ar-jan commented on #16125
It's built with `mvn package -P all-platforms`, as in [this template](https://github.com/void-linux/void-packages/blob/master/srcpkgs/dbeaver/template). The method of packaging has not changed recently though, while this issue did not occur with previous versions (I'm not certain which version last worked correctly for me).

[2022-04-08 19:55] Fydon commented on #9627
[Download](https://dev.mysql.com/downloads/mysql/) mysql.exe and mysqldump.exe for MySQL 8 and add it as another [local client](https://dbeaver.com/docs/wiki/Backup-Restore/).

[2022-04-09 09:27] ShadelessFox commented on #16129
Hello @janpio,

There is a feature you might like:

![image](https://user-images.githubusercontent.com/35821147/162565420-ffab284b-4fcd-4ff7-9b04-43dd1ff4b2ec.png)

Although it doesn't handle the credentials part, it recognizes most other fields according to the URL template of the driver.

Please let me know if it solves your issue.

[2022-04-09 09:54] mradeschnig opened #16135 "SAP HANA semicolon at the end of line (Updated Rows -1)"
#### System information:
- Operating system (distribution) and version  Windows 10
- DBeaver version   dbeaver 22.0.2
- Additional extensions all dbeaver extensions installed

#### Connection specification:
- Database name and version  SAP HANA 2.0 SP3
- Driver name                            2.12.7
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:

[2022-04-09 10:04] E1izabeth commented on #16135
Thank you for bug report. Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/16077

[2022-04-09 10:04] #16135 closed, assigned to nobody

[2022-04-09 14:30] deepaksenthilkumar opened #16136 "Redshift-Role privileges"
Hi Team,

Redshift added a new feature

https://aws.amazon.com/blogs/big-data/simplify-management-of-database-privileges-in-amazon-redshift-using-role-based-access-control/

The role privileges have to be handled in the DDL Permissions area.

Thanks,
Deepak

[2022-04-10 07:18] LMM11231 commented on #8895
Although I tried to reset the driver, the download progress bar also appeared, but the download failed again after a while, why is this?
![批注 2022-04-10 151313](https://user-images.githubusercontent.com/86695044/162607087-71015469-5a60-4787-a93e-882b782f5849.png)

[2022-04-10 14:55] ar-jan commented on #16125
I tried several earlier versions and they now all show this behavior, even though I am certain they didn't use to before. This suggests it's some other configuration that is interfering, and not the DBeaver version itself.

I couldn't find any relevant DBeaver configuration, except maybe `Use external/internal web browser`. I had this set to external (the default?) and the GIS viewer used to work

[2022-04-10 15:44] xantari commented on #1999
@uslss @serge-rider  Hi, can you please re-check this work item that was closed. You said "schema compare feature is already available in EE", but this work item is talking about data comparisons, not schema comparisons.

I think this was closed in error.

[2022-04-10 19:34] janpio commented on #16129
Wow, I always ignored that because I know nothing about JDBC.

It is indeed pretty close already: I have to type `jdbc:`, remove the credentials `user:password@` and then it indeed detects the details of my URLs correctly 🥳

Seems like this could probably be expanded into a "New Connection from database URL" - and in the window that opens the input field could for example detect JDBC URLs based on

[2022-04-10 19:38] Candy128x commented on #4882
You can also customize this feature by...
Clicking on Menu: Window -> Preference -> User Interface -> Keys -> Search: 'Duplicate Lines'
Update/Enter Your choice hot key in Binding field. -> Click on 'Apply and Close'

[2022-04-11 02:13] KipmarkMR opened #16137 "Print ER Diagram to PDF has Font Issue"
Trying to print ER Diagram.  It prints it, but the text is largely illegible when using Microsoft Print to PDF.  See attached image.

![DBBeaver Print Issue](https://user-images.githubusercontent.com/102974223/162653695-ba745ffb-9fad-4ba2-9066-f2a6e2cab6da.PNG)

[2022-04-11 05:52] Lewonna commented on #16096
Excuse me, can I join this issue please? I have the same problem.

**What DBeaver version do you use?**
Community edition, version 22.0.1.202203181646

**And what database do you use?**
PostgreSQL

[2022-04-11 08:56] michal-bartak commented on #16131
Is there a way to add data types or keywords by a user?

[2022-04-11 08:59] zhaozhilong999 commented on #16096
个 DBeaver Version   22.0.2.202204041542

DBeaver version 22.0.2.202204041542
database is Oracle

Display line number when there is an error message

[2022-04-11 08:59] #16096 closed, assigned to nobody

[2022-04-11 09:44] longj0n commented on #16114
Hi Anastasiya, thank you so much, yes this is of course exactly what I
need to prevent nasty accidents!

I should have known this was already a feature but didn't realise
where to find it.

Kind regards,

Jon

Quoting Anastasiya ***@***.***>:

[2022-04-11 09:47] LonwoLonwo commented on #16114
Thanks for the answer @longj0n

[2022-04-11 09:47] #16114 closed, assigned to nobody

[2022-04-11 10:23] LonwoLonwo commented on #13964
Implemented.

![2022-04-11 10_54_48-DBeaver Ultimate 22 0 2 - _orcl_Script-140](https://user-images.githubusercontent.com/45152336/162691491-5e440575-7754-4215-a2c6-f822a87b121d.png)

Also, "Go to Error" button added for error presentation.

[2022-04-11 11:47] uslss commented on #7393
not actual for 22.0.1

[2022-04-11 11:47] #7393 closed

[2022-04-11 11:49] uslss commented on #7503
not actual for 22.0.0

[2022-04-11 11:49] #7503 closed

[2022-04-11 12:05] uslss commented on #7696
![image](https://user-images.githubusercontent.com/31996417/162735737-5eed9a29-1464-43b3-869e-b78f78c30097.png)
already implemented in 22.0.1

[2022-04-11 12:05] #7696 closed

[2022-04-11 12:16] uslss commented on #7858
already implemented

[2022-04-11 12:16] #7858 closed

[2022-04-11 12:18] uslss commented on #7867
already fixed in 22.0.1

[2022-04-11 12:20] uslss commented on #7903
Seems to be fixed for now (22.0.1)

[2022-04-11 12:20] #7903 closed

[2022-04-11 12:21] uslss commented on #7917
will be implemented in #15760

[2022-04-11 12:21] #7917 closed

[2022-04-11 12:23] quassy opened #16143 "When closing tab with currently running, unsaved query, two modals interfere with each other"
#### System information:
- macOS Montery 12.3.1
- DBeaver 22.0.2
- Additional extensions: None

#### Connection specification:
- PostgreSQL 10
- PostgreSQL JDBC Driver
- No tunnels or proxies, just VPN

#### Describe the problem you're observing:
Modal dialogue windows overlap and have to be dealt with in non-intuitive order, making you think at first DBeaver has crashed (as the visually prominent

[2022-04-11 12:34] Joegardner11 opened #16144 "Refactor org.jkiss.dbeaver.ui package"
Hi, @serge-rider

**Issue Description**

Package **_org.jkiss.dbeaver.ui_** is a promiscuous package, and groups together miscellaneous functionalities that might be useful to different subsystems. This means the cohesion between classes in the package is low. However, since the project has grown larger, this package structure is becoming increasingly hard to navigate. We found that Class **_Actio

[2022-04-11 12:45] uslss commented on #8013
Option to show/not show database not available for the current user is available in preferences for now
![image](https://user-images.githubusercontent.com/31996417/162742009-cb2e38a3-62e3-4d3a-ace9-713337b2e495.png)

[2022-04-11 12:45] #8013 closed

[2022-04-11 12:46] uslss commented on #8014
duplicates #7994

[2022-04-11 12:46] #8014 closed

[2022-04-11 12:58] #8130 closed

[2022-04-11 13:00] Matvey16 commented on #12581
Host name template is incorrect for MySQL and PostgreSQL. SQL Server doesn't have GCP authentication method
![dbeaver_tWj03fV7g7](https://user-images.githubusercontent.com/82543000/162744388-18a0f31b-5018-44f9-a598-18c64f594b9f.png)
![dbeaver_7D38vjUjzR](https://user-images.githubusercontent.com/82543000/162744400-c926a8f5-baae-47e3-bedb-5f0b1b481614.png)
![dbeaver_PypVxYOcgX](https://user-images.

[2022-04-11 13:00] uslss commented on #8196
already implemented

[2022-04-11 13:00] #8196 closed

[2022-04-11 13:01] #16144 closed, assigned to nobody

[2022-04-11 13:10] uslss commented on #8323
cannot reproduce it in 22.0.1

[2022-04-11 14:14] sochotnicky opened #16146 "No obvious way of overriding trustStore in flatpak installation or importing a cert into jre cacerts"
#### System information:
- Operating system (distribution) and version: flatpak (Linux/Gentoo)
- DBeaver version: 22.0.2
- Additional extensions: None

#### Connection specification:
- Need to override SSL CA for trino connection using internal SSL CA

#### Describe the problem you're observing:

I am trying to connect to internal trino database which is using company internal CA. Normally I'd do

[2022-04-11 14:40] Matvey16 commented on #13964
Verified

[2022-04-11 14:40] #13964 closed, assigned to LonwoLonwo, Matvey16

[2022-04-11 14:42] DariaMarkaryan opened #16148 "Export option "Selected columns only" doesn't work"
#### System information:
- Win11
- DBeaver version CE 22.0.3

#### Describe the problem you're observing:
Export option "Selected columns only" doesn't work

#### Steps to reproduce, if exist:
1. Open table and select some rows
![image](https://user-images.githubusercontent.com/43252954/162763498-04b2f126-44dd-46ab-9e5a-008d37408398.png)
2. Right click -> Export data
3. Enable option "Selected col

[2022-04-11 14:53] Matvey16 commented on #15097
Can't copy as source code if a column is hidden.

![dbeaver_iMY74cSYjC](https://user-images.githubusercontent.com/82543000/162766579-9d59ecd6-57cf-4c7b-861e-aa9f7423ed26.gif)

[code]

[2022-04-11 14:53] george-a-g opened #16149 "Wrong value reported in selected columns under some query conditions"
#### System information:
- Operating system:  (distribution) and version:
     Edition: Windows 10 Enterprise
     Version: 21H2
     OS Build: 19044.1586
     Windows Feature Experience Pack 120.2212.4170.0
- DBeaver version:Version 22.0.2.202204041542
- Additional extensions:-

#### Connection specification:
- Database name and version:PostgreSQL 13.4 on aarch64-unknown-linux-gnu, compiled by gc

[2022-04-11 15:01] serge-rider commented on #12581
Host names and configuration save were fixed.
SQL Server auth models configuration will be added in following GCP tickets

[2022-04-11 15:02] Matvey16 commented on #9252
![dbeaver_RAIZzVMBAO](https://user-images.githubusercontent.com/82543000/162768621-1896cd61-ffd8-4a99-8ff0-ec1bb4719745.png)

|Column1|Column3|Column2|
|-------|-------|-------|
|1a|5e|4d|

[2022-04-11 15:06] Matvey16 commented on #9252
Now all of the columns are copied regardless of selection

[2022-04-11 15:18] serge-rider commented on #16148
Side effect of #15097 fix
Will be tracked in the original ticket

[2022-04-11 15:18] #16148 closed, assigned to nobody

[2022-04-11 15:48] beniwtv commented on #14703
We ran into this bug when upgrading DBeaver. Before the Postgres UI reorganization it was possible to change multiple permissions of a role when going to the role's permission view. After, the role view only shows one database, without ability to select anything else.

Edit: This change: https://github.com/dbeaver/dbeaver/issues/12071

[2022-04-11 15:53] serge-rider commented on #15097
Fixed.
Also please test 16148

[2022-04-11 16:47] BabakAmini commented on #10078
I can confirm the same things after I installed the latest version. **Show statistics info** is selected.

- Operating system: Windows 11
- DBeaver version: 22.0.0.202203131528
- Additional extensions: Nothing
- Database name and version: postgres 13.2 (local)
- Driver name: PostgreSQL 13
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

[2022-04-11 17:59] surpavan commented on #7867
@uslss - Could you please provide a screenshot where the option is provided.  I am not able to see it in new version.

[2022-04-11 19:51] joshcsmith13 commented on #16077
I see a new [duplicate] ticket attached to this one, but nothing new.
Has anybody heard anything?

I suppose it might be worth noting that this bug was not present when querying Snowflake.  (That surprised me - that it was DBMS specific.)

[2022-04-11 20:15] rjake opened #16152 "Align numeric values on decimal in grid-view"
Related to #4512, I'd like for data in the results pane to align on the decimal place rather than being right aligned.
[code]
Enabling "Use data type scale for fraction digits" seems to mostly handle this but it doesn't always work.
It seems the alignment becomes out of sync when maximum fraction digits is set > 5.

![image](https://user-images.githubusercontent.com/14003618/162823246-66efac7b-cba

[2022-04-11 21:25] LonwoLonwo commented on #15984
Hello @foxerz098

Is this issue still actual?
This error looks like a general network error (e.g. firewall timeout). Maybe you need to use different server IP address/host name.

Also, maybe this discussion can help you? https://stackoverflow.com/questions/6865538/solving-a-communications-link-failure-with-jdbc-and-mysql

[2022-04-11 21:26] LonwoLonwo commented on #15984
Or this: https://github.com/dbeaver/dbeaver/issues/12263#issuecomment-830007510

[2022-04-11 22:16] LonwoLonwo commented on #16149
Thanks for the bug report @george-a-g

[2022-04-12 03:52] gallak87 commented on #11891
Also worked for me 🙌  thanks!

[2022-04-12 04:47] Lewonna opened #16154 "sets cursor/selection on error position in the query"
**Is your feature request related to a problem? Please describe.**
Hello everyone. I use dbeaver community edition, version 22.0.2.202204041542, postgresql db.
PostgreSQL driver:
![image](https://user-images.githubusercontent.com/43236226/162882407-f8cb93c4-b6c1-4e11-b730-a8b2cbbc5fd3.png)

Initially my problem is that postgreSQL only shows me the position of error, not a line. And dont sets curso

[2022-04-12 06:37] mradeschnig commented on #16077
Exactly. On mysql and postgresql I have no problems. On SAP HANA I have the problems (https://github.com/dbeaver/dbeaver/issues/16135). I use the latest version 22.0.2.

[2022-04-12 06:42] LonwoLonwo commented on #16154
Hello @Lewonna

This feature request will be available in the next DBeaver release 22.0.3, 18-04-2022.

https://github.com/dbeaver/dbeaver/issues/13964#issuecomment-1094874512

[2022-04-12 07:30] Matvey16 commented on #9252
Verified

[2022-04-12 07:30] #9252 closed

[2022-04-12 07:30] Matvey16 commented on #15097
Verified

[2022-04-12 07:30] #15097 closed, assigned to serge-rider, Matvey16

[2022-04-12 07:34] LonwoLonwo commented on #14703
As a workaround for now @beniwtv

You can set another database to the default and reopen the role tab.

[2022-04-12 07:43] charlbury commented on #15489
Same issue for me, resolved by turning of Hippie engine. What do we lose when the Hippie engine is turned off?

[2022-04-12 08:04] Matvey16 commented on #14835
Verified

[2022-04-12 08:04] #14835 closed, assigned to ShadelessFox, Matvey16

[2022-04-12 08:07] LonwoLonwo commented on #9326
Hello @dbajaj1
Can you please test the latest DBeaver version please? https://dbeaver.io/download/

[2022-04-12 08:10] Destrolaric commented on #15489
@charlbury Hippie looks for proposals with the same prefix in the current script file. If the script file is big enough, it can cause long loading times.

[2022-04-12 08:12] E1izabeth commented on #14953
Autocomplete in drop-down lists is available by hotkey now.

[2022-04-12 08:33] ShadelessFox commented on #15067
Implemented for XLSX, CSV, and TXT exporters.

Regression: it's now impossible to enable append for file formats that are not listed above.

[2022-04-12 08:35] eden0907 opened #16157 "GUI - ClickHouse Database - Error with a boolean field"
#### System information:
- Windows 11 - 64 bits Professional
- Dbeaver CE Version : 22.0.2.202204041542

#### Connection specification:
- ClickHouse version :  ClickHouse server version 22.3.3 revision 54455.
- jdbc driver : Yandex ClickHouse driver (server version 21.3+)
- NO SSH, just HTTP

**Very Strange problem**
I have created a table with a Nullable(Boolean) field.
when I do a select * from

[2022-04-12 10:00] shayneoneill commented on #9356
Well thats a show stopper. Is there any recomendations for tools that do support it in open source software?

[2022-04-12 10:05] Matvey16 commented on #15244
Verified

[2022-04-12 10:05] #15244 closed, assigned to Destrolaric, Matvey16

[2022-04-12 10:06] Matvey16 commented on #12581
Verified

[2022-04-12 10:06] #12581 closed, assigned to serge-rider, Matvey16

[2022-04-12 10:17] flambchap commented on #16027
Hi. Unfortunately, I cannot reproduce the issue. Could you please try the latest `rpm` package and see if the issue reproduces there?

[2022-04-12 10:21] flambchap commented on #15691
Hi @plotn. It's expected behavior. The connection is not the same. DBeaver opens a new connection for every new SQL Editor tab by default. You can turn off this in the preferences.

[2022-04-12 10:21] #15691 closed, assigned to flambchap

[2022-04-12 10:26] flambchap commented on #15585
Hi @william-mason. Unfortunately, I cannot reproduce the issue. Could you please try reinstating the application (and upgrading to the latest version simultaneously)?

[2022-04-12 10:29] flambchap commented on #15580
Hi @nickbg321. I suspect some weird interaction between the latest GNOME and SWT causes the issue. I'm wondering if the latest Eclipse IDE behaves the same. Could you please check that?

[2022-04-12 10:44] flambchap commented on #15238
Hi @ClodoaldoPinto. DBeaver primarily uses JDBC drivers. To make this kind of setup work, we need some kind of JDBC-.NET  bridge. AFAIK, they do not exist. I'm sorry, but it seems like there is nothing we can do.

[2022-04-12 10:44] #15238 closed, assigned to flambchap

[2022-04-12 10:46] flambchap commented on #15414
Hi @xxauroraxx. DBeaver requires JRE 11+. We include our custom JRE in most of our packages.

[2022-04-12 10:46] #15414 closed, assigned to flambchap

[2022-04-12 10:51] flambchap commented on #15468
Hi @kexiuru. MySQL's account names consist of two parts separated by the `@` sign. The part on the right is a hostname. MySQL's documentation states:

In other words, the hostname is an allowed host from which the user can connect. Therefore, it has nothing to do with the Server Host.

[2022-04-12 10:51] #15468 closed, assigned to flambchap

[2022-04-12 11:19] flambchap commented on #15493
Hi @brooksvb. Thank you for your suggestion. Unfortunately, we cannot implement it from DBeaver's side. There is a ticket on Eclipse Platform's issue tracker: https://bugs.eclipse.org/bugs/show_bug.cgi?id=506130. I also suggest the following workaround: https://stackoverflow.com/a/24925892

[2022-04-12 11:26] OlegKustol opened #16163 "Can't change database in connection dialog"
Hi Team,

2 days ago I faced with a problem and it still drive me mad. I can't change postgres database name in "choose catalog/schema dialog" window. When I try to change it I can see next window:
![image](https://user-images.githubusercontent.com/103504435/162950104-0aea21e9-cb93-4d77-adef-3bfc963f61e1.png)

[2022-04-12 11:28] LonwoLonwo commented on #16157
Hello @eden0907

Can you provide your table DDL, please?

[2022-04-12 11:34] RobinFrcd opened #16164 "UI doesn't display FK for PSQL"
#### System information:
- Linux, PopOS Kernel 5.16.15
- DBeaver Community: Version 22.0.2.202204041542 (Release date: 4 May 2022?)

#### Connection specification:
- Database name and version: PSQL 14.2
- Driver name: PostgreSQL JDBC Driver
- Plugging directly on a dockerized PSQL DB

#### Describe the problem you're observing:
I created two tables with a Foreign key linked them, the FK doesn't sh

[2022-04-12 11:34] LonwoLonwo commented on #16163
Hello @OlegKustol

What DBeaver version do you use?
What Postgres server and driver versions do you use?

Also, please provide an [error log](https://github.com/dbeaver/dbeaver/wiki/Log-files). I can't reproduce your issue for now.

[2022-04-12 11:36] Matvey16 commented on #14758
Verified

[2022-04-12 11:36] #14758 closed, assigned to Destrolaric, Matvey16

[2022-04-12 11:44] OlegKustol commented on #16163
Dbeaver version is Version 21.2.0.202109061154
JDBC driver  for postgresql version 13
PostgreSQL server: AWS RDS PostgreSQL server version 13.

[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/8472520/dbeaver-debug.log)
[ - Copy.log](https://github.com/dbeaver/dbeaver/files/8472522/-.Copy.log)

[2022-04-12 12:28] LonwoLonwo commented on #16163
I can offer you to update the DBeaver version to check the condition of your issue. We do not create patches for previous versions.

[2022-04-12 12:41] OlegKustol commented on #16163
Got it. But I updated DBeaver today. I don't know why the version is old. I'll update app and let you know if some issues with change database name are there.

[2022-04-12 12:45] LonwoLonwo commented on #16163
Ok, thnaks for the answer @OlegKustol

[2022-04-12 12:54] Matvey16 commented on #15338
Host and db fields are misplaced

![image](https://user-images.githubusercontent.com/82543000/162966908-bceeecaf-0eaf-4ceb-906d-c19c8f3b6ef7.png)

[2022-04-12 12:58] OlegKustol commented on #16163
I updated DBeaver, but I still have the same issues.
![image](https://user-images.githubusercontent.com/103504435/162967686-ad9f51c5-b0ad-4f8f-b9e3-6b0c668c28b9.png)
![image](https://user-images.githubusercontent.com/103504435/162967731-a8449850-cd27-43d5-90d5-afae4adddbde.png)

[2022-04-12 12:59] LonwoLonwo commented on #16164
Did you refresh the database navigator after key creation? Maybe connect/disconnect can help?

[2022-04-12 13:00] LonwoLonwo commented on #16164
If not - please provide your tables DDL

[2022-04-12 13:58] Matvey16 commented on #14953
Verified

[2022-04-12 13:58] #14953 closed, assigned to E1izabeth, Matvey16

[2022-04-12 14:34] rrousselot opened #16166 "Splash screen has an area for version but it is blank."
#### System information:
- Operating system (distribution) and version  Microsoft Windows [Version 10.0.19042.1415]
- DBeaver version  Version 22.0.2.202204041900
- Additional extensions

#### Connection specification:
N/A

#### Describe the problem you're observing:
Splash screen has an area for version but it is blank.

#### Steps to reproduce, if exist:
Start software.

#### Include any warning

[2022-04-12 14:35] Matvey16 commented on #15243
Verified

[2022-04-12 14:35] #15243 closed, assigned to uslss, LonwoLonwo

[2022-04-12 15:03] serge-rider commented on #9851
Fixed. Now we load target database settings on demand (for database->database transfer, page mappings or final).
It reduces data transfer wizard delays.

@Matvey16 please test in different cases including task editor.

[2022-04-12 15:19] LonwoLonwo commented on #4104
Can you provide some procedures DDL for tests?

[2022-04-12 15:20] LonwoLonwo commented on #3860
Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/5931

[2022-04-12 15:20] #3860 closed

[2022-04-12 15:37] LonwoLonwo commented on #16163
Maybe your log changed?

[2022-04-12 15:43] LonwoLonwo commented on #8052
Duplicate of https://github.com/dbeaver/dbeaver/issues/15971

[2022-04-12 15:43] #8052 closed

[2022-04-12 16:00] rotorboy commented on #15971
with all the customization that is possible within dbeaver, it is surprising and disappointing that it is not possible to set the sql editor window pane AND background color to be the connection color. As noted, it is way too easy to be in the wrong editor and execute a command that can create devastating consequences.

While there are other visual cues that indicate what connection the editor is

[2022-04-12 16:00] LonwoLonwo commented on #16126
Please provide more steps about your issue. Screens can be helpful.

[2022-04-12 16:05] LonwoLonwo commented on #10334
Fixed in DBeaver 22.0.2
https://github.com/dbeaver/dbeaver/issues/14255

![2022-04-12 19_04_16-Window](https://user-images.githubusercontent.com/45152336/163005741-da0e89a2-3227-4fde-8f61-7be8d018ccb7.png)

[2022-04-12 16:16] LonwoLonwo commented on #16131
Ok, thanks for the idea.
Wi will add custom functions/keywords support in this ticket:
https://github.com/dbeaver/dbeaver/issues/6528

[2022-04-12 16:16] #16131 closed, assigned to nobody

[2022-04-12 16:53] RobinFrcd commented on #16164
Indeed, the connect/disconnect seems to work but no the refresh button.

here's the schema I used for my tests:

[code]

[2022-04-12 17:11] dbajaj1 commented on #9326
Hi @LonwoLonwo, I can confirm that I am on the latest version and still have the issue.
I've been installing the latest versions religiously every update in the hopes that it somehow fixes the issue.
<img width="431" alt="image" src="https://user-images.githubusercontent.com/50336413/163017040-4c8cdaa8-75a5-4a4d-a371-fee129d195cc.png">

[2022-04-12 18:35] yvazquezo commented on #15996
Hey guys, I have been working on this: https://github.com/yvazquezo/logicalrep_audit/blob/main/README.md
It is version 1.0, but there are 2 functions for generate the DDLs that can save you some work.

[2022-04-12 19:40] ktr commented on #15446
Go to "Edit Driver Settings," click the "Libraries" tab, then click "Add Artifact," then add the Maven dependency declaration:

`
<dependency>
    <groupId>com.microsoft.azure</groupId>
    <artifactId>msal4j</artifactId>
    <version>1.11.3</version>
</dependency>
`

Hope this helps!

[2022-04-12 21:15] joelrosa21 commented on #15446
@ktr It worked! thank you so much!!

[2022-04-12 21:15] #15446 closed, assigned to ShadelessFox

[2022-04-12 22:55] Loizzus opened #16168 "Can't connect to MongoDB Atlas"
#### System information:
- Windows 11
- DBeaver Enterprise 22.0.0

#### Connection specification:
- MongoDB Atlas
- MongoDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When trying to connect to a MongoDB Atlas server with a URL I get the error:
_"Error connecting to MongoDB instance [localhost]
A TXT record is only permitted to contain the key

[2022-04-12 23:58] william-mason commented on #15585
* seems to work OK after latest install

[2022-04-12 23:58] #15585 closed, assigned to flambchap

[2022-04-13 01:04] lpossamai commented on #14749
Hi guys. Sorry, but any updates here?

[2022-04-13 05:09] hkrsmk commented on #10078
I've found that closing and opening DBeaver helped me restore the table sizes. Had this issue temporarily after expanding and minimising the dropdowns.

    Operating system: MacOS Monterey
    DBeaver version: 22.0.2.202204021640
    Additional extensions: Nothing
    Database name and version: MSSQL
    Driver name: MSSQL JDBC
    Do you use tunnels or proxies (SSH, SOCKS, etc)? VPN

[2022-04-13 05:49] nickbg321 commented on #15580
I can confirm that Eclipse IDE has more or less the same visual glitches.

[2022-04-13 06:09] daviian opened #16169 "WinGet - Failed to install (Hash mismatch)"
#### System information:
- Operating system (distribution) and version Windows 10 Build 19044
- DBeaver version 22.0.2
- Additional extensions N/A

#### Connection specification:
- Database name and version N/A
- Driver name N/A
- Do you use tunnels or proxies (SSH, SOCKS, etc)? N/A

#### Describe the problem you're observing:
When attempting to install / update DBeaver using winget command line u

[2022-04-13 06:35] LonwoLonwo commented on #16166
Hello @rrousselot

Can you provide a video of the issue, please?
Usually, the version info does not occur immediately, but after a while after the appearance of the splash screen.

[2022-04-13 06:37] LonwoLonwo commented on #16164
So now you can see your FK?
Did you try to refresh your table? Your schema? Your database? Or what kind of object and where?

[2022-04-13 06:45] LonwoLonwo commented on #14442
Unfortunately, we can't fix this behavior because the tables mapping page in the Data Transfer Wizard is before the Extraction settings (with setting "Selected columns only").

The best solution in this situation will be a change of columns mapping to "skip" on the "Tables mapping page".

![2022-04-12 11_22_48-Data Transfer](https://user-images.githubusercontent.com/45152336/163116293-1a4e4eae-3f8

[2022-04-13 06:45] #14442 closed, assigned to LonwoLonwo

[2022-04-13 07:39] eden0907 commented on #16157
Hello,

This is the DDL table script
and some insert data.  continuing analyzing the problem,  I found that some detailled lines works fine  ( scenarioid = 2 in my example) but not with scenarioid = 2454.   If mixing a "good" line and the "bad" line, I got a good result. It's very strange.

CREATE TABLE scenario
(
 `scenarioid` Int32,
 `versioncode` Int32,
 `label` Nullable(String),
 `ispublished`

[2022-04-13 07:56] zolovey commented on #8647
@LonwoLonwo any progress on this bug?

[2022-04-13 07:59] LonwoLonwo commented on #16157
Ok, thanks, I can reproduce this.

But I can see in the error message that the error comes from the Clickhouse side

[code]

And I don't know how we can help in this situation.

[2022-04-13 08:02] RobinFrcd commented on #16164
Yes, now I can see it !
I went into the properties tab of my table, and hit refresh, the FK wouldn't pop. Same if I went to the ER diagram.

[2022-04-13 08:32] LonwoLonwo commented on #8647
As I can see, Sybase supports mixed case in the names of tables, schemas etc.
For this reason DBeaver can't find schema "sys" in the list of schemas.
So I'm not sure what can I do in this situation.

[2022-04-13 08:46] wiwwo opened #16171 "[Feat. Req.] Disable trigger from table detais, trigger list"
I found no way to disable a trigger in table details (both selecting a trigger an looking at options downunder, or by right-click) or in trigger detail

[2022-04-13 08:47] wiwwo commented on #9414
Please guys, this is reeeeally annoying... :(

[2022-04-13 08:50] LonwoLonwo commented on #16171
Hello @wiwwo

What DBeaver version do you use?
What database version do you use?

Are you talking about this kind of operations? https://docs.microsoft.com/en-us/sql/t-sql/statements/disable-trigger-transact-sql?view=sql-server-ver15

[2022-04-13 09:00] wiwwo commented on #16171
Wow,
sorry :-P

DB: PG 13
DBEaver: Version 21.3.0.202111281534

No way to disable trigger in red sport
![image](https://user-images.githubusercontent.com/3930671/163140165-e793caa4-c01f-4ac0-998d-87086b783926.png)

or, after double click on trigger name in pic above:
![image](https://user-images.githubusercontent.com/3930671/163140431-ee0a5586-89d0-404c-809f-c32ef085395f.png)

[2022-04-13 09:04] LonwoLonwo commented on #16171
Yeah, this is a little bit tricky:

![2022-04-13 12_03_11-DBeaver Ultimate 22 0 3 - _dvdrental_Script-146](https://user-images.githubusercontent.com/45152336/163140989-9cf90848-fb13-4dca-a847-e62cd834259b.png)

[2022-04-13 09:14] Matvey16 opened #16172 "Context menu in SQL Editor doesn't respect cursor position on which it is called"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.3

#### Steps to reproduce, if exist:
1. Type two different queries in SQL Editor (e.g. two selects from different table)
2. Left-click on one of the queries to put a text cursor on it
3. Right-click on another query and pick Export from query in the context menu
4. Perform export

**Expected:** Exp

[2022-04-13 09:21] iomihai commented on #16125
I experience this too
OS: Archlinux
GNOME: 42
DBeaver: Version 22.0.1
Postgres: PostgreSQL 10.19
Postgis: 2.4

Query: `SELECT 'SRID=4326;POINT (-71.94773 -43.384105)'::geometry;`

Result map panel is grey and I get a save as prompt to save the html file, if I  click `Open in a browser` the map is correct.
I have `Use internal web browser` in `User Interface/Web Browser` selected (tried toggling it

[2022-04-13 09:31] Matvey16 commented on #9851
Verified

[2022-04-13 09:31] #9851 closed

[2022-04-13 09:36] Destrolaric commented on #14749
@lpossamai Hi, it's pretty hard to reproduce this issue without knowing the algorithm that created the key. If anyone can provide us with more information about it, it will be helpful.

[2022-04-13 09:44] Matvey16 commented on #15338
Verified

[2022-04-13 09:44] #15338 closed, assigned to Destrolaric, Matvey16

[2022-04-13 09:55] lpossamai commented on #14749
I tried to reproduce this, but I can't. I have generated a new ssh key with the command below and it's working now. I'll close this issue as it can't be reproduced.

`ssh-keygen -t rsa -b 4096`

[2022-04-13 09:58] Destrolaric commented on #14749
I think it's better to convert it to the discussion there is a chance that someone with this issue can help to reproduce.

[2022-04-13 10:14] LonwoLonwo commented on #11462
Google cloud support was added in LE/EE/UE products in DBeaver version 22.0.3
https://github.com/dbeaver/dbeaver/issues/12581

[2022-04-13 10:14] #11462 closed, assigned to nobody

[2022-04-13 10:32] petrvalkoun-gooddata opened #16174 "Cannot execute DDL with semicolon on new line"
#### System information:
- Operating system (distribution) and version: MacOS 12.3.1
- DBeaver version 22.0.2.202204041542
- Additional extensions: none

#### Connection specification:
- Database name and version
- Driver name: gooddata JDBC proprietary, based on HP Vertica
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
When executing DDL (CREATE

[2022-04-13 12:04] Matvey16 commented on #13067
Verified

[2022-04-13 12:04] #13067 closed, assigned to flambchap, Matvey16

[2022-04-13 12:41] LonwoLonwo commented on #16074
@match-gabeflores Thanks for the idea.

[2022-04-13 12:44] LonwoLonwo commented on #16107
@mgabeler-lee-6rs thanks for the report.

[2022-04-13 12:48] LonwoLonwo commented on #16121
Thanks for report @jetzerb

[2022-04-13 12:50] ceinmart commented on #16174
Here, after upgrade to version 22.0.2 , the same behave start to occur.
However, occurr with any SQL STATEMENT, not only DDL . Any DML too.

This doesn't work.
[code]

This work:
[code]

[2022-04-13 12:53] ShadelessFox commented on #16125
Hello @iomihai @ar-jan,

Can you please send a screenshot of the <kbd>User Interface</kbd> &rArr; <kbd>Web Browser</kbd> preferences page?

Thanks.

[2022-04-13 13:02] ShadelessFox commented on #16137
Hello @KipmarkMR,

Thanks for the bug report.

Looks that your issue is caused by having a display scaling above 100%.

As a workaround you can set it to 100%.

[2022-04-13 13:03] zhicwu opened #16178 "ClickHouse Enum value display issue"
#### System information:
- macOS 12.3.1
- DBeaver Version 22.0.2.202204021640

#### Connection specification:
- ClickHouse 22.3
- clickhouse-jdbc 0.3.2-patch8 (not released yet)
- No tunnels or proxies in between

#### Describe the problem you're observing:

Enum8 / Enum16 is mapped to VARCHAR in JDBC driver, but it seems DBeaver called ResultSet.getObject() instead of getString() to retrieve the

[2022-04-13 13:12] jthemenace opened #16179 "Can't Disable Red Highlighting For Query Error In SQL Editor"
#### System information:
- Operating system -- Mac Monterey 12.3.1, running in a Macbook pro 14-inch M1
- DBeaver version -- Version 22.0.2.202204041542
- Additional extensions - DBeaver Office Support

#### Connection specification:
- Database name and version MariaDB 10.5.15
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  SSH

#### Describe the problem you're observing:
After a somewhat rece

[2022-04-13 13:25] spassignat opened #16181 "Personalized column ordering in Data view"
Most of the time when viewing table data, some users focus on the same columns and others on other columns. Actually, the columns seem displayed in their database order.

Could it be possible to let user order the columns in that view, the way he wants and save this in a file but not in the data-sources.json ?

Then when re-editing the table data, the user will find the previous layout he used.

[2022-04-13 13:25] ar-jan commented on #16125
![image](https://user-images.githubusercontent.com/1176293/163189923-5b9fbcb2-4915-4922-b366-9d772dcee970.png)

Here's my current settings. I've also tried `Use external web browser` with both `Default system web browser` or `Firefox` selected.

[2022-04-13 13:29] zhicwu commented on #16178
FYI, I had to roll back part of the change to ensure `ResultSet.getObject` will return String instead of number. It would be great if this can be fixed in DBeaver.

[2022-04-13 13:33] ShadelessFox commented on #16125
Can you please record a video showing the issue, including a footage after you close the save file dialog?

[2022-04-13 13:35] Matvey16 commented on #15067
Verified

[2022-04-13 13:35] #15067 closed, assigned to ShadelessFox, Matvey16

[2022-04-13 13:50] E1izabeth commented on #16174
Thank you for bug report. Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/16077

[2022-04-13 13:50] #16174 closed, assigned to nobody

[2022-04-13 13:54] LonwoLonwo commented on #12391
Fixed in DBeaver 22.0.3

[2022-04-13 13:59] E1izabeth commented on #16179
Hi, @jthemenace! You can disable error highlighting in Preferences -> Editors -> SQL Editor -> Code Editor ("Show problem markers").
![image](https://user-images.githubusercontent.com/28875055/163197163-ae2aaef1-3e6f-4ddd-89c0-85b189beeb91.png)

[2022-04-13 14:15] dextok commented on #16027
Thanks, `rpm` works well

[2022-04-13 14:15] #16027 closed, assigned to flambchap

[2022-04-13 14:19] XiozTzu commented on #16166
https://share.icloud.com/photos/080WL_Nu2m92rCrg-wVsSBfcQ

Hope that link works. This is a PC Win 10. Tried on Mac M1 and it worked but just barely.

[2022-04-13 14:26] LonwoLonwo commented on #13238
Still relevant in DBeaver 22.0.2

[2022-04-13 14:27] Matvey16 commented on #15117
Verified

[2022-04-13 15:14] OlegKustol commented on #16163
Hello,
please find my logs in attachment. Today I still have this issues.

[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/8482564/dbeaver-debug.log)
[ - Copy.log](https://github.com/dbeaver/dbeaver/files/8482567/-.Copy.log)

[2022-04-13 15:15] jthemenace commented on #16179
Thank you so much!!!! That's exactly what I needed!!!  Hopefully this post will help someone else in the future (myself included if I forget)

[2022-04-13 15:15] #16179 closed, assigned to nobody

[2022-04-13 15:18] BabakAmini commented on #10078
That didn't work for me on Windows 11.

[2022-04-13 15:23] Matvey16 commented on #12391
Verified

[2022-04-13 15:23] #12391 closed, assigned to LonwoLonwo, Matvey16

[2022-04-13 16:24] KipmarkMR commented on #16137
Thanks for the reply.

Where is "display scaling" set?  I never changed anything... by default it is set above 100%

Are you talking about this:

![Display Scale](https://user-images.githubusercontent.com/102974223/163226227-1a8a31b1-3b86-4990-bcaa-3c1929a818c5.PNG)

If so, it is set to 100%.  Did you mean something else?

[2022-04-13 16:27] LonwoLonwo commented on #16163
Ok. what do you mean about "can't change postgres database name"?

Did you try to select another database in the "choose catalog/schema dialog"? Or something else?

![Mp2stXJIVC](https://user-images.githubusercontent.com/45152336/163226871-ed6ec65a-1955-415d-bb2e-79abf16a97d6.gif)

[2022-04-13 16:40] MarioGarbelli opened #16183 "Vertica query return updated rows = -1"
#### System information:
- Windows 11
- DBeaver 22.0.2 CE (last release available)
- Additional extensions: No

#### Connection specification:
- Vertica 9.1.1-6
- vertica-jdbc-9.1.1-0.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Describe the problem you're observing:
All queries (e.g. SELECT 1;) return "updated rows = -1".
The same query works smoothly with DBeaver 22.0.1.2022

[2022-04-13 17:01] ShadelessFox commented on #16137
I'm talking about system's settings.

![image](https://user-images.githubusercontent.com/35821147/163232532-5363a9b7-3a24-4018-952f-d7a6d85f94e1.png)

[2022-04-13 17:23] fjf2002 opened #16184 "No undo (Ctrl + Z) in function source code editor"
#### System information:
- Operating system (distribution) and version: Windoze 10
- DBeaver version: 22.0.1.202203181646

#### Connection specification:
- Database name and version: PostgreSQL 14
- Driver name: pgjdbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: No

#### Describe the problem you're observing:
As the title says: When I am editing a function in its source code editor, CTRL-Z

[2022-04-13 17:30] OlegKustol commented on #16163
I can't select database in the way you show me)
When I open this windows I have an error and database list is empty

[2022-04-13 17:33] eden0907 commented on #16157
Hello,Thanks you for analyzing this problem.You can comment and close this issue.I will create a new issue on the clickhouse github.Best regards,Le 13 avr. 2022 9:59 AM, Anastasiya ***@***.***> a écrit :
Ok, thanks, I can reproduce this.
But I can see in the error message that the error comes from the Clickhouse side
!ENTRY org.jkiss.dbeaver.model 4 0 2022-04-13 10:52:56.444
!MESSAGE Unsupported d

[2022-04-13 18:55] ar-jan commented on #16125
![2022-04-13_DBeaver-mapviewtest2](https://user-images.githubusercontent.com/1176293/163250457-de439a1b-3b10-437f-911c-3633285d611d.gif)

[2022-04-14 05:53] LonwoLonwo commented on #16183
Hello @MarioGarbelli

Maybe it was?:

[code]

In this case, we have the same issue: https://github.com/dbeaver/dbeaver/issues/16077

[2022-04-14 06:30] MarioGarbelli commented on #16183
hi @LonwoLonwo , I've tried dozen of different queries. All of them fail.

SELECT 1; works in current dbeaver 22.0.1.202203181646 CE.

[2022-04-14 08:04] FluffyRotkat opened #16185 "keybindings remote postgresql session"
Hello,

DBeaver version 22.02.202204021640
local db postgresql 14
remote db postgresql 13 connected through openvpn
os: ubuntu 22.04
remote os: ubuntu 20.04

On local database all is fine.
But if I connect to the **remote** database, de keybindings are wrong in the sql console.
If I press "delete" in the sql pane, a record gets deleted in results pane, instead of deleting a character in the sql pa

[2022-04-14 08:28] serge-rider commented on #16168
MongoDB Java driver 4.x API significantly differs from 3.x API.
We need to migrate to the new API in the next DBeaver EE version.

[2022-04-14 08:46] LonwoLonwo commented on #16157
Thanks for the answer @eden0907

[2022-04-14 08:46] #16157 closed, assigned to nobody

[2022-04-14 09:21] serge-rider opened #16187 "Language change should modify start shortcut"
Currently we can't change language on Windows because it is explicitly specified in launch shortcut (-nl XX).
There are two solutions:
- Do not set language in shortcut in installer but put it in dynamic config.ini
- Remove language from shortcut when changing it in preferences

[2022-04-14 09:56] apausepi commented on #14681
I have the same issue. on Microsoft 10 from VirtualMachine (Gnome Machines) from Linux.

[2022-04-14 10:09] ShadelessFox commented on #16125
It looks like a bug in the browser implementation in the Eclipse platform under Linux.

After some additional research, I came up with the following solution:
[code]

Please let me know if it helps.

[2022-04-14 10:15] HerrB92 opened #16188 "Feature wish: Option to disable automatic "source" comment on views"
#### System information:
- Operating system (distribution) and version: Microsoft Windows [Version 10.0.19043.1052]
- DBeaver version: Community 22.0.2
- Java version: As provided
- Additional extensions: None

#### Describe the problem you're observing:
With some of the latest versions of DBeaver a feature was introduced, that the source editor window gets an additional "source" comment line auto

[2022-04-14 13:05] zhicwu opened #16189 "Patch query with limit causing problem on ClickHouse"
#### System information:
- macOS 12.3.1
- DBeaver Version 22.0.2.202204021640

#### Connection specification:
- ClickHouse 22.3
- clickhouse-jdbc 0.3.2-patch7
- No tunnel or proxy used

#### Describe the problem you're observing:

`select * from numbers(5) format JSONEachRow` does not work because DBeaver patched the query with limit, resulting below query sent to ClickHouse. This was discussed in

[2022-04-14 13:14] ShadelessFox commented on #15876
https://github.com/dbeaver/dbeaver/wiki/Admin-Variables

[2022-04-14 13:45] flambchap commented on #16086
SSPI auth does not work for some reason.

[2022-04-14 13:46] eden0907 commented on #16157
Hello,Juste for information,Clickhouse's team has corrected this problem with jdbc driver 0.3.2 patch 7.Best regardsLe 14 avr. 2022 10:47 AM, Anastasiya ***@***.***> a écrit :
Closed #16157.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-04-14 13:55] flambchap commented on #16086
Classloader cannot find JNA. We need to include it as a dependency.

[2022-04-14 14:30] LonwoLonwo commented on #16183
Ok. For now we will waiting for the next (22.0.3) release. Maybe it helps.

[2022-04-14 14:36] ar-jan commented on #16125
Yes, this fixes it, thanks!

Any idea what change caused this? Because up until some 2-3 weeks ago this didn't happen.

[2022-04-14 14:38] ShadelessFox commented on #16125
It has something to do with GNOME.

I don't have any other information about this issue, unfortunately. It's barely mentioned anywhere.

[2022-04-14 14:42] amisano opened #16192 "Font size too small in script interface"
Hi to all
I need a solution to this problem
I have a very strange situation on font size on sql script input, because the characters on the screen have reduced in size and become unreadable.
I probably used some buttons or settings by mistake.
I couldn't find any option to set the font size.
Can you help me ?
thank you
Version 22.0.2
eamisano@guala.net

[2022-04-14 14:52] LonwoLonwo commented on #9326
Could you please try resetting the workspace? You can find the instructions here:
https://dbeaver.com/docs/wiki/Reset-workspace/

[2022-04-14 14:52] ShadelessFox commented on #16192
Hello @amisano,

Are you talking about the font size in the SQL Editor?

You can adjust its size using <kbd>Ctrl+-</kbd> and <kbd>Ctrl+=</kbd> keyboard shortcuts.

[2022-04-14 14:53] #16192 closed, assigned to nobody

[2022-04-14 15:01] serge-rider opened #16194 "Reduce EE and LE package sizes"
We can remove:
- Most of AWS dependencies
- Duplicated guava in 3rd party drivers

[2022-04-14 15:09] mcpiroman commented on #16005
How did you solve that?

[2022-04-14 15:10] flambchap commented on #16086
@Ellebjerg As a workaround, I suggest loading optional dependencies for the driver. Please double-click on the `org.postgresql:postgresql` entry, click on the 'Load additional dependencies' checkbox.

[2022-04-14 18:51] nicolasmafra commented on #6047
This option can be disabled by default. Think in production connections for example.

[2022-04-14 20:16] E1izabeth commented on #16189
Hi, @zhicwu! Thank you for bug report!
You can turn off "Use SQL to limit fetch size" setting (Connection settings -> Data editor). It should help.

![image](https://user-images.githubusercontent.com/28875055/163466739-8d38eca2-ffb7-4896-b3e2-ace3cb0fe8aa.png)

I think we should return it back to disabled state by default as it was workaround due to bug in Clickhouse driver. Now bug seems to be fi

[2022-04-14 22:02] joshcsmith13 commented on #16077
I'm hoping that latest status update from @dbeaver-pm  to remove the "wait for response" label means that somebody from the team will be looking into this.  It is confusing that we were originally told there was a hotfix, but nobody has had any luck with it.

[2022-04-15 05:14] EastLord commented on #16005
@mcpiroman when I started with eclipse, the eclipse console would display program arguments, and I according to this to change IDEA Run/Debug Configurations -> program arguments

[2022-04-15 05:21] Lewonna opened #16197 "tooltip list of columns when selecting table"
DBeaver version: 22.0.2.202204041542
Database: Postgres

**Is your feature request related to a problem? Please describe.**

I would like to see a list of columns in a table when I typing table name in SQL-query.

for example, as in MS SQL:
![image](https://user-images.githubusercontent.com/43236226/163523708-8e6ffd99-8a3c-487c-b3a6-b1a1bb353087.png)

Is there such an feature already? If so, could

[2022-04-15 07:12] Maxxiey commented on #15319
Hey guys, I got the same issue and I managed to find a solution. It works for me (on a windows 10 laptop) and I hope it helps~

In a nutshell, you have to download a `mysql.exe` and `mysqldump.exe` which has the right version (above `8.0`) and use it to do the `dump` and `restore` operations instead of using the default `mysql.exe` and `mysqldump.exe`, whose version is `5.x`.

How to do it? Well,

[2022-04-15 07:51] LonwoLonwo commented on #13290
Implemented.

Now in the case of table migration from those databases that may have varchar data type without modifiers DBever will choose other data types for long strings. Like `longtext`, `clob` or `string`.

![2022-04-13 13_05_21-Map columns of VARCHAR_COLUMNS](https://user-images.githubusercontent.com/45152336/163155882-d16aff5f-b050-437b-8db8-ab32308f7131.png)

![2022-04-13 13_00_48-Map colu

[2022-04-15 08:11] OlegKustol commented on #16163
Hi,
After 3rd time rebooting PC it works again)

[2022-04-15 08:45] LonwoLonwo commented on #16163
Oh, great!

As a workaround in the feature, you can change the default database/schema in the database navigator tree.

![2022-04-15 10_48_13-Window](https://user-images.githubusercontent.com/45152336/163548400-d1884775-6f21-45a9-8a94-a68bbb2ed5c1.png)

![2022-04-15 10_47_51-Window](https://user-images.githubusercontent.com/45152336/163548398-35d2e3b2-3552-4d6d-bf93-0291b876c1c7.png)

[2022-04-15 09:08] LonwoLonwo commented on #16111
Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/15766

[2022-04-15 09:08] #16111 closed, assigned to nobody

[2022-04-15 09:15] mcpiroman commented on #16005
Thanks! By that time I have manage to do the same. I will try to make IDEA work with core project via maven, or at least update the dbeaver-idea-project repo, but it is bound to get outdated anyway.

[2022-04-15 09:23] LonwoLonwo commented on #16077
Please check the "Script delimiter redefiner" connection setting in the "Advanced parameters".
Set it to empty if it's not.
I hope it helps.

![2022-04-15 12_21_54-Window](https://user-images.githubusercontent.com/45152336/163553341-658f1395-9d7a-40a4-bc4f-08724c559e99.png)

[2022-04-15 09:25] LonwoLonwo commented on #16183
Please check the "Script delimiter redefiner" connection setting in the "Advanced parameters".
Set it to empty if it's not.
I hope it helps.

![2022-04-15 12_21_54-Window](https://user-images.githubusercontent.com/45152336/163553341-658f1395-9d7a-40a4-bc4f-08724c559e99.png)

[2022-04-15 10:02] Destrolaric commented on #16143
Confirmed, will be done in the scope of #13691

[2022-04-15 10:04] LonwoLonwo commented on #16163
The error message for this situation was changed.

![2022-04-15 12_42_27-Window](https://user-images.githubusercontent.com/45152336/163555752-901b59f9-2f7f-439b-bdf8-c9a575642105.png)

[2022-04-15 10:04] #16143 closed, assigned to Destrolaric

[2022-04-15 10:27] LonwoLonwo commented on #16152
Thanks for the idea @rjake

As a workaround, you can change the number of digits after a comma:

![2022-04-15 13_26_01-Window](https://user-images.githubusercontent.com/45152336/163560466-d09abd81-84a2-43b2-a464-3ab5a0955bdc.png)

[2022-04-15 10:29] OlegKustol commented on #16163
In general it's not comfortable to change default database, because we should work with multiple database simultaniously

[2022-04-15 12:30] serge-rider commented on #13097
No a bug. The query is not an SQL expression.
current_timestamp is.

[2022-04-15 12:30] #13097 closed, assigned to nobody

[2022-04-15 14:04] E1izabeth opened #16201 "Error handling mechanism for new parser"
We need to add error handling mechanism to new parser in a such way to be able to correctly handle and work with cases which are not described in our sql grammar.

[2022-04-15 14:07] E1izabeth opened #16202 "Describe grammar of SQL Select statement"
We need to describe grammar of select statement for the new parser as full as we can for the moment.

[2022-04-15 14:18] E1izabeth commented on #15525
It was found that SQL grammar is an ambiguous. The new parser is GLL parser, so it needs GSS stack to work with ambiguity with optimal resource usage. Information about GLL parsing algorithm and GSS stack can be found, for example, here `Scott, Elizabeth, and Adrian Johnstone. "GLL parsing." Electronic Notes in Theoretical Computer Science 253.7 (2010): 177-189.`

For the moment we will not implem

[2022-04-15 14:39] Matvey16 opened #16203 "Properties of connection that is not yet saved have confusing title"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.3

#### Steps to reproduce, if exist:
1. Open connection creation wizard
2. Enter valid information
3. Click test connection
4. Click details

**Expected:** Title of the view is comprehensable
**Actual:** The title says `Properties for "null"`

![dbeaver_Rg6zt0rq6o](https://user-images.githubusercon

[2022-04-15 14:47] Matvey16 opened #16204 "Append exported data to existing .sql files"
We have a feature to append exported data to csv, txt, xlsx files. We need to expand this feature for SQL files.

[2022-04-15 14:52] Matvey16 opened #16205 "Improve xlsx files export"
The feature added in #15067 allows the user to append exported data to existing file by adding a new sheet into file. We need to add a setting that would allow appending data to the existing sheet instead.
Another improvement is to allow changing default sheet names with templates/variables like we have for file names.

[2022-04-15 16:56] dbajaj1 commented on #9326
Has not seemed to help.

[2022-04-15 17:13] rdfedor commented on #12825
Running into this issue as well.  This should be treated as a bug not a feature request because it's not obeying the configuration of the connection profile. The DBeaver profile is set up correctly to use require SSL, but those configuration values are not being passed down to the native client.

WIth my particular situation, I'm trying to execute a script through the right click on the database a

[2022-04-16 04:44] kseniiaguzeeva opened #16207 "Oracle: the error appears on a table partition opening"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 22.0.3.202204140515

#### Connection specification:
- Database name and version Oracle
#### Steps to reproduce, if exist:

1. Open a table with partitions (e.g. INTERVAL_SALES)
2. Open a partition

**Expected:** the partition is opened in a separate tab
**Actual result**: the error appears:

https://user-i

[2022-04-16 06:44] PzaThief opened #16208 "Generate UUID command needs to grayed out if it cannot be worked"
when nothing in main window, uuid command(ctrl+alt+shift+u) in edit panel is activated looks like it can be used. but if I command it, there are noting action after command. So I think I need to be grayed out when it cannot be worked.

[2022-04-16 11:48] mcpiroman commented on #15524
Hi, from briefly looking at the code it seems like a new parser is being built from scratch. May I ask for some terse details and motivation on why not to rely on third party (like current JSQLParser)?

In particular, for Oracle's PL/SQL, which is quite complex, I have found a very good, almost fully declarative parser https://github.com/felipebz/zpa (most grammar is specified [here](https://githu

[2022-04-17 08:04] chrisschmitz commented on #14681
I encountered the same issue on Windows 10. The solution was to remove the trust store type from the configuration.
I just removed the line `-Djavax.net.ssl.trustStoreType=WINDOWS-ROOT` from dbeaver.ini and restarted DBeaver

[2022-04-18 03:32] anhdbbt opened #16210 "displayed wrong content when connected to oracle"
#### System information:
client system：manjaro linux
kernel： 5.15.32-1-MANJARO
dbeaver verion：22.0.2.202204041542

#### Connection specification:
- Database name and version：Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit Production
- Driver name ：ojdbc8-19,3.0.0.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)?：No

#### Describe the problem you're observing:
like this, the

[2022-04-18 04:11] serge-rider commented on #13718
Filtr by project and task type

[2022-04-18 04:24] #15525 closed, assigned to E1izabeth

[2022-04-18 05:49] LonwoLonwo commented on #16210
Hello @anhdbbt

It can be the driver issue.

Can you please try this solution: https://github.com/dbeaver/dbeaver/issues/15144#issuecomment-1011636822 ?

[2022-04-18 05:52] LonwoLonwo commented on #16188
Ok, thanks for the report @HerrB92

[2022-04-18 06:03] LonwoLonwo commented on #16178
Yes, by default, DBeaver is reading objects, not strings.

We can change this behavior for Enum data types for Clickhouse.
For old drivers too or just for new?

https://github.com/dbeaver/dbeaver/blob/2ca59afe719512741480e1f2fad8cb902fd9dc03/plugins/org.jkiss.dbeaver.model/src/org/jkiss/dbeaver/model/impl/jdbc/data/handlers/JDBCStringValueHandler.java#L43-L53

[2022-04-18 06:12] zhicwu commented on #16178
Thanks @LonwoLonwo, it's only needed for new driver. As long as it's VARCHAR, it should be safe to use getString IMO.

java.sql.Types does have BIT and BINARY, so I guess it was an issue in driver implementation.

[2022-04-18 06:15] LonwoLonwo commented on #16208
Ok, thanks for the bug report @PzaThief

The button is really always active.

![2022-04-18 09_12_59-DBeaver Ultimate 22 0 3 - Album](https://user-images.githubusercontent.com/45152336/163763861-96685e0b-c394-4e9e-be69-07c1d9e6930c.png)

[2022-04-18 06:21] LonwoLonwo commented on #16109
Hello @acrey1

Was DBeaver open when you did your updates?

Do you use the Comunity version of DBeaver?

DBeaver uses an H2 database to store query history.

[2022-04-18 06:38] LonwoLonwo commented on #16207
Error:

[code]

[2022-04-18 06:57] Tazhio commented on #14778
I encountered the same problem, and the previous fix doesn't work for me. I solved this by updating the tychno verison in pom.xml. Upgrading Tycho to from 2.3.0 to 2.7.1 worked for me. This is depedent on the java version.

` <tycho-version>2.7.1</tycho-version>`

[2022-04-18 07:05] acrey1 commented on #16109
Hi there,

Eclipse was open, and DBeaver is just one of many perspectives in use.  How would I "close" just DBeaver?

I am using the EE version (this is in the screen shot) - Academic licence.

Thanks,

Adam.

[2022-04-18 07:12] Matvey16 opened #16212 "[Vertica] Can't execute a query if semicolon is on a new line"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.3

#### Steps to reproduce, if exist:
1. Open SQL Editor
2. Input a query with a semicolon on the next line
3. Try to execute a query

**Expected:** Query is executed
**Actual:** Query is ignored

![dbeaver_yc3Itj1kIv](https://user-images.githubusercontent.com/82543000/163770639-330732f9-d726-4ba6-8

[2022-04-18 07:13] LonwoLonwo commented on #16207
Fixed

![2022-04-18 09_47_29-DBeaver Ultimate 22 0 3 - SALES_JAN2000](https://user-images.githubusercontent.com/45152336/163768040-7d7a5a81-d125-4965-b099-0ee8cc3cbbca.png)

[2022-04-18 09:49] urosctd opened #16214 "Exported SQL INSERT statement isn't proper if a table has JSONB column in it"
#### System information:
- Operating system (distribution) and version : Mac Monterey 12.2.1
- DBeaver version: 22.0.2

#### Describe the problem you're observing:
- When exporting table (as SQL INSERT statement) which has JSONB type columns in it, I get an invalid SQL INSERT statement.
- When exporting data into INSERT statement that statement ought to be without errors...

#### Steps to reproduc

[2022-04-18 10:07] dvalchev opened #16215 "General network proxy settings are reset after the application is updated"
#### System information:
- Operating system (distribution) and version - **Windows 10 21H2**
- DBeaver version - **22.0.3 but persists in earlier versions as well**
- Additional extensions - **N/A**

#### Connection specification:
- Database name and version - **N/A**
- Driver name - **N/A**
- Do you use tunnels or proxies (SSH, SOCKS, etc)? **Yes**

#### Describe the problem you're observing:
Pro

[2022-04-18 10:24] LonwoLonwo commented on #16214
Hello @urosctd

What database do you use?

[2022-04-18 10:28] urosctd commented on #16214
Postgres 11 and 14
Sorry I didn't put that in the issue. Updating now

[2022-04-18 10:34] Destrolaric commented on #16078
The issue is present for Linux. We need to look into it.

[2022-04-18 10:54] DariaMarkaryan commented on #13727
Reproduceable again. For **Alt+X** it works well, but for **Ctrl+Enter** exist the problem is described in the ticket

[2022-04-18 11:17] dankochetov commented on #6818
I still have this issue on version 22.0.3.202204170718 - can't create or move new folders in the connections root. The same workaround still works.

[2022-04-18 11:45] ultimate-smile commented on #5741
1. clean local .m2 repository cache
2. mvn package
3. note branch is devel

[2022-04-18 12:03] Foorack opened #16217 "22.0.3 asks to "accept" an OSS license"
Latest version (22.0.3) introduces an EULA confirmation dialog via https://github.com/dbeaver/dbeaver/pull/16063 and https://github.com/dbeaver/dbeaver/pull/16160. @serge-rider @Destrolaric

OSS licenses are **not** EULA's. Under no circumstance does the user have to "accept" an OSS license. By declaring a license you state under what permission your work is being released under. This is never som

[2022-04-18 12:30] anhdbbt commented on #16210
thanks, it works!

[2022-04-18 12:30] plotn opened #16219 "Better ctrl+click implementation"
Hi!
When we click control + object name in sql editor we appear in the object editor and this is ok.
But when object was not loaded into memory, we got an error:
![dbeaver_cannot_find](https://user-images.githubusercontent.com/11477081/163807913-978917a4-ffcf-45da-896a-7dd710c285e3.png)
It is ok, because we created table via script and DBEaver dont know about it until object tree reloading.
Could

[2022-04-18 13:04] LonwoLonwo commented on #16077
The New DBeaver version is available.
https://dbeaver.io/download/
Could you please download the latest version and see if the issue is gone there?

[2022-04-18 13:11] DariaMarkaryan opened #16220 "Custom dashboard diagram don't removed after it was deleted in "Manage dashboards""
#### System information:
- Win11
- DBeaver CE 22.0.3

#### Describe the problem you're observing:
Custom dashboard diagram don't removed after it was deleted in "Manage dashboards"

https://user-images.githubusercontent.com/43252954/163813162-8a3d3869-9b7a-4642-a77f-d7eb0caa4808.mp4

#### Steps to reproduce, if exist:
1. Create custom dashboard
2. Add it to  the Dashboard view
![image](https://use

[2022-04-18 13:12] LonwoLonwo commented on #16214
Ok, thanks for the report @urosctd

[2022-04-18 13:15] LonwoLonwo commented on #16219
Ok. Maybe we can refresh metadata during the search process (maybe with the extra option in the Preferences).
Thanks for the report @plotn

[2022-04-18 13:27] PILINING commented on #16132
Hello, I'd like to work on this issue.

[2022-04-18 13:42] LonwoLonwo commented on #16210
Thanks for the answer @anhdbbt

[2022-04-18 13:42] #16210 closed, assigned to nobody

[2022-04-18 13:51] tpiotrowicz commented on #5536
Yes still an issue, would like it configurable to schema level

[2022-04-18 13:58] Matvey16 commented on #16109
@acrey1 Hello, could you please add what version of eclipse do you use?

[2022-04-18 14:04] DariaMarkaryan opened #16224 "Can't save changes in ERD if the only change is "Rearrange""
#### System information:
- Win11
- DBeaver CE 22.0.3

#### Describe the problem you're observing:
1. Make a little mess in the ERD and save it
2. Press "Arrange diagram" button
3. The layout of the tables has changed, but the Save button is not active.
If you reopen the diagram, you can see that the arrangement hasn't been saved

https://user-images.githubusercontent.com/43252954/163819471-dd24f50

[2022-04-18 14:08] flambchap commented on #12559
I think this issue is PG-specific and related to its unique connection handling.

[2022-04-18 15:25] gncoke opened #16226 "Foreign Keys are also showing under Keys section."
#### System information:
- Operating system (distribution) and version -- Windows-10 Pro - 19044.1586
- DBeaver version - Version 22.0.3.202204170718
- Additional extensions

#### Connection specification:
- Database name and version  - DB2 / AS400
- Driver name  - DB2 iSeries/AS 400
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
The latest updat

[2022-04-18 15:27] LonwoLonwo commented on #16226
Yeah, incorrect query. Thanks for the bug report!

[2022-04-18 15:50] LonwoLonwo commented on #16169
Yes, DBeaver 22.0.3 was rereleased because of hotfix.
Could you please download the latest [DBeaver version](https://dbeaver.io/download/) and see if the issue is gone there?

[2022-04-18 16:01] LonwoLonwo commented on #16184
Sorry @fjf2002
I can't reproduce.

Do Ctrl+Z work in other places in your DBeaver?

![uEhyVFBZrA](https://user-images.githubusercontent.com/45152336/163836197-7d672046-ec3f-47c7-9777-8ea3368c4425.gif)

You can check your key bindings in the Preferences -> User Interface -> Keys

[2022-04-18 16:52] daviian commented on #16169
Thank you very much. It' working now.

Is there a possibility to prevent these issues in the future?

[2022-04-18 17:08] kraisor4h4s commented on #16102
This would really help our shop as we are on an IBM iSeries and a lot of areas use the short name.

[2022-04-18 17:14] kraisor4h4s opened #16228 "Feature Request to create a way to select multiple fields at a time when the content assist windows is shown"
Would like to allow you to pick more than one field at a time from a file layout when you prompt using ctrl-spacebar

[2022-04-18 18:02] marktsug commented on #16077
this solution worked for me using Cloudera Impala JDBC Driver 2.5.41.  thanks.

[2022-04-18 19:56] ceinmart commented on #16077
Just downloaded the version 22.0.3 and the problem still occurring with informix connection.
The solution mentioned above , about set delimiter redefiner on driver settings works for me too.
I have a ton of connections, but if set from "Database -> Driver Manager" , you set the configuration to all connection.
That was a acceptable solution....
annoying...but acceptable.

[2022-04-18 21:24] CraigMusser opened #16230 ""Datasource was invalidated" causes zombie connections in Postgres when trying to reconnect after VPN reconnection"
#### System information:
- OS:
  -   Edition	Windows 10 Enterprise
  -   Version	21H2
  -   Installed on	‎8/‎4/‎2021
  -   OS build	19044.1645
  -   Experience	Windows Feature Experience Pack 120.2212.4170.0
- DBeaver Version 22.0.0.202203131528 (Enterprise)

#### Connection specification:
- Connecting to a Postgres database: PostgreSQL 13.3 on x86_64-suse-linux-gnu, compiled by gcc (SUSE Linux) 7

[2022-04-18 22:44] iamhazel commented on #11891
THANK YOU! This worked. I'm connected to a remote MySQL server (PlanetScale). When I added a column to an existing table from the PlanetScale console, it appeared in my table as read only as above.

[2022-04-18 23:02] ryanc-me commented on #11726
For posterity: [`winssh-pageant`](https://github.com/ndbeals/winssh-pageant) is a good stopgap solution until this is fixed in `JSch`.

[2022-04-18 23:19] nicchristeller commented on #16212
Seeing this issue too for queries against Snowflake, but not when using Postgres.

I think this started in 22.0.1 or 22.0.2 - can try older version to verify if needed.

[2022-04-19 01:48] zhicwu opened #16231 "Show nested attribute name according to column definition"
**Is your feature request related to a problem? Please describe.**
Since ClickHouse 22.3, semi-structured data type `JSON`(or `Object('JSON')`) was introduced, and `Tuple` can have both names and types. It's great that #14255 has been addressed, but can we take a step further to show attribute name according to column definition?
![image](https://user-images.githubusercontent.com/4270380/163903429

[2022-04-19 06:24] LonwoLonwo commented on #16169
We are working on it.

[2022-04-19 06:24] #16169 closed, assigned to nobody

[2022-04-19 06:37] LonwoLonwo commented on #16077
We are in the fixing process here https://github.com/dbeaver/dbeaver/issues/16212

[2022-04-19 07:03] AdamDempsey opened #16233 ""File version" property empty for Windows application"
Can the "File version" property be set for the Windows application to allow monitoring of out of date versions by external software.

Obviously would be ideal to be automated as part of the release process.

![image](https://user-images.githubusercontent.com/400100/163944390-39cbd08c-6ac9-4a24-bee0-6f0ff4f30a24.png)

[2022-04-19 08:06] icegood opened #16235 "dbeaver repository jammy (ubuntu 22.04) support"
during upgrade to 22.04 serge-rider repository was disabled since appropriate jammy one is not supported yet...

[2022-04-19 08:08] DariaMarkaryan opened #16236 "Add "Count" to the "Filter by column value" for FK columns"
Columns without references have Count column in Column filter
![image](https://user-images.githubusercontent.com/43252954/163955810-20944d97-297c-4692-8648-15fac85b5acb.png)

But FK columns haven't:
![image](https://user-images.githubusercontent.com/43252954/163955988-1a758437-0b99-4934-bc6c-ed78ae7d1e3c.png)

[2022-04-19 08:10] icegood commented on #16235
manually changed to jammy, no errors after 'apt update'. Seems, repo is working. Not valid

[2022-04-19 08:10] #16235 closed, assigned to nobody

[2022-04-19 08:10] icegood commented on #16235
working

[2022-04-19 08:37] Matvey16 commented on #16212
Verified

[2022-04-19 08:37] #16212 closed, assigned to E1izabeth, Matvey16

[2022-04-19 08:43] Matvey16 commented on #16077
This is caused by previous default values in mentioned above script delimeter redifiner. Should be fixed in 22.0.4 with [#16218](https://github.com/dbeaver/dbeaver/pull/16218)

[2022-04-19 08:57] Matvey16 commented on #12462
Verified

[2022-04-19 08:57] #12462 closed, assigned to ShadelessFox, Matvey16

[2022-04-19 09:14] #16077 closed, assigned to serge-rider, uslss

[2022-04-19 09:20] foobar13372 opened #16238 "Pre-select the correct SSH tunnel profile when entering the edit window"
Have at least two SSH profiles.
Have a connection using a profile that is not listed as the first one.
Click the "edit" button on profile selection in a Database connection setting window.

Expected (would be nice to have): the profile to be edited gets also pre-selected in the profile edit window.
Actual bahviour: the first profile in the list is selected.

(It happened to me that I changed the w

[2022-04-19 10:01] Matvey16 commented on #15064
Verified

[2022-04-19 10:01] #15064 closed, assigned to E1izabeth, Matvey16

[2022-04-19 10:05] mvenghaus opened #16239 "Export SQL without DB Prefix"
Hello,

is there a possibility to export sql without db prefix?

Regards
Marcus

[2022-04-19 11:00] DenverKirrane commented on #15153
Mine is doing this, any updates?

[2022-04-19 11:12] fjf2002 commented on #16184
Thanks your trying to reproduce. Now it works in my installation, too. Strange.

[2022-04-19 11:58] LonwoLonwo commented on #16184
Some magic, maybe.

I'm closing this ticket.
Feel free to reopen it if the issue occurs again.

[2022-04-19 11:58] #16184 closed, assigned to nobody

[2022-04-19 12:02] Destrolaric commented on #16230
This looks similar to the issue described in [12559](https://github.com/dbeaver/dbeaver/issues/12559)

[2022-04-19 12:40] LonwoLonwo commented on #16239
Hello @mvenghaus
If I understood you right, you need to enable this data transfer setting:

![2022-04-19 15_36_56-DBeaver Ultimate 22 0 3 - actor](https://user-images.githubusercontent.com/45152336/164005896-66972f24-1291-4acb-b274-77f572a11fde.png)

[2022-04-19 13:41] james49 opened #16241 "comments no longer recognized since community version 22.0.1"
#### System information:
- Windows 10
- DBeaver version 22.0.2 & 22.0.3
- Java version 8

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

Dbeaver versions <= 22.0.1 ignore the commented lines of this statement.  But not in versions > 22.01.   I thought 22.0.3 would have fixed i

[2022-04-19 13:50] E1izabeth commented on #16241
Hi, @james49! Thank you for bug report! The problem is in the `;` at the end of query and connected to this issue https://github.com/dbeaver/dbeaver/issues/16077. As a workaround you can try this https://github.com/dbeaver/dbeaver/issues/16077#issuecomment-1099991921.

But anyway it will be fixed in 22.0.4 with https://github.com/dbeaver/dbeaver/pull/16218. So, I'll close this issue.

If you encou

[2022-04-19 13:50] #16241 closed, assigned to nobody

[2022-04-19 14:29] james49 commented on #16241
@E1izabeth Thank you for the update!  I tried to look for any open issue that was similar, but nothing looked relevant at the time.

[2022-04-19 14:43] Petrosophia opened #16242 "Trailing semicolons cause queries not to run"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 22.0.3 (also happens on 22.0.2)
- Additional extensions: None

#### Connection specification:
- Database name and version: Netezza
- Driver name: jdbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Attempting to run any query for which there is a

[2022-04-19 14:47] E1izabeth commented on #16242
Hi, @Petrosophia! Thank you for bug report! It has been already reported here [#16077](https://github.com/dbeaver/dbeaver/issues/16077). As a workaround you can try this [#16077 (comment)](https://github.com/dbeaver/dbeaver/issues/16077#issuecomment-1099991921).
The bug will be fixed in 22.0.4 with [#16218](https://github.com/dbeaver/dbeaver/pull/16218). I'll close this issue.
If you encounter the

[2022-04-19 14:48] #16242 closed, assigned to nobody

[2022-04-19 14:48] Matvey16 commented on #16207
Verified

[2022-04-19 14:48] #16207 closed, assigned to LonwoLonwo, Matvey16

[2022-04-19 15:06] alwonder commented on #10184
Joining this conversation. The scroll is very frustrating now. We really want it to be fixed.

Thanks for your work btw.

[2022-04-19 21:41] eric-g-97477 opened #16245 "ERROR: relation "pg_temp.session_vars" does not exist"
I am using Version 22.0.2.202204041542

I can successfully connect to a PostgreSQL database, view the tables and the data they contain, and execute queries against the database.

However, when I try to execute an UPDATE, I get the following error:
[code]
I believe this is related to issues:

https://github.com/dbeaver/dbeaver/issues/2845
https://github.com/dbeaver/dbeaver/issues/1330

but neither

[2022-04-19 22:31] amurphy-tpc commented on #5258
@LonwoLonwo This still happens in Version 22.0.3.202204170718. The workaround does work for me.

[2022-04-19 23:58] echan888 opened #16246 "Enable multi-row value insert for Trino JDBC connector"
Import Data from CSV is slow and is performed as multiple single row insert statements.

The need for multi-row value value insert is addressed in [https://github.com/dbeaver/dbeaver/issues/11425](url) but the fix enables the feature only for

- PostgreSQL
- Redshift
- Greenplum
- Cockroach
- MySQL/MariaDB
- SQLServer
- SQLite
- DB2
- Exasol

Please add multi-row value insert for Trino JDBC connec

[2022-04-20 06:40] foobar13372 opened #16247 "SSH (with SSHJ) does work for all servers except one"
I'm using Ubuntu 21.10 with DBeaver 22.0.3.

I have mutliple SSH profiles configured, _all_ using the bundled SSHJ with the exact same connection settings. The only difference is the hostname, port and username, of course. _All_ use the same private key, of this format: `-----BEGIN RSA PRIVATE KEY-----`

However, on _one single of these_ connections I get the error `Exhausted available authenticat

[2022-04-20 06:43] LonwoLonwo commented on #5258
Ok @amurphy-tpc

Let's try to figure out your problem.

You can't open the schemas list in a non-default database? Like on the screen?

![2022-04-20 09_35_23-DBeaver Ultimate 22 0 3 - _MySQL 8 0_Script-150](https://user-images.githubusercontent.com/45152336/164166394-bba27112-1146-4627-bc6e-90f09e2e6b33.png)

As I can see on the Internet: "Cross-database queries aren't supported in SQL Azure."

In

[2022-04-20 06:47] Matvey16 commented on #16194
Verified

[2022-04-20 06:47] #16194 closed, assigned to serge-rider, Matvey16

[2022-04-20 06:52] MMillett123 opened #16248 "UI not displaying databases even though they are connected"
#### System information:
- Operating system (distribution) and version DELL Inc. Latitude 5420
- DBeaver version - 7.3.3
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

I installed it on my computer but there are no databases showing up after I have con

[2022-04-20 07:02] foobar13372 commented on #16247
Ah, I added a new private key for my user, using ed25519. Now it works also in DBeaver.

So, I think the bug actually is: a SSH connection from DBeaver does only work if client and server use the same key algorithm, But this is clearly a bug, possibly of SSHJ.

In assymetric encryption it's totally valid that both directions use different algorithms. The client encrypts with the server pubkey algo

[2022-04-20 07:22] Matvey16 commented on #13290
Verified

[2022-04-20 07:22] #13290 closed, assigned to LonwoLonwo, Matvey16

[2022-04-20 07:51] Matvey16 commented on #16163
Verified

[2022-04-20 07:51] #16163 closed, assigned to LonwoLonwo, Matvey16

[2022-04-20 07:52] LonwoLonwo commented on #16246
Can you please specify what Trino connector you use?

[2022-04-20 08:01] serge-rider commented on #13186
I can't reproduce this anymore.
Probably the problem was resolved in one of previous data save fixes

[2022-04-20 08:01] LonwoLonwo commented on #16246
And ok, I see that multi-insert is supported by Trino: https://trino.io/docs/current/sql/values.html

[2022-04-20 08:06] LonwoLonwo commented on #16245
Can you please tell me more about your PG database and driver? Versions in the first place.

Also, you can find "Show utility objects" checkbox in your connection settings:

![2022-04-20 11_03_28-DBeaver Ultimate 22 0 3 - reason](https://user-images.githubusercontent.com/45152336/164181254-5ae578d3-4b47-4d12-9d9e-29f21bd59aec.png)

[2022-04-20 08:40] FluffyRotkat commented on #16185
solved in 22.03

[2022-04-20 08:40] #16185 closed, assigned to nobody

[2022-04-20 08:56] Matvey16 commented on #13215
Verified

[2022-04-20 10:16] ShadelessFox commented on #16248
Hello @MMillett123,

Could you please send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

Thank you.

[2022-04-20 10:26] ShadelessFox commented on #16247
Hello @foobar13372,

Your issue seems to be similar to #4013. It was closed because it was stated that SSHJ now supports this type of an elliptic curve.

However, the version of the SSHJ that we package is quite outdated (0.27.0), we need to upgrade it to the latest version (0.32.0).

[2022-04-20 10:28] ShadelessFox commented on #16248
I just noticed that your DBeaver version is quite old.

Could you please download the latest version instead and see if the issue is gone there? https://dbeaver.io/download/

[2022-04-20 11:48] Matvey16 commented on #16226
Verified

[2022-04-20 12:27] eric-g-97477 commented on #16245
Trying to track down the driver information.

[code]

[2022-04-20 12:30] Marco-InForge opened #16250 "format SQL introduce blank before underscore"
#### System information:
- Operating system (distribution) and version: Linux 5.16.20-200.fc35.x86_64
- DBeaver version: community Version 22.0.3.202204170718

#### Connection specification:
Not relevant

#### Describe the problem you're observing:
If a query as a database with a name starting with a number followed by an underscore
`select * from 2015_autovetture.tblmarca t;`
the "Format SQL" pro

[2022-04-20 12:55] LonwoLonwo commented on #16250
Hello @Marco-InForge

Thanks for the bug report.

This ticket is duplicate of https://github.com/dbeaver/dbeaver/issues/15605
You can read discussion about this problem there.

[2022-04-20 12:55] #16250 closed, assigned to nobody

[2022-04-20 13:24] eric-g-97477 commented on #16245
I believe this is the driver information you are looking for.

![image](https://user-images.githubusercontent.com/98830008/164240257-b74eb45d-386c-4528-aea8-949bbae09c33.png)

[2022-04-20 13:49] liuzhe101 opened #16251 "m1 max cannot see new fields"
#### System information:   12.3.1
- Operating system (distribution) and version
- DBeaver version。22
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

m1 max run

[2022-04-20 14:06] ShadelessFox commented on #9326
We need to investigate the issue from the developer's perspective. It doesn't seem to be a platform-specific issue.

[2022-04-20 14:08] ShadelessFox commented on #16197
Hello @Lewonna,

Thanks for the feature request.

We will include columns information in the auto-completion popup.

[2022-04-20 14:08] ShadelessFox commented on #16215
Hello @dvalchev,

Thanks for the bug report.

[2022-04-20 14:09] ShadelessFox commented on #16228
Hello @kraisor4h4s,

Thanks for the feature request.

[2022-04-20 14:09] ShadelessFox commented on #16233
Hello @AdamDempsey,

Thanks for the feature request.

[2022-04-20 14:10] ShadelessFox commented on #16238
Hello @foobar13372,

Thanks for the feature request. Such small details are always cool 🙂

[2022-04-20 14:12] ShadelessFox commented on #16251
Hello @liuzhe101,

Can you please record a video showing the issue?

Thank you.

[2022-04-20 14:22] LukasBreit opened #16252 "Inline edit - Logical file with keyword UNIQUE used as primary key"
#### System information:
- IBM I series 7.3
- DBeaver version 7.3.0

#### Connection specification:
- DB2

#### Describe the problem you're observing:
We are using the inlinde edit funtion to change values in a database table. As our database tables are without primary keys DBeaver is usually asking to take all columns as primary key and does the update afterwards with them.
A problem occured now

[2022-04-20 14:40] liuzhe101 commented on #16251
ok, thanks you for your reply ,  this is the recorded video

https://user-images.githubusercontent.com/61652514/164256274-1c6ffb44-220f-40a9-89f0-acbcd5648dd8.mp4

[2022-04-20 14:42] liuzhe101 commented on #16251
please,watch

[2022-04-20 15:00] ShadelessFox commented on #16251
DBeaver cannot detect metadata modifications via DDL.

You need to manually refresh the metadata editor to see any changes made in the SQL editor.

[2022-04-20 15:05] liuzhe101 commented on #16251
esides closing the app, how should I refresh，How to do it? I think this aspect can be optimized. I have used PL/SQL developer before and can do this without refreshing.

[2022-04-20 15:20] miguelbrandao opened #16253 "Refresh all open tables"
**Is your feature request related to a problem? Please describe.**
When working with multiple related tables, it's tiresome to always have to switch to and refresh all of them individually to see the changes.

**Describe the solution you'd like**
A button and shortcut that refreshes all currently open tables. It could be next to the existing "Refresh result set" button.

**Describe alternatives yo

[2022-04-20 15:26] ShadelessFox commented on #16251
You can refresh the editor by right-clicking in it and selecting `Refresh` action:

![image](https://user-images.githubusercontent.com/35821147/164266295-9c34ebc9-b4ab-4a6e-b989-c88cd0ccdf4c.png)

PL/SQL Developer, by design, only supports Oracle database. DBeaver is a universal tool, so it may lack some specific features.

[2022-04-20 15:29] LonwoLonwo commented on #16245
Ok. Is your update connected to any temp tables?

Did enabling of "Show utility objects" help?

[2022-04-20 15:30] liuzhe101 commented on #16251
Thank you very much, this may be the current solution, whether it can be refreshed when Command+click is completed after executing DDL, which will make the experience better

[2022-04-20 15:34] echan888 commented on #16246
Hello @LonwoLonwo, I use the one with the cute bunny. Thank you.

![image](https://user-images.githubusercontent.com/83606824/164267836-9b23791f-db72-407c-9c9d-f1d0d5f0e850.png)

[2022-04-20 15:38] LonwoLonwo commented on #16246
Thanks for the answer @echan888

[2022-04-20 16:59] echan888 commented on #16246
Hello @LonwoLonwo,

I also noticed that during Import Data from CSV, the SQL insert statements generated are missing the quotes. So for example:

Here's what the CSV file looks like:

"dx_id","dx_name"
"1201","TYPHOID FEVER"
"1202","SALMONELLA GASTROENTERITIS"

Here's the target table definition:
CREATE TABLE catalog_name.schema_name.table_name
(
  dx_id VARCHAR,
  dx_name VARCHAR
)...

During Imp

[2022-04-20 17:13] LonwoLonwo commented on #16246
What DBeaver version do you use?

Can you provide a screen of your table with columns in DBeaver?

[2022-04-20 17:51] amurphy-tpc commented on #5258
That is correct. The real issue is that I have at least 22 databases on one dev server. It is not ideal to have to create so many connections. Other DB IDEs don't seem to have this problem, but I prefer to use DBeaver.

To be clear, I don't need to run queries cross-database, just connect, view, and edit tables.

[2022-04-20 18:01] echan888 commented on #16246
![image](https://user-images.githubusercontent.com/83606824/164292727-a96127e6-a3b4-4174-a43c-0226a3eb40ae.png)

Here's the target table @LonwoLonwo

![image](https://user-images.githubusercontent.com/83606824/164293866-ef00bf88-fe55-4c62-849d-e07f8ce1b301.png)

[2022-04-20 18:32] eric-g-97477 commented on #16245
No, "Show Utility Objects" didn't help.

My UPDATE is just something like:

`UPDATE the_table SET a_column = 'Dramatic' WHERE another_column = '42d'`

My current line of thought is that this is outside the scope of DBeaver and had more to do with how the Postgres DB is configured...

[2022-04-20 19:20] echan888 commented on #16246
Hello @LonwoLonwo,

Here's some additional information. If the target table column is defined with a length, e.g. VARCHAR(100), instead of just VARCHAR, the Import Data works correctly and includes the quotes in the INSERT statement.

Here's the INSERT statement generated by DBeaver:

 INSERT INTO catalog_name.schema_name.table_name (dx_id,dx_name)
	VALUES ('1201','TYPHOID FEVER')

Here's the targ

[2022-04-20 19:30] jhatcher9999 opened #16255 "Support displaying sequences for CockroachDB"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
When you use DBeaver to connect to CockroachDB, you can see the tables, views, etc. in the "explorer" view, but you don't see a list of sequences.  I'd love to be able to interact with CockroachDB seque

[2022-04-20 19:39] Matvey16 commented on #10845
Still reproducible

![VirtualBoxVM_rSvPoUTmar](https://user-images.githubusercontent.com/82543000/164309539-3df8ed5f-c8d0-42ac-8aa7-7a720f9bac2e.png)
![VirtualBoxVM_VD2EYjRP63](https://user-images.githubusercontent.com/82543000/164309563-f69a8d0a-65bf-4459-b7e3-3fb37777ca5a.png)

[2022-04-20 20:19] rgill-jama opened #16256 "ArangoDB Datasource"
**Is your feature request related to a problem? Please describe.**
Currently, there is no option to connect to ArangoDB.  Will this be coming?

**Describe the solution you'd like**
Allow a datasource to connect to ArangoDB

**Describe alternatives you've considered**
None

**Additional context**
We would like to be able to connect to ArangoDB.  If you support Neo4j then I am sure ArangoDB would be

[2022-04-20 20:23] Kunthera opened #16257 "DBeaver Mac Connection Settings Does Not Show SSH Tab"
#### System information:
- Operating system (distribution) and version:  MacOS Monterey 12.3.1 (21E258)
- DBeaver version: 22.0.3.202204170718
- Additional extensions

#### Connection specification:
- Database name and version: Postgres 14
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  SSH with private key file

#### Describe the problem you're observing:
On creation of connecti

[2022-04-20 21:24] LonwoLonwo commented on #16246
![2022-04-21 00_07_23-(1) Enable multi-row value insert for Trino JDBC connector · Issue #16246 · dbea](https://user-images.githubusercontent.com/45152336/164324294-35a6bb43-7b31-44b8-807c-54644f3ea11e.png)

Yes, the question mark means that the datatype didn't recognize.

[2022-04-20 23:03] acrey1 commented on #16109
Eclipse Version is 2022-03, but I had the same problem with 2021-12.

[2022-04-21 00:36] MMillett123 commented on #16248
Hi there - thanks for your help!!
I unfortunately can't upload my Log file becuase it has source code, but I can send one small part.

"The project description file (.project) for 'General' is missing.  This file contains important information about the project.  The project will not function properly until this file is restored."

It says this - along with a lot more but they look like script, th

[2022-04-21 01:13] ShadelessFox commented on #16248
It's a clue, but we need to see the whole picture.

I believe what you refer to as "source code" is a stack trace. Since you are, presumably, using the community edition of DBeaver, it's free and open-source, you can browse its source code right here, on GitHub, by opening the `Code` tab.

So don't worry about sharing any sensitive data - debug logs don't contain such.

[2022-04-21 01:24] usoa opened #16262 "Eclipse Dbeaver plug-in and SAP Hana development plug-in right click conflict"
**Eclipse Platform**
Version: 2021-12 (4.22)
Build id: I20211124-1800

**SAP Development Tools for Eclipse 2021-12**
SAP Development Tools for Eclipse 2021-12 - https://tools.hana.ondemand.com/2021-12

**DBeaver CE Repository 22.0.3.202204170718**
DBeaver CE Repository - https://dbeaver.io/update/latest/

When I install Dbeaver plug-in and SAP Hana development plug-in in the Eclipse platform at th

[2022-04-21 01:34] liuzhe101 commented on #16251
Thanks

[2022-04-21 03:55] liuzhe101 commented on #16251
When I add a new table, click to report an error, how can I refresh it, reconnecting the database will not work, and refreshing will not work, I need to close dbeaver22 and open it again

[2022-04-21 04:37] ShadelessFox commented on #16251
To refresh tables, you need to refresh the scheme or any top-level using the same shortcut or context menu action:

![image](https://user-images.githubusercontent.com/35821147/164373060-29b9eab1-00e7-42eb-a115-cb190c6202f6.png)

[2022-04-21 06:41] #16226 closed, assigned to LonwoLonwo, Matvey16

[2022-04-21 06:42] #13215 closed, assigned to LonwoLonwo, Matvey16

[2022-04-21 07:36] Matvey16 commented on #7831
Property value always resets to 18 after restart

[2022-04-21 08:23] Matvey16 commented on #14731
Incorrect formatting for decimals with more than zero digits after decimal point. The first number in decimal for example 5,3 is total digits, but zeroes are added ignoring digits after decimal point

![dbeaver_6LTIiA25zG](https://user-images.githubusercontent.com/82543000/164412400-edcadcda-4ed0-4fd9-b724-fcd558bfa52f.png)
![dbeaver_B2QbnaG4gq](https://user-images.githubusercontent.com/82543000/1

[2022-04-21 08:28] fburelli opened #16263 "error etl oracle to postgres"
#### System information:
- Operating system windows 10
- DBeaver version 21.x and 22.x

#### Connection FROM specification:
- Database Oracle spatial
- version 12c (enterprise release 12.2.0.1.0 64 bit)
- Driver name: oracle.jdbc.OracleDriver (com.oracle.database.jdbc:ojdbc8:RELEASE[12.2.0.1])
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NO

#### Connection TO specification:
- Database Postg

[2022-04-21 08:51] LonwoLonwo commented on #16263
Hello @fburelli

Can you provide a source table DDL?
And screen of Columns mapping dialog?

![2022-04-21 11_48_34-DBeaver Ultimate 22 0 3 - TEST_GEOMETRY](https://user-images.githubusercontent.com/45152336/164417615-aadffe1b-f0f9-405d-82a6-d5d5b670794d.png)

 Also, what do you mean about "geometry column ON Postgres DB are invalid"?

Please check [log files](https://github.com/dbeaver/dbeaver/wiki

[2022-04-21 09:28] Matvey16 commented on #15519
Hello @p91paul maybe you have some specific settings. I was not able to reproduce it

![image](https://user-images.githubusercontent.com/82543000/164424900-ffd239e8-8820-4331-8a06-dc02887c9907.png)

[2022-04-21 10:12] Matvey16 commented on #16066
Verified

[2022-04-21 10:33] DariaMarkaryan opened #16264 "Seems that behaviour of nullable/not null has changed in Clickhouse"
#### System information:
- Win11
- DBeaver version CE 22.0.4

#### Connection specification:
- Clickhouse

#### Describe the problem you're observing:
There are tests that compare exported files from the database (in particular, from the clickhouse) with the reference ones. Recently they started to fall (they definitely worked a week ago) because the data in the table has changed.
This is what the

[2022-04-21 10:35] dancodedev opened #16266 "Results missing on search query"
#### System information:
- Operating system: **windows 11**
- DBeaver version: **22.03**

#### Connection specification:
- Database name: **laravel_performance mysql 5.7.33**
- Driver name: ** I don´t know**

#### Describe the problem you're observing:

**Table Structure**
[code]

You try to search for duplicates and with this query they do not appear. But using another program if they appear.
[co

[2022-04-21 11:05] fburelli commented on #16263
Column table source and destination are the same. Field mapping is one 2 one for completed data export.
Geometry format on destination table, appear with list of coordinates but not correctly formatted.
I'm sorry but don't have screenshot becouse i have downgrade software without save screen.

Table layout
![table-layout](https://user-images.githubusercontent.com/104130770/164444718-0e75b549-0a16-

[2022-04-21 11:15] lackovic opened #16267 "Git plugin installation (aka Team work) gets uninstalled on every update"
#### System information:
- Operating system and version: Windows 10 21H1
- DBeaver version: `22.0.3`
- Additional extensions: **Git Support plugin**

#### Connection specification:
- Database name and version: irrelevant
- Driver name: irrelevant

#### Describe the problem you're observing:

Every time I upgrade DBeaver to its latest version the Git Support plugin gets removed and I must install i

[2022-04-21 12:32] #16066 closed, assigned to E1izabeth, Matvey16

[2022-04-21 12:32] #15656 closed, assigned to ShadelessFox, Matvey16

[2022-04-21 12:38] ShadelessFox commented on #15656
Implemented:

![image](https://user-images.githubusercontent.com/35821147/164269579-a114c1b6-6be5-4e52-aa67-ac06c5cbe54f.png)

[2022-04-21 13:07] LonwoLonwo commented on #16263
Ok. Can you provide a sample of data your "GEOM" "SDO_GEOMETRY" column?
Example of incorrect data will be also helpfull.

[2022-04-21 13:17] E1izabeth opened #16270 "Error highlighting update issue"
DBeaver 22.0.3

Error highlighting sometimes does not disappear when the error is fixed.

https://user-images.githubusercontent.com/28875055/164465792-4648e6f0-1119-4bcd-a434-163946411713.mp4

[2022-04-21 14:27] #15068 closed, assigned to E1izabeth, Matvey16

[2022-04-21 14:56] mbulelo-damba commented on #6213
I figured it out. I had the same issue when I was using `NVARCHAR` as a data type. I changed it to `VARCHAR` and the data is visible.<br><br>
![hotels](https://user-images.githubusercontent.com/31652913/164740131-abd50943-1b4f-45cf-8f0b-5202ce192785.PNG)

[2022-04-21 14:57] fburelli commented on #16263
this is error from the screen.
![image](https://user-images.githubusercontent.com/104130770/164485949-52feb13d-fd5b-4d95-ae6f-ee90caccb244.png)

[2022-04-21 15:01] fburelli commented on #16263
this is the csv export with erro
[SVP_ZONA_202204211659.csv](https://github.com/dbeaver/dbeaver/files/8532142/SVP_ZONA_202204211659.csv)
r

[2022-04-21 15:04] #16251 closed, assigned to nobody

[2022-04-21 15:17] BoxingLaunch commented on #15656
Looks great, thanks!

[2022-04-21 15:51] ghost commented on #5693
I would like to have this feature also.

[2022-04-21 17:02] LonwoLonwo commented on #16255
Thanks for the idea @jhatcher9999

[2022-04-21 17:16] LonwoLonwo opened #16273 "[MySQL/MariaDB] incorrect privileges presentation."
DBeaver 22.0.3
MySQL 8

Privileges incorrect double or trip in the admin privileges list.

![2022-04-21 20_12_29-DBeaver 22 0 2 - root@localhost](https://user-images.githubusercontent.com/45152336/164514820-389c6fb5-1aef-4e7d-a4b1-3d260abdcb1f.png)

[2022-04-21 17:58] DylanBranch opened #16276 "Querying more that 6 columns returns an error"
#### System information:
- Operating system (distribution) and version: MacOs Montery 12.1 (m1 chip)
- DBeaver version Version 22.0.3.202204170718
- Additional extensions no

#### Connection specification:
- Database name and version prestoDB 0.272
- Driver name prestoDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Hey there,
anytime I try to q

[2022-04-21 19:27] LonwoLonwo commented on #5258
Ok.

[2022-04-21 19:29] LonwoLonwo commented on #5258
At first step we can remove non default databases (with option in Connection settings), as we did it to PostgreSQL, Oracle and Netezza.

[2022-04-22 02:40] maxs-marcel opened #16280 "查看表时如果能平滑滚动就好了"
您好, 我是mac用户, 非常喜欢这款数据库管理工具, 但仍然希望能做到查看表数据时能够像DataGrip一样平滑滚动, 这样对我们查看较多字段的数据表时有很大帮助. 期待改进

[2022-04-22 06:26] Lewonna commented on #16154
Hello, I updated the app but it doesn't work.

I deliberately created three errors.
Result window is empty (Although according to the task #13964 it should have an error with the "Go to Error" button).

![image](https://user-images.githubusercontent.com/43236226/164615690-ae46d9e9-8ff2-479a-b40e-981b3d41a986.png)

[2022-04-22 06:41] SSSDNSY opened #16281 "Copy Only this one Column? 就复制这一列？"
![image](https://user-images.githubusercontent.com/15624361/164616764-7cbd877b-9594-40aa-9938-933f4f45cfda.png)

[code]
[code]

[2022-04-22 07:53] E1izabeth commented on #16280
Hi, @maxs-marcel! Thank you for reporting.
I hope the conversation in these tickets https://github.com/dbeaver/dbeaver/issues/6536 , https://github.com/dbeaver/dbeaver/issues/10184 will help you.
I'll close this ticket as it dublicates https://github.com/dbeaver/dbeaver/issues/10184.

[2022-04-22 07:53] #16280 closed, assigned to nobody

[2022-04-22 08:03] ajperez81 opened #16282 "Can't switch off the "Save/restore active schema" option"
#### System information:
- Operating system: Windows 10 Pro 2004
- DBeaver version: 22.0.3 community edition
- Additional extensions: none

#### Describe the problem you're observing:
The "save/restore active schema" preference can't be switched off.

#### Steps to reproduce, if exist:
1. Open the "Window > Preferences" dialog and select the "Editors > SQL Editor" pane.
2. Uncheck the "Auto-save >

[2022-04-22 08:12] E1izabeth commented on #16282
Hi, @ajperez81! Thank you for bug report!

[2022-04-22 09:20] rccc commented on #14930
same for me in Version 22.0.3.202204170718, icon is grey, not active. Sometimes it works.

[2022-04-22 10:51] dmamchyts opened #16285 "DBeaver SSHJ install error"
#### System information:
- Operating system (distribution) and version - Linux dmamchyts-m16 5.13.0-40-generic #45-Ubuntu SMP Tue Mar 29 14:48:14 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
- DBeaver version - Start DBeaver Standalone [org.jkiss.dbeaver.ui.app.standalone 22.0.3.202204170718]
- Additional extensions - try to install sshj

#### Describe the problem you're observing:
Can not install sshj

[2022-04-22 12:18] Matvey16 commented on #16285
Hello @dmamchyts You don't need to install SSHJ anymore, it is included in a base installer. Simply select it in advanced settings of SSH for the connection

[2022-04-22 12:19] #16285 closed, assigned to nobody

[2022-04-22 12:23] Matvey16 opened #16286 "Option to open system explorer after export is automatically unchecked for saved tasks after restart"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.3

#### Steps to reproduce, if exist:
1. Open data export wizard
2. On the "Output" step check the option to open explorer on finish
3. Save the task
4. Restart DBeaver
5. Run the task

**Expected:** System explorer is opened when the the export is finished
**Actual:** Option to open system explorer

[2022-04-22 13:03] #15126 closed, assigned to E1izabeth, Matvey16

[2022-04-22 13:03] #16270 closed, assigned to ShadelessFox, Matvey16

[2022-04-22 13:03] #14680 closed, assigned to Destrolaric, Matvey16

[2022-04-22 13:16] dmamchyts commented on #16285
Hi @Matvey16 ,

Thank you, for your answer.
But can you explain why I can't connect to server by *privatekey* and without *passphrase*.

I am select SSHJ:

[code]

[2022-04-22 17:30] daevidvincent commented on #13007
Can this bug get fixed on Windows already? It seems it's been broken for as long as I've used DBeaver CE... There is no option to pick to make the column headings full width. They're always squished to the data value size.

This says it's closed, but it doesn't work :( https://github.com/dbeaver/dbeaver/issues/6045

![image](https://user-images.githubusercontent.com/20825058/164764878-699c4689-2ed

[2022-04-22 17:32] daevidvincent commented on #6045
Can this bug please get fixed... I'm in `22.0.3` and it's **still not working correctly on Windows 10**. How do we re-open this bug @uslss ?
![image](https://user-images.githubusercontent.com/20825058/164765147-7e6eba4a-fe61-4fee-9ba9-a766e2543ea5.png)

[2022-04-23 10:03] PILINING commented on #16132
It seems that the problem arises in the determination of the starting character of the word when the word is detected.

When '_' is detected, `isUnicodeIdentifierStart('_')` in `isWordStart()` will return false, which causes evaluate to return `TPTokenAbstract.UNDEFINED`.

So my idea is to add a judgement on ' _ '  to `isWordStart()` so that it will return true when '_' is encountered.
This seems

[2022-04-23 10:09] #16282 closed, assigned to E1izabeth, DariyaFedorova

[2022-04-23 10:10] #16273 closed, assigned to DariyaFedorova, LonwoLonwo

[2022-04-23 10:10] #13727 closed, assigned to E1izabeth, DariyaFedorova

[2022-04-23 10:11] #15037 closed, assigned to E1izabeth, DariyaFedorova

[2022-04-23 10:11] #13395 closed, assigned to DariyaFedorova, LonwoLonwo

[2022-04-23 17:47] Tazhio commented on #16152
I want to work on this, I'll PR my changes soon.

[2022-04-24 01:20] tianlongJ opened #16289 "Dbeaver column data filter function"
Dbeaver列数据筛选功能能否做成navicat那样，现在的搜索太难用了，要来回拖动

Can the Dbeaver column data filtering function be made like navicat? The current search is too difficult to use, and it has to be dragged back and forth

[2022-04-24 12:00] Tazhio commented on #16152
<img width="578" alt="image" src="https://user-images.githubusercontent.com/39872036/164975298-ac12fa37-bca1-4661-8cf1-e911b89f570a.png">
<img width="145" alt="image" src="https://user-images.githubusercontent.com/39872036/164975329-290c3f3b-6edc-446c-a2f7-cb778810b5eb.png">
<img width="254" alt="image" src="https://user-images.githubusercontent.com/39872036/164975337-7b7f5a1a-16b2-445f-9736-30d8d

[2022-04-24 17:10] CalmaKarma commented on #16172
Hi, @Matvey16 . I'd like to work on this issue!

[2022-04-24 17:54] CalmaKarma commented on #16172
@Matvey16 I do not think it's a bug, but an intentional feature.

To demonstrate, for example, there are two lines of code. I put a text cursor in the first line(regardless of inserted between letters or selecting letters), and I right-click on the second line:

1. In some cases using other editors like PyCharm, it will first place the text cursor to the second line, and the context menu will alwa

[2022-04-24 20:17] CalmaKarma commented on #15203
@tati-kru Hi! I'd like to work on this issue!

[2022-04-24 22:40] CalmaKarma commented on #16009
@LonwoLonwo @NY5667 How did you write to the single file as the option is not available for SQL export?

And when trying to reproduce, I find two bugs.

1. If I enable "write to the single file" when exporting to txt, and then export to SQL where the option in not available, the setting in last step confirm of "write to the single file" is still yes. But the export result is still seperate files.

[2022-04-24 22:43] jmagnone opened #16293 "Restore Database Navigation Expanded/Collapsed state after restarts"
**Is your feature request related to a problem? Please describe.**
I have a list of database connections configured and showing under the Database Navigation pane. Usually, I keep the tree organized with the connections that I use the most expanded, and I keep all other nodes collapsed.

But when Dbeaver is restarted, all the nodes in the Database Navigation pane appear collapsed.

![image](https:

[2022-04-25 03:46] qq5411123 opened #16294 "Don't Synchronized data structures!!!"
Navicat has this feature！But dbeaver haven't! It's very needed at work！

[2022-04-25 05:04] LonwoLonwo commented on #16009
Recently the option "Write to the single file" was disabled for SQL files. But it will be restored in the subsequent releases: https://github.com/dbeaver/dbeaver/issues/16204

And the second case is the bug, yes.

[2022-04-25 05:25] CalmaKarma opened #16295 "Rows misplaced when exporting to .txt file"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 22.0.4

#### Describe the problem you're observing:
The export wizard is not performing correctly when exporting to TXT files with "write to the single file" enabled.
For the latter files exported(or appended) to the single file, their column names are replaced with the first row.
![image](https:/

[2022-04-25 05:25] CalmaKarma commented on #16295
And I'd like to work on this issue if review is passed!

[2022-04-25 05:32] CalmaKarma commented on #16009
Yes, I saw that DataExporterSQL does not implement the IAppendableDataExporter interface when I was trying to trace this bug.
I have posted the second case to an issue: [#16295](https://github.com/dbeaver/dbeaver/issues/16295)
@LonwoLonwo Could you review it and assign it to me if possible? Thanks!

[2022-04-25 05:36] CalmaKarma commented on #16204
Hi @Matvey16 , I'd like work on it if possible! I've been looking into related issues and have some clue for this one.

[2022-04-25 07:17] hski-github commented on #15617
Here is the original error message. Is forced password reset possible for other database types like Oracle or MS SQL?

`SQL-Fehler [414] [HY000]: SAP DBTech JDBC: [414]: user is forced to change password: alter password required for user`

![image](https://user-images.githubusercontent.com/1921015/165039094-531cf42b-30f4-474a-b328-f8785fb81eb9.png)

[2022-04-25 07:20] LonwoLonwo commented on #15617
Changing the forced password works for Oracle in DBeaver.

And for some other databases: https://github.com/dbeaver/dbeaver/wiki/Change-current-user-password

[2022-04-25 07:29] Matvey16 commented on #7831
Verified

[2022-04-25 07:30] sandermarechal opened #16296 "Very slow download speeds from debian repository"
I am using the https://dbeaver.io/debs/dbeaver-ce debian repository to install dbeaver. Problem is that the download speed from that repository is very slow, usually around or below 200 kbps. I am on gigabit fiber so I am pretty sure that the problem is not on my end. Other downloads are fast for me. With the dbeaver package being well over 100mb and getting frequent updates, this often means very

[2022-04-25 07:43] puwadon-book opened #16297 "Can't build on Windows 11"
I can't build from sources

#### System information:
- Window 11
- DBeaver 22.03
- Java version  11
-
[INFO] org.jkiss.dbeaver.ext.oracle.test 1.0.7-SNAPSHOT ... SUCCESS [  0.319 s]
[INFO] org.jkiss.dbeaver.ext.postgresql.test 1.0.37-SNAPSHOT SUCCESS [  0.261 s]
[INFO] org.jkiss.dbeaver.ext.test 1.0.184-SNAPSHOT ........ SUCCESS [  0.440 s]
[INFO] DBeaver CE Standalone 22.0.3-SNAPSHOT ............

[2022-04-25 08:34] #16286 closed, assigned to ShadelessFox, DariyaFedorova

[2022-04-25 08:35] #14731 closed, assigned to ShadelessFox, Matvey16

[2022-04-25 08:36] #15876 closed, assigned to ShadelessFox

[2022-04-25 08:40] uslss commented on #13186
#15071

[2022-04-25 08:40] #13186 closed, assigned to serge-rider, uslss

[2022-04-25 08:47] uslss commented on #16293
Hi @jmagnone , mentioned behavior could be changed in Preferences. Also, restore depth could be set. Does it resolve your issue?
![image](https://user-images.githubusercontent.com/31996417/165053741-c0ed9801-4c1a-4e14-946d-33dcdf199413.png)

[2022-04-25 08:49] uslss commented on #16289
@tianlongJ could you provide some examples of the feature you need?

[2022-04-25 09:16] uslss commented on #16267
thanks for the report
closed as a duplicate of #5317

[2022-04-25 09:16] #16267 closed, assigned to nobody

[2022-04-25 09:27] uslss commented on #15899
thanks for the report and clarification

[2022-04-25 09:29] uslss commented on #15229
there is no update on the issue for a long time. If it is still reproducible against the recent version - feel free to reopen it.

[2022-04-25 09:29] #15229 closed, assigned to nobody

[2022-04-25 09:30] uslss commented on #15973
there is no update on the issue for a long time. If it is still reproducible against the recent version - feel free to reopen it.

[2022-04-25 09:30] #15973 closed, assigned to nobody

[2022-04-25 09:30] #15359 closed, assigned to nobody

[2022-04-25 10:13] uslss commented on #15753
There has been no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info.

[2022-04-25 10:13] #15753 closed, assigned to nobody

[2022-04-25 10:14] uslss commented on #15948
There has been no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info.

[2022-04-25 10:14] #15948 closed, assigned to Destrolaric

[2022-04-25 10:14] uslss commented on #15791
There has been no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info.

[2022-04-25 10:14] #15791 closed, assigned to Destrolaric

[2022-04-25 10:15] uslss commented on #15826
There has been no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info.

[2022-04-25 10:15] #15826 closed, assigned to nobody

[2022-04-25 10:18] uslss commented on #15975
There has been no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info.

[2022-04-25 10:18] #15975 closed, assigned to nobody

[2022-04-25 10:24] uslss commented on #15967
There has been no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info.

[2022-04-25 10:24] #15967 closed, assigned to nobody

[2022-04-25 10:24] uslss commented on #15991
There has been no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info.

[2022-04-25 10:32] yonisade opened #16299 "A MySQL user "Usage" DBA privilege isn't shown as checked"
#### System information:
- Operating system (distribution) and version: Windows 10 64 bit
- DBeaver version: Community Edition 22.0.3.202204170718

#### Connection specification:
- Database name and version: RDS MySQL 5.7
- Driver name: MySQL Server 5.7
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
After creating a MySQL user with the "Usage" DB

[2022-04-25 11:04] ShadelessFox commented on #16295
Hello @CalmaKarma,

You can start working on this issue independently from its review state.

As a hint, take a look at [`IAppendableDataExporter.java`](https://github.com/dbeaver/dbeaver/blob/2853dea503/plugins/org.jkiss.dbeaver.data.transfer/src/org/jkiss/dbeaver/tools/transfer/stream/IAppendableDataExporter.java).

[2022-04-25 11:06] ShadelessFox commented on #16294
Hello @qq5411123,

It's not entirely clear what feature you are referring to.

Can you please provide more information? Screenshots/Recording may help. Thank you.

[2022-04-25 11:25] fabian-s-123 opened #16300 "Data Export to XLSX via latest Office Plugin doesn't work with Version 21.2 & 22.2"
Hi,
export to XLSX format doesn't work anymore with latest Office Plugin (1.1.117) and DBeaver Version 21.2 & 22.2.
For Version 21.2: cannot move past the second to last step in the export dialog.
For Version 22.2: receive multiple errors when proceeding to last step in export dialog.
![image](https://user-images.githubusercontent.com/55379268/165079428-2123298f-da6a-4562-9220-77df7840f4a3.png)

I

[2022-04-25 11:52] uslss commented on #16168
export db-db isn't possible
[code]

[2022-04-25 11:56] uslss commented on #16168
column filter isn't working for resultset (ok in data editor)
![image](https://user-images.githubusercontent.com/31996417/165084458-9a966450-2555-430b-bb3b-aee4552edd5f.png)

[2022-04-25 12:10] ShadelessFox commented on #16300
Hello @fabian-s-123,

Could you please download the latest EA version and see if the issue is gone there? https://dbeaver.io/files/ea/

[2022-04-25 12:41] flambchap opened #16301 "Update the Thread Dump wiki article"
We need to review the https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump article. It's hard to follow for non-tech folks.

[2022-04-25 12:42] Ellebjerg commented on #16086
I have just tried this. I have tried refreshing the connection, and I have restartet DBeaver, but I still get com.sun.jna.LastErrorException, when I try to access the server.

[2022-04-25 12:48] LonwoLonwo commented on #16296
Hello @sandermarechal

Could you please clarify your location?
Do you use VPN?

[2022-04-25 12:51] #16297 closed, assigned to nobody

[2022-04-25 14:35] ShadelessFox opened #16304 "Keep/Transfer selection between different presentations"
**Is your feature request related to a problem? Please describe.**
The selection is lost when switching between different presentations, e.g., `Grid` and `Text`, even after returning to the original presentation.

**Describe the solution you'd like**
Keep, if possible, selection when switching between presentations.

[2022-04-25 14:37] mpeccorini commented on #8303
The problem is still current in 21.3.2.

I agree with @adrinerandrade _et al_ in that the elegant solution to this is not to kill the connection but to prevent it from leaving a transaction idle in the first place. Metadata reads should never be mixed with user queries.

Having a "separate connection for metadata read" setting is, from my point of view, unnecessary. At the very least, that setting

[2022-04-25 14:42] sochacki111 commented on #3896
I am facing a similar issue on DBeaver Version 22.0.3.202204170718

[2022-04-25 14:49] #15827 closed, assigned to ShadelessFox, Matvey16

[2022-04-25 14:50] #15437 closed, assigned to E1izabeth, Matvey16

[2022-04-25 14:51] ShadelessFox commented on #2407
Implemented as a standalone client-side command `@export`:

https://user-images.githubusercontent.com/35821147/164252883-76c4a938-5c95-498e-8bad-42806c4e73cd.mp4

Currently, there's no documentation about the supported parameters, unfortunately.

[2022-04-25 14:58] ShadelessFox opened #16306 "Client-side scripting: Documentation about parameters supported by the `@export` command"
A new command was introduced in #2407.

There's no documentation, so it's impossible to use it without knowing how DBeaver works under the hood.

1. We need to write a wiki page listing all possible configuration parameters
2. We need to show parameter names in DBeaver by highlighting individual fields in the UI

[2022-04-25 15:10] serge-rider commented on #16168
Fixed

[2022-04-25 15:57] sandermarechal commented on #16296
I am in The Netherlands. At work we have Ziggo Business 1 gbps internet. At home I use Ziggo Giganet (also 1 gbps). I do not use a VPN.

[2022-04-25 16:16] githubcdr commented on #1361
What a sad world, having to spend 20 minutes to get the local client defined in MacOS using some shady shortcut. Overall we the people, lost, computers won.

[2022-04-25 16:45] brvaland opened #16309 "snowflake connectivity issue with authenticator"
System Information:
- MacOS 12.3.1
- DBeaver 22.0.3

Connection specification:
- Snowflake

Snowflake driver - 3.13.6 (Also tried to latest 3.13.17)

Describe the problem you're observing:

I have upgraded to DBeaver 22.0.3 today and noticed that i am unable to connect to snowflake and getting below error message

Unexpected driver error occurred while connecting to the database
  NullPointerExcep

[2022-04-25 17:36] CalmaKarma commented on #16295
Hi, @ShadelessFox .

The bug is cause by a line of code at [DataExporterTXT.java, line 123](https://github.com/dbeaver/dbeaver/blob/2853dea50323f794421cb268938a64f99c84ffe6/plugins/org.jkiss.dbeaver.data.transfer/src/org/jkiss/dbeaver/tools/transfer/stream/exporter/DataExporterTXT.java#:~:text=set%20of%20attributes-,showHeader%20%3D%20false%3B,-%7D)

**In short, a feature planned to be implemented

[2022-04-25 20:45] Matvey16 commented on #13056
Not reproducible in 22.0.3

[2022-04-25 20:45] #13056 closed, assigned to ShadelessFox, Matvey16

[2022-04-25 21:20] #16248 closed, assigned to nobody

[2022-04-26 01:21] tianlongJ commented on #16289
------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年4月25日(星期一) 下午4:49
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [dbeaver/dbeaver] Dbeaver列数据筛选功能 (Issue #16289)

@tianlongJ could you provide some examples of the feature you need?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were men

[2022-04-26 01:24] tianlongJ commented on #16289
![图片](https://user-images.githubusercontent.com/50390874/165200301-6a433539-f1bb-4e3e-927b-50a293b53e51.png)
navicat这种的，筛选会更方便，不用拖动数据列也不用手动输入like这种以及引号

[2022-04-26 02:32] PILINING commented on #16132
#16290

[2022-04-26 03:32] u007 commented on #1361
same here, i couldnt get backup n restore to work, i abandon this

[2022-04-26 05:49] LonwoLonwo commented on #16309
Hello @brvaland

Can you provide please the full log of the error? You can find instruction here: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-04-26 05:55] LonwoLonwo commented on #16289
Please use English language.

[2022-04-26 07:22] tianlongJ commented on #16289
like navicat

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "dbeaver/dbeaver"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月26日(星期二) 中午1:55
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re:

[2022-04-26 07:45] ceugenio opened #16311 "Editor SQL: End Statement with semicolon in Script SQL not working properly"
#### System information:
- Windows 10 pro
- DBeaver version   22.0.3.202204170718

#### Connection specification:
- Driver name DB2 iSeries/AS 400

#### Describe the problem you're observing:
After the update to this version old script stop to work, cause the end of the SQL statement is not recognized properly. If the semicolon is placed at the beginning of a new line after the statement it is not

[2022-04-26 08:05] LuckyT0mat0 opened #16312 "Security：Dbeaver has client-side remote code execution vulnerability"
Hello, I found an RCE vulnerability, which will be sent to your security mailbox. After receiving it, please confirm. Looking forward to your reply, thank you ~

[2022-04-26 08:20] E1izabeth commented on #16311
Hi, @ceugenio! Thank you for bug report! It has been already reported here [#16077](https://github.com/dbeaver/dbeaver/issues/16077). As a workaround you can try this [#16077 (comment)](https://github.com/dbeaver/dbeaver/issues/16077#issuecomment-1099991921).
The bug will be fixed in 22.0.4 with [#16218](https://github.com/dbeaver/dbeaver/pull/16218). I'll close this issue.
If you encounter the sa

[2022-04-26 08:20] #16311 closed, assigned to nobody

[2022-04-26 08:22] JaggerDrSpec opened #16313 "[Oracle] Can you add a case-insensitive setting for Include/Exclude filters for databases?"
Can you add a case-insensitive setting for Include/Exclude filters for databases?
New fix "[Oracle] Include filters for databases are case sensitive, but exclude filters are case-insensitive. #14810" is not good for work with Oracle 10.2 because all names is upper case, and I typed lower case names in tables filter..
As shown in the screenshot I type 'art' (lower case) and that filter was applied

[2022-04-26 08:38] brvaland commented on #16309
Hi @LonwoLonwo

Please find below log as requested

[code]

[2022-04-26 08:39] E1izabeth commented on #16289
DBeaver has data filtering.

You can write custom filtering queries here

![image](https://user-images.githubusercontent.com/28875055/165257331-ff94dd7b-f440-4ea0-9007-0e0057632562.png)

Or you can set up filter for each column. In this case column name with filter will be bold. And you will see filter expression aggregating all your filters in the top of data.

![image](https://user-images.github

[2022-04-26 09:09] DenverKirrane commented on #15153
@Joel92 @krishna4ldw - It may be OKTA, are you using that? If so see the instructions on this page for OAUTH

https://docs.starburst.io/data-consumer/clients/dbeaver.html

[2022-04-26 09:12] LuckyT0mat0 commented on #16312
Hello, details of vulnerability have been sent to tech-support@dbeaver.com.

[2022-04-26 09:26] pcranger commented on #5178
Using Version 22.0.1, still an issue.

[2022-04-26 09:31] #16168 closed, assigned to serge-rider, uslss

[2022-04-26 09:53] ShadelessFox commented on #16295
I don't think there should be any popups.

We can keep appending the header as an easy fix even if all attributes are the same. We might not know that in case of appending to the existing file, so it seems acceptable.

I believe you should keep this issue open. The described behavior is invalid. Meanwhile, #16204 is about a feature request.

[2022-04-26 10:37] uslss commented on #16299
@yonisade, unfortunately, cannot reproduce the issue. Is it always reproducible? What script is persisted on new user saving?

[2022-04-26 10:41] yonisade commented on #16299
GRANT Usage ON *.* TO 'my_user'@'%';

[2022-04-26 10:47] uslss commented on #16299
Reproduced. Thanks for the report
Steps to reproduce:

1. "Create New User" under the "Users" tree - Save it.
2. Mark (or uncheck) the "Usage" DBA privilege
3. Save / Persist
4. Close the Properties tab
5. Refresh the "Users" tree
6. Reopen the user properties

[2022-04-26 10:55] #13501 closed, assigned to uslss, ShadelessFox

[2022-04-26 11:21] flambchap commented on #1361
Hi @u007 @githubcdr. We believe that we can improve the backup/restore experience. Could you please share what obstacles you've met? We would like to use your input in designing a new UI/UX.

[2022-04-26 11:28] flambchap commented on #16312
Message received. Thank you for reaching out. I suggest continuing the conversation via email.

[2022-04-26 11:50] mayerro commented on #16296
@sandermarechal could you please send [traceroute](https://en.wikipedia.org/wiki/Traceroute) result from your PC to our [dbeaver.io](http://dbeaver.io/) site:
windows: `tracert dbeaver.io`
linux/macos: `traceroute dbeaver.io`

[2022-04-26 12:58] sandermarechal commented on #16296
Sure. From my work:
[code]

And from home:
[code]

[2022-04-26 13:54] DavidAJack83 opened #16317 "Struggling to run DBeaver on RaspPi400"
I'm running Raspbian GNU/Linux 11 (bullseye) on my RaspPi400

I have tried various different ways to try and run DBeaver on the raspberry pi 400, but none have worked so far.

Can someone give me advice on how to do this? I have tried installers from the website as  well as archives. I have also tried to install via snap. None look to have been successful and I cannot run the application.

[2022-04-26 14:38] fjf2002 opened #16318 "PostgreSQL: Domain type source SQL with constraint is invalid"
#### System information:
- Operating system (distribution) and version: Windoze 10
- DBeaver version: 22.0.1

#### Connection specification:
- Database name and version: PostgreSQL 14
- Driver name: pgjdbc 42.2.20
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
Domain type source SQL is invalid.

#### Steps to reproduce, if exist:
[code]

The data

[2022-04-26 15:24] LonwoLonwo commented on #16318
Thanks for the bug report @fjf2002

[2022-04-26 15:26] LonwoLonwo commented on #16317
Maybe you can find something helpful here: https://github.com/dbeaver/dbeaver/issues/7606

[2022-04-26 15:31] u007 commented on #1361
i think recent changes is that the binary is no longer a single binary, its sort of a link to somewhere in my popos 21.10
no matter what i set in the binary path, it can never work

i just found this issue, havent manage to get it working yet
https://github.com/dbeaver/dbeaver/issues/5008

iam using flatpak

[2022-04-26 16:40] jrkw1971 opened #16321 "PostgreSQL - inner join lateral"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Problema al ejecutar sentencias SQL PostgreSQL - con *LATERAL*

Ejemplo:
Select
  cl.nombre
  , ve.saldo_primera_compra
from clientes cl
cross lateral (
   Select
      ve.saldo as saldo_primera_venta
  from ventas ve
  where
    ve.client

[2022-04-26 17:00] guardiande opened #16322 "Running import tasks fails with "Target not specified for ...""
#### System information:
- Windows 10
- 22.0.3

#### Connection specification:
- Postgres 13

#### Describe the problem you're observing:
Running saved database tasks to import from CSV results in "Target not specified for <NAME>.csv".

![image](https://user-images.githubusercontent.com/4947715/165353372-8ba4330f-b387-4836-99b1-a1e17f29c691.png)

Reassigning file and target table forgets previous

[2022-04-26 18:39] uslss commented on #16322
thanks for the report

[2022-04-26 19:46] flambchap opened #16323 "Change icon for the 'Open in external editor' action"
This button is located on the value panel. Currently, it looks like three horizontal dots. It has two drawbacks:

* It's counterintuitive.
* It's almost invisible, especially on dark themes.

![Screenshot from 2022-04-26 22-45-07](https://user-images.githubusercontent.com/26031301/165380030-97153116-d37a-4214-bda7-ab135ad22335.png)

[2022-04-26 20:45] saywebsolutions commented on #8584
Still happening; I was able to export using the context menu though more errors occurred during that process and it recommended to close the program. I continued with the export and it worked. Here is the log from the session:

[dbeaver-export-result-set-button-greyed-out.log](https://github.com/dbeaver/dbeaver/files/8566787/dbeaver-export-result-set-button-greyed-out.log)

[2022-04-26 21:30] TCorwinKRS opened #16325 "BabelFish Connection Driver only displays master database"
Windows 10 & 11
AWS RDS Aurora Postgres with Babelfish

DBeaver Version 21.3.0 Properly displays all databases:
![image](https://user-images.githubusercontent.com/97609365/165395332-bc235e4e-4acf-4fa2-9728-b0180e72ac0b.png)

DBeaver Version 22.0.3 Only shows master database
![image](https://user-images.githubusercontent.com/97609365/165395604-f738fb6e-54f2-41c9-9037-b946d30d8141.png)

Both a colle

[2022-04-26 22:31] MarioGarbelli commented on #16312
which version of dbeaver is affected by this vulnerability?

[2022-04-26 22:57] MarioGarbelli commented on #16183
I've changed the  "Script delimiter redefiner" as suggesteed.
I'm able to run all the test queries with success! Thank you!

[2022-04-26 22:57] #16183 closed, assigned to nobody

[2022-04-27 00:45] ShadelessFox commented on #13501
Implemented in the value viewer panel:

https://user-images.githubusercontent.com/35821147/165108424-f43956d0-ecbd-42cf-a01a-7227c4445b15.mp4

Features:
- Map features can be selected by clicking on them
- By holding CTRL, the selection will be extended
- Pressing ESC or clicking outside features will clear the selection

[2022-04-27 02:21] yeozhenqiang commented on #14930
Same here, in Version 22.0.2.202204041542, I occasionally encounter the greyed out export button. However, the **right-click workaround** suggested by the OP works well for me to continue with the data export.

[2022-04-27 02:38] ShadelessFox commented on #16325
Hello @TCorwinKRS,

This change was intentional, we show only the default database.

The issue is caused by the fact that Babelfish does not support cross-database queries, so you can't do anything with any non-default database (including viewing the data).

[2022-04-27 02:44] ShadelessFox commented on #15271
Fixed in #15827

[2022-04-27 02:44] #15271 closed, assigned to nobody

[2022-04-27 02:45] ShadelessFox commented on #15827
Now buttons are separated:

https://user-images.githubusercontent.com/35821147/164457189-6a4cb9d4-f918-4ee1-8c69-93fc05addce4.mp4

[2022-04-27 03:20] yiiven opened #16328 "Can not set client to null for oralce connection setting if i has instatlled oracle server on local"
I can't set the client to null for oralce connection setting if i has instatlled oracle server on local.
But the default local client cannot connect to another Oracle server.

[2022-04-27 06:21] ecdy commented on #3270
continuing @Gkodkod26  comment , is there a plan to implement this for mysql ?

[2022-04-27 08:23] ducklingasa opened #16329 "SAP HANA permissions"
To be consistent with https://github.com/dbeaver/dbeaver/issues/1067 and https://github.com/dbeaver/dbeaver/issues/1463 it would be great to add the same tab for the SAP HANA driver too.
In HANA permissions can be retrieved from [SYS.GRANTED_PRIVILEGES](https://help.sap.com/docs/SAP_DATA_HUB/98fe4b43ad664cba874e0fc7ea8ecc76/dc83cdf57e344ff083b142fbbe6e936f.html?version=2.3.latest&locale=en-US).

[2022-04-27 08:56] Othman-dev commented on #11891
Same here ! work like a charm, you can go for it if facing the same issue, while it is getting fixed.

[2022-04-27 09:49] artukn commented on #16071
Also happens in table data filter field. Possibly all fields with autocomplete functionality are affected

[2022-04-27 10:56] #15322 closed, assigned to E1izabeth, uslss

[2022-04-27 10:56] #16322 closed, assigned to uslss, ShadelessFox

[2022-04-27 10:56] #15117 closed, assigned to Destrolaric, Matvey16

[2022-04-27 10:59] TCorwinKRS commented on #16325
I believe that the AWS Aurora implementation of Babelfish does support the cross-database queries.

From AWS Documents:
When you connect to the TDS port, the session is placed in the babelfish_db database. From T-SQL, the structure looks similar to being connected to a SQL Server instance. You can see the master and tempdb databases and the sys.databases catalog. You can create additional user dat

[2022-04-27 11:09] ShadelessFox commented on #16322
Fixed.

[2022-04-27 11:22] Matvey16 commented on #14929
Seems like it won't be possible for DB2 as the database doesn't return the number of the line with error, it only sends the error for the entire query regardless if it is written in a single or multiple lines. We already have the functionality to highlight the problematic query in a script, but I don't think more detailed message is possible.

[2022-04-27 11:22] #14929 closed, assigned to Matvey16

[2022-04-27 11:48] avandorp commented on #3605
Created task #16331  to make logging the query results of the script possible. Very straightforward implementation to solve my personal issue, but debatably better than having a UI presented to the user which never does anything.

[2022-04-27 12:16] 2019-05-10 opened #16333 ""Check for Updates" fails with bundled JVM due to certificate issues"
#### System information:
- Operating system (distribution) and version Linux, Debian/SID
- DBeaver version 22.0.3
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:
Installed from deb, using bundled JVM the "Check for Updates" fails with
[code]

Funnily

[2022-04-27 12:25] LonwoLonwo commented on #16136
Hello @deepaksenthilkumar

If you are talking about permissions and privileges for Redshift - in this case, commercial versions of DBeaver support Redshift users with the Permission tab and Source tab.

![2022-04-27 15_21_43-DBeaver Ultimate 22 0 4 - rdsdb](https://user-images.githubusercontent.com/45152336/165517368-882e7a01-4a3d-4da2-9491-4a0944af51c2.png)

Or did you talk about something else?

[2022-04-27 12:42] avandorp opened #16335 "Implement SQLScriptDataReceiver to enable result logging in script task"
There already exists the checkbox "Dump query results to log file" for script tasks, but it is disabled and can't be enabled by the user. Pull request #16331 implements this in a straightforward way without any extra fuss. Code should be checked by a DBeaver developer.

[2022-04-27 12:47] deepaksenthilkumar commented on #16136
It’s something else. Redshift created a new concept for privileges called
it role. Which is on top of group. See the link I posted on the original
post.

On Wed, Apr 27, 2022 at 8:25 AM, Anastasiya ***@***.***>
wrote:

--
SD

[2022-04-27 12:52] #16204 closed, assigned to Matvey16

[2022-04-27 14:04] ShadelessFox commented on #16001
Hello @kyimpact,

Does clicking on the space in the Output tab show the text caret? After doing so, try moving the caret upwards.

[2022-04-27 14:06] ShadelessFox commented on #16049
Hello @Chealer,

Sorry for the late response.

I'm unsure if I understand you correctly. Can you please describe (or show using a video) a use case for your feature request?

[2022-04-27 14:08] ShadelessFox commented on #16073
Hello @rjake,

Sorry for the late response.

Unfortunately, I believe that it's the issue of Eclipse.

Have you tried the Darkest Dark theme? https://marketplace.eclipse.org/content/darkest-dark-theme-devstyle

[2022-04-27 14:11] ShadelessFox commented on #16181
Hello @spassignat,

Sorry for the late response.

Filters are saved in a separate file called `saved-data-filter.xml` located in the workspace.

Can you please provide more information about your request? Are you talking about saving filters on a per-account basis?

[2022-04-27 14:13] ShadelessFox commented on #16253
Hello @miguelbrandao,

Is your feature request about refreshing data or metadata? If you want to refresh the data, you can use auto-refresh feature:

![image](https://user-images.githubusercontent.com/35821147/165538725-445b57cf-3420-49dc-90cd-3a41e4ecc660.png)

[2022-04-27 14:16] ShadelessFox commented on #16257
Hello @Kunthera,

Does resizing the connection dialog help?

Could you please send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

[2022-04-27 14:20] ShadelessFox commented on #16266
Hello @dancodedev,

Unfortunately, I cannot reproduce the issue.

Can you please screenshots showing the output from third-party software and from DBeaver?

[2022-04-27 14:20] flan6 commented on #11891
I've got this after I updated a table and added a new column. It's gone after I restarted dbeaver.
![image](https://user-images.githubusercontent.com/31276484/165539714-833bb6c6-4924-43ae-badb-06f1b8ec1aab.png)

dbeaver Version 22.0.3.202204190012

[2022-04-27 14:29] plotn opened #16337 "Cannot edit views' column comments"
DB: PostgreSQL
Versions (DBEaver, PG) - maximally fresh.

Description - I cannot edit views' columns comment (tables' columns - work fine). See attached pics.

![dbeaver_view_comments](https://user-images.githubusercontent.com/11477081/165541895-b2b3d1e3-9c8c-471a-8005-6fac9ca12d4f.png)

[2022-04-27 14:32] dancodedev commented on #16266
@ShadelessFox  hi

**HeidiSQL 11.2.0.6.2.13**
![image](https://user-images.githubusercontent.com/45150122/165541766-b37d69ae-be1d-46c6-82db-2f1efef3aefd.png)

**Dbeaver 22.03**
![image](https://user-images.githubusercontent.com/45150122/165541839-4f0dd92f-9b50-42e7-802d-8c19c49bbabe.png)

**DB**
[https://we.tl/t-zTLyfwjTLk](https://we.tl/t-zTLyfwjTLk)

[2022-04-27 14:45] ShadelessFox commented on #16281
Hello @SSSDNSY,

Thanks for the feature request.

Can you please create a separate feature request for reordering columns using drag-n-drop?

[2022-04-27 14:46] ShadelessFox commented on #16321
Hello @jrkw1971,

What database version are you using?

[2022-04-27 14:48] ShadelessFox commented on #16328
Hello @vancevol,

Are you talking about this client?

![image](https://user-images.githubusercontent.com/35821147/165545869-c7b29843-ba14-4750-8056-46cf34330859.png)

This is a local client used in native database-specific tasks, such as dump and restore.

Why would you need to set it to `null`?

[2022-04-27 14:50] ShadelessFox commented on #16333
Hello @2019-05-10,

Is your network private?

Our bundled Java may not have the required certificates installed.

[2022-04-27 14:50] #16323 closed, assigned to flambchap, Matvey16

[2022-04-27 14:50] #15950 closed, assigned to Matvey16

[2022-04-27 14:56] ShadelessFox commented on #16252
Hello @LukasBreit,

Thanks for the bug report

[2022-04-27 15:11] ShadelessFox commented on #16276
Hello @DylanBranch,

I suspect that the issue is on the driver's side.

Can you please provide the database version and the driver version? I think you mixed them up. (0.272 is the latest driver version)

What happens if you use Trino driver instead?

[2022-04-27 15:20] ShadelessFox commented on #16266
By using the query against the provided dump, I get two rows:

![image](https://user-images.githubusercontent.com/35821147/165552639-850afbdc-57bf-4e56-aad4-8a46c0828c68.png)

Can you please provide the driver version? Open connection settings, hit <kbd>Test Connection</kbd> and there will be the `Driver` field.

[2022-04-27 15:33] Matvey16 opened #16340 "Can't use calendar on fields with null value"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.3

#### Steps to reproduce, if exist:
1. Open open a table with a date/time column
2. Click on the field with null value
3. Make sure that value panel has text presentation
4. Change value panel to calendar

**Expected:** Calendar shows default value or at least opens with blank fields
**Actual:** E

[2022-04-27 15:38] AyluinReymaer commented on #11140
Hello, is this being implemented?

I would assume that to add a default order by the primary key to the queries done to a postgres server would be easy to implement.

It is very annoying forgetting that the data is not sorted and having to troubleshoot missing data just because the data is not ordered...

Would be glad if this feature could get implemented, would solve a lot of headaches

[2022-04-27 15:39] Matvey16 opened #16341 "Blank line appears in the navigator when connection is lost"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.3

#### Steps to reproduce, if exist:
1. Expand a schema/database in Navigator
2. Make sure that you don't have access to a database anymore (e.g. disable internet connection)
3. Expand tables folder

**Expected:** Navigator stays the same
**Actual:** Blank line appears

![image](https://user-images

[2022-04-27 15:50] #13305 closed, assigned to E1izabeth, uslss

[2022-04-27 16:24] #16341 closed, assigned to ShadelessFox, Matvey16

[2022-04-27 16:30] LonwoLonwo commented on #16337
Hello @plotn

This feature is not implemented.
Thanks for the report.

[2022-04-27 16:30] zenstark commented on #5132
@uslss I am able to reproduce this on version 22.0.3 on Ubuntu 20 operation system

[2022-04-27 17:02] dancodedev commented on #16266
![image](https://user-images.githubusercontent.com/45150122/165580230-0c5fab9d-11ba-4770-b35d-07a31d3af2d4.png)
![image](https://user-images.githubusercontent.com/45150122/165580254-a0d18f11-6180-4291-85b3-667abbc60eca.png)
I'm sorry, I don't know if it's there

[2022-04-27 17:07] diqipib opened #16345 "DBeaver hangs on Windows 10."
![image](https://user-images.githubusercontent.com/30756317/165581139-45e7d487-d916-4f91-82fc-35faa5d053cd.png)

Программа dbeaver.exe версии 0.0.0.0 прекратила взаимодействие с Windows и была закрыта. Чтобы узнать, имеются ли дополнительные сведения о проблеме, просмотрите журнал проблем в разделе "Безопасность и обслуживание" в панели управления.
 Идентификатор процесса: 566c
 Время запуска: 01d

[2022-04-27 17:41] #15100 closed, assigned to E1izabeth, DariyaFedorova

[2022-04-27 17:54] ShadelessFox commented on #16266
In my case, I'm using MySQL driver. Can you try it instead?

[2022-04-27 17:58] ShadelessFox commented on #16345
Hello @diqipib,

Please provide more information about your issue.

[2022-04-27 18:05] Matvey16 opened #16346 "Search field in transaction log on MacOS has two tooltips on top of each other"
#### System information:
- Operating system (distribution) and version MacOS
- DBeaver version 22.0.3

#### Steps to reproduce, if exist:
1. Open transaction log in the top toolbar

**Expected:**Search field has only one tooltip
**Actual:** Two tooltips overlap each other

<img width="612" alt="image" src="https://user-images.githubusercontent.com/82543000/165590845-4aaa0dbf-e069-4c60-9415-06f0bb0

[2022-04-27 18:21] LonwoLonwo commented on #9921
Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/16337

[2022-04-27 18:21] #9921 closed

[2022-04-27 18:27] dancodedev commented on #16266
With MySQL yes it works :)

[2022-04-27 18:38] ShadelessFox commented on #16266
So I assume that this issue can be closed now?

[2022-04-27 18:40] Matvey16 commented on #16337
Verified

[2022-04-27 19:25] DylanBranch commented on #16276
Hi @ShadelessFox,

Switching to Trino has fixed my issue, thanks a lot!

[2022-04-27 19:25] #16276 closed, assigned to ShadelessFox

[2022-04-27 19:35] spassignat commented on #16181
Hello,

When viewing table data, I would like to change the display order of columns and save this order for the next time I "View Data" on this table.

ex:
If the TableA is created with these columns in this order (Column1, Column2, Column3, Column4)
When viewing the data, the grid displays columns in the same order. (fine)

Then I wish to change this order to (Column3, Column4, Column2, Column1)

[2022-04-27 19:42] #16337 closed, assigned to LonwoLonwo, Matvey16

[2022-04-27 20:25] mahonetim opened #16348 "sql statement delimiter no longer being recognized in certain situations"
#### System information:
- Windows 10 Pro version 1607
- DBeaver version: 22.0.3.202204170718
- Additional extensions: NA

#### Connection specification:
- Database name and version: Snowflake
- Driver name: JDBC 3.13.14
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Describe the problem you're observing:
I just upgraded from DBeaver version 22.0.0, so not sure which release this st

[2022-04-27 20:28] E1izabeth commented on #16348
Hi, @mahonetim! Thank you for bug report! It has been already reported here [#16077](https://github.com/dbeaver/dbeaver/issues/16077). As a workaround you can try this [#16077 (comment)](https://github.com/dbeaver/dbeaver/issues/16077#issuecomment-1099991921). The bug will be fixed in 22.0.4.
I'll close this issue. If you encounter the same problem after upgrading to 22.0.4, please, reopen this is

[2022-04-27 20:28] #16348 closed, assigned to nobody

[2022-04-27 20:32] mahonetim commented on #16348
I apologize, I tried searching for open issues relating to this before submitting, but didn't find that one. Thank you.

[2022-04-27 20:37] LonwoLonwo commented on #16245
Can you try to disable this setting? Preferences ->Editors -> SQL Editor -> SQL Processing -> "Refresh active schema after SQL execution"

This setting works with the "SHOW search_path" statement, which can trigger your error.

![2022-04-27 23_33_56-Preferences](https://user-images.githubusercontent.com/45152336/165626737-3dcdb6af-d239-4b16-8504-6bbb769df4b4.png)

[2022-04-27 20:39] LonwoLonwo commented on #16329
Hello @ducklingasa

Thanks for the idea.

[2022-04-27 20:53] eric-g-97477 commented on #16245
The behavior remains unchanged. I still get the error.

I believe it is a combination of how the Postgres server is configured and either not understanding how or being unable to configure DBeaver to avoid the error.

[2022-04-27 21:54] Chealer commented on #16049
Nothing to be sorry about @ShadelessFox

~A use case would involve 2 entities indirected linked with foreign keys, through a third entity.
For example, an organization can have members, and a member can have skills. If a table for skills has a foreign key to a table for members, and the members table has a foreign key to an ORGANIZATION table, it would be great to be able to quickly go from SKILL

[2022-04-27 22:27] stefanLarie opened #16349 "ava.nio.file.NoSuchFileException"
Hello community , I appreciate your product , and I have this NoSuchFileException  when the application starts

Unable to save backed up workspaces
java.nio.file.NoSuchFileException: /MYPATH/dbeaver-ce/180/.local/share/DBeaverData/.workspaces
	at java.base/sun.nio.fs.UnixException.translateToIOException(Unknown Source)
	at java.base/sun.nio.fs.UnixException.rethrowAsIOException(Unknown Source)
	at

[2022-04-28 01:41] yiiven commented on #16328
Yes, that's what I'm talking about.

Because if this is not empty, Dbeaver may report the following errors：ORA-12514, TNS:listener does not currently know of service requested in connect descriptor.

But just yesterday!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "d

[2022-04-28 03:07] skotos commented on #16247
Please consider SSHJ **0.33.0** as I believe they have finally allowed for better detection of ssh-rsa2 when openssh is not using ssh-rsa.

- https://github.com/hierynomus/sshj/commit/d7e402c557a2ec9b6c481c96fa0f7d9e96a81f67 (0.33.0 Release Notes):
  - https://github.com/hierynomus/sshj/pull/742

[2022-04-28 06:54] LonwoLonwo commented on #16245
Maybe you have some UPDATE trigger in your database? Event trigger or table trigger.

[2022-04-28 07:10] ahhmedbilal opened #16350 "SQL Editor does not honor the "resultset fetch size" for Teradata"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 22.0.3
- Additional extensions

#### Connection specification:
- Database name and version: Teradata 17.10
- Driver name: Teradata JDBC 17.10
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

In Global setting for "Data Editor" I have following set

[2022-04-28 08:16] fabian-s-123 commented on #16300
Hi @ShadelessFox,

yes, with the latest EA version it works again. In the meantime, I have also tested it with the version 22.0.3. and can confirm that it works with this version as well. So we'll most likely have to update to version 22.0.3.

[2022-04-28 08:20] ShadelessFox commented on #16300
There were some changes to the Office plugin. It may be the reason why it stopped working on an older version.

If your issue is solved, please close it.

[2022-04-28 08:46] plotn opened #16352 "PostgreSQL: better function calling"
Hi! There is well known PostgreSQL feature (when calling functions) - we must strictly use specified types.
E.g. function:

CREATE OR REPLACE FUNCTION test_function(
	p_task_id		int8,
	p_item_title 	varchar(2000),
	p_item_author	int8,
	p_create_ts		timestamp,
	p_update_ts		timestamp
)

cannot be called via:
select test_function(
	p_task_id => 1,
	p_item_title => 'тестовый элемент 3',
	p_item_autho

[2022-04-28 09:43] ahhmedbilal commented on #16350
This driver i am using: Teradata JDBC Driver 17.10.00.27
from : https://downloads.teradata.com/download/connectivity/jdbc-driver

[2022-04-28 09:44] ahhmedbilal commented on #16350
![image](https://user-images.githubusercontent.com/46369037/165725349-6875755d-dcbc-489a-9e07-d53976e844fe.png)
This data editor setting (global setting) i am using.

[2022-04-28 09:53] ahhmedbilal opened #16353 "Semicolon on same line or next line"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 22.0.3
- Additional extensions

#### Connection specification:
- Database name and version: Teradata 17.10
- Driver name: Teradata JDBC 17.10
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

when i run this sql...
sel * from dbc.DBCInfo d;
it is r

[2022-04-28 09:56] E1izabeth commented on #16353
Hi, @ahhmedbilal! Thank you for bug report! It has been already reported here [#16077](https://github.com/dbeaver/dbeaver/issues/16077). As a workaround you can try this [#16077 (comment)](https://github.com/dbeaver/dbeaver/issues/16077#issuecomment-1099991921). The bug will be fixed in 22.0.4.
I'll close this issue. If you encounter the same problem after upgrading to 22.0.4, please, reopen this

[2022-04-28 09:56] #16353 closed, assigned to nobody

[2022-04-28 09:56] ahhmedbilal commented on #16350
it was closed mistakenly.

[2022-04-28 10:08] ahhmedbilal opened #16354 "Saving Filter in Database Navigator..."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

There should be a way to store Database filter..... eg.
I hv put following filter in database navigator

![image](https://user-images.githubusercontent.com/46369037/165729388-62d9fef4-24ff-4fa2-b4aa-8c48f448b4a1.png)

Filter is set to "Fil

[2022-04-28 10:08] LonwoLonwo commented on #16337
Implemented in DBeaver 22.04

![2022-04-27 19_25_52-DBeaver Ultimate 22 0 4 - mv_t1_dk_a3](https://user-images.githubusercontent.com/45152336/165568392-d152ead0-8dd4-4a99-8628-f1b1ecabcc11.png)

[2022-04-28 10:25] Matvey16 commented on #14858
Still reproducible in Oracle

![image](https://user-images.githubusercontent.com/82543000/165732650-734e999b-70b7-4718-9913-f2fd08cec8a9.png)

[2022-04-28 10:49] flambchap commented on #16349
Hi @stefanLarie. Thank you for your report. Can you work with DBeaver despite this exception, or DBeaver fails to start completely?