[2021-04-21 21:49] ARod001 opened #12204 "Some columns do not show in View - Redshift"
View columns do not show when expanding columns - however they do show on query result

[2021-04-21 22:37] DeflateAwning commented on #11331
That's awesome, I'm very impressed!

How does this behave if you select multiple non-consecutive "columns" (shown as rows)? For example, you select Column1, Column3, and Column5, and then try to move them?

[2021-04-22 00:05] adonis-kun commented on #12171
I click the configure button next to Project-General, and then choose DBeaver Settings. In the window on the right, shows Navigator bookmarks, ER diagrams and SQL scripts. I double click the bookmarks, and choose General, the Navigator bookmarks folder is empty. And then choose apply and close.  When I restart the program, it keeps reporting errors. Thanks for your reply.

[2021-04-22 00:07] adonis-kun commented on #12171
I attampt to reset the workspace, but it has no sence. report error again and again.

[2021-04-22 04:42] wernerdaehn opened #12205 "Snippets/CheatSheet/Template for database specific DDL SQL statements"
**Is your feature request related to a problem? Please describe.**

What was the exact statement to create a new user in SAP Hana via SQL again? I executed it last month and can't remember!
So I must open the browser, go to the database help page, find the command, scroll through the syntax page to find the relevant parts and then write it again crosschecking multiple times until I have:

[code]

[2021-04-22 06:27] LonwoLonwo commented on #11523
Implemented.

[2021-04-22 06:30] LonwoLonwo commented on #11521
Implemented. You can view primary, unique and check constraints now.
Also ability to create check constraint added.
And ability to change disable/enable constraint status via UI.
And ability to view and create constraint comment.

[2021-04-22 06:31] LonwoLonwo commented on #12144
Fixed. Now you can create columns via UI in Vertica again.

[2021-04-22 06:32] LonwoLonwo commented on #10059
Fixed in DBeaver 21.0.4

![115261817-a0093600-a13c-11eb-9c7d-422962fc4639](https://user-images.githubusercontent.com/45152336/115666816-b508e380-a34d-11eb-9abf-bcaf39ffb902.png)

[2021-04-22 06:35] LonwoLonwo commented on #12127
We fixed column reading for early Vertica versions in DBeaver version 21.0.4

[2021-04-22 07:05] LonwoLonwo commented on #12163
![115589849-f63dbc80-a295-11eb-9456-df76da33a4ce](https://user-images.githubusercontent.com/45152336/115670166-c94edf80-a351-11eb-98c2-c6464c8c6f81.GIF)

Text presentation is also incorrect?

May be you can provide DDL of function and simple data for testing?

[2021-04-22 07:06] ShadelessFox commented on #11331
Like as you would expect, but I haven't tested that behavior when moving rows **down**, and it needs more tweaking, ha-ha 😅

https://user-images.githubusercontent.com/35821147/115670294-ed122580-a351-11eb-8430-85b864b191b1.mp4

[2021-04-22 07:15] LonwoLonwo commented on #9377
Ok, thanks for testing.

As a workaround you can disable auto-completion settings in Preferences->Editors->SQL Editor->Code Completion tab.
You can choose "Datasource settings" to change settings only for that datasource which causes delay.

![2021-04-22 10_10_29-DBeaver Enterprise 21 0 3 - _gis_ Script-44](https://user-images.githubusercontent.com/45152336/115671322-0f587300-a353-11eb-8044-ef2f7d

[2021-04-22 07:27] zolovey opened #12206 "Sybase IQ. Double dash comment is not highlighted if not started at the beginning of the line"
#### System information:
- Windows 10 1909
- DBeaver version: 21.0.3

#### Connection specification:
- SAP IQ/16.1.040.1549
- jConnect

Double dash comment is not highlighted if not started at the beginning of the line

[2021-04-22 07:40] uslss commented on #11418
verified

[2021-04-22 07:40] #11418 closed, assigned to uslss, ShadelessFox

[2021-04-22 07:43] ophers commented on #12127
Thanks for the quick response and resolution.

[2021-04-22 07:47] uslss commented on #11036
verified

[2021-04-22 07:47] #11036 closed, assigned to uslss, ShadelessFox

[2021-04-22 07:48] 2019-05-10 commented on #12168
Seems to be a timing issue.
Yesterday under heavy load completion ceased to work completely, even in previously working queries the completion returned nothing or at least not with start character like
`SELECT c[CTRL+SPACE]`
no proposals (although several columns exist), but
`SELECT [CTRL+SPACE]`
proposed several fields with starting with or containing `c`

Once the load went back to to normal, co

[2021-04-22 07:51] LonwoLonwo commented on #12168
Ok. Thanks for testing @2019-05-10

[2021-04-22 07:55] uslss commented on #10059
verified

[2021-04-22 07:56] uslss commented on #12144
verified

[2021-04-22 07:56] #12144 closed, assigned to uslss, LonwoLonwo

[2021-04-22 07:59] LonwoLonwo commented on #12206
Hello @zolovey
Can you provide some examples please?

Or, may be, you are talking about case 4 from the image, where there is no space after double dash? In this case this is expected behavior.

![2021-04-22 10_53_51-DBeaver Enterprise 21 0 3 - _none_ Script-44](https://user-images.githubusercontent.com/45152336/115677578-4a5da500-a359-11eb-887c-3db936b49c4e.png)

[2021-04-22 08:20] uslss commented on #11521
check constraint creation isn't possible
![image](https://user-images.githubusercontent.com/31996417/115680944-b5f54180-a35c-11eb-8800-ac2c500fb8aa.png)

[2021-04-22 08:24] uslss commented on #11523
verified

[2021-04-22 08:24] #11523 closed, assigned to uslss, LonwoLonwo

[2021-04-22 08:29] LonwoLonwo commented on #12127
Now support column comments in DBeaver starts from Vertica 9.3 version

[2021-04-22 08:37] uslss commented on #12127
verified

[2021-04-22 08:37] #12127 closed, assigned to LonwoLonwo

[2021-04-22 08:44] uslss commented on #11177
verified

[2021-04-22 08:44] #11177 closed, assigned to uslss, ShadelessFox

[2021-04-22 08:47] uslss commented on #11490
verified

[2021-04-22 08:47] #11490 closed, assigned to uslss, ShadelessFox

[2021-04-22 08:47] hennie7863 opened #12207 "Login with SSH to Azure DevOps seems not working anymore."
It seems that after the update Deaver laest version I cannot pull code from my Git repo anymore.

The URI is now ssh://hennie.denxxijer%252525252540xxxx.nl@ssh.dev.azure.com:22
hennie.denxxijer%2525252540xxxxxx.nl

The strings %252525252540 seems awkward to me.

Git pull is working properly. SSH works right.

---- Here the window to set connection right. Configure Fetch and then Change.
![image](h

[2021-04-22 08:50] uslss commented on #12204
@ARod001 could you provide a table and view DDLs that will help to reproduce an issue?
also, which dbeaver version do you use?
Is the issue reproducible for all the views or only with some special?

[2021-04-22 08:53] uslss commented on #12205
@wernerdaehn we've got such feature as SQL Templates - [here](https://github.com/dbeaver/dbeaver/wiki/SQL-Templates) you can learn more about it.
Could you check if it resolves your problem?

[2021-04-22 09:00] uslss commented on #12201
@techlock77 cannot reproduce it (gif attached). Probably some special steps are needed? what dbeaver version and OS do you use?
![2021-04-22_11h58_39](https://user-images.githubusercontent.com/31996417/115686802-41bd9c80-a362-11eb-993d-edd171061b6a.gif)

[2021-04-22 09:16] hennie7863 commented on #11227
The file is committed to local branch.

In one branch :

![image](https://user-images.githubusercontent.com/7771436/115689059-028c4d00-a35c-11eb-8409-36e7034e546c.png)

In the other branch

![image](https://user-images.githubusercontent.com/7771436/115689159-1df75800-a35c-11eb-9617-45ed7782a727.png)

What am I doing wrong?

[2021-04-22 09:21] qiqingli opened #12209 "DBeaver keeps using high CPU"
#### System information:
- Operating system (distribution) and version：macOS Big Sur 11.2.3
- DBeaver version：21.0.3
- Additional extensions

#### Describe the problem you're observing:
DBeaver is using too much CPU and keeps using high CPU even though it is not doing any operation.

![image](https://user-images.githubusercontent.com/20805098/115689666-e2c24c80-a38e-11eb-9940-ee12eca90588.png)

[2021-04-22 09:40] zolovey commented on #12206
@LonwoLonwo but it is not necessary to put space after dash.

at least in SQL92 there is no such requirement, as as well in Sybase IQ

From documentation:
-- (Double hyphen) The database server ignores any remaining characters on the line. This is the SQL92 comment indicator.

[2021-04-22 09:52] ShadelessFox commented on #11227
What version are you using? Have you upgraded to [newest version](https://dbeaver.io/download/)?

Also, you can try reproducing this issue against a newly created project, just for the sake of sanity.

[2021-04-22 10:05] LonwoLonwo commented on #12206
Ok, it sounds convincing.

[2021-04-22 10:29] wernerdaehn commented on #12205
Yes, that is exactly what I was looking for!

[2021-04-22 10:29] #12205 closed, assigned to nobody

[2021-04-22 10:33] JamesInform commented on #12168
I experience the same issue on DBeaver 21.0.3 using PostgreSQL 13. On 21.0.2. everything is fine.

When I simply type

`select * from mytab where `

then no autocompletion is available after the "where" keyword. No field from the table is listed. Wether automatically nor hitting ctrl+space.

if give an alias to the table like

`select * from mytab m where m.`

then everything works fine.

[2021-04-22 10:33] k4hvd1 opened #12211 "Trimmed leading zeros formatting timestamp milliseconds"
If dataformat for timestamp (Prefferences/DataEditor/Dataformat) shows milliseconds ( **S** specifier)  e.g. yyyy-MM-dd HH:mm:ss.**S**  than following leading zeroes are wrongly trimmed. Therefore, following value will be shown wrongly:

value_:   2021-04-14 09:17:50.057
shown:  2021-04-14 09:17:50.57

Workaround is to use **mmm** or **f** for seconds fractions (for miliseconds) .

The docs https:

[2021-04-22 11:33] uslss commented on #12199
thanks for the report

[2021-04-22 12:28] RyanMerlin commented on #6064
Upvote!  Agree on the gamechanger comment! +1

[2021-04-22 12:40] hennie7863 commented on #11227
Yes newest version. but problem was in all versions of the last months. When I have time I will try it on a new project en repo. please have some patience for that.

[2021-04-22 12:43] serge-rider commented on #12068
Java API (JDBC) - https://duckdb.org/docs/api/java

[2021-04-22 13:00] ShadelessFox commented on #11227
No problem, thanks!

[2021-04-22 13:08] leefernandes commented on #4577
Maybe Open Console should be the default mode of writing queries.  I'm also not a fan of the save scripts functionality, especially as it does not provide a means to ignore the save-prompt on close without opting into an auto-save config.

I'm suggesting the most standard expectation and perhaps best UX is for default functionality to be the ephemeral Open SQL Console command, with additional step

[2021-04-22 13:14] uslss commented on #4577
@leefernandes in the recent version you could switch the default command to SQL console, so it will open by clicking at SQL button in the toolbar.
![image](https://user-images.githubusercontent.com/31996417/115720172-75f68480-a385-11eb-9d77-317b9e274597.png)
Also, you could assign needed binding for Open SQL console action in Preferences - User Interface  - Keys
![image](https://user-images.github

[2021-04-22 13:16] leefernandes commented on #4577
@uslss   Much appreciated this is great, you are my hero of this day!  ❤️

[2021-04-22 13:40] serge-rider commented on #12149
Fixed.

Problem was caused by Eclipse-2021-03 migration. It contains two version of JNA and this led to JNA binaries loading conflict.

[2021-04-22 13:42] ced75 commented on #12149
Thanks for the quick fix.

[2021-04-22 14:05] techlock77 commented on #12201
After selecting "toggle word wrap" its working now!

Somehow, it wasn't working earlier, evenafter having "folding enabled" tick marked under Window>Preferences>Editors>SQL Editor>Code Editor.

![image](https://user-images.githubusercontent.com/66756251/115728141-3d898300-a352-11eb-8aff-c722d911c436.png)

[2021-04-22 14:06] techlock77 commented on #12201
Resolved!

[2021-04-22 14:06] #12201 closed, assigned to nobody

[2021-04-22 14:13] LonwoLonwo commented on #11489
Fixed for numeric and decimal columns.

[2021-04-22 14:48] ronjouch commented on #9989
I have the same issue with JSch, and I'd like to follow the advice to switch to SSHJ, but I'm unable to install it. When I try to install it (from `Install New Software` → `DBeaver SSHJ extension - https://dbeaver.io/update/sshj/latest/` → `Next`), the installation fails with:

[code]

Am I missing something?

I'm running the latest DBeaver 21.0.3.202104181339, installed from the official deb pack

[2021-04-22 15:01] ghost commented on #12163
@LonwoLonwo

The text presentation is also incorrect.   I have seen your request for a DDL but am having trouble reproducing it in a simple manner for debugging.   The function in the screen shots has a lot of dependencies on our internal data.  I will let you know if I come up with something.   Is there anything you can do to investigate without this?

[2021-04-22 15:51] ARod001 commented on #12204
Thanks Dziyana

1)  I don’t think so – I can provide a screenshot though (below).
2)  Version 21.0.2.202104042040
3)  All views

It seems like the columns missing are DATE data types.

***@***.***D73765.6FF4AE90]

Alberto Rodriguez
Business Analyst
Commercial Services - USNG
desk: 832-320-5393  mobile: 281-382-4767
TC Energy.com<https://www.tcenergy.com/>

From: Dziyana ***@***.***>
Sent: Thursday

[2021-04-22 15:56] PhilippeBrossel opened #12216 "ContentAssistant does work right with real Ibmi-DB2 SQL-Tables (metadatasource=0/1 and naming=system)"
#### System information:
- Operating system (distribution) and version === Microsoft Windows 10 Enterprise - Version 10.0.19042 Build 19042
- DBeaver version === Version 21.0.3.202104181339 - Released 19 April 2021
- Additional extensions === NO, standalone DBeaver instance - Same behaviour in the Eclipse IDE.

#### Connection specification:
- Database name and version ===  Ibmi DB2 V7R4 - Latest

[2021-04-22 16:00] ghost commented on #12163
@LonwoLonwo

Here's another data point.   It worked fine when I ran the "Export from Query" option and saved the results to a file.   It is just not working in the viewer.

![export_from_query](https://user-images.githubusercontent.com/38664858/115746294-d5d73600-a359-11eb-9285-7797856da65b.png)

[2021-04-22 16:23] MarkrJames commented on #6064
+ 1  Please add! 🙏

[2021-04-22 16:54] gerhard81 commented on #10059
@LonwoLonwo

Your implementation is correct for scalar functions.
But it is not correct when the function is a table function which returns a table as resultset.
In this case the function has to be called in the following way:

`SELECT * FROM TABLE ( "SYSPROC".ADMIN_GET_MEM_USAGE(:null))`

The documentation link you mentioned is for Db2 z/OS but when you call a table function in Db2 (LUW = Linux,

[2021-04-22 17:04] KES777 opened #12217 "Cache value from previous execution"
![image](https://user-images.githubusercontent.com/799021/115755299-de555e00-a3a5-11eb-8a86-2756b57b8e28.png)

**Is your feature request related to a problem? Please describe.**
When I run script I can input desired values. But when I rerun script I need to refill all values again =(
This is boring when there 5-7 values to input

**Describe the solution you'd like**
Cache values from previous inpu

[2021-04-22 17:46] GaryLiuTelus commented on #11614
@uslss
Any comments? Can you please advise what any further information I need to provide?

[2021-04-22 19:06] jhofstede commented on #6064
Is there a way we can crowdfund and sponsor the development of this feature? I would be happy to sponsor such a feature.

[2021-04-23 00:18] p91paul commented on #9989
I suggest you open a new bug, commenting on closed issues might get overlooked.

[2021-04-23 00:24] p91paul commented on #6064
@jhofstede according to https://dbeaver.com/support/ buying a EE license should get you priority tickets, though I'm unsure how that works.

[2021-04-23 01:03] ronjouch opened #12218 "Can't install SSHJ: installation fails with dependency error on org.bouncycastle.bcpkix"
This is a follow-up of https://github.com/dbeaver/dbeaver/issues/9989#issuecomment-824908370 . I want to connect to a PostgreSQL db through a SSH tunnel, but connection fails with default implementation `JSch` with error `process hasn't exited` (see https://github.com/dbeaver/dbeaver/issues/9989), so I'm following the suggestion from multiple commenters at https://github.com/dbeaver/dbeaver/issues

[2021-04-23 01:04] ronjouch commented on #9989
True, here we go: https://github.com/dbeaver/dbeaver/issues/12218

[2021-04-23 02:22] myron934 commented on #12087
Of course yes. Thank you!

But I won't use this feature. I'll turn off this option all the way because it's dangerous.

By the way, I installed a new version 21.0.3.202104151511. It seems that this bug is fixed in this version

[2021-04-23 07:11] ceugenio opened #12219 "DB2 Query Result - display field description metadata in column when declaration contains join"
**WITHOUT JOIN**

![image](https://user-images.githubusercontent.com/15365719/115832735-87866d80-a413-11eb-91aa-d8e56f6ec769.png)

**WITH JOIN**

![image](https://user-images.githubusercontent.com/15365719/115832900-b7ce0c00-a413-11eb-81b9-8df8ba639e3c.png)

Thank you,
Eugenio

[2021-04-23 07:30] ceugenio opened #12220 "DB2 CSV Export - header with field description metadata"
![image](https://user-images.githubusercontent.com/15365719/115833652-97528180-a414-11eb-82cd-3605c1e54c96.png)

![image](https://user-images.githubusercontent.com/15365719/115833801-c2d56c00-a414-11eb-81ec-e9d4ddce6872.png)

![image](https://user-images.githubusercontent.com/15365719/115834136-29f32080-a415-11eb-8803-c82e8b399586.png)

Thank you,
Eugenio

[2021-04-23 07:42] ChetanVashisht commented on #6334
I faced this exact issue, turns out the `active project` under the `database navigator` changed from General to Desktop. Change it back and everything works fine!

[2021-04-23 08:33] flambchap commented on #11522
I cannot reproduce it for the `Hide folders` option. As for the `Show only schemas and tables`, it is expected behavior.

[2021-04-23 08:33] #11522 closed, assigned to flambchap

[2021-04-23 08:39] uslss commented on #11489
verified

[2021-04-23 08:39] #11489 closed, assigned to uslss, LonwoLonwo

[2021-04-23 08:42] uslss commented on #9998
verified

[2021-04-23 08:42] #9998 closed

[2021-04-23 08:56] Mizar01 commented on #11914
Solved settings the correct ibus IM module in the env variables.

I set in .profile  (in my home folder) the following:
`GTK_IM_MODULE=ibus`

And rebooted the o.s.

The problem is gone.

[2021-04-23 09:32] #11914 closed, assigned to nobody

[2021-04-23 10:41] philmassie opened #12225 "AWS Athena JDBC - Create Table"
I'm not sure this is a bug or a feature request, just a question. Apologies if this is the wrong way to ask for help or if I missed a related discussion.
Also I'm a DBeaver and Athena newb...

**Is your feature request related to a problem? Please describe.**
I am facing issues creating a table using the Athena drivers (https://s3.amazonaws.com/athena-downloads/drivers/JDBC/SimbaAthenaJDBC-2.0.16.

[2021-04-23 11:26] LonwoLonwo commented on #12163
ok, thanks for investigation!

[2021-04-23 11:30] Singa-dev commented on #7777
Why does DBeaver team avoid to resolve the UI problem？
can DBeaver higher performance and more beautiful?

[2021-04-23 12:50] FlxEd commented on #4836
Would be very interested as well ! Added my +1 to the suggestion.

[2021-04-23 13:49] LorisZ commented on #7126
This keeps happening. Honestly not that big of a problem, that I'm a version behind for a little bit, but every time I open DBeaver I get a notification about an update that I might want to download...

But I don't really care about downloading updates, when it should be taken care of by an apt upgrade...

[2021-04-23 13:56] serge-rider commented on #7777
@Singa-dev most MacOS-specific rendering performance issues are caused by problems in Eclipse platform. Like this ones: https://bugs.eclipse.org/bugs/show_bug.cgi?id=458872

However bugs https://bugs.eclipse.org/bugs/show_bug.cgi?id=569367 and https://bugs.eclipse.org/bugs/show_bug.cgi?id=569147 were fixed recently, DBeaver 21.0.3 includes these fixes you could try it.

[2021-04-23 13:59] LonwoLonwo commented on #11160
Fixed. Button is still here, but error is more clear

[2021-04-23 14:00] LonwoLonwo commented on #10797
Fixed in DBeaver 21.0.4
DEFAULT_GENERATED is removed from alter statements.

[2021-04-23 14:10] LonwoLonwo commented on #10818
Fixed in DBeaver 21.0.4
uint types + int1 type are numeric now (If they are in the data types list)

[2021-04-23 14:10] ShadelessFox commented on #11218
Basic page for viewing these jobs was added:

![image](https://user-images.githubusercontent.com/35821147/115883689-bd007a80-a456-11eb-963c-1961000b52d4.png)

It is located inside schema, just above the <kbd>Scheduler</kbd>.

[2021-04-23 14:11] ShadelessFox commented on #11331
Now it works as expected:

https://user-images.githubusercontent.com/35821147/115709833-560d9380-a37a-11eb-83be-42516bb511fa.mp4

[2021-04-23 14:12] LonwoLonwo commented on #12186
Fixed in DBeaver 21.0.4

[2021-04-23 14:26] LonwoLonwo commented on #12204
May be some connection is with this ticket https://github.com/dbeaver/dbeaver/issues/10703

[2021-04-23 14:32] ARod001 commented on #12204
I saw that but it was closed and resolved and it did not seem to apply.  Issue is still happening as described

Alberto Rodriguez
Business Analyst
Commercial Services - USNG
desk: 832-320-5393  mobile: 281-382-4767
TC Energy.com<https://www.tcenergy.com/>

From: Anastasiya ***@***.***>
Sent: Friday, April 23, 2021 9:27 AM
To: dbeaver/dbeaver ***@***.***>
Cc: Alberto Rodriguez ***@***.***>; Mention

[2021-04-23 14:33] LonwoLonwo commented on #12206
Fixed in DBeaver 21.0.4

[2021-04-23 14:36] LonwoLonwo commented on #10059
Ok. Now we have different CALL statements for table and scalar functions.
Fixed.

[2021-04-23 14:42] LonwoLonwo commented on #11521
Check constraint name added in create check constraint statement.

[2021-04-23 14:50] DeflateAwning commented on #11331
Looks excellent, thank you!

[2021-04-23 15:59] ShadelessFox commented on #7058
Will be implemented in #11408

[2021-04-23 15:59] #7058 closed

[2021-04-23 16:46] remychvn commented on #7777
FYI: I haven't noticed any noticeable performance improvement since the update to 21.0.3
It really hurts the user experience. But it's still a great tool, thanks for that 🙂

[2021-04-23 16:50] OverDrone opened #12231 "DBeaver not gaining focus on file open"
When I click on some sql file in OS shell or for example in eclipse, DBeaver (as associated with editing sql files) opens and gains focus. BUT as soon as I click anything inside DBeaver (e.g. switch or close tabs) DBeaver stops gaining focus on new file open, but instead it's title becomes bold and I have to manually click on DBeaver in taskbar which is very annoying. I've checked with other appli

[2021-04-23 17:09] luiseduardo opened #12232 "Interface blinking"
#### System information:
- Operating system: Linux Mint 19.03 (Kernel Linux 5.4.0-72-generic x86_64 - MATE 1.22.2)
- DBeaver version: 21.0.3.202104181339
- Additional extensions: none

#### Connection specification:
- Driver name: org.mariadb.jdbc:mariadb-java-client:RELEASE - Version  2.4.3

#### Describe the problem you're observing:
Interface blinking when:
   - mouse hover tabs and toolbars

[2021-04-23 17:42] ShadelessFox commented on #11426
Fixed:

![image](https://user-images.githubusercontent.com/35821147/115541434-c8fa0a00-a2a7-11eb-8364-d567fa897c05.png)

[2021-04-23 17:46] ShadelessFox commented on #3487
Implemented (in scope of #11426):

![image](https://user-images.githubusercontent.com/35821147/115540312-a1ef0880-a2a6-11eb-9278-45d016619a43.png)

These properties are hidden by default. They can be toggled in <kbd>Configure columns</kbd>, available in table's header context menu.

Also it is possible to edit them when creating a new column.

[2021-04-23 17:53] markk-fmi commented on #1554
I have a similar (maybe worse?) issue with DBeaver 21.0.2.202104042040 and postgres-db, but not with an oracle-db.

In postgres, if I click a table from the tree, the ER-Diagram shows ONLY that table and NO foreign key relationships, even ones owned by the table.  But if I click the schema, all tables with fk relationships are shown.  E.g. see images below.

In oracle, if I click a table from the

[2021-04-23 18:13] twillstw commented on #12159
For what it's worth, I'll add that I'm having the exact same issue with my Amazon Athena connection. I recently updated from windows version 7.1 to 21.0.3, and this issue has newly cropped up.

Once I set the table name, the autocomplete seems to work fine for column names in the SELECT clause, not so much the WHERE clause.

When working with Oracle, I don't seem to experience any such issues.

[2021-04-23 18:19] KES777 opened #12233 "Excess parantheses"
### System information:
- Linux Mint 19.3
- DBeaver version 7.2.4

#### Describe the problem you're observing:

type `SELECT date_trunc|()` then type `(` and you get `SELECT date_trunc(|()`

expected: `SELECT date_trunc(|)`

`|` is where cursor is

[2021-04-23 19:19] KES777 commented on #12132
It is OK on 21.0.3

[2021-04-23 19:19] #12132 closed, assigned to ShadelessFox

[2021-04-23 21:18] LonwoLonwo commented on #10059
Also functions icon fixed.

![2021-04-23 22_33_55-DBeaver Enterprise 21 0 3 - _none_ Script-9](https://user-images.githubusercontent.com/45152336/115930651-88121900-a492-11eb-9736-58c7a1517bf5.png)

[2021-04-23 21:24] LonwoLonwo commented on #11542
Now BFILE, CFILE, CONTENT POINTER, LONG, LONG RAW,OCTET - do not have parameters on creation by default.
OID - is special case, I did not change anything.

DECIMAL - scale+precision bounds check added.
INTERVALs - alter statement fixed.

![2021-04-22_13h49_37](https://user-images.githubusercontent.com/45152336/115931170-59e10900-a493-11eb-8a49-fb4350dde658.gif)

[2021-04-23 21:26] serge-rider commented on #12218
BC deps config has been fixed

[2021-04-23 21:31] serge-rider commented on #12232
It is Eclipse/GTK specific issue.
See comments in https://bugs.eclipse.org/bugs/show_bug.cgi?id=517671 and https://forums.linuxmint.com/viewtopic.php?t=316929 for a workaround.

[2021-04-23 21:34] serge-rider commented on #12060
Current approach: you can select SQL text and call Copy As command (<kbd>ctrl+shift+c</kbd>).
Then choose "Unformatted text" -> <kbd>enter</kbd> -> <kbd>ctrl+v</kbd>.

[2021-04-23 21:55] luiseduardo commented on #12232
Its works, thanks ;-)

[2021-04-23 21:55] #12232 closed, assigned to nobody

[2021-04-23 22:46] ronjouch commented on #12218
@serge-rider confirmed! Thanks. Closing.

[2021-04-24 09:38] wvolkov opened #12235 "Handle default emoju symbols at .sql files by default during saving"
Current version of DBeaver doesn't support emojis in sql code, it raises error:

![image](https://user-images.githubusercontent.com/49549154/115954477-f5a56000-a4f9-11eb-9521-69896d858b23.png)

It would be great to enable it by default

[2021-04-24 11:24] flambchap commented on #11455
Fixed.

[2021-04-24 16:19] KES777 opened #12237 "After query execution results stays hidden"
How to reproduce:
1. Hide query results
2. Edit query
3. Run query

expected: results should be displayed
actual: I need to press button to display result
![image](https://user-images.githubusercontent.com/799021/115965370-9f541380-a531-11eb-857d-c721a70dae2c.png)

here is two cases: when area is minimized is should stay same, but if it was hidden by button then results area should be restored aut

[2021-04-24 16:28] ar-jan commented on #12139
The update URL for that plugin was changed, fixed [here](https://github.com/dbeaver/dbeaver/commit/65d65e2c2c711cc87fddcec425a6915aa80f4ced) (change it to https://eclipse-color-theme.github.io/update).

[2021-04-24 16:50] serge-rider commented on #12237
Thanks for the bug report

[2021-04-24 18:14] flambchap commented on #10879
Implemented.

[2021-04-24 18:31] neurogenesis commented on #10185
This was fixed with a subsequent update a few months later. Is behaving correctly on current releases.

[2021-04-24 18:48] csonuryilmaz commented on #8288
Thanks @hellxz, solved my problem on `Debian 9.13` with `dbeaver 7.3.5`. :tada:

[2021-04-24 19:19] serge-rider commented on #12139
@ar-jan Tahnks for the update.

Closing as resolved.

[2021-04-24 19:19] #12139 closed, assigned to nobody

[2021-04-24 19:24] serge-rider commented on #12235
It is not an error but a sort of a warning. Just click on "Save as UTF-8".
I don't think that we should save in utf-8 by default. Some non ASCII symbol may be typed by mistake.

BTW default file encoding depends on your OS settings. Also you can change it in Preferences->General->Workspace.

[2021-04-24 22:16] chapmanjacobd opened #12238 "Copy and paste Geometry => Geometry SRID (0) does not match column"
#### System information:
Windows 10
DBeaver version 21.0.3
POSTGIS="3.0.3 6660953" [EXTENSION] PGSQL="120" GEOS="3.9.1-CAPI-1.14.2" PROJ="7.2.1" LIBXML="2.9.1" LIBJSON="0.11" LIBPROTOBUF="1.0.2" WAGYU="0.4.3 (Internal)"

#### Connection specification:
- psql (PostgreSQL) 12.2

![image](https://user-images.githubusercontent.com/7908073/115974133-d1f11280-a517-11eb-9d79-f95177a25a3d.png)

#### Descr

[2021-04-25 01:39] kekeimiku commented on #5779
I also encountered this problem, and I solved it temporarily by this method....

https://gist.github.com/kekeimiku/e1da488d96727789de88332499a51d57

[2021-04-25 04:25] detkliff opened #12239 "wrong server timezone"
dbeaver 21.0.3
Postgres 12

in my table timestamptz type column.

Select from this column give me date in wrong timezone.

For example pdAdmin give me date with server timezone by default.

What the timezone used in dbeaver i am do not understand. I see that this timezone is wrong, and dbeaver returned wrong date.

pgAdmin it is real data
![изображение](https://user-images.githubusercontent.com/61

[2021-04-25 06:29] manticore-projects opened #12240 "Suggestion: Enhance the SQL Formatter"
Greetings!

Thank you for providing DBeaver, I like it a lot. Although it seems to struggle with formatting of SQL expressions, e.g.:
[code]

becomes an unreadable
[code]

I see that you use JSQLParser already. So I sat down and wrote my own [JSQLFormatter](https://manticore-projects.github.io/jsqlformatter) based on JSQLParser (although with some fixes, pending PRs).
While it is work in progress,

[2021-04-25 07:42] wvolkov commented on #12235
ok, got it, thx for clarification

[2021-04-25 07:42] #12235 closed, assigned to nobody

[2021-04-25 09:17] p0m1d0rka opened #12241 "Add clikchouse functions to auto-complete feature"
**Is your feature request related to a problem? Please describe.**
There are no autocomplection to clickhouse function

**Describe the solution you'd like**
I want to autocomplection like "toStartOf..."

list of finctions - https://clickhouse.tech/docs/en/sql-reference/functions/

I can pr some, but tell me plz, where i should wtite it.

TY

[2021-04-25 12:01] sharpordie commented on #8798
It should works (works on default Ubuntu 21.04 setup) now if you use Wayland as default backend.
However you'll get this weird close icon and topbar.

![](https://i.postimg.cc/L5tjqmpS/Screenshot-from-2021-04-25-13-51-55.png)

You can fix this by using xwayland for dbeaver like this.
[code]

But you will have the same problem as previously aka duplication.

![](https://i.postimg.cc/Y0z856jQ/Screen

[2021-04-25 12:24] flambchap commented on #11201
This problem is not specific to Oracle.

[2021-04-25 12:54] ShadelessFox commented on #12239
Hello @detkliff,

Please take look at the timezone offset: `+05`.

* pgAdmin shows `14:30:00` with timezone of `GMT+3`, so `GMT+0` would be `11:30:00`.
* DBeaver shows `16:30:00` with timezone of `GMT+5`, so, `GMT+0` would be `11:30:00`.

As you can see, the time is valid, the only thing is differ is the timezone.

Actually, it may depend on the date/time settings of your OS.

[2021-04-25 15:34] serge-rider commented on #10692
Edit toolbar was deprecated and removed from the configuration.
Additionally icons for standard Eclipse actions were updated and redundant icons removed from the main toolbar.

[2021-04-26 02:26] lleeoo commented on #3780
After the driver installation completes, you can close DBeaver and restart as regular user and it should work fine.

[2021-04-26 05:42] detkliff commented on #12239
in other words I cannot see real data in database from dbeaver. I had 10 servers in different timezone, i should change date/time settings of my OS ten times for ever server and see data.
It is very bad and uncomfortable.

How i can set timezone for everyone connection individua?

[2021-04-26 06:38] mkgrgis opened #12244 "Refactor web map to flatgeobuf"
[xf:gis]
**Is your feature request related to a problem? Please describe.**
The _fastest_ `leaflet.js` view and the _smallest_ web applications and _universal_ export of GIS data based on GeoJSON format. Now DBeaver's web map freeze if there is more than ~2500 points/other objects. `Leaflet.js` can support not less than ~10000..20000 points depends on CPU/RAM.
Now in DBeaver's web app there is `so

[2021-04-26 06:38] mkgrgis opened #12245 "Save a map as simple web application (a group of files, based on leaflet.js)"
[xf:gis]
**Is your feature request related to a problem? Please describe.**
For sending a small geo datasets to other people it will be useful to have this feature, based on files from `/tmp/.dbeaver... `
![изображение](https://user-images.githubusercontent.com/41448637/116032842-0d4f2680-a669-11eb-9150-92ef7bc9be6a.png)

**Describe the solution you'd like**
A new button - save as simple web app.

[2021-04-26 07:05] mkgrgis commented on #3358
I think shp is useful, but geoJSON is now more universal. After web application refactoring https://github.com/dbeaver/dbeaver/issues/12244 DBeaver can support shp through https://github.com/jdesboeufs/geojson2shp  or https://gis.stackexchange.com/questions/311321/converting-geojson-to-shapefile-using-geotools-java

[2021-04-26 08:42] ShadelessFox commented on #12239
Can you provide more information about your server? What does <kbd>Connection configuration</kbd> &rArr; <kbd>Test connection</kbd> shows to you?

[2021-04-26 08:55] uslss commented on #10692
verified

[2021-04-26 08:55] #10692 closed

[2021-04-26 08:57] uslss commented on #12237
verified

[2021-04-26 08:57] #12237 closed, assigned to serge-rider, uslss

[2021-04-26 08:58] detkliff commented on #12239
i do not see this function in the interface.

[2021-04-26 08:59] uslss commented on #11160
verified

[2021-04-26 08:59] #11160 closed, assigned to uslss, LonwoLonwo

[2021-04-26 09:39] ShadelessFox commented on #12239
![SQ0plKBNkJ](https://user-images.githubusercontent.com/35821147/116062323-75633400-a68c-11eb-9ee9-a3d7bcda1ad1.png)

[2021-04-26 09:59] uslss commented on #11542
**CFILE:**
ALTER/Create
![image](https://user-images.githubusercontent.com/31996417/116063717-f7a02800-a68d-11eb-9cfd-e0a2cdfb3d02.png)
**CONTENT POINTER**
CREATE TABLE HR.NEWTABLE1 (
	COLUMN1 CONTENT POINTER
);
![image](https://user-images.githubusercontent.com/31996417/116063905-2e763e00-a68e-11eb-82c0-27f8bca3b99b.png)
ALTER
![image](https://user-images.githubusercontent.com/31996417/116063999-

[2021-04-26 10:06] uslss commented on #11521
verified

[2021-04-26 10:06] #11521 closed, assigned to uslss, LonwoLonwo

[2021-04-26 10:08] uslss commented on #12206
verified

[2021-04-26 10:08] #12206 closed, assigned to LonwoLonwo

[2021-04-26 10:28] LonwoLonwo opened #12246 "New tests for Oracle DDL"
We need more tests for Oracle.

For Alter column statements first at all.
Check data types parameters and correct syntax.

[2021-04-26 10:55] detkliff commented on #12239
![изображение](https://user-images.githubusercontent.com/61137576/116071814-c6345600-a6a7-11eb-9f71-dd65e34ce314.png)

[2021-04-26 11:08] mkgrgis opened #12247 "Refactor subsystem of leaflet.js tilelayers (only switching logic)"
**Is your feature request related to a problem? Please describe.**
1.
1.1 Select a point
![изображение](https://user-images.githubusercontent.com/41448637/116072761-30dd9580-a698-11eb-8528-b62f7e8f4918.png)
1.2 Change tilelayer to other => World map, no object
Example - Result of OpenTopoMap => ArcGis cosmo
![изображение](https://user-images.githubusercontent.com/41448637/116073012-8154f300-a698-1

[2021-04-26 11:12] uslss commented on #11426
verified

[2021-04-26 11:12] #11426 closed, assigned to ShadelessFox

[2021-04-26 11:12] uslss commented on #3487
verified

[2021-04-26 11:12] #3487 closed

[2021-04-26 11:21] uslss commented on #11408
verified

[2021-04-26 11:21] #11408 closed, assigned to uslss, ShadelessFox

[2021-04-26 11:30] uslss commented on #10797
verified

[2021-04-26 11:30] #10797 closed

[2021-04-26 11:34] uslss commented on #11218
verified

[2021-04-26 11:34] #11218 closed, assigned to uslss, ShadelessFox

[2021-04-26 11:54] uslss commented on #11455
verified

[2021-04-26 11:54] #11455 closed, assigned to flambchap, uslss

[2021-04-26 12:02] adonis-kun opened #12248 "Can't start the program DBeaver, and shows the error Path must include project and resource name: /General"
I click the configure button next to Project-General, and then choose DBeaver Settings. In the window on the right, shows Navigator bookmarks, ER diagrams and SQL scripts. I double click the bookmarks, and choose General, the Navigator bookmarks folder is empty. And then choose apply and close. When I restart the program, it keeps reporting errors. I attampt to reset the workspace, but it has no s

[2021-04-26 12:40] flambchap commented on #11201
Fixed.

[2021-04-26 12:55] quartoq opened #12249 ""select current_timestamp;" in dbeaver show wrong time"
Hi, "select current_timestamp;" in dbeaver show wrong time.

[code]
[code]

---------------------------------------------- check results -----------------------------------------------------
[code]

====================== -Duser.timezone=Europe/Moscow ======================
[code]
[code]

====================== -Duser.timezone=UTC ================================
[code]
[code]

[2021-04-26 13:32] zeller-babymarkt commented on #6592
Today I was using for that feature and found the sad news it was removed. Please bring it back! If new users are "irritated" as you say, just disable it and give the option to enable.

[2021-04-26 13:33] markuszeller commented on #6592
https://github.com/dbeaver/dbeaver/issues/6592

[2021-04-26 13:33] markuszeller commented on #6592
Today I was looking for that feature and found the sad news it was removed. Please bring it back! If new users are "irritated" as you say, just disable it and give the option to enable.

[2021-04-26 14:44] stratozero commented on #12172
I'm experiencing the exact same issue (also now...), with the same environment:
- windows 10,
- java 11.0.6,
- dbeaver 21.0.3

Each time I install some plugin updates it start rebooting, making the whole PC unusable for more than one hour because every second or two switches the foreground window to the DBEaver start one. After a ton of reboots it starts working.
[metadata.zip](https://github.com/

[2021-04-26 15:17] LonwoLonwo commented on #11542
CFILE, CONTENT PROVIDER AND OCTET are predefined Oracle data types ("SELECT * FROM ALL_TYPES"), but I can't find any documentation about them. So let them go further.

[2021-04-26 15:23] LonwoLonwo commented on #11516
Ability to create, rename, delete and add comment to sequence added. Also sequence now have new parameters: cycle, cache and identity table link. These options can be changed via UI. (CE version)
 We added ability to drop and rename projection via UI only in [EE version](https://dbeaver.com/).

[2021-04-26 16:37] KES777 opened #12254 "Beautiful check box is not displayed"
After upgrading from 7.2.24 to 21.0.3 beautiful check box is not displayed:

![image](https://user-images.githubusercontent.com/799021/116118229-c0e60400-a6c5-11eb-8c6e-167c262934bd.png)

[2021-04-26 18:47] alexarze commented on #6064
While this great to know (it is __so__ slow though), I definitely would use a multiselect cursor on a regular basis. Disappointing we're waiting for Eclipse to implement this.

[2021-04-26 19:11] ShadelessFox commented on #11480
Fixed / Implemented:

https://user-images.githubusercontent.com/35821147/115051541-9afe7980-9ee5-11eb-9936-1b082654074b.mp4

[2021-04-27 02:21] ITshoushou1 commented on #12048
![image](https://user-images.githubusercontent.com/22141141/116174879-e1ec3a80-a741-11eb-914a-3142e6a11412.png)
 I got the error too when i export a large table data from database

[2021-04-27 07:07] LonwoLonwo commented on #11312
Implemented in DBeaver 21.0.4
Will be available at 2021-05-03

You can find disable/enable trigger tool in Navigator Tree.

![2021-04-27 09_57_12-DBeaver Enterprise 21 0 4 - customer_dimension](https://user-images.githubusercontent.com/45152336/116199352-b10b0600-a73f-11eb-86bb-6e95faacb3da.png)

Tool can be used for one or many triggers.

![2021-04-27 09_57_56-DBeaver Enterprise 21 0 4 - customer

[2021-04-27 07:59] uslss commented on #12254
@KES777 You could change Booleans view in Preferences
![image](https://user-images.githubusercontent.com/31996417/116206593-a3f21500-a747-11eb-8d2b-0838e0229a31.png)

[2021-04-27 08:03] uslss commented on #12249
@quartoq cannot reproduce it against 21.0.3.
What version do you use?

[2021-04-27 08:09] kseniiaguzeeva commented on #11114
_DBeaver command: It is a table with partitions HR.Q1_SALES_BY_REGION. The issue still cannot be reproduced._

[2021-04-27 08:11] mkgrgis commented on #12254
"True/false" is SQL constants, but why "Yes/No" isn't NLS strings?

[2021-04-27 08:14] uslss commented on #12248
thanks for the report
As a workaround you could open %APPDATA%\DBeaverData\workspace6\General\.settings\org.jkiss.dbeaver.project.resources.prefs e.g. in notepad and delete `resourceRootFolder/bookmarks=` from file and than save it

[2021-04-27 08:26] adonis-kun commented on #12248
Thank you very much. It solved my problem perfectly.

[2021-04-27 08:26] adonis-kun commented on #12171
As a workaround you could open %APPDATA%\DBeaverData\workspace6\General.settings\org.jkiss.dbeaver.project.resources.prefs e.g. in notepad and delete resourceRootFolder/bookmarks= from file and than save it

[2021-04-27 08:26] #12171 closed, assigned to nobody

[2021-04-27 09:08] quartoq commented on #12249
@uslss this  version is given in my post
DBeaver Version 21.0.3.202104181339
Release date: April 19, 2021

[2021-04-27 09:38] uslss commented on #11312
verified

[2021-04-27 09:38] #11312 closed, assigned to uslss, LonwoLonwo

[2021-04-27 09:39] serge-rider commented on #8811
@santiagofn It has to be `nl` not `n1` (L <> 1)

[2021-04-27 09:40] uslss commented on #11542
verified

[2021-04-27 09:40] #11542 closed, assigned to uslss, LonwoLonwo

[2021-04-27 09:43] uslss commented on #10059
verified

[2021-04-27 09:43] #10059 closed

[2021-04-27 09:48] uslss commented on #11331
verified

[2021-04-27 09:48] #11331 closed, assigned to uslss, ShadelessFox

[2021-04-27 09:48] kseniiaguzeeva commented on #10879
Verified with nuances:
_ % * ? ^ + ( )  cannot be found via this search field.

[2021-04-27 09:48] #10879 closed, assigned to flambchap, kseniiaguzeeva

[2021-04-27 10:35] kseniiaguzeeva opened #12257 "Ctrl+F Search cannot find formatted numbers"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.0.4 EA

#### Steps to reproduce, if exist:

1. Open a table where a formatted number exists (e.g. 9,898) and press Ctrl+F
2. Enter an unformatted number (e.g. 9898) into Search field and begin the search

**Expected**: the number is found
**Actual result**: the number is not found

[2021-04-27 11:01] serge-rider commented on #8811
Now language selector is disabled + instructions are shown when DBeaver is installed in a write-protected folder.

[2021-04-27 11:10] kseniiaguzeeva commented on #11480
verified

[2021-04-27 11:10] #11480 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-04-27 11:36] uslss commented on #11201
still reproducible
![2021-04-27_14h35_16](https://user-images.githubusercontent.com/31996417/116234922-e296c800-a765-11eb-94ad-1be93fb51b52.gif)

[2021-04-27 11:39] uslss commented on #12186
verified

[2021-04-27 11:39] #12186 closed, assigned to uslss, LonwoLonwo

[2021-04-27 11:47] uslss commented on #10818
verified

[2021-04-27 12:11] serge-rider commented on #12068
Done.
Known issues: JDBC driver doesn't perform database shutdown on disconnect. Thus database file remains locked for some time after disconnect.
DBeaver restart or explicit garbage collection helps.

[2021-04-27 12:14] travis-leith commented on #12068
For the duckdb R package, when disconnecting you have to explicitly set `shutdown = TRUE`. Not sure if that helps. I will raise an issue on the duckdb repo about this.

[2021-04-27 12:28] flambchap commented on #11575
Implemented.

[2021-04-27 13:02] flambchap commented on #11575
Well, I've just realized that I forgot to add a tabbed folder with view triggers.

[2021-04-27 14:07] isak-kaz opened #12260 "With the latest version column names cannot be retrieved in Vertica"
#### System information:
- macOS Big Sur
- DBeaver version 21.0.3.202104181339

#### Connection specification:
- Vertica
- Driver Vertica 10.1.0

#### Describe the problem you're observing:

In object explorer when retrieving column list from a table drop down following error occurs:

![image](https://user-images.githubusercontent.com/60605981/116255530-9bfb9a80-a772-11eb-9c82-4420bccbae3a.png)

#

[2021-04-27 14:10] isak-kaz commented on #12260
This affects autocomplete object name as well

[2021-04-27 14:47] KES777 commented on #12254
restored view. Thank you
![image](https://user-images.githubusercontent.com/799021/116261803-ad4ba380-a780-11eb-978e-3ca57574580d.png)

[2021-04-27 14:47] #12254 closed, assigned to nobody

[2021-04-27 14:48] KES777 commented on #12254
Would be nice if upgrading apply current behavior instead of providing new configurations

[2021-04-27 15:35] Bart-De-Pauw opened #12261 "Oracle Function-based indexes shows columns with duplicate position and wrong expression"
#### System information:
- Operating system: Windows Server 2016 Version 1607
- DBeaver version: 21.0.3 ce
- Additional extensions: not applicable

#### Connection specification:
- Database name and version: Oracle 12.1.0.2.0
- Driver name: ojdbc8 19.3.0.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? not applicable

#### Describe the problem you're observing:
When viewing function-based inde

[2021-04-27 16:20] LonwoLonwo commented on #12260
Hello @isak-kaz
Thanks for the bug report.
We already fixed this problem here https://github.com/dbeaver/dbeaver/issues/12127 , I hope.
Can you please test [Early Access version](https://dbeaver.io/files/ea/)?

[2021-04-27 16:24] isak-kaz commented on #12260
Hi thanks, I don’t see a mac early access on the list in dmg form.

On Tue, 27 Apr 2021 at 18:20, Anastasiya ***@***.***> wrote:

[2021-04-27 16:26] quartoq commented on #12249
@uslss, we tried to reproduce it on several PCs, it is reproducible

[2021-04-27 17:13] wiebereu opened #12263 "cannot connect to database"
This week I run into Dbeaver which from what I see till now is the right tool for me to manage databases.
Before I start I want to say that I'm not sure if this a bug report that I have to make because I don't know what is the cause of my problem.
As I said I installed the Dbeaver 21.0.3 and wanted to connect to a MySQL database running on Unbuntu 20.10. To be complete, I installed Unbuntu and aft

[2021-04-27 17:30] blanks-hub commented on #1399
@mastrolube I have the same problem and can't edit my SQLite columns like the Data Type or default value. Really annoying.

[2021-04-27 18:11] thalesvon commented on #9307
This also worked for me!
Turns out I messed things up when installing new fonts.

[2021-04-27 18:38] ccotton333 opened #12264 "Inability to Expand Columns for Vertica Source"
#### System information:
- Operating system (distribution) and version: Window 10
- DBeaver version: Version 21.0.3.202104181339
- Additional extensions: N/A

#### Connection specification:
- Database name and version: Vertica 9.2
- Driver name: Vertica.jdbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When using the database navigator to explo

[2021-04-27 18:53] ccotton333 commented on #12264
Seems this issue is supposed to be fixed in 21.0.4, so nothing more needed. I'll review when the new version is available.

[2021-04-27 18:53] #12264 closed, assigned to nobody

[2021-04-27 23:26] dvaun commented on #11360
Encountered the same bug.
[code]
Replacing the offending statement with `AlgorithmId.get()` fixed the issue for me:
[code]
I referenced the function definition here https://github.com/openjdk-mirror/jdk7u-jdk/blob/f4d80957e89a19a29bb9f9807d2a28351ed7f7df/src/share/classes/sun/security/x509/AlgorithmId.java#L405-L420

[2021-04-27 23:42] ShadelessFox commented on #11360
Hello @dvaun,

Thanks for investigating.

Does it only solve compilation problem or self-signing mechanism still works under JDK15?

Actually, this statement could be replaced with `"MD5withRSA"` to match the previous version.

[2021-04-28 00:13] dvaun commented on #11360
Hi @ShadelessFox, it should self-sign successfully given that the `AlgorithmId.get()` returns an instance of `AlgorithmId`. I have not ran any tests, though.

I found similar fixes here:
* https://github.com/playframework/playframework/commit/4d8d84c560ae5cc2433cd7a0a9863bc6d88ea28a#diff-838d3843f266a91382fef49dedbae029c6202c88fb9e4e756e47dfe735ac1e15
* https://github.com/lightbend/ssl-config/comm

[2021-04-28 00:31] ShadelessFox commented on #11360
You see, besides that one constant, we use `sun.*` packages that aren't a part of Java's standard library. In JDK15 there were several security improvements, including the usage restriction on the internal APIs, including that one I mentioned before.

[2021-04-28 02:53] hubutui commented on #7727
It would be a great idea to read `dbeaver.ini` from the user's home dir, eg: `$HOME/.config/dbeaver.ini`.

[2021-04-28 04:45] mkgrgis commented on #12244
How to build geoJSON with `properties` member from a table in one step? See the first example from [ST_AsGeoJSON](https://postgis.net/docs/ST_AsGeoJSON.html )

How to prepare separate features? See the second example from [ST_AsGeoJSON](https://postgis.net/docs/ST_AsGeoJSON.html )

[2021-04-28 04:49] chrisvdb opened #12267 "PPA does not work with Ubuntu 21.04"
The instructions on [https://launchpad.net/~serge-rider/+archive/ubuntu/dbeaver-ce](https://launchpad.net/~serge-rider/+archive/ubuntu/dbeaver-ce) do not work on Ubuntu 21.04.

E: The repository 'http://ppa.launchpad.net/serge-rider/dbeaver-ce/ubuntu hirsute Release' does not have a Release file.

[2021-04-28 05:24] dvaun commented on #11360
Would using the bouncycastle package be acceptable? https://www.bouncycastle.org/documentation.html

[2021-04-28 06:56] wowsonsun commented on #11655
**use fully qualified names** is disabled
![image](https://user-images.githubusercontent.com/23351005/116359639-9d3fcc80-a831-11eb-991e-c5e2192bd38b.png)

[2021-04-28 07:05] wowsonsun commented on #11655
@kseniiaguzeeva

[2021-04-28 07:17] uslss commented on #8811
verified

[2021-04-28 07:22] mozhuanzuojing opened #12268 "support DM（达梦）"
***
[达梦官网](https://www.dameng.com/)

[2021-04-28 07:23] uslss commented on #8811
Error appears if no changes were made, but Preference window was closed using "Apply and Close" button

https://user-images.githubusercontent.com/31996417/116363131-7bcbea00-a80b-11eb-9cde-fb1b986d6937.mp4

[2021-04-28 07:35] uslss commented on #12149
still reproducible
![Kazam_screenshot_00014](https://user-images.githubusercontent.com/31996417/116364034-715e2000-a80c-11eb-9b10-770164df1616.png)

[2021-04-28 07:42] serge-rider commented on #8811
Fixed

[2021-04-28 08:03] LonwoLonwo commented on #11236
Displaying objects with lazy initialization fixed in DBeaver 21.0.4

[2021-04-28 08:18] ShadelessFox commented on #11360
We had some thoughts about that. But even using its lightweight API the binary size is still inappropriate :(

Currently we're looking towards using the `keytool` command-line utility which is bundled with Java.

[2021-04-28 08:31] flambchap commented on #11575
Folder added.

[2021-04-28 08:40] uslss commented on #8811
verified

[2021-04-28 08:43] uslss commented on #11575
verified

[2021-04-28 08:43] #11575 closed, assigned to flambchap, uslss

[2021-04-28 08:45] uslss commented on #11236
verified

[2021-04-28 08:45] #11236 closed, assigned to uslss, LonwoLonwo

[2021-04-28 08:59] uslss commented on #12068
reopened.
Newly created objects are not visible until node refresh. Also, dbeaver switches to manual commit even if auto-commit is enabled in preferences
![2021-04-28_11h57_21](https://user-images.githubusercontent.com/31996417/116376731-331b2d80-a819-11eb-9c15-ba8d21e31799.gif)

[2021-04-28 09:06] uslss commented on #12268
duplicates #10133

[2021-04-28 09:06] #12268 closed, assigned to nobody

[2021-04-28 09:27] c-hennecke opened #12271 "v21.0.3 for MacOs - SQL autocompletion only works for first mentioned table"
#### System information:
- macOS 11.3 (20E232)
- 21.0.3

#### Connection specification:
- MySQL 5.7.32
- Driver "MySQL 5"

#### Describe the problem you're observing:
After the update to 21.0.3 the column name autocompletion in SQL editors only works for the first table named in the query.
E.g.
For "SELECT * FROM TABLE1 t1, TABLE2 t2 WHERE t1." the autocompletion works
For "SELECT * FROM TABLE1 t1

[2021-04-28 09:28] verajosemanuel commented on #3448
not working. After reboot, Dbeaver has no available vim keybinding.

[2021-04-28 09:28] chan18 commented on #12048
Q) Is it embedded?
A) not sure what you mean by embedded database I assume it is local-DB, I have connected to the remote database.

soon, I will share my logs. Let me try again.
Thanks for your reply @kseniiaguzeeva

[2021-04-28 09:30] verajosemanuel commented on #8219
vrapper not working on dbeaver version 21.0.3.202104181339
Installed but after reboot no new binding is available.

[2021-04-28 09:42] LonwoLonwo commented on #12261
Thanks for the bug report.

[2021-04-28 09:57] philmassie opened #12272 "database > set as default not working as expected"
#### System information:
- Windows 10
- DBeaver Version 21.0.3.202104181339
- Athena driver

#### Connection specification:
- AthenaJDBC42.jar ver: SimbaAthenaJDBC-2.0.16.1000
- AthenaJDBC42.jar
- No

#### Describe the problem you're observing:
Right click database name > set as default
- leads to every query addressing a database called "default"

#### Steps to reproduce, if exist:
eg right click

[2021-04-28 10:38] #12061 closed, assigned to serge-rider, uslss

[2021-04-28 11:27] uslss commented on #12272
thanks for the report
duplicates #11196

[2021-04-28 11:27] #12272 closed, assigned to nobody

[2021-04-28 11:29] uslss commented on #12271
thanks for the report

[2021-04-28 12:18] flambchap commented on #11201
Fixed once again.

[2021-04-28 12:21] philmassie commented on #12272
Right Sorry about that - missed it.

[2021-04-28 12:37] OldrichDlouhy opened #12274 "Explain Execution Plan not working with MySQL for query that uses CTE"
#### System information:
- Windows 10 64bit (
- DBeaver version 2.1.03

#### Connection specification:
- MySQL 8.18
- Driver name MySQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When the MySQL query uses the CTE (common table expression), attempt to explain the query ends with error "Only SELECT statements could produce execution plan".

MyS

[2021-04-28 12:39] LonwoLonwo commented on #12271
This is duplicate of https://github.com/dbeaver/dbeaver/issues/12168

[2021-04-28 12:39] #12271 closed, assigned to nobody

[2021-04-28 12:45] LonwoLonwo commented on #12241
Hello @p0m1d0rka
Thanks for idea.
Unfortunately, we cannot add al the functions mentioned in the documentation - they are too much.
Can you make a list of the most commonly used features? It would be very helpful for us.

[2021-04-28 12:47] serge-rider commented on #10859
@qiqingli Thanks for the update

[2021-04-28 12:47] #10859 closed, assigned to nobody

[2021-04-28 12:51] serge-rider commented on #11799
I'm afraid it is not possible in Java. You can't "refresh" environment variables, only application restart will work.

[2021-04-28 13:20] ShadelessFox commented on #10809
Hello @greenpeas,

Try unbinding all conflicting shortcuts that use <kbd>F2</kbd> in <kbd>Preferences</kbd> &rArr; <kbd>User Interface</kbd> &rArr; <kbd>Keys</kbd>, so that only <kbd>Rename</kbd> remains:

![image](https://user-images.githubusercontent.com/35821147/116410557-91f29e00-a83d-11eb-9b17-6a0bf5424888.png)

[2021-04-28 13:21] serge-rider commented on #12114
It is a known issue in the Eclipse platform. Unfortunately we can't fix it from dbeaver side.
Hopefully it will be fixed in the next Eclipse version (2021-06).

[2021-04-28 13:30] LonwoLonwo commented on #5959
As a workaround - you can highlight all procedure text and use ctrl+Enter

[2021-04-28 14:08] inigomp commented on #5959
Yes, thank you, but I can't develop a new procedure:

[image: image.png]

El mié, 28 abr 2021 a las 15:30, Anastasiya ***@***.***>)
escribió:

[2021-04-28 14:09] inigomp commented on #5959
sorry, my fault. It works

El mié, 28 abr 2021 a las 16:08, Íñigo Martín ***@***.***>)
escribió:

[2021-04-28 14:47] andrew-medvedev opened #12277 "Just curious about why this software has 5 fps GUI"
Hello. I'm using mac book air m1 and dbeaver ver. 7.3.5. And I just curious what kind of technologies or frameworks you use to reach this "significant" performance?

https://user-images.githubusercontent.com/7358595/116423330-06d3d100-a85a-11eb-801a-3bbe15bcea59.mp4

I understand that right now we have a long of technologies that should go in a trash can right now but for God sake.
(And no, I don'

[2021-04-28 15:13] dvaun commented on #11360
That's neat. I don't use Java day-to-day so I haven't worked with `keytool` before.

After some brief searching it looks like it calls `sun.security.tools.keytool.Main.main()`: https://www.pixelstech.net/article/1452341855-Using-Java-keytool-programmatically

Seeing as `generateCertificate` passes the DN and keypair then this could be used to generate the certificate then be returned as `byte[]`

[2021-04-28 15:17] ShadelessFox commented on #11360
Thanks for your investigation, but unfortunately we can't use the first approach because it's internal API too.

[2021-04-28 15:38] dvaun commented on #11360
Okay, looking further then maybe you can check for existence of `keytool` in the path then create a process/runtime to execute it? Then you can pass the necessary parameters.

[2021-04-28 15:59] KES777 opened #12279 "Composite type columns cannot be exported with enabled Show complex data structure"
#### System information:
- DBeaver version 21.0.3

#### Connection specification:
- Database name and version: Postgres 13.1

#### Describe the problem you're observing:
[code]

#### Steps to reproduce, if exist:
1. Select column `x`
2. Select some columns from composite type `torder`

![image](https://user-images.githubusercontent.com/799021/116434921-87430380-a853-11eb-9bd9-8d44c12d2bd1.png)

3.

[2021-04-28 16:24] KES777 opened #12280 "Formatting timestamptz miss zeros by default"
#### System information:
- Operating system (distribution) and version Linux mint 17.3
- DBeaver version 21.0.3

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/799021/116438509-30d7c400-a857-11eb-879a-6f29f5a1ea16.png)

data is not adjusted

it hard to check values visually, because data become not adjusted

[2021-04-28 16:56] ShadelessFox commented on #11360
That's exactly what we want to do :)

[2021-04-28 17:44] Lautenschlager-id opened #12283 "[Feature Request] Option to display trailing whitespaces in row/column data"
I would like to be able to see trailing whitespaces in data fields in my SQL tables.

For example, assume the value `test ` in the following query:
``insert into `player` ( `name` ) values ( "test " )``

This way I currently can't see the whitespace in "test", leading me to face some bugs in my application. It would be easier for me if DBeaver displayed the whitespace somehow.

It could be enabled

[2021-04-28 20:26] serge-rider commented on #12149
Eclipse bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=572370

By some reason linux build keeps jna 5.6.0 dependency instead of good 4.5.1. Looking into it..

[2021-04-28 20:33] serge-rider commented on #12068
@travis-leith unfortunately this is not supported in Java driver.

@uslss this caused by loosy JDBC API support in DuckDB driver. Table is created in mixed case (as driver says it uses mixed case). But in fact it is then converted into lower case. And the dbeaver can't find this table when tries to re-read metadata.

Creating tables in lower case helps.
Metadata refresh helps.

[2021-04-28 20:35] serge-rider commented on #12149
Fixed

[2021-04-28 20:38] travis-leith commented on #12068
Ok, I will report back to the DuckDb repo

[2021-04-28 22:18] serge-rider commented on #12120
Thanks for noticing that (again 😥  )

Yes. In fact RMI listens two different ports. One for RMI registry and another for actual TCP connections.
We must limit the second one with local income connections as well.

Generally I'd love to get rid of RMI and replace it with something more reliable, like rest service.
However it will require time for development.

[2021-04-28 22:19] serge-rider commented on #12120
Fixed

[2021-04-28 22:59] securit opened #12284 "SCRAM authentication is not supported by this driver."
#### System information:
- MacOS Big Sur v11.3
- DBeaver Version 21.0.3.202104181339
- Additional extensions

#### Connection specification:
- PostgreSQL with PostGIS
- PostgreSQL 13.2 (postgresql-42.2.3.jre7.jar, postgis-jdbc-2.2.1.jar, postgis-geometry-2.5.0.jar)
- No

#### Describe the problem you're observing:
SCRAM authentication is not supported by this driver. You need JDK >= 8 and pgjdbc >

[2021-04-28 23:03] p91paul commented on #12277
duplicate of https://github.com/dbeaver/dbeaver/issues/7777

[2021-04-29 00:59] yhuihu commented on #12048
I have the same question.

[2021-04-29 02:33] edrich-xendit opened #12285 "Unexpectedly quits when closing a detached window"
#### System information:
- Operating system (distribution) and version **M1 Mac OS 11.3**
- DBeaver version **21.0.3**
- Additional extensions

#### Connection specification:
- Database name and version **PostgreSQL 11.4**
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

When I detach a window, and close the detached window (either the

[2021-04-29 06:22] LonwoLonwo commented on #11161
Fixed
![116369429-09123d00-a812-11eb-93d9-e838b4f2fb40](https://user-images.githubusercontent.com/45152336/116509667-5fdc4d00-a8cc-11eb-90d1-663458be09af.png)

[2021-04-29 06:37] #12277 closed, assigned to nobody

[2021-04-29 08:06] podoni opened #12286 "Highlight rows with selected cells Bug."
#### System information:
- Windows 10
- DBeaver 21.0.3
-
#### Connection specification:
- Oracle 18C

After sorting in the Result Set, the "Highlight rows with selected cells" option works incorrectly.
Rows not selected become highlights.

It seems that the row before sorting becomes the highlight.
![sort_selectrow](https://user-images.githubusercontent.com/59002295/116520105-3db6ef00-a90d-11eb-94

[2021-04-29 08:23] LonwoLonwo commented on #11028
DROP statement fixed (now including procedure/function parameters)

[2021-04-29 08:31] uslss commented on #11114
@dariodjuric could you try to update to recent version? If issue is still reproducible, please, provide [thread dump](https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump)

[2021-04-29 08:42] uslss commented on #12149
verified

[2021-04-29 08:42] #12149 closed, assigned to serge-rider, uslss

[2021-04-29 08:43] uslss commented on #12068
verified

[2021-04-29 08:43] #12068 closed, assigned to serge-rider, uslss

[2021-04-29 08:47] uslss commented on #11201
verified

[2021-04-29 08:48] LonwoLonwo commented on #11515
drop statement fixed in scope with https://github.com/dbeaver/dbeaver/issues/11028 in CE version

[2021-04-29 08:49] uslss commented on #11161
verified

[2021-04-29 08:49] #11161 closed, assigned to uslss, LonwoLonwo

[2021-04-29 08:49] g3blv opened #12288 "Not possible to expand Databases under host"
#### System information:
- Fedora 33
- 21.0.3 Flatpak
- MariaDB Client

#### Connection specification:
- MariaDB [10.3.23-MariaDB-log]
- MariaDB Connector/J [2.4.3]
- AWS RDS SSH

#### Describe the problem you're observing:

I have to click the expand arrow on each level a few times for the next level to expand. Sometimes I'm not able to get it to expand at all.

![image](https://user-images.githu

[2021-04-29 08:51] uslss commented on #11382
verified

[2021-04-29 08:51] #11382 closed, assigned to uslss, ShadelessFox

[2021-04-29 08:54] g3blv opened #12289 "Auto suggest function not working"
#### System information:
- Fedora 33
- 21.0.3 Flatpak
- MariaDB Client

#### Connection specification:
- MariaDB [10.3.23-MariaDB-log]
- MariaDB Connector/J [2.4.3]
- AWS RDS SSH

#### Describe the problem you're observing:

There are no suggestions for table names when typing SQL statements.

When selecting `FROM` after typing `F` it comes out as `FFROM`

Pressing TAB after entering the first cou

[2021-04-29 09:02] uslss commented on #11028
verified

[2021-04-29 09:02] #11028 closed, assigned to LonwoLonwo

[2021-04-29 09:41] uslss commented on #12120
verified

[2021-04-29 09:41] #12120 closed, assigned to serge-rider

[2021-04-29 10:10] F0xD8rk opened #12290 "Oracle - Navigate further to other objects when viewing the declaration of a function, a package body, ..."
#### Connection specification:
- Database name and version: Oracle 12

#### Describe the problem you're observing:
It would be nice if you could navigate further to other objects if you are viewing f.e. the declaration of a function, the package body, ...
Now you can only directly navigate (F4 or rightclick and _Open Declaration_) to the respective objects if you copy f.e. the name of an object an

[2021-04-29 10:19] uslss commented on #11800
@Skypekey default drivers location could be set in Preferences
![image](https://user-images.githubusercontent.com/31996417/116536388-8363bf80-a8ed-11eb-899c-91acf4406d1f.png)

[2021-04-29 10:22] uslss commented on #11925
@sk-dataocean-online could you try to update to 21.0.3?
seems, at least, first issue should be fixed in it (#10914)

[2021-04-29 10:26] uslss commented on #11992
@dimkas78 you could try to disable Connection auto-recover enabled option in Preferences
![image](https://user-images.githubusercontent.com/31996417/116537126-7abfb900-a8ee-11eb-9aad-18ffe502aa99.png)

[2021-04-29 10:27] uslss commented on #12009
Unfortunately, it is not supported yet.
Thanks for suggestion

[2021-04-29 10:53] majkinetor commented on #6727
Yeah, please add button [x] on each column. Its totally inefficient to kill bunch of columns via menu.

[2021-04-29 10:54] uslss commented on #10657
verified

[2021-04-29 10:54] #10657 closed

[2021-04-29 10:57] uslss commented on #12012
cannot reproduce it against 21.0.4 EA
![image](https://user-images.githubusercontent.com/31996417/116540429-cd02d900-a8f2-11eb-9de9-0f640a7b58b4.png)

[2021-04-29 10:58] uslss commented on #12018
duplicates #7727

[2021-04-29 10:58] #12018 closed, assigned to nobody

[2021-04-29 11:04] uslss commented on #12029
Seems to be a duplicate of #10402

As a workaround, you could disable those options:
![image](https://user-images.githubusercontent.com/31996417/116541093-af823f00-a8f3-11eb-926f-17474e4e3265.png)
![image](https://user-images.githubusercontent.com/31996417/116541156-c9238680-a8f3-11eb-9284-36b2901521aa.png)

[2021-04-29 11:04] #12029 closed, assigned to nobody

[2021-04-29 11:05] uslss commented on #12033
Seems it could be related to incorrect SSL certificates
https://www.ibm.com/support/pages/complete-guide-set-ssl-using-ibm-data-server-driver-jdbc-and-sqlj

[2021-04-29 11:07] uslss commented on #12059
@sebthom could you provide [dbeaver debug log](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-04-29 11:11] uslss commented on #12064
@db2zosuser could you provide a video with an issue?
Also, please check if it is actual for you against the recent version (21.0.3)?

[2021-04-29 11:12] uslss commented on #12071
thanks for the suggestion

[2021-04-29 11:14] uslss commented on #12134
thanks for the report
seems it is an eclipse issue

[2021-04-29 11:15] uslss commented on #12165
Probably, it should help if you disable those options:
![image](https://user-images.githubusercontent.com/31996417/116541093-af823f00-a8f3-11eb-926f-17474e4e3265.png)
![image](https://user-images.githubusercontent.com/31996417/116541156-c9238680-a8f3-11eb-9284-36b2901521aa.png)

[2021-04-29 11:16] uslss commented on #12169
thanks for suggestion

[2021-04-29 11:20] uslss commented on #12197
@BogdanMugerli cannot reproduce an issue. You could probably provide a video with an issue or any other info that could help investigate it?

[2021-04-29 11:52] LonwoLonwo commented on #7079
Ability to rename, drop and comment data type added.

[2021-04-29 11:59] kai-morich commented on #12012
I also couldn't reproduce it any more. looks like it somehow has been fixed

[2021-04-29 12:25] wernerdaehn commented on #12012
Summary: "How can I output scalar output variables for Hana?" Please execute the following command on our test server:
`CALL "PUBLIC"."GET_REMOTE_SOURCE_OBJECT_TREE" ('FILESOURCE','',?,?);`

Detail:

Interesting. I just tried with `call proc1(?,?)` as well and it worked as well, even I have not upgraded the DBeaver installation.
The variant with implicit result sets worked as well, I have created

[2021-04-29 12:31] riednyko commented on #12072
Try to update your xapp version.
https://forum.manjaro.org/t/failed-to-load-module-xapp-gtk3-module/46039/10

[2021-04-29 12:45] kai-morich commented on #12012
here a simple testcase

    CREATE OR replace PROCEDURE proc1 (OUT tab1 sys.dummy, OUT tab2 sys.dummy, OUT val1 int, OUT val2 int) AS BEGIN
        tab1 = SELECT 'A' AS dummy FROM dummy;
        tab2 = SELECT 'B' AS dummy FROM dummy;
        val1 = 42;
        val2 = 43;
    END;

    CREATE OR replace PROCEDURE proc2 (OUT val1 int, OUT val2 int) AS BEGIN
        val1 = 42;
        val2 = 43;

[2021-04-29 12:47] ShadelessFox commented on #11324
Cannot reproduce:

![image](https://user-images.githubusercontent.com/35821147/116552825-232b4880-a902-11eb-9c23-dbb97c1b1f6a.png)

[2021-04-29 13:07] LonwoLonwo commented on #12204
Can't reproduce with date type column.

![2021-04-29 15_58_18-DBeaver Enterprise 21 0 4 - test_date](https://user-images.githubusercontent.com/45152336/116554554-fe37d500-a903-11eb-9ff2-f0c173fb094e.png)

@ARod001
Can you attach here (in Github) your screenshot manually please? I can't see it in your email-version answer.

[2021-04-29 13:20] apolyton opened #12293 "Reopening of #6103: dbeaver restore of pg_dump with custom format fails with "could not find block-id""
#### System information:
- Windows 10 2004
- DBeaver version 21.0.3.202104181339

#### Connection specification:
- Postgresql 12.6
- postgres JDBC 42.2.20
- tried native Postgresql from DBeaver as well Postgresql 12 Binaries from Postgres
- no tunnel

#### Describe the problem you're observing:
Any backup made with pg_dump in custom format (--format=c) which was not made with dbeaver and has table

[2021-04-29 13:38] uslss commented on #11201
FKs aren't shown in reference panel
![image](https://user-images.githubusercontent.com/31996417/116559442-26760280-a909-11eb-81dc-608fb592fe49.png)
![image](https://user-images.githubusercontent.com/31996417/116559596-486f8500-a909-11eb-8539-71363e3cf900.png)

[2021-04-29 13:39] taz-7er opened #12294 "Database Navigator filter does not filter databases"
#### System information:
- Operating system (distribution) and version - windows 10
- DBeaver version 21.0.3.202104181339
- Additional extensions

#### Connection specification:
- Database name and version - sql server

#### Describe the problem you're observing:
When using the filter in the Database Navigator the option to "filter databases or schemas" only filters schemas.  The list of Databases

[2021-04-29 13:44] ShadelessFox commented on #12294
Thanks for the report!

[2021-04-29 13:47] dimkas78 commented on #11992
Thank you, @uslss!  I will try it certainly.

[2021-04-29 14:27] ShadelessFox commented on #11384
Fixed:

![java_tCyHggnX3q](https://user-images.githubusercontent.com/35821147/116567374-3ba25f80-a910-11eb-8e27-8e13a38f6c42.png)

[2021-04-29 15:16] uslss opened #12298 "Column descriptions aren't shown in resultset"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.4

#### Connection specification:
- Database name and version redshift

#### Describe the problem you're observing:
Column descriptions aren't shown in resultset, but they are shown in data editor.
![image](https://user-images.githubusercontent.com/31996417/116575086-00575f00-a917-11eb-92bb-72f014e8

[2021-04-29 15:23] uslss opened #12299 "Table columns are read-only in resultset"
#### System information:
- Operating system (distribution) and version win 10
- DBeaver version 21.0.4

#### Connection specification:
- Database name and version Redshift
#### Describe the problem you're observing:
Table is read-only in resultset even if it has PK. It could be successfully edited in Data Editor
![image](https://user-images.githubusercontent.com/31996417/116576066-e4a08880-a917-11

[2021-04-29 15:30] dvaun commented on #11360
If you or the other developers don't have time to spare to work on this particular goal I'd be willing to spend some time this weekend playing with it.

[2021-04-29 15:35] ShadelessFox commented on #11360
Well, we are always open for contributions, so it would be really nice!

Do you need any help to get started on it?

[2021-04-29 16:03] Hemmels opened #12300 "Import/Export/Table copy SQL generation issue with multiple columns ON DUPLICATE"
#### System information:
- Operating system (distribution) and version
Windows 10 64-bit
- DBeaver version 21.0.3

#### Describe the problem you're observing:
Copying any table or using the "export to CSV" function with "ON CONFLICT DO UPDATE SET" setting generates poor SQL..
i.e. ON CONFLICT (col1col2,) instead of ON CONFLICT (col1, col2)

#### Steps to reproduce, if exist:
See above. Both method

[2021-04-29 16:19] mxmlnglt commented on #1802
I'd like this too.

This is funny to read this, as each driver has its own JDBC URL template... so why not make use of it to parse the user provided URL then?

e.g. PostgreSQL (org.postgresql.Driver) has template: jdbc:postgresql://{host}[:{port}]/[{database}]

[2021-04-29 16:28] flambchap commented on #11201
This problem is specific to Redshift and is not a side-effect of my fix.

[2021-04-29 16:33] wiebereu commented on #12263
How long i have to wait for a review? Forgive for asking but i don't understand why my issue has to take 2 days for review

[2021-04-29 16:38] #11201 closed, assigned to flambchap, uslss

[2021-04-29 18:50] serge-rider commented on #7777
Yep. It was much better in Catalina btw. BigSur is super laggy by itself comparing to previous MacOS versions. All our performance improvements made earlier just doesn't make sense there.
Here are another 17 pages of complains - https://developer.apple.com/forums/thread/666661
Plus some hints: https://stackoverflow.com/questions/65336445/eclipse-unusably-slow-after-upgrading-macos-from-catalina-to

[2021-04-29 19:55] dvaun commented on #11360
If I run into trouble I'll ping here. Is there a another issue or milestone I should reference if I make a commit?

[2021-04-29 20:53] serge-rider commented on #1802
@mxmlnglt It is doable if we'd talk about jdbc urls only. Unfortunately there are a lot more different database connection URLs out there.

However, it would be a good feature even for JDBC URLs. We'll try to support this feature after 21.1 release. Milestone added.

[2021-04-29 20:59] erlangparasu commented on #10443
sorry but it is still on version 21

[2021-04-29 21:14] serge-rider opened #12301 "New objects created in mixed case by default"
For some databases we create new objects in mixed case (e.g. `NewTable`). But actually object names are stored in lower/upper case and thus we can't find the new object in database metadata after save. This leads to weird behavior like columns disappear.

The bug seems to be in SQLDialect.supportsUnquotedMixedCase value detection.

[2021-04-29 21:56] LonwoLonwo commented on #11775
![2021-04-30 00_43_39-emp - Persist Changes](https://user-images.githubusercontent.com/45152336/116623036-4e3b8980-a94e-11eb-93ee-47dcb0254b9e.png)

![2021-04-30 00_45_53-emp_2 - Persist Changes](https://user-images.githubusercontent.com/45152336/116623038-4ed42000-a94e-11eb-865c-a16dd4f88fa5.png)

![2021-04-30 00_47_03-DBeaver Enterprise 21 0 4 - emp_2](https://user-images.githubusercontent.com/4

[2021-04-29 22:52] LonwoLonwo commented on #12300
Yep, you are totally right. Thanks for the bug report.

(But this is only import issue, because "ON CONFLICT DO UPDATE SET" is import setting in PG)

[2021-04-30 01:25] jimbogithub commented on #11775
Try with this:

[code]

Now the t_child DDL preview is not prefixed:

![image](https://user-images.githubusercontent.com/5095954/116637016-db1a2d80-a9b6-11eb-831a-111be7801be4.png)

The t_child generated DDL is prefixed:

![image](https://user-images.githubusercontent.com/5095954/116637053-f71dcf00-a9b6-11eb-894b-b6617f603c49.png)

Unfortunately the full schema generation is not working at all on

[2021-04-30 01:34] jimbogithub commented on #11775
Here's a redacted version of my real schema full DDL generation:

![image](https://user-images.githubusercontent.com/5095954/116637671-a4ddad80-a9b8-11eb-89c0-98c3683f3b6f.png)

[2021-04-30 01:44] jimbogithub commented on #11775
I can also duplicate the issue on a schema I know was created using explicit schema prefixes for the FKs but where the database connection used in DBeaver has that same schema set as the currentSchema (connection property).

[2021-04-30 06:24] ShadelessFox commented on #11360
There may be other issues related to the same problem, but they're mostly duplicates, so you can directly reference only this issue.

[2021-04-30 06:28] ShadelessFox commented on #11439
The model was updated to use `getLargeUpdateCount`, if available.

[2021-04-30 06:31] ShadelessFox commented on #2013
I believe this issue was resolved by #11177. If not, I will re-open this one.

[2021-04-30 06:31] #2013 closed

[2021-04-30 06:36] sknextcode commented on #12293
This is also described in https://github.com/dbeaver/dbeaver/issues/7813 and also affecting backup files made with dbeaver.

[2021-04-30 06:50] sk-dataocean-online commented on #11925
Unfortunately, this update didn't resolve those issues...

[2021-04-30 07:30] mkgrgis commented on #12301
Most of relational databases can store mixed case if there is SQL quoting. In DBeaver also there is quoting mode: option "case sensitive DDL".

[2021-04-30 07:36] mkgrgis commented on #12263
Try to find out the status of the MySQL / MariaDB port. Will it accept connections? If so, try connecting with a regular MySQL / MariaDB command line client with the same username. If it works, then the problem is in DBeaver or in the driver. But this is rarely case.

[2021-04-30 07:40] LonwoLonwo commented on #11783
Fixed in DBeaver 21.0.5.
Now "Open Database Object" returns Foreign Tables.

[2021-04-30 07:42] LonwoLonwo commented on #12300
Fixed in DBeaver 21.0.5
Can be tested on tables with PK on 2 or more columns.

[2021-04-30 07:50] ShadelessFox commented on #9005
Thanks for request, it would be a nice feature to have!

[2021-04-30 08:23] uslss commented on #7079
verified

[2021-04-30 08:23] #7079 closed

[2021-04-30 08:45] ShadelessFox commented on #11324
Reproducible with external file.

[2021-04-30 10:29] kseniiaguzeeva opened #12309 "Saving order by settings breaks a table view"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.4 EA

#### Connection specification:
- Database name and version Hive

#### Steps to reproduce, if exist:
1. Apply column ordering in Data Editor and press Save filter settings
2. Reopen the table

**Expected**: the table is displayed with applied filter criteria
**Actual result**: an error is displ

[2021-04-30 10:41] wiebereu commented on #12263
I solve it. The problem was in the default configuration of MySQL.
By default, you cannot log in remotely to the database. Especially not as root.
To change that you will have to edit your mysqld.cnf file in the /etc/mysql/mysql/conf.d/ folder
There you can add a line that said **bind-address = 0.0.0.0** meaning from any IP or put in a specific Ip that can connect to the database.
Then you log in

[2021-04-30 10:41] #12263 closed, assigned to nobody

[2021-04-30 10:42] kseniiaguzeeva opened #12310 "Object Editor refresh leads to an error"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.4 EA
- Additional extensions
#### Connection specification:
- Database name and version Hive

#### Steps to reproduce, if exist:
Open a table properties and press Refresh

**Expected**: the table properties are refreshed
**Actual result**: an error appears: "Connection is closed"
**Note**: the same

[2021-04-30 10:58] LonwoLonwo commented on #11775
Found it. It depends on default_schema specified in the connection settings.

![2021-04-30 12_45_42-Window](https://user-images.githubusercontent.com/45152336/116680255-1f57fe80-a9b4-11eb-9f48-cb5416fa01d6.png)

![2021-04-30 12_46_00-Window](https://user-images.githubusercontent.com/45152336/116680261-1ff09500-a9b4-11eb-9bb0-9ebb4b9da561.png)

Without specified default schema
![2021-04-30 12_35_56

[2021-04-30 11:16] kseniiaguzeeva opened #12313 "Column value auto-suggestion doesn't work"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.4

#### Connection specification:
- Database name and version Hive

#### Steps to reproduce, if exist:
Write a select query like SELECT * FROM table_name where column_name = and press Ctrl+Space

**Expected**: a list of column values appears
**Actual result**: no results pop up appears
#### Include

[2021-04-30 11:16] sudipdind commented on #5230
I was also getting the same error while debugging Procedure with 3 parameter.
Fncname(1,2,3) error
Then pass the parameter as Fncname('1','2','3')  solved

[2021-04-30 11:31] dariodjuric commented on #11114
Hi @uslss, it appears I cannot reproduce it anymore. Perhaps it was fixed in a newer release. I think we can close the issue.

[2021-04-30 11:31] #11114 closed, assigned to nobody

[2021-04-30 12:40] ShadelessFox commented on #11139
Hello @dollarsign143,

The characters from sample data you're provided is not ascii-compatible.

In fact, they're available in `latin1` encoding, also known as extended ascii.

Perhaps you should change encoding of your database to `latin1`.

[2021-04-30 13:25] kseniiaguzeeva opened #12314 "[MSSQL] Show more trigger fields"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver 21.0.4

#### Connection specification:
- Database name and version SQL Server

#### Describe the problem you're observing:
We should show more trigger fields in Metadata Editor.

[2021-04-30 13:34] uslss commented on #12299
verified

[2021-04-30 13:34] #12299 closed, assigned to nobody

[2021-04-30 13:52] kseniiaguzeeva opened #12317 "Grouping panel support for Hive"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.4

#### Connection specification:
- Database name and version Hive

#### Description:
1. JDBC program has to be added to execute group by clause https://www.tutorialspoint.com/hive/hiveql_group_by.htm.
2. Also SQL expression has to be modified for Hive Grouping panel:
**Expected**: `SELECT Dept,coun

[2021-04-30 13:55] uslss commented on #8811
notification in preferences isn't shown in case of installing application for All users

[2021-04-30 14:08] kseniiaguzeeva opened #12318 "Sorting doesn't work for fetched rows, in custom filter, after saving filter settings"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.4

#### Connection specification:
- Database name and version Hive

#### Steps to reproduce, if exist:
**Case 1**
Open a table where rows have to be fetched and sort a column via column header

**Case 2**
Open Custom filter and try to order data in Columns or Custom tab

**Case 3**
1. Apply column o

[2021-04-30 14:34] schmitzkr commented on #12267
This also was not working in groovy for the latest version of dbeaver.
Launch pad only has version 21.0.2
https://launchpad.net/~serge-rider/+archive/ubuntu/dbeaver-ce

[2021-04-30 14:40] rajmondburgaj opened #12319 "Expanding the column width hides the next cell content"
When I run a select query and I have some JSON values in the given cells, I want to see all the content therefore I click the column border line in order to auto-expand it, but this leads to hiding the next cell content. For more it can be seen in the image below.

I am using the latest version: Version 21.0.3.202104181339, Windows 10

![Animation](https://user-images.githubusercontent.com/7545874

[2021-04-30 14:47] JoelVenable commented on #10470
The RCP paged linked now indicates there are early access builds available.  Is it a big lift to compile an alpha version?

[2021-04-30 15:33] LonwoLonwo commented on #12319
As workaround you can use "columns width: fit values"
![2021-04-30 18_04_26-Window](https://user-images.githubusercontent.com/45152336/116718388-93a99680-a9e2-11eb-8b2b-6b6a260a7f7d.png)

[2021-04-30 16:30] renezito commented on #12168
The problem is in Oracle too.  In version 21.0.2 everything is fine, like @JamesInform indicated.  But in 21.0.3 doesn't work.
I maked a video with the evidence:

https://drive.google.com/file/d/1SbxPmU9hg13AeN-OrVXFJYTGekG9-tZk/view?usp=sharing

https://user-images.githubusercontent.com/37661233/116725410-dd2cbe00-a9af-11eb-9772-0c3b30f36a32.mp4

[2021-04-30 16:32] brilliant-smart opened #12323 "Dbeaver hung at Import DBeaver configuration"
I force purged dbeaver community that comes with kali and installed a newer version as the old one refused to update or allow me install the new one on top of it.
Now if I start the dbeaver it hang at welcome logo with import dbeaver configuration written at the task bar..

Please help!

#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extension

[2021-04-30 17:40] KOLANICH opened #12324 "DBeaver connection hangs when connecting to dolt"
#### System information:
- Operating system (distribution) and version: Ubuntu Hirsute
- DBeaver version 21.0.3

#### Connection specification:
- Database name and version: [dolt](https://github.com/dolthub/dolt)
- Driver name mariadb-java-client, mysql-connector-java
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

`Test connection` works, working -

[2021-04-30 19:39] jimbogithub opened #12325 "Generated DDL for CREATE DOMAIN is setting an invalid COLLATE of default"
#### System information:
- Operating system (distribution) and version: macOS 11.3
- DBeaver version: 21.0.3.202104181339
- Additional extensions: none

#### Connection specification:
- Database name and version: PostgreSQL 12.6
- Driver name: PostgreSQL JDBC Driver 42.2.5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

Generated DDL for `CREATE

[2021-04-30 19:44] jimbogithub commented on #11775
Thanks, that workaround is working for me.

[2021-05-01 01:54] deepaksenthilkumar commented on #5631
viewDefinition.contains("with no schema binding"); works only for lower case of the code. If the code is WITH NO SCHEMA BINDING, it doesn't work. You might want to change the code to viewDefinition.toLowerCase().contains("with no schema binding");

[2021-05-01 02:07] deepaksenthilkumar commented on #10897
Hi Team, Importing into Redshift is also very slow. Are you planning to use the batch insert instead of single inserts to speed this up (will it speed it up for Redshift too)?

Thanks,
Deepak

[2021-05-01 02:20] vicreal commented on #10818
How can I download version 21.0.4 ?
[Hear](https://dbeaver.io/files/ea/) only 21.0.3...

[2021-05-01 02:34] vicreal commented on #10809
Checked **21.0.3**. Rename columns not working on F2.

Yes. If unbind conflict command "Показывать описание подсказки" then renaming columns by F2 working.
But F2 should work "out of the box". That is, initially (when installing the program) there should be no conflict.

![F2 conflict](https://user-images.githubusercontent.com/72701351/116768339-81f5dc80-aa3e-11eb-97e1-791c76ec12ed.jpg)

[2021-05-01 06:52] ShadelessFox commented on #10809
Indeed, I agree that such fundamental feature should be working out of the box.

I suggested a workaround to start from, at least for now. It needs further examination.

Thanks for response.

[2021-05-01 11:53] kseniiaguzeeva opened #12326 "A warning message with NPE appears when a new table is created"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.4 EA

#### Connection specification:
- Database name and version Oracle

#### Steps to reproduce, if exist:

1. Open Error log
2. Create a new table via UI

**Expected**: the table is created without any message in Error log
**Actual result**: the table is created and a warning message appears after

[2021-05-01 12:21] kseniiaguzeeva opened #12327 "Resultset doesn't appear in case of whole script execution"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.4 EA

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
1. Write at least 2 queries in SQL Editor
2. Press Execute SQL Script or Execute SQL Script in separate tabs

**Expected**: the queries are executed and ResultSet appears with results
**Actual result**: the queries

[2021-05-01 12:47] wvolkov opened #12328 "Overwriting of auth creds in case of several git projects"
#### System information:
- Windows 10 2004
- DBeaver version 23.0.3
- Git for DBeaver

#### Describe the problem you're observing:

Current version of program rewrites auth. details when using https protocol in case of several projects.

#### Steps to reproduce, if exist:
1. Create repository 1 from git with auth details 1
![image](https://user-images.githubusercontent.com/49549154/116781458-b2179

[2021-05-01 13:34] kseniiaguzeeva commented on #12309
Seems have one reason with https://github.com/dbeaver/dbeaver/issues/12318

[2021-05-01 13:34] #12309 closed, assigned to nobody

[2021-05-01 13:47] JVKdouk commented on #8845
This issue is still present on DBeaver. For some reason, it cannot update Array columns of custom type!

[2021-05-01 17:21] p91paul commented on #8845
@JVKdouk I advise you to open a new issue, this one's closed

[2021-05-01 20:09] flambchap commented on #12327
This is a side-effect of [this](https://github.com/dbeaver/dbeaver/issues/12237) bugfix.

[2021-05-02 15:14] serge-rider commented on #12327
Fixed

[2021-05-02 16:16] kseniiaguzeeva commented on #12327
verified

[2021-05-02 16:16] #12327 closed, assigned to serge-rider, kseniiaguzeeva

[2021-05-02 19:19] serge-rider commented on #12313
May be a Hive limitation

[2021-05-03 09:58] GertL commented on #7879
I have the same issue with SyBase IQ. Is there a resolution?

[2021-05-03 10:02] GertL opened #12330 "Autocompletion is not Proposing Table Names after "FROM""
DBeaver Version: 21.0.2.202104042040
Database: SyBase IQ
Driver: jConnect - http://infocenter.sybase.com/help/index.jsp?topic=/com.sybase.infocenter.dc01776.1602/doc/html/san1357754912881.html

In DBeaver prior versions, the SQL editor provided also autocomplete for Table Names, however in the latest, it has stopped proposing table-names as I type.

For example, if I type select * from , I want th

[2021-05-03 10:52] elring opened #12331 "Table column changes are immediately semi-discarded after Refresh"
**System information:**

    OS: Linux Mint 20
    DBeaver version: 21.0.4

**Connection specification:**

    Database: Postgresql 12

**Describe the problem you're observing:**

After editing table columns (rename or create) the Refresh function semi-discards those changes - regardless the confirmation. The changes are still valid (can be saved) but the column list is restored to original state.

[2021-05-03 13:07] kseniiaguzeeva commented on #12330
Unfortunately, I cannot reproduce it. Please send a video where auto-completion doesn't work or a full query with table name example.

[2021-05-03 13:10] kseniiaguzeeva commented on #12331
Thank you for the report.

[2021-05-03 13:14] kseniiaguzeeva commented on #12289
Thank you for the report.

[2021-05-03 13:20] kseniiaguzeeva commented on #12286
Thank you for the report.

[2021-05-03 13:38] eperrone-kercher opened #12332 "Column auto fill not working when not using JOIN syntax"
#### System information:
- Win10 Version	10.0.19042 Build 19042
- DBeaver version 21.0.4.202105021514
- Additional extensions Darkest Theme SQL Debugger

#### Connection specification:
- PostgreSQL 9.6.20 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit
- JDBC
- no

#### Describe the problem you're observing:
when writing a query like this:

select w.pms_sect

[2021-05-03 13:39] eperrone-kercher commented on #12332
Might be related to issue #12313 I am not sure.

[2021-05-03 13:53] chriswatkins314 commented on #10234
Update:  I tried this on my recent upgrade to v 21.0.4 and that resolved the issue for me.  Thanks for the suggestion!

[2021-05-03 14:01] kseniiaguzeeva commented on #12332
Thank you for the report.

[2021-05-03 14:02] ademaio-crown commented on #12332
I am experiencing the same thing. Oddly, mine is intermittent. Sometimes the auto complete doesn't even work on a single table select, sometimes it is just slow, sometimes it works on much more complex queries.

I also agree this started with the last two updates.

[2021-05-03 14:08] serge-rider opened #12333 "SQL Editor: show output log configation improvement"
In some databases output log is used to print all error messages (e.g. MySQL). This may be annoying.
We need to add a way to disable auto-show option more easyly, e.g. directly in the output log toolbar.

[2021-05-03 14:51] Kazun3500 opened #12334 "Is the oracle procedure body displayed correctly?"
#### System information:
- Operating system (distribution) and version Linux Ubuntu 20.04
- DBeaver version - 21.0.2.202104042101

#### Connection specification:
- Database name and version - Oracle
- Driver name - default

#### Describe the problem you're observing:
I often use online service for unwrapping oracle packages - https://www.codecrete.net/UnwrapIt/ .
And I got the following problem us

[2021-05-03 15:05] dgills commented on #7521
A hacky workaround to keep your snap and avoid reinstalling as .deb:

Just add the your **/usr/bin** (or wherever your DB client is) to your bookmarked folders in file explorer:

![dbeaver-snap-dir-issue](https://user-images.githubusercontent.com/2458526/116893809-638b0f00-abff-11eb-9e24-3ec1db782a98.png)

[2021-05-03 15:32] ems2811 opened #12335 "Autocompletion doesn't work in some JOIN cases."
#### System information:
- Windows 10 Pro x64
- DBeaver 21.0.4
- No additional extensions

#### Connection specification:
- PostgreSQL 9.5
- Default PostgreSQL driver
- No tunnels or proxies

#### Describe the problem you're observing:
Column autocompletion doesn't work when table in from clause doesn't have alias
#### Steps to reproduce, if exist:
https://user-images.githubusercontent.com/2214284

[2021-05-03 15:34] autodidact1958 commented on #12323
Delete the older configuration-paths in your home-directory (in Linux /home/<USER>/.dbeaver4, .dbeaver-drivers etc.). Older configurations can prevent new versions from starting (as I learned today :-))

[2021-05-03 15:42] maritogaleano commented on #12185
Update to version 21.0.4 and the bug persists
![image](https://user-images.githubusercontent.com/57814047/116898674-ad2a2880-ac04-11eb-8068-f3f77c49cedb.png)

[2021-05-03 16:00] Lonniebiz commented on #7879
So, today I made a video showcasing this issue:
https://youtu.be/6OW0liGSLTk

However, after reviewing that video, I realized what was happening. Basically, at the time that I was expecting "Auto-completion of Table Names", I was instead getting a list of **database names**. At that time, here's what my global auto-completion settings were:

![AutoCompleteSettings1](https://user-images.githubuserc

[2021-05-03 16:09] MrRoiz01 opened #12336 "Row Highlight is broken after new added row."
When I try to add a new row, the current highlight does not match with the correct row.

![Screenshot_268](https://user-images.githubusercontent.com/61702317/116901677-d7c5b280-abff-11eb-8c65-4582fc190ffa.png)

[2021-05-03 16:41] brilliant-smart commented on #12323
Can't find such directory. However, running dbeaver --configure in terminal makes the program open...

[2021-05-03 17:07] givihuda opened #12337 "Table Data tab filter expression filter results datetime column ordering improper"
#### System information:
- Operating system (distribution) and version: macOS Catalina 10.15.7
- DBeaver version: Version 21.0.3.202104181339
- Additional extensions

#### Connection specification:
- Database name and version: MySQL 5.7
- Driver name: Whatever DBeaver prompted me to install during connect, the typical/normal/default I guess.
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No, i

[2021-05-03 18:19] raulcarlomagno opened #12338 "add support for DuckDB"
adding database support for duckdb would be graet

https://duckdb.org/

[2021-05-03 18:20] serge-rider commented on #12338
It was added in DBeaver 21.0.4.

Duplicate of #12068

[2021-05-03 18:20] #12338 closed, assigned to nobody

[2021-05-03 19:01] xenel5 commented on #10360
how can get the directory as eclipse.exe? or how can i get my java version ?

[2021-05-03 19:20] LonwoLonwo commented on #12332
This case also here: https://github.com/dbeaver/dbeaver/issues/12168
May be, duplicate.

[2021-05-03 19:26] echan888 opened #12339 "View Table against Azure Synapse Analytics dedicated SQL pool table is slow"
#### System information:
- Windows 10
- DBeaver Community 21.0.4
- No additional extensions

#### Connection specification:
- Azure Synapse Analytics dedicated SQL pool (using Azure SQL Server driver)
- Azure SQL Server (using Azure SQL Server driver)
- No tunnels or proxies (SSH, SOCKS, etc.)

#### Describe the problem you're observing:
- View Table against a table is slow - Load DataTypeCache is

[2021-05-03 19:30] LonwoLonwo commented on #12334
Hello @Kazun3500
Thanks for the bug report.

[2021-05-03 19:40] LonwoLonwo commented on #10818
Hello @vicreal
you can do it now from https://dbeaver.io/

[2021-05-03 19:52] LonwoLonwo commented on #12335
Hello @ems2811
Thanks for the bug report!
This is duplicate of https://github.com/dbeaver/dbeaver/issues/12185 and https://github.com/dbeaver/dbeaver/issues/12168

[2021-05-03 19:58] LonwoLonwo commented on #12336
Hello @MrRoiz01
Thanks for the bug report!
Can reproduce with new added row.
![2021-05-03 22_54_48-DBeaver Enterprise 21 0 4 - airports_data](https://user-images.githubusercontent.com/45152336/116926279-dc6f8280-ac62-11eb-8e12-a53ca6dbca52.png)

Is this ("Highlight rows with selected cells") setting enable?
![2021-05-03 22_55_17-Preferences](https://user-images.githubusercontent.com/45152336/11692

[2021-05-03 20:05] MrRoiz01 commented on #12336
Yes, it is
![image](https://user-images.githubusercontent.com/61702317/116927172-ec667280-ac20-11eb-926e-c86a6e1030f6.png)

[2021-05-03 20:06] MrRoiz01 commented on #12336
Yes, it is
![image](https://user-images.githubusercontent.com/61702317/116927260-0d2ec800-ac21-11eb-994d-95669e752800.png)

[2021-05-03 20:15] serge-rider commented on #12168
Fixed

[2021-05-03 20:19] serge-rider commented on #12286
Fixed

[2021-05-03 20:19] serge-rider commented on #12336
Duplicate of #12286
Fixed

[2021-05-03 20:19] #12336 closed, assigned to nobody

[2021-05-03 20:33] Kazun3500 commented on #12334
Did you reproduce problem? Or example ddl is necessary?

[2021-05-03 20:33] MrRoiz01 commented on #12336
Sorry, but I don't get it, if the bug was fixed, why is that happening to me?

[2021-05-03 20:37] serge-rider commented on #12336
The bug was assigned to the milestone and was fixed in the source code.
You can evaluate the fix after the next DBeaver release (21.0.5) or in the Early Access version.

[2021-05-03 20:39] LonwoLonwo commented on #12334
@Kazun3500 I reproduced the problem, thanks.

[2021-05-03 20:50] LonwoLonwo commented on #12326
Fixed in DBeaver 21.0.5

[2021-05-03 20:53] LonwoLonwo commented on #7563
Implemented in DBeaver 21.0.5
Will be available [here](https://dbeaver.io/) at 2021-05-17

[2021-05-03 21:11] LonwoLonwo commented on #12334
Fixed in 21.0.5
Will be available [here](https://dbeaver.io/) at 2021-05-17

For testers: can be tested in SYS schema (ex: DBMSOBJG2 package, "Body" tab)

[2021-05-03 21:32] LonwoLonwo commented on #12325
Hello @jimbogithub
Thanks for the bug report!

[2021-05-03 22:22] vicreal commented on #10818
Tested version 21.0.4: **problen 3** was fixed (sorting as numbers, not as strings).
But **problem 4** still the case:

[2021-05-03 22:31] LonwoLonwo commented on #10818
Can't reproduce.
![2021-05-04 01_29_55-DBeaver Enterprise 21 0 4 - _none_ Script-23](https://user-images.githubusercontent.com/45152336/116941436-578f6380-ac78-11eb-9cc9-e54f72ec7c84.png)

[2021-05-03 22:32] LonwoLonwo commented on #7879
@Lonniebiz and it works with this settings?

[2021-05-03 22:47] vicreal commented on #10818
Instead of bug 3, a new bug appeared: all values of uint types show as NULL
Example:
[code]
Then double click on table "test":
![Bug 3 new](https://user-images.githubusercontent.com/72701351/116942118-a5f13200-ac79-11eb-832d-00396ed0d56f.jpg)

`SELECT * FROM public.test WHERE (num = 2) OR (num = 3);`
![Bug 3 new 2](https://user-images.githubusercontent.com/72701351/116942209-dcc74800-ac79-11eb-93c

[2021-05-03 22:54] LonwoLonwo commented on #10818
Sorry, but can't reproduce again.

![2021-05-04 01_52_28-DBeaver Enterprise 21 0 4 - _gis_ Script-24](https://user-images.githubusercontent.com/45152336/116943093-8955f980-ac7b-11eb-85be-cf6eafe5df2c.png)

[2021-05-03 23:08] vicreal commented on #10818
The chronology is as follows:
**1)** Closed DBeaver, updated 21.0.3 to 21.0.4, started DBeaver. Checked: bug 3 fixed, **bug 4 not fixed**.
**2)** Further found that in all tables the uint data types are displayed as **NULL**.
**3)** Rebooted Dbeaver. Checked: **bug 3 is not fixed**, **bug 4 is not fixed**, in all tables uint data types are displayed as **NULL**.
**4)** Opened the data types in the

[2021-05-03 23:15] vicreal commented on #10818
If it's not difficult, tell us what option you implemented to determine that **uint extension** types are **integer** types:

[2021-05-03 23:43] ShadelessFox commented on #12294
Actually, this is a correct behavior. The "databases or schemas" filter means "containers with tables inside". Some databases may not have schemas, so tables are located inside database(-s).

Added clarification (names and hints were updated to better reflect their purpose) to filter modes.

![image](https://user-images.githubusercontent.com/35821147/116946280-62e78c80-ac82-11eb-8a31-7ad9fd79a970.

[2021-05-03 23:44] ShadelessFox commented on #11335
Fixed:

![image](https://user-images.githubusercontent.com/35821147/116681915-4283ad80-a9b6-11eb-9d68-20fcd2f6244e.png)

[2021-05-04 00:43] Lonniebiz commented on #7879
After enabling "**Use short object names (omit schema/catalog**)", as described above, **automatic** auto-completion does NOT work. Meaning, it doesn't try to make suggestions as you're typing.

However, if you hit ctrl+space_bar (after you've typed a few letters of the table name, it will then offer auto-completion suggestions that are indeed the table names in the database.

I wish there was a f

[2021-05-04 01:39] VIJAYVIVU commented on #1777
Thank you so much searching for long time

[2021-05-04 03:13] shawnsheridan opened #12342 "Connect to System.Data.SQLite with RC4 Cipher"
Deleted

[2021-05-04 05:43] GertL commented on #12330
SELECT *
FROM DW.Customer

It only works when I write the table name first. If I write the schema.table_name, it fails to auto-complete or offer a proposal

[2021-05-04 05:45] GertL commented on #7879
It fails when writing schema_name.Table_name. If I directly write table_name it is able to find the combination.
e.g. writing CustomerPortfolio, it can find DW.CustomerPortfolio, but writing DW.CustomerPortfolio, it cannot find nor it has proposals. And that is also with the settings displayed above.

However, that is not very sustainable. :(

[2021-05-04 07:58] BogdanMugerli commented on #12197
Hi. After further investigation seems like Driver for csv cannot have empty quotechar.
[CSV quotechar.pdf](https://github.com/dbeaver/dbeaver/files/6419694/CSV.quotechar.pdf)

[2021-05-04 08:00] detkliff opened #12343 "minimize function parameters window"
DBeaver version 21.0.3
Postgresql 12

very big place for main procedure information. It reduces code editor area - it is uncomfortable.

it would be nice to minimize this information to Main information tab.
![изображение](https://user-images.githubusercontent.com/61137576/116974998-5c83ff80-acd8-11eb-833c-24164f49866c.png)

[2021-05-04 08:03] detkliff commented on #12343
very big place by vertical form technic information and very litle editor area

![изображение](https://user-images.githubusercontent.com/61137576/116975432-14b1a800-acd9-11eb-920c-a9946df52b80.png)

[2021-05-04 10:13] bjorntj opened #12344 "Commit on select statements?"
Hi.

Coming from Datagrip but using DBeaver now for DB2 (since DBeaver supports DB2 better than Datagrip), I have one question.
I always set up connections against prod servers using manual transactions instead of autocommit. But I see that, for some reasons, I have "hanging" transactions when just using selects. Why do I need to commit or rollback select statements? (this is just handled when usi

[2021-05-04 10:17] 2019-05-10 opened #12345 ""Compare database objects": missing target directory causes "Invalid Thread Access""
#### System information:
- Operating system (distribution) and version: Debian/SID
- DBeaver version: 21.0.4.202105021514
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

Comparing two databases (Compare/Migrate -> Simple Structure Compare)
Output Type:

[2021-05-04 10:23] kseniiaguzeeva commented on #12285
Thank you for the report.

[2021-05-04 10:25] 2019-05-10 opened #12346 ""Compare database objects": tries to "Open in Browser" despite "Save to File" being selected"
See #12345 for details
#### System information:
- Operating system (distribution) and version: Debian/SID
- DBeaver version: 21.0.4.202105021514
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Comparing two databases (Compare/Migrate -> Simple Structure

[2021-05-04 10:28] kseniiaguzeeva commented on #12285
May be an eclipse issue.

[2021-05-04 10:34] kseniiaguzeeva commented on #12345
Thank you for the report.

[2021-05-04 10:37] kseniiaguzeeva commented on #12346
Thank you for the report.

[2021-05-04 11:37] bracharedis opened #12347 "cascade result tabs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-04 13:17] p0m1d0rka commented on #12241
ty for reply.
For me most frequently used functions are:

1. **aggregation functions**
 - sum()
 - min()
 - max()
 - count()
 - quantile()()
 - quantileExact()()
 - uniq
2. **string functions:**
 - concat()
 - substring()
 - match()
 - replaceOne()
 - replaceAll()
3. **time functions:**
 - toStartOfFifteenMinutes()
 - toStartOfFiveMinute()
 - toStartOfInterval()
 - now()
 4. **common**
  - if()

[2021-05-04 13:34] jamieoliveredwards commented on #2982
In the Database Navigator, right click on the connection and select Edit Connection. Then change the Database field to a value that is different to the DB you want to delete. You'll be prompted to refresh the connection and you should then be able to delete the first DB.

![image](https://user-images.githubusercontent.com/38109548/117011394-b3dc9c80-ace5-11eb-8a96-026eef722236.png)

This was the o

[2021-05-04 13:43] michal-bartak commented on #11453
Guys, is it resolved somehow or just closed because it is not going to be changed?
I cannot find any related code changes.

Anyway in v21.0.4 I found a change in the behavior which I seemts to be even worse than before: While changing schemas, all subsequent ones are added to search path. I doubt it is expected behavior. I've chast checked with some old version (v7) and this odd behavior is was he

[2021-05-04 14:15] rjake opened #12350 "ctrl + enter doesn't work if gaps between CTEs"
**Is your feature request related to a problem? Please describe.**
It seems I can either get code folding by putting spaces between each CTE or I can get the `ctrl + enter` functionality by not putting spaces between each CTE but cannot have both. Is it possible to get `ctrl + enter` to look further up when running.

### Scenario 1: Space between each CTE:
✔️ code folding  ❌ ctrl + enter
![image](

[2021-05-04 14:38] Lonniebiz commented on #7879
I noticed what @GertL is describing (I think). @GertL, what does it do if you type:
`select * from DW.DW.CustomerP` ?

For me, it would auto-complete at this point, producing:
`select * from DW.DW.CustomerPortfolio`

However, if I execute the query it fails due to "DW." being in there twice. If I take the extra "DW." out the query succeeds. Table name auto-completion will not occur without the ext

[2021-05-04 14:54] p91paul commented on #12344
I don't know about db2, but in many DBMS select could, in theory, call stored functions that could, in turn, edit data.
Datagrip might be trying to be smart and guessing your select is just a select. Dbeaver doesn't.

Actually, most likely Datagrip does open a transaction (to run any SQL you must do that) and immediately closes it if you run a SELECT only.

[2021-05-04 16:46] ShadelessFox commented on #11772
Fixed:

![image](https://user-images.githubusercontent.com/35821147/117039089-0bdcc880-ad11-11eb-9fef-5c0dfcad4cf3.png)

The problem is that DynamoDB supports arbitrary-length numbers, and DBeaver was not-aware of that.
[https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.

[2021-05-04 16:54] udovichenkoAlexander opened #12351 "Reference combo closed immediately"
**System information**:

- Ubuntu 20.04.2 LTS
- DBeaver Community 21.0.4

**Connection specification**:
- Postgresql (defferent versions)

When I try to select a different reference in references window, combo closed immediately

https://user-images.githubusercontent.com/23613015/117039645-ae954700-ad11-11eb-9a99-633b9368cda1.mp4

I still can select the reference by UP,DOWN arrow keys.

[2021-05-04 17:02] GertL commented on #7879
@Lonniebiz , `select * from DW.DW.CustomerP`  would have no proposal.

[2021-05-04 17:02] chuckh1958 opened #12352 "Tool tip for "execute sql statement" does not show correct key binding"
#### System information:
- Operating system (distribution) and version - Windows 10
- DBeaver version - 21.0.4.202105021514
- Additional extensions - Snowflake

#### Connection specification:
- Database name and version - Snowflake
- Driver name - snowflake
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  NO

#### Describe the problem you're observing:
The tool-tip that pops up when you hover t

[2021-05-04 17:07] schmitzkr commented on #12267
This appears to be resolved now.  Than you!

[2021-05-04 17:17] chrisvdb commented on #12267
Thank you for the prompt action on this!

[2021-05-04 17:17] #12267 closed, assigned to nobody

[2021-05-04 17:47] shawnsheridan commented on #12342
Solved using sqlite-jdbc-3.35.5.1.jar Driver.

[2021-05-04 18:03] Lonniebiz commented on #7879
For me, given your example, mine would auto-completing "DW" twice before finally auto-completing table names. Like this:
`select * from DW.DW.tableName`

However, that query fails execution unless you change it to:
`select * from DW.tableName`

So, for me, the autocompletion of table-names only happens after the 2nd dot (which produces a query that fails execution).

[2021-05-04 18:13] joshcsmith13 opened #12353 "Edit Toolbar disappeared"
![image](https://user-images.githubusercontent.com/6398845/81098706-6e3e9580-8f12-11ea-9a71-c92cbb71e7b2.png)

You need to switch perspective or restart dbeaver to let changes take effect.

_Originally posted by @serge-rider in https://github.com/dbeaver/dbeaver/issues/7868#issuecomment-624210377_

This preference disappeared in the latest version of DBeaver and my File Save button disappeared fro

[2021-05-04 18:15] joshcsmith13 commented on #12353
![image](https://user-images.githubusercontent.com/8902423/117050267-6571d280-acd2-11eb-8156-530c958188b8.png)

[2021-05-04 19:53] LonwoLonwo commented on #12241
@p0m1d0rka
Thanks for the list.

What about engines?
We have engine info in table DDL

![2021-05-04 22_52_03-DBeaver Enterprise 21 0 4 - array_type](https://user-images.githubusercontent.com/45152336/117061925-70a51c80-ad2b-11eb-9619-6d4c55505856.png)

[2021-05-04 19:56] LonwoLonwo commented on #12353
Hello @joshcsmith13
What DBeaver version and operating system do you use?

[2021-05-04 20:09] LonwoLonwo commented on #12350
Hello @rjake

Can you disable "Blank line is statement delimiter" setting and then test again, please?

![2021-05-04 23_05_08-DBeaver Enterprise 21 0 4 - array_type](https://user-images.githubusercontent.com/45152336/117063350-5d934c00-ad2d-11eb-9162-41487d071be9.png)

Test CTEs DDL will be very helpful also.

[2021-05-04 20:14] daydr3am3r commented on #2330
@gnomeria did you perhaps set the connection as read-only? You can check that by editing the connection (F4) > General > Read-only connection

[2021-05-04 20:31] LonwoLonwo commented on #7879
@Lonniebiz What structure has Pervasive? Connection-Database-Schema-Table?

![2021-05-04 23_28_37-DBeaver Enterprise 21 0 4 - domain_1](https://user-images.githubusercontent.com/45152336/117065847-a567a280-ad30-11eb-8626-38720482f937.png)

Or Connection-Schema-Table?
![2021-05-04 23_29_00-DBeaver Enterprise 21 0 4 - domain_1](https://user-images.githubusercontent.com/45152336/117065848-a6003900-ad

[2021-05-04 20:59] joshcsmith13 commented on #12353
DBeaver Current Version: 21.0.4.202105021514
OS:  Windows 10.0.18363

[2021-05-04 23:29] techlock77 opened #12354 "Active catalog/schema NOT working as expected."
System information:
- Operating system (distribution) and version - WIN 10
- DBeaver version - 21.0.3
- Additional extensions

Connection specification:
Database name and version- Netezza

The problem:
When catalog/schema is switched to any catalog other than default catalog in connection settings. Dbeaver is till taking the default catalog/schema, instead of picking the changed catalog/schema.

S

[2021-05-04 23:36] Lonniebiz commented on #7879
In Pervasive 13, there are two databases that I use. One is called MT and the other is called TESTING, which are highlighted in red below:

![psq](https://user-images.githubusercontent.com/151919/117081010-9bc84580-ad04-11eb-959a-6c10a6ce7635.png)

I use TESTING so rarely that I do not even have it registered in DBeaver.

In Dbeaver, when I add MT to the Database Navigator it looks like this:

![D

[2021-05-05 00:42] RollieParrish commented on #8219
I just updated to DBeaver version 21.0.4.202105021514 and was able to install the eclipse marketplace and vrapper again as noted above

[2021-05-05 01:29] ffbh123456 opened #12355 "visualization of content for bson or msgpack"
I have stored some serialized content of bson or msgpack in the mysql table. I want to view the corresponding content directly in dbeaver, but there is no corresponding option for bson or msgpack. Can you add this function?
<img width="302" alt="截屏2021-05-05 09 28 29" src="https://user-images.githubusercontent.com/20750357/117088173-43d12380-ad84-11eb-8fae-794f972ece72.png">

[2021-05-05 02:17] tianmingxing opened #12356 "Able to display all the log interface for executing SQL"
**Is your feature request related to a problem? Please describe.**
I want to clearly know every command sent to the server for execution through the current client

**Describe the solution you'd like**
I need to confirm that my actions are as expected

**Describe alternatives you've considered**
HeidiSQL provides this very good function, it will be the effect I want.

**Additional context**
I want

[2021-05-05 05:21] p0m1d0rka commented on #12241
I told about time when you create a table:
- no type helper
- no engine helper

but it's not very important

![image](https://user-images.githubusercontent.com/15802963/117099760-b806c980-ad7a-11eb-9155-fd5f6eade5c2.png)

[2021-05-05 05:47] mkgrgis commented on #12244
There is actual RFC about geoJSON https://tools.ietf.org/html/rfc7946

[2021-05-05 05:47] ilhamAminuddin commented on #10345
i have some issue and fixed with run this on terminal to update jdk
brew install --cask adoptopenjdk

[2021-05-05 06:54] bjorntj commented on #12344
Yes, I guess that might be what Datagrip does.. What I do not understand, is why doesn't DBeaver do the same..? Having to commit/rollback selects is just weird....

[2021-05-05 07:57] yonisade opened #12357 "Longer username text field in connection configuration window"
**Is your feature request related to a problem? Please describe.**
Sometimes username can be quite long (especially when connecting to azure DBs with the @[hostname] suffix)

**Describe the solution you'd like**
Please extend the username text field to 100 characters (it can also be dynamic depending on username length)

[2021-05-05 08:03] p91paul commented on #12356
go to view -> query manager. There are some options in preferences to increase its verbosity and write to a log file as well

[2021-05-05 08:08] p91paul commented on #12344
I'm guessing because Dbeaver doesn't actually parse your statement so it's not aware about what's in it

[2021-05-05 08:09] isak-kaz commented on #12260
I can confirm with that with Version 21.0.4.202105021514 this issue has **not** been resolved.

[2021-05-05 08:12] anazzani opened #12358 "Remapping Line End and Line Start shortcuts"
#### System information:
- Operating system: macOS Big Sur v11.2.3
- DBeaver version: Version 21.0.4.202105021514
- Additional extensions: none

#### Connection specification:
- Database: PostgreSQL 12.5 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 8.3.1 20191121 (Red Hat 8.3.1-5), 64-bit
- Driver name: PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem yo

[2021-05-05 08:18] yonisade opened #12359 "Add "Count rows" to table right-click menu"
**Is your feature request related to a problem? Please describe.**
It will be nice to have a built-in option to "Count rows" of a table like in TOAD/pgAdmin.

**Describe the solution you'd like**
Add this option to the right-click menu of a table and display row count on screen.

**Describe alternatives you've considered**
manually writing and executing: select count(*) from [table]

[2021-05-05 08:24] p91paul commented on #12359
at the bottom of the table you'll see a small refresh-like button which does what you want!

[2021-05-05 08:56] bjorntj commented on #12344
Just had a quick look at Datagrip again and I see that they also creates a transaction that I can commit or rollback. But somehow I am more aware about this in DBeaver than Datagrip, apparently, not sure why......

[2021-05-05 09:07] #12359 closed, assigned to nobody

[2021-05-05 09:08] serge-rider commented on #11453
Sorry, missed that. Not sure why this ticket was closed.

I can't reproduce "all subsequent ones are added to search path" issue. We leave original search path which was set after connection instantiation. And then add selected schema to the beginning of the search_path. Or replace previously selected one.

Anyhow, at the moment we don't have plans to change current behavior. It is the same for al

[2021-05-05 09:15] OJFord opened #12360 "Loading splash screen stalls until main window's workspace is focused"
#### System information:
- Operating system (distribution) and version: Linux 5.11.16
- DBeaver version: 21.0.3.202104241946
- Additional extensions: None

#### Connection specification:
N/A

#### Describe the problem you're observing:
The splash on startup stalls until I switch to focus the DBeaver window that it's started; i.e. it's not possible to fully load in the background, in another worksp

[2021-05-05 09:53] Mizar01 opened #12361 "Option to make boolean value change with double click instead of single click."
The default behaviour is error-prone, when clicking on a boolean cell for the sake of hilighting it, dbeaver will toggle the boolean value, but you can miss the change and clicking save (because you were editing something else) lead to unwanted changes.

[2021-05-05 10:45] detkliff commented on #9921
21.0.3 added this future. Ok

[2021-05-05 10:46] detkliff commented on #10769
21.0.4 not changed

[2021-05-05 10:47] serge-rider commented on #12361
Good point

[2021-05-05 10:51] detkliff commented on #11958
very sadly

[2021-05-05 12:42] BytesBytes opened #12362 "Filter doesn't work on table triggers in Oracle"
#### System information:
- Operating system (distribution) and version: Windows 10 version 20H2 Build 19042.804
- DBeaver version: Version 21.0.4.202105021514
- Additional extensions

#### Connection specification:
- Database name and version: Oracle database 12c
- Driver name: : Oracle Client 12 - 12.2.0.1.0 - oracle.jdbc.OracleDriver library 21.1.0.0
- Do you use tunnels or proxies (SSH, SOCKS,

[2021-05-05 12:47] serge-rider commented on #12362
Good point.
That's easy to fix.

[2021-05-05 12:50] serge-rider commented on #11958
The problem is in JSQLParser library.
Actually it is a duplicate of #10704
Hopefully will be fixed in the new version of https://github.com/JSQLParser/JSqlParser

[2021-05-05 12:50] #11958 closed, assigned to nobody

[2021-05-05 14:35] serge-rider commented on #12361
I also think we should mark modified object properties in editor (like in the data editor).

[2021-05-05 14:39] vicreal opened #12363 "(PostgreSQL 13) uint array is displayed as float array"
The bug that appeared after fixing [these 4 artifacts with uint types](https://github.com/dbeaver/dbeaver/issues/10818)
Tested on version **21.0.4**.

`SELECT '{12812,15920}'::int4[], '{12,15}'::int1[], '{12,15}'::uint1[], '{12812,15920}'::uint2[], '{12812,15920}'::uint4[], '{12812,15920}'::uint8[];`

![Bug 5](https://user-images.githubusercontent.com/72701351/117158078-c62f0700-adc7-11eb-8ac5-614

[2021-05-05 15:04] apkerr commented on #12260
I can also confirm that the issue has not been resolved as of 21.0.4.202105021514.
I'm on Windows 10, using vertica-jdbc-9.3.1-0 driver.

SQL Error [2656] [42703]: [Vertica][VJDBC](2656) ERROR: Column com.child_object does not exist
  [Vertica][VJDBC](2656) ERROR: Column com.child_object does not exist
  [Vertica][VJDBC](2656) ERROR: Column com.child_object does not exist

Error pops up when you g

[2021-05-05 15:14] LonwoLonwo commented on #12325
Fixed in DBeaver 21.0.5
Will be available [here](https://dbeaver.io/) at 2021-05-17

[2021-05-05 15:26] BytesBytes opened #12364 "oracle: when switching between header and pody of a package, footer information dissapears from the screen"
System information:
  Operating system (distribution) and version: Windows 10 version 20H2 Build 19042.804
  DBeaver version: Version 21.0.4.202105021514
  Additional extensions

Connection specification:
  Database name and version: Oracle database 12c
  Driver name: : Oracle Client 12 - 12.2.0.1.0 - oracle.jdbc.OracleDriver library 21.1.0.0
  Do you use tunnels or proxies (SSH, SOCKS, etc)?

Des

[2021-05-05 16:58] parthipank commented on #11772
Thank you! I appreciate the team for fixing this. It works fine now. :)

[2021-05-05 16:59] parthipank commented on #11772
Thank you @ShadelessFox. I appreciate the team for fixing this. It works fine now. :)

[2021-05-05 17:49] fujiokae opened #12365 "CTRL+Space does not replace asterisk with all columns"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: Community 21.0.3 & 21.0.4
- Additional extensions

#### Connection specification:
- Database name and version: PostgreSQL 9.1 & 9.6
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Describe the problem you're observing:
In a SQL console or script, when I press CTRL+Space

[2021-05-05 18:16] serge-rider commented on #10809
Fixed

[2021-05-05 18:20] uslss commented on #12365
thanks for the report

[2021-05-05 18:24] uslss commented on #12364
thanks for the report

[2021-05-05 18:28] uslss commented on #12363
thanks for the report

[2021-05-05 18:31] serge-rider commented on #12365
Fixed

[2021-05-05 18:33] uslss commented on #12347
There is such feature as [Data compare](https://github.com/dbeaver/dbeaver/wiki/Data-compare) in DBeaver.
It is available in [EE version.](https://dbeaver.com/download/)
Is it a feature you are looking for?

[2021-05-05 18:37] uslss commented on #12343
@detkliff you could use highlighted buttons to minimize it(picture attached). Does it fit your needs?
![image](https://user-images.githubusercontent.com/31996417/117192127-0a330380-adea-11eb-9d85-de8b54c024f4.png)

[2021-05-05 18:39] serge-rider commented on #10110
Statistics read can be slow for big databases. There is no good solution for everyone.
It can be disabled via context menu or in the preferences.

If you work with big prodaction databases then probably disabling statistics read is a good idea.

[2021-05-05 18:39] #10110 closed

[2021-05-05 18:42] uslss commented on #11384
verified

[2021-05-05 18:42] #11384 closed, assigned to uslss, ShadelessFox

[2021-05-05 18:49] serge-rider commented on #11006
Removed in some previous fixes

[2021-05-05 19:20] serge-rider commented on #11727
![image](https://user-images.githubusercontent.com/6398845/117197111-16ba5a80-adf0-11eb-87f3-f8f974f6fe21.png)

[2021-05-05 19:27] serge-rider commented on #11722
Was fixed in #11705

[2021-05-05 20:37] LonwoLonwo commented on #12162
duplicate of https://github.com/dbeaver/dbeaver/issues/12162

[2021-05-05 20:37] #12162 closed, assigned to nobody

[2021-05-05 22:44] mr-moon commented on #1874
I'm having same issue on v21.

[2021-05-06 01:44] wowsonsun opened #12368 "use fully qualified names is disabled"
[Can I Remove schema qualification from the data editor query? #11655](https://github.com/dbeaver/dbeaver/issues/11655)

[2021-05-06 04:26] bracharedis commented on #12347
Thanks,
I’m not looking for compare feature.

I simply tried to explain.

I want the option to change the layout of  multiple results (in result
area) , something like the detach on the query area or  like tile/cascade
windows in Microsoft windows.

Best,

Bracha

*From:* Dziyana ***@***.***>
*Sent:* Wednesday, May 5, 2021 9:34 PM
*To:* dbeaver/dbeaver ***@***.***>
*Cc:* Bracha Shimonovitz ***@***

[2021-05-06 05:37] parthipank commented on #11772
Hi @ShadelessFox, Just want to know whether this fix will be applied to the cloudbeaver version too?
We are planning on using cloudbeaver for some projects.

[2021-05-06 07:15] mxmlnglt commented on #8911
thanks @simasch!!
I was having a hard time trying to execute a single package procedure (which I didn't develop - but trying to debug the in's & out's...)
However I still don't get how I could see the output parameters... the SQL is like:

[code]
When executing, I provide both p_in's but expect to retrieve p_string & p_number. How can I do that? (I've never done PL/SQL in my entire life...)

[2021-05-06 07:22] simasch commented on #8911
@mxmlnglt You can use https://www.tutorialspoint.com/plsql/plsql_dbms_output.htm

[2021-05-06 07:53] eugenesotnikov commented on #11727
i installed 21.0.4 and that check-box is absent.

[2021-05-06 08:06] kseniiaguzeeva commented on #12368
I close this ticket and reopen  #11655

[2021-05-06 08:06] #12368 closed, assigned to nobody

[2021-05-06 08:06] Mizar01 opened #12369 "Copy as SQL IN (...)"
When copying some values from a column, i would like to have an advanced copy of the following type:

Copy as SQL IN statement.

For example if i select the values 1,2,3 from the id column i would like to have a copy type that creates the text:

`in (1, 2, 3)`

or if it's a text type:

`in ('1', '2', '3') `

and so on. It could be an option to add the column name at the beginning, but usually this

[2021-05-06 08:11] LonwoLonwo commented on #11727
Hello @eugenesotnikov
This is feature of DBeaver 21.0.5 release
Will be available [here](https://dbeaver.io/) at 2021-05-17

[2021-05-06 08:14] eugenesotnikov commented on #11727
Ouu. Ok. I will be waiting.

[2021-05-06 08:16] LonwoLonwo commented on #11655
Hello @wowsonsun
What DBeaver version do you use?
We fixed this problem several releases back.

![2021-05-06 11_14_55-DBeaver Enterprise 21 0 4 - customer](https://user-images.githubusercontent.com/45152336/117264872-56b72700-ae5c-11eb-9b52-16db0f5e9e54.png)

[2021-05-06 08:24] LonwoLonwo commented on #11727
@eugenesotnikov also you can check it here https://dbeaver.io/files/ea/
The version of May 5 does not contain these changes. However, EA is updated more often.

[2021-05-06 08:32] LonwoLonwo commented on #12353
Are you talking about this issue https://github.com/dbeaver/dbeaver/issues/10692 ?

[2021-05-06 08:35] kseniiaguzeeva commented on #12326
verified

[2021-05-06 08:35] #12326 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-05-06 08:37] GalloisLuca commented on #9584
Got the same probleme, my dbeaver is freshly installed. I don't think that's the same problème with the issues #9192, i got the same probleme with my local BDD

[2021-05-06 08:38] LonwoLonwo commented on #12369
Hello @Mizar01
Thanks for idea.
As workaround you can use "Filter by column value"
![2021-05-06_11h36_49](https://user-images.githubusercontent.com/45152336/117267968-7b60ce00-ae5f-11eb-9de5-d9f975aabe62.gif)

[2021-05-06 08:40] LonwoLonwo commented on #12369
Also this is duplicate of https://github.com/dbeaver/dbeaver/issues/8760

[2021-05-06 08:40] #12369 closed, assigned to nobody

[2021-05-06 09:27] Alexandru-Alexandrov opened #12371 "firebird negative dataadd"
executing an sql script in firebird with this expression in the where clause:
(a.Stop_Comp between :DataStart and dateadd(-11 millisecond to dateadd(1 day to :DataStop)))

gives error:
SQL Error [335544606] [42000]: expression evaluation not supported; Invalid data type in addition of part to DATE/TIME/TIMESTAMP in DATEADD [SQLState:42000, ISC error code:335544606]

a.Stop_Comp is a Timestamp fiel

[2021-05-06 09:46] ShadelessFox commented on #11772
I can't answer this question right away, unfortunately.

[2021-05-06 10:37] Alexandru-Alexandrov commented on #12371
well .. it seems IBExpert is smart enough to cast DataStart and DataStop parameters as TimeStamp.
If i explicitely cast them like "Cast(:DataStart as TimeStamp)" then the sql executes correctly.
Sorry for noise..

[2021-05-06 10:37] #12371 closed, assigned to nobody

[2021-05-06 11:55] kseniiaguzeeva commented on #12332
verified

[2021-05-06 11:55] #12332 closed, assigned to kseniiaguzeeva

[2021-05-06 12:54] serge-rider commented on #12365
Query parser has been fixed

[2021-05-06 13:58] fulopattila122 commented on #3937
I used to have this issue maybe about 2 years ago. It got fixed back then with one of the updates.
Somehow it has come back in recent weeks. I'm on Ubuntu 20.04, 4k 2x scale, and dbeaver 21.0.4

![image](https://user-images.githubusercontent.com/1162360/117308868-31d5aa80-ae82-11eb-8d1e-ea51979c1964.png)

![image](https://user-images.githubusercontent.com/1162360/117310439-92191c00-ae83-11eb-8926-

[2021-05-06 14:21] mkosater opened #12372 "View columns not visible with 'NO SCHEMA BINDING' views on Redshift connection"
#### System information:
- Windows
- DBeaver version: 21.0.3.202104181339

#### Connection specification:
- Amazon Redshift
- com.amazon.redshift.jdbc42.Driver

#### Describe the problem you're observing:
When dbeaver displays columns for redshift views that have been defined with 'NO SCHEMA BINDING', it does not display the columns in all cases.

#### Steps to reproduce, if exist:
Define a redshi

[2021-05-06 14:42] ClayA-M commented on #5931
I also have this issue still, on MacOS Catalina 10.15.7 and DBeaver version 21.0.1.202103211229

[2021-05-06 15:17] tati-kru opened #12374 "Materialized view for Greenplum"
Support Materialized Views in Greenplum.
It is possible to specify a distribution key for the Materialized View. But DBeaver doesn't show the distribution key in the DDL of the materialized view.

[2021-05-06 17:02] sergy1 opened #12375 "Sybase: List of tables contains functions"
#### System information:
- Operating system (distribution) and version Win 10 Pro
- DBeaver version 21.0.4

#### Connection specification:
- Sybase ASE 15.7
- Driver name Sybase jConnect
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
List of tables contains functions marked as SYSTEM TABLEs. If you discover properties of these 'system tables' you

[2021-05-06 17:23] kamiyubidan opened #12376 "Random NullPointerException errors"
#### System information:
- Windows 10
- DBeaver Version 21.0.4.202105021514

#### Connection specification:
- MySQL

#### Describe the problem you're observing:
I'm getting this randomly when I edit a script and run it.

#### Steps to reproduce, if exist:

[code]

[2021-05-06 17:44] michal-bartak commented on #11453
As I already described some postgres functions/constructs returns different results depending on search_path. Also developer who is not aware about search_path change can write a code working on his desk, but failing when run outside DBeaver. Both might cause damage if not caught early.

I admit that this is rather inconsistency in postgres native functions but at the same time it's a database fea

[2021-05-06 20:42] stophe72 opened #12377 "Unable to update data with inline editor: getUpdateRowCount error message"
#### System information:
- Operating system (distribution) and version : Windows7, Archlinux
- DBeaver version 2021.0.4, 2021.0.5
- Java version WIndows : 11, Archlinux OpenJDK 11
- Additional extensions Darkest Dark

#### Connection specification:
- Database name and version:  MariaDb 15.1, MySql 8, Informix 12.70
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe

[2021-05-06 21:00] dkattan commented on #11123
This is no longer an issue. It appears to have been fixed.

[2021-05-06 21:00] #11123 closed, assigned to nobody

[2021-05-07 01:51] wowsonsun commented on #11655
DBeaver Enterprise 21.0.0 @LonwoLonwo

[2021-05-07 03:56] kseniiaguzeeva commented on #12352
Thank you for the report.

[2021-05-07 04:39] kseniiaguzeeva commented on #12365
verified

[2021-05-07 04:39] #12365 closed, assigned to serge-rider, kseniiaguzeeva

[2021-05-07 07:12] matthias-vigelius commented on #3448
I encountered the same problem as @dirkniblick  .. unfortunatelty, deleting the workbench.xmi did not help and I had to reinstall dbeaver from scratch.

I then followed the instructions in

https://github.com/dbeaver/dbeaver/issues/8219

which works really well. In short, you'll have to install the eclipse marketplace first and get vrapper from there.

[2021-05-07 07:42] Mizar01 commented on #12369
FilterByColumn name is good but it cannot be considered a practical workaround for most of the situations, as said in the other similar thread (that I couldn't find before). Thanks.

[2021-05-07 08:06] #12356 closed, assigned to nobody

[2021-05-07 08:47] michal-bartak opened #12378 "search_path expanding to infinity"
#### System information:
- Ubuntu 20
- DBeaver version: 21.0.4

#### Connection specification:
- Database name and version: postgres 12
- Driver name: PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

When changing schema it is expected that new schema is added to search_path in a way that final search_path is a result of concatenation o

[2021-05-07 08:54] ghost opened #12379 "Error refreshing Exasol node"
#### System information:
- Operating system (distribution) and version: Windows 10 / Debian Buster (4.19.0-16-amd64)
- DBeaver version: 21.0.4
- Additional extensions: -

#### Connection specification:
- Database name and version: Exasol (EXASolution 6.2.7)
- Driver name: EXASolution JDBC Driver 7.0.3
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: -

#### Describe the problem you're observing

[2021-05-07 10:47] JoepvandenHoven-Bluemine commented on #12379
To reproduce the user must not have "SELECT ANY DICTIONARY" rights.

[2021-05-07 11:02] JoepvandenHoven-Bluemine commented on #12379
Likely culprit is commit d63b3510d67e943c8e0dbf045ce43299684f41cd which removed the nullchecks for baseTableGrantCache (which is only initialized when user has "SELECT ANY DICTIONARY" rights).

[2021-05-07 11:38] uslss commented on #11722
verified

[2021-05-07 11:38] #11722 closed, assigned to nobody

[2021-05-07 13:13] kseniiaguzeeva commented on #12286
verified

[2021-05-07 13:13] #12286 closed, assigned to serge-rider, kseniiaguzeeva

[2021-05-07 14:32] Jack012a opened #12380 "How to rename a column in version 18.6.0"
Hello,

The clickhouse version is 18.6.0.

When I perform a rename column operation, it failed.

:) alter table default.EventShot RENAME COLUMN abc to def;

Syntax error: failed at position 31:

alter table default.EventShot RENAME COLUMN abc to def;

Expected one of: ALTER command, a list of ALTER commands, ADD COLUMN, DROP COLUMN, CLEAR COLUMN, MODIFY COLUMN, MODIFY PRIMARY KEY, ATTACH PARTITION

[2021-05-07 15:48] serge-rider opened #12381 "PostgreSQL: support empty user name for PGPASS auth model"
It may be useful when user name is not known.
In this case DBeaver must get the first configuration which matches host/port/database parameters.

[2021-05-07 16:41] jwalker5006 commented on #8473
This happens to me whenever I try to connect to a remote MS SQL server.

Meaning, I connect to the exact same SQL server,
on the LAN, I can see and edit all objects.
on the WAN, I can see all objects, but editing views and stored procedures show the SQL Error [15197] [S0001]: There is no text for object error

Exact same username and password, exact same databases, schema and everything.

I don't

[2021-05-07 17:02] serge-rider commented on #12289
Fixed

[2021-05-07 18:16] dkornacki-cutco commented on #6248
Under driver properties, set _naming_ to "system" along with setting library list as above. This works on the current version (21.0.4).

This can probably be closed.

[2021-05-07 19:15] rjake commented on #12350
Oh, I had looked all over! That did the trick. I'm curious why it didn't show up in the search:

![image](https://user-images.githubusercontent.com/14003618/117497847-ffda4c00-af46-11eb-9889-5d272560463e.png)

[2021-05-07 21:12] LonwoLonwo commented on #12380
Hello @q0987
We do not have tools for Clickhouse columns renaming in DBeaver for now.
May be your question is better to ask here: https://github.com/ClickHouse/ClickHouse/issues ?

[2021-05-07 22:06] LonwoLonwo commented on #12375
Hello @sergy1
Can you provide DDL of these functions for tests?

[2021-05-07 22:23] serge-rider commented on #11782
CouchDB 1.6 is way too old (released in 2014). I'm afraid LightCouch doesn't support it

[2021-05-08 09:31] mkgrgis commented on #12330
PostGIS 3.0, Postgres 13
No autocompletion for schema names with spaces. Example
![изображение](https://user-images.githubusercontent.com/41448637/117534165-fa3d3e80-aff8-11eb-9415-2e5cfc2c2be5.png)
My SQL Completion options is the same with SQL completion options of @GertL.

[2021-05-08 14:18] serge-rider commented on #11644
Implemented.
Also all JSON.XXX commands support was added. Redis commands processing was improved.
Now we support all Redis commands including publishing and subscriptions.

![image](https://user-images.githubusercontent.com/6398845/117542305-cf66e080-b020-11eb-82bc-f168a80976f4.png)

[2021-05-08 15:02] serge-rider commented on #11314
I don't want to redesign session manager view. Moreover it alread ycontaisn simpel session filter (ctrl+f).
But we could make it easier - add a button which will open SQL query results for session read query. It will work only for those databases which use SQL to read sessions.

![image](https://user-images.githubusercontent.com/6398845/117543842-266fb400-b027-11eb-92ac-3413a955dcf7.png)
![image](

[2021-05-08 15:23] serge-rider commented on #11594
We must show In-process notifications for OSes which do not support native agent notifications

[2021-05-08 15:28] serge-rider commented on #11324
How can I create task with external SQL file?

[2021-05-08 15:31] serge-rider commented on #11921
Can't reproduce on Windows (dialog resizes  automatically to fit all controls)

[2021-05-08 16:46] ShadelessFox commented on #11324
In case of PosgreSQL, you can create a task called <kbd>PostgreSQL script</kbd>. Here, you can specify path to external file.

To be quite honest, I don't see the point of having such task (it is also present for Oracle and some other DBs), since we have a task <kbd>Execute SQL script</kbd> which serves the same purpose.

[2021-05-08 16:48] mkgrgis commented on #12244
It seems call chain for refactoring must include https://github.com/dbeaver/dbeaver/blob/f38807e69a6bd851eb07f2e7bee49a110a72b2c7/plugins/org.jkiss.dbeaver.data.gis.view/src/org/jkiss/dbeaver/ui/gis/panel/GISLeafletViewer.java#L260
Then `GisTransformRequest.getTargetValue()` and   [`public Geometry getGeometry()`](https://github.com/dbeaver/dbeaver/blob/f38807e69a6bd851eb07f2e7bee49a110a72b2c7/plu

[2021-05-08 16:56] serge-rider commented on #11324
PostgreSQL script is a very different task. It makes a lot of sense as it executes PostgreSQL-specific SQL scripts with pragmas and other stuff. DBeaver SQL parser doesn't support it (and probably never will).

So, I still can't reproduce the problem.
@kseniiaguzeeva please attach some screenshot or video.

[2021-05-08 17:24] mkgrgis commented on #12244
There is analog `org.locationtech.jts.io.GeoJSONWriter` for `org.locationtech.jts.io.WKTWriter` and some other analogues for GIS classes based on WKT.

[2021-05-08 17:50] LonwoLonwo commented on #12260
Fixed. We added a child_object column check in the "comments" system table.
Unfortunately, Vertica documentation does not contain enough information, which Vertica versions have column ("child_object") in the system table "comments".

[2021-05-08 17:51] LonwoLonwo commented on #12260
Fixed in 21.0.5
Will be available [here](https://dbeaver.io/) at 2021-05-17

[2021-05-08 18:09] ShadelessFox commented on #11324
https://user-images.githubusercontent.com/35821147/117549187-99862400-b041-11eb-8366-a53f7d3c2a91.mov

[2021-05-08 18:09] LonwoLonwo commented on #11655
@wowsonsun can you test [Early access](https://dbeaver.com/files/ea/enterprise/) version, please?

[2021-05-08 18:12] gopalchauhanji opened #12385 "Elastic Search Connection"
0

I am trying to connect Elastic search DB from dbeaver which is SSL secured.

While connecting I get below error. Not sure how to connect to Elastic from dbeaver. Any help will be appriciated.

Unexpected driver error occurred while connecting to the database Cannot POST address https://XXXXXX:9200/?error_trace (PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderExceptio

[2021-05-08 19:37] DevDorrejo opened #12386 "SSH Algorithm negotiation fail"
#### System information:
- OpenSUSe Tumbleweed (Latest Snapshot)
- DBeaver version:  21.0.4.202105021514
- Additional extensions: None

#### Connection specification:
- Database name and version: MariaDB 10.5.9
- Driver name: MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:

Hello, i did a setting to strengthening the ssh service on the se

[2021-05-09 05:31] kseniiaguzeeva commented on #12289
Can reproduce (DBeaver 21.0.5.20210508204)

https://user-images.githubusercontent.com/51405061/117561579-b43bb580-b0a0-11eb-81ba-7243467308bf.mp4

[2021-05-09 09:49] kseniiaguzeeva commented on #12168
Verified. @2019-05-10 please use aliases to see column names for the second table etc.
![dbeaver_XuvWJiHwG7](https://user-images.githubusercontent.com/51405061/117567428-01ca1980-b0c5-11eb-99d9-5ff3296ba361.png)

[2021-05-09 09:49] #12168 closed, assigned to serge-rider, kseniiaguzeeva

[2021-05-09 10:21] p91paul commented on #11314
I dunno, I wouldn't use that feature.
The query itself contains too much columns. Also, clicking on a row in the session manager shows details like execution plan, long ops, etc that wouldn't be available with your solution.
I'm mostly interested in a filter acting on each column separately instead of globally.

[2021-05-09 10:26] kseniiaguzeeva commented on #11515
**EE version**:
Please add semicolon after return clause in function DDL.
**Now**:
[code]
**Expected:**
[code]

[2021-05-09 10:54] allanlaal opened #12389 "DB dump Export: custom date/timestamp format variables (like ${Y}, ${d}, ${m} etc)"
**Is your feature request related to a problem? Please describe.**

currently `${timestamp}` produces `202105091341` and `${date}` produces `20210509`
neither of which is very human (read: non-sysadmin) readable

**Describe the solution you'd like**

I propose adding custom date format variables that produce a single part of the timestamp.

**Additional context**

lets use [C-like](https://www.php

[2021-05-09 14:29] mkgrgis commented on #12378
Some autocompletion bugs can be based on this behaviour.

[2021-05-09 15:31] Jonathan-Martin1 commented on #10855
I keep getting same error with Windows 10. Never used to get this error.

[2021-05-10 01:25] redpawn96 commented on #11139
Hello @ShadelessFox,

I am very sorry for the late response.
I understand what you are suggesting but changing the encoding of the database in a production-grade environment is impossible.
I am confused now because in PgAdmin I can read the characters even if I didn't change the encoding.

I read some articles pointing that the problem may rest on the Postgresql JDBC driver - that is why I open th

[2021-05-10 02:20] wowsonsun commented on #11655
perfect! The problem is solved
![image](https://user-images.githubusercontent.com/23351005/117597895-1ff15180-b179-11eb-850a-481ea4ece7d6.png)
@LonwoLonwo

[2021-05-10 02:25] #11655 closed, assigned to nobody

[2021-05-10 05:24] panla commented on #12377
## same error

### System information:

- DBeaver: 21.0.4
- OS: CentOS 8
- Java: Oracle 1.11.9

[code]

[2021-05-10 06:08] mdx0111 commented on #8057
It'd be amazing if we could have rpm based repository for DBeaver please.

[2021-05-10 06:18] MiniFullC opened #12390 "no effective field auto-completion after "where""
#### System information:
- Operating system (distribution) and version:   Windows 10  20H2
- DBeaver version : 21.0.4
- Additional extensions: none

#### Connection specification:
- Database name and version:  5.6.45-log
- Driver name: mysql-connector-java-5.1.48.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  none

#### Describe the problem you're observing:
There is no effective field au

[2021-05-10 06:54] lintzc commented on #12374
The storage options are not displayed too.
You can take the DDL example below:
[code]

[2021-05-10 09:19] kseniiaguzeeva commented on #11335
Some action is needed with tasks to see the task list after relaunching DBeaver.

https://user-images.githubusercontent.com/51405061/117636855-e4ab4e80-b189-11eb-87ac-23b7128adccd.mp4

[2021-05-10 09:29] geuss commented on #6813
Still present in 21.0.4

[2021-05-10 09:36] kseniiaguzeeva commented on #12260
verified

[2021-05-10 09:36] #12260 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-05-10 10:06] kseniiaguzeeva commented on #10809
verified

[2021-05-10 10:06] #10809 closed, assigned to serge-rider, kseniiaguzeeva

[2021-05-10 10:07] Softsuit opened #12391 "Export data in SQL format file split into files of max size"
We have some big tables to migrate from oracle to postgresql.  The export to SQL 'INSERT INTO' format seems the best way to do.  However I ran into JDBC problems of the file being too large.  So I used the split option.  However, seems that the first file end without ';' and the following file starts with a comma.  Running these sql files to upload the data gives errors.  If we need to join these

[2021-05-10 10:10] ShadelessFox commented on #11335
Can't reproduce. Perhaps tasks eventually will appear after some time?

[2021-05-10 10:12] LonwoLonwo commented on #12350
Ok. I added more keywords to search in Preferences, including "delimiter" in DBeaver 21.0.5 (will be available on 2021-05-17)
![2021-05-09 01_37_16-Preferences](https://user-images.githubusercontent.com/45152336/117642869-7b7b0980-b190-11eb-9c50-7e2fdb2fe982.png)

[2021-05-10 10:19] LonwoLonwo commented on #12390
Hello @MiniFullC
Thanks for the bug report.
The problem fixed here https://github.com/dbeaver/dbeaver/issues/12168
Will be available in DBeaver 21.0.5
You can test it in [Early Access version](https://dbeaver.io/files/ea/)

![2021-05-10 13_33_18-DBeaver Enterprise 21 0 5 - _localhost_ Script-23](https://user-images.githubusercontent.com/45152336/117646380-5c7e7680-b194-11eb-897e-563ee3676ce2.png)

[2021-05-10 10:25] kseniiaguzeeva commented on #12294
verified

[2021-05-10 10:25] #12294 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-05-10 10:38] LonwoLonwo commented on #12330
Hello @GertL
We had problems with auto-completion in previous versions, but we fixed some of these problems.
Can you test latest version of DBeaver please?
https://dbeaver.io/
or better early access version of 21.0.5 https://dbeaver.io/files/ea/

[2021-05-10 10:47] LonwoLonwo commented on #12330
Hello @mkgrgis
Autocomplete for schema name with space inside - is another issue. Please, create another ticket for this case.

[2021-05-10 12:02] LonwoLonwo commented on #7879
How DBeaver works with autocomplete - you type database name with dot on the end (like "select * from MT.") and DBeaver propose you schema names.

Like we do it for PostgreSQL
![2021-05-10 14_39_55-](https://user-images.githubusercontent.com/45152336/117653914-b20b5100-b19d-11eb-96eb-f4abccf857ae.png)

Or DBeaver propose table names, if database doesn't have schemas, like in MySQL
![2021-05-10 14_

[2021-05-10 12:16] schmunk42 opened #12392 "UI broken on Gnome 40.1 when using with two monitors (100%, 125% zoom)"
#### System information:
- Operating system (distribution) and version: Arch Linux (latest)
- DBeaver version 21.0.4.202105081620
- Additional extensions none

#### Connection specification:
UI only issue

#### Describe the problem you're observing:
I am running `gnome-shell 40.1` with two monitors, the external one on 125% zoom.

#### Steps to reproduce, if exist:

Open dbeaver (usually opens on

[2021-05-10 12:28] LonwoLonwo commented on #12185
Fixed in scope with https://github.com/dbeaver/dbeaver/issues/12289
Will be available in DBeaver 21.0.5

[2021-05-10 12:28] LonwoLonwo commented on #12390
duplicate of https://github.com/dbeaver/dbeaver/issues/12185

[2021-05-10 12:28] #12390 closed, assigned to nobody

[2021-05-10 13:31] thmsklngr commented on #10026
Hi,

for those who may still struggle with downloading drivers - check your settings. I had the same problem and recognized, that the default location on Linux is set to /usr/share/dbeaver - a location, where normal users may not have access to. So, I solved my issue by setting the download location to /home/myuser/.dbeaver_drivers (or whatever you may choose). After that I reset all drivers to de

[2021-05-10 14:12] rpc-scandinavia opened #12393 "Update notifier"
It is possible to suppress the update notifications, but only for the current minor version.

My feature request is a configuration option to disable update notifications at all.
Or perhaps like this in config file (pseudo, because I could not find the config file in /etc or my home .config):

To disable all notifications:
UpdateNotifications = off

To get notifications about minor varsions:
Updat

[2021-05-10 15:15] Cwest99 opened #12396 "DBeaver 21.0.4: Not all columns showing in DB Navigation Pane/Generated SQL - View"
#### System information:
- Operating system: Windows 10 v1909
- DBeaver version: 21.0.4

#### Connection specification:
- Database name and version: AWS Redshift
- Driver name: com.amazon.redshift.jdbc42.Driver, using local PostgreSQL Binaries
- Using SSL

#### Describe the problem you're observing:
None of the date/time fields are showing in the Navigation Pane for Views. Also, when generating SE

[2021-05-10 16:19] LonwoLonwo commented on #12391
Hello @Softsuit
Can you tell me more about how you use DBeaver export?

As example - standard DBeaver SQL export:

1. Choose table for export
![2021-05-10 19_09_43-DBeaver Enterprise 21 0 5 - address](https://user-images.githubusercontent.com/45152336/117690620-b9455580-b1c3-11eb-8a48-b8e369f0672f.png)

2. Choose "Export as SQL"
![2021-05-10 19_10_11-Data Transfer](https://user-images.githubuserco

[2021-05-10 16:21] LonwoLonwo commented on #12396
Hello @Cwest99
Can you provide DDL of ops.atom_prod_tasks_data table?

[2021-05-10 16:26] LonwoLonwo commented on #12396
connected with https://github.com/dbeaver/dbeaver/issues/12372 and https://github.com/dbeaver/dbeaver/issues/12204

[2021-05-10 16:27] Cwest99 commented on #12396
Sure. The DDL for the tableis:

CREATE TABLE IF NOT EXISTS ops.atom_prod_auto_tasks_data
(
	id_nbr INTEGER   ENCODE RAW
	,lni_text VARCHAR(270)   ENCODE zstd
	,status_text VARCHAR(270)   ENCODE zstd
	,has_hist_ind INTEGER   ENCODE az64
	,ver_nbr INTEGER   ENCODE az64
	,type_name VARCHAR(120)   ENCODE zstd
	,create_dts TIMESTAMP WITHOUT TIME ZONE   ENCODE az64
	,updt_dts TIMESTAMP WITHOUT TIME ZONE

[2021-05-10 16:36] LonwoLonwo commented on #12396
@Cwest99 thanks!

[2021-05-10 17:01] mkgrgis opened #12399 "No autocompletion for object names with spaces."
#### System information:
- Operating system (distribution) and version
Linux Mint
- DBeaver version
The last
- Additional extensions
No

#### Connection specification:
- Database name and version
Postgres 13 + PostGIS (it seems, this issue doesn't depends on DB)
- Driver name
standard
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
No

#### Describe the problem you're observing:
No autocompleti

[2021-05-10 17:02] uslss commented on #7563
verified

[2021-05-10 17:02] #7563 closed

[2021-05-10 17:02] mkgrgis commented on #12330
Thanks, @LonwoLonwo! I have created a new ticket.

[2021-05-10 17:13] uslss commented on #12325
verified

[2021-05-10 17:13] #12325 closed, assigned to uslss, LonwoLonwo

[2021-05-10 17:17] uslss opened #12400 "Data types are rearranged after Data Types node refresh"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.5 EA

#### Connection specification:
- Database name and version PostgreSQL

#### Describe the problem you're observing:
Data types are rearranged  after Data Types node refresh (option is disabled in settings)
![2021-05-10_20h12_22](https://user-images.githubusercontent.com/31996417/117698531-818ed

[2021-05-10 17:24] uslss commented on #11727
verified

[2021-05-10 17:24] #11727 closed, assigned to serge-rider, uslss

[2021-05-10 17:33] uslss commented on #12185
verified

[2021-05-10 17:33] #12185 closed, assigned to uslss

[2021-05-10 17:33] serge-rider commented on #12378
Thanks for the bug report,
Fixed

[2021-05-10 17:36] LonwoLonwo commented on #11515
Delimiter added

[2021-05-10 17:43] uslss commented on #11783
verified

[2021-05-10 17:43] #11783 closed, assigned to uslss, LonwoLonwo

[2021-05-10 18:22] serge-rider commented on #11357
@akilovich reverted (it breaks multi-statement queries)

[2021-05-10 18:29] uslss commented on #12334
verified

[2021-05-10 18:29] #12334 closed, assigned to uslss, LonwoLonwo

[2021-05-10 18:31] uslss commented on #12362
verified

[2021-05-10 18:31] #12362 closed, assigned to serge-rider, uslss

[2021-05-10 18:35] uslss commented on #12347
thanks for the clarification

[2021-05-10 18:59] uslss commented on #12376
@kamiyubidan could you provide some steps to reproduce the issue?
It is needed to investigate an issue. Thanks in advance.

[2021-05-10 19:04] uslss commented on #12377
unfortunately, cannot reproduce it.

@stophe72 @panla probably, you can provide a video with an issue? thanks in advance

[2021-05-10 19:17] mkosater commented on #12396
A simple way to demonstrate this issue is create a table with each of the datatypes in redshift....

create table public.test_all_types(
    c1 SMALLINT,
    c2 INTEGER,
    c3 BIGINT,
    c4 DECIMAL,
    c5 REAL,
    c6 DOUBLE PRECISION,
    c7 BOOLEAN,
    c8 CHAR,
    c9 VARCHAR,
    c10 DATE,
    c11 TIMESTAMP,
    c12 TIMESTAMPTZ,
    c13 GEOMETRY,
    c14 HLLSKETCH,
    c15 TIME,
    c16 TIM

[2021-05-10 19:59] clayheaton commented on #8946
This is a bug with the underlying Java library, I believe. This Snowflake help page describes a work around:

https://community.snowflake.com/s/article/Private-key-provided-is-invalid-or-not-supported-rsa-key-p8--data-isn-t-an-object-ID

[2021-05-10 20:52] stophe72 commented on #12377
When using pre-compiled binary 21.0.4 on fedora (34) or windows (7), it's working normally (no error popup).
Problem occurs with using compiled version with "mvn package".

[2021-05-10 21:08] Lonniebiz commented on #7879
I've seen databases like IBM DB2, where each user has their own schema for what seems to be the exact same database. I guess they do that for authentication/permissions purposes.

I've never seen that type of thing in any version of Pervasive. In Pervasive 13, I see no mention of schema in its native tool's hierarchy:
![psql](https://user-images.githubusercontent.com/151919/117705359-913cfe80-b191

[2021-05-10 21:19] ShadelessFox commented on #12377
Cannot reproduce when building with `mvn package`. Try running `mvn clean package` instead.

[2021-05-10 21:22] LonwoLonwo commented on #12399
related to https://github.com/dbeaver/dbeaver/issues/12159

[2021-05-10 21:22] LonwoLonwo commented on #12399
Thanks for the bug report

[2021-05-10 21:22] sebthom commented on #12059
@serge-rider @uslss
So I debugged DBeaver. The problem is that DBeaver creates a `ProjectMetadata$ProjectSyncJob` for all projects in the Eclipse workspace. When a file in any project is deleted that job is triggered.

![image](https://user-images.githubusercontent.com/426959/117725257-2ddcbc00-b1e5-11eb-9bdb-11880ef12c32.png)

Which will result in the execution of:
![image](https://user-images.gi

[2021-05-10 21:23] Softsuit commented on #12391
imho you forget the 3B screen (configure export output parameters)
![image](https://user-images.githubusercontent.com/69981590/117725683-c83cff80-b1e5-11eb-984c-d1e466de7e5d.png)
There you can split the output file with a maximum file size + compress option selected.  this leads to files named table.sql.zip, table_1.sql.zip, table_2.sql.zip etc....  Only the first file's last line contains a list

[2021-05-10 21:24] Softsuit commented on #12391
Sorry I didn't mean to close this.  I expected a send button.

[2021-05-10 21:30] LonwoLonwo commented on #12391
Ok, now much clearer.

[2021-05-10 21:47] serge-rider commented on #12059
@sebthom Thank you for the investigation 👍
Now I can reproduce it.
You are right, we should't create metadata folder there.
Also this fliushMetadata function mustnt't be called for every file delete in every project.

[2021-05-10 21:59] serge-rider commented on #12289
Fixed again

[2021-05-10 22:08] serge-rider commented on #8811
Extra check for write-protected directory was added.

[2021-05-11 02:02] panla commented on #12377
now, it is ok.

- branch: devel
- commit `fe6d20e27e`
- `mvn clean package`

[2021-05-11 02:13] panla commented on #12377
- tag 21.0.4
- commit 7b4885389f
- `mvn clean package`

it is ok

[2021-05-11 03:59] KirtiDipun opened #12405 "Add "Encrypt password" to connection settings Sybase 16 DB"
**Is your feature request related to a problem? Please describe.**
Sybase 16 is enabled with default password encryption, and without password encryption connections are not allowed. So DBeaver Community Edition 21.0.3 is not able to connect to Sybase 16 database and throws below exception as there is no feature or option to enable the password encryption:
"Adaptiver Server requires encryption of

[2021-05-11 05:04] PetbkA commented on #12165
Thank you! Changing this one and restarting DBeaver helped. Although the behavior is still strange and not expected

[2021-05-11 05:15] ShadelessFox commented on #12337
Hello @givihuda,

Cannot reproduce your issue:
![image](https://user-images.githubusercontent.com/35821147/117761819-b3398e00-b230-11eb-9465-b58eb8c016a6.png)

What ordering mode are you using? <kbd>Preferences</kbd> &rArr; <kbd>Editors</kbd> &rArr; <kbd>Data Editor</kbd> &rArr; <kbd>Results ordering mode</kbd>

[2021-05-11 06:09] #11335 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-05-11 07:13] kseniiaguzeeva commented on #12289
verified

[2021-05-11 07:13] #12289 closed, assigned to serge-rider, kseniiaguzeeva

[2021-05-11 07:25] kseniiaguzeeva opened #12408 "Delimiter parsing in Vertica functions"
#### System information:
- DBeaver version 21.0.5 EA

#### Connection specification:
- Database name and version Vertica

#### Describe the problem you're observing:
We cannot create a function with delimiter inside its body. Can we find a way to recognise such delimiters by default?
https://www.vertica.com/blog/creating-vertica-functions-in-third-party-tools/

[2021-05-11 07:28] lzb-libra opened #12409 "dbeaver update bug"
Some time ago, I installed a plug-in so that dbeaver could export data to Excel. Recently, I opened the dbeaver prompt to upgrade. After upgrading, I found that the plug-in I installed was gone, gone, gone. And every time I start dbeaver it pops up and says "Empty Command Specified"
Before the update
![image](https://user-images.githubusercontent.com/63389341/117777684-6c1ebd80-b26f-11eb-948d-e58c

[2021-05-11 07:38] LonwoLonwo commented on #12372
Thanks for the bug report

[2021-05-11 07:48] uslss commented on #12300
verified

[2021-05-11 07:48] #12300 closed, assigned to uslss, LonwoLonwo

[2021-05-11 07:49] art-bjss commented on #6015
I also got bitten by this issue. To get an unambiguously correct UTC timestamp from a query, you can use the following:

For a field of type `timestamptz`:

`to_char (<fieldname> at time zone 'UTC', 'YYYY-MM-DD"T"HH24:MI:SS"Z"')`

For a field of type `timestamp` (which was UTC when stored):

`to_char (<fieldname>, 'YYYY-MM-DD"T"HH24:MI:SS"Z"')`

These queries always give the same answer in DBeaver

[2021-05-11 07:53] uslss commented on #12301
Still reproducible for columns in newly created tables. Works ok for already existing tables.
![2021-05-11_10h52_59](https://user-images.githubusercontent.com/31996417/117779225-264dff00-b247-11eb-9519-f332c69479ab.gif)

[2021-05-11 07:58] uslss commented on #11772
verified

[2021-05-11 08:08] uslss commented on #8811
verified

[2021-05-11 08:08] #8811 closed

[2021-05-11 08:17] uslss commented on #11006
still actual for Informix in EE.

![image](https://user-images.githubusercontent.com/31996417/117782506-5d71df80-b24a-11eb-8fd9-233afee225ee.png)

[2021-05-11 08:46] uslss commented on #11644
verified

[2021-05-11 08:46] #11644 closed, assigned to serge-rider, uslss

[2021-05-11 08:52] sergy1 commented on #12375
Hi, please see attached.

[dbo.GetQtyFromStr.txt](https://github.com/dbeaver/dbeaver/files/6457801/dbo.GetQtyFromStr.txt)

[2021-05-11 09:30] ShadelessFox commented on #12409
Hello @lzb-libra,

Please refer to https://github.com/dbeaver/dbeaver/wiki/Extension-Office

Let me know if your issue was solved.

[2021-05-11 09:44] kseniiaguzeeva commented on #12378
Now public schema cannot be selected in SQL Editor upper toolbar. Steps:
1. Open SQL Editor with non-public schema
2. Change schema on `public`
3. Execute a statement

**Actual result**: the statement is executed for non-public schema and the schema name is reverted to non-public in upper toolbar

[2021-05-11 09:48] LonwoLonwo commented on #12375
Sorry, I can't reproduce.

![2021-05-11 12_44_05-Window](https://user-images.githubusercontent.com/45152336/117795401-d2e3ad00-b256-11eb-9eb5-048557b03e60.png)

![2021-05-11 12_44_54-Window](https://user-images.githubusercontent.com/45152336/117795405-d2e3ad00-b256-11eb-9118-b5df4a9b5fa4.png)

What driver version do you use? It can driver issue.

Also, If you don't want to see system objects, you

[2021-05-11 09:52] serge-rider commented on #11314
@p91paul You can configure visible columns in session manager by clicking on the table header->Configure columns.
Also by clicking on the search icon (ctrl+f) you activate table filter which searches in all columns.

However per-column filter is not available. Is it the only thing which you miss in the session manager?

[2021-05-11 09:55] LonwoLonwo commented on #7879
Hmm.
@Lonniebiz Can you try to omit schemas in driver settings and test again?

![2021-05-11 12_52_53-Window](https://user-images.githubusercontent.com/45152336/117796833-1985d700-b258-11eb-8cf4-6385cdb61be4.png)

![2021-05-11 12_53_30-Window](https://user-images.githubusercontent.com/45152336/117796835-1a1e6d80-b258-11eb-90f5-f891d6fdc760.png)

[2021-05-11 09:55] uslss commented on #8956
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it

[2021-05-11 09:55] #8956 closed

[2021-05-11 09:56] uslss commented on #11394
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it

[2021-05-11 09:56] #11394 closed, assigned to nobody

[2021-05-11 09:58] uslss commented on #11686
cannot reproduce it against 21.0.4.
If it is still actual for you - feel free to reopen it

[2021-05-11 09:58] #11686 closed, assigned to nobody

[2021-05-11 09:58] uslss commented on #11703
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it

[2021-05-11 09:58] #11703 closed, assigned to nobody

[2021-05-11 10:20] sergy1 commented on #12375
My driver version string
jConnect (TM) for JDBC(TM)/16.0 SP03 PL02 (Build 27403)/P/EBF27518/JDK 1.6.0/jdbcmain/OPT/Mon Aug 28 18:41:14 PDT 2017

'Show system objects' setting does not help, no matter 'on' or 'off',  in both cases I see strange system tables

[2021-05-11 10:27] LonwoLonwo commented on #12408
may be connected with https://github.com/dbeaver/dbeaver/issues/11656

[2021-05-11 10:44] uslss commented on #12301
also table and column name are quoted always e.g. in PostgreSQL, Oracle, even if Use case-sensetive names option is disabled
![image](https://user-images.githubusercontent.com/31996417/117803120-ef83e300-b25e-11eb-9cbc-6c55cc31d63c.png)

![image](https://user-images.githubusercontent.com/31996417/117803066-e135c700-b25e-11eb-9f6e-83d1b6f30e7b.png)

[2021-05-11 10:46] uslss commented on #11863
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-05-11 10:46] #11863 closed, assigned to nobody

[2021-05-11 10:46] uslss commented on #11876
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-05-11 10:46] #11876 closed, assigned to nobody

[2021-05-11 10:54] uslss commented on #11892
@Jaydeb91 Edit driver dialog was changed in recent versions
You could add Driver at Libraries tab
![image](https://user-images.githubusercontent.com/31996417/117804381-61a8f780-b260-11eb-8553-6869e1369054.png)

[2021-05-11 10:55] #11870 closed, assigned to nobody

[2021-05-11 10:56] uslss commented on #11596
still cannot reproduce an issue. probably you could provide a video with an issue and backup log?
thanks in advance

[2021-05-11 10:57] uslss commented on #11919
there is no update on an issue for a long time. If it is still actual for you - feel free to reopen it.

[2021-05-11 10:57] #11919 closed, assigned to nobody

[2021-05-11 10:57] uslss commented on #10752
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-05-11 10:58] uslss commented on #11698
there is no update on an issue for a long time. If it is still actual for you - feel free to reopen it.

[2021-05-11 10:58] #11698 closed, assigned to nobody

[2021-05-11 10:58] uslss commented on #11672
there is no update on an issue for a long time. If it is still actual for you - feel free to reopen it.

[2021-05-11 10:58] #11672 closed, assigned to nobody

[2021-05-11 10:59] serge-rider commented on #12301
Fixed

[2021-05-11 11:21] sergy1 commented on #12375
Just reproduced with another driver Sybase jTDS. I have compiled new function and see it as function and as 'system table'

[2021-05-11 11:29] uslss commented on #12072
@dddeveloperrr is your issue solved?

[2021-05-11 11:35] uslss commented on #11260
seems issue was solved.
If it is still actual for you - feel free to reopen it.

[2021-05-11 11:37] uslss commented on #12021
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-05-11 11:37] #12021 closed, assigned to nobody

[2021-05-11 11:39] #11643 closed, assigned to nobody

[2021-05-11 11:40] uslss commented on #11560
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-05-11 11:40] #11560 closed, assigned to nobody

[2021-05-11 11:40] uslss commented on #11845
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-05-11 11:40] #11845 closed, assigned to nobody

[2021-05-11 11:41] uslss commented on #11889
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-05-11 11:41] #11889 closed, assigned to nobody

[2021-05-11 11:48] serge-rider commented on #12333
Preferences explicit save was added

[2021-05-11 11:53] unlysted commented on #12021
My apologies.

I have been busy with projects and simply forgot to follow up with you.

I’ll send some examples later today.

Thank you for following up.

On Tue, May 11, 2021 at 7:37 AM Dziyana ***@***.***> wrote:

[2021-05-11 11:57] serge-rider commented on #11006
Unfortunately we can't fix this for pure Generic driver (drivers which use Generic metadata structure, like Informix.)
Because we don't know database structure before we start loading it. So ERD tab is visible on catalogs which weren't initialized yet.

This may be fixed with fully-functional Informix extension but it should be done in a separate ticket.

[2021-05-11 12:14] uslss commented on #12023
thanks for the report and clarification

[2021-05-11 12:24] detkliff commented on #12343
thank you! It is true!

[2021-05-11 12:25] #12343 closed, assigned to nobody

[2021-05-11 12:28] serge-rider commented on #12378
Fixed

[2021-05-11 12:47] LonwoLonwo commented on #12375
Does Sybase has some special compile syntax for functions? I only created example function.

[2021-05-11 13:01] Lonniebiz commented on #7879
Wow! Thank you so much. After editing my connection settings to "Omit schema(s)", the auto-completion behavior is working exactly like I want. Now, by merely typing a small portion of a table-name (even if the characters I type are in the middle of the name) Dbeaver begins making correct proposals and it also narrows down those proposals the more I type. Perfect!

![Perfect](https://user-images.gi

[2021-05-11 13:29] #11618 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-05-11 13:50] uslss commented on #11494
issue is reproducible for columns with foreign keys
![image](https://user-images.githubusercontent.com/31996417/117826662-03d4d980-b279-11eb-8f17-67e210ec3301.png)

[2021-05-11 13:57] uslss commented on #11923
cannot reproduce it.
![image](https://user-images.githubusercontent.com/31996417/117827786-f66c1f00-b279-11eb-8f30-581ec141376a.png)

also, there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-05-11 13:57] #11923 closed, assigned to nobody

[2021-05-11 13:59] uslss commented on #7191
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-05-11 13:59] #7191 closed

[2021-05-11 13:59] serge-rider commented on #11494
Fixed

[2021-05-11 14:00] uslss commented on #6846
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-05-11 14:00] #6846 closed

[2021-05-11 14:02] uslss commented on #12347
duplicates #6328

[2021-05-11 14:02] #12347 closed, assigned to nobody

[2021-05-11 14:03] uslss commented on #12189
duplicates #6328

[2021-05-11 14:03] #12189 closed, assigned to nobody

[2021-05-11 14:04] uslss commented on #6328
probably relates to #11082

[2021-05-11 14:07] uslss commented on #6195
#6328

[2021-05-11 14:10] uslss commented on #12138
@happycoffeebean did you try to connect using any other client?

[2021-05-11 14:12] sergy1 commented on #12375
Sorry for misleading, I meant that **I have created function**.
It is Sybase internals to compile on creation and store function in own format.

[2021-05-11 14:29] Jonathan-Martin1 commented on #10768
I get this message every time I open DBeaver. I'm on windows 10.

An internal error occurred during: "Update Job".
Registry Directory not available: C:\Users\Jonathan%20Martin\.eclipse\org.jkiss.dbeaver.product_21.0.1_1535670467_win32_win32_x86_64\p2\org.eclipse.equinox.p2.engine\profileRegistry.

[2021-05-11 14:42] dominijk commented on #6846
I'm still not getting the basemap that works for the project but this could be user error so will report back

[2021-05-11 14:42] uslss commented on #12380
@q0987 unfortunately, ALTER TABLE ... RENAME COLUMN [is not available for v.18.6](https://stackoverflow.com/questions/47349878/change-column-name-in-a-table-in-clickhouse)

If the ALTER query is not sufficient to make the table changes you need, you can create a new table, copy the data to it using the INSERT SELECT query, then switch the tables using the RENAME query and delete the old table.
-[C

[2021-05-11 14:47] LonwoLonwo commented on #7879
Hooray!

About autocompletion for database name.
Case is important. And quotes. It does not work in all this cases?

1."select * from MT.(autocomplete)"
2."select * from "MT".(autocomplete)"
3."select * from mt.(autocomplete)"

[2021-05-11 14:57] LonwoLonwo commented on #11516
Create sequence dialog added. DDL (Source) tab added for sequence. (CE version)

[2021-05-11 15:01] serge-rider commented on #12361
We changed the behavior in the metadata/object editor but kept old behavior for data editor.

@Mizar01 was you ticket about data?

[2021-05-11 15:14] unlysted commented on #12021
I'm using version 21.0.4.202105021514.

I've attached two screenshots of the issue.

When I try to open a file in the projects window (Step 1.png) , that file
actually opens in the projects window (Step 2.png).

The application has not always done this.

Originally, clicking on a file in the Projects window opened the file in
the database editor window, which is to the right in both pictures.

Thi

[2021-05-11 15:37] ShadelessFox commented on #12257
Fixed:

![image](https://user-images.githubusercontent.com/35821147/117760381-36a5b000-b22e-11eb-8720-948effdcd745.png)

[2021-05-11 15:42] ShadelessFox opened #12413 "Autocompletion test suite"
We need to provide some suite for testing autocompletion functionality. Currently it is very easy to break something in one place by making an improvement in the other place.

We can create a unit test which will accept parts of the query and produce suggestions based on the input.

[2021-05-11 15:55] lintzc opened #12414 "DBeaver for Greenplum: support of replicated tables if PK"
#### System information:
- Operating system (distribution) and version: Mac OS
- DBeaver version: Version 21.0.4.202105021514
- Additional extensions

#### Connection specification:
- Database name and version: Greenplum 6
- Driver name: Greenplum
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
If a table is defined as replicated and has a primary

[2021-05-11 16:17] LonwoLonwo commented on #12375
So far, I can not reproduce the problem, and I do not know where the error is hidden. We will continue to search

[2021-05-11 16:18] bender270 opened #12415 "Column name Autocompletion does not work with join queries on mssql"
#### System information:
- Windows 2010 64 bits
- DBeaver version 21.0.4
- Additional extensions

#### Connection specification:
- Database Microsoft SQL Server 2014 (SP3-GDR) (KB4583463) - 12.0.6164.21 (X64)
	Nov  1 2020 04:25:14
	Copyright (c) Microsoft Corporation
	Enterprise Edition: Core-based Licensing (64-bit) on Windows NT 6.3 <X64> (Build 9600: ) (Hypervisor)
- Driver name Microsoft JDBC

[2021-05-11 16:59] KES777 opened #12417 "Can not copy whole value"
#### System information:
- Linux Mint v19.3
- DBeaver version 21.0.3

#### Describe the problem you're observing:
When I want to copy plan I can not. All value is not displayed (plan is 1.6Mb in size)

#### Steps to reproduce, if exist:

    EXPLAIN (ANALYZE, COSTS, VERBOSE, BUFFERS, FORMAT JSON) SELECT * FROM ....

2. Try to copy value.

![image](https://user-images.githubusercontent.com/799021/1

[2021-05-11 18:06] devscheffer opened #12420 "Problem change parameter value"
#### Database
IBM db2
#### Dbeaver
Version: 21.0.4
#### Describe the problem you're observing:
once a set parameter like
[code]
it doesn't change the value total if I try to change the value from 12 to 15.

#### Steps
run
[code]
Then run the same script but change the value
[code]

[2021-05-11 18:15] Mizar01 commented on #12361
@serge-rider Actually yes: I mean the grid with editable results of a query. Often we show data from data editor, we click or drag mouse to hilight values. It's inconvenient to have a value changed with a single click, and the change is barely noticeable. I find myself always re-read modified rows before submitting any change with 'save button' to check if a boolean was changed in an undesired pos

[2021-05-11 19:04] stophe72 commented on #12377
ok with "mvn clean package"

Thank's

[2021-05-11 19:04] #12377 closed, assigned to ShadelessFox

[2021-05-11 20:28] techlock77 opened #12421 "Cannot connect to Oracle Db"
System information:
- Operating system (distribution) and version -> WIN 10
- DBeaver version -> 21.0.3

Connection specification:
- Database name and version -> Oracle
- Driver name -> oracle.jdbc.OracleDriver
![image](https://user-images.githubusercontent.com/66756251/117880247-e5211380-b275-11eb-9050-6491ea4860e8.png)

[2021-05-12 00:09] artibyrd commented on #7521
This actually worked to add the client home location somehow, but still gives me errors when actually attempting to do something like run a backup.  I'm using Postgres not MariaDB, and I still get an error like `Error executing process Utility 'pg_dump' not found in client home '/usr/bin' (/usr/bin)` because DBeaver still doesn't have permission to the perl script link in /usr/bin even with this l

[2021-05-12 02:14] hubutui opened #12422 "dbeaver unexpect close due to invalid pointer"
#### System information:
- ArchLinux
- dbeaver 21.0.4
- openjdk 15.0.2 2021-01-19, OpenJDK Runtime Environment (build 15.0.2+7), OpenJDK 64-Bit Server VM (build 15.0.2+7, mixed mode)

#### Connection specification:
- Database name and version: MySQL and Oracle
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Describe the problem you're observing:

When I edit a connection, and click O

[2021-05-12 03:29] ujjwal-innocirc commented on #12189
Hi Team,
It will be very useful if you incorporate my request. Although you have marked it as Closed.

Kumar Ujjwal

Software Engineer, MyHealthcare (a digital health ecosystem)

Email: ***@***.******@***.***> I Mobile: +91 9555695547

Website: http://www.myhealthcare.co

Delhi  I Bangalore  I Kuala Lumpur  I Jakarta  I Hong Kong

________________________________
From: Dziyana ***@***.***>
Sent: 1

[2021-05-12 04:02] ralius18 opened #12423 "Highlighting incorrect row when selecting while sorted"
#### System information:
- Windows 10 version 20H2, build 19042.928
- DBeaver version: 21.0.4.202105021514

#### Connection specification:
- Database name and version: MySQL 5.1.44
- Driver name: MySQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH Tunnel

#### Describe the problem you're observing:
When selecting rows while script results are sorted, the associated data row is highlighted

[2021-05-12 06:02] kseniiaguzeeva commented on #11515
verified

[2021-05-12 06:02] #11515 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-05-12 06:26] ShadelessFox commented on #12128
Fixed for PostgreSQL:
[code]

Produced SQL script:
[code]

And for Oracle:
[code]

Produced SQL script:
[code]

[2021-05-12 06:28] ShadelessFox commented on #11829
Fixed:

![java_brSLGMGpS7](https://user-images.githubusercontent.com/35821147/117817776-9cb32700-b270-11eb-8aa2-700d7d1f6b5e.png)

Note that regular `BEGIN` and `END` keywords are colored using different color unlike `ROW BEGIN` and `ROW END`.

This example uses different highlighting color for the sake of visualization.

Which means that:
1. `ROW BEGIN` must not be treated as a valid block beginn

[2021-05-12 07:09] p91paul commented on #11314
@serge-rider basically yes, per column filter is what I'm missing!

[2021-05-12 07:25] wa-pretzels opened #12424 "See only objects from connected schema - e.g. via separate section"
#### System information:
- Operating system (distribution) and version - Windwos 10
- DBeaver version - DBeaver IDE	21.0.4.202105021514
- Java version - openjdk version "1.8.0_282"
- Additional extensions

#### Connection specification:
- Database name and version - Oracle 19c
- Driver name - ojdbc8
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Our

[2021-05-12 07:33] dddeveloperrr commented on #12072
Unfortunately not. I just updated Manjaro but still get error

[farhad@farhad-hp ~]$ snap run dbeaver-ce
Gtk-Message: 12:01:28.932: Failed to load module "xapp-gtk3-module"
Gtk-Message: 12:01:28.933: Failed to load module "xapp-gtk3-module"
Picked up _JAVA_OPTIONS: -Duser.home=/home/farhad/snap/dbeaver-ce/111
Gtk-Message: 12:01:29.467: Failed to load module "xapp-gtk3-module"
Gtk-Message: 12:01:29

[2021-05-12 07:33] LonwoLonwo commented on #12423
Hello @ralius18
Thanks for the bug report.
We fixed this problem here: https://github.com/dbeaver/dbeaver/issues/12286
Fix will be available in DBeaver 21.0.5 on 2021-05-17
or you can test it in Early Access version https://dbeaver.io/files/ea/

[2021-05-12 07:33] #12423 closed, assigned to nobody

[2021-05-12 07:35] #11006 closed, assigned to serge-rider, uslss

[2021-05-12 07:38] franciskittu opened #12425 "very long "Load DB2TableCache" during query execution"
#### System information:
- MS Windows 10
- DBeaver 21.0.4 (but also in earlier version)
- Additional extensions: no

#### Connection specification:
- Database name and version -> DB2 LUW v11.1
- Driver name -> com.ibm.db2.jcc.DB2Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? I'm working under a CISCO VPN and the db2 servers are available there.

#### Describe the problem you're observin

[2021-05-12 07:43] arnoschutijzer commented on #11651
I was running into the same issue on M1. Upgrading to macOS 11.3.1 seems to have fixed the issue.

[2021-05-12 07:58] LonwoLonwo commented on #12414
Thanks for the bug report!

[2021-05-12 07:58] uslss commented on #12301
verified

[2021-05-12 07:58] #12301 closed, assigned to serge-rider, uslss

[2021-05-12 08:00] uslss commented on #11494
verified

[2021-05-12 08:00] #11494 closed, assigned to serge-rider, uslss

[2021-05-12 08:03] uslss commented on #12128
verified

[2021-05-12 08:18] uslss commented on #12421
Seems it is server-side issue. Please, check connection preferences
https://stackoverflow.com/questions/10786782/ora-12514-tnslistener-does-not-currently-know-of-service-requested-in-connect-d

[2021-05-12 08:23] uslss commented on #12420
@devscheffer please, provide more info about the issue.
What database do you use? Dbeaver version? Steps to reproduce an issue?

[2021-05-12 08:25] LonwoLonwo commented on #12414
"When creating a table, there is an additional clause to declare the Greenplum Database distribution policy. If a DISTRIBUTED BY, DISTRIBUTED RANDOMLY, or DISTRIBUTED REPLICATED clause is not supplied, then Greenplum Database assigns a hash distribution policy to the table using either the PRIMARY KEY (if the table has one) or the first column of the table as the distribution key. Columns of geome

[2021-05-12 08:29] LonwoLonwo commented on #11775
Ok. Now we stopped reading the value of the reference from database and generate it yourself. No longer will be binding to the default schema. Fixed for table and schema DDL tabs.

[2021-05-12 08:39] F0xD8rk opened #12427 "DBeaver - Error when setting option Show Whitespace Characters via the preferences"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.0.4.202105021514

#### Describe the problem you're observing:

When you select the **Show whitespace characters** option via the preferences, an error is shown.

#### Steps to reproduce, if exist:

1. Select the option **Show whitespace characters** in the settings
2. Click button **Apply**
3.

[2021-05-12 08:40] uslss commented on #11829
Row begin/end are highlighted with the same color as BEGIN...END
![image](https://user-images.githubusercontent.com/31996417/117945348-e9513d80-b316-11eb-9e87-5d576c713066.png)

[2021-05-12 08:41] lintzc commented on #12414
You are using a very old version GPDB 4.3.30.
Now, most of the customers are using GPDB6: https://gpdb.docs.pivotal.io/6-16/ref_guide/sql_commands/CREATE_TABLE.html

You can see that there is another kind of distribution: REPLICATED.

Cyrille

________________________________
De : Anastasiya ***@***.***>
Envoyé : mercredi 12 mai 2021 10:26
À : dbeaver/dbeaver ***@***.***>
Cc : Cyrille Lintz (Pivot

[2021-05-12 08:51] uslss commented on #12417
is it possible to copy it using Ctrl+C or from the value panel?
![image](https://user-images.githubusercontent.com/31996417/117946902-5fa26f80-b318-11eb-9260-60bc4e5fa129.png)

[2021-05-12 08:52] uslss commented on #11829
verified

[2021-05-12 08:52] #11829 closed, assigned to uslss, ShadelessFox

[2021-05-12 09:09] uslss commented on #12427
thanks for the report

[2021-05-12 09:36] renchix opened #12428 "Autocomplete issue on Grouping configuration under Grouping tab"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: **21.0.4** (issue has been in all 21.0... versions)
- Additional extensions

#### Describe the problem you're observing:
In Grouping configuration window (Edit grouping columns) when editing functions section: you start typing column name i.e. enter first characters, autocomplete offers possible c

[2021-05-12 09:44] serge-rider commented on #11082
I think it is very similar to #667 . Please correct me if I'm wrong.

[2021-05-12 09:44] #11082 closed, assigned to nobody

[2021-05-12 10:00] LonwoLonwo commented on #12414
Fixed in DBeaver 21.0.5
Will be available on 2021-05-17

[2021-05-12 10:05] git10135405 opened #12429 "Data viewer ignores precision parameter for timestamp data type"
If the column data type is timestamp(3), 6 more zeros will be displayed. As shown in the figure:
![image](https://user-images.githubusercontent.com/35558611/117956905-15d37c80-b34c-11eb-8f7f-21bc8185e479.png)

#### System information:
- Operating system：win10 LTSC 2018
- DBeaver version：21.0.4

[2021-05-12 10:10] kumarrsumit opened #12430 "Shared SSH Tunnel Connection"
**Is your feature request related to a problem? Please describe.**
Each database connection open a new SSH Tunnel even though they share the same SSH Tunnel, this need multiple authentication of the said SSH connection

**Describe the solution you'd like**
If database connections share the same SSH Tunnel and we have an active connection to the said SSH Tunnel then all subsequent database connecti

[2021-05-12 10:15] LonwoLonwo commented on #12428
Hello @renchix
Can't reproduce, sorry. We need more details - screenshots or video of incorrect behaviour will be very helpful.

![2021-05-12 13_11_43-Window](https://user-images.githubusercontent.com/45152336/117958652-ea3c9c00-b323-11eb-9bb7-4ee5b384a2ba.png)

![2021-05-12 13_11_56-Window](https://user-images.githubusercontent.com/45152336/117958654-ea3c9c00-b323-11eb-8a1e-b75ccaceb1cc.png)

[2021-05-12 11:00] ShadelessFox commented on #11762
Eclipse is trying to adjust the sash's width to a minimal width (which we can't change), causing it to "jump" several pixels away.

We can try to restrict dragging whilst sash is minimized, this will fix the issue.

[2021-05-12 11:01] #12059 closed, assigned to serge-rider, uslss

[2021-05-12 11:14] uslss commented on #11775
verified

[2021-05-12 11:14] #11775 closed, assigned to uslss, LonwoLonwo

[2021-05-12 11:25] renchix commented on #12428
Issue shows up only when you first write the function name e.g. COUNT(  and then column name

[2021-05-12 11:27] renchix commented on #12428
I just found that there is already similar issue - https://github.com/dbeaver/dbeaver/issues/11508
There is video in it..the same problem that I encounter

[2021-05-12 11:36] kseniiaguzeeva commented on #11439
@findepi unfortunately, I do not have so big table to test. Do you have a possibility to check the fix in EA version https://dbeaver.io/files/ea/?

[2021-05-12 11:44] ShadelessFox commented on #12422
Looks like a GTK error.

Can you provide more information about your environment, please?

[2021-05-12 11:56] ShadelessFox commented on #12427
Hello @F0xD8rk,

I cannot reproduce your issue. Is the problem occurs every time you're trying to toggle that option?

Also, consider upgrading to newer version to see if the problem was solved: https://dbeaver.io/files/ea

[2021-05-12 12:08] kseniiaguzeeva commented on #12381
verified

[2021-05-12 12:08] #12381 closed, assigned to serge-rider, kseniiaguzeeva

[2021-05-12 12:10] LonwoLonwo commented on #12428
Ok. thanks

[2021-05-12 12:10] #12428 closed, assigned to nobody

[2021-05-12 12:11] LonwoLonwo commented on #12428
Closed as duplicate of #11508

[2021-05-12 12:19] kseniiaguzeeva opened #12433 "SQL Console can be opened for public schema only"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.5

#### Connection specification:
- Database name and version PostgreSQL, Greenplum, other PostgreSQL forks?
#### Steps to reproduce, if exist:
Open SQL Console for a non-public schema

**Expected**: SQL Console is opened for the selected schema
**Actual result**: SQL Console is opened for public sc

[2021-05-12 12:20] kseniiaguzeeva commented on #12378
verified. Another issue is created https://github.com/dbeaver/dbeaver/issues/12433

[2021-05-12 12:20] #12378 closed, assigned to serge-rider, kseniiaguzeeva

[2021-05-12 12:33] kseniiaguzeeva opened #12434 "Output log configation stop working in Preferences after using the button in Output log window"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.5

#### Steps to reproduce, if exist:
1. Open Output log
2. Change Open output viewer on new mennages parameter
3. Go to Preferences

**Expected:** the setting is updated in Preferences
**Actual result**:
- the setting is not updated
- if you try to change the parameter in Preferences after that, th

[2021-05-12 12:33] kseniiaguzeeva commented on #12333
verified, another ticket is created https://github.com/dbeaver/dbeaver/issues/12434

[2021-05-12 12:33] #12333 closed, assigned to serge-rider, kseniiaguzeeva

[2021-05-12 13:13] hubutui commented on #12422
@ShadelessFox Yes, I'm using ArchLinux with GNOME 40.1, gtk3 3.24.29. What else information should I provide?

[2021-05-12 13:24] ShadelessFox commented on #12422
That's enough for now, thank you.

We need further investigation, at least have a try to reproduce it using the same environment.

One more question, Is that an one-time situation or it keeps happening every time you're trying to perform described actions?

[2021-05-12 13:32] ShadelessFox commented on #12434
The configuration is changed for the current data source only, not globally.

[2021-05-12 13:35] davedran opened #12436 "Azure SQL Server Connection - Error when trying to expand the schema - Using the current Beta Version 21.0.5.202105111250 on Win10"
Hi

My connection to Data Verse via SQL Server 18 using Active directory MFA connection works well.

But, with DBeaver using Azure SQL Server connection, I get an error when I tried to expand the schema tree.

SQL Error [40000] [S0001]: Invalid table name extended_properties for schema sys. Line:2, Position:17
RequestId: TDS;3ce155b2-0ef1-4ba4-bf71-f88fc308e44e;4
Time: 2021-05-12T13:34:39.7217781Z

[2021-05-12 13:49] techlock77 commented on #12421
The problem is our connection uses service_name but on Dbeaver there is no slot where we can edit the service_name.

![image](https://user-images.githubusercontent.com/66756251/117986081-49d87e80-b307-11eb-92db-2dcaeac1e7a3.png)

[2021-05-12 13:50] kseniiaguzeeva commented on #12257
verified

[2021-05-12 13:50] #12257 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-05-12 14:03] ShadelessFox commented on #12436
Hello @davedran,

Looks like your user does not have permissions for reading metadata tables.

For more information please refer to:
https://docs.microsoft.com/en-us/sql/relational-databases/security/metadata-visibility-configuration

[2021-05-12 14:06] SOSkr commented on #10905
I have a problem with this

I created a series of scripts that must be executed in a specific order, but the order shown is not correct

![image](https://user-images.githubusercontent.com/1152045/117988481-1135a680-b301-11eb-86d3-6388715a75fb.png)

expected
![image](https://user-images.githubusercontent.com/1152045/117988584-2ca0b180-b301-11eb-9ca3-08586d903bd8.png)

[2021-05-12 14:22] DariaMarkaryan opened #12438 "text to hex converting problem"
#### System information:
- widows 10
- DBeaver 21.0.5

#### Connection specification:
- SQLite, default driver

#### Describe the problem you're observing:
Click on the text type data : view / format -> set table format -> binary. If just choose Binary hex and then OK, then only troubles with some letters happen:
![text](https://www.linkpicture.com/q/Screenshot_3_38.png)
![text](https://www.linkpi

[2021-05-12 14:35] DariaMarkaryan opened #12439 ""Auto assign" button when importing DB-DB table seems to have no useful behavior"
widows 10, SQLite
Open two sqlite databases in Database Navigator. In one of them right click on table -> import data -> choose table exporting format - > next. And at that step, if click choose auto assign button
![Screenshot_6](https://user-images.githubusercontent.com/43252954/117993284-41ecfe80-b348-11eb-932a-81190169676d.png)
and then choose DB for export the table "Source" is still "none". E

[2021-05-12 14:39] flambchap commented on #10590
This is a [well-known bug](https://bugs.eclipse.org/bugs/show_bug.cgi?id=551405) in SWT. We'll wait for a fix.

[2021-05-12 14:53] serge-rider commented on #12361
![image](https://user-images.githubusercontent.com/6398845/117996555-ea9c5d80-b34a-11eb-9d1c-788389fc1bf5.png)

[2021-05-12 15:32] darkag opened #12440 "Incorrect request generated when saving changes on vertica 10.1 database"
Hello,

when updating a table without primary key on vertica 10.1, auto-generated request doesn't take all columns in where conditions.

more on that, the request send when saving is not the same that the one shown on script preview.

for exemple:

request send to database :
UPDATE schema.TABLE SET COLUMN1='VALUE' WHERE COLUMN1 IS NULL AND COLUMN10='VALUE10';

request shown in script :
UPDATE sche

[2021-05-12 16:14] darkag commented on #12440
ok I've found that I had an incorrect virtual primary defined. By the way I had to edit the config file since I can't find a way to do it with the GUI.

And there is still the problem of inconsistant query with column=null in where close

[2021-05-12 17:16] Lonniebiz commented on #7879
@LonwoLonwo If I capitalize "MT." auto-completion does indeed work after the dot. However, Pervasive doesn't care about capitalization of "mt." for query execution.

1."select * from MT.(autocomplete)"  **(works)**
2."select * from "MT".(autocomplete)" **(doesn't work)**
3."select * from mt.(autocomplete)" **(doesn't work)**

Back in the year 2000, when I first learn SQL, I use to capitalize keywo

[2021-05-12 18:20] sergy1 commented on #12375
Hi @LonwoLonwo

I have managed to run Dbeaver code release_21_0_4 in debugger and found following.

In my case
_....
.....org.jkiss.dbeaver.ext.generic.model.GenericObjectContainer.getTables(DBRProgressMonitor)
.........org.jkiss.dbeaver.model.impl.jdbc.cache.JDBCObjectCache.getAllObjects(DBRProgressMonitor, OWNER)
............ **org.jkiss.dbeaver.model.impl.jdbc.cache.JDBCObjectCache.loadObjects(

[2021-05-12 19:44] uslss commented on #12414
verified

[2021-05-12 19:44] #12414 closed, assigned to uslss, LonwoLonwo

[2021-05-12 20:10] kseniiaguzeeva commented on #11439
Please ask to reopen, if the issue is still actual.