[2022-10-23 16:50] DoctorKrolic opened #17997 "Context menus are still white when the app is in dark theme"
### Description

Context menu is still white even when the app is in dark theme:
![dbeaver_kcak2LTA0A](https://user-images.githubusercontent.com/70431552/197404801-eff11c29-33b4-43e1-827c-88602390dec5.png)
The expected behaviour: context menu should change its color when the app is in dark theme

### DBeaver Version

Community Edition 22.2.2

### Operating System

Windows 11 22H2 build 22621.675

[2022-10-24 02:43] Seasawher commented on #17934
I paste `dbeaver-debug.log` as follows.

[code]

[2022-10-24 02:45] Maxx-Yang opened #17998 "The disk you attached was not readable by this computer"
### Description

When i click Help->Check for updates,then dbeaver ask for me teminal app to update. when i click ok, then the error occurs.
<img width="260" alt="image" src="https://user-images.githubusercontent.com/32293803/197438280-6435347c-9b1f-4eea-bc6b-c1889464b8c9.png">

### DBeaver Version

Community Edition 22.2.1

### Operating System

macOS Monterey 12.6

### Database and driver

_No r

[2022-10-24 02:53] Seasawher commented on #17934
Sorry for the rudimentary question. I was going to paste `dbeaver-debug.log`, but does this file contain any private information that should not be disclosed for security reasons?

[2022-10-24 05:18] detkliff opened #18001 "disabled driver window"
### Description

disabled element on driver window

### DBeaver Version

22.2.3

### Operating System

windows 11 64bit

### Database and driver

Postgresql 14

### Steps to reproduce

1. Open Connection
![image](https://user-images.githubusercontent.com/61137576/197453066-c411d7ed-c80c-4711-b88e-a7342eb36b93.png)
2. Open Download
![image](https://user-images.githubusercontent.com/61137576/1974531

[2022-10-24 08:10] ShadelessFox commented on #18001
Hi @detkliff,

What do you mean by `disabled`? I can clearly see that the highlighted elements of the dialog are active.

Can you please clarify what is going on? You mean pressing on anything doesn't have any effect? If so, please attach the log files: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-10-24 08:14] Destrolaric commented on #18001
Was not fixed in https://github.com/dbeaver/dbeaver/issues/17892

[2022-10-24 08:24] ghYura opened #18004 "Show again NULL-columns"
Continuation of
Hiding a column when all the rows matching this columns are empty or NULL #17061

Undo (or **show again NULL-columns**) add option for the same feature

[2022-10-24 09:22] ghYura commented on #18004
At first right after Hide - undo (show all columns) works/
But! Try to do other actions and turn back to try undo again...
Option to show again all columns - disappears
Try to play as much intermediate scenario to reproduce this bug

[2022-10-24 09:27] valsamis-d opened #18005 "DBeaver 22.2.3 Portable - Unable to install DevStyle with CodeTogether Bundle"
### Description

System information:

    Windows 10 Enterpise 21H2 19044.2006
    dbeaver-ce-22.2.3-win32.win32.x86_64.zip

Steps to reproduce:

    Download and unzip "dbeaver-ce-22.2.3-win32.win32.x86_64.zip" into a folder
    Launch dbeaver.exe
    Navigate to Help > Install New Software
    Select Darkest Dark Theme - https://www.genuitec.com/updates/devstyle/ci/
    Select DevStyle Features

[2022-10-24 09:42] E1izabeth commented on #17975
https://github.com/dbeaver/dbeaver/wiki/Separate-Connections

[2022-10-24 09:46] E1izabeth commented on #18004
@ghYura, thank you for feature request. As a workaround you can reopen the table.

[2022-10-24 09:49] ShadelessFox commented on #18004
Hello @ghYura,

You can reveal hidden columns using the `Show hidden columns` action:
![image](https://user-images.githubusercontent.com/35821147/197499023-a7115744-ab0d-456e-8dfd-c5e35a692e70.png)

Or by resetting columns filters in the filter dialog:
![image](https://user-images.githubusercontent.com/35821147/197499145-61124ef8-b9ea-4e47-9953-ca8902d152a8.png)

[2022-10-24 09:55] ghYura commented on #18004
Hello all dev-n-test team!
Pay attention to i**ntermediate scenarios** between "Hide-**intedmediate_actions**-show hidden columns" to repro
Best wishes as always!

[2022-10-24 09:59] ShadelessFox commented on #18001
Duplicate of #17892

[2022-10-24 09:59] #18001 closed, assigned to nobody

[2022-10-24 10:00] ghYura commented on #18004
Hello @E1izabeth
As a tester I know 1st tester's rule:
_Something doesn`t work? Reload it! :)_

[2022-10-24 10:03] ShadelessFox commented on #18004
I'm not sure what `do other actions` mean, sorry.

Can you please provide the exact steps to reproduce or a video showing the issue?

[2022-10-24 10:24] ghYura commented on #18004
@ShadelessFox
[https://screenrec.com/share/XH6ohGWPuO](https://screenrec.com/share/XH6ohGWPuO)
Pay attention in given *half* video, that you have to perform specific action:

STR:
1 Hide empty columns
2 Action in context menu for RightMouseClick on column head -> "Adjust column to the screen"
3 RightMouseClick again on column head

Expected: Show hidden columns sub-menu item present

Actual: absen

[2022-10-24 10:30] yoni-yad2 opened #18007 "Add an option to hide idle PostgreSQL sessions"
**Is your feature request related to a problem? Please describe.**
Currently, all sessions appear in PostgreSQL Session Manager.

**Describe the solution you'd like**
Add an "Hide idle" option to the right-click menu in Session Manager

**Describe alternatives you've considered**
Manually querying:
`select * from pg_stat_activity where state not like 'idle%';`

[2022-10-24 10:34] ghYura commented on #18004
NotaBene: I have developed universal program for testers, that covers as much intermediate scenarios as possible (you can see its part in given video itself). Any programming language can be used

[2022-10-24 10:35] #17892 closed, assigned to serge-rider, uslss

[2022-10-24 10:51] ShadelessFox commented on #18004
Ah, I see, thank you. This is a known issue, unfortunately. We can fix it within this ticket.

[2022-10-24 10:53] valsamis-d commented on #18005
Following up here as I think I found out something. I'm not sure if this is the correct way to install "DevStyle with CodeTogether Bundle", but so far it looks like everything is working.

I noticed that a new site/repository appeared in "Available Sites":

![image](https://user-images.githubusercontent.com/17590539/197509845-11dde888-c8d2-40bb-9c80-ff6b201d3f23.png)

From there I installed  "Code

[2022-10-24 11:11] detkliff commented on #18001
You mean pressing on anything doesn't have any effect?
yes

[2022-10-24 11:32] Destrolaric commented on #17997
@DoctorKrolic, Hi. I have looked into the issue. It happens for Windows 11. Unfortunately, coloring is a part of Eclipse framework functionality, and the fix should be done from their side.

[2022-10-24 11:43] mc1986 opened #18010 "Postgis preview"
### Description

When a postgis column is selected (POINT, POLYGON or MULTIPOLYGON), the preview with default OpenstreetMap (or the other ones) not works but instead is request to save an HTML file on disk.
![image](https://user-images.githubusercontent.com/46898354/197517426-87e3a60d-474a-4039-90d1-cc1825049502.png)

### DBeaver Version

Community Edition 22.2.3.202210231354

### Operating System

[2022-10-24 12:26] flambchap commented on #17934
@Seasawher DBeaver doesn't put anything like that in the logs.

[2022-10-24 12:28] flambchap commented on #18010
Hi @mc1986, it's [a known issue](https://github.com/dbeaver/dbeaver/issues/16125). I suggest using [this workaround](https://github.com/dbeaver/dbeaver/issues/16125#issuecomment-1098990262).

[2022-10-24 12:28] #18010 closed, assigned to nobody

[2022-10-24 12:32] flambchap commented on #18007
Thank you for the idea.

[2022-10-24 12:36] mc1986 commented on #18010
Yes, it works!
I'm sorry: I tried to find a solution (or a workaround), but I didn't find anything before your suggestion.
Have a nice day

[2022-10-24 12:40] iklose commented on #17616
Hi,

Sorry for the late reply...I was able to make IAM authentication work with the Comunity edition - but only for Redshift clusters not Serverless.

Steps:

In driver management change URL template: jdbc:redshift:iam://{host}:{port}/{database}

In main connection setting:

- Host: localhost if SSH tunnel is used, otherwise Redshift Endpoint.
- Port: 5439 as standard Redshift port or the port tha

[2022-10-24 14:43] pedrobianco opened #18013 "Problem saving edited data in the column by the application"
### Description

When editing a data in the table that returns the values, it does not enable the save option, only when executing another query, which displays a message to save or cancel.

### DBeaver Version

Community Edition 22.2.3.202210231354

### Operating System

Ubuntu mate 20.04.5 LTS

### Database and driver

Mysql database 5.7

### Steps to reproduce

1 - Give a select on a table that

[2022-10-24 15:17] mimo76 opened #18014 "Salesforce CDP SSO Connectivity"
Trying to establish a connection to Salesforce CDP following the instructions outlined here: https://help.salesforce.com/s/articleView?id=sf.c360_a_set_up_tableau_connected_app.htm&type=5

I have used these instructions on other CDP instances and am able to connect and query data as expected.  Recently tried to integrate with a new CDP instance that is using SSO and am unable to get an established

[2022-10-24 15:43] mikeho1218 opened #18015 "Intersystems Caché not able to connect with recent Community releases"
### Description

With the last two releases of the Community version, getting the following error:

Can't create driver instance
  Error creating driver 'Cache' instance.
Most likely required jar files are missing.
You should configure jars in driver settings.

Reason: can't load driver class 'com.intersys.jdbc.CacheDriver'
  Error creating driver 'Cache' instance.
Most likely required jar files a

[2022-10-24 17:06] hnavia commented on #18005
Thank you for the solution. It totally worked!

[2022-10-24 17:07] powelleric opened #18016 "Display line number in SQLServer error"
If my query has an error in the SQL, when I run it in `sqlcmd`, I get:

[code]
In DBeaver I don't get the line number:

[code]

[2022-10-24 17:55] brother-z opened #18017 "SSH Auth Fail after 22.2.3 update"
### Description

Hi, it's me again :)
So after your fix for https://github.com/dbeaver/dbeaver/issues/17748 that came out in 22.2.3 it's better. I can click on "test tunnel" and it logs in fine using jump server and asking me for cert keys.
But - when I try to connect to database, after all the popups to enter credentials I'm getting "auth error".

From the point of view of my bastion server it se

[2022-10-24 21:10] argarcia-ottersoft commented on #6876
has this been scheduled for a release version yet?

[2022-10-24 22:26] superloud-io opened #18019 "Multiple Selections in Editor"
**Is your feature request related to a problem? Please describe.**
Making the same edit many lines of SQL is difficult. For example, if you want to add a space after a comma for 100 lines, you have to and space 100 times. Having a multi-select option (multiple cursors), you'd only need to click 100 times and press space once, saving a lot of time.

**Describe the solution you'd like**
It would be

[2022-10-25 01:14] Seasawher commented on #17934
I paste `debeaver-debug.log` as follows:

[code]

[2022-10-25 02:57] Spongman opened #18020 "ssh tunnel attempts password auth when agent is selected"
### Description

![image](https://user-images.githubusercontent.com/1088194/197671159-bafbbb8f-9363-49a0-a2ec-c04c50a49bf2.png)

after clicking 'test tunnel configuration' the connection to the jump host is correctly established. however, the sshd server on the host in the first text box shows this:

[code]

### DBeaver Version

 22.2.2.202210092258

### Operating System

windows 10 x64

### Datab

[2022-10-25 03:01] Spongman opened #18021 "pageant doesn't show in 'SSH Agent' list"
### Description

i'm running pageant. it doesn't show in the list:

![image](https://user-images.githubusercontent.com/1088194/197672028-284f1327-745d-4ee8-9714-728fb81e2678.png)

### DBeaver Version

Version 22.2.2.202210092258

### Operating System

windows 10 x64

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-10-25 04:49] Wang19961231 commented on #17994
This still doesn't work.

[2022-10-25 06:02] rumbin opened #18022 "Database Navigator: remember _absolute_ width upon resizing"
**Is your feature request related to a problem? Please describe.**

When working on displays with largely distinct horizontal resolution and switching between them, I always end up having to readjust the Database Navigator's side panel, as the width is stored as relative width of the window.

**Describe the solution you'd like**

As the DB/schema/table names always have the same lengths, regardles

[2022-10-25 06:52] codingphil opened #18023 "The user interface language setting gets reset to machine UI language after update"
### Description

I run DBeaver on a Windows machine with german UI language and run DBeaver with the setting "English"
for "User Interface / Regional settings / language".
After each update the language setting gets reset to "German" (UI language of my Windows machine) and I have to manually change the setting to the value "English".
It would be great if the language setting does not get reset to

[2022-10-25 07:03] allipatev commented on #14221
Hi @ShadelessFox @tati-kru @serge-rider @uslss
Do you know how is change log shown in DBeaver application (community edition) is generated?
Say, this particular issue is seemingly included into this week's release.
If one moves this issue to Milestone 22.2.3 right now, will it be visible in DBeaver UI as a result of Check for Update?

[2022-10-25 07:06] allipatev commented on #14221
Or it is just a static text in release notes for https://github.com/dbeaver/dbeaver/releases/tag/22.2.3?

[2022-10-25 08:08] E1izabeth commented on #18023
Duplicate of #17857

[2022-10-25 08:08] #18023 closed, assigned to nobody

[2022-10-25 08:10] E1izabeth commented on #18017
Thank you for bug report.

[2022-10-25 08:12] E1izabeth commented on #18020
Thank you for bug report.

[2022-10-25 08:19] E1izabeth commented on #17879
These issues are also waiting for the driver update:
#16189
#16885
#17287
#17852

[2022-10-25 11:01] flambchap commented on #6876
Scheduled for 22.3.

[2022-10-25 11:05] paoloholzl opened #18026 "Problem using drag and drop of table name into a simply select"
### Description

If you open SQL window creaqting a select using Drag And Drop give error.

### DBeaver Version

Community Edition 22.2.3

### Operating System

Windows 10

### Database and driver

Try in SQL Server, Postgresql, MySQL, Oracle.

### Steps to reproduce

If you open SQL window
select * from (and drag an drop table name)
If you play the button give error.
If you add at end of command

[2022-10-25 11:15] da-anda commented on #10273
I would also welcome a nice integrated solution instead of more or less hacking your way around it

[2022-10-25 11:19] flambchap commented on #14691
With Java 17 and 3.13.6 driver, if you open a connection to Snowflake, the default database and schema aren't highlighted in the navigator. In the logs we see

[code]

The same exception appears when we open a data editor.

It's a Snowflake JDBC driver [issue](https://github.com/snowflakedb/snowflake-jdbc/issues/589), which is in turn an issue of Apache Arrow. Unfortunately, they haven't migrated

[2022-10-25 13:43] chrisb34 opened #18031 "Run away background processes"
### Description

Recent versions, I'm not sure since when, are chewing up system resources on my Mac, such that I need to close or, quite often, force quit, the application.

I have no idea what it is trying to do in the background.  I will be using the database explorer to look at local databases.

Version 22.2.3.202210231354
on MacOs Monterey 12.6 with 64Gb Ram

![image](https://user-images.gith

[2022-10-25 15:39] igor2x opened #18036 "Update Db2 LUW JDBC driver to version v11.5.8.0"
**Is your feature request related to a problem? Please describe.**
Previous week on day 2022-10-19 new Db2 JDBC driver v11.5.8.0 was released. New version of JDBC driver is released like ones per year. Interesting and long anticipating new feature is [support for TLS v1.3.](https://www.ibm.com/docs/en/db2/11.5?topic=1158-security-enhancements)

**Describe the solution you'd like**
Please update th

[2022-10-25 15:41] E1izabeth commented on #18036
Thank you for feature request.

[2022-10-25 17:14] jtg567 opened #18037 "since latest update I'm getting many more key-pair authentication attempts per session"
### Description

1. connect to Snowflake
2. receive push notification on phone to approve key-pair authentication (this was normal behavior prior to the latest update, but since then:)
3. receive 2nd push notification on phone to approve key-pair authentication (immediately after approving first one)
4. receive another push notification for each script I open in connection to the same Snowflake se

[2022-10-25 18:25] ar-jan opened #18038 "Building DBeaver with correct execution environment / JDK?"
### Description

For updating DBeaver on Void Linux I had to update the Java version from openjdk11, so I picked the latest available on Void, openjdk17. Now the build log is full of this type of warnings:

The build succeeds, but looking at this [Tycho issue](https://github.com/eclipse-tycho/tycho/issues/655), I think this shouldn't happen?

### DBeaver Version

Community Edition 22.2.3

### Oper

[2022-10-25 18:37] E1izabeth commented on #18037
Could you show me screenshot of your preferences on the SQL Editor page in two places: Preferences->Editors->SQL Editor and Connection configuration->SQL Editor?

[2022-10-25 20:09] E1izabeth commented on #18026
Could you show the query which you see in the [Query Manager](https://dbeaver.com/docs/wiki/Query-Manager/) when you run it for the first time (with error)?

[2022-10-25 21:03] jtg567 commented on #18037
Gladly, @E1izabeth -- ty for the response!

![image](https://user-images.githubusercontent.com/1797418/197881339-a70674af-2b90-47cc-bcff-8caeedcc2514.png)
![image](https://user-images.githubusercontent.com/1797418/197881490-25fc58db-3ad4-4323-be0c-cffd67e2b001.png)

[2022-10-25 21:12] E1izabeth commented on #18037
Please, check `Datasource "CHIPPER" settings` checkbox and set `Open separate connection for each editor` to `Never` in the Connection configuration->SQL Editor.

[2022-10-25 22:40] #11072 closed, assigned to ShadelessFox, DariyaFedorova

[2022-10-25 22:40] #16789 closed, assigned to LonwoLonwo, Matvey16

[2022-10-25 23:10] strangan commented on #17303
hi @E1izabeth : Any update on this? It doesn't look like it made it into today's release either.

[2022-10-25 23:52] ShadelessFox commented on #17303
Hello @strangan,

It hasn't been fixed yet. The issue is currently scheduled for 22.3.0.

[2022-10-26 01:52] Achilles-Wang opened #18043 "dbeaver crash frequently with an error"
### Description

dbeaver crash frequently with an error. ' unhandled event loop exception java.lang.StackOverflowError'

### DBeaver Version

community 21.1.4.202108020335

### Operating System

win10

### Database and driver

clickhouse

### Steps to reproduce

no steps,always crash when I use "ctrl+f",and other operations.

### Additional context

_No response_

[2022-10-26 01:53] Achilles-Wang commented on #18043
file:///C:/Users/Achilles/AppData/Roaming/LarkShell/OptimizeImage/72fe32ad-3f16-4011-a505-6090e00d51be.jpeg

[2022-10-26 01:54] Achilles-Wang commented on #18043
[data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/2wBDAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/wAARCAC4AcoDASIAAhEBAxEB/8QAHwABAAICAwEBAQEAAAAAAAAAAAcICQoBBQYEAgML/8QAWBAAAAYCAQEDBgcLCAcFBwUAAQIDBAUGAAcIEQkW1BITFBVWlhchMVNUk6QYIjQ2WHFzdrK1wTJBV5eY1dbXIyQ3OFFh

[2022-10-26 02:37] Achilles-Wang commented on #18043
[code]

[2022-10-26 02:44] we684123 opened #18044 "when view influxDB table, the time is not correct"
### Description

![2022-10-26 09_16_44-DBeaver Ultimate 22 2 0 - server](https://user-images.githubusercontent.com/22027801/197919541-eb1b141e-b5e1-44b8-89d1-5fb6af4cf496.png)

in other DBviewer ,influxDB time is correct, this is day to write
but in DBeaver , timestamp confused

i guess is bc influxDB timestamp have 20 number , like 1666745661761833700 , so DBeaver can't treat
![2022-10-26 09_41_3

[2022-10-26 05:47] akhiljalagam commented on #8129
same issue

[code]

[2022-10-26 07:32] DariaMarkaryan opened #18045 "Checkbox 'Datasource settings' always disabled after DBeaver restart"
### Description

Checkboxes 'Datasource settings' are always become disabled after DBeaver restart. But all of user's datasource settings are saved
![image](https://user-images.githubusercontent.com/43252954/197962134-21818824-1dde-4857-97bf-7d0a7f70be05.png)

### DBeaver Version

22.2.3

### Operating System

win10

### Database and driver

_No response_

### Steps to reproduce

1. for some conne

[2022-10-26 09:01] hoppfrosch commented on #16364
Sorrry for coming back too late - just for information:

DBeaver 22.2.3 does NOT show this behaviour anymore - after frist tests, switching between  dark-light-default colorscheme works correctly.  :thumbsup:

[2022-10-26 09:18] paoloholzl commented on #18026
https://user-images.githubusercontent.com/96785200/197987253-aae4906c-d6cf-4c36-9a06-86210f24928f.mp4

Now demostration, drag and drop Not work.
Adding ; work.
After removing ; work.

[2022-10-26 10:53] lord-lucho-wins commented on #17402
Hello experts,
Any comments?
Thank you

[2022-10-26 12:07] #15352 closed, assigned to E1izabeth, DariyaFedorova

[2022-10-26 12:08] #16972 closed, assigned to Destrolaric, Matvey16

[2022-10-26 12:16] #17460 closed, assigned to LonwoLonwo, Matvey16

[2022-10-26 13:29] ooobii commented on #10184
Coming back to confirm that this issue has been fixed, and it's a genuine pleasure to use DBeaver to scroll through large data sets!!

Thank you to everyone involved - from the community providing work arounds to developers (both the Eclipse platform & from DBeaver contributors) who implemented the fix! 👍🏼 😄

[2022-10-26 16:50] riqi-rob-mcconeghy commented on #16756
We're having a similar issue. We have a large query that executes 200-400X faster in MS SQL Server Management Studio than dBeaver. We found it because our DMX/Precisely/Syncsort code took 430 minutes to run this step, the dBeaver takes 60+ minutes, and SQL MS took less than 10 seconds. I don't know if it's JDBC vs ODBC?

[2022-10-26 16:53] serge-rider commented on #16756
Thanks for the bug report.
I think we can disable query scrolling/highlighting for big scripts.

[2022-10-26 17:15] Matvey16 commented on #18043
That seems very strange. Please try resetting workspace with `File > Reset workspace state`

[2022-10-26 17:59] catarineu commented on #17883
Hi !
Thank you for your reply. Yes I've tried but although it's useful for
one-in-a-time searches it's not agile for quick search-and-goto work on
different functions and tables, among different databases.

My point is: if we do already have a nice search tab easily accessible, why
not just empower it so it finds quickly what I'm looking for in all the
currently open database connections?

As an e

[2022-10-26 19:23] Wang19961231 opened #18049 "Create procedure and function can't work"
### Description

When I create procedures or functions, it shows " Updated Rows   -1"., so when I call it, it shows "SQL Error [1305] [42000]: PROCEDURE/FUNCTION XXXXX does not exist.
![1666812034630](https://user-images.githubusercontent.com/75326829/198117793-a44a306e-03bb-4fcc-9c15-b7adda635654.png)
![1666812013735](https://user-images.githubusercontent.com/75326829/198117807-f21b2506-bc6b-4051

[2022-10-26 19:27] E1izabeth commented on #18026
Execute button sends the selected part to the database if something is selected. Otherwise it executes the nearest to the cursor position query.
The selection stayed on the table name after the second drag-n-drop. So, the selected part of text - table name is trying to be executed as a query and failed as it's not a complete query. You need to click somewhere nearby to remove selection and then pr

[2022-10-26 19:49] eperovgit commented on #17913
This was working before 22.2.2 and documented in
**DBeaver Documentation**
*Working with XML and JSON*
https://dbeaver.com/docs/wiki/Working-with-XML-and-JSON/22.2/

[2022-10-26 20:02] tati-kru commented on #17975
The second part of the article with the second screenshot is unclear. You have some explanation why you need to open a separate connection for the metadata editor but not for the SQL editors. Moreover, it is hard to find the checkbox for the editors on the screenshot.

[2022-10-26 20:12] ShadelessFox commented on #17913
I believe this is a side-effect of #17586

[2022-10-26 20:15] E1izabeth commented on #17975
@tati-kru I added the motivation to have separate connection for each editor and fixed the second part which seems to be confusing. There is no checkbox on that preference page, only combo box with 3 options. Is there something else that I could improve?

[2022-10-26 20:18] tati-kru commented on #17975
Thank you, I'd added a border for the area with checkboxes on the second screenshot. There are a lot of checkboxes in this dialog and it's a bit confusing. But the text is fine now.

[2022-10-26 20:33] E1izabeth commented on #17975
I did something like border for both screenshots.

[2022-10-26 21:27] cyreb7 commented on #5132
I'm also getting this with version 22.2.3 on Ubuntu 22.

[2022-10-26 22:06] tongdong6953 commented on #7704
still happening in  Version 22.2.3.202210231354

[2022-10-26 23:39] jyinpci commented on #17913
Thanks for looking into this and for the comments.  I hope this gets fixed soon, or DBeaver makes the invocation of external editor easier.  As of now, using external editor has two difficulties: 1) it takes quite a few keystrokes to get the external editor started (right click -> select edit -> select external editor), and 2) the edited/formatted data do not go back to DBeaver easily (so it is mo

[2022-10-27 02:45] diegomontania commented on #2959
I have the same issue here.

[2022-10-27 03:29] archongum opened #18052 "Execute query without comments above"
**Is your feature request related to a problem? Please describe.**
Without useless-additional comments, make it easier for Database audit logging.

**Describe the solution you'd like**
There is a switch for execute query by removing or ignoring comments.

**Describe alternatives you've considered**

**Additional context**
![image](https://user-images.githubusercontent.com/20929338/198183840-1e16fc

[2022-10-27 04:03] Achilles-Wang commented on #18043
reinstall cant solve this problem,and I delete cache files before I reinstall

[2022-10-27 06:42] paoloholzl commented on #18026
Ok! I got it.
But to avoid misunderstandings, perhaps it would be better to present the deselected line after dragging.
What is the advantage of having it selected?
I would say more, for greater convenience, not only would it be better to have it unchecked, but it would be better to add a subsequent space and present the cursor after the space (to continue typing instruction).

[2022-10-27 07:08] paoloholzl opened #18053 "For better edit relation structure"
Normally when I have to draw relationships I have to correct them because they are not connected between the related fields.
I have DBs with hundreds of reports.
It is best to automatically create a connection to the correct fields and not to the center of the table.
If this is not possible it would be better to allow the connection to be moved.
If this is also not possible, allow it by pressing C

[2022-10-27 07:27] LonwoLonwo commented on #18016
Hello @powelleric

Ok, maybe we can try do this in the ticket https://github.com/dbeaver/dbeaver/issues/15320

Closed as duplicate

[2022-10-27 07:27] #18016 closed, assigned to nobody

[2022-10-27 07:42] iraidaa commented on #17821
Hi @aalleaa,

I suggest changing the Column delimiter in the Input files tab of the Data Transfer wizard. I think you need a semicolon instead of the default comma.
![image](https://user-images.githubusercontent.com/49681450/198220968-76e7e388-8e7b-4dae-b23c-1afea859f812.png)

[2022-10-27 09:22] Destrolaric commented on #18053
@paoloholzl Hi, one of our routing algorithms points directly to columns. It still has some drawbacks, but it works in most cases. You can select it in ERD Settings. Write me if it helps.
![image](https://user-images.githubusercontent.com/20579256/198246042-8cc3f658-19db-4f89-bf63-ca7b5869fb0c.png)
![image](https://user-images.githubusercontent.com/20579256/198247732-ed2ad1d1-bd2a-4f3a-82d2-c4b8ee

[2022-10-27 09:54] dnroldanforwork opened #18054 "Oracle Driver Broken and not possible to fix since V22.2.3"
### Description

When I opened first time Dbeaver V22.2.3 I got an driver error when I tried to connect to Oracle Database.
The error popup shows the next messages:

Can't create driver instance
  Error during driver instantiation
  Error during driver instantiation
    java.sql.Driver.<init>()
    java.sql.Driver.<init>()

The driver box has otrher name and when I try to download again the driver

[2022-10-27 09:55] dnroldanforwork commented on #18054
![Dbeaver_2223_driver_error](https://user-images.githubusercontent.com/116801489/198253870-c9f2030f-f491-4fcc-91dc-1d288b3b7fbb.png)

[2022-10-27 09:56] dnroldanforwork commented on #18054
It's not possible to get focus on "Download driver files Window", it's neccesary to close every other window.
Thanks in advance.

[2022-10-27 10:06] Pixelfahnder commented on #5960
+1

[2022-10-27 10:11] E1izabeth commented on #18052
You can select the whole query and press Execute. Then DBeaver will send the selected part of text to the database.
![image](https://user-images.githubusercontent.com/28875055/198257372-57812ba4-206d-4284-a1be-32157d4bc4ba.png)

Another option is to add a blank line between comment and the query and turn `Blank line is a statement delimiter `option on.
![image](https://user-images.githubuserconten

[2022-10-27 10:23] E1izabeth commented on #18049
Thank you for bug report.
As a workaround you can select the query part this way and press Execute. Than DBeaver will send the selected part of text to the database.
![image](https://user-images.githubusercontent.com/28875055/198260281-8de32ae4-4601-4c2f-ad45-23ef58a2a1d1.png)

[2022-10-27 10:29] E1izabeth commented on #18054
@dnroldanforwork did you manage to connect to Oracle after drivers download?

[2022-10-27 10:32] E1izabeth commented on #18054
We have already fixed the issue about Download driver files dialog in #17892. The fix will be available in the next release.
Thank you for bug report.

[2022-10-27 10:35] dnroldanforwork commented on #18054
Yes, but when I close and open Dbeaver later I need to download again.

[2022-10-27 10:36] dnroldanforwork commented on #18054
Ok, thanks so much

[2022-10-27 10:36] E1izabeth commented on #17994
Thank you for bug report.
As a workaround, please, select the query part this way and press Execute. Than DBeaver will send the selected part of text to the database.
![image](https://user-images.githubusercontent.com/28875055/198262882-bb56b1ee-8b70-4d37-8a37-c8dcbdf9fdc0.png)

[2022-10-27 10:38] E1izabeth commented on #18049
The bug was initially posted here #17994. I'll close this issue as a duplicate.

[2022-10-27 10:42] E1izabeth commented on #18054
Do you use VPN or some specific network configuration?

[2022-10-27 10:52] E1izabeth commented on #18054
Maybe connected with #16718

[2022-10-27 10:58] dnroldanforwork commented on #18054
No...

[2022-10-27 11:00] dnroldanforwork commented on #18054
But for me only occurs since 22.2.3, I always update every version you launch by this reason.
Now I am working with 22.2.2 and I haven't any problem.

[2022-10-27 11:51] iraidaa commented on #17982
Hi @CelenaBb,

Can you please check whether the issue remains in 22.2.3? I can't reproduce it in 22.2.3 with the same driver.

[2022-10-27 11:58] #17266 closed, assigned to ShadelessFox, DariyaFedorova

[2022-10-27 12:08] CelenaBb commented on #17982
Hi @iraidaa
i have tried it in the same DBeaver and driver, but Oracle  18. It works correct. So I guess it something between DBeaver and Oracle 19 communication.

More over oracle 19 works with DBeaver 7.3 uncorrectly

[2022-10-27 12:12] #18049 closed, assigned to nobody

[2022-10-27 12:14] E1izabeth commented on #18054
Could you reproduce it again and send the log files? You can find instructions here https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-10-27 12:24] E1izabeth commented on #18049
@Wang19961231 I figured out what the problem is. DELIMITER command works only with Execute script button.

[2022-10-27 12:25] E1izabeth commented on #17994
DELIMITER command works only with `Execute script` button. We need to make it work with Execute statement too.

[2022-10-27 12:30] flambchap commented on #17764
@miltonchirinos44 Hi. Can you please click the 'Test connection' button in  DBeaver (from the dev environment) and paste the results here? Thank you.

[2022-10-27 12:35] flambchap commented on #17908
@kbhoward Is the issue still present in the latest version?

[2022-10-27 12:50] flambchap commented on #18005
@valsamis-d Thank you for the workaround. I think we need to update our wiki.

[2022-10-27 12:51] flambchap commented on #18013
@pedrobianco Hi. Can you please send us screenshots of the issue?

[2022-10-27 12:52] neerajkumar86 opened #18055 "Issue during installation-Installation is not reflecting in all winodows user"
### Description

Hi All,

Can Someone help me here ..?

I have installed the Dbeaver using the admin account for all the users. but when u checked it is not showing in the Start Menu and Icon on the Desktop of other users of windows.

Although, when I go into the program files and run the application from there it is working for other users also this will be more time-consuming if I need to guide

[2022-10-27 12:54] pedrobianco commented on #18013
@n5a5 Good morning, the problem is sporadic, I will see if it occurs now to send a screenshot

[2022-10-27 12:56] rafaelmembrives opened #18056 "Failed to export CockroachDB table"
### Description

Exporting data from a Cockroach DB table fails with the next error:

![image](https://user-images.githubusercontent.com/4113578/198279817-a4c444fe-585c-4628-884c-38125d399197.png)

### DBeaver Version

Community Edition 22.2.3

### Operating System

macOs Monterey 12.6

### Database and driver

1. CockroachDB CCL v22.1.3 (x86_64-pc-linux-gnu, built 2022/07/11 14:04:38, go1.17.11)

[2022-10-27 13:05] LonwoLonwo commented on #18056
Could you please provide the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-10-27 13:09] flambchap commented on #18026
Thank you for the idea.

[2022-10-27 13:11] flambchap commented on #18031
Hi. Can you please try to generate a thread dump and attach it here? Here is the instruction: https://dbeaver.com/docs/wiki/Making-a-thread-dump/. Please make it when you encounter such behavior. Thank you.

[2022-10-27 13:22] rafaelmembrives commented on #18056
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/9879746/dbeaver-debug.log)

I attached the debug log. Thanks in advance.

[2022-10-27 13:25] flambchap commented on #18053
Thank you for the idea.

[2022-10-27 13:28] flambchap commented on #18055
Hi, @neerajkumar86. Unfortunately, I cannot reproduce the issue against the latest version. Can you please check the newest version to see if the issue is gone there?

[2022-10-27 13:37] ammarfaris commented on #7976
Thanks for the solution

[2022-10-27 13:38] wysokinskim commented on #9414
Had same problem, it turned out that workbench.xmi file was broken. Same key combination (home, end) pointed to two different commands. I have manually fixed it by stopping dbeaver and removing commands that pointed to home,end keys except endLine and startLine commands. After this fix home and end brings me to the start and end of line.

[2022-10-27 13:49] pedrobianco commented on #18013
@n5a5 I managed to simulate the problem, I edited the value and did not enable the save button

(https://user-images.githubusercontent.com/27033867/198302493-6a8cbab4-8c7b-4745-9ed2-d3ba4e2864bb.png)

[2022-10-27 14:37] andrew-dixon commented on #9414
@wysokinskim Where is that file located? Thanks

[2022-10-27 15:17] zyzil commented on #9414
@andrew-dixon - I believe these are the locations. I was hoping duplicate mapping might be my problem as well but it was not the case.

Windows: `%APPDATA%\DBeaverData\workspace6\.metadata\.plugins\org.eclipse.e4.workbench\workbench.xmi`
MacOS: `~/Library/DBeaverData/workspace6/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi`
Linux: `$XDG_DATA_HOME/DBeaverData/workspace6/.metadata/.plugi

[2022-10-27 15:25] E1izabeth commented on #18022
I guess the customized perspective will fulfill your needs.
1. Add hotkey to `Save perspective as..` command
![image](https://user-images.githubusercontent.com/28875055/198330791-5e21ae66-52c4-4b13-a72a-dc64a889a8a1.png)
2. Write some name and save.
![image](https://user-images.githubusercontent.com/28875055/198331123-9fa877cf-f47c-4f9d-bbcb-43f1741de154.png)
3. Then you can switch between the def

[2022-10-27 15:30] wysokinskim commented on #9414
@zyzil, @andrew-dixon  Some people says stopping dbeaver and removingworkbench.xmi helps.

[2022-10-27 15:35] #14113 closed, assigned to ShadelessFox

[2022-10-27 15:51] neerajkumar86 commented on #18055
ok..I will try and update you.

[2022-10-27 15:52] neerajkumar86 commented on #18055
Thank you

[2022-10-27 15:58] andrew-dixon commented on #9414
No duplicate mapping for me either. As mentioned several times above, restarting DBeaver does fix the problem for a while, but it soon comes back.

[2022-10-27 16:50] kbhoward commented on #17908
Hello everyone,
Yes, I am still experiencing an error trying to connect to an embedded Firebird file.

I tried both 22.2.2 and .3

Thanks,
Keith

[2022-10-27 17:43] jyk4100 commented on #9414
Thanks @wysokinskim @zyzil the solution is working for me on MacOS!! I removed the binding for "HOME" and "END" from the workbench.xmi files e.g. remove line `<bindings xmi:id="_QXaBQFQIEe2DIaJoywBTIw" keySequence="END" command="_QXdDxVQIEe2DIaJoywBTIw">`
edit +1 (2022-10-28 16:50:00): after hour still reverts to behavior where "HOME" key take to the beginning of the script and not the beginning o

[2022-10-27 17:43] #17975 closed, assigned to E1izabeth

[2022-10-27 18:28] JoshDrentlaw commented on #10553
It is useful to have the `ALTER TABLE` code appear after saving, but is that the only way to view it? You can't generate that code again at a later time?
If not, it would be helpful. Currently when were creating new columns locally we're saving the code to the ticket so that the db admin can add the columns in production. The only issue is if we forget to save them.

[2022-10-27 19:51] dr-1 opened #18060 "Simpler process to alter views"
**Is your feature request related to a problem? Please describe.**

I often need to alter the definition statements of views in various types of databases. Because it's such a frequent task, I would like that process to be more ergonomic in DBeaver. Currently I perform these steps:
1. Get the current definition statement:
    a) right-click on the view object; click _Generate SQL_ > _DDL_ > _Copy_

[2022-10-27 20:57] serge-rider commented on #16520
We keep script properties in project-metadata.json. In some cases resource path was not normalized (e.g. it had a leading slash). In these cases scipt properties were read incorrectly.

Should be fixed by now.

[2022-10-27 21:19] LonwoLonwo commented on #18015
Hello @mikeho1218

Thanks for the bug report.

As a workaround for now - you can add driver manualy:

![2022-10-28 00_10_13-DBeaver 22 2 3 - Invoice](https://user-images.githubusercontent.com/45152336/198398960-a61f3037-937f-4d12-91fe-64a988b345fe.png)

[2022-10-27 21:21] LonwoLonwo commented on #18015
Also, can you please check the newest driver version? https://github.com/intersystems-community/iris-driver-distribution/blob/main/JDBC/JDK11/intersystems-jdbc-3.2.0.jar

Is it compatible with the Iris Cache? I do not have a test environment to check it by myself. Thank you.

[2022-10-27 22:06] msprewitt opened #18062 "Installed a new version of Dbeaver and am getting a Java.net.ssl.SSLHandshakeException:PKICK error on startup"
### Description

Installed a new version of Dbeaver and am getting a Java.net.ssl.SSLHandshakeException:PKICK error on startup

![Screen Shot 2022-10-27 at 4 02 32 PM](https://user-images.githubusercontent.com/33008504/198406617-2603aca7-e832-4edb-8852-eb73a8fc21a3.png)
![Screen Shot 2022-10-27 at 4 03 39 PM](https://user-images.githubusercontent.com/33008504/198406759-13fddfa2-7b75-48e5-bf68-fd01

[2022-10-27 22:12] E1izabeth commented on #18062
Please, try using this guide to fix it https://dbeaver.com/docs/wiki/Importing-CA-Certificates-into-DBeaver/
Does it help?

[2022-10-27 22:30] msprewitt commented on #18062
I copied the carets file from the Java library...
Here is the copy command and the pwd I copied from...

![Screen Shot 2022-10-27 at 4 27 42 PM](https://user-images.githubusercontent.com/33008504/198410114-3f1acfe0-363c-4f6f-83df-8a0cd30dd97f.png)

After restarting up Dbeaver, got the same error trying to connect the test-database

[2022-10-27 23:18] serge-rider commented on #17880
Fixe menu actions reconfigured.
Also many redundant items were removed for TE.

[2022-10-28 04:57] archongum commented on #18052
merci beaucoup

[2022-10-28 04:57] #18052 closed, assigned to nobody

[2022-10-28 05:58] dnroldanforwork commented on #18054
Good Morning,

I attached the log.

Thanks.
[Dbeaver_log.log](https://github.com/dbeaver/dbeaver/files/9885641/Dbeaver_log.log)

[2022-10-28 07:01] lokesh1729 commented on #1446
is this issue triaged? any update on this?

[2022-10-28 07:52] E1izabeth commented on #18054
Thank you.

[2022-10-28 07:56] chrisb34 commented on #18031
Running at 594% of CPU !!

2022-10-28 09:53:59
Full thread dump OpenJDK 64-Bit Server VM (11.0.12+7 mixed mode):

Threads class SMR info:
_java_thread_list=0x000060000007d760, length=47, elements={
0x00007f87e800f000, 0x00007f87e502c000, 0x00007f87e5029800, 0x00007f87e7017000,
0x00007f87e7050800, 0x00007f87e680d800, 0x00007f87e784c800, 0x00007f87e784d800,
0x00007f87e807a800, 0x00007f87e7925800, 0x

[2022-10-28 07:57] LonwoLonwo commented on #18056
What commit mode do you have @rafaelmembrives ?

If it is not auto-commit mode - can you please try to use it and check the result?

[2022-10-28 08:12] Destrolaric commented on #18062
Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-10-28 08:15] rafaelmembrives commented on #18056
Same result with auto-commit and manual.

[2022-10-28 08:24] E1izabeth commented on #17036
The initial reason for this issue is that the cursor jumps to the beginning of the line on right-clicking.

[2022-10-28 09:12] anazzani opened #18066 "Simple Structure Compare requiring pgagent.pga_job"
### Description

Hi all.

I'm using DBeaver v22.2.3.202210231354 with a remote PostgreSQL db v12.5.

I remember using in the past the very handy compare feature (with the same db, not sure which DBeaver version though) but today it fails with the message:

Can't access pgAgent jobs.
This database may not have the extension installed or you don't have sufficient permissions to access them.
If you b

[2022-10-28 09:26] LonwoLonwo commented on #18056
Ok. Can you provide please a screen of your datatransfer settings?

![2022-10-28 12_24_43-AnyDesk](https://user-images.githubusercontent.com/45152336/198553979-e88452f4-909c-4c37-b840-864a7020fe54.png)

[2022-10-28 09:30] LonwoLonwo commented on #18056
Also, can you please check other PostgreSQL driver versions? Older versions.

You can cahnge it in the connection settings - driver settings

![2022-10-28 12_28_12-DBeaver 22 2 3 - Invoice](https://user-images.githubusercontent.com/45152336/198554731-9763edb5-264c-41a2-890c-1f3f1e0b3f12.png)

[2022-10-28 10:24] #17043 closed, assigned to E1izabeth, DariyaFedorova

[2022-10-28 10:27] webian opened #18068 "Save/Cancel buttons grayed out in query result"
### Description

Whenever I try to delete a record in query result, the Save and Cancel buttons are grayed out.

To persist the delete I have to run the query again and answer "yes" when it asks me to save changes to database because result set was edited.

### DBeaver Version

Communiti Edition 22.2.3.202210231354

### Operating System

Windows 11

### Database and driver

Server version: 10.3.34

[2022-10-28 10:53] paoloholzl commented on #18053
I thank you.
Since for now I have arranged them by hand I see to wait for them to integrate the modification into the program.
If it doesn't happen within a few months, I'll let you know.

[2022-10-28 11:13] LonwoLonwo commented on #18068
Hello @webian

Please provide footage of your issue.

[2022-10-28 11:35] DariaMarkaryan commented on #17880
the problem remains for 'About' in the Help menu

https://user-images.githubusercontent.com/43252954/198577974-8912923d-98a7-4802-899a-40bbe7979ad9.mp4

[2022-10-28 12:27] #16520 closed, assigned to serge-rider

[2022-10-28 14:06] Raptord commented on #18015
@LonwoLonwo I tried your workaround with the driver you linked above, as I'm having the same issue with the Caché driver when updating to 22.2.2/22.2.3. The workaround gives me the same error as before:

![image](https://user-images.githubusercontent.com/2872199/198632294-cad80c31-7e7c-49f6-ac4e-81ea02b993fc.png)

![image](https://user-images.githubusercontent.com/2872199/198631842-3482ef30-86e7-4

[2022-10-28 14:58] kseniaguzeeva commented on #17287
The new driver works properly in CloudBeaver (Backend version 22.2.3.202210281332, Frontend version 22.2.3.202210281340)

[2022-10-28 16:09] msprewitt commented on #18062
Here is what I found:

[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/9890073/dbeaver-debug.log)

[dot.log](https://github.com/dbeaver/dbeaver/files/9890104/dot.log)

[2022-10-28 16:18] serge-rider opened #18071 "SQL Server: max rows works incorrectly"
### Description

We use setMaxRows for all SELECT statements.
SQL Server driver (old and new ones) uses  SET ROWCOUNT. Which affects all SELECT-like queries. Including INSERT FROM SELECT which can be executed in referenced stored procedures.
If we not use setMaxRows then we use TOP X to limit fetch size. This leads to the same result.

Maybe we should disable setMaxRows execution for SQL Server (a

[2022-10-28 16:52] User191273 commented on #11078
I am also interested.

I like dbeaver, but at this point it's way behind.

It is not understood that you can launch an sql select and not be able to get the result.

In another web page I found that the result stays in the transaction log but it comes out badly cut mixed with the select which is a nuisance

Please do something.
Thank you

[2022-10-28 19:50] E1izabeth commented on #18068
Maybe connected to #18013

[2022-10-28 20:02] E1izabeth commented on #13663
Seems to be fixed here https://github.com/eclipse-platform/eclipse.platform.swt/issues/351. Probably will be available with the next eclipse release.

[2022-10-28 20:24] rjake opened #18073 "More control over sort options"
**Is your feature request related to a problem? Please describe.**
I spend a lot of time looking at the results tab when writing new queries. When my results come back and I use the sort features, I find myself frustrated that the order stays locked for each column. If this is my table:
[code]
When I sort by `b` and then `a` I get these results where `b` is the primary sort order and `a` is second

[2022-10-28 20:37] E1izabeth commented on #12607
#1447

[2022-10-28 21:30] tfirmansyah opened #18074 "Can not import data CSV 15GB"
### Description

Hi,

I try to import .csv  7GB -15 GB to postgres , but always fail, i try to increase xmx to be 10000 but still fail.
i keep increasing to be higher and higher...but i don't know whether this is how to fix it permanently for very big data of csv ? is there any permanent solution for this?

### DBeaver Version

enterprise 22.2.0

### Operating System

Windows 10 enterprise, RAM 32

[2022-10-28 21:34] tfirmansyah commented on #17099
i face the same issue when try to import csv file 7GB until 15 GB to database postgres...i have tried to change xmx to be 10000 but not enough...
how is permanent solution for this?

[2022-10-29 03:04] frafor opened #18075 "FirebirdSQL connection refused"
### Description

Unable to complete network request to host "127.0.0.1". [SQLState:08006, ISC error code:335544721]
  Connection refused: connect
  Connection refused: connect

### DBeaver Version

community V 22.2.0.202209080956

### Operating System

Windows 11 talking to WSL2 Ubuntu 20.4 same machine

### Database and driver

org.firebirdsql.jdbc.FBDriver

jdbc:firebirdsql://127.0.0.1:3050/deve

[2022-10-29 07:51] Katy1320 opened #18078 "Unexpected driver error occurred while connecting to the database"
### Description

I tried to connect  informix database in mac class java.lang.StringIndexOutOfBoundsException cannot be cast to class java.sql.SQLException (java.lang.StringIndexOutOfBoundsException is in module java.base of loader 'bootstrap'; java.sql.SQLException is in module java.sql of loader 'platform') this error has occured .

### DBeaver Version

Community Edition 22.2.3

### Operating Sy

[2022-10-29 08:03] webian commented on #18068
Yes, same sporadic problem. I can't reproduce it atm, but it happen often.

[2022-10-29 12:25] inliquid opened #18079 "After update DBeaver resets language to system settings"
### Description

After update DBeaver resets language to system settings. User has to reconfigure application each time it upgrades.

### DBeaver Version

22.2.3.202210231354

### Operating System

Windows 10

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-10-29 13:10] E1izabeth commented on #18079
Thank you for bug report. I'm closing it as a duplicate of #17857

[2022-10-29 13:10] #18079 closed, assigned to nobody

[2022-10-29 13:12] E1izabeth commented on #18078
Please, provide the log files. You can find instructions here https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-10-29 13:14] E1izabeth commented on #18075
Please, provide the log files. You can find instructions here https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-10-29 13:16] E1izabeth commented on #18074
Please, provide the log files. You can find instructions here https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-10-29 13:27] E1izabeth commented on #18073
I'm unable to reproduce the issue against PostgreSQL 12. Please, tell me, what database do you use?

Edited: Never mind, I reproduced. The existing behavior is more intuitive for me, so I missed your point.

[2022-10-29 16:37] E1izabeth commented on #17539
Will be fixed in scope of #17036

[2022-10-29 16:49] E1izabeth commented on #18022
Save perspective as.. command will be will be added to context menu in #17089

[2022-10-29 16:50] #18022 closed, assigned to E1izabeth

[2022-10-29 20:40] islandmonk opened #18082 "intellisense / autocomplete select on tab"
It would be nice if I could configure the auto complete to select on a tab rather than a carriage return.

I switch between SSMS and DBeaver a lot. This simple mismatch messes with my muscle memory.

Thanks,

Doug

[2022-10-30 01:55] leezm opened #18084 "Can't copy date time value in Oracle"
### Description

When column type is date in Oracle,can't copy date time value in Oracle.It's can only copy date part,time part can't copy.

### DBeaver Version

22.2.3

### Operating System

win11

### Database and driver

oracle19C

### Steps to reproduce

When column type is date in Oracle,can't copy date time value in Oracle.It's can only copy date part,time part can't copy.

### Additional co

[2022-10-30 17:26] cdichter commented on #9377
Seems to be completely broken in the last two minor releases.

Note this DB has over 400 tables, and other complexities.

[2022-10-30 17:54] Softsuit opened #18085 "Postgresql 15 connection with scram-sha-256 encryption"
### Description

Using the standard Postgresql 15 setup with scram-sha-256 encryption does not work.  All workarounds lead to lowering security on your database to md5.

### DBeaver Version

CE 22.2.3

### Operating System

Win10 Pro

### Database and driver

Postgresql 15
JDBC postgresql-42.5.0.jar

### Steps to reproduce

1.  Setup a profile to connect to the database using the standard postgres

[2022-10-30 18:03] E1izabeth commented on #18082
Thank you for feature request.
Closed as duplicate of #2316

[2022-10-30 18:03] #18082 closed, assigned to nobody

[2022-10-30 18:12] E1izabeth commented on #18084
Please, provide minimal example to reproduce. The video showing the issue would be useful.

[2022-10-30 19:29] LonwoLonwo commented on #9377
Hello @cdichter

What database do you use?

[2022-10-30 19:39] E1izabeth commented on #1266
Is this feature request still relevant? It seems that it has already been implemented.

[2022-10-30 21:06] E1izabeth commented on #15267
Seems it has already been fixed.

[2022-10-31 00:20] leezm commented on #18084
OK.In this pic,I use "SELECT sysdate from dual;" to get sys date,the return value is date type in oracle.it's have time part,but looks like it;s only have yyyy-mm-dd part.When I  double-click this value,It's have edit controls......I copy this value but only have "yyyy-mm-dd" format.
![image](https://user-images.githubusercontent.com/24444492/198908616-f7ed3fcc-379c-43cb-842f-ecddfe669cd3.png)
In

[2022-10-31 04:10] Katy1320 commented on #18078
<img width="1727" alt="Screenshot 2022-10-31 at 9 38 03 AM 1" src="https://user-images.githubusercontent.com/104082981/198929090-75d23c5e-6b49-42bb-8b86-21050559a3fe.png">
these are listed in exception stack trace.
java.lang.ClassCastException: class java.lang.StringIndexOutOfBoundsException cannot be cast to class java.sql.SQLException (java.lang.StringIndexOutOfBoundsException is in module java.

[2022-10-31 06:20] LonwoLonwo commented on #18084
Hello @leezm

It works fine for me with the SYSTIMESTAMP

![2022-10-31 09_16_57-AnyDesk](https://user-images.githubusercontent.com/45152336/198943775-0f8c9e10-52e4-4859-af08-f0a7639d5b88.png)

We fixed date/timestamp representation for Oracle in the last DBeaver version in this ticket: #8673

[2022-10-31 07:10] LonwoLonwo commented on #18085
Hello @Softsuit

Could you please provide the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-10-31 07:15] LonwoLonwo commented on #18085
Also, are you sure that issue is from DBeaver's side?
I found some discussion on the internet: https://stackoverflow.com/questions/64316324/i-tried-to-change-postgresql-md5-to-scram-sha-256-and-i-get-fatal-password-authe.
Did you make all the necessary changes in your config files?

[2022-10-31 09:37] Softsuit commented on #18085
Hi,

Scrolling down up tot he message

!MESSAGE SCRAM authentication is not supported by this driver

This is the essential problem.  I have a clean install of postgresql15, no databases except fort he postgresql system database, nu users except fort he postgres user, which I set a pasword which was by default in scram-sha-256.  Then I got this error.  So I upgraded tot the version of postgresql J

[2022-10-31 10:02] Matvey16 commented on #15267
Verified

[2022-10-31 10:02] #15267 closed, assigned to E1izabeth, Matvey16

[2022-10-31 10:12] LonwoLonwo commented on #18085
Could you please provide a full log file? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

[2022-10-31 11:42] uslss commented on #17287
fixed in the scope of #17879

[2022-10-31 11:42] #17287 closed, assigned to E1izabeth

[2022-10-31 11:43] uslss commented on #17852
fixed in the scope of #17879

[2022-10-31 11:43] #17852 closed, assigned to nobody

[2022-10-31 11:44] uslss commented on #16885
fixed in the scope of #17879

[2022-10-31 11:44] #16885 closed, assigned to E1izabeth

[2022-10-31 11:58] lucky-bin commented on #17852
![image](https://user-images.githubusercontent.com/35718645/199002370-c8d6980e-b52b-45f2-af8f-a54ac3a612bd.png)
system.tables  not match  comment column;

dbeaver source sql:
SELECT name AS TABLE_NAME, engine AS TABLE_TYPE, database AS TABLE_SCHEM, comment AS REMARKS, database, name, uuid, engine, is_temporary, data_paths, metadata_path, metadata_modification_time, dependencies_database, dependenc

[2022-10-31 13:06] Destrolaric commented on #18062
@msprewitt Do you have any kind of firewall? It looks like DBeaver can't download the SQLite driver from maven.

[2022-10-31 13:35] #16997 closed, assigned to nobody

[2022-10-31 13:36] uslss commented on #16262
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:36] #16262 closed, assigned to uslss

[2022-10-31 13:37] uslss commented on #14944
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:37] #14944 closed, assigned to Destrolaric

[2022-10-31 13:37] uslss commented on #9326
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:37] #9326 closed

[2022-10-31 13:38] uslss commented on #17457
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:38] #17457 closed, assigned to Matvey16

[2022-10-31 13:38] uslss commented on #17501
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:38] #17501 closed, assigned to nobody

[2022-10-31 13:38] uslss commented on #17397
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:38] #17397 closed, assigned to nobody

[2022-10-31 13:39] uslss commented on #17425
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:39] #17425 closed, assigned to iraidaa

[2022-10-31 13:39] uslss commented on #17510
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:39] #17510 closed, assigned to nobody

[2022-10-31 13:39] uslss commented on #17509
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:39] #17509 closed, assigned to nobody

[2022-10-31 13:39] uslss commented on #17120
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:39] #17120 closed, assigned to emironovDB

[2022-10-31 13:40] uslss commented on #17051
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:40] #17051 closed, assigned to nobody

[2022-10-31 13:40] uslss commented on #17504
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:40] #17504 closed, assigned to nobody

[2022-10-31 13:40] #17568 closed, assigned to nobody

[2022-10-31 13:40] uslss commented on #17593
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:40] #17593 closed, assigned to nobody

[2022-10-31 13:41] uslss commented on #17387
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:41] #17387 closed, assigned to nobody

[2022-10-31 13:41] uslss commented on #17603
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:41] #17603 closed, assigned to nobody

[2022-10-31 13:41] uslss commented on #17625
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:41] #17625 closed, assigned to nobody

[2022-10-31 13:42] uslss commented on #17602
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:42] #17602 closed, assigned to nobody

[2022-10-31 13:44] uslss commented on #17693
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:44] #17693 closed, assigned to nobody

[2022-10-31 13:44] #17657 closed, assigned to nobody

[2022-10-31 13:45] uslss commented on #17367
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:45] #17367 closed, assigned to iraidaa

[2022-10-31 13:45] uslss commented on #17676
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:45] #17676 closed, assigned to LonwoLonwo

[2022-10-31 13:46] uslss commented on #17613
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:46] #17613 closed, assigned to nobody

[2022-10-31 13:46] uslss commented on #17663
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:46] #17663 closed, assigned to iraidaa

[2022-10-31 13:47] uslss commented on #17707
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:47] #17707 closed, assigned to nobody

[2022-10-31 13:50] uslss commented on #17713
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:50] #17713 closed, assigned to iraidaa

[2022-10-31 13:51] uslss commented on #17804
thanks for the report
closed as a duplicate of #16624

[2022-10-31 13:51] #17804 closed, assigned to nobody

[2022-10-31 13:51] uslss commented on #17799
There have been no updates for a long time. If the issue is still actual for you - feel free to reopen it with additional info.

[2022-10-31 13:51] #17799 closed, assigned to nobody

[2022-10-31 13:53] #1984 closed

[2022-10-31 15:15] #18037 closed, assigned to E1izabeth, Matvey16

[2022-10-31 15:15] #17036 closed, assigned to E1izabeth, Matvey16

[2022-10-31 15:15] #17539 closed, assigned to E1izabeth

[2022-10-31 15:16] #17879 closed, assigned to uslss, LonwoLonwo

[2022-10-31 17:01] msprewitt commented on #18062
No..  On a window's computer, I was able to install DBeaver and connect with the Postgres database..  But when trying to download the drivers with my Mac.. Things are just not working right...  I sense that my credentials are screwed up.. but this is a little out of my knowledge-base... *SIGH*

[2022-10-31 19:12] emanueol opened #18089 "maximize current editor window to full DBeaver window size"
**Is your feature request related to a problem? Please describe.**
Dont think so.

**Describe the solution you'd like**
Ability to maximize current editor window to occupy all DBEaver window.

**Describe alternatives you've considered**
I think only option at the moment - which I don't really like - is to right click tab > Detach which makes specific editor window floatable, meaning I can resize a

[2022-10-31 20:00] t7zhang opened #18090 "Athena driver return same message regardless of error"
### Description

I recently updated my DBeaver / driver for Athena. Since the last update, all error message that I receive has been
"SQL Error [HY000]: Error message not found: ATHENA_CLIENT_ERROR. Can't find bundle for base name com.simba.athena.athena.jdbc42.messages, locale en_CA"
This is universal to the type of error. My script is able to run properly if there is no error.

![image](https://

[2022-10-31 20:10] E1izabeth commented on #18090
It looks like a JDBC driver issue. We updated Athena driver version recently. Could you download the previous driver version and check https://s3.amazonaws.com/athena-downloads/drivers/JDBC/SimbaAthenaJDBC-2.0.31.1000/AthenaJDBC42.jar. You can replace it in the Edit driver->Libraries.

Please, let me know whether it help.

[2022-11-01 00:35] leezm commented on #18084
fine...but to ensure compatibility,we use "date" type to record datetime.In previous versions it was fine,fix and optimize it plz!

[2022-11-01 06:16] rachmadhartono8 commented on #17804
Thanks Sir and Mrs. That very help me

[2022-11-01 08:10] plotn opened #18091 "Weird display of GUID (RAW(16)) type (Oracle)"
### Description

as shown...

### DBeaver Version

22.2.0 CE

### Operating System

win 10

### Database and driver

Oracle[
<img width="695" alt="dbeaver_rowid" src="https://user-images.githubusercontent.com/11477081/199187937-5da5b46d-5ee8-4456-81d9-4a94139185ea.png">
](url)

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-01 08:28] tolgaong opened #18093 "DriverManager focus problem"
### Description

 I couldn't select anything in "Download driver files" menu. Unless I close the previous opened forms. (Driver manager, Edit driver '<Anything>').

### DBeaver Version

Community Edition 22.2.3.202210231354

### Operating System

Windows 10

### Database and driver

_No response_

### Steps to reproduce

1. Click Driver manager
2. Double click to Sqlite (it doesn't matter)
3.  Sel

[2022-11-01 08:49] plotn commented on #18091
See:
SELECT sys_guid(), rawtohex(sys_guid()) FROM dual
for testing

[2022-11-01 09:21] AlexWayfer commented on #6476
Where is this checkbox now?

![image](https://user-images.githubusercontent.com/6510020/199201651-f4f8a305-9b59-445f-ac2e-8e3c9404c291.png)

[2022-11-01 09:52] E1izabeth commented on #18093
We have already fixed the issue about Download driver files dialog in https://github.com/dbeaver/dbeaver/issues/17892. The fix will be available in the next release.
Thank you for bug report.

[2022-11-01 09:52] #18093 closed, assigned to nobody

[2022-11-01 10:20] PeterBrodersen opened #18094 "Spatial viewer should support labels on map"
**Is your feature request related to a problem? Please describe.**
The spatial viewer is nice, however just showing the geometry when viewing all data for a table and selecting the Spatial tab might not help getting an overview of the corresponding data.

**Describe the solution you'd like**
I would like an option of labels next to the geometry showed on the map, e.g. by selecting a corresponding

[2022-11-01 10:46] #17594 closed, assigned to Destrolaric, Matvey16

[2022-11-01 10:46] #14691 closed, assigned to serge-rider, Matvey16

[2022-11-01 11:36] Matvey16 commented on #17303
Fixed in the scope of #14691

[2022-11-01 11:37] bomuva commented on #1741
The absence of the generally accepted classic way of block text selection in the editor (press Alt + select text) is a very annoying circumstance, this is perhaps the biggest drawback of this application

[2022-11-01 11:37] #17303 closed, assigned to nobody

[2022-11-01 12:45] DariaMarkaryan opened #18095 "'Delete' menu item replaced by 'Remove from diagram' after opening 'Edit' menu during erd creation"
### Description

The action performed by this button remains correct. Only name of menu item is wrong until DBeaver restart

### DBeaver Version

22.2.3

### Operating System

win10

### Database and driver

_No response_

### Steps to reproduce

1. Create custom diagram
2. When this diagram is opened, click on Edit menu item just to expand it
3. Close custom erd, you can even delete it
4. Set foc

[2022-11-01 13:19] coleman-rik opened #18096 "Defined folding in SQL scripts"
Apparently dBeaver doesn't yet support defined collapsible sections in SQL scripts.
The current support for collapsible scripts sections is limited to SQL statements, this means that in practice seemingly arbitrary sections of code are collapsed.  When dealing with scripts consisting of dozens or even hundreds or more individual statements there is presently no way to collapse sections in a determ

[2022-11-01 15:36] fa5fou5 opened #18097 "Add Filter in the Connection level"
**Is your feature request related to a problem? Please describe.**
I want a filter to be added in the connections level not only in the Table level to filter out the databases not needed to be shown.
And then, in the script file, the database the databases filtered out should not be suggested once we hit Ctrl + Space

[2022-11-01 16:33] E1izabeth commented on #18096
Thank you for feature request.

[2022-11-01 17:57] msprewitt commented on #18062
Was a firewall issue after all..  Got things working and think I can close this ticket.. [Destrolaric](https://github.com/Destrolaric) and [E1izabeth](https://github.com/E1izabeth) thank you for your help!!!

[2022-11-01 17:57] #18062 closed, assigned to nobody

[2022-11-01 18:01] #13476 closed, assigned to Destrolaric, Matvey16

[2022-11-01 23:27] strangan commented on #17303
Has this been fixed in an upcoming release? will that release be next Monday/Tuesday Nov 7th/8th?  If so, please confirm?

[2022-11-02 01:59] Katy1320 commented on #18078
can you please provide update on this issue ??

[2022-11-02 07:27] E1izabeth commented on #17303
The fix will be available in the next release.

[2022-11-02 07:34] E1izabeth commented on #18078
Could you provide database version you are trying to connect to?
Do you use the default driver for Influx automatically downloaded by DBeaver?

[2022-11-02 07:39] E1izabeth commented on #18089
Does it the behaviour are you asking for?
(I'm double-clicking on the script or other tabs to maximize or collapse the tab content)
https://user-images.githubusercontent.com/28875055/199428079-56912694-104f-458d-bfa9-f30bca1ba717.mp4

[2022-11-02 08:31] E1izabeth commented on #18062
Thank you for informing us.

[2022-11-02 08:42] ADegele opened #18101 "Configuring a SSL-Truststore is no longer working"
### Description

We use a database which uses a custom SSL-Certificate. In the past we were able to connect to it by adding this SSL-Certificate to a truststore and start DBeaver with the following command:
`"C:\Program Files\DBeaver\dbeaver.exe" -nl en -vmargs -Djavax.net.ssl.trustStore=D:\dbeaver-truststore.jks`

This no longer works after upgrading from version `22.1.3.202207240747` to `22.2.3.

[2022-11-02 08:48] E1izabeth commented on #18101
Could you try switching the preference `Use Windows truststore` on/off as a possible workaround?
![image](https://user-images.githubusercontent.com/28875055/199441946-1200ed28-9b93-42f6-97eb-231594353ee1.png)

Also logs would be very useful. You can find instructions how to send log files here https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-11-02 09:28] ADegele commented on #18101
Hello @E1izabeth ,
thank you for your fast response. Indeed, the Setting `Use Windows trust store` was enabled. After toggling it to off and restarting, the connection works again. It seems as this option was added in 22.2.2 and enabled by default, which is incompatible with the JKS-Truststore we use.

Logs are linked in the original text: https://github.com/dbeaver/dbeaver/files/9918016/dbeaver-l

[2022-11-02 09:47] E1izabeth commented on #18101
DBeaver used windows trust store by default (it was written in dbeaver.ini file). In the last release we removed this setting from dbeaver.ini and made a preference for that, because meet some certificate issue after one of the Windows update. We used windows truststore earlier and enable this option by default now. So nothing was supposed to be changed from DBeaver side.

We will investigate it.

[2022-11-02 09:58] lokuz opened #18102 "Add datetime/date view in the data table for sqlite timestamp columns"
**Is your feature request related to a problem? Please describe.**
Timestamp columns of tables of sqlite databases are only shown as unix time (large number) and one cannot change/set the "View/Format" to datetime, which is possible for other database systems.

**Describe the solution you'd like**
Timestamp columns of sqlite databases should be automatically recognized as timestamps and then displ

[2022-11-02 10:17] E1izabeth commented on #18101
Seems we need to check if `javax.net.ssl.trustStore` or `javax.net.ssl.trustStoreType` options were set in the dbeaver.ini file and do not set `Use Windows trust store` in this case.

[2022-11-02 10:40] iraidaa opened #18104 "Update ER Diagram wiki"
We need to add new information and remove incorrect information

[2022-11-02 10:46] alejoar commented on #6345
Same here, tree resets on app restart (tabs remain). On linux.

[2022-11-02 10:46] yihoudejintian opened #18105 "Font size cannot be adjusted"
### Description

![image](https://user-images.githubusercontent.com/13391048/199470300-d86a7da1-2504-4322-9f54-f5368e31a15b.png)
Font size cannot be adjusted

### DBeaver Version

22.1

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-02 10:50] emanueol commented on #18089
Thats exactly what I'm looking for, how is it done ? some keyboard shortcut or mouse interaction?

[2022-11-02 11:00] E1izabeth commented on #18089
@emanueol mouse double-clicking on tab
(cursor is a little bit higher than tab on the video, maybe it's my screenshot recorder issue)

[2022-11-02 11:14] E1izabeth commented on #15266
3. It shouldn't autocomplete something here from my point of view as it don't show proposals for the empty scripts. Some statement is required.
4. Will be fixed. But I don't think that we should add a ; and a / at the end
5. Seems it has been already fixed.

[2022-11-02 11:23] #17080 closed, assigned to E1izabeth, Matvey16

[2022-11-02 12:22] rafaelmembrives commented on #18056
Sorry for the late reply. I tried with severals PostgreSQL driver versions and all fails with the same error message.

My export settings:

![image](https://user-images.githubusercontent.com/4113578/199488097-c16631ab-0cd7-4247-bbb1-28360dd6fda6.png)

[2022-11-02 12:25] Destrolaric commented on #17274
Hi, I have a question `run/user` is the filesystem used by running processes. And it shouldn't have any files that are not part of any process. Does SQLite is created by some other process?

[2022-11-02 12:26] E1izabeth commented on #18105
Thank you for bug report. It's a duplicate of #17253

[2022-11-02 12:26] #18105 closed, assigned to nobody

[2022-11-02 12:29] E1izabeth commented on #17253
It may be related with #12975

[2022-11-02 12:43] #15268 closed, assigned to E1izabeth, uslss

[2022-11-02 12:59] Destrolaric commented on #17600
@boardend Yes, I tried this on DBeaver installed on snap and via non-sandboxing environments. This appears to be the snap issue. Thank you for the information.

[2022-11-02 13:12] E1izabeth commented on #18091
You can set `Value display format` to `Database native`. Maybe it's similar to the requested representation.

![image](https://user-images.githubusercontent.com/28875055/199498193-3e35ff18-a962-42c6-ada1-e3ee33ab7b86.png)

[2022-11-02 13:41] lav-patel commented on #17600
It did work, but It made dbeaver unstable, so I had to revert the changes. I'll capture the error I get, and I put it here.

[2022-11-02 13:48] ryanhinton opened #18108 "Lost Connections after upgrading to 22.2.3"
### Description

All of my connections disappeared after upgrading 22.2.3 and then restarting my computer.
The Folder name still exists where the connections used to reside, but the connections are all missing.

### DBeaver Version

Community Edition 22.2.3

### Operating System

Windows 11 Pro

### Database and driver

MySQL and MS SQL

### Steps to reproduce

Start the DBeaver application and th

[2022-11-02 13:49] E1izabeth commented on #18108
Please, send the log files. You can find instructions here https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-11-02 13:53] mikeho1218 commented on #18015
@LonwoLonwo, I have the same result as @Raptord. The workaround does not work. I still have to fall back to 22.2.1

[2022-11-02 13:57] ryanhinton commented on #18108
<details><summary>DBeaver Log Files</summary>
`!SESSION 2022-04-06 13:30:59.975 -----------------------------------------------
eclipse.buildId=unknown
java.version=11.0.12
java.vendor=Eclipse Foundation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Framework arguments:  -f F:\documents\cfwt\amalga\ccpb_test.sql
Command-line arguments:  -os win32 -ws win32 -arch x86_64 -f F:\docu

[2022-11-02 14:00] ryanhinton commented on #18108
<details><summary>dbeaver-debug.log</summary>

`2022-11-02 09:29:44.331 - DBeaver 22.2.3.202210231354 is starting
2022-11-02 09:29:44.331 - OS: Windows 10 10.0 (amd64)
2022-11-02 09:29:44.333 - Java version: 11.0.12 by Eclipse Foundation (64bit)
2022-11-02 09:29:44.334 - Install path: 'C:\Program Files\DBeaver'
2022-11-02 09:29:44.334 - Instance path: 'file:/C:/Users/Ryan/AppData/Roaming/DBeaverDa

[2022-11-02 14:14] sargons commented on #1825
It was here now it's gone again...no right click to copy file path

[2022-11-02 14:27] serge-rider commented on #18108
it looks like file F:\dbeaver.dbeaver\data-sources.json is corrupted.

Could you it in notepad to see what is wrong with it? Maybe it is empty?

[2022-11-02 14:51] #17246 closed, assigned to E1izabeth, uslss

[2022-11-02 14:51] #15266 closed, assigned to E1izabeth, uslss

[2022-11-02 15:14] ryanhinton commented on #18108
It's empty

[2022-11-02 15:14] Katy1320 commented on #18078
No its is not automatically downloaded driver .same driver was  provided for both but  windows users able to login using those drivers but in mac it shows this error.can you please suggest how to use automatically downloaded drivers for informix?? Will it fix this issue.

[2022-11-02 15:21] ryanhinton commented on #18108
If it is looking at F:\dbeaver\.dbeaver\data-sources.json, I'm wondering if it got overwritten or if it is pointing to the wrong directory and file.  I found F:\dbeaver\DBeaverData\workspace6\CFWebtools\.dbeaver\data-sources.json which was last updated on 10/26/2022.  What do I need to do to have it pointing to these files?  Do I need to move these files or am I able to point to this somewhere wit

[2022-11-02 15:25] ryanhinton commented on #18108
I just found under the File menu a way to switch to another workspace which had the correct path that I previously mentioned.  When I clicked to switch to that workspace, DBeaver shutdown I guess to restart in the new workspace, but receive the following error.

![image](https://user-images.githubusercontent.com/11085554/199530357-86d85e1f-8333-4113-a045-e66d217eb1d1.png)

[2022-11-02 15:36] ryanhinton commented on #18108
OK, I got all of the connections back.  Thank you for pointing me in the right direction!
I selected the 'abort' option based on the previous options on the error.  I then went into task manager to find any dbeaver instance running.  There was one still running for some reason.  I shut it down.  Started DBeaver and all of the connections came back up.

I should start another thread for the followi

[2022-11-02 15:48] E1izabeth commented on #18078
Do you know the version of the driver you are trying to use?

[2022-11-02 17:17] larandvit opened #18110 "Show Output of EXPLAIN ANALYZE Command for Data Modification Statements in Trino"
### Description

Good day,

When I run EXPLAIN ANALYZE command with data modification statement, I don't receive EXPLAIN ANALYZE output. DBeaver only shows stats output for data modification statement. It works for EXPLAIN ANALYZE command with SELECT statement.

Sample of EXPLAIN ANALYZE command with data modification statement

[code]

Output

[code]

The output should include EXPLAIN OUTPUT text

[2022-11-02 17:46] SuperDaveOsbourne opened #18111 "Control codes for output window"
Not sure if this is already do-able but I would like to have control over the output window, first of all clearing it in the sql.

`do $$
begin
   for cnt in 1..1000 loop
    raise notice 'random number: %', (SELECT random() * 10 + .01 AS RAND_0_10);
    perform pg_sleep(1);
   raise notice '%','\clear';
   end loop;
end; $$`

[2022-11-02 20:45] #15177 closed, assigned to Destrolaric, Matvey16

[2022-11-03 04:40] ryanhinton opened #18112 "Automated version updating failing in DBeaver"
### Description

For the past two update versions, I have received an issue with instances of dbeaver.exe still running while dbeaver attempts to automatically update to the latest version.  I am left with no choice but to cancel the automated version and download the file installation file from the website.

I restart my computer at least once per week, so if there was an extraneous dbeaver insta

[2022-11-03 04:43] ryanhinton commented on #18112
<details><summary>DBeaver log file</summary>

[code]
</details>

[2022-11-03 04:44] ryanhinton commented on #18112
<details><summary>DBeaver Debug File</summary>

[code]

</details>

[2022-11-03 04:45] #18108 closed, assigned to nobody

[2022-11-03 07:10] d9k commented on #1884
@serge-rider, please reopen issue or tell us about workaround

[2022-11-03 07:17] E1izabeth commented on #1884
Maybe you could try using Darkest Dark theme or Eclipse Color Theme extensions https://dbeaver.com/docs/wiki/Eclipse-extensions/

[2022-11-03 07:29] d9k commented on #1884
@E1izabeth, thanks, it worked! :slightly_smiling_face:

[2022-11-03 07:32] #18104 closed, assigned to iraidaa

[2022-11-03 07:44] Uniquely6958 opened #18113 "show queries total row count syntax error"
### Description

When trying to calculate total row count for a "show tables" command, where the total number of tables are greater than what is currently been displayed, I get an syntax error message.

You will get an error message along the following lines:

[code]

Relevant logs:
[code]

### DBeaver Version

22.2.3

### Operating System

Arch Linux

### Database and driver

Database: MySQL 8.0

[2022-11-03 08:08] rafaelmembrives commented on #18056
It seems an error related to the version of the database, I have tried with another Cockroach DB version 22.1.8 and 22.1.9  and the table is exported correctly.

[2022-11-03 08:12] LonwoLonwo commented on #18056
Ok. Very interesting.
So what can we do from DBeaver's side?

[2022-11-03 08:16] rafaelmembrives commented on #18056
I close the issue, I really appreciate you helping me.

[2022-11-03 08:16] #18056 closed, assigned to LonwoLonwo

[2022-11-03 08:40] Destrolaric commented on #17242
@ptarant, Hi. Can you tell me what DB was used?

[2022-11-03 08:46] E1izabeth commented on #17242
Looks like a duplicate of #3977

[2022-11-03 09:22] #17880 closed, assigned to serge-rider, DariyaFedorova

[2022-11-03 09:35] LonwoLonwo commented on #18056
Thanks for the investigation @rafaelmembrives

[2022-11-03 09:38] Katy1320 commented on #18078
when i used java com.informix.jdbc.Version this command to find driver version it shows
Could not find or load main class com.informix.jdbc.Version
Caused by: java.lang.ClassNotFoundException: com.informix.jdbc.Version dont know about other ways to find version.
JDBC drivers are in dwonloads folder in mac does it needs any prerequisite like setting up path.

[2022-11-03 09:41] LonwoLonwo commented on #18066
Hello @anazzani

Can you please provide some video or gif of your issue? I can't reproduce your issue for now.

[2022-11-03 09:42] LonwoLonwo commented on #18066
Related: https://github.com/dbeaver/dbeaver/issues/17119

[2022-11-03 09:53] steindlmedia commented on #18084
I have the same problem with macOS and the most recent DBeaver version (22.2.3.202210231354).

DBeaver no longer shows the time for columns with type "DATE" of Oracle databases.
I have to use TOAD in order to see + edit the time component in the result set.

See below a comparison between the result set shown in DBeaver and TOAD.

![Bildschirm­foto 2022-11-03 um 10 54 15](https://user-images.githu

[2022-11-03 09:59] Matvey16 commented on #17146
@scottlapoint Sorry for the late response, but it is crucial to know which of those drivers you picked to create a connection
![image](https://user-images.githubusercontent.com/82543000/199692449-bcfbc03e-78cb-4aca-be1f-2faa0e59bbf7.png)

[2022-11-03 10:01] LonwoLonwo commented on #18084
As a workaround you can try to change the data view in the Preferences -> Editors -> Data Editor -> Data Formats

You can change the pattern for the date or try to enable "disable date/time formatting"

![2022-11-03 12_58_41-DBeaver Ultimate 22 2 3 - _Azure Databricks_ Script-205](https://user-images.githubusercontent.com/45152336/199692755-fc257f80-9f94-4460-95f4-62be44c36c24.png)

[2022-11-03 10:03] Matvey16 commented on #12761
@esanumIT Unfortunately the only workaround right now is to use a commercial ODBC driver. It is the only way until the newer community one is written.

[2022-11-03 10:11] ptarant commented on #17242
@Destrolaric : db mysql/percona flavour.
@E1izabeth : not likely, it happened at quite simple tables, not views or queries. I did not notice this behaviour at primary indexes, just at regular fields or foreign keys.

[2022-11-03 10:12] Destrolaric commented on #17242
@ptarant Thank you for your response.

[2022-11-03 10:14] steindlmedia commented on #18084
Thanks, @LonwoLonwo. That fixed it. 😄

[2022-11-03 10:15] Katy1320 commented on #18078
<img width="1728" alt="image" src="https://user-images.githubusercontent.com/104082981/199695409-dcb45d7a-b363-4b09-a116-cbf2c620be1c.png">
is this correct class path shouldn't be the jar file directory ?? should i have to add class path for driver in mac for dbeaver ?/

[2022-11-03 10:17] Matvey16 commented on #17846
@enaut Hello. What type of diagram do you have? Is it a custom diagram created in the project or the diagram tab for an object opened from the navigator?
For custom diagrams the changes are all manual, they are made by the user and changed by the user. For the diagram of the objects you may try disabling `Keep Layout` button before the refresh.
![image](https://user-images.githubusercontent.com/82

[2022-11-03 10:21] anazzani commented on #18066
Hi @LonwoLonwo

I have recorded my screen but I cannot attach it here cause it's too big.

Should be available [here](https://s3-eu-west-1.amazonaws.com/pluridoc/demo.pluridoc.it/transfers/37/Screen%20Recording%202022-11-03%20at%2011.09.59.mov).

[2022-11-03 10:25] Matvey16 commented on #17730
@cniweb I reproduced this issue but it seems that eclipse proposes a solution to this error
Do you think there is something wrong with it?
![image](https://user-images.githubusercontent.com/82543000/199697523-d8f4772a-557a-4620-aa01-3085f4a1a0e5.png)

[2022-11-03 11:47] scottlapoint commented on #17146
DBeaver picked and installed the driver when I setup my connection initially.  Here are the details from the driver settings.
![Screen Shot 2022-11-03 at 8 44 01 AM](https://user-images.githubusercontent.com/24252132/199712801-7cd0b32f-da73-4c3f-ad1a-a55dcf956ddb.jpg)
![Screen Shot 2022-11-03 at 8 44 14 AM](https://user-images.githubusercontent.com/24252132/199712802-e759a819-95c0-4dc7-b729-07b851

[2022-11-03 11:48] flambchap commented on #17998
Hi. Unfortunately, I cannot reproduce the issue. We are releasing the 22.2.4 version on Monday. Can you please try updating to that version and see if the issue is gone?

[2022-11-03 11:56] LonwoLonwo commented on #18066
Oh. Ok. I see. You want to compare datasources...
Any specific reason for this? Do you need to administer info in your result?

![2022-11-03 14_55_40-DBeaver Ultimate 22 2 3 - _Azure Databricks_ Script-205](https://user-images.githubusercontent.com/45152336/199714540-9c7a493d-17cd-4539-8855-a004e57659f8.png)

Maybe you can compare only databases as a workaround?

[2022-11-03 12:02] flambchap commented on #18019
Hi. You can do that in DBeaver already by using `Alt + Click` on the place where you want to see an additional caret: https://www.eclipse.org/eclipse/news/4.22/platform.php#multi-selection.

[2022-11-03 12:04] #18019 closed, assigned to nobody

[2022-11-03 12:05] flambchap commented on #18044
Hi @we684123. Could you please tell me if you have an active commercial license?

[2022-11-03 12:12] we684123 commented on #18044
@n5a5 hmmm... I have an active "LIMITED License", is it "commercial license"？

[2022-11-03 12:13] flambchap commented on #18044
Yes. Please open a ticket on our support system on our website, we'll gladly help.

[2022-11-03 12:13] iraidaa commented on #18005
Hi @valsamis-d,

Your first error is caused by the fact that this plugin requires Java 17, while DBeaver uses Java 11.
Indeed, everything should work with the CodeTogether CI Update Site.
We've added information about this option to the wiki and plan to make it clearer in the future https://github.com/dbeaver/dbeaver/wiki/Eclipse-extensions.
Thank you.

[2022-11-03 12:13] #18005 closed, assigned to iraidaa

[2022-11-03 12:22] iraidaa commented on #18038
Hi @ar-jan,

Thank you for the report. We're aware of these warnings. We're working on it.
At the same time, want to assure you that these warnings do not interfere with the DBeaver successful builds and stable work.

[2022-11-03 12:23] we684123 commented on #18044
@n5a5
i open the ticket (#184809) , Thank you very much for your willingness to help!

[2022-11-03 12:28] anazzani commented on #18066
Apologies, Postgres and DBEaver newbie here.

Comparing databases is what I was looking for, and I confirm it works as expected.

I confess the whole "connection" vs "database" vs "schema" thing is still confusing me: I wish there was a way to streamline my workflow through a "simplified" UI/UX showing only schemas (I'm a developer, not a DBA), but I'm going off topic I guess.

Thanks for your tim

[2022-11-03 12:28] #18066 closed, assigned to nobody

[2022-11-03 12:49] Destrolaric commented on #18031
@chrisb34 I see it's related to routing for diagrams. It looks like it can't handle the path creation for the ER diagram. Does your diagram have a lot of tables? You can change the routing method to the Shortest Path in ERD settings as a workaround.
![image](https://user-images.githubusercontent.com/20579256/199724696-ad323d96-36ad-4de5-8e39-7dbc86a30990.png)

[2022-11-03 12:50] leezm commented on #18084
👍

[2022-11-03 12:55] ShadelessFox commented on #18068
Duplicate of #18013

[2022-11-03 12:55] #18068 closed, assigned to nobody

[2022-11-03 12:57] ShadelessFox commented on #18073
Thanks for the feature request

[2022-11-03 13:10] ShadelessFox commented on #18094
Thanks for the feature request

[2022-11-03 13:18] Destrolaric commented on #18102
Unfortunately, this can't be done automatically due to SQLite not having any restrictions given from value type. We could add a DateTime transformer to allow editing values as a date with a correctly inputted pattern and class to which it will be converted.

[2022-11-03 13:20] ShadelessFox commented on #18111
Thanks for the feature request

[2022-11-03 13:30] depler commented on #1741
@bomuva totally agree, that is insane to click `Alt+Shift+A` every time you need vertical selection. Please give us ability to use `Alt + A` like it is implemented in `Notepad++`

[2022-11-03 13:31] ShadelessFox commented on #17982
Hello @CelenaBb,

Have you tried changing the ordering mode to be server-side only?

![image](https://user-images.githubusercontent.com/35821147/199733962-9fa5eeb4-12c5-443b-b415-c8e5673124b3.png)

[2022-11-03 13:39] CelenaBb commented on #17982
Hello @ShadelessFox
yes i have
it does not change anything

[2022-11-03 14:49] #18044 closed, assigned to nobody

[2022-11-03 15:19] fritzmg commented on #16608
This article only works if Java was installed globally, correct? I am getting the same error, but in my case Java is not installed. Instead I used the option to install Java only for DBeaver during setup.

[2022-11-03 15:23] E1izabeth commented on #16608
@fritzmg if your OS is Windows you could try turning off/on `Use Windows trust store` preference.
https://user-images.githubusercontent.com/28875055/199441946-1200ed28-9b93-42f6-97eb-231594353ee1.png

[2022-11-03 15:26] fritzmg commented on #16608
Unfortunately that did not help, the same error message remains.

[2022-11-03 15:27] E1izabeth commented on #16608
Just to confirm: have you restarted DBeaver after changing that preference?

[2022-11-03 15:30] fritzmg commented on #16608
Ah thank you, that helped 👍

[2022-11-03 15:37] chrisb34 commented on #18031
Hi Georgii

Thanks for the reply. Yes that seems to work once I update that parameter and restart DBeaver.
Thank you!
On Nov 3 2022, at 1:49 pm, Georgii ***@***.***> wrote:

[2022-11-03 15:46] ShadelessFox commented on #17982
It's really weird.

DBeaver does not change results in any way, therefore an explicit `ORDER BY` clause should yield the same result regardless of the DBMS tool you're using.

[2022-11-03 16:41] davinishi opened #18115 "Extensions are gone after update"
### Description

Every time I run an update, the extensions for Office and Git are removed and/or broken.

I´ve seen closed issues on this subject but none of them are really solving the problem, they are just guiding the users on how to amend after the problem's happened.

In my case I have the following scenario:

- DBeaver for Windows 22.2.3 installed for single user on C:\Users\user\AppData\Lo

[2022-11-03 16:56] E1izabeth commented on #18115
Thank you for bug report. Duplicate of #5317

[2022-11-03 16:57] #18115 closed, assigned to nobody

[2022-11-03 17:02] LonwoLonwo commented on #18066
You can try to use the "Simple" navigator view

![2022-11-03 20_01_26-DBeaver Ultimate 22 2 3 - _Azure Databricks_ Script-205](https://user-images.githubusercontent.com/45152336/199786978-b51a654a-74aa-4a94-b8f4-cce4e297f06e.png)

Or customize it as you wish :)

[2022-11-03 17:25] anazzani commented on #18066
Thanks for your reply.

I already tried the "simple" connection view, but I find it overly simplified for my every day usage (for example opening a table doesn't show constraint, indexes, triggers, etc.).

I just had a look at the custom view, but I'm not sure how to simplify object navigation while still getting all the details I need from the advanced view.

It's no big deal anyway, just a few e

[2022-11-03 19:03] serge-rider commented on #17348
Fixed.

Also redundant buttons were removed + auto-assign button was moved to the bottom.

[2022-11-03 20:23] enaut commented on #17846
But disabling keep layout does require me to rearrange everything afterwards isn't it?

I think the ERD file was initially in the diagram tab, but then saved and loaded again. So I guess that means it is now a custom Diagram?

[2022-11-04 00:22] tw-yoo opened #18117 "System down when opening geometry panels in PostgreSQL"
### Description

The Client is down when trying to open the geometry panel on the top right side and report and error.

### DBeaver Version

Community Edition 22.2.3

### Operating System

macOS Ventura 13.0

### Database and driver

Database: PostgreSQL

### Steps to reproduce

1. I tried to create simple geometry object using Postgis extension query (e.g., "select st_geomfromewkt('SRID=4326;POIN

[2022-11-04 04:29] Katy1320 commented on #18078
@ShadelessFox @E1izabeth  @n5a5  I request to get this issue to be fixed soon.  same issues occurred for mac users at work .

[2022-11-04 08:11] wysokinskim commented on #9414
@jyk4100 I set home and end to endLine and startLine in GUI and removed any other binding for home and end from workbench.xmi. It's still working for me

[2022-11-04 08:14] Thong2018 opened #18118 "The command --NAME:tabName only works once"
### Description

I use the --NAME:tabName command to name multiple result tab names, but only the first command works

--NAME:firstTab
SELECT 123

--NAME:secondTab
SELECT 456

As a result, The first tab name is firstTab 1 and the second tab name is firstTab 1 (2) instead of secondTab
![tab-name](https://user-images.githubusercontent.com/44740643/199924314-d1994f01-8591-4be8-bd67-0ec615fdaa1f.png)

[2022-11-04 08:22] lukaseder opened #18119 "Correctly display zero column result sets in PostgreSQL"
### Description

PostgreSQL supports zero column result sets. Try this:

[code]

To prove:

[code]

Resulting in:
[code]

But Dbeaver claims there has been no data (with 1 rows):

![image](https://user-images.githubusercontent.com/734593/199926025-2a36e2da-e57a-4f45-aa2a-bf516f148392.png)

That screen doesn't allow for any export in various formats.

### DBeaver Version

Community Edition Version

[2022-11-04 09:13] ccczhouxin opened #18120 "can not start dbeaver"
### Description

I update the project still has error ,the eclipse is 2022.9
![image](https://user-images.githubusercontent.com/43168824/199935236-a69e6547-3a4b-447e-ba20-9265b3a44c1b.png)
![image](https://user-images.githubusercontent.com/43168824/199935307-13c7df6b-46d3-4cf2-8476-279856b7ca81.png)
![image](https://user-images.githubusercontent.com/43168824/199935355-5e511f3e-a6df-499d-ae08-343a9

[2022-11-04 09:45] webian commented on #18013
I have the same problem.
Is not only the save button disable, it's the whole bar that allows to edit/browse the result of a query.

I can't yet reproduce the problem systematically, but I found out that switching to the Data tab of a table did re-enabled the bar.

[2022-11-04 09:46] Brakistad commented on #16076
Same issue here. Seems like the snap is not allowed to access DBus by apparmor.
ubuntu:
[code]
dbeaver snap:
[code]
running dbeaver-ce command.
Which provides debug log.

This happens at startup:
`Gtk-Message: 10:34:17.165: Failed to load module "canberra-gtk-module"`

Then i query a table containing Geography(Point, srid=4326)

Select point and expect to view a OpenStreetMap map. I have selected

[2022-11-04 10:23] Destrolaric commented on #18013
@webian Hi, can you send me the logs? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. I think they may contain an error that led to the toolbar being disabled.

[2022-11-04 11:13] nudge-sangbeomhan commented on #7114
Same issue here.

[2022-11-04 12:36] ShadelessFox opened #18121 "Export to a file always prompts to take actions against existing file"
### Description

Export to a file always prompts to take actions against existing file, even if there were no any files before starting the export. An empty file is created before the dialog is opened, and if there was a file, it will be truncated, making the `Append` choice useless.

### DBeaver Version

DBeaver 22.2.4

[2022-11-04 14:25] djagoda881 commented on #17776
Hello @LonwoLonwo

I have version 22.2.3.202210231354 of DBeaver installed. I tried to connect to Azure Databricks selected from the list of available connections. However, it receives the message "Invalid JDBC URL" when trying to connect to the database. I can only connect to the database as @Trymzet  pointed out above. That is, by creating a new driver manager. I use the same URL in both cases.

[2022-11-04 14:26] igor2x opened #18122 "Change of JDBC driver version requires DBeaver restart"
### Description

If new custom JDBC driver is set, I expect to be applied immediately after click on OK button and reconnect to database.
But new JDBC driver is applied after DBeaver is restarted.

This is pretty annoying when I am now doing some in depth tests with both drivers if any new problems appears in new JDBC driver version.

### DBeaver Version

Community Edition 22.2.3

### Operating Sy

[2022-11-04 15:19] LonwoLonwo commented on #18119
Thanks for the report @lukaseder

[2022-11-04 15:37] igor2x commented on #18122
I have now tested this problem in DBeaver Community 22.1.0 on Windows 10 another computer I have and DBeaver restart after setting new JDBC version is not required. The only requirement is to reconnect, which is kinda obvious.

Reported problem seams to be a regression in 23.2.x.

[2022-11-04 15:49] LonwoLonwo commented on #17776
Hm.
Can you please try to change the beginning of your URL to "jdbc:spark://"? @djagoda881

[2022-11-04 17:11] rustyx commented on #7540
The Eclipse bug [464226](https://bugs.eclipse.org/bugs/show_bug.cgi?id=464226) is fixed, and yet there's no way to set SQL background in dbeaver correctly.

[2022-11-04 17:49] miltonchirinos44 commented on #18120
I changed the version of openjdk to 17 and it still doesn't work dbeaver, I still can't find a solution for this error

[2022-11-04 18:38] E1izabeth commented on #18117
Please, send the log files. You can find instructions here https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-11-04 21:50] lokuz commented on #18102
Thanks a lot for your reply.

I have read further into datatypes in sqlite and understand your point now. sqlite offers a DATETIME typename for the table definition. But this type has the resulting affinity "NUMERIC", which allows all datatypes. An interpretation based on the difference between number or string does not help either since a number is allowed to be interpreted as julian day or unix

[2022-11-05 06:42] hassaanmasood commented on #17787
This issue starts happening after Windows 11 22H2. The menus are also white now in dark mode. Previously both scrollbars and menus were dark with dark theme.

As I understand, Microsoft has made some changes to their dwmapi for 22H2. This could be a reason why dark mode is not working right for dbeaver.

[2022-11-05 08:45] E1izabeth commented on #17787
@hassaanmasood thank you for investigation

[2022-11-05 11:19] Katy1320 commented on #18078
If i used automatically downloaded informix 4.50.4.1jdbc driver along with bson jar 3.8.0 version .it shows socket connection error. @n5a5 @E1izabeth

[2022-11-05 11:58] #18121 closed, assigned to E1izabeth, Matvey16

[2022-11-06 06:44] a4ff7810 commented on #1884
Not sure you @mentioned who you meant to, @d9k :)? Don't think I contributed anything to this issue in particular 😅?

[2022-11-07 00:24] tw-yoo commented on #18117
@E1izabeth  Hi, Attached the log below. I just replaced the database name and connection information to XXX.

Thanks.

================================================

2022-11-07 09:17:51.934 - DBeaver 22.2.4.202211061524 is starting
2022-11-07 09:17:51.935 - OS: Mac OS X 10.16 (x86_64)
2022-11-07 09:17:51.935 - Java version: 11.0.12 by Eclipse Foundation (64bit)
2022-11-07 09:17:51.935 - Install

[2022-11-07 00:41] ccczhouxin commented on #18120
Yes，i don know the offical how to use successful

[2022-11-07 06:53] dnroldanforwork commented on #18054
Good morning,

One problem persists with V 22.2.4 and other was fixed.

Now, I can select the download driver Window and I can configure and download the driver correctly but if I close Dbeaver and reopen, it's open an error Windows telling me that configure the driver again.

Please, tell me if you need more information or upload logs again.

Thanks in advance.

[2022-11-07 08:07] taowang377 commented on #18117
i got the same problem. When i use the giser visualization pannel, it crashs.
here is some log.-------------------------------------
Translated Report (Full Report Below)
-------------------------------------

Process:               dbeaver [13844]
Path:                  /Applications/DBeaverEE.app/Contents/MacOS/dbeaver
Identifier:            com.dbeaver.product.enterprise
Version:

[2022-11-07 08:21] Destrolaric commented on #18117
@taowang377, Hi. Is it an app crash or an entire system crash? It is unclear from the description.

[2022-11-07 08:35] tw-yoo commented on #18117
@Destrolaric Hi. In my case, it was just an app crash.

[2022-11-07 08:43] nmoreaud commented on #17817
Mouse wheel zoom would be the best. Ctrl+- is partially implemented: it doesn't work with the numpad on my French keyboard.

[2022-11-07 08:54] LonwoLonwo commented on #18122
Thanks for the bug report @igor2x

Just update the driver via the Update button it is ok, but delete+Add does not work in the current session.

[2022-11-07 09:08] marcheschi opened #18129 "Cannot install 22.2.4 over old 22.2.3 version"
### Description

Hi
I installed 22.2.4 over old 22.2.3 version on debian
using
 sudo dpkg -i dbeaver-ce_22.2.4_amd64.deb
[code]

But it does not upgrade the old version but instead it creates another indipendent program dbeaver, that does not read the old config.

Thank you

### DBeaver Version

Community edition 22.2.3

### Operating System

Linux xstreamos 5.15.0-52-generic #58-Ubuntu SMP Thu Oc

[2022-11-07 09:13] #18120 closed, assigned to nobody

[2022-11-07 10:08] Destrolaric commented on #18117
@tw-yoo Looks close to https://github.com/eclipse-platform/eclipse.platform.swt/issues/452 in our framework. Do you have Intel Mac?

[2022-11-07 10:30] uslss commented on #17857
thanks for the report

[2022-11-07 10:32] uslss commented on #18054
@dnroldanforwork seems this new issue will be fixed in the scope of #18122 .
Thanks for checking and reporting.
close this ticket as resolved.

[2022-11-07 10:32] #18054 closed, assigned to uslss

[2022-11-07 10:36] E1izabeth commented on #17420
If table A references table B, we see it on the ERD and in the references panel of the table A, but we don't see it on the ERD or the references panel of the referenced table B.

[2022-11-07 10:39] E1izabeth commented on #17204
Thank you for informing us that the bug has gone.

[2022-11-07 10:54] E1izabeth commented on #16821
We need to handle declare_section in create procedure function. See https://docs.oracle.com/en/database/oracle/oracle-database/21/lnpls/block.html#GUID-9ACEB9ED-567E-4E1A-A16A-B8B35214FC9D

[2022-11-07 11:13] taowang377 commented on #18117
it's app crashing. everything works fine, until i upgrade my mac to newest.  everytime, I open the gis viewer for the geometry, it will crash and pop out the log. just as the one I posted in previous comment.

[2022-11-07 11:13] taowang377 commented on #18117
@Destrolaric

[2022-11-07 11:16] Destrolaric commented on #18117
@taowang377 Thank you. It looks like an issue with WebKit. We will look at how it can be resolved. Is your mac intel based?

[2022-11-07 11:57] ced75 opened #18131 "SQL autocompletion key word to uppercase does not work since 22.2.4"
### Description

After upgrading to DBeaver 22.2.4, the autocompletion of keywords to transform them in uppercase does not work anymore.
It used to word in DBeaver .

### DBeaver Version

Community Edition 22.2.4

### Operating System

Ubuntu 22.04

### Database and driver

Database version : PostgreSQL 14.5

### Steps to reproduce

In preferences, check "keywords conversion" in Editors => SQL Edi

[2022-11-07 12:03] E1izabeth commented on #18131
You can find this setting in Editors->SQL Editor->Code Completion
![image](https://user-images.githubusercontent.com/28875055/200305759-797a5fe9-22da-4982-b032-f814dfc1bdae.png)

[2022-11-07 12:11] E1izabeth commented on #18131
Which previous DBeaver version are you talking about?

[2022-11-07 12:20] ShadelessFox commented on #16238
Additionally, I'd like to propose adding ability to reorder configurations and create copies of existing ones.

[2022-11-07 12:27] ced75 commented on #18131
Thanks for your answer and your help.
I'm talking about DBeaver 22.2.3

The setting you are showing is not for SQL keywords, but to convert database objects (schema, name, column, etc.) to uppercase.
The feature I'm thinking of is changing case of SQL keywords automatically. It used to work in DBeaver 22.2.3 if correctly configured.

[2022-11-07 12:31] E1izabeth commented on #18131
The setting I mentioned converts keywords case on Enter. At least, it works for me,

[2022-11-07 12:38] ced75 commented on #18131
OK. I must be more precise.
In version 22.2.3, a keyword was automatically converted to uppercase "on the fly" when writting the whole word ("select" for instance) and the typing a space. After the space, the conversion to uppercase appeared.
This is no more the case.

It works if I type the beginning of a keyword and select it in the list of autocompletion words. But this is not the feature I'm t

[2022-11-07 12:47] E1izabeth commented on #18131
Thank you for clarifying. I got it.

We used to have a bug - DBeaver almost always converted keyword to upper case while autocompletion. It was annoying for many people, so we fixed this bug, which caused that your use case stopped working.
We'll try to look deeper to your use case and think out something.

Thank you for reporting to us.

[2022-11-07 12:55] ced75 commented on #18131
And thank you for your help.
Hope it will come back, because automatic conversion to uppercase for keywords improve query readability, to my point of view.

[2022-11-07 13:04] gnikolaidis commented on #6968
Hi, I have 22.2.3.202210231354 and the .dbeaver folders keep getting created in every project. I was unable to find a way to prevent this behavior. Is this because of metadata from older versions lingering arround?

[2022-11-07 13:05] SSzretter commented on #16952
I have the same issue in the latest as well.

[2022-11-07 13:15] alvinjg opened #18133 "Error in Console View when Running Eclipse Application inside Eclipse IDE"
### Description

We are encountering an error in eclipse Console View when running an eclipse application inside the Eclipse IDE. The error is logged at the start of eclipse application and after shutting it down.
The error is only encountered in the Eclipse Application. No error is logged in main Eclipse IDE metadata.log.

### DBeaver Version

Community Edition 22.1.2 to 22.2.3

### Operating Sys

[2022-11-07 15:46] TARehman commented on #9414
Chiming in as this is happening to me as well. Ventura 13.0, DBeaver 22.2.4. When starting up DBeaver, remapped Home and End keys perform as expected; however, after executing a query or two, suddenly the End key jumps me to the end of the document, not to the end of the line. It's not obvious what's causing it.

[2022-11-07 16:09] igor2x commented on #18036
Can you please define a milestone for this feature request. It should be easy to add it following https://github.com/dbeaver/dbeaver/issues/17427 issue. It would be excellent it this could be added to DBeaver to the end of November when we are planning to upgrade TLS to v1.3 available only in the latest Db2 version.

[2022-11-07 16:18] andrew-dixon commented on #9414
So, removing the "HOME" and "END" mapping from the workbench.xmi file as suggest above by @zyzil and @jyk4100 seems to have done the trick. I removed these line last Friday and have not closed DBeaver since and the home and end is still working as expected. I believe you need to be using Karabiner Elements as well to map the home and end "PC" version of the keys, again discussed above.

[2022-11-07 16:19] jluismoran commented on #5601
Solution posted by @jenswegar worked for me in DBeaver 22.1.4. I had to disable the checkbox "Verify server certificate" in Connection settings -> SSL -> Advanced.

[2022-11-07 16:27] E1izabeth commented on #18036
This issue is not planned for the current sprint, so the new driver version will not be set by default at the end of November.
But you can choose the version you need by your own:
![image](https://user-images.githubusercontent.com/28875055/200361872-74cb5152-dd02-4fb5-a804-91af2e036123.png)

[2022-11-07 16:59] holiq commented on #3780
i had the same issue and i tried deleting one of those files and it worked, thanks mate

[2022-11-07 17:48] LonwoLonwo commented on #18133
Hello @alvinjg

It's unclear from your message - does this exception affects the application work?

[2022-11-07 18:45] MarkA1 commented on #9414
Removing HOME/END bindings entries from workbench.xmi has been working for me too, for more than a week now (and I never went more than an hour or two without the issue starting up again previously).

Some more detail though:  I started by commenting out the HOME/END bindings from workbench.xmi (running on MacOS) to test the change.  On DBeaver restart, the commented entries were deleted and new H

[2022-11-07 18:50] MarkA1 commented on #5931
See recent (Oct/Nov 2022) discussions in related issue #9414 for what seems so far to be a working work-around to this issue, and clues as to the root cause of this issue in the workbench.xmi dbeaver configuration file.

[2022-11-07 20:29] plotn commented on #18091
Yes, It helps. But it is very non-obvious.... I dont know, maybe the issue is not needed anymore, what do you think?

[2022-11-07 20:32] E1izabeth commented on #18091
We discussed that we could try improving guid representation by default. Let's keep this issue open. Thank you for report.

[2022-11-07 21:03] flambchap opened #18137 "NPE in Connection Test Dialog"
### Description

It's possible to catch an NPE in `ConnectionTestDialog`. Unfortunately, I don't have steps to reproduce, but the logs are pretty descriptive.

### DBeaver Version

UE 22.2.4 devel

### Operating System

macOS 13.0

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

[code]

[2022-11-08 00:52] tw-yoo commented on #18117
@Destrolaric Yes I have an intel mac and haven tested with an apple silicon mac.

[2022-11-08 02:30] DV8SHN opened #18140 "Git Buttons and Menus missing on Apple Silicon / Ventura"
### Description

I am running a Macbook Pro with Apple M1 Pro and MacOS 13 Ventura.

My DBeaver project view is missing the Git+ button, and the file menu doesn't have the Git submenu. I have no way of creating a new DBeaver project from Git.

### DBeaver Version

Community Edition 22.2.4 (reproduceable in others)

### Operating System

macOS Ventura

### Database and driver

N/A

### Steps to rep

[2022-11-08 02:32] taowang377 commented on #18117
@Destrolaric YES, My mac is intel based.

[2022-11-08 03:15] strangan commented on #17303
Thanks! I can confirm this now works. Thank you for getting this fixed.

[2022-11-08 03:36] pascalwilman28 opened #18142 "Import Data not work cause Database Name Include in INSERT Query"
### Description

How to hide or remove database name when import data in dbeaver, i have already searching any features in dbeaver, but still not found how to fix it. Help if any one can solve this problem.

Step by step is in pictures

### DBeaver Version

Version 21.2.1.202109181446

### Operating System

Windows 10

### Database and driver

1. Impala JDBC 42-2.6.17-1020
2. Impala Database

###

[2022-11-08 06:23] igor2x commented on #18036
@E1izabeth, thanks for update. I didn't know I could select new version from "Version" column. Now I see bellow dialog there is info how Version column works, but most of the people will not "see" this info...

I just expect if there are multiple versions to download from to have dialog like this:
![image](https://user-images.githubusercontent.com/10895030/200491217-889e5880-5abf-487e-97df-e0a4b0a

[2022-11-08 09:04] djagoda881 commented on #17776
After the change, everything works properly.
Thanks for your help

[2022-11-08 09:06] LonwoLonwo commented on #18142
Hello @pascalwilman28

What is the reason for the database name hiding?

[2022-11-08 09:13] dahmmme opened #18144 "Auto format for upper case not working since version 22.2.4"
### Description

**H**ello :)

Since the latest DBeaver upgrade (22.2.4), the keyword automatic upper case formatting for SQL does not seem to be working anymore.

My settings have not changed, and it did work with the prior version.

**Settings**
Preferences > SQL Editor > Formatting > Settings: Keyword case > upper
Preferences > SQL Editor > Code Editor > Auto format > Convert keyword case check

[2022-11-08 09:19] E1izabeth commented on #16215
Eclipse stores this settings in the DBeaver installation folder: `/configuration/.settings/org.eclipse.core.net.prefs`. Currently we override these files on update. This issue will be resolved along with #5317

[2022-11-08 09:22] igor2x opened #18145 "Upgrade JDBC driver, delete it, set to default and version mismatch appears"
### Description

Start DBeaver with default driver. Upgrade JDBC driver to newer version. Then delete driver and reset to default and there are two version old as parent and new one as child. Connecting to database and the child version is used.

### DBeaver Version

Community Edition 22.2.4

### Operating System

Windows 10

### Database and driver

1. Database name and version: Db2 v11.5.8.0
2.

[2022-11-08 09:37] LonwoLonwo commented on #18144
Hello @dahmmme

Please check this setting:

![2022-11-08 12_35_17-DBeaver 22 2 4 - NULLID](https://user-images.githubusercontent.com/45152336/200529340-09940988-5355-4f0d-9aba-5f0cc1086284.png)

Maybe you need to set it to UPPER

[2022-11-08 09:50] igor2x opened #18147 "Cancel button in Driver Manager is not respected"
### Description

1. In Driver Manager if deleting or updating the driver and then in dialog click on Cancel and I expect setting to be discharged, but there are not it looks like OK button is clicked.

### DBeaver Version

Community Edition 22.2.4

### Operating System

Windows 10

### Database and driver

1. Database name and version: Db2 v11.5.8.0
2. Driver name and version: JDBC v4.31.10 and v4

[2022-11-08 09:54] dahmmme commented on #18144
Hello @LonwoLonwo

It was set to **standard** and I changed it to **upper** — unfortunately, it is still not working.
The behavior I had in the prior version was the keywords automatically being formatted to uppercase whenever I wrote them, which also made the code a lot more easier to read!

[2022-11-08 09:59] LonwoLonwo commented on #18144
Ok, thanks for the answer @dahmmme

[2022-11-08 10:00] LonwoLonwo commented on #18144
Closed as duplicate of: https://github.com/dbeaver/dbeaver/issues/18131

[2022-11-08 10:00] #18144 closed, assigned to nobody

[2022-11-08 10:09] LonwoLonwo commented on #18144
And ok, I see, keyword formatting does not work if I use space after the word, but it works if I use Enter during the keyword auto-completion.

![mfgvXNgZBS](https://user-images.githubusercontent.com/45152336/200536743-8d70517f-68d9-4459-8b71-1680cf25150d.gif)

[2022-11-08 11:29] LonwoLonwo commented on #18140
Thanks for the bug report @DV8SHN

Reproducible on the different macOS versions.
Can't reproduce on Windows.

[2022-11-08 12:11] dahmmme commented on #18131
Hey @E1izabeth, I agree with @ced75. It is a lot nicer and easier to write SQL if the keyword converts “on the fly” instead of having to select them with “enter” or a click. I also do not really know if it was a bug, since people that didn't like it could just set the preferences as they wanted the formatting to be.

[2022-11-08 12:18] Maxdeneb opened #18148 "Error when import csv file with columns tables containing single-quote"
### Description

From version 22.2.3 it is impossible to import CSV files with columns containing single quotes (Es.: "Modalita' di Pagamento"). Below is the error log

.....
!ENTRY org.jkiss.dbeaver.model 4 0 2022-11-08 12:38:32.332
!MESSAGE Error transfering data from file.csv to schema.table [Existing]
!SUBENTRY 1 org.jkiss.dbeaver.model 4 0 2022-11-08 12:38:32.332
!MESSAGE Can't insert row
!SU

[2022-11-08 12:38] yoni-yad2 opened #18149 "Add an option to lock/unlock MySQL/MariaDB user accounts"
**Is your feature request related to a problem? Please describe.**
Sometimes I need to lock/unlock multiple accounts and need to write a script/multiple commands for that

**Describe the solution you'd like**
Add two options to the right click menu of users in DB navigator: "Lock account"/"Unlock account"
Locked users icons should have an icon lock on them.

**Describe alternatives you've consider

[2022-11-08 12:43] LonwoLonwo commented on #18149
Please provide lock/unlock script examples.

[2022-11-08 12:59] dabekf commented on #18131
I can confirm that the latest change broke things. After update I can't get the Auto format to work on any keywords. While before it was 99% correct, with an occasional "my column is named a bit like a keyword" inconvenience, now it doesn't work at all.

And using enter to change case would be really cumbersome, not to mention it doesn't seem like an option either: I can write "update[ENTER](chang

[2022-11-08 13:34] flambchap commented on #17204
Trying 22.2.4 devel on macOS 13.0, the bug seems to be fixed

[2022-11-08 13:37] jahlbornG commented on #7887
just ran into this myself.  would love for this to be fixed.  any plans to do this in the near term?

[2022-11-08 13:40] Amir0715 opened #18150 "Tabs title encoding broken"
### Description

I've been using dbeaver for a long time and today, instead of tab names, I have this:
Please help me how to solve this problem
![изображение](https://user-images.githubusercontent.com/45153320/200579141-926b5791-7684-46b3-b92b-de1dad8c55c6.png)

### DBeaver Version

22.2.4

### Operating System

Windows 10 21H2

### Database and driver

_No response_

### Steps to reproduce

_No r

[2022-11-08 14:27] LonwoLonwo commented on #18150
Hello @Amir0715

Please try this https://github.com/dbeaver/dbeaver/wiki/Reset-UI-settings

Or reload the application.

[2022-11-08 14:28] LonwoLonwo commented on #18148
Probably related to #17619

[2022-11-08 15:05] LonwoLonwo commented on #18147
Hello @igor2x

I'm not sure about this case.

![2022-11-08 17_58_08-Cancel button in Driver Manager is not respected · Issue #18147 · dbeaver_dbeave](https://user-images.githubusercontent.com/45152336/200598423-45b3d293-851c-4132-bd1b-2fdfaf3ad06d.png)

DBeaver has the Cancel button on this page. And you can cancel the operation there.
But сhanges are considered applied after returning to the prev

[2022-11-08 15:28] haufs opened #18152 "Right-click unselects data"
### Description

Select data in a query tab:
![image](https://user-images.githubusercontent.com/117753713/200605925-57f0f503-e588-451b-bfe4-475f6df6e6ae.png)

Right-click in that tab and data is unselected so I'm unable to use Format:
![image](https://user-images.githubusercontent.com/117753713/200606068-44d62593-f05d-4127-b789-24d59e63b011.png)

### DBeaver Version

Community Edition version 22.2

[2022-11-08 15:39] Douglassharris12 opened #18153 "table copy features"
I am trying to copy table data from one instance to another.  I am using the export to SQL option that generates insert statements.  I have two issues:

1) The resulting insert statement requires a lot of formatting cleanup before it will run. I want to automatically have varchars single-quote delimited.  How do I do that? I also want the timestamps to be prefixed by the keyword "timestamp".  How

[2022-11-08 15:43] jshmlr commented on #18131
+1 to confirmation that this no longer works having updated to 22.2.4 today. Having keywords automatically convert to uppercase is an important feature for my workflow and I'd like to request that this option return.

Appreciate the hard work.

[2022-11-08 15:54] igor2x commented on #18147
I am not talking about Cancel button from _Download drivers file_ dialog, but _Cancel_ button in _Library_ tab. If I can't cancel all of the actions performed on _Library_ tab, then in my humble opinion there should be no OK and Cancel buttons, because they have the same effect, but instead only single Close button.

In my humble opinion in each dialog with Cancel button every action performed ins

[2022-11-08 16:45] emanueol commented on #18089
Doesn't work. When I double-click any of the editor tabs nothing happens, see the animated gif:
![problem - double click doesnt maximize](https://user-images.githubusercontent.com/8422412/200624990-158a0930-f158-4cb1-81fa-784c31abe062.gif)

[2022-11-08 16:51] E1izabeth commented on #18089
Seems it doesn't work for such layout when two editors are opened.

[2022-11-08 16:56] emanueol commented on #18152
Yes just found this problem as well, here's animated gif showing the problem:
![problem - right click on all selection - unselects selection](https://user-images.githubusercontent.com/8422412/200627561-e3b21160-efee-494e-89da-f1b927ae30f3.gif)

[2022-11-08 17:18] haufs commented on #18152
yes thank you, that is exactly what I'm experiencing.

[2022-11-08 17:45] JaoGaspar opened #18155 "Strange characters with connection between Databricks and Dbeaver"
### Description

I try different ways to connect the two platforms, but for some reason I see strange characters in my query.

### DBeaver Version

Version 22.2.0.202209090951

### Operating System

WIndows 10

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-08 17:46] JaoGaspar commented on #18155
![image](https://user-images.githubusercontent.com/110673812/200637989-eff15291-0a0d-46c4-9f33-65c79bf7482e.png)

[2022-11-08 18:07] joshcsmith13 commented on #18152
agreed.  this new "feature" implementation sucks.  I appreciate that you wanted to implement the "selected query" contextual entries, but don't eliminate the traditional "Copy" command for selected text.  This is especially painful when I am just trying to copy one value from a list of field/values in my Where clause.

[2022-11-08 18:59] E1izabeth commented on #18148
See also #17914

[2022-11-08 19:11] flambchap opened #18156 "Use the standard message box when deleting navigator nodes"
Our confirmation dialog that appears when you try to detele navigator nodes looks nothing like our other confirmation dialogs. We need to use our standard confirmation dialog.

[2022-11-08 19:39] struck89 commented on #18152
Same here.
In the mean time, how can I "export from query", from the query I have selected?

Found it:
![image](https://user-images.githubusercontent.com/18152095/200662488-6cf338ef-e201-4e39-bf25-bc94a2b7bf0c.png)
I just need to click on the export down there after having executed the query.

[2022-11-08 20:05] genspire opened #18160 "Violation of general contract during Custom ERD table drag operation"
### Description

Regularly, but not often, when dragging a table from the database navigator and dropping it into the ERD, I get an error stating:

Then if I save the ERD, close DBeaver and reopen it my entire ERD layout has been reset.  This caused a day of work to be lost.

Here is the log:
[dbeaver_error.log](https://github.com/dbeaver/dbeaver/files/9964313/dbeaver_error.log)

### DBeaver Versi

[2022-11-08 20:26] E1izabeth commented on #18152
Thank you for bug report.

[2022-11-08 21:08] swats-the-floran commented on #12582
have the same error but hello from the future.
cannot connect to database 14 because pg_dump version is 13

[2022-11-08 21:38] brunoleal0 commented on #18131
+1 to confirmation that this no longer works at 22.2.4. Please make an option so keywords can be converted on the fly, instead of having to press enter everytime we type it =/

[2022-11-09 00:46] E1izabeth commented on #18160
Thank you for bug report.

Seems we need to fix our sort method to satisfy the transitivity requirement of the library sorting algorithm.

[2022-11-09 01:10] E1izabeth commented on #18118
I'm unable to reproduce your issue. Could you tell me how exactly do you execute this script? Maybe you do something which is usual for you, but not obvious for us. The video showing this issue would be very helpful.

[2022-11-09 01:47] robsimpson commented on #14930
Confirming this bug on MacOS Version 22.2.4.202211061524 (Ventura 13.0, M1), just updated this morning. I didn't experience it in the previous version of DBeaver CE

[2022-11-09 03:22] pascalwilman28 commented on #18142
Cause in INSERT INTO, the database/catalog name make the import job error

[2022-11-09 03:22] #18142 closed, assigned to nobody

[2022-11-09 03:23] pascalwilman28 commented on #18142
Now already solved, the setting in driver can omit catalog name when DDL and change active object to schema, not catalog

[2022-11-09 06:52] alvinjg commented on #18133
Hi @LonwoLonwo,
It does not affect our application. We are cleaning up any error in the console and found this issue. Our current workaround is to remove DBeaver from application plugins.

[2022-11-09 08:41] Matvey16 commented on #18020
Not reproducible anymore

[2022-11-09 08:43] Matvey16 commented on #18017
Not reproducible anymore

[2022-11-09 08:44] yoni-yad2 commented on #18149
MySQL/MariaDB:
[code]

[2022-11-09 09:36] #16189 closed, assigned to E1izabeth, uslss

[2022-11-09 10:17] Amir0715 commented on #18150
@LonwoLonwo, Unfortunately, after deleting the file, the error remained

[2022-11-09 11:57] Donal-Goggin commented on #17657
I have this issue now too. It was working up until a few days ago and I can't figure out what changed. All settings releated to formatting are set correctly but they do nothing anymore.

[2022-11-09 12:02] #17348 closed, assigned to serge-rider, uslss

[2022-11-09 12:03] #18152 closed, assigned to E1izabeth, uslss

[2022-11-09 12:03] #18137 closed, assigned to flambchap, Matvey16

[2022-11-09 12:03] #18095 closed, assigned to uslss, LonwoLonwo

[2022-11-09 13:50] igor2x opened #18164 "Null pointer exception in Library tab with Information button"
### Description

When driver JDBC driver is deleted Information button is still enabled. Clicking on it produce _Null pointer exception_ error.

### DBeaver Version

Community Edition 22.2.4

### Operating System

Windows 10

### Database and driver

1. Database name and version: Db2 v11.5.8.0
2. Driver name and version: JDBC v4.31.10 and v4.32.28

### Steps to reproduce

1. Start DBeaver and menu

[2022-11-09 14:10] igor2x commented on #18145
I have now manage to get back the same version:
![image](https://user-images.githubusercontent.com/10895030/200851856-69b4c718-0237-4d22-b81a-4bc18a472ac5.png)
by selecting "parent" member and click on **Download/Update** button and in **Version** column select 11.5.8.0 and then **Download** button.

[2022-11-09 14:28] igor2x commented on #18164
Additional problem related to not properly grey out options.

1 - 3 steps the same as above.
4. Select driver from list and click on **Find Class** button.
5. _Driver class_ drop down box is filled up.
6. Select drivers and use **Delete** button to delete all of the drivers. But _Driver class_ drop down box is still filled with data.
![image](https://user-images.githubusercontent.com/10895030/2008

[2022-11-09 14:58] michaelcollinsedgov commented on #17847
@LonwoLonwo can you point me to the code that does this?

[2022-11-09 16:02] ShadelessFox commented on #18152
We aren't big fans of such bugs, too. But please, let's be more friendly to each other.

[2022-11-09 16:22] Smart-Bird-ADM opened #18165 "Snowflake query doesn't return result when lob column is selected"
### Description

When I run a select query to snowflake where table has a lob kind of column and if this column is used as an output column then query doesn't return result and just goes on and on.  if I remove lob column from select then result returned within a second or two.

if table1 has no lob columns then "select * from table1" returns result.
if table2 has a lob column then "select * from

[2022-11-09 18:47] serge-rider commented on #17395
Connection name was added to the error message (it is the error message from SQL editor)

[2022-11-09 21:33] joshcsmith13 commented on #18152
Forgive my harsh language.  I may have overreacted when I suspected that DBeaver was intentionally now going to act like a certain other database tool I have been stuck using for years which does not support right-click>copy and never will.  :(

[2022-11-09 23:19] Spongman commented on #18020
this definitely still reproduces. please reopen. Version 22.2.4.202211061524

[2022-11-10 00:44] liheyu719489316 opened #18167 "oracle modify column error"
### Description

![image](https://user-images.githubusercontent.com/8488480/200972540-ccc1030b-8f90-4041-a7d7-1c3641e789d1.png)

### DBeaver Version

22.2.4

### Operating System

windows 10

### Database and driver

_ORACLE_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-10 06:25] cniweb commented on #17730
@Matvey16 But the problem is that Eclipse wants to update to the Eclipse Java Package Version 4.25.0 when you update, so it is Eclipse 4.25.0 and no longer Eclipse 4.22.0.

[2022-11-10 08:00] LonwoLonwo commented on #18148
Thanks for the bug report @Maxdeneb

Closed as duplicate https://github.com/dbeaver/dbeaver/issues/17914

[2022-11-10 08:00] #18148 closed, assigned to nobody

[2022-11-10 08:01] LonwoLonwo commented on #17914
Do not forget about ' char (#18148)

[2022-11-10 08:04] LonwoLonwo commented on #12582
You can create a feature request ticket about this (update pg_dump) @swats-the-floran

I hope that pg dump 14 is compatible with the previous PG versions.

[2022-11-10 08:06] LonwoLonwo commented on #18142
Hello @pascalwilman28

Could you please specify this setting? For future questioners.

[2022-11-10 08:10] LonwoLonwo commented on #18149
Ok, thanks

[2022-11-10 08:16] LonwoLonwo commented on #17657
Hello @Donal-Goggin

Probably your issue is described here: https://github.com/dbeaver/dbeaver/issues/18131

[2022-11-10 08:20] LonwoLonwo commented on #17847
Hello @michaelcollinsedgov

Starting here https://github.com/dbeaver/dbeaver/blob/devel/plugins/org.jkiss.dbeaver.ext.postgresql/src/org/jkiss/dbeaver/ext/postgresql/edit/PostgreTableManagerBase.java#L132

If we are talking about partitions.

[2022-11-10 08:20] swats-the-floran opened #18168 "Update pg_dump version in windows dbeaver."
There is a postgresql 14 server. While i try to create a backup with dbeaver from windows i get an error that pg_dump 13 cannot work with postgresql 14 database. pg_dump in windows postgresql driver is needed.

[2022-11-10 08:21] LonwoLonwo commented on #17847
Do you have any other questions @michaelcollinsedgov ?
Or I can close this ticket?

[2022-11-10 09:55] Donal-Goggin commented on #17657
Yes that looks like my exact problem. Thank you for linking it

[2022-11-10 09:58] Donal-Goggin commented on #18131
+1 vote for this update being reverted. Convert case automatically should work on-the-fly like others have said. My queries just look "wrong" with the keywords in lowercase and pressing enter to get the uppercase working is just too much effort with how many keywords there can be.

[2022-11-10 10:46] E1izabeth commented on #18017
@brother-z, could you check if this issue is still actual for the latest DBeaver version? We can't reproduce it.

[2022-11-10 11:10] LonwoLonwo commented on #18164
Ok, Thanks for the bug report

[2022-11-10 11:13] iraidaa commented on #17934
Hi @Seasawher,

Please go to Window -> Preferences -> User Interface -> Editors -> Keys and in the 'Show key binding when command is invoked' field tick 'Through keybord':
![image](https://user-images.githubusercontent.com/49681450/201075399-1b48762e-d3ea-4f80-836c-f94ef595a5ab.png)

Then, please record a screen video if this issue occurs again so we can see the actions.

Thank you.

[2022-11-10 11:54] iraidaa commented on #18097
Hi @fa5fou5,

You can already add filters. Please check these articles https://github.com/dbeaver/dbeaver/wiki/Filter-Database-Objects, https://github.com/dbeaver/dbeaver/wiki/Configure-Filters.

[2022-11-10 12:24] ish1mura opened #18172 "Clickhouse table DDL generation syntax error"
### Description

Hello!
We use non-english table names in our Clickhouse DB.
There is an error when I open table DDL tab:
[code]
DBeaver runs this query and raises error above:
[code]
But if you quote table name, there isn't error:
[code]
Possible solution is to add quotes in file `plugins/org.jkiss.dbeaver.ext.clickhouse/src/org/jkiss/dbeaver/ext/clickhouse/model/ClickhouseMetaModel.java`:

[code

[2022-11-10 12:30] E1izabeth commented on #18172
Thank you for bug report.

In addition: we can't even create table with non-latin characters in name.

[2022-11-10 12:58] iraidaa opened #18173 "Auto-refresh button"
In this article https://github.com/dbeaver/dbeaver/wiki/Data-Refresh auto-refresh button looks like a clock:

![image](https://user-images.githubusercontent.com/49681450/201096656-da62ccbe-a137-4f4f-b24d-df4d3ae72490.png)

In the UI I don't have such a button. I have the one with arrows:
![image](https://user-images.githubusercontent.com/49681450/201096517-69cb0238-dffd-46e1-9e3a-6a6c3ef019e2.png)

[2022-11-10 13:31] james-s-w-clark opened #18174 "Export - encrypt with password"
**Is your feature request related to a problem? Please describe.**
1. Export project (with connections, that have passwords)
2. Import project
3. Imported connections still have passwords

The file leaks connection passwords, which could be a vulnerability.

**Describe the solution you'd like**
- When exporting project, let use opt-in (checkbox) to exporting with passwords
    -  If user opts-in t

[2022-11-10 13:32] #18122 closed, assigned to uslss, LonwoLonwo

[2022-11-10 13:33] #18084 closed, assigned to uslss, LonwoLonwo

[2022-11-10 13:35] #2316 closed

[2022-11-10 13:35] ShadelessFox commented on #18089
Hello @emanueol,

You can detach the editor by clicking the `Detach` menu item in the context menu. Perhaps this will help you.

[2022-11-10 13:39] ShadelessFox commented on #18133
Hello @alvinjg,

If I understand your case correctly, you have Eclipse with DBeaver installed as a plug-in and you're trying to run another Eclipse-based application in Eclipse?

Are you running your application as a standalone application or as a plugin?

[2022-11-10 13:44] ShadelessFox commented on #18150
Hello @Amir0715,

Perhaps update of Windows broke something. Try updating to the latest Windows version or rollback to the older one.

Please let me know if your issue was solved

[2022-11-10 13:45] uslss commented on #18150
seems to be similar to #13821

[2022-11-10 13:50] ShadelessFox commented on #18165
Hello @mnt1979,

Can you please provide sample DDL of such a table?

[2022-11-10 13:51] ShadelessFox commented on #18167
Hello @liheyu719489316,

Please provide more information about your problem. Additionally, please attach the error message as a text

[2022-11-10 13:51] ShadelessFox commented on #18168
Hello @swats-the-floran,

Thanks for the feature request

[2022-11-10 13:54] #9444 closed

[2022-11-10 13:56] ShadelessFox commented on #18174
Hello @IdiosApps,

Thanks for the feature request

[2022-11-10 13:59] WellspringCS commented on #2316
It being a 5 year old request, if I am reading this right, sounds like the feature is in. So I'd like to be the first to raise a toast! TY!

[2022-11-10 14:31] benjamin-zach commented on #6490
Neither drag&drop nor copy&paste seem to work when moving a folder containing connections from one project to another. Is this intended?
I'm using Version 22.2.3.202210231354

[2022-11-10 14:39] jrodriguezm04 opened #18175 "Network unavailable: javax.net.ssl.SSLHandshakeException"
### Description

I just installed dbeaver in my Windows 10 local machine.

Trying to connect to a PostgreSQL Database, it shows the following error message:

![image](https://user-images.githubusercontent.com/117922106/201119672-c884d10b-942f-4302-88cf-ced9955c413e.png)

And when I try to download the postgres drivers, it shows the same. Any idea?

Thanks in advance.

### DBeaver Version

Communit

[2022-11-10 14:41] gdcur commented on #18090
It happened to me to have the same issue with version "Version 22.2.4.202211062135 Nov 7th, 2022" on Windows 10 working on Athena.
The driver replacement with the old version worked for me.
Thank you Elizabeth.

[2022-11-10 14:52] mkeck217 opened #18176 "Oracle Substitution Variables using Ampersand ( & )"
### Description

Some Oracle  SQL*Plus functionality is not working well.  Where you can use an Ampersand Substitution Variable, it's not very robust

What Works:

-        SELECT &bubba FROM dual     will work ... you replace &bubba with   'Gump' and it will return    Gump

What doesn't Work:

-        SELECT &&bubba FROM dual    will produce a ORA-00923 FROM Keyword not found as the first Ampers

[2022-11-10 14:52] E1izabeth commented on #18090
Thank you for replying.

[2022-11-10 14:54] ish1mura commented on #18172
@E1izabeth
Try to copy and run this script on some Clickhouse DB (if it helps):
[code]

[2022-11-10 14:56] E1izabeth commented on #18172
I reproduced it, thanks.

[2022-11-10 15:17] bombillazo commented on #2316
Just tried it out and the feature is _almost_ there! :D It was awesome to see the suggestions lists, but one still has to press `Enter` to select the intellisense/autocomplete option listed, vs pressing `tab` to fill the best match.

[2022-11-10 15:21] MKEbrew commented on #2316
No wonder why I couldn't figure out how to turn it on.

[2022-11-10 15:23] E1izabeth commented on #2316
@bombillazo
Currently the completion proposal is automatically inserted only if there is only one proposal.
I guess it may be a new feature request to auto insert the best match from many proposals.

[2022-11-10 15:25] E1izabeth commented on #2316
@MKEbrew it will be available in the next release and turned on by default.

[2022-11-10 15:32] TheRealAstroboy commented on #18175
same here (after update) on old **Windows 7** computer with **DBeaver 22.2.4**

I tried to drop all connexions, remove Postgres driver and reinstall DBeaver, but Posgres driver is now missing

- update -

I tried to download Postgres driver with maven artifact and same error message :
_Network unavailable:
javax.net.ssl.SSLHandshakeException:PKIX path building failed: sun.security.provider.certpat

[2022-11-10 15:45] E1izabeth commented on #2316
@bombillazo wait, when exactly do you need Enter?
I tried it out and I need to press only tab to choose autocomplete proposal.
![Animation](https://user-images.githubusercontent.com/28875055/201139780-88195dc5-4559-4d70-98c5-9d2e2a4f737b.gif)

P.S. Implemented feature is not available right now automatically.

[2022-11-10 15:48] bombillazo commented on #2316
Ooh, I thought it was enabled. I was using the old experience still then. How do I enable it?

[2022-11-10 15:50] E1izabeth commented on #2316
@bombillazo We just implemented this feature, so it will be available only since 22.2.5.

[2022-11-10 15:53] emanueol commented on #18089
I/we know, but that's not what I suggest to request as an improvement on this ticket, thanks.

[2022-11-10 15:54] ShadelessFox commented on #18089
Unfortunately, we can't do anything regarding this issue on our side.

[2022-11-10 16:17] Smart-Bird-ADM commented on #18165
create or replace TABLE TDPR (
	O_ID NUMBER(38,0) NOT NULL,
	D_ID NUMBER(38,0),
	D_GRP_ID VARCHAR(50),
	D_DATE TIMESTAMP_NTZ(9),
	D_BY VARCHAR(100),
	LOB VARCHAR(100),
	S_NAME VARCHAR(250),
	S_ABBR VARCHAR(100),
	S_DB_NM VARCHAR(100),
	CHG_NUM VARCHAR(20),
	TASK_NUM VARCHAR(100),
	TASK_NAME VARCHAR(250),
	GRP_NAME VARCHAR(250),
	PAYLOAD VARCHAR(16777216),
	D_STATUS VARCHAR(20),
	PROCESS_TS TIMESTA

[2022-11-10 16:17] Smart-Bird-ADM commented on #18165
PAYLOAD is a CLOB like column in snowflake and defined as VARCHAR max.

[2022-11-10 16:33] E1izabeth commented on #18175
@jrodriguezm04, @TheRealAstroboy, please uncheck the `Use Windows trust store` setting in `Preferences->Connections` and restart DBeaver. It should help.
![image](https://user-images.githubusercontent.com/28875055/201152880-ed80eb8f-a4da-411d-81c2-327509c216e9.png)

[2022-11-10 16:35] davidnewcomb opened #18179 "Compare Database data option missing"
### Description

I keep reading that DBeaver can compare the data in different tables but can not find any options to actually do this!

On page: https://github.com/dbeaver/dbeaver/wiki/Data-compare

"Then choose Database ⇒ Compare/Migrate ⇒ Data Compare from the menu and the Data Compare Wizard will appear. Here you can preview selected tables or choose other ones. Then you can navigate to the se

[2022-11-10 16:44] ShadelessFox commented on #18165
I guess that the problem is that that column is just too big. Can you verify that it has data in it?

During the execution of that statement, is the amount of memory that DBeaver consumes spikes?

[2022-11-10 16:52] E1izabeth commented on #18179
I can reproduce it

![image](https://user-images.githubusercontent.com/28875055/201157189-35708271-47c5-4837-8ccf-056e254101d3.png)

[2022-11-10 16:53] LonwoLonwo commented on #18071
https://github.com/microsoft/mssql-jdbc/issues/176 interesting discussion

[2022-11-10 17:03] E1izabeth commented on #18179
@davidnewcomb this feature presented only in DBeaver PRO
https://dbeaver.com/edition/

[2022-11-10 17:04] davidnewcomb commented on #18179
Thanks. Then it's just a documentation update then please :)

Also, which version is the PRO version on that page? All of them or just Enterprise up?

[2022-11-10 17:10] E1izabeth commented on #18179
Updated.

This feature exists in Enterprise and Ultimate editions.

[2022-11-10 17:15] #18179 closed, assigned to nobody

[2022-11-10 17:28] E1izabeth commented on #16702
I think we need to rename
Confirm dangerous query execution -> Execute dangerous queries
Confirm massive parallel queries execution -> Execute massive parallel queries
Confirm drop table query execution -> Execute drop table queries

[2022-11-10 17:33] Zelphium opened #18181 "Right click in SQL editor deselects selected text"
### Description

Since the latest build, 22.2.4, selecting text and right clicking on the text deselects the text, making it impossible to use context menu operations such as 'morph to delimited list'.

### DBeaver Version

22.2.4

### Operating System

Windows 10

### Database and driver

_No response_

### Steps to reproduce

Open a SQL editor to a database. Enter text. Select text. Right click.

[2022-11-10 17:42] igor2x commented on #18147
I have been looking into this issue and I see OK and Cancel buttons are valid for all of the tabs, not just Library tab.

It is not going to be easy to fix this behavior, not to cancel out driver update. Maybe just put some "warning" like I have seen in other preferences dialogs, something like:

![image](https://user-images.githubusercontent.com/10895030/201167699-a983dc88-7b86-4a26-b0d2-9a34761a

[2022-11-10 18:09] E1izabeth commented on #18181
Thank you for bug report. It's a duplicate of #18152
Fix will be available in the next release.

[2022-11-10 18:09] #18181 closed, assigned to nobody

[2022-11-10 18:22] sou-gui-monteiro commented on #15381
Any news here? I'm facing the same issue.

[2022-11-10 18:22] ShadelessFox commented on #17242
Hello @ptarant,

Is the issue actual for you? We've changed the way filters work for numeric types. Previously, it was equal to `>= X`, not it's `= X`.

![image](https://user-images.githubusercontent.com/35821147/201175998-6db03a51-a447-4e08-92d8-f79d3c3793fb.png)

[2022-11-10 19:21] Spongman commented on #18020
nope, i take it back. this does work. apologies....

[2022-11-10 19:21] #18020 closed, assigned to Matvey16

[2022-11-10 19:23] E1izabeth commented on #18020
Thank you for your attention.

[2022-11-10 19:55] Smart-Bird-ADM commented on #18165
I tried running queries with limit 1 and limit 10, both returned result within couple seconds.  As soon as I ran another query with limit 25, it has not returned any result so far after 1700 seconds and there was no major memory spike in activity monitor.

[2022-11-10 21:05] E1izabeth commented on #15103
All issues except third point seems to be fixed for now.

@yevon could you give some example of such query where it's valid to have some statements containing just identifier inside begin..end section? DBeaver autocomplete identifiers only when you write them in some statement. For example,
[code]

[2022-11-10 21:07] amanda-mason opened #18183 "Export From Query not functioning correctly following update to 22.2.4"
### Description

Since the update to 22.2.4, the 'Export From Query' tool no longer functions and instead results in an Error message.

Normally, I am able to highlight/select a query and use the 'Export From Query' option to execute the query and export the result (as a csv) in a single action. (With the query highlighted, right-click to pull up the query menu, then select 'Execute', then select

[2022-11-10 21:18] amanda-mason commented on #18183
After further testing, it looks to be hanging up on blank lines within the query.
For instance, the first query below will allow 'Export From Query' to export successfully, whereas the second query (which is the same other than the empty line) results in an error stating that the column "car" does not exist:
select
      car
     ,driver
from race
;

select
      car

     ,driver
from race
;

[2022-11-10 21:32] E1izabeth commented on #18183
Please provide more information about the query you're trying to use for export and fail.

[2022-11-10 21:40] yevon commented on #15103
I will try to check it out as soon as I can, but there are some insights about this:

In Oracle begin / end statements are for executing any PL/SQL code, and as such it should be able to autocomplete anything in the form:

DECLARE --Autocompletion should work with a declare section or without it (If it doesn't do that already)
   l_var number;
BEGIN

     --Select statements
     SELECT count(*) i

[2022-11-10 21:42] E1izabeth commented on #15103
Thank you for your attention.

[2022-11-10 21:48] amanda-mason commented on #18183
Hi E1izabeth,
Thank you for the reply!
It is happening with any of my previously written queries (for which I used to be able to use this function), seemingly even the simplest of queries. I have pasted an example below.
[code]

The more I am testing, the more little clues I am finding: If I highlight the query above within an editor (containing other non-highlighted code), I will get the error on

[2022-11-10 21:54] E1izabeth commented on #18183
Probably blank lines cause this issue. Could you try unchecking `Blank lines as a statement delimiter` setting?
![image](https://user-images.githubusercontent.com/28875055/201213774-fb6617de-860d-4d8c-8238-c851e84a0e12.png)

[2022-11-10 21:57] ShadelessFox commented on #18165
Thanks for explaining. We'll look into that.

[2022-11-11 03:02] tchibatron opened #18187 "Fix typo in github actions"
### Description

<img width="1100" alt="image" src="https://user-images.githubusercontent.com/6930846/201253612-4b524263-df08-4d96-90f9-626066b2f393.png">
Fix typo in word "nember". Should be "number".

### DBeaver Version

N/A

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-11 03:52] zhangyangyu opened #18188 "DBeaver cannot load cert file with multiple certs inside correctly"
### Description

Trying to connect MySQL using SSL. On macOS, when I give the system cert bundle `/etc/ssl/cert.pem`, the connection fails and reports `Path does not chain with any trust anchors`. The server uses ISRG X1 CA so definitely it exists in `/etc/ssl/cert.pem`. But when I give the cert with only ISRG X1 CA cert inside, the connection succeed!

Seems DBeaver cannot load cert file with mul

[2022-11-11 03:53] zhangyangyu commented on #16631
I have met the same problem. I resolve it by passing a single cert. See https://github.com/dbeaver/dbeaver/issues/18188.

[2022-11-11 04:08] yuanyuan8983 opened #18189 "Doris incompatible connection"
### Description

When I use DBeaver to connect to Doris, an error occurs when I change the schema, but there is no problem in Doris. My operation at that time is add column I hope it is compatible with this part, because we use Doris more often.

ALTER TABLE nhm.collect_device ADD COLUMN compute_time bigint  NULL COMMENT "" AFTER out_traffic;

error:
2022-11-11 10:40:31,782 WARN (doris-mysql-nio-p

[2022-11-11 07:52] vincnetas commented on #18117
App crash log from one more Mac

Software:

    System Software Overview:

      System Version: macOS 13.0 (22A380)
      Kernel Version: Darwin 22.1.0
      Boot Volume: PRE Macintosh HD
      Boot Mode: Normal
      Computer Name: ******
      User Name: ******
      Secure Virtual Memory: Enabled
      System Integrity Protection: Enabled
      Time since boot: 9 hours, 57 minutes

Hardware:

[2022-11-11 08:33] alvinjg commented on #18133
Yes

We are developing plugins which are then installed to eclipse as standalone product. The actual product (eclipse based application) though does not package DBeaver plugins. We only install DBeaver in our development IDE. But during development when we run the application inside eclipse, it shows the error in the console log when application is startup/shutdown.
I have tried running a generic

[2022-11-11 08:51] jrodriguezm04 commented on #18175
@E1izabeth it worked!!! thank you so much for your response, have a nice day ahead :D

[2022-11-11 08:51] jmsanzg opened #18193 "Select error when one field is a string"
### Description

Just executing this leaves DBeaver unable to execute more queries or do anything.
select '' as a from dual

### DBeaver Version

Community Edition 22.2.0.202209051344

### Operating System

Ubuntu Linux

### Database and driver

MySQL 5.7.35
MySQL Driver 8.0.17

### Steps to reproduce

Just execute the following sentence
`select '' as a from dual`

### Additional context

_No resp

[2022-11-11 09:01] #18175 closed, assigned to nobody

[2022-11-11 09:04] Zelphium commented on #18181
Ah, thank you! I did look but couldn't see anything. Good to know a fix is on the way!

[2022-11-11 13:21] lorenzogatti opened #18194 "Easier removal of grouping columns"
The Grouping view shows a grid with the selected grouping columns and some calculated columns (by default "_count" for the number of rows in each group).
It is possible to select one or more grouping columns and undo the grouping with the "remove grouping column" button, but if the selected columns include "_count" the button does nothing (I assume because not all selected columns are grouping col

[2022-11-11 13:46] Katy1320 commented on #18078
Issue resolved with older versions of dbeaver

[2022-11-11 13:49] E1izabeth commented on #18078
Thank you for replying to us. We'll try to investigate this issue. It's not good that it can't work on the latest DBeaver version.

[2022-11-11 14:57] LonwoLonwo commented on #18183
Also, can you please check your query on this page? Is it your selected query?

![2022-11-11 17_56_05-Window](https://user-images.githubusercontent.com/45152336/201366142-71dee815-7b45-47cc-8b1b-6e9b54b3b390.png)

[2022-11-11 15:01] LonwoLonwo commented on #18187
Thanks for the report @tchibatron

[2022-11-11 15:04] fnicastri opened #18196 "Wrong Geography Point with SQLServer"
### Description

[code]

I have a table in SQLServer 2019 with geographical extensions.
The column Location is a Point.
When I open the table from the database and set Format -> Transform -> Geometry the result point is wrong.
`SELECT x.* FROM web.dbo.Csvs x` -> `POINT (0 119.51479153704105)`

In custom query where I can use STAsBinary() I get the right coordinates.
`SELECT Id, Location.STAsBinary

[2022-11-11 15:11] LonwoLonwo commented on #18193
Hello @jmsanzg

Please provide more info about your issue. Video or images can be beneficial.

For now, I can't reproduce.

![2022-11-11 18_09_35-Window](https://user-images.githubusercontent.com/45152336/201368437-b069c4bb-148a-4b3f-8175-1b032b5e64da.png)

[2022-11-11 15:22] mj162 opened #18197 "DB CE 22.2.4 Linux - Unhandled event loop exception: No more handles"
### Description

**1. Expected Behaviour**
1. Install from dbeaver-ce-22.2.4-linux.gtk.x86_64-nojdk.tar.gz
2. Launch dbeaver using existing java version "11.0.9" 2020-10-20 LTS
3. File > Open
4. Able to load source and continue working on it

**2. Observed Behaviour**
1. Install from dbeaver-ce-22.2.4-linux.gtk.x86_64-nojdk.tar.gz
2. Launch dbeaver using existing java version "11.0.9" 2020-10-20 L

[2022-11-11 15:33] haber-he commented on #9413
it have variable ${datasource}, but it doesn't work. looks like that's the bug.

[2022-11-11 15:44] jimrandell opened #18198 "Pass network profile as parameter in cli"
**I use[ Remote Desktop Manager ](https://devolutions.net/remote-desktop-manager/)to store my connections - would like to pass in the ssh profile**

- Remote Desktop Manager [launches dbeaver sessions](https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhxPpZI097Ti2k8QA14MSc7_MH0a0DFv8AxSGIhs_UT8e4DiMJ3RDVGtzUhZiVd-mloDgdNoQMTjeExIZHYBsVsquH9AXeD3rIw9QXOqszebCKMU2spv-dmzUyP-b8oH-LAyqTDEoztI

[2022-11-11 15:59] amanda-mason commented on #18183
Unchecking ``Blank line is statement delimiter`` solved the issue for the query posted above.
However, when I add back in my defined named query parameters (see query example below), it hangs up and asks me to bind the parameters (in v22.2.3 it would retain the highlighted parameters for use in the highlighted query for export). After I re-define the parameters, it will run, but you can understand

[2022-11-11 16:05] amanda-mason commented on #18183
I rolled back to v22.2.3 and did some comparisons; both show the selected query as beginning with `/*---------------------*/ select rpt_parent_client....`

The one difference I do notice is the behavior of the highlighted section at the time of right-click. In v22.2.3, the entire highlighted section remains highlighted as I right-click and select 'Execute' -> 'Export From Query'. However, in v22.2

[2022-11-11 16:08] #17395 closed, assigned to serge-rider, Matvey16

[2022-11-11 16:08] hlampert opened #18200 "SQL Editor: can't use right-click menu to copy selected text"
### Description

the right-click context menu no longer allows you to copy selected text.    Steps to reproduce:

1.  In the SQL editor, type any text and select it with the mouse.
2. right click.  The selected text becomes unselected and the copy option is greyed out on the context menu.

Expected behaviour:  selected text remains highlighted and copy option is available to copy the text.

### DB

[2022-11-11 16:09] #15886 closed, assigned to E1izabeth, Matvey16

[2022-11-11 16:09] #18164 closed, assigned to LonwoLonwo, Matvey16

[2022-11-11 16:10] #18187 closed, assigned to LonwoLonwo

[2022-11-11 16:21] amanda-mason commented on #18183
Ok, I think I have solved it (at least for this current sample query). It is the most trivial solution ever -
In v22.2.3 you can right-click anywhere in your highlighted section to then select Execute -> Export From Query. However, in v22.2.4, you MUST right-click at the very top of the highlighted section to actually execute everything you have highlighted, including defined parameters.
Right-cli

[2022-11-11 16:21] jmsanzg commented on #18193
Arrggg, sorry, please, remove the "as a". Just execute:

`select '' from dual`

I'm really sorry. Also, it doesn't happen with numbers, just with strings

[2022-11-11 17:32] mj162 commented on #18197
**7. SOLVED**
Uncertain from the Release Notes when the minimum supported version of GTK 3 was bumped.  By trial-and-error the results, tabulated below, were found.

| Version | Crashes | File Open/Save    |
| ------- | ------- | ----------------- |
| 22.2.4  | Yes     | Dialogue fails    |
| 21.2.4  | Yes     | Dialogue fails    |
| 21.1.5  | Yes     | Dialogue fails    |
| 21.1.0  | Yes     | Di

[2022-11-11 18:04] DasHammett opened #18201 "Unhandled event loop exception error"
### Description

Hi,
I am experiencing an unhandled event loop exception error when opening a pop-up window (search window, export dialog, etc).
Issue only happens when using row colors for the grid
The full error message is:
[code]
I attach log file with the error.
Please note the exception does not happen if I do not have row colors active
[dbeaver.log](https://github.com/dbeaver/dbeaver/files/9

[2022-11-11 20:40] E1izabeth commented on #18200
Thank you for bug report. It's a duplicate of #18152
Fix will be available in the next release.

[2022-11-11 20:40] #18200 closed, assigned to nobody

[2022-11-11 20:42] E1izabeth commented on #18197
Thank you for bug report and investigation.

[2022-11-11 21:38] brother-z commented on #18017
Installed 22.2.4 and it's still the same - username gets uppercased when connecting to database, but works when just testing the connection. My login is a single letter, maybe that's some weird corner case ;)

Logs from bastion server:

"Test tunnel configuration" button - works fine - login is `a`:
[code]

Connecting to database - "auth fail", login is `A`:
[code]

[2022-11-11 21:45] E1izabeth commented on #18017
Thank you for checking.

[2022-11-11 21:56] brother-z commented on #18017
OK, it's even more strange. I reconfigured connection to use `x` as login. Test connection uses `x`, server says no such user, but the login is proper, lowercase, so it picked up the change. But when I connect to database it still tries to use `A`, which happens to be my Windows user name... I tried on two different connections to same database and both behave the same, so it doesn't look like som

[2022-11-11 22:13] E1izabeth commented on #18017
Could you send me screenshots of ssh and database credentials pages from connection edit dialog?
(Please, erase or hide important information like username or ip address)

[2022-11-11 22:21] DV8SHN commented on #18140
I have just upgraded my Intel iMac to Ventura and can confirm that the GIT+ button and GIT menu are available there. Seems to affect only Apple Silicon...

[2022-11-11 22:39] brother-z commented on #18017
![db_00](https://user-images.githubusercontent.com/47743952/201439825-fe44b57f-47dd-44fa-8446-e97ac3eaf5a9.png)
![db_11](https://user-images.githubusercontent.com/47743952/201439844-a5880e7b-ff0c-42a2-83c7-dcc66af17e5f.png)
I hope I censored everything :).
The "proxy" and "SSL" sections are not used, all the other things are default. Also when I rollback to 22.2.0, the exact same config works perf

[2022-11-11 22:43] E1izabeth commented on #18017
Thank you so much for your investigation and help. I hope we will manage to reproduce it with  provided additional information or at least to find what could cause this issue.

[2022-11-11 22:46] brother-z commented on #18017
In my head it's something like off by one while checking configured username and then "if not username, default to Windows login", which might be some magic done behind the scene by the SSH library. But it's a pure guess, never looked at sources.

[2022-11-12 09:23] dominijk opened #18202 "Duckdb config access"
**Is your feature request related to a problem? Please describe.**
DuckDB has various config settings including access method (read only etc.), it would be good to have these in dbeaver. I'm using duckDB with Python and when you try to access the database in Dbeaver with python running you get an error due to file lock

**Describe the solution you'd like**
Same options to set a read only connectio

[2022-11-12 14:26] ShadelessFox commented on #18133
Can you send the entire log from Eclipse, please? We need to figure how DBeaver plugins were activated in the first place.

[2022-11-13 08:25] LonwoLonwo commented on #18183
The last issue is solved here: https://github.com/dbeaver/dbeaver/issues/18152
The fix will be available in the next release.

[2022-11-13 08:30] LonwoLonwo commented on #18193
I can do that too.

![2022-11-13 11_29_24-Window](https://user-images.githubusercontent.com/45152336/201512928-b1d63edc-5774-438e-97fb-794f4e628de0.png)

Please provide images, gifs, or videos of your issue.

[2022-11-14 02:08] 1013461195 opened #18205 "log file it's too big"
### Description

November 11th, my finish work to home. but work computer not shutdown. November 14 th, computer remind me space is not enough.
![截屏2022-11-14 上午10 05 04](https://user-images.githubusercontent.com/23392657/201560112-ee731ee7-c7b4-42bc-9cb7-e8544bd925cd.png)
![截屏2022-11-14 上午10 05 35](https://user-images.githubusercontent.com/23392657/201560145-ec5e03c0-c65c-4793-bf3f-9d0401971af9.p

[2022-11-14 04:49] ryanhinton commented on #18112
New version 22.2.4 (x86_64) Setup update Failed again.  3rd update in a row where this is happening now.
![image](https://user-images.githubusercontent.com/11085554/201577637-0e07532a-3340-48d0-a923-2f097e375e97.png)

[2022-11-14 08:27] jmsanzg commented on #18193
When I execute the query then the editor doesn't show the results and, for instance, I can no longer use CTRL+ENTER to execute a query.
![image](https://user-images.githubusercontent.com/768253/201610990-5320fe4b-7dd0-4ead-9db4-b4c972a61c97.png)

If I set a column name to that field then I get a valid result and the editor allows me to continue working using CTRL+ENTER
![image](https://user-images

[2022-11-14 08:44] rpalloni opened #18206 "Not adding foreign key link ('arrow') despite fk present in DDL"
### Description

When schema and data are imported from DB to SnowFlake via Fivetran, fk references are present in the DDL but the 'arrow' link (coolest feature evere!) is not created in columns cells.

### DBeaver Version

22.2.4

### Operating System

Windows 10

### Database and driver

SnowFlake

### Steps to reproduce

1 - Import data with fk in SnowFlake
2 - Check presence of FK in DDL
3 - A

[2022-11-14 08:44] LonwoLonwo commented on #18194
Ok, thanks for the report @lorenzogatti

As I can see now - DBeaver can't delete more than one column from the grouping panel. Probably multi-deleting can also be implemented in this ticket.

[2022-11-14 08:54] #18206 closed, assigned to nobody

[2022-11-14 08:56] LonwoLonwo commented on #18189
Hello @yuanyuan8983

Did you try to execute this query in the SQL Editor and it failed?

`ALTER TABLE nhm.collect_device ADD COLUMN compute_time bigint NULL COMMENT "" AFTER out_traffic;`

Or was this query created by DBeaver?

Can you provide steps for your issue?

https://doris.apache.org/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-COLUMN/

[2022-11-14 09:59] yuanyuan8983 commented on #18189
Yes, I succeed in Doris client, but fail in DBeaver

[2022-11-14 10:05] ShadelessFox commented on #18193
Hello @jmsanzg,

Can you please send the log files? You can find instructions here: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-11-14 10:16] jmsanzg commented on #18193
Log file after executing the query: [18193.log](https://github.com/dbeaver/dbeaver/files/10001953/18193.log)

[2022-11-14 10:22] #17219 closed, assigned to uslss, LonwoLonwo

[2022-11-14 10:25] ShadelessFox commented on #18193
The issue was fixed in #17719 and the fix is available in DBeaver 22.2.2.

Please upgrade to a newer version and let me know if your issue was solved.

[2022-11-14 10:36] LonwoLonwo commented on #18205
Thanks for the report @1013461195

We probably need to begin to limit the size of our debug-log file. 100 Mb can be enough. And we can add info about the size in the Preferences -> User Interface -> Error logs page

[2022-11-14 10:45] LonwoLonwo commented on #18202
Hello @dominijk
Did you try to use this setting in the Connection Settings?

![2022-11-14 13_43_24-Window](https://user-images.githubusercontent.com/45152336/201640652-1a7a5ba1-902a-4272-a7e9-9bb5be4a00f9.png)

Or maybe this one in the toolbar?

![2022-11-14 13_43_54-Window](https://user-images.githubusercontent.com/45152336/201640663-08a4f817-9794-4c85-8917-fba404a0c67c.png)

[2022-11-14 10:56] #17823 closed, assigned to uslss

[2022-11-14 11:44] stevenvdbosch opened #18207 "Database navigator connection host info is wrong when using connect by url"
### Description

When using connect by Url instead of connect by Host, the host info in the database navigator is displayed as "localhost" instead of the actual targeted host. In my case i connected with an external ms sql server. See attached screenshot of the database navigator.

My expectation was that when "connect by url" was chosen, the host would get parsed from the url and not show "localh

[2022-11-14 12:14] chipmunkofdoom2 opened #18208 "Multiple results tabs opening when executing script under Apache Spark connector"
### Description

When executing a script on an Apache Spark connection, a results window gets opened for each statement whether results are returned or not. Consider the following query:

[code]

On other connections (tested on MS SQL Server), one result window is opened, which is expected since there is one SELECT statement. On Apache Spark, however, four tabs are opened, one for each statement.

[2022-11-14 12:39] ArturV93 commented on #9107
Any updates?

[2022-11-14 12:48] E1izabeth commented on #17489
Probably connected with #18197

[2022-11-14 12:52] E1izabeth commented on #18207
Thank you for bug report.

[2022-11-14 14:12] kingmanzhang commented on #8344
Not sure whether the issue is fixed. On Mac Montery, I have this error:

no mssql-jdbc_auth-9.2.0.x64 in java.library.pat

with DBeaver version 22.2.4

[2022-11-14 14:26] Destrolaric commented on #18197
@mj162 Hi, I see you have a pretty old version of GTK. You can solve it by updating it via your package manager. `apt-get update` should help with that.
 And we should probably add info about min lib requirements in our wiki.

[2022-11-14 14:32] Destrolaric opened #18209 "Add minimal system and library requirements"
### Description

We don't have a DBeaver minimum library requirement in our wiki. This isn't nice for users with old software or hardware because they cannot know if DBeaver will launch on their system. We probably should at least add Linux software requirements for the client.

### DBeaver Version

Any version

### Operating System

Any OS

[2022-11-14 14:35] Destrolaric commented on #18197
Linked ticket about wiki https://github.com/dbeaver/dbeaver/issues/18209

[2022-11-14 16:54] mj162 commented on #18197
@Georgii Hi,

No. Where a thin client or other device where the flash is write-
locked by the manufacturer is being used, nothing can be run that
changes the OS and remain manufacturer-supported.

Will migrate real soon now but with popular apps being published
in formats that defy OS EOL, there's no hurry for the most part.

----- Original Message -----
From: Georgii ***@***.***>
To: dbeaver/dbea

[2022-11-14 17:08] endy-imam opened #18215 "Unable to Export Multiple Query as Highlight Multiple Query Gets Removed On Right Click"
### Description

This feature where I can export CSV files from multiple queries had been working for a long while where I click and hold to highlight all the queries I want to run in order to output files per query by [Execute] > [Export From Query] from right-click menu.

All of a sudden as of last week, whenever I try to right-click after highlighting all of the queries I want to run, it remove

[2022-11-14 17:22] E1izabeth commented on #18215
Thank you for bug report. It's a duplicate of https://github.com/dbeaver/dbeaver/issues/18152
Fix will be available in the next release.

[2022-11-14 17:22] #18215 closed, assigned to nobody

[2022-11-14 17:59] fcole90 commented on #18131
Hi, I report having the same exact issue. Keywords such as `SELECT` do not get _uppercased_ on the fly anymore when pressing space (with enter it works instead).

Until 22.2.3 it worked as I described and it stopped with 22.2.4 :blush:

[2022-11-14 21:20] GiraldoP opened #18216 "Keyword Auto-Captialization No Longer Working"
### Description

I recently updated to 22.2.4 and found that the auto-capitalization of keywords (FROM, SELECT, etc.) has been removed after pressing the space bar. I attempted to resolve the issue, to no avail, by adjusting the global formatting under the Preferences via the following steps: Window > Preferences > Editors > SQL Editor > Formatting > Keyword case: Upper > Apply and Close.

### DBe

[2022-11-14 21:28] E1izabeth commented on #18216
Thank you for bug report.
It's a duplicate of #18131

[2022-11-14 21:28] #18216 closed, assigned to nobody

[2022-11-15 04:02] jmcastagnetto commented on #15535
Just an FYI, there seems to be a set of Java libs for Apache Arrow and related (Flight, Flight SQL, etc.), available at Maven: https://search.maven.org/search?q=g:org.apache.arrow%20AND%20v:10.0.0

Might also be useful for the issue #13033 here

[2022-11-15 05:57] pengwanli opened #18220 "Can't parse Presto map(varchar, varchar) format"
### Description

from version 21.3.0 , It can parse Presto map, can't parse Presto map(varchar, varchar). In version 21.2.5 it can parse Presto map and map(varchar, varchar), I see this data with entering F7

### DBeaver Version

22.2.4

### Operating System

window 10

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-15 07:58] Matvey16 opened #18221 "SSH credentials field is not properly resized"
### Description

Changing SSH uthentication from Agent to password/key don't resize the window and text fields for credentials are missing
Workaround: Manually resize the window for at least 1 pixel and it will resize automatically.

### DBeaver Version

22.2.4

### Operating System

Win11

### Database and driver

Any

### Steps to reproduce

1. Create a cannoection with SSH tunnel that uses Agen

[2022-11-15 08:42] liheyu719489316 commented on #18167
@ShadelessFox
When I modify a column, an SQL statement is created.
![image](https://user-images.githubusercontent.com/8488480/201870964-dc7ad7ab-0243-44f4-8f3b-bf1ffc14086a.png)
An error occurred when I ran the SQL statement.
![image](https://user-images.githubusercontent.com/8488480/201871552-a7093527-f9f3-4685-bf30-92a0d652ebeb.png)

[2022-11-15 08:43] LonwoLonwo commented on #18220
Hello @pengwanli

Please provide more info about your issue. Foto or video can be beneficial.

Also, could you please provide the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-11-15 08:45] LonwoLonwo commented on #18196
Hello @fnicastri

Please provide a sample table DDL and sample data for this table.

[2022-11-15 09:03] pengwanli commented on #18220
Hello @LonwoLonwo
# dbeaver-debug.log

# .log

!MESSAGE Invalid preference category path: org.eclipse.debug.ui.ConsolePreferencePage (bundle: org.eclipse.ui.console, page: org.eclipse.ui.internal.console.ansi.preferences.AnsiConsolePreferencePage)

!MESSAGE Can't fetch database data types: SQL 错误: Method DatabaseMetaData.getTypeInfo is not yet implemented

# metaData

[2022-11-15 09:09] LonwoLonwo commented on #18220
Thanks.
But this is the cropped version. Could you please provide a complete log version?

Additionally, please provide more info about your database and driver.

[2022-11-15 09:14] pengwanli commented on #18220
# before
![image](https://user-images.githubusercontent.com/21196591/201878561-9471784a-e129-4d4d-ae0b-8b1a3e52478e.png)
![image](https://user-images.githubusercontent.com/21196591/201878853-f6402e74-d135-4f36-ad51-c6cc24018d62.png)

# now
![image](https://user-images.githubusercontent.com/21196591/201878639-bba1ff1d-2b94-43b2-b0a4-2a75cb05d069.png)

* presto version is 0.155
@LonwoLonwo

[2022-11-15 09:19] pengwanli commented on #18220
# .log
!SESSION 2022-11-15 17:16:24.426 -----------------------------------------------
eclipse.buildId=unknown
java.version=11.0.12
java.vendor=Eclipse Foundation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=zh
Command-line arguments:  -os win32 -ws win32 -arch x86_64

!ENTRY org.eclipse.ui 2 2 2022-11-15 17:16:28.866
!MESSAGE Invalid preference category path: org.eclipse.debug.ui.Co

[2022-11-15 10:40] jmsanzg commented on #18193
Fixed from that version. Next time I'll try to search better. Thank you!

[2022-11-15 10:40] #18193 closed, assigned to nobody

[2022-11-15 11:17] Destrolaric commented on #18197
@mj162 Unfortunately issue with unsupported GTK comes from our framework. We currently use Eclipse 2022/09 for our build, so all libraries are inherited from it.

[2022-11-15 11:42] dominijk commented on #18202
Thanks for that, i went back and set as read only but still get the same lock error on mine. I'm using DuckDB 0.6.0. My set up is:

1. Create db through python
2. Set python connection as read_write
3. Open dbeaver create new connection as read only
4. Returns error `IO Error: Could not set lock on file "/Users/Shared/duckdb/testduck.db": Resource temporarily unavailable`

[2022-11-15 12:03] dominijk commented on #18202
This can be closed as https://github.com/duckdb/duckdb/discussions/3096
DuckDB (0.6.0) can be either
- single read-write
- multiple read-only

[2022-11-15 12:03] #18202 closed, assigned to nobody

[2022-11-15 12:14] #17489 closed, assigned to Destrolaric, uslss

[2022-11-15 12:36] ShadelessFox commented on #18167
I need a textual representation of that error message, so I can translate it since I don't know your language, sorry.

[2022-11-15 12:49] mj162 commented on #18197
@Georgii, Sure, and I should appreciate that I have other tools that
the developers have built on Eclipse.  Thank you.

----- Original Message -----
Date: Tue, 15 Nov 2022 03:17:48 -0800
From: Georgii ***@***.***>
To: dbeaver/dbeaver ***@***.***>
Cc: mj162 ***@***.***>, Mention
***@***.***>
Subject: Re: [dbeaver/dbeaver] DB CE 22.2.4 Linux - Unhandled event loop exception:
No more handles (Issue #

[2022-11-15 13:22] ghost commented on #3052
+1 for this

[2022-11-15 13:38] #17204 closed, assigned to ShadelessFox

[2022-11-15 13:38] #18131 closed, assigned to E1izabeth, Matvey16

[2022-11-15 14:23] LonwoLonwo commented on #18202
Thanks for the answer and investigation @dominijk

[2022-11-15 15:30] fnicastri commented on #18196
I need permission to share anything from that project, I'll try

[2022-11-15 15:45] wistlo commented on #17882
I may try to make sure the project exists in the workspace, time permitting.  I am not exactly sure how that works; I use projects for bookmarks connections, etc., but I tend to open .sql source directly via file manager (either directly from File Explorer or Everything 1.5a, or in dB's internal  File -> Open ).

If I can remember to consistently include source in the workspace, that's a workaroun

[2022-11-15 15:52] Matvey16 opened #18223 "[influx] Incorrect arrow in column filter"
### Description

We have opposite arrows for ascending and descending columns in Influx2

### DBeaver Version

22.2.4

### Operating System

Win11

### Database and driver

InfluxDB 2

### Steps to reproduce

1. Click on arrow in colun header

**Expected:** Downward arrow sets descending sorting
**Actual:** Upward arrow sets descending order

### Additional context

![dbeaver_3OXU71ChT0](https://u

[2022-11-15 16:05] michal-bartak commented on #6591
I was just notified by my co-worker that the automatic upper case stopped working after installing the most recent version (he had some 'ancient' version - probably year or two old - on the previous notebook, though).

Simply entering 'select' it doesn't turn into SELECT

The editor is connected to db, while writing. I have both settings set:
![image](https://user-images.githubusercontent.com/7868

[2022-11-15 16:13] #16552 closed, assigned to serge-rider, uslss

[2022-11-15 16:13] #18071 closed, assigned to uslss, LonwoLonwo

[2022-11-15 23:15] owendw1 opened #18227 "Auto format: Convert keyword case not working in 22.2.4"
### Description

Since upgrading to 22.2.4, the "Convert keyword case" functionality doesn't seem to work. When typing SQL statements in an SQL Editor, the automatic conversion of keywords to uppercase is no longer happening.

For example, "select * from mytable;" should convert to "SELECT * FROM mytable;" automatically as I type.

I've checked and the correct settings are in place:
1) Editors ->

[2022-11-16 00:24] E1izabeth commented on #18227
Thank you for bug report.
It's a duplicate of #18131

[2022-11-16 00:24] #18227 closed, assigned to nobody

[2022-11-16 08:17] LonwoLonwo commented on #18189
Could you please provide the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-11-16 10:22] #17057 closed, assigned to ShadelessFox, Matvey16

[2022-11-16 11:54] LonwoLonwo commented on #8303
Ok, I can suggest now, if you do not have an auto-commit mode for PostgreSQL connection, these steps:

- Set your connection setting "Open separate connection for metadata read" to "Always".

![2022-11-16 14_39_14-Connection _postgres12local manual commit_ configuration](https://user-images.githubusercontent.com/45152336/202171930-3ecc9ee9-f9c7-44f5-8819-3b1df8ec35f9.png)

"Open separate connectio

[2022-11-16 12:32] #17520 closed, assigned to Destrolaric, uslss

[2022-11-16 12:58] #16238 closed, assigned to uslss, ShadelessFox

[2022-11-16 12:59] LonwoLonwo commented on #8303
Additionally, we found some strange queries from the PostgreSQL driver side:

![2022-11-16 15_17_43-DBeaver Ultimate 22 2 5 - Sessions - postgres12local manual commit](https://user-images.githubusercontent.com/45152336/202185113-651a9d52-bc1c-4b59-91f3-d1882d00c78f.png)

![2022-11-16 15_48_55-DBeaver Ultimate 22 2 5 - Sessions - postgres Manual Commit](https://user-images.githubusercontent.com/451

[2022-11-16 13:20] miltonchirinos44 commented on #18209
@Destrolaric I agree with what you mentioned lately dbeaver has been making changes in his project which is affecting cloudbeaver's project,
this issue should be looked into

[2022-11-16 14:07] uslss opened #18233 "NPE appears in Create connection dialog in case of switching from SQL Server jtds to sybase jtds"
### Description

NPE appears in Create connection dialog in case of switching from SQL Server jtds to sybase jtds

### DBeaver Version

22.2.5

### Operating System

win10

### Database and driver

Sybase JTDS and SQL Server jtds

### Steps to reproduce

1. Open Create connection window
2. Choose SQL Server JTDS and click next
3. Back to Choose Database page
4. Choose Sybase JTDS and click next -

[2022-11-16 14:26] #16932 closed, assigned to Destrolaric, Matvey16

[2022-11-16 15:16] renezito opened #18235 "When select more than 1 column, last row is not selected"
### Description

Hi.  When u select a column, then select another one, you will see that the last row is not selected.
See the example in the picture:
![dbeaver seleccionar columnas-no toma ultima fila](https://user-images.githubusercontent.com/37661233/202219280-fd0bc24a-b68b-41e8-9720-5f963b549986.jpg)

### DBeaver Version

Community Edition 22.2.4

### Operating System

Windows 10 Pro

### Data

[2022-11-16 15:56] alvinjg commented on #18133
Attached are the logs generated by Eclipse IDE and Eclipse Application. I found that the Dbeaver Error is only logged in Console view (not in .metadata/log of the application) so I included the console view log.
[EclipseAppConsoleView.txt](https://github.com/dbeaver/dbeaver/files/10023455/EclipseAppConsoleView.txt)
[EclipseAppInIDE.log](https://github.com/dbeaver/dbeaver/files/10023456/EclipseAppI

[2022-11-16 16:01] rock-it-rob opened #18237 "Bind variables don't work in plpgsql blocks"
### Description

In DBeaver community version 21.2.4 the following plpgsql code block would prompt for the value of the bind variable. As of the latest version it generates an error.

[code]

### DBeaver Version

Community 22.2.4

### Operating System

Windows 10

### Database and driver

Postgresql

### Steps to reproduce

Execute the code in the description.

### Additional context

_No response

[2022-11-16 16:10] da20rs commented on #18131
I just updated my version and also missed the "on the fly auto-upper" of keywords. If it was a bug, it was a beautiful butterfly, please don't kill it  =P

[2022-11-16 16:14] E1izabeth commented on #18131
Fix will be available in the next release.

[2022-11-16 16:28] mnisius opened #18238 "Changing the zoom level in large ER diagrams is very slow"
### Description

Hi,

we have a very large schema with over 2500 Tables. DBeaver takes around 2-4 Minutes to render the ER diagram. Which is fine because it's very large. However what bothers me is that if I change the zoom level DBeaver freezes for 2-4 Minutes again. Is there any way this could be faster? Because without changing the zoom level I cannot use the ER diagram at all.

### DBeaver Ver

[2022-11-16 16:42] apurvc opened #18239 "Connection to Bigquery is failing"
### Description

Bigquery connection has started failing with **PKIX path building failed** error

### DBeaver Version

comunity 22.2.4

### Operating System

Windows 10

### Database and driver

BigQuery Connection using https://storage.googleapis.com/simba-bq-release/jdbc/SimbaJDBCDriverforGoogleBigQuery42_1.2.23.1027.zip (latest) or
https://storage.googleapis.com/simba-bq-release/jdbc/SimbaJDBC

[2022-11-16 18:35] yoni-yad2 opened #18243 "Show DB version in tooltip after connecting"
It would be useful to have the DB version showing in the connection tooltip after establishing a connection.

[2022-11-16 21:09] #18233 closed, assigned to uslss, LonwoLonwo

[2022-11-16 22:44] serge-rider commented on #18221
Fixed in another ticket in 22.2.5

[2022-11-17 00:30] ShadelessFox opened #18246 "Spatial Presentation: NPEs during first initialization"
### Description

An NPE is thrown when the spatial presentation is initialized for the first time:

[code]

### DBeaver Version

DBeaver 22.2.5

### Operating System

_No response_

### Database and driver

_No response_

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-17 03:48] Anarios commented on #344
Has this been deleted?

[2022-11-17 08:46] Destrolaric commented on #18238
@mnisius Hi, unfortunately, as a side effect of zooming, we remake routing for all relations. We probably should look if we can avoid that. Thank you for the information.

[2022-11-17 09:09] iraidaa commented on #18153
Hi @Douglassharris12,

Please answer some questions.

What are the databases you work with?
Do you use Tools -> Create new task -> Data export option?
Please provide some screenshots or a piece of data to reproduce the issue.
Could you please send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

Thank you.

[2022-11-17 10:15] E1izabeth commented on #18237
Please, check that the setting `Enable parameters in DDL and $$..$$ blocks` is turned on.
![image](https://user-images.githubusercontent.com/28875055/202419656-c828f819-612a-4d02-9c7c-e543db6c2351.png)

[2022-11-17 11:27] LonwoLonwo commented on #18239
Hello @apurvc

Can you please try this advice? https://github.com/dbeaver/dbeaver/issues/18175#issuecomment-1310567139

[2022-11-17 11:33] Matvey16 commented on #18043
@Achilles-Wang
Reinstall doesn't reset workspace, I meant the internal tool https://github.com/dbeaver/dbeaver/wiki/Reset-workspace
This can also help https://github.com/dbeaver/dbeaver/wiki/Reset-UI-settings

[2022-11-17 11:38] LonwoLonwo commented on #18014
Hello @mimo76

Maybe this advice can help you. https://github.com/dbeaver/dbeaver/issues/17542#issuecomment-1239616214

[2022-11-17 11:50] johanyulian92 commented on #17804
Thanks for the questions

[2022-11-17 11:55] ghiki opened #18248 "Dbeaver not showing all SQL queries in session browser"
### Description

When I go to session browser, some sessions not showing thew SQL queries from the session (this is specially useful for monitoring locks in database tables).
![imagen](https://user-images.githubusercontent.com/854302/202438669-0c1edbf6-4866-4ff4-8bf7-72cc2023b7b5.png)

But if I query with:
`SELECT SYSDATE,
vs.process         PID_OS,
vh.inst_id INST_BLOQUEANTE,
vh.sid SID_BLOQUEANT

[2022-11-17 12:22] sergiu79 commented on #3148
I am also voting for this feature, did anyone found an workaround?

[2022-11-17 12:34] E1izabeth commented on #18196
@fnicastri
It could be not exact that project's table ddl and/or data, just any minimum example to reproduce.

[2022-11-17 13:02] LonwoLonwo commented on #18243
Thanks for the idea

[2022-11-17 13:03] liuzhe101 opened #18249 "Set shortcut keys"
How should I set the shortcut keys for executing sql and opening the sql editing window

[2022-11-17 13:06] E1izabeth commented on #18249
You can change key binding in `Preferences->User Interface->Keys`
![image](https://user-images.githubusercontent.com/28875055/202454428-680510d7-6c08-426a-a668-1ff09fb193d4.png)

[2022-11-17 13:43] hawkdoc-mtp opened #18252 "DBever tries to connect to wrong port"
### Description

I thought this would be straight forward. Add the host: server\Instance
The port is automatically filled when SQL Server is selected : 1433

Add the database I want opened: DatabaseName

Drivers downloaded

Authentication. I'm trying AD Integrated but also created a Sql Server Authenticated user. Both give the same error.

Test Connection: "The TCP/IP
![DBeaver](https://user-image

[2022-11-17 13:51] ShadelessFox commented on #18176
Thank you for your request.

[2022-11-17 13:55] ShadelessFox commented on #18188
Thank you for your report.

Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-11-17 13:57] ShadelessFox commented on #18198
Thank you for your request.

[2022-11-17 14:00] ShadelessFox commented on #18201
Thank you for your report.

[2022-11-17 14:02] ShadelessFox commented on #18208
Hello @chipmunkofdoom2,

Can you please show the contents of the created result tabs in the case of the Apache Spark database?

[2022-11-17 14:05] ShadelessFox commented on #18220
Hello @pengwanli,

Unfortunately, such small portions of logs are not suitable for us. Can you please send full logs, attached as files, instead?

Additionally, what database is used behind Presto?

[2022-11-17 14:05] Destrolaric opened #18253 "Browser image viewer improvements"
### Description

We should improve the following things:
1. Handling of image streams
2. Handling of non-image values
3. (Possibly) Remove busy spinning

### DBeaver Version

Edition 22.2.5

[2022-11-17 14:11] #17040 closed, assigned to Destrolaric, uslss

[2022-11-17 14:13] ShadelessFox commented on #18235
Hello @renezito,

Thank you for your report.

As a workaround, you can manually select each column while holding the `CTRL` key.

[2022-11-17 14:17] liuzhe101 commented on #18249
thank you very much

[2022-11-17 14:17] #18249 closed, assigned to nobody

[2022-11-17 14:19] ShadelessFox commented on #18021
Hello @Spongman,

This dialog comes from Eclipse. It has nothing to do with database connectivity.

Please consider choosing to use the agent here:

![image](https://user-images.githubusercontent.com/35821147/202470510-c72e21db-bcb1-4ae4-9b21-8da37b335139.png)

Please let me know if your issue was solved.

[2022-11-17 14:19] LonwoLonwo commented on #18248
Hello @ghiki

![2022-11-17 17_18_15-DBeaver Ultimate 22 2 5 - Sessions - orcl](https://user-images.githubusercontent.com/45152336/202470382-5bce8130-3cef-4d03-b41a-7030d5591001.png)

![2022-11-17 17_18_36-Window](https://user-images.githubusercontent.com/45152336/202470391-a4b3c7f9-0921-4d33-aa44-3d73d994ed13.png)

Hello @ghiki
Did you try to check these buttons in the Session Manager?

[2022-11-17 14:22] ShadelessFox commented on #18252
Hello @hawkdoc-mtp,

Are you using SSH?

[2022-11-17 14:29] ShadelessFox commented on #17993
Thank you for your report.

First of all, we need to unify all the SSL pages scattered across multiple databases. After that, we will be able to allow passing parameters for them via CLI.

[2022-11-17 14:37] chipmunkofdoom2 commented on #18208
@ShadelessFox They are all empty, except for the SELECT * results:

Results for CREATE TABLE:

![image](https://user-images.githubusercontent.com/6616926/202474821-8f4e5cef-a025-49d0-8235-63a50f45533e.png)

Results for INSERT INTO:

![image](https://user-images.githubusercontent.com/6616926/202474887-fd2c949a-86c8-45b0-a667-4e0be2923f1b.png)

Results for SELECT *:

![image](https://user-images.git

[2022-11-17 14:38] ShadelessFox commented on #18133
Hello @alvinjg,

I'm sorry for the late response.

I can see that in your configuration you're running your application will ALL plugins from the workspace (including DBeaver's ones)

You need to configure plugins manually and exclude unnecessary ones:
![image](https://user-images.githubusercontent.com/35821147/202475133-1ba752a6-d948-4373-a59c-b3e1d0dbb5a5.png)

[2022-11-17 14:40] ShadelessFox commented on #18208
Thank you. Looks like an issue on the driver's side.

Unfortunately, as of now, we don't have the environment for testing.

[2022-11-17 15:29] hawkdoc-mtp commented on #18252
No. Very straight forward connection on default port.

[2022-11-17 15:49] ghiki commented on #18248
Yes, I can see the session (machine PID, DB SID, logon time, client...),
but not the SQL statement

[2022-11-17 16:16] rock-it-rob commented on #18237
That was it!

Thanks

[2022-11-17 16:16] #18237 closed, assigned to nobody

[2022-11-17 16:19] chipmunkofdoom2 commented on #18208
@ShadelessFox Are there any settings I can change or play around with on the driver? Or in DBeaver?

If you need a Spark dev environment, it's fairly straightforward to stand up a single node Spark cluster in standalone mode. Just tested these commands in an LXC container running Ubuntu 22.04:

[code]

Next, add a Spark connection in DBeaver. For the host, use the IP/name of the machine hosting Sp

[2022-11-17 16:52] E1izabeth commented on #17962
Does this issue still actual for the latest DBeaver version?

[2022-11-17 16:52] E1izabeth commented on #17955
Does this issue still actual for the latest DBeaver version?

[2022-11-17 18:19] Spongman commented on #18021
Not sure what you mean, I don't have Eclipse installed.

[2022-11-17 18:20] ptebault opened #18258 "Data Transfer output parameter variables malfunction when used more than once"
### Description

The first variable that is mentioned, when used the second time, will apply the variable name as a string.

(Examples below were tested on 2022-11-17)

Example (in the output directory parameter)
/some/path/${year}/${year}-${month}/${year}-${month}-${day}

Will result in:
/some/path/2022/${year}-11/${year}-11-17
(Note that year is the first variable, and it works for the first ins

[2022-11-17 18:27] jcrben opened #18259 "Show Global Filter button does not show in community edition"
### Description

Saw this in the documentation https://dbeaver.com/docs/wiki/Configure-Filters/
<img width="756" alt="image" src="https://user-images.githubusercontent.com/5614134/202527390-c54393b3-6750-4afb-a956-fa96a1dcac8f.png">

Meanwhile I see this on my Macbook - I gather from a screenshot online that it should be on the right of the Enable button.
<img width="458" alt="image" src="https://

[2022-11-17 21:29] ShadelessFox commented on #18208
Wow, thank you! I believe this would be enough.

[2022-11-17 21:33] ShadelessFox commented on #18021
Sorry for confusing you. You see, DBeaver is built on top of the Eclipse platform, which itself brings a lot of things like this dialog. As I said, it has nothing to do with database connectivity.

Please ignore this dialog and stick with our native support for SSH agents.

[2022-11-17 21:35] ShadelessFox commented on #18259
Hello @jcrben,

The `Configure ... filter` is what you are looking for.

Sorry for confusing you with outdated documentation. We will update it.

[2022-11-17 23:41] cbuzzsaw commented on #18101
Windows Trust Stores don't seem to work as expected.

When simply using the Windows Trust Store, dbeaver cannot validate a certificate issued from an intermediate Issuing CA coupled with the trusted Root CAfrom the Windows Trust Store.

Scenario:
Root CA Certificate installed/trusted in Computer's & User's "Trusted Root Certification Authorities" windows store.
Intermediate Issuing CA certificate

[2022-11-17 23:41] tati-kru commented on #17502
As @Destrolaric said, this behavior was implemented for a purpose, and we won't return an option to minimize the data transfer window. We recommend you to use tasks to avoid the described issues.

[2022-11-17 23:41] #17502 closed, assigned to nobody

[2022-11-18 03:47] zhangyangyu commented on #18188
[sslerror.log](https://github.com/dbeaver/dbeaver/files/10037564/sslerror.log)

@ShadelessFox PTAL. You can use any system builtin cert file to reproduce, usually it contains many certs inside one file.

[2022-11-18 07:21] ghYura commented on #9980
Do dots can move like ants dynamically?
_By the way, **any** dynamic representation in GUI should be adjusted via customisation dynamic/static extended menu adjustments (since some one doesn't like constantly blinking in the eyes, other one - would like to have constantly self-telling item being depictured)_

[2022-11-18 09:17] LonwoLonwo commented on #18248
Ok. Any examples of disappeared SQL Queries? Do you see any patterns?

[2022-11-18 09:34] ghiki commented on #18248
For example, at this time in the session browser:
![imagen](https://user-images.githubusercontent.com/854302/202669655-b34e2397-e103-4cef-a431-8ad9e535c135.png)

And much more sessions without the query (it only shows in 3 of 53 active sql sessions)

[2022-11-18 09:52] LonwoLonwo commented on #18248
Ok. And what queries should be there instead of null?

[2022-11-18 09:54] justinSmileDate opened #18261 "When developing a new JDBC connector, how to know which functions are called by the DBeaver client and what the required return value is."
**I'm working on DBeaver's JDBC connector for a new database. But I don't know which APIs DBeaver's clients need to call.**

I try to print jdbc-api-trace.log, but the content in the log seems to be unable to see which functions are called by the client.
I'm also looking for the function in the error log(main menu Window->Show View->Error Log) , but it doesn't feel right either.

The error log con

[2022-11-18 09:57] LonwoLonwo commented on #17146
![2022-11-18 12_53_16-Preferences](https://user-images.githubusercontent.com/45152336/202673699-9ebed53f-f331-431b-82ae-1fce9cff4691.png)

Hello @scottlapoint

Can you please change the values of this setting in your Preferences and then recheck your query?

[2022-11-18 10:57] divsri opened #18262 "Statistics is not available when executing multiple queries as one"
### Description

I am connecting to PostgreSQL DB using DBEAVER. During execution of Query i want to capture the timing of execution execution. How this can be achieved in DBEAVER.

### DBeaver Version

22.2.4.202211061524

### Operating System

Windows

### Database and driver

PostgreSQL Database

### Steps to reproduce

_No response_

### Additional context

_No response_

[2022-11-18 11:00] hski-github opened #18263 "INITCAP function in SAP HANA with syntax highlighting and intellisence"
I noticed is, that the INITCAP function in SAP HANA is not part of syntax highlighting resp. intellisence

![image](https://user-images.githubusercontent.com/1921015/202690360-1d1ca6d2-e8bf-488d-b887-a8ca57648975.png)

See INITCAP function definition for SAP HANA
https://help.sap.com/docs/SAP_HANA_PLATFORM/4fe29514fd584807ac9f2a04f6754767/d1e67902534d426180459ae45a264667.html

[2022-11-18 11:06] phildebrand commented on #9414
Removing the entries works for me too. Nice find!