[2021-06-02 14:00] Matvey16 opened #12708 "Active schema selection shows wrong options for SQL Server"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.0
-
#### Connection specification:
- Database name and version SQL Server
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Active schema button (Ctrl + 0) in SQL Editor gives an option to choose Database and Schema, but choosing any schema

[2021-06-02 14:14] MrApollo commented on #12701
Is there a way to save this filter setting for anyone accessing the database, not just myself.

[2021-06-02 14:14] DariaMarkaryan commented on #12639
Positive representation converts to negative on saving
![2021-06-02_17h13_02](https://user-images.githubusercontent.com/43252954/120496171-059c4380-c3c6-11eb-8243-44d972807bf1.gif)

[2021-06-02 14:15] serge-rider commented on #12707
Fixed

[2021-06-02 14:19] ShadelessFox commented on #12701
No, you can't.

If you're using MySQL, you can change the order using arrows shown below and persist it across the database:
![image](https://user-images.githubusercontent.com/35821147/120496786-88bd9980-c3c6-11eb-876b-4208ef3bec86.png)

[2021-06-02 14:21] plotn commented on #12558
Addition - bug with filter select
![dbeaver_typed_val_filter_bug](https://user-images.githubusercontent.com/11477081/120497285-f1a51180-c3c6-11eb-8c95-7d2ab31fcfac.png)

[2021-06-02 14:25] mib32 commented on #1885
Still there

[2021-06-02 14:34] MrApollo commented on #12701
My friend, you are truly a hero

[2021-06-02 14:34] #12701 closed, assigned to nobody

[2021-06-02 14:56] LonwoLonwo commented on #12601
Hello @maritogaleano
Sorry, can't reproduce

![2021-06-02 17_47_00-](https://user-images.githubusercontent.com/45152336/120501969-b60c4680-c3ca-11eb-988c-4e138bf8d08d.png)

![2021-06-02 17_47_45-DBeaver Enterprise 21 1 0 - _spserver rtdi io_ Script-29](https://user-images.githubusercontent.com/45152336/120501978-b6a4dd00-c3ca-11eb-9550-ff211cd4ff6f.png)

Video of incorrect behaviour will be very h

[2021-06-02 15:13] LonwoLonwo commented on #6813
Hello @geuss

Maybe the problem is what driver does not support multiple resultset, but in thread-dump I see method nextResults:

[code]

Can you please try to disable this setting in Edit Connection -> Edit Driver Settings -> Advanced parameters

![2021-06-02 18_09_35-Edit Driver 'Teradata'](https://user-images.githubusercontent.com/45152336/120506045-3c765780-c3ce-11eb-84e0-4c6d5b86389a.png)

[2021-06-02 15:19] akilovich commented on #11760
We already show the type of objects. Well, that's convinient.

[2021-06-02 15:38] DariaMarkaryan opened #12710 "An error occurs when saving a changes to a line in which there is an XML field"
#### System information:
- Windows 10, DBeaver CE 21.1.0, PostgreSQL 10

#### Describe the problem you're observing:
Even if the field with XML itself hasn't been changed, when you press **Save** btn an error occurs
#### Steps to reproduce, if exist:
Open a table with XML data -> try to change XML column or other fields -> error
![image](https://user-images.githubusercontent.com/43252954/120509803

[2021-06-02 15:41] DariaMarkaryan commented on #12639
Verified

[2021-06-02 15:41] #12639 closed, assigned to ShadelessFox, DariyaFedorova

[2021-06-02 15:41] MrApollo opened #12711 "Want to hide Databases from specific users"
![image](https://user-images.githubusercontent.com/85119190/120510056-f6ff5d80-c3c0-11eb-96c5-979e62002174.png)
I want a specific user to be unable to see 2 of the databases and be able to see just testdb. I understand on a local instance i can make it hidden using the filter feature but I want to make this permanent on any machine with this user.

Any help would be great thanks.

[2021-06-02 17:58] Zaught opened #12713 "No appropriate protocol (protocol is disabled or cipher suites are inappropriate) with v21.1.0"
#### System information:
- MacOS Catalina 10.15.7
- DBeaver version: 21.1.0
- Additional extensions: none

#### Connection specification:
- MySQL 5.5.30
- MySQL Connector/J mysql-connector-java-8.0.19 (Revision: a0ca826f5cdf51a98356fdfb1bf251eb042f80bf)
- Using SSH and SSL

#### Describe the problem you're observing:
Connecting to my database with dbeaver 21.1.0, i get the following error
"No appr

[2021-06-02 18:14] lucas-santana commented on #9235
@pgvee
I dont have TLSv1 in  jdk.tls.disabledAlgorithms key.
My conf location: /var/lib/flatpak/app/io.dbeaver.DBeaverCommunity/x86_64/stable/active/files/jre/conf/security
![image](https://user-images.githubusercontent.com/23356474/120531424-ffea3200-c3b4-11eb-8287-5fde067014de.png)

[2021-06-02 18:26] lucas-santana commented on #9235
@pgvee Ty, i was changed the wrong file.
The right file is in this location: /var/lib/flatpak/app/io.dbeaver.DBeaverCommunity/x86_64/stable/active/files/dbeaver/jre/conf/security/java.security

[2021-06-03 02:40] cooltnt commented on #12684
@ShadelessFox
The problem is solved !    I didn't know the reason before.  I checked it .
Maybe want to keep the data in its original state， Because the default setting truncates the number of decimal places.

now setting by default
![image](https://user-images.githubusercontent.com/41370387/120574851-9e78a080-c452-11eb-8f3e-eca7210e53c7.png)

 results is correct
![image](https://user-images.githu

[2021-06-03 03:29] wangpeng0824 commented on #12546
i have the same problem too，is there anyone can tell me the cause ？and how to resolve it

[2021-06-03 06:05] wangpeng0824 opened #12714 "the env now i used is AdoptOpenJDK11U+eclipse-rcp-2021-03-R-win32-x86_64+maven3.8，the project was success build with mvn clean install，but when i run it，the console of Eclipse output this errors"
!SESSION 2021-06-03 11:18:54.813 -----------------------------------------------
eclipse.buildId=unknown
java.version=11.0.11
java.vendor=AdoptOpenJDK
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=zh_CN
Framework arguments:  -product org.jkiss.dbeaver.ui.app.standalone.product
Command-line arguments:  -product org.jkiss.dbeaver.ui.app.standalone.product -data D:\eclipse-rcp\eclipse-wor

[2021-06-03 06:06] wangpeng0824 commented on #12714
<img width="926" alt="20210603134129" src="https://user-images.githubusercontent.com/21004513/120595414-e5778d80-c474-11eb-84ee-88e6462f8898.png">
<img width="790" alt="20210603134327" src="https://user-images.githubusercontent.com/21004513/120595425-ed373200-c474-11eb-902f-9157b627132f.png">

[2021-06-03 06:16] ShadelessFox commented on #12684
I will close the issue then. You still can ask related questions here!

[2021-06-03 06:16] #12684 closed, assigned to nobody

[2021-06-03 06:42] Matvey16 commented on #12082
Verified

[2021-06-03 06:42] #12082 closed, assigned to LonwoLonwo, Matvey16

[2021-06-03 07:58] mcekovic opened #12715 "Please return old splash screen with the beaver itself"
Please return the old splash screen with a beaver itself, it was extraordinary and one of the reasons I started using DBeaver. Please return it at least for the Community version!
New splash screen is pretty plain and a bit 'enterprisey'. I understand it is to drive DBeaver adoption in the enterprises, but in order to be adopted in the enterprises, it needs to be adopted in the community first, an

[2021-06-03 07:58] wangpeng0824 commented on #12714
[1622690335051.log](https://github.com/dbeaver/dbeaver/files/6589927/1622690335051.log)

[2021-06-03 08:02] serge-rider commented on #12714
Check dependencies in the Run Configuration.
Usually "Add Required Plugins" helps.

[2021-06-03 08:02] kseniiaguzeeva commented on #11285
Could you please send how SSL configaration looks in another database client? It will help us to find the best way to implement the option.

[2021-06-03 08:05] kseniiaguzeeva commented on #12240
Thank you for your time and work. We will assist you with the task in milestone 21.1.2 (21.06-05.07), when we will improve SQL in DBeaver.

[2021-06-03 08:09] flambchap commented on #12022
Fixed. Hopefully, once and for all.

[2021-06-03 08:12] kseniiaguzeeva commented on #12245
I'm afraid, the case is quite rare and the Gis toolbar will be overloaded by one more button.  Also the simple workaround exists. As a solution I suggest to leave the ticket open to look whether other people will vote for this feature.

[2021-06-03 08:16] kseniiaguzeeva commented on #12330
Could you please try the latest release? A lot of autocompletion bugs were fixed there https://dbeaver.io/.

If the issue still persists, could you please provide me with following details:
- Is default or non-default schema selected?
- A video with the bug.

[2021-06-03 08:18] ranjithkr06 opened #12716 "Test connection: Null connection returned : Bad Url"
I am getting  the error below while doing a Test Connectin to a SAP successfactors database for a url.

org.jkiss.dbeaver.model.exec.DBCException: Null connection returned
	at org.jkiss.dbeaver.model.impl.jdbc.JDBCDataSource.openConnection(JDBCDataSource.java:210)
	at org.jkiss.dbeaver.ext.generic.model.GenericDataSource.openConnection(GenericDataSource.java:135)
	at org.jkiss.dbeaver.model.impl.j

[2021-06-03 08:21] kseniiaguzeeva commented on #12392
I'm afraid, it is a third party issue and we have to wait for a fix. Closed as a duplicate https://github.com/dbeaver/dbeaver/issues/6581

[2021-06-03 08:21] #12392 closed, assigned to nobody

[2021-06-03 08:27] Matvey16 commented on #11477
Verified

[2021-06-03 08:27] #11477 closed, assigned to LonwoLonwo, Matvey16

[2021-06-03 08:28] kseniiaguzeeva commented on #12452
Thank you for the details. This option will be useful for other databases as well. We will implement it, but perhaps in Enterprise Edition.

[2021-06-03 08:30] kseniiaguzeeva commented on #12536
Thank you for the details. We will implement it.

[2021-06-03 08:32] kseniiaguzeeva commented on #12537
Thank you for the details. We will try to reproduce it and fix.

[2021-06-03 08:33] Matvey16 commented on #12351
It seems that something in your environment leads to this. Do you have any window managers or specific desktop environments  active. Or does it happen on plain default Ubuntu?

[2021-06-03 08:35] kseniiaguzeeva commented on #12545
Thank you for the suggestion. The feature is good, however, we currently do not have time for it.

[2021-06-03 08:38] LonwoLonwo commented on #11985
Fixed for views, procedures, triggers etc. in DBeaver 21.1.1

[2021-06-03 08:44] kseniiaguzeeva commented on #12556
As I see you use standalone DBeaver and I cannot reproduce it. Could you please use this way to check for updates:

![dbeaver_7ReUNJ3Ifb](https://user-images.githubusercontent.com/51405061/120615237-be16c580-c460-11eb-9cb5-1fbfabb4a2f7.png)

If the issue still persists, please send me [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files). It will help us to provide you with a solution to

[2021-06-03 08:48] kseniiaguzeeva commented on #12557
Could you please provide me with more details to reproduсe the case (steps to reproduce including DDL to create objects). Thank you in advance.

[2021-06-03 08:50] kseniiaguzeeva commented on #12558
Thank you for the report. We already have the [ticket](https://github.com/dbeaver/dbeaver/issues/11973) with the bug and we will fix it.
Closed as duplicate.

[2021-06-03 08:50] #12558 closed, assigned to nobody

[2021-06-03 08:53] plotn commented on #12558
Did you notice 2 problems with the filter window?:
1. Filtering doesnt work (left part)
2. Filter values "doubles" (right part)

[2021-06-03 08:53] kseniiaguzeeva commented on #12563
We are waiting for September to support M1. Your issue can be solved after it. The similar ticket https://github.com/dbeaver/dbeaver/issues/12441

[2021-06-03 08:54] DariaMarkaryan commented on #12707
Verified

[2021-06-03 08:54] #12707 closed, assigned to serge-rider, DariyaFedorova

[2021-06-03 08:57] kseniiaguzeeva commented on #12581
Thank you for the report. We will implement Google Cloud Support in Enterprise Edition.

[2021-06-03 08:59] manticore-projects commented on #12240
On Thu, 2021-06-03 at 01:06 -0700, Kseniia wrote:

 Thank you, Kseniia.

Awesome, this is very kind and I do look forward. Aplogies for stating
the obvious, all we need is to add a single JAR dependency:

<dependency>
      <groupId>com.manticore-projects.jsqlformatter</groupId>
      <artifactId>jsqlformatter</artifactId>
      <version>0.1.7</version>
      <type>jar</type>
</dependency>

Option

[2021-06-03 09:00] kseniiaguzeeva commented on #12583
Seems, .rpm and .deb are wrongly indicated. We will fix it.

[2021-06-03 09:05] kseniiaguzeeva commented on #12573
Could you please try ibus? Here is the similar ticket https://github.com/dbeaver/dbeaver/issues/8694. Feel free to ask to reopen the ticket if the issue still persists.

[2021-06-03 09:05] #12573 closed, assigned to nobody

[2021-06-03 09:31] DariaMarkaryan commented on #12710
Related to #11704

[2021-06-03 09:52] udovichenkoAlexander commented on #12351
plain ubuntu install
I try my old laptop with 20.10 with versions 7.3.3 and 21.1.0 and can't reproduce

I try:

- fresh workspace
- manual install of apt package (no repo)
- snap distribution

it does not help

[2021-06-03 09:59] ShadelessFox opened #12717 "Change encryption key of local secure storage"
Currently, the default encryption key is exposed to everyone.
As proposed in #12662, we should add a launch option for changing this key.

https://github.com/dbeaver/dbeaver/wiki/Project-security

[2021-06-03 10:15] DariaMarkaryan commented on #12363
Verified

[2021-06-03 10:15] #12363 closed, assigned to DariyaFedorova, LonwoLonwo

[2021-06-03 10:30] DariaMarkaryan commented on #12710
Table creation DDL
[code]

[2021-06-03 10:36] ShadelessFox commented on #11711
Hello @bfharreguy,

If you're talking about debugging stored routines, then it is not possible. MySQL and MariaDB don't provide any debugging API.

But you can debug the server itself:
https://dev.mysql.com/doc/refman/5.7/en/debugging-server.html

[2021-06-03 10:36] #11711 closed, assigned to ShadelessFox

[2021-06-03 10:59] flambchap commented on #12141
Fixed.

[2021-06-03 11:25] kseniiaguzeeva opened #12718 "The auto-complete shortcut doesn't work"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.1.0

#### Steps to reproduce, if exist:
1. Open a table in Data Editor
2. Click the top filter field and use auto-complete shortcut to select a table column

**Expected:** the list of table columns appears
**Actual result**: the column list doesn't appear

[2021-06-03 12:13] uslss commented on #12672
verified

[2021-06-03 12:13] #12672 closed, assigned to serge-rider, uslss

[2021-06-03 12:18] Matvey16 commented on #12568
Hello again. There is no way for now to implement execution of more than one statement , but not all of them. In the SQL editor there are 4 execution buttons. First two are for single statement, third and forth are for the whole script. If your script has multiple select queries, you can click a button to execute all of them and they will be opened in separate tabs.

![2021-06-03_15h13_08](https:/

[2021-06-03 12:18] #12568 closed, assigned to nobody

[2021-06-03 12:28] thefamouseric commented on #11285
From my test harness

System.setProperty("javax.net.ssl.trustStore", "someplace");
System.setProperty("javax.net.ssl.trustStorePassword", "somepassword");

/* Std SSL */
url[0] ="jdbc:informix-sqli://INFORMIXSERVER=db_ssl;DATABASE=db;USER=informix;PASSWORD=xxxx;SQLH_TYPE=FILE;SQLH_FILE=sqlhosts;SSLCONNECTION=true;";

/* SSL and CM */
url[1] ="jdbc:informix-sqli://INFORMIXSERVER=db_cm;database=db;u

[2021-06-03 12:29] ShadelessFox commented on #9013
The generated DDL is still invalid for "non-range" interval types like `interval year`.

[2021-06-03 12:31] tkingsbury42 commented on #12715
Amazing. I was here to complain about the exact same thing, but mcekovic beat me to it by just a few hours.
Your Beaver images are absolutely brilliant. Meanwhile, the splash screen with the enterprise-grade red circles is terribly sad and depressing.

[2021-06-03 12:39] lambdaupb commented on #4979
I hacked a working AttributeTransformer, patch attached.

But looking at both the AttributeTransformer as well as as the BinaryFormatters, both are a little cumbersome for this task.

What would help is de-coupling the decompression from the resulting formatting of the contained data, like a transparent layer (wireshark has this for buffers).

A good alternative would be to provide decompression f

[2021-06-03 12:50] Matvey16 commented on #12249
Duplicate of #12239

[2021-06-03 12:50] #12249 closed, assigned to nobody

[2021-06-03 12:54] codeRemark opened #12719 "Failed compile source code in Eclipse"
#### System information:
- Windows 10
- DBeaver source code from github
- Java 11

#### Describe the problem you're observing:
1） I follow the guide form  https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse,
but while I import whole source into Eclipse, Eclipse report over 100 compile error ,
most relative to pom.xml , eg:
`Description	Resource	Path	Location	Type
Plugin execution not covere

[2021-06-03 13:03] Matvey16 commented on #12559
Please clarify some things so we could look deeper into it.
1. What Database are you using? Postgres?
2. What version of DBeaver are you using (You can click `Help -> About` to look for it)
3. What is disconnecting from the internet? PC with DBeaver or Database server?
4. What script are you executing before encountering this problem?

[2021-06-03 13:14] #12413 closed, assigned to ShadelessFox

[2021-06-03 13:23] Xylandor opened #12721 "MacOS: Results Grid Not Displaying Tooltip in Full Screen Mode"
#### System information:
- macOS Catalina - version 10.15.6
- DBeaver version 21.1.0.202105300349
- Additional extensions: None

#### Connection specification:
- Database name and version: MySQL 5.7
- Driver name: MySQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
In the query results pane, if a column contains data that is larger than what i

[2021-06-03 13:55] uslss opened #12723 "Columns in newly created tables are not visible until schema refresh"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.0

#### Connection specification:
- Database name and version Redshift

#### Describe the problem you're observing:
Columns aren't shown after table create/copy and saving.
#### Steps to reproduce, if exist:
1. Create table with several columns OR Copy existing table
2. Save it

**Actual result**
Co

[2021-06-03 14:11] serge-rider commented on #12723
Fixed

[2021-06-03 14:22] Matvey16 commented on #12618
Hello. Try disabling date formatting like shown on the video. Also be sure that scale parameter is set according to your needs. It is under `scale` currently in UI, but will be under `precision` in 21.1.1.
You can change it by executing a query like that but with needed precision in the brackets `ALTER TABLE public.staff ALTER COLUMN column1 TYPE timestamptz(3) USING column1::timestamptz;`

![2021

[2021-06-03 14:38] DariaMarkaryan commented on #12141
Verified

[2021-06-03 14:38] #12141 closed, assigned to flambchap

[2021-06-03 14:54] plotn commented on #12559
1. Postges :) as written in title (version 12, 13)
2. Always maximally fresh
3. Database (vpn swithces off, so db become unreachable)
4. It doesnt matter (select).

[2021-06-03 14:55] rjake commented on #12350
I see it now. Should I close the issue or will you?

[2021-06-03 15:00] LonwoLonwo commented on #12350
@rjake
Thanks for feedback. I close.

[2021-06-03 15:00] #12350 closed, assigned to nobody

[2021-06-03 15:35] uslss commented on #12723
verified

[2021-06-03 15:35] #12723 closed, assigned to serge-rider

[2021-06-03 16:03] LonwoLonwo commented on #8254
Ok, I get it.
We use lazy initialization for Oracle table comments, because we read them a separate query in the database.
At the moment there is no good solution for this problem.

[2021-06-03 16:16] LonwoLonwo commented on #8110
You can do it in Preferences, just use "Datasource settings"

![2021-06-03 19_13_54-Properties for Script-31 sql](https://user-images.githubusercontent.com/45152336/120677668-ff7a9580-c49f-11eb-834f-97895b90ebff.png)

Tell us if it helps to solve your problem.

[2021-06-03 16:42] kseniiaguzeeva opened #12725 "Unique keys are not displayed in the Keys tab of table properties"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.1 EA EE
#### Connection specification:
- Database name and version Snowflake
#### Steps to reproduce, if exist:
1. Create a table unique key
2. Refresh the table and open the Keys tab
**Expected**: Unique keys are displayed
**Actual result**: Only a primary key is visible, but PK and UK are displayed in

[2021-06-03 18:04] KOLANICH commented on #4979
Thank you, @lambdaupb

[2021-06-03 18:09] mkgrgis commented on #12245
Thanks, @kseniiaguzeeva !

[2021-06-03 19:50] LonwoLonwo commented on #12725
duplicate of https://github.com/dbeaver/dbeaver/issues/7820

[2021-06-03 19:50] #12725 closed, assigned to nobody

[2021-06-03 21:44] AnrDaemon commented on #8254
Though so, thanks for clarification.

[2021-06-04 02:59] wangpeng0824 commented on #12714
after I finished what you said above，“ validate plug-in” is passed，but when i run it again， something different happened，it seems that some class entries can not be found，however ，it was really exist in the target directory

![image](https://user-images.githubusercontent.com/21004513/120739522-30041300-c524-11eb-9c2e-61bbebd50f00.png)

!SESSION 2021-06-04 09:05:28.108 -----------------------------

[2021-06-04 04:56] mkgrgis commented on #12330
21.1.0 : no problems with schema names with spaces in Postgres.
Waiting for @GertL ...

[2021-06-04 06:30] ranjithkr06 commented on #12716
its working now .the b was missing in the template   jdbc:vjd**b**c:servlet: {host}

[2021-06-04 06:30] #12716 closed, assigned to nobody

[2021-06-04 06:40] Matvey16 commented on #12606
Hello, thank you for the report. I was not able to reproduce it. Are "NameFr" and "NameNl" columns in your example the same or is there something different in their metadata?

[2021-06-04 06:57] woeterman94 commented on #12606
Nope, they are the same. Did you try reordering the columns?

[2021-06-04 07:13] wangpeng0824 commented on #12714
and is the 'javax.xml.bind' package no longer need ?

[2021-06-04 07:22] F0xD8rk opened #12729 "[Oracle] Changes in package not visible after refresh in declaration tab of package"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.0.202106012023

#### Connection specification:
- Database name and version: Oracle 12

#### Describe the problem you're observing:
Steps to follow:
1. Edit an Oracle package using another editor (f.e. Visual Studio Code) and add a function (or procedure) to the package
2. Run the create packa

[2021-06-04 07:54] Matvey16 commented on #12022
Verified

[2021-06-04 07:54] #12022 closed, assigned to flambchap, Matvey16

[2021-06-04 08:05] Matvey16 commented on #11839
Verified

[2021-06-04 08:05] #11839 closed, assigned to flambchap, Matvey16

[2021-06-04 08:09] rokopi-byte commented on #9181
Same here with version 2021.1 on Ubuntu 16.04 when I try to open file dialog to choose destination file for "export from query". Open issue [here](https://github.com/dbeaver/dbeaver/issues/12455)

[2021-06-04 08:12] DariaMarkaryan opened #12730 "Grid lines in Properties are invisible in dark theme"
#### System information:
- Windows 10, DBeaver 21.1.0 (CE, UE..), all databases

#### Steps to reproduce, if exist:
Change them on the Dark mode -> restart DBeaver. Now you cant see grid guidelines in properties of tables
![image](https://user-images.githubusercontent.com/43252954/120769195-8b82d080-c525-11eb-9a5e-b8613d54c7ff.png)

[2021-06-04 09:05] KES777 commented on #12675
yes, it is checked.

Even if so, the highlighted sql should be executed, should not? And there is no syntax error.

![image](https://user-images.githubusercontent.com/799021/120776823-495d8d00-c52d-11eb-9171-efd53d1d1bfb.png)

[2021-06-04 09:36] Matvey16 commented on #12606
Yes, and it still exports them normally. I see that you have checked a box to include generated columns. Are any of those columns computed and if not, have you tried the same export with this option unchecked?

[2021-06-04 09:36] flambchap commented on #12699
Fixed with the PR linked above. Thank you, @nicerloop.

[2021-06-04 09:36] #12699 closed, assigned to serge-rider

[2021-06-04 09:49] flambchap commented on #12150
Implemented. Now DBeaver backups list of recent workspaces to DBeaverData. But since this backup will be introduced in the 21.1.1 version, the previous workspace will be restored only when upgrading to 21.1.2.

[2021-06-04 10:01] Wroud opened #12732 "Image preview flickering"
#### Describe the problem you're observing:
Image flickering on scroll after resize

#### Steps to reproduce, if exist:
1. Open image preview panel
2. Press "Fit window"
3. Downscale preview panel
4. Scroll fast

![image](https://user-images.githubusercontent.com/811729/120782535-c7706280-c532-11eb-8a0e-6a1f96ac9860.png)

[2021-06-04 10:09] Matvey16 opened #12733 "Data export: check box for new connections is unlocked when it should not be"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.0

#### Describe the problem you're observing:
If an option to export only selected rows/columns is saved from the previous export, the option to open new connections will be unlocked.

#### Steps to reproduce, if exist:
1. Perform an export of select columns.
2. Open an export window for the same t

[2021-06-04 10:36] ShadelessFox commented on #9013
Fixed. Notice that only `.. to second` types have precision:

![image](https://user-images.githubusercontent.com/35821147/120785268-a9f0c800-c535-11eb-8d4e-6d9f7a3b57fa.png)

[2021-06-04 10:45] Matvey16 commented on #12688
Verified

[2021-06-04 10:45] #12688 closed, assigned to serge-rider, Matvey16

[2021-06-04 10:49] LonwoLonwo commented on #10704
Hello @manticore-projects
Maybe you can take a look at the other problem associated with JSQLParser https://github.com/dbeaver/dbeaver/issues/10680

[2021-06-04 11:24] kseniiaguzeeva opened #12734 "NPE appears when a user without permissions closes a table"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1 EA
#### Connection specification:
- Database name and version PostgreSQL
#### Steps to reproduce, if exist:
1. Login by a user without permissions to see a table data
2. Open and close a table

**Expected**: the table is closed
**Actual result**: the table is closed with NPE error

https://user-imag

[2021-06-04 11:47] manticore-projects commented on #10680
Greetings.

We have massively improved the performance of Nested Expressions in the current JSQParser 4.1-Snapshot and samples like
[code]
will parser now within milliseconds.

However, the original Query is 92kb ZIP compressed and uses a kind of nesting I have never seen before in my life (and I have seen unspeakable horrors). Even GEDIT froze when opening this query just from Syntax highlighting

[2021-06-04 11:51] Matvey16 commented on #12150
Verified

[2021-06-04 11:51] #12150 closed, assigned to flambchap, Matvey16

[2021-06-04 11:58] HeikkiVesanto opened #12735 "Function header and trailler missing for PostgreSQL"
I suspect this is similar to https://github.com/dbeaver/dbeaver/issues/3892 but it impacts PostgreSQL versions well above 8.4.

#### System information:
Windows

Tested on:
DBeaver 7.3.0
DBeaver 21.1.0

#### Connection specification:
Tested on:
PostgreSQL 9.5 and 10.10:
PostgreSQL 9.5.23 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39), 64-bit
PostgreSQL 10.10 on x86

[2021-06-04 12:00] manticore-projects commented on #10704
Greetings, 

it is solved to a very large extend in JSQLParser 4.1 Snapshot although
the Generic Parser will always struggle with Super Deeply Nested
Complex Expressions.

We will need to implement a solution together, which starts JSQLParser
within a separated thread to timeout eventually and fail gracefully
without freezing.

Cheers
Andreas

On Fri, 2021-06-04 at 03:49 -0700, Anastasiya wrote:

[2021-06-04 12:07] DariaMarkaryan commented on #11985
Verified

[2021-06-04 12:07] #11985 closed, assigned to DariyaFedorova, LonwoLonwo

[2021-06-04 12:14] KES777 commented on #12675
@uslss Same result when that option is dispabled

[2021-06-04 12:21] LonwoLonwo commented on #10704
@manticore-projects I've tested new JSQLParser 4.1 Snapshot in DBeaver
It helps with problem of this ticket (many case when), but DBeaver still hangs with
[code]
unfortunately

[2021-06-04 12:28] ceinmart commented on #8110
Hi, thanks for the suggestion, but if I understand I will need to execute this step for each script I opened ???? inviable...
However, If I can setup a button on toolbar for quick set/unset this option or define a key shortcut, that solves for me, because is quick/fast to switch.
I'm looking here how to do and found no way for any of both options.

[2021-06-04 12:35] manticore-projects commented on #10704
Thank you for your feeback. What snapshot exactly have you used please
and have you compiled from GIT?
(I am sorry, I have no authority on the release policy of JSQLParser).

However, we have 2 testcased which test the mentioned statement
successfully!

@Test(timeout = 2000)
public void testIssue1103Long() throws JSQLParserException {
assertSqlCanBeParsedAndDeparsed(
"SELECT\n"
+ "ROUND(ROUND(ROUN

[2021-06-04 12:46] dyorgio opened #12737 "Persist history of SQL Expressions on filter result"
**Is your feature request related to a problem? Please describe.**
No, it is a improvement.
When you restart/open DBeaver previous opened tables are opened again, but not filtered, in fact no filter history is available.

**Describe the solution you'd like**
DBeaver should save filter history and open tables with last filter used.

**Describe alternatives you've considered**
Maybe it can start wit

[2021-06-04 12:46] ceinmart commented on #8110
I'm testing this solution and looks they keep the setting .
What is weird is why this setting not appear in the properties of the connection ?
If the behavior is that, then ok, this works for me.
We can close this request.

[2021-06-04 12:47] bozhidarc commented on #12441
The Eclipse issue for supporting Apple Silicon is now resolved [#565690](https://bugs.eclipse.org/bugs/show_bug.cgi?id=565690#c59). There is a RC which can be download, and 4.20 will be released on June 16 😃 .
I hope with the next release of DB will be based on this Eclipse version.

P.S
I'm using it on my M1, it's a little slugish, but is is bearable.

[2021-06-04 13:13] manticore-projects commented on #10704
This SNAPSHOT jar parses the sample without problems.

[jsqlparser-4.1-SNAPSHOT.jar.zip](https://github.com/dbeaver/dbeaver/files/6598715/jsqlparser-4.1-SNAPSHOT.jar.zip)

[2021-06-04 13:17] enghitalo commented on #5601
For me, is solved setting "useSSL" to FALSE

[2021-06-04 13:44] manticore-projects commented on #10704
Please, how exactly have you called the Parser in your test?
Either
[code]
or
[code]

They key is to disallow ComplexParsing for deeply nested expressions. The second call will determine this automatically while you will have to set it explicitly within the first call. Both ways achieve the same result.

[2021-06-04 13:58] Matvey16 commented on #12261
Verified

[2021-06-04 13:58] #12261 closed, assigned to ShadelessFox, Matvey16

[2021-06-04 14:01] supervate commented on #12441
I expect it so much.

[2021-06-04 14:05] kseniiaguzeeva opened #12738 "Hide password during a user creation"
#### System information:
- DBeaver version 21.1 EA

#### Connection specification:
- Database name and version Redshift, PostgreSQL etc

We have to hide a password when we create it for a user (Metadata Editor, maybe SQL Editor)

[2021-06-04 14:10] Matvey16 commented on #11639
Verified

[2021-06-04 14:10] #11639 closed, assigned to flambchap, uslss, kseniiaguzeeva, Matvey16

[2021-06-04 14:38] LonwoLonwo commented on #10704
@manticore-projects yes, I see. Many-round-query works with withAllowComplexParsing(false)

[2021-06-04 14:44] Xylandor commented on #12721
I also noticed that the tooltips will not show when hovering over the editor tabs when in fullscreen mode either. This tooltip usually displays the full location of the script file that's open. Seems that fullscreen mode breaks tooltip showing.

[2021-06-04 14:47] DariaMarkaryan commented on #12090
Verified

[2021-06-04 14:47] #12090 closed, assigned to ShadelessFox, DariyaFedorova

[2021-06-04 14:57] udovichenkoAlexander commented on #12351
I found that every CSmartCombo is broken in my case (in preferences for example).
I start dig with jdb in and figure out that CSmartCombo.dropDown(false) is executed and window is disposed
stack trace:
[code]
 SWT.Deactivate event received because of lost focus (my dbeaver window deactivated after that).

[2021-06-04 15:24] udovichenkoAlexander commented on #12351
Bingo. I found that ubuntu parameter **Allow different sources for each window** in my environment leads to this
this settings window:
![image](https://user-images.githubusercontent.com/23613015/120824693-5b592300-c561-11eb-8476-6afbbd51ec4d.png)
If I use default option (**Use the same source for all windows**) everything is fine.
It looks like this GTK/ubuntu related and issue can be closed

[2021-06-04 15:46] kseniiaguzeeva opened #12739 "Invalid precision for Number column type"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.1 EA

#### Connection specification:
- Database name and version Snowflake

#### Steps to reproduce, if exist:
Perform db export of a table with Number column type to a new table

**Expected**: the export is successful
**Actual result**: the export fails because of wrong Number column precision (100 is

[2021-06-04 16:21] vpetryaev commented on #10680
Hi, serge-rider!
Thank you very mach!
Source of this query more simple. Attached query is result of lot of macros and C preprocessor (cpp). Result of optimization to avoid functions calls.

Best regards, Vadim.

[2021-06-04 17:01] Matvey16 commented on #12351
Glad it was resolved.

[2021-06-04 17:01] #12351 closed, assigned to nobody

[2021-06-04 17:17] Matvey16 opened #12740 "User permissions: revoke/grant all buttons bloat the script"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.1

#### Connection specification:
- Database name and version PostgreSQL

#### Describe the problem you're observing:
When changing permissions clickng `Grant all` buttons and then unchecking every permission still offer to save changes and the script have a lot of annecessary statements. And the sa

[2021-06-04 18:47] ausiddiqui commented on #11415
Usually when I get a pop-up message saying I need to update it points me to the dbeaver.io and I download the DMG from there to run the update. For this last experiment, I downloaded all the DMG files from the GitHub releases archive and ran them one at a time from latest to older versions until I found one that worked. I don't have logs, but when I get downtime on the weekend I can do the same ex

[2021-06-04 23:45] manticore-projects commented on #10704
Btw, you can test your statements [Online and Interactively here](jsqlformatter.manticore-projects.com/jsqlformatter/demo.html?args=-c%20MoUQMiDCAqAEBKB7ArgOwCYAoEo9paWOh+uRBexlF5ZpJVtDN91djrTbz7LH-fQb2E9R3cUQAMAGliTYASlnylcxcvVrVKjds06tuo4ZMGz+i3qvHz105ZsOtAKADcQA+) and share direct links to the examples.

It uses the a fixed JSQLParser with Nested With Statements, Value Lists as With Statements,

[2021-06-04 23:50] manticore-projects commented on #10680
Dear All.

The Original 96k Query Monster parses too, but will take around 2 seconds.
You can test your statement [Online and Interactively here](jsqlformatter.manticore-projects.com/jsqlformatter/demo.html?args=-c%20MoUQMiDCAqAEBKB7ArgOwCYAoEo9paWOh+uRBexlF5ZpJVtDN91djrTbz7LH-fQb2E9R3cUQAMAGliTYASlnylcxcvVrVKjds06tuo4ZMGz+i3qvHz105ZsOtAKADcQA+) and share direct links to the examples.

It uses the

[2021-06-04 23:53] manticore-projects commented on #10680
This explains it of course. It is an amazing query!
Please can we "steal" it and use it for the Performance tests of JSQLParser and also JavaCC?

[2021-06-05 01:27] lalato opened #12745 "Teradata: Show Procedure fetches partial results"
#### System information:
- MacOS 11.3.1
- DBeaver 21.1.10

#### Connection specification:
- Teradata 16.20

#### Describe the problem you're observing:
When using the SHOW PROCEDURE query some large stored procs (greater than 1000 rows) only return a partial/incomplete DDL.  Running the same query using the menu options for fetching the DDL from the Navigator has the same partial result.

Teradata

[2021-06-05 03:34] fathonir commented on #12172
I have same issue with the office plugin, i follow steps from the [Rick28 comment](https://github.com/dbeaver/dbeaver/issues/4791#issuecomment-486241866). And the problem was solved.

[2021-06-05 04:42] chapmanjacobd opened #12746 "Map: button to copy the position of the center of the viewport"
Sometimes I need to update point geometry in the database. The Map viewer is very helpful but it doesn't allow me to copy the correct coordinate so that I can update it. I have to open a browser and go to an online map, pan to the correct location and copy the latlng.

**Describe the solution you'd like**
I would like to have a button which inserts the centroid of the map viewport (in the current

[2021-06-05 12:30] p91paul opened #12747 "Oracle: Slow query on "Loading package cache""
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.1.0.202105300349
- Additional extensions n/a

#### Connection specification:
- Database name and version Oracle 11
- Driver name ojbc19
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n/a

#### Describe the problem you're observing:
While "Loading package cache" or "Searching proposals" for au

[2021-06-05 12:43] p91paul commented on #11327
Checked, performance is terrific when you have DBA views available (basically realtime), much improved when you don't (it heavily depends on which letter you type first and how many objects start with that letter).
Waiting a couple hundreds milliseconds before hitting the database to let the user type a few characters might be a further UX improvement.
Thank you, great job!!

[2021-06-05 12:49] p91paul commented on #3721
Do you think this could be planned for some future milestone?
Reading errors even if you lack compile grants is very useful. At work I don't have compile/edit grants on production database, but I'm still responsible for fixing them (by submitting the correct code to the DBAs, who are authorized to edit and compile procedures).
Currently I have to query ALL_ERRORS to see what's wrong.

[2021-06-05 12:50] #4490 closed

[2021-06-06 00:48] charlieblevins commented on #11478
Hello, I just figured out why this happens and wanted to provide the info here in case it helps whomever is going to write the fix.

The issue is that when specifying a schema (using `-n` as mentioned above) pg_dump will _not_ dump all objects. For me the issue happened because I had a few extensions installed. The restore would fail because I was referencing those extension's types within tables

[2021-06-06 02:48] ppcamp commented on #11478
@charlieblevins
Ah! So, the whole problem was because I was using uuidv4. Indeed, I didn't think about it. Thanks a lot!

[2021-06-06 14:26] HiIamJeff opened #12748 "Can't change scrolling speed (lines skipped) in SQL editor"
**Problem**
Dear contributors,
I just started to use dbeaver and while most of the things are nice, I find that the scrolling part is a bit awkward. I noticed that while in dbeaver, every single scroll of my Logitech wireless mouse would skip 9 lines in SQL editor, while other applications (such as pgadmin and Pycharm) only skip 3-5 lines, which is much more intuitive and accurate during work.
p.s

[2021-06-06 16:14] DariaMarkaryan opened #12749 "Wrong variable parsing in kerberos keytab file path"
#### System information:
- Windows 10, DBeaver ultimate 21.1.0
#### Steps to reproduce, if exist:
Go to db connection settings (e.g. for mariaDB) -> Authentication profile - manage profiles:
![image](https://user-images.githubusercontent.com/43252954/120934575-7a91b500-c707-11eb-8289-7ee74f9a4ac5.png) ->
In kerberos auth check **use keytab** and input valid path with using a variable then connect

[2021-06-07 00:46] anjee10 opened #12750 "Data loss after Mac OS updates"
#### System information:
- Operating system (distribution) and version: 11.2.3 (20D91)
- DBeaver version: 21.0.0 (community, installed from dmg file)
- Additional extensions

#### Describe the problem you're observing:
- Whenever I do update Mac OS, it removes some rows from my all tables those recently added (in last one or couple of months)

#### Steps to reproduce, if exist:
- I am not sure if

[2021-06-07 02:55] widada commented on #9812
I got same issues

[2021-06-07 03:19] wangpeng0824 opened #12751 "unable to start dbeaver"
![image](https://user-images.githubusercontent.com/21004513/120954578-0ea06280-c782-11eb-9aa3-f1ebb6852d4f.png)
!SESSION 2021-06-07 10:28:49.767 -----------------------------------------------
eclipse.buildId=unknown
java.version=11.0.11
java.vendor=AdoptOpenJDK
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=zh_CN
Framework arguments:  -product org.jkiss.dbeaver.ui.app.standalone.produc

[2021-06-07 03:32] wangpeng0824 commented on #12751
[error.zip](https://github.com/dbeaver/dbeaver/files/6605643/error.zip)
and this is my attach files，i can build it successfully，but i can not run it，with the debug configurations above， i guess maybe the develop environment have some problems  that i can not found

[2021-06-07 05:29] Matvey16 commented on #12698
Verified

[2021-06-07 05:29] #12698 closed, assigned to serge-rider, Matvey16

[2021-06-07 06:05] Matvey16 commented on #12591
I was not able to reproduce it. Can you provide logs that you get after getting this error. You can look for them in the error log tab.

![2021-06-07_09h00_11](https://user-images.githubusercontent.com/82543000/120966791-61bcea00-c76f-11eb-9644-685b3dadc70d.png)

[2021-06-07 06:20] Matvey16 commented on #12280
Answering your third question. You have checked an option to disable date/time formatting, so the formatting pattern is not applied.

[2021-06-07 06:38] kseniiaguzeeva commented on #12750
Could you please provide me with more details:
- Do you use manual or auto-commit mode?
- What database do you use?
- Is your database local?
It will help me to assess the issue.

[2021-06-07 06:42] WolfX2 opened #12752 "Column metadata does not update"
#### System information:
- Operating system (distribution) and version, Windows 10, Windows server 2012
- DBeaver version 21.0.5
- Java version - included JRE
- Additional extensions none

#### Connection specification:
- Database name and version: Oracle 12
- Driver name Oracle.jdbc.oracledriver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

Th

[2021-06-07 06:44] FredrikEkstrom79 commented on #12591
Seems to be these two
[code]

[2021-06-07 06:47] kseniiaguzeeva commented on #12751
Could you please provide me with more details:
- Do you run DBeaver in Eclipse?
- Steps how do you install and run DBeaver?
- A video with the problem can be also helpful.
- Did you try to [reset workspace](https://github.com/dbeaver/dbeaver/wiki/Reset-workspace)?

[2021-06-07 06:50] kseniiaguzeeva commented on #12752
Could you please provide me with steps to reproduce? It will help me to assess the issue and find a solution.

[2021-06-07 07:13] Koi7 opened #12753 "Can't input text in any text boxt on Ubuntu 20.04 (only for Wayland)"
Thanks for great DB management tool!
When I switch to Wayland on my Ubuntu I can not input text into ALL text boxes in the interface.
Seems to be the same problem as was described here - https://github.com/dbeaver/dbeaver/issues/8499
Please fix this.

[2021-06-07 07:23] geuss commented on #6813
thanks @LonwoLonwo , I modified the setting.... I'll test it for some days.

[2021-06-07 07:24] Matvey16 commented on #12753
Please provide more information about your environment. What version of Ubuntu are you using? And what version of GNOME?

[2021-06-07 07:35] LonwoLonwo commented on #12751
Also can you please check plug-in dependencies?

![2021-06-07 10_30_21-Window](https://user-images.githubusercontent.com/45152336/120977261-d007a980-c77b-11eb-98cf-a43b40e9ecbc.png)

Sometimes button "Add Required Plug-ins" helps.

And try to clean the project first (Project-> Clean)

[2021-06-07 07:38] Matvey16 commented on #12668
Verified

[2021-06-07 08:01] Matvey16 opened #12754 "Opened tabs in widow menu are shown incorrectly"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.1
- Additional extensions

#### Describe the problem you're observing:
Opened tabs are not highlighted in `Window` menu if selected from there.

#### Steps to reproduce, if exist:
1. Make sure the focus is on Database Navigator tab and you have Projects tab visible
2. Click `Window > Projects`
3. Cl

[2021-06-07 08:24] Matvey16 commented on #12748
Win10 skips 2 lines on my PC with mouse and 5 lines with touchpad on Ubuntu laptop. So seems to be either Mac OS specific or specific to used mouse.

[2021-06-07 08:35] ShadelessFox commented on #12747
Hello @p91paul,

That's interesting, thanks for the suggestion!

[2021-06-07 08:52] Matvey16 commented on #11760
Verified

[2021-06-07 08:52] #11760 closed, assigned to flambchap, Matvey16

[2021-06-07 08:53] kseniiaguzeeva commented on #12748
Unfortunately I cannot reproduce it on Mac with Logitech mouse. Thank you for your suggestion. I will reply later, whether anything can be done on our side.

[2021-06-07 09:05] Koi7 commented on #12753
Ubuntu version 20.04.
![image](https://user-images.githubusercontent.com/9104031/120989880-ae60ef00-c788-11eb-94ff-f0cde6c3218a.png)

[2021-06-07 09:06] Koi7 commented on #12753
I switched to X11 to be able input text into dbeaver.

[2021-06-07 09:56] azmau commented on #12668
Thanks @ShadelessFox and sorry for the late confirmation but indeed the fix works.
Seems like the same solution still applies to Java 16 (https://www.oracle.com/java/technologies/javase/16-relnotes.html#JDK-8202343), if anyone is interested.

[2021-06-07 10:18] ShadelessFox commented on #12746
Hello @chapmanjacobd,

Thanks for the suggestion!

[2021-06-07 10:21] kseniiaguzeeva commented on #12247
Could you please also provide me with information about your OS. Does it happen with any geometry types? Could you please tell what database driver do you use?

[2021-06-07 10:33] kseniiaguzeeva commented on #12200
Thank you for the report.

[2021-06-07 11:11] uslss commented on #12735
thanks for the report
closed as the duplicate of #12649

[2021-06-07 11:11] #12735 closed, assigned to nobody

[2021-06-07 11:22] uslss commented on #12711
@MrApollo you can found how to do it using SQL statement, e.g. [here](https://stackoverflow.com/questions/31862051/hide-mysql-database-from-unauthorised-different-user)

Also, you can grant or revoke needed privileges at the user tab. In my case chosen user(see picture attached) will have access for "2100" database only
![image](https://user-images.githubusercontent.com/31996417/121008514-c0985880

[2021-06-07 11:25] uslss commented on #12752
seems to be duplicate of #11639 .
The issue will be fixed in 21.1.1.
anyway, thanks for the report

[2021-06-07 11:25] #12752 closed, assigned to nobody

[2021-06-07 11:30] uslss commented on #12676
thanks for the report and clarification

[2021-06-07 11:42] ShadelessFox commented on #12749
I don't see a hint saying that you can use variables in this situation, I suggest it's just not implemented.
So it's more an improvement rather than bug.

[2021-06-07 11:51] uslss commented on #12675
@KES777 still cannot reproduce you. What db version do you use? Could you provide a video with an issue?

[2021-06-07 12:14] Matvey16 commented on #12618
Related to #12280

[2021-06-07 12:47] MrApollo commented on #12711
The account that I want to be unable to see one of the databases still has the database "sys" that i do not want them to even see. This is after revoking every single permission.

<img width="169" alt="jas 2" src="https://user-images.githubusercontent.com/85119190/121019456-5b426880-c797-11eb-8f7f-ef3f7292df99.png">
<img width="260" alt="jas 1" src="https://user-images.githubusercontent.com/851191

[2021-06-07 13:15] uslss opened #12759 "Show host/statistic info/action icons option from Connection context menu affect all connections in the project"
#### System information:
- Operating system (distribution) and version цшт10
- DBeaver version 21.1.0

#### Describe the problem you're observing:
Show host/statistic info/action icons option from Connection context menu affect all connections in the project
![2021-06-07_16h08_53](https://user-images.githubusercontent.com/31996417/121022952-7dde7c80-c7ab-11eb-970d-1b3e0c5ad210.png)
![2021-06-07_16

[2021-06-07 13:25] #11652 closed, assigned to nobody

[2021-06-07 13:44] uslss commented on #12209
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info.

[2021-06-07 13:44] #12209 closed, assigned to nobody

[2021-06-07 13:49] uslss commented on #10045
there is no update on the issue for a long time.
If the issue is still actual for you - feel free to reopen it with additional info.

[2021-06-07 13:49] #10045 closed

[2021-06-07 13:50] uslss commented on #11901
there is no update on the issue for a long time.
If the issue is still actual for you - feel free to reopen it with additional info.

[2021-06-07 13:50] #11901 closed, assigned to nobody

[2021-06-07 13:50] uslss commented on #11576
there is no update on the issue for a long time.
If the issue is still actual for you - feel free to reopen it with additional info.

[2021-06-07 13:50] #11576 closed, assigned to nobody

[2021-06-07 13:54] LonwoLonwo commented on #11088
About dot pattern

You can use asterisk in the pattern for a single character

![2021-06-07 16_52_21-Window](https://user-images.githubusercontent.com/45152336/121028900-db28fc80-c7b0-11eb-8324-9f76c2ea4690.png)

[2021-06-07 13:56] uslss commented on #11959
@pgodfrin-nov is the issue still actual for you? if it is, could you provide logs?

[2021-06-07 13:58] uslss commented on #12085
unfortunately, we've got no environment to reproduce an issue. could you check if it is still actual against 21.1.0?
Thanks in advance and sorry for the late response

[2021-06-07 14:00] LonwoLonwo commented on #8110
I've added "SQL Formatting" and "Code Completion" tabs in Connection settings in DBeaver 21.1.1.
Now the necessary settings will be easier to find for datasource.

![2021-06-07 14_01_12-Window](https://user-images.githubusercontent.com/45152336/121029677-78843080-c7b1-11eb-97cb-5de0b422760a.png)

Now the ticket will check testers and will close it on their own.

Thanks for feedback!

[2021-06-07 14:40] ceinmart commented on #8110
awesome!!
thank you very much!!!!
have a nice day!

[2021-06-07 14:41] ooobii commented on #8800
Problem remains in 21.1.0.202106012023 - installed via. `snap`.

Error logs still confirm the same issue documented earlier is taking place. We have faith in a solution! :smile:

[2021-06-07 15:03] mkgrgis commented on #12247
PostGIS 3.0, Postgres 13, standard JDBC for postgresql, Ubuntu 20.
This problem is about all of geometry types.
![изображение](https://user-images.githubusercontent.com/41448637/121039977-36abb800-c7ba-11eb-8db5-29f4bd3b7e38.png)

I think the problem is inside of https://github.com/dbeaver/dbeaver/tree/devel/plugins/org.jkiss.dbeaver.data.gis.view

[2021-06-07 17:13] brazune opened #12761 "Error with MariaDB ODBC driver with Windows Authentication"
#### System information:
- Operating system (distribution) and version: Windows Server 2016
- DBeaver version:  21.1.0.202106012023
- Additional extensions

#### Connection specification:
- Database name and version: SingleStore 7.3.11 (wire compatible with MariaDB/MySQL)
- Driver name: MariaDB ODBC 3.1 Driver 64-bit
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem

[2021-06-07 17:55] joshepp opened #12764 "Problem with Dbeaver Git"
Since de upper Version of Dbeaver 21.0.4 I can't use DBEAVER it always restart I had to downgrade to 21.0.4 this always happen with older versions when de plugin ask to restart but now even if you don't restart it , DBEAVER doesn't start . Please help Thanks.

[2021-06-07 18:21] GertL commented on #12330
Issue resolved with version 21.1.0

Thank you all!

[2021-06-07 18:21] #12330 closed, assigned to nobody

[2021-06-07 19:25] rsprinkle commented on #6544
This works for me now.

DBeaver Community Edition
Version 21.1.0.202106012023

on Windows 10

[2021-06-07 19:31] m4ss1m0g opened #12765 "SqlServer FK between two schemas doesn't show on UI"
#### System information:
- Operating system: **Windows 10 Version 21H1 Build 19043.1023**
- DBeaver version **21.1.0.202105300349** Community
- Additional extensions
  DBeaver Git support	1.0.46.202106012023	org.jkiss.dbeaver.git.feature.feature.group	DBeaver Corp
  DevStyle (includes Darkest Dark Theme)	1.11.0.202105260439	com.genuitec.eclipse.theming.core.feature.feature.group	Genuitec, LLC

###

[2021-06-07 21:07] serge-rider commented on #12284
PostgreSQL driver updated to 42.2.20, Postgis to 2.5.0

[2021-06-07 21:36] serge-rider commented on #10768
I've excluded p2 scheduler/update checker plugins. We don't need them in DBeaver standalone.

Error "Registry Directory not available" was produced by P2 scheduler plugin.

[2021-06-07 21:38] cygnim commented on #10768
Cool. I will check if this resolves the issue in the next release.

[2021-06-07 21:55] ShadelessFox commented on #12765
Thanks for the report.

[2021-06-07 22:33] KES777 opened #12768 "too hard to find this control element"
v21.0.3

![image](https://user-images.githubusercontent.com/799021/121095553-2f57cf00-c7f9-11eb-984f-e119be9300b3.png)

I occasionally press this button and it was too hard to find what was clicked and get interface back to this view:

![image](https://user-images.githubusercontent.com/799021/121095706-8067c300-c7f9-11eb-8b82-3ae57c62f604.png)

[2021-06-07 22:35] KES777 commented on #12675
'https://user-images.githubusercontent.com/799021/121095848-c45ac800-c7f9-11eb-93fd-8e4219098e30.mp4'

[2021-06-07 22:36] KES777 commented on #12675
[Kazam_screencast_00066.mp4.zip](https://github.com/dbeaver/dbeaver/files/6612335/Kazam_screencast_00066.mp4.zip)

[2021-06-07 22:44] KES777 commented on #12618
@Matvey16 As you can notice, I have already disabled that option which your show at your video.
Did you see this screenshot? https://github.com/dbeaver/dbeaver/issues/12280#issuecomment-849442944

2. Also notice, this is screenshot from your video with your settings:
![image](https://user-images.githubusercontent.com/799021/121096427-ddb04400-c7fa-11eb-8aa4-7ae6638a0aae.png)

Fraction for seconds

[2021-06-07 22:48] givihuda commented on #12337
Results ordering mode was set to Smart (Adaptive).

What was yours set to?

[2021-06-07 22:48] KES777 commented on #12280
@Matvey16 Ok, so (about third question) why enabling that option change nothing?

[2021-06-07 22:55] ShadelessFox commented on #12337
Mine was set to Adaptive too.
I noticed that I mixed up the labels, but after further investigation I'm still not able to reproduce your issue using MySQL and MariaDB drivers.

[2021-06-07 22:59] #12713 closed, assigned to nobody

[2021-06-07 23:00] Zaught commented on #12713
It automagically resolved itself. LOL.

[2021-06-08 01:59] wangpeng0824 commented on #12751
i‘m run dbeaver in eclipse，and i also follow the wiki instructions ，it was build successfully  by maven3.8，but  when i run it ，some errors  happened，I saved a record of my operations step by step to the attach file @LonwoLonwo @kseniiaguzeeva
 @serge-rider
 eclipse version：eclipse-rcp-2021-03-R-win32-x86_64
jdk：java.version=11.0.11   java.vendor=AdoptOpenJDK
[step-by-step.zip](https://github.com/d

[2021-06-08 06:43] Matvey16 commented on #12618
@KES777 It looks like I got confused in two isuues.
Timestamp depends on many conditions. For example you can disable the date/time formatting (by checking it in properties like in my video) and then the look of the data will depend on various conditions. First is a scale parameter, it will cut the tail of your timestamp if it exceeds the scale. If the timestamp is inserted by a function, fraction

[2021-06-08 06:44] Matvey16 commented on #12280
I tried to explain how it works here #12618
Let me know if it is still confusing

[2021-06-08 06:48] kseniiaguzeeva commented on #12721
I cannot reproduce it on MacBook Air. Could you please provide me with information about your screen resolution? Do you use  standalone DBeaver?

[2021-06-08 06:59] kseniiaguzeeva commented on #12358
Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/9414

[2021-06-08 06:59] #12358 closed, assigned to nobody

[2021-06-08 07:12] anjee10 commented on #12750
@kseniiaguzeeva
- Do you use manual or auto-commit mode?
  - auto-commit mode
- What database do you use?
  - PostgreSQL
- Is your database local?
  - yes, in local only

[2021-06-08 07:27] LonwoLonwo commented on #12675
But, again,

"Blank line is statement delimiter" - is disabled in your settings.

![2021-06-08 10_20_45-Kazam_screencast_00066 mp4](https://user-images.githubusercontent.com/45152336/121141268-74085800-c843-11eb-859c-4ad1fa3b7e39.png)

And this is tool tip for this setting.

![2021-06-08 10_21_33-DBeaver Enterprise 21 1 0 - _dvdrental_ Script-9](https://user-images.githubusercontent.com/45152336/1

[2021-06-08 07:30] aerfus opened #12769 "Custom extension development guide"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: CE edition 21.1.0
- Java version: OpenJDK 11.0.11
- Additional extensions: No

Hello.
I would like to create a custom extension to enhance queries with specific comments.
Is it possible to do that for DBeaver CE?
If yes, could you please provide me with a development guide?

The only note I have f

[2021-06-08 07:33] Matvey16 commented on #12284
Verified

[2021-06-08 07:33] #12284 closed, assigned to serge-rider, Matvey16

[2021-06-08 07:34] kseniiaguzeeva commented on #9414
I still cannot reproduce it with 3 different keyboards (I also tried to reproduce it in standalone DBeaver and in Eclipse). I've found a couple of articles where people forced the same issue and managed it. Could you please try their workarounds to solve the problem http://www.evansweb.info/2005/03/24/mac-os-x-and-home-end-keys/ and https://apple.stackexchange.com/questions/16135/remap-home-and-en

[2021-06-08 07:55] p91paul commented on #12675
@LonwoLonwo considering there's a ; shouldn't that be used as a delimiter, even with that setting off?

[2021-06-08 08:17] uslss commented on #12764
seems to be duplicate of #12172 .
please try to delete the `plugin `folder under `%USERPROFILE%\.eclipse\org.jkiss.product*`
thanks for the report

[2021-06-08 08:17] #12764 closed, assigned to nobody

[2021-06-08 08:21] uslss commented on #11518
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-06-08 08:21] #11518 closed, assigned to nobody

[2021-06-08 08:21] #12436 closed, assigned to nobody

[2021-06-08 08:33] 2019-05-10 opened #12771 "Windows: upgrade ignores current path and UI language (-nl en)"
#### System information:
- Operating system (distribution) and version: Windows Server 2012 R2
- DBeaver version 21.1.0
- Java version included
- Additional extensions

#### Describe the problem you're observing:

Installed previous version in a folder on the Desktop (network share).
Added ``-nl en`` to the shortcut and DBeaver comes up with an english UI.

Today I was prompted about an upgrade an

[2021-06-08 08:37] uslss commented on #12211
it is needed to use **SSS** to show leading zeros.  So if you use **S** leading zeros are omitted to reduce the value to the desired width.
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=4516915

[2021-06-08 08:37] #12211 closed, assigned to nobody

[2021-06-08 08:38] uslss commented on #12445
is it still actual against 21.1.0?

[2021-06-08 08:40] uslss commented on #12485
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info that will help to reproduce an issue

[2021-06-08 08:40] #12485 closed, assigned to nobody

[2021-06-08 08:40] uslss commented on #12486
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2021-06-08 08:40] #12486 closed, assigned to nobody

[2021-06-08 08:50] uslss commented on #12420
@devscheffer do you use Execute SQL script (Alt+x) command or Execute SQL Statement (Ctrl+Enter).

The issue is reproducible for me only in case I re-execute just SELECT statement using Ctrl+Enter. Seems it is expected behaviour in this case, because the parameter wasn't set once again.

Sorry for the late response

[2021-06-08 08:57] uslss opened #12773 "NPE appears when trying to set parameter value using @set"
#### System information:
- Operating system (distribution) and version win10x64
- DBeaver version 21.1.0

#### Connection specification:
- Database name and version postgresql

#### Describe the problem you're observing:
NPE appears when trying to set parameter value using @set

![2021-06-08_11h44_18](https://user-images.githubusercontent.com/31996417/121155496-85a42c80-c850-11eb-9b8f-d0862fca7421

[2021-06-08 08:59] #12643 closed, assigned to nobody

[2021-06-08 08:59] LonwoLonwo commented on #12675
![lgfPrWtMWZ](https://user-images.githubusercontent.com/45152336/121154146-60fb8500-c84f-11eb-8c9b-140bfa0fb2d4.gif)

@p91paul
So, I disabled "Blank line is statement delimiter" and made this video.
The problem is not with delimiter, but with delimiter + "("

Perhaps this complication from the DBeaver is to think that statement is still open. But we have a lot of tickets about of incorrect delimit

[2021-06-08 09:32] ShadelessFox commented on #12147
Fixed. Please make sure column formatting still works.

[2021-06-08 10:34] uslss commented on #6408
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-06-08 10:43] uslss commented on #8415
seems it is already implemented

[2021-06-08 10:43] #8415 closed

[2021-06-08 10:47] uslss commented on #9612
issue with text data types will be resolved in the scope of #10180

[2021-06-08 10:47] #9612 closed

[2021-06-08 10:51] uslss commented on #330
seems issue is outdated

[2021-06-08 10:51] #330 closed

[2021-06-08 10:55] uslss commented on #2484
already implemented for column filters in the resultset

[2021-06-08 10:55] #2484 closed

[2021-06-08 10:59] LonwoLonwo commented on #12374
Distribution info added for Materialized View in Greenplum, and extra options info added for views and Materialized views for Greenplum and PostgreSQL in DBeaver 21.1.1

![2021-06-07 12_46_04-Window](https://user-images.githubusercontent.com/45152336/121173394-711c6000-c861-11eb-9ec6-639fc3e19def.png)

[2021-06-08 11:02] uslss commented on #3217
already implemented

[2021-06-08 11:02] #3217 closed

[2021-06-08 11:16] uslss commented on #7177
seems issue is obsolete

[2021-06-08 11:16] #7177 closed

[2021-06-08 11:17] uslss commented on #7182
already implemented

[2021-06-08 11:20] uslss commented on #7856
feature will be implemented in the scope of #10903

[2021-06-08 11:20] #7856 closed

[2021-06-08 11:23] uslss commented on #6992
databases/schemas can be filtered in Connection properties
![image](https://user-images.githubusercontent.com/31996417/121176548-02d99c80-c865-11eb-8324-2663c656df29.png)

[2021-06-08 11:23] #6992 closed

[2021-06-08 11:28] uslss commented on #6839
issue is obsolete

[2021-06-08 11:28] #6839 closed

[2021-06-08 11:33] uslss commented on #10814
duplicates #5529

[2021-06-08 11:33] #10814 closed, assigned to nobody

[2021-06-08 11:38] Matvey16 commented on #12619
Timestamptz format copies the configuration from timestamp format. Are you asking to add additional option to configure them separately?

[2021-06-08 11:41] uslss commented on #6535
for now, schemas could be filtered in the scope of one database at Database tab. If it doesn't resolve the problem, please reopen an issue or create a new one
![image](https://user-images.githubusercontent.com/31996417/121178864-a88e0b00-c867-11eb-923b-53a31900498a.png)

[2021-06-08 11:42] #6535 closed

[2021-06-08 12:21] ceinmart commented on #2484
Hi @uslss  ,

Please, can you enlight me on how to use this resource on column filters???
I'm trying and trying here on version 21.1 and found no way to generate the "IN" statement with the data from the cells selected.

[2021-06-08 12:40] assismauro commented on #2125
Windows dBeaver still showing this "Java heap space" error in import tasks.

I'm using Version 21.1.0.202106012023.

[2021-06-08 12:45] kseniiaguzeeva commented on #12750
DBeaver is a database tool and database data is saved on a server side after you save it in DBeaver. Could you please check whether unsaved changes were in a table, when you closed DBeaver? When DBeaver is going to be closed, Save changes confirmation pop up appears and you can select save or not to save the changes.

![Screenshot 2021-06-08 at 15 35 24](https://user-images.githubusercontent.com/5

[2021-06-08 12:49] uslss commented on #2484
hi @ceinmart ,
you could choose needed cells and then press filter icon at column title, so needed values will be automatically selected or you can just press filter icon at the column title and choose needed values and than apply filters. At the top table toolbar you can find automatically generated IN statement (see gif attached). Filters could be apply for one and more columns. Does it resolve

[2021-06-08 12:51] Glooomster opened #12778 "Multiple Titles for multiple tabs not working"
I'm sorry if this is in wrong place but could only found similar issue with closed status but this feature seems to still have issues.
#### System information:
- Windows 10 Enterprise /2004 version
- DBeaver version: Version 21.1.0.202106012023

#### Describe the problem you're observing:
I'm trying to use multiple results on single query script.  Using **Title** to differentiate between the resul

[2021-06-08 12:54] Ncamel-zz commented on #10814
they are not the same thing.
if there is a independent field to display column  comment  (in record view)  , it is very intuitionistic for people who dont familiar with the columns.
when i use pl/sql developer,this feature is one of good features impressed me.

[2021-06-08 12:54] quartoq commented on #12249
Thanks, it works!

[2021-06-08 13:03] kseniiaguzeeva commented on #12778
You describe the expected behaviour. DBeaver names ResultSet tabs Results (1), Results (1) etc. when you execute expressions as a [script](https://github.com/dbeaver/dbeaver/wiki/SQL-Execution) (Alt+X). It helps to understand that they belong to one script.
When you execute expressions separately (Ctrl+Enter), they appear in tabs with different names.
The feature was implemented several releases b

[2021-06-08 13:12] ceinmart commented on #2484
Nice!
I never thought of use this resource this way.
Thanks!

[2021-06-08 13:30] Glooomster commented on #12778
Hi @kseniiaguzeeva ,
Thanks for the quick response.
It seems that when I execute Ctrl+Enter (Execute SQL Statement) they are all showing as Result 1 , result 1(2)
But when execute with ALT+X (Execute SQL Script) they are showing with each different name.

I will just start using ALT+X going forward thank you for your help.

[2021-06-08 13:32] RedTailedHawk opened #12779 "Column not Updated on Properties Tab"
I originally thought this was specific to column defaults, but looks like adding a new column to the table is not refreshed on the Properties tab either.

Running MacOS v11.2.3, DBeaver Version 21.1.0.202106012023, using Postgres.

[code]

![image](https://user-images.githubusercontent.com/8505928/121194269-98ad0180-c83c-11eb-9cea-245b1d1cff24.png)

Now I run this:

[code]

And if I close down the

[2021-06-08 13:49] #12778 closed, assigned to nobody

[2021-06-08 14:22] Matvey16 commented on #12779
Thank you for the bug report. We will look into it.

[2021-06-08 14:31] robarwebservices opened #12781 "PLEASE Stop the Pop-Up on Query Execution Error!"
When a query returns an execution error, DBeaver throws a pop-up (in addition to displaying in the "output" tab).

This creates an extra unnecessary step of closing the dialog. It's a pain, and it creates unnecessary friction when trying to get work done.

I don't see an option to change it. Please give us this option to disable the execution error pop up!

![image](https://user-images.githubuserc

[2021-06-08 14:48] robarwebservices opened #12782 "Let us Stop Queries in 1 click!"
The default workflow to stop a running query is insane. 3 clicks.

1. click this:
 ![image](https://user-images.githubusercontent.com/334314/121206705-137f1800-c84f-11eb-9f24-6f4a702961b4.png)
2. click this:
 ![image](https://user-images.githubusercontent.com/334314/121206838-2bef3280-c84f-11eb-91b7-901b2418e2f6.png)
3. Wait for the Execution Error pop-up???  WHY!  Close it (either ESC or click X)

[2021-06-08 14:54] rajmondburgaj commented on #12319
This solution does not work either, I click at the header of the column, then i click the option as described in the picture and the stills the cells as not wide enough to show the whole content of it.

[2021-06-08 15:09] #12751 closed, assigned to nobody

[2021-06-08 15:44] kai-morich commented on #12446
what is your HANA server version?

[2021-06-08 15:46] Matvey16 commented on #12779
Related to #12547

[2021-06-08 15:48] Matvey16 commented on #12779
For now you can use a workaround to refresh (F5) Navigator tree or click Disconnect and then Connect in menu.

[2021-06-08 16:32] lalato commented on #12745
I wonder if there is a setting for max record size that I might have missed?

[2021-06-08 17:00] hnavia commented on #7082
Unfortunately, Darkest Dark Theme is not working anymore in DBeaver 21.1.0.

Everytime I install the theme, DBeaver enters in a boot loop that never ends.

[2021-06-08 19:50] Xylandor commented on #12721
I'm using the latest version fo the Community edition which I installed using the dmg file. No brew install or anything. Everything is set as the default way after installing. I even tried restarting the Mac, but issue persists.

Here's the specs:
MacBook Pro (16-inch, 2019)
Ram: 16GB
Display Res:  3072 x 1920 (This is the default setting)
OS:  MacOS Catalina v10.15.6 (19G2021)

Majority of the ti

[2021-06-08 21:01] devscheffer commented on #12420
Thank you, I was only using ctrl+enter

[2021-06-08 21:01] #12420 closed, assigned to nobody

[2021-06-09 00:30] atjshop commented on #9414
I have those config in the file DefaultKeyBinding.dict.
This issue still happens.

[2021-06-09 00:40] sixdimensionalarray commented on #11614
I ran into the same issue.  There is one workaround for this that has a small side effect (not having UI assistance to construct the JDBC URL), but is easy enough for this use case.

Use a Driver setup that does not have a URL template, and then when you create a connection using that driver, you can type whatever you want into the URL on the "Connect to a database" UI.

Remove the URL Template fr

[2021-06-09 01:31] anjee10 commented on #12750
@kseniiaguzeeva thanks for looking into this!

I checked every time if data persisted in database or not, every time I tend to save it if I do manual edits.

First I doubted on DBeaver upgrades doing this, but i just updated once after using DBeaver before ~4 months, last I updated DBeaver is right after recent data loss (before couple of days), so no updates to DBeaver in between when data loss h

[2021-06-09 05:41] uslss commented on #12773
verified

[2021-06-09 05:41] #12773 closed, assigned to uslss, ShadelessFox

[2021-06-09 05:43] uslss commented on #8110
verified

[2021-06-09 05:43] #8110 closed

[2021-06-09 05:56] mpotra opened #12786 "INSERT fails with non-null constraint violation"
#### System information:
- Operating system (distribution) and version: Fedora 31 - os.arch=amd64 os.name=Linux os.version=5.5.9-200.fc31.x86_64
- DBeaver version 21.1.0.202105300349
- org.jkiss.dbeaver.ce.feature (21.1.0.202105300349) "DBeaver Standalone"
- org.jkiss.dbeaver.runtime.feature (21.1.0.202105300349) "DBeaver Model"
- org.jkiss.dbeaver.standalone.feature (21.1.0.202105300349) "DBeaver

[2021-06-09 06:22] uslss commented on #12781
please, uncheck Show errors in dialog option in Preferences
![image](https://user-images.githubusercontent.com/31996417/121303780-26075900-c904-11eb-8ab4-cfdd2f6e1ae4.png)

[2021-06-09 07:24] LonwoLonwo commented on #6813
Thanks for feedback @geuss
We will wait for your answer

[2021-06-09 07:35] Matvey16 commented on #12747
Verified

[2021-06-09 07:35] #12747 closed, assigned to ShadelessFox, Matvey16

[2021-06-09 07:47] LonwoLonwo commented on #12786
Looks like a good enhancement, thanks @mpotra!

small tip for the future me: "CREATE EXTENSION IF NOT EXISTS "uuid-ossp""

[2021-06-09 07:52] kseniiaguzeeva commented on #9013
verified

[2021-06-09 07:52] #9013 closed

[2021-06-09 08:04] Bart-De-Pauw commented on #12261
Thank you for the swift resolution! Keep up the good work.

[2021-06-09 08:48] kseniiaguzeeva commented on #12065
My steps:
1. Open a table in Data Editor and scroll horisontally by Logitech mouse
2. Open the same table in SQL Editor and try to scroll by the same way - the horizontal scroll doesn't work
3. Go back to the Data Editor and try to scroll horisontally by the mouse again - the scroll doesn't work anymore

https://user-images.githubusercontent.com/51405061/121323320-653fa500-c918-11eb-86eb-894f28cd5

[2021-06-09 08:54] serge-rider opened #12787 "Taiwan language localization"
Add configuration for Taiwan localizations

[2021-06-09 08:57] uslss commented on #12374
verified

[2021-06-09 08:57] #12374 closed, assigned to uslss, LonwoLonwo

[2021-06-09 09:00] #12353 closed, assigned to nobody

[2021-06-09 09:01] kseniiaguzeeva commented on #12147
- SRID cannot be saved in spatial tab
- SRID cannot be set in column formatting (3395 is used by default)

[2021-06-09 09:20] uslss commented on #12172
duplicates #10852

[2021-06-09 09:20] #12172 closed, assigned to nobody

[2021-06-09 10:19] velteyn opened #12790 "Metadata tab not refreshing after second query execution"
#### System information:
- Operating system (distribution) and version
- Edizione	Windows 10 Pro
Versione	20H2
Data installazione:	‎15/‎03/‎2021
Build sistema operativo	19042.985
Esperienza	Windows Feature Experience Pack 120.2212.2020.0

- DBeaver version  21.1.0
- Additional extensions

#### Connection specification:
- Database name and version
-DB" AS/400
- Driver name com.ibm.as400.access.AS40

[2021-06-09 10:25] uslss commented on #12790
thanks for the report.
Issue will be fixed in 21.1.1 in the scope of #11639 ,

[2021-06-09 10:25] #12790 closed, assigned to nobody

[2021-06-09 11:31] LonwoLonwo commented on #11685
Hello @qngl
Can you please check "Data formats" settings.

Disable "Disable date/format formatting" helped me.

![2021-06-09 13_23_41-DBeaver Enterprise 21 1 0 - DATES_TEST](https://user-images.githubusercontent.com/45152336/121347050-70ea9600-c92f-11eb-9636-56cf148dab68.png)

[2021-06-09 12:24] GaryLiuGTA commented on #11614
@sixdimensionalarray
Thanks for your advice, and it really works.

But still it is better to have a template in place, so no need to input many information repeatedly for each connection.  But anyway, this workaround solved my problem.

Thanks!

[2021-06-09 12:30] kseniiaguzeeva opened #12791 "Interval type is wrongly mapped during data transfer"
#### System information:
- DBeaver version Win10

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
Export a table with an interval data type to a new table

**Expected**: the data types are identical in the new table
**Actual result**: interval types are mapped as Varchar

![dbeaver_X4EWpf5Hb6](https://user-images.githubusercontent.com/51405

[2021-06-09 12:57] riednyko commented on #12586
Snap package already updated to latest version.

[2021-06-09 12:59] #12586 closed, assigned to riednyko

[2021-06-09 13:30] uslss commented on #10862
AWS SSO support was added in the scope of 21.1.0

[2021-06-09 13:30] #10862 closed, assigned to serge-rider

[2021-06-09 13:35] uslss commented on #11543
Sorry for the late response.
We get statistic info using `SHOW TABLE STATUS FROM database_name` query. Could you execute it and check how much time will it take?

[2021-06-09 13:36] uslss commented on #11614
Additional properties could be provided at Driver properties tab at Connection Settings dialog
![image](https://user-images.githubusercontent.com/31996417/121364921-e0b54c80-c940-11eb-8708-b20cd04bf9b2.png)

[2021-06-09 13:39] uslss commented on #12590
thanks for suggestion

[2021-06-09 13:39] uslss commented on #12590
#11380

[2021-06-09 13:41] uslss commented on #12597
thank you for the idea

[2021-06-09 13:43] uslss commented on #12600
thanks for the report

[2021-06-09 13:44] uslss commented on #12606
probably duplicates #9252

[2021-06-09 13:45] uslss commented on #12647
thank you for the suggestion

[2021-06-09 13:49] uslss commented on #12620
thanks for the suggestion.
Probably, we should implement the possibility to configure needed external services to run with the current query from SQL editor

[2021-06-09 13:50] uslss commented on #12683
thanks for the suggestion

[2021-06-09 13:52] uslss commented on #12689
hi @liemoli ,
did you try to re-create the connection? which jdbc URL is used in your case?

[2021-06-09 13:53] uslss commented on #12745
thanks for the report

[2021-06-09 14:03] sixdimensionalarray commented on #11614
@uslss, I tried adding user properties but they were not passed to the driver in the JDBC url.

The docs are a little sparse on how to use the user properties, do you have to add user properties to the URL template somehow?  Can you explain how they are meant to work, I didn't see anything in the docs?

Thank you much!

[2021-06-09 14:09] GaryLiuGTA commented on #11614
I tried adding those user properties, and it's the same as @sixdimensionalarray, and it did not go through and build connections.
![image](https://user-images.githubusercontent.com/57276664/121370293-9dd88200-c90a-11eb-9641-e3f20a6ee56e.png)

Is that possible to have the template in place, and also allow user tot edit it for each individual connection?

Thanks!

[2021-06-09 14:10] liemoli commented on #12689
Hi,

in the previous version I used a custom connection similar to this one:

jdbc:oracle:thin:@(name database)?TNS_ADMIN=(path file)

Thanks

LucaIemoli
Ufficio Sistemi e Networking
+39 0342634298
+39 3485420605
***@***.***

Cosio Valtellino (SO)|Via Stazione, 4–
23013|0342 634211
SEDE LEGALE Milano (MI) Via Ansperto, 7 – 20123  |  SEDE AMMINISTRATIVA Cosio V.no (SO) Via Stazione, 4 – 23013  |  C

[2021-06-09 14:14] murathptest opened #12792 "SQL Error [922] [42000]: ORA-00922: missing or invalid option"
#### System information:
- Windows 10
- 7.2.2
- 1.8.0.271
- Additional extensions

#### Connection specification:
- Oracle 12.2 Enterprise
- ojdbc8.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
When I type a single command such as
SET VERIFY OFF;
and try to execute it to a oracle environment,
I am seeing the above error

SQL Error [922] [42000]

[2021-06-09 14:14] robarwebservices commented on #12781
It IS unchecked by default. This isn't the right setting. I still get the pop-up on query execution error. I'm on the latest version for windows.

[2021-06-09 14:43] Matvey16 commented on #12455
Also judging by this line in log `java.io.IOException: Unable to resolve plug-in "org.jkiss.dbeaver.core.application".` it looks like your Dbeaver installation is congested with old files that are no longer used and it can cause a variety of bugs.
If options mentioned above won't work, please try to delete current version of Dbeaver and perform a clean install. It will not only fix this bug with a

[2021-06-09 14:43] LonwoLonwo commented on #12792
Hello @murathptest
As I can see "SET anything" statements are SQL*Plus specific https://docs.oracle.com/cd/B19306_01/server.102/b14357/ch12040.htm

[2021-06-09 14:48] Matvey16 commented on #12559
Please attach logs that are presented after you encounter this problem.
I tried to reproduce it and while the initial run of the script was not possible after loosing connection. Clicking invalidate/reconnect button fixed it, and I was able to run this script in the same window.

[2021-06-09 14:56] Matvey16 commented on #12591
It looks like it may be an eclipse issue. Do you use any plugins to change the theme? Also have you tried changing the background color in default theme?

[2021-06-09 14:59] Matvey16 commented on #12606
Sorry for the late response. As mentioned above, it is probably caused by reordering of columns, because export doesn't respect that and uses the original ordering. So it is probably a duplicate of another issue that we can't fix right now.

[2021-06-09 15:50] tmbrye opened #12794 "Output Tab and Execution Log no longer exists within the Results tab area."
I am definitely frustrated that the  execution log has now moved to  the right side of the script window.  A couple releases back it was down in the Results tab section.  It is much easier to view when it is horizontal because it holds many columns which  get completely cut off in the  small right window and you have  to expand it covering your script window.

My suggestion is to allow these tabs

[2021-06-09 16:07] ShadelessFox commented on #12169
Implemented:
![image](https://user-images.githubusercontent.com/35821147/121375068-1bbb7e00-c949-11eb-8e3f-d7831784376c.png)

It can be opened by clicking <kbd>Details</kbd> in the connection test dialog.
For now, we decided to display only basic information about connection here, nothing more.
Other information (like Java version, etc.) you can find in the <kbd>Installation Information</kbd> ment

[2021-06-09 16:16] 2019-05-10 commented on #12771
Today I deleted the supposedly old installation folder on the Desktop nad the new installation in AppData\Local\ was gone as well.
Is this to do with the installer, moving/linking stuff on update or is this an issue with the Windows configuration (user's folder as share)?
Since it was, indeed a deletion rather than moving to Thrash, I could not restore and check the folder.

[2021-06-09 16:21] rokopi-byte commented on #12455
Hi, just tried a clean install but the problem persist..also noticed that happens with every single file dialog I try to open in dbeaver. I can say that this problem appeared recently, everything was working fine with previous versions (I cannot say which was the last working version). I didn't try to update GTK+, since I'm a little bit worried to break something else...

[2021-06-09 18:07] p91paul opened #12795 "Cannot refresh table metadata"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.1.0
- Additional extensions n/a

#### Connection specification:
- Database name and version Oracle 11, sql server 2016
- Driver name ojdbc 19, ms driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n.a.

#### Describe the problem you're observing:
In the table editor, while visiting any tab

[2021-06-09 18:18] p91paul opened #12796 "NPE with find/replace window"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.1.0
- Additional extensions: n/a

#### Connection specification:
- Database name and version Oracle 12
- Driver name ojdbc 19
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n/a

#### Describe the problem you're observing:
Sometimes the find/replace dialog, if left open while navigating differ

[2021-06-09 20:12] ElCuboNegro commented on #4250
Really in need of this feature.

[2021-06-09 20:55] eliezerjrs opened #12798 "Fail to launch after Windows Store update"
#### System information:
- Operating system (distribution) and version: Windows 10 21H1 build 19043.1052
- DBeaver version: 21.1.0

#### Describe the problem you're observing:
I cannot open dbeaver after I updated the windows store version from 21.0.0 to 21.1.0.

#### Steps to reproduce, if exist:
1. Click on dbeaver tiler;
2. The error message is prompt:
3.
![image](https://user-images.githubuser

[2021-06-09 21:03] ShadelessFox commented on #12796
Hello @p91paul,

Thanks for the response. That's unfortunate there's no exact steps to reproduce this issue. Let's hope blind-fixing will help 🙂

[2021-06-10 00:04] jyoisamu commented on #11543
189ｓ

[2021-06-10 02:35] HiIamJeff commented on #12748
Hi,
Thanks for the reply. I found the situation is a bit more complicated, but I have some clue now. When I opened DBeaver, let my mac slept and then wake it up, my exiting scripts would have this problem (each scroll skipped 9 lines). However, if I closed one specific script and opened it again, the scroll function became normal (only past 4-5 lines; Other scripts still had the weird scroll probl

[2021-06-10 06:13] Matvey16 commented on #12455
Can you please post new logs that u get on a clean version?

[2021-06-10 06:29] FredrikEkstrom79 commented on #12591
No plugins, the only thing i have done is to choose Dark as theme (and i have dark mode in Windows 10)
![image](https://user-images.githubusercontent.com/50202826/121475634-f6208a00-c9c5-11eb-9f0c-4daf4051161a.png)

[2021-06-10 06:38] Matvey16 commented on #12795
Probably related to #12779 and #12547

[2021-06-10 07:06] Matvey16 commented on #12591
I reproduced this issue on dark theme. I was not able to change background color to white in dark theme, but no without any error window. We will look into it. In the meantime can u try to change the background color (in Dark theme) to any other than wite and look if this error also appears?

[2021-06-10 07:13] LonwoLonwo commented on #12400
Fixed in DBeaver 21.1.1

[2021-06-10 07:18] rokopi-byte commented on #12455
Sure, here you are

`org.eclipse.swt.SWTError: No more handles
	at org.eclipse.swt.SWT.error(SWT.java:4915)
	at org.eclipse.swt.SWT.error(SWT.java:4804)
	at org.eclipse.swt.SWT.error(SWT.java:4775)
	at org.eclipse.swt.widgets.Dialog.error(Dialog.java:202)
	at org.eclipse.swt.widgets.FileDialog.openNativeChooserDialog(FileDialog.java:345)
	at org.eclipse.swt.widgets.FileDialog.open(FileDialog.java:

[2021-06-10 07:31] kseniiaguzeeva opened #12802 "Upper case column name converts to lower case"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.1.1 EA

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
Create a column via UI with upper-case one-word name.

**Expected**: the created column has the same name as you've written
**Actual result**: the upper case converts to lower case after the

[2021-06-10 07:47] Matvey16 commented on #12169
Verified

[2021-06-10 07:47] #12169 closed, assigned to ShadelessFox, Matvey16

[2021-06-10 07:49] phildebrand commented on #9414
Same here. It wouldn't have been an issue if eclipse/dbeaver would have taken over those settings.

[2021-06-10 07:54] FredrikEkstrom79 commented on #12591
I have tested to change to blue and green, no error meaasge but the color goes back to dark gray when i close the dialog
![image](https://user-images.githubusercontent.com/50202826/121486826-c7a8ac00-c9d1-11eb-9b57-a2d565fead0f.png)

[2021-06-10 08:30] Matvey16 commented on #12591
Ok, thanks, I have the same behaviour, we will look into it. It appears to be specific to dark theme.

[2021-06-10 08:45] Matvey16 commented on #12798
Did you mean to say that there were no DbeaverData folder in your `C:\Users\user_name\AppData\Roaming` directory? The log files are stored there. Particulary in `C:\Users\user_name\AppData\Roaming\DBeaverData\workspace6\.metadata` directory. Please attach them here so we could look deeper into the issue.

You can back up workspace6 folder if you are afraid of loosing your workspace after reainstal

[2021-06-10 08:53] uslss commented on #12729
probably will be resolved in the scope of #6398

[2021-06-10 08:55] uslss commented on #12794
thanks for the suggestion.
Seems to be the duplicate of #12534

[2021-06-10 08:55] #12794 closed, assigned to nobody

[2021-06-10 09:37] Matvey16 commented on #12455
While we research this issue, have you tried this solutions?

[2021-06-10 10:43] kseniiaguzeeva commented on #12802
Remains as an expected behaviour.

[2021-06-10 10:43] #12802 closed, assigned to nobody

[2021-06-10 10:56] MikePryadko opened #12805 "There is no color-scheme chooser"
![image](https://user-images.githubusercontent.com/31248040/121512396-56c5bc00-c9f2-11eb-8ff7-4a581b911b69.png)

![image](https://user-images.githubusercontent.com/31248040/121512440-634a1480-c9f2-11eb-95c3-4446924e63cd.png)

There is no opportunity to choose/select any color-scheme:
![image](https://user-images.githubusercontent.com/31248040/121512705-ab693700-c9f2-11eb-9889-3eebaa2659ea.png)

He

[2021-06-10 11:12] uslss commented on #12805
Hi @MikePryadko ,
Color scheme could be changed in Preferences
![image](https://user-images.githubusercontent.com/31996417/121515482-e6b93500-c9f5-11eb-9425-f5e1043cc3b5.png)

[2021-06-10 11:14] uslss commented on #12400
verified

[2021-06-10 11:14] #12400 closed, assigned to uslss, LonwoLonwo

[2021-06-10 11:20] uslss commented on #12765
verified

[2021-06-10 11:20] #12765 closed, assigned to uslss, ShadelessFox

[2021-06-10 11:28] uslss commented on #3458
cannot reproduce it against 21.1.0

[2021-06-10 11:40] kseniiaguzeeva commented on #12750
Could you please give me more details about tables, where data is lost:
-  its DDL
- data example
- do you add rows via Data Editor or use another way?

[2021-06-10 11:56] MikePryadko commented on #12805
@uslss thank!
I was needed color schemes for editor, not for interface, so I've done following:
1. Check `Enable theming`
2. Restart DBeaver (because after enabling theming a list with themes doesn't appeared)
3. Install "_DevStyle (includes Darkest Dark Theme)_" (to get any themes)
4. Go `Preferences` -> `User Interface `-> `Appearance` and select `DevStyle Theme`
5. Go to `Preferences` -> `DevSt

[2021-06-10 11:56] #12805 closed, assigned to nobody

[2021-06-10 12:28] mwalter commented on #12556
Hmm... seems to be a company firewall issue:

`
2021-06-10 14:22:27.330 - java.io.IOException: Unable to tunnel through proxy. Proxy returns "HTTP/1.1 407 Proxy Authentication Required"
java.io.IOException: Unable to tunnel through proxy. Proxy returns "HTTP/1.1 407 Proxy Authentication Required"
	at java.base/sun.net.www.protocol.http.HttpURLConnection.doTunneling(Unknown Source)
	at java.base/su

[2021-06-10 13:23] kseniiaguzeeva commented on #12556
Could you please confirm your suggestion with your system administrator?
Thank you in advance.

[2021-06-10 13:39] kseniiaguzeeva commented on #12324
Sorry for the long response. I'm trying to reproduce the issue. Could you please send me the connection settings (e.g. screenshot)?

[2021-06-10 13:42] boyapcha opened #12806 "Unable to Use Dbeaver variables"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

@set schema_environment = 'development'

select  international_exchange, cusip_number from ${schema_environment}_raw

[2021-06-10 14:16] serge-rider commented on #12554
![image](https://user-images.githubusercontent.com/6398845/121541039-9cdd4880-ca0f-11eb-8dcd-1f6e6dd9308a.png)

[2021-06-10 14:31] Chealer commented on #4525
This persists in 21.1.0 (although the error message now starts with "Cant delete object {0}").
At least, if DBeaver requests the user to switch to another database, DBeaver should explain how that can be done.

[2021-06-10 14:37] Matvey16 commented on #12806
Hello. Thank you for the report. I reproduced this issue, although I got a different error. Please try executing this script but with `schema_name.${variable}rest_of_table_name`

[2021-06-10 14:48] Matvey16 opened #12807 "Athena: SQL Editor disregards selected active schema when executing query"
#### System information:
- Operating system (distribution) and version Ubuntu 20.04
- DBeaver version 21.1.0
- Additional extensions

#### Connection specification:
- Database name and version Athena

#### Describe the problem you're observing:
SQL Editor runs script with default schema name despite choosing another as active

#### Steps to reproduce, if exist:
1. Chose a not default schema as act

[2021-06-10 14:49] Matvey16 commented on #12807
Can be related to #12806

[2021-06-10 15:56] boyapcha commented on #12806
Hi Matvey16,

Thanks for the response. For me the problem is my schema name itself has partly variable name. Table name is same.
Only part of schema name comes from variable like below.

@set schema_environment = 'development'

from ${schema_environment}_raw_pershing.isca_j

I am getting below error:
SQL Error [100071] [HY000]: [Simba][AthenaJDBC](100071) An error has been thrown from the AWS Athe

[2021-06-10 16:45] spaeg opened #12808 "Can not create new database connection"
#### System information:
- Windows 10
- Eclipse 4.7.3a
- DBeaver 21.1.0
- Java 1.8.291

#### Connection specification:
- MS SQL Server
- mssql-jdbc: 9.2.0

#### Describe the problem you're observing:
When I want to create a new connection to a MSSQL-Server, the view for the connection properties could not be loaded. I get following error message:

[code]

The same error appears for other database

[2021-06-10 18:38] schmitzkr opened #12809 "support for Oracle MERGE in data import"
**Is your feature request related to a problem? Please describe.**
Often I need to export data from an oracle table, let someone make data changes and then import the updated data.  Currently when I try to import the CSV, I get unique constraint errors, even with INSERT IGNORE ROW INDEX selected as the replace method.

**Describe the solution you'd like**
I would like to load a CSV that contains t

[2021-06-10 21:20] linkabi9 commented on #9413
an alternative that i use for DBeaver in OSX (with GCP)
[code]

you can, of course, leave out `create=false` and pass in the rest of the connection parameters for each connection instead of saving a premade connection. in either use case, the password will be set to the output of the subshell (in my case GCP). this should also work for AWS.

[2021-06-10 22:01] jon14four commented on #10066
Still an issue with pop_OS and Version 21.1.0.202105300349

[2021-06-10 22:02] devotoare commented on #10066
Still an issue with pop_OS and Version 21.1.0.202105300349

[2021-06-10 22:17] lramos commented on #7762
Hi how fix it?

[2021-06-11 00:47] vincent-ng-sgn opened #12812 "Incorrect query generated by dbeaver prevents saving an edit through datagrid"
#### System information:
- macOS 10.14.3
- DBeaver 21.1.0

#### Connection specification:
- Postgresql 12.5

#### Describe the problem you're observing:

Incorrect query generated by dbeaver when editing through datagrid when using non-public schema enum as primary key in table. Generated query isn't schema qualified.

#### Steps to reproduce, if exist:

1) create sample data:

CREATE SCHEMA my_sc

[2021-06-11 02:33] cooltnt opened #12813 "postgresql udf parameter use VARIADIC anyarray have some problem"
#### System information:
- Operating system (distribution) and version
- win10
- DBeaver version
- 21.1.0.202106012023
- Additional extensions

#### Connection specification:
- Database name and version
- postgresql 9.6
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
1 . use this code to create function, create success ,  can running, c

[2021-06-11 04:10] boyapcha opened #12816 "passing variable in s3 location while connecting to Athena using Dbeaver"
#### System information:
- Operating system (distribution) and version
- DBeaver version -- 21.0.5
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
S3 location :  s3://aws-athena-query-results-us-east-1/dbeaver/chandra_boyapati/${date}/

is it possible to

[2021-06-11 06:42] Matvey16 commented on #12806
Ok. I will ask you to first try using `@set schema_environment = development` please note there are no quotes and no Semicolon at the end.

If this workaround doesn't work please post the execution log of the query that is causing the error.

![2021-06-11_09h36_09](https://user-images.githubusercontent.com/82543000/121642519-4ddbf580-ca99-11eb-8414-a17f2cce6436.png)

[2021-06-11 06:52] uslss commented on #12807
Duplicates #11196

[2021-06-11 06:52] #12807 closed, assigned to nobody

[2021-06-11 07:20] toffick commented on #11816
Faced with the same bug
Ubuntu 16.04
DBeaver 21.0.1

[2021-06-11 07:52] istibekesi commented on #6098
You can start a server for the H2 database in your application at startup:
`org.h2.tools.Server server = org.h2.tools.Server.createTcpServer().start();`

Then H2 *server* connection works seamlessly, displaying the same tables your application uses:
![image](https://user-images.githubusercontent.com/5990010/121651236-b11a5780-ca9a-11eb-8d5a-fa3a93a047f2.png)

[2021-06-11 08:30] uslss commented on #10768
verified

[2021-06-11 08:35] uslss opened #12818 "DBeaver title isn't update on script opening"
#### System information:
- Operating system (distribution) and version win10x64
- DBeaver version 21.1.0

#### Describe the problem you're observing:
<none> connection is shown in application title in case of opening script associated with some connection
#### Steps to reproduce, if exist:
1. Link an sql file
2. Associate the file with a connection
3. Double-click the file to open it
 What does ha

[2021-06-11 08:40] uslss commented on #12813
thanks for the report

[2021-06-11 08:45] uslss commented on #12812
thank you for the report
as a workaround you can set your schema as default. In this case it will work ok
![image](https://user-images.githubusercontent.com/31996417/121658993-89cb8680-caaa-11eb-8dbc-c49b9dcbfcf8.png)

[2021-06-11 08:52] kseniiaguzeeva commented on #10734
verified.

[2021-06-11 08:52] #10734 closed

[2021-06-11 09:47] geuss commented on #6813
Hi @LonwoLonwo , at the moment,  it seems that the issue is no more present!! I ask you (if possible) to wait another week before closing the issue.

Thanks!!!!

[2021-06-11 09:49] Matvey16 commented on #12808
Hello. Thank you for the report. It appears that you use a 4 year old version of eclipse and also very old version of Java. I was not able to eproduce it on more recent versions. Have you tried updating both Eclipse and Java? If you did then does this issue persit on them?

[2021-06-11 09:53] LonwoLonwo commented on #6813
@geuss Ok

[2021-06-11 10:01] spaeg commented on #12808
Hello. Yes your are right, my eclipse and java versions are very old. Problem is, that I need this eclipse version for other plugins, which only run on this 4 years old version and are fixed for us. The old eclipse version only runs on this old java version and in the [description ](https://dbeaver.io/download/) of the dbeaver plugin is said

[code]

So I thought I open an issue. Cause two month a

[2021-06-11 10:09] healiseu opened #12819 "Tables from different schemas are not linked"
#### System information:
- Operating system (distribution) and version: Linux Cinnamon, Ubuntu 20.1
- DBeaver version: 21.1.0 vs 21.0.0

#### Connection specification:
- Database name and version: MSSQL AdventureWorks2019
- Driver name: Microsoft JDBC Driver for SQL Server

#### Describe the problem you're observing:
I am creating a new ER diagram and then I drug and drop tables from different sch

[2021-06-11 10:40] Matvey16 commented on #12808
Thank you. We will look if anything can be done.

[2021-06-11 10:56] LonwoLonwo commented on #9377
@vermgit In DBeaver 21.1.0 search for synonyms is disabled on default. Auto-complete can be faster now. Can you please test it?

![2021-06-11 13_53_38-Connection _orcl_ configuration](https://user-images.githubusercontent.com/45152336/121675779-87722800-cabc-11eb-9c47-70e48fecb760.png)

[2021-06-11 11:01] LonwoLonwo commented on #9108
Hello @nextstage-brasil
Can you please try the new DBeaver version? Maybe something changed.
https://dbeaver.io/

[2021-06-11 11:28] ShadelessFox commented on #12819
Hello @healiseu,

Thanks for the report. I believe this issue was fixed in #12765.

Can you try upgrading to the [EA version](https://dbeaver.io/files/ea/)?

[2021-06-11 11:31] LonwoLonwo commented on #8647
Hello @zolovey
Can you please test the new DBeaver version?
https://dbeaver.io/

Also, examples of incorrect behaviour will be very helpful.

[2021-06-11 11:45] zolovey commented on #8647
hi @LonwoLonwo
checked 21.1.1 version

problem still exists

![image](https://user-images.githubusercontent.com/56155099/121681460-855f9780-cac3-11eb-97a4-dbdd1f6f99e6.png)

![image](https://user-images.githubusercontent.com/56155099/121681479-898bb500-cac3-11eb-9b10-48fd0174032f.png)

[2021-06-11 11:50] KES777 commented on #12618
Finally I get it worked. IMHO: Interface is a bit weird. Also I do not understand what is precision and scale. Never saw that for `timestamp`

[2021-06-11 11:51] spaeg commented on #12808
Thanks. I tried it with the newest version of eclipse and java and yes, there all is functional. And you got me on an idea and i tried our other plugins also with this newer version and they are working for now. So I don't see a high urgency on this problem.

Greetings

[2021-06-11 11:59] LonwoLonwo commented on #8647
and originally "SYS" in upper case is schema name?

[2021-06-11 12:00] zolovey commented on #8647
Yep

[2021-06-11 12:08] LonwoLonwo commented on #8647
Ok, thanks for the help.

[2021-06-11 12:51] ohigs-airup commented on #6064
+1

[2021-06-11 13:00] cristianodri commented on #3458
The main bug is still there.

[code]

**insert_record** gets executed every time I use :record_id in a script.
What I'd like to have is a way to set in a variable the result of a function and not the whole function.

So, the current behavior is that every time :record_id is read, the function insert_record() is called. Hence, if i call **SELECT :record_id;** 3 times I get:
1
2
3

The expected beha

[2021-06-11 13:07] vermgit commented on #9377
After installing this version "Search metadata in synonyms" is unchecked. I guess it's the default.

My configuration also has "Use UNION for table metadata" and "Always use DBA_* views" checked (probably because of previous suggestions).

This way it's snappy, nice. However, as soon as I activate "Search metadata in synonyms" it becomes slower. So I'll keep it unchecked.

With the other two menti

[2021-06-11 13:09] kai-morich commented on #12446
According to the JDBC client colleagues you used a special tracing option. You should turn it of or specify a writable directory.

From the hostname in your screenshot looks like you are using DBeaver from within the SAP network. You can find details at HANA internal bugzilla #269304

[2021-06-11 13:11] kai-morich commented on #12446
can be closed here, as it is not a DBeaver issue

[2021-06-11 13:19] #12446 closed, assigned to nobody

[2021-06-11 13:21] boyapcha commented on #12806
This is working. Thank you so much

[2021-06-11 13:21] #12806 closed, assigned to nobody

[2021-06-11 13:22] healiseu commented on #12819
Hi @ShadelessFox,
thank you for your prompt reply, it seems the issue I am reporting here is partially fixed. There are other than #12765 linking cases to cover e.g. PK--PK. To illustrate this, I am embedding two ERD schema images of MSQL Adventure Works 2019 created with:

### DBeaver 21.0.0
![AdventureWorks2019_dbeaver_21 0 0](https://user-images.githubusercontent.com/14239698/121692123-6ddadb80

[2021-06-11 13:26] Goddard opened #12823 "flatpak doesn't have crypto require for SSL"
I am on ubuntu and using the flatpak I get a cryptographic error.  I know it is a problem with flatpak because if I installed the DEB that comes in my repo it works fine.

I think maybe some library isn't included that's required.

I'm trying to connect to a MySQL database version 5.7 that requires SSL just for reference.

Thanks

[2021-06-11 13:32] Mikajel opened #12824 "Navigating table columns with up/down arrow key skips random columns"
#### System information:
- Ubuntu Linux 21.04
- Version 21.1.0.202106012023
- uuid-ossp; plpgsql;

#### Connection specification:
- PostgreSQL 12
- Postgres
- Local database

#### Describe the problem you're observing:
Navigating table columns with up/down arrow key skips random columns.
I could not discover a pattern in the "jumps", neither types nor length name.
Jumps are stable.

#### Steps to

[2021-06-11 13:37] LonwoLonwo commented on #9377
@vermgit Thanks for the feedback!

[2021-06-11 13:37] #9377 closed

[2021-06-11 13:52] Goddard opened #12825 "dbeaver should use ssl with mysql dump"
I am using DBeaver and i noticed everything else is working fine in SSL mode, but for whatever reason mysqldump doesn't work.

SSL is required on my database.

[2021-06-11 14:10] ShadelessFox commented on #12819
Looks like our EA version is slightly outdated and does not feature the fix mentioned earlier, sorry.

I will let you know when it's updated.

[2021-06-11 14:29] ShadelessFox commented on #12819
Can you try again, please? Thanks.

https://dbeaver.io/files/ea/

[2021-06-11 14:44] healiseu commented on #12819
Hi, I confirm that your fix in the DBeaver EA from the repository of your link in the previous comment works fine.
It produces exactly the first diagram above.
Thank you

[2021-06-11 14:44] #12819 closed, assigned to nobody

[2021-06-11 14:51] danialmirza commented on #12445
Yes - I recently updated to 21.1.0 from a (much) older release and still hitting a similar error
![Screen Shot 2021-06-11 at 10 51 14 AM](https://user-images.githubusercontent.com/26485450/121705772-fb9fd200-caa2-11eb-895f-fe5e0d0184e5.png)

[2021-06-11 15:03] Matvey16 commented on #12618
Precision is a parameter that decides how many numbers of milliseconds will be stored for this column. It is 6 by default if you don't specify it in paretesis. For example if you insert `12:00:02.23234345234` in `timestamp(3)` column, only `12:00:02.232` will be stored and even if you enable time formatting in DBeaver like this `HH:mm:ss.ffffff` it will show you `12:00:02.232000`
Scale parameter d

[2021-06-11 15:05] #12280 closed, assigned to nobody

[2021-06-11 15:27] Matvey16 commented on #12824
Thank you for the report. This is reproduceble, so we will see if anything can be done.
Not database specific. Reproduceble in Oracle too

![2021-06-11_18h26_57](https://user-images.githubusercontent.com/82543000/121710859-aaafce00-cae2-11eb-8b8a-6291e6d2ab9e.gif) ![2021-06-11_18h33_54](https://user-images.githubusercontent.com/82543000/121711894-c23b8680-cae3-11eb-8749-1d62ed9d1865.gif)

[2021-06-11 16:28] Matvey16 opened #12829 "Dbeaver EE plugin is recognized as CE in Eclipse marketplace"
#### System information:
- DBeaver version 21.1.0
- Eclipse plugin

#### Describe the problem you're observing:
After installing Dbeaver EE plugin in Eclipse it will be defined as CE in marketplace wich leads to it being impossible to uninstall through marketplace.

#### Steps to reproduce, if exist:
1. Install Dbeaver EE plugin in Eclipse.
2. Try to uninstall it through marketplace

**Expected:**

[2021-06-11 16:29] GaryLiuTelus opened #12830 "Keep refreshing start screen after installing Eclipse Marketplace Client"
#### System information:
- Operating system (distribution) and version Windows 10 20H2 update
- DBeaver version 21.04
- Java version version 8 update 121
- Additional extensions no

#### Connection specification:
It is not related to Database, so not providing below information.
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem

[2021-06-11 16:38] Matvey16 commented on #12830
Hello and thank you for the report. It is kind of a known issue with a lot of plugins and appears to be fixed in the newest version. Can you try installing early acces version and verifying if it still persists?
https://dbeaver.io/files/ea/

[2021-06-11 16:41] Matvey16 commented on #12830
Probably duplicates this #10852

[2021-06-11 17:21] icegood opened #12831 "trigger syntax"
#### System information:
- Operating system (distribution) and version
Linux ice-ubuntu 5.11.0-18-generic #19-Ubuntu SMP Fri May 7 14:22:03 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- DBeaver version
- Version 21.1.0.202106012023
- Additional extensions

#### Connection specification:
- Database name and version sqlite
- Driver name org.xerial:sqlite-jdbc:RELEASE
- Do you use tunnels or proxies (SSH

[2021-06-11 17:51] GaryLiuTelus commented on #12830
I tried the latest version, but got the below error when install marketplace client:
[code]

[2021-06-11 19:27] Matvey16 commented on #12830
If you don't have many plugins installed I would recommend completely deleting `C:\Users\my_id\.eclipse\org.jkiss.dbeaver.product_21.1.0_1535670467_win32_win32_x86_64` folder or even the whole `.eclipse` folder and reinstalling the marketplace.
It is an Eclipse error and shows that the files downloaded were probably corrupted. Also make sure you are installing from Eclipse Repository - `https://do

[2021-06-11 19:37] GaryLiuGTA commented on #12830
@Matvey16 Thanks for your quick response.

I did as you suggested, and deleted the whole `.eclipse` folder, and reinstall the marketplace from official repository as you mentioned above, and then the looping flash screen comes back again. This is based on the early access version from `https://dbeaver.io/files/ea/`.

[2021-06-11 22:15] timbered opened #12832 "Error after using Find and Replace on Blob column, Firebird DB"
#### System information:
- Operating system (distribution) and version: Win10 x65
- DBeaver version: Version 21.0.0.202103021012
- Java version: 1.8.0_261
- Additional extensions: None

#### Connection specification:
- Database name and version: Firebird 2.5
- Driver name: DBeaver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Describe the problem you're observing:
I have an existin

[2021-06-13 16:11] Thomas-1985 opened #12833 "Cell value "set to default" not working if column default is NULL and many cells are selected"
#### System information:
- Operating system (distribution) and version: Mac OS 11.3.1
- DBeaver version: 21.1.0.202106012023
- Additional extensions: none

#### Connection specification:
- Database name and version: MariaDB
- Driver name: MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: no

#### Describe the problem you're observing:
-I have a table where the default value of some colum

[2021-06-14 01:28] anjee10 commented on #12750
@kseniiaguzeeva
- I can't share exact DDL, but  it's simple one, having few foreign key constraints, few create index things, fields having default values, nothing else
- you can take any data. For my case, it's not having any special char thing or any other encoding
- 99.99% I do not add any rows via Data Editor, it's always through angular/NodeJS application I am developing

I can make sure on d

[2021-06-14 09:21] lsieben97 opened #12837 "FIlter field on top of data editor loses focus when data has been loaded."
#### System information:
- Windows 10 20H2 Build 1052
- DBeaver 21.0.4
- No additional extensions

#### Connection specification:
- Mysql 5 on internal (company) database.
- No tunnels or proxies.

#### Describe the problem you're observing:
When I open a new data editor (by double-clicking on a table in the Database Navigator) the new data editor opens. when I start typing in the filter field at

[2021-06-14 09:25] amancini opened #12838 "DB-Full-Text search on PL-SQL code of function e procedure for ORACLE"
Hello,

please add supporto for search text on function and procedure by DB-Full-Text tools for ORACLE database

This function for example is present in software like DBArtisan by Embarcadero

best regards

[2021-06-14 13:50] serban-dobroiu opened #12839 "SQL Server: declaring variable before CTE"
#### System information:
- Operating system (distribution) and version: Win 10 Version 1809
- DBeaver version: Version 21.1.0.202106012023
- Additional extensions: -

#### Connection specification:
- Database name and version: Microsoft SQL Server Enterprise (64-bit) 11.0.7001.0
- Driver name: Microsoft JDBC Driver for SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe th

[2021-06-14 15:18] optik-aper commented on #12830
I'm experiencing the same issue when installing the DevStyle plugin from [http://www.genuitec.com/updates/devstyle/ci/](http://www.genuitec.com/updates/devstyle/ci/).  The splash screen comes up and closes, over and over.  After removing the org.jkiss.dbeaver.product_21.1.0_1535670467_win32_win32_x86_64 file from .eclipse, the loop stops.

[2021-06-14 18:40] sduncan01 opened #12840 "Rename "Database/Schema" to "Namespace" in settings dialog for InterSystems IRIS connections"
It would be helpful if the "Database/Schema" field was renamed to "Namespace" in the Connection Settings dialog when setting up a connection to InterSystems IRIS. This is because databases and namespaces are distinct concepts in InterSystems IRIS, and JDBC connections to an IRIS instance are made to a particular namespace rather than to a particular database.

If a user creates a connection with t

[2021-06-14 18:57] nlindner commented on #9875
I'm having the same issue (connecting with the Snowflake JDBC 3.13.4 driver, via DBeaver 21.1.0). It's making using DBeaver incredibly painful. For context, the database I'm connecting to has underscores in the catalog name, the schema name, the table names, and the column names. Even for a small, constrained query, it's taking >30 seconds just to get the table and column metadata.

Could I provid

[2021-06-14 19:09] sduncan01 commented on #12840
For reference, here's some documentation describing the difference between databases and namespaces in InterSystems IRIS: https://docs.intersystems.com/irislatest/csp/docbook/Doc.View.cls?KEY=GORIENT_ch_enviro

...and discussing JDBC connections, showing that it's the namespace that should be included in the connection URL:
https://docs.intersystems.com/irislatest/csp/docbook/Doc.View.cls?KEY=BJAV

[2021-06-14 19:48] LonwoLonwo commented on #9406
Update/Insert values fixed for [OID data types](https://postgrespro.com/docs/postgrespro/13/datatype-oid) in DBeaver 21.1.1

[2021-06-14 19:50] LonwoLonwo commented on #11685
Insert data/timestamp values for Oracle with option "Disable date/time formatting" in preferences fixed in DBeaver 21.1.1

[2021-06-14 21:01] LonwoLonwo commented on #10137
Implemented.
You can use space, pipe (|) or comma (,) for multiple filters (connections, containers, tables etc.) in DBeaver 21.1.1

![2021-06-14 23_49_34-DBeaver Enterprise 21 1 1](https://user-images.githubusercontent.com/45152336/121958892-c9c19080-cd6c-11eb-8cad-5306e2ad3890.png)

![2021-06-14 23_50_07-DBeaver Enterprise 21 1 1](https://user-images.githubusercontent.com/45152336/121958895-ca5a

[2021-06-15 06:30] Matvey16 commented on #12796
Verified

[2021-06-15 06:30] #12796 closed, assigned to ShadelessFox, Matvey16

[2021-06-15 06:34] Dimas-sc commented on #10137
Can't wait to update and try it!! 🙌

[2021-06-15 06:42] Matvey16 commented on #12830
I reproduced it on earlier versions, but can't reproduce on the latest version.

[2021-06-15 06:45] #12618 closed, assigned to nobody

[2021-06-15 07:57] uslss commented on #12840
thank you for the suggestion

[2021-06-15 07:59] uslss commented on #12839
thank you for the report

[2021-06-15 08:02] uslss commented on #12837
thank you for the report

[2021-06-15 08:04] uslss commented on #12833
thanks for the report

[2021-06-15 08:08] uslss commented on #12831
Hi @icegood ,
unfortunately, cannnot reproduce the issue (at least against dbeaver sample sqlite database, picture attached). Probably, you could provide ddl that will help to reproduce an issue?
![image](https://user-images.githubusercontent.com/31996417/122016735-fb1c7980-cdc9-11eb-9e1a-9fcf6676301a.png)

[2021-06-15 08:10] uslss commented on #12825
Hi @Goddard ,
is there something in the [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)? does any issue appear?

[2021-06-15 08:58] Matvey16 commented on #11254
Verified

[2021-06-15 09:08] uslss commented on #12554
verified

[2021-06-15 09:08] #12554 closed, assigned to serge-rider, uslss

[2021-06-15 09:11] #11651 closed, assigned to nobody

[2021-06-15 09:17] Matvey16 commented on #9406
Verified

[2021-06-15 09:17] #9406 closed

[2021-06-15 09:20] uslss commented on #12323
seems it is a duplicate of #10852

[2021-06-15 09:20] #12323 closed, assigned to nobody

[2021-06-15 09:23] Matvey16 commented on #12830
Closing because of duplication. Will be looked at in scope of #10852

[2021-06-15 09:23] #12830 closed, assigned to nobody

[2021-06-15 09:25] uslss commented on #9195
cannot reproduce an issue.
If it is still actual for you - feel free to reopen it with additional info.

[2021-06-15 09:25] #9195 closed

[2021-06-15 09:25] uslss commented on #9253
cannot reproduce an issue for now.
If it is still actual for you - feel free to reopen it with additional info.

[2021-06-15 09:25] #9253 closed

[2021-06-15 09:28] uslss commented on #10250
#10852

[2021-06-15 09:29] uslss commented on #9882
cannot reproduce an issue against 21.1.0.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-15 09:29] #9882 closed

[2021-06-15 09:30] uslss commented on #11089
fixed in the scope of #11368

[2021-06-15 09:30] #11089 closed, assigned to serge-rider

[2021-06-15 09:31] uslss commented on #9455
cannot reproduce an issue against 21.1.0.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-15 09:43] ShadelessFox commented on #12832
Hello @timbered,

I cannot reproduce your issue.

Can you please provide more information and steps to reproduce? A video sample would be nice.

[2021-06-15 09:55] Matvey16 commented on #11685
Verified

[2021-06-15 09:55] #11685 closed, assigned to LonwoLonwo, Matvey16

[2021-06-15 09:58] icegood commented on #12831
Sure,

CREATE TRIGGER raw_contacts_deleted    BEFORE DELETE ON raw_contacts BEGIN    DELETE FROM data     WHERE raw_contact_id=OLD._id;   DELETE FROM agg_exceptions     WHERE raw_contact_id1=OLD._id        OR raw_contact_id2=OLD._id;   DELETE FROM visible_contacts     WHERE _id=OLD.contact_id       AND (SELECT COUNT(*) FROM raw_contacts            WHERE contact_id=OLD.contact_id           )=1;   D

[2021-06-15 10:38] kseniiaguzeeva commented on #12147
implemented.

[2021-06-15 10:38] #12147 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-06-15 10:58] Matvey16 commented on #12832
I reproduced it on column BLOB SUB_TYPE BINARY. Was not able to reproduce on sub_type text

![2021-06-15_13h48_03](https://user-images.githubusercontent.com/82543000/122040888-07f89780-cde1-11eb-95ec-6e25daccb9da.gif)

[2021-06-15 11:02] #12779 closed, assigned to nobody

[2021-06-15 11:33] serge-rider commented on #10704
JSQLParser version updated to 4.1-SNAPSHOT.
We'll also update after 4.1 release.

[2021-06-15 11:59] uslss commented on #10137
verified

[2021-06-15 11:59] #10137 closed

[2021-06-15 14:07] mwalter commented on #12556
Okay, I managed to configure our proxy in the DBeaver settings. But I still get the same error. No updates and if I choose to update manually, I get "Cannot perform update because of a conflicting dependency. Only one of the following can be installed at once." (See screenshot above). Why?

[2021-06-15 14:23] LonwoLonwo opened #12846 "[Oracle] Unnecessary comment on column syntax in alter table case."
Steps:
Open persisted table with the column, which has at least one comment on the column.
Add a comment on the table or change tablespace
Click save
Expected script: ALTER TABLE...;
Actual script: ALTER TABLE...; COMMENT ON COLUMN IS...

![2021-06-15 17_40_55-ALBUM - Persist Changes](https://user-images.githubusercontent.com/45152336/122073261-f6bf8300-ce00-11eb-8df8-17d44845dbe5.png)

Generic ta

[2021-06-15 16:40] givihuda commented on #12337
I stumbled on what the issue is...

I had another column ordered by its tab click, like this:

![image](https://user-images.githubusercontent.com/74785256/122091392-f9e94d80-cdc5-11eb-9de7-3d2bdc4ee04d.png)

I wasn't aware (accidental click) or had forgotten, so it screwed with what I expected from the `received_date` column filter order.

Sorry about that! I was not aware that the Data tab allowe

[2021-06-15 16:41] #12337 closed, assigned to ShadelessFox

[2021-06-15 17:20] mkgrgis commented on #12825
Similar with PostgreSQL and pg_dump https://github.com/dbeaver/dbeaver/issues/8143

[2021-06-15 17:46] ShadelessFox commented on #12337
That's okay. I'm glad your issue was solved!

[2021-06-15 18:02] ehmatos opened #12849 "[Sybase] DDL change transaction mode to manual"
When execute a DDL command, the transaction mode change to manual.
The opened transaction block de environment.

When the smart commit mode is enabled, the transaction mode shold be locked to auto-commit?

#### System information:
- Operating system (distribution) and version: windows 10
- DBeaver version: Version 21.0.2.202104042040
- Additional extensions

#### Connection specification:
- Databa

[2021-06-15 20:24] renezito opened #12850 "When DDL is generated, comments doesn't have a semicolong at the end"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro 21H1
- DBeaver version: 21.1.0
- Additional extensions: ¿Extensions in dbeaver? If that then none.

#### Connection specification:
- Database name and version: Oracle Database 12c Enterprise Edition Release 12.2.0.1.0 - 64bit Production
- Driver name: Oracle
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

[2021-06-15 22:08] renezito commented on #7031
May be it's not too late to post this, but the query sent by @LonwoLonwo can't be executed in a simple select.  And about what kind of grants?  I put an image of another app that shows all grants that an object has:

It doesn't matter the object/owner, just can't use that kind of query:
![image](https://user-images.githubusercontent.com/37661233/122127977-f673b780-ce01-11eb-84f4-95d6a42aa42e.png)

[2021-06-15 23:16] brian-pond opened #12851 "[feature] Option to insert a carriage return after 'Enter' key pressed."
*Please Note*:  In the code blocks below, I will use the pipe character ( **|** ) to represent the position of my cursor.

### Example for my Feature Request
Consider the following text, where my cursor is resting at the end of the word **foo**
[code]

### Desired Behavior
In a plain text editor, when I press the 'Enter' key on my keyboard, I get both a Line Feed *and* a Carriage Return.  Therefor

[2021-06-16 05:52] Matvey16 commented on #12850
Thank you for the report

[2021-06-16 06:50] eyallibarak opened #12855 "CTRL+Enter switch language"
With DBeaver Version 7.2.3.202010191702
and also with latest Version 21.1.0.202106012023
Windows 10 Pro

Whenever I hit CTRL+Enter to execute a query - the system (keyboard) language is changed from English to Hebrew.
Quite annoying.

[2021-06-16 07:06] Matvey16 commented on #12855
Are your Windows settings configured to change language on CTRL+Enter or do you have a utility that does so? If yes, than you can change the shortcut either in your system or in DBeaver.
![2021-06-16_10h05_44](https://user-images.githubusercontent.com/82543000/122173560-852c1700-ce8a-11eb-89fc-4438b0c2be58.png)

[2021-06-16 07:23] p91paul commented on #7031
@renezito Dbeaver already has a permissions tab in the table editor.

This is to get grants in table ddl. Also, the query lacked a FROM DUAL, see correction a few comments later.

[2021-06-16 08:19] Falke-Design opened #12857 "Github Wiki has a different version as dbeaver.com"
For Example the Point 4 has a different Url on Github as the Wiki on dbeaver.com:

GitHub:
https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse

dbeaver.com:
https://dbeaver.com/docs/wiki/Develop-in-Eclipse/

The Github Version `http://eclipse-color-theme.github.io/update` with `...github.io` is correct

[2021-06-16 08:28] uslss commented on #12851
thank you for the report

[2021-06-16 08:33] eyallibarak commented on #12855
Nah, it only happens when I'm in DBeaver and focus is in the editor

[2021-06-16 08:39] selalerercapitolis opened #12858 "Advanced copy - Copy as JSON - timestamps are not copied as is"
#### System information:
- Operating system (distribution) and version - Ubuntu 20
- DBeaver version - 21.1.0
- Additional extensions - no

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
After copying row as JSON and pasting somewhere the timestamp fields are not as in the DB (

[2021-06-16 08:40] Matvey16 commented on #12855
I can't reproduce it on my Win10. Can you provide more information about your environment? Do you have any utilities running in the background that can operate with text input or keyboard? Maybe some special utility from keyboard manufacturer?

[2021-06-16 08:41] LonwoLonwo commented on #12850
Fixed in DBeaver 21.1.1

[2021-06-16 08:49] uslss commented on #10704
DBeaver still freezes when trying to execute query like
[code]

[2021-06-16 08:51] eyallibarak commented on #12855
I've now changed the shortcut to something completely different, CTRL+SHIFT+D and it still changes the language when I hit it. So it's surely not anything outside of DBeaver that's catching the key combination.

[2021-06-16 08:55] Matvey16 commented on #12858
Hello and thank you for the report. Can you please provide an example of how a timestamp looks in data tab and how it looks in text editor after copying as JSON so the difference would be visible?

[2021-06-16 08:56] Matvey16 commented on #12855
Thank you, we will look into it.

[2021-06-16 09:13] LonwoLonwo commented on #11088
Implemented in scope with https://github.com/dbeaver/dbeaver/issues/10137

[2021-06-16 09:13] #11088 closed, assigned to LonwoLonwo

[2021-06-16 09:23] rafiahmad16 opened #12859 ""dbeaver-ce" has bad plugs or slots: dbus in ubuntu 20.04"
#### System information:
- Operating system (distribution) and version
- `cat /etc/*-release`
- `DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=20.04
DISTRIB_CODENAME=focal
DISTRIB_DESCRIPTION="Ubuntu 20.04.2 LTS"
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.2 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/

[2021-06-16 09:39] Matvey16 commented on #12850
Verified

[2021-06-16 09:39] #12850 closed, assigned to LonwoLonwo, Matvey16

[2021-06-16 09:48] plotn commented on #12559
[copy.log](https://github.com/dbeaver/dbeaver/files/6661990/copy.log)
here the log

[2021-06-16 09:56] LonwoLonwo commented on #12857
Hello @Falke-Design
Thank you for your attention. Usually, the site is updated with a small delay after a change in GitHub. We updated the website today.
Now, https://dbeaver.com/docs/wiki/Develop-in-Eclipse/ is with the correct link.

[2021-06-16 09:56] #12857 closed, assigned to nobody

[2021-06-16 10:02] plotn commented on #12557
I mean the following - in Postgres we cannot alter views changing its fieldlist (we can only add fields, but not delete, rename, retype). Same with function "RETURNS SETOF"
I would like to have checkbox "force recreate" - drop the object, then create new. In order to override these limitations

[2021-06-16 10:33] uslss commented on #12849
Seems it is expected behavior. You can learn more about smart commit mode [here](https://github.com/dbeaver/dbeaver/wiki/Auto-and-Manual-Commit-Modes#smart-commit-mode)

[2021-06-16 11:40] KES777 opened #12860 "Typing text does not delete selected"
### System information:
- Linux mint 19.3
- 21.0.3

#### Describe the problem you're observing:
When I select text and start typing then selected text is not deleted.

#### Steps to reproduce, if exist:
1. Type `abcd`
2. Select `abcd`
3. Type `'x`
Expected: `'x'`
Actual: `'xabcd'

[2021-06-16 11:58] michal-bartak opened #12861 "Syntax highlighting of comment blocks occasionally fails"
#### System information:
- Kubuntu 20.04
- DBeaver 21.1
- Additional extensions

#### Connection specification:
- Database name and version: PostgreSQL v12
- Driver name: PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:

I observed that recently (since several months ago) syntax highlighting of comment blocks fails, renders part of comm

[2021-06-16 12:02] mcekovic opened #12862 "When closing DBeaver and there are unsaved files, add an option to perform an action to all of them"
**Is your feature request related to a problem? Please describe.**
When closing DBeaver and there are unsaved files, DBeaver asks for each file if user wants to Save, Don't Save or Cancel with a modal dialog and 3 buttons. If there are many unsaved files, this is an unnecessary repetitive action.

**Describe the solution you'd like**
When closing DBeaver and there are unsaved files, there should b

[2021-06-16 12:19] selalerercapitolis commented on #12858
@Matvey16 Thank you for the quick response. Here is a record copied to XML (which works without this problem):
[code]
And here it is copied as JSON:
[code]
As you can see there is a 3 hours difference.
It is probably not a coincidence that my machine timezone is +03 (IDT):
[code]

[2021-06-16 12:30] Matvey16 commented on #12860
It is working as intended. When you select text and type either `'` or `"` it wraps the selected text in quotes. If you select text and start typing other text it will be deleted.

[2021-06-16 12:38] kseniiaguzeeva commented on #12557
We will implement it

[2021-06-16 12:46] fernandodelago opened #12864 "Show details about LOCATION from EXTERNAL TABLES"
I'm try to use only DBeaver, but always want to use EXTERNAL TABLES I have been feel upset. SSMS and Azure Data Studio are worst when compare with DBeaver, but, I have to use it, because I can't see information about data LOCATION from external tables on DBeaver.
I attached a print screen to show what I talk about.

DBeaver could show the information about external tables like SSMS, I my vision. I

[2021-06-16 12:54] kseniiaguzeeva commented on #12750
Thank you for the details. Looks like an issue on another side. DBeaver sends all changes to a database after commiting them. Could you please look for a reason on Mac, database or your application side?

[2021-06-16 12:57] kseniiaguzeeva commented on #12761
Thank you for the report. ODBC driver is outdated. Could you please change it on JDBC or use a commercial one?

[2021-06-16 13:00] kseniiaguzeeva commented on #12768
We will try to improve the controls in future milestones. As a workaround could you please double-click a Resultset tab? It will collapse/expand it.

[2021-06-16 13:03] kseniiaguzeeva commented on #12769
Could you please try this wiki article https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse? That's all what we have for now.

[2021-06-16 13:04] #12769 closed, assigned to nobody

[2021-06-16 13:11] kseniiaguzeeva commented on #12782
Could you please disable option **Always run in background** in Preferences>General?
![dbeaver_igXtbxLszN](https://user-images.githubusercontent.com/51405061/122224773-1c11c700-cebd-11eb-8569-64f7b81c1599.png)

![dbeaver_YO25Vdja1T](https://user-images.githubusercontent.com/51405061/122225108-701cab80-cebd-11eb-84c6-8d97c93de6c2.png)

[2021-06-16 13:11] #12782 closed, assigned to nobody

[2021-06-16 13:47] Matvey16 commented on #12860
You can disable this option in preferences

![2021-06-16_16h47_05](https://user-images.githubusercontent.com/82543000/122230717-909b3480-cec2-11eb-8ee3-edcdc97f746a.png)

[2021-06-16 13:47] #12860 closed, assigned to nobody

[2021-06-16 14:59] LonwoLonwo commented on #11565
duplicate of https://github.com/dbeaver/dbeaver/issues/10955
Will be fixed in scope with https://github.com/dbeaver/dbeaver/issues/10955

[2021-06-16 14:59] #11565 closed, assigned to nobody

[2021-06-16 15:19] ShadelessFox commented on #12142
Implemented for the following types:
* `geometry` (`geometry(point, 4326)`)
* `decimal` (`decimal(10)`, `decimal(10, 5)`)
* `interval` (`interval(3)`, `interval day to second(6)`)

Precision and scale columns are gone since they are embedded in type type's name itself.

You will need to test:
1. Viewing types
   1. Including user-defined types (which use these types as a base type)
   1. Type alia

[2021-06-16 15:20] LonwoLonwo commented on #12314
Implemented in DBeaver 21.1.1

![2021-06-16 13_14_48-Window](https://user-images.githubusercontent.com/45152336/122246782-86336780-cecf-11eb-9507-e82f08be56f9.png)

[2021-06-16 15:22] LonwoLonwo commented on #12846
Fixed in DBeaver 21.1.1

[2021-06-16 15:44] michal-bartak commented on #12862
I'm sure it worked this way some time ago (half year ago?). But yeah, recently it asks for every single file.

BTW the mentioned requester is still available if you chose to close all files/tabs. This requester was used in the past when closing application. However I would argue about the form of it. The logic it presents seems somehow strange to me. To ignore all changed files and to chose "do no

[2021-06-16 16:15] ghost opened #12868 "Option to show stored timezone (postgres)"
In our Postgresql Database we store timestamps with different timezones (e.g. when Users work in different timezones, their local time is stored in the database, e.g. one record with 2021-06-16 15:00:00+1 and the other record with 2021-06-16 14:00:00+4). When I select data via the command line client of postgres, the result shows me the timezone in which I stored the timestamp. When working with D

[2021-06-16 16:23] ghost commented on #12868
I have to correct myself. Postgres does NOT store the timezone information itself, it just interpretes input/output values in a different way when using TIMESTAMP WITH TIME ZONE.

[2021-06-16 16:23] #12868 closed, assigned to nobody

[2021-06-16 16:28] py-prash opened #12869 "Snowflake Token Caching Requires new jna dependencies"
Sometime back snowflake released a feature for SSO browser authentication, which would minimize the number of browser pops, wherein the token was cached locally. Everything was working fine until snowflake jdbc version 3.12.17. Till then, they used to package the JNA classes in the jar file. From 3.13.x onwards, Snowflake no longer package the JNA classes(https://mvnrepository.com/artifact/net.jav

[2021-06-16 17:52] renezito commented on #12850
Thanks!!!

[2021-06-16 17:56] renezito commented on #7031
Thanks @p91paul  !!!  I haven't seen the tab.   I saw the query FROM DUAL too, thanks again!
And as you say, this is to get grant query in table DDL... so I'm going to wait for this  :-)

[2021-06-16 19:54] skibida opened #12871 "Cannot connect to Postgres after connecting to Oracle with kerberos for both"
#### System information:
- Operating system : Windows 10.0.18363
- DBeaver version: 21.0.4.202105021514
- Additional extensions

#### Connection specification:
- Database names and versions  Oracle 19.10 and PostgreSQL 12.4
- Driver names: oracle.jdbc.OracleDriver and org.postgresql.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
I can con

[2021-06-16 22:29] nextstage-brasil commented on #9108
Hello!
problem still persists

Em sex., 11 de jun. de 2021 às 08:01, Anastasiya ***@***.***>
escreveu:

[2021-06-16 23:10] fernandodelago commented on #12864
After some tests, I got the location with a SELECT.
That the result of this query  I want see at the  end of CREATE TABLE.

    select top 1 t1.name as name_table
         , T2.name AS data_source
         , T1.location
         , t3.name as file_format
         , T1.reject_type
         , T1.reject_value
    from sys.external_tables T1,
         SYS.EXTERNAL_DATA_SOURCES T2,
         sys.external

[2021-06-17 01:32] PENGCHENGLIN007 commented on #12354
I had the same problem，yesterday it worked well,but today some database can't change schema,and I restart dbeaver,all database can't change schema

[2021-06-17 06:07] Matvey16 commented on #12861
Hello @michalk-k Thank you for the report. I was able to reproduce it, but it looks like this happens only during pasting of code from the clipboard, but is not reproduced while pasting the code without `/*` and `*/` and only adding them after.
Also can't reproduce while adding them naturally during the typing of code.

Did this occur to you in other situations other than pasting from clipboard?

[2021-06-17 06:35] LonwoLonwo commented on #12354
Hello @PENGCHENGLIN007
What database do you use? And What DBeaver version do you use?

[2021-06-17 06:51] Matvey16 commented on #12858
Also can you please add what database are you using?

[2021-06-17 06:52] Mcinwwl opened #12873 "Close or minimize to tray [feature request]"
I'd love to be able to natively close or minimize to Windows tray and have a preferencs toggle to set up tray behaviour.

Not sure if there is any similar functionality in other oses, I am purely Windows guy.

[2021-06-17 06:59] LonwoLonwo commented on #10998
About question - tool-tips are very helpful, I think

![2021-06-17 09_56_44-DBeaver Enterprise 21 1 1 - _localhost_ Script-39](https://user-images.githubusercontent.com/45152336/122347370-a22c1d00-cf52-11eb-8349-b184f7b0b5b4.png)

![2021-06-17 09_58_04-DBeaver Enterprise 21 1 1 - _localhost_ Script-39](https://user-images.githubusercontent.com/45152336/122347373-a2c4b380-cf52-11eb-9498-8142f9f9403

[2021-06-17 07:14] wangpeng0824 opened #12874 "when i import maven project，some m2e errors can’t be resloved"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-06-17 07:19] #12874 closed, assigned to nobody

[2021-06-17 07:22] wangpeng0824 opened #12875 "when i import maven project，some m2e errors can’t be resloved"
![image](https://user-images.githubusercontent.com/21004513/122350129-84c17800-cf7f-11eb-8622-50cad0574917.png)
maven version is 3.8.1 ,eclipse version is 2021-03 for RCP developers

[2021-06-17 07:30] uslss commented on #12314
verified

[2021-06-17 07:30] #12314 closed, assigned to uslss, LonwoLonwo

[2021-06-17 07:32] Matvey16 commented on #12445
Can you show how your transactions options are configured

![2021-06-17_10h31_15](https://user-images.githubusercontent.com/82543000/122351966-56c83d80-cf57-11eb-8f88-3823f138de6d.png)

[2021-06-17 07:33] wangpeng0824 commented on #12875
![image](https://user-images.githubusercontent.com/21004513/122351494-c3a3fd80-cf80-11eb-88e0-55179cb3f7d2.png)

[2021-06-17 07:33] selalerercapitolis commented on #12858
Sure, I use PostgreSQL and this is the result of select version():
`PostgreSQL 11.4 (Debian 11.4-1.pgdg90+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 6.3.0-18+deb9u1) 6.3.0 20170516, 64-bit`

[2021-06-17 07:36] wangpeng0824 commented on #12875
if these errors need to be corrected？

[2021-06-17 07:37] uslss commented on #12846
verified

[2021-06-17 07:37] #12846 closed, assigned to uslss, LonwoLonwo

[2021-06-17 07:46] uslss commented on #10998
not reproducible anymore

[2021-06-17 07:46] #10998 closed, assigned to LonwoLonwo

[2021-06-17 07:59] Matvey16 commented on #12753
It looks like a third party issue not exclusive to DBeaver, so we will have to wait and see if Canonical and Wayland developers will figure something in the future.
For now you can try this workaround that sometimes helps people with the same problem but in other applications.

[2021-06-17 08:06] Matvey16 commented on #12823
Can you please provide more information. Like what DBeaver version you are using and when exactly this error occurs? Also please provide logs that you get after this error. It will help to narrow down the search.

[2021-06-17 08:10] LonwoLonwo commented on #12875
Hello @wangpeng0824
You show pictures from Eclipse. DBeaver based on the Eclipse platform, but we can not fix anything, unfortunately.

This are my maven settings
![2021-06-17 11_03_25-eclipse-workspace2021 - com dbeaver cloud aws_src_com_dbeaver_cloud_aws_AWSCloud](https://user-images.githubusercontent.com/45152336/122357404-65652380-cf5c-11eb-88ca-fdba8a80e46c.png)

I hope, they help to find you

[2021-06-17 08:10] #12875 closed, assigned to nobody

[2021-06-17 08:20] ShadelessFox commented on #11486
Now you can choose which operator to use:

![java_c1DvC1Qf7r](https://user-images.githubusercontent.com/35821147/122218166-d3570f80-ceb6-11eb-8411-e8094ad4d2ee.png)

[2021-06-17 08:33] Matvey16 commented on #12855
@eyallibarak Did you change it to CTRL+SHIFT+D  in Dbeaver or in Windows? Are you sure you don't have some keyboard layout or shortcut control utilities like Punto Switcher, Mahou, Key Switcher and such? Or special utility from your keyboard manufacturer?

[2021-06-17 08:37] wangpeng0824 commented on #12875
I'm sorry I didn't describe the problem clearly，Have you noticed the article ‘Develop-in-Eclipse’， i  do everything follow the article step by step，the article shows  there are no mistakes like above，however，i do it again and again，always get the same results，i just want to know which version of eclipse and maven  that you are using？@LonwoLonwo

[2021-06-17 08:40] Matvey16 commented on #12858
Is the timezone on your Database server the same as on your machine?

[2021-06-17 08:42] LonwoLonwo commented on #12875
I am using Eclipse version 2021-03 for RCP and RAP Developers and maven 3.6.3

Please check your plugin dependencies
![2021-06-17 11_41_28-eclipse-workspace2021 - com dbeaver cloud aws_src_com_dbeaver_cloud_aws_AWSCloud](https://user-images.githubusercontent.com/45152336/122362844-24234280-cf61-11eb-8945-64b36be3e4ea.png)

![2021-06-17 11_42_01-Debug Configurations](https://user-images.githubuserc

[2021-06-17 08:45] LonwoLonwo commented on #12875
Perhaps you should try to reinstall Maven, and then reinstall Eclipse.

[2021-06-17 08:47] uslss commented on #11486
verified

[2021-06-17 08:47] #11486 closed, assigned to uslss, ShadelessFox

[2021-06-17 08:53] uslss commented on #12131
cannot reproduce it against 21.1.0.
If issue is still actual for you - feel free to reopen it with additional info

[2021-06-17 09:15] uslss commented on #12787
verified

[2021-06-17 09:15] #12787 closed, assigned to serge-rider, uslss

[2021-06-17 09:18] uslss commented on #10704
verified

[2021-06-17 09:18] #10704 closed

[2021-06-17 09:32] uslss commented on #12791
fixed in the scope of #12142

[2021-06-17 09:32] #12791 closed, assigned to nobody

[2021-06-17 09:50] ShadelessFox opened #12876 "Allow attributes to throw exception when invalid type name is provided"
We need to update model to allow throwing exception from `setTypeName`, so we can catch handle such cases and report them instead of simply ignoring setting invalid type.

[2021-06-17 10:02] selalerercapitolis commented on #12858
Yes:
[code]
(I used the Copy As JSON feature :-) )

[2021-06-17 10:16] riednyko commented on #12859
Fixed. Try to update dbeaver-ce snap package.

[2021-06-17 10:16] #12859 closed, assigned to riednyko

[2021-06-17 10:50] michal-bartak commented on #12861
Thank you for quick reaction.
It occurs also if you open this source code from a file.

[2021-06-17 10:51] Matvey16 commented on #12142
Verified

[2021-06-17 10:51] #12142 closed, assigned to ShadelessFox, Matvey16

[2021-06-17 10:57] ShadelessFox opened #12878 "Hide length column for postgres attributes"
Since #12142 we no longer display precision and scale since they're embedded in the type name itself.
The same is applied to the length, but in order to to be consistent we should hide <kbd>Max Length</kbd> column too.

[2021-06-17 11:11] devscheffer opened #12879 "DB2 error message not descriptive enough"
#### System information:
- Operating system (distribution) and version
Windows 10
- DBeaver version
Version 21.1.0.202105300349
- Additional extensions
None

#### Connection specification:
- Database name and version
IBM DB2 11.5.5
- Driver name
db2jcc4
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
I'm trying to get a better error explanation for m

[2021-06-17 11:19] eyallibarak commented on #12855
I changed to CTRL+SHIFT+D in DBeaver.
I just tested turning the windows hot key off for input/keyboard layout, and DBeaver still changes the input language.

[2021-06-17 11:28] ShadelessFox commented on #12879
Hello @devscheffer,

Thanks for the report.

The problem is with the JDBC driver, unfortunately.
There's a chance we can retrieve it and move the cursor in the editor, but there's no guarantee whether it is possible or not.

[2021-06-17 11:29] LonwoLonwo commented on #12558
Hello @plotn
Please add t_log_entity type DDL

Data examples for filter select bug will be very helpful. I can't reproduce it now.

Also, have you another t_log_entity type in other schemas?

[2021-06-17 11:52] Matvey16 opened #12881 "Update Spatial View Documentation"
We need to update Spatial View documentation. Currently it doesn't describe a lot of the features.

[2021-06-17 12:08] ShadelessFox commented on #12879
After future investigation, it seems to be impossible to retrieve such information :(
We can't really do anything here.

[2021-06-17 12:08] #12879 closed, assigned to ShadelessFox

[2021-06-17 12:49] uslss commented on #12833
@Thomas-1985 ,
unfortunately, cannot reproduce it for now.
Could you provide a video of the issue? Table DDL also could be very helpful

[2021-06-17 12:50] #7129 closed

[2021-06-17 12:54] Matvey16 opened #12882 "Can't use aliases in Data Type names while creating/changing columns through UI"
#### System information:
- DBeaver version 21.1.1

#### Connection specification:
- Database name and version PostgreSQL

#### Describe the problem you're observing:
Some of the available aliases are not present in drop-down list and throw an error when trying to type them manually.

`character`
`character varying`
`char varying`
`bit varying`
`serial4`
`decimal`

#### Steps to reproduce, if exist

[2021-06-17 13:24] Matvey16 opened #12883 "Can't insert or update data into a geometry column with CRS modifier"
#### System information:
- DBeaver version 21.1.1

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
1. Create a geometry column with modified data type e.g. `geometry(point, 4326)`
2. Open Data editor, Value tab.
3. Try to add a point in Text value and save changes.

**Expected:** Data is saved
**Actual:** Error is thrown

![2021-06-17_16h19

[2021-06-17 13:27] Matvey16 commented on #12142
Two more improvements needed:
#12883
#12882

[2021-06-17 13:33] derwin12 commented on #11108
21.1.0 the main window atleast opens 50% .. either it is closed or at 50%. Small victory. The left Profile bar cannot be resized so I cant see the full text without scrolling the bottom bar. (Linux)

[2021-06-17 13:33] ShadelessFox commented on #12023
Hello @ricgavira,

Even after following clarification I cannot reproduce your issue. If the result set contains no rows, it displays <kbd>No data</kbd>.

I don't see any `SELECT` keyword in your query. What statement are you trying to execute?

Please provide more information.

[2021-06-17 13:49] ehmatos commented on #12849
How to change this expected behavior? Locks in a production environment can be generated as a result of an improperly opened transaction. For example, when creating a local or global temporary table, a transaction was opened and it was just a question of getting data, it should never have been opened a transaction... Who can I request this change from?

[2021-06-17 13:59] wmertens commented on #10273
To expand on @djraw's solution:
- set up your ssh agent authentication
- choose a free port, for example 23456
- create a connection, have it connect to localhost on your chosen port (23456)
- in the shell commands/before connect command, put `ssh -TNL 23456:/run/mysqld/mysqld.sock mydbhost`, where `23456` is the port you chose, `/run/mysqld/mysqld.sock` is (in my case) the unix socket to connect

[2021-06-17 14:01] KES777 commented on #12860
this is inconsistent, at lease as other editors work.

If you change behavior for quotes then why you do not change it for other quotes? `, [, (, { etc.

Is there a way to disable this behavior?

Also notice, I still want to use autoclose feature, I just blame how it works with selection

[2021-06-17 14:06] KES777 commented on #12768
nope, it hides event those points )

[2021-06-17 14:11] wmertens commented on #10273
Actually, it would be great if this configuration could be done via a different connector, it connects faster than the Java connector, and it would work both for TCP and Unix sockets. Just require that ssh agent auth is working so no password shenanigans are needed for ssh.

[2021-06-17 14:54] timbered commented on #12832
Thank you for the response. My apologies for taking so long to respond. I've been swamped with client work this week.

It's quite possible it's something to do with the specific file I have. It's from a fairly old version of Firebird. When I open it, DBeaver shows the column as BLOB SUB_TYPE TEXT, but the icon shows for a regular BLOB.

I am able to share the file (it's from a US Federal software

[2021-06-17 15:01] ShadelessFox commented on #12832
Hello again,

I believe in the past we had similar issues with specifically old versions of Firebird, so maybe in this case the problem has the same origin.

GitHub allows attachments up to 100MB, so you have a lot of room here :)

[2021-06-17 15:15] ricgavira commented on #12023
Perhaps the latest updates have fixed the problem. If I find the problem again I will post the error again.

[2021-06-17 15:17] ShadelessFox commented on #12023
Okay, thanks for the response!

I will close this ticket for now, but you still can post comments here.

[2021-06-17 15:17] #12023 closed, assigned to nobody

[2021-06-17 15:53] jean-estime commented on #6064
+1 🙏

[2021-06-17 20:01] kaidlokhandwala commented on #9467
The below error Resolved after I stored the password in connection settings.

010HA: The server denied your request to use the high-availability feature. Please reconfigure your database, or do not request a high-availability session.

[2021-06-17 23:35] diegoortizmatajira commented on #8219
Installed Vrapper and it asked to restart.... it keeps restarting once and again automatically until I rebooted the computer. Dbeaver was rendered unusable. Had to remove the Vrapper files manually

[2021-06-18 02:54] timbered commented on #12832
Attached is the gdb file. Zipped. it's only 1.3MB...

Specifically, the table I was working on is VIOLUS, and the blob column is DESCRIPTN. Some of the rows have CR LF within the text. I searched / replaced the CR LF in DBeaver (using [\r\n]+ as a regular expression.) Then, click Save, I get the Unsupported Value Type error. Manually editing the text is OK.

[Capriibdata.zip](https://github.com/db

[2021-06-18 04:31] tuchengxiaoweidu opened #12886 "restore database failed for the following reason"
Task 'MySQL restore' started at Fri Jun 18 12:28:12 CST 2021
ERROR 1064 (42000) at line 2118: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '*/' at line 1

Task 'MySQL restore' finished at Fri Jun 18 12:28:23 CST 2021
2021-06-18 12:28:23.997 - IO error: Process failed (exit code = 1). See error log.
2021-06-18

[2021-06-18 06:14] bouyeijiang opened #12887 "The SQLite file created by the Navicat tool is not recognized"
open the sqlite file not found the table however is has a table

[2021-06-18 06:58] bianyun1981 opened #12888 "Found a typo (Simplified Chinese) in config of exporting table to sql"
#### System information:
- Operating system (distribution) and version:  Windows 10 Enterprise Edition (Simplified Chinese), 20H2
- DBeaver version:  21.0.0.202103021012
- Additional extensions

#### Describe the problem you're observing:
The typo (Simplified Chinese) is found in a config item of exporting table to sql, called "省区模式名". This config item is used for omiting scheme name when exportin

[2021-06-18 08:01] uslss commented on #12886
@tuchengxiaoweidu ,
Please, provide steps to reproduce and a more clear description of the issue. What DBeaver version do you use?

[2021-06-18 08:03] uslss commented on #12887
@bouyeijiang can you provide a sample database that could help to reproduce an issue?

[2021-06-18 08:03] uslss commented on #12888
thanks for the report

[2021-06-18 08:09] LonwoLonwo commented on #12888
@bianyun1981 Maybe you can help us to translate other settings from this setting page? You can write it right here, in the comments, and I will add them to our localization properties file. It will be very helpful!

[2021-06-18 08:10] woeterman94 commented on #12606
Hmm, any ideas how I can work around this ?

[2021-06-18 08:14] serge-rider opened #12889 "Data transfer: support column value transformers"
It is API development task.
We need to add possibility to transform column values during data transfer.
Such as:
- Type transformation (e.g. int to string, string to geometry)
- Set to NULL/constants value
- Column skip
- Custom transformations

[2021-06-18 09:04] Hammond95 commented on #9413
@linkabi9 This is very cool! Thank You! Do you know if there is an automatic way to get the connection name by listing the available connections?

[2021-06-18 09:36] Matvey16 opened #12890 "Drag-n-Drop in Grouping panel doesn't work on Linux"
#### System information:
- Operating system (distribution) and version Ubuntu 20.04
- DBeaver version 21.1.1

#### Steps to reproduce, if exist:
1. Open grouping panel for a table
2. Drag and drop a column to a panel

**Expected:** Column is added
**Actual result:** Nothing happens

[2021-06-18 10:52] uslss commented on #12890
duplicates #7890

[2021-06-18 10:52] #12890 closed, assigned to nobody

[2021-06-18 11:09] uslss opened #12891 "Driver cannot be downloaded for Yugabyte SQL"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.1 EA

#### Connection specification:
- Database name and version Yugabyte
#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/31996417/122552258-c107dd80-d03e-11eb-89e5-543bbff75fb1.png)

#### Steps to reproduce, if exist:
1. Start to create connection - dr

[2021-06-18 11:34] Matvey16 opened #12892 "Set to NULL for binaries doesn't work in export to source code or JSON"
#### System information:
- DBeaver version 21.1.1

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
1. Start data export to source code or JSON for a table with `bytea` column
2. Select **Set to NULL** for Binaries
3. Perform an export

**Expected:** Binaries are exported as NULLs
**Actual:** Binaries are exported in Hex

![2021-06-18_13h50_

[2021-06-18 11:43] Matvey16 commented on #12892
Can be related to
#11200
#10643

[2021-06-18 11:59] 2019-05-10 opened #12893 "Singel "Save" dialog for all open files"
In the course of a day's work I edit several editors.
On closing DBeaver a series of "Save resource" dialogs pops up, one for each open editor.

Instead, use one dialog for all open editors, like Eclipse does:
![Screenshot_20210618_135253](https://user-images.githubusercontent.com/50481865/122557634-5609d700-d03d-11eb-97fb-7f2a43daa8ab.png)

[2021-06-18 13:17] hrabkin opened #12896 "SSH Tunnel--when selecting key file browser cannot browse to ~/.ssh"
SSH Tunnel--when selecting key file browser cannot browse to ~/.ssh

on OS-X

[2021-06-18 13:46] ShadelessFox commented on #12832
Thanks! I will take a look on it later.

[2021-06-18 13:49] Matvey16 opened #12897 "Can't download binaries local client for PostgreSQL and MySQL on Linux"
#### System information:
- Operating system (distribution) and version Ubuntu 20.04
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version PostgreSQL, MySQL

#### Describe the problem you're observing:
Option to download binaries for local client while starting database backup is not present on Linux

#### Steps to reproduce, if exist:
1. Select datab

[2021-06-18 13:52] ShadelessFox commented on #12896
Please refactor your issue using our [issue template](https://github.com/dbeaver/dbeaver/issues/new?assignees=&labels=bug%2C+wait+for+review&template=bug_report.md).

[2021-06-18 13:57] Matvey16 commented on #12897
Works as expected. To many different Linux systems, each needing different binaries.

[2021-06-18 13:57] #12897 closed, assigned to nobody

[2021-06-18 14:12] majkyyx opened #12899 "Refresh of table definition"
#### System information:
  OS: KDE neon User Edition 5.22 x86_64  (same on Windows 10)

#### DBeaver Version 21.1.0.202106012023

#### Connection specification:
Oracle Database 11g Express Edition Release 11.2.0.2.0 - 64bit Production
- Driver name: ojdbc7.jar

#### Describe the problem you're observing:
Changes of columns aren't showing in table definition.

#### Steps to reproduce, if exist:
1.

[2021-06-18 14:29] xiaobiaozhao opened #12900 "Connect to redis failed"
#### System information:
- Operating system Macos
- DBeaver 21.1.0.202106090921
- Additional extensions

#### Connection specification:
- Database pika 3.4.0  https://github.com/OpenAtomFoundation/pika

#### Describe the problem you're observing:
I have checked and found that PIKA does not support Client Zege Redis command. I have set the connection not to do client authentication, but it has not

[2021-06-18 15:06] serge-rider commented on #11325
Can't reproduce. Please attach some video.

[2021-06-18 17:29] detkliff opened #12902 "session update stopped working"
DBeaver 21.1.0
Postgresql 12

![изображение](https://user-images.githubusercontent.com/61137576/122597104-58dbea80-d084-11eb-8e7a-cb7ef9bb5bdb.png)

By click on button or by setting time, start any process, but session monitor do not refresh. Only close session window and reopen.

[2021-06-18 22:30] PauloPontes opened #12905 "Incomplete script execution with no errors shown"
#### System information:
- Operating system (distribution) and version
Windows 10
- DBeaver version
Version 21.0.4.202105021514
- Additional extensions
No extensions added

#### Connection specification:
- Database name and version
- Oracle
- Driver name
- dbeaver downloaded automatically for me
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
no

#### Describe the problem you're observing:
Hi,

[2021-06-19 04:07] rchlin opened #12906 "Username can not be set in connection to clickhouse"
This problem is found in 21.1.0 version. When I try an old version of 7.5.6, it can be set

[2021-06-19 09:51] nguyenhai97 opened #12907 "Basic authenticate support"
**Is your feature request related to a problem? Please describe.**
My work place have policy to hidden everything under basic authenthicate, which just encode username and password using base64 and add Authorize to header of each request and I haven't found any way to add this sort of authenticate in dbeaver

**Describe the solution you'd like**
I would like to have some way to add basic authentic

[2021-06-19 12:32] nextstage-brasil commented on #9108
YEEEESSSS!!! Solved!!!

Very very Thanks!!!

[2021-06-19 12:32] #9108 closed

[2021-06-19 14:07] scollovati commented on #9799
@grted I'm having your issue with ss-key-file. How you solved it?

[2021-06-19 17:47] heyciao opened #12908 "Splash screen covers an initial dialog window"
Same problem as described in #7829:

After having installed DBeaver (upgraded the Community Edition from version 5.1.0 to 21.1.0) the splash screen covers some dialog => this gives the impression that DBeaver is hanging, but it's actually waiting for the user's input (in my case I just blindly pressed <enter>, apparently it was a dialog about importing the existing settings/projects but I'm not su

[2021-06-20 13:12] vrozkovec opened #12909 "NPE when autocompleting table names in CTE"
#### System information:
- Operating system (distribution) and version: Linux 5.8.0-55-generic #62~20.04.1-Ubuntu SMP Wed Jun 2 08:55:04 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux, Linux Mint 20.1
- DBeaver version: 21.1.0

#### Connection specification:
- Database name and version:  10.5.8-MariaDB-1:10.5.8+maria~focal
- Driver name: MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

####

[2021-06-20 14:54] Seregy opened #12910 "PostgreSQL Can't navigate with composite foreign key referencing unique constraint"
#### System information:
- Operating system (distribution) and version: macOS 11.2.3
- DBeaver version: 21.1.0.202106012023

#### Connection specification:
- Database name and version: PostgreSQL 11.7
- Driver name: PostgreSQL 42.2.22

#### Describe the problem you're observing:

Trying to navigate with foreign key to the record in another table fails with an error:
[code]
Table from which I'm try

[2021-06-20 16:01] uslss commented on #12906
@rchlin could you provide more info to reproduce an issue? Logs, screenshots or screencasts, steps to reproduce in issue will be helpful for the issue's investigation

[2021-06-20 16:06] uslss commented on #12899
thank you for the report

[2021-06-20 16:14] uslss commented on #12902
cannot reproduce it. Is there some error in the logs?

[2021-06-20 16:17] uslss commented on #12905
could you provide a video of the issue?

[2021-06-20 16:19] uslss commented on #12909
@vrozkovec could you provide a query example?

[2021-06-20 16:25] uslss commented on #12385
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-20 16:25] #12385 closed, assigned to DariyaFedorova

[2021-06-20 16:26] uslss commented on #12440
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-20 16:26] #12440 closed, assigned to nobody

[2021-06-20 16:26] uslss commented on #12539
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-20 16:26] #12539 closed, assigned to nobody

[2021-06-20 16:27] uslss commented on #12550
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-20 16:27] #12550 closed, assigned to nobody

[2021-06-20 16:27] uslss commented on #12344
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-20 16:27] #12344 closed, assigned to nobody

[2021-06-20 16:28] uslss commented on #12510
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-20 16:28] #12510 closed, assigned to nobody

[2021-06-20 16:29] uslss commented on #12521
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-20 16:29] #12521 closed, assigned to nobody

[2021-06-20 16:29] uslss commented on #12524
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-20 16:29] #12524 closed, assigned to nobody

[2021-06-20 16:29] uslss commented on #12527
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-20 16:30] uslss commented on #12425
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-20 16:30] #12425 closed, assigned to nobody

[2021-06-20 16:31] uslss commented on #12609
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-06-20 16:31] #12609 closed, assigned to nobody

[2021-06-20 16:41] #12891 closed, assigned to uslss, LonwoLonwo

[2021-06-20 17:27] vrozkovec commented on #12909
@uslss I wanted to but could not reproduce it on demand, seems like it happens randomly. I'll keep an eye on this bug and give you more details when that happens again.

[2021-06-20 17:51] jrichardsz commented on #4561
@Mirocow where do you configure "--column-statistics=0" ?

Thanks

[2021-06-20 18:20] dredshep opened #12911 "DB not showing despite Show all databases enabled."
![image](https://user-images.githubusercontent.com/78047001/122684284-89319f00-d1d2-11eb-85d3-2f8b6acf5799.png)

Am I doing something wrong or is this a problem with DBeaver? Dunno how to read the contents of my new db.

(I created the DB before opening the connection so it's not an old cache problem I reckon.)

[2021-06-20 18:58] DariaMarkaryan opened #12912 "Clear color for one value disable coloring for other already colored"
#### System information:
- Windows 10
- DBeaver CE 21.1.1
- SQLite, Pestgres ...

#### Describe the problem you're observing:
Data editor context menu of one value -> View/format -> set row color for "value_in_selected_item"
Go to another cell and in contex menu -> View/format -> clear row color for "second_value_in_selected_item"
possibly there is inaccuracy in the writing of the context menu ite

[2021-06-20 19:58] pdesuza commented on #12639
Hi Team,

Thanks for looking into and working on this. Any idea of when the fix will go live?

[2021-06-20 21:08] ShadelessFox commented on #12639
Hello,

This fix will go live when 21.1.1 is released. It usually happens on Mondays, so somewhere in the span of 24 hours :)

[2021-06-20 21:09] pdesuza commented on #12639
You're awesome! Thank you so much for your efforts.

[2021-06-20 21:54] ShadelessFox commented on #12912
With #11486, it would be harder to detect actual setting for a given row value.

We can try evaluating expression first to see if the value matches.

[2021-06-20 22:01] ShadelessFox commented on #12911
Hello @dredshep,

Can you check [Query Manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager) and show the queries in it? Make sure the queries are fully visible (there should not be any sensitive data).

Do avoid including unrelated queries, simply clear everything, then connect to your DB and expand very top folder to see all the databases.

[2021-06-21 02:15] AlexandreHGuerra opened #12913 "import looping on malformed CSV. need log for current line being read, in order to troubleshoot accordingly"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-06-21 05:23] Matvey16 commented on #12855
And what about other utilities? Are you sure there is nothing hidden in your tray that you may have forgotten was even there?

[2021-06-21 05:37] Matvey16 commented on #12908
It can be a problem with a window manager included in Xfce, and needs to be fixed specifically for this window manager.
As a workaround for now you can disable a splash screen by putting -nosplash in the first line of the dbeaver.ini file inside DBeaver installation directory.

[2021-06-21 06:36] Matvey16 commented on #12858
Ok, so judging by the code returned in JSON `2021-06-16T04:19:11.114Z` where `Z` stands for UTC, so it is actually the correct time (you were right, it's not a coincidence that your time zone is +3. Are those timestamps generated by functions? If so, that may be the case. They are inserted into a database in this format, but Dbeaver UI shows them adjusted to your time zone in readable form.

[2021-06-21 06:56] Matvey16 commented on #12606
For now you can try reordering columns to original order and select them using ctrl button. Original ordering can be seen in the properties tab of the table

![2021-06-21_09h51_55](https://user-images.githubusercontent.com/82543000/122719456-debf8780-d276-11eb-9c83-16884ef19fd7.png)

[2021-06-21 07:16] pud3ll commented on #10026
It got it solved by Downloading from https://jdbc.postgresql.org/download.html
![image](https://user-images.githubusercontent.com/65213098/122721207-0fa0bc00-d279-11eb-8fb5-733915a6c48f.png)
and then went to driver settings, deleted everything else and add the file I downloaded ( the folder location didn't seem to matter
![image](https://user-images.githubusercontent.com/65213098/122721802-c0a7568

[2021-06-21 07:32] pud3ll commented on #10026
It got it solved by Downloading from https://jdbc.postgresql.org/download.html
![image](https://user-images.githubusercontent.com/65213098/122723768-006f3d80-d27c-11eb-9563-fcb7b77d7020.png)
and then went to driver settings, deleted everything else and add the file I downloaded ( the folder location didn't seem to matter
![![image](https://user-images.githubusercontent.com/65213098/122723768-006f3

[2021-06-21 08:11] LonwoLonwo opened #12914 "Update "Filter Database Objects" page"
Add info about filters from this ticket https://github.com/dbeaver/dbeaver/issues/10137 to this page
https://github.com/dbeaver/dbeaver/wiki/Filter-Database-Objects

[2021-06-21 08:13] uslss commented on #12913
@alexhguerra can you provide more info about your issue accodingly to the template in the first message?

[2021-06-21 08:22] ShadelessFox opened #12915 "Update wiki page about row coloring by its value(-s)"
Add information about operator customization implemented in #11486

https://github.com/dbeaver/dbeaver/wiki/Data-View-and-Format#rows-coloring

[2021-06-21 08:34] zhbdesign opened #12916 "Provide DDL statement export of the whole library"
Provide DDL statement export of the whole library

[2021-06-21 08:39] ShadelessFox commented on #11347
Hello @zhicwu,

I don't think ClickHouse supports nested comments.

Also, I can't find any mentions about it in the documentation:
https://clickhouse.tech/docs/en/sql-reference/syntax/#comments

Can you provide more information, please?

[2021-06-21 08:47] kishvanchee opened #12918 "Unable to query in snowflake connection after java update in arch linux"
#### System information:
- Operating system (distribution) and version - Arch Linux
- DBeaver version - 21.1.0
- Additional extensions

#### Connection specification:
- Database name and version - Snowflake
- Driver name - net.snowflake:snowflake-jdbc:RELEASE - 3.13.4
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Dbeaver does not return results fro

[2021-06-21 08:58] ShadelessFox commented on #12163
If the issue is still relevant to you - feel free to reopen

[2021-06-21 08:58] #12163 closed, assigned to ShadelessFox

[2021-06-21 09:18] ShadelessFox commented on #12746
Implemented basic functionality:

![xgXwX2R1fI](https://user-images.githubusercontent.com/35821147/121094062-adff3d00-c7f6-11eb-803c-9c0c45de1a3e.png)

It copies the coordinates formatted as `latitude, longitude` to the clipboard.

Please note that it intentionally works only when viewed inside DBeaver.

[2021-06-21 09:21] zhicwu commented on #11347
@ShadelessFox, it does support nested comments. Taking latest LTS version as an example:
[code]

[2021-06-21 09:27] ShadelessFox commented on #11347
Huh, perhaps our QA database is a bit outdated (ClickHouse 20.4.4.18).

Thanks for quick response!

[2021-06-21 10:02] zhicwu commented on #11347
Thanks @ShadelessFox, please consider to update database to 21.3. Also you guys may want to revisit ClickHouse support - there's a timezone issue but let me enhance its JDBC driver first :p

Update: the feature was introduced in ClickHouse/ClickHouse#14655.

[2021-06-21 10:32] kishvanchee commented on #12918
Weirdly I was able to fix this using [this stackoverflow answer](https://stackoverflow.com/a/67415091/5675288). I'm not sure if this is good idea since I'm don't understand what `-Djdk.module.illegalAccess=permit` means. I have added it to my `dbeaver.ini` file.

Here are the logs now.
[code]

Please feel free to close this issue. I hope you can provide a sufficient explanation than myself regardi

[2021-06-21 10:58] avdotius commented on #12141
I can confirm that in release 21.1.1.202106210824 everything works like a charm. Thanks a lot!

[2021-06-21 11:26] flambchap commented on #12433
I've reproduced this bug on Snowflake, which suggests that this problem is relevant for all DBMS' with catalogs and schemas.

[2021-06-21 11:39] flambchap commented on #12433
Actually, the problem is also relevant for databases with schemas only.

[2021-06-21 11:43] #12918 closed, assigned to nobody

[2021-06-21 11:46] uslss commented on #12916
please provide more info accordingly to the [template](https://github.com/dbeaver/dbeaver/issues/new?assignees=&labels=feature+request%2C+wait+for+review&template=feature_request.md&title=)

[2021-06-21 11:48] Ra5CZ commented on #12527
Sorry I'd forgotten send response.
My table is in _cor_ schema, or any other schemas. If I selected DB and try search table, it's not work.
![image](https://user-images.githubusercontent.com/66022207/122756596-e68f2400-d296-11eb-87e1-6a62629ea17d.png)
If is selected schema with table, search works. But I have many schemas and search worked on all of it.
![image](https://user-images.githubuserconte

[2021-06-21 11:51] michal-bartak opened #12922 "Export/Import environment colors"
#### System information:
- Kubuntu 21.0
- DBeaver version: 1.21.1
- Additional extensions: N/A

#### Connection specification:
- Postgresql 12
- PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Because of snap I found suboptimal to me, I've changed way I have installed DBeaver in my system.
After installing deb package I had to move all

[2021-06-21 11:54] uslss commented on #12922
#9728

[2021-06-21 12:21] michal-bartak commented on #9728
At beginning we have to make justice to DBeaver saying that it is possible to transfer most crucial settings using existing buil-in tools. But it is a hassle.

Most export/import options can be found in File menu.
To transfer connections you have to use export/import of Project
To transfer some settings, incl hotkeys, you have to use export/import of Preferences. It's not clear why there is distin

[2021-06-21 12:51] flambchap commented on #11049
Hi @rodelrod. It seems like this problem was resolved in one of the previous releases. I'm closing this ticket. If you still can reproduce the problem on the latest DBeaver release, please feel free to reopen the ticket.

[2021-06-21 12:51] #11049 closed, assigned to flambchap

[2021-06-21 12:59] DariaMarkaryan opened #12924 "No task types in create a task window in eclipse extension"
#### System information:
- Windows 10
- DBeaver 21.1.1 CE, Eclipse extension
#### Describe the problem you're observing:
In Create a task window there are no proposed types and you cannot create tasks in that way
![image](https://user-images.githubusercontent.com/43252954/122765438-2d861500-d2a9-11eb-8108-6d56c1a02ff7.png)

[2021-06-21 13:21] DariaMarkaryan opened #12926 "Only one entity highlighted when search items by name part in ERD"
#### System information:
- Windows 10
- DBeaver 21.1.1 CE
#### Steps to reproduce:
 -Go to ERD with many tables in it
 -Click on the magnifier btn in the bottom ERD menu
![image](https://user-images.githubusercontent.com/43252954/122768945-c4080580-d2ac-11eb-8475-b02a3602ddab.png)
 -Type in letters that contains in several items in the opened ERD and press Enter

 ##### Expected:
All elements that

[2021-06-21 13:36] DariaMarkaryan opened #12927 "Empty file created in addition to exported data in CSV if split output file selected"
#### System information:
- Windows 10
- DBeaver 21.1.1 CE

#### Steps to reproduce, if exist:
- Open Export data dialog
- Select CSV data transfer type
- In the output settings select Split output size, set small maximum file size (e.g. 1 - 20)
![image](https://user-images.githubusercontent.com/43252954/122770309-ff570400-d2ad-11eb-96dd-7a09980069e3.png)
- Start exporting

As a result, you will ge

[2021-06-21 13:54] flambchap commented on #11982
Actually, there is nothing to implement. Go to `Preferences` -> `Editors` -> `Text Editors`. Under `Appearance color options`, choose `Current line highlight` and set the desired color.

[2021-06-21 13:54] #11982 closed, assigned to flambchap

[2021-06-21 14:16] DariaMarkaryan opened #12928 "Global data format doesn't override the local settings for the DB even if they are disabled"
#### System information:
- Windows 10
- DBeaver 21.1.1 CE

#### Steps to reproduce:
- Open Data editor
- Click on the Configure btn in the bottom menu
![image](https://user-images.githubusercontent.com/43252954/122775551-ea30a400-d2b2-11eb-8e89-3e170fdf987e.png)
- Go to data formats preferences (Editors -> Data Editor -> Data Formats)
- Set locale (e. g. de-German)
![image](https://user-images.git

[2021-06-21 14:30] DariaMarkaryan commented on #12928
But if in Global preferences you click Apply and close AND then click Apply in current DB preferences window, formatting will be applied

[2021-06-21 14:30] #12928 closed, assigned to nobody

[2021-06-21 14:53] Goddard commented on #12823
Sorry I moved on from the original format that the app was causing the issue.  I installed the deb.

But at the time of writing that post it was the latest flatpak that was released.  Sorry I can't be more helpful.

[2021-06-21 15:19] kkim5181 opened #12929 "Update connection timed out"
#### System information:
- Operating system (distribution) and version :Windows 10 version 1809
- DBeaver version : 21.1.0
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
I checked Automatic Updates from Preferences setting and when I  click for "checkin

[2021-06-21 16:07] ShadelessFox commented on #12116
Presto does not support data updating.

[2021-06-21 18:19] heyciao commented on #12908
Yeah, I read later about "-nosplash"... :)
Just wanted you guys to let you know... .
Cheers

[2021-06-21 20:35] kafene commented on #12668
In my case the file was located at `/usr/share/dbeaver/jre/conf/security/java.security` - removing `TLSv1, TLSv1.1,` from `jdk.tls.disabledAlgorithms` worked.

[2021-06-21 23:05] p91paul commented on #12908
@heyciao IMHO this should stay open, -nosplash cannot be considered a solution but only a temporary workaround!

[2021-06-22 01:26] bouyeijiang commented on #12887
[db.zip](https://github.com/dbeaver/dbeaver/files/6690324/db.zip)

[2021-06-22 01:58] echan888 commented on #12339
Hi @serge-rider, were you able to find the issue?

[2021-06-22 04:39] podoni opened #12933 "Improved link file opening"
Thank you for making such a good program usable.

There is a function that I would like to see improved in relation to opening Lnk files

When opening a link file in the Scripts folder, I want the file pointed to by the link file to be opened.

If it is an lnk file by reading the file extension as if it works like the Create -> Link File menu, it would be nice if the file pointed to by the link fi

[2021-06-22 05:02] ShadelessFox commented on #12878
Implemented. The length is displayed within type name for character types (e.g. `varchar(50)`), as in #12142

[2021-06-22 05:06] ShadelessFox commented on #12115
As mentioned in the error itself, Presto supports creating tables in auto-commit mode. Now Presto uses current transaction mode.

[2021-06-22 05:07] ShadelessFox commented on #12117
Fixed DDL for creating columns, but FKs and PKs are not supported, so they are no longer modifiable.

[2021-06-22 05:09] ShadelessFox commented on #12876
It can be easily tested in Postgres. Try typing invalid type for column, then error will popup (#12142).

[2021-06-22 06:54] flambchap commented on #12433
Fixed.

[2021-06-22 06:57] LonwoLonwo commented on #12159
Fixed in DBeaver 21.1.2

[2021-06-22 07:00] LonwoLonwo commented on #11013
Fixed for: HSQL, Informix, Teradata, Firebird, Sybase, SQLite, Old PostgreSQL
More parameters for Informix Trigger and HANA Trigger added
HSQL view and trigger definitions improved
Implemented in DBeaver 21.1.2

[2021-06-22 07:15] goldbach opened #12934 "Proxy setting is ignored when connecting to SAP HANA"
#### System information:
- Operating system (distribution) and version: macOS big sur 11.4
- DBeaver version: 21.1.1.202106210813
- Additional extensions: none

#### Connection specification:
- Database name and version: SAP HANA Generic
- Driver name: SAP/HANA
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  : trying to !

#### Describe the problem you're observing:

DBeaver seems to ignore SO

[2021-06-22 07:56] flambchap commented on #12681
The bug is not specific to any kind of database.

[2021-06-22 08:13] ShadelessFox commented on #12116
Presto driver is now read-only by default. Make sure this is only true for Presto.

[2021-06-22 08:17] flambchap commented on #12681
Fixed.

[2021-06-22 08:20] ShadelessFox commented on #12182
FYI `#temp` and `#test___...___000000001C52` are not the same names.

We can improve proposal analyzer, so it will lookup tables ~without this madness-looking hash at the end~ from `tempdb`.

[2021-06-22 08:23] flambchap commented on #12032
Hi @qiqingli. Could you please tell me how to achieve the effect on the second picture? Thanks.

[2021-06-22 08:26] qiqingli commented on #12032
No spaces between SELECT and * reproduces the problem

[2021-06-22 09:20] flambchap commented on #12032
As far as I understand, this is a syntactic error, and I am not convinced that SQL formatter should fix them.

[2021-06-22 09:24] Nope7 opened #12937 "Boot Loop after update 21.1.1"
#### System information:
- Operating system (distribution) and version: Windows 10 21H1
- DBeaver version: 21.1.1
- Additional extensions: Office plugin

#### Connection specification:
- Database name and version: IBM i DB2
- Driver name: JTOpen
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
After update from 21.1.0 to 21.1.1 (and office plugin i

[2021-06-22 09:29] qiqingli commented on #12032
But the SQL statement can be executed correctly, and it is not considered a syntax error

[2021-06-22 09:34] flambchap commented on #12032
Ok, I agree, will fix that as well.

[2021-06-22 09:38] Nope7 commented on #12937
I also tried with a clean installation (flag on Reset Setting) but it wasn't useful.

[2021-06-22 09:58] Nope7 commented on #12937
I don't know how, but I solved the issue.

I think that it depended on the fact I was opening the app using a shortcut on the quick launch bar on W10.

Even if that was effectively pointing to the right path, when I tried to open the program directly from File Explorer (C:\Program\dbeaver\dbeaver.exe) the app started regularly.

And moreover after a first run from file explorer, also the shortcut

[2021-06-22 10:25] Matvey16 commented on #12681
Fix works only for currently active connection. Using `ctrl+shift+.` on an object in another connection will first set the default schema as active, and only after second `ctrl+shift+.` works as intended.

[2021-06-22 11:00] Matvey16 commented on #12746
Wrong coordinates are copied, may always be from EPSG:3857

[2021-06-22 11:00] uslss commented on #11742
verified

[2021-06-22 11:00] #11742 closed, assigned to uslss, ShadelessFox

[2021-06-22 12:05] LonwoLonwo commented on #12126
Fixed in DBever 21.1.2

[2021-06-22 12:13] Matvey16 commented on #12274
Verified

[2021-06-22 12:13] #12274 closed, assigned to ShadelessFox, Matvey16

[2021-06-22 12:36] michal-bartak commented on #12893
I'm sure it was working like this about half year ago, and with some version suddenly has been replaced with request for every single file.
BTW seems like duplicate of https://github.com/dbeaver/dbeaver/issues/12862

[2021-06-22 13:15] LonwoLonwo commented on #12408
For tests:

[code]

[2021-06-22 13:16] Matvey16 commented on #12746
Verified.
Please note that the coordinates are copied according to EPSG:4326 CRS and are just raw numbers. You may need to remove comma and switch latitude and longitude places to correctly insert it into a database.

[2021-06-22 13:16] #12746 closed, assigned to ShadelessFox, Matvey16

[2021-06-22 13:32] LonwoLonwo commented on #12124
Fixed in Dbeaver 21.1.2

[2021-06-22 13:33] LonwoLonwo commented on #11656
May be related with https://github.com/dbeaver/dbeaver/issues/6023

[2021-06-22 13:44] taf1-cornell-edu opened #12943 "Database Navigator "Show Connected Only", "Show All" toggle no longer works"
#### System information:
- Operating system (distribution) and version  Windows 10 Enterprise version 1909
- DBeaver version  Community 21.1.1.202106210824
- Java version
- Additional extensions

#### Connection specification:
- Database name and version  postgres 13.*
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
[Database Navigator]

[2021-06-22 13:50] Matvey16 commented on #12433
Verified

[2021-06-22 13:50] #12433 closed, assigned to flambchap, Matvey16

[2021-06-22 13:55] Matvey16 commented on #12878
Verified

[2021-06-22 13:55] #12878 closed, assigned to ShadelessFox, Matvey16

[2021-06-22 14:07] jppo opened #12944 "Problem with MariaDB connection"
Hello,
We are using now 21.1.1 ans several of my colleagues have the same problem while trying to connect to a MariaDB database :
Current charset is windows-1252. If password has been set using other charset, consider using option 'passwordCharacterEncoding'"
And even with charSET = UTF-8 or paswordCharacterEncoding = UTF-8 they are not able to connect.
On my system I connect to MariaDB, MSSSQL wi

[2021-06-22 14:08] jppo commented on #12944
I forgot to say that MariaDB databases are on Centos systems with MariaDB 10.4.18

[2021-06-22 15:32] givihuda commented on #3699
I get the same error randomly, usually it's at the beginning of day if I was using the connection the evening before.

I'm assuming it's not a problem, but it's annoying being distracted by a notification that may be pointless.

[2021-06-22 15:37] Matvey16 commented on #12126
Delete statement is still incorrect
![2021-06-22_18h34_11](https://user-images.githubusercontent.com/82543000/122955329-ad36e100-d388-11eb-9f5d-5946f5a02ce5.png)

[2021-06-22 15:38] ivolvicente opened #12945 "MariaDB create user with password check plugin"
#### System information:
- Windows 10 remote access to Ubuntu 20.04
- DBeaver 21.1.1.202106210824
- Java 1.8.0_241

#### Connection specification:
- MariaDB 10.3.27
- MariaDB
- No (SSH, SOCKS, etc)?
- Additional plugin [Simple Password Check ](https://mariadb.com/kb/en/simple-password-check-plugin/)

#### Describe the problem you're observing:
When this plugin is active, its not possible to create

[2021-06-23 03:42] HiIamJeff commented on #12748
Hi,
I think I found the cause. If I accidentally change the keyboard language input to "Zhuyin - Traditional" and type some characters, the space between lines would change and the problem would happen (every scroll would skip many rows; even I remove the mistyped characters). Right now, I can fix this by closing the script and open it again. Hope this give you more clues to fix it.
Thanks!

[2021-06-23 06:02] xiaobiaozhao commented on #12900
PIKA is compatible with the Redis protocol

[2021-06-23 06:51] Matvey16 commented on #12070
Verified

[2021-06-23 06:51] #12070 closed, assigned to ShadelessFox, Matvey16

[2021-06-23 07:20] Matvey16 commented on #12876
Verified

[2021-06-23 07:20] #12876 closed, assigned to ShadelessFox, Matvey16

[2021-06-23 07:39] Matvey16 commented on #12159
Verified

[2021-06-23 07:39] #12159 closed, assigned to LonwoLonwo, Matvey16

[2021-06-23 07:49] Matvey16 commented on #12124
Generated DDL includes `NOT NULL` for columns which leads to syntax error.

![2021-06-23_10h43_53](https://user-images.githubusercontent.com/82543000/123057298-6c82aa80-d410-11eb-8794-7d404618816d.png)

[2021-06-23 08:13] mboeringa opened #12948 "DBeaver 21.1.1 fails to determine geometry type of spatial table in PostgreSQL"
#### System information:
- Operating system (distribution) and version: Windows 10, build 19043.1081
- DBeaver version 21.1.1
- Additional extensions: none

#### Connection specification:
- Database name and version: PostgreSQL 13.3 / PostGIS 3.1.2
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no

#### Describe the problem you're observing:

DBeaver 21.

[2021-06-23 08:18] uslss commented on #11013
verified

[2021-06-23 08:18] #11013 closed, assigned to uslss, LonwoLonwo

[2021-06-23 08:19] uslss commented on #11347
verified

[2021-06-23 08:19] #11347 closed, assigned to uslss, ShadelessFox

[2021-06-23 08:27] uslss commented on #12115
verified

[2021-06-23 08:27] #12115 closed, assigned to uslss, ShadelessFox

[2021-06-23 08:28] uslss commented on #12117
verified

[2021-06-23 08:28] #12117 closed, assigned to uslss, ShadelessFox

[2021-06-23 08:29] uslss commented on #12116
verified

[2021-06-23 08:29] #12116 closed, assigned to uslss, ShadelessFox

[2021-06-23 08:33] uslss commented on #12948
@mboeringa , unfortunately cannot reproduce it.
Could you provide error log and table ddl, if possible?

[2021-06-23 08:34] LonwoLonwo commented on #12943
Thanks for the bug report!

[2021-06-23 08:37] uslss commented on #12944
@jppo could you provide [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)? Also, please provide what error appears. Which dbeaver versions and OS versions are used?

[2021-06-23 08:39] uslss commented on #12937
duplicates #10852.
Anyway, thanks for the report

[2021-06-23 08:39] #12937 closed, assigned to nobody

[2021-06-23 08:43] uslss commented on #12910
thanks for the report

[2021-06-23 08:53] uslss commented on #12948
I'm managed to reproduce the issue.

thanks for the report

_reproducible at db2.gis.public.planet_osm_polygon_

[2021-06-23 08:54] uslss commented on #12207
there is no update on issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2021-06-23 08:54] #12207 closed, assigned to nobody

[2021-06-23 08:55] uslss commented on #12640
there is no update on issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2021-06-23 08:55] #12640 closed, assigned to nobody

[2021-06-23 08:56] uslss commented on #11154
there is no update on issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2021-06-23 08:56] #11154 closed, assigned to LonwoLonwo

[2021-06-23 08:56] uslss commented on #11205
there is no update on issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2021-06-23 08:56] #11205 closed, assigned to nobody

[2021-06-23 08:56] eyallibarak commented on #12855
Yeah I'm sure. Also, the change of hot key in DBeaver eliminated this possibility.

[2021-06-23 08:58] uslss commented on #12540
there is no update on issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2021-06-23 08:58] #12540 closed, assigned to nobody

[2021-06-23 09:22] serge-rider commented on #12899
Fixed

[2021-06-23 09:32] ShadelessFox commented on #12948
It turns out, PostGIS supports geometry types with specified SRID but without specifying actual type.

For example, `geometry(geometry, 4326)` will allow values of any type (`POINT`, `POLYGON`, etc.) with SRID 4326.

Also, `geometry(geometry)` is also supported, but it does not make any sense AFAIK.

[2021-06-23 09:55] Matvey16 commented on #10302
@arielcarralbal Can you please look what queries appear in the query manager when you are trying to see the contents of such schema in navigator and see nothing? To see the queries you need to open query manager and enable metadata read option in preferences.

![2021-06-23_12h49_54](https://user-images.githubusercontent.com/82543000/123076898-3a7a4400-d422-11eb-980a-c06b8c25f604.png)

![2021-06-23

[2021-06-23 10:33] majkyyx commented on #12899
thx a lot, it was fast.. ;-)

[2021-06-23 10:57] serge-rider commented on #12044
Fixed

[2021-06-23 11:43] Matvey16 commented on #10302
@arielcarralbal Also it looks like at some point we changed the default value of "metadata source" property to 0 for AS400 driver and it can cause this problem. Can you try changing this property to either -1 or 1 and look if it helps?

![2021-06-23_14h38_55](https://user-images.githubusercontent.com/82543000/123090732-2984ff00-d431-11eb-9b79-c8e889111c2f.png)

[2021-06-23 11:44] serge-rider commented on #11977
1 Fixed
2 Can't reproduce
3,4. Technically not a bug because further filtering happens only within already found proposals. To trigger search on server side you need to press ctrl+space again.
5 Fixed in #12044

[2021-06-23 11:50] serge-rider commented on #8148
Will be implemented in #7014

[2021-06-23 11:50] #8148 closed

[2021-06-23 11:51] serge-rider commented on #8262
Will be implemented in #7014

[2021-06-23 11:51] #8262 closed

[2021-06-23 11:54] uslss commented on #12893
duplicates #12862

[2021-06-23 11:54] #12893 closed, assigned to nobody

[2021-06-23 11:58] LonwoLonwo commented on #8692
Hello, everyone.
Can you please test the [new DBeaver version](https://dbeaver.io/)? We [fixed](https://github.com/dbeaver/dbeaver/issues/9406) oid types insert bug, and I can't reproduce the ticket issue now. Thanks!

[2021-06-23 12:16] serge-rider commented on #12313
It works but slowly (check progress monitor in the bottom-right corner)

[2021-06-23 13:11] SMUsamaShah opened #12959 "Explain ER Diagram Notation in docs please"
Please explain what the symbols mean somewhere in the docs.
What does a line, dashed line, filled circle and square mean in context with one-to-one and one-to-many etc.

I understand that this is IDEF1X but this is still not enough.

[2021-06-23 13:20] patrick-cardoso commented on #10026
Great! This is the best way!
I am adjusted the path, restart dbeaver, and all works.
Thank you so much @leobasilio and @michalk-k
![image](https://user-images.githubusercontent.com/19351082/123103326-4529de80-d40c-11eb-9dee-3e7e80e25b65.png)

[2021-06-23 13:41] jppo commented on #12944
Hello,

The exact message (from my colleaques on Teams) is :
"Access denied for user 'xyz@'abcd' (using password: YES)
Current charset is windows-1252. If password has been set using other charset, consider using option 'passwordCharacterEncoding'"

Regards

JP Pozzi

De: "Yvan GODARD" ***@***.***>
À: "dbeaver/dbeaver" ***@***.***>
Cc: "jppo" ***@***.***>, "Mention" ***@***.***>
Envoyé: Mercredi 2

[2021-06-23 13:58] flambchap commented on #2443
Search in comments was implemented in the scope of https://github.com/dbeaver/dbeaver/issues/10370, now I'm going to implement search in definitions.

[2021-06-23 14:02] Matvey16 commented on #12429
@git10135405 This additional zeroes are added by the driver and are not influenced by Dbeaver. As a workaround you can either use another driver or enable data formatting in connection settings.
![2021-06-23_17h01_07](https://user-images.githubusercontent.com/82543000/123110473-cdc47100-d444-11eb-8e3c-45d7c2744b62.gif)

[2021-06-23 14:08] Matvey16 commented on #12044
Verified

[2021-06-23 14:08] #12044 closed, assigned to serge-rider, Matvey16

[2021-06-23 14:38] LonwoLonwo commented on #12864
Thanks for the suggestion and script.

[2021-06-23 14:51] jlmoya opened #12960 "After upgrading to 21.1.1 all views are broken"
#### System information:
- Big Sur 11.4
- DBeaver version 21.1.1
- Eclipse 2021-06 4.20
- Oracle JDK:
java version "16.0.1" 2021-04-20
Java(TM) SE Runtime Environment (build 16.0.1+9-24)
Java HotSpot(TM) 64-Bit Server VM (build 16.0.1+9-24, mixed mode, sharing)
- Additional extensions
  DBeaver Debug	6.1.49.202106210824	org.jkiss.dbeaver.debug.feature.feature.group	JKISS
    DBeaver Desktop UI	21.

[2021-06-23 15:30] charlesdmoorejr opened #12962 "When running queries in Greenplum the Discover Owner Entity task takes 30+ seconds to complete"
#### System information:
- Operating system (distribution) and version - Windows 10
- DBeaver version - 21.0.3
- Additional extensions

#### Connection specification:
- Database name and version - Greenplum version 5.28.6
- Driver name - PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? - No

#### Describe the problem you're observing:

When running queries on any of our ta

[2021-06-23 17:27] CComparon commented on #12429
Thank you @Matvey16 for the tip. Unfortunaly now regular DATETIME(0) columns get an extra triplet of zeroes.
Would you advise to report that to the MySQL crew as a bug?

[2021-06-23 20:05] lalato commented on #12745
Just upgraded to Version 21.1.1.202106210813.  Issue appears to be resolved.  I see in the release notes that changes were made to trigger and procedure DDLs, I assume this change is what fixed the problem.  Thanks!

[2021-06-23 20:10] LonwoLonwo commented on #12745
Hello @lalato
We solved this problem https://github.com/dbeaver/dbeaver/issues/11985
It can be related to this ticket or not.
Can you please test again with big procedures?

[2021-06-23 20:28] lalato commented on #12745
@LonwoLonwo I tested on a procedure that was only giving partial DDL when I first logged this issue.  It is now showing the full DDL.  So it appears that the changes made to fix #11985 also fixed this issue.

[2021-06-23 20:30] LonwoLonwo commented on #12745
Fantastic! Thanks for testing.
Can I close this ticket?

[2021-06-23 20:41] #12745 closed, assigned to LonwoLonwo