[2021-01-27 10:49] #10570 closed

[2021-01-27 11:25] uslss commented on #11119
verified

[2021-01-27 11:25] #11119 closed, assigned to uslss

[2021-01-27 11:40] uslss commented on #10664
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-01-27 11:40] #10664 closed

[2021-01-27 12:10] flambchap commented on #10694
Fixed.

[2021-01-27 13:06] PeterAlva commented on #11120
Thanks for a very speedy response.

From: Who cares <notifications@github.com>
Sent: 27 January 2021 08:31
To: dbeaver/dbeaver <dbeaver@noreply.github.com>
Cc: Peter Libman <peter.libman@alva-group.com>; Mention <mention@noreply.github.com>
Subject: Re: [dbeaver/dbeaver] Output Tab reopens on next execution (#11120)

Hello @PeterAlva<https://github.com/PeterAlva>,

This is a feature and it is enab

[2021-01-27 13:29] kseniiaguzeeva commented on #10713
Steps to reproduce:
1. Insert in SQL Editor (e.g. for PostgreSQL 12 dvdrental.tryon) the script from the comment above
2. execute only it from the script at first:

[code]
3. Refrech and check Functions folder> the function is in it
4. Relaunch DBeaver and open the folder Functions again

Expected: the function is displayed there
Actual result: the function disappeared

[2021-01-27 13:30] kseniiaguzeeva commented on #11117
verified

[2021-01-27 13:30] #11117 closed, assigned to serge-rider, kseniiaguzeeva

[2021-01-27 13:36] rjmurray54 commented on #10713
That is not the issue at all, if you create a function with a temp table in the script, when run it and then close DBeaver and reopen Dbeaver, the function has been removed.  We have nailed the problem down to the fact that when the Temp Table is removed, it is doing a CASCADE delete, which also removes the function and it should NOT, it should just remove any temp tables that are created during t

[2021-01-27 13:42] LonwoLonwo opened #11129 "Binary-Geometry transformer not working in special cases"
#### System information:
- DBeaver version 7.3.3

#### Steps to reproduce, if exist:

1. Execute query like SELECT st_asbinary(st_point(-0.090508461, 51.511680)) for example, in postgres with postgis extension
2. Try to set Geometry format to result cell in ResultSet
3. Error appears

![2021-01-27 16_34_16-DBeaver Enterprise 7 3 3 - _gis_ Script-28](https://user-images.githubusercontent.com/451523

[2021-01-27 13:59] imad-ELHAJLI opened #11130 "error in 10n/bundle_fr.properties menu.navigate= Navigieren"
the menu.navigate in bundle_fr properties must be Navigation.

Thank you.

[2021-01-27 14:02] kseniiaguzeeva commented on #10495
Separate ticket will be created for 6.

[2021-01-27 14:02] #10495 closed

[2021-01-27 14:03] kseniiaguzeeva commented on #10694
verified

[2021-01-27 14:03] #10694 closed

[2021-01-27 14:08] mkgrgis commented on #10573
Duplicate https://github.com/dbeaver/dbeaver/issues/10531 ?

[2021-01-27 14:09] kseniiaguzeeva commented on #11114
1. Please open Query manager to see what query gives this issue (Window>Show view>Query manager). Please send the query to me.
2. Oracle has its own specific settings (Edit Connection>Oracle Properties). Could you try them?
![dbeaver_ndlF3h4iCT](https://user-images.githubusercontent.com/51405061/106002516-4b689880-60c2-11eb-99dc-15ef591c22de.png)

[2021-01-27 14:09] ShadelessFox commented on #11125
Hello @ddperso,

You can use `${variable}` to access other variables from a variable:
[code]
Also make sure you've executed each `@set` separately or entire script block using `Alt+X`.

[2021-01-27 14:09] #11125 closed, assigned to nobody

[2021-01-27 14:14] kseniiaguzeeva commented on #10971
Try Classic theme, because it has optimal colors. If some items still have bad visibility, please tell which ones, your OS and DBeaver version

[2021-01-27 14:21] kseniiaguzeeva commented on #11066
Found that the ticket duplicates https://github.com/dbeaver/dbeaver/issues/8052. Let only one remains opened

[2021-01-27 14:21] #11066 closed, assigned to nobody

[2021-01-27 14:22] kseniiaguzeeva commented on #8052
Can be fixed together with https://github.com/dbeaver/dbeaver/issues/10724

[2021-01-27 14:47] flambchap commented on #10531
Duplicate of #10573. Will be done soon.

[2021-01-27 14:47] #10531 closed

[2021-01-27 14:48] flambchap commented on #10573
Yes, it is. Thank you.

[2021-01-27 16:42] mbaudouin commented on #11077
!ENTRY org.jkiss.dbeaver.model 2 0 2021-01-27 17:32:26.217
!MESSAGE Schema read failed: empty list returned. Try generic method.
!SUBENTRY 1 org.jkiss.dbeaver.model 2 0 2021-01-27 17:32:26.217
!MESSAGE 'sys.schemas' : nom d'objet incorrect.
!STACK 0
java.sql.SQLException: 'sys.schemas' : nom d'objet incorrect.
	at net.sourceforge.jtds.jdbc.SQLDiagnostic.addDiagnostic(SQLDiagnostic.java:372)
	at ne

[2021-01-27 17:51] kseniiaguzeeva commented on #10965
It turns out this function already exists (If I understand you correctly). Make triple click on a line in SQL Editor to highlight it.

https://user-images.githubusercontent.com/51405061/106032298-5979e180-60e1-11eb-9617-0385e0cf9177.mov

[2021-01-27 17:57] dariodjuric commented on #11114
Ok, I enabled the Query Manager, but it doesn't show any queries:

![dbeaver-problem](https://user-images.githubusercontent.com/5459296/106032787-35ae9f80-60d1-11eb-89eb-85bc5144c76f.gif)

In fact, the only activity can be shown in this window:

![dbeaver-problem2](https://user-images.githubusercontent.com/5459296/106032828-419a6180-60d1-11eb-8888-597713a0dfe8.gif)

I also tried enabling all of th

[2021-01-27 21:36] rotorboy opened #11132 "VARCHAR string in generated ALTER statement missing length"
#### System information:
- Operating system (distribution) and version - MacOS 10.14 Mojave
- DBeaver version - 7.3.3.202101161839

#### Connection specification:
- Database name and version - MariaDB 10.3
- Driver name - Default
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NO

#### Describe the problem you're observing:

When converting a field from one type to VARCHAR, the generated ALTER

[2021-01-27 21:58] derwin12 opened #11133 "resizing editor vs results no longer works in 7.3.3 or 7.3.4 works fine in 7.2.0"
#### System information:
- Operating system (distribution) and version
- 4.15.0-68-generic #77~16.04.1-Ubuntu SMP Mon Oct 28 04:07:29 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
-
- DBeaver version 7.3.3 and weekly build of 7.3.4  - works fine in 7.2.0

Doesnt seem to matter what driver but we use postgres.

The middle bar with the up/down errors either goes nearly closed or all the way open. Cant mov

[2021-01-27 21:59] #11133 closed, assigned to nobody

[2021-01-27 21:59] derwin12 commented on #11133
duplicate

[2021-01-27 22:00] derwin12 commented on #11108
Note rolling back to 7.2.0 and it works fine.

[2021-01-27 22:31] patrickathompson commented on #11092
I am running Archlinux and was also seeing this error after upgrade. The issue for me was I was using jdk8 as the default java (for development purposes). jdk11 was already installed and once I used archlinux-java to change the default java version, everything was working fine after that. What gave me a clue to try this was that I noticed a change around the time the issue started happening for me

[2021-01-28 01:03] lotar94 commented on #7976
I'am using DBeaver version 7.3.3 and when i try to load a script file from. rigth click on my data base > Tools > Execute script, y select my file but i can't start the button is disable and the window show me = Native client is not specified for connection. idon't know if i'm making something wrong o is this bug still is?.

<img width="692" alt="Screen Shot 2021-01-27 at 22 02 02" src="https://us

[2021-01-28 03:56] acrey1 commented on #10820
Fixed in #9719 but also needs to be included in documentation...

[2021-01-28 03:56] #10820 closed, assigned to nobody

[2021-01-28 04:13] kseniiaguzeeva commented on #7976
Please try to press Local Client.. in the left bottom corner and select Native Client there.

[2021-01-28 04:21] kseniiaguzeeva commented on #11047
Thank you for the suggestion.

[2021-01-28 04:33] kseniiaguzeeva commented on #11042
DBeaver already has DB2 drivers. Select which one you need in [New database connection](https://github.com/dbeaver/dbeaver/wiki/Create-Connection).
If you want to add some specific driver, [this article](https://github.com/dbeaver/dbeaver/wiki/Database-drivers) should help you.

[2021-01-28 04:37] kseniiaguzeeva commented on #10973
DBeaver doesn't refresh IP now as you describe. We are going to implement this option in one of the future releases. Thank you for the report.

[2021-01-28 04:41] kseniiaguzeeva commented on #11016
Good idea! We are going to implement it.

[2021-01-28 04:48] kseniiaguzeeva commented on #11017
Yes, the search works only for table of content. It hasn't been possible to implement text search in older Eclipse version, but we should try again (an autogenerating search index has to be created).

[2021-01-28 06:41] kseniiaguzeeva commented on #10504
Thank you for the workaround. We will add the setting to SSL tab of MySQL connection settings.

[2021-01-28 06:44] kseniiaguzeeva commented on #10924
Thank you! JDBC doesn't support it, that's why we cannot do it in the near future. I mark the ticket as feature request.

[2021-01-28 06:52] kseniiaguzeeva commented on #11019
Unfortunately we cannot influence this. It's flathub issue.

[2021-01-28 06:52] #11019 closed, assigned to nobody

[2021-01-28 06:59] kseniiaguzeeva commented on #10932
verified

[2021-01-28 06:59] #10932 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-01-28 07:10] kseniiaguzeeva commented on #11018
Sorry, that you spent a time to find the reason. Some settings were changed in previous DBeaver versions and Show all databases was disabled by default. We try to avoid such changes.

[2021-01-28 07:10] #11018 closed, assigned to nobody

[2021-01-28 07:13] kseniiaguzeeva commented on #11025
Please try to add the setting to dbeaver.ini. [Here](https://github.com/dbeaver/dbeaver/issues/3141) you can find advices.

[2021-01-28 07:24] kseniiaguzeeva commented on #11020
Please tell:
- which type of authentication do you use
- steps how do you connect

[2021-01-28 07:28] kseniiaguzeeva commented on #10896
You are right, but I cannot reproduce it. Please tell your timezone and locale (it is written in the bottom toolbar)
![dbeaver_OSTCDQDC5O](https://user-images.githubusercontent.com/51405061/106104450-81099200-6153-11eb-846f-39a88956efb7.png)

[2021-01-28 07:45] uslss commented on #9995
there is no update on the issue for a long time.
if it is still actual for you - feel free to reopen it

[2021-01-28 07:45] #9995 closed

[2021-01-28 07:45] kseniiaguzeeva commented on #10906
As I see DB2 z/OS works for you database, and DB2 LUW doesn't work. One additional detail is needed: please press Test Connection and send me the capture with the result in popup, like this:
![dbeaver_uD8QnZATHr](https://user-images.githubusercontent.com/51405061/106105990-ec546380-6155-11eb-8462-c1977dd550ea.png)

[2021-01-28 07:46] uslss commented on #10663
there is no update on the issue for a long time.
if it is still actual for you - feel free to reopen it with an additional info

[2021-01-28 07:46] #10663 closed

[2021-01-28 07:46] uslss commented on #10490
there is no update on the issue for a long time.
if it is still actual for you - feel free to reopen it with an additional info

[2021-01-28 07:46] #10490 closed

[2021-01-28 07:47] uslss commented on #10245
@stadnikilya could you check if it is still reproducible for you against the recent version?

[2021-01-28 07:48] uslss commented on #10701
there is no update on the issue for a long time.
if it is still actual for you - feel free to reopen it with an additional info

[2021-01-28 07:48] #10701 closed

[2021-01-28 07:48] uslss commented on #10425
there is no update on the issue for a long time.
if it is still actual for you - feel free to reopen it with an additional info

[2021-01-28 07:48] #10425 closed

[2021-01-28 07:49] uslss commented on #10715
there is no update on the issue for a long time.
if it is still actual for you - feel free to reopen it with an additional info

[2021-01-28 07:49] #10715 closed

[2021-01-28 07:50] kseniiaguzeeva commented on #10908
It is a bug (e.g. Search proposals... bar shouldn't be displayed), but we have to figure out a reason.
Thank you for the report.

[2021-01-28 07:51] uslss commented on #10807
there is no update on the issue for a long time.
if it is still actual for you - feel free to reopen it with an additional info

[2021-01-28 07:51] #10807 closed, assigned to nobody

[2021-01-28 07:52] nullaegy opened #11136 "Database Dashboard blank"
HI! The Database Dashboard is completely blank.
I've tried to uninstall clean the settings, and reinstall completely the DBeaver and start from fresh, but that does help.

#### System information:
- Microsoft Windows [Version 10.0.19042.746]
- Version 7.3.3.202101161839

#### Connection specification:
- MariaDB JDBC driver
- ssh tunnel

log:
!SESSION 2021-01-28 06:54:35.148 -----------------------

[2021-01-28 07:59] mjgio commented on #10504
Works now with the workaround from @bhohler. Many thx

[2021-01-28 08:02] uslss commented on #11109
verified

[2021-01-28 08:02] #11109 closed, assigned to uslss, ShadelessFox

[2021-01-28 08:18] #10796 closed

[2021-01-28 08:18] kseniiaguzeeva commented on #10988
Please send a full query to reproduce. I receive no results in different clients when I run query:
[code]

[2021-01-28 08:27] #10963 closed, assigned to nobody

[2021-01-28 08:32] kseniiaguzeeva commented on #11046
@UlrichDemlehner, @sujeet-agrahari please try to [Reset workspace](https://github.com/dbeaver/dbeaver/wiki/Reset-workspace) and delete folder **.eclipse** (nothing will be lost)

[2021-01-28 08:38] ShadelessFox commented on #11129
Geometry transformer for most databases where geometry data is stored as WKB (binary) should be working now.

Also MySQL geometry handler was refactored, so take a look how geometry behaves.

[2021-01-28 08:50] ShadelessFox commented on #11108
Hello @derwin12,

Can you provide log files, not the run configuration?

https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-01-28 09:41] uslss commented on #11130
thanks for the report

[2021-01-28 09:47] jonjonw commented on #10701
Hi, I'm not sure why this ticket was closed. Were you waiting for a response from me? It sounded like you wanted feedback from your database team?

[2021-01-28 09:56] UlrichDemlehner commented on #11046
Reset workspace had no effect but deleting .eclipse did the trick.

[2021-01-28 10:13] kseniiaguzeeva commented on #11114
Please set to show all query types in Query manager and try again.
![dbeaver_eOGBJYuapd](https://user-images.githubusercontent.com/51405061/106123000-6db5f100-616a-11eb-97f8-84d168de8aa3.png)

[2021-01-28 10:57] dariodjuric commented on #11114
Thanks for the tip. Here is the result:

![dbeaver-problem](https://user-images.githubusercontent.com/5459296/106127878-34c44f00-615f-11eb-9319-edf02cccf300.gif)

The full query is:

[code]

When I execute the above query using another SQL client, it gives around 800 results, most of which are partitions of one table. Could this causing problems?

[2021-01-28 11:09] uslss commented on #7813
still reproducible against 7.3.4

[2021-01-28 11:22] ioannisvasilas commented on #11042
Thank you Kseniuia! Much appreciated!

On Thu, Jan 28, 2021 at 6:33 AM Kseniia <notifications@github.com> wrote:

[2021-01-28 11:22] uslss commented on #5253
duplicates #4332

[2021-01-28 11:22] #5253 closed

[2021-01-28 11:25] BobJMW commented on #11062
___________________________

*Bob Wuisman*
BI Lead
*+31 6 11835880*

*Digital Decisions B.V.*
*www.digitaldecisions.com <http://www.digitaldecisions.com/>*
*HQ:* 9th Floor, Pythagoraslaan 101, 3584 BB, Utrecht, The Netherlands
*London:* Chapter House, 16 Brunswick Place, London, N1 6DZ, United Kingdom
*New York:* 110 William St #2401, New York NY, 10038, United States of
America

Digital Decisions

[2021-01-28 11:28] uslss commented on #7844
not reproducible against 7.3.4
![image](https://user-images.githubusercontent.com/31996417/106132507-179a7b00-6175-11eb-920f-78ceb728a998.png)

[2021-01-28 11:28] #7844 closed

[2021-01-28 11:30] redpawn96 opened #11139 "SQL Error [22021]: ERROR: invalid byte sequence for encoding "UTF8""
The error occurs when I open a table with data that has special characters.
The database have a default encoding of **SQL_ASCII**;
Collate: **C**
Ctype: **C**

I think when Dbeaver retrieves the data it uses the UTF-8 as the default charset, as the database have SQL_ASCII character encoding the JDBC can't transform the special character into UTF-8

Here are the logs generated by Dbeaver itself:

[

[2021-01-28 11:32] BobJMW commented on #11062
[DBeaver issue.zip](https://github.com/dbeaver/dbeaver/files/5886727/DBeaver.issue.zip)

Thank you for your reply and looking into the issue. Please find the .zipfile attached where you can find the ddl table script, test csv file and a picture of the DDL script that shouldn't be generated.

Step 1. Create table
Step 2. Import attached CSV file (no column needs to be removed)
Step 2A. At the secon

[2021-01-28 11:43] #7715 closed

[2021-01-28 11:54] lotar94 commented on #7976
@kseniiaguzeeva don't show me the Native Client option, only Browse and not present. Well my postgresql is on docker container. i don't know if this maybe could be the problem.

<img width="692" alt="Screen Shot 2021-01-28 at 08 43 28" src="https://user-images.githubusercontent.com/49959803/106134959-071edc00-6146-11eb-9ef1-08fd7546dc63.png">

<img width="692" alt="Screen Shot 2021-01-28 at 08 44

[2021-01-28 12:00] kseniiaguzeeva commented on #11129
Closed with nuances

[2021-01-28 12:00] #11129 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-01-28 13:03] Axidi commented on #10906
I created a new connection with DB2 z/OS and it works!
Here the captures

DDL OK
![image](https://user-images.githubusercontent.com/50483555/106141970-2848f200-6171-11eb-9a9d-476523599378.png)

DDL not OK
![image](https://user-images.githubusercontent.com/50483555/106142152-69d99d00-6171-11eb-9739-622bdfdef3e8.png)

Thanks for your help.

dbeaver ist a great tool!

Regards
Alex

[2021-01-28 13:15] mathiasgrimm opened #11140 "Always sort by the pk"
Not a problem, but it would be nice to see the data (when you click twice on a table) sorted by the PK, like in MySQL
<img width="123" alt="Screen Shot 2021-01-28 at 10 15 05" src="https://user-images.githubusercontent.com/450069/106143550-b3b28b00-6151-11eb-874b-bcccf149fb3e.png">

[2021-01-28 13:42] kseniiaguzeeva commented on #11042
you are welcome)

[2021-01-28 13:42] #11042 closed, assigned to nobody

[2021-01-28 16:02] uslss opened #11142 "BLOBs with text aren't shown in Value panel"
#### System information:
- Operating system (distribution) and version win 10 x64
- DBeaver version 7.3.4 EA

#### Connection specification:
- Database name and version Oracle 12

#### Describe the problem you're observing:
BLOB with text aren't shown in value panel, BLOB with pictures are shown as expected.
![2021-01-28_18h57_16](https://user-images.githubusercontent.com/31996417/106164592-31e74f

[2021-01-28 17:33] kseniiaguzeeva commented on #10906
Nice to hear! Can I close the ticket?

[2021-01-28 17:43] seaview1990 commented on #9974
As a first step, could we decide whether this issue is a feature request or a bug? It seems like wrong behavior for the plugin to open projects that are not related to DBeaver.

[2021-01-28 17:50] rajinder-yadav commented on #11019
Actually you can and should, by opening a bug with them to correct the information. I only brought this to your attention to help your users. This is how improvements are done, when people take initiative.

[2021-01-28 18:55] sekullbe commented on #4483
This happens to me in 7.3.3 on a Mac as well, to an extent. I made the key mapping change and HOME and END *say* they're executing Line Start and Line End, but still go to the beginning and end of the file. But after an exit and restart, they are working correctly. edit: for a few minutes only and they they went back to file behavior again.

[2021-01-28 19:26] veeeetl opened #11143 "Dbeaver aliasing is breaking redshift to_date(<julian_date_field>,'J') calculation"
![image](https://user-images.githubusercontent.com/78173673/106188220-af4b9980-6174-11eb-8c37-24934f1a8108.png)

as you can see the second and third fields should have the same value but have different. Running this query on the same redshift cluster from a different tool (aginity/sql workbench_j)  does not lead to same issue.

Point 1 for Sql_workbench_j -- 0 for dbeaver

[2021-01-28 21:03] rmarzocchi84 opened #11144 "Problem with DDL for spatial 3D data - Postgresql/PostGIS"
#### System information:
- Windows 10
- DBeaver version 7.3.3.

#### Connection specification:
- Postgresql with spatial extension PostGIS

#### Describe the problem you're observing:

I have a table with a LINESTRINGZ geometry.

CREATE TABLE public.elementi_stradali (
	id serial NOT NULL,
	geom geometry(LINESTRINGZ, 32632) NULL,
	da_nodo int4 NULL,
	a_nodo int4 NULL,
	data_ins timestamp NULL DEFA

[2021-01-28 22:01] derwin12 commented on #11108
After going back a version and up a version I dont get an exception atleast not with a couple of quick tests .. but alas the resizing still down not work in 3.3 or 3.4
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/5890207/dbeaver-debug.log)

[2021-01-28 22:04] derwin12 commented on #11108
![Screenshot from 2021-01-28 17-02-59](https://user-images.githubusercontent.com/4643499/106204318-cbf2cc00-618a-11eb-9b24-95e93c79c24c.png)
Screenshot doesnt show cursor .. but its a double arrow half way down the  screen yet the edit window doesnt move.

[2021-01-28 22:09] LonwoLonwo commented on #10610
can't reproduce in DBeaver 7.3.3

[2021-01-28 22:28] LonwoLonwo commented on #9525
Foreign table column option can be found in pg_class.pg_attribute in column attfdwoptions

[2021-01-29 03:27] lxkplus opened #11147 "When i use Proxifier,Dbeaver cannot get SOCK"
sorry for my poor English.
I konw dbeaver support SOCK,but when i use Proxifier to get socks,Dbeaver cannot get socks.
 Dbeaver incompatible with Proxifier，
let me put it another way：if i set a global socks,dbeaver cannot get zhe socks
it is a small probrem，but i think i should tell others .

and when i import sql which its decode is gbk，unicode or others，i cannot read it corectly。
when i use navi

[2021-01-29 04:42] RoeGross opened #11149 "Language：Chinese"
1、There are many functions that are not fully localized

[2021-01-29 04:43] RoeGross opened #11150 "Function and Language"
1、There are many functions that are not fully localized

[2021-01-29 04:44] #11150 closed, assigned to nobody

[2021-01-29 04:44] #11149 closed, assigned to nobody

[2021-01-29 04:48] RoeGross opened #11151 "Function Localization"
The existing function is not completely Chinese

[2021-01-29 06:42] kseniiaguzeeva commented on #11140
Looks like a bug. Thank you for the report.

[2021-01-29 07:02] kseniiaguzeeva opened #11153 "Geometry values are displayed incorrectly if they are converted from binary type"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version  7.3.4

#### Connection specification:
- Database name and version Presto

#### Describe the problem you're observing:
1. Only simple geometry values are displayed on the map (like `POINT (0 0)`. But you cannot see on the map values like `POINT (0 768465993449770300000000000000000000000000000000000000000

[2021-01-29 08:05] LonwoLonwo commented on #11151
Hello @L-GROSS

We do not have a native speaker on our team, however, you can help us with translation:
https://github.com/dbeaver/dbeaver/wiki/Localization

Or you can specify here in this ticket functions with translation, and we will add it to the project.

[2021-01-29 08:07] kseniiaguzeeva commented on #10610
Cannot reproduce too.

[2021-01-29 08:07] #10610 closed

[2021-01-29 08:16] a123z opened #11154 "Wrong session info in Oracle."
Hi!
When I open sessions window(with inactive sessions) - I see sessions list.
If click to session, one by one, must be change information about selected session (sql, plan etc.)
But show no sql and wrong plan -
[code]

Info about each session must be get in other session(which get sessions list or other). It seems to me that its exec in selected session.
May be I do something wrong.
Thanks.

####

[2021-01-29 08:43] autumn-sun91 opened #11156 "Event Time Wrong"
I am currently using a MacBook Air m1, and I am trying to change the dbeaver event time, but the following appears
Please answer how I can set this part.
Additionally, when connecting, servertime is set to Asia/Seoul and servertimezone of driver properties is set to UTC.
**[Main > server time zone]**
![image](https://user-images.githubusercontent.com/33888004/106252101-31ad8980-6259-11eb-8d58-4113

[2021-01-29 08:44] #11156 closed, assigned to nobody

[2021-01-29 09:26] ShadelessFox commented on #11153
This problem is only related to MySQL because it has specific binary geometry format.

Probably we should allow user to configure geometry transformer to use this specific format.

[2021-01-29 09:35] ShadelessFox commented on #10660
Hello @nirco1983,

Can you please try downloading [early access version](https://dbeaver.io/files/ea/) to see if spatial viewer is available for geometry types?

Thank you in advance.

[2021-01-29 09:54] Axidi commented on #10906
Yes please,
Thanks for your help!

[2021-01-29 09:56] #10906 closed, assigned to nobody

[2021-01-29 10:52] uslss opened #11158 "Keywords are highlighted as hyperlinks in sql editor"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 7.3.4

#### Connection specification:
- Database name and version oracle
#### Describe the problem you're observing:
Keywords are highlighted as hyperlinks in sql editor
#### Steps to reproduce, if exist:
1. Write some query like `SELECT * FROM Table`
2. Hover cursor on some keyword and press Ctrl - Keyw

[2021-01-29 11:03] kseniiaguzeeva opened #11159 "Grouping panel works incorrectly"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 7.3.4 EA

#### Connection specification:
- Database name and version MySQL, PostgreSQL

#### Describe the problem you're observing:
PostgreSQL and MySQL do not display all column values when dnd it to the Grouping panel

#### Steps to reproduce, if exist:
Open table (e.g. language) and dnd any column to

[2021-01-29 11:35] uslss opened #11160 "Compile type isn't working in Global metadata - Types"
#### System information:
- Operating system (distribution) and version win 10 x64
- DBeaver version 7.3.4

#### Connection specification:
- Database name and version Oracle 12c

#### Describe the problem you're observing:
Compile type option triggers an error
#### Steps to reproduce, if exist:
1. Connect to oracle
2. Open Global metadata - Types
3. Choose some type - Choose Compile Type option in

[2021-01-29 11:40] uslss opened #11161 "Generated DDL is empty for Oracle data types"
#### System information:
- Operating system (distribution) and version win 10 x64
- DBeaver version 7.3.4

#### Connection specification:
- Database name and version Oracle 12c

#### Steps to reproduce, if exist:
1. Open Global Metadata - Types
2. Choose any type then choose Generate DDL in its context menu - popup with generated DDL is empty

![image](https://user-images.githubusercontent.com/319

[2021-01-29 11:42] serge-rider commented on #11159
It is not a bug. You enabled option "Show duplicates only" which hides all results with count<2.

[2021-01-29 11:42] #11159 closed, assigned to nobody

[2021-01-29 11:45] #9763 closed

[2021-01-29 11:56] uslss opened #11163 "Column cannot be created"
#### System information:
- Operating system (distribution) and version win10 x64
- DBeaver version 7.3.4

#### Connection specification:
- Database name and version oracle 12c

#### Describe the problem you're observing:
Error appears when trying to create column
![image](https://user-images.githubusercontent.com/31996417/106272419-16834f80-6242-11eb-8ea5-150fb3e58ea7.png)
[code]

[2021-01-29 12:13] kai-morich opened #11164 "prepared statement support"
for HANA can make a significant difference if a statement is executed directly
* `Statement.execute`

or prepared & executed
* `Connection.prepareStatement`
* `PreparedStatement.execute`

because in case of scale-out HANA systems the prepare answer contains the info, to which host the JDBC library should send the statement directly. This noticeably reduces network traffic for large input or result

[2021-01-29 13:28] pdanie commented on #10405
I have tried it in **DBeaver CE 7.3.2** and it stil a bug.

BUT... It shows up when you do a **JOIN**...

[code]

**1**) Stop typing after "My" for the second table and auto assistant kick in. (**OK**)
**2**) Stop typing after "M" for the alias for the **MyTable2** the auto assistant kicks in. (**ERR**)

Seems the code that decide if I should get auto assistant or not has logic that does not cover

[2021-01-29 13:41] pdanie opened #11165 "DBeaver: Disable Auto SQL Assistant/Completion for table aliases (part 2)"
DBeaver - Version **7.3.2 CE**
DBeaver driver: **MS SQL Server** / **Microsoft Driver** (the new Microsoft Driver)
Operating System: **Windows 7** / **Windows 8.1** / **Windows 10**
Database Server: **Microsoft SQL Express 2014, 2016, 2017**

**THIS IS A COPY OF ISSUE #10405**. But since I reported and answer on the issue too late (noticed your question first today) and now the issue is closed, I

[2021-01-29 14:11] serge-rider commented on #11163
Fixed

[2021-01-29 14:19] kseniiaguzeeva opened #11166 "PostgreSQL Script cannot be created via Task Panel"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 7.3.4 EA

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
1. Create a script file and save it somewhere
2. Create PostgreSQL Script task via database task panel

Expected: the task is created and can be executed without errors.
Actual result: erro

[2021-01-29 14:23] LonwoLonwo opened #11167 "Navigator tree contains too much objects in some dialogs"
DBeaver 7.3.3

In Schema Compare Wizard Navigator tree contains too much objects, not all of them are suitable for comparison, and should not be mentioned in the list of objects at all.

![2021-01-29 17_19_52-Schema Compare](https://user-images.githubusercontent.com/45152336/106286437-b5b24200-6256-11eb-9eef-de8e78a6d670.png)

[2021-01-29 14:44] LonwoLonwo commented on #10405
Yes, this is already a separate case.

[2021-01-29 14:48] LonwoLonwo commented on #11165
Ok, I understand the case that you point out. It is a little more difficult and we can no longer do it in this sprint. I put it in one future sprint.

[2021-01-29 23:46] mbelvadi2 opened #11172 "Sqlite update with "from" does not recognize the validity of rowid column"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 7.3.2
- Additional extensions -none

#### Connection specification:
- sqlite local file
- sqlite-jdbc-3.34.0.jar   SQLite JDBC driver by Taro L. Saito (extension of Zentus driver)
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing: on some update querie

[2021-01-30 09:32] serge-rider opened #11173 "SQL syntax highlight bug"
We don't support single quotes escape properly in case of `E` escape.

[code]
http://www.postgresql.org/docs/9.0/static/sql-syntax-lexical.html

Workaround: use double dollar escape (`select $$[xxx\']$$`)

[2021-01-30 10:04] sebthom commented on #10507
I upgraded dbeaver to 7.3.3 and still have the same issue. The .dbeaver file is created in all projects no matter the project nature.

Again, the problem appears the moment I install dbeaver, without having done any dbeaver or database related configurations.

@serge-rider is there anything else we can do to figure out the cause?

[2021-01-30 10:53] AlainBenbassat commented on #10098
The solution is to give DBeaver permission to access the ssh folder.

- Open the "Ubuntu Software" app
- click on the tab "Installed"
- click on "dbeaver-ce"

![db1](https://user-images.githubusercontent.com/16761652/106354306-2c038280-62f1-11eb-996f-459ed946a206.png)

- then click on the "Permissions button"

![db2](https://user-images.githubusercontent.com/16761652/106354330-5a815d80-62f1-11eb-9

[2021-01-30 15:29] bouyeijiang commented on #10807
When I expand the database link, it always shows loading.Especially for the slow response of the database, the query status occasionally appears when executing the query

[2021-01-30 19:10] EWingate7 commented on #10930
Also seeing this problem with 7.3.3. Had to revert back to 7.3.1

[2021-01-30 20:36] LonwoLonwo commented on #8539
@molok This is unusual. We don't have a default setting - to put in quotes the table names in "Copy as SQL".
No, only mostly for tables with different symbols or keywords. At first glance, MYTABLE should not appear in quotes.

![2021-01-30 23_31_27-DBeaver Enterprise 7 3 3 - _SNOWFLAKE_SAMPLE_DATA_ Script-78](https://user-images.githubusercontent.com/45152336/106367471-efb53e00-6353-11eb-9f3c-436b

[2021-01-31 05:08] kseniiaguzeeva commented on #11166
It should be done for default database

[2021-01-31 05:08] #11166 closed, assigned to nobody

[2021-01-31 14:23] #11163 closed, assigned to serge-rider

[2021-01-31 15:58] remoover opened #11177 "Add option to change Last Value in sequences"
Hello,

in sequences are not possible to change Last Value.. after import new manually data to an import we need use pgadmin to change value... OR ideally if on import will user select truncate.. AUTO change seq for last value.. so it will be working automatically :)... or manually  thanks !:)

[2021-01-31 16:34] readytheory commented on #10975
I can't reproduce it either, and I guess the problem would be in whatever serializer library writes the file, unless some process local to my workplace removed the quotes.  So will close.

[2021-01-31 16:34] #10975 closed, assigned to nobody

[2021-01-31 20:32] serge-rider commented on #10904
- *-nojdk-* package added for Linux.
- In Windows installer new checkbox "Include Java" was added

[2021-01-31 20:33] serge-rider commented on #10756
Probably fixed by #10904 .
If you use Kerberos configuration in the local Java configuration then you need to install DBeaver without bundled JDK.

[2021-02-01 00:16] manularaai commented on #9974
Hello, this is as bug when seeing DBeaver as a plugin. As a plugin it should not open projects that the user did not explicitly opened. This is not limited to DBeaver projects only, because a java project can also be a dbeaver project at the same time, thanks to the eclipse's project multiple natures/facets feature.

[2021-02-01 01:37] tsongas opened #11178 "Mac download broken"
On this page https://dbeaver.io/download/ when I click on Mac OS X (dmg) I get the following error:

[code]

I downloaded the zip file but when I unzipped it and tried dragging it into my Applications I got a warning saying the file is corrupt and should be deleted.

[2021-02-01 03:46] kgdpevj commented on #216
I solved this issue after I execute `xattr -cr /Applications/DBeaver.app` .
Good luck

[2021-02-01 07:06] kseniiaguzeeva commented on #10665
It is expected.

[2021-02-01 07:06] #10665 closed

[2021-02-01 07:08] serge-rider commented on #11178
Thank you for the bug report.
Something went wrong during release publishing.
Fixed.

[2021-02-01 07:17] kseniiaguzeeva commented on #11178
Verified

[2021-02-01 07:17] #11178 closed, assigned to nobody

[2021-02-01 07:33] kseniiaguzeeva commented on #10938
Thank you for the additional info. I can reproduce it now. Will be fixed in future releases.

[2021-02-01 07:54] roelandg commented on #11077
@kseniiaguzeeva  Any idea already? thanks

[2021-02-01 08:01] uslss commented on #10904
verified

[2021-02-01 08:01] #10904 closed, assigned to serge-rider, uslss

[2021-02-01 08:09] kseniiaguzeeva commented on #10967
I cannot run your example (an error appears in SQL syntax). Also I cannot reproduce it on some other examples I created myself.

Could you send some other query to reproduce?

[2021-02-01 08:17] kseniiaguzeeva commented on #10992
Sorry for the long responce. I cannot reproduce it. As I see the result returns according procedure DDL.
![dbeaver_0quWB7wXlS](https://user-images.githubusercontent.com/51405061/106431947-0c9a6000-647f-11eb-8199-b11bc952b455.png)

Can you give additional details to reproduce?

[2021-02-01 08:24] Kaennchen80 opened #11179 "Creation date / modification date of tables, views and packages"
Hallo,
can I see the creation / modification date of tables, views and packages somewhere? Best directly with the properties of the table or package, ... . Unfortunately, I haven't found it anywhere.
Best regards.

[2021-02-01 08:45] Bakrain opened #11180 "right to left languages"
#### System information:
- windows 10 pro 20H2
- 7.3.4
- java version "1.6.0_19"
- Additional extensions

#### Connection specification:
- Oracle 8i
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Any sql editor statement with right to left language like Arabic language can not write it with the correct order,
it appeares in reverse ord

[2021-02-01 08:56] LonwoLonwo commented on #10818
@vicreal Unfortunately, PostgreSQL is a kind of database that can have a lot of data types. Previously, we read them all for all schemes, but this led to a slowdown in processes.
Therefore, we began to load only the main list of types and load as needed.
As a workaround now - on initial, go to the public schema and open the "Data Types" tab. Then access to custom types will be in all schemes, in t

[2021-02-01 09:16] #10756 closed

[2021-02-01 09:20] kseniiaguzeeva commented on #9525
verified

[2021-02-01 09:20] #9525 closed

[2021-02-01 09:21] LonwoLonwo commented on #10818
And about point 3 and 4. We read data type information from pg_class.pg_type table. As I can see, rows for uint4, uint8 do not contain any hints that this custom type is numeric. For example, type "int8" has letter "N" in "typcategory", which tells us that he is numeric. But all custom types have letter "U" in this column.

Maybe you have any idea how to determine that a custom type is numeric?

[2021-02-01 09:22] uslss commented on #11180
thanks for the report.
duplicates #10911

[2021-02-01 09:29] kseniiaguzeeva commented on #10975
Nice to hear!

[2021-02-01 09:29] serge-rider commented on #9870
@heimankl Is this driver publicly available?
We will need to test connection configuration with it.

[2021-02-01 09:53] kseniiaguzeeva commented on #11046
Thank you. Will be fixed in #10768. Closed as duplicate.

[2021-02-01 09:53] #11046 closed, assigned to nobody

[2021-02-01 09:54] doubcrick commented on #10967
I write a new case for this.  I'm sorry for found an error in my old procedure. When I repair that error dbeaver is not recurrence of the previous problem .

think you.

I have a suggestion,When I use dbeaver copy table in same database, I want copy structure and data in once operation. navicat is good for this.

[2021-02-01 10:04] kseniiaguzeeva commented on #10967
You can do it in DBeaver too. Please use export to database (it allows to export tables with data to the same and other databases) https://github.com/dbeaver/dbeaver/wiki/Data-migration
![dbeaver_1XvE6ap3UO](https://user-images.githubusercontent.com/51405061/106443411-80436980-648d-11eb-9b6b-066a6be61029.png)

Ok, wait for a new script example to reproduce the issue with the procedure.

[2021-02-01 10:10] doubcrick commented on #10967
I do it like you says. I get a new table ,but this table lost annotation. Is my operation wrong?

[2021-02-01 11:19] #10891 closed, assigned to nobody

[2021-02-01 12:40] matthaus-dev commented on #988
awesome @brian-lamb-software-engineer , all that works!

[2021-02-01 13:05] heimankl commented on #9870
The driver is publicly available, however the data it has access to is per customer.
We have since found a way to pass in the credentials as a URL parameter.
I would be OK to review with you if needed.

[2021-02-01 13:14] apizz opened #11181 "7.3.4 release doesn't contain a *macos.dmg asset?"
Previous DBeaver releases included a .dmg file for macOS that was separate from the *macosx.cocoa.tar.gz asset.

We have some automation setup to auto download the macOS DMG asset when released, but since this asset doesn't exist in this release it failed.

Is there a reason this .dmg asset isn't included in this release?

[2021-02-01 13:29] vicreal commented on #10818
Apparently, by "_pg_class_" you meant "_pg_type_". Yes, in general (only on the basis of this table), the numeric category of the type cannot be determined, because the "typcategory" field is "U", and on the basis of other fields, the data type does not belong to numeric types.

I can offer the following options:
**1)** Binding to the type name: `"pg_type.typname" IN ('int1', 'uint1', 'uint2', 'ui

[2021-02-01 13:59] vicreal commented on #10818
Possible variants:
**1)** load all data types from all schemas once when loading DBeaver
**2)** add an option in the settings "load only basic types" or "load all types from all schemas" when loading DBeaver
**3)** load all data types from the current schema (if not already loaded) at the moment when a table field is creating or changing, as well as in other cases when you need to enter a data typ

[2021-02-01 14:19] Endogen commented on #11181
I'd also like to know - especially since i can't install the .tar.gz version. The website link exists: https://dbeaver.io/files/dbeaver-ce-latest-macos.dmg but there is nothing to be downloaded.

[2021-02-01 16:16] serge-rider commented on #10916
7.3.4 was published as PPA

[2021-02-01 16:32] schmitzkr commented on #10916
Thanks very much :)

[2021-02-01 19:20] adamsoltesz commented on #10896
Hi @kseniiaguzeeva ! It is "CET" and "en".

[2021-02-01 20:12] JOSUEGOHN01 opened #11183 "No permite editar en celdas o campos registros"
Al momento de realizar una modificación en un campo no lo actualiza en la base de datos y en ocasiones no muestra nada y en otras muestra un error.

#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describ

[2021-02-01 20:15] serge-rider commented on #11181
Duplicatre of #11178
Already fixed (download link was broken)

[2021-02-01 20:15] #11181 closed, assigned to nobody

[2021-02-01 20:26] apizz commented on #11181
While I'm glad the download link is working from the main website, the macOS DMG is still not a listed asset under this GitHub repo's latest release, which differs from past releases.

v7.3.3
![Screen Shot 2021-02-01 at 3 25 02 PM](https://user-images.githubusercontent.com/11789931/106514057-c1de0f80-64a1-11eb-9d78-c5a94cb88f26.png)

v7.3.4
![Screen Shot 2021-02-01 at 3 24 24 PM](https://user-imag

[2021-02-01 20:28] serge-rider commented on #11181
@apizz Yep. Forgot to update it on GitHub. Thanks for noticing.
Fixed too (https://github.com/dbeaver/dbeaver/releases/download/7.3.4/dbeaver-ce-7.3.4-macos.dmg)

[2021-02-01 20:41] apizz commented on #11181
TY for fixing!

[2021-02-01 21:54] artgoldberg commented on #9753
This was helpful to me as someone encountering a "The prepared statement has been finalized" error from SQLite.

[2021-02-02 06:35] zolthan commented on #10395
And still with 7.3.4

[code]
Updating to Big Sur 11.2 tonight. Maybe the issue changes...

[2021-02-02 06:36] zolthan commented on #10395
Can I help you to reproduce the problem? Am I the only one?

[2021-02-02 08:40] tinelion opened #11190 "Replace [x] to [√] or [ok] would be better"
![image](https://user-images.githubusercontent.com/22972600/106573752-fd95d980-6574-11eb-982d-86e06784eecd.png)

[2021-02-02 09:59] Boksh commented on #10564
Same error on 7.3.4 version. I try `call myProcedure(1,2,3,?);` Where ? is OUT REFCURSOR parameter.

[2021-02-02 11:00] kseniiaguzeeva commented on #11167
The new tree view is:
![Screenshot 2021-02-02 at 13 59 55](https://user-images.githubusercontent.com/51405061/106591139-f49a0d80-655e-11eb-8e3e-1302d03e9bf9.png)

[2021-02-02 11:00] #11167 closed, assigned to serge-rider, kseniiaguzeeva

[2021-02-02 11:01] serge-rider opened #11192 "SQL insert methods: lazy initialization"
We must load insert methods in lazy mode. Otherwise we trigger bundles activation on DBeaver startup (which is slow).

[2021-02-02 11:47] kseniiaguzeeva commented on #10564
Could you give a full script to reproduce?

[2021-02-02 12:11] Boksh commented on #10564
[code]

[2021-02-02 12:31] kseniiaguzeeva commented on #10507
1. Could you send a video with steps to reproduce?
2. Please also copy Eclipse configuration info (Eclipse>About eclipse>Installation details>Configuration)

[2021-02-02 12:31] kseniiaguzeeva commented on #10967
The feature is more about data transfer than about full migration.
If you want to dump and restore objects, you can use these functions for MySQL and PostgreSQL https://github.com/dbeaver/dbeaver/wiki/Backup-Restore.

Is the issue about progress bar still actual? Can you give an example?
If you have any other question, please create a new ticket here or in Discussions https://github.com/dbeaver/db

[2021-02-02 12:37] kseniiaguzeeva commented on #11183
Please tell me (in English) steps to reproduce, DBeaver version and the database.

[2021-02-02 12:49] kseniiaguzeeva commented on #11172
Thank you for the report.

(P.S. table `p_usage_2` is created to reproduce)

[2021-02-02 12:54] LonwoLonwo commented on #10818
oh, yes my mistake.  pg_class = pg_catalog

[2021-02-02 13:25] arielcarralbal commented on #10302
Is there anything else I can do to make this issue been solve? (some debug, more logging, etc)

As I said, many JTOpen AS400/DB2 drivers version were tested on different IDEs (Eclipse, Razor SQL, Squirrel) and schema names are shown correctly, but not in DBeaver.

[2021-02-02 13:47] ShadelessFox commented on #11179
Hello @Kaennchen80,

What database are you talking about? Not every database offer such information, so we can't retrieve it and display somewhere.

[2021-02-02 13:49] Kaennchen80 commented on #11179
Oracle

Von: Who cares [mailto:notifications@github.com]
Gesendet: Dienstag, 2. Februar 2021 14:48
An: dbeaver/dbeaver <dbeaver@noreply.github.com>
Cc: Grosse, Anne <a.grosse@ottoroth.de>; Mention <mention@noreply.github.com>
Betreff: Re: [dbeaver/dbeaver] Creation date / modification date of tables, views and packages (#11179)

Hello, @Kaennchen80<https://github.com/Kaennchen80>,

What database a

[2021-02-02 13:51] ShadelessFox commented on #11179
Thank you for insanely fast response!

Indeed, Oracle can provide such information. We can implement it in the future

[2021-02-02 13:58] ShadelessFox commented on #11027
Another issue: binary data is included as plain string, ignoring 'Binaries' option.

Moved to #11200

[2021-02-02 14:00] ShadelessFox commented on #11030
Actually this is happening only if `Copy to clipboard` is set.

[2021-02-02 15:12] teol commented on #1361
Same here. I can't even write the custom path myself, I need to select a folder that exists but it doesn't as the MySQL server is in a container...

[2021-02-02 16:33] FluffyRotkat opened #11194 "Wrong type of column returned if alias name is same as an existing fieldname."
#### System information:
- Linux
- DBeaver version: 7.3.4
- Additional extensions: no

#### Connection specification:
- Postgresql 13

#### Describe the problem you're observing:
If you use an alias with the same name as an existing column, it returns the type of the existing column and not of the referring column. In the following example the query returns a bool instead of varchar.

#### Steps t

[2021-02-02 20:05] ceinmart commented on #10987
Hi,
I just installed version 7.3.4 and tried to install the marketplace.
They still shows version 1.8.2 for the market client.

The error persists:
Is there something I should select different ?
What I do  :
help -> Install new software -> Work with all available sites -> search for market -> select it and try to install

[2021-02-02 20:14] ShadelessFox commented on #11173
A support for `E'a\'b\'c'` escaped string literals was added.

Also support for backslash escapes in regular string literals was added, but it requires `standard_conforming_strings` setting to be `off`. This is an uncommon case, but this can be achieved by executing following query and then reconnecting to the server:
[code]

As a bonus, now you can preview all server settings under `Database` ->

[2021-02-02 20:29] raphaelauv opened #11195 "ClickHouse : download driver fail"
#### System information:
- Operating system : 5.8.0-41-generic #46~20.04.1-Ubuntu
- DBeaver version : Version 7.3.4.202101311042
- Additional extensions

#### Describe the problem you're observing:

When I setup a connection to clickhouse-server ( docker )

[code]

Dbeaver ask to download driver and fail :

[code]

Thank you all :+1:

[2021-02-02 20:33] dangeReis opened #11196 "Database dropdown selection has no effect for Athena"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 7.3.4.202101311042
- Additional extensions: none

#### Connection specification:
- Database name and version: Athena
- Driver name: Simba
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
The selected database does not get set.  I think the fix woul

[2021-02-02 22:07] raphaelauv commented on #11195
![Screenshot from 2021-02-02 23-07-19](https://user-images.githubusercontent.com/10202690/106759325-ea494380-6632-11eb-8bbf-a206ac9cb1a0.png)

If I change the version of the driver to 0.2.4 it work

but 0.2.5 do not work

[2021-02-03 00:17] Endogen opened #11197 "MacBook Pro M1: Can't open DBeaver 7.3.4"
#### System information:
- Operating system (distribution) and version
macOS 11.1 on MacBook Pro M1

- DBeaver version
DBeaver 7.3.4

- Additional extensions
None

#### Connection specification:
- Database name and version
Not applicable

- Driver name
Not applicable

- Do you use tunnels or proxies (SSH, SOCKS, etc)?
Not applicable

#### Describe the problem you're observing:
DBeaver won't start

[2021-02-03 01:59] waskelton4 opened #11198 "Generate SQL - >DDL for procedures and functions will script out cached version, not what the actual definition is on the database"
#### System information:
- Windows 10
- DBeaver 7.3.4
- Additional extensions: none

#### Connection specification:
- Postgresql 13
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When scripting out Create statements for functions and procedures, if the function or procedure has been changed on the database si

[2021-02-03 06:17] kseniiaguzeeva commented on #11198
I can reproduce it when update the function via SQL Editor. You need to press Refresh to see the changes, like you do in step 2 for the created function.
As a workaround you can edit the function in the editor.
![dbeaver_nfV86VLsBE](https://user-images.githubusercontent.com/51405061/106706317-8efe5d80-6600-11eb-8a55-770eb758c2d3.png)

[2021-02-03 06:48] zolthan commented on #10395
Still on Big Sur 11.2
[code]

[2021-02-03 06:52] kseniiaguzeeva commented on #11194
Thank you for the report.

[2021-02-03 08:07] kseniiaguzeeva commented on #11190
Thank you for the suggestion. The similar commens are here https://github.com/dbeaver/dbeaver/issues/10645#issuecomment-759094851 and https://github.com/dbeaver/dbeaver/issues/9327#issuecomment-763500502

[2021-02-03 08:10] spassignat opened #11199 "Export Tasks as a Java application"
Tasks are great but they would be even better without graphical interaction to run them.

I would like to export tasks as a java application in an archive file containing jdbc driver, the main, potentially dbeaver runtime jar files and bat or sh shell. That enables to schedule this application in the operation system (linux widows, ...)

This would be a quick win compare to an ETL solution.

[2021-02-03 08:13] kseniiaguzeeva commented on #11164
Thank you for the suggestion.

[2021-02-03 08:26] kseniiaguzeeva commented on #11136
I see Maria dashboards in the latest version.
![dbeaver_CUYRPQtUOj](https://user-images.githubusercontent.com/51405061/106718776-8d3d9580-6612-11eb-890f-0609dd33c6a4.png)
Do you use preconfigured or custom dashboards? Is it possible to send dashboard settings, if it is a custom one?
Can you send steps to reproduce?

[2021-02-03 08:43] ShadelessFox commented on #11199
Hello @spassignat,

DBeaver can be launched in "headless" mode without any graphical interaction to perform different commands: https://github.com/dbeaver/dbeaver/wiki/Command-Line

DBeaver also has task scheduler on any supported platform, but this is an Enterprise feature:
https://github.com/dbeaver/dbeaver/wiki/Task-Scheduler

Let me know if you still have any questions.

[2021-02-03 09:00] kai-morich commented on #11190
👍

[2021-02-03 09:14] nullaegy commented on #11136
I've tried to completely uninstall the DBeaver, removed everything from AppData, and reinstalled it, I want to use only the default dashboard, but it's giving me the exact same error.

It's the default dashboard. A colleague is still running 7.1.1 with the proper working dashboard so I've tried to use that one, but the problem still exists for me. It seems the problem is on my end. I'll try to dis

[2021-02-03 09:14] #11136 closed, assigned to nobody

[2021-02-03 09:58] elring commented on #11113
Hi. Same issue here.
Pasting new data (with creating new records) worked in DBeaver 7.3.2. Now I got same error (db PostgreSQL, OS Ubuntu 20.04, DBeaver 7.3.3 & 7.3.4).

[2021-02-03 09:58] #7401 closed

[2021-02-03 10:02] ShadelessFox commented on #7401
Implemented in #11027

[2021-02-03 10:04] ShadelessFox opened #11200 "TXT Exporter: Binary data is included as plain text"
TXT exporter ignores 'Binaries' option and inlines binary data as plain string, losing add non-displayable bytes.

[2021-02-03 10:08] serge-rider commented on #11113
Probably will be fixed in #11171

[2021-02-03 10:09] ShadelessFox commented on #11027
Changelog:
1. Max column length now controls max "fittable" data into column, not the column width itself
2. Added 'in-between separator' option to remove/add separators between columns

[2021-02-03 10:58] SamFrost85 opened #11201 ""Can't navigate" error show up when reference panel is open after query execution"
#### System information:
- Operating system (distribution) and version: Ubuntu 18.04.5 LTS
- DBeaver version: 7.3 (but I had this issues in past versions of DBeaver)
- Java version : 11
- Additional extensions

#### Connection specification:
- Database name and version: Oracle Database 18c
- Driver name: oracle jdbc 12.2.0.1
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the

[2021-02-03 11:02] Sargul opened #11202 "Exasol: Refresh of rights of roles does not work"
#### System information:
- Operating system (distribution) and version  -> Windows
- DBeaver version -> all versions
- Additional extensions -> none

#### Connection specification:
- Database name and version -> Exasol
- Driver name -> 7.0.4
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  -> No

#### Describe the problem you're observing:
Refresh of role and user grants does not work and after

[2021-02-03 11:04] kolykhalov opened #11203 "SQL Error [XX000]: ERROR: ClickHouse does not support deletes"
#### Describe the problem you're observing:

SQL Error [XX000]: ERROR: ClickHouse does not support deletes

#### Steps to reproduce, if exist:

query: delete from [clickhouse_fdw] where [expr]

#### Solution

Clickhouse supports deletes as "Alter table [table] delete where [expr]"

Please update

[2021-02-03 11:51] reklatsmasters opened #11205 "Broken selection in SQL Editor"
#### System information:
- Ubuntu 16.04 LTS
- DBeaver version 7.3.4.202102011519
- Additional extensions NO

#### Describe the problem you're observing:

![ezgif-6-36870404b9c2](https://user-images.githubusercontent.com/2255752/106743160-d22bf100-663f-11eb-8e43-eba804b14f7d.gif)

#### Steps to reproduce, if exist:
I just want to copy-paste a part of sql.

[2021-02-03 11:57] serge-rider opened #11206 "SQL Editor: do not show empty results tab on editor open"
It just doesn't make much sense.

[2021-02-03 11:58] serge-rider commented on #11206
Done

[2021-02-03 12:10] spassignat opened #11207 "Run task Folder"
I have a task list grouped in a folder, to run them, I need to run them one by one. Could it be possible to add the run action on the folder ?

[2021-02-03 12:17] flambchap commented on #10573
Implemented.

[2021-02-03 12:21] kseniiaguzeeva commented on #11173
- E escape is verified
- server settings are verified in all available PG forks where folder **system info** exists

[2021-02-03 12:26] SergioSuarezGil opened #11208 "Output Tab (disable auto open)"
#### System information:
- System: MacOS 11.2
-  DBeaver 7.3.4
- Java 8
- MySQL 5.6 DB

It is possible disable auto open output tab? Or move to another tab?

<img width="1155" alt="Captura de pantalla 2021-02-03 a las 12 45 30" src="https://user-images.githubusercontent.com/3636232/106742983-10181d80-661e-11eb-890a-cafd0c25cb91.png">

[2021-02-03 12:33] #11208 closed, assigned to nobody

[2021-02-03 12:40] mkgrgis commented on #8506
In my tests 7.3.4 has saved z and centre of map between different layers, but **not between different providers**, where the map parameters always set for focused object from GISs data.
![изображение](https://user-images.githubusercontent.com/41448637/106749420-89703a00-6637-11eb-9c90-3dd804b7a7ff.png)
I'm waiting on behaviour with layer's management system, was added some day ago.

[2021-02-03 13:07] mkgrgis commented on #8506
Note, most of providers of map tiles is EPSG:3857 providers. So a provider must have a name of projection. Dbeaver mustn't to allow change projection for a provider for map (not for provider's metadata).
Correct
![изображение](https://user-images.githubusercontent.com/41448637/106751046-bc1b3200-6639-11eb-991a-967dbc089b3f.png)
Error if other projection for the map with the object
![изображение](h

[2021-02-03 13:09] serge-rider commented on #10818
Perhaps related to #6110

[2021-02-03 13:47] chanansh opened #11211 "default schema in Athena is ignored"
#### System information:
- Operating system (distribution) and version - MacOS 11.2
- DBeaver version -  7.3.4.202101310933
- Additional extensions -

#### Connection specification:
- Database name and version AWS Athena
- Driver name -  Athena 4.2 JDBC
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NO

#### Describe the problem you're observing:
Selecting a default schema via right-click "set

[2021-02-03 13:51] Patrick12589 opened #11212 "Opening scripts uses previous db connection"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
So I deployed 5 scripts to out UAT/PAT environment
When I try & to deploy them to live it remembers the old connectio

[2021-02-03 13:57] Patrick12589 commented on #11212
is the answer auto-sync connection with navigator? - testing what this does - can't find any documentation on what this does
but it seems to fix the issue

[2021-02-03 14:13] serge-rider commented on #11077
It happens only in jTDS driver. Schema is optional there, we must fix it.

[2021-02-03 14:34] spassignat opened #11213 "Use variable in export path"
I need to export data from several csv files using the select which only differs in their where clause by a value. For this, I uses a variable and have one task per organisation.
ex: SELECT * FROM CLIENT WHERE ORG='${organisation}'

I would like to export the files in a structure like this ~/Client/${organisation}/AllClient-${timestamp}.CSV

[2021-02-03 14:41] spassignat opened #11214 "Add tasks group and Run groups"
Actually it's possible to group the task by project, category, ... could it be possible to group them by a more functional dimension ? Then when tasks are grouped, could it be possible to run all the tasks of a group at once ?

An idea would be to add keywords to tasks and then offer to group by theses keywords. Using variable values could be used but this may become crazy when you have a lot of v

[2021-02-03 14:43] reya276 opened #11215 "Database Import Error"
Running DBeaver Enterprise Version 7.0
OS = Ubuntu 20.04LTS
16GB of RAM

For some weird reason I'm getting this error which have never seen before.

Maximum resident set size 482652, Integral resident set size 0
Non-physical pagefaults 419, Physical pagefaults 0, Swaps 0
Blocks in 0 out 0, Messages in 0 out 0, Signals 0
Voluntary context switches 2, Involuntary context switches 0
Task 'MySQL scrip

[2021-02-03 14:46] waskelton4 commented on #11198
I have the same outcome when using the editor (Right click -> view function -> Source)  The DDL is still not current without the refresh.

Thanks for your help!

[2021-02-03 14:59] spassignat commented on #11199
That's an interesting work around. Need to give a deeper look at the EE edition.

Thanks

[2021-02-03 15:02] ShadelessFox commented on #11199
I will close this issue for now.

[2021-02-03 15:02] #11199 closed, assigned to nobody

[2021-02-03 15:50] akos2 opened #11216 "Array types are removed from tree - PostgreSQL"
#### System information:
- Linux (ANY)
- DBeaver version 7.3.4.202101311042

#### Connection specification:
- PostgreSQL 13.1
- JDBC Driver 42.2.18

#### Describe the problem you're observing:
Tree cleanup introduced in latest build (remove ob Array types) made hard to work with UDT declared as ARRAY. It is now impossible to find domain if it is an array. It is uncomfortable.
#### Steps to reprodu

[2021-02-03 15:52] merlyn383 opened #11217 "DBeaver hanging"
#### System information:
- Operating system (distribution) and version macOS, currently 10.15.7 (19H512)
- DBeaver version EE 7.3.0.202012061950
- Additional extensions

#### Connection specification:
- Database name and version Oracle 19c, 19.0.0.0.0
- Driver name Oracle JDBC driver 12.2.0.1.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
For t

[2021-02-03 18:01] ShadelessFox commented on #11214
Hello @spassignat,

Yes, you _can_ group several tasks together to execute them at once, but this feature is available only in Enterprise Edition:
https://github.com/dbeaver/dbeaver/wiki/Composite-Tasks

I like your suggestion about keywords.

[2021-02-03 21:14] kamilkiljan commented on #10353
Problem still occurs for DBeaver 7.3.4 + PostgreSQL 11.5 + Linux MATE 1.16.2  when trying to delete row with column having custom data type or updating value in the column (also occurred for DBeaver 7.3.2 which I used previously).

[2021-02-04 00:59] manijang2 commented on #1988
@ducciopiovani  Thank you very much.. I am solved

[2021-02-04 02:25] qiqingli opened #11218 "Jobs of the Oracle database are not shown"
#### System information:
- Operating system (distribution) and version：macOS Big Sur 11.2
- DBeaver version：7.3.4

#### Connection specification:
- Database name and version：Oralce 12c

#### Describe the problem you're observing:
Dbeaver failed to display the Jobs under the database user, but it can be displayed normally with other tools.

#### Steps to reproduce, if exist:
1、Other tools can displ

[2021-02-04 02:33] dcedjiayi commented on #11197
Hey there, I am using M1 MacBook Air on Big Sur 11.2. I am able to run DBeaver 7.3.4 through Rosetta 2. I was able to install and run the program yesterday. However, I could not open the program this morning and it just gave me an error of '5'. I uninstalled and reinstalled the program again and it worked.
I hope I would not need to do this everyday when I want to use it. Hopefully it will be port

[2021-02-04 03:39] frozenfield opened #11219 "The driver could not establish a secure connection to SQL Server by using Secure Sockets Layer (SSL) encryption."
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-02-04 03:39] #11219 closed, assigned to nobody

[2021-02-04 03:40] ADataGMan opened #11220 "Expand star * into all columns list"
#### System information:
- OS - Windows 10 1903
- Version - 7.34

#### Describe the problem you're observing:
I stumbled into a way to auto expand a * into a full column list and I'm unable to figure out how to do it again. I've found the documentation for SQL Assist but this does not describe what I previously did. I believe I had found it under a right click option in the SQL editor window. This

[2021-02-04 07:33] LonwoLonwo commented on #11220
@ADataGMan press Ctrl+Space after asterisk in query like "SELECT * FROM tableName" or like "INSERT INTO tableName (*)" (brackets are important)  - the asterisk will be replaced with a list of all table columns.
I have updated the documentation, thanks

It works?

[2021-02-04 07:42] ADataGMan commented on #11220
That gives me a list like the documentation, but I have a thousand plus
column table, how do I get all column names at once? I swear I had clicked
on an expand names function before.

On Thu, Feb 4, 2021, 2:33 AM Anastasiya <notifications@github.com> wrote:

[2021-02-04 07:46] LonwoLonwo commented on #11220
@ADataGMan What does the query look like in which the list is not replaced? Do you press Ctrl+Space after the asterisk?

[2021-02-04 07:47] Endogen commented on #11197
That depends heavily on Eclipse and when it will support Apples M1. I was able starting the older version via Rosetta 2 but 7.3.4 just gives me that error. I instaled it over brew but should not be an issue since the last version also was installed over brew and ran nicely.

[2021-02-04 08:48] #9748 closed

[2021-02-04 09:08] mikkk3l opened #11221 "When executing 2 queries in parallel, first does not print results until the second query finishes"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 7.3.4
- Additional extensions

#### Connection specification:
- Database name and version Oracle Exadata
- Driver name ojdbc8.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When I execute multiple long queries, they are executed sequentially. T

[2021-02-04 09:11] mikkk3l commented on #11221
I attach an image:
![imagen](https://user-images.githubusercontent.com/15341836/106870379-57131b00-66d1-11eb-815c-9a14bfdf6fba.png)

[2021-02-04 11:14] LonwoLonwo commented on #10353
@kamilkiljan Can you provide example of custom type?

Probably, like workaround, after connecting to the database, you can go to the "public" schema and open the "Data Types" tab. Should help with caching custom data types.

[2021-02-04 11:29] Nisgrak opened #11222 "Allow Enterprise to use minor updates"
**Is your feature request related to a problem? Please describe.**
The Community edition(7.3.4) has minor updates with QoL changes much more frecuent than Enterprise edition(7.3.0).

**Describe the solution you'd like**
No need to wait 3 months between minor version.

**Describe alternatives you've considered**
Use the Early Access, but I want tested changes not experimental ones, only follow the

[2021-02-04 11:48] ffbh123456 opened #11223 "Modify the mysql index type on the user interface"
I am editing a MySQL table. I want to change the index type from BTree to Hash, but it seems that it cannot be modified on the interface, please add this function
![image](https://user-images.githubusercontent.com/20750357/106888513-9f5a2980-6721-11eb-8243-cc9df07d3aed.png)

[2021-02-04 11:53] kseniiaguzeeva commented on #11206
verified

[2021-02-04 11:53] #11206 closed, assigned to serge-rider, kseniiaguzeeva

[2021-02-04 13:50] zverev-iv commented on #11195
Same problem for me today.

[2021-02-04 14:03] hennie7863 opened #11227 "Projects pane doesn't refresh switching between branches (Git support)"
Hi There,

Question. I've installed the gitsupport add in (may be it's a bug of gitsupport add in) and when I switch between the branches in the Git repositories pane, the files do not change in the Projects pane. Is this a bug or am i doing somethnig wrong? Or is this by design?

It's a bit annoying that when I switch between branches and the files are not updated, errors appear when the file is

[2021-02-04 14:30] andy-clapham opened #11229 "Import from csv cannot configure columns varying by case only."
#### System information:
- OS Win10,
- DBeaver Version 7.3.4.202101311042

#### Connection specification:
- Postgres 12.5 Azure flexible server
- PostgreSQL standard driver postgres-jdbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:
I'm attempting to create a csv import to an existing table with matching fields.
There are two columns in the tar

[2021-02-04 14:51] thebruuu commented on #10477
Issue on windows concerns dbevar-cli too
I tried to to run a task from command line .. .but no way to make it work:
c:\XXXXX>dbeaver-cli.exe  -runTask "TASK_NAME" -nosplash

2021-02-04 15:43:05.998 - Error parsing command line: Unrecognized option: -runTask

[2021-02-04 14:58] uslss commented on #11229
thanks for the report

[2021-02-04 15:03] uslss commented on #11216
thanks for the report

[2021-02-04 15:04] uslss commented on #11213
thanks for the suggestion

[2021-02-04 15:09] uslss commented on #11212
Auto-sync connection with navigator option automatically sets database that is chosen in DB navigator as a default for the current connection in SQL editor.
![image](https://user-images.githubusercontent.com/31996417/106912261-e93c1300-6713-11eb-9a38-1ba2aea6a447.png)

[2021-02-04 15:09] #11212 closed, assigned to nobody

[2021-02-04 15:15] uslss commented on #11211
thanks for the report

[2021-02-04 15:18] uslss commented on #11205
hi @reklatsmasters ,
could you clarify what is wrong?
does the issue happens on double-click or any other steps are needed?
thanks in advance

[2021-02-04 15:20] uslss commented on #11203
thanks for the report

duplicates #10718

[2021-02-04 15:20] #11203 closed, assigned to nobody

[2021-02-04 15:21] uslss commented on #11211
duplicates #11196

[2021-02-04 15:21] #11211 closed, assigned to nobody

[2021-02-04 15:24] uslss commented on #11195
thanks for the report
![image](https://user-images.githubusercontent.com/31996417/106914622-420cab00-6716-11eb-814f-8d13ffbacc58.png)
![image](https://user-images.githubusercontent.com/31996417/106914734-5b155c00-6716-11eb-9b27-5775afaf2ef9.png)

[2021-02-04 15:28] uslss commented on #11177
thanks for the suggestion

[2021-02-04 15:29] reklatsmasters commented on #11205
No additional steps are need. I just open dbeaver and this happens when a trying to select something.

[2021-02-04 15:32] uslss commented on #7589
there is no update on issue.
if it is still actual for you - feel free to reopen it

[2021-02-04 15:32] #7589 closed

[2021-02-04 15:32] uslss commented on #10454
there is no update on issue for a long time.
if it is still actual for you - feel free to reopen it

[2021-02-04 15:32] #10454 closed

[2021-02-04 15:33] uslss commented on #10766
there is no update on issue for a long time.
if it is still actual for you - feel free to reopen it

[2021-02-04 15:33] #10766 closed

[2021-02-04 15:35] uslss commented on #10825
there is no update on issue for a long time.
if it is still actual for you - feel free to reopen it with an additional info

[2021-02-04 15:35] #10825 closed, assigned to nobody

[2021-02-04 15:40] uslss commented on #10804
sorry for the late response.
@typo3ua do you mean the possibility to view and edit JSON documents as a usual table? Did I understand you correctly?

Btw, JSON view is available for non-SQL databases only (EE version). Values of JSON-like cells could be changed both in CE and EE versions.

[2021-02-04 15:44] uslss commented on #10826
there is no update on the issue for a long time.
if it is still actual for you - feel free to reopen it with an additional info

[2021-02-04 15:50] uslss commented on #10917
there is no update on the issue for a long time.
if it is still actual for you - feel free to reopen it with an additional info

[2021-02-04 15:50] #10917 closed, assigned to nobody

[2021-02-04 15:53] serge-rider commented on #11195
It is a bug in Maven artifact version resolution. That's quite an unusual artifact definition.

[2021-02-04 15:56] serge-rider commented on #11195
Fixed

[2021-02-04 15:57] serge-rider commented on #9148
Fixed by #11195

[2021-02-04 15:59] serge-rider commented on #9309
Moved to 0.2.6

[2021-02-04 16:16] uslss commented on #10690
probably fixed with #11110

[2021-02-04 16:16] #10690 closed

[2021-02-04 16:24] uslss commented on #7683
@krsbalu is it still actual for you?

[2021-02-04 16:27] uslss commented on #8430
still reproducible against 7.3.4

[2021-02-04 16:30] uslss commented on #8967
cannot reproduce against 7.3.4

[2021-02-04 16:30] #8967 closed

[2021-02-04 16:31] uslss commented on #8826
cannot reproduce against 7.3.4

[2021-02-04 16:31] #8826 closed

[2021-02-04 16:36] uslss commented on #7673
not reproducible against 7.3.4

[2021-02-04 16:36] #7673 closed

[2021-02-04 16:42] uslss commented on #11201
Hi @SamFrost85 ,
can you provide tables ddl?

[2021-02-04 16:47] #2780 closed

[2021-02-04 16:48] #7592 closed

[2021-02-04 17:02] KevinWellsMLC opened #11233 "Snowfake DB Connection – Search Path"
System information:
Windows 2012 R2
DBeaver 7.2.4

Connection specification:
Database: Snowflake  5.3.0

I'm connecting to a Snowflake data base.

In the connection settings I have set the Schema:   MLC_EDW_CUST    ( my 1st schema of choice ).    However;  I also want to a include a 2nd level choice ( MLC_P0141 ) so I don't have to qualify my query's with <database_name>.<schema_name>.<object_name

[2021-02-04 19:37] kseniiaguzeeva commented on #11113
verified

[2021-02-04 19:37] #11113 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-02-04 21:03] da- commented on #8303
+1 this is a dangerous situation; I've had to apologize to our production team because my "Idle in transaction" process stalled a nightly import operation.

Ironically, because I wanted the protection of manually committing update transactions.

I like @michalk-k 's suggestions for fixes. And this is exactly correct: "The user cannot expect to commit something which is not opened by him."

How abo

[2021-02-04 22:30] kevinchou-pge commented on #2944
Holy Cow! You right click and select auto-format! I can't believe I just found how to do it in 2021.

[2021-02-04 22:50] duncankinnear commented on #10766
Sorry, I have been very busy and I hadn't got back to this issue.
The 'Edit connection' dialog on the version of DBeaver that I am running (Version 7.1.1.202006281720) does not have the same fields that you are talking about:
![image](https://user-images.githubusercontent.com/58455447/106965335-54372980-67a8-11eb-8bfb-c5ddf522786f.png)

Also, I have tried setting the maximum fraction digits to bot

[2021-02-04 23:02] LonwoLonwo commented on #10937
"SHOW CREATE EVENT" can be used.

[2021-02-04 23:22] sdavic commented on #10930
still have same issue with version 7.3.4

[2021-02-04 23:44] LonwoLonwo commented on #11081
https://mariadb.com/kb/en/create-sequence/
https://mariadb.com/kb/en/sequence-overview/

[2021-02-05 00:04] typo3ua commented on #10804
Yes, possibility to view and edit JSON documents as a usual table... is it possible? .. I do not know how is it do it in the CE

[2021-02-05 05:14] g24swint commented on #8989
I tried the remote system explorer link but it only provides half the functionality. It seems like it only allows you to edit files, and something in the way the perspectives work keep you from being able to also execute the SQL.

Since I'm an analyst, I'd really like to host all my code (python and SQL) remotely and run and save edited files there.  So, while this allows me to EDIT the remote fil

[2021-02-05 06:08] emretuna01 commented on #10886
we tried to working "Link Folder"  to share ER Diagram but when my colleagues connected the "Link Folder"  they saw white screen

Someone had faced a similar situation here  https://github.com/dbeaver/dbeaver/issues/2440

![image](https://user-images.githubusercontent.com/42046428/106996255-af115680-6791-11eb-95f5-be02c72a333b.png)

[2021-02-05 06:18] mkgrgis opened #11236 "Lost comments for a view and a columns of view in Oracle"
#### System information:
- Operating system (distribution) and version
Ubuntu 20
- DBeaver version
7.3.4 (the latest)
- Additional extensions
No

#### Connection specification:
- Database name and version
Oracle 10i
- Driver name
standard, from standard download dialogue
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
No
#### Describe the problem you're observing:
Deleting of comments for view

[2021-02-05 06:38] kseniiaguzeeva commented on #10302
Yes, please send also logs https://github.com/dbeaver/dbeaver/wiki/Log-files. They should help us to find a reason.

[2021-02-05 06:53] kseniiaguzeeva commented on #11095
It happens, because **copy** option (which includes Excel export button) has default settings now and **open new connection** is used by default. We should add possibility to customize **copy** as we do for data transfer.

As a workaround while you can use export in XLSX https://github.com/dbeaver/dbeaver/wiki/Extension-Office with disabled **open new connection**
![dbeaver_aOP09FHnd9](https://use

[2021-02-05 07:16] kseniiaguzeeva commented on #11030
Verified

[2021-02-05 07:16] #11030 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-02-05 08:38] uslss commented on #11195
verified

[2021-02-05 08:38] #11195 closed, assigned to serge-rider, uslss

[2021-02-05 08:39] uslss commented on #9148
verified

[2021-02-05 08:39] #9148 closed

[2021-02-05 09:27] mbaudouin commented on #11077
thanks !

[2021-02-05 09:27] #11077 closed, assigned to serge-rider

[2021-02-05 09:38] roelandg commented on #11077
Also thanks from my side!

[2021-02-05 09:42] uslss commented on #11027
column headers become unreadable in case of disabling in-between separator
![image](https://user-images.githubusercontent.com/31996417/107016880-8304ce00-67af-11eb-86b7-42570bd223f2.png)

[2021-02-05 10:46] flambchap commented on #11118
Implemented.

[2021-02-05 11:02] ShadelessFox commented on #10582
This is an intended behavior for all databases, so I'll close this issue.

[2021-02-05 11:02] #10582 closed

[2021-02-05 11:07] ShadelessFox opened #11239 "SQLite: Group multiple column removal actions into one"
We should group these actions into just one, because table creation/deletion is expensive. Just imagine deleting multiple columns!

Related to #9482

[2021-02-05 11:57] SamFrost85 commented on #11201
@uslss , I created a new test schema with just two tables:

`CREATE TABLE "TEST"."ACCOUNT"
   (	"ACC_ID" NUMBER(10,0) NOT NULL ENABLE,
	"ACC_NAME" VARCHAR2(50) NOT NULL ENABLE,
	"ACC_CODE" VARCHAR2(50),
	 CONSTRAINT "ACCOUNT_PK" PRIMARY KEY ("ACC_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINC

[2021-02-05 12:02] JamesInform commented on #11095
This doesn't work on PostgreSQL.

Please repeat the following steps to reproduce the issue on a PostgreSQL database:

[code]

[2021-02-05 13:40] kseniiaguzeeva commented on #11074
Enterprise Edition http://dbeaver.com allows you to do it.
You have to open separate DBeaver instanses (with different workspaces) if you use Community Edition.

[2021-02-05 13:40] #11074 closed, assigned to nobody

[2021-02-05 13:49] kseniiaguzeeva commented on #11078
Have you tried to use **export from query** option? It should cover your needs. The steps are following:
1. An SQL file exists which can be edited by team members
2. import it to SQL Editor
3. select execute>export from query in SQL Editor context menu
![dbeaver_O3Kkkwt1cr](https://user-images.githubusercontent.com/51405061/107041803-fe777700-67d1-11eb-97c8-4d225012f40e.png)

[2021-02-05 13:51] kseniiaguzeeva commented on #11083
Also I need a sample of driver configuration.

[2021-02-05 13:55] kseniiaguzeeva commented on #11085
Most possible your ERD is quite big. We do not have an opportunity to save such objects in png. As a workaround please use SVG https://github.com/dbeaver/dbeaver/wiki/Extension-SVG-Format or GraphML format.

[2021-02-05 13:59] kseniiaguzeeva commented on #11086
Please write steps to reproduce how have you received it and send logs https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-02-05 14:02] kseniiaguzeeva commented on #11096
Thank you for the suggestion. As a workaround you can add drivers manually from local repository.

[2021-02-05 14:03] kseniiaguzeeva commented on #11097
Thank you for the bug report.

[2021-02-05 14:06] kseniiaguzeeva commented on #11098
Please try to use Auto-commit https://github.com/dbeaver/dbeaver/wiki/Auto-and-Manual-Commit-Modes.  If it doesn't help, write steps to reproduce.

[2021-02-05 14:07] kseniiaguzeeva commented on #11102
Thank you for the suggestion.

[2021-02-05 14:08] kseniiaguzeeva commented on #11106
Thank you for the suggestion. The feature will be added.

[2021-02-05 14:40] novecentonove commented on #7597
Same issue.
I'm using Ubuntu 20.10, just close Dbweaver and reopen it, problem solved

[2021-02-05 17:10] spassignat commented on #11078
That's a nice feature but that's not a task.

[2021-02-05 18:42] p91paul commented on #8989
On linux, sshfs would be an easy alternative, it allows you to mount a remote fs the same way you would mount an external usb disk. Possibly something similar exists for other OSes as well, and with this method not only Dbeaver but any application will be able to remotely edit files.

[2021-02-05 19:09] p91paul commented on #11078
Actually, at the end of the export wizard you are offered to save that export as a task

[2021-02-05 23:19] ADataGMan commented on #11220
@LonwoLonwo when I press ctrl+space on select tb.* from tb, I get a list of all of the fields I can choose from, but I have to select one to autocomplete it in 7.3.4. This is querying a Redshift view created WITH NO SCHEMA BINDING on version 1.0.22169

If I review the active hotkeys list, when I see Ctrl+Space, it says it is the Content Assist hotkey.

[2021-02-06 04:21] dckc commented on #4738
I found it by way of the **good first issue** label. Would you please clarify whether you think it _is_ a good first issue?

[2021-02-06 09:13] AntonTrapp opened #11242 "Starting DBeaver leads to error because of a offline DB connection that DBeaver tries to auto-connect at startup"
#### System information:
- Windows 10 20H2 (build 19042.746)
- 7.3.4.2002101311042

#### Connection specification:
- Postgres 13
- PostgreSQL JDBC Driver
- no

#### Describe the problem you're observing:
Opening DBeaver it always tries to connect to one database that is offline. This feature can not be turned off.

Turning off SQL Editor in the generic settings (from my search even though no edito

[2021-02-06 09:57] p91paul commented on #4738
A suggestion: I suppose it might be quite easy to implement this as a command line parameter. Just like now you allow to execute tasks (which are very similar in nature to a sql script).
Of course running tasks from the command line is a EE feature, so if a similar implementation is chosen, there goes the "thank you for keeping it free" :smiley:.

[2021-02-06 11:12] Lemmynjash commented on #7976
Was this issue solved?

[2021-02-06 16:51] vllama commented on #11083
I am seeing the Exact same issue on windows with the denodo jdbc driver. The class is not saved.
and I sometimes get a random Nullpointer exception as I move through the driver dialogs.
Version 7.3.4.202101311042

[2021-02-06 17:03] serge-rider commented on #11083
I can't reproduce this as well.
Did you follow the instruction (https://github.com/dbeaver/dbeaver/wiki/Database-drivers)?

You need to change Class Name field (not just click on Find  Class button).
![image](https://user-images.githubusercontent.com/6398845/107124637-20e2c080-68b6-11eb-88b4-d47391e5d172.png)

[2021-02-06 18:06] vllama commented on #11083
I can confirm that picking a driver from find class does populate the Class Name at the top of the dialog. The bottom Driver Class dropdown is empty after re-opening the edit driver catalog.
Even though, the error still persists:
No suitable driver found for jdbc:vdb://denodo:9996/bi_analytics

[2021-02-06 18:07] serge-rider commented on #11083
@kseniiaguzeeva seems to be macos-specific

[2021-02-06 19:29] surpavan commented on #4738
I am only asking to provide a right click file within dbeaver ide and run script, without opening the sql script editing window. I don't think it will clash with EE version.
Clarifying: I am not asking for commandline args, I am only asking a right click within the Dbeaver IDE.

[2021-02-06 20:43] masoodaslami commented on #10461
I am facing the same error in version 7.3.4

<img width="1437" alt="Screen Shot 2021-02-07 at 01 10 43" src="https://user-images.githubusercontent.com/24816479/107129225-87310880-68e1-11eb-8000-7c4eaf759733.png">

[2021-02-07 03:23] I33Buckler opened #11246 "SSH Tunnel fail when running VPN"
#### System information:
- Debian 5.9.15-1~bpo10+1 (2020-12-31) x86_64 GNU/Linux
- DBeaver version 7.3.4.202101311042

#### Connection specification:
- Postgresql 11
- SSH tunneling
-
#### Describe the problem you're observing:
When running NordVPN I am unable to connect to the Postgresql with DBeaver.

#### Steps to reproduce, if exist:
Note the following when connecting directly to the database

[2021-02-07 15:46] raiaman15 commented on #7521
Using .deb based installation and everything works perfectly (the specific issue for me was setting local client, required to perform the backup operation).

[2021-02-07 17:39] mersa-does-crack opened #11247 "Cannot connect to SQL Anywhere 5.0"
Unable to connect to SQL Anywhere 5.0.

I didn’t want to open a trouble ticket for this, but your support page took me here. Please help! Thanks!

[2021-02-07 17:42] #11247 closed, assigned to nobody

[2021-02-07 18:16] LonwoLonwo commented on #11081
Implemented in DBeaver 7.3.5

[2021-02-07 18:38] LonwoLonwo commented on #11220
@ADataGMan The standard behavior for an assistant after the table name (or alias) and dot is to suggest a list of columns.
And the replacement works if there is nothing in front of the asterisk (a space). In the case of SELECT.
`select *(ctrl+space) from tb`

[2021-02-07 22:36] LonwoLonwo commented on #8501
duplicate of https://github.com/dbeaver/dbeaver/issues/9372

[2021-02-07 22:36] #8501 closed

[2021-02-08 04:45] linehammer commented on #10360
If you having multiple Java versions installed on your system, then this can be happen. You can solve this by change the maximum memory allowed for the eclipse process (which is run in a [Java Virtual Machine](http://net-informations.com/java/intro/jvm.htm)). Open eclipse.ini (which is in the same directory as eclipse.exe)  in  Notepad or any other text-editor application, Find the line -Xmx256m (

[2021-02-08 07:47] LonwoLonwo commented on #9406
Error appears also with another [OID data types](https://postgrespro.com/docs/postgrespro/13/datatype-oid).

[2021-02-08 08:02] LonwoLonwo opened #11254 "[PostgreSQL] Incorrect generate INSERT statement for OID data types."
- DBeaver 7.3.4
- PostgreSQL 11.6
-
![2021-02-08 10_59_29-Preview changes](https://user-images.githubusercontent.com/45152336/107191408-2991de80-69fd-11eb-8482-b53d48ee2030.png)

Incorrect SQL generated for all OID types - https://postgrespro.com/docs/postgrespro/13/datatype-oid

Steps:
1. Create table
CREATE TABLE public.test_table_reg (
	id int4 NOT NULL,
	proc regproc NOT NULL,
	oper regoper NO

[2021-02-08 08:04] LonwoLonwo commented on #11254
Related https://github.com/dbeaver/dbeaver/issues/9406

[2021-02-08 08:42] uslss commented on #11081
verified

[2021-02-08 08:42] #11081 closed, assigned to uslss, LonwoLonwo

[2021-02-08 08:44] uslss commented on #11027
verified

[2021-02-08 08:44] #11027 closed, assigned to uslss, ShadelessFox

[2021-02-08 09:00] chengjf0526 commented on #10502
@uslss is issue still reproducible in my against the recent version(7.3.3 and 7.3.4).
In the recent version, the 'Comments' of table is show now, but the 'Comments' of the column is not show.

[2021-02-08 09:35] yonisade opened #11255 "Add a client based command to SQL Editor for "set active database" in PostgreSQL"
**Is your feature request related to a problem? Please describe.**
I want to be able to run one script per server in one go without the need to change the active DB manually in the middle.

**Describe the solution you'd like**
Add a client command "\connect [database]" in SQL editor

**Describe alternatives you've considered**
Running it in "psql" which supports "\connect [db]"

[2021-02-08 09:58] nuannuanroutuanzi opened #11256 "Unexpected problems occurred when using vpn to connect to remote databases"
DBeaver 7.2.5
When using vpn for remote oracle connection, the connection timed out
Database version oracle11g
jdk version jdk8
But when using port forwarding to forward port 1521 to another port, you can connect normally
<img width="475" alt="123" src="https://user-images.githubusercontent.com/53110847/107203827-e18fad80-6a36-11eb-90ef-27f0be741684.png">

<img width="411" alt="321" src="https://u

[2021-02-08 09:59] PedroD commented on #6652
This bug still exists.

[2021-02-08 10:02] uslss commented on #10502
thanks for clarification

[2021-02-08 11:22] uslss commented on #11100
verified

[2021-02-08 11:22] #11100 closed, assigned to uslss, ShadelessFox

[2021-02-08 11:32] uslss commented on #10702
verified

[2021-02-08 11:32] #10702 closed

[2021-02-08 11:32] #10916 closed

[2021-02-08 11:49] maritogaleano opened #11257 "HANA - Sepparate users from schemas"
Shows created database users as schema

![image](https://user-images.githubusercontent.com/57814047/107215779-86d06480-69ea-11eb-8b2e-1c1ee064bce3.png)

![image](https://user-images.githubusercontent.com/57814047/107215823-9bacf800-69ea-11eb-98e2-f8fa03914f0c.png)

[2021-02-08 12:05] serge-rider commented on #10472
We need to sign all jar files in all DBeaver distributions.
One problem is that some of these jars are 3rd party artifacts, generally we can't sign them with out certificate..

[2021-02-08 12:23] serge-rider commented on #10192
Please refer to https://github.com/dbeaver/dbeaver/wiki/PGDebugger
It describes how to install debugger on server-side

[2021-02-08 12:23] #10192 closed

[2021-02-08 12:51] serge-rider commented on #10249
Driver edit dialog was redesigned (main props moved to the separate tab):
![image](https://user-images.githubusercontent.com/6398845/107222059-80131300-6a25-11eb-8823-b470fa1d2986.png)

[2021-02-08 13:32] serge-rider commented on #7096
Can't reproduce. Maybe it is OS-specific or database specific.
@mstup could you check error logs for any related messages/warnings? (https://github.com/dbeaver/dbeaver/wiki/Log-files)

[2021-02-08 13:53] serge-rider commented on #10908
Fixed

[2021-02-08 14:04] serge-rider commented on #6524
This behavior was changed in 7.3. Now it looks like this:
![image](https://user-images.githubusercontent.com/6398845/107230097-a938a100-6a2f-11eb-8acc-3fe68f488e4e.png)

[2021-02-08 14:22] kseniiaguzeeva commented on #10573
verified

[2021-02-08 14:22] #10573 closed

[2021-02-08 14:55] alexwhitman opened #11260 "MacOS: Starting DBeaver prompts for permission to accept incoming connections"
#### System information:
- Operating system (distribution) and version : MacOS Big Sur (11.2)
- DBeaver version : 7.3.4 Community
- Additional extensions

#### Describe the problem you're observing:

Every time I launch DBeaver I get the following prompt:

<img width="271" alt="Screenshot 2021-02-08 at 14 46 17" src="https://user-images.githubusercontent.com/422013/107235709-e0ea1d80-6a1c-11eb-820

[2021-02-08 15:50] Gunshin82 commented on #8404
@kseniiaguzeeva, the horizontal scroll works fine in Excel, TextPad and Chrome. For SQL Server Management Studio, it works in the scripting part but not in the result pane. Had to change it from Horizontal Scroll to Zoom for it to work in the result. This workaround didn't work for DBeaver. In NotePad++, it doesn't some funky stuff with the scroll bar but doesn't scroll.

[2021-02-08 16:22] guipassos commented on #7640
Guys, I had the same problem on Ubuntu 20.04, so I needed to change the permissions of the dbeaver application as the image:
![Screenshot from 2021-02-08 13-10-55](https://user-images.githubusercontent.com/9012209/107247989-9fec0c00-6a10-11eb-9d1a-1490262bfa7a.png)

It worked for me

[2021-02-08 16:39] jake-dev-99 commented on #8404
@kseniiaguzeeva Apologies for not responding. Unfortunately I was on vacation when you replied and it slipped through the cracks. I have similar behavior to @Gunshin82, although sometimes the editing pane also does not scroll correctly. Also Notepad++ works fine for me. Actually every other app I've tested has worked without any issues. However, I downloaded Eclipse itself and this is showing the

[2021-02-08 19:01] ramazanpolat opened #11263 "Cannot download clickhouse driver"
#### System information:
- Operating system (distribution) and version: Windows 10 x64
- DBeaver version: 7.3.3, 7.3.4
- Additional extensions

#### Connection specification:
- Database name and version: Clickhouse 20.8.7.15
- Driver name: automatically downloading driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
When trying to connect to a Cli

[2021-02-08 19:14] mwalkerr commented on #11246
@I33Buckler Are you using SSHJ? There was some other issue I had in the past where using that instead of "JSch" worked for me. See https://github.com/dbeaver/dbeaver/issues/5845#issuecomment-541593022

[2021-02-08 20:06] uslss commented on #11263
thanks for the report.
duplicates #11195
will be fixed in 7.3.5. Already available in [EA version](https://dbeaver.io/files/ea)

[2021-02-08 20:06] #11263 closed, assigned to nobody

[2021-02-08 20:27] p91paul commented on #7096
I usually get this on Oracle if I:

1. Load the list of tables/proc/func in the database navigator
2. Create a new object with sql
3. Search it with ctrl + d

And I "fix" it by reloading the list of objects in the db navigator, so that it shows there. When the table is present in db navigator, ctrl + d opens it, otherwise it doesn't. Maybe it can be reproduced if the table/proc/function is hidden

[2021-02-08 20:40] mgirard772 opened #11264 "Redshift connections randomly set to read-only after upgrade to 7.3.4"
#### System information:
- **Operating system (distribution) and version:** MacOS Catalina 10.15.7
- **DBeaver version:** 7.3.4 CE

#### Connection specification:
- **Database name and version**: Amazon Redshift 1.0.23412
- **Driver name**: https://s3.amazonaws.com/redshift-downloads/drivers/jdbc/1.2.51.1078/RedshiftJDBC42-1.2.51.1078.zip
- **Do you use tunnels or proxies (SSH, SOCKS, etc)?** No

[2021-02-08 20:46] serge-rider commented on #11264
It seems to be a Redshift driver issue. At some moment it marks active connection as read-only. Reconnect helps.
I don't know how to resolve this from DBeaver side.

Could you try another version of Redshift driver?
It can be downloaded here
https://docs.aws.amazon.com/redshift/latest/mgmt/jdbc20-download-driver.html
or here
https://docs.aws.amazon.com/redshift/latest/mgmt/configure-jdbc-connectio

[2021-02-08 21:16] mgirard772 commented on #11264
That's interesting.

Upgrading to 7.3.4 prompts for a download of the Redshift driver, and the option available is: https://s3.amazonaws.com/redshift-downloads/drivers/jdbc/1.2.51.1078/RedshiftJDBC42-1.2.51.1078.zip

However, when you downgrade to 7.3.0, you're also prompted to download the Redshift driver, except the version available is now: https://s3.amazonaws.com/redshift-downloads/drivers/jd

[2021-02-08 21:17] mgirard772 commented on #11264
Also, do you happen to know the process for reporting driver bugs to Amazon?

[2021-02-09 02:16] ADataGMan commented on #11220
@LonwoLonwo That makes sense, but what I'm trying to do is expand a star into the entire list of fields. So go from select * from tb to select colA, colB, colC from tb. The expand all functionality does not show up in the right click menu, and in the Active Keybindings, the default Expand All function Ctrl + NumpadPlus does not work as well.

I loved that I was able to run this expand all function

[2021-02-09 02:56] mohashari commented on #6563
I have the same problem and solve it with @RaulHurtadoCNP solution thanks

[2021-02-09 02:58] EltonCarreiro commented on #988
Confirming, I had permission issues when trying to specify the `pg_dump` but unfortunately snap version doesn't work, so I've installed the `.deb` package directly from the DBeaver site and it worked! :tada:

[2021-02-09 05:15] DeflateAwning opened #11265 "MySQL Query results - filters on columns with spaces aren't escaped properly"
#### System information:
- Windows 10
- DBeaver version: 7.3.1

#### Connection specification:
- MySQL connection (v5.x)
- No tunnels nor proxies

#### Describe the problem you're observing:
When filtering the results table of a query from the text editor, filters applied to columns with spaces in their names don't escape the column names correctly.

1. Run a query from a script in the text editor

[2021-02-09 07:45] kseniiaguzeeva commented on #8404
Thank you for the additional details. I will what we can do.

[2021-02-09 08:11] p91paul commented on #11220
you should use ctrl+space with your cursor placed after the asterisk, as proposed above. Expand all is a different action!

[2021-02-09 08:16] kseniiaguzeeva commented on #11083
Yes, it is one of Mac specific focus issues.

[2021-02-09 08:22] adrianag-redabogacia commented on #4273
But it doesn't work.
I tried with maximum value (32767 s) and it keeps disconeccting after 300 s or so. In my opinion our server is the responsible por dropping connections; but Dbeaver could provide as with an active keeping-alive feature.

[2021-02-09 08:30] serge-rider commented on #11264
Looks like driver version 1.2.45.1069 seems to be the last good one. I will revert default download location to it.

Unfortunately I'm not aware about the official process of bug reporting to Amazon. But probably creating a ticket at https://github.com/aws/amazon-redshift-jdbc-driver will work.

[2021-02-09 08:33] serge-rider commented on #4273
You need to set it to a smaller value, e.g. 60.

Keep-alive is the delay between connection ping attempts.  If your server closes connection after 5 minutes of idle then you must set Keep-Alive to a value less than 5 minutes (300 seconds).

[2021-02-09 08:43] kseniiaguzeeva commented on #11095
I could reproduce it, thank you.

[2021-02-09 08:47] uslss commented on #11118
verified

[2021-02-09 08:47] #11118 closed, assigned to flambchap, uslss

[2021-02-09 08:55] kseniiaguzeeva commented on #7976
@lotar94 The docker container is the reason. DBeaver doesn't have an access to its file system. You should install the client on your local machine, and Script execute will work.

[2021-02-09 08:57] qqrate opened #11266 "firebird 2.5 comment still"
use jdbc jaybird 4.0.2,java jdk 8.0.connet firebird 2.5 ,everything is ok,but the comment for chinese is still gibberish,please tell how to  solve the problem？

[2021-02-09 09:14] ovidiugabriel commented on #1672
This changed once again on 7.3 it is in Editors > Data Editor > Binary Editors

[2021-02-09 09:14] ovidiugabriel commented on #1728
This changed once again on 7.3 it is in Editors > Data Editor > Binary Editors

[2021-02-09 09:27] mitchellrj commented on #10862
@uslss does changing this to closed mean this is now released, implemented but not released, won't implement, or some other reason?

[2021-02-09 09:33] Gunshin82 commented on #8404
@jaallen, I've just updated Notepad++ and it works perfectly. It's been awhile since I had last updated. Thanks for this ;-)

[2021-02-09 09:47] rezelute opened #11267 "Assigning a key to Refresh (other than f5) doesn't work"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version: 7.3.4.202101311042
- Additional extensions: N/A

#### Describe the problem you're observing:
I have tried assigning CTRL+R to Refresh in the key shortcuts then I try to refresh data however it doesnt do anything. Refresh only seems to work when i press F5 or right-click and refresh. I initially tho

[2021-02-09 10:03] spassignat commented on #11078
I was maybe unclear.
I would like to run a task to generate CSV file using a SQL script of the project.

ex:
the sql script is Honoraire.sql in the project
![image](https://user-images.githubusercontent.com/6451374/107345967-6ffe4080-6ac4-11eb-8d65-f3eb77ece044.png)
Then in the task creation we need an additional button "Add Select Script"
![image](https://user-images.githubusercontent.com/6451374

[2021-02-09 10:10] kseniiaguzeeva commented on #11265
Please give me a query example to reproduce.

[2021-02-09 10:15] giulio-quaresima opened #11268 "PostgreSQL connection settings advanced user role doesn't work as expected"
#### System information:
- Linux 4.19.0-14-amd64 #1 SMP Debian 4.19.171-2 (2021-01-30) x86_64 GNU/Linux
- OpenJDK Runtime Environment (build 11.0.9.1+1-post-Debian-1deb10u2)
- DBeaver Version 7.3.4.202101311042

#### Connection specification:
- PostgreSQL Server 9.3.25
- PostgreSQL JDBC 42.2.5
- sslmode=prefer

#### Describe the problem you're observing:
I have a user with GRANTS to query some vie

[2021-02-09 10:22] uslss commented on #10249
verified

[2021-02-09 10:22] #10249 closed

[2021-02-09 10:23] uslss commented on #11264
verified

[2021-02-09 10:23] #11264 closed, assigned to serge-rider

[2021-02-09 11:18] #11202 closed, assigned to Sargul

[2021-02-09 11:41] uslss commented on #10908
verified

[2021-02-09 11:41] #10908 closed, assigned to serge-rider, uslss

[2021-02-09 11:58] lotar94 commented on #7976
@kseniiaguzeeva Thanks, yes this is the problem, i installed the client on my local machine and work fine.

[2021-02-09 12:42] jhauss opened #11269 "Switching windows with CTRL F6 or CTRL SHIFT F6 bug reappeared"
#### System information:
- Operating system Ubuntu 18.04
- DBeaver version 7.3.4
- Additional extensions

#### Connection specification:
- Database name and version : postgres, 11
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? YES, ssh

#### Describe the problem you're observing:
Every CTRL F6 opens a new list of windows. List will not close by typing ESC
(This problem already ha

[2021-02-09 14:22] adrianag-redabogacia commented on #4273
Wow, it worked. Thank you very much, @serge-rider. It was frustrating having to wait for the connection to reset, everytime I came back to search anything.

[2021-02-09 15:26] flambchap commented on #9894
Fixed the issue. By default, `mysqldump 8` tries to add column statistics, but only MySQL 8 stores it.

[2021-02-09 15:58] beglex opened #11273 "Clickhouse driver download error"
#### System information:
- OS: Windows 10 1909
- DBeaver: 7.3.4.202101311042

#### Connection specification:
- Driver: Clickhouse
- Without tunnels or proxies

#### Describe the problem you're observing:

Error with downloading Clickhouse driver:
[code]

#### Steps to reproduce, if exist:

1. Install DBeaver
2. Create a connection to Clickhouse DB
3. Open the connection
4. Click *Download* button

[2021-02-09 17:14] JParkACR opened #11276 "Redshift - show permissions issue"
#### System information:
- Windows Server 2010
- DBeaver version : 7.3.4.202101311042

#### Connection specification:
- Amazon Redshift
- Driver name: com.amazon.redshift.jdbc42.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
On Table or View properties > DDL or Source
"Show Permissions" selected
Then the DDL script shows the table permiss

[2021-02-09 18:03] DeflateAwning commented on #11265
I can't reproduce this either anymore. It appears that once the picklist is cached, the issue has disappeared (or something). Will re-open if I can reproduce it more reliably

[2021-02-09 18:03] #11265 closed, assigned to nobody

[2021-02-09 18:11] bryan7087 opened #11277 "Redshift - JDBC driver version 2.0 Throwing Connection Error: Portal Does Not Exist"
#### System information:
- Windows 10
- DBeaver 7.3.4

#### Connection specification:
- AWS Redshift
- JDBC driver version 2.0 - redshift-jdbc42-2.0.0.1
- NA - VPN only

#### Describe the problem you're observing:
When attempting to connect to Reddshift with the AWS JDBC drive V2 I get the following error:
![image](https://user-images.githubusercontent.com/72870070/107408094-1bf95900-6ad0-11eb-875

[2021-02-09 23:42] seaview1990 commented on #9974
On a fresh install of Eclipse and DBeaver plugin, a new .dbeaver folder is created in the workspace for every new project created in the Java perspective. At least the first of these gets reopened on launch of Eclipse, after being closed in previous session. Steps to reproduce follow:

Download and install Eclipse IDE for Java Developers, eclipse-java-2020-12-R-win32-x86_64.zip, 321MB
Unzip, insta

[2021-02-10 01:25] SIGCONT commented on #11260
same with me

[2021-02-10 02:13] troogyt commented on #10826
Hi,

Sorry for the delay. I got busy.
The DDL for the table above is:

`CREATE TABLE public.mytable
(
    date_time text COLLATE pg_catalog."default" NOT NULL
)`

though what I really entered was:
`CREATE TABLE mytable
(
    date_time TEXT NOT NULL
)`

[2021-02-10 02:18] troogyt commented on #10826
@uslss

Sorry to ask, but how do I re-open this ticket?
Can't find obvious instructions on how to do so.

Thanks.

[2021-02-10 03:27] guipassos commented on #5008
In Ubuntu 20.04, I had the same problem. I decided the following way:

Install mysql-client:
[code]
Check all permissions on the application, as shown in the image below.
![Screenshot from 2021-02-08 13-10-55](https://user-images.githubusercontent.com/9012209/107460352-b9877380-6b36-11eb-959c-cc250d4abd60.png)

Link the usr/bin folder to a dbeaver folder:
[code]

Configure client folder on ubuntu

[2021-02-10 07:54] rotorboy opened #11278 "Cut and Paste of double quoted characters from Visual Studio Code to DBeaver SQL editor removes chars between quotes"
#### System information:
- Operating system (distribution) and version: MacOS 10.14
- DBeaver version 7.3.3
- Additional extensions

#### Connection specification:
- Database name and version: MariaDB
- Driver name: default
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:

When a string containing double-quoted characters is copied from VS Code to

[2021-02-10 08:12] uslss commented on #6524
verified

[2021-02-10 08:12] #6524 closed

[2021-02-10 08:35] uslss commented on #11115
verified

[2021-02-10 08:35] #11115 closed, assigned to uslss, ShadelessFox

[2021-02-10 08:48] p91paul commented on #10826
Either some staff member reopens it, or you'll have to open a new one.

[2021-02-10 09:00] uslss commented on #11273
thanks for the report.
duplicates #11195
will be fixed in 7.3.5. Already available in [EA version](https://dbeaver.io/files/ea)

[2021-02-10 09:00] #11273 closed, assigned to nobody

[2021-02-10 09:21] speatzle commented on #5620
would help me allot

[2021-02-10 09:27] uslss commented on #11266
hi @qqrate ,
can you add a screenshot that will show the problem?
Thanks in advance

[2021-02-10 09:55] kseniiaguzeeva commented on #9894
verified

[2021-02-10 09:55] #9894 closed

[2021-02-10 10:31] uslss commented on #11267
thanks for the report

[2021-02-10 10:34] serge-rider opened #11279 "SQL editor toolbar redesign"
We have too many SQL buttons on the main toolbar.
Let'\s combine them in a single action with dropdown.

We also could improve behavior of "Open Recent Script" action so it will show script selector when recent script is already open and active.

[2021-02-10 10:38] uslss commented on #11236
unfortunately, cannot reproduce an issue. did you add comments using UI?

[2021-02-10 10:41] uslss commented on #11218
thanks for suggestion

[2021-02-10 10:50] p91paul commented on #11279
considering which button appear in the toolbar is already configurable through "customize perspective", what about adding a *new* button with dropdown, showing only that one by default, but allowing users to choose to reinstate the multiple buttons if they so desire?

[2021-02-10 11:07] #11085 closed, assigned to nobody

[2021-02-10 11:18] nouchutm commented on #7096
Hi @p91paul ,

Still SQL Developer we can see those procedure and function. The issue happen while access in production db, I have developer permission, i cannot able execute those procedure or Function in SQL Developer, only i can view the procedure or function.

Regards,

[2021-02-10 11:31] kseniiaguzeeva commented on #11265
Ok!

[2021-02-10 11:43] cytsunny opened #11281 "Missing the enclosing quotation mark on JSON type field of MySQL"
#### System information:
- **Operating system (distribution) and version**: Ubuntu 20.04, but I believe other OS should reproduce the error
- **DBeaver version**: DBeaver 7.3.4, but I believe other older version should be able to reproduce the error
- **Additional extensions**: none

#### Connection specification:
- **Database name**: MySQL
- **Driver name** InnoDB
- **Do you use tunnels or proxie

[2021-02-10 11:52] serge-rider commented on #11279
The idea is to combine all SQL buttons in a single drop-down.
Perspective customization is great but is for advanced users. We want to make default perspective presentation lighter.

![image](https://user-images.githubusercontent.com/6398845/107506432-1f174680-6baf-11eb-9055-d9a0a36d927f.png)

[2021-02-10 12:03] LonwoLonwo commented on #10684
Fixed in 7.3.5

Now we reading PostgreSQL data types differently.
First for the entire database, and then we distribute according to schemes, and not vice versa, as before. Now in the list of data types when creating columns, procedures or when mapping in datatransfer, a list of all database types will drop out (not just basic + schemas).
This list includes standard, composite and custom types, do

[2021-02-10 12:21] serge-rider commented on #10101
Several improvements were added.
Dummy confirmation dialog removed. SQL editor mustn't be blocked after query hang.

[2021-02-10 13:03] serge-rider commented on #11217
It seems to be a bug in Eclipse SWT + BigSur. In some circumstances DBeaver starts to consume tons of memory (end eventually CPU).
This can be resolved by DBeaver restart.
No known workarounds so far.

[2021-02-10 13:08] serge-rider commented on #11233
However you can configure it in the bootstrap queries dialog (on the connection edit dialog):

![image](https://user-images.githubusercontent.com/6398845/107514092-3b6cb080-6bba-11eb-9543-c1d7c35d2b29.png)

[2021-02-10 13:20] kseniiaguzeeva commented on #8404
Thank you for the report. Unfortunately we have to wait for Eclipse update.

[2021-02-10 13:26] kseniiaguzeeva commented on #10886
The reason is that every user has his own database configuration with unique id.
![1](https://user-images.githubusercontent.com/51405061/107515536-3446a200-6bbc-11eb-9cc7-e0c82638b9dc.png)
You can:
- share your project in git
- share the file
- copy connection configuration data from the file to other users files

Here you can find way to project configuration https://github.com/dbeaver/dbeaver/wi

[2021-02-10 13:31] kseniiaguzeeva commented on #11078
The idea is interesting and usefull. But feature requires efforts and time. That's why I cannot tell you exact implementation date.

[2021-02-10 13:38] kseniiaguzeeva commented on #11123
Looks like a bug. WHat's wrong with /AllUsers path? Is it possible to give more details?

[2021-02-10 14:08] uslss commented on #11279
verified

[2021-02-10 14:08] #11279 closed, assigned to serge-rider, uslss

[2021-02-10 14:11] merlyn383 commented on #11217
I turned off an accessibility feature in the OS (Hover Text) and I haven't had it hang on me in the last 3 days. Correlation != Causation but I figured it was worth sharing. (System Preferences -> Accessibility -> Zoom -> "Enable Hover Text").

[2021-02-10 15:31] chanansh commented on #11196
Hi @uslss, the current version is 7.3.4 what does it mean this was added to 21.0.0?
Moreover, any workarounds? Even if I set the schema as default in the connection settings it is still ignored.

[2021-02-10 15:32] tate801 commented on #7976
Hi

I am trying to setup Dbeaver for the first time and I am trying to connect to my local PC mysql server. Not sure what I am missing on this local setup

![image](https://user-images.githubusercontent.com/78865187/107531304-5ee92880-6bc5-11eb-8d80-e3fbb0768536.png)

![image](https://user-images.githubusercontent.com/78865187/107531342-69a3bd80-6bc5-11eb-98bd-4718436cb23e.png)

Anyone able to hel

[2021-02-10 15:54] dangeReis commented on #11196
This part actually works for me.  The workaround is to set up separate connections per database  (or use fully qualified db names)

[2021-02-10 15:56] flambchap commented on #11196
Hi @chanansh. We are switching to a [new versioning scheme](https://github.com/dbeaver/dbeaver/discussions/11024). The 21.0.0 version will be out on the 1st of March.

[2021-02-10 16:03] radcapitalist commented on #1835
I followed the instructions here to convert my key to PK8 format, and I set the passphrase in the **sslpassword** driver property in the connection.  However, when I try to connect, I get prompted for the password.  I enter the password the first time, the dialog goes away and comes back.  I enter the password a second time.  Same thing.  If I enter the password 4 times, then the password dialog s

[2021-02-10 16:12] maffe opened #11283 "Cannot enter a backslash in a query, instead a prompt to fetch all lines appears (German keyboard layout)"
#### System information:
- Windows 10 64 Bit (German)
- DBeaver 7.3.4
- Keyboard layout: German/QWERTZ (Deutsch IBM)

#### Connection specification:
- Server: PostgreSQL 11.3
- Driver name: PostgreSQL JDBC Driver 42.2.8
- Access via SSH tunnel defined in DBeaver

#### Describe the problem you're observing:
When trying to enter a backslash, I’m asked to confirm fetching all lines. I have to enter t

[2021-02-10 16:23] allanlaal commented on #2601
UI bug still present in 7.3.4

[2021-02-10 18:22] uslss commented on #8660
verified

[2021-02-10 18:22] #8660 closed

[2021-02-10 18:22] uslss commented on #6110
verified

[2021-02-10 18:22] #6110 closed

[2021-02-10 18:23] uslss commented on #10684
verified

[2021-02-10 18:23] #10684 closed

[2021-02-10 18:34] wolverline opened #11285 "Informix SSL connection"
#### System information:
- Operating system (distribution) and version: Windows 10 x64
- DBeaver version: Version 7.3.4.202101311042
- Additional extensions: Informix DB

#### Connection specification:
- Database name and version: Informix  Dynamic 12
- Driver name: jdbc 4.10.10.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
SSL Connection fail

[2021-02-10 18:34] BernardoBJ opened #11286 "Export SQL mistmatch"
#### System information:
- Windows 10
- DBeaver version: Version 7.3.3.202101161839

#### Connection specification:
- MySQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When we do a SELECT and order the data using the columns, and after that try to export some row in SQL, the copied information is of other row (maybe the row previous sorting).

[2021-02-10 19:14] mkgrgis commented on #11236
Yes. I meant renaming or reordering of columns as view's declaration changing. Also deleting of column's line affected in `CREATE VIEW x (`**c1, c2 ...**` ) AS SELECT ....` and recompilation in some cases.

[2021-02-10 19:32] LonwoLonwo commented on #11281
Thanks for the bug report!

[2021-02-10 20:49] LonwoLonwo commented on #11281
Fixed in 7.3.5

[2021-02-10 21:32] p91paul commented on #7096
@nouchutm for your issue you can very likely solve it by enabling this option in connection properties:
![immagine](https://user-images.githubusercontent.com/2157006/107574881-74734800-6bef-11eb-970d-00944363a7b8.png)

DBA_* views (es DBA_TABLES) allow you to see object which you have no GRANTS over. They are also faster to query; however, Oracle requires some specific system grants to access them

[2021-02-10 21:36] p91paul commented on #11279
Yeah what I meant is: put this new dropdown in the perspective by default, but leave the old ones in the perspective configuration, invisible by default, to be added if the advanced users prefer them.

[2021-02-11 02:07] ADataGMan commented on #11220
@p91paul But what I'm saying is that in 7.3.4 on Redshift, all I get is a list of fields I can choose from. I get a chance to auto complete with 1 field, colA, colB, OR colC. Either ctrl+space does not work as expected in this version, or we're describing two different problems.

Current situation:
select * from tb

Desired situation:
select colA, colB, colC from tb

How do I get from here to ther

[2021-02-11 06:17] kseniiaguzeeva commented on #11139
Please tell DBeaver version, the database and steps to reproduce. Also full logs can help us https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-02-11 06:18] kseniiaguzeeva commented on #11143
Thank you for the report. We already fixed a similar issue. Could you tell DBeaver version?

[2021-02-11 06:27] #11197 closed, assigned to nobody

[2021-02-11 06:42] kseniiaguzeeva commented on #11147
1.  How do you set proxy in DBeaver?
In connection settings
![dbeaver_q76j38DNye](https://user-images.githubusercontent.com/51405061/107608446-12e1c680-6c4d-11eb-9417-91c2486ab585.png)

or in global settings
![dbeaver_X5SepZipGb](https://user-images.githubusercontent.com/51405061/107608456-1b3a0180-6c4d-11eb-8363-737d25b4d1f1.png)

2. Could you create another ticket for the second issue and give a

[2021-02-11 07:10] kseniiaguzeeva commented on #11281
Single quotes are added.

[2021-02-11 07:10] #11281 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-02-11 07:46] kseniiaguzeeva commented on #11198
I close this ticket as a duplicate, because similar issues already exist. We will add automatic refresh in future releases in https://github.com/dbeaver/dbeaver/issues/6398.

[2021-02-11 07:46] #11198 closed, assigned to nobody

[2021-02-11 07:48] kseniiaguzeeva commented on #3375
Will be implemented in https://github.com/dbeaver/dbeaver/issues/6398

[2021-02-11 07:48] #3375 closed

[2021-02-11 07:49] ionutursuleanu opened #11289 "Smart commit starts a transaction when executing explain"
#### System information:
- macOS Catalina 10.15.7
- dbeaver 7.3.4

#### Connection specification:
- PostgreSQL 11.9

#### Describe the problem you're observing:
Smart commit starts a transaction when executing explain
#### Steps to reproduce, if exist:
Run ```explain select 1;```

[2021-02-11 07:49] kseniiaguzeeva commented on #5904
Will be implemented in https://github.com/dbeaver/dbeaver/issues/6398

[2021-02-11 07:49] #5904 closed

[2021-02-11 07:56] kseniiaguzeeva commented on #9737
Closed as duplicate of #6398

[2021-02-11 07:56] #9737 closed

[2021-02-11 07:56] kseniiaguzeeva commented on #6398
Opened tickets with similar issues:
https://github.com/dbeaver/dbeaver/issues/5471
https://github.com/dbeaver/dbeaver/issues/6795
https://github.com/dbeaver/dbeaver/issues/8019
https://github.com/dbeaver/dbeaver/issues/8155
https://github.com/dbeaver/dbeaver/issues/8922
https://github.com/dbeaver/dbeaver/issues/9283
https://github.com/dbeaver/dbeaver/issues/11961

[2021-02-11 07:59] kseniiaguzeeva commented on #11207
The feature exists in Enterprise Edition. You can test trial version https://dbeaver.com/trial/

[2021-02-11 07:59] #11207 closed, assigned to nobody

[2021-02-11 08:04] kseniiaguzeeva commented on #11215
Could you please give more details to reproduce the issue? Do you try to restore MySQL database? Which way do you use?
A screenshot with the problem and full logs https://github.com/dbeaver/dbeaver/wiki/Log-files will help us to fix it.

[2021-02-11 08:15] uslss commented on #10101
verified

[2021-02-11 08:15] #10101 closed

[2021-02-11 08:15] kseniiaguzeeva commented on #11222
Thank you for your suggestion. And you already wrote the answer-  please use Early Access. The optimal way is download it right after CE releases (this version should be more stable). We do not plan to release minor versions of Enterprise Edition yet.

[2021-02-11 08:15] #11222 closed, assigned to nobody

[2021-02-11 08:17] kseniiaguzeeva commented on #11223
Thank you for the suggestion.  The option will be added in future releases.

[2021-02-11 08:24] uslss commented on #11289
thanks for the report

[2021-02-11 08:26] uslss commented on #11286
thanks for the report
closed as duplicate of #9252

[2021-02-11 08:26] #11286 closed, assigned to nobody

[2021-02-11 08:28] kseniiaguzeeva commented on #11242
Disable **Connect on editor activation** in SQL Editor settings. It should help.
![dbeaver_CUFwecUdZ5](https://user-images.githubusercontent.com/51405061/107614882-382a0100-6c5c-11eb-920c-c6b0a5d60779.png)

[2021-02-11 08:29] #11246 closed, assigned to nobody

[2021-02-11 08:31] kseniiaguzeeva commented on #11276
Thank you for the report.

[2021-02-11 08:35] kseniiaguzeeva commented on #11221
Looks like some driver limitation. Please use 2 different SQL Editor windows for the query with enabled **Open separate connection for each editor** option.
![dbeaver_Xwk828I8a8](https://user-images.githubusercontent.com/51405061/107615398-2b59dd00-6c5d-11eb-993c-06bfab5d4650.png)

[2021-02-11 08:36] LonwoLonwo commented on #11220
@ADataGMan Can you please make a video of error/wrong behavior?

[2021-02-11 08:37] kseniiaguzeeva commented on #11277
Unfortunately we do not support 2.0 driver. Could you try another driver version?

[2021-02-11 08:41] kseniiaguzeeva commented on #11256
Which OS do you use?

[2021-02-11 08:41] uslss commented on #10922
there is no update on the issue for a long time.
If the issue is still actual for you - feel free to reopen it with additional info.

[2021-02-11 08:41] #10922 closed, assigned to nobody

[2021-02-11 08:42] #10942 closed, assigned to nobody

[2021-02-11 09:14] flambchap opened #11294 "Update wiki article about spatial data viewer"
We need to add information about choosing a Leaflet tile layer and defining a custom one.

[2021-02-11 09:21] serge-rider commented on #11190
Let's try `[v]`

[2021-02-11 09:42] uslss commented on #11190
verified

[2021-02-11 09:42] #11190 closed, assigned to serge-rider, uslss

[2021-02-11 09:44] mkgrgis commented on #11236
This issue isn't about void comments in UI. It's about voiding comments in DB after some of changes of a view. You must press F5 anytime after some change of a view to see the DB, not UI, situation.

[2021-02-11 09:58] remi-parain commented on #8508
it works ! thanks

[2021-02-11 10:22] redpawn96 commented on #11139
Dbeaver version is **7.3.0**
**Steps to reproduce the error.**
1. Create a database with default encoding of SQL_ASCII, a Collate Type of C and Ctype of C.
2. Create a dummy table with a dummy varchar data type column.
3. Insert a data with special characters such as Ñ/ñ using a different database manager such as pgAdmin.
4. Go to dbeaver and open the data of the created dummy table.

**Here is th

[2021-02-11 10:23] kseniiaguzeeva commented on #11026
Some misprint corrections are needed.
Separate ticket will be created to show tips on startup.

[2021-02-11 10:43] gnimor opened #11297 "SQLite change column"
I am trying to modify an existing column in a SQLite database (e.g.  set the "Auto Increment" flag). The database contains no data. Anyway the "Auto Increment", "Not Null" options are all grayed out. In addition I am not able to define a new key.

![DBeaver](https://user-images.githubusercontent.com/14901306/107626631-614b9100-6c5e-11eb-8779-2c18e855920b.png)

[2021-02-11 10:52] flambchap commented on #11026
Spelling has been fixed.

[2021-02-11 11:16] ghost commented on #11195
Thanks, helped a lot.

[2021-02-11 11:28] kseniiaguzeeva commented on #7976
This ticket is overloaded. Could you please create a new one? Also please tell what is your issue about? Which DBeaver version do you use? Logs are often can be helpfull too  https://github.com/dbeaver/dbeaver/wiki/Log-files.

[2021-02-11 11:32] uslss commented on #11297
Unfortunately, mentioned features are not supported by SQLite
https://www.sqlitetutorial.net/sqlite-alter-table/

[2021-02-11 11:33] #11297 closed, assigned to nobody

[2021-02-11 11:42] flambchap commented on #11294
Info added.

[2021-02-11 12:01] ceinmart commented on #10987
Hi @uslss  , please can you review this fix?

[2021-02-11 12:13] kseniiaguzeeva commented on #11026
verified

[2021-02-11 12:13] #11026 closed, assigned to flambchap, kseniiaguzeeva

[2021-02-11 12:27] uslss commented on #11216
verified

[2021-02-11 12:27] #11216 closed, assigned to uslss, LonwoLonwo

[2021-02-11 12:45] AntonTrapp commented on #11242
Thank you for your answer, but unfortunately no, that was the first I googled.

Can it be that changing this setting does not do anything if the connection can not be opened?

I tried to disable that feature later on while I had an active connection and removed / added the connection again. Can't tell what did the trick, but just disabling the option while the DB has not been accessible didn't wor

[2021-02-11 12:58] uslss opened #11300 "App hangs in case of starting export from DB to DB in data editor toolbar"
#### System information:
- Operating system (distribution) and version win10 x64
- DBeaver version 7.3.5

#### Describe the problem you're observing:
App hangs time to time in case of starting export from DB to DB in the data editor toolbar.
Probably side effect of #11118 .
#### Steps to reproduce, if exist:
1. Open any table
2. Start export to db from the toolbar in data editor

Actual result:
Ap

[2021-02-11 13:17] veeeetl commented on #11143
7.3.4

On Thu, Feb 11, 2021 at 1:19 AM Kseniia <notifications@github.com> wrote:

[2021-02-11 13:20] veeeetl commented on #11143
Issue still exists :
[image: image.png]

On Thu, Feb 11, 2021 at 8:17 AM Verghese Polakunnil <
verghese.polakunnil@heliocampus.com> wrote:

[2021-02-11 13:34] dennisneise commented on #2252
Is it possible to change the password of the user of the current connection with DBeaver. I have now searched a little, but could not find anything?

[2021-02-11 13:39] ridicolos commented on #3365
@serge-rider Is there something like this for Postgres?

We assign a default password to our users, this should be changed by the colleagues. We are now faced with the challenge that we have not found an option in DBeaver with which we can change the password of the own user. Is this not possible under Postgres?

[2021-02-11 13:57] Lonniebiz commented on #6876
As, @philshem said, try [sshfs](https://stackoverflow.com/a/66156035/217867).

[2021-02-11 14:38] flambchap commented on #11300
Fixed.

[2021-02-11 15:11] Bartman0 opened #11303 "SQL Server driver issue 7.3.4"
#### System information:
- macOS Catalina 10.15.7
- DBeaver version 7.3.4
- Additional extensions: none

#### Connection specification:
- Azure SQL
- Microsoft JDBC Driver for SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no

#### Describe the problem you're observing:
My Azure SQL connections do not work anymore, saying that the driver is missing.
Tried to download the drivers a

[2021-02-11 15:18] luigijo commented on #6903
Same issue in DBeaver 7.3.4 on Linux. This problem has been around for a long time.
I'm quitting DBeaver because of this.

[2021-02-11 15:22] serge-rider opened #11304 "Task management UI improvements"
- Turn task edit wizard into multi-page dialog (similar to the connection editor)
- Move "Save" button to the main buttons bar
- Show notification on task save
- Task name is optional on the first page of task wizard. If not specified then ask task name during save
- Show sub-tasks in the tree, support dnd and copy-paste
- Make last task wizard page the same for all tasks (log view).

[2021-02-11 16:08] mzatko opened #11307 "never allow to switch db connection for a tab with simple left-click or right-click on different connection in database navigator"
#### System information:
- Ubuntu 20.04
- DBeaver 7.3.4

#### Connection specification:
- Database name: oracle, mysql, mariadb, postgresql, ...  I think it doesn't depend on DB

#### Describe the problem you're observing:

simple click on any connection in database navigator associates it to actually opened tab. It even opens connection in database navigator if not already connected.
I find it as

[2021-02-11 16:54] LonwoLonwo commented on #10704
It's again looks like a bug in @JSQLParser library

[2021-02-11 18:53] LonwoLonwo commented on #11216
To see all PostgreSQL data types (including array and table types) enable "Read all data types" setting in connection settings:
![2021-02-11 12_49_29-DBeaver Enterprise 7 3 5 - planet_osm_line](https://user-images.githubusercontent.com/45152336/107684071-625add80-6cb3-11eb-85ea-ffd258eec8ac.png)

Or for all connections in Preferences -> Connections -> PostgreSQL
![2021-02-11 12_49_46-DBeaver Enter

[2021-02-11 19:44] lutel commented on #10470
Does DBeaver runs natively on M1?

[2021-02-11 20:58] serge-rider commented on #10564
Oracle ref cursors support fixed

[2021-02-11 22:06] p91paul commented on #3365
@dennisneise I suggest you open a new issue or open a discussion, commenting years old closed issues has a very high chance of being overlooked!

[2021-02-11 23:47] williambuchanan2 commented on #8584
This is still happening. I am seeing the same problem.

[2021-02-12 07:50] kseniiaguzeeva opened #11309 "Create Varchar column has wrong default syntax in UI"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 7.3.5 EA

#### Connection specification:
- Database name and version MySQL

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
1. Open Columns tab in a table properties
2. Create a column of varchar type without adding anything to default settings.

Expected: SQL statement wi

[2021-02-12 08:15] LonwoLonwo commented on #11309
Varbinary type has to be also with parameters.

[2021-02-12 08:17] LonwoLonwo commented on #11309
Doesn't work since at least version 7.3.0

[2021-02-12 08:54] flambchap opened #11310 "Incorrect integer field validation in some dialogs in MockData and Exasol plugins"
This incorrect validation may lead to the inability to delete the last digit in the box, or to a visible error window with an exception. Either way, not a good UX choice.

[2021-02-12 09:47] thomasmoors opened #11311 "Saving a change when connection is marked as "production" doesn't persist"
#### System information:
- Windows 10 Pro 19042.804
- DBeaver 7.3.4.202101311042
- Additional extensions: none

#### Connection specification:
- Database name: mysql  Ver 14.14 Distrib 5.7.24, for Win64 (x86_64)
- Driver name: mariadb (yes small mistake)
- No tunnels
I specified it as production

#### Describe the problem you're observing:
When saving the data I click "Save"
![image](https://user-

[2021-02-12 09:53] uslss commented on #11300
verified

[2021-02-12 09:53] #11300 closed, assigned to flambchap, uslss

[2021-02-12 09:54] #11294 closed, assigned to flambchap, uslss

[2021-02-12 10:11] kseniiaguzeeva commented on #10564
verified

[2021-02-12 10:11] #10564 closed

[2021-02-12 10:19] p91paul opened #11312 "[Oracle] Enable/disable triggers from GUI"
**Is your feature request related to a problem? Please describe.**
To enable or disable table triggers, I need to write the sql statement myself. E.g.

alter trigger MY_TRIGGER     enable;
alter trigger MY_TRIGGER     disable;

**Describe the solution you'd like**
To be able to do it from GUI with an easy button/checkbox.
As a plus, it would be nice to be able to enable multiple triggers at once b

[2021-02-12 10:26] p91paul opened #11313 "Grouping pane error if the query ends with a comment"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 7.3.4.202101311042
- Additional extensions: n/a

#### Connection specification:
- Database name and version: Oracle
- Driver name: ojdbc 19
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n/a

#### Describe the problem you're observing:
If the last line of the query is a comment, using the grou

[2021-02-12 10:32] p91paul opened #11314 "Improve objects and sessions tool filtering on client side"
**Is your feature request related to a problem? Please describe.**
Currently the sessions tool uses a very custom table with limited options

**Describe the solution you'd like**
If the sessions tool used the standard table editor, we would get nice features, like per-column filtering, grouping panel, etc...

**Describe alternatives you've considered**
Just allowing per-column filters instead of a

[2021-02-12 10:52] p91paul commented on #11311
after saving, did you also commit?

[2021-02-12 10:57] thomasmoors commented on #11311
Could it really be this simple? 🤦‍♂️

[2021-02-12 10:57] #11311 closed, assigned to nobody

[2021-02-12 11:10] LonwoLonwo commented on #11312
We can do it! Thanks for suggestion

[2021-02-12 11:52] jlucena opened #11315 "Is it possible debug oracle procedures??"
Hello everyone.

I would like to know if it is possible to debug oracle procedures with the community version.

Regards

[2021-02-12 12:44] bkolb249 opened #11320 "Authentification/Password: value contains character '' which is non US-ASCII"
#### System information:
- Windows 10
- DBeaver version 7.3.4

#### Connection specification:
- Database name and version: Postgres
- Driver name: org.postgresql.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Not relevant

#### Describe the problem you're observing:
My database password contains a non-ascii string. If I try to connect, I get the following error:
"value contains characte

[2021-02-12 12:58] LonwoLonwo commented on #11132
Will be fixed in scope with https://github.com/dbeaver/dbeaver/issues/11309

[2021-02-12 12:58] #11132 closed, assigned to LonwoLonwo

[2021-02-12 14:40] kseniiaguzeeva opened #11322 "Statistics info is not displayed in DB Navigator with Custom view>Hide folders"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 7.3.5 EA

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
Connect to PostgreSQL and enable statistics info, Custom view>Hide folders

**Expected**: statistics info is displayed for tables
**Actual result**: statistics is not displayed.

[2021-02-12 14:42] Shaltz commented on #7548
DBeaver 7.3.4 via snap still has this issue for mysql... any update ??

[2021-02-12 14:59] herbinator commented on #9857
It works great

[2021-02-12 15:07] kseniiaguzeeva opened #11323 "Functional words are highlighted as hyperlinks in SQL Editor"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 7.3.5 EA

#### Steps  reproduce, if exist:
1. Open a script in SQL Editor (e.g. a table DDL)
2. Hold Ctrl and move the cursor from a table name along the text.

Expected: only tables and views are highlighted
Actual result: functional words are highlighted as hyperlinks when the cursor on them after high

[2021-02-12 15:14] kseniiaguzeeva opened #11324 "PostgreSQL Task script shows Success status when its script file doesn't exist"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 7.3.5 EA
- PostgreSQL
#### Steps to reproduce, if exist:
1. Save a script file somewhere
2. Create a script task with this script file
3. Delete the file
4. Execute the task

**Expected**: an error appears
**Actual result**: no errors, success status is displayed

[2021-02-12 15:24] kseniiaguzeeva opened #11325 "Navigate filter buttons in Data Editor have to show full navigate/filter history"
Current behaviour: filter history removes if a user navigates a link and vise versa

[2021-02-12 15:41] ericflightaware opened #11326 "Aliased field in results pane gets data type of field of same name in the table"
#### System information:
- Windows
- dbeaver 7.3.2.202101032114

#### Connection specification:
- PostgreSQL 11.6

#### Describe the problem you're observing:
This is admittedly a subtle edge case. If you do a SELECT query against a table and alias a field in the query to the same name as another field in the underlying table, the results pane viewer/editor UI seems to assume the field is of the d

[2021-02-12 15:51] p91paul opened #11327 "[Oracle] Allow excluding synonyms from "Open database object""
**Is your feature request related to a problem? Please describe.**
Currently dbeaver issues the following query when searching with ctrl + D (the first letter I wrote is C):

[code]
That query is terribly slow. On one of my production databases it takes more than 1 minute to complete

**Describe the solution you'd like**
Allow to exclude synonyms from that query with another checkbox. The query co

[2021-02-12 17:21] allipatev opened #11330 "Highlighting support for [[..]] string literals in Lua scripts"
**Is your feature request related to a problem? Please describe.**
Now for Exasol DBeaver does not highlight strings delimited by double square brackets [[...]].
It leads to strange effects:
![image](https://user-images.githubusercontent.com/58830344/107799937-698af580-6d5e-11eb-84aa-43e4e05de0ac.png)
Script in the text form for your convenience:
[code]
**Describe the solution you'd like**
Strings

[2021-02-13 08:04] DeflateAwning opened #11331 "In table properties edit mode, I want to be able to move multiple columns up and down the list at once."
**Is your feature request related to a problem? Please describe.**
When I am re-ordering columns in the Table Properties configuration, I want to be able to select multiple columns and move them all at once using the arrow keys in the bottom right corner.

**Describe the solution you'd like**
When multiple columns (shown as rows in this view) are selected, I want to be able to click the Up and Dow

[2021-02-13 08:47] p91paul commented on #11311
I think across different databases and different clients, this might be the most common mistake of them all, everybody does that at least several times :stuck_out_tongue_winking_eye:

[2021-02-13 12:58] uslss commented on #11323
duplicates #11158

[2021-02-13 12:58] #11323 closed, assigned to nobody

[2021-02-13 13:45] uslss opened #11332 "Toolbar is disabled in resultset after query execution"
#### System information:
- Operating system (distribution) and version win10 x64
- DBeaver version 7.3.5 EA

#### Describe the problem you're observing:
Resultset Toolbar is disabled after query run. It is needed to switch to another tab and back to enable it.
#### Steps to reproduce, if exist:
1. Connect to some DB
2. Choose some table and in it, context menu choose Read data in SQL Editor
3. Che

[2021-02-13 13:58] haugs opened #11333 "PostgreSQL: Connection setting "Show all databases" make session connect to wrong database"
#### System information:
- Windows 10 Version 2004
- DBeaver version 7.3.0
- no extensions

#### Connection specification:
- PostgreSQL 11.6 (Debian 11.6-0+deb10u1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit
- Driver name: PostgreSQL JDBC Driver
- corporate proxy

#### Describe the problem you're observing:
When I connect to a PostgreSQL Database host that runs multiple

[2021-02-13 14:40] serge-rider commented on #11332
Fixed

[2021-02-13 15:40] uslss commented on #11332
verified

[2021-02-13 15:40] #11332 closed, assigned to serge-rider, uslss

[2021-02-14 08:22] kseniiaguzeeva opened #11335 "Database>Tasks menu doesn't update used task info in the list"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 7.3.5 EA

#### Steps to reproduce, if exist:
1. Create several tasks
2. Execute some of them
3. Create a task again and execute it.

**Expected**: the task list is refreshed in Database>Tasks menu
**Actual result**: the task list is not refreshed
![1](https://user-images.githubusercontent.com/51405061/10

[2021-02-14 08:44] kseniiaguzeeva opened #11336 "Table cannot be created in non-default database, if the database is set as default in Initialization"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 7.3.5 EA

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
1. set a database as default in connection settings>Initialization
2. set another database as default in DB Navigator tree
3. try to create a table in the database (mentioned as default in

[2021-02-14 08:55] kseniiaguzeeva opened #11337 "Serial type has wrong data for insert in Data Editor"
#### Syste information:
- Operating system (distribution) and version Win10
- DBeaver version 7.3.5 EA

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
1. Open a table with serial column type and insert a row
Expected: the value is auto-assigned in serial column
Actual result: text appears:
![dbeaver_mOfN6uooFw](https://user-images.githubus

[2021-02-14 10:35] troogyt commented on #10826
Is there a way to 'step' debug the query as it performs the SELECT? Any debug logs I can look at?

[2021-02-14 10:36] troogyt commented on #10826
Thanks for re-opening, @kseniiaguzeeva.

[2021-02-14 12:07] gavenkoa opened #11338 ""Detect unique identifiers" takes tens of seconds for each new query (Postgre)."
When I start query execution DBeaver writes first __Detect unique identifiers__ and spend 10-15s, then actually executes query.

There is a button "Cancel" to interrupt that process. After pushing it and around 5s delay I see alert: __Database driver is not responding. Do you want to cancel request and close connection?__. I chose no and got response a bit later.

What feature "Detect unique ident

[2021-02-14 12:14] gavenkoa commented on #11338
Here is an example of total progress for fresh connection:

![image](https://user-images.githubusercontent.com/273770/107876459-c9081300-6ece-11eb-9b28-d851d18265b1.png)

Execution of the next query results in:

![image](https://user-images.githubusercontent.com/273770/107876482-edfc8600-6ece-11eb-96dd-0626d9c681ca.png)

[2021-02-14 12:51] flambchap opened #11339 "Show progress bar on auto assign in data transfer mapping page"
In the case of selecting a lot of tables of data export, UI suddenly becomes unresponsive, and the user has no idea what is going on. We need to show a progress bar and be able to stop auto assigning on demand.

[2021-02-15 00:25] jyinpci opened #11340 "Auto-sync with navigator does not work with Oracle"
Once a database A is selected in the navigator, all open tabs of SQL editors should be automatically connected to that database A.  This is how it works with Postgresql.  But with Oracle, if multiple SQL editors tabs are opened, when database A is selected in the navigator, only the currently selected SQL editor tab is connected to the database A.  All other SQL editor tabs stay with their previou

[2021-02-15 00:33] gm-lunatix commented on #2054
Even in Eclipse this is a toggle. Every modern editor does editor window sync with project tab automatically to get the opened file/item selected indicating that this selected item is the one being worked on in the active editor window. Please consider changing this to a toggle.

[2021-02-15 03:13] leezm opened #11341 "Add Password view 增加密码查看功能"
**Is your feature request related to a problem? Please describe.**
When there are many connections，I can’t remember the password for each database.

**Describe the solution you'd like**
Like Chrome or Edge,You can view pass by entering the password of the OS.

**Describe alternatives you've considered**
...

**Additional context**
PLZ!That is necessary!!

[2021-02-15 06:19] Shallyz opened #11342 "Ver 7.3.5 issues"
Hi,

There are several issues that I would like to know if there's a way to solve them.

1. From time to time when you are updating the version, after the update all the open files are gone and I have to reopen them. Is is a bug on the installation that is not keeping the open files as they were before the upgrade? Because usually it works fine.
2. How to change the the default open and save will

[2021-02-15 07:46] nouchutm commented on #7096
Great! Thank you so much :).
its working now

[2021-02-15 07:48] #7096 closed

[2021-02-15 08:27] uslss commented on #11326
thanks for the report
duplicates #11143

[2021-02-15 08:27] #11326 closed, assigned to nobody

[2021-02-15 08:36] ghYura opened #11345 "Boolean column values view. Textboxes-mode field customisation and COLOR"
Please, consider following proposition that allows comfortable boolean-values differentiation among thousands of DB records, but ordered by other (say, non-boolean) prioritized columns. At the attached picture you can see custom text-inside-cell-value INDENTATION with whitespaces made by user text input and custom COLOR pick for 'textboxes' depicture mode.

Cell itself should stay clickable (as it

[2021-02-15 09:00] LonwoLonwo commented on #11309
Fixed in 21.0.0
Now the default type when creating a new column is varchar. Actual for Oracle also.

[2021-02-15 09:09] zhicwu commented on #9309
Thank you @uslss and @serge-rider for reporting the issue. `0.2.6` is released and it works on DBeaver(community edition 7.3.5.202102141704) according to my test just now.

[2021-02-15 09:15] flambchap opened #11346 "Up and Down buttons in Data transfer mapping dialog behave awkwardly"
When there are too many items in the tree to display at once, the scrollbar activates. When this scrollbar is not at the top position, moving an item up or down resets the scrollbar to the top. Quite ugly.

[2021-02-15 09:15] #11192 closed, assigned to serge-rider

[2021-02-15 09:23] serge-rider commented on #11217
Duplicate of #11089

[2021-02-15 09:23] #11217 closed, assigned to nobody

[2021-02-15 09:28] serge-rider commented on #9322
Must be fixed in recent installers version (as we got rid of pack200)

[2021-02-15 09:28] #9322 closed

[2021-02-15 09:39] zhicwu opened #11347 "Enable nested comments support for ClickHouse"
I didn't find a switch to turn on nested support in preference, so I guess ClickHouse plugin should be enhanced like [this one](https://github.com/dbeaver/dbeaver/blob/7.3.5/plugins/org.jkiss.dbeaver.ext.postgresql/src/org/jkiss/dbeaver/ext/postgresql/model/PostgreDialect.java#L840).

I use below SQL for testing, and the highlight is correct when connecting to PostgreSQL but not ClickHouse.
[code]

[2021-02-15 09:46] mstup commented on #7096
There are nothing in log files that could be related to this issue.

[2021-02-15 10:20] tati-kru commented on #10918
We must restrict adding entities from other projects.

[2021-02-15 10:27] GuillaumeGuerra commented on #5754
hi @serge-rider

Was this feature integrated within 7.3.5 version ?
I can't find the `Active Directory - Interactive` mode in the connection combo ...

Thanks a lot for the dev !

[2021-02-15 11:05] vmpaivin opened #11348 "Error connecting AWS Redshift: Invalid operation: column t.typcategory does not exist;"
#### System information:
Windows 10 64-bit
- DBeaver version 7.3.5.
- Additional extensions n/a

#### Connection specification:
- Database name and version AWS Redshift
- Driver name https://s3.amazonaws.com/redshift-downloads/drivers/jdbc/1.2.45.1069/RedshiftJDBC42-no-awssdk-1.2.45.1069.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:
 this h

[2021-02-15 11:05] acicchetti commented on #10347
Hi @serge-rider
today I have upgraded my version of DBeaver to 7.3.5 but the problem is still present.
Maybe it can be resolved?
Regards
Alessandro

[2021-02-15 11:32] moesio opened #11349 "Recent Sql Script does not open with CTRL + Enter while focus on Database Navigator"
#### System information:
- Linux Ubuntu 18.04
- DBeaver Version 7.3.5.202102141704
- No extra extensions

#### Connection specification:
- SQLServer 2016, Postgres 10 and MariaDB 10
- Driver name: Microsoft JDBC Driver for SQL Server, PostgreSQL JDBC Driver, MySQL/MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
While focus is on Database N

[2021-02-15 13:05] lemon-juice opened #11352 "Worse usability with combined SQL toolbar in 7.3.5 - bring back the old SQL Editor buttons"
I'd like to ask to bring back the old SQL toolbar buttons from before 7.3.5 or at least add a new separate button for the "New SQL script" action. This is the most often used action (at least in my case) - then why was it hidden behind a drop-down? An important thing is to have a one-click button for a new empty SQL editor.

The current combined toolbar button doesn't make sense, just have a look

[2021-02-15 13:07] LonwoLonwo opened #11353 "[Redshift] error reading Data types cache"
DBeaver 7.3.5

[code]

[2021-02-15 13:10] uslss commented on #11353
#11348

[2021-02-15 13:10] uslss commented on #11348
#11353

[2021-02-15 13:38] LonwoLonwo commented on #11348
We fix it.

As a workaround for now:
Enable this checkbox
![2021-02-15 16_38_19-Connection _dev 2_ configuration](https://user-images.githubusercontent.com/45152336/107953516-4bb2d000-6fac-11eb-8a3d-38194eb7043f.png)

[2021-02-15 13:47] vmpaivin commented on #11348
Good tip, thanks!

[2021-02-15 14:27] ShadelessFox commented on #9998
This is caused because the driver does not return any information about escapes for pattern strings.

We should fix this manually for generic dialects.

[2021-02-15 14:39] kseniiaguzeeva commented on #11309
verified

[2021-02-15 14:39] #11309 closed, assigned to LonwoLonwo

[2021-02-15 14:56] serge-rider commented on #11352
We did this to reduce number of elements in the main toolbar.
Multiple SQL editor opening commands confuse users, they don't know to action to use. We left only "Open recent/existing" as the most universal action.

In fact different users use different action to work with scripts. Some create new scripts all the time, others use just a couple of scripts, thirds never use toolbar at all and use sho

[2021-02-15 14:56] F0xD8rk opened #11357 "Oracle: error when editing trigger/package body/procedure/function and trying to persist it after creation"
- Operating system (distribution) and version: Windows 10 version 20H2 Build 19042.804
- DBeaver version: 7.3.5.202102141704

- Database name and version: Oracle database 12c
- Driver name: Oracle Client 12 - 12.2.0.1.0 - oracle.jdbc.OracleDriver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Description/Steps to reproduce the problem

First, I created a trigger by executing the corr

[2021-02-15 14:58] kseniiaguzeeva commented on #11173
verified

[2021-02-15 14:58] #11173 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-02-15 15:41] lemon-juice commented on #11352
I've tried to find some options to customize toolbars and as a long time user I wasn't able to find it until you pointed me to Window > Customize Perspective!

Yes, a new SQL toolbar would be great, even a single new button for a new script under the Database Toolbar would be fine. But to tell you the truth, I like the new combined toolbar very much and it would be fantastic except one thing - if

[2021-02-15 17:19] luizwhite commented on #10768
Everytime I update dbeaver i have to delete the folder to remove the error..

[2021-02-15 17:49] #11348 closed, assigned to nobody

[2021-02-15 18:08] A248 opened #11360 "Changes in sun.security.x509.AlgorithmId in JDK 15"
#### System information:
Mac OS X 10.14.6
JDK version OpenJDK 15.0.1+9

#### Connection specification:
n/a

#### Describe the problem you're observing:
* Building DbBeaver fails on JDK 15 because `sun.security.x509.AlgorithmId`, an internal JDK class, was changed.
* This also means that users cannot *run* DbBeaver or CloudBeaver on JDK 15, unless CertificateGenHelper is never called.

The field `m

[2021-02-15 18:12] serge-rider commented on #11353
Fixed.
Version 7.3.5 was re-released (can be downloaded from dbeaver.io)

[2021-02-15 18:33] kaelte commented on #11360
Same happens with newer Mac OS X:
[code]

[2021-02-15 18:37] brikikeks commented on #667
We have same functionality realized as "execute SQL" tool-script in UltraEdit.
This script start DB2 Script-Engine, redirect output in out.txt and open out.txt file with the output from all SQL statements.
Actually I start UltraEdit for SQL instead of dbeaver only if I need multiple results in one (text) document.

[2021-02-15 18:38] serge-rider commented on #1361
Unfortunately it is not possible to use remote version of dump/restore utilities.
They are just binaries, they must be invoked directly.
It is also not possible to access them from docker container (as container file system is isolated).

So the only solution is to have them locally. On Windows we download them on demand. On MacOS it is not really possible (because of MacOS security policy).

You

[2021-02-15 18:41] serge-rider commented on #1361
Yep. At least I'm quite a lazy person and I love UI :)

[2021-02-15 19:12] yan-hic commented on #10930
Same on 7.3.5...

@serge-rider I am not sure if this is really being looked at. Should be easy to fix as it worked before 7.3.2.
If identified, is there a planned release for the fix ? I am missing out a bunch of nice features since stuck with 7.3.1.

Thanks !!

[2021-02-16 01:26] adsk-stoddai commented on #7154
@uslss @serge-rider : was this closed because it was fixed? Or was it closed because it won't be fixed? It's still a huge security vulnerability. There doesn't appear to be a valid reason not to use `localhost` or `::1`. If this needs to be overridden for a debug console or other, it should be configurable. But the *default* option / behavior should be secure by design.

[2021-02-16 06:29] LonwoLonwo commented on #11348
Fixed.
Version 7.3.5 was re-released (can be downloaded from dbeaver.io)

[2021-02-16 07:18] LonwoLonwo commented on #10818
Hello @vicreal
Can you test new version 7.3.5? Probably the first two points could be corrected.

[2021-02-16 07:27] LonwoLonwo commented on #10362
Actual also for all key viewers.

[2021-02-16 07:41] kseniiaguzeeva opened #11361 "Tip of the day is not displayed on startup"
#### Steps to reproduce, if exist:
1. Be sure Show tip on startup is enabled
2. Relaunch DBeaver

Expected: tips are displayed
Actual result: tips are not shown and can be seen via Help menu

[2021-02-16 08:32] flambchap commented on #11310
Fixed. The affected dialog in the Exasol plugin is disabled, so my fix introduces no visible changes to it :)

[2021-02-16 08:34] flambchap commented on #10503
Fixed. The standard shortcut for _Context tools_ on macOS is `Ctrl+V` now.

[2021-02-16 08:59] LonwoLonwo commented on #10717
Hello @martea
According [MySQL documentation](https://dev.mysql.com/doc/refman/8.0/en/create-table-foreign-keys.html), "Restrict" and "No action" are the same.

[2021-02-16 08:59] #10717 closed

[2021-02-16 09:00] flambchap commented on #11361
It's a macOS-specific issue.

[2021-02-16 09:10] ems2811 opened #11362 "PostgreSQL: error with first selecting array temp table"
#### System information:
- Windows 7 Pro x64
- DBeaver 7.3.5.202102141704
- No additional extensions

#### Connection specification:
- PostgreSQL 9.5
- Standard JDBC PostgreSQL driver
- No tunnels or proxies

#### Describe the problem you're observing:
Error "Can't resolve data type _int4" at integer array field in temp table if you newer select arrays from other real tables in current connection.

[2021-02-16 10:06] zolovey commented on #6916
@serge-rider please change product name from "IQ SAP" back to "SAP IQ" in SQLServerMetaModel.java. (line 75)

Prior to version 16.1.040 product name was "Sybase IQ"

after that product is "SAP IQ"

[2021-02-16 10:12] Spoelle opened #11363 "Change back the SQL toolbar"
Why is the toolbar changed into a dropdown menu? Isn't handy in my opinion.

![image](https://user-images.githubusercontent.com/19902865/108048835-cb41ad00-7047-11eb-80e5-b8c3ce6ff37d.png)

[2021-02-16 10:27] uslss commented on #11363
thanks for suggestion.
close this issue as duplicate of #11352 .

[2021-02-16 10:27] #11363 closed, assigned to nobody

[2021-02-16 10:29] uslss commented on #11362
thanks for the report

[2021-02-16 10:31] #11310 closed, assigned to flambchap, uslss

[2021-02-16 10:44] #11353 closed, assigned to LonwoLonwo

[2021-02-16 12:05] pyrocks opened #11364 "Multi line comment not shown as comment"
#### System information:
- Operating system (distribution) and version:  Mac 11.2.1
- DBeaver version: 7.3.5

#### Connection specification:
- Database name and version: postgres 12.5 on RDS, but not relevant
- Driver name: default
- Do you use tunnels or proxies (SSH, SOCKS, etc)? not relevant

#### Describe the problem you're observing:
multi line comment not shown as comment

#### Steps to repr

[2021-02-16 12:07] knutwannheden opened #11365 "When exporting large ER diagram to SVG the result is cropped"
I had a look and I found this related issue: #3099 and I also found a comment explaining a workaround (see https://github.com/dbeaver/dbeaver/issues/3099#issuecomment-490088699), but I couldn't get it to work.

Please find attached the SVG as produced by DBeaver. When I open it with my system viewer (I have Chrom and Edge for Windows), it only shows one small part of the diagram. Zooming out doesn

[2021-02-16 12:09] knutwannheden commented on #11365
Here is the diagram as exported by DBeaver (I've zipped the SVG as GitHub wouldn't allow me to upload the SVG directly): [export.zip](https://github.com/dbeaver/dbeaver/files/5988418/export.zip)

[2021-02-16 12:19] iwantmyway opened #11366 "Create table from exisiting view"
Is there any ways to create a new table from a existing view ?

[2021-02-16 12:26] knutwannheden commented on #11365
Having absolutely no idea what I am doing, but I now set `<svg height="500%">` and that worked perfectly in my case.

[2021-02-16 14:29] m3dbedb opened #11367 "Dbeaver does not check os version"
#### System information:
- Operating system windows 7 32
- DBeaver version 7.3.5

#### Describe the problem you're observing:
i download universal binary, but it does not ask windows version and installs 64 bit

#### Steps to reproduce, if exist: double click on dbeaver.exe

[2021-02-16 15:12] bryan7087 commented on #11277
Sure, we can continue to use the 1.x driver.  Is this on the roadmap?

[2021-02-16 15:21] flambchap commented on #11339
Fixed.

[2021-02-16 15:38] 2019-05-10 opened #11368 "DBeaver CPU usage goes up over time even w/o much interaction"
#### System information:
- Operating system: Debian/SID
- DBeaver version: Version 7.3.5.202102141704
- Additional extensions:

#### Connection specification:
- Database name and version: Postgres 12
- Driver name:  postgresql-42.2.5.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

After about one hour or even less, DBeaver's CPU usage starts

[2021-02-16 15:57] uslss commented on #11367
We stopped delivering 32-bit packages of DBeaver CE since 6.0.1. Mostly because Eclipse platform stopped supporting 32-bit and because Java stopped this was well.

[2021-02-16 15:57] #11367 closed, assigned to nobody

[2021-02-16 15:57] kai-morich commented on #11257
not a bug. For each user a corresponding schema is created by HANA

[2021-02-16 16:03] uslss commented on #11366
Hi @iwantmyway ,
if I understand you correctly you could open view then choose Export data button in the Data viewer toolbar and choose Database tables as target type here
![image](https://user-images.githubusercontent.com/31996417/108088277-54c59f00-7089-11eb-8ca7-17af07c705ee.png)
Then you should choose target container you need and new table name.
![image](https://user-images.githubusercontent.

[2021-02-16 16:15] uslss commented on #11364
thanks for the report

[2021-02-16 16:25] uslss commented on #11342
Hi @Shallyz ,
1. Did you choose Reset UI in the installer during upgrading?
2. As I can see, the last used folder is used for file saving/opening. Or do you mean some special case?
3-4. #10911 issue is already created.

[2021-02-16 16:27] uslss commented on #11347
thanks for the suggestion.
Hope it will be implemented in the nearest future

[2021-02-16 16:52] klausdietel opened #11370 "Lower case schema name had empty procedure folder"
Hello,
im Working with snowflake and in schema PUBLIC I can see my procedures. But in schema "lcase" i cannot see the procedures.
CREATE SCHEMA "lcase" CLONE  PUBLIC ;
procedure foldes is empty
CREATE SCHEMA UCASE CLONE  PUBLIC ;
procedure folder is filled.
![schema-Ohne-Proc](https://user-images.githubusercontent.com/64849460/108094194-d532d280-707e-11eb-93f9-69cdbced9ee2.png)

I can see the quer

[2021-02-16 17:07] lnicola opened #11371 "System-wide plugin (SSHJ) doesn't load on Linux"
#### System information:
- Operating system: Arch Linux
- DBeaver version: 7.3.3.202101231610
- Additional extensions:
  - `dbeaver-plugin-bouncycastle`
  - `dbeaver-plugin-sshj-lib`

#### Connection specification:
- PostgreSQL

#### Describe the problem you're observing:

I've installed the SSHJ plugin using my package manager (I prefer that DBeaver lags behind the official releases and it's not

[2021-02-16 17:08] jsh-de commented on #6236
For the archives: I tripped on this bug with a software of mine today, I was still running Windows 10 1909 (not sure why Windows auto-update hadn't happened yet). I updated my Windows to 20H2 using the Update Assistant, and joyfully note: the bug seems to have been fixed by Microsoft: KeyDown-events for CTRL-ALT-SHIFT-F do occur again.

[2021-02-16 18:14] maritogaleano commented on #11257
![image](https://user-images.githubusercontent.com/57814047/108104042-8b8bbd00-7069-11eb-921b-70e7d16144f4.png)
Analyzing in the native tool that Hana offers, which is SAP Hana Studio, for each user accessing a certain schema, it does not do that.

[2021-02-16 18:27] sravikrishna3 opened #11374 "dbeaver 7.3.5 gives a warning at the time of connection to Redshift database"
#### System information:
- MacOS Big Sur
- dbeaver 7.3.5
- Additional extensions

#### Connection specification:
- Redshift latest version
- redshift-jdbc42-2.0.0.2.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
At the time of connecting to Redshift we get a bogus working about missing col t.typcategory

#### Steps to reproduce, if exist:

##

[2021-02-16 18:28] sravikrishna3 commented on #11374
![image](https://user-images.githubusercontent.com/44801660/108105655-e4078e00-705a-11eb-8f3d-06ff36b3b97e.png)

[2021-02-16 18:29] sravikrishna3 commented on #11374
However it seems to be working fine.

[2021-02-16 18:40] sravikrishna3 commented on #11374
2021-02-16 13:22:40.988 - Connection failed (postgres-redshift-jdbc-177ac147ec5-439c972847d9e15c)
2021-02-16 13:22:40.989 - org.jkiss.dbeaver.DBException: SQL Error [42703]: ERROR: column t.typcategory does not exist
org.jkiss.dbeaver.DBException: SQL Error [42703]: ERROR: column t.typcategory does not exist
	at org.jkiss.dbeaver.ext.postgresql.model.PostgreDatabase.cacheDataTypes(PostgreDatabase.

[2021-02-16 19:15] serge-rider commented on #11374
Duplicate of #11353
It was already fixed and hotfix version was released (you just need to re-download version 7.3.5)

[2021-02-16 19:16] #11374 closed, assigned to nobody

[2021-02-16 19:34] Sargul commented on #10775
PR should enhance the reporting of the error. I tested with the provided script pre-fix and post-fix.

Post-fix the error is displayed in a prominent way but nevertheless the transaction is rolled back but DBeaver still shows 2 open statements

![image](https://user-images.githubusercontent.com/5595511/108112428-5b0e4800-7096-11eb-813b-27f7d9c5044a.png)

[2021-02-16 20:07] Sargul commented on #11330
added dialect implementation for double square brackets
pre dialect rule:
![image](https://user-images.githubusercontent.com/5595511/108115732-d3770800-709a-11eb-9000-d9175cdc19ff.png)
post dialect rule:
![image](https://user-images.githubusercontent.com/5595511/108115772-dffb6080-709a-11eb-8758-11d382654cb6.png)

[2021-02-16 21:50] vincent-smit commented on #5754
@GuillaumeGuerra I don't think so. I am actually also waiting for this feature!

[2021-02-16 21:51] rolivares commented on #10852
upgrading to v7.3.5 causes same error , I've downgrade to 7.3.4 (after delete all related files) works for me.

uninstalling and reinstalling v7.3.5 did not work

[2021-02-16 22:06] vicreal commented on #10818
Tested **7.3.5** version on **uint** types: first and second problems solved.
Custom data types can be written or checked in the selection list (custom data types present in selection list).

Geomerty and geography types (from Postgis extension) is also [present](https://github.com/dbeaver/dbeaver/issues/6110) in selection list.

[2021-02-17 00:57] tnatssb commented on #8909
How do we know which drivers support this? For example, in Presto/Trino, with this option on, it doesn't add the limit and issues a cancel to the cluster.

[2021-02-17 04:31] Shallyz commented on #11342
Hi,
1. No, I always make sure that the reset won't be checked. I think it happens if I do install and not closing the application, so the installation stopped and waiting for me to close the application and then continue (this is what happened last time when it happens). 2. Every time I open the application, at the first time it goes to C:\Users\shally.zarzar, how can I change that?
Thanks
    On

[2021-02-17 07:19] uslss commented on #11368
probably, could be related to #11089
Can you make a [thread dump](https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump) in case the issue appears again?

[2021-02-17 07:23] uslss commented on #11370
thanks for the report

[2021-02-17 07:29] kai-morich commented on #11257
looks like HANA Studio filters out schemas where SYS.SCHEMAS.HAS_PRIVILEGES = FALSE, as one may see objects in that schema but no content.

Could be implemented here as a convenience feature.

[2021-02-17 08:05] icofalc opened #11377 "Generate insert sql from command line"
It would be awesome to generate insert sql statements from selected query directly from command line and not by passing from the right-click and then generate and so on.
Is there any way to do it?
thanks.

[2021-02-17 08:44] bcm5645 opened #11378 "Disregarding of statements delimiter character"
#### System information:
- Operating system Win10 20H1
- DBeaver version 7.3.3, but issue seems to be from 7+ versions
- Java version 8

#### Connection specification:
- Database name and version Oracle 12c

#### Describe the problem you're observing:
I'm working on daily basis with incremental SQL file, where i put my statements to work with.
Right now my file has 30k lines (average ~4 lines per

[2021-02-17 08:50] serge-rider opened #11379 "SQL column value auto-completion bug"
When we query column values to fill auto-complete proposals:
- Quotes sometimes inserted incorrectly
- We must respect spaces inside values
- Auto-complete doesn't work when quote char is not present
- Auto-complete doesn't work inside strings (inside single quotes)

Sample: `SELECT from table where column1 like <ctrl+space>`.

[2021-02-17 08:53] ctrlaltca commented on #7154
It has been fixed, at least for the RMI port:
https://github.com/dbeaver/dbeaver/issues/10944

[2021-02-17 09:09] kseniiaguzeeva commented on #10503
verified

[2021-02-17 09:09] #10503 closed

[2021-02-17 09:21] bcm5645 opened #11380 "Searching for named parameter in apostrophe delimited string"
**Is your feature request related to a problem? Please describe.**
Working with statements like
**SELECT id from employee where  name = '&Employee_name'**
cause it to not showing Bind parameters window, since parameter name is "hidden" in string.
This is how it works in Oracle's sqldeveloper, and would be very nice to have such feature implemented.

**Describe the solution you'd like**
When execut

[2021-02-17 09:45] LonwoLonwo commented on #8080
We have updated Liquibase version to 4.2, but unfortunately this did not solve the problem.

This is partly a problem of the MariaDB driver, which always returns 3 as column size for columns TINYINT type. And now this is partially a problem of Liquibase, which does not return parameters for TINYINT for MariaDB.

Now comparison with similar columns looks something like this:
![2021-02-17 11_49_08-S

[2021-02-17 09:45] #8080 closed

[2021-02-17 09:56] rokopi-byte opened #11381 ""calculate column width by cell values" missing in Dbeaver 7.3.5"
#### System information:
- Operating system (distribution) and version: Ubuntu 16.04
- DBeaver version: 7.3.5 CE

#### Describe the problem you're observing:
Hi, I cannot find the option "calculate column width by cell values" in my DBeaver, I need fit the result-set columns to their content. Is this option deprecated or only available in EE ? Thanks

[2021-02-17 10:29] LonwoLonwo commented on #11381
Hello @roccopietrini
Are you looking for this setting?
![2021-02-17 13_28_11-DBeaver Enterprise 7 3 5 - language](https://user-images.githubusercontent.com/45152336/108191375-1b8e3d00-7124-11eb-8613-12ae55b060ba.png)

[2021-02-17 10:34] rokopi-byte commented on #11381
Yes exactly! Thank you!
Anyway I have a column that doesn't fit its content, it's a long url.. there is maybe a limit ?

[2021-02-17 10:49] F0xD8rk opened #11382 "Oracle: Table triggers section keeps loading forever"
**System information:**
- Operating system (distribution) and version: Windows 10 version 20H2 Build 19042.804
- DBeaver version: 7.3.5.202102141704

**Connection specification:**
- Database name and version: Oracle database 12c
- Driver name: Oracle Client 12 - 12.2.0.1.0 - oracle.jdbc.OracleDriver library 21.1.0.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

**Describe the problem you'

[2021-02-17 12:07] maritogaleano commented on #11257
@kai-morich It would be ideal to include it as an update, because then it becomes somewhat confusing when you have multiple users

[2021-02-17 12:30] LonwoLonwo commented on #11362
Fixed in 21.0.0
Will be available [here](https://dbeaver.io/) on 2021-03-01

[2021-02-17 12:42] LonwoLonwo commented on #11381
It can be limit of the column. Like varchar(100), which can contains only 100 symbols.
What data type does your column have?

[2021-02-17 12:51] LonwoLonwo commented on #11382
Hello @F0xD8rk
On this tab, we read triggers for all tables in this schema. How many tables contains your schema?

[2021-02-17 12:57] F0xD8rk commented on #11382
Hello @LonwoLonwo
We have around 6000 tables in that schema, however not every table contains triggers.
That is still a lot of course, so maybe this causes issues for Dbeaver because of the large amount?

[2021-02-17 13:03] LonwoLonwo commented on #11382
So, problem is clear(We must transfer the trigger cache to the schema), we will fix it in next releases.

[2021-02-17 13:03] 2019-05-10 commented on #11368
ZIP with
thread-dump.txt
dbeaver.ini

[foo.zip](https://github.com/dbeaver/dbeaver/files/5995777/foo.zip)

BTW: the thread dump site could use a clarification that the complex construct of ```ps ...awk``` is supposed to produce the PID of the JAVA process running DBeaver.

[2021-02-17 13:06] F0xD8rk commented on #11382
@LonwoLonwo
Ok, thank you!

[2021-02-17 13:30] rokopi-byte commented on #11381
Maybe I was misunderstood.. my data is fine, that column contains my data entirely (it's a varchar(512)).. but when I visualize the result-set, even with the above option enabled, I have to click on a single cell of that column to view entirely the content of that cell in tab "value", otherwise in tab "result" the column is truncated..

![Screenshot from 2021-02-17	14-24-10](https://user-images.gi

[2021-02-17 13:43] lukaseder opened #11384 "Wrong syntax highlighting for BigQuery string literals containing escaped characters"
#### System information:
- **Operating system (distribution) and version:** Microsoft Windows [Version 10.0.19042.804]
- **DBeaver version:** 7.3.5.202102151746
- **Additional extensions:** N/A

#### Connection specification:
- **Database name and version:** BigQuery
- **Driver name:** Simba BigQuery driver
- **Do you use tunnels or proxies (SSH, SOCKS, etc)?** No

#### Describe the problem you're

[2021-02-17 13:59] BytesBytes opened #11385 "Simple Compare schema's: skip not null constraints in Oracle."
**Is your feature request related to a problem?** No
When comparing 2 Oracle schema's, the not null constaints are always missing. When creating a table, a developer can set columns to not null (create table tab1 (col1 number not null)) . Oracle translates this in a check constaint with a generated name "SYS_C" +   a number.  When creating the same table on another schema,  the constraint check wi

[2021-02-17 14:22] LonwoLonwo commented on #11337
A value in the field is correct - this is a sequence that will create a new value for this column.
But it's confusing, apparently.
Someday we will come up with something to replace it with.

[2021-02-17 14:22] LonwoLonwo commented on #10818
Yep, thanks.

[2021-02-17 14:27] LonwoLonwo commented on #11385
Thanks for report.
Unfortunately we don't now how make it better.
May be, some day.

[2021-02-17 14:33] #10775 closed

[2021-02-17 15:08] LonwoLonwo commented on #11385
Also you can use [Schema compare](https://github.com/dbeaver/dbeaver/wiki/Schema-compare) in [EE version](https://dbeaver.com/).

![2021-02-17 18_04_48-(PostgreSQL 13) 4 artifacts with user base types · Issue #10818 · dbeaver_dbeave](https://user-images.githubusercontent.com/45152336/108223375-cf0a2800-714a-11eb-924c-378a909f92a4.png)

There are PK, UK and FK here, but there are no NOT NULL Constr

[2021-02-17 15:24] mvdk-cph commented on #4483
Happens on 7.3.5.202102151746 as well. However, having enabled "Show key binding when command is invoked Through keyboard", the key binding (C-a, C-e, C-p, C-n) is actually shown.

[2021-02-17 16:14] pgodfrin-nov commented on #10971
Any thoughts about a Solarized theme (dark too)?

[2021-02-17 17:00] eliodamico opened #11389 "open SQL script in perspective"
I'm frustrated with the last update 7.3.5.202102141704 which substituted all the script icons with a drop down menu. The action that I perform the most is to open a new script on one of several DB I have to query. Now I have to do double action (open the menu and choose the action). I do not understand the rationale since no space was saved (the size of the drop down menu is equivalent with the ro

[2021-02-17 17:37] danilort opened #11390 "Error using "filter by column value" AND alias"
#### System information:
- Operating system (distribution) and version: Windows 10 versione 1909 build 18363.1316
- DBeaver version: DBeaver Community 7.3.5.202102151746 (and 7.3.0)
- Additional extensions: NULL

#### Connection specification:
- Database name and version: MySQL 8.0.21
- Driver name: Driver for MySQL 8 and later
- Do you use tunnels or proxies (SSH, SOCKS, etc): NULL

#### Describe

[2021-02-17 18:33] kylewhittaker17 opened #11391 "SQL Error [08006]: An I/O error occurred while sending to the backend."
#### System information:
- Windows 10 Enterprise 1909
- DBeaver version 7.3.5

#### Describe the problem you're observing:
Not sure exactly what the issue is, but if a Query takes longer than 2 mins I get this error

Error Log:
org.jkiss.dbeaver.model.sql.DBSQLException: SQL Error [08006]: An I/O error occurred while sending to the backend.
	at org.jkiss.dbeaver.model.impl.jdbc.exec.JDBCStatementI

[2021-02-17 18:37] danilort commented on #11390
Could you replace WHERE with HAVING?

[2021-02-17 19:28] kstrophus opened #11392 "MS SQL Server - Evaluate SQL expression force injects SELECT into statement"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 7.3.5
- Additional extensions: None

#### Connection specification:
- Database name and version: MSSQL 2012
- Driver name: Microsoft JDBC Driver for SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Any attempt to evaluate a SQL statement

[2021-02-17 19:47] stevepowell2000 opened #11393 "Changing ERD Setting Print Page Mode disables Printing"
#### System information:
- Operating system (distribution) and version - Win 10
- DBeaver version 7.3.2.202101032114
- Additional extensions  n/a

#### Connection specification:
- Database name and version - N/A. This is an ERD issue
- Driver name - N/A. This is an ERD issue
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  - N/A. This is an ERD issue

#### Describe the problem you're observing:

[2021-02-17 20:14] rogeriao opened #11394 "database crashing when used by a windows dbeaver client"
Hi

I have a DB2 database that crashes every time someone connects from a Windows Dbeaver client.

Some facts observed so far

1) The problem only happens with a particular database
I can connect and do whatever needed in other databases from the same windows clients
2) I can reproduce the problem as needed
3) It does not take much to crash the database: any query submitted or even expanding the l

[2021-02-17 22:00] carsongregory opened #11395 "Mac OS Support Command-M hotkey to minimize"
Requesting to please add support for hotkey `Command-M` to minimize DBeaver application window on Mac OS.

This is a convention followed by most apps.

Thank you!
Carson

[2021-02-17 23:37] aguerra72 opened #11396 "error in dbeaver-ce-7.3.5-x86_64"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-02-18 01:15] moesio commented on #11349
I'll try give more details about how reproduce.

- Open DBeaver
- Keep view **Database Navigator** focused
- Navigate to a connection
- Keep focus on a connection
- Press **CTRL + Enter**

It should open a **Recent Sql Editor**, as context menu indicates, but opens tree in that connection instead. The behaviour is as I press only **Enter**
If focus is on a database inside a tree of opened connecti

[2021-02-18 01:51] wangjingyv opened #11397 "SQL Format Issue"
![image](https://user-images.githubusercontent.com/31919725/108292023-41701c00-71ce-11eb-8bd1-e57f7997bc02.png)
The key word "case" have no space before it after I format the sql.
Maybe there should be four Spaces in front of "case".

[2021-02-18 05:55] kentore82 opened #11398 "Redis ACL, how to set username in Redis connection?"
#### System information:
- Operating system MacOS Big Sur
- DBeaver version EE 7.3.0

#### Connection specification:
- Redis server 6.0.7
- Redis
- Redis with username/password with SSL

#### Describe the problem you're observing:
Unable to connect to Redis with ACL (username, password). There is no dialogue box to input username. Also the "Edit driver settings" seems read only. Is this supported?

[2021-02-18 06:17] jaredMericka commented on #4577
Why is this closed when it hasn't been fixed? Being unable to easily close tabs in bulk is such a disruption. The console does not solve this.

[2021-02-18 07:45] kseniiaguzeeva commented on #11143
Will be fixed in future milestones. As a workaround you can use another column name.

[2021-02-18 07:50] kseniiaguzeeva commented on #11227
Looks like a bug. We are going to fix it. As a workaround please try to use manual refresh to see correct files.

[2021-02-18 07:59] kseniiaguzeeva commented on #11242
Do you have any object opened in Data Editor when you launch DBeaver? If yes, please try to disable Restore editor state on startup (in Preferences>User interface>Editors) or close objects before exiting DBeaver.
![Screenshot 2021-02-18 at 10 55 38](https://user-images.githubusercontent.com/51405061/108323658-f9ee8d80-71d7-11eb-9f71-e34a80141431.png)

[2021-02-18 08:01] yiding-he opened #11399 ".ERD files won't be saved as UTF-8 encoding"
#### System information:
- Operating System: Windows 10
- DBeaver version: 7.3.5
- Additional extensions: None

#### Connection specification:
(irrelevant)

#### Describe the problem you're observing:
My OS default charset is CP936. And ER Diagram files (*.erd) won't be saved as UTF-8 no matter how I change file type settings. The header of the .erd file is `<?xml version="1.0" encoding="UTF-8"?>`

[2021-02-18 08:01] kseniiaguzeeva commented on #11255
Thank you for your suggestion.

[2021-02-18 08:01] F0xD8rk commented on #11357
In the meanwhile I also noticed this problem when creating a package.
When using the SQL editor:
- When creating a package using _CREATE OR REPLACE PACKAGE ..._, the delimiter is set correctly in the declaration when viewing the properties.
- When creating a package body using _CREATE OR REPLACE PACKAGE BODY_, the delimiter is _not_ set automatically (same problem as the described issue above) and

[2021-02-18 08:02] kseniiaguzeeva commented on #11268
Thank you for your report.

[2021-02-18 08:08] kseniiaguzeeva commented on #11269
Thank you for the report. It is an eclipse bug, and we should wait for fix from its side.

[2021-02-18 08:15] kseniiaguzeeva commented on #11278
Looks like DBeaver special feature. Please try to disable option **Extract SQL from source code** in Preferences>Editors>SQL Editor>Code Editor. It should help.
![Screenshot 2021-02-18 at 11 10 08](https://user-images.githubusercontent.com/51405061/108325402-1986b580-71da-11eb-9860-2c61b4e97927.png)

[2021-02-18 08:39] uslss commented on #11362
verified

[2021-02-18 08:39] #11362 closed, assigned to uslss, LonwoLonwo

[2021-02-18 08:42] uslss commented on #11339
verified

[2021-02-18 08:42] #11339 closed, assigned to flambchap, uslss

[2021-02-18 08:44] uslss commented on #11396
@aguerra72 , could you provide some additional info?

[2021-02-18 08:47] uslss commented on #11397
Hi @wangjingyv ,
unfortunately cannot reproduce an issue.
Could you provide what formatted and dbeaver version do you use?

[2021-02-18 08:49] uslss commented on #11394
hi @rogeriao ,
what db2 driver do you use? is there something in dbeaver logs?

[2021-02-18 08:52] flambchap commented on #11361
Fixed. Now we do not attempt to show the TotD window if DBeaver is started for the very first time.

[2021-02-18 08:52] uslss commented on #11393
thanks for the report

[2021-02-18 08:53] flambchap commented on #10480
Fixed.

[2021-02-18 08:53] AntonTrapp commented on #11242
Thank you for your answer. Yes, this setting seems to be activated by default. It still is (I disabled it now). But like described above I was able to get rid of the problem by starting dbeaver with a connection to the 1 problematic DB and disconnected/reconnected the DB again and the problem was gone. It does not seem to happen any more (and never happened for any other connection - most of my co

[2021-02-18 08:53] #11242 closed, assigned to nobody

[2021-02-18 08:55] uslss commented on #11392
thanks for the report

[2021-02-18 08:58] uslss commented on #11391
Hi @kylewhittaker17 ,
could you try to change keep-alive in connection properties and check if it helps?
![image](https://user-images.githubusercontent.com/31996417/108332239-9fa5fa80-71e0-11eb-8bf5-0783d94a7ad0.png)

[2021-02-18 09:26] kseniiaguzeeva commented on #11283
Thank you for the report.

[2021-02-18 09:34] uslss commented on #11389
thanks for suggestion
it will be implemented in the scope of #11352

[2021-02-18 09:34] #11389 closed, assigned to nobody

[2021-02-18 09:39] uslss commented on #11384
thanks for the report

[2021-02-18 09:45] kseniiaguzeeva commented on #11285
Please tell, how (and where) do you set SSL connection in DBeaver?
Also logs can be helpful https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-02-18 09:46] uslss commented on #11380
thanks for the suggestion
as a workaround, you could change the prefix to '&' in properties and use it not hidden in the string
![image](https://user-images.githubusercontent.com/31996417/108338350-370e4c00-71e7-11eb-90b4-36d75f77647d.png)

[2021-02-18 09:47] kseniiaguzeeva commented on #11303
Please tell what do you have in driver settings?
![Screenshot 2021-02-18 at 12 46 12](https://user-images.githubusercontent.com/51405061/108338484-5c9b5580-71e7-11eb-80fe-d0658f206d56.png)

[2021-02-18 09:49] kseniiaguzeeva commented on #11307
Most probably you have enabled option Auto-sync connection with Navigator. Try to disable it.
![Screenshot 2021-02-18 at 12 48 21](https://user-images.githubusercontent.com/51405061/108338785-b1d76700-71e7-11eb-8737-f9f4ccd048ca.png)

[2021-02-18 09:50] kseniiaguzeeva commented on #11313
Thank you for the report @p91paul

[2021-02-18 09:57] kseniiaguzeeva commented on #11314
We will implement it, but most likely only at the end of the spring. Upcoming releases are overloaded.

[2021-02-18 09:59] kseniiaguzeeva commented on #11315
No, it is not possible.

[2021-02-18 09:59] #11315 closed, assigned to nobody

[2021-02-18 10:00] kseniiaguzeeva commented on #11320
Please send log files https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-02-18 10:03] kseniiaguzeeva commented on #11327
We are going to implement it. While please try to change Oracle properties in connection settings as a workaround.
![Screenshot 2021-02-18 at 13 02 13](https://user-images.githubusercontent.com/51405061/108340388-966d5b80-71e9-11eb-9086-5c029cb4204f.png)

[2021-02-18 10:04] mzatko commented on #11307
Oops, I didn't change this setting as far as I remember. I didn't even notice it exist. However I cannot be perfectly sure, of course...
Thank you very much, Ksenia.
Closing the issue...

[2021-02-18 10:04] #11307 closed, assigned to nobody

[2021-02-18 10:05] kseniiaguzeeva commented on #11331
Thank you for the suggestion. We will implement it.

[2021-02-18 10:07] kseniiaguzeeva commented on #11333
It is the expected behavior at this time. But we should make an enhancement in the future.

[2021-02-18 10:16] kseniiaguzeeva commented on #11338
1. Could you please see which query gives so long execution time (Window>Show view>Query manager)?
![Screenshot 2021-02-18 at 13 11 46](https://user-images.githubusercontent.com/51405061/108341648-ec8ece80-71ea-11eb-89e0-ebf1f0d38e09.png)

2. Try to disable **Read table metadata** and **Read table preferences** in Preferences>Data Editor
![Screenshot 2021-02-18 at 13 13 34](https://user-images.git

[2021-02-18 10:20] kseniiaguzeeva commented on #11341
It is already available in Enterprise Edition https://dbeaver.com/download/.
![Screenshot 2021-02-18 at 13 19 39](https://user-images.githubusercontent.com/51405061/108342581-0250c380-71ec-11eb-8d79-bea9000ed8a5.png)

[2021-02-18 10:20] #11341 closed, assigned to nobody

[2021-02-18 10:22] kseniiaguzeeva commented on #11345
We will implement the feature. Thank you for not forgetting it.

[2021-02-18 10:32] graczykdamian opened #11403 "Netezza - procedure source code from wrong schema"
#### System information:
- Operating system: MS Windows 10
- DBeaver version 7.3.4

#### Connection specification:
- Netezza
- nzjdbc

#### Describe the problem you're observing:
I have procedures in different schemas with same name but different bodies. For example: in schema ADMIN, I keep current version of procedure X, in schema OBSOLETE we keep previous X with earlier version of code for backu

[2021-02-18 10:43] eli-tsikel commented on #8268
Same happen to me in 7.5.3

[2021-02-18 10:47] haugs commented on #11333
Thanks for looking at this issue.
I don't really understand how it can be the expected behavior. In the connection settings I select database A and I end up being connected to database B.
I understand although that technically this could be not as simple as it looks for the user.
I guess that "show all databases" changes the way DBeaver connects with the database and that "selecting a database" th

[2021-02-18 10:49] kseniiaguzeeva commented on #10826
It is not a bug, you can set a date format in preferences>Editor>Data Editor>Data formats https://dbeaver.com/docs/wiki/Managing-Data-Formats/

[2021-02-18 10:49] #10826 closed, assigned to nobody

[2021-02-18 11:04] kseniiaguzeeva commented on #11340
Most probably **Open separate connection for each editor** is enabled in Oracle together with Auto-sync connection with navigator. Try to disable it.
![Screenshot 2021-02-18 at 14 01 48](https://user-images.githubusercontent.com/51405061/108347874-20212700-71f2-11eb-835c-cff44f8e44db.png)

[2021-02-18 11:10] ceinmart commented on #10987
Now I understand what I need to do.. .add the http://download.eclipse.org/mpc/releases/1.9.0 as source and get the marketclient from there...

[2021-02-18 11:25] slash851 commented on #988
For those using Ubuntu 20.10
I had the same problem with permissions when using DBeaver insalled from Ubuntu Software (snap version)

Solution that works for me:

1. Uninstall snap version of DBeaver from Ubuntu Software panel.
2. Go to: https://dbeaver.io/download/
3. Download DEB **Linux Debian package 64 bit (installer)** (https://dbeaver.io/files/dbeaver-ce_latest_amd64.deb)
4. Simply double c

[2021-02-18 11:29] foxbit19 commented on #988
Yes, I've done it exactly in that way and it works!
We have to forgot the snap edition for now.

[2021-02-18 12:27] lukaseder opened #11404 "Cannot really change BigQuery driver version"
#### System information:
- **Operating system (distribution) and version**: Microsoft Windows [Version 10.0.19042.804]
- **DBeaver version**: 7.3.5.202102151746

#### Connection specification:
- **Database name and version**: BigQuery
- **Driver name**: Simba
- **Do you use tunnels or proxies (SSH, SOCKS, etc)?**: No

#### Describe the problem you're observing:

I'd like to upgrade the Simba drive

[2021-02-18 12:31] clabnet commented on #4896
Also for me it is a good idea.

[2021-02-18 12:49] rogeriao commented on #11394
hi @uslss

DB2 driver:

IBM DB2 JDBC Universal Driver Architecture 3.62.56

Here is the log
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/6002852/dbeaver-debug.log)

[2021-02-18 13:28] jyinpci commented on #11340
Kseniia,
Thank you for your prompt response.  I did have the “Open separate connection for each editor” unchecked”.  Could it be overridden by some other settings related to Oracle?  I never had this issue with Postgresql until I added Oracle.
BTW, I am using the Community edition.

[2021-02-18 14:23] aisbergde commented on #10654
It is hard to use dbeaver for new Windows users, if it is not possible to change some settings, for example the language. And the readme is poor about this. There is a bit about `-data` option, but this is doesn't work for the language settings.

I tried

and it looks like different workspaces are used. There are also some folders `.metadata` created. But whenever I try to change the language I ge

[2021-02-18 14:51] serge-rider commented on #11103
Both new documents and existing documents editor were fixed.
Additionally complex structured attributes editor was added

[2021-02-18 14:51] #1361 closed

[2021-02-18 14:52] serge-rider commented on #9309
@zhicwu thank you for the update

[2021-02-18 15:01] ShadelessFox opened #11405 "[Oracle] Tablespaces statistics is missing after refreshing the object"
#### Connection specification:
- Database name and version Oracle 12.2 (any database, really)

#### Describe the problem you're observing:
The object statistics disappear after refreshing the object is is related to.

#### Steps to reproduce, if exist:
1. Open tablespaces
2. Select tablespace or folder
3. Hit refresh / `F5`
4. Hover mouse over statistics on the right and watch it disappear

[2021-02-18 15:21] ShadelessFox commented on #9968
That's a bit tricky since most databases simply don't treat `SHOW` as qualified statement or treat it partially. For example, we can't read row count of a `SHOW` statement because it cannot be wrapped into sub-query. Same for ordering, filtering and etc.

In case of MariaDB, we can use `WHERE` clause with `SHOW VARIABLES`, but can't with `SHOW PROCESSLIST`.

[2021-02-18 15:35] LonwoLonwo commented on #11403
Thanks for the bug report! We need to read procedure definitions more precisely.

[2021-02-18 16:10] vlad88sv commented on #8745
I have the same with Aurora MySQL
![image](https://user-images.githubusercontent.com/91489/108385388-3bc80580-71d1-11eb-8caa-6a30dfe24037.png)

Tried with and without tunnel, the only solution is to close and re-open DBeaver EE 7.3

It can hang in there indefinitely doing some light-medium CPU usage
![image](https://user-images.githubusercontent.com/91489/108385544-6619c300-71d1-11eb-965f-569852b6

[2021-02-18 16:10] rdewolff commented on #11103
Thanks @serge-rider for the update. Was this released in a new version already?

[2021-02-18 16:55] BytesBytes opened #11408 "No difference in Procedures and functions in overview (oracle)"
**Is your feature request related to a problem? Please describe.**
At the moment there doesn't seem to be a difference between procedures and functions (working on Oracle databases) in the connection overview. We have about 1400 procedures and 2000 functions. Even when using the filter, finding the right function for example costs extra time because several procedures occur in the overview as well

[2021-02-18 17:17] aguerra72 commented on #11396
yes.. sorry

the problem is in this component
[image: image.png]

when i upgrade dbeaver to new version, the  program detect Excel plugin and
try to install... when restart it, stay in hang and loop

my solution is unistall all componentes... and reinstall from zero

sorry for my english !! :)

El jue, 18 feb 2021 a las 3:44, Dziyana (<notifications@github.com>)
escribió:

--
Angel Alberto Guerra

[2021-02-18 18:24] veeeetl commented on #11143
I don't need a work around. This type of error is not ui -- or cosmetic It
leads users to question the core use case of your tool, which is to simply
send queries to a database and output results.

The fact that your application is altering statements sent to the redshift
cluster without knowledge of the user is a serious concern.

Despite all the pretty tabs and windows and cute beaver logo you p

[2021-02-18 18:30] kylewhittaker17 commented on #11391
Hi @uslss,
Thanks for the tip, I set it to 10,000 and still the error comes at around 180s into the query.
Do you have any other suggestions?

[2021-02-18 18:48] aisbergde opened #11409 "wrong documentation? cell editor doesn't work as described in the WIKI - it is not available and missing in context menu."
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version 7.3.5.202102141704
- Additional extensions
-
#### Connection specification:
- Database name and version: SQL Server 2019
- Driver name: I don't know where to find this information. dbeaver installed something when I first time connected to an SQL Server
- Do you use tunnels or proxies (SSH, SOCKS,

[2021-02-18 18:50] ghYura commented on #11345
in addition:
Bold text would be more contrast for the eye

[2021-02-18 18:58] sdudnic opened #11410 "Please allow to save (not export as image!) ER Diagrams in"
When I created a ER diagram, arranged all the tables, is there a way to save that configuration? I would like to reopen the diagram and to refresh it, but I don't want to restart a new ER diagram from the beginning

[2021-02-18 21:50] p91paul commented on #11314
fair enough! keep with the good work!

[2021-02-18 22:14] p91paul commented on #11143
As a fellow user, I think from your words there might be some misunderstanding here. The developers are acknowledging the bug (which is actually a bit nasty), scheduling it for a future release, and giving you a workaround to be able to continue using the tool until the bug is properly fixed. You can follow planning by heading to the milestones page!

[2021-02-18 22:16] Delisadmiller commented on #11143
On Thu, Feb 18, 2021 at 4:14 PM Paolo Inaudi <notifications@github.com>
wrote:

--
null

[2021-02-19 00:00] urack opened #11414 "DBeaver Version 7.3.5.202102151746 Error executing tool Dump database on Linux Mint 20.1 x86_64"
DBeaver Version 7.3.5.202102151746

Error executing tool Dump database mariadb Reason java.lang.NullPointerException

Linux Mint 20.1 x86_64
Mariadb version Server version: 10.3.25-MariaDB-0ubuntu0.20.04.1 Ubuntu 20.04
mariadb-java-client-2.7.2.jar

anyone have similar case here? Not able to find answer after google for several hours.

Error screen capture:

Here are the error logs

!ENTRY org.jki

[2021-02-19 04:31] jfreidkes-CA opened #11415 "dbeaver 7.3.5 not running on Mac OS Big Sur 11.2.1"
Hey all!
Maybe this is related to this issue: [https://github.com/dbeaver/dbeaver/issues/10345](https://github.com/dbeaver/dbeaver/issues/10345), but involving different versions (both OS and dbeaver).

### System information:
- macOS Big Sur 11.2.1
- DBeaver version 7.3.5

<img width="539" alt="Screen Shot 2021-02-19 at 01 21 48" src="https://user-images.githubusercontent.com/71668181/108457828-0

[2021-02-19 07:49] serge-rider opened #11416 "Splash screens and icons update"
New ones for version 21.

[2021-02-19 07:58] Carlos-SS-PMI opened #11417 "How to work with many MySQL server versions?"
Hi!
DBeaver is an excellent tool for manage many databases, and I want to use as much as possible.

I work with many MySQL versions (from 5.1 to 8.0.22) and I found a great mistake in "Driver manager" section. As you knowns, MySQL jar drivers 8 can't connect to MySQL 5.1 databases, and viceversa.

Steps:
In "Driver manager" I added a new driver for MySQL 8 correctly.
I setup a new MySQL connection

[2021-02-19 08:09] F0xD8rk opened #11418 "Oracle: Dependencies tab for procedures/functions"
**Describe the solution you'd like**
It would be nice to be able to view the dependencies (the objects it depends on, as well as other objects that depend on the procedure/function) of a procedure/function in the same way as for example a package. This helps us a lot for debugging/solving problems.

**Additional context**
We now have to open each function/procedure seperately and navigate through