[2022-06-22 13:34] emironovDB commented on #16838
Hello, @liuzhe101.
The cursor position should remain on the current line. Do you have another behavior?

[2022-06-22 13:48] emironovDB commented on #16835
Hi, @WildLlama!
There are a lot of special cases which is quite difficult to cover for all databases. But the idea is interesting. Thank you.

[2022-06-22 13:51] emironovDB commented on #16858
Hi, @KE-W!
We are unable to reproduce this issue for now. Could you, please, provide a video of this behavior?

[2022-06-22 13:57] Destrolaric commented on #16076
@GabagoolOverHere  Hi, can you try to install DBeaver with `sudo snap install dbeaver-ce --classic`? It should fix the issue with GIS.
P.S. Sorry, I thought classic confinement was already available, it's not available for that package for now.

[2022-06-22 14:27] Destrolaric commented on #16722
Hi, I was unable to reproduce mentioned issue. Could you provide a video that demonstrates it?

[2022-06-22 14:34] amorfxda opened #16860 "The SQLite driver doesn't work on mac on the lastest version"
#### System information:
- Operating system: macOS Mojave 10.14.2
- DBeaver version 22.1.0.202206051253
- Java version ?

#### Describe the problem you're observing:
Have to use an SQLite database for a class in uni and it works on everyone's mac but mine. After installing it for the first time I got an error and it couldn't open any databases. Then cause it wasn't downloading the SQLite driver on

[2022-06-22 14:43] liuzhe101 commented on #16838
It is not on the current line, it will go to the next line, I need to move the cursor to the current line again, the same is true for the previous version of dbeaver, I thought it would be better to update the latest version, but it didn't

[2022-06-22 15:53] #16843 closed, assigned to LonwoLonwo, Matvey16

[2022-06-22 15:54] #16705 closed, assigned to Destrolaric, Matvey16

[2022-06-22 16:55] suhailmemon commented on #14944
<img width="424" alt="image" src="https://user-images.githubusercontent.com/36083983/175094748-8749f7b3-f0c4-42a5-a519-c4d487fe88aa.png">

[2022-06-22 17:21] Teett commented on #4630
Just a thought, Why is this -nl hardcoded into the default shortcut? People should't have to come to this thread to change their language, most wouldn't probably even find it. Thanks for the fix @ridcully99

[2022-06-22 17:30] #14360 closed, assigned to Destrolaric, uslss

[2022-06-22 19:28] #14544 closed, assigned to LonwoLonwo, Matvey16

[2022-06-22 21:05] laddana-github commented on #3647
After several timeout errors using MSAL4J and JDBC Driver 10.2, I too get the TCP/IP error. I am using Dbeaver 7.0.3. So 9 out of 10 times trying to test the connection, I get this timeout error :
**Request was throttled according to instructions from STS. Retry in 93486 ms.**

When it got past it, got this error :  **"The TCP/IP connection to the host xxxxxx.sql.azuresynapse.net, port 1433 has fa

[2022-06-22 23:55] WigraiTH commented on #16721
Thank you, @E1izabeth , for your assistance.

[2022-06-23 07:56] Fcscanf opened #16862 "The same version, but one does not generate SQL function, why is this?"
#### System information:
- Operating system (distribution) and version：Win 10
- DBeaver version：22.1.0
- Additional extensions：None

#### Connection specification:
- Database name and version：Oracle
- Driver name：oracle.jdbc.OracleDriver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? ：None

#### Describe the problem you're observing:
After successfully connecting to the Oracle database, the lo

[2022-06-23 08:04] mj520 opened #16863 "clickhouse DateTime64 import and copy and export sql error"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

CREATE TABLE default.s

[2022-06-23 08:17] sgargel commented on #15899
I have a similar issue. SSH save password is unchecked and the field is empty but I'm not asked for SSH passphrase and connection is failing.

![image](https://user-images.githubusercontent.com/24651376/175251176-a33f433f-8c61-4412-8df1-d41d0194ab39.png)

I think that when the SSH save password box is unchecked the field should be grayed out.

[2022-06-23 08:25] liuzhe101 commented on #16838
this is videos

[2022-06-23 08:26] liuzhe101 commented on #16838
this is  @emironovDB

https://user-images.githubusercontent.com/61652514/175252991-5e04ba44-c8e9-4e96-96b1-c4073e1734bc.mov

[2022-06-23 09:00] riccardocesarini opened #16865 "Kerberos share ticket cache on macOS"
#### System information:
- macOS Monterey 12.4 on M1 Pro Processor
- DBeaver version 22.1.0

#### Connection specification:
- Impala
- Impala 2.6.27.1032 ImpalaJDBC41.jar
- jdbc:impala://hostname:21050;AuthMech=1;KrbRealm=MYREALM;KrbHostFQDN=_HOST;KrbServiceName=impala
#### Describe the problem you're observing:

In a MacOS M1 Pro machine when try to connect to a kerberized Cloudera Cluster with I

[2022-06-23 09:28] LonwoLonwo commented on #16862
Hello @Fcscanf

Can you provide please the SELECT statement from the second case (without SQL generation)? Is this select from a table?

[2022-06-23 10:11] arunvitto opened #16866 "Missing DDL Auto Completion in Ecplise editor"
In Eclipse Editor SQL editor window does not auto-complete the DDL queries like create, alter, etc for MySql

[2022-06-23 10:19] E1izabeth commented on #16678
Thank you for feature request, @sgrinko!

While it's not implemented in DBeaver yet, I can suggest you to use external customizable formatters. You can set up it in Preferences->Editors->SQL Editor->Formatting.

![image](https://user-images.githubusercontent.com/28875055/175276801-dd8f1b43-c5d6-4194-9fc9-f02658291d34.png)

[2022-06-23 10:30] LonwoLonwo commented on #16866
Hello @arunvitto

Please Provide:

#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

And cases of this issue with examples. Screens will be very helpful.

[2022-06-23 10:34] E1izabeth commented on #16866
Did you install DBeaver as an Eclipse plugin or a standalone application?
If you installed DBeaver as a plugin, please, provide information about Eclipse version and other installed plugins versions.

[2022-06-23 10:36] LonwoLonwo commented on #16811
Ok, thanks for the answer

[2022-06-23 10:50] Matvey16 opened #16867 "DBeaver freezes on MacOS if a child view is minimized"
#### System information:
- Operating system (distribution) and version MacOS Monterey 12.3
- DBeaver version 22.1.0

#### Steps to reproduce, if exist:
1. Open import or export wizard
2. Minimize the wizard window

**Expected:** Window is minimized and can be reopened
**Actual:** The whole app is minimized and can't be reopened for some time. After reopening everything is still frozen.

[2022-06-23 11:02] arunvitto commented on #16866
### **Operating System**
<pre>NAME=&quot;Ubuntu&quot;
VERSION=&quot;20.04.4 LTS (Focal Fossa)&quot;
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME=&quot;Ubuntu 20.04.4 LTS&quot;
VERSION_ID=&quot;20.04&quot;
</pre>

### **DBeaver version**
<pre> VERSION = 22.0.5
</pre>

### **Additional extensions**
<pre>

1. buildship-gradle-integration
2. darkest-dark-theme-devstyle
3. eclemma-java-code-coverage
4. eclipse

[2022-06-23 11:02] Fcscanf commented on #16862
@LonwoLonwo
Thank you for your reply. In both cases, the SQL menu is not generated. Neither the result set queried from the SQL statement nor the data queried from the table can be

[2022-06-23 11:04] arunvitto commented on #16866
Yes Installed as an Eclipse plugin

Pl. refer to the below link

[https://github.com/dbeaver/dbeaver/issues/16866#issuecomment-1164271778](url)

[2022-06-23 11:45] E1izabeth commented on #16863
Enabling _Skip bind values during insert_ results in another error:
` Code: 62. DB::Exception: Cannot parse expression of type DateTime64(3) here: 2022-06-23 03:56:25.300,'2022-06-23 03:56:25.000'): While executing ValuesBlockInputFormat. (SYNTAX_ERROR) (version 22.1.3.7 (official build))`

[2022-06-23 11:59] aavileli opened #16868 "UI schema privileges tab overlapping columns catalogs and tables cannot be adjusted"
#### System information:
- Operating system (distribution) and version
fedora silverblue 36
- DBeaver version
version 22.1.0 flatpak

UI schema privileges tab overlapping columns `catalogs` and `tables` cannot be adjusted
![image](https://user-images.githubusercontent.com/9123144/175293933-f9c37eda-c686-4024-b41d-693da904d454.png)

[2022-06-23 12:06] LonwoLonwo commented on #16866
For now DBeaver doesn't have auto-completion proposals for CREATE, ALTER statements.

Please check auto-complete for statements like

`SELECT * FROM <catalog_name>.`

![2022-06-23 15_04_12-DBeaver Ultimate 22 1 0 - _MariaDB 10 1_Script-169](https://user-images.githubusercontent.com/45152336/175294500-e262ec81-7342-4362-9cc2-6933a5fccbf7.png)

Is it working in this case?

[2022-06-23 12:08] LonwoLonwo commented on #16868
Thanks for the report @aavileli

[2022-06-23 12:10] LonwoLonwo commented on #16863
Thanks for the report @mj520

[2022-06-23 12:25] arunvitto commented on #16866
Yes Select Queries are working fine

[2022-06-23 12:27] LonwoLonwo commented on #16866
Ok, thanks @arunvitto

Do you expect keywords like "TABLE", "VIEW" etc. after CREATE/ALTER keywords?

[2022-06-23 13:06] abrosich opened #16872 "Postgis geometry field is not shown in the Map tab"
#### System information:
- Operating system (distribution) and version: Debian testing
- DBeaver version: 22.1.0
- Additional extensions

#### Connection specification:
- Database name and version: Postgresql+Postgis 14.4
- Driver name: org.postgresql.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no

#### Describe the problem you're observing:
Clicking on a geometry (Postgis extensio

[2022-06-23 13:51] ShadelessFox commented on #16872
Hello @abrosich

Thanks for the bug report

Please take a look at the provided solution: https://github.com/dbeaver/dbeaver/issues/16125#issuecomment-1098990262

[2022-06-23 13:51] #16872 closed, assigned to nobody

[2022-06-23 13:54] ShadelessFox commented on #16868
Hello @aavileli

Duplicate of #15516, please track the issue there

[2022-06-23 13:54] #16868 closed, assigned to nobody

[2022-06-23 14:06] sgrinko commented on #16678
Thank you for the hint @E1izabeth  !
Nevertheless, with great impatience, I will wait for your improvement.
Ready to participate in test releases :)

[2022-06-23 14:16] co-dax commented on #2770
I would like it too.

[2022-06-23 14:39] PublicBenemy commented on #5169
I have the same bevahior with CTE in a firebird query. When I highlight the whole query, it's processed flawlessly. When I do not highlight, no matter where the cursor then is, I receive an error.

[2022-06-23 14:54] Zulu-Inuoe opened #16873 "Azure SQL Server MFA Authentication Causes Repeated Browser Windows"
#### System information:
- Windows x64
- Dbeaver 22.1.0
- Vanilla

#### Connection specification:
- Azure SQL Server 12.0.2000.8
- Azure SQL Server

#### Describe the problem you're observing:

When I use the 'Active Directory - MFA' option to authenticate against my database, dbeaver will switch to my browser, opening a new tab in order to authenticate. This is **expected**.
However, this happens

[2022-06-23 15:23] alattke-chwy commented on #16397
Hi @LonwoLonwo . We are in the process of reviewing DBeaver vs DBVisualizer. Could you let me know if this bug fix is on the roadmap?

[2022-06-23 16:38] laddana-github commented on #14976
I get a similar error with Dbeaver 7.0.3 and on Windows. Cannot get Dbeaver to connect to Azure Synapse Analytics over JDBC.

[2022-06-23 20:06] LonwoLonwo commented on #16873
Hello @Zulu-Inuoe

As a workaround you can disable opening separate connections for metadata reading and for separate SQL Editors.

![2022-06-23 23_02_51-DBeaver Ultimate 22 0 3 - _postgres_ Script-12](https://user-images.githubusercontent.com/45152336/175387896-7a9c603c-9f55-499d-89f6-3836b2b99022.png)

![2022-06-23 23_03_15-DBeaver Ultimate 22 0 3 - _postgres_ Script-12](https://user-images.gith

[2022-06-23 21:12] Zulu-Inuoe commented on #16873
@LonwoLonwo Thank you! I've enabled that setting and already things are far less distracting.

[2022-06-23 23:10] aavileli commented on #15516
for me the bottom scrollbar also do not appear. Time to search a non jvm based client

[2022-06-23 23:35] bmaehr commented on #8303
With one of the last releases the transaction behavior has become much worse:
When I'm executing a long running script, it happens during the execution! that I get asked if I would like to abort the transaction. And If I don't respond withing 10 seconds the transaction (and the running script) gets aborted.
That's not acceptable!

[2022-06-23 23:46] bmaehr commented on #10158
@serge-rider Sorry, but this is not a good idea if the transaction is ACTIVE.
If the user wan't to execute long running updates, then of course the running update should not be canceled. For long running scripts/statements the user might do some other things or even run that over night. I think this should only be for INACTIVE transactions.
Also the timeout of 10 seconds is to low - if you are wor

[2022-06-23 23:50] BoilingSoup commented on #6508
22.1.0 still reproducible

[2022-06-24 00:59] cristian-home commented on #16855
I get the same thing on Linux with flatpak, apparently the darkest dark plugin changes the paths for the workspace folder and the drivers folder.

[2022-06-24 05:33] arunvitto commented on #16866
Yes...  Lots of keywords required like TABLE, VIEW, Auto_increment, primary key, not null, and so on

[2022-06-24 07:15] LonwoLonwo commented on #16397
We added lazy comments loading in #16396

Now tables loading should be faster in DBeaver.

[2022-06-24 07:18] LonwoLonwo commented on #16397
So for now it is interesting to know - what type of comments prepare you disable now?

[2022-06-24 09:25] ssjuma commented on #4811
If you have installed XAMPP or WAMPP on your local machine then in the connection settings, add this directory: `/Applications/XAMPP/xamppfiles/bin`
and you should be good to go.

[2022-06-24 09:29] LonwoLonwo commented on #16246
Milti-insert added for these databases in DBeaver 21.1.1:

- Trino
- Vertica,
- H2,
- Derby,
- Databricks and
- DB2i
- Snowflake

![2022-06-07 15_49_21-DBeaver Ultimate 22 1 0 - _postgres_ Script-34](https://user-images.githubusercontent.com/45152336/172383658-4eb99e56-3401-4080-a67e-071baacdf535.png)

[2022-06-24 09:45] LonwoLonwo commented on #15188
Unfortunatelly, we can't just copy MariaDB driver - it turns into MySQL driver.
And we can't create MariaDB driver from the Drivers Manager - MariaDB driver is not in the list.
Maybe we should do something with these problems.

![2022-06-24 12_44_10-DBeaver Enterprise 21 3 4 - _postgres_ Script-34](https://user-images.githubusercontent.com/45152336/175509924-16bf6902-31f7-47e3-95b8-66cc464561c4.pn

[2022-06-24 09:52] LonwoLonwo commented on #16862
Video of the issue will be very helpful.

[2022-06-24 10:14] 2019-05-10 opened #16875 "Result View hides cursor position"
#### System information:
- Operating system (distribution) and version: Debian/SID
- DBeaver version: Version 22.1.0.202206051253
- Additional extensions

#### Connection specification:
- Database name and version: PostgreSQL 12
- Driver name:
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
When Result View opens at the bottom of the editor, cursor p

[2022-06-24 13:02] Zulu-Inuoe commented on #16873
Actually, I take that back - it was a false positive. Just executing a query on an already-open editor to this DB today - meaning Ctrl+E, not even typing - I saw 6 tabs open up without any of my interaction at all.

[2022-06-24 13:24] JSKo13 commented on #16624
@Matvey16 Yes the preview is different than final data in database:
![obraz](https://user-images.githubusercontent.com/63546725/175543198-186e27a6-65cc-48e0-899f-375fc78ad84d.png)
![obraz](https://user-images.githubusercontent.com/63546725/175543458-525d5557-410f-4928-a617-f2bd87657707.png)
Settings on import:
![obraz](https://user-images.githubusercontent.com/63546725/175543834-01e0319e-00f4-4e18

[2022-06-24 13:38] alattke-chwy commented on #16397
Thanks for replying. I updated to Version 22.1.0.202206051253. I no longer see this in the Navigation panel, but the Object Properties tab/panel it still happens.

When an object (ex. Table) is opened, this query that is being executed is:
[code]
So, 2 identical queries, each taking ~12s are running consecutively when building object and tapping into `comments` system table. (Also, 12s is in an id

[2022-06-24 13:41] LonwoLonwo commented on #16397
There is no option for now. But it is in our plans.

[2022-06-24 13:43] LonwoLonwo commented on #16873
Did you disable or enable this setting? My point was in DISABLING. To not open new connections each time.

[2022-06-24 13:50] Zulu-Inuoe commented on #16873
Understood - I DISABLED the setting per your suggestion:

![image](https://user-images.githubusercontent.com/1526310/175549652-9c9018f7-e6d6-44fa-87d3-5dfc0a572bbb.png)

[2022-06-24 14:09] echan888 commented on #16246
Awesome. Thank you @LonwoLonwo, et al.

[2022-06-24 14:22] Fcscanf commented on #16862
@LonwoLonwo Thank you very much for your help! SQL can be generated from an open table, but there is still no SQL generation function for a single table queried from the SQL editor.
This is a right click from the open table to see the generate SQL function

This is a screenshot of a single table queried from the SQL editor without the SQL generation function

[2022-06-24 14:32] alattke-chwy commented on #16397
Thank you!

[2022-06-24 14:33] alattke-chwy opened #16879 "Upgrade Vertica JDBC driver"
Current bundled JDBC version for Vertica is very old. Could you please upgrade to latest version:
https://www.vertica.com/download/vertica/client-drivers/

[2022-06-24 14:56] KE-W commented on #16858
[video.zip](https://github.com/dbeaver/dbeaver/files/8977064/default.zip)
The private computer does not have version 22 installed, so use 7.1.5 to record and reproduce the steps

[2022-06-24 15:38] apologeticasteroid commented on #2574
where in the code can this be changed?

[2022-06-24 15:49] jbisson commented on #16748
how can I add more to this issue? our entire team that does use the tool is having this issue and it's very inconvenient to use the dbeaver.ini file just to attach the truststore... :( it does not allow us to switch back and forth between environments.

[2022-06-24 20:28] Ou7law007 commented on #14749
Same here Windows 11
Version: 21.3.5
_exhausted available authentication methods_
Edit (a few minutes later): Updated to 22.1.0. The problem disappeared

[2022-06-26 01:25] ghost commented on #16694
The problem must be in the way that the function is declared:

-- Declaration as required (multiple statements needed inside function – see original method below)
CREATE FUNCTION dbo.fn_Passengers()
RETURNS @Response TABLE(LastName varchar(64),FirstName varchar(64))
BEGIN
       INSERT INTO @Response
       SELECT LastName,FirstName
       FROM txns.Passengers
       ORDER BY 1,2;
       RETURN;
E

[2022-06-26 09:39] mvenghaus opened #16883 "Calc total row count - Textfield of result too small"
Greetings,

the text field for the result of "Calc total row count" doesn't expand.

![image](https://user-images.githubusercontent.com/6408081/175808320-ad0b925c-fed9-484d-9a32-50ca8e559dc1.png)

Or is there an option?

[2022-06-26 10:41] PetroGromovo commented on #16815
where I can check MySQL driver ?

[2022-06-26 14:50] Matvey16 opened #16884 "Scripts with select queries finish with an error"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.1.1

#### Steps to reproduce, if exist:
1. Create a script with a select query
2. Create a task to run this script
3. Run that task

**Expected:** Task is finished successfully
**Actual:** Task finished with error.

[code]

[2022-06-26 15:07] serge-rider commented on #16884
Fixed.
It was a side effect of #16335

[2022-06-26 17:46] #16884 closed, assigned to nobody

[2022-06-26 22:00] destator opened #16885 "ClickHouse syntax error on each query"
#### System information:
- Operating system (distribution) and version: Windows 7
- DBeaver version: 22.1.0.202206051253
- Additional extensions: None

#### Connection specification:
- Database name and version: ClickHouse 22.6.1.1985
- Driver name: com.clickhouse.jdbc.ClickHouseDriver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Describe the problem you're observing:
Before each

[2022-06-26 22:31] serge-rider commented on #16885
Can't reproduce this.
The error text says that you execute some long SELECT query which fails because of syntax error. This text definitely comes not from dbeaver.

How do you execute a query?
Note that <kbd>ctrl+enter</kbd> executes currently selected query while <kbd>alt+x</kbd> executes entire script.

[2022-06-26 23:08] destator commented on #16885
I found this query - this is from clickhouse jdbc driver, method getClientInfoProperties.
Seems like some of connection parameters are undefined, which leads to the empty placeholder in query: "...toInt32(0) as MAX_LEN,  as DEFAULT_VALUE, ..."

[2022-06-27 06:48] aa-matthias commented on #16847
Hi @LonwoLonwo

[code]

![image](https://user-images.githubusercontent.com/84960805/175876386-298cfff3-1c34-4a2d-a6b7-fb0fdd9010c9.png)

[2022-06-27 07:25] serge-rider commented on #16885
What Clickhouse driver version do you use? You can get the version number from the Test Connection dialog.

[2022-06-27 07:52] uslss commented on #15375
#16037

[2022-06-27 07:56] uslss commented on #16883
@mvenghaus which OS do you use?

[2022-06-27 08:21] uslss commented on #16321
there has been no updates on issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2022-06-27 08:21] #16321 closed, assigned to nobody

[2022-06-27 08:24] uslss commented on #16608
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it.

[2022-06-27 08:24] #16608 closed, assigned to LonwoLonwo

[2022-06-27 08:25] uslss commented on #16528
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it.

[2022-06-27 08:25] #16528 closed, assigned to uslss, emironovDB

[2022-06-27 08:25] uslss commented on #16516
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it.

[2022-06-27 08:25] #16516 closed, assigned to Matvey16

[2022-06-27 08:26] uslss commented on #16475
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it.

[2022-06-27 08:26] #16475 closed, assigned to E1izabeth

[2022-06-27 08:26] uslss commented on #16471
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it.

[2022-06-27 08:26] #16471 closed, assigned to LonwoLonwo

[2022-06-27 08:26] uslss commented on #16374
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it.

[2022-06-27 08:26] #16374 closed, assigned to LonwoLonwo

[2022-06-27 08:26] uslss commented on #12913
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it.

[2022-06-27 08:26] #12913 closed, assigned to uslss

[2022-06-27 08:28] uslss commented on #16263
There has been no update on the issue for a long time.
If it is still actual - feel free to reopen it with additional info.

[2022-06-27 08:28] #16263 closed, assigned to LonwoLonwo

[2022-06-27 08:29] uslss commented on #15893
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it.

[2022-06-27 08:29] #15893 closed, assigned to nobody

[2022-06-27 08:29] uslss commented on #16618
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it.

[2022-06-27 08:29] #16618 closed, assigned to E1izabeth

[2022-06-27 08:29] uslss commented on #16449
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it.

[2022-06-27 08:29] #16449 closed, assigned to Destrolaric

[2022-06-27 08:30] uslss commented on #16617
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it with additional info.

[2022-06-27 08:30] #16617 closed, assigned to E1izabeth

[2022-06-27 08:30] #16525 closed, assigned to uslss

[2022-06-27 08:31] uslss commented on #16166
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it with additional info.

[2022-06-27 08:31] #16166 closed, assigned to LonwoLonwo

[2022-06-27 08:32] #16762 closed, assigned to emironovDB

[2022-06-27 09:34] emironovDB opened #16886 "In query log add button Copy near of "Re-execute""
- [x] Add ability to copy executed query in Query Log
- [x] Use DDL label instead of Text icon for Generate DDL from Result Set action

[2022-06-27 09:38] emironovDB opened #16887 "Allow to expand grid cells that contain collections in them"
Add expand single cell
And expand to a row

[2022-06-27 09:41] emironovDB opened #16888 "Arrays presentation: expand icons"
Expand icons must be on the left side of cell

[2022-06-27 09:41] destator commented on #16885
ClickHouse JDBC Driver clickhouse-jdbc 0.3.2 (revision: 1795272)

[2022-06-27 09:43] serge-rider opened #16889 "Add VARCHAR2 data type to Oracle dialect"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2022-06-27 09:46] hofstein commented on #16883
OS: Manjaro Linux x86_64
GNOME 42.2

[2022-06-27 09:47] serge-rider opened #16890 "Remove ${password} from scripts and connections template"

[2022-06-27 09:47] mvenghaus commented on #16883
OS: Manjaro Linux x86_64
GNOME 42.2

[2022-06-27 10:10] ghost commented on #16811
Thank you all for this!  It will be a big help.

[2022-06-27 10:17] emironovDB commented on #15397
Works as expected

[2022-06-27 10:17] #15397 closed, assigned to nobody

[2022-06-27 10:26] ailibibi opened #16892 "Click explain plan button: Expected a com.google.gson.JsonObject but was com.google.gson.JsonPrimitive"
#### System information:
- Operating system (distribution) and version：macOS Monterey 12.2.1
- DBeaver version: 22.1.1.202206261508
- Additional extensions：None

#### Connection specification:
- Database name and version：mysql 5.6.29-TDDL-5.4.10-16219368
- Driver name: com.mysql.cj.jdbc.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

show

[2022-06-27 10:41] valsamis-d opened #16893 "DBeaver v22.1.1 // Export Tasks does not respect ${table}"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise
- DBeaver version: 22.1.1 x64 Portable
- Additional extensions: Microsoft Office Integration & Darkest Theme

#### Connection specification:
- Database name and version: DB2
- Driver name: DB2 JCC (Type 4) 11.5.6.0 FP000
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes

#### Describe the problem you

[2022-06-27 10:42] emironovDB commented on #15817
Let's add "open as" command to resource context menu

[2022-06-27 11:09] emironovDB opened #16894 "Add a new Icon for a graph presentation tab"
The current icon is not consistent with the DBeaver color style and should be replaced with another one
![slack_E9nkzjhpF5](https://user-images.githubusercontent.com/105634259/175927975-072c0459-a507-4117-85f0-3fd247fd091a.png)

[2022-06-27 11:12] GuenterSch opened #16895 "Status bar with fetched rows and execution time"
#### System information:
- Windows 10 21H1
- DBeaver version 22.1.1

#### Connection specification:
- Database name and version All

#### Describe the problem you're observing:
In the previous versions, if you click on the ![grafik](https://user-images.githubusercontent.com/99535516/175928529-1e9fd6b9-d3a2-4555-8de7-482be887901d.png) icon, you get the dialog Status Details. After then, it is possi

[2022-06-27 12:21] ShadelessFox commented on #16893
Hello @valsamis-d,

Perhaps you have the highlighted option enabled?

![image](https://user-images.githubusercontent.com/35821147/175939818-ae502bc2-f058-4a80-98e2-91ef22d24100.png)

[2022-06-27 12:23] ShadelessFox commented on #16892
Hello @Simon0910,

Can you please execute the following query and provide the results of execution?

[code]

[2022-06-27 12:51] valsamis-d commented on #16893
@ShadelessFox no. It's disabled. I've always had this disabled as my export consists of 4 different queries and I want to have district output files for each one.

This is what I see in v22.1:

![image](https://user-images.githubusercontent.com/17590539/175946075-09ad2c21-6a98-435c-a608-d2131bfb6d61.png)

But In v22.1.1 under the 'Target' column I see 'export.xlsx'

[2022-06-27 12:57] ShadelessFox commented on #16893
It seems to be broken by #15695.

Thanks for the bug report. Unfortunately, I'm unable to think of any workaround.

[2022-06-27 13:05] valsamis-d commented on #16893
Thanks for confirming @ShadelessFox !

Until this is resolved, I will stay in v22.1 :) Thanks for following-up!

[2022-06-27 14:06] serge-rider commented on #15671
Fixed in #16669

[2022-06-27 14:34] Destrolaric commented on #15981
Linked pr: https://github.com/dbeaver/dbeaver-ee/pull/1737

[2022-06-27 17:23] tumainimosha commented on #8344
Ran into this issue today, when connecting from a Mac to SQL Server using Azure AD integration.

Similar to @emiliogarza @n3tl0kr and @yiting-wang-dl despite attempting to redownload the drivers this still didn't solve the issue.

I was able to get it working by adding a maven dependency for `msal4j` on the drivers section. I got the maven dependency link from [here](https://github.com/AzureAD/mic

[2022-06-27 18:22] #15671 closed, assigned to serge-rider, uslss

[2022-06-27 20:43] lemon-juice opened #16899 "MySQL auto_increment value is not current in table properties"
DBeaver 22.1.1 does not display the correct (current) auto increment value in the Auto Increment field. However, the value is correct in the DDL section. Here's an example:

![dbeaver-autoincrement](https://user-images.githubusercontent.com/11840364/176030040-3bf43f36-2ef2-4643-ade5-f677f633935f.png)

The AI field contains 1707219 while the correct value is 1707223 as displayed in DDL. In effect w

[2022-06-27 22:44] TimNapierVST commented on #16617
This hasn’t been fixed
[cid:7CB6679A-B581-4D65-8C8B-E95FEFBD6B86][cid:9110CF83-26AF-48E4-840C-8EC9CC1C8ED3] [cid:F2F93279-7F70-4C9B-B763-F21A8908047E]
Tim Napier
Principal Consultant
Professional Services - Data Practise | Versent

[cid:4BDDFC36-A306-423F-A17A-54E9EFF20AEA]
0406430225

[cid:D3A62A1E-AE13-4671-A45D-8BB91531C48C]
***@***.******@***.***>

[cid:AFAECB2D-D9AC-4598-B400-4C7E1F34EB29]
ve

[2022-06-28 01:51] zucky2021 opened #16901 "Cannot connect to database, active schema has no name"
## Current Issue
I can connect to the project, but I can't connect to the database, so I can't execute SQL or make changes to the data.
What should I do?

## This is the current situation.
[![Image from Gyazo](https://i.gyazo.com/14465ce3cff38809885ad5a070b4a65d.png)](https://gyazo.com/14465ce3cff38809885ad5a070b4a65d)

No active schema appears in the drop-down menu.
[![Image from Gyazo](https://i

[2022-06-28 07:51] nikeshrajput commented on #4561
Thank You! This worked for me with argument --column-statistics=0 for mysqldump utility.

[2022-06-28 08:30] Destrolaric commented on #16901
@kanbaru-github, Hi, can you provide an additional information about which database was used?

[2022-06-28 08:44] uslss commented on #16895
thanks for the report

[2022-06-28 09:07] kejdajar opened #16904 "MSSQL Server 2017 Express - SSL connection issue"
#### System information:
- OS: Windows 11, build 22000.778
- DBeaver version: 22.1.1.202206261508
- Additional extensions: none

#### Connection specification:
- MSSQL Server 2017
- Driver name: Microsoft JDBC Driver for SQL Server (MSSQL)
- Do you use tunnels or proxies: no

#### Problem
Hello,
so far I haven't been able to connect to SQL Server 2017 using SSL - the database server is running onl

[2022-06-28 10:03] ShadelessFox commented on #16007
Additionally, we need to position the cursor at the start of an error in case of executing a single query.

[2022-06-28 12:26] fawazahmed-yara commented on #988
Thanks @serge-rider for this. This worked for me to create a dump.
Had to enable hidden files (cmd + shift + .) to select libpq/bin path

Then to restore db, had to use this [cmd](https://stackoverflow.com/questions/40632228/input-file-appears-to-be-a-text-format-dump-please-use-psql):
psql -U username -p 5432 -h 10.10.10.1 -d database < db.dump

[2022-06-28 12:40] #16644 closed, assigned to E1izabeth

[2022-06-28 13:08] uslss commented on #7243
It seems issue is obsolete for now

[2022-06-28 13:08] #7243 closed

[2022-06-28 13:20] uslss commented on #4657
![image](https://user-images.githubusercontent.com/31996417/176187350-2930b087-5b4a-403c-be00-64200b760eeb.png)
already fixed.

[2022-06-28 13:20] uslss opened #16906 "NPE appears in case of export geomtry column from MS SQL to PostgreSQL without gis plugin"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.1
#### Connection specification:
- Database name and version MS SQL, PostgreSQL

#### Describe the problem you're observing:
Export from MS SQL table with geometry column to new Postgres table (without gis plugin) ends up with NPE
![image](https://user-images.githubusercontent.com/31996417/176188218

[2022-06-28 14:15] zucky2021 commented on #16901
We apologize for the inconvenience.
We have resolved the issue by setting the target database to default.
We apologize for the inconvenience.

2022年6月28日(火) 17:30 George ***@***.***>:

[2022-06-28 14:38] just-nimay opened #16907 "Outputs a syntax error even when there is no error in the syntax"
#### System information:
- Operating system (distribution) and version mac os 10.13.6
- DBeaver version: 22.0.0.202203060510

#### Connection specification:
- Database name and version telegram_db MySQL

#### Describe the problem you're observing:
I do not know what this is related to, but when I work in the DBeaver program, this program constantly outputs errors.
For example:
![Снимок экрана 2022

[2022-06-28 15:44] vega231 commented on #13281
@LonwoLonwo , I didn't saw option to disable integrity check in my version of DBeaver (I was using 7.2.5). Installed recent version, checked this option, but still it is not working as expected. I can recreate this issue using structure below.

The tables with '_src' suffix are source in the same database - just for simplification.

[code]

Now, having sample data, create export task as follow:
![

[2022-06-28 17:33] glw commented on #14647
@emironovDB I am currently at DBeaver 22.1.0.202206051253

[2022-06-28 18:01] frbelotto commented on #26
Hello! Very long time ago an this issue still happens here. Setting up as suggested solve, but shouldn't this being somehow automatically handled but Dbeaver?

Obs : Additional question. How to edit start parameter in Dbeaver that is installed from MS Store?

[2022-06-28 18:19] flambchap commented on #12342
Hi @shawnsheridan. Can you please share your solution with me?

[2022-06-28 18:29] shawnsheridan commented on #12342
Hi.  As I wrote above, it worked when I swiched to sqlite-jdbc-3.35.5.1.jar Driver.

[2022-06-28 20:17] #13907 closed, assigned to Destrolaric, Matvey16

[2022-06-28 20:17] #16804 closed, assigned to serge-rider, Matvey16

[2022-06-28 20:17] #15816 closed, assigned to uslss, ShadelessFox

[2022-06-28 20:17] #15805 closed, assigned to uslss, ShadelessFox

[2022-06-28 20:17] #16255 closed, assigned to uslss, LonwoLonwo

[2022-06-28 20:37] JoshMayberry commented on #16790
I am getting this same error.
I installed the latest version (22.1.1) and added Darkest Dark to it.
It proceeded to open and close dbeaver (I think it got stuck in a restart loop or something).
After force closing dbeaver a few times- it stopped constantly opening and closing. Once I was able to get past the splash screen, things went smoothly.

[2022-06-28 20:59] serge-rider opened #16910 "Use Chromium as default browser"
Currently we use legacy SWT web browser which uses Internet Explorer as embedded browser.
It still works but lacks a lot of function + it is disabled in some corporate environments.

Now SWT supports Chromium and Edge integration. Perhaps its time to migrate.

https://www.eclipse.org/swt/faq.php#howuseedge
https://github.com/equoplatform/chromium-swt
https://stackoverflow.com/questions/45116657/em

[2022-06-28 21:10] GaNiziolek opened #16911 "Value of "Comment" property not save when unfocused - Create New Column"
- Windows 10 21H2
- DBeaver 22.0.5
- PostgreSQL 12.11
- PostgreSQL JDBC Driver 42.2.20

When creating a new column in any table, the value of "Comment" property is not saved when unfocused, only when I press enter, all the other properties work as expected.

I made a video with the problem here: https://www.loom.com/share/15c820c5a9db42b1a4ced61e5306e60a

[2022-06-28 22:15] cizordj commented on #10701
Thank you @jix, you made my day.

[2022-06-28 22:31] lyh061619 opened #16912 "Integrate eclipse 2022-06, click the database interface to prompt the error message could not accept changes"
#### System information:
- Operating system (distribution) and version
- Windows 10
- DBeaver version
- 22.1.1
- Additional extensions

#### Connection specification:
- Database name and version
- mariadb 10.6.8
- Driver name
- jdbc:mariadb-java
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Integrate eclipse 2022-06, click the database interface to

[2022-06-28 23:39] tgross35 commented on #16847
How does dbeaver determine what driver JDBC driver to install by default? 2.7.1 is what the latest update installed for me, but that's from 2020. 3.0.5 is the latest https://mariadb.com/kb/en/mariadb-connector-j-releases/

[2022-06-29 00:47] yangmeng66 commented on #3404
Not only Oracle, but many other databases also need the debugging function. It is recommended to have a document that allows developers to develop the debugging function of their own databases. That would be very good

[2022-06-29 07:22] Matvey16 commented on #14944
It looks like a bug in JDBC driver when running multiple statements, similiar bug in another IDE (https://youtrack.jetbrains.com/issue/DBE-12377). We need to look into this further

[2022-06-29 07:28] Matvey16 commented on #16624
@JSKo13 For now it looks like the imported data is correct, but it is somehow shown different. At least for now this is my best theory. To confirm that I would like to see how the data would look like with date formatting disabled. It can be changed in preferences.
![image](https://user-images.githubusercontent.com/82543000/176377752-04b57780-075e-4ba9-bc4b-2a25121a6e00.png)

[2022-06-29 07:51] Matvey16 commented on #16606
@aumeli74 Sorry, I can't see the image because responses from email don't attach files to github. To attach the image you need to add it directly on a github page.

[2022-06-29 07:57] mariliab commented on #3647
Following the instructions from [@Xtinction](https://github.com/dbeaver/dbeaver/issues/3647#issuecomment-405919517), these are the drivers that made it work for me (using DBeaver Version 22.1.1.202206261508, Mac OS 11.6.4 M1 chip):

Group id: com.microsoft.azure
Artifact id: msal4j
Version: 1.12.0

Group id: com.microsoft.sqlserver
Artifact id: mssql-jdbc
Version: 10.2.0.jre8

[2022-06-29 07:57] Matvey16 commented on #16620
Seems like the same issue as in #9326

[2022-06-29 07:57] #16620 closed, assigned to nobody

[2022-06-29 08:00] Mizar01 opened #16913 "Possible improvements: more consistent double click in the navigator menu."
I noted various non trivial behaviours of the double click in the db navigator.

For the following text 'Expected behaviour' means 'the way I would desire for it to work'

Double clicking on a group/folder name will open the right pane with all the db, but does not expand the group itself. I have to precisely pick the little triangle to expand the group. Expected default behaviour: expand the grou

[2022-06-29 08:14] Matvey16 commented on #16750
@jtg567 Hello, I was not able to reproduce it. It looks like it can be connected to a bug where changes to an active connection were not saved in some cases. Can you see if it is still reproducible in the latest version?

[2022-06-29 08:30] arpoodle opened #16914 ""Unprotected Private Key" error on temporary file when creating SSH tunnel"
#### System information:
- Windows 10 Pro
- DBeaver 22.1.1

#### Connection specification:
- MySQL 5.7
-  Driver : whatever DBeaver downloaded on connection creation
- SSH tunnel to MySQL

#### Describe the problem you're observing:
SSH tunnel is failing due to permissions on the temporary file created by DBeaver
Original private key (.pem) is read only.

Error output :

Can't initialize tunnel

[2022-06-29 08:53] E1izabeth commented on #16911
Hello, @GaNiziolek. Thank you for bug report!
We have already know about this problem. So, I'll close it as a duplicate of https://github.com/dbeaver/dbeaver/issues/15620.

[2022-06-29 08:53] #16911 closed, assigned to nobody

[2022-06-29 09:04] uslss commented on #16913
@Mizar01 this behavior could be changed in Preferences
![image](https://user-images.githubusercontent.com/31996417/176397697-e243c8a7-2b13-4a91-abb3-72354ba6d879.png)

[2022-06-29 09:16] Matvey16 commented on #16855
@JamesInform I was not able to reproduce it on the latest version. Can you check if your workspace has been changed? You can choose workspace by clicking File > Switch workspace

[2022-06-29 09:23] Matvey16 opened #16915 "Output settings are reset after opening an export task"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.1.1

#### Steps to reproduce, if exist:
1. Create export task and check additional options in output settings
2. Open saved task to edit it
3. Observe output settings

**Expected:** Previously checked options are still checked
**Actual:** Everything is unchecked except finish messege

![dbeaver_Za0aU4

[2022-06-29 09:53] #16901 closed, assigned to nobody

[2022-06-29 09:54] ShadelessFox commented on #16815
Hello @PetroGromovo,

You can use the `Test Connection` button found in the connection configuration dialog.

[2022-06-29 10:36] giuliotripi commented on #6576
I encountered the same issue with DBeaver version 22.1.1.202206261508
OS: Ubuntu 22.04 LTS
CockroachDB: v22.1.1 inside Docker
Driver: org.postgresql.Driver

[code]

**EDIT: it is just necessary to select cockroachdb as database type when creating a new connection**

[2022-06-29 10:44] JamesInform commented on #16855
@Matvey16 Tested again with DBeaver 22.1.1 and DevStyle (includes Darkest Dark Theme) version 1.11.0.202206271604.

Not sure which version did the magic DBeaver or DevStyle Darkest Theme ...

But now everything works fine and closing the bug is fine by me!

[2022-06-29 10:53] iliesh commented on #15516
Having the same issue, this is really very annoying when you're trying to adjust some user's permissions.

[2022-06-29 11:22] flambchap commented on #12342
@shawnsheridan What DBeaver version and SQLite driver did you use? I've tried the standard SQLite driver and SQLite Crypt with Custom cipher from DBeaver PRO. On all occasions, I used the following properties:

Property|Value
-----|-----
cipher|rc4
legacy|1
legacy_page_size|0

(I found these values [here](https://utelle.github.io/SQLite3MultipleCiphers/docs/ciphers/cipher_sds_rc4/) and [here](http

[2022-06-29 11:26] flambchap commented on #12342
I think we need dedicated support for `System.Data.SQLite: RC4` cipher in SQLite Crypt.

[2022-06-29 12:50] emironovDB commented on #16842
Hello @yoni-yad2,

Thanks for the bug report

[2022-06-29 13:01] emironovDB commented on #16858
Thanks for the bug report

[2022-06-29 13:01] E1izabeth commented on #16836
Hello, @Loizzus. Thank you for bug report.
Does this issue appear only in a newer DBeaver versions (since 22.0.5)?

[2022-06-29 13:08] E1izabeth commented on #16838
@liuzhe101, please, tell me, which input method do you use?

[2022-06-29 13:09] emironovDB commented on #16879
Thanks for the request

[2022-06-29 13:11] emironovDB commented on #16875
Hello @2019-05-10,

Thanks for the bug report

[2022-06-29 13:16] Destrolaric commented on #16895
Hi, thanks for the bug report, looks like it was caused by some changes in recent versions.

[2022-06-29 13:16] laddana-github commented on #3647
I had to uninstall Dbeaver 7 which was latest in April 2020. Don't know if they renumbered the versions, but current one was 22, so installed that.
With that, everything including the 2 drivers were downloaded by Dbeaver and it worked with Active directory user name and password authentication.

[2022-06-29 13:17] emironovDB commented on #16862
Hello @Fcscanf,

Can you please provide log files? You can find instructions here: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-06-29 13:18] E1izabeth commented on #16873
@Zulu-Inuoe , please, disable it in the Global settings too. You can click here to go to the Global settings.

![image](https://user-images.githubusercontent.com/28875055/176445806-059d5415-5c44-4fab-ac61-a1dbd8e9cef6.png)

Does it help?

[2022-06-29 13:23] emironovDB commented on #16914
Hello @arpoodle,

Try switching the implementation to SSHJ under the `Advanced settings` panel.

Please let me know if it solves your issue.

[2022-06-29 13:25] emironovDB commented on #16912
Hello @lyh061619,

Can you please provide more information regarding your issue?

Is DBeaver installed as a standalone application or as an Eclipse plugin?

[2022-06-29 13:27] emironovDB commented on #16907
Hello @just-nimay,

Are you running your script using the <kbd>Ctrl+Enter</kbd> shortcut?

Try running it using the <kbd>Alt+X</kbd> shortcut instead.

[2022-06-29 13:30] emironovDB commented on #16885
Can you please provide log files? You can find instruction here: https://github.com/dbeaver/dbeaver/wiki/Log-files

Also, a screenshot of the Query Manager would be handy (in case it contains the failed queries).

[2022-06-29 13:42] destator commented on #16885
[code]

[2022-06-29 13:45] destator commented on #16885
![screen](https://user-images.githubusercontent.com/7722897/176451714-3cafeaa2-39c5-4ad2-8fb0-b3992bfcdb83.png)

[2022-06-29 13:59] dtseiler commented on #16441
I'm curious why this behavior was changed. I used to have `create=false` so that it _wouldn't_ create a new connection, just a temporary one as desired. This was a breaking change for a few of us.
IIRC, `create=true` would create and save the connection, why was a new `save` parameter necessary?

[2022-06-29 14:21] ShadelessFox commented on #16899
Hello @lemon-juice,

DDL is read separately from the metadata you see on top, so that's why they aren't in sync.

By refreshing the editor, you refresh the lower panel that has DDL in it. To refresh the contained object, you have to refresh that object in the navigator tree. Perhaps we can improve this behavior.

[2022-06-29 14:32] E1izabeth commented on #16441
It was impossible to create and save new connection earlier https://github.com/dbeaver/dbeaver/issues/15100

We have 3 cases which can't be covered with one boolean parameter:
- create new temporary connection (`create = true`, `save = false`)
- create new connection and save it (`create = true`, `save = true`)
- find existing connection and use it (`create = false`)

[2022-06-29 14:36] E1izabeth commented on #15062
Please, track this issue here https://github.com/dbeaver/dbeaver/issues/13461. I'll close it as a duplicate.

[2022-06-29 14:36] #15062 closed, assigned to E1izabeth

[2022-06-29 14:45] Destrolaric commented on #16890
linked pr: https://github.com/dbeaver/dbeaver-ee/pull/1755

[2022-06-29 14:58] suhailmemon commented on #14944
sounds good. let me know when you have an update on this issue.

[2022-06-29 15:09] dtseiler commented on #16441
Wasn't having `create=true` how we saved connections previously? My recollection was that `create=false|connect=true` was how we could create temporary connections (which is all I need). So now we need to have `create=true|save=false|connect=true` (the first two being the defaults now as well).

The problem I have is that this update broke how it was previously being used, and did so in a patch/bu

[2022-06-29 15:11] E1izabeth commented on #16441
Thank you for feedback

[2022-06-29 15:14] jtg567 commented on #16750
Updated to 22.1.1.202206261508 and I still cannot get properties deleted, unfortunately.

Would you be able how to advise how could I wipe out my installation with the exception of my stored SQL files? I have not been able to connect since encountering this error and presume the only way I can fix it is to start fresh.

[2022-06-29 16:20] whatsupbros commented on #1555
Issue is still there in Version 22.1.1.202206261508.

It looks like DBeaver mostly covers PostgreSQL behavior. But even there issuing `COMMIT;` or `ROLLBACK;` manually doesn't finish the transaction in DBeaver. You have to click on "Commit" or "Rollback" button in the user interface to finish the transaction.

In other DBMSs, such as i.e. Oracle, the DBeaver user interface doesn't reflect the DBMS

[2022-06-29 16:22] shawnsheridan commented on #12342
I am using latets DBeaver 22.1.1 and the following:

Driver Library = sqlite-jdbc-3.35.5.1.jar
Driver Class org.sqlite.JDBC
Driver Properties:
	cipher = RC4
	Key = The DB Password

[2022-06-29 21:05] JSKo13 commented on #16624
@Matvey16 I'm not sure if the way the data are shown should make a difference as the problem is consistant after upload and viewing the data either in DBeaver, MySQL Workbench, Excel or BI connected to database.

Preferences:
![obraz](https://user-images.githubusercontent.com/63546725/176543422-5dea7a00-4ef9-4e4c-bc95-6af5b4829979.png)

Data in table:
![obraz](https://user-images.githubusercontent

[2022-06-29 21:15] JSKo13 commented on #16624
@Matvey16 Please find below also raw data from MySQL monitor, it looks the same for me as in DBeaver:

![obraz](https://user-images.githubusercontent.com/63546725/176545435-ea09ddc7-4561-47ef-a274-3673e5be206d.png)

I think there can be something on the upload process (like the data are converted internally in DBeaver to timestamp with timezone and not as date and therefore there start to be probl

[2022-06-29 21:59] Loizzus commented on #16836
Hi @E1izabeth,
Yes this is a new issue since 22.0.5, however I have never managed to get it working so that doesn't necessarily mean much.

[2022-06-29 22:27] zhicwu commented on #16885
Apparently `ClickHouse Java Client as DEFAULT_VALUE` should be `'ClickHouse Java Client' as DEFAULT_VALUE` - same issue exists in latest patch release. I'll fix it in next release.

Update: actually it's been fixed in ClickHouse/clickhouse-jdbc#930, so upgrading driver to 0.3.2-patch9 or above will work.

[2022-06-29 22:43] zucky2021 commented on #16901
Thank you!

2022年6月29日(水) 18:53 ShadelessFox ***@***.***>:

[2022-06-30 05:46] jeremyakers commented on #16852
Seeing the exact same issue here. We can tunnel DBeaver via an Ubuntu 20.04 bastion host but not an Ubuntu 22.04 bastion host.

I'm running DBeaver on Linux, so I don't have any other options besides JSch.

Manually creating the tunnel via SSH command works just fine. Just can't do it via Dbeaver.

[2022-06-30 06:52] Aileron79 commented on #16873
I updated to the latest version and now I experience the very same behavior. I usually have multiple tabs/editors open for different databases. When (automatically) reconnecting to the server, multiple tabs open in my browser saying "Authentication complete. You can close the browser and return to the application." Please fix, it used to work without any browser tabs!

[2022-06-30 08:24] trybowski opened #16923 "Extract to Excel - on failure temporary files kept open"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 22.1.1
- Additional extensions: Office plugin

#### Connection specification:
- Database name and version: Hana
- Driver name: Hana
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Not in DBeaver

#### Describe the problem you're observing:
When extracting data to Excel (via the official office

[2022-06-30 08:27] trybowski opened #16924 "An option to move “poifiles” (temporary directory)"
**Is your feature request related to a problem? Please describe.**
When extracting data to Excel (via the official office plugin), a temporary folder is used, called “%temp%\poifiles”. Inside is created an xml file with extracted data in it. The file can be huge, and sometimes space on temp volume is exhausted. To workaround this issue I believe there should be an option to move “poifiles” to a di

[2022-06-30 11:43] pcnorb commented on #13779
Confirmed on Mac OSX Monterey
dBeaver Community Version 22.1.1.202206261508
DB2 Database

My import/export was performed on the same machine, same instance of dBeaver.

Additionally, my driver files did not get copied into the DBeaverData/drivers folder on import, but did get copied out on the export.

[2022-06-30 12:13] rotorboy commented on #11891
This bug appears to have returned in some form in version 22.1.1. After adding several columns in one SQL editor, I switched to another editor and ran a "select * from table" query, and the columns came up as "Read only: no corresponding table column". After trying different things, I quit dBeaver and restarted and that fixed the issue.

Steps to reproduce:
ran the following queries in one editor:

[2022-06-30 12:16] rotorboy opened #16928 "Read only: No corresponding table column"
#### System information:
- Operating system (distribution) and version - MacOS 12.4
- DBeaver version - 22.1.1
- Additional extensions

#### Connection specification:
- Database name and version - MariaDB 10.6
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:

This bug appears to have returned in some form in version 22.1.1. After add

[2022-06-30 13:29] emironovDB commented on #12148
Hi, @abolognino!

This issue seems as already fixed by https://github.com/dbeaver/dbeaver/issues/16695

[2022-06-30 13:38] Matvey16 opened #16929 "[ERD] Outline view can't be opened after it is minimized"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.1.1

#### Steps to reproduce, if exist:
1. Open outline view for some ER Diagram
2. Minimize that view
3. Try to open it again

**Expected:** Outline view can't be opened again
**Actual:** The view can't be reopened without perspective reset

[2022-06-30 13:41] Moridin11 commented on #4737
I still see this problem in version 22.0.5.

[2022-06-30 13:48] ghost opened #16931 "Option to use capslock status to select case on auto completion"
Today we have 3 options in Auto Completion preferences page to select case:

Default, Upper case and Lower case

It would be nice to have an option to auto complete using the current CAPS LOCK status.

[2022-06-30 13:51] Matvey16 opened #16932 "[ERD] Changed preferences are not applied until object is reopened"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.1.1

#### Steps to reproduce, if exist:
1. Open a diagram
2. Open preferences and change dispalyed table attributes
3. Apply changes
4. Refresh the diagram

**Expected:** Displayed attributes are changed
**Actual:** The diagram stays the same until it is reopened

[2022-06-30 15:13] BlackDahlia313 commented on #15795
I'm using Digital Ocean managed databases and this doesnt help. Please fix

[2022-06-30 15:15] IziumenkoViacheslav commented on #7521
I changed folder to Download and everithing work.

[2022-06-30 15:19] IziumenkoViacheslav commented on #7521
I changed destination folder to Downloads and it works
![Screenshot from 2022-06-30 17-17-14](https://user-images.githubusercontent.com/35495499/176714528-2b8433a9-5919-461a-bb51-608afb939216.png)

[2022-06-30 16:00] Zulu-Inuoe commented on #16873
@E1izabeth Hey sorry for the late reply. I do have it disabled globally and it's still happening

[2022-06-30 17:17] #15765 closed, assigned to ShadelessFox, Matvey16

[2022-06-30 17:18] #16889 closed, assigned to Destrolaric, Matvey16

[2022-06-30 17:22] #15369 closed, assigned to E1izabeth, uslss

[2022-06-30 17:24] E1izabeth commented on #16721
The bug was fixed along with https://github.com/dbeaver/dbeaver/issues/15369. You can check it in DBeaver 22.1.2.
Feel free to reopen the issue if you encounter the same problem.

[2022-06-30 17:24] #16721 closed, assigned to nobody

[2022-06-30 18:13] kyleflan opened #16936 "Amazon MemoryDB (Redis): No reachable node in cluster"
#### System information:
- Windows 10
- DBeaver EE 22.1.0.202206131757
- Vrapper

#### Connection specification:
- AWS MemoryDB: Redis 6.2.4
- redis_jedis
- No tunnels/proxies

#### Describe the problem you're observing:

After connecting to the Redis cluster, when attempting to execute any command in a query, the following is returned:

`No reachable node in cluster`

Other clients, e.g. `redis-c

[2022-06-30 18:23] E1izabeth commented on #16928
Hello, @rotorboy! Updating table in navigator should solve the problem. You need to click on the table or database in the navigator view and press F5 before executing `select` statement.
Does it help?

[2022-06-30 18:26] rotorboy commented on #16928
Elizabeth;

Humm.. right clicked on result set and refreshed, but didn’t think to right click on table/DB and refresh…will try that next time; or alternatively, DBeaver can auto-refresh after executing such “refreshable” commands...

[2022-06-30 18:51] E1izabeth commented on #16702
We also need to change the confirmation message on restore database action. See https://github.com/dbeaver/dbeaver/discussions/16395#discussioncomment-3041666

[2022-06-30 18:57] E1izabeth commented on #16681
Connected to https://github.com/dbeaver/dbeaver/issues/16702

[2022-06-30 19:51] sergeypolevich commented on #14930
same issue on MacOS just after update to 22.1.1.202206261508.
(With a right-click, the button does not enables itself)

[2022-06-30 21:33] E1izabeth commented on #16678
Connected to https://github.com/dbeaver/dbeaver/issues/9928

[2022-07-01 01:52] JuradoBruno commented on #5587
@tharindusathis If you are using the "Development" Connexion Type, Confirm Data Changes will not be checked by default so the option "delete cascade" will not even be proposed to you. You can change the default behavior by going in your Connection settings, General, Connection Type and click on Edit Connection Type, then select Confirm Data Changes.
That did the trick for me.
My Dbeaver is in Fren

[2022-07-01 02:10] sujanlawot commented on #7007
It would be great to know the answer....
A huge appreciation whoever help in this question..😀

[2022-07-01 03:00] meglio opened #16939 "Before a Postgres table is created physically, allow columns drag&drop to change their order"
**Is your feature request related to a problem? Please describe.**

While designing a Postgres table in UI, and before it is created, I would like to be able to change columns order. It is safe to allow that because the table does not exist yet, so the user should be free to change the order of columns.

**Describe the solution you'd like**

I would like to be able to drag&drop columns in the UI b

[2022-07-01 03:29] tsathis commented on #5587
Thanks @JuradoBruno Now I can see the "Delete Cascade" option in "Preview Changes". However, it will not update query in preview changes' dialog.

![image](https://user-images.githubusercontent.com/34299693/176817777-9a6cbe2f-df0f-440b-8eb7-c5aaebd9c276.png)

[2022-07-01 08:50] uslss commented on #16923
#16924

[2022-07-01 08:54] uslss commented on #16860
hi @amorfxda , sorry for the late response.
Could you try to Reset to the default settings in Edit Driver Dialog and then Update the driver?
![dbeaver_P5ZXg1NwEd](https://user-images.githubusercontent.com/31996417/176861276-5e6fb47c-6ba3-4d65-849c-2f50a50b4de0.gif)

[2022-07-01 09:09] E1izabeth commented on #16932
Connected to https://github.com/dbeaver/dbeaver/issues/9625

[2022-07-01 09:12] #16030 closed, assigned to Destrolaric, uslss

[2022-07-01 09:19] ShadelessFox commented on #16565
Duplicate of #16939

[2022-07-01 09:19] #16565 closed, assigned to nobody

[2022-07-01 09:37] Postremus commented on #8692
Hi @LonwoLonwo
I get the same error as @gitdode, when I configure the virtual column as he did.

If I do a simple query
[code]

I see the file content. The function exists therefore.

Could you please advice us on how to fix this?

[2022-07-01 10:09] Goobercute commented on #15741
Is there any progress？

[2022-07-01 11:03] Matvey16 opened #16942 "Incorrect step is active first when opening task for editing"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.1.1

#### Steps to reproduce, if exist:
1. Create an export task and save it
2. Open saved task to edit it

**Expected:** Task is opened with the first step of export active
**Actual:** The active step is task properties

This means that starting the task immidiately will perform an export without any

[2022-07-01 11:04] Matvey16 commented on #16915
Another ticket opened #16942 based on this

[2022-07-01 12:20] flambchap commented on #12342
That didn't help either :( Thanks for the reply anyway

[2022-07-01 14:40] JuradoBruno commented on #5587
Yes, same, it doesn't work for me either.

[2022-07-01 14:45] shawnsheridan commented on #12342
Sorry, I wish I had an answer for you but I do not.  I did email Guillaume Villena and he emailed me back with some help.

[2022-07-01 14:52] Destrolaric commented on #16355
Generating a large blob insert is problematic due to following reasons:
1. Large blobs may cause the SQL editor to become unresponsive, so it is a bad idea to insert them through it
2. Insert may require calling specific oracle methods, which will cause this approach to be complicated to implement for other DBs.

[2022-07-01 15:45] emanueol opened #16945 "Snowflake - how to execute select parse_json($1):name from @db.sch.%tbl; wihtout DBEaver thinking "name" is a bind variable and popping window asking to specific BIND value ?"
**Is your feature request related to a problem? Please describe.**
In snowflake we parse files using:
`select parse_json($1):name from @db.sch.%tbl;`

![image](https://user-images.githubusercontent.com/8422412/176927168-1be872f1-8b74-4d07-920d-18a48f676c0d.png)

**Describe the solution you'd like**
BDeaver shall not open popup asking to set BIND variable "name".
In snowflake $1 $2 etc.. are used o

[2022-07-01 15:48] emanueol commented on #16945
UPDATE: I found an Ignore button that executes sql. But still I wonder if anything exists or can be done in future to avoid having the BINDs popup appearing everytime we executing snowflake sql  using $1 $2 etc ?

[2022-07-01 15:49] E1izabeth commented on #16945
Hello, @emanueol! You can disable `Enable SQL parameters` setting in `Preferences ->Editors->SQL Editor->SQL Processing`. Does it help?

![image](https://user-images.githubusercontent.com/28875055/176928087-05f56d0f-60c4-4b38-be78-3e53602029c3.png)

[2022-07-01 16:00] skjbulcher commented on #16591
There could be an option to display the error in the results pane instead, and it shouldn't change the focus from the SQL pane.

This is a HUGE frustration for me, as I use the keyboard shortcuts a lot. There is nothing more disrupting that getting a popup you have to dismiss while you're developing a query.

[2022-07-01 16:13] lewis1277 commented on #16591
Fully agree, this would be great

[2022-07-01 16:14] lyh061619 commented on #16912
Install as an eclipse plugin plug-in

[2022-07-01 20:55] flambchap opened #16947 "NPE of unknown origin in ERD"
An employee of ours ran into an NPE while she was working with an ERD. Unfortunately, we don't know how to reproduce the issue, but we have a log:

[code]

DBeaver UE 22.1

[2022-07-01 22:21] avnav0 commented on #12218
also not able to create an ssh tunnel trough dbeaver.

[code]

i'm using an openssh key that works everywhere else...

[2022-07-01 22:48] carlvon opened #16950 "I can't write complicated queries"
I get errors all the time trying to run queries. They work against MSSQL in SSMS, but if I do a CTE or few, or just make a somewhat imagined query, I get dumb errors from DBeaver. They run fine in SSMS. The latest was a simple query that only had a case statement on the join. DBeaver said no go (SQL Error [208] [S0002]: Invalid object name 'TABLENAME'. Error position:) but that same query ran fine

[2022-07-02 08:21] lookpaw opened #16951 "SQL template delete to enter hotkeys"
Now, the SQL template needs to enter hotkeys. For example, press the hotkey and SF, and then display "select*from".

I want to input short text, then display the description SQL, delete the input hotkey to speed up, press SF and then display "select * from".

[2022-07-02 08:44] #16915 closed, assigned to ShadelessFox, Matvey16

[2022-07-02 08:45] #16867 closed, assigned to Destrolaric, Matvey16

[2022-07-02 14:31] PetroGromovo commented on #16815
I got :

`MySQL Connector/J mysql-connector-java-8.0.17 (Revision: 16a712ddb3f826a1933ab42b0039f7fb9eebc6ec)
`
and :
`MySQL 8.0.29-0ubuntu0.20.04.3`

[2022-07-02 19:09] emanueol opened #16952 "Update Conflict while editing files on Google Drive (drive G:)"
#### System information:
- Windows 10
- DBeaver version 22.1.1.202206261508, release date June 27, 2022
- Java version java version "1.8.0_331", Java(TM) SE Runtime Environment (build 1.8.0_331-b09), Java HotSpot(TM) 64-Bit Server VM (build 25.331-b09, mixed mode)
- Additional extensions Terminal > Terminal

#### Connection specification:
- Database name and version Snowflake
- Driver name net.sno

[2022-07-03 16:22] gsthorat opened #16953 "New Results tab getting opened when same query executed repetitively (only if the previous query execution still in flight)"
#### System information:
- Operating system (distribution) and version  - Windows 10
- DBeaver version - Version 21.3.3.202201221033
- Additional extensions

#### Connection specification:
- Database name and version - Oracle 19c
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  - No

#### Describe the problem you're observing:
Whenever we execute a query (same) and if the previous

[2022-07-03 21:42] devvick commented on #14749
Hi, I've just hit this problem and I managed to capture an error from the server that I wanted to connect to:
[code]

Looks like *both* DBeaver ssh implementations (JSch and SSHJ) present a deprecated signature algorithm to the server when connecting.
More info about that can be found here:
https://levelup.gitconnected.com/demystifying-ssh-rsa-in-openssh-deprecation-notice-22feb1b52acd
https://sec

[2022-07-04 06:58] andale82 opened #16954 "Request new password if old password is not yet valid"
If I have saved the credentials in the configuration mask of a DB and the credentials have changed in the meantime, dbeaver gives me the connection refused error.

It would be a good thing, if the credentials are no longer valid, to show the credentials mask again with the possibility of saving the new ones.

[2022-07-04 08:21] ShadelessFox commented on #16954
Hello @andale82,

Please provide information about the database you're using.

[2022-07-04 09:50] doctor-sex opened #16955 "CSV loads into Netezza - can you increase rows inserted per transaction/SQL?"
Netezza Database is optimised for bulk processing, not single row processing.

When loading from CSV file each, the insert statements insert usually between 1 and 5 rows, occasionally more, but mostly in this range.
The commit rows level was set to 1000 and at this point the inserts were committed, although the actual inserts were in much smaller  quantities.
Inserting very small numbers of rows p

[2022-07-04 11:55] Destrolaric commented on #12683
Linked pr: https://github.com/dbeaver/dbeaver-packaging/pull/41

[2022-07-04 12:19] mskempri opened #16958 "CSV import config is very slow for a 50K row file"
Please note, this is not for the import itself, this is for the dialog that will define the file and the format of the upload
OS: MAC OS 11.6.7
DBeaver version: Version 22.1.1.202206261508
DB: postgres 14.2
drive name:postgres

I'm trying to upload a file with 50000 rows and I can't really move past the file selection dialog. I am stuck in "update data produces settings from import stream" It migh

[2022-07-04 12:23] flambchap commented on #16939
Thank you for your suggestion.

[2022-07-04 13:00] Kluk opened #16961 "Privileges for a specific user on a specific DB are not properly displayed"
#### System information:
- Operating system (distribution) and version: MS Windows 10 Enterprise 21H2
- DBeaver version: 22.1.1.202206261508

#### Connection specification:
- Database name and version: MySQL 5.7.34
- Driver name: mysql-connector-java 8.0.29
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes

#### Describe the problem you're observing:
In the Users panel, the Schema Privileges

[2022-07-04 13:02] flambchap commented on #16178
We cannot edit any data other than enums anymore :(

[2022-07-04 13:14] JSKo13 commented on #16624
@Matvey16

My idea of what is going on is following. When importing date by dBeaver the program converts date from .csv to datetime and by default put the time part as start of the day. As in the log below:

`2022-07-04 14:08:05.746 - No time present in datetime string, defaulting to the start of the day`

Than there is included timezone either from systems setting or the manual one from Import ta

[2022-07-04 13:18] ShadelessFox commented on #16958
Hello @mskempri,

Can you please provide your import settings on that page?

Perhaps you can reduce the `Sample rows count` parameter to some small value.

[2022-07-04 13:30] mskempri commented on #16958
hI @ShadelessFox , thank yo ufor getting back to me.
I am using the default settings. these are the settings:

![Screenshot 2022-07-04 at 14 28 13](https://user-images.githubusercontent.com/1799119/177164803-7673cf2b-a152-40e0-af68-8882ad8722a6.png)

The moment I select the file, it goes into this screen

![Screenshot 2022-07-04 at 14 28 26](https://user-images.githubusercontent.com/1799119/177164

[2022-07-04 13:48] GreenBattery opened #16962 "Prompt for password if auth fails, even if credentials are saved"
#### System information:
- Operating system (distribution) and version: Mac OS 12.4
- DBeaver version 22.1.1.202206261508
- Java version --
- Additional extensions -- none

#### Connection specification:
- Database name and version: Mysql 8.0
- Driver name Mysql JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No.

#### Describe the problem you're observing:

This is more like an enh

[2022-07-04 14:11] GuenterSch commented on #14748
Please consider also https://github.com/dbeaver/dbeaver/issues/16730#issue-1263155480
Thanks
Günter

[2022-07-04 14:56] felipeggrod commented on #5587
Same here

[2022-07-04 17:53] MikeB2019x commented on #16953
dBeaver:  Version 22.1.1.202206261508
OS:  MacOS Catalina v 10.15.7(19H15)

I am intermittently getting the same behaviour but even if the query completes.  To replicate:

a) execute a query from sql editor
b) tab opens with results
c) repeat the query (maybe with a slight mod) using ctl-enter (or orange arrow in sql editor)
d) new tab opens with result vice same tab being refreshed.

Note that ta

[2022-07-04 21:28] JamesInform opened #16963 "DBeaver crashes while editing PostgreSQL bytea column"
DBeaver 22.1.1, Mac

Steps to reproduce:
- Connect to a PostgreSQL server
- Open new SQL editor
- Execute the following command:
select 'test'::bytea;
- Open the bytea editor in the result tab using e.g. F7 key
- Click with the mouse into the bytea editor
- CRASH

[2022-07-05 02:03] dennisKwone commented on #16840
tried restarting, it remain unchanged.

[2022-07-05 04:47] maurocolella commented on #8508
@Matvey16 I have just encountered the issue on Ubuntu 20.04

I started with the snap package, updated to the latest version of dbeaver-ce (22.1.1).

I couldn't see any native client (I am using mariadb), so I uninstalled, installed the deb package (from the website), reconfigured my connection to use locahost, and I encountered the issue in this thread.

I then configured my connection to use 127.

[2022-07-05 05:55] travelliu opened #16965 "After the source code is compiled, the running part of the menu is not translated into Chinese"
#### System information:
- Operating system (distribution) and version macOS 12.4 21F79 x86_64
- DBeaver version 22.1.1
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

java

[code]
mvn

[code]

1. download code

    !

[2022-07-05 06:03] DenisSbragion commented on #16756
+1 for this issue. I'm having the same problem. Never complained before because apart from this DBeaver is such a great tool, but if you're going to check into it anyway, well, lukaseder isn't the only one having to deal with really big SQL scripts. Even an option or a key shortcut to temporarily disable what makes the editor slow with such big scripts would be of great help.

[2022-07-05 07:37] sleazonator commented on #7257
Hi, I am new to GitHub, so apologies if I am not commenting on this correctly. Was #7257 resolved to diagrammatically show the relations between columns (such as with mySQL)? For me its very annoying this functionality is not present in the latest version. 22.1.1

[2022-07-05 08:35] ShadelessFox commented on #16958
Unfortunately, I'm unable to reproduce your issue. In my case, the performance is acceptable (it takes less than a second).

A thread dump might help. Please refer to our wiki:
https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump#mac-and-linux

[2022-07-05 08:41] Destrolaric commented on #16963
Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-07-05 08:47] Destrolaric commented on #7257
@sleazonator Currently it is disabled by default, due to being in need of polishing you can change routing settings in ERD Settings
![image](https://user-images.githubusercontent.com/20579256/177288064-9d179d1a-2aef-4653-8515-f6c90126f4bd.png)

[2022-07-05 09:36] mskempri commented on #16958
Thank you @ShadelessFox , I'm currently trying with a file of 1.7MB (I think about 1000 rows) and it's now taking a LONG time on

![Screenshot 2022-07-05 at 10 36 29](https://user-images.githubusercontent.com/1799119/177298742-3b3006cd-a50e-47e8-85fb-eaee4d66c401.png)

I attach the thread dump thus far

[thread-dump_stuck_on_load_child_objects.txt](https://github.com/dbeaver/dbeaver/files/9045187/

[2022-07-05 09:58] ShadelessFox commented on #16958
Thanks for the thread dump. I can see that it's reading metadata about your tables. How many tables do you have in the schema containing the target table? (It's an I/O-bound operation. A slow network connection may have an impact on the performance.)

I'm interested in a thread dump during the `Update data produces settings from import stream` status. Sorry for not clarifying that earlier.

[2022-07-05 10:06] Jeetah commented on #3270
Trying to get DBeaver EE for Postgres working with generate-db-auth-token - but there seems to be no easy way? Or am I missing something? Getting "FATAL: PAM authentication failed for user ..." I also do not see a way to assign this token to the password variable via shell script.

[2022-07-05 10:14] mskempri commented on #16958
I have 2 tables in that schema and NO tables in the progres schema.

Since I created the thread dump, the process is still stuck on : load child objects (even though I do not have the disable foreing keys box ticked as I don't have any foreign keys.

If I press on stop, the window hangs there. Here is the thread dump after I pressed stop

[thread-dump_stuck_on_load_child_objects_after_press_stop.t

[2022-07-05 10:19] mskempri commented on #16958
The first screen progressed - now I am waiting for the second screen:

![Screenshot 2022-07-05 at 11 19 08](https://user-images.githubusercontent.com/1799119/177306710-0324e584-7a95-41f6-83aa-52a35892f027.png)

[thread-dump_stuck_settings_from_import_stream_table_mapping_step.txt](https://github.com/dbeaver/dbeaver/files/9045501/thread-dump_stuck_settings_from_import_stream_table_mapping_step.txt)

[2022-07-05 10:22] mskempri commented on #16958
![Screenshot 2022-07-05 at 11 21 17](https://user-images.githubusercontent.com/1799119/177307072-933b4666-1a33-4151-a3e5-2576afed1adb.png)

![Screenshot 2022-07-05 at 11 19 08](https://user-images.githubusercontent.com/1799119/177307109-353eb9d1-4ce6-4fcc-bef1-36182e96a7bd.png)

I don't know if I mentioned that this is an RDS hosted postgres (I don't konw if that makes a difference) but I still ca

[2022-07-05 10:34] ShadelessFox commented on #16958
After further investigation, it turns out the file you've provided is missing the quote (`"`) at the start, which hangs DBeaver, making it read the file until the end.

The solution is to put `"` at the start of the file.

Please let me know if it helps.

[2022-07-05 10:46] flambchap commented on #14749
Hi @devvick, thanks for the insight! We will dig in that direction

[2022-07-05 10:47] mskempri commented on #16958
Oh wow, thank you, that worked like a charm straight away.
I can go ahead and close the ticket, otherwise maybe you can treat it for validating the CSV format before uploading? Whatever you prefer

[2022-07-05 10:52] ShadelessFox commented on #16958
I'm not sure if we can fix that. I guess the issue can be closed now.

[2022-07-05 10:54] mskempri commented on #16958
Thank you for your help

[2022-07-05 10:54] #16958 closed, assigned to nobody

[2022-07-05 10:59] flambchap opened #16967 "Make it possible to choose a table engine when creating a new table via data transfer"
When DBeaver transfers data to a ClickHouse table with the 'create' mapping, it defaults to the Log engine. We need an option that allows choosing a different table engine.

Ideally, we need a generic approach since we might want to add something similar in the future. For example, we might want to choose a table engine in MySQL/MariaDB, create indexes in Cassandra/Keyspaces, etc.

[2022-07-05 11:11] JamesInform commented on #16963
Here come the log files:

2022-07-05 13:05:48.348 - Create display

2022-07-05 13:05:48.638 - DBeaver 22.1.1.202206261508 is starting
2022-07-05 13:05:48.640 - OS: Mac OS X 10.15.7 (x86_64)
2022-07-05 13:05:48.640 - Java version: 11.0.12 by Eclipse Foundation (64bit)
2022-07-05 13:05:48.640 - Install path: '/Applications/DBeaver.app/Contents/Eclipse'
2022-07-05 13:05:48.640 - Instance path: 'file:

[2022-07-05 11:38] Destrolaric commented on #16963
@JamesInform Looks like this log doesn't contain information about the issue. You can try to find crash logs. Information about how to find them is provided here.
https://dbeaver.com/docs/wiki/Log-files/#java-fatal-logs
Also, if possible, a  video demonstration can help.

[2022-07-05 12:20] ShadelessFox commented on #16069
Hello @reinaldofox,

After further investigation, it seems that you're using the MySQL driver that doesn't report error positions.

Consider using the MariaDB driver.

Please let me know if it solves your issue.

[2022-07-05 12:24] bagabool commented on #16076
got this warning during the installation.

`Warning: flag --classic ignored for strictly confined snap dbeaver-ce`

this installed me the community version, so it still crashes when I try to visualize spatial datas (multipolygon)

[2022-07-05 12:34] flambchap commented on #16936
Hello @kyleflan. Could you please show me the output you get when you click 'Test Connection"? Thank you.

[2022-07-05 13:16] arpoodle commented on #16914
That seems to fix it thanks!

[2022-07-05 13:53] JamesInform commented on #16963
Here is the OpenJDK log:

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007fff2e95a357, pid=61616, tid=775
#
# JRE version: OpenJDK Runtime Environment Temurin-11.0.12+7 (11.0.12+7) (build 11.0.12+7)
# Java VM: OpenJDK 64-Bit Server VM Temurin-11.0.12+7 (11.0.12+7, mixed mode, tiered, compressed oops, g1 gc, bsd-amd64)
# Problematic frame:
# C  [

[2022-07-05 14:12] JamesInform commented on #16963
Here is an animated gif showing the issue:

[2022-07-05 14:13] Destrolaric commented on #16963
@JamesInform Github doesn't support sending any attachments through email, it should be done from the GitHub itself

[2022-07-05 14:14] JamesInform commented on #16963
Here is an animated gif:
![DBeaver_Error](https://user-images.githubusercontent.com/38714600/177348461-e8b44dbb-722d-4bc8-a60d-c5fab47752d5.gif)

[2022-07-05 14:37] #15963 closed, assigned to uslss, ShadelessFox

[2022-07-05 14:39] #16886 closed, assigned to E1izabeth, uslss

[2022-07-05 14:39] #15555 closed, assigned to Destrolaric, uslss

[2022-07-05 14:40] #16007 closed, assigned to uslss, ShadelessFox

[2022-07-05 14:40] #16942 closed, assigned to ShadelessFox, DariyaFedorova

[2022-07-05 14:40] #13834 closed, assigned to E1izabeth, uslss

[2022-07-05 14:41] #15635 closed, assigned to E1izabeth, uslss

[2022-07-05 14:55] wmeitzen opened #16972 "SQLite drop column generates bad SQL"
Operating system and version: Win Server 2019
DBeaver version: Community 22.1.1.202206261508
Driver class name: org.sqlite.JDBC
Database type: SQLite
SQLite version: 3.36.0

Describe the problem you're observing:

I believe I found some problems with the SQL that DBeaver generates when dropping a column on a table.  The generated scripts do not work in some cases.

These issues are not super-criti

[2022-07-05 15:48] Destrolaric commented on #16963
I was able to reproduce this issue. This happens if value panel is located in bottom side of a screen. As a temporary workaround you can rotate it by pressing this button.
![image](https://user-images.githubusercontent.com/20579256/177367233-6d015fa5-7bc5-43c0-a549-4407d405d9bb.png)

[2022-07-05 15:51] JamesInform commented on #16963
The workaround works.

Thanks!

[2022-07-05 20:29] y-hashida opened #16973 "Request for extension to parse `~/.ssh/config`."
# Desired feature

I request an extension to parse `~/.ssh/config` when using the ssh tunnel.

# Current problem

I am using the latest version of DBeaver (22.1.1.202206261508) and it does not respect `~/.ssh/config`, so hostnames are not resolved.

For example, choosing `hoge-backend` as the hostname in the following configuration will not resolve the hostname

[code]
I would like to centralize t

[2022-07-06 01:16] pauloneves commented on #16374
Sorry, I missed the original comment.

As I said, the comment appears in the DDL

[2022-07-06 06:57] roelandg commented on #15516
Same issue, as I'm administering db users couple times a day, this is really frustrating. Using 22.1.1

[2022-07-06 07:44] emironovDB commented on #16914
@arpoodle
Thanks for your answer.
Have a nice day!

[2022-07-06 07:56] Aileron79 commented on #16873
As a workaround, is there a setting to keep alive a connection so I don't have so many reconnection attempts clogging up my browser window?

[2022-07-06 07:57] TomGeoDK opened #16974 "Creating ER Diagram for Access (*.accdb) fails with NullPointerException"
#### System information:
- Operating system: Windows 10 Enterprise, Build 19044.1766
- DBeaver version:  22.1.1.202206261508

#### Connection specification:
- Microsoft Access Database
- Driver name: MS Access (UCanAccess)
- Do you use tunnels or proxies?: none

#### Describe the problem you're observing:
As soon as I hit the *Finish* button in the *Create new diagram* dialog I am getting a NullPo

[2022-07-06 08:03] regseb opened #16975 "Installing Eclipse's DBeaver plugin doesn't find https://dbeaver.io/update/ce/latest/content.xml"
#### System information:
- Operating system (distribution) and version: Windows 10 Entreprise
- DBeaver Eclipse plugin version: 22.0.5
- Eclipse version: 2022-06 (4.24.0)

#### Describe the problem you're observing:

Installing Eclipse's DBeaver plugin (from marketplace) doesn't work: file https://dbeaver.io/update/ce/latest/content.xml doesn't exist.

#### Steps to reproduce, if exist:

- On Ecli

[2022-07-06 08:12] roelandg commented on #15516
@ShadelessFox  I see this is now labeled as a feature request. However, this is actually a bug. After my update to 22.1.1, this issue occurred for me. It could be that I skipped some releases, so can't recall which was the latest version this was not in issue.

[2022-07-06 08:33] E1izabeth opened #16977 "Change default driver version for Snowflake"
We encounter driver error with the latest driver version.

[code]

[2022-07-06 08:41] E1izabeth opened #16978 "Enhance new parser to better resolve grammar ambiguities"
We need to try to add GSS to our current realization.
It will help with error handling and especially with cases when we don't have a full grammar.

[2022-07-06 09:18] Destrolaric commented on #14647
@glw Hi, sorry for waiting. Are you sure that logs are the actual ones? By the shown date, it looks like they were written in 2019.

[2022-07-06 09:33] #15605 closed, assigned to E1izabeth

[2022-07-06 09:43] qilinsanshao opened #16980 "DBeaver folder generated when startup the app"
#### System information:
- Operating system (distribution) and version
- **win10**
- DBeaver version
- 22.1.0

Describe the problem you're observing:
hello，when I startup the DBeaver，it will auto generate a folder in my git project folders every time.
In this folder, it has a json file named "project-settings". I dont need to push the usless file to my remote brathes...

![p1](https://user-images.

[2022-07-06 09:44] Destrolaric commented on #16883
@mvenghaus Hi, sorry for late response, I was unable to reproduce it on Wayland Gnome 3.38.4 can you provide an additional information. Providing a video demonstatration may help

[2022-07-06 09:46] E1izabeth commented on #16980
Hello, @qilinsanshao! You can add `.dbeaver` folder to `.gitignore` file.

[2022-07-06 09:50] qilinsanshao commented on #16980
hi  E1izabeth:
thanks for your quick respose, but I really dont want to update the ignore file to the remote bratch.
Could you help to explain why did it happen and how could I to disable it ?
Thanks!

[2022-07-06 09:50] #14285 closed, assigned to E1izabeth, uslss

[2022-07-06 09:51] #15739 closed, assigned to E1izabeth

[2022-07-06 09:52] #16947 closed, assigned to flambchap, uslss

[2022-07-06 09:52] #16839 closed, assigned to uslss

[2022-07-06 10:00] E1izabeth commented on #16980
It's a dbeaver project file. As well as `.project` from your screenshot. You can't disable it, because dbeaver needs to store project settings.

[2022-07-06 10:17] emironovDB commented on #16201
This issue depends on: https://github.com/dbeaver/dbeaver/issues/16978

[2022-07-06 10:31] emironovDB commented on #16978
"Acceptance criteria":
- [ ] After we integrated this algs all tests should be passed
- [ ] ClickHouse Enum handling works correct
- [ ] Grammar SQL-92 could be used for parser (at least for testing) and made an acceptable performance

[2022-07-06 11:27] #16980 closed, assigned to nobody

[2022-07-06 11:59] emironovDB opened #16983 "Arrays that contain structures can't be expanded"
We already support expansion of arrays in the grid
Now we need to expand further this feature and support arrays of structures

[2022-07-06 12:05] uslss commented on #16974
thanks for the report

[2022-07-06 12:29] liuzhe101 commented on #16838
The input method that comes with mac book pro 2021 16, this phenomenon occurs from time to time, generally when it appears in the association table, when you click enter, it will wrap

[2022-07-06 12:35] emironovDB commented on #16923
@trybowski
Thanks for the bug report.

[2022-07-06 12:38] emironovDB commented on #16931
@fabianobonin
Thanks for the feature request.

[2022-07-06 12:40] emironovDB commented on #16950
@carlvon
Could you please provide an example of such queries?

[2022-07-06 12:49] emironovDB commented on #16952
@emanueol
Thanks for the bug report.

[2022-07-06 12:53] whudwl commented on #2061
would like to see this implemented as well

[2022-07-06 12:54] #16178 closed, assigned to uslss, ShadelessFox, Matvey16

[2022-07-06 12:55] emironovDB commented on #16955
@doctor-sex
Could you use the latest version of DBeaver and provide log-files if the issue is still there?

[2022-07-06 12:55] whudwl commented on #2061
One trick is to C-x C-x to see where start and end of selection is

[2022-07-06 12:55] #15516 closed, assigned to ShadelessFox

[2022-07-06 12:55] #16826 closed, assigned to uslss, ShadelessFox

[2022-07-06 12:56] #16036 closed, assigned to Destrolaric, uslss

[2022-07-06 13:01] emironovDB commented on #16961
@Kluk

Try to use the MySQL 5 driver instead:

![Image](https://user-images.githubusercontent.com/105634259/177555805-a893af6c-1757-4aed-ab7f-01d1f8951484.png)

Please let me know if it helps.

[2022-07-06 13:08] #16965 closed, assigned to nobody

[2022-07-06 13:09] emironovDB commented on #16972
@wmeitzen
Thanks for the bug report.

[2022-07-06 13:13] emironovDB commented on #16973
@y-hashida
Thanks for the feature request!

[2022-07-06 13:20] emironovDB commented on #16912
@lyh061619

Can you please provide video or screenshot?
And [could you provide log-files](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2022-07-06 13:26] emironovDB commented on #16873
Seems similar https://github.com/dbeaver/dbeaver/issues/15153

[2022-07-06 13:29] doctor-sex commented on #16955
@emironovDB

Since posting this, it appears that the single (or few) rows at a time processing happens when rows in the source file contains rows that contain NULL values in different columns.
For example
123,RABC,, 2022-12-31
234,XYZ,, 2021-08-08
in these case when the 3rd column is NULL in both rows, then the rows will load together in a single SQL statement.

However..  if the next rows look li

[2022-07-06 13:34] emironovDB commented on #16840
@dennisKwone

Try resetting UI settings

![Image](https://user-images.githubusercontent.com/105634259/177562532-67dae71c-e95c-4ab5-ac53-955809b63908.png)

Let me know if it helps

[2022-07-06 13:48] ShadelessFox commented on #16924
Hello @trybowski,

Thanks for the feature request

[2022-07-06 14:05] emironovDB commented on #16955
@doctor-sex
I recommend you to install the latest version of DBeaver.
In the last years (version 7.1.1 was published in 2020-11-03) we upgrade a lot of performance and add many features.

[2022-07-06 14:20] Destrolaric opened #16988 "[ERD] Can't create association without assigning all keys"
When we create a dictionary table with two or more foreign keys, we can't make foreign keys via ERD because dialog requires us to fill all non-null key fields, which means we can't fill keys from different tables.

[2022-07-06 14:33] doctor-sex commented on #16955
@emironovDB
when I click 'check for updates' it tells me there is no newer version  than 7.1.1.202006231904

[2022-07-06 14:34] #15981 closed, assigned to Destrolaric

[2022-07-06 14:36] emironovDB commented on #16955
@doctor-sex
I see, can you download the installer from this page?
https://dbeaver.io/download/

Or your corporate laptop doesn't provide this option?

[2022-07-06 14:55] echan888 commented on #16246
hello @LonwoLonwo,

I tested out the multi-row value insert for the Trino database connector and it works if I set the value to a small number like 140. Setting it to larger values would result in the following error. Is there a setting that would allow me to specify higher values for better performance?

SQL Error: Error executing query
  Error executing query
  Error executing query
    Error fe

[2022-07-06 18:41] #15868 closed, assigned to E1izabeth, uslss

[2022-07-06 21:09] flambchap opened #16991 "Write a wiki page about getting rid of UI flickering when using the X Input Method"
As an Eclipse RCP apllication, DBeaver suffers from the following bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=517671. We need a wiki page that accumulates known workarounds.

[2022-07-07 00:19] ShadelessFox opened #16992 "Update wiki page about shortcuts to match actual command names"
### Discussed in https://github.com/dbeaver/dbeaver/discussions/14662

Finding a command for the given "action" text is hard. It should match the name of the command.

[2022-07-07 00:56] enkracken opened #16993 "Why don't next button always enabled when we dump mysql and the show the error to us?"
#### System information:
- Manjaro Linux 5.10 LTS
- DBeaver version 22.0.4.202205022238
- Just mariadb jdbc driver

#### Connection specification:
- MariaDB 10.8.3
- MySQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
I have added local client to /usr/bin and find the MariaDB 10.8.3. I choose it, output folder to home/myusername/Documents/Databa

[2022-07-07 02:02] stanfordpeng opened #16994 "Picking up wrong spanner database in URL"
#### System information:
- Mac OS BigSur
- DBeaver version:22.1.1.202206261508

#### Connection specification:
- GCP Spanner emulator
- driver: Google Cloud Spanner https://cloud.google.com/spanner/docs/use-oss-jdbc

#### Describe the problem you're observing:
Picking up wrong database name when there are two database with same prefix , see below:
![image](https://user-images.githubusercontent.com

[2022-07-07 02:48] zhengb0 opened #16995 "Object parameter [true] binding not supported(DBeaver 21.3.2, ClickHouse 22.6.1.1985)"
When I manually insert/modify data, the field of type Bool is set to true and an error is reported, But I have no problem using sql to insert

<img width="346" alt="image" src="https://user-images.githubusercontent.com/23613077/177679526-d728c264-b407-4ad8-afa5-85c86f9c83b3.png">
<img width="204" alt="image" src="https://user-images.githubusercontent.com/23613077/177679563-cf25aed3-453f-4784-a684-

[2022-07-07 03:36] xantari opened #16996 "Azure SQL nvarchar columns show incorrect lengths"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 22.1.1

#### Connection specification:
- Database name and version: Azure SQL
- Driver name: com.microsoft.sqlserver.jdbc.SQLServerDriver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

When viewing tables with nvarchar columns in Azure SQL The c

[2022-07-07 03:44] dennisKwone commented on #16840
@emironovDB

That does not solve the issue. I remember it has to do with the Preferences settings but i do not know what color should i change.
![image](https://user-images.githubusercontent.com/107837616/177686148-e94d740e-455f-4a3b-97da-79d41ecf68b4.png)

[2022-07-07 05:31] cnscottluo opened #16997 "idea debug error, not found dev.properties"
!SESSION 2022-07-07 13:27:51.771 -----------------------------------------------
eclipse.buildId=4.22.0.I20211124-1800
java.version=11.0.14.1
java.vendor=Eclipse Adoptium
BootLoader constants: OS=macosx, ARCH=x86_64, WS=cocoa, NL=en

!ENTRY org.eclipse.osgi 4 0 2022-07-07 13:27:52.118
!MESSAGE /Users/scottluo/eclipse-workspace/dbeaver-ce/eclipse/workspace/.metadata/.plugins/org.eclipse.pde.core/DB

[2022-07-07 06:17] DariaMarkaryan commented on #16499
The text "Override pgpass hostname" is replaced by the value of inserted hostname

https://user-images.githubusercontent.com/43252954/177704608-f034e657-12ba-4dbe-ae45-b79396ce90de.mp4

[2022-07-07 07:08] Kluk commented on #16961
Hello @emironovDB,

Thank you for your answer.

I tried with MySQL 5 driver but the result is the same:
![image](https://user-images.githubusercontent.com/5413585/177712501-7863ae8b-93f2-46b4-aed3-3159bb371624.png)

Here is the view from Workbench:
![image](https://user-images.githubusercontent.com/5413585/177712652-f49c3905-1639-4519-8273-3dac80672193.png)

And the EVENT privilege is still missin

[2022-07-07 09:19] emironovDB opened #16998 "Update the article: Reset UI settings"
Need to add more information about functionality in this article: [Reset UI settings](https://github.com/dbeaver/dbeaver/wiki/Reset-UI-settings)
[According to this issue](https://github.com/dbeaver/dbeaver/issues/16840#issuecomment-1176229833), user doesn't understand how to reset settings. So we need to add some screenshots to clear this question.

[2022-07-07 10:17] ssttaarr opened #16999 "Unable to open user interface preferences"
* Fresh Eclipse 2022-06 (4.24.0) installation
* DBeaver feature 22.1.1.202206261508
* openjdk version "17.0.3" 2022-04-19 (bundled with Eclipse)
* Linux Mint 20.3 x86_64

All org.jkiss settings were removed from ${WORKSPACE}/.metadata/.plugins/ folder prior DBeaver installation.

Attempt to navigate to Preferences -> Database -> User Interface (or any settings below) results in `The currently disp

[2022-07-07 10:20] E1izabeth commented on #16999
Connected to https://github.com/dbeaver/dbeaver/issues/16912

[2022-07-07 10:54] andale82 commented on #16954
I'm sorry, I thought that the credentials management were independent from the DataBase.

I have this problem on Oracle DataBase.
I didn't test it on MySQL DataBase.

[2022-07-07 11:05] uslss commented on #16995
thanks for the report

[2022-07-07 11:20] uslss commented on #16953
thanks for the report

![dbeaver_WTusDVcEoI](https://user-images.githubusercontent.com/31996417/177761774-b6c6e727-0014-42ea-8f19-9042c3a59f9a.gif)

[2022-07-07 11:43] E1izabeth commented on #16953
It used to work this way for a long time (maybe always). Reproducible on DBeaver 21.0.0

[2022-07-07 12:48] sochotnicky opened #17002 "Documentation page for setting config.ini system properties has errors"
#### Describe the problem you're observing:
In https://github.com/dbeaver/dbeaver/issues/16146 a suggestion was to follow https://github.com/dbeaver/dbeaver/wiki/How-to-set-a-variable-if-dbeaver.ini-is-read-only to override trust store location

However [example config.ini](https://github.com/dbeaver/dbeaver/wiki/How-to-set-a-variable-if-dbeaver.ini-is-read-only#configini-example) in that document

[2022-07-07 12:58] E1izabeth commented on #17002
Hi, @sochotnicky.
Thank you for the reporting it to us.

[2022-07-07 13:04] flambchap commented on #16997
Hi @cnscottluo. It seems like you need to adjust the path to dev.properties. Please find this file in your eclipse workspace, then open the Edit Configurations dialog in IDEA -> Alt + R -> Shift + Enter and adjust the value of the -dev flag.

[2022-07-07 13:30] MikeB2019x commented on #16953
@E1izabeth I'm not sure which behaviour you are speaking of.  But to elaborate on the behaviour I expected: my experience for these past years was when I used say the topmost orange arrow to run a query, it opened a tab the first time and then just refreshed the tab results on subsequent runs.  If I wanted to expressly open a new tab for a result, I used the orange arrow with the `+` symbol.  I've

[2022-07-07 13:42] glw commented on #14647
@Destrolaric oh sorry i didnt notice that. If i recall correctly I believe I found the ```.dbeaver``` folder in my home directory - and just assumed it must be the correct log since I was unable to find other directories.

When I went here https://github.com/dbeaver/dbeaver/wiki/Log-files I had no directories in the suggested location for linux

I will do a triple check for other dbeaver related d

[2022-07-07 13:48] riednyko commented on #17002
@sochotnicky thank you for the reporting it. These errors in the documentation have been fixed.

[2022-07-07 13:50] flambchap opened #17003 "Auto-collect log files from the UI"
We often ask users to collect log files from the file system and send them back to us. People sometimes face some issues here. For example, they do not send us all the needed log files. We need an option in the Help menu that collects all the logs and suggests saving them as an archive to some place in the file system.

[2022-07-07 13:51] #16893 closed, assigned to uslss, ShadelessFox

[2022-07-07 13:58] Destrolaric commented on #14647
@glw Yes, this may help to resolve the issue.

[2022-07-07 14:26] E1izabeth commented on #16953
@MikeB2019x I was speaking about the behavior from @uslss video. DBeaver opens new tab on the same query execution when data is loading for previous execution. I was able to reproduce such behavior only in this case.

[2022-07-07 14:30] E1izabeth commented on #16953
@MikeB2019x, do you encounter this issue not only in described case?

[2022-07-07 15:10] E1izabeth commented on #16998
Both articles about `Reset UI settings` and `Reset workspace` were updated: screenshot of how to use it with DBeaver
https://github.com/dbeaver/dbeaver/wiki/Reset-UI-settings
https://github.com/dbeaver/dbeaver/wiki/Reset-workspace

[2022-07-07 16:43] gsthorat opened #17008 "Generate SQL with selected columns option"
Not sure whether I should say it as enhancement or new feature request, but It would be nice to have the below option in Dbeaver.

We have an option in Dbeaver to generate INSERT, UPDATE, etc. queries dynamically.
But with the current implementation it does consider all the available column on the grid.

I have a suggestion/request to consider only selected columns OR provide new option to **_Gene

[2022-07-07 16:44] trenish commented on #11220
@ADataGMan, the confusion seems to be based on whether the asterisk is highlighted vs. the cursor is simply resting to the immediate right of the asterisk and nothing highlighted.  If highlighted, ctrl+space causes a list to pop up for individual field selection.

In the latter scenario in which the asterisk is *not* highlighted, my coworker and I have two different behaviors (no idea why).  For h

[2022-07-07 16:48] gsthorat commented on #17008
I can see in the code that we are considering all the available columns/attributes
Here, [SQLGeneratorInsert.java#L33](https://github.com/dbeaver/dbeaver/blob/e2d7b3e24ca969a142aae9238502cf0022b5724e/plugins/org.jkiss.dbeaver.model.sql/src/org/jkiss/dbeaver/model/sql/generator/SQLGeneratorInsert.java#L33)

We can somehow get the selected columns and then generate SQL based on that.
:)

[2022-07-07 18:49] GuenterSch opened #17009 "Private key provided is invalid or not supported .. DerInputStream.getLength(): lengthTag=56, too big"
#### System information:
- Operating system Windows 10 21H1
- DBeaver version 22.1.1

#### Connection specification:
- Database name Snowflake 6.22.0
- Driver name snowflake-jdbc-3.13.20.jar

#### Describe the problem you're observing:
Test connection in the Connection settings returns the following error:
**Private key provided is invalid or not supported: C:\Users\z000xxxx\Keys\Dev_mnxxxxxxx_tu_

[2022-07-07 20:50] RamonGiovane commented on #13968
Still having this on version 22 :confused: (Linux Mint 20)
![image](https://user-images.githubusercontent.com/40267373/177868617-0da00e6a-679b-4bf6-8be6-bf8337bf3e0b.png)

[2022-07-07 22:38] ShadelessFox commented on #13968
Hello @RamonGiovane,

This issue is about macOS, and it has been resolved. Please find an existing issue or create a new one.

[2022-07-08 02:05] Fcscanf commented on #16862
Hi @emironovDB ,
I added his log file, thanks for your help to check, thanks
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/9068348/dbeaver-debug.log)
[dbeaver.log](https://github.com/dbeaver/dbeaver/files/9068349/dbeaver.log)

[2022-07-08 06:01] aleksandr-shevchenko commented on #15887
ver.22.1.1
Is this the next release? Or should we wait another year?
<img width="935" alt="ss_2022_07_08__09_54_44" src="https://user-images.githubusercontent.com/25248634/177926523-b5428eab-b389-48e1-86e1-b17e25a18856.png">

[2022-07-08 06:38] serge-rider commented on #15677
The problem was in SQLite dialect config (subqueries support was disabled).

[2022-07-08 07:24] niziyong commented on #13402
他仍然存在于21.1.5中

[2022-07-08 08:15] merlinrabens commented on #8405
A little bit late to the party but I observed exactly the same behaviour as @jdvor did. Nothing helped, until I deleted the affected connection completely.

[2022-07-08 08:38] ShadelessFox commented on #15887
Hello @aleksandr-shevchenko,

We can't fix font issues on that particular page. It comes from Eclipse.

[2022-07-08 08:47] E1izabeth commented on #16993
Hello, @singkongjalar. It's the last page of wizard, so there is no next page, that's why `Next` button is disabled. To start the job you need to push `Start` button between `Back` and `Cancel`.

[2022-07-08 08:48] E1izabeth commented on #16993
Maybe we need to improve UX. We could revise the order of these buttons or replace `Next` button with `Start` instead of disabling `Next` button.

[2022-07-08 10:29] WEGFan commented on #15991
DBeaver 22.1.1

When a document contains wide or fullwidth characters (usually CJK), they are shown incorrectly in JSON view. It looks like it's using a fixed width to position the characters instead of the actual character width.

![](https://user-images.githubusercontent.com/7558201/177973113-810cc32c-dc4c-4e6f-8a08-4434ba355e45.png)

In JSON editor it's rendered correctly.

![](https://user-ima

[2022-07-08 10:31] E1izabeth commented on #15991
@WEGFan, thank you for clarification.

[2022-07-08 11:42] regseb commented on #16975
The problem came from my company's proxy. After configuring the proxy correctly, the installation worked.

[2022-07-08 11:42] #16975 closed, assigned to nobody

[2022-07-08 12:03] emironovDB commented on #15577
Work as expected

[2022-07-08 12:03] #15577 closed, assigned to nobody

[2022-07-08 12:21] markus-franke commented on #2618
Looks like this feature is broken if DBeaver is installed via snap. I reckon that this might have something to do with the "/tmp" folder being used differently in this environment but I am not sure.

[2022-07-08 13:14] E1izabeth opened #17014 "Add update/delete/insert/etc. statements to Console View"
We need to show text of query and statistics.

[2022-07-08 13:18] E1izabeth opened #17015 "Add errors to Console View"
We need to show query text and error message.

[2022-07-08 13:21] uslss opened #17016 "Custom data types cannot be expanded in record mode"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.1.2

#### Connection specification:
- Database name and version Postgres

#### Describe the problem you're observing:
Custom data types cannot be expanded in record mode
#### Steps to reproduce, if exist:
![image](https://user-images.githubusercontent.com/31996417/178000019-7166a4f6-09a7-4272-8158-45c

[2022-07-08 13:25] uslss opened #17017 "Change string representation of arrays in the spreadsheet"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.1.2

#### Describe the problem you're observing:
Change Default string view for expandable array in Data Grid
#### Steps to reproduce, if exist:
![image](https://user-images.githubusercontent.com/31996417/178000761-0450063b-af5d-4914-a342-cc8ac6a45782.png)

[2022-07-08 13:30] E1izabeth opened #17018 "Wiki for Console View"
Write wiki about Console View: https://github.com/dbeaver/dbeaver/wiki/Console-View

- [x] what is it? how to use it?
- [x] default preference
- [x] saved state per script
- [x] restore after tab was closed if it's still enabled
- [x] context menu

[2022-07-08 13:49] ShadelessFox commented on #17017
Fixed in #16887

[2022-07-08 13:52] E1izabeth opened #17021 "Add padding for buttons in Event view from Query Log"
![image](https://user-images.githubusercontent.com/28875055/178005095-b84b27ad-0468-42d0-ad34-c9e84ed3c648.png)

[2022-07-08 13:54] E1izabeth opened #17023 "NPE on apply formatting settings"
1. Select text in SQL Editor
2. Open formatting settings
3. Change indent size

[code]

[2022-07-08 14:05] uslss opened #17024 "Geometry view for Oracle incorrectly works in CE"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.1.2

#### Connection specification:
- Database name and version Oracle
-
#### Describe the problem you're observing:
Geometry view for Oracle incorrectly works in CE. Expand button is available for the row, but it doesn't work
![image](https://user-images.githubusercontent.com/31996417/178007763-492e1

[2022-07-08 14:10] Destrolaric opened #17025 "Dictionary max size settings always uses datasource preference"
Dictionary editor max size settings always use the value of data source preferences even then they are disabled.

[2022-07-08 14:14] Destrolaric opened #17026 "Hex editor layout on mac is broken"
Hex editor for macOS has multiple elements which are not aligned correctly see the screenshot.
![image](https://user-images.githubusercontent.com/20579256/178009220-527679be-6889-408c-aa8e-28b9d3a7afc6.png)
This leads to part of hex values being not visible

[2022-07-08 14:18] Destrolaric opened #17028 "Hex editor ignores Read-only status"
If the table is read-only, the hex editor should disable the ability to edit table values. But in its current state, this doesn't happen and you can edit those values.
Example query:
`select 'test::bytea`

[2022-07-08 14:21] serge-rider commented on #17023
Problem was caused by panel editors (text editors) which remained undisposed (old listeners were still listening for events while UI widgets were alread ydestroyed).
It also caused memory leaks in data editor.

Fixed.

[2022-07-08 14:29] #16887 closed, assigned to uslss, ShadelessFox

[2022-07-08 14:35] serge-rider commented on #17023
Steps to reproduce:
- Open SQL editor and execute "select * from film"
- Open value panel and view string values in it (e.g. column description)
- Open preferences for SQL formatting and change indent size. Or change theme in Appearance or any other UI setting which affects text editors.

[2022-07-08 14:35] Destrolaric opened #17029 "Dictionary paging button should disable if there is nothing to load"
Navigation arrows buttons should disable if there is no more elements to load in that direсtion.

[2022-07-08 14:36] l-771 opened #17030 "crashing dbeaver after several hours of running refresh data every 1 second on multiple tables"
#### System information:
- windows 10 x64 - 00391-70000-00000-AA078
- DBeaver version - 22.1.1
- Additional extensions

#### Connection specification:
- Database name and version - mysql x64, 8.0.28
- Driver name odbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
when refreshing tables refresh every 1 seconds, dbeaver crashing
#### Steps to reprodu

[2022-07-08 14:39] E1izabeth commented on #17030
Connected to https://github.com/dbeaver/dbeaver/issues/16793

[2022-07-08 14:51] WEGFan opened #17031 "`ArrayIndexOutOfBoundsException` thrown when expanding a list of maps in the data editor"
#### System information:

- Operating system (distribution) and version: Windows 10 20H2 (19042.1151)
- DBeaver version: 22.1.1.202206241354
- Additional extensions: None

#### Connection specification:

- Database name and version: MongoDB v5.0.9
- Driver name: MongoDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

`ArrayIndexOutOfBoundsExcepti

[2022-07-08 16:12] richarddemke-lgcy opened #17032 "Invalid Character data was found - but only sometimes"
#### System information:
- Windows 11
- DBeaver version 22.1.1

#### Connection specification:
- Postgres 14.2
- postgres-jdbc (Dbeaver Auto Installed)
- Using AWS RDS

#### Describe the problem you're observing:
I can't wrap my head around it. I have a MySQL_FDW for some older databases. We are consolidating into Postgres. The MySQL Database is Utf8Mb4 and the Postgres Db is utf8. Not doing anyth

[2022-07-08 18:09] ShadelessFox commented on #16983
Fixed in #17031

[2022-07-08 18:09] #16983 closed, assigned to ShadelessFox

[2022-07-08 19:27] teschste-reyrey opened #17034 "Navigator: Sort Objects and Columns/Parameters Separately"
**Is your feature request related to a problem? Please describe.**
I work with many different databases, not all authored by me, and some of them do not have casing standards for naming objects.  Usually I find this in SQL Server databases because the administrator did not enable case-sensitivity and nobody is enforcing a naming convention (don't et me started).  The problem is that when the defau

[2022-07-08 20:42] #17023 closed, assigned to serge-rider, uslss

[2022-07-09 06:51] #17031 closed, assigned to ShadelessFox

[2022-07-09 06:56] #16999 closed, assigned to Destrolaric, DariyaFedorova

[2022-07-09 07:13] serge-rider commented on #16977
Seems to be an issue in local dev environment

[2022-07-09 07:13] #16977 closed, assigned to E1izabeth, uslss

[2022-07-09 13:30] kseniiaguzeeva opened #17036 "Column autocomplete doesn't work when a table and a schema have the same name"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.1.1.202207041729

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
Execute a `select * from <a table name like a schema name> where` and call SQL Assist

**Expected**: the table column appear in the dropdown menu
**Actual result**: no proposals

[2022-07-10 13:22] kseniiaguzeeva opened #17037 "Impossible to sort more then one column ASC"
#### System information:
- Operating system (distribution) and version Win
- DBeaver 22.1.1.202207041729

#### Steps to reproduce, if exist:
1. Open a table in the Data Editor or the ResultSet
2. Sort a column ASC
3. Sort another column ASC

**Expected**: both columns are sorted ASC.
**Actual result**: the second column is sorted ASC only.

https://user-images.githubusercontent.com/51405061/178146

[2022-07-10 15:53] mvenghaus commented on #16883
@Destrolaric .. I'm late too :) .. here is a screencast .. I'm still on xorg

https://user-images.githubusercontent.com/6408081/178152144-00eeebd1-17c6-4ccb-9766-55e2bdcc6264.mp4

[2022-07-10 18:30] ManoharPamula opened #17038 "Authentication failed with Salesforce CDP"
Hi all Looking for help to resolve this issue, I am getting Authentication Failure Errors while connecting to Salesforce Sandbox via dbeaver.  I have OAuth Policies setup for this user with Certificate linked in Account Manager and IP Relaxation set as Relax IP Restrictions along with all required Application Permissions in Sandbox.  Error details are

!ENTRY org.jkiss.dbeaver.model 4 0 2022-07-10

[2022-07-10 20:15] surpavan commented on #7867
@uslss  - Any update?

[2022-07-11 07:31] DariaMarkaryan commented on #13072
no longer reproduced

[2022-07-11 07:31] #13072 closed, assigned to nobody

[2022-07-11 07:49] emironovDB opened #17039 "Crop a name of a column in a row of array"

[2022-07-11 08:29] wangqian-49 opened #17040 "Out Of Memory"
#### System information:
- Operating system (distribution) and version : Centos 7.4
- DBeaver version : 21.2.2
- Additional extensions

#### Connection specification:
- Database name and version : Oracle
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:

When previewing GIF files, it takes up too much memory, resulting in out of memor

[2022-07-11 08:32] ShadelessFox commented on #17039
Duplicate of #17017

[2022-07-11 08:32] #17039 closed, assigned to nobody

[2022-07-11 08:44] valsamis-d commented on #16893
Hello @ShadelessFox @serge-rider  @emironovDB

I downloaded 22.1.2 and the issue has been resolved, at least with getting different export files. I see that it was worked around in #16990.  Are they any specific rules in order to help the engine to resolve table name? My current flows are based on some naming conventions, which assume that the first comment in each query has a specific name and da

[2022-07-11 08:48] PliusMinus opened #17041 "DB Full-Text search bug in new version"
#### System information:
- Operating system (distribution) and version: MS Win 11 Pro
- DBeaver version: 22.1.2.202207091909

#### Connection specification:
- Database name and version: Oracle 11g
- Driver name: Oracle
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no

#### Describe the problem you're observing:
I noticed two problems after installing the latest version of DBeaver:
1. When t

[2022-07-11 08:52] LonwoLonwo commented on #16994
Hello @Stanford-Peng

Did you use the standard Spanner connection? Or some custom connection type?

![2022-07-11 11_49_47-DBeaver 21 1 0 - postgres](https://user-images.githubusercontent.com/45152336/178225739-f62e197f-2e9c-4091-a632-6b629776e81f.png)

![2022-07-11 11_48_00-Connect to a database](https://user-images.githubusercontent.com/45152336/178225563-8ed1daa8-e983-4301-9f24-d6e1254403d7.png)

[2022-07-11 08:56] stanfordpeng commented on #16994
@LonwoLonwo  I used the first one(Undeprecated one)

[2022-07-11 10:13] PliusMinus opened #17042 "Full-text search window"
When I search through the entire DB, I usually need to know where the original data is - a specific table. View - is derived data, so it is not needed that often. Of course, it is possible to remove the check mark from views of a specific scheme, but if there are a lot of schemes - this is inconvenient.
I suggest making a separate chckbox that would allow to choose whether after checking DB or a s

[2022-07-11 10:48] ev-i commented on #2237
Actually there is still the exact same issue with procedures, functions insdie a package.

[2022-07-11 10:50] LonwoLonwo commented on #16994
How did you add localhost info into URL? It is not in the snadard connection dialog

[2022-07-11 10:51] emironovDB commented on #15971
Close by this ticket https://github.com/dbeaver/dbeaver/issues/15971

[2022-07-11 10:51] #15971 closed, assigned to nobody

[2022-07-11 10:59] ShadelessFox commented on #16893
DBeaver attempts to resolve the name of the table from a query.

It works fine for simple queries but fails for others because it expects to find just a single table name.

[2022-07-11 11:17] valsamis-d commented on #16893
Thanks for the response @ShadelessFox !

Is it difficult to resolve the table name based on the comment that is prior to the query, such as "-- ENTITY_A_2022_07_10"?

This will some flexibility when the output files are passed into so sort of further automated processing.

Thank you
Dimitrios

[2022-07-11 11:54] hackenspp opened #17043 "Named parameter prefix doesn't work anymore with underscores"
#### System information:
- Operating system (distribution) and version: Windows 11
- DBeaver version: 22.1.2.202207091909
- Additional extensions

#### Connection specification:
- Database name and version: PostgreSQL 14
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
In Preferences / Editors / SQL Editor / SQL processing, the "Named pa

[2022-07-11 12:00] IdrissaD commented on #15971
@emironovDB I don't understand your closing comment, as the ticket number you provide is this actual ticket we're commenting.

[2022-07-11 12:02] uslss commented on #15677
verified

[2022-07-11 12:02] #15677 closed, assigned to serge-rider, uslss

[2022-07-11 12:05] ShadelessFox commented on #16893
It is possible. We already have such a feature:

[code]

Executing this query will result in a tab called `A title for this query`.

Unfortunately, it doesn't work for data transfer. It seems like this feature was broken for some time. I will create a separate FR shortly.

[2022-07-11 12:09] ShadelessFox opened #17044 "Data transfer: respect `title` comment when exporting from an SQL query"
We can alter the name of the result tab using the following comment:

[code]

Unfortunately, this doesn't apply to data transfer.

In the case of complex queries, DBever will replace the `${table}` variable with `export`, which is not ideal. A user would expect it to be `A title for this query` from the example above.

For more details, see #16893

[2022-07-11 12:14] valsamis-d commented on #16893
Thank you so much @ShadelessFox !

[2022-07-11 12:26] emironovDB commented on #15971
@IdrissaD
Sorry, attached the wrong ticket. This is correct one: https://github.com/dbeaver/dbeaver/issues/15760
We already add the functionality what you have asked. You can try [the latest DBeaver version](https://dbeaver.io/download/) and let us know if it is resolving your request.
If it is not, then reopen this issue and add comment to clarify details

[2022-07-11 12:30] LonwoLonwo commented on #17041
Hello @PliusMinus

Thanks for the bug report.

Now Full-text Search looks like Metadata Search, and we think it is better.

You can use Ctrl to select several objects at once.

![8BM9t5Duyu](https://user-images.githubusercontent.com/45152336/178264565-c430bea8-7fdb-4d9b-b0d2-587c8a28617d.gif)

[2022-07-11 12:53] PliusMinus commented on #17041
Thanks for explanation.
It is better if I want to mark only one or several schemas. But I have many dozens of schemas and I want only few schemas to skip - in this case it is not better.

[2022-07-11 13:16] LonwoLonwo commented on #17041
And what about `Shift` on all schemas and then `Ctrl` on these schemas, which you want to skip?

[2022-07-11 13:28] PliusMinus commented on #17041
With shift select all and then with ctrl unselect few... ok, that's a solution too.

[2022-07-11 13:40] LonwoLonwo commented on #17041
The bug is still not fixed, so I reopened this issue to fix the bug.

[2022-07-11 14:56] aryankarim commented on #1017
Would love to see Crow's Foot notation on DBeaver. Would also love to help if anyone started working on this feature.

[2022-07-11 14:59] #16906 closed, assigned to E1izabeth

[2022-07-11 15:06] aryankarim commented on #10767
#1017 same topic

[2022-07-11 16:19] rpalloni opened #17047 "Role field too short in Snowflake connection"
#### System information:
- Ubuntu 20.04
- 22.1.2

#### Connection specification:
- Snowflake

#### Describe the problem you're observing:
If you write a >8 chars role you cannot see it clearly (see image)

![image](https://user-images.githubusercontent.com/17080117/178310780-9115c253-37aa-4a74-a201-9e8ef6e3d2cc.png)

[2022-07-11 17:01] hansw-nlo opened #17048 "The Dbeaver executable launcher was unable to locate its companion shared library"
#### System information:
- Distributor ID:	Debian Description:	Debian GNU/Linux 11 (bullseye) Codename:	bullseye
- DBeaver dbeaver-ce (22.1.2) (installed with apt, no Flatpak
- Additional extensions

#### Connection specification:
- 10.5.15-MariaDB-0+deb11u1 Debian 11 (unrelated, it is not connected yet
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observi

[2022-07-11 17:02] hansw-nlo commented on #17048
B.t.w. All of the updates are installed for Debian

[2022-07-11 17:07] kyleflan commented on #16936
This is from `dbeaver-debug.log`:

[code]

The `.log` file has no information populated when clicking "Test Connection"

[2022-07-11 17:13] hansw-nlo commented on #17048
The plugin is not avaliable in the new version, I do have it in timeshift, getting that one in place does not solve it. Maybe a dependency problem?

[2022-07-11 18:00] alvaro-canepa commented on #17048
I have the same issue in Mint 20.3.
Back to 22.1.1

[2022-07-11 18:16] hansw-nlo commented on #17048
I copied the old timeshift version of that plugin recursive ( cp -r ) and now it does work. Suppose it was not distributed somehow

[2022-07-11 18:42] E1izabeth commented on #15777
@aleksandr-shevchenko, your `\` in the second line is assumed as an escape character by DBeaver. Please, change this preference in the import wizard to another character. It leads to successful import.

Let me know if that helps.

![image](https://user-images.githubusercontent.com/28875055/178335114-f38cec96-5274-43ca-9f1e-591792854e18.png)

[2022-07-11 18:43] korverdev opened #17050 "UI Not Displaying Database"
#### System information:
- Operating system (distribution) and version: MacOS 12.4
- DBeaver version: 22.1.1
- Additional extensions: None

#### Connection specification:
- Database name and version: The latest version of Microsoft's Azure SQL Edge docker image, `mcr.microsoft.com/azure-sql-edge`.
- Driver name: Microsoft SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: No. This is a

[2022-07-11 19:12] korverdev commented on #17050
Version 22.1.2 fixes this issue.

[2022-07-11 19:12] #17050 closed, assigned to nobody

[2022-07-11 20:06] gustavohpg commented on #17048
I have the same issue in Linux Mint.

[2022-07-11 21:30] Xylandor opened #17051 "Moving Project to New Location While Keeping Local Versioning Data"
**Is your feature request related to a problem? Please describe.**
Yes, when it comes to the need to move a project's physical location to another location. Doing this manually will cause you to lose all local versioning data. DBeaver does not provide a way to easily move projects.

**Describe the solution you'd like**
It would be nice to have a feature that will allow you to transfer a project fr

[2022-07-11 23:45] barba-sudo commented on #17048
Removing the lines below from the dbeaver.ini file solved the problem for me.
dbeaver.ini - Located at **/usr/share/dbeaver-ce**

--launcher.library
plugins/org.eclipse.equinox.launcher.gtk.linux.x86_64_1.2.400.v20211117-0650

[2022-07-12 05:22] palytoxin commented on #16455
Is there any update, please?

after updated Version 22.1.2.202207091909
I got some new log at this issue
[code]

[2022-07-12 07:03] uslss opened #17052 "NPE appears in case of VFK creation in ERD was cancelled"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.2

#### Describe the problem you're observing:
NPE appears in case of VFK creation in ERD was cancelled
#### Steps to reproduce, if exist:
1. Connect two tables in ERD with VFK
2. Cancel VFK creation

![dbeaver_rkikbSpCYz](https://user-images.githubusercontent.com/31996417/178428902-8eb0265f-c5d2-4f

[2022-07-12 07:29] hoppfrosch commented on #16364
Sorry - Problem still exists.

For sure I restarted DBeaver after switching - bg color of odd rows is still black, which is annoying (I use dbeaver frequently - and in 2 months I restarted it quite often ;-))

Dont know, which additional info to give beside above info that would help you

[2022-07-12 07:50] LonwoLonwo commented on #17047
Thanks for the report @rpalloni

[2022-07-12 08:45] btanner2 opened #17054 "dbeaver 22.1.1 - issue with fix “Representation of arrays with NULL elements was fixed”"
Hi,

There was made some kind of fix in 22.1.1:

PostgreSQL:
- Representation of arrays with NULL elements was fixed

In practice, the array representation looks like this:

**dbeaver 22.1.0**
{,,,,X,,,Y,,,Z,}

**dbeaver 22.1.1**
{NULL,NULL,NULL,NULL,X,NULL,NULL,Y,NULL,NULL,Z,NULL}

Well, the new representation with the string “NULL” for the value NULL instead of the empty string “” in arrays is s

[2022-07-12 08:48] Alhimeg commented on #9322
Still relevant. Broke after update.

Linux Mint 20.3
dbeaver-ce 22.1.2

[2022-07-12 09:30] ShadelessFox commented on #17054
Hello @btanner2,

DBeaver provides a PSQL-compliant output of arrays and structures in the grid. We don't want to change that.

Starting with 22.1.2, you can expand elements of an array:

![image](https://user-images.githubusercontent.com/35821147/178458325-d93e682f-baed-4d78-9d66-81aeacad0e53.png)

Please let me know if it solves your issue.

[2022-07-12 09:50] IdrissaD commented on #15971
Thanks, indeed it works!
There's just a behavior that I dont' know if it's intended or not:

Style when I open a new console for a production connection:
<img width="1070" alt="Capture d’écran 2022-07-12 à 11 46 36" src="https://user-images.githubusercontent.com/73114156/178462524-57d255af-3501-4a09-8a17-4eea5893082a.png">

Style of this same console after I click anywhere outside of the console

[2022-07-12 09:54] LonwoLonwo commented on #16246
Seems to be some Trino restriction here. I can't help here, unfortunately.

But thanks for testing!

[2022-07-12 10:05] E1izabeth opened #17056 "Unable to Revert view source if Save dialog was openned and than cancelled"
https://user-images.githubusercontent.com/28875055/178465474-78f5e863-08f4-447b-99ee-76c714ac5d91.mp4

<details>
  <summary>NotEnabledException: Trying to execute the disabled command org.eclipse.ui.file.revert</summary>

[code]

</details>

[2022-07-12 10:11] lyh061619 commented on #16912
ENTRY org.eclipse.jface 4 2 2022-07-12 18:10:01.652
!MESSAGE Problems occurred when invoking code from plug-in: "org.eclipse.jface".
!STACK 0
java.lang.NullPointerException: Cannot invoke "org.eclipse.swt.widgets.Combo.setText(String)" because "this.clientTimezone" is null
	at org.jkiss.dbeaver.ui.preferences.PrefPageDatabaseUserInterface.performDefaults(PrefPageDatabaseUserInterface.java:197)
	at

[2022-07-12 10:56] LonwoLonwo opened #17057 "Incorrect expression in virtual column breaks Data Grid."
DBeaver 22.1.2 and earlier

![2022-07-12 13_50_40-DBeaver Ultimate 22 1 2 - xml_data](https://user-images.githubusercontent.com/45152336/178473979-c5f55cd6-b8d7-4cd7-a82f-c59aa1c14a04.png)

Incorrect expression in virtual column breaks Data Grid.

Steps:

1. Open the Data grid for any table.
2. Add a virtual column with an unparsed expression like "\".

[code]

[2022-07-12 11:04] l3e7f-scskl opened #17059 "Dictionary value from ERD not showing"
System information:

    Operating system Fedora 36
    DBeaver version 22.1.2

Describe the problem you're observing:

Dictionary value from ERD database not showing in resulted query

![image](https://user-images.githubusercontent.com/109147238/178477653-4c5fe807-f041-4835-8020-026a9dccc6ce.png)
![image](https://user-images.githubusercontent.com/109147238/178477912-b8044248-eb69-4c63-a5fa-6b0640

[2022-07-12 11:47] btanner2 commented on #17054
Hi,

Just for clarification, I do not want you to change the “PSQL-compliant output of arrays and structures in the grid”. This issue is just about how to present the NULL value inside of the output. I think pgadmin has some option like "replace null values with" for output, I have not use pgadmin for a long time since I am a dbeaver fan : )

It mean a new option, where the user could choose, if N

[2022-07-12 11:54] ShadelessFox commented on #17054
Thanks for the clarification. We'll see what we can do.

[2022-07-12 12:00] LonwoLonwo commented on #17059
Can you please check the latest DBeaver release? https://dbeaver.io/download/
The Dictionary panel was changed in release 22.1.2

[2022-07-12 12:53] JaldeaR commented on #9322
Broke after update same message:
"The dbeaver executable launcher was unable to locate its companion shared library"

Tried uninstalling doesnt fix it.

Linux Pop!_OS 22.04 LTS
dbeaver-ce 22.1.2

last workig version:
dbeaver-ce 22.1.1

[2022-07-12 13:08] davidjohnsonmedaxion commented on #17048
@barba-sudo 's fix solved the problem for me.

[2022-07-12 13:47] l3e7f-scskl commented on #17059
I'm terribly sorry, I meant 22.1.2. As additional information, It works on 22.1.1.

[2022-07-12 14:00] deft01 opened #17061 "Hiding a column when all the rows matching this columns are empty or NULL"
Hi,

I would like to know if there is a way to hide **dynamically** empty columns (all rows are empty on this column).
It is very time consuming searching for empty columns every query and display only usefull infos.

![image](https://user-images.githubusercontent.com/10063471/178507731-6233886b-739b-42b1-86cd-8901882fff19.png)

Thanks in advance for your answer.

[2022-07-12 14:02] E1izabeth commented on #17061
Hi, @deft01. Which database do you use?

[2022-07-12 14:03] deft01 commented on #17061
Thank you for your blazingly fast answer.
Im using Postgresql. :)

[2022-07-12 14:04] GuenterSch opened #17062 "Execution Log: Column with RowCount"
In the execution log, it would be nice, if there exist a column **Count** with the row count of a "select count(*) from" after the column Rows. This will be executed, if I press "Calcualte the total row count" in the status line.

![grafik](https://user-images.githubusercontent.com/99535516/178506870-2688c9f6-abbf-4ccb-b7a6-64015bdba4d8.png)

So it is possible to see in the log how many rows the p

[2022-07-12 14:12] E1izabeth commented on #17061
There is no such option.
Thank you for feature request.

[2022-07-12 14:22] uslss commented on #15971
@IdrissaD what OS do you use?

[2022-07-12 14:24] LonwoLonwo commented on #17059
Can you tell me more please about your database?

[2022-07-12 14:49] LonwoLonwo commented on #8692
Hello @Postremus

DBeaver uses virtual columns for the client-side and uses Jaxl expressions and functions only. Select will not work.
You can read more about virtual columns here: https://github.com/dbeaver/dbeaver/wiki/Virtual-column-expressions

[2022-07-12 14:52] l3e7f-scskl commented on #17059
mariadb  Ver 15.1 Distrib 10.5.16-MariaDB, for Linux (x86_64) using  EditLine wrapper.
I get it from standard fedora 36 repository. No other tweaks.

[2022-07-12 14:56] ATikadze commented on #16526
Hey, everyone
Did this issue get fixed or is there a workaround?

<img width="511" alt="Screenshot 2022-07-12 at 6 56 32 PM" src="https://user-images.githubusercontent.com/47458137/178520517-14b5b5bb-b4b1-45ca-b891-3cafd25c140a.png">

[2022-07-12 15:02] deft01 commented on #17061
I would like to highlight the point which is, this feature could help each time you meet these **two simple conditions** :
 1) SQL request that can contain empty columns (_very often case in my sense, ex : SELECT * FROM table; or just clicking on a table in the GUI_)
 2) SQL request that contains at least ten columns (_also very often with trivial resquest like SELECT * and clicking on a table in

[2022-07-12 15:03] IdrissaD commented on #15971
MacOS Big Sur 11.6.7

[2022-07-12 15:10] LonwoLonwo commented on #16777
Hello @manticore-projects

Thank you for your request! We are always happy to cooperate.

We discussed your proposal and decided that we would accept any option of changes in the library.
We now have no special requests except those that we have already reported.

[2022-07-12 15:14] maciey opened #17063 "Option to collapse regions (LOOPs, Long SELECTs etc)"
I do very miss option to select long regions sich as FOR /  LOOP, long SELECTs
I have huge SPs and have to scroll hundreds of lines, cant focus on particular regions etc

Would it be possible such feature ?

To document better what I meant ive highlighted by different colors regions Id like to be able to collapse

What is weird I can see on my own creen '+' sign allows me to collapse FOR region, w

[2022-07-12 15:17] LonwoLonwo commented on #17059
Can you provide some steps to issue? I can't reproduce for now.

[2022-07-12 15:29] jetzerb commented on #17014
Text of queries _is_ showing in the console view. With each rowset, it seems:
![image](https://user-images.githubusercontent.com/36859020/178527595-7d26e8a0-f735-49a6-ba79-abebf8d498f1.png)

I would like the query text to be _optionally_ output, based on a setting in the preferences window.

[2022-07-12 15:38] l3e7f-scskl commented on #17059
Steps:
1. create db
2. import from csv data
3. click 2x on database name
4. on the arrow menu on the right, select connection
5. from related table connect them
6. create new sql script from db
7. the test i just showed use 'select * from tbl' without ';' (other query are the same, can't get the dictionary value).
9. from the resulted query, click the column value (would show like the picture)

I

[2022-07-12 15:55] torikamal commented on #15410
I'm happy to see that this is planned! Excellent suggestion as I find I need to resize the Preferences Window every time I use Templates as the Name column is mostly obscured:
![image](https://user-images.githubusercontent.com/84032853/178536560-b555bc57-9d24-4f1d-9323-7d9cf4f56495.png)

[2022-07-12 16:08] jetzerb opened #17064 "Add option to include server output in console view"
It would be useful to include the "database server output" in the console view, so that those server messages are collated with the rowset data.

This could be toggled via a config setting:
![image](https://user-images.githubusercontent.com/36859020/178532096-e044b5f9-ca28-4683-9b02-dd7dd5fbba78.png)

Consider a (MSSQL) script like this (from [comment on #667](https://github.com/dbeaver/dbeaver/is

[2022-07-12 16:32] E1izabeth commented on #17064
Hello, @jetzerb. Thank you for feature request.

[2022-07-12 16:36] E1izabeth commented on #17014
@jetzerb, yes, it works for `select`, but doesn't work for other statements which doesn't have result set with data (like `update`, `insert` or `delete`).

[2022-07-12 16:39] E1izabeth commented on #16526
@ATikadze, it's not fixed for the moment, but you can find workaround here https://github.com/dbeaver/dbeaver/issues/16526#issuecomment-1134432763

[2022-07-12 19:00] evanlesmez commented on #15213
Have the same problem. Installed on archlinux with pacman.

[2022-07-12 19:16] cristianslv commented on #9322
Hi guys, this worked for me:

1- Download latest version: https://dbeaver.io/download/
2 - Purge it and install it
[code]

Ubuntu 20.04.4 LTS

[2022-07-12 19:33] E1izabeth commented on #16912
Thank you. The problem was fixed in scope of https://github.com/dbeaver/dbeaver/issues/16999. So, I'll close this issue.
Please, feel free to reopen it if you encounter it again after update.

[2022-07-12 19:33] #16912 closed, assigned to nobody

[2022-07-12 21:02] secondl1ght commented on #9322
Just commenting to document another break after updating, same specs as above.

`sudo apt remove dbeaver-ce --purge` and then re-install worked for me.

[2022-07-12 21:26] StefanoCocciaThryv opened #17065 "Cannot view Snowflake procedures"
#### System information:
- Windows 10 Enterprise  -  21H2
- DBeaver version 22.1.2.202207091909, Rel. July 11, 2022
- Additional extensions

#### Connection specification:
- Snowflake
- 3.13.6-jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

Getting this whenever opening any procedure. Started getting this error right after last Dbeaver update

[2022-07-12 21:50] shulard commented on #9322
Same here, got the error on Ubuntu 22.04. I needed to uninstall (with `--purge`) and install it again, now it works.

[2022-07-13 03:18] stanfordpeng commented on #16994
Click on Edit Driver Settings:
<img width="705" alt="image" src="https://user-images.githubusercontent.com/48232605/178643370-7978a56c-ea3f-455e-be0a-bec3afdebf7b.png">

[2022-07-13 06:12] Tylor-77 opened #17066 "SQL Server Table column size is changed after add table column ('nvarchar')"
#### System information:
- **Windows 10 home edition**
- **DBeaver version 22.1.2**
- Additional extensions

#### Connection specification:
- Database name and version :  **SQL Server**
- Driver name : **MS SQL Server**
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  **No**

#### Describe the problem you're observing:
**When Table Column Type is "nvarchar " ,
after Add Column ,
Column Size is

[2022-07-13 06:29] turbopixel commented on #17048
@barba-sudo Thanks man! It works on Linux Mint 20.3, too!

[2022-07-13 06:57] LonwoLonwo commented on #17065
Hello @StefanoCocciaThryv

Can you please provide a procedure DDL example?

[2022-07-13 07:02] l3e7f-scskl commented on #17059
https://user-images.githubusercontent.com/109147238/178671487-61d11137-3dba-4cdd-8c95-3c13b8cf131c.mp4

[2022-07-13 07:19] LonwoLonwo commented on #16994
Can you please provide a screen from the Edit driver page?

![2022-07-13 10_18_32-DBeaver Ultimate 22 1 2 - _postgres12local_ Script-170](https://user-images.githubusercontent.com/45152336/178674368-490eb9a7-596d-4c4b-bc8f-a015fbe82024.png)

[2022-07-13 08:01] #17002 closed, assigned to riednyko

[2022-07-13 10:01] 2019-05-10 opened #17068 "22.1.2: UI sluggish, CPU frequently above 100%"
#### System information:
- Operating system (distribution) and version Dbeian/SID
- DBeaver version 22.1.2.202207091909
- Additional extensions

#### Connection specification:
- Database name and version: Postgres 12
- Driver name org.postgresql:postgresql:RELEASE 42.2.5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Since update to 22.1.2 (no ot

[2022-07-13 10:08] 2019-05-10 opened #17069 "Preferred "Column width" as setting"
**Is your feature request related to a problem? Please describe.**
I find myself quite frequently having to change the column width to show the full value, and thus
looking for where to right click to get the menu entry to switch to
"Column width: fit values"

**Describe the solution you'd like**
Add a setting in preferences to pre-set the default "Column width".

**Describe alternatives you've co

[2022-07-13 11:13] gsthorat opened #17070 ""Not Null" preference is getting lost while creating a new column"
#### System information:
- Operating system (distribution) and version - Windows 10
- DBeaver version - 22.1.1.202206261508

#### Connection specification:
- Database name and version - Oracle 19c

#### Describe the problem you're observing:
When we try to create a new column using GUI as shown below,

![image](https://user-images.githubusercontent.com/29622633/178719416-6b32ec6a-0958-418f-98d2-4a

[2022-07-13 11:20] 2019-05-10 opened #17071 "Editor border very wide, non-functional entries"
#### System information:
- Operating system (distribution) and version Debain/SID
- DBeaver version 22.1.2
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Editors now have a very wide left border, almost double the size as before.
Additionally, there are

[2022-07-13 11:20] 2019-05-10 commented on #17071
![Screenshot_20220713_131140](https://user-images.githubusercontent.com/50481865/178722123-3a816b07-f1a1-4226-a0d7-8911bc9847dc.png)

[2022-07-13 11:51] E1izabeth commented on #17071
Hello, @2019-05-10. Thank you for bug report.

[2022-07-13 11:52] DariaMarkaryan commented on #16499
the checkbox 'override pgpass' is always return to the enabled state
https://user-images.githubusercontent.com/43252954/178727300-ea0f12ad-677c-472e-9635-618157a8c0cc.mp4

[2022-07-13 11:53] E1izabeth commented on #17071
@2019-05-10, have you tried to [reset UI settings](https://github.com/dbeaver/dbeaver/wiki/Reset-UI-settings)?

[2022-07-13 11:55] E1izabeth commented on #17071
And how did you install DBeaver?

[2022-07-13 11:55] serge-rider commented on #17048
This happened because of two simultaneous events:
- dbeaver.ini was marked as configuration file
- we migrated to a new Eclipse version (it has different launcher jar).

Because dbeaver.ini contains explicit launcher jar reference it broke.

For now we will revert the first fix.
Then we will remove explicit jar references.
Then return config files mark.

[2022-07-13 12:00] LonwoLonwo commented on #17070
Thanks for the bug report @gsthorat

[2022-07-13 12:10] E1izabeth commented on #17043
Hello, @hackenspp. Thank you for bug report.

[2022-07-13 12:18] E1izabeth commented on #17068
Hello, @2019-05-10! Please, send the [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files).

By the way, taking into account your issue https://github.com/dbeaver/dbeaver/issues/17071, I'd suggest to [reset workspace](https://github.com/dbeaver/dbeaver/wiki/Reset-workspace).

[2022-07-13 12:20] E1izabeth commented on #16996
Maybe connected to https://github.com/dbeaver/dbeaver/issues/17066

[2022-07-13 12:20] LonwoLonwo commented on #13281
Ok, thanks for the explanation.
Looks interesting but is very SQL Server-specific for our data transfer.
Maybe someday, we will come up with a good way to integrate DB-specific requests.

[2022-07-13 12:27] LonwoLonwo commented on #14107
So we can't fix the driver issue and do not have good ways to read foreign key info for MySQL/MariaDB.
Reading metadata from information_schema.REFERENTIAL_CONSTRAINTS looks to expensive.
Maybe someone can create bug about this driver somewhere.

[2022-07-13 12:27] E1izabeth commented on #17066
Hello, @Tylor-77! Please, send the screenshot with sever and driver information.
![image](https://user-images.githubusercontent.com/28875055/178733155-2401745d-f3b5-433d-8cb5-bd773c5dfc55.png)

[2022-07-13 12:38] emironovDB commented on #17069
@2019-05-10
Thanks for request!

[2022-07-13 12:43] emironovDB commented on #17063
Thanks for request.
We will do it after this issue #11549

[2022-07-13 12:55] ar-jan commented on #17068
I updated from 22.1.0 to 21.1.2 and have the same issue. I have a large materialized view (PostgreSQL 14) which loads in a fraction of a second in 22.1.0, but around 15 seconds in 22.1.2. UI hangs for a while longer. Also everything feels sluggish when starting up. Downgrading resolves the problem, so I assume the workspace is fine.

The `.log` contains one entry that might be relevant: `!ENTRY or

[2022-07-13 12:58] emironovDB commented on #16836
@Loizzus could you attach log file with this error?
Instructions: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-07-13 13:05] emironovDB commented on #16815
Looks like a driver issue.

@PetroGromovo is your issue related to @sergeynilov's issue?

[2022-07-13 13:07] emironovDB commented on #14944
Hello @suhailmemon,

Can you please provide a minimal reproducible example of such failing query?

[2022-07-13 13:18] emironovDB commented on #17051
Hello @Xylandor,

Can you please explain what you mean by "local versioning"?

[2022-07-13 13:23] emironovDB commented on #17034
Thanks for the feature request

[2022-07-13 13:28] emironovDB commented on #17032
Hello @richarddemke-lgcy,

If I understand correctly, you're accessing an MySQL database through PostgreSQL.

Looks like that MySQL database has encoding that is not UTF-8 (maybe there's something with column's collation).

It doesn't seem to be DBeaver issue.

[2022-07-13 13:28] #17032 closed, assigned to nobody

[2022-07-13 13:36] emironovDB commented on #16735
there has been no update on the issue for a long time.
If it is still actual - feel free to reopen it.

[2022-07-13 13:36] #16735 closed, assigned to nobody

[2022-07-13 13:45] TechnoDexx commented on #17048
It's worked for me too.

[2022-07-13 13:55] E1izabeth commented on #17062
Thank you for suggestion. We discussed it and assumed that it may lead to performance issues. The execution of such a query may take a while for big databases.
Besides that, if it's a statement that you executed from a script, you can click on the Re-execute button to see result.

![image](https://user-images.githubusercontent.com/28875055/178750603-f9fa2a27-5509-4278-b652-7de773a0deae.png)

But n

[2022-07-13 13:56] #17062 closed, assigned to E1izabeth

[2022-07-13 14:30] barba-sudo commented on #17048
Hi guys,
today i found a file named dbeaver.ini.dpkg-dist in the same folder that mentions a different version of the plugin and this one is present in the package.
Replacing the contents of dbeaver.ini with the contents of this file also worked. I think this is some bug related to the update process.

[2022-07-13 14:35] suhailmemon commented on #14944
this is what my test proc looks like you can do some replacements and make one on your own

`BEGIN
CREATE TEMPORARY TABLE tmp1
  AS some SELECT statement
;
CREATE TEMPORARY TABLE tmp2
  AS some SELECT statement

;
SELECT 'blablabla some hardcode value'
;
END`

[2022-07-13 14:42] ShadelessFox commented on #17059
Thanks for the bug report

[2022-07-13 15:00] E1izabeth commented on #17065
This issue is about opening procedures via Navigator.

This options are broken for Snowflake:
- open procedure
- rename procedure (also that for some reason rename isn't applied if Procedure view is opened, last seconds of the video)
- delete procedure

https://user-images.githubusercontent.com/28875055/178765773-bf62909f-9d4a-4352-801c-d09b1c0c51f0.mp4

[2022-07-13 15:11] dene14 commented on #16973
Host names can be solved simply by having a record in `/etc/hosts` ...
But I would expand this case with more details. `~/.ssh/config` may have much more complex setups than that and it's simply impossible to mimic that in DBeaver. So if we can somehow use native ssh configuration on Linux machines that would be great.
One of the examples is AWS SSM machine as a jumphost

[code]

Thank you!

[2022-07-13 16:22] rpalloni opened #17079 "Missing underscore in column headers"
#### System information:
- Ubuntu 20.04

#### Connection specification:
- Snowflake
- Dbeaver 22.1.2

#### Describe the problem you're observing:
Column names are not showing underscores in table result. See image

SELECT
query_id,
query_text,
bytes_scanned,
partitions_scanned,
partitions_total
FROM QUERY_HISTORY

![image](https://user-images.githubusercontent.com/17080117/178782988-d3be294a-c02e-

[2022-07-13 16:25] rpalloni opened #17080 "Snowflake function names randomly highlited"
#### System information:
- Ubuntu 20.04
- Dbeaver 22.1.2

#### Connection specification:
- Snowflake

#### Describe the problem you're observing:
Some snowflake functions are highlighted, some are not and I could not find any settings for custom keywords coloring.

![image](https://user-images.githubusercontent.com/17080117/178783603-d92e32c8-8921-4db7-884b-b269237b5955.png)

[2022-07-13 16:59] Xylandor commented on #17051
@emironovDB ,

I'm referring to the local history within DBeaver. I use the term "local versioning" because of the way it keeps track of each script's save point to where you can compare and revert back if needed.

[2022-07-13 17:27] valsamis-d opened #17081 "Question : Upgrade Portable while Maintaining Additional Software"
Hello,

Is there anyway to upgrade the portable version of DBeaver (Win64) while maintaining, already installed packages, like Office Integration, Darkest Dark Theme etc.?

I have tried the following:

1. unzipping the new version in a temp directory
2. Do a compare by content temp vs. regular directories
3. Push changes and new files from temp to regular directory

However, this doesn't seem to w

[2022-07-13 18:24] E1izabeth commented on #17080
Related to #6528

[2022-07-13 20:41] Loizzus commented on #16836
@emironovDB  Here you go: [dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/9105877/dbeaver-debug.log)

[2022-07-13 20:41] Loizzus commented on #16836
[other.log](https://github.com/dbeaver/dbeaver/files/9105889/other.log)

[2022-07-14 07:17] turbopixel commented on #17048
Yes, this is possible. I was asked during the update if the .ini file should be kept, merged or replaced.

After I replaced my ini file, the error message came the next time I started dbeaver.

[2022-07-14 07:38] #14436 closed, assigned to E1izabeth, uslss

[2022-07-14 07:38] #16427 closed, assigned to ShadelessFox, DariyaFedorova

[2022-07-14 07:38] #17021 closed, assigned to ShadelessFox, DariyaFedorova

[2022-07-14 07:38] #15777 closed, assigned to E1izabeth, DariyaFedorova

[2022-07-14 07:54] LonwoLonwo commented on #17065
In the case of the "ILIKE" schema name. This is the side case with schema name as a keyword.

[2022-07-14 07:59] LonwoLonwo commented on #17065
@StefanoCocciaThryv logs will be also very helpful for us.
You can find instructions here: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-07-14 08:29] LonwoLonwo commented on #17079
Hello @rpalloni

I can't reproduce your issue for now.

![2022-07-14 11_24_39-DBeaver Ultimate 22 1 2 - _SNOWFLAKE_SAMPLE_DATA_ Script-33](https://user-images.githubusercontent.com/45152336/178937639-a345de4a-bf1c-4b6a-b8dd-a8a318218c8a.png)

Can you please check any other databases? SQLite? To localize this problem (Snowflake data or DBeaver GRID)

[2022-07-14 08:30] LonwoLonwo commented on #17079
Also, QUERY_HISTORY DDL will be also very helpful. Thanks.

[2022-07-14 09:45] E1izabeth commented on #17081
There is no such possibility for the moment. See #5317

[2022-07-14 09:45] #17081 closed, assigned to nobody

[2022-07-14 09:53] solisgb opened #17082 "Stack overflow while viewing GIS data with too many geometries"
Windows 10, Postgres 14.4, Postgis 3.4, Dbeaver 21.2.2

Stack overflow in line: 1

when clicking on the Spacial tag in a select with a geometry geom column (after displaying the results correctly in the Grid and Text tags)

[2022-07-14 10:04] solisgb opened #17083 "Keyboard shortcut for Alt 126"
Alt 126 (~) is frequently used in Postgres searches with regular expressions.

[2022-07-14 10:09] gsthorat commented on #17008
@uslss @LonwoLonwo @ShadelessFox  Can someone please confirm this?

[2022-07-14 10:50] ghost opened #17084 "v.22.1.2 «unable to locate its companion shared library»"
after uninstalling and reinstalling 22.1.1 problem disappeared

related?: #14122

[2022-07-14 11:05] E1izabeth commented on #17084
Thank you for bug report. This issue is a duplicate of #17048, so, I'll close it.

[2022-07-14 11:05] #17084 closed, assigned to nobody

[2022-07-14 11:11] #17041 closed, assigned to uslss, LonwoLonwo

[2022-07-14 11:12] #15387 closed, assigned to E1izabeth, uslss

[2022-07-14 11:12] #17070 closed, assigned to uslss, LonwoLonwo

[2022-07-14 11:12] #17047 closed, assigned to uslss, LonwoLonwo

[2022-07-14 11:47] AnharMiah commented on #9322
Same here, but for Ubuntu 20.04, as per @shulard first uninstalled it using `--purge` and then re-installed the `.deb` package. I also took a backup of the data under `~/.local/share/DBeaverData` but this wasn't needed as the re-installed kept all the connections and scripts :+1:

[2022-07-14 11:49] lukasza67 opened #17085 "Wrong Launcher in dbeaver.ini after update"
#### System information:
- Operating system: Debian GNU/Linux 11 (bullseye) x86_64
- DBeaver version: Version 22.1.2.202207091909
- Java version:  Jre 11.0.12 (dbeaver bundle)
- Additional extensions: -

#### Connection specification:
- Database name and version: -
- Driver name: -
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : -

#### Describe the problem you're observing:

After the OS sof

[2022-07-14 12:03] Tylor-77 commented on #17066
![DBeaver_bug_ColumnSize2](https://user-images.githubusercontent.com/109200561/178978042-a69df442-1149-4a16-88d2-b1557d097c97.png)

Hi !
my information is here.

[2022-07-14 12:08] uslss commented on #17085
thanks for the report.
closed as a duplicate of #17048

[2022-07-14 12:08] #17085 closed, assigned to nobody

[2022-07-14 12:12] LonwoLonwo commented on #17008
Hello @gsthorat

Did you try to use the "Advanced copy" -> "Copy as SQL" option?

It returns you only selected columns in the result INSERT statement.

![2022-07-14 15_09_02-](https://user-images.githubusercontent.com/45152336/178979598-8f089d24-93ff-495b-a7dc-bddd16076b73.png)

[2022-07-14 12:14] ShadelessFox commented on #17083
Hello @solisgb,

Can you please elaborate? It's not entirely clear what your feature request is about.

[2022-07-14 12:15] #15906 closed, assigned to uslss

[2022-07-14 12:21] uslss commented on #16652
there has been no update for a long time.
If the issue is still actual, feel free to reopen it and add log files.

[2022-07-14 12:21] #16652 closed, assigned to LonwoLonwo

[2022-07-14 12:22] uslss commented on #16154
There has been no update for a long time.
If the issue is still actual, feel free to reopen it.

[2022-07-14 12:22] #16154 closed, assigned to LonwoLonwo

[2022-07-14 12:23] uslss commented on #16391
There has been no update for a long time.
If the issue is still actual, feel free to reopen it.

[2022-07-14 12:23] #16391 closed, assigned to LonwoLonwo

[2022-07-14 12:23] uslss commented on #16568
There has been no update for a long time.
If the issue is still actual, feel free to reopen it.

[2022-07-14 12:23] #16568 closed, assigned to Matvey16

[2022-07-14 12:23] LonwoLonwo commented on #17038
Can be connected #16652

[2022-07-14 12:24] uslss commented on #16546
There has been no update for a long time.
If the issue is still actual, feel free to reopen it.

[2022-07-14 12:24] #16546 closed, assigned to LonwoLonwo

[2022-07-14 12:29] uslss commented on #16484
There has been no update for a long time.
If the issue is still actual, feel free to reopen it.

[2022-07-14 12:29] #16484 closed, assigned to nobody

[2022-07-14 12:29] uslss commented on #16711
There has been no update for a long time.
If the issue is still actual, feel free to reopen it.

[2022-07-14 12:29] #16711 closed, assigned to nobody

[2022-07-14 12:30] ShadelessFox commented on #17082
Hello @solisgb,

Can you please provide footage showing the issue? Thanks.

[2022-07-14 12:31] ShadelessFox commented on #17068
Hello @ar-jan,

Unfortunately, this one entry is not really relevant. Please consider attaching the entire file.

[2022-07-14 12:31] uslss commented on #15654
There has been no update for a long time.
If the issue is still actual, feel free to reopen it.

[2022-07-14 12:31] #15654 closed, assigned to Destrolaric

[2022-07-14 12:32] #16752 closed, assigned to nobody

[2022-07-14 12:35] uslss commented on #16751
There has been no update for a long time.
If the issue is still actual, feel free to reopen it.

[2022-07-14 12:35] #16751 closed, assigned to nobody

[2022-07-14 12:41] uslss commented on #16664
There has been no update for a long time.
If the issue is still actual, feel free to reopen it.

[2022-07-14 12:41] #16664 closed, assigned to nobody

[2022-07-14 12:55] 2019-05-10 commented on #17071
What exactly does that reset? The page does say nothing about side effects and what exactly the result will be.
Since DBeaver does not include Eclipse's
`Window -> Perspective -> Save Perspective As ...`
that probably means all configuration (Views, positions) will be lost?

[2022-07-14 12:55] ShadelessFox commented on #5499
Implemented and will be available in DBeaver 22.1.3:

![image](https://user-images.githubusercontent.com/35821147/178475244-7f257b1d-1042-4c10-a60f-d1081dc114cb.png)

[2022-07-14 12:56] 2019-05-10 commented on #17071
[code]

[2022-07-14 12:57] uslss commented on #16771
There has been no update for a long time.
If issue is still actual for you - feel free to reopen it/

[2022-07-14 12:57] #16771 closed, assigned to emironovDB

[2022-07-14 12:57] E1izabeth commented on #17071
Yes, all ui configuration will be lost.

[2022-07-14 12:58] uslss commented on #16803
There has been no update for a long time.
If issue is still actual for you - feel free to reopen it

[2022-07-14 12:58] #16803 closed, assigned to nobody

[2022-07-14 12:58] uslss commented on #16734
There has been no update for a long time.
If issue is still actual for you - feel free to reopen it

[2022-07-14 12:58] #16734 closed, assigned to nobody

[2022-07-14 12:59] uslss commented on #16818
There has been no update for a long time.
If issue is still actual for you - feel free to reopen it

[2022-07-14 12:59] #16818 closed, assigned to nobody

[2022-07-14 13:05] #14555 closed, assigned to nobody

[2022-07-14 13:09] gsthorat commented on #17008
Hi @LonwoLonwo,
Thanks for quick turnaround on this :)

Yes, it works, but it generates only INSERT statements. What if we have to generate UPDATE statements?
It would be nice to have the above suggested option as a nested option on the context menu Generate SQL option.

Thanks

[2022-07-14 13:10] uslss commented on #16262
The issue is also reproducible in case of Hana plugin installation on standalone dbeaver
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/9112024/dbeaver-debug.log)

[2022-07-14 13:17] 2019-05-10 commented on #17068
Stopped DBeaver.
Started DBeaver.
Experienced severe lags and UI lookup for several minutes and that's what's in the logs:

.log
[code]

dbeaver-debug.log
[code]

[2022-07-14 13:19] heliocj commented on #17066
Hi there !

Here we're getting the same issue with nvarchar columns. Every change we tried to make, the size of all nvarchar columns just changed to mid of the last size. If we make 5 changes, the size just change to 0. We got lots of problems on our production database :(

And there is an issue with the lenght of columns too. If we create the column with nvarchar(150) for example, that show colum

[2022-07-14 13:21] 2019-05-10 opened #17088 "Provide way to export and anonymize logs"
Asking for logs, `dbeaver-debug.log` in particular, seems a good idea -- until one looks closer.
It took me some time to fix all occurences of IPs. hostnames, usernames and sundry stuff that should not be made public.

I propose to add a facility to export that logs in a way that one can easily post, without qualms about giving away too much information.

[2022-07-14 13:29] 2019-05-10 opened #17089 "Window -> Perspective -> Save Perspective As ... missing"
Suggesting to reset UI/workspace apparently means losing all configuration of UI (and more? Both pages are suspiciously silent about what exactly each reset entails)
At least for the UI there's a way to store the layout of editors and views in Eclipse, which DBeaver lacks.
For the preferences there's a similar Export/Import feature, that DBeaver likewise lacks.

Given that "Reset this or that" ver

[2022-07-14 14:38] flambchap commented on #17088
Thank you for the idea. I'll add this functionality in the scope of https://github.com/dbeaver/dbeaver/issues/17003.

[2022-07-14 14:38] flambchap commented on #17003
We also need to anonimize logs in the process, see https://github.com/dbeaver/dbeaver/issues/17088.

[2022-07-14 14:42] flambchap commented on #17068
~@2019-05-10, what kind of packaging do you use?~ Figured out it's a .deb package

Can you please make a thread dump when you experience the issue? https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump

[2022-07-14 15:02] 2019-05-10 commented on #17068
[code]

[2022-07-14 15:13] 2019-05-10 commented on #17068
Well, that command is not quite right -- it tries to acces the native launcher process, not the actual JVM process.
This one gets the correct pid:
`jstack $(ps aux | grep java | grep dbeaver | awk '{print $2}') > thread-dump.txt`

[thread-dumps.tar.gz](https://github.com/dbeaver/dbeaver/files/9112993/thread-dumps.tar.gz)

[2022-07-14 15:17] ShadelessFox commented on #17068
Thanks for the thread dump. This issue is caused by #16887.

[2022-07-14 15:20] 2019-05-10 opened #17091 ""Making a thread dump" -- wrong command given"
[Making a thread dump](https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump)

says to run on Linux/Mac
[code]

Chances are,
[code]
will retrive the PID of the native launcher process `/usr/bin/dbeaver` instead of the expected JVM.
Presuming that there should be one JVM running DBeaver at any given time, the command should be modified to rather look for the JVM process:

[code]

[2022-07-14 15:24] 2019-05-10 commented on #17068
I see.
Is there an ETA for an update, or a workaround until then?

[2022-07-14 15:30] ShadelessFox commented on #17068
I can't think of any workaround, unfortunately.

We've scheduled this issue for the next milestone.

[2022-07-14 16:46] hansw-nlo commented on #17048
Thanks to all involved. I think I will close the issue

[2022-07-14 16:46] #17048 closed, assigned to serge-rider

[2022-07-14 16:47] rpalloni commented on #17079
Actually happens in any table. Might be the dark theme? I'll check

[2022-07-14 18:53] command0r commented on #2361
@rosshadden, you won't find ```pgbouncer.ini``` unless you have pgBouncer installed locally or in the container (or a VM) you can access. pgBouncer can normally be deployed on a separate VM that works as a proxy between the Postgres instance and the client or in a Docker container (as a sidecar).
In your case, to fix the issue, you have to implement this parameter on the server side (in GCP). I do

[2022-07-14 19:05] GuenterSch commented on #17047
Suggestion: Why you do not use the same size like "Authenticator" (resizeable)?

[2022-07-15 01:38] Montgomeryz opened #17092 "Detached script/editor not obeying file menu commands"
#### System information:
- Win 10 Enterprise (64) 21H2
- 22.1.2.202207091909

#### Describe the problem you're observing:
When a detached script window is active, file commands from the menu are done on the last active attached script, which is obviously not ideal.
#### Steps to reproduce, if exist:
Open two scripts, detach one of them. Make sure the detached script is the 'active window', go to t

[2022-07-15 06:34] xikeda-hunzi commented on #17003
Hello, Could you give me your contact information?I had some problems following this procedure:
https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse
when i import the maven project, some packages cannot be downloaded.
Thanks

[2022-07-15 06:36] xikeda-hunzi commented on #17003
my email:598968428@qq.com/haofei_mu@163.com

[2022-07-15 06:37] xikeda-hunzi commented on #17003
Thanks

my email:[598968428@qq.com](mailto:598968428@qq.com)/haofei_mu@163.com

[2022-07-15 06:39] frague59 opened #17093 "Debian repository"
**Is your feature request related to a problem? Please describe.**
Provide a debian / ubuntu repository for dbeaver-ce / dbeaver.

**Describe the solution you'd like**
Provide a debian repository for downloading new releases of dbeaver / dbeaver-ce, so we could user `apt install dbeaver-ce` / `apt update ` / `apt upgrade` to install and upgrade automatically.

[2022-07-15 07:54] adminsyszg commented on #16733
@E1izabeth
i have that same problem witch
Version 22.1.2.202207091909
![изображение](https://user-images.githubusercontent.com/70959040/179178226-a96ef2a7-1839-4d1e-a627-79d54596cb74.png)
driver version PG
![изображение](https://user-images.githubusercontent.com/70959040/179178495-70579e38-5fb2-4647-b06e-f810a5ef06ae.png)

ddl
`-- apteka.salestableapreserve definition

-- Drop table

-- DROP TABLE

[2022-07-15 08:41] LonwoLonwo commented on #17047
Hello @GuenterSch
Usually, ROLE's name is not so long as Authenticator.

[2022-07-15 08:53] GuenterSch commented on #17047
Hello Anastasiya
in our Account we use role names like
DEV_???_EXTENSION_DISTRIBUTE_RESTRICTED

I thought, the dialog is not more "symetric" (I do not know the right word ;-) ).

[2022-07-15 08:59] E1izabeth commented on #16894
PR: https://github.com/dbeaver/dbeaver-ee/pull/1780

[2022-07-15 09:16] filippov70 commented on #8288
Operating System: Fedora Linux 35
KDE Plasma Version: 5.24.4
KDE Frameworks Version: 5.91.0
Qt Version: 5.15.2
Kernel Version: 5.18.10-100.fc35.x86_64 (64-bit)
Dbeaver 22.1.2.202207091909

_export GTK_IM_MODULE=ibus_ not solved problem

[2022-07-15 09:38] solisgb commented on #17083
Please excuse the bad formulation of my request.  On the other hand, I have just checked that it has already been incorporated into the current version of DBeaver. Previously you could not type the ~ symbol in the SQL console by pressing Alt + 1, 2, 5 on the keyboard, but now you can. In conclusion, do not consider this request, I apologize.

[2022-07-15 09:50] ShadelessFox commented on #17083
I see.

So I assume that the issue can be closed now.

Please let me know if you have any questions left.

[2022-07-15 09:50] #17083 closed, assigned to nobody

[2022-07-15 11:13] E1izabeth opened #17096 "Invalid persist actions order for table columns"
DBeaver 22.1.2

Steps to reproduce:
1. Open table
2. Create a number of new columns
3. Reorder columns
4. Save... and observe incorrect ddl

Probably reproducible in other places where reordering is possible.

https://user-images.githubusercontent.com/28875055/179212291-83d2a8c1-b89d-4468-98e6-88a6bbd5eb9c.mp4

[2022-07-15 11:59] E1izabeth commented on #13724
Not reproducible anymore

https://user-images.githubusercontent.com/28875055/179218818-cfd89e43-a37e-476f-b274-67aaa8796636.mp4

[2022-07-15 11:59] #13724 closed, assigned to E1izabeth

[2022-07-15 12:04] jeralon opened #17099 "Out of memory : Java Heap space"
#### System information:
- Operating system (distribution) and version : Windows 10 Pro Enterprise Version 1909
- DBeaver version : 22.1.2
- Additional extensions : No

#### Connection specification:
- Database name and version : jobdb on PosgreSQL V9.6
- Driver name : PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  : No

#### Describe the problem you're observing:
When opening a ta

[2022-07-15 13:16] Mushoz commented on #17068
I had to downgrade due to this issue. A simple Control + Shift + Alt + A to not limit a result to 200 rows on a ~16k row table with a SELECT * FROM table takes less than a second on 22.0.4, but completely hangs the application with 22.1.2. It's completely unusable right now to be frank.

[2022-07-15 14:21] maritogaleano opened #17100 "Skip duplicate values ​​and continue insert Postgres"
#### System information:
- DBeaver version: 22.1.2.202207091909
- PostgreSQL version: PostgreSQL 9.2.24 on x86_64-redhat-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-44), 64-bit

When importing a csv, it does not allow me to ignore the duplicates and insert the data that is not in my table, I try the ignore option but nevertheless it does not insert any value

![image](https://us

[2022-07-15 14:42] LonwoLonwo commented on #17100
Hello @maritogaleano

Data file example will be beneficial.

Also, did you try using the option "Ignore duplicate values"?

![2022-07-15 17_41_17-Data Transfer](https://user-images.githubusercontent.com/45152336/179246698-8ee7a478-707b-41bc-b9bf-fb3288515abf.png)

[2022-07-15 14:53] maritogaleano commented on #17100
If I try to use the option, but it doesn't give me the option to enable it, how do I enable it?

![image](https://user-images.githubusercontent.com/57814047/179247858-bb381581-7b85-48b3-b21a-cbaf5d9b5056.png)

Regarding the data, this would be an example which I want to migrate to the table called "clients", in the csv file I have a value which I want to migrate to the table in which said value do

[2022-07-15 15:33] skwzrd commented on #208
When sql execution errors occur, the SQL Editor scrolls to the top of the file automatically in version  22.1.2.202207091909. The setting `Save editor on query execute` is disabled.

An example execution error:
[code]

[2022-07-15 15:38] ShadelessFox commented on #17100
Hello @maritogaleano,

You have to disable batches.

[2022-07-15 16:18] jbrains commented on #17068
Downgrading to 22.1.1 was enough for me to get back to a comfortable pace of work, in case you prefer not to downgrade all the way to 22.0.x.

[2022-07-15 19:43] solisgb commented on #17083
Yes, it should be closed.

[2022-07-16 04:29] SummerHow commented on #16733
I have the same problem. while I'm running SELECT statement on a synonyms table, when I try to edit the result, it will say 'Column "REGION" is read-only: No corresponding table column'. Unfortunately, Navicat shows the same tip as Dbeaver. Is there any setting wrong with me?

[2022-07-16 09:37] solisgb commented on #17082
Thank you for your interest,

I run the select and visualize the results in text mode (DBeaver_01.png)

I press Spacial and after a while I get a popup window (Desbordamiento de
pila en la línea: 1, en English Stack overflow in line: 1, DBeaver_02.pnp)

I press Aceptar, Accept, and nothing is displayed (DBeaver_03.png)

I press Text and I can return to the results of the select (DBeaver_01.png)

I

[2022-07-16 11:03] ShadelessFox commented on #17082
Unfortunately, I can't see any of your attachments. You have to attach them on GitHub.

[2022-07-16 16:36] heliocj commented on #17066
The issue stil even after that latest update.

![image](https://user-images.githubusercontent.com/69656528/179363920-09d75211-d3af-45f3-9e45-627ff6a4ba7e.png)

[2022-07-16 20:47] solisgb commented on #17082
I hope you can now see the images:

![dbeaver_01](https://user-images.githubusercontent.com/37953927/179371398-2aa3a85e-4bed-453c-9e90-94b902b3244b.PNG)

![dbeaver_02](https://user-images.githubusercontent.com/37953927/179371406-785baddb-0210-4777-afa1-d7fdbb3cc751.PNG)

![dbeaver_03](https://user-images.githubusercontent.com/37953927/179371414-9a0da1c2-b6d8-4518-b68c-21797c4a9000.PNG)

![Dbeaver_

[2022-07-17 09:47] zhaixuepan opened #17102 "The right-click menu tool is gone? How to dump database?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

After the update version [22.1.2.202207091910], the tool is gone, the dump database and restore database are gone, and the toolbar needs to be restored

**Describe the solution you'd like**
A clear and concise description of what you want

[2022-07-17 09:48] zhaixuepan commented on #17102
download from microsoft store.

![image](https://user-images.githubusercontent.com/15258081/179392847-252de369-80e5-4026-9c0c-bb1de0926459.png)

![image](https://user-images.githubusercontent.com/15258081/179392861-0d25ee87-1584-42d3-b059-fffa92aeab11.png)

[2022-07-17 15:52] iliadmitriev commented on #5738
Got the same issue on my MacOS Monterrey with `DBeaver 22.1.2`

adding line:
[code]
to `/Applications/DBeaver.app/Contents/Eclipse/dbeaver.ini`

worked for me

[2022-07-17 21:37] antoniustefan commented on #17066
The bug seems to occur only on the database that is currently default, regardless if it's set on the connection or it is changed after connecting

You can try to reproduce as follows:
1. open a connection and make sure that master is selected as default
2. use the database navigator to expand the column definition of a table from the affected database. Columns with nvarchar will be shown with corr

[2022-07-17 23:10] heliocj commented on #17066
I have tested those steps that sugested by @antoniustefan and that confirmed.

But even with that, if we tried to get the script from DDL that generated with half of size of the columns.

[2022-07-18 05:23] gibranHyun opened #17106 "erd bug"
#### System information:
- Operating system (distribution) and version : win 10 pro
- DBeaver version :   22.1 etc
- Additional extensions

#### Connection specification:
- Database name and version : oracle 11g
- Driver name : oracle.jdbc.OracleDriver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:
The table comments in the diagram are not displ

[2022-07-18 06:08] adminsyszg opened #17108 "Cannot edit Postgres citext cells"
#### System information:
- Operating system: **Windows 7 pro**
- DBeaver version:  **22.1.2.202207091909**

#### Connection specification:
- Database name and version: **Postgresql 10.4**
- Driver name: **Postgresql**
- Do you use tunnels or proxies (SSH, SOCKS, etc)? **No**

#### Describe the problem you're observing:

When i try to edit cell from a View Data witch datatype Citext , DBeaver preve

[2022-07-18 07:08] yoni-yad2 opened #17110 "Add quick DDL generation for MySQL/MariaDB users"
**Is your feature request related to a problem? Please describe.**
A quick way to generate DDL commands for MySQL/MariaDB users.

**Describe the solution you'd like**
Add "Generate DDL" option for multiple users (including optional "Show Permissions" checkbox).

**Describe alternatives you've considered**
SHOW CREATE USER xxx
SHOW GRANTS FOR xxx

[2022-07-18 07:38] annanyearian commented on #172
Where is this setting? Searching the preferences screen for "blank lines" returns no result, also tried other combinations of related words/phrases.

![image](https://user-images.githubusercontent.com/80974897/179464513-3d06f9e2-3076-487c-85c3-03683c6b8ebd.png)

[2022-07-18 08:05] LonwoLonwo commented on #17102
Hello @zhaixuepan

Is tools menu also empty or doen't exist in Database -> Tools ?

![2022-07-18 11_01_46-Window](https://user-images.githubusercontent.com/45152336/179469156-f9cbc9cf-6638-41cf-9353-f3359b046163.png)

[2022-07-18 08:12] LonwoLonwo commented on #17108
Thanks for the bug report @adminsyszg

This issue related to #16733

[2022-07-18 08:15] LonwoLonwo commented on #17110
Thanks for the idea @yoni-yad2

[2022-07-18 08:17] zhaixuepan commented on #17102
Hello，Both are empty.

![image](https://user-images.githubusercontent.com/15258081/179470733-09962114-bd32-427b-98af-74d39738da9f.png)

![image](https://user-images.githubusercontent.com/15258081/179470781-0ac3d864-6c26-446e-b9b4-bb067018b371.png)

[2022-07-18 08:35] ShadelessFox commented on #17030
Duplicate of https://github.com/dbeaver/dbeaver/issues/16793

[2022-07-18 08:35] #17030 closed, assigned to nobody

[2022-07-18 08:36] ShadelessFox commented on #16793
Thanks for the bug report.

I was able to reproduce this issue (without running GC manually).

[2022-07-18 11:02] #15297 closed, assigned to uslss, LonwoLonwo

[2022-07-18 11:02] #16894 closed, assigned to E1izabeth, Matvey16

[2022-07-18 11:38] ShadelessFox commented on #17082
It seems that it's not enough information, unfortunately.

Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

[2022-07-18 12:16] solisgb commented on #17082
I include one of the log files. I have others as a result of this problem with the same content.

[dbeaver_sql_20220714.log](https://github.com/dbeaver/dbeaver/files/9131756/dbeaver_sql_20220714.log)

Thank you and best regards

[2022-07-18 12:20] ShadelessFox commented on #17082
There should be a file called `dbeaver-debug.log`. That one you've sent doesn't contain any useful information.

[2022-07-18 12:45] solisgb commented on #17082
Here it is

[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/9131946/dbeaver-debug.log)

[2022-07-18 12:49] ShadelessFox commented on #17082
I'm still unable to find anything useful, sorry.

Please make sure that the issue persisted during the last session. Delete these log files, reproduce the issue, and then send logs again.

[2022-07-18 13:04] uslss commented on #17106
thanks for the report
closed as a duplicate of #16858

[2022-07-18 13:04] #17106 closed, assigned to nobody

[2022-07-18 14:14] gsthorat opened #17114 "SQL Template query generation not respecting user input"
### Discussion Link https://github.com/dbeaver/dbeaver/discussions/17078

<div type='discussions-op-text'>

<sup>Originally posted by **gsthorat** July 13, 2022</sup>
I am not sure whether it's working as expected or needs improvement in SQL Template.

I was expecting SQL template to take the table from the query editor and generate the query as per the SQL template.
e.g.

Here you can see I have

[2022-07-18 14:20] #16764 closed, assigned to nobody

[2022-07-18 14:23] cryptedx commented on #11464
Just run DBeaver as Adminstrator and you can change it. Easiest way my SQL Bros!

[2022-07-18 14:23] cryptedx commented on #10654
Just run DBeaver as Adminstrator and you can change it. Easiest way my SQL Bros!

[2022-07-18 14:27] #14748 closed, assigned to ShadelessFox, Matvey16

[2022-07-18 14:28] #17059 closed, assigned to uslss, ShadelessFox

[2022-07-18 15:33] jramiresbrito commented on #5169
Spent a couple of hours finding this. At the end of the day you should run the whole script with **_alt+x_** or select the query and run with **_ctrl + enter_**;

[2022-07-18 18:23] cgage1 commented on #2316
+1

Any update on adding this feature? I thought it would be something I could get used to but I simply cannot.  I'm a big fan of DBeaver but I find myself opening SSMS for my SQL Server DB connections these days due to this.

[2022-07-18 18:32] eliliam commented on #2316
Can we get someone from the team to address this? Is this ever going to happen or is it a lost cause? We just need an update, it's been five years since the issue was opened with no official response.

[2022-07-18 19:09] tsingla-mwb opened #17116 "Dbeaver crashed 4 times today"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions
<img width="307" alt="Screen Shot 2022-07-18 at 8 44 01 AM" src="https://user-images.githubusercontent.com/86621760/179594506-8566c665-11ff-44ec-9d0e-4002078e2725.png">

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS,

[2022-07-18 21:04] dreamerworks commented on #9322
Same problem on Debian 11.

Solved:
sudo apt remove --purge dbeaver-ce
sudo apt install dbeaver-ce

The old connections were not lost.

[2022-07-18 21:35] marcelothomaz opened #17117 "Postgres connection stuck "Read data types" in DBs with several objects"
#### System information:
- Operating system (distribution) and version: Windows 11
- DBeaver version: 22.1.2.202207091909

#### Connection specification:
- Database name and version: PostgreSQL
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH Tunel

#### Describe the problem you're observing:
DBeaver keeps several minutes "Read data types", executing lot

[2022-07-19 02:05] yiding-he opened #17118 "[Mictosoft Store] Unable to move DBeaver CE to other disk"
#### System information:
- OS: Windows 11
- DBeaver version: 22.1.2.202207091910
- Additional extensions: None

#### Problem:

![ApplicationFrameHost_gwGhfKEWo8](https://user-images.githubusercontent.com/900606/179648064-2b1c136b-aef5-4f14-ae6d-f115342c0114.png)
_Trying to move DBeaver CE from C: to D:_

![SystemSettings_hHGnl0A2Qe](https://user-images.githubusercontent.com/900606/179648075-63acb3

[2022-07-19 06:15] Walker555 commented on #6045
Hi, I'm new to dbeaver. I'm also missing the feature wanted by @daevidvincent . The tool "SQL Workbench/J" can do it. Look at the attached screenshot. Column header isn't truncated and it contains all the useful information. Can you implement it?
![2022-07-19_08-09](https://user-images.githubusercontent.com/11910822/179678468-a1be25eb-c46c-46b3-87cb-ba0f141a5383.png)
Notice: I have installed the d

[2022-07-19 07:13] #16998 closed, assigned to E1izabeth, Matvey16

[2022-07-19 07:27] #16890 closed, assigned to Destrolaric, Matvey16

[2022-07-19 08:50] tatod commented on #16672
I need it too, so very good idea, thanks for implementing it.

[2022-07-19 10:04] loynoir opened #17119 "ERROR: relation "pgagent.pga_job" does not exist"
#### System information:
- Operating system (distribution) and version  Arch
- DBeaver version Version 22.1.2.202207112146
- Additional extensions

#### Connection specification:
- Database name and version
docker postgres:14.4-alpine3.16
docker postgres:14.4-bullseye
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
- Administer -> jobs,

[2022-07-19 10:09] ShadelessFox commented on #17016
Fixed in #17031

[2022-07-19 10:45] #15173 closed, assigned to LonwoLonwo, Matvey16

[2022-07-19 10:45] #14959 closed, assigned to uslss, LonwoLonwo

[2022-07-19 10:51] Korkman commented on #2316
+1
Just turned off enter to accept suggestions in vscode because I am constantly fighting suggestions (press escape) when all I want is a newline. Tab is the way to go for me. Such options would be a very welcome addition to DBeaver. Thanks for considering although the underlying framework doesn't make it easy!

[2022-07-19 11:59] bio-informatician commented on #6928
The same issue is with Linux.
DBeaver 22.1.2
Ubuntu 22.04 LTS 64-bit
i7-11700, 21 GB memory

Crash on 0% when Save a modification (update a record / column properties)

[2022-07-19 13:03] emanueol opened #17120 "[SNOWFLAKE] strange characters in output SELECT"
#### System information:
- Operating system (distribution) and version
Windows 10 Home ~ 21H1 ~ 19043.1826

- DBeaver version
22.1.2.202207091909 ~ 11-JULY-2022
- Additional extensions
Eclipse 2022-06 - https://download.eclipse.org/releases/2022-06/ --> TM Terminal

#### Connection specification:
- Database name and version
Snowflake

- Driver name
net.snowflake.client.jdbc.SnowflakeDriver

- Do y

[2022-07-19 13:41] danryushin opened #17121 "[SNOWFLAKE] Can't open SQL Stored Procedures parameters or code on schemas with underscore _"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise 21H2
- DBeaver version: 22.1.2
- Java version: 1.8.0_331-b04
- Additional extensions

#### Connection specification:
- Database name and version: Snowflake 6.23.0
- Driver name: JDBC Snowflake 3.13.6
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When tr

[2022-07-19 14:49] #17068 closed, assigned to ShadelessFox, Matvey16

[2022-07-19 14:52] BendRJ commented on #7598
I encountered the same issue. The described solution did not work for me.

[2022-07-19 15:11] ShadelessFox commented on #17119
Hello @loynoir,

Are you sure that the `pgagent` extension is installed on the server?

[2022-07-19 15:16] olavorn commented on #16821
@E1izabeth , I think one quick way to overcome this limitation over slashes is to provide more than one statement delimiter;

That way, Dbeaver may recognize '/' as one of possible delimiters. Default is ';'.

![image](https://user-images.githubusercontent.com/3752407/179785905-0ffd2966-174a-4b67-bb30-8d1dcee87f7b.png)

That way, not much is changed on backstage in order to execute scripts.

[2022-07-19 16:11] rpalloni opened #17125 "Timestamp config is not saving selection"
#### System information:
- Operating system: Ubuntu 20.04
- DBeaver version: 22.1.2

#### Describe the problem you're observing:
Client Timezone setting is not persisting selection.
To reproduce the problem simply select a Timezone and apply and close.
If you reenter the config, Default is selected. (And actually what is 'Default'?)

![image](https://user-images.githubusercontent.com/17080117/1797

[2022-07-19 17:06] y-hashida commented on #16973
Thank you for citing another specific example!

I have made this issue because I often use the multi-level jumps in ssh and I was hoping you could support that feature.

[2022-07-19 18:07] solisgb commented on #17082
I have reproduced the error. I am afraid that the log files do not indicate anything relevant, I include them for you

[dbeaver_sql_20220719.log](https://github.com/dbeaver/dbeaver/files/9143590/dbeaver_sql_20220719.log)

[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/9143596/dbeaver-debug.log)

[2022-07-19 19:45] loynoir commented on #17119
@ShadelessFox
Ah, seems not, just pull from docker without extra actions.

<details>
  <summary></summary>
  <p>

With current implement, `refresh connection`, don't need to click `Administer -> jobs` by mistake again, got a alert immediately and endlessly, thus need to `reopen dbeaver`
  </p>
</details>

Is it possible to detect it and show dialog suggest to install `pgagent`?

[2022-07-19 20:23] overlind commented on #6498
I would find the addition of code folding useful as well in the value pane.

[2022-07-19 20:23] Austin1 opened #17126 "Teradata not showing procedures in DBeaver?"
#### System information:
- Operating system (distribution) and version: Mac OS Dbeaver
- DBeaver version 22.1.2.202207091909
- Java version: openjdk version "18.0.1.1" 2022-04-22
- Additional extensions: Excel

#### Connection specification:
- Database name and version: Teradata 16
- Driver name: Packaged with dbeaver version 17
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe

[2022-07-20 03:11] hxp0618 opened #17127 "The JVM shared library "/System/Library/Frameworks/JavaVM.framework" does not contain the JNI_CreateJavaVM symbol"
System information:
Operating system: macOs Monterey12.4 (M1 max)
DBeaver version: 22.1.2

#### Describe the problem you're observing:
Modify vm to local jdk and start the application
<img width="882" alt="image" src="https://user-images.githubusercontent.com/30236140/179943113-d250f128-7714-43d4-9640-4f23f3680eef.png">

<img width="263" alt="image" src="https://user-images.githubusercontent.com/3

[2022-07-20 07:33] uslss commented on #17126
@Austin1 unfortunately, cannot reproduce the issue. Could you provide video with the issue? Is there something in the [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2022-07-20 08:19] uslss commented on #17016
NPE appears when trying to expand
[code]

[2022-07-20 08:24] uslss commented on #17121
thanks for the report

[2022-07-20 08:27] #17017 closed, assigned to uslss, ShadelessFox

[2022-07-20 08:28] #15153 closed, assigned to E1izabeth, Matvey16

[2022-07-20 08:34] uslss commented on #17116
please, provide some steps to reproduce the issue. [Logs ](https://github.com/dbeaver/dbeaver/wiki/Log-files)also could be helpful

[2022-07-20 08:35] LonwoLonwo commented on #17121
Maybe connected with https://github.com/dbeaver/dbeaver/issues/17065

[2022-07-20 09:31] ShadelessFox commented on #17119
Thanks for the clarification.

There is already a message that gives a hint:

We don't want to suggest installing anything since it will require performing additional actions outside DBeaver.

[2022-07-20 11:16] tatod opened #17131 "no triggers shown in table triggers"
#### System information:
- Operating system (distribution) and version - Linux Mint 20.2 Uma
- DBeaver version - 22.1.0.202206051253
- Additional extensions - office

#### Connection specification:
- Database name and version - Oracle Oracle Database 12c EE Extreme Perf Release 12.1.0.2.0 - 64bit Production
With the Partitioning, Real Application Clusters, Automatic Storage Management, OLAP,
Advan

[2022-07-20 13:03] dbeaver-pm commented on #16285
Duplicate of #16852

[2022-07-20 13:09] dbeaver-pm commented on #16852
Probably we need to add asn1 dependency (https://github.com/hierynomus/asn-one)

[2022-07-20 13:17] emironovDB commented on #16873
@Zulu-Inuoe
Your issue was resolved by this ticket #15153
It will be included in DBeaver version 22.1.3

[2022-07-20 14:11] uslss opened #17132 "Tools and Tasks aren't available in MS Store version"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.2

#### Describe the problem you're observing:
Tools and Database Tasks aren't available in MS Store version

[2022-07-20 14:23] serge-rider commented on #17132
Fixed

[2022-07-20 15:41] #16967 closed, assigned to LonwoLonwo, Matvey16

[2022-07-20 17:05] Matvey16 opened #17135 "Table properties in import task are deleted if the task is edited after the first run"
#### System information:
- Operating system (distribution) and version Win11
- DBeaver version 22.1.2

#### Steps to reproduce, if exist:
1. Create an import task with create table mapping and custom table properties in DDL
2. Execute that task
3. Double click the task name and change something insignificant in data load tab
4. Save the task
5. Delete the table created in step 2
6. Execute the tas

[2022-07-20 17:05] lpscott commented on #16001
I have a similar issue.

Dbeaver Community 22.1.202207091909
OS: Windows 10
Database: Postgres 9.4.26

Running a plpgsql command which RAISES INFO, NOTICE, and WARNING level messages, only the INFO message makes it into the Output:
![image](https://user-images.githubusercontent.com/39776392/180041050-7fc768e4-6d85-44be-be99-91b370409e0d.png)

Louis

[2022-07-20 17:14] lpscott commented on #16001
Apologies, but I've fixed this issue. If other have it, you need to run:

set client_min_messages = 'notice';

before running the code:
![image](https://user-images.githubusercontent.com/39776392/180042651-54b3a5e2-8a9f-475e-8e61-ce9f7bfa1df9.png)

That is probably something that can be put into a configuration file somewhere.
Louis

[2022-07-20 17:19] serge-rider commented on #17099
You set fetch size to 500.000 rows. It consumes tons of memory.
Community version has 1Gb memory limit by default.

Solutions:
1. Reduce row fetch size to a reasonabl value (e.g. 1000 rows).
2. Increae memory  limit (https://github.com/dbeaver/dbeaver/wiki/Command-Line)

[2022-07-20 17:21] serge-rider commented on #17118
This is how Microsoft Store works. You can't move applications to another location.

You can download DBeaver from dbeaver.io and put it in any location.

[2022-07-21 01:20] cooltnt opened #17136 "maybe 22.1.2 have some problem"
#### System information:
- Operating system (distribution) and version
- win10
- DBeaver version
-  22.1.2.202207091909
- Additional extensions

#### Connection specification:
- Database name and version
- PostgreSQL 10.21 on x86_64-pc-linux-gnu
- Driver name
- PostgreSQL JDBC Driver 42.2.20
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
- no
#### Describe the problem you're observing:
simple

[2022-07-21 04:33] a-salimkhanov commented on #1624
DBeaver 22.1,2 on Linux Mint (Ubuntu).
Still the same issue
![image](https://user-images.githubusercontent.com/61108267/180130189-d72659eb-0575-4c32-b6aa-8ad191739b4c.png)

[2022-07-21 07:27] LonwoLonwo commented on #16482
Hello @jet2

remained in Russian. So, with the listed values of the driver keys,
everything works well: creation with a passphrase, pragma rekey. There are
no such problems that were encountered in the Community Edition. However,
the connection settings on the main tab are filled with incorrect values
when SQLCipher 4 is selected. The correct values are in the picture. With
such values, the create

[2022-07-21 08:30] mpapachristoforou opened #17138 "DBeaver fails to start on Linux Mint - GTK initialization error."
#### System information:
OS Distribution: **Linux Mint 20.3 Una**
OS Base: **Ubuntu 20.04 focal**
Kernel: **5.15.0-41-generic x86_64**
Desktop: **Cinnamon 5.2.7**
DBeaver: **v22.1.2** _(Deb Installer)_
Java: **OpenJDK v11.0.15** _(build 11.0.15+10-Ubuntu-0ubuntu0.20.04.1)_

#### Describe the problem you're observing:

DBeaver fails on start-up with the following GTK initialization error message:

[2022-07-21 11:34] rpalloni opened #17139 "Most of Snowflake objects are unavailable in dbeaver"
#### System information:
- Ubuntu 20.04
- DBeaver version 22.1.2

#### Connection specification:
- Snowflake

#### Describe the problem you're observing:

Most of Snowflake objects are unavailable in dbeaver (see image: LF Dbeaver, RG WebUI )

![image](https://user-images.githubusercontent.com/17080117/180204101-94994be8-a4f5-4f97-bb14-9737ecc0f648.png)

[2022-07-21 12:11] Matvey16 opened #17140 "Snap version doesn't show map tiles for gis data"
#### System information:
- Operating system (distribution) and version Ubuntu 22.0.4
- DBeaver version 22.1.2 Snap package

#### Steps to reproduce, if exist:
1. Open geometry data with correct ESPG in data editor

**Expected:** Object is shown on the map
**Actual:** Map tiles are not loaded and and it shows gray background instead

![VirtualBoxVM_cd6A7Y6VZd](https://user-images.githubusercontent.

[2022-07-21 12:27] LonwoLonwo commented on #17139
Hello @rpalloni

Functions and procedures are in the "Procedures" folder in DBeaver.

And I can see INFORMATION_SCHEMA.PIPES and INFORMATION_SCHEMA."STAGES" views to get metadata about stages and pipes.
Not sure about "streams" and "tasks". Maybe, in this case, we can use https://docs.snowflake.com/en/sql-reference/sql/show-streams.html and https://docs.snowflake.com/en/sql-reference/sql/show-task

[2022-07-21 12:44] iraidaa commented on #16904
Hello @kejdajar,

Could you please provide an output of what you get when you type `where java`  (or non-Windows alternative) as it's said in https://dbeaver.com/docs/wiki/Importing-CA-Certificates-into-DBeaver/?

[2022-07-21 12:59] LonwoLonwo commented on #17131
Hello @tatod

I'm not so familiar with Oracle. Can you please explain to me - what APPS is? Is this the Shema name or something else?

[2022-07-21 13:01] LonwoLonwo commented on #17080
Hello @rpalloni

You can send us the list of the most popular and helpful Snowflake functions, and we will add them to the Snowflake functions list.

[2022-07-21 13:12] LonwoLonwo commented on #13238
Still relevant in DBeaver 22.1.2

[2022-07-21 13:49] khwj opened #17143 "Unable to list columns for Delta tables"
#### System information:
- Operating system (distribution) and version: macOS Monterey
- DBeaver version: 22.1.2.202207091909
- Additional extensions

#### Connection specification:
- Database name and version: Apache Kyuubi 1.5.2 (Incubating) with Spark 3.2.1 and Delta Lake 1.2.1
- Driver name: Apache Hive/ Apache Spark / Apache Kyuubi (Incubating)

#### Describe the problem you're observing:
- U

[2022-07-21 14:02] LonwoLonwo commented on #17143
Could you please send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-07-21 14:27] rpalloni commented on #17080
https://docs.snowflake.com/en/sql-reference/functions-all.html

[2022-07-21 14:54] amartin141 commented on #17136
I have a windows server with an odbc connection to an as400 instance.  I am experiencing the exact same symptoms when db returns dataset results > approx 20,000 rows.  same conditions - previous version was fine.

[2022-07-21 15:11] amartin141 opened #17144 "22.1.2 hanging after upgrade"
#### System information:
- Operating system (distribution) and version - Windows Server 2012R2
- DBeaver version - Latest on website as of 7/21/2022 10:00 AM DST
- Additional extensions

#### Connection specification:
- Database name and version IBM V7R3
- Driver name IBM DB2 odbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:

immediate previou

[2022-07-21 15:16] jet2 commented on #16482
![image](https://user-images.githubusercontent.com/24220126/180250279-87c027ad-2446-4690-bf04-0af7d230a4bf.png)

[2022-07-21 15:51] LonwoLonwo commented on #16482
Ok, thanks.

So. I created the database with DB Browser for SQLite with SQLCirher4 encryption. I used this instruction:
https://gist.github.com/thecodingcod/a3987ddde8892d1a6bda8bd94febb7d0
added a new driver with Driver Manager with all properties and opened the database.
After that, I executed PRAGMA rekey='123', disconnected from the database, changed the key to 123 in properties, and... I can

[2022-07-21 15:53] Jmartirizo commented on #17102
I have the same problem, have you found a solution? Thanks!

[2022-07-21 15:55] LonwoLonwo commented on #16482
Also, did you try to use this driver in the DBeaver EE version?

![2022-07-21 18_54_15-Connect to a database](https://user-images.githubusercontent.com/45152336/180259040-d6585cac-f037-45e9-b209-f89e26d36116.png)

![2022-07-21 18_54_03-Connect to a database](https://user-images.githubusercontent.com/45152336/180259038-70b76b23-659f-4ca0-b4b7-b52c4bdebb32.png)

[2022-07-21 16:03] LonwoLonwo commented on #17102
Hello all.

DBeaver was republished to the Windows Store.
Can you please check it now?

[2022-07-21 16:35] uslss commented on #17144
#17136

[2022-07-21 17:33] LonwoLonwo commented on #17080
Ok, thanks.

[2022-07-21 17:35] LonwoLonwo commented on #17144
Probably fixed in #17068
Fix will be available in the next release - 22.1.3

[2022-07-21 17:41] Xylandor commented on #9866
Nearly two years since requested. Could we possibly implement this? This is an easy win and shouldn't take long to implement.

[2022-07-21 17:46] Xylandor commented on #9866
Didn't see this earlier, but this request was reported over four years again in issue https://github.com/dbeaver/dbeaver/issues/3087