[2021-06-23 22:42] heyciao commented on #12908
I agree => reopening the ticket

[2021-06-23 23:55] chuck-wood commented on #1127
And MySQL's own CLI client!

[2021-06-24 00:09] noorsyamiera92 opened #12964 "Error Communication Link Failure"
#### System information:
- MacOS big Sur 11.4
- DBeaver 21.1.1

#### Connection specification:
- Mysql 5
- dbeaver.io/files/jdbc
- SSH

#### Describe the problem you're observing:

I keep on receiving error

SQL Error [08S01]: Communications link failure¶¶The last packet successfully received from the server was 351,120 milliseconds ago.  The last packet sent successfully to the server was 42,900

[2021-06-24 03:02] yyjdelete opened #12965 "datetime2(0) in MSSQL can not be handled properly in dbeaver"
Maybe related to #3555, but I already use the Microsoft driver instead of the old jTDS

#### System information:
- Operating system (distribution) and version: Win10
- DBeaver version: 21.1.1
- Additional extensions

#### Connection specification:
- Database name and version: MSSQL2016
- Driver name: `com.microsoft.sqlserver.jdbc.SQLServerDriver`
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

[2021-06-24 03:42] yjd commented on #11891
Win2008R2 + Microsoft SQL Server 2012 (SP3) (KB3072779) - 11.0.6020.0 (X64)

Problems still exist

![20210624113743](https://user-images.githubusercontent.com/6856740/123199168-f26e2680-d4e0-11eb-9c70-2fafdd5f8005.png)
![20210624113931](https://user-images.githubusercontent.com/6856740/123199178-f69a4400-d4e0-11eb-9444-287832e8963c.png)

@uslss @serge-rider

[2021-06-24 03:59] ZGabrovski opened #12966 "Unable to edit calculated(expression) field in firebird"
#### System information:
- Operating system (distribution) and version -All
- DBeaver version Last
- Additional extensions

#### Connection specification:
- Database name and version Firebird 3.07
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
A have a table with calculated (expression) field I can not see /edit expression value
And ex

[2021-06-24 06:10] Matvey16 commented on #12861
The issue can be in parsing of the `$` sign
We will fix it, but for now as a workaround enter at least one space between `$` and `/`

[2021-06-24 06:14] Matvey16 commented on #12862
We need to find out why we don't have it. It was meant to be implemented earlier.

[2021-06-24 06:17] Matvey16 commented on #12869
We will implement it

[2021-06-24 06:22] Matvey16 commented on #12871
Hello @skibida sorry for the late response. Can you specify how are you connecting to databases. Are you using Kerberos authentication method in connection's main settings or through driver properties?

[2021-06-24 06:26] Matvey16 commented on #12900
We need to implement support for Pika.

[2021-06-24 06:31] Matvey16 commented on #12922
Thank you for the report

[2021-06-24 06:59] Matvey16 commented on #12929
Have you tried editing proxy settings?
![2021-06-24_09h59_08](https://user-images.githubusercontent.com/82543000/123217110-e67b6800-d4d2-11eb-8cab-6b02823df946.png)

[2021-06-24 07:04] Matvey16 commented on #12945
Will be implemented in future updates.

[2021-06-24 07:09] Matvey16 commented on #12965
@yyjdelete  Thank you for the report.

[2021-06-24 08:25] plotn commented on #12558
CREATE TYPE repl_log."t_log_entity" AS ENUM (
	'db2l.asr_charges',
...... many entries
	'FK',
	'SEQ');

[2021-06-24 08:50] kwswk opened #12968 "Return table instead of Statistics when doing "Execute-Prepare" statement in Athena v2"
Athena v2 added support for prepare-execute statement while dbeaver returns Statistics instead of Table after executing the SQL.

`
prepare athena_sample from
select ?
;
execute athena_sample using '2021-06-22';
`

<img width="472" alt="image" src="https://user-images.githubusercontent.com/70477318/123232938-39254600-d50c-11eb-936d-5c2e81ed7fff.png">

<img width="472" alt="image" src="https://user

[2021-06-24 08:52] uslss commented on #12964
hi @noorsyamiera92 ,
please try to set keep-alive interval in connectionproperties
![image](https://user-images.githubusercontent.com/31996417/123233269-97d5ca00-d4e2-11eb-99a0-3554ef5b475a.png)

[2021-06-24 08:57] uslss commented on #12907
@nguyenhai97 clarify, please, for what databases you want to use this authentication type?

[2021-06-24 08:58] uslss commented on #12933
thanks for the suggestion

[2021-06-24 09:00] Matvey16 commented on #12429
@CComparon In my example I just added three `f` to see fractions, if you don't need them you can adjust it as you like. If you want precision to be 0, just don't add them and leave it as is `yyyy-MM-dd HH:mm;ss`
It is not necessarily a bug, this is just how their driver sends unformatted data to any tool. And for this reason among others we have an option to format data to your needs.

[2021-06-24 09:11] CComparon commented on #12429
@Matvey16 thank you for your reply. My misunderstanding revolves around the fact that MySQL datetime has an associated precision subscript e.g. datetime(0) or datetime(3) meaning with second precision (resp millisecond). Our db schemas make extensive use of various precision levels for various usage. Ideally dbeaver would offer such a client side formatting per subscript too instead of for all dat

[2021-06-24 09:27] qupear commented on #1155
I think there must be a separate command for navigating over underscores. Because sometimes underscores are useful but most of the times it is better to treat **_some_thing_with_underscores_** as a whole word. For example CTRL+LEFT will work as it does for now but there will be an option to add shortcut ALT+LEFT that will ignore underscores in words. This is probably limited to an Eclipse function

[2021-06-24 09:34] LonwoLonwo commented on #12408
Fixed in DBeaver 21.1.2

[2021-06-24 09:42] Matvey16 commented on #12429
MySQL database uses this precision parameter for storing data, so it will just delete all excessive milliseconds in time of inserting. But when sending data to client, the driver sends them unformatted with maximum precision.
For now Dbeaver client side formatting only works for the entire connection.
If you have a means to do it, you can propose an option to MySQL team, so they add a property for

[2021-06-24 09:56] Matvey16 commented on #12899
Verified

[2021-06-24 09:56] #12899 closed, assigned to serge-rider, Matvey16

[2021-06-24 10:11] #12313 closed, assigned to serge-rider, uslss

[2021-06-24 10:12] Cavva79 commented on #12862
May I add some infos.
It seems that there are problems in closing the transaction for each tab.
Opening DBeaver with some open tabs, and closing immediatly after completely loading the application, in Oracle (don't know if it is important) ask for "Commit changes"
the dialog says:
"You are about to disconnect from database "XXX (SQLEditor <XXXX.sql>)".
Do you want to commit current transaction?"
I

[2021-06-24 10:15] uslss commented on #11977
verified

[2021-06-24 10:15] #11977 closed, assigned to serge-rider, uslss

[2021-06-24 10:31] uslss commented on #11754
verified

[2021-06-24 10:31] #11754 closed, assigned to uslss, ShadelessFox

[2021-06-24 10:36] git10135405 commented on #12429
@Matvey16
awesome! I tried to update the mysql driver and the problem was solved!
![image](https://user-images.githubusercontent.com/35558611/123248061-14d06600-d51a-11eb-8141-80f83026261b.png)

Here is a step-by-step guide：
![image](https://user-images.githubusercontent.com/35558611/123247985-fbc7b500-d519-11eb-9508-f15805186e17.png)
![image](https://user-images.githubusercontent.com/35558611/123

[2021-06-24 10:43] uslss commented on #12408
verified

[2021-06-24 10:43] #12408 closed, assigned to uslss, LonwoLonwo

[2021-06-24 10:45] uslss commented on #11227
there is no update for a long time.
if the issue is still actual for you - feel free to reopen it

[2021-06-24 10:45] #11227 closed, assigned to ShadelessFox

[2021-06-24 10:47] uslss commented on #12538
there is no update for a long time.
if the issue is still actual for you - feel free to reopen it

[2021-06-24 10:47] #12538 closed, assigned to nobody

[2021-06-24 10:48] uslss commented on #12547
there is no update for a long time.
if the issue is still actual for you - feel free to reopen it

[2021-06-24 10:48] #12547 closed, assigned to nobody

[2021-06-24 11:06] nguyenhai97 commented on #12907
Thank for reply my issue, I'm working mostly with mysql and mariadb

[2021-06-24 11:12] lukaseder opened #12971 "Database Navigator can't drop aliases ("procedures") in H2"
#### System information:
- **Operating system (distribution) and version:** Microsoft Windows [Version 10.0.19042.1052]
- **DBeaver version:** Version 21.1.1.202106210824

#### Connection specification:
- **Database name and version:** H2 1.4.200
- **Driver name:** `org.h2.Driver`
- **Do you use tunnels or proxies (SSH, SOCKS, etc)?** No

#### Describe the problem you're observing:

I can't use th

[2021-06-24 11:34] LonwoLonwo commented on #12965
Fixed in DBeaver 21.1.2

Now displayed table DDL will be
[code]

7 is the default value for datetime2, time, and datetimeoffset columns. Scale numbers from 0 to 6 will be shown for column date type in parenthesis.

[2021-06-24 11:35] LonwoLonwo commented on #12943
Fixed in DBeaver 21.1.2

[2021-06-24 11:35] ShadelessFox commented on #12948
Fixed.

![java_6fWTKnVVat](https://user-images.githubusercontent.com/35821147/123075039-83c99400-d420-11eb-8f32-7f2fe23ffe72.png)

[2021-06-24 11:36] ShadelessFox commented on #12140
Fixed for column proposals:

![image](https://user-images.githubusercontent.com/35821147/123094563-af0aae00-d435-11eb-8f44-f47fcd2b4b52.png)

[2021-06-24 11:37] LonwoLonwo commented on #12124
Support of NULL and NOT NULL modifiers removed from Clickhouse and Hive < 3.0 version

[2021-06-24 11:37] ShadelessFox commented on #9569
Implemented. Now you can configure it under connection settings:

![java_j67AgaMUyf](https://user-images.githubusercontent.com/35821147/123245210-4848cb80-d4ed-11eb-8fd4-2183cc227f67.png)

[2021-06-24 11:38] LonwoLonwo commented on #10285
Fixed in scope with https://github.com/dbeaver/dbeaver/issues/12124

[2021-06-24 11:41] arnovanoordt opened #12972 "dump and restore issue with GENERATED columns"
#### System information:
- Operating system (distribution) and version: win 10
- DBeaver version: 21.1.1
- Additional extensions: None

#### Connection specification:
- Database name and version? NA
- Driver name: MySQL Binaries - MySQL/MariaDB 5.5.62
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NA

#### Describe the problem you're observing:
When making a database dump it correctly creates

[2021-06-24 12:04] uslss commented on #10285
verified

[2021-06-24 12:04] #10285 closed

[2021-06-24 12:09] michal-bartak commented on #12862
@Cavva79  Isnt' it related to option "Open separate connection for metadata read" being disabled?
If this option is disabled tabs and metadata uses the same connection. Then if query for metadata is not committed (is shouldn't since it would commit user transaction), then there is transaction remains open (in idle state). And in turn DBeaver asks for that when you closing tab.

I personally sugges

[2021-06-24 12:10] skibida commented on #12871
Thanks for the response!
There is no option for kerberos in the main settings.  I just leave it at "Database Native".
For Postgres, I did not change any driver properties.
For Oracle, I had to specify KERBEROS5 for the oracle.net.authentication.services property.

[2021-06-24 12:14] p91paul commented on #1127
HeidiSQL is written in Delphi, and the MySQL CLI possibly in C (this one is just wild guess). Dbeaver uses JDBC driver because that's what Java supports. Despite being all official drivers, drivers for different languages might have different features/bugs.

[2021-06-24 12:17] Cavva79 commented on #12862
Thank you @michalk-k for the idea, I haven't ear about that option. I checked and actually I have it checked. Maybe there is another configuration that keep metadata locking the transaction?

[2021-06-24 12:23] faroukelabady opened #12974 "cannot open procedure inside package in oracle database"
#### System information:
-  kDE Neon 5.22.2
- DBeaver 21.1.1
- Additional extensions

#### Connection specification:
- oracle
- oracle jdbc12.2.0.1
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
When trying to open procedure in oracle in the latest dbeaver it gives the following error
There is no handler to execute for command org.jkiss.dbeaver.e

[2021-06-24 12:29] yyjdelete commented on #12965
Is this one also get fixed? Set scale to 0 is impossible here.
![image](https://user-images.githubusercontent.com/1819074/123262655-b5c71d00-d52a-11eb-9e52-e8eac1727928.png)

[2021-06-24 12:30] flambchap commented on #12681
Fixed once again.

[2021-06-24 12:35] taf1-cornell-edu commented on #12943
Super.  Thanks for resolving this so quickly.
I have seen one other new database navigator bug, which I'll report if I
can get some good reproducible steps.
Roughly, in the navigation tree, under connection, under the database
name,  the 'Schemas, Roles, Administer, Extensions, Storage, System Info'
layer is missing and the list of schemas is shown instead.  I'll send along
more info if I encounte

[2021-06-24 12:39] archenroot opened #12975 "UI Font size for Tree menu nodes of type folders doesn't work"
So I try to enlarge fonts of folders (not files) in boht Database Navigator and Project tabs, but it only seem like file nodes can be enlarged, the folder type nodes stay small as seen on this screen:
![image](https://user-images.githubusercontent.com/553512/123263762-9d8ada00-d4f9-11eb-8f18-e872d58c8273.png)

I enlarged in Global Settings Color Schema all font options to 18, but the menu items st

[2021-06-24 12:41] archenroot commented on #12975
Ok, I found this related very old issue: https://github.com/dbeaver/dbeaver/issues/964
But its not solution on dbeaver level...

[2021-06-24 13:01] genamiga commented on #1050
I will be great if we can have UPPERCASE for reserved words and lowercase for table/column

[2021-06-24 13:29] Dowwie commented on #11932
I'm using Debian 9 (stretch).  I also experienced the flickering problem.  It seems to be related to GTK. I resolved the issue with the following steps:

1. added to ~/.profile:  `export GTK_IM_MODULE=ibus`
2. installed the following libraries:  `sudo apt install ibus-gtk ibus-gtk3 ibus-clutter ibus-qt4 -y`

[2021-06-24 13:33] AlexandreHGuerra commented on #12913
System information:
Operating system (distribution) and version
    Ubuntu 21.04
DBeaver version
    21.1.0
Java version
    Bundled with DBeaver?
Additional extensions
    none
Connection specification:
    SQL Server
Database name and version
Driver name
Do you use tunnels or proxies (SSH, SOCKS, etc)?
   No
Describe the problem you're observing:
Steps to reproduce, if exist:
   import looping o

[2021-06-24 13:58] Matvey16 commented on #12429
@git10135405 That's great, so they already fixed it.
@CComparon You can update the MySQL driver. It looks like someone already decided to fix this in their latest version.

[2021-06-24 13:59] #12429 closed, assigned to ShadelessFox

[2021-06-24 13:59] ivolvicente opened #12977 "User option Event missing and Grant options not working"
#### System information:
- Windows 10 remote access to Ubuntu 20.04
- DBeaver 21.1.1.202106210824
- Java 1.8.0_241

#### Connection specification:
- MariaDB 10.3.27
- Driver for MariaDB
- No (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
I was creating users in new server, checking previleges from old servers to the new one, and then some users complain with errors on there work.

[2021-06-24 14:12] tcampbPPU opened #12978 "Unable to upgrade to latest version using apt-get"
#### System information:
- On: Ubuntu 20.10
- DBeaver version: 21.0.2

I am unable to upgrade to the latest version of DBeaver-CE. I have originally installed with `apt-get`. Now each time I open DBeaver I get prompted about upgrading the latest version.
![image](https://user-images.githubusercontent.com/25044744/123277559-373f9080-d4d4-11eb-9242-d82e42392a2f.png)

Since I installed with `apt` I r

[2021-06-24 14:13] Matvey16 commented on #12871
Ok, so how exactly did you set up the authentication for kerberos? It is important because there are more than one way to do it, including changing driver properties, or through main settings in EE version. So to see where something breaks we need to know how your kerberos authentication is set up.

[2021-06-24 14:27] Matvey16 commented on #12965
@yyjdelete Yes, it is also fixed
![2021-06-24_17h26_12](https://user-images.githubusercontent.com/82543000/123280284-56a8de80-d511-11eb-82c4-d94bf2cc3a32.gif)

[2021-06-24 14:47] skibida commented on #12871
Ok.
We are using MIT kerberos 4.1 on Windows 10.  We create a ticket using the gui where we enter our AD password.

The principal our ticket specifies is a login for both Postgres and Oracle databases.  In Aurora Postgres, the rds_ad role is granted.  For Oracle the account is IDENTIFIED EXTERNALLY.

The krb5.conf with the proper realms and pgjdbc.conf files are setup  in c:\ProgramData\Kerberos.

[2021-06-24 14:55] ghost commented on #9107
The solution to this doesn't need to be as complex as supporting AWS SSM. SSM already supports SSH, so all DBeaver needs to do is allow the use of the native SSH agent. On macOS for example my `~/.ssh/config` is all setup and working for SSH to proxy via SSM, so if DBeaver used that everything would just work. Alas, unfortunately it doesn't.

[2021-06-24 15:19] serge-rider commented on #7014
![image](https://user-images.githubusercontent.com/6398845/123289022-bfe02000-d518-11eb-855e-9317655a7136.png)

[2021-06-24 15:30] AlexandreHGuerra opened #12981 "when specifying * (asterisk) while doing select, give option to generate column list in order to allow fast sql manipulation for specific columns"
**Is your feature request related to a problem? Please describe.**
when specifying * (asterisk) while doing select, give option to generate column list in order to allow fast sql manipulation for specific columns
example

i need to format 1 column in the output for a given table with 20 columns
select * from foo

to

select
   c1,
   c2,
   c3,
   c3,
   ad nauseam...
   format(c20,999,99)
from fo

[2021-06-24 15:41] LonwoLonwo commented on #12981
Hello @alexhguerra
Thanks for the suggestion.
But we have this feature already!
Just use ctrl+space right after the asterisk. You can read about it here https://github.com/dbeaver/dbeaver/wiki/SQL-Assist-and-Auto-Complete

![QR7lTMeWhj](https://user-images.githubusercontent.com/45152336/123292321-9ffe2b80-d51b-11eb-8dc5-3a41e4c0bcae.gif)

Is this that you meant?

[2021-06-24 16:41] LonwoLonwo commented on #12477
So, the reading of flex tables, simple tables, and views was changed.
More table fields added.
Statement for flex tables fixed.
Please test creating flex tables, tables, and views.

[2021-06-24 17:20] CComparon commented on #12429
@git10135405
Thanks a bunch! It works like a charm...

@Matvey16
... except that I started liking the fact that DBeaver was converting datetimes to my local timezone (DB in UTC, locale is PST). Back to doing conversions on the fly ;)

[2021-06-24 17:59] kkim5181 commented on #12929
Thank you for the information. The issue is not resolved even though I added proxy host and port number for HTTP.  +
The error message is the same.
![image](https://user-images.githubusercontent.com/86247993/123310747-6bc34480-d4f4-11eb-8f83-98c93702bb46.png)

[2021-06-24 21:28] AlexandreHGuerra commented on #12981
very very cool. it should indeed be more promoted. you may close this suggestion

[2021-06-24 21:31] #12981 closed, assigned to nobody

[2021-06-24 23:22] p91paul commented on #12978
how did you install it in the first place? Perhaps you just downloaded the deb file? from what I can see, both the ppa and the Dbeaver debian repository are up to date.
Do your /etc/apt/sources.list or any of the files in /etc/apt/sources.list.d/ mention dbeaver?

[2021-06-24 23:29] p91paul commented on #12929
You should also change Active Provider from direct (which means no proxy) to manual at the top of that preferences page.

[2021-06-25 01:34] wangpeng0824 commented on #11360
@ShadelessFox  encountered  similar problem with adoptopenjdk11,
1，The package sun.security.x509 is not accessible，
2，The type sun.security.util.DerInputStream is not accessible，
3，The type sun.security.util.DerValue is not accessible，
4，The package org.w3c.dom is accessible from more than one module: <unnamed>, java.xml

OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (build 11.0.11+9)
OpenJDK

[2021-06-25 02:27] detkliff commented on #12902
no data in error log
![изображение](https://user-images.githubusercontent.com/61137576/123360460-cc02c680-d586-11eb-86f3-5a781fbfea6f.png)

[2021-06-25 03:54] caohenghui opened #12986 "Can not open new SQL editor"
#### System information:
- Operating system (distribution) and version: win10 64
- DBeaver version: dbeaver-ce-21.1.1-win32.win32.x86_64
- Additional extensions: AdoptOpenJDK OpenJDK11U-jdk_x64_windows_hotspot_11.0.11_9

#### Connection specification:
- Database name and version: Mysql 5.6
- Driver name: com.mysql.cj.jdbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)?:  no

#### Describe the p

[2021-06-25 06:41] ShadelessFox commented on #11360
Hi @wangpeng0824,

I'd say that's a different issue.

In case of `sun.*` imports, you can modify access rules for your JRE.
To do so, open plugin with errors, in the context menu go to <kbd>Properties</kbd> &rArr; <kbd>Java Build Path</kbd>&rArr; <kbd>Libraries</kbd>&rArr; <kbd>JRE System Library</kbd>&rArr; <kbd>Access rules</kbd> and add a new one with value `sun/**` and resolution mode `Acessib

[2021-06-25 07:20] wangpeng0824 commented on #11360
thanks for your reply，i have resolved the problem ，it was caused by my wrong configuration of ‘Java Build Path’，i edit the JRE System Library to Excution environment, and it works；
![image](https://user-images.githubusercontent.com/21004513/123386087-dc3b9580-d5c8-11eb-92e5-a4b6f1688294.png)

[2021-06-25 08:04] lzb-libra opened #12987 "I need your help"
When I set dbeaver recently, I don't know what causes me not to display the result set when I execute multiple SQL statements at the same time。When I execute a SQL statement, the result set is normally displayed, but when I execute multiple SQL statements at the same time, I only have this page
![image](https://user-images.githubusercontent.com/63389341/123391645-d052d200-d5ce-11eb-95c8-992606b71a

[2021-06-25 08:18] ShadelessFox commented on #12987
Hello @lzb-libra,

Your database may not support that feature.

Instead, you can use `Execute SQL Script` (<kbd>Alt+X</kbd>) to execute multiple SQL scripts.

More information you can find on our wiki: https://github.com/dbeaver/dbeaver/wiki/SQL-Execution

[2021-06-25 08:18] #12987 closed, assigned to nobody

[2021-06-25 08:29] Matvey16 commented on #12124
Verified

[2021-06-25 08:29] #12124 closed, assigned to LonwoLonwo, Matvey16

[2021-06-25 08:32] Matvey16 commented on #12126
Verified

[2021-06-25 08:32] #12126 closed, assigned to LonwoLonwo, Matvey16

[2021-06-25 08:36] uslss commented on #12948
verified

[2021-06-25 08:36] #12948 closed, assigned to uslss, ShadelessFox

[2021-06-25 08:42] uslss commented on #12986
@caohenghui
unfortunately, cannot reproduce. Could you provide steps to reproduce or video with the issue?

[2021-06-25 08:45] uslss commented on #12965
verified

[2021-06-25 08:45] #12965 closed, assigned to uslss, LonwoLonwo

[2021-06-25 08:46] uslss commented on #12943
verified

[2021-06-25 08:46] #12943 closed, assigned to uslss, LonwoLonwo

[2021-06-25 09:13] mortifia opened #12989 "close windows left"
**Is your feature request related to a problem? Please describe.**
add an option to have close windows to left
![image](https://user-images.githubusercontent.com/22671054/123400650-48f16880-d5a6-11eb-9b0c-1a5db6dce66c.png)

[2021-06-25 09:25] flambchap commented on #12681
The fix doesn't work properly in MSSQL.

[2021-06-25 09:31] gitdode commented on #8692
Hi, I just tried with 21.1.1.202106210824 and I still get only the OID displayed, not the (JPEG) image that is stored in it.
And I can't seem to find anymore how to add a virtual column 🤔

[2021-06-25 09:34] I33Buckler opened #12990 "Need to reinstall extension"
- Debian 10.10 - x86_64 GNU/Linux
- DBeaver version 21.1.1.202106210824
- SSHJ

#### Connection specification:
- PostgreSQL 11
- PostgreSQL
- SSH connection to database
#### Describe the problem you're observing:
SSHJ extension has to be reinstalled often
#### Steps to reproduce, if exist:
On restarting DBeaver after a while the SSH connection to the server fails. On reviewing the connection the S

[2021-06-25 09:49] Matvey16 opened #12992 "Show statistics info for Sybase connections"
We need to add statistics info for Sybase. Right now it doesn't show anything even if this option is enabled for the connection.

[2021-06-25 09:54] Wepz opened #12993 "Cannot Import Databases"
#### System information:
- Windows 10
- Community Edition 21.1.1

#### Describe the problem you're observing:

I just installed dbeaver community, I'm trying to import a new database and the following error appears:

Error executing process
  Cannot run program "{user}\AppData\Roaming\DBeaverData\drivers\clients\mysql\win\mysql.exe" (in directory "{user}\AppData\Roaming\DBeaverData\drivers\clients

[2021-06-25 09:54] Matvey16 commented on #12140
Verified

[2021-06-25 09:54] #12140 closed, assigned to ShadelessFox, Matvey16

[2021-06-25 10:16] LonwoLonwo commented on #8692
Ok. thanks for testing.

About virtual columns.
We have tab"Virtual" in Table data Viewer panel.
![2021-06-25 13_13_08-DBeaver Enterprise 21 1 1 - employees](https://user-images.githubusercontent.com/45152336/123409779-42b7b800-d5b7-11eb-90b1-a7d3cd5e4582.png)

If you don't see it, you can change the connection view on "advanced":
![2021-06-25 13_13_19-DBeaver Enterprise 21 1 1 - employees](https:

[2021-06-25 10:19] LonwoLonwo commented on #12992
http://infocenter.sybase.com/help/index.jsp?topic=/com.sybase.infocenter.dc00976.1502/html/statistics/statistics33.htm
systabstats can be very helpful for this

[2021-06-25 10:28] zcatav opened #12995 "Firebird connection refused"
Hi,

#### System information:
- Operating system (distribution) and version Pop! _OS 20.04 LTS
- DBeaver version 21.1.1
- Additional extensions

#### Connection specification:
- Database name and version Firebird 3.0.5.33220.ds4-1build2
- Driver name jaybird 4.0.0 java8 jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Dbeaver works as expected

[2021-06-25 10:33] zcatav commented on #12995
![Screenshot from 2021-06-25 13-07-36](https://user-images.githubusercontent.com/25180767/123412097-e1ddaf00-d5b9-11eb-8e0b-1674689d90e2.png)

screenshots of driver

[2021-06-25 10:39] LonwoLonwo commented on #12477
System tables reading and view also was changed

![2021-06-25 12_34_48-DBeaver Enterprise 21 1 1 - all_tables](https://user-images.githubusercontent.com/45152336/123412402-397c1a80-d5ba-11eb-9b57-f225d3977953.png)

[2021-06-25 10:55] gitdode commented on #8692
Ah, thanks!
So I tried again with a virtual column:
![image](https://user-images.githubusercontent.com/11530253/123414641-734a2280-d5b4-11eb-87d8-7c87245e60a5.png)
and I still get `1:7 unsolvable function/method 'lo_get'`

[2021-06-25 11:46] Matvey16 commented on #12513
Verified

[2021-06-25 11:46] #12513 closed, assigned to ShadelessFox, Matvey16

[2021-06-25 11:51] uslss commented on #12477
verified

[2021-06-25 11:51] #12477 closed, assigned to uslss, LonwoLonwo

[2021-06-25 12:07] flambchap commented on #12681
It's a problem in `SQLServerExecutionContext`. When we set a new schema via `setDefaultSchema()`, the context does not switch to the current database. I suggest calling it a day and fix this problem on a separate ticket.

[2021-06-25 12:30] Matvey16 opened #12998 "Setting active schema from navigator doesn't work for Sybase and MS SQL Server if it changes databases"
#### System information:
- DBeaver version 21.1.2
- Additional extensions

#### Connection specification:
- Database name and version SQL Server, Sybase
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
If the focus in Navigator is on any object lower than the database (e.g. Schema, table, column etc.) can't set active schema for SQL Edit

[2021-06-25 12:31] Matvey16 commented on #12681
Verified for other databases.

New enhancement for SQL Server and Sybase #12998

[2021-06-25 12:31] #12681 closed, assigned to flambchap, Matvey16

[2021-06-25 12:46] uslss commented on #7014
1. No values are shown in case no cells were chosen in data grid before switching to record mode.
![2021-06-25_14h59_36](https://user-images.githubusercontent.com/31996417/123423040-b5c92a80-d5c7-11eb-8939-5bab2ff073bf.gif)

2. Last table row is shown only when it was chosen before switching to the record mode. In case the
user switch to another row in record view, the row before the last will be

[2021-06-25 12:50] uslss commented on #7014
If switch to record mode on single row option is enabled, no values are shown.
![2021-06-25_15h49_26](https://user-images.githubusercontent.com/31996417/123427272-160e9b00-d5cd-11eb-9296-da5b36b40e73.gif)

[2021-06-25 12:50] kkim5181 commented on #12929
Hello,

Thank you for the information.
I changed it to Manual and get the same error.

![image](https://user-images.githubusercontent.com/86247993/123427037-1e95b000-d592-11eb-91e9-423126a6251c.png)

![image](https://user-images.githubusercontent.com/86247993/123427154-3ec56f00-d592-11eb-8d9e-a0d15ae86805.png)
Do I set Host and Provider for Proxy bypass as well?

[2021-06-25 13:41] tcampbPPU commented on #12978
I installed like [this](https://github.com/dbeaver/dbeaver/issues/988#issuecomment-699534165)
[code]

[2021-06-25 13:45] tcampbPPU commented on #12978
When I cat out `cat /etc/apt/sources.list.d/dbeaver.list`
I get the following:
[code]

[2021-06-25 14:19] mateusbmsfc opened #13000 "How to recover deleted record in PostgreSql database?"
Fiz a exclusão de uma linha de registro, tem como recuperar essa linha?

_I deleted the input line, is there any way to restore this line?_

[2021-06-25 14:22] KES777 opened #13001 "What 'minus' mean?"
![image](https://user-images.githubusercontent.com/799021/123438789-bc609d80-d5d9-11eb-97f3-b75053a3926c.png)

When I select item DBeaver put minus sign. What does this mean: item is removed from processing?

Please use 'ok sign' like `v`

[2021-06-25 14:26] KES777 opened #13002 "Allow to drag canvas"
![image](https://user-images.githubusercontent.com/799021/123439258-3b55d600-d5da-11eb-8e25-42bcf58793d0.png)

Allow to drag canvas instead of just scrolling.

Many editors implement `hand` tool, which allow to catch canvas and move it, additionally to scrolling

[2021-06-25 14:30] KES777 opened #13003 "Generate elements aligned to grid"
![image](https://user-images.githubusercontent.com/799021/123439738-b4552d80-d5da-11eb-86e3-39e075078b02.png)

Align elements to grid. Because without that if I move something then I can not put it back. It become aligned to different grid.

Notice, I have moved `pg_inherits` and it aligned to grid, but it is not in sync with `enabled_roles` which was generated and aligned by DBeaver

[2021-06-25 14:39] Matvey16 opened #13004 "Autocomplete works incorrectly for table names in quotes"
#### System information:
- DBeaver version 21.1.2

#### Connection specification:
- Database name and version PostgreSQL

#### Describe the problem you're observing:
Autocomplete doesn't propose or proposes columns from a different table if a table name is fully qualified and in quotes, but current active schema is a different from the one that contains the table.

#### Steps to reproduce, if exis

[2021-06-25 14:52] Matvey16 commented on #9569
Verified

[2021-06-25 14:52] #9569 closed

[2021-06-25 15:32] KES777 opened #13005 "Close parenth is missed"
Type `((`
Expected: `(())`
Actual: `(()`

[2021-06-25 15:51] ayan84 commented on #13004
I am also searching for such a problem's solution, but where you find version 21.1.2? I currently found version 21.1.1 in download section.

[2021-06-25 17:22] Horizon-cmchugh commented on #6045
Just wanted to reiterate this request. Having a "fit column name/headers" for the column width would be greatly preferred here and/or having some setting that did it automatically. I turned off the filtering and sort buttons as those further obfuscate the headers.

[2021-06-25 17:36] KES777 opened #13006 "Can not type the symbol '"
see video. Last typed symbol is `'`. But it is not typed or cursor position is wrong

https://user-images.githubusercontent.com/799021/123464038-f5f2d200-d5f4-11eb-9e07-8c3b6ba15fb0.mp4

probably belongs to #12860

[2021-06-25 21:49] jadamon42 commented on #6195
We desperately need this feature. I'm surprised this isn't requested more frequently.

[2021-06-25 23:58] noorsyamiera92 commented on #12964
I already put 10000, but its still the same.
I keep on receiving communication link failure.

On Thu, Jun 24, 2021, 4:52 PM Dziyana ***@***.***> wrote:

[2021-06-26 17:14] KES777 opened #13007 "Column data does not fit cell"
**Is your feature request related to a problem? Please describe.**
Data fetched from server is not visible without width adjust

**Describe the solution you'd like**
Column width should be enough to display value

** Context **

![image](https://user-images.githubusercontent.com/799021/123520801-4cc2df00-d6bb-11eb-8244-cb9f1968a9bc.png)

https://user-images.githubusercontent.com/799021/123520786-2

[2021-06-26 17:28] p91paul commented on #12964
@noorsyamiera92 you should put it to a lower value, not higher. Like 60.
At 10000 it's probably too late to keep the collection alive.

[2021-06-26 18:45] KES777 opened #13008 "-infinity is out of order"
#### System information:
- Operating system LinuxMint 19.3
- DBeaver version 21.0.3

#### Connection specification:
- Database name and version: PG v13.1

#### Describe the problem you're observing:
When I try to order data I get wrong order

#### Steps to reproduce, if exist:
Click to sort data

Actual:
![image](https://user-images.githubusercontent.com/799021/123522700-a3ceb100-d6c7-11eb-86c0-7f

[2021-06-26 18:46] KES777 commented on #13004
@ayan84 It seems he is a developer (or tester). Notice `member` badge ;-)

[2021-06-26 20:09] artgoldberg opened #13009 "Results upload button not enabled"
Thank you for making DBeaver, it's great. But it still has a few problems. Here's one.
#### System information:
- Operating system: MacOS Big Sur: 11.2.3 (20D91)
- DBeaver version: DBeaver Enterprise Edition: Version 7.3.0.202012061950

#### Connection specification:
- Database name and version: Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
	Sep 24 2019 13:48:23
	Enterprise Edition: Core-bas

[2021-06-27 03:39] ayan84 commented on #13004
@KES777 , Got it. Anyway, happy to know the problem resolved. I am being fond of this ide, and I ready to abandon Navicat and even SSMS for query purposes.

[2021-06-27 06:10] ShadelessFox commented on #13001
Hello @KES777,

This `minus` sign is an intermediate state, denoting that not all of the child elements of this node are selected, and the icon itself comes from your OS theme. This is a default behavior for tree-like widgets.

[2021-06-27 06:10] #13001 closed, assigned to nobody

[2021-06-27 06:17] arghya18 commented on #9003
Its been so long.. is the issue fixed yet?

[2021-06-27 07:34] icrescenti commented on #11410
@akilovich Already done, waiting to merge [pull request](https://github.com/dbeaver/dbeaver/pull/13021)

[2021-06-27 20:30] mscamargo commented on #6856
Hi, @zzztimbo!

Did you solve this with python?

I'm trying to do this because I'm connecting to Google cloud databases and passwords expire after some time. And I'm trying to build a script to automate the generation of new passwords and update the dbveaver connection settings.

Thanks

[2021-06-28 00:40] heyciao opened #13010 "Autocommit should always be disabled by default"
Hi

Current situation:
autocommit is enabled for all connections tagged as non-"Production".

Problem nbr1:
the "connection type" is often ignored by users during the setup of the connection (e.g. no warning stating that "autocommit" will be on), thinking that it's just a "label" or something similar (I personally didn't even notice that categorization).

Problem nbr2:
different behaviour for peop

[2021-06-28 02:08] podoni opened #13011 "New Client Side Scripting Command(@tabname)"
Thank you for making such a good program usable.

I wish there was a way to specify a tab name for the Results tab.
After the current result is displayed, you can change the tab name with the command "Rename tab".

When executing multiple SQL statements, I would like to be able to specify tab names by putting specific keywords within the script.

For example

@tabname = 'name'
select 'name'
  from

[2021-06-28 02:38] podoni commented on #13011
I didn't know if this function was already implemented.
Thank you.

-- title:tabname

[2021-06-28 02:38] #13011 closed, assigned to nobody

[2021-06-28 02:38] podoni commented on #13011
I didn't know if this function was already implemented.
Thank you.

-- title:tabname

[2021-06-28 05:31] CounterClops commented on #6444
I don't know if anything has changed regarding this, but we'd also like this feature. Our users don't always know which column the value is in, just that it's somewhere in the returned data, and being able to filter the returned data to just rows with those values (Anywhere) would be great.

Looking to migrate my userbase over to DBeaver from Aqua Data Studio, and they've raised this during our te

[2021-06-28 06:48] Matvey16 commented on #12929
@kkim5181 Yes, please try setting this options. It can also be one of the things that cause this issue

[2021-06-28 06:54] Matvey16 commented on #13004
@ayan84 Hello. You can download the latest early access version from https://dbeaver.io/files/ea/ It is currently still 21.1.1 but has a lot of bugs fixed and new features added.
This particular issue is palnned to be fixed in 21.2.0

[2021-06-28 07:22] Matvey16 commented on #13009
Hello @artgoldberg Thank you for the report. Does this issue reproduce on the latest 21.1 version?
Also maybe you have noticed if there is some similiarity in queries that lead to this or are they completely different?

[2021-06-28 07:26] Matvey16 commented on #13006
It works as intended. But maybe we can add an option to disable quoting selected text with `'` or `"` press

[2021-06-28 07:30] CounterClops opened #13012 "Database Navigator filter always resetting"
#### System information:
- Windows 10 21H1
- DBeaver 21.1.1.202106210824

#### Describe the problem you're observing:
In the Database navigator window, changing the filter away from **"Filter tables, procedures, etc."** to one of the other 2 options isn't remembered when restarting DBeaver.

This is annoying when we want the Database navigator search to only ever filter by connection. We are expec

[2021-06-28 07:39] #12915 closed, assigned to uslss, ShadelessFox

[2021-06-28 07:41] Matvey16 commented on #13005
Works as expected, but can be added as an option along with #13006

[2021-06-28 07:57] uslss commented on #13012
thank you for the report

[2021-06-28 08:02] p91paul commented on #13010
you can also change default autocommit setting for all connection types in global preferences

[2021-06-28 08:03] wangpeng0824 commented on #12714
caused by  project was not in the eclipse workspace，not on the java build path

[2021-06-28 08:03] #12714 closed, assigned to nobody

[2021-06-28 08:05] serge-rider commented on #10302
`metadata source` property configuration removed. Default driver settings by be used. It can be changed manually for a particular connection.

[2021-06-28 08:13] KES777 commented on #13006
Strange intention, never saw that at different editors

[2021-06-28 08:14] Matvey16 commented on #13008
Hello @KES777 Thank you for the report. Can you specify where you see this kind of sorting. I was not able to reproduce it.
If it is like that in Data Viewer, can you make sure that you don't have sorting on another column as well as the one with infinity ranges.

![2021-06-28_11h13_03](https://user-images.githubusercontent.com/82543000/123602952-03c97280-d802-11eb-8659-299ad22ec5bd.gif)

[2021-06-28 08:39] uslss commented on #12966
thank you for the report

[2021-06-28 08:42] Matvey16 commented on #12971
Thank you for the report

[2021-06-28 08:42] uslss commented on #12968
thank you for the suggestion

[2021-06-28 08:49] uslss commented on #13007
did you try to use Columns width:fit values option?
![image](https://user-images.githubusercontent.com/31996417/123607806-e1862380-d806-11eb-8192-0e827425bab2.png)

[2021-06-28 08:51] uslss commented on #13003
thanks for the suggestion

[2021-06-28 08:52] uslss commented on #13002
thank you for the suggestion

[2021-06-28 08:53] Matvey16 commented on #10302
Verified

[2021-06-28 08:53] #10302 closed

[2021-06-28 08:56] uslss commented on #13000
probably, you'll find some info here https://stackoverflow.com/questions/20113586/restore-deleted-records-in-postgresql

please, write in English in future :)

[2021-06-28 08:57] #13000 closed, assigned to nobody

[2021-06-28 08:57] Zbambus commented on #10149
Hi good people at dBeaver.
Any desicion taken, upon which release, this request might be added to the configuration of dBeaver?

[2021-06-28 09:00] uslss commented on #12995
could you check the similar issue [here ](https://superuser.com/questions/1374476/connecting-dbeaver-to-a-firebird-file-gives-error-code-335544721)and check if answers can solve your issue?

[2021-06-28 09:02] uslss commented on #12993
@Wepz could you provide steps to reproduce an issue?

[2021-06-28 09:04] uslss commented on #12989
it is already implemented in tab context menu. Does it solve your issue?
![image](https://user-images.githubusercontent.com/31996417/123610052-e6e46d80-d808-11eb-9ad4-43c6f63fe634.png)

[2021-06-28 09:06] uslss commented on #12974
@faroukelabady ,
unfortunately, cannot reproduce it.
could you provide a video with the issue?

[2021-06-28 09:07] Wepz commented on #12993
@uslss Hi, I just tryed to import a database from a colegue, and it works fine, its well exported by his side, when I go to dBeaver and I try to "restore database" to import the data and that error appears.

[2021-06-28 09:09] uslss commented on #12601
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-06-28 09:09] #12601 closed, assigned to nobody

[2021-06-28 09:31] #12642 closed, assigned to nobody

[2021-06-28 09:33] uslss commented on #12781
is it still actual?

[2021-06-28 09:35] #12798 closed, assigned to nobody

[2021-06-28 09:49] zcatav commented on #12995
It didn't work.  I changed the operating system from LMDE4 to Ubuntu 20.04
LTS. Now it's work as expected.
Thanks for your attention.

Zeki Çatav
zekicatav.com

28 Haz 2021 Pzt 12:00 tarihinde Dziyana ***@***.***> şunu
yazdı:

[2021-06-28 09:59] uslss commented on #12831
thank you for the report

The trigger source is shown as it was when the trigger was created. If the SQL query was formatted before execution it will be shown the same way at the source tab.
![image](https://user-images.githubusercontent.com/31996417/123618599-07182a80-d811-11eb-94f2-7e129fe10de5.png)

[2021-06-28 10:01] KES777 commented on #13007
did not know about this options. thank you, it works but option is not permanent, I need always check it (((

Also it would be nice to have it checked by default

[2021-06-28 10:14] uslss commented on #12556
@mwalter standalone dbeaver cannot be updated this way.
You should download updated version [here](https://dbeaver.io/download/) manually,
Another way is - Main menu:Help - Check for Updates - Update dialog opens(pic attached) - If new version is available, click Upgrade button
![image](https://user-images.githubusercontent.com/31996417/123620339-c8836f80-d812-11eb-838d-1f51960e8e8b.png)

[2021-06-28 10:54] flambchap commented on #11410
@icrescenti That's great! Serge merges PRs in our project. When you'll finish your work, I'll draw his attention to your PR.

[2021-06-28 11:19] sdudnic commented on #11410
my licence is gone, so I can't test anymore

[2021-06-28 12:05] uslss commented on #12053
verified

[2021-06-28 12:05] #12053 closed, assigned to uslss, LonwoLonwo

[2021-06-28 12:14] robarwebservices commented on #12781
Yes!

[2021-06-28 12:35] straninho1 opened #13018 "ERROR WHEN OPEN DBEAVER"
!ENTRY org.eclipse.equinox.p2.repository.tools 4 0 2021-06-28 14:35:01.523
!MESSAGE FrameworkEvent ERROR
!STACK 0
org.osgi.framework.BundleException: Could not resolve module: org.eclipse.equinox.p2.repository.tools [111]
  Unresolved requirement: Import-Package: org.eclipse.equinox.internal.p2.artifact.processors.checksum
    -> Export-Package: org.eclipse.equinox.internal.p2.artifact.processors.

[2021-06-28 13:43] serge-rider commented on #7014
Let's create separate tickets for 7 and 9. The rest is done.

[2021-06-28 14:06] jmccay-work commented on #12534
I would like to also request this feature.  I work with large tables in an old schema on Informix, and there is not enough room having the tab on the side.  There is just more room where it was before.

BTW,  great product and keep up the great work!  I couldn't work with Informix without using this program most of the time!

[2021-06-28 14:15] ShadelessFox commented on #12182
After further investigation, it seems to be impossible to implement.

The problem is that we can't determine whether a given table is owned by current session, unfortunately. It is important because you can't access temporary tables created by other sessions.

In addition, several sessions may create table with single name, resulting in a mess like that:
![AnyDesk_6NTP8FRdYc](https://user-images.g

[2021-06-28 15:37] serge-rider commented on #12240
DBeaver uses Tycho to build from sources. It doesn't support classic Maven artifacts as dependencies.
There are two options:
- Include jsqlformatter in our main dependencies repo (https://dbeaver.io/eclipse-repo/plugins/). But I honestly don't like this idea because of big number of 3rd party dependencies.
- Include jsqlformatter with all dependencies directly in the plugin's lib directory. You ca

[2021-06-28 16:09] Softsuit opened #13019 "Choosing a different schema works but is not displayed properly"
#### System information:
CentOS linux server (private)

#### Connection specification:
Database:  PostgreSQL 9.3.9 on x86_64-unknown-linux-gnu, compiled by gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-11), 64-bit
DBeaver 21.1.1.20210610824
straight network connection to server in the cloud (private server)

#### Describe the problem you're observing:
I have a database server with several databases on.

[2021-06-28 16:15] Softsuit commented on #13019
![image](https://user-images.githubusercontent.com/69981590/123669791-c33b1a80-d83c-11eb-8805-9329fa077ece.png)

[2021-06-28 16:18] cpick20 opened #13020 "Filtering within"
**Is your feature request related to a problem? Please describe.**
In DBeaver filtering columns is not very useful since other columns do not filter within that condition.

**Describe the solution you'd like**
I think it would be valuable if when you filtered a column in DBeaver the other columns were filtered in as well. So if I filtered Column1 based on a variable value, the other columns filter

[2021-06-28 16:58] kirankarni opened #13022 "Unable to connect Openedge DB(for Progress DB) getting Driver issues while connecting to Progress DB"
#### System information:
- Operating system (distribution) and version
- DBeaver version
![Openedge Driver issue](https://user-images.githubusercontent.com/20198952/123675297-8c4f0f80-d810-11eb-9097-ac802e1c2b02.PNG)

- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're

[2021-06-28 17:08] kirankarni commented on #13022
Hi,
Can you please help me on how to setup progress Db colud setup in DBeaver since I am getting driver issues as shown below error messages
No suitable driver found for jdbc:datadirect:openedge://148.177.26.54:18111;databaseName=mfgdb;EncryptionMethod=ssl;validateServerCertificate=false

[2021-06-28 19:37] shirotakakah commented on #13020
I agree with this feature request.  This feature would be very beneficial in my work.

[2021-06-28 21:11] kkim5181 commented on #12929
@Matvey16 I added Host as a same host name and Manual in Provider in  Proxy Bypass but I still have the same issue.
Any idea?

[2021-06-28 22:51] p91paul commented on #12929
you probably need to set the same proxy for https as well, since I believe version check is done over https. Leave only socks empty.
Proxy bypass is useful only if you have some host you do NOT want to use the proxy for (i.e. an exception).

[2021-06-29 03:22] yjd commented on #11891
@uslss @serge-rider
In version 7.2 before September 2020, there is no such problem. What is the reason? Thanks!

[2021-06-29 03:35] Dekai commented on #10026
For me, fixed this issue by importing maven website cert into dbeaver jre cacerts which is under folder Application/DBeaver/Contents/eclipse/jre/Contents/Home/lib/security, this is Mac path, Windows could be different

[2021-06-29 07:22] ShadelessFox commented on #13022
Hello @kirankarni,

You have to add required driver files.

[2021-06-29 07:54] uslss commented on #13019
@Softsuit please provide a video with the issue

[2021-06-29 07:57] uslss commented on #13018
there is not enough info to investigate an issue.
please, report an issue accordingly to [template](https://github.com/dbeaver/dbeaver/issues/new?assignees=&labels=bug%2C+wait+for+review&template=bug_report.md&title=)

[2021-06-29 08:00] uslss commented on #13020
thank you for the idea

[2021-06-29 08:06] Matvey16 commented on #11891
Reopening this issue. Reproduced this not only with sub-select but also with a likewise`join` query.

[2021-06-29 08:08] Softsuit commented on #13019
I'm a C/C++ developer and PostgreSQL specialist.  So forgive me that I do not have the capabilities to do video editing.  I can only tell you this is a severe bug for you are flying blind.   Selecting a catalog + schema works, but on top in the combobox it still reflects the previous selection.  I noticed this because on that server I have two databases or catalogs that have different tables.  And

[2021-06-29 08:34] oicq1699 opened #13025 "oracle view table indexes report an error: ORA-01417"
#### System information:
- Operating system (distribution) and version : windows 10
- DBeaver version : 21.1.1
- Additional extensions

#### Connection specification:
- Database name and version :oracle 11gR2
- Driver name:ojdbc8
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no

#### Describe the problem you're observing:
An error is reported when the table indexesis viewed. When I tried th

[2021-06-29 08:50] flambchap commented on #12032
Fixed.

[2021-06-29 08:51] shostakalex commented on #10950
Hello. It's not a duplicate, because issue #5398 is about displayed data form. This issue is about SQL Editor window.

I have same issue in ver. 21.1.1.

Thanks.

[2021-06-29 08:59] ShadelessFox commented on #10950
It doesn't matter, actually. I believe we can't do anything here, since these scrollbars are painted by your widget toolkit (GTK).

[2021-06-29 09:01] michaelbv commented on #13025
Same as above essentially.

**System information:**
Operating system (distribution) and version : ubuntu 20.04
DBeaver version : 21.1.1.202106210824
Additional extensions

**Connection specification:**
Database name and version :oracle 11gR2
Driver name: ojdbc8 release 12.2.0.1
Do you use tunnels or proxies (SSH, SOCKS, etc)? : SSH

**Describe the problem you're observing:**
The tables node shows

[2021-06-29 09:03] brylie commented on #10950
Can you put some [margin on the bottom](https://developer.gnome.org/gtk4/stable/GtkWidget.html#GtkWidget--margin-bottom) of the SQL editor widget perhaps?

[2021-06-29 09:10] shostakalex commented on #10950
I am using KDE Neon with KDE Plasma 5.22 with standard Applications Style "Breeze", as I can think, most users do. In other native apps, which uses Breeze application style, I don't see same problem.

Additionally, dbeaver's scrollbars even disappear automatically if cursor doesn't move, and scrollbars have transparent background. I have running dbeaver as snap.

Thanks.

EDIT: I think, you are ri

[2021-06-29 09:17] brylie commented on #10950
@shostakalex please make sure to test the use case where a long SQL script extends to the bottom of the editor area.

We were working with scripts sometimes with tens or hundreds of lines. In those cases, I would often need to add a blank line at the end of a script in order to be able to continue editing. When moving the mouse to click the last line of the script, the scrollbar would appear and o

[2021-06-29 09:19] flambchap commented on #12708
Fixed.

[2021-06-29 09:19] michaelbv commented on #13025
Same behaviour with 21.0.5.202105160657

[2021-06-29 09:22] shostakalex commented on #10950
Yes, I have exactly the same.

[2021-06-29 09:24] ShadelessFox commented on #10950
We don't use GTK directly - instead, we use Eclipse SWT (which uses GTK under the hood on Linux), so we can't access its API.

We'll try to hack this thing exclusively for Linux. Thanks for the suggestion!

[2021-06-29 09:24] serge-rider commented on #11891
Extra fix applied. When we have both sub-select and direct column references we must evaluate direct refs and ignore sub-select.

[2021-06-29 09:27] matejpi opened #13028 "Snowflake - separate Function and Procedures in two different folders (UI Overview)"
Hello,

when using DBeaver for development on Snowflake, Dbeaver combines functions and procedures in a single folder named "Procedures". Can you please separate functions and procedures in two different folders just for better organization? In Snowflake (and other DBs as well -> Oracle, SQL Server, PostgreSQL...) functions and procedures are different types and it's a little bit confusing seeing

[2021-06-29 09:30] ShadelessFox commented on #12182
Implemented:

![java_zBTC9e0z1M](https://user-images.githubusercontent.com/35821147/123681537-9f82cf00-d852-11eb-9b63-e8804eb623f2.png)

[2021-06-29 10:56] ShadelessFox commented on #13010
Also, you can switch connection type to `Production`.

https://github.com/dbeaver/dbeaver/wiki/Connection-Types

[2021-06-29 11:44] ShadelessFox commented on #12037
Implemented:

![java_LZylyPFhP2](https://user-images.githubusercontent.com/35821147/123285162-7b9f5080-d515-11eb-8083-c8d22fe5e644.png)

[2021-06-29 11:48] ShadelessFox commented on #12012
Fixed:
![idea64_j4KWmKplHV](https://user-images.githubusercontent.com/35821147/123423132-d42f2600-d5c7-11eb-95ff-fc071e8523cd.png)

As a bonus, fixed for DB2 (same problem):
![image](https://user-images.githubusercontent.com/35821147/123792136-f63ae800-d8e8-11eb-8b67-b7fef3bdf079.png)

[2021-06-29 11:51] serge-rider commented on #12310
Added Hive connection recovery

[2021-06-29 11:53] #12246 closed, assigned to LonwoLonwo

[2021-06-29 12:12] icegood opened #13029 "SQLite doesn't execute sql statement anymore since last update"
#### System information:
- Operating system (distribution) and version: Linux ice-ubuntu 5.11.0-22-generic 23-Ubuntu SMP Thu Jun 17 00:34:23 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- DBeaver version:  Version 21.1.1.202106210923
- Additional extensions : none

#### Connection specification:
- Database name and version: SQLIte. In system:
sqlite3 --version
3.34.1 2021-01-20 14:10:07 10e20c0b43500cf

[2021-06-29 12:15] icegood commented on #13029
java installed:

dpkg -l "*jre*" | grep ii
ii  default-jre                   2:1.11-72          amd64        Standard Java or Java compatible Runtime
ii  default-jre-headless          2:1.11-72          amd64        Standard Java or Java compatible Runtime (headless)
ii  openjdk-11-jre:amd64          11.0.11+9-0ubuntu2 amd64        OpenJDK Java runtime, using Hotspot JIT
ii  openjdk-11-jre-headles

[2021-06-29 12:22] Matvey16 commented on #11891
Verified

[2021-06-29 12:37] Matvey16 commented on #12032
First column after comment is not aligned
![2021-06-29_15h33_56](https://user-images.githubusercontent.com/82543000/123798428-d5c25c00-d8ef-11eb-82f5-7ce985390223.gif)

[2021-06-29 12:37] Matvey16 commented on #12708
Verified

[2021-06-29 12:37] #12708 closed, assigned to flambchap, Matvey16

[2021-06-29 12:40] ShadelessFox commented on #13029
Hello @icegood,

Looks like something went wrong with your installed version of DBeaver.

Can you try performing clean installation (delete old version and install a new one)?

[2021-06-29 12:46] KES777 opened #13030 "How to configure options for plan?"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/799021/123799596-0d7dd380-d8f1-11eb-9df4-f7d83441bc34.png)

But there could be different `explain` queries:
[code]

**Describe the solution you'd like**
A window where I can configure options for `explain`

[2021-06-29 13:05] flambchap commented on #2443
Implemented for the databases listed above.

[2021-06-29 13:33] Matvey16 commented on #12182
Need to include global temporary tables in search

[2021-06-29 18:17] moheikal79 opened #13033 "Support for Apache Arrow"
Dear DBeaver team,
Thanks for your efforts for supporting a plenty of databases. As Apache Arrow gaining more share in data science, it would be a great advantage to provide support for exporting database table to Arrow file or support Arrow file as embedded data source just as CSV.

Regards,

[2021-06-29 18:59] p91paul commented on #13019
@Softsuit google for "screencast software" or "screen recording software", they are pretty easy to use, usually you just need you to hit play, do what you have to, then hit stop, and they will make a video of your screen. I would have recommended something, but if I understand correctly you are on RedHat 4 which is pretty ancient, so I don't know what will work. Maybe you'll just find something in

[2021-06-29 19:26] amoradell commented on #13025
Error is with Oracle < 12c

It has been fixed : [https://docs.oracle.com/database/121/NEWFT/chapter12101.htm#NEWFT138](url)

Transforming Oracle native joins with ansi joins is ok in 11g

[code]

[2021-06-29 20:33] p91paul opened #13034 "SqlServer: INCLUDE index column are shown as they were index column"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.0.202105300349
- Additional extensions: n/a

#### Connection specification:
- Database name and version: Sql Server 2016
- Driver name: Microsoft
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  n/a

#### Describe the problem you're observing:

Sql Server supports creating indexes with som

[2021-06-29 22:49] Softsuit commented on #13019
I don't know where you get Redhat4.  Actually it's CentOS 7.7 that runs a PostgreSQL 9.3.9.  But that is imho totally irrelevant.  I described the bug, which is a GUI related thing.  You choose a different database and in the previous version, your choice would be shown in the combobox on top.  But now it isn't.  It stays on the old selection.  So you think you're working on a different database s

[2021-06-30 02:49] yjd commented on #11891
Good job, I'll test it again when the new version is released.

[2021-06-30 06:30] Matvey16 commented on #12037
Using `#` symbol in the name breaks the highlighting

![2021-06-30_09h21_39](https://user-images.githubusercontent.com/82543000/123911973-246e0580-d985-11eb-9a0f-10ac6a682c3c.png)

[2021-06-30 07:26] ayuksekdag opened #13035 "nvarchar fields (unicode) are displayed as NULL"
#### System information:
- Windows 10
- Dbeaver Version 21.1.1.202106210824
-

#### Connection specification:
- SQL Server azure
- JDBC bridge to MS ODBC driver 17 for SQL server  and using MFA auth from ODBC

#### Describe the problem you're observing:

SQL selection of any database object that has nvarchar fields. Only those fields are displayed as NULL.
To display the nvarchar I need to cast it

[2021-06-30 07:46] F0xD8rk opened #13036 "Filter for procedures in navigator is also applied to functions"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version:  21.1.1.202106210824

#### Connection specification:
- Database name and version: Oracle 12

#### Describe the problem you're observing:
If you set a filter for the _Procedures_ folder in the navigator, this filter is also applied to the _Functions_ folder.
This overwrites any filter you had set f

[2021-06-30 07:50] KES777 opened #13037 "Can't extract field 'xxxx' error"
#### System information:
- Linux Mint v19.3
- DBeaver version 21.0.3

#### Connection specification:
- PG v13.1

#### Describe the problem you're observing:
when composite value is null DBeaver tries to extract field value and get error.
This error I never see at earlier versions, but latest one has.
You can see if I expand composite field by server I get correct NULL values, but when this do DBea

[2021-06-30 08:12] matejpi commented on #13028
I will close this issue since it's not an issue.

You can split functions and procedures into separate folders by checking "Split procedures and functions" checkbox under Snowflake drivers settings.

To do this you should do:
- Edit Connection
- Edit Driver Settings
- Advanced parameters
- Set "Split procedures and functions" parameter to "True"

[2021-06-30 08:12] #13028 closed, assigned to nobody

[2021-06-30 08:25] uslss opened #13038 "Fetched rows aren't visible in Record mode"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.2 EA
related to #7014
#### Describe the problem you're observing:
Fetch buttons are available, after switching to record view dbeaver automatically fetch next rows, but newly fetched rows are shown only after switching to table mode and then back to the record mode. Multi record view switches to sin

[2021-06-30 08:27] uslss opened #13039 "All values from column are exported in case of export from grid view with selected columns only option enabled"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.2EA

 related to #7014
#### Describe the problem you're observing:
All values from column are exported in case of export from grid view in record mode with selected columns only option enabled
![image](https://user-images.githubusercontent.com/31996417/123425534-ee1e3800-d5ca-11eb-8467-8f8858be3fd6.

[2021-06-30 08:43] ayzesantos commented on #9812
I also have the same issues. Restore to default don't fix anything.

1st error when I try to connect:
<img width="1440" alt="Screen Shot 2021-06-30 at 1 43 52 AM" src="https://user-images.githubusercontent.com/67475294/123930552-73865b80-d9c2-11eb-92f9-330179bb85a9.png">

Then I clicked the download button here:
<img width="1440" alt="Screen Shot 2021-06-30 at 1 44 20 AM" src="https://user-images.

[2021-06-30 08:44] Matvey16 commented on #2443
Error when searching in Oracle

![2021-06-30_11h30_19](https://user-images.githubusercontent.com/82543000/123930429-694f6780-d998-11eb-949e-66d1a6221478.png)

![2021-06-30_11h28_09](https://user-images.githubusercontent.com/82543000/123930497-7d936480-d998-11eb-8ccc-ca338e5ffd3b.png)

[2021-06-30 08:46] #12914 closed, assigned to uslss, LonwoLonwo

[2021-06-30 08:49] uslss opened #13041 "Refresh switсhes multi-record view to single"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.2 EA
- related to #7014
#### Steps to reproduce, if exist:
1. Select some rows and switch to record view
2. Refresh table
Actual result: table switches from multi-view to single
![2021-06-30_11h49_01](https://user-images.githubusercontent.com/31996417/123931474-36f23a00-d999-11eb-9dc4-3b5e981022af.g

[2021-06-30 09:03] mikkk3l opened #13042 "Top combo schema selected not working"
#### System information:
- Operating system (distribution) and version Windows 10 64 bit
- DBeaver version 21.1.0
- Additional extensions

#### Connection specification:
- Database name and version DB2 z/OS
- Driver name ojdb8.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

It only fails with DB2 z/OS connection (with Oracle, for instance, it

[2021-06-30 09:16] ShadelessFox commented on #13035
Hello @ayuksekdag,

The issue is probably with the driver itself. Using `mssql-jdbc` the provided query works just fine:

![image](https://user-images.githubusercontent.com/35821147/123935299-c4835900-d99c-11eb-87cb-0ee5a55a7ca5.png)

Can you try using this driver instead? It's just listed as `SQL Server` in the driver manager.

[2021-06-30 09:18] uslss commented on #7014
verified. related issues created.

[2021-06-30 09:18] #7014 closed

[2021-06-30 09:22] uslss commented on #13036
thank you for the report

[2021-06-30 09:24] uslss commented on #13034
thank you for the report

[2021-06-30 09:55] Matvey16 commented on #12310
Verified

[2021-06-30 09:55] #12310 closed, assigned to serge-rider, Matvey16

[2021-06-30 09:57] Lonniebiz commented on #837
Can we please open this issue? In my previous post (over a year ago), I explained why this issue is NOT a duplicate of #671. At the top of this issue, you can see that I've been requesting this since 2015.

[2021-06-30 10:08] ayuksekdag commented on #13035
I've tried that driver. It doesnt work with MFA.  it gives error
'Failed to load MSAL4J Java library for performing ActiveDirectoryInteractive authentication'

Then I add the jar MSAL4J msal4j-1.10.1.jar to the path. It continues with errors
'com.nimbusds.oauth2.sdk.auth.ClientAuthentication'

The lastest version of dbeaver says it supports Multi factor auth (MFA) .

Smehow I am mixing up java ver

[2021-06-30 10:22] Matvey16 commented on #12881
https://github.com/dbeaver/dbeaver/wiki/Working-with-Spatial-GIS-data

[2021-06-30 11:01] faroukelabady commented on #12974
Okay, after reinstalling, seems the issue is gone now, thanks a lot for your support.

[2021-06-30 11:01] #12974 closed, assigned to nobody

[2021-06-30 11:48] Matvey16 opened #13044 "Object's header in spatial view changes to the value of the column named "id""
#### System information:
- DBeaver version 21.1.1

#### Steps to reproduce, if exist:
1. Create a table with a geometry column and a varchar or numeric column named "id"
2. In spatial view click on one of the objects

**Expected: ** Column name is in the header of description
**Actual:** Value from a column "id" is in the header

![2021-06-30_14h44_54](https://user-images.githubusercontent.com/825

[2021-06-30 11:53] p91paul commented on #13019
@Softsuit it's written in your original post, but I suppose it's the kernel version. Your operating system is mainly relevant to guide you into recording your screen, since DBeaver maintainer asked you for a video to help reproduce the issue and you claimed to be unable to record it. With CentOS 7 you might use gnome 3 builtin screen recording feature https://opensource.com/article/19/8/record-scr

[2021-06-30 12:23] uslss commented on #11543
seems it is server-side issue

[2021-06-30 13:06] uslss commented on #13033
thanks for the idea.
Is there JDBC driver available for it?

[2021-06-30 13:07] uslss commented on #13025
thanks for the report

[2021-06-30 13:10] #13010 closed, assigned to nobody

[2021-06-30 13:11] uslss commented on #12990
unfortunately, cannot reproduce it. How do you install dbeaver?

[2021-06-30 13:11] uslss commented on #12977
thank you for the report

[2021-06-30 13:15] uslss commented on #12962
Thank you for the report. As a workaround you can disable Read table metadata and Read Table references options in Preferences
![image](https://user-images.githubusercontent.com/31996417/123966721-58195180-d9be-11eb-9316-e922c05cfef2.png)

[2021-06-30 13:16] uslss commented on #12975
thank you for the report

[2021-06-30 13:18] uslss commented on #12972
thank you for the report
could you try to use an up-to-date local Mysql client? Probably MySQL client in dbeaver is outdated

[2021-06-30 13:21] uslss commented on #12960
could you provide an [error log](https://github.com/dbeaver/dbeaver/wiki/Log-files)?
looks like the installation was broken. Probably you could try to reinstall eclipse

[2021-06-30 13:32] Matvey16 commented on #12855
@eyallibarak Sorry for the late response. If a simple mouse click to execute query doesn't change the keyboard layout than it is very unusual that this happens with a use of a shortcut because it's only use is to run the same command as a ui button.
Unfortunately we can't fix it without an exact environment to reproduce it.

[2021-06-30 13:38] Matvey16 commented on #12871
This is caused by the use of a standalone kerberos client and how it interacts with java. For now we can't fix it because we use built-in kerberos in Enterprise versions. But we will look if anything can be done in one of the future updates.

[2021-06-30 13:45] Softsuit commented on #13019
Ok I tried screen2gif, it produced a gif file of 1.6MB, tried to drop it here in this box but error:  Something went eally wrong, and we can't process that fiel.  Try again  = what I get

[2021-06-30 14:26] flambchap commented on #2443
Fixed the error above.

[2021-06-30 15:15] serge-rider commented on #13035
You should use `Azure SQL Server` driver in order to use MFA authentication. It contains all required dependencies.

[2021-06-30 15:16] lukaseder commented on #6912
In case it helps anyone, I followed this tutorial: https://docs.oracle.com/en/cloud/paas/autonomous-database/adbsa/connect-jdbc-thin-wallet.html

And had to manually specify the JDBC drivers and security libraries:

![image](https://user-images.githubusercontent.com/734593/123986663-cb26c600-d9c6-11eb-97ff-f5a60f26ffee.png)

Alternatively, even better, add this dependency (once https://github.com/

[2021-06-30 15:32] ayuksekdag commented on #13035
Hi Serge,
This is the solution I was looking for. I can lnow ogin and unicode nvarchars are visible.
The only problem I have now is the browser popups everytime I open a new sqleditor (because of MFA). but this is luxery problem :)

Thanks for the fast reply

[2021-06-30 15:32] #13035 closed, assigned to nobody

[2021-06-30 15:32] ayuksekdag commented on #13035
see above

[2021-06-30 15:46] flambchap commented on #11828
Hi @vmalyutin. I want to ask a couple of questions.

- Is it still reproducible (against the latest version)?
- If it is, do you observe the same issue when connecting to Postgres without PgBouncer?

Thanks.

[2021-06-30 15:59] lukaseder opened #13048 "Cannot download com.oracle.database.jdbc:ojdbc11-production:RELEASE"
#### System information:
- Operating system (distribution) and version: Microsoft Windows [Version 10.0.19042.1052]
- DBeaver version: Version 21.1.1.202106210824

https://blogs.oracle.com/developers/connecting-to-oracle-autonomous-database-via-jdbc
#### Connection specification:
- Database name and version: Oracle 18c XE
- Driver name: ojdbc11

#### Describe the problem you're observing:

I'd lik

[2021-06-30 16:09] shearerpmm opened #13049 "Hanging and freezing in OS X"
#### System information:
- Operating system (distribution) and version: OS X 10.15.7
- DBeaver version: 21.1.1
- Additional extensions: none

#### Connection specification:
- Database name and version: Vertica 10.1
- Driver name: Vertica JDBC
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Corporate laptop, use a VPN and SSL/TLS authentication to connect to Vertica

#### Describe the problem yo

[2021-06-30 16:26] p91paul commented on #837
I suggest you open a new issue. I think your point is valid and this issue was closed by mistake, but sometimes comments on old closed issues will get lost.

[2021-06-30 17:29] moheikal79 commented on #13033
Hi
I am not sure if a JDBC is available or not, this link may help " https://www.xoriant.com/blog/big-data-analytics/xoriant-open-source-contribution-apache-arrow-jdbc-adapter.html".  Moreover, Apache Arrow provides libraries to access it via a number of programming languages " https://arrow.apache.org/".
Regards

[2021-06-30 18:50] malammar opened #13050 "Remember Value Panel "Content viewer settings""
**Is your feature request related to a problem? Please describe.**
There are many JSON-text fields in my databases and I LOVE the auto-format feature in the Value Panel/Content Viewer Settings. However, I wish that the panel remembered which columns I marked as JSON or guessed that the content of the column is JSON text. When I close the table and reopen it, the formatting persists. But when I clo

[2021-06-30 21:06] WellingtonBS opened #13051 "firebird connection"
How to change the dialect of a connection.

I'm with the error

SQL Error [335544793] [42000]: Dynamic SQL Error; SQL error code = -817; Metadata update statement is not allowed by the current database SQL dialect 1 [SQLState:42000, ISC error code:335544793]

[2021-07-01 06:01] Matvey16 commented on #12182
Verified

[2021-07-01 06:01] #12182 closed, assigned to ShadelessFox, Matvey16

[2021-07-01 06:07] Matvey16 commented on #12037
Verified

[2021-07-01 07:44] eyallibarak commented on #12855
Then how do you explain it happening even when I change the key combination?

Here's another finding from today - the problem stopped happening for 2 days, so today I did alt+shift to change to Hebrew while focused on the editor, then the problem started happening again. If I'm in English it switched to Hebrew. If I'm in Hebrew it switches twice fast to En and back to He.

Also - if I disable the

[2021-07-01 07:46] eyallibarak commented on #12855
Wow! I found the problem!

This happens only if the query has a string with Hebrew text (i.e. where name like '%אורי%')

[2021-07-01 08:02] gr-sid opened #13052 "Not correct working with views"
#### System information:
- Operating system (distribution) and version
Linux Mint, Windows 10
- DBeaver version
21.0.2.202104042040
- Additional extensions
No

#### Connection specification:
- Database name and version
Oracle 10 (maybe the same in Postgres 13)
- Driver name
Standard (from maven)
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
No

#### Describe the problem you're observing:
1) I

[2021-07-01 08:07] uslss commented on #12012
verified

[2021-07-01 08:07] #12012 closed, assigned to uslss, ShadelessFox

[2021-07-01 08:09] uslss commented on #13052
could you check if it reproducible for you against 21.1.1?

[2021-07-01 08:12] uslss commented on #13051
probably, you could find more info here https://www.firebirdsql.org/pdfmanual/html/gfix-dialect.html

[2021-07-01 08:18] kseniiaguzeeva commented on #12881
Closed

[2021-07-01 08:18] #12881 closed, assigned to kseniiaguzeeva, Matvey16

[2021-07-01 08:18] Matvey16 commented on #2443
Now search in Oracle doesn't find some of the data from definitions and sometimes messes up with upper and lower case.
![2021-07-01_10h42_51](https://user-images.githubusercontent.com/82543000/124090912-f9a3b000-da5d-11eb-871a-f02bde480efc.gif)

https://user-images.githubusercontent.com/82543000/124091031-150ebb00-da5e-11eb-85d7-6b10fa5fa3c7.mp4

[2021-07-01 08:20] uslss commented on #12085
there is no update on the issue for a long time.
if it is still actual - feel free to reopen it with additional info

[2021-07-01 08:20] #12085 closed, assigned to nobody

[2021-07-01 08:22] uslss commented on #12689
sorry for the late response. is it still actual?

[2021-07-01 08:22] #12792 closed, assigned to nobody

[2021-07-01 08:26] uslss commented on #12849
you should switch to auto-commit mode. It is expected behavior for the [smart-commit mode](https://github.com/dbeaver/dbeaver/wiki/Auto-and-Manual-Commit-Modes#smart-commit-mode)

[2021-07-01 08:26] #12849 closed, assigned to nobody

[2021-07-01 08:26] kseniiaguzeeva opened #13055 "Geometry objects from different columns have the same color in Value panel"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.2 EA

#### Steps to reproduce, if exist:
1. Open Value panel for a table with 2 or more geometry columns
2. Select geometry objects from different columns

**Expected**: the objects have different colors
**Actual result**: objects have the same color
![1](https://user-images.githubusercontent.com/51

[2021-07-01 08:32] kseniiaguzeeva opened #13056 "Column name is not displayed for a geometry object in Value panel"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.2

#### Steps to reproduce, if exist:
1. Select a gometry data in a table and open the Value panel
2. Click the object in the Value panel

**Expected**: the column name and data from other columns are displayed in the object info pop up
**Actual result**: the column name is not displayed

[2021-07-01 08:34] #11667 closed, assigned to nobody

[2021-07-01 08:40] #11949 closed, assigned to nobody

[2021-07-01 08:40] #12556 closed, assigned to nobody

[2021-07-01 08:41] #12719 closed, assigned to nobody

[2021-07-01 08:41] kseniiaguzeeva commented on #13049
Unfortunately, I cannot reproduce it. Could you please provide me with more information in order to I could to assess the issue and find a solution:
1. Do you use standalone DBeaver or Eclipse exstension?
2. Could you please send me [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files)
3. Could you please look at [Query manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager): what

[2021-07-01 08:43] uslss commented on #12781
still cannot reproduce it. which dbeaver version do you use?
![image](https://user-images.githubusercontent.com/31996417/124094486-7f752a80-da61-11eb-9aff-d67d4cf8dd90.png)

[2021-07-01 08:45] #12995 closed, assigned to nobody

[2021-07-01 08:49] uslss commented on #8526
seems it is expected behavior
https://docs.oracle.com/cd/B19306_01/server.102/b14200/queries009.htm

[2021-07-01 08:49] #8526 closed

[2021-07-01 08:51] uslss commented on #8620
cannot reproduce it for now.
If issue is still actual - feel fre to reopen it

[2021-07-01 08:51] #8620 closed

[2021-07-01 08:52] uslss commented on #8737
cannot reproduce it for now. If it is still actual for you - feel free to reopen ticket

[2021-07-01 08:52] #8737 closed

[2021-07-01 08:53] uslss commented on #8529
cannot reproduce it against 21.1.1.
If it is still actual for you - feel free to reopen it.

[2021-07-01 08:53] #8529 closed

[2021-07-01 08:55] DenisCasselle commented on #6213
Had the same issue. Found a solution by configuring my ODBC data sources in Windows and activate the checkbox "Report unicode column as char" in client settings/Third party options/

[2021-07-01 09:07] ems2811 commented on #12335
@LonwoLonwo, problem reproduces in DBeaver 21.1.1.202106210824. Need to create new issue or exists same open issue?

[2021-07-01 09:54] Matvey16 commented on #12032
Verified

[2021-07-01 09:54] #12032 closed, assigned to flambchap, Matvey16

[2021-07-01 10:04] ShadelessFox commented on #12526
It depends on the database you're transferring to. It may be upper-case database, so the table name in lower-case is quoted to keep the case intact. Also, quoting may happen when you use keywords as an identifier.

[2021-07-01 10:04] #12526 closed, assigned to nobody

[2021-07-01 10:23] Matvey16 commented on #12487
Works as expected

[2021-07-01 10:23] #12487 closed, assigned to nobody

[2021-07-01 10:28] brasio commented on #11931
No, it is not "in-memory".

[2021-07-01 10:31] Matvey16 commented on #2443
Verified

[2021-07-01 10:31] #2443 closed

[2021-07-01 11:00] WellingtonBS commented on #13051
thank you very much, THE DB is in the correct dialect, I use with other tools, I believe it is some config of DBeaver in the format of connection dialect, has to change the format?

[2021-07-01 11:06] flambchap commented on #12043
Unfortunately, I haven't found an easy solution. Currently, when we place the cursor on some name in the editor and press CTRL, we go to the left until we find a 'non-word character', and then to the right, again, until we find another 'non-word character'. After that, we try to resolve the object which name is contained between those two chars. (see `SQLIdentifierDetector.detectIdentifier())`.

W

[2021-07-01 12:23] liemoli commented on #12689
yes the problem is still current.

LucaIemoli
Ufficio Sistemi e Networking
+39 0342634298
+39 3485420605
***@***.***

Cosio Valtellino (SO)|Via Stazione, 4–
23013|0342 634211
SEDE LEGALE Milano (MI) Via Ansperto, 7 – 20123  |  SEDE AMMINISTRATIVA Cosio V.no (SO) Via Stazione, 4 – 23013  |  Cod. Fiscale e P. IVA 10024610155  |  COD. UNIVOCO M5UXCR1

Rispetta l’ambiente. Hai davvero bisogno di stamp

[2021-07-01 12:59] vrkadiyala commented on #6813
This issue still exists even in 21.1.1.

[2021-07-01 13:04] charlesdmoorejr commented on #12962
Excellent, this seems to significantly reduce the time on those background tasks.

[2021-07-01 13:24] Matvey16 opened #13063 "Metadata search doesn't work for procedures or functions in DB2"
#### System information:
- DBeaver version 21.1.2

#### Connection specification:
- Database name and version DB2
- Driver name DB2 LUW

#### Describe the problem you're observing:
Metadata search doesn't find procedures and functions.

#### Steps to reproduce, if exist:
1. Open Metadata Search and try to find an existing function.

**Expected:** Object is found
**Actual:** Nothing is found

![Mxf

[2021-07-01 13:53] flambchap opened #13066 "Extend 'Search in comments' functionality to other databases"
Currently, we only support PostgreSQL, MySQL, Oracle, MSSQL, and Exasol.

In this ticket, we are implementing this functionality for:
- [x] Cassandra

[2021-07-01 13:55] flambchap opened #13067 "Metadata search: search Exasol metadata in definitions"
Currently, we only support PostgreSQL, MySQL, Oracle, MSSQL, and DB2.

[2021-07-01 14:08] rumbin commented on #7215
Is there any progess on this topic?

[2021-07-01 14:25] ArianHojatAES commented on #7215
@rumbin
FYI I wasn't sure if your question above is more about Snowflake DuoMobile auth... or general DuoMobile auth (for me i needed latter for Oracle connection).
This solved for Oracle 2FA DuoMobile auth (adding to Driver Properties tab in DBeaver):
Name/key                                             value
oracle.net.authentication_services        RADIUS

[2021-07-01 18:11] DudJuz opened #13069 "Null connection returned"
Hi Team,

I tried to use Dbeaver to connect to Azure Synapse db via a generic JDBC connector.

Here this a log
[log.pdf](https://github.com/dbeaver/dbeaver/files/6750010/log.pdf)

[2021-07-01 22:18] FernandoTBarros commented on #13019
I'm having the same problem. Windows 10 x64 DBeaver CE version Version 21.1.1.202106210824
And while recording the video to demonstrate the error I noted that this only happens when I'm moving to the public schema.

https://user-images.githubusercontent.com/3437672/124195544-0f869480-daa1-11eb-8b8c-8e4123d6db63.mp4

[2021-07-01 23:11] DariaMarkaryan commented on #12629
Didn't notice forward/backward options...

[2021-07-01 23:11] #12629 closed, assigned to nobody

[2021-07-02 07:30] SSSDNSY opened #13070 "mouse hovers over the tab page of "execution plan", it will flash."
#### System information:
- Operating system (distribution) and version
   win10
- DBeaver version
  版本21.1.1.202106210824
- Additional extensions

#### Connection specification:
- Database name and version

   mysql8
- Driver name  MySQL Connector/J
 [mysql-connector-java-8.0.17 (Revision: 16a712ddb3f826a1933ab42b0039f7fb9eebc6ec)]
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
  no

#### Desc

[2021-07-02 07:34] SSSDNSY commented on #13070
<details>
  <summary>more information from installed info</summary>

[code]
</details>

[2021-07-02 08:02] kseniiaguzeeva opened #13071 "Auto-complete replaces asteriks"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.2 EA
#### Steps to reproduce, if exist:
Write in SQL Editor `select *|`--press ctrl+space

**Expected**: `from` is suggested after asteriks
**Actual result**: `from` replaces asteriks

https://user-images.githubusercontent.com/51405061/124241925-e3145c00-db24-11eb-82bb-8a1dfaac5156.mp4

[2021-07-02 08:06] Matvey16 opened #13072 "Grouping panel drag-n-drop breaks after adding columns starting from the first continuously"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.1.2

#### Describe the problem you're observing:
If you drag columns to grouping panel continuously (e.g first then second then third etc) after clearing the panel you won't be able to add them to grouping panel again until you add the column that was not added previously.

#### Steps to reproduc

[2021-07-02 08:08] kseniiaguzeeva opened #13073 "Auto-complete appears after a table alias"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.2

#### Steps to reproduce, if exist:
Write in SQL Editor `select * from table_name tn`|--press ctrl+space after table alias

**Expected**: no proposals
**Actual result**: the table name appears in the auto-complete list.
![dbeaver_mRU2TEBBGw](https://user-images.githubusercontent.com/51405061/12424

[2021-07-02 08:33] ilmagowalter opened #13074 "command-line -con name do not work when exist two connection with same name but different folder"
#### System information:
- Windows 10
- DBeaver Standalone - 21.1.1.202106210824

#### Describe the problem you're observing:
command-line -con name do not work when exist two connection with same name but different folder
Example
if i have in navigator 3 connections
FOLDER1\PROD
FOLDER2\PROD
FOLDER3\PROD

i use this command
"C:\Program Files\dbeaver\dbeaver.exe" -con "name=PROD|openConsole=true"

[2021-07-02 08:38] ilmagowalter opened #13075 "Open in foreground from command line"
#### System information:
- Windows 10
- DBeaver Standalone - 21.1.1.202106210824

#### Describe the problem you're observing:
When open dbeaver connection from command line and i have dbeaver already opened, the software do not go in the foreground automatically

[2021-07-02 08:59] radek-vytiska opened #13076 "Advanced paste escape for NULL values"
**Is your feature request related to a problem? Please describe.**
We are often using Excel to prepare data and after that we use advanced paste to transfer them into DBeaver. We are using this method on testing env. where its fast and siple this way. But there is ne huge problem with this workflow, when we paste empty cells randomly spread in the data sheet and we want these to be NULL valuse. I

[2021-07-02 09:21] ShadelessFox commented on #11423
Fixed:

![image](https://user-images.githubusercontent.com/35821147/124131939-f70a8000-da88-11eb-8592-3f9fb7d9aa24.png)

[2021-07-02 09:21] arnovanoordt commented on #12972
Same with eg MariaDB 10.4

[2021-07-02 09:58] Matvey16 opened #13078 "Replace all button doesn't replace values positioned on rows before the highlighted one"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.2

#### Describe the problem you're observing:
While using Find/Replace feature, clicking `Replace All` button will only replace values in rows that are lower then the highlighted one. Highlighted column position also influences this, but only for the first of the rows.

#### Steps to reproduce, if

[2021-07-02 10:11] kseniiaguzeeva commented on #10585
Cannot be reproduced anymore

[2021-07-02 10:11] #10585 closed

[2021-07-02 11:06] Matvey16 opened #13079 "SQL Templates drop-down lists don't work for SQLite"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.2

#### Connection specification:
- Database name and version SQLite

#### Steps to reproduce, if exist:
1. In SQL editor press `Ctrl + Alt + Space`
2. Select any template with variable table or column name.

**Expected:** Drop-down list of available tables or columns appear
**Actual:** No suggestio

[2021-07-02 11:41] ShadelessFox commented on #11121
Duplicate of #11510

[2021-07-02 11:41] #11121 closed, assigned to ShadelessFox

[2021-07-02 11:42] ShadelessFox commented on #11510
Another example:

[code]

[2021-07-02 11:44] ShadelessFox commented on #11380
Since there's a solution for your problem, I will close this issue.

[2021-07-02 11:57] flambchap commented on #11883
Fixed.

[2021-07-02 12:07] uslss commented on #10671
not reproducible against 21.1.2

[2021-07-02 12:16] uslss commented on #10671
steps 4-5 are still reproducible

[2021-07-02 12:47] kseniiaguzeeva opened #13080 "Wrong DDL for creating a table with unique key via UI"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.1.2 EA

#### Connection specification:
- Database name and version Greenplum

#### Steps to reproduce, if exist:
Create a new table with a unique key via UI and save it

**Expected**: the table is created
**Actual result**: the table cannot be created because of incompatible DDL. An error appears: `UNIQ

[2021-07-02 14:09] Matvey16 commented on #12037
Verified

[2021-07-02 14:09] #12037 closed, assigned to ShadelessFox, Matvey16

[2021-07-02 14:22] ShadelessFox opened #13083 "Allow changing prefix for client commands"
Currently, the default prefix for such commands is `@` and you can't change it. It would be nice to have, since some databases have designated syntax for other things with heavy usage of `@` as a prefix (e.g. local variables in SQL Server)

https://github.com/dbeaver/dbeaver/wiki/Client-Side-Scripting

[2021-07-02 14:23] ShadelessFox commented on #12001
Implemented:

![image](https://user-images.githubusercontent.com/35821147/124252915-2922ed00-db30-11eb-83c7-641f456ed6d2.png)

Now you can click on the column's header to change its ordering.

[2021-07-02 15:46] dkornacki-cutco opened #13086 "SQL keywords auto uppercased when writing comments"
DBeaver Version: 21.1.1

E.g., I wrote the comment "item exists in BOM" and it was auto capitalized like so:

[code]

[2021-07-02 16:18] #13069 closed, assigned to nobody

[2021-07-02 16:18] DudJuz commented on #13069
Updated JDBC URL and fixed it

[2021-07-02 17:42] ggregoire opened #13087 "Regression: can't edit bits anymore"
#### System information:
- Operating system (distribution) and version: macOS mojave
- DBeaver version: Version 21.1.1.202106210813

#### Connection specification:
- Database name and version: postgresql

#### Describe the problem you're observing:

Can't edit bits anymore. I've been doing it for years on this table so it's probably a regression.

<img width="221" alt="Screen Shot 2021-07-02 at 12

[2021-07-02 18:01] ggregoire commented on #11853
@serge-rider @kseniiaguzeeva Hi! Thanks for the fix! Do I need to check an option in the settings?

I see the fix was added to the 21.0.2 but on my 21.1.1 (postgresql, macOS) numbers are not blue in the arrays:

<img width="976" alt="Screen Shot 2021-07-02 at 12 57 56 PM" src="https://user-images.githubusercontent.com/591804/124312591-28408a00-db35-11eb-8d87-501ee8dee097.png">

[2021-07-02 20:00] healiseu commented on #12819
I confirm that the problem of linking  tables from different schemas is fixed in the new release of
DBeaver Version 21.1.1.202106210824
Release date: June 21, 2021

[2021-07-02 20:54] cesarmansur commented on #5931
I have the same issue on MacOS Mojave 10.14.6 and DBeaver Version 21.1.1.202106210813

[2021-07-03 07:24] nbros commented on #8416
This still seems broken.
I have DBeaver version 21.1.1.202106210824 and I still see the uncommitted transactions count increasing even when I only do a very basic SELECT statement (on a DB2 database).

[2021-07-03 07:41] nbros opened #13088 "SELECT statement still increasing modifying statement count and starting an unneeded transaction"
Hello,

I only executed the same SELECT 3 times after connecting to my database and I see "3 modifying statements".

![image](https://user-images.githubusercontent.com/141089/124346913-cc800a80-dbe1-11eb-9de7-cd8ca313e2e9.png)

#### System information:
- Operating system : Windows 10
- DBeaver version : 21.1.1.202106210824
- Additional extensions : none

#### Connection specification:
- Database n

[2021-07-03 07:44] nbros commented on #13088
![image](https://user-images.githubusercontent.com/141089/124347134-3e0c8880-dbe3-11eb-9bc4-53ecf6a1321a.png)

[2021-07-04 20:12] ShadelessFox commented on #13083
Implemented:

![pJ5VpC1wss](https://user-images.githubusercontent.com/35821147/124293332-37d4c880-db5f-11eb-8326-ac5e9d035f97.png)

[2021-07-04 21:26] gthbusr0 opened #13089 "auto completion for tables created in current session doesn't pick up in realtime"
#### System information:
- Operating system (distribution) and version:  windows 10 enterprise 10.0.18363
- DBeaver version: DBeaver 21.1.1
- Additional extensions: NONE

#### Connection specification:
- Database name and version : oracle 11gr2
- Driver name : default oracle driver bundled with s/w
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no tunnels/proxies

#### Describe the problem y

[2021-07-05 01:36] lyh061619 opened #13090 "Eclipse Plug-in table data tab UI display is not organized"
System information:

    Operating system (distribution) and version Win10
    DBeaver version 21.1.2
    4K screen 3840 x 2160
Steps to reproduce, if exist:

Eclipse Plug-in table data tab UI display is not organized

Expected: Adjust to end display
![图片](https://user-images.githubusercontent.com/15118571/124406582-565fdd00-dd74-11eb-9457-a541cd339ceb.png)

[2021-07-05 02:57] HoonK212 opened #13091 "Data Export Error Inquiry"
#### System information:
- Operating system (distribution) and version : Big Sur 11.4
- DBeaver version : 21.1.1
- Additional extensions : none

#### Connection specification:
- Database name and version : Oracle 11g enterprise & Oracle 11g xe
- Driver name : oracle.jdbc.OracleDriver (default oracle driver in dbeaver)
- Do you use tunnels or proxies (SSH, SOCKS, etc) : nope

#### Describe the prob

[2021-07-05 03:28] williambuchanan2 opened #13092 "Autocomplete with duplicate schema name"
#### System information:
- Windows Server 2019
- 21.1.1.202106210824
- Additional extensions - none

#### Connection specification:
- SQL Server 2019
- Microsoft JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No.

#### Describe the problem you're observing:
I have a Database named 'SysCore' and within this I have a few different schemas. One of the schemas is named 'SysCore'. When

[2021-07-05 03:29] doitsexy opened #13093 "Ctrl+h search result only show name column,"
#### System information:
- Operating system (distribution) and version: windows 10
- DBeaver version 21.1.1 community
- Additional extensions

#### Connection specification:
- Database name and version:  oracle11
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
when search (Ctrl+H) , the result only shows the name column, other columns d

[2021-07-05 03:34] williambuchanan2 opened #13094 "Use tab instead of enter"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I generally think that for code completion the tab button is the button that should do the completion (based on my use of various other tools). It would be good to have this as an option rather than the current default which is the enter bu

[2021-07-05 03:35] yjd commented on #11891
@uslss @serge-rider @Matvey16

Feedback again, test results.
Versions dbeaver-ce-7.2.3-win32.win32.x86_64 and earlier tested fine.
dbeaver-ce-7.2.4-win32.win32.x86_64 version started to have problems.

ddl
[example2.zip](https://github.com/dbeaver/dbeaver/files/6761474/example2.zip)

[2021-07-05 05:26] LonwoLonwo commented on #11015
“ In Informix, the behaviour of TRUNCATE is slightly different; you can use TRUNCATE in a transaction, but the only statements permissible after that are COMMIT and ROLLBACK.”

[2021-07-05 07:11] Matvey16 opened #13095 "Create column button is absent in some cases for SQLite"
#### System information:
- DBeaver version 21.1.2

#### Connection specification:
- Database name and version SQLite

#### Describe the problem you're observing:
Create a column button is hidden in some places, when it should not be.

![dbeaver_jFMJ8YXcXA](https://user-images.githubusercontent.com/82543000/124431216-c5d7cb80-dd78-11eb-933d-94f2219f2acf.png)
![TgKTlWhiEj](https://user-images.github

[2021-07-05 07:22] DariaMarkaryan opened #13096 "Firebird execution plan doesn't work"
#### System information:
- Windows 10
- DBeaver CE 21.1.2

#### Connection specification:
- Firebird 2.5

#### Describe the problem you're observing:
Trying to get execution plan for query SELECT * FROM "9551", but get no explanations
![image](https://user-images.githubusercontent.com/43252954/124433249-354eba80-dd7b-11eb-9495-d3a3599f7c2b.png)

 Errors are thrown when double click on plan tree it

[2021-07-05 07:37] DariaMarkaryan opened #13097 "Can't execute expression from dual in firebird"
#### System information:
- Windows 10
- DBeaver CE 21.1.2

#### Connection specification:
- Firebird 2.5

#### Steps to reproduce, if exist:
insert script 'select current_timestamp from RDB$DATABASE' -> Highlight this line -> context menu - Execute -> evaluate SQL expression
Expected: timestamp appears in result set
Actual: Error is thrown
#### Include any warning/errors/backtraces from the logs
o

[2021-07-05 07:45] serge-rider commented on #12298
This must be fixed along with column resolution in Redshift.

[2021-07-05 07:58] uslss commented on #13093
@doitsexy Could you provide a video of the issue?

[2021-07-05 08:01] uslss commented on #13092
thank you for the report

[2021-07-05 08:10] uslss commented on #13089
thank you for the report

[2021-07-05 08:15] frastr opened #13099 "Search on database navigator has change from "and" to "or" condition?"
With new version 21.1.2.202107041908 the search behavior of database navigator has changed?

Before this version. I could enter many words and i get only connections was includes all words.
With new version, it need only one word included.

For filter tables and so on, is it perfect, but not for filter connections in my opinon.

It would be nice if you could customize that.

Thank you in advance

[2021-07-05 08:18] uslss commented on #13086
thank you for the report
duplicates #5994

[2021-07-05 08:18] #13086 closed, assigned to nobody

[2021-07-05 08:46] uslss commented on #11959
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-07-05 08:46] #11959 closed, assigned to nobody

[2021-07-05 08:51] serge-rider commented on #12119
Presto may not support data edit for certain engines.
Generally it is no a DBeaver bug.

[2021-07-05 08:51] #12119 closed, assigned to nobody

[2021-07-05 08:52] uslss commented on #12619
there is no update on an issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-07-05 08:52] #12619 closed, assigned to nobody

[2021-07-05 09:40] tati-kru commented on #12608
Duplicate of #12889

[2021-07-05 09:40] #12608 closed, assigned to serge-rider

[2021-07-05 09:45] tati-kru commented on #12439
We need to disable or hide Auto-assign button for import tasks.

[2021-07-05 10:32] mipi21 commented on #11016
there is a problem for this issue?

[2021-07-05 12:05] flambchap commented on #13088
Duplicates https://github.com/dbeaver/dbeaver/issues/11841. Thank you for the report, anyway.

[2021-07-05 12:05] #13088 closed, assigned to nobody

[2021-07-05 13:55] Matvey16 opened #13102 "Incorrect syntax when Generate SQL > Insert/Update is used for composite type columns"
#### System information:
- DBeaver version 21.1.2

#### Connection specification:
- Database name and version Yugabyte SQL, PostgreSQL

#### Describe the problem you're observing:
1. When generating SQL Insert/Update statement for table with composite type, wrong type of brackets is generated.
2. Also value from `text` type sub column is not quoted.

#### Steps to reproduce, if exist:
1. Create a

[2021-07-05 14:57] serge-rider opened #13103 "Remember last open file location"
We need to remember folder location for File Open dialog (<kbd>ctrl+o</kbd>)

[2021-07-05 15:39] akilovich opened #13104 "Redesign confirmation dialog"
We need to redesign our confirmation dialog, i.e. the dialog that appears after `UIUtils.confirmAction()` invocation. The current one lacks some useful features, including the ability to set the default button.

[2021-07-05 15:44] KES777 commented on #12619
yes, I was asking about it.
But this feature is very minor, so it is ok to close

[2021-07-05 16:07] DariaMarkaryan opened #13105 "Menu bar - Window - show/close tabs bug"
#### System information:
- Win 10
- DBeaver CE 21.1.2

#### Describe the problem you're observing, steps to reproduce:
1. When you try to close application tabs through Window menu, it doesn't work right.
2. Reset Perspective doesn't reset icon highlighting

Steps:
1.
- You are in Database navigator tab, the items are in default state:
![image](https://user-images.githubusercontent.com/43252954/12

[2021-07-05 17:23] henriquemeira opened #13107 "Add NetBeans to Localization wiki page"
Here how to edit bundle.properties file in NetBeans IDE.

Just load de maven project, under Files tab, select any bundle file, click with right mouse button and select Open.

Se a screenshot sample attached.
![Screenshot_20210705_142053](https://user-images.githubusercontent.com/207619/124503711-802cfa00-dd9c-11eb-8ef5-4c30218bb63e.png)

[2021-07-05 17:32] gthbusr0 opened #13108 "auto completion for with clause (CTE) with alias"
System information:
Operating system (distribution) and version: windows 10 enterprise 10.0.18363
DBeaver version: DBeaver 21.1.1
Additional extensions: NONE
Connection specification:
Database name and version : oracle 11gr2
Driver name : default oracle driver bundled with s/w
Do you use tunnels or proxies (SSH, SOCKS, etc)? : no tunnels/proxies

#### Describe the problem you're observing:
Hello a

[2021-07-05 17:57] gthbusr0 opened #13109 "oracle 11gr2 line number for sql errors not visible - using default oracle driver"
System information:
Operating system (distribution) and version: windows 10 enterprise 10.0.18363
DBeaver version: DBeaver 21.1.1
Additional extensions: NONE
Connection specification:
Database name and version : oracle 11gr2
Driver name : default oracle driver bundled with s/w
Do you use tunnels or proxies (SSH, SOCKS, etc)? : no tunnels/proxies

#### Describe the problem you're observing:

hello

[2021-07-05 18:31] mioux commented on #9319
The solution proposed by @mk1tools worked until 21.1.2

I have to start it as administrator each time for this version

[2021-07-05 19:13] gthbusr0 opened #13110 "error browsing indexes oracle db 11gr2"
System information:
Operating system (distribution) and version: windows 10 enterprise 10.0.18363
DBeaver version: DBeaver 21.1.1.202106210824
Additional extensions: NONE
Connection specification:default driver
Database name and version : oracle 11gr2
Driver name : default oracle driver bundled with s/w
Do you use tunnels or proxies (SSH, SOCKS, etc)? : no tunnels/proxies

#### Describe the proble

[2021-07-05 19:36] JoaoPauloAntunes commented on #8319
Wow, good! Worked for me! (I'm on Arch Linux)

[2021-07-05 19:50] serge-rider commented on #13096
Fixed

[2021-07-05 20:23] LonwoLonwo commented on #6813
Hello @vrkadiyala
Did you uncheck "support multiple resultsets" in driver settings?

[2021-07-05 20:26] DariaMarkaryan commented on #13105
duplicate of #12754

[2021-07-05 20:26] #13105 closed, assigned to nobody

[2021-07-05 20:29] LonwoLonwo commented on #12335
Hello @ems2811
Can you please check the 21.1.2 version? https://dbeaver.io/

[2021-07-05 20:31] uslss commented on #11883
verified

[2021-07-05 20:31] #11883 closed, assigned to flambchap, uslss

[2021-07-05 20:39] uslss commented on #13083
verified

[2021-07-05 20:39] #13083 closed, assigned to uslss, ShadelessFox

[2021-07-05 20:45] uslss commented on #13110
thank you for the report.
Looks like duplicate of the #13025. Will be fixed in the scope of 21.1.3. [EA ](https://dbeaver.io/files/ea/)with fix will be available soon

[2021-07-05 20:45] #13110 closed, assigned to nobody

[2021-07-05 20:48] uslss commented on #13103
verified

[2021-07-05 20:48] #13103 closed, assigned to serge-rider, uslss

[2021-07-05 21:38] gthbusr0 commented on #13110
sorymybad...

On Mon, Jul 5, 2021 at 4:46 PM Dziyana ***@***.***> wrote:

[2021-07-05 21:46] afonsoalbrecht opened #13111 "relative line number"
I would be amazing to have the relative line number functionality. Relative to the cursor’s current position to show the distance to that line. The current line is marked 0, the ones above and below it are marked 1,2,3, and so on, exactly like in Vim.

[2021-07-05 23:09] p91paul commented on #13109
dbeaver usually puts the cursor at the place of the error instead

[2021-07-06 04:01] gthbusr0 opened #13112 "r-click results grid->filter ->customize filters--ability to select multiple columns at once to move up/down instead of selecting one-by-one & clicking move-up/-down"
**Is your feature request related to a problem? Please describe.**
it's time consuming to move columns one-by-one clicking move-up multiple times once for each col we'd like to move up to show these cols first in the results grid
**Describe the solution you'd like**
it saves time to enable multiple column selection to move fields up in the results grid ..shift-select-all-cols we'd like to move & j

[2021-07-06 06:03] jerateep opened #13113 "Switch Input Language in sql script program not response"
I use DBeaver 21.1.2 (Last version) found issue
use ~ switch language Thai to English in sql script program not response  (windows 10)
Now I downgrade use Version 21.0.1.202103211229 it works normally.

[2021-07-06 07:06] flambchap commented on #12164
Fixed.

[2021-07-06 07:31] luboA opened #13114 "mysqldump doesnt work for snap installation"
I have snap version of DBeaver 21.1.1 and when I want to create dump from mariaDB (local or remote) I get a error:

Utility 'mysqldump' not found in client home '/usr' (/usr)

I have also problem with installation on ubuntu through discover. You should to improve installation documenation for non skilled users or just update normal ubuntu repository (there is still version 7.x.x). I was able to in

[2021-07-06 07:34] Matvey16 commented on #13102
The same error in syntax when exporting composite columns as SQL script

[2021-07-06 08:18] uslss commented on #13113
@jerateep
unfortunately, cannot reproduce an issue. could you provide a video of it? Did you switch language using shortcut?

[2021-07-06 08:23] LuckyPickleZZ opened #13115 "I hope to integrate our own database into dbeaver. What should I pay attention to"
Hello author, now we hope to integrate into dbeaver like mysql, Clickhouse and other databases. What I need to pay attention to, such as coding style, etc. At present, I am developing the source code, but the development progress is slow, I hope to get some guidance.
And will you accept my pull request?
This is our official website link: https://www.oceanbase.com

[2021-07-06 08:31] serge-rider commented on #11533
![image](https://user-images.githubusercontent.com/6398845/124568586-bd9d9000-de4d-11eb-81d7-ad77e5118754.png)

[2021-07-06 08:40] uslss commented on #13096
still reproducible
![image](https://user-images.githubusercontent.com/31996417/124569857-00139c80-de4f-11eb-997b-98bba6dc42a3.png)

[2021-07-06 08:45] uslss commented on #12001
verified

[2021-07-06 08:45] #12001 closed, assigned to uslss, ShadelessFox

[2021-07-06 08:48] alesc2000 opened #13116 "Extract SQL from source code - OS inconsistency"
#### System information:
- Operating system (distribution) and version Linux Mint vs. Windows 10
- DBeaver version 21.1.2
- Additional extensions Office extention

#### Connection specification:
- Database name and version - PG 12
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When pasting SQL from source code, it behaves different

[2021-07-06 08:49] uslss commented on #12164
verified

[2021-07-06 08:49] #12164 closed, assigned to flambchap, uslss

[2021-07-06 08:57] uslss commented on #11423
verified

[2021-07-06 08:57] #11423 closed, assigned to uslss, ShadelessFox

[2021-07-06 08:58] flambchap commented on #12462
The problem is present only if we create new tables during the export.

[2021-07-06 09:31] serge-rider commented on #10897
Fixed.

The problem was caused by poor batch processing performance in MySQL driver. Parameter `rewriteBatchedStatements` set to true solves the problem.
We will set it to true by default in the next version.

[2021-07-06 10:07] itphonim opened #13117 "Add project name in editors' names"
Hi,
this is a feature request that i'd like to see, concerning the editors' name.
Would be great if we could put the name of the project in the name shown.
![image](https://user-images.githubusercontent.com/82998099/124582371-3f8fb800-de52-11eb-9207-a4e0de96bd97.png)
a new variable like ${projectName} for instance

[2021-07-06 10:22] stevieJ commented on #10852
Confirmation issue still exists on DBeaverEE 21.1 (2021-07-06)

* Windows 10
* Java (_bundled Java 11_)
* `dbeaver-ee-21.1.0-x86_64-setup.exe` installer
* Installed for **ALL** users
* `TERMINAL` plugin

Purge all DBeaver & Eclipse artifacts, clean install all OK, install `TERMINAL` from the Eclipse Install New Software ... infinite loop (_splash screen grabs focus, then crashes ... repeat c. 1/se

[2021-07-06 10:35] uslss commented on #13025
the fix can be checked in [EA version](https://dbeaver.io/files/ea/)

[2021-07-06 10:38] uslss commented on #13117
thank you for the suggestion.
closed as a duplicate of #6012

[2021-07-06 10:38] #13117 closed, assigned to nobody

[2021-07-06 10:42] uslss commented on #12534
implemented in the scope of #11533 .
Will be available in 21.1.3

[2021-07-06 10:42] #12534 closed, assigned to nobody

[2021-07-06 10:52] Matvey16 commented on #13079
Verified

[2021-07-06 10:52] #13079 closed, assigned to ShadelessFox, Matvey16

[2021-07-06 11:12] poltpolt opened #13118 "[ERD] Highlight selected FK and referenced tables with distinctive color on FK selection"
For the diagram to be more useful please add color marking for the highlighted foreign key
This way all connecting lines and all instances of the same key would be highlighted/(marked with color) and it would be  visible on the diagram.

[2021-07-06 12:26] cydonialis opened #13120 "Get column name of "Auto-generated SQL script" double quoted"
I want to manipulate a table, which is column name case sensitive and for some reasons that I can't disable case sensitive, So When I update a value and click **Save**, I got this:

 [errorCode=GS-00601, SQLState='28000', reason='errLine = 3, errColumn = 8, errMsg=Sql syntax error: invalid column name 'ID',

Then I check the **Auto-generated SQL script** by click **Script**. found that the column

[2021-07-06 13:34] Matvey16 commented on #10897
Verified

[2021-07-06 13:34] #10897 closed, assigned to serge-rider, Matvey16

[2021-07-06 13:45] flambchap commented on #12733
Fixed.

[2021-07-06 13:45] flambchap commented on #12095
Fixed.

[2021-07-06 13:49] flambchap commented on #11532
Implemented using the first approach. Now we show the prompt which asks for confirmation to delete the file. Despite the fact that `pg_dump` throws an error in this type of situations, I added the same prompt for PostgreSQL as well.

[2021-07-06 13:58] ComputingFroggy opened #13123 "calculate total row count"
#### System information:
- Windows 10
- DBeaver version : 21.1.2
- Additional extensions : none

#### Connection specification:
- MySQL 5.5.40
- JDBC
- no proxies

#### Describe the problem you're observing:
When clicking on the double green arrow ("calculate total row count ") nothing happens. We don't get the total row count.
This used to work in older versions.
In the previous version, the butt

[2021-07-06 14:37] lemon-juice commented on #11532
Sounds good, thanks!

[2021-07-06 16:33] uslss commented on #13123
@ComputingFroggy is there something in the [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-07-06 16:35] uslss commented on #13120
@hahacyd which database do you use?

[2021-07-06 17:59] ComputingFroggy commented on #13123
some requests (that runs OK) generates an error ... others not.

[2021-07-06 18:02] kkim5181 commented on #12929
@p91paul I set the same proxy for https as well and get the following error.
![image](https://user-images.githubusercontent.com/86247993/124646473-af0da380-de62-11eb-9fed-79c88cbfde67.png)

I uncheck the auto update.
Do you think it is because the auto update is set to disable?

[2021-07-06 18:04] rickdevops commented on #7521
that wasnt fix yet?

[2021-07-06 18:23] uslss commented on #12733
reopened.
Export isn't possible for now due to error
[code]

[2021-07-06 19:43] merlyn383 opened #13125 "Execute in SQL*Plus fails"
#### System information:
- Operating system (distribution) and version macOS 10.15.7
- DBeaver version DBeaver EE  21.1.0.202106090921
- Additional extensions

#### Connection specification:
- Database name and version Oracle Oracle Database 19c Enterprise Edition Release 19.0.0.0.0 - Production
- Driver name Oracle JDBC driver 12.2.0.1.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

####

[2021-07-06 22:30] p91paul commented on #12929
@kkim5181 nah, I think it's because proxy servers are a horrible technology that should die in a big fire :sob:

Yours is possibly trying to MITM https, breaking https connections while doing it.
You can still try setting proxy to "system" instead of manual, which should copy windows proxy settings.
Try also restarting dbeaver every time you change proxy settings.

[2021-07-07 00:48] shearerpmm commented on #13049
It looks like the association with DBeaver was a coincidence; I started seeing the same behavior in other applications after a couple days. I got some advice that still being on Catalina might be the issue. I upgraded to Big Sur and no problems so far with DBeaver 21.1.2.

[2021-07-07 00:48] #13049 closed, assigned to nobody

[2021-07-07 02:01] ahsandev2019 commented on #12441
now im use M1, i tried dbviewer everything is working but sometimes got some bugs and reinstall it using rosetta, but the UI so ugly, the text can't be focus, im use sequel ace right now, i hope dbviewer can release the M1 native or maybe the ui text not focus can be fixed
this is dbviewer text https://i.imgur.com/KzR0WRB.png
and this is sequel ace (native) https://i.imgur.com/axhLHli.png

i dont

[2021-07-07 03:05] deepaksenthilkumar commented on #10897
Looks like this fix is only for the originally reported issue with MySQL. Should I open a new issue for Redshift slowness?

[2021-07-07 04:38] cydonialis commented on #13120
Currently we are using [GaussDb](https://dbdb.io/db/gaussdb),A database derived from Postgres .
In addition, I find that when column name is not double quoted,the database server will think the destinated table is not column name sensitive, then the column names in the SQL are converted to uppercase, that's why the error message is:" invalid column name 'ID'",because "id" is transformed to "ID",

[2021-07-07 05:47] Matvey16 commented on #10897
@deepaksenthilkumar  Yes, It can either be a similar or a different issue, so it needs to be in another issue

[2021-07-07 06:16] Ra5CZ commented on #12527
In 21.1.2 still not work.
![Snímek obrazovky 2021-07-07 081550](https://user-images.githubusercontent.com/66022207/124709303-9bfae200-defb-11eb-9972-b15cb4510c30.png)

[2021-07-07 06:20] Ra5CZ commented on #12527
This is in 21.0.2
![Snímek obrazovky 2021-07-07 081951](https://user-images.githubusercontent.com/66022207/124709758-28a5a000-defc-11eb-8344-c685fb280714.png)

[2021-07-07 06:29] Matvey16 commented on #11532
Verified

[2021-07-07 06:29] #11532 closed, assigned to flambchap, Matvey16

[2021-07-07 06:37] Matvey16 commented on #11891
@yjd Have you tried reproducing on the latest 21.1.2 version?

[2021-07-07 06:57] Cye3s commented on #5230
Same error here, but work fine with Navicat 15 for PostgreSQL and pgAdmin4
![QQ截图20210707145256](https://user-images.githubusercontent.com/2126873/124713840-9f11c480-df33-11eb-9e8b-81339ff5b0ec.png)

[2021-07-07 07:00] Matvey16 commented on #13125
This bug is in the process of fixing right now.
https://github.com/dbeaver/dbeaver/pull/12854

[2021-07-07 07:03] Cye3s commented on #5230
Same error here, but work fine in Navicat 15 for PostgreSQL and pgAdmin4
![QQ截图20210707145256](https://user-images.githubusercontent.com/2126873/124714264-1fd0c080-df34-11eb-87c2-95a01e1f8de9.png)

[2021-07-07 07:14] yjd commented on #11891
Yes, I did test 21.1.2 the day it was released.
See the new ddl (example2.zip) , another scenario
@Matvey16

[2021-07-07 07:27] Matvey16 commented on #13037
Doesn't reproduce in my database. Can you please provide full query that leads to this error and a DDL for the table and composite data type you are using in this example?

[2021-07-07 07:40] flambchap commented on #12733
Fixed NPE.

[2021-07-07 07:42] cloud-66 opened #13127 "change default connection name to hostname"
When we create a new connection to the database server, the default connection name is database name
So, let's say in Oracle it is like SID it doesn't mean anything, doesn't do understanding on which server i connect. Or in postgresql i usually connect to postgres database.
Having many database server i connect on each server once, then I choose a specific database from top menu
**Describe the sol

[2021-07-07 07:54] Matvey16 commented on #13070
I can't reproduce it. Can you please provide more details about your query that leads to this, maybe there is something special in your query.

![7Fkpluz3oU](https://user-images.githubusercontent.com/82543000/124721230-960ffb80-df11-11eb-865f-ef26ef0cd3da.gif)

[2021-07-07 08:08] uslss commented on #13096
verified

[2021-07-07 08:08] #13096 closed, assigned to serge-rider, uslss

[2021-07-07 08:12] uslss commented on #12095
verified

[2021-07-07 08:12] #12095 closed, assigned to flambchap, uslss

[2021-07-07 08:15] uslss commented on #13125
@merlyn383 could you check if issue is fixed in [EA version](https://dbeaver.io/files/ea/)?

[2021-07-07 08:19] Matvey16 commented on #13075
Can you please provide steps to reproduce this issue. It is very unclear what exactly are you doing and in what order in this case.

[2021-07-07 08:19] uslss commented on #13050
#10149

[2021-07-07 08:22] uslss commented on #13123
could you tell what request fails? Error logs also will be helpful
it is needed for us to reproduce the issue to fix it.
thanks in advance

[2021-07-07 08:26] Matvey16 commented on #13090
Can't reproduce on FullHD display with any resolution setting.

[2021-07-07 08:28] ilmagowalter commented on #13075
steps:

1) open dbeaver
2) minimize dbeaver window
3) open cmd prompt
4) run "C:\Program Files\dbeaver\dbeaver.exe" -nl it -con "name=TEST|openConsole=true"

the issue is that the dbeaver windows remains minimized

maybe is possible create a parameter to choose to maximize the window or not

[2021-07-07 08:33] uslss commented on #13120
@hahacyd
seems Use case-sensetive names in DDL statements option should fix the issue. Could you check if it solves your issue?
![image](https://user-images.githubusercontent.com/31996417/124726988-f6ee0280-df16-11eb-81de-29dcf004a10f.png)

[2021-07-07 08:43] #13022 closed, assigned to nobody

[2021-07-07 08:50] pyrocks commented on #7777
Just wanted to update that - despite not sure what exactly fixed it - running on latest versions of dbeaver (21.*.*) and mac 11.3.1 and I no longer suffer from the "slow keypress response" I had so much trouble with in the past. fingers crossed it'll stay this way :) thanks.

[2021-07-07 09:00] uslss commented on #12993
seems something going wrong with mysql client. could you try to manually delete files from {user}\AppData\Roaming\DBeaverData\drivers\clients\mysql\win and try to start restore once again?

[2021-07-07 09:03] #12989 closed, assigned to nobody

[2021-07-07 09:19] uslss commented on #12606
will be fixed in the scope of #11843

[2021-07-07 09:19] #12606 closed, assigned to Matvey16

[2021-07-07 09:23] KES777 commented on #13037
https://github.com/dbeaver/dbeaver/issues/6228

[2021-07-07 09:24] KES777 commented on #13037
notice, at DBeaver v6 I did not meet such error, It appear after upgrading to v21

[2021-07-07 09:25] cydonialis commented on #13120
@uslss
I choosed this option and the error still occurs, for example, the **Auto-generated SQL script** still is:
![image](https://user-images.githubusercontent.com/23192880/124734373-9f1bbf80-df47-11eb-9f44-ed5b9f994d11.png)
The column names are not double quoted.
I wonder does there have an option which is "Use case-sensitive names in **DML** statements" 🤣 thus the column name will be double quo

[2021-07-07 09:29] KES777 commented on #4390
Then for copying purpose between database you should use interval value instead of display.

But If I use PostgreSQL connection and navigate database I expect to see native values instead of JDBC internals.

In any case `292278994-08-17 01:00:00` is not infinity and I am not sure that mysql count this value as `infinity`

Also you say that `native representation is just work around for this issue`

[2021-07-07 09:33] ced75 opened #13131 "PostgreSQL numeric values rounded up to 3 fractional digits"
#### System information:
- Operating system (distribution) and version : Linux Ubuntu 18.04
- DBeaver version : 21.1.2

#### Connection specification:
- Database name and version : PostgreSQL 12
- Driver name : postgresql jdbc driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No proxy, no SSH

#### Describe the problem you're observing:
Display of NUMERIC fields is limited to 3 digits, eve

[2021-07-07 09:40] Matvey16 commented on #13108
@iDeepMind Thank you for the report

[2021-07-07 10:29] flambchap commented on #11908
It turns out that DB2 is kind of tricky in that department, so I'm not implementing DB2 support in this ticket.

[2021-07-07 10:52] rokopi-byte commented on #11563
Hello.. problem still persist for me with version 21.1.2.. is there any update ?

[2021-07-07 10:56] Matvey16 commented on #13037
@KES777 There are a lot of information in #6228 and it is not clear which of it is connected to this issue.
If you can, please look at my example below and say what may be different there that leads to issue not reproducing.

![dbeaver_etrYU1Qi0o](https://user-images.githubusercontent.com/82543000/124747816-0aa36400-df2b-11eb-90c3-dba86a36b690.png)

[2021-07-07 10:56] uslss commented on #11533
1. Value cannot be set or changed
![2021-07-07_13h40_57](https://user-images.githubusercontent.com/31996417/124746273-59e89500-df29-11eb-8ab5-6f3503470e78.gif)
2. Variables with similar name could be created + if some variables were previously created - columns size changes at the new SQL editor tab, and fit screen after if new variable was created
![2021-07-07_13h46_14](https://user-images.github

[2021-07-07 11:00] rokopi-byte commented on #12455
Sorry for the late reply, I tried the above solutions, but problem persist. I also updated dBeaver to version 21.1.2

[2021-07-07 11:04] Matvey16 commented on #12733
Verified

[2021-07-07 11:04] #12733 closed, assigned to flambchap, Matvey16

[2021-07-07 11:10] uslss commented on #13131
unfortunately, cannot reproduce it.
![image](https://user-images.githubusercontent.com/31996417/124749383-d335b700-df2c-11eb-90ba-877ce3857854.png)

[2021-07-07 11:16] uslss commented on #9047
cannot reproduce it for now. if it is still actual - feel free to reopen an issue

[2021-07-07 11:16] #9047 closed

[2021-07-07 11:26] uslss commented on #12934
sorry for the long response.
thanks for the report

[2021-07-07 11:35] uslss commented on #12934
note: infinite loop appears in the special case.
1. Connect to hana - db is connected.
2. Try to connect to another connection (snowflake, postgresql) - authentication dialog appears.
3. Connection is not possible, authentication dialog appears both if valid credentials were entered or Cancel was pressed
![2021-07-07_14h31_14](https://user-images.githubusercontent.com/31996417/124752485-966bbf00-d

[2021-07-07 11:38] #12721 closed, assigned to nobody

[2021-07-07 11:39] uslss commented on #12522
cannot reproduce it against 21.1.2.
If it is still actual for you - feel free to reopen it.

[2021-07-07 11:39] #12522 closed, assigned to nobody

[2021-07-07 11:40] uslss commented on #12288
cannot reproduce it against 21.1.2. If it is still actual for you - feel free to reopen it

[2021-07-07 11:40] #12288 closed, assigned to nobody

[2021-07-07 12:09] ced75 commented on #13131
So, it could be related to the language and country parameters.
Mine are fr - français for language and FR - France for country.

[2021-07-07 12:13] ced75 commented on #13131
If I disable numeric formatting, the result is correctly displayed.

[2021-07-07 12:53] merlyn383 commented on #13125
Current EA version (2021-07-06 09:56:28) for macOS fails to open. OS claims it is damaged.

[2021-07-07 13:15] ComputingFroggy commented on #13123
I will try and get a request that fails ... that you can reproduce (I can not send you my tables ;-) ! )

[2021-07-07 13:42] flambchap commented on #11767
Hi @Jrmy003. I've just successfully imported the CSV file you provided using the latest version of DBeaver. Moreover, the length of the integer field was set to 8. Can you confirm that the problem is gone? Thanks.

[2021-07-07 13:52] sravikrishna3 opened #13133 "Redshift external table columns read problem"
#### System information:
- Operating system (distribution) and version : Mac OS bigsur
- DBeaver version  CE 21.1.2
- Additional extensions

#### Connection specification:
- Database name and version : Redshift
- Driver name JDBC4.2 (from AWS)
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:

We use spectrum with redshift.  Spectrum allows us to r

[2021-07-07 16:47] schmitzkr opened #13134 "NoClassDefFoundError: javax/xml/bind/DatatypeConverter when connecting to MSSQL"
#### System information:
- Operating system (distribution) and version  Ubuntu 21.04
- DBeaver version: Version 21.1.2.202107050534
- Additional extensions

#### Connection specification:
- Database name and version: MSSQL 14.0.3381.3
- Driver name sqljdbc42.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
I cannot connect to MSSQL using sqljdb

[2021-07-07 18:07] cesarmansur commented on #5931
WA:
1) Restore DBeaver default key binding.
2) Download and install "Karabiner-Elements" (https://karabiner-elements.pqrs.org/).
3) Run "Karabiner-Elements", go to "Complex modifications" > "Add rule"> "Import more rules from the Internet".
4) Import "Windows shortcuts on macOS".
5) Back to "Karabiner-Elements", enable imported "Home" and "End" rules (and other rules you may desire).
6) Open DBeav

[2021-07-07 18:44] schmitzkr commented on #13134
my apologies, I had the wrong connection parameters.  this is a non-issue.

[2021-07-07 18:44] #13134 closed

[2021-07-07 19:28] niraj8241 opened #13135 "Redshift Data Sharing Not Visible in Database Navigator"
Redshift has enabled data-sharing as a feature to share data across clusters. Currently, dbeaver does not show data sharing under the database navigator as all the other schemas/tables do.
https://docs.aws.amazon.com/redshift/latest/dg/datashare-overview.html

There are tools like Aginity Pro that provide this feature. Here is how it looks like https://www.aginity.com/blog/how-to-use-amazon-redshi

[2021-07-08 04:42] petr-hybler opened #13138 "After upgrade to 21.1.2.202107041908 the dash icon disappears and it's nowhere to be found except directly calling dbeaver-ce from the cli"
#### System information:
- Ubuntu 20.04.2 LTS 64-bit, GNOME 3.36.8
- 21.1.2.202107041908
- no extensions

#### Connection specification:
- there is no problem with any DB connection

#### Describe the problem you're observing:
After an overnight update in snap tonight the icon in the dash disappeared and I can't seem to find it in the applications list neither. The only way I can run it is via cli

[2021-07-08 06:48] Matvey16 commented on #10149
@Zbambus Currently planned for 21.2.1

[2021-07-08 06:53] Matvey16 commented on #12929
@kkim5181 This seems to be pretty specific to a proxy that is used at your workplace. If editing https has not worked, I think you should contact your system administrator to try resolving that problem (he probably knows a lot more about specifics of your proxy than us)

[2021-07-08 06:53] #12929 closed, assigned to nobody

[2021-07-08 06:56] Matvey16 commented on #13037
Also please attach a log that accompanies this issue

[2021-07-08 07:01] #13050 closed, assigned to nobody

[2021-07-08 07:06] mpasquini commented on #8756
I vote,
Not all knows about this PostgreSQL feature, the PGSERVICEFILE, that in conjunction with a personal PGPASSFILE is total win.
In many cases you need to connect to tens or hundred of databases and also you have to share with other developers.
..As described in first comment: https://github.com/dbeaver/dbeaver/issues/8756#issue-622011159

So that you can say to your colleagues 'set "service=d

[2021-07-08 07:11] Matvey16 commented on #13076
We need to add a configuration options for advanced paste feature

[2021-07-08 07:15] Matvey16 commented on #13090
@lyh061619 I see that the font in those broken fields appear to be unusually bold. Did you change any font settings? Also please can you verify the zoom options in your display settings?

[2021-07-08 07:21] Matvey16 commented on #13091
@HoonK212 Thank you for the report. Can you attach the query that is executed (can be seen in query manager) when you perform data export.

![dbeaver_uKZz3kuZIL](https://user-images.githubusercontent.com/82543000/124879769-3f202a00-dfd6-11eb-986b-07e20e9f23fe.png)

![L8rXwgdTq5](https://user-images.githubusercontent.com/82543000/124879792-45160b00-dfd6-11eb-9938-4d97e9245755.png)

[2021-07-08 07:24] Matvey16 commented on #13094
@williambuchanan2 This feature is highly demanded even by people in our team, but for now we are restricted in it's implementation by Eclipse platform. We will look what can be done in the future.

[2021-07-08 07:27] Matvey16 commented on #13099
For now it works as intended, but we will add an option to switch between "or" and "and" in the future.

[2021-07-08 07:29] #13109 closed, assigned to nobody

[2021-07-08 07:32] Matvey16 commented on #13112
@iDeepMind  Thank for the suggestion, we will implement it.

[2021-07-08 07:42] Matvey16 commented on #13115
@LuckyPickleZZ Hello. Don't be afraid of pull request. You can read advices for development in our wiki. Also to get some ideas you can review code in files for other databases e.g. `org.jkiss.dbeaver.ext.test` or `org.jkiss.dbeaver.ext.clickhouse`

[2021-07-08 07:44] Matvey16 commented on #13116
@alesc2000  Thank you for the report, we will fix it.

[2021-07-08 07:54] LuckyPickleZZ commented on #13115
@Matvey16 I'm very appreciate for your reply. Next week I'm going to launch a discussion and upload our plan document.

[2021-07-08 07:54] #13115 closed, assigned to nobody

[2021-07-08 08:04] lukaseder opened #13141 "Parser is slow when parsing H2 query"
#### System information:
- Operating system (distribution) and version: Microsoft Windows [Version 10.0.19042.1052]
- DBeaver version: Version 21.1.1.202106210824

#### Connection specification:
- Database name and version: H2 1.4.200
- Driver name: org.h2.Driver

#### Describe the problem you're observing:

The UI freezes for a short time when running a query.

#### Steps to reproduce, if exist:

[2021-07-08 08:05] lukaseder commented on #13141
The problem doesn't appear if I remove the `COALESCE()` expression:

[code]

[2021-07-08 08:07] domidimi commented on #8219
Try the unstable version of Vrapper

[2021-07-08 08:14] uslss commented on #13030
thanks for the suggestion

[2021-07-08 08:20] uslss commented on #13074
You could use connection ID instead.
It could be found in connection properties (Main Menu: Window - Show View - Other - Properties)
![image](https://user-images.githubusercontent.com/31996417/124888103-77c40180-dfde-11eb-8628-960893202046.png)

[2021-07-08 08:22] uslss commented on #13133
@sravikrishna3
Could you check if enabling Read all data types option in connection properties resolves the problem?
![image](https://user-images.githubusercontent.com/31996417/124888452-c96c8c00-dfde-11eb-9567-551548bf9437.png)

[2021-07-08 08:28] uslss commented on #13135
Seems it is already implemented in EE version. You could check it with [a trial version.](https://dbeaver.com/download/enterprise/)

[2021-07-08 08:35] ilmagowalter commented on #13074
Thank you... this work!

example:

"C:\Program Files\dbeaver\dbeaver.exe" -nl it -con "id=oracle_thin-178639d9c76-a87d30287a0a007|openConsole=true"

[2021-07-08 08:35] #13074 closed, assigned to nobody

[2021-07-08 08:41] uslss commented on #13138
thank you for the report

[2021-07-08 08:54] ems2811 commented on #12335
Hello @LonwoLonwo .
Problem reproduces in 21.1.2. Example below doesn't work
[code]
But if i add alias to table in from or write inner join - autompletion works
[code]

[2021-07-08 09:01] alesc2000 commented on #13116
Hi, I found a workaround. There is a setting in General / Workspace: "New text file line delimiter" which can be set to Unix for Win environment. A general fix for removing multiple empty lines when pasting from source code would be great though.
Thanks.

[2021-07-08 09:11] vrkadiyala commented on #6813
Hi,

After disabling the above one in driver settings, it is working fine. However, I find another issue.

I generally use upper case when I write my SQL statements. Dbeaver names the alias for the table used in the query in a lower case by default, but, it does not get me the list of columns from the table when I type alias name in upper case.

for example:

SELECT * FROM EMPLOYEE e;

In this cas

[2021-07-08 09:12] alesc2000 opened #13142 "Lock Manager table layout on Linux"
#### System information:
- Operating system (distribution) and version Linux mint
- DBeaver version 21.1.2
- Additional extensions Office

#### Connection specification:
- Database name and version PG12
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
On Lock manager table, the rows height is expanded when the statements contain new line characters

[2021-07-08 09:24] riednyko commented on #13138
Fixed. Try to update dbeaver-ce snap package.

[2021-07-08 09:24] #13138 closed, assigned to riednyko

[2021-07-08 09:45] sravikrishna3 commented on #13133
No, it made no difference.

<img width="1280" alt="Screen Shot 2021-07-08 at 5 43 21 AM" src="https://user-images.githubusercontent.com/44801660/124901027-a4145980-dfaf-11eb-9344-76e849b229de.png">

<img width="1280" alt="Screen Shot 2021-07-08 at 5 41 42 AM" src="https://user-images.githubusercontent.com/44801660/124901062-aaa2d100-dfaf-11eb-8152-e6cbf85b6e8a.png">

[2021-07-08 11:34] ugurbor commented on #13025
I still have the issue on the EA Version 21.1.2.202107060947 (Linux DEB)

[2021-07-08 11:42] serge-rider commented on #12749
It doesn't work for auth profiles because most variables (like datasource properties) are not available for profiles.

[2021-07-08 11:53] flambchap commented on #12439
Added message when auto-assign failed. Also fixed the handling of databases without catalogs and schemas such as SQLite.

[2021-07-08 12:07] uslss commented on #13025
@ugurbor cannot reproduce it against 11g. which oracle version do you use?

[2021-07-08 12:18] ugurbor commented on #13025
From the `SELECT * FROM v$version`
`Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit Production`

These are the libraries from the connection properties. Don't really know if it matters: https://i.gyazo.com/fc1f53ed13c31db9c9c63257c39712cb.png

[2021-07-08 12:45] Matvey16 commented on #13125
@merlyn383 You can try now, the latest version has been rebuilt

[2021-07-08 12:52] Matvey16 commented on #12439
Verified

[2021-07-08 12:52] #12439 closed, assigned to flambchap, Matvey16

[2021-07-08 12:59] merlyn383 commented on #13125
Confirmed working in EA version!

(Side note in case anyone trying to run the EA version finds this thread: trying to just run the EA version normally fails in macOS. You need to disable GateKeeper for the downloaded app:
`xattr -dr com.apple.quarantine ~/Downloads/DBeaver.app` (Replace path with your own if needed, but odds are it's just sitting in your Downloads folder.)

[2021-07-08 13:04] michaelbv commented on #13025
Same here when opening the Indexes node .
flyway 21.1.2.202107060947

[2021-07-08 13:29] #13125 closed, assigned to nobody

[2021-07-08 13:34] flambchap commented on #13141
Hi Lukas. This looks like a performance issue in the @JSQLParser library. I'll create a ticket on their issue tracker. Thanks for the report.

[2021-07-08 13:53] Matvey16 opened #13144 "Execute in SQL*Plus tool doesn't pick up a role from connection settings"
#### System information:
- DBeaver version 21.1.2

#### Connection specification:
- Database name and version Oracle 12
- SSH

#### Describe the problem you're observing:
Executing a script in SQL\*Plus for a connection with SYSDBA role leads to an error because the command passed to SQL*Plus doesn't include `AS SYSDBA`

#### Steps to reproduce, if exist:
1. Create an Oracle connection with SYSDBA

[2021-07-08 13:53] serge-rider opened #13145 "Double icons on Ubuntu"
In some cases DBeaver icon is shown twice in ubuntu taskbar. This is probably caused by errors in desktop file or in Eclipse config.

We need to find a way to resolve it.

[2021-07-08 14:00] luanmateuz commented on #13114
I guess DBeaver has this bug in snap version. Change to .deb version that will work. To find the driver run in the terminal

[code]

This worked for me, good luck!

[2021-07-08 14:00] kseniiaguzeeva opened #13146 "Metadata Editor objects remain in English after switching language to Italian, French, Korean"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.1.2

#### Steps to reproduce, if exist:
Switch User interface on Italian, French or Korean

**Expected:** whole application is translated
**Actual result:** metadata editor objects remain in English
![Screenshot 2021-07-08 at 16 58 30](https://user-images.githubusercontent.com/51405061/124935002-ea98a10

[2021-07-08 14:03] diracsol commented on #7813
Issue remains. I got this error message "pg_restore: error: found unexpected block ID (939559745) when reading data -- expected 4600". Any fix??

[2021-07-08 14:10] icegood commented on #13029
re-installed. Same effect. i'm installing from repo
https://launchpad.net/~serge-rider/+archive/ubuntu/dbeaver-ce
with 'hirsute' ubuntu

[2021-07-08 14:11] flambchap commented on #7813
The fix is scheduled for the next release.

[2021-07-08 14:18] icegood commented on #13029
The issue is localized. Tried to install directly from
 https://dbeaver.io/ - everything works fine, while from repo above doesn't work. Is repo above your repo?

[2021-07-08 14:29] seelipraneeth opened #13147 "Restore Database"
I have taken Production (Postgres)backup using DBeaver Version 7.3.5.202102151746. and restore using my Local DBeaver (same version). after that im not able to save any data in any table.

[2021-07-08 14:34] YuriDude opened #13148 "Degree of Connectivity"
Can you please add an option to "increase" degree of connectivity when ERD is generated for a table?
Currently I see only nearest "neighbors" are generated in ERD when a table is viewed (1st degree of relationship).
It would be very helpful to see tables that are further on the ERD graph (e.g 2nd degree, 3rd degree).
However, please leave default behavior as it is now, and have an option of extra

[2021-07-08 14:54] flambchap commented on #13146
Unfortunately, this is somewhat expected since we don't have translations for those objects into the aforementioned languages. There is nothing we can do at the moment. We'll fix that when we'll change our approach to localization.

[2021-07-08 14:54] #13146 closed, assigned to nobody

[2021-07-08 15:29] petr-hybler commented on #13138
nice, it works great now again :) awesome support guys !!! thank you

[2021-07-08 17:44] YuriDude opened #13149 "Code folding!"
Can you please add "Code folding" functionality when DB stored procedures are viewed/created?
It seems have become a standard for any modern code editor ;-)

Version in-use: 21.1.0
Missing feature checked against: MS SQL , Oracle.

[2021-07-08 18:11] niraj8241 commented on #13135
@uslss I can confirm that i see the sharing in EE. Will this ever be a community edition feature?

[2021-07-08 18:31] Pranithaevana opened #13150 "Check for update option is throwing as "Perhaps the network connection is down?" in DBeaver Community 21.0.2 & 21.1.2"
We are trying to deploy DBeaver Community 21.1,2  firm wide. I could see the attached error when i click on "Help" -> "check for updates"

error for DBeaver

It should ideally say that there are no updates when we click on check for updates as it displays for DBeaver 21.
DBeaver previous verion
Attaching the screenshots of all the 3 versions
![Dbeaver 21 1 2](https://user-images.githubusercontent.

[2021-07-08 20:14] Chealer commented on #7709
So, to clarify, it is possible to create stored procedures using DBeaver's GUI; however, one needs to use "Create Function" to achieve that. I am far from mastering PostgreSQL and stored procedures, but given that starting from PostgreSQL 11 stored procedures have a specific syntax (CREATE [ OR REPLACE ] PROCEDURE), my impression is that stored procedures should no longer be considered functions,

[2021-07-08 23:42] skotlex commented on #13025
Me too.
`Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit Production`
DBeaver version `21.1.2.202107060947`

[2021-07-09 01:13] manticore-projects commented on #13141
Hi Lukas and DBeaver Team.

The problem is not about the `Coalesce`, but about the Aggregate Function Parameters `json_array("v0") order by "t"."v0"`.
It triggers a deep nested Lookahead in the generated parser, which amplifies itself.

I will take your example and try to find a way to limit the Lookahead.

Cheers

[2021-07-09 01:26] manticore-projects commented on #13141
Apologies for asking: How slow is *too slow*?
I have tested Lukas' particular query and it gets parsed and de-parsed within 0.14 seconds (using the latest JSQLParser 4.2-Snapshot):

![image](https://user-images.githubusercontent.com/18080123/125009709-47886b80-e08f-11eb-9fde-06ae396bc7a8.png)

[2021-07-09 01:51] manticore-projects commented on #13141
The problem is the `null on null` which is simply not support by JSQLParser. Right now JSQLParser supports only a limited set of Aggregate Functions with focus on Oracle. I actually opened issue [1183 Parser fails on H2 Ordered Aggregate Functions](https://github.com/JSQLParser/JSqlParser/issues/1183) in April.

Without this unsupported clause, the query parses just fine:
![image](https://user-ima

[2021-07-09 01:56] manticore-projects commented on #13141
Suggested To-Do's:

1) JSQLParser team will look into better support of H2 ORDERED AGGREGATES
2) DBeaver team: maybe wrap your calls to JSQLParser into a separate thread, monitored by a timer task which will stop the thread after an acceptable timeout (e. g. 2 seconds). I have done a similar thing with JSQLFormatter.

[2021-07-09 02:42] skotlex opened #13151 "Auto-complete doesn't work for table aliases in some cases"
#### System information:
- Operating system (distribution) and version `Windows10`
- DBeaver version `21.1.2.20210706094`
- Additional extensions

#### Connection specification:
- Database name and version `Oracle Enterprise Edition 11.2.0.4.0`
- Driver name `Oracle`
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

[2021-07-09 03:16] yexinfo commented on #13025
Me too.
Oracle version:
Oracle Database 10g Enterprise Edition Release 10.2.0.1.0 - Prod
AND
Oracle Database 11g Enterprise Edition Release 11.2.0.1.0 - 64bit Production
All the same problem when opening the Indexes and DDL node.
DBeaver version: 21.1.2.202107060947

[2021-07-09 05:51] lukaseder commented on #13141
This is standard SQL syntax, also implemented by Oracle, of course, there are always subtle differences...

In a deleted (edited?) comment, you asked how slow it is for me. The profiling session measured 3 executions. One execution takes about 4 seconds on my machine.

[2021-07-09 05:59] manticore-projects commented on #13141
Seems to be supported by Oracle since 12 (my mind is still stuck with Oracle 11).
Although the main issue is: not supported in JSQLParser yet, but I will implement it for you.

Apologies for that, I was confused between the 2 reported issues and the 4 provided queries.
Since then the issue is clear: `null on null` is not supported and leads the parser onto a wrong trail, which takes very long (5 s

[2021-07-09 06:53] flambchap opened #13152 "Enable Folding on package editor for Oracle"
### Discussed in https://github.com/dbeaver/dbeaver/discussions/13137

<div type='discussions-op-text'>

<sup>Originally posted by **AlexuLag** July  8, 2021</sup>
Hi, great job with DBeaver for oracle, I been using this tool the last year and is an amazing alternative for oracle sqldeveloper and Toad, I want to ask you if there is any plan for adding support to folding and unfolding  code , and b

[2021-07-09 06:55] flambchap commented on #13149
Hi. Thank you for your idea. We are going to implement that in the scope of https://github.com/dbeaver/dbeaver/issues/13152.

[2021-07-09 06:55] #13149 closed, assigned to nobody

[2021-07-09 07:37] medvejonok79 opened #13153 "update to version 21.1.2 means DB/2 AS400 tables "description" column is empty"
Hi there,

I upgraded from version 21.1.0 to 21.1.2 yesterday (running on Windows 10 Professional version 21H1).
I have been using the DB2 AS400 connector. A very useful feature is the "description" column when you are looking at database or table structures. This gives more information on particular columns or table names.
Following the upgrade, the "description" columns became empty. It looks li

[2021-07-09 07:56] Matvey16 commented on #13153
@medvejonok79 Hello. Regarding DB2 AS 400 connector, we changed one of the properties to default value in 21.1.2. Can you check the value of `metadata source` property. It was set as `0` in 21.1.0 and changed to `-1` in 21.1.2. You can try manually adjusting it to `0` and see if it helps.

![dbeaver_9maCVJF3m2](https://user-images.githubusercontent.com/82543000/125044026-3ac24280-e0a4-11eb-81c8-66

[2021-07-09 08:10] Matvey16 commented on #13150
@Pranithaevana Hello. Can you specify some details about your network? Particularly if you use proxy.

[2021-07-09 08:12] medvejonok79 commented on #13153
Hi - thank you very much;
I will test and report back but this will have to be later in the summer as I am currently not in the place where I can access the database & do the test

[2021-07-09 08:16] uslss commented on #13025
seems something going wrong with previous EA. Should be fixed in current EA version (Version 21.1.3.202107081153)

[2021-07-09 08:26] yexinfo commented on #13025
I tested it and found it to be fixed. I'm not reporting any more bugs here, thanks!

[2021-07-09 08:29] alesc2000 opened #13154 "Session manager not refreshing correctly on Postgres"
#### System information:
- Operating system (distribution) and version Linux Mint and Windows
- DBeaver version 21.1.2
- Additional extensions Office

#### Connection specification:
- Database name and version Postgres 9.6, Postgres 12
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Session manager list not refreshing correctly. New

[2021-07-09 08:44] Matvey16 commented on #13151
Thank you for the report. We will look into it. This issue is not specific to Oracle.

[2021-07-09 08:50] uslss commented on #5580
#7768

[2021-07-09 08:51] uslss commented on #13151
#7768

[2021-07-09 09:40] serge-rider commented on #11533
Fixed

[2021-07-09 10:07] Matvey16 commented on #11908
Can't start export in SQL Server because of an error

![dbeaver_3uXM6w4vVl](https://user-images.githubusercontent.com/82543000/125061980-939ad680-e0b6-11eb-8d6b-8e1ab7130eb4.png)

[2021-07-09 10:26] ugurbor commented on #13025
I can confirm Version 21.1.3.202107081153 fixes the issue for me as well. Thanks.

[2021-07-09 10:28] flambchap commented on #11062
Hi @BobJMW. In the target table DDL you provided, the `id` column is marked as `NOT NULL`. Since there is no corresponding column in the CSV file, data transfer fails, which is to be expected. If we delete the `NOT NULL` clause from the DDL, DT runs successfully. I believe there is no bug here.

[2021-07-09 10:28] #11062 closed, assigned to flambchap

[2021-07-09 10:45] flambchap commented on #11767
Never mind, successfully reproduced. Working on it.

[2021-07-09 10:46] xunxky opened #13157 "Choose SQL Script for ALL Datasources"
#### **Is your feature request related to a problem? Please describe.**
I am quite frustrated when i want to open a script in one datasource and can't because it was "associated" with another datasource.
This feature is highly unintuitive and it only poses a disadvantage to me.

#### **Describe the solution you'd like**
However to NOT have to interfere too much with the inner workings of  DBeaver

[2021-07-09 11:14] #13025 closed, assigned to uslss, ShadelessFox

[2021-07-09 11:51] aditya-rewari commented on #7521
I tried above mentioned steps.. didn't help though
So I just went the command line way
Sharing commands for MYSQL

**Create dump**
`mysqldump -u [username] -p -h [host] [databasename] > [dumpfile.sql]`

**Import Dump data**
`mysqldump -u [username] -p -h [host] [databasename] < [dumpfile.sql]`

**Import Dump data at localhost**
`mysqldump -u [username] -p [databasename] < [dumpfile.sql]`

PS: I se

[2021-07-09 11:57] KOLANICH commented on #12324
I have figured that out. It was my fault, dolt by default allows 1 connection, and additional connections are just hanged. It is documented in the FAQ. It seems DBeaver uses more than 1 connection. When I have set them to 4 it was enough.

[2021-07-09 11:57] #12324 closed, assigned to nobody

[2021-07-09 13:31] Matvey16 commented on #13147
Do you get any error when trying to save data? Please post error log to see what happens when you try to save data.

[2021-07-09 14:06] amoradell commented on #13025
It's ok for me in Oracle Database 11g Release 11.2.0.1.0 - 64bit Production. Thanks.

[2021-07-09 14:08] etiennecaldichouryatnapta commented on #9107
Very interested also :)

[2021-07-09 15:06] ddumas30 opened #13158 "Support for Snowflake PARSE_JSON() function"
The PARSE_JSON() function in Snowflake is a pretty basic requirement.  When I run code that uses it, dbeaver pops up a window to enter data.   When I choose to ignore, it does not return any data.  The regular snowflake (web ui tool) works fine with this.

Dave

[2021-07-09 15:51] YuriDude commented on #13152
Perhaps you could implement some (or ALL!) features from THE BEST PLSQL tool:
https://www.allroundautomations.com/products/pl-sql-developer/features/

[2021-07-09 16:05] flambchap commented on #11908
Fixed that one.

[2021-07-09 16:08] YuriDude opened #13160 "SQL Query sources"
**Is your feature request related to a problem? Please describe.**
To expedite query analysis.

**Describe the solution you'd like**
I would like to have a context menu item for the SQL screen or alternatively when a SQL query is highlighted and that menu item (lets call it Query Sources) upon invocation will show small modal window _(window that takes control over, "grabs" the cursor")_  with the

[2021-07-09 16:12] rrousselot opened #13161 "Issue Rendering EPSG:2163 in Value Map"
#### System information:
- Operating system (distribution) and version - Windows 10 Version 10.0.19041.1083
- DBeaver version - Version 21.1.2.202107041908
- Additional extensions -

#### Connection specification:
- Database name and version - PostgreSQL
- Driver name - org.postgresql:postgresql:RELEASE 42.2.5, net.postgis:postgis-jdbc:RELEASE 2.2.1, net.postgis:postgis-geometry:RELEASE 2.5.0
- Do

[2021-07-09 17:30] Zbambus commented on #10149
Thanks for the update, and looking forward to be able to download and use the new releases of dBeaver as they are made available.

[2021-07-09 20:02] PisitsunT opened #13162 "program get crash when type statement in other keyboard layout"
#### System information:
- Windows 11 x64
- DBeaver 21.1.2
- Additional extensions SSHJ

#### Connection specification:
- Database name and version : PostgreSQL 12, Oracle 11
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : SSL

#### Describe the problem you're observing:
When i use thai keyboard layout (forgot to change to US) and hit ALT+8 for * then the program get crash (no m

[2021-07-09 20:20] IT-Tool commented on #12072
@dddeveloperrr
As a temporary solution, you can try to run app without installation from this archive (I checked, it works and runs on Manjaro XFCE).

1. Download the archive https://dbeaver.io/files/dbeaver-ce-latest-linux.gtk.x86_64.tar.gz
2. Right-click on the downloaded archive and choose "Extract here"
3. Run the "dbeaver file" in the unpacked folder through the terminal (in my case just inse

[2021-07-09 20:46] sravikrishna3 commented on #13133
Again, enabling Read all Data Types did NOT fix the issue.

[2021-07-10 08:15] dkfellows opened #13163 "NPE when opening SQL editor view"
#### System information:
- macOS 11.4
- DBeaver 21.1.2.202107041908

#### Connection specification (probably unimportant here):
- SQLite 3.35 (I think)
- The Xerial one

#### Describe the problem you're observing:
A `NullPointerException` when opening an `.sql` file containing `CREATE TABLE` and `INSERT` calls. What I'd like to see is the view _not crash._

<img width="545" alt="Screenshot 2021-07

[2021-07-10 13:26] lukaseder commented on #13141
For the record, the motivation for using this particular syntax is:

1. It works
2. The much preferrable alternative doesn't work: https://github.com/h2database/h2database/issues/2496

[2021-07-10 14:15] manticore-projects commented on #13141
No worries, am almost done. Will send you a version for testing tomorrow.

[2021-07-10 16:09] flambchap commented on #13162
Hi @PisitsunT. Thank you for the report.

[2021-07-10 16:12] flambchap commented on #13162
@ShadelessFox I'm assigning you since my short investigation shows that the problem lies somewhere around our SQLRuleScanner. It consumes 100% CPU and blocks UI thread.

[2021-07-10 16:40] flambchap commented on #13163
Hi. Thank you for the report. I've already created a pull request with a fix. At the same time, I have a suspicion that resetting the workspace and a plain old reinstall of the program might be a suitable workaround for the time being. Could you please try that and tell me if it helps? Thank you.

[2021-07-11 03:40] chapmanjacobd commented on #4901
Yeah it seems like the Generate UUID option only generates the same UUID for all rows as well in v21.1.0

[2021-07-11 04:02] manticore-projects commented on #13141
@lukaseder Please checkout the [Unit Tests](https://github.com/JSQLParser/JSqlParser/pull/1263/files#diff-995aab0104f5544409a817da445a9e75296924cbd9e124fae4c6d61d7af20da1) and let me know if anything was missing.

I do not use such syntax myself and have no practical experience with these functions.

[2021-07-11 04:25] manticore-projects commented on #13141
@lukaseder Sorry, more questions:
[code]
would both result in an empty array `[]`

But
[code]
would result in an array `[null]`

Does that match your expectation? If so, why
[code]

[2021-07-11 07:34] TXYH1 commented on #1959
I have a similar error when loading table columns. The error message is as follows.
`Code: 47, e.displayText() = DB::Exception: Unknown identifier: comment, e.what() = DB::Exception`

When I changed the jdbc driver to 0.1.55, it was fixed

[2021-07-11 11:39] ghost commented on #2908
Hi,
is this issue still available?
If yes, I would give it a try. I checked this issue with an Postgres Database. In this case there is an opportunity to create a merge statement.
Maybe someone missed it to close the issue.

[2021-07-11 17:40] lukaseder commented on #13141
Yes, but `json_array()` does not yet work in 1.4.200 because of https://github.com/h2database/h2database/issues/2496. The issue has been fixed, but the fix has not yet been released.

`json_array(null)` would also produce an empty array, because `absent on null` is implied, and so would `json_array(null absent on null)`

I'm not sure what the question is, here...

[2021-07-11 20:40] rpgdev commented on #2201
I find that I still have to do the manual Invalidate/reconnect using version 21.0.1. This usually happens when I enable a vpn connection with an already established connection inside dbeaver. DBeaver just disconnects and doesn't reconnect back on its own, I have to do the manual invalidate/reconnect. Below are my settings, it was enabled by default in my version of dbeaver.
![image](https://user-i

[2021-07-12 00:05] manticore-projects commented on #13141
Thank you for the explanation, I did not comprehend that you were bound to H2-1.4.200 which did not support `json_array()` without an argument yet. I think I got it now and the PR supports all these use cases.

[2021-07-12 06:04] zmartell commented on #11585
That looks like a very different issue than mine. They have fixed my issue.

[2021-07-12 06:35] louis-hoang21 commented on #12441
I don’t know how much time I have to wait. DBeaver via rosetta IS working on M1 very badly. I hope the next released BD will work well on M1

[2021-07-12 07:05] Matvey16 commented on #13154
@alesc2000 Thank you for the report

[2021-07-12 08:12] LonwoLonwo commented on #12335
Thanks for clarifying @ems2811
I will reopen this ticket.

[2021-07-12 08:22] LonwoLonwo commented on #6813
So, I think there is no problem with data fetch in Teradata now and I'm closing this ticket.
If the problem appears again feel free to reopen the ticket.

[2021-07-12 08:24] LonwoLonwo commented on #6813
@vrkadiyala Can't reproduce the autocompletion issue, unfortunately.

![2021-07-12 11_17_40-](https://user-images.githubusercontent.com/45152336/125254908-976f6880-e303-11eb-84c5-c00a8a3380ce.png)

![2021-07-12 11_18_39-](https://user-images.githubusercontent.com/45152336/125254911-976f6880-e303-11eb-92f6-45000bf1a22b.png)

![2021-07-12 11_19_15-DBeaver 21 1 3 - _localhost 3_ Script-22](https://us

[2021-07-12 08:24] #6813 closed

[2021-07-12 08:29] flambchap commented on #13163
Merged.

[2021-07-12 08:30] flambchap commented on #11229
Fixed.

[2021-07-12 08:33] flambchap commented on #12525
Fixed.

[2021-07-12 08:42] Matvey16 commented on #11908
Verified

[2021-07-12 08:42] #11908 closed, assigned to flambchap, Matvey16

[2021-07-12 09:02] uslss commented on #11533
1. Show parameter option is disables if "show parameter in result tab" option is checked/unchecked
![2021-07-12_11h59_27](https://user-images.githubusercontent.com/31996417/125260145-b4f30100-e308-11eb-9f76-2c42e7353c29.gif)
also npe appears
[code]

2. Parameters cannot be deleted using UI

[2021-07-12 09:25] serge-rider commented on #11533
1. Fixed
2. Parameters cannot be deleted yet. Delete button is disabled for them

[2021-07-12 09:48] Matvey16 commented on #12525
Verified

[2021-07-12 09:48] #12525 closed, assigned to flambchap, Matvey16

[2021-07-12 10:04] Wepz commented on #12993
@uslss
Thanks for the information,
I deleted that folder and reinstalled dBeaver and the error persists, I'm using now MySQL Workbench.
Don't know why dBeaver didm't work for me

[2021-07-12 10:40] Matvey16 commented on #11229
Incorrect mapping when switching back and forth for quoted target column

![zH0p5iaYic](https://user-images.githubusercontent.com/82543000/125274338-8aa84000-e316-11eb-921e-b75896d41745.gif)

[2021-07-12 10:59] Matvey16 commented on #9812
@widada @ayzesantos It looks like a problem with internet connection. Maybe you have VPN or proxy or even firewall blocking the connection. Can you verify that those are not the problem?

Also you can download the driver manually if it is not possible to adjust network settings

![dbeaver_Ewm4a0LaJ2](https://user-images.githubusercontent.com/82543000/125281500-f68ea680-e31e-11eb-96dd-e692e760e3b3.

[2021-07-12 12:41] Matvey16 commented on #12993
@Wepz If you have MySQL Workbench installed, you can try changing path to it's mysql.exe in DBeaver.

![dbeaver_yUzZdELgft](https://user-images.githubusercontent.com/82543000/125289132-8cc6ca80-e327-11eb-8ff4-3ffff21f6a11.png)

![dbeaver_gDTQOlUggF](https://user-images.githubusercontent.com/82543000/125289145-918b7e80-e327-11eb-83de-6d2624e2e874.png)

[2021-07-12 12:48] uslss commented on #12354
there is no update on an issue for a long time.
If it is still actual - feel free to reopen it with additional info to reproduce the issue.

[2021-07-12 12:48] #12354 closed, assigned to nobody

[2021-07-12 12:48] uslss commented on #12445
there is no update on an issue for a long time.
If it is still actual - feel free to reopen it with additional info to reproduce the issue.

[2021-07-12 12:48] #12445 closed, assigned to nobody

[2021-07-12 12:48] uslss commented on #12833
there is no update on an issue for a long time.
If it is still actual - feel free to reopen it with additional info to reproduce the issue.

[2021-07-12 12:48] #12833 closed, assigned to nobody

[2021-07-12 12:48] uslss commented on #12906
there is no update on an issue for a long time.
If it is still actual - feel free to reopen it with additional info to reproduce the issue.

[2021-07-12 12:48] #12906 closed, assigned to nobody

[2021-07-12 12:49] uslss commented on #12896
there is no update on an issue for a long time.
If it is still actual - feel free to reopen it with additional info to reproduce the issue.

[2021-07-12 12:49] #12896 closed, assigned to nobody

[2021-07-12 12:49] uslss commented on #12886
there is no update on an issue for a long time.
If it is still actual - feel free to reopen it with additional info to reproduce the issue.

[2021-07-12 12:49] #12886 closed, assigned to nobody

[2021-07-12 12:49] uslss commented on #12905
there is no update on an issue for a long time.
If it is still actual - feel free to reopen it with additional info to reproduce the issue.

[2021-07-12 12:49] #12905 closed, assigned to nobody

[2021-07-12 12:50] uslss commented on #12911
there is no update on an issue for a long time.
If it is still actual - feel free to reopen it with additional info to reproduce the issue.

[2021-07-12 12:50] #12911 closed, assigned to nobody

[2021-07-12 12:51] uslss commented on #12909
there is no update on an issue for a long time.
If it is still actual - feel free to reopen it with additional info to reproduce the issue.

[2021-07-12 12:51] #12909 closed, assigned to nobody

[2021-07-12 12:51] uslss commented on #12916
there is no update on an issue for a long time.
If it is still actual - feel free to reopen it with additional info to reproduce the issue.

[2021-07-12 12:51] #12916 closed, assigned to nobody

[2021-07-12 12:56] uslss commented on #12887
@bouyeijiang unfortunately cannot reproduce it. Connection to database is successfull for me.
![image](https://user-images.githubusercontent.com/31996417/125290734-4ecaa600-e329-11eb-8a3e-924af8c1b791.png)
what dbeaver version do you use? could you provide, e.g. video of the issue?
is there something in the log?
sorry for the late response

[2021-07-12 13:40] Matvey16 commented on #13163
Can't reproduce it on both latest and current release version.
Feel free to reopen if the issue will repeat.

[2021-07-12 13:40] #13163 closed, assigned to flambchap, Matvey16

[2021-07-12 13:56] givihuda commented on #2650
I'm not sure what's meant by:

Though I clicked into issue #3102, but doing what's suggested there doesn't give me the absolute file path on my Mac of where the scripts are saved by default, and it doesn't appear to let me change the path to anything but the parent folder "General".

![image](https://user-images.githubusercontent.com/74785256/125299501-70566e00-e2e6-11eb-8879-8178d1934e60.png)

Ca

[2021-07-12 14:13] artgoldberg opened #13167 "Cannot drag tab to existing window"
#### System information:
- Operating system: MacOS Big Sur: 11.2.3 (20D91)
- DBeaver version: 21.1.0.202106090921

#### Connection specification:
- Database name and version: Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
Sep 24 2019 13:48:23
Enterprise Edition: Core-based Licensing (64-bit) on Windows Server 2019 Standard 10.0 (Build 17763: ) (Hypervisor)
- Driver name: don't know
- Do you u

[2021-07-12 14:27] uslss commented on #13167
thank you for the report. will be implemented in the scope of #11533

[2021-07-12 14:27] #13167 closed, assigned to nobody

[2021-07-12 16:27] artgoldberg commented on #13167
Thanks @uslss
I do not think that the problem I am reporting is related to #11533 . I just want to move a tab from one DBeaver window to another, which I think I have done in the past. I am sure that in the past I have been able to have all the tabs for results, statistics, log, output in the window pane below the sql query.

This seems like an Eclipse tab and window management problem, and is cer

[2021-07-12 16:40] vrkadiyala commented on #6813
Hi

This is the scenario.

SELECT * FROM EMPLOYEE e WHERE E.

This query is not fetching any search proposals related to attributes of employee table.

Warm Regards,

Venkat K

[2021-07-12 16:45] serge-rider opened #13169 "Data transfer: edit SQL queries in data export task"
We need to support query edit.
Currently query can be added or deleted

[2021-07-12 16:45] serge-rider commented on #13169
![image](https://user-images.githubusercontent.com/6398845/125325546-b8f34300-e349-11eb-8d01-3d772b9c5bb5.png)

[2021-07-12 16:48] LonwoLonwo commented on #6813
I'm not sure what we will fix it, @vrkadiyala , sorry.
Aliases must be consistent. And we think what "e" and "E" are different aliases.

Examples:
![2021-07-12 19_46_11-DBeaver Enterprise 21 1 3 - _DBeaver Sample Database (SQLite)_ Script-138](https://user-images.githubusercontent.com/45152336/125325789-04a5ec80-e34a-11eb-9a5c-3a3c18c8727a.png)

![2021-07-12 19_46_44-DBeaver Enterprise 21 1 3 - _D

[2021-07-12 16:55] rickdevops commented on #13114
same bug around 1 year now

[2021-07-12 18:15] artgoldberg opened #13170 "Data filtering not working in DBeaver 21.1.0.202106090921"
#### System information:
- Operating system: MacOS Big Sur: 11.2.3 (20D91)
- DBeaver version: 21.1.0.202106090921
- Additional extensions: none

#### Connection specification:
- Database name and version: Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
Sep 24 2019 13:48:23
Enterprise Edition: Core-based Licensing (64-bit) on Windows Server 2019 Standard 10.0 (Build 17763: ) (Hypervisor)
- Driv

[2021-07-12 20:53] arielcarralbal commented on #10302
@Matvey16 setting metadata source to 1 fixed the problem!!

Thanks!

[2021-07-12 22:46] p91paul commented on #13170
Try to enlarge that modal. Looks like you are missing the "apply filter" button.

[2021-07-13 01:03] pgnd opened #13171 "dbeaver-ce 21.1.2.202107041908 137 snap displays 'boxes' instead of font chars; known issue @ snapcraft?"
on
[code]

I've installed Dbeaver snap
[code]

It launches with 'squares' instead of font characters:

	https://i.imgur.com/l7RRMNg.png

The issue is raised here:

	https://forum.snapcraft.io/t/snaps-show-squares-instead-of-fonts/18073/5

The suggested cache clear + rebuild:
[code]

fails to cure.

@ https://forum.snapcraft.io/t/snaps-show-squares-instead-of-fonts/18073/7

	"I’m being told the pro

[2021-07-13 03:10] sken130 commented on #5542
I second this request.

[2021-07-13 03:12] sken130 commented on #5542
Further suggestions:

Can the Groovy console manipulate data in the SQL results window?
Can the Groovy console add custom entries in the right click menus of the SQL results window?

[2021-07-13 03:15] bouyeijiang commented on #12887
![xx](https://user-images.githubusercontent.com/4083760/125384462-8a1db100-e3cb-11eb-918f-fbadcd135368.png)
![zb](https://user-images.githubusercontent.com/4083760/125384493-97d33680-e3cb-11eb-9fa7-ae83161224fe.png)

[2021-07-13 05:21] petr-hybler opened #13173 "Can't open new SQL Editor in some occations"
#### System information:
- Ubuntu 20.04.2 LTS 64-bit, GNOME 3.36.8
- 21.1.2.202107041908
- no extensions

#### Connection specification:
- there is no problem with any DB connection

#### Describe the problem you're observing:
Sometimes happens (I haven't really figured out the pattern yet - but I suspect switching between different DBs) that when I open the DBeaver and close all previous tabs (ta

[2021-07-13 05:57] algo-se opened #13174 "How to force close DBeaver in linux?"
DBeaver client gui is hanged in a Ubuntu machine, is there any command to force close it? In windows I´d just use task manager, but here it does not even appear in system manager.

![image](https://user-images.githubusercontent.com/72490678/125398601-cfcc8080-e3af-11eb-80f0-5ea2eb98a8ef.png)

#### System information:
- Operating system (distribution) and version: Ubuntu 18.04 LTS
- DBeaver version

[2021-07-13 06:13] ebocher commented on #5542
Must be feasible  using dbeaver services to access a jdbc connection. Not tested yet ;-)

Same idea than  previously. @serge-rider, can you give us an example of how to access dbeaver services?  or @spalominos

[2021-07-13 06:20] algo-se commented on #13174
I found it:

`sudo apt install x11-utils`
`xkill`

[2021-07-13 06:20] #13174 closed, assigned to nobody

[2021-07-13 06:33] SSSDNSY commented on #13070
## The key is to execute the length of the plan statement

you can use SQL like this ,the table `world.city`  from DBeaver

[code]

attachment from [Video](https://github.com/SSSDNSY/IMI-SOURCE-CODE/blob/master/QQ%E5%BD%95%E5%B1%8F20210713135836.mp4?raw=true)

[2021-07-13 06:33] Matvey16 commented on #13167
@artgoldberg Hello. #11533 is a separate feature, but while implementing it we also added the possibility to move all tabs from the right side (Output log, variables etc) to the bottom with resultset

[2021-07-13 06:33] SSSDNSY commented on #13070
maybe not BUG but make it more better.

[2021-07-13 06:43] flambchap commented on #10442
Fixed.

[2021-07-13 06:57] Matvey16 commented on #2650
@givihuda
You need to first link your external folder to Scripts in workspace, and then this folder will be available inside Scripts folder in properties like on your screenshot

![dbeaver_c65ClIL6Sz](https://user-images.githubusercontent.com/82543000/125405772-c1d32b80-e3c0-11eb-95d8-ffbe17caa2d7.png)

[2021-07-13 07:05] Matvey16 commented on #13070
@SSSDNSY Thank you for the report, the fix is scheduled for one of the next updates

[2021-07-13 08:10] Matvey16 commented on #13169
Verified

[2021-07-13 08:10] #13169 closed, assigned to serge-rider, Matvey16

[2021-07-13 08:23] uslss commented on #11533
verified

[2021-07-13 08:23] #11533 closed, assigned to serge-rider, uslss

[2021-07-13 09:19] LonwoLonwo commented on #13158
Hello @ddumas30
Can you please write a query example with PARSE_JSON() function?

More information about function using will be very helpful also.

For me, it's working fine.

![2021-07-13 12_15_20-Window](https://user-images.githubusercontent.com/45152336/125426360-eef906ba-6669-4310-9dba-ba82f14e9995.png)

[2021-07-13 09:34] Matvey16 opened #13177 "Option to stop infinite scripts repetition"
#### Describe the problem you're observing:
We need to add an option to stop infinite opening of new Scripts if a mistake was made by including the same script in it's own body with `@include` command

#### Steps to reproduce, if exist:
1. Create a script and add the same script itself in the body with `@include` command
2. Run the script

**Actual:** New scripts will be opened infinitely until DB

[2021-07-13 10:43] LonwoLonwo commented on #11015
Fixed. Now export works fine with truncate option (we added commit after executing truncate statement)

Works ONLY in [EE version](https://dbeaver.com/)!

[2021-07-13 10:43] Matvey16 opened #13180 "Script is not executed if called from another script"
#### System information:
- DBeaver version 21.1.3

#### Describe the problem you're observing:
Using `@include` command doesn't execute the script called with it if you have and option "Open separate connection for each editor" enabled in preferences.

#### Steps to reproduce, if exist:
1. Enable  "Open separate connection for each editor" option in preferences
2. Use `@include` command to call a

[2021-07-13 11:24] serge-rider commented on #12889
![image](https://user-images.githubusercontent.com/6398845/125443719-02655106-9901-44c7-b332-5c3e7d213607.png)

[2021-07-13 13:05] ahhmedbilal opened #13181 "Filter Database Objects does not work for Teradata Connection/DB"
#### System information:
- Operating system (distribution) and version: Win 10
- DBeaver version: 21.1.0.202106012023
- Additional extensions

#### Connection specification:
- Database name and version: Teradata 16.20
- Driver name: Teradata
jdbc:teradata://hostname.com/DATABASE=DBC,DBS_PORT=1025,LOGMECH=TDNEGO,ENCRYPTDATA=ON,CHARSET=UTF8,SIP_SUPPORT=OFF
- Do you use tunnels or proxies (SSH, SOCKS

[2021-07-13 13:11] ahhmedbilal commented on #13181
Apart from above issue: in database navigator, if i add PD in filter box, then it shows all database (table container) starting with PD, but if i write PD|PV
or if i write PD,PV then nothing is shown....

[2021-07-13 13:17] lukaseder commented on #13141
Another case of slow SQL parsing is when running this query in Db2:

[code]

[2021-07-13 13:24] dennisnel opened #13182 "Error installing DBeaver Git support on standalone"
#### System information:
- Operating system (distribution) and version
- Win 10 Enterprise
- Version 1909
- DBeaver version
-   21.0.0.202103021012	org.jkiss.dbeaver.core.product
- Additional extensions
- N/A

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Cannot complete the i

[2021-07-13 13:27] manticore-projects commented on #13141
Hi Lukas,

it is literally the same case. The syntax of JSON_OBJECT and JSON_ARRAY lead JSQLParser on a wrong trail.
The provided PR fixes these issues.

[2021-07-13 13:28] dennisnel commented on #13182
eclipse.buildId=unknown
java.version=11.0.5
java.vendor=AdoptOpenJDK
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en
Command-line arguments:  -os win32 -ws win32 -arch x86_64

org.eclipse.equinox.p2.director
Error
Tue Jul 13 15:18:20 CAT 2021
Missing requirement: DBeaver Git support 1.0.48.202107041908 (org.jkiss.dbeaver.git.feature.feature.group 1.0.48.202107041908) requires 'org.ecl

[2021-07-13 13:28] dennisnel commented on #13182
eclipse.buildId=unknown
java.version=11.0.5
java.vendor=AdoptOpenJDK
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en
Command-line arguments:  -os win32 -ws win32 -arch x86_64

org.eclipse.equinox.p2.director
Error
Tue Jul 13 15:18:20 CAT 2021
Software being installed: DBeaver Git support 1.0.48.202107041908 (org.jkiss.dbeaver.git.feature.feature.group 1.0.48.202107041908)

[2021-07-13 13:34] Matvey16 commented on #10442
Verified

[2021-07-13 13:34] #10442 closed

[2021-07-13 13:36] lukaseder commented on #13141
Good to know it's the same case, thanks!

[2021-07-13 13:42] manticore-projects commented on #13141
Anything "new SQL stuff" which contains named parameters like `NULL`, `ON` or other keywords can easily create trouble for the parser. For example: `NULL` is usually a value expression, but for `JSON_ARRAY` it suddenly became something completely different.

Which means, we need to teach JSQLParser to check first if the `NULL` is suddenly part of the `JSON_ARRAY` function before we can accept it a

[2021-07-13 13:48] manticore-projects commented on #13141
Your test-case can be reduced to
[code]
and of course it fails to parse (just to show me), but at least with the PR it fails promptly and without the delay.

I will need to check the Syntax for `LISTAGG` and add the necessary H2 support. Please bear with me.

[2021-07-13 13:51] artgoldberg commented on #13167
Thank you @Matvey16
When do you expect #11533 to be released?
In the meantime, how can I "have all the tabs for results, statistics, log, output in the window pane below the sql query" as I did with the previous version of DBeaver?

[2021-07-13 13:52] lukaseder commented on #13141
As a user of the *editor* (not the parser), that's the good news here :)

[2021-07-13 13:55] artgoldberg commented on #13170
Thanks @p91paul , that works. I have two suggestions: Add a feature request which prevents the modal from not showing buttons. In the meantime, add a screenshot of this problem and your suggestion to the DBeaver docs.
Thanks Again

[2021-07-13 14:15] manticore-projects commented on #13141
Ok, fixed it, your test case parses correctly now and fast.
Maybe you would like to replace the DBeavers JSQLParser.jar with the attached one, it should improve the situation immediately (although it may eat all your cats).

[jsqlparser-4.2-SNAPSHOT.zip](https://github.com/dbeaver/dbeaver/files/6809499/jsqlparser-4.2-SNAPSHOT.zip)

[2021-07-13 14:16] manticore-projects commented on #13141
And please keep your test cases coming, they are good because you are fluent with syntax I have never used before in practice.

[2021-07-13 14:27] lukaseder commented on #13141
I'll wait until Dbeaver releases an update, thanks.

Well, I wrote a SQL parser too, you know ;-)

[2021-07-13 14:45] jsteinfort commented on #9569
Excellent! Confirmed functionality (sorry been on vacation).  Thank you so much for implementing.  :-)

[2021-07-13 15:24] givihuda commented on #2650
OK so that's how to change the default folder for new Scripts-# files? My question was just based on something I stumbled on through all of the suggested answers here, but I'm not sure if that's actually the proper or best way.

Did I miss which webpage or permalink just shows the current steps, 1 2 3, or is that not exactly documented for the current version of DBeaver?

Right now it appears the

[2021-07-13 17:54] SylwesterZarebski commented on #7810
What is a reason for linking tabs (editors or table/data) with connection?
Only state for tabs should be text (SQL) or visible data (tabular or table properties etc).
Connections should be managed on demand and cached in background, this would allow for multiple connections on demand (i.e. retrieving data in multiple tabs).

[2021-07-13 19:23] ahhmedbilal opened #13183 "The key "V" as shortcut for Paste on context menu"
**Describe the solution you'd like**
On right click context menu if we press C, then it copies the selected text. In the same way, if we have to paste the text, then after right click, if we press V, then it should pate the text i.e we dont have to take mouse pointer to "Paste" menu to click. By pressing V, it should do the work on right click context menu.

[2021-07-13 20:43] YuriDude opened #13184 "Trailing NULL during the DDL generation"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: CE - Version 21.1.0.202106032102
- Additional extensions: None

#### Connection specification:
- Database name and version: Microsoft SQL Server 2012 (SP2-GDR) (KB3194719) - 11.0.5388.0 (X64)
- Driver name: not sure
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: NO

#### Describe the problem

[2021-07-13 22:09] kbvc opened #13185 "Scripts - Description Mouse Over"
Project Tab:

My lists of scripts is growing exponentially and the titles are looking similar and have less impact when searching.

Adding a description to the scripts in a mouseover message box would help to describe them before opening them thus making the search process more efficient.

Alternatively, an expansion selector could be added to open up a description.

[2021-07-13 22:41] chapmanjacobd opened #13186 "Saving the editor while saving changes to the database"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.1.10

#### Connection specification:
- Database name and version BigQuery 42_1.2.16.1020

#### Describe the problem you're observing:

Saving the editor while saving changes to the database causes Dbeaver to lock-up and save new rows to the database twice causing duplicate rows inserted.

[2021-07-13 23:20] RamonCar66 opened #13187 "Oracle DDL generation fails"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.2.202107041908
- Additional extensions: none (known)

#### Connection specification:
- Database name and version:
Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit Production
PL/SQL Release 11.2.0.4.0 - Production
"CORE	11.2.0.4.0	Production"
TNS for Linux: Version 11.2.0.4.0

[2021-07-13 23:55] artgoldberg commented on #13009
Hi @Matvey16
This problem does not occur for me in version 21.1

[2021-07-13 23:55] #13009 closed, assigned to nobody

[2021-07-14 01:36] panla commented on #13154
and on mysql.

[2021-07-14 05:46] HoonK212 commented on #13091
I didn't use any query, just clicked data export and export database table.

[2021-07-14 05:59] Matvey16 commented on #13167
@artgoldberg You can't move them from the right side for now. But the new version with an option to do so is scheduled to be released between 18th and 19th of July depending on your time zone, but that is for Community edition. New Enterprise version is scheduled for late August

[2021-07-14 06:07] Matvey16 commented on #2650
@givihuda This feature is not documented for now. But this is the proper and the only way to set an external folder as default for SQL scripts.

[2021-07-14 06:23] Matvey16 commented on #13091
@HoonK212 Data export performs a query in the background for you, when you start it. Query manager is here to look for those background queries that may have done something you don't know about.

[2021-07-14 06:35] SubOptimal commented on #12887
@bouyeijiang
- In your example screenshot the table in Navicat has at least two columns (dian, fx) and the provided example database (`db.db`) has only one column (gz). What's the relation between the two?
- Could it be that the `db.db` file you try to open in dbeaver doesn't contain any table and is not the same as the example you attached to the ticket?
- Could you dump the database with the sql

[2021-07-14 07:19] Matvey16 commented on #13184
Can you please provide steps to reproduce the issue? What exact DDL generation are you talking about?

[2021-07-14 07:25] Matvey16 commented on #13186
Can you please provide more clear steps to reproduce? What action is done first and last, maybe some additional actions in between.

[2021-07-14 07:59] chapmanjacobd commented on #13186
I'm pretty sure doing Ctrl-S then Ctrl-S after a few seconds will trigger it.

If not then Ctrl-S in the data window then typing something in the query editor and Ctrl-S definitely causes it.

maybe it's only super noticable on BigQuery driver because BQ is pretty slow compared to others

[2021-07-14 08:06] Fiance1 opened #13189 "Download of the installation version doesn't work"
#### System information:
- System: MS Windows 10 Pro 10.0.17134 Build 17134
- DBeaver version: 21.1.0.202106012023

#### Describe the problem you're observing:

I can't download installation version for several days.

![image](https://user-images.githubusercontent.com/2932385/125586151-8fb2bdce-910d-496d-b9e7-2b3adf1ea5a1.png)

![image](https://user-images.githubusercontent.com/2932385/125586572-7

[2021-07-14 08:13] flambchap commented on #11229
Fixed that as well.

[2021-07-14 08:31] Matvey16 commented on #13189
It seems to be something with your network. I can download it directly from that link. Do you have any specific proxy or firewall settings?

[2021-07-14 08:34] LonwoLonwo commented on #13181
Hello @ahhmedbilal
About your second message:
Support of muli-filtering was added only in DBeaver 21.1.1 https://github.com/dbeaver/dbeaver/issues/10137
It doesn't work in DBeaver 21.1.0

[2021-07-14 08:34] uslss commented on #12298
verified

[2021-07-14 08:34] #12298 closed, assigned to uslss, ShadelessFox

[2021-07-14 08:44] uslss commented on #13187
thank you for the report.
Issue was fixed in #13025 .
Fix will be available in 21.1.3 and already available in [EA version](https://dbeaver.io/files/ea/)

[2021-07-14 08:44] #13187 closed, assigned to nobody

[2021-07-14 08:46] uslss commented on #13185
Please, uncheck Show file contents in tooltip option in preferences
![image](https://user-images.githubusercontent.com/31996417/125592676-d4577316-4e0e-4bdb-ae1c-0b1caf85e6ed.png)

[2021-07-14 08:48] Fiance1 commented on #13189
You're right. I switched to another hotspot and everything went OK.
Thanks.

[2021-07-14 08:48] #13189 closed, assigned to nobody

[2021-07-14 08:53] uslss commented on #13182
could you try to update dbeaver and try to install plugin? the actual version is 21.1.2.

[2021-07-14 08:58] ocean-zhc opened #13190 "dbeaver 官网进不去了"
dbeaver官网是挂了吗？进不去了
![image](https://user-images.githubusercontent.com/46189785/125594280-5e407382-12a7-4ed2-a0fd-3d57d6baa010.png)

[2021-07-14 08:58] dennisnel commented on #13182
I have tried to re-install but the same problem still persists.

Even with the new versionthat was made available today.

Cheers

Dennis Nel

[2021-07-14 08:59] Matvey16 commented on #13190
Please check your internet connection. The site loads fine for me.

[2021-07-14 09:03] ocean-zhc commented on #13190
Tks!
It's our company network problem, sorry！

[2021-07-14 09:23] #13190 closed, assigned to nobody

[2021-07-14 09:47] DariaMarkaryan opened #13191 "Menu Bar: Open File item disappeared"
#### System information:
- Win10, DBeaver CE 21.1.3

#### Describe the problem:
There has no **Open File...** item in File dropdown list, but it was in the previous versions
![image](https://user-images.githubusercontent.com/43252954/125601500-c7531b0a-2736-4b03-be42-52bacbeea85b.png)
![image](https://user-images.githubusercontent.com/43252954/125601490-30fc213c-25c4-4e17-a17a-62bee4c17adf.png)

[2021-07-14 09:51] serge-rider commented on #13191
Fixed

[2021-07-14 09:56] Matvey16 commented on #12889
Verified

[2021-07-14 09:56] #12889 closed, assigned to serge-rider, Matvey16

[2021-07-14 09:59] kingwrcy commented on #6045
Please add this feature,We need it,Now the filed name is truncated.

Please add something like blow:

[code]

[2021-07-14 10:10] kingwrcy commented on #13007
please add some feature like this:

[code]

Of course, it is best to be permanent, without setting it every time.

[2021-07-14 10:22] DariaMarkaryan commented on #13191
Verified

[2021-07-14 10:22] #13191 closed, assigned to serge-rider

[2021-07-14 10:34] flambchap commented on #7813
The problem turned out to be a lot harder to resolve than we expected. It's related to our mechanism which shows the progress for dump/restore tasks. We've decided to disable it as a temporary measure.

[2021-07-14 10:57] Matvey16 commented on #11229
Verified

[2021-07-14 10:57] #11229 closed, assigned to flambchap, Matvey16

[2021-07-14 13:08] uslss opened #13193 "Ability to drop external tables"
**Is your feature request related to a problem? Please describe.**
The ability to drop external tables in SQL Server from UI is needed

[2021-07-14 13:08] Matvey16 commented on #11015
Verified

[2021-07-14 13:08] #11015 closed, assigned to LonwoLonwo, Matvey16

[2021-07-14 13:26] andy-clapham commented on #11229
Great stuff!
Thanks for working on this - will save us effort manually renaming things when importing data.

[2021-07-14 13:44] artgoldberg commented on #13167
Thanks @Matvey16 , that sounds good. Let's leave this issue open until I test it in the new version.

[2021-07-14 13:45] YuriDude commented on #13184
See attached.
![2021-07-14 09_36_42-DBeaver 21 1 0 - TurnScheduleItem](https://user-images.githubusercontent.com/5156159/125632670-5cceecf7-7ea3-4fdd-95e5-c288f4ae8d83.jpg)

[2021-07-14 13:53] LonwoLonwo commented on #13184
Hello @YuriDude
How did you do these check constraints? On null place must be check constraint condition.
Original table DDL will be very helpful.
Also can you please check the result of this query:
`SELECT * FROM master.sys.check_constraints WHERE parent_object_id=929542495`
I used table id from your picture.

[2021-07-14 14:07] kbvc commented on #13185
I did not know this existed and it works great!  It was unchecked by default so I checked it.  Thank you for the quick response!

[2021-07-14 14:37] YuriDude commented on #13184
@LonwoLonwo ,
thanks for expeditious reply!
I obviously  did not do these constraints ;-) . They are generated by tool.

Steps to reproduce:
1. In tables browser: either F4 (view table) option or right-mouse-click .
2. On Table components  tab set (tab pages: Properties, Data, ER Diagram): click on DDL.
3. Resulting script will have ALTER statement(s) with trailing null.

Also: the same behavior i

[2021-07-14 14:50] LonwoLonwo commented on #13184
Strange.

1. Ok, can you please tell me - do you have check constraints in your table or not? In TurnScheduleItem, as an example.

2. if you manually create table like this:
[code]
Will she have the correct syntax (with the right check condition), as in the picture?

![2021-07-14 17_49_05-Window](https://user-images.githubusercontent.com/45152336/125642853-ab816f2b-6a7a-436d-9162-99ca133f4db0.png)

[2021-07-14 14:50] #13185 closed, assigned to nobody

[2021-07-14 14:54] aisbergde commented on #12131
@uslss please reopen the issue

Here how to reproduce (MS SQL Server)

## option 1 - restore a database including data from a dacpac file

[dhw_self.zip](https://github.com/dbeaver/dbeaver/files/6816938/dhw_self.zip)

The database is from my open source project https://datahandwerk.github.io/ there is nothing secret.

## create only the required objects to investigate the table

create 2 tables an

[2021-07-14 15:56] YuriDude commented on #13184
Hi again!
So:
1.  SELECT * FROM master.sys.check_constraints WHERE parent_object_id=929542495 has no data.
2. select * from INFORMATION_SCHEMA.CHECK_CONSTRAINTS - does have data and one of the constraint name is indeed constraint with trailing null.
![2021-07-14 11_48_52-DBeaver 21 1 0 - _ESR_ Console](https://user-images.githubusercontent.com/5156159/125652472-cf9a02c3-4ef1-4703-a340-a94886dfe8c2

[2021-07-14 16:43] drc-ykim opened #13196 "set active connection on a file script that's opened from command line"
**Is your feature request related to a problem? Please describe.**
There is another request (#2095) which is similar in context but I don't want to execute the script (this, I'm guessing will have a connection established to do it) as requested in #2095.

**Describe the solution you'd like**
I'd like to open a file but just connect to the connection info specified in '-con' w/o executing it since

[2021-07-14 19:25] WolfX2 opened #13197 "[Feature request] Automatic "group by""
**Is your feature request related to a problem? Please describe.**
NA

**Describe the solution you'd like**
Option to autofill non-aggregated columns in code-complete popup when should show up under "GROUP BY" clause.

**Describe alternatives you've considered**
NA

**Additional context**

For example, if i write a statement like:

select
a.column_1 as c1
, a.column_2 as c2
sum(a.column_3) as c3_s

[2021-07-14 20:38] WillJiCar commented on #9455
just installed DBeaver and had this same issue.
![dbeaver_k6q6cykD4G](https://user-images.githubusercontent.com/59320961/125689243-2bf3f882-5385-454f-b69f-87257ae83516.jpg)

It can be resolved by going to Window -> Preference -> User Interface -> Appearance -> Colors and Fonts. Then change the fonts under View and Editor Folders -> "Part title font" and "Tree and Table font for views".

It's proba

[2021-07-15 03:59] LuckyPickleZZ opened #13198 "I added a plugin, but it was not included in the application after the MVN package step"
Hello, I have added a plugin in the project. The pom.xml was also altered. But after MVN package, it was not included in the application. The path of the application is /dbeaver/product/community/target/products/org.jkiss.dbeaver.core.product/macosx/cocoa/x86_64/Dbeaver.
<img width="514" alt="image" src="https://user-images.githubusercontent.com/36879124/125726709-70d183e2-45ba-45dc-a200-499c67165

[2021-07-15 05:56] pandasnew opened #13199 "BigQuery Auto-Completion"
Hi,
I‘m using Dbeaver for a long time and I‘m a big fan. Currently I‘m using Google BigQuery. Is a possibility to use auto-completion? In other databases, for example DB2 and SQL Server auto-completion works fine.

I‘m using the standard database-connector for bigquery.

Thanks!

[2021-07-15 06:03] Matvey16 commented on #13048
@lukaseder We will work on it in future updates, but for now as a workaround you can add all of the needed artifacts separately

[2021-07-15 06:10] Matvey16 commented on #13127
@cloud-66 Thank you for the suggestion, we will look if it can be implemented in future updates. For now you can enable showing of host name in the connection's context menu.

![dbeaver_o8PXKNnhNr](https://user-images.githubusercontent.com/82543000/125737604-71ab8309-284b-4121-81fa-8ee9ea1b3d0a.png)

[2021-07-15 06:15] Matvey16 commented on #13118
@polus Thanks for the suggestion, it seems interesting and useful, but can you please add more detail for how you see it? What should be highlighted (columns or connections) and when (clicking on connections or always etc.)

[2021-07-15 06:22] Matvey16 commented on #13142
@alesc2000 Thank you for the report

[2021-07-15 06:23] Matvey16 commented on #13148
@YuriDude Thank you for the suggestion

[2021-07-15 06:24] Matvey16 commented on #13154
@panla Can you add what happens in MySQL?

[2021-07-15 06:33] Matvey16 commented on #13157
@xunxky You suggest adding another button in this tab, correct? It will open a list of all saved scripts and ignore data source association?

![dbeaver_oLC7PzKSpy](https://user-images.githubusercontent.com/82543000/125739886-4f308133-a2a8-4cc5-9e20-7644fe62bf3e.png)

[2021-07-15 06:40] Matvey16 commented on #13160
@YuriDude Can you confirm my understanding of your suggestion. Is it correct that you wand to right-click a text in SQL Editor and use a new context menu button to see all of the objects (tables, views, columns etc.) mentioned in this query? Also what is your idea of visualizing such a list?

[2021-07-15 06:43] Matvey16 commented on #13173
@petr-hybler Thank you for the report

[2021-07-15 06:51] LonwoLonwo commented on #10150
smalldatetime data type in Dbeaver 21.1.2 in the export case from SQLServer to MySQL already turns into a timestamp. https://docs.microsoft.com/en-us/sql/t-sql/data-types/smalldatetime-transact-sql?view=sql-server-ver15

A can't create a table with "nvarchar with length 0", so can't fix it.

And I added better support for data types mapping, containing "text" in these names.

![2021-07-14 18_14_41

[2021-07-15 07:02] panla commented on #13154
@Matvey16

like alesc2000`s description

click `refresh sessions` can`t refresh, and reopen tools/session manager can refresh

[2021-07-15 07:07] #13198 closed, assigned to nobody

[2021-07-15 07:52] Matvey16 commented on #7813
Verified

[2021-07-15 07:52] #7813 closed

[2021-07-15 08:12] flambchap commented on #11946
Now we inference VARCHAR type in the situation when we transfer from MySQL to MySQL. The length still needs to be added by hand.

[2021-07-15 08:13] flambchap commented on #12167
Fixed.

[2021-07-15 08:22] LonwoLonwo commented on #13184
Hmm. Maybe you can tell me - what permission do you have? Looks like the problem is in the check_clause column reading, so I need to reproduce it to find a solution.

[2021-07-15 08:38] LonwoLonwo commented on #13181
Oh, I see it. The problem is in database/schema designation misunderstanding. Try to use "Schemas/Users" filtering instead of "Databases/Catalogs".

![2021-07-15 11_32_48-Window](https://user-images.githubusercontent.com/45152336/125756878-fcb547d0-afaf-4642-bb98-73d933de0ebc.png)

[2021-07-15 08:42] Matvey16 commented on #10150
Verified

[2021-07-15 08:42] #10150 closed

[2021-07-15 08:55] uslss commented on #11946
verified

[2021-07-15 08:55] #11946 closed, assigned to flambchap, uslss

[2021-07-15 08:57] uslss commented on #13173
verified

[2021-07-15 08:57] #13173 closed, assigned to uslss, LonwoLonwo

[2021-07-15 09:22] Matvey16 commented on #12167
Verified

[2021-07-15 09:22] #12167 closed, assigned to flambchap, Matvey16

[2021-07-15 09:29] flambchap opened #13202 "Enable progress monitor for Postgres dump/restore tasks"
In the scope of https://github.com/dbeaver/dbeaver/issues/7813, we disabled the progress monitor for Postgres dump and restore tasks as a temporary measure. We need to solve the original problem and turn it back again.

[2021-07-15 09:40] tati-kru opened #13203 "Allow to redefine temporary directory"
For export/spatial temporary files

[2021-07-15 09:41] tati-kru commented on #13203
dbeaver.io.tmp

[2021-07-15 09:53] ahhmedbilal commented on #13181
yup it worked perfectly.

On Thu, Jul 15, 2021 at 11:38 AM Anastasiya ***@***.***>
wrote:

[2021-07-15 09:58] ahhmedbilal opened #13204 "Ctrl Key + Down/Up Arrow Scrolling"
**Is your feature request related to a problem? Please describe.**
Please enable Ctrl Key + Down/Up arrow key scrolling like in notepad++.

[2021-07-15 10:00] LonwoLonwo commented on #13181
Thanks for the answer!

[2021-07-15 10:00] #13181 closed, assigned to nobody

[2021-07-15 10:57] Matvey16 commented on #13029
@icegood Yes, this is the correct repo. I tried to reproduce it on 20.04 Focal, and it works normal when installing from this repo. Maybe there is something specific with a way that you are installing it?

[2021-07-15 11:00] hpyperry commented on #12441
eclipse already support m1
[https://download.eclipse.org/eclipse/downloads/](url)

[2021-07-15 12:06] icegood commented on #13029
simple apt install. My files in /etc/apt are:

/etc/apt/sources.list.d/serge-rider-ubuntu-dbeaver-ce-hirsute.list:

deb http://ppa.launchpad.net/serge-rider/dbeaver-ce/ubuntu/ hirsute main
\# deb-src http://ppa.launchpad.net/serge-rider/dbeaver-ce/ubuntu/ hirsute main

and binary in

/etc/apt/trusted.gpg.d/serge-rider-ubuntu-dbeaver-ce.gpg