[2021-05-12 20:10] #11439 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-05-12 20:24] quicksnap opened #12441 "Native support for macOS/ARM (Apple Silicon M1)"
This is essentially a continuation of #10470. If this is inappropriate as a new ticket, feel free to close!

The current build runs on Rosetta 2, which functions, albeit somewhat sluggishly with UI drawing.

A [previous comment](https://github.com/dbeaver/dbeaver/issues/10470#issuecomment-801070802) linked to a now-fixed upstream issue with Ecipse here: https://bugs.eclipse.org/bugs/show_bug.cgi?i

[2021-05-12 20:25] quicksnap commented on #10470
I created a new ticket here https://github.com/dbeaver/dbeaver/issues/12441

[2021-05-12 20:40] kseniiaguzeeva commented on #11516
Verified. Separate ticket with sequence enhancement will be created.

[2021-05-12 20:40] #11516 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-05-12 23:51] anazzani commented on #12358
Just saw [this](https://github.com/dbeaver/dbeaver/issues/9414): seems to be the same (or very similar) issue.

[2021-05-12 23:59] LuiFerPereira opened #12442 "row selection focus is wrong"
#### System information:
- Operating system (distribution) and version: MacOS 11.3.1
- DBeaver version: Version 21.0.4.202105021514
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

row selection focus is wrong. Using keyboard arrows to move between rows,

[2021-05-13 00:37] theloglizard opened #12443 "Big Query Results not populated when query starts with a temp function"
#### System information:

- OS: MacOS Big Sur 11.3.1
- Dbeaver Version 21.0.4.202105021514

#### Connection specification:
- Big Query
-  Driver for Big Query: https://storage.googleapis.com/simba-bq-release/jdbc/SimbaJDBCDriverforGoogleBigQuery42_1.2.13.1016.zip

- No tunnels or proxies

#### Problem observed:
I seem to have encountered a problem similar to [#10478](https://github.com/dbeaver/dbe

[2021-05-13 00:53] hubutui commented on #12422
It keeps happening almost every time I trying to edit the connection setting.

[2021-05-13 06:27] rwichrowski commented on #11776
There is no other sensible idea, but I think that it is an extension that gives a lot of possibilities, because everyone can write whatever they want in their (diagnostic) procedure and run it with a keyboard shortcut.
I have a few dictionaries that I often display and it's nice if I could display their content just by keyboard shortcut and not by writing a query.

[2021-05-13 07:16] rberko-8080 commented on #1555
Community Version 21.0.4.202105021514. is still there :=(

[2021-05-13 07:20] wandajuan-houzz opened #12445 "Session properties cannot be overridden once a transaction is active"
#### System information:
- Operating system: MacOS
- DBeaver version: Version 21.0.4.202105021514
- DB: Presto

#### Describe the problem you're observing:
Hi,

I had been using right click -> Execute -> Export from Query -> Copy to Clipboard to paste query results into local.
But since yesterday when I tried to import a huge .csv file and failed multiple times, this copy to clipboard thing does n

[2021-05-13 07:24] qiufei130121 opened #12446 "Unexpected driver error occurred while connecting to the database"
Hello,

I am trying to connect the Hana instance on windows, however, the error as below occurred.

Unexpected driver error occurred while connecting to the database.

dbeaver-debug.log
2021-05-13 15:17:16.414 - Connection failed (sap_hana-1796472d7b5-1f083517536684b9)
org.jkiss.dbeaver.model.exec.DBCConnectException: Unexpected driver error occurred while connecting to the database
	at org.jkiss.

[2021-05-13 07:37] uslss commented on #11594
verified

[2021-05-13 07:37] #11594 closed, assigned to serge-rider, uslss

[2021-05-13 07:46] ShadelessFox commented on #10188
I don't like the look of the <kbd>Next Run</kbd> column. Can we humanize it?

[2021-05-13 07:47] uslss commented on #12446
@qiufei130121 what dbeaver version and driver do you use? Probably you could provide connection configuration screenshot. Simple generic connection works ok for me

[2021-05-13 07:54] uslss commented on #12445
@wandajuan-houzz do you use manual commit or auto-commit?

[2021-05-13 08:01] flambchap commented on #10188
@ShadelessFox
![obama-yes-we-can](https://user-images.githubusercontent.com/26031301/118096849-950f9180-b3da-11eb-9487-15e1f1aa661b.jpg)

[2021-05-13 08:02] uslss commented on #12443
thanks for the report

[2021-05-13 08:03] ShadelessFox commented on #10188
![image](https://user-images.githubusercontent.com/35821147/118097092-e0c23b00-b3da-11eb-81c2-e7bfa804bf8c.png)

[2021-05-13 08:06] uslss commented on #12442
@LuiFerPereira could you provide a video with an issue or more clear steps to reproduce?
thanks in advance

[2021-05-13 08:22] kseniiaguzeeva commented on #11652
Please open Properties to see connection information (click your connection in DB Navigator and select Window>Show view>Properties).

![Screenshot 2021-05-13 at 11 18 05](https://user-images.githubusercontent.com/51405061/118099061-6646ea80-b3dd-11eb-8f7c-54b04893ec7c.png)

[2021-05-13 08:26] kseniiaguzeeva commented on #12203
As I see it is not on DBeaver side. I convert the ticket to Discussions. Maybe other users can advise something.

[2021-05-13 08:26] #12203 closed, assigned to nobody

[2021-05-13 08:27] flambchap commented on #11357
Fixed again.

[2021-05-13 08:36] kseniiaguzeeva commented on #12361
Metadata Editor:
1 Save button is inactive until the focus remains in an edited cell
2 Cell highlighting is not removed after saving changes

https://user-images.githubusercontent.com/51405061/118100439-1ec15e00-b3df-11eb-86c9-2e395cc33377.mov

Separate ticket will be created for other improvements.

[2021-05-13 08:51] kseniiaguzeeva commented on #12209
Sorry for the long response. Could you give more details?
- Does it happen right after launching DBeaver or after some time?
- What do you do in DBeaver before it happens?
- Do you work with remote or local database?
- [Error logs](https://github.com/dbeaver/dbeaver/wiki/Log-files) also can be helpful.

[2021-05-13 08:59] KES777 commented on #12417
At your case it is "Yes", but please do double click to enter edit mode for cell.
Then you can not CTRL+C whole value, even if CTRL+A, because value is not displayed fully

[2021-05-13 09:00] uslss commented on #12372
verified

[2021-05-13 09:00] #12372 closed, assigned to uslss

[2021-05-13 09:00] kseniiaguzeeva commented on #12211
Sorry for the long response. I cannot reproduce it. Looks like a syntax mistake. Please try this template
`yyyy-MM-dd HH:mm:ss.SSS`
![Screenshot 2021-05-13 at 11 56 09](https://user-images.githubusercontent.com/51405061/118103509-aa88b980-b3e2-11eb-855c-3dd3c78a829e.png)

[2021-05-13 09:10] ShadelessFox commented on #12442
Looks like that the issue was fixed in #12286.

Can you try upgrading to the early access version to see if the problem was resolved? https://dbeaver.io/files/ea/

[2021-05-13 09:25] flambchap commented on #11289
Fixed.

[2021-05-13 09:35] qiufei130121 commented on #12446
Hi,

Thanks for prompt response.  Please find the screenshot in the
attachment.
dbeaver version: 21.0.4.202105021514
driver: ngdbc-2.8.12.jar

[Pictures.zip](https://github.com/dbeaver/dbeaver/files/6471640/Pictures.zip)

[2021-05-13 09:49] uslss commented on #10727
verified

[2021-05-13 09:49] #10727 closed

[2021-05-13 10:36] Matvey16 commented on #11357
Verified

[2021-05-13 10:36] #11357 closed, assigned to flambchap, kseniiaguzeeva, Matvey16

[2021-05-13 10:41] uslss commented on #11289
verified

[2021-05-13 10:41] #11289 closed, assigned to flambchap, uslss

[2021-05-13 10:48] DariaMarkaryan commented on #12396
Verified

[2021-05-13 10:48] #12396 closed, assigned to uslss, DariyaFedorova

[2021-05-13 10:55] ShadelessFox commented on #11196
Hello @dangeReis,

Can you please provide more details about your problem?

Are you talking about dialog for changing active catalog/schema (<kbd>Ctrl+0</kbd>)?

[2021-05-13 10:59] kseniiaguzeeva commented on #12217
Please try to use named variables. It should solve the problem.
![Screenshot 2021-05-13 at 13 57 27](https://user-images.githubusercontent.com/51405061/118116794-65b94e80-b3f3-11eb-83ac-141726873ee1.png)

[2021-05-13 11:05] kseniiaguzeeva commented on #12225
It is not implemented for now. So, it is more a feature request than a bug. We are going to add this functionality.

[2021-05-13 11:24] Matvey16 commented on #11324
Verified

[2021-05-13 11:24] #11324 closed, assigned to uslss, ShadelessFox, Matvey16

[2021-05-13 11:34] ShadelessFox commented on #12443
As pointed out, the problem is indeed similar to one described in another ticket, and the solution is, in fact, the same.

This is a bug in Simba JDBC driver, updating it to 42_1.2.16.1020 fixes the problem.

[2021-05-13 11:35] kseniiaguzeeva commented on #12361
Highlighting issue can be reproduced on Mac. Separate ticket will be created.

[2021-05-13 11:35] #12361 closed, assigned to serge-rider, kseniiaguzeeva

[2021-05-13 12:25] kseniiaguzeeva commented on #12233
Could you describe some use cases where it should work by this way?

[2021-05-13 12:41] lijose opened #12452 "Display Hive(Tez) Progress Bar"
Hi
I am using DBeaver for running my hive queries. I am using tez as hive execution engine.
If I use beeline, it will show progress of my query during time.

I would like to know if there is a way to show progress of execution in DBeaver.
If there is not, kindly add it as a feature in future release. It will help to keep track of query.

[2021-05-13 12:52] LonwoLonwo commented on #10818
It was like

But from Java side

[2021-05-13 12:56] dangeReis commented on #11196
Yes, that is the part that is not working.  I can pick a schema, but the query still runs against the wrong schema.

[2021-05-13 12:59] ShadelessFox commented on #11196
I see, thanks for the explanation.

[2021-05-13 13:31] theloglizard commented on #12443
Thanks much for the reply. I had difficulty getting the driver editor to take it, but after deleting the old driver (I guess there can only be one?) and then loading the new version from a locally downloaded copy, all seems well.

Though I should have noticed the driver versions, and I'm not sure where the default load gets set, but you might consider updating that.

[2021-05-13 13:44] ShadelessFox commented on #12443
I've updated the driver version, but first we need to make sure everything is working flawlessly before closing the ticket.

Until that, I will reopen this ticket.

[2021-05-13 14:00] KES777 commented on #12217
My language use non named parameters. It is a problem to rename each.
DBeaver could use parameter position instead of name to properly cache old values

[2021-05-13 14:05] KES777 commented on #12233
Every editor when auto add characters does not double them when user input them manually

https://user-images.githubusercontent.com/799021/118136995-5cd57680-b40d-11eb-808c-5b6ef40e499d.mp4

[2021-05-13 14:05] KES777 commented on #12233
[Kazam_screencast_00059.mp4.zip](https://github.com/dbeaver/dbeaver/files/6472901/Kazam_screencast_00059.mp4.zip)

[2021-05-13 14:32] ShadelessFox commented on #11380
I believe this solution is the most appropriate in this situation. Also it is possible to change this option only for Oracle connection.

[2021-05-13 15:15] ShadelessFox commented on #11196
Looks like the issue is with the driver itself. Need further examination.

[2021-05-13 15:25] dangeReis commented on #11196
Possible, but setting a default in settings works, so the driver is at least is capable of accepting default db.  I'm happy to try a different driver if you think it will help.

[2021-05-13 15:30] ShadelessFox commented on #11196
It may be capable of setting default schema during connection initialization, but may not be able to change it later for active connection.

Unfortunately, I can't name any alternatives. But, at least for now, you can use the workaround mentioned earlier.

[2021-05-13 15:31] DariaMarkaryan opened #12454 "Derby: PK wrong creation"
#### System information:
- Windows 10, Derby server, DBeaver CE 21.0.5

#### Describe the problem you're observing:
If create table with explicitly specified PK then
  DDL isn't correctly displays: empty PK constraint parameter and we can see index creation info. Therefore we cannot also assign any foreign keys
![image](https://user-images.githubusercontent.com/43252954/118148546-58af5600-b419-11e

[2021-05-13 15:33] dangeReis commented on #11196
I meant like a newer version of the driver, if the one I'm using is having issues.  Please test and let me know if this is indeed an issue with the driver and if updating to a new version resolves it.

[2021-05-13 15:36] ShadelessFox commented on #11196
Updating to newer version (2.0.21.1000) does not resolve the issue.

[2021-05-13 15:41] dangeReis commented on #11196
So are we sure the issue is with the driver?  In that case can we open an issue with them?

[2021-05-13 15:42] dangeReis commented on #11196
I do see this note on the documentation page:

`To use the JDBC driver for multiple data catalogs with Athena (for example, when using an external Hive metastore or federated queries), include MetadataRetrievalMethod=ProxyAPI in your JDBC connection string.`

Not sure if it's relevant here.

https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html

[2021-05-13 16:08] ShadelessFox commented on #11196
I can't find any other traces of this problem, so that's my guess.

Unfortunately, that note is not relevant here, since we're talking about changing current schema, not the catalog.

As I said, we need further examination. I will write back later.

[2021-05-13 16:22] rokopi-byte opened #12455 "Export from query causes internal error when clicking on browse to select destination path"
#### System information:
- Operating system (distribution) and version Ubuntu 16.04.07
- DBeaver version CE 21.04.02

#### Describe the problem you're observing:

Export from query causes internal error when clicking on browse to select destination path.

#### Steps to reproduce, if exist:

Right click on a query, execute, export from query, csv, next, next, click the folder icon (browse)

`"Probl

[2021-05-13 17:12] marcreig opened #12457 "ODBC: "Unexpected driver error occurred while connecting to the database""
Good afternoon,

I've recently bought a new server (big tower with an Intel Xeon inside).
I've installed a Windows 10 PRO today and updated to 20H2 version.
Installed Java JRE x86 and x64 last versión (java version "1.8.0_291") and finally, installed DBeaver (version 21.0.4, Community Ed).
This software configuration, is the very same I've in a Notebook, and on my office PC. Even on my Surface Pro

[2021-05-13 19:18] k4hvd1 commented on #12211
Please, follow the steps that were described.

[2021-05-13 22:23] p91paul commented on #12457
https://community.oracle.com/tech/developers/discussion/1344007/nullpointerexception-in-jdbcodbcdriver-initialize-jdbcodbcdriver-java-435
this guy says it solved it by setting some permissions on some odbc dll. however they are not very specific....

[2021-05-13 23:51] djallen1289 opened #12458 "Certificate Caching"
#### System information:
- Operating system (distribution) and version Ubuntu 20.04
- DBeaver version 21.0.4.202105021514
- Java version 1.8.0_292
- Additional extensions None

#### Connection specification:
- Database name and version Postgres 9.4
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
Cr

[2021-05-14 00:06] djallen1289 commented on #12458
Sorry, closing this. Server did not renew certificate on it's end and the reference was to the server certificate and not client.

[2021-05-14 00:06] #12458 closed, assigned to nobody

[2021-05-14 00:08] wandajuan-houzz commented on #12445
Both. But I just realized when switching to auto-commit, the same error also showed up.
![image](https://user-images.githubusercontent.com/79892668/118202043-94830380-b48b-11eb-89fa-3557b2d5e411.png)

[2021-05-14 02:23] ffbh123456 commented on #12355
Did I describe it clearly enough? Is there any progress on this issue?

[2021-05-14 04:47] bcm5645 commented on #11380
Hi, this is not a solution for me.
On daily basis i'm working on queries used in ERP system which allows to enclose varchar parameters in quote marks.
And expected behaviour is also supported in Oracle SQL developer.
On the other hand default behaviour of buil-in SQL formatter is to put a SPACE between ampersand and first character after it. Can at least this one be changed to leave it untouched?

[2021-05-14 06:53] techlock77 commented on #12421
@uslss Is there a way to edit the service name in Dbeaver>?

[2021-05-14 07:05] p91paul commented on #12421
@techlock77 in your screenshot, you are connecting via service name (orcl). If you actually want to use SID instead of service name, change that combo to SID and orcl will be interpreted as SID instead of service name.

[2021-05-14 08:23] kseniiaguzeeva opened #12460 "DB Navigator global filter doesn't work for tables"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.5 EA

#### Connection specification:
- Database name and version Vertica
#### Steps to reproduce, if exist:
1. Expand Tables folder in DB Navigator and select **Filter** in a table context menu
2. Click **Configure filter**
3. Select **Show global filter** in the opened dialog
4. Enter a valid table

[2021-05-14 08:27] uslss opened #12461 "Incorrect types for columns are chosen during the export to new table from another table"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.5

#### Connection specification:
- Database name and version CockroachDB 20.1.5
-
#### Describe the problem you're observing:
Export SQLite - Cockroach
Integer type is mapped to varbit
BLOB - to bytea
Datetime - to varchar
Numeric - to varbit
![image](https://user-images.githubusercontent.com/31996

[2021-05-14 08:40] uslss opened #12462 "The last table only opens in case of export more than one table"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.5
-
#### Describe the problem you're observing:
In case of export more than one table to database (Open table editor on finish option is enabled) only the last table opens in editor.

[2021-05-14 08:43] 2019-05-10 commented on #12168
Uhm, is that supposed to be the fix or only a workaround until the fix is released?

[2021-05-14 08:46] 2019-05-10 commented on #10905
Well, that's exactly what I requested.

[2021-05-14 08:53] ShadelessFox commented on #11871
Fixed and implemented:

![image](https://user-images.githubusercontent.com/35821147/118246698-ff900280-b4aa-11eb-8b45-1334c7a5192a.png)

[2021-05-14 09:36] DariaMarkaryan opened #12463 "Saved BLOB data isn't shown in Value panel"
#### System information, DBs:
Windows 10, Dbeaver EE 21.0.5. derby server

#### Describe the problem you're observing:
After saving data after editing BLOB value and open-close "Value" tab the value disappear. Refreshing, reopen DBeaver isn't helps.
In DB2 was the same problem, but I cant reproduce it
#### Steps to reproduce:
Create table with BLOB type column, add new row, press enter to open Val

[2021-05-14 09:37] ShadelessFox commented on #11196
We have concluded that the issue is indeed with the driver. You can create a separate issue on their board.

[2021-05-14 09:45] uslss opened #12464 "Two tabs are opened in case of explaining execution plan without any resultset open"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.5

#### Connection specification:
- Database name and version PostgreSQL, Oracle, Cockroach

#### Steps to reproduce, if exist:
1. Open SQL editor and write some query (e.g. `Select 1;`)
2. Perform Explain execution plan.

**Actual result**
Two tabs open. First tab - Result 1 is empty, the second ta

[2021-05-14 09:47] uslss opened #12465 "Execution plan is shown as a table for Cockroach"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.5
#### Connection specification:
- Database name and version CockroachDB 20.1.5
-
#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/31996417/118253418-944a2e80-b4b2-11eb-8191-73332932548b.png)

[2021-05-14 09:50] ShadelessFox commented on #11380
So, the problem is that parameter binding is not working when used inside string literals?

[2021-05-14 10:58] kseniiaguzeeva opened #12467 "Full-text and Metadata search do not work in Vertica"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.5

#### Connection specification:
- Database name and version Vertica

#### Steps to reproduce, if exist:
1. Open metadata search, select Vertica, enter a valid value and begin the search

**Expected:** suitable objects are found
**Actual result:** objects are not found and an error appears: `SQL Er

[2021-05-14 12:20] DariaMarkaryan opened #12468 "Generate mock data falls with SQL error [30000]"
#### System information:
- Windows 10, DBeaver EE 21.0.5
-  Derby DB, Derby Server driver, SSH

#### Describe the problem you're observing:
Wen I try to "Generate Mock Data" in that simple table (without any data in it):
![image](https://user-images.githubusercontent.com/43252954/118269164-0c225400-b4c7-11eb-86a4-3ea578361c89.png)
CREATE TABLE TEST.NEWTABLE (
	COLUMN1 INTEGER NOT NULL,
	COLUMN2 VA

[2021-05-14 12:39] ShadelessFox commented on #12463
Note: to view BLOBs in Derby you need to switch to manual commit mode.

[2021-05-14 13:08] kseniiaguzeeva opened #12471 "Boolean checkbox jumps in Metadata Editor/Data transfer dialog"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.5 EA

#### Steps to reproduce, if exist:
Open create new column dialog and click a checkbox

**Expected**: the checkbox is enabled
**Actual result**: the checkbox jumps to the center of the dialog and it is not enabled

[2021-05-14 13:29] kseniiaguzeeva opened #12472 "Highlighting is not removed in Metadata Editor after moving focus and saving changes"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.0.5 EA

_2 Mac specific cases exist:_

**Case 1**
#### Steps to reproduce, if exist:
1. Open an editable object in Metadata Editor
2. Make some inline edit
3. Click to inactive Save button after that
4. Click to the field with the object and then click on Save button again (it is active now)

**Expected

[2021-05-14 13:45] kseniiaguzeeva opened #12473 "[macOS] Row manipulation buttons from spreadsheet toolbar don't disable when inline editor is opened"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.0.5 EA
#### Describe the problem you're observing:
~~1. True/false and yes/no format Boolean moves to the cell center after clicking on it. If you click the next Boolean right after that, it will jump to the cell center and back to the left cell border.
https://user-images.githubusercontent.com/51405061

[2021-05-14 13:45] riednyko commented on #12072
@dddeveloperrr try to update dbeaver-ce snap package, we updated the gtk module in the build, this may help.

[2021-05-14 14:24] ShadelessFox commented on #12461
The `BLOB` &rArr; `bytea` conversion looks fine to me

[2021-05-14 14:25] serge-rider commented on #12471
Fixed

[2021-05-14 14:35] DeflateAwning commented on #11871
The screenshot shown there always worked fine. Can you do a test with numbers of varying orders of magnitude (like 9. 14, 115, etc.)? Thanks!

[2021-05-14 14:39] mzatko commented on #1544
Still there in Version 21.0.4

[2021-05-14 14:42] ShadelessFox commented on #11871
Oh, sure, I wanted to show formatting :)

![image](https://user-images.githubusercontent.com/35821147/118287004-b906cc00-b4db-11eb-9924-a8bf238f867e.png)

[2021-05-14 14:50] dangeReis commented on #11196
I can try.  Do you have some sample code that reproduces the issue with the driver?

[2021-05-14 14:57] DeflateAwning commented on #11871
This looks perfect, thank you!

[2021-05-14 15:04] ShadelessFox commented on #11196
As a starting point, the following code sample can be used:
https://simba.wpengine.com/products/Athena/doc/JDBC_InstallGuide/content/jdbc/ath/examples/jdkexamples.htm

And block to reproduce the issue:
[code]

[2021-05-14 15:18] LonwoLonwo commented on #12454
Apache Derby Network Client JDBC Driver 10.15.2.0 driver issue. Works fine with 10.15.1.3 (which we use in EE version)

[2021-05-14 15:27] kseniiaguzeeva commented on #12471
The issue still remains on Mac. The case will be added to https://github.com/dbeaver/dbeaver/issues/12472

[2021-05-14 16:05] danialmirza commented on #12445
Also experiencing the same issue as OP when using "Export from Query" after trying to import a csv. Option was working fine until recently.

[2021-05-14 16:19] supervate commented on #12441
Ummm,its very slowly in Apple silicon M1. Really expecte the new version that compability with M1.

[2021-05-14 16:38] ctreadw6 opened #12474 "When importing data, ask to trim data that is too long for a column."
**Is your feature request related to a problem? Please describe.**
When importing data, if a value is too long for a column, the import fails.
![image](https://user-images.githubusercontent.com/10664464/118300179-a5de0700-b4af-11eb-9d91-0f0de034925e.png)

**Describe the solution you'd like**
It would be nice to have the options to:
Skip Row
Skip Row (and don't ask again)
Trim
Trim (and don't ask a

[2021-05-14 19:07] dddeveloperrr commented on #12072
dbeaver snap updated. it didn't help. still get a bunch of errors

[farhad@farhad-hp ~]$ snap run dbeaver-ce
Gtk-Message: 23:33:33.042: Failed to load module "xapp-gtk3-module"
Gtk-Message: 23:33:33.043: Failed to load module "xapp-gtk3-module"

(dbeaver:9867): dbind-WARNING **: 23:33:33.085: Couldn't connect to accessibility bus: Failed to connect to socket /tmp/dbus-HprshhAM92: No such file or d

[2021-05-14 19:40] ardelean94 commented on #12048
I have a similar scenario, I'm trying to connect to a remote Impala DB using DBeaver, I've downloaded and created the jdbc driver but when I try to connect I get an error, see print screen attached
![image](https://user-images.githubusercontent.com/22618053/118320737-532f3a00-b505-11eb-92e7-af24a3948b97.png)

Any ideas?

[2021-05-14 19:43] DariaMarkaryan commented on #12471
Verified for windows

[2021-05-14 19:43] #12471 closed, assigned to DariyaFedorova

[2021-05-14 19:47] serge-rider commented on #12048
@chan18 Perhaps you have a huge schema (hundreds/thousands of tables with many columns).
@ardelean94 Impala JDBC driver needs a lot of memory.

By default DBeaver Community has maximum memory limit 1gb.
You can increase this limit in dbeaver.ini file.
Try to change `-Xmx1024m` into `-Xmx4096m` to increase maximum memory to 4Gb.

[2021-05-15 01:20] qiqingli commented on #12209
- Does it happen right after launching DBeaver or after some time?
   It happened after some time.
- What do you do in DBeaver before it happens?
  No special operations are performed.
- Do you work with remote or local database?
  Work with remote database.
- Error logs also can be helpful.
  Cannot reproduce, cannot get logs

[2021-05-15 11:00] kkorus commented on #8328
@fabilson-ssa
Hey, have you managed to change the color of highlighted parenthesis? It doesn't look great with a dark theme currently.

![image](https://user-images.githubusercontent.com/2054009/118358089-8e6d4f80-b57d-11eb-99af-bc96ee2cc8e2.png)

[2021-05-15 22:58] vicreal commented on #10818
No, this is a **stable bug**. Reproducible easily (version **21.0.4**):
**1)** Open DBeaver
**2)** In the left panel "Databases" click on the "public" schema and press **F5** => DBeaver updates tables in public schema
**3)** After that DBeaver forgets user data types => **bugs 1,2,3,4** appear again and **all uint types show as NULL** (see my screenshots above):

![Bug 3 and 4 again](https://user-

[2021-05-16 04:52] kseniiaguzeeva opened #12477 "Wrong flex table syntax"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.5 EA
#### Connection specification:
- Database name and version Vertica

**Two cases exist**: wrong syntax is used when a flex table is created  via UI and flex table appears in Tables folder when you create it via SQL Editor

#### Steps to reproduce, if exist:
**Case 1**:
Create flex table via UI
*

[2021-05-16 07:03] isak-kaz opened #12478 "Include macOS .dmg package in early access download list"
Could we incude a .dmg version in the early access download list?

Thanks

[2021-05-16 10:46] kseniiaguzeeva opened #12479 "Add highlighting when a row remains in focus"
Mac and Win10
DBeaver 21.1.1 EA

**STR:**
1. Open tab Columns in a table Data Editor
2. Change a metadata value (e.g. a comment)
3. Click another cell of the same row

**Expected**: the edited cell is highlighted by orange
**Actual result**: only the row in focus is highlighted by blue

**Workaround**: click another row.

[2021-05-16 10:55] kseniiaguzeeva opened #12480 "Restore Default button doesn't work in some places"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.5 EA

We have to fix **Restore default** buttons which are broken on DBeaver side. See attached screenshots with places where the buttons don't work.
[restore_default.zip](https://github.com/dbeaver/dbeaver/files/6493695/restore_default.zip)

[2021-05-16 16:14] kseniiaguzeeva commented on #12284
Sorry for the long response. Could you please try another driver?

[2021-05-16 16:22] kseniiaguzeeva commented on #12283
Thank you for the suggestion. We already have such option. You can enable it in Preferences>Editors>Text Editors
![dbeaver_mlKav90dEB](https://user-images.githubusercontent.com/51405061/118404532-00c45980-b67c-11eb-9336-43513313f9bb.png)

[2021-05-16 16:22] #12283 closed, assigned to nobody

[2021-05-16 16:23] kseniiaguzeeva commented on #12274
Thank you for the report.

[2021-05-16 16:27] kseniiaguzeeva commented on #12244
Thank you for the suggestion.

[2021-05-16 16:51] kseniiaguzeeva commented on #12216
Sorry for the long responce. I cannot reproduce the issues on DB2 LUW. I will try to find out something.

[2021-05-16 17:05] kseniiaguzeeva commented on #12219
Sorry for the long response. I cannot reproduce it in DBeaver 21.0.5 EA.

![dbeaver_ytkoDDAxhY](https://user-images.githubusercontent.com/51405061/118405750-daa1b800-b681-11eb-9d89-1af750be4442.png)

Some SQL fixes were made for release 21.0.5. Could you please try [EA](https://dbeaver.io/files/ea/) or new 21.0.5 release tomorrow?

If the issue still can be reproduced, please tell me the driver ve

[2021-05-16 17:10] kseniiaguzeeva commented on #12220
Thank you for the suggestion.

[2021-05-16 19:06] flambchap commented on #10188
The issue is not specific for cron.

[2021-05-16 19:43] swbr opened #12484 "Set column format > Epoche time: Remember last used unit"
I have lots of databases with lots of tables, which contain integer fields with unix epoche values.
One of the features of dbeaver I really like is its ability to display such integer fields as human readable  timestamp.

However, dbeaver assumes the unix epoche is given in milliseconds, and I have to switch to seconds every time.
It would be great if dbeaver would remember the last used unit and

[2021-05-16 22:16] bcm5645 commented on #11378
Hi Ksenia
I just sent the video by email to kseniia@jkiss.org.
Thank you for taking this issue.
I hope for solving it.
/Wiktor

[2021-05-17 02:59] shaoyu0102 opened #12485 "Read-only: No Corresponding table column"
I want to edit value from UI But show Read-only: No Corresponding table column ,
can't edit Value in UI , Upgrate 21.0.4 after ..

![image](https://user-images.githubusercontent.com/84300411/118427000-d667b000-b6fe-11eb-8e22-d732af17b309.png)

![image](https://user-images.githubusercontent.com/84300411/118426934-bdf79580-b6fe-11eb-82a9-befd369c3cbc.png)

[2021-05-17 05:31] lemon777 commented on #12172
The same problem.
new version dbeaver for windows + update office extension = restarting loop

[2021-05-17 05:34] Matvey16 commented on #12485
Can you specify what database and driver you are using?

[2021-05-17 05:40] shaoyu0102 commented on #12485
Oracle

[2021-05-17 06:44] Ohhh12 opened #12486 "Create a column directly, the comment can’t be saved?"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-05-17 07:18] LonwoLonwo commented on #12485
Hello @shaoyu0102
Table DDL and SQL Query are important, like here https://github.com/dbeaver/dbeaver/issues/11891
Can you provide them with us?

[2021-05-17 07:41] LonwoLonwo commented on #10818
Ok, now I can reproduce it. Thanks for investigation.

[2021-05-17 07:41] Matvey16 opened #12487 "DB Transfer: Transferring one additional column creates duplicate rows"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.5

#### Connection specification:
- Database name and version PostgreSQL, DB2 LUW
- Do you use tunnels or proxies : SSH

#### Describe the problem you're observing:
When transferring only one additional column with mapping "create" and leaving others as "existing", dbeaver instead transfers every co

[2021-05-17 07:45] uslss commented on #12486
@luoye003 please, provide more info: which db do you use? dbeaver version?

[2021-05-17 07:49] uslss commented on #12484
thanks for the suggestion

[2021-05-17 07:54] Chris-V-DK commented on #1555
Is there anybody taking care of this issue?
We are back to MSSQL Server Manager until this issue is resolved...

[2021-05-17 08:15] #12128 closed, assigned to uslss, ShadelessFox

[2021-05-17 08:41] Matvey16 opened #12488 "Error when transferring big numbers in columns with DECIMAL data type"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.05.

#### Connection specification:
- Database name and version DB2 LUW
- Do you use tunnels or proxies: SSH

#### Steps to reproduce, if exist:
1. Create a table with DECIMAL column(s)
2. Fill it with numbers to have a sum of at least 1000000
3. Begin an export of this table.

**Expected result:** Ta

[2021-05-17 08:47] serge-rider commented on #11314
I think we should add per-column filters for all object lists (e.g. metadata editor).

[2021-05-17 08:52] serge-rider commented on #11205
Is it still reproducible in the recent versions (21.0+)?

[2021-05-17 08:58] serge-rider commented on #11899
Unfortunately we don't have Cache server in our test env

[2021-05-17 09:00] serge-rider commented on #11772
Now we can show big numbers. We still can't edit them.

[2021-05-17 09:24] PhilippeBrossel commented on #12216
No problem.
In the meantime, I cloned the repo and could find explanations/fixes for some of the issues.

I would like to open separate issues for better readability and contribute my changes as a starting point for enhancements/discussions.

Is that OK for you ?

**Here a summary of my findings :**

* DB2 is the common name for Ibm DB-products, but they differ significantly. That's the reason why

[2021-05-17 09:29] kseniiaguzeeva commented on #11803
Cannot be reproduced anymore

[2021-05-17 09:29] #11803 closed, assigned to nobody

[2021-05-17 09:35] kseniiaguzeeva commented on #11336
Cannot be reproduced anymore

[2021-05-17 10:29] chan18 commented on #12048
hi @serge-rider incressing the ram size from 1gb to 4gb in the dbeaver.ini file fixed my issue.

[2021-05-17 11:21] Matvey16 opened #12490 "Can't chose default option for "quote always" in CSV Export"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.5

#### Connection specification:
- Database name and version DB2, Oracle

#### Steps to reproduce, if exist:
1. Select **Export** from table context menu
2. Select Export to CSV format
3. Change "quote always" option to any other than default.
4. Try to change this option again

**Expected result:*

[2021-05-17 11:49] ShadelessFox commented on #12488
Similar issue: #12474

[2021-05-17 12:06] Matvey16 opened #12492 "Execution plan for DB2 can't be saved"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.5

#### Connection specification:
- Database name and version DB2 LUW
- Do you use tunnels or proxies: SSH

#### Steps to reproduce, if exist:
1. Open SQL Editor and execute an SQL statement.
2. Click `Explain execution plan`

**Expected result:** `Save plan` button appears at bottom-right corner

*

[2021-05-17 12:21] #12380 closed, assigned to nobody

[2021-05-17 12:22] #12421 closed, assigned to nobody

[2021-05-17 12:25] #12197 closed, assigned to nobody

[2021-05-17 12:26] #12165 closed, assigned to nobody

[2021-05-17 12:28] #12087 closed, assigned to nobody

[2021-05-17 12:32] uslss commented on #12016
there is no update on an issue for a long time.
if it is still actual for you - feel free to reopen it with additional info.

[2021-05-17 12:32] #12016 closed, assigned to nobody

[2021-05-17 12:32] #11892 closed, assigned to nobody

[2021-05-17 12:33] #12048 closed, assigned to nobody

[2021-05-17 12:33] fossildoc commented on #11480
This bug has not been fixed. The system behaves exactly as it did when I made the o.p.

[2021-05-17 12:34] #11800 closed, assigned to nobody

[2021-05-17 12:34] #11799 closed, assigned to nobody

[2021-05-17 12:35] #11671 closed, assigned to nobody

[2021-05-17 12:41] flambchap commented on #9953
We show an error in the error log, and it's enough.

[2021-05-17 12:41] #9953 closed

[2021-05-17 12:44] uslss commented on #11614
@GaryLiuTelus sorry for the long response. Database and host could be changed in connection settings, in case of connection creation using New connection button. It is not needed to set the values (e.g. host) you need in driver properties.
![image](https://user-images.githubusercontent.com/31996417/118490516-b0560600-b726-11eb-91be-cfbc32ba7a6c.png)

[2021-05-17 12:45] #11233 closed, assigned to nobody

[2021-05-17 12:47] #5865 closed

[2021-05-17 12:49] ShadelessFox commented on #11480
Can you please provide more information and demonstrate your issue by capturing a video?

[2021-05-17 13:05] uslss commented on #2673
already implemented
https://github.com/dbeaver/dbeaver/wiki/Command-Line

[2021-05-17 13:05] #2673 closed

[2021-05-17 13:06] uslss commented on #2474
already implemented
https://github.com/dbeaver/dbeaver/wiki/Project-security

[2021-05-17 13:06] #2474 closed

[2021-05-17 13:09] Matvey16 opened #12503 "Error when exporting table to JSON with a DATE type column"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.5

#### Connection specification:
- Database name and version
- Driver name DB2
- Do you use tunnels or proxies: SSH

#### Steps to reproduce, if exist:
1. Create a table with a DATE type column
2. Fill the column with at least one date
3. Select `Export data` from the context menu
4. Select JSON fo

[2021-05-17 13:10] GaryLiuGTA commented on #11614
@uslss Thanks for your reply! My URL string contains more information like

Where should I put these information?

[2021-05-17 13:12] uslss commented on #3649
seems feature is already implemented
![image](https://user-images.githubusercontent.com/31996417/118494279-a8986080-b72a-11eb-9e1d-42c6febb76e8.png)

[2021-05-17 13:12] #3649 closed

[2021-05-17 13:18] kseniiaguzeeva commented on #12238
Thank you for the report.

[2021-05-17 13:34] kseniiaguzeeva commented on #12245
We have _Copy as picture/Save as picture_ options. Are they inconvinient?
![116032842-0d4f2680-a669-11eb-9150-92ef7bc9be6a](https://user-images.githubusercontent.com/51405061/118497394-b3082980-b72d-11eb-8616-1f09051bd552.png)

[2021-05-17 13:47] kseniiaguzeeva commented on #12247
Unfortunately I cannot reproduce it.  Could you please send table/column DDL and a cell value to reproduce it?
Which DBeaver version do you use?

[2021-05-17 13:58] kseniiaguzeeva commented on #12279
Unfortunately I cannot reproduce it. Could you please send table DDL and query example to reproduce?

[2021-05-17 14:05] kseniiaguzeeva commented on #12280
The last value has bigger length and cells are right aligned. So it is not a bug. Do you have any alternative how to show such values?

[2021-05-17 14:25] ShadelessFox commented on #5417
Hello @marcgise,

Sorry for really late response 😄

Unfortunately, you cannot "remove" identity from column in SQL Server.

[2021-05-17 14:25] #5417 closed

[2021-05-17 14:42] AdrianoBortoloto opened #12507 "DBeaver doesn't work with the param "-reuseWorkspace""
#### System information:
- Windows 10
- DBeaver 21.0.5

#### Issue:
DBeaver doesn't work with the param "-reuseWorkspace". When I removed that parameter, Dbeaver open sucessfully.

#### Steps to reproduce:
1. Create a windows shortcut with the command: "C:\path\to\install\dbeaver.exe -reuseWorkspace"
DBeaver open the starter dialog and close it in a few seconds.

2. Remove the param reuseWorkspace

[2021-05-17 14:47] ShadelessFox commented on #11772
Works as expected (limit is up to 38 digits of precision).

[2021-05-17 14:47] #11772 closed

[2021-05-17 15:19] DariaMarkaryan opened #12508 "Changed ER connections can't be arranged by "Arrange diagram""
#### System information:
- Windows 10, DBeaver CE 21.0.5, Derby Server (but I can reproduce this with other databases)

#### Describe the problem you're observing:
If the links between tables in the ERD have been edited (bent by moving the points in the middle of the connection), the button Arrange diagram acts on the tables, but not on the edited connections.
#### Steps to reproduce, if exist:
Ma

[2021-05-17 15:37] KES777 commented on #12280
Yes, alternative is to show all digits:
`2019-02-27 17:47:16.500310+02`

[2021-05-17 15:41] KES777 commented on #12279
I send everything you need to reproduce it.

See additionally video:
[Kazam_screencast_00060.mp4.zip](https://github.com/dbeaver/dbeaver/files/6495009/Kazam_screencast_00060.mp4.zip)

[2021-05-17 16:24] mkgrgis commented on #12245
No problems, @kseniiaguzeeva , but i want to send to colleges not a picture, but a simple live web app. This web app works in case of "Open in browser" calling. This web app allow to zoom in, zoom out, switch some layers, press on point and read a data.

[2021-05-17 17:01] mkgrgis commented on #12247
In 21.0.5 this problem still actual. I make switching by this button in centre
![изображение](https://user-images.githubusercontent.com/41448637/118527400-f07ab000-b749-11eb-8cf7-99bfd885e349.png)

A cell value POINT (30.4723975 59.6924162) , but it seems the issue depends on value not.

[2021-05-17 18:40] kamiyubidan commented on #12376
Hi. I'm really sorry. I was forced to revert to version 7.3.5 due to the instability. If I get a chance to install the newer version again I'll try to get that information to you on this issue or open a new issue if you decide to close this.

[2021-05-17 21:23] EthanZeigler commented on #10184
I'd like to add: This is an issue on windows as well. Exact same conditions. Scroll via trackpad only jumps by column. The scrollbar is smooth as expected.

[2021-05-17 22:13] gab444 opened #12509 "Unable to Install latest Dbeaver Eclipse Plugin"
#### System information:
- Operating system Win10
- DBeaver version - DBeaver IDE	21.0.5.202105160657
- Additional extensions -

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
unable to install the plugin. getting following error
Cannot complete the install because one or more

[2021-05-17 22:30] GreenGem-ButOnGitHub opened #12510 "DBeaver client not opening due to "Jaava heap space" error. Heap has already been manually upped to 4GB."
#### System information:
- Windows 10 Home 64-bit (10.0, Build 19041)
- DBeaver 21.0.5 x86

#### Connection specification:
- This is an issue with the dbeaver client, not a specific database.

#### Describe the problem you're observing:
Running "dbeaver.exe" causes the launcher to appear (see image below), hang on "Starting DBeaver," then disappear. This creates a dbeaver background process, but d

[2021-05-17 22:42] gab444 commented on #12509
reinstalled eclipse and tried again, worked. hence closing the issue,

[2021-05-17 22:42] #12509 closed, assigned to nobody

[2021-05-17 22:58] p91paul commented on #12376
@uslss the stacktrace mentions findreplace, so maybe it's something that happens to me as well. If my issue and OP are indeed the same, you'll need some sql scripts and some table editors open. Search something in the script with ctrl+F, then switch to a table editor leaving the find window opened. You do that a few times and you might be able to reproduce.
To stop the NPE from happening, you just

[2021-05-18 01:58] luccasmf opened #12512 "Error on subtracting datetimes in PostgreSQL database"
When I try to subtract two DateTimes to get a TimeSpan as result in dBeaver I get a wrong result as you can see below

![image](https://user-images.githubusercontent.com/5990448/118578785-2aa47b80-b763-11eb-9129-6cdbf412f63c.png)

For comparison purposes, I'm sending a pgAdmin screenshot as well:

![image](https://user-images.githubusercontent.com/5990448/118578848-4c9dfe00-b763-11eb-939c-b707af7c

[2021-05-18 04:53] ayan84 opened #12513 "Version 21.0.5.202105160657 table field name auto completion not working"
I am using dbeaver for almost 6 month and its a beautiful utility. Yesterday it updated to version 21.0.5.202105160657 and after that it stop suggestion after table alias name. It keeps suggesting after schema name, but after table it shows no proposal when I expect field name. The database is a remote one. I attach here one screenshot for  clearing the situation.
![Screenshot 2021-05-18 104951](h

[2021-05-18 07:22] LonwoLonwo commented on #12513
Hello @ayan84
Thanks for the bug report!

I see that the problem is with schema name - this is special word.
![2021-05-18 10_18_25-](https://user-images.githubusercontent.com/45152336/118608618-8e11c600-b7c2-11eb-94db-3cc39d58b133.png)

As workaround for now you can quoted schema name:
![2021-05-18 10_18_09-](https://user-images.githubusercontent.com/45152336/118608844-d29d6180-b7c2-11eb-8c04-c9d5

[2021-05-18 07:24] Matvey16 commented on #9762
Fixed and verified.

[2021-05-18 07:24] #9762 closed

[2021-05-18 07:25] ayan84 commented on #12513
Thanks, it actually solves the issue.

[2021-05-18 08:10] flambchap commented on #11083
Fixed.

[2021-05-18 08:12] flambchap commented on #10737
We've decided to add a possibility to rename the user from the navigator tree instead, which solves the original problem as well.

[2021-05-18 08:21] akilovich commented on #11336
It can be easily reproduced by using the steps you've provided above.

[2021-05-18 08:40] serge-rider commented on #12346
@smk-dev20 thanks for the PR 👍
But after all I've fixed it a bit differently.

[2021-05-18 10:19] Matvey16 opened #12517 "Vertica driver is not downloaded automatically"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 2.0.5

#### Connection specification:
- Database name and version Vertica

#### Steps to reproduce, if exist:
1. Have a clean version of DBeaver without Vertica driver
2. Start connection creation wizard and chose Vertica as driver
3. (Optional) Click `Edit driver settings`
4. Enter valid information for

[2021-05-18 10:31] Matvey16 commented on #11785
Thank you for the report. Please specify when are you trying to change schema? While working in SQL Editor, correct?

[2021-05-18 10:31] LonwoLonwo opened #12518 "Can't see function parameters"
DBeaver 21.0.5

Informix problem + Sybase problem

![2021-05-18 13_24_09-DBeaver Enterprise 21 0 5 - addtoset2_combine](https://user-images.githubusercontent.com/45152336/118636308-392f7900-b7dd-11eb-834e-4d57804337be.png)

Function parameters list is empty.

[2021-05-18 10:46] AndrewGabelliTR opened #12520 "Retrieving rows from Oracle seems very slow"
#### System information:
- Windows 10 Enterprise 20H2
- 21.0.4
- None

#### Connection specification:
- Oracle
- Default drivers
- No tunnels or proxies

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

1. Open a SQL editor and run a SELECT query that returns at least several hundred rows.
The first hundred rows are populated in the data grid.

2. Scroll down in the

[2021-05-18 10:48] #12520 closed, assigned to nobody

[2021-05-18 10:48] Matvey16 commented on #12517
Works as expected for CE version. Vertica driver can't be downloaded automatically and has to be downloaded manually from their official site.

[2021-05-18 10:48] #12517 closed, assigned to nobody

[2021-05-18 10:54] bobf32 opened #12521 "Retrieving data from Oracle seems really slow"
#### System information:
- Windows 10 Enterprise 20H2
- 21.0.4
- None

#### Connection specification:
- Oracle
- Default drivers
- No tunnels or proxies

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

1. Open a SQL editor and run a SELECT query that returns at least several hundred rows.
The first hundred rows are populated in the data grid.

2. Scroll down in the

[2021-05-18 11:09] uslss commented on #12521
@bobf32 you can try to change some settings related to performance in Connection configuration and check if it helps or not.
![image](https://user-images.githubusercontent.com/31996417/118641240-92e67200-b7e2-11eb-9ee0-f0f1b2362643.png)

[2021-05-18 11:16] uslss commented on #12512
thanks for the report

[2021-05-18 11:22] bobf32 commented on #12521
@uslss I tried enabling each of the four options individually and none made any difference.

[2021-05-18 11:40] uslss commented on #12063
verified

[2021-05-18 11:40] #12063 closed, assigned to uslss, ShadelessFox

[2021-05-18 11:41] Matvey16 commented on #11842
This problem is specific to SQLite and SQL Server syntax and how DBeaver processes row count for this databases. Unfortunately we don't have a solution for this so far. For the time being, as a workaround, you can count rows (if you need to know exact number) by doing minor adjustments to your query to not include duplicate columns.

[2021-05-18 11:42] uslss commented on #12199
verified

[2021-05-18 11:42] #12199 closed, assigned to uslss, ShadelessFox

[2021-05-18 11:49] uslss commented on #12443
verified

[2021-05-18 11:49] #12443 closed, assigned to uslss, ShadelessFox

[2021-05-18 11:54] uslss commented on #10737
verified

[2021-05-18 11:54] #10737 closed

[2021-05-18 11:55] uslss commented on #12507
thanks for the report

[2021-05-18 12:11] serge-rider commented on #12507
Fixed (it was broken when we started to use the same parameter for exclusive workspace mode mark)

[2021-05-18 12:47] tomchiverton opened #12522 "Automatically display error when SQL entered runs, but errors"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I write some SQL, press the CTRL-Enter shortcut to run it, and nothing happens. I have to take my hands of the keyboard, go to the mouse, move the cursor all the way to "Log" in the side bar, click that, then find the most recent row and double click it.

All to see I typo'd a table name.

**Describe the

[2021-05-18 12:49] boukenka commented on #8051
@kseniiaguzeeva Hello. Is there an update? Is there any hope that this feature will ever be implemented?

[2021-05-18 13:05] uslss commented on #11871
verified

[2021-05-18 13:05] #11871 closed, assigned to uslss, ShadelessFox

[2021-05-18 13:08] uslss commented on #12346
verified

[2021-05-18 13:08] #12346 closed, assigned to serge-rider, uslss

[2021-05-18 13:21] uslss commented on #12507
verified

[2021-05-18 13:21] #12507 closed, assigned to serge-rider, uslss

[2021-05-18 13:28] Matvey16 commented on #10188
Verified

[2021-05-18 13:28] #10188 closed

[2021-05-18 13:28] uslss commented on #12522
@tomchiverton could you tell in which cases error isn't shown? which dbeaver version and OS do you use?
Usually, errors are shown next ways:
- default (e.g. instead of resultset)
![image](https://user-images.githubusercontent.com/31996417/118659360-ea420d80-b7f5-11eb-9ce6-8ec5c11a8a5b.png)
- pop-up with an error appears (if option is enabled in preferences)
![image](https://user-images.githubuserc

[2021-05-18 13:30] uslss commented on #11858
looks like it is not dbeaver issue

[2021-05-18 13:40] uslss commented on #6158
seems to be related with #10765

[2021-05-18 13:40] #6158 closed

[2021-05-18 13:51] hrushikesh-shrikrishna-joshi commented on #12513
Hey @ayan84, hope it solved your issue. If it did, please mark it as closed.

[2021-05-18 14:17] Matvey16 commented on #12463
Verified

[2021-05-18 14:17] #12463 closed, assigned to ShadelessFox, Matvey16

[2021-05-18 14:33] LonwoLonwo commented on #12513
Nope, sorry @hrushi8888

I gave workaround, not fixed the problem. Using special schema name without quotes in statement - it works for PostgreSQL. So autocomplete must work in this case either.

[2021-05-18 14:39] hrushikesh-shrikrishna-joshi commented on #12513
Ohh. Ok. I didnt get that.
I'm new here, just trying to start from somewhere.

[2021-05-18 14:43] LonwoLonwo commented on #12513
@hrushi8888 we have many unanswered discussions https://github.com/dbeaver/dbeaver/discussions :grin:

[2021-05-18 14:54] phildebrand commented on #9414
I have the same issue. Remapped the HOME/END buttons but stops working after a few minutes. A restart fixes it (for a short while). The current version I use is 21.0.4.202105021514 on Big Sur but it has been an issue for me since I started using DBeaver and that is already a few years now.

[2021-05-18 15:28] LonwoLonwo commented on #11154
Hello @a123z
Can you tell me more please about your issue?

Not sure I can reproduce it.
![lWPUe9O00j](https://user-images.githubusercontent.com/45152336/118680082-1c0fa000-b807-11eb-8881-a541b682f039.gif)

And what plan is correct?

[2021-05-18 15:59] Magublafix opened #12524 "DB2 - XML Column only showing some Java Object"
#### System information:
- Windows 10
- DBeaver 7.2.5

#### Connection specification:
- DB2 v11
- jdbcc4

#### Describe the problem you're observing:
XML Data is not shown correctly. Instead a Error :"Error loading text value" is shown.

#### Steps to reproduce, if exist:
Execute Query on XML column (e.g. SELECT XMLDATEN  FROM xxx.SMXML FETCH FIRST 10 ROWS ONLY )
![grafik](https://user-images.gith

[2021-05-18 16:05] flambchap commented on #12472
There is a bigger usability problem in the entity editor. If you double-click on the boolean editor in case 1, the table column editor opens.

[2021-05-18 16:06] flambchap commented on #12472
The issue with the coloring can only be reproduced on the light theme using the default color scheme (and still not 100% of the time).

[2021-05-18 21:57] p91paul commented on #12521
is it a simple select * from table or a more complex query?
Also, does the table contain CLOB columns?

[2021-05-18 23:41] devscheffer commented on #12420
I have updated the info

[2021-05-19 03:45] qinhanlei commented on #11260
Hi, @uslss
I got this problem, on macOS 10.14.6.
I have updated the dbeaver from version 7+ to version 21.0.5.202105160657 yesterday, from the official website.

[2021-05-19 04:25] GertL commented on #12330
But still, the issue for me is not resolved. None of the suggestions here worked.

[2021-05-19 06:22] bobper commented on #3607
where is insert button when table is empty!!!!
it's awful

[2021-05-19 07:03] LonwoLonwo commented on #10844
Ability to add comment to data type via UI added here https://github.com/dbeaver/dbeaver/issues/7079
Did this solve your problem?

[2021-05-19 07:12] #11842 closed, assigned to Matvey16

[2021-05-19 07:36] LonwoLonwo commented on #12330
Auto-completion in SQL Editor depends on many conditions. Could you please be more specific? Do you use SQL Editor with default schema/database? When is the unwanted behavior observed?
Screens or video will be also very helpful.

[2021-05-19 07:39] Matvey16 commented on #11785
Reproduced the issue. The problem is in the UI, where it is possible for the schema list to go beyond the window bottom border.

[2021-05-19 07:45] LonwoLonwo commented on #11370
In scope of this ticket we added table statistic info and new fields in table info, Sequence support (with ability to drop, rename and change increment value via UI) and now we read procedures and functions from database, not from driver. All this works only in [EE version](https://dbeaver.com/).

[2021-05-19 07:58] tomchiverton commented on #12522
21.0.5 on Ubuntu 20.04 LTS

* default - "result 1" tab flashes up for a split second, then vanishes. Nothing else appears.
* enable preference - this works, and provides a reasonable workaround.

So I suppose the bug is really why the "default" option doesn't work.

[2021-05-19 08:18] DariaMarkaryan opened #12525 "Creation of a export task cannot continue if if you decide to click "Back" on transfer target type step"
#### System information:
- Windows 10, DBeaver 21.0.5 CE, Derby Server (reproduces in postqres, sqlite too)

#### Steps to reproduce, if exist:
Open create new task -> type = export -> add table -> next -> back -> next again -> on the transfer target type step target types are disabled
![image](https://user-images.githubusercontent.com/43252954/118779102-66d6f980-b893-11eb-9605-db68c2c20925.png)
!

[2021-05-19 08:19] Matvey16 commented on #11785
This list is an MS Windows native component. If you don't want to change your taskbar position, you can click on a schema to see a list in a separate window.

https://user-images.githubusercontent.com/82543000/118779785-10b68600-b894-11eb-816c-160f6999ddc3.mp4

[2021-05-19 08:27] DariaMarkaryan opened #12526 "Automatic double quotes are added when importing data to the name of the new table"
#### System information:
- Windows 10, DBeaver 21.0.5 CE, Derby Server (reproduces in Postgres)

#### Steps to reproduce, if exist:
![image](https://user-images.githubusercontent.com/43252954/118774791-e1514a80-b88e-11eb-9555-9de7802e305c.png)
And when you disactivate table name field there double quotes are added:
![image](https://user-images.githubusercontent.com/43252954/118774964-13fb4300-b88f

[2021-05-19 09:30] #11785 closed, assigned to Matvey16

[2021-05-19 09:44] Ra5CZ opened #12527 "Table search in metadata not work"
System information:
Operating system (distribution) and version Win10
DBeaver version 21.0.5

Connection specification:
Database: MSSQL

Steps to reproduce, if exist:
Open metadata search, select object source '_any database_', select object types 'Tables', select Name match to 'Contains' enter a valid value and begin the search

Expected: suitable objects are found
Actual result: objects are not

[2021-05-19 10:05] LonwoLonwo commented on #10611
Fixed

[2021-05-19 11:52] kseniiaguzeeva commented on #12279
This file doesn't work on my computer. Could you please send it to kseniia@jkiss.org?

[2021-05-19 11:58] kseniiaguzeeva commented on #12240
Sorry for the long responce. Of cause, please send PR.

[2021-05-19 12:23] kseniiaguzeeva commented on #12323
Is the issue still actual? Please try to reset workspace https://github.com/dbeaver/dbeaver/wiki/Reset-workspace.

[2021-05-19 12:26] kseniiaguzeeva commented on #12324
Please send log files https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-05-19 12:53] serge-rider commented on #12339
Perhaps something is wrong with this query:
[code]
DBeaver uses it to read SQL Server data types.
Could you try to execute it in SQL editor to see how it works?

[2021-05-19 12:54] mk1tools commented on #4791
Same problem. After each DBeaver upgrade, I install Office plugin. Then DBeaver start to loop on splash screen.
I install DBeaver for "anyone" on Windows 10.
I found this workaround.
1) upgrade Dbeaver
2) Start Dbeaver and install Office plugin, without automatic restart. Close Dbeaver.
3) Start DBeaver "as administrator" and install Office plugin, without automatic restart. Close Dbeaver.
4) Star

[2021-05-19 13:02] mk1tools commented on #9319
Same problem. After each DBeaver upgrade (version 7 and now version 21.x.x), I install Office plugin. Then DBeaver start to loop on splash screen.
I install DBeaver for "anyone" on Windows 10.
I found this workaround:
1. upgrade Dbeaver
2. Start Dbeaver and install Office plugin, without automatic restart. Close Dbeaver.
3. Start DBeaver "as administrator" and install Office plugin, without automa

[2021-05-19 13:08] LonwoLonwo commented on #12354
Hello @techlock77

Did you use special dialog from above?

![2021-05-19 16_01_07-DBeaver Enterprise 21 0 5 - _TEST 3 1_ Script-118](https://user-images.githubusercontent.com/45152336/118817111-8b46cc00-b8bb-11eb-96df-f870d42cb323.png)

May be, you can make a video of incorrect behaviour?
I can't reproduce this issue if I change default database with "Choose catalog/schema" dialog (Ctrl+0)
But i ca

[2021-05-19 13:18] kseniiaguzeeva commented on #12207
Could you please send [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-05-19 13:37] kseniiaguzeeva commented on #12290
Seems we've lost this option. Thank you for the report.

[2021-05-19 13:58] kseniiaguzeeva commented on #12245
**Open in Browser** already does it. I see your FR #12244. Am I correct that this ticket is continuation of 12244?

[2021-05-19 13:59] kseniiaguzeeva commented on #12247
Still cannot reproduce. Could please send a video how it happened?

[2021-05-19 14:00] kseniiaguzeeva commented on #12328
Thank you for the report. Looks like a third party issue.

[2021-05-19 14:01] manticore-projects commented on #12240
Cool, I will start working on and maybe we will achieve something.
Cheers

[2021-05-19 14:02] kseniiaguzeeva commented on #12344
Please try Smart-Commit https://github.com/dbeaver/dbeaver/wiki/Auto-and-Manual-Commit-Modes#smart-commit-mode. I hope it will cover your needs

[2021-05-19 14:03] kseniiaguzeeva commented on #12355
Thank you for the suggestion.

[2021-05-19 14:35] flambchap commented on #11336
The problem is reproducible. More than that, after steps 1 and 2 navigator tree starts to lie.

[2021-05-19 14:59] mkgrgis commented on #12247
In a moment of changing map provider zoom switches to 0 (full planetary map) and a point clears (no point on map). Hmm... to make video will be a problem. I'll to study a programs for video catching.

[2021-05-19 15:01] mkgrgis commented on #12245
No, this ticket isn't a continuation of https://github.com/dbeaver/dbeaver/issues/12244. Yes, this two tickets is about map subsystem, but programmatically it's independent.
This ticket is about saving a web application as archive or a group of files, about sending HTML/JavaScript _live web map app_ as group of files to other users.

[2021-05-19 15:05] KES777 commented on #12279
done

[2021-05-19 15:48] taf1-cornell-edu opened #12532 "SQL editor - navigating through tabs breaks in rightmost tab"
#### System information:
- Operating system (distribution) and version
      Windows 10 Enterprise version 1909
- DBeaver version
      DBeaver Community Version 21.0.5.202105160657
- Java version
- Additional extensions

#### Describe the problem you're observing:
While navigating through open tabs using ctrl+tab to go right  and ctrl+shift+tab to go left,
if the rightmost tab is a SQL editor, an

[2021-05-19 15:59] brilliant-smart commented on #12323
The issue persisted. BTW I reloaded the kali linux os and continue using dbeaver version 6 that comes with the os.
My issue now is how to update the dbeaver to latest version without going back to same problem. I can not install version 21 on top of it and I don't wanna uninstall it and run back to previous issue.

[2021-05-19 17:08] tati-kru commented on #3607
@bobper to insert a new row you can click the button on the bottom toolbar; select the option from the context menu (see the screenshot above); in the main menu select Edit >> Add row; use the shortcut Alt+Insert.

[2021-05-19 17:32] tati-kru opened #12533 "The result tab is collapsed after the query execution"
1. Open any script in the SQL-editor or create a new one.
2. Execute query
3. Collapse the Results area by arrows
4. Close the script
5. Open SQL editor once again and execute query.

The Results are hidden and cannot be expanded in one click.

[2021-05-19 17:43] serge-rider commented on #12533
Fixed.
Now we will restore original sash size if one of sash controls is too narrow.

[2021-05-19 19:47] KOLANICH commented on #12324
Really nothing especially valuable there, just a privacy risk of leaking some sensitive info like local paths to products and `~`. It seems to debug it properly you would still have to use `dolt` locally. But if you really need **my** log, I can provide it (with some edits, of course).

[2021-05-19 20:25] WellspringCS opened #12534 "output window cannot be moved to lower half of screen"
#### System information:
- Linux Ubuntu 18.04
- 21.0.5

#### Describe the problem you're observing:
Output tab used to open in lower half of screen. As of upgrade it opens to right and cannot be moved to lower half, where it used to be.
![image](https://user-images.githubusercontent.com/34347780/118879540-761b6e80-b8b6-11eb-8c1f-f80ba3949833.png)

#### Steps to reproduce, if exist:

[2021-05-19 20:41] bobf32 commented on #12521
@p91paul Is straight select *. No clobs.

[2021-05-19 21:32] securit commented on #12284
I manually updated the drivers as below and they worked. I wonder why the most recent drivers were not part of the standard install?
<img width="755" alt="Screen Shot 2021-05-20 at 9 31 17 AM" src="https://user-images.githubusercontent.com/168565/118887285-40c25f80-b94e-11eb-8422-58ad507c4716.png">

[2021-05-19 22:31] p91paul commented on #12521
@bobf32 are your oracle and mariadb instances on the same network?
I constantly use Oracle and never noticed anything like this.

[2021-05-20 00:21] echan888 commented on #12339
I ran the query above using SSMS against the Synapse dedicated SQL pool database and got 27 rows back < 1 second. Result set attached. Thanks.
![sys types-resultset](https://user-images.githubusercontent.com/83606824/118900799-ab2fbd00-b8c6-11eb-91c7-0eecf1e82720.png)

[2021-05-20 04:32] echan888 commented on #12339
I also ran it from DBeaver SQL Editor window and results were returned instantaneously. Result set attached.
![sys types-resultset-fromSQLEditor](https://user-images.githubusercontent.com/83606824/118919574-9e709080-b8e9-11eb-975c-36ebe8943a1b.png)

[2021-05-20 05:32] ruffyleaf opened #12535 "Unable to install and use older Hive-JDBC driver"
#### System information:
- Operating system (distribution) and version
-- osx Big Sur, 11.3
- DBeaver version
-- Version 21.0.4.202105021514, Community
- Java version
-- Java(TM) SE Runtime Environment (build 1.8.0_212-b10)
- Additional extensions

#### Connection specification:
- Database name and version
-- Hive 1.1.0 on VirtualBox Cloudera appliance
- Driver name
-- Hive-JDBC driver
- Do you us

[2021-05-20 07:17] stratozero commented on #12172
It seems to be the same problem as of issue [4791](https://github.com/dbeaver/dbeaver/issues/4791), probably linked to the office plugin and an installation with admin rigths.
In my case I stopped the restarting loop deleting the `plugin` folder under `%USERPROFILE%\.eclipse\org.jkiss.product*`, as suggested in [the comment of Rich28 on the same issue](https://github.com/dbeaver/dbeaver/issues/479

[2021-05-20 07:20] Matvey16 commented on #11370
Problem is specific to snowflake and creating schemas with keyword names. As a workaround don't use Keywords in schema/database names.

[2021-05-20 07:20] #11370 closed, assigned to LonwoLonwo, Matvey16

[2021-05-20 07:48] Matvey16 commented on #12533
Verified

[2021-05-20 07:48] #12533 closed, assigned to serge-rider, Matvey16

[2021-05-20 07:50] DariaMarkaryan commented on #11598
Reproduced, error log:
[hs_err_pid8958.log](https://github.com/dbeaver/dbeaver/files/6513906/hs_err_pid8958.log)

[2021-05-20 07:59] kseniiaguzeeva commented on #11083
verified

[2021-05-20 07:59] #11083 closed, assigned to flambchap, kseniiaguzeeva

[2021-05-20 08:29] kseniiaguzeeva commented on #12534
In one of the previous releases, we moved it to the right side. You can minimize it and turn off auto-open when new messages appear.
![Screenshot 2021-05-20 at 11 28 51](https://user-images.githubusercontent.com/51405061/118945938-9c94e480-b95e-11eb-962d-1d6c293b17b5.png)

[2021-05-20 08:36] kseniiaguzeeva commented on #12535
Thank you for the report.

[2021-05-20 08:49] bcm5645 commented on #11380
Yes, that's the issue

[2021-05-20 08:50] ShadelessFox commented on #11380
Okay, I see now, thanks!

[2021-05-20 08:50] kseniiaguzeeva commented on #12353
We removed Edit toolbar in one of the previous releases. It is not a bug.

[2021-05-20 08:52] kseniiaguzeeva commented on #12357
We are going to implement it in one of future releases. Thank you for the suggestion.

[2021-05-20 08:55] kseniiaguzeeva commented on #12389
Thank you for the suggestion. We are going to implement it in one of future releases.

[2021-05-20 08:57] kseniiaguzeeva commented on #12405
Thank you for the suggestion and details. We are going to implement it.

[2021-05-20 09:27] MazrimT opened #12536 "Database Navigator expand "struct" data type"
**Is your feature request related to a problem? Please describe.**
The lack of this feature makes it harder and more complicated to find correct information.

**Describe the solution you'd like**
When expanding a table that contains struct-columns it should be possible to further expand these structs to see how the column is designed.

**Describe alternatives you've considered**
Being able to some

[2021-05-20 09:29] flambchap commented on #12248
Fixed the issue. Now it's impossible to map a resource path to the project root. I also added a mechanism that automatically does what @uslss has suggested.

[2021-05-20 09:30] flambchap commented on #10731
Fixed.

[2021-05-20 09:54] MazrimT commented on #12536
Should be noted, this is a Hive database using dbeavers built in driver. Struct is however not a Hive exclusing data type.

[2021-05-20 10:10] kseniiaguzeeva commented on #12393
It can be implemented. Thank you for the suggestion.

[2021-05-20 10:19] tomchiverton commented on #12522
Also the "Error executing query" modal does not appear when the app is maximised.

[2021-05-20 10:25] ceugenio commented on #12219
Hi @kseniiaguzeeva,

I try with release 21.0.5 but the problem persists.

The driver that I use is below.
![image](https://user-images.githubusercontent.com/15365719/118961690-e41e6f00-b964-11eb-8af0-2d74300d643b.png)

I try to use your driver but my AS400 refuse de connection on the port 50000 and I don't know why but the port is mandatory to confirm the connection settings
![image](https://user-

[2021-05-20 10:34] gavvvr opened #12537 "Oracle MView refresh does not work: class org.jkiss.dbeaver.ext.oracle.model.OracleTable cannot be cast to class org.jkiss.dbeaver.ext.oracle.model.OracleMaterializedView"
#### System information:
- Operating system (distribution) and version: Mac OS Catalina 10.15.7
- DBeaver version: 21.0.5.202105160657 (Runtime: 11.0.8+10)
- Additional extensions: None, pure installation

#### Connection specification:
- Database name and version: Oracle 12.1.0.2.0
- Driver name: ojdbc8:12.2.0.1 (I guess this version was bundled or downloaded from MVN central by default)
- Do you

[2021-05-20 10:39] Delaland commented on #1197
Why I have no cp1251 in "project explorer view->Resource->Text file encoding"??? Thnx

[2021-05-20 10:52] Matvey16 commented on #10611
Verified

[2021-05-20 10:52] #10611 closed

[2021-05-20 11:38] Matvey16 commented on #11900
Verified

[2021-05-20 11:38] #11900 closed, assigned to ShadelessFox, Matvey16

[2021-05-20 11:43] WellspringCS commented on #12534
I love your tool, and appreciate your taking time to answer. However, I want the output. I want it visible. But I liked it in the bottom half, where it was before.

I gather the current state is intended behavior (obviously) and also (less obviously) that there's no functionality provided for users to return it to where it was in earlier releases. Thanks for the info.

My vote is to make that dial

[2021-05-20 11:47] Matvey16 commented on #12248
Verified

[2021-05-20 11:47] #12248 closed, assigned to flambchap, Matvey16

[2021-05-20 11:51] Delaland opened #12538 "Change codepage in sql editor - no cp1251 in "project explorer view->Resource->Text file encoding""
#### System information:
- MacOS Big Sur 11.3.1
- DBeaver 21.0.5

#### Describe the problem you're observing:
There is no cp1251 in "project explorer view->Resource->Text file encoding"
![image](https://user-images.githubusercontent.com/84506209/118973703-9f9dce00-b97a-11eb-94ec-ac88a4132a1a.png)

Can't open Win-1251 sql-files (in Windows there is no problem).

[2021-05-20 11:56] Matvey16 commented on #12216
Thank you for your investigation. We don't have a fix for it as of now. If you would like to contribute by doing a pull request we will gladly review it.

[2021-05-20 12:04] PhilippeBrossel commented on #12216
OK, that's fine. Many thanks.
You can close this issue here since it mixes different points.
I will open more specific ones to _hopefully_ contribute something useful.

[2021-05-20 12:29] LonwoLonwo commented on #12518
Fixed.

[2021-05-20 12:30] LonwoLonwo commented on #12190
Fixed in DBeaver 21.1.0

[2021-05-20 12:31] LonwoLonwo commented on #10818
Fixed in DBeaver 21.1.0

[2021-05-20 12:32] Matvey16 commented on #12386
Thank you for the report. Have you tried SSHJ implementation for this connection? It is not included by default so for it to work you need to download [SSHJ Extension](https://marketplace.eclipse.org/content/dbeaver-sshj-support) for DBeaver.

[2021-05-20 13:11] sudeepm commented on #5536
if you are using a schema / table with _ or something like that in it, escape it with a \   and then send it. It should work. I faced this with a generic JDBC client and snowflake JDBC driver (even latest) and escaping with \ worked there.  I am not sure if dbeaver is handling \ differently , if so then probably you need to do a double escape (like \\ ) to make it work.

[2021-05-20 13:25] adolfoleonardiarval opened #12539 "JZ006: Caught IOException: java.io.IOException: JZ0TS: Truncation error trying to send DBeaver 7.0.0 - SQLEditor <Script-2994.sql>. JZ006: Caught IOException: java.io.IOException: JZ0TS: Truncation error trying to send DBeaver 7.0.0"
#### System information:
- Operating system (distribution) and version: Win10 64bit
- DBeaver version: 7.0.0
- Additional extensions

#### Connection specification:
- Database name and version Sybase Ver 16
- Driver name com.sybase.jdbc4.jdbc.SybDriver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
In every sql query there is the error:
JZ006: Ca

[2021-05-20 13:41] LonwoLonwo commented on #12539
Hello @adolfoleonardiarval
May be issue was fixed in previous releases.
Please test new DBeaver version https://dbeaver.io/ or last stable version https://dbeaver.io/files/21.0.0/

[2021-05-20 13:44] kseniiaguzeeva commented on #12537
I cannot reproduce it. Could you please send mview DDL example and logs completely https://github.com/dbeaver/dbeaver/wiki/Log-files?

[2021-05-20 13:45] root237 opened #12540 "Strange gibberish in tabs"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro 19042.985
- DBeaver version: 21.0.5.202105160657
- Java version: JDK 14 and JRE 1.8.0_231
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

There are certain UI element

[2021-05-20 13:50] Matvey16 commented on #12415
Thank you for the report. Unfortunately I couldn't reproduce this issue. Can you try this on version 21.0.5 ?

![2021-05-20_16h46_40](https://user-images.githubusercontent.com/82543000/118989760-f6130880-b98a-11eb-8422-5a10cbfc55c2.png)

[2021-05-20 13:54] Matvey16 commented on #12518
Verified

[2021-05-20 13:54] #12518 closed, assigned to LonwoLonwo, Matvey16

[2021-05-20 15:21] 1valdis commented on #11651
Can confirm, had a crash too on a Macbook Air M1, upgraded to 11.3.1 and it seems to be working.

[2021-05-20 15:42] bender270 commented on #12415
It seems to be fixed in 21.0.5 version. Thanks!

[2021-05-20 15:42] #12415 closed, assigned to nobody

[2021-05-20 17:04] kseniiaguzeeva commented on #12323
Could you send log files https://github.com/dbeaver/dbeaver/wiki/Log-files?

[2021-05-20 17:05] kseniiaguzeeva commented on #12240
Great)

[2021-05-20 17:17] kseniiaguzeeva commented on #12209
Some CPU issues were fixed in https://github.com/dbeaver/dbeaver/issues/11368. You can try [EA](https://dbeaver.io/files/ea/) or wait for the next release 21.0.0 (release date 31.05.21)

[2021-05-20 17:27] kseniiaguzeeva commented on #12168
Looks like it wasn't implemented before. But we are going to do it in future releases. It will be a separate feature request.

[2021-05-20 17:28] kseniiaguzeeva commented on #12217
What language do you use?

[2021-05-20 17:35] DevDorrejo commented on #12386
Thanks i install the extension, but how do i use?

still the same error:
![image](https://user-images.githubusercontent.com/7697566/119023583-1b464d80-b970-11eb-95af-a8f179bc5994.png)

[code]

[2021-05-20 17:48] Matvey16 commented on #12386
To use SSHJ instead of JSch you need to change it in SSH settings
![1](https://user-images.githubusercontent.com/82543000/119025410-c543cb00-b9ac-11eb-8c02-6eae77424519.png)

[2021-05-20 18:05] dkornacki-cutco opened #12544 "DB Full-Text search hangs when selecting schema with many tables"
#### System information:
- Windows 10 Pro 20H2
- DBeaver Version 21.0.5.202105160657

#### Connection specification:
- Database: DB2 for IBM i release 7.3
- Driver name: DB2 iSeries/AS 400

#### Describe the problem you're observing:
DBeaver hangs indefinitely when setting up DB Full-Text search. A cancel prompt displays with "Progress Information (Not Responding)", "Load sources tree." I've notic

[2021-05-20 18:48] DevDorrejo commented on #12386
Thank you!!!, Finally can stop doing everything from console XD!!>

thank you very much for the help.

If would be a good idea change the default to SSHJ.

[2021-05-20 19:28] KES777 commented on #12217
perl, DBIx::Class

[2021-05-20 19:33] KES777 opened #12545 "Show current function name"
**Is your feature request related to a problem? Please describe.**
It would be nice to see somewhere current function name (like git at their diff shows current function name (a-la context))

![image](https://user-images.githubusercontent.com/799021/119037848-25da0480-b9bb-11eb-814f-581cfaa73e75.png)
![image](https://user-images.githubusercontent.com/799021/119037964-430ed300-b9bb-11eb-9eb5-240c32

[2021-05-20 20:42] LonwoLonwo commented on #12490
Fixed. Now "disabled" - is default value.

[2021-05-20 22:30] gavvvr commented on #12537
@kseniiaguzeeva I was able to reproduce it with the following minimal setup:

#### 1. Get Oracle db

- get this code: https://github.com/oracle/docker-images/tree/main/OracleDatabase/SingleInstance/dockerfiles
- Download [Oracle 11 xe zip](https://www.oracle.com/database/technologies/xe-prior-releases.html)
- put downloaded zip to `dockerfiles/11.2.0.2` folder
- build the image with `chmod +x buil

[2021-05-21 02:41] CloudWise-Lukemiao opened #12546 "i use eclipse run dbeaver source code is not work"
![image](https://user-images.githubusercontent.com/76942485/119077638-3cb64080-ba27-11eb-9ec0-161418744ffc.png)

[code]

[2021-05-21 03:16] ChStark commented on #10765
Why my issue was closed in favor of this one if mine was older ?

[2021-05-21 05:04] meglio opened #12547 "UI not updated after table rename"
<img width="368" alt="table_rename_no_ui_updates" src="https://user-images.githubusercontent.com/282177/119084489-0ab1d800-ba41-11eb-8e11-419271eea81d.png">

#### System information:
- Operating system (distribution) and version Mac OS Big Sur
- DBeaver version Version 21.0.5.202105160657

#### Connection specification:
- Database name and version PostgreSQL 13

#### Steps to reproduce

1. Create

[2021-05-21 05:09] #12386 closed, assigned to nobody

[2021-05-21 05:59] Matvey16 commented on #12490
Verified

[2021-05-21 05:59] #12490 closed, assigned to LonwoLonwo, Matvey16

[2021-05-21 06:26] Matvey16 commented on #12190
Verified

[2021-05-21 07:43] Matvey16 commented on #12425
Thank you for the report. It didn't reproduce on my DB2 database. Does it happen with every table in every schema or with specific tables?

[2021-05-21 07:43] kseniiaguzeeva commented on #12245
Please open map view in browser and copy-paste the way to File explorer.  You will find the files there.
![W8usTFNXTv](https://user-images.githubusercontent.com/51405061/119101091-4b015e00-ba21-11eb-8d2e-9025f4d2ed49.jpg)

[2021-05-21 08:11] kseniiaguzeeva commented on #10731
verified

[2021-05-21 08:11] #10731 closed

[2021-05-21 08:11] Matvey16 commented on #12429
Thank you for the report. I reproduced it in MySQL database. Can you add what database is used on your screenshot?

[2021-05-21 08:15] franciskittu commented on #12425
Thank you for your reply, it happens with every table and schema, including
syscat ones.

Il Ven 21 Mag 2021, 09:43 Matvey16 ***@***.***> ha scritto:

[2021-05-21 08:34] KES777 commented on #12279
![image](https://user-images.githubusercontent.com/799021/119107716-2a88d200-ba28-11eb-88f0-3cbc3576bc71.png)

1. run this query (pay attention that whole-row value is selected) :
`select p from period p`;
2. select few columns (on screen that are: interval, trunc_iterval )
3. export as csv

actual: you get empty columns
expected: data for selected columns

[2021-05-21 08:56] kseniiaguzeeva commented on #12279
Reproduced. It's actual, when you try to export a composite type column in any format with enabled Show complex data structure. Thank you for the bug report.

[2021-05-21 08:56] xiaozhute opened #12550 "Questions about setting binding parameters"
#### System information:
- macOS 10.15.7
- DBeaver version : 21.0.4.202105021514
- Additional extensions

#### Connection specification:
- MySQL 5.7.32
- do not use tunnels or proxies (SSH, SOCKS, etc)

#### Steps to reproduce, if exist:
create table ta(id int auto_increment primary key ,va varchar(20));
insert into ta(va) values('aaa${aa}');
insert into ta(va) values('bbb${bb}');

The binding par

[2021-05-21 09:17] KES777 commented on #12279
Can I ask you put notices about what was wrong/was unclear at my first post? So next time I describe problem more clear.
Thank you.

[2021-05-21 09:17] MatteoR23 commented on #12190
I tried to build Dbeaver from devel branch, in order to check if it works.
Unfortunately, the problem is still there, exactly the same behavior

I'm sure that the merged pull request is there, because the java file has the expected change.

[2021-05-21 09:20] kseniiaguzeeva commented on #12279
It was misunderstanding from my side.

[2021-05-21 09:27] KES777 commented on #12279
Glad to hear that I do right thing.

Thank you for you and your team.

[2021-05-21 09:49] LonwoLonwo commented on #12190
Hello @MatteoR23
As I can see on your images, you use schema identifier with synonym name.
do you use another default schema in SQL Editor?
It works for me without schema identifier for default schema:

![2021-05-21 12_47_31-](https://user-images.githubusercontent.com/45152336/119118409-d3d4c580-ba32-11eb-9419-4ea276c6477f.png)

and for another schema, if global search is enabled

![2021-05-21 12_

[2021-05-21 09:55] CloudWise-Lukemiao commented on #12546
How to make it work in eclipse

[2021-05-21 10:18] CloudWise-Lukemiao commented on #12546
Are there any tutorials or illustrations that you can refer to so that dbeaver can run in eclipse or idea

[2021-05-21 10:41] MatteoR23 commented on #12190
Effectively, I try to access from another schema.
Anyway, even if I check that setting, the problem is not resolved.

Here some screenshots from my devel version of DbEaver (I cloned the git repo yesterday after 6 PM CEST tz):
![Screenshot 2021-05-21 123509](https://user-images.githubusercontent.com/25712297/119124877-73915400-ba31-11eb-8df7-eaee93b38273.png)
![Screenshot 2021-05-21 123605](https:

[2021-05-21 10:46] kseniiaguzeeva commented on #11336
verified

[2021-05-21 10:46] #11336 closed, assigned to serge-rider, kseniiaguzeeva

[2021-05-21 10:47] kseniiaguzeeva commented on #11368
verified

[2021-05-21 10:47] #11368 closed, assigned to serge-rider, kseniiaguzeeva

[2021-05-21 10:51] DariaMarkaryan commented on #12385
Usually this error occurs due to problems with the certificate itself and the JVM configuration. Maybe this stackoverflow discussion will help you create a connection:
https://stackoverflow.com/questions/9210514/unable-to-find-valid-certification-path-to-requested-target-error-even-after-c
And please give us response if everything worked out well or the problem remain

[2021-05-21 10:59] kseniiaguzeeva commented on #12546
Please delete DBeaver from Eclipse and try to install using  https://dbeaver.io/update/latest/
![eclipse_HFAIZYdCt2](https://user-images.githubusercontent.com/51405061/119127104-8b220a00-ba3c-11eb-98cc-7f839a676628.png)

Or you can use this instruction [Develop in Eclipse](https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse)

[2021-05-21 11:05] LonwoLonwo commented on #12461
Fixed for NUMERIC, NUMERIC(10,2) (ore another modifiers), INTEGER, INT.
Search data types in PG/PG forks bases generally improved.
Search for types with modifiers improved.
Datetime is string type in SQLite -  https://www.sqlite.org/datatype3.html

[2021-05-21 11:06] Matvey16 commented on #12440
Sorry, I can't really understand the exact issue you are having. Can you describe the steps that lead to this issue?

[2021-05-21 11:06] FedorovaDarya commented on #12550
Do you talk about "hints for next word" pop ups? In this case if it interferes you can go Window -> preferences -> and uncheck that    option
![image](https://user-images.githubusercontent.com/43252954/119127985-b9ecb000-ba3d-11eb-82b2-f49fe7a51300.png)

[2021-05-21 11:47] LonwoLonwo commented on #11978
Fixed in DBeaver 21.1.0
Will be available [here](https://dbeaver.io/) on 2021-05-31

[2021-05-21 11:56] LonwoLonwo commented on #12550
You can read more about parameter bindings here: https://github.com/dbeaver/dbeaver/wiki/SQL-Execution#dynamic-parameter-bindings

You can disable it in Preferences:
![2021-05-21 14_57_03-Preferences](https://user-images.githubusercontent.com/45152336/119133684-d9d3a200-ba44-11eb-9ac4-4984a63d75f5.png)

[2021-05-21 12:00] Matvey16 commented on #12455
Hello, thank you for the report. Do you have any multi-monitor tools running in the background?

[2021-05-21 12:07] rokopi-byte commented on #12455
I'm not sure I understand your question.. BTW I use dual monitor.

[2021-05-21 12:14] Matvey16 commented on #12455
I meant to ask if you have any utilities that manage multiple monitors? This error can often occur in apps that use Eclipse platform when using dual monitors. Do you have an option of reproducing it while using only one monitor?

[2021-05-21 13:34] kseniiaguzeeva commented on #12293
Thank you for the report. I can reproduce it with an example from #7813. I'll close this ticket as a duplicate and add #7813 to 21.1.3 milestone where we are going to fix data transfer issues.

[2021-05-21 13:34] #12293 closed, assigned to nobody

[2021-05-21 13:56] Matvey16 commented on #11978
Verified

[2021-05-21 13:56] #11978 closed, assigned to LonwoLonwo, Matvey16

[2021-05-21 14:17] Matvey16 commented on #12532
Thank you for the report. I reproduced this issue and we will look into it.

[2021-05-21 14:28] flambchap commented on #12472
Case 1 is fixed. Case 2 deserves its own ticket. The issue I mentioned above seems to be particularly my problem with double-clicks. As of now, I believe it needs to be addressed only if other users will complain.

[2021-05-21 14:31] serge-rider opened #12554 "Show alert before loading column possible values in data filter"
We need to shows warning about potentially expensive operation.

We use  `SELECT DISTINCT/GROUP BY` query to read values. It may be super-expensive in case of big table and unindexed column.

[2021-05-21 14:52] ShadelessFox opened #12555 "Invalid column ordering with previously hidden columns"
#### System information:
- DBeaver version: **21.0.5**
- Additional extensions: **none**

#### Describe the problem you're observing:
In model, if we have some properties non-viewable by default, their ordering is broken:
![java_Mg7JrHOnYE](https://user-images.githubusercontent.com/35821147/119156710-2cb95380-ba5d-11eb-949a-41417c046db0.png)

The expected ordering is:
![java_9ieJJhFJJJ](https://us

[2021-05-21 14:57] mwalter opened #12556 "Check for update does not recognise new versions"
#### System information:
- Windows 10
- DBeaver version 21.0.0.202103021012

#### Describe the problem you're observing:
If I check for updates I always get the information that there are no new updates.
![DBeaver Check for updates](https://i.ibb.co/NSsy6Vs/DBeaver-Update-Dialog.png)

If I use the Install new software command from the main menu DBeaver recognizes that there is a new version but it

[2021-05-21 15:06] lodgmar commented on #10844
Everything's working great! Great job!!!

[2021-05-21 15:06] #10844 closed, assigned to LonwoLonwo

[2021-05-21 15:13] rokopi-byte commented on #12455
Hi, just tried with single monitor and it's the same. In addition (IDK if related or not) my error log is full of this:
[code]

[2021-05-21 16:37] CloudWise-Lukemiao commented on #12546
i install dbeaver ，No repository found containing。

[2021-05-21 16:48] plotn opened #12557 "Force recreate views and function witn RETURNS TABLE type - postgres"
Hi!
Consider to implement feature to recreate objects (drop then create, thus create or replace doesnt do that) - views with fields inserted not at the end, but in between, same with funcs.
![recreate](https://user-images.githubusercontent.com/11477081/119171674-8d508c80-ba6d-11eb-89dd-c3f341bd20d9.png)

[2021-05-21 16:51] plotn opened #12558 "Incorrect work with custom types - postgres"
1. Create table:
CREATE TABLE repl.repl_statements (
	id bigserial NOT NULL,
	entity repl_log."t_log_entity" NULL, -- Имя сущность
....

2. Try to filter values (in visual grid), filter becomes as follows:
filter is:entity IN ('db2l.cms_channel'::t_log_entity::t_log_entity)  -- sic!!!

3. error is:
SQL Error [42704]: ОШИБКА: тип "t_log_entity" не существует
  Позиция: 93

Nota bene: all custom typ

[2021-05-21 17:14] ShadelessFox commented on #11912
Implemented:
![image](https://user-images.githubusercontent.com/35821147/119174362-2a60f480-ba71-11eb-8483-94ab674e045a.png)

[2021-05-21 17:17] ShadelessFox commented on #11380
@bcm5645 quick note: you can use `${var}` instead of `:var` inside string literals.

[2021-05-21 17:23] plotn opened #12559 "Lost connection inconvience - postgres"
Hi! I'm using dbeaver for year or two and some bug constantly remains - if the connection is lost (even if "for now" it was refsreshed and "good") and we have some (many) windows open, the behaviour is as follows:

1. I try to run script in the old windows;
2. A number of "reconnecting" windows appears (and reconnect finished happily);
3. But whe windows says: "connection was closed".

The only th

[2021-05-21 18:57] ghost commented on #1482
I followed @jetzerb's comment about removing the statement delimiter and unchecking all of the boxes under the "Delimiters" section, but I am still not able to execute the file without highlighting it all.

However if ticked the "Ignore native delimiter" checkbox, I was able to run "Execute SQL script" without highlighting.
![image](https://user-images.githubusercontent.com/54722267/119185290-75f0

[2021-05-21 19:16] jetzerb commented on #1482
@picarro-msimpson :
A recent release of DBeaver changed the MSSQL native delimiters from just "go" to both "go" and ";".  [My comment](https://github.com/dbeaver/dbeaver/issues/12078#issuecomment-823571729) on issue #12078 explains that now to obtain the same settings as in my comment above (the only delimiter is `go`), you should
- Set the Statements Delimiter to `go`
- Check the "Ignore native d

[2021-05-21 19:23] ghost commented on #1482
@jetzerb

Thanks for the update. I hadn't looked into that thread, but your solution is exactly what I was looking for!

[2021-05-21 19:39] bobf32 commented on #12521
@p91paul Not my area of expertise, but I would say ultimately yes, although the two databases are in different countries. Oracle is UK, MariaDB mainland Europe.

[2021-05-22 00:23] p91paul commented on #12521
What I was suggesting is that maybe your connection to Oracle has an higher network latency than the one to MariaDb. However seeing they are both remote that might not be the case.

[2021-05-22 00:38] git10135405 commented on #12429
thank you for your reply！I use MySQL database

[2021-05-22 07:29] KES777 opened #12562 "Tooltip does not show all info"
v21.0.3

![image](https://user-images.githubusercontent.com/799021/119218374-903c9300-bae8-11eb-8ec1-bd55f56849ad.png)

[2021-05-22 09:08] kseniiaguzeeva commented on #12546
Please give more details how do you install step by step, do you use link above?

[2021-05-22 10:29] ykqmain opened #12563 "Every time I open dbeaver, macOS will ask me if I accept the incoming network connection?"
#### System information:
- Operating system (distribution) and version: macOS 11.3.1, MacBook Pro (13-inch, **M1**, 2020)
- DBeaver version: 21.0.5.202105160657
- Additional extensions: Nothing

#### Connection specification:
- Database name and version: **mysql-8.0.25-macos11-x86_64**
- Driver name: The default of MySQL8.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? **No**

#### Describe t

[2021-05-22 10:53] plotn commented on #12557
I meant - add the checkbox "recreate object" in object edit dialog - e.g. PLSQLDeveloper has this behaviour

[2021-05-22 12:14] serge-rider commented on #12067
All JDK bundles upgraded to AdopOpenJDK 11.0.11.
Nashorn module removed (deprecated). Root CA updated.

Must be tested on Windows, Linux and MacOS

[2021-05-22 14:04] GertL commented on #12330
Hi!

The initial ticket has my settings for SQL editor.

DBeaver Version: 21.0.2.202104042040
Database: SyBase IQ
Driver: jConnect

And it is always this way.

[2021-05-22 15:52] serge-rider opened #12564 "App startup time reduce"
We need to reduce application startup time.
Especially the first launch after version upgrade.

Currently it spends a lot of time extracting resources from OSGI bundles. This is super slow on Windows with its antivirus policy.
We need to extract resources on demand (whenever it is possible).

[2021-05-22 17:51] serge-rider commented on #12564
Icons are now extracted on demand. Redundant jar files removed.

[2021-05-23 07:53] tomnguyen0811 opened #12565 "Database Restore failed in Windows 10 64 bit"
#### System information:
- Operating system (distribution) and version: Windows 10 64 bit (version: 20H2)
- DBeaver version: 21.0.5.202105160657
- Java version: JDK 11
- Additional extensions

#### Connection specification:
- Database name and version: MariaDB 10.5.10
- Driver name: MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Restore d

[2021-05-23 11:15] Matvey16 commented on #12360
Hello. I was not able to reproduce it on Ubuntu. When Dbeaver main window launches it apeears on the foreground so splash dissapears. Are you launching Dbeaver with special parameter so it won't come to foreground after launching?

[2021-05-23 13:47] CloudWise-Lukemiao commented on #12546
I've installed dbeaver with eclipse 4.19. Use this address https://dbeaver.io/update/latest/ But I run as maven insetalled dbeaver-master pom.xml, which reported the following error。

INFO] Computing target platform for MavenProject: org.jkiss.dbeaver:org.jkiss.dbeaver.ext.ui.colortheme:1.0.54-SNAPSHOT @ /Users/miaohongshan/eclipseworkplace/dbeaver-master/plugins/org.jkiss.dbeaver.ext.ui.colorthem

[2021-05-23 14:11] OJFord commented on #12360
Assigned to a specific workspace in my window manager (i3), so if I'm viewing a different one when I launch DBeaver (which might sound weird but it's what I do every time I use it - start looking at some database code or whatever, and launch it so that it'll be ready when I want it) then it doesn't finish initialising until I switch to it.

I now have the splash assigned to the same workspace, so

[2021-05-23 15:22] CloudWise-Lukemiao commented on #12546
i use other url https://eclipse-color-theme.github.io/update/ replace https://eclipse-color-theme.github.com/update/，But I run as maven insetalled dbeaver-master pom.xml, which reported the following error。
org.osgi.framework.BundleException: Could not resolve module: org.jkiss.dbeaver.ui.editors.acl [206]
  Unresolved requirement: Require-Bundle: org.eclipse.core.runtime

	at org.eclipse.osgi.con

[2021-05-23 22:18] LuiFerPereira commented on #12442
solved

[2021-05-23 22:18] #12442 closed, assigned to nobody

[2021-05-24 05:28] ayan84 commented on #12513
Well, though adding a qoute around admin works, it has some problems also. For schema name with quotes stop giving suggestion on table name, like this,
![Screenshot 2021-05-24 112604](https://user-images.githubusercontent.com/48835769/119300654-f3fac380-bc82-11eb-96dc-0f0e3ea87767.png)
If I use it without quotes, then table name suggestion appears but field suggestion stops,
![Screenshot 2021-05-2

[2021-05-24 05:56] kseniiaguzeeva opened #12566 "Boolean values are trimmed and shifted in Metadata Editor/Data transfer dialog"
#### System information:
- Operating system (distribution) and version: **any**
- DBeaver version 21.0.5
#### Steps to reproduce, if exist:
Open a column editor or a data transfer dialog and click a checkbox

**Expected**: the checkbox remains on its place
**Actual result**: the checkbox "jumps" to the right

1. Set focus on boolean property, observe that text is shifted while focused:
<kbd><img s

[2021-05-24 05:58] kseniiaguzeeva commented on #12472
Case 1 is verified, separate ticket is created for case 2 https://github.com/dbeaver/dbeaver/issues/12566

[2021-05-24 05:58] #12472 closed, assigned to flambchap, kseniiaguzeeva

[2021-05-24 06:20] kseniiaguzeeva commented on #12565
I cannot reproduce it. Please try to select Local client before performing Restore procedure.
![dbeaver_vxWQqJysLz](https://user-images.githubusercontent.com/51405061/119305298-3a472700-bc71-11eb-902a-e9b5c653f38d.png)

Could you also send file example to restore and log files completely https://github.com/dbeaver/dbeaver/wiki/Log-files?

[2021-05-24 06:57] CloudWise-Lukemiao opened #12567 "I started dbeaver with eclipse without org.jkiss.dbeaver.core.product"
![image](https://user-images.githubusercontent.com/76942485/119308927-38e12300-bca0-11eb-8a34-afaac08d09f7.png)

I can't find it org.jkiss.dbeaver.core.product 。
How can I start dbeaver？？

[2021-05-24 07:04] #12546 closed, assigned to nobody

[2021-05-24 07:11] tianmingxing opened #12568 "How to choose non-continuous multi-select scripts to execute"
At present, only single-line SQL execution can be selected, but if you want to select multiple non-contiguous rows for execution, is there a way to achieve this requirement?

[2021-05-24 07:46] MatteoR23 commented on #12190
@Matvey16 could you please reopen this bug? The problem is not resolved.

[2021-05-24 07:56] brasio commented on #11931
I still have the same problem. I have also tried with other database (duckdb), importing from csv files or other database table with more than 100000 records: I always experience an abnormal use of memory, and eventually a crash.

[2021-05-24 08:03] Matvey16 commented on #12562
Hello. Thank you for the report. What OS do you use? It looks like the bottom of the text is hidden because of the small size of the window. You can try to resize it by dragging its borders up/down and left/right. This parameter will also be saved for all your next sessions.

[2021-05-24 08:20] bratanon commented on #11047
For MariaDB/MySQL

[code]

[2021-05-24 08:23] igorbga opened #12569 "Probable regression, Postgresql sequence DDL uses Cache 0 and this is not a valid value"
#### System information:
- Ubuntu 18.04
- DBeaver CE 21.0.5
- Additional extensions: Non AFAIK

#### Connection specification:
- Database name and version: PostgreSQL 9.6
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
The DDL suggested for a sequence sets optional attribute CACHE to 0 which is not valid in Po

[2021-05-24 08:39] Matvey16 commented on #12568
Hello. Are you talking about execution of multiple statements from SQL Editor? There is a separate button for this

![2021-05-24_11h34_26](https://user-images.githubusercontent.com/82543000/119320818-a67f5600-bc84-11eb-9989-4cee20d83de2.png)

[2021-05-24 08:43] kseniiaguzeeva commented on #11517
Cannot be reproduced anymore.

[2021-05-24 08:43] #11517 closed, assigned to nobody

[2021-05-24 09:00] kseniiaguzeeva commented on #12461
verified

[2021-05-24 09:00] #12461 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-05-24 09:45] Matvey16 commented on #12564
Verified

[2021-05-24 09:45] #12564 closed, assigned to serge-rider, Matvey16

[2021-05-24 09:58] saygindogu commented on #2998
Hello I'm planning to work on this. Will try to come up with a pull request. I'll update here if I'm not able to.

[2021-05-24 10:33] ShadelessFox commented on #12569
Hello @igorbga,

Thanks for the report. The problem was occurred in #11177.

[2021-05-24 10:40] LonwoLonwo commented on #12513
this case already here https://github.com/dbeaver/dbeaver/issues/12159

[2021-05-24 10:48] kseniiaguzeeva commented on #10818
verified

[2021-05-24 10:48] #10818 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-05-24 10:52] ShadelessFox commented on #12569
The issue will be fixed in the scope of this ticket. Keep it opened for now.

[2021-05-24 10:55] igorbga commented on #12569
A ok, sorry, thought your commit already solved it. Thanks

[2021-05-24 10:58] ShadelessFox commented on #12569
The fix should be tested first in order to be closed :)

[2021-05-24 11:49] Matvey16 opened #12572 "Can't change export target type when going back in task creation."
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.0
- Additional extensions

#### Connection specification:
- Database name and version PostgreSQL, MySQL, SQL Server
- SSH

#### Describe the problem you're observing:
Task creation wizard locks a choice of target type while creating a task for data export/import.

#### Steps to reproduce, if exist:

[2021-05-24 11:50] serge-rider commented on #11579
Unfortunately it is not possible to patch or backup any files using DMG installer.
At the moment we don't have plans to return PKG installer (as it requires root permissions and more restrictive notarization process).

[2021-05-24 12:00] #12572 closed, assigned to nobody

[2021-05-24 12:14] icegood opened #12573 "refresh of screen"
#### System information:
- Operating system (distribution) and version : 5.11.0-17-generic #18-Ubuntu SMP Thu May 6 20:10:11 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- DBeaver version:  21.0.5.202105160657
- Additional extensions

#### Connection specification:
- Database name and version: sqlite3
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're

[2021-05-24 12:19] serge-rider commented on #11891
The problem is caused by sub-selects. SQL Server doesn't provide meta information + we don't support sub-selects in query parser.

Fixed

[2021-05-24 12:24] Matvey16 commented on #12067
Verified on Windows and Linux

[2021-05-24 12:42] Matvey16 commented on #11205
I was not able to reproduce it on Ubuntu 20.04 and Dbeaver 21.0.5. Have you tried using Shift+Left-click to highlight a portion of the text?

![2021-05-24_15h38_50](https://user-images.githubusercontent.com/82543000/119349278-a728e400-bca6-11eb-8a01-8f552b0f1099.gif)

[2021-05-24 13:54] kseniiaguzeeva commented on #12067
Verified on Mac

[2021-05-24 13:54] #12067 closed, assigned to serge-rider, kseniiaguzeeva, Matvey16

[2021-05-24 13:54] ShadelessFox commented on #12196
Implemented (for tables and their columns only):

![java_lLWOQ9n4KM](https://user-images.githubusercontent.com/35821147/119346789-56fc5280-bca3-11eb-98a2-6cd65d377fef.png)
![java_PtnztU0Zo7](https://user-images.githubusercontent.com/35821147/119346792-582d7f80-bca3-11eb-9a8f-0754e8853973.png)

[2021-05-24 15:17] CloudWise-Lukemiao commented on #12567
I have resovled,3q

[2021-05-24 15:27] ShadelessFox commented on #8430
Looks like a duplicate of #12331

[2021-05-24 15:27] #8430 closed

[2021-05-24 15:36] ShadelessFox commented on #12179
Looks like an issue of the ClickHouse JDBC driver. We should create a ticket on their board referring this issue as a source.

[2021-05-24 15:55] thefamouseric commented on #11285
Informix supports SSL, and work happily with Java (various applications) and Informix JDBC 4.10 and 4.50. If you are not using a CM group then the standard format connection string will work. If you are connecting to a group of CM you need to use the SQLH_TYPE syntax.

Where are these being set javax.net.ssl.trustStore and javax.net.ssl.trustStorePassword?

Attempt to connect to database server is

[2021-05-24 16:08] flambchap opened #12576 "Inconsistent behavior of some checkboxes on the PostgreSQL connection configuration page"
On the aforementioned page, we have 3 checkboxes: a) Show all databases; b) Show template databases; c) Show databases not available for connection. If the first one is not set, the latter two are not applicable. However, if we check one of them, e.g. the second one, and then we uncheck the first one, checkbox b is still set (but grayed). We also have the same checkboxes in the global preferences,

[2021-05-24 16:58] KES777 commented on #12562
Linux Mint v19.3, Cinnamon

[2021-05-24 17:32] p91paul opened #12578 "[Oracle] Display Exec Plan sometimes not working in Sessions tool"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.0.2
- Additional extensions n/a

#### Connection specification:
- Database name and version Oracle 11
- Driver name ojbc19
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n/a

#### Describe the problem you're observing:
Sometimes, in Sessions tool, I'm unable to show plan for a specific statem

[2021-05-24 18:54] agentkirkwood commented on #5442
Any interest in looking into this issue? Also seeing the same. It make it quite difficult to determine what is inside of a `struct` object, without already know what is there.
![key_values_missing__dbeaver](https://user-images.githubusercontent.com/16674499/119394225-2dd1c700-bc8f-11eb-8e88-fe4b94d1af1f.png)

[2021-05-24 20:06] Matvey16 commented on #12562
Have you tried resizing this window?

[2021-05-25 01:06] tianmingxing commented on #12568
I want to select discontinuous sql statements in the code editor, and then get multiple query result windows, so that it is convenient to compare query results. Currently I need to execute them one by one.

[2021-05-25 01:14] manticore-projects commented on #12240
Greetings.

I have found the entry point where DBeaver calls the Internal Eclipse
formatter. I also found entry points for an External Formatter. These
entry points look familar too me as I also contributed to the Netbeans
External Code Formatter plugin.

So I am ready to work on that, but... (and now it becomes a bit
embarrasing, am sorry!):

I am completely lost how you manage dependencies for D

[2021-05-25 03:47] anborg opened #12581 "Google Cloud support"
GOOGLE_APPLICATION_CREDENTIALS - must not be in environment variable.  Reason: Users may be working on many different "gcp projects".

![image](https://user-images.githubusercontent.com/56970398/119435937-32c36480-bce9-11eb-8df3-10c4d4e7f04b.png)

Adding that property in driver-properties did not help.

![image](https://user-images.githubusercontent.com/56970398/119436090-8930a300-bce9-11eb-9968-7

[2021-05-25 03:54] CloudWise-Lukemiao commented on #12567
thanks

[2021-05-25 03:54] #12567 closed, assigned to nobody

[2021-05-25 06:19] rockatoo commented on #8069
I have problem like above.
We have used backup function in postgreSQL13 but, error occured From April.

Error log is like this.
[code]

My DBeaver version is 21.0.5 now.

[2021-05-25 06:30] cleeh opened #12582 "PostgreSQL 13 backup function error (DBeaver 21.0.5)"
We have used postgreSQL 13 backup function in DBeaver but, error occured From April.

Error log is like this.
[code]

My environment is as follows.
  - DBeaver: 21.0.5
  - DBeaver Executing OS: Windows 10 Enterprise 19042.985 (x64)
  - DB Server OS: Linux tms-web 4.15.0-143-generic (Ubuntu 18.04 LTS)

[2021-05-25 06:39] flambchap commented on #12576
Fixed.

[2021-05-25 06:43] flambchap commented on #11327
DBeaver excludes the synonyms already, so I added an option to enable them back again. You can find the option on the connection properties page.

[2021-05-25 06:44] Matvey16 commented on #11891
Verified

[2021-05-25 06:57] LonwoLonwo commented on #10554
Ability to change password for current session user implemented in DBeaver 21.1.0

![2021-05-25 09_54_09-DBeaver Enterprise 21 1 0 - _none_ Script-29](https://user-images.githubusercontent.com/45152336/119452721-56b19500-bd3f-11eb-930e-f3e8fd38d2ec.png)

![2021-05-25 09_55_08-DBeaver Enterprise 21 1 0 - _none_ Script-29](https://user-images.githubusercontent.com/45152336/119452732-5a451c00-bd3f-11

[2021-05-25 06:59] rmcouat opened #12583 "Incorrect Linux package manager detection (deb/rpm)"
#### System information:
- Ubuntu Desktop 64 20.04
- DBeaver 21.0.4
- Additional extensions - none

#### Connection specification:
- Postgres 12
- standard install
- No tunnels

#### Describe the problem you're observing:
Version 21.0.4 offers an update to 21.0.5. If I take the update from the dialog, the process offers me the 21.0.5 .rpm file but it should be a .deb for a Ubuntu system
I download

[2021-05-25 07:07] Matvey16 commented on #12568
Thank you for this feature request. We will look if it can be done.

[2021-05-25 07:18] LonwoLonwo commented on #12582
Connected with https://github.com/dbeaver/dbeaver/issues/8069

[2021-05-25 07:59] Matvey16 commented on #12583
Hello. I tried reproducing this also on Ubuntu 20.04 and I was prompted to download a .deb package. What browser are you using? Is it possible for you to provide an URI that a browser opens. Like this `https://dbeaver.io/download/?start&os=linux&arch=x86_64&dist=deb`

Also can you provide a command that you used to remove 21.0.4 version.

[2021-05-25 08:09] kseniiaguzeeva commented on #12569
verified

[2021-05-25 08:09] #12569 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-05-25 08:24] Matvey16 commented on #12576
Verified

[2021-05-25 08:24] #12576 closed, assigned to flambchap, Matvey16

[2021-05-25 08:37] marcreig commented on #12457
Anyone? I'm still on this problem, and it doesn't seem to have a logical solution...
About permisions, it doesn't make any sense, as it is a common installation as I've already done on every other computer where I have the environtment correctly working...

[2021-05-25 08:50] mzatko commented on #1555
still there in version Version 21.0.5

[2021-05-25 09:24] gasdia73 opened #12586 "Update snap package to latest version"
It's been 3 weeks now that dbeaver pops up the new version notification (2.0.5 is out) but when you do
snap refresh
nothing is picked up about dbeaver.
Would you consider updating the snap package?

[2021-05-25 09:34] flambchap commented on #11283
`Fetch all lines` shortcut has been changed to `CTRL+SHIFT+=`.

[2021-05-25 10:14] serge-rider commented on #12331
Fixed

[2021-05-25 10:45] njenga55 commented on #9192
os: ubuntu
I had to locate my local installation instance for MySQL, so for my case, I added **/usr/bin** as the home location.

[2021-05-25 11:35] MaximKutovoy opened #12588 "Dont open DBF file"
Error on open DBF file:

org.jkiss.dbeaver.model.sql.DBSQLException: SQL Error: Syntax error: DANS DBF Library error: java.lang.reflect.InvocationTargetException
	at org.jkiss.dbeaver.model.impl.jdbc.exec.JDBCStatementImpl.executeStatement(JDBCStatementImpl.java:133)
	at org.jkiss.dbeaver.model.impl.jdbc.struct.JDBCTable.readData(JDBCTable.java:188)
	at org.jkiss.dbeaver.ui.controls.resultset.Resu

[2021-05-25 11:42] Matvey16 commented on #12196
Verified

[2021-05-25 11:42] #12196 closed, assigned to ShadelessFox, Matvey16

[2021-05-25 12:30] ShadelessFox commented on #12588
Hello @MaximKutovoy,

Please provide more information: what database are you using, what are you trying to do?

[2021-05-25 13:02] kseniiaguzeeva commented on #12376
We made a fix. Please ask to reopen if the issue still exists.

[2021-05-25 13:02] #12376 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-05-25 13:09] MaximKutovoy commented on #12588
![image](https://user-images.githubusercontent.com/57235732/119503088-44514e80-bd73-11eb-96d4-763cd3fb9f2f.png)

Some files open, some files don't. The one that doesn't open, I attached in the previous message.

[2021-05-25 13:23] ShadelessFox commented on #12588
I see, thanks. I was able to reproduce your issue. Unfortunately, I can't suggest any solution right now.

[2021-05-25 13:42] bassam127 commented on #4526
Hi , refresh the table and columns solve the problem for me

[2021-05-25 13:56] ShadelessFox commented on #12588
Update:

It actually says that the specified .dbf file is corrupted or invalid. Can you try loading another file?

[2021-05-25 13:56] erosinnocenti opened #12590 "Custom syntax for variable placeholders"
Hello,
I'm opening this feature request to ask if there is a possibility to customize the syntax used for variable placeholders.
I searched in the preferences pane, but I only found the possibility to enable / disable variables.

What I'm searching is the possibility to run an SQL script like this:
[code]
and fill in the value of the variable "id".

The result should be the same of running this sc

[2021-05-25 13:58] FredrikEkstrom79 opened #12591 "Changeing background color for Value tab don't work"
Changing color on the background for Value tab gives an error when applying, after that the background goes back to default for the theme.

Currenly on version 21.0.5

![image](https://user-images.githubusercontent.com/50202826/119510365-bf196a00-bd71-11eb-9bb3-46ca6cb078d4.png)

[2021-05-25 13:59] ShadelessFox commented on #12179
Fixed adding and altering.

[2021-05-25 14:23] LonwoLonwo commented on #10554
Cockroach https://www.cockroachlabs.com/docs/v21.1/alter-user.html
Greenplum https://gpdb.docs.pivotal.io/6-16/ref_guide/sql_commands/ALTER_USER.html

Redshift https://docs.aws.amazon.com/redshift/latest/dg/r_ALTER_USER.html
Netezza https://www.ibm.com/docs/en/psfa/7.2.1?topic=reference-alter-user

[2021-05-25 14:29] LonwoLonwo commented on #12582
Thanks for the bug report!

[2021-05-25 14:44] QuanTran91 commented on #12582
Are there any work around on it?

[2021-05-25 15:04] rmcouat commented on #12583
The browser I use is Firefox version 88.0.1, here is the download URL
https://dbeaver.io/download/?start&os=linux&arch=x86_64&dist=rpm
This comes up after pushing the Upgrade button on the new version dialog when dbeaver opens.

To remove the 21.0.4 version I used the command
sudo snap remove dbeaver-ce
After the re-install of the snap package it too was devoid of all configuration and it was stil

[2021-05-25 15:08] MaximKutovoy commented on #12588
[DOM1.zip](https://github.com/dbeaver/dbeaver/files/6540299/DOM1.zip)

Here is another file. I opened it in another program. http://joxi.ru/BA085aMCvP5LPA

[2021-05-25 15:30] Matvey16 commented on #12331
Verified

[2021-05-25 15:30] #12331 closed, assigned to serge-rider, Matvey16

[2021-05-25 15:33] ShadelessFox commented on #12588
Thanks, but unfortunately this one fails too. We'll try to resolve the problem in the future.

[2021-05-25 15:48] KES777 commented on #12562
resizing works

[2021-05-25 15:49] MaximKutovoy commented on #12588
[TARIFS.zip](https://github.com/dbeaver/dbeaver/files/6540639/TARIFS.zip)

This file open good

[2021-05-25 16:31] ShadelessFox commented on #12588
Actually, it depends on the file's version. This one's probably supported, but previous don't.

[2021-05-25 16:32] MaximKutovoy commented on #12588
Close issue?

[2021-05-25 16:40] ygoltrant opened #12597 "Snap : show upgrade pop-up only when snap upgrade is possible"
#### System information:
- Ubuntu 20.10
- Snap dbeaver-ce : 21.0.4.202105021514

#### Describe the problem you're observing:

Linked to #12586 and #12583 : I'm wondering if it could be possible to show the pop-up for the new version on snap only when it *is* really upgradable (which means with snap : you'll probably never see the pop-up). It would prevent both frustration and problems due to remov

[2021-05-25 17:55] ShadelessFox commented on #12588
No, keep it opened for now.

[2021-05-25 18:19] Matvey16 opened #12598 "New columns disappear from UI after refresh in Navigator"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.0
- Additional extensions

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
1. Create a new column through UI, but don't commit changes.
2. Highlight a column or column list in navigator and click refresh or press F5
3. Disagree to revert chan

[2021-05-25 18:26] Matvey16 opened #12599 "Save button is still active after reverting changes through refresh"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.0
- Additional extensions

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
1. Create a new column through UI, but don't commit changes.
2. Click refresh or press F5
3. Agree to revert changes.

**Expected result:** Changes are reverted and sa

[2021-05-25 18:41] kseniiaguzeeva commented on #11283
verified

[2021-05-25 18:41] #11283 closed, assigned to flambchap

[2021-05-25 18:59] Matvey16 commented on #12179
Verified

[2021-05-25 18:59] #12179 closed, assigned to ShadelessFox, Matvey16

[2021-05-25 20:26] morgan-zylotech opened #12600 "Shell commands don't accept anything after space"
#### System information:
- Ubuntu 20
- DBeaver Community - Version 21.0.5.202105160657

#### Connection specification:
- Postgres
- Attempting to run a script file while passing parameters

#### Describe the problem you're observing:

GCP has set up a binary file you can use to set up a secure SSH tunnel with your DB instances

https://cloud.google.com/sql/docs/mysql/sql-proxy

Using the following

[2021-05-25 20:44] maritogaleano opened #12601 "Hana autocomplete failed"
![image](https://user-images.githubusercontent.com/57814047/119565648-3651fc80-bd78-11eb-8797-52e61483e4bf.png)
Only the first time it autocompletes, but when I keep typing the sql query it no longer suggests the other fields

[2021-05-25 20:45] LonwoLonwo commented on #12379
On any schema refresh

[code]

[2021-05-25 20:54] LonwoLonwo commented on #11029
Implemented for PostgreSQL in CE version
and for Redshift in [EE version](https://dbeaver.com/)

[2021-05-25 20:58] LonwoLonwo commented on #10554
Ability to set empty password added (but not for PostgreSQL - You will get an error if you do not enter the password and click OK)

Many databases do not support empty passwords, what you will receive a message if you use it. Do not use empty passwords :)

[2021-05-25 21:06] LonwoLonwo commented on #12379
Fixed.

[2021-05-26 00:15] p91paul commented on #12457
https://stackoverflow.com/questions/14229072/removal-of-jdbc-odbc-bridge-in-java-8
See this. In particular, did you put the jdbcodbc.dll file in the correct location?
Also keep in mind that by default Dbeaver will not use your installed java version, instead it will run on the one bundled with the installation program, you'll have to instruct it to use another jre. Also, the claim you are running

[2021-05-26 00:32] p91paul commented on #12583
Probably, dbeaver installed through snap should disable the upgrade dialog by default, since snap upgrades are handled differently. The loss of configuration is because of how snap works, but this all originates from the fact the user was confused into thinking it was a good idea to download a rpm/deb package while using a snap install.

[2021-05-26 06:07] Matvey16 commented on #12379
Verified

[2021-05-26 06:07] #12379 closed, assigned to LonwoLonwo, Matvey16

[2021-05-26 07:00] Matvey16 opened #12605 ""Reset to default" button in properties doesn't work"
#### System information:
- Win10
- DBeaver version 21.1.0

#### Steps to reproduce, if exist:
1. Change any property in any window and click `Apply and Close`
2. Open the same properties window and click `Restore Defaults`

**Expected:** Properties return to default values.
**Actual result:** Nothing changes.

![2021-05-26_09h58_24](https://user-images.githubusercontent.com/82543000/119616254-1159

[2021-05-26 07:23] kseniiaguzeeva commented on #11029
verified

[2021-05-26 07:23] #11029 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-05-26 07:25] kseniiaguzeeva commented on #10554
verified.

[2021-05-26 07:39] Matvey16 commented on #11327
Verified

[2021-05-26 07:39] #11327 closed, assigned to flambchap, Matvey16

[2021-05-26 07:44] Matvey16 commented on #12190
Verified

[2021-05-26 07:44] #12190 closed, assigned to LonwoLonwo, Matvey16

[2021-05-26 07:51] LonwoLonwo commented on #12190
Hello @MatteoR23
In scope with this ticket https://github.com/dbeaver/dbeaver/issues/11327 we added new connection setting for Oracle.
Enabling this setting will help with solving the problem of auto-completion with fully qualified names.

![2021-05-26 10_44_55-DBeaver Enterprise 21 1 0 - _none_ Script-104](https://user-images.githubusercontent.com/45152336/119622858-3f8ea800-be10-11eb-8c09-2c4f85

[2021-05-26 07:51] Matvey16 commented on #11839
Verified

[2021-05-26 07:57] MatteoR23 commented on #12190
@LonwoLonwo I compiled the new version and... it works!! Thank you very much, guys 💯 🥇

[2021-05-26 08:01] LonwoLonwo commented on #12190
@MatteoR23 Hooray!

[2021-05-26 08:29] fjanon commented on #1163
Is this fix still in 21.0.5?

I am using version 21.0.5 and it seems that this fix isn't in it. Here is a partial record exported in JSON with many "\n" not escaped.

	{
		"id" : 308518,
		"itemid" : "https:\/\/data.datatourisme.gouv.fr\/43\/0fc1d1b2-37d1-3a67-868b-2150fd158791",
		"lastupdate" : "",
		"title" : "JOURNÉES EUROPÉENNES DU PATRIMOINE - MUSÉE PAYSAN D'ÉMILE",
		"shortdescriptionfr" :

[2021-05-26 08:41] woeterman94 opened #12606 "Export to SQL insert statement not working with selected columns"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.0.5
- Additional extensions: none

#### Connection specification:
- Database name and version: MS SQL
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

![image](https://user-images.githubusercontent.com/5755057/119631352-19690800-be10-11eb-812d-82c12261c610.png)

#### Describe t

[2021-05-26 08:44] flambchap commented on #11598
It is a snap-specific problem.

[2021-05-26 08:59] #12562 closed, assigned to Matvey16

[2021-05-26 09:34] Matvey16 commented on #12605
Duplicate of this [12480](https://github.com/dbeaver/dbeaver/issues/12480)

[2021-05-26 09:34] #12605 closed, assigned to nobody

[2021-05-26 10:02] tomnguyen0811 commented on #12565
Hi @kseniiaguzeeva, this is the log file which is created after restore failed: [test_restore_error_2021-05-26.log](https://github.com/dbeaver/dbeaver/files/6545752/test_restore_error_2021-05-26.log)

I can't upload the example SQL file. So I paste it in right here:
[code]
If you need any information, please let me know. Thanks for your support.

[2021-05-26 10:27] kseniiaguzeeva commented on #9377
@vermgit Could you tell exact queries from Query manager, which appear when the issue is happening? You should enable all query types in Query manager.
![tcO8HcVsAr](https://user-images.githubusercontent.com/51405061/119644806-fcd7ca80-be25-11eb-94ab-a9a47073747f.png)

Then double-click a query to see it completely.
![0ILNa3dFIg](https://user-images.githubusercontent.com/51405061/119644816-0235150

[2021-05-26 10:42] Matvey16 opened #12607 "Undo or "Ctrl + Z" doesn't work in Data Editor"
#### System information:
- Operating system (distribution) and version Ubuntu 20.04
- DBeaver version 21.1.0

#### Connection specification:
- Database name and version MariaDB

#### Steps to reproduce, if exist:
1. Type anything in a cell
2. Press `ctrl + Z` or click `Edit > Undo`

**Expected:** Changes are undone
**Actual:** Nothing happens. Undo button in in "Edit" menu is inactive.

Also on Wi

[2021-05-26 11:41] kseniiaguzeeva commented on #12425
Please  try to disable **Show system objects** and **Show statistic info** in the connection view
![Screenshot 2021-05-26 at 14 35 44](https://user-images.githubusercontent.com/51405061/119653292-d4ed6480-be2f-11eb-9668-cb4cefbac092.png)
Then you can try to disable these option in the connection properties
![Screenshot 2021-05-26 at 14 34 54](https://user-images.githubusercontent.com/51405061/1196

[2021-05-26 11:51] Matvey16 commented on #12351
Hello. I was not able to reproduce it. Does it happen with every table in every session or this issue is unique to certain situations?

[2021-05-26 11:54] KES777 commented on #12562
This is not common that tips need to resize. This should be a short message to read it quick.

So I even do not try it

[2021-05-26 12:02] marcreig commented on #12457
Hi,

drivers are on it's default location ("userX/AppData/Roaming/DBeaverData/drivers/..."). Where they get installed on inmediate download from manager, when you try to create the very first connection after a fresh DBeaver installation.

Not a permissions problem. Tried to create User DSN and System DSN on ODBC Windows manager.
In both profiles: x64 and x86 drivers (which I got).
Nothing...
I de

[2021-05-26 12:27] kseniiaguzeeva commented on #12540
Could you please send a screenshot or video?

[2021-05-26 12:34] bjorntj commented on #12344
I tried that but don't think I noticed any difference but will try it again...

[2021-05-26 12:46] serge-rider commented on #12284
We need to upgrade default driver version to a more recent one.

[2021-05-26 13:13] serge-rider opened #12608 "Data transfer: value transformers"
We need to allow to configure column value transformations. For export, import and direct data migration.

Transformation like:
- convert number to string
- truncate string
- call some SQL function in INSERT statement
- etc

[2021-05-26 13:21] vdurante opened #12609 "CSV Import incorrectly escaping field ending in backslash"
#### System information:
- Operating system (distribution) and version - Windows 10
- DBeaver version - 21.0.5 Community
- Additional extensions  - None

#### Connection specification:
- Database name and version - SQLite
- Driver name - xerial 3.34.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? - No

#### Describe the problem you're observing:

Importing data from CSV incorrectly escaping f

[2021-05-26 13:43] dr-1 commented on #5994
The issue persists in inline comments: `SELECT  -- This is a comment` gets converted to `SELECT  -- This IS a comment`.

[2021-05-26 13:55] ShadelessFox commented on #5994
Hello @dr-1,

Cannot reproduce. Please provide more details.

[2021-05-26 14:24] dr-1 commented on #5994
DBeaver 21.0.5.202105160657 on Windows 10. I typed in the example line in the SQL editor. Case conversion gets applied to keywords in inline comments, whereas when the whole line is a comment starting with `--`, keywords are ignored as expected.

[2021-05-26 14:30] ShadelessFox commented on #5994
The issue still can't be reproduced:
![zg0YAEhnLB](https://user-images.githubusercontent.com/35821147/119677775-ad09fb00-be47-11eb-9871-e6137b57833a.gif)

Can you record a GIF showing exact actions required to produce described bug?

[2021-05-26 14:57] kseniiaguzeeva commented on #10905
We will implement it.

[2021-05-26 15:02] kseniiaguzeeva commented on #11378
I see the behavior but cannot reproduce it. Is it possible to send a script example? special symbols can be a reason.

[2021-05-26 15:03] kseniiaguzeeva commented on #12217
We will implement it. The option will be disabled by default.

[2021-05-26 15:04] kseniiaguzeeva commented on #12219
Seems to be a driver issue. DB2 LUW doesn't have such bug.

[2021-05-26 15:05] kseniiaguzeeva commented on #12233
We will implement it. Thank you for the suggestion.

[2021-05-26 15:22] zouy50 opened #12611 "When to develop the version for M1 Apple."
There is no problem to run DBeaver on Apple M1, but its really very slowly. Because its a intel version, not actual to Apple M1,
is M1 version on developing or there is not this plan?

[2021-05-26 15:30] dr-1 commented on #5994
![capture](https://user-images.githubusercontent.com/24420610/119687508-8fd52c80-be47-11eb-9e27-034614ab012a.gif)
No other steps - I only started DBeaver, opened a new SQL editor and started typing.

[2021-05-26 15:37] ShadelessFox commented on #5994
Oh, I see. Thanks for the report.

[2021-05-26 15:45] GaryLiuTelus commented on #11614
Any comments , @uslss ?
In Squirrel SQL, a JDBC URL template can be provided in the driver settings, and then for each connection, the URL can be edited independently, while in DBeaver, the URL template is not editable in each connection. The only thing can be modified are credentials. But JDBC URL can contains more than credentials. As what I showed above, the URL connection to Apache Hadoop cont

[2021-05-26 16:17] KES777 commented on #12417
Probably another case:

![image](https://user-images.githubusercontent.com/799021/119695489-e39b4200-be56-11eb-92de-b4a0a13eae3c.png)

Here I switch to text and value is truncated. But this case seems belongs to this one

[2021-05-26 16:18] kseniiaguzeeva commented on #12280
Please tell me your database and column type. Which date format do you use (you can see it in Preferences>Data Editor>Data Formats)?

[2021-05-26 16:35] kseniiaguzeeva commented on #12424
Thank you for the idea. We will implement it for different databases.

[2021-05-26 16:36] kseniiaguzeeva commented on #12430
Thank you for the idea. We will implement it.

[2021-05-26 17:00] kseniiaguzeeva commented on #12452
Is it specific Hive tool? What information do you want to see?

[2021-05-26 17:03] kseniiaguzeeva commented on #12457
ODBC driver wasn't upgraded for a long time. Can you try JDBC driver or commercial ODBC version?

[2021-05-26 17:04] #12457 closed, assigned to nobody

[2021-05-26 17:11] kseniiaguzeeva commented on #12474
We will add an option to convert data types during data transfer in https://github.com/dbeaver/dbeaver/issues/12608.
I close this ticket, because your issue should be solved after implementing it.

[2021-05-26 17:11] #12474 closed, assigned to nobody

[2021-05-26 17:12] kseniiaguzeeva commented on #12478
We will do it. Thank you.

[2021-05-26 17:17] kseniiaguzeeva commented on #12510
Please try to [reset workspace](https://github.com/dbeaver/dbeaver/wiki/Reset-workspace). It should help.

[2021-05-26 17:18] bcm5645 commented on #11378
Hi Ksenia
I just sent you another email with script and responses i'm getting in dBeaver.
/Wiktor

[2021-05-26 17:20] kseniiaguzeeva commented on #12521
Seems to be a network configuration specific issue. Please check it with your system administrator.

[2021-05-26 17:34] kseniiaguzeeva commented on #12524
Unfortunately I cannot reproduce it.
![Screenshot 2021-05-26 at 20 30 45](https://user-images.githubusercontent.com/51405061/119705806-e0598380-be61-11eb-9922-aebf45861a9b.png)

Can you send a video, [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files) and a value example?

Please also try the latest DBeaver version https://dbeaver.io/download/.

[2021-05-26 17:37] kseniiaguzeeva commented on #12527
I cannot reproduce it. Is you table in _dbo_ schema?

[2021-05-26 17:40] kseniiaguzeeva commented on #12534
We will add an option to place Output under SQL Editor field as before. It will be disabled by default. I'm glad you find the application useful, thank you)

[2021-05-26 17:44] WellspringCS commented on #12534
I think others will
appreciate this, too.
The benefit to it being
in the bottom half is
that longer comments
are not wrapped tightly
as I have done in
exaggerated fashion here.
(It's obviously not that
bad, but json objects can
be huge, and reading them
in the right panel can feel
like this. :)

[2021-05-26 17:51] kseniiaguzeeva commented on #12536
You can open column list in Metadata Editor. Will it cover your needs?
![Screenshot 2021-05-26 at 20 44 15](https://user-images.githubusercontent.com/51405061/119707033-590d0f80-be63-11eb-8c0f-f16bdee2e9c8.png)
 If not, please describe how such types should be displayed?

[2021-05-26 17:52] kseniiaguzeeva commented on #12537
Thank you! But I also need logs https://github.com/dbeaver/dbeaver/wiki/Log-files. Is it possible to send them?

[2021-05-26 19:11] MazrimT commented on #12536
A struct column is a "complex" column, basically columns or arrays inside the column. But they are all declared with data types just as a normal column. So I would expect to be able to "expand" the column and see those nested columns inside it. The view in your screenshot gives no more information than the database navigator.

[2021-05-26 19:32] uslss commented on #12611
duplicates #12441

[2021-05-26 19:32] #12611 closed, assigned to nobody

[2021-05-26 19:38] vermgit commented on #9377
Ah, OK. Well, the longest statement by far is this:

[code]

as it takes 110,032 ms. The number of returned records is 1.

So I guess this means that the database maybe is missing some index or some statistics are out of order and I need to contact our database department? Or is there something else measured in the execution time that may come from DBeaver?

[2021-05-26 23:23] p91paul commented on #9377
I believe your options are:
* Check if you can query the view DBA_OBJECTS. If you can't, ask your DBA to grant your user, then enable the corresponding option in dbeaver connection preferences.
* If they deny your request, see here a new option that will be introduced with the next dbeaver version https://github.com/dbeaver/dbeaver/issues/12190#issuecomment-848550646. I expect (but did not test ye

[2021-05-27 00:12] manticore-projects commented on #12240
I have cloned a virgin source tree and grepped for `jsqlparser`. Ignoring any Java Imports and Manifests, this is the result:
[code]
So I have edited these 3 files adding JSQLFormatter in the very same way.

1) ./features/org.jkiss.dbeaver.runtime.feature/feature.xml
[code]

2) ./product/debug/DBeaver.product.launch
[code]

3) ./product/localRepository/pom.xml
[code]

When packing with Maven, I st

[2021-05-27 05:35] vermgit commented on #9377
I'm able to use your first option, so I'll see if that fixes it. Your last sentence would suggest that.

Thanks a lot for now, I'll get back to this if I'm still having problems.

[2021-05-27 05:37] kseniiaguzeeva commented on #12565
Seems files were not downloaded properly. Could you delete them (you can see the way to the files in your error message) and then perform backup/restore? The files will be downloaded again by DBeaver.

Security policy in your company can be another reason. It can restrict to run some .exe files. Could you go to the file directory and try to run .exe file manually?

[2021-05-27 07:12] kseniiaguzeeva commented on #12441
We are waiting for Java 17 (the release is going to be in September) and [Eclipse](https://bugs.eclipse.org/bugs/show_bug.cgi?id=565690) to support it.

[2021-05-27 07:17] sun897827804 commented on #2198
According to the previous Kerberos configuration, the connection to the Hive URL still appears: "GSS Initiate Failed"。version 6.2.3

[2021-05-27 07:51] uslss opened #12614 "Save/Cancel buttons aren't activated after changing cell's value in Editor"
#### System information:
- Operating system (distribution) and version win10 x64
- DBeaver version 21.1.0

#### Connection specification:
- Database name and version SQLite

#### Describe the problem you're observing:
Save/Cancel buttons in Data Editor toolbar aren't activated after changing cell's value in Editor(Shift+Enter or Shift+Enter -> Open editor).

#### Steps to reproduce, if exist:
1. O

[2021-05-27 08:22] KES777 commented on #12280
PostgreSQL, timestamptz

![image](https://user-images.githubusercontent.com/799021/119791922-f0af4400-bedd-11eb-889d-3d810079ac46.png)

[2021-05-27 08:26] KES777 commented on #12280
I have changed format:
![image](https://user-images.githubusercontent.com/799021/119792288-408e0b00-bede-11eb-9583-ef658ca0a824.png)

1. It would be better if more robust defaults will be by default ;-)
2. Also `Sample` does not show that this format displays trailing zeros

[2021-05-27 08:31] KES777 commented on #12280
hm. probably I understand the reason, this come from locale settings.

But be notified, still most defaults we can get from locale settings, but this is special software, so in this case locale settings are not desired. PC users in real life ignore fraction of seconds, but DB developers - not.

Also third question:
3. we saw that by default there no `ffffff` at pattern settings, Why second fractio

[2021-05-27 08:31] Matvey16 opened #12616 "SQL Editor Template shows wrong list of columns."
#### System information:
- DBeaver version 21.1.0

#### Connection specification:
- Database name and version Maria DB, Oracle
- SSH

#### Steps to reproduce, if exist:
1. Create a template with ${column} in its pattern. (or use one of the default ones)
2. Insert a template in SQL editor

**Expected result:** A list of columns from the selected table appears.

**Actual result:** A list of columns

[2021-05-27 08:35] KES777 opened #12618 "second fraction is not displayed"
- PostgreSQL v13.1

#### Describe the problem you're observing:

data time is timestamptz

second fraction is not displayed
![image](https://user-images.githubusercontent.com/799021/119793535-594af080-bedf-11eb-814c-a36bd752c350.png)

#### Steps to reproduce, if exist:
I configure settings is described here: https://github.com/dbeaver/dbeaver/issues/12280#issuecomment-849442944

[2021-05-27 08:36] KES777 opened #12619 "Provide an option to configure timestamptz (PostgreSQL)"
**Is your feature request related to a problem? Please describe.**
I want to provide format for timestamptz at Preferences>Data Editor>Data Formats,
but it is not possible there is no such menu option

**Describe the solution you'd like**
Provide menu option and update documentation [here](https://dbeaver.com/docs/wiki/Managing-Data-Formats/)

Also some details are here:
https://github.com/dbeaver

[2021-05-27 09:04] KES777 opened #12620 "Allow hotkey to run query with EXPLAIN ANALIZE and post it to depesz"
**Is your feature request related to a problem? Please describe.**
I often use tools such as:

https://explain.depesz.com/s/MOAr
https://explain.dalibo.com/
http://tatiyants.com/pev/#/plans/new

so it will be useful to have hotkey to run current query with `EXPLAIN( ANALYSE, COST, VERBOSE, SETTINGS, BUFFERS )` and post to one of tools noted above.

**Describe the solution you'd like**
1. Press hot

[2021-05-27 11:17] uslss opened #12621 "Replace Method is applied for connection that doesn't support it."
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.0

#### Connection specification:
- Database name and version SQL Server, SQLite

#### Describe the problem you're observing:
Replace Method is applied for connection that doesn't support it.
#### Steps to reproduce, if exist:
1. Start import to the table from CSV (SQLite)
2. Choose Ignore or replac

[2021-05-27 11:40] tomnguyen0811 commented on #12565
Hi @kseniiaguzeeva, you are right.
I went to the file directory and try to run .exe file manually, it can't run.
I was deleted the `C:\Users\Tom\AppData\Roaming\DBeaverData\drivers\clients\mysql\win\mysql.exe` file and ran restore again.
It's working.
Thanks for your support.

[2021-05-27 11:43] LonwoLonwo commented on #11960
Thanks for the bug report.
We fixed this problem in scope with https://github.com/dbeaver/dbeaver/issues/12379
Fix will be available on 2021-05-31 in DBeaver 21.1.0

[2021-05-27 11:43] #11960 closed, assigned to nobody

[2021-05-27 12:44] KES777 opened #12623 "Table column expansion (`*`) doesn't work with select from function"
**Is your feature request related to a problem? Please describe.**
it is boring to type all column names.

**Describe the solution you'd like**
at many places editor do proposals.
count `table.**` as proposal `table.col1, table.col2, table.col3`

details:
https://www.postgresql.org/message-id/668748662.20210522113754%40yandex.ru

[2021-05-27 13:08] ShadelessFox commented on #12623
Hello @KES777,

You can expand table columns by pressing <kbd>Ctrl+Space</kbd> with cursor placed just after `*`.
Consider following examples with cursor denoted by `|` symbol:

[code]
[code]
[code]

Let me know if you still have any questions left.

[2021-05-27 14:42] flambchap commented on #12022
Fixed.

[2021-05-27 14:58] DariaMarkaryan opened #12629 "Data search "Replace All" changes only one match"
#### System information:
- Windows 10, DBeaver CE 21.1.0, Oracle (mysql, derby etc.)

#### Describe the problem you're observing:
Search by part of the words, case sensitive unchecked. 3 words highlighted when you press **Find** button. But **Replace All** btn won't affect all matches and also does not affect the selected cell
#### Video:
https://user-images.githubusercontent.com/43252954/11984729

[2021-05-27 15:08] kseniiaguzeeva commented on #11912
Verified

[2021-05-27 15:08] #11912 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-05-27 15:14] houndegnonm commented on #7903
I have the same issue with DBVisualizer 12.0.5 and MariaDB Connector/J 2.7.3 works for me

[2021-05-27 15:19] LonwoLonwo commented on #12363
Fixed in DBeaver 21.1.1

[2021-05-27 16:29] gavvvr commented on #12537
Reproduced again with my instructions above (on a Linux Mint machine this time to get clear logs).
There was only a single log-file in **~/.local/share/DBeaverData/workspace6/.metadata**:
- [dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/6555469/dbeaver-debug.log)

[2021-05-27 17:02] ccastilla opened #12630 "Load sql view without database name"
Hello, Is it possible to open the sql code of a mysql view without containing the name of the database that contains it.

[code]
and not...

[code]

thanks!

[2021-05-27 17:09] Lautenschlager-id opened #12631 "[Feature Request] Option to display trailing whitespaces in data editor"
I would like to be able to see trailing whitespaces in data from the data editor.

For example, assume the value `test ` in the following query:
``insert into `player` ( `name` ) values ( "test " )``

This way I currently can't see the whitespace in "test" when displayed in the data editor, leading me to face some bugs in my application. It would be easier for me if DBeaver displayed the whitespac

[2021-05-27 19:24] eshirvana commented on #12586
but the question is why snap is not getting that update yet?

[2021-05-27 22:16] another-repo opened #12636 "Dropped attributes in postgres composite types prevent records from being saved"
Hi,

When using composite types (postgres), we've noticed that after dropping attributes, any table that uses this composite type is not always editable.

Here's the minimum example we could derive:

[code]

After this, the schema needs to be refreshed (F5), or the table refreshed. Or a restart. Then the issue will become apparent.

If a select is then performed in the following way:

[code]

Then

[2021-05-28 00:53] lijose commented on #12452
Hive queries takes longer time compared to normal RDBMS ones. Currently when I am running queries in DBeaver it shows only the time (of execution).
From the log of Hive queries, we can get the progress of query (percentage of completion and memory,  no. of containers etc).
It would be a nice add-on if percentage of completion of running query is shown in DBeaver.

This will help to keep track of q

[2021-05-28 02:05] pdesuza opened #12639 "Infinity timestamp format preventing data grid editing"
#### System information:
- MacOS Catalina v10.15.7
- DBeaver v21.0.5.202105160657

#### Connection specification:
- Postgres 11.11
- PostgresSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Trying to edit column in data grid but complains about +Infinity formatting no matter what field I edit

[code]
The column it's complaining abou

[2021-05-28 04:01] bike4life opened #12640 "Web Site Certificate Issues"
When visiting your website being redirect by ISP as "dangerous site".

![Screen Shot 2021-05-27 at 5 29 41 PM](https://user-images.githubusercontent.com/13258915/119927685-bfab2f80-bf2e-11eb-8b4e-d28809a19932.png)

[2021-05-28 04:44] mkgrgis commented on #12245
Thanks, this works. Maybe there is reason to make special button "Open a folder of web application for this map" ? It's about my this FR begins https://github.com/dbeaver/dbeaver/issues/12245#issue-867320716.

[2021-05-28 05:00] mkgrgis commented on #12247
There is live demonstration, @kseniiaguzeeva
![gis problem](https://user-images.githubusercontent.com/41448637/119931765-ab951b80-bf8a-11eb-8fe5-b612c3044e5f.gif)

[2021-05-28 05:07] serge-rider commented on #12640
Thanks for the report.

I've re-checked SSL reports on Qualys (https://www.ssllabs.com/)  and SSLShopper (https://www.sslshopper.com/) and everything seems to be valid and trusted. The only issue is lack of some TLS 1.2  protcools support on the server-side. Even though Qualys rates it as B which means good enough (for plain binary content). Unfortunately we can't control this as download.dbeaver.

[2021-05-28 05:44] kseniiaguzeeva commented on #12565
Nice to hear)

[2021-05-28 05:44] #12565 closed, assigned to nobody

[2021-05-28 05:59] Matvey16 commented on #12022
Verified on Oracle, but this Editor behavior still persists when working on PostgreSQL

[2021-05-28 06:47] ahsandev2019 commented on #12441
so the native version will be waiting java 17?
i want to move to m1 mac, but maybe i will delay it due dbviewer not supported at native apps

[2021-05-28 06:52] supervate commented on #12441
What a pity :(

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年5月28日(星期五) 下午2:47
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [dbeaver/dbeaver] Native support for macOS/ARM (Apple Silicon M1) (#12441)

We are waiting for Java 17 (the release is going to be in September) and Eclipse to support it.

so the native version will be waiting j

[2021-05-28 07:14] rmcouat commented on #12583
I can confirm the snap remove command removed the .local files including the work area. Live and learn.
There were features I needed in the Enterprise version so I purchased that and  removed the CE version that was snap installed and moved forward with the .deb file download. For me the issue is closed.

[2021-05-28 07:59] grinapo opened #12641 "java.lang.StackOverflowError when running update sql without WITH"
#### System information:
- Operating system (distribution) and version: Debian sid
- DBeaver version:  dbeaver-ce     21.0.5       amd64
- Additional extensions

#### Connection specification:
- Database name and version: psql Debian 11.10-0+deb10u1
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:

opened sql n

[2021-05-28 08:26] serge-rider commented on #12641
Probably this was fixed in 21.1 version (in d587cfd1d1c1b5c94b50a1a04cc17ac7a7602f01).

Could you test it in the Early Access version (https://dbeaver.io/files/ea)?

[2021-05-28 08:42] LonwoLonwo commented on #12621
Fixed in DBeaver 21.1.0

[2021-05-28 09:13] grinapo commented on #12641
It does not enter an infinite loop in 21.1.0.202105250725, I'd say it can be safely closed. Thank you!

[2021-05-28 09:20] #9203 closed

[2021-05-28 09:23] git10135405 opened #12642 "The automatic update prompt is not turned on, it will still prompt"
The automatic update prompt is not turned on, but when I start dbeaver, it still prompts？Is it a bug?

![image](https://user-images.githubusercontent.com/35558611/119961305-7ca59680-bfd8-11eb-936b-72b03275011b.png)

[2021-05-28 09:27] pitanni opened #12643 "Improve the sql editor"
It would be great to have a multi-line selector, as happens for example on notepad++, where by holding down the "Alt" key and selecting the lines with the mouse you can write simultaneously on several lines

[2021-05-28 09:30] ShadelessFox commented on #12643
Hello @pitanni,

You can activate block selection in <kbd>Edit</kbd> &rArr; <kbd>Toggle Block Selection</kbd> or by pressing <kbd>Alt+Shift+A</kbd>.

Let me know if your request was fulfilled.

[2021-05-28 09:35] uslss commented on #12621
verified

[2021-05-28 09:35] #12621 closed, assigned to uslss, LonwoLonwo

[2021-05-28 10:04] KES777 commented on #12623
![image](https://user-images.githubusercontent.com/799021/119967509-16f3e300-bfb5-11eb-89dc-2afe3fdd2ac1.png)

expanding does not work for functions. It just put FROM when I use hotkey. There is not any spacing before keyword, which is syntax error

[2021-05-28 10:25] ShadelessFox commented on #12623
We don't support that. I will rename the ticket to reflect the actual problem.

[2021-05-28 10:30] ShadelessFox commented on #12623
I'm concerned about this improvement.
In order to expand the columns we need to obtain them first. In case of functions, we need to execute it to get the result. It can cause problems and damage if function is not pure (changes data) and the user is unaware of this behavior.

[2021-05-28 11:00] fvannee commented on #12636
This reproduces on DBeaver 21.0.5

[2021-05-28 12:00] ShadelessFox commented on #12142
We should allow type modifiers in the metadata editor to allow creating attributes with signature like `geometry(POINT,4326)`. That's because in case of postgres we forbid entering any type but predefined.

[2021-05-28 12:17] ShadelessFox commented on #11974
Hello @PerfKeeper,

Unfortunately, it's not possible. This is a native Windows component and, as far as I know, it does not support scrolling.

Instead of using drop-down menu, you can simply click on the button and popup will appear:
![image](https://user-images.githubusercontent.com/35821147/119982563-ac986e00-bfc7-11eb-9b27-522826926fb7.png)

Similar issue: #11785

[2021-05-28 12:17] #11974 closed, assigned to nobody

[2021-05-28 12:44] ShadelessFox commented on #12639
Thanks for the report.

[2021-05-28 13:53] kseniiaguzeeva opened #12646 "Fill Class name automatically in Driver Properties"
DBeaver 21.1.0 EA
Mac

When we create a new driver manually, we look for its class by pressing **Find Class** button in **Libraries** tab. We should set its value to **Class name** in **Settings** tab as soon as it is found and selected.

![dbeaver_1gSN1WtzUt](https://user-images.githubusercontent.com/51405061/119994101-f20f6800-bfd4-11eb-8488-5dfbd7df9f57.png)

[2021-05-28 14:21] pitanni commented on #12643
Hi @ShadelessFox ,
thank you very much! I did not know this command.
is it possible to select on the last character of each line? (like on DataGrip)

[2021-05-28 14:26] Dreamescaper opened #12647 "Ability to find table by name across the whole database server"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I remember the table name, but not the database or namespace it's located in.
I've tried to use Navigate -> Open Database Object, but it seems to be working only for active database, not server.
I've also tried Search -> DB Metadata, but it simply returns 0 results.

**Describe the solution you'd like**
I

[2021-05-28 14:36] ShadelessFox commented on #12643
Unfortunately, it is not possible :(

[2021-05-28 15:50] jpdesarrolloapp commented on #6064
+1

[2021-05-28 18:29] devscheffer commented on #12623
It also doesn't work when you try with WITH() like
[code]
If you try ctrl+space won't bring the right column c1

[2021-05-28 18:38] #12641 closed, assigned to nobody

[2021-05-28 19:28] quicksnap commented on #12441
@ahsandev2019 While the UI in DBeaver on M1 is sluggish, it is definitely still usable. I've found my M1 to be great overall.. much nicer than the x86 laptops I've had, even recently.

If you're not doing serious native x86-based work, I highly recommend considering an M1!

[2021-05-29 00:04] p91paul commented on #12623
@ShadelessFox I expect most databases have metadata about the function return type that can be queried without executing it?

[2021-05-29 02:12] codeRemark opened #12648 "How to move a ER diagram from one connection datagbase to another ?"
I draw ER diagram on a database connection which is remote .

then I want works on offline like local host database . but even I dump the database of remote and restore on local . all ER diagram was lost

I am confuse how to save or export the ER diagram  from one database then import to new ?

many thanks for your help!

[2021-05-29 02:46] ShadelessFox commented on #12623
@p91paul, they do, but I suspect in some databases a function may have a dynamic return type. In that case we can't do nothing.

That's a nice point anyway!

[2021-05-29 08:58] p91paul commented on #12623
@ShadelessFox of course, but I also think that with a dynamic return type the user cannot have a reasonable expectation of getting autocompletion!

[2021-05-29 09:32] plotn opened #12649 "Objects without headers - postgres"
Hi! Still remains old bug, and I possibly found a way to reproduce it.

1. We work with database as commons.
2. The connection lost (in my case there is normal network and internet, but vpnis swithched off, so db is unreachable)
3. I expand database object tree, select and double click object - editor appears.
4. Object is shown without header (I never switch off the headers), e.g.:

declare l_pid

[2021-05-29 10:00] kseniiaguzeeva opened #12650 "Unnecessary quotes are displayed in task query"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.1.0 EA

#### Connection specification:
- Database name and version PostgreSQL
#### Steps to reproduce, if exist:
1. Create a task from query where a word is quoted
2. Close _Add query_ dialog and look how the query looks in _Configure Data export settings_ page

**Expected**: the statement is displayed

[2021-05-29 13:13] pamxy commented on #3141
Yes, thank you!

[2021-05-29 13:29] serge-rider commented on #9870
After it looks like a problem in the driver. It re-loads class files o every connection. This leads to class loader errors.
The owrkaround is to create separate drivers for each connection.

[2021-05-29 13:29] #9870 closed

[2021-05-29 13:31] serge-rider commented on #11579
We plan to add dmg installer without bundled Java in 21.2 version.

[2021-05-29 14:22] kseniiaguzeeva opened #12651 "Small size of create trigger dialog disables trigger function field"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.1.0

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
Open DBeaver with screen resolution 1440x900 and try to create a trigger via a table properties

**Expected**: the trigger is created
**Actual result**: trigger function field is disabled in cr

[2021-05-29 14:25] ionutursuleanu opened #12652 ""Open database object" / F4 it's not working for partitioned tables in PostgreSQL"
#### System information:
- macOS Big Sur 11.4
- DBeaver 21.0.5

#### Connection specification:
- PostgreSQL 11.9

#### Describe the problem you're observing:
"Open database object" / F4 it's not working for partitioned tables. It does nothing
#### Steps to reproduce, if exist:
Run
[code]
Reconnect and try to open `measurement` table or any of its partitions.

[2021-05-29 14:38] kseniiaguzeeva commented on #12652
I cannot reproduce it in DB Navigator and SQL Editor.

https://user-images.githubusercontent.com/51405061/120074154-2aca4280-c0a4-11eb-8494-0dfa19e80ffc.mov

Can you open other objects? Open an object by double-click/via context menu?
Please also try Fn+F4.
If nothing helps, please send [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files) and a video.

[2021-05-29 14:41] mdziczkowski opened #12653 "[dbeaver.io website] Incomplete view of files (see description)"
#### System information:
- System: Ubuntu 20.04
- DBeaver version: 21.05
- Java version: supplied with application
- Additional extensions: MariaDB driver

#### Describe the problem you're observing:

Under the URL: [dbeaver.io/files](https://dbeaver.io/files) not all content is visible (needed for the application repository)

#### Steps to reproduce, if exist:

Open the mentioned URL thru a web b

[2021-05-29 15:26] ionutursuleanu commented on #12652
Hi @kseniiaguzeeva ,

From Database Navigator it works for me also. See attached video when it's not working. This is happening only for partitioned tables.

https://user-images.githubusercontent.com/6136404/120075645-daa2ae80-c0aa-11eb-8d24-7dc02b72afc2.mov

[2021-05-30 02:38] regulator-g commented on #10320
same issue here can't restore a database because the cilent can't find pg_restore, I cant even manually type the /usr/bin path it just always selects /run/user/1000/doc/6112140e/usr. had to switch to the .deb package to be able to restore my database

[2021-05-30 20:59] CComparon opened #12654 "MySQL DATETIME(3) values displayed with ns precision instead of ms"
Hello

Despite trying all the advice I found on issue #7268 and continuously upgrading DBeaver to latest version, I've always been facing this issue, both with Mysql5 and Mysql8.
Many thanks for any advice or possible fix.

#### System information:
- OS: Windows 10 x64 19043
- DBeaver version: 21.0.5
- Additional extensions: none

#### Connection specification:
- Database name: MySQL community ser

[2021-05-31 07:21] flambchap opened #12655 "Update MySQL User Editor fields when renaming user from the navigator tree"
This bug is related to #10737. When the user editor is opened and we try to rename a mysql user from the tree, the User Name and Host fields are not updated.

[2021-05-31 07:33] db2zosuser commented on #12064
Hi @uslss

See video (7.2.3)...
https://user-images.githubusercontent.com/61581747/120157285-282a3300-c1f3-11eb-961c-fdce2c5a05cd.mp4
...and yes the "connection settings" window freezes also when trying to edit an Oracle connection using DBeaver 21.0.3.

[2021-05-31 07:38] db2zosuser commented on #12064
In the meantime I did some further testing and I came to conclusion that the root cause is related to LDAP directory server usage (Oracle NetAdmin)

When I test edit Oracle connection in DBeaver on a workstation where Oracle NetAdmin is NOT installed, everything runs fast and smooth. "Network Alias" pull down menu (tab TNS) is grayed out:
![dbeaver_Ora_connections_settings2](https://user-images.gi

[2021-05-31 07:44] DariaMarkaryan opened #12657 "NPE when trying to open a picture, if any is already open"
#### System information:
- Windows 10, DBeaver 21.1.0 CE, Oracle 12

#### Describe the problem you're observing:
If you click on the BLOB by double-clicking, the picture opens, but an NPE appears. The error does not occur when BLOB displayed in text or binary format
#### Steps to reproduce, if exist:
![2021-05-31_10h36_04](https://user-images.githubusercontent.com/43252954/120157954-3f215300-c1fc-

[2021-05-31 07:54] DariaMarkaryan opened #12658 ""Select from" from complex columns with NULLs and data wrong syntax"
#### System information:
- Windows 10, DBeaver 21.1.0 CE, Oracle 12

#### Steps to reproduce, if exist:
Click "Filter by column value" in complex column with NULL and other values in it (e.g. PM.ONLINE_MEDIA table, WIDTH column)
![image](https://user-images.githubusercontent.com/43252954/120159832-4a757e00-c1fe-11eb-9b62-cf664d41da50.png)
Select all values and click "Apply filter criteria"
![image

[2021-05-31 08:03] Matvey16 commented on #11717
Verified

[2021-05-31 08:03] #11717 closed, assigned to LonwoLonwo, Matvey16

[2021-05-31 08:08] Matvey16 commented on #12429
The same bug on Datetime datatype [#12654](https://github.com/dbeaver/dbeaver/issues/12654)

[2021-05-31 08:10] Matvey16 commented on #12654
Thank you for the report. We are already working on it.

[2021-05-31 08:10] #12654 closed, assigned to nobody

[2021-05-31 08:20] flambchap commented on #11839
This fix breaks in the situation when querying sessions takes a somewhat significant time and we change the selection after the query has started.

[2021-05-31 08:23] michal-bartak commented on #12586
I just get to github to ask the same question.
I have a feeling in the past there were no such delays. Never noticed significant delay, let's say greater than several days.
But not this time.

[2021-05-31 08:30] Matvey16 commented on #12609
Can you please provide your expected and actual result. I tried to reproduce this issue but it looks like everything is working as intended.
When importing from CSV you have an option to choose a character to use as an escape symbol

![2021-05-31_11h26_02](https://user-images.githubusercontent.com/82543000/120164380-31230080-c203-11eb-88cf-524df46a5dd9.png)

By default it is a backslash, so in you

[2021-05-31 08:36] uslss commented on #12649
@plotn , what dbeaver version do you use?

[2021-05-31 08:41] plotn commented on #12649
always maximally fresh

[2021-05-31 08:44] uslss commented on #12648
seems to be a duplicate of #10886 - the feature will be implemented in the mentioned ticket.
[Here](https://github.com/dbeaver/dbeaver/issues/10886#issuecomment-776704611) you can find a workaround, but seems it is not needed to use git in your case.

[2021-05-31 08:44] #12648 closed, assigned to nobody

[2021-05-31 08:46] uslss commented on #12647
@Dreamescaper what database and dbeaver version do you use?

[2021-05-31 08:48] ShadelessFox commented on #12657
Can you please provide log files?

[2021-05-31 08:51] javed125 commented on #11717
Bot

[2021-05-31 08:51] uslss commented on #12642
please, uncheck higlighted option
![image](https://user-images.githubusercontent.com/31996417/120167512-801e6500-c206-11eb-9744-5f3573241229.png)

[2021-05-31 08:51] Dreamescaper commented on #12647
Database: SQL Server,
DBeaver Community Edition 21.0.5

[2021-05-31 08:54] isak-kaz commented on #12478
looks like this is done, thanks!

[2021-05-31 08:57] uslss commented on #12630
@ccastilla could you provide some screenshots? is it about the Source tab at Properties view?

[2021-05-31 09:01] uslss commented on #12631
thanks for the suggestion. Seems to be duplicate of #1934

[2021-05-31 09:01] #12631 closed, assigned to nobody

[2021-05-31 09:14] kseniiaguzeeva opened #12660 "Remove single quotes for filtered values in context menu"
#### System information:
- DBeaver version 21.1.0

#### Describe the problem you're observing:
When we select a value to filter via context menu, it is surrounded by single quotes. We have to remove them.

[2021-05-31 09:20] kseniiaguzeeva commented on #11931
Please tell, is your database in-memory? It can be a reason of the issue.

[2021-05-31 09:22] Matvey16 commented on #12480
Note: "Restore Default" button returns properties to the state they were in, when the window was opened.

[2021-05-31 09:50] manticore-projects commented on #10704
Greetings!
This has been solved and my PR https://github.com/JSQLParser/JSqlParser/pull/1208 to SQLParser has been accepted. If you guide me on how to update the Third Party Dependencies for DBeaver, I could create a PR for you.

[2021-05-31 10:02] tati-kru commented on #11088
Seems to be duplicate of #10137

[2021-05-31 10:45] tati-kru commented on #12399
Duplicat

[2021-05-31 10:45] #12399 closed, assigned to ShadelessFox

[2021-05-31 11:07] elring commented on #12649
Hi. I have this problem regulary too. Usually when I suspend my PC with db left open and next day I continue my work...
At first the function source has only text "-- Loading 'test_function(params)' source..." and then (after it reconnects to db) the function source has only the function body. When I close the function and reopen it, it still has only body. Possible solution is to refresh the func

[2021-05-31 11:18] plvnv opened #12663 "Export Data - Export to SQL insert Statements interface bug"
Dbeaver CE 21.0.5 macos

"Export table row to SQL Insert"  interface BUG

1) right mouse click -> select "export  data..." -> "Export to SQL insert Statements"
![image](https://user-images.githubusercontent.com/52536610/120185379-c8e01900-c21a-11eb-9987-1d7819fe6782.png)

2) Set checkbox "Include Generated Columns" and then get this
![image](https://user-images.githubusercontent.com/52536610/12018

[2021-05-31 11:55] LonwoLonwo commented on #11717
Fixed in DBeaver 21.1.1

[2021-05-31 12:16] Matvey16 commented on #12455
Judging by your .log file it looks like you have very old GTK+ version. Can you try to update it to at least 3.20
Also I found similar problems with GTK and SWT on Eclipse [here](https://superuser.com/questions/1455397/debian-9-org-eclipse-swt-swterror-no-more-handles-immediately-after-opening-ec) and [here](https://superuser.com/questions/1399663/eclipse-org-eclipse-swt-swterror-no-more-handles).

[2021-05-31 12:20] fvannee commented on #12636
Reproduces on version 21.1.0 too

[2021-05-31 12:29] Matvey16 commented on #12538
Have you tried to type the encoding yourself? In this field instead of picking one of the options you can type encoding yourself.

[2021-05-31 12:29] igorlash opened #12667 "Zero date '0000-00-00 00:00:00' is displayed as NULL"
#### System information:
- Operating system (distribution) and version : Linux Mint 20.1 Cinnamon
- DBeaver version 21.1.0.202105300349
- Additional extensions

#### Connection specification:
- Database name and version MySQL 5.6.35-1+deb.sury.org~xenial+0.1
- Driver name MySQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

When a datetime field is  set to "0000-00-00 00:00:00", DBeaver dis

[2021-05-31 12:35] flambchap commented on #12667
Thank you for the report.

[2021-05-31 12:44] LonwoLonwo commented on #10704
Hello @manticore-projects
Thanks for the report and for contribution.
Now we need to wait for the official release of the next JSqlParser version.

[2021-05-31 12:56] azmau opened #12668 "TLS 1.0 and TLS 1.1 support"
#### System information:
- Operating system (distribution) and version:  Windows 10 20H2 (build 19042.985)
- DBeaver version: Community 21.1.0.202105300349
- Additional extensions

#### Connection specification:
- Database name and version: SQL Server 2008 10.50.6000.34
- Driver name: Microsoft JDBC Driver for SQL Server 8.2.0.jre11
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Des

[2021-05-31 12:59] ccastilla commented on #12630
Hello

![image](https://user-images.githubusercontent.com/37351819/120196965-155d3180-c1e6-11eb-9ef2-abb07ffb4643.png)

[2021-05-31 13:27] plotn commented on #12649
exactly the same, plus this effect: https://github.com/dbeaver/dbeaver/issues/12559 - "disconnected windows (tabs) remains disconnected forever"

[2021-05-31 14:40] btanner2 opened #12672 "Bug: wrong cursor focus introduced in 21.0.4 - 21.1.0"
Hi,

I backup all dbeaver portable versions by myself, so it is very easy to check, which behavior was changed in which version. Until version 21.0.3, you could run a SQL statement and the focus of the cursor stays still in the SQL window.

With 21.0.4 (until 21.0.1) this behavior changed. From that version, the cursor switched automatically from SQL window to the result window after the SQL state

[2021-05-31 14:41] eshirvana commented on #12586
finally snap package got updated to 21.1 today .

![image](https://user-images.githubusercontent.com/72626662/120209425-ab9c5200-c1fc-11eb-9d78-27dcfe146928.png)

[2021-05-31 14:46] serge-rider commented on #12667
Date `0000-00-00 00:00:00` is a special MySQL hack, it is not a valid date. It is converted to NULL by default.
You can change this behavior by disabling date formatting in the preferences:
![image](https://user-images.githubusercontent.com/6398845/120210086-0dc67880-c238-11eb-8b7c-f0fb9b2b18e4.png)

[2021-05-31 14:47] DariaMarkaryan commented on #12657
sorry, I forgot to do this
java.lang.NullPointerException
	at org.jkiss.dbeaver.ui.data.managers.image.ImagePanelEditor.primeEditorValue(ImagePanelEditor.java:58)
	at org.jkiss.dbeaver.ui.data.managers.image.ImagePanelEditor.primeEditorValue(ImagePanelEditor.java:1)
	at org.jkiss.dbeaver.ui.data.editors.ContentPanelEditor$StreamValueLoadService.evaluate(ContentPanelEditor.java:497)
	at org.jkiss.d

[2021-05-31 14:47] eshirvana commented on #12672
yes, I can confirm this issue , I have the same problem and It's annoying.

[2021-05-31 14:56] sroui commented on #12668
I have the same issue after upgrading to the latest release

[2021-05-31 15:07] ShadelessFox commented on #12668
Hello @azmau @sroui,

I believe that's the result of upgrading the version of bundled JRE to 11.0.11 (#12067).

Starting from this version, support for TLS 1.0/1.1 was disabled by default, as mentioned in the roadmap:
https://java.com/en/jre-jdk-cryptoroadmap.html

You can try using previous JRE versions or refer to this article on how to enable support for TLS 1.0 manually:
https://java.com/en/co

[2021-05-31 15:11] igorlash commented on #12667
I disabled date formatting in the preferences
![image](https://user-images.githubusercontent.com/31065075/120213048-72cf9d80-c23b-11eb-8146-d6b142cd8a6b.png)
but the result is still the same
![image](https://user-images.githubusercontent.com/31065075/120213155-8f6bd580-c23b-11eb-805c-1dad661c2faa.png)
![image](https://user-images.githubusercontent.com/31065075/120213198-9b579780-c23b-11eb-8e50-5a9

[2021-05-31 15:55] marcosarmas commented on #6213
Hi,
I have the same issue with Netsuite ODBC Driver, do you have solved this problem?

[2021-05-31 16:16] serge-rider commented on #12653
Could you write example of exact URL which doesn't work?

[2021-05-31 16:57] mdziczkowski commented on #12653
https://dbeaver.io/files

Not that it does not work, but not everything is shown on the listing. For example, in the dbeaver application's configuration, there is a given URL to `https://dbeaver.io/files/jdbc`, but when opening the `https://dbeaver.io/files/` in the web browser, there is no `jdbc` folder listed

[2021-05-31 17:08] KES777 opened #12674 "New modal window must be activated"
#### System information:
- Linux Mint 19.3 Cinnamon
- DBeaver version 21.0.3

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/799021/120224276-d5309a00-c24b-11eb-9d7c-f880b8a3fd83.png)

Can not click on close button (2), because there modal window (1) about updates

This new modal window must be active, so I can understand which buttons to press =)

[2021-05-31 18:33] KES777 opened #12675 "Can not run SQL"
![image](https://user-images.githubusercontent.com/799021/120230301-b59f6e80-c257-11eb-9a85-be2da00ef3ec.png)

When I CTRL+ENTER I got error

But if I select highlighted SQL and CTRL+ENTER it run OK

seems editor wrongly detects where sql start between `;`

[2021-05-31 18:50] sroui commented on #12668
Hi @ShadelessFox, Thank you, It worked now.

As you have mentioned,  TLS 1.0/1.1 are disabled by default in the bundled JRE

To fix the problem in my ubuntu machine,  I have modified the file `/usr/share/dbeaver/jre/conf/security/java.security` by deleting the `TLSv1` and `TLSv1.1` from the value of property `jdk.tls.disabledAlgorithms`

[2021-05-31 18:52] leobasilio commented on #10026
I just had the same problem and this helped me. A snap update was applied while I was using the dbeaver and the drivers location folder was not updated to the new location. I had to manually fix it at the preferences dialog.

[2021-05-31 18:52] serge-rider commented on #12667
That's odd.
Check connection settings, this parameter can be redefined for a particular connection:
![image](https://user-images.githubusercontent.com/6398845/120231420-0e700680-c25a-11eb-8acc-2588d19a5fa5.png)

Also what driver version do you use? You can get it from Test Connection dialog.

[2021-05-31 19:38] ShadelessFox commented on #12093
Implemented:

![image](https://user-images.githubusercontent.com/35821147/120206487-ec638d80-c233-11eb-8c2b-6b3ade9a7cc4.png)

[2021-05-31 19:40] KES777 opened #12676 "Different column is exported to CSV"
How to reproduce:
when result have columns with same name and I select second column, but first column is exported into CSV

[2021-05-31 20:07] igor-elbert commented on #1959
Same problem with Version 21.1.0.202105300349 on MacOS 11.3.1:

SQL Error [47]: ClickHouse exception, code: 47, host: 10.205.0.23, port: 8123; Code: 47, e.displayText() = DB::Exception: Unknown identifier: comment, e.what() = DB::Exception

  ClickHouse exception, code: 47, host: 10.205.0.23, port: 8123; Code: 47, e.displayText() = DB::Exception: Unknown identifier: comment, e.what() = DB::Excepti

[2021-05-31 20:28] LonwoLonwo commented on #12636
Thanks for the bug report!

[2021-05-31 21:24] KES777 commented on #12675
putting cursor after `;` (where red arrow point) also run query without problem

Also problem disappears when I comment out `--WITH o AS (`

[2021-05-31 22:21] rubenflorez commented on #12668
same problem here (windows 10)..solved using the above solution by editing \jre\conf\security\java.security . Thanks

[2021-06-01 06:17] timofas commented on #12668
or reinstall DBeaver 21.0.5, free.. Thanks

[2021-06-01 06:41] igorlash commented on #12667
I have updated the connection properties
![image](https://user-images.githubusercontent.com/31065075/120277844-4197b180-c2bd-11eb-9211-ece0c8860dce.png)
The problem still exists
![image](https://user-images.githubusercontent.com/31065075/120277896-507e6400-c2bd-11eb-85ea-bbfc85d76186.png)
My connection information is
![image](https://user-images.githubusercontent.com/31065075/120277973-668c2480-c2

[2021-06-01 06:41] F-l-a-m commented on #11816
Issue still exists in 21.1.0

[2021-06-01 07:18] p91paul commented on #12675
where is your cursor when you get the error? I would assume it's where you put your arrow, but then you say it's ok when your cursor is there

[2021-06-01 07:30] Matvey16 opened #12678 "Pinned columns don't unpin after clearing filters"
#### System information:
- Operating system (distribution) and version Ubuntu 20.04 and Win10
- DBeaver version 21.1.0

#### Describe the problem you're observing:
The button "Remove all filters/ordering" doesn't work with pinned columns. It is inactive if no other filtering is applied and when it is active, it removes everything but not pinned columns.

#### Steps to reproduce, if exist:
1. Pin a

[2021-06-01 07:38] uslss commented on #12676
cannot reproduce an issue.
what database and dbeaver version do you use?
could you provide a video with the issue?

[2021-06-01 07:40] uslss commented on #12672
cannot reproduce an issue against win10. What OS do you use?

[2021-06-01 07:45] uslss commented on #12663
seems to be duplicate of the #12566
anyway, thanks for the report

[2021-06-01 07:45] #12663 closed, assigned to nobody

[2021-06-01 07:46] Matvey16 opened #12679 "Hotkey Shift+Enter works differently for BLOB/CLOB data"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.0

#### Describe the problem you're observing:
`Shift + Enter` doesn't open a separate window for BLOB/CLOB data type.

#### Steps to reproduce, if exist:
1. Click a field with BLOB data
2. Press `Shift + Enter`

**Expected:** A separate window for editing is opened.
**Actual:** A new tab in Editor

[2021-06-01 07:53] flambchap commented on #12655
FIxed.

[2021-06-01 07:57] tomboe311 commented on #12668
Same problem with 21.1.0.202105300349 (installed via snap)

[2021-06-01 08:01] Matvey16 opened #12680 "Saving MySQL execution plan results in NPE and blank file."
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.0

#### Connection specification:
- Database name and version MariaDB
- SSH

#### Describe the problem you're observing:
When trying to save execution plan for MariaDB it is saved as blank file and NPE is thrown.

#### Steps to reproduce, if exist:
1. Run any SELECT in SQL Editor.
2. Click `explain

[2021-06-01 08:23] Matvey16 opened #12681 "Set connection from navigator for SQL console doesn't work for tables"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.0

#### Connection specification:
- Database name and version MariaDB
- SSH

#### Describe the problem you're observing:
`Window > Set connection from navigator` doesn't work if a table or anything on any lower level is selected

#### Steps to reproduce, if exist:
1. Highlight any table in schema/co

[2021-06-01 08:34] 2019-05-10 opened #12683 "Debian packages: mark dbeaver.ini as config file"
Not sure,  if it is afeature or bug request, though.

Debian has a mechanism to mark certain files as config files:
[https://www.debian.org/doc/debian-policy/ap-pkg-conffiles.html](https://www.debian.org/doc/debian-policy/ap-pkg-conffiles.html)
section 5.1, I guess.

So, when a package is updated and a config file has been changed by user, APT prompts the user asking whether to
- keep the local ve

[2021-06-01 08:34] serge-rider commented on #1959
@igor-elbert What Clickhouse server version do you have? And \what driver version?
You cna get this info on Test Connection dialog.

[2021-06-01 08:47] kseniiaguzeeva commented on #12678
Works as expected.

[2021-06-01 08:47] #12678 closed, assigned to nobody

[2021-06-01 08:50] btanner2 commented on #12672
Win 10.

I guess you have to do a SELECT from a existing table.

`SELECT 1`

let the cursor stay in SQL window. Pressing arrow keys let the cursor move in SQL window. This is how it should work.

`SELECT 1 FROM >existing_table<`

let the cursor switch to result window. Pressing arrow keys let the cursor move in result window. This is a wrong behavior.

Brian

[2021-06-01 08:50] cooltnt opened #12684 "postgresql9.6 TAN(45 * Pi()/180) = 0.9999999999999999 not 1"
#### System information:
- Operating system (distribution) and version
- win10
- DBeaver version
- 21.1.0.202105300349
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
database: postgresql9.6
run  select TAN(45 * Pi()/180)  result is 0.9999999999999999 no

[2021-06-01 08:54] kseniiaguzeeva commented on #12679
It is expected

[2021-06-01 08:58] DariaMarkaryan commented on #3400
Verified

[2021-06-01 08:58] #3400 closed

[2021-06-01 10:06] ShadelessFox commented on #12163
Hello @lunarquaker,

I cannot reproduce your issue. The results are present in the result set view:
![image](https://user-images.githubusercontent.com/35821147/120305864-ede79100-c2d9-11eb-8c14-0be071cfeaf1.png)

The assembly was made by following this manual:
https://docs.microsoft.com/en-us/sql/relational-databases/clr-integration-database-objects-user-defined-functions/clr-table-valued-function

[2021-06-01 10:11] Matvey16 commented on #12598
Verified

[2021-06-01 10:11] #12598 closed, assigned to serge-rider, Matvey16

[2021-06-01 10:33] p91paul commented on #12672
@uslss it happens if you run script (Alt+X) instead of running single statement (Ctrl + Enter)

@btanner2 how are you running your statement? I've tried keyboard shortcuts and toolbar buttons and that's the only way I could reproduce, but you seem to be looking to run a single statement and not many.

[2021-06-01 10:39] thomasbronner opened #12687 "Move vertical Server Output window with result, horizontally"
#### System information:
- Operating system (distribution) and version : Win 10
- DBeaver version : 21.1,0
- Java version : 1.8.0_271
- Additional extensions

#### Connection specification:
- Database name and version : PostgreSQL 11.x
- Driver name  ??
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:

The server output window appear vertically bes

[2021-06-01 11:13] mateusviccari commented on #7993
https://user-images.githubusercontent.com/8275175/120313893-0099a000-c2b1-11eb-9c65-c4e3b6fabd8f.mp4

I'm facing the same problem when running certain queries  with MSSQL connection, not sure why. Here's a video showing the problem.

I have almost exactly the same settings from the OP but I'm running SQL Server 2008.

[2021-06-01 11:48] serge-rider commented on #12667
Could you try to use MySQL 8 driver (or MariaDB driver)?

Earlier version of MySQL JDBC driver couldn't evaluate zero dates properly.

[2021-06-01 11:59] serge-rider opened #12688 "SQL editor init is laggy in some cases"
In session manager it is slow when switch sessions.
Possibly slow in nested editors.

Lag happens when SQL editor input is reinitialized. It happens because of incremental reconciler.

[2021-06-01 12:18] ShadelessFox commented on #12684
Hello @cooltnt,

I cannot reproduce your issue:
![image](https://user-images.githubusercontent.com/35821147/120320850-52f7b280-c2eb-11eb-8fcc-19b80d714784.png)

But in pgAdmin4 the issue is present:
![image](https://user-images.githubusercontent.com/35821147/120321698-49bb1580-c2ec-11eb-98fd-c02216189956.png)

This phenomenon is called rounding error. Some numbers cannot be simply represented in b

[2021-06-01 12:23] ShadelessFox commented on #12684
If you're expecting the same results as shown in pgAdmin4, you can change number formatter settings:
![3JRVLF8psJ](https://user-images.githubusercontent.com/35821147/120322530-2cd31200-c2ed-11eb-9479-e770d03a01ec.png)

By doing so, the results are following:
![java_a5YcjRxHuc](https://user-images.githubusercontent.com/35821147/120322613-44aa9600-c2ed-11eb-906b-026be3df53b7.png)

Let me know if you

[2021-06-01 12:23] btanner2 commented on #12672
@p91paul

You are right. I am running statements always as a script with (Alt+X) instead of single statement (CTRL + Enter). The reason is I always have to run everything in the active window, instead of a single part. If I want to run a single part only, I select this part and use once more Alt+X. Worked perfectly until 21.0.3.

A short try shows: Alt+X switches the focus, CTRL+Enter does not. We

[2021-06-01 12:24] igorlash commented on #12667
I have checked with MySQL 8 driver and MariaDB driver.
I works correctly with both of them

![image](https://user-images.githubusercontent.com/31065075/120322753-6e63bd00-c2ed-11eb-822e-e9f23eafc83e.png)

Thanks :)

[2021-06-01 12:27] liemoli opened #12689 "Custom connection to cloud Oracle"
#### System information:
- Operating system (distribution) and version Windows Server 2012R2
- DBeaver version 21.1
- Additional extensions NO

#### Connection specification:
- Database name and version kwflqv4gxisozun_autotorinodwh_high.adwc.oraclecloud.com
- Driver name Oracle 12.1.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NO

#### Describe the problem you're observing:
After updating

[2021-06-01 13:01] ShadelessFox commented on #12261
Fixed:

![image](https://user-images.githubusercontent.com/35821147/120327551-8c7fec00-c2f2-11eb-84ce-706bd0810fc6.png)

[2021-06-01 13:02] Khazbs commented on #1251
What if there is no database and I want to create one? When trying to execute "CREATE DATABASE" using DBeaver, it says "no database selected" and fails to create one.

[2021-06-01 13:05] ShadelessFox commented on #12090
Fixed:

![image](https://user-images.githubusercontent.com/35821147/120328100-2c3d7a00-c2f3-11eb-9e2c-8d79269f5ab1.png)

![image](https://user-images.githubusercontent.com/35821147/120328127-33fd1e80-c2f3-11eb-92be-34cd741c74b7.png)

[2021-06-01 13:12] flambchap commented on #12022
Fixed.

[2021-06-01 13:13] flambchap commented on #11839
Fixed once again.

[2021-06-01 13:25] KES777 commented on #12675
somewhere in the red area

[2021-06-01 13:29] KES777 commented on #12676
`select 1 as first, 2 as first, 3 as first`

After run your query by rightclicking column select first and third column
export to CSV

at csv you will get `1` and `2` value, instead of expected `1` and `3`

Version is 21.0.3, PostgresDB

[2021-06-01 13:31] KES777 commented on #12676
Here I select only two, but three columns =)

This is a bit different issue, but root of the problem is same: columns with similar names
![image](https://user-images.githubusercontent.com/799021/120331682-b4714e80-c2f6-11eb-9094-f464f7240cb1.png)

[2021-06-01 13:35] serge-rider commented on #12672
Fixed

[2021-06-01 14:12] LonwoLonwo commented on #11477
options DDL fixed. Now we show options without "="

[2021-06-01 14:22] mkosater opened #12691 "Version 21.1 permissions features errors on Redshift"
Version 21.1.0.202105300349

Errors are thrown in dbeaver on redshift connection when viewing the details of a object (table, view, schema, database).

Error:
  java.lang.reflect.InvocationTargetException
    SQL Error [500310] [42P01]: [Amazon](500310) Invalid operation: relation "pg_catalog.pg_roles" does not exist;
    SQL Error [500310] [42P01]: [Amazon](500310) Invalid operation: relation "pg

[2021-06-01 14:42] eshirvana commented on #12672
@serge-rider  did it fixed in Version 21.1.0.202105300349 ? because I still can see it happening

[2021-06-01 14:51] kseniiaguzeeva commented on #12691
Could you please provide me with more details:
- what permitions do you have?
- Error logs could be very useful too https://github.com/dbeaver/dbeaver/wiki/Log-files.
I will then be able to assess the situation and be able to better help you.

[2021-06-01 14:59] ricgavira commented on #12668
Eu também removi os protocolos como o @sroui falou ali acima, e funcionou.

Neste arquivo: "C:\Program Files\DBeaver\jre\conf\security\java.security"

![image](https://user-images.githubusercontent.com/11458628/120345210-44e46a80-c2c8-11eb-84b7-6c2480bf7a2a.png)

[2021-06-01 15:32] mkosater commented on #12691
Permission are superuser.

If you choose 'View Schema' on the public schema. You will see this message over and over as it loops through the objects in the public schema.

root cause is that redshift does not have the pg_role view.

2021-06-01 11:23:00.975 - Error reading property 'owner' from public
org.jkiss.dbeaver.DBException
	at org.jkiss.dbeaver.model.exec.DBExecUtils.tryExecuteRecover(DBExe

[2021-06-01 15:40] LonwoLonwo commented on #12691
Thanks for the bug report!

[2021-06-01 19:58] serge-rider commented on #12668
We will update java.security in the bundled JDK in the next version to enable TLS1.0/1.1

[2021-06-01 21:20] ausiddiqui commented on #11415
Having the same problem. I have macOS Big Sur 11.4 and even with 11.2 and 11.3 had this issue. The only version that works for me is dbeaver-ce-21.0.0. I have tried all the other versions from 21.0.1 through 21.1.0 with no luck. The minute the app is started the CPU levels spike to 110-200 % of CPU and the program goes into Not Responding mode and stays that way unless force quit.

[2021-06-01 21:24] serge-rider commented on #11415
@ausiddiqui Do you install from DMG archive from dbeaver.io website or from brew?
Are there any logs? (https://github.com/dbeaver/dbeaver/wiki/Log-files)
If not - could you try to make a thread dump? (https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump)

[2021-06-02 01:12] daggilli opened #12695 "v21.1.0 unable to connect to legacy MSSQL servers"
#### System information:
- Operating system (distribution) and version
  Ubuntu 18.04LTS
- DBeaver version
  21.1.0
- Java version
  openjdk-11-jdk 11.0.11+9-0ubuntu2~18.04
- Additional extensions
  N/A

#### Connection specification:
- Database name and version
  Microsoft SQL Server 2008
- Driver name
  MS SQL Server / SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
  NO

#### Desc

[2021-06-02 05:15] Korov opened #12696 "mongo db.getCollection() error"
#### System information:
- Operating system (distribution) and version:`Windows 10`
- DBeaver version: `Version 21.1.0.202106010550`
- Additional extensions

#### Connection specification:
- Database name and version:`Mongo 4.4.6`
- Driver name:`Mongo`
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Includ

[2021-06-02 05:39] cooltnt commented on #12684
First of all Thank you for your  attention！ @ShadelessFox
1、dbeaver and pgAdmin connect to then same database， in my place， pgAdmin results is  1,  0.5
2、dbeaver  number formatter settings  by default setting( unselected )， I tried set selected  before， but the results did not change （also 0.999999, 0.500000000000001）
3、Current drivers , dbeaver Automatic installation , I doubt it ，Let me try to c

[2021-06-02 06:01] F0xD8rk commented on #12427
Hi @ShadelessFox

I had the error every time I selected the checbox and clicked on Apply.
After installation of het newest version today (21.1.0.202106012023), the problem seems to be solved.
I also can't reproduce it anymore now.

[2021-06-02 06:32] kseniiaguzeeva commented on #12691
Fixed and verified. Thank you for your prompt bug report.
We made a hotfix this morning. Could you please download [the latest version ](https://dbeaver.io/download/) again?

[2021-06-02 06:32] #12691 closed, assigned to ShadelessFox

[2021-06-02 07:12] DariaMarkaryan commented on #12093
Verified

[2021-06-02 07:12] #12093 closed, assigned to ShadelessFox, DariyaFedorova

[2021-06-02 07:26] serge-rider commented on #12672
@eshirvana It will be fixed in the version 21.1.1 (see ticket milestone).
Also you can download the Early Access  version (http://dbeaver.io/files/ea)

[2021-06-02 07:35] Matvey16 commented on #12655
Verified

[2021-06-02 07:35] #12655 closed, assigned to flambchap, Matvey16

[2021-06-02 07:48] serge-rider opened #12698 "Read-only columns visualization"
When entire resultset is read-only we should show a lock icon in the top-left corner.
Otherwise we should show yellow mark on a particular read-only columns.

[2021-06-02 07:51] uslss commented on #12695
seems to be a duplicate of #12668
Will be fixed in 21.1.1.
Anyway, thanks for the report

[2021-06-02 07:51] #12695 closed, assigned to nobody

[2021-06-02 08:12] ShadelessFox commented on #12427
I'm glad your problem was solved!

[2021-06-02 08:12] #12427 closed, assigned to nobody

[2021-06-02 08:14] serge-rider commented on #12696
We need to add extra MG database commands support.

Workaround: use `db.get("kafka-key-count").find();` syntax.

[2021-06-02 08:18] ShadelessFox commented on #12684
In that case, you can manually adjust amount of fraction digits in the formatter mentioned previously:

![image](https://user-images.githubusercontent.com/35821147/120448029-d10f9400-c393-11eb-9bb6-85baa16d7848.png)

Try setting this value to `3`, for example.

[2021-06-02 08:21] uslss commented on #12687
seems to be a duplicate of #12534
anyway, thanks for the report

[2021-06-02 08:21] #12687 closed, assigned to nobody

[2021-06-02 08:46] MetalArend opened #12699 "sha256 mismatch when installing version 21.1.0 with brew"
#### System information:
- Operating system (distribution) and version: macOS Catalina 10.15.7
- DBeaver version: 21.1.0

#### Describe the problem you're observing:
Could not install dbeaver using brew, because of sha256 mismatch.

#### Steps to reproduce, if exist:
`brew reinstall --cask dbeaver-community`

#### Include any warning/errors/backtraces from the logs
[code]

[2021-06-02 08:50] uslss commented on #12675
@KES777 probably, you've got Blank line is statement delimiter option enabled. Could you try to disable it and check if it helps?
![image](https://user-images.githubusercontent.com/31996417/120449135-ff41a380-c394-11eb-91e3-cd868b49db8b.png)

[2021-06-02 08:50] serge-rider commented on #12699
We republished 21.1 release version because of multiple issues with Java 11.0.11 and TLS1/1.1 support.
Brew package has to be rebuild as well.
Currently you can download new version from dbeaver.io.

[2021-06-02 09:22] flambchap commented on #12022
The problem is also present in Derby and Vertica, which indicates a problem with all generic drivers.

[2021-06-02 10:05] LonwoLonwo commented on #12082
Fixed in DBeaver 21.1.1. Now datetime columns precision is in precision field

[2021-06-02 10:27] flambchap commented on #11639
Fixed.

[2021-06-02 10:34] xlogix commented on #12699
I faced the same issue. Downloaded the file from the website.

[2021-06-02 10:44] MrApollo opened #12701 "Want to change order of columns"
Okay, so this might be an easy one that I'm just not seeing but I was wondering if it was possible to change the order that columns come in when viewing a table.

<img width="205" alt="Properties" src="https://user-images.githubusercontent.com/85119190/120467102-b8a17880-c397-11eb-8f21-def83fbe3a21.png">
<img width="252" alt="Data" src="https://user-images.githubusercontent.com/85119190/120467109-

[2021-06-02 10:48] udovichenkoAlexander commented on #12351
Yes in every table every session. No errors in logs. I tried different themes (dark and white) no matter. How can I help?

[2021-06-02 10:58] p91paul commented on #12701
You can drag and drop columns in the Data tab. The drag point is the column type icon!

[2021-06-02 11:19] MrApollo commented on #12701
Perfect mate, Cheers for that.

[2021-06-02 11:27] kseniiaguzeeva commented on #12478
We are going to implement it in 21.1.5 release.

[2021-06-02 11:40] Matvey16 opened #12703 "Refresh in ER Diagram reverts all changes without asking"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.0

#### Steps to reproduce, if exist:
1. Make some changes in ER diagram (Drag new tables, change their positioning, create/delete connections)
2. Change view style in context menu or press F5

**Expected:** Pop-up window appears asking if you want to revert changes.
**Actual:** All changes are reve

[2021-06-02 11:48] kseniiaguzeeva commented on #12652
I could reproduce it. Thank you for the report. As a workaround please add schema_name before a table_name.

[2021-06-02 11:49] uslss commented on #12249
please, check Disable date/time formatting option in Data formats settings
![image](https://user-images.githubusercontent.com/31996417/120475204-ba783580-c3b1-11eb-9853-240905d66093.png)

[2021-06-02 11:50] uslss commented on #12033
there is no update on an issue for a long time.
If it is still actual for you, feel free to reopen an issue

[2021-06-02 11:50] #12033 closed, assigned to nobody

[2021-06-02 11:51] uslss commented on #12204
there is no update on an issue for a long time.
If it is still actual for you, feel free to reopen an issue

[2021-06-02 11:51] #12204 closed, assigned to nobody

[2021-06-02 11:52] uslss commented on #11925
duplicates #9206

[2021-06-02 11:52] #11925 closed, assigned to nobody

[2021-06-02 11:55] uslss commented on #12057
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2021-06-02 11:55] #12057 closed, assigned to nobody

[2021-06-02 11:56] tracure1337 commented on #12699
same here

[2021-06-02 11:57] uslss commented on #11596
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2021-06-02 11:57] #11596 closed, assigned to nobody

[2021-06-02 11:57] uslss commented on #12138
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2021-06-02 11:57] #12138 closed, assigned to nobody

[2021-06-02 11:58] uslss commented on #12409
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.

[2021-06-02 11:58] #12409 closed, assigned to nobody

[2021-06-02 12:23] MrApollo commented on #12701
Just realised it seems to not save when I do it like this, any idea why?

[2021-06-02 12:33] kseniiaguzeeva commented on #12544
Could you please provide me with more details: do schemas haму a spesific size, data?
Could you please also look at [Query manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager)? What quieries are executed?

[2021-06-02 12:40] kseniiaguzeeva commented on #12547
I cannot reproduce it. Could you please send a video?

[2021-06-02 12:47] pgvee commented on #9235
Solution (Though it weakens security)
Modify the <dbeaver_install>\jre\conf\security\java.security file.
Remove the "TLSv1" value from the jdk.tls.disabledAlgorithms key.
Restart dBeaver.

[2021-06-02 12:59] #12667 closed, assigned to flambchap

[2021-06-02 13:10] dkornacki-cutco commented on #12544
I looked more into this. I let it process for 5-10 minutes and it went through. The schema has > 7000 tables so it's relatively large.

The UI is locked up the whole time, so pressing cancel does nothing.

There is nothing in Query manager related to this.

[2021-06-02 13:15] uslss opened #12707 "Column renaming in view shows revert confirmation dialog"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.0

#### Connection specification:
- Database name and version postgres
#### Describe the problem you're observing:
1. Open properties tab for view
2. Try to rename view's column using f2
3. Change name and press ok
NOTE: issue is actual for renaming from db navigator
**Actual result**
Revert Confirm

[2021-06-02 13:25] bryan7087 commented on #6213
Same for me.

[2021-06-02 13:44] DariaMarkaryan commented on #12696
Verified

[2021-06-02 13:44] #12696 closed, assigned to serge-rider, DariyaFedorova

[2021-06-02 13:48] ShadelessFox commented on #12701
Hello @MrApollo,

To save columns position you need to press <kbd>Save filter settings</kbd>:

![image](https://user-images.githubusercontent.com/35821147/120491701-21054f80-c3c2-11eb-864e-b89d7bf9efaf.png)

[2021-06-02 13:58] kseniiaguzeeva commented on #12544
It definitely has to work faster. Thank you for the bug report.