[2021-10-21 14:37] ShadelessFox commented on #14080
We need to preserve old behavior. There are several cases when we pass callback objects defined in a particular model bundle to the driver whose classloader does not know about the bundle who defined it.

[2021-10-21 15:55] G3zz opened #14334 "GUI refresh delay after new line"
#### System information:
- Operating system (distribution) and version: macOS Catalina (10.15.7 (19H1417))
- DBeaver version: Community Version 21.2.1.202109181446
- Additional extensions: N/A

#### Connection specification:
- Database name and version: all tried
- Driver name: N/A
- Do you use tunnels or proxies (SSH, SOCKS, etc)? N/A/

#### Describe the problem you're observing:
Since upgrading

[2021-10-21 16:04] Riwaj1 opened #14335 "SQL files always revert to 'file' format when saved"
#### System information:
- Operating System
   Edition: Windows 10 Pro
   Version: 21H1
   Installed on: 22/02/21
   OS Build: 19043.1237

- DBeaver version
  Version:  21.2.3.202110151816

#### Connection specification:
- Using Amazon AWS VPN Client

#### Describe the problem you're observing:
The problem that has been occurring is that whenever I save a SQL file, it automatically changes the fil

[2021-10-21 16:36] ronaldorey opened #14336 "Variables in Reporting Service"
Hello,
I have just started programming in Dbeaver and I have encountered a problem when declaring variables and then uploading the query to Reporting Service (through Report builder)

I have managed to declare variables with the sign of?
For instance:

where id_portfolio in (?)

In this way, when I upload the query to Report Builder, it executes it without problems as long as I only choose a portf

[2021-10-21 16:37] ems2811 commented on #14293
Now I have no opportunity to check on another OS, but in the previous version (21.2.2) everything worked correctly.

[2021-10-21 16:40] LonwoLonwo commented on #14326
Hello @KrzysztofDusko

Can you connect with the "a.user" (in quotes) name?

![2021-10-21 19_40_01-DBeaver Ultimate 21 2 3 - _postgres_ Script-8](https://user-images.githubusercontent.com/45152336/138320804-0917c805-3bbe-4119-b032-803f957c65ff.png)

[2021-10-21 16:46] LonwoLonwo commented on #14331
Hello @kkoehleranalyst
The screen can be very helpful for investigation.
Are these tables/views in standard or spectrum schema?
Also can you please check navigation settings?

![2021-10-21 19_45_33-Connection _postgres_ configuration](https://user-images.githubusercontent.com/45152336/138321670-426582a8-d6c5-4f7f-b010-c0b5c8b02011.png)

Can be connected with https://github.com/dbeaver/dbeaver/issu

[2021-10-21 16:54] LonwoLonwo commented on #14335
Hello @Riwaj1
Thanks for the bug report!
We are going to fix it in the next releases.

Duplicate of https://github.com/dbeaver/dbeaver/issues/14013

[2021-10-21 16:54] #14335 closed, assigned to nobody

[2021-10-21 17:03] LonwoLonwo commented on #12992
Implemented for Sybase versions >= 15.

[2021-10-21 17:05] kkoehleranalyst commented on #14331
What are the recommended navigator settings?
I'm not sure what is meant by tables/views in standard or spectrum schema.
I have noticed I can see the column names of some tables, but not the views
from those tables. These schemas and views were not developed by me.

Thanks,
Kimberly

On Thu, Oct 21, 2021 at 11:46 AM Anastasiya ***@***.***>
wrote:

[2021-10-21 17:05] KrzysztofDusko commented on #14326
yes.
More info : Sql queries works fine .. window with error appears on ending of "shema refresh"

[2021-10-21 17:18] ShadelessFox commented on #14293
We've updated Eclipse to newer version. Looks like it caused this bug.

[2021-10-21 17:31] LonwoLonwo commented on #14331
I can recommend an Advanced connection view.

![2021-10-21 20_30_16-DBeaver Ultimate 21 2 3 - _TEST 4_Script-62](https://user-images.githubusercontent.com/45152336/138327923-2b5917c8-c812-448a-a607-e3763d560855.png)

And again - screenshots can help us.

[2021-10-21 17:32] LonwoLonwo commented on #14326
Ok, thanks for the bug report.

[2021-10-21 17:45] JeroenNienhuis opened #14338 "when writing sql, add fieldname from context pop-up and a comma after hitting comma-key"
When writing an sql and start typing a fieldname, there pops up a list with possible fields. Hitting "enter" inserts the highlighted field and adds a space. It would be more convenient if it is also possible to hit the comma key and then insert the fieldname and add a comma (perhaps also a space).

[2021-10-21 18:28] kkoehleranalyst commented on #14331
Thanks.  I have it set to show all system objects and still unable to see
columns.  I've also met with our technical staff to see if it has to do
with any permission settings.  There are several in our organization that
are having this same issue.  Can you think of anything else I could try or
ask the DB Admins to check?

On Thu, Oct 21, 2021 at 12:31 PM Anastasiya ***@***.***>
wrote:

[2021-10-21 18:59] p91paul commented on #14331
I'm not sure of what you're looking for, but when you open a table from the database navigator you default to a "Data" tab where you see the content of the table. However, next to it at the top there is a "Properties" tab; if you navigate to it, you'll see many subtabs, one of them is "Columns". Is that what you want?

[2021-10-21 19:03] LonwoLonwo commented on #14331
@kkoehleranalyst

An example of table/view DDL (without columns) will be helpful. And info - is the table in external schema or not.

[2021-10-21 19:05] LonwoLonwo commented on #14240
Fixed in scope of this ticket: https://github.com/dbeaver/pro/issues/750

[2021-10-21 19:12] kkoehleranalyst commented on #14331
Hi Paolo,

I've used that method to view the column names and cannot see them.  I've
also used the drop down option from the navigation tab and not able to see
them there either.....I will get a quick notification that it is 'loading'
but then nothing shows up.

thanks
Kimberly

On Thu, Oct 21, 2021 at 1:59 PM Paolo Inaudi ***@***.***>
wrote:

[2021-10-21 19:35] kkoehleranalyst commented on #14331
This would be an example of the script that is used creates a copy of
another schema/view and would be similar to:

'create or replace view CopyView.v_tableA as select * from
SourceView.tableA' with no schema binding'.

Does that make sense?

On Thu, Oct 21, 2021 at 2:03 PM Anastasiya ***@***.***> wrote:

[2021-10-21 19:50] LonwoLonwo commented on #14331
SourceView.tableA DDL will also be useful.

[2021-10-21 21:29] Chealer commented on #7710
@uslss thanks for reopening this ticket

[2021-10-22 00:29] flykarry commented on #14298
![动画](https://user-images.githubusercontent.com/14309127/138374622-31526482-db71-4684-9a68-74d207fe2911.gif)
@uslss check it out

[2021-10-22 00:33] flykarry commented on #14288
ok，wish you fix it as soon as possible

[2021-10-22 00:44] flykarry opened #14339 "Is there any way to insert redis data by clicking like RDM ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
 do not write any command of redis and insert some value like the redis desktop manager

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
for example, right click the db, show the insert dialo

[2021-10-22 02:21] rajeshisnepali commented on #13739
Oh yes... Finally, Thanks @akilovich

[2021-10-22 02:21] #13739 closed, assigned to nobody

[2021-10-22 02:43] ghy-forever opened #14340 "Question for GP connection, nodeSeqscan_hdw:27"
I need to connect to a greenplum, this database has less permission for normal user, so when I press test connection, it shows a error info, ERROR:Sequence scan on catalog is disabled (nodeSeqscan_hdw:27), so how could I duel with this question?

[2021-10-22 04:51] oicq1699 opened #14341 "The save task function in the import data function cannot save configuration information"
#### System information:
- windows 10
- DBeaver 21.2.3
- Additional extensions

#### Connection specification:
- oracle 11.2
- Driver name:oracle.jdbc.OracleDriver(ojdbc8)
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:
The save task function in the import data function cannot save configuration information
#### Steps to reproduce, if exist:
1. S

[2021-10-22 06:11] rajeevv2021 opened #14344 "Error during Dbeaver 21.2.0 setup to access the Z/os DB2 tables"
### Discussed in https://github.com/dbeaver/dbeaver/discussions/14343

<div type='discussions-op-text'>

<sup>Originally posted by **rajeevv2021** October 22, 2021</sup>
Hello -

I am getting the below error when I am setting up the Dbeaver 21.2.0 setup to access the Z/os DB2 tables .

Can't create driver instance
  Error creating driver 'DB2 z/OS' instance.
Most likely required jar files are miss

[2021-10-22 07:02] andreas-loos-zon commented on #8584
Same. Sometimes the export button is invalid. Workaround is to invalidate the connection and re-run the query.

[2021-10-22 07:09] ShadelessFox commented on #14088
Implemented:

![image](https://user-images.githubusercontent.com/35821147/138280870-9cc83187-aa07-4799-9f81-4b5c359e7ed3.png)

[2021-10-22 07:27] SiHaoShen opened #14345 "Connection to Amazon EC2 cloud with an existing PostgreSQL, An I/O error occured while sending to the backend"
#### System information:
- Ubuntu 20.04
- DBeaver 21.2.3

#### Connection specification:
- MacOpsTestDb
- PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes I use Putty and tunnels to access EC2 and RDS

#### Describe the problem you're observing:
I have tried to connect the databank under Linux VM and also Win10, and unfortunately, it throws out the I/O error see below.
It fails to

[2021-10-22 07:28] LonwoLonwo commented on #14341
Hello @oicq1699
Thanks for the bug report.

This bug is already fixed in this ticket https://github.com/dbeaver/dbeaver/issues/13232
And will be available in DBeaver version 21.2.4 on 2021-11-01

[2021-10-22 07:28] #14341 closed, assigned to nobody

[2021-10-22 07:49] ShadelessFox commented on #13593
Now you can change encoding for text editor. Will be available in DBeaver 21.2.4.

![java_Fm0h4vArGQ](https://user-images.githubusercontent.com/35821147/138310936-3951b4a6-95e3-47ca-a313-aea20708434c.png)

[2021-10-22 08:26] Matvey16 opened #14346 "Dbeaver stops responding and overloads CPU for big tables"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version Dbeaver 21.2.4

#### Connection specification:
- Database name and version CockroachDB 21.1
- Driver name PostgreSQL JDBC Driver 42.2.20

#### Describe the problem you're observing:
If a table has a lot of rows (5 millions in my case) opening it in data editor will lead to infinite data fetching and afte

[2021-10-22 08:27] serge-rider commented on #14346
Fixed.
Results limit was disabled for CockroachDB by some reason (probably early driver version didn't support it)

[2021-10-22 08:35] LonwoLonwo commented on #13750
Fixed in DBeaver 21.2.4

![138327388-2ae65c55-b795-438a-8916-3f7b587f6745](https://user-images.githubusercontent.com/45152336/138421906-9d8a8052-3866-4f7c-8fab-9f7b83dfd72d.png)

Now we set the $user parameter at the end of the search path.

[2021-10-22 08:46] Matvey16 commented on #14346
Verified

[2021-10-22 08:46] #14346 closed, assigned to serge-rider, Matvey16

[2021-10-22 09:37] flambchap commented on #14334
Duplicate of https://github.com/dbeaver/dbeaver/issues/13966. Thank you for the report.

[2021-10-22 09:37] #14334 closed, assigned to nobody

[2021-10-22 09:39] oc-tk opened #14348 "Comment field related to Column is not resizing. It is very small"
![Screenshot 2021-10-22 113839](https://user-images.githubusercontent.com/8511623/138431931-bcbec50e-f4b2-4efc-ae78-2cf4fd6b1fcc.png)

Very often we have a lot of text inside comment field and I cannot resize it manually. It would be nice to resize it manually or make it way bigger - there is a lof of wasted space.

[2021-10-22 09:42] ShadelessFox commented on #13706
Not reproducible anymore

[2021-10-22 09:42] #13706 closed, assigned to ShadelessFox

[2021-10-22 09:46] Matvey16 commented on #11304
Verified

[2021-10-22 09:46] #11304 closed, assigned to serge-rider, Matvey16

[2021-10-22 10:09] LonwoLonwo commented on #14315
Hello @rubenalaez
Thanks for the bug report.

[2021-10-22 10:41] LonwoLonwo commented on #14348
Hello @Spamm3r

You can open resizable dialog from Table Viewer

![2021-10-22 13_39_44-DBeaver Ultimate 21 2 3 - language](https://user-images.githubusercontent.com/45152336/138440744-6739cdd6-d653-4184-88a5-360ce27bed1c.png)

[2021-10-22 11:42] Sod-Almighty opened #14350 "Unable to create SQLite database using file browser dialog"
#### System information:
- Windows 10 64-bit
- DBeaver 21.2.3.xxxxx

#### Connection specification:
- SQLite

#### Describe the problem you're observing:

I am unable to create a new SQLite database by browsing for the path and filename of the new database. I have to type the path by hand into the box.

#### Steps to reproduce, if exist:

1. Click New Database Connection
2. Choose SQLite
3. For Pa

[2021-10-22 11:45] uslss commented on #12992
verified for sybase and sql server

[2021-10-22 11:52] Matvey16 commented on #13472
`find()` function behavior has changed

![dbeaver_LI4J584iqU](https://user-images.githubusercontent.com/82543000/138449031-6b6644be-5f30-4e81-b63a-7ad364c20be6.png)

[2021-10-22 11:56] Matvey16 commented on #14240
Verified

[2021-10-22 11:56] #14240 closed, assigned to LonwoLonwo, Matvey16

[2021-10-22 11:56] uslss commented on #14080
verified

[2021-10-22 11:56] #14080 closed, assigned to uslss, ShadelessFox

[2021-10-22 11:57] #12992 closed, assigned to uslss, LonwoLonwo

[2021-10-22 12:18] Sod-Almighty opened #14351 "Unable to add foreign key to existing table"
#### System information:
Windows 10 64-bit
DBeaver 21.2.3.xxxxx

#### Connection specification:
SQLite

#### Describe the problem you're observing:

Unable to add a foreign key to a table after the table has been committed to the database.

#### Steps to reproduce, if exist:

1. Create a table
2. Save (persist) the table to the database
3. Try to create a foreign key
4. Notice that the button to a

[2021-10-22 12:24] Sod-Almighty opened #14352 "Error when adding a primary key before saving the table"
#### System information:
Windows 10 64-bit
DBeaver 21.2.3.xxxxx

#### Connection specification:
SQLite

#### Describe the problem you're observing:

Adding a primary key before saving (persisting) the table to the database results in an error.

#### Steps to reproduce, if exist:

1. Create a new table
2. Create a new integer column, not null, auto-increment

![Prism  Microsoft Remote Desktop, Toda

[2021-10-22 12:25] kyanokashi commented on #8147
I have the same issue

[2021-10-22 12:26] Sod-Almighty commented on #14352
Oddly, if I create the column *without* creating the primary key constraint (i.e. step 3).......DBeaver creates it automatically.

Which is, I suspect, the reason for the error.

[2021-10-22 13:56] Matvey16 commented on #13042
@mikkk3l Can you try it on the newest 21.2.3 version? It looks like this could have been fixed.

[2021-10-22 14:20] Matvey16 commented on #13593
Verified

[2021-10-22 14:20] #13593 closed, assigned to ShadelessFox, Matvey16

[2021-10-22 14:24] LonwoLonwo commented on #14352
Hello @Sod-Almighty
It's not a bug, it's a feature.
You can't change autoincrement field in an existing table.

[Documentation](https://www.sqlite.org/autoinc.html) says:
Any attempt to use AUTOINCREMENT on a WITHOUT ROWID table or on a column other than the INTEGER PRIMARY KEY column results in an error.

Therefore, for the convenience of users, we added an automatic addition of the Primary key t

[2021-10-22 14:24] #14352 closed, assigned to nobody

[2021-10-22 14:25] JeroenNienhuis opened #14354 ""Generate SQL" option in context pop-up missing for dependences"
In the Database Navigator it is possible to open a Table. A Table has an option "Dependencies". In the pop-up menu of a dependency "Generate SQL" is missing (as is "Create new dependency").
![afbeelding](https://user-images.githubusercontent.com/51078213/138471003-af913c1a-2041-41e7-9c19-12e4f281d27c.png)

[2021-10-22 14:27] LonwoLonwo commented on #14315
Fixed in DBeaver 21.2.4

[2021-10-22 15:09] sergeynilov opened #14356 "I need multi lines editor for text fields."
Hello,
With Version 21.2.1 I wonder if there is a way for text fields open some kind of multylines editor?

Maybe like WYSIWYG type ?

Thanks!

[2021-10-22 15:52] fabianMendez commented on #14356
Hi,

You can bring a multiline text editor by right clicking on the cell and selecting `Edit > Edit cell` or with the keyboard shortcut `Shift + Enter`.

[2021-10-22 16:23] ShadelessFox commented on #14356
Hello @sergeynilov,

Besides the ways for value editing described above, you can also use value panel.

https://github.com/dbeaver/dbeaver/wiki/Panels#value-viewer

[2021-10-22 16:31] ShadelessFox commented on #14350
Hello @Sod-Almighty,

It's not a really common thing to create database from scratch. As a workaround you can first create empty file and then choose it.

There's no way to tell this dialog to allow selecting non-existing files, it also depends on the platform. The only way is to make it "saveable", but by doing so user may start thinking that this action may overwrite selected file.

[2021-10-22 16:35] ShadelessFox commented on #14351
Hello @Sod-Almighty,

First of all, it's impossible. SQLite does not support adding foreign to an existing table.

In fact, we have a workaround for removing columns by recreating the table. Perhaps we can do the same for foreign keys.

So thanks for report.

[2021-10-22 17:37] Sod-Almighty commented on #14350
The Windows API OpenFileDialog most definitely _does_ allow selection of non-existing files.

If platform agnosticism is the problem here, then why not enable the _greyed out_ Create button, and have it perform the browse-for-a-new-file operation?

[2021-10-22 17:39] Sod-Almighty commented on #14351
I'd say it was pretty much a requirement. Wouldn't you? Having to manually delete and recreate the table whenever you want to make changes is a massive pain in the rear.

[2021-10-22 17:59] ShadelessFox commented on #14350
We don't use system API directly, in our case it lays behind SWT.

The <kbd>Create</kbd> button is used by several drivers (like H2 embedded) for creating basic database setup. So it performs not what you may expect.

We indeed can make the <kbd>Browse</kbd> button, as described above, saveable, but also add a hint saying that it will not overwrite any files.

[2021-10-22 18:03] ShadelessFox commented on #14351
Yes, it's a requirement caused by a limitation, unfortunately. I agree that we can improve UX by automating this tedious process.

[2021-10-22 18:03] gaginsgagins opened #14359 "After exporting the data, the comma decimal separator becomes a dot"
DBeaver 21.2.3.202110151816 DBeaver - CE
System Ubuntu 20.04
Postgresql

my format data options give me to see example like this
![изображение](https://user-images.githubusercontent.com/25243076/138501323-fd85d1af-cd69-4888-9d72-4d73e586fa67.png)
But after export In result file, separator is dot.
this bug appears in all types of exports like html, csv...
Format numbers option is on.

[2021-10-22 19:11] JeroenNienhuis opened #14360 "behaviour of enter-key when inline editing a table cell"
When editing a table cell inline
![afbeelding](https://user-images.githubusercontent.com/51078213/138506203-e0284d9f-1d8b-43e4-8e9d-daf36334fc57.png)
pressing the enter-key ends editing, and highlights the current cell
![afbeelding](https://user-images.githubusercontent.com/51078213/138506505-19a470e2-679a-442f-b6d8-c1ce9d1d198a.png)
Personally I rarely want to stay in the current cell after a cel

[2021-10-22 23:56] MarceloZapatta opened #14361 "Quick switch between databases or connections"
Hi!

I have a featured request for quick switching between databases or connections... The ideia is like similar the project switch of VSCode or Sublime...

I think of two shortcuts:

CMD + ALT + C: Open a filtrable prompt with a list of all CONNECTIONS, it can be navigated by arrows keys and selected by enter

CTRL + ALT + D: Open a filtrable prompt with a list of all DATABASES, it can be navigat

[2021-10-23 10:12] VirgileCole opened #14362 "SSH Tunneling issue in CentOS"
Hello all,

I've been experiencing a weird behavior of DBeaver-ce when I tried to set it up on my CentOS 7 dual boot.
I need it to connect to a remote server by ssh. So I create a new connection and start to fill SSH tunnel parameters with correct IP, port and credentials. Finally I always got the same error:
[code]

I tried with credentials and ssh keys, bot the same error this means it cannot ev

[2021-10-23 11:44] yyjdelete opened #14363 "[21.2.3]UI frozen forever with `Database object is not associated with any execution context` shown in Error Log View"
#### System information:
- Operating system (distribution) and version: win10-x64
- DBeaver version: 21.2.3
- Additional extensions

#### Connection specification:
- Database name and version: postgres 13
- Driver name: org.postgresql:postgresql:42.2.23
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
After I upgrade dbeaver from 21.2.2 to 21.2.3, I s

[2021-10-23 14:31] ghYura commented on #13926
FYI:
Switches example - everyone, feel free to copy-use it for this mode:
[ ✔ ]██
██[ ✘ ]
![boolSwithesText](https://user-images.githubusercontent.com/42974628/136099633-44a29b41-60d0-48bf-96fe-dd21b80bd0ab.jpg)

[2021-10-23 17:10] Pranavoo7 commented on #3669
use full

[2021-10-23 23:52] janiu-001 opened #14364 "could we support to start two dbeaver on the same server?"
Hi Expert,

could you help to answer two questions? very appreciated.

1. could we support to start two dbeavers on the same server?
I try to start two dbeavers on my mac book, below error is reported. " Can not lock the same workspace".
Can we specify the workspace when we start the dbeaver like we start the eclipse.

![image](https://user-images.githubusercontent.com/19970581/138574737-0804d9e1-

[2021-10-24 00:18] janiu-001 commented on #14364
For the first question , i tried two ways on my mc book
add the below params in the dbeaver.init, it can not work

-data /Users/niubaoke/Library/DBeaverData/workspace1

but it can work with command line params

./dbeaver -data "/Users/niubaoke/Library/DBeaverData/workspace1"

[2021-10-24 02:27] anonimitoraf commented on #14179
Oh, I didn't know that. Thanks!

And by arbitrary code I mean being able to run a function or something which gets the result set as the input/argument.

[2021-10-24 03:47] williamespindola opened #14365 "localhost connection through ssh tunnel stop to work"
#### System information:
- Ubuntu 20.04.3 LTS
- DBeaver 21.2.3.202110151816

#### Connection specification:
- mysql 5.7.29
- SSH

#### Describe the problem you're observing:
The connection to mysql with user that works only via localhost via ssh tunner is returning "Access denied for user 'root'@'localhost' (using password: YES)"

This seems to be wrong password but not, from the server via localh

[2021-10-24 08:22] zhicwu commented on #10604
@uslss / @serge-rider, quick question: are all keywords returned from [DatabaseMetaData.getSQLKeywords()](https://docs.oracle.com/javase/8/docs/api/java/sql/DatabaseMetaData.html#getSQLKeywords--) considered for highlighting and auto-completion in DBeaver and CloudBeaver?

[2021-10-24 08:34] serge-rider commented on #8994
The first beta version is ready.
DBeaver creates a PG-specific CSV file and loads it using `COPY INTO STDIN`.
This feature works only for PostgreSQL, Greenplum, EDB, and Cockroach.

![image](https://user-images.githubusercontent.com/6398845/138586517-ebd11c96-e4e6-4774-a429-7062b40acae4.png)

[2021-10-24 09:20] janiu-001 commented on #14364
For the second issue, i copy the connection picture here

![image](https://user-images.githubusercontent.com/19970581/138587992-397dec96-6b00-46cc-b0c3-9feba513df5b.png)

[2021-10-25 02:38] alexabunny opened #14368 "Vertical/Horizontal scrollbars overlap text in editor pane"
#### System information:
OS: **Ubuntu 20.04 - XFCE**
DBeaver:  **21.2.3.202110181332**
Additional extensions: **None**

#### Connection specification:
Any

#### Describe the problem you're observing:
The scrollbars in the query editor pane overlap text, making it impossible to do anything with that text using the mouse.

![Screenshot_2021-10-24_22-31-34](https://user-images.githubusercontent.com/3

[2021-10-25 03:02] alexabunny commented on #14368
Expected behavior is for the pane to shrink a tiny bit to accommodate scrollbars, instead of overlaying them over its contents.

[2021-10-25 06:32] Matvey16 commented on #14365
@williamespindola Can you try not typing anything in password tab and see what error will return?

[2021-10-25 07:05] uslss commented on #14088
verified

[2021-10-25 07:05] #14088 closed, assigned to uslss, ShadelessFox

[2021-10-25 07:42] uslss commented on #13750
verified

[2021-10-25 07:42] #13750 closed, assigned to uslss, LonwoLonwo

[2021-10-25 07:50] uslss commented on #14368
thanks for the report
closed as a duplicate of #10950

[2021-10-25 07:50] #14368 closed, assigned to nobody

[2021-10-25 08:11] Matvey16 commented on #13472
Navigator stopped showing objects

[2021-10-25 08:25] uslss commented on #14315
verified

[2021-10-25 08:25] #14315 closed, assigned to uslss, LonwoLonwo

[2021-10-25 08:25] yonisade opened #14369 "Incorrect COUNT SQL syntax for statement with DISTINCT keyword"
#### System information:
- Operating system (distribution) and version: Windows 11 64 bit
- DBeaver version: Community 21.2.3.202110151816
- Java version: 1.8.0_311

#### Connection specification:
- Database name and version: MySQL 5.7.35 / MySQL 8.0.26
- Driver name: MySQL connector 5.1.44 / MySQL connector 8.0.19
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem yo

[2021-10-25 08:38] uslss commented on #14134
verified

[2021-10-25 08:38] #14134 closed, assigned to uslss, ShadelessFox

[2021-10-25 08:43] uslss commented on #14369
thanks for the report

[2021-10-25 08:52] Jrmy003 commented on #14286
I try this, thank you 🙂

[2021-10-25 08:58] Matvey16 commented on #13472
Verified

[2021-10-25 08:58] #13472 closed, assigned to ShadelessFox, Matvey16

[2021-10-25 09:03] MorpheusXAUT opened #14370 "DBeaver fails to start when command line arguments are supplied"
#### System information:
- Windows 10 Pro 64-bit (10.0, Build 19042)
- DBeaver version: 21.2.3.202110151816

#### Describe the problem you're observing:
Supplying command line arguments (in my specific case `-closeTabs` and `-disconnectAll`) causes DBeaver to show its splash screen briefly, then exits without actually starting up. This seems to be the case with all command line arguments I tried (

[2021-10-25 09:07] uslss commented on #14370
thanks for the report.
will be fixed in 21.2.4 (#14284)

[2021-10-25 09:07] #14370 closed, assigned to nobody

[2021-10-25 09:08] MorpheusXAUT commented on #14370
Sorry for the duplicate report, unfortunately I didn't find the linked issue after a brief search. Glad to hear it's being fixed! 👍

[2021-10-25 09:14] uslss commented on #14359
thanks for the report

[2021-10-25 09:21] uslss commented on #14344
@rajeevv2021 seems something is going wrong with the connection. Probably you've got proxy enabled or firewall. Is it reproducible for all the drivers or for db2/zos only?

[2021-10-25 09:25] uslss commented on #14336
@ronaldorey could you provide a video with an issue?

[2021-10-25 09:30] uslss commented on #14314
thanks for the report

[2021-10-25 09:37] williamespindola commented on #14365
Thanks guys it's working fine. Other person of the team changes root password.

[2021-10-25 09:37] #14365 closed, assigned to nobody

[2021-10-25 10:51] Matvey16 opened #14372 "Result Set Viewer: Filter icons overlap column's name"
#### System information:
- DBeaver version 21.2.3

#### Describe the problem you're observing:
If column name is longer than column width it will merge with icon

![dbeaver_np4bHo8hdQ](https://user-images.githubusercontent.com/82543000/138681318-2fad378d-d891-4506-a5fd-6dfce0b1c8e4.png)

[2021-10-25 11:31] Matvey16 opened #14373 "Paste values from different cells"
#### System information:
- Operating system (distribution) and version
- DBeaver version 21.2.3

#### Describe the problem you're observing:
If values from more than one adjacent cells is copied, pasting them to multiple cells will paste all values in each of the cells. We want it to work similarly to Excel, where different values will be pasted to corresponding cells.

#### Steps to reproduce, if

[2021-10-25 12:22] teschste-reyrey opened #14376 "How to Disable Creating A Script File For Each New Editor"
### Discussed in https://github.com/dbeaver/dbeaver/discussions/14358

<div type='discussions-op-text'>

<sup>Originally posted by **teschste-reyrey** October 22, 2021</sup>
Whenever I open a new SQL editor, DBeaver creates a new script file in the background, presumably to prevent data loss.  However, I would expect that to be an option, not a requirement.  The new scripts are saved in a single f

[2021-10-25 12:54] uslss commented on #14034
there is no update on issue for a long time. if it is still actual for you - feel free to reopen it with additional info.

[2021-10-25 12:54] #14034 closed, assigned to nobody

[2021-10-25 12:55] uslss commented on #14015
there is no update on the issue for a long time. if it is still actual for you - feel free to reopen it with additional info.

[2021-10-25 12:55] #14015 closed, assigned to nobody

[2021-10-25 12:55] uslss commented on #13792
there is no update on the issue for a long time. if it is still actual for you - feel free to reopen it with additional info.

[2021-10-25 12:55] #13792 closed, assigned to nobody

[2021-10-25 13:01] uslss commented on #13900
@makingglitches sorry for the late response. What OS do you use?

[2021-10-25 13:02] uslss commented on #14107
still cannot reproduce. Is it still actual against 21.2.3?

[2021-10-25 13:17] scruel commented on #13450
Same problem on Windows 10 20H2, DBeaver 21.2.1.202109181446.

[2021-10-25 13:20] uslss commented on #14004
thanks for the report. the issue isn't reproducible with 42.2.20 driver.
Reproducible with 42.2.23

[2021-10-25 13:22] #14104 closed, assigned to nobody

[2021-10-25 13:27] uslss commented on #14160
unfortunately, still cannot reproduce it. It is needed more info to reproduce and investigate the issue

[2021-10-25 13:28] uslss commented on #14041
there is no update on the issue. If it is still actual for you - feel free to reopen it with additional info

[2021-10-25 13:28] #14041 closed, assigned to nobody

[2021-10-25 13:28] #14089 closed, assigned to nobody

[2021-10-25 13:30] scruel opened #14380 "Could not change the index type to unique"
#### System information:
- Operating system (distribution) and version Windows 10 20H2
- DBeaver version 21.2.1.202109181446
- Additional extensions

#### Connection specification:
- Database name and version Mysql 5.7
- Driver name mysql-connector-java
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Nope

#### Describe the problem you're observing:
If you already have an index on a table, some

[2021-10-25 13:32] uslss commented on #14158
Still cannot reproduce, in case you meant database navigator. Could you provide screenshots of the issue?
![image](https://user-images.githubusercontent.com/31996417/138704988-b9438c14-84bb-410f-8d53-fa83a14fccd5.png)
![image](https://user-images.githubusercontent.com/31996417/138705019-d7e0f82a-368c-4bcb-b48f-bd31c640b550.png)

[2021-10-25 13:53] rehack opened #14381 "On oracle database, the side menu displays an exception"
#### System information:
- Operating system (distribution) and version: macos 10.13.6
- DBeaver version : 21.2.3.202110151816
- Additional extensions

#### Connection specification:
- Database name and version: Oracle 11g 11.2
- Driver name : Oracle
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:
The sidebar displays numbers
#### Steps to reprodu

[2021-10-25 16:21] jeff-bowles opened #14384 "Ability to assign terminator within script (DB2)"
I need to be able to change the default terminator from within a DB2 script.

This issue was raised previously, with a workaround (use the DBeaver menu to change the terminator character) accepted by the OP.

The workaround will not work in my production environment.  I'm expected to hand working scripts to our DBA who runs them from the DB2 command line.

I'm requesting you support the command-li

[2021-10-25 16:43] LonwoLonwo commented on #14380
Hello @scruel

Yes, for now, you can only change the unique field only when creating an index, not when changing it.

![2021-10-25 19_37_10-all_1 - Persist Changes](https://user-images.githubusercontent.com/45152336/138735802-cca582e2-cc42-4561-8b1d-c45a2a4b0a5b.png)

We can implement this feature in the next releases, so thanks for the idea.

[2021-10-25 17:28] taf1-cornell-edu commented on #4580
I'd also love to see this feature.  Thank you!

[2021-10-25 17:45] rvleustaquio opened #14385 "Commands line doesn't work in version 21.2.3"
#### System information:
- Operating system (distribution) and version
Linux Mint 20.2
- DBeaver version
Community Edition 21.2.3
- Java version
openjdk 11.0.11 2021-04-20
- Additional extensions
Dark Theme Only

#### Connection specification:
Anyone

#### Describe the problem you're observing:
I usually use commands line (-closeTabs and -disconnectAll) on shortcut in version 21.2.2 like:
Exec=/us

[2021-10-25 18:53] ppython commented on #10235
bumping this one :)

[2021-10-25 19:12] ShadelessFox commented on #14385
Hello @rvleustaquio,

This issue was fixed in scope of #14284.

You can download an early access version: https://dbeaver.io/files/ea/

[2021-10-25 19:12] #14385 closed, assigned to nobody

[2021-10-25 21:21] Xylandor commented on #14019
Also to point out, there's a long wait time when using the `Export From Query` option on a query that takes a few minutes to run. It seems that the query's normal execution time is double or even tripled before the parameter mappings screen is available. For instance, I have a query where I need to transfer data from MSSQL to MySQL and the average time to run the query is around 2 minutes, but it'

[2021-10-25 23:41] offstate commented on #14276
I also found that some menu items become inactive/invisible in Simple mode (Drop, Rename a table..)
I switched to Simple mode to get faster access to DB objects in the Navigation tree and in my case limited functionality is not required.
Could you add more options in the Navigator settings to divide functional and interface limitations?

[2021-10-26 00:15] scruel commented on #2071
When will you support database sync function?

[2021-10-26 00:27] leezm opened #14390 "Cannot open object statement in MSSQL"
#### System information:
- win10 1809
- 21.2.3

#### Connection specification:
- MSSQL (2005,2008R2,2014)
- MICROSOFT JDBC DRIVER 8.2 FOR SQL SERVER
- NO

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
Cannot open object statement when use ctrl+Left mouse click or F4,but it's OK in previous version.
I must add the schema such as 'dbo'.object,then it's OK.
Can resto

[2021-10-26 00:32] andrelinslima commented on #14362
SSH doesn't use the http procotol. Remove http:// from the Host/IP field and it should work fine

[2021-10-26 06:25] spassignat commented on #13654
hello,

are there any progress on this request ?

thanks

[2021-10-26 06:36] LonwoLonwo commented on #14390
Hello @leezm
Thanks for the bug report.
This is actually a duplicate of this ticket https://github.com/dbeaver/dbeaver/issues/14001
We will fix the problem in the next releases.

[2021-10-26 06:36] #14390 closed, assigned to nobody

[2021-10-26 06:56] Matvey16 commented on #14381
@rehack Are your schema names written in Chinese?

[2021-10-26 07:13] Matvey16 commented on #14317
@AnthonySchneider84 Can you specify where and at what moment you are getting this error? Add a screenshot if it is possible and table DDL.
I was not able to reproduce this error.

![RcS8zWGq1t](https://user-images.githubusercontent.com/82543000/138826834-1bb7ba2f-afaf-4c49-b924-de0df7d96bb6.gif)

[2021-10-26 07:38] Matvey16 commented on #14339
@flykarry Can you please add a screencast or some screenshots of how that works in redis desktop?

[2021-10-26 07:56] Matvey16 commented on #8994
1. We need to disable transactions, multi-row and batches options if bulk load is selected to not confuse the user.

2. Not usable in Cockroach
[code]

[2021-10-26 08:03] Matvey16 commented on #14345
@SiHaoShen Are you and your colleague using the same user when trying to connect?

[2021-10-26 08:10] Matvey16 commented on #14354
@JeroenNienhuis It looks like expected behavior to me. You can generate a DDL by right-clicking on constraints, foreign keys, or indexes (because they create dependencies). Are you suggesting adding an option of generating DDL for a corresponding key by right-clicking on a dependency?

[2021-10-26 08:21] Matvey16 commented on #14361
@MarceloZapatta Hello? Can you describe a use case for this feature? Like in what context you want to use it (while doing what?) and what needs to happen when you select a connection from this list?

[2021-10-26 08:43] Matvey16 commented on #14376
@teschste-reyrey Hello. You can change the default folder where all new scripts would be created https://github.com/dbeaver/dbeaver/wiki/Script-Management#changing-default-scripts-directory

Or alternatively you can open an SQL Console and after writing your script there, use Save as function to save it in any directory of your file system

[2021-10-26 09:24] ShadelessFox commented on #12658
Fixed in scope of #13295

[2021-10-26 09:24] #12658 closed, assigned to ShadelessFox

[2021-10-26 09:28] JeroenNienhuis commented on #14354
I added  a column by selecting and updating a DDL from another column (with in my case a foreign key). There is no foreign key section in the DDL. It would be good to add this or add the possibility to create a DDL for dependecies from the contect menu.

[2021-10-26 09:53] vincentjdc opened #14393 "Can't use SSH tunnel with RSA key without passphrase"
#### System information:
- Operating system (distribution) and version : Linux Mint 19.3 (Ubuntu 18.04)
- DBeaver version :  21.2.3.202110151816
- Additional extensions : no one

#### Connection specification:
- Driver name : MySQL & Maria DB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:
I'm trying to connect to remote database through SSH with

[2021-10-26 10:07] andrelinslima commented on #14364
About the 2nd question: by default dbeaver uses a separate connection for Metadata retrieval.
You can control this behavior globally using Preferences -> Common -> Metadata -> "Open separate connection for metadata reads"
This is also overridable by connection

[2021-10-26 10:21] bobf32 opened #14394 "Wrong date constructed in Snowflake"
#### System information:
- Windows 10 Enterprise 21H1
- DBeaver version 21.2.3
- Additional extensions: None

#### Connection specification:
- Snowflake

#### Describe the problem you're observing:

Select certain dates in Snowflake returns an incorrect date.

#### Steps to reproduce, if exist:

`SELECT to_date('2021-03-01');` returns the correct date

`SELECT to_date('2021-06-01');` returns 2021-

[2021-10-26 10:39] lorenzogatti commented on #13954
The sorting problem is in the subpanel with all executions of the same task, probably clipped out of your screenshot.

[2021-10-26 10:48] Matvey16 commented on #14393
@vincentjdc Have you tried to use SSHJ implementation
![TuQBrqkFHT](https://user-images.githubusercontent.com/82543000/138863107-f9b61014-1dd9-4e3e-8a3c-42c934bbb3bd.png)
![dbeaver_tJfXLK0mE0](https://user-images.githubusercontent.com/82543000/138863123-ee10bac1-8bc3-4139-abd6-29a4b5bd2989.png)
![dbeaver_DXZWVKs2yd](https://user-images.githubusercontent.com/82543000/138863128-0ec2af92-5c35-40bc-a5

[2021-10-26 10:49] LonwoLonwo commented on #13954
This one?

![2021-10-26 13_48_10-Window](https://user-images.githubusercontent.com/45152336/138863236-3afe7d56-d1cb-4a32-ac66-616d9f84a66e.png)

[2021-10-26 11:07] Matvey16 commented on #14394
@bobf32 Can add a screenshot of resultset? I was not able to reproduce it.

![dbeaver_qi8PXofHOo](https://user-images.githubusercontent.com/82543000/138865833-db6c4115-e659-4eb2-aa2c-05768a0d02d6.png)

![dbeaver_zKxoJAuBG3](https://user-images.githubusercontent.com/82543000/138865845-96ac25d4-5a47-4580-946b-ae2708392845.png)

[2021-10-26 11:10] bobf32 commented on #14394
Sure @Matvey16 :

![2021-10-26 12_08_28-DBeaver 21 2 3 - _Sandpit_ Script-1654](https://user-images.githubusercontent.com/6544564/138866248-48677eca-bc75-4b09-baf0-b55653f52b86.png)

[2021-10-26 11:14] bobf32 commented on #14394
More info: I get the incorrect behaviour with Disable date/time formatting checked. With that setting unchecked I get the correct date:

![2021-10-26 12_13_50-DBeaver 21 2 3 - _Sandpit_ Script-1654](https://user-images.githubusercontent.com/6544564/138866910-f7790e67-a0ed-4055-9c2b-bc37b43f9bbf.png)

[2021-10-26 11:33] Matvey16 commented on #14394
@bobf32 That's even more strange, because now you have timestamp in date column

[2021-10-26 11:37] bobf32 commented on #14394
@Matvey16 Maybe not so strange. In addition to Snowflake I use Oracle, so my date format normally includes HH:mm:ss (which is does right now). If I remove that then the time portion of the previous screenshot disappears. So a red herring I think.

[2021-10-26 11:53] Matvey16 commented on #14394
@bobf32 Can you run `SHOW PARAMETERS LIKE '%date%';` query and show me what you get?

[2021-10-26 11:57] bobf32 commented on #14394
![2021-10-26 12_56_59-DBeaver 21 2 3 - _Sandpit_ Script-1654](https://user-images.githubusercontent.com/6544564/138872873-0ca31f77-d4c8-4411-b4a1-b7fd27dc7916.png)

[2021-10-26 12:09] Matvey16 commented on #14394
@bobf32 Please check if you would get the same error if you change that parameter `ALTER SESSION SET JDBC_FORMAT_DATE_WITH_TIMEZONE = FALSE`

[2021-10-26 12:12] SiHaoShen commented on #14345
@Matvey16 Yes, indeed we are using the same aws account, due to security reasons the rds is not set as public.

[2021-10-26 12:16] allipatev commented on #13568
For unknown reason some functions (e.g. BIT_LROTATE) were not added to cee337a3f711342c899bf819574f9b9756e06cbe => they aren't still highlighted.
Exasol might fix the whole issue in version 8.0.

[2021-10-26 12:18] Matvey16 commented on #14394
You can also try setting JDBC_USE_SESSION_TIMEZONE to false or `ALTER SESSION SET TIMEZONE = UTC` and if it doesn't help too, it seems to me like a snowflake driver bug. We will look further into this, but as a temporary workaround you can use date-time formatting for snowflake connection

[2021-10-26 12:23] rvleustaquio opened #14395 "Configuration to disable fold just in SQL comments"
**Is your feature request related to a problem? Please describe.**
It is not a problem.

**Describe the solution you'd like**
It would be nice if exists any config to disable fold code just in SQL comments.

[2021-10-26 12:27] Obyzzz opened #14396 "Live Execution log output for Stored Procedures"
Hello, I would like to know if you could put an option to get the live output results of executing a stored procedure like this output messages ...
set mmm = 'SP_xxxxx: ' || getdate() || ' -> Loading xxxxx ';
    message mmm type info to client;

I can get those results at the end of the procedure execution but if the execution gets stuck, for example, the locking of a table, I can't know if it is

[2021-10-26 12:38] teschste-reyrey commented on #14376
I have already changed the default folder but when every project uses a different folder and you are bouncing between them, continually changing the script folder is not practical.

The SQL Console using Save As will work, it just is not intuitive, most users will select New Script and assume Save/Save As will put the file where they want it, not where the application thinks it should go.  I may j

[2021-10-26 12:39] Matvey16 opened #14397 "Task wizard window goes out of bounds on narrow monitors"
#### System information:
- DBeaver version 21.2.3

#### Describe the problem you're observing:
Task wizard appears in the center of the screen, but when it gets initially resized the right side moves further than screen border if the monitor is not wide enough.

#### Steps to reproduce, if exist:
1. Open Dbeaver on a machine with narrow screen
2. Start creating a task

[2021-10-26 13:12] bobf32 commented on #14394
Thanks @Matvey16. Changing `JDBC_USE_SESSION_TIMEZONE` doesn't help, ditto the `TIMEZONE` session parameter . As advised I will enable the DBeaver date/time formatting for now.

[2021-10-26 13:58] Matvey16 opened #14400 "Table mapping breaks on MacOS"
#### System information:
- Operating system (distribution) and version MacOS BigSur
- DBeaver version 21.2.3

#### Describe the problem you're observing:
If table mapping step is selected before source file is selected in import wizard, table mapping table breaks

#### Steps to reproduce, if exist:
1. Open data import wizard
2. Click on table mapping step

**Expected:** UI is displayed correctly
*

[2021-10-26 15:00] LonwoLonwo commented on #13070
Fixed in DBeaver 21.2.4

[2021-10-26 15:03] LonwoLonwo commented on #14369
Fixed in Dbeaver 21.2.4

[2021-10-26 15:13] uslss commented on #14143
metadata is read-only for now

[2021-10-26 15:13] #14143 closed, assigned to nobody

[2021-10-26 15:15] uslss commented on #14146
outdated

[2021-10-26 15:15] #14146 closed, assigned to nobody

[2021-10-26 15:21] bassettb opened #14401 "Shows wrong and right timezone offset in same query"
#### System information:
- MacOS 11.6
- DBeaver 21.2.3.202110151816

#### Connection specification:
- Database: postgres 13.6
- Driver: org.postgresql.Driver
- connecting via google's cloud_sql_proxy 1.25.0

#### Describe the problem you're observing:
dBeaver is showing me the wrong timezone offset and the right timezone offset in the same query.
I am in EDT, so -04 is correct this time of year.

[2021-10-26 15:29] bassettb commented on #14401
Oops.  This is correct behavior.  The Jan 1 default time is in EST.

[2021-10-26 15:29] #14401 closed, assigned to nobody

[2021-10-26 15:53] andrelinslima commented on #14294
"Termination Reason: Namespace CODESIGNING, Code 0x1" means Mac OS X is complaining about the app signing not matching the expected or other OS related restriction.
Did you install the application from the AppStore (assuming it's available there) ? Did you upgrade the application before the problem? What is dbeaver version currently?
If you updated Dbeaver from outside the App Store, make sure you

[2021-10-26 19:33] VirgileCole commented on #14362
That was it, I feel stupid but I will remember for sure next time...
Thanks a lot for your answer it did help.

[2021-10-26 19:33] #14362 closed, assigned to nobody

[2021-10-26 22:01] artstylee opened #14405 "Broken UI encoding?"
#### System information:
- Operating system (distribution) and version // windows 10 last updates
- DBeaver version // 21.2.3
- Additional extensions OPEN JDK 16.0.2.7

#### Describe the problem you're observing:
I've just installed a dbeaver and I've got some issues with the UI text encoding
also, I cannot change the language of the program but nothing helps
![Снимок](https://user-images.githubus

[2021-10-26 22:44] janiu-001 commented on #14364
can we close the connection with your provided setting? there are many code using openMetaSession to query the database

[2021-10-27 00:28] flykarry commented on #14339
![动画](https://user-images.githubusercontent.com/14309127/138979916-9284f391-ebbc-4e43-9445-47230d5e6261.gif)
@Matvey16 here it is

[2021-10-27 01:16] andrelinslima commented on #14364
The idea of the setting is that both MainContext and MetaContext will use the same underlying connection to the database. so only one will be open.
I'm guessing If that doesn't work for a specific connector, verify and open a bug about it ;)

[2021-10-27 03:35] b-hayes commented on #3141
SHould probably re-open this and provide actual high DPI support without having to disable it in the application profile in windows and then edit an ini file to a fixed value.
The major flaw with this workaround is it doesn't help if you have many screens with different DPI/scales eg. I have 4k screen in the middle and 1440p screens on the sides. If I move dbeaver off my main screen to the side it

[2021-10-27 03:39] b-hayes commented on #11025
please re-open. Text is blurry on my 4k screen. If I manually set the UI scale in the ini file and tell windows to let the application manage the UI scale, then the application becomes ridiculously massive when I drag it off to a secondary display that isn't 4k.

The workaround is not a solution. It helps but it's not a solution. Most applications change scale to match windows settings when dragge

[2021-10-27 05:30] LuckyPickleZZ commented on #13596
@serge-rider Hello,  our team discussed it and decided to give up the PR of Oracle mode for the time being. Could you please add our plugin to the next release and let our users use it first?

[2021-10-27 05:43] ShadelessFox commented on #14405
Hello @artstylee,

Thanks for report. Unfortunately, this is an Eclipse bug and we can't do much about it.

Closed as a duplicate of #13821

[2021-10-27 05:43] #14405 closed, assigned to nobody

[2021-10-27 05:52] qiqingli opened #14406 "Exception when Query Sequence Nextval"
#### System information:
- Operating system (distribution) and version: macOS 12.0.1
- DBeaver version: 21.2.3
- Additional extensions

#### Connection specification:
- Database name and version: MySQL 5.7.21
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Exception when executing statement to query sequence.nextval.
select T_BFM_AD_ID_

[2021-10-27 06:56] Matvey16 commented on #14406
@qiqingli Sorry, to me it looks like you are using Oracle function in MySQL database. Can you elaborate why you want to use NEXTVAL in MySQL?

[2021-10-27 07:26] uslss commented on #14369
verified

[2021-10-27 07:26] #14369 closed, assigned to uslss, LonwoLonwo

[2021-10-27 08:13] qiqingli commented on #14406
@Matvey16 Need to get a serial value and use this value in multiple different tables as associated fields.

[2021-10-27 08:34] LonwoLonwo commented on #14406
@qiqingli
What serial value? Can you provide your table DDL?

[2021-10-27 08:42] nVlast commented on #6477
It seems that this change results in errors when trying to connect to older Postgres versions (8.4 in my case) because `pg_catalog.pg_enum.enumsortorder` doesn't exist (by looking at the Postgres documentation it seems that it was added in 9.1). This only happens when there are enums in the database at the time of the connection.

(Not sure if I should create a new issue for this, adding it here a

[2021-10-27 08:43] Matvey16 commented on #14406
@qiqingli I think you need to use LAST_INSERT_ID() function in MySQL or `SELECT Auto_increment FROM information_schema.tables WHERE table_name='name_of_your_table';`

Also what is T_BFM_AD_ID_SEQ in your query? It can't be a sequence cause you can't create a sequence in MySQL. Can you show a DDL of that object?

[2021-10-27 08:52] Matvey16 commented on #14069
@Sargul It seems like this was not an Exasol issue and was already fixed in scope of another bug with active schema selection

[2021-10-27 09:08] andrew-dixon commented on #9414
I think I might have figured out the cause of this issue, I think it is Karabiner Elements that is the "cause" of it. Since I uninstalled Karabiner Elements about a week ago I've not had this issue. I assume that the key remapping that Karabiner is doing is somehow interfering with the remapping in DBeaver.

[2021-10-27 09:35] ShadelessFox commented on #13044
Fixed:
1. Attributes with name like `id` and `color` would override layer's color and title
1. Different attributes would have the same color in value panel
1. An empty layer would display if no description columns are present

![idea64_Mnv9istCWE](https://user-images.githubusercontent.com/35821147/138698626-7ed9b9a9-4f1f-451c-a640-8c8429bd0fa1.png)

![idea64_0HmxFx0tfq](https://user-images.github

[2021-10-27 09:35] ShadelessFox commented on #13012
Implemented:

![java_u4cKAyDmjl](https://user-images.githubusercontent.com/35821147/138711775-1da39df6-51d6-41fe-a7cb-bd352d536285.png)

[2021-10-27 09:43] phildebrand commented on #9414
I'm not using Karabiner and still have the issue.

[2021-10-27 09:58] andrew-dixon commented on #9414
@phildebrand Maybe you are using another similar app that remaps keys at a system level?

[2021-10-27 09:59] serge-rider commented on #14363
Fixed

[2021-10-27 10:04] phildebrand commented on #9414
I only added the file `DefaultKeyBinding.dict` to the folder `~/Library/KeyBindings`
With the following contents:

[code]

[2021-10-27 10:08] scruel commented on #12010
For 2, I really need this function, and hope it to build in rather than plugin.

[2021-10-27 10:12] lzb-libra commented on #12010
For 1 function, I followed your suggestion and installed the office plug-in. It works well, but every time I update DBeaver, the installed office plug-in is gone. I need to reinstall it. I hope every time I can keep the plug-ins I installed when updating DBeaver, thank you.

[2021-10-27 10:12] danilabagroff commented on #9414
I have remapped keys in the same way as @phildebrand did and besides this I used Karabiner a while ago but uninstall did not help.

[2021-10-27 10:16] flambchap opened #14407 "DBeaver unable to connect to Snowflake using external browser as authenticator"
It raises the error `!390400!`.

Sample stacktrace:

[code]

[2021-10-27 10:31] Matvey16 commented on #13947
Verified

[2021-10-27 10:31] #13947 closed, assigned to ShadelessFox, Matvey16

[2021-10-27 10:55] uslss commented on #14363
verified

[2021-10-27 10:55] #14363 closed, assigned to serge-rider, uslss

[2021-10-27 11:03] ppruchnicki opened #14408 "AWS cannot establish connection to Athena"
#### System information:
- Operating system (distribution) and version: Linux Ubuntu 20.04.3 LTS
- DBeaver version:  21.2.2.202110030714

#### Connection specification:
- Database name and version: Athena
- Driver name: AthenaJDBC42.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
I'm using AWS Azure Login to authenticate to AWS services and I

[2021-10-27 11:35] baidoufuxuchangqing opened #14410 "Error resolving dependencies"
#### System information:
- Windows 11 64bit
- DBeaver 21.2.3
- Additional extensions default extensions

#### Connection specification:
- Database name and version no database
- Driver name mariadb
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:

Error downloading driver libraries

原因：
 Error resolving dependencies

#### Steps to reproduce, if ex

[2021-10-27 11:44] uslss commented on #13818
verified

[2021-10-27 11:44] #13818 closed, assigned to uslss, ShadelessFox

[2021-10-27 11:51] janiu-001 commented on #14364
thanks, manually setting the "Preferences -> Common -> Metadata -> " is the only way? do we have another way to enable this feature?

could you also help on another question?

the execute log of the sql editor, how to Compatible with Linux？ for example

select *
from
tablexxx

it is Garbled code on linux because  of the Newline character（\n, LF..., ), it is different from the windows system

[2021-10-27 12:24] Matvey16 opened #14411 "Can't perform bulk import for files with Json data"
#### System information:
- DBeaver version 21.2.3

#### Connection specification:
- Database name and version PostgreSQL 12

#### Steps to reproduce, if exist:
1. Export json data to csv file
2. Start import of this file with bulk load option

**Expected:** Data is imported
**Actual:** Data can't be exported because of error

[code]

[2021-10-27 12:47] Skydiveroid commented on #14322
Thank you for the idea.

[2021-10-27 12:53] Skydiveroid commented on #14338
Thank you for the idea.

[2021-10-27 12:56] Skydiveroid commented on #14339
Thank you for the idea. We should add an ability to create new KV entries.

[2021-10-27 12:58] uslss commented on #13012
verified

[2021-10-27 12:58] #13012 closed, assigned to uslss, ShadelessFox

[2021-10-27 13:01] uslss commented on #12238
verified

[2021-10-27 13:01] #12238 closed, assigned to uslss, ShadelessFox

[2021-10-27 13:04] uslss commented on #13044
verified

[2021-10-27 13:04] #13044 closed, assigned to uslss, ShadelessFox

[2021-10-27 13:07] Skydiveroid commented on #14360
Thanks for the feature request.

[2021-10-27 13:14] Skydiveroid commented on #14376
We're going to fix this problem.

[2021-10-27 13:57] ismailsunni opened #14413 "DBeaver Crash when clicking on geometry column/entry"
#### System information:
- Operating system (distribution) and version: Ubuntu 18.04
- DBeaver version: 21.22
- Additional extensions

#### Connection specification:
- Database name and version: PostgreSQL with Postgis v13
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

When I did a query that has a geometry column in the result, it's

[2021-10-27 14:22] Matvey16 commented on #8994
Verified

[2021-10-27 14:25] kai-morich opened #14414 "wrong column types, when calculated result named like existing column"
tested with latest version

    create table t1 (port integer);
    insert into t1 values (1);
    select cast(port as varchar) as port, port||'' AS port, port||'x' AS port, port||'x' AS port2 from t1;

Metadata view shows correct types, but result set column header shows wrong types when result column is renamed with AS like an existing column:
Sqlite:
![image](https://user-images.githubuserconte

[2021-10-27 14:31] LonwoLonwo commented on #10900
[code]

Expression for column (example) : content.json(column1)['glossary']['GlossDiv']['title']

[code]

Expression for column (example) : content.xml(xml_column, "nodeset", "/Employees/Employee[gender='Female']/name/text()")

![2021-10-25 19_23_58-DBeaver Ultimate 21 2 3 - json_virtual](https://user-images.githubusercontent.com/45152336/139086949-767983f8-8f5d-4f9a-90a3-033beeb1896c.png)

![2021

[2021-10-27 14:35] bobromeo opened #14415 "Preference to not show connection in every editor tab"
When editing multiple (external) scripts, every tab has the script name and in front of the name, the connection between < and >. I use a project prefix for most of my scripts and there for I see little of the script name. Now I do a lot of mouse hovering to search for a particular script.

It would be nice to have a Preference which controls the display of the connection on the editor tab, with m

[2021-10-27 14:41] renezito opened #14416 "Declaration (F4) in DB2 tables don't show column comments/description"
Hi! I'm using DBeaver 21.2.3.  In this version the comments/description is not showed when I press F4 or via Database Navigator:
This is the evidence:

It could be great if u add it.
![DBeaver comentarios campos tablas db2](https://user-images.githubusercontent.com/37661233/139088238-d606517c-5a70-4fb9-a9f2-619367cf240c.jpg)

[2021-10-27 14:43] LonwoLonwo commented on #10900
https://github.com/dbeaver/dbeaver/wiki/virtual-column-expressions

1. Support link on the page "Add virtual column" fixed
2. Preview in Property editor "Virtual" tab for virtual columns now can show parsing error message. (Worked for Data viewer)
3. One new namespace added - `content` with three methods: content.json(columnName), content.xml(columnName, "expression"(quotation is important)), cont

[2021-10-27 14:46] Skydiveroid commented on #12424
We can add option "Show all schemas" in Oracle connection dialog

[2021-10-27 14:57] flambchap commented on #14321
Unfortunately, we cannot do it for the reasons I stated above.

[2021-10-27 14:57] #14321 closed, assigned to nobody

[2021-10-27 15:24] uslss commented on #13070
verified

[2021-10-27 15:24] #13070 closed, assigned to uslss, LonwoLonwo

[2021-10-27 15:33] fa-novello commented on #11748
I can see the scriptFilename variable, but I couldn't find any documentation about how to use it on my command list. How am I going to setup each file name?

[2021-10-27 15:36] andrelinslima commented on #14364
This option is also overridable in the connection settings, under Metadata, as I said before.

Regarding execution log, please open a bug report with the required information like OS, version, screenshots, etc.
Working correctly for me. When viewed as a column value a new line is indicated by the same symbol both on windows and linux.
![image](https://user-images.githubusercontent.com/33740641/139

[2021-10-27 15:47] uslss commented on #10900
verified

[2021-10-27 15:47] #10900 closed, assigned to uslss, LonwoLonwo

[2021-10-27 15:51] rehack commented on #14381
@Matvey16 Not named in Chinese
![C44B3EC0-9510-444C-975A-54E7D6EBFB02](https://user-images.githubusercontent.com/9047357/139101312-570a2041-9127-470c-9a5a-071d2c0da6db.png)

[2021-10-27 16:00] uslss opened #14420 "Incorrect SRID in Value panel is shown for values without SRID"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.4 EA

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/31996417/139102970-bdca2ffa-19b8-4f8d-a855-881c114951e0.png)

[2021-10-27 16:01] ShadelessFox commented on #14411
JSON can't be serialized to CSV property

[2021-10-27 16:11] andrelinslima commented on #14413
You should probably post the crash log. might indicate some missing dependency or at least a hint for the cause.
working fine for me on Ubuntu 21.04 / postgres 14 / postgis 3.1
![image](https://user-images.githubusercontent.com/33740641/139104666-7059b8f8-3782-4ee2-b6a4-3a820a5afec7.png)

[2021-10-27 16:30] andrelinslima commented on #14420
Difference between version is due to #14232, which changes srid internal datatype in 21.2.3.
Per EPSG specification, anything 50k+ is not defined and is considered proprietary definition.
Both in this case just means dbeaver doesn't know the crs and I'm guessing the mapviewer requires it to be non-null

[2021-10-27 16:58] ShadelessFox commented on #14420
Hello @andrelinslima,

Thanks for clarification.

In this case, no SRID is specified, so it's stored internally as `0xFFFFFF` (`16777215`). Before #14232, we were truncating SRID to `0xFFFF` (`65535`).

We just don't handle this case.

[2021-10-27 17:06] Matvey16 commented on #13297
Verified

[2021-10-27 17:06] #13297 closed, assigned to ShadelessFox, Matvey16

[2021-10-27 17:13] Matvey16 commented on #14407
Verified

[2021-10-27 17:13] #14407 closed, assigned to flambchap, Matvey16

[2021-10-27 17:23] ismailsunni commented on #14413
hi @andrelinslima thanks for the reply. I just installed the newer version 21.2.3 from here, and it works fine like yours.

The previous Dbeaver is installed from the snap, and 21.2.2 is the latest version. I will not use the snap version for now.

Thanks!

[2021-10-27 17:23] #14413 closed, assigned to nobody

[2021-10-27 17:41] ronaldorey commented on #14336
Hi, I can't make a video because I can't show the confidential data.

[2021-10-27 17:58] fredatgithub opened #14423 "Not seeing database in PostgreSQL V14 with V13 also installed"
#### System information:
- Operating system (distribution) and version: Windows10 20H2 19042.1288
- DBeaver version:  21.2.3.202110151816
- Additional extensions: none

#### Connection specification:
- Database name and version: CryptoCurrencies V14 PostgreSQL JDBC Driver
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NO

#### Describe the problem you're observing:
I don't see my

[2021-10-27 18:01] ShadelessFox commented on #14423
Hello @fredatgithub,

Perhaps you don't have this option enabled?
![java_3OPH4jDygQ](https://user-images.githubusercontent.com/35821147/139120834-5b3885a9-5f37-45e5-86cf-8e8590e31608.png)

[2021-10-27 19:32] andrelinslima commented on #14420
EPSG code 0 is as invalid as the previous values, codes start at 1024. That's why I mentioned possible limitation of non-null, but at least it's a rounder invalid code :)

[2021-10-27 19:33] Lakendary commented on #9581
On Windows, I right-click on Table (not the target table) and then Import Data. I can then select more than one CSV to import. The only problem is, once I've selected all the CSV files and I don't want to create a new table for each CSV but rather add all the data to one table, I have to select the target table for each and every CSV file I need to import. It can get cumbersome if you have more th

[2021-10-27 20:06] MKEbrew commented on #2316
Definitely need tab completion.  Very confusing after using anything else.

[2021-10-27 22:04] LonwoLonwo commented on #12131
Sorry for the late response.

Thanks for the DDL.
Unfortunately, I can't reproduce the problem with the RepoObjectProperty_ForUpdate update. I created RepoObject and [property].[RepoObjectProperty]. Also, I created a virtual key in the view on [RepoObjectProperty_id]. And added some data in tables.

But. On the step

I have no "choose your key" dialog, because [RepoObjectProperty] has the key.

Ho

[2021-10-28 00:51] misi444 commented on #3647
For the next poor soul who gets stuck on this like I have for the past few hours:

The driver version seems to be critical. When I tried setting up DBeaver with the steps in @Xtinction's answer I kept getting the error message that the MSAL4J library failed to load. By default it was using version 9.3 of the mssql-jdbc driver. I reverted it to 8.2.2 (along with the mssql-jdbc_auth library) and it

[2021-10-28 05:30] p91paul commented on #14415
See Preferences - Editors - SQL Editor - Scripts, there is a script title pattern. However it's not per connection, but global.

[2021-10-28 06:21] janiu-001 commented on #14364
Please check the screenshot below ,

![image](https://user-images.githubusercontent.com/19970581/139198325-ebe035ce-a997-48fc-a16a-8c5615ba7feb.png)

my pc info, it should also be reproduced on linux:

![image](https://user-images.githubusercontent.com/19970581/139198417-e40b5965-7454-4fa9-9f58-4da6721386be.png)

[2021-10-28 06:22] janiu-001 commented on #14364
the different handle on newline character should be the root cause

[2021-10-28 07:40] ShadelessFox commented on #13297
Template for new SQL scripts can be configured here:

![image-1](https://user-images.githubusercontent.com/35821147/139104560-d3d7a206-75a6-4cde-80eb-ae209a68b60e.png)

[2021-10-28 08:16] Xtinction commented on #3647
Thanks for the comment. I think when I wrote the guide the latest version "just worked".

[2021-10-28 09:25] uslss commented on #13148
closed as a duplicate of #10282

[2021-10-28 09:25] #13148 closed, assigned to nobody

[2021-10-28 09:28] flambchap commented on #14381
Hello @rehack. Do you use the JDBC OCI driver for this connection?

[2021-10-28 09:37] flambchap commented on #12838
Hello @amancini. This functionality is already implemented in the _DB Metadata_ search. Please use _Search in definitions_ option to do that.

![image](https://user-images.githubusercontent.com/26031301/139230108-bb9ecc4d-9db9-4ace-b3f0-08a50bf4c496.png)

[2021-10-28 09:37] #12838 closed, assigned to nobody

[2021-10-28 09:49] scruel commented on #14380
Glad to know, thanks for your work!

[2021-10-28 10:28] fredatgithub commented on #14423
Thanks a lot, I didn't know
it is fine now

[2021-10-28 10:28] #14423 closed, assigned to nobody

[2021-10-28 12:09] DariaMarkaryan opened #14427 "SQL Server: Wrong DDL of column types creation"
#### System information:
- Win10, DBeaver CE 21.2.4

#### Connection specification:
- MS SQL Server (from AWS RDS)

#### Describe the problem you're observing:
When you create some of the column types (when editing table or creating the new one) length is set to default because of the wrong DDL.
It should contain length of the type in round brackets like "(1000)"
Below is the DDL for creating colu

[2021-10-28 13:55] Matvey16 opened #14428 "Auto-refresh stops working but looks like it is still working"
#### System information:
- DBeaver version 21.2.4

#### Describe the problem you're observing:
1. When auto-refresh stops because of error the icon doesn't change and still looks the same as if it is still working
2. Customizing auto-refresh to stop on error doesn't matter because it stops regardless.

#### Steps to reproduce, if exist:
1. Start autorefresh with custom time and `stop on error` unc

[2021-10-28 16:26] bobromeo commented on #14415
Learned something new :)

[2021-10-28 16:26] #14415 closed, assigned to nobody

[2021-10-28 17:34] gilshimer commented on #8151
Issue still exist in Community 21.2.3

[2021-10-28 18:42] ricsajr commented on #12485
you must refresh the left tab by right clicking on the table in question

[2021-10-28 19:43] rajeevmenon11 opened #14429 "DDL Feature Addition for DB2 LUW"
**Is your feature request related to a problem? Please describe.**
DDL feature is not working for DB2 databases in DBeaver. We've tried both 21.0.2 as well as the latest 21.2.3.

- List of errors notified when tried to pull DB object DDLs and Grants
SQL Error [38553]: Routine "DB2LK_GENERATE_DDL" (specific name "*ATE_DDL") has returned an error SQLSTATE with diagnostic text "SQL0031 Reason code or

[2021-10-28 19:51] wa-pretzels commented on #12424
The option "Show all schemas" is currently the default. The option should be more like see only objects of the connected schema. Currently i would have to add manualy a filter for the schema I'm using in the connection.

[2021-10-28 20:31] chkp-ayalalon commented on #11220
@ADataGMan, i had similar problem.
found out i had other key binding  shortcut for Ctrl+Space. (it could also be binding from the os so be sure to check that as well)
Changed the binding solved it for me.

[2021-10-28 21:01] fvannee commented on #14314
Thanks! I have one additional bug that I'm posting in the same thread as it's about the same problems with composite types. This test case is about arrays inside composite types:

[code]

[2021-10-28 21:08] DarthSHO commented on #7048
I just started experiencing this today after using the same version of DBeaver for months. Some existing scripts still work, but I cannot get new scripts to use "As".

Windows 10
Dbeaver 21.2.0.202109061154
MariaDB 10.5

This is really odd. Checking the MariaDB log I can clearly see it being passed to the server.

Example

SELECT c.CUST as customerID
FROM CUSTOMER c

Column shows as CUST not custo

[2021-10-29 07:00] Matvey16 opened #14433 "[Clickhouse] Table size is lost in navigator after refresh"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.4

#### Connection specification:
- Database name and version Clickhouse 20.4.4.18
- Driver name ru.yandex.clickhouse-jdbc 0.2.6
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH tunnel

#### Steps to reproduce, if exist:
1. Connect to clickhouse database
2. Expand tables folder in navigator an

[2021-10-29 07:46] lanfeng23 opened #14434 "Manual submission"
When you open the manual submission edit table in the SQL editor, such as deleting the table, execute but do not submit. At this time, if you open the table edit to be deleted from the left navigation tree, the program will get stuck

[2021-10-29 08:22] uslss commented on #9097
cannot reproduce anymore (21.2.3)

[2021-10-29 08:45] kseniiaguzeeva commented on #13761
Also when:
1. a statement with variable is executed
2. export is performed from the ResultSet and saved as the task
No table data is exported, because the variable value hasn't been applied

https://user-images.githubusercontent.com/51405061/139404859-4d1066b7-7e2a-42a0-a47f-f3fa874c4543.mp4

[2021-10-29 09:33] uslss opened #14436 "View cannot be edited"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.4

#### Connection specification:
- Database name and version clickhouse
-
#### Describe the problem you're observing:
Create View script is generated when the view is edited. It is not possible to save view changes using UI.

#### Steps to reproduce, if exist:
1. Create View
2. Made some changes in

[2021-10-29 11:37] rpalloni opened #14438 "Add the <db name> to script name as in the tab"
Add the db name to script name as in the tab
See image
![db_before_script](https://user-images.githubusercontent.com/17080117/139428081-e6b938c1-b1f4-4599-afef-e8d2991ce847.jpg)

[2021-10-29 12:01] DariaMarkaryan opened #14439 "Export in new table of several selected columns generates all columns"
#### System information:
- Win10,
- DBeaver CE 21.2.4

#### Connection specification:
- Not specific

#### Describe the problem you're observing:
I want to export some columns to the new table, but all other columns of the source table are generated in the new table and filled with NULLs

#### Steps to reproduce, if exist:
Open table with several columns.
Select some of them.
Begin export.
Select

[2021-10-29 12:07] ak-hp opened #14440 "Text field truncates while previewing in Dbeaver"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.1
- Java version : 1.8.0_171
- Additional extensions: None

#### Connection specification:
- Database name and version: SQL Server
- Driver name: MS JDBC Driver for SQL Sevver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Dbeaver seems to t

[2021-10-29 12:16] rajeevmenon11 opened #14441 "Sybase GRANT Statements"
**Is your feature request related to a problem? Please describe.**
Unable to view the GRANT Statements in Sybase databases while using DDL. Tested in 21.0.2 as well as the latest version 21.2.3

**Describe the solution you'd like**
Able to view CREATE  statements but not GRANT. We would like to get this feature added so that GRANT statements can also be viewed along with CREATE.

[2021-10-29 12:22] Matvey16 commented on #12072
there is no update on issue for a long time. if it is still actual for you - feel free to reopen it with additional info.

[2021-10-29 12:22] #12072 closed, assigned to riednyko

[2021-10-29 12:45] #14179 closed, assigned to nobody

[2021-10-29 13:53] DariaMarkaryan opened #14442 "Export task in new table ignores options "Selected columns only""
#### System information:
- Win10, DBeaver CE 21.2.4
-
#### Connection specification:
- MS SQL Server (AWS RDS)

#### Describe the problem you're observing:
I want run export task to the new table with checked options "Selected columns only" and/or "Selected rows only" but they are ignored.

#### Steps to reproduce, if exist:
Open table with several columns.
Highlight some columns and rows.
Begin e

[2021-10-29 14:02] Matvey16 commented on #14439
Not specific to SQL server

[2021-10-29 14:43] Matvey16 opened #14443 "UI improvements for backup wizard"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.4

#### Describe the problem you're observing:

1. On "Backup settings" step the `next` button is disabled but next step is shown to the left. It is confusing and unintuitive.
2. After backup is done, switching to one of the other tabs disables the tab with backup log.
3. All buttons are enabled dur

[2021-10-29 14:49] Matvey16 commented on #14442
The problem is with the fact that export started from data editor, but saved as a task, still shows `selected columns/rows` as enabled in parameters enabled even though this option is unavailable for saved export task

![dbeaver_YWtMcQvaBR](https://user-images.githubusercontent.com/82543000/139456129-97be217f-4aeb-4a21-9537-73632d9167b6.png)

[2021-10-29 14:52] Matvey16 opened #14444 "Add a tooltip to filter value setting in preferences"
We need to add a tooltip to `save quick filter value` setting in preferences because it's name is very confusing.

![dbeaver_APgVdPZmZO](https://user-images.githubusercontent.com/82543000/139456354-c5e1db9e-dccb-4dc7-8e2e-951b1d6ad6e0.png)

[2021-10-29 15:15] Matvey16 opened #14445 "Improvements for bulk load import"
We need to add improvements for bulk load import:

1. Add that option for Cockroach connections.
2. When enabling bulk load, disable options that won't be used anyway.

[2021-10-29 15:17] shashinvision commented on #7976
Work for me :D Thanks

[2021-10-29 18:50] snowxuyu opened #14447 "diy hot key"
I hope to customize the shortcut, such as the speed of executing the SQL statement in the Mac system is Command + ENTER, not Control + Enter.

[2021-10-30 01:37] RuiGuilherme commented on #10066
Have the same issue here... But I'm trying to run the bin's from within the docker (overlay2)

[code]

[2021-10-30 01:43] andrelinslima commented on #14364
That symbol has nothing to do with different new line between platforms. like I said, that symbol is used on windows, linux, and macos when viewing the compact form (as a table column).
You can double click on that line to show the actual query properly.

I'm guessing that's because the table doesn't support multi line for fields. But if you feel that's a problem, open a bug report for it. don't r

[2021-10-30 01:47] andrelinslima commented on #14447
Shortcuts are customizable using the builtin eclipse functionality:
Window -> Preference -> User Interface -> Keys
You can search for Execute SQL Statement for example and change the keys for that

[2021-10-30 02:00] snowxuyu commented on #14447
I found it. Thank you！

[2021-10-30 02:00] #14447 closed, assigned to nobody

[2021-10-30 07:47] rom1dep commented on #6581
same as https://github.com/dbeaver/dbeaver/issues/6581#issuecomment-908592007 on fedora with KDE

[2021-10-30 10:45] StarpTech commented on #6015
Please reopen. I run into the issue. The SQL database is UTC but all queries and information are displayed in my local timezone. This leads to very dangerous issues https://github.com/pgpartman/pg_partman/issues/334

[2021-10-30 18:44] davideasaf commented on #1669
**Environment**: macOS
Other Details:
- Normally in my terminal i use OH MY ZSH
- I wrote a dbeaver.sh script to call from "Shell Commands" in Dbeaver
- I called that .sh command via: `/bin/bash dbeaver.sh`

FWIW,

I had a lot of issues trying to leverage commands within the shell executor that DBeaver started. It all came down to Dbeaver starting a shell execution with a different $PATH than my u

[2021-10-31 14:27] popovserhii commented on #1708
I accidentally click "No" in "Do you want to fetch all rows" popup and now don't know how to change this behaviour. Does anybody know where these default settings persist or how to restore the default behaviour of this popup?

[2021-11-01 06:55] Cynyard999 opened #14450 "Fail to import maven project and debug in Eclipse"
#### System information:
- MacOS Big Sur 11.6
- Eclipse IDE for RCP and RAP Developers Version: 2021-09 (4.21.0) Build id: 20210910-1417
- Apache Maven 3.6.3
- Java SE 11.0.12

#### Describe the problem you're observing:

I followed the steps 1 to 10 in section [**Opening workspace in Eclipse**] on [Develop in Eclipse](https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse)

But I could not ge

[2021-11-01 08:25] Matvey16 commented on #13357
Verified

[2021-11-01 08:25] #13357 closed, assigned to ShadelessFox, Matvey16

[2021-11-01 08:27] uslss commented on #14092
there is no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info.

[2021-11-01 08:27] #14092 closed, assigned to nobody

[2021-11-01 08:27] uslss commented on #13963
there is no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info.

[2021-11-01 08:27] #13963 closed, assigned to serge-rider

[2021-11-01 08:28] uslss commented on #14181
there is no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info.

[2021-11-01 08:28] #14181 closed, assigned to nobody

[2021-11-01 08:28] uslss commented on #14162
there is no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info.

[2021-11-01 08:28] #14162 closed, assigned to nobody

[2021-11-01 08:39] #14199 closed, assigned to nobody

[2021-11-01 08:39] #14190 closed, assigned to nobody

[2021-11-01 08:40] uslss commented on #14205
there is no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info.

[2021-11-01 08:40] #14205 closed, assigned to nobody

[2021-11-01 08:41] uslss commented on #14257
there is no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info.

[2021-11-01 08:41] #14257 closed, assigned to nobody

[2021-11-01 08:47] #14270 closed, assigned to nobody

[2021-11-01 08:49] LonwoLonwo commented on #6779
Closed as duplicate https://github.com/dbeaver/dbeaver/issues/11704

[2021-11-01 08:49] #6779 closed

[2021-11-01 08:52] Zbambus commented on #10149
The work done so far on this item is that the preferred viewing mode for a column is saved for the "Value" column?

![image](https://user-images.githubusercontent.com/47529756/139644316-fa4fbcdc-d8a7-4a4e-9899-b0093607f1a2.png)

But what if the user hits "Shift+Enter" on a column containing BLOB/CLOB? Then a complete new window is opened and the content of the current column is displayed in this w

[2021-11-01 08:53] LonwoLonwo commented on #14287
Hello @yongyaoli

Maybe this [answer](https://stackoverflow.com/questions/21245796/javax-net-ssl-sslhandshakeexception-remote-host-closed-connection-during-handsh) can help you?

[2021-11-01 08:54] uslss commented on #14287
@yongyaoli unfortunately, still cannot catch what the issue is about.
Please provide more clear problem description. Steps to reproduce also will be very helpful for the issue investigation

[2021-11-01 10:41] LonwoLonwo commented on #13374
Hello @abij

You can return the fetch size limit in the Driver Settings.

![2021-11-01 13_37_39-DBeaver Ultimate 21 2 4 - _postgres_ Script-8](https://user-images.githubusercontent.com/45152336/139659312-3a33bdde-2a4b-4453-8442-df223cf71f8f.png)

![2021-11-01 12_28_48-Edit Driver 'Apache Hive'](https://user-images.githubusercontent.com/45152336/139659327-0bf282fc-c858-40e1-8d17-4a33f40a5a32.png)

[2021-11-01 10:44] #12959 closed, assigned to Matvey16

[2021-11-01 11:00] StarpTech commented on #6015
I could fix it with https://github.com/dbeaver/dbeaver/issues/13416#issuecomment-901787111

[2021-11-01 11:11] LonwoLonwo commented on #14410
Usually, this problem appears when DBeaver can't connect to the vendor website.
You can do it manually - load the driver .jar from the site and add it as a library for your connection.

![2021-11-01 14_08_00-DBeaver Ultimate 21 2 4 - _postgres_ Script-8](https://user-images.githubusercontent.com/45152336/139662957-ec945b73-ab94-4293-97e2-887ae0000c5a.png)

[2021-11-01 11:13] LonwoLonwo commented on #14440
Hello @ak-hp
Can you please provide table DDL and sample data for the investigation?

[2021-11-01 12:17] Matvey16 commented on #14318
@wattpuppy We have Oracle authentication with Wallet file in Enterprise Edition. Currently not scheduled to be added in Community Edition

[2021-11-01 12:17] #14318 closed, assigned to nobody

[2021-11-01 12:30] Matvey16 commented on #14345
@SiHaoShen Please, check that you have the same driver version and communicate with your system administraror to check that you firewall is not interrupting the connection.

[2021-11-01 13:31] Matvey16 commented on #14384
@jeff-bowles Can you provide a step by step use case for this feature? It's not really clear what you are asking.

[2021-11-01 13:54] Matvey16 commented on #14396
@Obyzzz Can you please specify what output do you mean? This output window?

![dbeaver_ED4ATncv4U](https://user-images.githubusercontent.com/82543000/139682780-1e8651c2-0b6e-495b-ac6d-9ebb47d29bc2.png)

[2021-11-01 15:18] domainoverflow commented on #9584
Still happenning,

[2021-11-01 16:02] abij commented on #13374
I tried with and without, no luck.
Note it's not Hive but Spark: **jdbc:spark://**

![image](https://user-images.githubusercontent.com/1022013/139702022-8a458cdc-c661-4f65-946b-a8db159c232e.png)

[2021-11-01 16:17] jeff-bowles commented on #14384
Hi - thanks for the reply.

The use-case for adding "--#SET TERMINATOR" syntax to the DBeaver IDE is convenience and automation.  If I write a script that can create/drop stored procedures, for example, I need that script to be able to run successfully by an automated process.  Using DBeaver menus to change a terminator character is not (easily) automatable.

I can certainly write and run an autom

[2021-11-01 16:26] LonwoLonwo commented on #13374
Hmm...
Unfortunately, we do not have a test environment.
Can you please check the [Error logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-11-01 16:28] jeff-bowles commented on #14429
I believe this is a DB2 LUW 11 bug and not a problem with DBeaver.  There is a problem with the DB2LK_GENERATE_DDL stored procedure.  A fix is available in [fp 5.](https://www.ibm.com/support/pages/node/1115973)

[2021-11-01 16:29] uslss commented on #8566
fixed

[2021-11-01 16:29] #8566 closed

[2021-11-01 16:30] jeff-bowles commented on #14429
Forgot a link to the article about the fix.  [IT29789](https://www.ibm.com/support/pages/apar/IT29789)

[2021-11-01 16:30] #11598 closed, assigned to DariyaFedorova, riednyko

[2021-11-01 16:30] uslss commented on #11598
fixed

[2021-11-01 16:36] uslss commented on #8534
seems will be implemented in #13779

[2021-11-01 16:36] #8534 closed

[2021-11-01 17:08] uslss commented on #14420
still reproducible
![image](https://user-images.githubusercontent.com/31996417/139711353-3abf4276-28a4-488d-8ef2-334618fdb7d4.png)

[2021-11-01 17:09] uslss commented on #6046
seems issue is outdated for now (21.2.4)

[2021-11-01 17:09] #6046 closed

[2021-11-01 23:30] Simbi0z commented on #9546
any update status on this?

[2021-11-02 01:38] PENGCHENGLIN007 opened #14459 "Active schema can't be changed for this kind of datasource"
#### System information:
- Operating system (distribution) and version
  Windows 10 education edition
- DBeaver version
  21.0.3.202104181339

#### Connection specification:
- Database name and version
calcite avatica 1.21.0
- Driver name
org.apache.calcite.avatica.remote.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
No
#### Describe the problem you're observing:
I use calcite avatica

[2021-11-02 06:27] Matvey16 commented on #14408
@ppruchnicki Hello, can you specify what do you mean by AWS Azure Login? Is it some kind of utilty for authentication in AWS?

[2021-11-02 07:05] ppruchnicki commented on #14408
@Matvey16  Yes, it is used to authenticate with AWS using Active Directory https://github.com/sportradar/aws-azure-login

[2021-11-02 07:06] LonwoLonwo commented on #14459
Hello @PENGCHENGLIN007

`org.jkiss.dbeaver.model.exec.DBCException: Active schema can't be changed` message means that DBeaver does not know query for default schema/catalog changing.

You can add it manually id Driver Properties:

![2021-11-02 10_04_18-DBeaver 21 2 4 - _MySQL - localhost_ Script-32](https://user-images.githubusercontent.com/45152336/139801008-feb74d19-5136-414a-891f-833fc7e7a6df.

[2021-11-02 07:40] LonwoLonwo commented on #11619
I found out that it's not so easy to remove the "Working sets" setting from ChooseWorkspaceWithSettingsDialog.
This requires many working hours that we do not have now. We will try to solve this problem in the future.

Note for the future: `<extension point="org.eclipse.ui.preferenceTransfer">`

[2021-11-02 07:49] Matvey16 commented on #14414
@kai-morich Thank you for the report

[2021-11-02 07:58] Matvey16 commented on #14416
@renezito Hello. Can you add what driver you are using? Also which of DB2 databases is it?

[2021-11-02 08:04] Matvey16 commented on #14429
@rajeevmenon11 I was not able to reproduce this issue. DDLs are generated as expected for me. What driver and database version are you using?

[2021-11-02 08:20] uslss commented on #10397
![image](https://user-images.githubusercontent.com/31996417/139810459-0b56ab81-c817-4ed0-8e26-a69d2279f69b.png)
Right-justify date/time values could be unchecked in preferences

[2021-11-02 08:20] #10397 closed

[2021-11-02 08:30] uslss opened #14461 "Virtual column isn't saved after app restart in case it was created at virtual tab"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.4

#### Describe the problem you're observing:
Virtual column isn't saved after app restart in case it was created at virtual tab
#### Steps to reproduce, if exist:
1. Open any existing table
2. Go to Virtual tab and create virtual column
3. Restart app and open the same table

**Actual result**
Vir

[2021-11-02 08:36] Obyzzz commented on #14396
Hello @Matvey16, thank you very much for your time.
Yes, That's the output window I mentioned. Here is an example...
Executing a procedure... output does not show the point at which it is running
![Captura_776](https://user-images.githubusercontent.com/93196033/139810806-eccbe521-710a-4491-a5e0-c31c9496b4bd.png)
When a call of a procedure ends or is canceled, shows all output log...
 ![Captura_777

[2021-11-02 08:40] #12711 closed, assigned to nobody

[2021-11-02 08:43] #14286 closed, assigned to nobody

[2021-11-02 08:45] uslss commented on #11812
you could try to uncheck Open separate connection for metadata read in Preferences
![image](https://user-images.githubusercontent.com/31996417/139814039-0e7ef8ec-4cb3-426c-b99d-c5cee2a78434.png)

[2021-11-02 08:45] #11812 closed, assigned to nobody

[2021-11-02 08:46] #14356 closed, assigned to nobody

[2021-11-02 08:53] uslss commented on #14276
If you have any proposals, please, create a separate ticket with your vision of how Simple view should work and look like.

[2021-11-02 08:53] #14276 closed, assigned to nobody

[2021-11-02 08:55] uslss commented on #7382
is it still actual?

[2021-11-02 08:57] uslss commented on #14438
#6806

[2021-11-02 08:58] Matvey16 commented on #14340
@ghy-forever Please specify what priviliges the user that get this error have. Have you tried connecting as a user with more priveleges and was it successful?

[2021-11-02 08:59] uslss commented on #9626
already implemented in EE version

[2021-11-02 08:59] #9626 closed

[2021-11-02 09:11] uslss commented on #6164
will be resolved in #10950

[2021-11-02 09:11] #6164 closed

[2021-11-02 09:14] uslss commented on #2601
will be resolved in #12768

[2021-11-02 09:14] #2601 closed

[2021-11-02 09:23] ghy-forever commented on #14340
Our dba forbids the permission to pg_tables for normal users, but I could connect to this database with navicat; and I can use dbeaver to connect to oracle as normal user.
This picture shows what happend when I select * from pg_tables, dba create a new schema (catalog_tmp) to instead of it.
![error](https://user-images.githubusercontent.com/4074318/139819908-5f9f6f7d-fa0d-4985-aebf-2082cd834604.jp

[2021-11-02 09:24] ghy-forever commented on #14340
Please check the comments upside, thanks

[2021-11-02 09:40] flambchap commented on #14395
Hi @rvleustaquio. Currently, DBeaver does not fold commented SQL queries, and there is an option to disable foldings (see screenshot). Could you please explain your request a little bit? Thank you.

![Screenshot 2021-11-02 123711](https://user-images.githubusercontent.com/26031301/139822595-d7536c77-6d7d-41f6-9da4-dcfc2eb37440.png)

[2021-11-02 09:47] LonwoLonwo commented on #13863
Query changed. Implemented in DBeaver 21.2.5

[2021-11-02 09:48] gidor opened #14467 "version 21.2.4 cannot get function source on postgresql database"
#### System information:
- Operating system (distribution) and version Ubunto 20.04
- DBeaver version : 21.2.4
- Additional extensions  NO

#### Connection specification:
- Database name and version PostgreSQL 11.7 on x86_64-pc-linux-gnu,
- Driver name  org.postgresql.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:
 The source tab for stor

[2021-11-02 10:19] yonisade opened #14469 "Explain Execution Plan Node Type doesn't include "Parallel" keyword"
#### System information:
- Operating system (distribution) and version: Windows 10 64 bit
- DBeaver version: 21.2.4.202111011413
- Java version: 1.8

#### Connection specification:
- Database name and version: PostgreSQL v13.4
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When generating Explain with "EXPLAI

[2021-11-02 10:51] rajeevmenon11 commented on #14429
Our DB2 team mentioned that its "V 10.5 FP11 DB2 version" that they're using and is seeing the same issue with all DB2 DB's

[2021-11-02 10:53] rajeevmenon11 commented on #14429
Thank you for this. DB2 team wants to know whether V 10.5 FP11 DB2 version has any bugs or not as they're using this.

[2021-11-02 10:55] LonwoLonwo commented on #11922
Ability to change update/delete rule for existing foreign key implemented in DBeaver 21.2.5

[2021-11-02 10:55] serge-rider opened #14470 "Update the sqlite driver to 3.36.0.3"
We need to update the sqlite driver to the most recent (3.36.0.3)

[2021-11-02 10:55] Matvey16 commented on #14434
@lanfeng23 can you clarify what do you mean by deleteng table in SQL editor? Executing `DROP TABLE` statement?

[2021-11-02 11:01] LonwoLonwo commented on #12131
Working with "sql_variant" datatype fixed in DBeaver 21.2.5

[2021-11-02 11:02] wynandcoetzer opened #14471 "Selection of columns to display not working correctly"
#### System information:
- OSX Mojave
- DBeaver version 21.2.4
- Java version 8
- Additional extensions None

#### Connection specification:
- Database name and version MariaDB 10.5
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:

When I open a table and click on the
"Resultset/Order filter settings" to select the columns to view, s

[2021-11-02 11:03] LonwoLonwo commented on #12816
Implemented in DBeaver 21.2.5

![2021-10-27 19_07_44-DBeaver Ultimate 21 2 4 - xml_data](https://user-images.githubusercontent.com/45152336/139834944-3bc3c923-b6ec-41d9-a20c-bbcfc034983c.png)

[2021-11-02 11:06] Matvey16 commented on #14467
@gidor Hello. Please execute this query `SELECT pg_get_functiondef(Object_ID)` and check what will be returned.

Object Id can be found in function properties tab

![dbeaver_WgdLUoreIR](https://user-images.githubusercontent.com/82543000/139835371-65b5c8b3-8453-4a48-bad2-60e8e07c7153.png)

[2021-11-02 11:22] robaidsahil commented on #14411
Thanks for the great post. I would like to visit again your site.
[DBeaver Download](https://offlinesetups.com)

[2021-11-02 12:20] LonwoLonwo commented on #13993
Fixed in DBeaver 21.2.5

[2021-11-02 12:23] Matvey16 commented on #13863
Verified

[2021-11-02 12:23] #13863 closed, assigned to LonwoLonwo, Matvey16

[2021-11-02 12:48] Matvey16 commented on #14470
Verified

[2021-11-02 12:48] #14470 closed, assigned to serge-rider, Matvey16

[2021-11-02 13:01] PetroGromovo opened #14473 "How can I change/save order of fields in data grid ?"
Hello,
I changed structure of my mysql table ( I changed order of many fields)
but opening this table with dbeaver 21.2 I see that all fields in datagrid are the same order I had before...
Looks like old settings were saved... Where can I reset/change these settings?

Thanks in advance!

[2021-11-02 14:14] #7860 closed

[2021-11-02 14:15] #1482 closed

[2021-11-02 14:16] uslss commented on #2198
is it still actual against 21.2.0?

[2021-11-02 14:17] uslss commented on #10088
still actual for 21.2.4

[2021-11-02 14:20] uslss commented on #4525
still actual against 21.2.4

[2021-11-02 14:21] uslss commented on #10180
#6113

[2021-11-02 14:25] gidor commented on #14467
Sorry maybe it was my mistake installing  21.2.4, After i reinstalled  the deb file it works fine.

[2021-11-02 14:25] #14467 closed, assigned to nobody

[2021-11-02 14:26] Matvey16 commented on #13993
Verified

[2021-11-02 14:26] #13993 closed, assigned to LonwoLonwo, Matvey16

[2021-11-02 14:31] appleoddity commented on #14039
@Matvey16 No, enabling these options did not make any difference in the queries sent to the database.

The problem persists in 21.2.4.

Can we perform additional troubleshooting steps to get this resolved? We are growing our Redshift Spectrum user base, and they are looking for a tool to use, but DBeaver has not been available due to this problem.

[2021-11-02 14:33] Matvey16 opened #14474 "Checkboxes for permissions disappear in table properties"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.4

#### Connection specification:
- Database name and version PostgreSQL

#### Describe the problem you're observing:
When checking permissions for different roles all checkmarks except select disappear when switching back and forth between the roles. Generated script is still correct.

#### Steps t

[2021-11-02 15:19] LonwoLonwo commented on #14384
Hello @jeff-bowles

Maybe you can try to change your script delimiters in Preferences?

![2021-11-02 18_16_05-DBeaver Ultimate 21 2 4 - json_test_json](https://user-images.githubusercontent.com/45152336/139875783-de700eab-96ef-45c7-b13f-0e2b16aaa224.png)

You can write your delimiter end enable the "Ignore native delimiter" setting.

[2021-11-02 15:22] LonwoLonwo commented on #14450
So the problem is with Maven. Looks like your Eclipse can't recognize the right path to maven. Are you sure, that you changed your Maven version in Eclipse?

![2021-11-02 18_20_47-eclipse-workspace2021 - org jkiss dbeaver ui editors sql_src_org_jkiss_dbeaver_u](https://user-images.githubusercontent.com/45152336/139876624-5bc4c359-56fa-46d4-a2d4-7d91bb0c725a.png)

[2021-11-02 15:22] #14450 closed, assigned to nobody

[2021-11-02 15:30] LonwoLonwo commented on #14441
Hello @rajeevmenon11
Thanks for the idea.

Have you any ideas how we can do it?

[2021-11-02 16:19] LonwoLonwo commented on #12749
Implemented in DBeaver 21.2.5

![2021-10-27 21_04_46-DBeaver Ultimate 21 2 4 - xml_data](https://user-images.githubusercontent.com/45152336/139130836-f29ab3fc-7f8e-4eb9-9431-338b12a45912.png)

![2021-10-27 21_06_45-Properties for General](https://user-images.githubusercontent.com/45152336/139130842-4b4c7e85-7609-4500-b56b-6cfac457c70a.png)

[2021-11-02 16:19] jeff-bowles commented on #14429
I am on version 11.1 (no fixpack) and using the IBM JDBC driver.  I have the problem with DB2LK_GENERATE_DDL stored procedure.  I don't recall having problems with 10.5 FP11, but can't say with certainty.

[2021-11-02 16:34] gatrm opened #14476 "dbeaver executable launcher was unable to locate its companion launcher 21.2.4"
#### System information:
- Operating system - Windows 10
- DBeaver version 21.1.4

#### Describe the problem you're observing:
 problem with launcher

#### Steps to reproduce, if exist:
After instalation I launched dBbeaver and it was working
1. I added Kerberos support by adding some rows in editing dbeaver.ini
_-Djavax.security.auth.useSubjectCredsOnly=false
-Dsun.security.krb5.debug=true
-Djava

[2021-11-02 16:50] rdp opened #14477 "Show time SQL completed?"
Sometimes when I turn to DBeaver in the morning, connections will have been lossed.
Then when I execute a query, it "pauses" for awhile, then reconnects, then issues the query.  In the meantime I've gone off to do something else instead of staring intently at the DBeaver app to see "when it will come back."
When I get back to DBeaver, it's not clear if the query results were from "yesterday" or fr

[2021-11-02 17:13] 2019-05-10 commented on #14321
Uh, what reasons stated where?

[2021-11-02 18:01] flambchap commented on #14321
We chose to include JRE into Linux packages, Windows installer, and macOS dmg because it allows us to fix a number of bugs related to the execution environment.

The ticket in my previous reply is a good example. To summarize, after upgrading to JRE 11.0.11, our users started complaining about the inability to connect to MSSQL 2008. It turned out that it was the result of the new security policy i

[2021-11-02 19:22] pdanie opened #14478 "DBeaver: Open Database Object (Ctrl+Shift+D) does not work when editing SQL script"
DBeaver - **Version 21.2.4 CE**
DBeaver driver: **MS SQL Server  / Microsoft Driver** _(the new Microsoft Driver)_
Operating System: **Windows 7 / Windows 8.1 / Windows 10**
Database Server: **Microsoft SQL Express 2014, 2016, 2017, 2019**

If I am connected to a database and open a SQL script editor and try to search for a database object  using shortcut Ctrl+Shift+D the dialog pop up, but when s

[2021-11-02 19:25] pdanie commented on #7806
It does not seem that this issue is not moving forward. Any plans for having this implemented/solved in the near future?

**PS**. I noticed the new and nice feature where I can choose if BOOLEAN columns could be shown as checkbox or true/false text. Unfortunately I have no use for this when using SQL Server. So I am hoping that this support issue be solved soon.

[2021-11-02 19:53] LonwoLonwo commented on #14478
Hello @pdanie

Thanks for the bug report.
We will fix the problem soon.
Closed as duplicate https://github.com/dbeaver/dbeaver/issues/14001

[2021-11-02 19:53] #14478 closed, assigned to nobody

[2021-11-02 23:20] getta-mike commented on #13993
bravo. spasibo!

On Tue, Nov 2, 2021 at 10:26 AM Matvey16 ***@***.***> wrote:

[2021-11-02 23:20] getta-mike commented on #13993
I have a few more; should I send in a batch or each separately?

On Tue, Nov 2, 2021 at 7:19 PM Mike Lehman ***@***.***> wrote:

[2021-11-03 06:07] Matvey16 commented on #13993
Better to create separate issue for each of the problems

[2021-11-03 06:21] vonhutrong commented on #10010
Yes, I also need to set it to 10 or 5 for faster first featching.

[2021-11-03 06:49] Matvey16 commented on #11922
Verified

[2021-11-03 06:49] #11922 closed, assigned to LonwoLonwo, Matvey16

[2021-11-03 07:13] LonwoLonwo commented on #14469
Hello @yonisade

Sorry, but I'm not sure that I understand you correctly.
DBeaver just returns an answer from the server for the "EXPLAIN ...." query. DBeaver does not add anything to the result.

![2021-11-03 10_08_05-DBeaver Ultimate 21 2 4 - _postgres_ Script-10](https://user-images.githubusercontent.com/45152336/140021081-16d4671b-28ed-4b5e-b285-0ffd6ef3e4ab.png)

You can check your Explain qu

[2021-11-03 07:18] yonisade commented on #14469
Please change your query to "EXPLAIN select i,count(*) from test group by i order by 2 desc"
You're supposed to see "Parallel Seq Scan" under the plan's "Node Type" as opposed to the plan generated by "CTRL+Shift+E"

If you don't see the "Parallel" keyword, you can also try running before: "set force_parallel_mode=on" and try EXPLAIN again.

[2021-11-03 07:26] uslss commented on #14473
@PetroGromovo do you save changes using Save filter settings button?
![image](https://user-images.githubusercontent.com/31996417/140022481-e8e5d86e-8c31-40db-930a-26c177e53311.png)

[2021-11-03 07:32] SSSDNSY commented on #13070
666

[2021-11-03 07:35] LonwoLonwo commented on #14469
Sorry, didn't help. Obviously, the result depends on server settings, which are different on my server.

![2021-11-03 10_33_12-DBeaver Ultimate 21 2 4 - _postgres_ Script-10](https://user-images.githubusercontent.com/45152336/140023290-e9dc6612-9ba5-430e-bae0-50cc20d8c9d0.png)

[2021-11-03 07:37] uslss commented on #12131
verified

[2021-11-03 07:37] #12131 closed, assigned to uslss, LonwoLonwo

[2021-11-03 07:52] uslss commented on #12816
verified

[2021-11-03 07:52] #12816 closed, assigned to uslss, LonwoLonwo

[2021-11-03 07:53] #6720 closed

[2021-11-03 07:56] #7015 closed

[2021-11-03 07:57] Matvey16 commented on #14471
@wynandcoetzer Could you please provide some screenshots of the issue for a more clear understanding? Also a DDL of the table would be great to reproduce it.

[2021-11-03 08:07] uslss commented on #7166
will be fixed in #12768

[2021-11-03 08:07] #7166 closed

[2021-11-03 08:16] LukasBreit opened #14479 "Export to DB2-Database - Missing Blanks in Create Table of Decimal-Columns"
#### System information:
- IBM I series 7.3
- DBeaver version 7.3.0

#### Connection specification:
- DB2

#### Describe the problem you're observing:
Hi DBeaver-Team,
when trying to export a resultset that contains DECIMAL columns to a DB2 table the TARGET DDL, which is a CREATE TABLE, has no blanks between the DECIMAL precision and scale. This leads to an SQL-error [42601]: [SQL0104].

#### Step

[2021-11-03 08:17] uslss commented on #2649
already implemented in DB Navigator
![image](https://user-images.githubusercontent.com/31996417/140027722-d0c2b370-83f5-47c3-80d0-cfa2e11529d0.png)

[2021-11-03 08:17] #2649 closed

[2021-11-03 08:19] uslss commented on #4111
will be implemented in #10235

[2021-11-03 08:19] #4111 closed

[2021-11-03 08:21] uslss commented on #6150
shortcut could be assigned in preferences
![image](https://user-images.githubusercontent.com/31996417/140028120-c0ae6a06-fffe-46dc-b1fe-a426faf2ec0f.png)

[2021-11-03 08:21] #6150 closed

[2021-11-03 08:31] uslss commented on #889
Already implemented
![image](https://user-images.githubusercontent.com/31996417/140029267-123c0d6a-7c23-4159-b124-4fc1b03d9841.png)

[2021-11-03 08:31] #889 closed

[2021-11-03 08:32] uslss commented on #2481
Already resolved

[2021-11-03 08:32] #2481 closed

[2021-11-03 08:33] LonwoLonwo commented on #2481
![2021-11-03 11_30_48-DBeaver Ultimate 21 2 0 - DEPT](https://user-images.githubusercontent.com/45152336/140029530-c1025a5e-6555-4c7a-b6ab-7bf2ca76988e.png)

[2021-11-03 08:35] uslss commented on #910
is it still actual?

[2021-11-03 08:48] uslss commented on #9292
already fixed

[2021-11-03 08:48] #9292 closed

[2021-11-03 08:51] uslss commented on #7983
seems to be fixed in 21.2.4

[2021-11-03 08:51] #7983 closed

[2021-11-03 08:58] uslss commented on #8909
duplicates #1936

[2021-11-03 08:58] #8909 closed

[2021-11-03 09:04] #8989 closed

[2021-11-03 09:06] #8613 closed

[2021-11-03 09:15] uslss commented on #8220
duplicates #7994

[2021-11-03 09:15] #8220 closed

[2021-11-03 09:16] uslss commented on #9692
#10149

[2021-11-03 09:19] uslss commented on #11483
duplicates #9472

[2021-11-03 09:19] #11483 closed, assigned to ShadelessFox

[2021-11-03 09:22] uslss commented on #3341
still actual in 21.2.4

[2021-11-03 09:52] boukenka commented on #8051
@kseniiaguzeeva Hello. Could you provide an update on this request please?

[2021-11-03 09:58] zongo811 opened #14481 "MariaDB: Views-Folder is empty"
#### System information:
- Operating system (distribution) and version: Debian Buster
- DBeaver version: 21.2.3
- Additional extensions: None

#### Connection specification:
- Database name and version: 10.5.12-MariaDB-1:10.5.12+maria~buster-log
- Driver name: Don't know, the default driver DBeaver loads automagically
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem

[2021-11-03 10:01] uslss commented on #14481
@zongo811 it seems from your screenshot, you have a filter applied in DB Navigator. Try to clear the filter field, so the view should become visible

[2021-11-03 10:05] stdkoehler commented on #10010
+1 for my data it takes very long and often I also run out of java heap space.
Also, the current solution is not very transparent. It always reset to 100 without any information. I had to find this issue to understand that this is desired behaviour and not a bug or a "usage error".

[2021-11-03 10:10] #10652 closed

[2021-11-03 10:13] uslss commented on #11810
already implemented
![image](https://user-images.githubusercontent.com/31996417/140042471-ccba82e1-a333-4ccc-8dde-d2001174d41c.png)

[2021-11-03 10:13] #11810 closed, assigned to nobody

[2021-11-03 10:15] BuZZ-dEE commented on #8613
😭

[2021-11-03 10:16] uslss commented on #11952
seems to be obsolete

[2021-11-03 10:16] #11952 closed, assigned to nobody

[2021-11-03 10:19] uslss commented on #5824
Already implemented
![EVtaFoovBS](https://user-images.githubusercontent.com/31996417/140043314-f20f8a8e-425d-4ce8-ae80-0d93cea983cc.gif)

[2021-11-03 10:19] #5824 closed

[2021-11-03 10:27] uslss commented on #11961
seems to be outdated for now

[2021-11-03 10:27] #11961 closed, assigned to nobody

[2021-11-03 10:31] flambchap commented on #14364
I think we should add an option to choose the workspace as Eclipse does.

[2021-11-03 10:35] uslss commented on #10769
duplicates #5675

[2021-11-03 10:35] #10769 closed

[2021-11-03 10:38] zongo811 commented on #14481
Silly me, thanks for the quick response.

[2021-11-03 10:38] #14481 closed, assigned to nobody

[2021-11-03 10:44] uslss commented on #3680
seems to be obsolete.

[2021-11-03 10:44] #3680 closed

[2021-11-03 10:48] uslss commented on #10886
import diagram using UI will be implemented in the scope of #8180

[2021-11-03 10:48] #10886 closed, assigned to nobody

[2021-11-03 10:55] uslss commented on #8955
implemented in 21.2.4
![image](https://user-images.githubusercontent.com/31996417/140048197-b336d0cb-e805-4c46-933a-5872d3fe2ff5.png)

[2021-11-03 10:55] #8955 closed

[2021-11-03 11:22] flambchap commented on #14479
Hi @LukasBreit. I cannot reproduce it against DB2 LUW, so I suspect this issue is specific to DB2 for i. Unfortunately, we don't have a machine with IBM i on hand, which means that it will take some time for us to investigate this issue. Sorry for the inconvenience.

[2021-11-03 11:28] Matvey16 commented on #12749
Verified

[2021-11-03 11:28] #12749 closed, assigned to LonwoLonwo, Matvey16

[2021-11-03 11:30] LukasBreit commented on #14479
Hi @akilovich thanks for your quick feedback! You are right, I have forgotten to add the info that it is a DB2 for i.. Let me know, when you have been able to do further investigations. Thanks.

[2021-11-03 11:40] LukasBreit commented on #14479
Hi @akilovich maybe this link helps you for testing the issue?
https://pub400.com/
This is a public IBM i server..

[2021-11-03 11:45] flambchap commented on #13066
Implemented for Cassandra.

[2021-11-03 12:05] yonisade commented on #14469
try:
set max_parallel_workers=4;
set max_parallel_workers_per_gather=2;
set force_parallel_mode=on;
set parallel_setup_cost = 10;
set parallel_tuple_cost = 0.001;

[2021-11-03 12:42] p91paul commented on #10010
I believe commenting on old and closed issues is at risk of being ignored by the project owners, who look at open issues to see what to do. I suggest you open a new issue.

[2021-11-03 13:06] Matvey16 commented on #14479
@LukasBreit Thank you for the report

[2021-11-03 13:17] Matvey16 commented on #14384
@jeff-bowles Thank you for the suggestion

[2021-11-03 13:24] JanellePhalen12 opened #14485 "Trying to view table triggers throws an error"
#### System information:
- Operating system (distribution) and version  **Windows 10,**
- DBeaver version  **21.2.X**

#### Connection specification:
- Database name and version   **Sybase Version 16**
- Driver name  **All Drivers - Sybase jTDS and Sybase jConnect**

#### Describe the problem you're observing:
When trying to view Table Triggers an error is thrown.
![image](https://user-images.gith

[2021-11-03 13:32] Matvey16 commented on #14477
@rdp Thank you for the suggestion

[2021-11-03 13:33] rvleustaquio commented on #14395
Hello @akilovich!
Thank you for return, I think I was using the wrong version or some option, but you're right, the comments are not folding.
Sorry for open this, if I saw again, I'll put screenshot together.

[2021-11-03 13:50] Matvey16 commented on #14408
@ppruchnicki  What type of DBeaver package do you use? Installing from Ubuntu software or with .deb package form our site or maybe with apt-get?

[2021-11-03 14:02] ppruchnicki commented on #14408
@Matvey16 I used snap installed from Ubuntu software:
dbeaver-ce               21.2.2.202110030714         147    latest/stable    dbeaver-corp   -
Installed using this command line:
sudo snap install dbeaver-ce

[2021-11-03 14:11] LonwoLonwo commented on #12424
Ability to download and show only current user schema (system or not) implemented for Oracle in DBeaver 21.2.5.
Setting for that you can be found in the Oracle connection settings page (Oracle properties tab).

![2021-11-03 14_45_00-DBeaver Ultimate 21 2 4 - _orcl_Script-42](https://user-images.githubusercontent.com/45152336/140076262-b9f1f04d-4ca9-4217-8a44-c36461b806ff.png)

[2021-11-03 16:13] vonhutrong opened #14486 "Allow minimum resulset fetch size >= 1"
Currently, the minimum resultset fetch size is 100, which is big with some blobs/long texts.
Then I would like to be able to set the minimum value to 1 or greater.

[2021-11-03 16:14] cccaballero commented on #5350
I am getting this exact same issue with mariadb 10.3.31 and DBeaver 21.2.3 the DB dump fais with error:

[code]
Is not using password to connect to DB.

[2021-11-03 16:15] vonhutrong commented on #10010
Hi @cyberbeat and @stdkoehler,
I have created a new issue [here](https://github.com/dbeaver/dbeaver/issues/14486#issue-1043796497).
Thanks @p91paul for your advice.

[2021-11-03 16:15] uslss commented on #14486
thanks for the suggestion
Duplicates #13758

[2021-11-03 16:15] #14486 closed, assigned to nobody

[2021-11-03 16:46] rvleustaquio commented on #14395
Hello @akilovich!

I don't know what I did, but when I opened some SQL file in project earlier, the fold in comments didn't show, but now when I closed e reopened the same file, the fold appears in comment.

![fold](https://user-images.githubusercontent.com/12042418/140105045-9a690dc2-8705-4f08-9e82-486936373c51.png)

https://user-images.githubusercontent.com/12042418/140120035-afbea520-e8b5-42a4-

[2021-11-03 17:39] cyberbeat commented on #13758
@Matvey16 Must that be both the same configuration-variable? I mean the minimum fetch-size and the auto-fetch-size? And in case of deactivation of auto-fetch, it would be nice to have another button or mouse-wheel-action (like comment above) to do that manually.

[2021-11-03 18:35] KES777 commented on #10950
Please note. When vertical scroll bar at bottom, then last available line at source should be as first line in editor window:

![image](https://user-images.githubusercontent.com/799021/140171677-7140eaba-093d-43c6-9789-99ff102375cf.png)

[2021-11-03 19:25] rajeevmenon11 commented on #14441
One of our Sybase Team Admin provided the below info:
"By default the Java functions that Dbeaver uses via Jconnect/JTDs drivers does not really provide permissions as part of the reverse-engineering of DDLs.

Permissions are a completely different thing and a enhancement.
For that matter, even the DDLGEN utility that SAP provides (RHEL command line ) by default does reverse-engineer permissions.

[2021-11-03 23:07] p91paul commented on #8613
The queries can be logged in log files as well. There is an option in preferences for which type of queries should go in the logs. Not as searchable as the query manager, but better then nothing.

[2021-11-04 04:47] sharapov commented on #3354
Maybe it will be useful to you
https://github.com/sharapov/dbeaver-firebird-plugin

[2021-11-04 07:14] flambchap commented on #14395
Well, this looks like a bug to me. Could you please post the first 17 lines of the script from your message above? Thank you.

[2021-11-04 12:25] rvleustaquio commented on #14395
Sure! Follow.

[github.txt](https://github.com/dbeaver/dbeaver/files/7474715/github.txt)

I noticed that when it's not connected to a database, the fold in comments not appear, in the exactly moment when connects, the fold appears.

https://user-images.githubusercontent.com/12042418/140314024-9e16fd2a-21a3-41ec-899e-d298356187be.mp4

[2021-11-04 13:36] adgwytc opened #14489 "mssql scalar variable issue"
Hi,

I have searched for a solution to the below problem but cannot find the right resolution. Any help would be greatly appreciated.

I am utilisng mssql as a backend DB for Freeradius on Ubuntu and am attempting to get replication to work. This requires a distributor and publisher. I am following the mssql guides to create what we require and have got a `Must delacre the scaler variable "@distri

[2021-11-04 14:13] adgwytc commented on #14489
Just for information.... I seem to have found a resolution, albeit a strange one....

Leave a space between the DECLARE statements and the SET statements.

[2021-11-04 14:43] leinad87 opened #14490 "JAVA_OPTIONS configuration on SNAP installation"
I use to modify `java.security` file to modify SSL/certificate valid cyphers. When dbeaver is installed with SNAP, this file is located in `/snap/dbeaver-ce/current/usr/share/dbeaver-ce/jre/conf/security/java.security`, however this is a read-only mount path.

Another option could be use java parameter `-Djava.security.properties=<path_to_java_security_file>`.

How can I solve this?

[2021-11-04 15:43] flambchap commented on #14395
Thanks!

[2021-11-04 15:45] flambchap commented on #14479
@LukasBreit Thank you. Our DevOps engineers are considering this as one of the options.

[2021-11-04 15:49] flambchap opened #14491 "Disable editiing of the URL Template for non-generic drivers"
#### System information:
- Operating system (distribution) and version
- DBeaver version 21.2.4 UE (devel)
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
In the `DriverEditDialog`, the _URL Template_ field is editable for non-generic drivers.

![image](

[2021-11-04 16:28] flambchap commented on #14491
Duplicate of #13654.

![image](https://user-images.githubusercontent.com/26031301/140379496-9d38524a-4ad0-45cc-926a-279d9e7a5e39.png)

[2021-11-04 16:28] #14491 closed, assigned to nobody

[2021-11-04 16:34] flambchap commented on #13654
Hello @spassignat. Under the hood, DBeaver intentionally ignores custom _URL Templates_ for most of our drivers. We should disable this field for such drivers.

I suggest setting up a Generic or MySQL (Old) driver.

[2021-11-04 18:29] weeejw commented on #3052
+1

[2021-11-04 19:02] ShadelessFox commented on #2770
Duplicate of #11052

Please track issue there

[2021-11-04 19:02] #2770 closed

[2021-11-04 19:24] ShadelessFox commented on #2487
This can easily be implemented on Windows, but macOS and Linux are under question.

This seems like a cool idea since we already provide a way of executing SQL scripts via CLI.

https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/platform-apis/aa767914(v=vs.85)?redirectedfrom=MSDN

[2021-11-04 19:30] ShadelessFox commented on #2571
I'm not sure about such functionality. You can select multiple cells and copy their values, paste them into SQL editor and then execute.

It think it can be generalized to something like "show selected values in SQL editor" for fast inspection and other use cases.

[2021-11-04 19:35] ShadelessFox commented on #14489
Hello @adgwytc,

Is your issue related to DBeaver?

Please use our issue template and provide more information.

[2021-11-05 07:17] scruel commented on #957
Would you release this function in CE version? We truly need it!

[2021-11-05 10:29] adgwytc commented on #14489
No. Apologies if this is in the wrong area. Please remove as the issue is resolved.

Thanks

[2021-11-05 11:20] #14489 closed, assigned to nobody

[2021-11-05 12:39] rajeevmenon11 commented on #14429
Hi,
Our DB2 Team Admin tested and provided the below update:

"We tested DBeaver V 21.2.3  to extract DDLs and Privileges by connecting to DB2LUW databases V 10.5 FP 11A and V 11.1.4 FP6. We are able to pull just DDLs (not grants) for only Views and Store procedures.  When we tried to pull DDLs for tables Dbeaver  reported following error :
Routine "*RATE_DDL" (specific name "") has returned an er

[2021-11-05 16:30] getta-mike opened #14495 ""Save as" dialog fails to add default extension when specifying filename without one"
When omitting an extension in the filename, the save as dialog box is supposed to add the extension specified in the below dropdown.  Instead, it saves the file without the extension, causing you to have to manually add the .sql (or whatever your default is) to it later.  I experience this problem when using the query editor; not aware of any other places, if there are any.

In the screenshot belo

[2021-11-05 16:35] ndiaz-addepar commented on #6069
This has not been true since 8.0.16

[2021-11-05 16:45] ndiaz-addepar opened #14496 "Support Check constraints for H2"
**System information:**
Operating system (distribution) and version macOS 10.15.7
DBeaver version 21.2.2

**Connection specification:**
Database name and version H2 1.4.200

**Describe your question:**
Does DBeaver Community support CHECK Constraints for H2 databases?

[2021-11-05 17:38] ShadelessFox commented on #14495
Hello @getta-mike,

Thanks for the report.

Duplicate of #14013

[2021-11-05 17:38] #14495 closed, assigned to nobody

[2021-11-05 18:28] LonwoLonwo commented on #14485
Hello @JanellePhalen12

Ok. Driver does not return triggers to us, so we can't use the driver. I do not see alternatives except "grant all on sysobjects to public" right now. Any ideas?

[2021-11-05 19:54] LonwoLonwo commented on #14496
Hello @ndiaz-addepar
Thanks for the idea!

Support of Unique keys also can be implemented in this ticket.

Helpful link for the future: https://github.com/h2database/h2database/issues/2286

[2021-11-05 21:10] cvargas-xbrein commented on #8033
${schema} not work in porstgresql

[2021-11-05 21:21] LonwoLonwo commented on #14443
Mock Data dialog has the same problem.

[2021-11-06 03:51] ShadelessFox commented on #8033
Hello @cvargas-geo,

This issue is closed. Please create a new one.

[2021-11-06 15:44] JesperWe commented on #13968
Best part is you have to navigate in the dark (although in this case the dark is white ;-) ) to set the theme to dark...

<img width="659" alt="image" src="https://user-images.githubusercontent.com/1643015/140615438-e2677924-1822-40d8-b287-e096f56cf264.png">

[2021-11-06 16:04] 0xAnasEzz commented on #11052
I've been looking for this feature for a long time, and I don't think any other tool provided this functionality until now.

[2021-11-07 07:35] bandikota commented on #13960
21.3.4 wooow (

[2021-11-07 13:49] flambchap opened #14499 "Support Check Constraints for SQLite"
In SQLite, it's possible to add check constraints when creating a new table. The syntax is quite simple:

[code]

It would be nice if DBeaver could show check constraints as well as create them from UI.

[2021-11-07 17:33] juarezr commented on #2407
Reposting here the idea/suggestion from #8033 to make easier further triage/refinement.

### Problem description

Currently when using `Execute > Export from Query` the only way of differentiating the filenames exported from multiple queries is using the variable `${index}`.

But this is somewhat confusing and hard to memorize because `${index}` expands to a vague number leading the developer to l

[2021-11-07 18:54] ShadelessFox commented on #14443
Log is a special page that is not supposed to be accessed manually since it does not show anything until tool is executed.

Perhaps we should hide this page in the navigator.

[2021-11-08 06:04] wangqian-49 opened #14500 "Postgresql : Cannot create new Indexes"
#### System information:
- Operating system (distribution) and version : Centos7
- DBeaver version  : 21.2.4
- Java version  : 11.0.2
- Additional extensions  :

#### Connection specification:
- Database name and version : postgresql 12.3
- Driver name : PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

Error creating new ind

[2021-11-08 06:37] LonwoLonwo commented on #14500
Thanks for the bug report!

The problem is relevant for Oracle and SQL Server too.

[2021-11-08 06:39] yvhr commented on #12218
I'm having the same problem on `21.2.4`. Same error, the thing is, my initial issue is #7424.
[code]
I've read that JSCh doesn't work, recommended *SSHJ*, now I'm stuck. lol

[2021-11-08 07:05] wangqian-49 commented on #14500
Thank you for such a quick reply!

[2021-11-08 07:29] Matvey16 commented on #14438
@rpalloni For now you can enable an option to create folders with connection name in script folder. And all new scripts for a connection will be saved in it's personal folder.

![image](https://user-images.githubusercontent.com/82543000/140700900-78d3eb6f-2dba-4f5b-9d24-1d385562552e.png)

[2021-11-08 07:35] Matvey16 commented on #14476
@gatrm Where exactly in dbeaver.ini did you add those lines? They need to be at the end of the file. I wasn't able to reproduce your issue that way.

[2021-11-08 08:11] Matvey16 commented on #14364
@janiu-001 To answer your question about adding required workspace in dbeaver.ini you need to add this argument at the beginning of the file and also include newline after `-data` so it looks kind of like this
[code]

[2021-11-08 08:29] dsimon-dev commented on #13873
Arch Linux upgraded the packages which fixed this issue.

[2021-11-08 08:29] #13873 closed, assigned to nobody

[2021-11-08 08:40] LonwoLonwo commented on #14500
Fixed for PG, Oracle, SQL Server

![2021-11-08 09_41_17-](https://user-images.githubusercontent.com/45152336/140695641-78ab5637-8e97-4200-a52f-d890c6ddd110.png)

[2021-11-08 08:49] uslss commented on #13878
![OVQaqczvo5](https://user-images.githubusercontent.com/31996417/140711565-48f10748-64b0-4f7a-aa4b-f54bf124cb02.gif)

[2021-11-08 08:52] uslss commented on #12424
verified

[2021-11-08 08:52] #12424 closed, assigned to uslss, LonwoLonwo

[2021-11-08 08:58] Matvey16 commented on #14490
@leinad87 Unfortunately it is how snap works, so the only options are to either use java parameter in command line or to manually install Dbeaver with a package from https://dbeaver.io/download/

[2021-11-08 09:45] Matvey16 commented on #14408
@ppruchnicki I see. That is a problem with snap version. This package doesn't have permissions to read ~/.aws directory. That issue is being fixed right now, but is not ready yet. As a temporary workaround you could install DBeaver from https://dbeaver.io/download/

[2021-11-08 09:51] Matvey16 commented on #13758
@cyberbeat There is actually a button for manual fetch already with a shortcut of <kbd>Ctrl+Alt+;</kbd>

![image](https://user-images.githubusercontent.com/82543000/140720536-6eba8781-2b5d-4f53-be08-eacf014ad4ef.png)

[2021-11-08 10:27] LonwoLonwo commented on #14441
Ok. What Sybase version do you use?

Note for the future: `EXEC sp_helprotect 'dbo.actor'` && `sysprotects` can help.

[2021-11-08 11:16] makingglitches commented on #13900
Fedora

[2021-11-08 11:17] makingglitches commented on #13900
Oh additionally I can't quite place where but I've seen this error before with software that uses Java regarding some strange cert store issue

[2021-11-08 11:30] serge-rider commented on #13878
Fixed

[2021-11-08 11:37] uslss commented on #14500
verified

[2021-11-08 11:37] #14500 closed, assigned to uslss, LonwoLonwo

[2021-11-08 11:58] sjivan commented on #9626
@uslss Can you point to the build that has this feature and where is it accessible in the UI or pointer to the documentation?

[2021-11-08 12:01] uslss commented on #14420
verified

[2021-11-08 12:01] #14420 closed, assigned to uslss, ShadelessFox

[2021-11-08 12:07] ShadelessFox commented on #9626
@sjivan please see https://github.com/dbeaver/dbeaver/wiki/Data-compare

[2021-11-08 12:17] sjivan commented on #9626
@ShadelessFox The link you pointed me to is different from this feature request which is the ability to compare two resultsets. I was expecting the right click context menu of the Resultset table to have a "Compare To" with the name of the other resultset tab names allowing the user to compare two resultsets. This is how AquaDataStudio allows the comparison of two resultsets.

[2021-11-08 12:30] uslss commented on #13878
verified

[2021-11-08 12:30] #13878 closed, assigned to serge-rider, uslss

[2021-11-08 12:34] Matvey16 commented on #13725
Happens regardless of `whole word` option. When string is not found, results of the last successful search would be highlighted. But maybe it is expected behavior?

[2021-11-08 14:17] gatrm commented on #14476
Hi,
My fault. It was last version 21.2.4 not as I wrote 21.1.4.
I attach my dbeaver.ini/txt file (I changed name of my user profile).
[dbeaver.ini.txt](https://github.com/dbeaver/dbeaver/files/7497595/dbeaver.ini.txt)

[2021-11-08 14:54] appleoddity commented on #14039
@Matvey16

I have confirmed the problem persists whether I login through an IAM / SSO role, or directly through a database user. Even when using the cluster admin user.

I have turned on the Redshift driver debug logging. During that time, I delete both the driver configuration and the connection and re-added it. One time it displayed the external spectrum tables and then immediately quit working

[2021-11-08 15:18] getta-mike commented on #14495
sorry - tried to do the homework by searching for already existing issue
but didn't find one.

On Fri, Nov 5, 2021 at 1:38 PM Who cares ***@***.***> wrote:

[2021-11-08 18:49] JCUtah opened #14505 "Lock question in DBeaver 21.2.4 - Metadata"
#### System information:
- System Windows 10 Pro
- DBeaver 21.2.2
- Java 11.0.12+7
- Additional extensions - none

#### Connection specification:
- Database name and version - PostgreSQL 13.2 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-44), 64-bit running on Centos 7
- Driver name - PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? - No

####

[2021-11-08 20:54] appleoddity commented on #14039
@Matvey16

I started to dig in to the source code for this issue.

I don't fully understand the details behind the DBPDriver.GetDriverParameter function. But, I have discovered that DBeaver is not getting the proper "serverType" property from the driver.

In the DBeaver debug log, I can see DBeaver writes:
"Initiate connection to PostgreSQL database..." - when it doesn't work.
"Initiate connection

[2021-11-08 22:10] appleoddity commented on #14039
@Matvey16

Ok. I have discovered the issue and how to reproduce.

If I go in to Driver Manager and I select the existing "Redshift" driver and then Copy that driver, it seems like DBeaver will no longer recognize the new drivers as serverType = Redshift. Instead, it changes to "PostgreSQL." I don't need to modify anything in the copied driver. Just simply copying it, breaks it.

I suspect another

[2021-11-08 22:10] match-gabeflores opened #14507 "Generating DDL for Redshift procedures is incorrect"
Using **Single-signon SSO Connection (Okta)**

1. I created a proc on Redshift.
2. in the sidebar, the procedure appears in the function folder (is that expected?). Right click the proc/function to Generate the DDL.
3. DDL is incorrect - it incorrectly shows Create function and the syntax is incorrect for a proc (include Volatile keyword, parameters don't have INOUT keyword, etc)

![image](https:/

[2021-11-08 22:13] appleoddity commented on #14507
@match-gabeflores Did you copy the "Redshift" driver or create a new driver configuration for Redshift?

What happens if you use the original "Redshift" driver provided with DBeaver, as seen in Driver Manager?
![image](https://user-images.githubusercontent.com/29755504/140826530-28113580-ba59-4163-88d4-3b02069b4d1f.png)

[2021-11-09 01:12] ctoposup commented on #5517
Fixed by deleting %HOMEPATH%/.dbeaver/.metadata/.plugins/ all files

[2021-11-09 03:34] KeithTt commented on #7597
Thanks for your info, I just close the tab and reopen it, then the `read-only` tips gone.

[2021-11-09 07:26] LonwoLonwo commented on #14505
Hello @JCUtah
DBeaver uses this query for tables statistics reading.

You can turn off reading statistics in the navigator settings:

![2021-11-09 10_25_21-DBeaver Enterprise 21 2 4 - _postgres12local_ Script](https://user-images.githubusercontent.com/45152336/140880332-9a903b03-80a9-4768-9f54-89ddca8710b5.png)

[2021-11-09 07:34] LonwoLonwo commented on #14443
`Back`, `Start`, and `Cancel` buttons now will be disabled during the execution of the logging process

![2021-11-08 15_46_12-DBeaver Ultimate 21 2 4 - _orcl_Script-42](https://user-images.githubusercontent.com/45152336/140744978-5bc4ab62-2d34-4d99-b449-2566eb35a6e5.png)

[2021-11-09 08:22] atharbny opened #14508 "DBeaver login issues, does it takes LDAP password for login?"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-11-09 08:24] Matvey16 commented on #12535
@ruffyleaf Hello. Could you more specifically describe how did you add your driver? I was not able to reproduce it and Dbeaver tried to use the 1.1.0 driver. But this driver is pretty old and it won't work in recent DBeaver version.

[2021-11-09 08:26] uslss commented on #14508
@atharbny please, add more info accordingly to the issue template. This info is needed to investigate an issue

[2021-11-09 09:40] serge-rider commented on #13318
Fixed

[2021-11-09 10:05] uslss commented on #14443
Native Client and Save Task buttons should be inactive
![hSBooiToCV](https://user-images.githubusercontent.com/31996417/140904031-8fee036d-7eea-4a11-8604-82d79bfeecab.gif)

[2021-11-09 10:27] LonwoLonwo commented on #13545
Implemented

![2021-11-08 22_43_58-DBeaver Ultimate 21 2 4 - postgres](https://user-images.githubusercontent.com/45152336/140815482-d23d076e-ffeb-48d3-95a8-6798446e8d3a.png)

[2021-11-09 10:44] wynandcoetzer commented on #14471
The problem I have is purely with the UI of DBeaver. It is a problem for every table on every database. My issue is that when I want to select a set of columns to display, it has become extremely difficult. It worked very well until this last release. For the last release the tick boxes in selecting the columns to display have been changed. I experience the following problems:
1. I have to click f

[2021-11-09 10:51] ShadelessFox commented on #12198
Hello @focusaurus,

Can you please provide a minimal reproducible example?

[2021-11-09 10:56] Matvey16 commented on #14476
@gatrm So you can launch DBeaver with this ini file on version 21.2.3 and with default ini file on version 21.2.4, but after adding those 3 lines at the end of the file, version 21.2.4 stops launching?

If so, please attach your .log file located in `C:\Users\username\AppData\Roaming\DBeaverData\workspace6\.metadata`

[2021-11-09 11:01] miellaby commented on #6626
FYI, this bug fixed itself some times ago (sorry I didn't notice when exactly).

[2021-11-09 11:02] LonwoLonwo commented on #13969
This is a very strange behavior because DBeaver usually does not read object DDLs on step ERD diagram generations.
I have an SQL Server connection with a schema with the view whose DDL cannot be read. But schema ERD is correct and contains all objects, including the "bad" view.

![2021-11-09 13_59_04-](https://user-images.githubusercontent.com/45152336/140912425-42b0782a-c333-4e26-be32-39f7d1fa80a

[2021-11-09 11:32] gatrm commented on #14476
Correct.
That behaviour was occured in two cases
1. Install 21.2.4 version -> it was launching, after adding kerberos support it stopped
2. Installl 21.2.3 and uprgrade. Rest of test case was the same as 1.

I will upload log file after retest.

regards

[2021-11-09 11:45] olivier-novalend opened #14510 "Error installing DBeaver IDE plugin from Eclipse Marketplace manager"
Cannot complete the install because some dependencies are not satisfiable
  Software being installed: a.jre.javase 9.0.0
  Software being installed: DBeaver IDE 21.2.4.202111011413 (org.jkiss.dbeaver.ide.feature.feature.group 21.2.4.202111011413)
  Cannot satisfy dependency:
    From: DBeaver Databases 1.0.59.202111011413 (org.jkiss.dbeaver.db.feature.feature.group 1.0.59.202111011413)
    To: org

[2021-11-09 12:57] Matvey16 opened #14511 "Don't move the ER diagram until search is complete"
Right now search function in ERD works like this: After any symbol input focus starts moving rapidly from table to table until the search is complete, this looks strange and maybe even scary.
It would be better to move a diagram to target table only after search is finished. Also I suggest adding a delay before search to allow inputting other symbols before search starts.

[2021-11-09 12:58] Matvey16 commented on #13545
Verified
New issue created for improvement #14511

[2021-11-09 12:58] #13545 closed, assigned to LonwoLonwo, Matvey16

[2021-11-09 14:45] rajeevmenon11 commented on #14429
@jeff-bowles
Could you please check the last update that I've posted on the issue faced by our DB2 team?

[2021-11-09 15:25] rajeevmenon11 commented on #14441
Sybase version : ASE 16.Sp03.Pl08.HF1

Do you need the output for those commands that you have provided?

[2021-11-09 16:24] JCUtah commented on #14505
Thank you for the quick response.

[2021-11-09 16:30] PetroGromovo commented on #14473
Not sure, maybe yes. Could you please explain how this functionality work and how can I clear it to default?

[2021-11-09 18:28] focusaurus commented on #12198
With the latest IDEA I can no longer reproduce this. Closing.

[2021-11-09 18:28] #12198 closed, assigned to ShadelessFox

[2021-11-09 18:35] canercanbaz commented on #14107
Yes the problem still exists on 21.2.4.

![image](https://user-images.githubusercontent.com/34982311/140983992-d48ef009-fa6a-4be0-8a76-b77d22ee7793.png)

[2021-11-09 20:00] nilawafer opened #14512 "Open dbeaver with connection in command line"
Opening dbeaver from the command line on mac does not work from version 21.2.3-21.2.4. There [was a claim](https://github.com/dbeaver/dbeaver/issues/14270#issuecomment-947493090) that this would be fixed in v21.2.4 but it was not fixed (at least not for me on mac).

[2021-11-09 20:02] nilawafer commented on #14512
@ShadelessFox fyi this is still broken

[2021-11-09 20:27] LonwoLonwo commented on #14441
Thanks.
As I understand `EXEC sp_helprotect` works from Sybase 15 version. So it must work for you.

[2021-11-09 20:27] #14505 closed, assigned to nobody

[2021-11-09 22:03] LonwoLonwo commented on #12290
Can't reproduce in DBeaver 21.2.5

Ctrl+click works for tables, procedures, and packages names in the first place.

![OsMI0Xnm9n](https://user-images.githubusercontent.com/45152336/141011960-5d9ff11a-94cd-44ce-97df-41a54190718c.gif)

[2021-11-10 01:05] ShadelessFox commented on #14512
Hello @nilawafer,

What command line options do you use?

Also [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files) would be very useful.

[2021-11-10 01:14] nilawafer commented on #14512
Thanks for your help
[code]

[2021-11-10 01:44] ShadelessFox commented on #14512
Are you sure there's no other instances of DBeaver running in the background?

[2021-11-10 02:51] nilawafer commented on #14512
That could be it. I’ll check when I’m back at my laptop

[2021-11-10 05:50] Matvey16 commented on #12559
@plotn Hello, I was reviewing this issue, and the error `This connection has been closed` can be constantly reproduced, but I need to know if you have tried to use Invalidate/reconnect button. Also useful would be to know your connection specifications. Do you use SSH tunnel, proxy, SSL?

[2021-11-10 06:35] Matvey16 commented on #12290
Verified

[2021-11-10 06:35] #12290 closed, assigned to LonwoLonwo, Matvey16

[2021-11-10 06:51] LonwoLonwo commented on #14107
Hello @canercanbaz
Maybe you can give us a dump of these databases? Without data, only metadata.

[2021-11-10 06:55] LonwoLonwo commented on #14107
Maybe you have some special connection settings? Default database?

![2021-11-10 09_54_33-DBeaver Ultimate 21 2 5 - _orcl_Script-42](https://user-images.githubusercontent.com/45152336/141064643-b5a7c1f7-0098-4a09-9c23-1414dc8ea4e9.png)

[2021-11-10 07:28] Matvey16 commented on #12832
Verified

[2021-11-10 07:28] #12832 closed, assigned to ShadelessFox, Matvey16

[2021-11-10 08:05] LonwoLonwo commented on #14443
Other buttons are disabled.

![2021-11-10 00_45_52-DBeaver Ultimate 21 2 5 - tbl](https://user-images.githubusercontent.com/45152336/141010090-075253e2-921e-43c9-b797-1d8cd0a18bdd.png)

[2021-11-10 08:19] xeviquintana commented on #6131
The issue remains on version 21.2.4.202111011413 - release date 2021 Nov 1, on a Spanish keyboard.

[2021-11-10 08:49] uslss commented on #14443
verified

[2021-11-10 08:49] #14443 closed, assigned to uslss, LonwoLonwo

[2021-11-10 09:07] rasputino opened #14517 "PostgreSQL schema filtering excluding all schemas"
#### System information:
- Windows 10 21H1 19043.1288
- DBeaver 21.2.4.202111011413

#### Connection specification:
- PostgreSQL 10.18 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-44), 64-bit
- org.postgresql.Driver
- Direct connection

#### Problem:
Schema filtering excluding all schemas

#### Steps to reproduce:
1- Create a new connection.
2- Edit connection. Open

[2021-11-10 09:28] Matvey16 commented on #13318
The issue still persists. The shortcut doesn't work after initial Eclipse start. If keys tab in preferences window is opened they start working.

[2021-11-10 09:33] jgrocha commented on #6131
I can confirm this. The Ctrl+Shift+7 hides the Ctrl+/ since both are the same for some non english keyboards.

[2021-11-10 10:46] takaebato opened #14518 "Space between lines in SQL script increases undesirably when Japanese (also Chinese) character is input"
#### System information:
- Operating system (distribution) and version: mac
- DBeaver version: 21.2.3
- Additional extensions: none

#### Connection specification:
- Database name and version: mysql5.7
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no

#### Describe the problem you're observing:

Space between lines in SQL script increases when Japanese (also Chinese) character

[2021-11-10 10:49] flambchap opened #14519 "Unable to copy scripts into empty Scripts folder"
#### System information:
- Operating system (distribution) and version Win 11
- DBeaver version 21.2.5 UE devel
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
1. As a prerequisite, suppose we have a project `dbeaver-d

[2021-11-10 12:45] kseniiaguzeeva opened #14520 "Columns with upper case must be quoted to apply a filter"
#### System information:
- DBeaver version 21.2.4

#### Connection specification:
- Database name and version Greenplum

#### Steps to reproduce, if exist:
Write a column name with an uppercase letter in its name in the top filter fieild and apply a filter

**Expected**: the filter is applied
**Actual result**: filter request uses lower case only for column name and filter cannot find such column

[2021-11-10 12:55] Skydiveroid commented on #14517
Thank you for the report.

[2021-11-10 13:30] Matvey16 commented on #14469
@yonisade Thank you for the report, I reproduced this bug.

[2021-11-10 13:51] Matvey16 commented on #14469
This happens because the `EXPLAIN (FORMAT XML)` is executed on server side and Postgres returns parallel qualification as separate attribute.

[code]

Maybe there is a way to parse this

[2021-11-10 14:11] serge-rider commented on #14277
This is not a bug

[2021-11-10 14:11] #14277 closed, assigned to nobody

[2021-11-10 14:16] serge-rider commented on #13898
It comes from Eclipse Babel localization

[2021-11-10 14:17] serge-rider commented on #13414
Eclipse-specific behavior.

[2021-11-10 14:20] serge-rider commented on #13691
We don't want to make these dialogs modeless. Because it is convenient to have multiple connection dialogs open (e.g. for settings copy-paste).
The problem is Linux-specific. We must somehow fix the problem with overlapped popups.

[2021-11-10 14:22] serge-rider commented on #13576
Seems to be a problem with outdated PPA. Must be fixed by now.

[2021-11-10 14:23] Jrmy003 commented on #14285
Maybe the problem occurs when database name begins with numbers?

[2021-11-10 14:24] serge-rider commented on #13952
Duplicate of #14013

[2021-11-10 14:24] #13952 closed, assigned to nobody

[2021-11-10 14:26] Jrmy003 commented on #14285
![image](https://user-images.githubusercontent.com/3603542/141131002-f614ef1a-9cb7-4297-bc99-ae4c6d263ab3.png)

[2021-11-10 14:27] Jrmy003 commented on #14285
![image](https://user-images.githubusercontent.com/3603542/141131110-3c0b2fc0-0984-443f-88e8-3af6cdd2f97e.png)

[2021-11-10 14:28] Jrmy003 commented on #14285
And it finally works with 6 caracters, while 3 was enough in 21.0.1.

The last screenshots was made with 21.2.4.

The problem may comes from numbers or special characters (- or _)

![image](https://user-images.githubusercontent.com/3603542/141131263-c74ed021-45fe-4af8-a932-d7e7a7694763.png)

[2021-11-10 14:29] flambchap opened #14522 "Unable to cancel tunnel configuration test which causes UI block"
#### System information:
- Operating system (distribution) and version Win 11
- DBeaver version 21.2.5 UE devel
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
1. Open the new connection dialog for a non-embedded datab

[2021-11-10 14:47] rajeevmenon11 commented on #14441
May I know for what these commands are used for? Is it for viewing the GRANT statements?

[2021-11-10 14:51] AnrDaemon commented on #13414
Can you please point me to the relevant issue tracker then?

[2021-11-10 16:24] #14512 closed, assigned to nobody

[2021-11-10 16:24] nilawafer commented on #14512
Yeah that was the issue

[2021-11-10 17:52] LonwoLonwo commented on #14441
Yes.

[2021-11-10 18:35] jyk4100 commented on #9414
also having the same issue. I am windows users using mac for work and I want to use 'home' and 'end' key to go to the start/end of the **line** and not the **entire text**. I changed key mappings on preference but it works intermittently. Yes it is not the biggest bug but this make me jump around my sql script unintentionally.

[2021-11-10 18:41] rajeevmenon11 commented on #14441
okay, I had a conversation with Sybase Admin on this. So he says, this command is mainly used for displaying everything which is not feasible for customers while checking for a particular thing.

Main issue is that, DBeaver does not display any permissions while extracting the DDL. Please help to make this feature available.

[2021-11-10 18:55] Matvey16 commented on #13709
Verified

[2021-11-10 18:55] #13709 closed, assigned to serge-rider

[2021-11-10 19:26] ShadelessFox commented on #14518
Hello @taka-ebato,

This happens because editor's font does not support Chinese characters and thus uses fallback which is taller.

You can change font via <kbd>User Interface</kbd> &rArr; <kbd>Appearance</kbd> &rArr; <kbd>Colors and Fonts</kbd>.

[2021-11-10 21:47] RWagner2021 commented on #6912
Is this supported in the DBeaver Community edition?

[2021-11-10 22:34] canercanbaz commented on #14107
Actually it seems to be the same.

![image](https://user-images.githubusercontent.com/34982311/141204672-be6cc853-bc07-4e02-83fa-4e1a1040a6cb.png)

[2021-11-10 22:45] javierdiegof commented on #6912
Sure @RWagner2021, I'm working with DBeaver CE. Everything I have written applies to it.

[2021-11-11 01:55] takaebato commented on #14518
@ShadelessFox
Thank you for your advice!!
I tried some fonts supporting Chinese characters, but they are taller by default, which doesn't look nice.

↓ This is the SQL script of Sequel Pro, and just the line having Japanese (Chinese) character becomes taller. I think it's great if Dbeaver has this behavior.

https://user-images.githubusercontent.com/62829037/141222563-35a8e5d7-7599-4a9e-84cf-7a28a

[2021-11-11 02:09] ShadelessFox commented on #14518
The same behavior is present in Eclipse too, so I believe this is a third-party issue, unfortunately.

[2021-11-11 03:31] takaebato commented on #14518
Thank you for the investigation! Hope it will be fixed.

[2021-11-11 06:51] LonwoLonwo commented on #13689
Hello @Nk54
What database do you use?

[2021-11-11 07:03] Bkingkam opened #14525 "Display duplicated title name on database navigator panel when click refresh (F5) some title name."
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-11-11 08:41] uslss commented on #14525
@Bkingkam please, add more info accordingly to the issue template. It is needed for the issue investigation.

[2021-11-11 08:45] Matvey16 commented on #13414
https://bugs.eclipse.org/bugs/show_bug.cgi?id=109481

Closed by Eclipse as `Won't fix`

[2021-11-11 08:46] kseniiaguzeeva opened #14526 "Customize filters options with checkboxes have a focus issue"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.2.5 EA

#### Steps to reproduce, if exist:
1. Open customize filters.. dialog for a table
2. Try to change a condition with checkbox for a column

**Expected**: the change is applied
**Actual result**: the value isn't changed and applied
**Note**: the issue doesn't exist in table properties, data transf

[2021-11-11 09:19] plotn commented on #12559
@Matvey16 , got this again. Version: 21.2.2.202110030714
Steps:
1. Run query in sql editor. Result: SQL Error [08003]: Соединение уже было закрыто
2. Refresh connection (right click in tree, select "Refresh"
3. Run query again. Same result.
4. Open new tab (Ctrl + ]). Run query inside it. All ok.

No tunnels, no ssh, direct connection (via enterprise VPN).

[2021-11-11 09:50] ShadelessFox commented on #13708
Virtual model does not support reverting changes. Undo also does not work

[2021-11-11 10:03] flambchap opened #14527 "Make it possible to add one or multiple Maven artifacts in the Driver Manager using Maven and Gradle dependency syntax"
The most popular way to add artifacts from Maven Central is to go to `mvnrepository` and copy-paste snippets from the artifact's page. Our current dialog has 3 different fields (_GroupId_, _ArtifactId_, _Version_) in our _Add Artifact_ dialog. Because of that, the user needs to parse these snippets by hand and divide them into these 3 fields. It would be nice if we could do that for the user.

[2021-11-11 10:06] majkyyx opened #14528 "Scheduler/jobs/Run Log is empty (oracle)"
![image](https://user-images.githubusercontent.com/14957734/141277318-aa9a3db4-e93c-43af-8719-0d88302cbe84.png)

#### System information:
- Operating system: OS: Ubuntu Budgie 20.04.3 LTS x86_64 (Kernel: 5.11.0-38-generic ) - but it's same bug on windows 10
- DBeaver version: 21.2.4.202111011413

#### Connection specification:
- Database name and version: oracle 19c EE (but same bug on other versi

[2021-11-11 10:30] #12962 closed, assigned to nobody

[2021-11-11 10:44] Matvey16 opened #14530 "[Hive] Changing connection type to production enables transactions which leads to errors"
#### System information:
- DBeaver version 21.2.5

#### Connection specification:
- Database name and version Apache Hive 2.3.2
- Driver name jdbc.HiveDriver 2.7.3.2.6.5.0-292

#### Describe the problem you're observing:
Even though changing transaction mode to manual is disabled in toolbar for Hive connections. Transaction mode is switched to manual if connection type is set to production. But Hi

[2021-11-11 11:24] Matvey16 opened #14531 "[Hive] Change key creation through UI"
Different versions of Hive can either support constraints or not. Hive started supprting constraints from version 2.1.0
Right now Dbeaver has strange and incorrect creation and presentation of keys.

1. Table metadata window has a tab for keys, but it is always blank, even if the table actually has keys. Also generated table DDL doesn't include any keys as well.
2. When new table is being created

[2021-11-11 11:32] uslss commented on #14531
duplicates #10330

[2021-11-11 11:32] #14531 closed, assigned to nobody

[2021-11-11 11:51] Matvey16 commented on #14519
Verified

[2021-11-11 11:51] #14519 closed, assigned to serge-rider

[2021-11-11 14:13] kseniiaguzeeva opened #14533 "The SQL Editor is opened for a default schema from the Data Editor"
#### System information:
- DBeaver version 21.2.5 EA

#### Steps to reproduce, if exist:
1. Set a default schema for a database
2. Open a table from a non-default schema in the Data Editor
3. Place focus in the Data Editor and open the SQL Editor

**Expected**: the schema for the current table is selected in the SQL Editor top toolbar
**Actual result**: the top toolbar shows the default schema in

[2021-11-11 14:52] jetzerb commented on #1555
Still in Version 21.2.4.202111011413

I'll add that running each of these statements, including the `rollback`, _increments_ the transaction count _in the UI_.  The _actual_ transaction count within the DB server only increments once.  This is on MSSQL.

#### Select Statement Increments Transaction Count:
An illustration of the OP's point, DBeaver increments the transaction count when I issue a `s

[2021-11-11 14:56] AnrDaemon commented on #13414
Closed by timeout, as I can see. Thanks for the pointer.

[2021-11-11 15:15] rajeevmenon11 commented on #14429
@jeff-bowles could you or someone please provide an ETA on this because our DB2 team needs to know and they're asking for updates

[2021-11-11 15:24] #13414 closed, assigned to nobody

[2021-11-11 15:27] flambchap opened #14534 "The bulk load checkbox can be checked and disabled when target container doesn't support such option"
#### System information:
- Operating system (distribution) and version Win 11
- DBeaver version 21.2.5 UE devel
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
1. Export data to `PostgreSQL` using the _bulk load_ optio

[2021-11-11 15:56] DariaMarkaryan opened #14537 "Export in table "Only selected columns" has wrong mapping"
#### System information:
- Win10
- DBeaver CE 21.2.5

#### Connection specification:
- Not specific

#### Describe the problem you're observing:
Because of all columns are created if you check "only selected columns"

#### Steps to reproduce, if exist:
1. Create table with two columns: the first is varchar and the second is Date type.
2. insert data in row
![image](https://user-images.githubuserco

[2021-11-11 18:36] keithschaller79 opened #14540 "Working with Date Datatypes"
This is likely closer to an enhancement than bug, but when I open Preferences and go to Data Formats and update the Date field format to yyyy-MM-dd HH:mi:ss the time is always truncated to 00:00:00 in the Results panel.

Is there a way I can see a JDBC date datatype as a JDBC timestamp in DBeaver? Is there no interpretation from Date to Timestamp (SQL 91 to SQL 93)?
I have to use another tool like

[2021-11-11 21:08] LonwoLonwo commented on #14107
Yep, I caught it.

![2021-11-12 00_02_33-DBeaver Ultimate 21 2 5 - lessons](https://user-images.githubusercontent.com/45152336/141368856-5cd7a5fc-7e04-4ae9-864c-6c2ff808f42c.png)

And I can say, that problem is with from the driver side. You can see on the image one database read with 2 driver versions.

Now we will try to understand if we can fix it on our side.

[2021-11-11 21:56] canercanbaz commented on #14107
Hmm, it’s great to hear that you found it out. Good luck!

[2021-11-12 01:54] Bkingkam commented on #14525
[image: image.png]
as picture 'yan222' procedure has displayed many rows
Thank you so much for your responsed

On Thu, Nov 11, 2021 at 3:41 PM Dziyana ***@***.***> wrote:

[2021-11-12 06:30] LonwoLonwo commented on #14517
Fixed in DBeaver 21.3.0

[2021-11-12 07:18] uslss opened #14542 "NPE appears when the incorrect parameter is used in the command line"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.5

#### Describe the problem you're observing:
NPE appears when the incorrect parameter is used in the command line.
#### Steps to reproduce, if exist:
1. Try to execute dbeaver-cli.exe -closetabs instead of -closeTabs
#### Include any warning/errors/backtraces from the logs
[code]

[2021-11-12 07:23] LonwoLonwo commented on #11484
Implemented in DBeaver 21.3.0.

Now Dbeaver will try to find open data viewers with filters or saved tables filters and then add new search constraints for the table.

![iXhtZoZ2aM](https://user-images.githubusercontent.com/45152336/141426282-79b5f8c3-39e7-4823-8c25-79bb2606e8a4.gif)

[2021-11-12 07:33] LonwoLonwo commented on #13410
This feature for PostgreSQL has added some time ago: https://github.com/dbeaver/dbeaver/issues/6383
with the comment:

So it's not a bug.

But we understand that this situation can be confusing sometimes.
For now, the problem is in constraint cache reading. It's not cheap to read it on the table column reading step.
We need to find a better solution for this problem in the next releases.

[2021-11-12 07:34] s0me0ther opened #14543 "[Arch] Darkest Dark Theme dependency problem"
#### System information:
- Operating system (distribution) and version: Arch Linux (latest) with XFCE, Arc-Dark Theme
- DBeaver version: 21.2.4.202111052346 [https://archlinux.org/packages/community/x86_64/dbeaver/]

#### Describe the problem you're observing:
dbeaver can currently only be used very limited, because the default theme does not harmonize with the os dark theme.
Tabs are very hard to

[2021-11-12 07:40] #13345 closed, assigned to Matvey16

[2021-11-12 07:59] uslss commented on #6545
implemented in #13545

[2021-11-12 07:59] #6545 closed

[2021-11-12 08:11] LonwoLonwo opened #14544 "[PostgreSQL] Read constraints with the columns."
As continue of this ticket: https://github.com/dbeaver/dbeaver/issues/13410

We need to find a solution to the expensive constraints reading on the step table columns reading.
It will help to place the unique key icon properly.

Maybe we can add a special setting in the PG connection settings for that.

[2021-11-12 08:12] LonwoLonwo commented on #13410
Related issue created: https://github.com/dbeaver/dbeaver/issues/14544

This ticket will be closed.

[2021-11-12 08:12] #13410 closed, assigned to LonwoLonwo

[2021-11-12 09:48] bentosming commented on #8204
I am having similar issues with dbeaver 3.7.6 and Windows 10 enterprise. (I cannot upgrade the dbeaver version).

Interestingly, I connect to several databases (oracle mostly), all of them need to jump through the same tunnel. Only one connection does not work. After some debugging with a network specialist, he believes that dbeaver constructs the tunnel, but it fails to use it and attempts the co

[2021-11-12 09:51] jammmmin2 commented on #14287
@LonwoLonwo @uslss
I am using SQL developter, and an error occurs while trying to create a DB clude user constructor.
I proceeded in the same way as other team members, and I am not alone.
I checked the username, PW, and zip file many times and it is definitely correct. But the test fails because 'Remoto host teminate the handshake' occurs.

what is mean ''Remoto host teminate the handshake" ? Or

[2021-11-12 11:10] db2zosuser opened #14545 "Query result set column filter on numeric values"
Looks like query result set column filter on numeric values behavior did change between V21.0.0 and V21.1.2.

Up until V21.0.0 column filter on numeric values did show **exact match** (=)
https://user-images.githubusercontent.com/61581747/141457451-9a54e1f2-75ac-4d75-913e-659dfcaa3d1b.mp4

In V21.1.2 and also most recent version V21.2.4 filter does work as greater than (>)
https://user-images.gith

[2021-11-12 11:36] lucianmoldovanu opened #14546 "Does DBeaver support vertical results tabs?"
**Is your feature request related to a problem? Please describe.**
Sometimes procedures return extensive sets of results (i.e. 20 result tables) with specific output names. These are currently laid out in horizontal tabs, with fixed widths and no tooltip information (there is a tooltip but it displays the entire original query instead of the result object name).

**Describe the solution you'd like

[2021-11-12 12:17] LonwoLonwo commented on #14287
So... The problem appears in SQL developer too?
Maybe you can make a video of the issue for us?
Also, the [log file](https://github.com/dbeaver/dbeaver/wiki/Log-files) will be very helpful!

[2021-11-12 12:26] LonwoLonwo commented on #14542
Fixed.

[2021-11-12 13:40] flambchap commented on #5564
The issue is present anywhere where the navigator tree with checkboxes is used. All of those issues can be fixed in one blow, which is what we're going to do here.

https://github.com/dbeaver/dbeaver/issues/8969

The same issue in schema compare:
![image](https://user-images.githubusercontent.com/26031301/141476024-64f705c7-2297-4854-ad37-7a1a75c3e276.png)
![image](https://user-images.githubuserco

[2021-11-12 13:42] flambchap commented on #8969
Duplicates #5564

[2021-11-12 13:42] #8969 closed

[2021-11-12 13:56] Matvey16 commented on #13290
Same problem with export to Hive

[2021-11-12 14:06] Matvey16 commented on #14510
@olivier-novalend Can you describe steps to reproduce it? It's installing ok for me.

[2021-11-12 14:52] flambchap commented on #5564
The first and obvious idea is to use `ContainerCheckedTreeViewer` as a `TreeViewer` implementation in the `DatabaseNavigatorTree`. It works fine until you check a node which children aren't loaded yet. When you expand this node and wait for children to load, its children aren't checked.

[2021-11-12 16:35] serge-rider commented on #5704
It still happens in some corporate environments.

[2021-11-12 16:48] serge-rider commented on #5704
https://github.com/aws/aws-sdk-java/issues/1757

[2021-11-13 01:06] jammmmin2 commented on #14287
@LonwoLonwo Thanks, I'll try! I hope you get good results.

[2021-11-13 09:11] kseniiaguzeeva opened #14550 "Table index cannot be created via UI"
#### System information:
- DBeaver version 21.2.5 EA

#### Connection specification:
- Database name and version Teradata

#### Steps to reproduce, if exist:
Open Table indexes tab and create an index (DBeaver uses query like `CREATE INDEX test_fk_c_foreign_IDX ON TESTDB.test_fk (c_foreign,id);`)

**Expected**: the index is created
**Actual result:** the index cannot be created and the SQL error a

[2021-11-13 18:50] tcampbPPU opened #14551 "Unable to Upgrade to Latest Version with APT on Ubuntu 20.10"
#### System information:
- Operating system (distribution) and version: **Ubuntu 20.10 x86_64 5.11.0-7620-generic**
- DBeaver version: **21.0.2**
- Additional extensions

#### Describe the problem you're observing:
Each time I open DBeaver I get prompted to install the latest version (at time is `21.2.4`) but running
[code]
Gives me the following message:
[code]
So my issue is I cannot upgrade to

[2021-11-13 18:51] tcampbPPU commented on #14551
Creating a new issue since [#12978](https://github.com/dbeaver/dbeaver/issues/12978) was not receiving any more feedback

[2021-11-14 15:05] #14345 closed, assigned to nobody

[2021-11-14 20:58] Logifire opened #14553 "Transaction mode for scripts"
I would agree on an option that would work like the described scenario below.

Based on the comment thread from the original post, I opened a new feature request issue.

Quote:

I'd like to re-open this topic. For me the behavior is like Petr Vanek suggests. For example:

1. I make a brand new connection to a PostgreSQL server.
2. I execute "begin;"
Expected: A transaction is started.
Actual: A tr

[2021-11-15 04:27] phillip-haydon commented on #14314
I just upgraded to the latest version (21.2.5.202111141807)

[code]

Can no longer see postgresql enums in the output.

![image](https://user-images.githubusercontent.com/895629/141722383-4d6529e9-67c7-43c3-94f3-820208c0311d.png)

Reproduced it by creating new enum, table with id / name, insert some records, select it back out, get the above error.

[2021-11-15 06:14] Matvey16 commented on #14039
@appleoddity Thank you for the investigation. It is indeed a bug, although it is reproducible only in Community version. You don't need to open a separate issue, we will work on that in scope of this issue and your information will be very helpful.

[2021-11-15 06:26] Matvey16 commented on #14471
@wynandcoetzer Thank you for the report. We will work on that.

Reproducible only on MacOS

[2021-11-15 06:38] Matvey16 commented on #13689
@LonwoLonwo Reproducible in PostgreSQL

[2021-11-15 06:44] Matvey16 commented on #12559
@plotn I see. The refresh button is used to read the metadata of the database if it was changed (for example DDL was executed in SQL editor). The button you are looking for is `Invalidate/reconnect` or in russian version `Проверить соединение`. It is used to invalidate reconnection after network changes or session close.

![3cywczqyQE](https://user-images.githubusercontent.com/82543000/141734715-f

[2021-11-15 07:26] Matvey16 commented on #14429
@rajeevmenon11 Could you please try changing the driver to an older version (4.25.1301) and see if the behavior will change

It seems to be DB2 specific behavior known from #492 there is a chance that it can't be fixed

[2021-11-15 07:31] DariaMarkaryan opened #14554 "MariaDB: wrong MySQL Binaries client home path"
#### System information:
- Win10
- DBeaver CE 21.2.5

#### Connection specification:
- MariaDB (Driver version 2.7.1)

#### Describe the problem you're observing:
When you try to create MariaDB dump you can get error "Utility 'mysqldump.exe' not found in client home" because of the wrong MySQL Binaries home path. It can be important that I downloaded DBeaver zip archive and unpacked it to the Down

[2021-11-15 07:56] DariaMarkaryan opened #14555 "MariaDB: can't find native client in dump task"
#### System information:
- Win10
- DBeaver CE 21.2.5
-
#### Connection specification:
- MariaDB (Driver version 2.7.1)

#### Describe the problem you're observing:
When creating a task for Maria dump, the native client cannot be found

#### Include any warning/errors/backtraces from the logs
![image](https://user-images.githubusercontent.com/43252954/141743225-ee7f1cf9-13db-4b7a-98ef-2e364cfac352.

[2021-11-15 07:58] DariaMarkaryan opened #14556 "MariaDB: NPE when creating restore task"
#### System information:
- Win10
- DBeaver CE 21.2.5

#### Connection specification:
- MariaDB (Driver version 2.7.1)

#### Describe the problem you're observing:
Null Pointer Exception is thrown when creating restore db task

#### Include any warning/errors/backtraces from the logs
![image](https://user-images.githubusercontent.com/43252954/141743628-4033f6b9-ec76-4431-93b6-0a20313d8bc3.png)

.lo

[2021-11-15 08:00] DariaMarkaryan commented on #14556
Can be related to #14554 #14555

[2021-11-15 08:09] plotn commented on #12559
Ok, I'll check it. But the situation is still incorrect - the "orphaned" windows tries to reconnect, successfully reconnect, but cannot run query saing "the connection was closed"

[2021-11-15 08:15] uslss commented on #14542
verified

[2021-11-15 08:15] #14542 closed, assigned to uslss, LonwoLonwo

[2021-11-15 08:19] Matvey16 commented on #14394
@bobf32 We are trying to investigate this issue further to maybe fix it. Could you please try to execute this queries and test if it will return incorrect date:
`SELECT to_date('2021-06-01 19:00:00');`
`SELECT to_date('2021-09-01 19:00:00');`
`SELECT '2021-06-01'::date`
`SELECT '2021-09-01'::date`

 without Dbeaver date/time formatting

Also it would be very useful to know your database and driver

[2021-11-15 08:22] uslss commented on #11484
verified

[2021-11-15 08:22] #11484 closed, assigned to uslss, LonwoLonwo

[2021-11-15 08:42] uslss commented on #14517
verified

[2021-11-15 08:42] #14517 closed, assigned to uslss, LonwoLonwo

[2021-11-15 08:48] DariaMarkaryan opened #14557 "Cockroach: rowid column created in export into table"
#### System information:
- Win10
- DBeaver CE 21.2.5
- Additional extensions

#### Connection specification:
- Cockroach 42.2.20

#### Describe the problem you're observing:
When you perform export into table rowid column is exported too. But in the new table also creates row_id, so data transfer falls with errors.
The solution to the problem may be to exclude the rowid column from the export by d

[2021-11-15 08:49] uslss commented on #14248
@tabdoelhafiezkhan unfortunately, still cannot reproduce.
![image](https://user-images.githubusercontent.com/31996417/141750732-f33ee17b-3d2b-4ef9-aa2a-f405102be88a.png)
could you provide tables ddl to reproduce the issue?

[2021-11-15 08:51] #14256 closed, assigned to nobody

[2021-11-15 08:55] uslss commented on #14306
there is no update on issue. If it is still actual - feel free to reopen it with additional info

[2021-11-15 08:55] #14306 closed, assigned to nobody

[2021-11-15 08:56] uslss commented on #14299
@flykarry unfortunately, still cannot reproduce. Is it still actual?

[2021-11-15 08:58] uslss commented on #13042
there is no update on the issue for a long time. If it is still actual - feel free to reopen it

[2021-11-15 08:58] #13042 closed, assigned to nobody

[2021-11-15 08:58] #14344 closed, assigned to nobody

[2021-11-15 08:59] uslss commented on #14131
there is no update on the issue for a long time. If it is still actual - feel free to reopen it

[2021-11-15 08:59] #14131 closed, assigned to nobody

[2021-11-15 09:00] uslss commented on #14160
is it still actual against the recent version?

[2021-11-15 09:02] uslss commented on #14158
there is no update on the issue for a long time. If it is still actual for you - feel free to reopen it

[2021-11-15 09:02] #14158 closed, assigned to nobody

[2021-11-15 09:06] #14393 closed, assigned to nobody

[2021-11-15 09:13] mikkk3l commented on #13042
Thanks! It is solved in version 21.2.4. Best regards.

[2021-11-15 09:23] AndrewGabelliTR commented on #14394
@Matvey16  The first and third queries in your list both return 2021-05-31. The second and fourth return 2021-08-31.

![2021-11-15 09_17_09-Clipboard](https://user-images.githubusercontent.com/60180393/141755078-f827eac2-92fe-4641-b799-460ae2cda471.png)

[2021-11-15 09:32] bobf32 commented on #14394
@Matvey16 The first and third of your queries return 2021-05-31. The second and fourth, 2021-08-31.

![2021-11-15 09_28_11-DBeaver 21 2 3 - _Sandpit_ Script-1577](https://user-images.githubusercontent.com/6544564/141756819-f1033d96-e90e-4805-8286-99f4833e75e1.png)
![2021-11-15 09_28_23-DBeaver 21 2 3 - _Sandpit_ Script-1577](https://user-images.githubusercontent.com/6544564/141756826-17095edc-47ec

[2021-11-15 10:14] olivier-novalend commented on #14510
In Eclipse, I go to Help > Eclipse Marketplace. In Find field, I type "dbeaver" then Enter.
I click on the "Install" button for DBeaver 21.2.5, then click "Confirm" without changing any checked param (only DBeaver IDE is checked).
The installer downloads the packages an dependencies.
I then have the following error "Cannot complete the provisioning operation.  Please change your selection and try

[2021-11-15 10:16] Skydiveroid commented on #12583
Perhaps we need to save information about DBeaver packaging in dbeaver.ini file

[2021-11-15 11:19] Matvey16 commented on #14510
@olivier-novalend Could you please open `Help -> About Eclipse IDE -> Installation details` and on configuration tab copy everything under `*** System properties:` and before `*** System environment variables:`

[2021-11-15 11:38] olivier-novalend commented on #14510
Sure,
<details>
*** System properties:
applicationXMI=org.eclipse.ui.workbench/LegacyIDE.e4xmi
awt.toolkit=sun.awt.windows.WToolkit
ds.delayed.keepInstances=true
ds.delayed.keepInstances.default=true
eclipse.application=org.eclipse.ui.ide.workbench
eclipse.buildId=4.16.0.I20200604-0540
eclipse.commands=-os
win32
-ws
win32
-arch
x86_64
-showsplash
C:\Program Files\Eclipse\\plugins\org.eclipse.epp.p

[2021-11-15 11:58] uslss commented on #13066
Cassandra - verified

[2021-11-15 12:11] rajeevmenon11 commented on #14429
Okay, let me check with our DB2 Team

[2021-11-15 12:22] serge-rider opened #14561 "Localize ChangePassword dialog"

[2021-11-15 12:46] Destrolaric commented on #13575
@FedorovaDarya I think I need some ideas about description text

[2021-11-15 13:06] Matvey16 opened #14563 "Enabling "Show all databases" hides the template database even if it configured as default"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.5

#### Connection specification:
- Database name and version Greenplum Database 4.3.7.1 build 1
- Driver name PostgreSQL JDBC Driver 42.2.20

#### Describe the problem you're observing:
If a template database is configured as default it will be the only visible db in navigator. Enabling "Show all d

[2021-11-15 13:50] Matvey16 commented on #14340
@ghy-forever Does your dba forbid the permissions to only pg_tables view or the whole pg_catalog schema?

[2021-11-15 14:17] serge-rider commented on #5704
Perhaps the problem was caused by caching proxy. It may replace Athena host certificate with own certificate. In that case it may be required to add proxy certificate into DBeaver Java keystore. Or to use local system Java.

[2021-11-15 14:19] Matvey16 opened #14564 "[Greenplum] Permissions can't be shown"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.5

#### Connection specification:
- Database name and version Greenplum Database 6.16.0
- Driver name PostgreSQL JDBC Driver 42.2.20

#### Steps to reproduce, if exist:
1. Open a role from navigator
2. Open Permissions tab

**Expected:** Permissions for schemas are shown
**Actual:** All permissions

[2021-11-15 14:48] bender270 opened #14565 "Backward History fails on foreign keys"
#### System information:
- Windows 10 x64 pro
- DBeaver 21.2.5

#### Connection specification:
- SQL Server Database
- Microsoft JDBC Driver for SQL Server

When jump to a foreign key record

![image 1](https://user-images.githubusercontent.com/7341240/141800320-b92d35ed-1c87-42bd-a20f-291f98668fc3.png)

Backward history does not work. either shortcut (ALT+left) or menu (it seems disabled)

![imag

[2021-11-15 15:39] ridicolos opened #14566 ""Event triggers"-Tab for PostgreSQL"
There is no tab in DBeaver to show event-triggers of a PostgreSQL-Database.

It would be nice if you could check your event-triggers of a PostgreSQL-Database inside the DBeaver-UI.

[2021-11-15 16:05] LonwoLonwo commented on #14566
pg_catalog.pg_event_trigger can be helpful in this case

[2021-11-15 16:05] LonwoLonwo commented on #14566
@ridicolos
Thanks for the idea!

[2021-11-15 17:26] Nope7 opened #14567 "Table name truncated on "SQL Editor / Tables Tab List""
#### System information:
- Operating system (distribution) and version: W10
- DBeaver version:   21.2.5.202111141807
- Additional extensions: Office Support

#### Connection specification:
- Database name and version: DB2 iSeries
- Driver name: DB2 iSeries/AS400
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Table names are truncated In the main

[2021-11-15 17:36] ivanlonel opened #14568 "Virtual foreign keys from individual composite type fields (Postgres)"
**Is your feature request related to a problem? Please describe.**
When using composite types in Postgres, sometimes I want to create a virtual foreign key from a single field inside a composite column, referencing a (simple) column from another table. That way, DBeaver would be able to show the possible values for that field in the Value panel when editing it in the data editor.

**Describe the s

[2021-11-15 19:18] echan888 commented on #12339
Hi, any chance this can be resolved for Synapse soon? Thanks.

Sent from my iPhone

On Aug 3, 2021, at 7:09 AM, Matvey16 ***@***.***> wrote:

﻿

So it appears the problem is with this query

SELECT ss.*, tt.type_table_object_id FROM Test.sys.types ss
LEFT JOIN Test.sys.table_types tt ON
ss.name = tt.name WHERE ss.is_user_defined = 1

Which is run because of Azure SQL Server driver. We need to look

[2021-11-15 21:46] match-gabeflores commented on #14507
@appleoddity - yes, this was a copy of the RS driver. I'll have to try using the original driver when I get some free time.

@Matvey16 - I assume this will get fixed when #14039 is resolved?

[2021-11-16 01:43] ghy-forever commented on #14340
@Matvey16 I've tried other pg_catalog's talbles, most of them could be accessed in this database, so I think only pg_tables is forbidden

[2021-11-16 02:41] ShadelessFox commented on #14567
Hello @Nope7,

This is a problem of Classic theme, please see #14293.

Closed as duplicate

[2021-11-16 02:41] #14567 closed, assigned to nobody

[2021-11-16 04:37] LonwoLonwo commented on #12339
Hello @echan888
Unfortunately, we do not have a test environment for this task.
And for this moment I do not understand how to resolve it, because usually with SQLServer-based databases we can check the driver info to add some conditions in our code. But as you said, you use Azure SQL Server driver, and Azure supports table_types, so I can't exclude it just for Azure.

Maybe you can tell me more a

[2021-11-16 05:59] echan888 commented on #12339
Hello Anastasiya,

It appears that sys.table_types is supported only for SQL Server and Azure SQL Database, not for Azure Synapse.

See:
https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/sys-table-types-transact-sql?view=sql-server-ver15
[https://docs.microsoft.com/en-us/media/logos/logo-ms-social.png]<https://docs.microsoft.com/en-us/sql/relational-databases/system-ca

[2021-11-16 06:50] Matvey16 commented on #14394
Thank you.
It seems to actually be a problem with snowflake JDBC. Temporary workaround is to either use our date formatting or to downgrade the driver version.

Issues on snowflake repo:
https://github.com/snowflakedb/snowflake-jdbc/issues/513
https://github.com/snowflakedb/snowflake-jdbc/issues/477
https://github.com/snowflakedb/snowflake-jdbc/issues/457

[2021-11-16 07:01] Matvey16 commented on #14510
@olivier-novalend  I see that you are using Java 8. It probably is the reason that leads to an error. DBeaver standalone comes with needed JRE packaged so it won't face that problem. But to install it for Eclipse you need to try using Java 11

[2021-11-16 07:06] Matvey16 commented on #14507
@match-gabeflores Probably yes, If you were using the copy of redshift driver the reason for this bug may be the same. We will investigate both issues together

[2021-11-16 07:18] Fang3s opened #14572 "JDBC template URL cannot work if containing variables for Custom Connection Type"
#### System information:
- Windows 10.0.18362.900
- DBeaver 21.2.5.202111141807 (Release date: 2021-11-15)
- Additional extensions
  C:\Users\ssfang\AppData\Roaming\DBeaverData\drivers\maven\maven-central\com.oracle.database.jdbc\ojdbc8-12.2.0.1.jar

#### Connection specification:
- Database name and version: Oracle Oracle Database 19c Enterprise Edition Release 19.0.0.0.0 - Production
- Driver na

[2021-11-16 07:59] Matvey16 commented on #9326
@dbajaj1 Can you test this on the latest 21.2.5. I can't reproduce this anymore.

[2021-11-16 08:45] #14348 closed, assigned to nobody

[2021-11-16 08:48] uslss commented on #14336
please, provide steps to reproduce with screenshots or with some sample date that could help us to reproduce an issue.

[2021-11-16 08:50] #14294 closed, assigned to nobody

[2021-11-16 08:54] uslss commented on #14285
thanks for the report and clarification

[2021-11-16 08:54] olivier-novalend commented on #14510
So instead of using the default JRE which is version 8 (https://www.java.com/fr/download/help/windows_manual_download.html), I’ll try and install Java JDK 17 (https://www.oracle.com/java/technologies/downloads/), and see if it fixes something.
I’ll let you know.

[2021-11-16 09:00] uslss commented on #10091
already implemented

[2021-11-16 09:00] #10091 closed

[2021-11-16 09:02] uslss commented on #9931
will be implemented in #14499

[2021-11-16 09:02] #9931 closed

[2021-11-16 09:19] MAH69IK commented on #10353
Hi! I got some error on Linux with DBeaver 21.2.5 CE and ClickHouse with [IPv4](https://clickhouse.com/docs/en/sql-reference/data-types/domains/ipv4/) data types. When I try delete row I receive `Object parameter [<my_IP>] binding not supported`. Can you fix please?

[2021-11-16 09:24] olivier-novalend commented on #14510
Install complete with Java’s last JDK. Thank you

[2021-11-16 09:24] #14510 closed, assigned to nobody

[2021-11-16 09:45] DariaMarkaryan opened #14575 "CLI parameter to disable saving export formatting"
We need to add parameter to disable saving settings in data transfer

[2021-11-16 09:58] LonwoLonwo commented on #10353
Hello @MAH69IK

You can create a new ticket for this. Please add to the ticket table DDL and data samples for investigation.

[2021-11-16 10:15] Matvey16 commented on #14340
@ghy-forever I was not able to reproduce it, restricting access to pg_tables still don't forbid the connection (because that table is not used in initial metadata read)
I have to ask you to check your user permissions on these tables
[code]

Also if it is possible I would like to know how did your dba disable sequence scan on catalog. This is the first time I saw this error and can't find anything

[2021-11-16 10:27] Matvey16 commented on #13576
@MikePryadko Are you sure you were able to just execute the .deb file and click an update button earlier. I can't remember if it was ever possible and everyone on our team who uses linux don't remember it either. I also tried installing old version 21.0.0 and update it with .deb file of 21.0.1 version, but it still had only remove.
Can you update any other app like this? Maybe this behavior was ch

[2021-11-16 10:46] MAH69IK opened #14576 "Error "Object parameter [...] binding not supported" with IPv4 data type in ClickHouse"
#### System information:
- Linux Elementary
- DBeaver version 21.2.5

#### Connection specification:
- Driver name: ClickHouse
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
When try to delete row with IPv4 I receive error `Object parameter [<IP>] binding not supported`.

#### Steps to reproduce, if exist:
1. Create table: `CREATE TABLE dbeaver_

[2021-11-16 11:15] ghy-forever commented on #14340
@Matvey16 I do not have user permission on these three tables
pg_attribute
pg_class
pg_type

I'm sorry about that I can't connect to my dba, so I don't know what did he or she do

[2021-11-16 11:36] Matvey16 commented on #13817
@BERRELION  Can't reproduce anymore. Can you check it against 21.2.5?

[2021-11-16 11:37] Matvey16 commented on #14340
@ghy-forever Ok, we will see if something can be done with those tables, thank you.

[2021-11-16 11:43] ghy-forever commented on #14340
@Matvey16 thank you, but I don't know why pgadmin and navicat could login this database, they don't use these permissions？

[2021-11-16 12:26] uslss commented on #13575
Probably, non-select should be written as non-SELECT, sql executions - SQL executions
![image](https://user-images.githubusercontent.com/31996417/141985018-2470a282-0dc2-497c-97d9-83c6183e97b3.png)

[2021-11-16 12:28] uslss commented on #14576
thanks for the report

[2021-11-16 12:46] tabdoelhafiezkhan commented on #14248
Hello Dziyana,

See attached screencapture of the compare steps I executed.
As you can see the compare report does not show any differences.

These are the tables created:

-- In PostgreSQL 12

CREATE TABLE public.tab1 (
col1 timestamp NULL
);

-- In PostgreSQL 11

CREATE TABLE public.tab1 (
col1 date NULL
);

This is the latest DBeaver Version 21.2.5.202111141807

[image: image.png]

regards,
Tim

[2021-11-16 12:57] uslss commented on #4750
implemented in #11533

[2021-11-16 12:57] #4750 closed

[2021-11-16 13:05] uslss commented on #7261
will be fixed in #12335

[2021-11-16 13:05] #7261 closed

[2021-11-16 13:12] mackers2 opened #14578 "Number formatting: fractional digits not working for IRIS"
#### System information:
- Windows 10 Pro 19043.1348
- DBeaver version 21.2.5
- Additional extensions

#### Connection specification:
- IRIS
- Driver name .jdbc.IRISDriver or the dBeaver ODBC driver for ODBC connection
- Do you use tunnels or proxies (SSH, SOCKS, etc)?   No

#### Describe the problem you're observing:
Same as issue reported in https://github.com/dbeaver/dbeaver/issues/13309 for Po

[2021-11-16 13:21] SylwesterZarebski commented on #7261
Thanks a lot!

[2021-11-16 13:42] cristianodri commented on #4750
#11533 does not work for my request https://github.com/dbeaver/dbeaver/issues/4750#issue-388689202

[2021-11-16 13:50] yonisade opened #14579 "Cancel current query shortcut"
It would be very helpful and productive to have a keyboard shortcut for cancelling a current running query.

[2021-11-16 13:54] uslss commented on #4750
@Barosky works for me (picture below, query ends up with an error due to absence of the mentioned tables, but the variable is set and variable value was copied to query)
![image](https://user-images.githubusercontent.com/31996417/141997803-4031b3c3-253c-441f-a39c-bfc3d18c2d5a.png)
in case, the feature doesn't work for you, please create a new issue with steps to reproduce.

[2021-11-16 13:56] Matvey16 commented on #14108
Verified

[2021-11-16 13:56] #14108 closed, assigned to Destrolaric, Matvey16

[2021-11-16 14:05] cristianodri commented on #4750
@uslss this one does not work:

@set xx = INSERT INTO test (valore) VALUES ('test') RETURNING id   --valore is a varchar field
SELECT :xx
xx is not set: I think the problem is the string value.

also this one does not work for me:
@set xx = INSERT INTO test (numerico) VALUES (1) RETURNING id   --numerico is an int field
SELECT :xx
in this last case, xx is set, but when I execute SELECT :xx I get t

[2021-11-16 14:05] #8896 closed

[2021-11-16 14:34] LonwoLonwo commented on #11704
Fixed in DBeaver 21.3.0
Works for update/delete statements in the tables without keys and with JSON or XML columns.

[2021-11-16 14:35] LonwoLonwo commented on #12710
Fixed in the scope of: https://github.com/dbeaver/dbeaver/issues/11704

[2021-11-16 15:06] renezito commented on #14416
Hi @Matvey16 , thanks fo ur answer.  As u can see, in early versions the comments are displayed Ok (see left side of the image), but in this last version it doesn't happen.  Today I update dbeaver to 21.2.5 and has the same error and the driver is the same:
![image](https://user-images.githubusercontent.com/37661233/142010216-0a2b9e1b-2bbf-4b6e-b7b4-9adc43619bed.png)

[2021-11-16 15:45] der-eismann commented on #13171
Would be awesome if someone could take care of this, a snap is just so much easier to install and use.
I have the same issue on Fedora 35 and found this additional forum post:
https://forum.snapcraft.io/t/snapped-app-not-loading-fonts-on-fedora-and-arch/12484/106

[2021-11-16 16:43] dbajaj1 commented on #9326
@Matvey16 I can confirm that I am still able to reproduce this behavior. Would you like me to provide another video? Or is there any other info I can provide that will help reproduce this bug?

[2021-11-16 17:13] rajeevmenon11 commented on #14441
@LonwoLonwo
Hello,
Shall we have an update on this?

[2021-11-16 17:59] ecamargo81 commented on #1186
Hi, this is an old thread, but still occurring in new versions of dbeaver.

I'm using Version 21.2.3.202110151816

[2021-11-16 18:34] uslss commented on #1186
@ecamargo81 could you create a new issue with it full description?
thanks in advance

[2021-11-16 18:49] uslss commented on #9393
will be fixed in scope of #9414

[2021-11-16 18:49] #9393 closed

[2021-11-16 19:57] ecamargo81 commented on #1186
Description it's exactly the same that this post.
_____________________________________________________
  Éderson F. de A. Camargo

  MBA - TI Administration /  Bsc.Computer Science
  Porto Alegre - RS - Brazil
 ____________________________________________________

Em ter., 16 de nov. de 2021 às 15:34, Dziyana ***@***.***>
escreveu:

[2021-11-16 20:21] bobf32 commented on #14394
Thanks @Matvey16. Have rolled back to an older jdbc version.

[2021-11-16 20:21] #14394 closed, assigned to nobody

[2021-11-16 21:03] 70milan commented on #14005
Issue still persists on dbeaver 21.2.5

[2021-11-17 00:33] Landwand opened #14582 "<0x200b> (Unicode zero width space) in SQL editor cannot be seen in UI but results in syntax error"
#### System information:
- Operating system (distribution) and version
- Catalina 10.15.7 (19H1519)
- DBeaver version Version 21.2.4.202111011351
- Additional extensions: none

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

Copy-pasted code throws an error when trying to run i

[2021-11-17 02:16] altsalt commented on #10845
Just ran into this issue and the advice from the linked issue did resolve it. Basically, the problem is a mission filesystem permission request. The suggestion there is to install Flatseal and add the filepath. However, I suspect this can be added to the flatpak itself.

[2021-11-17 03:20] erlangparasu commented on #10553
any update?

[2021-11-17 03:40] ejose19 commented on #1007
I stumbled on this when using data editor for adding rows to a view and calculated fields weren't shown after clicking save. @serge-rider this could be simplified by adding another option to "Refresh result set" (Refresh after save), new/edited row doesn't need to be located, just triggering a refresh is enough (and the user can adjust sorting directly in the query used)

[2021-11-17 04:25] ryanc-me commented on #11726
+1 to this. It would be great to support the Win32-OpenSSH implementation.

FYI, there is an open issue at `jsch-agent-proxy` ([#34](https://github.com/ymnk/jsch-agent-proxy/issues/34)), including some ideas on how to implement. Maybe the Dbeaver devs could take a look?

[2021-11-17 06:27] Matvey16 commented on #9326
@dbajaj1 Yes, I would like to know some more details. Can this be reproduced if you have only 2 scripts open and they are associated with the same data source? If it happens only with different data sources, what are the databases that it is reproduced on?
Will this bug reproduce if you start DBeaver and focus is on the leftmost tab? If you disconnect from the connection in already running Dbeaver

[2021-11-17 06:40] dbajaj1 commented on #9326
@Matvey16
Okay, so in order of the requests:
Can this be reproduced if you have only 2 scripts open and they are associated with the same data source? Yes, this still happens.
If it happens only with different data sources, what are the databases that it is reproduced on? The two databases I use are PostGres and Redshift
Will this bug reproduce if you start DBeaver and focus is on the leftmost tab

[2021-11-17 06:51] serge-rider commented on #14005
Perhaps it is the same issue as in #5704. You may need to add corporate certificate in Java (the one which is bundled in DBeaver).

[2021-11-17 08:16] LonwoLonwo commented on #14564
Fixed.

[2021-11-17 08:31] alikrc commented on #6131
i'm having same issue. I've non english keyboards and ctrl+/ or ctrl+shift+/  not working. This is weird and an annoying bug

[2021-11-17 09:00] uslss commented on #12710
verified

[2021-11-17 09:00] #12710 closed, assigned to uslss, LonwoLonwo

[2021-11-17 09:21] Matvey16 commented on #14340
@ghy-forever Please attach a [log](https://github.com/dbeaver/dbeaver/wiki/Log-files) file preferably right after reproducing this bug, so we can analyze the stack trace.

[2021-11-17 09:34] Matvey16 commented on #14564
Still can't read permissions, but with another error

[code]

[2021-11-17 09:37] acwuxiao opened #14585 "ER Diagram background turn white using Darkest Dark theme"
* Windows 11 21H2
* DBeaver version 21.2.5.202111141807
* DevStyle (includes Darkest Dark Theme) version 1.11.0.202105260439

Reproducible in 21.2.5, which is exactly the same as the reference below

When using Darkest Dark theme, and view ER Diagram for the first time, everything seemed fine.

But if the ER Diagram interface is out of focus, like clicking on the Database Navigator, or just click

[2021-11-17 09:59] vrkadiyala opened #14586 "Teradata Search proposals in community eidition -- taking too long time and getting stuck at loading composite cache.."
#### System information:
- Operating system (distribution) and version : MacOS Monterey
- DBeaver version : 21.2.5.202111141807
- Additional extensions

#### Connection specification:
- Database name and version: Teradata 16.20.53.38
- Driver name : Teradata JDBC drivers
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

Search proposals taking too muc

[2021-11-17 10:07] Matvey16 commented on #9326
@dbajaj1 I see that the firs time you reported this issue, you were using MacOS Catalina. Did it also occur on later versions or are you still using Catalina?

[2021-11-17 10:08] vrkadiyala commented on #14586
Once I cancel the search proposals, it is not working for any more till connection is revalidated.

[2021-11-17 10:13] uslss commented on #11704
verified

[2021-11-17 10:13] #11704 closed, assigned to uslss, LonwoLonwo

[2021-11-17 10:20] Matvey16 commented on #14416
@renezito  DB2 for I/AS400 metadata heavily depends on driver properties and what works for one database may break everything on the other. Some of the default properties were changed for this driver, so you can try to change `metadata source` property to 0, or if it doesn't help, compare the properties of the driver in different versions and modify them in the new one to match those that worked.

[2021-11-17 10:54] serge-rider commented on #12071
Done. Extensions and system variables remain on database level, the rest moved to root folders.

[2021-11-17 11:34] uslss commented on #14528
![image](https://user-images.githubusercontent.com/31996417/142193131-9d05da77-a464-437d-b475-e406683ffe2c.png)
unfortunately, cannot reproduce it.
Could you check if there is something in the[ log](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-11-17 11:41] uslss commented on #14585
thanks for the report

[2021-11-17 11:45] uslss commented on #14582
thanks for the report

[2021-11-17 11:48] majkyyx commented on #14528
Log is empty, without erros.

Which version of oracle R U using ?
pls run this:
[code]
I have access to manny version of oracle, i can recheck this on same version.

[2021-11-17 11:48] uslss commented on #14565
thanks for the report

[2021-11-17 12:05] Matvey16 commented on #14565
Probably a side effect of that ticket #13318

[2021-11-17 12:21] majkyyx commented on #14528
Yes, it's about oracle version, i tried oracle 11g and it's working (on 19 it's not working):

![image](https://user-images.githubusercontent.com/14957734/142199553-940e5152-92ba-4c5d-b5b9-241db3f41525.png)

[2021-11-17 12:22] uslss commented on #14528
thanks for the report and clarification

[2021-11-17 12:27] serge-rider commented on #14565
Fixed

[2021-11-17 12:32] majkyyx commented on #14528
|STATE|VERSION OF ORACLE|LICENCE|
|-|-|-|
| OK | Oracle Database 18c Express Edition Release 18.0.0.0.0 - Production | XE |
| BUG | Oracle Database 11g Release 11.2.0.4.0 - 64bit Production | SE |
| OK | Oracle Database 11g Express Edition Release 11.2.0.2.0 - 64bit Production | XE |
| BUG | Oracle Database 19c Enterprise Edition Release 19.0.0.0.0 - Production | EE |
|OK | Oracle Database 19c Ent

[2021-11-17 12:39] uslss commented on #14540
@keithschaller79 what driver and database do you use?

[2021-11-17 12:43] bender270 commented on #13318
Thanks.
Congratulations for the good work you do with this great software.

[2021-11-17 12:44] bender270 commented on #14565
Thanks.

Congratulations for the good work you do with this great software

[2021-11-17 12:47] uslss commented on #14545
thanks for the report

[2021-11-17 12:53] uslss commented on #14546
thanks for suggestion

[2021-11-17 13:07] dmichulke opened #14588 "CTEs with only SELECTs in postgres require COMMIT/ROLLBACK"
Executing

[code]
will be considered a transaction by dbeaver (v21.2.4) and I have to rollback/commit manually on my database (postgres 13).

Changing to smart commit mode doesn't help.

[2021-11-17 13:22] jetzerb opened #14589 "Line Numbers for Text Results"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
In the results pane, the Grid-based presentation includes line numbers.  I'd like the option to include line numbers in the Text-based presentation as well:
![image](https://user-images.githubusercontent.com/36859020/142208502-940eb7a8-8950-4526-a56c-3d924648bb1e.png)

The text-presentation

[2021-11-17 13:43] pedzed commented on #13801
Installing SSHJ worked for me (I followed the steps described in https://devimalplanet.com/how-to-dbeaver-remote-database-ssh#method-2-dbeaver-with-encrypted-openssh-private-key-file).

Is there something wrong with using SSHJ as default? If not, it would be nice to finally add it after having people bringing this issue up for at least two years.

If not, at the very minimum, the error message "`i

[2021-11-17 13:48] Matvey16 commented on #14551
@tcampbPPU Thank you for the report. There is a mistake in dbeaver.io repository that leads to this bug, we will investigate it. As a workaround you can either use [launchpad](https://launchpad.net/~serge-rider/+archive/ubuntu/dbeaver-ce) repository or manual install with .deb file from https://dbeaver.io/download/

[2021-11-17 13:49] #12978 closed, assigned to nobody

[2021-11-17 13:51] Matvey16 commented on #14543
@s0me0ther Thank you for the report, we will try to fix it in 21.3.0

[2021-11-17 13:57] Matvey16 commented on #14553
@Logifire Thank you for the suggestion.

[2021-11-17 13:57] Matvey16 commented on #14568
@ivanlonel Thank you for the suggestion

[2021-11-17 13:59] Matvey16 commented on #14572
@Fang3s Thank you for the report.

[2021-11-17 14:02] Matvey16 commented on #14578
@mackers2 Could you show me your preferences for data formatting, both global and IRIS data source?

[2021-11-17 14:03] Matvey16 commented on #14579
@yonisade Thank you for the suggestion

[2021-11-17 14:36] renezito commented on #14416
Thanks!  It worked!  I use both dbeaver (one of them in my house and other in the office), but I have never change any of these properties.
Thanks again for ur quick answer.

![image](https://user-images.githubusercontent.com/37661233/142220321-5290b05b-28c6-4eb0-abce-1bd352eaef95.png)