[2022-03-10 10:06] LonwoLonwo commented on #15788
Hello @AndrewGabelliTR

You can disable this behaviour with this setting:
Preferences -> Editors -> SQL Editor -> SQL Processing -> "Refresh active schema after SQL execution"

![2022-03-10 13_04_24-DBeaver Ultimate 22 0 0 - _SNOWFLAKE_SAMPLE_DATA_ Script-28](https://user-images.githubusercontent.com/45152336/157639129-556d2a25-7107-4d3d-a28f-30313499415f.png)

[2022-03-10 10:08] LonwoLonwo commented on #15789
Hello @bobf32

You can disable this behavior with this setting:
Preferences -> Editors -> SQL Editor -> SQL Processing -> "Refresh active schema after SQL execution"

![2022-03-10 13_04_24-DBeaver Ultimate 22 0 0 - _SNOWFLAKE_SAMPLE_DATA_ Script-28](https://user-images.githubusercontent.com/45152336/157639129-556d2a25-7107-4d3d-a28f-30313499415f.png)

[2022-03-10 10:09] AndrewGabelliTR commented on #15789
@LonwoLonwo Works perfectly, thank you.

[2022-03-10 10:10] #15789 closed, assigned to nobody

[2022-03-10 10:33] Destrolaric commented on #15784
Hi, your configuration contains following workspace path:
` /configuration/org.eclipse.ui.ide/RECENT_WORKSPACES=C\:\\Users\\Overbakl\\AppData\\Roaming\\DBeaverData\\workspace7
`
DBeaver tries to open it and fails. This, probably, can be fixed if you remove this path.

[2022-03-10 10:41] salimfadhleyhtp opened #15791 "A fresh install of DBeaver crashes moments after being launched"
#### System information:
- Windows 10
- Latest
- Additional extensions: None

#### Describe the problem you're observing:

Debeaver crashes shortly after launching.

Error dialog says:

"An error has occurred. See the log file"

#### Steps to reproduce, if exist:

Launch the app, wait for the banner to go away. Observe the crash.

#### Include any warning/errors/backtraces from the logs

[dbeaver.

[2022-03-10 10:54] k3davis opened #15793 "Possible to connect to MSSQL via AD/NTLM from non-domain computer?"
#### System information:
- Operating system (distribution) and version Win 11 Pro 21H2
- DBeaver version CE 22.0.0.202203061937
- Additional extensions none

#### Connection specification:
- Database name and version MS SQL Server 2019
- Driver name Microsoft JDBC Driver for SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:

Is it possibl

[2022-03-10 10:55] k3davis commented on #15793
btw I don't really classify this as a "bug" but none of the other categories seemed fitting either. Please relabel as necessary.

[2022-03-10 11:04] deepaksenthilkumar commented on #15784
Where to remove this path as the damage is already done?

On Thu, Mar 10, 2022 at 5:33 AM, George ***@***.***> wrote:

--
SD

[2022-03-10 11:14] Destrolaric commented on #15766
@fadzlan Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-03-10 11:28] Destrolaric commented on #15784
@deepaksenthilkumar, I think you can try to delete a `workspaces` file default locations are in this guide https://github.com/dbeaver/dbeaver/wiki/Workspace-Location

[2022-03-10 12:11] deepaksenthilkumar commented on #15784
That would lose the existing connections etc. right. Is there a set of
files we can edit to sort this?

On Thu, Mar 10, 2022 at 6:28 AM, George ***@***.***> wrote:

--
SD

[2022-03-10 12:13] alessiojorlandi opened #15794 "only blank line before @SET will make the command work"
#### System information:
- Operating system (distribution) and version: MS Windows 10 Enterprise
- DBeaver version: 21.1.3
- Additional extensions

#### Connection specification:
- Database name and version: Postgres
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NO

#### Describe the problem you're observing:
When using the @SET command to define a variable, it won't work if the

[2022-03-10 12:26] LonwoLonwo commented on #15794
Hello @alessiojorlandi

Thanks for the bug report.

Can you please test this behaviour in the newest [DBeaver version](https://dbeaver.io/download/)?

[2022-03-10 12:59] Destrolaric commented on #15784
@deepaksenthilkumar, the file can be edited, you can try to remove the previously mentioned path without deleting it.

[2022-03-10 13:20] tilmanb commented on #15793
A workaround would be to create a SQL Server Login with password on the SQL Server and map that login to the domain user in the database, then you can connect using username+password from dbeaver.
Also, if you can, please share the gymnastics you use to run SSMS as a domain user on a non-domain client.

I think integrated auth is meant to be integrated, so not configurable, because the OS is doing

[2022-03-10 13:32] tilmanb commented on #15738
I guess it's related to the check beginning at https://github.com/dbeaver/dbeaver/blob/master/plugins/org.jkiss.dbeaver.data.transfer/src/org/jkiss/dbeaver/tools/transfer/stream/importer/DataImporterCSV.java#L250

[2022-03-10 13:49] alessiojorlandi commented on #15794
Yes, with DBeaver 22.0.0 this problem seems to be fixed. I'll do some more checks but it looks ok by now.
Thanks a lot.

[2022-03-10 13:55] ewmartinez commented on #10976
Hi,
Is there any hope to have this feature? It's really important for people who work with big data structures.
Thanks

[2022-03-10 14:49] serhiikartashov opened #15795 "Can't restore dump for MySQL"
#### System information:
- Operating system - Microsoft Windows 10 Pro
- DBeaver version - DBeaver Enterprise Version 21.3.0.202112052011
- Additional extensions - no

#### Connection specification:
- Database name and version - MySQL [8.0.27]
- Driver name - MySQL Connector/J [mysql-connector-java-8.0.17 (Revision: 16a712ddb3f826a1933ab42b0039f7fb9eebc6ec)]
- Do you use tunnels or proxies (SSH, S

[2022-03-10 15:35] amillion8 opened #15797 "Cannot query unmanaged (external) data lake tables"
### Configuration:

- OS: Windows 10 Enterprise (64-bit)
- DBeaver Community Edition Version 22.0.0.202203060510
- Driver: Databricks JDBC (https://docs.microsoft.com/en-us/azure/databricks/dev-tools/dbeaver)

### Issue:

I am trying to work with Azure delta tables, and I can see both types of tables, managed and unmanaged, in the explorer tab. I can also create managed tables using DBeaver, but I

[2022-03-10 16:42] LonwoLonwo commented on #15795
Hello @serhiikartashov

Thanks for the bug report.

You can find some workarounds here: https://github.com/dbeaver/dbeaver/issues/15319

And we will investigate this issue further

[2022-03-10 16:42] #15795 closed, assigned to nobody

[2022-03-10 16:52] racic opened #15798 "Confirm 'Delete this script' in the the SQL Editor tab context menu"
#### System information:
- Operating system (distribution) and version: Archlinux newest
- DBeaver version: 21.3.4.202202142347
- Additional extensions: none

#### Connection specification:
N/A

#### Describe the problem you're observing:
It is possible to permanently delete a SQL file (or any file) opened in the SQL editor from the tab context menu.

#### Steps to reproduce, if exist:
In the open

[2022-03-10 17:37] serhiikartashov commented on #15319
Workaround for docker:

@LonwoLonwo Would it be possible to fix the issue in the 22.1.0 milestone?

[2022-03-10 21:23] DariaMarkaryan opened #15800 "Show NULLs option can't be disabled in TXT export"
#### System information:
- Win11
- DBeaver 22.0.0

#### Describe the problem you're observing:
When you export a table in TXT format with NULL and the **Show nulls option** is disabled, you still get [NULL] in exported file

#### Steps to reproduce:
1. Find or create a table containing zeros
2. Start data export of this table
3. Select the TXT format for the exported data
4. Make sure that **Show

[2022-03-10 22:00] Karlodun commented on #15786
-->> Change to auto commit mode.

This is not a DBeaver issue. Oracle uses MVCC:
https://docs.oracle.com/cd/E17276_01/html/bdb-sql/mvcc.html

Which means different versions of the table can exist. If any of the "editors" (who updates or inserts values into table, not SQL clients) or you as a reader enter a session, you will not see changes of other users.
By using manual commit you will enter an i

[2022-03-10 22:03] Karlodun commented on #15793
SQL Server windows login requires your PC to be in Domain. This is a security feature. Your PC doesn't need to be a windows PC, it can be Mac or Linux, but needs to be a member of domain.
Beyond timanb suggestion you could ask your admins to enable Kerberos configuration, but it would require certain level of domain integration anyways (config krb on PC):
https://docs.microsoft.com/en-us/sql/conne

[2022-03-10 22:12] Karlodun commented on #15780
@ShadelessFox - This is great! Probably not what paid-geek wants, but still quite great!

[2022-03-10 22:18] Karlodun commented on #15798
You're asking to delete a feature, because you've failed hitting proper option / reading the confirmation window. Confirmation windows are there to be read, not ignored.
DBeaver saves you already so much of your work time, spend those 2 sec.

Using this feature a lot.
Sometimes I'm working with >30 open scripts, and many of them are not needed sooner or later. Searching for the file in project nav

[2022-03-10 22:50] Karlodun opened #15801 "Display Arrays of complex data types (Postgres only?) in Value section as table"
We're using Postgres 13, soon upgrading to 14.
Right now we're using JSONB to store arrays of small objects. While querying JSONB is OK, using arrays of complex data types has some clear advantages (type safety and predefined attributes).

The issue in our case is that the natural key is quite big, and the arrays of complex data types are so small (few columns and normally just a couple of lines,

[2022-03-11 00:06] icstreispe commented on #15786
So you are telling me that in this dBeaver program there is no way I can see external commited modifications on tables after I did some initial queries on them? Even if I dont do any modifications on the tables but only queries. If it is possible tell me how do I set dBeaver up so I can still commit manually every modification (write) I do.

[2022-03-11 00:45] Karlodun commented on #15786
It is not a DBeaver feature. You are using manual commit. In manual commit
mode you force the db to stay "frozen" for you. Most other SQL clients do
not support these postgres features.
Change to autocommit and it will work.
Imagine like this: manual commit keeps your queries running inside a BEGIN
block.
So you could use real BEGIN blocks instead of manual commit mode.

пт, 11 мар. 2022 г., 01:06

[2022-03-11 00:55] Seanld commented on #15759
It _does_ trigger the asterisk and save/cancel buttons, yes. I noticed this on my work computer, so I'd have to set up a fake DB to demonstrate.

[2022-03-11 01:12] craigboyd0 opened #15802 "Kerberos almost working, but missing something...."
#### System information:
- Operating system Windows 10
- DBeaver version 21.1.5
- Additional extensions

#### Connection specification:
- Database name and version Oracle 19c
- Driver name  ojdbc11-21.5.0.0.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No
- Using Kerberos Authentication

#### Describe the problem you're observing:
Getting invalid username / password
ORA-01017: invalid use

[2022-03-11 02:56] bohrasd commented on #6581
Currently my workaround on Fedora 35 KDE wayland is using xwayland
I'm using the following flatpak permission settings
[code]

[2022-03-11 07:11] LonwoLonwo commented on #15756
Hello @ystenberge

DBeaver uses filters from the client's side by default for already loaded a small amount of data. Or reads from the server-side if data isn't fully loaded. Case-insensitive/case-sensitive behavior may be different in these cases.

You can change it in Preferences -> Editors -> Data Editor -> "Results ordering mode"

![2022-03-11 10_10_03-Preferences](https://user-images.githubus

[2022-03-11 07:12] LonwoLonwo commented on #15751
Hello @FreshSnack

Thanks for the idea.

[2022-03-11 07:18] LonwoLonwo commented on #15794
Thanks for the investigation @alessiojorlandi

If the issue appears again - then you can reopen this ticket.

[2022-03-11 07:18] #15794 closed, assigned to nobody

[2022-03-11 07:35] cyberbeat commented on #15036
@[ShadelessFox](https://github.com/ShadelessFox)

[code]

Now on: DBeaver IDE, 22.0.0.202203060510

[2022-03-11 07:54] LonwoLonwo commented on #14550
https://docs.teradata.com/r/Teradata-Database-SQL-Data-Definition-Language-Syntax-and-Examples/September-2015/Index-Statements/CREATE-INDEX/Examples/Example-Creating-a-Named-Nonunique-Secondary-Index

[2022-03-11 08:06] LonwoLonwo commented on #14121
It works as expected.

We can't use this type of statement like `select t_history.column_name from logging.t_history th` from not `logging` schema.

We must use the fully qualified names for the SELECT in this case.

![2022-03-11 11_01_13-DBeaver Ultimate 22 0 0 - _postgres12local_ Script-170](https://user-images.githubusercontent.com/45152336/157827402-8aebc95b-886a-4c59-bac1-8dc685261533.png)

!

[2022-03-11 08:06] #14121 closed, assigned to nobody

[2022-03-11 08:36] ystenberge commented on #15756
Hey @LonwoLonwo,

thank you for your help! I changed the settings to 'Always on server'. That worked.

Cheers!

[2022-03-11 08:36] #15756 closed, assigned to nobody

[2022-03-11 09:24] LonwoLonwo commented on #15756
Thanks for the answer @ystenberge

[2022-03-11 09:24] icstreispe commented on #15786
But if I change to autocommit any modification will be automatically commited to the database? The others will see those modifications immediately after I run them?
Experimented now and:
If I choose autocommit + smart and do a commit/rollback manually it fails to go back to autocommit mode after that (its not that smart).
If i choose autocommit + no smart it autocommits everthing which is not acce

[2022-03-11 09:31] LonwoLonwo commented on #15319
If the problem is in the different connections, maybe disabling these settings can help?

![2022-03-11 12_29_07-Preferences](https://user-images.githubusercontent.com/45152336/157840324-22abf094-fe87-4b1f-8770-7b58eab8931d.png)

![2022-03-11 12_29_33-Preferences](https://user-images.githubusercontent.com/45152336/157840329-da66806d-471a-4e36-9c2c-8671c7bfbefa.png)

[2022-03-11 10:58] racic commented on #15798
First thing DBeaver is a really great tool, no doubt.
But ..

This is always true.

This particular option as well as the confirmation window is barely distinguishable from other options however, and it leads to a irreversible action which results in a possible loss of your work.

In my case I misclicked and wanted to quickly do away with the annoying window and .. I deleted my own work from the f

[2022-03-11 11:29] ShadelessFox commented on #15036
@cyberbeat,

Could you please also provide a screenshot of Query Manager showing the failing query (one involves the `is_external` column)?

You can find more information here: https://github.com/dbeaver/dbeaver/wiki/Query-Manager.

[2022-03-11 12:05] cyberbeat commented on #15036
This is from the query manager log:
[code]

[2022-03-11 12:11] bobf32 opened #15803 "SQL Error [90232] [25000] returned running Snowflake anonymous block"
#### System information:
- Windows 10 Enterprise 21H2 build 19044.1526
- 22.0.0
- Additional extensions: None

#### Connection specification:
- Snowflake
- Driver name: Default
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

I'm trying to run an anonymous block of snowflake script. The block works as expected running it in the snowflake web inter

[2022-03-11 12:21] ShadelessFox commented on #15036
@cyberbeat,

Are you sure you are running against the newest version of DBeaver?

Perhaps reinstallation would help.

[2022-03-11 13:07] k3davis commented on #15793
@tilmanb I'm happy to share my workaround, but it's a little involved so I'm not sure the best place to do so. As an overview though, I use PowerShell do to something like this

[code]

I copy the string returned from the second command and use it as a parameter in a new PowerShell script:

[code]

Then when I execute the script, the app runs as the domain user, and I can use integrated auth. But

[2022-03-11 13:15] Karlodun commented on #15786
You could set DBeaver to use separate connections for each editor and you could keep one of them in auto-commit mode, while keeping another one in manual commit mode.
Also you can use DBMS internal "BEGIN; ..... END;/ ROLLBACK;" Functionality to start and either commit and end or rollback a transaction.

![image](https://user-images.githubusercontent.com/11210115/157873491-b217507d-b015-4e07-b3b2-

[2022-03-11 13:20] Karlodun commented on #15798
We're all human, we all make mistakes.
Adding some color to the button and to the confirmation window would be nice.

Since a warning color will not be sufficient to 100% prevent from such failures, here some additional hints:
1. don't put too much code into single script file.
2. If needed use query history to recover lost code.
3. do Backups of your final scripts, ex. with GitHub, or in a dedica

[2022-03-11 13:24] sravikrishna3 opened #15804 "dbeaver stopped working with Athena"
#### System information:
- Operating system (distribution) and version  : Windows 10 Pro
- DBeaver version Any version from 21.3.0 onwards
- Java version
- Additional extensions

#### Connection specification:
- Database name and version  Athena
- Driver name AthenaJDBC42_2.0.27.1001
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

Problem

dbeaver connecting to Athena via JDBC driver no lo

[2022-03-11 13:25] sravikrishna3 commented on #15804
[](url
[athena_error.log](https://github.com/dbeaver/dbeaver/files/8232197/athena_error.log)
)

[2022-03-11 13:45] asishm opened #15805 "Question: Define description columns using Custom Criteria"
In the Data tab of a MySQL table I opened the Value viewer panel. In this panel it shows me a dictionary if I select a foreign key value in the Data tab. By clicking Define Description I open the Dictionary structure dialog.

I see there is a Custom criteria text box available. What can I type in there? for example if I type in `select 'foo'` then the output in the Value viewer becomes completely

[2022-03-11 14:26] Seanld commented on #15759
I was changing the font size to cut off the important columns, so that I could screenshot, and it stopped doing it. Now it works normally. Hmm. I'll provide a screenshot if I can replicate it again.

[2022-03-11 14:26] LonwoLonwo commented on #13987
Hello @mihalyr

We found, that this is the issue of the SimpleDateFormat.format java method.

Here are 2 workarounds from Preferences -> Editors -> Data Editor - > Data Formats page:

1. Check "Disable date/time formatting" and use server-side data view

2. Change the Timestamp pattern to the `yyyy-MM-dd HH:mm:ss.ffffff`

![2022-03-11 17_05_22-DBeaver Ultimate 22 0 0 - _PartPub80DB_ Script-195](ht

[2022-03-11 14:36] LonwoLonwo commented on #15803
Hello @bobf32

Can you please check the [query manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager)?

Is the query with this error equal to your statement? I see extra lines in your query, and DBeaver uses them as delimiters by default.

[2022-03-11 14:37] LonwoLonwo commented on #15804
Can be related to https://github.com/dbeaver/dbeaver/issues/5704

[2022-03-11 14:45] sravikrishna3 commented on #15804
Not sure. It shows the catalog of Athena correctly, like the database list and the tables inside each tables. It is only when you run any sql it fails.
Also it is working fine on Linux.
I am 100% certain this was working on windows in 2020.

[2022-03-11 15:34] bobf32 commented on #15803
Sorry @LonwoLonwo, not sure I follow you. I have just run this version and am copying the text from the query log. As before, I get the error if commit mode is manual. No error with auto commit enabled.

[code]

[2022-03-11 16:12] Matvey16 commented on #13795
Verified

[2022-03-11 16:12] #13795 closed, assigned to ShadelessFox, Matvey16

[2022-03-11 16:20] Matvey16 commented on #13549
Verified

[2022-03-11 16:20] #13549 closed, assigned to LonwoLonwo, Matvey16

[2022-03-11 16:23] givihuda commented on #10950
Why is this still happening?

![image](https://user-images.githubusercontent.com/74785256/157906595-da4ec808-3b0b-4ac2-8de2-40d26e72860d.png)

I'm on Mac Big Sur. DBeaver version 22.0.0.202203060510 (Do we really need to type out this whole version number???)

I don't see the point of combining a text line with a horizontal scrollbar, regardless of whether it dynamically hides or shows (though I d

[2022-03-11 16:30] jahlbornG opened #15808 "add color coding to tabs (or some other way to distinguish the related connection)"
**Is your feature request related to a problem? Please describe.**
I typically have tables open from multiple databases at the same time (qa and prod).  i have the connections for these databases color coded (yellow for qa and red for prod).  however, that coloring only shows up in the connection info at the top for the tab (table) that you are currently looking at.  when i have multiple "user" ta

[2022-03-11 16:42] Matvey16 commented on #14428
Looks like a similar problem occurs when cancel is pressed after a prompt
![dbeaver_sDfC4GQOVT](https://user-images.githubusercontent.com/82543000/157910066-d74692e2-3437-4ee8-861f-3b86ffafcf5f.gif)

[code]

[2022-03-11 16:43] KES777 commented on #10950
Seems GTK sucks =(

Old ST behave much better.

[2022-03-11 17:46] mackers2 commented on #14578
Datatype: %Library.Float
XDBC Type: DOUBLE

is that what you need?

[2022-03-11 18:46] icstreispe commented on #15786
for a user friendly tool that should simplify user life don't you think its a little too much work for such a basic request?

[2022-03-11 18:57] icstreispe commented on #15786
I have already set up dbeaver with that checkbox as you suggest and the behaviour brought me here.
Also do you suggest that I have 2 editors open and use one for my inserts and another for seeing the real image in the database? If so thats a little complex also.
I do my inserts in the editor and prefer to click a commit/rollback button on every successfull (chain of) operation (after I check with

[2022-03-11 19:45] serhiikartashov commented on #15319
@LonwoLonwo these settings (Open separate connections for metadata read and Open separate connection for each editor) do not help with this issue.

[2022-03-11 19:56] cyberbeat commented on #15036
"DBeaver IDE, 22.0.0.202203060510", this is what eclipse installation-details shows me. Maybe there is some update-server problem. Is there another way to show the "real" version number? I'll try a reinstall the next days..

[2022-03-11 20:08] ShadelessFox commented on #15036
That's the real version.

I guess that the plugin has failed to update somehow, but that seems weird.

Reinstallation might not help, but at least we will know that the issue lies somewhere else.

[2022-03-11 20:09] ShadelessFox commented on #15808
Hello @jahlbornG,

Your request looks pretty similar to this one: #15760.

Are you talking about the same thing?

[2022-03-11 21:13] Karlodun commented on #15786
I can feel your frustration, but here is the thing:
You want to run an isolated and a non-isolated sessions at same time. This is complex.
You cannot see changes in a DB from within an isolated session, which happen in other sessions. Has nothing to do with DBeaver it has something to do with DBMS.
If you have SQL Editors which can do this, then they are broken. The purpose of an isolated session

[2022-03-12 08:28] kumaran-IV0IV commented on #15554
Thanks for ur response.
This is worked, Even though I tried this many times, Now only it worked out.. I've no idea

[2022-03-12 08:28] #15554 closed, assigned to nobody

[2022-03-12 21:01] ShadelessFox opened #15811 "Can't scroll past already fetched rows after cancelling"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
1. Open a table
2. Edit something in it, so the editor becomes dirty
3. Scroll to

[2022-03-12 21:04] ShadelessFox opened #15812 "Can't scroll past already fetched rows after cancelling "persist changes" dialog"
#### Describe the problem you're observing:
This is a side-effect of the feature implemented in #14187.

Having changes in the table while fetching next rows and pressing `Cancel` in the persist confirmation dialog you can't really load new rows even after manually saving or canceling changes.

The only solution is to refresh the editor.

#### Steps to reproduce, if exist:
1. Open a table
2. Edit

[2022-03-12 21:08] ShadelessFox commented on #14428
This is a side-effect of #14187.

[2022-03-12 21:14] ShadelessFox commented on #15812
This part of the code looks hacky:

https://github.com/dbeaver/dbeaver/blob/e937808170bdfcc603e1740f71f2db9dd0335acd/plugins/org.jkiss.dbeaver.ui.editors.data/src/org/jkiss/dbeaver/ui/controls/resultset/ResultSetViewer.java#L3575-L3578

[2022-03-13 00:27] virtualdxs opened #15815 "Invalid thread access on "Edit cell" on jsonb and json field"
#### System information:
- OS: Arch Linux (systemd 250, kernel 5.16.12)
- DBeaver version: 22.0.0
- Additional extensions: None

#### Connection specification:
- Database name and version: PostgreSQL 13.5
- Driver name: PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH tunnel, but reproducible without SSH tunnel

#### Describe the problem you're observing:
When trying to edit a jso

[2022-03-13 05:04] sharapov opened #15816 "PostgreSQL: The bold highlighting of the current scheme disappears after executing the "Update" menu item"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version:  22.0.0.202203060510

#### Connection specification:
- Database name and version: PostgreSQL 14.2 (Windows 10)
- Driver name: postgresql 42.2.20
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
The bold highlighting of the current scheme disappears

[2022-03-13 07:08] karam72 commented on #5620
It would be great If DBeaver will support officially appimage build. We can not trust 3rd parties.

[2022-03-13 15:41] LonwoLonwo commented on #14578
Hello @mackers2

Maybe enabling of this setting can help?

![2022-03-13 18_40_05-DBeaver Ultimate 22 0 0 - employee](https://user-images.githubusercontent.com/45152336/158067494-56b67f88-67de-4c26-9377-6ece442490df.png)

[2022-03-13 15:57] LonwoLonwo commented on #15811
Duplicate of https://github.com/dbeaver/dbeaver/issues/15812

[2022-03-13 15:57] #15811 closed, assigned to nobody

[2022-03-13 17:01] lonkelley opened #15817 "Cannot open non .sql file extensions as scripts"
#### System information:
- Operating system (distribution) and version :  Windows 10, version 21H2
- DBeaver version :  22.0.0.202203060510
- Additional extensions :  none?

#### Connection specification:
- Database name and version :  Hive, HDP-2.6.5.0
- Driver name :  hive-jdbc-uber-2.6.5.0-292.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? :  No.

#### Describe the problem you're observ

[2022-03-13 17:32] mdahlman opened #15818 "Improved default for Native Client for PostgreSQL on Mac"
I listed this as a bug. But one could argue that it's really an enhancement request.

#### System information:
- MacOS Monterey (12.2.1)
- DBeaver Version 21.3.5.202202200327

#### Connection specification:
- Install PostgreSQL using Postgresapp (https://postgresapp.com/)
- Important: take the installer with many versions of PostgreSQL rather than just the latest version. At the moment it includes

[2022-03-13 18:32] dbojan opened #15819 "Sortable table html export."
Hi.
Would it possible to add another option to html export, that would make the table sortable?
Something like this https://www.w3schools.com/howto/howto_js_sort_table.asp.
So users can sort the table by clicking on header row, without editing it.

Thanks.

[2022-03-14 06:02] andrelinslima commented on #15791
Is your user profile in a network share?
The error seems to be saying that your workspace folder ( %APPDATA%\DBeaverData\workspace6 ) is not a local file

[2022-03-14 06:13] andrelinslima commented on #15748
I would assume you installed dbeaver only for the current user, since the installation seems to be made inside the current user Appdata/Local.
Dbeaver contains the Java 11 JRE needed to run. Verify that the jre/bin folder contains the java files. If not the simpler way would be to reinstall.

If you have java11 installed somewhere else, you can also edit dbeaver.ini and add  (change to the actual

[2022-03-14 08:24] uslss commented on #14004
verified

[2022-03-14 08:24] #14004 closed, assigned to uslss, LonwoLonwo

[2022-03-14 08:30] uslss commented on #15365
1. NPE appears if there was export of more then one table, and table was skipped
[code]

[2022-03-14 08:32] uslss commented on #15365
2. Table is skipped in new task in case there was created task with more than one table and this table was skipped. Its mapping cannot be changed to create.
![image](https://user-images.githubusercontent.com/31996417/158134189-b4ae788b-3deb-432b-9a9e-27e154887fee.png)

[2022-03-14 08:39] Matvey16 commented on #15354
@giordyb I think he meant this query manager to look at what query this task is stuck
![image](https://user-images.githubusercontent.com/82543000/158135319-134f5613-c736-4347-ba0e-4ff0dd98257d.png)

[2022-03-14 08:49] giordyb commented on #15354
@Matvey16 @akilovich  I'm not getting anything in query manager
<img width="1915" alt="Screenshot 2022-03-14 at 09 48 28" src="https://user-images.githubusercontent.com/13320961/158136922-d858120a-d790-4225-bc6a-6b714ed61a39.png">
.

[2022-03-14 08:56] herbinator opened #15820 "[Hippie Engine] very slow SQL completion in sql script > 350kb"
#### System information:
- Operating system (distribution) and version Windows 10 21H2 19044.1586
- DBeaver version  22.0.0.202203060510
- Additional extensions

#### Connection specification:
- Database name and version      Postgress 11.7
- Driver name   maven:/org.postgresql:postgresql:LATEST
- Do you use tunnels or proxies (SSH, SOCKS, etc)? vpn

#### Describe the problem you're observing:
ver

[2022-03-14 09:10] tautf commented on #15753
Sorry about the delay. Unfortunately i'm not able to provide you the exact procedure as it contains internals.
It does not do something very special.

Contains multiple ```FOR ... BEGIN ... END``` and thats basically it.

Here is the screenshot:
![Bildschirmfoto 2022-03-14 um 10 07 40 AM](https://user-images.githubusercontent.com/18403881/158140547-028d03e1-cee3-4b1c-baeb-56b9d1efa32a.png)

[2022-03-14 09:14] Matvey16 commented on #15666
Generated query doesn't include aliased table name in filter when there are more than one conditions (e.g IN (...) and IS NULL) and the resulting joined table has columns with the same name from different original tables.

SELECT * FROM rental r JOIN staff s ON r.staff_id = s.staff_id JOIN inventory i ON r.inventory_id = i.inventory_id WHERE `s.column1 IS NULL OR column1 IN ('2021-06-08 09:14:35.7

[2022-03-14 10:16] LonwoLonwo commented on #14625
Vertica tables, views, columns comments will be cached lazy. Start the DBeaver version 22.0.1

This means that reading comments in tables/views and columns will only take place when opening specific tables, and not when reading the list of tables, as it was before. So we could remove expensive JOIN on the `v_catalog.comments` table.
We have already done this for the Oracle database.

On our test d

[2022-03-14 10:18] LonwoLonwo commented on #14625
For testers: please, check tables, views, system tables, and flex tables. You can not comment views columns in Vertica (check it also).

[2022-03-14 10:29] Matvey16 commented on #14563
Verified

[2022-03-14 10:29] #14563 closed, assigned to LonwoLonwo, Matvey16

[2022-03-14 11:00] uslss commented on #15660
Incorrect ddl is generated for postgresql
![image](https://user-images.githubusercontent.com/31996417/158158920-fce3eaa1-e4f2-4cb8-ad60-2f7c2211e115.png)

[2022-03-14 11:18] uslss commented on #15800
verified

[2022-03-14 11:18] #15800 closed, assigned to E1izabeth, uslss

[2022-03-14 11:22] uslss commented on #14528
verified

[2022-03-14 11:22] #14528 closed, assigned to uslss, LonwoLonwo

[2022-03-14 11:55] uslss commented on #15763
verified

[2022-03-14 11:55] #15763 closed, assigned to uslss, LonwoLonwo

[2022-03-14 12:31] sergeynilov opened #15824 "How to create filter condition when some cell is selected ?"
Hello,
Can I in dbeaver 21.2.1 when some cell is selected in grid of data by some action

to create filter condition like `day` = '2022-03-12' is cell with such column/value was selected?
Thanks !

[2022-03-14 13:30] cyberbeat commented on #15036
I now downloaded dbeaver 22 standalone. The issue still exists. Perhaps it would be better to directly test on that column, before query it?

[2022-03-14 13:34] Gros-Jambon-Fr opened #15826 "Dbeaver still display functions that are deleted."
#### System information:
- Operating system (distribution) and version : Debian 11
- DBeaver version : Version 22.0.0.202203060510
- Additional extensions

#### Connection specification:
- Database name and version PostgreSQL 13
- Driver name : php pgsql
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:

Hello,

I'm working on some functions in my p

[2022-03-14 13:34] cyberbeat commented on #15036
Here are the exception logs from starting dbeaver from shell:

[code]

[2022-03-14 14:16] ahmednrana commented on #11052
I believe datagrip provides these. It highlights the column that is being edited in an insert statement. It also provides a visual column editor for an insert statement

[2022-03-14 14:36] Matvey16 commented on #15666
Verified

[2022-03-14 14:36] #15666 closed, assigned to E1izabeth, Matvey16

[2022-03-14 14:42] davidhooey opened #15827 "Unable to open SQLite database for new connection after upgrading to DBeaver 22."
#### System information:
- Operating system (distribution) and version
  -  MacOS 12.2.1  (Monterery).
- DBeaver version
  - DBeaver 22.0.0.202203060510
- Additional extensions
  - VRapper

#### Connection specification:
- Database name and version
  - SQLite 3.34.0
- Driver name
  - sqlite-jdbc-3.36.0.3
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
  - No

#### Describe the problem you're ob

[2022-03-14 14:52] Matvey16 commented on #14739
This way the user won't be able to click proceed, but because it's task editor and not standard backup wizard they won't be able to know what is the problem. It needs to work like a standard wizard where you can't skip any step and need to click next on every page before proceeding

![dbeaver_pDJ5PluUQN](https://user-images.githubusercontent.com/82543000/158197926-aef62802-6508-4f68-97c2-83df5d50a

[2022-03-14 14:59] Matvey16 commented on #14428
Verified

[2022-03-14 14:59] #14428 closed, assigned to ShadelessFox, Matvey16

[2022-03-14 15:20] ShadelessFox commented on #15827
Hello @davidhooey,

This dialog is misleading. It **will not** overwrite nor replace your database file.

Please see discussion #15715.

We need to improve the UX because it confuses users.

[2022-03-14 15:26] LonwoLonwo commented on #15826
Hello @MattRGX

Have you tried to refresh the "Functions" tab in the Database Navigator Editor? After function deleting.

![2022-03-14 18_23_44-DBeaver Ultimate 22 0 0 - playlist](https://user-images.githubusercontent.com/45152336/158204838-4353dcec-ba9f-4da9-a488-c88ac123ff23.png)

[2022-03-14 15:29] Gros-Jambon-Fr commented on #15826
Yes i refreshed it many times.
I even deleted my connection and start from a fresh one. After connecting to my fresh new connection, the functions are still here and can't delete them.

[2022-03-14 15:36] LonwoLonwo commented on #15816
Hello @sharapov

Thanks for the bug report. I can reproduce it.

![ERBT26uRyJ](https://user-images.githubusercontent.com/45152336/158206780-1d604e13-0112-4fd4-b41a-c8184e578cee.gif)

Also, a refresh of a Database removes default schema selection too.

[2022-03-14 15:43] serge-rider opened #15829 "Oracle sequence DDL"
We need to add DDL tab for Oracle sequences

[2022-03-14 16:24] LonwoLonwo commented on #15826
How do you delete your functions? Via DBeaver UI or in SQL Editor with the DROP statement?

[2022-03-14 16:25] derfryday commented on #9414
same issue here

[2022-03-14 16:27] andrew-dixon commented on #9414
The problem persists in Version 22.0.0.202203060510 released on 7th March.

[2022-03-14 16:28] ShadelessFox commented on #15429
Perhaps we should create a separate issue (since it is very database-specific) to allow the creation of nested array elements.

[2022-03-14 16:33] ShadelessFox commented on #9414
Hello everyone,

We are aware that the issue persists against the newest version.

We have scheduled this ticket for the 22.0.2 release.

[2022-03-14 16:42] jahlbornG commented on #15808
yep, definitely looks like the same feature request.

[2022-03-14 16:48] Gros-Jambon-Fr commented on #15826
99.99% of the time, i do it via DBeaver UI.

[2022-03-14 16:50] clicktodev commented on #15319
Similar issue, Connection to database is successful however I only get this error when dumping the database.

[2022-03-14 16:53] davidhooey commented on #15827
The dialog changed in version 22. In version 22 the button is Save, where version 21 the button is Open.

![image](https://user-images.githubusercontent.com/88926/158223046-bbdba291-908a-4110-8cb0-5b74fdab2d43.png)

[2022-03-14 17:03] dpsspatial opened #15831 "DDL copy produces extra / invisible characters"
#### System information:
- Linux Mint 20.3
- DBeaver version: 22.0.0.202203060510
- Additional extensions: None

#### Describe the problem you're observing:

When copying the DDL from a view, the text contains extra blocks of blank/invisible characters. When formatting this pasted code, it won't format correctly and takes up several more lines than necessary.

Here is pasted DDL from a view as see

[2022-03-14 17:06] Gros-Jambon-Fr commented on #15826
Another strange things just happened, still related to function that return TABLE.
I've created another function, the function is in the Functions menu in th UI. The function work well, it returns the rowset i ask for. Now i want to give EXECUTE permission on this function to a user. When i try to do that with the UI, i tick the box EXECUTE like that
![image](https://user-images.githubusercontent.

[2022-03-14 17:22] LonwoLonwo commented on #15826
About permissions - maybe the issue related to this https://github.com/dbeaver/dbeaver/issues/15563

Can you provide an example of your function DDL?

[2022-03-14 17:36] ShadelessFox commented on #15808
Okay, I'll close this issue, then.

You can track the linked issue.

[2022-03-14 17:36] #15808 closed, assigned to nobody

[2022-03-14 17:37] Gros-Jambon-Fr commented on #15826
`CREATE OR REPLACE FUNCTION declaration.get_crypto_symbol()
RETURNS TABLE(crypto_symbol character varying)
 LANGUAGE plpgsql
AS $function$
begin
	return query
		select
			currency_name
		from
			declaration.declare_currencies
		where
			is_crypto
		order by id asc;
end;$function$
;
`

[2022-03-14 17:38] ShadelessFox commented on #15760
Thanks for the feature request. That would be a nice enhancement.

[2022-03-14 17:41] ShadelessFox commented on #15827
Yes, it was introduced in #14350.

[2022-03-14 18:33] mihalyr commented on #13987
Hello @LonwoLonwo, thank you, indeed, I think I had `.SSSSSS` configured and not `.ffffff`, both `.SSS` or `.ffffff` should work, but `.SSSSSS` is incorrect. Thank you. I'll close this one as it is resolved.

[2022-03-14 20:16] LonwoLonwo commented on #13987
Thanks for the answer @mihalyr

I will reopen this issue to fix the SSS handling case.

[2022-03-14 22:13] leonjanzen-work commented on #7917
I would also love to see the background colour of the tabs match the connection type colour of the rest of the tab (when connection type colours are used). It would make it much easier to see at a glance which tabs are connected to which databases.

[2022-03-14 22:21] 0xAnasEzz commented on #11052
Will definitely check that out, thank you.

[2022-03-15 00:31] Karlodun commented on #15801
License ID: DB-381MQZ8P-Z91W (Hopefully my company will purchase additional licences soon)

[2022-03-15 01:46] podoni opened #15839 ""Next Query", "Previous Query" shortcut keys work error"
#### System information:
- Windows 10 Pro
- DBeaver 22.0.0
- Additional extensions

When executing "Next Query", "Previous Query" shortcut keys, general SQL works normally.
However, in the "@set" syntax, it moves only to the upper syntax.

Thank for reading.

[2022-03-15 07:38] dexy86 commented on #7890
didn't got fixed

Same here fedora 35 can't drag columns in results tab (to rearrange them), mac works
Can't even resize the column, only double click on the border between two columns extends the column width to full data width.

[2022-03-15 07:42] dexy86 commented on #5794
verified, fix... awesome thanks

[2022-03-15 07:42] dexy86 commented on #15421
verified, fix... awesome thanks

[2022-03-15 07:44] Matvey16 commented on #14980
Verified

[2022-03-15 07:44] #14980 closed, assigned to E1izabeth, Matvey16

[2022-03-15 07:59] LonwoLonwo commented on #14297
Query for procedures/functions definitions reading changed for old PG driver old PG database version.

![2022-03-14 22_49_17-DBeaver 22 0 0 - insert_data](https://user-images.githubusercontent.com/45152336/158250123-7870f80a-86db-4dda-b184-7318f4bca818.png)

"action_timing" column removed for the old PG database versions from the triggers reading statement.

[2022-03-15 08:00] LonwoLonwo commented on #15829
![2022-03-15 01_06_17-DBeaver Ultimate 22 0 0 - TESTAS4](https://user-images.githubusercontent.com/45152336/158269322-3bf1b423-3ce8-467b-9eb3-6fe00694090c.png)

Implemented in DBeaver 22.0.1

[2022-03-15 08:27] uslss commented on #14625
verified

[2022-03-15 08:27] #14625 closed, assigned to uslss, LonwoLonwo

[2022-03-15 08:40] Matvey16 commented on #15663
Verified

[2022-03-15 08:40] #15663 closed, assigned to Destrolaric, Matvey16

[2022-03-15 09:09] uslss commented on #13300
verified

[2022-03-15 09:09] #13300 closed, assigned to uslss, ShadelessFox

[2022-03-15 09:10] Destrolaric opened #15842 "update Command Line wiki"
We need to add info about new functionality done in scope of  #15175
https://github.com/dbeaver/dbeaver/wiki/Command-Line

[2022-03-15 09:34] Gros-Jambon-Fr commented on #15826
So i managed to delete the persistent functions with DROP command.

in the UI sub_menu the function was displayed like this

`get_crypto_symbol(varchar)`

but to delete it i had to use

`DROP FUNCTION get_crypto_symbol()`

without specifying the parameter between the parenthesis.

The thing is if i try to detele via the UI, the code generated is

`DROP FUNCTION get_crypto_symbol(varchar)`

so i gu

[2022-03-15 09:43] LonwoLonwo commented on #15365
NPE fixed.

[2022-03-15 09:44] LonwoLonwo commented on #13987
SSSSSS case fixed

[2022-03-15 10:05] Matvey16 commented on #13816
Incorrect row number when all rows are deleted in data editor

![dbeaver_BALyDuM5bz](https://user-images.githubusercontent.com/82543000/158354310-54ff3699-c977-473b-bfcb-14aa94dc9f14.gif)

[2022-03-15 11:03] serge-rider commented on #15660
Fixed

[2022-03-15 11:07] serge-rider commented on #15388
Can't reproduce anymore.

[2022-03-15 11:22] serge-rider commented on #13038
It is not a bug. In order to scroll rows in record mode you need to use navigation buttons in the toolbar (prev, next, home, end).
Records are not populated automatically on Fetch All action (it works as expected).

[2022-03-15 11:36] uslss commented on #14297
verified

[2022-03-15 11:36] #14297 closed, assigned to uslss, LonwoLonwo

[2022-03-15 11:38] #13038 closed, assigned to serge-rider, uslss

[2022-03-15 11:47] serge-rider commented on #11577
Seems to be an Eclipse bug.
Direct editor activation with mouse click fails in there are multiple editors opened.

Workaround: activate editor part by clicking on tab name (not on editor text).

[2022-03-15 11:49] serge-rider commented on #11577
https://bugs.eclipse.org/bugs/show_bug.cgi?id=402983

[2022-03-15 12:02] LonwoLonwo commented on #15826
Yes, I see the issue with the incorrect DROP statement. And it is  related to https://github.com/dbeaver/dbeaver/issues/15563

We will fix it in the next release, I hope.

[2022-03-15 12:03] LonwoLonwo commented on #15741
Hello @Goobercute

Thank you for the idea.

[2022-03-15 12:37] LonwoLonwo commented on #15826
Is there something in the error logs? https://github.com/dbeaver/dbeaver/wiki/Log-files
I am talking about the original issue, "DBeaver still displays functions that are deleted".

Also, what commit mode do you have?

![2022-03-15 15_36_40-DBeaver Ultimate 22 0 0 - _postgres12local_ Script-170](https://user-images.githubusercontent.com/45152336/158379118-3b119990-4728-4cc1-8d0a-7d3312f4bbe5.png)

[2022-03-15 12:51] Gros-Jambon-Fr commented on #15826
i couldn't find anything in the logs.

i have the same commits mode as the picture you shared.

[2022-03-15 13:42] mbissinger commented on #14835
Hi,
again thank you for considering my feature request!

If I may add a further detail: would it be possible to have variables, which correspond to the currently selected table or even row (passed by e.g. primary keys)? In order to be consistent to already existing variables these could be named ${database.table} or ${database.table.row}.

[2022-03-15 14:41] Matvey16 commented on #15829
Verified

[2022-03-15 14:53] Matvey16 commented on #15829
Indexes DDL stopped working
[code]

[2022-03-15 15:03] igorzhilin opened #15844 "SQL Server does not display data selected from table variable or #temp table"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 22.0.0.202203060510

#### Connection specification:
- Database name and version: SQL Server 2016
- Driver name: MS SQL Server / SQL Server

#### Describe the problem you're observing:
When selecting from table variable or temp table (`#temp` preceded by hash), dbeaver does not display data in the

[2022-03-15 15:03] Matvey16 commented on #15102
Verified

[2022-03-15 15:03] #15102 closed, assigned to ShadelessFox, Matvey16

[2022-03-15 15:07] igorzhilin commented on #15388
Still reproducible in 22.0.0.202203060510.
1. Run this query: `select object_schema_name(object_id), object_name(object_id) from sys.all_objects;` in any DB in SQL Server.
2. Filter any column with any value.
![image](https://user-images.githubusercontent.com/9438635/158408291-14d0b6b1-2532-4d54-92b7-bb96245bd1cb.png)

[2022-03-15 15:19] allanlaal commented on #890
for Googlers (and me again in 6 years :laughing:):

https://github.com/dbeaver/dbeaver/wiki/Command-Line

[2022-03-15 15:56] ShadelessFox commented on #15844
Hello @igorzhilin,

I cannot reproduce your issue. It executes just fine by selecting everything and hitting <kbd>Ctrl+Enter</kbd> afterwards:

![image](https://user-images.githubusercontent.com/35821147/158418313-c7d4a66d-19f0-40dc-aaeb-4231f85bbd6d.png)

Can you please provide more details or record a video? Thanks.

[2022-03-15 15:59] ShadelessFox commented on #15839
Hello @podoni,

I cannot reproduce your issue:

https://user-images.githubusercontent.com/35821147/158419462-4ed3be48-fca8-4599-8e61-5c8f6c78d6ba.mp4

Could you please provide a little bit more information about your issue?  What database are you using?

[2022-03-15 16:00] Matvey16 commented on #15745
Not fixed for value panel

![dbeaver_5YywOMMman](https://user-images.githubusercontent.com/82543000/158419738-b452dde4-44f0-4736-b740-86ff9be9bb64.gif)

[2022-03-15 16:03] michal-bartak opened #15848 "SQL editor loses focus when re-connection popup appears"
#### System information:
- Fedora 35
- DBeaver version:  22.0.0.202203060510
- Additional extensions: N/A

#### Connection specification:
- Postgresql
- Postgresql
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
In SQL editor, re-connection to the database is expressed by re-connection popup
![image](https://user-images.githubusercontent.com/78684

[2022-03-15 16:06] ShadelessFox commented on #15831
Hello @dpsspatial,

Your text editor displays these invisible characters. I can see only paragraph symbols out there. They shouldn't cause any formatting problems.

Can you please provide your formatting settings? They can be found in the preferences: <kbd>Editors</kbd> &rArr; <kbd>SQL Editor</kbd> &rArr; <kbd>Formatting</kbd>.

[2022-03-15 16:10] dpsspatial commented on #15831
Hi @ShadelessFox,

Here's my SQL formatting settings, which otherwise work just fine - the extra spaces I'm reporting seem to conflict with these settings producing the result above:

![image](https://user-images.githubusercontent.com/12851723/158421721-3d7eef11-dd3e-42c7-9ac8-4225d763e378.png)

Thanks!

[2022-03-15 16:13] ShadelessFox commented on #15831
Thanks.

It looks that this behavior was caused by the <kbd>Insert line feed before commas</kbd> option.

Can you try disabling it to see if it solves your issue? Thanks.

[2022-03-15 16:16] dpsspatial commented on #15831
Same result.

Here is what the 'block' of invisible text is showing up as in DBeaver:

![image](https://user-images.githubusercontent.com/12851723/158423050-c8069ce8-a8e2-4f85-8095-80c62083b888.png)

[2022-03-15 16:20] ShadelessFox commented on #15831
The result is the same because your query was already formatted.

Don't be confused by this selection. It's typical behavior for all text editors. The paragraph (line break) symbol does not have any length, but visually it "breaks" the line. That's why you see this weird selection.

[2022-03-15 16:47] leezm opened #15850 "sessions view in oracle is wrong and different between oracle sql developer"
#### System information:
- win11
- DBeaver EE 22.0.0.202203131528
- Additional extensions

#### Connection specification:
- Oracle 11g
- ojdbc8
- NO

#### Describe the problem you're observing:
When I view oracle sessions in dbeaver,I found out it was wrong.It's different between oracle sql developer.
#### Steps to reproduce, if exist:
Double click sessions in oracle db view.
#### Include any warn

[2022-03-15 17:29] dpsspatial commented on #15831
This kind of block of text doesn't show up in SQL that I've created from scratch or loaded from a saved file. It only shows up when I copy the DDL of a view/materialized view and paste it into an editor. Normal SQL formats just fine, with the settings I have in the formatter. The pasted DDL SQL is the issue.

[2022-03-15 21:57] E1izabeth commented on #15543
Hello, @perverez. Thank you for bug report.
As a workaround you can select whole statement and press Ctrl+Enter to run it.

[2022-03-15 22:56] warcayac opened #15852 "How to change background color of a selected cell?"
When selecting a cell its current row is highlighted (cyan) but this cell has a dark color (dark blue) which makes hard to read the cell content. How to change background color of a selected cell?

[2022-03-15 23:03] warcayac commented on #15852
Preferences > User Interface > Appearance > Colors and Fonts > Selection background

[2022-03-15 23:03] #15852 closed, assigned to nobody

[2022-03-16 00:33] podoni commented on #15839
This error occurs when there are multiple "@set" statements.
In the previous version, it worked normally.

For example

@set col1 = '1'
@set col2 = '2'
@set col3 = '3'
@set col4 = '4'
@set col5 = '5'

SELECT 'test1' FROM daul;

SELECT 'test2' FROM dual;

Thank for reading. :)

[2022-03-16 00:36] p91paul commented on #15850
having extensively used the feature for years, "wrong" is not the adjective I'd use. I think you'll have to be more specific: sure the queries are different, but you should point out something that is correct on sql developer and wrong (not just different) on dbeaver.

[2022-03-16 00:41] leezm commented on #15850
Yes,you're right.But I remember that the previous version showed it right.I found that Dbeaver now has significantly fewer sessions，so I say it's wrong.

[2022-03-16 01:46] SSSDNSY commented on #15654
In your video,  you can change schema with the pop  window, but I only can change it with the mouse right click on DB name ( set as default ),just like below picture
![image](https://user-images.githubusercontent.com/15624361/158499428-d7d99903-4678-4500-941f-4caf4d6c2adf.png)

because, as I said before, I can't change the schema with the  pop window in below picture . whatever I user mouse left c

[2022-03-16 02:50] topkamal commented on #15381
I'm getting the same error too

[2022-03-16 05:35] anique9999 commented on #15616
Hi @andrelinslima,
I was following the same path for Dbeaver community that was mentioned in https://github.com/dbeaver/dbeaver/issues/3299, `%HOMEPATH%.dbeaver4\.metadata\.plugins\org.eclipse.core.runtime\.settings\` and I tried using the path you mentioned, but I could still the update prompt.

[2022-03-16 07:39] Jaiswalakshat20 opened #15853 "SQL Error : internal jdbc driver error"
DBeaver 21.1.3
Class  ame : com.amazon.redshift.jdbc42.Driver
Lib RedshiftJDBC42.jar
Port 5439

Getting error -- SQL Error : internal jdbc driver error

No issue seems with code. I conclude this because when I remove a when condition among other within a query , I am able to compile the procedure.

[2022-03-16 07:49] LonwoLonwo commented on #15626
This issue was fixed in the JSQLParser. Will waiting for the official release of 4.4

[2022-03-16 07:59] p91paul commented on #15850
there are a couple buttons at the bottom to show background and inactive sessions. Background are excluded in sql dev according to your query, but maybe showing inactive does what you need?

[2022-03-16 08:07] uslss commented on #13987
verified

[2022-03-16 08:07] #13987 closed, assigned to uslss, LonwoLonwo

[2022-03-16 08:08] uslss commented on #15660
verified

[2022-03-16 08:08] #15660 closed, assigned to serge-rider, uslss

[2022-03-16 08:10] uslss commented on #15388
still reproducible

[2022-03-16 08:10] leezm commented on #15850
On,yes!show inactive  button looks like right!But the previous version showed all directly?

[2022-03-16 08:16] uslss commented on #15365
verified

[2022-03-16 08:16] #15365 closed, assigned to uslss, LonwoLonwo

[2022-03-16 08:18] uslss commented on #13431
![image](https://user-images.githubusercontent.com/31996417/158546461-e613756f-bd21-40e0-ae2c-0fdc69e13e69.png)
filter panel is still available if the result is an error

[2022-03-16 08:43] xipeng156 opened #15854 "I want study dbeaver how to work by Intellij idea,but fail when I reload by maven"
i want run by idea,this is my computer config and logs

`mvn -v
Apache Maven 3.8.3 (ff8e977a158738155dc465c6a97ffaf31982d739)
Maven home: /usr/local/apache-maven-3.8.3
Java version: 11.0.14, vendor: Ubuntu, runtime: /usr/lib/jvm/java-11-openjdk-amd64
Default locale: zh_CN, platform encoding: UTF-8
OS name: "linux", version: "5.4.0-100-generic", arch: "amd64", family: "unix"
`

log:
[ERROR] Cannot

[2022-03-16 08:45] #15854 closed, assigned to nobody

[2022-03-16 09:20] DariaMarkaryan commented on #15222
No longer reproduced

[2022-03-16 09:20] #15222 closed, assigned to E1izabeth, DariyaFedorova

[2022-03-16 09:29] cyberbeat commented on #15036
I checked out your branch, and built, still did not work. I then commented out these lines:

[code]

Now it works!

[2022-03-16 09:33] uslss commented on #14589
line number values could be shown in the Value panel and incorrect values are shown in this case
![dbeaver_lhwiaoBXJo](https://user-images.githubusercontent.com/31996417/158559901-3c2d70e4-3f55-4438-b88e-dbf04b846efd.gif)

[2022-03-16 09:33] ShadelessFox commented on #15036
Despite all the possible fixes, I want to find the real reason why DBeaver thinks that your SQL Server does support external tables. We check if the server version is greater than SQL Server 2016, but your version is definitely older.

Can you please provide the output of the `select @@version` query?

[2022-03-16 09:39] ShadelessFox commented on #15036
Also, what driver do you use? Isn't it the `Azure SQL Server`, by any chance?

Update: according to your previous comment, it's definitely Azure.

Are you sure you need this driver over the regular one?

[2022-03-16 09:49] Matvey16 commented on #13816
Verified

[2022-03-16 09:49] #13816 closed, assigned to Destrolaric, Matvey16

[2022-03-16 10:05] leezm commented on #15094
What does time means in “()”?Why are there two times?

[2022-03-16 10:05] LonwoLonwo commented on #15829
Fixed.

[2022-03-16 10:10] Matvey16 commented on #15745
Something broke after this fix.

In Data editor:
Can't select all with ctrl+A in value panel for varchar column

In SQL Editor:
Can't select all with ctrl+A in value panel for both varchar and date/time columns

[2022-03-16 10:12] detkliff opened #15858 "error in priviliges describe. Priviliges on procedure"
Postgresql 12
Dbeaver 22.0.0

1. added any symbols

_209868
_29481
...
to the end of procedure name

![image](https://user-images.githubusercontent.com/61137576/158567001-f822646e-6848-4c80-a322-80863156aecb.png)

2.
dbeaver generated this priviliges script

![image](https://user-images.githubusercontent.com/61137576/158569615-29c5c7c1-d74a-487d-afa2-666fd65fd531.png)

but 'backups.del_proc_get_no

[2022-03-16 10:17] uslss commented on #15853
@Jaiswalakshat20 please provide clear steps to reproduce an issue. also, error logs and screenshots will be helpful

[2022-03-16 10:20] uslss commented on #15848
@michalk-k unfortunately, cannot reproduce it. could you provide a video with the issue?

[2022-03-16 10:25] uslss commented on #15824
If I understand you right, you could use the filter button in the Column header while the needed cell is selected in Data Viewer. More about filters could be learned [here](https://github.com/dbeaver/dbeaver/wiki/Data-Filters)
![dbeaver_K3Sjuz5j5s](https://user-images.githubusercontent.com/31996417/158569094-4718995a-ed32-47ce-9f2f-5aa1ad52f8b3.gif)

[2022-03-16 10:29] mackers2 commented on #14578
yes that does do what it say (when I logged this I found a similar issue already logged about PostgreSQL:

[2022-03-16 10:31] uslss commented on #15815
thanks for the report

[2022-03-16 11:08] LonwoLonwo commented on #15858
I see functions names are incorrect in the role source tab. And their names are correct in the functions source tab.

![2022-03-16 14_06_40-DBeaver Enterprise 21 3 3 - employee_insert_trigger_fnc()](https://user-images.githubusercontent.com/45152336/158604387-05892efe-81ec-4e4f-89d7-ac3c923b6a7c.png)

![2022-03-16 14_07_08-DBeaver Enterprise 21 3 3 - test_as](https://user-images.githubusercontent.

[2022-03-16 11:16] gregoryforel opened #15860 "Using a task to import a csv file fails if columns are case sensitive"
#### System information:
- Linux Mint 20.3 Cinnamon
- DBeaver 22.0.0.202203060510 Community Edition

#### Connection specification:
- PostgreSQL 13
- Drivers: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
I have an existing table with those columns:
`id: text`
`organizationKey: text`

I can't import a CSV file **using a ta

[2022-03-16 11:23] sandinur157 commented on #1344
This is solved my problem.

Ubuntu 21.10
DBeaver 22.0.0

[2022-03-16 11:29] uslss commented on #15682
verified

[2022-03-16 11:29] #15682 closed, assigned to flambchap, uslss

[2022-03-16 11:31] cyberbeat commented on #15036
I used Azure driver. I am quite sure, when I searched for an alternative in DBeaver driver selection dialog before a few months, I could not find any. But now I also found alternatives like "Microsoft SQL Server" (although they seem use the same jdbc driver jars?). Would this fix all my problems?

[2022-03-16 11:31] Matvey16 commented on #15745
This happens due to unusual keybind settings, works as expected on default binds (I probably forgot how I changed them and that lead to them not working)

[2022-03-16 11:32] #15745 closed, assigned to Destrolaric, Matvey16

[2022-03-16 11:47] flambchap commented on #15509
I'm closing the issue for now. If the issue persists, please feel free to reopen the ticket.

[2022-03-16 11:47] #15509 closed, assigned to nobody

[2022-03-16 11:54] ShadelessFox commented on #15036
The code snippet mentioned in https://github.com/dbeaver/dbeaver/issues/15036#issuecomment-1068913032 checks for the Azure driver, so it happened to be your case. It doesn't depend on the driver's jars in this particular situation.

So, it would fix your issue, yes. Although, we can avoid such problems entirely by not relying on the driver used.

[2022-03-16 12:07] Matvey16 commented on #15706
@thnk2wn Thank you for the report. Unfortunately for now this is how apple installation works. We will try to change it so those settings that are commonly modified will be stored in other files

[2022-03-16 12:09] ShadelessFox commented on #15831
Let's make sure that we are talking about the same thing.

Is that the block of text you have mentioned earlier?

https://user-images.githubusercontent.com/35821147/158586740-be750287-ebaa-4bf9-b47c-b3d08e35be63.mp4

[2022-03-16 12:10] Matvey16 commented on #15742
@mikkk3l Thank you for the report, it probably depends on driver properties. We will move the most important ones into connection settings

[2022-03-16 12:13] LonwoLonwo commented on #14625
Hello @verticauser810

Please test Vertica table loading perfomance in our [Early Access](https://dbeaver.io/files/ea/) version if you are using Windows. It will be very helpfull for us.

[2022-03-16 12:17] ShadelessFox commented on #15831
Can you please send me a screenshot of the <kbd>General</kbd> &rArr; <kbd>Workspace</kbd> preference page and a file containing the exported view definition if it doesn't contain any sensitive data? Please note that It must be a file. Pasting it here will not work. To achieve this, you can use <kbd>Export SQL script</kbd> action found in the context menu.

[2022-03-16 12:19] Matvey16 commented on #14739
Verified

[2022-03-16 12:19] #14739 closed, assigned to Destrolaric, Matvey16

[2022-03-16 12:20] ShadelessFox commented on #15839
Now I was able to reproduce the issue. Thanks for the clarification.

[2022-03-16 12:26] uslss commented on #13570
in case the connection read-only setting is switched on/off when data viewer is opened and another connection is chosen at db navigator, focus on connection is lost.
![dbeaver_Xf6STGeJRR](https://user-images.githubusercontent.com/31996417/158589596-33042ce9-3319-4669-b73a-45e1a35f1a87.gif)

[2022-03-16 13:17] LonwoLonwo commented on #15803
Sorry @bobf32

I'm not sure that we can help in this case from the DBeaver side. Why can't you execute this script in auto-commit mode?

Maybe this video can be helpful for you? https://www.youtube.com/watch?v=ya-7U2nuD90

[2022-03-16 13:28] skkevinperson commented on #10184
+1, this should be embarrassing

[2022-03-16 13:29] serge-rider commented on #15388
Unfortunately it is not possible to filter by columns with empty name. Generally SQL restricts columns with empty names, it is SQL Server-specific issue.

Workaround: add column aliases:
[code]

[2022-03-16 13:37] LonwoLonwo commented on #15753
Is there something in the error logs? https://github.com/dbeaver/dbeaver/wiki/Log-files

And what commit mode do you have?

![2022-03-15 15_36_40-DBeaver Ultimate 22 0 0 - _postgres12local_ Script-170](https://user-images.githubusercontent.com/45152336/158379118-3b119990-4728-4cc1-8d0a-7d3312f4bbe5.png)

[2022-03-16 13:42] ShadelessFox commented on #15783
Hello @NikolayS,

Since this implementation is now bundled with DBeaver, we are free to make it the default one.

[2022-03-16 13:44] ShadelessFox commented on #15801
Hello @Karlodun,

Is your request the same as described in #12148?

[2022-03-16 13:45] LonwoLonwo commented on #14578
Thanks for the answer @mackers2

Can I close the ticket?

[2022-03-16 13:49] Matvey16 commented on #15829
Verified

[2022-03-16 13:49] #15829 closed, assigned to LonwoLonwo, Matvey16

[2022-03-16 13:56] minaguib commented on #14726
Using macOS Monterey 12.2.1 on Apple M1 Max

Ran into the same issue. Clicking on DBeaver to launch it gave me:
<img width="372" alt="image" src="https://user-images.githubusercontent.com/11226/158605325-af2d46f4-1a41-4b4a-9c94-ebfcdccf23d2.png">

I tried opening it from the CLI - got some more information that could help:
[code]

The app was downloaded from the web site, not installed via homebre

[2022-03-16 14:11] Destrolaric commented on #15820
@herbinator Hi, you can try to disable Hippie Engine autocompletion. It may cause lags with large scripts. If this will not solve the issue, please write back.
Window -> Preferences -> Editors -> SQL Editor -> Code Completion
![image](https://user-images.githubusercontent.com/20579256/158609076-d6b9c11d-af92-4e23-bee6-56297b5d9c32.png)
![image](https://user-images.githubusercontent.com/20579256/15

[2022-03-16 14:19] bobf32 commented on #15803
Thanks. I think I see the issue. I can execute in auto commit mode, and can surround the block with a separate BEGIN TRANSACTION; and COMMIT;

However, I notice that although I can hit Ctrl-Enter with the cursor on the COMMIT; and the the transaction will commit, if I do the same with the cursor on BEGIN TRANSACTION; I get a message at the bottom of the DBeaver window saying "Empty query string" a

[2022-03-16 14:21] bimbo1989 commented on #4445
Bumping this issue, the feature would be very welcome :)

[2022-03-16 14:29] LonwoLonwo commented on #15803
I'm not sure. I need to see the full statement. But maybe disabling this setting can help:

![2022-03-16 17_27_39-DBeaver Ultimate 22 0 0 - customer](https://user-images.githubusercontent.com/45152336/158613034-78853401-132f-4331-bfbd-0f8d9f59b0f9.png)

[2022-03-16 14:53] nikiromagnoli commented on #13976
Also, this will not cross-check datatypes, so for example numeric "1" won't highlight string "1" and viceversa.
![immagine](https://user-images.githubusercontent.com/5136855/158618698-5c47cd28-56ef-4dda-b770-a8e3e20a1a06.png)

[2022-03-16 14:54] #15388 closed, assigned to serge-rider, uslss

[2022-03-16 14:57] mackers2 commented on #14578
Please can it be fixed as it was for PostgreSQL or is that not possible?

[2022-03-16 14:59] ShadelessFox commented on #13976
Yes, it is type-aware. An enhancement can be created to highlight any occurrences of the value.

[2022-03-16 15:12] uslss commented on #13570
verified

[2022-03-16 15:12] #13570 closed, assigned to E1izabeth, uslss

[2022-03-16 15:25] uslss commented on #14904
verified

[2022-03-16 15:25] #14904 closed, assigned to uslss, ShadelessFox

[2022-03-16 15:26] LonwoLonwo commented on #14380
Ability to change unique and index types via UI implemented.

![2022-03-16 17_41_53-DBeaver Ultimate 22 0 0 - customer](https://user-images.githubusercontent.com/45152336/158621535-8fcd984d-dbe0-4d82-9899-036e5b60366c.png)

[2022-03-16 15:28] uslss commented on #13431
verified

[2022-03-16 15:28] LonwoLonwo commented on #15036
Ok, now we will first ask the database about the `is_external` column in the `sys.tables` and then use this column or not.

![2022-03-16 15_24_33-DBeaver Ultimate 22 0 0 - _postgres 13 3_Script-81](https://user-images.githubusercontent.com/45152336/158589441-faa04a0c-fbdf-43ee-bd49-99ccb601c29c.png)

[2022-03-16 15:31] dpsspatial commented on #15831
Thanks for your patience...!

In your animation, while you're selecting lines that are empty and likely a single ' '... hopefully the script I attached can demonstrate the issue. Keep in mind that if you aren't formatting with the 'insert line feed before comma' option checked, you won't notice the issue... my default formatting method is this way so I never have to look for a comma at the end of

[2022-03-16 15:40] Jerther opened #15867 "unwanted but valid keyword in aucocomplete popup"
**Is your feature request related to a problem? Please describe.**
I use dbeaver for a postgresql database, and I use autocomplete. The keywords dbeaver suggests are generally useful, but there is a "notnull" (no space) keyworkd that keeps popping up and is selected by default when I write "where x is not null" and while I can just select "null" or write the whole text manually or press space, I f

[2022-03-16 15:42] herbinator commented on #15820
yes disabling 'Hippie Engine autocompletion'  works very well

[2022-03-16 15:42] #15036 closed, assigned to uslss, LonwoLonwo

[2022-03-16 15:45] nikiromagnoli commented on #13976
Maybe as a sub-option?

Also, I noticed that color alpha is ignored. Don't know if expected or not, just a side note.

[2022-03-16 15:52] ShadelessFox commented on #13976
Yes, exactly.

Color transparency is not supported, unfortunately, so it is expected.

[2022-03-16 15:53] uslss commented on #14380
verified

[2022-03-16 15:53] #14380 closed, assigned to uslss, LonwoLonwo

[2022-03-16 16:22] spassignat commented on #15333
I was able to setup a custom mysql driver to connect through Hybrid Data Pipeline driver.

It seems to works, but the same solution does not work with oracle.

[2022-03-16 16:44] bobf32 commented on #15803
Disabling the setting did not work. The statement is simply:

```BEGIN TRANSACTION;```

To recreate the issue, place the cursor anywhere inside that statement and hit Ctrl-Enter.

[2022-03-16 17:29] LonwoLonwo commented on #15867
Hello @Jerther

As I can see in [PostgreSQL documentation](https://www.postgresql.org/docs/current/functions-comparison.html) - `NOTNULL` is a valid keyword.

![2022-03-16 20_27_04-DBeaver Enterprise 21 3 3 - _postgres_ Script-1](https://user-images.githubusercontent.com/45152336/158651236-4da3cb28-b4c7-423f-b027-c1814fbd5597.png)

[2022-03-16 17:56] Jerther commented on #15867
Hmmm, you're right... So the syntax is

`where x notnull`

Even more annoying ;)

Is there a way to remove or hide that keyword from the suggestion popup, even though it's valid?

[2022-03-16 18:57] Matvey16 commented on #15175
Verified

[2022-03-16 18:57] #15175 closed, assigned to Destrolaric, Matvey16

[2022-03-16 18:58] #15842 closed, assigned to Destrolaric

[2022-03-16 19:02] DodgeDeBoulet commented on #15117
This workaround seems to work for me as well, although the path is slightly different (no "roaming" subdirectory). Not sure if it will persist across a reboot of the VDI, but I'm sure I'll find out at some point.

[2022-03-16 19:52] bobf32 commented on #15803
I will close this issue and raise a new one for the ```BEGIN TRANSACTION;``` anomaly.

[2022-03-16 19:52] #15803 closed, assigned to LonwoLonwo

[2022-03-16 20:01] bobf32 opened #15868 "BEGIN TRANSACTION; does not get parsed correctly in SQL Editor"
#### System information:
- Windows 10 Pro build 19044.1586
- DBeaver version 21.1.4
- Additional extensions: No

#### Connection specification:
- Snowflake
- Driver name: Standard
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

```BEGIN TRANSACTION;``` statement does not appear to get parsed correctly in a SQL editor in certain circumstances.

##

[2022-03-16 20:24] NikolaCoder opened #15869 "Missing schema list for catalog/schema pop up"
#### System information:
- Operating system (distribution) and version
Windows 10
- DBeaver version
21.1.3
- Additional extensions

#### Connection specification:
- Database name and version Sybase ASE
- Driver name
Jconnect
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
No
#### Describe the problem you're observing:
Since this version the Catalog/Schema pop up shows the database list but noth

[2022-03-16 20:56] Karlodun commented on #15801
Yes! The descriptions differ too much, so I couldn't identify it. But yes, this is exactly the same issue.
How should we proceed with this topic? Close? Relink?

[2022-03-16 21:03] cyberbeat commented on #15036
Thanks, great

[2022-03-16 22:10] sayakc027 commented on #15700
Databricks Cluster Runtime is  7.3 LTS (includes Apache Spark 3.0.1, Scala 2.12)

[2022-03-16 22:10] sayakc027 commented on #15700
Databricks Cluster Runtime is 7.3 LTS (includes Apache Spark 3.0.1, Scala 2.12)

[2022-03-16 22:12] sayakc027 commented on #15700
Can you please help me with this step as this is my first time?
In the error, I can see "arrow" as part of the problem. You can try to disable this:
spark.sql.execution.arrow.pyspark.enabled false in the Spark Conf

[2022-03-17 00:48] ShadelessFox commented on #15801
I have renamed the mentioned issue a bit, so it now sounds more general.

Yes, I will leave a link and close this issue as a duplicate.

That doesn't mean we will not fulfill your initial request. We refer to all linked issues to be sure that we didn't miss anything.

[2022-03-17 00:49] ShadelessFox commented on #15801
Duplicate of #12148

[2022-03-17 00:49] #15801 closed, assigned to ShadelessFox

[2022-03-17 00:58] ShadelessFox commented on #15831
I wanted to ensure that line delimiters are the same as shown in preferences, and they indeed are the same.

Let's go the other way. Are you sure that formatting any other snippet results in a different output? Something like this should do the trick:
[code]

If not, maybe the behavior was changed in the previous versions of DBeaver?

[2022-03-17 02:06] ShadelessFox commented on #13431
Editing the filter on a valid query to become invalid hides the filter panel, and I believe this is NOT the expected behavior:

https://user-images.githubusercontent.com/35821147/158721952-4486b911-bda8-4024-8fbc-4cfa9e7ae060.mp4

There's no way to stop the automatic refresh if a database error occurs during refresh (simulated by dropping the selected table):

https://user-images.githubusercontent

[2022-03-17 02:41] SSSDNSY commented on #15654
@Matvey16

[2022-03-17 06:44] nickali2 commented on #15869
the issue still available in version 22

[2022-03-17 06:51] serge-rider commented on #13431
Last fix was reverted. We need filters in error panel.

[2022-03-17 06:58] LonwoLonwo commented on #15869
Hello.

Can the scheme be made default in Sybase? If not, why should schemas be shown if they cannot be chosen as default?

[2022-03-17 06:59] LonwoLonwo commented on #15867
No, sorry. The keywords returned the driver DBeaver shows in the pop-up list. There is no specific keywords list in DBeaver with the word 'NOTNULL'.

[2022-03-17 07:02] LonwoLonwo commented on #14578
We read PostgreSQL data types and much more information directly from a database. And we have many PG test environments. Unfortunately, we do not have an IRIS test environment. Perhaps someday, the test environment will appear, and we can do something.

[2022-03-17 07:05] aspatzier commented on #1399
Same for me - unable to edit table or column properties (while possible in other software like SQliteStudio)

[2022-03-17 07:47] serge-rider commented on #15804
Error says `Unable to execute HTTP request: Connection reset`. It usually means that there are some problems with network connection. Athena connects directly to aws (e.g. to `athena.us-east-2.amazonaws.com`).

Are you behind a corporate firewall? Maybe some network settings were changed on your Windows machine.

[2022-03-17 07:57] serge-rider commented on #13678
https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-connection-compression-xdevapi.html

[2022-03-17 08:01] serge-rider commented on #12630
DBeaver uses SHOW CREATE VIEW command to read view definition. unfortunately MySQL doesn't support any settings for this command.

[2022-03-17 08:11] fadzlan commented on #15766
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/8282540/dbeaver-debug.log)
[_.log](https://github.com/dbeaver/dbeaver/files/8282546/_.log)
[dbeaver-workspace.properties.txt](https://github.com/dbeaver/dbeaver/files/8282552/dbeaver-workspace.properties.txt)

Added `_` to `.log` file and `.txt` to `dbeaver-workspace.properties` to make it possible to upload to Github.

[2022-03-17 10:19] serge-rider commented on #1934
We need to test for performance degradation when "show whitespaces" is on

[2022-03-17 10:20] uslss commented on #13431
verified

[2022-03-17 10:20] #13431 closed, assigned to Destrolaric, uslss

[2022-03-17 10:25] ShadelessFox commented on #15429
Now new elements in the children can be created:

https://user-images.githubusercontent.com/35821147/158216770-95cd08bc-8c24-4a86-8f50-5cc4f3e30037.mp4

[2022-03-17 10:26] ShadelessFox commented on #1934
Implemented:

![java_GJBMPLnxnc](https://user-images.githubusercontent.com/35821147/158740433-07ba7233-d673-4b71-aab7-566a926cf23c.png)

Can be enabled in <kbd>Editors</kbd> &rArr; <kbd>Data Editor</kbd> &rArr; <kbd>Appearance</kbd> &rArr; <kbd>Grid</kbd> &rArr; <kbd>Show whitespace characters</kbd>.

[2022-03-17 12:30] sravikrishna3 commented on #15804
Thanks serge.

1.  I tried ping to athena.us-east-2.amazonaws.com on both windows (where the problem is) and Linux machine (where I don't see this problem with dbeaver).  it failed on both.  Actually ping just blocks forever without returning anything.
As far as I know , athena is a serverless service and hence there is no concept of a server or ip address.
We may have to try some other option.
2.

[2022-03-17 12:36] ShadelessFox opened #15876 "Create a wiki page about variables"
We need to write a brief overview of variables: what are they, how to use them, and where they are applicable.

[2022-03-17 12:57] bedub63 commented on #15381
It seems that there is a difference between Salesforce and Salesforce CDP. Promoting “Salesforce” connection drivers is misleading.

[2022-03-17 13:17] mackers2 commented on #14578
OK I see.  I work for Intersystems and asked a colleague who advised that there is a free version here:

https://community.intersystems.com/post/intersystems-iris-community-edition-now-available-docker-store

Docker link is:
https://hub.docker.com/_/intersystems-iris-data-platform

[2022-03-17 13:28] Jaiswalakshat20 commented on #15853
Issue is with my DBeaver session only as I am able to compile.with other team members but not sure how to resolve this as I have reinstall but issue persist.

[2022-03-17 13:29] Jaiswalakshat20 commented on #15853
![Uploading IMG_20220317_152759.jpg…]()

[2022-03-17 13:43] NilsDiet commented on #9875
I am using Snowflake with dbeaver as well and I am quite happy.
But I am facing exactly the same issues nlindner mentioned.
All our schema/table names have underscores so for auto completion and any meta operation dbeaver will try to fetch the columns for everything in the database instead of the actual object resulting into 30 seconds response time.
Not using the meta data at all is an workaround

[2022-03-17 13:53] Matvey16 opened #15878 "Loaded execution plan is not shown if there is no resultsets in SQL Editor"
#### System information:
- DBeaver version 22.0.1

#### Steps to reproduce, if exist:
1. Save an execution plan
2. Close all result tabs in SQL Editor
3. In context menu select Load Execution plan

**Expected:** Execution plan tab is opened
**Actual:** Looks like nothing happened, but executing a select after that will open both the resultset and previously loaded execution plan

![dbeaver_VgMVs94

[2022-03-17 14:07] E1izabeth commented on #15868
Thank you for the bug report!

[2022-03-17 14:27] flambchap commented on #6876
I think we can try implementing the approach proposed by @Kavarenshko.

[2022-03-17 15:19] dpsspatial commented on #15831
That formatting works, but is basically just hiding the block behind the comma so you don't realize its there;

select
    1, ∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎
    2, ∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎
    3, ∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎
    4;

With 'insert line feed before comma' is doing this:

select
	1
	, ∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎∎

[2022-03-17 15:30] Jerther commented on #15867
So it comes from the driver. I took a quick look around the [JDBC documentation for postgres](https://jdbc.postgresql.org/documentation/head/) and I couldn't find anything related to keywords. Well anyway, if dbeaver does not provide some kind of "blacklist" or "whitelist" for SQL keywords, I might as well give up on this.

[2022-03-17 15:47] bobf32 commented on #15868
@E1izabeth You're very welcome. Thanks for addressing it :)

[2022-03-17 15:58] LonwoLonwo commented on #15867
DBeaver has this kind of list of extra keywords, but 'NOTNULL' is not in this list.
https://github.com/dbeaver/dbeaver/blob/devel/plugins/org.jkiss.dbeaver.ext.postgresql/src/org/jkiss/dbeaver/ext/postgresql/model/PostgreDialect.java

[2022-03-17 15:59] #15867 closed, assigned to nobody

[2022-03-17 16:28] serge-rider opened #15880 "Migrate to Eclipse 2022-03"
Time has come

[2022-03-17 16:47] fjf2002 opened #15881 "postgres function owner / change owner?"
Concerning Postgres databases:

1. As far as I can tell, the function owner is not shown (as is in other database objects).
2. Even better, a possibility to change database object owners would be great (or is it on me, can't just I find it?)

[2022-03-17 16:52] CristiFS commented on #15880
So that means that dbeaver plugin doesn't work with latest eclipse 2022-03? I'm using windows 10 I tried installing it from Marketplace and I get a
Cannot complete the install because one or more required items could not be found.
  Software being installed: DBeaver IDE 22.0.0.202203060510 (org.jkiss.dbeaver.ide.feature.feature.group 22.0.0.202203060510)
  Missing requirement: Bouncy Castle PKIX,

[2022-03-17 17:10] oradwell commented on #9799
it can also happen if your server host has a protocol (e.g. "http://localhost". should be just "localhost")

[2022-03-17 18:20] kevinquillen commented on #15381
Getting this same error.

[2022-03-17 19:38] bitadmiral commented on #14625
Hi Dbeaver Team,

I tested DBeaver EA version 22.0.1 and I'm very pleased with the results.

In the new version, it took under 5 seconds to expand the Tables node in the schema explorer.  In older version 21.2.4, the exact same operation (identically configured connection, expanding Tables node under the same schema, it took 5 minutes!  This is a vast improvement.

Thank you very much!  I really l

[2022-03-17 19:53] bitadmiral commented on #14625
I also tested auto-completion in the SQL editor...

The DB user I'm testing with has access to a large number of schemas.  I tried performing auto-completion in the SQL editor on a table without qualifying it with the schema name, and it returned proposals within a few seconds in the new 22.0.1 version.  The exact same operation in older DBeaver took well over three minutes.

`SELECT * FROM TrxLin

[2022-03-17 20:07] bitadmiral commented on #14625
One small thing I've noticed is some strange behavior with auto-completion.  Sometimes it interpolates the selected proposal incorrectly.  For example, here are the proposals:

![image](https://user-images.githubusercontent.com/94631506/158885723-09e7e344-346d-4727-a444-a3f1b4af1d90.png)

Result after hitting Enter:
`SELECT * FROM prodarch3_stage.TrxLine ne`

In this case it added the wrong alias.

[2022-03-17 23:51] NikolaCoder commented on #15869
Yes - the schema can be made default. The issue is this popup is used to select database and because it's expecting to see a schema in the right pane, it is impossible to select a database. The popup dialog is broken for Sybase connections from this version forward ( incl V22 )

[2022-03-18 04:54] LonwoLonwo commented on #14625
Thanks for the investigation and the answer @verticauser810

I will look into the `strange behavior with the auto-completion` issue.

[2022-03-18 06:39] SSSDNSY commented on #15654
The dbeaver is very useful software for everyone. addtionally,how to contribute code for dbeaver or solve some problem for community ，would you give me some suggestion ? (emm... ignore my poor English level  )
thanks ~

[2022-03-18 07:06] serge-rider commented on #15880
This ticket about migrating DBeaver to a new platform, it is not just about Eclipse 2022-03 compatibility. Mostly it affects standalone version.
We didn't test it as eclipse plugin yet (2022-03 was released just yesterday).

[2022-03-18 08:09] kseniiaguzeeva opened #15885 "Top filter doesn't work when an alias is used for column name in the ResultSet"
#### System information:
- DBeaver version 22.0.0

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:

1. Execute a select statement with a column alias (e.g. for pagila `select t1.acc_code as acc, t2.customer_id as cus from public.account t1, public.customer t2 where t1.acc_id = t2.customer_id`)
2. Apply a filter in the top filter field

**Ex

[2022-03-18 08:12] Destrolaric commented on #15820
We will look at how performance can be improved.

[2022-03-18 08:53] Matvey16 opened #15886 "Hyphen in table name doesn't allow to use a hyperlink in SQL Editor"
#### System information:
- DBeaver version 22.0.1

#### Steps to reproduce, if exist:
1. Create a table with a hyphen in it's name. e.g. `new-table`
2. Type a select with a table's name in SQL Editor
4. Press Ctrl on a keyboard and hover mouse cursor above the table name

**Expected:** The name becomes a hyperlink and can be clicked
**Actual:** The name can't be clicked

![dbeaver_YQ4MfvDhGO](http

[2022-03-18 08:58] aleksandr-shevchenko opened #15887 "Preferences - some tabs has incorrect font size (very small)"
preferences - general - install/update - trust
preferences - general - workspace - build
preferences - connections - connection types
preferences - connections - drivers
preferences - connections - drivers - classpath
preferences - connections - drivers - maven
preferences - connections - drivers - postgresql
preferences - editors
preferences - editors - data editor - binaryl editor - hex editor
p

[2022-03-18 10:05] chengwhynot commented on #11931
Hi I've set -Xmx4096m in dbeaver.ini, when I try to export an 230GB TiDB to local postgresDB, it still raise 'java heap ... ' exception.

any ideas on this issue?
thanks

[2022-03-18 11:34] Matvey16 commented on #15878
Duplicate #15375

[2022-03-18 11:34] #15878 closed, assigned to nobody

[2022-03-18 12:01] ShadelessFox commented on #15886
Seems similar to #12043

[2022-03-18 12:45] Palshyn46 commented on #1453
@dmxunlimit thank you. That works for me without changing system settings!

[2022-03-18 13:50] eric-daitan opened #15889 "Labels "Description" and "Settings" overlapping in Edit Driver Panel"
#### System information:
- Operating system (distribution) and version: Linux 5.14.0-1027-oem 30-Ubuntu SMP Mon Mar 7 15:00:29 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
- DBeaver version: 22.0.0.202203060510
- Additional extensions

#### Connection specification:
- Database name and version: PostgreSQL
- Driver name: PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : Yes

#### Describe

[2022-03-18 13:51] sravikrishna3 commented on #15804
Here is one more proof that from my corporate laptop is not behind any firewall to stop me from connecting to Athena.
![nc_to_athena](https://user-images.githubusercontent.com/44801660/159015052-554807b4-af46-4fd7-a941-c5c242bffdbf.png)

[2022-03-18 13:51] sravikrishna3 commented on #15804
I ran the above command from the bash shell of my Windows laptop.

[2022-03-18 13:59] arvillion commented on #15839
Hello, @ShadelessFox . I'd like to work on this issue.

[2022-03-18 14:37] ShadelessFox commented on #15839
Hello @arvillion,

We are open to contributions!

You can read more about the development process in our wiki: https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse

[2022-03-18 15:07] ShadelessFox commented on #15889
Hello @eric-daitan,

That's weird because there's no such label `Description` on this page whatsoever (as on other pages).

![java_86PKJOhonW](https://user-images.githubusercontent.com/35821147/159028512-3b57395c-63a1-49a4-a8ad-46db84c7aa36.png)

Does reopening this dialog solve the issue?

[2022-03-18 15:19] stollr opened #15890 "Wiki article "Develop in Eclipse" misses information about workspace"
I am not sure if this is the correct place to report issues in the Wiki. But I will try anyway :-)

I am a complete newbie in things of Java development. But I want to debug an issue that seem to exist only on my machine.
I followed this guide https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse to setup Eclipse and run DBeaver.

When it comes to step 6 ("Check out the DBeaver repository som

[2022-03-18 15:21] arvillion commented on #15839
It seems that the problem occurs that when the cursor is put at the head of commands like `@set col1 = '1'`, because then the program will mistake the current script element.

I found that commands like `@set col1 = '1'` are recognized as token of type `SQLTokenType.T_CONTROL`. This kind of token will set the variable `isDelimiter` to true and cause the problem in the following code.

So my idea i

[2022-03-18 15:28] ShadelessFox commented on #15839
AFAIK this type of token is used only for such control statements, so it should be fine.

You can submit your PR addressing this issue :)

[2022-03-18 15:49] dabocla commented on #15458
I'll run your queries now.

[2022-03-18 16:18] java2job opened #15892 "Folder drag issue with navigation window 导航窗口的文件夹拖动问题"
当导航界面都只有文件夹时，无法将二级文件夹拖出来变成一级文件夹。 例如下图，“test”文件夹没办法拖出来和“boc”同级。
When there are only folders in the navigation interface, the second-level folder cannot be dragged out to become the first-level folder. For example, in the figure below, the "test" folder cannot be dragged out and is at the same level as "boc".
![image](https://user-images.githubusercontent.com/37571203/159041851-43596353-36b7-4439-9c

[2022-03-18 16:36] dabocla commented on #14625
I am on a mac, but I am excited to see the new version that's released.  I love the idea of pulling comments until requested.  All I care a bout is a quick list of tables / columns so that auto complete will work more effectively.  Your change looks promising.

[2022-03-18 17:24] dabocla commented on #15458
I have been running your queries.  The bottom one without the joins consistently takes under 20 seconds, which is much more reasonable.  The top ones with the joins, my patience usually runs out around 600 seconds.  The most recent time I allowed it to finish, it took 772 seconds.

Out of curiosity, I did a select count(1) from v_catalog.comments and it took 632 seconds to tell me that there were

[2022-03-19 05:43] detkliff opened #15893 "wrong describe and permission in create function script"
postgresql 12
DBeaver 22.0.0

![image](https://user-images.githubusercontent.com/61137576/159108849-e1591fd7-e7c8-4e37-86c2-06cabc9b2dd3.png)
in this example only one function parameter.
"in" and "out" parameter together in function parameters it is wrong, it is error!

[2022-03-19 06:21] ThadeusAnand opened #15895 "Performance issue with table data preview during import/export"
In the data transfer wizard, in the Tables Mapping screen, we have a Preview Data button.

When we click on this button, the preview is supposed to fetch only 100 rows.

But if the table is huge, the preview takes too long. Looks like it is trying to scan the entire table before fetching 100 rows.

Sometimes we accidentally click the preview button and end up waiting for a long time.

I once cance

[2022-03-19 13:00] LonwoLonwo commented on #15458
Hello @dabocla

Please test Vertica table loading performance in our [Early Access](https://dbeaver.io/files/ea/) version. It will be beneficial for us. Table loading performance was improved in this ticket https://github.com/dbeaver/dbeaver/issues/14625

[2022-03-19 13:02] LonwoLonwo commented on #15458
[Early Access](https://dbeaver.io/files/ea/) version is now available for Mac users.

[2022-03-20 10:56] AqlaSolutions opened #15899 "SSH key password is not asked, auth fail"
Version: 22.0.0.

I have a posgtresql connection with ssh tunnel. No password is stored neither for SSH key nor for db. When I try to connect there I'm asked for a db username (which is stored and pre-filled) and one password.

If I input DB password there I see "Can't initialize tunnel: Auth fail" error.

If I input SSH key password there instead then I see an error: "The server requested passwor

[2022-03-20 11:52] flambchap commented on #13067
Exasol's system tables contain definitions for views and scripts, so we can teach DBeaver to look for these objects by definitions.

[2022-03-20 21:25] guardiande commented on #15489
Same here. I just upgraded to 22.0.1 hoping that it would resolve the issue but no dice.

I'm running on Win 10 connecting to a local Postgres database.

The responses are not always slow but even if they're quick the completed table names screw with what I had typed before.

Reducing the settings in the Query Manager seemed to help but testing around more makes me think it was wishful thinking.

[2022-03-21 06:06] AllenGFLiu commented on #9173
[#1745](https://github.com/dbeaver/dbeaver/issues/1745) said they add **some options on the Import Wizard screen**， but still no **options** in Export Resultset screen , so the problem still exists.

[2022-03-21 08:34] ikartavyi commented on #5442
Please, take a look at this request. This problem limits BigQuery usage so much with complex data sources!

[2022-03-21 08:48] wwwald commented on #1367
I'm also seeing this in current version 22.0.1.

A bit of rearranging an ERD diagram quickly results in diagrams like this:
![image](https://user-images.githubusercontent.com/39531/159228965-6130b682-e398-49e3-a683-27c497b84ee2.png)

I've circled some of the "fixed" connector nodes in red.

Can we do something to make some progress with this issue?

[2022-03-21 08:59] Matvey16 opened #15901 "Script task can't be executed for connections with SYS user"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.1

#### Connection specification:
- Database name and version Oracle

#### Describe the problem you're observing:
Task with SQL*plus script can't be completed because sqlplus can't login

#### Steps to reproduce, if exist:
1. Create a connection with SYS user
2. Create a Oracle SQL*Plus script task

[2022-03-21 09:51] maptile opened #15903 "Can not connect to MSSQL server and Postgres after upgrade to 22.0.1"
#### System information:
- Operating system (distribution) and version: Ubuntu 21.10
- DBeaver version: 22.0.1.202203181646
- Additional extensions: no

#### Connection specification:
- Database name and version: Don't know
- Driver name: MSSQL and Postgres
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no

#### Describe the problem you're observing:

I'm using 22.0.0 snap, this version is p

[2022-03-21 10:20] uslss commented on #15899
@AqlaSolutions , unfortunately cannot reproduce the issue. Did you uncheck Save password option both at connection and SSH tabs?
![image](https://user-images.githubusercontent.com/31996417/159242343-83276351-0a8a-4890-8a4d-3c59a7fad53b.png)
![image](https://user-images.githubusercontent.com/31996417/159242414-2b82611d-c28a-4ce1-89fc-18540fda0bb9.png)

[2022-03-21 10:21] ShadelessFox commented on #15889
As it turned out, there was a hidden group underneath:

![image](https://user-images.githubusercontent.com/35821147/159138224-8df9caea-604b-4888-94ad-6245001747fd.png)

[2022-03-21 10:23] ShadelessFox commented on #15556
We already have a mechanism for resolving POM properties. The only missing property was the `project.parent.version`.

[2022-03-21 10:24] uslss commented on #15893
thanks for the report
probably related with #14196

[2022-03-21 10:30] uslss commented on #15892
thanks for the report

[2022-03-21 10:37] michal-bartak commented on #15848
I recorded a video with OBS but it doesn't show the popup itself, neither while recording DBeaver window nor whole screen. Strange.
But you can clearly see, that DBeaver window looses focus (see top bar color change). I admit it's not enough to be the proof but maybe will give you an idea.
On the video I am periodically kicking on 'v' key. At some point I'm forcing re-connection, still clicking on

[2022-03-21 10:41] uslss commented on #15887
@aleksandr-shevchenko what dbeaver version and OS do you use?

[2022-03-21 10:56] timxsarus opened #15904 "Less obtrusive Problems-window"
**Is your feature request related to a problem? Please describe.**
Since installing version 22.0.1.202203181646 the Problems-windows behaves differently.
- It opens over the sql-editor window once the user executes a query with a syntax error (or any other problem) partly obscuring the query.
- It claims focus.
- It displays the errors in a collapseable list and leaves it collapsed.

This behaviou

[2022-03-21 11:25] AqlaSolutions commented on #15899
Yes, they are both unchecked.

In SSH tab you need to specify host, port, user, auth method: public key, private key file path.

[2022-03-21 11:45] DmitryMaletin commented on #5536
I have the same issue with latest DBeaver & latest driver for snowflake.

[2022-03-21 12:13] aleksandr-shevchenko commented on #15887
Win10, latest version of DBeaver.
preferences - user interface - appearance - colors and fonts - I set "dialog font" to "Dejavu Sans Mono 14", but not all tabs changes own font.

[2022-03-21 12:25] esmin opened #15905 "DDL for partitions for partitioned tables on postgresql 10+"
#### System information:
- Operating system: any

#### Connection specification:
- PostgreSQL 10+ (partition support)

#### Describe the problem you're observing:
DDL for partitioned table does not include partitions DDL. PostgreSQL does not create partitions automatically
![image](https://user-images.githubusercontent.com/6398941/159259060-58008461-b9d3-4da3-b1b0-e5e8506b0663.png)
Expected: DDL s

[2022-03-21 12:34] Zabbah opened #15906 "Cannot load .sql file "input length = 3""
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 22.0.1
- Additional extensions

#### Connection specification:
- Database name and version: Oracle 11g
- Driver name: Thin
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

I cannot import some SQL scripts, some work some don't. When they don't, I'

[2022-03-21 12:36] fjf2002 opened #15907 "postgresql drop function with RETURNS TABLE fail"
#### System information:
- Operating system (distribution) and version: Windoze 10
- DBeaver version: 22.0.0

#### Describe the problem you're observing:
PostgreSQL: Drop Function will fail if the function has a RETURNS TABLE clause (i. e. has out parameters).

#### Steps to reproduce, if exist:
[code]
Trying to delete that function in DBeaver will fail with:

_SQL-Fehler [42883]: FEHLER: Funktion

[2022-03-21 13:50] E1izabeth commented on #10615
This bug comes from Eclipse platform itself. It can be tracked here https://bugs.eclipse.org/bugs/show_bug.cgi?id=371397

[2022-03-21 14:04] TuTAH1 opened #15909 "[Question] proper table renaming sql server"
**Is your feature request related to a problem? Please describe.**
Renaming a table just renames a table. Anything related to this tablename becomes broken

**Describe the solution you'd like**
Renaming a table changes anything where tablename acts (as stored procedures)

[2022-03-21 14:31] E1izabeth commented on #13663
Seems it's an Eclipse bug. It can be tracked here https://bugs.eclipse.org/bugs/show_bug.cgi?id=536041

[2022-03-21 14:40] Jqnxyz commented on #10945
Reproduceable on v22.0.0.202203060510 on macOS 12.3

[2022-03-21 16:42] DariaMarkaryan opened #15911 "[Firebird] Error when sorting by function column in the grouping panel"
#### System information:
- Win11
- DBeaver CE 21.0.1

#### Connection specification:
- Firebird

#### Describe the problem you're observing:
Can't sort column in the grouping panel that is represent grouping panel's functions such as COUNT(), SUM(), MAX(), etc..

#### Steps to reproduce, if exist:
1. Open table in the firebird db
2. Open grouping panel
3. Draag and drop one column from the data ed

[2022-03-21 17:00] RamonCar66 opened #15912 "feature request: data editor: option to prevent using "all columns" as key in data editor"
When you're editing the data in the result set from a query, and the result set does not contain the primary key, dbeaver alerts you that data beyond what is shown maybe modified.

![image](https://user-images.githubusercontent.com/65061885/159316862-f093b7b0-7f81-4c30-85e8-0d46dbd97af9.png)

However, it still allows you to press the button "Use All Columns" !

This has caused a big problem in the

[2022-03-21 18:38] DariaMarkaryan opened #15913 "Can select unnecessary objects in custom ERD creation window"
#### System information:
- Win11
- DBeaver CE 21.0.1

#### Describe the problem you're observing:
Due to the fact that only Views and Tables can be displayed in the ERD, all other objects shouldn't be displayed here
![image](https://user-images.githubusercontent.com/43252954/159340411-2c566958-6351-4056-94b5-790d1fa28a65.png)

#### Steps to reproduce, if exist:

1. Go to the main menu File -> New

[2022-03-21 19:02] cyriac-george opened #15914 "Foreign key relationship for some tables are lost in graphml export"
#### System information:
- Operating system (distribution) and version: macOS Monterey 12.2.1 (21D62)
- DBeaver version: Version 22.0.1.202203181646
- Additional extensions: None

#### Connection specification:
- Database name and version: Oracle 21c
- Driver name:
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Describe the problem you're observing:
A few foreign key relationships i

[2022-03-21 20:48] DariaMarkaryan opened #15915 "[H2] Can't add data to JSON column"
#### System information:
- Win11
- DBeaver CE 21.0.1

#### Connection specification:
- H2 v2 Embedded

#### Describe the problem you're observing:
Can't add data to JSON column

#### Steps to reproduce, if exist:
Open or create a table with JSON column. Try to add some valid json data

#### Include any warning/errors/backtraces from the logs
![image](https://user-images.githubusercontent.com/43252

[2022-03-21 21:23] DariaMarkaryan opened #15916 "[H2] Wrong UUID icon"
#### System information:
- Win11
- DBeaver CE 21.0.1

#### Connection specification:
- H2 v2 Embedded

#### Describe the problem you're observing:
UUID icon should look like this:
![image](https://user-images.githubusercontent.com/43252954/159365333-7d53d252-d399-4031-ac67-2014479adfe6.png)

But in H2 it looks like this:
![image](https://user-images.githubusercontent.com/43252954/159365447-d134cb8

[2022-03-21 21:56] KornelPudlo opened #15917 "Cannot connect to ORCL database"
Hi,

I just downloaded DBeaver and I'm trying to connect to ORCL database.

Basically...not sure what to do. It seems that all drivers are fine.

Any suggestions?

![image](https://user-images.githubusercontent.com/102041440/159369807-3a000e6e-88ca-49af-80d7-1f4761568d65.png)

FYI : I am just beginning my journey with databases and DBeaver so please be understanding.

Thx,
Geo

#Dbeaver

[2022-03-21 22:02] DariaMarkaryan opened #15918 "[H2] DDL can't be generated for system views"
#### System information:
- Win11
- DBeaver CE 21.0.1

#### Connection specification:
- H2 v2 Embedded

#### Describe the problem you're observing:
In default views in H2 you can see an error:
![image](https://user-images.githubusercontent.com/43252954/159370257-2eb4ab44-2f1d-475d-bebc-d9e780cc9ec7.png)
(In the new created views you can see a DDL correctly)

#### Steps to reproduce, if exist:
Open

[2022-03-22 02:03] rafaelmartines opened #15920 "DBeaver on Ubuntu 21.10 and 22.04 has huge title bar and buttons"
#### System information:
- Operating system (distribution) and version: Ubuntu Jammy Jellyfish (development branch) x86_64 and Ubuntu Impish Indri x86_64
- DBeaver version: 22.0.1
- Window System: Wayland

#### Describe the problem you're observing:

DBeaver on Wayland sessions is showing a huge titlebar and huge buttons (minimize, maximize and close)

![image](https://user-images.githubuserconten

[2022-03-22 05:00] soheekim911 commented on #10615
Oh, I see. It has been 10 years since the first report but hasn't been fixed. Thanks anyway.

[2022-03-22 05:37] Matvey16 opened #15921 "Import wizard ignores existing data types while DDL is generated"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.1

#### Connection specification:
- Database name and version PostgreSQL

#### Describe the problem you're observing:
Import wizard automaps table to be created even if another relation (e.g. data type) with that name already exists

#### Steps to reproduce, if exist:
1. Create a CSV file with a nam

[2022-03-22 06:25] warcayac commented on #1774
@rmtsrc,  I'm using v22.0 on Manjaro Linux, I edited this file with your content:
`~/.local/share/DBeaverData/workspace6/.metadata/.plugins/org.jkiss.dbeaver.ui.editors.data/dialog_settings.xml`
After opening DBeaver nothing changed.

[2022-03-22 07:06] kseniiaguzeeva opened #15922 "Context menu filter doesn't work properly for geometry values"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.0

#### Connection specification:
- Database name and version PostgreSQL

_Case 1_
#### Steps to reproduce, if exist:
1. Open a table with geometry values in the ResultSet
2. Apply a filter to a geometry column via the context menu

**Expected**: the filter is applied
**Actual result**: the error ap

[2022-03-22 07:15] Matvey16 commented on #1934
Verified

[2022-03-22 07:15] #1934 closed

[2022-03-22 07:28] Matvey16 commented on #14953
Verified

[2022-03-22 07:50] uslss commented on #15907
thanks for the report

[2022-03-22 07:55] uslss commented on #15906
@Zabbah unfortunately, cannot reproduce it. Probably you could provide some sample SQL file that doesn't open?

[2022-03-22 08:00] uslss commented on #15904
@timxsarus unfortunately, cannot reproduce it. Could you provide a video with the issue?

[2022-03-22 08:04] uslss commented on #15917
probably, something helpful could be found here https://community.oracle.com/tech/developers/discussion/4339528/io-error-the-network-adapter-could-not-establish-the-connection-in-sql-developer

[2022-03-22 09:20] Matvey16 commented on #15889
Verified

[2022-03-22 09:20] #15889 closed, assigned to ShadelessFox, Matvey16

[2022-03-22 09:32] LonwoLonwo commented on #15911
It seems that the FireBird does not support sorting by COUNT column.

![2022-03-22 12_28_41-Event](https://user-images.githubusercontent.com/45152336/159449899-b97f96cf-e319-4551-8e45-7a82a8af8969.png)

![2022-03-22 12_29_26-DBeaver Ultimate 22 0 1 - ALBUM](https://user-images.githubusercontent.com/45152336/159449917-5dbe92e1-1c78-427a-b6c4-3ff903857f91.png)

[2022-03-22 09:41] LonwoLonwo commented on #15907
Hello @fjf2002

Thanks for the bug report.
This issue will be fixed in the next release (22.0.2): https://github.com/dbeaver/dbeaver/issues/15563
I will close this ticket as duplicate.

[2022-03-22 09:41] #15907 closed, assigned to nobody

[2022-03-22 09:44] LonwoLonwo commented on #15905
Thanks for the idea @esmin

[2022-03-22 09:58] LonwoLonwo commented on #15881
Thanks for the idea @fjf2002

No, you can't change owner for the PG object via UI in DBeaver.
We will implement this opportunity.

[2022-03-22 10:18] uslss commented on #15135
@sandeshk89 , could you please check if the issue is still reproducible for you against 22.0.1?

[2022-03-22 10:34] #14664 closed, assigned to nobody

[2022-03-22 10:38] uslss commented on #14737
There has been no update on the issue for a long time. if it is still actual - feel free to reopen it

[2022-03-22 10:38] #14737 closed, assigned to mayerro

[2022-03-22 10:38] uslss commented on #13334
There has been no update on the issue for a long time. if it is still actual - feel free to reopen it

[2022-03-22 10:38] #13334 closed, assigned to Matvey16

[2022-03-22 10:40] uslss commented on #15084
There has been no update on the issue for a long time. if it is still actual - feel free to reopen it

[2022-03-22 10:40] #15084 closed, assigned to nobody

[2022-03-22 10:40] uslss commented on #15109
There has been no update on the issue for a long time. if it is still actual - feel free to reopen it

[2022-03-22 10:40] #15109 closed, assigned to nobody

[2022-03-22 10:41] #15146 closed, assigned to nobody

[2022-03-22 10:41] uslss commented on #15150
There has been no update on the issue for a long time. if it is still actual - feel free to reopen it

[2022-03-22 10:41] #15150 closed, assigned to nobody

[2022-03-22 10:43] KornelPudlo commented on #15917
Seems to be fixed.
Closing the case

[2022-03-22 10:43] #15917 closed, assigned to nobody

[2022-03-22 10:46] uslss commented on #15198
There has been no update on the issue for a long time. if it is still actual - feel free to reopen it

[2022-03-22 10:46] #15198 closed, assigned to nobody

[2022-03-22 10:46] uslss commented on #15216
There has been no update on the issue for a long time. if it is still actual - feel free to reopen it

[2022-03-22 10:46] #15216 closed, assigned to nobody

[2022-03-22 10:47] uslss commented on #15239
There has been no update on the issue for a long time. if it is still actual - feel free to reopen it

[2022-03-22 10:47] #15239 closed, assigned to nobody

[2022-03-22 10:48] #15251 closed, assigned to nobody

[2022-03-22 10:57] uslss commented on #15229
@woxiangbo , sorry for the late response. Could you check if it is still present for you against 22.0.1?

[2022-03-22 10:59] uslss commented on #15296
seems the issue is fixed in the scope of #15365

[2022-03-22 10:59] #15296 closed, assigned to nobody

[2022-03-22 11:00] uslss commented on #15330
There has been no update on the issue for a long time. if it is still actual - feel free to reopen it

[2022-03-22 11:00] #15330 closed, assigned to nobody

[2022-03-22 11:00] uslss commented on #15302
There has been no update on the issue for a long time. if it is still actual - feel free to reopen it

[2022-03-22 11:00] #15302 closed, assigned to nobody

[2022-03-22 11:00] uslss commented on #15256
There has been no update on the issue for a long time. if it is still actual - feel free to reopen it

[2022-03-22 11:00] #15256 closed, assigned to nobody

[2022-03-22 11:01] uslss commented on #15373
There has been no update on the issue for a long time. if it is still actual - feel free to reopen it

[2022-03-22 11:01] #15373 closed, assigned to nobody

[2022-03-22 11:04] uslss commented on #15327
There has been no update for a long time. If the issue is still present, feel free to reopen it.

[2022-03-22 11:04] #15327 closed, assigned to nobody

[2022-03-22 11:06] uslss commented on #15398
It seems something is going wrong with query syntax. Do you use UI or SQL editor for column creation?

[2022-03-22 11:07] uslss commented on #15407
There has been no update for a long time. If the issue is still present, feel free to reopen it.

[2022-03-22 11:07] #15407 closed, assigned to nobody

[2022-03-22 11:12] uslss commented on #15401
Unfortunately, still cannot reproduce it. Is the issue still present in 22.0.1?
![image](https://user-images.githubusercontent.com/31996417/159469067-ed2ef21c-07cc-4558-8d88-061533fe5de4.png)

[2022-03-22 11:14] #15415 closed, assigned to nobody

[2022-03-22 11:14] #15299 closed, assigned to nobody

[2022-03-22 11:15] uslss commented on #15351
There has been no update for a long time. If the issue is still actual, feel free to reopen it.

[2022-03-22 11:15] #15351 closed, assigned to nobody

[2022-03-22 11:16] #15439 closed, assigned to nobody

[2022-03-22 11:19] uslss commented on #15480
There has been no update for a long time. If the issue is still present, feel free to reopen it.

[2022-03-22 11:19] #15480 closed, assigned to nobody

[2022-03-22 11:20] uslss commented on #15552
There has been no update for a long time. If the issue is still present, feel free to reopen it.

[2022-03-22 11:20] #15552 closed, assigned to nobody

[2022-03-22 11:21] #15530 closed, assigned to nobody

[2022-03-22 11:22] uslss commented on #15594
There has been no update for a long time. If the issue is still present, feel free to reopen it.

[2022-03-22 11:22] #15594 closed, assigned to nobody

[2022-03-22 11:22] #15561 closed, assigned to nobody

[2022-03-22 11:23] uslss commented on #15582
There has been no update for a long time. If the issue is still present, feel free to reopen it.

[2022-03-22 11:23] #15582 closed, assigned to nobody

[2022-03-22 11:23] #15583 closed, assigned to nobody

[2022-03-22 11:23] uslss commented on #15583
There has been no update for a long time. If the issue is still present, feel free to reopen it.

[2022-03-22 11:24] #15557 closed, assigned to nobody

[2022-03-22 11:31] uslss commented on #15536
If I understand you correctly, an object filter shortcut also could be assigned In Preferences. You could bind needed shortcut and change when condition to DB navigator context in preference
![image](https://user-images.githubusercontent.com/31996417/159472331-fa58e3af-c2d5-4b95-bf88-d8e13e8c9c64.png)

[2022-03-22 11:31] #15536 closed, assigned to nobody

[2022-03-22 11:32] Zabbah commented on #15906
@uslss I think I have found the cause: If the sql file has a character with accent mark, like á, é, í, ó, ú, it gives an error.
This didn't happen in version 21.3.2 and olders.

[Samples.zip](https://github.com/dbeaver/dbeaver/files/8323938/Samples.zip)

[2022-03-22 11:32] #15608 closed, assigned to nobody

[2022-03-22 11:33] #15657 closed, assigned to nobody

[2022-03-22 11:34] #15612 closed, assigned to nobody

[2022-03-22 11:35] #15686 closed, assigned to nobody

[2022-03-22 11:36] GiuseppeMusso-Laser commented on #15401
Yes, it is but I created a new connection using the out-of-the-box Oracle Driver of DBeaver.
It works fine so it is no more a big problem for me.

[2022-03-22 11:40] Matvey16 opened #15937 "Datatype name aliases are shown instead of original names"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.1

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
1. Create a table with a column of double precision type
2. Open table properties and look at columns or DDL

**Expected:** Colum type is shown as double precision
**Actual:** Column type is

[2022-03-22 11:47] LonwoLonwo commented on #15401
Thanks for the answer and investigation @GiuseppeMusso-Laser

[2022-03-22 11:47] #15401 closed, assigned to nobody

[2022-03-22 11:48] binodkalathil commented on #15536
@uslss That doesn't seem to work 🤔

What I am saying is that we need to focus on this text box with a keyboard shortcut

![image](https://user-images.githubusercontent.com/4425339/159475872-17a26737-fa98-44ea-914f-fed16fef3d91.png)

[2022-03-22 11:52] Zabbah commented on #15906
I think I have found the cause: If the sql file has a character with accent mark, like á, é, í, ó, ú, it gives an error.
This didn't happen in version 21.3.2 and olders.

[2022-03-22 13:58] Destrolaric commented on #12559
@plotn, Hi, can you tell me more details about your VPN, does it have firewall or proxy? I tried to reproduce this issue with multiple VPN setups and it worked correctly.

[2022-03-22 14:02] plotn commented on #12559
Hi! Did logs help or not? I use Check Point mobile software

[2022-03-22 14:08] Destrolaric commented on #12559
In logs, there is information that the connection was spoiled. But it's hard to determine why it couldn't reconnect.

[2022-03-22 14:11] Destrolaric commented on #12559
@plotn Problem may be related to the proxy. Does your VPN has a proxy server configured?

[2022-03-22 17:10] LonwoLonwo commented on #15359
Hello @GITMichaelK

As I can see on your picture, you have read-only columns - they have little orange circle on the column name.
I'm not sure about "Datum" column, but "^Name" column is generated. It is changed "Vorname" column, yes. But usually DBeaver nothing knows about original column in this case, because not all drivers can return this info.
And since DBeaver does not know which column is o

[2022-03-22 19:53] LBeaulaton opened #15941 "eclipse 2022-03 compatibility"
So that means that dbeaver plugin doesn't work with latest eclipse 2022-03? I'm using windows 10 I tried installing it from Marketplace and I get a
Cannot complete the install because one or more required items could not be found.
  Software being installed: DBeaver IDE 22.0.0.202203060510 (org.jkiss.dbeaver.ide.feature.feature.group 22.0.0.202203060510)
  Missing requirement: Bouncy Castle PKIX,

[2022-03-22 19:54] LBeaulaton commented on #15941
I have the exactly same issue with the latest eclipse release on a ubuntu 20.04 computer

[2022-03-23 01:05] renezito commented on #14416
I updated to 22.0.1 and again comments are not showed.  Please, don't change this value in future updates.  Every time I update dbeaver I have to change this value.  I think everyone that use DB2 driver has this problem.

[2022-03-23 05:10] ghost opened #15943 "After entering select, there is an extra letter e at the end"
#### System information:
- Operating system (distribution) and version
- DBeaver version    DBeaver Enterprise Enterprise Database Manager   22.0.0.202203131528
- Java version  1.8
- Additional extensions

I uploaded a gif format image to illustrate the problem
![20220323130324](https://user-images.githubusercontent.com/43258262/159628220-48aab2e9-acf4-4ec8-80cd-10daef6c0c93.gif)

[2022-03-23 07:33] #15850 closed, assigned to nobody

[2022-03-23 07:39] LonwoLonwo commented on #15775
Hello @enboig

I can't reproduce this issue, unfortunately.
This issue repeats for you again, or was it once?

Can you share your advanced copy SQL settings?

![2022-03-23 10_37_55-DBeaver Ultimate 22 0 1 - playlist](https://user-images.githubusercontent.com/45152336/159647678-a523a0e7-6c66-4f85-9abd-f3c08f530e89.png)

![2022-03-23 10_38_12-DBeaver Ultimate 22 0 1 - playlist](https://user-images.g

[2022-03-23 08:41] timxsarus commented on #15904
I've made a short video which will hopefully make it a bit more clear: https://www.youtube.com/watch?v=W7xyT6Bxw2A

[2022-03-23 09:00] enboig commented on #15775
I tried to reprodue it again (after updating the app to the last version) and I cannot reproduce it anymore, so it may have been fixed:
[code]
Thanks for looking into it.

[2022-03-23 09:00] #15775 closed, assigned to nobody

[2022-03-23 09:01] LonwoLonwo commented on #15775
Thanks for the answer and for the investigation @enboig

[2022-03-23 09:25] uslss opened #15945 "Allow the creation of nested array elements"
It is needed to allow the creation of nested array elements.

For now, only child elements for the first root element could be added - implemented in #15429

Related ticket #14327

[2022-03-23 09:25] mxmlnglt commented on #15892
Hello, just also have this problem for a few days now.

Workaround is: move any connection to the root, then drag folders to root, then move back again the connection where it belongs.

[2022-03-23 09:25] uslss commented on #15429
verified

[2022-03-23 09:25] #15429 closed, assigned to uslss, ShadelessFox

[2022-03-23 09:26] Matvey16 commented on #15880
Smoke tests verified, needmore testing on regression

[2022-03-23 09:28] lukaseder opened #15946 "Confirm dangerous query execution doesn't work when there's a RETURNING clause in a DELETE statement"
#### System information:
- Operating system (distribution) and version: Microsoft Windows [Version 10.0.22000.556]
- DBeaver version: 22.0.1.202203181646
- Java version: openjdk version "17.0.2" 2022-01-18

#### Connection specification:
- Database name and version: PostgreSQL 14.1 (Debian 14.1-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit
- Driver

[2022-03-23 09:45] tautf commented on #15753
No logs unfortunately.

Commit mode, same as you have:
![Bildschirmfoto 2022-03-23 um 10 44 57 AM](https://user-images.githubusercontent.com/18403881/159670538-3511ac01-3323-4b01-a1d0-dd8c0f0fb31d.png)

[2022-03-23 09:50] LonwoLonwo commented on #15753
Does this error with other procedures repeat for you? Or was this issue just once for one specific procedure?

[2022-03-23 10:08] uslss commented on #15946
thanks for the report

[2022-03-23 10:13] uslss commented on #15943
looks similar to #15135.

@chazhongbao do you have Hippie Engine enabled?
![image](https://user-images.githubusercontent.com/31996417/159675854-976ded04-7d08-4fef-8e7d-da3cd2f4f8eb.png)

[2022-03-23 10:41] Cornis777 opened #15948 "Impossible to launch Dbeaver for some users"
Hello some users can't launch Dbeaver. When they try to launch Dbeaver they receive this error :

!SESSION 2022-03-23 10:25:31.907 -----------------------------------------------
eclipse.buildId=unknown
java.version=1.8.0_321
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Command-line arguments:  -os win32 -ws win32 -arch x86_64

!ENTRY org.eclipse.o

[2022-03-23 10:51] maptile commented on #15903
It seems works now without any change and DBeaver version is still 22.0.1. I don't know what's the real problem.

[2022-03-23 10:51] #15903 closed, assigned to nobody

[2022-03-23 11:20] ghost commented on #15943
yes, but when i unchecked it, the problem disappeared

[2022-03-23 11:43] Matvey16 commented on #15354
@giordyb Please turn all types of queries on in query manager settings. Maybe you have metadata queries disabled
![dbeaver_ymf4wUjJI7](https://user-images.githubusercontent.com/82543000/159691868-aa6c19df-8956-4ee9-a630-5e2d0725f448.png)
![dbeaver_njXkpxPs12](https://user-images.githubusercontent.com/82543000/159691877-14ea1342-9b8a-4292-b0a3-7b71e43c7aa9.png)

[2022-03-23 11:45] sylepole commented on #15941
Hi,
I have the same error with eclipse 2021.12 on windows 10
![image](https://user-images.githubusercontent.com/79159239/159692117-81ef4093-46cc-4d74-9cab-7485c1180dc3.png)

[2022-03-23 11:46] Matvey16 commented on #15880
It looks like even the lates build can't be installed as a plugin on the latest Eclipse IDE

[2022-03-23 11:56] GuenterSch opened #15950 "Toogle line comment changes selection"
#### System information:
- Operating system (distribution) and version: Windows 10 21H1
- DBeaver version: 22.0.1
- Additional extensions: No

#### Connection specification:
- Database name and version: Snowflake, MS SQL Server, Oracle
- Driver name: Not relevant
- Yes

#### Describe the problem you're observing:
The problem happens in the SQL editor. It is independend of the database connection.

[2022-03-23 12:00] Matvey16 commented on #15798
@racic Thank you for the report. If anything, the confirmation should for sure have a red exclamation mark to emphasize the fact that something is going to get deleted. We will see what we can do about it.

[2022-03-23 12:03] Matvey16 commented on #15818
@mdahlman THank you for the report. You are right that the latest version needs to be set as default

[2022-03-23 12:04] Matvey16 commented on #15819
@dbojan Thank you for the suggestion. It looks like an interesting, but rather difficult feature. We will see what can be done

[2022-03-23 12:43] ShadelessFox commented on #15805
We need to clarify the meaning of this obscure `Custom criteria` field.

[2022-03-23 12:45] Matvey16 commented on #15860
@gregoryforel Thank you for the report

[2022-03-23 12:58] mihalyr opened #15951 "UI unresponsive while loading a larger JSONB object"
Hi,

I've just noticed that if I load larger JSONB objects from PostgreSQL, the DBeaver UI freezes and becomes completely unresponsive while trying to load the content in the view panel. The unresponsive part is that bothers me there as I have to force quite the application leaving all unsaved work.

![image](https://user-images.githubusercontent.com/26523902/159703928-0ba3d7c5-2dde-4be8-becc-055c

[2022-03-23 12:58] ronnifadhlillah commented on #15398
hallo ,, i use UI.

[2022-03-23 13:09] ShadelessFox commented on #15950
Hello @GuenterSch ,

Thanks for the bug report.

[2022-03-23 13:10] ShadelessFox commented on #15914
Hello @cyriac-george,

Could you please also send log files? Thanks.

https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-03-23 13:12] ShadelessFox commented on #15943
So it is indeed a duplicate.

Closing as duplicate of #15135

[2022-03-23 13:12] #15943 closed, assigned to nobody

[2022-03-23 13:32] Destrolaric commented on #15948
@Cornis777, Hi, I see you use Java 8 to launch DBeaver. The currently supported Java version for DBeaver is 11. Can I ask, which installation method was used?

[2022-03-23 13:35] Destrolaric commented on #15791
Could you please try resetting the workspace? You can find the instructions here:
https://dbeaver.com/docs/wiki/Reset-workspace/

[2022-03-23 13:59] flambchap commented on #15381
It seems like the SalesForce CDP driver doesn't work with general SalesForce instances.

[2022-03-23 14:08] LonwoLonwo commented on #15826
Does this error with other functions repeat for you? Or was this issue just once for one specific function?
Is this problem still persist?

[2022-03-23 15:19] LonwoLonwo commented on #15903
Maybe some problems with the connection.

[2022-03-23 16:53] fimperioli-b2w commented on #7911
Still here, also with the latest version

[2022-03-23 17:41] m4ss1m0g commented on #988
Anyone knows if is possible to change the **Name** field on the form (which is then displayed on the combo), on Win this field is read-only. Maybe editing a settings file...

[2022-03-23 17:47] andrematzke commented on #15117
fwatteau's workaround is working for me also, even with 22.01. I still hope this can lead to the change, which is causing since >=21.3.1 this new (imho errornous) behaviour in Citrix/VDI environments.. and then invent a fix.

[2022-03-23 19:30] ffalcon31415 opened #15952 "Requesting a hotkey to activate the Filter Results textbox in Table Data view"
I try to use keyboard only without mouse as much as possible due to RSI. I can't find a keyboard hotkey to activate the main Filter Results textbox in Table Data view (which I frequently need to access).

**Describe the solution you'd like**
User is in Table Data view. User presses the keyboard hotkey (Ctrl+Alt+f, for intance). The Filter Results textbox is activated and the user can then type in

[2022-03-23 22:00] scottmatt1 opened #15953 "Athena Data Catalog Connection Setting Issue - Specifying another catalog option doesn't work"
#### System information:
- Operating system (distribution) and version: windows 10
- DBeaver version - 22.0.1
- Additional extensions - Simba JDBC Driver

#### Connection specification:
- Database name and version: Athena Simba JDBC
- Driver name: 1.1.2
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
AWS a glue catalog option so instead of the defaul

[2022-03-23 22:03] SherlockSoftware opened #15954 "Pin Column in data view awesome.. need same PIn from Properties view"
I believe every release does not have this other view PIN feature.
Using Dbeaver 22.1

When you have say 120 columns and want to PIN 1 or 2 from middle, you navigate sideways, click column header and PIN that column.

But what would be faster, even better is the Properties list of fields, vertical list.
It shows same columns vertically and faster to get to the fields you want.

Great to have the s

[2022-03-24 03:06] jiangjihui commented on #15820
Oracle also has this problem，when I disabling 'Hippie Engine autocompletion' works very well
![image](https://user-images.githubusercontent.com/18020779/159833982-8003e00c-c617-4630-ae4c-68cf849af93c.png)

DBeaver version 22.0.1.202203181646

[2022-03-24 07:55] archenroot commented on #15446
any progress on this, I am also stuck, but for sure I cannot find on my local system anywhere library called msal4j... so it seems dbeaver doesn't download it on its own... I will try to add it to classpath...

[2022-03-24 07:56] uslss commented on #15952
By default Ctrl+Alt+Shift+T set for this action. You could change shortcut to another in preferences.

![image](https://user-images.githubusercontent.com/31996417/159868542-a4edfea3-ad02-456b-9168-550a2a4ec833.png)

[2022-03-24 07:59] archenroot commented on #15446
so I added to the driver of sql server another jar like this:
![image](https://user-images.githubusercontent.com/553512/159869218-7449399f-f87f-4711-8216-c87b3c572cb8.png)

now getting other error:
![image](https://user-images.githubusercontent.com/553512/159869312-79ca0981-3a48-4752-803f-b3509d81a80c.png)

[2022-03-24 08:38] flambchap commented on #14726
The issue is still there. It also appears on DBeaver UE.

[2022-03-24 08:48] flambchap commented on #15381
We've asked folks from SalesForce for assistance. Stay tuned.

[2022-03-24 10:29] uslss opened #15956 "Objects (Table, column. index) cannot be created via UI"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.0.1

#### Connection specification:
- Database name and version Apache Druid

#### Describe the problem you're observing:
It is impossible to create table, column, index, fk via UI.

Error on table creation:
<details>
[code]
</details>

[2022-03-24 10:33] uslss opened #15957 "NPE appears when trying to open Indexes node"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.0.1
-
#### Connection specification:
- Database name and version Apache Druid

#### Describe the problem you're observing:
NPE appears when trying to open Indexes node in database

[code]

[2022-03-24 10:37] uslss opened #15958 "Empty tab is shown for Data type"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.0.1

#### Connection specification:
- Database name and versionApache Druid

#### Describe the problem you're observing:
Empty tab is shown for Data Type in Metadata Editor
![image](https://user-images.githubusercontent.com/31996417/159898296-ab1dd2c7-ca2d-41bb-a459-eef1d0a161ba.png)

[2022-03-24 10:41] uslss opened #15959 "Data isn't shown in Data editor and Incorrect query is generated fo Read data in SQL editor action"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.0.1

#### Connection specification:
- Database name and version Apache Druid
#### Describe the problem you're observing:
Data editor:
![image](https://user-images.githubusercontent.com/31996417/159901285-53d6c451-8ee1-4190-aef0-85120156aae8.png)

Read data in SQL editor:
Generated Query:
[code]

Works

[2022-03-24 10:49] uslss opened #15960 "Import/export to the new table isn't possible in Apache Druid"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.0.1

#### Connection specification:
- Database name and version Apache Druid

#### Describe the problem you're observing:

Import/Export to the new table also isn't possible due to the impossibility of creating the new table
![image](https://user-images.githubusercontent.com/31996417/159900372-d3fc151

[2022-03-24 11:28] Joel92 commented on #15153
I have a similar issue. I have been able to query BQ through DBeaver but the authorization window keeps prompting all the time.

[2022-03-24 11:29] ShadelessFox commented on #15563
Fixed.

[2022-03-24 12:00] frankhasen commented on #14726
hi, might this be related?
[code]
my specs are:
Intel Mac Mini
System Version: macOS 12.3 (21E230)
Kernel Version: Darwin 21.4.0

[2022-03-24 12:05] #15952 closed, assigned to nobody

[2022-03-24 12:05] ffalcon31415 commented on #15952
Thanks. Sorry I failed to find that.

[2022-03-24 12:45] ShadelessFox opened #15961 "Add a preference to disable new marker-based problem highlighting"
We need a way to enable the old behavior which involved selecting the problematic segment of a query in the editor.

[2022-03-24 13:02] uslss commented on #15959
Could be fixed by enabling Omit Catalog names in queries in driver properties. Actual for Druid and Kylin
![image](https://user-images.githubusercontent.com/31996417/159921763-8a906c8b-0588-43c7-b2a4-3f8e76bf37f9.png)

[2022-03-24 13:45] flambchap commented on #15920
Thank you for your report.

[2022-03-24 14:05] amazzucco48 commented on #15458
@LonwoLonwo much better! Running somewhere between 250-1500ms. Thanks!

[2022-03-24 14:06] LonwoLonwo commented on #15458
Sounds awesome!
Thanks for the answer @amazzucco48

[2022-03-24 14:07] rproserpio commented on #15489
Same exact issue here. On Linux with remote mysql dbs.

[2022-03-24 14:19] flambchap commented on #15489
Hi everyone. I think the issue is caused by the Hippie Engine. I suggest disabling Hippie Engine. To do that, please follow the steps below:

1. Open Preferences (Window -> Preferences).
2. Open the ‘Code Completion’ tab (Editors -> SQL Editor -> Code Completion).
3. On the tab, disable the ‘Activate Hippie Engine for autocompletion’ checkbox.

[2022-03-24 14:21] flambchap opened #15963 "Add a preference to disable new marker-based issue highlighting on per datasource basis"
I think we need to be able to make changes introduced in the https://github.com/dbeaver/dbeaver/issues/15961 on a per-datasource basis.

[2022-03-24 14:22] SaulR commented on #15489
Initial try of that is looking good!
I'll report back later today with a more-usage update.

Thanks akilovich!

[2022-03-24 14:23] flambchap commented on #15489
I'll call it a duplicate of https://github.com/dbeaver/dbeaver/issues/15820.

[2022-03-24 14:23] #15489 closed, assigned to nobody

[2022-03-24 14:25] SaulR commented on #15489
That one's really a duplicate of mine :P

[2022-03-24 15:54] Gsquaree opened #15967 "Dbeaver: Cannot export or import csv, No transaction in progress/ Object parameter binding not supported"
#### System information:
- Operating system (distribution) and version: MacOS Big Sur version 11.6.5
- DBeaver version: Version 22.0.1.202203181646
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

I can't seem to export my data results to csv, or import

[2022-03-24 16:01] ShadelessFox commented on #15961
Implemented:

![image](https://user-images.githubusercontent.com/35821147/159919687-8df7d259-dc9a-4f04-9b42-8f0874b94b1e.png)

[2022-03-24 16:05] ShadelessFox commented on #14255
Looks a bit better now against the new driver:
![java_ap7bFYYqq9](https://user-images.githubusercontent.com/35821147/158810829-45a2ec0b-2570-47f9-95e8-f84fc7d3cc2b.png)

[2022-03-24 16:14] E1izabeth commented on #15106
Hi, @lukaseder!
`$$ .. $$` is a code block for DBeaver and `$a` inside code block is a binding parameter for DBeaver by default. I suppose we might not use binding parameters inside code blocks. What do you think?

[2022-03-24 16:25] lukaseder commented on #15106
`$$ .. $$` isn't a code block. It's just a dollar quoted string literal, like any other string literal. The use-case is to avoid having to escape apostrophes all over the place. See:
https://www.postgresql.org/docs/current/sql-syntax-lexical.html#SQL-SYNTAX-DOLLAR-QUOTING

E.g. you can write `SELECT $$ a $$` to see what I mean

[2022-03-24 16:25] lukaseder commented on #15106
And, as such, there's no such thing as a bind parameter within a string literal.

[2022-03-24 16:55] ShadelessFox commented on #15106
The code block mode is just a view mode. It doesn't affect how this literal is interpreted. By treating it as a string literal, there's no way to access most of features that SQL editor provides (such as autocompete, code navigation, formatting, etc.).

Variable binding dialog is just one of such features. We can restrict a set of actions inside dollar strings if they are configured to be shown as

[2022-03-24 17:25] ShadelessFox commented on #14579
Implemented (no shortcut is assigned by default, but you can do it yourself):

![image](https://user-images.githubusercontent.com/35821147/159974737-c4eb60b6-f710-485c-8e3e-8d324456905a.png)

This action will terminate query running inside the active tab.

[2022-03-24 19:02] lukaseder commented on #15106
Ah, I see. I thought the reference was PostgreSQL specific, sorry for the confusion. Thanks for clarifying it (again) 😅

I agree with both of you @E1izabeth and @ShadelessFox. Thanks for looking into this.

[2022-03-24 19:39] LonwoLonwo commented on #15959
"Omit catalog names in queries" is now enabled by default for the Apache Kylin and Druid databases.

[2022-03-24 19:43] LonwoLonwo commented on #15918
![2022-03-22 11_49_53-DBeaver 22 0 1 - CHECK_CONSTRAINTS](https://user-images.githubusercontent.com/45152336/159443638-45ad03a4-1548-4547-bd68-52fdfe910829.png)

VIEW_DEFINITION field is empty for system views in the INFORMATION_SCHEMA.VIEWS, therefore, no more system views definitions reading.

[2022-03-25 02:07] necipsunmaz commented on #6903
I think this issue is much more important. We waste too much time in a day. Thanks.

[2022-03-25 06:27] LonwoLonwo commented on #15967
Hello @Gsquaree

What database do you use?
What DDL has target table?

[2022-03-25 07:22] mo3ul commented on #15904
I agree, very annoying functionality! I rollback upgrade and wait until it fixes!

[2022-03-25 07:53] Matvey16 commented on #15961
Verified

[2022-03-25 07:53] #15961 closed, assigned to ShadelessFox, Matvey16

[2022-03-25 08:51] IdrissaD opened #15971 "Style SQL Console relatively to connection type"
**Is your feature request related to a problem? Please describe.**
Connection type changes the style of connection tree at the window's left, and the style of table visualizer. That is a cool feature, however I believe that the most error-prone place is the SQL console, where it's easy to truncate and drop tables and full databases.

**Describe the solution you'd like**
I would like the SQL consol

[2022-03-25 09:06] uslss commented on #15959
verified

[2022-03-25 09:06] #15959 closed, assigned to uslss, LonwoLonwo

[2022-03-25 09:20] uslss commented on #15958
verified

[2022-03-25 09:20] #15958 closed, assigned to LonwoLonwo

[2022-03-25 09:20] uslss commented on #15957
verified

[2022-03-25 09:20] #15957 closed, assigned to LonwoLonwo

[2022-03-25 09:22] Destrolaric commented on #14726
@frankhasen Hi, can you send the result of
`codesign --verify --verbose [Path to DBeaver app]?`

[2022-03-25 09:26] frankhasen commented on #14726
yes, but i dont know how much its worth. i reinstalled dbeaver right in the moment you wrote me. now its working again as expected.
[code]

[2022-03-25 09:38] Matvey16 commented on #13879
Verified

[2022-03-25 09:38] #13879 closed, assigned to E1izabeth, Matvey16

[2022-03-25 10:37] ulidtko commented on #8777
This is extremely annoying. No possibility to recover the hand-arranged layout, Undo doesn't work, "Keep layout" doesn't restore.

Please fix, the auto-arrange should create an undo point.

[2022-03-25 10:38] rajarshi-mukherjee4volvo opened #15973 "DBeaver 22/Rel march 7: Cannot change target container for export of table in cassandra aws keyspaces"
pre-requisite:
1. multiple cassandra connections to aws keyspaces A, B, C mounted in DbeaverEE v22 Rel March7.
2. successfully performed table export from table T1 of keyspace A to table T1 of keyspace B with export target=database.

Steps to reproduce bug for export:
1. Attempt another export table T1 of keyspace A with export target=database by right clicking on the table and selecting "Export D

[2022-03-25 10:56] giordyb commented on #15354
Thank you @Matvey16 , I've configured the filter as you suggested, here are the results:

<img width="1821" alt="DBeaver_21_3_3" src="https://user-images.githubusercontent.com/13320961/160108232-bb485f8d-b41c-4636-b113-412ea98d89d8.png">
.

[2022-03-25 11:16] Destrolaric commented on #14726
@frankhasen, thank you. Did you install or update any plugin or driver prior to issue appearance?

[2022-03-25 11:36] frankhasen commented on #14726
yes, im working with azure sql. after the reinstall everything was ready to go and in the state i left it last time. even my last sql statement in the script editor was in place.

[2022-03-25 11:46] LonwoLonwo commented on #15973
Hello @rajarshi-mukherjee4volvo

Can you please provide some screenshots?
Also please check [error logs](https://github.com/dbeaver/dbeaver/wiki/Log-files).

[2022-03-25 12:18] flambchap commented on #15354
It seems like the database driver executes a non-optimal query. I am curious if we can substitute it with something better.

[2022-03-25 12:19] flambchap commented on #15354
@Matvey16 Have you managed to reproduce the issue? I think we need to schedule this ticket in some milestone if you know how to replicate the issue.

[2022-03-25 15:21] samtech09 opened #15974 "Wrong DROP function DDL script generated from UI"
#### System information:
- Operating system (distribution) and version : Arch Linux 5.16.14-arch1-1
- DBeaver version : 22.0.1.202203212220
- Additional extensions

#### Connection specification:
- Database name and version: PostgreSQL 13.6
- Driver name : PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes

#### Describe the problem you're observing:
The generated DROP D

[2022-03-25 17:33] x4os-iso commented on #15941
Same error here with Eclipse 2022-03 on Linux

[2022-03-25 17:37] vincenzocaselli commented on #15941
I have the same error with eclipse 2022.03 on Arch Linux

[2022-03-25 18:40] surpavan commented on #14866
back to review board :(

[2022-03-25 21:59] hauntingEcho opened #15975 "[MS SQL] Not identifying unique key"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 22.0.1.202203181646
- Additional extensions: none

#### Connection specification:
- Database name and version: MS SQL Server
- Driver name: MS SQL Server / SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no

#### Describe the problem you're observing:

This unique key is not being

[2022-03-25 23:30] bianyun1981 commented on #15437
More thanks to you and your team, because of your contributions, everyone can use a powerful and easy-to-use open source database management tool like DBeaver.

I will continue to do everything I can to make DBeaver better and better.

[2022-03-25 23:34] bianyun1981 commented on #15203
Thanks for your work. Fixing this bug is believed to benefit many Chinese users.

[2022-03-26 01:16] snippins opened #15976 "Shortcuts keyboard to move current tab/editor left/right"
**Is your feature request related to a problem? Please describe.**

In all other tabbed applications, I frequently use keyboard shortcuts to move/rearrange my tabs. Dbeaver clearly cares a lot about UX, but somehow missed this feature.

**Describe the solution you'd like**

Exposing 2 commands to move current tab left/right that can be bind to shortcuts would be excellent.

[2022-03-26 11:05] JamesInform opened #15977 "How to disable "Problems" tab"
DBeaver 22.0.1
OS: Mac
DB: PostgreSQL

I just updated to DBeaver 22.0.1 on Mac and there is a new "problems" tab that appears every time  an sql statement has an error.
This tab hasn't been there before and it steel valuable space on my desktop.

<img width="1492" alt="image" src="https://user-images.githubusercontent.com/38714600/160236609-563d4e7e-0c89-470a-982b-cc03ff39e3da.png">

Question: How

[2022-03-26 14:20] kevinquillen commented on #15381
I don't see a way to add JWT/Oauth/SSL cert into the auth, is it possible this is why it is failing? My app is setup to require this.

[2022-03-26 14:49] kevinquillen commented on #15381
Update: I was able to get connected using Jetbrains DataGrip and using this driver: http://reliersoft.com/download/salesforce-jdbc-driver/

The only difference with this driver is that the URL is sforce:// instead of https:// when setting up the connection.

So it must be a bug with this particular driver for dbeaver.

Edit: this driver above works in any JetBrains IDE (PHPStorm, etc, any with the

[2022-03-26 16:05] Lauviah0622 commented on #8368
2022 still has problem in using postgreSQL with ssl, but @fgalan solution is work fine !!

[2022-03-26 17:22] globomike opened #15978 "Ability to define variables using flexible syntax"
DBeaver is a great tool and I often use it copying SQL from other tools into DBeaver to process, review and to develop it further.
After that I copy it back to the other tool - in my case ETL tools.
As ETL also use variables in their individual style it is always a process of replaceing them when copying the SQL to DBeaver and then replaceing them back before copying it back to the individual tool

[2022-03-27 10:59] ghost commented on #15977
DBeaver 22.0.1
OS: Windows 10
DB: MS SQL Server

I have this same problem. I can't find a way to disable it. I've tried every filter option and it still appears when an sql statement has an error. It can be undocked but not put into the same pane as the Results tab. My preference is not to see it at all. The SQL error is quite clearly shown in the Results tab,

Thanks,
Paul

[2022-03-27 11:00] vicreal opened #15979 "Script window: after save the window is scrolled to the end of the script"
**Windows 10 / DBeaver 21.3.5 / PostgreSQL 13**

In SQL-script window: after change script and save (Ctrl+S or File-Save) the window is scrolled to the end of the script.
At the same time, the cursor remains in the same place where the script was changed.

How it should be: when saving, the window should not scroll to the end of the script.

[2022-03-27 12:22] flambchap commented on #15381
@kevinquillen It is not a bug. We made this particular driver for use with SalesForce CDP specifically. We need a new driver for general SalesForce instances.

Meanwhile, you can create a custom driver via [the Driver Manager](https://github.com/dbeaver/dbeaver/wiki/Database-drivers).

[2022-03-27 16:23] serge-rider commented on #15880
Eclipse plugin deployment fixed.

[2022-03-27 16:52] LonwoLonwo commented on #15979
Hello @vicreal

Thanks for the bug report.

This problem was fixed earlier: https://github.com/dbeaver/dbeaver/issues/15562
You can check it in the latest DBeaver version: https://dbeaver.io/download/

[2022-03-27 16:52] #15979 closed, assigned to nobody

[2022-03-27 16:58] LonwoLonwo commented on #15975
Hello @hauntingEcho

Can you provide a table DDL?
Could you please tell me more about your issue with the key? Or index?

[2022-03-27 17:00] LonwoLonwo commented on #15974
Hello @samtech09

Thanks for the bug report.

This issue was fixed: https://github.com/dbeaver/dbeaver/issues/15563
Fix will be available in the next DBeaver release 22.0.2 at 04-04-2022

[2022-03-27 17:00] #15974 closed, assigned to nobody

[2022-03-27 17:08] LonwoLonwo commented on #15977
Hello @JamesInform and @PaulSlater25

The [new option](https://github.com/dbeaver/dbeaver/issues/15961) was added a few days ago and will be available in the next DBeaver release 04-04-2022.
Or you can download the [Early Acces](https://dbeaver.io/files/ea/) version. The fix is available in the Early Acess version.

[2022-03-27 17:08] #15977 closed, assigned to nobody

[2022-03-28 00:40] flykarry opened #15981 "How to set the default time zone of influxdb ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I can't get the correct time zone using the interface operations, and I have to add the time zone function manually with all sql statement,

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I

[2022-03-28 07:55] uslss commented on #14579
verified

[2022-03-28 07:55] #14579 closed, assigned to uslss, ShadelessFox

[2022-03-28 08:25] uslss commented on #15563
verified

[2022-03-28 08:25] #15563 closed, assigned to uslss, ShadelessFox

[2022-03-28 08:53] Matvey16 commented on #14591
Verified

[2022-03-28 08:53] #14591 closed, assigned to Destrolaric, Matvey16

[2022-03-28 09:29] uslss commented on #15918
verified

[2022-03-28 09:29] #15918 closed, assigned to uslss, LonwoLonwo

[2022-03-28 09:36] foxerz098 opened #15984 "connect timed out ，but Navicat can"
Fail to connect a Mysql database with:
[code]
The problem is that Navicat can connect it at the same time.

![image](https://user-images.githubusercontent.com/51819524/160372787-711c52de-bedd-432a-91ae-286a1303de1b.png)

[2022-03-28 09:44] Matvey16 commented on #15880
Verified

[2022-03-28 09:44] #15880 closed, assigned to serge-rider, Matvey16

[2022-03-28 10:03] Destrolaric commented on #15722
Looks like 3rd party issue https://bugs.eclipse.org/bugs/show_bug.cgi?id=379766
https://bugs.eclipse.org/bugs/show_bug.cgi?id=540108

[2022-03-28 11:20] uslss commented on #15820
verified

[2022-03-28 11:20] #15820 closed, assigned to Destrolaric, uslss

[2022-03-28 11:23] uslss commented on #15411
verified

[2022-03-28 11:23] #15411 closed, assigned to Destrolaric, uslss

[2022-03-28 11:56] Destrolaric opened #15986 "Improve Hippie Engine performance"
#15820 contained an issue related to Hippie Engine being slow on large scripts. As a temporary solution, it was disabled by default. The performance of Hippie autocompletion needs to be improved to allow its usage on complex script files.

[2022-03-28 12:35] LonwoLonwo commented on #6113
![ZvU2ViZFvy](https://user-images.githubusercontent.com/45152336/160398585-fcc8e0cf-98ab-455c-b6f9-8ef7201e59ac.gif)

Special setting can be used for the keyword insert in the SQL Editor.

Preferences -> Editors -> SQL Editor -> Code Completion -> Insert Case

[2022-03-28 14:12] LonwoLonwo commented on #13964
Can't reproduce against in the latest DBeaver version with the Oracle 18.3.0.0 driver version

![a6qN6Fppv4](https://user-images.githubusercontent.com/45152336/160417065-5b9ff710-b657-4ea7-86d0-0eb21eabd246.gif)

![2022-03-28 17_10_14-Connection _orcl_ configuration](https://user-images.githubusercontent.com/45152336/160417126-c23af487-1d24-4267-957d-1e7f644922fc.png)

[2022-03-28 14:19] ppruchnicki commented on #13964
I think you are missing the point of this feature request :) in SQL Developer error message points to a specific line where the error occurs, and this is the stuff that is missing. Try to run the same code in SQL Developer and see how the output differs.

[2022-03-28 15:34] LonwoLonwo commented on #13964
Please tell me more about the "specific line where the error occurs"

In my gif file above, you can see that the error line is highlighted after query execution.

![2022-03-28 18_28_48-Oracle_ show error position in SQL query · Issue #13964 · dbeaver_dbeaver — Mozi](https://user-images.githubusercontent.com/45152336/160433430-cf2b2612-5246-4896-8196-72902b513c27.png)

Also, from DBeaver 22.0.1 que

[2022-03-28 15:36] LonwoLonwo commented on #13375
Better CASE/END block formatting added. With the function inside this block.
Also, 'REPLACE' was added to the MySQL functions list.

[2022-03-28 15:39] ppruchnicki commented on #13964
I get it, but still I'm talking about the error message it's good that dbeaver will be able to better point to the error but still error message is not as accurate as it can be:
![image](https://user-images.githubusercontent.com/54060486/160435153-cd1b6d7b-6c18-4bc9-8334-d6fcfffd5ddc.png)
this is how it's displayed in SQL Developer.

[2022-03-28 16:09] serge-rider commented on #15733
We need to do full regression of Data Transfer wizard. From/to files, from/to tables, all different mapping types.

[2022-03-28 16:11] #15556 closed, assigned to ShadelessFox

[2022-03-28 16:30] serge-rider commented on #7019
It waited for too long time :(

Fixed

[2022-03-28 17:30] rjake opened #15989 "Turn off red underline"
**Is your feature request related to a problem? Please describe.**
When a query encounters an error, all the text of my script is underlined in red. I do not find this to provide helpful information. It actually makes it harder to edit the code as becomes difficult to distinguish commas from periods. I also cannot find a setting to disable it. I noticed it started with the latest release (22.0.1)

[2022-03-28 17:37] givihuda commented on #10950
I've noticed this behavior in other apps, but not all... so now I can't tell if the issue is with Apple/macOS or the apps :/

[2022-03-28 20:09] LonwoLonwo commented on #15733
![udAw8B2Ikp](https://user-images.githubusercontent.com/45152336/158975521-f22d63eb-a846-4ae6-838c-eb31e299f973.gif)

fixed

[2022-03-28 20:15] LonwoLonwo commented on #15989
The [new option](https://github.com/dbeaver/dbeaver/issues/15961) was added a few days ago and will be available in the next DBeaver release on 04-04-2022. Option to disable issue marking.

Or you can download the [Early Acces](https://dbeaver.io/files/ea/) version. The fix is available in the Early Acess version.

[2022-03-28 20:15] #15989 closed, assigned to nobody

[2022-03-29 04:53] aleksandr-shevchenko commented on #15887
Win10, latest version of DBeaver.
preferences - user interface - appearance - colors and fonts - I set "dialog font" to "Dejavu Sans Mono 14", but not all tabs changes own font.

[2022-03-29 06:05] dousp opened #15991 "mongodb Chinese display problem"
#### System information:
- win11
- DBeaver version 22

#### Connection specification:
- mongo

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/5936499/160543763-69bd5b26-61ce-4ee0-a794-94d49b31580c.png)
How to solve the problem of Chinese display？

[2022-03-29 07:08] LonwoLonwo commented on #13964
Ok. You can open the "Details" section to see more info about the error. Position can be in this message - depending on the error.

![2022-03-29 10_01_36-DBeaver 22 0 2 - _orcl_ Script-9](https://user-images.githubusercontent.com/45152336/160553180-71186ff9-0337-4575-a4a3-d609d841686e.png)

[2022-03-29 07:18] ppruchnicki commented on #13964
Great! This is exactly what I was looking for, amazing job :) is there a way to change this position to Line and Column as it is in SQL Developer?

[2022-03-29 08:59] uslss commented on #7019
verified

[2022-03-29 08:59] #7019 closed

[2022-03-29 09:08] uslss commented on #15839
verified

[2022-03-29 09:08] #15839 closed, assigned to uslss

[2022-03-29 09:11] uslss commented on #14589
verified

[2022-03-29 09:11] #14589 closed, assigned to Destrolaric, uslss

[2022-03-29 09:45] vicreal opened #15992 "SQL Editor: in case of errors, the "Problems" window always opens"
**Windows 10 / PostgreSQL 13 / DBeaver 21.0.1**
SQL Editor: in case of errors, the "Problems" window always opens (along with the window with error text)
In previous DBeaver versions opens only one window - with error text.

![2022-03-29_123515](https://user-images.githubusercontent.com/72701351/160582819-82c2bcce-1740-4e6d-942b-6addea11cdf4.jpg)

How can I prevent this window from opening in case

[2022-03-29 11:45] serge-rider commented on #12004
Generally we need to distinguish stored procedures and scalar function on model level and on completion proposal level.
Currently there is no difference (in model we have SQLServerProcedure, in completion analyzer we search for both procedures and functions).

[2022-03-29 12:20] serge-rider commented on #11992
Fixed.
Queries INSERT, DELETE, UPDATE, SELECT INTO now won't be re-executed after connection errors.

[2022-03-29 12:44] Matvey16 commented on #15106
Verified

[2022-03-29 12:44] #15106 closed, assigned to E1izabeth, Matvey16

[2022-03-29 12:46] kseniiaguzeeva opened #15994 "Nothing is changed after setting connection timeout in Connection SSH tab"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version   22.0.0.202203090812

#### Steps to reproduce, if exist:
1. Create an SSH connection and set tunnel connection timeout 1 ms in Advanced settings of SSH tab
2. Press Test Tunnel

**Expected**: the test is failed, because the time 1 ms isn't enough to test tunnel
**Actual result**: test is successful

[2022-03-29 12:56] sravikrishna3 commented on #15804
There is one more proof that my laptop-behind-corporate-firewall is a red-herring.
Check the screenhot.  I can query Athena to list out the databases , the list of tables in each and the cols of each table.  How is it possible if firewall is blocking access to Athena
![Screenshot 2022-03-29 085434](https://user-images.githubusercontent.com/44801660/160616092-b10e92d7-24ff-4a53-946c-4692e7b7c108.pn

[2022-03-29 13:03] davidhooey commented on #14927
I have the same issue with the VRapper (VIM plugin). Every upgrade forces the reinstall of the plugin.

[2022-03-29 13:43] asotolongo opened #15996 "PUBLICATION/SUBCRIPTION in PostgreSQL"
**Is your feature request related to a problem? Please describe.**
It will be a nice feature to see in the database tree, information related to logical replication objects in PostgreSQL, I mean, information related to
 [PUBLICATION](https://www.postgresql.org/docs/10/sql-createpublication.html)/[SUBCRIPTION](https://www.postgresql.org/docs/10/sql-createsubscription.html)

**Describe the solution

[2022-03-29 13:47] Matvey16 commented on #14255
It doesn't work when complex column is set to compact view

https://user-images.githubusercontent.com/82543000/160625925-b9891978-af11-4774-86f2-359cb95b71d7.mp4

[2022-03-29 14:10] rsprinkle commented on #12508
I see similar problems when you select multiple tables in the diagram and drag them to a new location.  Any customized relation ship lines between the dragged table will not be redrawn as expected.  The 'bend points' are not moved along with the tables.

[2022-03-29 14:50] Matvey16 commented on #13375
Verified

[2022-03-29 14:50] #13375 closed, assigned to LonwoLonwo, Matvey16

[2022-03-29 14:57] sravikrishna3 commented on #15804
Some more debugging.

When I run a query on dbeaver, I see that it gets executed on Athena and the result stored on the configured S3 bucket. However the next step of downloading the results from the S3 to be shown on dbeaver is failing.

[2022-03-29 16:07] LonwoLonwo commented on #15996
Thanks for the idea @asotolongo

[2022-03-29 16:30] ghost commented on #15992
This was reported by JamesInform and myself a few days ago. We were given link to the early access version although I don't think it's my place to provide that link. The reply from Anastasiya said " a [new option](https://github.com/dbeaver/dbeaver/issues/15961) was added a few days ago and will be available in the next DBeaver release 04-04-2022". I can confirm that this fixes the problem as desc

[2022-03-29 17:17] j-melara-oh commented on #9812
having issue myself to where it will not even let me hit the vendor website or download files

[2022-03-29 17:55] sravikrishna3 commented on #15804
Further testing.  I wrote a program using pyathena (which does not use Simba driver) and that works fine. So we can rule out any Firewall issue.  This is also not a dbeaver issue.  This is a Simba driver issue.
How do I open a case for Simba driver ?

[2022-03-29 19:16] sravikrishna3 commented on #15804
Confirmed.  This is a AWS Athena driver error.  I flipped back to old drivers and dbeaver works.  I will open a case with AWS.

[2022-03-29 19:16] #15804 closed, assigned to nobody

[2022-03-29 19:48] sowec commented on #2998
As a workaround, in Database connection configuration, there's an option under initialization to close idle connections.

[2022-03-29 20:50] mshakurov opened #16000 "Dump (backup) failed alwais"
#### System information:
- Windows 10 x64
- Latest - 22.0.1.202203181646
- No plugins, not any specific changes or isnallations, just clean DBeaver install.

#### Connection specification:
- PostgreSQL, 14
- Driver not changed (from installation - org.postgresql.Driver)
- Not use tunnels or proxies (SSH, SOCKS, etc)

#### Describe the problem you're observing:
Dump (backup) of selected database er

[2022-03-30 04:26] kyimpact opened #16001 "Raise Notice messages are not displaying in Output tab External Inbox"
Hello Team,

Could you please help us to resolve the issue.

- Operating system (distribution) and version: IOS 12
- DBeaver version : Version 22.0.1.202203181646
- Additional extensions: no

#### Connection specification:
- Database name and version: Postgres 13
- Driver name :
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:
Earlier we were able

[2022-03-30 06:35] LonwoLonwo commented on #15804
Thanks for the investigation @sravikrishna3

[2022-03-30 06:42] LonwoLonwo commented on #16000
Hello @mshakurov

As you can see in the message error

- this is a versions mismatch.

We are planning to add the support of 14 PG_dump soon: https://github.com/dbeaver/dbeaver/issues/15243

As a workaround for now - you can add pg_dump 14 manually from your files:

![2022-03-30 09_40_06-DBeaver 22 0 2 - _orcl_ Script-9](https://user-images.githubusercontent.com/45152336/160767827-d51d5f3f-ade9-4f

[2022-03-30 06:42] #16000 closed, assigned to nobody

[2022-03-30 06:46] LonwoLonwo commented on #16001
Hello @kyimpact

Unfortunately can't reproduce your issue.

Can you please check - the "Open output viewer on new messages" setting is enabled?

![2022-03-30 09_43_41-DBeaver 22 0 2 - _postgres_ Script-10](https://user-images.githubusercontent.com/45152336/160768581-167e00f7-7a46-47ec-95cd-0a829f784eba.png)

[2022-03-30 06:53] LonwoLonwo commented on #15992
Thanks for the bug report @vicreal

[2022-03-30 06:56] LonwoLonwo commented on #15991
Hello @dousp

Please, tell me, what specific display problems do you have?

[2022-03-30 06:57] kyimpact commented on #16001
Hi Anastasiya,

At my editor  "Open output viewer on new messages" setting is enabled?

here is screen shot.

On Wed, Mar 30, 2022 at 12:17 PM Anastasiya ***@***.***>
wrote:

--
This e-mail transmission contains confidential or legally privileged
information that is intended only for the individual or entity named in the
e-mail address. Under no circumstances may any such information be
disclosed,

[2022-03-30 06:59] LonwoLonwo commented on #16001
Sorry @kyimpact

But you can send screenshots only on Github. You can't send them via e-mail.

[2022-03-30 07:05] iesportada opened #16002 "SQL Error: unknown escape sequence"
#### System information:
- Operating system (distribution) and version: Linux Mint 20.3
- DBeaver version: 22.0.1 installed from Serge Rider's ppa
- Additional extensions

#### Connection specification:
- Database name and version: MariaDB 10.3
- Driver name: org.mariadb.jdbc.Driver 2.7.1
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  NO

#### Describe the problem you're observing:
Trying to

[2022-03-30 07:19] kyimpact commented on #16001
<img width="1728" alt="Screenshot 2022-03-30 at 12 22 34 PM" src="https://user-images.githubusercontent.com/95332201/160773869-96d714cd-df62-4140-b781-4be4b48ab94a.png">

[2022-03-30 07:55] UlrichDemlehner opened #16003 "Berkeley DB and DBeaver"
I have a Berkeley database (BDB) on my local harddisk running under Windows 10 and would like to access it with DBeaver. Is there any way to do this?

[2022-03-30 08:21] kyimpact commented on #16001
Sorry closed by mistakenly

[2022-03-30 08:23] kyimpact commented on #16001
attached the screen shot above

[2022-03-30 08:35] EastLord opened #16005 "can't start with IDEA"
OS:macOS 12.3
IntelliJ IDEA 2021.3.3 (Ultimate Edition)

I can start dbeaver with eclipse.
I try to do it accordingly to guide https://github.com/dbeaver/dbeaver/wiki/Develop-in-IDEA.
I can compile dbeaver with IDEA.But i can't start with IDEA.

log:
!SESSION 2022-03-30 15:58:40.941 -----------------------------------------------
eclipse.buildId=unknown
java.version=11.0.14.1
java.vendor=Eclipse A

[2022-03-30 08:44] uslss commented on #11992
verified

[2022-03-30 08:44] #11992 closed, assigned to serge-rider, uslss

[2022-03-30 08:45] uslss commented on #15994
verified

[2022-03-30 08:45] #15994 closed, assigned to E1izabeth, uslss

[2022-03-30 08:46] uslss commented on #15733
![dbeaver_2Jz534Av36](https://user-images.githubusercontent.com/31996417/160790690-d28a6c11-c4f5-4fc4-823b-a8a80252e361.gif)

[2022-03-30 08:57] LonwoLonwo commented on #15885
Works as expected.

You can write anything if you want in this manual filter panel. And DBeaver just put it in your original statement with WHERE condition. So it means, that proper behavior is - to enter the correct name of the column in this place.

![2022-03-30 11_33_27-Top filter doesn't work when an alias is used for column name in the ResultSet ·](https://user-images.githubusercontent.com/45

[2022-03-30 08:57] #15885 closed, assigned to LonwoLonwo

[2022-03-30 09:15] kosta709 commented on #14681
Why it is closed?
same on newest Version 22.0.1.202203181646 and fresh installed Windows-19 on GCP

[2022-03-30 09:17] uslss commented on #15895
@ThadeusAnand what database do you use?

sorry for the late response

[2022-03-30 09:18] 2019-05-10 opened #16007 "SQL Errror underlining/highlighting/... exceeds actual error"
#### System information:
- Operating system Linux, Debian/SID
- DBeaver Version 22.0.1.202203181646
- Additional extensions none

#### Connection specification:
- Database name and version Postgres 12
- Driver name org.postgresql.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
SQL Error underlining/highlighting/... goes from the error posit

[2022-03-30 09:35] LonwoLonwo commented on #13374
Databricks driver added to the driver's list. Along with the ability to use the setting "Use SQL to limit fetch size" (Preferences -> Editors -> Data Editor). The enhancement will available in DBeaver version 22.0.2

![2022-03-24 10_58_06-DBeaver Ultimate 22 0 1 - _postgres 13 3_Script-81](https://user-images.githubusercontent.com/45152336/159946700-655142b2-6128-41b3-8df7-aadea9a3679d.png)

![202

[2022-03-30 09:36] #13374 closed, assigned to LonwoLonwo

[2022-03-30 09:50] Matvey16 commented on #14944
@suhailmemon Hello, sorry for the late reasponse. Could you please provide a log file https://dbeaver.com/docs/wiki/Log-files/
and also show the query manager with every query type enabled

![dbeaver_zKdqx2dekc](https://user-images.githubusercontent.com/82543000/160803842-7deba3f0-d12b-4c25-bdf2-767f16de166b.png)

[2022-03-30 10:10] EastLord commented on #16005
<img width="1637" alt="image" src="https://user-images.githubusercontent.com/14818667/160807654-d88dedc3-5974-4c29-aa59-3c5e203477e8.png">

[2022-03-30 10:10] EastLord commented on #16005
i can start with IDEA! thanks

[2022-03-30 10:11] #16005 closed, assigned to nobody

[2022-03-30 10:42] ShadelessFox commented on #15992
Fixed in #15961

[2022-03-30 11:04] LonwoLonwo commented on #15733
Fixed.

[2022-03-30 11:05] ny5667 opened #16009 "Write to the single file, different table SQL should start at a new line"
#### System information:
- Operating system (distribution) and version:ubuntu
- DBeaver version: 22.0.1.202203181646
- Additional extensions

#### Connection specification:
- Database name and version

- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Write to the single file, different table SQL should start at a new line
![IMG2022033019

[2022-03-30 11:12] Matvey16 opened #16010 "Clickhouse array support enhancement"
As a follow-up of #14255 we need to further impruv the presentation of complex arrays, particularily when complex column structure view is disabled

[2022-03-30 11:13] Matvey16 commented on #14255
Enhancement added in #16010

[2022-03-30 11:13] #14255 closed, assigned to ShadelessFox, Matvey16

[2022-03-30 11:23] chamcyl commented on #14261
add  `prop.internal_logon=xxxrole`  to connection parameters

[2022-03-30 11:39] Matvey16 commented on #14384
Verified

[2022-03-30 11:39] #14384 closed, assigned to E1izabeth, Matvey16

[2022-03-30 12:10] uslss commented on #15450
verified

[2022-03-30 12:10] #15450 closed, assigned to E1izabeth, uslss

[2022-03-30 12:11] uslss commented on #15733
verified

[2022-03-30 12:11] #15733 closed, assigned to uslss, LonwoLonwo

[2022-03-30 12:16] Matvey16 commented on #15757
Most of the time it can be fixed with less losses. You don't necessarily need to delete the whole DBeaverData folder, just one `workbench.xmi` file and sometimes `.metadata/.plugins/org.eclipse.core.resources` folder.

https://github.com/dbeaver/dbeaver/wiki/Reset-workspace

[2022-03-30 12:16] #15757 closed, assigned to Matvey16

[2022-03-30 12:35] #15793 closed, assigned to nobody

[2022-03-30 12:44] uslss commented on #15953
thanks for the report.

duplicates #11196

[2022-03-30 12:44] #15953 closed, assigned to nobody

[2022-03-30 13:14] cd-jbo opened #16016 "Allow a mariadb / mysql user to change his/het expired Password."
Currently this is not possible for mysql/mariadb.
Only:
    PostgreSQL
    Greenplum
    Cockroach
    Redshift
    Netezza
    SQL Server
    Oracle
    Exasol
    Snowflake
    Vertica

https://dbeaver.com/docs/wiki/Change-current-user-password/

[2022-03-30 13:48] Matvey16 commented on #15812
Verified

[2022-03-30 13:48] #15812 closed, assigned to Destrolaric, Matvey16

[2022-03-30 14:04] LonwoLonwo commented on #16002
Ok, I see the problem

Thanks for the bug report @iesportada

![2022-03-30 17_00_13-DBeaver Ultimate 22 0 2 - _MariaDB 10 1_Script-141](https://user-images.githubusercontent.com/45152336/160853564-a9f75ea7-17e3-41b7-9138-e171e4260c83.png)

[2022-03-30 14:06] Matvey16 commented on #13756
Verified

[2022-03-30 14:06] #13756 closed, assigned to E1izabeth, Matvey16

[2022-03-30 14:57] LonwoLonwo commented on #16010
Implemented

![2022-03-30 17_33_45-DBeaver Ultimate 22 0 2 - _ClickHouse LOGS_Script-138](https://user-images.githubusercontent.com/45152336/160861296-507443a9-23e3-42d2-85bc-bb762802fc3c.png)

![2022-03-30 17_23_08-](https://user-images.githubusercontent.com/45152336/160861441-a24a30b8-1486-4779-b39a-f8b0f5fb8796.png)

`SELECT CAST('[(''a'',''b'')]' AS Array(Tuple(String, String))), ('a', 'b')`

[2022-03-30 15:03] LonwoLonwo commented on #16002
{} brackets are working good for procedures, but not for functions.
Brackets removed from SELECT statement for functions from "Execute stored procedure" command for MySQL/MariaDB

[2022-03-30 15:39] serge-rider commented on #14726
We will disable URI handlers auto-registration on MacOS for now.
Generally this bug must be fixed from Eclipse-side.

[2022-03-30 15:48] Mahdi-Hosseinali commented on #1489
In newer versions the data source informations are not in a XML file anymore, they can be found in `~/Library/DBeaverData/workspace6/General/.dbeaver/data-sources.json`. And just updating the data source id does not work because the entities also have ids in the ERD file.

[2022-03-30 16:20] iesportada commented on #16002
Thanks!

[2022-03-30 17:54] Matvey16 commented on #16010
Verified

[2022-03-30 17:54] #16010 closed, assigned to LonwoLonwo, Matvey16

[2022-03-30 18:34] Matvey16 commented on #16002
Verified

[2022-03-30 18:34] #16002 closed, assigned to LonwoLonwo, Matvey16

[2022-03-30 20:12] E1izabeth opened #16019 "NPE on data export/import"
DBeaver version 22.0.2

Steps to reproduce:
1. Open table.
2. Perform export or import.
3. An error occurred and notification wasn't shown.

`task` parameter in `sendNotification(..)` method is `null`
<details>
<summary>Stacktrace</summary>

[code]
</details>

[2022-03-31 07:18] liuzhe101 opened #16020 "M1 MAX When the field value is modified, the field cannot be changed to NULL by using the delete key"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2022-03-31 07:23] liuzhe101 commented on #16020
macOS Monterey 12.3

[2022-03-31 07:43] LonwoLonwo commented on #16020
Hello @liuzhe101

Please translate your issue into English.

And provide more details about the issue. Screenshots, [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files), videos are welcome.

[2022-03-31 07:48] LonwoLonwo commented on #15981
Hello @flykarry

Have you tried to change your timezone in the Preferences?

![2022-03-31 10_45_29-DBeaver Ultimate 22 0 2 - _Chinook db_Script-142](https://user-images.githubusercontent.com/45152336/161004446-2799df8f-4248-4324-bda0-f02eca46adb8.png)

You can try it in Preferences -> Editors -> Data Editor -> Data Formats

Also, sometimes enabling the "Disable date/time formatting" helps with dat

[2022-03-31 07:59] liuzhe101 commented on #16020
Hi,Thank you for your reply, I am using M1 MAX, when I modify a field value in a row to be empty, I cannot make it NULL. Using backspare delete on windows can become NULL, but using backspare on mac book pro does not become NULL, but becomes empty;

[2022-03-31 08:03] liuzhe101 commented on #16020
Hi,Thank you for your reply, I am using M1 MAX, when I modify a field value in a row to be empty, I cannot make it NULL. Using backspare delete on windows can become NULL, but using backspare on mac book pro does not become NULL, but becomes empty;

Hi,Thank you for your reply, I am using M1 MAX, when I modify a field value in a row to be empty, I cannot make it NULL. Using backspare delete on win

[2022-03-31 08:08] LonwoLonwo commented on #16009
Unfortunately, can't reproduce.

![2022-03-31 11_05_24-export_202203311104 sql — H__asya_special_dbeaver_backup — Atom](https://user-images.githubusercontent.com/45152336/161007681-7bf06b70-44d2-4ff2-ad87-80371f572a60.png)

Can you provide please screenshots of setting from these two setting pages?

![2022-03-31 11_06_35-Data Transfer](https://user-images.githubusercontent.com/45152336/161007934-4

[2022-03-31 09:21] omlnaut opened #16023 "Readonly connection still allows restore"
#### System information:
- Operating system: Windows 10 Pro 20H2
- DBeaver version: 22.0.1.202203181646

#### Connection specification:
- Database name and version
- Driver name: MariaDB JDBC driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
Setting a connection as read-only (connection -> edit connection -> general) prevents sql scripts fro

[2022-03-31 09:47] serge-rider opened #16024 "Better support for big number of schemas"
If database has big number of schemas (>50k) then UI becomes very laggy.

[2022-03-31 10:11] Matvey16 commented on #14726
Verified

[2022-03-31 10:11] #14726 closed, assigned to serge-rider

[2022-03-31 10:52] asitmonty opened #16026 "Error connecting to GBQ - "Could not initialize class sun.font.SunFontManager""
Hi,

I am trying to connect to Google Big query using DBeaver, but I keep on getting this error message:
"Unexpected driver error occurred while connecting to the database
  Could not initialize class sun.font.SunFontManager"

I was able to connect to GBQ earlier using DBeaver, although from a different laptop. So, I know that the connection worked fine before.

My system:
Windows 11 Pro 21H2, 220

[2022-03-31 11:42] LonwoLonwo commented on #16026
Hello @asitmonty

What driver do you use for connecting?

![2022-03-31 14_40_50-DBeaver Ultimate 22 0 2 - _PUB400 COM_Script-143](https://user-images.githubusercontent.com/45152336/161047126-38cbd515-18e3-4386-ac9b-b759a40cc417.png)

[2022-03-31 11:50] LonwoLonwo commented on #16020
Hello @liuzhe101
Sometimes returning to NULL value depends on the column data type. What data type has your column?

Also, as a workaround, you can set field data to NULL with the context menu:

![2022-03-31 14_49_19-DBeaver Ultimate 22 0 2 - aliases](https://user-images.githubusercontent.com/45152336/161048455-c9566b90-4b5b-4124-ad73-b426cea8d41a.png)

[2022-03-31 11:52] serge-rider commented on #16019
Duplicate of dbeaver/pro#974

[2022-03-31 11:52] #16019 closed, assigned to Destrolaric

[2022-03-31 12:07] LonwoLonwo commented on #16001
So, the output tab persists, but it is empty?

[2022-03-31 13:04] kyimpact commented on #16001
yes

[2022-03-31 13:04] kyimpact commented on #16001
Even Tried the same with Enterprise edition

[2022-03-31 13:13] majkyyx commented on #14528
Hello @LonwoLonwo a tried this FIX and a'm not sure, it's working. Look on this screen please. Version is 22.0.1+ and i still see label "No Data" .

I think it's becase correct name of view is ```USER_SCHEDULER_JOB_RUN_DETAILS``` not ```SCHEDULER_JOB_RUN_DETAILS``` if i'm looking on your commit.

![image](https://user-images.githubusercontent.com/14957734/161062034-d0b6c0b2-5800-485f-984d-2a6e4a31

[2022-03-31 13:19] LonwoLonwo commented on #14528
You can check the request table name in the Query Manager: https://github.com/dbeaver/dbeaver/wiki/Query-Manager

[2022-03-31 13:34] majkyyx commented on #14528
I've tried this before, but nothing is written here if a click on tab "Run log".

But i'm pretty sure about wrong name of view in commit. There is not ```USER_``` prefix, view SCHEDULER_JOB_RUN_DETAILS not exists on oracle.

[2022-03-31 13:41] LonwoLonwo commented on #14528
![2022-03-31 16_37_00-Properties for Query Manager](https://user-images.githubusercontent.com/45152336/161067997-4ff9e922-ef67-43c2-858d-4381329e61f9.png)

Maybe not all settings are checked?

We do not use just the SCHEDULER_JOB_RUN_DETAILS view name.
The OracleUtils.getSysUserViewName() method will check first the DBA_SCHEDULER_JOB_RUN_DETAILS VIEW and if did not find it - then DBeaver uses USER

[2022-03-31 13:56] majkyyx commented on #14528
If't user_Scheduler_job_run_details, it's correct.

I checked everthing In query manager.

I have grants on DBA_ and USER_ too. It's look like no query runs on tab "Run Log"

![image](https://user-images.githubusercontent.com/14957734/161071348-541a4fb4-eaa9-408d-9fb0-d43942ba060a.png)

And refresh button on tab "Run Log" is disabled.

[2022-03-31 14:07] majkyyx commented on #14528
A check this behavior on PC of my wife with same version 22.0.1  but on windows. It's same. Nothing in query manager when i clicked on "Run Log" tab. If i click on tab "Properties" then i can see:
[code]
So query manager works.

[2022-03-31 14:11] dextok opened #16027 "Dbeaver crashed after "Edit Connection" window closed"
#### System information:
|  Item   | Value  |
|  ----  | ----  |
| OS  | openSUSE Tumbleweed x86_64 |
| Kernel  | 5.16.15-1-default |
| DBeaver version  | 22.0.1.202203181646 |
| Java version  | Java(TM) SE Runtime Environment 18.9 (build 11.0.13+10-LTS-370) |
| Additional extensions  | None |

#### Connection specification:
|  Item   | Value  |
|  ----  | ----  |
| Database name and version  | My

[2022-03-31 14:22] LonwoLonwo commented on #14528
Ok. It's time for the strange suggestions. Does your database have SYS schema?

[2022-03-31 14:25] majkyyx commented on #14528
Yes it has, i thing every oracle have "SYS" schema.

[2022-03-31 14:26] liuzhe101 commented on #16020
Thank you so much, your reply solved my problem. I'm starting to think it's an M1 MAX bug. good luck every day

[2022-03-31 14:26] #16020 closed, assigned to nobody

[2022-03-31 14:31] LonwoLonwo commented on #14528
Can you find the DBA_SCHEDULER_JOB_RUN_DETAILS view in the list of SYS schemas?
(You can write SELECT x.* FROM SYS.DBA_SCHEDULER_JOB_RUN_DETAILS x in the SQL Editor and use ctrl+click on the view name)

Also, the [error log](https://github.com/dbeaver/dbeaver/wiki/Log-files) is still empty?

[2022-03-31 14:33] LonwoLonwo commented on #16020
Thanks for the answer @liuzhe101

[2022-03-31 14:46] majkyyx commented on #14528
OK, i can't find schema SYS in schema browser, also i can't click on on SYS.DBA_SCHEDULER_JOB_RUN_DETAILS in SQL editor (but i can select from SYS.DBA_SCHEDULER_JOB_RUN_DETAILS)

I found SYS schema in VIEW all_users.

I also checked logs in path (~/.local/share/DBeaverData/workspace6/.metadata)
 - .log
 - dbeaver-debug.log
 and log on interface.

All are empty when i click on "run log" tab.

[2022-03-31 14:49] DariaMarkaryan opened #16028 "[Kylin] Can't Create/Update/Delete data"
#### System information:
- Win11
- DBeaver CE 21.0.2

#### Connection specification:
- Apache Kylin

#### Describe the problem you're observing:
Can't create/edit/delete data in Data editor

#### Include any warning/errors/backtraces from the logs
<details>
Reason:

Error synchronizing data with database

SQL Error: exception while executing query: java.io.IOException: POST failed, error code 500

[2022-03-31 14:51] LonwoLonwo commented on #14528
Usually, the SYS schema is not in the list if the Connection view is custom and the setting "Show system objects" is not enabled.

![2022-03-31 17_49_51-](https://user-images.githubusercontent.com/45152336/161084505-e63b9327-16b5-49e2-97e6-24ae645fc652.png)

Can you please check this setting?

[2022-03-31 14:55] majkyyx commented on #14528
Nice!
Ok, i had custom connection view. When i switched and reconnect to advanced view, "run log" start working too.

[2022-03-31 14:55] mdahlman opened #16029 "Tweak Tip of the Day content"
**This Tip of the Day is understandable, but it's not standard English**
If you are not much familiar with SQL scripting, use <a href="https://github.com/dbeaver/dbeaver/wiki/Visual-Query-Builder">Visual Query Builder</a> tool.

Proposed change:
If you are not very familiar with SQL scripting, use <a href="https://github.com/dbeaver/dbeaver/wiki/Visual-Query-Builder">Visual Query Builder</a> tool.

[2022-03-31 15:01] LonwoLonwo commented on #14528
Ok, Thanks for the investigation @majkyyx

Unfortunately, I can't reproduce with the Custom view also. I will try again later.

![2022-03-31 17_58_58-DBeaver Ultimate 22 0 2 - RUN_LOAD_SALES](https://user-images.githubusercontent.com/45152336/161086428-90de84c6-0d73-4eb3-8082-e2c55cbfb248.png)

[2022-03-31 18:35] DariaMarkaryan opened #16030 "[Kylin] Objects with a mixed case name are quoted but mustn't be"
#### System information:
- Win11
- DBeaver CE 22.0.2

#### Connection specification:
- Apache Kylin

#### Describe the problem you're observing:
The SQL Assistant offers to insert a database name with quotas, and this  query falls:
![image](https://user-images.githubusercontent.com/43252954/161125180-e3d0492e-13f0-4ec1-a208-7f57c74a74f0.png)
![image](https://user-images.githubusercontent.com/43252

[2022-03-31 19:17] DariaMarkaryan opened #16031 "[Kylin] Can't set active catalog/schema"
#### System information:
- Win11
- DBeaver CE 22.0.2

#### Connection specification:
- Kylin

#### Describe the problem you're observing:
You can select db name in "Select active catalog/schema" but it wont apply

https://user-images.githubusercontent.com/43252954/161132353-d840084b-4517-4f9f-bec4-02e8c236247f.mp4

[2022-03-31 21:08] SudhirPhadtare commented on #4521
Try to open DBeaver "Run as administrator' in windows to resolve the issue

[2022-03-31 22:54] DariaMarkaryan opened #16032 "[Hive] Wrong query of PK creation"
#### System information:
- Win11
- DBeaver CE 22.0.2

#### Connection specification:
- Apache Hive

#### Describe the problem you're observing:
When you create a new table with a PK, the DDL for it is wrong:
Actual:
![image](https://user-images.githubusercontent.com/43252954/161162423-e3713c62-ec44-4fec-8dbc-3454e9804947.png)

But should be:
[code]

They are also not displayed in Keys even if you

[2022-03-31 23:27] DariaMarkaryan opened #16034 "[Hive] Wrong creation SQL for Binary column type"
#### System information:
- Win11
- DBeaver CE 22.0.2

#### Connection specification:
- Apache Hive

#### Describe the problem you're observing:
When you create a table with a Binary column you get wrong SQL:
![image](https://user-images.githubusercontent.com/43252954/161165573-64272bb1-2ca2-4314-a51c-fff2168949ea.png)
This does not work
The query that can create a binary in SQL Editor is:
[code]
(

[2022-03-31 23:52] DariaMarkaryan opened #16035 "[Hive] No info about schema/table names in Metadata panel"
#### System information:
- Win11
- DBeaver CE 22.0.2

#### Connection specification:
- Apache Hive

#### Describe the problem you're observing:

![image](https://user-images.githubusercontent.com/43252954/161167828-ec97dbfa-18cc-453e-aa65-1430b6aa6c93.png)

[2022-04-01 08:04] LonwoLonwo commented on #13335
Hello @xantari

Now we have a test environment, and I can't reproduce your issue, unfortunately.

I set:
metadata source: 1
translate binary: true
extended metadata: true

But I can see columns and tables remarks.

Also, did you try to change the "remarks" driver setting?
https://www.ibm.com/docs/en/i/7.4?topic=ssw_ibm_i_74/rzahh/javadoc/com/ibm/as400/access/doc-files/JDBCProperties.html
Maybe it

[2022-04-01 08:25] DariaMarkaryan opened #16036 "[Hive] Semicolon breaks view creation DDL"
#### System information:
- Win11
- DBeaver CE 22.0.2

#### Connection specification:
- Apache Hive

#### Describe the problem you're observing:
Semicolon breaks view creation DDL. The query that is correct:
![image](https://user-images.githubusercontent.com/43252954/161225120-f163cc5e-14f6-44ba-bd53-50d50361cbcb.png)

leads to ParseException.
But if you erase the semicolon at the end of query, the

[2022-04-01 08:27] LonwoLonwo commented on #15742
Hello @mikkk3l

Can you please check this ("metadata source") setting in your Connection setting?

If "metadata source" = -1, can you please change it to 0 and tell me - does it increase performance of metadata reading?

[2022-04-01 08:28] LonwoLonwo commented on #15742
![2022-04-01 11_20_47-DBeaver Ultimate 22 0 2 - _PUB400 COM_Script-143](https://user-images.githubusercontent.com/45152336/161225760-12134b41-1b6a-4dcb-b9ed-d2773888475c.png)

[2022-04-01 09:46] kseniiaguzeeva opened #16037 "SQL Server: 2 ResultSets appear after opening execution plan and executing select query"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 22.0.0
-
#### Connection specification:
- Database name and version SQL Server IAM

#### Steps to reproduce, if exist:

1. Connect to SQL Server IAM and execute
[code]
2. Open Execution plan for the query
3. Execute the query again

**Expected**: one tab appears with the table
**Actual result**: second tab

[2022-04-01 10:08] lukaseder opened #16038 "Support Informix nested Structs"
#### System information:
- Operating system (distribution) and version: Microsoft Windows [Version 10.0.22000.556]
- DBeaver version: Version 21.3.2.202112271055
- Java version: openjdk version "17" 2021-09-14 (build 17+35-2724)

#### Connection specification:
- Database name and version: IBM Informix Dynamic Server Version 14.10.FC5DE
- Driver name: `com.informix.jdbc.IfxDriver`
- Do you use tunn

[2022-04-01 10:28] ny5667 commented on #16009
Ok, here is the screenshots of settings.
Extraction settings:
![Snipaste_2022-04-01_18-23-44](https://user-images.githubusercontent.com/82657677/161245707-a3b76022-5d52-4ed1-8edb-3397f6b6f922.png)
Format settings:
![Snipaste_2022-04-01_18-23-54](https://user-images.githubusercontent.com/82657677/161245732-95aaa8a4-8a8c-4a0b-8a17-4bf90f12b94f.png)

[2022-04-01 12:33] herve3d opened #16039 "Manage dbeaver in Windows taskbar"
Hello my dear beaver,
I use dbeaver very often, so I pinned it to the Windows 10 taskbar. But when I launch it the icon appears twice in the bar. If I'm not careful and I click on the first icon then dbeaver tries to launch a second time but with a failure, it's frustrating and wastes time.
It would be cool if there was only one icon like for other software.
Have a good spring,
herve3d
![image](ht

[2022-04-01 13:31] samdavey commented on #11264
I've found a workaround that seems to fix it (temporarily). I'm using version RedshiftJDBC42-no-awssdk-1.2.55.1083.jar which seems to have the same issue. It is particularly prevalent on sessions you leave unattended for a bit, so might be related to a timeout setting.

Run the following SQL restore your session's ability to 'write' ...
`set readonly = 0;`
... then get on with your day (until you

[2022-04-01 13:42] Matvey16 commented on #16032
Duplicates #14531 #10330

[2022-04-01 13:42] #16032 closed, assigned to nobody

[2022-04-01 13:56] cah-lester-mcgrath opened #16040 "Generate DDLs from command line"
**Describe the solution you'd like**
I would like to generate DDL's from the command line and save the results into a text file.

**Describe alternatives you've considered**
Maybe I will hack an AutoHotkey script to press the "Generate SQL" > "DDL" option from a selected database object.

**Additional context**
I need this to automate committing DDL files of a Sybase IQ (SAP IQ?).  Sybase (SAP ASE

[2022-04-01 13:57] Matvey16 opened #16041 "Autocomlplete duplicates column name in grouping panel"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.2

#### Steps to reproduce, if exist:
1. Open grouping panel
2. Click edit grouping columns
3. Type full column name in `columns` or fill function name in `functions`
4. Press enter

**Expected:** Name of the column or function stays correct
**Actual:** Name's duplicate gets appended to already type

[2022-04-01 14:31] Matvey16 opened #16042 "Column order in filter window breaks if they were priorly ordered by dragging manually"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.2

#### Steps to reproduce, if exist:
1. Open a table with many columns
2. drag column headers randomly to mess up their order
3. Click on Customize filters button
4. Select one column and click move to top/bottom

**Expected:** The column is moved to top/bottom accordingly
**Actual:** Columns mess

[2022-04-01 14:47] Nik-dot opened #16043 "DynamoDB SQL queries update and delete error"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: DBeaver Ultimate 22.0.0

#### Connection specification:
- Database name and version: Amazon DynamoDB

#### Describe the problem you're observing:
When I execute SQL statements from script on DyanamoDB tables, the SELECT does work, but UPDATE and DELETE statements does not work and this error is gi

[2022-04-01 18:26] p91paul commented on #16039
unpin it, then pin it again only when the program window is fully loaded.
This happens if you pin it by dragging a shortcut or during the splash screen

[2022-04-01 19:35] KLIS-IT opened #16046 "German translations in Table Editor are miss-leading"
some of the German translations in Table Editor are miss-leading

[2022-04-01 21:46] Sarke commented on #3027
I would love this too.  Basically, have an option so when you switch between projects, it shows only that projects active editor tabs.  This would make it much easier to have several projects on the go, without all the open editor tabs getting mixed together.

[2022-04-01 21:49] Chealer opened #16049 "No shortcut to open a table from the References panel"
**Is your feature request related to a problem? Please describe.**
When following references between multiple tables, the _References_ panel comes useful to go from table A to table B. However, if table C has a foreign key refering to table B, it is then inconvenient to get to C.

I see no way to do that with DBeaver 22.0.1.

**Describe the solution you'd like**
A simple way would be to allow open

[2022-04-01 21:51] Sarke commented on #10235
@bmoAtolcd and @LoloIrie , something like this: #3027 ?

[2022-04-01 22:56] rambouillet commented on #2959
@Gery63 @Davilink @iainnicol @zejji @guillaumejay @dbrennan @thorstenkampe

I found a way to get DBeaver connected to localdb using ODBC, which persists across the localdb pipe name changes. You only need to have an `ODBC Driver -- for SQL Server` installed. Check it out:

1. First verify you have a SQL Server ODBC driver installed. To do this, go to the Windows Control Panel >> Administrative Too

[2022-04-01 23:41] cyriac-george commented on #15914
Hi @ShadelessFox

I opened the Error Log view and deleted all existing logs. Then I exported the ERD in graphml. The issue still exists yet there were no errors on the Error Log view.
<img width="1083" alt="no_errors_in_error_log" src="https://user-images.githubusercontent.com/102067078/161354731-a79d4462-b399-4b62-941b-a92460bd3cbf.png">

I then went to the log folder and could only see [dbeaver-

[2022-04-02 00:47] flykarry commented on #15981
Sorry, this doesn't work, the result I want is like adding tz('Asia/Shanghai') to the end of the sql statement

[2022-04-02 06:19] yexinfo opened #16050 "About editor tab multi-line display"
Can you add the ability to display the editor tabs on multiple lines?

Currently only one line can be displayed and the others are inconvenient to view in an indented display list.

Just like idea can display tabs in multiple lines, thanks!

[2022-04-02 16:11] pavlexander commented on #8069
For **windows**. Go to: https://www.postgresql.org/download/windows/ Find and click on :

Unzip and go to location similar to: `C:\Users\XXX\Downloads\postgresql-14.2-2-windows-x64-binaries\pgsql\bin`. This will get you the latest version of postgres client and relevant utils (including `pg_dump`).

In separate window open: `C:\Users\XXX\AppData\Roaming\DBeaverData\drivers\clients\postgresql\win`

[2022-04-02 16:20] pavlexander commented on #12582
I have posted a solution here https://github.com/dbeaver/dbeaver/issues/8069#issuecomment-1086670163

[2022-04-02 17:39] guillaumejay commented on #2959
It works perfectly, thanks a lot !

I think the only things I'm going to miss are the save/restore from bacpac, but then, in my currents jobds, I don't need them

[2022-04-02 18:13] Venryx commented on #1050
I wish there were an option to say "LEAVE THE CASING ALONE!". (or more precisely, don't activate "autocomplete" if the user has already typed out the entire keyword manually; see last paragraph)

Personally I prefer uppercase (for clearer visual distinction between keywords and table names), but when I am constructing SQL in response to someone on Slack/Discord/StackOverflow, I try to use the same

[2022-04-03 09:01] Matvey16 opened #16054 "Script task description editing can lead to NPE"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.2

#### Steps to reproduce, if exist:
1. Create a task to execute any script
2. Double-click on a task name
3. Change something in description field
4. Click save task

**Expected:** Everything is saved without errors
**Actual:** NPE appears, but changes are saved successfully nevertheless.

[code]

[2022-04-03 09:24] Matvey16 commented on #15030
Only happens when `keep layout` is anabled

[2022-04-03 10:22] serge-rider opened #16055 "App crashes in Hex editor embedded in SQL editor"
[code]

[2022-04-03 13:35] ShadelessFox commented on #14835
In order to support such variables, this task must be associated with data source, which is not ideal for most use cases of this task.

As an initial implementation, we could just add basic support for shell commands.

After that, a separate issue may be created to support data source-specific variables.

[2022-04-03 13:35] rafaelmartines commented on #15920
Just an update about this issue, this happens on Wayland, on Xorg looks normal.

![image](https://user-images.githubusercontent.com/8183691/161430596-eb694760-358b-4636-8d75-ace7c324de04.png)

![image](https://user-images.githubusercontent.com/8183691/161430651-e623a952-00dd-4820-94ca-7eb8b1234d15.png)

[2022-04-03 15:11] kitos9112 commented on #8069
You've saved me a few Google searches! Kudos to @pavlexander!

[2022-04-03 18:33] LonwoLonwo commented on #16009
Ok, I can reproduce with the "Data rows per statement" = 1 setting.
Thanks for the bug report.

![2022-04-03 21_31_49-export_202204032130 sql — H__asya_special_dbeaver_backup — Atom](https://user-images.githubusercontent.com/45152336/161442874-a37796b9-c7ed-4ba9-bcc3-644357bdbf1a.png)

[2022-04-03 18:43] LonwoLonwo commented on #16038
Thanks for the idea and for the investigation @lukaseder

[2022-04-04 06:51] Matvey16 commented on #15802
Unfortunately we can't help you with kerberos authentication through driver properties because it can vary depending on your work environment. I can suggest to try using DBeaver Enterprise Edition which has dedicated kerberos authentication settings and comes with a free 2 weeks trial period. If you want to continue using Community version I suggest searching JDBC documentation which can contain n

[2022-04-04 06:53] Matvey16 commented on #15978
@globomike Thank you for the suggestion, we will look what can be done.

[2022-04-04 06:59] Matvey16 commented on #15981
@flykarry Hello. If you are talking about SELECT queries, you can configure resultset to convert all date/time data into specific timezone (it won't affect any query, but will convert recived data on the client to show you the time in needed timezone). Will that solve your issue?

![dbeaver_jycMUMCyDC](https://user-images.githubusercontent.com/82543000/161489914-d7fa05fd-2980-4228-ae58-2814313b5b6

[2022-04-04 07:07] kai-morich opened #16057 "procedure out parameters are broken"
Hi

example from #12012 does not work any more for HANA

[code]

with dbeaver 22.0.2 now ends with
![image](https://user-images.githubusercontent.com/25850372/161490340-f87451e7-b51c-4394-9e1c-ba3879c61153.png)
![image](https://user-images.githubusercontent.com/25850372/161490376-9b00351f-5f44-4db4-8923-a19697d18fb7.png)
I haven't checked since when it is broken

[2022-04-04 07:19] LonwoLonwo commented on #16054
Fixed.

[2022-04-04 07:20] LonwoLonwo commented on #16057
What DBeaver version do you use?

[2022-04-04 07:30] uslss commented on #15274
There has been no update for a long time. If your issue isn't resolved - feel free to reopen this one with additional information

[2022-04-04 07:30] #15274 closed, assigned to nobody

[2022-04-04 07:31] #15228 closed, assigned to nobody

[2022-04-04 07:33] LonwoLonwo opened #16060 "DB2i Enhancements"
DBeaver 22.0.2

We need better support of DB2 iSeries/A400 driver

- Sequences support
- Unique keys and check constraints

[2022-04-04 07:34] uslss commented on #15692
There have been no updates for a long time. If it is still actual - feel free to reopen the issue

[2022-04-04 07:34] #15692 closed, assigned to nobody

[2022-04-04 07:34] LonwoLonwo commented on #16060
Implemented:

- sequences support (without DDL for now);
- view definition reading support (system and custom);
- unique key and check constraints reading and adding support;
- ability to rename tables via UI
- ability to add table and column comments via UI

![2022-04-01 01_28_05-DBeaver Ultimate 22 0 2 - NEWTABLE](https://user-images.githubusercontent.com/45152336/161163453-5ef42767-99c3-491e-b1

[2022-04-04 07:36] uslss commented on #15761
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2022-04-04 07:36] #15761 closed, assigned to nobody

[2022-04-04 07:37] #15780 closed, assigned to nobody

[2022-04-04 07:37] LonwoLonwo commented on #16060
Related links:

https://www.ibm.com/docs/en/i/7.2?topic=constraints-adding-using-check
https://www.ibm.com/docs/en/i/7.2?topic=statements-rename

[2022-04-04 07:37] uslss commented on #15844
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info