[2022-05-27 09:20] GuenterSch commented on #3416
Hello,
I installed mesfavoris in my DBeaver 22.0.5. It works, but I think, this is too much for the SQL Editor and it needs a big size of code.

For me, the following features would be enough and very, very usefull:

1. Set a bookmark
2. Delete a bookmark
3. Show the bookmark at the line number (this line is book-marked - Like UltraEdit)
4. Go to next bookmark
5. Go to previous bookmark

All bookm

[2022-05-27 09:59] GuenterSch opened #16619 "Quick Switch Editor: Resize and Color"
Hello,

it would be nice to enlarge the **Quick Switch Editor**. I have a lot of open tabs, and therefore it would be good if I can **resize the window.**
The size should be saved, so it opens with the same size next time.

Furthermore, the same functional window is the **Show List** - right beside the SQL editor tabs.
This should also be resizeable.

Color: The **Show List** has a background colo

[2022-05-27 10:17] GuenterSch opened #16620 "SQL Editor Tab, Quick Switch Editor, Show List: Select wrong Tab"
#### System information:
- Windows 10 21H1
- DBeaver version: 22.0.5

#### Describe the problem you're observing:
I have 37 SQL Editor Tabs open. Often, when I switch to another tab via Mouse (Cursor) or Quick Switch Editor or Show List, the selected Tab will be open for some milli seconds, then the tab on the left side will be the active tab.

Please, can you correct this, that the selected tab w

[2022-05-27 10:22] GuenterSch opened #16621 "SQL Editor Tab: Scroll Tab List via Ctrl+Mouse Wheel"
Hello,

I have opened many SQL Editor Tabs.
Therefore, it would be fine, if I can scroll the Tabs via "move to one tab and then Ctrl+Mouse Wheel" scrolls the tabs (Like FireFox can do this).

Thanks, BR
Günter

[2022-05-27 10:25] ShadelessFox commented on #16620
Hello @GuenterSch,

Can you please provide a video showing the issue? Thanks.

[2022-05-27 11:05] GuenterSch commented on #16620
https://user-images.githubusercontent.com/99535516/170687860-a450be6c-5c31-4334-beb4-b971d032e179.mp4

[2022-05-27 11:15] #14471 closed, assigned to Destrolaric, Matvey16

[2022-05-27 11:15] #15798 closed, assigned to Destrolaric, Matvey16

[2022-05-27 12:19] Matvey16 commented on #16620
@GuenterSch Does it happen at specific times or just randomly and not always?

[2022-05-27 12:22] GuenterSch commented on #16620
Not always, but very often. After start of DBeaver - I think - always.

[2022-05-27 12:24] PILINING commented on #16435
Hello, @troizet, is this issue a duplicate of #16436 ?

[2022-05-27 12:30] E1izabeth commented on #16435
This issue is about changing the cell borders, [another one](https://github.com/dbeaver/dbeaver/issues/16436) is about value selection. I see on the video you submitted in the [comment](https://github.com/dbeaver/dbeaver/issues/16436#issuecomment-1137295015) that your PR might cover it too. So, if your PR pass QA and will be merged, it will close this issue too.

[2022-05-27 13:58] PILINING commented on #16435
I see, thanks you for your explanation. 😃

[2022-05-27 14:08] neilnsmith commented on #15644
Note that it's the same behavior for "decimal" as "numeric".

[2022-05-27 14:52] uslss opened #16623 "Confirm Dangerous Query Execution cannot be enabled from preferences"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.0.5

#### Describe the problem you're observing:
Confirm Dangerous Query Execution cannot be enabled from preferences if it was disabled using the checkbox "Don't ask again" in Confirmation Dialog

#### Steps to reproduce, if exist:
1. Execute some dangerous execution like `drop table tablename`
2. Ch

[2022-05-27 15:24] JSKo13 opened #16624 "Wrong date imported to MySQL through .csv import (date offset by -1 day)"
#### System information:
- Windows 10 Pro 21H2
- Version 22.0.5.202205220912

#### Connection specification:
- MySQL 8.0.29
- MySQL Connector/J 8.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
When uploading data from csv file the date imported to database is offset by -1 day compared to date in csv

#### Steps to reproduce, if exist:

Below p

[2022-05-27 15:40] JiaOkay opened #16625 "Make dbeaver display better on Linux"
I am using dbeaver on linux
The title bar is too large and takes up too much space
just like this

![image](https://user-images.githubusercontent.com/38833358/170731895-6474b740-290e-4f83-9818-7dbd146ecdf1.png)

I want to reduce the width of the title bar and put the title on the left side of the window with logo of dbeaver
just like it's display on the windows or merge title bar and menu bar in s

[2022-05-27 15:50] gvaleika opened #16626 "SSH2 Message about remote host identification chage hides"
#### System information:
- archlinux current
- DBeaver version -  22.0.4.202205022238
- Additional extensions - NO

#### Connection specification:
- Do you use tunnels or proxies (SSH, SOCKS, etc)? - YES

#### Describe the problem you're observing:

On dBeaver startup if script with connection using ssh is active dBever asks to confirm changed remote host identification. On clicking outside of the

[2022-05-27 15:56] jjerin commented on #8371
Make sure you're using the correct driver jar version.  the problem stopped after I updated the driver jar file.

[2022-05-27 16:56] troizet commented on #16435
Yes, E1izabeth explained it correctly

[2022-05-27 21:29] Matvey16 commented on #16480
@mcbeelen You can disable these two options to load data much faster, but you won't be able to edit data in a table in that case. But if you only need to read data (like when you cancel loading of metadata) this will make it much faster

![dbeaver_s0YAgWGBgc](https://user-images.githubusercontent.com/82543000/170791639-01f10d67-5e03-4a7d-8e33-4645f1a4bcd4.png)

[2022-05-27 23:28] stantonium commented on #6652
Yep, still exists for me too.

[2022-05-28 10:35] kharkot commented on #7386
Hello, could you add locales for pl (Poland)?

[2022-05-28 11:40] GuenterSch commented on #16520
Hello,
I have the same behaviour with a Snowflake / MSSQL Server connection.
**I suppose, the problem is, that the connection of the Tab (SQL Editor) does not save the schema or the schema will not be set after a reconnection.
But this is essential for development**, else the objects may be stored in a wrong schema.
The same behaviour is after a new start of DBeaver.
BR
Günter

Example:
![DBeaver-

[2022-05-28 11:42] GuenterSch commented on #16520
![DBeaver-TabConnection](https://user-images.githubusercontent.com/99535516/170823956-71f279c4-5f67-4104-8f39-b9440a5610db.png)

[2022-05-28 11:43] GuenterSch commented on #16520
![DBeaver-TabConnection](https://user-images.githubusercontent.com/99535516/170823992-1ff12dc0-ee33-4d98-b0cd-9d15c21ca811.png)

[2022-05-28 11:58] andrew-dixon commented on #9414
The workaround from @tomsafekeep worked for a bit but today I'm back to the issue (having not closed and reopened DBeaver), so pretty much the same as before, it just took a bit longer to start occurring.

[2022-05-28 12:08] mcbeelen commented on #16480
I can concur that disabling those options will result in much better performance for select queries with the purpose of just viewing the data. (Result show up in ms vs multiple seconds).

So the issue boils down to very slow reading of some metadata.
For a query with multiple joins the metadata is read every table individually, which causes the performance hit to occur multiple times.

Perhaps ins

[2022-05-28 12:27] Matvey16 commented on #16076
@GabagoolOverHere It should have been fixed in the latest snap package. Is this still actual for you in 22.0.5?

[2022-05-28 12:30] Matvey16 commented on #10066
This was the problem with snap confinement. The latest package 22.0.5 should have resolved the issue

[2022-05-28 12:31] #10066 closed

[2022-05-29 10:50] serge-rider opened #16628 "Groupping panel: wrong ORDER BY clause"
When perform ORDER BY COUNT() it fails (because of wrong SQL query).

Another problem is that drag-n-drop of the same column to grouping panel does nothing after grouping clear.

[2022-05-29 11:40] serge-rider commented on #16628
Fixed.

Please test ordering, multiple attributes, custom SQL queries.
Code is in `devel`.

[2022-05-29 11:41] #16477 closed, assigned to E1izabeth, uslss

[2022-05-29 11:57] flambchap commented on #16625
Hi. Thank you for the report. It is a known issue: https://github.com/dbeaver/dbeaver/issues/15920.

BTW, it seems to affect only certain Linux distros.

[2022-05-29 11:57] #16625 closed, assigned to nobody

[2022-05-29 12:34] bagabool commented on #16076
i redownloaded the snap version and gave it a try, still crashes

[2022-05-29 20:58] Matvey16 commented on #10882
It should have been fixed in the latest version of snap package where we changed the confinement.
Please reopen the issue if it is still actual for you

[2022-05-29 20:58] #10882 closed, assigned to riednyko

[2022-05-29 20:59] Matvey16 commented on #8508
It should have been fixed in the latest version of snap package where we changed the confinement.
Please reopen the issue if it is still actual for you

[2022-05-29 20:59] #8508 closed

[2022-05-30 05:09] igorlash opened #16630 "The ''back tick" template removes a next table name when applied to a database name."
#### System information:
- Operating system (distribution) and version : Linux Mint 20.3 Cinnamon, Linux kernel 5.14.0-1038-oem
- DBeaver version : 22.0.5.202205220912
- Additional extensions : DBeaver Debug 6.1.72.202205220912

#### Connection specification:
- Database name and version : MySQL 8.0.27
- Driver name : MySQL Connector/J mysql-connector-java-8.0.17

#### Describe the problem you're o

[2022-05-30 06:09] LonwoLonwo commented on #16630
As I can see "tick" template is not in DBeavers standard templates list.

Can you please share your template page with the "tick" template preview?

![2022-05-30 09_05_14-DBeaver 22 0 2 - _gis_ Script-6](https://user-images.githubusercontent.com/45152336/170927494-94b55ba1-0b02-4b35-a680-728a0002a34d.png)

[2022-05-30 07:13] Matvey16 commented on #16519
This should have been fixed in a latest snap package with updatated confinement.
Please reopen the issue if it is still actual for you

[2022-05-30 07:13] #16519 closed, assigned to nobody

[2022-05-30 07:24] Matvey16 commented on #16076
@GabagoolOverHere Did you install version 22.0.5? There are 3 options in snap store right now and only one of them is unconfined.

[2022-05-30 07:26] MM-UU opened #16631 "SSL configuration: path does not chain with any of the trust anchors"
#### System information:
- Windows 10 21H2
- DBeaver version 22.0.5
- Java version openjdk 1.8.0_302
- Additional extensions: none

#### Connection specification:
- Database MySQL 8.0.29
- Driver for MySQL 8 or later
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
We have a problem connecting to our server over SSL when the ‘Verify server certific

[2022-05-30 07:30] bagabool commented on #16076
i installed it with `sudo snap install dbeaver-ce` which i believe, install the correct version https://snapcraft.io/dbeaver-ce

[2022-05-30 07:35] richard-bridgeman commented on #15516
Has this been addressed? I cannot make any changes to database without seeing these columns - they are way to small.  How can I work when I dont know which data I am changing?

[2022-05-30 08:18] igorlash commented on #16630
![image](https://user-images.githubusercontent.com/31065075/170921733-cb9ee052-2fc7-4bee-8e88-3872f5e42529.png)
![image](https://user-images.githubusercontent.com/31065075/170921814-0f5ca57a-54c5-4a2c-8df3-f0aad594fdff.png)
![image](https://user-images.githubusercontent.com/31065075/170949139-ab6137e2-4dac-4342-98f2-9bf63e745458.png)

[2022-05-30 08:20] igorlash commented on #16630
[code]
![](https://user-images.githubusercontent.com/31065075/170949139-ab6137e2-4dac-4342-98f2-9bf63e745458.png)

I think the "tick" template was in DBeaver's standard templates list in previous versions. If you install the latest one, it is not there, but if you update a previous one, it will be there.

[2022-05-30 08:24] igorlash commented on #16630
As an experiment I have added the same template to the java editor
![image](https://user-images.githubusercontent.com/31065075/170950069-75721afd-31a0-43ee-9a85-35a8268fe465.png)
and it works well for java
![image](https://user-images.githubusercontent.com/31065075/170953259-59ff8795-5310-4b92-a192-7d0b173344a4.png)

[2022-05-30 08:45] Matvey16 opened #16632 "Improve search function in drop-down tabs list"
We need to extend the search functionality added in #13456 to the search in tab bar, currently the search only works in quick switch editor window, but doesn't if tabs list is opened from the drop-down

![dbeaver_IpQtPefaa3](https://user-images.githubusercontent.com/82543000/170953994-293eed4f-7ba1-41c7-89cb-c222a58a7b0d.gif)

[2022-05-30 09:19] #13456 closed, assigned to ShadelessFox, Matvey16

[2022-05-30 09:19] #12768 closed, assigned to E1izabeth, Matvey16

[2022-05-30 09:45] Destrolaric commented on #15361
Temporary workaround: setup your workspace outside of appdata, windows store virtualizes that folder, preventing any binary launch from it.

[2022-05-30 09:59] sandermarechal commented on #16296
It appears I can't use that PPA because it's not signed:
[code]

[2022-05-30 10:02] sandermarechal commented on #16296
~I updated dbeaver using the original URL at https://dbeaver.io/debs/dbeaver-ce but it appears to be a lot faster than it was a month ago.~

Scratch that. It's back to ~380 kbps

[2022-05-30 10:07] LonwoLonwo commented on #16296
Please try to use

`sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 30ece325`

[2022-05-30 10:19] LonwoLonwo commented on #16296
Oh, sorry, this is the correct command:

`sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 30ECE32520D438C21E16BF884A71B51882788FD2`

[2022-05-30 10:28] sandermarechal commented on #16296
Thanks, that command worked. I can confirm that the PPA version has much, much faster download speeds.

[2022-05-30 10:42] Destrolaric commented on #7257
Will be closed with #16493

[2022-05-30 10:45] #16623 closed, assigned to E1izabeth

[2022-05-30 10:49] Destrolaric commented on #8051
@boukenka, Hi, new routing was added what uses attributes for paths, write me, if it solves your issue.  It can be enabled via ERD preferences -> Routing type

[2022-05-30 11:06] LonwoLonwo commented on #16296
Thanks for the answer and for the investigation @sandermarechal

Can I close this ticket?

[2022-05-30 11:36] boukenka commented on #8051
@Destrolaric Hello. Thank you for your message. Is the correct configuration ?

![image](https://user-images.githubusercontent.com/16502423/170982853-5dc84b20-7bf8-4362-a252-fc88b427cfb9.png)

When selecting this option, there are issues when I try to change the lines positions of the connectors.
Also I see nowhere the '**FK**' indication (like [here](https://user-images.githubusercontent.com/1650

[2022-05-30 12:02] Destrolaric commented on #8051
@boukenka Ah, this is a known bug, in https://github.com/dbeaver/dbeaver/issues/16493 it will be fixed. Foreign key status can be seen from association itself, black square means that this is foreign key association.

[2022-05-30 12:22] boukenka commented on #8051
@Destrolaric The black square is a good point to show the foreign key association.

[2022-05-30 13:01] LonwoLonwo commented on #16630
Ok, I see.
Thanks for the report.

[2022-05-30 13:25] LonwoLonwo commented on #16350
Hello @ahhmedbilal

Can you please uncheck the "Use fetch-size" setting?

![2022-05-30 16_24_26-DBeaver Ultimate 22 1 0 - _DBC_ Script-29](https://user-images.githubusercontent.com/45152336/171001698-d01387eb-c850-4f1a-a7e9-7765c6869cc0.png)

It helped me:

![Wxpe4Nc7Ma](https://user-images.githubusercontent.com/45152336/171001738-fabeddf6-c22f-4844-8fdd-8933da6d5c76.gif)

[2022-05-30 14:54] ShadelessFox commented on #16367
Duplicate of #14724

[2022-05-30 14:54] #16367 closed, assigned to nobody

[2022-05-30 16:57] jmoraleda commented on #16587
I have the exact same problem in Linux Debian. Deleting `/home/jorge/.local/share/DBeaverData` does not help. It gets recreated and the same error appears:

[code]

[2022-05-30 19:41] uslss commented on #16628
verified

[2022-05-30 19:41] #16628 closed, assigned to serge-rider, uslss

[2022-05-30 22:50] wellbigas opened #16640 "SQL editor : function unaccent(); not recognized in Dbeaver"
#### System information:
- Operating system (distribution) and version : Windows 11
- Dbeaver version : Version 22.0.5.202205220912
- Additional extensions: nothing extensions

#### Describe the problem you're observing:
the documentation in one post do postgreSQL: https://www.postgresql.org/docs/current/unaccent.html
When typing the function documented in postgreSQL, function unaccent();
It is no

[2022-05-31 00:33] yanxg opened #16641 "DBeaver cannot automatically download drivers or cannot use explicitly specified drivers in Mac mini M1"
DBeaver cannot work in my Mac mini M1, the system information is as follows

ignite: ignite 2.12.0
beaver: DBeaver 22.0.4
os: Mac mini M1 11.5.

The settings about drivers are shown in images:
<img width="1493" alt="bug0" src="https://user-images.githubusercontent.com/11605569/171071688-23bf82e8-6128-4daa-a3e5-0fb032da28ef.png">

![Uploading bug1.png…]()

Following is the log information complaini

[2022-05-31 01:11] ivanlonel commented on #13981
Hi @ShadelessFox,

I thought the URI created from the simple preset was just an abbreviated form of the one created from the advanced preset, but somehow pointing to the same entity, and that this was dissociated from the actual path shown in the navigator tree. So I had the wrong impression it was just a matter of standardizing the URIs to always look the same, even on custom connection views.

T

[2022-05-31 05:41] serge-rider opened #16643 "DB2: procedure auto-completion is broken"
[code]

[2022-05-31 05:58] ahhmedbilal commented on #16350
Hi,

100,000 rows for dbeaver is nothing. the scenario that i mentioned, you can
observe that if you have millions of rows e.g 20 millions or so with 20 to
30 columns, then you will see the long progress on the lower right corner
and in background tasks..

Regards

On Mon, May 30, 2022 at 4:25 PM Anastasiya ***@***.***> wrote:

[2022-05-31 06:00] LonwoLonwo commented on #16350
But did you uncheck the "Use fetch-size" button in the preferences?

[2022-05-31 06:09] ahhmedbilal commented on #16350
Yes, I did. These are the settings I am using.

![image](https://user-images.githubusercontent.com/46369037/171109415-258fa0ab-1cc3-4415-92de-0e2045d7e1c1.png)

I have 102464655 (102 millions) rows in a table and 30 columns. The select
* on this table does fetch 6000 rows but here is the status of lower right
corner.

![image](https://user-images.githubusercontent.com/46369037/171109540-a5aba218-8

[2022-05-31 06:12] redcatbear commented on #16519
@Matvey16, Retested with the snap for 22.0.5. The problem persists. Since I don't know whether 20.0.5 came out before or after the fix, I will redo the test with the next Snap release and report back.

[2022-05-31 06:41] LonwoLonwo commented on #16350
Sorry, I do not see inages. You can't add images via e-mail, you should do it on this GitHub page.

[2022-05-31 06:44] ahhmedbilal commented on #16350
Bg task still running.

![image](https://user-images.githubusercontent.com/46369037/171109302-c5641a0a-e3e4-4a10-a65e-d59351654346.png)

I will edit prev comment to add images now.

[2022-05-31 06:47] ahhmedbilal commented on #16350
You should be able to see now.

[2022-05-31 06:48] ahhmedbilal commented on #16350
about 37 minutes have passed and bg task still running.

[2022-05-31 07:06] #16435 closed, assigned to Matvey16

[2022-05-31 07:06] #16436 closed, assigned to Matvey16

[2022-05-31 08:04] wasd345 opened #16644 "Does the data edit field type not support control selection? Can you choose like navicat?"
数据编辑字段类型为时间不支持控件选择吗？能不能像navicat一样能选的

Does the data edit field type not support control selection? Can you choose like navicat?

[2022-05-31 08:34] LonwoLonwo commented on #16640
Thanks for the report @wellbigas

[2022-05-31 08:38] LonwoLonwo commented on #16644
Please translate your message into English.

And provide screens from Navicat and more info about your feature request.

[2022-05-31 09:36] #16350 closed, assigned to uslss, LonwoLonwo

[2022-05-31 09:36] #9875 closed

[2022-05-31 10:18] #7257 closed

[2022-05-31 10:18] #16493 closed, assigned to Destrolaric, DariyaFedorova

[2022-05-31 10:22] ShadelessFox commented on #15860
I believe that this is an expected result (the case depends on the target database).

Column mappings can be configured in the data transfer wizard.

[2022-05-31 10:49] yanglanxing opened #16647 "can add quick view DDL?"
i hope click table name and quick view DDL info
thanks!
You guys are the best!

[2022-05-31 11:27] ShadelessFox commented on #16647
Hello @yanglanxing,

You can use the `Generate SQL` command to accomplish that. Is that what you need?

![image](https://user-images.githubusercontent.com/35821147/171162883-a7610b4f-5111-468b-98c8-b599b747ac2b.png)

[2022-05-31 11:40] LonwoLonwo commented on #16350
Hello @ahhmedbilal

I've added ability to use Teradata TOP limit syntax.
Please test it in our Early Access version: https://dbeaver.io/files/ea/
You should enable the "Use SQL to limit fetch size" setting for it.

![2022-05-30 17_56_51-DBeaver Ultimate 22 1 0 - _DBC_ Script-29](https://user-images.githubusercontent.com/45152336/171019212-c74c5a14-c656-48e8-b357-923857601e7c.png)

[2022-05-31 12:07] uslss commented on #16643
verified

[2022-05-31 12:07] #16643 closed, assigned to serge-rider, uslss

[2022-05-31 12:58] igorlash opened #16649 "NPE when you try to open a database object."
#### System information:
- Operating system (distribution) and version : Linux Mint 20.3 Cinnamon, Linux kernel 5.14.0-1038-oem
- DBeaver version : 22.0.5.202205220912
- Additional extensions : DBeaver Debug 6.1.72.202205220912

#### Connection specification:
- Database name and version : MySQL 8.0.27
- Driver name : MySQL Connector/J mysql-connector-java-8.0.17

#### Describe the problem you're o

[2022-05-31 13:38] uslss commented on #2392
Export to SQL is already available
![image](https://user-images.githubusercontent.com/31996417/171186954-bc2a2d1f-ad98-4ccf-b291-6b3575407525.png)

[2022-05-31 13:40] uslss commented on #7273
closed as a duplicate of #9136

[2022-05-31 13:40] #7273 closed

[2022-05-31 13:43] #2392 closed

[2022-05-31 13:44] uslss commented on #5158
#16281

[2022-05-31 13:47] uslss commented on #7010
It could be done from the context menu at Properties Tab
![image](https://user-images.githubusercontent.com/31996417/171188993-2712e5a1-81bb-4fb3-ad08-3c7964121537.png)

[2022-05-31 13:47] #7010 closed

[2022-05-31 14:07] Destrolaric commented on #13127
![image](https://user-images.githubusercontent.com/20579256/171193577-04815411-e5ba-464e-a69c-c5ad80d5d47a.png)

[2022-05-31 14:07] #16640 closed, assigned to DariyaFedorova, LonwoLonwo

[2022-05-31 14:07] #14926 closed, assigned to ShadelessFox, Matvey16

[2022-05-31 14:19] igorlash commented on #16649
I have recheck, the problem shows up when "Procedure" is selected.
![image](https://user-images.githubusercontent.com/31065075/171195139-c37299ad-83ac-4b16-9c93-7987b0fe9db5.png)

[2022-05-31 15:00] LonwoLonwo commented on #16640
Implemented in DBeaver 22.1.0

![2022-05-31 11_31_30-DBeaver Ultimate 22 1 0 - _postgres 13 3_Script-159](https://user-images.githubusercontent.com/45152336/171129879-b2d13891-639c-4370-ac12-ae5b51087fbf.png)

[2022-05-31 15:18] LonwoLonwo commented on #16649
We are using this statement for the search:

`SELECT ROUTINE_SCHEMA,ROUTINE_NAME FROM information_schema.ROUTINES ORDER BY ROUTINE_NAME `

(You can check it in the [Query Manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager))

As I can see in DBeavers code, the problem persists if the procedures ROUTINE_SCHEMA field is empty in the result query.
Can you check it, please? Can you execute

[2022-05-31 15:23] qsxzaqq opened #16650 "Number of large CSV import rows exceeds int."
Number of large CSV import rows exceeds int.

class: org/jkiss/dbeaver/tools/transfer/stream/importer/DataImporterCSV.java
method:  runImport

"int lineNum"

[2022-05-31 15:23] JuinEsp commented on #988
Para mim, isso serviu muito bem.

[2022-05-31 15:24] qsxzaqq commented on #16650
![Z)I{_LYK6OZ0X_F~)70Z(ME](https://user-images.githubusercontent.com/29307369/171210484-08e6c963-eb0b-46a9-b324-29f782d47108.png)

[2022-05-31 15:37] bober2000 commented on #9107
Will add, that AWS SSM SSH tunnel, also, makes possibe to connect to DBs that located in private subnets with no need to create bastion host in public. So yes - we are waiting for this feature too

[2022-05-31 16:01] igorlash commented on #16649
I take it тфьу means name.

I have checked these requests
[code]
They all return correct results (no schema name nulls).
But I have found another problem in a similar situation.
If I try to search in "DB Metadata" with the same character which crashes filtering

![image](https://user-images.githubusercontent.com/31065075/171216391-446f7607-215e-4a73-b344-e5f942a32f03.png)

another exception is thr

[2022-05-31 16:03] GuenterSch opened #16651 "SQL Editor - Format - Trim trailing spaces"
Hello,
to remove all trailing spaces of a script/file (opened in SQL Editor), it would be fine to have the functionality
**Edit>Format>Trim trailing spaces**
for the selection and for the whole file.

_Example:_
_ (Underscore) stands for a space
<CODE>select_\*________<P>
___from DUAL;<P>
--><P>
select\_\*<P>
___from DUAL;<P></CODE>

Thanks, BR
Günter

[2022-05-31 16:08] santiagomolinadecastro opened #16652 "Authentication failed with Salesforce CDP"
Hi all !!

I'm getting an error when i try to connect with my Salesforce CDP environment. The error says "Authentication failure".

I think that is because salesforce CDP ask a verification code (multi factor authentication). I don't now if dbeaver supports this kind of authentication, but i'm not sure.

Thanks!

[2022-05-31 16:23] LonwoLonwo commented on #16649
In your second example

[code]

Probably returned 'sys' as schema name for some procedure, and DBeaver didn't find it in your catalogs list.

[2022-05-31 17:13] igorlash commented on #16649
I don't think it is about 'sys'. ROUTINE_SCHEMA and ROUTINE_NAME are not nullable. It is about how MySQLCatalog is created.
![image](https://user-images.githubusercontent.com/31065075/171233231-f1f0019b-f4df-4e0f-babb-f5b78022f4db.png).
Looks like all the information is grouped by a catalog name. In our case it is 'sys', but in my case
![image](https://user-images.githubusercontent.com/31065075/17

[2022-05-31 17:22] uslss commented on #13898
verified

[2022-05-31 17:22] #13898 closed, assigned to serge-rider, E1izabeth, uslss

[2022-05-31 20:21] LonwoLonwo commented on #16651
Hello @GuenterSch

![2022-05-31 23_17_07-DBeaver Ultimate 22 1 0 - _DBC_ Script-29](https://user-images.githubusercontent.com/45152336/171277372-9f740819-6642-4625-b7c6-c35df1bfd9bd.png)

You can highlight your statement `select_*________` and choose 'Trailing spaces'. And extra spaces will be trimmed.

[2022-05-31 23:45] hernancerm commented on #7631
@uslss is https://github.com/dbeaver/dbeaver/issues/10950 actually a duplicate for this feature request? The issued that is marked as duplicate could be solved otherwise (e.g. by adding some margin at the bottom of the editor), not necesassarily implementing the feature asked here, which is scrolling past the last line as in VSCode. As an example:

![Screen Recording 2022-05-31 at 06 38 27 p m](ht

[2022-06-01 00:43] RohanHart opened #16655 "Full DDL can't be shown for a PostgreSQL schema containing earthdistance extension"
#### System information:
- Operating system (distribution) and version: NixOS 22.05
- DBeaver version: 22.0.5
- Additional extensions: none

#### Connection specification:
- Database name and version: PostgreSQL 14.3
- Driver name: PostgreSQL JDBC Driver [42.2.5]
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

After installing the earthdistance a

[2022-06-01 02:02] yanglanxing commented on #16647
i now that
but is not quick and easy
Click on the table name and display the DDL, like Navicat easy

[2022-06-01 03:25] igorlash commented on #16649
I have just retested and found out that the problem is reproducible on my remote DB only. It is not reproducible on my local DB.
Taking it into account and after having reviewed the code I can suggest the bug might be caused by multi-threading processing.
When the exception is thrown
![image](https://user-images.githubusercontent.com/31065075/171321502-fae2576a-461b-4323-a052-aac7966ffdb4.png)
som

[2022-06-01 05:10] LonwoLonwo commented on #16649
But where is the schema 'sys'? Or is this remote schema or something else?

[2022-06-01 05:30] igorlash commented on #16649
I think it is not about the schema 'sys' it is about processing results from a DB. The schema 'sys' exists in the both DBs. The difference is the speed of processing, the remote one is slower.

Check out this method MySQLStructureAssistant.findProceduresByMask
Here
![image](https://user-images.githubusercontent.com/31065075/171333164-98ac03d7-6085-4690-8851-0202f13f4338.png)
you can see a call to

[2022-06-01 05:43] LonwoLonwo commented on #16655
Yes, I see. The problem is with the "earth" data type. We thought that data types can have only one constraint, but the "earth" data type has 3 constraints.

Thanks for the report @RohanHart

[2022-06-01 06:33] Bitros opened #16656 "[Oralce] Materialized view is unnecessarily shown as a common table"
#### System information:
- Windows 11
- DBeaver CE Version 22.0.5.202205220912

#### Connection specification:
- Oracle Database 12c Enterprise Edition Release 12.2.0.1.0 - 64bit Production

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
`CREATE MATERIALIZED VIEW TEST_MV AS SELECT 1 FROM DUAL;` refresh and you can see both materialized view and common table.

![ima

[2022-06-01 06:46] bvl-lc opened #16657 "databases not visible after upgrade to 22.0.5"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version 22.0.5
- Additional extensions

#### Connection specification:
- Database name and version: SQL Server in docker image on local VM
- Driver name: standard SQL Server driver in DBeaver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
After upgrading

[2022-06-01 07:03] ahhmedbilal commented on #16350
Thanks Lonwo for the build, its working perfectly now. at least now i dont hv to use "top N" in select and dont have to kill the long running queries.

one more thing: i can not see the excel icon on the status bar of resultset panel. i can see in the video that u shared. is it coming in some other build?
![image](https://user-images.githubusercontent.com/46369037/171346719-8ec1741c-02c3-4b90-a734

[2022-06-01 07:34] igorlash commented on #16649
This exception
![image](https://user-images.githubusercontent.com/31065075/171351506-032d115d-4b92-4a89-99c2-db6857324c12.png)
is very confusing, because it says "Procedure catalog 'sys' not found", but this catalog or at least its name 'sys' has been found in a DB some lines of code above
![image](https://user-images.githubusercontent.com/31065075/171351836-afbb0e70-9558-4d7d-bacd-891520905185.pn

[2022-06-01 07:56] LonwoLonwo commented on #16657
Can you please check the error log? https://github.com/dbeaver/dbeaver/wiki/Log-files

Also, what connection view do you have?

![2022-06-01 10_54_57-](https://user-images.githubusercontent.com/45152336/171355832-9a73052d-340b-49b5-858d-86d5ba2af074.png)

[2022-06-01 08:03] bvl-lc commented on #16657
I'm sorry, but I installed the previous version again so I lost these logs.
The connection view is Custom and then all checkboxes are unchecked. I never changed this, so it is all default...

[2022-06-01 08:09] LonwoLonwo commented on #16656
Yes, this is a well-known problem in DBeaver.

But the [documentation](https://docs.oracle.com/cd/B19306_01/server.102/b14200/statements_6002.htm) says:

`When you create a materialized view, Oracle Database creates one internal table and at least one index, and may create one view, all in the schema of the materialized view. Oracle Database uses these objects to maintain the materialized view dat

[2022-06-01 08:10] LonwoLonwo commented on #16656
This is our metadata reading statement for Oracle:

![2022-06-01 10_59_34-DBeaver Ultimate 22 1 0 - _orcl_Script-161](https://user-images.githubusercontent.com/45152336/171358336-9dde8829-9d80-45cd-9b5f-ef72eedb79d0.png)

[2022-06-01 08:14] LonwoLonwo commented on #16657
I can't reproduce your issue on DBeaver 22.0.5

Maybe reinstalling of DBeaver will help in your case.
Or [Reset Workspace](https://github.com/dbeaver/dbeaver/wiki/Reset-workspace) can help

[2022-06-01 08:16] LonwoLonwo commented on #16652
Can you please provide a full error log? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-06-01 08:21] LonwoLonwo commented on #16650
Thanks for the report @qsxzaqq

[2022-06-01 08:25] GuenterSch commented on #16651
Hello Anastasiya,
thanks for your answer. I know already this funtionality to trim all spaces. But here also leading spaces will be removed, even though, that I want to have to indent the code.
**I need the funktionality to remove the trailing spaces (blanks) only.**
This shrinks the file and it improves a comparison between different versions of the "same" file.
BR
Günter

[2022-06-01 08:41] luyunfei11 opened #16658 "序列导出数据文件.csv后，然后导入，导入后在表下新生成了一个表。序列节点下，没有此序列"
#### System information:
- Operating system (distribution) and version ：windows10
- DBeaver version：22.0.4.202205011839
- Additional extensions

#### Connection specification:
- Database name and version： postgres
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? on

#### Describe the problem you're observing:
After the sequence exports the data file .csv, and then imports it, a new

[2022-06-01 08:43] LonwoLonwo commented on #16651
Ok, thanks for the idea

[2022-06-01 08:59] LonwoLonwo commented on #16658
Hello @luyunfei11

By default, DBeaver creates tables during the data import, not sequences.

![2022-06-01 11_50_12-Data Transfer](https://user-images.githubusercontent.com/45152336/171366752-52bcde3f-423d-4de7-aa3d-34bc8685771a.png)

Also, I'm not sure you can add data to the sequence table. What is your goal?

![2022-06-01 11_54_06-Event](https://user-images.githubusercontent.com/45152336/171366

[2022-06-01 09:12] luyunfei11 commented on #16658
Under normal circumstances, when exporting a sequence, the original sequence should be restored under the sequence node after importing. I would like to know what is the reason why the table is directly generated after importing? Why is it designed this way?

[2022-06-01 09:15] ShadelessFox commented on #16647
Can you please provide more information regardless your request? A video showing this feature in navicat would be enough.

[2022-06-01 09:27] Bitros commented on #16656
Thanks for your response and good to know this Oracle materialized view trick. As you commented above, it is not a critical bug but we could exclude the table created by MV statement in table directory. It may complicate the table listing logic and get less improvement. Fix it or not is OK for me.

[2022-06-01 09:28] bvl-lc commented on #16657
[dbeaver-22.0.5.log](https://github.com/dbeaver/dbeaver/files/8812817/dbeaver-22.0.5.log)
I tried to upgrade again with the same result. In attachment the logs.

I will now try your other advice (reset workspace)...
1) I don't have a workspace.xmi file
2) had to remove the complete .metadata file, but nothing changes. The Databases don't show up (see other attachment).
![Capture](https://user-imag

[2022-06-01 09:36] javen46 opened #16659 "About filtering features"
At present, the "filtering function" hopes to be further optimized, and the style is as intuitive and simple as the filtering function of Navicat;
I hope the bottom column can display the total number of data. Thank you.
About filtering features
![shauixuan6](https://user-images.githubusercontent.com/106662597/171375025-66d50094-5567-4fac-a1e8-f956497e0b93.png)

[2022-06-01 09:43] E1izabeth commented on #16644
DBeaver has its own datetime editor. See https://github.com/dbeaver/dbeaver/pull/15077

[2022-06-01 09:48] E1izabeth commented on #16659
Related to https://github.com/dbeaver/dbeaver/issues/16289

[2022-06-01 09:54] LonwoLonwo commented on #16657
Hm, I see.

[code]

But do not understand yet.

[2022-06-01 10:05] LonwoLonwo commented on #16658
That's because DBeaver is a universal database tool. And many other databases use sequences not as tables. For this reason, DBeaver's data transfer creates only tables.

[2022-06-01 10:10] uslss commented on #10580
closed as a duplicate of #16532

[2022-06-01 10:17] LonwoLonwo commented on #16350
I use DBeaver Ultimate. It includes Office extension by default.

DBeaver community users can add Office extension manually. Here you can find the instruction: https://github.com/dbeaver/dbeaver/wiki/Optional-extensions

[2022-06-01 10:18] LonwoLonwo commented on #16350
And thanks for the quick answer @ahhmedbilal

[2022-06-01 10:32] johanneswerner commented on #16449
anything new on this?

[2022-06-01 11:25] rocket-yg commented on #9414
While using an external keyboard, if I press the HOME or END keys, the cursor gets thrown straight up to top of the SQL script. That said, the `cmd` + `arrow-keys` on the mac built in keyboard works just fine. Can anyone help me with a TL:DR of the above thread since I am not well versed in the technicalities of this workbench.

[2022-06-01 11:37] andrew-dixon commented on #9414
@rocket-yg the TL:DR is, it's a bug and needs fixing but hasn't been as of yet.

[2022-06-01 11:39] rocket-yg commented on #9414
Oh! Understood. Thanks @andrew-dixon for prompt response.

[2022-06-01 12:02] uslss commented on #6118
Done in the scope of #6135

[2022-06-01 12:02] #6118 closed

[2022-06-01 12:04] uslss commented on #11764
Closed as a duplicate of #9615

[2022-06-01 12:04] #11764 closed, assigned to nobody

[2022-06-01 12:10] uslss commented on #8046
will be resolved in the scope of #10765

[2022-06-01 12:10] #8046 closed

[2022-06-01 12:13] E1izabeth commented on #16644
@wasd345, does it satisfy your needs?

[2022-06-01 12:15] uslss commented on #4836
For now Replace method could be chosen in Export properties
![image](https://user-images.githubusercontent.com/31996417/171402142-b5aae776-cf38-4be4-9dc4-ec5ba8d15f4e.png)

[2022-06-01 12:21] #12049 closed, assigned to nobody

[2022-06-01 12:25] JSKo13 commented on #16624
The problem seems to be related to timezone when uploading the data to server and specifically handling of change of time zone for summer time. I.e. considering change of time to summer time on 27.03.2022 there is offset in uploaded data starting from date after the time change:
![obraz](https://user-images.githubusercontent.com/63546725/171403527-c0ef27b2-cff3-4b27-991b-13c002b2237d.png)

Any pos

[2022-06-01 12:36] KostyaTretyak commented on #15904
This is realy obtrusive window. I think by default it should be disabled.

[2022-06-01 12:44] uslss commented on #11614
seems it was fixed in #13654

[2022-06-01 12:44] #11614 closed, assigned to nobody

[2022-06-01 12:45] uslss commented on #10276
seems it was fixed in #13654

[2022-06-01 12:50] uslss commented on #12913
@AlexandreHGuerra is it still actual against 22.0.5?

[2022-06-01 12:51] LonwoLonwo commented on #16656
Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/12537

[2022-06-01 12:51] #16656 closed, assigned to nobody

[2022-06-01 12:52] #13107 closed, assigned to nobody

[2022-06-01 12:53] LonwoLonwo commented on #16657
Can you please check your Query Manager? https://github.com/dbeaver/dbeaver/wiki/Query-Manager
With enabled Properties.
Maybe something strange about database loading you can find there?

[2022-06-01 13:02] uslss commented on #7083
will be done in the scope of #13696

[2022-06-01 13:05] bvl-lc commented on #16657
Jun-01 15:03:00	SQL / Meta	SELECT DISTINCT s.*,ep.value as description FROM master.sys.schemas s
LEFT OUTER JOIN master.sys.extended_properties ep ON ep.class=3 AND ep.major_id=s.schema_id AND ep.minor_id=0 AND ep.name='MS_Description'
INNER JOIN master.sys.all_objects o ON s.schema_id=o.schema_id	37	3	Success	master	Metadata

Seems all normal to me...

[2022-06-01 13:07] tomsafekeep commented on #9414
@andrew-dixon for me, it works almost all the time (at least for now). It greatly improved after resetting keyboard setting, clearing karabiner settings and using only the home and end configuration.

[2022-06-01 13:08] LonwoLonwo commented on #16569
Ok, thanks for the idea @travelliu

[2022-06-01 13:17] bvl-lc commented on #16657
I guess it doesn't make any difference if I am using the Community Edition...

[2022-06-01 13:22] uslss commented on #7825
The shortcut could be assigned in preferences
![image](https://user-images.githubusercontent.com/31996417/171414657-7edef43f-248b-4de6-8edf-f9e5f71c3a73.png)

[2022-06-01 13:33] uslss commented on #8787
will be implemented in #10765

[2022-06-01 13:33] #8787 closed

[2022-06-01 13:38] jasraja opened #16663 "Update the Athena JDBC Driver to version 2.0.30"
I have tried updating the Athena JDBC Driver in DBeaver, to version 2.0.30 however the connection could not be established as it does not accept the template settings of region in the JDBC String.

The present JDBC driver for Athena that comes with the default installation of DBeaver is SimbaAthena version 2.0.25, which was released in Nov' 2021. There has been class name changes in the JDBC drive

[2022-06-01 13:39] LonwoLonwo commented on #16563
Can you provide your driver and database info, please?

You can find this info in your Connection page.
![2022-06-01 16_33_46-DBeaver Ultimate 22 1 0 - _postgres 13 3_Script-161](https://user-images.githubusercontent.com/45152336/171418026-c1ddd8bb-4d20-41e1-bc40-acfa3d32a2ae.png)

[2022-06-01 13:39] Destrolaric commented on #16449
@johanneswerner Sorry, for waiting, I see that you have multiple version of DBeaver plugins installed in same time. This was probably caused due to incorrect update. Try reinstalling DBeaver.

[2022-06-01 13:58] cherfim opened #16664 "Oracle query is painfully slow"
#### System information:
- Operating system (distribution) and version MacOS Monterey 12.0.1
- DBeaver version Version 22.0.5.202205220912
- Java version java version "17.0.2" 2022-01-18 LTS
- Additional extensions

#### Connection specification:
- Database name and version Oracle Database 19c Enterprise Edition Release 19.0.0.0.0 - Production
- Driver name oracle.jdbc.OracleDriver
- Do you use tu

[2022-06-01 14:05] emironovDB commented on #16528
Hi @mugg1e !
We already have a spicific template for users request. Link: [template](https://github.com/dbeaver/dbeaver/issues/new?assignees=&labels=bug%2C+wait+for+review&template=bug_report.md&title=)
Please fill the details and send it in your ticket as a comment.

Thanks!

[2022-06-01 14:17] LonwoLonwo commented on #16657
Ok. Maybe DBeaver 22.1.0 release will help. We will be waiting for it.

[2022-06-01 14:18] ShadelessFox commented on #16658
Hello @luyunfei11,

Sequences do not store any data, you can't insert data in them, only retrieve it.

Can you please tell me more about your workflow? What are you trying to accomplish?

Thanks.

[2022-06-01 14:20] #16572 closed, assigned to ShadelessFox

[2022-06-01 14:21] #16057 closed, assigned to ShadelessFox, Matvey16

[2022-06-01 14:21] ShadelessFox commented on #16658
If you want to create a copy of your sequence, you can take its DDL, execute it, and then use the `setval` function to set the sequence's current value. See https://www.postgresql.org/docs/current/functions-sequence.html

[2022-06-01 14:22] ahhmedbilal commented on #16350
and now i am getting following error when i drag a col to "Group" panel...

![image](https://user-images.githubusercontent.com/46369037/171427364-5b987ab0-2873-43b4-b1fc-c882d5736f77.png)

[2022-06-01 14:23] ShadelessFox commented on #16624
Hello @JSKo13,

1. Can you please provide the DDL of your table?
2. What's the output of `SELECT NOW()`? Does it differ from your actual (local) time?

[2022-06-01 14:26] ShadelessFox commented on #15914
The issue was fixed in #14956.

[2022-06-01 14:26] #15914 closed, assigned to nobody

[2022-06-01 14:26] LonwoLonwo commented on #16350
Now - does it means in the last DBeaver version?
Can you provide some steps and query with syntax error?
You can find it in the [Query Manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager).

[2022-06-01 14:31] ShadelessFox commented on #15831
Hello @dpsspatial,

Sorry for the very late response.

To get rid of excess lines just disable the `insert line feed before comma` option.

This is expected behavior, so I'm not sure what the issue is. Please let me know if you have any questions left.

[2022-06-01 14:31] #15831 closed, assigned to ShadelessFox

[2022-06-01 14:36] E1izabeth commented on #16659
@javen46, I'll close this issue as duplicate. DBeaver has not the same, but similar functionality. Please, see how to do the same in DBeaver and answer, does it satisfy your needs or not. Have you met something that you can't do with DBeaver?

[2022-06-01 14:36] #16659 closed, assigned to E1izabeth

[2022-06-01 14:38] julian-innerchild commented on #6048
Scrolling down on drivers selection screen will offer you those older drivers. Just add a new server connection and select the correct one.

You could check the following screenshots:
1. Driver selection screen
![1](https://user-images.githubusercontent.com/94164672/171431525-366109b5-f8fc-48ed-ad0f-10c2a3570a96.png)

2. Scrolling down to pick the correct one [https://postimg.cc/F77YycdS](https://

[2022-06-01 14:39] E1izabeth commented on #16618
Hi, @erxiaoouba! Could you, please, provide video of this issue and log file? To know how to find the log file, see https://dbeaver.com/docs/wiki/Log-files/

[2022-06-01 14:44] E1izabeth commented on #16617
@TimNapierVST , DBeaver usually automatically reconnects when connection is lost. Please, attach the log file. To know how to find it, see https://dbeaver.com/docs/wiki/Log-files/

Also DBeaver has buttons to connect/reconnect/disconnect on the toolbar
![image](https://user-images.githubusercontent.com/28875055/171432179-3513d362-0815-407f-9bbb-1505b87aa4c0.png)

[2022-06-01 14:47] ahhmedbilal commented on #16350
Yes in latest ver i.e 22.1.0 (the one in EA).

Step:
1. run "select * from table"
2. in resultset, drag any column to "Group" panel to take column values and count of each value.

Query:
SELECT TOP 9000 colName, COUNT(*) AS **_count_** FROM (SELECT * FROM tableName) src GROUP BY colName ORDER BY count DESC;

Issue: the word "count" after "count(*) AS" and "ORDER BY" is causing problem. It can be c

[2022-06-01 15:01] datenbank-projekt commented on #16563
Hi,

please see screenshot (it would be nice if one could copy the information to the clipboard).

![connection](https://user-images.githubusercontent.com/29085761/171436057-7c9d5f39-173c-439f-b453-9a9aedde0f5f.png)

[2022-06-01 15:02] ShadelessFox commented on #16563
Thanks for the additional information.

In fact, you can select and then copy this text:

![image](https://user-images.githubusercontent.com/35821147/171436437-70c612db-fdfd-4885-ac6d-7eb96d93653e.png)

[2022-06-01 15:14] LonwoLonwo commented on #16350
Yes! I see. Thanks for the bug report!
It will be fixed in this ticket #16628 in the DBeaver 22.1.0

[2022-06-01 15:16] serge-rider commented on #16587
Please test the fix in the Early Access version: https://dbeaver.io/files/ea

This problem may be caused by following bug in Eclipse platform:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=231206
https://bugs.eclipse.org/bugs/show_bug.cgi?id=335171

Potentially it may be caused by some other Eclipse-based application corrupted configuration.

Workaround: delete file ~/.eclipse/org.eclipse.equinox.

[2022-06-01 15:24] dpsspatial commented on #15831
Well thanks for digging into this - much appreciated - I guess I'll have to deal with the issue as I live by my commas at the front of the line!!! Thank you again!!!

[2022-06-01 15:40] kseniiaguzeeva opened #16669 "SQL Server: ResultSet is read-only when column aliases are used"
#### System information:
- Operating system (distribution) and version Win
- DBeaver version 22.1.0.202205310836

#### Connection specification:
- Database name and version SQL Server

#### Steps to reproduce, if exist:
Write a select statement with column aliases in the SQL Editor and execute it

**Expected**: the table can be edited in the ResultSet
**Actual result**: the table is read-only

![d

[2022-06-01 15:42] LonwoLonwo commented on #16649
Ok, thanks for the report.

[2022-06-01 16:39] dnbernardi opened #16671 "DBeaver hangs while trying to format/display big amounts of data in panel"
#### System information:
- Windows 10 (21H2)
- DBeaver 22.0.5
- Additional extensions: postgis 3.0.0

#### Problem description:
When selecting a cell that has a big value (i.e, a geojson string/json) and having the right panel open (data visualizer), the formatting process hangs the application for a considerable time (1-10 minutes). This only happens with formatted data (one-line strings are show

[2022-06-01 16:57] jmoraleda commented on #16587
Thank you for looking into this. Unfortunately the new version still does not work on debian:

Right after installation I got:
[code]
At that point it got stuck displaying the splash banner and never opens the app.

After deleting `.local/share/DBeaverData/`  the exception does not accur but it still gets stuck displaying the splash banner and still never opens the app.

[code]

Deleting `~/.eclip

[2022-06-01 17:19] ShadelessFox commented on #16587
Hello @jmoraleda,

The error in the log is not critical, so it shouldn't interfere with the boot process.

Talking about the splash screen, you have to wait a bit. The very first launch is way longer than usual.

[2022-06-01 17:33] jmoraleda commented on #16587
Thank you @ShadelessFox . I tried waiting (10min) but it didn't work, BUT what did work (in case others get here) was deleting my old `.dbeaver4` and `.dbeaver-drivers` folders. (I backed them up so I just have to recreate my connections).

In conclusion. The original bug has been fixed in debian. Thank you everyone.

[2022-06-01 19:27] LonwoLonwo commented on #16671
Hello @dnbernardi

Maybe disabling the "Auto Format" can help?

![2022-06-01 22_26_31-DBeaver Ultimate 22 1 0 - json_test_json](https://user-images.githubusercontent.com/45152336/171486113-d153dea2-76f0-4a39-bb71-36f8fe165dd9.png)

[2022-06-01 19:33] LonwoLonwo commented on #16671
Probably connected with #15951 and #6814

[2022-06-01 19:49] dnbernardi commented on #16671
Thanks for the help @LonwoLonwo,

I tried toggling off the option you mention, but only works when the value is already loaded. The loading itself is the heavy thing. And it's not a global option, meaning that toggling off "Auto Format" doesn't mean that the next loads will be unformatted, only applies to that value in that cell.

Note: I have 16GB of RAM and just now DBeaver consumed 9.5GB of mem

[2022-06-01 20:16] lmontani opened #16672 "Oracle: Add compile 'body only' feature"
**Is your feature request related to a problem? Please describe.**
Add compile body only. Actually only full object is compile (example: Package), and this may decompile dependent objects.

**Describe the solution you'd like**
Add compile body only

**Describe alternatives you've considered**
-

**Additional context**
-

[2022-06-01 20:27] johanneswerner commented on #16449
@Destrolaric problem remains, any other ideas?

[2022-06-01 23:13] alper-sunar opened #16673 "Inconsistent results between grid/text displays"
#### System information:
- Operating system (distribution) and version: MacOS 11.6
- DBeaver version: 22.0.5.202205220912

#### Connection specification:
- Database name and version: PostgreSQL 13.6 on x86_64-pc-linux-gnu, compiled by Debian clang version 12.0.1, 64-bit
- Driver name: PostgreSQL standard driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're

[2022-06-01 23:19] TimNapierVST commented on #16617
Hi Elizabeth

Thanks for getting back to me.

I have extracted the event from the log and attached it here.

Regards

Tim
***@***.***
***@***.***
***@***.***

Tim Napier
Principal Consultant
Professional Services - Data Practise | Versent

***@***.***

0406430225

***@***.***

***@***.******@***.***>

***@***.***

versent.com.au<http://versent.com.au>

***@***.***

Head Office: Level 19/8 Exhibiti

[2022-06-01 23:35] E1izabeth commented on #16617
Unfortunately, files attached to the email don't come here, to the github. So, it would be appreciated if you come to the github issue and attach it here. Thank you.

[2022-06-02 00:03] TimNapierVST commented on #16617
[AuthenticationToken.log](https://github.com/dbeaver/dbeaver/files/8819487/AuthenticationToken.log)
As requested @E1izabeth

[2022-06-02 01:33] Heliner opened #16674 "copy as sql return bad result if the result is sorted"
#### System information:
- Operating system (distribution) and version  Windows 11 21H2
- DBeaver version     22.0.5.202205220912
- Additional extensions

#### Connection specification:
- Database name and version   5.6.28-cdb2016-log
- Driver name   com.mysql.cj.jdbc.Driver  Driver for MySQL 8 and later
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing

[2022-06-02 01:53] #16658 closed, assigned to nobody

[2022-06-02 02:37] luyunfei11 opened #16675 "After the table data is exported and then imported, the field type in the table is wrong"
#### System information:
- Operating system (distribution) and version :win10
- DBeaver version : 22.0.4.202205011839
- Additional extensions

#### Connection specification:
- Database name and version:postgres
- Driver name:org.postgresql.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
After the table data is exported and then imported, the f

[2022-06-02 03:06] baiyu97 opened #16676 "启动DBeaver程序失败"
!ENTRY org.eclipse.osgi 4 0 2022-06-02 10:59:02.155
!MESSAGE 应用程序错误
!STACK 1
java.lang.IllegalStateException: Error initializing desktop platform
	at org.jkiss.dbeaver.core.DesktopPlatform.createInstance(DesktopPlatform.java:112)
	at org.jkiss.dbeaver.core.DesktopPlatform.getInstance(DesktopPlatform.java:88)
	at org.jkiss.dbeaver.core.DesktopAdapterFactory.getAdapter(DesktopAdapterFactory.java:33)

[2022-06-02 03:16] yanglanxing commented on #16647
![middle_img_v2_f4ed5dd1-c4f8-47f9-95bd-037737e88c3g](https://user-images.githubusercontent.com/20502337/171545501-5e9066e4-9043-4058-a644-3799b422780b.jpg)

[2022-06-02 04:10] ShadelessFox commented on #16647
I'm not sure what's the point of adding yet another way of viewing the DDL of an object.

What's wrong with the `Generate SQL` approach? It takes two clicks. Otherwise, you can open the table, select the DDL tab and view it there.

We can add support for shortcuts, so you can assign one to the `Generate SQL` command.

[2022-06-02 04:17] ShadelessFox commented on #16675
Hello @luyunfei11,

In the case of importing to a new table, DBeaver guesses the data types of the data you're trying to import. In your case, the `starttime` column could contain plain text formatted to look like a time, as an example.

You can change data types during the data transfer:

![image](https://user-images.githubusercontent.com/35821147/171551907-243e5a00-6506-4b1c-9056-d2c874131c93.pn

[2022-06-02 05:26] serge-rider commented on #16587
Another fix applied (the bug appeared in 22.0.5 `DBeaverData/.workspaces` has to be a file, not directory).

[2022-06-02 05:51] luyunfei11 commented on #16675
It can solve my problem, but why not export the type and data together, as you said, when importing, you can modify the field type. If there are many type fields in the table, you need to modify it item by item, and there are certain limitations in use. In my opinion, data and types can be exported together, and when imported, they can be generated directly, reducing the intermediate links of huma

[2022-06-02 06:00] yanglanxing commented on #16647
I think it's useful for a quick look at table structures.  For example, when I need to copy a field quickly, compare the field at development time.

[2022-06-02 06:47] spassignat commented on #15333
Hello,
I managed to find a workaround, but it implies to work in the settings files.
- Create drivers in the drivers.xml files under the right provider (tested mysql and oracle)
- Create datasource in the data-source.json file (it seems to work on the latest version from the UI screens)

[2022-06-02 07:55] LonwoLonwo commented on #16673
Hello @alper-sunar

You can change the number of fractions digits in the Preferences -> Editors -> Data Editor -> Data Formats.

![2022-06-02 10_43_03-Preferences](https://user-images.githubusercontent.com/45152336/171581110-3879abe5-d675-4eea-a657-4bccc7318068.png)

But anyway, this situation looks buggy. Thanks for the report.

[2022-06-02 07:57] LonwoLonwo commented on #16673
This situation is also incorrect

float4 without modifiers = double precision, but float(2) has precision 2, not 10.

![2022-06-02 10_56_08-DBeaver Ultimate 22 1 0 - _postgres_ Script-32](https://user-images.githubusercontent.com/45152336/171582429-b794b999-5909-48b2-9dab-0c3deea4ba33.png)

[2022-06-02 08:09] ahhmedbilal commented on #16350
I downloaded 22.1.0 today from EA. Now grouping works as it should.
![image](https://user-images.githubusercontent.com/46369037/171584436-5ad7ce3e-f0e7-4ec2-94bf-081de14c9fee.png)

but, when i click "Calc" or "Metadata" tab and then come back to "Grouping" tab, its empty.

![image](https://user-images.githubusercontent.com/46369037/171584613-e3765fb3-83e3-48dd-bb76-428e1f78a9a8.png)

[2022-06-02 08:09] serge-rider opened #16677 "Visualize navigator tree contents loading"
Currently on DBeaver startup navigator tree remains empty for some time (because of lazy connections config loading).
We need to show some loading progress.

[2022-06-02 08:16] serge-rider commented on #16664
Did you try to play with performance settings:
![image](https://user-images.githubusercontent.com/6398845/171585785-1c9933b1-c6ee-422f-be22-aab5f1ed834b.png)

Changing Oracle metadata loading settings may increase system catalog queries performance in 10-100 times.

[2022-06-02 08:31] Destrolaric commented on #16449
@johanneswerner Is your DBeaver folder write-protected?

[2022-06-02 08:36] Destrolaric commented on #16631
Hi, could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-06-02 09:08] sgrinko opened #16678 "SQL Formatting - Flexible and customizable"
Good afternoon,
I am using the Enterprise edition of DBeaver

**Is your feature request related to a problem? Please describe.**
I write a lot of different code. Functions, procedures, descriptions of tables, types, etc.
It takes a lot of time to manually format the code.

**Describe the solution you'd like**
I ask you to consider the possibility of implementing a code formatter that can be very f

[2022-06-02 09:09] ShadelessFox commented on #16675
Storing additional metadata is impossible since the data transfer is not tired to a specific data source. Also, a lot of file formats available as an export target don't have any room to store additional information in them (e.g. CSV, you can't have comments and can't even distinguish between the header and a row). Not sure if a separate file would be better.

We are looking towards improving our

[2022-06-02 09:13] ShadelessFox commented on #16647
Thanks for the explanation.

[2022-06-02 09:17] ShadelessFox commented on #16676
Hello @baiyu97,

It looks like a duplicate of https://github.com/dbeaver/dbeaver/issues/16587.

Can you please refer to the provided solutions there to see if they help?

[2022-06-02 09:20] zhaokunyao commented on #10897
![image](https://user-images.githubusercontent.com/17042914/171598368-7620ba4a-0ef7-42d9-8862-fd684e21c5e1.png)

get hanged  while importing a 1M lines csv file.

![image](https://user-images.githubusercontent.com/17042914/171598565-730e1106-c913-427e-829b-bbcfd377b190.png)

file content:

![image](https://user-images.githubusercontent.com/17042914/171598623-8547b971-0a40-405f-9008-33bd4b09c123.pn

[2022-06-02 09:20] sastorsl commented on #8800
Workaround for now was to place the ssh key in `~/snap/dbeaver-ce/ssh`

[2022-06-02 09:26] sastorsl commented on #8800
There is a pretty old - 2+ years - Snap forum thread regarding the same.
https://forum.snapcraft.io/t/ssh-agent-plug-request/1250/7

Unfortunately they don't offer an Issues page on their github repo: https://github.com/snapcore/snapd
IMHO this is not an issue with dbeaver but with snap in it self, and there are some very valid security concerns with giving snap access to everything as running thi

[2022-06-02 09:40] E1izabeth commented on #16617
Thank you for quick reply, @TimNapierVST. Could you also provide information about the database and the authentication method you are using?

[2022-06-02 09:43] baiyu97 commented on #16676
问题解决了，感谢！

[2022-06-02 09:44] #16676 closed, assigned to nobody

[2022-06-02 09:56] Wouter0100 commented on #8800
@riednyko could you perhaps re-open this issue? That'd be lovely.

[2022-06-02 10:18] MM-UU commented on #16631
Dear George,

Please find them attached.

[2022-06-02 10:33] idryzhov commented on #6754
Seeing this problem on Version 22.0.5.202205220912.

[2022-06-02 10:39] uslss commented on #16525
@elonmusk408 more about this error could be founded [here](https://www.ibm.com/support/pages/faq-jdbc-errorcode-4499-connectivity)

[2022-06-02 10:43] alper-sunar commented on #16673
Agreed, even if it can be managed with settings, the display should be consistent between different values imho. Thank you.

[2022-06-02 10:56] JSKo13 commented on #16624
Hello,

1. Attached example .csv, below DDL for table:

[Example.csv](https://github.com/dbeaver/dbeaver/files/8823090/Example.csv)

CREATE TABLE `CFIX_Pos` (
  `PostingDate` date NOT NULL,
  `PONumber` varchar(10) COLLATE utf8_unicode_ci DEFAULT NULL,
  `POPosition` int DEFAULT NULL,
  `RefNumber` varchar(45) COLLATE utf8_unicode_ci DEFAULT NULL,
  `FINumber` bigint NOT NULL,
  `FIPosition` int N

[2022-06-02 10:58] DariaMarkaryan opened #16680 "Remove setting for Delete Object confirmation"
We need to remove setting for Delete Object confirmation
It is not safety setting
To find this preference go to Window->Preferences->User Interface->Confirmations->Delete Object

[2022-06-02 11:06] DariaMarkaryan opened #16681 "Can't revert changes if setting for Revert changes confirmation is set to Never"
#### System information:
- win11
- DBeaver 22.1.0

#### Describe the problem you're observing:

https://user-images.githubusercontent.com/43252954/171616232-ca7385da-29ce-44de-aa2d-a7cd1d21cd1e.mp4

#### Steps to reproduce, if exist:
Go to Window->Preferences->User Interface->Confirmations
Set Never to "Revert changes" confirmation and apply changes
Edit metadata in some table and press  Revert ch

[2022-06-02 11:29] DariaMarkaryan opened #16683 "[MySQL] Can't use calendar in value panel for date\time\timestamp\datetime values"
#### System information:
- Win11
- DBeaver CE 22.1.0

#### Connection specification:
- MySQL

#### Describe the problem you're observing:
https://user-images.githubusercontent.com/43252954/171619109-e9027c7b-86a8-4c25-bb9d-73963b050d4a.mp4

#### Steps to reproduce, if exist:
Set focus to the datetime format and open Value panel.
Click on this icon for the calendar -> you'll get the error
![image](

[2022-06-02 11:41] sgrinko opened #16684 "Improving the implementation of the EXPLAIN command"
Good afternoon,
I am using the Enterprise edition of DBeaver

Now Dbeaver has a function to get the plan of the query being executed.
However, at the moment:
- Version 22.0.0.202203131528
no support for all possible options for the EXPLAIN command
For Postgres 14 (latest current version) these options are: `ANALYZE`, `VERBOSE`, `COSTS`, `SETTINGS`, `BUFFERS`, `WAL`, `TIMING`, `SUMMARY`.

Currently

[2022-06-02 13:49] ShadelessFox commented on #14892
Already implemented

[2022-06-02 13:49] #14892 closed, assigned to ShadelessFox

[2022-06-02 14:43] igorlash commented on #16649
I was wrong about the speed of processing.

I have debugged a bit and found out that different sets of data used to fill MySQLDataSource.catalogCache, and to read from this cache in MySQLStructureAssistant.findProceduresByMask depending on a user's security configuration. When the cache is filled the same schema list is used as in the Database Navigator.
![image](https://user-images.githubusercont

[2022-06-02 15:06] igorlash commented on #16649
To find out the reason of the problem it is better to put a breakpoint in AbstractObjectCache.getObjectMap
![image](https://user-images.githubusercontent.com/31065075/171660389-2fc4e7c1-ddab-4e61-97e0-37f9249ecc50.png)
and find out where the data come from when the cache is filled with  schemas.

[2022-06-02 15:19] Destrolaric commented on #16564
@eugriner Hi, sorry for waiting, I think solution was discussed in https://github.com/dbeaver/dbeaver/issues/3712

[2022-06-02 16:19] ShadelessFox commented on #16624
Thanks. I don't see anything strange regardless the provided DDL.

Have you tried adjusting the `Timezone ID` parameter of the importer?

![image](https://user-images.githubusercontent.com/35821147/171677043-f44ca062-443d-4ce0-907b-3a8909a59609.png)

[2022-06-02 16:58] igorlash commented on #16649
Here is the bug
![image](https://user-images.githubusercontent.com/31065075/171683542-c67b4795-f2d5-4865-8b74-90b36a423043.png)
The cache is filled using
[code]
and this request doesn't always return 'sys'

[2022-06-02 17:46] rdp commented on #886
Noticed today if I have a single line of 100K characters SQL editor drags to a standstill...very slow...FWIW :)

[2022-06-02 18:29] KostyaTretyak commented on #5845
In my case works only if I choose `authentication method` -> `agent` instead of password or public key.

[2022-06-02 18:53] cherfim commented on #16664
As stated in the problem description, I already have all the performance flags checked; the query with 8 minutes runtime was run with them:
<img width="682" alt="Screen Shot 2022-06-02 at 9 51 39 PM" src="https://user-images.githubusercontent.com/2437153/171706803-277cd1d7-3f15-4f25-91fb-c96354508b1d.png">

[2022-06-02 20:19] eugriner commented on #16564
Hi @Destrolaric, thanks for getting back. You are right, and I did stop by it, but since it was closed I started a new one, now I see I could have posted there. Sorry about that. Can you merge it?

I did try the socketFactory option in PostgreSQL driver suggested by @serge-rider in #3712 without any luck. And took me a while to find out the socat right config.

The asdf+direnv is a pretty cool sol

[2022-06-02 20:41] JSKo13 commented on #16624
Yes I have tried i.e. GMT+2 (which is current timezone as dBeaver do not allow CEST as timezone).

Here are the setting:
![obraz](https://user-images.githubusercontent.com/63546725/171732509-5ebecca6-3a4a-49f2-8048-d8197d270693.png)

With the source .csv [Example2.csv](https://github.com/dbeaver/dbeaver/files/8827637/Example2.csv)
![obraz](https://user-images.githubusercontent.com/63546725/1717331

[2022-06-02 20:54] JSKo13 commented on #16624
The server timezone is as follows:
![obraz](https://user-images.githubusercontent.com/63546725/171735808-d0a95108-5ee8-413c-8f1a-b7194a0cd246.png)

Trying to set CEST in dBeaver couses error:
![obraz](https://user-images.githubusercontent.com/63546725/171736038-073b62bb-5a16-494f-9914-07ef02f9dc53.png)

[2022-06-03 00:27] saingsocheat opened #16686 "Resolution"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2022-06-03 06:48] LonwoLonwo commented on #16649
Yes, this is workaround.
But the main problem is in the "some cases".
I do not have such type of datasourses in my test databases (MySQL, Maria, local, remote), wich have unreaded databases.
"SHOW DATABASES;" always returns to me the correct number of objects.

So, we are always welcome to contributions.

[2022-06-03 06:49] LonwoLonwo commented on #16686
Hello, please add info in your issue template.

[2022-06-03 06:56] LonwoLonwo commented on #16684
Thanks for the idea and for the investigation @sgrinko

[2022-06-03 07:27] DariaMarkaryan opened #16687 "[MySQL] Can't delete row with JSON column"
#### System information:
- Win11
- DBeaver CE 22.1.0

#### Connection specification:
- MySQL

#### Describe the problem you're observing:
The row with column of JSON type can be deleted, but it returns after the table refresh

https://user-images.githubusercontent.com/43252954/171807856-a950f3ee-8ca1-4e64-b50c-d337c63321d2.mp4

#### Steps to reproduce, if exist:
1. Create a table with json column

[2022-06-03 07:58] Defman opened #16688 "Spatial heat map"
**Is your feature request related to a problem? Please describe.**
Would like to generate a heatmap.

**Describe the solution you'd like**
Being able to have DBeaver color geometry based on a counter.

**Describe alternatives you've considered**

**Additional context**

[2022-06-03 08:13] lolsteamroller opened #16689 "Can't select all files when clicking on the folder, when selecting files for running tasks."
#### System information:
- Windows
- DBeaver version 22.0.5

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/7465747/171815316-2aaf287c-526b-4555-8b47-abe50bec3ff8.png)

When trying to click on the whole folder to add sql scripts to the task, it just doesn't select. Instead I have to click through all of the files one by one. I have needs to run 30-10

[2022-06-03 08:25] serge-rider commented on #15046
`dbeaver-qa` already contains Eclipse project definition (.project file).

Thus you must import it as Import existing Eclipse Projects.
Import New Project or general project works in target repository doesn't contain .project file.

[2022-06-03 08:26] LonwoLonwo commented on #16350
Thanks for the report @ahhmedbilal
I will create ticket for this.

[2022-06-03 08:29] ShadelessFox commented on #16686
According to the profile, they look like a stats hunter.

[2022-06-03 08:29] #16686 closed

[2022-06-03 09:02] ahhmedbilal commented on #16350
Hi again,
sometime i notices DBeaver is not applying top N to long queries. here is screen shot.

![image](https://user-images.githubusercontent.com/46369037/171822170-d4a74198-389d-4910-96d4-f048a88cf2f6.png)

could not get the reason why its not putting Top after select.

In Teradata we can use the word "sel" instead of "select". i am using "sel" in both queries. here are the queries....

query

[2022-06-03 10:10] DariaMarkaryan opened #16693 "Reset UI settings doesn't work on mac"
#### System information:
- Macos
- DBeaver CE 22.1.0

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/43252954/171834263-f8b5ef41-5efc-4084-95d9-24b2eed68b04.png)
  Steps to reproduce:
1. Hide toolbar with window->appearance->Hide toolbar
2. Edit->reset UI settings
Expected: the ui settings rejected
Actual: this action doesn't affet on ui settings and

[2022-06-03 10:11] ghost opened #16694 "Inconsistent behaviour with table valued function and result set limit"
#### System information:
- Database: Microsoft SQL Server 2019 (RTM-CU16) (KB5011644) - 15.0.4223.1 (X64)
	Apr 11 2022 16:24:07
	Copyright (C) 2019 Microsoft Corporation
	Express Edition (64-bit) on Linux (Ubuntu 20.04.4 LTS) <X64>
- DBeaver Version 22.0.5.202205220912

#### Connection specification:
- Driver Microsoft JDBC Driver for SQL Server connected over LAN
- Do you use tunnels or proxies (

[2022-06-03 10:13] igorlash commented on #16649
Hello @LonwoLonwo
About **But the main problem is in the "some cases".**
I don't agree with you on this matter because the problem doesn't show up only if a mysql user is root or has all privileges on all databases or at least access to the 'sys' database. Very often privileges are provided by admins, and privileges are very restricted especially if you want to get access to prod (only a crazy adm

[2022-06-03 10:22] ShadelessFox opened #16695 "Spreadsheet: Refactor model to support nested rows"
Currently, our presentation model is unaware of collection elements and other stuff. That's why we have complex value editors.

There's not a lot of information regarding this issue because it's about development.

This ticket is a part of #12148.

[2022-06-03 10:45] Matvey16 opened #16696 "Changes to the active connection are not saved if user refuses to reconnect"
#### System information:
- DBeaver version 22.1.0

#### Describe the problem you're observing:
If the connection is active and some changes are made, saving changes asks if you want to reconnect, if you refuse the changes won't be saved.

#### Steps to reproduce, if exist:
1. Connect to a database
2. In the context menu click edit connection
3. Change anything and click OK
4. Refuse to reconnect

[2022-06-03 11:05] LonwoLonwo opened #16698 "Grouping panel button "Show duplicates" doesn't work in PostgreSQL"
Use Select in SQL Editor
Open Grouping panel
Drag one column in the Grouping panel
Enable "Show duplicates only" button

[code]

![2022-06-02 11_28_08-DBeaver Ultimate 22 1 0 - _postgres 13 3_Script-161](https://user-images.githubusercontent.com/45152336/171841853-7974fb9c-753f-483e-8bd8-23da4fb6acf4.png)

[2022-06-03 11:12] serge-rider commented on #16698
Fixed

[2022-06-03 11:13] serge-rider commented on #16698
PostgreSQL doesn't support column aliases in HAVING clause. We will use original function name

[2022-06-03 11:42] ansien commented on #14749
Same problem here on newest DBeaver (22.0.5.202205220912).

When I SSH directly (ssh@ip) to one of my Ubuntu 20.04 LTS servers it works fine. And so does SSH tunneling trough DBeaver.

SSH'ing directly to my Ubuntu  22.04 LTS server also works perfectly but with DBeaver's SSH tunnel it gives a "Auth fail":

[code]

[code]

[2022-06-03 11:48] JeroenNienhuis opened #16700 "(minor bug) sorting order fields for filtering"
When setting up a filter for an integer or a numerical field using the gui and the values are ordered, the sorting order is aphabetical instead of numerical.
![afbeelding](https://user-images.githubusercontent.com/51078213/171847350-7eeb99b1-a3c7-4771-81e7-673ebe6a276b.png)

[2022-06-03 12:22] #16698 closed, assigned to serge-rider, Matvey16

[2022-06-03 12:23] #16696 closed, assigned to E1izabeth, uslss

[2022-06-03 13:18] Matvey16 opened #16702 "Improve confirmation dialogs"
We need to rethink the properties that allow or stop confirmations for different actions.

1. Change the name of the Value column and change drop-down list to checkboxes
2. Backward compatibility
3. Add Tooltips for all the confirmations
4. Correct names of some confirmations (e.g. server-side ordering)
5. Swap group and value columns
6. Move confirmations to options:
 - Close extra result tabs
 -

[2022-06-03 13:58] DariaMarkaryan commented on #16587
Verified

[2022-06-03 13:58] #16587 closed, assigned to serge-rider, DariyaFedorova

[2022-06-03 14:23] Destrolaric opened #16703 "Improve path readability for ER diagrams with attribute associations"
In the current form, multiple associations unite into a singular line pointing to an attribute sometimes it may cause problems with readability. Probably we need some kind of connector, for multiple lines.

Require to implement:

Decorators should not overlap entity
Orthogonal pathes should not overlap each other (more preferable is parallel way of connection)
Nice to have
Bridge decoration in cas

[2022-06-03 14:27] LonwoLonwo commented on #16649
Ok, but what is the solution to this issue? What do you think about this?
 If we do not have a catalog in our catalogs list, but our select returned this catalog name - I propose to skip this result. Because DBeaver does link between found object and object and navigator tree. We can't do links to objects which the user doesn't know (or see).
So, just skip them.

[2022-06-03 14:37] lixaotec commented on #6215
+1

[2022-06-03 14:38] WhiteN9 opened #16704 "Pressing enter inside a wrapper to get a new line"
**Is your feature request related to a problem? Please describe.**

Hello, I'm a user coming from VSCode. Do you have an option to go to a new line if we open a wrapper like (), or “”, or ”. Currently, every time I open a (), my text cursor is inside, I press enter, and my text cursor jumps behind the ) instead of going down a new line.
This is what I expect it to do when I press enter:
[code]

**

[2022-06-03 14:41] lixaotec commented on #4250
+20000

[2022-06-03 14:46] igorlash commented on #16649
Just skipping solves the problem
3. And the Procedure catalog 'sys' not found exception
but I am not sure if it solves the problem
2. NPE in 'Open data object'
or other possible problems
I suggest another solution, instead of using
[code]
we can use
[code]
where my ('my_db1', 'my_db1') is a list returned by

[code]
and this list is already cached when we need it.

PS. Personally I don't like the i

[2022-06-03 15:11] igorlash commented on #16649
About my suggested solution. It is important to be careful with the cache. I don't know how it works with databases are filtered.
![image](https://user-images.githubusercontent.com/31065075/171881876-79b706e0-e485-40b5-b026-0706b79b13b1.png)
I don't know if they are filtered in the cache as well

[2022-06-03 15:14] igorlash commented on #16649
Sorry, I accidentally closed the issue

[2022-06-04 12:19] dishkakrauch commented on #5314
Any progress here?

[2022-06-04 12:43] Destrolaric commented on #14339
https://github.com/dbeaver/dbeaver-ee/pull/1413 PR

[2022-06-04 17:24] Matvey16 opened #16705 "[Wayland] Data can't be edited inline after double click"
#### System information:
- Operating system (distribution) and version Ubuntu 22.04
- DBeaver version 22.1.0

#### Steps to reproduce, if exist:
1. Double-click on any cell in data editor
2. Input something

**Expected:** Data in a cell is replaced with the input
**Actual:** Nothing happens

[2022-06-04 18:29] HsiangSun opened #16706 "Mysql export sql file have garbled"
### Server
- Ubuntu 20.04 LTS

### Mysql
- VERSION： 8.0.28
- CHARACTER SET：utf8mb4
- COLLATE：utf8mb4_general_ci

### Dbaver Client
- platform：Widnows 10 （OS version 19044.1706）
- version：Dbaver community 22.0.4.202205011839

### Editor
- vscode

###  SQL DDL
[code]

### Screenshot
![dbaver-bug.png](https://i.postimg.cc/W4MDnC0W/dbaver-bug.png)

[2022-06-04 20:30] ShadelessFox commented on #16624
Java does not support such timezone. Could you try the `CET` timezone instead?

[2022-06-04 20:32] ShadelessFox commented on #16706
Hello @HsiangSun,

Thanks for the bug report.

[2022-06-04 20:52] ShadelessFox commented on #16706
After further investigation, I'm unable to reproduce your issue. The following statement was generated by DBeaver:

[code]

Using the following table:
[code]

Can you please provide steps required to reproduce this issue?

[2022-06-05 17:21] nsssayom commented on #2250
I don't see my PostGIS columns in the DB. Version 22.0.4.202205022238.

[2022-06-05 17:53] cryptiswap-admin commented on #16546
The issue seems to be using ubuntu 22.04 on AWS.
I created 2 identical servers, one with ubuntu 22.04 and another with 20.04.
They both used the same private key for SSH.
I connected successfully on 20.04 but I got "Cannot establish tunnel, Auth fail" when trying to connect on ubuntu 22.04

[2022-06-05 18:51] HsiangSun commented on #16706
## Thanks team build dbeaver which  powerful and free!

### This my step to reproduce this issue as follows as:
1. create table as you provide.
2. select database then right click,choose tools and dump.
[![dbdebug1.png](https://i.postimg.cc/XNPmFzHM/dbdebug1.png)](https://postimg.cc/CdjcpmpJ)
3. select table then next.
[![dbdebug2.png](https://i.postimg.cc/5yQPnfPh/dbdebug2.png)](https://postimg.c

[2022-06-05 18:56] IDevTrooper opened #16707 "Table names and column names will be lowercased if not put in quotes"
#### System information:
- **Operating system (distribution) and version**
MX Linux - 19.4 (based on Debian GNU/Linux 10 (buster)), Kernel 5.16.0-6mx-amd64 x86_64
- **DBeaver version**
22.0.5.202205220912

#### Connection specification:
- **Database name and version**
PostgreSQL 13.7 (Ubuntu 13.7-1.pgdg20.04+1) on aarch64-unknown-linux-gnu, compiled by gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0, 64

[2022-06-05 19:07] IDevTrooper commented on #16707
This is a general issue with PostgreSQL and has nothing to do with DBeaver...

[2022-06-05 19:07] #16707 closed, assigned to nobody

[2022-06-05 20:07] ShadelessFox commented on #16706
I see. Thanks for the clarification.

Please enable the `Dump binaries in hex` option:

![image](https://user-images.githubusercontent.com/35821147/172068657-9367f23e-da91-4792-986e-9871590f599e.png)

[2022-06-06 00:59] MoralCode commented on #11891
saw this in dbeaver 21.3.5 after a column was added to a MariaDB database while DBeaver was open then trying to edit a value in that new column. restarting DBeaver as suggested above fixes the issue. Just wanted to chip in in case thats helpful at all

[2022-06-06 05:29] LonwoLonwo commented on #16688
Hello @Defman

Please provide more info about your idea. Pictures also will be very beneficial.

[2022-06-06 06:48] LonwoLonwo commented on #16689
Thanks for the bug report @lolsteamroller

[2022-06-06 07:23] LonwoLonwo commented on #16687
As I can see, the problem is in the DELETE statement, in the WHERE part. Probably we can't use some statement like this:

[code]

Also we can't use json column as a key in the table.

![2022-06-06 10_17_47-DBeaver Ultimate 22 1 0 - t1_json_key](https://user-images.githubusercontent.com/45152336/172114685-51d3a708-d3ab-4880-adcc-b5739503e403.png)

Maybe we can use some workaround like in PG: https:

[2022-06-06 08:35] DariaMarkaryan opened #16710 "[Oracle] Problems with newly created table indexes"
#### System information:
- Win11
- DBeaver CE 22.1.0

#### Connection specification:
- Oracle (12.2 EE)
- Driver name Oracle JDBC driver 12.2.0.1.0
- SSH

#### Describe the problem you're observing:
When you create an index from the table properties, you get wrong DDL in the index metadata. You can see only error message in it:
[code]
You can see these indexes in the table Indexes folder in metada

[2022-06-06 09:23] LonwoLonwo commented on #16700
Thanks for the bug report @JeroenNienhuis

[2022-06-06 10:12] emironovDB commented on #15921
We need to add concept of namespaces which contain objects of different types (tables, views ,sequences, etc).
By default all schemas are namespaces which contain tables and views.

[2022-06-06 10:33] emironovDB commented on #15540
Works as expected (we restore column mappings from previous dt run)

[2022-06-06 10:33] #15540 closed, assigned to LonwoLonwo

[2022-06-06 10:38] proidit opened #16711 "users manager"
Can manage server users, database users and  users database ACL?

[2022-06-06 11:40] LonwoLonwo commented on #16649
Nope, I can't all schemas to the statement. It's not cheap and can contains potential problems with numbers of catalogs (some users have many catalogs in database) or with the catalog naming.
I will adhere to my decision to simply skip those objects whose catalog was not found.

[2022-06-06 11:46] Defman commented on #16688
Could be nice to color geometry object based on some counter
![image](https://user-images.githubusercontent.com/1496019/172154382-961c533b-f827-43e9-ab32-13376d7638e9.png)

| row | geo | cnt |
|-----|-----|-----|
| 1   | ... | 4   |
| 2   | ... | 2   |

Then cnt determines the color based on some gradient between max and min.

So in other words, add a way to show a third dimension based on color.

[2022-06-06 11:54] igorlash commented on #16649
The problem pops up when only the 'sys' schema is not returned by
[code]
This schema contains some system procedures that are used by any user under the hood.
It might be a solution to exclude the 'sys' schema if it is not returned by the above mentioned SQL.
Something like this
[code]

[2022-06-06 11:55] LonwoLonwo commented on #16688
Ok, thanks for the idea.

[2022-06-06 11:59] HsiangSun commented on #16706
Thanks!

[2022-06-06 11:59] #16706 closed, assigned to nobody

[2022-06-06 12:23] Matvey16 commented on #14537
Still reproducible

[2022-06-06 12:51] ghost opened #16713 "Debatable supported databases"
**Is your feature request related to a problem? Please describe.**
Enterprise version supports [these databases](https://dbeaver.com/databases) and it is obvious.
Community version is unclear instead. For example, is `Sybase/SAP ASE` compatible?

**Describe the solution you'd like**
Add a specific page at the beginning of documentation with supported databases.

**Useful but not mandatory**
Add a

[2022-06-06 13:23] GuenterSch commented on #13456
Hello,
the new logic is good, but it finds to many entries.
E.g. Search for **DS** returns
**DS**\_HALLO
HALLO\_**DS**
**D**O not **s**how

The last line will also be shown, because the D is in DO and the S is in show.

**But it would be better if you search for words and not for letters.** (With underscore a word ends or begins)

Search for **D S** can return all three lines.
Thanks, BR
Günter

[2022-06-06 13:25] LonwoLonwo commented on #14176
As I can see, you can add anything to the body of the package.

![2022-06-06 16_06_09-DBeaver Ultimate 22 1 0 - EMP_MGMT](https://user-images.githubusercontent.com/45152336/172168305-ab71200e-2b19-4678-99be-dc9873f1c56c.png)

Have you missing objects in the package source?

Also, you can check our statement which returns to us package procedures and functions list:

[code]

[2022-06-06 13:37] chanurholis opened #16715 "Can't Dump Database Because Button Next Disabled"
#### System information:
- Operating system (distribution) and version : Linux (Xubuntu 21.10)
- DBeaver version : 22.1.0
- Additional extensions : none

#### Connection specification:
- Database name and version : MySQL version 8
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
I can't dump database because button "Next >" is disabled
!

[2022-06-06 13:40] ShadelessFox commented on #16715
Hello @chanurholis,

There's an error message describing what's wrong in the upper left corner.

You have to specify a local MySQL client to use the dump feature (it uses `mysqldump`).

[2022-06-06 13:51] chanurholis commented on #16715
![image](https://user-images.githubusercontent.com/55186337/172174039-048ba942-2c2d-4a04-ae7b-4ff83458875c.png)
what should i fill in there?

[2022-06-06 14:08] ShadelessFox commented on #16715
You need to install the `mysql-client-core-8.0`:
[code]

Then click `Add Home` and select the directory containing the `mysqldump` executable.

It's often located under the `/usr/bin/` directory. Alternatively, you can use the following command to find it:

[code]

[2022-06-06 14:13] fialky commented on #14176
Hello, there is the answer:

Input:
`SELECT P.*,CASE WHEN A.DATA_TYPE IS NULL THEN 'PROCEDURE' ELSE 'FUNCTION' END as PROCEDURE_TYPE FROM ALL_PROCEDURES P
LEFT OUTER JOIN ALL_ARGUMENTS A ON A.OWNER=P.OWNER AND A.PACKAGE_NAME=P.OBJECT_NAME AND A.OBJECT_NAME=P.PROCEDURE_NAME AND A.ARGUMENT_NAME IS NULL AND A.DATA_LEVEL=0
WHERE P.OWNER='INT_BINF' AND P.OBJECT_NAME='PCK_ADS2BINF'
ORDER BY P.PROCEDURE_

[2022-06-06 14:22] chanurholis commented on #16715
It's cool bro, solved. Thanks for response my issue 🆒

[2022-06-06 14:22] #16715 closed, assigned to nobody

[2022-06-06 14:28] fialky commented on #14176
P. S. I also tried these two statements:
SELECT * FROM ALL_PROCEDURES WHERE OWNER='INT_BINF' >> 41 rows founds
SELECT * FROM ALL_ARGUMENTS WHERE OWNER='INT_BINF' >> 88 rows found

But there are no procedures and functions in rows found that are visible in in Oracle PL/SQL Developer (as in the screenshot above) except for PARSE_HOLD_TEXTS and PROCESS. Even more there are no others like parse_hold_t

[2022-06-06 14:46] LonwoLonwo commented on #16713
Ok, maybe we can add a list of supported databases to our wiki https://github.com/dbeaver/dbeaver/wiki

[2022-06-06 14:46] LonwoLonwo commented on #16713
Thanks for the report

[2022-06-06 14:59] dovatti commented on #16713
Thank you too! If I had time I'll help with it!

[2022-06-06 14:59] ghost commented on #16713
Thanks! I'll help with that!

[2022-06-06 15:01] LonwoLonwo commented on #16350
Can you provide the full SQL for the first case? Wich without TOP.
I can't reproduce the:

[code]

[2022-06-06 15:03] LonwoLonwo commented on #16350
And I have a counter-question. What do you think about data import in DBeaver for Teradata? Is it fast enough for you, or do you use other tools for data import? Thanks for the answer.

[2022-06-06 15:03] Lnx117 opened #16717 "How to connect to an existing database"
I can create a database and add data to it, but when I restart the program, this database is no longer displayed.
How can I connect to an already existing database?

[2022-06-06 15:32] chbussler opened #16718 "Attempt to repeatedly automatically download driver becomes annoying if you are behind a firewall"
Since the last release dbeaver attempts to automatically download drivers. In my environment this is impossible, I have to do that manually. However, even to get to the manual driver manager page causes continuous popup of the automatic download windows. This is very annoying as I have to constantly cancel out, just for those windows to pop up again.

Please change the logic to try once, and then

[2022-06-06 16:20] #16717 closed, assigned to nobody

[2022-06-06 17:19] uslss commented on #15653
verified

[2022-06-06 17:25] #15046 closed, assigned to serge-rider, uslss

[2022-06-06 19:05] iron0012 opened #16720 "Detached editor disappears when dragged to another monitor (MacOS)"
#### System information:
- Operating system (distribution) and version: MacOS Monterey 12.4
- DBeaver version: Version 22.1.0.202206051253
- Additional extensions: none

#### Connection specification:
Does not pertain to issue

#### Describe the problem you're observing:
When I create a new SQL editor tab in DBeaver, either by opening an existing script or creating a new script, if I then detach t

[2022-06-07 04:11] Matvey16 commented on #16677
Verified

[2022-06-07 04:11] #16677 closed, assigned to serge-rider, Matvey16

[2022-06-07 05:11] GITMichaelK commented on #15359
Thank you @LonwoLonwo  for the explanation, this makes it absolutely clear! Sorry for late response, too much different tings here ...

[2022-06-07 06:36] #16579 closed, assigned to LonwoLonwo, Matvey16

[2022-06-07 06:36] #15653 closed, assigned to uslss, ShadelessFox

[2022-06-07 06:36] #16649 closed, assigned to uslss, LonwoLonwo

[2022-06-07 06:37] #11921 closed, assigned to Destrolaric, Matvey16

[2022-06-07 07:04] #16563 closed, assigned to ShadelessFox, Matvey16

[2022-06-07 07:11] javaanddonet commented on #16587
After I re-install latest version 22.1.0, still can not start DBeaver app.
But after i delete `~/.eclipse/org.eclipse.equinox.security/secure_storage`, and it work now.
But when i closed DBeaver app and restart it again, the same error occurred again. seem only perform below command, then DBeaver app can start up.
`mv ~/.eclipse/org.eclipse.equinox.security ~/.eclipse/org.eclipse.equinox.security.

[2022-06-07 07:23] WigraiTH opened #16721 "Bind Parameter(s) not picking up parameters inside $$ $$"
#### System information:
- Operating system
      - Windows 10
- DBeaver version
       - from 22.0.2 up

#### Connection specification:
- Database name and version
       - PostgreSQL 13.3
- Driver name
 		- postgresql-42.2.5.jar
		- postgis-jdbc-2.2.21.jar
		- postgis-geometry-2.5.0.jar

- Do you use tunnels or proxies (SSH, SOCKS, etc)?
       -   SSL enabled
- Additional database module

[2022-06-07 08:10] ShadelessFox commented on #15402
The additional color definition was added under the `Database Query Results` folder called `Grid header border color`.

|Before|After|
|---|---|
|![lre8zmsT5J](https://user-images.githubusercontent.com/35821147/172162412-0b1d0272-eaec-4ea8-a93e-d47fd17c2bb5.png)|![UPAxVgp5po](https://user-images.githubusercontent.com/35821147/172162442-1aff9604-5391-4910-bdc7-18a57d055c4c.png)|
|![java_mqjzymNIAH]

[2022-06-07 08:18] LonwoLonwo commented on #16718
Hello @chbussler
What DBeaver version do you use?
What OS do you use?
For what database is DBeaver attempting to download drivers automatically?

[2022-06-07 08:32] RoaldG opened #16722 "Mac Universal control disrupts grid scrolling"
#### System information:
- macOS Monterey 12.4 and iPad mini 6 with iOS 15.5
- DBeaver 22.1.0.202206051253
- No extensions

#### Connection specification:
- N/A
- N/A
- N/A

#### Describe the problem you're observing:
When enabling Universal Control on the Mac the query result grid scrollbars no longer show by default. Only way to show them is to scroll and then quickly click and hold on them.

##

[2022-06-07 08:35] ahhmedbilal commented on #16350
Here is the long sql.

SEL 1,
	SP.tech_sp_id		AS SRC_TECH_AGMT_ID
	, case
		when day_type='029'
			then SPA.days
		else null
	  end              AS BD_ISSU_DT
	, case
		when day_type='026'
			then SPA.days
		else null
	  end              AS MATURTY_DT
	, SK.koko          AS CPN_TYPE
	, CASE
		WHEN CPN_TYPE ='fixed' and koko IN (10,11,12)
			then SK.interest_rate
		else null
	  end as BOND_COUPN_RA

[2022-06-07 08:56] JSKo13 commented on #16624
In case of using 'CET' the result is different but not correct. All positions are offset by -1 day.

.csv:
![obraz](https://user-images.githubusercontent.com/63546725/172339453-fd763faf-8f7c-4e64-b935-2e0d1b9df685.png)

Imported data:
![obraz](https://user-images.githubusercontent.com/63546725/172339561-05fbff13-d47d-4c20-8528-8236517c3ff6.png)

Settings used:
![obraz](https://user-images.githubus

[2022-06-07 08:59] E1izabeth commented on #16721
Hi, @WigraiTH! Does your `Show $$ quote as` preference is set to `String` ?
![image](https://user-images.githubusercontent.com/28875055/172339755-62da56a6-7399-4c43-a1e5-59a99602863d.png)

[2022-06-07 09:06] ahhmedbilal commented on #16350
I don't often use DBeaver for data load. I just tried it now with a small table. DBeaver is using jdbc insert i think to insert data to Teradata table, if so, it will be slow for large files. To load data super fast to Teradata e.g 28 Million rows in about 5 to 6 min (my personal experience :) ), we use TPT utility (Teradata Parallel Transporter and it has multiple operator e.g fastload operator,

[2022-06-07 09:14] WigraiTH commented on #16721
Thanks for quick response, Elizabeth.

No, I have "Code block".  I changed it back and forth, and it still does not work.

![image](https://user-images.githubusercontent.com/26840191/172343054-3f771ebf-06ff-4d0c-a492-8b10ff43938a.png)

[2022-06-07 09:14] uslss commented on #16705
#5322

[2022-06-07 09:17] E1izabeth commented on #16721
@WigraiTH, thanks for reply.
Could you show me your SQL Processing settings page?
![image](https://user-images.githubusercontent.com/28875055/172344178-3c2c7d15-5a22-4026-858b-dd45a21a4d79.png)

You can open it through common Preferences or Clicking to Preferences icon in the left-side bar of sql editor.

[2022-06-07 09:23] E1izabeth commented on #16721
Please, note that to turn on SQL parameters dialog `Show $$ quote as` preference should be set to `Code block`

[2022-06-07 09:24] WigraiTH commented on #16721
Please find it below (v 22.1.0.xx).

The difference is "Enable parameters in DDL and $$ blocks". I ticked it on and off for testing, and it is still not working.

![image](https://user-images.githubusercontent.com/26840191/172345243-7dd41a6e-6e22-43c3-aacb-b3a18a1a0fe9.png)

[2022-06-07 09:26] E1izabeth commented on #16721
@WigraiTH, I see, thank you. Please, set `Show $$ quote as` preference to `String`. It works for me

[2022-06-07 09:28] WigraiTH commented on #16721
I did change it to both 'String' and 'Code black'. It still does not work.

[2022-06-07 09:32] JaanOras94 opened #16724 "Drop table warning on drop index."
#### System information:
- Operating system (distribution) and version: Microsoft Windows 10 Pro 10.0.19044 Build 19044
- DBeaver version: 22.1.0.202206051253
- Additional extensions: None

#### Connection specification:
- Database name and version: Postgresql 13
- Driver name: PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: No

#### Describe the problem you're observing:
When tryin

[2022-06-07 09:34] E1izabeth commented on #16724
Thank you for bug report!

[2022-06-07 09:34] abaumg commented on #15509
I ran into the same issue under Ubuntu 20.04 running in WSL. I solved it by installing the `libswt` library:

`sudo apt install libswt-gtk-4-java`

[2022-06-07 09:34] flambchap commented on #16713
I suspect that the list on our website does not cover all databases we support.

[2022-06-07 09:37] flambchap commented on #15509
@abaumg Thank you for sharing this solution. It's much cleaner than mine (I install `gnome-shell`) :)

As a side note, I recommend installing Nautilus and Firefox as DBeaver uses file manager and browser in some cases.

[2022-06-07 09:46] JaanOras94 commented on #16724
Just a suggestion, would it be hard to not warn when dropping constraints and other things that are not related to data?

[2022-06-07 09:50] E1izabeth commented on #16724
I'll see what can be done. Thank you for suggestion.

[2022-06-07 10:19] LonwoLonwo opened #16727 "[Netezza] Default catalog is missing. Can't set new default catalog."
Only in DBeaver 22.1.0

Broked here: https://github.com/dbeaver/dbeaver/issues/14326

![2022-06-07 11_44_49-DBeaver Ultimate 22 1 0 - _orcl_ Script-202](https://user-images.githubusercontent.com/45152336/172356724-7a30823b-9c06-4f22-925e-6f1d43e086dd.png)

[2022-06-07 11:40] GuenterSch opened #16730 "Quick Switch Editor search improvement"
Reference to **Quick Switch Editor search should find anywhere in tab name #13456**

Hello,
the new logic is good, but it finds to many entries.
E.g. Search for **DS** returns
**DS**\_HALLO
HALLO\_**DS**
**D**O not **s**how

The last line will also be shown, because the D is in DO and the S is in show.

**But it would be better if you search for words and not for letters.** (With underscore a word

[2022-06-07 11:41] LonwoLonwo commented on #16350
Thanks for the quick and informative answer!

Yes, I read about the FastLoad and I tried it. But it's to many restrictions with it. Empty target table, batch size, table and columns names, data types. Too hard to implement it in our universal tool, unfortunately...

[2022-06-07 12:24] adrianbienias commented on #15805
I'm also would be happy to understand how this `Custom criteria` field works.

[2022-06-07 13:45] ghost commented on #16713
Exactly, it doesn't. I think it should be more clear, almost in the docs.
That's the reason why I've been opening this issue 😄
I think we could make things easier for everyone - even for ourselves - if we just create better documentation.

[2022-06-07 13:57] uslss commented on #16669
it is impossible to update the table in case the PK column has the alias

![image](https://user-images.githubusercontent.com/31996417/172398675-d9d5abeb-365d-4d64-9a2b-1a7f3f8a00da.png)

[2022-06-07 14:50] davious opened #16733 "Cannot Edit Postgres Enum Columns: Column "ColumnName" is read-only: No corresponding table column"
#### System information:
- DBeaver version 22.1.0 CE ... regression from 22.0.5 CE

#### Describe the problem you're observing:

When you try to edit any enum cell from either a View Data or Read Data in SQL Editor, DBeaver prevents the edit with a Column "ColumnName" is read-only: No corresponding table column message

and there is not autocomplete list shown

btw. DBeaver 22.0.5 works fine... an

[2022-06-07 18:27] #16727 closed, assigned to uslss, LonwoLonwo

[2022-06-07 18:30] #16650 closed, assigned to uslss, LonwoLonwo

[2022-06-07 18:55] talski commented on #16733
This message also shows on all enum columns here, no more autocomplete list

[2022-06-07 20:00] LonwoLonwo commented on #16733
Can you provide more info please? Screenshots will be very beneficial.

[2022-06-07 20:50] davious commented on #16733
I was able to cell edit these in 22.0.5 CE

## Cell edit with Query Fail w/ReadOnly message
<img width="741" alt="Screen Shot 2022-06-07 at 4 47 30 PM" src="https://user-images.githubusercontent.com/632416/172479628-ef3526fd-a434-41b0-8a04-ecf8fffc1f91.png">

## Cell edit on Table data Fail w/ReadOnly message
<img width="708" alt="Screen Shot 2022-06-07 at 4 46 58 PM" src="https://user-images.gith

[2022-06-08 01:19] Iatbzh opened #16734 "UI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
It is recommended to optimize the UI, you can change the size of the address bar and font icons, etc.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considere

[2022-06-08 01:26] Iatbzh opened #16735 "Export query results to a file, no data"
#### System information:
- Operating system (distribution) and version
windows10
- DBeaver version
20.0
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
When exporting multiple queries to one file, there is no data in the file，it is recommended to fix bug

[2022-06-08 02:11] davious commented on #16733
possible dup of #16705

[2022-06-08 04:34] ahhmedbilal commented on #16350
Instead of fastload, try multiload utility. Empty table restriction is not there with multi load.
But jdbc multiload is not supported.

from the link: https://downloads.teradata.com/connectivity/articles/speed-up-your-jdbcodbc-applications

**JDBC FastLoad can only insert data into an empty table, and JDBC FastLoad is only recommended for loading large amounts of data -- at least 100,000 rows tota

[2022-06-08 06:44] madalinignisca commented on #14749
Have the same issue. "Auth fail".
Using Windows 11 Pro, trying to connect to Ubuntu 22.04 box, using 22.1.0.202206051253 Dbeaver CE

I can ssh in the servers using windows command line, powershell, from WSL2 also.

Dbeaver can't use my ssh-agent (it is up and running, tested with other apps like VSCode including in remote more, containers.

Can't use private/public key.

Also, seems not to accept

[2022-06-08 07:25] LonwoLonwo commented on #16028
https://kylin.apache.org/docs/tutorial/sql_reference.html

[2022-06-08 07:32] Ferrox12 opened #16737 "Import connections from SQLDeveloper"
Hi,
is there a method to import all the connections and the related passwords from SQLDeveloper to DBeaver?

[2022-06-08 07:34] misteliy opened #16738 "redshift data share"
#### System information:
- Operating system (distribution) and version: MacOS 12.3.1
- DBeaver version: Version 22.0.4.202205011839
- Additional extensions

#### Connection specification:
- Database name and version: Redshift
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

If I want to browse schemas and tables of a redshift data sh

[2022-06-08 07:36] emironovDB commented on #16621
Thanks for idea!

[2022-06-08 07:37] emironovDB commented on #16619
Thanks for idea!
We add this in our backlog.

[2022-06-08 07:38] LonwoLonwo commented on #16733
I can't reproduce for now.

![2022-06-08 10_35_38-DBeaver Ultimate 22 1 0 - _postgres 13 3_Script-163](https://user-images.githubusercontent.com/45152336/172559254-71c3b9df-6fe0-45ef-b667-d4da0998ef53.png)

Can you provide table DDL please?

Also, do you have any other tables in your schema/database with the lower cased names? Is they working fine?

[2022-06-08 07:41] boukenka commented on #8051
@Destrolaric Thank you for the implementation. Closing the issue because it has been solved.

[2022-06-08 07:41] #8051 closed

[2022-06-08 07:46] LonwoLonwo commented on #16735
Hello @Iatbzh
Which type of export did you use?
How many queries did you have?

[2022-06-08 07:50] LonwoLonwo commented on #16734
Hello @Iatbzh
You can change many elements manually in DBeaver.

You can find some available design changes in the Preferences, like:

![2022-06-08 10_47_20-DBeaver Ultimate 22 1 0 - _postgres 13 3_Script-163](https://user-images.githubusercontent.com/45152336/172561817-eaae7de7-102f-4def-8cec-8525684eac54.png)

Please use it or provide more info about you idea. Screens or videos will be also very

[2022-06-08 07:54] ahhmedbilal commented on #16350
Now Teradata is using TPT utility for all load/export operations. TPT is using fastload and mload (multiload) internally, but TPT is has consistent syntax. So would suggest to use TPT UPDATE operator (which multiload operator).

TPT has many operators
1. Producer Operators
2. Consumer operators
3. Standalone operator.

more info about operators: https://downloads.teradata.com/tools/articles/introd

[2022-06-08 07:56] ahhmedbilal commented on #10326
Is it planned for some build?
Its a good feature, as sometimes in SQL development we work with caps lock on, so making "template" case insensitive would make our life easier.....

[2022-06-08 07:58] LonwoLonwo commented on #16166
Sorry, your video is unvailable right now.
Can you please check the newest DBeaver version please?
https://dbeaver.io/download/

[2022-06-08 08:01] LonwoLonwo commented on #16154
Can you please check the newest DBeaver version please? We fixed some problems in the SQL Editor view.
https://dbeaver.io/download/

[2022-06-08 08:14] LonwoLonwo commented on #16363
Sorry for the late responce too @cijcij
Thanks for the bug report.

[2022-06-08 08:21] mmdext opened #16739 "Locate a column in Data View"
**Describe the solution you'd like**
When there are 50 more columns in a table, it is hard to locate a column in data view. Is it possible to locate the column in data view when you select a column in property view?

[2022-06-08 08:22] bvl-lc commented on #16657
Unfortunately the same issue after upgrade to 22.1.0.

[2022-06-08 08:40] LonwoLonwo commented on #16738
Hello @misteliy

DBeaver supports Redshift data shares only in the Enterprise and Ulimate versions (Enterprise is recommended in your case).
You can try it for free with the trial license: https://dbeaver.com/trial/

[2022-06-08 08:41] #16738 closed, assigned to nobody

[2022-06-08 08:48] LonwoLonwo commented on #16391
Can you please change the "Inser case" setting to the "lower case"?
Default case for the MySQL/MariaDB is mixed.

[2022-06-08 08:50] LonwoLonwo commented on #16672
Thanks for the idea @lmontani

[2022-06-08 08:51] Ferrox12 commented on #16737
I've found the function to import the connections!

[2022-06-08 08:51] #16737 closed, assigned to nobody

[2022-06-08 08:56] LonwoLonwo commented on #16739
Hello @mmdext

Now DBeaver is trying to keep the focus in the grid when switching to other tabs and vice versa. Your proposal will change current behavior.

![P0dXodYgau](https://user-images.githubusercontent.com/45152336/172575600-78c2d029-d32c-41f2-9802-99a4c0805406.gif)

Maybe the ability to pin column will help you?

![2022-06-08 11_51_35-DBeaver Ultimate 22 1 0 - money_type_table](https://use

[2022-06-08 08:59] LonwoLonwo commented on #16568
Hello @wow-blacksheep

Please provide more info about your OS.

[2022-06-08 09:02] LonwoLonwo commented on #16568
This link can be helpful: https://stackoverflow.com/questions/2018553/swt-no-more-handles

[2022-06-08 09:18] LonwoLonwo commented on #16546
I can't help without [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files) unfortunatelly.

Also @cryptiswap-admin can you please check other DBeaver versions? 22.03/22.02 or 22.01?
I want to understand when the problem arose. So far, nothing is clear to me.

[2022-06-08 09:19] LonwoLonwo commented on #16737
Can you provide some instructions here please @Ferrox12

It can be helpful for other users with this question.

[2022-06-08 09:24] LonwoLonwo commented on #16657
Ok. Can you please first clear you log and then try to open your SQL Server databases list in DBeaver? And then provide me log again. It's too many different errors in your log right now.

[2022-06-08 09:28] Ferrox12 commented on #16737
You have to click on File > Import > Third Party Configuration > Oracle SQL Developer

[2022-06-08 09:50] AaronWiora opened #16741 "Close window button looks strange"
#### System information:
- Ubuntu 21.10
- DBeaver 22.1.0
- 3440x1440 (21:9) display

#### Describe the problem you're observing:

I noticed that the button to close the window does not look round so I measured the height and length. Take into consideration my screen resolution under the system information section. I had this issue already in Dbeaver 21.X.X
![Screenshot from 2022-06-08 11-17-31](ht

[2022-06-08 10:18] LonwoLonwo commented on #16678
Hello @sgrinko

You can use native DBeaver formatter for your code:

![2022-06-08 13_14_42-DBeaver Ultimate 22 1 0 - _orcl_Script-162](https://user-images.githubusercontent.com/45152336/172592574-b3d92355-53ff-4c61-98fa-6d86321bdadf.png)

![2022-06-08 13_14_06-DBeaver Ultimate 22 1 0 - customer](https://user-images.githubusercontent.com/45152336/172592595-2abe92fd-bc84-4901-ba55-1a9d47cc1707.png)

[2022-06-08 10:37] LonwoLonwo commented on #16520
Can you please check this setting in the Preferences?

![2022-06-08 13_32_07-Preferences](https://user-images.githubusercontent.com/45152336/172596300-c1360e1d-b19e-4be4-811e-a32379d6958f.png)

Usually DBeaver restores last active schema for the SQL Editor if this setting is enabled.

[2022-06-08 10:49] LinWanCen opened #16743 "Copy title with Comment"
Copy data as HTML with title comment.

#5529

[2022-06-08 10:57] DariaMarkaryan opened #16744 "The connection name changes when you open the connection settings window"
#### System information:
- Operating system (distribution) and version
- DBeaver 22.1.0
- Additional extensions

#### Connection specification:
- Not specific
#### Describe the problem you're observing:
Added "2" after the connection name without user actions in Edit Connection window
#### Steps to reproduce, if exist:

https://user-images.githubusercontent.com/43252954/172599909-3a815f98-481a-487

[2022-06-08 11:04] GuenterSch commented on #16520
Hello Anastasiya,
S**ave/restore active schema** is already set in my configuration.
BR
Günter

[2022-06-08 11:32] webian commented on #16520
Same for me, already set.

[2022-06-08 11:33] webian commented on #16520
Not manually, it happens when I'm using a mobile connection that sometimes disconnects and reconnects.

[2022-06-08 11:58] DariaMarkaryan commented on #16744
Сlosed. The bug will be fixed within the ticket that caused this bug

[2022-06-08 11:58] #16744 closed, assigned to Destrolaric

[2022-06-08 12:09] emironovDB commented on #13450
The language already can be changed in the preferences.

The problem is that the shortcut contains the language itself, overriding the one set in the preferences.

Depends on #16187

[2022-06-08 12:09] #13450 closed, assigned to Matvey16

[2022-06-08 12:12] emironovDB commented on #14944
Hello @suhailmemon,

Is the issue still actual for you?

[2022-06-08 12:28] #16146 closed, assigned to riednyko

[2022-06-08 12:28] chbussler commented on #16718
Hi -
version that had this behavior after installing: 22.0.5.202205220912
OS: Windows as well as Linux
Database: PostgreSQL

Thank you.

[2022-06-08 12:31] emironovDB commented on #16333
Hello @2019-05-10,

We have Linux distributions of DBeaver that don't have bundled Java in them: https://dbeaver.io/download/

Can you please try these?

[2022-06-08 12:33] davious commented on #16733
I've narrowed this down to just citext type fields

example ddl
[code]

[2022-06-08 12:38] emironovDB commented on #16480
Thanks for the suggestion.

[2022-06-08 12:41] emironovDB commented on #16482
Hello @jet2,

Have you tried changing default driver parameters? What DBeaver version and edition do you use?

[2022-06-08 12:44] 2019-05-10 commented on #16333
The ZIP archives? Those are not an option, since they completely defeat the purpose of a package management.
And there's not really something to test, the issue is obviously once again the certificate management of the bundled JVM, since it works once I fix the `dbeaver.ini` to use the local JVM :shrug:

[2022-06-08 12:50] emironovDB commented on #16524
DBeaver does not backup workspace data outside the workspace itself. So before deleting it, it would be better to create a backup or more it somewhere else instead.

Since the original issue was resolved, I will close it.

[2022-06-08 12:50] #16524 closed, assigned to emironovDB

[2022-06-08 12:54] emironovDB commented on #16533
Hello @s-kocher,

Can you please try uninstalling and reinstalling DBeaver from scratch?

[2022-06-08 12:55] emironovDB commented on #16538
Thanks for the clarification.

[2022-06-08 12:57] Iatbzh commented on #16735
There are 7 query statements in Excel and CSV
select * from test1 where serverid = 6277581 order by time desc;
select * from test2 where serverid  = 6277581 order by time desc;
select * from test3 where serverid  = 6277581 order by time desc;
select * from test4 where serverid  = 6277581 order by time desc;
select * from test5 where serverid  = 6277581 order by time desc;
select * from test6 where

[2022-06-08 12:57] Iatbzh commented on #16735
There are 7 query statements in Excel and CSV
select * from test1 where serverid = 6277581 order by time desc;
select * from test2 where serverid  = 6277581 order by time desc;
select * from test3 where serverid  = 6277581 order by time desc;
select * from test4 where serverid  = 6277581 order by time desc;
select * from test5 where serverid  = 6277581 order by time desc;
select * from test6 where

[2022-06-08 12:58] emironovDB commented on #16605
Hello @kcbaltz,

Thanks for the bug report.

[2022-06-08 13:07] LonwoLonwo commented on #16735
Sorry, I can't reproduce your issue.

![2022-06-08 16_06_09-export_202206081605 csv — H__asya_special_dbeaver_backup — Atom](https://user-images.githubusercontent.com/45152336/172623959-c3a25962-bba5-4bee-aff7-795cdaa85004.png)

Can you please provide your datatransfer settings?

[2022-06-08 13:10] emironovDB commented on #16631
Hello @MM-UU,

E-Mail replies doesn't have any attachments. Can you please send log files on GitHub?

[2022-06-08 13:12] emironovDB commented on #16663
Hello @jasraja,

Thanks for the suggestion

[2022-06-08 13:13] Iatbzh commented on #16734
I don't know how to describe it, but your suggestion can only change the font color size, not the overall layout, which is very troublesome. You can refer to the theme style of the community version of Navicat. The overall layout is very generous and comfortable

[2022-06-08 13:14] emironovDB commented on #16674
Hello @Heliner,

Thanks for the bug report. As a workaround, you can disable client-side ordering in the preferences.

[2022-06-08 13:19] Iatbzh commented on #16735
The table you exported has no field name, and you cannot tell which statement is the result of execution. Is this expected

[2022-06-08 13:23] emironovDB commented on #16711
Hello @proidit,

Please provide information about your request using our issue templates.

[2022-06-08 13:30] emironovDB commented on #16704
Hello @WhiteN9,

Thanks for the feature request.

[2022-06-08 13:30] LonwoLonwo commented on #16733
Sorry, can't reproduce again.

![2022-06-08 16_28_08-DBeaver Ultimate 22 1 0 - _postgres 13 3_Script-163](https://user-images.githubusercontent.com/45152336/172628917-29ff6839-13f1-43c4-82ac-ce7d7fb65f11.png)

But important note - you need to refresh your schema after table creation in the SQL Editor.

[2022-06-08 13:43] LonwoLonwo commented on #16735
What is the point to export all result of queries in the one file then, if you can export data to different files (and this is default behavior)?

[2022-06-08 14:03] pinei commented on #15297
Same problem here (needed to change the AD password)

AADSTS50173: The provided grant has expired due to it being revoked, a fresh auth token is needed. The user might have changed or reset their password. The grant was issued on '2022-05-23T13:21:11.7862814Z' and the TokensValidFrom date (before which tokens are not valid) for this user is '2022-06-01T23:27:22.0000000Z'.

Windows 10
DBeaver Versi

[2022-06-08 14:07] MocniMax opened #16747 "DB2 11 - unable to enter value in NUMERIC field"
#### System information:
- MS Windows Server 2019
- DBeaver version 22.1.0.202206051253
- Additional extensions - none

#### Connection specification:
- Database DB2 11 zOS and AIX
- Driver name IBM DB2
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : Nope

#### Describe the problem you're observing:
No DECIMAL filed can be updated from table editor, only by SQL UPDATE

#### Steps to reproduce

[2022-06-08 14:09] MM-UU commented on #16631
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/8862289/dbeaver-debug.log)

[2022-06-08 14:09] Destrolaric commented on #15654
@SSSDNSY Sorry, for the long waiting, this dialog allows you to select the default schema by clicking firstly to catalog, and when double-clicking on the schema. Please reply if it helped.

[2022-06-08 14:10] LonwoLonwo commented on #16734
You can change all theme too:

![2022-06-08 17_07_19-DBeaver Ultimate 22 1 0 - _postgres 13 3_Script-163](https://user-images.githubusercontent.com/45152336/172637647-0974e9e7-1f96-40b7-834c-c111ef05cf31.png)

But for now your idea is too general. Please provide more details and screens.

[2022-06-08 14:14] LonwoLonwo commented on #16747
Please provide the full error log. You can find instruction here https://github.com/dbeaver/dbeaver/wiki/Log-files

Also, do you use bundled java for DBeaver or your own?

[2022-06-08 14:28] pinei commented on #15297
Problem was solved updating the authentication library (was 1.9.1)

Library: com.microsoft.azure:msal4j:RELEASE
Version: 1.11.3

Don't know if the problem will be back if I change my AD password again

[2022-06-08 14:33] LonwoLonwo commented on #15297
Interesting solution @pinei

Then keep us in the know, because your decision will become the basis of the upcoming fix from our side.

[2022-06-08 14:46] Destrolaric commented on #16631
Hi, as I see by logs, there may be the issue of incorrect server timezone recognition by the MySQL driver, try to set "serverTimezone" to " Europe/Amsterdam"  in driver properties. Please reply if it helps

[2022-06-08 14:57] bvl-lc commented on #16657
[dbeaver-debug-22.1.0.log](https://github.com/dbeaver/dbeaver/files/8862812/dbeaver-debug-22.1.0.log)

Don't see any error, but none of the databases is displayed!

[2022-06-08 14:59] MM-UU commented on #16631
Thanks for your quick response. Unfortunately the change does not fix this.

[2022-06-08 15:15] suhailmemon commented on #14944
yes same issue.

[2022-06-08 15:15] suhailmemon commented on #14944
let me check on the above request and get back to you

[2022-06-08 15:29] talski commented on #16733
in the public schema it seems to be working, but if you create a new one, it doesn't

[code]

[2022-06-08 15:52] flambchap commented on #5322
It will be fixed in the scope of https://github.com/dbeaver/dbeaver/issues/16705.

[2022-06-08 15:52] #5322 closed

[2022-06-08 15:52] flambchap commented on #16705
It's a Wayland-specific issue.

[2022-06-08 15:54] Destrolaric commented on #16705
Yep, confirmed in Debian Gnome on Wayland. And was not reproduced in Debian KDE on X11

[2022-06-08 16:08] s-kocher commented on #16533
Hello @emironovDB , DBeaver uninstalled, remaining folder renamed, latest version dbeaver-ce-22.1.0-x86_64-setup.exe installed.
Always the same problem with JNI when creating / updating an oracle connexion.

If I add in dbeaver.ini : `-Djna.tmpdir=<some folder my computer is allowed to execute programs>`, it's work again.

The problem is solved for me when I add this specific configuration.

Now i

[2022-06-08 17:56] davious commented on #16733
not sure what to say... I appreciate your trying... I can reproduce...

* create table
* shut down dbeaver
* read data in Sql Editor
* add new row
* click in name column
* Column is read-only: No corresponding table column

<img width="411" alt="Screen Shot 2022-06-08 at 1 55 28 PM" src="https://user-images.githubusercontent.com/632416/172684698-afb46fba-92e7-4a7a-8fb4-49cf9e791aaf.png">

[2022-06-08 18:41] jbisson opened #16748 "SSL Trust Store not working in UI but works through the dbeaver.ini -Djavax.net.ssl.trustStore="
Using latest dbeaver lite 22.0.0 and the truststore option within the connection (under SSL) tab does not seems to be working. I am provinding the same truststore and password and cannot connect. However, if I use the same one in the dbeaver.ini file such as:

-Djavax.net.ssl.trustStore=C:/My Drive/truststore.jks
-Djavax.net.ssl.trustStorePassword=password

it works perfectly fine. Why is there an

[2022-06-08 19:38] suhailmemon commented on #14944
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/8864564/dbeaver-debug.log)
<img width="759" alt="2022-06-08_13-33-44" src="https://user-images.githubusercontent.com/36083983/172702719-8a0f9144-ddd9-4c46-b4b5-4b5b92d5852b.png">

[2022-06-08 19:38] suhailmemon commented on #14944
please find attached the log file above with the query manager snapshot

[2022-06-08 19:39] suhailmemon commented on #14944
also this time when i run the store proc i don't get an error but at the same time i don't get any results back. in the gcp web ui when i run the stored proc i get results back

[2022-06-08 20:11] sgrinko commented on #16678
I am aware of the formatting feature in DBeaver.
Unfortunately, its capabilities are too small.
I have given a set of formatting functions that are desirable to have in the code formatter as a screenshot.
I don't see the point in listing all these options. Instead, I propose to simply install the specified applications and see the entire set of options in the UI.

[2022-06-08 21:25] lemon-juice opened #16749 "Need an option to turn off array editor in data grid (PostgreSQL)"
In DBeaver 22.1 I can't find an option to edit PostgresSQL array values like a normal text field. When I try to edit an array value a separate panel opens with an array editor described in issue #403. I don't want this as it makes editing much more complicated:

- it is difficult to use it with keyboard (if possible at all - I couldn't find a way to add a new element with keyboard) so I need to sw

[2022-06-08 21:35] jet2 commented on #16482
Yes, I did. Try to compare my parameters with default. You will see the
problem.
My trial has expired. Now I can't show the problem by screenshot.
My version
[image: image.png]

ср, 8 июн. 2022 г. в 15:41, emironovDB ***@***.***>:

[2022-06-08 21:55] jtg567 opened #16750 ""Remove property" command in Snowflake Driver properties menu of connection config doesn't work"
#### System information:
- Operating system (distribution) and version Big Sur 11.6.1
- DBeaver version Version 22.1.0.202206051253
- Additional extensions n/a

#### Connection specification:
- Database name and version 6.18.2
- Driver name Snowflake
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When editing a connection's configuration, using t

[2022-06-09 01:29] mmdext commented on #16739
I'd like to add a context menu item like "go to column in 'data' tab" for this.
This will toggle to the 'data' tab ,and scroll the view ,ensure the selected column is visible in data view window.

[2022-06-09 01:51] HappinerWinnie opened #16751 "All my SQL scripts and database links are missing"
#### System information:
- Operating system (distribution) and version
  windows64
- DBeaver version
  version: 22.0.0.202203060510
- Additional extensions

#### Describe the problem you're observing:
All my SQL scripts and database links are missing

#### Steps to reproduce, if exist:
I just opened your app

#### Include any warning/errors/backtraces from the logs
![error](https://user-images.git

[2022-06-09 01:59] HappinerWinnie commented on #16751
I tried to download a new version, but the problem is still not solved
![image](https://user-images.githubusercontent.com/31788525/172748042-3b8b0e9b-32cb-4e08-a3ea-46dcb56ca086.png)

[2022-06-09 02:00] HappinerWinnie commented on #16751
I am very anxiously awaiting your response

[2022-06-09 02:32] HappinerWinnie opened #16752 "I tried to detach the project and found it could not be restored"
#### System information:
- Operating system (distribution) and version
- windows 64
- DBeaver version
- 22.1.0
- Additional extensions

#### Describe the problem you're observing:
I tried to detach the project and found that it could not be restored, but only opened in the window menu bar

I want to restore it to the original workspace, but I can't find any way

#### Steps to reproduce, if exist:

[2022-06-09 04:02] LinWanCen opened #16753 "Copy like Records View in Records View"
Copy as HTML like Records View in Records View.

#5529

[2022-06-09 05:52] ShadelessFox commented on #16482
Of course some of the parameters will be messed up.

That's why you can set up custom cipher parameters:

![image](https://user-images.githubusercontent.com/35821147/172774041-c3ccf900-41bf-4263-8ec0-4c739e101917.png)

[2022-06-09 05:54] ShadelessFox commented on #16752
Hello @HappinerWinnie,

Just drag it back like so:

https://user-images.githubusercontent.com/35821147/172774455-453ac43a-0231-4ee4-bbfb-7fc3696e31c3.mp4

[2022-06-09 05:57] ShadelessFox commented on #16751
Hello @HappinerWinnie,

Looks like your project name contains Chinese characters that Eclipse (the platform DBeaver is built on) does not recognize.

Try renaming your project to contain ASCII characters only. Please let me know if it helps.

[2022-06-09 06:01] ShadelessFox commented on #16749
Hello @lemon-juice,

Thanks for the feature request.

Indeed, we must bring back the textual inline editor for complex values.

[2022-06-09 06:04] ShadelessFox commented on #15698
Structs are now messed up in case of disabled complex structures:

![image](https://user-images.githubusercontent.com/35821147/172775614-e8b3aecd-b45f-4168-b0dd-7c46e211c21d.png)

[2022-06-09 06:06] Z1ni commented on #16733
I had this problem with all enum fields after upgrading to DBeaver 22.1.0, but updating the PostgreSQL JDBC drivers (under Database -> Driver Manager) fixed the problem.

[2022-06-09 06:44] MocniMax commented on #16747
Good morning,

Just created clean logs are attached.
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/8867586/dbeaver-debug.log)

[log.log](https://github.com/dbeaver/dbeaver/files/8867589/log.log)

I am always updating dbeaver using Installed with bundled java only.

[2022-06-09 07:19] LonwoLonwo commented on #16733
I can reproduce with your case @talski
Thanks

[2022-06-09 07:31] LonwoLonwo commented on #16747
Which driver version do you use?

You can find this info in Connection Settings -> Test Connection
 or Connection Settings -> Edit Driver Settings -> Libraries

[2022-06-09 07:51] kseniiaguzeeva opened #16755 "SQL: Both values in Joined columns can't be edited at the same time"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version   22.1.0.202206011317
#### Connection specification:
- Database name and version PostgreSQL
#### Steps to reproduce, if exist:
1. Execute a Join statement, e.g. for PostgreSQL
[code]
2. Try to edit 2 values in Joined columns at the same time

**Expected**: the changes are saved
**Actual result**: the cha

[2022-06-09 08:02] lukaseder opened #16756 "Dbeaver is very slow to run big SQL scripts"
#### System information:
- Operating system (distribution) and version: Microsoft Windows [Version 10.0.22000.675]
- DBeaver version: Version 21.3.2.202112271055

#### Connection specification:
- Database name and version: Any, they're all the same

#### Describe the problem you're observing:

I'm often loading big piles of data into a database. For some databases, I don't have any tools to expedi

[2022-06-09 08:09] laurashen23 opened #16758 "Failed to update the driver in Intranet mode"
#### System information:
- Operating system (distribution) and version Win7
- DBeaver version 7.3.2
- Additional extensions

#### Connection specification:
- Database name and version Oracle

#### Describe the problem you're observing:
I need to update the driver in Intranet mode, I copied the driver folder from the DBeaver software running on the Internet and put it in the driver directory, why i

[2022-06-09 08:22] #16758 closed, assigned to nobody

[2022-06-09 08:35] LonwoLonwo commented on #16739
Ok, thanks for the suggestion.

[2022-06-09 08:36] uslss opened #16759 "Can't switch to spatial view or open Value panel with spatial view"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22,1,0

#### Connection specification:
- Database name and version PostgreSQL, oracle

#### Describe the problem you're observing:
Error appears when trying to open Spatial view
#### Steps to reproduce, if exist:
![dbeaver_jaP9dxwNjn](https://user-images.githubusercontent.com/31996417/172802830-5a0b5c37-

[2022-06-09 08:51] MocniMax commented on #16747
It is listed in my first email, the 3.72.44. It is delivered by IBM DB2 jdbc package and I think it is the latest one.

![image](https://user-images.githubusercontent.com/26117076/172806224-6c849932-daf9-44fb-8909-f3a7a5f5359e.png)

[2022-06-09 08:53] LonwoLonwo commented on #16657
Strange.
Ok.
Is this issue occurs in all your SQL Server connections? I see few connections in your screen.
Does "Database" tab has arrow in the left (like Security, or Administer tabs) after connection opening or arrow disappears after clicking on it?

[2022-06-09 09:22] fdj184 opened #16760 "When exporting multiple tables to JSON files, file names won't be replaced by table names"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 22.1.0.202206051253

#### Connection specification:
- Database name and version: MySQL 8.0.29

#### Describe the problem you're observing:

As the image below,
the table variable in file name pattern won't be replaced correctly if there are more than one table to export as JSON files,
and this fea

[2022-06-09 09:40] LonwoLonwo commented on #16747
https://www.ibm.com/support/pages/db2-jdbc-driver-versions-and-downloads I see other driver versions, can you please try another one?

Also, I see that DBeaver uses another default driver version, did you tried it?

![2022-06-09 11_58_53-DBeaver 22 1 0](https://user-images.githubusercontent.com/45152336/172817317-6b249836-7e0b-466a-b46d-1edc92d58ba1.png)

[2022-06-09 09:56] emironovDB commented on #16539
Hello, @plotn!
Thanks for your request.
I suppose you should use the right queue of scripts.

Maybe in the futher we finally ad the functionality to arrange in proper order by automatically.

[2022-06-09 10:00] bvl-lc commented on #16657
Once you click the arrow, it disappears.

It seems to be only to this database (which is a SQL Server db on a docker container on my VM), meaning that for the SQL Server db I have connected besides it, which is on Azure, it seems to work... no clue what is the difference though...

[2022-06-09 10:11] LonwoLonwo commented on #16760
Thanks for the report @fdj184

We are planning to fix this issue in this ticket soon https://github.com/dbeaver/dbeaver/issues/15695

[2022-06-09 10:11] #16760 closed, assigned to nobody

[2022-06-09 11:10] plotn commented on #16539
Hi @emironovDB ! I agree that order must be right. But these scripts is autogenerated, so it shoud be generated and executed correctly, I think

[2022-06-09 11:37] Matvey16 commented on #15153
As said in @josepaul1988 comment, you can disable this prompt for separate editors by disabling separate connection for each SQL Editor. As for other prompts, it looks like separate connection for metadata read, it can also be disabled in connection settings
![image](https://user-images.githubusercontent.com/82543000/172837929-503d1123-b286-4643-8bf3-f3cabca29dcd.png)

[2022-06-09 11:58] Matvey16 commented on #16721
Helllo @WigraiTH . Is it possible for you to show the DDL of that function? The only way for me to stop it from working was to disable this option in preferences

![image](https://user-images.githubusercontent.com/82543000/172841416-65cbecf1-0cf3-458e-b544-eb36c78300ee.png)

Also can you add what exactly happens after you execute  the script?

[2022-06-09 12:18] dczarny opened #16762 "AWS Redshift single sign-on to Azure Active Directory with jdbc."
#### System information:
- Operating system (distribution) and version - Windows 10 21H1
- DBeaver version - 22.1.0
- Additional extensions

#### Connection specification:
- Database name and version - Redshift current
- Driver name - amazon jdbc 2.1.0.7
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
https://aws.amazon.com/blogs/big-data/integrat

[2022-06-09 14:17] MocniMax commented on #16747
Nope, I am using only drivers delivered by IBM DB2 zOS package itself, otherwise I cannot access data in RW mode, license needed :).
I will download and try this one and come back tomorrow.

Thanks.

[2022-06-09 20:09] jahlbornG commented on #15760
@serge-rider i just updated to 22.1.0 and i'm not seeing any difference in the tab color?

[2022-06-10 00:06] WigraiTH commented on #16721
Hi @Matvey16 , Disabling "SQL parameters" leaded to another different error (below) as same parameters are also used outside \$$ blocks. If possible, we would like to use parameters in SQL statement including \$ blocks.

![image](https://user-images.githubusercontent.com/26840191/172964156-c4d5f65f-8d90-4fea-98bb-c7f4e7509258.png)

[2022-06-10 00:11] WigraiTH commented on #16721
The outputs below are to compare between v.22.0.1 and v.22.0.2 (up) when executing the same SQL statement.

v.22.0.1  - All parameters picked up properly
![image](https://user-images.githubusercontent.com/26840191/172964974-646c7847-17ac-4366-9486-45a1a7771eee.png)

From v.22.0.2  - Only parameter OUTSIDE $ block picked up.
![image](https://user-images.githubusercontent.com/26840191/172965106-d5de

[2022-06-10 01:30] fdj184 commented on #16760
Thanks for the quick response.

[2022-06-10 01:34] BraveMomo opened #16764 "Please replace the uwp version on Microsoft store with the win32 version"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

Please replace the uwp version on Microsoft store with the win32 version. The uwp version is too stuck and the user

[2022-06-10 01:54] Heliner commented on #16674
ths, I will  try it

[2022-06-10 05:43] tomtiger65 opened #16765 "Default values were not shown after inserting new record"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: Community, Version 22.1.0.202206051253
- Java version: delivered with DBeaver version
- Additional extensions: none

#### Connection specification:
- Database name and version: Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit
- Driver name: oracle.jdbc.OracleDriver
- Do you use tu

[2022-06-10 06:12] cpantziaras commented on #16586
Hello. Do we have any update?

[2022-06-10 07:00] SimoneD89 opened #16766 "Not able to copy from dbeaver to gnome text editor (and vice versa)"
#### System information:
- Operating system: Linux 5.17.6-300.fc36.x86_64 (Fedora 36, gnome session, Wayland)
- DBeaver version: dbeaver-ce.x86_64 22.1.0
- Gnome text editor: gnome-text-editor.x86_6 42.1

Update: the bug still exists in dbeaver-ce 22.2.3 and gnome-text-editor 43.1

#### Describe the problem you're observing:
I'm not able to copy any text from dbeaver (sql console, tables, ...) to

[2022-06-10 07:58] MocniMax commented on #16747
Hi,

I found issue was in using JDBC version 3 driver which is no more compatible :((.

When I switched to version 4 driver, everything started to work. I will test it thorough but it looks like problem is solved.

Thanks for the hint!

Regards

[2022-06-10 09:37] LonwoLonwo commented on #16765
Thanks for the bug report @tomtiger65

[2022-06-10 09:47] LonwoLonwo commented on #16747
Thanks for the answer and the investigation @MocniMax

I'm closing this ticket for now.

[2022-06-10 09:47] #16747 closed, assigned to nobody

[2022-06-10 10:41] ShadelessFox commented on #16764
Hello @BraveHL,

The distribution of DBeaver found on the Microsoft Store is the same as the one you can download from our site. The overall user experience should not be any different from other distributions. So I'm not sure what do you mean by the `uwp` version. Can you please elaborate?

Unfortunately, it's impossible to re-write DBeaver using any other language because it will take an infinit

[2022-06-10 11:21] #14261 closed, assigned to nobody

[2022-06-10 11:47] tomfox747 opened #16771 "DBeaver fresh install throwing error on open - Windows 10"
#### System information:
- Windows 10 Home - 10.0.19043 Build 19043
- DBeaver version - 22.1

#### Describe the problem you're observing:
When opening Dbeaver I recieve the following error before the application starts
An error occurred, see the log file (attached below)

#### Steps to reproduce, if exist:
Install latest windows version of Dbeaver using the installer
Open Dbeaver

#### STACK TRACE

[2022-06-10 13:45] ghost commented on #16764
I think you should read [this](https://docs.microsoft.com/en-us/windows/uwp/get-started/universal-application-platform-guide) to understand what really `UWP` is. I think you've been confused.

First things first: we insist to code in Java because dbeaver was born like this. Doing an entire source code refactor would take a while (and transition wouldn't be fluid; many errors could born).
By the wa

[2022-06-10 13:47] tsathis commented on #5587
Is this feature available in latest releases? Could not find this on version 21.2. Could anyone please show me how to use this feature in newer versions?

[2022-06-10 14:20] svonjoi commented on #15760
same - no difference and no settings to enable this

[2022-06-10 14:22] gytisrepecka commented on #1017
Perhaps you could give some pointers of what should be done to implement additional notations? That is obviously more than just replacing graphics for each type of cardinality - ideally we should be able to define a custom notation as plugin/extension.

I would be very interested helping out with adding Crow's Foot notation. Because that is something even JetBrains' [DataGrip doesn't have](https:/

[2022-06-10 15:29] samuelguesnier commented on #15644
I have this issue.
Version 22.1.0.202206051253

it cause this error : PostgreSQL: SQLstate: 22003 numeric overflow

Solved this issue by altering the type afterward

[2022-06-10 15:53] serge-rider opened #16772 "Partially fetched resultset visualization"
In some databases error happens during resultset (say, after 100th row).
Currently we visualize it as a failed query however query is fine, fetch is wrong.

We must show fetched rows and show fetch error in the bottom toolbar.

[2022-06-10 15:54] serge-rider commented on #16772
![image](https://user-images.githubusercontent.com/6398845/173104623-21f894c9-58fc-43a9-83ff-241b91496f99.png)

[2022-06-10 18:50] Remi-C commented on #15698
Hey folks, does your fix also work on:
```SELECT '{NULL}'::text[] , '{}'::text[]```
(these array appear as the same thing in DBeaver, but they are not the same thing ! )

<img width="456" alt="image" src="https://user-images.githubusercontent.com/4725794/173131230-58bd04cd-b091-4d76-b1ed-07fc2119446d.png">

[2022-06-10 21:49] mdb983 opened #16775 "SSH tunnel requires username"
#### System information:
- Operating system (distribution) and version
- MacOS 11.6.6
- DBeaver version
- Version 22.1.0.202206051253
- Additional extensions

#### Connection specification:
- Database name and version
- MariaDB 10.3.34
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
SSH tunnel
#### Describe the problem you're observing:
Unable to set up a connection to SQL server

[2022-06-10 22:39] ShadelessFox commented on #15698
Hello @Remi-C,

Yes, it was fixed within this issue:

![image](https://user-images.githubusercontent.com/35821147/173158989-fb275ec4-af32-4db2-9658-ed26195b5a18.png)

P.S: I had no idea you can get a `psql`-compatible textual representation of any value just by casting it to `text`. Noted!

[2022-06-10 23:17] CarlGraff opened #16776 "Auto arrange forced after show attributes changed even if for a table only"
After manually arranging a diagram if I change the show attributes for a selected table from say none to show keys then the whole diagram is auto arranged.

I did see that a keep layout exists somewhere not sure if that would help if I can find it but basically I would simply like to not have arrangement changed after changing the show attributes for a table.

The only thing to do right now is to

[2022-06-11 07:09] manticore-projects opened #16777 "DML statements in disguise"
Greetings DBeaver Team,

we have gotten an interesting request: https://github.com/JSQLParser/JSqlParser/issues/1550
[code]

From a previous discussion, I understand that you are interested in filtering DMLs and warn about them before executing.
For the example above, JSQLParser would show a Select/Query (instead of a DML) and so DBeaver likely would miss it.

My suggestion was, to amend each Stat

[2022-06-11 08:58] manticore-projects commented on #16756
Greetings.

Sorry for involving myself into that, I am just a curios person.
I did some tests with Lukas' script myself for testing performance. I have used JSQLParser for parsing and RSyntaxTextArea for highlighting and have been able to open the Large 8MB SQL file in less than 2 second. Just a ball park figure for benchmarking.

I will also work on statements, which JSQLParsrer could not digest

[2022-06-11 10:08] lukaseder commented on #16756
Thanks for the reference, @manticore-projects.

The file also opens super quick in Oracle SQL Developer. Execution there is also a bit slow, but much faster than in Dbeaver. SQL Developer also scrolls through the file while executing...

MySQL Workbench takes a long time to open such a file, but executes them much faster. They only update a status view for the latest statements, not the editor.

I

[2022-06-11 11:02] hktalent commented on #14411
Sad, can export json, but can't import json @tati-kru @dbeaver @Skydiveroid

[2022-06-11 13:56] mstup commented on #9472
Will soon celebrate two years of this annoying feature =:-)
@coldenol As workaround I would suggest to switch between nearest tabs with   Alt + Right/Left Arrow

[2022-06-13 01:33] qilinsanshao commented on #5317
Hope this issue could be resolved, I even face the same problem when upgrate Dbeaver then I must reinstall Git plug-in.

[2022-06-13 03:00] qilinsanshao commented on #16262
Hi:
I face the same issue, after I installed SAP HANA plugin,all right-click menus in the dbaver database navigation window cannot pop up.

[2022-06-13 07:28] kenhys commented on #16457
For the record:

1. download https://dbeaver.io/debs/dbeaver.gpg.key
2. convert it to keyring

[code]

3. setup .list as /etc/apt/sources.list.d/dbeaver-ce.list

[code]

[2022-06-13 13:53] Remi-C commented on #15698
Thanks @ShadelessFox , awesome news !

[2022-06-13 14:49] LonwoLonwo commented on #16664
DBeaver reads your metadata to show your data correctly.

Yes, you can use "Performance" flags, but I'm recommended not to use them all. At least, it's not "search metadata on synonyms" - it's usually decreasing performance.

Also, you can turn off auto-completion at all.
The performance will be higher in this case, but auto-complete will not be working.
![2022-06-13 17_42_40-DBeaver Ultimate 22 1

[2022-06-13 15:02] WEGFan opened #16780 "Add a paging function allowing specify result page in data editor"
![](https://user-images.githubusercontent.com/7558201/173383515-6ab56069-934f-41b7-aac3-d35fe1806ba5.png)

Currently, there are "Fetch next page of results" and "Fetch all results" available in the data editor, I suggest adding a paging function where you can specify which page to fetch and go previous/next page (like Navicat shown in the screenshot below), so one can only fetch the pages they wan

[2022-06-13 15:12] techlock77 commented on #13007
@daevidvincent @kingwrcy @KES777
Guys, see if this setting in the snapshot below works for you,

I increased the percentage to 80%.

<img width="504" alt="image" src="https://user-images.githubusercontent.com/66756251/173385848-b1b39274-4115-4680-b47b-0b869b6dfb20.png">

[2022-06-13 18:13] nvekariya commented on #10078
Another option:

- View tables:
<img width="301" alt="Screen Shot 2022-06-13 at 11 00 49 AM" src="https://user-images.githubusercontent.com/6309147/173416471-5613ae6f-df45-46a2-9523-a0d8bcc2d4d5.png">

- Click on Settings icon from the bottom bar and click 'Disk  Space'

<img width="614" alt="Screen Shot 2022-06-13 at 11 12 16 AM" src="https://user-images.githubusercontent.com/6309147/173417756-0e

[2022-06-13 20:22] serge-rider commented on #16262
Please attach the error log (https://github.com/dbeaver/dbeaver/wiki/Log-files)

[2022-06-13 20:29] serge-rider opened #16781 "Auto-size columns in metadata viewer"
Quite often column widths are too marrow for all columns because DBeaver saves and restores previous column widths.
We need a way to auto-size column widths by using context menu.

[2022-06-13 23:11] six0h commented on #12218
This should be re-opened as the issue is not resolved. I'm experiencing the same on 22.0.4. This is a real show-stopper for anyone that has to access their DB through a bastion host. I can't use DBeaver at this point.

[2022-06-14 06:13] wencyGit opened #16783 "clickHouse-jdbc error"
dbeaver version: 22.1.0.202206051253

error：

Network unavailable:
javax.net.ssl.SSLHandshakeException:PKIX path validation failed: java.security.cert.CertPathValidatorException: validity check failed
Network unavailable:
javax.net.ssl.SSLHandshakeException:PKIX path validation failed: java.security.cert.CertPathValidatorException: validity check failed

[2022-06-14 08:06] Matvey16 commented on #15402
Verified

[2022-06-14 08:06] #15402 closed, assigned to ShadelessFox, Matvey16

[2022-06-14 08:29] serge-rider commented on #16781
![image](https://user-images.githubusercontent.com/6398845/173531503-00ab933a-6c6e-468d-a3d2-d429d4778a81.png)

[2022-06-14 09:18] adrianbienias commented on #12218
I found that SSHJ is already included in the latest DBeaver (no idea in which version they've added it),
so there's no need to install it separately.

In `Connection settings`, in `SSH` tab after checking `Use SSH Tunnel`, expand `Advanced settings` and choose `SSHJ` from `Implementation` selection.

[2022-06-14 09:31] Imobach commented on #12218
For those who are having errors configuring the bastion host: If a DNS is used instead of the IP of the bastion host, the SSH connection works.

[2022-06-14 10:03] #16724 closed, assigned to E1izabeth, Matvey16

[2022-06-14 10:15] yoni-yad2 opened #16785 "SQL editor frame color doesn't change when switching between PROD and DEV connections"
#### System information:
- Operating system (distribution) and version: Windows 10 64 bit
- DBeaver version: 22.1.0.202206051253

#### Connection specification:
- Database name and version: MySQL RDS 5.7.33
- Driver name: MySQL 5.7
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
When switching from a production connection to a development connect

[2022-06-14 12:26] gpetit opened #16788 "New connection : open existing db vs create new db"
Hi everyone and DBeaver team.

First of all, I'm a huge fan of DBeaver and thanks a lot for your work.

DBeaver version : Version 22.0.2.202204041542 (Ubuntu 21.10)

## Is your feature request related to a problem? Please describe

I may be wrong but it seems to me that there is a logical problem when connecting to an existing database. Indeed, instead of proposing to open a database, the interfac

[2022-06-14 13:46] #13127 closed, assigned to Destrolaric, Matvey16

[2022-06-14 13:47] #12544 closed, assigned to LonwoLonwo, Matvey16

[2022-06-14 14:29] LonwoLonwo commented on #16785
Thanks for the bug report @yoni-yad2

[2022-06-14 14:35] LonwoLonwo commented on #16783
Hello @wencyGit

What ClickHouse driver version do you have? Do you use bundled java from DBeaver or your own?

Also, maybe this topic can help you: https://stackoverflow.com/questions/32279964/pkix-path-validation-failed-java-security-cert-certpathvalidatorexception-sign

[2022-06-14 14:37] neb084 opened #16789 "Snowflake - create/modify/delete Store Procedures/Functions"
I want to be able to create/modify/delete Stored Procedures and Functions from DBeaver when connected to a Snowflake server. Currently it appears that I can call these procedures/functions if they are created in Snowflake, but I can't directly create/modify/delete through DBeaver

[2022-06-14 14:38] jgilabert9 opened #16790 "An error has occurred: org.osgi.framework.BundleException"
Cannot open.
Log:

[code]

[2022-06-14 15:08] #13681 closed, assigned to uslss, LonwoLonwo

[2022-06-14 15:08] #13887 closed, assigned to uslss, LonwoLonwo

[2022-06-14 15:33] lucactusss commented on #16790
Hi,

Same error for me on Ubuntu 22.04 LTS.
I've downgraded to 22.0.5 and it works for now

[2022-06-14 15:34] LonwoLonwo commented on #16789
Hello @neb084

Thanks for the suggestion.

Not sure about the "create" part, but modify and delete support we can add for Snowflakes procedures.

[2022-06-14 15:38] LonwoLonwo commented on #16790
Hello @jgilabert9

What OS do you use?
Did you update DBeaver, or is it a new installation?
What installation type did you use?

[2022-06-14 15:40] ShadelessFox commented on #16788
Hello @gpetit,

Thanks for the detailed feature request.

It was implemented #15827 (22.0.4). Could you check it out?

[2022-06-14 16:03] jgilabert9 commented on #16790
Hello, thanks for answering, I use MX-Linux 19.4, I updated from version 22.0.3 to 22.1.0 using a .deb package.
Following lucactusss suggestion I downgraded to 22.0.3 again, and it runs the first time, but when I close and start it the same error appears again.

[2022-06-14 16:40] neb084 commented on #16789
That's awesome. I don't know if it helps to show the code used to create/replace, but this is an example in Snowflake:

use role RPT;
use PRD;
use schema WRK;

create or replace procedure RETURN_GREATER(number_1 integer, number_2 integer)
returns integer not null
language sql
as
$$
begin
  if (number_1 > number_2) then
    return number_1;
  else
    return number_2;
  end if;
end;
$$
;

call RETU

[2022-06-14 18:39] Matvey16 commented on #16772
Verified

[2022-06-14 21:57] egrubbs opened #16792 "windows store dbeaver cannot be configured for additional cacerts"
#### System information:
- Windows 10 Enterprise 10.0.19042 Build 19042
- DBeaver version: CE 22.1.0.202206051839

#### Describe the problem you're observing:

In the Microsoft Store version of DBeaver, It is very difficult to install a cacert in the embedded jre.
[code]
More info on how many steps are necessary to edit those WindowsApps: https://superuser.com/a/1365110/1320689

#### Possible Solu

[2022-06-14 23:18] mskoh opened #16793 "When use "Refresh every 3 seconds", DBeaver crashed about 12 hours later."
#### System information:
- Operating system (distribution) and version: **Windows Server 2022 R2**
- DBeaver version: **22.0.5**
- Additional extensions: **N/A**

#### Connection specification:
- Database name and version: **PostgreSQL 13.2 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-44), 64-bit**
- Driver name: **.m2\repository\org\postgresql\postgresql\42.3.5\post

[2022-06-15 02:26] wencyGit commented on #16783
@LonwoLonwo

Yesterday, dbeaver linked Clickhouse to download the Clickhouse jdbc driver message. Today, it is downloaded normally

[2022-06-15 02:26] #16783 closed, assigned to nobody

[2022-06-15 03:40] WuJieFly commented on #2784
thanks

[2022-06-15 06:54] dominiquevienne commented on #11891
FYI, it happened to me with this workflow:

1. Connect to DB
2. Added a field through Laravel migration
3. Refresh the table view through F5. Field is appearing correctly but has the _Read only_ tag

I simply had to refresh the database so DBeaver has everything to display the table correctly

[2022-06-15 07:07] luyunfei11 opened #16795 "The created index needs to be disconnected and reconnected before it can be displayed."
#### System information:
- Operating system (distribution) and version :windows10
- DBeaver version : 22.0.4.202205011839
- Additional extensions
-
#### Connection specification:
- Database name and version :postgres
- Driver name: org.postgresql.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
The created index needs to be disconnected and rec

[2022-06-15 07:26] psgohil opened #16796 "Upgrading to v22.1.0 results into error"
#### System information:
- Kubuntu 21.10
- Old 22.0.5, upgraded to 22.1.0
- Dark Theme

#### Connection specification:
No connection issue

#### Describe the problem you're observing:
Upgrading from 22.0.5 to 22.1.0, results into error -

An error has occured. See the log file <path>/org.jkiss.dbeaver.product_22.1.0_302967072_linux_gtk_x86_64/configuration/<logfile>

#### Steps to reproduce, if ex

[2022-06-15 07:38] #16772 closed, assigned to serge-rider, Matvey16

[2022-06-15 08:03] DariaMarkaryan opened #16798 "The last Derby driver compiled for Java17+ and doesn't work in DBeaver"
#### System information:
- Win11
- DBeaver 22.1.0

#### Connection specification:
- Database name: Derby
- Driver version: 10.15.2.0 Release

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
On the computer without newer Java (v. 17+) downloaded, try to connect to Derby. Agree to download the new driver

#### Include any warning/errors/backtraces from the logs
[code]

[2022-06-15 08:15] LonwoLonwo commented on #16796
Hello @psgohil

Thanks for the bug report.

I'm closing this ticket as duplicate of https://github.com/dbeaver/dbeaver/issues/16790

[2022-06-15 08:15] #16796 closed, assigned to nobody

[2022-06-15 08:27] Matvey16 commented on #14944
@suhailmemon Thank you, but I also need rhe queries from query manager itself like so

![image](https://user-images.githubusercontent.com/82543000/173780520-63fcf410-8451-42ce-acc8-4236f41ca128.png)

[2022-06-15 08:46] flambchap commented on #16790
Hi guys. I cannot reproduce the issue against Pop!_OS 22.04 and [debs we publish here on Github](https://github.com/dbeaver/dbeaver/releases/download/22.1.0/dbeaver-ce_22.1.0_amd64.deb). I suspect that a package from some other source is broken. Where did you download it from? Thanks.

[2022-06-15 08:49] Matvey16 commented on #16109
Thank you for the report. We are using H2 database to store queries from query manager. We will work on that, but as a workaround you can try switching perspective from DBeaver and update after restart.

[2022-06-15 10:48] Matvey16 commented on #16520
@GuenterSch Thank you. I reproduced it on Snowflake and also found that schema list in dropdown is inconsistent, sometimes it shows correct list of schemas, sometimes it shows schemas from other databases and so,etimes it doesn't show anything at all.

![dbeaver_YBsQbqGIMl](https://user-images.githubusercontent.com/82543000/173809255-39918ff2-7f16-453d-b04e-637c39bca7ab.gif)

After disconnect it u

[2022-06-15 11:05] GuenterSch commented on #16520
@Matvey16 Yes I have a schema default in the connection set.
But, if the tab is alread open, I disconnect it, then I connect it again. The database will be set correct, but it does not set the last used schema nor the default schema in the connection settings.
I have open more than one connection with different schemas. Therefore, after a reconnect it would be importent, that it set the last used

[2022-06-15 11:13] Matvey16 commented on #16606
@aumeli74 Hello. Can you show me your preferrences for the data editor?
![image](https://user-images.githubusercontent.com/82543000/173813921-c79c2795-ef27-4dd0-b7ee-c5c89da3bf2c.png)

Also can you tell me if this happens after some idle time or immidiatly when you execute two queries back to back?

[2022-06-15 11:19] fernandocristan commented on #16790
Also in windows has occured. I had reinstalled and it still occurred when close application and open again
[1655291647106.log](https://github.com/dbeaver/dbeaver/files/8908763/1655291647106.log)
.

[2022-06-15 11:47] Matvey16 commented on #16694
@PaulSlater25 I was not able to reproduce this issue. Can you tell me if something in my test is different and could have influenced the result

my function:

[code]

![dbeaver_I6qeNR3Fkg](https://user-images.githubusercontent.com/82543000/173818939-9dc1924e-2158-4df7-82c5-0e38ad231aed.png)

![dbeaver_kHEVPdECsJ](https://user-images.githubusercontent.com/82543000/173819955-7a4f7974-1a1b-4fbe-92b4-

[2022-06-15 11:59] flambchap commented on #16741
Thank you for the report. This is a known bug: https://github.com/dbeaver/dbeaver/issues/15920.

[2022-06-15 11:59] #16741 closed, assigned to nobody

[2022-06-15 12:06] E1izabeth commented on #16795
Hi, @luyunfei11! I guess you need to refresh schema after index creation. Please, click on the schema and press F5.
Does it help?

[2022-06-15 12:29] uslss commented on #16781
verified

[2022-06-15 12:29] #16781 closed, assigned to serge-rider, uslss

[2022-06-15 12:29] PaulDokken opened #16803 "DATE comparison not working correctly"
#### System information:
- MacOs 12.2.1
- 22.1.0
- Additional extensions

#### Connection specification:
- MySQL Ver 5.7.35 for Linux on x86_64 (MySQL Community Server (GPL))
- MySQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

schedule_date is a DATE field but it does not filter correctly.  It thinks 2022-04-25 is 22-04-24
![image](https://user-images.githubusercontent.com/75853422/173

[2022-06-15 12:37] aumeli74 commented on #16606
Hi there!! I removed  directory  DBEaverData from Library and work again , the problem with the connection has gone.

The only thing that persist seem to be the source asociation i can’t see it yet , like this image (Example image taked from another mac)
***@***.***

About my preferences data editor,sorry, I restarted my computer because I transferred  and i can’t send you the images from that.

R

[2022-06-15 12:50] dbeaver-pm commented on #16776
Thanks for the bug report!

[2022-06-15 13:00] dbeaver-pm commented on #16780
Thanks for the feature request!

[2022-06-15 13:35] dbeaver-pm commented on #16753
Thanks for the feature request

[2022-06-15 13:38] dbeaver-pm commented on #16748
Hello @jbisson,

Can you please provide more information about the database you're trying connecting to?

Also, log files could be helpful. You can find instructions here: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-06-15 13:47] dbeaver-pm commented on #16743
Thanks for the feature request

[2022-06-15 13:52] dbeaver-pm commented on #16730
Hello @GuenterSch,

Thanks for feedback. We will need to discuss this change.

[2022-06-15 14:05] emironovDB opened #16804 "Update Eclipse version"
We need to upgrade the latest version of Eclipse IDE (2022-06), which will be released in July 2022

[2022-06-15 14:30] ShadelessFox commented on #16792
Hello @egrubbs,

Thanks for the bug report.

Indeed, the Windows Store version of DBeaver does not feature the mentioned parameter, but the regular version does.

[2022-06-15 14:36] ShadelessFox commented on #16720
Hello @iron0012,

Thanks for the bug report. It's a known Eclipse issue.

Try disabling the **Displays have separate Spaces** option under the **Mission Control** in the system preferences.

[2022-06-15 15:36] elliotsteene opened #16806 "Maven Artifact not found in any available repository - Redshift"
#### System information:
- Windows 11
- 22.1
- Additional extensions

#### Connection specification:
- Redshift
- 'maven:/redshift-jdbc42:com.amazon.redshift:LATEST'
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
DBeaver can no longer find Redshift driver. Previously could connect and then suddenly couldn't.

#### Include any warning/errors/backtrac

[2022-06-15 18:28] JasonConeHM commented on #16790
For the record, as I was experiencing this issue on both Mac and Linux, I narrowed it down to a DevStyle incompatibility (I've been using the "Darkest Dark" theme for quite some time without problem).

To fix, I downgraded DBeaver to a previous version, uninstalled all of the DevStyle packages, and then upgraded to 22.1.0. The only downside is that you're limited to one of the stock themes.

[2022-06-15 20:15] jbisson commented on #16748
I am connecting to a cassandra db.

Looking at the logs, not much that stands out. I am using a ssl tunnel as well. Like I said, if I remove the client trust store file within the UI and add the exact same file within the dbeaver.ini it works perfectly fine:
-Djavax.net.ssl.trustStore=G:/truststore.jks
-Djavax.net.ssl.trustStorePassword=pw

I attached the logs for reference (I changed the ip addre

[2022-06-15 20:16] jbisson commented on #16748
here's the .log file:
[logfile.log](https://github.com/dbeaver/dbeaver/files/8912787/logfile.log)

[2022-06-15 21:57] suhailmemon commented on #14944
how do i export the queries out of the query manager?

[2022-06-15 22:03] suhailmemon commented on #14944
<img width="1311" alt="image" src="https://user-images.githubusercontent.com/36083983/173940045-9a80df0b-e421-4766-8e8e-47244c16fd84.png">

[2022-06-15 22:04] suhailmemon commented on #14944
<img width="1311" alt="image" src="https://user-images.githubusercontent.com/36083983/173940175-807a610f-a735-410e-af52-8663d5563646.png">

[2022-06-15 22:04] suhailmemon commented on #14944
if it helps i have uploaded the query manager screenshot above as shown above

[2022-06-16 02:59] wklong opened #16808 "Can the community add a function to modify the table display SQL script"
Greetings DBeaver Team,
pls add new function: SQL scripts for modifying tables are displayed when modifying tables
See the image below for an example
![image](https://user-images.githubusercontent.com/11863572/173981765-6618efd8-02c7-4100-b0a6-0146cd332e1d.png)

[2022-06-16 03:12] ZhaoYis opened #16809 "View style optimization..."
comments is too long,can be consider interception.
![image](https://user-images.githubusercontent.com/22954818/173983119-422e38b0-ad35-427f-986d-14f35e3c7719.png)

[2022-06-16 07:22] gpetit commented on #16788
Hi @ShadelessFox and thanks for your quick reply
I updated and it's perfect now !
Best
Gwendall

[2022-06-16 07:22] #16788 closed, assigned to nobody

[2022-06-16 07:24] #14339 closed, assigned to Destrolaric, DariyaFedorova

[2022-06-16 07:29] luyunfei11 commented on #16795
After refreshing or pressing F5, the problem persists.

[2022-06-16 07:30] luyunfei11 commented on #16795
![image](https://user-images.githubusercontent.com/56383213/174016651-98509771-752b-4df9-9f74-740485335b50.png)

[2022-06-16 07:53] E1izabeth commented on #16795
Thank you for quick response. Could you, please, send the log file. You can find instructions here: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-06-16 07:56] emironovDB commented on #16771
Hi, @tomfox747 !
Thanks for the bug report.
Please, could you send whole logs in file?
From your message we can't understand what happens and have not any assume what is wrong, because some strings looks like missing.

[2022-06-16 07:58] emironovDB commented on #16775
Hi, @mdb983!
Thanks for your request!

Do you mean something like that: https://askubuntu.com/questions/692460/logging-to-remote-server-without-specifying-username/692463#692463 ?
We need more details for understanding your vision.

[2022-06-16 08:05] emironovDB commented on #16539
Hi, [@plotn](https://github.com/plotn) !
Yes, you're right. This script is autogenerated, and it would be great if it will be executed correctly.

But unfortunate, we can't manage this, because it's private part, and we can't control this.
So users should check it by himself before executed.

[2022-06-16 08:10] emironovDB commented on #16777
Hello, @manticore-projects !
It's a great idea!

Please give us some time to check everything in our part and investigate this issue, and then we come back with more information for you.
I think it requires for a couple of weeks and in July we will be able to give the answer.

[2022-06-16 08:19] luyunfei11 commented on #16795
Sorry, this problem was not recorded in the log file, and no error was reported. Therefore, the error log file cannot be provided.

[2022-06-16 08:38] plotn commented on #16539
@emironovDB, sorry, I cannot agree.
The logic is quite simple - such problems is successfully managed by some class of tools - backup tools (e.g. postges backup), migrate tools (e.g. ora2pg). The main goal is to correctly manage DDL commands order - you could do this even "take current generated DDL code (as is), then reorder it properly".

Sorry once again - it is only my own opinion.

[2022-06-16 08:38] E1izabeth commented on #16808
Hi, @wklong! DBeaver has already provided similar opportunity. You can see generated SQL when you press `Save...` button.

![image](https://user-images.githubusercontent.com/28875055/174029323-e2cb4c97-2b74-4eb5-ba8e-fa8394a04cbf.png)

Does it satisfy your needs?

[2022-06-16 09:20] uslss commented on #16809
Thanks for the report.
duplicates #8173

[2022-06-16 09:20] #16809 closed, assigned to nobody

[2022-06-16 09:29] uslss commented on #16803
@PaulDokken unfortunately, cannot reproduce it.
Could you provide table DDL?

[2022-06-16 10:34] ghost opened #16811 "DB2 AS400/iSeries ability to show short names in meta data"
The ability to see short / system names of columns in a table would be highly beneficial.

![Screenshot 2022-06-16 064044](https://user-images.githubusercontent.com/106983457/174053592-88a56f3b-7f6f-4f3b-ab32-a8afc7baf5b2.png)

[2022-06-16 11:20] uslss commented on #16798
verified

[2022-06-16 11:20] #16798 closed, assigned to flambchap, uslss

[2022-06-16 11:45] sergeynilov opened #16815 "I failed to connect to laravel 8 / homestead under kubuntu 20"
I have laravel 8 app under homestead with  Vagrant 2.2.6/virtualbox 6.1.32 under Kubuntu 20.
I want to connect with dbeaver 22.0.4 to this database
Here https://laravel.com/docs/8.x/homestead#ports
I found a hint that I need to use port 33060 instead of 3306 in MySQL connection.
I try to do it, but got error : Index 5 out of bounds for length 5
https://prnt.sc/KWtdoQPp-tOK
vagrant is running in th

[2022-06-16 12:49] LonwoLonwo commented on #14176
Ok. I can see now that private procedures/functions are not available in the ALL_PROCEDURES view.

[Here](https://stackoverflow.com/a/8654268/14220989) and [here](https://stackoverflow.com/questions/44026333/retreive-a-list-of-private-procedures-functions-from-a-package-body) we can find some solution, but it didn't work for me.

We can only parse the PACKAGE body to get the complete procedures/fu

[2022-06-16 14:49] Destrolaric commented on #16631
@MM-UU Hi, sorry for the waiting, I looked at your log again I see that it may not contain the required information. Can you try to reproduce this issue and send the log once again?

[2022-06-16 14:57] Destrolaric commented on #16657
@bvl-lc Hi, can you tell me the names of the databases? It may be possible they were hidden as system ones due to https://github.com/dbeaver/dbeaver/commit/78ba81ef0695bf06380265e5eb36152f11451a61

[2022-06-16 15:00] mdb983 commented on #16775
Not exactly, let me see if I can clarify:-

In a cloud environment such as AWS, you may have several EC2 instances and  RDS instance. RDS instances are, for security reasons, generally configured without public access. This results in the RDS only being accessible via an ECS instance. This is where ssh tunneling comes into play.

Again for security reasons, when configuring an EC2 instance, it's c

[2022-06-16 15:38] uslss commented on #16487
There has been no update on the issue for a long time.
If it is still actual - feel free to reopen it with additional info,

[2022-06-16 15:38] #16487 closed, assigned to E1izabeth

[2022-06-16 15:40] uslss commented on #16289
There has been no update for a long time.
If it is still actual - feel free to reopen the issue

[2022-06-16 15:40] #16289 closed, assigned to E1izabeth

[2022-06-16 15:40] #16239 closed, assigned to LonwoLonwo

[2022-06-16 15:56] KoalaGeo commented on #16759
I'm getting the same issue
Running on Win10
Connected to Postgres + PostGIS 3.2.1

First time I try I get:
![image](https://user-images.githubusercontent.com/33657876/174114289-7c9cee21-60b1-4920-a405-15dc81d17791.png)

Subsequent tries =
[code]

[2022-06-16 16:42] LonwoLonwo commented on #16815
Can you provide the full [error log](https://github.com/dbeaver/dbeaver/wiki/Log-files) please?

[2022-06-16 16:49] LonwoLonwo commented on #16811
Hello @kraisor-kheaa

Did you try to enable this setting?

![2022-06-16 19_43_27-Preferences](https://user-images.githubusercontent.com/45152336/174124111-a0756fad-ba9c-4a69-9a3a-8e883f0eef5b.png)

Or this?

![2022-06-16 19_47_53-Connect to a database](https://user-images.githubusercontent.com/45152336/174124133-3213109e-9d5c-452b-bdf5-1457c4fefc79.png)

Maybe it can help.

[2022-06-16 20:39] DanGeekyWorld opened #16818 "No suitable driver"
No suitable driver foudn for jdbc:mysql

I'm using a mac with Big Sur IOS.

I install all the JAva and no letting me connect to any DB of Mysql.

#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

[2022-06-16 21:35] LonwoLonwo commented on #16818
Hello @DanGeekyWorld

Often this "No suitable driver foudn for jdbc:MySQL" issue occurs, then DBeaver can not download driver because of Internet or security problems.

In this case you can download drivers by your own from the wendor web-site:

![2022-06-17 00_31_07-DBeaver 22 1 0 - Playlist](https://user-images.githubusercontent.com/45152336/174169610-f314422e-8193-4ace-842c-64a6c5d117b9.png)

[2022-06-16 21:37] LonwoLonwo commented on #16806
Hello @DanGeekyWorld

Often this "Maven artifact 'maven:/redshift-jdbc42:com.amazon.redshift:LATEST' not found" issue occurs, then DBeaver can not download driver because of Internet or security problems.

In this case you can download drivers by your own from the wendor web-site:

![2022-06-17 00_31_07-DBeaver 22 1 0 - Playlist](https://user-images.githubusercontent.com/45152336/174169610-f314422

[2022-06-16 23:09] jgilabert9 commented on #16790
@JasonConeHM The solution you proposed worked. Thank you very much

[2022-06-16 23:35] SethArchambault commented on #5204
So I have no idea how dbeaver's default project ended up the same as this folder to a project I was working on, but after tiring of continually removing the dbeaver project file from git commits - I went into dbeaver, set another folder as the primary, and deleted the project. I saw the checkbox saying it was destructive, but since I had already deleted the .dbeaver countless times, and has just c

[2022-06-17 05:13] Romiko commented on #12825
Whats the STATUS on this? Its 2022, SSL is important as ever.

[2022-06-17 05:14] Romiko commented on #8143
Whats the STATUS on this? Its 2022, SSL is important as ever.

[2022-06-17 06:12] #16246 closed, assigned to uslss, LonwoLonwo

[2022-06-17 06:13] #15869 closed, assigned to Destrolaric, uslss

[2022-06-17 06:13] #15584 closed, assigned to LonwoLonwo, Matvey16

[2022-06-17 06:42] bvl-lc commented on #16657
![db-screenshot](https://user-images.githubusercontent.com/105451305/174240526-3ddda42b-a331-49e9-b390-13fbbaa28f98.JPG)

Indeed, the databases I expected to see (that I see in previous versions) are "master", "model" and "tempdb"...

On the other hand, changing the database name is not helping making it possible to view the databases, nor does checking the "Show all schemas"... Bottomline is that

[2022-06-17 06:42] #16657 closed, assigned to Destrolaric

[2022-06-17 07:41] wklong commented on #16808
Yeah, that's it ,ths

[2022-06-17 07:41] #16808 closed, assigned to nobody

[2022-06-17 08:02] riednyko commented on #10845
Hi @seth100. Sorry for the long answer.
Did this https://github.com/dbeaver/dbeaver/issues/5008#issuecomment-754070017 solution help you?

[2022-06-17 08:15] jppo commented on #15516
Hello,
The issue is always present in version 22.1.0.
The columns are way too small and I can't resize them.
Regards
JP P
PS : The screen is always like in the image attached to the first message :
Too small and not resizable.

[2022-06-17 08:42] Matvey16 commented on #16340
Hint about current time doesn't appear when switching from text value

![dbeaver_JKQFpyOHiD](https://user-images.githubusercontent.com/82543000/174261834-54aef3de-f955-4c6c-9f51-e6d5d2b5dd3a.gif)

[2022-06-17 09:07] rafael-alcantara opened #16821 "ORA-900 Invalid SQL statement"
#### System information:
- Windows 10
- DBeaver version 22.1.0
- Additional extensions: git integration

#### Connection specification:
- Database name and version: oracle ~~12~~ 19c
- Driver name: oracle.jdbc.OracleDriver
- Do you use tunnels or proxies: VPN

#### Describe the problem you're observing:

Running a script with a procedure definition, it fails with ORA-900 (invalid SQL statement) fo

[2022-06-17 09:22] E1izabeth commented on #16821
Hi, @rafael-alcantara! Thank you for bug report. As a workaround you can select whole query and press run.

[2022-06-17 09:28] rafael-alcantara commented on #16821
Thanks, Elisabeth, that was quick 😃

Yes, the workaround does work for me. I will remember it.

[2022-06-17 09:41] Destrolaric commented on #16657
@bvl-lc you can make them visible by ticking "Show system objects" in connection view

[2022-06-17 09:51] bvl-lc commented on #16657
Yes! that works! Thanks, George!

[2022-06-17 09:58] Matvey16 opened #16822 "Incorrect display of composite data type when all attributes are null"
#### System information:
- Operating system (distribution) and version Win11
- DBeaver version 22.1.0

#### Steps to reproduce, if exist:
1. Create a data type with two fields

[code]

2. Execute a select with this data type so both fields are NULL
[code]

**Expected:** The result shows that there are two null fields
![cmd_Wf7a8RPqnJ](https://user-images.githubusercontent.com/82543000/174100528-79

[2022-06-17 10:20] ShadelessFox commented on #16822
Unfortunately, this is the issue of our parser (fixable). You can verify that by inspecting the value panel.

[2022-06-17 10:21] #16759 closed, assigned to ShadelessFox

[2022-06-17 11:05] davious commented on #16733
From my point of view, my issue still exists and my bug report was hijacked. I plan to open another bug report

[2022-06-17 11:08] E1izabeth commented on #16733
@davious , fix will be available in the next release. Please, check it in 22.1.1. If you encounter the same issue, fill free to reopen this or create another one.

[2022-06-17 11:29] rafael-alcantara commented on #16821
Sorry, the oracle version mentioned in the description was wrong. I have corrected it.

[2022-06-17 11:31] E1izabeth commented on #16821
Thank you

[2022-06-17 11:44] LonwoLonwo commented on #13281
Sorry, but your idea is not clear for now.

You can use `ALTER TABLE <table> NOCHECK CONSTRAINT ALL` as "Disable referential integrity" in DBeaver data transfer settings. But it does not work in your case?

![2022-06-17 14_36_51-Data Transfer](https://user-images.githubusercontent.com/45152336/174291254-473ccaa5-a31f-45c6-bf60-df33fba2fe8c.png)

And you want another solution with this statement:
`

[2022-06-17 13:12] redcatbear commented on #16519
@Matvey16, tested with the snap of version 22.1.0.202206051253. Unfortunately the problem persists.

[2022-06-17 13:47] bmoAtolcd opened #16826 "Table name column is empty in detail index of table"
- Operating system : Mac os 12.3.1
- DBeaver version : 22.1.0

- Database name and version : postgres 11

Table name column is empty in detail index of table.

CREATE TABLE public.table1 (
	id_table1 bigint NOT NULL GENERATED ALWAYS AS IDENTITY,
	code text NULL,
	label text NULL,
	CONSTRAINT table1_pk PRIMARY KEY (id_table1)
);
CREATE INDEX table1_code_idx ON sg_reftech.table1 (code);

<img width=

[2022-06-17 16:16] rosshadden commented on #2361
I don't understand where to change this when using dbeaver with a remote database. I have searched my entire filesystem for a `pgbouncer.ini` but there is none. I don't have postgres installed or running locally because as I said I'm working with remote databases. Sites like the ones linked above say to find the location of the file by looking at running processes, but... well you get the idea.

H

[2022-06-17 16:47] ShadelessFox commented on #16826
Hello @bmoAtolcd,

You have to expand the index to see which columns it refers.

[2022-06-17 17:34] glw commented on #14647
Here's my log file.

[log.txt](https://github.com/dbeaver/dbeaver/files/8929591/log.txt)

[2022-06-17 17:36] jahlbornG opened #16827 "Extend Connection Type color coding to Tabs"
This is essentially a re-creation of #15760 because the fixing of that ticket didn't actually achieve the description of the ticket.

The Connection type setting with a color choice is an excellent solution to quickly identify between production, test and development databases. I am often working on multiple connections of the 'same' database so it comes handy and prevented many accidents in the p

[2022-06-17 17:37] jahlbornG commented on #15760
i re-filed this feature request as #16827

[2022-06-17 19:50] blandong commented on #1669
@BriceJamin,
I'm facing the same issue as yours with Dbeaver Version 22.0.0.202203060510 in Mac, did you solve the issue, if yes, would you please help tell me how?

[2022-06-17 23:01] six0h commented on #12218
I can confirm, SSHJ is indeed included, and is working, I just tested on my laptop where I was having the issue. Thank you.

[2022-06-18 09:54] ItisDL opened #16829 "query result ，json field update bug"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.1.0
- Additional extensions

#### Connection specification:
- Database name and version mysql
- Driver name mysql
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the

[2022-06-18 10:35] troizet commented on #16436
This issue is still unresolved, the cell borders are still displayed differently.

 Operating system: Ubuntu 20.04.4 LTS
 DBeaver version: 22.1.0.202206051253

https://user-images.githubusercontent.com/9607501/174433678-d1c5e360-bbd7-4f26-95c1-47142f1021ba.mp4

[2022-06-18 12:02] PetroGromovo commented on #16815
[code]

[2022-06-18 15:51] serge-rider commented on #16695
![image](https://user-images.githubusercontent.com/6398845/174446355-2bf86b0b-686b-4eb9-b36f-54d58d755409.png)

[2022-06-18 16:07] serge-rider commented on #16669
Fixed for all databases.
Now WHERE clause containes resolved column names instead of aliases

[2022-06-18 19:13] bartelemi commented on #16766
I think it might be a regression of https://github.com/dbeaver/dbeaver/issues/8129.
Myself and some other users seem to have the same problem with clipboard no working on Arch Linux running Wayland.

[2022-06-19 12:06] serge-rider commented on #15921
Fixed.
PR contains many improvements, please check data transfer for import and export in different combinations.

![image](https://user-images.githubusercontent.com/6398845/174480091-5067acb6-77bf-413f-a382-7fe879a6b565.png)

[2022-06-19 14:41] WildLlama opened #16835 "ANSI DDL Generation"
Working as a multi DB type programmer, I frequently face the need to replicate MySQL table structure to SQL Server or viceversa while storing the actual DDL script for source versioning.

It will be usefull, while creating/viewing a table/view/stored procedure DDL script, have an option to use ANSI SQL instead of MySQL/SQL Server specific syntax (like backticks, defining the int or bit dimentions,

[2022-06-19 16:20] #16295 closed, assigned to uslss, LonwoLonwo

[2022-06-19 16:20] #15698 closed, assigned to ShadelessFox, Matvey16

[2022-06-19 16:20] #15695 closed, assigned to LonwoLonwo, Matvey16

[2022-06-19 16:21] #16079 closed, assigned to Destrolaric, uslss

[2022-06-19 16:21] #16443 closed, assigned to E1izabeth, uslss

[2022-06-19 21:56] Loizzus opened #16836 "Can't use 'local' database through mongos' on server"
#### System information:
- Operating system (distribution) and version: Windows 11
- DBeaver version: Version 22.1.0.202206131757

#### Connection specification:
- Driver name: C:\Program Files\DBeaverEE\plugins\org.jkiss.bundle.mongodb_4.5.1\lib\mongodb-driver-core-4.5.1.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
As a follow up to the ne

[2022-06-20 04:39] buhlerax opened #16837 "I request to be able to create triggers, procedures and sequences in Firebird through the Bbeaver Enterprise interface."
I request to be able to create triggers, procedures and sequences in Firebird through the Bbeaver Enterprise interface.
In the current version of Dbeaver 22.1.0 we can only see triggers, procedures and views.
We were unable to create through the interface.

![procedure](https://user-images.githubusercontent.com/6946344/174526209-01572172-bf0c-452f-af4b-4b29864cf6d5.png)
![senquences](https://user-

[2022-06-20 06:24] bmoAtolcd commented on #16826
Hello, thanks for you reply.

Ok I missed that.
Perhaps display summary when indexes are collapsed.
Whith many auto-generate indexes, collapsed indexes display no relevant information.

[2022-06-20 06:40] liuzhe101 opened #16838 "m1 max system incompatible? Enter to jump to the next line。"
#### System information:
- Operating system (distribution) and version：12.4
- DBeaver version：版本: 22.1.0.202206121904
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
After I use the dot to select the field and enter, will it be selected and the cursor go

[2022-06-20 06:41] troizet opened #16839 "The cell to be edited in the pinned column moves as you scroll"
#### System information:
- Operating system: Ubuntu 20.04.4 LTS
- DBeaver version:  22.1.0.202206051253

#### Describe the problem you're observing:
One pinned column

https://user-images.githubusercontent.com/9607501/174539391-bf93c9ef-aee2-4e2e-86eb-4c07310b0d8c.mp4

Two pinned columns

https://user-images.githubusercontent.com/9607501/174539446-d5a93ce4-d28e-47df-9fce-5031337d556b.mp4

[2022-06-20 07:14] dennisKwone opened #16840 "How do I change the select item color?"
[when] I type the SQL code, Dbeaver will populate the list of columns. how do i change the selected column color?

![Screenshot 2022-06-20 151351](https://user-images.githubusercontent.com/107837616/174545922-99345e0c-4816-4ba5-a0e3-faa3331d2f33.png)

[2022-06-20 09:03] Ndysa opened #16841 "Connection with sql server too long after updating dbeaver 22.1.0 on macos"
System information:
Operating system (distribution) and version: macos High Sierra
DBeaver version: Version 22.1.0

Hi! I'm a new user to DBeaver.
I had the previous version installed of dbeaver community and connected with sql server (using Docker) and I was working fine. Today I've installed the latest version and I'm trying to connect with database (master) but is loading for a quite time and s

[2022-06-20 09:06] uslss commented on #16839
thanks for the report

[2022-06-20 09:10] uslss commented on #16837
thanks for the suggestion
closed as a duplicate of #14225

[2022-06-20 09:10] #16837 closed, assigned to nobody

[2022-06-20 09:15] ItisDL commented on #16829
Data is updated in the query result. There is JSON type in the field. An error will be reported when updating. Check the log and find that =, which is used in the where condition, should be converted to JSON using the cast function

[2022-06-20 09:18] Destrolaric commented on #16841
Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-06-20 10:19] #16340 closed, assigned to Destrolaric, Matvey16

[2022-06-20 10:58] Ndysa commented on #16841
Thank you for your reply. I can't find any log files only a file that contains steps from the update. Can I send you a direct email?

[2022-06-20 11:31] yoni-yad2 opened #16842 "User cannot see MySQL triggers in DB navigator tree without TRIGGER privilege"
#### System information:
- Operating system (distribution) and version: Windows 10 64 bit
- DBeaver version: 22.1.0.202206051253

#### Connection specification:
- Database name and version: MySQL 5.7.34 RDS
- Driver name: MySQL Server 5.7
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Triggers do not show up in DB navigator tree for user with "SE

[2022-06-20 13:32] Vigmore opened #16843 "Error in grouping panel when toggling 'Show duplicates only'"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 22.1.0

#### Connection specification:
- Database name and version: Oracle Database 19c
- Driver name: Ojdbc8 version 19.3.0.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

When activating the 'Show duplicates only (COUNT > 1)' toggle button, i

[2022-06-20 13:35] #16733 closed, assigned to E1izabeth, uslss

[2022-06-20 16:04] serge-rider commented on #16705
It breaks value save on focus change (by mouse click)

[2022-06-20 16:26] #15921 closed, assigned to serge-rider, Matvey16

[2022-06-20 16:27] #16669 closed, assigned to serge-rider, uslss

[2022-06-20 18:15] GaNiziolek opened #16844 "Create dashboards for each database but using the same connection"
Hello, I have a connection that have 2 databases with the same structure (same tables, same columns, etc), one is the main production database, an the another is the test database that I only use to implement new features, and tests.

When I open a new dashboard to see my statistics, the queries that are executed by the dashboard are always executed on the database that is selected as **default**.

[2022-06-20 21:59] wojtech commented on #5960
+1

[2022-06-21 00:08] eduzuchetti commented on #16631
Hello @MM-UU,

I was facing the same problem with _trust anchors_ and found you issue. I unchecked the box "_Verify server certificate_" and it works fine for me.

![image](https://user-images.githubusercontent.com/33533350/174690899-fca02d1d-e00a-4f0a-b70c-9c1dc5940beb.png)

[2022-06-21 02:25] jeacott1 opened #16846 "ER DIAGRAMS exported as graphml lose 'key' info"
when I try to export an ER diagram to graphml, it works ok, except that critical information is lost.
the diagram in the native .erd format works fine, but graphml loses the primary/relation key data (bolded in the native viewer) and the dividing line between the keys and the rest of the fields.

It would be great if the graphml export reproduced more accurately what the native viewer shows.

[2022-06-21 03:56] aa-matthias opened #16847 "MariaDB Connector/J 3.0 - Binary Data Formatter Hex broken"
#### System information:
- Operating system (distribution) and version (Windows 11 21H2)
- DBeaver version 22.1.0
- Additional extensions

#### Connection specification:
- Database name and version MariaDB 10.9.1
- Driver name MariaDB Connector/J 3.0 (3.0.3, 3.0.4, 3.0.5)
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:
Setting Binary Format to He

[2022-06-21 06:35] LonwoLonwo commented on #16841
Hello @Ndysa

Can you please check your connection view?
If it is custom, can you please set it to "Advanced"?

![2022-06-01 10_54_57-](https://user-images.githubusercontent.com/45152336/171355832-9a73052d-340b-49b5-858d-86d5ba2af074.png)

[2022-06-21 06:36] LonwoLonwo commented on #16841
Maybe it's connected to https://github.com/dbeaver/dbeaver/issues/16657

[2022-06-21 06:44] MM-UU commented on #16631
But that is the main reason of having SSL set up, right? To make sure you put your data into the db on the right server. The only way of being sure is to check/verify the server certificate..

[2022-06-21 09:10] IllusionaryX commented on #11097
I am having theses same issues in DBeaver v22.1, only difference I see is that I get the error "No reachable node in cluster" vs the "Custom Redis commands not supported in cluster mode" when executing GET <key>. Connection shows as fine, but same issues as listed above:

**Describe the problem you're observing:**
- Connection looks fine. When testing connection, Server information show "Redis nul

[2022-06-21 09:44] Destrolaric commented on #11097
@IllusionaryX Hi, it looks like a different issue. Is it possible to create a new issue with the mentioned information?

[2022-06-21 09:48] #14537 closed, assigned to uslss, LonwoLonwo

[2022-06-21 09:59] J4redWil opened #16850 "Results Panel Tab - Context Menu - Rename and Pin"
**Is your feature request related to a problem? Please describe.**
The need to rename and/or pin a results panel tab separately is very useful, however, when doing both actions frequently, it becomes quite cumbersome to do.

**Describe the solution you'd like**
Add an extra right-click context menu option on the Results panel tabs: **Rename and Pin**
I would find an additional option to do both th

[2022-06-21 10:28] emironovDB commented on #16762
Hello, @dczarny !
Thanks for your request.

We already support SSO in our PRO-version app.
I mean this application [Ultimate Edition](https://dbeaver.com/download/ultimate/) and other paid products.
For more information about it, you can visit this [page with comparison DBeaver products](https://dbeaver.com/edition/).
We are going to add integration with Azure Active Directory too in this paid pro

[2022-06-21 12:06] fm89 opened #16852 "Cannot establish tunnel to Ubuntu 22.04 server"
#### System information: Version

- Microsoft Windows 10 Pro (10.0.18363 Build 18363)
- DBeaver 22.1.0.202206051253 (June 6, 2022)
- No additional extension

#### Connection specification:
- Database : PostgreSQL 14.3
- Driver : org.postgresql:postgresql:RELEASE 42.2.5
- SSH Tunnel used

#### Describe the problem you're observing:

I (try to) use an SSH Tunnel but I cannot make it work. When I cli

[2022-06-21 12:17] luispoliveira commented on #16759
Getting the same issue.
Running on macOS Monterey
DBeaver version: 22.1.0

![Captura de ecrã 2022-06-21, às 13 15 59](https://user-images.githubusercontent.com/25667635/174796964-f93ed84c-cd2b-4469-b4e6-507ec3b7f7c8.png)

[2022-06-21 13:50] dczarny commented on #16762
Thank you. I was just following aws documentation, and didn't see that. I appreciate the response.

Thank you,
Derek Czarny
________________________________
From: Eugene Mironov ***@***.***>
Sent: Tuesday, June 21, 2022 5:29:05 AM
To: dbeaver/dbeaver ***@***.***>
Cc: dczarny ***@***.***>; Mention ***@***.***>
Subject: Re: [dbeaver/dbeaver] AWS Redshift single sign-on to Azure Active Directory with

[2022-06-21 15:08] IllusionaryX commented on #11097
I had just updated to v22.1 when I got the error. After a system restart that error left the building with no other changes. So no issue. Thanks for the quick response.

[2022-06-21 15:37] #13912 closed, assigned to Destrolaric, Matvey16

[2022-06-21 15:37] #15956 closed, assigned to LonwoLonwo, Matvey16

[2022-06-21 15:37] #16028 closed, assigned to LonwoLonwo, Matvey16

[2022-06-21 16:05] #16695 closed, assigned to serge-rider, uslss

[2022-06-22 06:07] JamesInform opened #16855 "Darkes Theme deletes configuration"
DBeaver 22.1 CE on Mac

With the latest version I experience that all my

- connections and
- scripts

disappear as soon as I install the darkest theme and restart DBeaver.

[2022-06-22 06:33] CarlosSysEngineer commented on #6309
Hi,

Is there any update on this? My team and I keep doing this the same way and I don't know if there's a walkaround for this already implemented on this is still an issue that needs to be addressed.

Thanks!

[2022-06-22 07:16] Matvey16 commented on #16519
@redcatbear Thank you it seems that this is reproducible on Ubuntu, but not on Pop_OS, we need to look further into this issue. This is a bug exclusive to snap package. As a workaround for now you can use any other package.

[2022-06-22 07:31] Matvey16 commented on #14944
@suhailmemon It looks like this is a bug with jdbc driver. Please open connection settings and click `Test connection`. I need to know what driver version do you have.

[2022-06-22 08:32] Destrolaric commented on #6309
@CarlosSysEngineer Already implemented, in scope of https://github.com/dbeaver/dbeaver/issues/13960, Preferences -> User Interface -> Client timezone.  in version 22.1.0

[2022-06-22 08:34] CarlosSysEngineer commented on #6309
Thanks for the fast reply!

[2022-06-22 08:53] LonwoLonwo commented on #16829
Hello @ItisDL

Thanks for the bug report.
Yes, we can't use a simple JSON value for the WHERE condition.

This ticket is close to https://github.com/dbeaver/dbeaver/issues/11704

[2022-06-22 08:58] LonwoLonwo commented on #16827
Thanks for the report @jahlbornG

[2022-06-22 09:45] Matvey16 commented on #16558
@lyndavandermerwe Can you specify at which moment you get diconnected. During query execution or some time after idle time? And also do you use the default driver or its copy?

[2022-06-22 09:52] LonwoLonwo commented on #16815
What MySQL driver are you using? Now it looks like a driver limitation.

[2022-06-22 09:55] E1izabeth commented on #16793
Hi, @mskoh! Does this problem occurred if you don't _use "Run Garbage collector" in manual_? And to be sure, what exactly do you mean by _"Run Garbage collector" in manual_?

[2022-06-22 10:06] E1izabeth commented on #16852
Hi, @fm89! Could you, please, try to switch to SSHJ in Advanced settings? Does it help?
![image](https://user-images.githubusercontent.com/28875055/175003295-4a36154b-d716-4e4d-aa60-40b52ec29b48.png)

[2022-06-22 10:14] LonwoLonwo commented on #16846
Thanks for the idea @jeacott1

[2022-06-22 10:17] Matvey16 commented on #16624
@JSKo13 Can you please check what settings do you have in date/time formatting and if disabling it will change the results. Also during the table mapping in import settings you are able to privew data, I want to look if it is different from what will be seen after the actual import

[2022-06-22 10:34] fm89 commented on #16852
Thanks for considering this report.

When I select SSHJ and click "Test Connection", I get another error : *Cannot establish tunnel / Timeout expired*.

The log file contains the following errors

[code]

[2022-06-22 10:35] E1izabeth commented on #16852
Thanks for a quick reply

[2022-06-22 10:36] fm89 commented on #16852
As a side note, to check that everything is OK on my computer and the distant server, I checked that I can connect to the database using DBeaver and a port forwarding by running the following command

[code]

Once I run this in a Windows command prompt, I can connect correctly to the distant database by making it point towards localhost:5555.

[2022-06-22 10:42] LonwoLonwo commented on #16843
Thanks for the bug report @Vigmore

[2022-06-22 10:53] lyndavandermerwe commented on #16558
Hi @Matvey16, I get disconnected during the query execution, after 5min.
If I use the tool and let it idle the session stays connected, however consistently whilst executing a query/process which takes longer than 5min it disconnects.
I created a new driver manger using the Redshift provided JDBC driver 2.1.0.7 (we require 2.1.0.4 or later) in order to utilize the Redshift native IdP integration

[2022-06-22 11:30] ghost commented on #16811
I've tried both and neither produce a list of system names for the columns.  Sorry took me so long to reply.

[2022-06-22 11:44] LonwoLonwo commented on #16847
Hello @aa-matthias

For now, I can't reproduce your issue.

Can you please provide a table DDL and sample data?
A video of the issue will also be beneficial.

[2022-06-22 11:58] sandermarechal commented on #16296
Yes :-)

[2022-06-22 11:58] #16296 closed, assigned to nobody

[2022-06-22 12:16] KE-W opened #16858 "ER diagram bug"
#### System information:
- Window 10 professional
- DBeaver 22.0.5
- Additional extensions

#### Connection specification:
- Oracle Database 19c  Enterprice Edition Release 19.0.0.0.0
- Oracle JDBC Driver 12.2.0.1.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:
Right-click to view the ER diagram can not display the comment normally, but double

[2022-06-22 12:19] E1izabeth commented on #16721
Since 22.0.2 the manage of use or not to use parameters inside $$-blocks was supposed to work via `Enable parameters in DDL and $$..$$ blocks` due to this request https://github.com/dbeaver/dbeaver/issues/15106.
But it seems that something is broken.
Thank you so much for your bug report, @WigraiTH.

[2022-06-22 12:53] LonwoLonwo commented on #16775
Ok, thanks for the report.

[2022-06-22 13:00] emironovDB commented on #14647
Hi, @glw !

Did you try to install the last version of [DBeaver 22.1.0](https://dbeaver.io/2022/06/05/dbeaver-22-1/)?

[2022-06-22 13:07] emironovDB commented on #16671
Close as duplicate of https://github.com/dbeaver/dbeaver/issues/15951 and https://github.com/dbeaver/dbeaver/issues/6814

[2022-06-22 13:07] #16671 closed, assigned to nobody

[2022-06-22 13:17] emironovDB commented on #16850
Hi, @J4redWil!

Thanks for the idea!

[2022-06-22 13:21] emironovDB commented on #16844
@GaNiziolek, hi!

Thanks for the idea!

[2022-06-22 13:24] emironovDB commented on #16840
@dennisKwone, hi!

Did you try to restart DBeaver?