[2021-09-02 13:24] flambchap commented on #12527
Thank you for your report. I'm working on it. The same problem can be observed in PostgreSQL.

[2021-09-02 13:58] kseniiaguzeeva opened #13772 "Displaying only connected databases when PostgreSQL is connected leads to expanding all its databases"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.2 EE EA

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:

1. Connect to PostgreSQL
2. Open db-db data transfer for a table
3. Open a dialog to find source container and enable showing only connected databases

**Expected**: only connected databas

[2021-09-02 14:56] ShadelessFox commented on #12966
Implemented:

![image](https://user-images.githubusercontent.com/35821147/131660018-0d7f47f2-fdac-4ac6-9685-d4c8a95a3154.png)

![image](https://user-images.githubusercontent.com/35821147/131855361-9f9f47b8-3394-40a9-b1d0-58b34d116c65.png)

[2021-09-02 15:03] sergynet opened #13773 "PostgresQL special column name conversion issues"
#### System information:
- Mac OS 11.3.1
- DBeaver 21.1.5 CE
- Java 8

#### Connection specification:
- Oracle 12.3 to Postgres 12.6
- JDBC, standard

#### Describe the problem you're observing:

1. It appears that the tool treats NAME/TYPE/ACTION/DATA attribute as keywords and puts quotes around it which makes it think the the target database does not have these fields, so data export/import proc

[2021-09-02 15:58] tran-huynh-minh-ngoc opened #13775 "Test tunnel isn't work if environment variable is used in SSH Tunnel configuration"
#### System information:
- Windows 10 (21H1)
- DBeaver 21.2.0.202108310918
- Additional extensions: None

#### Connection specification:
- Database name and version: MySQL Server 8.0
- Driver name: MySQL
- Do you use tunnels or proxies (SSH, SOCKS, etc): I use SSH

#### Describe the problem you're observing:
I set my environment variables but I can't use them in SSH Tunnel configuration in DBeaver

[2021-09-02 20:51] ShadelessFox commented on #11345
@ghYura why do we need to overcomplicate it in a such weird way? If user decided to make his live harder by swapping <kbd>true</kbd> and <kbd>false</kbd>, it's his choice.

It will only make sense if you want to share your DBeaver configuration with others. And some may not like the textual representation of booleans. For example, I prefer the image-based one.

[2021-09-02 21:30] mhandoko-fff opened #13778 "Don't sort xml attribute with auto format functionality."
Right now when working on xml string (xml data type) either through Value Panel using Auto Format or on editor (Shift + Enter) -> choose xml -> Ctrl-Shift-F for auto formatting, the xml attributes is also sorted alphabetically.

Need a way to preserve the actual data when auto formatting as there is a reason where the attribute is located in the string.

Thank you.

[2021-09-03 02:52] ReaperMantis opened #13779 "Exporting a Dbeaver Project does not retain customized / new Driver Manager entries"
#### System information:
- Windows 10 Pro 19042.1165 / Ubuntu 20.04
- DBeaver version 21.2.0
- Java version 1.8.0_271 / 15.0.2
- Additional extensions N/A

#### Connection specification:
- Database name and version: N/A
- Driver name: N/A
- Do you use tunnels or proxies (SSH, SOCKS, etc): No

#### Describe the problem you're observing:
- When exporting and importing a DBeaver project, none of the

[2021-09-03 06:15] Matvey16 opened #13784 "Athena: search field in header filter returns an error"
#### System information:
- DBeaver version 21.2.0

#### Connection specification:
- Database name and version Athena

#### Steps to reproduce, if exist:
1. Open column value filter
2. Type anything in search field

**Expected:** Values are filtered according to search
**Actual:** Error is returned

![GlHI10TrDV](https://user-images.githubusercontent.com/82543000/131959023-a0a33666-2fa1-40ce-bec7-8

[2021-09-03 06:25] ShadelessFox commented on #13773
Hello @sergynet,

I believe the issue was already solved. Please try upgrading to DBeaver 21.2.0.

[2021-09-03 07:08] ghYura commented on #11345
@ShadelessFox
1). in case if former co-worker leaves old config for company but no time to figure out whats wrong with 3rd party soft (in this case DBeaver RDBMS), that this is only option, while CI/CD
2). constant imrovement of anything (perfect code - unachievable, but worth to be aspired)
3). I agree that you prefer image-based one, other - strict boolean meaning, other - decorated. If you take

[2021-09-03 07:33] ghYura commented on #11345
https://user-images.githubusercontent.com/42974628/99234979-eeb54b80-27fd-11eb-8ea5-d3908f675b6f.jpg
(You cannot indent pictograms/icons relatively to other opposite logical-bool-value inside single boolean column and colorize them while image-based, can you? Custom whitespaced **bold text** and color contrast mode DOES this for any eye while viewing thousands of them. Multiply it if you use it al

[2021-09-03 07:33] DariaMarkaryan commented on #13755
There were suggestions that it is important for someone to be able to quote absolutely everything that is in the exported data. I thought that for a reason this value itself is called null-STRING and there is an option to quote ALL (absolutely all?)

[2021-09-03 08:37] ShadelessFox opened #13786 "Using path with backslashes break"
#### System information:
- Operating system (distribution) and version: **Windows 10**

#### Describe the problem you're observing:
On Windows, path is separated using backslashes. Our shell parser treats backslash as escape. Probably we should disable this behavior on Windows.

#### Steps to reproduce:
1. Add shell command containing backslashes: `C:\Windows\notepad.exe`
2. Trigger it

![image](h

[2021-09-03 08:43] amisano opened #13787 "Sql server jdbc name in \plugis directory od the product installation"
good morning
This is not an issue is only an informations because I have some other problems
What is the name of the .jar file used to connect to a sql server  2008 R2 ?
The exact name of the file in the directory C:\Program Files\DBeaver\plugins
Many and many thanks

[2021-09-03 09:27] liyk-dev opened #13790 "Caused by: java.lang.ClassNotFoundException: org.jkiss.dbeaver.ui.app.standalone.DBeaverApplication"
#### System information:
- Windows10 x86*64
- DBeaver 21.2.0
- eclipse rcp 202103

#### Describe the problem you're observing:
i use eclipse run dbeaver source code is not work, org.jkiss.dbeaver.ui.app.standalone was unable to load class org.jkiss.dbeaver.ui.app.standalone.DBeaverApplication.

#### Include any warning/errors/backtraces from the logs

!SESSION 2021-09-03 17:22:41.543 -------------

[2021-09-03 09:32] flambchap commented on #13766
Duplicate of https://github.com/dbeaver/dbeaver/issues/12143.

[2021-09-03 09:32] #13766 closed, assigned to flambchap

[2021-09-03 09:44] ShadelessFox commented on #11345
Okay, I get it now. We'll see what we can do. Unfortunately, it's impossible to handle every case (e.g. your team speaks in other language and words for `true` and `false` are different, we don't want to involve translation API for that, of course).

You can't colorize image-based checkboxes, it's true. As of now, it's true for text-based checkboxes too. It's possible to allow colorization for ima

[2021-09-03 09:49] ShadelessFox commented on #13790
Hello @liyk-dev,

Something is wrong with your development environment.

Please refer to our technical documentation:
https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse

[2021-09-03 09:56] flambchap commented on #12527
Duplicate of https://github.com/dbeaver/dbeaver/issues/12143.

[2021-09-03 09:56] #12527 closed, assigned to flambchap

[2021-09-03 10:02] ghYura commented on #11345
and INDENTATION!
Believe me, I want to improve DBeaver and make it better for everyone as for myself, not less than any of you, team!
Best regards! :)

[2021-09-03 11:03] uslss commented on #13775
@tran-huynh-minh-ngoc Did you try to restart dbeaver after you set environment variables?

[2021-09-03 11:04] tran-huynh-minh-ngoc commented on #13775
I even restarted my computer but the problem still there.

[2021-09-03 11:06] danielbornt opened #13792 "Issue installing Dbeaver plugins"
System: Windows 10  - 1909
Machine: ThinkPad P54 w/ 32g of Ram

Dbeaver Version: Dbeaver Community Version 21.2.0.202108310918

Issue: Just installed the Darkest Dark Theme plugin fine but when I try to install any theme from dbeaver.io I get this error message:

Unable to read repository at http://dbeaver.io/update/office/latest/content.xml.
Unable to read repository at http://dbeaver.io/update/o

[2021-09-03 11:08] serge-rider commented on #13792
Try https prefix (http protocol is no longer supported).

[2021-09-03 11:15] uslss commented on #13787
You could find which driver you use in Connection Properties - Edit Driver Settings - Libraries tab
![image](https://user-images.githubusercontent.com/31996417/131996892-0a8773f5-79ea-4a8a-b63f-c3c696d7ecc0.png)

[2021-09-03 11:23] danielbornt commented on #13792
Made the change  and got the same thing.
![2021-09-03 07_22_07-DBeaver 21 2 0](https://user-images.githubusercontent.com/8417449/131997766-9e6b8bc4-f29f-407c-819b-2be5cba2904a.png)

[2021-09-03 11:34] uslss commented on #13775
@tran-huynh-minh-ngoc Could you try to use created SSH profile (even if Test Tunnel fails) to connect to db?

[2021-09-03 11:45] DariaMarkaryan commented on #13786
Verified

[2021-09-03 11:45] #13786 closed, assigned to ShadelessFox, DariyaFedorova

[2021-09-03 11:58] tran-huynh-minh-ngoc commented on #13775
@uslss It works, Thank you! It's strange that the test functionality fails.

[2021-09-03 12:02] uslss commented on #13775
thanks for the report

[2021-09-03 12:03] uslss commented on #13770
#13747

[2021-09-03 12:23] Engensmax opened #13793 "Cannot connect to SqLite due to "No native library found for os.name=Windows, os.arch=x86_64""
#### System information:
- Windows 10 Enterprise Version 1909
- DBeaver Community version 21.2.0
- Additional extensions sqlite-jdbc-3.36.0.3.jar

#### Connection specification:
- Sqlite 3.36.0 (newest)
- sqlite-jdbc-3.36.0.3.jar
- no tunnels or proxies

#### Describe the problem you're observing:
I installed the sqlite-driver through the standard route and get the following error when I try to co

[2021-09-03 13:29] Cris70 commented on #13770
I'm sorry @uslss I don't think I get what you're saying.
Why did you mention my other issue?
They are two different things, otherwise I would have simply added a comment to the other issue.
Would you mind elaborating?

[2021-09-03 13:48] uslss commented on #13770
The issues were linked due to their relation to db2 z/os.
unfortunately, we've got no env to test and investigate the issue.
Probably, you could check possible causes for this error
https://www.ibm.com/docs/en/db2-for-zos/11?topic=sec-440

[2021-09-03 14:01] Cris70 commented on #13770
Thank you @uslss
I believe -440 is not the real error, as QMF can correctly invoke the stored procedure with the exact same call.
Is there something peculiar in the way DBeaver invokes the stored procedure?
If you need a tester on z/OS I am available.

[2021-09-03 14:01] #13747 closed, assigned to nobody

[2021-09-03 14:12] uslss commented on #13558
probably you should try to change authenticator to externalbrowser (#3902)
https://docs.snowflake.com/en/user-guide/jdbc-configure.html

[2021-09-03 14:13] uslss commented on #13646
@tony352 sorry for the late response.
How did you install dbeaver (msi installer or from the MS Store)?

[2021-09-03 14:28] uslss commented on #13654
@spassignat usually this error appears if URL is incorrect.
https://docs.progress.com/bundle/datadirect-connect-jdbc-51/page/Connection-URL_9.html

[2021-09-03 14:31] uslss commented on #13666
@alfath3724 sorry for the late response.
which locale and language are used in your OS?

[2021-09-03 14:51] uslss commented on #13667
Unfortunately, translation to non-English languages can be not full, they were made by our contributors.
UI language issue will be resolved in the scope of #12771 .
Close this issue as a duplicate

[2021-09-03 14:51] #13667 closed, assigned to nobody

[2021-09-03 15:07] uslss commented on #13700
@binodkalathil you could use file - open file (Ctrl+O).
Does it solve your issue?

[2021-09-03 15:08] uslss commented on #11605
duplicates #9414

[2021-09-03 15:08] #11605 closed, assigned to nobody

[2021-09-03 15:09] uslss commented on #13702
thanks for the report
duplicates #10590

[2021-09-03 15:09] #13702 closed, assigned to nobody

[2021-09-03 15:11] uslss commented on #13728
thanks for the suggestion

[2021-09-03 15:17] Matvey16 commented on #13763
Verified

[2021-09-03 15:17] #13763 closed, assigned to LonwoLonwo

[2021-09-03 15:17] Matvey16 opened #13795 "Show task folders always on top"
Reopening for #13763 since it was closed for other fixes

Sorting database tasks right now mixes folders with other tasks. It would be more user friendly if folders are always shown on top.

![x5t1kYY5ca](https://user-images.githubusercontent.com/82543000/131800782-82a58ab0-c6bc-485f-9fc0-1e3b92a80ac7.gif)

[2021-09-03 15:23] spassignat commented on #13654
Please have a look at the first screen shot.
The url template specified is jdbc:datadirect: ... the one dbeaver uses is jdbc:mysql:

[2021-09-03 16:04] tony352 commented on #13646
Hi, thank you and no problem at all!

I installed DBeaver through the Microsoft Store.  It downloaded and
installed directly from there.

This is the only way I can install software due to restrictions on my
laptop (as it's a work laptop).

Thank you in advance for any thoughts you might have!

Tony

On Fri, 3 Sep 2021, 15:13 Dziyana, ***@***.***> wrote:

[2021-09-03 17:39] BlessingZondi opened #13798 "Unable to view stored procs in snowflake"
#### System information:
- Operating system (distribution) and version : Windows 10 Pro version 20H2
- DBeaver version: 21.2.0.202108310918
- Additional extensions:

#### Connection specification:
- Database name and version: Snowflake
- Driver name: Snowflake
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NO

#### Describe the problem you're observing:
-I am unable to view stored procs when c

[2021-09-04 13:38] kseniiaguzeeva opened #13799 "Table without columns is created from import task without source"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.2 EE EA

#### Steps to reproduce, if exist:

1. Create import task from xls  to new table and then delete the file
2. Run the task

**Expected:** an error appears
**Actual result**: an error appears and a new table is created without columns

https://user-images.githubusercontent.com/51405061/132096359-

[2021-09-04 20:42] LonwoLonwo commented on #13798
Hello @BlessingZondi

Please check your connection settings:

![2021-09-04 23_37_00-DBeaver 21 1 0 - _PostgreSQL - dvdrental_ Script-33](https://user-images.githubusercontent.com/45152336/132107447-cd774537-5faf-40cf-97cd-93f40e9bca51.png)

Snowflake dataSource (connection) must have Databases with schemas in Tree Viewer.
Especially in the Advanced connection view.
The custom view can have some un

[2021-09-05 12:00] ShadelessFox commented on #13076
Now you can configure how nulls should be proceeded:

![image](https://user-images.githubusercontent.com/35821147/132125945-806df482-7286-441f-a8a3-b9ab075d53a2.png)

[2021-09-05 12:48] jix commented on #10701
This is already possible, but initially it wasn't clear to me either. Since I found this issue long before I found the solution, I'll post my solution here:

* Create a PostgreSQL connection, then in the "Main" tab of the connection settings:
  * Enter `/{database}?socketFactoryArg=/var/run/postgresql/.s.PGSQL.5432&socketFactory=org.newsclub.net.unix.socketfactory.PostgresqlAFUNIXSocketFactory&ign

[2021-09-05 14:03] flambchap commented on #12143
FIxed.

[2021-09-05 14:15] LonwoLonwo commented on #13080
Fixed.

[2021-09-05 15:12] LonwoLonwo commented on #8668
Can't reproduce in DBeaver 21.2.0

We have some enhancements for numeric columns mapping. And I think, it helps.

![2021-09-05 18_10_02-Map columns of NEWTABLE](https://user-images.githubusercontent.com/45152336/132131791-98028717-fd6c-4ee3-b156-5c0603a90e7e.png)

So, I'm closing this ticket. If the problem appears again - feel free to reopen it.

[2021-09-05 15:12] #8668 closed

[2021-09-05 16:09] LonwoLonwo commented on #7182
Helpful link: https://www.h2database.com/html/commands.html#alter_table_alter_column

[2021-09-05 16:41] logicalup commented on #5845
Still getting this issue in Version 21.2.0.202108291732. Using SSHJ works perfectly, but the problem is user has to install SSHJ after every update, which is very frequent. Please add SSHJ as a built in option.

Logs if that matters (private key works perfectly wish SSHJ and/or terminal ssh commands):
[code]

[2021-09-05 17:29] ShadelessFox commented on #5845
Hello @DevJackSmith,

What's the format of your private key? Just provide the very first line from key file, it would be enough.

[2021-09-05 18:07] logicalup commented on #5845
@ShadelessFox it is `-----BEGIN OPENSSH PRIVATE KEY-----`
I tried running the `ssh-keygen -p -m PEM -f ~/.ssh/id_rsa` on it, and it didn't do anything, here's the output when i run that command:
[code]

More info on the key: `ssh-keygen -l -f` returns:
`256 SHA256:...<edited>... (ED25519)`

[2021-09-05 18:24] ShadelessFox commented on #5845
Thanks for the information, @DevJackSmith.

Looks like your `ssh-keygen` just converted key to the same format as it was before.

To keep the issue tracked, please create a separate ticket on our board.

[2021-09-05 18:42] logicalup opened #13801 "DBeaver doesn't work with OpenSSH keys"
#### System information:
- Operating system (distribution) and version: MacOs 11.5.2
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version:
- Driver name: JSCH
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : SSH

#### Describe the problem you're observing:
When using ED25519 Open SSH key, the default JSCH errors out with message "Invalid key". C

[2021-09-05 18:45] logicalup commented on #13801
Continuing from #5845
the current workaround and solution of using the ssh-keygen to convert openssh key to rsa key doesn't work because it doesn't convert elliptical keys like ED25519 which is one of the standard/recommended type of keys now.
(Example Gitlab recommendation of ED25519 keys: https://docs.gitlab.com/ee/ssh/index.html#ed25519-ssh-keys)

**Workaround**
Install SSHJ (and reinstall it e

[2021-09-05 18:46] logicalup commented on #13801
@ShadelessFox please add if i missed anything.

[2021-09-05 22:32] JeroenNienhuis opened #13802 "vertical scrollbar and resize grip for expanded filter panel"
It is possible to expand the filter panel from single to 5 lines. Is it possible to add a resize grip to show more than 5 lines and a vertical scroll bar?

[2021-09-06 02:30] liyk-dev commented on #13790
still no work， I use the following button to debug，but the message is missing packages.
<img width="803" alt="capture_20210906102135402" src="https://user-images.githubusercontent.com/16267209/132151664-8754e991-05a9-4fb8-8a06-d47a068180d7.png">
After I added the package to the Contents TAB, I didn't notice that the package was missing, but the program failed.
<img width="793" alt="capture_2021090

[2021-09-06 06:40] ShadelessFox commented on #13790
Have you installed software from our repo http://dbeaver.io/eclipse-repo/? Looks like you're missing dependencies.

[2021-09-06 06:40] BlessingZondi commented on #13798
Good day @LonwoLonwo

Thank you for your prompted response and assisting by pointing to the right direction.
It is sorted now, thank you.

Regards,

[2021-09-06 06:40] BlessingZondi commented on #13798
Issure has been resolved.

[2021-09-06 06:40] #13798 closed, assigned to nobody

[2021-09-06 08:08] Matvey16 commented on #13771
Content viewer rests after Dbeaver restart

[2021-09-06 08:42] uslss commented on #13080
verified

[2021-09-06 08:42] #13080 closed, assigned to uslss, LonwoLonwo

[2021-09-06 08:43] Matvey16 commented on #13406
Can't delete a comment for a foreign table

![aXUuyouxp8](https://user-images.githubusercontent.com/82543000/132187774-f0df80c0-eed9-47d8-93b3-02d77968848f.gif)

[2021-09-06 08:47] uslss commented on #13652
verified

[2021-09-06 08:47] #13652 closed, assigned to uslss, ShadelessFox

[2021-09-06 08:59] uslss commented on #12813
verified

[2021-09-06 08:59] #12813 closed, assigned to uslss, ShadelessFox

[2021-09-06 09:13] uslss opened #13804 "Composite Type values cannot be added via UI"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.1

#### Connection specification:
- Database name and version postgresql

#### Describe the problem you're observing:
Composite Type values cannot be changed via UI
1. Create a table with composite type column
[code]
2. Disable Show Complex column structure option
3. Try to add new element to compos

[2021-09-06 09:13] uslss commented on #13368
verified

[2021-09-06 09:13] #13368 closed, assigned to uslss, ShadelessFox

[2021-09-06 09:18] conrad96 commented on #9307
snap    2.51.4
snapd   2.51.4
series  16
ubuntu  20.04
kernel  5.11.0-27-generic

It hasn't worked for me. do i need to reinstall at this point ?

[2021-09-06 09:45] Matvey16 commented on #13751
Verified

[2021-09-06 09:45] #13751 closed, assigned to serge-rider, Matvey16

[2021-09-06 10:00] uslss commented on #13432
verified

[2021-09-06 10:00] #13432 closed, assigned to uslss, ShadelessFox

[2021-09-06 10:05] Matvey16 commented on #13406
Verified

[2021-09-06 10:05] #13406 closed, assigned to LonwoLonwo, Matvey16

[2021-09-06 10:11] Matvey16 opened #13805 "Comment for foreign table can't be deleted"
As a continuation of #13406

#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.0

#### Connection specification:
- Database name and version PostgreSQL 12

#### Steps to reproduce, if exist:
1. Create a foreign table with a comment
2. Erase a comment through the UI
3. Save changes

**Expected:** Comment is deleted
**Actual result:** Error is return

[2021-09-06 10:15] ghYura commented on #11345
BTW, pictogram/icon could(?) be colorized from the start and not squared, but rectangled (stretched horizontally) as bool-depicture from the start where 'true'-sign situated more to one side of the rectangled pictogram, and 'false'-sign - to another, what satisfies each to other indentation and color. NULL-values somehow placed between their 'true-null-false' positions. But very own customization

[2021-09-06 10:19] uslss commented on #12966
verified

[2021-09-06 10:19] #12966 closed, assigned to uslss, ShadelessFox

[2021-09-06 10:22] uslss commented on #11850
verified

[2021-09-06 10:22] #11850 closed, assigned to uslss, ShadelessFox

[2021-09-06 10:37] Matvey16 commented on #13133
@sravikrishna3 Hello, if it is possible, I would like to ask you to verify if this was fixed for you
You can download Early access version here https://dbeaver.io/files/ea/

[2021-09-06 10:56] sravikrishna3 commented on #13133
Are we talking about version 21.2.0.  It still shows the same error. Screenshot attached

<img width="1280" alt="Screen Shot 2021-09-06 at 6 54 55 AM" src="https://user-images.githubusercontent.com/44801660/132206892-183ab434-82d8-443c-b4e0-d11a06246416.png">

[2021-09-06 11:24] Matvey16 commented on #13503
@KarthikDulam Yes, actually the only possible way to do this is either manually copying the whole project or by making a repository and using the git extension.

[2021-09-06 11:42] Matvey16 commented on #13646
@tony352 Hello, I'm guessing you are clicking `look for an app in a Microsoft store` button. If so than it happens because the Store searches for an sql keyword, which we don't have for some reason. You can manually search for DBeaver on that page and pick it as a default app.

Also we need to add a keyword to our page on Microsoft store so Dbeaver would be visible as an option to be default for `

[2021-09-06 11:58] Matvey16 commented on #13133
@sravikrishna3 It is not fixed in 21.2.0, but is scheduled to be in 21.2.1. You can download the latest build that includes this fix on our early access page https://dbeaver.io/files/ea/

[2021-09-06 12:33] Matvey16 commented on #13678
If I understood it correctly it is about a MySQL plugin for both relational and document models that may not be supported by Dbeaver right now. If it is correct, it will be a good idea to implement it's support.
https://dev.mysql.com/doc/dev/mysql-server/8.0.21/mysqlx_protocol.html

[2021-09-06 12:38] ShadelessFox commented on #13793
Hello @Engensmax,

Looks like you can't access Maven website.

Please refer to our wiki page about proxy configuration:
https://github.com/dbeaver/dbeaver/wiki/Proxy-configuration#how-to-configure-a-proxy-for-drivers-download

[2021-09-06 12:40] ShadelessFox commented on #13802
Hello @JeroenNienhuis,

As of now, it's not possible to resize filter panel.

Thanks for feature request.

[2021-09-06 12:40] sravikrishna3 commented on #13133
Indeed it has been fixed.  SS attached.
<img width="1280" alt="Screen Shot 2021-09-06 at 8 40 12 AM" src="https://user-images.githubusercontent.com/44801660/132219033-1a44b1b1-94f9-4edb-b777-b5d5d6649bc0.png">

[2021-09-06 12:45] #13133 closed, assigned to ShadelessFox

[2021-09-06 12:47] tony352 commented on #13646
Thank you for letting me know!

Yes, that's right--I just checked and see what you mean re the search on
the MS Store.  It searches for "sql", but I don't see DBeaver on the list
of apps on that page.  If I try to search for "DBeaver", then it does an
overall search through the store and gives me an option to "Launch" the
app.  However, it doesn't give m.e a way to set it as a default app.

If you

[2021-09-06 13:11] flambchap opened #13811 "Metadata search in comments does not work the first time you open the corresponding dialog"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.2.0 UE

#### Steps to reproduce, if exist:
1. Open Search -> DB Metadata dialog
2. Set 'Search in comments' checkbox
3. Search for something. Search in comments won't be performed.

[2021-09-06 13:17] Matvey16 commented on #13646
@tony352 you can try setting Dbeaver as default with this setting

![ApplicationFrameHost_otGAcdl6Ms](https://user-images.githubusercontent.com/82543000/132223277-8439153e-7e24-4d49-9365-e017c64245b8.png)

[2021-09-06 13:22] Matvey16 commented on #13484
This is another issue. It concerns the timestamp formatting for columns without a timezone. The option to change timezone also changes the formatting of second's fractions after the point, while it should only change the displayed hours (plus the timezone value if it is enabled in the custom formatting)

[2021-09-06 13:40] Matvey16 commented on #13689
@Nk54 Thank you for the report, we will work on it.

[2021-09-06 13:48] tony352 commented on #13646
Hi, I just tried this but DBeaver doesn't appear in the list of apps,
unfortunately.

Best regards,

Tony

On Mon, 6 Sept 2021 at 14:17, Matvey16 ***@***.***> wrote:

[2021-09-06 14:06] Matvey16 commented on #13698
@zhaopinglu Can you specify what is the issue here. I was able to successfully export this table to sql script and then inserted exact same clob into a table.

[2021-09-06 14:50] sravikrishna3 commented on #13133
Thanks.

[2021-09-06 18:15] mohsenomidi commented on #13678
Yap, thats it.
this is new feature implemented in driver 8, I currently using it in my c++ application, while testing Mysql sever with dbeaver it doesn't connect.
in new environments (specially in my working server) the x protocol is supported and old port is not configured, I tried to connect via x protocol to Mysql with dbeaver it fails, it is great to support this new driver feature in the dbea

[2021-09-06 23:56] deepaksenthilkumar opened #13816 "Number of rows is not updated after querying an empty table if a non-empty table was queried before it"
Database: Redshift

DBeaver version: Version 21.2.0.202108291732

Run the following queries and check the rows.
SELECT 1
![image](https://user-images.githubusercontent.com/36084950/132266413-2b64904c-9bcf-4ee1-a93e-236425470f06.png)

SELECT 1 WHERE false
![image](https://user-images.githubusercontent.com/36084950/132266475-a0422bd9-e7e7-40cc-aec8-600587dc0bfc.png)

[2021-09-07 05:02] Kokolokoli commented on #12668
In my case the file was located at /etc/java11-openjdk/security/java.security. The fix - removing TLSv1 and TLSv1.1 from jdk.tls.disabledAlgorithms -  worked!

DBeaver version: 21.1.5
OS: Arch Linux 5.13.13

[2021-09-07 06:12] Engensmax commented on #13793
Hi  @ShadelessFox ,

Yes, this was an initial issue (as is visible in the log). However, I was able to download the driver and even tested out multiple versions:
![image](https://user-images.githubusercontent.com/17222357/132292515-a2d637bf-18cc-4585-ab9f-da31c481f8c4.png)

[2021-09-07 06:57] Matvey16 commented on #9414
@MeboGit @andrew-dixon @phildebrand @atjshop @Tekka90
Ok, it looks like I found where this issue can be. It still was not reproducible for me, but I noticed that after you edit custom key binds for `Line start` and `Line end` as HOME/END those bindings are still present for `Text start` and `Text end` which doesn't actually make sense. So as temporary workaround you need to manually disable or cha

[2021-09-07 07:00] BERRELION opened #13817 "SQL editor result tab action buttons disabled after database reconnect/invalidate"
After a reconnect/invalidate of a connection (or just a refresh of the database/table), the action buttons (**Save**, **Cancel**, **Script**) of the query result pane are disabled, any modification applied on the result tab cannot be saved or canceled.

_This issue sometimes affects the other action buttons; not only Save, Cancel, Script._

The image below illustrates the buttons being disabled af

[2021-09-07 07:07] Matvey16 commented on #13490
@mleehayes Thank you for the investigation

[2021-09-07 07:10] andrew-dixon commented on #9414
@Matvey16 I noticed that as well when I was looking as to why it wasn't working and disabled them but it makes no difference.

![Screenshot 2021-09-07 at 08 09 58](https://user-images.githubusercontent.com/7441801/132300307-f7b8daa5-dae0-4552-8a19-2f8234e7e88a.png)

![Screenshot 2021-09-07 at 08 09 37](https://user-images.githubusercontent.com/7441801/132300310-84552363-016a-481a-9b6e-8642ae24e45d

[2021-09-07 07:11] analogstar opened #13818 "DynamoDB: Table name with special symbols is not quoted when filter is applied in data editor"
#### System information:
- Operating system (distribution) and version: macOS Big Sur 11.5.2
- DBeaver version: 21.2.0.202109061154
- Additional extensions

#### Connection specification:
- Database name and version: Amazon DynamoDB
- Driver name: DynamoDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

"Encountered unexpected token" Error when t

[2021-09-07 07:37] netdragonboberb commented on #11939
#5751 can be reproduced without a NUL character. There seems to be a limit on the num chars of a copy for a text (JSON) field. DBeaver also sits for a very long time when doing any operations on the cell, such as clicking Edit or Copy or even the first time right-clicking. Lots of  "dbeaver is not responding" dialogs and having to hit "Wait".

OS: Linux. Fedora 33, postgresql 11, no tunnel, dbeave

[2021-09-07 07:57] Matvey16 commented on #9414
@andrew-dixon even with those disabled after some time HOME button brings a caret to a start of the document?

[2021-09-07 08:13] andrew-dixon commented on #9414
@Matvey16 Yes, if I leave DBeaver open, which I tend to do most of the time as I come back to it often to do something in the DB, it will start going to the start/end of the document instead of start and end of the line. There doesn't seem to be anything in particular you have to do to get it to do it, it only seems to be related to "time" and maybe switching windows, e.g. going to a different app

[2021-09-07 08:24] Matvey16 commented on #13817
What DBeaver version are you using? It looks like a bug that was fixed in 21.2.0

[2021-09-07 08:27] BERRELION commented on #13817
Dbeaver v21.2.0 .... still having the issue

Version screenshots below
![image](https://user-images.githubusercontent.com/87428742/132311352-66bd34c6-4c4d-43bb-a4d6-84ca5bcef258.png)
![image](https://user-images.githubusercontent.com/87428742/132311310-1b79b63e-16d6-413e-88be-62b70e13e24d.png)

[2021-09-07 08:27] serge-rider opened #13820 "Redshift drivers: upgrade driver to 2.x and switch to Maven repository"
Also we need to be able to force optional Maven dependencies load. Redshift driver has all AWS SDK deps as optional.

[2021-09-07 08:32] adbarbosa commented on #8447
I have the same problem.
when i run `sudo apt upgrade` the output is the following:
The following packages will be DOWNGRADED:
dbeaver-ce
0 upgraded, 0 newly installed, 1 downgraded, 0 to remove and 0 not upgraded.
Need to get 0 B/93,7 MB of archives.

I am runing Pop!_OS 21.04 x86_64

[2021-09-07 08:34] ShadelessFox commented on #13793
Do you use bundled JRE or the system one? If latter, what's the version of installed Java?

[2021-09-07 08:57] Matvey16 commented on #13817
@BERRELION It looks like your version is earlier than the latest release version. Can you try this against the latest version from https://dbeaver.io/download/

[2021-09-07 09:14] EdgHidden commented on #13474
Hello,

I'm having the same issue with data import into postgresql.

OS - Windows 10
Connection - PostgreSQL 13.1, compiled by Visual C++ build 1914, 64-bit (on the same device)

Issue is reproducible for both DBeaver CE and EE.

DBeaver version 21.0.0.202103080721 - OK
DBeaver version 21.1x and above - NOK

File .csv with 242k rows import times:

version 21.0.0.202103080721 - 4.8 sec
version 21.2

[2021-09-07 09:32] sandnima opened #13821 "UI font in tab titles issue in Windows"
#### System information:
- Operating system (distribution) and version: Windows x64
- DBeaver version: 21.2.0.202108310918

#### I just faced this corrupted tab title fonts when I installed DBeaver for the first time
![tempsnip](https://user-images.githubusercontent.com/46921550/132321580-c4cc2d9d-dcc0-4402-91d2-3c7a35522ed2.jpg)

[2021-09-07 09:48] ShadelessFox commented on #10143
Hello @jonathanvases,

It works as expected. `CREATE PACKAGE` does not report compilation errors, nor does `ALTER PACKAGE ... COMPILE`.

The only way is to check `SYS.ALL_ERRORS`, what we do when you hit <kbd>Compile</kbd> button.

[2021-09-07 09:53] serge-rider commented on #13484
@Matvey16 can't reproduce. Please post video or examples of formatting with and without explicit timezone.
Also please write timestamp format pattern you use.

[2021-09-07 10:10] flambchap commented on #13811
Fixed.

[2021-09-07 10:25] Matvey16 commented on #13484
![Il8QqyY0zs](https://user-images.githubusercontent.com/82543000/132329449-a131f8fa-b447-4fc0-9e74-26f2b5f970a1.gif)

[2021-09-07 10:31] BERRELION commented on #13817
@Matvey16 Installed the latest dbeaver release version proposed on official download page.
![image](https://user-images.githubusercontent.com/87428742/132330460-dd2286da-f891-4fb1-962c-870dac0229d6.png)

The bug still presists. In the GIF below I illustrate the issue (along with the temporary fix I use) after invalidating my database connection.

![bug_presisting](https://user-images.githubusercon

[2021-09-07 12:27] Matvey16 commented on #13817
@BERRELION Thank you for the report, I reproduced it. We will work on that.

[2021-09-07 12:28] BERRELION commented on #13817
Awesome 👍

[2021-09-07 12:41] uslss commented on #13821
duplicates #13666

[2021-09-07 12:42] uslss commented on #13821
@sandnima what locale and language are used in your OS?

[2021-09-07 12:54] sandnima commented on #13821
Windows display language is English (US)
System locale is English (US)
Region was Iran when installed, I changed to US (not fixed)
Also my msn feed language is set to German (if it matters)

[2021-09-07 12:55] uslss commented on #13820
verified

[2021-09-07 12:55] #13820 closed, assigned to serge-rider, uslss

[2021-09-07 13:00] uslss commented on #13821
Did you try to reset UI settings and workspace state? (Main menu: File - Reset UI settings / Reset Workspace State)
Does this issue appear after the update to 21.2.0 only?

[2021-09-07 13:19] flambchap commented on #12143
Still doesn't work on PostgreSQL.

[2021-09-07 13:38] Matvey16 commented on #13771
Verified

[2021-09-07 13:38] #13771 closed, assigned to ShadelessFox, Matvey16

[2021-09-07 13:38] fjf2002 opened #13824 "custom line separator for SQL editor"
**Is your feature request related to a problem? Please describe.**
I would like to configure the SQL editor line separator to LF, even when using DBeaver on Micro$oft Windoze.

**Describe the solution you'd like**
Line sepatator could be configurable through Preferences.

**Describe alternatives you've considered**
Both `SET JAVA_TOOL_OPTIONS="-Dline.separator=\n"` or adding such line into dbeaver

[2021-09-07 13:49] gksmfqorcjs opened #13825 "select query was garbled."
#### System information:
- Operating system (distribution) and version
- windows10
-
- DBeaver version
- dbeaver-ce-21.0.2-win32.win32.x86_64
- dbeaver.ini file add line
- Dfile.encoding=UTF-8

- Additional extensions

#### Connection specification:
- Database name and version
- mariadb 10.1.13
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're obser

[2021-09-07 13:51] sandnima commented on #13821
I reinstalled version 21.2.0 and didnt fixed
I installed version 21.1.5 and 21.0.5 too, they have the same issue

[2021-09-07 13:52] ShadelessFox commented on #13824
Hello @fjf2002,

You can configure line delimiter in preferences:

![java_ixTA2lvMuz](https://user-images.githubusercontent.com/35821147/132355974-44fc11ee-66d8-4c6d-a2d5-9fbe36ae919d.png)

[2021-09-07 13:53] #13824 closed, assigned to nobody

[2021-09-07 13:57] ShadelessFox commented on #13825
Hello @gksmfqorcjs,

Please provide more information.

* What happens when you change max fetch size?
* Does it happen when you manually perform select?

It's not encoding problem, by some reason strings turned into hexadecimal representation.

[2021-09-07 15:36] abemedia commented on #9976
Latest version doing the same... Right-click & open worked though...

[2021-09-07 15:38] LonwoLonwo commented on #13699
Fixed in DBeaver 21.2.1

[2021-09-07 15:52] DavidBraslow commented on #13569
I think this relates to https://github.com/dbeaver/dbeaver/issues/11196

[2021-09-08 01:54] PENGCHENGLIN007 commented on #12354
OK,I will try it.

[2021-09-08 03:19] serge-rider commented on #13646
New DBeaver CE release associates with .sql files by default.

[2021-09-08 03:39] Thenujan-0 commented on #9307
worked for me in manjaro

[2021-09-08 05:33] williambuchanan2 opened #13827 "Unable to create stored procs"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: Version 21.2.0.202108310918
- Additional extensions

#### Connection specification:
- Database name and version: SQL Server
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

Often run into problems when executing certain SQL. A common

[2021-09-08 06:04] Matvey16 commented on #13646
Verified

[2021-09-08 06:04] #13646 closed, assigned to serge-rider, Matvey16

[2021-09-08 06:24] serge-rider commented on #13484
This is how new Java time formatter works. It renders pattern `f` or `n` (nanoseconds) as 9-digit value. Explicit timezone forces new time formatter usage.
In order to show less digits for nanoseconds use `S` pattern. E.g. `SSSS`.

[2021-09-08 06:26] Engensmax commented on #13793
I use bundled JRE, installed with dbeaver. I tried adding "...\dbeaver\jre\bin" to Path, which didn't help.
(JAVA_VERSION="11.0.11")

![image](https://user-images.githubusercontent.com/17222357/132457020-917906c0-1679-47d9-a7e3-fbe9c39aabe9.png)

[2021-09-08 06:42] davidoff2500 opened #13828 "altibase for query plan."
**Is your feature request related to a problem? Please describe.**
The company is required to submit an associated query execution plan when adding columns and creating tables.
Altibase has the hassle of entering the server directly and performing it, and I hope this tool shows it through the plan window.

**Describe the solution you'd like**
When running like an orange tool, I hope that the plan

[2021-09-08 06:56] Matvey16 commented on #13811
Verified

[2021-09-08 06:56] #13811 closed, assigned to flambchap, Matvey16

[2021-09-08 07:16] serge-rider commented on #13599
<kbd>Enter</kbd> key must work now

[2021-09-08 07:18] cies commented on #2334
On DBeaver 21.1.3 (Linux) I did this: in `Window > Preferences > Editors > Data Editor > Data Formats` check the box for "Disable numeric formatting"

[2021-09-08 07:38] p91paul commented on #13827
you sure that ; before "with" is ok? it surely is in an awkward spot

[2021-09-08 07:42] #13484 closed, assigned to serge-rider, Matvey16

[2021-09-08 08:02] williambuchanan2 commented on #13827
Lol. Hey I didn't write the code, but it is valid! Runs ok in SSMS...

[2021-09-08 08:24] Matvey16 commented on #13599
Verified

[2021-09-08 08:24] #13599 closed, assigned to serge-rider, Matvey16

[2021-09-08 08:28] detkliff commented on #8303
problem is actual on 21.2.0 version. User disconnected form the server, but metadata transaction idle or idle in transaction in stat_activity list. And this transaction blocked DDL.

[2021-09-08 08:39] ShadelessFox commented on #13793
SQLite native libraries are located inside driver's jar file.

Have you tried launching DBeaver as administrator?

[2021-09-08 08:43] p91paul commented on #13827
How did you run it in DBeaver? did you select the whole statement before hitting run? DBeaver sometimes has trouble detecting statement boundaries.

[2021-09-08 08:43] uslss commented on #12933
shortcut associated with deleted target file is deleted even if user choose no in confirmation dialog
![r5G8PqnUtt](https://user-images.githubusercontent.com/31996417/132476521-c71644e3-82e9-456b-a72c-7ae56b5e8793.gif)

[2021-09-08 08:47] andrew-dixon commented on #9414
@Matvey16 I don't think this is significant, as I'm sure it has happened quicker in the past, but it's just been almost exactly 24 hours since I opened DBeaver last and the issue just started happening.

[2021-09-08 08:53] uslss commented on #13699
verified

[2021-09-08 08:53] #13699 closed, assigned to uslss, LonwoLonwo

[2021-09-08 09:00] tony352 commented on #13646
Thank you all!  I just got the updated version and it now works.  I look
forward to using this app!

Tony

On Wed, 8 Sep 2021, 07:04 Matvey16, ***@***.***> wrote:

[2021-09-08 09:08] ShadelessFox commented on #12933
This is a side-effect of dbeaver/pro#714.

[2021-09-08 09:09] Engensmax commented on #13793
Launching DBeaver as administrator does indeed solve the issue.
What could be the access that is missing when running without admin rights?

[2021-09-08 09:13] williambuchanan2 commented on #13827
No I didn't have the code selected. I just pressed ALT-x

[2021-09-08 09:21] ShadelessFox commented on #13793
I have no idea, unfortunately. We've never encountered something like this caused by the lack of permissions.

By the way, you can make DBeaver to always run as an administrator by checking <kbd>Compatibility</kbd> &rArr; <kbd>Settings</kbd> &rArr; <kbd>Run this program as administrator</kbd>.

[2021-09-08 09:32] Engensmax commented on #13793
In the Event Viewer under Microsoft/AppLocker/EXE and DLL the following Error Log was found:

"%OSDRIVE%\USERS\XW6428\APPDATA\LOCAL\TEMP\SQLITE-3.36.0.3-82ED96B2-76C7-4BC7-88B2-C76C00A79994-SQLITEJDBC.DLL was prevented from running."
[applocker_log.txt](https://github.com/dbeaver/dbeaver/files/7127712/applocker_log.txt)

Can this path be configured to be set elsewhere?

[2021-09-08 09:38] ShadelessFox commented on #13793
Nice catch. Yes, you can redefine temporary directory using `org.sqlite.tmpdir` or `java.io.tmpdir` JVM property.

[2021-09-08 09:54] Matvey16 commented on #13827
@williambuchanan2 Are you sure that this exact script runs ok in SSMS? As Paul mentioned, this semicolon looks like it is not in the correct place. I tried reproducing it and it indeed returns an error when I try to run it like that. But removing this semicolon (which looks really unnecessary here) works, and the procedure is successfully created.

[2021-09-08 10:06] Matvey16 commented on #13818
@analogstar Was the name of your table quoted in your query? I mean was it `user-info` or `"user-info"`

[2021-09-08 10:10] Matvey16 commented on #13818
@analogstar Thank you for the report. We will work on that

[2021-09-08 10:12] flambchap opened #13831 "Metadata search doesn't work for table columns in DB2"
#### System information:
- DBeaver version 21.2.0 UE

#### Connection specification:
- Database name and version DB2 Express
- Driver name DB2 LUW

#### Describe the problem you're observing:
Metadata search doesn't find table columns.

#### Steps to reproduce, if exist:
1. Open Metadata Search and try to find an existing column.

**Expected:** Object is found
**Actual:** Nothing is found

[2021-09-08 10:44] williambuchanan2 commented on #13827
Yes. Proof below.

In fact I have had a few strange problems with similar scripts to the point where I stopped using DBBeaver for things like SP's because I had just come to the conclusion it couldn't handle them. The same issue every time - throws error in DBBeaver but works fine in SSMS. This example might be a bit of a stupid one, and you are right that the semicolon is unnecessary, but it kind

[2021-09-08 10:51] Matvey16 commented on #12651
Verified

[2021-09-08 10:51] #12651 closed, assigned to flambchap, Matvey16

[2021-09-08 11:07] Matvey16 commented on #13778
@mhandoko-fff Hello. Can you provide more details? What DB are you using. It will be great if could provide an example to more specifically see what and when is being sorted.

[2021-09-08 11:24] Engensmax commented on #13793
^ Can you give me some info on how to do that?

I tried to add a folder with writing privileges to the environmental variable TMP. The sqlite-DLL-files are now saved there, but the issue is still occurring as the applocker is locking this:
%OSDRIVE%\USERS\XW6428\.ECLIPSE\ORG.JKISS.DBEAVER.PRODUCT_21.2.0_351964610_WIN32_WIN32_X86_64\CONFIGURATION\ORG.ECLIPSE.OSGI\140\0\.CP\SWT-GDIP-WIN32-4942R22.DL

[2021-09-08 11:47] ShadelessFox commented on #13793
Sure. In DBeaver's installation folder there's file named `dbeaver.ini`.

Open it and add `-Dorg.sqlite.tmpdir=<your desired path>` line **after**  `-vmargs` line, like this:

[code]

[2021-09-08 11:57] Matvey16 commented on #13821
@sandnima How are you starting DBeaver? With a desktop shortcut created during install?

[2021-09-08 12:08] uslss commented on #13283
verified

[2021-09-08 12:08] #13283 closed, assigned to uslss, ShadelessFox

[2021-09-08 12:20] Matvey16 commented on #13827
@williambuchanan2 Thank you for the response. I don't actually know why, but, as undictated by the grey color of the semicolon in  your screenshot, Microsoft studio ignores this semicolon as a statement delimiter. Dbeaver on the other hand recognizes it like so. You can actually disable this behavior in SQL Editor preferences.
We need to think what type of behavior is more expected.
![AnLpZznTNe](

[2021-09-08 12:21] uslss commented on #13076
verified

[2021-09-08 12:21] #13076 closed, assigned to uslss, ShadelessFox

[2021-09-08 12:23] uslss commented on #12933
verified

[2021-09-08 12:23] #12933 closed, assigned to uslss, ShadelessFox

[2021-09-08 12:50] inpool opened #13834 "Raise an UnsupportedOperationException when write a sql of create materialzed view"
When I write a sql as below:

[code]

Exception info:
[code]

while the session data as:
[code]

DBeaver version is 21.2.0.202108310918. I had tried the Oracle jdk and the exception remain.

[2021-09-08 12:55] tati-kru commented on #13779
Thanks for the report

[2021-09-08 12:56] gksmfqorcjs commented on #13825
What happens when you change max fetch size?
 -> If you change the petch size, the changed row is output correctly, but if you scroll down and output the data after that, the same phenomenon occurs.

Does it happen when you manually perform select?
 -> It doesn't happen when you do it passively.
For example, if you set the fetch size to 300 and scroll down to row 300, data is normally output, but

[2021-09-08 12:56] gksmfqorcjs commented on #13825
What happens when you change max fetch size?
-> If you change the petch size, the changed row is output correctly, but if you scroll down and output the data after that, the same phenomenon occurs.

Does it happen when you manually perform select?
-> It doesn't happen when you do it passively.
For example, if you set the fetch size to 300 and scroll down to row 300, data is normally output, but wh

[2021-09-08 13:06] gksmfqorcjs opened #13835 "select query was garbled. (#13825)"
System information:
Operating system (distribution) and version

windows10

DBeaver version

dbeaver-ce-21.0.2-win32.win32.x86_64

dbeaver.ini file add line

Dfile.encoding=UTF-8

Additional extensions

Connection specification:
Database name and version
mariadb 10.1.13
Driver name
Do you use tunnels or proxies (SSH, SOCKS, etc)?
Describe the problem you're observing:
Steps to reproduce, if exist:

[2021-09-08 13:09] tati-kru commented on #13827
Hello @williambuchanan2,

You can select your entire script using <kbd>Ctrl+A</kbd> and then execute it using <kbd>Ctrl+Enter</kbd>.

[2021-09-08 13:12] ShadelessFox commented on #13835
I will reopen an original issue.

[2021-09-08 13:12] #13835 closed, assigned to nobody

[2021-09-08 13:14] ShadelessFox commented on #13825
Thanks for response.

Does this happen with any other MariaDB database?

[2021-09-08 13:15] ShadelessFox commented on #13834
Hello @inpool,

Thanks for report. Is this only affects the auto-completion feature?

[2021-09-08 13:24] gksmfqorcjs commented on #13825
Local mariadb worked fine. I haven't tested it other than the local mariadb.
I verified that mysql is working properly.

[2021-09-08 13:54] THLCX opened #13836 "Cannot find client home ???"
#### System information:
- Ubuntu 20
- DBeaver version 21.2.0

#### Connection specification:
- Database name and version : MariaDb locally

#### Describe the problem you're observing:

I have a fresh install of Ubuntu 20, nothing special.
I installed mariadb (works).
When I try to use DBeaver to connect to mariadb, in localhost, local client is "not present".
I can't understand how such a basic s

[2021-09-08 14:05] flambchap commented on #12647
Implemented.

[2021-09-08 14:33] inpool commented on #13834
It is, so far. in fact, I just update from version 20.0.0 one hour ago which has no problem.

[2021-09-08 14:40] THLCX commented on #13836
Okay, solution found :
When installing from Ubuntu software manager, Ubuntu installs a snap that restrict access to /usr folder... Where client mysql is located.
Solution is a manual install.

[2021-09-08 14:57] ShadelessFox commented on #13834
Did the auto-completion feature work in this exact case before the update?

[2021-09-08 14:58] flambchap opened #13838 "Anonymous function parameters are named after their toString() value"
STR:
1. In Navigator, open some function with anonymous parameters
2. Observe that they have names like 'org.jkiss.dbeaver.ext.db2.model.DB2RoutineParm@<hex number>'.

[2021-09-08 15:09] flambchap commented on #13838
Fixed.

[2021-09-08 15:32] MarceloHoffmeister commented on #8508
This doesn't work for me

same on this. I have the usr/ directory in both paths

I'm using Kubuntu 20.04. For now i uninstall dbeaver by snap and reinstall using .deb, always work.

[2021-09-08 16:25] mhandoko-fff commented on #13778
The DB is MS SQL 2017 with xml type column. The xml stored in the table/column is basically a one long string.

![Screen Shot 2021-09-08 at 9 20 11 AM](https://user-images.githubusercontent.com/89548200/132547058-dab5021c-36e6-4e31-8be2-cf78fa630711.png)

If I format the string outside DBeaver, it will look like below (please notice the attribute next to container that it will go from containerid

[2021-09-08 16:57] sandnima commented on #13821
From Start Menu>Recently added
I also run it from program files
No difference

[2021-09-08 17:14] p91paul commented on #13827
@Matvey16 you have had similar problems with Oracle procedures many times.
Ideally, DBeaver should be able to parse the script to the point it knows that begin...end blocks are not to be split in multiple statements even if a statement delimiter is in them.
Selecting the whole statement and running it with ctrl+enter instead of alt+x is however usually a good enough workaround, but that way you ca

[2021-09-08 22:17] williambuchanan2 commented on #13827
Thanks @Matvey16 - this worked. I suspect this is what has been causing the issues for me so I have disabled this behaviour and it seems to work.

Thanks for the responses.

[2021-09-09 01:51] inpool commented on #13834
yes, it works before the update.

[2021-09-09 02:51] zherop opened #13840 "ODBC bug"
#### System information:
- windows11
- DBeaver 21.2.0

#### Connection specification:
- DaMengV8
- Driver name is  dm.jdbc.driver.DmDriver
- SSH

#### Describe the problem you're observing:
I use ODBC type to  connect DM Database，but enabling ssh does not take effect。

[2021-09-09 05:59] Matvey16 commented on #13827
@williambuchanan2 Please be aware that with this option enabled the semicolon delimeter will be ignored in all of the scripts which can cause other problems, so you need to use this feature with caution.

[2021-09-09 06:35] williambuchanan2 commented on #13827
Ok, thanks for the warning.

[2021-09-09 06:35] #13827 closed, assigned to nobody

[2021-09-09 06:55] Matvey16 commented on #12647
Filtering fails if access is denied to at least one of the databases

[2021-09-09 07:39] Engensmax commented on #13793
This worked, thank you very much.

**Note:** Full access is needed on the folder where the temporary files are placed!

**Suggestion**: This error-log was somewhat misleading. Could this be updated?

---

This is my `dbeaver.ini`-file now:
[code]

[2021-09-09 07:39] #13793 closed, assigned to nobody

[2021-09-09 08:11] Matvey16 commented on #13821
Can you check what language packs are installed on your system? You can check it in windows settings > language

[2021-09-09 08:14] ShadelessFox commented on #13793
The error shown in the error log was reported by the SQLite driver itself. We can't do anything about it.

[2021-09-09 08:31] uslss commented on #12754
verified

[2021-09-09 08:37] uslss commented on #13838
verified

[2021-09-09 08:37] #13838 closed, assigned to flambchap, uslss

[2021-09-09 08:38] uslss commented on #13836
#13608

[2021-09-09 08:52] uslss commented on #13418
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-09-09 08:52] #13418 closed, assigned to nobody

[2021-09-09 08:53] #13489 closed, assigned to nobody

[2021-09-09 08:56] uslss commented on #13523
thanks for the report. Reproducible against 2.0.0.7 driver.

[2021-09-09 08:58] #10074 closed

[2021-09-09 08:58] #13263 closed, assigned to nobody

[2021-09-09 08:59] #13307 closed, assigned to nobody

[2021-09-09 08:59] Matvey16 commented on #13029
Verified on early access versions from devel branch. Needs to be tested on release version

[2021-09-09 09:02] #13519 closed, assigned to nobody

[2021-09-09 09:04] #13787 closed, assigned to nobody

[2021-09-09 09:05] #13719 closed, assigned to nobody

[2021-09-09 09:06] #13741 closed, assigned to nobody

[2021-09-09 09:07] #13558 closed, assigned to nobody

[2021-09-09 09:23] ShadelessFox commented on #13834
We'll look into it.

[2021-09-09 09:26] ShadelessFox commented on #10972
Default|Transformed
:-:|:-:
![image](https://user-images.githubusercontent.com/35821147/132491506-dad5d622-c65e-40cd-b88f-276614ddb0ad.png)|![image](https://user-images.githubusercontent.com/35821147/132491475-ec8b33f0-548e-4557-9365-1cbc1274016a.png)

![image](https://user-images.githubusercontent.com/35821147/132491660-6ca54881-de20-4dc4-bde9-7f7c368fb6b5.png)

[2021-09-09 09:40] flambchap commented on #12143
Fixed.

[2021-09-09 09:42] flambchap commented on #13831
Fixed.

[2021-09-09 11:17] #13836 closed, assigned to nobody

[2021-09-09 11:21] uslss commented on #12467
verified

[2021-09-09 11:21] #12467 closed, assigned to uslss, LonwoLonwo

[2021-09-09 11:21] Matvey16 commented on #13704
Not sure about a use case when it must be neccessary. Can you provide some kind of example?

[2021-09-09 11:26] #12839 closed, assigned to nobody

[2021-09-09 11:27] uslss commented on #10434
seems to be obsolete

[2021-09-09 11:32] Matvey16 commented on #13828
@davidoff2500 Sorry, i'm not sure I unerstood this right.
Correct me if i'm wrong here. You want an option to execute a query and execution plan at the same time with one click?

[2021-09-09 11:45] jason1004 commented on #3605
Is it possible to execute a SQL script in multiple databases in one connection?

[2021-09-09 11:47] nejiviper opened #13855 "Edit Cell for MediumText/LongVarchar characters are not showing"
#### System information:
- Windows 10 Home 21H1
- DBeaver Version 21.2.0.202108291732

#### Connection specification:
- MySQL Ver 8.0.26 for Linux on x86_64
- MySQL Connector/J
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  Yes, tunnel

#### Describe the problem you're observing:
When trying to use Edit cell or inline edit for MEDIUMTEXT the characters are not showing

#### Steps to reproduce

[2021-09-09 11:49] uslss commented on #12737
Filter history after restart is available in EE version.
Did you try to use "Save filter settings" button?
![image](https://user-images.githubusercontent.com/31996417/132680430-959625f7-2b7a-4cb6-84c9-36c559678bb1.png)
Sorry for the late response

[2021-09-09 12:12] Philippe-M commented on #13704
For example when I export data from an Oracle database to import them into a Mariadb database.

In Oracle the field names are in upper case while in Mariadb they are in upper case. This is just to avoid going through intermediate processing to convert upper case to lower case.

[2021-09-09 12:20] Matvey16 commented on #13154
Verified

[2021-09-09 12:20] #13154 closed, assigned to ShadelessFox, Matvey16

[2021-09-09 12:22] uslss commented on #5091
existinng column cannot be altered to identity in MS SQL.
https://social.msdn.microsoft.com/Forums/sqlserver/en-US/04d69ee6-d4f5-4f8f-a115-d89f7bcbc032/how-to-alter-column-to-identity11?forum=transactsql
This option is available for newly created column only.

[2021-09-09 12:22] #5091 closed

[2021-09-09 12:25] uslss commented on #5132
not reproducible against 21.2.0

[2021-09-09 12:25] #5132 closed

[2021-09-09 12:28] uslss commented on #8376
seems to be obsolete for now
![image](https://user-images.githubusercontent.com/31996417/132685657-a2daa99d-1f69-45af-90da-bbe4d2623959.png)

[2021-09-09 12:28] #8376 closed

[2021-09-09 12:28] #5685 closed

[2021-09-09 12:32] uslss commented on #8840
still actual for 21.2.0

[2021-09-09 12:34] uslss commented on #8849
cannot reproduce it for now.
If it is still actual for you - feel free to reopen an issue

[2021-09-09 12:34] #8849 closed

[2021-09-09 12:37] uslss commented on #5027
already implemented

[2021-09-09 12:37] #5027 closed

[2021-09-09 12:42] uslss commented on #6157
For now, suggested columns aren't backquoted by default.
Seems the issue is obsolete

[2021-09-09 12:42] #6157 closed

[2021-09-09 12:47] uslss commented on #7652
already implemented

[2021-09-09 12:47] #7652 closed

[2021-09-09 12:51] Matvey16 commented on #12143
Verified

[2021-09-09 12:51] #12143 closed, assigned to flambchap, Matvey16

[2021-09-09 13:06] flambchap commented on #12647
Fixed.

[2021-09-09 13:06] flambchap commented on #13063
Fixed.

[2021-09-09 13:11] serge-rider opened #13857 "Migrate to Eclipse 2021-06"
Or Eclipse 2021-09

[2021-09-09 13:13] uslss opened #13858 "NPE appears on Rename column action at Metadata Tab"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.0

#### Describe the problem you're observing:
NPE appears on Rename column action at Metadata Tab
#### Steps to reproduce, if exist:
1. Open some table, open its properties tab
2. Choose some column
3. Choose Rename in Column context menu

#### Include any warning/errors/backtraces from the logs
[c

[2021-09-09 13:21] uslss commented on #10488
will be implemented in the scope of #13020

[2021-09-09 13:21] #10488 closed

[2021-09-09 13:22] deepaksenthilkumar commented on #13523
AFAIK-DBeaver doesn’t work on Redshift 2.x drivers.--
SD

[2021-09-09 13:26] uslss commented on #6073
seems to be obsolete. Cannot reproduce it for now.
![image](https://user-images.githubusercontent.com/31996417/132694369-3a1bca31-21ee-4635-be8e-ec3d3688a5a7.png)

[2021-09-09 13:26] #6073 closed

[2021-09-09 13:28] uslss commented on #6357
a similar feature is already implemented
https://github.com/dbeaver/dbeaver/wiki/SQL-Templates

[2021-09-09 13:28] #6357 closed

[2021-09-09 13:31] uslss commented on #3892
seems to be fixed in the scope of #12649

[2021-09-09 13:32] uslss commented on #9900
obsolete

[2021-09-09 13:32] #9900 closed

[2021-09-09 13:35] uslss commented on #9111
Seems to be fixed for now.
Proposals appear on typing.
Where is automatically sugggested on <kbd>Ctrl+Space</kbd>

[2021-09-09 13:35] #9111 closed

[2021-09-09 13:37] uslss commented on #9300
seems to be implemented in #13820

[2021-09-09 13:37] #9300 closed

[2021-09-09 14:08] Matvey16 commented on #13063
Verified

[2021-09-09 14:08] #13063 closed, assigned to flambchap, Matvey16

[2021-09-09 14:37] Matvey16 commented on #13831
Verified

[2021-09-09 14:37] #13831 closed, assigned to flambchap, Matvey16

[2021-09-09 15:20] mwon-mercato opened #13860 "Code Folding disappears after a script is saved"
Apologies if this is a known issue, I checked existing tickets and did a bunch of searches...

#### System information:
- Operating system: Windows 10 Pro Version 10.0.19043 Build 19043
- DBeaver version: 21.2.0.202108310918
- Additional extensions: None

#### Connection specification:
- Database name and version: Redshift
- Driver name: Apologies, I am not sure what this is.
- Do you use tunnels

[2021-09-09 15:22] flambchap commented on #13227
Accidentally fixed by [this](https://github.com/dbeaver/dbeaver/commit/c1a785a26bd47f5781b847a2ae469840cec15227) commit. Love this kind of stuff.

[2021-09-09 15:22] #13227 closed, assigned to flambchap

[2021-09-09 15:24] flambchap commented on #12285
Hold on, judging by the logs it is an Eclipse issue indeed.

[2021-09-09 15:36] KES777 commented on #4130
yes, this checkbox is added. But it has no matter I check it or not.
This `update version` window is not showed in any case

see attached video:

'https://user-images.githubusercontent.com/799021/132717132-82d81ad5-0cbd-49d4-8e6d-b9eb42452c17.mp4'

[2021-09-09 15:39] Lonniebiz commented on #8376
Yes, and I like this much better. Thank you.

[2021-09-09 19:56] yevon opened #13861 "Oracle package (PLSQL) functions autocomplete not working, missing or new feature?"
#### System information:
- Operating system: Windows 10
- DBeaver version: 21.2.0
- Additional extensions: Git

#### Connection specification:
- Database name and version: Oracle 19c
- Driver name: Oracle
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
Autocomplete for package functions and their parameters is not working, it just works for queri

[2021-09-10 04:34] davidoff2500 commented on #13828
similar...
display query plan next to query result tab.
so when i execute query, it show result and plan( plan can be located next to result tab...)

Please understand that misunderstanding can occur due to poor English.

thank you.

[2021-09-10 06:22] Broctune commented on #11097
Still an issue with DBeaver Enterprise v21.2.0....

[2021-09-10 08:04] DariaMarkaryan commented on #13380
Verified

[2021-09-10 08:04] #13380 closed, assigned to ShadelessFox, DariyaFedorova

[2021-09-10 08:37] Matvey16 commented on #12647
Search doesn't work

![fCsOwV139t](https://user-images.githubusercontent.com/82543000/132825651-045ee4bc-9741-449c-8188-99ae57cb4403.gif)

[2021-09-10 08:42] Matvey16 commented on #13825
Hello @gksmfqorcjs . Can you please give me a DDL for this table to try to reproduce it and understand what is actually special about it.

[2021-09-10 08:53] uslss commented on #10972
error appears if column has non-numeric symbols

![image](https://user-images.githubusercontent.com/31996417/132827936-258bfe12-9568-4c33-baea-e64f6b7f8e1e.png)

[code]

[2021-09-10 08:55] ShadelessFox commented on #10972
I believe that's the expected behavior. What'd you suggest?

[2021-09-10 09:28] itschrono opened #13863 "Optimizing metadata loading (detecting unique identifiers etc...) (mariadb)"
**Is your feature request related to a problem? Please describe.**
Way too slow query involving  INFORMATION_SCHEMA.CHECK_CONSTRAINTS and INFORMATION_SCHEMA.TABLE_CONSTRAINTS.

**Describe the solution you'd like**
The current query is:
[code]
it takes forever when having a lot of databases and tables (because I think it is reading them all on disk).
The way we could do it (I think it is equivalent

[2021-09-10 10:02] gordubal opened #13866 "current_time PostgreSQL bug"
Hello all!
#### System information:
- Operating system (distribution) and version:  Windows 7 x 64
- DBeaver version :        21.2.0.202108291732

#### Connection specification:
- Database name and version POSTGRESQL
- Driver name Postgresql
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
I write query
select current_time
and get a result on 1 hou

[2021-09-10 12:08] Matvey16 commented on #13778
@mhandoko-fff Thank you for the report

[2021-09-10 12:26] Matvey16 commented on #13866
@gordubal did you change anything in Data format settings? Also can you try running this query with time formatting disabled?
![dbeaver_NHg8AJmjK4](https://user-images.githubusercontent.com/82543000/132852971-bbad17fb-6ae4-405a-a529-489e3bc86296.png)

[2021-09-10 12:51] Matvey16 commented on #13861
@yevon I'm not quite sure about steps to reproduce this. If you type a name of the package then dot like `schema_name.package_name.` and press <kbd>Ctrl + Space</kbd> you will get proposal with package contents, even without a <kbd>Ctrl + Space</kbd> shortcut, proposed autocomplete should appear, it just can take some time to find metadata. Are you doing something differently

![SvtsIbcueJ](https:

[2021-09-10 12:55] gordubal commented on #13866
Thank you, it helps

[2021-09-10 12:55] #13866 closed, assigned to nobody

[2021-09-10 12:56] rproserpio opened #13868 "Ubuntu ppa not updated since version 21.1.3"
The last version on https://launchpad.net/~serge-rider/+archive/ubuntu/dbeaver-ce was last updated on 2021-07-19.
Is this a problem or the ppa is not maintained? The website still links to it.
Thank you

[2021-09-10 12:59] yevon commented on #13861
From sql editor it just works fine, I mean in package editor, when you try to perform any autocompletion it doesn't work as it wants you to write anything in the form "Select * from", if you try to call directly to the procedure name it doesn't work. It would be nice also to autocomplete any text in current package, for local variable names etc.

![image](https://user-images.githubusercontent.com/

[2021-09-10 13:00] yevon commented on #13861
A simple begin end in sql editor doesn't work also:

![image](https://user-images.githubusercontent.com/121157/132857053-e4465eec-326d-4736-bb25-da3843890022.png)

[2021-09-10 13:02] Matvey16 commented on #13840
@zherop Have you tried installing SSHJ extension and connecting this SSH implementation? Also can you press `Test tunnel configuration` button and post the result?

![wrUhklJfXY](https://user-images.githubusercontent.com/82543000/132857229-f8510f7f-e382-4f1b-adb5-4793bb0fa8d7.png)
![dbeaver_roBMlou3hb](https://user-images.githubusercontent.com/82543000/132857236-6255e59a-71ff-4fdd-a507-7d461ba7ddc

[2021-09-10 13:04] yevon commented on #13861
Also you don't get any prompt if you don't write the schema name prior to the package name. It works in the from clause, but it doesn't work in the select clause:

![image](https://user-images.githubusercontent.com/121157/132857389-c82fe561-aefa-4a5e-8435-71e4786db17c.png)

![image](https://user-images.githubusercontent.com/121157/132857442-978f6b3b-1163-44f0-b054-17aa15d1416b.png)

![image](https

[2021-09-10 14:18] flambchap commented on #13858
Fixed.

[2021-09-10 14:18] flambchap commented on #12647
Fixed.

[2021-09-10 16:52] bronius commented on #12675
Please consider updating the title of this issue queue to something more specific. I'd like it to read smth like: Execute entire script in editor tab when nothing is highlighted fails with kb shortcut

Original @KES777 wrote the "how to reproduce" perfectly well, and until I isolated it to exactly that, it was confusing for me as well to see inconsistent behavior: It would appear that sometimes th

[2021-09-10 17:32] KES777 commented on #12675
@bronius : I do not agree with second. I often run only current query (between `;`)

If I want more: run entire script, then I will do more: move my mouse and click specific icon

[2021-09-10 18:16] bronius commented on #12675
I see - - so this is a feature of DBeaver that you're taking advantage of? Something about "run from top to cursor" maybe? Or "run currently focused statement?" If so, then it sounds like what I think is a bug is actually a feature request. Or, if what you're leveraging is an artifact of an unintended or only loosely defined behavior of DBeaver, then the bug should focus on that. The way you descr

[2021-09-10 18:39] bronius commented on #12675
Thanks for engaging with me on this thread. I see the behavior I am after [already exists](https://github.com/dbeaver/dbeaver/wiki/SQL-Execution) - - I just have to remap `^ + enter` from "Execute SQL Statement" (which is really "execute query under cursor _or selected text_") to "Execute SQL Script". I will see if I miss "execute selected/highlighted text" in time :)
![Preferences](https://user-i

[2021-09-10 18:49] LonwoLonwo commented on #10434
Nope, it is still actual, unfortunately.

[2021-09-10 21:16] Chealer commented on #8746
@serge-rider thanks for reopening this ticket

[2021-09-11 04:21] rajeshisnepali opened #13872 "Order by id DESC"
![image](https://user-images.githubusercontent.com/23610013/132936006-f9007bce-a15d-4c59-82f4-04f1d6975509.png)

I want to set a setting to order all my records by id `DESC`. Also, set a setting to view value in `JSON` format.

[2021-09-11 09:23] dsimon-dev opened #13873 "Connection error on SSHJ tunnel"
#### System information:
- Operating system (distribution) and version: Arch Linux
- DBeaver version: 21.2.0.202109041934
- Additional extensions:
  - dbeaver-plugin-sshj 1.0.78.202105160657-1
  - dbeaver-plugin-sshj-lib 0.27.3-2
  - dbeaver-plugin-bouncycastle 1.64.0.v20191109.0815-2

All installed from arch community repo.

openjdk version 16.0.2.u7-1

#### Connection specification:
- ~Database

[2021-09-11 12:05] ShadelessFox commented on #13873
Hello @dsimon-dev,

Please update an SSHJ extension.

Go to <kbd>Help</kbd> &rArr; <kbd>Install New Software...</kbd>, then choose <kbd>DBeaver CE update site</kbd> from drop-down menu.

[2021-09-11 12:12] ShadelessFox commented on #13872
Hello @rajeshisnepali,

1. There's small arrow-like icon on the right half of the column's header. You can use it to change the order of records in this column. If you want this ordering to be persisted, you can press <kbd>Save filter settings</kbd> located in the upper right half of the data editor. See our wiki for more information: https://github.com/dbeaver/dbeaver/wiki/Data-Filters
1. It's sc

[2021-09-11 17:50] Martinfx opened #13874 "FreeBSD Type org.eclipse.tycho.core.p2.P2ArtifactRepositoryLayout not present"
#### System information:
- Operating system  FreeBSD  12.2-RELEASE-p7
- Last version from master
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
#### Steps to reproduce, if exist:
[code]

[2021-09-11 19:50] ShadelessFox commented on #13874
Hello @Martinfx,

You need to use Java 11.

[2021-09-11 22:32] deepaksenthilkumar commented on #13820
@serge-rider
@ShadelessFox @akilovich @Matvey16
This breaks a number of functionalities within Redshift as DBeaver relies on the Postgres flavor of the driver. It should use 1.x driver not 2.x driver

[2021-09-12 07:31] th opened #13875 "Cannot save result set without pointless clicking outside and inside"
#### System information:
- Operating system (distribution) and version
Windows 10
- DBeaver version
2.1.2.0
- Additional extensions
None

#### Connection specification:
- Database name and version
SQLite 3
- Driver name
SQLite
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
No

#### Describe the problem you're observing:
I have an open DB connection. I also have an SQL file with a simple select

[2021-09-12 09:50] fossildoc opened #13876 "index-only option for simple search"
**Is your feature request related to a problem? Please describe.**
I am a heavy user of the simple search, the one I get when I type ctrl-f. The items I search for are always in an indexed field of my database, but the target text appears many times in other fields. This substantially increases the time it takes for me to find anything.

**Describe the solution you'd like**
The DB Full--Text searc

[2021-09-12 15:18] flambchap commented on #13142
The same problem can be observed in other places.

Session manager:
![image](https://user-images.githubusercontent.com/26031301/132993128-3337c872-8007-478d-a73b-ee8876af1bc4.png)

Session details:
![image](https://user-images.githubusercontent.com/26031301/132993179-a908ac3f-43f2-4242-b9f0-59a638899838.png)

[2021-09-12 17:13] rajeshisnepali commented on #13872
Yes, I use to do the same. Also I've configured shortuct key (`Ctrl+Num2`) to toggle the order and `Ctrl+.` to save the settings. But the problem is I've to do the same from every new table and that's so frustrating.

Waiting for 21.2.1. Currently running `Version 21.2.0.202109061154`

BTW, you said it's coming in 21.2.1 for ordering or JSON saving stuff. Li'l confused.

[2021-09-12 17:29] ShadelessFox commented on #13872
1. Indeed, you can't configure default ordering because it can cause performance issues if sorting is performed on server-side.
2. Now we save last used content viewer, in your case it's JSON viewer.

[2021-09-13 05:54] Matvey16 commented on #12647
Verified

[2021-09-13 05:54] #12647 closed, assigned to flambchap, Matvey16

[2021-09-13 06:36] uslss commented on #13875
@th unfortunately cannot reproduce it.
Could you provide a video of the issue?

[2021-09-13 06:49] phebix commented on #9620
Yes, it is actual for me too.
Dbeaver version 21.2.0.202108310918 on Ubuntu Mate 20.04.3

Everything goes fine until I run dbeaver from the menu. After start dbeaver all new instances of terminal or caja (maybe some more ) all this is moved in directory `/usr/share/dbeaver-ce`.

[2021-09-13 06:52] uslss commented on #12357
is it still actual?
Seems, it is already implemented for mssql azure
![image](https://user-images.githubusercontent.com/31996417/133037183-20a576d6-c447-4e30-be67-5f983db3641f.png)

[2021-09-13 06:55] yonisade commented on #12357
Hi
It's not implemented yet in PostgreSQL connection windows.
And I have the latest DBeaver version (21.2.0)

Yoni

‫בתאריך יום ב׳, 13 בספט׳ 2021 ב-9:52 מאת ‪Dziyana‬‏ <‪
***@***.***‬‏>:‬

[2021-09-13 06:59] uslss commented on #13858
verified

[2021-09-13 06:59] #13858 closed, assigned to flambchap, uslss

[2021-09-13 07:04] uslss commented on #13860
thank you for the report

[2021-09-13 07:53] elring opened #13878 "Table column changes are immediately semi-discarded after Refresh (part 2)"
#### System information:
OS: Linux Mint 20
DBeaver version: 21.2.0

#### Connection specification:
Database: Postgresql 12

#### Describe the problem you're observing:
This issue is related to #12331 - the problem is not 100% solved.

#### Steps to reproduce, if exist:
Open any table, add any column. Do NOT save the table, do NOT close it. Open another table. Use refresh function in database navig

[2021-09-13 08:03] Matvey16 commented on #13855
@nejiviper Thank you for the report. It appears that this behavior depends on the value's length and not on a data type. We will work on it.

[2021-09-13 08:03] orimarko opened #13879 "Remove where keyword suggestion on insert into statement"
#### System information:
- Windows 10 Pro
- DBeaver version Version 21.1.4.202108020335

#### Connection specification:
- Oracle Database 12c Enterprise Edition Release 12.1.0.2.0 - 64bit Production

#### Describe the problem you're observing:
 where keyword suggestion on insert into statement is wrong
INSERT INTO TABLEA WHERE isn't a valid syntax
https://docs.oracle.com/cd/B12037_01/appdev.101/b1

[2021-09-13 08:06] uslss commented on #13878
thanks for the report

[2021-09-13 08:11] Matvey16 commented on #13879
@orimarko Thank you for the report

[2021-09-13 08:15] #10972 closed, assigned to uslss, ShadelessFox

[2021-09-13 08:15] sandnima commented on #13821
English (United States) and Persian

[2021-09-13 08:19] uslss commented on #13666
will be investigated in #13821

[2021-09-13 08:19] #13666 closed, assigned to nobody

[2021-09-13 08:36] rokopi-byte commented on #11205
Hello, any update on this ? Version 2021.2.0 still have this issue for me on Ubuntu 16.04

[2021-09-13 08:38] uslss commented on #9770
verirfied
![image](https://user-images.githubusercontent.com/31996417/133051850-119e7f58-93d8-44ca-bb84-c04e5764123b.png)

[2021-09-13 08:38] #9770 closed

[2021-09-13 08:40] ShadelessFox commented on #13820
Hello again @deepaksenthilkumar,

What kind of functionality is broken?

[2021-09-13 08:56] uslss commented on #639
already implemented
![image](https://user-images.githubusercontent.com/31996417/133054796-9e5c2cb7-e317-4d72-b8ce-3e4e99f24e8a.png)

[2021-09-13 08:56] #639 closed

[2021-09-13 09:31] LonwoLonwo commented on #10434
Fixed.

[2021-09-13 09:35] Marmeladenbrot commented on #1934
Is that feature request set for the 21.2.4 milestone?

Discovered a really really nasty bug because a DB table had \x20 and \xA0 mixed at the end and TRIM() only removes whitespace = \x20.

The result set I used for my analysis was therefore pure garbage because of missing JOINS/GROUP BY due to the funny \xA0 character.

Would have been prevented if I would have seen the non-breaking spaces in the

[2021-09-13 09:36] LonwoLonwo commented on #13805
Fixed.

[2021-09-13 09:43] uslss commented on #10911
seems to be fixed in 21.2.0

[2021-09-13 09:43] #10911 closed, assigned to nobody

[2021-09-13 09:43] uslss commented on #11180
reproducible in 21.2.0

[2021-09-13 11:18] deepaksenthilkumar commented on #13820
One thing on top of my head is

It won’t return Postgre object. Using 2.x means we can’t take advantage of
all the Postgre extensions in the code, it has to be 1.x driver for that.
--
SD

[2021-09-13 11:19] hanjiangxue20 opened #13881 "Can't show all database names when DBbeaver connects to PG database?"
#### System information:
- Operating system (distribution) and version
- DBeaver version 21.2.0
- Additional extensions

#### Connection specification:
- Database name and version PostgreSQL
- Driver name org.postgresql.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:
I showed 8 databases using the PG Admin tool, but Dbeaver didn't show up.

[2021-09-13 11:26] #13881 closed, assigned to nobody

[2021-09-13 11:29] hanjiangxue20 commented on #13881
need to configure the connection to display a non-default database.

[2021-09-13 11:37] KevinBarbier2 commented on #1361
Version 21.2.0.202108291732

[code]

- When trying to edit local client config, browsing to /usr/bin to select mysqldump shows a blank.
- Trying to fill in path also doesn't work, doesn't register anything i type into it.

[2021-09-13 11:56] ShadelessFox commented on #13820
There's an issue for this problem: #13523. We should investigate and it fix.

[2021-09-13 11:57] flambchap opened #13882 "[macOS] The SQL script is cropped in the persist changes dialog"
#### System information:
- Operating system (distribution) and version: macOS 11.4
- DBeaver version DBeaver UE 21.2
- Additional extensions: None

#### Describe the problem you're observing:
The SQL script is cropped in the persist changes dialog.

#### Steps to reproduce, if exist:
1. Open entity editor for a table.
2. Add a column.
3. Clock 'save'

The 'Persist Changes' dialog opens. It will lo

[2021-09-13 12:00] flambchap commented on #13882
It potentially can be fixed in a similar fashion to [this](https://github.com/dbeaver/dbeaver/issues/11526) ticket.

[2021-09-13 12:06] ShadelessFox opened #13883 "SSH jump server: Can't change destination host port (always uses `22`)"
The connection to the jump server uses the correct IP/Port combination, which I enter in the settings page, but the next hop always tries to connect to Port 22. Or do I have to enter the changed port of the final destination server in another configuration field?

[2021-09-13 12:13] Matvey16 commented on #13805
Verified

[2021-09-13 12:13] #13805 closed, assigned to LonwoLonwo, Matvey16

[2021-09-13 12:38] flambchap commented on #12473
Problem 3 can be reproduced with Postgres' enums as well.

[2021-09-13 12:55] fjf2002 opened #13885 "Change default foreign key dictionary settings"
**Is your feature request related to a problem? Please describe.**
From https://dbeaver.io/forum/viewtopic.php?f=2&t=668 I learnt that
* The foreign dictionary uses by default "any column which name contains one of next strings: title, name, label, display, description, comment or remark. If no such column found then first varchar column is used.".
* As far as I understand, I can override this beh

[2021-09-13 12:56] flambchap commented on #12473
There is an additional problem in scenario 1. If we click on a boolean cell and then press escape, the cell's value disappears. It is not mac-specific.

[2021-09-13 13:00] surz-p commented on #1885
Problem persists for the version on MAC even today.

[2021-09-13 13:20] flambchap commented on #12473
Scenario 1 is a feature, not a bug. It helps to distinguish the normal state from the edit state. Also, it's not mac-specific.

[2021-09-13 13:43] uslss commented on #11325
not reproducible anymore
![image](https://user-images.githubusercontent.com/31996417/133094466-98b2cb73-4584-457b-b047-42126a2fa868.png)

[2021-09-13 13:43] #11325 closed, assigned to nobody

[2021-09-13 13:56] MatchPoint commented on #8054
ODBC driver on linux supports windows auth. JDBC leverages ODBC so it should be possible. Example of configuring ODBC connection on linux for windows auth: https://stackoverflow.com/questions/59965444/is-it-possible-to-connect-to-mssql-with-windows-auth-mode-from-a-nodejs-app-runn

[2021-09-13 13:59] uslss commented on #13030
Analyze option is already available for PostgreSQL.
![image](https://user-images.githubusercontent.com/31996417/133097193-59b8c843-4228-41d1-bd10-19506caf54ac.png)

Which else options should be implemented?

[2021-09-13 14:16] contibru commented on #13481
Occurs in the References tab to

![image](https://user-images.githubusercontent.com/30509284/133099865-9364c691-b734-49ca-86d0-fca98292206d.png)

[2021-09-13 14:59] LonwoLonwo commented on #12405
Hello @KirtiDipun

1. As you said, you can manually set ENCRYPT_PASSWORD setting in the driver settings to true.
We plan to add a special button in the near future in the Edit Connection window, ok.

2. "bouncycastle" dependency will be added to DBeaver CE in the scope of this ticket:
https://github.com/dbeaver/dbeaver/issues/13857

[2021-09-13 15:16] LonwoLonwo commented on #12405
Also, I can connect to Sybase 16 without password encryption.
Please tell me why in your opinion connections are not allowed without password encryption for Sybase 16?

[2021-09-13 15:23] LonwoLonwo opened #13886 "Add information about "change current user password" setting to wiki."
![2021-09-13 18_21_16-DBeaver 21 2 1](https://user-images.githubusercontent.com/45152336/133111442-e4f4fe79-0319-483b-97df-4093613370b4.png)

[2021-09-13 15:27] LonwoLonwo opened #13887 "Nested task folders support."
Need to add the ability to create nested task folders.
(As connections nested folders)

![2021-09-13 18_24_46-DBeaver 21 2 1](https://user-images.githubusercontent.com/45152336/133111914-4e7f0aa2-9427-4c01-b111-c3f93f19a34c.png)

[2021-09-13 15:31] Zulu-Inuoe opened #13888 "SQLite - Failing to import CSV with column named Plan"
#### System information:
- Windows 10 x64
- DBeaver 21.1.5

#### Connection specification:
- SQLite 3.36.0.3

#### Describe the problem you're observing:
When importing data from a CSV file, fails to import/preview data when there is a column named `Plan`.

The error reported is:

[code]

The CREATE TABLE expression properly escapes `Plan` as `"Plan"`, so seeing it brackets here is odd. SQLite doe

[2021-09-13 15:38] KES777 commented on #13030
full list of options:
https://www.postgresql.org/docs/current/sql-explain.html

[2021-09-13 16:35] MohamedEmad-Data opened #13889 "CSV export Arabic text is not right with UTC-8"
![ss1](https://user-images.githubusercontent.com/82875093/133122052-c34450c7-3904-4147-ad3a-50911167f240.PNG)
![ss2](https://user-images.githubusercontent.com/82875093/133122107-b2cf931c-e8d4-4b3b-9c70-40ad3e1bba12.PNG)
Hello,

I'm facing a problem with Arabic text when exporting a CSV file from a query result with setting of encoding UTF-8, the text not appearing correct as the result from the DB

[2021-09-13 19:25] dsimon-dev commented on #13873
Hi!

Thanks for the suggestion, I uninstalled all dbeaver plugins from arch repos and tried to install the SSHJ extension like you described. Unfortunately I'm hit by another error:

[code]

[2021-09-13 20:40] JaggedJax opened #13892 "Export Result Set triggers "Unhandled event loop exception""
#### System information:
- Operating system: POP!_OS 21.04
- DBeaver version: Flatpak 21.2.0.202108310918
- Additional extensions: N/A

#### Connection specification:
- Database name and version: MySQL 5.7
- Driver name: MySQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: No

#### Describe the problem you're observing:
After running a DB query, attempting to Export the result set triggers

[2021-09-13 20:45] JaggedJax commented on #13892
I missed this before when searching. This is potentially the same as issue #12114, however this error was not happening with previous DBeaver versions and happens at a different time in the Export process than the other issue.

This may be a dupe of #13289, but they didn't provide as much info to see if it's the same thing happening at the same time.

[2021-09-13 20:54] LonwoLonwo commented on #13888
Hello @Zulu-Inuoe
Thanks for the bug report.

Problem was fixed here: #13402, #13542

You can download [DBeaver's last version](https://dbeaver.io/download/) and test it.

[2021-09-13 20:54] #13888 closed, assigned to nobody

[2021-09-13 23:32] Zulu-Inuoe commented on #13888
Oh sorry about the duplicate I didn't realize 21.2 had been released.

Thanks!

[2021-09-14 02:40] zhouqing-inovance opened #13894 "Can't open resource 'Script.sql'"
#### System information:
- win10 X64
- 版本21.2.0.202108310918

#### Describe the problem you're observing:
Can't open resource 'Script.sql'
原因：
 -951788399

#### Include any warning/errors/backtraces from the logs

This is a continuation of log file C:\Users\inovance\AppData\Roaming\DBeaverData\workspace6\.metadata\.bak_0.log
Created Time: 2020-11-26 10:29:33.230

!ENTRY org.jkiss.dbeaver.model 4 0

[2021-09-14 03:31] straklhl opened #13895 "Can't open resource 'Script12.sql' -418128841"
version:21.2.0
can't open any script
![图片](https://user-images.githubusercontent.com/90668017/133190491-cf867e90-32a6-400b-acbc-81bc7733961e.png)

error log:
!ENTRY org.jkiss.dbeaver.model 4 0 2021-09-14 11:27:50.877
!MESSAGE -418128841
!SUBENTRY 1 org.jkiss.dbeaver.model 4 0 2021-09-14 11:27:50.877
!MESSAGE -418128841
!STACK 0
java.lang.NegativeArraySizeException: -418128841
	at org.eclipse.swt.p

[2021-09-14 05:09] detkliff opened #13896 "forced disconnect"
Windows 10 64
DBeaver 21.2.0
Postgres 12

This error started in 21.2.0 version.

CASE:
I have three dababase in veriable servers.

1. I worked with database1 on server1 and close all window because work was ended.
2. Disconnect from database1 on server1 and connect to database2 on server2 and work on it. and close all window because work was ended

I see error on database1
![image](https://user-im

[2021-09-14 05:44] efimov90 opened #13897 "Your Password does not Satisfy the Current Policy Requirements"
#### System information:
- Windows 10 19043.1165 21H1
- 21.2.0.202108310918

#### Describe the problem you're observing:

When you try to create user with validating password plugin (validate password as example) you get error from title.
It appears because of generated code to create user.

#### Steps to reproduce, if exist:

I think it will work at any setup with this type of plugins but in my c

[2021-09-14 07:26] uslss commented on #13897
@efimov90 what database do you use?

[2021-09-14 07:29] uslss commented on #13896
@detkliff could you provide [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-09-14 07:31] uslss commented on #13895
thanks for the report. please, provide steps to reproduce in #13894
closed as a duplicate of the #13894.

[2021-09-14 07:31] #13895 closed, assigned to nobody

[2021-09-14 07:32] uslss commented on #13894
@zhouqing-inovance could you provide steps to reproduce? video could be helpful for issue investigation.

[2021-09-14 07:46] straklhl commented on #13894
@uslss FYI
https://user-images.githubusercontent.com/90668017/133216776-9ed94486-5420-489c-99b9-826a1c44d418.mp4

[2021-09-14 07:56] uslss commented on #13894
@straklhl unfortunately, still cannot reproduce. Is it actual for all script files or for some special only?

[2021-09-14 08:03] Matvey16 commented on #13883
Verified

[2021-09-14 08:03] #13883 closed, assigned to ShadelessFox, Matvey16

[2021-09-14 08:05] efimov90 commented on #13897
percona/percona-server docker image
version 8.0.25-15
version comment Percona Server (GPL), Release 15, Revision a558ec2

[2021-09-14 08:07] uslss commented on #13162
cannot reproduce it against 21.2.0.
@PisitsunT could you check if it is still reproducible for you?

[2021-09-14 08:08] straklhl commented on #13894
All "open script" and "new script" oprations prompt this error (it just happened today , last week DBeaver was nomal).

I have reinstalled DBeaver and restarted my PC but it can't solve this problem.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "dbeaver/dbeaver"

[2021-09-14 08:12] uslss commented on #8313
hope, the issue will be fixed in the scope of #13180
Close this issue

[2021-09-14 08:12] #8313 closed

[2021-09-14 08:15] ShadelessFox commented on #13873
Try upgrading to early access version: https://dbeaver.io/files/ea/

[2021-09-14 08:32] Matvey16 commented on #13821
@sandnima And you chose English language during installation, correct?

[2021-09-14 08:39] kseniiaguzeeva opened #13898 "Incorrect localization name"
Based on https://github.com/dbeaver/cloudbeaver/issues/475.

Could you please change  中国人 (Taiwan in English) on ‘中文-简体’ or '中文-繁體’ in localisation settings?
![Screenshot 2021-09-14 at 11 38 24](https://user-images.githubusercontent.com/51405061/133224986-0c3efa6e-7eee-4cdb-9b8f-ac5742e4f7c9.png)

[2021-09-14 09:37] ShadelessFox commented on #13894
Hello @straklhl,

What application is associated with `.sql` extension in your OS?

[2021-09-14 09:39] serge-rider commented on #13894
Also please check preferences. It should look like this:
![image](https://user-images.githubusercontent.com/6398845/133234172-77c0c8fa-dc66-476b-be70-4fecfb5adf0b.png)

[2021-09-14 10:44] serge-rider commented on #13894
Seems to be duplicate of #12986

[2021-09-14 11:31] makingglitches opened #13900 "MySQL Use SSL Defaults cause cert error. Wonder if a low priority feature req to add some user instruction might save frustration."
With a standard localhost setup of MySQL 8.0 Community edition.

Following error occurs with the ssl defaults checked, once Use SSL is enabled.

Could not load trustJKS keystore from _file:/home/_{user}_/.local/share/DBeaverData/workspace6/.metadata/.plugins/org.jkiss.dbeaver.core/security/mysql8-17bdc0e09b2-d25dddb891738b4-ssl.jks_
  java.security.InvalidAlgorithmParameterException: the trustAnch

[2021-09-14 11:31] afimuc opened #13901 "Oracle schema not shown"
#### System information:
- Windows 10 Build 19043.1165
- DBeaver version 21.2.0.202108310918

#### Connection specification:
- Oracle XE 11g
- Driver name: ojdbc11 version 21.1.0.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Some schemas are not shown in the schema list.
A newly created schema disappears on refresh, and never appears again, ev

[2021-09-14 12:25] makingglitches commented on #13900
I'm sorry for the jumbled mass of repeat edits. The behavior of the project seems to have changed right before my eyes, without me changing backend settings.

[2021-09-14 12:26] makingglitches commented on #13900
Perhaps however because this is a java exception related to what looks like a cert store, there be a catch-block added at the very least with a more user friendly message, since this is not an exception that should lead to a process exit ?

[2021-09-14 12:56] uslss commented on #10434
verified

[2021-09-14 12:56] #10434 closed

[2021-09-14 13:15] uslss commented on #13901
@afimuc could you check if Hide empty schemas is disabled in Connection properties?
![image](https://user-images.githubusercontent.com/31996417/133264304-66bf352b-6953-4cb7-8a33-f9695ebcee3a.png)

[2021-09-14 13:20] afimuc commented on #13901
@uslss That was the reason, thank you!

[2021-09-14 13:21] #13901 closed, assigned to nobody

[2021-09-14 13:28] sandnima commented on #13821
Of course yes
And I would point it asks me twice about language during installation. Normal?

[2021-09-14 13:37] uslss commented on #11690
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it

[2021-09-14 13:37] #11690 closed, assigned to ShadelessFox

[2021-09-14 13:39] uslss commented on #12944
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info that could help to reproduce an issue

[2021-09-14 13:39] #12944 closed, assigned to nobody

[2021-09-14 13:40] uslss commented on #13563
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it

[2021-09-14 13:40] #13563 closed, assigned to nobody

[2021-09-14 13:43] uslss commented on #13739
@rajeshisnepali could you clarify your use case step by step?

[2021-09-14 13:59] kpconnell opened #13902 "Option to disable long-lived connections"
**Is your feature request related to a problem? Please describe.**
If you have intermittent network connectivity, the amount of time for a query to decide the connection is no longer viable is off the charts.

**Describe the solution you'd like**
Consider all operations to be book ended by a connection open and close.  This is how most modern software works.  Connections even with mobile networks

[2021-09-14 14:24] LonwoLonwo commented on #12971
Drop statement fixed in DBeaver 21.2.1

![133213228-220580f5-402a-4e98-8888-b20542cf47f4](https://user-images.githubusercontent.com/45152336/133274505-ac28cb45-177b-4b4e-a5c9-018a01309b71.png)

Also, the source tab now shows the proper alias script and I added the ability to change alias description via UI.

![133213227-d29bd84d-109b-4d2c-8ef3-b225510e4f06](https://user-images.githubusercontent.co

[2021-09-14 14:25] serge-rider commented on #12599
Fixed

[2021-09-14 14:29] LonwoLonwo commented on #13218
Fixed. Now we read bpchar data type as char in Redshift according to [documentation](https://docs.aws.amazon.com/redshift/latest/dg/r_Character_types.html).

[2021-09-14 14:45] makingglitches commented on #13900
On restart of the server/client machine the following error shows back up on the connections not using ssl, with the verify server certificate option selected:

[2021-09-14 14:46] makingglitches commented on #13900
Checking the allow public key retrieval option gets rid of this.

[2021-09-14 14:47] makingglitches commented on #13900
@uslss apparently this is a bug. the stored connections settings for ssl reset themselves, and the logins even without ssl fail after a system reboot.

[2021-09-14 15:31] uslss commented on #13902
@kpconnell did you try to change timeouts values in connection properties? probably, it'll resolve your issue
![image](https://user-images.githubusercontent.com/31996417/133287755-cf603c7f-9643-4f4e-8042-c24b1ded4197.png)

[2021-09-14 15:38] uslss commented on #13900
@makingglitches could you clarify your issue step by step? as for me, ssl isn't enabled by default on connection creation

[2021-09-14 15:56] kpconnell commented on #13902
The feature request is to eliminate the concept of long lived connections - Not be able to adjust timeouts for long lived connections.  It is a fundamental flaw.

[2021-09-14 16:51] mhandoko-fff commented on #13778
Thank you for the getting it in for the next release.

[2021-09-14 19:23] deepaksenthilkumar commented on #13523
I checked further on this and the issue is for tables with unique key

CREATE TABLE public.temp_unique_key (col1 varchar(10),unique(col1))

Then try to get the DDL for this. It won't work.

[2021-09-14 22:07] vicreal opened #13905 "DBeaver is freezing when executing a query with many parentheses in SELECT clause"
**Windows 10 (64 bit) + DBeaver 21.2.0 + PostgreSQL 13** (tunnels or proxies not used).
Dbeaver hangs and becomes unresponsive when executing a query with many parentheses in the SELECT clause

**Example 1**:
`SELECT ((((((((((((((((5))))))))))))))))`

**Example 2**:
[code]
**P.S**. The bug occurred [here](https://github.com/dbeaver/dbeaver/issues/10256) and [here](https://github.com/dbeaver/dbeav

[2021-09-14 22:45] jppo commented on #12944
Hello,

I did not reproduce The erroneous behaviour, and it was with an old version ...
So closing it is good thing.

Regards

JP P

De: "Yvan GODARD" ***@***.***>
À: "dbeaver/dbeaver" ***@***.***>
Cc: "jppo" ***@***.***>, "Mention" ***@***.***>
Envoyé: Mardi 14 Septembre 2021 15:39:24
Objet: Re: [dbeaver/dbeaver] Problem with MariaDB connection (#12944)

there is no update on the issue for a long

[2021-09-15 03:22] straklhl commented on #13894
@uslss @serge-rider @ShadelessFox
After I deleted the user data, reinstalled the software and restarted my PC, the problem was resolved.
Thanks for your support.

[2021-09-15 07:11] nan0tube opened #13907 "Redesign dictionary panel UI"
**Is your feature request related to a problem? Please describe.**
When the dictionary tab is opened, not all rows of the referenced table are loaded. There is no ability to load the next page of dictionary results.

When the referenced table is of a certain size (say 1000 rows), not all rows will be loaded in the dictionary tab, and the missing rows are not available for selection.

**Describe th

[2021-09-15 07:44] uslss commented on #13907
thanks for the suggestion

[2021-09-15 07:45] uslss commented on #13905
thanks for the report

[2021-09-15 07:55] KirtiDipun commented on #12405
Hi - I have tried in every other tool including DBeaver and everywhere it
requires password encryption to be enabled else throws error for sybase 16.
May I know the steps you followed to connect without password encryption in
Dbeaver, because this issue persist for all my friends and colleagues who
uses DBeaver,

Thanks,
Kirti

On Mon, 13 Sept 2021 at 23:16, Anastasiya ***@***.***> wrote:

--
Than

[2021-09-15 08:08] flambchap commented on #12473
Just like with problem number 3, problem 2 can be reproduced with Postgres' enums.

[2021-09-15 08:12] flambchap commented on #12473
Okay. At this point, it's impossible to handle those 4 problems in one ticket since it's clear that they have different nature. Separate tickets will be created shortly.

[2021-09-15 08:16] uslss commented on #13897
what driver do you use?
could you provide the generated script?

[2021-09-15 08:19] tSpiny opened #13909 "Escaping in Configure Filters"
It doesn't work at all. I have 2 schemas in my db:
- `dwh2xyz`
- `dwh_xyz`

I tried to filter only `dwh_xyz` with `dwh\_*` . And it didn't work.

_Originally posted by @zSpiny in https://github.com/dbeaver/dbeaver/discussions/8767#discussioncomment-1331759_

[2021-09-15 08:22] nan0tube commented on #13907
In the meantime, can the number of rows fetched for the dictionary tab be configured?

[2021-09-15 08:28] uslss commented on #13909
@zSpiny did you try to include or exclude mentioned schema? thanks in advance for the response

[2021-09-15 08:29] uslss commented on #13909
Also, what database do you use?

[2021-09-15 08:29] flambchap opened #13910 "Boolean value in entity editor dissapears when inline editor is closed via ESC button"
#### System information:
- DBeaver version 21.2 UE

Originally reported [here](https://github.com/dbeaver/dbeaver/issues/12473). See https://github.com/dbeaver/dbeaver/issues/12473#issuecomment-918161913

[2021-09-15 08:40] flambchap opened #13912 "[macOS] Combo box inline editor doesn't close if user clicks on some spreadsheet area not occupated by any cell"
#### System information:
- Operating system (distribution) and version: macOS 11.4
- DBeaver version: 21.2 UE

#### Steps to reproduce, if exist:
See the video below.

https://user-images.githubusercontent.com/51405061/118278624-dd11df80-b4d2-11eb-8c0a-0457cb5e7748.mov

Originally reported [here](https://github.com/dbeaver/dbeaver/issues/12473).

[2021-09-15 08:48] #13894 closed, assigned to nobody

[2021-09-15 08:58] tSpiny commented on #13909
@uslss I'm trying to only **include** this schemas. I use Oracle. Dbeaver version is 21.1.5

[2021-09-15 09:07] tSpiny commented on #13909
I mean, when I filter with `dwh\_*`, I don't see any schemas at all. And when I use `dwh_*`, I see both schemes, cause `_` is a mask symbol

[2021-09-15 09:15] efimov90 commented on #13897
Driver in connection: 'MySQL'

Generated script is:
[code]

But must be:
[code]

[2021-09-15 09:26] flambchap commented on #12473
Scenario 4 is not a bug since there is no boolean type in SQLite.

[2021-09-15 09:36] Matvey16 commented on #12599
Verified

[2021-09-15 09:36] #12599 closed, assigned to serge-rider, Matvey16

[2021-09-15 10:12] th commented on #13875
Sure.

The keypresses aren't shown unfortunately, but I press Ctrl-S after I have edited the value (and the value is shown yellow), but before I execute the query again.

Then I click in the left pane, back into the result set, and Ctrl-S works, the yellow background is gone.

(Selecting File -->Save also works, but probably because in doing so I'm clicking away from the result set pane.)

![dbeav

[2021-09-15 10:31] LonwoLonwo commented on #13905
Maybe release https://github.com/JSQLParser/JSqlParser/releases/tag/jsqlparser-4.2 will be helpful in this situation.

[2021-09-15 10:36] uslss commented on #13909
thanks for the clarification and report

[2021-09-15 10:54] mushketer888 opened #13913 "Mysqldump window can't be closed after succesfull DB dump via SSH"
#### System information:
- Operating system (distribution) and version: Ubuntu 18.04
- DBeaver version 21.2.0
- Additional extensions None

#### Connection specification:
- Database name and version
- Driver name Mysql
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  Yes, SSH tunnel

#### Describe the problem you're observing:
Mysqldump window can't be closed after succesfull DB dump via SSH bu

[2021-09-15 11:29] Matvey16 commented on #13218
Verified

[2021-09-15 11:29] #13218 closed, assigned to LonwoLonwo, Matvey16

[2021-09-15 11:38] LonwoLonwo commented on #11428
That's because DBeaver does not include "javax.tools". "javax.tools" package is heavy, so we will think about - include or not include this package.

[2021-09-15 11:41] JeroenNienhuis opened #13915 "copy empty string from table data grid does not function"
#### System information:
- Operating System: Windows
- DBeaver version 21.2.0

When a cell in the table data grid is selected it is possible to copy its value. This does not function when the cell contains an empty string (or NULL value). After select Copy the content of the copy-buffer still has the same value as before making a copy.

[2021-09-15 11:47] lukaseder commented on #11428
Why do you have to include it if I'm running DBeaver on a JDK?

[2021-09-15 11:58] chrisv5 commented on #13589
There are more settings lost:

- file name pattern
- column configuration

[2021-09-15 12:01] uslss commented on #12971
verified

[2021-09-15 12:01] #12971 closed, assigned to uslss, LonwoLonwo

[2021-09-15 12:06] LonwoLonwo commented on #13589
Hello @chrisv5
The problem was fixed and the fix will be available in version 21.2.1
Or you can test it in the [Early Access](https://dbeaver.io/files/ea/) version now.

[2021-09-15 12:06] uslss commented on #13915
closed as a duplicate of #6802

[2021-09-15 12:06] #13915 closed, assigned to nobody

[2021-09-15 12:11] uslss commented on #13913
thanks for the report
seems the issue is similar to #12674 .
Focus doesn't move from Export dialog to Notification dialog.
![image](https://user-images.githubusercontent.com/31996417/133430944-5ae3031e-a5bd-482a-8137-34c04f900cac.png)
Could you try to close it e.g. by pressing enter?

[2021-09-15 12:16] mushketer888 commented on #13913
Yes you are right. It seems

[2021-09-15 12:18] uslss commented on #13913
I'll close this ticket as a duplicate, it will be fixed in the scope of #12674

[2021-09-15 12:18] #13913 closed, assigned to nobody

[2021-09-15 12:20] uslss commented on #12674
Issue is reproducible, e.g., with mysqldump. (#13913)

[2021-09-15 12:21] ShadelessFox commented on #12674
@uslss see https://github.com/dbeaver/dbeaver/issues/12674#issuecomment-905362594

[2021-09-15 12:24] uslss commented on #12674
in this case, a notification message appears behind the export dialog and it is not visible to the user. So the export dialog cannot be closed and it looks like the application is frozen.
works ok on win
![image](https://user-images.githubusercontent.com/31996417/133432669-43249e0a-79eb-42c0-956b-a2c2cc69fcf1.png)

[2021-09-15 12:27] r1evan opened #13916 "Connect to mutliple projects using google BigQuery service account"
Hi,

I'm trying to access multiple projects available in the provided google bigquery service account.

I'm able to access only the project we can see in bold. I can select the other available projects from the dropdown but still the query gets executed against the project that we see in bold.

Need help.

Thanks is advance.

Regards,
Revan
![image](https://user-images.githubusercontent.com/907713

[2021-09-15 12:35] uslss commented on #13916
thanks for the report

[2021-09-15 12:50] tati-kru commented on #13868
We will update PPA package after version 21.2.1 release.

[2021-09-15 13:53] Matvey16 commented on #13704
@Philippe-M Thank you for a suggestion

It will be a good idea to add this option to export settings

[2021-09-15 13:56] Matvey16 commented on #13758
We can add this as an option, but it should work in conjunction with disabled auto-fetch property
![dbeaver_aquAhkHZhJ](https://user-images.githubusercontent.com/82543000/133446731-5d244659-4b29-42b7-b905-baef8536ea0b.png)

@halilim Thank you for a suggestion

[2021-09-15 14:28] halilim commented on #13758
@Matvey16 Could you expand on that? I thought it could auto-fetch the given size.

[2021-09-15 14:48] BERRELION opened #13917 "Add support for multiple cursor/edit/selection (again)"
Addition of support for multiple cursor / selection / edition pleeeeaaassssseeeee.
Issue #6064 already claimed it... trying to throw this back again now in mid-2021
Or has it already been added?

And frustrating fact is that pgAdmin4 has this feature... 😢😒

[2021-09-15 14:52] ShadelessFox commented on #13917
Hello @BERRELION,

The feature is not added yet but planned to be added.

I have to close this issue as a duplicate of mentioned #6064 because it's indeed a duplicate.

[2021-09-15 14:52] #13917 closed, assigned to nobody

[2021-09-15 16:18] rajeshisnepali commented on #13739
![image](https://user-images.githubusercontent.com/23610013/133470762-02a807b5-4386-40a1-ac38-c82d2d512444.png)
It should be clear now. @uslss

Please don't hesitate to ask if it's still unclear.

[2021-09-15 16:29] ShadelessFox commented on #11345
Implemented custom definition of text labels, changing alignment and colors:

![image](https://user-images.githubusercontent.com/35821147/133472446-de5d25eb-8b23-4946-88dd-0c9b791c15ef.png)

Current implementation **does not** include following requests:
1. Image checkbox colorization support
2. Assertions against malicious input in text mode
3. Bold text font in text mode

Separate FRs should be

[2021-09-15 16:31] ghYura commented on #11345
Awaiting for release roll out to test

[2021-09-15 20:07] rnemana opened #13918 "Access Postgres database object without permissions causes lockup in DBeaver"
#### System information:
- Operating system (distribution) and version:
-- OS Name	Microsoft Windows Server 2016 Datacenter
-- Version	10.0.14393 Build 14393

- DBeaver version: 21.2.0.202108291732
- Additional extensions: None

#### Connection specification:
- Database name and version:  Postgres 11.12
- Driver name:
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the proble

[2021-09-16 02:09] jpg1024 opened #13919 "Cannot switch Catalog/Schema when DBeaver connects to InterSystem Cache"
#### System information:
- Operating system (distribution) and version

Windows 10

- DBeaver version

21.2.0.202108291732

- DataBase version

Cache' Studio Client  2016.2.0 Build 736
Server Cache for Windows (x86-64) 2016.2 (Build 736_0_16871U)

#### Connection specification:
- Database name and version

Cache' Studio Client  2016.2.0 Build 736
Server Cache for Windows (x86-64) 2016.2 (Build 736

[2021-09-16 06:56] Matvey16 commented on #13876
@fossildoc Can you elaborate how you see this added to find/replace? That is a basic cheap feature and it performs the search only in fetched rows.

[2021-09-16 07:35] PisitsunT commented on #13162
program is working fine now, it's didn't crash anymore.

[2021-09-16 07:42] Matvey16 commented on #13889
@MohamedEmad-Data Hello, this is a MS Excel problem. It won't be able to show some unicode characters corectly without BOM, so you need to use this option in your export
![dbeaver_uxxbf1kwCV](https://user-images.githubusercontent.com/82543000/133571155-7c330e3a-8ce6-404b-aa4e-288c44e86193.png)

Or you can open your original CSV in notepad for example and those characters would be shown correctly

[2021-09-16 07:43] #13889 closed, assigned to nobody

[2021-09-16 07:45] Matvey16 commented on #13863
@itschrono Thank you for the suggestion

[2021-09-16 07:49] Matvey16 commented on #13892
@JaggedJax Hello. This looks like an issue with eclipse, that should have been fixed in our 21.2.1 version.

[2021-09-16 07:51] flambchap commented on #13162
Hey, that's great news!

[2021-09-16 07:51] #13162 closed, assigned to ShadelessFox

[2021-09-16 07:53] Matvey16 commented on #13902
Getting rid of long-lived connections is disastrous if we are working with transactions. But it will be good to add an option in the connection settings so user can choose if he wants to use them or not.

[2021-09-16 08:16] uslss commented on #13918
@rnemana unfortunately, cannot reproduce an issue. permission denied error is shown, but dbeaver doesn't hang. probably some special steps are needed?
![image](https://user-images.githubusercontent.com/31996417/133576494-d7c3d45c-88db-4b0f-9b35-7d2143306007.png)

[2021-09-16 08:19] uslss commented on #13919
thanks for the report
Unfortunately, we don't have Cache server to test for now

[2021-09-16 08:25] uslss commented on #13637
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-09-16 08:25] #13637 closed, assigned to nobody

[2021-09-16 08:26] uslss commented on #13643
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-09-16 08:26] #13643 closed, assigned to nobody

[2021-09-16 08:27] coderkan commented on #229
Hi there,

is there any update about that feature ?

[2021-09-16 08:28] uslss commented on #13289
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info.
Looks like this issue should be fixed in 21.2.1 due to eclipse update in this version.

[2021-09-16 08:28] #13289 closed, assigned to nobody

[2021-09-16 08:28] uslss commented on #13552
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-09-16 08:28] #13552 closed, assigned to nobody

[2021-09-16 08:29] uslss commented on #13677
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-09-16 08:29] #13677 closed, assigned to nobody

[2021-09-16 08:29] uslss commented on #13391
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-09-16 08:29] #13391 closed, assigned to nobody

[2021-09-16 08:32] uslss commented on #13388
seems something wrong with the connection settings. What value do you use as a host?

[2021-09-16 08:42] uslss commented on #12855
unfortunately, still cannot reproduce an issue. Could you provide a video of an issue?

sorry for the late response

[2021-09-16 08:43] uslss commented on #9206
is it still actual?

[2021-09-16 08:44] uslss commented on #11378
is it still actual?

[2021-09-16 08:47] uslss commented on #12750
is it still actual?

[2021-09-16 08:52] uslss commented on #229
[Data compare](https://github.com/dbeaver/dbeaver/wiki/Data-compare) is already implemented in EE version

[2021-09-16 08:58] LonwoLonwo commented on #13886
https://github.com/dbeaver/dbeaver/wiki/Change-current-user-password

[2021-09-16 09:20] fossildoc commented on #13876
Fetched rows has nothing to do with it.

"DB Full-Text" has a checkbox,"Fast search (indexed)". This causes the
search to be made only in indexed fields of the table specified in the
"Databases" dropdown list. If the box is not checked, the search is made in
all the fields of the specified table.

That feature is not available in the ctrl-f "Find/Replace" window, so
searches are always made in all

[2021-09-16 09:53] uslss commented on #11345
win: verified

[2021-09-16 10:30] Matvey16 commented on #13857
Needs to be tested during regression

[2021-09-16 10:30] #13857 closed, assigned to serge-rider

[2021-09-16 10:45] LonwoLonwo commented on #10832
Hello @KrzysztofDusko

Can you help me with few questions?

1. How can we detect schema off mode? I can find any information about it in Netezza system tables/views.

2. I correctly understand that the expression of type
`SELECT * FROM DATABASE_NAME.SCHEMA_NAME.TABLENAME`
will not work in this mode (enable_schema_dbo_check=0) and the expression
`SELECT * FROM DATABASE_NAME.OWNER_NAME.TABLENAME`
wi

[2021-09-16 11:11] Matvey16 commented on #11345
Verified on Linux and Mac

[2021-09-16 11:13] #11345 closed, assigned to uslss, ShadelessFox, DariyaFedorova, Matvey16

[2021-09-16 11:14] KrzysztofDusko commented on #10832
1. Multiple schema support can be enabled/disabled by edit of /nz/data/postgresql.conf file
https://www.ibm.com/docs/en/psfa/7.2.1?topic=overview-enable-multiple-schema-support
my _method_ to decet this is to check SELECT SCHEMA FROM _V_SCHEMA - if only one row is in result ="ADMIN" - multi schema support is off
2. If Multple schema support is enabled  ```SELECT * FROM DATABASE_NAME.OWNER_NAME.TAB

[2021-09-16 11:17] ghYura commented on #11345
Additional sub-issue (not for now):
For very further improvement assertion against text/icon similar color with background color of the cell/row match against it become invisible/barely-visible or smth.
Writing this sub-comment to not forget in the future, keeping beared in my mind yet, sharing with all of you.

[2021-09-16 11:26] flambchap commented on #13910
Fixed.

[2021-09-16 11:34] ShadelessFox opened #13923 "Boolean text representation: Bold font option"
Continuation of #11345:

Need to add an option for enabling bold font for boolean values.

[2021-09-16 11:36] ShadelessFox commented on #11345
There's a way to use font color of your active theme. It will be the contrast color.

[2021-09-16 12:03] ghYura commented on #11345
Up to you all, team! I have infected you with the main idea - rest for the best - up to you. Since I know we are "on the same wave" about this main feature idea - I trust you, your expirience and your choice for the best of any further details :)

[2021-09-16 12:12] igorzhilin opened #13924 "Filter result set on aliased column"
When filtering the result set on a calculated column (with alias), I receive an error:
`Column "calculated_column_name" does not exist. Hint: Perhaps you meant to reference the column "source_column_name".`

I would like to be able to filter on calculated column without referencing the source column.

To be able to filter on a calculated column, I have to provide the source column name in the filt

[2021-09-16 12:22] duri0214 commented on #13388
I recently moved CentOS8 to Ubuntu20.04.
![image](https://user-images.githubusercontent.com/19668980/133610513-dbeb016e-4383-43dc-8b55-129f44855e95.png)
It's OK connection well.

## my setting
![image](https://user-images.githubusercontent.com/19668980/133610759-1a30b5a8-73cf-4959-96a3-9cde31b13e9b.png)
[code]

## MySQL Workbench
it's ok connected.
![image](https://user-images.githubusercontent.co

[2021-09-16 12:28] uslss commented on #13388
Does it seem the issue is resolved?

[2021-09-16 13:14] DariaMarkaryan opened #13925 "Changes in bool display are reset when switching to Icons mode"
#### System information:
- All systems
- DBeaver 21.2.1

#### Describe the problem you're observing:

If you change some preferences for boolean displaying and switched to "Icons" display mode without pressing "Apply" button then your changes in Text mode would be erased.
We should remember changes until user close preferences window

https://user-images.githubusercontent.com/43252954/133617655-fd

[2021-09-16 13:39] ShadelessFox opened #13926 "Boolean text representation: Wiki page about its features"
For more information see #11345

[2021-09-16 13:39] DariaMarkaryan opened #13927 "Unicode symbol for false value shifted up in data editor"
#### System information:
- Operating system: Linux
- DBeaver 21.2.1

#### Describe the problem you're observing:
![Screenshot 2021-09-16 at 16 35 23](https://user-images.githubusercontent.com/43252954/133621898-02c42f3d-00b3-416a-a7ef-49dc6a014cf8.png)

[2021-09-16 13:42] sg-cmusser commented on #13658
I'm having this issue as well - Version 21.1.4.202108020335, Windows 10.

Also, I've found that a work around it to close the "Output" tab which causes the search to default back to the text editor. But, this isn't ideal if I want to keep the Output tab.

[2021-09-16 13:44] duri0214 commented on #13388
no, doesn't connect by DBeaver

[2021-09-16 13:51] uslss commented on #13388
could you check if SSL is enabled if used and that the main tab in connection settings is filled in with correct values?

[2021-09-16 14:11] ShadelessFox commented on #12771
1. Installer now saves the last selected language across installations.
2. Installer is already saving the path of last installation, so it should be used during subsequent installations.

[2021-09-16 14:15] duri0214 commented on #13388
solved! Oh, I was misunderstanding.
![image](https://user-images.githubusercontent.com/19668980/133627779-3389bb27-733a-4c4e-aa77-eb1a557c9135.png)
rewrite...
ip: 127.0.0.1
port: 3306

![image](https://user-images.githubusercontent.com/19668980/133628097-b8cb5899-d445-484c-9783-c195be547d2a.png)

Thank you for taking care of me

[2021-09-16 14:15] #13388 closed, assigned to nobody

[2021-09-16 14:52] LonwoLonwo commented on #10832
So now I am confused.
When Multiple schema support is disabled - all queries work fine. Why do people use Multiple schema support then?

[2021-09-16 15:02] KrzysztofDusko commented on #10832
1. This is set by default
2. All queries work but you cannot organize tables by topics/business cases etc, 1 namespaces of tables are for 1 db
 Multiple schema support is disabled = there is only one schema = really means there's no schema functionality = all tables are in one big bag.
Using many schemas in one DB is very common.

[2021-09-16 15:35] LonwoLonwo commented on #10832
Many thanks for your answers @KrzysztofDusko !

[2021-09-16 16:00] jpg1024 commented on #13919
OK, thanks.

I configured the default schema in front of the statement through Preferences->Editors->SQL Editor->Template.

For example (SQLUser is my default Schema):

Name: sf
Mode: select * from SQLUser.${table};

In this way, the Schema can be automatically brought out when entering sf. The problem caused by the inability to switch the Schema is temporarily handled.

[2021-09-16 17:07] Zeioth commented on #3937
I also have this problem on Sway with scaling x2. Why there is not a simple option to resize?

[2021-09-16 20:44] ConstantinoSchillebeeckx opened #13928 "Cannot access Redshift Spectrum table"
#### System information:
- macOS Big Sur 11.6
- 21.2.0

#### Connection specification:
- Redshift server 1.0.29551
- connect through a VPN

#### Describe the problem you're observing:

When trying to query a table that lives inside an external schema (i.e. an AWS Glue database) I get the error:
[code]

I've confirmed (with TablePlus) that the table is indeed accessible.

[2021-09-16 20:51] LonwoLonwo commented on #13928
Hello @ConstantinoSchillebeeckx
Thanks for the bug report.
The problem was fixed here https://github.com/dbeaver/dbeaver/issues/13133 and the fix will be available in DBeaver version 21.2.1.
Or you can download the latest build that includes this fix on our early access page https://dbeaver.io/files/ea/

[2021-09-17 03:59] bradmccormack commented on #13873
I don't really understand why, but a recent update must have broken my SSHJ tunnel too.

What fixed it for me was simply uninstalling the OS packages

In my case. I didn't look into it deeply, but it might help.

[2021-09-17 06:32] techlock77 opened #13931 "Cannot connect to snowflake - driver issue"
#### System information:
- Operating system (distribution) and version - WIN 10
- DBeaver version - 21.1.2.202107041908
- Additional extensions

#### Connection specification:
- Database name and version - Snowflake
- Driver name -
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Cannot connect to the snowflake db, due to some driver libraries. See sn

[2021-09-17 07:20] uslss commented on #13928
closed as a duplicate of #13133

[2021-09-17 07:20] #13928 closed, assigned to nobody

[2021-09-17 07:42] Matvey16 opened #13932 "New object/folder can't be created in root folder in project explorer"
- DBeaver version 21.2.1

#### Describe the problem you're observing:
Focus in project explorer can't be changed to root folder so context menu is always opened for one of the folders.

#### Steps to reproduce, if exist:
1. Right-click on blank space in project explorer
2. Select create new folder
3. Observe the path for folder that is being created

**Expected:** Folder is created in root folder

[2021-09-17 07:51] uslss commented on #13932
duplicates #6818

[2021-09-17 07:51] #13932 closed, assigned to nobody

[2021-09-17 08:04] detkliff commented on #13896
![image](https://user-images.githubusercontent.com/61137576/133747459-300d3ffc-c39d-475d-9c02-59b718cde002.png)

[2021-09-17 08:06] ShadelessFox commented on #13873
Hello @bradmccormack,

Thanks for the info.

The SSHJ extension is not broken, we have updated our codebase to support jump servers and this also affected SSHJ extension. Since it's not bundled, it caused compatibility errors and thus it was important to update it.

[2021-09-17 08:07] detkliff commented on #13896
from log file
![image](https://user-images.githubusercontent.com/61137576/133747928-11182593-dccc-4e4b-b8ad-642724a31abb.png)

[2021-09-17 08:21] allanlaal opened #13933 "Database Navigator: group table names by prefix #ux #roomsaver"
**Is your feature request related to a problem? Please describe.**

I have databases with really long and verbose table names, i.e.:

	  ..
	  module_xx
	  module_todo
	  module_todo_category
	  module_todo_category_toggl_link
	  module_todo_dependency
	  module_todo_menu
	  module_todo_menu_item
	  module_todo_type
	  module_todo_type_keyword
	  module_todo_type_keyword_option
	  module_todo_type

[2021-09-17 08:46] uslss commented on #13910
verified

[2021-09-17 08:46] #13910 closed, assigned to flambchap, uslss

[2021-09-17 08:52] SPalmerLS opened #13934 "Data Transfer via Export - Append to Existing File"
There is no problem, but currently DBeaver will export to a file (in my case .csv), but if I wish to export to an already existing .csv file, the file gets overwritten. What I'd like to see is the option to append to a file on export, OR for DBeaver to realize that the file already exists on export and adds the export data to the first sheet, OR DBeaver will give you the option to append to an exi

[2021-09-17 09:32] serge-rider commented on #13523
Fixed. Now we support RedshiftObject values.

@kseniiaguzeeva please test it with geometry data types.

[2021-09-17 09:57] serge-rider commented on #12934
SAP HANA JDBC driver uses NIO sockets which don't support standard Java proxy.
They have their own proxy configuration in the driver properties: `proxyHostname` and `proxyPort`.

![image](https://user-images.githubusercontent.com/6398845/133764418-3a7c0181-52e5-4f84-a8b3-6fa904c32f64.png)

See documentation here:
https://help.sap.com/viewer/f1b440ded6144a54ada97ff95dac7adf/LATEST/en-US/109397c2206

[2021-09-17 11:42] uslss commented on #12934
verified

[2021-09-17 11:42] #12934 closed, assigned to serge-rider, uslss

[2021-09-17 11:44] Matvey16 opened #13935 "Boolean alignment changes during new row creation"
#### Describe the problem you're observing:
If boolean values alignment is set differently the value will jump in the field every time it is changed. This happens only for new rows.

#### Steps to reproduce, if exist:
1. Set different alignment for different boolean values
2. Create a table with a boolean column
3. Create a new row, but don't persist the changes
4. Try to change the value in a boo

[2021-09-17 12:01] tati-kru opened #13937 "Data transfer wizard redesign"
We need t oadd pages navigation and rework task management controls

[2021-09-17 13:18] ConstantinoSchillebeeckx commented on #13928
I'm having issues with the EA on my mac (dbeaver-ce-21.2.1-macosx.cocoa.x86_64.tar.gz); am I doing something wrong?
![image](https://user-images.githubusercontent.com/8518288/133789024-621cfef7-f9e1-4b97-8c64-9e1bb00f4a38.png)

[2021-09-17 13:33] kseniiaguzeeva commented on #13707
Cannot be reproduced any more (  DBeaver	21.2.1.202109170940)

[2021-09-17 13:33] #13707 closed, assigned to nobody

[2021-09-17 13:49] Martinfx commented on #13874
Thank you

[2021-09-17 13:49] #13874 closed, assigned to nobody

[2021-09-17 13:51] kseniiaguzeeva opened #13939 "Geometry type is not displayed"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.2.1 EA

#### Connection specification:
- Database name and version Redshift

#### Steps to reproduce, if exist:
Open a table with a geometry value

**Expected**: the geometry value is displayed
**Actual result**: an error is displayed instead of the value `org.jkiss.dbeaver.model.exec.DBCException: Erro

[2021-09-17 14:08] kseniiaguzeeva opened #13940 "If a table has two or more references, they are doubled"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.2.1 EA

#### Connection specification:
- Database name and version Redshift

#### Steps to reproduce, if exist:
1. Create a source table with a primary key
2. Create 2 tables with foreign keys to the source table
3. Reconnect to the database and open References tab of the source table

**Expected**: 2 r

[2021-09-17 14:14] Matvey16 commented on #13928
@ConstantinoSchillebeeckx This happens because the EA version is unsigned. As a workaround you need to disable gatekeeper for this file
`xattr -dr com.apple.quarantine ~/Downloads/DBeaver.app` (Replace path with your own, bit it is most likely in your Downloads folder)

[2021-09-17 14:33] ShadelessFox commented on #13925
The <kbd>Restore Defaults</kbd> dialog buttons also resets configuration to the last saved one instead of specifying default values.

[2021-09-17 14:34] serge-rider opened #13943 "Vertical buttons corrupted with HiDPI and Zoom factor 175%"
Vertical buttons are unreadable when we are on 4k monitor and set zoom factor to 175%

[2021-09-17 14:40] ghYura commented on #11345
&lt;DELETEME&gt;One more issue/feature/bug/odd_behavior of **Github** detected. But that is a different story.
QA-teams will always(?) have a job :)
**Be mistaken - my credo**
_In Whom V trust?
The REST - V test._
Ad-hoc/free-form-search technique used
&lt;/DELETEME&gt;

[2021-09-17 15:34] rnemana commented on #13918
hmm.... interesting. Let me see if I can reproduce and I'll get back to  you.  Meanwhile, I'll close this. I don't want it to pollute your open ticket  queue.

[2021-09-17 15:34] #13918 closed, assigned to nobody

[2021-09-17 15:57] MarkFergusonTN commented on #1651
Is there a way to "upvote" this feature?

[2021-09-17 18:44] ghost commented on #13873
Hello I have the same problem after update, I follow the steps but can't fixed it, any suggestion?

Also I unistall dbeaver-plugin-sshj dbeaver-plugin-sshj-lib but it's the same

[code]

[2021-09-17 20:32] higgsja opened #13945 "SQL Editor Blank Lines"
#### System information:
- Operating system (distribution) and version Linux Mint 20
- DBeaver version 21.2.0
- Additional extensions

#### Connection specification:
- Database name and version MariaDb
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:
Leaving blank lines in the SQL editor causes an execution of the SQL to fail. I like

[2021-09-17 20:45] higgsja opened #13946 "SQL Editor tear off and tear off add to previous tearoff"
#### System information:
- Operating system (distribution) and version Linux Mint 12
- DBeaver version 20
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When you tear off an SQL editor from the main window, the cursor becomes the circle with slash, i

[2021-09-18 07:42] dsimon-dev commented on #13873
I don't know, I'll just wait for the Arch maintainer to update the plugins since I don't urgently need the functionality.

[2021-09-18 09:56] #13919 closed, assigned to nobody

[2021-09-18 13:10] kseniiaguzeeva opened #13947 "Geometry values cannot be edited via UI"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver	21.2.1.202109181243
#### Connection specification:
- Database name and version Redshift

#### Steps to reproduce, if exist:
Try to add a geometry value via UI

**Expected**: the value is inserted and displayed correctly
**Actual result**: the value cannot be saved and the error appears:

![dbeaver_velSQVNAAI](ht

[2021-09-18 13:11] kseniiaguzeeva commented on #13939
Values are displayed, but cannot be edited via UI. Separate ticket is created https://github.com/dbeaver/dbeaver/issues/13947.

[2021-09-18 13:11] #13939 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-09-18 17:47] LonwoLonwo commented on #1651
Hello @MarkFergusonTN

I've already added this ticket in 21.3.1 Milestone, which is dedicated to the metadata. It means, that our team takes this task to work.

[2021-09-19 05:21] eyallibarak commented on #12855
Now with version 21.1.5.202108160727 the issue is gone.

Noticed something new maybe (good new functionality?) - given a select like this:
select * from interest i where interestType like "%ניסיון%"
 - when the carret is on the Hebrew word,  the input language is changed to Hebrew, and when moved elsewhere (or in other application windows) changes back to English.

[2021-09-19 05:21] #12855 closed, assigned to nobody

[2021-09-19 17:30] uslss commented on #13946
@higgsja could you provide a video with the issue?

[2021-09-19 17:34] uslss commented on #13945
@higgsja could you try to disable Blank line is statement delimiter option in preferences and check if it helps?
![image](https://user-images.githubusercontent.com/31996417/133937140-4412465d-3232-4300-9da5-e1be6c7373f3.png)

[2021-09-19 17:57] uslss commented on #13875
Unfortunately, it is hard to understand what is going wrong :( Could you provide video once again with Show keybinding when command is invoked through keyboard option enabled? Also it will be helpful if bottom toolbar with save/cancel/script button will be visible. Thanks in advance
![image](https://user-images.githubusercontent.com/31996417/133937791-72d3a8a1-53c4-4177-9e1a-f129c4dccb93.png)

[2021-09-19 18:01] uslss commented on #13897
thanks for the report.
duplicates #11850 .
Will be fixed in 21.2.1

[2021-09-19 18:01] #13897 closed, assigned to nobody

[2021-09-20 01:09] tohghua commented on #13717
Could we just downgrade @JSQLParser?

[2021-09-20 01:20] yaoguoba commented on #12441
- MacOS X M1 installer was added (beta)

dbeaver-ce-21.2.1-macos-aarch64.dmg
dbeaver-ce-21.2.1-macos-x86_64.dmg
dbeaver-ce-21.2.1-macosx.cocoa.aarch64.tar.gz
dbeaver-ce-21.2.1-macosx.cocoa.x86_64.tar.gz

which link is for M1 version?

[2021-09-20 02:02] ngohungphuc commented on #12441
@yaoguoba dbeaver-ce-21.2.1-macos-aarch64.dmg

[2021-09-20 02:11] monosabio commented on #10234
Solved easily by renaming **org.eclipse.osgi** folder located in %userprofile%\\.eclipse\org.jkiss.dbeaver.product_21.2.1_1535670467_win32_win32_x86_64\configuration

By renaming the **org.eclipse.osgi**  folder  the splash screen immediately stops blinking.

Edit: Just delete the **.manager** folder to solve the splash screen issue: %userprofile%\\.eclipse\org.jkiss.dbeaver.product_xxxxxx\configu

[2021-09-20 02:15] yaoguoba commented on #12441
![image](https://user-images.githubusercontent.com/18393410/133951447-e363457e-95a7-4dec-ab02-8ee3157d5125.png)

@ngohungphuc but why it's still intel app.

[2021-09-20 02:30] koktszhozelca commented on #10450
Hello, this issue is happening again.

DBeaver Version: 21.2.1.202109181446
Mac OS Version : Catalina 10.15.7

thanks

[2021-09-20 02:43] louis-hoang21 commented on #12441
[Here is it](https://dbeaver.io/files/ea/). But I tested it but it's not working on the m1. Currently, it is still running via rosetta 2
<img width="946" alt="Screen Shot 2021-09-20 at 09 42 10" src="https://user-images.githubusercontent.com/35162077/133952622-81ce11c4-8d80-4ff5-bd36-cff21ea57a1e.png">

[2021-09-20 02:43] ngohungphuc commented on #12441
@yaoguoba No idea :D You need to ask the contributor

[2021-09-20 02:58] yaoguoba commented on #12441
@serge-rider is the file wrong?

[2021-09-20 03:23] quicksnap commented on #12441
Yesssssssssssssssss I love you all thank you so much! I will test soon.

[2021-09-20 04:28] DariaMarkaryan opened #13948 "[HANA] wrong alter table add column syntax"
#### System information:
- DBeaver 21.2.1 CE
- Sap Hana

#### Describe the problem you're observing:
If you perform import/export into table and it require column creation you'll catch SQL error.
Correct syntax: ALTER TABLE SCHEMA.TABLE ADD **(COLUMNNAME INTEGER)**
Actual query:
![image](https://user-images.githubusercontent.com/43252954/133956889-0546f044-c967-4c99-afbe-244a5fbf36f3.png)

#### In

[2021-09-20 04:40] DariaMarkaryan opened #13949 "[HANA] hyperlink in sql console for table doesn't work without specifying the scheme"
#### System information:
- Win 10
- DBeaver CE 21.2.1

#### Connection specification:
- SAP HANA

#### Describe the problem you're observing:
1. Open SQL editor for HANA connection.
2. Select active scheme
3. write a simple script (like this : SELECT * FROM NEWTABLE;) with the name of the table, but without specifying the schema.
Expected: you can navigate to the table with ctrl pressed and mouse

[2021-09-20 04:58] supervate commented on #12441
the aarch still running in intel archtecture,and still slow and laggy...

[2021-09-20 04:59] DariaMarkaryan opened #13950 "Search in data editor by Ctrl+F starts by formatted numbers and therefore can't find anything"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Describe the problem you're observing:
1. Set data formatting for integer that contains any formatting symbols
2. Find  or create a value where you will see the formatting in action
3. Select this cell and press Ctrl+F
Actual: You can see that search window contains formatted inte

[2021-09-20 06:26] chrisv5 commented on #13589
I can confirm that this bug has been fixed. As a side notice, numbers are now stored as floating point numbers in tasks.json, while they were integers previously. (I have a rather complex tasks.json versioned, thus I could easily verify/compare)

[2021-09-20 06:38] ShadelessFox commented on #13717
No, we can't. Downgrading will cause other kinds of bugs in other places.

[2021-09-20 07:03] Matvey16 opened #13951 "Support for path variables in data transfer"
We need to support path variables in Data transfer, like we already do for ssh key path. Right now DBeaver only supports OS variables like `%APPDATA%`, but does not support client variables like `${project.path}`

Users should be able to enter a path for example like this:

![eclipse_oyI20OIPGM](https://user-images.githubusercontent.com/82543000/133966429-f9f57499-c3c6-473a-868b-e6a34f6f3ba3.png)

[2021-09-20 07:39] Matvey16 opened #13952 "Execution plan is saved without extension"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.1
- Additional extensions

#### Steps to reproduce, if exist:
1. Open an execution plan for a query
2. Click <kbd>Save plan</kbd>
3. Enter a name and select .dbplan extension

**Expected:** Plan is saved as `plan_name.dbplan`
**Actual:** Plan is saved as `plan_name`

The same behavior is observed wh

[2021-09-20 07:41] ghYura commented on #11345
@ShadelessFox Now we have general-for-all booleans representation. Thanks! :) Can we associate custom adjustment for each boolean column boolean-view adjustments individually? How about each column individual representation binding (in terms of code - each bool-column object - own sub-object viewing adjustments), that overrides general?
In such bool-column names (headers) probably special marking/

[2021-09-20 08:14] ShadelessFox commented on #11345
No, we can't.

You can create a separate FR and we'll discuss it in the future.

But I think it would be an overkill for such a small feature.

[2021-09-20 08:53] Matvey16 commented on #13029
Still reproducible for Databases with gis extension. Reproducible only when installing a version from dbeaver.io on top of a newer version.

[2021-09-20 08:57] Matvey16 commented on #13029
[code]

[2021-09-20 09:00] lorenzogatti opened #13954 "Activity execution log sorting anomaly"
- Windows 10
- DBeaver 21.2.0

I have a database activity consisting of one SQL script of UPDATE and TRUNCATE statements, running very fast (350 to 450 ms) on a local MariaDB database.
I executed it twice within one second, first with a SqlException (due to a problem in my script and entirely expected) and then after saving the corrected script.
The later execution appeared below the earlier one i

[2021-09-20 09:27] Matvey16 commented on #13029
This is a third party issue with Java. Bug happens when downgrading DBeaver version. For now this can't be fixed and the only workaround is the delete the `.eclipse` folder before install.

[2021-09-20 09:27] #13029 closed, assigned to Matvey16

[2021-09-20 09:30] ShadelessFox opened #13955 "Add a shortcut for `Set to NULL` action"
#### System information:
- Operating system (distribution) and version: **Windows 10**
- DBeaver version: DBeaver 21.2.2
- Additional extensions

#### Describe the problem you're observing:
There's undocumented behavior of cutting-out cell's value using <kbd>Shift+Delete</kbd>. It would be more convenient to assign this shortcut to <kbd>Edit</kbd> &rArr; <kbd>Set to NULL</kbd> action instead becau

[2021-09-20 09:35] DariaMarkaryan opened #13956 "[HANA] Wrong schema used on update table data"
#### System information:
- Win10, DBeaver CE 21.2.1

#### Connection specification:
- SAP HANA
-
#### Describe the problem you're observing:
Can't add new data in non-default schema - query for adding a new row always contains the name of the default scheme

#### Steps to reproduce, if exist:
Try to save new data in schema that is not default and you'll get an error

#### Include any warning/error

[2021-09-20 09:51] th commented on #13875
![dbeaver](https://user-images.githubusercontent.com/153996/133983997-137b13a9-647c-482c-85eb-e9b45f516f1c.gif)

[2021-09-20 10:30] c-o-m-m-a-n-d-e-r-d-a-t-a commented on #5443
I also have this problem...

[2021-09-20 10:31] ShadelessFox commented on #13349
Depends on #13352

[2021-09-20 10:41] serge-rider commented on #13868
Done

[2021-09-20 10:42] Matvey16 commented on #13758
@halilim The main point is: We made 100 rows a minimum value, because DBeaver by default auto-fetches more rows if you scroll to the end of already fetched rows. It means that if you set it to 1, it will auto-fetch the next one until they fill the whole screen.

We plan to add an option to lift the restriction on minimum fetch size, but it won't work if auto-fetch is enabled.

[2021-09-20 10:56] Matvey16 commented on #13876
@fossildoc I was talking about fetched rows because the "Find/Replace" search is intended for them. They are different operations. DB Full-text performs a query on your database, so indexed search lowers the cost of that query. But the search with <kbd>ctrl+f</kbd> is performed on the client only on the fields that are fetched currently in data editor and doesn't actually interact with your databa

[2021-09-20 11:41] rproserpio commented on #13868
Thanks!

[2021-09-20 11:41] #13868 closed, assigned to serge-rider

[2021-09-20 11:50] higgsja commented on #13945
Well done. I did not consider there would be such a preference to look for!

On 9/19/21 12:34 PM, Dziyana wrote:

--
a

--

Thanks!
West Point 1976 H-3
	Join us! <https://hlh-tx.com> 	*Mission:* To measurably improve
investor performance

" ... techniques shrouded in mystery clearly have value to the purveyor
of investment advice. After all, what witch doctor has ever achieved
fame and fortune by

[2021-09-20 12:02] #13945 closed, assigned to nobody

[2021-09-20 12:24] LonwoLonwo commented on #13745
Fixed in DBeaver 21.2.2

[2021-09-20 12:37] fossildoc commented on #13876
For the life of me I cannot fathom what you don't understand about my
request. I don't see any ambiguity in it. Let's go through it one more time
with feeling. I'll speak slowly and loudly, like I was talking to a foreign
tourist.

CTRL-F FIND/REPLACE WILL RETURN A SUBSET OF THE FETCHED ROWS OF THE
CURRENTLY DISPLAYED TABLE FOR WHICH THE SEARCH TARGET IS FOUND IN ANY OF
THE DISPLAYED COLUMNS.

I W

[2021-09-20 12:39] LonwoLonwo commented on #13589
Hmm, I see this point about float numbers in my tasks.json.
Please @chrisv5 tell me, does the replacement of integers in floating-point numbers interfere with you work?

[2021-09-20 12:46] detkliff opened #13960 "chose the timezone in dbeaver option"
Dbeaver 21.2.0

For all version DBeaver, i put timezone parameter to dbeaver ini file
I aded string
-Duser.timezone=Europe/Moscow

But it is very uncomfortable because this operation needs to be performed every DBeaver upgrade.

[2021-09-20 12:54] fossildoc commented on #11481
This request has been resubmitted as #13876.

[2021-09-20 12:54] #11481 closed, assigned to nobody

[2021-09-20 13:25] 2mik commented on #1489
Is there any plan to create UI for updating data source ID?

[2021-09-20 13:29] halilim commented on #13758
@Matvey16 oh right, sorry, completely forgot about the fact that it wouldn't fill the screen that way. I guess I thought that it's purely activated by the mouse and is not connected to the scrollbar. For those cases, can it be modified/would it make sense to work only on mouse scroll, rather than automatically?

[2021-09-20 14:45] flambchap commented on #9414
Looks like a duplicate of https://github.com/dbeaver/dbeaver/issues/4483

[2021-09-20 14:50] DariaMarkaryan commented on #13745
Veified

[2021-09-20 14:50] #13745 closed, assigned to DariyaFedorova, LonwoLonwo

[2021-09-20 15:01] luisds95 opened #13961 "Exports from Trino to MSSQL fail on timestamp columns with dates"
#### System information:
- OS: Windows 10 Pro 64-bit
- DBeaver version: 21.2.1.202109181446
- Additional extensions: None

#### Connection specification:
- Database name and version: Trino 359
- Driver name: Trino JDBC Driver 359
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH Tunnel

#### Describe the problem you're observing:
When exporting data, reading from Trino 359 to Microsoft SQL Se

[2021-09-20 15:40] ShadelessFox commented on #13960
Hello @detkliff,

Timezone can be configured in time/timestamp formatters:

![image](https://user-images.githubusercontent.com/35821147/134031330-6b2b109d-c30f-4a3b-899b-72eaddfd1f62.png)

[2021-09-20 15:58] detkliff commented on #13960
this parameter pointed in global settings but no effect

![image](https://user-images.githubusercontent.com/61137576/134034447-d25f5b14-bbaa-401f-a352-9e9de700183b.png)

[2021-09-20 16:03] ShadelessFox commented on #13960
Looks like your column has type of `timestamp with timezone`.

Currently, the only way to set local timezone is to use your hack described earlier.

Probably we should allow to define a timezone offset for zoned time types.

[2021-09-20 16:23] techlock77 commented on #13931
@uslss Can you please steer me in the right direction.

Thanks for your help in advance.

[2021-09-20 17:33] andreescastano commented on #546
+1
dont't forget us!

[2021-09-20 17:41] mauro-palumbo opened #13962 "Something went wrong on latest update 21.2.1"
After latest update on my MacOS 11.6 I'm unable to see any description (connections, tables, scripts....)
![Snip20210920_1](https://user-images.githubusercontent.com/8257804/134048858-17ee0497-9d68-4364-a75e-43e56283b4f6.png)

[2021-09-20 19:06] ConstantinoSchillebeeckx opened #13963 "Queries against Redshift very slow"
#### System information:
- macOSX 11.6 (Big Sur)
- DBeaver 21.2.1

#### Connection specification:
- Connecting to a Redshift cluster

#### Describe the problem you're observing:

I'm querying an external schema with a simple select; it seems like the rows are fetched quite quickly but then the client sites there for several minutes doing _something_. For example, in the results shown below, I don'

[2021-09-20 19:08] snifer1981 commented on #8673
I'm affected by this bug, also. I've found 2 workarounds to see the real value stored in the database:
1. Use "to_char".
2. Change DBeaver settings to show Timezone in timestamp fields, so I know which timezone is being considered for a specific value (useful for regions with Daylight Saving Time, where different timezones are used in different dates).

[2021-09-20 19:10] clavarreda commented on #13962
Try disabling themes in `Preferences > User Interface > Appearance > Enable theming`

[2021-09-20 20:21] mauro-palumbo commented on #13962
Thank you. This works for me. Now it seems DBeaver matches the OS appearance (light, dark).

[2021-09-20 20:21] #13962 closed, assigned to nobody

[2021-09-20 20:29] clavarreda commented on #13962
In my case theme support is broken. SQL Editor colors didn't match the selected theme and I had to make some adjustments in order to use DBeaver. There should be an option to return to the exact pre-update behavior until theme support could be fixed

[2021-09-21 07:51] serge-rider commented on #13141
We will upgrade JSQLPArser in the next version of DBeaver.

@manticore-projects @lukaseder thank you for the investigation 👍

[2021-09-21 08:03] ppruchnicki commented on #915
Unfortunately error persist in the 18.3.0.0 driver version, I'm unable to use 12.2.0.1 due to wallet configuration. Using @kiravi example the obtainable error is still displaying cursor position not the error line like it's done in SQL Developer:
`SQL Error [904] [42000]: ORA-00904: "T": invalid identifier`

[2021-09-21 08:05] ppruchnicki opened #13964 "Oracle: show error position in SQL query"
Unfortunately error persist in the 18.3.0.0 driver version, I'm unable to use 12.2.0.1 due to wallet configuration. Using @kiravi example the obtainable error is still displaying cursor position not the error line like it's done in SQL Developer:
`SQL Error [904] [42000]: ORA-00904: "T": invalid identifier`

_Originally posted by @ppruchnicki in https://github.com/dbeaver/dbeaver/issues/915#issuec

[2021-09-21 08:10] binodkalathil commented on #13700
@uslss That allows opening multiple files, however it opens each file in a separate tab needing the user to execute each script. If the user have 10 scripts then this is going to be too much manual work.

[2021-09-21 08:13] serge-rider commented on #13142
Fixed

[2021-09-21 08:57] Matvey16 commented on #12285
Can't reproduce it on Eclipse. On DBeaver it is reproducible only for Data Editor and SQL Editor windows and crashes only for windows that were in focus right before they are detached.

Mac OS error log:
<details>

[code]

</details>

[2021-09-21 10:29] thecodingcod commented on #6617
Hi  @tz182736  , In case you're still interested
I've created a detailed gist with steps I've tried to make it work for me
https://gist.github.com/thecodingcod/a3987ddde8892d1a6bda8bd94febb7d0

[2021-09-21 11:25] Matvey16 commented on #13876
@fossildoc I don't understand why you think that ctrl+f has anything to do with database design or table metadata (index in this case). As I already said this search has nothing to do with any metadata or indexes, it doesn't even return a subset of rows, it returns a subset of table cells that contain alphanumeric value that you specified in your search. I want to again point on the fact that this

[2021-09-21 15:02] beckrion opened #13965 "IBM DB2 AS 400 Database table description not show after version 12.0.1"
Hello,

The new version of DBeaver will show Table Description empty at IBM DB2 As 400

It happens at the version after 12.0.1

[2021-09-21 15:25] 2nal2 commented on #12441
I also downloaded the dbeaver-ce-21.2.1-macos-aarch64.dmg and run as intel for me too

[2021-09-21 15:52] sbreakey opened #13966 "Pressing return between two lines of code deletes the next line on macOS Catalina"
#### System information:
- Operating system (distribution) and version: macOS Catalina 10.15.7 (19H524)
- DBeaver version: Version 21.2.1.202109181446
- Additional extensions: none

#### Connection specification:
- Database name and version: not applicable
- Driver name: not applicable
- Do you use tunnels or proxies (SSH, SOCKS, etc)? not applicable

#### Describe the problem you're observing:
Th

[2021-09-21 15:53] sbreakey commented on #10450
Also getting this on macOS Catalina. Raised a new ticket for it: https://github.com/dbeaver/dbeaver/issues/13966

[2021-09-21 16:14] YuriDude opened #13967 "Please add configuration options for generation of ERD with include or exclude Views & M-Views"
**Is your feature request related to a problem? Please describe.**
Current behavior: when an ERD is generated it includes views.
Technically, views are **NOT** data objects, but _**derived**_ objects;  they a re just statements with Data Dictionary.
Thus, by default , they should be precluded from ERD.
Behavior for Materialized views is not checked, but it should have the same approach (excluded b

[2021-09-21 16:21] cxgillis opened #13968 "UI on MacOS not displaying correctly on system dark theme"
When upgrading from 21.2.0 to 21.2.1 on MacOS Big Sur (11.5.2) the UI display is non-longer usable e.g. fonts are incorrect, text does not appear, menus are invisible, etc. This appears to be the same issue as [13962](https://github.com/dbeaver/dbeaver/issues/13962) ; which was marked as closed as a work-around is to disable theming (which also worked for me) but it seems like that is not actually

[2021-09-21 16:38] YuriDude opened #13969 "Failed object (view) prevented generation of the whole ERD"
#### System information:
- Operating system (distribution) and version: Windows 10.0.19042.1165
- DBeaver version: Version 21.2.0.202109011400
- Additional extensions: none

#### Connection specification:
- Database name and version: SQL Server 2014
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : VPN

#### Describe the problem you're observing:
While trying to generate ERD whole

[2021-09-21 16:44] Xylandor opened #13970 "Generated SQL Preview Window Not Showing First Two Lines"
#### System information:
- Operating system (distribution) and version: MacOS Big Sur 11.4
- DBeaver version: Community 21.2.1.202109181446
- Additional extensions: None

#### Connection specification:
- Database name and version: MySQL 5.7
- Driver name: MySQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When generating SQL (insert/Update/et

[2021-09-21 17:56] puvi7722 commented on #12668
@kafene - Thanks Man. Removing TLSv1, TLSv1.1 from jdk.tls.disabledAlgorithms helped me to fix my issue.

[2021-09-21 18:32] givihuda opened #13971 "Data results panel doesn't add or update horizontal scrollbar upon column resize"
#### System information:
- Operating system (distribution) and version Mac OS Big Sur 11.6
- DBeaver version Version 21.2.0.202108291732
- Additional extensions ?

#### Connection specification:
- Database name and version doesn't matter
- Driver name not applicable
- Do you use tunnels or proxies (SSH, SOCKS, etc)? not applicable

#### Describe the problem you're observing:

Resizing data columns

[2021-09-21 21:58] JaggedJax commented on #13892
Confirmed that this is fixed in 21.2.1

[2021-09-22 01:41] jonabend-uptake opened #13972 "Space character lost when importing text[] array from CSV to Postgres"
#### System information:
- OS: MacOS 11.6
- DBeaver version: 21.2.0.202108291732
- Additional extensions: None

#### Connection specification:
- Postges 13.4
- Driver name: PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No...local DB

#### Describe the problem you're observing:
When importing CSV with a text array, any spaces in array values are lost during import.

To fully test th

[2021-09-22 01:50] schmitzkr opened #13973 "allow notifications to appear in the GNOME notification area"
**Is your feature request related to a problem? Please describe.**
Sometimes I miss notifications or they need to be dismissed and that can be distracting.  It might help if they appeared in the gnome notification area.  I have illustrated this in the attached screenshot, i took this after invalidating/reconnecting a db.
![2021-09-21_18-42](https://user-images.githubusercontent.com/10168621/134270

[2021-09-22 03:49] noorsyamiera92 opened #13974 "Loading Proposals Takes Very Long - mac mysql"
#### System information:
- macOS 11.6
- DBeaver 21.2.1
- Additional extensions

#### Connection specification:
- MySQL 5.7
- MySQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes

#### Describe the problem you're observing:
Before update to new version , the proposal does look ok , and load fast. After update to 21.2.1 , it loads very slow.
Its like a minute , then only come out the proposa

[2021-09-22 07:54] priyesh86 commented on #13968
I am having the same issue on MacOS Mojave (10.14.6).

[2021-09-22 08:07] flambchap commented on #13970
Hi. This is [a known issue](https://github.com/dbeaver/dbeaver/issues/13882), we're going to fix it in one of our future updates. Thank you for the report.

As a workaround, you can resize the window, and the script will appear just fine.

[2021-09-22 08:07] #13970 closed, assigned to nobody

[2021-09-22 08:07] LonwoLonwo commented on #12405
Sorry @KirtiDipun no special steps in my case, so I can't say - why I can connect to my test Sybase 16 database without password encryption. And no special setting, as our database administrator, said.

Can you please test the [last DBeaver version](https://dbeaver.io/)? We added a "bouncy castle". And I need to know, will there be enough to change ENCRYPT_PASSWORD=true when you press the "Enable

[2021-09-22 08:20] ems2811 commented on #13974
The same problem on PostgreSQL:

PG SQL 11.11 via SSH DBeaver 21.2.1 "Search proposals...." 3 min. 20 sec.
PG SQL 11.11 via SSH DBeaver 21.2.0 "Search proposals...." 3 sec. (same searching, same DB load)

PG SQL 9.5 DBeaver 21.2.1 "Search proposals...." 22 sec.
PG SQL 9.5 DBeaver 21.2.0 "Search proposals...." 2 sec. (same searching, same DB load)

Search query in statistic executes fast, but "Sear

[2021-09-22 08:25] LonwoLonwo commented on #13931
Hello @techlock77
This problem often happens, when DBeaver

https://github.com/dbeaver/dbeaver/issues/11862#issuecomment-806441885

[2021-09-22 08:26] allipatev commented on #13568
Thanks your response @LonwoLonwo.
Maybe Exasol will also add the functions into JDBCDatabaseMetaData methods output.

[2021-09-22 08:26] LonwoLonwo commented on #13931
Hello @techlock77
It can be a problem with the internet connection.
These links can be helpful:

https://github.com/dbeaver/dbeaver/issues/11862#issuecomment-806441885
https://github.com/dbeaver/dbeaver/issues/9812#issuecomment-878181728

[2021-09-22 08:49] Matvey16 commented on #13352
Verified

[2021-09-22 08:49] #13352 closed, assigned to ShadelessFox, Matvey16

[2021-09-22 09:16] KirtiDipun commented on #12405
HI - In my org we are using DBeaver version 21.0.3 in which we need to add
bouncy castle and set password encryption to true. I'll try the latest
version as you mentioned and will let you know. And yes password encryption
enabling would be suffice and no other changes required.

On Wed, 22 Sept 2021 at 16:07, Anastasiya ***@***.***> wrote:

--
Thanks & Regards
Kirti Ranjan Behera
09742745878

[2021-09-22 09:55] GiannisDimitriou commented on #13717
To be honest I find it strange that the project relied to a 3rd party library that is not stable.
Essentially whoever wants to use DBeaver for anything else than simple 'select' queries must stay at a version <=21.1.3

[2021-09-22 10:01] noorsyamiera92 commented on #13974
Yea. Im downgrading to lower version coz i dont wanna waste my working time to wait for it to load.

[2021-09-22 10:06] nikiromagnoli opened #13976 "Mark occurrences in column of selected result cell value"
**Is your feature request related to a problem? Please describe.**
Not a real problem, almost the same could be accomplished by entering a filter, but it's more for a quick-sight user-experience.
I didn't spot a previous issue about this.

**Describe the solution you'd like**
Sort of #222 but in results:
- when you select a cell in result grid
- highlight cells in same column that match selected c

[2021-09-22 10:50] ShadelessFox commented on #13717
This library attempts to be "universal" by handling every possible SQL syntax structure of several dialects in a cost of performance impact. I'm not trying to say that the latter is expected, of course such things are inappropriate and should be fixed.

Actually, we've updated this library to newer version, can you try running your query against the EA version?

https://dbeaver.io/files/ea/

[2021-09-22 11:43] flambchap commented on #13968
Hi @cxgillis. That's not good at all. We will investigate this issue. Thank you for the report.

[2021-09-22 11:59] Lewiszz opened #13977 "Start button not automatically enabled in PostgreSQL backup when using "All" button for selecting schemas"
#### System information:
- Windows 10 Pro
- DBeaver 21.2.1

#### Connection specification:
- PostgreSQL 10.16
- PostgreSQL

#### Describe the problem you're observing:
In the pop-up window that opens when creating a backup, the "Next" and "Start" buttons remain disabled even when all objects are selected for export using the "All" button.

![afbeelding](https://user-images.githubusercontent.com/38

[2021-09-22 12:03] LonwoLonwo commented on #7820
UK support implemented in EE Dbeaver version for Snowflake.

![2021-09-15 10_47_08-DBeaver Enterprise 21 2 1 - UK](https://user-images.githubusercontent.com/45152336/134339842-1bee4e94-c926-4523-b0c8-6880551b2461.png)

Unique keys are in a special tab in the table viewer. They can be created via UI.

Also, better schema support is implemented in the EE version.

More schema information in Schema t

[2021-09-22 12:14] LonwoLonwo commented on #13977
Thanks for the bug report @Lewiszz !

[2021-09-22 12:36] hoanbv128 opened #13980 "light theme error"
<img width="1064" alt="Screen Shot 2021-09-22 at 19 36 29" src="https://user-images.githubusercontent.com/73464019/134344618-0488f73b-e868-4e08-84d5-d4f6eabe9b9b.png">

[2021-09-22 12:45] tati-kru commented on #13924
This is a bug, thank you for the report.

[2021-09-22 12:50] tati-kru commented on #13933
This sounds like a good idea. Thank you!

[2021-09-22 12:52] tati-kru commented on #13934
We're going to implement that for sure. Thank you for the idea.

[2021-09-22 13:09] tati-kru commented on #13964
Thank you for the report.

[2021-09-22 13:16] tati-kru commented on #13969
I think we should display a warning if DBeaver failed to load an object and continue diagram loading anyway. Thank you for the report.

[2021-09-22 13:20] tati-kru commented on #13972
Thank you for the report.

[2021-09-22 13:31] tati-kru commented on #13976
Thank you for the idea.

[2021-09-22 13:33] YuriDude commented on #13969
Perhaps ...
But a single object should not stop "the whole" process.
As an option: you may add configuration feature that sets **threshold** of failed objects, e.g. when 5 (X amount) failed - ABORT the process.

[2021-09-22 13:37] flambchap commented on #13980
This a duplicate of https://github.com/dbeaver/dbeaver/issues/13968. Thank you for the report.

[2021-09-22 13:37] #13980 closed, assigned to nobody

[2021-09-22 13:51] ivanlonel opened #13981 "Virtual foreign keys break when changing project navigator view preset from advanced to simple"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro 20H2
- DBeaver version: 21.2.1
- Additional extensions: Office support, git support, SSHJ, Debug and SVG

#### Connection specification:
- Database name and version: Postgresql 12.4
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're obser

[2021-09-22 13:57] Matvey16 commented on #13696
@WolfX2 We can think about the implementation, but for now you can use this eclipse plugin https://marketplace.eclipse.org/content/indent-guide
It works in DBeaver too

[2021-09-22 13:59] Matvey16 commented on #13962
Steps to reproduce:
1. Set OS theme to Dark
2. Set DBeaver theme to Light

[2021-09-22 14:00] Matvey16 commented on #13968
Steps to reproduce:
1. Set OS theme to Dark
2. Set DBeaver theme to Ligh

[2021-09-22 14:56] dfx413 commented on #9766
It's a pity that this one keeps getting postponed.

[2021-09-22 16:01] serge-rider commented on #13968
Fixed

[2021-09-22 16:08] shirishkale opened #13982 "Can not import connections from a csv file into Dbeaver"
Hi,

    Even after formatting the columns as mentioned in the documentation, I am still not able to import connections from a csv file into DBeaver.

Shirish

[2021-09-22 17:52] revigit21 opened #13984 "Table lock on Select statement"
#### System information:
-
- DBeaver version :21.2.1

Helloo dbeavers,
Currently no Test or Dev servers to access postgresSQL using Dbeaver Community version , so using Prod server for everything. Querying a table puts a lock on the table. Problem is nightly update jobs are stuck due to this issue as there are offshore folks working during that time. Is there a way to avoid locks on select stateme

[2021-09-22 18:18] uslss commented on #13967
Hi, You could uncheck Show views option in Preferences
![image](https://user-images.githubusercontent.com/31996417/134399565-c6c8997f-46a2-4dac-ab41-14574c0a9a87.png)

[2021-09-22 18:23] uslss commented on #13981
thanks for the report

[2021-09-22 18:27] uslss commented on #13971
thanks for the report

![fGSDErqK3N](https://user-images.githubusercontent.com/31996417/134400788-810a8ddd-b246-42da-b905-8f4d901cb2cf.gif)

[2021-09-22 18:39] YuriDude commented on #13967
@uslss - Thanks for the tip!
it did remove Views from the ERD canvass; **does it the same for Materialized Views**?

As a side note (_since i linked this "feature request" to the bug_ - https://github.com/dbeaver/dbeaver/issues/13969 ):
ERD still failed to be generated.

[2021-09-22 18:46] #13892 closed, assigned to nobody

[2021-09-22 18:50] #12831 closed, assigned to LonwoLonwo

[2021-09-22 18:58] uslss commented on #13875
Unfortunately, still cannot reproduce (gif attached). Is it reproducible for you against the recent version?
![8YQaUZKHsO](https://user-images.githubusercontent.com/31996417/134405040-7fbf95ac-db29-45f4-9ab9-f86c1c9156c5.gif)

[2021-09-22 19:10] #13886 closed, assigned to LonwoLonwo

[2021-09-22 19:16] uslss commented on #13094
closed as a duplicate of #2316

[2021-09-22 19:16] #13094 closed, assigned to nobody

[2021-09-22 19:28] givihuda commented on #13971
@uslss Thanks for adding an animation... I'm not sure how to do this (though I also can't show proprietary company info).

Would you leave instructions for how you made the animated screenshot? I could probably use that at times for issues or discussions.

[2021-09-22 19:31] #4401 closed

[2021-09-22 19:33] uslss commented on #10669
fixed in 21.2.1

[2021-09-22 19:46] uslss commented on #12078
seems the issue is fixed.
Test 6 is successfully executed as a script in 21.2.1

[2021-09-22 19:46] #12078 closed, assigned to LonwoLonwo

[2021-09-22 20:16] mihalyr opened #13987 "Incorrect fractional second handling in DBeaver"
#### System information:
- Operating system (distribution) and version: Fedora 34, 5.13.16-200.fc34.x86_64
- DBeaver version: 21.1.2.202107041908
- Additional extensions: No

#### Connection specification:
- Database name and version: PostgreSQL 11.12 (RDS)
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

But I was able to reproduce this locally in my Do

[2021-09-22 20:55] uslss commented on #13987
thanks for the report

[2021-09-22 21:02] wsjlamoureaux commented on #13974
Same problem on MacOS Catalina (10.15.7) after upgrading to 21.2.1

[2021-09-22 23:09] flzpenteado commented on #9414
Same problem here...

[2021-09-23 02:31] zhouqing-inovance commented on #13894
I deleted my data and reinstalled the software,it done.
but a few days it reproduced again.
my steps is similar like straklhl. open a sql file and it promot the error。

[2021-09-23 04:51] ghost commented on #1446
@kseniiaguzeeva It's Actual for me too. Thank you.

[2021-09-23 06:22] detkliff commented on #13960
very good! This option very relevant for many developers, this query for DBeaver i sow in github meny years ago.
We are waiting this option. Thank you.

[2021-09-23 07:00] Matvey16 commented on #13739
@rajeshisnepali Hello, you can open the same table in a split editor by enabling it in Window menu. Do you think that feature is enough for your use case?

![o24Q3KUI4a](https://user-images.githubusercontent.com/82543000/134466253-b09c1ad0-041c-453d-a38b-d9ee1c650d8b.gif)

[2021-09-23 07:24] Matvey16 commented on #13821
Can you post a screenshot of your language window in Windows time a and language settings? And copy a text from installation information of DBeaver

![kPSTClOstn](https://user-images.githubusercontent.com/82543000/134468983-8115990a-1f03-43e2-a857-1d5e0bfe1e85.gif)

[2021-09-23 07:35] Matvey16 commented on #13965
Hello @beckrion . Somwhere between 21.0.1 and current version we changed the default property of AS 400 driver. As I mentioned [here](https://github.com/dbeaver/dbeaver/issues/13322#issuecomment-887416794), those settings can serriously affect different databases in different ways. I recommend you to look closely at driver properties, especially `metadata source` (because it was changed from 0 to

[2021-09-23 07:38] Matvey16 commented on #13961
@luisds95 Can you specify what actuall database you are using behind Trino and add DDLs for tables that are used in this export?

[2021-09-23 07:43] Matvey16 commented on #13974
@noorsyamiera92 Can you show what queries are run in query manager?

[2021-09-23 07:49] Matvey16 commented on #13984
@revigit21 Have you tried using smart commit mode? It will open a transactions for any data modifying query, but auto-commits any select statement

[2021-09-23 07:58] sandnima commented on #13821
@Matvey16
## Screenshots:
![sc-1](https://user-images.githubusercontent.com/46921550/134472103-1871c9b7-ad17-4851-bfb5-b8f548741bef.JPG)
![sc-2](https://user-images.githubusercontent.com/46921550/134472117-86e12458-67b3-460e-a0ec-6a3ca64fec4c.JPG)

## Installation information (in this txt file):
[installation-conf.txt](https://github.com/dbeaver/dbeaver/files/7215820/installation-conf.txt)

[2021-09-23 08:34] ShadelessFox commented on #13894
Hello @zhouqing-inovance,

We can't reproduce this issue, unfortunately. Maybe your PC had a hard reset or DBeaver process was terminated ungracefully.

Is there anything suspicious in the Windows' <kbd>Event Viewer</kbd>?

[2021-09-23 08:39] serge-rider commented on #13943
Fixed

[2021-09-23 08:47] uslss commented on #13982
@shirishkale could you provide steps to reproduce an issue? is there something in the [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-09-23 09:49] Matvey16 commented on #4483
Looks like those shortcuts stop working during a process of loading items for the content assistant, and sometimes persist until restart. I suspect that they persist only when content assitance call leads to a database invalidation and the focus gets messed up.
Maybe the same thing is happening in this ticket #9414

[2021-09-23 10:08] jansohn opened #13988 "Bulk update stored procedure source code"
**Is your feature request related to a problem? Please describe.**
After a DB column rename I have to update more than 100 stored procedures to reference the correct DB column name again. How can I achieve this in a semi-automated way, e.g. exporting, search/replace, importing?

**Describe the solution you'd like**
Most convenient solution would be a search/replace functionality on stored procedur

[2021-09-23 11:11] serge-rider commented on #13180
Fixed

[2021-09-23 11:15] sharadrsoni opened #13989 "Light Theme not working properly on MacOs after update"
#### System information:
- Operating system (distribution) and version - MacOS BigSur 11.6
- DBeaver version - Version 21.2.1.202109181446
- Java version - OpenJDK 11
- Additional extensions

#### Connection specification:
- Database name and version - Oracle 19
- Driver name - Oracle
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
After Update to la

[2021-09-23 11:20] uslss commented on #13989
thanks for the report. Issue is fixed in the scope of #13968

[2021-09-23 11:20] #13989 closed, assigned to nobody

[2021-09-23 13:10] Matvey16 commented on #13180
Verified

[2021-09-23 13:10] #13180 closed, assigned to serge-rider, Matvey16

[2021-09-23 13:57] sharadrsoni commented on #13989
Thanks,
Could you please let us know the expected date for next update?

[2021-09-23 14:26] serge-rider commented on #13177
Fixed

[2021-09-23 15:04] jansohn commented on #13988
Got a solution in T-SQL.

[code]

[2021-09-23 15:04] #13988 closed, assigned to nobody

[2021-09-23 15:09] ShadelessFox opened #13992 "Driver Manager: Can't open driver file by double-clicking on it"
#### System information:
- Operating system (distribution) and version: **Windows 10**
- DBeaver version: **DBeaver 21.2.2**
- Additional extensions: **none**

#### Describe the problem you're observing:
In Driver Manager, if there's any custom jar files added, you can't open them in explorer by double-clicking on them.

#### Include any warning/errors/backtraces from the logs
[code]

[2021-09-23 15:14] getta-mike opened #13993 "role is no longer being double-quoted when adding permissions"
As of recent version or two, when granting permissions on a table (and this could be the case with other objects) the role isn't being properly double-qouted, causing an error.  This error is due to having caps or dashes, etc. in the role name.  Furthermore, this new behavior is observable only when the role doesn't have any permissions to start, i.e., revoking permissions or granting additional p

[2021-09-23 15:20] Matvey16 commented on #4483
Reproduced on Windows as well

[2021-09-23 15:32] getta-mike commented on #13993
**Further info:**
Driver: Postgres
Versions:

[2021-09-23 18:07] shirishkale commented on #13982
The database connections are never imported from the xml / csv files.
Please find attached csv, xml as well as process screenshot

[conn_import_test.csv](https://github.com/dbeaver/dbeaver/files/7219891/conn_import_test.csv)
s
[dbeaver import screenshots.docx](https://github.com/dbeaver/dbeaver/files/7219893/dbeaver.import.screenshots.docx)
.

[2021-09-23 18:38] uslss commented on #13982
@shirishkale
i was able to import connections from your example. But i was need to change column header to lowercase and switch file encoding to UTF-8 from UTF-8-BOM. Could you check if it works for you?
[new2.csv](https://github.com/dbeaver/dbeaver/files/7220037/new2.csv)
![image](https://user-images.githubusercontent.com/31996417/134564691-1a7ae819-f973-4dbd-95b7-52a45b0d8b01.png)

[2021-09-23 19:27] beckrion commented on #13965
Thanks @Matvey16 I tried the setting seems does not work, I update some screens shot for you, hopefully it will help you to solve this issue

This is version 7.3.5, which works fine with the table description

![WechatIMG14359](https://user-images.githubusercontent.com/16887531/134567801-66e29be7-c63b-4be9-92d2-b383589b7466.jpeg)

after I upgrade to 21.0
![WechatIMG14356](https://user-images.githu

[2021-09-23 20:36] jorgediazjd commented on #8371
the problem still occurs.

Can't open editor connection

Razón:
 JZ006: Se ha detectado IOException: java.io.IOException: JZ0TS: Error de truncamiento al intentar enviar DBeaver 7.2.5 - SQLEditor <Script-7.sql>.

[2021-09-23 20:41] raquelliszet commented on #8371
The problem still occurs.
Can't open editor connection

Razón:
 JZ006: Se ha detectado IOException: java.io.IOException: JZ0TS: Error de truncamiento al intentar enviar DBeaver 7.2.5 - SQLEditor <Script-7.sql>.

[2021-09-23 20:43] raquelliszet commented on #8371
This problem occurs when I want to do a query on a sybase database.

[2021-09-23 20:50] raquelliszet opened #13995 "Error when opening SQL Editor - Database Sybase"
#### System information:
- MacOS Big Sur
- DBeaver version: Versión7.2.5.202011152110

Error:
Can't open editor connection

Message:
JZ006: Se ha detectado IOException: java.io.IOException: JZ0TS: Error de truncamiento al intentar enviar DBeaver 7.2.5 - SQLEditor <Script-7.sql>.

[2021-09-23 21:00] shirishkale commented on #13982
Yes it works
Thanks

[2021-09-23 21:00] #13982 closed, assigned to nobody

[2021-09-23 22:14] uslss commented on #13995
@raquelliszet could you check if it is reproducible for you against 21.2.1?

[2021-09-23 23:50] deepaksenthilkumar opened #13997 "Owner of a function/Procedure is not returned for Redshift"
The owner of a function/Procedure is not returned for Redshift in the properties tab

![image](https://user-images.githubusercontent.com/36084950/134598248-944c53b9-3019-4578-b4a2-14e17ab837cf.png)

[2021-09-24 00:00] deepaksenthilkumar commented on #13523
Thanks for fixing this team! It works very well with 2.x driver compared to 1.x driver.

[2021-09-24 03:45] rajeshisnepali commented on #13739
@Matvey16

That is a quite nice feature but this is not what I wanted. When I switch to another table, the existing split tables are gone.

Maybe my question is different but I wanted to visualize (compare) two different tables (which the above steps are helpful but not satisfactory)

![image](https://user-images.githubusercontent.com/23610013/134614899-d6fbb5bf-c8f8-4c58-819e-ff0df760b096.png)

[2021-09-24 06:23] Matvey16 commented on #13177
Verified

[2021-09-24 06:23] #13177 closed, assigned to serge-rider, Matvey16

[2021-09-24 06:33] Matvey16 commented on #13968
The issue still persists, unfortunately.

[2021-09-24 06:56] mrgtt commented on #13974
Same problem here (PostgreSQL 11/Windows).

I think this could be related to the new feature in 21.1.2 "Metadata search now supports search in procedures/views definition": searching through tables is fast but if you have many functions definitions in your database and a not so fast connection, the search can take several minutes.

It would be nice if the search proposal could be customized (i.e.

[2021-09-24 07:12] Matvey16 commented on #13943
Verified

[2021-09-24 07:12] #13943 closed, assigned to serge-rider, Matvey16

[2021-09-24 07:26] flambchap commented on #12441
Replaced packaged JRE for x86_64 with a JRE for Aarch64, everything seems to work just fine.

[2021-09-24 08:08] Matvey16 commented on #13142
Verified

[2021-09-24 08:08] #13142 closed, assigned to serge-rider, Matvey16

[2021-09-24 08:34] uslss commented on #13141
verified

[2021-09-24 08:34] #13141 closed, assigned to serge-rider, uslss

[2021-09-24 08:51] LonwoLonwo commented on #13997
Hello @deepaksenthilkumar
What version of DBeaver do you use?

[2021-09-24 08:55] A-CiKe commented on #13968
修改主题为Dark可以正常使用

[2021-09-24 08:55] A-CiKe commented on #13968
Modifying the theme to Dark can be used normally.

[2021-09-24 08:58] tati-kru commented on #13955
It is possible to set this shortcut from the Preferences.

[2021-09-24 08:58] #13955 closed, assigned to ShadelessFox

[2021-09-24 10:07] ShadelessFox commented on #13349
We need to update our CSV library.

[2021-09-24 10:13] Matvey16 commented on #13965
@beckrion Can you try changing "remarks" property to see if it will help
Also other property that can cause this is "extended metadata"

[2021-09-24 10:51] matneves commented on #13974
Same problem here with Mac OS (Apple M1) and DBeaver 21.2.1, using mysql 5.6 or 5.7.

[2021-09-24 10:57] rgobo opened #14001 "MSSQL: Can't find metadata object, cannot open declarations from editor"
#### System information:
- Windows 10, DBeaver 21.2.1 (20.09.2021)

#### Connection specification:
MSSQL server, driver version 8.2.0.jre8

#### Describe the problem you're observing:
Unable to open table/view declarations from the text editor. Either right click -> open declaration, or the F4 shortcut, result in the error message "can't find metadata for name '...'". If I do it from the database

[2021-09-24 11:55] deepaksenthilkumar commented on #13997
21.2.1
--
SD

[2021-09-24 13:56] LonwoLonwo commented on #13997
In this case, the owner meant the user, and the support of users in DBeaver is present only in the EE version.

[2021-09-24 14:10] Matvey16 commented on #13992
Verified

[2021-09-24 14:10] #13992 closed, assigned to ShadelessFox, Matvey16

[2021-09-24 14:13] LonwoLonwo commented on #14001
Thanks for the bug report!

[2021-09-24 14:27] beckrion commented on #13965
@Matvey16
![image](https://user-images.githubusercontent.com/16887531/134691120-d382ecf0-fd20-46f5-91be-227f34707741.png)

it is seems stuck at load table cache

[2021-09-24 14:30] beckrion commented on #13965
@Matvey16 Maybe beacuse I have too many table, finally it is finished, but still not work

[2021-09-24 15:33] fjf2002 opened #14004 ""DBCException: Can't resolve data type" on array of user-defined data type inside another schema"
#### System information:
- Operating system (distribution) and version: **Windows 10**
- DBeaver version: **21.2.1 CE**
- Additional extensions: **None**

#### Connection specification:
- Database name and version: **PostgreSQL 13.3**
- Driver name: org.postgrsql:postgresql **42.2.23**
- Do you use tunnels or proxies (SSH, SOCKS, etc)? **no**

#### Describe the problem you're observing:
In the res

[2021-09-24 16:42] Quantium commented on #11260
I have the same issue

[2021-09-24 16:58] luisds95 commented on #13961
Hi @Matvey16 This is coming from Delta Lake saved in S3.

DDL for example table A:
[code]

[2021-09-24 17:02] luisds95 commented on #13961
Hi @Matvey16 This is coming from Delta Lake saved in S3.

DDL for example table A:
[code]

Also, it's worth mentioning that the bug only happens when exporting to MSSQL. CSV, TXT and Inserts work fine

[2021-09-24 17:08] ralphotowo commented on #4561
You pass it as an argument to the command.
`mysqldump --column-statistics=0`

[2021-09-24 19:38] andregalvez79 opened #14005 "ODBC connection Error."
I already checked issue [#8732](https://github.com/dbeaver/dbeaver/issues/8732) and worked through the recommended steps and still have the issue.

#### System information:
- Windows 10 Enterprise version 1909
- DBeaver Version 21.1.3.202107181810

- VPN to test connection to servers.

#### Describe the problem you're observing:
Trying to create an ODBC connection through DBeaver and I get the fol

[2021-09-24 20:04] abcdenis opened #14006 "Sort locales in installer"
Hi,
there is a step on installation where one have to select locale.
Dropdown list contains unsorted locale names so it is difficult a bit to choose correct locale.
It will be great to sort it.
Thank you.
![Снимок экрана 2021-09-24 в 23 00 41](https://user-images.githubusercontent.com/3295735/134733483-17d07f23-5fd9-4973-9c06-6bbcad39e413.png)

[2021-09-24 20:11] LonwoLonwo commented on #13568
Oh, I was wrong. We read reserved keywords from EXA_SQL_KEYWORDS
and functions from
`SELECT "VALUE" FROM "$ODBCJDBC".DB_METADATA WHERE name = 'aggregateFunctions'`

[2021-09-24 21:18] umbe1987 commented on #10701
You are my hero.... I cannot believe how hard it was for me to find this solution!...
thank you so much for posting this, I was banging my head to figure out what the hell I was supposed to put as password after creating my postgres username in Linux Mint with ` sudo -u postgres createuser --superuser $USER`!!!!
I mean, I barely knew that the postgres leveraged with apt package manager had this Un

[2021-09-24 22:16] ShadelessFox commented on #14006
Hello @abcdenis,

Are you sure your issue is related to DBeaver? We don't support that much languages. Also, I can see <kbd>VMWare</kbd> label in the corner.

[2021-09-25 10:01] yaoguoba commented on #12441
![image](https://user-images.githubusercontent.com/18393410/134767423-127de510-1266-45ae-af7e-871e5e73d2dd.png)

Hi @akilovich, I updated my JRE to zulu-17.jre (arm64), but it still run as intel.
Could you please share your JRE version?

[2021-09-25 11:04] supervate commented on #12441
![image](https://user-images.githubusercontent.com/30173876/134769127-bd883833-0109-4ef9-ac57-8c17fac26de2.png)
![image](https://user-images.githubusercontent.com/30173876/134769180-3f3fc60e-3aab-4085-9244-4cffce250f73.png)

I replace the default jdk to zulu-17 then it is crash :( , I tried jdk11 too.

[2021-09-25 16:52] CheyenneForbes opened #14008 "Backup options for "drop if exists" and "create database""
**Is your feature request related to a problem? Please describe.**
Adding options to add "drop if exists" and "create database" statements when backing up a database would make workflows a bit better.

**Describe the solution you'd like**
Just as we have the "Use sql insert instead of copy for rows", it would be good to have options for "drop if exists" and "create database"
![image](https://user-

[2021-09-25 23:44] timchan96 opened #14009 "Tab names from Athena Queries have random alphanumeric text"
#### System information:
- Windows 10 Enterprise
- 21.2.1
- No Additional extensions

#### Connection specification:
- Amazon Redshift
- redshift-jdbc42
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  Yes
#### Describe the problem you're observing:
When a qurey on an Amazon Athena table is executed, Dbeaver creates a tab with the table name along with some random alphanumeric text. Ie. See bel

[2021-09-27 01:18] major-rina opened #14010 "Support JSONExtractKeysAndValuesRaw feature in Clickhouse"
Hello! I use DBeaver 21.1.3.202107181810 with ClickHouse.
And I have  a problem with JSONExtractKeysAndValuesRaw feature:
`SELECT JSONExtractKeysAndValuesRaw('{"id":67}')`

Error:
[code]

Are there any plans to add support of this feature? It would be very useful.
Thank you

[2021-09-27 07:06] LonwoLonwo commented on #13568
I added most of the functions from the list. In DBeaver 21.2.2

[2021-09-27 08:47] Matvey16 commented on #13351
Verified

[2021-09-27 08:47] #13351 closed, assigned to ShadelessFox, Matvey16

[2021-09-27 09:32] AppleAlma opened #14012 "1"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-09-27 09:35] Matvey16 opened #14013 "File extension is not appended when saving file from DBeaver"
#### System information:
- Operating system (distribution) and version Win10 Pro 20H2 19042.1237
- DBeaver version 21.2.1

#### Describe the problem you're observing:
In some cases for example when saving Execution plan or custom ERD, the file is created without extension

#### Steps to reproduce, if exist:
1. Open execution plan for a query
2. Click `Save plan`
3. Type a name without an extension

[2021-09-27 09:37] AppleAlma commented on #14012
Hi,

Can someone help to solve an issue with Postgre data base?
My SQL statement performs successfully, but DBeaver does not perform export of query result to CSV file. I right click on query result and choose Export data, but nothing happens. Yesterday it worked, but today is not working.

[2021-09-27 09:50] Matvey16 commented on #7820
Verified

[2021-09-27 09:50] #7820 closed

[2021-09-27 10:04] PowerToThePeople111 commented on #13968
A-CiKe's recommendation worked for me.
Thanks a lot!

[2021-09-27 10:16] #14012 closed, assigned to nobody

[2021-09-27 10:51] ShadelessFox commented on #14010
Thanks for the report.

[2021-09-27 10:57] Matvey16 commented on #14009
@timchan96 Hello, can you provide a DDL for the table and a query that leads to this issue?

[2021-09-27 11:09] dantheperson commented on #279
You could try configuring this socket factory in driver properties https://github.com/kohlschutter/junixsocket
Demo code: https://github.com/kohlschutter/junixsocket/blob/master/junixsocket-demo/src/main/java/org/newsclub/net/mysql/demo/AFUNIXDatabaseSocketFactoryDemo.java

[2021-09-27 11:28] vipul-patil1 commented on #465
I am facing the similar issue. Any resolution for this ?

27-Sep-2021 16:30:38.896 INFO [main] org.apache.catalina.startup.VersionLoggerListener.log Server version name:   Apache Tomcat/9.0.41
27-Sep-2021 16:30:38.898 INFO [main] org.apache.catalina.startup.VersionLoggerListener.log Server built:          Dec 3 2020 11:43:00 UTC
27-Sep-2021 16:30:38.898 INFO [main] org.apache.catalina.startup.Vers

[2021-09-27 12:06] Matvey16 commented on #13409
Verified

[2021-09-27 12:06] #13409 closed, assigned to ShadelessFox, Matvey16

[2021-09-27 12:37] thefox1977 opened #14015 "Cannot create connection to Athena"
Hello,

i think this is same bug [3941.](https://github.com/dbeaver/dbeaver/issues/3941)

Connection Manager does not display the correct fields no AWS Access Key and Aws Private Key, but i see username and pwd.

DBeaver Community Edition: 21.2.1.202109181446

THX so much.

[2021-09-27 13:04] Matvey16 commented on #13523
Verified

[2021-09-27 13:04] #13523 closed, assigned to serge-rider, Matvey16

[2021-09-27 13:47] Matvey16 commented on #13349
Verified

[2021-09-27 13:47] #13349 closed, assigned to ShadelessFox, Matvey16

[2021-09-27 13:53] Matvey16 commented on #14015
@thefox1977 Hello, Athena connection looks like this in the Community Edition. You need to enter Access Key as Username and Private Key as Password

[2021-09-27 14:27] thefox1977 commented on #14015
Hello @Matvey16,

thx for the answer!!!

Yes, I tried to insert and my driver is com.simba.athena.jdbc.Driver but for now nothing.

[2021-09-27 14:28] flambchap opened #14019 "DBeaver becomes unresponsive when exporting a huge amount of tables from one database to another"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version DBeaver 21.2.2 devel

#### Describe the problem you're observing:

When we open the data transfer wizard with the intention to transfer a lot of tables (e.g. 10_000), opening the _Tables mapping_ page takes an enormous amount of time. While that happens, UI is blocked.

I'm confident that the cause

[2021-09-27 15:23] fjf2002 opened #14021 "postgresql: New deferrable foreign key is not deferrable"
#### System information:
- Operating system (distribution) and version: **WSL2**
- DBeaver version **21.2.1**

#### Connection specification:
- Database name and version: **PostgreSQL 13.4**
- Driver name **pgJDBC 42**
- Do you use tunnels or proxies (SSH, SOCKS, etc)? **no**

#### Describe the problem you're observing:
When I add a new foreign key to a table, I can select "deferrable" ("aufschieb

[2021-09-27 16:17] uslss commented on #13568
verified

[2021-09-27 16:17] #13568 closed, assigned to uslss, LonwoLonwo

[2021-09-27 17:39] uslss commented on #14021
thanks for the report
![image](https://user-images.githubusercontent.com/31996417/134958254-e2965906-2241-4288-a3d6-de69416039a4.png)

[2021-09-27 17:43] uslss commented on #13993
thanks for the report

[2021-09-27 17:59] aleksandrs-ledovskis opened #14022 "NullPointerException (NPE) when connecting to remote PostgreSQL v13 database using new/default PostgreSQL driver"
#### System information:
- Operating system (distribution) and version: macOS 10.14.6
- DBeaver version: 21.2.1
- Additional extensions: N/A

#### Connection specification:
- Database name and version: PostgreSQL v13.2
- Driver name: PostgreSQL JDBC (42.2.20 as auto-installed by DBeaver)
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: No

---

I have a some remote PostgreSQL DB's which upon co

[2021-09-27 18:15] th commented on #13875
Yes, using the current release I still see my probklem. I don't know, I guess you can mark it non-reproducible.

[2021-09-27 20:11] umbe1987 commented on #7830
thumbs up for the "tar" thing.  I did not try with other formats as I realized after killing dbeaver process and restarting it that my tables were restored in the remote db, but it would be interesting to test...

[2021-09-27 20:21] LonwoLonwo commented on #14022
Thanks for the bug report.

Can you please test this query on your database?

[code]

[2021-09-27 20:24] aleksandrs-ledovskis commented on #14022
@LonwoLonwo Result is following

[code]

[2021-09-27 20:30] LonwoLonwo commented on #14022
As I see here:
`2021-09-27 18:17:55.260 - Error reading PostgreSQL version: An I/O error occurred while sending to the backend.`
Maybe the connection was lost.
So we need to handle this case. Thanks for the clear logs.

[2021-09-28 06:56] Matvey16 commented on #14015
@thefox1977 Can you provide the error that you get?

[2021-09-28 07:08] jonjonw commented on #10701
Thanks @jix! I gave it a shot but I get "Cannot find method "setCreated" in java.net.Socket. Unsupported JVM?" When I try to test the connection.

[2021-09-28 07:28] hpyperry commented on #12441
Can you give a tutorial? I tried to replace jre, but all it does is prompt Contents/Home/bin... /jre/lib/server/libjvm.dylib" does not contain the JNI_CreateJavaVM symbol

[2021-09-28 08:23] batirch commented on #11415
I am experiencing the same issue. Will there be an update?

[2021-09-28 08:29] fanyify opened #14024 "Build error from source version 21.2.1"
#### System information:
- Operating system (distribution) and version CentOS7 x86_64
- DBeaver version: 21.2.1
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Build from source failed with a missing required bundle error `net.sf.opencsv`. Also checked w

[2021-09-28 08:36] batirch commented on #11415
Here is my error log.

[dbeaver error.docx](https://github.com/dbeaver/dbeaver/files/7242424/dbeaver.error.docx)

[2021-09-28 08:59] DariaMarkaryan opened #14025 "Metadata virtual tab toolbar buttons duplicates previously opened tab buttons"
#### System information:
-  DBeaver CE 21.2.2

#### Describe the problem you're observing:
Virtual tab toolbar buttons set depends on what tab was opened before. In case of DDL tab, buttons like <kbd>Save</kbd> will be present in the Virtual tab too.
#### Steps to reproduce, if exist:
Open table metadata tab. Click on the one of the left tabs (Columns, Triggers, DDL etc) and then on the Virtual ta

[2021-09-28 09:03] ShadelessFox commented on #14024
Hello @fanyify,

The mentioned bundle is indeed missing because we've excluded it and from now are shipping own copy of it.

It happened after the release of 21.2.1, so you will have to build from `devel` branch or wait for the next release.

[2021-09-28 09:56] LonwoLonwo commented on #12200
Ok, we will try to recognize the expression from "Columns" and add quotes only for column names, which must be quoted.
Fixed in DBeaver 21.2.2

[2021-09-28 10:12] fanyify commented on #14024
Ok, thanks for your reply.

[2021-09-28 10:12] #14024 closed, assigned to nobody

[2021-09-28 11:03] uslss commented on #12200
verified

[2021-09-28 11:03] #12200 closed, assigned to uslss, LonwoLonwo

[2021-09-28 11:48] flambchap commented on #12441
@yaoguoba @suopovate @beichenhpy We're planning to release a properly packaged AArch64 build soon, stay tuned.

[2021-09-28 12:11] Matvey16 commented on #13993
@getta-mike thank you for the report, we will work on that

[2021-09-28 12:59] Matvey16 commented on #13339
Verified

[2021-09-28 12:59] #13339 closed, assigned to ShadelessFox, Matvey16

[2021-09-28 13:17] tia000000000 opened #14027 "CAN SOMEONE SEND ME 32BIT DBEAVER FOR WINDOWS?"
Hi everyone! I tried installing DBeaver but for some reason it says it doesn't match my Windows. I downloaded many of the archived versions but unfortunately even those whom I know are 32bit, they were still not working. I have Windows 7 Ultimate. I wonder if someone knows another ways of downloading and finding 32bit Beavers. Thanks in advance!

#### System information:
- Operating system (distri

[2021-09-28 13:28] ShadelessFox commented on #14027
Closed as a duplicate of discussion #14030

[2021-09-28 13:28] #14027 closed, assigned to nobody

[2021-09-28 13:42] flambchap commented on #13716
Done.

[2021-09-28 13:52] hpyperry commented on #12441
Thank you very much for your reply, I am looking forward to the new version

[2021-09-28 14:08] dstj opened #14031 ""Insert space after table/column name" does not respect existing spaces after the cursor."
More of an annoyance that a bug about the "Insert space after table/column name" feature.

![image](https://user-images.githubusercontent.com/467692/135099877-58739be0-c2ab-4493-b8d9-14eaf53dc4f0.png)

When editing an existing SQL query to add an extra column in the SELECT for example, when hitting ENTER to accept the suggestion, the cursor moves to the left of the next word (e.g. FROM) instead of

[2021-09-28 14:18] danielbgto opened #14032 "Session manager displays Active Query column gigantic in Linux. In Windows is fine."
HI all!

Active Query column in DBeaver Linux 21.2.1 (Linux Min 20.2) is showing the whole query code and there is no real viability of the session. The tooltip is taking practically the whole screen....
For example in Windows the tooltip and the Active Query column content size are well controlled.
In the screenshots is visible what I wish to explain.

is this a bug or can be fixed somehow?

Wind

[2021-09-28 15:00] serge-rider opened #14033 "Teradata: default schema name detect broken"
Teradata returns default schema name in uppercase and DBeaver can't find it.

Solution: we should use case-insensitive schema search in databases with mixed case identifiers (like Teradata).

[2021-09-28 15:11] LonwoLonwo commented on #14032
Hello @danielbgto
Thanks for the bug report.

This issue may be fixed here https://github.com/dbeaver/dbeaver/issues/13142
So you can wait for the official release 21.2.2 to test it. Or you can try our Early Access version: https://dbeaver.io/files/ea/

[2021-09-28 15:42] ghost opened #14034 "Bad Close trying update data with error: org.jkiss.dbeaver.model.exec.DBCException: No execution context"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04.3 LTS
- DBeaver version: Version 21.2.0.202108310918
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name: mariadb
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

When trying to update data directly from result editor i'v

[2021-09-28 16:04] danielbgto commented on #14032
WoW! Thank you for the good news!!

[2021-09-28 16:07] serge-rider opened #14035 "Driver properties: impossible to delete custom property"
Property remove doesn't work.