[2022-01-17 14:59] GreatEMU opened #15199 "Countless issues after upgrading from (very) old version #2 - Saving scripts"
Because of problems on an older version I skipped upgrading for many years. Now after upgrading to the current version I can't count the issues anymore. What happend to this usefull tool?

This is issue #2:
I created a new script a assigned a database.
After saving the script the assigned database and catalog are vanished.

#### System information:
- Operating system: Win 10
- DBeaver: 21.3.2
- Ad

[2022-01-17 15:03] GreatEMU opened #15200 "Countless issues after upgrading from (very) old version #3 - Datasources cannot be selected"
Because of problems on an older version I skipped upgrading for many years. Now after upgrading to the current version I can't count the issues anymore. What happend to this usefull tool?

This is issue #3:
After starting DBeaver and opening a previously saved script I cannot select any data source.
First I have to run the script and then I see all the created data sources.

System information:
Op

[2022-01-17 15:04] GreatEMU opened #15201 "Countless issues after upgrading from (very) old version #4 - Script names are truncated on tabs"
Because of problems on an older version I skipped upgrading for many years. Now after upgrading to the current version I can't count the issues anymore. What happend to this usefull tool?

This is issue #4:
The scipt names are sometimes truncated on the tabs.

System information:
Operating system: Win 10
DBeaver: 21.3.2
Additional extensions
Connection specification:
Database name: DB2 iSeries
Dri

[2022-01-17 15:17] ShadelessFox commented on #15201
Hello @GreatEMU,

Thanks for the report.

Please see https://github.com/dbeaver/dbeaver/issues/14293#issuecomment-947443011.

[2022-01-17 15:17] #15201 closed, assigned to nobody

[2022-01-17 15:36] LonwoLonwo commented on #10832
Since we have support for Netezza users only in the [DBeaver EE version](https://dbeaver.com/), the possibility of an autocomplete for them we added only there.

![2022-01-13 22_14_00-](https://user-images.githubusercontent.com/45152336/149797019-3d873508-5ac9-4f16-b94a-ac02fc9d10b2.png)

![2022-01-13 22_12_34-DBeaver Ultimate 21 3 3 - _TEST_Script-101](https://user-images.githubusercontent.com/45

[2022-01-17 15:49] jetzerb commented on #5450
I would also find the addition of Start Time useful.

And I'll add a clarifying point that information on elapsed time is printed _if multiple statements are executed_.

Currently (Version 21.3.2.202112271055), the Statistics pane includes the following information:

#### Single Statement is Executed
1. Updated Rows
2. Query
3. Finish time

#### Multiple Statements are Executed
1. Queries (_i.e._,

[2022-01-17 15:53] LonwoLonwo commented on #15198
Hello @GreatEMU

Unfortunately can't reproduce your issue.

![2022-01-17 18_43_58-DBeaver Ultimate 21 3 3 - _postgres 13 3_Script-81](https://user-images.githubusercontent.com/45152336/149801159-7a824264-e178-4345-adcb-f4dc84fd9eff.png)

![2022-01-17 18_44_26-DBeaver Ultimate 21 3 3 - _postgres 13 3_Script-81](https://user-images.githubusercontent.com/45152336/149801162-2fd26056-5dee-4d14-8299-265

[2022-01-17 16:07] serge-rider commented on #15198
@GreatEMU
Are you sure you upgraded DBeaver version correctly?
Do you use zip archive or Windows installer?
Is there anything in the Error Log? (https://github.com/dbeaver/dbeaver/wiki/Log-files)

[2022-01-17 16:26] boukenka commented on #8051
@uslss Hello. Could you provide an update on this request please?

[2022-01-17 17:33] serge-rider commented on #14882
I think the problem is in dll libraries packaging. In new Eclipse version dlls (like jnidispatch) must be placed in corresponding subfolders.
Packaging has been fixed, we will update Windows Store product along with 21.3.3 release

[2022-01-17 17:35] LonwoLonwo commented on #13834
Still reproducible in DBeaver 21.3.3

[2022-01-17 17:35] serge-rider commented on #14856
Seems to be caused by the same problem as #14882

[2022-01-17 17:52] aravindhansps commented on #15117
PSA..

https://github.com/dbeaver/dbeaver/files/7952023/log.txt

[2022-01-17 20:43] bupy7 commented on #14770
@Matvey16 I've installed 21.3.2.202112271055, now it's work.

[2022-01-18 01:29] bianyun1981 opened #15203 "A Chinese input method bug in DBeaver SQL editor"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise Edition (Simplified Chinese), 21H1
- DBeaver version: 21.3.2
- Additional extensions: none

#### Describe the problem you're observing:

In short, in the SQL editor of DBeaver, the Chinese input method behaves abnormally.

Specifically, that is: after selecting a part of the text, and then using the Chine

[2022-01-18 06:24] Matvey16 commented on #15158
When identifier case is set to lower, it doen't work. Upper case works only for table name, but not for table names

![dbeaver_XbzCiHvPxW](https://user-images.githubusercontent.com/82543000/149882143-75a91282-ce6e-4c61-98bf-033c60848141.gif)

[2022-01-18 06:35] alesito85 commented on #15158
Identifier was set to "as is".

[2022-01-18 06:39] Matvey16 commented on #15158
Verified

[2022-01-18 06:39] #15158 closed, assigned to E1izabeth, Matvey16

[2022-01-18 06:42] Matvey16 commented on #15059
Table name changes case to upper in Advanced copy

![dbeaver_or6EwuwOs9](https://user-images.githubusercontent.com/82543000/149884268-97cc6dff-55fa-48a0-8cc1-4bde3bd98220.gif)

[2022-01-18 07:17] serge-rider commented on #15168
![image](https://user-images.githubusercontent.com/6398845/149888943-c460ddad-d53c-4b7c-b752-d0cc6a4190c6.png)

[2022-01-18 07:47] Matvey16 commented on #14187
1. Pressing cancel in a prompt leads to errors in fetch buttons
[code]
2. Resultset can't be refreshed (refresh button will do nothing) if there are pending changes
3. `Fetch all rows` opens another prompt (that it is expensive operation) and when accepted fetches all rows canceling any changes

[2022-01-18 08:00] uslss commented on #15168
verified

[2022-01-18 08:00] #15168 closed, assigned to serge-rider, uslss

[2022-01-18 09:44] tianmingxing commented on #15101
use MySQL (Old) drive success! tks!

[2022-01-18 09:44] #15101 closed, assigned to nobody

[2022-01-18 10:33] flambchap commented on #14770
@mcheremnov Does the new version of DBeaver solves the issue for you?

[2022-01-18 10:59] flambchap commented on #14906
We've decided not to do that.

[2022-01-18 10:59] #14906 closed, assigned to ShadelessFox

[2022-01-18 11:01] serge-rider commented on #13318
Fixed

[2022-01-18 11:14] veqryn opened #15205 "org.jkiss.dbeaver.model.exec.DBCException: Array type inet doesn't have a component type"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.5.202108160727

#### Connection specification:
- Database name and version: PostgreSQL 14
- Driver name: default PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
`select * mytable` gives this error for a column:
[code]

#### Steps t

[2022-01-18 12:09] uslss commented on #15205
@veqryn cannot reproduce it against 21.3.2. Could you check if issue is reproducible for you against 21.3.2?

[2022-01-18 12:13] ultra-chel commented on #1156
![image](https://user-images.githubusercontent.com/54051018/149935230-d61780cd-b46f-4059-95d8-0019d53e2bf8.png)

![image](https://user-images.githubusercontent.com/54051018/149935352-7351db1c-ecb5-4c27-88e5-83dc9d3b1abf.png)

![image](https://user-images.githubusercontent.com/54051018/149935427-607788a1-1849-46de-8651-d524e883439e.png)

[2022-01-18 12:33] Destrolaric commented on #13916
@r1evan Hi, I tried to reproduce this issue, with a select query and it worked correctly when the full path to schema was written. Could you describe your issue in more detail?

[2022-01-18 12:40] r1evan commented on #13916
Hi George,

But it does not work when we select the required database from the database list as shown in the below screenshot.

***@***.***

It still queries the default database given while defining the connection. See the below screenshot:

***@***.***

Can you help me a way of passing all the available projects.

Regards,
Revan

From: George ***@***.***>
Sent: 18 January 2022 18:04
To: dbeaver/

[2022-01-18 12:58] Destrolaric commented on #13916
@r1evan, I think screenshots have failed to load correctly. I think you need to resend them.

[2022-01-18 13:01] r1evan commented on #13916
Attached the screenshots as images

From: George ***@***.***>
Sent: 18 January 2022 18:29
To: dbeaver/dbeaver ***@***.***>
Cc: Revan Tadikonda ***@***.***>; Mention ***@***.***>
Subject: Re: [dbeaver/dbeaver] Connect to mutliple projects using google BigQuery service account (#13916)

@r1evan<https://github.com/r1evan> I think screenshots are failed to load correctly, I think you need to resend th

[2022-01-18 13:10] Destrolaric commented on #13916
@r1evan, I think the Github email reply doesn't support attachments. At least I couldn't find a way to see them.

[2022-01-18 13:44] Matvey16 commented on #14856
Verified on standalone version. Needs to be tested again after publishing in MS store

[2022-01-18 15:53] OttoDelphia opened #15213 "Incompatible JVM error on startup."
An Incompatible JVM error appears as follows:
"Version 1.8.0_211 of the JVM is not suitable for this product.  Version: 11 or greater is required.
A quick check of the console reveals that the system is running  java version 17.0.1 however.

[2022-01-18 17:39] andrey-orderby opened #15216 "Dbeaver generates timely GET_TABLES tasks when executing a simple select for hadoop tables (Impala engine)"
#### System information:
- Windows 10 Version 20H2
- DBeaver version 7.2.3.202010191702

#### Connection specification:
- Impala 3.2.0-cdh6.2.1
- com.cloudera.impala.jdbc41.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? - No

#### Describe the problem you're observing:
Simple select query generates GET_TABLES task which takes > 40 seconds to execute. I would rather it did not generate i

[2022-01-18 22:31] veqryn commented on #15205
It seems that closing dbeaver and and starting it up again and reconnecting solved the problem

[2022-01-18 22:31] #15205 closed, assigned to nobody

[2022-01-19 06:10] antonyraj05 commented on #15157
Hi yes
I've pro key but still while comparing the same issue happening,
I tried to compare overall schemas comparison not comparing the Packages & procedures inside that

I use Dbeaver EE

![image](https://user-images.githubusercontent.com/97591906/150074063-f4586e8e-dd0a-46ca-83ce-489a4262cf55.png)

[2022-01-19 07:23] Matvey16 commented on #13318
Verified

[2022-01-19 07:23] #13318 closed, assigned to serge-rider, Matvey16

[2022-01-19 07:31] Destrolaric commented on #13916
@r1evan If possible, can you send screenshots directly via Github?

[2022-01-19 07:35] uslss commented on #15059
verified

[2022-01-19 07:35] #15059 closed, assigned to E1izabeth, uslss

[2022-01-19 07:35] r1evan commented on #13916
![pic1](https://user-images.githubusercontent.com/90771330/150084961-79939903-ab11-4e4b-bd96-dbc2eca580e2.png)
![pic2](https://user-images.githubusercontent.com/90771330/150084968-1727b000-bf39-4a63-8aec-97e3e7ad2505.png)

Attached the images. Can you confirm if you're able to view them.

[2022-01-19 07:36] uslss commented on #13860
verified

[2022-01-19 07:36] #13860 closed, assigned to E1izabeth, uslss

[2022-01-19 07:40] Destrolaric commented on #13916
Yes, everything is good

[2022-01-19 08:31] bryan831 commented on #5693
yes i would love to have this feature too

[2022-01-19 09:18] uslss commented on #15126
thanks for the report

[2022-01-19 09:25] uslss commented on #15176
thanks for the report

[2022-01-19 09:30] uslss commented on #15199
seems the issue is related to the incorrect installation of the new version.
will be investigated in the scope of #15198

[2022-01-19 09:30] #15199 closed, assigned to nobody

[2022-01-19 09:31] uslss commented on #15200
seems the issue is related to the incorrect installation of the new version.
will be investigated in the scope of #15198

[2022-01-19 09:31] #15200 closed, assigned to nobody

[2022-01-19 09:34] uslss commented on #15155
#14735

[2022-01-19 10:06] Matvey16 commented on #15143
Looks like a duplicate of #15129 at least the cause of both issues seems to be the same

@Aileron79 Does a refresh button change the DDL generated after pressing it? Or the only workaround is to disconnect and reconnect?
![image](https://user-images.githubusercontent.com/82543000/150109072-aec89d08-8f21-4bba-8db9-0e7b601cdd35.png)

[2022-01-19 10:12] Matvey16 commented on #14522
Verified

[2022-01-19 10:12] #14522 closed, assigned to ShadelessFox, Matvey16

[2022-01-19 10:22] dexy86 commented on #5794
same thing, but also can't drag the columns to group panel
dbeaver Version 21.3.2.202112271055
linux fedora 35 gnome wayland

[2022-01-19 10:28] Matvey16 commented on #15153
@krishna4ldw Are you sure your key file is valid? I tried reproducing this issue but the uri works for me and opens google authentication page.

Can you copy the URI that DBeaver suggests you? (without user ID of course) Like so:
`https://accounts.google.com/o/oauth2/auth?client_id=____________.apps.googleusercontent.com&redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=code&scope=https://www.g

[2022-01-19 10:41] Matvey16 commented on #15175
@LucvandenBerg Thank you for the report. We will look what can be done about it

[2022-01-19 11:31] Matvey16 commented on #15188
@BambangSumitra Hello. Please specify what is the difference in results.

[2022-01-19 11:57] uslss commented on #14275
verified

[2022-01-19 11:57] #14275 closed, assigned to uslss, LonwoLonwo

[2022-01-19 12:01] uslss commented on #13727
verified

[2022-01-19 12:13] uslss commented on #15155
We use a JSQLParser library for the correct queries highlighting, folding adding, and auto-completion support.
But sometimes it takes too long to process the query.
It is needed to add a special editor's setting with the ability to turn off query parsing. So queries will be processed much faster, but some DBeaver features will be disabled for the editor.

[2022-01-19 12:17] GreatEMU commented on #15198
Hello,

I did the installation by using the windows installer.
Shoul I try another complete new installation?

![image](https://user-images.githubusercontent.com/75827076/150126942-49e14dd5-8329-4999-8c61-773a4383acae.png)

[.log](https://github.com/dbeaver/dbeaver/files/7896959/default.log)

[2022-01-19 13:34] Matvey16 commented on #12010
Value synchronizes when changing from calendsr to text. but not the other way around

[2022-01-19 13:36] krishna4ldw commented on #15153
Yes uri link works and opens google authentication page. Are you able to browse datasets in database explorer?

[2022-01-19 14:04] LonwoLonwo commented on #15157
Ok. Few questions.

https://github.com/dbeaver/dbeaver/wiki/Schema-compare#using-schema-compare-with-liquibase-pro-key

Did you import your PRO Liquibase key into DBeaver? If yes - did you restart DBeaver after what?

In the " Objects types " dialog, do you see Procedures And Packages in the compare objects list in the "Objects types" dialog? Are their buttons checked?

[2022-01-19 15:04] Matvey16 commented on #14817
Parameters are still remaining in variable panel (even thogh they are actually deleted) if they were created before current editor was opened

![dbeaver_jo5szXooRX](https://user-images.githubusercontent.com/82543000/150157282-8ae3c079-afa5-411b-a1e7-b4f233608765.gif)

[2022-01-19 15:12] piaste opened #15220 "Scroll down can execute irreversible INSERT/UPDATES after rollback"
#### System information:
- Operating system (distribution) and version
Windows 10 x64
- DBeaver version
21.3.2
- Additional extensions
none

#### Connection specification:
- Database name and version
PostgreSQL 12
- Driver name
JDBC
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
Yes (SSH)

#### Describe the problem you're observing:

When a results table has a limited fetch size and the user s

[2022-01-19 15:15] Matvey16 commented on #14187
Now cancelling the prompt disables any ability to fetch more rows. Only refresh resets this
After pressing fetch all rows no matter if the changes are saved or not, nothing will be fetched
![dbeaver_Ax1DwzFusz](https://user-images.githubusercontent.com/82543000/150159436-92cfb951-420e-436e-a185-0c8c917fb398.gif)
![dbeaver_Fl2KDYBELQ](https://user-images.githubusercontent.com/82543000/150159456-320

[2022-01-19 16:17] Matvey16 commented on #10832
Verified

[2022-01-19 16:17] #10832 closed, assigned to LonwoLonwo, Matvey16

[2022-01-19 16:28] E1izabeth opened #15222 "SQL Script parser can't restore after error with Chinese input"
#### System information:
- Windows 10 Pro
- DBeaver version 21.3.3
- Input method: Microsoft Pinyin (Simplified, China)

#### Describe the problem you're observing:
After parsing error the errors are continuing in infinite loop even when script is closed.
It breaks all other functionality because of high RAM usage.

https://user-images.githubusercontent.com/28875055/150172760-017a18f8-a725-46eb-9f

[2022-01-19 16:35] Matvey16 commented on #14817
Verified

[2022-01-19 16:35] #14817 closed, assigned to Destrolaric, Matvey16

[2022-01-19 17:05] E1izabeth commented on #15203
Hello, @bianyun1981! Thank you so much for reporting and such detailed explanation! However I can't reproduce DBeaver issue when Chinese characters do not replace the selected text, but are placed before the selected text.

Please, could you tell more about the program that you use for text input and it's preferences?

https://user-images.githubusercontent.com/28875055/150178949-ce6f0dd4-e5d2-4d96

[2022-01-19 17:39] serge-rider commented on #12010
Calendar presentation doesn't work in case of native date/time formatting (depends on native format of course). It is expected behavior.
Error dialog must be shown if date format can't be parsed.

[2022-01-19 18:04] Matvey16 opened #15224 "Show a warning if calendar presentation can't work because of native date/formatting"
The newest plug-in with calendar value panel for date/time values doesn't work if date-time formatting is disabled in preferences. We need to sho a warning when this happens

[2022-01-19 18:05] Matvey16 commented on #12010
Verified
New ticket opened to include a warning #15224

[2022-01-19 18:05] #12010 closed, assigned to Destrolaric, Matvey16

[2022-01-19 18:45] Skydiveroid commented on #15118
Thank you for the future request!

[2022-01-19 18:48] Skydiveroid commented on #15127
Thank you for the future request!

[2022-01-19 18:49] Skydiveroid commented on #15129
Thank you for the enhancement!

[2022-01-19 18:50] Skydiveroid commented on #15130
Thank you for the future request!

[2022-01-19 19:53] geomorillo commented on #6996
2022 still an issue

[2022-01-19 23:03] bianyun1981 commented on #15203
Hello, @E1izabeth,

It looks like the Chinese input method program you are using is the Microsoft Pinyin input method, so you cannot reproduce the problem I mentioned earlier. The input method program I use is Sogou Pinyin Input Method (homepage: https://pinyin.sogou.com/), which is the Chinese input method program on the PC side with the highest market share in China. Few people use the Microsoft

[2022-01-20 00:13] ShadelessFox commented on #13649
Can't reproduce:

![image](https://user-images.githubusercontent.com/35821147/150238899-225709c3-a6a6-4603-8999-be8b279ded90.png)

[2022-01-20 00:57] ShadelessFox commented on #15130
Similar to #13344, #14193

[2022-01-20 00:58] ShadelessFox commented on #15130
We should display a dialog for configuring the primary key and visible columns.

[2022-01-20 00:59] ShadelessFox commented on #14193
We should display a dialog for configuring the primary key and visible columns.

[2022-01-20 01:28] BambangSumitra commented on #15188
@Matvey16

whenever i execute the query, query result show incorrect result and if executed multiple times the result keep changing.

please find attached video

https://user-images.githubusercontent.com/39480480/150245639-595249e3-833f-469b-8a88-a0a3219ac356.mp4

[2022-01-20 02:16] oneforever opened #15227 "stored procedure"
Is it possible to add a feature, for example, to execute stored procedures in the same way as PLSQL, by filling out tables and clicking execute.

[2022-01-20 02:41] 93910676wangd opened #15228 "Error while executing procudure with rollback in postgresql database"
#### System information:
- DBeaver version:dbeaver-ce-21.3.2-x86_64(windows)

#### Connection specification:
- Additional extensions:postgresql13.3(centos7.9)
PostgreSQL JDBC Driver

#### Describe the problem you're observing:

Executing the following statement with DBeaver tool will cause PostgreSQL DB exception
CALL "TEST_A"();
![error](https://user-images.githubusercontent.com/19505572/15026205

[2022-01-20 07:11] E1izabeth commented on #15203
@bianyun1981, thank you, I can reproduce it now!

[2022-01-20 07:50] LonwoLonwo commented on #15228
Hello @93910676wangd

Unfortunately can't reproduce your issue.
And I can't look into this issue because the issue is in your database.
Database logs before `the database system is in recovery mode` can be helpful.

Maybe this topic can help: https://dba.stackexchange.com/questions/61650/postgres-is-stuck-in-recovery-mode

[2022-01-20 08:12] woxiangbo opened #15229 "how to edit value in the resultset after execute a select ?"
after execute a select qurey, there is "yellow lock" symbol, and can not edit the data, how to resolve it ?

![image](https://user-images.githubusercontent.com/3446874/150304380-d65651af-a0bd-40bb-8c0e-feb50d112b4d.png)

[2022-01-20 09:19] LonwoLonwo opened #15230 "Syntax error in the PostgreSQL data transfer replace insert method."
DBeaver 21.3.2

This issue occurred in the case of data import in the PostgreSQL table and enabled setting "Replace method" - "On conflict do update set."

Steps to reproduce:

- Create to tables:

[code]

- Insert some data in the Employee2 table.
- Use right-click on the table Employee2 in the navigator tree and choose "Export data."
- Choose "Database" export, select Employee table as a target.

[2022-01-20 11:06] anton-petrov commented on #2176
Please, add the checkbox "No data" for PostgreSQL .

[2022-01-20 12:39] Skydiveroid commented on #15172
Thank you for the future request!

[2022-01-20 12:41] Skydiveroid commented on #15189
Thank you for the future request!

[2022-01-20 12:42] Skydiveroid commented on #15192
Thank you for the future request!

[2022-01-20 13:21] Destrolaric commented on #13916
@r1evan Can you tell, are you writing the full path to the schema in a query?

[2022-01-20 13:23] r1evan commented on #13916
No, I'm just selecting the required schema from the dropdown.

[2022-01-20 13:56] Destrolaric commented on #13916
@r1evan As I see, you have projects which are not added as additional projects and are still shown. I will look into it.

[2022-01-20 15:58] mrajancsr opened #15236 "not able to use the ssh tunnel to connect to a remote database"
#### System information:
- Operating system (distribution) and version - Mac M1 2021 Montery Macbook pro
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version - Postgresql
- Driver name - org.postgresql.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? ssh

#### Describe the problem you're observing:
I'm having trouble connecting to my remote

[2022-01-20 15:59] gintering1000 opened #15237 "panel tab shortcut key"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i switch result panels switch ( calc, value, references, Grouping, Metadata ) by keyboard
Dbeaver only have show/hide ( calc, value, references, Grouping, Metadata ) tab.
i always show that [5 tabs].

User Action
01. i execute SQL
02. switch to result panel with (Switch active panel shortcut key).
03. che

[2022-01-20 16:39] ShadelessFox commented on #15236
Hello @mrajancsr,

Thanks for the detailed description.

Could you please attach debug logs? Please see [Log files](https://github.com/dbeaver/dbeaver/wiki/Log-files).

[2022-01-20 16:43] ShadelessFox commented on #15237
Hello @gintering1000,

Is that what you want to achieve? Please see attached video.

https://user-images.githubusercontent.com/35821147/150382984-21b724c1-6695-40f4-8267-a9a4ac9bc09d.mp4

[2022-01-20 17:15] ClodoaldoPinto opened #15238 ".NET data provider"
Is is possible to use a dot net data provider in Dbeaver? What I need now is the Teradata one which is already installed in Windows 10 and works in Visual Studio.
There is a certain network configuration, a VPN connection, in which the jdbc driver connection is blocked but allows the dot net data provider to connect (in Visual Studio)

[2022-01-20 17:36] randym127 commented on #7963
I still get this error with latest version, I have downgraded to 21.1.5 in the hopes that it fix it.

[2022-01-20 18:01] kpconnell opened #15239 "close jdbc connection hangs (multiplatform)"
I am not providing any details because this is a systemic issue across multiple platforms and drivers.

Connection management in a slow and or unstable network environment is absolutely atrocious.

THROW AWAY CONNECTIONS THAT ARE NOT RESPONDING!!!   DO NOT CHECK THEM, DO NOT "CLEAN UP".   CREATE A LIGHTWEIGHT METHOD FOR CONNECTING....

[2022-01-20 21:44] rjake commented on #7540
I still have this issue

[2022-01-21 05:58] Matvey16 commented on #13649
Can reproduce in data editor

![dbeaver_EP2S8ktgcW](https://user-images.githubusercontent.com/82543000/150474227-1c1ac787-8eed-4444-9b45-d9abc4edd352.gif)

[2022-01-21 07:23] XiaogangKing opened #15241 "Do not open any entities, report -802825161"
#### Problem:
Can't open any entity,
When I reinstalled the software after uninstalling the software and cleaning up the registry, I still couldn't open any entities

#### System information:
- win10
- DBeaver version: 21.2.2.202110030714

#### Connection specification:

#### Describe the problem you're observing:
Can't open entity 'XXXX'
reason:  -802825161

#### Steps to reproduce, if exist:

##

[2022-01-21 08:03] flambchap commented on #14942
Hello @ilyafrank2021. Unfortunately, I cannot reproduce your issue. Could you please tell me what DBeaver version you use?

[2022-01-21 08:43] mcheremnov commented on #14770
@akilovich Yes, my issue resolved with new update. Thank you

[2022-01-21 08:47] flambchap commented on #14770
Great!

[2022-01-21 08:47] #14770 closed, assigned to nobody

[2022-01-21 08:49] Destrolaric commented on #13916
@r1evan I think if you pass needed projects as additional projects you will be able to query them.

[2022-01-21 08:51] r1evan commented on #13916
I did it that way as well, but it's not working. Can you check and send me of how to add multiple projects??

[2022-01-21 08:53] uslss commented on #13727
verified

[2022-01-21 09:24] nostradani opened #15242 "Better support for accessing databases in Kubernetes"
Accessing database in Kubernetes currently requires manual work upfront. If the database isn't exposed from the cluster (which is usually the case), you have to expose it locally using 'kubectl port-forward':

https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/

Since DBeaver already offers access to databases using ssh port forwarding, it would be

[2022-01-21 09:44] DariaMarkaryan opened #15243 "Update pg_dump version"
Current version pg_dump is 13.3. This version is incompatible with PostgreSQL 14

[2022-01-21 10:11] DariaMarkaryan opened #15244 "No error is thrown when executing erroneous postgres script task"
#### System information:
- Win10
- DBeaver CE 21.3.3

#### Connection specification:
- Database name and version: PostgreSQL(14, 12...)

#### Describe the problem you're observing:
The script runs without problems, but we

#### Steps to reproduce, if exist:
1. Create SQL script with mistakes and save it to your computer
2. Check that it doesn't works when executing from SQL editor
3. Create a task

[2022-01-21 10:33] Destrolaric commented on #14298
@flykarry Hi, are this JSON is from JSON.SET command?

[2022-01-21 11:19] ShadelessFox commented on #13976
Implemented:

![java_dUcLmUjylk](https://user-images.githubusercontent.com/35821147/150242476-6bb1e2c4-0336-4a15-b075-67b4a9c160b8.gif)

It can be enabled in the preferences:

![java_aNfuTnW7OX](https://user-images.githubusercontent.com/35821147/150518374-0b617854-1687-467c-8dab-98cdff368530.png)

[2022-01-21 11:34] ShadelessFox commented on #14239
The CSV driver does not recognize boolean constants `true` and `false` but performs valid evaluation against their string equivalents.

[2022-01-21 12:28] gintering1000 commented on #15237
it is not work work after press shortcut [next tab]

## 1. [ tab next, previous ] is work only 1 time after user press hotkey ( Activate results/panel )
in video, i pressed [tab next] many time.
but it work only 1 time
and i didnt click to value tab like you. i switched by shortcut ( Activate results/panel ) to use that without mouse

![Screen Capture 2022-01-21 at 21 24 59](https://user-images.gi

[2022-01-21 12:39] ShadelessFox commented on #15237
Thanks for the clarification.

[2022-01-21 15:07] 3DRaven commented on #15186
It works for me. I set keep alive to 1s and connection validation to 1000. Thank you. It is strange why keep alive is 0 by default. But ok.

[2022-01-21 15:08] 3DRaven commented on #15186
It works for me. I set keep alive to 1s and connection validation to 1000. Thank you. It is strange why keep alive is 0 by default. But ok.

[2022-01-21 15:08] #15186 closed, assigned to nobody

[2022-01-21 15:09] ShadelessFox opened #15247 "Clarify the meaning of `Copy active query` action in the SQL editor"
The current name may confuse the user because it denotes some sort of "active" query.

In fact, it performs a copy of query <b>under the cursor</b>, or simply <b>selected query</b>.

See #14192

[2022-01-21 15:09] ilyafrank2021 commented on #14942
Version 21.3.1.202112130652

[2022-01-21 15:10] ilyafrank2021 commented on #14942
21.3.1.202112130652

[2022-01-21 16:48] evolsoulx opened #15249 "re: #2855 ; exporting data from multiple sql files"
Looks like in 5.3.4 a feature was added so that if you select multiple queries and run the "Export from Query" it will run each, and export each to a file. This is great, unless you want smart naming of the queries.

I'd love if there was an "export from SQL files" for the active database. I could select 10 .sql files, have them all run and export to csv (or any of the other options).

Perhaps som

[2022-01-21 16:48] Matvey16 opened #15250 "Add an ability to cycle through found object in ERD search"
**Is your feature request related to a problem? Please describe.**
The search function in ERD moves focus to only one of the objects that is found, but doesn't allow to move the focus to another

**Describe the solution you'd like**
Add a button like in a simple search (Find Next) that will advance the focus to the next found object

![dbeaver_vhAyDEH9fa](https://user-images.githubusercontent.com/

[2022-01-21 17:12] alex88 commented on #13960
This would be awesome, there's no way to just set the user.timezone and setting it manually is lost on every update and it's even harder on flatpak

[2022-01-21 17:17] Kambaa opened #15251 "About setting custom workspace location configuration in config file availability."
Hello,

Instead of giving it as an argument of the dbeaver.exe, is there a possible way to set the [custom location](https://github.com/dbeaver/dbeaver/wiki/Workspace-Location#custom-location) setting in a configuration file?( in dbeaver.ini or configuration/configuration.ini)

Installing and setting up an application is problem for me (You can imagine the cases, using work computers, a.d./exchang

[2022-01-21 18:36] nikiromagnoli commented on #13976
That's great news! Thank you.

[2022-01-22 03:48] Tectract commented on #8541
I'm stuck here. I also can't delete a database with dbeaver.

I have no idea what to do.

1. Remove the database from connection settings.

ok

2. set some other database as a default in DB Navigator tree.

I don't see any option for "default" connection. Where is that? I'm stuck here.

[2022-01-23 08:49] 0red opened #15255 "Possibility to input own tilemap for spatial/gis viewer"
**Is your feature request related to a problem? Please describe.**
Actually only 2 background map are supported.
The feature is to add possibility to input the additional tilemap server url for presenting the results on the other map layer

**Describe the solution you'd like**
Preferences,Editors,Data Editor,GIS Viever add the text indut field to provide by the user the url for tile server (i.e. i

[2022-01-23 09:47] elinazelentsova opened #15256 "Unexpected driver error occurred while connecting to the database java.lang.NullPointerException"
**System information:**
Windows 10 (64)
DBeaver CE version
21.3.2
Java Version 8 Update 321
Connection specification:
Database name and version:
**Snowflake**
Driver name:
net.snowflake:snowflake-jdbc:RELEASE
mssql-jdbc-9.4.1.jre16.jar
Do you use tunnels or proxies (SSH, SOCKS, etc)?
No, I don't use it

I'm trying to connect to the Snowflake database. DBeaver offers to download and update the driv

[2022-01-23 11:03] ShadelessFox commented on #15255
Hello @0red,

We already support that feature. Perhaps you're running on a really outdated version?

Please see https://github.com/dbeaver/dbeaver/wiki/Working-with-Spatial-GIS-data#defining-custom-tile-layer

[2022-01-23 12:30] 0red commented on #15255
so I missed it. Thx

[2022-01-23 12:30] #15255 closed, assigned to nobody

[2022-01-23 12:32] SubOptimal commented on #15256
This driver is for use with Java 16.

Could you try again with [mssql-jdbc-9.4.1.jre8.jar](https://mvnrepository.com/artifact/com.microsoft.sqlserver/mssql-jdbc/9.4.1.jre8)?

[2022-01-23 12:46] 0red opened #15257 "Missing last character of table name in Editors View"
#### System information:
- Operating system (distribution) and version: Microsoft Windows 10 Enterprise 10.0.18363 Build 18363
- DBeaver version 21.3.2.202112271055
- Additional extensions: standard installation

#### Connection specification:
- Database name and version: PostgreSQL 10.6 on x86_64-pc-mingw64, compiled by gcc.exe (Rev5, Built by MSYS2 project) 4.9.2, 64-bit
- Driver name : org.post

[2022-01-23 12:49] SubOptimal commented on #15256
That's the driver for Java 16 runtime.

DBeaver Community Edition 21.3.2 (https://dbeaver.io/files/21.3.2/dbeaver-ce-21.3.2-win32.win32.x86_64.zip) is bundled with Java 11 runtime.

It might be worth trying again with [mssql-jdbc-9.4.1.jre8.jar](https://mvnrepository.com/artifact/com.microsoft.sqlserver/mssql-jdbc/9.4.1.jre11). (**edit:** only in case you run DBeaver not with the embedded Java run

[2022-01-23 16:43] serge-rider commented on #6064
Multiple selections was added in Eclipse 2021-12 and in DBeaver 21.3.3.
First version doesn't contain proper keyboard shortcuts, they will be added in the next update (see https://bugs.eclipse.org/bugs/show_bug.cgi?id=576377).

How to use multi-selection:
- Switch to bclock selection mode (<kbd>ALT+Shift+A</kbd>)
- Select block of code you want to edit
- Switch to multi-selection mode. You can fin

[2022-01-23 18:37] LonwoLonwo commented on #13216
![jfc7xRr1D7](https://user-images.githubusercontent.com/45152336/150692840-1d5e5642-7145-4fb5-85a5-a9adea9e0712.gif)

Can't reproduce against in DBeaver 21.3.3

[2022-01-23 18:37] #13216 closed, assigned to nobody

[2022-01-24 01:12] ShadelessFox commented on #14780
Implemented:

![java_Kfdf54HkIC](https://user-images.githubusercontent.com/35821147/150457442-1382bba2-95d0-4eb1-a0b8-c0b67e0b9597.png)

Can be toggled in several ways:
* In Preferences, <kbd>User Interface</kbd> &rArr; <kbd>Navigator</kbd> &rArr; <kbd>Show objects description</kbd>
* In connection's context menu, <kbd>Connection view</kbd> &rArr; <kbd>Show objects description</kbd>

[2022-01-24 01:18] elinazelentsova commented on #15256
I've tried with mssql-jdbc-9.4.1.jre8.jar . The error is the same. Also I tried other versions of dbeaver, but the error is the same.

[2022-01-24 06:02] LonwoLonwo commented on #15256
Hello @elinazelentsova

The whole [error log](https://github.com/dbeaver/dbeaver/wiki/Log-files) will be beneficial.

And what is the purpose of `mssql-jdbc` driver? This is the driver for SQL Server.
It's ok to use only the` net.snowflake:snowflake-jdbc:RELEASE` driver for the Snowflake connection. Unnecessary libraries in the list of drivers libraries can lead to errors in connection.

[2022-01-24 06:38] Long-Tu opened #15259 "启动DBeaver时，默认打开的数据库SQL编辑器连接数据库报错"
# 启动DBeaver时，上次关闭打开的数据库SQL编辑器连接数据库报错
## 1、启动时连接数据库报错
![图片](https://user-images.githubusercontent.com/37840939/150732414-de37faac-077e-4312-9095-1166539c6c9f.png)

## 2、第二次连接数据库报错
![图片](https://user-images.githubusercontent.com/37840939/150733252-2e67d0d5-7bdf-4ad1-b574-c53ad37ca6bb.png)

## 3、第二次相同的报错，确认后数据库默认表正常连接
![图片](https://user-images.githubusercontent.com/37840939/150732636-d16b8176-6812-4b

[2022-01-24 06:50] wrck commented on #15155
@uslss Thank you for your reply. If there is a temporary solution to this problem, how can I prevent it

[2022-01-24 07:10] DariaMarkaryan opened #15261 "[Snowflake] Duplicate values in column filter for Date and Time columns"
#### System information:
- Win10
- DBeaver CE 21.3.3

#### Connection specification:
- Snowflake

#### Describe the problem you're observing:
In the column filter window for Date and Time columns you can see valгes with and without quotes. Both are inserted with quotes into the filter's search bar above the data grid.
![image](https://user-images.githubusercontent.com/43252954/150736955-7004989a-5

[2022-01-24 07:55] Landris18 opened #15262 "Theme doesn't work well"
On linux devices, there is a conflicts between dbeaver theme and the device theme and causing some texts on the app to not be readable.

[2022-01-24 07:58] DariaMarkaryan opened #15263 "[Snowflake] 'Set connection from navigator' can't set schema from another database"
#### System information:
- Win10
- DBeaver CE 21.3.3

#### Connection specification:
- Snowflake

#### Describe the problem you're observing:
When you try to set active schema/catalog from a selected item in the navigator tree, the schema is searched in the database which is active now, not in the database selected in the navigator

#### Steps to reproduce, if exist:
1. Open SQL editor and set act

[2022-01-24 08:16] DariaMarkaryan opened #15265 "[Snowflake] Can't search by time values"
#### System information:
- Win10
- DBeaver CE 21.3.3

#### Connection specification:
- Snowflake

#### Describe the problem you're observing:
Values with the time/date type are not searched through the filter string in the data grid or through the script.

#### Steps to reproduce, if exist:
1. Open a table with TIME column
2. Insert a query into the search string with a value that is in the table:

[2022-01-24 08:22] ems2811 commented on #14293
Doesn't reproduces in DBeaver 21.3.3

[2022-01-24 08:22] #14293 closed, assigned to nobody

[2022-01-24 08:23] ShadelessFox commented on #13344
Duplicate of #14193

[2022-01-24 08:23] #13344 closed, assigned to ShadelessFox

[2022-01-24 08:25] LonwoLonwo commented on #15261
Duplicate of https://github.com/dbeaver/dbeaver/issues/14858

[2022-01-24 08:25] #15261 closed, assigned to nobody

[2022-01-24 08:25] ShadelessFox commented on #15130
Hello @dalexander-trc,

We have several features that fall under your description, so I'm unsure what feature you are referring to.

Are you talking about the <kbd>Generate SQL</kbd> feature?

[2022-01-24 08:29] LonwoLonwo commented on #15257
Hello @0red

Can you please check the new DBeaver version 21.3.3? https://dbeaver.io/
Eclipse version updated in the next release. Maybe it will help with this issue too.

[2022-01-24 08:30] SunMar commented on #14856
@Matvey16 @serge-rider it seems like somehow this issue still persists in the Windows Store version of DBeaver. If I download a standalone DBeaver version the SSH tunnel with Pageant works just fine, but my Microsoft Store installed version keeps giving the error "Unable to initialize SSH agent" even after upgrading to 21.3.3.

[2022-01-24 08:35] Destrolaric commented on #15103
Hi, I will split issues into subparts to manage them separately.

[2022-01-24 08:37] Destrolaric opened #15266 "[Autocompletion] Begin end autocompletion issues"
Part of #15103
3. Autocompletion only works for select statements in sql editor, if you write a piece of code like the following example, it doesn't autocomplete anything:
[code]

4. In sql editor when you just write "begin" in lowercase and press enter, what it does is to autocomplete with following:
[code]

Even when you have capitalization set up in lowercase,  it ignores it and puts the being

[2022-01-24 08:38] Destrolaric opened #15267 "[Autocompletion] Select issues"
Part of #15103
1. Autocompletion now works in sql editor for select statements specifying current schema name in the form "**select * from current_schema.*** ", but if you do "**select * from other_schema.*** " it doesn't work even when you have the option to search in other schemas (whenever possible, because current schema has grants to do so).

[2022-01-24 08:40] uslss commented on #14882
App start after update:
![image](https://user-images.githubusercontent.com/31996417/150749012-1df62b98-8c65-4ed1-9d70-a4e335d330f1.png)
[code]

Error while trying to create Oracle connection:
[code]

[2022-01-24 08:40] uslss commented on #14856
Still reproducible:
[code]

[2022-01-24 08:41] Destrolaric opened #15268 "[Autocompletion] Autocompletion inside packages"
Part of #15103
2. Autocompletion with functions inside packages is not working properly as before, now it autocompletes parameters with their types instead of parameter names as before:
![image](https://user-images.githubusercontent.com/121157/147849247-584eb7b8-77ed-415e-9ae3-eff2e70bece8.png)

It should autocomplete the parameter names in the form :param_value, or param_name => :parameter_value

[2022-01-24 08:44] Destrolaric commented on #15103
@yevon Hi, the link has expired. Can you send a video via Github directly?

[2022-01-24 09:23] #10472 closed

[2022-01-24 09:37] dmitrygribenchuk opened #15269 "Dbeaver does not save data. The attribute was changed but it hasn't associated unique key"
#### System information:
- Ubuntu 20.04.3 LTS
- DBeaver CE 21.3.3

#### Connection specification:
- Postgresql server 13.5 (Ubuntu 13.5-2.pgdg20.04+1)
- Local database

#### Describe the problem you're observing:

Hello. I'm creating a table with a few records like:

`CREATE TABLE admins (
        id         text primary key,
        active     bool default true
); `

When I try to change field ac

[2022-01-24 09:39] #6064 closed

[2022-01-24 09:48] yevon commented on #15103
I will try later but it was too big for github.

[2022-01-24 10:26] LonwoLonwo commented on #15189
https://mvnrepository.com/artifact/org.apache.kylin/kylin-jdbc

[2022-01-24 10:43] Skydiveroid commented on #12660
We can't do that.

[2022-01-24 10:43] #12660 closed, assigned to LonwoLonwo

[2022-01-24 10:59] kseniiaguzeeva opened #15270 "SQL Server: Table index DDL is empty"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.2

#### Connection specification:
- Database name and version SQL Server
#### Steps to reproduce, if exist:
Open a table index DDL in the Metadata Editor

**Expected**: the DDL tab has content or doesn't exist
**Actual result**: the DDL tab is empty

[2022-01-24 11:28] LonwoLonwo commented on #15269
Hello @dmitrygribenchuk

Unfortunately can't reproduce your issue.

![2022-01-24 14_24_52-DBeaver Ultimate 21 3 3 - _postgres_ Script-10](https://user-images.githubusercontent.com/45152336/150774621-1f5ad7df-211c-4289-a4c3-01a43fd5add1.png)

Did you create the "admins" table via UI and Navigator tree? Or do you execute this create statement in SQL Editor? Have you tried to refresh your table schem

[2022-01-24 11:33] dmitrygribenchuk commented on #15269
`insert into admins (id, active) values ('220100', true);
update admins set active = false where id = '220100';
update admins set active = true where id = '220100';`

re-checked now, from text console I can update, but from UI - error still reproduces.

[2022-01-24 11:34] dmitrygribenchuk commented on #15269
I create a table via executing SQL from the editor.
I re-checked now, from the text console I can update, but from UI - the error still reproduces.

[code]

[2022-01-24 11:37] Matvey16 opened #15271 "Change Create/Browse buttons behavior for embedded databases connection creation"
#### System information:
- DBeaver version 21.3.3

#### Describe the problem you're observing:
The settings in connection creation for embedded databases are misleading. The `Create` button is almost always disabled, but new database can be created by entering a path to nonexistent database. We need to rethink how those two buttons work and make it more intuitive for users.

![dbeaver_66SJstmWZy](

[2022-01-24 12:31] greenpeas opened #15272 "Missing quotes in PostgreSQL tables sections DDL"
Missing quotes in PostgreSQL tables sections DDL.
DBeaver 21.3.3, Windows 10

![image](https://user-images.githubusercontent.com/3856344/150783249-5215aa24-c59b-47ff-8618-10db310cec24.png)

[2022-01-24 12:49] PMLP-novo opened #15274 "Use infered word splitting to make names in camel case"
**Is your feature request related to a problem? Please describe.**
Many languages are using the camel case naming convention. The problem being that SQL is not case sensitive. So they is placed with the dilema of making there long names unreadable or to use snake case and be inconsistent.

**Describe the solution you'd like**
Users should be allowed an option to view names in camel case and then t

[2022-01-24 13:08] dalexander-trc commented on #15130
@ShadelessFox Yes, sorry if that was not clear. I am referring to the option provided on the right click menu for table rows.

Generate SQL -> UPDATE

[2022-01-24 13:31] Matvey16 commented on #14187
Verified

[2022-01-24 13:31] #14187 closed, assigned to Destrolaric, Matvey16

[2022-01-24 14:10] LonwoLonwo commented on #15269
Ok. And what about schema refresh? Or reconnect? Didn't help?

[2022-01-24 14:14] dmitrygribenchuk commented on #15269
Hmmm, I restarted the app and the error is gone
After that I dropped and recreated my admins table - error was gone.

[2022-01-24 14:30] Matvey16 commented on #1156
@ultra-chel According to your answer about database it looks like you need to provide ssl parameters because your database uses it. It says that SSL parameters are optional because the database may not require them, but it looks like in your case it does. Can you ask your db administrator to clarify if you can connect to a database without ssl certificates/key?

[2022-01-24 14:45] LonwoLonwo commented on #15272
Thanks for the bug report!

[2022-01-24 14:48] 0red commented on #15257
it's helped. Thx.

[2022-01-24 14:48] #15257 closed, assigned to nobody

[2022-01-24 14:52] Matvey16 commented on #15153
@krishna4ldw Does it ask for authorization code when you click test connection?

[2022-01-24 15:37] Destrolaric commented on #13916
@r1evan Sorry for waiting. Can you send your connection settings and driver properties?

[2022-01-24 15:41] r1evan commented on #13916
Any location from where I can send you these?

[2022-01-24 16:12] LonwoLonwo commented on #13916
Hello @r1evan

Additional projects can be added as a "Coma-separated list" to the Connection Settings.

Could you tell us more about your issue? You are trying to make requests to objects from a project that does not default, but they do not work?
And if you specify in a separate connection with the desired project as default - then requests to the project from another SQL Editor will work?

Also,

[2022-01-24 16:28] LonwoLonwo commented on #13916
And one more question. Have you tried to use the full table name in the SELECT statement? With project name + schema name + table name?
[code]

 works in my case.

[2022-01-24 17:02] r1evan commented on #13916
It does work in that case. But it's quite tedious to give fully qualified name for each table every time rite?

[2022-01-24 17:03] r1evan commented on #13916
Not sure if there is any way we can connect over a call and I can show you the exact issue / requirement which I'm looking for.

[2022-01-24 17:42] LinWanCen commented on #14780
Is the column comment also show?
Expectation!

[2022-01-24 18:03] ShadelessFox commented on #14780
Yes.

[2022-01-24 19:20] uslss commented on #15262
looks like a duplicate of #5869
thanks for the report

[2022-01-24 19:20] #15262 closed, assigned to nobody

[2022-01-24 19:22] uslss commented on #15259
@Long-Tu please, provide issue description in English
thanks in advance

[2022-01-24 19:26] uslss commented on #15241
@XiaogangKing unfortunately, cannot reproduce it. what database do you use? steps to reproduce or/and video of the issue also will be very helpful.
Also, could you check if the issue is reproducible against the recent(21.3.3) version?

[2022-01-24 19:28] uslss commented on #15229
@woxiangbo  unfortunately, cannot reproduce an issue. What DBeaver version do you use? What database do you use?

[2022-01-24 19:33] uslss commented on #15220
thanks for the report

[2022-01-24 20:22] LonwoLonwo commented on #15272
Fixed in DBeaver 21.3.4

[2022-01-25 01:40] XiaogangKing commented on #15241
I'm using DM8 and Oracle, both report the same error.&nbsp; I will try the new version you said, thank you!&nbsp;&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "dbeaver/dbeaver"                                                                                    *

[2022-01-25 03:23] Duduxs commented on #8811
The workaround works here.

[2022-01-25 07:25] Skydiveroid commented on #15192
Sorry, but there is no available public driver.

[2022-01-25 07:25] #15192 closed, assigned to nobody

[2022-01-25 07:38] ShadelessFox commented on #15130
Okay, thank you.

So it is indeed a duplicate. Please see #14193

[2022-01-25 07:38] #15130 closed, assigned to ShadelessFox

[2022-01-25 08:35] donicom opened #15279 "Autoselect Name field at opening of the Add New Column dialog window"
Would it be possible to auto select the Name field at opening of the Add New Column dialog window so it would be possible to write directly the name of the field instead of manually select the whole field or delete manually the the default text "Column1"?

[2022-01-25 08:57] Destrolaric commented on #13916
@r1evan Sorry, you need to write full path to schema, here is information from driver documentation

catalog.schema.table. If the catalog is not specified, the driver will assume the
project specified by the projectId connection option

[2022-01-25 09:02] r1evan commented on #13916
Great thanks!

[2022-01-25 09:04] r1evan commented on #13916
But, when it provided the list of schemas available, there should be a way to run the queries by just selecting the schema from the dropdown. Should be taken as an enhancement. It really tough to give the fully qualified name for table every time.

[2022-01-25 09:14] ShadelessFox commented on #15279
Hello @donicom,

It seems like an excellent minor enhancement to have.

Thank you.

[2022-01-25 10:18] WildLlama opened #15282 "SQL execution with Inline double-dash comment"
DBeaver 21.3.3, Windows 10

Working with SQLServer database, the execution of a query with a double-dash comment results in an execution error, while with MySQL, using the same query, the execution ends correclty
By opening the executed query tab, it looks like that for the SQLServer version the new lines are not kept

**MySQL**
![image](https://user-images.githubusercontent.com/61920578/150960277

[2022-01-25 10:24] uslss commented on #15282
@WildLlama please, provide more info accordingly to the issue template

[2022-01-25 10:34] WildLlama commented on #15282
@uslss I've updated the bug report, I've released without details by mistake

[2022-01-25 11:14] LonwoLonwo commented on #14008
![2022-01-24 09_05_57-Restore](https://user-images.githubusercontent.com/45152336/150736911-452e0bfd-781b-4247-a566-aa3736b088fd.png)

![2022-01-24 09_23_05-Backup](https://user-images.githubusercontent.com/45152336/150736915-f951b74d-c4ac-434c-aa37-2a43c3691c18.png)

Implemented. In the backup and restore settings.
Also, a new warning was added to the "Clean objects" settings button in the Restor

[2022-01-25 11:34] Matvey16 commented on #15230
Verified

[2022-01-25 11:34] #15230 closed, assigned to LonwoLonwo, Matvey16

[2022-01-25 11:43] Matvey16 opened #15283 "Disable replace method combo box if bulk load is used"
#### Describe the problem you're observing:
We need to disable replace methed because it can't be changed when using bulk load which uses it's own native tool's method

![image](https://user-images.githubusercontent.com/82543000/150970875-8871408a-9835-4be3-96b0-8f2919f76de4.png)

[2022-01-25 11:52] Matvey16 commented on #15272
Verified

[2022-01-25 11:52] #15272 closed, assigned to LonwoLonwo, Matvey16

[2022-01-25 11:59] Matvey16 commented on #14477
Verified

[2022-01-25 11:59] #14477 closed, assigned to ShadelessFox, Matvey16

[2022-01-25 12:25] serge-rider commented on #15172
Apache Calcite Avatica driver configuration was added. This driver supports Apache Druid as well.

[2022-01-25 12:38] LonwoLonwo commented on #15282
Hello @WildLlama
Can you please execute your query in the SQL Server without a double-dash comment? Because I think that the main reason for this issue is the incorrect statement.
Some queries can be executed in MySQL and can not be executed in SQL Server. These are different databases.

[2022-01-25 12:43] serge-rider commented on #15189
Apache Kylin driver was added. Besides Kylin JDBC artifact it also requires XML Bind library (which is no longer a part of JDK)

[2022-01-25 12:44] uslss commented on #14298
verified

[2022-01-25 12:44] #14298 closed, assigned to Destrolaric, uslss

[2022-01-25 12:48] LonwoLonwo commented on #15274
Hello @PMLP-novo

Camel's case is cool. We totally agree.
But I do not quite understand what you offer.
You can use camel's case in your tables names. Or for other objects.

You can enable the "Use case-sensitive names in DDL statements" setting in the Preferences, and the camel's case will be saved in quotes - no transformation into lower or upper case.

![2022-01-25 15_46_03-Preferences](https:/

[2022-01-25 12:48] uslss commented on #15069
verified

[2022-01-25 13:08] WildLlama commented on #15282
Hello @LonwoLonwo,
Here is the correct execution without the comment for SQLServer
![image](https://user-images.githubusercontent.com/61920578/150982618-36eba405-f636-4f30-95bb-389669abc45f.png)

[2022-01-25 13:52] Matvey16 commented on #15247
Verified

[2022-01-25 13:52] #15247 closed, assigned to ShadelessFox, Matvey16

[2022-01-25 13:57] Matvey16 commented on #13950
Verified

[2022-01-25 13:57] #13950 closed, assigned to ShadelessFox, Matvey16

[2022-01-25 14:34] zongo811 opened #15285 "MariaDB: Can't browse Packages and Sequences"
#### System information:
- Operating system (distribution) and version: Debian Buster
- DBeaver version: 21.2.3
- Additional extensions: None

#### Connection specification:
- Database name and version: MariaDB, 10.5.12-MariaDB-1:10.5.12+maria~buster
- Driver name: Don't know, default driver was downloaded automagically
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the probl

[2022-01-25 14:39] serge-rider opened #15286 "Maven dependencies: optional dependencies settings not saving"
Ignore dependencies and load optional dependencies options are not saved between DBeaver restarts.

[2022-01-25 14:40] serge-rider commented on #15286
Fixed

[2022-01-25 14:44] uslss commented on #14780
verified

[2022-01-25 14:44] #14780 closed, assigned to uslss, ShadelessFox

[2022-01-25 14:50] skannan-maf commented on #7733
We encountered when trying to connect to Vertica DB (via VPN) on MAC (M1)
I checked using "nc" to see if the Host and port are accessible. They are.
But vertica jdbc Driver (and hence outside scope of Jkiss....) would simply throw this error at "clInit" function that is called from some function related to "versions"... I dont have stacktrace with me... But this is all I could gather in a Teams ca

[2022-01-25 15:13] veerappans commented on #15172
I dont see Apache Calcite Avatica. I only see these following options:

[image: image.png]
Can you please help.

On Tue, Jan 25, 2022 at 7:25 AM Serge Rider ***@***.***>
wrote:

[2022-01-25 15:29] serge-rider commented on #15118
New Clickhouse driver doesn't support older server versions (it fails with error `Sorry this driver only supports ClickHouse server 20.7 or above`).
Thus we can't just replace old driver with the new one. But we can add second driver configuration.
However I'm not sure that we need two Clickhouse drivers. What benefits the new driver provides?

[2022-01-25 16:02] Fernando-Braulio commented on #2765
Show, isso funcionou para mim

[2022-01-25 17:22] andrey-orderby commented on #15216
Anybody? Something? Anything?

[2022-01-25 17:48] srnsomu opened #15289 "Cannot perform SSPI Authentication with DBeaver due to class com.sun.jna.Pointer constraints"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise
- DBeaver version: Version 21.3.3.202201221033
- Additional extensions

#### Connection specification:
- Database name and version: Postgres Version 14
- Driver name:
org.postgressql:  Version 42.2..20
waffle-jna: Version 3.1.1
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the probl

[2022-01-25 19:09] arif98741 opened #15290 "Dbeaver Can't Open and Shows Error An error has occured"
I am using Dbeaver latest version. Yesterday and previously I used it smoothly without any issues. But today I can't open Dbeaver software. I checked the metadata log file. Below is the exception. I previously connected at 5 servers with ssh and local server also.
I am using windows 10.

[code]

[2022-01-26 07:51] Matvey16 commented on #15132
@ooobii Thank you for the report, this happened because we implemented a hotfix after a release but the version number remained the same. This should be fixed now, because version 21.3.3 was released

[2022-01-26 07:53] Matvey16 commented on #15213
@OttoDelphia Hello, can you specify how did you install DBeaver?

[2022-01-26 08:07] Destrolaric commented on #10320
This issue can't be fixed on the DBeaver side. Flatpak restricts executions outside its directory, you can change it manually by using Flatseal to change permissions.

[2022-01-26 08:12] Matvey16 commented on #15239
@kpconnell Can you add more details about your use case. You are talking about slow/unstable network on server side or client side? What do you mean by "throw away connections"?

[2022-01-26 08:17] uslss commented on #15172
@veerappans it will be available in 21.3.4
![image](https://user-images.githubusercontent.com/31996417/151127016-a1f9ec96-b842-453e-bd5b-d24ed1ebd561.png)

[2022-01-26 08:23] bmoAtolcd opened #15293 "Find/Replace Preselect "selected line""
In sql editor, if some text are selected, scope option "Selected lines" should be selected when Find/Replace dialog box is displayed.
![image](https://user-images.githubusercontent.com/57495449/151127823-db43a223-4b40-4cb1-a406-2f0bc0352261.png)

[2022-01-26 08:27] serge-rider opened #15294 "Redshift driver version update"
We need to upgrade Redshift driver to 2.1.

Older driver doesn't support abstime data type.
Also we read users properties incorrectly.

[2022-01-26 08:35] Matvey16 commented on #15216
@andrey-orderby I can't reproduce it on the latest version. 7.2.3 is pretty old, can you test it on the latest DBeaver 21.3.3?

[2022-01-26 08:35] bmoAtolcd commented on #10235
I need this feature "group tab by connection", it will be very useful.
Often I too open several databases with same name on different servers.

[2022-01-26 08:36] serge-rider commented on #15294
Done.

Can be tested with query `SELECT usename, valuntil FROM pg_catalog.pg_user_info`

[2022-01-26 08:38] Matvey16 commented on #15285
@zongo811 Both issues are caused by your privileges restrictions. The fact that you don't see sequences is caused by the same access restriction, but for some reason doesn't show an error.

[2022-01-26 08:39] LonwoLonwo commented on #14008
A --create argument added to restore settings.

[2022-01-26 08:47] 93910676wangd commented on #15228
why  Navicat or pgadmin4 tool is no problem
however DBeaver is error.. why???

[2022-01-26 08:49] uslss commented on #13976
verified

[2022-01-26 08:49] #13976 closed, assigned to uslss, ShadelessFox

[2022-01-26 08:54] LoloIrie commented on #10235
Really nice would be a solution like the Chrome Browser to group tabs. Thanks

[2022-01-26 08:54] zongo811 commented on #15285
Thank you for the quick response. I know this is not DBeaver, but maybe you can help me out?
I already tried to grant privileges as User _116b3574bd7013c0:
[code]

And as root:
[code]
As for sequences: googling and reading the mariadb-docs revealed nothing.
Do you know by chance how to set which privileges in mariadb?

[2022-01-26 09:01] ShadelessFox commented on #15279
Fixed for new attribute and constraint creation dialogs.

[2022-01-26 09:34] andrey-orderby commented on #15216
I've upgrated my dbeaver to 21.3.0.202111281534. Still see the same long GET_TABLES queries in the impala daemon
![Screenshot_285](https://user-images.githubusercontent.com/97964871/151138509-0c8a637e-253f-4d1c-9762-9e552b54dcb3.jpg)
![Screenshot_286](https://user-images.githubusercontent.com/97964871/151138513-c6f8eedc-711b-467b-ba42-62a6a6b0aefc.jpg)
.

[2022-01-26 10:34] Matvey16 commented on #15289
Thank you for the report, it should be fixed in #15286

[2022-01-26 10:36] Matvey16 commented on #15290
@arif98741 Hello, how did you install Dbeaver?

[2022-01-26 10:38] arif98741 commented on #15290
I downloaded Dbeaver from official site and run the exe file. That's all

[2022-01-26 10:42] Matvey16 commented on #15216
@andrey-orderby Do you see this query in DBeaver query manager?

[2022-01-26 10:44] plotn opened #15296 "Export data to database connection issue"
DBeaver  21.3.3.202201221033, win10x64.
Oracle Database.

Hi!
I am performing the following scenario - export from one database to another. First step - I choose export, go to field select.
See pic 1. I checked "create new table", then "create every field except one, not needed (i set "skip").
Then I go further to final confirmation. I got an connection error, ok. I press ok, then again, it reconn

[2022-01-26 11:27] OttoDelphia commented on #15213
This was installed using the downloads from the DBeaver site some time ago.
This is a company managed machine, so it is possible that something has changed outside of DBeaver.  I will attempt to re-install.
Thank you for your reply.

From: Matvey16 ***@***.***>
Sent: Wednesday, January 26, 2022 1:54 AM
To: dbeaver/dbeaver ***@***.***>
Cc: Bob Dixon ***@***.***>; Mention ***@***.***>
Subject: Re: [

[2022-01-26 11:29] LonwoLonwo commented on #15285
I think, that the right command in your case for root is:

[code]

also, can you execute this statement?

[code]

We use it for the sequence reading.

[2022-01-26 11:34] ShadelessFox commented on #10149
2. Implemented ability to define keybindings for switching between content viewers (no keybindings are set by default):

![image](https://user-images.githubusercontent.com/35821147/151137148-79a1f8f4-d971-43c3-9202-dc6c88b04542.png)

3. Textual content viewers (JSON, XML) are now also available for binary data:

![image](https://user-images.githubusercontent.com/35821147/151137389-a0f80a0c-e1a1-40

[2022-01-26 11:38] kpconnell commented on #15239
@Matvey16  I'm not sure how to respond to the question about "side" - Network paths do not really have "sides" they have segments.   Any segment can be slow or drop packets.      By throw away I mean:  "Stop trying to utilize existing connections if they aren't responding within.. say.. 500ms.  Just create a new connection, and make sure new connections are lightweight (simply the connection, no m

[2022-01-26 11:40] Matvey16 commented on #15290
@arif98741 It looks like something happened with your workspace. Please, try to copy a backup of your workspace in `%APPDATA%/DBeaverData` into another directory and then delete it from AppData. Will Dbeaver launch if you don't have a previously saved workspace?

[2022-01-26 11:48] Matvey16 commented on #15296
@plotn Can you please explain what exactly you did after connection error? Have you finished the export or you closed the export wizard and opened it again after reconnect to retry?

[2022-01-26 11:52] arif98741 commented on #15290
thanks I will try to follow it

[2022-01-26 11:57] LonwoLonwo commented on #13394
![2022-01-18 22_43_41-DBeaver Ultimate 21 3 3 - _db2 dev dbeaver com_Script-110](https://user-images.githubusercontent.com/45152336/150009392-61069307-17c0-4035-ae6d-55b17861a022.png)

![2022-01-18 22_57_57-DBeaver Ultimate 21 3 3 - exaPlan2 dbplan](https://user-images.githubusercontent.com/45152336/150009674-5b45dcc5-020b-422c-8131-5d2a60e23150.png)

Ability to save and load execution plan added

[2022-01-26 12:03] plotn commented on #15296
I try to continue.
Oracle says, that he cannot create column "RowId", because it is system for him.
I go back to column settings and set [skip] AGAIN (I surely did it once).
Then it works (I press next, next, and so on).

NB: During all of this I do not close thr wizard

[2022-01-26 12:09] LonwoLonwo commented on #11090
- Privileges table reorganized
- A new checkbox button "With GRANT option" added
- Privileges refresh improved

![2022-01-24 21_30_39-DBeaver Ultimate 21 3 3 - Вася Пупкин@%](https://user-images.githubusercontent.com/45152336/151070715-b89ee821-2be3-4cad-a838-98ca5d5d0317.png)

![2022-01-25 16_30_10-Event](https://user-images.githubusercontent.com/45152336/151070719-799ee48d-834c-4b8f-8eb6-7f73d25

[2022-01-26 12:36] Skydiveroid commented on #15293
Thank you for the feature request!

[2022-01-26 12:38] zongo811 commented on #15285
Hi,
I executed the grant statement as root. This fixed the problem with browsing packages.
I also executed the SELECT on TABLES. This also worked in DBeaver:
![grafik](https://user-images.githubusercontent.com/77285389/151162939-df92c326-a9b8-4651-8fb9-32b4edcf73c4.png)
Alas a Refresh on "Sequences" still did not show the sequences revealed by the SQL-statement.
I used "Invalidate/Reconnect" on th

[2022-01-26 12:40] IanMoroney opened #15297 "AADSTS700082: The refresh token has expired due to inactivity."
#### System information:
- Windows 10
- DBeaver version - 21.3.3
- Additional extensions

#### Connection specification:
- Azure SQL database
- Azure SQL driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? - no

#### Describe the problem you're observing:
When an Azure AD refresh token expires, the driver does not use an access token to generate a new refresh token, or open a browser based w

[2022-01-26 12:40] kseniiaguzeeva opened #15298 "Auto-complete with tables appears after brackets when we describe a column type"
#### System information:
- DBeaver version 21.3.0

#### Steps to reproduce, if exist:
1. Write in the SQL Editor for MySQL
[code]
2. Press alt/ctrl+space after the bracket

**Expected**: nothing appears
**Actual result**: a list of tables appears for auto-complete
![dbeaver_YwGQlooKsI](https://user-images.githubusercontent.com/51405061/151164428-01862109-9544-4c4a-8d29-193d6bb8961f.png)

[2022-01-26 12:41] IanMoroney commented on #15297
Question on this issue, is DBeaver or the Azure SQL Driver doing anything to detect that a refresh token has expired and going through a workflow to request a new one?

[2022-01-26 12:46] Skydiveroid commented on #15242
Thank you for your proposal.

[2022-01-26 12:50] Skydiveroid commented on #15238
Thank you for the feature request!

[2022-01-26 12:50] simexg opened #15299 "Dump require GLIBC"
#### System information:
- Operating system (distribution) and version: Fedora 35
- DBeaver version: 21.3.3.202201221033
- Additional extensions: I didn't install any extensions.

#### Connection specification:
- Database name and version:  Mariadb 10.5.13
- Driver name: mariadb-java-client-2.7.1
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
I

[2022-01-26 12:54] Skydiveroid commented on #15227
Thank you for the feature request!

[2022-01-26 13:03] Skydiveroid commented on #15141
Thank you for the feature request!

[2022-01-26 13:16] uslss commented on #15191
Unfortunately, it is not planned for CE version.
For now, the database password could be shown as plain text in Connection settings:
![image](https://user-images.githubusercontent.com/31996417/151169460-adf0ee08-05ab-48f6-9726-7a9fb4958ef7.png)

Note: [Master Password for the project](https://github.com/dbeaver/dbeaver/wiki/Project-security#project-password) should be set.
![image](https://user-im

[2022-01-26 13:19] uslss commented on #1905
already implemented
![image](https://user-images.githubusercontent.com/31996417/151170066-a671b8ab-74cc-4be3-8a68-02c9a29067c5.png)

[2022-01-26 13:19] #1905 closed

[2022-01-26 13:19] andrey-orderby commented on #15216
This effect pops up from time to time. I do not know what triggers it. But when I call this particular select, that I have written of, or just a simple select * from <table> limit 100, I sometimes get this long task.
I have checked my settings, set all checkboxes to check in query manager. I have not used it ever before, only used Execution log. But now that I have opened it, I saw this strange ta

[2022-01-26 13:29] uslss commented on #2908
MERGE option is already available in table context menu in DB Navigator
![image](https://user-images.githubusercontent.com/31996417/151171522-0549a674-7e54-4c07-a417-a6a72a403af8.png)

[2022-01-26 13:29] #2908 closed

[2022-01-26 13:32] uslss commented on #11090
verified

[2022-01-26 13:50] veerappans commented on #15172
Thank you. Looking forward to it. Any approx release date?

On Wed, Jan 26, 2022 at 3:18 AM Dziyana ***@***.***> wrote:

[2022-01-26 13:51] yevon commented on #1905
Working fine now

[2022-01-26 14:26] Matvey16 commented on #15251
@Kambaa Hello, thank you for a suggestion. Unfortunately the .ini file is read only after the workspace has already been initialized and that process is a part of eclipse platform, so we don't have means to change that.

[2022-01-26 14:43] Matvey16 commented on #15213
@OttoDelphia If it doesn't work after reinstall, I would suggest checking your `path` and `javahome` environment variables. Also the fact that DBeaver used a different Java than the one it come packaged with suggests that it is started in some nonregular way. Did you start it from default desktop shortcut/.exe file?

[2022-01-26 15:01] OttoDelphia commented on #15213
Yes, this was started from the same shortcut.  However, now that you mention the path, I do recall the path variables being reset this past week in relation to some other applications.  Let’s chalk this one up to user error.
Thank you for the reply.  I’m on my way to getting back up again.

From: Matvey16 ***@***.***>
Sent: Wednesday, January 26, 2022 8:43 AM
To: dbeaver/dbeaver ***@***.***>
Cc: B

[2022-01-26 15:14] Xylandor opened #15301 "Newest Results Tab Not Receiving Focus"
#### System information:
- OS:  MacOS Big Sur v11.4
- DBeaver version:  21.3.3.202201221033
- Additional extensions:  None

#### Connection specification:
- Local installation of MariaDb
- Driver name: MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Since the release of the DBeaver version 21.3.3.202201221033, when executing SQL in a new r

[2022-01-26 15:15] mauriliolima opened #15302 "Version 21.3.3.202201221033 don't show selected database in toolbar "Active Datasource""
#### System information:
- Operating system (distribution) and version
Microsoft Windows [versão 10.0.19044.1466]
- DBeaver version
Version 21.3.3.202201221033
- Additional extensions
none

#### Connection specification:
- Database name and version
Oracle Oracle Database 19c EE Extreme Perf Release 19.0.0.0.0 - Production

- Driver name
Oracle JDBC driver 12.2.0.1.0

- Do you use tunnels or proxie

[2022-01-26 15:16] mauriliolima commented on #15302
Additionally, log doesn't show any error, warning, nothing.

[2022-01-26 16:17] zhicwu commented on #15118
Sorry I didn't make it clear. Sounds good to have two drivers if that's not too much trouble at your end.

The minimum supported version of ClickHouse is 21.3(see list at [here](https://github.com/ClickHouse/ClickHouse/pulls?q=is%3Aopen+is%3Apr+label%3Arelease)).

As you probably knew, ClickHouse spinout from Yandex was announced in late September 2021(details at [here](https://clickhouse.com/blog

[2022-01-26 16:39] plotn opened #15303 "AutoUpdate feature inconvience"
Hi!
When I am under Ubuntu and I set up snap version of DBeaver and there becomes newer version - DBE show the dialog, saying "there is newer version etc...". But! Is it correct that I should not go to download and install freshest deb? Instead I am to wait when snap will be updated in appropriated way too, I think (doing sudo snap refresh - manually or automatically).
Could we, somehow, check tha

[2022-01-26 18:00] MarcinGrinberg commented on #3647
For anyone getting MSAL4J error and not wanting to revert to older version of driver, or in case it doesn't work for you.

Here is what I did:
Refer to https://github.com/dbeaver/dbeaver/issues/3647#issuecomment-405919517
But instead of using adal4j artifactId I've used msal4j as a version you can try 1.11.0 - that's what worked for me along with mssql-jdbc in version 9.4.1.jre8.

Good luck!

[2022-01-26 18:04] rdp opened #15304 "clarify what true looks like in output"
**Is your feature request related to a problem? Please describe.**

DBeaver display of boolean is slightly confusing.

**Describe the solution you'd like**

If I have a boolean column, I'd like it more obvious.

ex: postgres

[code]

It shows a [v] for the output pane.
A "v"?  What type is that?  What am I seeing?

Suggestion/feature request for UI:

[true] and [false] or possibly show a "real-er"

[2022-01-26 21:15] CathyBreslow commented on #15301
I see this behavior too!

[2022-01-26 21:50] scmehle commented on #15304
This feature does exist, but you have to dig through the preferences a bit.

Click on the "Window" menu and choose "Preferences". Navigate to the editors section, and there is a section to set how Booleans display. Screenshot attached for reference.
![image](https://user-images.githubusercontent.com/9370225/151252583-30d2579a-2f03-4a0a-a1ac-064a72d0fd5a.png)

[2022-01-26 22:35] rdp commented on #15304
That's interesting, mine on OS X just shows up as a "v" like [v]"...

[2022-01-26 22:54] nicchristeller commented on #7753
I have a similar want to maffe: I'd love if a ctrl+click of an object in the editor revealed it in the navigator, instead of having to Open Declaration, Link With Editor, then close the declaration tab

[2022-01-27 01:40] ghost commented on #15191
Thank you!

On Wed, Jan 26, 2022 at 10:16 AM Dziyana ***@***.***> wrote:

[2022-01-27 04:58] ninjarogue commented on #14726
I was having this same issue, I am using the beta version as well, I installed dbeaver-community with homebrew. I just reinstalled it like so: `brew reinstall dbeaver-community` to get it working again

[2022-01-27 08:08] LonwoLonwo commented on #15304
And you can change it in the Preferences.

![2022-01-27 11_07_10-Preferences](https://user-images.githubusercontent.com/45152336/151317222-0a7c9915-5b92-4741-addf-d6a3d9ff9c2a.png)

[2022-01-27 08:08] #15304 closed, assigned to nobody

[2022-01-27 08:12] uslss commented on #15303
thanks for the suggestion
closed as a duplicate of #12597

[2022-01-27 08:12] #15303 closed, assigned to nobody

[2022-01-27 08:14] uslss commented on #15301
thanks for the report

[2022-01-27 09:54] schifferle opened #15310 "Use real binds with PreparedStatements instead of just replacing them in the query string"
#### System information:
- Windows 10 and Ubuntu 20.04
- 21.3.3

#### Connection specification:
- Oracle Enterprise Database 19
- Driver name: ojdbc8-19.7.0.0.jar

#### Describe the problem you're observing:

While reading the documentation https://dbeaver.com/docs/wiki/SQL-Execution#dynamic-parameter-bindings a developer thinks this results in a proper sql binding using PreparedStatements (https:

[2022-01-27 10:09] uslss commented on #15279
verified

[2022-01-27 10:09] #15279 closed, assigned to uslss, ShadelessFox

[2022-01-27 10:11] serge-rider commented on #15310
DBeaver doesn't use prepared statement bindings for user queries. This was made on purpose.
First of all many JDBC drivers don't support parameters binding properly (for example they may not support binding of complex parameters like arrays or structures).
Also, you can use any SQL expression as a parameter (e.g. CURRENT_TIMESTAMP or even sub-select). This is not possible with parameter bindings.

[2022-01-27 10:13] uslss commented on #15286
verified

[2022-01-27 10:13] #15286 closed, assigned to serge-rider, uslss

[2022-01-27 10:14] LonwoLonwo commented on #15285
Yeah! I found the problem.
The SELECT query was incorrect for the database with the complex name.

Thanks for the bug report @zongo811

[2022-01-27 10:17] Matvey16 commented on #10149
Verified

[2022-01-27 10:17] #10149 closed

[2022-01-27 10:38] fikusz01 opened #15313 "Automatically browse default schema in the tree view when connecting to database"
It would be very nice, if the program could automatically jump/browse to the given default schema in the left hand side tree view.
It could save so much time when working with multiple databases and connections at the same time, and have to click-click all the way down just to view data in a table.

The solution could be a new checkbox in connection settings: "automatically open schema in navigati

[2022-01-27 10:39] schifferle commented on #15310
Hi, thanks for your fast answer.
We know that not all JDBC Drivers supports parameter binding properly. But for the "main" databases used in the real world PreparedStatements are supported.

Without this support in single SQLs it is impossible to reproduce statements from applications which uses PreparedStatements.
Oracle and PostgreSQL creates not always the same execution plan for this two state

[2022-01-27 10:41] serge-rider commented on #15118
Ok, this makes sense.
But how should we name this new driver to avoid confusing users?
Should we leave the same icon for new driver?

[2022-01-27 10:42] uslss commented on #15313
@fikusz01 you could use Link with editor button in DB Navigator
![image](https://user-images.githubusercontent.com/31996417/151343065-d3dbc379-37d0-42fb-b68e-af28fc5d1806.png)
does it fit you?

[2022-01-27 10:50] fikusz01 commented on #15313
Thanks! It's a cool feature if you already have opened something and want to jump to the db object. But my idea is about the case when you are just connecting to a db in the Database Navigator panel.

[2022-01-27 11:01] Matvey16 commented on #15239
@kpconnell Thank you for clarification, now I see what you meant.

[2022-01-27 11:24] uslss commented on #15313
did you try to enable Expand navigator tree on connect option in preferences?
![image](https://user-images.githubusercontent.com/31996417/151349496-ebf6e2fe-4b3c-44fd-bd76-2a1919fb04ed.png)

[2022-01-27 11:50] fikusz01 commented on #15313
@uslss thanks for the quick reply! Didn't notice this settings, thanks! It's almost what I imagined. This feature could be enhanced to handle the given default schema too (attached screenshot). Now it's not opening schema, only goes for database - witch is very cool, half the clicks are saved this way.

![image](https://user-images.githubusercontent.com/10757989/151353146-e8704a5b-cd7f-422b-a85a-9

[2022-01-27 12:22] jsveiga-sps opened #15315 "HANA: CREATE PROCEDURE syntax error on DBeaver, works on HANA Studio"
#### System information:
- Operating system: Windows 10
- DBeaver version 21.3.3

#### Connection specification:
- Database name and version : HANA 2.0
- Driver name: SAP / HANA ; com.sap.db.jdbc.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

Creating a procedure in DBeaver with this:
[code]

Results in
[code]

But the same works in HANA

[2022-01-27 12:36] imotsch commented on #15310
In order to analyze an sql statement in its real form it is not only crucial that it looks like the real one but also that it behaves that way. In particular with regard to OWASP top ten and other database related topics it should be a "must" criteria that dbeaver sends an sql statement containing binds using the bind mechanisms of the driver. Especially since the bind popup dialog pretends to the

[2022-01-27 12:57] Matvey16 commented on #13394
Verified

[2022-01-27 12:57] #13394 closed, assigned to LonwoLonwo, Matvey16

[2022-01-27 13:16] Destrolaric commented on #14572
@Fang3s Hi, can you look if the issue is still reproducible. A similar ticket was fixed https://github.com/dbeaver/dbeaver/issues/13654.
So the issue might be already solved.
P.S. We looked more into the issue, and it is still actual

[2022-01-27 13:31] flambchap opened #15316 "It takes a ton of time to load ERD for a schema in Teradata"
#### System information:
- Operating system (distribution) and version Win 11
- DBeaver version 21.3.3 devel
- Additional extensions

#### Connection specification:
- Database name and version  Teradata Database 16.20.32.23
- Driver name com.teradata.jdbc.TeraDriver 17.10.00.23
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:
ERD load is way too s

[2022-01-27 14:11] Matvey16 commented on #14008
Verified

[2022-01-27 14:11] #14008 closed, assigned to LonwoLonwo, Matvey16

[2022-01-27 14:36] Matvey16 commented on #15285
Verified

[2022-01-27 14:36] #15285 closed, assigned to LonwoLonwo, Matvey16

[2022-01-27 14:37] uslss commented on #15050
verified

[2022-01-27 14:37] #15050 closed, assigned to Destrolaric, uslss

[2022-01-27 14:43] uslss commented on #15301
verified

[2022-01-27 14:43] #15301 closed, assigned to E1izabeth, uslss

[2022-01-27 14:53] zhicwu commented on #15118
Perhaps `ClickHouse` for the new driver, and `ClickHouse (Deprecated)` for the old one?

Yes.

[2022-01-27 15:12] jianzhaofeng commented on #5077
I have the latest version and  got same issue, please reopen this issue.
![image](https://user-images.githubusercontent.com/17436601/151386570-2a85f948-10ba-420d-a46a-2d4d52edd756.png)
![image](https://user-images.githubusercontent.com/17436601/151386849-6f7d5857-9d93-422e-a005-2e1866794507.png)

[2022-01-27 15:33] uslss commented on #5077
@jianzhaofeng latest version is 21.3.3
you could download it and check if issue is still actual https://dbeaver.io/download/

[2022-01-27 15:37] LonwoLonwo commented on #5077
Hello @Diabolarius

Your Table DDL will be beneficial.

[2022-01-27 15:55] #15191 closed, assigned to uslss

[2022-01-27 15:58] ebebpl opened #15318 "Impala: [HY000] : IllegalStateException: Unsupported TableSink format(s): ORC"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: Version 21.1.1.202106210824
- Additional extensions

#### Connection specification:
- Database name and version: Cloudera Impala 3.4.0.7.1.7.0-551
- Driver name: Cloudera ODBC Driver for Impala 64bit v2.6.5.1005
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you'r

[2022-01-27 16:00] jianzhaofeng commented on #5077
Thanks a lot, It has been fix at  Version 21.3.3

[2022-01-27 16:19] pedro4l commented on #6195
Hey, thank you all for posting and commenting this initial post.
I would be delighted to hear about such a functionnality as I am mainly doing big analysis requiring large data view.
I would even use 3 screens if it was possible.
The workaround is not working nicely for me as my screens are not at same height so the window is not fiting all screen space.
Please consider this !!!!
Thank you very mu

[2022-01-27 16:23] uslss commented on #14814
There has been no update on the issue for a long time.
if it is still actual for you - feel free to reopen it with additional info for its investigation

[2022-01-27 16:23] #14814 closed, assigned to nobody

[2022-01-27 16:26] uslss commented on #14664
@ReconditenessPerson is it still actual for you?
unfortunately, still can not reproduce it. If it is still actual against the recent version, could you try to reset workspace and UI settings?
![image](https://user-images.githubusercontent.com/31996417/151400610-c084821e-c1b4-42d1-a1d5-436233a9324d.png)

[2022-01-27 16:28] uslss commented on #13875
There has been no update on the issue for a long time.
If it is still actual for you against the recent version, please reopen it.

[2022-01-27 16:28] #13875 closed, assigned to nobody

[2022-01-27 16:30] uslss commented on #15084
@Trid-collab is it still actual for you against the recent version?

[2022-01-27 16:30] uslss commented on #15074
There has been no update on the issue for a long time.
If it is still actual for you against the recent version, please reopen it.

[2022-01-27 16:30] #15074 closed, assigned to nobody

[2022-01-27 16:30] #15002 closed, assigned to nobody

[2022-01-27 16:35] uslss commented on #15109
@Teiemo , what DBeaver version do you use?

[2022-01-27 16:36] #13390 closed, assigned to uslss

[2022-01-27 17:12] uslss commented on #15150
@YuriDude did you install DBeaver from MS Store?

[2022-01-27 17:12] uslss commented on #15150
seems to be related to #14882

[2022-01-27 18:17] uslss commented on #15143
duplicate of #15129

[2022-01-27 18:17] #15143 closed, assigned to nobody

[2022-01-27 18:20] uslss commented on #15129
looks like it should be fixed in scope of #6398

[2022-01-27 18:22] uslss commented on #5471
probably, will be fixed in the scope of #6398

[2022-01-27 18:23] uslss commented on #6795
probably, will be fixed in the scope of #6398

[2022-01-27 18:23] uslss commented on #8019
probably, will be fixed in the scope of #6398

[2022-01-27 18:24] APMMMatthews commented on #5471
Thanks

[2022-01-27 18:24] uslss commented on #8155
already implemented

[2022-01-27 18:24] #8155 closed

[2022-01-27 18:26] uslss commented on #8922
probably, will be fixed in the scope of #6398

[2022-01-27 18:27] uslss commented on #9283
probably, will be fixed in the scope of #6398

[2022-01-27 18:28] uslss commented on #15143
#8922 #6398

[2022-01-27 18:29] uslss commented on #12729
#8922

[2022-01-27 18:29] #12729 closed, assigned to nobody

[2022-01-27 18:30] #9283 closed

[2022-01-27 18:31] uslss commented on #6795
closed as #6398 duplicate

[2022-01-27 18:31] #6795 closed

[2022-01-27 19:26] kai-morich commented on #15315
Dbeaver end-of-statement detection stumbles over the first ;
As workaround you can select the full procedure text befor execution,

But declaring variables between AS and BEGIN is not official syntax, you you better use this syntax, where the workaround is not required:

    CREATE PROCEDURE TESTPROC AS
    BEGIN
      DECLARE TESTVAR INT;
      TESTVAR = 1;
      SELECT :TESTVAR FROM DUMMY;
    E

[2022-01-27 19:29] kai-morich commented on #15310
similar for HANA, see #11164

[2022-01-27 19:34] jsveiga-sps commented on #15315
Thank you!
Selecting all and executing as a statement (instead of as a script) works!
It would be nice though if DBeaver accepted it, since SAP themselves use it - but I agree, the HANA SQL documentation does not mention it.
DBeaver is a wonderful tool by the way - thanks!

[2022-01-27 19:34] #15315 closed, assigned to nobody

[2022-01-27 20:51] wub commented on #7846
On macOS with PostgreSQL installed via homebrew, you can click on "Local Client...", click on the dropdown, click "Browse...", click "Add Home", press CMD+shift+G to open the folder jumper, then navigate to `/opt/homebrew/bin`, and add that folder.

[2022-01-27 21:27] zoran-petrovic-87 opened #15319 "Authentication plugin 'caching_sha2_password' cannot be loaded"
DBeaver Version 21.3.3.202201221033 on WIndows 11,

When trying to execute script or restore database I get this error:

[code]

When creating DB connection I selected MySQL (when I hover over icon it says "Driver for MySQL 8 and later").

Local client was downloaded by DBeaver:

- Product name: MySQL/MariaDB
- Product version: 5.5.62

[2022-01-27 22:00] augugusto opened #15320 "Error syntax highliting of MSSQL"
**Is your feature request related to a problem? Please describe.**
I love DBeaver from simple queries but as the get more complex I always endup moving back to SMS because it shows me highlights while I'm writing like If i'm missing an "end", or missing variable declaration, etc without having to actually test the query

**Describe the solution you'd like**
I would like to implement this in a simi

[2022-01-28 00:39] hoanganf opened #15321 "Export sql result to excel feature"
** first thank you for provide the amazing free sql tool, im using it in my work
**Is your feature request related to a problem? Please describe.**
if you add export sql result to excel file feature, i think the app will are best choice for sql tool

**Describe the solution you'd like**
when i query the sql, and the result can be export to excel file (not csv), because if using csv file we can not

[2022-01-28 02:03] ffalcon31415 opened #15322 "date=CURRENT_DATE filter lost on restart despite saving"
#### System information:
- Windows 10 Professional x64 - CCW1064V64
- DBeaver version 21.3.1.2021122130652
- Additional extensions: none

#### Connection specification:
- Database name and version: sqlite3

#### Describe the problem you're observing:
I use dBeaver to work on a sqlite3 database with a single table called bailPositions.
I want the bailPositions table to always open with a filter on

[2022-01-28 07:06] kseniiaguzeeva opened #15323 "Scripts with delimiters cannot be executed as a script"
#### System information:
- DBeaver version 21.3.0 EE

#### Connection specification:
- Database name and version MySQL

#### Steps to reproduce, if exist:
Execute a script with a delimiter by _Execute SQL Script_ button or by `Alt+X`
e.g. for sakila database:
[code]
**Expected**: the script is executed correctly.
**Actual result**: the script cannot be parsed correctly and fails.

https://user-ima

[2022-01-28 07:33] LonwoLonwo commented on #15321
Hello @hoanganf

We already have this feature as an extra extension for DBeaver: https://github.com/dbeaver/dbeaver/wiki/Optional-extensions#office-integration

Also, our commercial product includes this extension from the start: https://dbeaver.com/

[2022-01-28 07:33] #15321 closed, assigned to nobody

[2022-01-28 07:36] LonwoLonwo commented on #15323
Connected with: https://github.com/dbeaver/dbeaver/issues/11656

[2022-01-28 07:41] LonwoLonwo commented on #15319
Hello @zoran-petrovic-87

Can you please try [this solution](https://stackoverflow.com/a/49935803/14220989):

[code]

[2022-01-28 08:13] Matvey16 commented on #15216
@andrey-orderby Thank you for the investigation. I searched through different impala documentation and it looks like an expected behavior of impala JDBC driver that uses this method to retrieve metadata. As a temporary workaround I can recommend disabling local catalog mode on your server (this should stop the driver from using this method). Please say if this helps. We will investigate this issue

[2022-01-28 08:22] uslss commented on #14259
verified

[2022-01-28 08:22] #14259 closed, assigned to E1izabeth, uslss

[2022-01-28 08:58] Matvey16 commented on #15224
Verified

[2022-01-28 08:58] #15224 closed, assigned to Destrolaric, Matvey16

[2022-01-28 10:45] ShadelessFox commented on #15152
Fixed.

Steps to reproduce:
1. Open an SQL console
2. Cause workbench to persist its state without actually shutting down the application (e.g. using auto-save feature)
3. Forcely terminate the application (via task manager, etc.), so the persisted state of the workspace is not overridden
4. Start application

[2022-01-28 10:49] WicloW commented on #2738
Hi, i noticed these last times that my Auto commit is off and once i do one commit it is switching to Auto commit enabled instead to remain in manual commit...
Could it be possible to remain in manual commit?
Cause it is really dangerous on Production DB to be in autocommit.
And checking the autocommit state after each manual commit is not valuable.

[2022-01-28 10:57] zoran-petrovic-87 commented on #15319
Hello @LonwoLonwo

In that case I will be configuring my user on MySQL server to use legacy authorization on MySQL.
I think that this is a bug on DBeaver side since it is using MySQL client that is not compatible with MySQL 8.

[2022-01-28 11:46] LonwoLonwo commented on #15319
Ok.

Have you tried to connect through MySQL 5 driver? Maybe it can resolve your issue?

![2022-01-28 14_45_44-Connect to a database](https://user-images.githubusercontent.com/45152336/151541822-89dd53ee-cb7e-4f34-9b55-964a214ad40c.png)

[2022-01-28 11:59] Matvey16 commented on #15152
Verified

[2022-01-28 11:59] #15152 closed, assigned to ShadelessFox, Matvey16

[2022-01-28 12:15] YuriDude commented on #15150
Yes , it was installed from MS Store.
Context: I work at organization with fairly strict policies and I am not an admin of local machine, thus installation of any software requires approvals and help desk ticket. Installation from MS Store circumvents it.

[2022-01-28 12:17] YuriDude commented on #15150
Not sure -  I **definitely** do not get what is displayed at 14882.

[2022-01-28 12:21] YuriDude commented on #15150
DBeaver Team I have no problems to submit error logs, I just don't feel comfortable to post them **"for the rest of world"**. As it would be "invitation" for troubles even though I would be able to obfuscate "_what needs to be obfuscated_"

[2022-01-28 12:30] zoran-petrovic-87 commented on #15319
@LonwoLonwo after some investigation, this is what I have found:

Case 1:

- User on server is protected with "Default – MySQL **8+**"
- In DBeaver I create connection for MySQL **8**
- I can connect.
- Running '_Tools > Restore database_' or '_Tools > Execute script_' gives this error: _ERROR 2059 (HY000): Authentication plugin 'caching_sha2_password' cannot be loaded: The specified module could

[2022-01-28 12:46] mike-boost commented on #1323
moron design for this and project functions

[2022-01-28 12:48] Matvey16 commented on #15188
@BambangSumitra Thank you for the report, I reproduced this issue. We will look at the cause of this, but as a workaround you can copy MariaDB driver in driver manager and change the desired properties instead of creating a new one from scratch

[2022-01-28 16:03] jobe451 commented on #6064
Uhhhhh, that is so far away from anything like what VSCode offers.

For instance, shift-arrow-down selects multiple lines, shift-arrow-right selects by character, arrow-right does not move the cursor character by character. Instead, the multiselection is reduced to the last cursor: FAIL, BIG FAIL!

[2022-01-28 17:25] ben-mur opened #15326 "DBeaver Voluntary Product Accessibility Template (VPAT)"
US Government Agencies are requesting that software and tools, like DBeaver, complete and publish a Voluntary Product Accessibility Template (VPAT). The presence of a VPAT for a tool, like DBeaver, makes it easier for the tool to be approved for use and distributed internally.

More info for regarding the Voluntary Product Accessibility Template (VPAT) here: https://www.section508.gov/sell/vpat/

[2022-01-28 19:03] aluva opened #15327 "Code Completion is NOT working in Eclipse IDE with DBeaver Plugin for Oracle?"
I am using **_Eclipse IDE_** (2021-12 for Enterprise Java & Web Development) with **_DBeaver_** Perspectives (Plugin: 21.3.3) for **_Oracle_** (21c Xe Full) in **_macOS Catalina_**:

Automatic (without using Ctrl+SPC or Ctrl+Shift+SPC) **Code Completion** is **not** working for SQL and PL/SQL?

(_**Note**: I added '.@(abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ' to Auto Activation Trigger

[2022-01-29 04:20] deepaksenthilkumar commented on #15146
Yeah. This should make it fast, we import millions of rows extremely fast with these 2 options!

[2022-01-29 10:59] tvartom opened #15329 "With MariadDB: MAX() on BIT(1) is shown as 48 or 49, not 0 or 1"
#### System information:
- Ubuntu 20.04.3 LTS
- DBeaver Version 21.3.3.202201221033

#### Connection specification:
- 10.5.13-MariaDB running on centos-linux-release-8.5-1.2111.el8.noarch (VirtualBox)
- org.mariadb.jdbc.Driver
- Driver connects to local port, which is a SSH-tunnel to the server with MariaDB

#### Describe the problem you're observing:

Some columns with BIT-data seems to show 49 o

[2022-01-29 11:46] stegus64 commented on #13374
I have exactly the same problem. I am using DBeaver 21.3.3

Please note that it is very easy to create a free test environment in Azure Databricks: https://azure.microsoft.com/en-us/free/

There are no entries in the DBEaver error logs.

[2022-01-29 12:07] tvartom commented on #15329
If the result of the MAX-function is more than 1 BIT, it gets even weirder.

[code]
![image](https://user-images.githubusercontent.com/10186207/151659986-8c0c28b4-b1e9-4ffe-8644-f1b646ed2924.png)

What seems to happen is:
* `MAX(b1)` => `b'1'` => `1` => (ascii of `'1'`) `49`
* `MAX(b2)` => `b'11'` => `3` => (ascii of `'3'`) `51` => `b'110011'`
* `MAX(b4)` => `b'1110'` => `14` => (ascii of `'1'`& `

[2022-01-29 17:37] helder-mattos commented on #15146
Well, the issue is gone. I still don't know the cause but it was solved
when I've changed the "commit after row insert" setting.

On Sat, Jan 29, 2022, 05:20 deepaksenthilkumar ***@***.***>
wrote:

[2022-01-30 03:13] skyraider256526 commented on #9455
Solved my issue

[2022-01-30 07:46] rdenniss opened #15330 "new installation - can not open firebird connections"
#### System information:
- win7sp1  clean install (after vs2019 so it has .net 4.8)
- DBeaver Community 21 (.2.0 and .3.3)
- Additional extensions

#### Connection specification:
- Firebird 1.5.6
- that is the problem
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  nope, local file

#### Describe the problem you're observing:
Adding connection to Firebird database
Network unavailable:
javax.ne

[2022-01-30 09:14] Landris18 commented on #15262
Thanks

[2022-01-30 15:24] pro9dan commented on #10814
It would be great to have such a feature

[2022-01-30 23:09] SubOptimal commented on #15299
It seems your `mysqldump` is not the version provided by Fedora 35.

When setting up the local client, specify the directory `/usr/bin` as the client home directory.

![image](https://user-images.githubusercontent.com/653288/151721746-cd0dc707-0d75-4101-951e-14026e982aa3.png)

Then dumping a table will use that executable.

![image](https://user-images.githubusercontent.com/653288/151721791-705bb5

[2022-01-31 03:42] robertwx opened #15332 "DBeaver connected to DB2 spawn slow/long running tasks when using Database Navigator"
Problem Statement:
Using the Database explorer in DBeaver Version 21.3.3.202201221033 on both Windows and Linux Clients against a DB2 V11.5.6 database we have observed an inconsistent behavior. When opening some schema DBeaver runs the following slow query after displaying the table/view/etc options
[jcc][Time:2022-01-25-16:27:15.886][Thread:DBeaver: Read statistics for V2INAT2][PreparedStatement@

[2022-01-31 04:21] ozkankirik commented on #5499
+1

[2022-01-31 07:04] morl-la commented on #15105
On the same note - it would be useful to also have the "reconnect" option on the "Forced disconnect" popup which I get every morning...
![image](https://user-images.githubusercontent.com/44611568/151924837-f0d4b6ba-3f80-4872-b757-b33ed6bdb459.png)

[2022-01-31 07:22] LonwoLonwo commented on #15332
Hello @robertwx

This query collects tables statistics.

You can disable this process with the right click on the connection in the Database Navigator Tree -> Connection View -> "Show statistics info"

![2022-01-31 10_17_49-DBeaver Ultimate 21 3 3 - _SAMPLEDB_Script-117](https://user-images.githubusercontent.com/45152336/151753629-177d7d6f-5752-4640-bc73-8419a13e4ec0.png)

[2022-01-31 07:59] uslss commented on #15326
Thanks for the suggestion.
It has already been done for Enterprise products. And it is not planned for the Community edition.

[2022-01-31 07:59] #15326 closed, assigned to nobody

[2022-01-31 08:19] spassignat opened #15333 "Decouple jdbc driver class from database specific SQL"
I'm using an Oracle database with a specific JDBC driver (Not the Oracle one). In this situation, I can't have access to the specific oracle features of DBeaver because when the jdbc driver is set to use Oracle, it expects to have the Oracle driver.

You might be able to reproduce this case using p6spy driver.

A solution would be to do not impose the driver class when choosing the Driver Type.

[2022-01-31 09:02] bilik commented on #14626
I have the same problem. When rename:

Reason:
class org.jkiss.dbeaver.tasks.ui.DataSourceToolsContributor$DataSourceEditorInput cannot be cast to class org.jkiss.dbeaver.ui.editors.IDatabaseEditorInput (org.jkiss.dbeaver.tasks.ui.DataSourceToolsContributor$DataSourceEditorInput is in unnamed module of loader org.eclipse.osgi.internal.loader.EquinoxClassLoader @1dfa40f8; org.jkiss.dbeaver.ui.edito

[2022-01-31 09:07] Mikescher opened #15334 "Setting to show JSON View in collapsed state"
Hello,

currently the JSON view (eg for MongoDB) always shows all items fully expanded.

This is annoying when you have big objects in the database or big arrays in some objects.
On one hand it makes the JSON view really unwieldy to use, and when the objects get really big it even starts to lag

Other MongoDB clients (eg MongoDB Compass) collapse all subnodes by default and you have to manually ex

[2022-01-31 09:32] E1izabeth commented on #14096
Done in scope of #13581

[2022-01-31 09:42] E1izabeth commented on #15203
The bug may be caused by com.ibm.icu.base dependency. It is reproducible on standalone DBeaver applications and is not reproducible on DBeaver plugin for Eclipse.

[2022-01-31 09:50] teamayu opened #15335 "Table Truncation Throws Exception"
Windows 11, 64 Bit
Maria DB: 10.6.5
DBeaver: 21.3.3

If I right click a database table select 'Tools > Truncate', on 'Proceed' I get the following:

![31-01-2022_174923](https://user-images.githubusercontent.com/10624092/151772139-86599975-949b-4823-95fe-c739c95c38f2.png)

It was working ok before. Thank you.

[2022-01-31 09:51] Matvey16 commented on #12674
Verified

[2022-01-31 09:51] #12674 closed, assigned to Destrolaric, Matvey16

[2022-01-31 09:56] #15172 closed, assigned to serge-rider, uslss

[2022-01-31 09:56] #15189 closed, assigned to serge-rider, uslss

[2022-01-31 09:57] ShadelessFox commented on #15334
Hello @Mikescher,

It sounds like a reasonable improvement.

Thank you.

[2022-01-31 10:08] LonwoLonwo commented on #15335
Hello @teamayu

Did you click on "Proceed" on the first step:

![2022-01-31 13_05_27-DBeaver Ultimate 21 3 3 - newtable](https://user-images.githubusercontent.com/45152336/151774705-829ae694-b713-4cdb-af0f-69622fb5bbb2.png)

Or on the second?

![2022-01-31 13_06_19-DBeaver Ultimate 21 3 3 - newtable](https://user-images.githubusercontent.com/45152336/151774719-fdd77bd9-c74c-49bb-a7b1-2820d6124dc5.

[2022-01-31 10:20] ShadelessFox commented on #15329
Hello @tvartom,

Thank you for the report and helpful research.

[2022-01-31 10:23] teamayu commented on #15335
Sorry, yes, just on the first.

[2022-01-31 10:23] andrey-orderby commented on #15216
Thanks for your answer! I have directed that piece of advice to my colleagues from IT (I personally do not have acces to server settings). It may take a while before they respond.

[2022-01-31 10:25] LonwoLonwo commented on #15335
Ok, thanks for the bug report.
If you click on "Next" on the first page and then on "Procced," - it will work.
But we must fix the NPE bug, of course.

[2022-01-31 10:27] teamayu commented on #15335
Great, thank you. And you are welcome about the report. Your software is really amazing.

[2022-01-31 12:35] Matvey16 commented on #14096
Verified

[2022-01-31 12:36] Matvey16 commented on #13581
Verified

[2022-01-31 12:36] #13581 closed, assigned to E1izabeth, Matvey16

[2022-01-31 12:40] uslss commented on #15330
@rdenniss Hi. Please refer to this [article](https://github.com/dbeaver/dbeaver/wiki/Importing-CA-Certificates-into-DBeaver). Do the actions described there help?

[2022-01-31 12:47] uslss commented on #15322
@ffalcon31415 thanks for the report.
Unfortunately, I cannot reproduce it. Could you provide table DDL?

[2022-01-31 12:53] uslss commented on #15302
@mauriliolima unfortunately, cannot reproduce it.
Is the issue reproducible both for data and SQL editor? screenshots or video with the issue also could be very useful
![image](https://user-images.githubusercontent.com/31996417/151796935-7d2f8491-8d56-47c0-a03c-0d9bf5942904.png)

[2022-01-31 13:26] Matvey16 commented on #14096
This fix created another minor bug. If we have an option `Blank line is statement delimiter` it will be ignored in WITH clause, which is counterintuitive.

[2022-01-31 13:50] ValentinKaisermayer opened #15338 "Skip TLS verification"
I would like to connect to an InfluxDB but it has no valid certificate. In Grafana I simply enabled the option "Skip TLS verification". How would this be possible with DBeaver?

[2022-01-31 13:53] ValentinKaisermayer commented on #15338
Sry, to post this here but I did not find a forum or something where I could ask.

[2022-01-31 13:56] ffalcon31415 commented on #15322
Thanks for reviewing this.

      CREATE TABLE "bailPositions" (
      "name" TEXT NOT NULL,
      "disclosure" TEXT,
      "ready" INTEGER DEFAULT 0,
      "bailBriefReady" INTEGER DEFAULT 0,
      "scopeNumber" TEXT,
      "date" TEXT DEFAULT CURRENT_DATE,
      "charges" TEXT,
      "onus" TEXT,
      "record" TEXT,
      "outstanding" TEXT,
      "releases" TEXT,
      "grounds" TEXT,
      "o

[2022-01-31 14:17] mieseprem opened #15339 "Support of MariaDB with MariaDB Connector/J 3.0.3"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.3.3
- Additional extensions

#### Connection specification:
- Database name and version: MariaDB 10.6.5
- **Driver name: mariadb-java-client 3.0.3 (MariaDB Connector/J)**
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: yes

#### Describe the problem you're observing:

Due to change of behav

[2022-01-31 14:48] uslss commented on #15322
Thanks for the clarification.
The issue will be fixed in future milestone

[2022-01-31 15:12] serge-rider commented on #12279
Fixed

[2022-01-31 17:06] aluva opened #15341 "Open & dock 'Templates' from 'Data Management' also"
**(A) Setup:**
IDE: Eclipse (2021-12 for Enterprise Java & Web Development)
Perspectives: DBeaver (Plugin: 21.3.3)
Database: Oracle (21c Xe Full)
OS: mac (Catalina)

**(B) Problem:**
When opens Templates using the path:
Eclipse: Window > Show View > Other > **General** > Templates
it opens Templates from 'SQL Editor' from **Database**.
But, there is NO way to open Templates from **Data Management*

[2022-01-31 18:38] LonwoLonwo commented on #15339
Hello @mieseprem

Thanks for the report.

[2022-01-31 20:51] robertwx commented on #15332
That solves the problem

Thank you for your help

[2022-01-31 20:56] #15332 closed, assigned to nobody

[2022-01-31 21:14] abij commented on #13374
Nice, I'm not alone!
@LonwoLonwo I can show you the setting and the problem in a short session.

Do you think it's required to implement a custom implementation for Spark like Hive?

And add things like this:
https://github.com/dbeaver/dbeaver/blob/5ef67b3ecb8420dafef78caad4929a40b19014ba/plugins/org.jkiss.dbeaver.ext.hive/src/org/jkiss/dbeaver/ext/hive/model/HiveDataSource.java#L76:

Minimal impl

[2022-01-31 21:22] E1izabeth commented on #13374
Hi, @abij! Maybe one of our wiki pages about setting up [Eclipse](https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse) or [IDEA](https://github.com/dbeaver/dbeaver/wiki/Develop-in-IDEA) development environment will help you.

[2022-02-01 08:34] uslss commented on #12279
verified

[2022-02-01 08:34] #12279 closed, assigned to serge-rider, uslss

[2022-02-01 08:47] LonwoLonwo commented on #14326
I can reproduce for Oracle too.

![2022-01-31 23_33_26-DBeaver Ultimate 21 3 3 - _orcl_Script-42](https://user-images.githubusercontent.com/45152336/151937834-119d5dd1-d523-414f-a830-41af577675ff.png)

[2022-02-01 09:37] uslss opened #15345 "Newly created view source switch to Not a view until reconnect"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.3.3

#### Connection specification:
- Database name and version Redshift

#### Describe the problem you're observing:
Newly created view source switch to Not a view until reconnect
![image](https://user-images.githubusercontent.com/31996417/151944104-c70ba7b9-37c7-4ced-ae1d-e6b5b753a394.png)

#### Ste

[2022-02-01 09:57] uslss commented on #15294
verified

[2022-02-01 09:57] #15294 closed, assigned to serge-rider, uslss

[2022-02-01 10:06] ShadelessFox opened #15346 "Boolean icons are not grayscaled when control is disabled"
When booleans are set to be displayed as icons, in some controls they are not grayscaled when disabled, which looks unnatural:

![image](https://user-images.githubusercontent.com/35821147/151948896-e9a5f3e2-5b0b-47f7-803b-893bea07fb1b.png)

[2022-02-01 11:01] #14096 closed, assigned to E1izabeth, Matvey16

[2022-02-01 12:24] serge-rider opened #15349 "Fix dummy warnings in log during context menu open"
Error like `parseExpression@1:1 undefined variable object.dataSource.serverType`
It is reproducible in PostgreSQL, DB2, Exasol, Cassandra nad perhaps some other databases.

[2022-02-01 12:25] serge-rider commented on #15349
Fixed

[2022-02-01 12:42] LonwoLonwo commented on #11090
- "with grant option" extra column removed from the privileges table
- all logic moved to the "**grant option**" privilege button;
- "other privileges" table is disabled now in some cases

![6OL4abo2Fz](https://user-images.githubusercontent.com/45152336/151882310-9e0a9d1a-86e3-4fec-84df-0e0e7e9c9010.gif)

![tx4W9stkFz](https://user-images.githubusercontent.com/45152336/151882327-2f79ca28-edaf-4a1f

[2022-02-01 13:19] serge-rider commented on #15118
Done

[2022-02-01 13:26] serge-rider commented on #13902
We can't open new connection for every operation.
For many drivers connection time is very long (up to several minutes). Also network configuration (including tunnels, VPNs, etc) may slow down connection time even in modern drivers.

I've added a config option "Close idle connections". It helps to reduce big number of idle connections from UI clients.
Let's see how it works.

![image](https://user

[2022-02-01 14:01] ShadelessFox commented on #15346
Fixed. Can be seen in #11090

[2022-02-01 14:08] Matvey16 commented on #15349
Verified

[2022-02-01 14:08] #15349 closed, assigned to serge-rider, Matvey16

[2022-02-01 14:12] serge-rider commented on #15345
Fixed

[2022-02-01 14:47] aluva opened #15351 "Unable to Open & Dock 'Templates' from 'Data Management'"
**(A) Setup:**
IDE: Eclipse (2021-12 for Enterprise Java & Web Development)
Perspectives: DBeaver (Plugin: 21.3.3)
Database: Oracle (21c Xe Full)
OS: mac (Catalina)

**(B) Problem:**
When Templates is opened, using the path:
Eclipse: Window > Show View > Other > **General** > Templates
it opens Templates from 'SQL Editor' from **Database**.
But, there is NO way to open Templates from **Data Manage

[2022-02-01 14:48] #15341 closed, assigned to nobody

[2022-02-01 14:52] aluva commented on #15341
It seems, it falls into the category of 'BUGS' instead of 'FEATURE REQUEST'.
So, I may close it?
And, I already reopened the same under '**Buges**' as **"Unable to Open & Dock 'Templates' from 'Data Management'" #15351**

[2022-02-01 15:09] pasolid opened #15352 "Authentication username is used as database name"
If authentication username is different than `postgres` while the `Database` field is empty then DBeaver fails to establish a connection to the DB because it uses authentication username as a database name.

I'm using DBEaver Community, Version 21.3.3.202201221033, Release 24th January 2022.

I'm using `pavel` as my authentication user name:
![Screen Shot 2022-02-01 at 17 02 43](https://user-image

[2022-02-01 15:25] JRRSMVF commented on #12218
I'm having the issue on DBeaver-ce v 21.3.3.202201221033, up to date Ubuntu 20.04

Can't ssh tunnel into work DB through DBeaver = no DBeaver usage + MySQL Workbench usage - please patch! Thanks.

[2022-02-01 15:32] ronjouch commented on #12218
@JRRSMVF it works for me now. Please create a new bug with your error & version details

[2022-02-01 16:48] giordyb opened #15354 "BigQuery: after login stuck at "Extract Catalogs""
#### System information:
- Operating system (distribution) and version
MacOS 11.6.1 on Intel
DBeaver version
- 21.3.3.202201221033

#### Connection specification:
- Database name and version
BigQuery
- Driver name
BigQuery
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
No

#### Describe the problem you're observing:
I can connect fine to BigQuery using a service account, when I try to login wi

[2022-02-01 17:16] kbvc opened #15357 "Feature Request: Splitting Editor Window"
There should be a feature to split the SQL Editor into two independent windows so you can run two independent queries side-by-side for easy comparison of results.  Or, I may want to show certain schemas in one of those windows in tabs as I am working on a query in the other query.

Thank you.

[2022-02-01 17:17] Matvey16 commented on #13902
Value is not saved after closing, it resets to zero after restart, but if `Keep-Alive` have some value it will be copied to `Close idle` after restart.

![dbeaver_8L6ScKAkhJ](https://user-images.githubusercontent.com/82543000/152017300-0a8fb1e1-4ea9-447a-84dd-97b5acd9f4d2.gif)

[2022-02-01 17:33] p91paul commented on #14096
@Matvey16 I disagree with this last statement.
For with functions this might be less important, but if I understand correctly the fix should handle also packages and possibly procedures, and in a package body is fairly common to have blank lines.
So I believe the "Blank line is statement delimiter" setting SHOULD be ignored for this kind of complex statement.

[2022-02-01 17:38] p91paul commented on #15357
You can open 2 sql editors, and put them side by side with drag&drop on their tab. Both vertical and horizontal split is supported, as well as dragging a tab to a new window if you drag it outside the main one

[2022-02-01 17:41] kbvc commented on #15357
My bad. My interface was not working correctly.  After resetting my workspace it is working now.  Thank you.

[2022-02-01 18:31] #15357 closed, assigned to nobody

[2022-02-01 19:12] GITMichaelK opened #15359 "AdvancedPaste into Query"
#### System information:
- Operating system MANJARO
- DBeaver 21.3.2

#### Connection specification:
- PostgreSQL
- JDBC

A query reports from a single table a couple columns and several lines based on a WHERE-clause. This works fine.
For this selection I have a CSV-set with updated data which I was planning to "AdvancedPaste" into the query. dBeaver does not allow the AdvancedPaste here. How can

[2022-02-01 19:47] LonwoLonwo commented on #15339
Fixed in DBeaver 21.3.4

It will work fine for the new connections. If connection problems appear for previously created connections - please try to use "Test connection" in the connection settings.

![2022-02-01 16_48_38-DBeaver Headless Test Application 1 0 7 - _demo2_ Script-35](https://user-images.githubusercontent.com/45152336/152040364-8226c499-dc47-424c-836e-1367f5607790.png)

[2022-02-01 22:12] DarlingR commented on #6213
Any updates here? I am using dbeaver 21.3.3 with netsuite odbc 8.10.92 64bit and the varchar2 columns are returning as [NULL]. I have confirmed the value is there as I can query the table with SQL Server Management Studio and see the results. I do not have the ability to change the charset in the odbc connection

![image](https://user-images.githubusercontent.com/7979124/152059119-45fc0719-3e61-43

[2022-02-02 01:31] BambangSumitra commented on #15188
@Matvey16

Is this issue caused by the mariadb driver or connection properties in DBeaver?

[2022-02-02 07:20] Sa1Gur opened #15361 "Cannot use pgdump in Dbeaver CE (from Windows Store)"
#### System information:
- Windows 11 Enterprise 21H2 build 22000.469
- DBeaver version 21.3.3.202201221029

#### Connection specification:
- PostgreSQL 13.4 (Debian 13.4-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit
- PostgreSQL JDBC Driver 42.2.20
- no

#### Describe the problem you're observing:
I cannot create a backup in Windows Store version o

[2022-02-02 07:25] Matvey16 commented on #13758
Verified

[2022-02-02 07:25] #13758 closed, assigned to Destrolaric, Matvey16

[2022-02-02 08:04] uslss commented on #15118
verified

[2022-02-02 08:04] #15118 closed, assigned to serge-rider, uslss

[2022-02-02 08:10] uslss commented on #15339
verified

[2022-02-02 08:10] #15339 closed, assigned to uslss, LonwoLonwo

[2022-02-02 08:29] uslss commented on #15345
verified

[2022-02-02 08:29] #15345 closed, assigned to serge-rider, uslss

[2022-02-02 08:32] uslss commented on #15346
verified

[2022-02-02 08:32] #15346 closed, assigned to uslss, ShadelessFox

[2022-02-02 08:36] uslss commented on #11090
verified

[2022-02-02 08:36] #11090 closed, assigned to uslss, LonwoLonwo

[2022-02-02 08:51] Matvey16 opened #15363 "Incorrect autocomplete for variables in data export file name"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.4

#### Describe the problem you're observing:
Autocomplete in file name field of data transfer wizard doesn't replace already typed symbols, but instead appends the whole variable to them.

#### Steps to reproduce, if exist:
1. Open Data export wizard and proceed output settings
2. Start typing a v

[2022-02-02 10:29] uslss commented on #15361
thanks for the report

[2022-02-02 11:42] Destrolaric commented on #13916
@r1evan The only way to do this is by modifying the user query. This is bad practice due to the possibility of incorrect queries being formed.

[2022-02-02 12:25] serge-rider commented on #13902
Fixed

[2022-02-02 12:46] Skydiveroid commented on #15313
Thank you for the idea.

[2022-02-02 12:52] Skydiveroid commented on #15320
Thank you for the idea.

[2022-02-02 12:54] Skydiveroid commented on #15338
Thank you for the idea.

[2022-02-02 13:19] MazrimT commented on #12536
Any chance to get this planned again? it's the main issues we're not using dbeaver in the company which I would really love to be able to do :)

[2022-02-02 13:47] Matvey16 commented on #13157
Default setting for SQL button stopped working, now it will always open new script regardless of selected setting

![dbeaver_pvNq2zcRuI](https://user-images.githubusercontent.com/82543000/152165931-25009a73-c37e-4db1-9f45-9410ea14f4ab.png)

[2022-02-02 14:00] NicklasAtFluor commented on #8492
What was the issue?  I am experiencing the same with the Eclipse plugin of DBeaver for a DB2 LUW JDBC connection.   Same credentials and JDBC settings used with other apps and connects fine, but fails for the DB2 LUW connection under the DBeaver plugin with the following:

[jcc][t4][2013][11249][3.68.61] Connection authorization failure occurred.  Reason: User ID or Password invalid. ERRORCODE=-42

[2022-02-02 15:13] Matvey16 commented on #13902
Verified

[2022-02-02 15:13] #13902 closed, assigned to serge-rider, Matvey16

[2022-02-02 15:24] Matvey16 commented on #13157
This is not a regression, confirmed in older version, but needs investigation to reliably reproduce

Verified

[2022-02-02 15:25] Matwolf08 opened #15365 "Data transfer task ignores the skipped columns after saving it"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro 19044.1503
- DBeaver version 21.3.3.202201221033

#### Describe the problem you're observing:

When I create a data export task and set to "skip" some tables and some columns of some other tables, only the skipped tables are preserved when saving. Running the saved task (or even editing it) remaps with "existing

[2022-02-02 15:39] Matvey16 commented on #13157
NPE is thrown if a script is located outside of the project and is connected to a data source

[2022-02-02 16:46] simexg commented on #15299
Sorry it's a Flatpak install. When i select the /usr/bin folder the path in the information fields changes to /run/user/1000/doc/c1194890/bin. And I can't edit the path. I have only the brows window. So I can't force it to use /usr/bin path.

[2022-02-02 17:40] Sa1Gur commented on #15361
You are welcome. Thank you for the ultimate tool. It truly rocks!

[2022-02-02 18:55] Xylandor opened #15369 "MySQL: Bind Parameters Not Respected on Creation of Temp Tables"
#### System information:
- OS:  MacOS Big Sur v11.4
- DBeaver version:  21.3.3.202201221033
- Additional extensions:  None

#### Connection specification:
- AWS connection to MySQL v5.7
- Driver name: MySQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No.

#### Describe the problem you're observing:
When executing MySQL statement to create a temporary table and the SELECT statement used in

[2022-02-02 18:58] pieterhumphrey commented on #15006
@tati-kru Hello, we'd like to re-open this for your consideration.
We have a permissive license that allows redistribution, similar to the Elastic license that you already use.
Can we have the lawyers review our EULA please?  send me an email at pieter dot humphrey at datastax dot com please!  thank you.

[2022-02-02 19:10] Xylandor opened #15370 "Clear All Bind Parameters at Once"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Due to the amount of client databases I have to take care of, I use bind parameters quite often, and some queries contain many of them. The bind parameters change based on which client database I'm working with. To avoid any cross-contamination issues, I clear the previous values from each b

[2022-02-02 19:48] ksteckert opened #15371 "New Results Tab Not Selected Automatically"
#### System information:
- Windows 11 (21H2 22000.438)
- 21.3.3.202201221033

#### Connection specification:
- PostgreSQL v12
- PostgreSQL JDBC Driver

#### Describe the problem you're observing:
When I run a query using CTRL+\ (execute in new tab), a new tab is created which contains the results.  The issue is I have to manually switch to this new tab.  My computer recently crashed and I had to r

[2022-02-02 19:52] E1izabeth commented on #15371
Hi, @ksteckert ! Thank you for the report!
This bug was already reported in https://github.com/dbeaver/dbeaver/issues/15301. It was fixed and will work in DBeaver 21.3.4.

[2022-02-02 19:53] ksteckert commented on #15371
Excellent, thanks.  I searched the issues but I didn't find that one, thanks, I look forward to the next release!

[2022-02-02 19:53] #15371 closed, assigned to nobody

[2022-02-02 22:29] melienherrera opened #15372 "Add Astra DB to list of driver configurations"
**Is your feature request related to a problem? Please describe.**
Wanted to add Astra DB as one of the options of driver configurations built into DBeaver.

**Describe the solution you'd like**
Below is the driver description for Astra DB.

**DRIVER DESCRIPTION:**
- Driver Name: `Astra DB`
- Driver Type: `Generic`
- Class Name: `com.simba.cassandra.jdbc42.Driver`
  - Library:   [SimbaCassandraJDB

[2022-02-03 06:07] homerose opened #15373 "There is a problem that the comment column cannot be backed up."
#### System information:
- Operating system (distribution) and version
- DBeaver version : 21.3.3
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
I copied and pasted the working database.
However, the column 'comment' are blank.
This bug exists when back

[2022-02-03 08:45] Destrolaric commented on #15372
@melienherrera Hi, It's better to reopen the previous issue.  I will reopen the last issue and close this one.

[2022-02-03 08:48] uslss commented on #15373
@homerose what database do you use?

[2022-02-03 08:48] melienherrera commented on #15006
@Destrolaric thank you for reopening this

[2022-02-03 08:49] #15372 closed, assigned to nobody

[2022-02-03 08:49] uslss commented on #15370
thanks for the suggestion

[2022-02-03 08:52] uslss commented on #15365
thanks for the report

[2022-02-03 08:54] Matvey16 commented on #13157
Verified

[2022-02-03 08:54] #13157 closed, assigned to Destrolaric, Matvey16

[2022-02-03 08:55] uslss commented on #15369
thanks for the report

[2022-02-03 08:56] uslss commented on #15359
@GITMichaelK Could you provide screenshots or video with the issue? It will be helpful for further investigation

[2022-02-03 08:59] homerose commented on #15373
This is mariadb-10.5.9-winx64.

[2022-02-03 09:08] uslss commented on #15373
@homerose Unfortunately, cannot reproduce. Did you try to check Additional Comments option?
![image](https://user-images.githubusercontent.com/31996417/152312810-83945567-d992-4415-9987-4adc4e045758.png)

[2022-02-03 09:35] flambchap commented on #15006
Hello @pieterhumphrey. I'm taking a look at https://www.datastax.com/legal/simba-odbcjdbc-driver-license-terms. Paragraph 2 (Restrictions) states:

It doesn't look permissive to me. I believe I'm looking at the wrong license terms. Could you please show me the right ones?

[2022-02-03 09:39] Matvey16 commented on #14572
Verified

[2022-02-03 09:39] #14572 closed, assigned to Destrolaric, Matvey16

[2022-02-03 09:53] pschrammel commented on #14751
Same on ubuntu 21.10
GDMSESSION: gnome-flashback-metacity

[2022-02-03 10:06] GITMichaelK commented on #15359
Thank you @uslss,
attached a screenshot, sorry for poor quality, I need the context-menu and could not start any snipper while the menu is active.
You can see a sql-query with the sql-statement in the top area. I ran this, the result underneath. I select column ^Name and few lines, then a right click to activate "AdvancedPaste / Erweitertes Einfügen (in German language" (see the small black arrow)

[2022-02-03 10:20] Destrolaric commented on #14749
@lpossamai Sorry for waiting. Can I ask if this issue is reproducible on the x86-64 version of DBeaver?

[2022-02-03 12:16] uslss opened #15375 "Execution plan isn't loaded if SQL Editor is empty"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.3.4

#### Describe the problem you're observing:
The execution plan isn't loaded if SQL Editor is empty. It is shown only when some query was executed
#### Steps to reproduce, if exist:
1. Open New SQL editor and load some previously saved Execution plan - Nothing is shown
2. Execute some query (e.g.

[2022-02-03 12:36] ebocher opened #15376 "Update H2GIS to 2.0.0"
H2GIS 2.0.0 is out on Maven Central.
We have updated it on your plugin repo https://github.com/orbisgis/orbisrcp/tree/master/plugins/org.orbisgis.h2gis
But we have an issue to detect a Geometry data type.
DBeaver set the type name from a plugin.xml file, here https://github.com/orbisgis/orbisrcp/tree/master/plugins/org.orbisgis.h2gis
Since H2 2.X version the string type representation for a geomet

[2022-02-03 13:56] Xylandor commented on #15370
@uslss You rock, my friend. Thank you for your quick response on this.

[2022-02-03 14:12] spardue commented on #2738
Wow, I can't believe autocommit is on by default. This is an **extremely bad idea** and makes me doubt the overall design of this application.

[2022-02-03 14:44] Xylandor opened #15377 "Uncommenting Multiple Lines Causes Highlighted Lines to Switch Lines"
#### System information:
- OS:  MacOS Big Sur v11.4
- DBeaver version:  21.3.3.202201221033
- Additional extensions:  None

#### Connection specification:
- Local installation of MariaDb
- Driver name: MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Since the release of version 21.3.3.202201221033, uncommenting multiple lines in the script

[2022-02-03 17:30] nicolasmafra commented on #1323
Again, for people searching for this in newer versions:

![image](https://user-images.githubusercontent.com/19596561/152396363-0dffb6ed-f9ea-4c27-852d-e13c5b22ccee.png)

[2022-02-03 17:31] nicolasmafra commented on #1323
Why not unify these "connect on startup" settings?

[2022-02-03 17:35] nicolasmafra commented on #6047
Not just for production! Why reconnect on startup? Is this really useful for most? Please, make a survey about it.

[2022-02-03 20:04] Anogoya-Dagaate commented on #13111
If you already have Vrapper installed in Dbeaver you can install the Relative Number [Addon](https://marketplace.eclipse.org/content/relative-line-number-ruler) from the Eclipse Marketplace

[2022-02-03 20:05] pieterhumphrey commented on #15006
@akilovich yes, I'm trying to find the right license, will link you to it - thank you!

[2022-02-03 22:17] ShadelessFox commented on #15376
Hello @ebocher,

If I understand you correctly, you can use `<type name="*"/>` instead of specifying a concrete type name.

[2022-02-03 22:18] #15376 closed, assigned to nobody

[2022-02-03 22:24] LonwoLonwo commented on #10143
Connected with https://github.com/dbeaver/dbeaver/issues/3721

[2022-02-04 01:33] Rah1x commented on #7777
at Version 21.3.2.202112271055, still super laggy as of Feb 2022

[2022-02-04 02:32] MarkFergusonTN commented on #9414
This is a problem for me as well and I will not be able to continue to use DBeaver until this is addressed, unfortunately.

[2022-02-04 02:52] alexsanabria opened #15381 "General SalesForce connectivity"
I'm trying to connect to salesForce by the new driver salesforce CDP, but I got this error: "the requested scope is invalid, unknown, or malformed"
My data is:
 JDBC URL = jdbc:queryService-jdbc:https://login.salesforce.com
Database/Schema = https://login.salesforce.com
User = MyUser
Password = MyPassword

Thaks for all

[2022-02-04 04:27] fekri1409 opened #15382 "Dbeaver crash during import multiple csv files"
#### System information:
- Operating system (distribution) and version : Ubuntu Jammy Jellyfish (development branch) - 64-bit
- DBeaver version Version 21.3.3.202201221033 (install via flatpak)
- Additional extensions

#### Connection specification:
- Database name and version : MySQL version 5.6.37
- Driver name : MySQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No.

#### Describe the pr

[2022-02-04 05:38] Sergey-V-R commented on #14935
Set the default encoding (cp251). Conducted several tests on creating and opening scripts. It turned out the following:
1. If the file is opened from the list of scripts using F3, then the file name and text in Cyrillic are displayed correctly;
2. If there is no file in the list using F3, then I open it using Ctrl + Alt + Shift + O. In this case, everything that is typed in Cyrillic is displayed i

[2022-02-04 07:57] vmoraru commented on #15282
The issue is the way DBeaver interprets the query, it executes it inline so everything after that is commented. As a temporary workaround, you could surround your commented fields with /* */ and it should work.

For example:
![image](https://user-images.githubusercontent.com/6881881/152492577-596b7fb4-a29f-46f8-ab17-3583db1a34c0.png)

The error text would be misleading, saying that "field" is miss

[2022-02-04 08:02] FritzBlaskowsky opened #15383 "Crash on Startup"
#### System information:
- Windows 10 Pro (20H2)
- DBeaver 21.3.3

#### Describe the problem you're observing:
DBeaver crashes on startup. The latest working version for me is 21.3.0.
My computer is in a corporate environment an my profile folder is on a network location. Maybe this is part of the problem.

I already tried deleting the DBeaverData folder, which made no difference.

#### Include an

[2022-02-04 10:07] pawelwiejkut commented on #6213
I have the same issue in the case of the HANA ODBC connection.

[2022-02-04 10:13] Matvey16 opened #15384 "Rename database/schema field for H2 remote connections"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version H2 1.4.197 (2018-03-18)
- Driver name H2 JDBC Driver 1.4.197 (2018-03-18)

#### Describe the problem you're observing:
Creating connections for H2 Server can be confusing because we have standard fields in main tab where Databa

[2022-02-04 10:32] 2019-05-10 opened #15385 "pinned result tab grabs focus"
#### System information:
- Operating system (distribution) and version: Debian/Sid
- DBeaver version Version 21.3.3.202201221033
- Additional extensions

#### Connection specification:
- Database name and version: Postgres 11
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
a) execute SQL query
b) pin result tab
c) execute another SQL qu

[2022-02-04 10:37] johandrenth commented on #15385
This is quite frustrating. I'm also affected by this.

[2022-02-04 10:55] LonwoLonwo commented on #15282
![2022-02-04 13_51_08-Event](https://user-images.githubusercontent.com/45152336/152516671-803a4d05-b8cb-4863-b082-48c9935f1606.png)

I can't reproduce again, sorry.

Can you please take a screenshot of your preferences? Preferences -> Editors -> SQL Editor -> "SQL Processing" and "Formatting" tabs.

[2022-02-04 11:17] Matvey16 commented on #14096
@p91paul Yes, we discussed it and came to a conclusion that it should be working like that

[2022-02-04 11:35] flambchap commented on #14429
I'm closing the ticket due to the lack of activity. Please feel free to reopen it if you think it needs to be resolved.

[2022-02-04 11:35] #14429 closed, assigned to flambchap

[2022-02-04 11:36] flambchap commented on #14141
I'm closing the ticket due to the lack of activity. Please feel free to reopen it if you think it needs to be resolved.

[2022-02-04 11:36] #14141 closed, assigned to flambchap

[2022-02-04 12:00] igorzhilin opened #15387 "SQL server variable name autocompletion removes @"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.3.3
- Additional extensions: none

#### Connection specification:
- Database name and version: SQL Server 2016

#### Describe the problem you're observing:
When I have a declared variable in the script text, and then I type @ and start typing variable name, it appears in autocompletion. Then I

[2022-02-04 12:11] vmoraru commented on #15282
Of course, here is "SQL Processing":
![image](https://user-images.githubusercontent.com/6881881/152526624-c7303bac-c557-4d19-8e94-5ebc4417f7a1.png)

And "Formatting":
![image](https://user-images.githubusercontent.com/6881881/152526678-45d4c30e-aef3-4d7c-a4fc-89eb05831b79.png)

I don't think it is an editor issue, it must be in the interpreter somewhere, because if I try to format the query, it wi

[2022-02-04 12:19] igorzhilin opened #15388 "filtering result set in grid by unnamed column fails / and there is an inefficient subquery"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.3.3

#### Connection specification:
- Database name and version: SQL Server 2016

#### Describe the problem you're observing:
When I have a grid with unnamed columns and try filtering on those columns, it fails.
![ezgif-6-969eb532c8](https://user-images.githubusercontent.com/9438635/152527295-f

[2022-02-04 12:43] ClodoaldoPinto opened #15389 "Looses script editor title formatting on restart"
I want use the `${fileName}.${fileExt}`  script title format

![image](https://user-images.githubusercontent.com/1433209/152531336-dc8c3e7e-90f6-4b8d-b8c5-8027b95f6daa.png)

And it works when applied.

![image](https://user-images.githubusercontent.com/1433209/152530047-d4c8c945-f132-4800-852c-53debe1aca0a.png)

But on restart the only retained part is the dot:

![image](https://user-images.github

[2022-02-04 13:20] a-locatelli commented on #15385
I've the same problem

running on ubuntu 20.04
database: mariadb

[2022-02-04 13:30] DodgeDeBoulet commented on #15383
I'm experiencing the same issue on a similar configuration; a Citrix VDI with Windows 10 x64 version 20H2, OS build 19042.1415 and Windows Feature Experience Pack 120.2212.3920.0.

Stack trace attached.

[dbeaverCitrix.log](https://github.com/dbeaver/dbeaver/files/8003373/dbeaverCitrix.log)

I can also confirm that 21.3.0 works on the same system.

[2022-02-04 14:15] LonwoLonwo commented on #15282
Maybe you can take a video of the error? The execution process in SQL Editor and result in the [Query Manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager)?
It will be beneficial.

[2022-02-04 14:35] Matvey16 opened #15392 "Object description overlaps object size in Navigator"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.4

#### Steps to reproduce, if exist:
1. Enable object description and object size in connection view
2. Resize navigator's width so that it is smaller than object description

**Expected:** The description is hidden behind size background
**Actual:** Characters overlap each other

![image](https://

[2022-02-04 14:40] DarlingR commented on #6213
a solution to the problem was to switch to jdbc. I am now seeing all intended values the correct way. I used this article: http://jaem04.blogspot.com/2018/10/netsuite-odbc-and-jdbc-via-dbeaver.html . I removed the cipher section and left encryption and was able to connect on PC and MAC and see the data

[2022-02-04 15:04] WildLlama commented on #15282
@LonwoLonwo I think that I've found the issue, or at least an hint to better identify it
I've tried to replicate the error with query provided by @vmoraru but without success, so I've enabled the hidden characters (Spaces, Line Feed, etc.) and I've found this
![image](https://user-images.githubusercontent.com/61920578/152551313-d28ca7ea-f6ef-48a3-949a-8f4b9845a843.png)

The first query is hand-wri

[2022-02-04 15:19] Matvey16 opened #15393 "Count scripts with only template header as empty"
New scripts that have only a template header don't count as new blank scripts which leads to them being unaffected by the setting `Delete empty scripts on close` We need to make them count as empty.

[2022-02-04 15:43] Matvey16 opened #15394 "Don't show greyscaled privileges"
We need to improve a fix made in #15346
Instead of greying out the privileges we should just not show them at all

[2022-02-04 16:01] imidoriya opened #15395 "SQLite open with DBeaver"
It would be nice to allow `open with` on SQLite files that creates the connection.  Also a file association with `.db` files, so you could just double click it and open it right up.

Currently, an open with on a SQLite db file opens it in the SQL Editor `SQLite format 3...`

[2022-02-04 20:53] sharryheb commented on #14882
This error is still happening on v21.3.3. Is there an update on when this will be fixed?

[2022-02-04 21:12] LonwoLonwo commented on #15387
Hello @igorzhilin
Thanks for the bug report.

Note: This issue appears if Hippie Engine is enabled.

[2022-02-04 21:15] LonwoLonwo commented on #15394
+ Rename column "enabled" for the privilege to "granted".

[2022-02-04 21:18] LonwoLonwo commented on #15385
Hello.
Thanks for the bug report.

I think we fixed this behavior in this ticket: https://github.com/dbeaver/dbeaver/issues/15301
Fix will be available in DBeaver 21.3.4 at 07-02-2022

[2022-02-04 21:49] LonwoLonwo commented on #5258
Is this issue reproducible against in DBeaver 21.3 version?

[2022-02-04 22:12] acharseth opened #15396 "MacOS: Starting DBeaver prompts for permission to accept incoming connections"
Sorry if this is wrong procedure but I found no way to re-open #11260
I am getting the same message as described in #11260:
Do you want the application "DBeaver.app" to accept incoming network connections?

#### System information:
- MacOS 12.1 on M1
- DBeaver version 21.3.3

#### Connection specification:
- MariaDB
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe th

[2022-02-06 05:55] ooobii commented on #15132
I've confirmed that @Matvey16 is correct - hashes were correct with the latest version. Thank you for the background 😄!

I'll go ahead and close this issue.

[2022-02-06 05:55] #15132 closed, assigned to nobody

[2022-02-06 05:57] ooobii commented on #10184
This was a part of the milestone 21.0.1, but it was never achieved / issue never closed.

Not trying to sound impatient... Any updates on this @tati-kru?

[2022-02-06 10:45] Matvey16 opened #15397 "[Oracle] Rowid is not used when table is opened in SQL Editor"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.4
- Additional extensions

#### Connection specification:
- Database name and version Oracle

#### Describe the problem you're observing:
Persisting changes to a table without primary key is possible in data editor with the usage of Oracle rowid column, but it won't be used if the table is opened in

[2022-02-06 16:07] ronnifadhlillah opened #15398 "Something weird happened when create column 'dept' and saved it."
Hallo dbeaver team.

I found something weird when i create column named 'dept' with varchar(100) datatype in dbp_user table. it's taking too long respond when click saved and maybe not responding. The video url and dbeaver version is attached.

Dbeaver Version : ![image](https://user-images.githubusercontent.com/33772449/152689209-55a0944d-f1fe-4d90-adf1-8656fc5c836d.png)
Video URL : [https://driv

[2022-02-06 17:36] bcutter commented on #7606
**64 bit OS is now considered stable/production ready. See https://www.raspberrypi.com/news/raspberry-pi-os-64-bit
+1 reason to migrate to x64 so DBeaver can finally be used on a RPi.**

_(I performed the steps listed at https://dbeaver.io/download/..._
[code]
_...just to find out there's no `dbeaver-ce` in the package. Download page has some indications because all Linux downloads listed are name

[2022-02-06 22:19] bcutter commented on #14882
Freshly installed as new user using MS Store. First thing to see after initial start: "AutoRegisterSchemeHandlersJob" error.

Looking forward to a fix, thank you.

[2022-02-07 05:44] detkliff commented on #13960
22.0.5 =((  bad, looking forward to it

[2022-02-07 07:01] LonwoLonwo opened #15399 "[Babelfish] Session Manager support"
DBeaver 21.3.4

Session Manager in Babelfish doesn't open.

![2022-02-07 09_24_18-Load sessions](https://user-images.githubusercontent.com/45152336/152740033-03068a0d-62e5-46af-960d-172e078c29cb.png)

We need to add Session Manager support in Babelfish.

[2022-02-07 07:19] LonwoLonwo commented on #14204
Duplicate of https://github.com/dbeaver/dbeaver/issues/13674

[2022-02-07 07:19] #14204 closed, assigned to nobody

[2022-02-07 07:43] uslss commented on #14882
fixed in 21.3.4

[2022-02-07 07:43] #14882 closed, assigned to serge-rider, uslss

[2022-02-07 07:44] uslss commented on #14856
fixed in 21.3.4

[2022-02-07 07:44] #14856 closed, assigned to serge-rider, uslss, Matvey16

[2022-02-07 07:47] SunMar commented on #14856
Can confirm, just upgraded to 21.3.4 via the Microsoft Store and I can connect again using an SSH tunnel that negotiates the key via my (Pageant-compatible) GPG agent 🎉

[2022-02-07 08:29] vmoraru commented on #15282
How do I enable displaying special characters?
I did just try it in a new window and it worked, but in the old tab it fails, both queries were typed and not copied from anywhere.
![DBeaver_exeuction](https://user-images.githubusercontent.com/6881881/152751765-f398937e-e7e3-4969-b54f-ebdf7ab5290a.gif)

[2022-02-07 08:36] schifferle commented on #15310
Hi @serge-rider ,

can you please add the label "bug" or "feature request" to this issue again? We discussed this a lot the last weeks and like in the comment of @imotsch  we think this points are really important:

- Fix possible "SQL-Injection" by plain bind concatenation
- Fix user misleading by the bind popup
- Add possibility to execute statements with bind variables

For all JDBC drivers whi

[2022-02-07 09:19] WildLlama commented on #15282
@vmoraru They can be enable here
![image](https://user-images.githubusercontent.com/61920578/152759868-f76f4223-2cdb-4b48-8fe0-0286c13e08e4.png)

[2022-02-07 09:25] LonwoLonwo commented on #15385
Hello!

A new release of [DBeaver](https://dbeaver.io/) is available.
It would be handy to check whether the bug is still reproducible.

[2022-02-07 09:27] uslss commented on #15389
@ClodoaldoPinto Unfortunately, cannot reproduce it. Is there something in the [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)? Could you check if it is reproducible for you against 21.3.4?

[2022-02-07 09:30] spassignat commented on #15333
Hello,
I now have a bug related to this issue. Escaped string works well on native driver, but not on generic driver.

On MySQL, escaped string 'O\’Connor' works well, but through a proxy driver (kind of p6spy) it does not work anymore and I have to escape differently 'O’'Connor'.

[2022-02-07 09:32] GITMichaelK commented on #15359
Are there still open questions in regards to my description? @uslss: If not, I'd appreciate if someone could remove the "Wait for  response" flag or let me know, how I can do this.

[2022-02-07 09:33] uslss commented on #15398
@ronnifadhlillah what database do you use? could you provide table DDL? is there is something in the [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2022-02-07 09:36] uslss commented on #15388
thanks for the report

[2022-02-07 09:43] uslss commented on #15382
thanks for the report

[2022-02-07 09:45] uslss commented on #15377
thanks for the report

[2022-02-07 09:48] uslss commented on #15327
@aluva could you check if there is something in the logs?

[2022-02-07 09:53] uslss commented on #15383
duplicates #15117

[2022-02-07 09:53] #15383 closed, assigned to nobody

[2022-02-07 10:17] uslss commented on #6818
already implemented

[2022-02-07 10:17] #6818 closed

[2022-02-07 10:49] ronnifadhlillah commented on #15398
hallo @uslss i use mysql. ALTER TABLE ccsi_por.dbp_users ADD dept varchar(100) NOT NULL; . and this is the log
![image](https://user-images.githubusercontent.com/33772449/152773947-1ba2a0b4-8336-412b-bd06-5caf7d3edc14.png)

[2022-02-07 11:03] GiuseppeMusso-Laser opened #15401 "Fraction digits not shown in result pane"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.3.4.202202051448
- Java version: 1.8.0_192
- Additional extensions: -

#### Connection specification:
- Database name and version: Oracle Database 12c Enterprise Edition Release 12.2.0.1.0 - 64bit Production
- Driver name: Oracle Thin Driver 8
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

[2022-02-07 11:14] uslss commented on #14942
@ilyafrank2021 sorry for the late response. Is the issue still reproducible for you against 21.3.4?

[2022-02-07 11:16] #10320 closed

[2022-02-07 11:36] darko1979 opened #15402 "Separate color configuration for grid header foreground and grid header border"
Currently "grid header foreground" color is used for drawing grid header foreground text and the cell border.

![Screenshot_3](https://user-images.githubusercontent.com/23734311/152779687-42917c2b-d336-4836-979c-cebd3b0af4c8.png)

I would like to have two separate color options for text and border.
I know this is not a big issue but for me having the same bright color for text and border is distra

[2022-02-07 11:54] DariaMarkaryan opened #15403 "Invalid thread access is thrown if you click Cancel in save result dialog"
#### System information:
- Win10
- DBeaver CE 21.3.4

#### Describe the problem you're observing:
Error 'Invalid thread access' is thrown when you press Cancel in the dialog that asks if you want to save changes in the data grid. Actually, it's not clear for what purpose button cancel is here

#### Steps to reproduce, if exist:
1. In the data grid enter invalid data (set to a null value that is no

[2022-02-07 12:02] johandrenth commented on #15385
I've updated and definitely looks better. Thanks!

[2022-02-07 12:27] #15385 closed, assigned to nobody

[2022-02-07 12:32] LonwoLonwo commented on #15401
Hello @GiuseppeMusso-Laser

Can you please provide screenshots of SQL Editor with the result + query and Preference Data Formatting Page?

[2022-02-07 13:05] GiuseppeMusso-Laser commented on #15401
Hello, here is a screenshot showing my problem.
My datasource settings are the same as global settings.
If you need more infos please let me know.

![dbeaver_decimals_showing_problem](https://user-images.githubusercontent.com/20069725/152792759-ee4432f5-8c12-47dc-ae25-1cb067ed77da.png)

[2022-02-07 13:59] uslss commented on #13916
verified

[2022-02-07 13:59] #13916 closed, assigned to Destrolaric, uslss

[2022-02-07 14:06] DariaMarkaryan opened #15405 "[SQLite] Error on opening Sequences folder"
#### System information:
- Win10
- DBeaver CE 21.3.4

#### Connection specification:
- SQLite

#### Describe the problem you're observing:
Try to open Sequences node in SQLite navigation tree:
![image](https://user-images.githubusercontent.com/43252954/152802780-f4986d11-4587-47d7-ab15-0086ff1d5dff.png)

#### Include any warning/errors/backtraces from the logs
[code]

[2022-02-07 14:07] uslss commented on #13585
verified

[2022-02-07 14:07] #13585 closed, assigned to E1izabeth, uslss

[2022-02-07 14:11] uslss commented on #15405
Expected behavior
https://github.com/dbeaver/pro/issues/789

[2022-02-07 14:11] #15405 closed, assigned to nobody

[2022-02-07 14:14] uslss commented on #15396
thanks for the report. #11260 reopened

[2022-02-07 14:14] #15396 closed, assigned to nobody

[2022-02-07 15:14] #15393 closed, assigned to ShadelessFox

[2022-02-07 15:25] uslss commented on #14354
It is not possible to generate SQL for dependency. DDL could be found in depended constraints

[2022-02-07 15:25] #14354 closed, assigned to uslss

[2022-02-07 15:33] tati-kru commented on #10184
We are waiting for some improvements from the Eclipse platform. As far as I know, there are some movements of this ticket on the Eclipse board. As soon as we get the update we will add this to DBeaver.

[2022-02-07 15:42] ShadelessFox commented on #14196
In the case of PostgreSQL, we should display the complete signature of the procedure.

Also, since we are skipping `out` parameters (and aren't specifying these modifiers at all), the generated DDL for `DROP` is invalid.

[2022-02-07 15:53] nitto75 opened #15407 "With two monitors the csv export displays an extended window"
#### System information:
- Operating system Windows 11 pro
- DBeaver version 21.3.4.202202051448

#### Connection specification:
- Database name and version No info
- Driver name DB2 iSeries/AS 400

#### Describe the problem you're observing:
When execute an export cvs with Driver DB2/AS400 the windows wizard for export extends to both monitors.
Meanwhile if click right mouse button on query and e

[2022-02-07 16:00] csakhogy opened #15408 "Items added to Classpath / Global libraries seems to be not found?"
#### System information:
- Operating system (distribution) and version: Windows 10 64bit
- DBeaver version: CE 21.3.3 (zip distribution)
- Additional extensions: n/a

#### Connection specification:
- Database name and version: H2 v2.1.210
- Driver name: org.H2.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
I am trying to use the zipped dis

[2022-02-07 16:10] vmoraru commented on #15282
Thanks!
These are the characters in the old tab, the one that fails the query:
![image](https://user-images.githubusercontent.com/6881881/152826314-88376668-82be-4df5-8db4-327d896ce0ce.png)

This is in the new tab, the one that succeeds:
![image](https://user-images.githubusercontent.com/6881881/152826405-bdc3b2eb-f00b-48b6-a504-507d679c35d1.png)

They were both hand written, the first is a tab in

[2022-02-07 19:21] taf1-cornell-edu opened #15410 "Feature request: remember preferences window size"
Remembering the preferences window size during the current dBeaver session would be useful.  Remembering it until changed or reset would be better still.  I tend to edit templates multiple times per day and have to expand the window every time.  Thanks.

[2022-02-07 19:37] gm-lunatix opened #15411 ""Move to top" swaps fields instead of move and shift down"
#### System information:
- Operating system (distribution) and version: win11
- DBeaver version: 21.3.4 community edition
- Additional extensions: n/a

#### Connection specification:
- Database name and version: PostgreSQL v11
- Driver name: n/a
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n/a

#### Describe the problem you're observing:
Similar to the bug https://github.com/dbeaver/dbeaver/

[2022-02-07 20:38] JsBergbau opened #15412 "Please add support for Prometheus and VictoriaMetrics database: Support for PromQL and MetricsQL"
**Is your feature request related to a problem? Please describe.**
I'm frustrated with influxdb because support for 32 bit system is quite limted to maximum database size of about 2 GB, see https://github.com/influxdata/influxdb/pull/12362
VictoriaMetrics uses 10 times less RAM than InfluxDB, see https://docs.victoriametrics.com/ and also database size is almost unlimited on 32 bit systems, see ht

[2022-02-07 22:19] nicchristeller opened #15413 "PostgreSQL: Multi-database support without automatic lookup"
As described in [PostgreSQL: Multi-database model support](https://github.com/dbeaver/dbeaver/issues/34), we can turn on the option "Show all databases" to allow a single connection to a server to show multiple databases.

My one problem with this is when I connect to a server for which I don't have permissions to the `postgres` database. With "Show all databases", I obviously then get an error wh

[2022-02-07 23:02] aurorapar opened #15414 "Java exit code = 14"
#### System information:
- Operating system (distribution) and version // Microsoft Windows [Version 10.0.19043.1466]
- DBeaver version // Latest Release
- Java version // Java(TM) SE Runtime Environment (build 1.8.0_321-b07)
- Additional extensions // None

#### Describe the problem you're observing:
I installed DBeaver and decided to *not* check the Java install. When attempting to run DBeaver,

[2022-02-08 00:31] strangan commented on #8403
While the Beaver MacOS ARM build installs and launches correctly, it errors out when trying to query a table in Snowflake. It complains about the JDBC driver (despite updating it to be the latest) and says "cannot fetch due to max row count" -- I'm paraphrasing since I don't remember the exact error.

When I replaced it with the Intel x86 version on my M1 MacBook Pro, it works fine to query a tabl

[2022-02-08 00:31] peiouya commented on #8403
你好，邮件已收到。谢谢联系！

[2022-02-08 00:52] ilyafrank2021 commented on #14942
It's better! I can actually connect and run queries.
But there is another issue. If I shut down DBeaver and then open it again, the previously working connection fails to reconnect, showing me a NullPointerException.
I found a workaround - right click on the connection, Edit Connection, then immediately press OK, then right click again and Connect. It's able to connect again. But if I shut it down

[2022-02-08 01:02] ilyafrank2021 commented on #14942
Here's the more complete NPE

Caused by: java.lang.NullPointerException
        at java.base/java.util.concurrent.ConcurrentHashMap.putVal(Unknown Source)
        at java.base/java.util.concurrent.ConcurrentHashMap.putAll(Unknown Source)
        at java.base/java.util.Properties.putAll(Unknown Source)
        at org.jkiss.dbeaver.model.impl.jdbc.JDBCDataSource.getAllConnectionProperties(JDBCDataSo

[2022-02-08 01:13] alchemyy opened #15415 "Shortcut for 'Format SQL' not working"
#### System information:
- Windows10
- DBeaver 21.3.4
- No Additional extensions

#### Describe the problem you're observing:
- Ctrl+Shift+F not working, while 'Format SQL' under 'Edit' menu works fine.

[2022-02-08 03:08] lpossamai commented on #14749
Hi @Destrolaric . On a PC running Windows it works. Also tested on a normal MacOS with an Intel chipset, works fine!

[2022-02-08 06:13] armant commented on #10184
Just want to add that I am also waiting for this fix.

[2022-02-08 06:23] saad-saeed-07 commented on #5178
Still an issue

[2022-02-08 08:09] serge-rider commented on #15155
Fixed.
The problem was caused by JSQLParser. It has an issue with deep nested parameters parsing.
The library version was upgraded to 4.3 and deep parser feature was disabled (it doesn't break parser but makes it less precise).

[2022-02-08 08:13] uslss commented on #15415
@alchemyy Probably, you've got Format Active Query Only option enabled. Could you try to disable it and check if it helps?
![image](https://user-images.githubusercontent.com/31996417/152945186-0c295070-cbf1-49e2-84aa-2898d035dc30.png)

[2022-02-08 08:20] uslss commented on #15411
thanks for the report

[2022-02-08 08:31] Destrolaric opened #15417 "Need to fix script binding for script selector"
In this pull request, it was done incorrectly. We need to revert and implement a better solution.
#15391

[2022-02-08 08:31] uslss commented on #15410
thanks for the suggestion

[2022-02-08 08:33] uslss commented on #15407
@nitto75 could you try to reset UI settings (File - Reset UI settings) and check if it helps?

[2022-02-08 08:43] ShadelessFox commented on #14868
Fixed for newly created files only. Doesn't work for already existing files.

[2022-02-08 09:21] alchemyy commented on #15415
Hey @uslss , Thanks for the reply! I just figured that out , the DBeaver shortcut has collision to my system's shortcut for INPUT METHOD, which changes my Chinese input from 'Simplified Chinese' to 'Traditional Chinese'. Hard to figure that out though. ,would be better if DBeaver had the hotkey collision check integrated.

P.S. Found a tool to check hotkey usage--OpenARK, however it did not show t

[2022-02-08 10:01] LonwoLonwo commented on #15401
Ok, thanks.

And what about
`select trunc(1.7, 1) from dual;`
the result is also incorrect?

Also, can you tell me more about your driver? You can get more info about the driver with the "Test connection" button in the "Connection settings" dialog.

[2022-02-08 10:22] cyberbeat commented on #15036
I experience this problem with 21.3.4 (Eclipse Package from https://dbeaver.io/update/ce/latest/)

[2022-02-08 10:25] GiuseppeMusso-Laser commented on #15401
The result of:
select trunc(1.7, 1) from dual;
is the same (1):
![image](https://user-images.githubusercontent.com/20069725/152968370-95149a72-6847-4128-bec8-8b426d924429.png)

From "Test connection" I get:
![image](https://user-images.githubusercontent.com/20069725/152967608-73d6b22d-3557-43e8-9825-5bc416501b12.png)

So my driver version is: Oracle JDBC driver 19.3.0.0.0.

[2022-02-08 10:27] ShadelessFox commented on #15036
Hello @cyberbeat,

Please provide more information about the database you're trying to connect to.

[2022-02-08 10:36] uslss commented on #15415
@alchemyy btw, you can change the shortcut in Preferences
![image](https://user-images.githubusercontent.com/31996417/152970427-95539f4e-cb6a-455e-ba0a-d78d3f8cd5d3.png)

[2022-02-08 10:39] uslss commented on #14868
verified

[2022-02-08 10:39] #14868 closed, assigned to uslss, ShadelessFox

[2022-02-08 10:41] uslss commented on #14053
fixed along with #15155

[2022-02-08 10:41] #14053 closed, assigned to nobody

[2022-02-08 10:42] uslss commented on #14735
fixed by #15155

[2022-02-08 10:42] #14735 closed, assigned to nobody

[2022-02-08 10:44] uslss commented on #13905
fixed by #15155

[2022-02-08 10:44] #13905 closed, assigned to nobody

[2022-02-08 10:46] uslss commented on #10680
fixed by #15155

[2022-02-08 10:46] #10680 closed

[2022-02-08 10:52] uslss commented on #15155
verified

[2022-02-08 10:52] #15155 closed, assigned to serge-rider, uslss

[2022-02-08 11:33] uslss commented on #14327
it is not possible to change value for array and nested array for now
![image](https://user-images.githubusercontent.com/31996417/152978956-3b52125a-f541-4358-9603-ad0f3658f999.png)

column1 _int4:
![image](https://user-images.githubusercontent.com/31996417/152979070-9cc7bda5-4213-4876-bd0e-af5d002d0fc5.png)

[2022-02-08 11:38] uslss commented on #13804
verified

[2022-02-08 11:38] #13804 closed, assigned to uslss, ShadelessFox

[2022-02-08 11:48] ems2811 opened #15420 "Export result set from temp tables error"
#### System information:
- Win10 Pro
- DBeaver 21.3.4 (same problem in 21.3.3)
- No additional extensions

#### Connection specification:
- PostgreSQL 9.5
- Default postgresql driver
- No tunnels or proxies

#### Describe the problem you're observing:
Error on export result set from temp table

#### Steps to reproduce, if exist:
Execute query below and try export to SQL or TXT format
[code]
![01](

[2022-02-08 11:54] serge-rider opened #15421 "Grouping panel doesn't work on Linux"
Column drag-n-drop doesn't do anything

[2022-02-08 12:36] ShadelessFox commented on #14154
It works as expected since every subfolder has no children.

![image](https://user-images.githubusercontent.com/35821147/152988247-4e6837c9-f954-4fb8-822d-210414d1b1db.png)

[2022-02-08 14:35] DaveBabler commented on #10032
Yes Please!!! Not being  able to do this is unacceptable.

[2022-02-08 14:38] DaveBabler commented on #10032
I would also note that if you force windows out of high contrast mode, DBeaver demands a restart of the application.

[2022-02-08 15:37] Destrolaric commented on #14433
Reproducible in Oracle and Dynamo.

https://user-images.githubusercontent.com/20579256/153021257-d8c4f817-2965-4f4e-b601-582d5ef98d58.mp4

[2022-02-08 16:51] ivanlonel opened #15426 "Data editor fails to display composite type columns that include a PostGIS geometry field"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro 21H1
- DBeaver version: 21.3.0
- Additional extensions: Office support, git support, SSHJ, Debug and SVG

#### Connection specification:
- Database name and version: Postgresql 12.8
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're obser

[2022-02-08 17:05] kai-morich opened #15427 "errors when reading large HANA lobs"
with default settings, lob behavior changes on 10k and 1MB
![image](https://user-images.githubusercontent.com/25850372/153037302-c4eb14af-5089-4265-9828-0a11529bd5f3.png)

this testcase
[code]
shows no value starting with 32KB and errors starting with 1MB
![image](https://user-images.githubusercontent.com/25850372/153036654-c0831d56-9273-480a-b294-195e3493168e.png)

[2022-02-08 17:53] techlock77 commented on #13007
@uslss In my case column width is taking column value width but not the column field name width.
consequently, Column field name is wrapped and NOT fully displayed.
![image](https://user-images.githubusercontent.com/66756251/153046607-ea0dc8b1-474c-461b-b7c8-dbf7814770aa.png)

Is there any workaround until this issue is resolved?

[2022-02-08 18:15] uslss commented on #13007
@techlock77 what dbeaver version and db do you use?

[2022-02-08 18:22] uslss commented on #15426
thanks for the report

[2022-02-08 18:38] ivanlonel opened #15428 "Customize row colors based on value of composite types subfield"
**Is your feature request related to a problem? Please describe.**
When you right click the data editor and and go to `View/Format`>`Row colors ...`, there's no way to use a subfield of a composite type as the formatting condition. You can only add the entire composite column to the box on the right, but then you can't actually create a rule with it because the available operators only apply to si

[2022-02-08 18:40] spassignat commented on #15333
I looked at the code and tested to add my driver in the oracle plugin.xml. It works "like" a charm. I have access to oracle jobs, VM, ... but it's kind of very rough approach (more like a poc).

I now have few questions or remarks:
- To have a proxy driver (let's keep in mind p6spy) having all possible dialects, it seems necessary to make this module dependent of all others (I mean database module

[2022-02-08 18:45] ShadelessFox commented on #15426
It looks like that geometries are stored in WKB format but as hex. This behavior makes sense for composites.

[2022-02-08 18:46] uslss opened #15429 "It is impossible to add new values to nested arrays via UI"
related to #14327
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.3.5

#### Connection specification:
- Database name and version PostgreSQL
#### Describe the problem you're observing:
1. For now, it is impossible to add values to nested arrays via UI accordingly to their structure (only the first root element could be edited).
2. Also it is not po

[2022-02-08 18:54] techlock77 commented on #13007
@uslss
DBeaver Version: 21.3.4.202202051448
Database:  Microsoft SQL Server 2014

[2022-02-08 18:55] SubOptimal commented on #15299
For Flatpak installed DBeaver, there were some solutions discussed on #5008. Possibly this could solve your problem.

[2022-02-08 18:58] ShadelessFox commented on #15428
Hello @ivanlonel,

Thanks for the report.

We may display nested attributes as we do e.g., for filters:

![image](https://user-images.githubusercontent.com/35821147/153056426-4152560d-ee18-43fb-ade2-357561a4660d.png)

[2022-02-08 19:00] uslss commented on #14327
verified.
created #15429

[2022-02-08 19:00] #14327 closed, assigned to uslss, ShadelessFox

[2022-02-08 19:13] uslss commented on #14750
1. After moving last column to the top, only "down" buttons are available for the "new" last column
![dbeaver_Eq1nDZc5NG](https://user-images.githubusercontent.com/31996417/153058059-1e571e32-6be8-4014-9619-686380fd6e64.gif)
[code]

2. Move object to the very bottom button doesn't work for the first column
![dbeaver_x64pOgNx9y](https://user-images.githubusercontent.com/31996417/153058352-49ce2bb0-

[2022-02-08 19:25] Gkodkod26 commented on #3270
@MightyCrabKing

This is only implemented for postgres and not mysql running on managed AWS ?

[2022-02-08 19:27] uslss commented on #15420
@ems2811 probably, you've got Open new connection(s) enabled in properties?
![image](https://user-images.githubusercontent.com/31996417/153060775-1091bbfd-1b3a-4d50-86fe-1a2cc12d0934.png)
In this case the temporary table doesn't exist in the newly opened connection

[2022-02-08 19:42] dhorrall opened #15431 "Azure SQL Server: A Renamed Stored Procedure outside of DBEAVER is not reflected in DDL in DBEAVER after 'refresh'"
If I rename a stored procedure using SQL Server Management studio, then pull up DDL in SSMS it  is correct, but DDL in DBEAVER still has previous name even after REFRESH in DBEAVER.

Left file here is DDL from DBEAVER, right file is from SSMS.  It is like the DBEAVER DDL gets stuck with the old name.

![image](https://user-images.githubusercontent.com/22561698/153063024-cd85bc13-b4f0-462d-b104-4cd

[2022-02-08 19:43] cccp-1922 commented on #10032
sure, I has dbeaver theme disabled. Enabling and restarting of dbeaver
has no effect.

On 08.02.2022 15:35, Dave Babler wrote:

[2022-02-08 19:47] cccp-1922 commented on #10032
Hi!

My windows running always in high contrast mode. Restarting of dbeaver
brings nothing.

On 08.02.2022 15:38, Dave Babler wrote:

[2022-02-08 20:07] ShadelessFox commented on #14750
The first one looks like an Eclipse issue.

Commands are not correctly refreshed. It's not related to this ticket since the issue occurs in other places too.

[2022-02-08 20:08] LonwoLonwo commented on #15431
Hello @dhorrall

Can you please tell me - where did you use a refresh? In Database Navigator tree? On the Procedure tab? Somewhere else?

[2022-02-08 20:12] ShadelessFox commented on #15429
We need to think about the proper UI for that.

We want to add new elements to the selected object, but it will prevent the user from adding new root elements since we can't have the focus set to "nothing".

The issue can be solved by showing a single root element with all its children underneath, but it may look weird.

[2022-02-08 21:11] placaze commented on #14715
Hi @Skydiveroid, @serge-rider,

Is there any way I can help you to fix this? (I'm not a developer unfortunately.)
It used to work with some 2 or 3 years old versions of DBeaver.

I can make a small donation, or contribute to a bounty for this issue.

Thanks :)

[2022-02-08 21:11] LonwoLonwo commented on #15413
Hello @nicchristeller

If I understand you correctly, you can't read the `postgres` database.

Maybe filters can help you?

You can find connection filters in the "Connection settings" -> "General"

![2022-02-09 00_07_39-DBeaver Ultimate 21 3 4 - _postgres 13 3_Script-81](https://user-images.githubusercontent.com/45152336/153076296-3abe22a3-0db8-4dd8-ba6a-995eef8a5c65.png)

![2022-02-09 00_08_04-C

[2022-02-09 01:33] aurorapar commented on #15414
After installing JDK 11, DBeaver runs fine. I was under the assumption that only the runtime was required. Is this accurate?

[2022-02-09 02:54] kingwrcy commented on #13007
@uslss
Same here!
![image](https://user-images.githubusercontent.com/1247324/153113126-9f09f776-18fd-471a-a219-7192ce7959e2.png)

[2022-02-09 05:57] ems2811 commented on #15420
Really. I didn't think about that. Thank you.

[2022-02-09 05:57] #15420 closed, assigned to nobody

[2022-02-09 06:21] Destrolaric commented on #14749
Thank you for the information. We will look more closely into m1 java packaging

[2022-02-09 08:15] IvanSnetkov commented on #6996
2022 still an issue

[2022-02-09 08:23] sid6mathur opened #15433 "CIDR data type support in map marker - Spatial view (Postgresql)"
**Is your feature request related to a problem? Please describe.**
Postgresql-native CIDR data type is not shown as a string when showing result row in the Spatial view

**Describe the solution you'd like**
the native CIDR data type should be rendered as "192.168.1.0/24" and not has [object Object]

**Describe alternatives you've considered**
None

**Additional context**
The `subnet` column (Postg

[2022-02-09 08:26] Matvey16 commented on #15117
@aravindhansps This should have been fixed in the newest version, please say if it wasn't resolved for you

[2022-02-09 08:28] Matvey16 commented on #15239
@kpconnell Can you say how it is different from #13902 ?

[2022-02-09 08:30] Matvey16 commented on #15297
@IanMoroney It seems like an expectected behavior of the driver and looks like we won't be able to change this behavior. Have you seen any other tool that works differently?

[2022-02-09 08:31] sid6mathur commented on #15433
Added simple test case:
[code]
Click on the blue dot in the Spatial view of the results tab to see marker view showing [object Object]

[2022-02-09 08:40] uslss commented on #14696
verified

[2022-02-09 08:40] #14696 closed, assigned to Destrolaric, uslss

[2022-02-09 08:42] Matvey16 commented on #15351
@aluva Can you clarify what data management templates do you mean? Or add a screenshot if it is possible.

[2022-02-09 08:49] Matvey16 commented on #15352
@pasolid That happens because you can't connect to postgres server if no database is specified. We can probably change it so that DBeaver will connect to either of the default databases `postgres` or `template1`. Will that fix your issue?

[2022-02-09 08:52] Matvey16 commented on #15354
@giordyb Can you check if the user that you are using to connect has needed permissions to use extract catalogs query?

[2022-02-09 09:00] ShadelessFox commented on #15426
Fixed.

[2022-02-09 09:00] ShadelessFox commented on #14750
Fixed.

[2022-02-09 09:01] ShadelessFox commented on #14196
We specify only `in` parameters in DDL, and it's enough for PostgreSQL to understand us, so it's not a bug.

Now we display full type signature including parameter modes (and omit them if all parameters are `in` because they are implicit).

![image](https://user-images.githubusercontent.com/35821147/153004688-796fc350-732f-4d21-aebb-e177e3bf7951.png)

[2022-02-09 09:18] uslss commented on #15417
verified

[2022-02-09 09:18] #15417 closed, assigned to Destrolaric, uslss

[2022-02-09 09:27] tuananh281098 commented on #10004
@mwalkerr @uslss
Hi guys. Did you success to share virtual foreign key? I found the "virtual-models" key in data-sources.json file and I try to use it for sharing the virtual key but I can't. Could you tell me the way to export/import it? Thanks

[2022-02-09 10:29] giordyb commented on #15354
Hi @Matvey16 , the service account that I am using to connect via the "service-based" oauth type has the "BigQuery Data Owner" and "BigQuery Metadata Viewer" role at the Dataset level and works fine.
The user that I am using to connect via the "user-based" oauth type is mine and have both the  "BigQuery Editor" role at the project level and the "BigQuery Owner" role at the Dataset Level (I've crea

[2022-02-09 10:47] janbuchar commented on #2738
I set my connection type to production without knowing that it disables autocommit. I did a couple of updates which locked various rows and caused parts of the production system to get stuck. In my opinion, this actually defeats the purpose of the "production" connection type, especially for users coming from other tools (adminer/pgadmin in my case) that use autocommit.

[2022-02-09 11:10] pasolid commented on #15352
Hey,
Thanks for response, yes I figured it out already this was the issue.
We don't have `postgres` DB on the servers so it took me a moment later to realize that was needed for postgres server (default one).

The problem is that the error is confusing, instead of something like "empty DB name" for some reason it defaults to user name to be sued as DB name and then fails on that.

But I do think i

[2022-02-09 11:27] ShadelessFox commented on #13885
Implemented:

![image](https://user-images.githubusercontent.com/35821147/153191029-4d24afb0-e7c7-4993-aad9-34d15b180f8d.png)

This preferences page can also be accessed via link in the <kbd>Define Description</kbd> dialog.

[2022-02-09 12:20] uslss commented on #15427
thanks for the report

[2022-02-09 12:34] Skydiveroid commented on #15433
Thanks for the report.

[2022-02-09 12:44] Skydiveroid commented on #15402
Thank you for your request.

[2022-02-09 12:47] Skydiveroid commented on #15395
Thank you for the idea.

[2022-02-09 12:48] Skydiveroid commented on #15381
Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-02-09 12:52] sid6mathur commented on #15433
Both `inet` and `cidr` types aren't shown in the marker. Updated repro case below with `inet` added. Thanks for the quick triage 💯
[code]

[2022-02-09 13:05] ShadelessFox commented on #15402
Hello @darko1979,

In the case of placeholder text, we use predefined system color. It can't be changed via preferences.

[2022-02-09 13:07] ShadelessFox commented on #15433
It looks like these types are treated as binary data of some kind. Thus, they can't be normally converted to a string representation.

[2022-02-09 14:02] sid6mathur commented on #15433
How amazing are you folks! Thanks for the user love.

[2022-02-09 14:05] bianyun1981 opened #15437 "Found some hard-coded cases where the localization properties file was not found (part 2）"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise Edition (Simplified Chinese), 21H1
- DBeaver version: 21.3.5-SNAPSHOT (The latest development version at the time of posting)

#### Describe the problem you're observing:
After I updated the code of the develop branch to the latest version (last commit time: 2022-02-09 19:01 (GMT+8), commit by [ShadelessF

[2022-02-09 14:25] bianyun1981 opened #15439 "The SQL execution generated by the export Oracle table data function will report an error"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise Edition (Simplified Chinese), 21H1
- DBeaver version: 21.3.4.202202051448

#### Connection specification:
- Database name and version: Oracle 11.2.0.1.0
- Driver name: Oracle (oracle.jdbc.OracleDriver)

#### Describe the problem you're observing:
When I used DBeaver to export Oracle table data, I found th

[2022-02-09 14:53] DodgeDeBoulet commented on #15117
Sorry @Matvey16 , it's not.

[dbeaverCitrix-20220209.log](https://github.com/dbeaver/dbeaver/files/8033636/dbeaverCitrix-20220209.log)

EDIT: I've reverted to 21.3.0 and it is working.

[2022-02-09 14:58] uslss commented on #15426
verified

[2022-02-09 14:58] #15426 closed, assigned to uslss, ShadelessFox

[2022-02-09 15:00] uslss commented on #14750
verified

[2022-02-09 15:00] #14750 closed, assigned to uslss, ShadelessFox

[2022-02-09 15:03] uslss commented on #15439
@bianyun1981
the number of the data rows per statement could be changed in Data Export preferences
![image](https://user-images.githubusercontent.com/31996417/153228163-3817b855-cccb-48aa-bd00-ec4321dcdb40.png)

[2022-02-09 16:10] bianyun1981 commented on #15439
@uslss
Thanks for pointing out the location of this config. After testing, it is found that as long as it is set to 1, the exported SQL format returns to normal.

Although modifying the value of this configuration can temporarily solve this problem, there seems to be a little inconvenient to use, that is: if I am used to setting this to a value greater than 1 under the MySQL connection (ie: a sing

[2022-02-09 16:27] ShadelessFox commented on #14021
Fixed.

[2022-02-09 17:00] DoS174 commented on #15069
The "Use SQL to limit fetch size" item started adding a LIMIT 100 row to the query, but I still get an error

`_SQL Error [1002]: ClickHouse exception, code: 1002, host: ***, port: ***; Code: 164. DB::Exception: Cannot modify 'max_result_rows' setting in readonly mode. (READONLY) (version 21.10.5.3 (official build))_
`

If I turn off the LIMIT in the settings, and add the LIMIT to the request manu

[2022-02-09 17:22] LonwoLonwo commented on #15439
Hello @bianyun1981

We have a special setting for the multiple exports for the Oracle database:

![2022-02-09 20_15_51-Data Transfer](https://user-images.githubusercontent.com/45152336/153254128-1717f5b0-48cb-4494-99b4-5369a1c1dfda.png)

It will return something like this:

[code]

Thanks for the idea, but DBeaver usually tries to save your preferences/settings. If we will change export settings d

[2022-02-09 18:12] dhorrall commented on #15431
It was in the Databasse Navigator tree.  Right click 'REFRESH'.  The name
of the procedure does change.  But the 'Create' in the DDL still has it
'creating' the previous name.

On Tue, Feb 8, 2022 at 3:09 PM Anastasiya ***@***.***> wrote:

--
Regards,
Derek Horrall

[2022-02-09 21:50] joelrosa21 opened #15446 "Failed to connect with AD-MFA in SQL Server on Azure"
Failed to connect with AD-MFA in SQL Server on Azure with error:

`The driver could not establish a secure connection to SQL Server by using Secure Sockets Layer (SSL) encryption. Error: "Failed to validate the server name in a certificate during Secure Sockets Layer (SSL) initialization.".`

#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.3

[2022-02-10 00:33] bianyun1981 commented on #15439
@LonwoLonwo

Thank you for your reply. I didn't know that Oracle supports this form of syntax for inserting multiple rows with a single statement, so this configuration (Data rows per statement) makes sense for Oracle.

As for the fact that DBeaver saves preferences for different export settings based on different database types can be confusing, I agree that it is.

However, if a configuration (s

[2022-02-10 02:51] woxiangbo commented on #15229
DBeaver: 21.1.5.202108160727
database: mysql

thanks for your answer， actually, the symbol "yellow lock" appears irregular,  can't reproduce each time.
do you know when will the "yellow lock“ appears ? in other words, what conditons make it appear?

[2022-02-10 03:25] MoodConnect commented on #4186
I'm actually having trouble with connecting dbeaver. I'm getting a connection time out error when accessing with dbeaver lite. Anyone have any thoughts on how to fix that issue?

[2022-02-10 07:13] Yangeok commented on #5178
using version 7.3, still an issue,,

[2022-02-10 11:01] uslss opened #15450 "It is impossible to access Declaration tab without using mouse"
#### System information:
- Operating system (distribution) and version win 10
- DBeaver version 21.3.4

#### Describe the problem you're observing:
I run into a problem regarding accessibility with screen reader (NVDA or JAWS) in Dbeaver.
It is impossible to access to source code of a procedure without using mouse. Blind people can not use mouse to navigate the UI. Is not possible to access the "D

[2022-02-10 11:05] uslss commented on #14021
verified

[2022-02-10 11:05] #14021 closed, assigned to uslss, ShadelessFox

[2022-02-10 11:09] uslss commented on #15392
verified

[2022-02-10 11:09] #15392 closed, assigned to uslss, ShadelessFox

[2022-02-10 11:18] uslss commented on #15433
verified

[2022-02-10 11:18] #15433 closed, assigned to uslss, ShadelessFox

[2022-02-10 11:21] uslss commented on #14154
verified

[2022-02-10 11:21] #14154 closed, assigned to uslss, ShadelessFox

[2022-02-10 11:50] OverDrone commented on #6630
I'm sorry for resurrecting old thread but I couldn't find any other info on this feature. I'm sure some guys happy to have this feature, but I want it disabled and I can't find anywhere in settings how to do this. Can anybody help me?

[2022-02-10 12:01] rachelj90 opened #15453 "Dbeaver UI feature request"
Hi...

Am using DBeaver 21.3.2 version,  I'm just looking for column count in the result panel when we query a table which means the dynamically show the result of the below query somewhere in the results panel.

select count(*) from user_tab_columns where table_name = 'tablename';
Am using Oracle DB.

Please guide if we already have any settings for such feature.

[2022-02-10 12:34] ShadelessFox commented on #15313
Implemented.

[2022-02-10 12:41] fikusz01 commented on #15313
Cheers! Thank you very much!

[2022-02-10 12:44] ShadelessFox commented on #13940
I can't reproduce the issue. It seems like it already was fixed.

![image](https://user-images.githubusercontent.com/35821147/153410966-8d1e0180-d9f2-4e92-be5a-2b29cb226d1b.png)

[2022-02-10 12:44] #13940 closed, assigned to ShadelessFox

[2022-02-10 13:35] RomainVidal666 commented on #12861
Hello,

I got the same problem with this code. It's probably caused by tabulation after `--`. Same workaround works.

[code]

![image](https://user-images.githubusercontent.com/17766340/153417821-370842b6-b383-407a-a709-f09741d9f2ca.png)

[2022-02-10 14:15] lukaseder opened #15457 "Support configuring a JDBC driver per connection"
**Is your feature request related to a problem? Please describe.**

I often have to compare the behaviour of various in-memory database products *per version*, including H2, Derby, HSQLDB, SQLite, etc.

To switch versions, I have to change the global JDBC driver configuration, when it would be very convenient to configure the JDBC driver and version *per connection*.

**Describe the solution you'd

[2022-02-10 14:44] uslss commented on #15313
verified

[2022-02-10 14:44] #15313 closed, assigned to uslss, ShadelessFox

[2022-02-10 14:48] techlock77 commented on #13007
@uslss
wondering if this could fit into any of the future milestones?

[2022-02-10 16:51] WildLlama commented on #15282
What I've observed is that when you a tab is "broken" it keeps the missing return character, but when you create a new tab, even if you copy a query from a "broken" tab it uses the correct OS ending line delimites

https://user-images.githubusercontent.com/61920578/153456057-7cbd5a01-4913-473b-a1d5-f39e29911afa.mp4

[2022-02-10 16:53] LonwoLonwo commented on #15282
Maybe this tip about Preferences can be beneficial? https://github.com/dbeaver/dbeaver/issues/11278

[2022-02-10 16:58] dabocla opened #15458 "Vertica - Discover Owner Entity is very slow"
Reference:
https://github.com/dbeaver/dbeaver/issues/4193

#### System information:
![image](https://user-images.githubusercontent.com/1686584/153455261-22b8a298-98cf-4b40-8f52-713dec79da52.png)
![image](https://user-images.githubusercontent.com/1686584/153455467-4ce95900-4f8b-4034-bfd1-915158533723.png)

No additional extensions

#### Connection specification:
- Database name and version
Vertica

[2022-02-10 17:07] kurtisvg opened #15459 "Cloud SQL for Postgres: Could not initialize class com.google.cloud.sql.postgres.SocketFactory"
#### System information:
- Operating system (distribution) and version: MacOs Monterey v12.2
- DBeaver version: CE 21.3.4
- Additional extensions: N/A

#### Connection specification:
- Database name and version: PG 12
- Driver name: Cloud SQL for Postgres
- Do you use tunnels or proxies (SSH, SOCKS, etc)? N/A

#### Describe the problem you're observing:
[code]

#### Steps to reproduce, if exist:
1

[2022-02-10 19:09] pdanie opened #15461 "DBeaver: Update function/procedure or triggers generate NullPointerException"
DBeaver - **Version 21.3.4 CE**
DBeaver driver: **MS SQL Server  / Microsoft Driver**
Operating System: **Windows 8.1, Windows 10 Pro**
Database Server: **Microsoft SQL Express 2014, 2016, 2017, 2019**

If you try to update an already stored Function/Procedure or Trigger, a **java.lang.NullPointerException** is generated.

o Open _DBeaver_.
o In the Database Navigator selecte a database function/p

[2022-02-10 19:30] mwalkerr commented on #10004
@tuananh281098
Sorry, I can't offer much help here since I haven't used DBeaver in a while. I think you can make this work but there's no convenient UI in the application to do it. Re-using virtual keys in a different installation would require copying over that data-sources.json file (or at least inserting the relevant bits). I believe I ended up deciding that it was more work than it was worth a

[2022-02-10 21:46] victorcarvalhosp commented on #12582
I installed DBeaver version Version 21.3.4.202202061313 and then I start to see this same error whenever I try to create a backup. Someone can explain how to make this work?

I have version 21.2.0.202 running in another computer and it works fine

[2022-02-10 21:51] LonwoLonwo commented on #12582
Hello @victorcarvalhosp

What PostgreSQL version do you use?
What error exactly do you have? Can you provide more info?

Also, you can find a native client list in your connection setting.

![2022-02-11 00_48_40-Connect to a database](https://user-images.githubusercontent.com/45152336/153502515-2758ed13-eea9-4a94-808b-0a2755c9388d.png)

I hope it can help you.

[2022-02-10 22:47] victorcarvalhosp commented on #12582
Hi @LonwoLonwo first of all thanks for answering so quickly!
On this Local Client option, I just have one option: "PostgreSQL Binaries". How can I add these other options? If I click on "Browse..." all I can see is this:
![image](https://user-images.githubusercontent.com/4266657/153509645-7e66be99-9b7b-4d87-ab9e-63e88d4e3eb3.png)

I'm using PostgreSQL 12.9 and the error I get is the same from the

[2022-02-11 07:23] LonwoLonwo commented on #13674
Support for auto-increment columns field implemented for Firebird (version >= 3) and Vertica databases.

Important note: Vertica supports only one column in the table with the IDENTITY annotation: https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/AdministratorsGuide/Sequences/AutoIncrementIdentitySequences.htm

![2022-02-10 22_50_46-NewTable_3 - Persist Changes](https://user-images.githubu

[2022-02-11 07:51] LonwoLonwo commented on #14566
Event triggers support implemented for PostgreSQL, Greenplum and EnterpriseDB (versions > 9.3)

![2022-02-10 03_26_08-DBeaver Ultimate 21 3 4 - log_ddl_info](https://user-images.githubusercontent.com/45152336/153316748-2c426407-482a-4760-b124-87341ac7c8b6.png)

![2022-02-10 03_55_04-Disable trigger -  Disable trigger](https://user-images.githubusercontent.com/45152336/153316754-2b2fb276-e22a-404e-

[2022-02-11 07:59] LonwoLonwo commented on #14566
You can
- create Event Triggers via UI (as ordinary triggers)
- Rename event triggers via UI
- Comment event trigger via UI
- Drop event trigger via UI
- Change trigger body and save

[2022-02-11 08:22] LonwoLonwo commented on #12339
Thanks for the investigation @echan888

Now DBeaver will execute

`SELECT SERVERPROPERTY('EngineEdition') `

for Azure Synapse recognizing. And data type reading statement for Azure Synapse will be:

`SELECT * FROM sys.types WHERE is_user_defined = 1`

Without the table_types table.

[2022-02-11 08:43] uslss commented on #14196
verified

[2022-02-11 08:43] #14196 closed, assigned to uslss, ShadelessFox

[2022-02-11 09:08] uslss commented on #14433
still reproducible in case table is refreshed
![dbeaver_4YHaFxrFqP](https://user-images.githubusercontent.com/31996417/153564430-49cbcfdb-f16f-428b-9264-5ecf014b0db3.gif)

[2022-02-11 09:12] ShadelessFox commented on #15461
Hello @pdanie,

I can't reproduce your issue against triggers.

Could you please send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-02-11 10:06] uslss commented on #14566
1. it is impossible to rename event trigger and trigger in metadata viewer: new name is used as old name
![image](https://user-images.githubusercontent.com/31996417/153570000-31b425ba-a13d-4ed6-8242-eb396b9d2ff5.png)
2. DDL isn't correctly updated after rename in navigator - event trigger and usual trigger name remains old in trigger source until manual refresh
![dbeaver_W56ZEUNxSn](https://user-i

[2022-02-11 12:19] uslss commented on #13674
verified

[2022-02-11 12:19] #13674 closed, assigned to uslss, LonwoLonwo

[2022-02-11 12:26] uslss commented on #12339
verified

[2022-02-11 12:26] #12339 closed, assigned to uslss, LonwoLonwo

[2022-02-11 13:00] p91paul commented on #6996
@geomorillo @IvanSnetkov did you try @ghost suggestion? this issue cannot be fixed by the DBeaver team, it's something caused by bad MITM https proxies that corporations use. So if it really is this issue, everyone must solve it on its own computer depending on how your corporate proxy works.

[2022-02-11 14:09] LonwoLonwo commented on #15458
Hello @dabocla

Maybe your issue is related to this issue: https://github.com/dbeaver/dbeaver/issues/14625

Can you please check with the [Query Manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager) execution time of these 2 queries:

[code]

VS

[code]

[2022-02-11 14:21] ShadelessFox commented on #15459
Hello @kurtisvg,

The driver is missing one extra dependency. It is caused by dependency having a templated version. DBeaver can't resolve it, so it is ignored.

As a workaround, you can add the missing dependency manually:

[code]

You can find instructions here: https://github.com/dbeaver/dbeaver/wiki/How-to-add-additional-artifacts-to-the-driver.

[2022-02-11 15:49] kurtisvg commented on #15459
Thanks @ShadelessFox, that did the trick.

Can you help me understand what "It is caused by dependency having a templated version." refers to? Is it the dependency in the POM [here](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/dd186886ede59350b3f0a66bc47a103dec86653e/jdbc/postgres/pom.xml#L101), or is it something else? Is there a way to fix this so other folks don't r

[2022-02-11 16:29] kai-morich opened #15467 "regression introduced with: d0740bad01441fe6d0ceb7079bfa0e48fac06d42 (#13916 Add big query catalog change limitation (#15362))"
while trying to add a HANA feature, based on latest devel branch, I got this error while executing statements:

      class org.jkiss.dbeaver.ext.hana.model.HANADataSourceInfo cannot be cast to class org.jkiss.dbeaver.ext.generic.model.GenericDataSourceInfo (org.jkiss.dbeaver.ext.hana.model.HANADataSourceInfo is in unnamed module of loader org.eclipse.osgi.internal.loader.EquinoxClassLoader @23986

[2022-02-11 16:45] ShadelessFox commented on #15459
Yes, I'm talking about that line.

The semantics of the properties are well-described here in the [POM Reference](https://maven.apache.org/pom.html#Properties). We can try to resolve them.

[2022-02-11 17:03] kurtisvg commented on #15459
That would be great - otherwise the built in "Cloud SQL" driver configs set don't seem particularly useful.

[2022-02-11 18:18] ravi-k1 commented on #15459
I like it, it's simple to use and for the last year that we use it, I didn't experience any unreliability. We only use MySQL in CloudSQL.

There are snapshots, it has scheduled downtimes and you can choose when you want to have the downtime. Scheduled downtime usually takes a minute, scaling maybe two minutes. You could add replicas, and either switch the master or just use reads.

It's simple to

[2022-02-11 19:09] dabocla commented on #15458
Output from the query manager.

Neither query returned a resultset.  For the tests I used a proper schema,
then changed it to something else prior to responding.

Feb-11 11:58:12 SQL / User SELECT t.table_schema as table_schem,
t.table_name, t.create_time, t.is_temp_table, t.is_system_table,
t.has_aggregate_projection, t.partition_expression, case when is_flextable
= true THEN 'FLEX TABLE' else 'T

[2022-02-11 19:43] pdanie commented on #15461
After further testing, it seems to have to do that I had old _DBeaver_ configuration files.

When I erase the **...\AppData\Roaming\DBeaverData** directory and restarted _DBeaver_, everything worked as expected.

You can close this issue.

[2022-02-11 19:43] #15461 closed, assigned to nobody

[2022-02-11 20:08] victorcarvalhosp commented on #12582
If I try to restore a backup I get the same error too(The same backup works on my other laptop with version 21.2.0.202)

[code]

[2022-02-11 20:46] victorcarvalhosp commented on #12582
In my case the entire `C:\Users\victo\AppData\Roaming\DBeaverData\` folder was non-existent, I thought this was created automatically in a fresh installation.
I copied it from my working installation that I had on another computer and pasted it here and then it worked.
I have no clue why this folder didn't exist though, I'm 100% sure I didn't remove it.

[2022-02-12 00:45] kexiuru opened #15468 "Does not use the the inputted host to connect DB"
I'm using DBeaver to connect remote MySQL, and found DBeaver does not use my inputted host to connect but another host.
![image](https://user-images.githubusercontent.com/17047719/153688916-64c23406-652c-49fd-a506-f6f93ed82535.png)

[2022-02-12 02:12] brooksvb commented on #15093
Indeed, I encountered this issue on Manjaro Linux and was very annoyed that it needed to be done manually.

[2022-02-12 03:43] krishna4ldw commented on #15153
Yes it prompts. As i mentioned earlier test connection works but after that when we try to expand connection to view datasets then it fails.

[2022-02-12 03:46] krishna4ldw commented on #15153
It keeps prompting please obtain an authorization code from the following URL

[2022-02-12 08:14] virgoparna commented on #14856
Works again.

[2022-02-12 08:39] zhangrui-git opened #15469 "use max function return negative number"
Execute 'select max(URLHash) from datasets.hits_v1;' return result -5258649868176
But The correct data is 18446738815059683440
Execution results in clickhoust client：

:) select max(URLHash) from hits_v1;
┌─────────max(URLHash)─┐
│ 18446738815059683440 │
└──────────────────────┘

database used clickhouse 21.12.3, data source from https://datasets.clickhouse.com/hits/partitions/hits_v1.tar

[2022-02-12 08:52] pculka commented on #14856
I confirm aswell, works with agent and keepass

[2022-02-12 09:00] flambchap commented on #15457
Hi Lukas. You can do that already. To do that, open the Driver Manager (CRTL+3 -> Driver Manager), find the needed H2 driver, then click Copy and create a new driver based on the existing driver.

[2022-02-12 11:10] GuenterSch opened #15471 "Grid - Status Bar - Information of fetched rows"
Hello,

in the Status Bar it is possible to get the following information since Version 21.3.3:
**1 row(s) fetched - 9ms, on 2022-02-12 at 11:25:07**

With Version 21.3.4 the format has changed to a not persistent storable format (Year is missing, Date is not sortable):
1 row(s) fetched - 9ms, on Feb 02 at 11:25:07

I hope you change the date format again to YYYY-MM-DD, or it is possible to set it

[2022-02-12 13:35] serge-rider opened #15472 "Columns configuration isn't saved after adding new columns to view"
E.g. in Project Explorer.
When adding new coloumns (using Configure Columns from the context menu) then this configuration isn't saved after app restart.
Workaround: resize just added column

[2022-02-12 13:36] serge-rider commented on #15472
Fixed

[2022-02-12 16:32] GeriZ opened #15474 "Output in Excel does not match the format in the query results panel"
#### System information:
- Windows 10
- DBeaver version 21.3.4.202202051448
- Office support

#### Connection specification:
- Db2 zOS 12.1.5
- db2jcc4.jar from Db2 11.5.7
- no tunnels or proxies

#### Describe the problem you're observing:

During export to Excel I'm using the Value format: Display (default):

![image](https://user-images.githubusercontent.com/31589944/153719634-854436fd-46d2-4cb

[2022-02-12 18:43] olimexsmart commented on #7540
Me too, but I have the same issue all the Eclipse-derived tools. Is such a break dealer for me that I switched my whole workflow to use VSCode where I can.

[2022-02-12 18:51] olimexsmart commented on #7540
![Screenshot from 2022-02-12 19-46-27](https://user-images.githubusercontent.com/17432947/153724154-b09f2d00-8cb2-47bb-ac90-ad8cc490ee71.png)

The color I'd like to change is the current line background.

I have no idea how someone could choose deliberately a color scheme like this :)

Anyone knows of a possible workaround?

[2022-02-12 20:56] kajdo commented on #2334
![image](https://user-images.githubusercontent.com/8735942/153728109-feba2e42-793d-4be1-998f-6b3b5eff8788.png)

have a nice day from a german UI

[2022-02-13 02:41] echan888 commented on #12339
Thank you @serge-rider, @LonwoLonwo, @uslss, @Skydiveroid.

[2022-02-13 07:55] kthoms opened #15477 "NullPointerException in SQLToolTaskWizardPageSettings#saveSettings"
#### System information:
- Operating system (distribution) and version: macOS Monterey
- DBeaver version 21.3.4.202202051448
- Additional extensions: None

#### Connection specification:
- Database name and version Postgres 14.1
- Driver name:
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

I was executing th