[2021-09-28 16:12] serge-rider commented on #14035
Fixed

[2021-09-28 16:23] Kevinoh47 commented on #13966
Experiencing this as well -- and it is really frustrating!  I think i figured out why:

The relevant config file is
`~/Library/DBeaverData/workspace6/.metadata/.plugins/org.eclipse.e4.workbench `(Mac Catalina)

The binding for the `Insert` key sequence is mistakenly bound to the `Toggle Overwrite` command.

The binding for key sequence `SHIFT + Carriage Return` is to the `Insert Line Below Current

[2021-09-28 17:02] ANTGOMEZ opened #14039 "Redshift spectrum tables are not shown in navigator for copied driver"
### Discussed in https://github.com/dbeaver/dbeaver/discussions/14037

<div type='discussions-op-text'>

<sup>Originally posted by **ANTGOMEZ** September 28, 2021</sup>
I have the latest version of Community Edition DBeaver, I also have the very latest AWS JDBC driver, from here: https://docs.aws.amazon.com/redshift/latest/mgmt/jdbc20-download-driver.html

I  create a new Redshift **SSO connection

[2021-09-28 18:57] danielbgto commented on #14032
I have updated from Early Access but  I found that behavior still active  on one place - on the task edit/Data Transfer window:

Windows:
![image](https://user-images.githubusercontent.com/5525957/135148576-f001a7ac-2352-4384-9f19-effdb5d208b6.png)

Linux:
![image](https://user-images.githubusercontent.com/5525957/135148705-997d24cf-50bd-4ca4-83e4-b5e1682c0e5b.png)

[2021-09-28 19:35] tiny-pangolin opened #14041 "support 64 bit mysqldump"
#### System information:
- Operating system (distribution) and version windows
- DBeaver version 21.2
- Java version bundled
- Additional extensions none

#### Connection specification:
- Database name and version percona mysql 8.0
- Driver name mysql mysql
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:
Cannot use mysqldump with mysql 8 with def

[2021-09-28 20:14] appleoddity commented on #14039
Seeing the same issues here. However, the tables show up after the drivers and connections are initially setup. Then, suddenly, out of the blue, the tables won't show anymore. Using the latest version of DBeaver and JDBC drivers. We are also using IAM authentication with browser based plugin (SSO / MFA).

For me, it worked at first but I noticed the problem occur after adding a second connection t

[2021-09-28 20:45] timbze opened #14042 "Preferences filter text does not work for all settings"
#### System information:
- Ubuntu 21.04
- DBeaver 21.2.1.202109181446
- Additional extensions: none

#### Describe the problem you're observing:
Preferences "type filter text" field does not work for filter settings. #10979 may have been related

#### Steps to reproduce, if exist:
1. Go to Window > Preferences
2. In "type filter text" field on top left, enter "DDL", or "case", or "case-sensitive",

[2021-09-28 20:48] timbze commented on #3348
@Igor180 See Window > Preferences > Connections > Metadata > and enable "Use case-sensitive names in DDL statements"

[2021-09-29 06:11] Matvey16 commented on #12441
Verified

[2021-09-29 06:11] #12441 closed, assigned to flambchap, Matvey16

[2021-09-29 06:16] Igor180 commented on #3348
Thanks a lot @timbze
It works in MySQL connection, but not in Amazon Redshift. The issue seems to continue only in the Amazon Redshift connection, so it is not a big deal.
Thanks a lot for your time and your help.

[2021-09-29 06:20] kai-morich opened #14044 "Wiki -> Develop in Eclipse -> Running and Debugging"
Hi

The last step  `Run -> Run Configurations -> Add Required Plug-ins` [here](https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse#running-and-debugging-in-eclipse) could be enhanced.

For whatever reason some plugins where not selected in my dev environment:
![grafik](https://user-images.githubusercontent.com/25850372/135213263-78ee40f5-1ba1-41bf-b6c1-983bc25e49ac.png)

I recommend you als

[2021-09-29 06:53] Matvey16 opened #14045 "Changing connection in SQL Console doesn't change schema"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.2

#### Steps to reproduce, if exist:
1. Open SQL Console for any connection
2. Pick another connection from the navigator

**Expected:** Connection and schema is changed for current SQL Editor
**Actual:** Connection is changed, but the schema from first connection  doesn't change

![chragqrQrQ](htt

[2021-09-29 06:55] tohghua commented on #13717
Thank you!
EA version is ok now.

[2021-09-29 06:55] #13717 closed, assigned to nobody

[2021-09-29 06:56] Matvey16 commented on #13071
Verified

[2021-09-29 06:56] #13071 closed, assigned to serge-rider, Matvey16

[2021-09-29 06:59] Matvey16 commented on #13716
Verified

[2021-09-29 06:59] #13716 closed, assigned to flambchap, Matvey16

[2021-09-29 07:15] LonwoLonwo commented on #13073
Fixed

[2021-09-29 07:23] kai-morich commented on #14044
note: looks like DBeaver.product.launch file is outdated. there hana.ui plugin is not mentioned

[2021-09-29 07:26] LonwoLonwo commented on #12405
![2021-09-29 10_11_15-Connection _MYSYBASE16_ configuration](https://user-images.githubusercontent.com/45152336/135221777-fe10d561-d367-49e2-9094-7ac90e975e42.png)

New connection setting for Sybase implemented in Dbeaver 21.2.2
Perhaps we need help in testing. I will inform you when the new Early Access version will be created.

[2021-09-29 07:50] DariaMarkaryan commented on #13073
Verified

[2021-09-29 07:50] #13073 closed, assigned to DariyaFedorova, LonwoLonwo

[2021-09-29 08:03] uslss commented on #12405
verified

[2021-09-29 08:03] #12405 closed, assigned to uslss, LonwoLonwo, riednyko

[2021-09-29 08:06] uslss commented on #14034
@alessandro-locatelli could you provide steps to reproduce? video of the issue also will be very helpful.

[2021-09-29 08:08] uslss commented on #14031
thanks for the report

[2021-09-29 08:10] uslss commented on #14005
@andregalvez79 could you check if the issue is reproducible for you against 21.2.1 version?

[2021-09-29 08:13] uslss commented on #14004
@fjf2002 unfortunately, cannot reproduce an issue.
I've just executed the script provided by you as a script and get the following result:
![image](https://user-images.githubusercontent.com/31996417/135231718-69f3d898-7944-4431-82c2-66dd03d02423.png)
Probably some special steps are needed?

[2021-09-29 08:45] serge-rider commented on #13956
Fixed

[2021-09-29 08:53] LonwoLonwo commented on #13220
Fixed in DBeaver 21.2.2

Truncate settings now depend on the database.

![134922254-c467399a-5417-4156-b749-ec01753e6522](https://user-images.githubusercontent.com/45152336/135235833-d62048f0-2542-4369-8b1d-b6c43773d20a.png)
r

[2021-09-29 08:54] Matvey16 commented on #14035
Verified

[2021-09-29 08:54] #14035 closed, assigned to serge-rider, Matvey16

[2021-09-29 08:55] KirtiDipun commented on #12405
Thank you very much. I'll wait for the new version to be available and try it.

[2021-09-29 09:23] krilim commented on #2202
Any updates on this? Need ed25519 support also.

[2021-09-29 09:26] uslss opened #14046 "Public schema cannot be set as a default"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.2

#### Connection specification:
- Database name and version SAP Hana

#### Describe the problem you're observing:
Cannot save Public schema as a default or create some object in it.

Set as default:
![image](https://user-images.githubusercontent.com/31996417/135241525-ea864ef1-5d35-4034-bec6-eaa8e

[2021-09-29 09:29] uslss commented on #13956
verified.
related issue #14046

[2021-09-29 09:29] #13956 closed, assigned to serge-rider, uslss

[2021-09-29 09:47] LonwoLonwo commented on #14046
That's because the PUBLIC schema in HANA is not the usual schema.
We have a special ticket for this case: https://github.com/dbeaver/dbeaver/issues/10263
I will add them in next releases.

[2021-09-29 09:47] #14046 closed, assigned to nobody

[2021-09-29 09:57] serge-rider commented on #14045
Fixed

[2021-09-29 10:13] uslss commented on #10038
https://dbeaver.testquality.com defect [D78](https://dbeaver.testquality.com/project/8805/result/2517119/defect/8341).

[2021-09-29 10:24] uslss commented on #14022
Closed without testing.
If it will be reproducible after 21.2.2 release - feel free to reopen it.

[2021-09-29 10:25] Matvey16 commented on #14045
Verified

[2021-09-29 10:25] #14045 closed, assigned to serge-rider, Matvey16

[2021-09-29 10:44] Matvey16 opened #14048 "Vertical buttons look corrupted on certain resolution"
#### System information:
- Operating system (distribution) and version MacOS Big Sur
- DBeaver version 21.2.2

#### Describe the problem you're observing:
Vertical buttons are not correctly alligned on Macbook Air screen (2560x1600 resolution) with any scaling

<img width="493" alt="Screenshot 2021-09-29 at 08 45 23" src="https://user-images.githubusercontent.com/82543000/135253766-97afd11d-a0be-4

[2021-09-29 10:49] Matvey16 commented on #13220
Verified

[2021-09-29 10:49] #13220 closed, assigned to LonwoLonwo, Matvey16

[2021-09-29 11:01] uslss commented on #13948
verified

[2021-09-29 11:01] #13948 closed, assigned to uslss, ShadelessFox

[2021-09-29 11:57] DariaMarkaryan commented on #14033
Verified

[2021-09-29 11:57] #14033 closed, assigned to serge-rider, DariyaFedorova

[2021-09-29 13:27] Matvey16 commented on #13700
@binodkalathil Thank you for the suggestion

[2021-09-29 13:37] Matvey16 commented on #13739
@rajeshisnepali
If you want to compare two (or more) different tables in one window you can drag tabs almost however you want.

![EOqFjrGpsv](https://user-images.githubusercontent.com/82543000/135278883-2b22c8fb-b891-48e7-9c0a-70ea7bbc21bf.gif)

Maybe we are talking about different things? If I again misunderstood you, please add some list steps of your use case (how it would have been like if the

[2021-09-29 13:48] Matvey16 commented on #14042
@timbze Thank you for the suggestion. It is a really good feature, but it is actually pretty huge to implement. So it is planned, but actual release for it can't be estimated for now.

[2021-09-29 14:06] Matvey16 commented on #14041
@tiny6996 Can you please describe how were you adding you own local mysql binaries? I tried reproducing your issue and 64bit mysql client worked for me.

[2021-09-29 14:08] willselby opened #14051 "Mac Downloads Broken"
Good morning,

The download links for MacOS .dmg files for previous versions at https://dbeaver.io/files appear to be broken.

The most recent 21.2.1 seems to work, but for others I'm getting a 403 response e.g. https://dbeaver.io/files/21.2.0/dbeaver-ce-21.2.0-macos.dmg

Thanks!

[2021-09-29 14:08] Matvey16 commented on #13973
@schmitzkr Thank you for the suggestion. It is a very big feature to implement. We will see if it is doable.

[2021-09-29 14:14] Matvey16 commented on #14008
@CheyenneForbes Thank you for the suggestion

[2021-09-29 15:38] PaulDokken commented on #2484
I am using Mysql and when I select several rows from the data grid and click on Generate SQL I do not get the option SELECT .. WHERE .. IN.  I only see SELECT .. WHERE .. =.  It would be very useful to be able to get the SQL using an IN clause

[2021-09-29 18:03] lucasoz opened #14053 "DBeaver freezes before a execution select script"
#### System information:
- Operating system (distribution) and version
Ubuntu Versión 20.04.3 LTS (Focal Fossa) de 64 bits
Núcleo Linux 5.4.0-88-generic x86_64
MATE 1.24.0
- DBeaver version
21.2.1
- Additional extensions

#### Connection specification:
- Database name and version
PostgreSQL 12.7
- Driver name
PostgreSQL JDBC Driver 42.2.5
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### De

[2021-09-29 18:04] bkqtnte10 commented on #10890
When starting, I get an error "Version ... of the JVM is not suitable ...".
With the command by @allen-ziegenfus it worked.

Why is this needed?

I have a fresh install of dbeaver (Version 21.2.0.202109041934). (I'm on Manjaro a 21.1.4)

[2021-09-29 18:09] LonwoLonwo commented on #14022
Hello @aleksandrs-ledovskis
You can test our fix in the [Early Acces DBeaver version](https://dbeaver.io/files/ea/). It will be very helpful for us!

[2021-09-29 18:10] LonwoLonwo commented on #12405
Hello @KirtiDipun
You can test our fix in the [Early Acces DBeaver version](https://dbeaver.io/files/ea/). It will be very helpful for us!

[2021-09-29 18:33] allen-ziegenfus commented on #10890
@bkqtnte10  most likely you have a different default JVM on your system that is too old

[2021-09-29 19:14] LonwoLonwo commented on #8080
https://github.com/liquibase/liquibase/issues/2037

[2021-09-29 20:03] LonwoLonwo commented on #14044
Thanks for the idea @kai-morich!

https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse updated :)

[2021-09-29 20:09] LonwoLonwo commented on #14051
Thanks for the bug report!
Fixed for versions 21+

[2021-09-29 20:25] LonwoLonwo commented on #14053
Hello @lucasoz
Thanks for the bug report!

I created a ticket on the @JSQLParser board. We will wait for help from them.

[2021-09-29 20:40] zidingz opened #14056 "Trying to get in touch regarding a security issue"
Hey there!

I belong to an open source security research community, and a member (@srikanthprathi) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best p

[2021-09-29 21:10] flambchap commented on #14056
Hey @zidingz.

Thanks for reaching out. I believe we need to add a `SECURITY.md` file just like you've proposed. In case of security issues, time is of the essence, so I would be glad if you will send us an email at `tech-support@dbeaver.com`.

[2021-09-29 21:57] uslss opened #14057 "[CE] Tables from non-default database cannot be opened in Data Editor"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.2 CE

#### Connection specification:
- Database name and version Netezza

#### Describe the problem you're observing:
Tables from non-default databases are opened with an error in Data Editor. Metadata info and DDL are shown ok.

Show all tables in a single list option is enabled:
![image](https://u

[2021-09-29 22:04] gab444 commented on #7358
@serge-rider :getting this error while installing the latest eclipse plugin, is there a way to install previous eclipse versions?
![image](https://user-images.githubusercontent.com/69998999/135355109-21ede41a-44d4-47a1-b086-a5f2f8d221cc.png)

[2021-09-29 22:16] uslss opened #14059 "[CE] Existing foreign key aren't visible"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.2

#### Connection specification:
- Database name and version Netezza

#### Describe the problem you're observing:
Existing foreign keys aren't shown for the tables
![image](https://user-images.githubusercontent.com/31996417/135356172-f467cc15-fa26-4579-b7ee-5119f7d1b375.png)
![image](https://user-i

[2021-09-29 22:29] uslss opened #14060 "Incorrect auto-suggestion behaviour in Grouping Panel Configuration"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.2

#### Describe the problem you're observing:
Incorrect auto-suggestion behaviour in Grouping Panel Configuration in case function is added for already added column (gif attached
![s2qQBQtMtb](https://user-images.githubusercontent.com/31996417/135357355-7c4b0173-93bd-49d1-8696-8c7b4f1226df.gif)
)

[2021-09-29 22:29] kylephillips1987 commented on #14015
I am having the same issue. The JDBC url looks off. Nothing for AWS Secret Key.

[2021-09-29 22:32] kylephillips1987 commented on #14015
Default Athena JDBC URL:jdbc:athena://AWSRegion={region};

[2021-09-29 22:51] uslss opened #14061 "Export to and from non-default database isn't possible"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.2 CE

#### Connection specification:
- Database name and version Netezza
#### Describe the problem you're observing:
Table export to the database that isn't set as a default database in connection properties isn't possible
#### Steps to reproduce, if exist:
1. Start to perform export to database tha

[2021-09-30 00:07] manticore-projects commented on #14053
Greetings.

Thank you for reporting, it relates to `Count( DISTINCT a.* )` which is fixed in https://github.com/JSQLParser/JSqlParser/pull/1350 already.

The PR has not been merged yet but you could replace the JSQLParser JAR with the attached one (including this fix) for immediate remedy. Do let me know if you need any further assistance.

[jsqlparser-4.3-SNAPSHOT.zip](https://github.com/dbeaver/

[2021-09-30 01:21] Korov opened #14062 "some mongo query syntax not support"
#### System information:
- Operating system (distribution) and version: `Windows 10 Pro`
- DBeaver version: `Version 21.2.0.202109061154`
- Additional extensions

#### Connection specification:
- Database name and version: `Mongo 4.4.8`
- Driver name:
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : `NO`

#### Describe the problem you're observing:

query syntax: `db.getCollection("seen_urls")

[2021-09-30 05:35] bkqtnte10 commented on #10890
Thank you for the clarification.
The part I want to understand is: when JVM 11 or higher is needed (and already is available), why doesn't dbeaver pass this request by itself?

[2021-09-30 07:47] enricjaen opened #14063 "cannot save scripts"
#### System information:
- Operating system (distribution) and version.  Mac Big Sur 11.5.2
- DBeaver version. Version 21.2.1.202109181446
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

when I try to save a file, either by keys combination or file > Sa

[2021-09-30 07:55] kai-morich opened #14064 "error in post connect step should not lead to unusable connection"
at 09:16 I connected with recent DBeaver to a HANA instance. As the test licence was expired, some of the post connect SQL statement failed, as shown in dbeaver log:

[code]
when trying to execute some SQL to set new license (e.g. `SELECT * FROM M_LICENSE`) at 09:18 it fails with:
[code]
I would prefer if errors from post connect actions are shown, but leave the connection in a usable state.
If I

[2021-09-30 07:56] kai-morich commented on #14064
To reproduce this issue you can recreate a user, where these post connect statements will fail for other reason (intentionally missing privilege on SCHEMAS view):
[code]

[2021-09-30 08:30] kseniiaguzeeva opened #14066 "javaw.exe is not included in dbeaver.exe"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.2 EA

#### Steps to reproduce, if exist:
Install EA version and try to open DBeaver

**Expected**: DBeaver is opened
**Actual result**: DBeaver cannot be opened because file `javaw.exe` hasn't been found
![dbeaver_EbVV0chnNN](https://user-images.githubusercontent.com/51405061/135416662-5863e716-697e

[2021-09-30 08:35] uslss commented on #14063
thanks for the report.
closed as a duplicate of #9097

[2021-09-30 08:35] #14063 closed, assigned to nobody

[2021-09-30 09:23] i-Niki commented on #14013
i have the same issue, and i am not able to save my er as png as well, did someone come across this problem?

[2021-09-30 09:45] ShadelessFox commented on #14013
Hello @i-Niki,

As a workaround you can append file extension manually.

[2021-09-30 09:59] aleksandrs-ledovskis commented on #14022
✅ The NPE is not there anymore with 21.2.2 (21.2.2.202109291740),

❌ but error still shows up & connection cannot be established.

![image](https://user-images.githubusercontent.com/2079110/135430791-e3422c60-1a90-4700-bc51-de5b4c01af66.png)

Last communication between server & host are shown in details. Seemingly the PG doesn't somehow like the last exchange (which contains "select version()") an

[2021-09-30 10:09] karanrn commented on #7466
I was not able to edit the URL, I tried modifying the URL Template but it was not picked up for the actual URL.

[2021-09-30 10:44] LonwoLonwo commented on #10955
Can't reproduce for
-MySQL
![2021-09-30 13_43_56-](https://user-images.githubusercontent.com/45152336/135441176-8c8a2910-b6bd-4dce-b4eb-0003e91d8987.png)

-PostgreSQL
![2021-09-30 13_46_15-DBeaver 21 2 2 - _postgres_ Script-33](https://user-images.githubusercontent.com/45152336/135441626-d4f3bd7a-2e4a-4bb0-8258-053854377eea.png)

[2021-09-30 11:26] ShadelessFox commented on #13556
Duplicate of #13290

[2021-09-30 11:26] #13556 closed, assigned to nobody

[2021-09-30 11:56] ShadelessFox commented on #13935
Alignment can be either fixed to the center or according to nullable flag / default value of the column.

[2021-09-30 12:05] flambchap commented on #14066
Fixed.

[2021-09-30 12:35] LonwoLonwo commented on #14060
Works as expected.

[2021-09-30 12:35] #14060 closed, assigned to nobody

[2021-09-30 12:41] ShadelessFox commented on #12389
Hello @allanlaal,

Do you aware that you can edit timestamp format in Data Transfer? What's your use case?

![image](https://user-images.githubusercontent.com/35821147/135456460-844dc4d3-4a38-4b9f-95a1-c51926100631.png)

I'm not sure whether we want to have several specific to date/time variables or not.

[2021-09-30 12:51] kseniiaguzeeva commented on #14066
verified

[2021-09-30 12:51] #14066 closed, assigned to flambchap

[2021-09-30 13:14] Matvey16 opened #14069 "[Exasol] Connection invalidation doesn't read schema list for SQL Editor"
#### System information:
- Operating system (distribution) and version
- DBeaver version 21.2.2

#### Connection specification:
- Database name and version Exasol

#### Describe the problem you're observing:
If the connection has been lost (for example due to inactivity), schema list can't be shown due to lost connection. But Invalidating the connection doesn't help and just disables the error mes

[2021-09-30 13:31] LonwoLonwo commented on #14059
Implemented in EE version.

[2021-09-30 13:31] #14059 closed, assigned to nobody

[2021-09-30 13:46] aleksandrs-ledovskis commented on #14022
I have checked the DBeaver 21.2.2 (logs and situation described above) against 21.1.5 (seen below)

As can be seen in program's output, the last PG command and DBeaver's reply query **are exactly the same, bytewise** in 21.2.2 and 21.1.5, yet in 21.2.x the extra "Close JDBC connection"/connection teardown logic is being executed after receipt of error and that leaves connection in closed/not-conne

[2021-09-30 14:28] kseniiaguzeeva opened #14072 "It is necessary to press Save to see table object deletion in the Metadata Editor"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.1.2 EA

#### Steps to reproduce, if exist:
1. Open a table, delete a column/key/index and save the changes
2. Delete another object in the table

**Expected**: the deleted object disappears after pressing delete
**Actual result**: the deleted object disappears after pressing Save

https://user-images.gi

[2021-09-30 14:36] LonwoLonwo commented on #12739
duplicate of https://github.com/dbeaver/dbeaver/issues/13389

[2021-09-30 14:36] #12739 closed, assigned to nobody

[2021-09-30 14:55] LonwoLonwo commented on #12031
Can't reproduce in DBeaver 21.2.1

Transfer from HANA to PostgreSQL

![2021-09-30 17_45_46-Map columns of decimal_test](https://user-images.githubusercontent.com/45152336/135477984-ecc2e964-a24f-4af2-9fe7-862da2f6c83e.png)

![2021-09-30 17_46_03-Target DDL](https://user-images.githubusercontent.com/45152336/135477989-96ee94ef-a426-4502-a87a-f7e77a5bb946.png)

HANA Decimal data type mapped as Postg

[2021-09-30 14:55] #12031 closed, assigned to nobody

[2021-09-30 14:59] LonwoLonwo commented on #14044
DBeaver.product.launch also updated.

[2021-09-30 15:23] flambchap opened #14074 "Exception in the table from the Export to CSV File Progress dialog"
#### System information:
- Operating system (distribution) and version
- DBeaver version DBeaver 21.2.2 UE devel
- Additional extensions

#### Connection specification:
- Database name and version Exasol
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
![oaNVxLAn8X](https://user-images.githubusercontent.com/26031301/135485372-e602f38e-a4

[2021-09-30 15:33] LonwoLonwo commented on #10955
SQL Server doesn't work

[2021-09-30 17:38] ShadelessFox commented on #13755
Now `all` quote mode will quote NULLs too. Added additional `all but nulls` mode that preserves old behavior.

[2021-09-30 20:01] LonwoLonwo commented on #10955
Mssql global search fixed.

![2021-09-30 19_18_08-](https://user-images.githubusercontent.com/45152336/135522551-93899edc-ff6c-4000-84c8-ddc3f93b21a7.png)

[2021-09-30 20:55] qrkourier opened #14080 "Allow to add shared lib for all drivers"
**Is your feature request related to a problem? Please describe.**
My custom JDBC driver library depends on yet another jar (an SDK) that can only be loaded once, not per driver, and so I need to load it in a parent class loader, not as a driver-specific lib in drivers manager

**Describe the solution you'd like**
A command-line option to prepend the parent class loader's classpath

**Describe alt

[2021-10-01 02:57] allen-ziegenfus commented on #10890
idk, probably because it doesn't want to be in the business of figuring out your java config

[2021-10-01 04:05] kseniiaguzeeva opened #14081 "Date, time values cannoot be exported in JSON, source code formats"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.2 EA

#### Connection specification:
- Database name and version PostgreSQL

**Precondition**:
![dbeaver_PhVCgBpLaa](https://user-images.githubusercontent.com/51405061/135562930-1862af2e-75ae-4e82-9432-74444ee4af8c.png)

#### Steps to reproduce, if exist:
Export a table with `date` or `time` values

[2021-10-01 05:49] DariaMarkaryan opened #14082 "Two identical buttons on the statistics tab in metadata editor"
#### System information:
-  Win 10, DBeaver CE 21.2.2

#### Describe the problem you're observing:

https://user-images.githubusercontent.com/43252954/135571820-c37a12f4-c86e-4f80-b731-8376c4ba65a4.mp4

[2021-10-01 05:56] DariaMarkaryan commented on #12754
The problem remains for database tasks menu item
https://user-images.githubusercontent.com/43252954/135572432-dd83b890-0364-4e26-a09e-282be32243d4.mp4

[2021-10-01 06:59] DariaMarkaryan opened #14083 "Reset perspective should cancel toolbar hiding"
#### System information:
- Win 10, DBeaver CE 21.2.2

#### The problem and steps to reproduce
1. Hide toolbar (Window -> Appearance -> Hide toolbar)
2. Reset perspective (Window -> Reset Perspective)
Expected: Toolbar is visible after reset
Actual: UI changes canceled except toolbar hiding

[2021-10-01 07:04] Matvey16 commented on #13963
@ConstantinoSchillebeeckx Hello, can you look what background process is happening until the table is displayed? You can enable background tasks window with `Window > Show view > Other > Background tasks`
Also queries from the query manager can be useful too

[2021-10-01 07:24] DariaMarkaryan opened #14084 "Setting format for string column as "Numeric" breaks the data editor"
#### System information:
- Win 10, DBeaver CE 21.2.2

#### Describe the problem you're observing, steps to reproduce:
1. Open table with String column
2. Open context menu and set Numeric formatting (View/Format -> Set "column" format -> Numeric)

And now some actions like expanding Panels or clicking in data editor may cause this:
![image](https://user-images.githubusercontent.com/43252954/135580

[2021-10-01 07:37] shaoyu0102 commented on #9097
Hi @uslss

Is this problem solved? Thanks !

[2021-10-01 07:37] Matvey16 commented on #13965
#10302 Can be related

@beckrion AS400 driver is very tricky, so it will be great if you can add screenshot of driver properties in different version (where description works and where it is not)
Are you sure you changed the `metadata source` property to 0? In this ticket #4568 the user was having the same issue and changing it worked. Also it is exactly the thing that was changed for AS400 driver

[2021-10-01 07:41] LonwoLonwo commented on #3710
Hello.
We added the ability to change the current user password for SQL Server in previous releases.
https://github.com/dbeaver/dbeaver/wiki/Change-current-user-password

![2021-10-01 10_28_42-Window](https://user-images.githubusercontent.com/45152336/135582216-5dcbed67-2da1-4d77-a18d-aa67265cfcd8.png)

But unfortunately, SQLServer doesn't work like Oracle. Oracle allows you to open a connection i

[2021-10-01 07:51] DariaMarkaryan opened #14085 "CLI commands are not proceeded if no DBeaver instance is running"
#### System information:
- Win 10, DBeaver CE 21.2.2

DBeaver fails to detect running instance if caller's instance product differs from target's instance product.

It results in a weird behavior when DBeaver instead of closing itself because it can't detect running instance continues running itself.

#### Steps to reproduce, if exist:
1. Close all running instances of DBeaver
1. open cmd
1. execu

[2021-10-01 08:01] Matvey16 commented on #13974
This was probably fixed in recent version. You can test it on EA version https://dbeaver.io/files/ea/ or wait for a release on Monday

[2021-10-01 08:14] CaselIT commented on #12284
I have the same problem and the only driver it offers me is 42.2.0

![image](https://user-images.githubusercontent.com/16175304/135587642-c0eb6a3a-92c0-4a25-a60a-6b5af4a1e7ff.png)

I'm on the latest version
![image](https://user-images.githubusercontent.com/16175304/135587695-0062948a-93c7-4ea4-b811-b540ac1c1dc2.png)

[2021-10-01 08:17] CaselIT commented on #12284
Nevermind, the version column is actually the world most user unfriendly drop down..... it gives no clue it's a drop down

It would be nice it was ordered from the newest to oldest, so the newest one is always selected

[2021-10-01 08:32] #14044 closed, assigned to LonwoLonwo

[2021-10-01 08:50] Matvey16 commented on #13335
#541 Can have useful information about column metadata

[2021-10-01 09:21] ShadelessFox opened #14088 "Can't set varchar column of composite type to NULL with disabled "Show complex columns structure""
#### System information:
- Operating system (distribution) and version: **Windows 10**
- DBeaver version: **21.2.3**

#### Connection specification:
- Database name and version: **PostgreSQL 12**

#### Steps to reproduce, if exist:
1. Use DDL from #13349
2. Disable <kbd>Show complex columns structure</kbd> in Data Editor
3. There's no option to set value to NULL (you can empty it)

[2021-10-01 09:30] p0c07o opened #14089 "UTF-16 export to CSV bug"
When exporting a result set to CSV using UTF-16 encoding, the first cell (i.e. A1) of the output document has additional content:

![image](https://user-images.githubusercontent.com/5910496/135598005-f8349dce-1c0d-4706-b84b-65dd38b18dc1.png)

When doing the same export using UTF-8 for example, the A1 cell is always correct. For example:

![image](https://user-images.githubusercontent.com/5910496/1

[2021-10-01 09:44] KES777 opened #14090 "DOCUMENT highlighted as special for postgres. Why?"
![image](https://user-images.githubusercontent.com/799021/135599796-f1be5157-bc4b-4865-b589-efb0bc99ddc5.png)

#### System information:
- Linux Mint v19.3
- 21.0.3

#### Connection specification:
- PostgreSQL v13.3

#### Describe the problem you're observing:
`document` is not special`

#### Steps to reproduce, if exist:
see screenshot above

[2021-10-01 09:49] uslss commented on #14057
verified

[2021-10-01 09:49] #14057 closed, assigned to uslss, LonwoLonwo

[2021-10-01 09:53] Matvey16 opened #14091 "[Exasol] Import from CSV tool doesn't provide an option to choose a file"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.2

#### Connection specification:
- Database name and version Exasol

#### Describe the problem you're observing:
The tool in the context menu of Exasol tables that let's you import data from csv files doesn't have any way to select source file. The only workaround is to write a name of the file in

[2021-10-01 09:58] uslss commented on #14061
fixed in the scope of #14057

[2021-10-01 09:58] #14061 closed, assigned to LonwoLonwo

[2021-10-01 10:05] ShadelessFox commented on #14090
Hello @KES777,

The `document` is a reserved word.

You can prove it by executing following query:
[code]

It will fail. You need to quote it:
[code]

I believe it's also contextual, because you can do following:
[code]

[2021-10-01 10:05] #14090 closed, assigned to nobody

[2021-10-01 10:08] LonwoLonwo commented on #14089
Hello @p0c07o
What DBeaver version do you use?

[2021-10-01 10:08] ShadelessFox commented on #14089
Hello @p0c07o,

Perhaps you have `Insert BOM` option enabled?

Also please note that encodings like `UTF-16LE` and `UTF-16BE` (instead of `UTF-16`) may cause such results.

![image](https://user-images.githubusercontent.com/35821147/135603007-f2278c76-ea33-463a-8f54-d1524655290b.png)

[2021-10-01 10:31] Philippe-M opened #14092 "Git extension error"
#### System information:
- Fedora 33 64bits
- DBeaver version : 21.2.1202109181446
- Additional extensions : Dbeaver git support

#### Describe the problem you're observing:
When I click on a view linked to git (git staging for example) I have this error:

[code]

[code]

[2021-10-01 10:32] ShadelessFox commented on #13887
Please don't use currently focused folder when creating new tasks and instead use event source.

https://user-images.githubusercontent.com/35821147/135605933-2b49b291-0b8d-43ad-9e06-3bfa0f02b2f8.mp4

[2021-10-01 10:38] uslss commented on #12771
verified

[2021-10-01 11:28] Matvey16 commented on #14048
Verified

[2021-10-01 11:28] #14048 closed, assigned to serge-rider

[2021-10-01 11:34] AndrewGabelliTR opened #14095 "Handling functions in Oracle WITH clause"
If Execute SQL Statement is run with the cursor at an arbitrary point in the following statement either of the errors ORA-00904 or ORA-00905 is returned.

[code]

Workaround: In order for DBeaver to successfully execute this query using Execute SQL Statement, the whole thing has to be selected in advance.

[2021-10-01 11:35] #14095 closed, assigned to nobody

[2021-10-01 11:36] bobf32 opened #14096 "Functions defined in Oracle WITH clause"
If Execute SQL Statement is run with the cursor at an arbitrary point in the following statement either of the errors ORA-00904 or ORA-00905 is returned.

[code]

Workaround: In order for DBeaver to successfully execute this query using Execute SQL Statement, the whole thing has to be selected in advance.

[2021-10-01 11:59] Matvey16 commented on #13755
New bugs for tables with NULLs, newlines and delimiters are lost during an export
![Qo6GWJgfGr](https://user-images.githubusercontent.com/82543000/135616325-8c08b680-9794-4130-ad12-34c09ee92138.gif)

[2021-10-01 12:15] uslss commented on #14022
verified.

[2021-10-01 12:15] #14022 closed, assigned to uslss, LonwoLonwo

[2021-10-01 12:27] LonwoLonwo commented on #13740
Updated.

[2021-10-01 12:27] #13740 closed, assigned to LonwoLonwo

[2021-10-01 12:41] ingcrengifo commented on #12441
@akilovich any possible date?

[2021-10-01 13:40] flambchap commented on #12441
@INGCRENGIFO Next Monday.

[2021-10-01 13:46] KES777 opened #14098 "Problem occured, internal error"
![image](https://user-images.githubusercontent.com/799021/135630417-d823621b-6f07-42be-a3b0-1b99c1d0a6ef.png)

![image](https://user-images.githubusercontent.com/799021/135630472-ff320828-aa9c-48e4-a1b1-953ca9256c3e.png)

My query just return 50000 lines.

PS. Which `.log` file I should look into?

#### System information:
- Linux Mint 19.3
- 21.0.3
- Additional extensions

#### Connection specifi

[2021-10-01 13:49] Matvey16 opened #14099 "[Data Export] Highlight the file after data export if an option to open explorer was enabled"
Data export has an option to open output directory in explorer after export. A useful feature would be to also highlight the file that was created during the export (or the first of the batch if multiple files were created)

[2021-10-01 13:54] Matvey16 opened #14100 "Query manager shows wrong info during data compare"
#### System information:
- DBeaver version 21.2.2

#### Describe the problem you're observing:
When data compare is performed, query manager shows that the query type is `SQL / User` but it has to be `SQL / Util`

![dbeaver_FvtlmT5OXZ](https://user-images.githubusercontent.com/82543000/135631831-87d6a332-c0cb-4c5a-98c5-4d173442b994.png)

[2021-10-01 13:58] Matvey16 opened #14101 "Add hyperlinks for scripts in SQL Editor"
We need to add hyperlinks for scripts if their name is written in SQL Editor for example in `@include Script_name.sql` similar to the ones that we use for database objects.

[2021-10-01 14:20] KES777 opened #14102 "Apply filter criteria is not visible"
![image](https://user-images.githubusercontent.com/799021/135635408-39e18fab-af3e-4393-941f-cdbff982b116.png)

#### System information:
- Linux Mint 19.3
- 21.0.3
- Additional extensions

#### Connection specification:
- PostgreSQL 13.3

[2021-10-01 14:38] #14056 closed, assigned to nobody

[2021-10-01 14:44] ShadelessFox commented on #10671
We've fixed only escaping behavior.

Edge quotes still escape invalidly because it's hard to determine whether they're part of the identifier itself or just unnecessary quotes.

[2021-10-01 14:45] ShadelessFox commented on #13772
1. Tree expansion limit was reduced to just first children
2. Button <kbd>Show connected databases</kbd> was removed for non-database containers

[2021-10-01 15:31] PedroReus opened #14104 "Conexión a Power BI"
Hello, good afternoon, first of all, an excellent platform initiative in sql language which has facilitated and optimized the way I work saving labor hours.

My requests are:

DBeaver program can connect to power bi to import or export information to be able to make reports to managers or business owners.
Another request that I find that the program can improve is that when extracting information

[2021-10-01 16:14] serge-rider opened #14105 "Security alerts in SAX parser"
Fix CWE-78  CWE-88

[2021-10-01 17:53] ConstantinoSchillebeeckx commented on #13963
[Here's a gif](https://drive.google.com/file/d/1jBxrmcomojwMEU0eterVu4WuOcKAKWRZ/view?usp=sharing) of the behavior showing both `Background tasks` and the `Query manage`

[2021-10-01 21:23] ShadelessFox commented on #14104
Hello @PedroReus,

Please translate your ticket into English.

[2021-10-01 21:51] PedroReus commented on #14104
Hello, good afternoon, first of all, an excellent platform initiative in sql language which has facilitated and optimized the way I work saving labor hours.

My requests are:

DBeaver program can connect to power bi to import or export information to be able to make reports to managers or business owners.
Another request that I find that the program can improve is that when extracting information

[2021-10-02 00:40] canercanbaz opened #14107 "MySQL: if two tables in different databases have the same foreign key, FK list becomes incorrect"
#### System information:
- macOS Big Sur 11.4
- DBeaver version: Community Edition 21.2.1
- MySQL version: 8.0.25 for macos11 on x86_64 (MySQL Community Server - GPL)

#### Describe the problem you're observing:
When you have a foreign key in a table with a same name in 2 databases, foreign key constraints list shows incorrect one.
Imagine that you have 2 databases named "x" and "y" accordingly, a

[2021-10-02 08:00] NerdishShah opened #14108 "Move 'Create Sample Database' action to more appropriate place"
On end of DBeaver installation, the prompt displayed to create a sample database. If the prompt is declined, there is no option to create a sample database within the tool.

![image](https://user-images.githubusercontent.com/31189986/135708536-a232d70c-3c5d-4441-984a-1b9fb4c3e801.png)

It could have an option to create a sample database either in new database connection menu/wizard or under help m

[2021-10-02 10:07] flambchap commented on #14108
Hello @NerdishShah. To restore the _Sample Database_, click _Help_  --> _Create Sample Database_. Could you please describe what kind of information you want to see in the documentation?

[2021-10-02 13:44] JamesInform opened #14111 "Simple PostgreSQL composite type breaks DBeaver SQL Edtior"
Error occurs at least in
DBeaver 21.2.0 and 21.2.1 on Mac
PostgreSQL 13 and 14

When I run the following command one by one

[code]

I get the following error:
`SQL Error [42601]: ERROR: syntax error at or near "into"`

It seems as if the SQL Editor is broken.
A simple
`select 1;`
is sufficient to make everything work again.

So it seems that querying and displaying PostgreSQL's composite type fie

[2021-10-02 16:44] LonwoLonwo commented on #8728
Fixed for Vertica and for Oracle.

![2021-09-30 11_11_58-DBeaver Ultimate 21 2 2 - _Partner11DB_Script-66](https://user-images.githubusercontent.com/45152336/135725297-e3cd3551-3643-4e79-8091-ad2849d61031.png)

![2021-09-30 11_12_44-](https://user-images.githubusercontent.com/45152336/135725299-5cc09b25-6438-4cff-8e0d-66d79b479eee.png)
e.

[2021-10-02 17:31] LonwoLonwo commented on #14111
Thanks for the bug report!

[2021-10-02 17:32] LonwoLonwo commented on #14111
As small workaround for now - last insert can be executed as script.

![2021-10-02 20_31_24-DBeaver Ultimate 21 2 2 - _postgres 13 3_Script-68](https://user-images.githubusercontent.com/45152336/135726660-57ae7840-dfa3-42d6-8426-9532a88c7dae.png)

[2021-10-02 17:35] LonwoLonwo commented on #14111
The problem is in the query.

![2021-10-02 20_34_09-Event](https://user-images.githubusercontent.com/45152336/135726696-c1cee36e-648e-4e2a-aa34-b8a94418f6fd.png)

Filters added for table with nested constraints.

[2021-10-02 17:43] LonwoLonwo commented on #14104
Hello @PedroReus

DBeaver can export tables to XLSX format with Office extension: https://github.com/dbeaver/dbeaver/wiki/Optional-extensions#office-integration

[2021-10-02 18:08] PedroReus commented on #14104
Thanks for the prompt reply and help.
The office extension installed without problems.

Now my other point is if the installation of the office extension works to connect tables to power bi and if so, how does it work?

[2021-10-03 06:08] beckrion commented on #13965
@Matvey16 Sorry for the late response, I will add more screenshots when I back to my office!

Thanks

[2021-10-03 08:03] JamesInform opened #14113 "PostgreSQL composite types - NULL arrays are displayed in a wrong way"
Error occurs at least in
DBeaver 21.2.0 / 21.2.1
PostgreSQL 13/14

If you run the following sql commands line by line

[code]

you will see that the first select statement retrieves and displays the composite columns correctly as NULLs, while the second select incorrectly displays empty values for text, array and numrange.

Note that composite field `e` is displayed as "NULL" and not as "[NULL]" i

[2021-10-03 10:30] ShadelessFox commented on #14113
Hello @JamesInform,

I believe that the first described problem was already fixed in #13349.

Can you try against an [early access](https://dbeaver.io/files/ea) version?

[2021-10-03 10:58] JamesInform commented on #14113
I tested in early access.
The Null handling of arrays is still not correct.

![image](https://user-images.githubusercontent.com/38714600/135750637-a21b6ae2-13d8-4165-9571-e833857d54a4.png)

[2021-10-03 11:06] JamesInform opened #14114 "SQL Editor Broken in DBeaver 21.2.1 and 21.2.2 (early access)"
This error was introduced in DBeaver 21.2.1.
I am using DBeaver on Mac Catalina

To reproduce simply
1. Open a new empty sql editor on a PostgreSQL database
2. Enter these lines like below with a line feed also after the 3rd line
[code]
3. Position the cursor at the end of the first line (don't use the mouse, just use the keyboard)
4. Hit "enter" key => A new line is inserted but the line after is

[2021-10-03 11:18] ShadelessFox commented on #14113
Yes, that's the second problem. Thank you for reply!

I will edit body of this issue to contain the only remaining problem.

[2021-10-03 11:23] ShadelessFox commented on #14114
Hello @JamesInform,

Thanks for reaching out.

Actually, the same issue was already described in #13966, so I'll have to close this ticket as a duplicate.

[2021-10-03 11:23] #14114 closed, assigned to nobody

[2021-10-03 11:28] allanlaal commented on #12389
I meant dumping the entire db: Connection X → Databases → Database Y: right click → Tools → Dump Database

[2021-10-03 11:37] ShadelessFox commented on #12389
Whoops. Thanks for clarification.

[2021-10-03 11:44] JamesInform commented on #14113
I checked with more field types and there are more types affected from wrong NULL handling:

[code]

I have done this test on PostgreSQL 14 because it introduces a new MultiRange type.

See screenshot:

![image](https://user-images.githubusercontent.com/38714600/135752103-ed2ff8d3-824e-4b9e-8d9c-4ba58c65027e.png)

The next screenshots are from the early access version:
![image](https://user-images

[2021-10-03 12:00] JamesInform commented on #14114
Thanks.

To clarify: This issue still exists in current early access.

[2021-10-03 21:14] CheyenneForbes commented on #14008
Any idea when it would be added?

[2021-10-03 23:21] p91paul commented on #14104
What do you mean by connect to power bi? Power BI is not a database. It's either Power BI desktop, which is a database (and other datasources) client, who could even be seen as a DBeaver alternative with a radically different approach to database querying, or Power BI server, which is more or less an archive for reports produced with the desktop application.

[2021-10-04 02:10] NerdishShah commented on #14108
@akilovich Please confirm or point in the documentation where the this information is present. Had it been there, this conversations would have not arisen.

I don't see any such option under help for the version **7.2.2.202010041557**

![image](https://user-images.githubusercontent.com/31189986/135783313-d214a616-7929-4e69-8db2-7fd607d58e6c.png)

![image](https://user-images.githubusercontent.com/

[2021-10-04 06:00] Matvey16 commented on #14008
@CheyenneForbes Currently scheduled for 21.3.3 release

[2021-10-04 06:07] flambchap commented on #14108
This feature was added in 7.2.4

[2021-10-04 06:26] #14105 closed, assigned to serge-rider

[2021-10-04 07:15] uslss commented on #14102
seems the issue is fixed already.
Could you check if it is reproducible for you against 21.2.2?

[2021-10-04 07:28] uslss commented on #14107
@canercanbaz unfortunately, cannot reproduce the issue.
Could you provide ddl to reproduce it?

[2021-10-04 07:39] uslss commented on #14015
@kylephillips1987 did you try to create the connection using [New Database Connection Wizard](https://github.com/dbeaver/dbeaver/wiki/Create-Connection) or any other way? Could you provide steps to reproduce an issue?
it is possible to connect to Athena for me in CE.
![image](https://user-images.githubusercontent.com/31996417/135811854-1d0a005e-a6d3-4e4a-bc2b-e826e170ec57.png)

[2021-10-04 07:41] uslss commented on #8600
there is no update for a long time.
If it is still actual - feel free to reopen the issue.

[2021-10-04 07:41] #8600 closed

[2021-10-04 07:41] uslss commented on #10227
there is no update for a long time.
If it is still actual - feel free to reopen the issue.

[2021-10-04 07:41] #10227 closed

[2021-10-04 07:42] uslss commented on #9192
there is no update for a long time.
If it is still actual - feel free to reopen the issue.

[2021-10-04 07:42] #9192 closed

[2021-10-04 07:42] uslss commented on #12219
there is no update for a long time.
If it is still actual - feel free to reopen the issue.

[2021-10-04 07:43] #12219 closed, assigned to nobody

[2021-10-04 07:43] uslss commented on #11710
there is no update for a long time.
If it is still actual - feel free to reopen the issue.

[2021-10-04 07:43] #11710 closed, assigned to nobody

[2021-10-04 07:44] #8234 closed

[2021-10-04 07:44] #13608 closed, assigned to nobody

[2021-10-04 07:45] uslss commented on #13608
there is no update for a long time.
If it is still actual - feel free to reopen the issue.

[2021-10-04 07:45] uslss commented on #13120
there is no update for a long time.
If it is still actual - feel free to reopen the issue.

[2021-10-04 07:45] #13120 closed, assigned to nobody

[2021-10-04 07:47] uslss commented on #13773
there is no update for a long time.
If it is still actual - feel free to reopen the issue.

[2021-10-04 07:47] #13773 closed, assigned to nobody

[2021-10-04 07:47] #13790 closed, assigned to nobody

[2021-10-04 07:48] uslss commented on #13698
there is no update for a long time.
If it is still actual - feel free to reopen the issue.

[2021-10-04 07:48] #13698 closed, assigned to nobody

[2021-10-04 07:48] uslss commented on #12737
there is no update for a long time.
If it is still actual - feel free to reopen the issue.

[2021-10-04 07:48] #12737 closed, assigned to nobody

[2021-10-04 07:50] #14006 closed, assigned to nobody

[2021-10-04 07:50] JulianDietzel commented on #10026
This fixed it for me. For everyone as inexperienced with DBeaver as me:
 The dialogue to change this can be found under `Window > Preferences > Connections > Drivers`, then change the path under the section `Drivers location`, labeled `Local folder` to the one with the path with newest version. (In my case the path that worked was `/home/<user>/snap/dbeaver/current/.local/share/DBeaverData/drivers

[2021-10-04 07:51] uslss commented on #13967
Yes, this option also removes Materialized views from ERD

[2021-10-04 07:51] #13967 closed, assigned to nobody

[2021-10-04 07:52] #13872 closed, assigned to nobody

[2021-10-04 07:53] Matvey16 commented on #13755
Verified

[2021-10-04 07:53] #13755 closed, assigned to ShadelessFox, Matvey16

[2021-10-04 07:55] uslss commented on #13792
cannot reproduce it. Are you using proxy?
![image](https://user-images.githubusercontent.com/31996417/135813927-571d5cb6-7f8c-4213-8df1-fdb5915502eb.png)

[2021-10-04 07:55] #13656 closed, assigned to nobody

[2021-10-04 08:04] kseniiaguzeeva opened #14121 "Auto-complete offers columns from default schema in when table name is written before column name"
#### System information:
- Operating system (distribution) and version Win 10
- DBeaver version 21.2.0

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:
Write in SQL Editor for default schema (pagila.public) `select t_history. from logging.t_history th` and try to use auto-complete after `t_history.`
or
`select * from logging.t_history th wh

[2021-10-04 08:14] idati commented on #9581
is this function now available? Thx

[2021-10-04 08:27] uslss commented on #14062
it wasn't implemented yet.
Thanks for the suggestion

[2021-10-04 08:46] canercanbaz commented on #14107
Of course, here are the dumps for the sample databases.
- lessondb
- lessondb_test

You will see foreign key as "CASCADE" although one of them is "RESTRICT".

[code]

---

[code]

[2021-10-04 08:56] uslss commented on #14107
thank for the answer.
Unfortunately, still cannot reproduce :(
![image](https://user-images.githubusercontent.com/31996417/135822161-620b133e-5d81-4a94-b5e1-6c70ec7f0e7c.png)

[2021-10-04 09:14] canercanbaz commented on #14107
Oh really? Tried from scratch and updated the client to version 21.2.2 but still exists on my end.
I create the database with a collation **utf8mb4_general_ci**. I don't know if it is related or not.

![image](https://user-images.githubusercontent.com/34982311/135824936-8dcc480a-8eb3-4206-b042-1550346389b1.png)

[2021-10-04 09:23] fvannee commented on #14111
I'm running into the same issue. Please let me know when this fix will be in some EA version - I can test it.

[2021-10-04 09:27] pvidalis opened #14122 "unable to locate its companion shared library"
- Kubuntu 21.04
- 21.2.2

After upgrading to new version 21.2.2, I can not start the application from menu or from bash.

The error message says:
**_The Dbeaver executable launcher was unable to locate its companion shared library._**

Unfortunately, I can not find any log related to this problem.

[2021-10-04 09:29] drajapaksh commented on #4526
This happens in linux too. I think something wrong with the dbeaver application. Anyways above steps fixed the issue.

[2021-10-04 10:05] Matvey16 commented on #10955
Verified

[2021-10-04 10:05] #10955 closed, assigned to LonwoLonwo, Matvey16

[2021-10-04 10:14] Matvey16 commented on #13772
Verified

[2021-10-04 10:14] #13772 closed, assigned to ShadelessFox, Matvey16

[2021-10-04 10:27] alessandrodolci commented on #14122
I can confirm, the same is happening to me on Ubuntu 20.04, using `serge-rider` PPA.

[2021-10-04 10:32] Matvey16 commented on #14122
@pvidalis Hello, can you specify how did you upgrade your current version? I tried reproducing it by removing the old an then installing the new version, but it works for me.

[2021-10-04 10:38] LonwoLonwo commented on #14107
Hello @canercanbaz
What driver version do you use?

[2021-10-04 10:57] Matvey16 commented on #14122
Reproduced this on launchpad version. We are working on it. As a temporary workaround you can use deb package from https://dbeaver.io/download/

[2021-10-04 11:03] pvidalis commented on #14122
Using serge-rider PPA. Sory for the delay

[2021-10-04 11:31] canercanbaz commented on #14107
Hey @LonwoLonwo, here is my driver info:

![image](https://user-images.githubusercontent.com/34982311/135844177-9b8db0e7-8e57-4a45-9e32-e7f8567e1d7e.png)

[2021-10-04 11:42] tati-kru commented on #13937
Duplicate of  #11304

[2021-10-04 11:42] #13937 closed, assigned to nobody

[2021-10-04 11:56] tati-kru commented on #13927
Not a bug. Thius is how this symbol looks in this font.

[2021-10-04 11:56] #13927 closed, assigned to nobody

[2021-10-04 12:42] LonwoLonwo commented on #14107
Ok... So it is a very strange story because we use info from the driver and the driver (8.0.25) read foreign keys from the SHOW CREATE TABLE statement.

Can you show us a screen from the query manager?
`-- Load imported keys` - this statement is very interest for me.

[2021-10-04 12:42] LonwoLonwo commented on #14107
![2021-10-04 15_39_13-Window](https://user-images.githubusercontent.com/45152336/135853260-358a2db5-51da-41bb-8d34-a87ca6c05508.png)

[2021-10-04 13:02] srbetasign commented on #14122
Hello, I have the same issue and I'm using serge-rider PPA too to install DBeaver.
I have checked the ini file to be sure the path to the launcher plugin is good and it is.

I have also tried to install it from the DEB file but i'm facing the same issue.
I would suggest to download the zip and extract it as it works for me.

Thank you

[2021-10-04 13:16] PedroReus commented on #14104
What I am asking is if I can connect dbeaver with power bi desktop and then on power bi desktop perform dashboard

[2021-10-04 13:45] tati-kru commented on #12900
I'm not sure that Jedis support Pika. While it looks Pika doesn't support standard Redis commands.

[2021-10-04 13:47] rodrigoguariento opened #14125 "Auto-backup of Database Navigator list"
**Is your feature request related to a problem? Please describe.**
I've frustrated for twice after update my DBeaver when something went wrong and I lost my Database Navigator list. Of course it didn't happen in same month, but its the second time that occurs.

**Describe the solution you'd like**
I suggest an auto-backup of Database Navigator list and a way to recover it when something wrong occu

[2021-10-04 13:53] #14100 closed, assigned to ShadelessFox

[2021-10-04 14:09] Matvey16 commented on #8728
Verified

[2021-10-04 14:09] #8728 closed

[2021-10-04 14:19] serge-rider opened #14126 "Upgrade to Eclipse 2021-09"
Update to the most recent version. It will fix several Eclipse-related bugs and improve dark theme support.

[2021-10-04 14:33] 2nal2 commented on #12441
Thank you!, now appears as an apple process!

[2021-10-04 14:37] serge-rider commented on #14122
Something went wrong during Java packaging. Looking into it.

Workaround (poor): delete folder `/usr/share/dbeaver-ce/jre` - in this case dbeaver will search for Java on local machine.

[2021-10-04 14:52] ShadelessFox commented on #11360
Now we use Bouncy Castle for generating self-signed certificates and loading PKCS1 private keys.

Please make sure mentioned changes do not cause issues on Linux and macOS.

[2021-10-04 14:59] p91paul commented on #13973
Some pointers:
GNOME Developer documentation: https://developer.gnome.org/documentation/tutorials/notifications.html
Java bindings for the GNOME API: http://java-gnome.sourceforge.net/
Notification class: http://java-gnome.sourceforge.net/doc/api/4.1/org/gnome/notify/Notification.html

[2021-10-04 15:05] p91paul commented on #13973
See also https://bugs.eclipse.org/bugs/show_bug.cgi?id=229823, it's marked as fixed but it's quite unclear to me if they actually implemented a notification API that uses native notifications or what.

[2021-10-04 15:06] ShadelessFox commented on #13923
Now it's possible to choose style for each boolean variant:

![image](https://user-images.githubusercontent.com/35821147/135875960-e49c9a61-7739-46ea-b8a2-66a707ec03af.png)

[2021-10-04 15:10] p91paul commented on #14104
So you want to create a Power BI dashboard based on data you see in DBeaver?
You should probably just connect Power BI to the same database DBeaver is connected to.

[2021-10-04 15:13] serge-rider commented on #11360
Test cases: SSL connectivity with PG, MySQL, Cassandra, Redis.
SSH tunnels with private-key authentications.
AWS and GCP connectivity.

[2021-10-04 15:20] dmetzler1988 commented on #12668
Same issue on MacOS 11.6 with the latest DBeaver Community Edition (Version 21.2.2.202110030714).
Removing `TLSv1` and `TLSv1.1` from property `jdk.tls.disabledAlgorithms` in file `/Applications/DBeaver.app/Contents/Eclipse/jre/Contents/Home/conf/security/java.security` helped me to fix my issue.

[2021-10-04 15:20] canercanbaz commented on #14107
Here it is.

![image](https://user-images.githubusercontent.com/34982311/135878355-c1155a21-5811-433d-82a5-2cbc5accbaa6.png)

[2021-10-04 15:22] ramundomario commented on #14122
Unfortunately for me the workaround didn't work (JRE installed on the system)

[2021-10-04 15:26] PedroReus commented on #14104
The base to which dbeaver is connected is sql oracle, which I have seen videos, without positive results.
I thought that dbeaver could, within its logic, perform this action.
Do you know how I can solve this situation if I run it directly from sql oracle to power bi desktop

[2021-10-04 16:03] rajeshisnepali commented on #13739
@Matvey16
It's getting confusing 😀

Yes, I always do that (that's a very handy feature). But can we compare the same table in a different pane (same window)? That's the feature, I really wanted.

![2021-10-04_21-40](https://user-images.githubusercontent.com/23610013/135884006-5e7a013d-3f79-454b-a020-f4800b9461c7.png)

![image](https://user-images.githubusercontent.com/23610013/135884584-329a7017-8

[2021-10-04 16:25] carrerapcl commented on #3286
This feature would be very useful...

[2021-10-04 16:29] TiS commented on #14122
I have investigated the issue.

DEB file is missing all *.so files (maybe more, but they are most important here).

After copying *.so files from dbeaver ZIP to /usr/share/dbeaver-ce (of course, respecting folder structure of so files) it works.

My copy command (invoked from inside of unpacked dbeaver ZIP folder - **WARN** this involves sudo, so use with caution):

[code]

@ramundomario

Workarou

[2021-10-04 17:09] gab444 opened #14128 "Getting this error while installing the latest eclipse plugin"
@serge-rider :getting this error while installing the latest eclipse plugin, is there a way to install previous eclipse versions?
![image](https://user-images.githubusercontent.com/69998999/135355109-21ede41a-44d4-47a1-b086-a5f2f8d221cc.png)

_Originally posted by @gab444 in https://github.com/dbeaver/dbeaver/issues/7358#issuecomment-930578678_

[2021-10-04 17:10] LonwoLonwo commented on #14107
You downloaded the keys for different "lesson" tables in different catalogs or simply downloaded the foreign keys for the  lessondb_test.lessons, and then refreshed the table lessondb_test.lessons?

![135878355-c1155a21-5811-433d-82a5-2cbc5accbaa6](https://user-images.githubusercontent.com/45152336/135893639-608411b2-6c0d-48d2-afa4-3b6480785fbb.png)

[2021-10-04 17:16] webtoolbox opened #14129 "SSH tunneling doesn't work when using Secretive"
#### System information:
- Operating system (distribution) and version: MacOS latest
- DBeaver version: 21.2
- Additional extensions: none

#### Connection specification:
- Database name and version: mysql
- Driver name:
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:
DBeaver doesn't work with Secretive, an app that enables you to store SSH keys

[2021-10-04 17:23] ddtuan99 commented on #10922
Hi @kseniiaguzeeva and @uslss, I can confirm this issue happend on Windows 10, DBeaver Community Edition Version 21.2.2.202110030714 too.

Appearently, the `TYPE` column is just a copy of `Select Type` column in the execution plain tab for MySQL query.

It's not a problem if I can just run `EXPLAIN` query directly while having read-only connection.

Steps to reproduce are: create a MySQL table, wr

[2021-10-04 17:40] canercanbaz commented on #14107
Actually, I deleted both databases and created again. Then, executed the db schema queries I provided above.

[2021-10-04 17:50] gprimosch opened #14130 "Colors messed up on MacOS after"
After the updating to Version 21.2.2.202110030714, the background color changes to black.

![image](https://user-images.githubusercontent.com/2371472/135899234-80ef5970-566f-478a-8b39-475bfeafcfe3.png)

If I enable theming, it gets worse and some text becomes unreadable (white on white or black on black).

I disabled theming, then tweaked the text color so it was more readable, but setting the tex

[2021-10-04 18:15] damiaojr91 opened #14131 "Flatpak version doesn't update on Linux Mint"
#### System information:
- Linux Mint 20.2 Cinnamon
- DBeaver 21.1.4 - Flatpak
- No additional extensions

#### Describe the problem you're observing:
Dbeaver is a very useful tool, but neither me nor my co-workers have problems with its updates to the flatpak version... We were never able to update the flatpak version through the Linux Mint or Debian application manager...

[2021-10-04 18:23] morgan-zylotech commented on #12581
A potential workaround using the GCP Cloud SQL Proxy

1. Right click in the Database Navigator panel. Click Create then select Connection

1. Select the PostgreSQL icon and click the Next button

1. Enter the database, username and password for the database you are working with
![dbeaver_1](https://user-images.githubusercontent.com/70210123/135903026-42bff48c-2494-4102-a9e7-04413dff4ebb.png)

1. A

[2021-10-04 19:49] uslss commented on #14130
thanks for the report.
closed as a duplicate of #13968

[2021-10-04 19:49] #14130 closed, assigned to nobody

[2021-10-04 19:58] uslss commented on #13438
verified

[2021-10-04 19:58] #13438 closed, assigned to uslss, ShadelessFox

[2021-10-04 20:01] uslss commented on #13923
verified

[2021-10-04 20:01] #13923 closed, assigned to uslss, ShadelessFox

[2021-10-04 20:53] p91paul commented on #14104
try following this guide https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-connect-oracle-database

[2021-10-04 21:59] gleimar-botelho opened #14132 "Refresh selected tab of a result set"
Hi,

After I changed from version 21.1.5 to 21.2.2.202110030714 that situation happen:

- When I execute a sql file whith 4 query, then the result grid has four tab

But, If I want do refresh only the tab four, then I click in refresh action of tab four, but he go to select the tab one.

Then, I need do click again in the tab four do look de result of the refresh.

In short: After click refresh in

[2021-10-05 03:13] StephanoGeorge opened #14133 "Lost connections after clearing password and unchecking encrypt configuration and clicking cancel in the dialog box asking for password"
#### System information:
- Operating system (distribution) and version
  Operating System: Arch Linux
  Kernel: Linux 5.14.7-arch1-1
  Architecture: x86-64
- DBeaver version
  Enterprise 21.1.0.202106090921
- Additional extensions
  None

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're obs

[2021-10-05 06:16] LonwoLonwo commented on #14133
Hello @StephanoGeorge
And what database and driver do you use?

[2021-10-05 06:35] ghYura commented on #13923
FYI:
Unfortunately "whitespaces", made by use input, before and after any most margin to the left or right character(s) are eaten and no custom(!) indentation, despite general align-option (I know, this is working, but not whitespaces before-after).

[2021-10-05 06:45] ghYura commented on #13923
Still think that would be nice to have extended **each individual** boolean column has **its own** display-mode sub-adjustments
Details: originated issue https://github.com/dbeaver/dbeaver/issues/11345

[2021-10-05 07:03] LonwoLonwo commented on #14022
Fixed.
Can you please check one more time? @aleksandrs-ledovskis
https://dbeaver.io/

[2021-10-05 07:36] sparrowek opened #14134 "Value panel not showing dictionary values when both identifier and description columns are the same"
#### System information:
- Windows 10 (64 bit)
- Version 21.2.2.202110030714

#### Connection specification:
- SQL Server
- VPN connection

#### Describe the problem you're observing:
Value panel is not showing values despite foreign keys being defined
Dictionary name is being shown, however.

#### Steps to reproduce, if exist:
![image](https://user-images.githubusercontent.com/1598273/135980132-8

[2021-10-05 08:08] flambchap commented on #14108
We need to move _Create Database Option_ to _New Database Connection_ dropdown and to the _Database_ menu. We also need to add info about the _Sample Database_ to the bottom of [this](https://github.com/dbeaver/dbeaver/wiki/Installation) page.

[2021-10-05 08:13] uslss commented on #14134
@sparrowek could you check if there is something in the [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)?
unfortunately, cannot reproduce it

[2021-10-05 08:17] avraam-inside opened #14135 "How to hide unused folder in a DBeaver project?"
Hi!

I want to hide useless folders in the project:
1) Bookmarks
2) ER Diagrams
3) Scripts

![image](https://user-images.githubusercontent.com/52919010/135990373-d429b48d-5d05-4d44-9210-6db3d2a6a614.png)

I have my own good project structure with numbered folders and I really don't like garbage.

How do I hide/delete these folders from my project?

[2021-10-05 08:17] uslss commented on #14132
thanks for the report

[2021-10-05 08:23] uslss commented on #11557
is it still actual?

[2021-10-05 08:45] Matvey16 commented on #10671
Verified

[2021-10-05 08:45] #10671 closed

[2021-10-05 08:48] cprn commented on #14122
I can confirm copying Shared Object files from archive works. Dummy script below - either copy in a file and do `chmod u+x file` then run it or copy each line in terminal (omitting 1st one):
[code]

[2021-10-05 08:59] uslss opened #14137 "App is crashed when trying to open some database from ODBC SQL Server connection"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.3 EA

#### Connection specification:
- Database name and version SQL Server
- Driver name ODBC 64

#### Describe the problem you're observing:
App is crashed when trying to open some database from ODBC SQL Server connection
[hs_err_pid30596.log](https://github.com/dbeaver/dbeaver/files/7284310/hs_er

[2021-10-05 09:06] ShadelessFox commented on #13923
@ghYura please create a separate issue containing all required information about your feature request.

This ticket is closed, so it's hard to track.

[2021-10-05 09:08] sebastianruff commented on #13318
I have the same problem. The eclipse default keybinding ist still there, but doesn't work until I open the shortcut preferences on time. Don't need to apply it again, only open it.

[2021-10-05 09:21] sparrowek commented on #14134
![image](https://user-images.githubusercontent.com/1598273/135996310-2cbdd39f-fcd2-4b5f-af0f-d41ebe116c92.png)

[2021-10-05 09:21] sparrowek commented on #14134
![image](https://user-images.githubusercontent.com/1598273/135996434-8a7e7ed8-5b55-4c85-9204-fec5d01aa38c.png)

[2021-10-05 09:22] sparrowek commented on #14134
![image](https://user-images.githubusercontent.com/1598273/135996610-b25683a5-c967-4de5-bfe3-fb4a446e1926.png)

[2021-10-05 09:24] serge-rider opened #14138 "Configurators i18n"
We still have several metaobjects configurators which use hardcoded strings instead of E i18n.

[2021-10-05 10:36] ghYura opened #14140 "Boolean columns values view. Extended customization for each column individually"
Further feature extesion/development for custom boolean view modes adjustments of FR: https://github.com/dbeaver/dbeaver/issues/11345

Implement possibility extended **for each** boolean column, that would have **its own** display-view-mode sub-adjustments.

In terms of code: each bool-column object has its own sub-object viewing adjustments), that overrides general boolean-view-adjustments.
In su

[2021-10-05 10:49] adrianag-redabogacia commented on #9319
As @Erdnah pointed out, the simplest solution is changing dbeaver.ini (typically on C:\Program Files\DBeaver), add:
`-clean`.
It's annoying that you have to do it every time DBeaver is updated; so I usually don't update unless it brings some improvement I will really make the most of.

[2021-10-05 10:50] judaew opened #14141 "Error after launch on macOS: "The JVM shared library ... does not contain the JNI_CreateJavaVM symbol""
#### System information:
- Operating system (distribution) and version: MacOS BigSur 11.6 x86_64
- DBeaver version: [dbeaver-ce-21.2.2-macosx.cocoa.x86_66](https://github.com/dbeaver/dbeaver/releases/tag/21.2.2)

#### Describe the problem you're observing:

After starting the program, the following error appears:

[code]

<img width="372" alt="Screen Shot 2021-10-05 at 13 40 14" src="https://user-

[2021-10-05 11:01] ghYura commented on #14140
Pay attention, such customized columns individually should have notification marking in its header(?) pretty noticable (that "screams", dynamically(?) visualized, to user: "_don't be confused with values depicture, it is customized, view me for details_") probably, that inform user about their very customized view mode, that user will be awared and have to be different from non-individually custom

[2021-10-05 11:05] uslss opened #14142 "Changes aren't reverted if table was refreshed during its creation"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.2

#### Describe the problem you're observing:
Changes aren't reverted if table was refreshed during its creation.
#### Steps to reproduce, if exist:
1. Start table creation
2. Create some columns in it
3. Click refresh button

**Actual result**
Confirmation dialog appears twice. But after revert co

[2021-10-05 11:30] LonwoLonwo commented on #14134
"Value" and "PeriodParts" tables DDL will be also very helpful.

[2021-10-05 11:34] sparrowek commented on #14134
-- Drop table

-- DROP TABLE CRM.Budget.Value;

CREATE TABLE CRM.Budget.Value (
	Id int IDENTITY(1,1) NOT NULL,
	AveragePrice decimal(18,2) DEFAULT 0.0 NOT NULL,
	Tm2 decimal(18,2) DEFAULT 0.0 NOT NULL,
	PeriodPartId int DEFAULT 0 NOT NULL,
	ValueDataTypeId int DEFAULT 0 NOT NULL,
	CreatedAt datetime2 DEFAULT '1970-01-01T00:00:00.0000000+01:00' NOT NULL,
	CreatedByUserId int DEFAULT 1 NOT NULL,
	M

[2021-10-05 11:47] flambchap commented on #14141
Hello @judaew. Unfortunately, I cannot reproduce the issue. Could you please execute the following commands in the terminal and paste the results here? Thanks.

[code]

[2021-10-05 12:01] uslss opened #14143 "Table and column cannot be created"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.2

#### Connection specification:
- Database name and version Athena

#### Describe the problem you're observing:
Error is thrown when trying to create table or column in existing table
#### Steps to reproduce, if exist:
Table:
1. Create New table and save it
**Actual result**
![image](https://user-

[2021-10-05 12:10] ametad commented on #11613
Hi, I got this exact problem too: Cannot run program "ssh-keygen": error=13, Permission denied

From the error log:

[code]

This is with a fresh installed DBeaver instance from snap on Ubuntu 20.04.3. I was trying to make a connection with SSH tunnel.

[2021-10-05 12:10] uslss commented on #13039
already fixed

[2021-10-05 12:10] #13039 closed, assigned to ShadelessFox

[2021-10-05 12:14] apdma opened #14144 "DB2 trigger Internal driver error"
#### System information:
- Windows 10
- DBeaver version: 21.2.2.202110030714

#### Connection specification:
- DB2/LINUXX8664 11.1.4.6
- IBM DB2 JDBC Universal Driver Architecture 3.53.70
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No.

#### Describe the problem you're observing:
Can't expand "Triggers" on server.
I have a few copies with "same"(i hope) DB and there Triggers open fine.

###

[2021-10-05 12:14] judaew commented on #14141
@akilovich

[code]

[code]

[2021-10-05 12:24] serge-rider commented on #14122
PPA package was fixed and re-uploaded

[2021-10-05 12:31] ShadelessFox commented on #14134
Hello @sparrowek,

Value panel failed to determine column that can be used as description.

Please go to <kbd>Define Description</kbd>, uncheck `Id` column and specify any other meaningful column:

![image](https://user-images.githubusercontent.com/35821147/136022790-2ef72f6c-dfb4-4fd5-ac09-ba062b461baf.png)

[2021-10-05 12:44] sparrowek commented on #14134
It works now :) So it seems the problem arises when you select the column that is referenced from the foreign key.

![image](https://user-images.githubusercontent.com/1598273/136024877-a47c732e-cde5-46d2-9453-abb047dcd47d.png)
Selecting the id column causes an issue.

[2021-10-05 12:46] ramundomario commented on #14122
I confirm that it's fixed :+1:

[2021-10-05 12:48] sparrowek commented on #14134
Why not to present this column anyway? I mean the value and the description column should be the same now. The problem is that probably the constructed SQL generates the ambiguity because it does not use aliases. If so the problem will appear anytime the dictionary table has a column with the same name as the referenced table and such columns is selected by the user.

[2021-10-05 12:49] uslss opened #14146 "Incorrect DDL on view editing"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.2

#### Connection specification:
- Database name and version Athena

#### Describe the problem you're observing:
Incorrect DDL on view editing in  Athena

Generated DDL(incorrect):
[code]
Correct DDL:
[code]

[2021-10-05 12:50] sparrowek commented on #14134
There is another bug probably related:
![image](https://user-images.githubusercontent.com/1598273/136025725-697c0637-ba75-4056-ba23-6c3652b981dc.png)
The value is highlighted in the unrelated row simply because it has the matching description.

[2021-10-05 12:50] TiS commented on #14122
Yes, it works ok.

[2021-10-05 13:00] ShadelessFox commented on #14134
The possible solution would be to use aliases to avoid name conflicts.

[2021-10-05 13:10] wolfgang-a-klein-db opened #14147 "Change font size of db navigator"
Hi all,

I would like to ask whether it's possible to change the font size of db-navigator inside dbeaver (left side).
A lot of places can be changed in settings, but somehow not this part.

A possibility to change this fonts also via settings would be nice or a common possibility to scale the whole ui of dbeaver even better.

On windows 10 I could also scale the whole desktop but I´m working on M

[2021-10-05 15:01] LarryLoveIV commented on #14013
This is happening to me when simply trying to save .sql scripts. The workaround does work, however, pretty inconvenient to have to do that each time you want to save a file.

[2021-10-05 15:18] LonwoLonwo commented on #14144
Hello @apdma

As I can see, when reading triggers, the name of the triggers tables was lost somewhere.

Can you please show me the result of this statement
`SELECT * FROM SYSCAT.TRIGGERS WHERE TRIGSCHEMA = <TRIGGER.SCHEMA.NAME> ORDER BY TRIGNAME WITH UR`

Especially the "TABNAME".

Trigger DLL example can be very helpful also.

[2021-10-05 15:34] flambchap opened #14151 "Unable to GRANT ALL permissions to a role which name should be quoted"
#### System information:
- Operating system (distribution) and version: unknown
- DBeaver version: unknown
- Additional extensions: unknown

#### Connection specification:
- Database name and version: PostgreSQL
- Driver name: unknown
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: unknown

#### Describe the problem you're observing:

We've received a message from our user. He claims that it's

[2021-10-05 15:50] blackbullx16 opened #14152 "duplicate Navigate reference"
#### System information:
-WIN 10 x64
- DBeaver version Ultimate 21.2.0
- Additional extensions

#### Connection specification:
Postgres 13

#### Describe the problem you're observing:
### duplicate Navigate reference !!

![image](https://user-images.githubusercontent.com/77885944/136057454-2057934c-0878-42dd-8119-024d9e596e79.png)

![image](https://user-images.githubusercontent.com/77885944/136057

[2021-10-05 15:55] LonwoLonwo commented on #14152
Hello @blackbullx16

Thanks for the bug report.
Tables DDL will be very helpful.

[2021-10-05 15:57] apdma commented on #14144
Thanks, i get it after read your message.
I check the triggers with this statement
`SELECT * FROM SYSCAT.TRIGGERS WHERE TRIGSCHEMA = <SCHEMA.NAME> AND TABNAME NOT IN (SELECT TABNAME FROM syscat.TABLES WHERE TABSCHEMA =<SCHEMA.NAME>);`
And found 10 triggers what look on deleted tables. I drop triggers and all works.

[2021-10-05 15:57] #14144 closed, assigned to nobody

[2021-10-05 16:01] ShadelessFox commented on #14151
Fixed by #13477

[2021-10-05 16:01] #14151 closed, assigned to nobody

[2021-10-05 16:07] ShadelessFox commented on #14147
Hello @wolfgang-a-klein-db,

Thanks for feature request.

Duplicate of #12975

[2021-10-05 16:07] #14147 closed, assigned to nobody

[2021-10-05 20:07] LonwoLonwo commented on #14111
Fixed in DBeaver 21.2.3

[2021-10-05 20:10] appleoddity commented on #14039
@uslss Is there anything I can do to assist with troubleshooting this issue? While we like DBeaver, we have users who are unable to work with it at this time due to this issue. Is there any further information I can provide?

[2021-10-05 20:45] ghYura commented on #11345
FYI:
Switches example - everyone, feel free to copy-use it for this mode:
[ ✔ ]██
██[ ✘ ]
![boolSwithesText](https://user-images.githubusercontent.com/42974628/136099633-44a29b41-60d0-48bf-96fe-dd21b80bd0ab.jpg)

[2021-10-05 22:33] srikanthprathi commented on #14056
Hi Nikita,

I hope you are doing well.

Could you please use the "mark as valid" button to confirm
the reported vulnerability in the below link, as the vulnerability got
fixed in the package?
https://www.huntr.dev/bounties/a98264fb-1930-4c7c-b774-af24c0175fd4/
https://github.com/dbeaver/dbeaver/commit/4debf8f25184b7283681ed3fb5e9e887d9d4fe22

Thanks & Regards
Srikanth Prathi

On Fri, 1 Oct 2021 at

[2021-10-06 02:19] blackbullx16 commented on #14152
[code]

[2021-10-06 03:36] Ernuken commented on #11613
you can use this solution, it helped me https://github.com/dbeaver/dbeaver/issues/3917#issuecomment-410616717

[2021-10-06 06:09] Matvey16 commented on #11360
Verified

[2021-10-06 06:09] #11360 closed, assigned to ShadelessFox, Matvey16

[2021-10-06 06:10] Matvey16 commented on #14122
Verified

[2021-10-06 06:10] #14122 closed, assigned to serge-rider

[2021-10-06 06:43] LonwoLonwo commented on #14152
Connected issue https://github.com/dbeaver/dbeaver/issues/13481

[2021-10-06 07:27] LonwoLonwo commented on #14152
Can't reproduce for now...
Is your public schema default? And your database with schema public is the default database?

[2021-10-06 08:18] Matvey16 commented on #13951
Verified

[2021-10-06 08:18] #13951 closed, assigned to ShadelessFox, Matvey16

[2021-10-06 08:50] lotnikov commented on #4791
endless DBeaver restart loop after install office plugin
version 21.2.2.202110030714
installed for all users, win10x64
after 2 system restarts, I found this page, thanks to "mk1tools" - I start Dbeaver as administrator, and it worked
then I try to run it again as normal user - and it also works, the plugin also works - I can export data to excel

[2021-10-06 09:24] Matvey16 commented on #14111
Verified

[2021-10-06 09:24] #14111 closed, assigned to LonwoLonwo, Matvey16

[2021-10-06 09:41] Matvey16 commented on #13739
@rajeshisnepali I think we are pretty close to finally understanding each other. So the way I see it, you want to simultaneously look at two windows of the same table and also another table. I attached a gif that shows how it is possible. Please look at it and add what you think can be done to make it more usable and if I was wrong, correct me how it is different from your use case.

![Mk4rkkrblC]

[2021-10-06 09:48] Matvey16 commented on #13963
@ConstantinoSchillebeeckx Do you see the same behavior when opening tables from Database Navigator?

[2021-10-06 09:57] Matvey16 commented on #14128
Hello @gab444 I see that you are installing 21.2.0 and it is not the latest version. Can you clarify how you are installing it and also what version of Eclipse do you use?

[2021-10-06 10:05] blackbullx16 commented on #14152
yes

[2021-10-06 10:53] Matvey16 commented on #14092
@Philippe-M Can you provide more clear steps to reproduce this issue?

[2021-10-06 11:28] Matvey16 commented on #14098
@KES777 By default the .log file should be located at `/home/user_name/.local/share/DBeaverData/workspace6/.metadata`

[2021-10-06 11:31] Matvey16 commented on #14125
@rodrigoguariento Hello. What do you mean when you say you lost your Database Navigator list?

[2021-10-06 11:47] KES777 commented on #14098
It could be more informative to include full path at dialog. Thank you

[2021-10-06 11:51] KES777 commented on #14098
[x.log.txt](https://github.com/dbeaver/dbeaver/files/7293441/x.log.txt)

[2021-10-06 11:52] Matvey16 commented on #14133
@LonwoLonwo It doesn't matter, the problem is that after going by the steps described in the issue, file `data-sources.json` gets deleted so all of the connections to any database disappear completely.

[2021-10-06 12:28] flambchap opened #14154 "Expanding data source navigator node while connection is in progress breaks Trino tree"
#### System information:
- Operating system (distribution) and version: Win 10
- DBeaver version: 21.2.2 UE devel
- Additional extensions: none

#### Connection specification:
- Database name and version: Trino 362
- Driver name Trino JDBC Driver 359
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Steps to reproduce, if exist:
1. Set simple mode for the Trino connection
2. Click the C

[2021-10-06 12:53] tati-kru commented on #14096
Thank you for the report.

[2021-10-06 13:01] tati-kru commented on #14129
Thank you for the idea.

[2021-10-06 13:34] serge-rider opened #14155 "ERD: themization support"
We need to patch GEF 3 library to support modern E4 themization.
Currently palette, tools, sashes, grid and some other diagram elements have hardly readable colors in dark theme.

[2021-10-06 13:35] serge-rider commented on #14155
+ Palette icon is hardcoded

[2021-10-06 13:37] Matvey16 commented on #13821
@sandnima That is a known eclipse bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=551965 , that we can't fix unfortunately. It is connected to fonts installed on your machine and a workaround as described on Eclipse board is to change theme to classic or manually change fonts.

[2021-10-06 13:47] Matvey16 commented on #13966
@sbreakey We updated Eclipse version that is used in DBeaver, so this can potentially be solved. You can try EA version form https://dbeaver.io/files/ea/ or wait for the next release.

[2021-10-06 13:49] Matvey16 commented on #14039
@appleoddity Do you connect as a user that has a permission to view external schemas?

[2021-10-06 13:52] Matvey16 commented on #14064
@kai-morich  Thank you for the report

[2021-10-06 13:54] Matvey16 commented on #14131
@damiaojr91 Hello, can you clarify how are you updating? And what error stops your update?

[2021-10-06 14:10] LonwoLonwo commented on #14152
This problem will be solved in this ticket: https://github.com/dbeaver/dbeaver/issues/13481

[2021-10-06 14:10] #14152 closed, assigned to nobody

[2021-10-06 14:24] ANTGOMEZ commented on #14039
I do, yes.

[2021-10-06 14:35] appleoddity commented on #14039
@Matvey16 Yes. My user account is a member of a DB group that has been granted USAGE on the external schema and SELECT on the tables in the schema.

I tested additionally by:

- Confirming my logged in username with `select current_user;`
- As an admin, assigning the USAGE and SELECT permissions directly to my username `grant usage on schema <external_schema> to "<my_username>";` and `grant select

[2021-10-06 15:19] appleoddity commented on #14039
@Matvey16 I performed further troubleshooting.

I monitored the query log on the redshift cluster to try to see what DBeaver was doing behind the scenes. When I first open DBeaver it connects to the cluster and I see the following queries on the redshift cluster:
![image](https://user-images.githubusercontent.com/29755504/136231172-1a790dab-aebb-4931-96ec-05d13cb6bb2a.png)

After navigating down t

[2021-10-06 15:53] serge-rider commented on #14155
![image](https://user-images.githubusercontent.com/6398845/136239392-acd63239-4bbd-4d74-a9ba-47796acc157b.png)

[2021-10-06 16:03] Messhias commented on #3972
Still having this issue nowadays.

[2021-10-06 17:01] ghost commented on #6908
Hello,

I have to configure Dbeaver to use SSO (Single sign On) login without
password.  I was able to configure pgadmin4 and psql to use SSO but dbeaver
as always asking for a password. Can you assist or provide me with a
document to configure Dbeaver for SSO. We are using the Greenplum database
on RHEL7.
Regards
Sachchida (Sachi) N Ojha

This is a PRIVATE message. This message, and any attachmen

[2021-10-06 19:45] gab444 commented on #14128
@Matvey16
I am using following url to install the plugin in eclipse
https://dbeaver.com/update/ee/latest/

![image](https://user-images.githubusercontent.com/69998999/136272532-fcf8e24b-b26b-4f78-9dda-c0647c5936e2.png)

I am on eclipse version 4.6.3

[2021-10-06 20:42] hivs77 opened #14158 "Postgres child partition tables are not visible"
I have a PostgreSQL 13 database with a partitioned table defined in schema A whose partition tables are in schema B .. in dbeaver the child tables are not visible

[2021-10-07 06:06] Matvey16 commented on #12927
Verified

[2021-10-07 06:06] #12927 closed, assigned to ShadelessFox, Matvey16

[2021-10-07 06:26] #13997 closed, assigned to nobody

[2021-10-07 07:02] tompinnacle opened #14160 "Unable to use existing MySQL connection after update to 21.2.2.202110030714"
#### System information:
- Windows 10
- 21.2.2.202110030714
- None

#### Connection specification:
- MySQL 5.7.18
- Whatever the default is
- None

Since updating this morning I am unable to connect to any MySQL DB, the error is always the same...

Communications link failure
The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received any packets from the se

[2021-10-07 07:03] tompinnacle commented on #14160
The DBs are fine as I am able to connect with TablePlus - I just don't like it!

[2021-10-07 07:09] DariaMarkaryan opened #14161 "metadata editor flickers after activating the toolbar button 'Count the number of lines and other expensive functions'"
#### System information:
- Win10, DBeaver 21.2.2

#### Describe the problem you're observing:
Some widgets in metadata editor are flicker after clicking the toolbar button 'Count the number of lines and other expensive functions'

https://user-images.githubusercontent.com/43252954/136336151-75478b6e-010d-42a9-a656-7019e634ab6b.mp4

[2021-10-07 07:19] LonwoLonwo commented on #13481
Fixed in DBeaver 21.2.3

[2021-10-07 07:22] Matvey16 commented on #14032
@danielbgto Thank you for the report

[2021-10-07 07:36] ShadelessFox commented on #14085
Please ask me for testing details.

[2021-10-07 10:28] Matvey16 commented on #14128
@gab444  Unfortunately, due to recent updates Dbeaver may no longer be compatible with older versions of Eclipse. Have you tried installing it for a more recent versions? If you need to use older Eclipse version, the only solution is to use older Dbeaver version.

[2021-10-07 10:57] shrivsksavit opened #14162 "Network unavailable:"
Getting below error i..e
Network error

Reason:
Network unavailable:
javax.net.ssl.SSLHandshakeException:PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

`Driver class 'org.postgresql.Driver' not found
  Error creating driver 'PostgreSQL' instance.
Most likely required jar files are missing.
You shou

[2021-10-07 11:30] Matvey16 commented on #13481
Verified

[2021-10-07 11:30] #13481 closed, assigned to LonwoLonwo, Matvey16

[2021-10-07 12:44] gab444 commented on #14128
@Matvey16
Thanks for your response.
I am ok with older eclipse version, as I cannot install newer version of the eclipse. is there a way to install older eclipse plugins ?

[2021-10-07 13:30] Matvey16 commented on #14128
@gab444 You can use this URL https://dbeaver.com/files/7.3.0/repository-ee/ in `Work with` field in Eclipse where `7.3.0` is version number and you can change the url with other version. Availible versions can be found here https://dbeaver.com/files/

[2021-10-07 14:26] JeroenNienhuis opened #14163 "copy table name from context menu"
In the database navigator is is possible to right click e.g. a column or table name and select "Copy" to select its name. The same can be done in the table data grid. In would be convenient if the table name can be selected from the context menu from the table tabsheet.
![afbeelding](https://user-images.githubusercontent.com/51078213/136404556-af2d7816-eb1a-4b04-acc6-fd83cf270952.png)

[2021-10-07 14:33] gab444 commented on #14128
@Matvey16 thank you. it worked. I was able to install dbeaver in eclipse.

[2021-10-07 19:09] ConstantinoSchillebeeckx commented on #13963
that's how I'm opening them in the GIF (e.g. "Read data in SQL editor")

[2021-10-07 23:46] axialistatfore2 commented on #13968
I'm having this same issue on macOS Catalina 10.15.7.

I'm expecting to have to scrape and re-install (22.2.0 this time).
I had lots of connections defined and would like to preserve those if possible.

@serge-rider ,
After the total re-install, would restoring these files recover my connection definitions?
~/Library/DBeaverData/workspace6/General/.dbeaver/data-sources.json
~/Library/DBeaverData/w

[2021-10-08 01:19] noorsyamiera92 commented on #13974
I just installed the latest version.
Its working fine now.
Thanks for your help.

On Fri, Oct 1, 2021, 4:02 PM Matvey16 ***@***.***> wrote:

[2021-10-08 05:56] #14128 closed, assigned to nobody

[2021-10-08 06:37] Matvey16 commented on #13963
@ConstantinoSchillebeeckx Sorry, I meant does it take that long to open in data editor too (double-click on the table or selecting a table and pressing F4)

[2021-10-08 06:41] #13974 closed, assigned to nobody

[2021-10-08 07:14] detkliff opened #14165 "No refresh objects tree before manipulation"
DBeaver 21.2.2

CASE:
1. right click on object in left object tree and click on delete. No visible effect, i see object in tree.

only before right click and rwfresh object is realy deleted

[2021-10-08 07:56] Matvey16 opened #14167 "[ERD] White background on diagrams that are saved in dark theme"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.2

#### Describe the problem you're observing:
When diagram is saved as .png picture the background is always white, even when using a dark theme

#### Steps to reproduce, if exist:
1. Change theme to dark
2. Open ERD
3. Save it as a picture
4. Open the picture

**Expected:** The background is the s

[2021-10-08 08:17] yyjdelete opened #14168 "dbeaver 21.2.2 no longer display the modified value after refresh properties of table"
#### System information:
- Operating system (distribution) and version: win10
- DBeaver version: 21.2.2 (***The same thing works well in 21.2.1***)
- Additional extensions

#### Connection specification:(It's not database related, I can also reproduce with other database)
- Database name and version: postgres 13
- Driver name: org.postgresql:postgresql:42.2.23
- Do you use tunnels or proxies (SSH,

[2021-10-08 08:48] serge-rider opened #14169 "Dark theme colors in data viewer"
Current foregroudn colors are too bright. We use getContrastColor which works ok in light theme only.

[2021-10-08 08:49] serge-rider commented on #14169
Fixed

[2021-10-08 08:57] serge-rider commented on #14168
Thanks for the bug report

[2021-10-08 09:52] Matvey16 commented on #13710
https://github.com/dbeaver/dbeaver/wiki/Data-migration#data-load-settings

[2021-10-08 10:28] serge-rider commented on #14165
Thanks for the bug report.

Fixed

[2021-10-08 10:40] Matvey16 commented on #14169
Verified

[2021-10-08 10:40] #14169 closed, assigned to serge-rider, Matvey16

[2021-10-08 11:04] maurerle commented on #6165
I have the same issue connecting to a HDFS on Port 50070 with Apache Spark
using: `jdbc:hive2://server:50070`

A suggestion found here:
https://community.cloudera.com/t5/Support-Questions/Hive-http-transport-mode-problem/m-p/136747/highlight/true#M99396
suggests to add custom transportmode params, but I don't know how to do it in dbeaver

[2021-10-08 11:27] LonwoLonwo commented on #13977
Fixed in DBeaver 21.2.3

[2021-10-08 11:31] LonwoLonwo commented on #13977
Will be available [here](https://dbeaver.io/) on 2021-10-18

[2021-10-08 11:31] Matvey16 commented on #14168
Verified

[2021-10-08 11:31] #14168 closed, assigned to serge-rider, Matvey16

[2021-10-08 11:31] Matvey16 commented on #14155
Verified

[2021-10-08 11:31] #14155 closed, assigned to serge-rider, Matvey16

[2021-10-08 11:48] Matvey16 commented on #14167
Verified

[2021-10-08 11:48] #14167 closed, assigned to ShadelessFox, Matvey16

[2021-10-08 13:46] Matvey16 commented on #14165
Verified

[2021-10-08 13:46] #14165 closed, assigned to serge-rider, Matvey16

[2021-10-08 13:56] judaew commented on #14141
Do you have any ideas for solving this problem?

[2021-10-09 05:50] rajeshisnepali commented on #13739
@Matvey16 yes, that's kind of impressive. But again it's not that what I wanted. For now, this might do the task but if you see, the `Artist` table is not independent. You'll get to see two (split) tables whenever you click that `Artist` table.

It's already done in most of the popular IDEs. I'll show you the screenshot & gif of PhpStorm.
![image](https://user-images.githubusercontent.com/23610013

[2021-10-09 06:45] fjf2002 commented on #14004
(Note to myself: recreate the test on an empty database.)

[2021-10-09 06:50] fjf2002 commented on #14004
I can confirm that the problem does not occur on an empty database postgres-12.7, pgjdbc 42.2.5, dbeaver ce 21.0.0 on mac.
On monday I will test on the machine where the problem initially occurred.

[2021-10-09 11:20] Sargul opened #14174 "Exasol Geometry not displayed with new exasol drivers"
#### System information:
- Operating system (distribution) and version
- Windows 10
- DBeaver version
- 21.2.2
- Additional extensions
- None

#### Connection specification:
- Database name and version
- Exasol 7.0.11
- Driver name
- Exasol JDBC >= 6.2

#### Describe the problem you're observing:
Geometry data cannot be shown

#### Steps to reproduce, if exist:
Create table
`
create or replace tab

[2021-10-09 11:56] fialky opened #14176 "Oracle - missing Procedures and Functions under the Package (PCK)"
#### System information:
- Microsoft Windows Enterprise [Version 10.0.19042.1237]
- DBeaver Community Version 21.2.2.202110030714
- no extensions

#### Connection specification:
- Oracle Database 18c Enterprise Edition
- jdbc-odbc-bridge-jre7-main
- no tunnels or proxies

#### Describe the problem you're observing:
If you look in DBeaver into Procedures and Functions under the Package there is not

[2021-10-09 12:43] ShadelessFox opened #14177 "Boolean values are trimmed and shifted in properties view"
#### System information:
- Operating system (distribution) and version: **Windows 10**
- DBeaver version: **21.2.3**

#### Describe the problem you're observing:
- [ ] Set focus on boolean property, observe that text is shifted while focused:
<kbd><img src="https://user-images.githubusercontent.com/35821147/136658240-ab9e3851-712b-4b2c-be95-2c328164ecc4.gif"></kbd>
- [ ] Change value of textual bo

[2021-10-09 13:01] ShadelessFox commented on #14177
Duplicate of #12566

[2021-10-09 13:01] #14177 closed, assigned to ShadelessFox

[2021-10-09 13:45] serge-rider commented on #11843
Export just ignored columns visibility configuration.
Fixed

[2021-10-09 14:50] rodrigoguariento commented on #14125
For twice, after update DBeaver (first I was installed DBeaver via snap, and second via apt), some error occurred after weekly update. I've needed to uninstall and reinstall DBeaver. When it worked after the reinstallation, my Database Navigator list was lost. What happened I don't know, because the uninstall and reinstall solved the problem. The only thing I remember, in both cases even the short

[2021-10-09 15:00] serge-rider commented on #10387
Fixed.
Now XML and GEOMETRY columns can be transfered from ORacle to PostgreSQL.
Also target DDL generation was fixed and automatic data type mapping was improved.

[2021-10-09 16:32] parandoodudge commented on #8404
Still encountering with my mx master 2. Just like @jaallen described.

[2021-10-09 19:15] serge-rider commented on #12220
![image](https://user-images.githubusercontent.com/6398845/136671274-e8e6f4e8-7cf4-4567-a257-1da1e7c9eb2c.png)

CSV can't have two header lines (according to the CSV standard).
But we can change header format: show labels, description (comment) or both

[2021-10-09 19:17] serge-rider commented on #10035
It looks like we already added this feature in #12889

[2021-10-09 22:42] p91paul commented on #14125
This should only be a problem when using snaps. Unistalling a snap removes configuration files as well. If you consistently use apt, you shall never lose your configuration (unless you manually remove the DBeaver configuration folder under your home directory).

[2021-10-10 05:07] budsz opened #14178 "SQL filter column issue"
Hi,

Need someone else to elaborate about vertical align and font size which one too big (PATH).
I runned on OS `Debian 11.1 (Bullseye)` and `DBeaver` version `21.2.2.202110030714`

For more clearly, I'll attach image
![Screenshot_2021-10-10_11-53-55](https://user-images.githubusercontent.com/4977494/136683010-d0332a83-b60c-4d0a-acc7-593282971ecd.png)

Thank you

[2021-10-10 07:45] serge-rider commented on #12900
Pika (and maybe some other Redis forks) doesn't support CLIENT command.
We made it optional, just disable "Send client name" option on the connections page:

![image](https://user-images.githubusercontent.com/6398845/136687143-9dc9a689-fdf7-4636-a1ae-88f9d6373827.png)

[2021-10-10 08:10] serge-rider commented on #13235
Can't reproduce anymore.
Seems to be fixed in one of previous releases.

[2021-10-10 11:57] serge-rider commented on #14174
Thanks for hte bug report 👍

[2021-10-10 14:21] makingglitches commented on #13900
Yeah install mysql, use the default configuration, install dbeaver, follow the steps above.

[2021-10-10 14:23] rodrigoguariento commented on #14125
Thanks for the tip. My last installation was using apt, and when this issue after upgrade occurred I couldn't get DBeaver to work. After each reinstallation, DBeaver would not start, the same symptoms would occur. Since I was using DBeaver to work at the time, I had to find an alternative, so I uninstalled from apt and installed it again using the snap that worked. Among those steps, I even have t

[2021-10-10 22:17] p91paul commented on #14125
there is a file in DBeaver config folder in your home directory which is called .dbeaver-data-sources.json. That is your backup: you just have to copy that file across installation and you'll be fine. However, when you install snaps, that's not going to help you. snaps have their own home directory which gets deleted when you uninstall them. So they cannot read the same config file the apt version

[2021-10-11 04:40] anonimitoraf opened #14179 "Auto-save result sets to filesystem"
**Is your feature request related to a problem? Please describe.**
I sometimes have to run very long running queries (> 5 minutes) and then accidentally overwrite the results tab by running another query.

**Describe the solution you'd like**
It'd be great if there was an option to automatically save every result set to file. Disk space is cheap, even moreso in contrast to the execution time of lo

[2021-10-11 05:53] Matvey16 commented on #13977
Verified

[2021-10-11 05:53] #13977 closed, assigned to LonwoLonwo, Matvey16

[2021-10-11 06:09] Matvey16 commented on #13235
Verified

[2021-10-11 06:09] #13235 closed, assigned to serge-rider, Matvey16

[2021-10-11 06:37] LonwoLonwo commented on #12972
Hello @arnovanoordt

It seems that this is a well-known problem: https://stackoverflow.com/a/68407184/14220989

Unfortunately, I did not find any options that would help ignore the generated columns in the INSERT: https://mariadb.com/kb/en/mysqldump/#options

So I tried to create a dump with MySQL 8.0 server and it helped (no GENERATED columns in the INSERT statement):

[code]

So, my advice - ple

[2021-10-11 06:37] #12972 closed, assigned to LonwoLonwo

[2021-10-11 07:25] Matvey16 commented on #12566
Verified

[2021-10-11 07:25] #12566 closed, assigned to serge-rider, Matvey16

[2021-10-11 07:27] fjf2002 commented on #14004
I have instantiated a brand new postgres docker container, version 13.4.
Dbeaver ce is Version 21.2.2.202110030714.
pgjdbc is version 42.2.23.

The problem still persists :-(

![Unbenannt](https://user-images.githubusercontent.com/7130250/136749442-0df832f1-4124-4920-b578-266da90768d7.png)

[2021-10-11 08:02] uslss commented on #11843
verified

[2021-10-11 08:02] #11843 closed, assigned to serge-rider, uslss

[2021-10-11 08:05] uslss commented on #10387
verified

[2021-10-11 08:17] JuChenKiller opened #14181 "dbeaver5.15版本连接oracle19c报错ora-01017无效的用户名密码"

[2021-10-11 09:54] mittalyashu commented on #10141
Hi,

I know there are other important issue to fix and work on but any updates on this issue? I wanted to use other paid feature of DBeaver.

[2021-10-11 10:10] LonwoLonwo commented on #14138
These objects localized to English and Russian:
- DB2 create schema dialog
- Exasol Main Connection Page (password, URL, etc.)
- Exasol create Role Dialog
- Mysql create a database dialog
- Oracle create schema dialog
- Oracle sessions - Show background/Show inactive actions with tooltips

[2021-10-11 10:47] Matvey16 commented on #14085
The file with instances is not created on Linux

[2021-10-11 11:21] seveneleven commented on #1492
Where is this feature now?

[2021-10-11 11:52] ShadelessFox commented on #14181
Hello @JuChenKiller,

Please fill issue's body and translate title to English.

[2021-10-11 12:01] Matvey16 commented on #14142
Still reproducible

[2021-10-11 12:07] uslss commented on #12220
verified

[2021-10-11 12:07] #12220 closed, assigned to serge-rider, uslss

[2021-10-11 12:09] uslss commented on #10035
verified

[2021-10-11 12:10] uslss commented on #14174
verified

[2021-10-11 12:10] #14174 closed, assigned to Sargul, uslss

[2021-10-11 12:28] Matvey16 commented on #14178
@budsz Do you have some specific OS settings for text size or display scaling?

[2021-10-11 12:37] uslss commented on #14162
@shrivsksavit
please provide more clear steps to reproduce an issue. video of the issue also will be very helpful

[2021-10-11 12:40] uslss commented on #14160
@tompinnacle is issue reproducible with newly created connections?
could you provide [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)?
unfortunately, cannot reproduce an issue for now

[2021-10-11 12:46] tompinnacle commented on #14160
@uslss

I'm afraid at the moment I have had to revert to an earlier version as I needed it working ASAP.

I installed 21.2.0.202108310918 and that works fine

[2021-10-11 12:50] Matvey16 commented on #14163
@JeroenNienhuis You can copy table name in the properties tab of the table

![image](https://user-images.githubusercontent.com/82543000/136792718-76cad331-5d7d-4939-9acc-d1c5a544725e.png)

[2021-10-11 12:51] uslss commented on #14158
@hivs77
unfortunately, cannot reproduce it. Child table from another schema is visible for me. Could you provide DDL?
What Dbeaver version do you use?
![image](https://user-images.githubusercontent.com/31996417/136792884-4f23e6cf-c3a0-4774-bd0c-bd822428ebbf.png)

[2021-10-11 13:00] Matvey16 commented on #14162
@shrivsksavit Are you getting network error when downloading driver?

[2021-10-11 13:02] uslss commented on #9206
there is no update on issue for a long time. If it is still actual for you - feel free to reopen it

[2021-10-11 13:02] #9206 closed

[2021-10-11 13:02] uslss commented on #11378
there is no update on issue for a long time. If it is still actual for you - feel free to reopen it

[2021-10-11 13:02] #11378 closed, assigned to nobody

[2021-10-11 13:03] uslss commented on #12750
there is no update on issue for a long time. If it is still actual for you - feel free to reopen it

[2021-10-11 13:03] #12750 closed, assigned to nobody

[2021-10-11 13:04] uslss commented on #13825
there is no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info that will help to reproduce an issue

[2021-10-11 13:04] #13825 closed, assigned to nobody

[2021-10-11 13:04] #13840 closed, assigned to nobody

[2021-10-11 13:07] #13931 closed, assigned to nobody

[2021-10-11 13:07] uslss commented on #13946
there is no update on issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-10-11 13:07] #13946 closed, assigned to nobody

[2021-10-11 13:11] #14051 closed, assigned to nobody

[2021-10-11 13:59] Matvey16 commented on #13961
@luisds95 Are you using export from query or first executing the select statement and then exporting from resultset?

[2021-10-11 14:12] lutischan-ferenc opened #14187 "SQL script editor bug when delete"
#### System information:
- Win 10
- 21.2.2.202110030714
- Additional extensions -

#### Connection specification:
- Postgresql 13
- org.postgresql.Driver (42.2.20)

#### Describe the problem you're observing:
1. E.g. "SELECT id, c1, c2, c3 FROM table;" from SQL script window.
2. select a row and mark it for delete.
3. browse over the row limit (e.g. 200)
4. press "save"
5. the row doesn't deleted

[2021-10-11 14:20] ShadelessFox commented on #13926
https://github.com/dbeaver/dbeaver/wiki/Data-View-and-Format#configuring-boolean-presentation

[2021-10-11 14:23] luisds95 commented on #13961
@Matvey16 both approaches generated the same issue

[2021-10-11 18:48] gtdegamo opened #14189 "Add Elapsed Time on the Statistics Tab."
**Is your feature request related to a problem? Please describe.**

When performing a delete / update / plsql.  A statistics tab is produced.  It would be nice to include the time it too to complete command.  I know it's at the bottom of the corner, but I think it sometimes shows the times of the latest query done and not the time associated with the statistics tab?  I don't know.  I get confused

[2021-10-11 18:54] gtdegamo opened #14190 "Add Right Click Open New Connection on Console Tab."
**Is your feature request related to a problem? Please describe.**

Hello.  I have a long list of connections in my connections panel.  And often for a connection, I'll expand out the schema list and tables/procs.  Often times, I need to open a new console with the same connection as the existing console tab  that I am on.  So, what I do now, is go to my connection panel, and scroll down to the th

[2021-10-11 18:59] ShadelessFox commented on #14189
Hello @gtdegamo,

Thanks for feature request.

Looks like it's a duplicate of #5450. I've extended it to also include elapsed/delta time of query.

[2021-10-11 18:59] #14189 closed, assigned to nobody

[2021-10-11 18:59] gtdegamo opened #14192 "Right Click Select Query"
**Is your feature request related to a problem? Please describe.**

I use dbeaver alot for investigative work with queries.  This often means copying queries in my console tab and modifying them.

To copy the query, I have to select it first.  Many of the queries I use are longer than a page.  Scroll / selecting can be a pain at times.

**Describe the solution you'd like**

Currently dbeaver is sm

[2021-10-11 19:14] gtdegamo opened #14193 "Paste as In-List Where."
**Is your feature request related to a problem? Please describe.**

I use dbeaver for investigative work with queries.  Often times, I have to select a several values within one column and use the values for another query.  It's tedious to have to add quotes for strings and commas so that the values can be part of an in-list query.

**Describe the solution you'd like**

After selecting values from

[2021-10-11 19:25] gtdegamo opened #14194 "Paste as Row Condition Where"
**Is your feature request related to a problem? Please describe.**

I use dbeaver for investigative work using queries.  Often times I need to select a few fields from a row in the result set and use the values from the 'sub-row' in part of the where clause for a new query.  Entering that information is time consuming and error prone.  It be nice if dbeaver can do it for me.

**Describe the soluti

[2021-10-11 19:33] gtdegamo opened #14195 "Close Result Tabs to the Right or Left."
**Is your feature request related to a problem? Please describe.**

Often I need to close result tabs that I don't need anymore.  If I have several open, this can be tedious.

**Describe the solution you'd like**
Just as the sql script/console tab has a Close All Tabs to the Right or Left.  It would be nice if the Results tab had the same feature.

**Describe alternatives you've considered**

I cl

[2021-10-11 19:39] elring opened #14196 "Postgresql function list omits "out type" parameters"
#### System information:
OS: Linux Mint 20
DBeaver version: 21.2.2

#### Connection specification:
- Database: Postgresql 12

#### Describe the problem you're observing:
Functions in function list have only _in_ and _inout_ parameters (it omits the _out_ type).
Function list and function detail:
![obrazek](https://user-images.githubusercontent.com/24586123/136846360-7ed8747b-a3f1-4172-9ea3-868a81e

[2021-10-11 19:51] hivs77 commented on #14158
hello

Thank you very much for the answer!

The tables are not seen when accessing the database browser, on the
left side when opening the schema where the child tables are.

El lun, 11 de oct. de 2021 a la(s) 07:51, Dziyana ***@***.***)
escribió:

--
Cordialmente,

Ing. Hellmuth I. Vargas S.
Esp. Telemática y Negocios por Internet
Oracle Database 10g Administrator Certified Associate
EnterpriseDB

[2021-10-11 21:21] duginivijay commented on #13966
Issue still persists with the latest Version 21.2.2.202110030714. Shift + Return works for the workaround but still it is a bug to be fixed and it has been repeatedly happening from past year. Could be a permanent fix for future releases could help us to avoid raising new cards and comments.

[2021-10-11 21:53] ShadelessFox commented on #14196
Hello @elring,

That's feature. We display signature containing only input parameters for procedures in the navigator view.

Maybe we can display it like so: `aaaa_test4(int4, varchar) -> (numeric, varchar)` (let's pretend it has several `out` parameters)

[2021-10-11 21:56] ShadelessFox commented on #14195
Hello @gtdegamo,

Thanks for suggestion!

[2021-10-11 21:59] ShadelessFox commented on #14193
Hello @gtdegamo,

You can use <kbd>Generate SQL</kbd> &rArr; <kbd>SELECT .. WHERE .. IN</kbd> via context menu.

Let me know whether it solves your problem or not.

[2021-10-11 22:02] ShadelessFox commented on #14192
Hello @gtdegamo,

That's a nice feature to have, thanks for suggestion.

We can implement it as an alternative to regular <kbd>Copy</kbd>, along with <kbd>Copy SQL as source code</kbd>.

[2021-10-12 00:17] gtdegamo opened #14199 "Right click, lock results tab."
**Is your feature request related to a problem? Please describe.**

More often than not, I overwrite the results of a results tab b/c I'm too focused on the current query I am trying to make.

It's usually not so bad b/c the query which made the lost result set is in the same console window.  So I can just rerun the query.  But, sometimes I don't have it, and I lose that work.  I don't often save

[2021-10-12 01:17] xgboosted commented on #3810
I am facing the same issue in Azure SQL Server. Any help, please?

![image](https://user-images.githubusercontent.com/1528712/136874296-48355c63-74bc-4fc0-bee0-fe6fb1836858.png)

[2021-10-12 06:49] Matvey16 commented on #13961
@luisds95 Can you give me a DDL for a table in MSSQL into which you are exporting the data?

[2021-10-12 07:00] elring commented on #14196
OK, my mistake then. It makes sense - this way it shows calling parameters.
But sometimes it can be useful to show all params. May be make it configurable? Something like "Out parameters display": None (default)/All in one group/Separated (what you suggest).
(I personally would like another possibility - optionally show parameters name, but that's for another issue ;-) ).

[2021-10-12 07:08] p91paul commented on #14199
there should already be this feature. I can't remember if it's called lock result tab or pin result tab, but it works like you described. Running a new query will automatically open a new tab.
Also, I can add you can use the query manager (view -> windows) to see all the query you've run in the session if you need recovering one.

[2021-10-12 07:09] ShadelessFox commented on #14199
Hello @gtdegamo,

You can "lock" tab by using <kbd>Pin tab</kbd> action accessible via context menu.

Please let me know if this is what you want.

[2021-10-12 08:05] Cyberbob64 opened #14200 "Recover accidently deleted ODBC Driver"
I accidently deleted the odbc driver. Even when i reinstall dbeaver it will not be recovered. It is not shown in the driverlist anymore. How can i recover the ODBC driver?

Thanks in advance

[2021-10-12 08:19] Matvey16 commented on #14190
@gtdegamo You can open another console for the same connection with menu buttons. While current console is in focus click `SQL Editor -> Open SQL Console`

![RlVCwpwpFM](https://user-images.githubusercontent.com/82543000/136918991-8f9c4baa-66db-4e01-b8d8-1429ea7adc62.gif)

[2021-10-12 08:33] Matvey16 commented on #14187
@lutischan-ferenc Thank you for the report

[2021-10-12 08:43] Matvey16 commented on #14187
Happens not only with row deletion, but also if value in any cell was changed. After fetching additional rows, all of the changes are automatically reverted and the script with changes appears empty, so saving it does nothing. Reproducible in data editor.

[2021-10-12 08:49] Matvey16 commented on #14200
@Cyberbob64 Does it appear in driver manager window?
![Dzr6u9hEfW](https://user-images.githubusercontent.com/82543000/136923835-36dc681b-2b16-4ca8-8e52-8cc9f25f8580.png)
![dbeaver_bsdeOc2bJL](https://user-images.githubusercontent.com/82543000/136923844-d66fe1dc-5f3a-4268-a97d-6f715e31f179.png)

[2021-10-12 09:00] ShadelessFox commented on #1802
Implemented. We now recognize suitable drivers using their sample URLs.

https://user-images.githubusercontent.com/35821147/136925573-ee9daa4d-f637-4524-87ed-fa5fc3b32ca9.mp4

Support for parameters (after `?`) is not added yet.

[2021-10-12 09:03] Cyberbob64 commented on #14200
No, it does not appear in the driver manager :(
![grafik](https://user-images.githubusercontent.com/92361539/136926104-bb945a27-5e69-4e1b-8277-9b1199c83e7b.png)
![grafik](https://user-images.githubusercontent.com/92361539/136926202-2b846f03-d627-4245-b193-54369decc018.png)

[2021-10-12 09:24] Matvey16 commented on #14200
@Cyberbob64 Have you tried `un-delete` function?

[2021-10-12 09:55] JamesInform commented on #13966
To me it seems that this issue has nothing to do with key mappings. Basically everything works fine, so that when you hit return a new line is inserted an the coming lines are pushed one line forward. But the upcoming lines are invisible.

The problem seems to be with actual displaying the editor's content.

You can just select all by htting "cmd+a" on Mac and everything is displayed correctly aga

[2021-10-12 10:59] Matvey16 commented on #1802
Verified

[2021-10-12 11:14] serge-rider opened #14202 "Metadata editor: double refresh"
When perform refresh in metadta editor then it refreshed two times: one in navigator and another one in editor itself.
It leads to UI flickering (and long refresh in UI).

[2021-10-12 11:16] Cyberbob64 commented on #14200
OMG ... I wear glasses but did not recognize that function :D
Now it works
thank you

[2021-10-12 11:19] #14200 closed, assigned to nobody

[2021-10-12 11:21] jayampathim commented on #10461
Please check this out.
<img width="1177" alt="Screen Shot 2021-10-13 at 12 17 03 AM" src="https://user-images.githubusercontent.com/3082942/136946580-7b29d3fa-3059-4e9e-ba57-e815da9bdca0.png">

[2021-10-12 11:50] flambchap opened #14204 "'Auto Increment' option for Firebird columns doesn't do anything"
#### System information:
- Operating system (distribution) and version Ubuntu 20.04 on WLSg
- DBeaver version 21.2.2 CE
- Additional extensions

#### Connection specification:
- Database name and version Firebird 2.5 & 3.0
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:
Inability to create auto increment columns from UI, even though

[2021-10-12 11:54] serge-rider commented on #14142
Fixed again

[2021-10-12 12:05] ShadelessFox commented on #11748
Implemented. Now you can use `scriptFilename` variable to access source script's filename (without extension).

[2021-10-12 12:20] ShadelessFox commented on #11213
Implemented. Now parameters defined inside SQL script can be used in data transfer.

Be aware that you can't redefine predefined variables in data transfer.

[2021-10-12 12:26] Cyberbob64 opened #14205 "Can't open connection editor"
![grafik](https://user-images.githubusercontent.com/92361539/136955578-6c86e0e8-3866-4ea6-8fc0-77ccb9577dfc.png)
After Update to newest Beaver i get that message. If i use another tool to access the database via the same connection, it works

[2021-10-12 13:25] #13926 closed, assigned to ShadelessFox

[2021-10-12 13:31] Matvey16 commented on #12900
Verified

[2021-10-12 13:31] #12900 closed, assigned to serge-rider, Matvey16

[2021-10-12 13:37] KES777 opened #14207 "Bind parameter is not remembered"
**Is your feature request related to a problem? Please describe.**
When I run query second time last value is not remembered
![image](https://user-images.githubusercontent.com/799021/136966381-8dc976fd-341a-4153-a8b3-47178ee390b4.png)

**Describe the solution you'd like**
Value should be remembered from first run

**Describe alternatives you've considered**
A clear and concise description of any a

[2021-10-12 13:57] uslss commented on #14207
closed as a duplicate of #12217

[2021-10-12 13:57] #14207 closed, assigned to nobody

[2021-10-12 14:01] DonDeWitt commented on #10393
Eclipse color theme plugin hasn't been updated for 7 years, doesn't work.

[2021-10-12 15:17] gtdegamo commented on #14193
Thanks for your fast response.  By conext menu, do you mean right clicking?  And if so, what to right click?

I've been searching around, and I don't see the option that you are describing.  I am on dbeaver 21.2.2.2021

Thanks.

[2021-10-12 15:28] KES777 commented on #14207
ah, thank you. I try to find but without success

[2021-10-12 15:29] ShadelessFox commented on #14193
Sorry for not providing context.

Basically, you can select several rows, right-click on them, then use <kbd>Generate SQL</kbd> &rArr; <kbd>SELECT .. WHERE .. IN</kbd>:
![image](https://user-images.githubusercontent.com/35821147/136985067-5304c061-3d0f-41d3-9906-cb62a95720a4.png)

[2021-10-12 16:26] flambchap commented on #14074
We've decided that having this kind of message is fine. However, we should log the underlying exception.

[2021-10-12 17:04] glen-weatherhead commented on #14013
Can confirm this happens for me as well. If I save as the default name it keeps the .sql file extension but if I change the name to anything else it sets is without any file extension.

**Steps to Reproduce:**
1) Save File As .sql type (with a name as anything except for default)

**Expected result:** file type is saved as sql type
**Actual result:** file type is set to 'file' type

**Workaround**

[2021-10-12 17:50] gtdegamo commented on #14193
Thanks.  I don't seem to have that option.  I am using a result tab generated from an oracle query.  But, if I do the same action in a result set generated in postgres, I do see the option you specify.

So, I guess I would like the option for oracle.

Also, the generated query doesn't do exactly what I want.  It generates a decent looking query, but it doesn't appear to fill actual values from the

[2021-10-12 18:11] ShadelessFox commented on #14193
This generator was expecting to find unique constraints, looks your query didn't have one. So this is a bug.

Probably we need to make these generators use selected rows and columns.

[2021-10-12 19:28] Sargul commented on #14069
Hi,

I was not able to reproduce the issue.

Steps I tried:
* Open Connection
* Open Schema List (as shown in your screenshot)
* Restart the Exasol Database (to generate error)

However as soon as you open "Schemas" in the connection the cache for the schema selector is refreshed and available and no access to the database is done when opening the dropdown to change schema.

I also tried these ste

[2021-10-12 19:58] hvq-drojas opened #14214 "CSV Import"
I updated dbeaver to the last version but when I try to import data from a csv file (700k records) only import 1445 records. I used another computer with a lower version and a copy of csv file and import all records, so I return to the first computer and uninstalled last update to a previous version and this fixed the problem.

[2021-10-12 20:06] LonwoLonwo commented on #12650
Fixed. Now we do not quote queries and do not generate extra quotes as a result of this.

![136989009-55288fc5-3e72-436d-81bd-63e474081255](https://user-images.githubusercontent.com/45152336/137021908-9adfdba9-a491-4183-8980-23d1a1d598cf.png)

[2021-10-12 20:07] LonwoLonwo commented on #12650
Export from query and export from query result set - two different cases for checking.

[2021-10-12 20:28] LonwoLonwo commented on #14214
Hello @hvq-drojas

What database do you use?
Did you do import to the new table or to the existing one?
Maybe some special settings in CSV import settings? Screens from these pages will be very helpful.

[2021-10-12 20:30] LonwoLonwo commented on #14205
Hello @Cyberbob64
Can you please provide more clear steps to reproduce this issue?
And what driver do you use?

[2021-10-12 20:35] hvq-drojas commented on #14214
Hello @LonwoLonwo

I use Oracle 12c SE.
I imported data to an existing table.
I compared CSV settings on both computers and was the same.
When import is done no show any error , when done only import 1445 records.
One month ago I worked in the same computer before update DBeaver (I updated today) with the same csv file and it worked fine but now after update I cant import all data.

[2021-10-12 21:17] LonwoLonwo commented on #14214
Thanks for the bug report. I can reproduce for SQLite table and import file with 20k columns (only 2,5k was imported).
(Can't reproduce in DBeaver 21.2.0)

[2021-10-13 01:08] budsz commented on #14178
Yes, first I use GTK-3.0 environment setting:
`$ grep 'gtk-font-name' .config/gtk-3.0/settings.ini`
`gtk-font-name = FreeSans 9`

This's not resolving my problem, after that I tried to switch to XFCE but problem still exist.
2 days ago this problem was seen when I ran `apt update` for updating DBeaver, even though before that there was no problem.

[2021-10-13 05:43] #13710 closed, assigned to Matvey16

[2021-10-13 05:47] Matvey16 commented on #14142
Verified

[2021-10-13 05:47] #14142 closed, assigned to serge-rider, Matvey16

[2021-10-13 06:51] Matvey16 commented on #11748
Verified

[2021-10-13 06:51] #11748 closed, assigned to ShadelessFox, Matvey16

[2021-10-13 06:54] moonpole commented on #12668
I am using snap version of dbeaver-ce.

In version 21.2.2.202110030714 which is the latest one the TLS1.0 and TLS1.1 are disabled by default.
But in previous version 21.2.1.202109181446 they are not disabled.

The corresponding config file is /snap/dbeaver-ce/147/usr/share/dbeaver-ce/jre/conf/security/java.security but it is readonly, I cannot modify it.

[2021-10-13 07:15] Matvey16 commented on #14099
Verified

[2021-10-13 07:15] #14099 closed, assigned to ShadelessFox, Matvey16

[2021-10-13 07:56] uslss commented on #14138
verified

[2021-10-13 07:56] #14138 closed, assigned to uslss

[2021-10-13 09:00] Matvey16 commented on #14202
Verified

[2021-10-13 09:00] #14202 closed, assigned to serge-rider, Matvey16

[2021-10-13 09:27] #14126 closed, assigned to serge-rider

[2021-10-13 10:17] Matvey16 commented on #14085
Verified

[2021-10-13 10:17] #14085 closed, assigned to ShadelessFox, Matvey16

[2021-10-13 10:23] Matvey16 commented on #12650
Verified

[2021-10-13 10:23] #12650 closed, assigned to LonwoLonwo, Matvey16

[2021-10-13 10:31] pjfrade opened #14220 "dbeaver not catching Snowflake grant/revoke "Insufficient privilege" error."
#### System information:
- Windows 10 Enterprise, 20H2
- DBeaver Version 21.2.2.202110030714
- Additional extensions

#### Connection specification:
- Database name and version: Snowflake 5.36.1
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
When running the command grant role  or revoke role , when the user executing the command d

[2021-10-13 10:32] allipatev opened #14221 "Could not see Exasol users list while connected via not privileged user"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.2.2.202110030714
- Additional extensions: no

#### Connection specification:
- Database name and version: Exasol 7.0
- Driver name: EXASolution JDBC Driver 7.1.1
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: no

#### Describe the problem you're observing:
When user that is not very privil

[2021-10-13 10:53] Matvey16 commented on #14074
Verified

[2021-10-13 10:53] #14074 closed, assigned to flambchap

[2021-10-13 11:26] nickmccullum commented on #3286
I would LOVE this feature. Can we build it?

[2021-10-13 11:30] Matvey16 commented on #14214
Verified

[2021-10-13 11:30] #14214 closed, assigned to ShadelessFox

[2021-10-13 12:12] ShadelessFox commented on #10830
Hello @markr-metra-autosound-com,

It's a bug of CSV driver.

Workaround: set <kbd>Binaries</kbd> to <kbd>Inline</kbd> and their encoding to <kbd>Binary</kbd>:

![image](https://user-images.githubusercontent.com/35821147/137129985-5c504b80-ee2e-4028-be0d-b9cc9b824c44.png)

[2021-10-13 12:28] Matvey16 commented on #11213
Verified

[2021-10-13 12:28] #11213 closed, assigned to ShadelessFox, Matvey16

[2021-10-13 12:46] ShadelessFox commented on #14140
We'll discuss this feature in the future along with providing customization support for other types as well.

[2021-10-13 12:48] ghYura commented on #14140
Impatiently awaiting...
for the best

[2021-10-13 12:54] ShadelessFox commented on #14163
Hello @JeroenNienhuis,

Thanks for feature request.

We can allow to copy FQN or simple name of entity via context menu of a tab.

[2021-10-13 12:57] buhlerax opened #14225 "Firebird connections cannot create sequences, procedures and triggers through the editor."
Good morning,
I'm in the Dbeaver purchase process and noticed that connecting through Firebird I can only see sequences, procedures and triggers.
Please put the function to create sequences, procedures and triggers in the editor.
Thanks

[2021-10-13 13:02] uslss commented on #2954
will be implemented in #14225

[2021-10-13 13:03] uslss commented on #3354
#14225

[2021-10-13 13:03] uslss commented on #14225
thanks for the suggestion

[2021-10-13 13:05] uslss commented on #3106
#14225

[2021-10-13 13:07] ShadelessFox commented on #14194
Hello @gtdegamo,

Will be fixed along with #14193 since the issue is the same.

[2021-10-13 13:07] #14194 closed, assigned to ShadelessFox

[2021-10-13 13:10] ShadelessFox commented on #10830
Now we inline binaries by default.

[2021-10-13 13:14] tati-kru commented on #14221
Thank you for the report.

[2021-10-13 13:30] kresaux opened #14227 "Import from CSV not getting all rows"
System information:
- Operating system (distribution) and version: Windows 10 Enterprise 21H1
- DBeaver version: 21.2.2

Connection specification:
- Database name and version: Oracle DWH
- Driver name (class): oracle.jdbc.driver.OracleDriver

Describe the problem you're observing:
- When importing CSV to my user schema on tablespace 'USERS', the number of rows imported is smaller than in source CS

[2021-10-13 13:31] uslss commented on #14227
thanks for the report.
Fixed in the scope of #14214.
Fix will be available in 21.2.3

[2021-10-13 13:31] #14227 closed, assigned to nobody

[2021-10-13 13:52] Matvey16 commented on #10830
Verified

[2021-10-13 13:52] #10830 closed, assigned to ShadelessFox, Matvey16

[2021-10-13 14:09] uslss commented on #11106
verified

[2021-10-13 14:09] #11106 closed, assigned to uslss, LonwoLonwo

[2021-10-13 14:16] ShadelessFox commented on #14080
Hello @qrkourier,

Thanks for feature request.

We can provide a way to specify global libraries that will be shared between all drivers.

[2021-10-13 14:45] Miskondukt opened #14228 "Update Error after install for v21.2.2202110030714 from 10/4/21"
Hello, I recently attempted to update to version 21.2.202110030714 and am getting an error upon launch. I've tried updating (original update attempt), re-installing, then uninstalling and re-installing and uninstalling/restarting/installing. All produce an error telling me to view the log.

I have also tried rolling back to the most previous version 21.2.1 and am receiving the same error.

**The l

[2021-10-13 14:59] qrkourier commented on #14080
Yay! Thanks so much.

Context: I'm using a [Ziti JDBC driver](https://github.com/openziti-incubator/zdbc) which depends on [the Ziti SDK](https://github.com/openziti/ziti-sdk-jvm), and there can only be one Ziti SDK loaded in the JVM.

[2021-10-13 15:12] ognivo777 commented on #6216
Would be very useful add some kind of SQL hint to specify pinned columns right from SQL expression, so after make changes on it and re-run, columns still be pinned.

[2021-10-13 15:49] Ankit281096 opened #14229 "Connection to Teradata Refusing ; Error (java.lang.NullPointerException)"
#### System information:
- MACOS Mojave
- DBeaver 21.0.4

#### Connection specification:
- Teradata
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  Yes

#### Describe the problem you're observing:
Not able to connect to Teradata

Error Log :

2021-10-13 21:06:05.836 - Service 'org.jkiss.dbeaver.runtime.ui.UIServiceSecurity' not found
2021-10-13 21:06:05.857 - Event loop exception
java.lang.Nul

[2021-10-13 16:17] simonhaven opened #14230 "Return key deletes subsequent line (CE 2.1.2.22)"
#### System information:
OS: MacOS Big Sur 11.6
DBeaver version: CE 21.2.22
Additional extensions: none

#### Connection specification:
Postgresql 11.9
Using SSH tunnel to AWS instance

#### Describe the problem you're observing:
In SQL Editor pane, hitting the Return key deletes the subsequent line instead of moving it down one
This behaviour didn't exist in CE 21.2.20

#### Steps to reproduce, i

[2021-10-13 16:28] ShadelessFox commented on #14230
Hello @simonhaven,

Thanks for reaching out.

Actually, the same issue was already described in #13966, so I'll have to close this ticket as a duplicate.

[2021-10-13 16:28] #14230 closed, assigned to nobody

[2021-10-13 18:00] Miskondukt commented on #14228
I have also attempted to reset the workspace and that did not help.

[2021-10-13 18:03] #14228 closed, assigned to nobody

[2021-10-13 18:31] jBarconsM opened #14232 "Show incorrect srid in geometry data type"
#### System information:
- DBeaver version 21.2.2

#### Connection specification:
- Database PostgreSQL 11.9 & 12 & 13
- Driver name PostgreSQL

#### Describe the problem:
Show incorrect srid in geometry data type in Table Properties->Columns or Table Properties->DDL

Srid only support unsigned short (0 to 65535), please change to integer (max 2147483647)

#### Steps to reproduce:
[code]

#### Out

[2021-10-13 19:33] ShadelessFox commented on #14232
Hello @jBarconsM,

Thanks for report.

Fun fact: the maximum value of SRID is `999280`.

[2021-10-14 02:05] iateadonut commented on #12695
bug is back in 21.2.2

[2021-10-14 03:19] DCTech2k opened #14237 "CSV import to PostgreSQL in 21.2.2 CE does not import all rows and returns no errors"
#### System information:
- macOS 11.6 (x86_64)
- DBeaver CE 21.2.2

#### Connection specification:
- PostgreSQL 12.7
- JDBC 42.2.5
- No tunnel

#### Describe the problem you're observing:

In CE 21.2.2 when trying to import from CSV in to existing table while mapping to existing columns the import only loads 37406 rows from CSV no matter how many columns are marked to be skipped. I inspected the s

[2021-10-14 03:35] ooobii commented on #10184
Great suggestion - this is the work around I will be using until trackpad horizontal scrolling is (possibly) improved. On Mac, DBeaver always shows scroll bars since the Eclipse UI always shows them. Not sure if I'm just a noob, but I don't remember setting that and I see them so long as scrollable data is there.

@tati-kru : I would like to note that using the horizontal scrollbar mimics the desi

[2021-10-14 06:03] KirtiDipun commented on #12405
Thank you very much. Tested and it looks fine.

[2021-10-14 06:06] LonwoLonwo commented on #12405
Thanks for the feedback @KirtiDipun

[2021-10-14 06:09] LonwoLonwo commented on #14237
Hello @DCTech2k
Thanks for the bug report.
This problem was fixed in the scope of #14214.
Fix will be available in the 21.2.3 release.

[2021-10-14 06:09] #14237 closed, assigned to nobody

[2021-10-14 06:26] LonwoLonwo commented on #11808
That's because

[code]
The varchar type without modifiers in Sybase turn into varchar(1). So we need to set default value for new varchar columns.

[2021-10-14 06:55] uslss commented on #14229
@Ankit281096 could you check if it is reproducible for you against the recent version(21.2.2)?

[2021-10-14 07:05] Ankit281096 commented on #14229
@uslss My organisation doesn't support the latest version. This is the latest version that I can use. Do we have any workaround for it ?

[2021-10-14 07:08] serge-rider commented on #14137
Fixed

[2021-10-14 07:56] Matvey16 opened #14239 "CSV: Wrong filter applied on boolean columns"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.3

#### Connection specification:
- Database name and version CSV

#### Describe the problem you're observing:
When filter is applied by column header or context menu on boolean column, value is not quoted in the query. This leads to an error.

#### Steps to reproduce, if exist:
1. Open a CSV file w

[2021-10-14 08:03] Matvey16 opened #14240 "CSV: Data is read only, but data editor allows editing which will lead to an error"
CSV plugin doesn't allow data editing, but UI still allows it. It would be better to make data editor for CSV plugin read-only to avoid confusing a user.

[2021-10-14 08:50] uslss commented on #14137
verified

[2021-10-14 08:50] #14137 closed, assigned to serge-rider, uslss

[2021-10-14 09:22] meyermaximilian opened #14241 "Can't create table"
#### System information:
- Windows 10 21H1
- DBeaver 21.2.2
- Additional extensions: none

#### Connection specification:
- postgreSQL 10.5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
I downloaded the newest version of DBeaver. Now I can't create new tables with a right click on tables -> Create table.
DBeaver shows me a error message "Can't f

[2021-10-14 09:49] yst001 opened #14242 "I want to add new functions to SQLEditor, and I want to ask SQLEditor how to display the query results"
I want to add new functions to SQLEditor, and I want to ask SQLEditor how to display the query results.
（The main reason is to understand how SQLEditor returns the results of the query to the interface, whether there is an independent interface, or to complete the printing in the Job.）

In addition, I am trying to add new functions to SQLEditor. I am reading the source code of Dbeaver. Is there an

[2021-10-14 10:26] Matvey16 opened #14243 "CSV: Wrong mapping for varchar columns during export to DB"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.3

#### Connection specification:
- Database name and version CSV

#### Describe the problem you're observing:
Export from table opened with the CSV plugin to a database always sets legth of varchar columns to 20.

#### Steps to reproduce, if exist:
1. Open a CSV file with string column that has val

[2021-10-14 12:08] #14241 closed, assigned to nobody

[2021-10-14 12:54] srikanthprathi commented on #14056
@akilovich

Can you please approve the fix provided for the reported vulnerability in the [link](https://www.huntr.dev/bounties/a98264fb-1930-4c7c-b774-af24c0175fd4/)

[2021-10-14 13:11] tabdoelhafiezkhan opened #14248 "The compare / migrate simple structure compare tool does not seem to compare datatypes"
When I compare a table in two databases and for example the structure is the same except for one column being datatype date and the same column in the other database is of datatype timestamp. The compare tool does not see this

Please could you have the compare tool also compare differences in datatypes

Regards,
Tim

[2021-10-14 13:46] flambchap commented on #14056
@srikanthprathi Please check your email.

[2021-10-14 15:44] LucioMenci opened #14251 "sudgest links from indexes"
Hi!

I'd like that during a query editing, there should be a query sudgestion that helps to write joins.
ie:

writing this:
Select Column_list From table_a ta
Left Join table_b tb On

the query editor shoud present a list of foreign indexes that points from table a to table b or points to table b to table a:
[code]

and choosing one of thoose, the autocomplete writes the right links:
[code]

Do yo

[2021-10-14 18:16] #13504 closed, assigned to nobody

[2021-10-14 18:35] pfrozi commented on #12668
Could you try to open the file with "sudo" privileges? This works fine for me.

[2021-10-14 22:50] zhicwu opened #14255 "Improve array support"
**Is your feature request related to a problem? Please describe.**
When `ResultSet.getObject(...)` returns a nested array like `new int[][] {new int[] {1,2,3}, new int[] {1,2}}`(instead of wrapper `java.sql.Array`), DBeaver will report below error. Similar issue happens when you try array of Map/Collection etc.
[code]

**Describe the solution you'd like**
Support nested array and arbitrary types,

[2021-10-15 01:47] moonpole commented on #12668
Not works, it seems snap mounted the "package" as readonly fs.

[code]

The squashfs is a compressed read-only filesystem for Linux. So I can't edit this file.

[2021-10-15 01:56] Constantine9527 opened #14256 "Can't step maven plugin connectors."
![image](https://user-images.githubusercontent.com/20188341/137419713-d0f9ae7d-f54c-436e-b5a7-61c3a0a6fa94.png)

In the refences [https://github.com/dbeaver/dbeaver/wiki/Develop-in-Eclipse](url)  Step 10, It's get errors ,
`No marketplace entries found to handle maven-clean-plugin:2.5:clean in Eclipse.  Please see Help for more information.`

If I ignore these errors, When I run app like :
![image

[2021-10-15 06:35] ly351204778 opened #14257 "Column name is not displayed"
当列名以‘“set_”开头时，字段不显示出来

When the column name starts with 'set_', the field is not displayed

[2021-10-15 06:36] ly351204778 commented on #14257
当列名以‘“set_”开头时，字段不显示出来

When the column name starts with 'set_', the field is not displayed

[2021-10-15 07:12] uslss commented on #14257
@ly351204778 please provide dbeaver version, database you use and steps to reproduce an issue

[2021-10-15 07:17] fanglee101 commented on #2998
**![photo_2021-08-15_00-27-25](https://user-images.githubusercontent.com/92568711/137447375-4a8f25b7-d655-4d82-9499-ed19ea942f23.jpg)**

[2021-10-15 07:39] uslss commented on #14248
@tabdoelhafiezkhan cannot reproduce. What database and dbeaver version do you use?
![image](https://user-images.githubusercontent.com/31996417/137450370-728b5060-ddda-4503-ab27-453d7b2fc8f2.png)

[2021-10-15 07:48] Matvey16 opened #14259 "BLOB changes are not saved when editing hex in separate editor"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.3

#### Connection specification:
- Database name and version DB2 LUW

#### Steps to reproduce, if exist:
1. Open a BLOB value in separate editor
2. Make some changes in binary tab
3. Press <kbd>Ctrl+S</kbd>

**Expected:** New value is shown in data grid and value panel.
**Actual:** Value is unchang

[2021-10-15 08:34] tabdoelhafiezkhan commented on #14248
Hello,

We use dbeaver Version 21.2.2.202110030714
And I compare two tables, one in postgres 11 and another in postgresql 12.
Same column name but different datetypes: *date* and the other *timestamp*

See attached screenrecording of the compare.

These are the table definitions:

:::  psql -e -h 127.0.0.1 -p5436 -U postgres

tim=# \d tab1
              Table "public.tab1"
 Column | Type | Collati

[2021-10-15 08:59] nacesprin commented on #8140
What auto-sync with navigator does exactly?

[2021-10-15 09:26] uslss commented on #14259
[code]

[2021-10-15 09:37] flambchap commented on #12668
`java.security` needs to be updated again for our new version of JRE.

[2021-10-15 10:23] ShadelessFox commented on #14256
Hello @Constantine9527,

What's the Eclipse version?

[2021-10-15 10:27] ShadelessFox commented on #14255
Hello @zhicwu,

I'm confused by the information provided in the <kbd>Additional context</kbd> block.

Is problem with array types present in new version of driver? Please provide up-to-date information.

[2021-10-15 10:53] rodrigoguariento commented on #14125
Thanks. Hope this helps me. Anyway, if I have problems again with the DBeaver update I will try to post the problem before fixing it (reinstalling). Thank you again!

[2021-10-15 10:53] #14125 closed, assigned to nobody

[2021-10-15 11:28] GG668 opened #14261 "Command line cannot be filled with roles"
### Discussed in https://github.com/dbeaver/dbeaver/discussions/14218

<div type='discussions-op-text'>

<sup>Originally posted by **GG668** October 13, 2021</sup>
I want to fill the oracle roles via command line, what should I do</div>

[2021-10-15 11:38] Matvey16 commented on #14039
@appleoddity Can you please verify that you have all query types enabled in query manager?

![dbeaver_70jVC1JeBh](https://user-images.githubusercontent.com/82543000/137480991-a0c3673b-7bf7-4f32-af0e-f7a9f0300598.png)

[2021-10-15 12:13] DariaMarkaryan opened #14262 "[Greenpulm] export to json/source for selected rows from table without keys throws an error"
#### System information:
- Win10
- DBeaver 21.2.3 CE

#### Connection specification:
- Greenplum partner access
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NO

#### Describe the problem you're observing:
Export in JSON/Source Code formats with checked "Selected rows only" and unchecked "Selected columns only" throws UnsupportedOperationException for tables without any keys.
No problem if yo

[2021-10-15 12:15] Matvey16 commented on #14098
@KES777 Does this happen on latest DBeaver version? Also can you give more information about tables used in query and the query itself?

[2021-10-15 12:20] Matvey16 commented on #14178
@budsz Can you try changing font to another and check if it is still aligned incorrectly?

[2021-10-15 12:48] uslss commented on #5081
fixed in 21.2.3

[2021-10-15 12:48] #5081 closed

[2021-10-15 13:28] kseniiaguzeeva opened #14263 "Win10: ERD cannot be saved in external format"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.3 EA (21.2.3.202110141045)

#### Steps to reproduce, if exist:
Open ERD and save it in an external format
**Expected**: the ERD is exported in the selected format
**Actual result**: export fails and the error appears: `No file extension was specified`

https://user-images.githubusercontent.com/51405

[2021-10-15 13:41] kseniiaguzeeva commented on #14263
duplicates #14013

[2021-10-15 13:41] #14263 closed, assigned to nobody

[2021-10-15 13:48] Matvey16 opened #14264 "Vertical buttons incorrectly aligned on 4k with scaling"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.2

#### Steps to reproduce, if exist:
Open data editor on 4k resolution with scaling (e.g. 175% or 200%)

[2021-10-15 13:56] kai-morich opened #14265 "db-metadata search in 'like' mode behaves like 'like'+'startswith' mode"
When doing a 'like' db-metada query, the result contains more data than expected. Looks as if it internally appends a % and so searches not only objects that exactly match the pattern, but also object that start with the given pattern.

doesn't look like a database specific issues, as I could reproduce with different databases (e.g. sqlite, mysql, hana).
I used recent dbeaver 21.2.2

[2021-10-15 13:58] serge-rider commented on #14264
Fixed

[2021-10-15 14:05] Matvey16 opened #14266 "Change "Open output folder" option name"
In Data export wizard we have an option to show exported file in explorer after export finish. It's name is confusing and needs to be changed.

![image](https://user-images.githubusercontent.com/82543000/137500909-13c8af09-b66c-42ea-8e6b-67ee206badb2.png)

[2021-10-15 14:10] KES777 commented on #14098
I do not have database with this data already =(
It would be nice when you output absolute path to `.log` file, so next time I can find it
Thank you

[2021-10-15 14:28] Matvey16 commented on #14264
Verified

[2021-10-15 14:28] #14264 closed, assigned to serge-rider, Matvey16

[2021-10-15 14:59] appleoddity commented on #14039
@Matvey16 Hello. All the options were NOT enabled:

![image](https://user-images.githubusercontent.com/29755504/137508566-eeab9d89-c302-4d10-bcf3-8c299d1ab9e2.png)

I enabled each options, one at a time, and restarted DBeaver to test.

The end result is that all options are now enabled, but DBeaver is still not displaying the spectrum tables properly.

[2021-10-15 15:12] ghYura commented on #14140
It's a pity, that you've closed only 28 in comparison to 303 opened **_planned_** issues and some of them exist since 2016 in opened state :-1:

[2021-10-15 15:25] ShadelessFox commented on #14140
We prioritize tickets by their popularity, criticality, implementation difficulty, and by many other factors. It's impossible to implement every possible feature, unfortunately. There's plenty of cool features we want to implement, but we shall remember that there's a lot more tickets exist with higher priority, mostly bugs.

Talking about my previous comment, providing customization for other typ

[2021-10-15 15:25] LonwoLonwo opened #14268 "[PostgreSQL] Backup page flickers after click on "All" schemas button."
DBeaver 21.2.2

![2021-10-15 18_23_53-Window](https://user-images.githubusercontent.com/45152336/137512732-79043e8d-acde-4c29-8571-f184186ca09b.png)

![d3tTTQgfFn](https://user-images.githubusercontent.com/45152336/137512566-6b7a8732-0abd-4304-9777-1929cc116d4f.gif)

[2021-10-15 15:38] ghYura commented on #14140
Those user wishes are a breakethrough things for DBeaver success as it gives huge comprehensiveness and plenty variety of new possibilities. Should you consider additional HR extension/contribution to the project due to lack of time/human resources to implement them and be No.1 in DBMS tools?
#ExtendToTheBest

[2021-10-15 15:41] ShadelessFox commented on #14140
We are opened for contributions :)

[2021-10-15 15:52] LonwoLonwo commented on #11106
Now default behavior for Excel import is to trim cells with a content of more than 32767 characters. Message about trimmed cells can be founded in DBeaver logs. Implemented in DBeaver 21.2.3

You can create a new ticket as a feature request for this.

[2021-10-15 16:17] LonwoLonwo commented on #10790
Won't fix it for now. We will wait for requests from users.

[2021-10-15 18:59] dkornacki-cutco opened #14269 "IBM i DB2 - "Show column description in header" not working on default *LIBL schema"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro 21H1
- DBeaver version: 21.2.2

#### Connection specification:
- Database name and version: DB2 for IBM i release 7.3
- Driver name: DB2 iSeries/AS 400
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
"Show column description in header" in Data Editor -> Appearan

[2021-10-16 00:51] janiu-001 opened #14270 "How to start the dbeaver with params"
Hi expert,
1. Command line parameters might be passed directly to dbeaver[.exe] executable

How can i pass the params, can you give an example?

2. In Windows you can also use dbeaver-cli.exe executable (it does not spawn a new window so you can see the output messages).
Please also share where i can find the dbeaver-cli.exe , it is better to give a example also

3. Also, you can add parameters in

[2021-10-16 01:00] janiu-001 opened #14271 "how the dbeaver to load the image"
there are two kind of images for dbeaver, xxx.png and xxx@2x.png, in which case dbeaver use xxx.png, and in which case dbeaver use xxx@2x.png

[2021-10-16 01:04] janiu-001 commented on #14271
Here i means the icons,. i find that the icon is different when i connected to different screen

[2021-10-16 05:39] yonisade opened #14272 ""information_schema" doesn't show under "Databases" in navigation tree"
#### System information:
- O/S: Windows 11
- DBeaver version 21.2.2.202110030714
- Java version 1.8.0_301

#### Connection specification:
- DB: MySQL 8.0.26 / 5.7
- Driver name: MySQL / MYSQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Cannot see "information_schema" under "Databases" in navigation tree

[2021-10-16 09:53] personalsoft-fabianobonin opened #14273 "Delete records from tables with primary keys (postgresql)"
Given the table below, when I open it from "Database Navigator", select "Data" page, select a row and delete it, when I click on "Save", DBeaver shows this dialog:

"There is no physical unique key defined.
some more text..."
[Use all columns]   [Custom Unique Key] [Cancel]

As this table have a primary key defined, DBeaver should use it instead of showing this dialog.

[code]

[2021-10-16 13:46] kseniiaguzeeva opened #14274 "Local variable cannot be set after semicolon"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.2.3.202110141045

#### Steps to reproduce, if exist:
1. Write a query with semicolon at the end
2. Write @set variable (e.g. @set var=actor;) and execute it

**Expected**: the query with the variable is executed.
**Actual result**: no visible changes

https://user-images.githubusercontent.com/51405061

[2021-10-17 14:22] istibekesi commented on #6098
@PXNX did you start H2 in server mode? Default port supposed to be 9092 in that case.

[2021-10-17 16:48] serge-rider commented on #6064
Multi-selection feature was implemented in Eclipse platform, planned to be released in 2021-12 version. It will be added in DBeaver a bit later (after we will migrate to 2021-12).
(see details here - https://bugs.eclipse.org/bugs/show_bug.cgi?id=466532)

[2021-10-17 17:39] gaginsgagins opened #14275 "Autocomplete functions with blank brackets or without parameters"
Now Dbeaver autocomplete functions like this schema.myfunc(int4,int4)(:$1,:$2).
It would be nice if the autocomplete looked like schema.myfunc() or schema.myfunc(int4,int4)

[2021-10-17 23:33] judaew commented on #14141
This issue is relevant for 21.2.3. Due to this issue, I cannot to update the [port in MacPorts](https://ports.macports.org/port/dbeaver-community/details/). This is what I get when run from terminal:

[code]

[2021-10-17 23:38] judaew commented on #14141
@akilovich If you try replace `libjli.dylib` from `openjdk11`, then `dbeaver` starts working correctly. It looks like `libjli.dylib` is broken.

[2021-10-18 01:02] Constantine9527 commented on #14256
The version is
Version: 2021-09 (4.21.0)
Build id: 20210910-1417

Thank you for your help.

![image](https://user-images.githubusercontent.com/20188341/137652124-d6908e5c-cb21-48d8-9ea0-f5b10e977e81.png)

[2021-10-18 02:37] offstate opened #14276 "Changing connection navigation settings affects table properties"
When I set "Simple" or "Custom"+Hide folders in "Connection configuration/Common/Navigation view" I found that some table properties (Constraints, Foreign keys and others) disappear too. In my case it is not necessary.
We need one more option for hiding table properties.

[2021-10-18 03:33] DariaMarkaryan opened #14277 "Changing focus from an edited cell erases changes in it"
#### System information:
- Win10
- DBeaver 21.2.3 CE

#### Describe the problem you're observing:

https://user-images.githubusercontent.com/43252954/137665341-d98c8fab-aa4a-4f45-bb90-c9407e7a2274.mp4

[2021-10-18 04:05] DariaMarkaryan opened #14278 "Export with "selected columns only" creates all columns from source table in target table"
#### System information:
- Win10
- DBeaver 21.2.3 CE

#### Connection specification:
- Greenplum (partner access)

#### Steps to reproduce, if exist:
1. Select fewer columns than there are in the table
2. Perform export into table
Expected: only those columns were created that were selected in the source table
Actual: All columns from source table were created and those that weren't selected are f

[2021-10-18 08:01] krilim opened #14280 "Do not remove installed plugins after upgrade"
Hello, I use SSHJ extension and every time I update the app I need to reinstall that plugin.

Is it possible to keep installed plugins after an upgrade so we do not need to reinstall them afterwards ?

Thanks.

[2021-10-18 08:11] LonwoLonwo commented on #13325
Implemented in DBeaver 21.2.4

![137303952-ff8c238f-1416-4b68-984d-6a859b868ba2](https://user-images.githubusercontent.com/45152336/137693178-10ab1d5f-e96c-4cbd-9f08-8377c5f4064d.png)

![137303954-3a9221b5-9755-4069-9fb9-85e86b335bea](https://user-images.githubusercontent.com/45152336/137693182-16644f23-5b7f-4fc0-89a2-f8b263b94cea.png)

![137303957-fbb99926-2488-4b8c-9c18-d396b312e9bd](https://use

[2021-10-18 08:21] LonwoLonwo commented on #14273
Hello @personalsoft-fabianobonin
I can't reproduce it. DBeaver can detect the existence of the primary key in the table.

Please tell me more about the DBeaver version you are using. And PostgreSQL version.
Steps to reproduce will be very helpful also.

[2021-10-18 08:23] LonwoLonwo commented on #14272
Hello @yonisade

Can you please check this setting?

![2021-10-18 11_22_14-Window](https://user-images.githubusercontent.com/45152336/137694907-a63669d5-ee7a-4dd1-8a5d-68a03be9f7a2.png)

Is it enabled?

[2021-10-18 08:30] Matvey16 commented on #14220
@pjfrade Thank you for the report, we will work on that.

[2021-10-18 08:36] #14272 closed, assigned to nobody

[2021-10-18 08:36] Matvey16 commented on #14179
That seems like a needlessly to complicated option. Perhaps we can add an option to always execute queries in new tab, so previous resultset can still be accessible.

[2021-10-18 08:49] LonwoLonwo commented on #11808
Fixed in DBeaver 21.2.4

[2021-10-18 08:50] LonwoLonwo commented on #12241
More Clickhouse functions added in DBeaver 21.2.4

You can see the list here: https://github.com/dbeaver/dbeaver/commit/9d9c7f5e4085312c7d2856d57e82406d4771923b

[2021-10-18 08:53] LonwoLonwo commented on #13403
Won't fix.
No reason to change the export order for SQL export, because the tables are exported to different files, and not in one.

![2021-10-18 11_13_58-Window](https://user-images.githubusercontent.com/45152336/137699656-94e42601-acfd-4099-9638-9f3248aa95c4.png)

[2021-10-18 08:54] #13403 closed, assigned to LonwoLonwo

[2021-10-18 09:09] anonimitoraf commented on #14179
Hi! Yes, that would be great too, if it's much easier to implement.

Question: Is there a hook of some sort, that allows running arbitrary code on a returned result set?

[2021-10-18 09:26] Matvey16 commented on #14039
@appleoddity I meant that you can enable all queries in query manager and check if Dbeaver sends any query to database when you try to open spectrum tables.

[2021-10-18 10:15] tati-kru commented on #13070
Lets trim long tool tips

[2021-10-18 10:17] tati-kru commented on #11992
We shouldn't re-execute DML statements (insert, delete, update)

[2021-10-18 10:21] tati-kru commented on #12883
duplicate of #12238

[2021-10-18 10:21] #12883 closed, assigned to ShadelessFox

[2021-10-18 10:28] personalsoft-fabianobonin commented on #14273
Hi!

DBeaver Community 21.2.3.202110151816
PostgreSQL 12.1, compiled by Visual C++ build 1914, 64-bit
PostgreSQL Driver 42.2.20

I created a new workspace, created a new connection to the same database, repeated the test, and it worked as expected.

I switched to my old workspace, and the problem is still there, so it must be something related to older workspace settings.
I tried to "Reset workspa

[2021-10-18 10:28] #14273 closed, assigned to nobody

[2021-10-18 10:30] piero commented on #13962
I second this issue.
Either setting theme to Light or disabling themes leave the editor with a dark (almost illegible) background.
Also, disabling themes sets DBeaver to have a Dark UI but with data displayed within Light tables.

[2021-10-18 10:33] ShadelessFox commented on #14271
Hello @janiu-001,

The `xxx.png` icons are used for FHD monitors and below.
The `xxx@2x.png` icons are used from HiDPI monitors and above.

In code we explicitly don't specify which version of icon to load, it's determined automatically.

[2021-10-18 10:33] #14271 closed, assigned to nobody

[2021-10-18 10:38] LonwoLonwo commented on #14273
Thanks for the feedback!

[2021-10-18 10:49] rishindramani commented on #14141
Worked like a charm. Thanks for the quick fix!

[2021-10-18 10:51] rishindramani opened #14282 "Just installed dbeaver-community on my mac using Cask."
Just installed dbeaver-community on my mac using Cask.

[code]

Install seemed to go ok, but when I launch the app I get the following error:

![screenshot 2015-12-17 11 05 33](https://cloud.githubusercontent.com/assets/7358/11876222/32238c84-a4ae-11e5-9205-75edb8bb619a.png)

[code]

_Originally posted by @bwiggs in https://github.com/dbeaver/dbeaver/discussions/119_

[2021-10-18 10:52] rishindramani commented on #14282
When we try to replace libjli.dylib from openjdk11.dylib, then issue is resolved. Maybe there's some issue with libjli.dylib.

[2021-10-18 10:52] #14282 closed, assigned to nobody

[2021-10-18 10:53] ShadelessFox commented on #14256
Try following:

Go to <kbd>Window</kbd> &rArr; <kbd>Preference</kbd> &rArr; <kbd>Maven</kbd> &rArr; <kbd>Installation</kbd> and choose your own maven installation folder there.

[2021-10-18 10:54] rishindramani commented on #14141
Replace libjli.dylib with openjdk11. Works like a charm!

[2021-10-18 10:54] ShadelessFox commented on #14280
Hello @krilim,

Please provide information about your OS and installation method you're using (e.g. exe installer, zip archive, etc.)

[2021-10-18 11:16] Matvey16 commented on #12668
Verified

[2021-10-18 11:16] #12668 closed, assigned to serge-rider, Matvey16

[2021-10-18 11:16] 2019-05-10 commented on #12771
Still not fixed.
Just got the notification about the new release, and still the language proposed is not the one used in current DBeaver nor the location, installer still wants to install into AppData\Local instaed of the current location.

[2021-10-18 11:18] krilim commented on #14280
The computer is **Mac Mini i7**, **MacOS 11.6**

The method is download new package from web and replace existing one in Applications.

[2021-10-18 11:36] piero commented on #13968
Same issue on MacOS BigSur 11.5.2.
Either setting theme to Light or disabling themes leave the editor with a dark (almost illegible) background.
Also, disabling themes sets DBeaver to have a Dark UI but with data displayed within Light tables.
Thanks.

[2021-10-18 11:39] Matvey16 commented on #14266
Verified

[2021-10-18 11:39] #14266 closed, assigned to ShadelessFox, Matvey16

[2021-10-18 11:41] ShadelessFox commented on #12771
1. Unfortunately, language of installer and language of dbeaver are still independent.<br>Currently, installer uses **its** last used language.
2. Perhaps you have previously installed both for current user and for all users?

[2021-10-18 11:45] LonwoLonwo commented on #13232
Can't reproduce anymore. May be fixed in scope of https://github.com/dbeaver/dbeaver/issues/11304

[2021-10-18 11:49] ShadelessFox commented on #14280
By replacing application package, you erase everything, including installed plugins.

Probably we should backup previously installed plugins.

[2021-10-18 11:57] Matvey16 commented on #14179
@anonimitoraf right now you can use <kbd>Ctrl + \\</kbd> or <kbd>Ctrl + Alt + Shift + X</kbd> to execute query or script in additional tab.

What do you mean by arbitrary code?

[2021-10-18 12:00] krilim commented on #14280
I do not know any other way 😅

[2021-10-18 12:02] zhicwu commented on #14255
Hi @ShadelessFox, I mean most of nested data types like `Nested`, `Tuple`, `Map`, `Array`, Geo types, and mixed use of them(e.g. `Tuple(Array(Map(String, UInt8)))` etc.) are all supported in the upcoming new version of ClickHouse JDBC driver. However, I met two issues when testing on DBeaver 21.2:
1) when a column's type is `java.sql.Types.Array`, returning an array(primitive or not) from `resultS

[2021-10-18 12:14] Matvey16 commented on #9252
Issue still persists

[2021-10-18 12:28] ShadelessFox commented on #14255
Thanks for both technical and detailed explanation.

We use `getObject` instead of `getArray` because some drivers simply don't like the latter and prefer returning array via `getObject`.

[2021-10-18 12:41] Matvey16 commented on #13325
Verified

[2021-10-18 12:41] #13325 closed, assigned to LonwoLonwo, Matvey16

[2021-10-18 12:49] AdrianoBortoloto opened #14284 "DBeaver doesn't work with the param "-reuseWorkspace""
#### System information:
Windows 10
DBeaver 21.2.3

#### Issue:
DBeaver doesn't work with the param "-reuseWorkspace".
When I removed that parameter, Dbeaver open sucessfully.

There is a fixed issue (https://github.com/dbeaver/dbeaver/issues/12507) about it already reported in 21.0.5 and fixed in 21.1.0.
It seems that the issue has returned.

#### Steps to reproduce:
1. Create a windows shortcut

[2021-10-18 14:08] Matvey16 commented on #11808
Verified

[2021-10-18 14:08] #11808 closed, assigned to LonwoLonwo, Matvey16

[2021-10-18 15:10] Jrmy003 opened #14285 "Database name not proposed by autocompletion"
Hello DBeaver teams,

I got trouble with autocompletion, I juste upgraded from 21.0.1 to 21.2.3.

Before I was able to specify database name prefix with autocompletion, in 3-4 characters :
![image](https://user-images.githubusercontent.com/3603542/137758072-03966dd5-970b-4072-871c-17b0257973ef.png)

Since 21.2.3 I have to write it manually, autocompletion seems to not complete words using database

[2021-10-18 15:14] Jrmy003 opened #14286 "Disable update popup"
Hello,

I have disabled the automatic updates, but dbeaver keep asking for upgrades.

I'm still using the 21.0.1.

![image](https://user-images.githubusercontent.com/3603542/137759034-d8672718-173b-4a64-a6f4-633f94c55857.png)

[2021-10-18 18:11] ShadelessFox commented on #14284
Hello @AdrianoBortoloto,

I cannot reproduce your issue.

Please attach [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files).

[2021-10-18 19:04] mbelang commented on #12218
Still having this issue with dbeaver Version 21.2.2.202110030714 and Ubuntu 20.04.

[2021-10-18 19:21] eluanb commented on #7514
don't migrate 100% to DBeaver for this reason.

We have a ready-made solution for SQL Developer at:
https://github.com/Trivadis/plsql-unwrapper-sqldev

I'm thinking of collaborating on this demand.

[2021-10-18 20:34] nilawafer commented on #14270
`dbeaver -con "name=$NAME|driver=PostgreSQL|host=$HOST|port=$PORT|database=$DATABASE|user=$USER|password=$PASSWORD"`
This works for me in the command line on mac, with $NAME being the name you want your connection to have (anything), $HOST is your host, you can change the driver to be whatever you need, the $PORT is like 5439 [for Redshift] or whatever standard port for your DMS, $USER is your use

[2021-10-19 01:00] yongyaoli opened #14287 "Remote host terminated the handshake"
#### System information:
- WIN10
- 21.2.2.202110030714

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Remote host terminated the handshake

[2021-10-19 03:46] flykarry opened #14288 "influxdb can't add tz('Asia/Shanghai') at the end of the query"
#### System information:
- Operating system (distribution) and version
- win10
- DBeaver version
- 21.2.0.202109061154
- Additional extensions

#### Connection specification:
- Database name and version
- infludb 1.7
- Driver name
- InfluxDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
- no

#### Describe the problem you're observing:
influxdb can't add tz('Asia/Shanghai') at the end of the

[2021-10-19 05:52] LonwoLonwo commented on #13389
NUMBER type returned to Snowflake and NUMERIC type returned to Netezza. It will help with data types mapping.

[2021-10-19 06:18] flykarry commented on #6144
can you share your compiled jar for me?

[2021-10-19 06:18] Hiroki111 opened #14289 "Accessing PostgreSQL on wsl2 from DBeaver on Windows is refused"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.2.3
- Additional extensions

#### Connection specification:
- Database name and version: PostgreSQL 13.4
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
I'm trying to access Postgres from DBeaver.

As the title suggests:

- Postgres

[2021-10-19 06:43] Matvey16 commented on #11304
1. Can't create import task in task creation wizard

![image](https://user-images.githubusercontent.com/82543000/137856261-6a4b4a65-329a-402a-9e18-6509c169353b.png)

2. Exporter settings can't be saved when task is edited

![j4GDwAHSc1](https://user-images.githubusercontent.com/82543000/137856659-a2a3d956-4525-40fb-8f1c-0e9fa3d9e174.gif)

3. Settings are not checked with green checkmarks when edit

[2021-10-19 07:31] srikanthprathi commented on #14056
@akilovich I have sent a mail to you. Can you please check?

[2021-10-19 07:39] Matvey16 commented on #13232
Verified

[2021-10-19 07:39] #13232 closed, assigned to serge-rider, Matvey16

[2021-10-19 07:54] ceugenio commented on #12220
@serge-rider thank you a lot.

[2021-10-19 08:03] serge-rider commented on #11304
1-4 Fixed

[2021-10-19 08:17] Matvey16 commented on #14232
Verified

[2021-10-19 08:17] #14232 closed, assigned to ShadelessFox, Matvey16

[2021-10-19 08:20] #14289 closed, assigned to nobody

[2021-10-19 08:20] Hiroki111 commented on #14289
Solved.
I just needed to `sudo service postgresql restart`...

[2021-10-19 09:29] ghost commented on #14284
I've noticed the same issue for -closeTabs and -disconnectAll. Maybe it's a more general thing?

I'm using the portable windows 64-bit version. I've gone back to 21.2.2

[2021-10-19 09:31] ShadelessFox commented on #14284
Hello @johnriksten,

Help us fix this issue instead of ignoring it.

Please attach [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files).

[2021-10-19 09:43] ShadelessFox commented on #14080
Implemented and will be available in DBeaver 21.2.4.

You can specify any amount of JAR files you want to use "globally".

![java_vuLJgub4fF](https://user-images.githubusercontent.com/35821147/137350346-96f1167b-2813-4505-bae4-a2022fa78095.png)

[2021-10-19 09:57] MoritzTheile commented on #8574
Was there a solution to this? - I face the same problem.

[2021-10-19 11:12] LonwoLonwo commented on #12992
`EXEC sp_spaceused N'TableName'`

[2021-10-19 11:33] flambchap opened #14292 "Write a wiki page about connecting to Oracle via OCI driver"
It's quite a tricky process. We also need to somehow rearrange our major topics so this page can fit well.

[2021-10-19 11:57] 2019-05-10 commented on #12771
Doesn't make much sense to me -- the installer starts from inside a running DBeaver installation.
I'd expect it to get the relevant information from exactly that installation, not some other place that is not even communicated.

If I have to check every step, it makes the semi-automatic update rather pointless.

[2021-10-19 12:14] janiu-001 commented on #14270
thanks very much for you response, and how i add the params with windows system, and can you provide the code how to reload the params

[2021-10-19 12:17] janiu-001 commented on #14271
@ShadelessFox is it an eclipse mechanism ? anyway we have a method to determine the icon

[2021-10-19 12:22] ShadelessFox commented on #14271
It is indeed an Eclipse mechanism. See `org.eclipse.jface.resource.ImageDescriptor#createFromURL`.

[2021-10-19 13:28] somerandomam commented on #12218
error still present

[code]

[2021-10-19 13:28] jbsilva commented on #12218
Same problem in Version 21.2.2.202110082155 on Arch Linux:

On Arch Linux it's also possible to install the plugin from the community repo: https://archlinux.org/packages/community/any/dbeaver-plugin-sshj/. It fails with a different error:

[2021-10-19 13:42] mbelang commented on #12218
I installed 21.3.xx manually (without snap) and all of this is fixed

[2021-10-19 13:48] ems2811 opened #14293 "DBeaver displays incorrect script number (script name)"
#### System information:
- Win10 Pro x64
- DBeaver 21.2.3
- No additional extensions

#### Connection specification:
- PostgreSQL 9.5
- Default driver
- No tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
If i open more than 1 new script - script number displays incorrect
#### Steps to reproduce, if exist:
https://user-images.githubusercontent.com/22142845/1379232

[2021-10-19 14:35] aynmo22 opened #14294 "DBeaver shut down unexpectedly and will not reopen"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

he app shut down unexp

[2021-10-19 15:02] LonwoLonwo commented on #14293
Hello @ems2811

What default command do you have on the "SQL" button?

![2021-10-19 17_59_37-Window](https://user-images.githubusercontent.com/45152336/137937605-d70a1587-3e1f-4ac8-bd0a-2a73d6423fde.png)

[2021-10-19 16:53] ShinobiAlsedo opened #14296 "Oracle Alternative Quoting Mechanism Not Properly Ended"
#### System information:
- Windows 10 64-bit
- DBeaver 21.2.3
- No additional extensions

#### Connection specification:
- Oracle Database 12c
- Oracle JDBC driver 12.2.0.1
- No tunnels or proxies

#### Describe the problem you're observing:

Alternative quoting mechanism ("Q") for string literals is not working correctly when the alternative quoting character is repeated at the end of a string.

[2021-10-19 16:58] ems2811 commented on #14293
Hello @LonwoLonwo
Default command is "New SQL script"
![изображение](https://user-images.githubusercontent.com/22142845/137957225-c956bc7e-7d92-4bf8-8d04-c494bf196504.png)

[2021-10-19 19:56] LonwoLonwo commented on #14293
Hm. And what are the numbers of second and third scripts? You can check it with the "Save as" command. Maybe the numbers are just cropped?

[2021-10-19 20:09] robert-kuropkat opened #14297 "function pg_get_functiondef(oid) does not exist"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: Version 21.2.3.202110151816
- Additional extensions: none

#### Connection specification:
- Database name and version: PostgreSQL 7.4.19 on i686-redhat-linux-gnu, compiled by GCC gcc (GCC) 4.1.2 20070626 (Red Hat 4.1.2-14)
- Driver name: PostgreSQL (old)
- Do you use tunnels or proxies (SSH, SOCKS

[2021-10-20 02:56] flykarry opened #14298 "redis edit the json value and save the data value will be mutil Line"
#### System information:
- Operating system (distribution) and version
- win10
- DBeaver version
- 21.2.0.202109061154
- Additional extensions

#### Connection specification:
- Database name and version
- 5.0.4
- Driver name
- redis
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
- no

#### Describe the problem you're observing:
redis edit the json value and save the data value will be mutil Li

[2021-10-20 03:01] flykarry opened #14299 "it's can't show any key if the redis just use one db"
#### System information:
- Operating system (distribution) and version
- win10
- DBeaver version
- 21.2.0.202109061154
- Additional extensions

#### Connection specification:
- Database name and version
- 5.0.4
- Driver name
- redis
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
- no

#### Describe the problem you're observing:
it's can't show any key if the redis just use one db
![image](http

[2021-10-20 03:22] liming1010 opened #14300 "Does Cassandra database support"
Does Cassandra database support？

[2021-10-20 06:25] ems2811 commented on #14293
Yes. In "Save as" and in hint numbers are correct. most likely numbers are cropped.

[2021-10-20 07:07] LonwoLonwo commented on #14296
Hello @ShinobiAlsedo
Thanks for the bug report!

[2021-10-20 07:11] LonwoLonwo commented on #14300
Hello @liming1010

Yes, commercial versions of DBeaver support the Cassandra database.
https://dbeaver.com/features/
https://dbeaver.com/edition

[2021-10-20 07:34] Matvey16 opened #14301 "Test import time with different options"
We need to measure import time with different options enabled
1. Without batches and without transactions
2. Without batches and with transactions
3. With batches and with transactions
4. With multi row import
5. With skipping binding

Databases for tests:

- PostgreSQL 10
- PostgreSQL 12
- Redshift
- Greenplum
- Cockroach
- SQL Server
- Oracle

[2021-10-20 07:57] uslss commented on #14286
@Jrmy003 ,
you should uncheck Automatic updates check option at User Interface tab in the Preferences
![image](https://user-images.githubusercontent.com/31996417/138051862-ffbd4d8c-5a38-49d5-a09e-d5553286fcc1.png)

[2021-10-20 07:58] uslss commented on #14294
@aynmo22 please provide steps to reproduce the issue. Video with the issue also will be very helpful

[2021-10-20 08:02] uslss commented on #14299
@flykarry did you try to refresh the database? is there some value in db navigator search field(pic below)?
![image](https://user-images.githubusercontent.com/31996417/138052762-e5a8fd66-f59f-4dc1-ac3a-b68acfd5c694.png)

[2021-10-20 08:05] uslss commented on #14298
@flykarry could you provide steps to reproduce the issue? video with the issue also will be very helpful for its investigation

[2021-10-20 08:07] uslss commented on #14287
@yongyaoli what db do you use? please provide clear steps to reproduce the issue

[2021-10-20 08:07] uslss commented on #14285
@Jrmy003 what database do you use?

[2021-10-20 08:09] uslss commented on #14280
duplicates #5317

[2021-10-20 08:13] uslss commented on #14276
what database do you use?
table properties are visible for me, in case Custom - Hide folders view is chosen.
![image](https://user-images.githubusercontent.com/31996417/138054377-6b3b95a6-4bfa-4a44-b342-45bf79110d8e.png)

[2021-10-20 08:15] #14300 closed, assigned to nobody

[2021-10-20 08:17] #13876 closed, assigned to nobody

[2021-10-20 08:17] the8tre opened #14304 ""-con" command line argument broken"
#### System information:
- Operating system (distribution) and version: `Window 10 20H2` and `Ubuntu 20.04`

- DBeaver version: `21.2.3.202110151816`

#### Description
When launching dbeaver (dbeaver, dbeaver.exe, dbeaver-cli.exe) using the "**-con**" command line argument the app exits with the following message:
`Can't connect to running instance, exiting`
This used to work up to version 21.2.2

[2021-10-20 08:18] #13984 closed, assigned to nobody

[2021-10-20 08:19] uslss commented on #13995
there is no update on issue for a long time. If it is still actual, feel free to reopen it with additional info

[2021-10-20 08:19] #13995 closed, assigned to nobody

[2021-10-20 08:27] gregid opened #14306 "Unable to execute any Update statement on MS SQL Server (XML parsing error)"
#### System information:
- Win 10 Pro
- DBeaver version: 21.2.3.202110151816
- Additional extensions
  - Darkest Dark Theme
  - DBeaver Debug extension
  - DBeaver Git integration
  - DBeaver Office integration
  - DBeaver SSHJ extension
  - DBeaver SVG format support

#### Connection specification:
- Database name and version: MS SQL Server 2019 (15.0 RTM)
- Driver name: MS SQL Server / SQL Serve

[2021-10-20 08:27] ShadelessFox commented on #14293
Hello @ems2811,

Looks like that's the issue of "Classic" theme.

Try changing it to any other in <kbd>Preferences</kbd> &rArr; <kbd>User Interface</kbd> &rArr; <kbd>Appearance</kbd> &rArr; <kbd>Theme</kbd>.

[2021-10-20 08:34] uslss commented on #14304
thanks for the report

[2021-10-20 08:40] uslss commented on #14304
closed as a duplicate of #14284

[2021-10-20 08:40] #14304 closed, assigned to nobody

[2021-10-20 08:42] uslss commented on #14005
the issue cannot be reproduced.
If it is still actual for you - feel free to reopen it.

[2021-10-20 08:42] #14005 closed, assigned to nobody

[2021-10-20 08:43] #14102 closed, assigned to nobody

[2021-10-20 08:44] flambchap commented on #13739
Hello @rajeshisnepali. Is this the behavior you're trying to achieve?

![split](https://user-images.githubusercontent.com/26031301/138059848-654cf145-32df-4634-a7f8-d63a7a984ce9.gif)

[2021-10-20 08:52] uslss commented on #12241
verified

[2021-10-20 08:52] #12241 closed, assigned to uslss, LonwoLonwo

[2021-10-20 09:14] ShadelessFox commented on #14284
DBeaver will not launch a new instance if it can't find an existing one. This behavior was changed in #14085.

[2021-10-20 09:15] DariaMarkaryan commented on #11304
![image](https://user-images.githubusercontent.com/43252954/138064875-de320f34-b0af-4961-bfd0-d3782d77301b.png)
Bug: there should be an OK button in place of the Finish button

[2021-10-20 09:27] ShadelessFox commented on #12389
Added new pattern variables for tools and data transfer: `${year}`, `${month}`, `${day}`, `${hour}`, and `${minute}`.

[2021-10-20 09:32] ShadelessFox commented on #14270
Hello @nilawafer,

This feature will be fixed within #14284 in DBeaver 21.2.4.

[2021-10-20 09:34] ShadelessFox commented on #14270
Hello @janiu-001,

All `dbeaver.exe`, `dbeaver-cli.exe`, and `dbeaver.ini` are located in DBeaver's installation folder.

You can locate it via its shortcut. Also you can specify these commands in the shortcut itself.

[2021-10-20 09:35] ShadelessFox commented on #13347
Implemented:

https://user-images.githubusercontent.com/35821147/138078009-440beeb0-d931-48ad-adce-d13d3a864fe8.mp4

[2021-10-20 10:17] offstate commented on #14276
MariaDB
![image](https://user-images.githubusercontent.com/16996529/138071828-992fce09-c082-48e3-9acc-fa2403302ed0.png)
This is like Simple mode:
![image](https://user-images.githubusercontent.com/16996529/138072992-deda96e5-18ff-42d9-a88a-d19e175694bc.png)
With 'Hide folders' only doesn't work at all:
![image](https://user-images.githubusercontent.com/16996529/138073395-cd586434-22e5-407d-a81f-f2

[2021-10-20 10:17] Matvey16 commented on #14265
@kai-morich Thank you for the report

[2021-10-20 10:18] appsol commented on #13608
@uslss @Matvey16 +1 this issue
Ubuntu 20.04LTS
DBeaver Version 21.2.2.202110030714

1. Click "Local Client"
2. Select "Browse"
3. Click "Add Home"
4. Navigate to /usr/bin
When I navigate to /usr, I get the message:
"Could not read the contents of usr. Error opening directory '/usr': Permission denied"

[2021-10-20 10:24] JeroenNienhuis commented on #13347
Thanks for improving, but this was nog what I asked. The new feature copies data from an entire line and not just the single cell above (or below).
The request was for editing something like this:
![afbeelding](https://user-images.githubusercontent.com/51078213/138075753-f5b2ad0e-5ae3-4bf0-b543-c8130b6d1de3.png)
![afbeelding](https://user-images.githubusercontent.com/51078213/138075797-47958aa3-ab

[2021-10-20 10:35] ShadelessFox commented on #13347
Please watch attached video - it copies values in selected columns.

Update: I've updated attached video since it was outdated.

[2021-10-20 10:50] magidc opened #14309 "Icon in Linux"
System information:

    Operating system (distribution) and version
    Ubuntu 20.04.3 LTS
    DBeaver version
    21.2.3.202110181332
    Additional extensions

Describe the problem you're observing:

    When DBeaver is installed or updated in Ubuntu, the launcher file "/usr/share/applications/dbeaver-ce.desktop" sets the wrong file as icon:
    "Icon=/usr/share/dbeaver-ce/dbeaver.png" instead

[2021-10-20 10:50] JeroenNienhuis commented on #13347
Sorry, I did whatch the outdated video that I received by email about an hour ago sent by GitHub. I assumed this was the same one as the current video.
Thanks for improving.

[2021-10-20 10:53] uslss commented on #13389
verified

[2021-10-20 10:53] #13389 closed, assigned to uslss, LonwoLonwo

[2021-10-20 10:56] Matvey16 commented on #14288
@flykarry Thank you for the report. Until we fix it, as a temporary workaround you need to include limit clause before tz()

Dbeaver adds limit clause at the end of the query if it is not included manually. But influxDB syntax demands that limit clause should go before tz().

![VyNBoOIDJt](https://user-images.githubusercontent.com/82543000/138080582-ea4c1f3d-0174-449f-853a-52c4648e0dbf.gif)

[2021-10-20 11:38] flambchap commented on #14309
Hello @magidc. Could you please make a screenshot a post it here? I don't really seem to understand what kind of transparency issue you describe.

[2021-10-20 11:40] Matvey16 commented on #14306
@gregid does this happen on any table? Can you give a DDL of the table on which you get this error?

[2021-10-20 11:43] uslss commented on #14297
@robert-kuropkat what driver version do you use?

[2021-10-20 12:17] Matvey16 commented on #13608
@appsol And do you have permission to open /usr directory?

If you installed DBeaver from Ubuntu software you won't be able to gain access to that directory, because it is snap restriction and we can't do anything about it. To use your local MySQL client you need to manually install DBeaver with deb package or from launchpad with apt-get

[2021-10-20 12:35] #14242 closed, assigned to nobody

[2021-10-20 12:38] RenatoLopes771 commented on #3972
Doing it on the terminal worked for me

![image](https://user-images.githubusercontent.com/52989307/138094058-a9320d04-12df-46d5-975e-34ff5cf7a444.png)

xmark is the name of the database, the text after < is the location of the dump.

[2021-10-20 12:43] Skydiveroid commented on #14251
Thank you for the idea.

[2021-10-20 12:47] Skydiveroid commented on #14261
Thank you for the idea.

[2021-10-20 12:50] Jrmy003 commented on #14285
@uslss I'm using SqlServer

[2021-10-20 12:56] LonwoLonwo commented on #14275
Hello @gaginsgagins
What database do you use?

And query examples will be also helpful.

[2021-10-20 13:08] appsol commented on #13608
@Matvey16 Yes I can access it, but that makes total sense. I'll reinstall using apt and try again. Thanks.

[2021-10-20 13:17] LonwoLonwo commented on #14269
Hello @dkornacki-cutco
And how about columns descriptions in Table Properties View? Are they working there?

![2021-10-20 16_16_43-DBeaver Ultimate 21 2 3 - people](https://user-images.githubusercontent.com/45152336/138100424-c389ff6d-4096-4532-8189-dad88a28bc85.png)

[2021-10-20 13:31] Matvey16 commented on #13385
@egloffmark Can you describe a use case that will benefit from this feature?

[2021-10-20 13:44] Matvey16 commented on #11304
`Next` button in backup task is deactivated when it shouldn't be. Only reproducible if opened by right-clicking on database in PostgreSQL connection

![ZYj631aFOP](https://user-images.githubusercontent.com/82543000/138105168-68342afc-13be-486b-a787-28f89f85814b.gif)

[2021-10-20 13:57] gaginsgagins commented on #14275
postgesql. This is not query depend. This is result autocomplete behaviour. when i type "myfunc" and press enter on autocomlete hint, Dbeaver type schema.myfunc(int4,int4)(:$1,:$2). How to change this behaviour
![step1](https://user-images.githubusercontent.com/25243076/138107012-7a6eaaea-fc79-4ea2-85c9-46cf79ec76da.png)
![step2](https://user-images.githubusercontent.com/25243076/138107010-f629c3b

[2021-10-20 14:01] dkornacki-cutco commented on #14269
Yes, they show there. But by using this method, I select the table from a single schema/library, not a library list.

Similarly, if I use `set schema a_single_schema` in the editor and run a select statement, descriptions are shown correctly in the result view.

If I do `set schema default` with Database/Schema under Connection settings set to `*LIBL, lib1, lib2,...`, descriptions are not shown.

[2021-10-20 14:07] Matvey16 commented on #12389
Verified

[2021-10-20 14:07] #12389 closed, assigned to ShadelessFox, Matvey16

[2021-10-20 14:49] fvannee opened #14314 "postgresql custom types (nested composite, enum) not supported in various editor functions"
DBeaver 21.2.3

Recent DBeaver versions have improved composite type support for Postgresql quite a bit, but there are still broken things unfortunately.
The following features in the editor do not work for nested composite types:
- 'Generate SQL -> INSERT'
- 'Duplicate Row'
In previous versions, this didn't work for any composite type, so there's definitely been an improvement here already (#1335

[2021-10-20 14:52] rubenalaez opened #14315 "Intellisense does not work with Synonyms for SQL Server Connections"
#### System information:
- Windows 10
- DBeaver 21.2.3

#### Connection specification:
- Microsoft SQL Server 2017
- Microsoft JDBC Driver for SQL Server

#### Describe the problem you're observing:
The intellisense does not work with synonyms. For instance, in a query like this:

"select * from mySynonym s where s."

The fields are not shown in the intellisense.

#### Steps to reproduce, if exist

[2021-10-20 15:22] Stephonomon opened #14316 "Alias Autocomplete does not work if blank lines exist between clauses"
-->

#### System information:
-Windows 10 Enterprise Version 1909
- DBeaver version: 21.1.3
- Additional extensions: None

#### Connection specification:
- Database name and version: Netezza
- Driver name: C:\Program Files\DBeaver\drivers\netezza\nzjdbc3.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When trying to get a column autocomplete o

[2021-10-20 15:30] serge-rider commented on #11304
Fixed.

Additionally data insert performance was a bit improved + CSV read performance was significantly improved.

[2021-10-20 15:39] robert-kuropkat commented on #14297
@uslss I am using Version 9,2-1004-jdbc41.  I saw that recommendation in issue #6609

[2021-10-20 17:54] glmarsh commented on #13608
I failed to mention that I had installed DBeaver through snap.  After removing the snap installation and installing using apt I was able to add the client home.  Snap and it's DBeaver installation was the problem.

[2021-10-20 17:57] Schniddy opened #14317 "Support for Snowflake GEOGRAPHY Data Type"
#### System information:
- MacOS
- DBeaver version 21.2.3

#### Connection specification:
- Snowflake
- 3.13.9

#### Describe the problem you're observing:
When looking at table info if a Table was created with a Column of Type Geography the following error is thrown
No enum constant net.snowflake.client.jdbc.SnowflakeType.GEOGRAPHY

Can you add support for this Snowflake data type?

[2021-10-20 18:17] wattpuppy opened #14318 "Add support for using an Oracle Wallet file for connecting to an Autonomous Database in Oracle Cloud"
Currently to connect to an ADB in Oracle Cloud you would need to download the Wallet file zip file, extract the contents then create the custom jdbc connection string to point to the wallet directory.  SQL Developer allows you to select a wallet ZIP file then provides the contents of the embedded tnsnames.ora file.  Would it be possible to add a new driver type that could allow connections the sam

[2021-10-20 18:57] ems2811 commented on #14293
Yes. Problem only in classic theme

classic
![classic](https://user-images.githubusercontent.com/22142845/138154536-654318a0-36e9-4517-9cdf-a64cafff514f.JPG)

others
![system](https://user-images.githubusercontent.com/22142845/138154589-d3d646cc-2a6b-42ed-be48-96af04920b5e.JPG)
![light](https://user-images.githubusercontent.com/22142845/138154617-e9fad57c-ddb3-4278-aae3-4804dcecb11e.JPG)
![dark](h

[2021-10-20 19:20] uslss commented on #12732
verified

[2021-10-20 19:20] #12732 closed, assigned to uslss, ShadelessFox

[2021-10-20 19:24] uslss commented on #13347
verified

[2021-10-20 19:24] #13347 closed, assigned to uslss, ShadelessFox

[2021-10-20 20:13] robert-kuropkat commented on #14297
The pg_get_functiondef() function seems to have not appeared in PostgreSQL until v8.4.

[2021-10-20 21:00] LonwoLonwo commented on #14275
And what DBeaver version do you use?

[2021-10-20 22:03] LonwoLonwo commented on #14316
Hello @Stephonomon
Thanks for the report.
This is expected behavior for SQL Editor when working with blank lines inside the query.
You can change it in Preferences->Editors->SQL Editor->SQL Processing

![2021-10-21 00_58_04-DBeaver Ultimate 21 2 3 - _postgres_ Script-10](https://user-images.githubusercontent.com/45152336/138178755-b3261a4a-bb4d-40d1-8d64-df0019225abb.png)

![2021-10-21 00_59_03-](

[2021-10-20 22:03] #14316 closed, assigned to nobody

[2021-10-20 23:17] javierdiegof commented on #6912
Facing the same problem as others here. I was able to make it work just for driver versions `19.3.0.0` and `19.6.0.0` (with either artifacts or downloading the folders from the Oracle site). I would expect it to work for any `19.*` version if the database is Oracle 19c, right? (which it is in my case, btw)
I've noticed that, if I let DBeaver download the artifacts itself, then for the two versions

[2021-10-21 00:26] yongyaoli commented on #14287
help->check update.   can update dbeaver.
Daily update reminder.  NO!

[2021-10-21 02:38] flykarry commented on #14299
![image](https://user-images.githubusercontent.com/14309127/138201718-ad05d5dd-b08e-4d83-bd39-aab5a7df22bc.png)
there is nothing

[2021-10-21 06:25] PENGCHENGLIN007 commented on #12354
!ENTRY org.jkiss.dbeaver.model 2 0 2021-10-21 14:21:59.856
!MESSAGE Error while initializing context state
!SUBENTRY 1 org.jkiss.dbeaver.model 2 0 2021-10-21 14:21:59.856
!MESSAGE Active schema can't be changed for this kind of datasource!
!STACK 0
org.jkiss.dbeaver.model.exec.DBCException: Active schema can't be changed for this kind of datasource!
	at org.jkiss.dbeaver.ext.generic.model.GenericE

[2021-10-21 08:26] appsol commented on #13608
I have now re-installed DBeaver using apt and can confirm I can access the client home without issue now.

[2021-10-21 08:28] uslss commented on #14284
verified

[2021-10-21 08:28] #14284 closed, assigned to uslss, ShadelessFox

[2021-10-21 09:42] #14280 closed, assigned to nobody

[2021-10-21 09:44] 2019-05-10 opened #14321 "Linux packages: omit JRE in favour of dependency"
The beauty of Linux packages is that you don't need to include everything, but may define dependencies on other packages.
Java is available in all Linux distributions, in Debian (and possibly others as well) as package
`default-jre`
Instead of including a complete JRE withe Linux packages, why not simply define a dependency on that package?

It would significantly cut down the size of DBeaver pack

[2021-10-21 09:53] 2019-05-10 opened #14322 "Add Format -> CamelCase to lower_case_underscore"
I find myself frequently testing JPA queries like
`SELECT f FROM FooBar f WHERE f.firstProperty=:a AND f.secondProperty=:b`
where in the DB the table is named
`foo_bar`
and the columns
`first_property`
and
`second_property`
respectively.
Oftentimes the queries are much longer, hence it takes alot of time to fix all names, and it is error prone.

So, it would be great if one could simply convert th

[2021-10-21 10:52] ShadelessFox commented on #14293
I believe this problem is also related to Windows 10.

[2021-10-21 10:59] uslss commented on #14080
verified

[2021-10-21 11:12] LonwoLonwo commented on #14297
Ok, thanks for the info.
This is not a bug, this is enhancement. We just do not support so old PostgreSQL version now. We can try to support it in the future.

[2021-10-21 11:20] uslss commented on #7970
closed as a duplicate of #5291

[2021-10-21 11:21] uslss commented on #8072
seems to be similar to #5291

[2021-10-21 11:21] #8072 closed

[2021-10-21 11:23] uslss commented on #8088
Implemented in [Visual Query Builder](https://github.com/dbeaver/dbeaver/wiki/Visual-Query-Builder) in EE version

[2021-10-21 11:23] #8088 closed

[2021-10-21 11:24] uslss commented on #8101
duplicates #6560

[2021-10-21 11:40] uslss commented on #8372
implemented in #1802

[2021-10-21 11:43] gaginsgagins commented on #14275
latest - 21.2.3.202110151816 DBeaver - CE

[2021-10-21 11:44] uslss commented on #8412
seems it is already implemented

[2021-10-21 11:54] uslss commented on #7800
will be implemented in the scope of #13020

[2021-10-21 12:02] LonwoLonwo commented on #14275
Sorry, can't reproduce for now.

![T6QVKRUm4S](https://user-images.githubusercontent.com/45152336/138272800-3cdaed41-8420-4023-9c99-deaaca95a1a0.gif)

How about this setting

![2021-10-21 15_00_34-DBeaver Ultimate 21 2 3 - _postgres_ Script-8](https://user-images.githubusercontent.com/45152336/138273030-64882e76-e3e5-4247-b1ff-e8d60613633f.png)

Is it enabled in your preferences?

Also, maybe func

[2021-10-21 12:18] gaginsgagins commented on #14275
![record](https://user-images.githubusercontent.com/25243076/138275139-c44553a5-3d94-4d4c-8671-b947d24073ab.gif)
why DBeaver append (:$1) ?

show stored procedures in column list is enabled.

`CREATE OR REPLACE FUNCTION "accounts"."account_is_active"(int4)
  RETURNS "pg_catalog"."bool" AS $BODY$
begin
  return (select status not in ('removed', 'offline') from db.users where account_id = $1);
end
$

[2021-10-21 12:26] uslss commented on #8657
already implemented
![image](https://user-images.githubusercontent.com/31996417/138276749-7d9e549c-d8d5-4e81-9bc1-b94b6fb18d63.png)

[2021-10-21 12:27] KrzysztofDusko opened #14326 "Netezza username in lowercase"
#### System information:
- Operating system (distribution) and version Windows 10, 1909
- DBeaver version Version 21.2.3.202110151816

#### Connection specification:
- Database name and version Netezza
- Driver name nzjdbc3.jar

#### Describe the problem you're observing:
trying to login with user name with dot example "a.user" causes
[code]
(DBeaver tries to use a.user (default names on netezza a

[2021-10-21 12:27] uslss commented on #8448
already implemented

[2021-10-21 12:28] rotorboy commented on #8657
That is just the FRAME; ideally I can change the whole background color of window. Also the top frame of sql editor is grey

-Avi

[2021-10-21 12:31] LonwoLonwo commented on #14275
Ok, thanks. Now I caught it.

For me, it works only for not fully qualified function names from another schema.
It works fine with [not] fully qualified function name from current schema.

[2021-10-21 12:37] uslss commented on #4628
related with #8696

[2021-10-21 12:42] uslss commented on #8995
duplicates #7311

[2021-10-21 12:48] ShadelessFox opened #14327 "Can't edit nested array value via value editor in PostgreSQL"
#### System information:
- Operating system (distribution) and version: **Windows 10**
- DBeaver version: **DBeaver 21.2.4**

#### Connection specification:
- Database name and version: PostgreSQL 12

#### Describe the problem you're observing:
Nested array values can't be edited. Only root leaves can be edited.

https://user-images.githubusercontent.com/35821147/138280105-05f958d4-5d82-4b9d-825b-

[2021-10-21 12:54] flambchap commented on #14321
At the same time, this approach gives tight control over the execution environment. It allows fixing issues like [this one](https://github.com/dbeaver/dbeaver/issues/12668).

By the way, tarballs don't have pre-bundled JRE. They might serve your needs better than packages.

[2021-10-21 13:04] #13569 closed, assigned to nobody

[2021-10-21 13:29] LonwoLonwo commented on #13954
Hello @lorenzogatti

Are you talking about task sorting in the Database Tasks view?

![2021-10-21 16_28_55-DBeaver Ultimate 21 2 3 - _postgres_ Script-8](https://user-images.githubusercontent.com/45152336/138287713-c942046c-a4b8-41b1-bf52-6b4e58f6f530.png)

[2021-10-21 13:53] ShadelessFox commented on #13472
Implemented `max`, `min`, `partial`, `sort`, `skip`, `count`, `one`, `length`, and `size` functions of cursor.

[2021-10-21 14:25] kkoehleranalyst opened #14331 "Cannot see column names within tables/views or console"
Hello,

I am new to DBeaver and have came across issue:  cannot view column names of tables or views.  Have tried various options to visualize them with no luck.  Is there a setting within the environment that will correct this; or a particular version of DBeaver?  I had the current version with this issue and did an uninstall and reinstall of prior version that an associate was using and was able