[2022-02-13 08:48] serge-rider commented on #15477
Thanks for the bug report.
It is a duplicate of #15335

[2022-02-13 08:48] #15477 closed, assigned to nobody

[2022-02-13 08:51] serge-rider commented on #15467
Thanks for the bug report and for the investigation 👍

[2022-02-13 14:23] metalbreeze opened #15480 "sql error not show while "execute sql in new tab""
#### System information:
- Win10

#### Describe the problem you're observing:
when run some sql in new tab, it won't show the error msg.

#### Steps to reproduce, if exist:
1.  connect a database (eg. mysql) ,open an editor.
2.  run `select 1 from dual;`  with  "execute sql in new tab" twice.  now it shows 2 tabs in result panel .
3.  run `select 1 from dualxx;`  with  "execute sql in new tab"  tw

[2022-02-13 17:12] LonwoLonwo commented on #15480
@metalbreeze Hello

What DBeaver version do you use?

[2022-02-13 17:45] rmtsrc commented on #1774
In the version I'm using (`21.3`) these settings seem to have moved to:

[Workspace location](https://github.com/dbeaver/dbeaver/wiki/Workspace-Location): `DBeaverData/workspace6/.metadata/.plugins/org.jkiss.dbeaver.ui.editors.data/dialog_settings.xml`

[code]

Note: make sure DBeaver is closed before editing this file.

[2022-02-13 20:45] nicchristeller commented on #15413
That looks promising, although I'm not quite sure what to make of the behaviour.

With these settings: "Show all databases" checked, "Databases/Catalogs" filtering enabled, and all of "database1", "database2" and "database3" added to the "include" list.

If database1 is the connection target (i.e. the specified database in Connection Settings -> Main -> Server), then database1 and database3 show u

[2022-02-13 22:03] jgomo3 commented on #232
~Feature Request~

I don't think anymore that this feature makes sense.

The equivalent in Postgres is the Schemas. Independently of DBeaver, one can't cross tables in different databases using simple queries, and connections are one per database.

It is a semantic issue. You just have to think on schemas instead of databases when working with Postgres, and BTW, that is the original intention of S

[2022-02-14 09:00] tuananh281098 commented on #10004
@mwalkerr
Thanks for your response

[2022-02-14 09:30] LonwoLonwo commented on #15474
Hello @GeriZ

If I understood you correctly, you could change your output result in Excel with these preferences:

![2022-02-14 10_20_02-DBeaver  F__Java Projects_dbeaver_dbeaver-workspace-idea  - F__Java Projects_dbe](https://exceltable.com/en/formatting/images/formatting3-5.png)

[2022-02-14 09:30] uslss commented on #13885
verified

[2022-02-14 09:30] #13885 closed, assigned to uslss, ShadelessFox

[2022-02-14 09:33] LonwoLonwo commented on #15469
Hello @zhangrui-git

Can you please provide the DDL of `hits_v1`?

[2022-02-14 09:44] vmoraru commented on #15282
Does look like a useful tip, I do, however, have it checked and I did type the query, did not copy it from anywhere. Not sure how that tab got "broken", but, as @WildLlama already mentioned, copied queries from one tab to the other either add or remove the LF character depending on which way you copy, so it still remains broken in the old tab.

I did manage to "fix" that tab though by editing it i

[2022-02-14 10:40] ShadelessFox commented on #15469
Note: the negative number is the result of Java not having unsigned integers:

[code]

Can be reproduced using this snippet:

[code]

[2022-02-14 10:59] andrematzke commented on #15117
[log.txt](https://github.com/dbeaver/dbeaver/files/8060088/log.txt)

Hello @Matvey16 , like DodgeDeBoulet I also still having the same errornous starting behaviour.. log.txt attached.

BR,
A.

[2022-02-14 11:30] fjf2002 commented on #13885
Thank You.

[2022-02-14 11:33] mmx314 opened #15485 "Problem (error) with composite foreign key"
**System information:**
_- Operating system (distribution) and version:_ **Microsoft Windows [Version 10.0.19043.1526]**
_- DBeaver version:_ **Version 21.3.4.202202051448**
_- Additional extensions:_  **No extensions**

**Connection specification:**
_- Database name and version:_ **SQLite [3.36.0]**
_- Driver name:_ **SQLite [3.36.0]**
_- Do you use tunnels or proxies (SSH, SOCKS, etc)?:_ **No**

[2022-02-14 12:02] uslss commented on #15472
verified

[2022-02-14 12:02] #15472 closed, assigned to serge-rider, uslss

[2022-02-14 12:34] GeriZ commented on #15474
Hi LonwoLonwo,

I know that I can format all columns in Excel. I would have expected that the data will be exported to Excel automatically in the same format as it is displayed in the DBeaver results panel when I use "Value Format: Display(default)" in the format settings.

![grafik](https://user-images.githubusercontent.com/31589944/153862711-0d29716d-024c-4213-814a-5dba0336a796.png)

But in the

[2022-02-14 12:38] ClodoaldoPinto commented on #15389
The portable version is still at 21.3.2. Nothing in the log catches my eyes. What am I looking for in the log?

[2022-02-14 13:43] uslss commented on #15467
verified

[2022-02-14 13:43] #15467 closed, assigned to Destrolaric, uslss

[2022-02-14 15:12] LonwoLonwo commented on #12339
Hello @echan888

It would be very beneficial if you could test the updated version of the beaver with a fixed issue.
This is the Early Acces version: https://dbeaver.io/files/ea/
The official release will be at 2022-02-21

[2022-02-14 16:03] SaulR opened #15489 "Search Proposals takes too long"
#### System information:
- Operating system (distribution) and version Windows Server 2016 Version 1607
- DBeaver version  21.3.4.202202051448
- Additional extensions

#### Connection specification:
- Database name and version AWS Postgres
- Driver name PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When typing in a statement such as
S

[2022-02-14 16:22] LonwoLonwo commented on #15474
Ok, thanks for the explanation @GeriZ

Maybe we can add this setting as a special Excel sheet setting.

[2022-02-14 16:32] jrogers22 commented on #6549
I'm having this issue at the moment. I'm not able to determine why. I can right-click "View Data" successfully for any table, but cannot use the script or query editor for the same tables.

[2022-02-14 17:01] LonwoLonwo commented on #15485
Hello @mmx314
Thanks for the bug report.

As I can see, the number of foreign keys is also incorrect:

![2022-02-14 19_55_30-DBeaver Ultimate 21 3 5 - test_123_FK](https://user-images.githubusercontent.com/45152336/153910422-e569fa10-36cf-49e5-ac81-aa929a0e37fa.png)

It can be the driver bug because we read foreign keys from the driver. We will investigate it.

[2022-02-14 17:03] dr-1 opened #15490 "Azure SQL Server: reading view definition, procedure 'sp_helptext' is not supported"
#### System information:
- Windows 10
- DBeaver 21.3.4

#### Connection specification:
- Database type: Azure SQL Server
- Driver name: Azure SQL Server
- No tunnels or proxies

#### Describe the problem you're observing:
Trying to get the DDL of a view produces this error:
[code]

#### Steps to reproduce, if exist:
- Open a view object in this type of database
- Go to Properties -> Definition

##

[2022-02-14 17:09] LonwoLonwo commented on #12582
Hello @victorcarvalhosp. So the issue is solved for now?

[2022-02-14 18:57] victorcarvalhosp commented on #12582
Yes, it's working for me after doing this

[2022-02-14 19:52] #15389 closed, assigned to nobody

[2022-02-14 19:58] echan888 commented on #12339
Hello @LonwoLonwo

I tested the early access version. The original issue with DBeaver trying to query sys.table_types is fixed. It is super fast now when browsing data or retrieving results from a SQL query. Great job you guys!

I think you may also have the same problem with two other features that are not supported in Synapse, namely [sys.triggers](https://docs.microsoft.com/en-us/sql/relational

[2022-02-14 22:03] brooksvb opened #15493 "Hide Menu Bar"
I would like to hide the menu bar to maximize screen space. Almost every single other application I use allows this and I use the feature. Pressing alt will temporarily show the menu bar so you can still access and use it.

I have not been able to find an option anywhere in the settings or View menu to do this. Please direct me to it if I'm missing the option.

**Describe the solution you'd like**

[2022-02-15 06:10] LonwoLonwo commented on #14566
1,2,3,4,6 Fixed.

[2022-02-15 06:16] LonwoLonwo commented on #15493
Hello @brooksvb

Maybe this option can help you? Windows -> Appearance -> Hide Toolbar

![2022-02-15 09_14_43-DBeaver Ultimate 21 3 4 - Example](https://user-images.githubusercontent.com/45152336/154003452-c172f7c4-6a36-4ce0-a9b1-a9a362ab45fa.png)

[2022-02-15 06:22] brooksvb commented on #15493
No. Menu bar refers to this region:
![image](https://user-images.githubusercontent.com/14019044/154004248-764a51ec-644a-497e-adf1-d3c860159a6c.png)

[2022-02-15 06:40] LonwoLonwo commented on #15493
Then you can try to use Window -> Customize Perspective -> Menu Visibility and uncheck all checked buttons.

![2022-02-15 09_38_20-DBeaver Ultimate 21 3 5 - _postgres_ Script-10](https://user-images.githubusercontent.com/45152336/154006620-decc2fa2-976f-42a2-acf8-c05c47cd5ae0.png)

![2022-02-15 09_26_32-Customize Perspective - DBeaver](https://user-images.githubusercontent.com/45152336/154006631-0

[2022-02-15 08:10] Destrolaric commented on #14433
Implemented fix for Redshift, Informix, Oracle, Clickhouse, Dynamo, Vertica.

[2022-02-15 08:50] uslss commented on #15120
There have been no updates on the issue for a long time. If the issue is still present - feel free to reopen it.

[2022-02-15 08:50] #15120 closed, assigned to nobody

[2022-02-15 08:51] uslss commented on #14944
There have been no updates on the issue for a long time. If the issue is still present - feel free to reopen it.

[2022-02-15 08:51] uslss commented on #15162
There have been no updates on the issue for a long time. If the issue is still present - feel free to reopen it.

[2022-02-15 08:51] #15162 closed, assigned to nobody

[2022-02-15 08:52] uslss commented on #15128
There have been no updates on the issue for a long time. If the issue is still present - feel free to reopen it.

[2022-02-15 08:52] #15128 closed, assigned to nobody

[2022-02-15 08:52] uslss commented on #15165
There have been no updates on the issue for a long time. If the issue is still present - feel free to reopen it.

[2022-02-15 08:52] #15165 closed, assigned to nobody

[2022-02-15 08:53] uslss commented on #15154
There have been no updates on the issue for a long time. If the issue is still present - feel free to reopen it with additional info.

[2022-02-15 08:53] #15154 closed, assigned to nobody

[2022-02-15 08:56] uslss commented on #15198
@GreatEMU , sorry for the late response.
Is it still actual for you?

[2022-02-15 08:56] uslss commented on #15157
There have been no updates on the issue for a long time. If the issue is still present - feel free to reopen it with additional info.

[2022-02-15 08:56] #15157 closed, assigned to LonwoLonwo

[2022-02-15 08:57] uslss commented on #15236
There have been no updates on the issue for a long time. If the issue is still present - feel free to reopen it with additional info.

[2022-02-15 08:57] #15236 closed, assigned to nobody

[2022-02-15 08:58] #15269 closed, assigned to nobody

[2022-02-15 08:58] uslss commented on #15259
There have been no updates on the issue for a long time. If the issue is still present - feel free to reopen it with additional info.

[2022-02-15 08:58] #15259 closed, assigned to nobody

[2022-02-15 08:58] uslss commented on #15241
There have been no updates on the issue for a long time. If the issue is still present - feel free to reopen it with additional info.

[2022-02-15 08:58] #15241 closed, assigned to nobody

[2022-02-15 10:00] uslss commented on #14566
verified

[2022-02-15 10:00] #14566 closed, assigned to uslss, LonwoLonwo

[2022-02-15 10:03] uslss commented on #15289
There have been no updates for a long time. If the issue still persists - feel free to reopen it

[2022-02-15 10:03] #15289 closed, assigned to nobody

[2022-02-15 10:03] uslss commented on #15290
There have been no updates for a long time. If the issue still persists - feel free to reopen it

[2022-02-15 10:03] #15290 closed, assigned to nobody

[2022-02-15 10:07] #15213 closed, assigned to nobody

[2022-02-15 10:14] qqcvd commented on #2244
Since this year, you can use Blocks in Snowflake scripting

BEGIN

END;

see :
https://docs.snowflake.com/en/developer-guide/snowflake-scripting/blocks.html#understanding-blocks-in-snowflake-scripting

[2022-02-15 10:16] uslss commented on #15150
@YuriDude could you check if the issue persists in the current MS Store version? (21.3.4)

[2022-02-15 11:46] arif98741 commented on #15290
its working after I reinstalling in my pc. I didn't get any clue why it works :D

[2022-02-15 11:46] vongohren commented on #11891
Im still getting this and the way I have to solve this is to hit refresh on the properties page to get the column represented there.

[2022-02-15 12:56] LonwoLonwo commented on #12339
Thanks for the information @echan888

The sequences and triggers tabs will be hidden in the Database Navigator Tree for Synapse in DBeaver version 21.3.5.

[2022-02-15 14:01] yrstrulysa opened #15497 "Connecting to Google BiqQuery"
Please assist me? How do i  connect to Google Bigquery.
I struggle to connect:
![image](https://user-images.githubusercontent.com/99739876/154077197-4d64afd0-83c8-466f-b94a-00842a80ad59.png)

[2022-02-15 14:37] weeman1337 commented on #2254
Does anyone know how this works? For me no picker appears.

[2022-02-15 16:33] suhailmemon commented on #14944
This is still an outstanding issue. please reopen it. i'm not able to find any option to reopen this issue. -Suhail

[2022-02-15 18:26] brooksvb commented on #15493
Okay, well that hides the menu bar if I toggle all these off, but this is not the behavior I'm looking for. Doing this makes those menus entirely inaccessible. The "hide menu bar" option that is present in so many other programs instead hides the menu bar, but when you press the ALT key it will temporarily pop the menu bar into view with it focused so you can activate key shortcuts for the entries

[2022-02-15 18:37] taf1-cornell-edu opened #15498 "Changing the active folder tab using ctrl+tab should circle through the tabs."
#### System information:
- Operating system (distribution) and version
Windows 10 Enterprise version 1909

- DBeaver version:
Version 21.3.4.202202051448

#### Describe the problem you're observing:
With multiple tabs open (e.g. SQL Editors, session manager, etc.)  using ctrl+tab changes the active folder tab one to the right.  Once the rightmost tab is active, ctrl+tab  should loop around and mak

[2022-02-15 19:52] LonwoLonwo commented on #15490
Hello @dr-1

What Azure version do you use? Maybe do you have any ideas - why the support of 'sp_helptext' is not supported in your Azure version?

[2022-02-15 20:28] LonwoLonwo commented on #15431
Ok, I reproduced it. Thanks for the bug report.

It can be a general refresh issue, not just Procedures and Azure. I tested rename of the MySQL table in the Workbench - and the table in the DBeaver didn't refresh also.

[2022-02-15 21:43] GeriZ commented on #15474
That's great, thank you!!

[2022-02-16 06:48] echan888 commented on #12339
Thank you @LonwoLonwo .

I also checked out a connection to an Azure SQL Database (using the Azure SQL Server driver) to make sure the Synapse fixes didn't break something for a non-Synapse connection. Happy to report back that everything continued to work as before.

[2022-02-16 08:17] Destrolaric commented on #15497
@yrstrulysa  Hi, I think you need to add your security key to the key path
https://m2msupport.net/m2msupport/generate-service-account-key-in-google-cloud-platform-gcp/

[2022-02-16 08:28] dr-1 commented on #15490
Hi @LonwoLonwo, it seems that Azure does not provide version information, at least I cannot find any reference to that in its portal and documentation.

What I know is that the database is hosted in an instance of the Synapse Analytics service, which does not support sp_helptext according to MS' [docs](https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-helptext-t

[2022-02-16 08:32] uslss commented on #14433
Vertica, Informix:
![dbeaver_JjvOAwZbCl](https://user-images.githubusercontent.com/31996417/154225206-a99491eb-73bf-4e73-9cd2-d752b8129db4.gif)
DynamoDB:
![dbeaver_i1pwa0SDGC](https://user-images.githubusercontent.com/31996417/154225297-45b1336b-2e5c-418d-9097-b2f8e71f5c61.gif)

[2022-02-16 08:33] LonwoLonwo commented on #15490
Thanks for the answer @dr-1

You can check your database/driver version in the Connection Settings -> Test Connection.

![2022-02-16 11_31_00-DBeaver Ultimate 21 3 5 - TEST_COMPLEX_UNIQUE](https://user-images.githubusercontent.com/45152336/154225939-532c6d58-d0a9-4528-a24f-0e0a845587f8.png)

Also, can you say me please - what returns you this statement:
`SELECT SERVERPROPERTY('EngineEdition')`

[2022-02-16 08:40] uslss commented on #15069
verified

[2022-02-16 08:40] #15069 closed, assigned to E1izabeth, uslss

[2022-02-16 08:43] neitomic commented on #3918
Note that the profile name should include `profile ` prefix.

[2022-02-16 08:47] dr-1 commented on #15490
Thanks for those hints, @LonwoLonwo. The connection test shows these versions:

Server:
Microsoft SQL Server 12.00.63
Microsoft SQL Azure (RTM) - 12.0.2000.8
	Jan 27 2022 07:48:10
	Copyright (C) 2021 Microsoft Corporation

Driver:
Microsoft JDBC Driver 9.2 for SQL Server 9.2.0.0

`SELECT SERVERPROPERTY('EngineEdition')` returns 11.

[2022-02-16 09:09] yrstrulysa commented on #15497
Thank you, i just linked to odbc instead of BigQuery with the correct odbc
connection installed and set-up. It worked.

On Wed, Feb 16, 2022 at 10:18 AM George ***@***.***> wrote:

[2022-02-16 09:23] Destrolaric commented on #15497
@yrstrulysa, I am glad that it worked. I am closing the ticket

[2022-02-16 09:23] #15497 closed, assigned to nobody

[2022-02-16 10:01] LonwoLonwo commented on #15490
Ok.
As you said, it was "fixed for some cases in PR https://github.com/dbeaver/dbeaver/pull/7842"

So, please tell me, do this workaround statement (from PR) work for you?

`SELECT definition FROM sys.sql_modules WHERE object_id = (OBJECT_ID(N'your_shema_name.your_procedure_name'))`

[2022-02-16 10:14] LonwoLonwo commented on #15458
Did requests without JOIN on v_catalog.comments work faster? With the real schema names as t.table_schema.

[2022-02-16 10:38] dr-1 commented on #15490
Yes, this works, returning the expected definition.

[2022-02-16 10:40] uslss commented on #4483
still reproducible
![dbeaver_Dh7kogPSp7](https://user-images.githubusercontent.com/31996417/154247840-ae20d98e-744c-4e8f-9164-fbd7059e55df.gif)

[2022-02-16 11:14] Andreyvoinea opened #15507 "SQL Editor highlight text"
Hello team,

First of all thanks for the hard work, it is a great SQL client and I am using daily.

Also, I am working daily with a lot of long rows and need to update each row.

It will be great to have the functionality to select the text in SQL and highlight with a color to be more visible.

Thanks a lot,
Andrei

[2022-02-16 11:38] uslss commented on #15335
verified

[2022-02-16 11:38] #15335 closed, assigned to E1izabeth, uslss

[2022-02-16 12:26] nilerdar opened #15509 "Fail to open dbeaver, An error has ocurred."
[1645014073427.log](https://github.com/dbeaver/dbeaver/files/8079814/1645014073427.log)

[code]

[2022-02-16 12:37] Skydiveroid commented on #15498
Thank you for the idea.

[2022-02-16 12:52] ShadelessFox commented on #15446
Hello @joelrosa21,

Have you tried enabling this option? Please see the attached image.

![image](https://user-images.githubusercontent.com/35821147/154268360-4de60152-6ba1-4de5-a228-7598686ce3af.png)

[2022-02-16 12:59] 0luc opened #15510 "Possibilty to open multiple instances with the same user profile without the can't lock workspace error."
#### Describe the problem you're observing:
Hi, I've noticed the following results;

When using **-con** combined with **-reUseworkspace** = -con merges into one instance like expected;
When using **-con** combined with **-newInstance** = can't lock workspace at ..... error at starting second instance;
When using **-con** with **-newInstance** and **-reUseworkspace** (to suppress the can't lock wo

[2022-02-16 12:59] E1izabeth commented on #15437
Thank you for doing this work.

[2022-02-16 13:06] E1izabeth commented on #15489
Hi, @SaulR! Thank you for the report. Could you, please, tell us how many columns in this table and which queries are executed while searching proposals? You can find executed queries in Query manager (Window>Show view>Query manager).

[2022-02-16 13:09] SaulR commented on #15489
It's all of them.

For example, I started typing
select * from n
(where we have several tables that start with "n")
and the Search Proposals began, presumably to offer the table choices as it did before the last update.

That was before I started typing this and it's still running.

[2022-02-16 13:13] SaulR commented on #15489
And now the results popped up in front of another window I had switched to.

[2022-02-16 13:14] Destrolaric commented on #15507
Hi, thank you for your proposal! Can you clarify, do you want to implement highlighting in SQL editor?

[2022-02-16 13:20] CarlosRuiz-globalqss opened #15511 "Disconnect all"
I'm not sure if this option already exists.

Sometimes I'm connected to 3 or 4 databases at the same time, when I want to disconnect all of them, at the moment I navigate one by one, right click and Disconnect.

It would be great if I can select an option (like some menu option "Disconnect All") to disconnect all of them immediately.

[2022-02-16 13:22] uslss commented on #15511
This option is already available in Database menu in Main menu
![image](https://user-images.githubusercontent.com/31996417/154273338-ca1f9b13-3fa7-43d9-b2c9-3d7efa74fe57.png)

[2022-02-16 13:23] #15511 closed, assigned to nobody

[2022-02-16 13:36] serge-rider commented on #4483
CTRL+A clashes with the standard OS shortcut (select all).
It seems to be Eclipse-specific issue.
https://bugs.eclipse.org/bugs/show_bug.cgi?id=440981
https://bugs.eclipse.org/bugs/show_bug.cgi?id=367849

[2022-02-16 13:42] Andreyvoinea commented on #15507
Yes, Highlight text, like 'Style One Token' in Notepad++

[2022-02-16 13:47] lucastafarelbs commented on #12668
Saved my life, thanks a lot!

[2022-02-16 14:01] arthurlomakin11 opened #15514 "When viewing PostgreSQL table and want to filter by status (have enum) there's an error"
#### System information:
- Operating system Windows 10
- DBeaver version 21.3.4.202202051448
#### Connection specification:
- Database PostgreSQL

#### The problem:
When viewing PostgreSQL table and want to filter by status (have enum) there's an error
![image](https://user-images.githubusercontent.com/82650905/154279574-d2375198-5838-468c-badf-43a1ea8359ee.png)

#### Steps to reproduce:
Create en

[2022-02-16 14:05] #14433 closed, assigned to Destrolaric, uslss

[2022-02-16 14:22] LonwoLonwo commented on #15167
![Sbawi1iUws](https://user-images.githubusercontent.com/45152336/154058981-6406761d-fbfc-4648-b6b0-8a8fd477deab.gif)

![35xatnOQHE](https://user-images.githubusercontent.com/45152336/154059012-3cff6a81-7b43-4e0c-b05a-2614306978c9.gif)

![2022-02-15 23_32_17-Data Transfer](https://user-images.githubusercontent.com/45152336/154145042-5ef691b9-fa40-41b0-95bb-635930447a93.png)

[2022-02-16 14:22] LonwoLonwo commented on #15167
Implemented.

[2022-02-16 14:29] lukaseder commented on #15457
Thanks a lot for your help, @akilovich, that works for me. Also thanks for that awesome CTRL+3 trick. I wasn't aware of this. As a frequent Eclipse user of ~15 years, this will greatly help elsewhere, too! 👌

[2022-02-16 14:29] #15457 closed, assigned to nobody

[2022-02-16 15:09] uslss commented on #15167
verified

[2022-02-16 15:09] #15167 closed, assigned to uslss, LonwoLonwo

[2022-02-16 15:35] kerrykw commented on #15509
hello, I have the same issue as well. I tried to launch dbeaver on Ubuntu 20.04 and I was seeing the exact same message.

[2022-02-16 15:39] ilyafrank2021 commented on #14942
Any updates on this?

[2022-02-16 15:49] uslss commented on #13237
verified

[2022-02-16 15:49] #13237 closed, assigned to E1izabeth, uslss

[2022-02-16 15:49] jppo opened #15516 "Can't resize columns"
Hello,

#### System information:
- Linux Debian 10.11
- DBeaver version : 21.3.4.202202051448
- Additional extensions : None

#### Connection specification:
- MariaDB 10.4.18
- MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Describe the problem you're observing:
I can't resize the columns while modifying users, I enclose a screenshot
#### Steps to reproduce, if exist:
Try to

[2022-02-16 15:55] LonwoLonwo commented on #15514
Hello @arthurlomakin11

Thanks for the bug report.
Is your table in the public schema?

[2022-02-16 16:30] arthurlomakin11 commented on #15514
Yes, I have only public schema.

[2022-02-16 17:04] joelrosa21 commented on #15446
Hello @ShadelessFox !

It was not enabled, but after enabling, this error occurs:

`Failed to load MSAL4J Java library for performing ActiveDirectoryInteractive authentication.`

<img width="226" alt="erro_db_mfa" src="https://user-images.githubusercontent.com/88491194/154317651-3206fee1-954c-40b6-8354-f19c763d9275.PNG">

[2022-02-16 17:27] ShadelessFox commented on #15446
Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

[2022-02-16 17:39] joelrosa21 commented on #15446
.log:

[code]

[2022-02-16 18:14] ShadelessFox commented on #15516
Hello @jppo,

These columns can't be resized. Perhaps we should make them resizeable.

[2022-02-16 18:31] solsticesteve commented on #7968
Never would have figured this out if it wasn't for this post!  Thanks!!!

[2022-02-16 18:34] FzzyBnny commented on #15459
DBeaver version: CE 21.3.4.202202051448
Operating system (distribution) and version: Microsoft Windows [Version 10.0.22489.1000]

I tried manually adding the dependency via the "Add Artifact" as suggested, but when I would attempt to Download/Update, then DBeaver would throw this error:
[code]

I was able to get this to work by manually editing the version tag in the `postgres-socket-factory-1.4.3

[2022-02-16 19:07] p91paul opened #15519 "SQL Consoles do not honor "Open separate connection for each editor""
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.3.4
- Java version: bundled
- Additional extensions: n/a

#### Connection specification:
- Database name and version: Oracle 11
- Driver name: odjbc21
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n/a

#### Describe the problem you're observing:
I started using SQL Consoles for quick queri

[2022-02-16 19:51] padraic-mcatee commented on #7733
@skannan-maf I am having the same issue here.

[2022-02-16 22:14] g24swint opened #15520 "Allow configure of excel export file location"
**Is your feature request related to a problem? Please describe.**
When usung the "export to excel" button in the UI (not the query export wizard), the excel file is dropped in a local temp space. This means that excel will not recognize it in the recently used files list.

**Describe the solution you'd like**
I'd like to be able to set the default temp file location for excel file exports to be a

[2022-02-16 23:23] Jsalazar-P commented on #14749
hello, i have the same issue in windows 10, using last dbeaver version, how do you solve this?

[2022-02-16 23:41] jppo commented on #15516
Hello,
As I maintain some users lists on many machines I need to see all database and tables to give "good" (and sufficient rights to users (batch or tp).
I had to revert to the precedent release to have my work done.
So resizable columns are a must for me.
Regards
JP P

[2022-02-17 03:05] skannan-maf commented on #7733
@padraic-mcatee  I think this means a "network reachability" issue. I think "nc" has 2 types of test. One with "zero data" and other with "data".... Try telnetting into the port and check if the port is really accessible. It could be a firewall blocking stuff. You may want to investigate that angle. Good luck!

[2022-02-17 03:12] ShadelessFox commented on #15520
Hello @g24swint,

The purpose of this button is to provide a fast way to preview your data in excel.

You can use the data transfer to perform export in .xlsx format and specify the destination folder and file name.

You can find instructions here: https://dbeaver.com/docs/wiki/Data-transfer/.

[2022-02-17 03:12] #15520 closed, assigned to nobody

[2022-02-17 08:53] uslss commented on #15510
thanks for the suggestion
closed as a duplicate of #14364

[2022-02-17 08:53] #15510 closed, assigned to nobody

[2022-02-17 08:55] Destrolaric commented on #14749
@Jsalazar-P Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-02-17 09:42] E1izabeth opened #15524 "Introduce new parsing algorithm"
- Grammar model
- Grammar graph
- Finite state machine by terminals
- Grammar-based parser

[2022-02-17 09:54] E1izabeth commented on #11656
Part of the work is done within https://github.com/dbeaver/dbeaver/issues/15524.

[2022-02-17 10:06] E1izabeth opened #15525 "Introduce common SQL grammar for parser"
We need to describe SQL grammar according to the standard.

- [x] describe grammar of bnf grammar rules
- [x] translate sql grammar to internal grammar representation
- [x] allocate rule names to variables for navigation and ide support
- [x] validate grammar translation
- [x] rewrite terminal rules to regular expressions
- [x] remove unnecessary rules
- [x] add demonstration (input: text, output:

[2022-02-17 10:38] e-compagno opened #15526 "Bug: Google cloud sql connector does not work after last update"
#### System information:
- Operating system (distribution) and version: MacOS Catalina 10.15.7
- DBeaver version: 21.3.4

#### Connection specification:
- Database name and version: PostgreSQL 13
- Driver name: Google Cloud SQL - PostgreSQL

#### Describe the problem you're observing:
Since the driver update I cannot connect anymore to the sql database. The error is

[code]
These are the drivers i

[2022-02-17 10:40] Destrolaric commented on #15526
Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-02-17 10:48] e-compagno commented on #15526
[code]

[2022-02-17 10:49] LonwoLonwo commented on #15526
Hello @e-compagno

Thanks for the bug report. We will fix it here soon: https://github.com/dbeaver/dbeaver/issues/15459

[2022-02-17 10:49] #15526 closed, assigned to nobody

[2022-02-17 11:04] LucasAvril opened #15527 "Connection to database problem (TCP/IP error)"
**System Information:**
- Operating system : Linux, Ubuntu 20.04.3 LTS Hosted on VMWare
- DBeaver 21.3.4
- Main System Windows 10 (Windows Server 2019)

**Connection Specification:**
- Database on SQL Server

**The problem:**

![image](https://user-images.githubusercontent.com/77778239/154441598-6bdd3617-ad4f-454d-a108-b16b21cd9908.png)

**Description:**

When I'm trying to connect DBeaver on my v

[2022-02-17 11:25] e-compagno commented on #15459
I haven't been able to implement your solution. Could you please explain more in details on how to solve the `Maven artifact 'maven:/com.google.cloud.sql:jdbc-socket-factory-core:RELEASE' not found` problem and install the library in DBeaver?

[2022-02-17 11:42] e-compagno commented on #15526
I've had a look at the issue in that link. Unfortunately, it is not clear how to solve the `Maven artifact 'maven:/com.google.cloud.sql:jdbc-socket-factory-core:RELEASE' not found` issue. Could you please write more information about it?

[2022-02-17 12:35] e-compagno commented on #15526
I have finally solved it. First up reset DBeaver via (to avoid loosing all connections export the project first)
[code]
1. Install manually the dependencies for the cloud sql driver as
[code]
2. Install
[code]

3. Modify the file (in MacOS)
[code]
replacing `${project.parent.version}` with `1.4.3`.

4. Finally force the download of all libraries in edit driver settings -> download/Update

[2022-02-17 12:38] e-compagno commented on #15459
I've been able to let it work

https://github.com/dbeaver/dbeaver/issues/15526#issuecomment-1042905088

[2022-02-17 12:56] uslss commented on #15527
Did you enable TCP/IP protocol for your MSSQL instance?
https://docs.microsoft.com/en-us/sql/database-engine/configure-windows/enable-or-disable-a-server-network-protocol?view=sql-server-ver15
https://support.smartbear.com/collaborator/faq/how-to-enable-tcp-ip-in-sql-server-configuration-m/

[2022-02-17 12:58] LonwoLonwo commented on #15526
Thanks for the feedback @e-compagno

[2022-02-17 13:07] LucasAvril commented on #15527
Yes, it is ON in SQL Server Configuration Manager.
![image](https://user-images.githubusercontent.com/77778239/154487779-e4a8a70d-e63d-42bc-8a2d-48fc5630d9d0.png)

[2022-02-17 13:19] LonwoLonwo commented on #15490
Thanks for the investigation @dr-1

[2022-02-17 13:23] flambchap opened #15529 "Enabled 'Show all databases' checkbox causes failure to connect to CockroachDB hosted on CockroachCloud"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3 UE
- Additional extensions

#### Connection specification:
- Database name and version CockroachDB on cockroachlabs.cloud
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Steps to reproduce, if exist:
1, Fill in the credentials for your CockroachDB cluster
2. Test connection, e

[2022-02-17 13:30] ShadelessFox commented on #9414
It looks like the issue was fixed in Eclipse 2021-12 (DBeaver 21.3.3 and higher).

It is still needed to remove default keybindings for <kbd>Text Start</kbd> and <kbd>Text End</kbd> because they're set to use <kbd>Home</kbd> and <kbd>End</kbd> by default on macOS.

Please upgrade to the newest version of DBeaver and let me know if the issue persists.

[2022-02-17 13:33] michal-bartak opened #15530 "Unexpected rounding of numbers with lot of fraction digits in grid"
#### System information:
- Fedora 35
- DBeaver version: 21.3.4
- Additional extensions: N/A

#### Connection specification:
- Postgresql 12/13
- Postgres
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
It seems that grid unexpectedly rounds numbers if the number of fraction digits exceeds some limit.
Here is an example:

`SELECT 0.009999999, 0.00

[2022-02-17 13:40] adi-pedro commented on #14942
Hi.

I had the exactly issue and updating the version of the emulator to cloud-sdk:368.0.0 solved the problem.

[2022-02-17 16:21] flambchap commented on #15529
Workaround: in the Driver properties tab, add `--cluster=<routing-id>` value to the options property

[2022-02-17 16:36] LonwoLonwo commented on #15490
Fixed in DBeaver 22.0.0 version

[2022-02-17 16:37] LonwoLonwo commented on #15514
Fixed in DBeaver version 22.0.0

[2022-02-17 17:31] MojitoJoe1813 commented on #9048
Not sure if that pays into this issue, but using the filtering option in the connection details (General tab) on database- as well as schema-level works in **any** view - also the simple view. Using the same technique for the tables does not though. That seems to me a bit inconsistent (why I would see this as a bug even) but might have a technical reason - not sure.

[2022-02-17 17:32] jmcastagnetto opened #15535 "Future support for Arrow Flight SQL"
**Is your feature request related to a problem? Please describe.**

A solution being worked in the Apache Arrow community is the use of an SQL layer over the Arrow Flight protocol, which will allow a client to communicate in a simpler way with a DB backend w/o the need for a multiplicity of drivers.

See for example: https://github.com/apache/arrow/pull/10906 and https://arrow.apache.org/blog/2022

[2022-02-17 18:29] kuriel-trivu commented on #5845
Cannot complete the install because of a conflicting dependency.
  Software being installed: DBeaver SSHJ 1.0.93.202112211454 (org.jkiss.dbeaver.net.sshj.feature.feature.group 1.0.93.202112211454)
  Software currently installed: DBeaver 21.3.3.202201221033 (org.jkiss.dbeaver.core.product 21.3.3.202201221033)
  Only one of the following can be installed at once:
    DBeaver SSH implementation (SSHJ

[2022-02-17 18:36] ShadelessFox commented on #5845
@kuriel-trivu,

The SSHJ extension is now bundled with DBeaver, so I guess that's the reason why you're getting this error.

[2022-02-17 19:44] stephen-philippou-cengage commented on #15381
@Skydiveroid Hey sorry to jump in but I'm getting the exact same issue. Here's my log file if that helps. The last entry is an example of this issue
[salesforceJDBCissue.log](https://github.com/dbeaver/dbeaver/files/8091710/salesforceJDBCissue.log).

[2022-02-17 20:21] kuriel-dev commented on #5845
That's right, the SSHJ option is hidden in SSH under Advanced options.

[2022-02-17 21:42] ilyafrank2021 commented on #14942
Thanks, I tried this but it did not fix the issue for me

[2022-02-18 00:15] MarkA1 commented on #4483
Referencing Issue #5931 here, as it may be a duplicate issue/cause as this one and has no traction yet, and is coming up on three years since I opened it and has plenty of other affected users as well.  It's still THE most annoying bug/issue with DBeaver and I run into it almost daily, when hitting home or end keys that have custom key bindings, which disappear regularly.  Sometimes they work and

[2022-02-18 00:41] MarkA1 commented on #9414
Referencing issue #5931 here, as it's likely the same issue, opened in 2019, custom key bindings on Mac for Home/End, and I can confirm it's still happening in DBeaver 21.3.4.202202051448 on current MacOs 12.2.1.  They work on start-up but are then lost during the session at some point.  Really bad when working in the middle of a hundreds or thousands of lines long file and all of a sudden the END

[2022-02-18 00:50] ShadelessFox commented on #9414
That's unfortunate. Thanks for verifying.

[2022-02-18 06:38] binodkalathil opened #15536 "Is there a keyboard shortcut to focus Filter in Database Navigator?"
**Is your feature request related to a problem? Please describe.**
Folks using keyboard heavily will prefer to focus this filter to type in the table name and other things. While it is currently smooth after focusing this filter but we really need to use mouse to get the cursor in the filter textbox. I checked if there are any keyboard shortcuts available but couldn't find any.

**Describe the sol

[2022-02-18 07:14] uslss commented on #15403
not reproducible against 21.3.5

[2022-02-18 07:14] #15403 closed, assigned to nobody

[2022-02-18 07:39] vermilion2020 opened #15537 "SQLite. An error occurs when open Sequences tab for predefined SQLite connection"
#### System information:
- Operating system: Windows 10
- DBeaver version: 21.3.4

#### Connection specification:
- SQLite default predefined connection

#### Describe the problem you're observing:
An error occurs when opening Sequences tab in Metadata editor or trying to expand it in DB navigator

Steps to reproduce:
1. Expand SQLite default connection in DB navigator
2. double click on Sequences

[2022-02-18 08:21] serge-rider opened #15538 "Optimize Oracle metadata read"
Oracle metadata (especially constraints and foreign keys) performance is awful on some Oracle version.
We need to optimize it.

[2022-02-18 08:27] serge-rider commented on #15538
We will enable metadata read optimization. It consists of the following session parameters:
[code]

For Oracle 10.2 + we will enable optimizer feature
[code]

Query optimization parameters are set for metadata connection only. In case it is disabled optimization will be enabled for  the Main connection (which is used for data read queries).

You can disable these optimizations in connection settin

[2022-02-18 08:41] nanoflow commented on #15459
Still cannot get it working on Ubuntu and will stick to my current work around: downgrade to version 1.4.1 in the following steps:

in 'Edit Driver Settings' / 'Libraries' click on Download/Update
select Version 1.2.0 (or something very old) for the com.google.cloud.sql:postgres-socket-factory driver, check 'Force download / overwrite' and click Download
restart dBeaver
redo the above steps but wi

[2022-02-18 09:06] ShadelessFox commented on #15537
Hello @vermilion2020,

Is your issue reproducible against DBeaver? The attached screenshot features CloudBeaver.

[2022-02-18 09:13] DrakkosSF opened #15539 "Automatic filtering based on privileges for other schemas [Oracle]"
**Is your feature request related to a problem? Please describe.**
I've recently started using DBeaver amb I'm absolutely in love with it. There's already many areas where it outshines other similar software I've used for Oracle databases for the last 10+years. Even though it's a small thing, I find the schema filtering feature requires too explicit user input. Either manually apply exclusions/inc

[2022-02-18 09:21] kseniiaguzeeva commented on #15537
Please see the video

https://user-images.githubusercontent.com/51405061/154654239-df980535-1359-4a6c-9dde-4d86869efe25.mp4

[2022-02-18 09:28] ShadelessFox commented on #15537
It's not a bug. The internal table we're reading sequences from is not created until we use `AUTOINCREMENT` for the first time.

The message describes what went wrong. Perhaps we could suppress it, but do we really want to?

[2022-02-18 09:47] DariaMarkaryan opened #15540 "[Exasol] CSV Import - simple varchar string wrongly mapped as geometry column"
#### System information:
- Win10
- DBeaver CE 21.3.5

#### Connection specification:
- Exasol

#### Describe the problem you're observing:

Wrong data type mapping for varchar value when iport from CSV to a new table.

DDL of table that csv data is exported from:
[code]

CSV data:
[code]

Target DDL when import from CSV:
![image](https://user-images.githubusercontent.com/43252954/154657020-82feb73

[2022-02-18 10:05] Mizar01 opened #15541 "Tab View Navigation Inconsistent"
When viewing a single resulting row with 'TAB' view, I can click on foreign keys and go straight to the foreing record.

Through the left and arrow green keys I can go back and forward trought the selected tables. But when I press the left arrow to go back to my initial result, the tab view is showing me another record.

Step to reproduce:

- select * from table1
- move to the result grid, select

[2022-02-18 11:04] superDuperCyberTechno commented on #8209
Shift+scroll is still (again) borked in the results in v21.3.4.202202051448.

Both when accessing/browsing data directly from the database explorer and from SQL queries.

[2022-02-18 11:42] E1izabeth opened #15542 "Block selection by parse tree"
We need to introduce algorithm for finding block by parse tree to support block execution in sql script editor.

[2022-02-18 11:51] LonwoLonwo commented on #13598
The feature is implemented for ORACLE and other Databases, which do not support INSERT INTO DEFAULT VALUES for the Insert all empty values in the row. In DBeaver 22.0.0.

[2022-02-18 12:02] perverez opened #15543 "SQL script with ;WITH"
Hello,

running the code listed as batch (Alt + X), displaying the error 'Must declare the table variable "@TABLENAME"'. Under MS SQL Server Management Studio, the script is correct. I believe the semicolon in front of WITH is causing the problem. The code is of course only an example.

Can you help me with the error? Thank you. P.

[code]
Microsoft SQL Server Standard (64-bit)
Windows Server 2016

[2022-02-18 12:32] kseniiaguzeeva commented on #15537
The error didn't appear in earlier versions.

[2022-02-18 12:39] kseniiaguzeeva opened #15544 "Columns with aliases cannot be edited in the ResultSet"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.5 EA

#### Steps to reproduce, if exist:
Execute a select statement with a column alias (e.g. in SQLite `select ArtistId as abc from Artist`)

**Expected**: the columns can ve edited
**Actual result**: the columns with aliases canot be edited.

![dbeaver_J37s4BVAdi](https://user-images.githubusercon

[2022-02-18 12:48] kseniiaguzeeva opened #15545 "SQL Editor: Empty line doesn't work as a delimiter"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.5 EA

#### Steps to reproduce, if exist:
1. Write 2 SQL queries in the SQL Editor and divide them by one or more empty lines. E.g. for PostgreSQL on db1.pagila.public
[code]
2. Place the cursor on the second statement and execute it.

**Expected**: the second statement is executed
**Actual result**:

[2022-02-18 13:29] uslss commented on #15429
#13804

[2022-02-18 13:48] uslss opened #15546 "Data Transfer: Recreate mapping is reset at mapping step in case user move backward than forward"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.3.5

#### Steps to reproduce, if exist:
1. Start import to table
2. At mapping step choose Recreate mapping option.
3. Press Back button
4. Press Next button

Actual result: mapping is reset:
![dbeaver_KG4eJO1fv3](https://user-images.githubusercontent.com/31996417/154693984-820075c2-8026-4ab7-8dd5-232

[2022-02-18 14:12] kseniiaguzeeva commented on #15545
Delimiter settings must be changed in Preferences to change the behaviour.

[2022-02-18 14:12] #15545 closed, assigned to nobody

[2022-02-18 14:18] mihalyr commented on #7777
Hi, I'm not sure if this is the same issue. I have noticed that if I paste SQL into the editor with long lines (e.g. a generated SQL to insert data from an existing table), I only have a **single** INSERT that is 120k character long and it completely locks up the editor for seconds when moving the cursor around, it freezes on keystrokes, runs one CPU at 100% with fans spinning high to keep my lapt

[2022-02-18 14:40] uslss commented on #15421
verified

[2022-02-18 14:40] #15421 closed, assigned to ShadelessFox

[2022-02-18 14:44] AtillaSE commented on #14726
I used the pre-built re-install, just download from [https://dbeaver.io/download/](url) and re-install. All settings will still be there. Fixed this problem on my Mac

[2022-02-18 15:34] flambchap opened #15551 "Order transaction isolation levels in the transaction manager from least to most strict"
Currently, the list looks like this:
![Screenshot 2022-02-18 183324](https://user-images.githubusercontent.com/26031301/154713032-cf9c8018-4072-4cf9-bf82-f87bdcb647e9.png)

It is strange because Read committed is more strict than Read uncommitted.

[2022-02-18 15:36] mquqi opened #15552 "Column description not included in csv export"
System information:
- DBeaver version 21.3.4

Connection specification:
- infor-compass-jdbc-2020-09.jar

Problem:
Column description is not exported csv file
- bpid is exported to csv
- Business Partner is not exported to csv

![Column description](https://user-images.githubusercontent.com/99980113/154713706-bdd7285e-c7e5-4085-a648-ce8a1522200b.JPG)

[2022-02-18 15:54] kumaran-IV0IV opened #15554 "DBeaver disconnects from DB automatically after some time."
#### System information:
- Windows 10
DBeaver Version - 21.3.4
- Java 8
- Additional extensions :  None

#### Connection specification:
- MySQL 5
- JDBC
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
DBeaver disconnects from DB automatically after some time.
when I try to execute a query after some time of inactivity like 5 minutes, the applicati

[2022-02-18 16:56] ShadelessFox commented on #15459
As a workaround we've explicitly added the missing dependency.

The fix will be available in DBeaver 21.3.5.

[2022-02-18 16:59] dmbrenn-lirr opened #15555 "Sybase jConnect connections: Queries specifying columns that start with go_ are treating the 'go' as a script delimiter."
Version 21.3.4.202202051448
OS: Windows 10 Enterprise, Version: 1901
Database: Sybase jConnect, Driver Type: SQL Server (Generic)
Tunnels/Proxies: None

When creating a query on a table that has a column that starts with go_ the go is interpreted as a script delimiter string and the query returns an SQL Error after stripping away the 'go'.
This occurs even when changing the 'script delimiter' sett

[2022-02-18 17:51] michal-bartak commented on #15554
Check DB logs for disconnects issued by database (idle connection, idle transaction whatever)

[2022-02-18 17:52] FzzyBnny commented on #15459
Thank you for looking into this @ShadelessFox

[2022-02-18 18:04] uslss commented on #15459
verified

[2022-02-18 18:04] #15459 closed, assigned to uslss, ShadelessFox

[2022-02-18 18:19] ShadelessFox opened #15556 "Resolve property values in Maven POM files"
DBeaver finds all the dependencies of an artifact with the given version specified in the POM file and downloads them from the Maven repository.

It works fine if the version is specified as a plain string (e.g. `1.0.0`), but in the case of properties, we do not resolve them, causing the dependency to be ignored because DBeaver couldn't find it. There's a workaround of manually adding the missing

[2022-02-18 18:20] ShadelessFox commented on #15459
I've created a separate ticket about resolving POM properties: #15556

[2022-02-18 18:44] padraic-mcatee commented on #7733
Port is reachable by telnet.

[2022-02-18 19:04] ShadelessFox commented on #15552
Hello @mquqi,

You have to enable it in the data transfer wizard:

![image](https://user-images.githubusercontent.com/35821147/154746181-53cddad7-b609-4662-ae84-73986d73285c.png)

Let me know if you have additional questions.

[2022-02-18 19:08] skannan-maf commented on #7733
Ah! Thats surprising! I remember trying a downgraded version of their driver and it clearly mentioned something on 'Network connectivity'...... Try a lower version of the driver and you will see a change of error msg... That might give you some clue. Good luck!

[2022-02-18 19:37] ashf commented on #11194
I am still seeing this issue:

DBeaver Version 21.3.2.202112271055
PostgreSQL 10.18 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 7.3.1 20180712 (Red Hat 7.3.1-12), 64-bit

[2022-02-18 19:58] sfintz opened #15557 "SQL Developer variable table name works but DB Weaver does not"
#### System information:
- Operating system (distribution) and version: Windows
- DBeaver version: Version 21.3.2.202112271055, Dec 27, 2021 release
- Additional extensions

#### Connection specification:
- Database name and version: Oracle Database Native
- Driver name; standard one
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

SQL Developer vari

[2022-02-18 20:09] mquqi commented on #15552
Thanks for the quick response!
Unfortunately already tried that, description never comes to csv, only label.

[2022-02-18 20:09] darandavis commented on #3377
@sssnarl That assumes you have installed SQL Server locally right? What if I just want to connect to a company SQL Server instance and the port defaults to 1433 and ignores my port supplied in the connection settings?

[2022-02-18 22:28] ShadelessFox commented on #15552
Unfortunately, I can't reproduce your issue.

Table:
![java_FjPPcs0mn4](https://user-images.githubusercontent.com/35821147/154769518-0b76e323-d091-4f4e-a48c-48daf89db375.png)

CSV:
![notepad++_X8TyGuZxec](https://user-images.githubusercontent.com/35821147/154769529-c776c53c-fefa-49ad-9de4-d8e1a0abe2cf.png)

[2022-02-18 22:32] ShadelessFox commented on #7890
Fixed in #15421

[2022-02-18 22:32] #7890 closed

[2022-02-18 23:25] mikebridge opened #15558 "Feature Request: customize cancel button colour"
**Is your feature request related to a problem? Please describe.**

The cancel button is bright green---this is the international colour for "GO", not "CANCEL".  As a result I keep accidentally clicking on the wrong button.

**Describe the solution you'd like**

The Cancel button should be a neutral colour

![green_button](https://user-images.githubusercontent.com/213273/154774144-fac2fce7-0d6d-43

[2022-02-18 23:46] xantari commented on #11942
Reopening this issue.

Using 21.1.4 and this no longer works. Getting the function did not complete error PWS0001:

![image](https://user-images.githubusercontent.com/6610039/154775534-3cc3ee86-5fb6-4c72-9bc1-9e79600c4846.png)

[2022-02-18 23:55] xantari commented on #11942
Log:

2022-02-18 17:47:47.850 - Connected (db2_iseries-15946833307-1eb6d2776c993fc2, AS/400 Toolbox for Java JDBC Driver [12.7])
2022-02-18 17:47:47.866 - Execution context opened (DB2 - SERVERNAME; SQLEditor <Script-93.sql>; 5)
2022-02-18 17:47:48.208 - Duplicate object name 'VARGRAPHIC' in cache GenericDataTypeCache. Last value: VARGRAPHIC
2022-02-18 17:47:53.480 - Skip statistics index 'MYFILE_

[2022-02-19 03:44] alexsanabria commented on #15381
Hi @Skydiveroid

This is my log for the issue.

Thank you for your answer and your help

################################ LOG ############################
!ENTRY org.jkiss.dbeaver.model 4 0 2022-02-19 03:30:46.654
!MESSAGE the requested scope is invalid, unknown, or malformed
!SUBENTRY 1 org.jkiss.dbeaver.model 4 0 2022-02-19 03:30:46.654
!MESSAGE the requested scope is invalid, unknown, or malfor

[2022-02-19 04:10] AlexandreHGuerra commented on #1346
The issue still happening on 21.3.4. have been struggling to find a way to switch to another DB and its amazing that even setting the dafult, it just sticks to the default postgres. tried even to set the default driver parameter to no avail

[2022-02-19 06:39] goul4rt commented on #1361
This is working fine 19/02/2022
Just need install mysql before start the process in your comment.
`brew install mysql`

[2022-02-19 09:02] thomas-covenant commented on #7521
snap is the biggest crap, uninstall snap version and use the deb package

[2022-02-19 11:43] ShadelessFox commented on #15558
Hello @mikebridge,

It's an operating system's default color for **default** dialog buttons. We can't change its color.

[2022-02-19 11:43] #15558 closed, assigned to nobody

[2022-02-19 17:15] peterprvy opened #15559 "DDL not include default value type sequence: nextval ('sequence_name':regclass) OR DBeaver bad identify datatype ? real datatype is integer, but DBeaver identify serial4"
#### System information:
- Windows 10 64 Bit
- DBeaver 21.3.4

#### Connection specification:
- PostgreSQL
- Server: PostgreSQL 13.3 (Debian 13.3-1.pgdg100+1)
- Driver: PostgreSQL JDBC Driver 42.2.20
- Not using tunnels or proxies

#### Describe the problem you're observing:

Generated DDL not include default value type sequence: nextval ('sequence_name':regclass)

#### Steps to reproduce, if exis

[2022-02-19 20:53] xantari commented on #11942
Re-closing this. So I found out that if you put in too large of a value for "lob threshold", such as 32769999999 viewing of the blob data stops working. However a value of 32679999 (32 megabytes) seems to work fine.

So I guess the moral of the story here, is don't put an unreasonably high value.

[2022-02-19 20:53] #11942 closed, assigned to nobody

[2022-02-19 20:55] xantari commented on #14269
@dkornacki-cutco Try use the following driver values for IBMi:

metadata source: 0
translate binary: true
date format: iso
time format: iso
extended metadata: false

And these UI settings:
![image](https://user-images.githubusercontent.com/6610039/154818748-4ff97396-8436-4fe4-8238-f9fcb9afde74.png)

![image](https://user-images.githubusercontent.com/6610039/154818746-66481802-5713-4bd6-b890-200a3f

[2022-02-20 13:48] SilvioGrosso commented on #6398
I work with Sqlite databases with softwares like Db Browser, Sqlite-gui, Sqlitestudio and this feature (auto-refresh) works beautifully for my needs...
Whenever I drop a table; rename it etc the change is visually refreshed automatically (NO need to press F5)

Therefore, I vote +1 to this feature request :smile:
It might be a preference you chose to adopt or not (in order to let anyone free to dec

[2022-02-20 17:26] ShadelessFox commented on #15559
Hello @peterprvy,

The `SERIAL` types are implicitly autoincremented by default. The default value may not be specified for such attributes.

[2022-02-20 17:26] #15559 closed, assigned to nobody

[2022-02-20 17:47] peterprvy commented on #15559
@ShadelessFox

Intellij Idea identify column as integer, not serial:

![image](https://user-images.githubusercontent.com/36068077/154856380-04376bf3-245e-415b-a7e7-2c379d381754.png)

DDL:

![image](https://user-images.githubusercontent.com/36068077/154856335-aabc8036-56f3-4155-a605-2264d97aed4f.png)

[2022-02-20 17:49] ShadelessFox commented on #15559
Integers do require the `nextval` expression as their default values.

[2022-02-20 17:50] peterprvy commented on #15559
@ShadelessFox

pgAdmin identify columns as integer, not serial

![image](https://user-images.githubusercontent.com/36068077/154856512-5d84da47-f5b6-4bff-b0f7-16d677e8b361.png)

please reopen issue

[2022-02-20 17:51] peterprvy commented on #15559
@ShadelessFox

Dbeaver badly found data type, Pleasr reopen issue

[2022-02-20 18:01] ShadelessFox commented on #15559
It's a feature. The original type is indeed an integer.

If the attribute contains the `nextval` expression as its default value, DBeaver changes its type to `serial`.

[2022-02-20 18:07] peterprvy commented on #15559
@ShadelessFox
But there is no mention of this in DDL and when creating a table in another database I forget to create a seqeunce.

[2022-02-20 18:24] ShadelessFox commented on #15559
The `SERIAL` type is a sugar that PostgreSQL provides.

You can try creating a new database containing an attribute of type `SERIAL`, and it will erase it down to `int` with `nextval` as its default value. A sequence is created automatically.

[2022-02-20 19:50] serge-rider commented on #14694
Language can be changed in `config.ini` in `~/.eclipse/${product-version-id}/configuration` folder

Sample configuration:
[code]
We can modify this file instead of primary `dbeaver.ini` in product installation directory.

Note: this setting takes effect only for particular product version. After new version install it stop working.

[2022-02-20 20:00] serge-rider commented on #14694
We also probably should keep only major version in .eclipseproduct to avoid configuration loose every minor version update

[2022-02-21 02:36] xiguazhiPrince opened #15561 "where the setting that close the self-starting when the computer startup"
where the setting that close the self-starting when the computer startup

[2022-02-21 04:20] JiaOkay opened #15562 "When press "Ctrl+S" the texteditor go to the end"
#### System information:
- System infomation
- Deepin linux 20.4 base on debian 10 , kernel:  5.15.6-amd64-desktop
- DBeaver version
- DBeaver 21.3.5.202202200327
- Additional extensions
- null

#### Connection specification:
- Database name and version
- Oracle 11g R2
- Driver name
- JDBC Thin Client
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
- NO

#### Describe the problem you're observi

[2022-02-21 05:25] gouravkr commented on #6839
I came looking for this same issue, and I don't understand the response. Copy as HTML still copies with the query. Has there been any addition of `Copy as HTML without query` option which I can't find?

I regularly copy-paste data from the output to Excel and have to take the additional step of removing the query from the first row. Would be nice to be able to define a keyboard shortcut for `Copy

[2022-02-21 05:48] LonwoLonwo commented on #15537
Fixed.

[2022-02-21 06:29] ArchDemons opened #15563 "Error when exporting function"
#### System information:
- Operating system Windows 10
- DBeaver version 21.3.5.202202200327

#### Connection specification:
- Database Postgres 11

#### Describe the problem you're observing:
There is a problem when we generate script for a schema with a function that returns a table. ALTER FUNCTION and GRANT ALL strings are formed incorrectly (returned table fields including into function argume

[2022-02-21 07:34] flambchap commented on #15551
Reordered.

[2022-02-21 07:59] Matvey16 commented on #15188
@BambangSumitra That is a bug in how new driver is created in DBeaver

[2022-02-21 08:02] Matvey16 commented on #14935
@Sergey-V-R Thank you for the report

[2022-02-21 08:17] uslss commented on #15554
@michalk-k Could you try to change the keep-alive value in connection properties to non-null and check if it fixes your issue?
![image](https://user-images.githubusercontent.com/31996417/154914754-15aaf7ac-b08e-4834-8c25-16d3dce2a158.png)

[2022-02-21 08:20] uslss commented on #15562
thanks for the report

[2022-02-21 08:23] uslss commented on #15541
thanks for the report

[2022-02-21 08:26] rhuesken opened #15564 "Cursor jumps to end of file when query was changed and executed using CTRL+ENTER"
#### System information:
- Windows 10
- Version 21.3.5.202202200327

#### Connection specification:
- Database name and version: Postgres 13

#### Describe the problem you're observing:
I have many queries I execute often in a script file for testing purposes. When I change a query (e.g. new condition) and execute it using CTRL+ENTER, the cursor jumps away from the current query and goes to end of

[2022-02-21 08:27] uslss commented on #15536
@binodkalathil probably, you could use Ctrl+Alt+Shift+T shortcut. Does it resolve your issue?
![image](https://user-images.githubusercontent.com/31996417/154916472-d8513971-7deb-4081-b96f-801227485352.png)

[2022-02-21 08:31] uslss commented on #15530
@michalk-k number of fraction digits could be changed in connection or global preferences: Editors - Data Editor - Data Formats
![image](https://user-images.githubusercontent.com/31996417/154917087-6935014c-60c2-49b9-ab45-de0746684b08.png)

[2022-02-21 08:33] uslss commented on #15519
thanks for the report

[2022-02-21 08:34] uslss commented on #15564
thanks for the report
closed as a duplicate of #15562

[2022-02-21 08:34] #15564 closed, assigned to nobody

[2022-02-21 08:55] LonwoLonwo commented on #14496
- H2 version 2 Support added (sequences and routines reading fixed)
 - table DDL reading added for H2 version < 2
 - Ability to create Check constraint, comment on constraint implemented
 - Ability to rename table via UI implemented
 - Ability to DROP and add COMMENT to sequence via UI implemented

![2022-02-16 11_33_45-DBeaver Ultimate 21 3 5 - EMPLOYEE](https://user-images.githubusercontent.com/

[2022-02-21 08:58] LonwoLonwo commented on #14752
![2022-02-17 10_20_11-Connect to a database](https://user-images.githubusercontent.com/45152336/154439200-1d20bf8f-f8ba-4b7c-9b8f-150244bd9b4a.png)

New H2 driver added for embedded version. Due to partial incompatibility of versions of databases and drivers.

All support added here: https://github.com/dbeaver/dbeaver/issues/14496

[2022-02-21 08:58] LonwoLonwo commented on #13229
All support added here: https://github.com/dbeaver/dbeaver/issues/14496

[2022-02-21 09:28] DariaMarkaryan opened #15566 "[MySQL] Wrong sql query when creating view in UI editor"
#### System information:
- Win11
- DBeaver CE 21.3.5

#### Connection specification:
- MySQL

#### Describe the problem you're observing:
The correct query for creating a view (if you execute it from the SQL editor, the view will be successfully created) is distorted when saving the view and becomes incorrect

View DDL:
[code]

How it looks in query manager:
[code]

#### Steps to reproduce, if exi

[2022-02-21 09:39] brvaland opened #15567 "Snowflake authenticator option is not available 21.3.5 but worked fine 21.3.4"
System information:
- MacOS 11.6.4
- DBeaver 21.3.5

Connection specification:
- Snowflake

#### Describe the problem you're observing:
I have upgraded to DBeaver 21.3.5 from 21.3.4 and noticed snowflake authenticator free text field is changed to drop down menu which does not allow is to enter our identity provider url and forces us to use external browser - SSO.

In version 21.3.4 it allowed us

[2022-02-21 10:51] LonwoLonwo commented on #15563
Hello @ArchDemons

Thanks for the bug report

[2022-02-21 11:20] serge-rider commented on #15567
Fixed (custom authenticators config now available)

[2022-02-21 11:23] Matvey16 commented on #13598
Verified

[2022-02-21 11:23] #13598 closed, assigned to LonwoLonwo, Matvey16

[2022-02-21 11:48] brvaland commented on #15567
Hi @serge-rider, Thanks for your help.

[2022-02-21 12:32] Matvey16 commented on #15490
Verified

[2022-02-21 12:32] #15490 closed, assigned to LonwoLonwo, Matvey16

[2022-02-21 13:30] ShadelessFox commented on #15363
Would be cool to also test: #11508

[2022-02-21 13:45] goxr3plus opened #15570 "Search query results rows based on row filter ( keyword )"
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/20374208/154966811-51e7841d-f010-4704-bf68-05cd1f559734.png)

On Oracle Workbench after i search on a specific table i can then further filter as you can see on the image .

It is searching column by column every row and if it finds the specific keyword on any column it shows that row on the results . If it doesn't that row isn'

[2022-02-21 13:53] Matvey16 commented on #15567
Verified

[2022-02-21 13:53] #15567 closed, assigned to serge-rider, Matvey16

[2022-02-21 13:58] ShadelessFox commented on #13658
Hello @wiwwo,

I'm unable to reproduce your issue against DBeaver 21.3.5.

Could you please download the latest version and see if the issue is gone there?

[2022-02-21 14:00] GuenterSch commented on #15471
Is it possible to change the date format already in one of the next milestones? Would be very nice!

[2022-02-21 14:03] ShadelessFox commented on #15471
Hello @GuenterSch,

Currently, it's not possible.

We'll add a new preference to change the date format used in the status bar.

[2022-02-21 14:06] michal-bartak commented on #15530
Thank you. It works and I'm happy with it.
But still have mixed feelings about the default settings which skews data significantly without warning.
Also found no option to just truncate to maximum displayed number of digits. Only rounding down works with my example but obviously it must not work in other cases.

BTW Postgres documentation says:

DBeaver settings have accepted this number :) Hope i

[2022-02-21 14:09] michal-bartak commented on #15554
@kumaran-IV0IV the advice from @uslss is directed to you rather than me.

[2022-02-21 14:50] Xylandor opened #15572 "Changes to Bind Parameter Window Broke Value Tabbing Capabilities"
#### System information:
- OS:  MacOS Big Sur v11.4
- DBeaver version:  21.3.5.202202200327
- Additional extensions:  None

#### Connection specification:
- Local installation of MariaDb
- Driver name: MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
The latest release (21.3.5.202202200327) added the multi-line value editor to the Bind Para

[2022-02-21 15:01] Matvey16 commented on #14895
Verified

[2022-02-21 15:01] #14895 closed, assigned to ShadelessFox, Matvey16

[2022-02-21 15:04] uslss commented on #15537
verified

[2022-02-21 15:04] #15537 closed, assigned to uslss, LonwoLonwo

[2022-02-21 15:11] Matvey16 commented on #15363
Verified

[2022-02-21 15:11] #15363 closed, assigned to ShadelessFox, Matvey16

[2022-02-21 15:31] Matvey16 commented on #14944
@suhailmemon Can you open this procedure from database navigator?

[2022-02-21 15:54] WellspringCS opened #15575 "bind parameters dialog displays when array_upper() is not surrounded by parentheses"
#### System information:
- Ubuntu 18.04
- DBeaver Version 21.0.5.202105160657
- Postgres

#### Describe the problem you're observing:

-- works
WITH x(a) AS (SELECT '[5:7]={1,2,3}'::int[]) SELECT a[array_lower(a, 1):(array_upper(a, 1))] FROM x

-- produces bind parameters dialog (when I do with array_upper as I do with array_lower, by removing a set of parentheses)
WITH x(a) AS (SELECT '[5:7]={1,2

[2022-02-21 15:56] uslss commented on #14752
verified

[2022-02-21 15:56] #14752 closed, assigned to uslss, LonwoLonwo

[2022-02-21 15:59] uslss commented on #13229
verified

[2022-02-21 15:59] #13229 closed, assigned to uslss, LonwoLonwo

[2022-02-21 16:46] BuZZ-dEE opened #15576 "Table input filter in data tab is blocked if DBeaver fetches data"
I can not enter a filter value in input field on the data tab, if DBeaver fetches data.

[2022-02-21 17:21] nilerdar commented on #15509
hey have you found a solution?

El mié, 16 feb 2022 a las 16:35, kerrykw ***@***.***>)
escribió:

[2022-02-21 20:00] DariaMarkaryan opened #15577 "[Exasol] Can't see schema and table names in metadata panel"
#### System information:
- Win11
- DBeaver CE 21.3.5

#### Connection specification:
- Exasol

#### Describe the problem you're observing:
Catalog, schema and table names aren't visible in panel metadata
![image](https://user-images.githubusercontent.com/43252954/155019286-de500fbe-192f-4bdf-a384-f98bbf1421cc.png)

[2022-02-21 20:18] DariaMarkaryan opened #15578 "Pinned columns are not visible when opening a table via reference in data grid"
#### System information:
- Win11
- DBeaver CE 21.3.5

#### Connection specification:
- Not specific

#### Describe the problem you're observing:
Pinned columns are not visible when opening a table via reference in data grid. If you open table with pinned column once more from navigator, you can see that column is still pinned.
#### Steps to reproduce, if exist:
1. Open  a table with outgoing refer

[2022-02-21 20:51] nickbg321 opened #15579 "Visual glitches on Fedora 35"
#### System information:
- Operating system (distribution) and version: Fedora 35 (GNOME edition)
- DBeaver version: 21.3.5
- Additional extensions: N/A

#### Describe the problem you're observing:
After installing DBeaver on Fedora 35 I found a few unpleasant visual glitches. Modal windows like database connection dialog and preferences look broken and out of place. Also the loading splash screen

[2022-02-21 20:51] nickbg321 opened #15580 "Visual glitches on Fedora 35"
#### System information:
- Operating system (distribution) and version: Fedora 35 (GNOME edition)
- DBeaver version: 21.3.5
- Additional extensions: N/A

#### Describe the problem you're observing:
After installing DBeaver on Fedora 35 via the RPM package on https://dbeaver.io I found a few unpleasant visual glitches. Modal windows like database connection dialog and preferences look broken and ou

[2022-02-21 21:46] Xylandor opened #15581 "Document Auto-Scrolls to End After Saving"
#### System information:
- OS:  MacOS Big Sur v11.4
- DBeaver version:  21.3.5.202202200327
- Additional extensions:  None

#### Connection specification:
- Local installation of MariaDb
- Driver name: MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Since the update to 21.3.5.202202200327, anytime you save changes to a script with many lin

[2022-02-21 22:35] terremoth opened #15582 "Failed to export CSV, last screen freezes and cannot be closed nor canceled"
#### System information:
- Operating system Lubuntu 20.04 LTS
- DBeaver version: 21.3.5
- Additional extensions: none, just downloaded DBeaver from website

#### Connection specification:
- Database name and version
$ mysql --version

- Using through SSH

#### Describe the problem you're observing:
The EXPORT to CSV is not working: not finishing or finish loading to the file (the csv file is not e

[2022-02-22 00:15] ShadelessFox commented on #15581
Hello @Xylandor,

Thanks for the bug report.

Duplicate of #15562

[2022-02-22 00:15] #15581 closed, assigned to nobody

[2022-02-22 03:36] zhyanjuncn opened #15583 "DBeaver数据库怎么设置字体大小？具体位置*****客户端工具如何设置数据库-下面的属性-列那字体字体的大小怎么变大？"
客户端工具怎么设置 数据库-下面的属性-列那一行字体的大小？

[2022-02-22 03:51] scrignar opened #15584 "DB Full-Text Search limited at 5000 tables, unable to search/load more in the tree"
#### System information:
- Windows 10 Pro 64bit
- DBeaver version 21.3.4.202202051448

#### Connection specification:
- PostgreSQL 11.9
- PostgreSQL JDBC Driver [42.2.5]

#### Describe the problem you're observing:
When attempting to conduct a full-text search in a DB that has ~10000 tables, the tree in the databases field truncates at 5000 tables. When clicking the checkbox for the Tables node, i

[2022-02-22 04:58] william-mason opened #15585 "DBeaver not in Launch Menu"
#### System information:
- Operating system (distribution) and version
[code]
- DBeaver version
  `DBeaver Community                             io.dbeaver.DBeaverCommunity                           21.3.5           stable`
- Additional extensions
  none

#### Connection specification:

#### Describe the problem you're observing:

* After installing `dbeaver` using flatpak
  `flatpak  install flat

[2022-02-22 05:40] igorzhilin commented on #15387
I noted that the autocompletion also removes the # prefix (SQL server temp tables)

[2022-02-22 05:56] LonwoLonwo commented on #15584
Hello @scrignar

Thanks for the bug report.

As a workaround, you can change the acceptable number of fetched elements in the Preferences -> User Interface -> Navigator.

Note for future development: Schema compare didn't work also. (No DoubleClickListener?)

![2022-02-22 08_49_08-DBeaver Ultimate 21 3 5 - language](https://user-images.githubusercontent.com/45152336/155071796-7a35a370-d99a-4d60-8e

[2022-02-22 06:01] LonwoLonwo commented on #15387
Hello @igorzhilin

Thanks for the note.

[2022-02-22 08:05] LonwoLonwo commented on #14766
Ctrl+Shift+D search fixed for objects in the Navigator tree: tables, views, etc.

I can't reproduce the issue with the search in other databases. I advise you to use the focus when activating the dialog box at the database objects that interest you. I hope it will help.

Note: This setting in the preferences may influence the search:

![2022-02-22 10_56_27-DBeaver Enterprise 21 3 5 - language](htt

[2022-02-22 09:03] ShadelessFox commented on #15583
Hello @zhyanjuncn,

Please describe your issue in English according to our issue templates.

[2022-02-22 09:04] ShadelessFox commented on #14032
Another case can be seen here: #15582

[2022-02-22 09:13] flambchap commented on #15509
Hello @nilerdar. What operating system do you use?

[2022-02-22 09:52] serge-rider commented on #10724
Fixed

[2022-02-22 10:00] Khartir opened #15591 "Filtering by tablename in datasource dialog no longer works"
#### System information:
- Linux Mint 19.3
- DBeaver version 21.3.5

#### Describe the problem you're observing:
The last update broke the filter function in the source container selection window when importing data from a different database. Previously the filter would work on the tables inside of databases/connections (like it still does in the main window). Now it works on connections instead.

[2022-02-22 10:08] #15527 closed, assigned to nobody

[2022-02-22 11:42] wayneyaoo commented on #15297
Hi is it possible to pop up a Window for re-authentication? If the driver cannot handle the refresh token at least providing a way for user to re-authenticate seems to be a good alternative. I'm having this issue to mostly because of my tenant had hardcoded token expiration time. After the expiration I can no longer connect to the DB with dbveaver because it doesn't allow me to re-auth even rebuil

[2022-02-22 12:03] flambchap commented on #15583
Hello @zhyanjuncn. I tried to translate your message using Google Translator, but unfortunately, the translation is incomprehensible. Can you please rephrase it? Additional pictures would be great as well.

[2022-02-22 12:29] LonwoLonwo commented on #15591
Hello @Khartir

Thanks for the bug report.

[2022-02-22 12:34] uslss commented on #15562
verified

[2022-02-22 12:34] #15562 closed, assigned to uslss, ShadelessFox

[2022-02-22 12:39] uslss commented on #10724
verified

[2022-02-22 12:39] #10724 closed

[2022-02-22 13:04] Matvey16 commented on #15557
@sfintz Hello. Did you exucute statements 1, 2 and 3 one by one or as a whole script? If 1 and 2 worked, then can you please show me the query that leads to “SQL Error [903] [42000]: ORA-00903: invalid table name”, it can be found in query manager

[2022-02-22 13:17] uslss commented on #14496
verified

[2022-02-22 13:17] #14496 closed, assigned to uslss, LonwoLonwo

[2022-02-22 13:21] rodrigobahiense commented on #11338
I'm having the same issue connecting to a localhost (127.0.0.1) database after installing a VPN.

Disabling the VPN or the config "Read table metadata" solves the issue; still, I'd rather have it working as intended.

I'm using the Community Edition on Linux (Fedora 35).

Is there any debug flag/option I can use to investigate further? It seems like flat 10 seconds are added to the queries, so it

[2022-02-22 13:36] serge-rider commented on #15591
Fixed.
Now it is possible to use filter settings in dialogs too

[2022-02-22 14:31] stumbi opened #15594 "Can't import large CSV into Windows"
Using Windows 10 (Home)
DBeaver 21.3.5
PostgreSQL 14

I try to import csv Files of ~1GB or above into a table, but it crashes after 150.000 rows.
The import window remains open, but nothing appears to happen. After restarting DBeaver imported
said rows, but nothing else.

Thanks in advance

[2022-02-22 14:32] Matvey16 commented on #15538
Verified

[2022-02-22 14:32] #15538 closed, assigned to serge-rider, Matvey16

[2022-02-22 14:34] sfintz commented on #15557
Hi @Matvey16 - I ran 1, 2, 3 one by one.  In both scenarios, the errors are from the queries in # 3 (I only trimmed the actual table name for data privacy reasons).  Please let me know if that helps get to the bottom of this.  Thank you!  @sfintz

[2022-02-22 15:31] ShadelessFox commented on #15594
Hello @stumbi,

Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

Thank you.

[2022-02-22 15:33] scrignar commented on #15584
@LonwoLonwo thank you for the workaround, much appreciated!

[2022-02-22 16:12] E1izabeth opened #15595 "NPE while getting table DDL in Clickhouse when user is readonly"
https://user-images.githubusercontent.com/28875055/155171959-94089e38-11df-4f21-87b8-6dec3a7f13b2.mp4

[2022-02-22 16:14] Matvey16 commented on #15557
@sfintz So the table was created succesfully? I need to see what query was sent to database and led to the error. You can find it in query manager

![dbeaver_wPgDDxqfZd](https://user-images.githubusercontent.com/82543000/155172663-e9ec0435-ecb3-4951-a804-997b051be89c.png)

It will look like this

![dbeaver_VjrUcEvBl3](https://user-images.githubusercontent.com/82543000/155172739-a0def6b1-e1d3-455e-

[2022-02-22 16:36] Matvey16 commented on #14766
Verified

[2022-02-22 16:36] #14766 closed, assigned to LonwoLonwo, Matvey16

[2022-02-22 17:26] sfintz commented on #15557
Hi @Matvey16 - I mis-wrote earlier as the "SQL Error [900] [42000]: ORA-00900: invalid SQL statement" in scenario #1 came from the SQL statement #1 (define TN_CP = ‘CP_202201’; which when not trimmed is define TN_CP = ‘cube_param_202201’; ).  I could not proceed to #2 and #3 because of that.   See below for the query manager snippet for that SQL statement #1 and let me know if that helps clarify b

[2022-02-22 17:56] luiscarlosbolanhos opened #15598 "21.3.5 -- New scripts now position cursor to the end of script BUG?"
#### System information:
- Operating system (distribution) and version : Windows 11 64 Bits
- DBeaver version : DBeaver 21.3.5
- Additional extensions: None

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/back

[2022-02-22 19:34] padraic-mcatee commented on #7733
That worked. Thank you!

I was using 11.0.x - downgrading to vertica jdbc version 9.0.x fixed it for me! I noticed this when I tried the connection using a separate SQL client which automatically downloaded version 9 over the later ones.

[2022-02-22 21:02] marlarius opened #15599 "DBeaver ignores fragments in links"
#### System information:

Manjaro Linux
DBeaver version 21.3.3.202201242151

#### Connection specification:
SQL Lite

#### Describe the problem you're observing:
DBeaver automatically shows a small url arrow in columns containing urls. This is a nice feature that makes links clickable and open them in the default browser.

However, the fragment part (after the hash #) is ignored. So the link https

[2022-02-22 21:55] coryroyce commented on #2752
This works for me:
`brew upgrade --cask dbeaver-community`

[2022-02-22 22:01] Matvey16 commented on #15557
@sfintz If I understood you correctly you are trying to create a variable with `define` command. But it works differently in DBeaver. You need to use `@set` for variables and also be careful with quotes or semicolon, because they will also be added to a variable string.

If I understood you correctly, your script will be something like this
[code]
![dbeaver_h7GAcpn3yk](https://user-images.githubus

[2022-02-22 22:31] nicchristeller commented on #15598
I'm experiencing the same. A (slightly painful) workaround is to use the "Previous edit location" action after each save, which moves the cursor back to your last change.

[2022-02-22 23:07] owendw1 opened #15600 "Error thrown by "Calculate total row count" following MySQL SELECT query"
#### System information:
- Operating system (distribution) and version: Ubuntu 18.04.6 LTS
- DBeaver version: 21.3.5.202202200327
- Java version: SE Runtime Environment (build 1.8.0_231-b11)
- Additional extensions: None

#### Connection specification:
- Database name and version: All MySQL databases
- Driver name: MySQL JDBC Type 4 driver for MySQL 8.0.28
- Do you use tunnels or proxies (SSH, SOC

[2022-02-23 09:51] nathanielongyiitak opened #15602 "Dbeaver UI not displaying the latest constraint details"
#### System information:
- Operating system (distribution) and version: Windows 10 Home Single Language
- DBeaver version: Dbeaver 21.3.5

#### Connection specification:
- Database name and version: MySQL 8
- Driver name: MySQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
Ran a laravel php migration to set a foreign key from "cascade on delete

[2022-02-23 11:08] rlunaro commented on #15562
It had happened to me also, with the latest available version (21.3.5.2022022200327).

[2022-02-23 11:36] rlunaro opened #15603 "Incidence #15562 still happening on last version of dbeaver"
The events described on bug #15562 are still happening. I've downloaded the latest version of dbeaver (21.3.5.2022022200327) for windows and the bug is still there.

[2022-02-23 12:30] flambchap commented on #15603
Hello @rlunaro. The fix will be available in the next version (22.0.0).

[2022-02-23 12:30] #15603 closed, assigned to nobody

[2022-02-23 12:47] flambchap commented on #15117
Hi guys. Could you please check out the latest (21.3.5) version and see is everything is ok?

[2022-02-23 12:56] DodgeDeBoulet commented on #15117
No @akilovich, there's still a problem. Log attached.
[DBeaverCitrixException.log](https://github.com/dbeaver/dbeaver/files/8124427/DBeaverCitrixException.log)

[2022-02-23 12:59] luiscarlosbolanhos commented on #15598
Thank you very much, it is a great idea, I don´t know about this feature, Control-Q save my day...

I hope this bug will be fixed in the next realease.

Thanks a lot!

[2022-02-23 13:06] flambchap commented on #15354
It seems like this error has nothing to do with this issue. Could you please make a screenshot of the Query Manager when DBeaver is stuck at "Extract Catalogs"?

[2022-02-23 13:08] flambchap commented on #15489
Could you please send us a screenshot of the query manager? Thanks.

[2022-02-23 13:12] flambchap commented on #15535
Hello @jmcastagnetto. Could you please tell me what benefits does it bring? What are the use cases? Thanks.

[2022-02-23 13:13] giordyb commented on #15354
@akilovich
here you go, this happens after I go through the oauth authentication and stays that way indefinitely.

<img width="500" alt="DBeaver_21_3_3_and_Success_code_4_1AX4XfWhyEa8Z4dkPomzby_rzup5UuzBSpoGJC3LjwZ3m1Hyb0dejAnnxVMY_scope_https___www_googleapis_com_auth_bigquery" src="https://user-images.githubusercontent.com/13320961/155326599-811befcf-1a0d-4948-8362-fd9824d1bcc4.png">

[2022-02-23 13:14] flambchap commented on #15539
Thank you for the idea.

[2022-02-23 13:16] carmelocarrillo opened #15605 "Issue on to Format SQL option"
At Edit menu, Format SQL option (CTRL + Shift + F):
When the table names that contains digits + letters, the formatter SQL converts them to table name with space.

`SELECT * FROM 2021data;`
converts to

[code]
<<<< MISTAKE (space)

thanks.

#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database nam

[2022-02-23 13:21] SaulR commented on #15489
![dBeaver Query Manager](https://user-images.githubusercontent.com/36461031/155327508-4c623237-8ac5-4b59-98db-54687a0b312c.PNG)

[2022-02-23 13:31] flambchap commented on #15561
Hi @xiguazhiPrince. AFAIK, we do not have such an option. Could you please tell me how you managed to achieve this? Thanks.

[2022-02-23 13:35] flambchap commented on #15575
Thank you for your report.

[2022-02-23 13:36] ShadelessFox commented on #15570
Hello @goxr3plus,

You can configure columns visibility using <kbd>Configure filters</kbd> button:

![image](https://user-images.githubusercontent.com/35821147/155329867-4389e5d9-1f06-4684-af41-c49542dc4d58.png)

Please let me know if you have any questions left.

[2022-02-23 13:40] E1izabeth commented on #13287
@gabrielrra, please, specify, which database do you use?

[2022-02-23 13:42] ShadelessFox commented on #15576
Hello @BuZZ-dEE,

Are you talking about this exact input field?

![image](https://user-images.githubusercontent.com/35821147/155331079-ebdff0eb-ea79-4b6a-a274-3a761e34cdaf.png)

[2022-02-23 13:44] BuZZ-dEE commented on #15576
@ShadelessFox yes

[2022-02-23 13:47] ShadelessFox commented on #15580
Hello @nickbg321,

Do other applications look the same as DBeaver on Fedora 35?

[2022-02-23 13:48] ShadelessFox commented on #15576
I see, okay. Thanks.

[2022-02-23 13:53] ShadelessFox commented on #15582
Could you please send me the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.

Also, it would be handy if you managed to reproduce the issue again so it would appear in logs.

Thank you.

[2022-02-23 13:53] nickbg321 commented on #15580
Hello,

Other applications look completely fine without having to run them as root.

[2022-02-23 14:00] ShadelessFox commented on #15580
That's weird. We'll look into this issue.

[2022-02-23 14:02] ShadelessFox commented on #15598
Hello @luiscarlosbolanhos @nicchristeller,

The issue was fixed in #15562 and will be available in the next version (22.0.0).

[2022-02-23 14:02] #15598 closed, assigned to nobody

[2022-02-23 14:08] ShadelessFox commented on #15599
Hello @marlarius,

I can't reproduce your issue. The fragment is present after opening the URL in the browser.

Could you please download the latest version and see if the issue is gone there?

[2022-02-23 14:10] brsa commented on #15575
For the record, non-standard array subscripts may be triggering the problem. The issue was brought up on Stackoverflow in comments to [this question](https://stackoverflow.com/q/12011569/939860).

[2022-02-23 14:12] ShadelessFox commented on #15602
Hello @nathanielongyiitak,

Have you tried reconnecting to your database?

Thanks.

[2022-02-23 14:15] ShadelessFox commented on #15605
Hello @carmelocarrillo,

The identifier `2021data` is invalid. SQL requires identifiers to begin with a letter, not a digit, so we don't handle this case.

What database are you using?

[2022-02-23 14:28] carmelocarrillo commented on #15605
MySQL allows these identifiers for table names. Our business have multiples
projects with them since years.

El mié., 23 feb. 2022 15:15, ShadelessFox ***@***.***>
escribió:

[2022-02-23 14:37] ShadelessFox commented on #15605
I see. Thank you for the response.

As a workaround, you can surround it with `` ` `` like so: `` `2021data` ``.

[2022-02-23 14:39] rotorboy opened #15607 "Reoccurrence of undesired auto-scrolling of SQL editor to bottom upon query execution"
#### System information:
- Operating system (distribution) and version - MacOS 12.1
- DBeaver version - 21.3.5.202202200327
- Additional extensions

#### Connection specification:
- Database name and version - MariaDB
- Driver name - MariaDB connector
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:

when I "Ctrl-enter" a query, the SQL editor aut

[2022-02-23 15:01] goxr3plus commented on #15570
@ShadelessFox Hello again i checked now  and the customize filters is not exactly what we need .

It just filters which columns are matching by name the filter .

We need it to filter the columns by content so for example  we type the word `a` .

It will show all the rows that have in any column the letter a . So for example on the above given picture ( Row 1 has `a` on the column FirstName so row

[2022-02-23 15:11] hitoroki commented on #14681
I am experiencing this same problem on Windows 10 (dbeaver version 21.3.5 and 21.3.2). It's affecting all database types and versions after a fresh installation of dbeaver.

Network unavailable:
javax.net.ssl.SSLHandshakeException:PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
Network unavailable:
j

[2022-02-23 15:13] lucian0c opened #15608 "Cannot add a foreign key to a new table"
- Ubuntu 20.04
- Version 21.3.5.202202200327

- MySQL 5.7
- connector-j/8.0

Creating two new tables, if the second has to be related to the first by a foreign key, the table does not appear in the list.

1) Create New table A with a field called id
2) Create a second table with field called aTableID
3) Try to add a foreign Key: the table A does not appear in the list

tried to refresh connection

[2022-02-23 15:29] ShadelessFox commented on #15570
Pardon me, I was thinking about column filtering. Thanks for explaining, though!

It seems like a cool feature to have.

As a workaround, you can:
1. Press <kbd>Ctrl+F</kbd> in the data viewer to search for any text you want
2. Enable <kbd>Mark occurrences of the selected cell's value</kbd> ([preview](https://github.com/dbeaver/dbeaver/issues/13976#issuecomment-1018417220))

[2022-02-23 16:20] ShadelessFox commented on #15607
Hello @rotorboy,

This issue was fixed in #15562 and the fix will be available in the next version (22.0.0).

[2022-02-23 16:20] #15607 closed, assigned to nobody

[2022-02-23 16:22] rotorboy commented on #15607
Thanks.

Any ETA on 22.0.0?

[2022-02-23 16:31] ShadelessFox commented on #15607
The 22.0.0 version is postponed to March 7.

We also have an early access version, and we are going to republish it tomorrow.

[2022-02-23 18:15] terremoth commented on #15582
If it happens again, I will see if it generates some log, then I paste here

[2022-02-23 18:16] ShadelessFox commented on #15582
Thanks.

[2022-02-23 18:17] terremoth commented on #15582
The only info I remember was previous messages reconnecting to the ssh server.

I will try to see in this dir: $XDG_DATA_HOME/DBeaverData/workspace6/.metadata
and I will try to reproduce again this friday

[2022-02-23 18:55] ghost commented on #14726
For MacOS 12 under M1 chip, just download the arm version from dmg from here:
https://github.com/dbeaver/dbeaver/releases
Its name will be something like: dbeaver-ce-21.3.5-macos-aarch64.dmg
and don't worry, replace the existing application software and your settings will be untouched.

[2022-02-23 20:25] marlarius commented on #15599
Hi @ShadelessFox,

I have found that the problem only applies to file links (file://). I just used the example domain because it was easier to reproduce and I didn't realize it would make a difference.

So, to reproduce:

Make a file called example.html and open the file in your browser. Add a fragment like #123. Copy the full url from the address bar. In my case I get file:///home/marlar/Desktop/

[2022-02-23 23:38] paladini commented on #988
I was facing the same issue in Ubuntu too and [this comment](https://github.com/dbeaver/dbeaver/issues/988#issuecomment-781276693) solved my problem.

Also, for the step (1) you can uninstall Dbeaver (Snap Version) via Terminal:

[code]

Thanks for the tip, mate!

[2022-02-24 02:37] nathanielongyiitak commented on #15602
@ShadelessFox Yea tried closing dbeaver and reopening it, disconnected database and reconnected, still showing cascade instead of set null.

Thanks for the reply.

[2022-02-24 02:38] nathanielongyiitak commented on #15583
DBeaver数据库怎么设置字体大小？具体位置*****客户端工具如何设置数据库-下面的属性-列那字体字体的大小怎么变大？

[2022-02-24 05:55] LonwoLonwo commented on #15602
Hello @nathanielongyiitak

What driver version do you use?
You can check it in the Connection Settings -> Test Connection

[2022-02-24 06:31] Matvey16 commented on #15600
@owendw1 Thank you for the report, we will work on that.
The button to count rows in resultset of sql editor sends incorrect query `SELECT count() FROM table` if the connection is to MySQL or MariaDB

[2022-02-24 07:41] nathanielongyiitak commented on #15602
![image](https://user-images.githubusercontent.com/44321176/155479831-9ea6f424-b913-4d4c-813a-06d1f3930b52.png)
Not sure if I'm finding it right but here's a screenshot of my driver manager, MySQL 5 probably.

[2022-02-24 07:44] LonwoLonwo commented on #15602
Please check it in the Connection Settings -> Test Connection

![2022-02-24 10_43_00-DBeaver Ultimate 21 3 5 - _localhost_ Script-26](https://user-images.githubusercontent.com/45152336/155480249-735ecca9-f523-4e2e-9584-ecd5c7814bb5.png)

![2022-02-24 10_43_18-DBeaver Ultimate 21 3 5 - _localhost_ Script-26](https://user-images.githubusercontent.com/45152336/155480251-21a0c8dd-cfd4-4b87-8f24-9672f5

[2022-02-24 08:18] de-sgen opened #15611 "Cursor of editor window jumping after saving"
#### System information:
- MacOS 11.6
- DBeaver version 21.3.5.202202200327

#### Connection specification:
- PostgreSQL 14
- postgresql-42.2.20
- No tunnels, proxies.

#### Describe the problem you're observing:
In the editor, after saving the changes to a .sql file (e.g. updating a query or the code of a stored procedure), the cursor jumps automatically to the end of file without any reason.
The

[2022-02-24 08:28] LonwoLonwo commented on #15600
Fixed for MySQL, MariaDB, and VQB.

[2022-02-24 08:38] benIT commented on #3780
![image](https://user-images.githubusercontent.com/2970652/155488538-9e800be1-5761-479c-9080-f847fe57a7c9.png)

This one works for me !

Thanks @nishkra

[2022-02-24 08:45] Matvey16 commented on #15003
Verified

[2022-02-24 08:45] #15003 closed, assigned to ShadelessFox, Matvey16

[2022-02-24 08:46] flambchap commented on #15599
I've successfully reproduced it on the latest CE version.

[2022-02-24 08:54] rwalke opened #15612 "Certificate Issue GlobalSign"
**Is your feature request related to a problem? Please describe.**
A fresh installation of DBeaver 21.3.5 on Windows 10 works but gives strange Java errors opening the example database.

**Describe the solution you'd like**
Open https://valid.r3.roots.globalsign.com/ and https://dbeaver.io in Edge browser helps to get the missing certificates.
I think this is not the optimal solution.

[2022-02-24 09:42] ShadelessFox commented on #15599
After some investigation, it looks like the URI scheme does not even define the term _segment_.

I guess that browsers ignore the scheme and use the general URI format, but OSes follow the specification.

Therefore, we can't do anything about that, unfortunately.

See https://en.wikipedia.org/wiki/File_URI_scheme#Format

[2022-02-24 09:42] #15599 closed, assigned to ShadelessFox

[2022-02-24 09:59] Matvey16 commented on #15591
Filter is not applied to data sources that were disconnected prior to the opening of the dialog.

![dbeaver_O8Csce7pei](https://user-images.githubusercontent.com/82543000/155501957-cbd995cd-2914-4a8b-a248-f948ab5eb43e.gif)

[2022-02-24 10:10] marlarius commented on #15599
I am not so sure about that. If I run the command line

`xdg-open "file:///home/marlar/Desktop/example.html#123"`

it opens just fine in my default browser including the fragment. So if DBeaver uses a system call, it should work where the OS supports it. And it seems that at least my Linux distro supports it.

Well, I might take a look in the source code. Do you by chance know where I should look?

[2022-02-24 10:18] ShadelessFox commented on #15599
We use `org.eclipse.swt.program.Program#launch(java.lang.String)` for launching external programs.

We don't specify which application it should use to open it. It lowers down to an OS-specific logic which we can't affect.

[2022-02-24 10:39] ShadelessFox commented on #15611
Hello @de-sgen,

This issue was fixed in https://github.com/dbeaver/dbeaver/issues/15562 and the fix will be available in the next version (22.0.0).

[2022-02-24 10:39] #15611 closed, assigned to nobody

[2022-02-24 12:22] anique9999 opened #15616 "Unable to suppress Upgrade Prompt"
Hi,

#### Describe the problem you're observing:
To disable the upgrade prompt, I placed the file "org.jkiss.dbeaver.core.prefs" in specified location
[ %HOME%\.dbeaver4\.metadata\.plugins\org.eclipse.core.runtime\.settings] after installation. But after opening the application, I'm still getting the update prompt.

Can you please tell why I'm receiving the upgrade prompt even after placing that f

[2022-02-24 12:30] ShadelessFox commented on #15382
Hello @fekri1409,

I cannot reproduce your issue.

Could you please download the latest EA version and see if the issue is gone there?
https://dbeaver.com/files/ea/

[2022-02-24 12:36] de-sgen commented on #15611
Thanks @ShadelessFox.

[2022-02-24 13:08] hski-github opened #15617 "Allow password change on login if forced"
#### System information:
- Windows
- DBeaver Community Version 21.3.4.202202051448

#### Connection specification:
- SAP HANA 2
- JDBC

#### Describe the problem you're observing:
If password is required to be reset due to password expire, this cannot be done by DBeaver because initial login is not possible .

#### Steps to reproduce, if exist:
As an admin, reset the password for a certain user. W

[2022-02-24 14:06] Matvey16 commented on #8712
String with secret name is still used even after checkbox is unchecked

![dbeaver_m8FO7g6Ylv](https://user-images.githubusercontent.com/82543000/155539160-87e9c2e1-a353-4d54-9ce8-373da504546b.gif)

[2022-02-24 14:29] andrematzke commented on #15117
also here.

![2022-02-24 15_24_26-dbeaver](https://user-images.githubusercontent.com/33298027/155543350-169f46ba-7124-4bca-9504-6a4940872579.jpg)

[log2022024.txt](https://github.com/dbeaver/dbeaver/files/8133212/log2022024.txt)

[2022-02-24 14:52] LonwoLonwo commented on #14843
Fixed for generic Databases (like SQLite, FireBird)

[2022-02-24 15:04] vivekpaytail opened #15619 "Scrollbar moves to bottom"
Hi Team

After the latest update, whenever I save SQL file by pressing ctrl+S the Scrollbar moves to the bottom automatically which a but annoying.

[2022-02-24 15:24] fekri1409 commented on #15382
Hello @ShadelessFox

Just now I try again to import multiple CSV files in Dbeaver CE version 21.3.5.
I try using Dbeaver from flatpak and deb package.

A. Dbeaver install via DEB package [dbeaver-ce_21.3.5_amd64.deb]
 - source : https://github.com/dbeaver/dbeaver/releases

    I  manage to import data from 7  CSV files to 7 table in my database.  No error or issue occurred.

B. Dbeaver install via

[2022-02-24 16:24] ShadelessFox commented on #14694
Fixed.

[2022-02-24 16:25] ShadelessFox commented on #15382
Thanks for the clarification.

[2022-02-24 16:25] plotn opened #15620 "Unaccurate value saving"
When editing (adding) column - there is such dialog.
Type text to column comment and do not press enter, but click on another grid element (e.g. datatype). Text will disappear. This is ugly behaviour, value must be saved not only by enter but by focus loss too.

OS: Any
DBeaver version: 21.3.5

![Снимок экрана от 2022-02-24 19-21-32](https://user-images.githubusercontent.com/11477081/155564972-59e

[2022-02-24 16:26] ShadelessFox commented on #15619
Hello @vivekpaytail,

This issue was fixed in #15562 and the fix will be available in the next version (22.0.0).

[2022-02-24 16:26] #15619 closed, assigned to nobody

[2022-02-24 16:28] fekri1409 commented on #15382
You are welcome.

[2022-02-24 17:27] Destrolaric opened #15621 "Multiple notifications when doing composite tasks"
In the scope of the https://github.com/dbeaver/dbeaver/issues/12674, some messages were replaced by notifications. Because of it, composite tasks are currently displaying multiple times, which is incorrect behavior,

[2022-02-24 21:19] jmcastagnetto commented on #15535
The Arrow Flight SQL is a layer on top of the Arrow Flight protocol [1], and provides a known interface (SQL) to the "on-the-wire" representation of the data, making it easy to interact with datastores that support Arrow Flight.

Arrow Flight has better performance than JDBC or ODBC [2], and allows accessing huge amounts of data in batch mode, apart from supporting parallel and partitioned data ac

[2022-02-25 03:26] matheuscomaru opened #15625 "Filtro não considerando triggers/producedures"
Olá pessoal, tudo bem ?

Estou abrindo essa Issue pois não encontrei nenhuma outra com o que preciso. Sobre o titulo, eu não consegui encontrar um título melhor que esse... então se ficou muito genérico, peço perdão.

Eu notei que na versão 7.2.1, quando eu faço o filtro de uma tabela por exemplo, eu consigo expandir e ver todas as triggers que tem nessa tabela, independente do nome do filtro.

![

[2022-02-25 05:31] vivekpaytail commented on #15619
Thanks for the information

[2022-02-25 05:55] craigrose commented on #14749
I too am experiencing this problem.

Version 21.3.5.202202200327
Ubuntu 20.04.4 LTS

![dbeaver](https://user-images.githubusercontent.com/40220935/155661142-51729a89-182a-4e47-bbb7-80813192ad15.png)

These settings work from normal ssh connection:
[code]

I'm suspicious of the presence of the Passphrase input box when this private key does not have a pass phrase (no encrypted).

Click Test tunnel

[2022-02-25 06:19] nathanielongyiitak commented on #15602
Hey sorry something came along and I forgot to update, here's a screenshot of it
![image](https://user-images.githubusercontent.com/44321176/155664722-8faaa007-3d06-4b12-b69a-5471ce7baa00.png)
Thanks

[2022-02-25 06:25] LonwoLonwo opened #15626 "[PostgreSQL] Filter doesn't work in special case."
DBeaver 21.3.5, DBeaver 21.3.3

Data filtering doesn't work correctly in SQL Editor for columns with custom quoted data types for PostgreSQL.

Steps:

1. Create data type with quoted name. Like

[code]

2. Create a table with columns with the created earlier data type.

[code]

3. Insert some data into the table.
4. Open the table from SQL Editor
5. Try to use a filter on any data on column `f1_en

[2022-02-25 07:29] LonwoLonwo commented on #15626
The original issue for tracking: https://github.com/JSQLParser/JSqlParser/issues/1482

[2022-02-25 07:31] LonwoLonwo commented on #15514
Ticket created for another founded issue: https://github.com/dbeaver/dbeaver/issues/15626

[2022-02-25 07:37] LonwoLonwo commented on #15514
The filter works fine now for public data types in quotes for Data Viewer. DBeaver 22.0.0

[2022-02-25 07:37] #15514 closed, assigned to uslss, LonwoLonwo

[2022-02-25 07:51] M-Ahall opened #15628 "Read data in SQL editor require additional action now"
#### System information:
- Ubuntu 21.04
- Version 21.3.5.202202200327

#### Connection specification:
- Doesn't make a difference

#### Describe the problem you're observing:
When rightclicking on a table and choosing "Read data in SQL editor", the generated SELECT query doesn't execute automatically anymore.

Before, it consisted of two lines of SQL. The cursor was placed at the beginning of the

[2022-02-25 08:18] Matvey16 commented on #14843
Still doesn't work

![dbeaver_Gp0ZzI9aOJ](https://user-images.githubusercontent.com/82543000/155680011-8ec8d1e1-80d5-4e68-b282-8e46a6550e86.gif)

[2022-02-25 08:22] stegus64 opened #15630 "Incorrect handling of UTF8 in databricks"
#### System information:
- Windows 10
- DBeaver Version 21.3.3.202201221033

#### Connection specification:
- Databricks SQL Endpoint
- SimbaSparkJDBC42-2.6.22.1040

You can download the driver here:
https://docs.databricks.com/dev-tools/dbeaver.html

#### Describe the problem you're observing:

Incorrect display of utf8-encoded strings

#### Steps to reproduce, if exist:

create or replace table

[2022-02-25 08:22] longyunqi opened #15631 "where can I get the Operation document of PostgreSQL?"
I want to use dbeaver,but I  can not find documention to tell me how to use in dbeaver with PostgreSQL.

[2022-02-25 08:32] Matvey16 commented on #15595
Verified

[2022-02-25 08:32] #15595 closed, assigned to E1izabeth, Matvey16

[2022-02-25 08:40] kseniiaguzeeva opened #15632 "Column with alias is read-only and doesn't have read-only label in the ResultSet"
#### System information:
- DBeaver version  21.3.5.202202181141

#### Connection specification:
- Database name and version PostgreSQL
#### Steps to reproduce, if exist:
1. Execute a select statement with a column alias (e.g. for PostgreSQL db1. pagila.public: `select address_id, district as bcd from public.address a`)
2. Try to edit a column with an alias

**Expected**: the column with the alias

[2022-02-25 10:05] serge-rider commented on #15632
The problem w2as in editing of columns wth alias. Edit failed during save (`column not found`).

[2022-02-25 10:11] Matvey16 commented on #15600
Verified

[2022-02-25 10:11] #15600 closed, assigned to LonwoLonwo, Matvey16

[2022-02-25 10:49] Matvey16 opened #15635 "[SQL Server] DDL has duplicate statements for unique constraint creation"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.0

#### Connection specification:
- Database name and version Microsoft SQL Server 2019

#### Describe the problem you're observing:
Generated DDL includes the creation of the index twice

#### Steps to reproduce, if exist:
1. Create a table with a unique constraint
2. Open DDL tab in table properti

[2022-02-25 10:50] Matvey16 commented on #13287
Verified

Separate ticket opened for duplicate index #15635

[2022-02-25 10:50] #13287 closed, assigned to E1izabeth, Matvey16

[2022-02-25 11:13] potterpg opened #15636 "PostgreSQL 12/14 DDL of a user role... no encrypted password?"
If you use pgAdmin4 to effectively get the DDL of a user role, it includes the encrypted password, so that the user script can be used to replicate the role on a different server.

DBeaver DDL does not include the encrypted password.

Can it be made to do that?

ie
DBeaver:
[code]

pgAdmin4:
[code]

Thanks!

[2022-02-25 11:13] serge-rider commented on #15591
Fixed

[2022-02-25 11:45] DariaMarkaryan commented on #15551
Verified

[2022-02-25 11:45] #15551 closed, assigned to flambchap, DariyaFedorova

[2022-02-25 11:59] Matvey16 opened #15637 "Update shortcut creation for Windows"
After we changed the file that contains language setting making it possible to change language through UI regardless of installation path, we need to update the behavior of the Windows installation where it creates a desktop shortcut with language parameter that will always override language properties set in DBeaver itself. For a user that is not aware that the shortcut contains this parameter it

[2022-02-25 12:21] sfintz commented on #15557
Hi @Matvey16 -

I had to tweak what you provided above slightly to the below and it worked.  Thank you so much!

@set TN_CP = CP_202201
CREATE TABLE ${TN_CP} AS ( SELECT 1 AS X FROM dual );
SELECT * FROM ${TN_CP} ;

Out of curiosity why is the define function not an option here?  I thought that was an Oracle SQL database syntax element but apparently that is not the case.

@sfintz

[2022-02-25 12:25] LonwoLonwo commented on #14265
Fixed in DBeaver 22.0.0

[2022-02-25 12:40] p91paul commented on #15557
@sfintz if you refer to this https://blogs.oracle.com/opal/post/sql*plus-substitution-variables-define-variables-and-parameters-in-sql-queries define is **sql plus**  syntax, so is specific to that oracle tool. That said, there might be other tools supporting that syntax for compatibility with sql plus, but it's not part of the oracle sql dialect.

[2022-02-25 12:46] sfintz commented on #15557
got it.  thanks @p91paul .

@sfintz

[2022-02-25 12:53] Matvey16 commented on #14694
Verified

[2022-02-25 12:53] #14694 closed, assigned to ShadelessFox, Matvey16

[2022-02-25 13:38] SaulR commented on #15489
Here's another screenshot I can share which may help.

I don't know why it's pulling in these values.  Those aren't fields in the table in question.

I used to only get table names or column names.  Now I'm getting all of these as well when the query finally finishes running.

![image](https://user-images.githubusercontent.com/36461031/155724523-04e33edf-b434-4caa-a2a9-bf26a877310c.png)

[2022-02-25 13:45] DariaMarkaryan commented on #15566
Verified

[2022-02-25 13:45] #15566 closed, assigned to E1izabeth, DariyaFedorova

[2022-02-25 13:55] LonwoLonwo commented on #15635
Related to https://github.com/dbeaver/dbeaver/issues/14754

[2022-02-25 14:03] Matvey16 commented on #8712
Option to use secret will automatically disable if connection is edited

[2022-02-25 14:32] DariaMarkaryan commented on #14810
Verified

[2022-02-25 14:32] #14810 closed, assigned to Destrolaric, DariyaFedorova

[2022-02-25 14:41] Matvey16 commented on #14265
Verified

[2022-02-25 14:41] #14265 closed, assigned to LonwoLonwo, Matvey16

[2022-02-25 15:07] Matvey16 commented on #14032
Verified

[2022-02-25 15:07] #14032 closed, assigned to ShadelessFox, Matvey16

[2022-02-25 15:16] Matvey16 commented on #15147
Verified

[2022-02-25 15:16] #15147 closed, assigned to Destrolaric, Matvey16

[2022-02-25 15:17] Matvey16 commented on #15591
Verified

[2022-02-25 15:17] #15591 closed, assigned to serge-rider, Matvey16

[2022-02-25 15:21] Matvey16 commented on #8712
Verified

[2022-02-25 15:21] #8712 closed

[2022-02-25 15:35] Matvey16 commented on #15220
Verified

[2022-02-25 15:35] #15220 closed, assigned to Destrolaric, Matvey16

[2022-02-25 15:37] rotorboy opened #15643 "Possible memory leak / excessive thread count"
#### System information:
- Operating system (distribution) and version - MacOS 12.1
- DBeaver version - Version 21.3.5.202202200327
- Additional extensions

#### Connection specification:
- Database name and version - MariaDB
- Driver name - MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? - SSH

#### Describe the problem you're observing:

When dbeaver starts, it is using approximately

[2022-02-25 15:38] Diego-Hernandez-Moodys commented on #2738
You can prompt me when I try to close the application but not when I attempt to commit a transaction? Smart Commit should be the default at the very least. Committing transactions are only applicable to Updates, Deletes, etc., so if someone is confused about how transactions work, then they should not be performing them.

[2022-02-25 16:03] radudh opened #15644 "Numeric field inside custom type displayed as numeric(1000,999)"
#### System information:
- Windows 10
- DBeaver 21.3.5.202202200327

#### Connection specification:
- Postgres 10
- Driver name: PostgreSQL
- no SSH or tunnels

#### Describe the problem you're observing:
A custom type created with SQL and that contains a numeric field (without precision or scale) it is displayed in the source part of the type as numeric(1000,999)

#### Steps to reproduce, if exis

[2022-02-25 16:51] carlosspohr opened #15645 "Cursor is moved to the end of editor after save (Ctrl +S) and execute (Ctrl + Enter)"
#### System information:
- Operating system: Windows 10 64 bits
- DBeaver version: 21.3.5.202202200327
- Additional extensions: no extensions or plugins installed.

#### Connection specification:
- Database: MySQL 5.7 in localhost
- Driver name: Mysql connector 8.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no, just a direct connection to localhost MySQL server.

#### Describe the proble

[2022-02-25 18:47] chrisanu922 opened #15646 "System Info:"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2022-02-25 19:02] Matvey16 commented on #15632
Verified

[2022-02-25 19:04] chrisanu922 opened #15647 "Issue Connecting to Oracle"
#### System information:
- MacBook Pro (2016) Intel Core i7 - macOS Monterey Version 12.1
- DBeaver version 21.3.5
- Java:
17.0.2 (x86_64) "Oracle Corporation" - "Java SE 17.0.2" /Library/Java/JavaVirtualMachines/jdk-17.0.2.jdk/Contents/Home
1.8.321.07 (x86_64) "Oracle Corporation" - "Java" /Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home

#### Connection specification:
- Database:

[2022-02-25 19:07] #15646 closed, assigned to nobody

[2022-02-25 19:10] Matvey16 commented on #15632
This breaks the filtering for Oracle resultset
![explorer_aTX8hTeLwj](https://user-images.githubusercontent.com/82543000/155773820-259263ad-87c3-4d53-97ed-824f0af21916.gif)

[2022-02-25 20:32] serge-rider commented on #15632
Fixed

[2022-02-25 20:51] Matvey16 commented on #15632
Verified

[2022-02-25 20:51] #15632 closed, assigned to serge-rider, Matvey16

[2022-02-25 21:44] ShadelessFox commented on #15645
Hello @carlosspohr,

This issue was fixed in https://github.com/dbeaver/dbeaver/issues/15562 and the fix will be available in the next version (22.0.0).

[2022-02-25 21:44] #15645 closed, assigned to nobody

[2022-02-26 07:00] ksteckert commented on #1156
I ran into a similar issue.  I got the java.io.EOFException also.

In my case, the issue ended up being a "/" at the end of the remote host string in the SSH Tunnel configuration.  It was hard to detect because the connection test succeeds!  The Database test would fail, however.

It seems like "Test tunnel configuration" uses only the FQDN (trims the path) from the hostname string, while "Test Co

[2022-02-26 10:09] dbojan opened #15650 "The Value viewer panel does not remember by which column is data sorted"
#### System information:
- Windows 10
- DBeaver version community 21.3.5
- Additional extensions

#### Connection specification:
- sqlite
- odbc sqlite driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:
The Value viewer panel does not remember by which column is data sorted

#### Steps to reproduce, if exist:
-in Database navigator, select ta

[2022-02-27 06:27] lpossamai commented on #14749
This works on Windows 11. Still facing issues on MAC M1 chips

[2022-02-27 07:45] dbojan opened #15653 "Error when trying to save view, after modifying it in sql"
#### System information:
- Operating system (distribution) and version windows 10
- DBeaver version 21.3.5
- Additional extensions

#### Connection specification:
- Database name and version sqlite
- Driver name odbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
After modifying view in sql, and clicking on 'preview changes and save', then click on

[2022-02-27 16:04] cydonialis commented on #13120
Thanks for answer :)  Get it.

[2022-02-28 01:40] SSSDNSY opened #15654 "Can not change dictory/schema."
#### System information:
- Operating system (distribution) and version
  win10
- DBeaver version

![image](https://user-images.githubusercontent.com/15624361/155910288-7294f105-2b7e-4ded-aa30-4642a0a526d7.png)

- Additional extensions

#### Connection specification:
- Database name and version

![image](https://user-images.githubusercontent.com/15624361/155910328-9718a411-ed80-45d7-bdfe-14a478a450

[2022-02-28 02:26] hisune opened #15655 "The table name cannot be displayed when using cilickhouse"
#### System information:
- OS: win11
- Version: 21.3.5

#### Connection specification:
- Clickhouse 21.3.11.5
- clickhouse-jdbc 0.3.2
- Do you use tunnels or proxies (SSH, SOCKS, etc)?   -- SSH

#### Describe the problem you're observing:
After connecting to cilickhouse, no table names can be displayed in the table list on the left, and double-clicking `table` cannot display the list of tables con

[2022-02-28 02:35] hisune commented on #15655
The problem is solved after updating the clickhouse driver to `0.3.2-patch5`

[2022-02-28 02:35] #15655 closed, assigned to nobody

[2022-02-28 03:43] BoxingLaunch opened #15656 "In the filter-per-column pane, show the total number of distinct values"
**Is your feature request related to a problem? Please describe.**
When I open the filters pane on a column from the table view page, I want to see how many distinct values there are in that column. That is to say, I want to see how many rows appear in the aforementioned filter pane.

**Describe the solution you'd like**
At the bottom of the aforementioned filter pane, I want to see a comment like

[2022-02-28 06:23] cemccccc opened #15657 "Background color for editor tabs"
Is there any way to change the color of an active tab in dbeaver?

![image](https://user-images.githubusercontent.com/83164656/155934465-641aeb1d-14d4-47fd-a421-4569982fa462.png)

[2022-02-28 06:51] LonwoLonwo commented on #15653
Hello @dbojan

Thanks for the bug report.

We can add "recreate actions" for generic views or remove the ability to change views definition.

[2022-02-28 07:24] LonwoLonwo commented on #15644
Hello @radudh

This is a side effect of this issue: https://github.com/dbeaver/dbeaver/issues/13309
For the better fractional digits limits definition, we must know numeric bounds.
[The documentation](https://www.postgresql.org/docs/current/datatype-numeric.html) says that 1000 - is the maximum numeric precision. And data type scale must be less than precision.

[2022-02-28 07:38] LonwoLonwo commented on #15608
Hello @lucian0c

Unfortunately, I can't reproduce your issue.

![2022-02-28 10_34_54-Create foreign key _ Create foreign key for table _newtable_1_](https://user-images.githubusercontent.com/45152336/155942586-2ddea849-9205-4564-ad6c-fb88ec138401.png)

Please provide more info.

1. How were the tables created? Via DBeaver UI tools (like "Create table" in the Database Navigator tree) or manually in

[2022-02-28 07:52] LonwoLonwo commented on #15620
Hello @plotn

Thanks for the bug report.

Interesting thing - click under the description field or on the Column name field works correctly.

[2022-02-28 08:32] LonwoLonwo commented on #15628
Hello @M-Ahall

Thanks for the bug report.

[2022-02-28 08:44] LonwoLonwo commented on #15631
Hello @longyunqi

You can find our documentation here: https://github.com/dbeaver/dbeaver/wiki
Or here: https://dbeaver.com/docs/wiki/
And PostgreSQL documentation you can find here: https://www.postgresql.org/docs/

Here you can find the info about new connection creating: https://github.com/dbeaver/dbeaver/wiki/Create-Connection
About work with Database Navigator Tree - https://github.com/dbeave

[2022-02-28 08:44] #15631 closed, assigned to nobody

[2022-02-28 08:47] binodkalathil commented on #15536
@uslss That focuses data editor filter not the Database Navigator Filter. However I was able to get what I need from here `Ctrl + Shift + D`:

![image](https://user-images.githubusercontent.com/4425339/155950457-2a038045-45fe-4e96-a816-64ab6bdf6280.png)

It allows us to select Database Objects in the current connection only and uses '<searchText>%' instead of '%<searchText>%' for filtering. This w

[2022-02-28 08:50] LonwoLonwo commented on #14843
Suddenly it turned out to be an Eclipse issue https://bugs.eclipse.org/bugs/show_bug.cgi?id=577190

Hopefully, the bug will be corrected in the new version of Eclipse.

[2022-02-28 08:52] fulando opened #15659 "Copy Fields and Data Types"
I use a lot the feature of "Advanced Copy" => "Copy Column Name(s)", however, sometimes when dealing with a large amount of fields, I need to also have the datatype declared.

It would be a great feature that would save a lot of time for me and my colleagues, I am sure also for other members of the community.

The format could be as:
field_1(date), field_2(text), field_3(numeric)
or
field_1, field

[2022-02-28 09:09] DariaMarkaryan opened #15660 "[PostgreSQL] Error in the view source comment when creating a new one"
#### System information:
- Win11
- DBeaver CE 22.0.0

#### Connection specification:
- PostgreSQL, Cockroach..

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/43252954/155955325-edafd505-07fe-4530-bc73-cbdb93276dc2.png)

#### Steps to reproduce, if exist:
Start creation of view and open **Source** tab in metadata

[2022-02-28 09:10] ShadelessFox commented on #15656
Hello @BoxingLaunch,

Thank you for the idea. It might be handy.

[2022-02-28 09:26] flambchap commented on #14749
@lpossamai I think your issue is somehow related to our AArch64 packaging. The first suspect is JRE 17 we ship with this dmg. On all other packages, we use JRE 11. I think it's worth trying JRE 11 from Liberica. Unfortunately, I don't have a mac at hand at the moment, so I'll give you instructions a bit later, hopefully today or tomorrow.

[2022-02-28 10:36] Matvey16 opened #15661 "Navigator tree is folded after clicking on a filter to show all connections"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.0

#### Describe the problem you're observing:
Changing Navigator filter to show all connections folds everything to the first layer

#### Steps to reproduce, if exist:
1. Enable filter to show only connected data sources in navigator
2. Open one connection to a deeper folder (tables or columns)
3.

[2022-02-28 11:04] serge-rider commented on #15660
Also new view DDL was broken in MySQL.

Fixed.

[2022-02-28 11:23] carlosspohr commented on #15645
I looked for opened issue and didn't found this one.

Thanks @ShadelessFox!

[2022-02-28 11:29] serge-rider commented on #11577
Issue 1 seems to be a bug in Eclipse platform. Keep investigating, perhaps we could find a workaround.

Issue 2 is a result of Oracle OCI driver usage. Is there any reason to use it instead of thin (classic) driver?

[2022-02-28 12:53] Matvey16 opened #15663 "Text view in data editor has clickable button that should be greyed"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.0

#### Describe the problem you're observing:
Button to edit cell value in separate dialog is not greyed out in text view

#### Steps to reproduce, if exist:
1. Open any table with data in data editor
2. Change grid view to text
3. Click on `edit cell value in separate dialog` button

**Expected:**

[2022-02-28 13:06] LonwoLonwo commented on #14004
Can't reproduce against in DBeaver 21.3.5 and with PostgreSQL driver 42.2.5

[2022-02-28 13:13] LonwoLonwo commented on #13618
Can't reproduce against in DBeaver 21.3.5. Probably fixed in the scope of this ticket: https://github.com/dbeaver/dbeaver/issues/13585

[2022-02-28 13:16] SirBenJammin commented on #11577
Hey serge,
Great news it's being investigated :).

The use of the Oracle OCI (aka Thick) driver is required by the business.

Potential reasons:

- JDBC doesn’t do everything that OCI can.
- OCI does a better job at reliably cancelling queries.
- OCI has better support for advanced data types including XML.

Thanks.

[2022-02-28 13:31] DariaMarkaryan commented on #13618
no longer reproduced

[2022-02-28 13:31] #13618 closed, assigned to nobody

[2022-02-28 14:38] Matvey16 opened #15666 "[PostgreSQL] Incorrect query is sent when using filters on table with joins"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.0

#### Describe the problem you're observing:
If the table in resultset has joins from different tables, simultaneous filtering by two columns from different tables sends incorrect query which leads to error (this query works for example in Oracle or SQL Server, but is not valid for PostgreSQL)

##

[2022-02-28 16:53] alaj commented on #5455
I have the same issue.
My database is sql server 2000. Version 8.00.2039.
The driver is jTDS Type 4 JDBC Driver for MS SQL Server and Sybase 1.3.1
@uslss Will this issue be reopened? Thanks

[2022-02-28 17:13] Matvey16 opened #15671 "Alias is used instead of real PK column name when saving changes"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.0

#### Describe the problem you're observing:
Alias is used instead of actual PK column name if changes are made to resultset in SQL Editor

#### Steps to reproduce, if exist:
1. Execute a select query with alias for PK column (e.g select `f.film_id as id , f.title  from film f`)
2. Change somethin

[2022-02-28 17:38] dbojan commented on #15653
I am sorry, I do not understand what "recreate actions" means.

Great, if it can help to save the edited view.

[2022-02-28 18:34] dbojan opened #15672 "Create a desktop shortcut to the view/table in a database, (with focus on the data tab)"
Drag and drop table/view, to the desktop to create the shortcut.
Or, right click on the table/view, and select "create shortcut on the desktop"
(or the "data" tab in the data viewer, drag it to the desktop to create the shortcut)

When you click on the shortcut, you would open program with the focus on table in the data view.

or use command line:
for example:
load database inventory from the data

[2022-03-01 02:53] zhangrui-git commented on #15469
[code]

[2022-03-01 03:15] ShadelessFox commented on #15469
I assume you have closed the issue by accident, so that I will reopen it.

[2022-03-01 06:58] zhangrui-git commented on #15469
Sorry, I was careless. Thank you.

[2022-03-01 07:10] zhangrui-git commented on #15469
I executed this SQL command in DBeaver 21.3.5.
Execution result:
[code]

[2022-03-01 08:00] pine-scamper opened #15676 "Can't connect to Phoenix"
hbase-2.2.4
phoenix-hbase-2.1-5.1.2-bin
DBeaver 21.3.5

I used phoenix to connect to hbase in centos successfully.
as follows：
[xxx]$ ./sqlline.py 192.168.xx.xx:2181:/hbase
Setting property: [incremental, false]
Setting property: [isolation, TRANSACTION_READ_COMMITTED]
issuing: !connect -p driver org.apache.phoenix.jdbc.PhoenixDriver -p user "none" -p password "none" "jdbc:phoenix:192.168.6.47:218

[2022-03-01 08:06] Matvey16 opened #15677 "[SQLite] Can't add aliased columns to grouping panel"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.0

#### Describe the problem you're observing:
If the column has an alias for a name in SQL Editor resultset dragging it into grouping panel will cause an error

#### Steps to reproduce, if exist:
1. Execute a select query with alias for any column
2. Drag an aliased column to grouping panel

**Expe

[2022-03-01 11:03] andrelinslima commented on #15647
The error you are having is not when connecting to oracle, it is from maven trying to download the driver and receiving a ssl certificate error.

You don't need to download maven, eclipse (and dbeaver) has a version of maven embeeded. The JRE used by dbeaver is the one OpenJDK 11 provided in the jre folder of dbeaver, you can import the certificate there for it to be trusted or like mentioned in t

[2022-03-01 11:19] zoot-inge commented on #5960
+1

[2022-03-01 11:28] andrelinslima commented on #13048
If you press ignore on the parent pom download error, it will proceed to properly download everything needed and work

![image](https://user-images.githubusercontent.com/33740641/156161181-5fe4e69c-c613-465d-a409-62e8b3983fd4.png)

[2022-03-01 13:16] andrelinslima commented on #15625
A maior parte dos maintainers não fala português, seria mais fácil manter inglês para referência dos outros usuários também.
Há um template para a criação, que pede a versão, tipo de banco, etc, diferentes conectores podem ter comportamentos diferentes.
O título está invertido, você está reportando que o filtro rápido passou a levar em conta as triggers. Isso foi uma alteração em maio do ano passa

[2022-03-01 13:36] andrelinslima commented on #2998
You are talking about a different problem. When the application is closed, any connections it had will be automatically closed by the operational system. By default, when dbeaver is open, it tries to reconnect to the database which you had editors open. That's the complain you are getting, that during this reconnection, the database is not available. If you don't want it to try to reconnect, chang

[2022-03-01 13:55] flambchap opened #15682 "DBeaver tries to rollback transactions on disconnect even if the connection is in autocommit mode, causing the driver to emit errors"
#### System information:
- Operating system (distribution) and version: Win11
- DBeaver version 22.0.0 devel branch
- Additional extensions

#### Connection specification:
- Database name and version ~~Vertica 11~~
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
1. Open Vertica connection and wait for

[2022-03-01 14:02] andrelinslima commented on #15612
Can you post the log for the "strange java errors"?

I could not reproduce the issue. Example database is local to the client, so SSL certificate should not be an issue.
I'm imagining that you are talking not talking about https://dbeaver.io either (as they don't use google certificates), but actually about some message from maven about maven central website.

Their SSL certificate was renewed in

[2022-03-01 14:14] andrelinslima commented on #15616
That's the wrong location for the dbeaver workspace. Use:
%userprofile%\AppData\Roaming\DBeaverData\workspace6\.metadata\.plugins\org.eclipse.core.runtime\.settings\org.jkiss.dbeaver.core.prefs

[2022-03-01 15:08] andrelinslima commented on #15408
In OSGi, each bundle gets it's own classloaders. It's different from a normal Java application.
In simple terms, you can consider that unless a bundle says that it imports something, even if it is present in the same plugins folder, that jar won't be loaded and won't be available.
You can try using -Dorg.osgi.framework.system.packages.extra to add packages as "globally" imported. There is a more d

[2022-03-01 15:08] rwalke commented on #15612
Attached is an example picture with the error.

It happens when I test it on a very fresh system.
The system did not know the root certificate GlobalSign Root CA - R3 Serial 04000000000121585308a2 by default.

I don't know if my browser should do this by default.

--
This mail has been sent through the MPI for Demographic Research.  Should you receive a mail that is apparently from a MPI user with

[2022-03-01 15:23] andrelinslima commented on #15352
Connecting to the database with the same name as the user is the default behavior for postgresql. It is as documented for the native psql client
![image](https://user-images.githubusercontent.com/33740641/156196759-2f09f428-c65a-4e75-b216-d84ebcdc653d.png)

[2022-03-01 15:57] andrelinslima commented on #15333
The driver class is not imposed for oracle driver. Using the driver manager you are able to edit the driver and change the className and which jars it is using directly from dbeaver UI.
Changing the template would usually not have any effect, since when entering host/port/database/sid, those parameters are passed to the driver, which in oracle case will always use the same hardcoded template to ge

[2022-03-01 16:00] flambchap commented on #15682
As I suspected, this issue has nothing to do with Verica. Foe example, here is what happens on MySQL:

[code]

[2022-03-01 16:04] andrelinslima commented on #15612
The message didn't come with any attachments (or the attachments via email are not supported for github issues).
Root CAs usually come with windows and can be updated with new patches. Some browsers and softwares (like java) have their own list, which needs to be updated by the manufacturer. Others will use the system list, like chrome and IE. I'm running windows 10 and had no problem with maven.

[2022-03-01 16:10] LonwoLonwo commented on #14004
Hmm, ok, I can reproduce it with the 42.3 version driver.

Data kind of the data type changed from object to array, and PostgreArrayValueHandler can't find data type by name - "tools"."foo".

[2022-03-01 17:48] FedorovaDarya opened #15685 "[PostgreSQL] schema migration in non-default DB produces scheme not found"
#### System information:
- Win11
- DBeaver UE 22.0.0

#### Connection specification:
- PostgreSQL

#### Describe the problem you're observing:
When you try to perform schema migration in non-default database, you get ""scheme not found' exception

#### Steps to reproduce:
Set one db in postgres to default and start schema migration in another db
![image](https://user-images.githubusercontent.com/4

[2022-03-01 17:58] matheuscomaru commented on #15625
Entendido. Bom, o uso do filtro rápido que era a vantagem para meu processo aqui.

Como não tem como voltar o comportamento antigo, ainda será mais fácil eu clicar na tabela e limpar o filtro rápido em seguida.

De qualquer forma obrigado pela sugestão e resposta !!

[2022-03-01 17:58] #15625 closed, assigned to nobody

[2022-03-01 19:03] spassignat commented on #15333
I did it already, but the plugin force to use Oracle driver.

Did you tried without having the jdbc driver in your classpath ?

[2022-03-01 21:19] alanneese opened #15686 "Receiving 'Datasource was invalidated' notification"
#### System information:
- Windows 10
- DBeaver 21.3.5.202202200327

#### Connection specification:
- Database name : jhj7bqbh_menudb
- Driver name : MySQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
I keep getting the notification from DBeaver 'Datasource was invalidated'  Live connection count: 2/2
#### Steps to reproduce, if exist:
Just a

[2022-03-01 21:19] andrelinslima commented on #15333
P6Spy is not an oracle driver, as in it doesn't contain the necessary instructions to connect and query an oracle instance by itself. Instead, it is an interception driver. It does its work, then relays to the proper oracle driver to actually perform the task.

If you try to use it without having the oracle driver on classpath, it will as expected not work, because it can't relay the command. That

[2022-03-01 21:41] andrelinslima commented on #15333
If you do place the proper base driver on the classpath, the connection is made using p6spy successfully and a log file will be generated in dbeaver folder by default.

It is not necessary to enter the classname, as p6spy registers itself to handle the jdbc:p6spy prefix (as per JDBC 4.0 API )

![image](https://user-images.githubusercontent.com/33740641/156253510-54dda95f-4f16-4a84-90da-a15764526d2

[2022-03-01 22:08] spassignat commented on #15333
Sure p6spy is not a jdbc driver. It's a wrapper (proxy pattern). I've suggested p6spy thinking it would be easier for you, than my type 3 driver (Progress Software Data Hybrid Pipeline)

My oracle driver is not oracle.jdbc.OracleDriver, it's a jdbc type 3 connecting to a server which connects to the database. So I don't have OracleDriver in dBeaver classpath.

The issue is dbeaver OracleDataSource

[2022-03-01 22:43] andrelinslima commented on #15333
As demonstrated with p6spy, dbeaver doesn't force you to use Oracle Driver. As you could see on OracleDataSourceProvider, the oracle prefix is only used when you don't provide a jdbc url for the connection.
So dbeaver falls back to the generation from fields (hostname, port, tns, servicename/sid). Oracle has custom fields (namely tns description and service name / sid) which don't conform to the g

[2022-03-02 02:38] dkbarn commented on #15489
Any movement on this?

I'm experiencing this behavior too and came here just to file this issue. It started happening after upgrading from 21.0.1 to 21.3.5, and it's so annoying to have this auto-pop appear minutes after executing a query, on top of another window I've switched to. I'm considering downgrading back down to 21.0.1

The Query Manager does not log the queries executed when searching p

[2022-03-02 06:11] ShadelessFox commented on #13795
Implemented:

![java_mwrTpxaB1O](https://user-images.githubusercontent.com/35821147/155542118-7b95c5e9-26f9-4d74-85dc-f75e4cffc917.gif)

[2022-03-02 06:12] ShadelessFox commented on #15628
Fixed.

[2022-03-02 08:42] E1izabeth commented on #15524
There is nothing to test yet. It's a base for future applied functionality. So, I close this issue.

[2022-03-02 08:42] #15524 closed, assigned to E1izabeth

[2022-03-02 09:10] plotn opened #15691 "Bug with connection loosing"
- Operating system (distribution) and version: Win10
- DBeaver version:  21.3.5.202202200327
- Database name and version: Postgres 14

The old bug with connection loosing exists. Synopsys is as follows:

1. I do common work (connection with database is via internet, via vpn);
2. I hibernate windows machine via power menu - not exiting from DBeaver, not turning off vpn;
3. I restore workstation (at

[2022-03-02 10:04] Ipsita503178922 opened #15692 "Password rest"
#### System information:
- Operating system (distribution) and version
- DBeaver version :21.2.5
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:  RESET password for Prod environment .

#### Steps to reproduce, if exist:

#### Include any w

[2022-03-02 10:09] Matvey16 opened #15693 "Variables for export from query task are saved incorrectly"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.0

#### Describe the problem you're observing:
Export from query with variables is incorrectly saved as a task

#### Steps to reproduce, if exist:
1. Type a select query with variables as column names
2. In a context menu select export from query
3. Click save task
4. Run a task

**Expected:** Expor

[2022-03-02 10:51] sofiarosati commented on #14566
Thank you! :heart:

[2022-03-02 10:54] Matvey16 commented on #15628
Verified

[2022-03-02 10:54] #15628 closed, assigned to ShadelessFox, Matvey16

[2022-03-02 11:51] nikiromagnoli commented on #13976
**Hint for users**: customize highlight color in usual color's settings, as "Matched (find/replace) row background"
![immagine](https://user-images.githubusercontent.com/5136855/156355808-0d6d5617-5493-46d8-9ea2-23f841bdb965.png)

Color code of request mock picture: **#FFFF00** (transparency feature seems not accepted)
My favorite color tone: **#F8F99F**

[2022-03-02 12:17] DariaMarkaryan commented on #15546
Verified

[2022-03-02 12:42] Skydiveroid commented on #15617
Thank you for the idea.

[2022-03-02 12:51] Skydiveroid commented on #15636
Thank you for the idea.

[2022-03-02 12:52] Skydiveroid commented on #15643
Hello @rotorboy,

Could you please send me the thread dump?

You can find instructions here: https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump.

[2022-03-02 12:53] Philippe-M opened #15695 "Error exporting to sql format"
Hello,

I have this request

[code]

I am trying to export the result to a sql file. I right click on the results and select "Export Results".
![image](https://user-images.githubusercontent.com/4558101/156363465-7b05e905-4528-4ccb-91b5-2af8b9a3c12a.png)

![image](https://user-images.githubusercontent.com/4558101/156363519-db729528-54da-407c-b55c-2db84716723e.png)

![image](https://user-images.gith

[2022-03-02 12:55] Skydiveroid commented on #15650
Thank you for the idea.

[2022-03-02 13:02] Skydiveroid commented on #15657
Could you please try resetting the workspace? You can find the instructions here:
https://dbeaver.com/docs/wiki/Reset-workspace/

[2022-03-02 13:05] Skydiveroid commented on #15659
Thank you for your request.

[2022-03-02 13:08] Skydiveroid commented on #15672
Thank you for the idea.

As an alternate solution, you can use bookmarks.

[2022-03-02 13:19] Skydiveroid commented on #15692
Hello @Ipsita503178922,

Can you please provide more information about your issue? Thanks.

[2022-03-02 13:24] Skydiveroid commented on #15695
Thank you for your report.

[2022-03-02 13:40] LonwoLonwo commented on #14566
Thanks for the feedback @sofiarosati

[2022-03-02 13:49] ShadelessFox commented on #15630
Hello @stegus64,

It looks like the driver determines the default encoding from the `file.encoding` Java property.

You might try setting it explicitly to `UTF-8` in the `config.ini` file after `-vmargs` line, like so:

[code]

Please let me know if the issue persists.

[2022-03-02 13:49] rotorboy commented on #15643
Not sure what you mean by thread dump or where to find how to do that.

-Avi

[2022-03-02 14:20] Ipsita503178922 commented on #15692
I need to reset my password . how do i do that?

[2022-03-02 14:32] Matvey16 commented on #15572
Verified

[2022-03-02 14:32] #15572 closed, assigned to Destrolaric, Matvey16

[2022-03-02 15:27] dabocla commented on #15458
Sorry for the late response - the times are in the screenshot that I shared above.  It's not the cleanest presentation, but the data is all there.

[2022-03-02 16:00] flambchap opened #15698 "Empty strings in PostgreSQL arrays are recognized as NULL"
#### System information:
- Operating system (distribution) and version
- DBeaver version 22.0.0 devel branch
- Additional extensions

#### Connection specification:
- Database name and version: PostgreSQL 11,6
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Steps to reproduce, if exist:
1. Execute the following:
[code]
The results are displayed like this:
![image](https://us

[2022-03-02 21:05] Nanzitos commented on #15600
This fix is available ?

[2022-03-02 21:25] sayakc027 opened #15700 "SQL Error [500618] [HY000]: Integrating DBeaver with Azure Databricks"
#### System information:
- Operating system (distribution) and version: MAC OS Version 12.2.1
- DBeaver version: https://dbeaver.io/download/
- Additional extensions

#### Connection specification:
- Database name and version: Azure Databricks (Client Confidential)
- Driver name: https://databricks.com/spark/jdbc-drivers-download
- Do you use tunnels or proxies (SSH, SOCKS, etc)? -- No

#### Descr

[2022-03-02 21:53] stegus64 commented on #15630
Yes, setting file.encoding to UTF-8 helps with this issue. Now it works as expected.

However, changing file.encoding in config.ini also affects how any sql scripts containing non-ascii characters are interpreted. Before the change sql scripts were assumed to be in ISO-8859-1, after the change they are assumed to be in UTF-8.

It is a little bit unfortunate that to display data correctly you need

[2022-03-02 22:04] edsonlima commented on #14681
Hi,
I am experiencing it in Windows 7, also.

[2022-03-02 23:11] kstechlinski commented on #3404
HI what's the status of a oracle debugger for dBeaver?

[2022-03-03 06:37] LonwoLonwo commented on #15600
Hello @Teasercry

This fix will be available in DBeaver version 22.0.0.  The release is planned for March 3.

[2022-03-03 09:01] ShadelessFox commented on #15630
Although the database itself may handle UTF-8 very well, its JDBC driver does not explicitly specify an encoding for strings when constructing them from the byte sequence the database sent and, therefore, the encoding defined by the `file.encoding` property is used instead.

Unfortunately, I don't think we can do anything about it.

[2022-03-03 09:35] Matvey16 commented on #15693
Verified

[2022-03-03 09:35] #15693 closed, assigned to Destrolaric, Matvey16

[2022-03-03 10:11] krzysztofjeziorny commented on #988
My experience on Debian 11 Bullseye, I had DBeaver installed with Flatpak. Trying to add a Native Client home for a Postgresql client located in `/usr/bin`, it changed this path into `/run/user/1000/doc/ff43939c/bin` and then didn't find the binaries.

I've downloaded the 'normal' zip package to extract, it works as intended with `pg_dump` and `pg_restore`.

[2022-03-03 10:16] Destrolaric commented on #988
@krzysztofjeziorny, Hi we investigated this issue sometime before, unfortunately, it's a flatpack issue. A workaround can be found here https://github.com/dbeaver/dbeaver/issues/5008

[2022-03-03 11:13] LonwoLonwo commented on #15692
Hello @Ipsita503178922

Please tell me, what kind of password are you want to restore? Database connection password? DBeaver master-password? Or something else?

[2022-03-03 11:15] Ipsita503178922 commented on #15692
database  connection password.

[2022-03-03 12:52] LonwoLonwo commented on #15692
What database do you use?

[2022-03-03 13:01] leonpierre commented on #7911
This is still valid with DBeaver v21.3.5 and Postgresql 13:

when exporting tables from a Postgresql DB to my local DB the table / column names doesn't keep the Uppercase
characters.

So it's not fixed in the latest DBeaver version, or did I miss something?

Thx

[2022-03-03 13:18] Destrolaric commented on #14749
@lpossamai You can try JDK 11. Liberica JDK distributes JDK 11 for M1. It may help determine if the issue is related to the newer version of Java or the M1 version itself.
You can download it here: https://bell-sw.com/pages/downloads/.
You need to `Show Package Contents` on DBeaver and find `Info.plist` file. In this file you need to add:
`<string>vm</string><string><Path to JDK>/Contesnts/Home/bi

[2022-03-03 13:50] Kerksys commented on #9252
Use sort on server for rows!
![image](https://user-images.githubusercontent.com/89728905/156577757-94407ffd-dd5d-4db0-9624-eb7aa5048c02.png)

[2022-03-03 14:03] ShadelessFox commented on #15102
Fixed.

[2022-03-03 14:23] kishorpawar commented on #14726
[this][1] has worked for me.

Uninstalling the broken instance, and re-installing it with `brew` has worked for me for some reason. It also restored my old connections.

```brew reinstall --cask dbeaver-community```

  [1]: https://www.mac-forums.com/threads/cannot-start-dbeaver-killed-9-from-cli.369812/post-1901145

[2022-03-03 15:00] LonwoLonwo commented on #14004
Fixed in DBeaver 22.0.1

[2022-03-03 15:10] stegus64 commented on #15630
ok, I understand.
The workaround is good enough for me.

I close this issue now.

[2022-03-03 15:10] #15630 closed, assigned to ShadelessFox

[2022-03-03 15:28] Zbambus opened #15704 "Extend shortcut support for switching between Cell Editor tabs"
The closed issue #10149 is nearly completed, but is still not targeting the initial request!

The new key bindings :

![image](https://user-images.githubusercontent.com/47529756/156593162-04ef2acd-30e0-4181-baea-23c0a027a04d.png)

works fine in this viewer (marking the BLOB column in the result set and hitting Enter) :

![image](https://user-images.githubusercontent.com/47529756/156593533-c96dbbe3

[2022-03-03 15:42] Gunshin82 commented on #8404
A work around has been supplied by alibarut on the Notepad++'s GitHub. Running the software as Administrator will allow the horizontal scrolling to work properly. I've tested this in both Notepad++ and DBeaver and they're working fine now. The downside is that you need Administrator privileges or have an Admin create a task which launches the software with highest privileges and then setup a short

[2022-03-03 16:43] LonwoLonwo commented on #15458
Hello @dabocla

Unfortunately, I do not see any screenshots. Please can you provide them one more time? But here in GitHub, not via e-mail.

[2022-03-03 17:00] ShadelessFox commented on #15704
Hello @Zbambus,

Sorry for not fulfilling your initial request.

We'll extend shortcut support also for switching between those tabs.

[2022-03-03 20:40] thnk2wn opened #15706 "Mac upgrade resets dbeaver.ini"
#### System information:
- Operating system (distribution) and version: Mac OS 12.2.1 (21D62)
- DBeaver version: 21.3.5.202202200327
- Additional extensions

#### Connection specification:
- Database name and version: NA
- Driver name: NA
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NA

#### Describe the problem you're observing:
I edited `/Applications/DBeaver.app/Contents/Eclipse/dbeaver.i

[2022-03-04 06:15] amadeoterri opened #15708 "SSH connection to db fails: Can't initialize tunnel - Index 198 out of bounds for length 198 (since update 21.3.5)"
Problems with connecting to database through SSH. I get the following error:

Can't initialize tunnel
  Cannot establish tunnel to {database}
  Cannot establish tunnel to {database}
    fromBase64: invalid base64 data
    fromBase64: invalid base64 data
      Index 198 out of bounds for length 198
      Index 198 out of bounds for length 198

I solved this temporarily by downgrading too 21.3.4..

[2022-03-04 07:42] LonwoLonwo commented on #15365
Fixed in DBeaver 22.0.0

[2022-03-04 07:42] LonwoLonwo commented on #15365
Fixed in DBeaver 22.0.1

[2022-03-04 07:43] Matvey16 commented on #15708
@amadeoterri Hello. Thank you for your report. Please provide some details about your configuration. What DB do you use, what OS is DBeaver installed on, if it is possible provide a screenshot with connection settings. And most importantly attach the error log so we can look at the stack trace (https://github.com/dbeaver/dbeaver/wiki/Log-files)

[2022-03-04 08:02] LonwoLonwo commented on #15602
Thanks for the answer @nathanielongyiitak

The issue you described has already been discussed here: https://github.com/dbeaver/dbeaver/issues/14107

I close this ticket as a duplicate and put an original ticket in the development queue.

[2022-03-04 08:02] #15602 closed, assigned to nobody

[2022-03-04 08:26] 2019-05-10 opened #15709 "On Save editor jumps to last line"
#### System information:
- Operating system Linuy, Debian/SID
- DBeaver version Version 21.3.5.202202200327
- Additional extensions -

#### Connection specification:
- Database name and version PostgreSQL 12
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Use an editor with several queries, so that you need to scroll to get to the botto

[2022-03-04 08:40] wiwwo commented on #13659
Guys, this is reeeeeeally annoyng :-)
Any plan to fix it? :-)

[2022-03-04 08:45] ShadelessFox commented on #15709
Hello @2019-05-10,

This issue was fixed in https://github.com/dbeaver/dbeaver/issues/15562 and the fix will be available in the next version (22.0.0).

[2022-03-04 08:45] #15709 closed, assigned to nobody

[2022-03-04 08:59] gruntx opened #15710 "Can't restore database on mysql 8.0 running in docker container"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04
- DBeaver version : 21.3.5
- Additional extensions

#### Connection specification:
- Database name and version : mysql 8.0.23
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Cannot restore mysql 8.0.23 database running in docker .
Connect to database, b

[2022-03-04 09:13] #15710 closed, assigned to nobody

[2022-03-04 09:51] ShadelessFox commented on #15708
Steps to reproduce:

1. Open `~/.ssh/known_hosts`
2. Remove the last digest from the host's fingerprint base64 string
3. Save
4. Try to connect to this remote host

[2022-03-04 09:52] ShadelessFox commented on #15708
Hello @amadeoterri,

It looks like your `~/.ssh/known_hosts` file got corrupted.

Can you try erasing it or removing the line containing the host you are trying connecting to?

[2022-03-04 10:41] amadeoterri commented on #15708
I'm using Windows 10. The problem is with plug-in: org.jkis.dbeaver.model. The SSH user name from the screenshots is coupled with my email and public key on the server. I'm using Putty and Pageant to load my keys.
I have the following stacktrace:
[code]
![ss1](https://user-images.githubusercontent.com/55751205/156750011-f848cff7-fd14-458f-a5fd-8b7fb07a3a4c.jpg)

![ss2](https://user-images.githubus

[2022-03-04 10:51] amadeoterri commented on #15708
Ok I will try and let you know. Thanks!

EDIT: But then again, why would my known_hosts be corrupt and still work with DBeaver 21.3.4?

[2022-03-04 10:52] mark-hyde opened #15711 "Opening SQLITE database connection wants to overwrite file."
#### System information:
- Operating system (distribution) and version
$ cat /etc/redhat-release
Red Hat Enterprise Linux release 8.5 (Ootpa)

- DBeaver version
DBeaver Community                                   io.dbeaver.DBeaverCommunity                                      21.3.5                            stable              system
(Also checked 21.3.4)

- Additional extensions

#### Connecti

[2022-03-04 11:57] ShadelessFox commented on #15708
It worked before 21.3.5 because the `~/.ssh/known_hosts` file wasn't used for host key verification, at least in the case of JSch implementation.

[2022-03-04 11:58] jankrejcik commented on #208
The scrolling (the last line of statement scrolls to the top of window) appears when execution trigger and script autosave event are to close to each other. Switching off the "Save editor on query execute" helped for me.

Should be reproducable with Save editor on query execute=ON and Auto-save after any modifications=OFF. Change anything in the query and execute.

Version 21.3.5.202202200327

[2022-03-04 12:01] LonwoLonwo commented on #14439
Looks like a duplicate of https://github.com/dbeaver/dbeaver/issues/14278

[2022-03-04 12:01] #14439 closed, assigned to nobody

[2022-03-04 13:55] Matvey16 opened #15714 "Athena connection settings show BROWSE button that works only in UE"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.0

#### Steps to reproduce, if exist:
1. Open Athena connection settings

**Expected:** S3 location setting has only a window to enter a path

**Actual:** It also has a `browse` button that works only in Ultimate Edditon

![dbeaver_hUw8WL6VdX](https://user-images.githubusercontent.com/82543000/15677

[2022-03-04 13:56] ShadelessFox commented on #15711
Hello @mark-hyde,

Pressing `Save` does not overwrite the existing file.

We had to make this dialog saveable to allow specifying non-existing files so that the database could create one.

[2022-03-04 13:56] #15711 closed, assigned to nobody

[2022-03-04 14:00] Matvey16 opened #15717 "Scripts change associated data source when opened for another one"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.0

#### Steps to reproduce, if exist:
1. Select a connection in DB Navigator and press `F3`
2. Click show scripts for all connections
3. Open a script associated with another connection

**Expected:** The script is still associated with it's original connection

**Actual:** Script changes it associa

[2022-03-04 14:16] Matvey16 opened #15722 "Buttons for calendar are dislocated on MacOS"
#### System information:
- Operating system (distribution) and version MacOS
- DBeaver version 22.0.0

#### Steps to reproduce, if exist:
1. Open a table with a date/timestamp column
2. Click on date value and open a value panel
3. Click on calendar

**Expected:** Buttons are aligned

**Actual:** Buttons are messed up

[2022-03-04 14:32] Destrolaric commented on #15717
Fixed

[2022-03-04 14:44] Matvey16 commented on #15717
This leads to NPE for scripts that are not in the project

[code]

[2022-03-04 16:25] match-gabeflores opened #15729 "Redshift - can't search Database Metadata in definitions (column pp.oid does not exist)"
When trying to search _in definitions_ for Redshift, I receive the below error message.

If I remove the option for "in definition", the search succeeds.

`SQL Error [42703]: ERROR: column pp.oid does not exist`

Search options
![image](https://user-images.githubusercontent.com/286903/156800560-83c4be00-ba34-4405-8031-a3a354da7a71.png)

Error
![image](https://user-images.githubusercontent.com/2869

[2022-03-04 17:38] Matvey16 commented on #15717
Verifed

[2022-03-04 17:38] #15717 closed, assigned to Destrolaric

[2022-03-04 17:52] DariaMarkaryan commented on #14359
Verified

[2022-03-04 17:52] #14359 closed, assigned to E1izabeth, DariyaFedorova

[2022-03-04 18:33] jonasmuller98 opened #15730 "View Declaration doesn't show full SQL code"
I need to see the declaration script for some view table, but it seems that the declaration code is not full at dbeaver. The script is been limited to 493 lines, which is wrong because the original script has much more than that. I couldn't find any config to change this and apparently no one else has been through this.

What is interesting is that i've changed to an older version (6.0.2.201904071

[2022-03-04 19:45] Matvey16 commented on #15708
Verified

[2022-03-04 19:51] E1izabeth commented on #15708
The checkbox to skip host fingerprint verification will be available since version 22.0.0 in Connection settings -> SSH -> Advanced settings.
![image](https://user-images.githubusercontent.com/28875055/156831860-546ed23b-ee84-4598-b9de-dc9371ec9031.png)

[2022-03-04 21:54] Zbambus commented on #15704
Thanks a lot for picking up this issue/request so quickly!

I hope I don't come acress as grumpy in the post above. I'm very fond of dBeaver and speak warmly of this product to all I meet that needs an interface to databases!

Looking forward to the resolution.

[2022-03-04 22:49] dabocla commented on #15458
Sorry, I thought they pasted as screenshots, but they pasted as text.  Below is the output from the query manager.  The number right before Success is the number of millis that the query took to execute.

Does this help?

[code]

[2022-03-05 02:39] lpossamai commented on #14749
Sorry @Destrolaric , but I don't have time to troubleshoot. I'm using PGADMIN 4 while you guys fix the problem. :(

[2022-03-05 03:44] offstate opened #15732 "MariaDB: Missing * in the query when counting records on the toolbar"
When I count records in simple query (select id from clients)
![image](https://user-images.githubusercontent.com/16996529/156866177-026bb3b5-68ba-490d-9b9f-bd6cdcbe2620.png)
The query should be of course 'select  count(*) from clients'

In another case, when the query is more complex 'select id from clients group by id' - it works fine.
![image](https://user-images.githubusercontent.com/16996529/1

[2022-03-05 06:41] LonwoLonwo commented on #15732
Hello @offstate

Thanks for the bug report!

This bug was fixed https://github.com/dbeaver/dbeaver/issues/15600.

DBeaver version 22.0.0 with the fix will be available at 07-03-2022

[2022-03-05 06:41] #15732 closed, assigned to nobody

[2022-03-05 06:43] LonwoLonwo commented on #15730
Hello @jonasmuller98

What Database do you use?

[2022-03-05 06:50] LonwoLonwo commented on #15729
Hello @match-gabeflores

Thanks for the bug report.

What Redshift version do you use?

[2022-03-05 06:58] DariaMarkaryan commented on #15708
Verified

[2022-03-05 06:58] #15708 closed, assigned to E1izabeth, Matvey16

[2022-03-05 07:00] DariaMarkaryan commented on #15546
Verified

[2022-03-05 07:00] #15546 closed, assigned to DariyaFedorova, LonwoLonwo

[2022-03-05 07:30] LonwoLonwo opened #15733 "[Datatransfer] keep "recreate" status for task editing."
DBeaver 22.0.0

"Recreate" status changes for "existing" in the case of task editing.

Steps:

1. Click on the table in the Database Navigator tree and choose "Import."
2. Choose CSV format and add the path to the import file
3. Change the "existing" mapping status of the table to "recreate"
4. Save the task
5. Close the data transfer dialog.
6. Click on the task in the Database Tasks view and cho

[2022-03-05 08:54] serge-rider opened #15735 "Attribute binding is broken"
It happens when asterisk is before column names.
In this case DBeaver binds incorrect table column to resulset column.

Query to reproduce (SQLite):
[code]
When your open column filter for the first "Title" column it shows dictionary for "AlbumId" column.

Also it may break data editor (save incorrect column).

[2022-03-05 10:35] LonwoLonwo commented on #14563
Fixed.

Will work only for the field "Database" in PG connection settings.

[2022-03-05 10:48] LonwoLonwo commented on #15458
Thanks for the investigation!

Please, can you compare the duration of these two queries?

[code]

vs

[code]

[2022-03-05 11:22] jonasmuller98 commented on #15730
Hello @LonwoLonwo

In this case is an Oracle DB

[2022-03-05 13:32] Matvey16 commented on #15735
Verified

[2022-03-05 13:32] #15735 closed, assigned to serge-rider

[2022-03-05 14:23] dbojan opened #15738 "when importing data from csv, if 'set empty strings to null' is on, everything after null is set to null, too"
#### System information:
- Windows 10
- DBeaver version 21.3.5
- Additional extensions

#### Connection specification:
- Database name and version: sqlite3
- Driver name: odbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no

#### Describe the problem you're observing:
when importing data from csv, if 'set empty strings to null' is on,
everything after null is set to null, too.
Same thing h

[2022-03-05 14:25] dbojan commented on #15738
There are no errors during the import.

[2022-03-05 16:20] arobinsongit commented on #7892
Tried the -- CONNECTION: name=MY_DB_CONNECTION trick on Version 21.3.5.202202200327 Community edition and still get an active connection drop.

[2022-03-05 21:40] TheMechanist902 opened #15739 "Compact formatter doesn't put column elements in one line"
#### System information:
- Operating system (distribution) and version: Win 10
- DBeaver version: 2.1.3.5
- Additional extensions: None

#### Connection specification:
- Database name and version: Postgres
- Driver name: Standard drivers delivered by dBeaver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Describe the problem you're observing:
The "compact formatter" is supposed to p

[2022-03-07 02:43] Goobercute opened #15741 "Foundationdb support"
Sorry, my English is not very good, but I want to know if you can add the visualization support of foundationdb

[2022-03-07 09:53] fwatteau commented on #15117
My issue due to my workspace is on a network share (expl : \\\\myserver\user$\appdata\roaming\dbeaverdata)

I've solved with mapping a letter U on \\myserver\user$ and add argument -data U:\appdata\roaming\dbeaverdata\workspace6 to dbeaver.exe)

[2022-03-07 11:02] zhicwu commented on #15469
@zhangrui-git, this is because by default the driver maps `UInt64` to Java `long`. However, you can change the behavior by setting driver property `typeMappings` to `UInt64=java.math.BigInteger`. With that, you'll see correct value in DBeaver.
![image](https://user-images.githubusercontent.com/4270380/157019006-ac2ecfbe-b201-4f60-878c-3988d3097097.png)

If you access UInt64 via programmatic way, y

[2022-03-07 11:12] zhicwu commented on #15196
Works for me on DBeaver 22.0.0.202203060510.

[2022-03-07 11:26] brankoradovanovic-mcom commented on #15563
This affects DB Navigator right click -> Delete too, it won't work as the generated DDL is incorrect. (Or, if it works, it will drop the wrong function.)

[2022-03-07 11:52] mikkk3l opened #15742 "Auto-complete DB2 does not work from 21.4 on"
#### System information:
- Operating system (distribution) and version windows 10
- DBeaver version 21.4
- Additional extensions

#### Connection specification:
- Database name and version DB2 DSN12015
- Driver name jdbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

In 21.3 version autocomplete table name with ctrl+space works but from 21.4 on it

[2022-03-07 12:58] fjf2002 opened #15743 "PostgreSQL: anycompatiblearray aggregate function: DBeaver fails to show source code"
#### System information:
- Windoze 10
- DBeaver version 22.0.0

#### Connection specification:
- PostgreSQL 14.2 (Debian 14.2-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit
- Driver name: postgresql 42.3.3
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No.

#### Describe the problem you're observing:
The database contains the function
[code]
DBea

[2022-03-07 13:06] SaulR commented on #15489
I have upgrade to 22.0.0.202203060510 and the problem is still happening

[2022-03-07 13:59] rwalke commented on #15612
Sorry for the missing messages.
Error messages:
1 (open the example database):
“Network error
Reason:
Network unavailable:
javax.net.ssl.SSLHandshakeException:PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target” and
“Can't create driver instance
  Error creating driver 'SQLite' instance.
Most likely requ

[2022-03-07 14:07] danydev opened #15745 "Cannot "select all" in columns of type "date""
#### System information:
- macos Monterey 12.2.1
- DBeaver Version 22.0.0.202203060510

#### Connection specification:
- Postgresql 11

#### Describe the problem you're observing:
When trying to select all text, inside a column of type dates, the focus moves to the sql script, selecting all the text inside that area (i.e. where you write the query)

#### Steps to reproduce, if exist:
- Do a query

[2022-03-07 14:10] ClodoaldoPinto opened #15746 "Include file in sql editor"
Is there a way to include a text file in a sql file in the sql editor? My use case is that I have a very long static CTE (a virtual table) that will be incorporated in many scripts. I have no create permission in the database so my only solution is the CTE.

[2022-03-07 14:12] jonasmuller98 commented on #15730
UPDATE

I've done some testing and even if I export the script as a SQL file using the "Save Script to File System" button, the script seems to be wrong. I've updated to the most recent version (22.0.0.202203060510) and it changed the behaviour to add a semicolon to the end.

![image](https://user-images.githubusercontent.com/40892141/157050381-a0f25694-1c09-4e7e-8a24-4fbc6b4f00ae.png)

![image](h

[2022-03-07 14:57] celiosilva commented on #9414
Same here

[2022-03-07 14:58] ShadelessFox commented on #15746
Hello @ClodoaldoPinto,

This feature is already present in DBeaver.

You can use `@include filename` statement.

Please refer to our documentation for more information: https://dbeaver.com/docs/wiki/Client-Side-Scripting

[2022-03-07 14:58] #15746 closed, assigned to nobody

[2022-03-07 14:59] celiosilva commented on #5931
Same here

[2022-03-07 15:10] Xylandor commented on #13658
#### System information:
- macOS Catalina - version 10.15.6
- DBeaver version 22.0.0.202203060510
- Additional extensions: None

#### Connection specification:
- Database name and version: MySQL 5.7
- Driver name: MySQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

I've been meaning to follow up with this, but haven't had the time lately. At the time of this writing, I downloaded the la

[2022-03-07 15:18] vitordm commented on #5805
I know this is closed, but, for solve this problem, I had to copy all the script to a "notepad++" and convert all text to ANSI, and then I copy all to DBeaver and it works.

[2022-03-07 15:21] ShadelessFox commented on #13658
Hello @Xylandor,

Thank you, I managed to reproduce the issue now.

I didn't pay enough attention to the `Show panels in result tabs` option.

[2022-03-07 16:28] phildebrand commented on #9414
I can confirm it's not fixed yet.

[2022-03-07 17:48] Lando021 opened #15748 "Could not update to latest version"
I need some help.

I was trying to update DBeaver today but when I tried it failed. After it failed this error comes up.
![image](https://user-images.githubusercontent.com/101134075/157089081-17a731ca-0309-4562-a3cd-ef85ac7f51f5.png)

I tried installing Java, but then another error kept coming up.

I'm not a programer, but any help to avoid having to reinstall the whole app would be helpful.

Than

[2022-03-07 18:41] dogunbound opened #15749 "Native client is not specified for connection"
#### System information:
- EndeavorOS
- 22.0.0.202203071315

#### Connection specification:
- PostgreSQL v13.6
- PostgreSQL JDBC Driver

#### Describe the problem you're observing:

Whenever I try exporting a collection, it tells me Native client is not specified for connection

[2022-03-07 20:00] serge-rider commented on #15748
What Windows version do you use? (it has to be 64bit Windows).
How did you install DBeaver? (for All Users or for Current user).

If you are on 64bit Windows 7 or later then try to uninstall DBeaver and install it again.

[2022-03-07 20:34] LonwoLonwo commented on #15742
Hello @mikkk3l

What DB2 version do you use?
Can you provide please the example of a query? Video or screenshots of the issue will be also very helpful.

[2022-03-07 20:53] kai-morich commented on #15617
might have similar rootcause as #14064

[2022-03-07 22:00] abij commented on #15700
I'm using DBeaver with Azure Databricks (Runtime 10.1).
Can you specify your Databricks cluster Runtime?

In the error I can see "arrow" as part of the problem. You can try to disable this:
`spark.sql.execution.arrow.pyspark.enabled false` in the Spark Conf

[2022-03-08 00:03] ragtux opened #15750 "Auto-fetch next segment not working"
#### System information:
- Operating system: Windows 10
- 22.0.0.202203060510

#### Connection specification:
- PostgreSQL version 14
- PostgreSQL JDBC Driver

#### Describe the problem you're observing:
Auto-fetch next segment is not working even though box is checked. Should auto-fetch when scrolled down entirely in results tab.

![image](https://user-images.githubusercontent.com/56554701/157138

[2022-03-08 02:21] ragtux commented on #15750
It seems like auto-fetch has a problem when the table has fewer records in it (~10,000) it appears to work on tables with more rows than this.

[2022-03-08 03:20] FreshSnack opened #15751 "record mode add comment"
Can be configured to display comments in grid mode, can a similar configuration be given in record mode to display field comments

[2022-03-08 07:04] serge-rider commented on #15750
Could you past a sample SQL query you execute?

In 22.0 we added scroll limitation for queries which may potentially update table data (e.g. UPDATE, etc).

[2022-03-08 07:07] serge-rider commented on #15742
You also could check what SQL query DBeaver executes to read database metadata (see https://github.com/dbeaver/dbeaver/wiki/Query-Manager)

[2022-03-08 09:14] pjom commented on #4791
@mk1tools' workaround's still rocking.
I've been having issues with the Darkest Dark theme from DevStyle and the workaround solved the issue.
I'm taking note of it for next time.
Thanks!

[2022-03-08 09:23] tautf opened #15753 "Firebird: CREATE PROCEDURE has no effect"
#### System information:
- Operating system (distribution) and version: Mac OS
- DBeaver version: 22.0.0
- Additional extensions

#### Connection specification:
- Database name and version: Firebird 3.0.7
- Driver name: Firebird
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
Running a script with `CREATE OR ALTER PROCEDURE` is running successful

[2022-03-08 09:41] mikkk3l commented on #15742
DSN12015, updated.
There is no query in query manager for me to retrieve metadata (maybe the driver does it at init)

[2022-03-08 09:45] mikkk3l commented on #15742
Video (in previous version it retrieves ir almost inmediately)

https://user-images.githubusercontent.com/15341836/157210869-0038b343-0b89-4923-a5a3-98058784f47e.mp4

Finnally the metadata is gathered, after aprox several minutes. But next query to metadata takes again the same amount.

Besides, when you close DBeaver, it remains in background and you have to kill the task via tasks admin in Windo

[2022-03-08 09:56] mikkk3l commented on #15742
This is the correct behaviour in 21.3:

https://user-images.githubusercontent.com/15341836/157212811-b9819907-18f4-4675-9658-104c38204d8f.mp4

[2022-03-08 11:25] Destrolaric opened #15754 "[ER Diagrams] Performance improvement"
### Problem
Currently, if the diagram has many elements with multiple connections, it may cause severe lags on the client, leading to a long loading time. This can be easily seen on the sys diagram. That is an even worse issue for CloudBeaver clients.
### Solution
We need to look at how the current solution can be improved. Improving algorithms used for pathfinding can be a solution to this issue.

[2022-03-08 11:38] Destrolaric opened #15755 "[ER Diagrams] Better routing"
## Problem
Sometimes our current routing method creates incorrect pathways to entities, leading to relations interloping with entities. Also connections only lead to the entity itself, not the foreign key. That is confusing for users and requires polishing.
## Solution
Pathfinding algorithms and graphics require improvement to prevent the mentioned issue. Relationships should be shown key -> forei

[2022-03-08 12:24] ystenberge opened #15756 "Order by column ASC or DESC is case-sensetive, switch to case-insensetive"
Hey,

I just upgraded to the newest version and noticed when I use the dbeaver function to order a table or view column, which contains text, the result is case-sensitive like ABCabc, before it was case-insensitive like AaBbCc. When I use a SQL query instead to Order By the column the result is case-insensitive. I couldn't find any information about this. Is there a setting in preferences to chose

[2022-03-08 12:59] LonwoLonwo commented on #15749
Hello @dogunbound

Can you please provide more info to this issue? Steps to reproduce maybe? What type of export do you use?

Also [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files) will be beneficial.

[2022-03-08 13:08] LonwoLonwo commented on #15743
Hello @fjf2002

Thanks for the bug report.

As I can see, the problem is not in the polymorphic data type (but thanks for the helpful link!).

We use pg_get_functiondef(oid) for routines definition reading.
And pg_get_functiondef() does not work on aggregate functions - [link](https://stackoverflow.com/questions/48709614/error-array-agg-is-an-aggregate-function-while-getting-function-definitions)

[2022-03-08 13:18] LonwoLonwo commented on #15753
Hello @TautFlorian

Can you provide more info please?

I can't reproduce for now.

![2022-03-08 16_13_45-DBeaver Ultimate 22 0 0 - _EXT FDB_Script-134](https://user-images.githubusercontent.com/45152336/157245150-e839d105-5ea7-4938-8867-783bde7a3cf2.png)

Do you execute a create procedure script in DBeaver SQL Editor?

What does it mean - the procedure is not created? Does it appear in the Databas

[2022-03-08 13:20] LonwoLonwo commented on #15753
Also is any extra info in the [Error log](Also is any extra info in the Error log?)?

[2022-03-08 13:31] tautf commented on #15753
So i did the following:

`DROP PROCEDURE GET_EXTRATREATMENTS;`
Procedure was dropped successfully.

Then i did:

[code]

Output in console is the following:
![Bildschirmfoto 2022-03-08 um 14 28 05 PM](https://user-images.githubusercontent.com/18403881/157247469-81f51df1-68c6-450f-b50f-d4e6d1e747d5.png)

Refresh and reconnect of procedures in the ui still does not show the procedure and call of it

[2022-03-08 13:34] tautf commented on #15753
Addition, even if i grant permissions afterwards, it works fine:
[code]

But
[code]

Returns:
[code]

[2022-03-08 14:00] lackovic opened #15757 ""Illegal character in hostname" error when using Git Support plugin on WSL2"
#### System information:
- Operating system and version: Windows 10 21H1
- DBeaver version: `22.0.0`
- Additional extensions: **Git Support plugin**

#### Connection specification:
- Database name and version: irrelevant
- Driver name: irrelevant
- The Git Support plugin repository files are stored in the WSL2 file system, under the path `\\wsl$\Ubuntu-20.04\home\marco\src\b2b-db\`

#### Describe

[2022-03-08 15:08] lackovic commented on #15757
I fixed it by:
1. uninstalling DBeaver
1. deleting `C:\Users\Marco\AppData\Roaming\DBeaverData`
1. installing DBeaver

[2022-03-08 15:33] Kamurai opened #15758 ""Set active connection" and "Set active schema" are not available in menu or toolbar."
"Set active connection" and "Set active schema" are not available in menu or toolbar.  For those familiar, it was two drop boxes in the toolbar.

 

This is not present in 6.0.5 which I've been using the better part of a year now.

I've done quite of bit of researching and this doesn't seem to have been noted since 6.0.3, which I was forced to use in a different environment.  Having it upgraded to

[2022-03-08 15:34] M-Ahall commented on #15628
Hi, thanks for the quick update, but the cursor is still placed at the end of the editor in 22.0.0.

[2022-03-08 16:09] mackers2 commented on #14578
Global formatting:
![image](https://user-images.githubusercontent.com/94457559/157277193-83d0ccbe-51dd-4d6d-8c10-032bac4ab75c.png)

IRIS formatting:
![image](https://user-images.githubusercontent.com/94457559/157277284-f8d35349-eaf1-4f5c-ab1b-7db1a5918b57.png)

Display when this format is active:
![image](https://user-images.githubusercontent.com/94457559/157277395-050b2176-0c70-4c92-8860-b1b32f09

[2022-03-08 16:12] mackers2 commented on #14578
@uslss  please can you reopen this now I've added more info.  I don't seem to be able to.

[2022-03-08 16:22] dbajaj1 commented on #9326
@Matvey16
[trim2.mov.zip](https://github.com/dbeaver/dbeaver/files/8207885/trim2.mov.zip)

[2022-03-08 16:34] dbojan commented on #15738
as a temporary workaround, one can replace empty cells values with * or some other character not used in the data,
and use 'null value mark' set to * when importing csv.

[2022-03-08 17:10] dogunbound commented on #15749
In terms of reproducing the steps, it occurs whenever I also try to make a backup too. I'll get to you with those log files soon!

[2022-03-08 20:04] Seanld opened #15759 "Selecting `timestamptz` field "modifies" the cell, rather than highlighting."
#### System information:
- OS: Arch Linux
- DBeaver: 22
- Additional extensions: none

#### Connection specification:
- Postgres
- Default driver
- No proxies or tunnels

#### Describe the problem you're observing:

When clicking any `timestamptz` field, it automatically highlights in orange (the default "cell modified" color). However, it does not seem to actually change the content of the cell.

[2022-03-08 22:41] groobo opened #15760 "Extend Connection Type color coding to Tabs"
The Connection type setting with a color choice is an excellent solution to quickly identify between production, test and development databases. I am often working on multiple connections of the 'same' database so it comes handy and prevented many accidents in the past.
I see a room for improvement here – I would like to extend this feature so that the Parent tabs (the one with actual Table names)

[2022-03-08 23:33] dogunbound commented on #15749
@LonwoLonwo

I made a mistake. I found the log file:

[code]

[2022-03-08 23:45] dogunbound commented on #15749
Also when I try to use the restore tool to restore a database.

[2022-03-09 00:12] ragtux commented on #15750
huh, I am now unable to replicate this behavior on my end. It seems to be working normally. The query was:
[code]
I tried restarting dbeaver and rebooting my machine but it still wasn't working. I think I had the result-set fetch size set to 1000 and I tried various fetch sizes.

I will close this issue as I cannot replicate this behavior.

EDIT: I had just upgraded to the latest version (22.0.0),

[2022-03-09 02:15] pengwanli opened #15761 "presto MAP‘s results panel is blank"
system: win10
dbeaverVersion: 22.0

presto map‘s results panel is blank. but It work in Dbeave 21.2.5;

[2022-03-09 02:19] suhailmemon commented on #14944
<img width="514" alt="image" src="https://user-images.githubusercontent.com/36083983/157359818-1a3cd7ad-4060-4100-94d8-0b6d113ae0d5.png">

[2022-03-09 02:20] suhailmemon commented on #14944
yes as shown in the screenshot above i can see mytestproc in the database navigator but can't run it

[2022-03-09 02:27] suhailmemon commented on #14944
if you want to have a zoom call or google meeting about this, i'm happy to share my screen and demo you the issue as well

[2022-03-09 05:56] LonwoLonwo commented on #15758
Hello @Kamurai

What database do you use?

[2022-03-09 06:01] Kamurai commented on #15758
DB2 and SQL Server, but it is irrelevant as my issue occurs before DB selection.

[2022-03-09 06:16] mopsik10 commented on #15563
actual in DBeaver version  22.0.0.202203060510 also

[2022-03-09 06:48] LonwoLonwo commented on #15753
Hello @TautFlorian

DBeaver uses the Firebird driver to read the procedures/functions list.
Can you provide more info about your driver, please?

You can check the version of the driver in the Connection Settings -> Test Connection.

![2022-03-09 09_44_03-DBeaver 22 0 0 - _PostgreSQL - postgres_ Script-10](https://user-images.githubusercontent.com/45152336/157387223-774b8e3d-2415-42da-a803-7a4b913

[2022-03-09 06:54] LonwoLonwo commented on #15730
Hello @jonasmuller98

DBeaver uses `SELECT DBMS_METADATA.GET_DDL('VIEW','VIEW_NAME','SCHEMA_NAME') TXT FROM DUAL` query for view definition reading.

Maybe the TXT field is not big enough. Or this function can't return so many lines.
We will investigate this issue.

[2022-03-09 07:12] LonwoLonwo commented on #15738
Hello @dbojan

Thanks for the bug report.

Interesting thing - Preview works fine. And import without enabled 'set empty strings to null' setting is also working fine.

![2022-03-05 23_43_30-Preview data import - delimeter_coma_empty_csv2](https://user-images.githubusercontent.com/45152336/157390870-8ad34348-cdf0-474b-84b2-9b8668f29b28.png)

So the issue is here with this 'set empty strings to nul

[2022-03-09 07:18] Bitros opened #15763 "[Oracle] Bug: MV changes are not saved."
Any changes in Oracle MV can not be saved when switch to DDL Compact Format. But it works well when switch to Full DDL Format.

DBeaver CE  V22.0

**CREATE MATERIALIZED VIEW MVTEST AS SELECT 1 FROM dual;**

![image](https://user-images.githubusercontent.com/9913942/157391673-fd2c4081-f886-4ea3-a24c-507e059454e1.png)
![image](https://user-images.githubusercontent.com/9913942/157391697-30fc4b86-9e7a

[2022-03-09 07:21] LonwoLonwo commented on #14578
Hello @mackers2

What data type has your column with incorrect formatting?

[2022-03-09 07:31] LonwoLonwo commented on #15749
Hello @dogunbound

We have an extensive discussion about native clients here: https://github.com/dbeaver/dbeaver/issues/7976.

For now, we do not support the auto-loading of native clients for Linux, but we have plans for this: https://github.com/dbeaver/dbeaver/issues/14620

So. Did you try to download the local client manually?

![2022-03-09 10_29_03-Backup](https://user-images.githubusercontent

[2022-03-09 07:33] serge-rider commented on #15750
We reproduced this issue on some SELECT queries which can't be parsed by DBeaver (but can be executed by a database server).

[2022-03-09 07:36] LonwoLonwo commented on #15729
Fixed in DBeaver 22.0.1

[2022-03-09 07:59] Matvey16 commented on #15759
@Seanld Hello. I was not able to reproduce this. Can you provide some screenshots or a video if it possible? Also does it trigger the appearance of asterisk in the tab name and activation of save/cancel buttons?

[2022-03-09 08:01] LonwoLonwo commented on #15758
It works fine for me if any SQL Editor is already open in DBeaver.

Do you have opened the SQL Editor tab in DBeaver?

![2022-03-09 11_00_15-DBeaver Ultimate 22 0 0 - _postgres 13 3_Script-81](https://user-images.githubusercontent.com/45152336/157398073-6ea11984-bd1f-47b9-a7af-18d1a0842afb.png)

[2022-03-09 08:03] Matvey16 opened #15765 "Read data in SQL editor from multiple tables"
#### System information:
- DBeaver version 22.0

#### Steps to reproduce, if exist:
1. Highlight multiple table in the navigator
2. In the context menu click `Read data in SQL editor`

**Expected:** Selects for all tables is executed as a script

**Actual:** Only one select statement is executed while others are skipped

[2022-03-09 08:54] ShadelessFox commented on #15628
Hello @M-Ahall,

We have fixed the other issue (#15562) within this issue.

As described in this issue, only the latter query was executed (or no query at all) because the cursor is moved to the editor's end. We fixed that, and now the first query is performed as in previous versions.

Some of my colleagues think that the current cursor's behavior makes sense. Think of the `Read data in SQL editor

[2022-03-09 08:55] LonwoLonwo commented on #14528
Fixed in DBeaver 22.0.1

Now DBeaver will search for the `DBA_SCHEDULER_JOB_RUN_DETAILS` view first and, if not found - will use the `USER_SCHEDULER_JOB_RUN_DETAILS `view for the Jobs run log reading.

[2022-03-09 09:38] fadzlan opened #15766 "NullPointerException when opening database diagram"
#### System information:
- Operating system (distribution) and version : MS Windows 10 Pro
- DBeaver version : 22.0.0
- Additional extensions : -

#### Connection specification:
- Database name and version : PostgreSQL 12.2 (Debian 12.2-2.pgdg100+1)
- Driver name : PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  : No

#### Describe the problem you're observing:

Opening any existing

[2022-03-09 10:01] fadzlan commented on #15766
I disabled theming, and somehow its a different error :-
[code]

[2022-03-09 10:03] Matvey16 commented on #15714
Verified

[2022-03-09 10:03] #15714 closed, assigned to ShadelessFox, Matvey16

[2022-03-09 11:05] majkyyx commented on #14528
thx a lot guys :-) :+1:

[2022-03-09 11:15] Matvey16 commented on #15643
As stated in the link above (https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump) it creates a file with more information about threads, I recorded a simple gif on how it can be done. The file will be created in current cmd directory
![dbeaver_CuyvEN8Ujc](https://user-images.githubusercontent.com/82543000/157431031-1d2d8560-6547-41dc-8486-f292c1967ab4.gif)

[2022-03-09 11:19] Matvey16 commented on #15654
@SSSDNSY Can you please provide more specific steps to reproduce the issue? Am I doing something differently on the attached video?

![dbeaver_8xAX6k2NUX](https://user-images.githubusercontent.com/82543000/157431583-460e15dd-c7cd-48c8-bf8f-b36df1d83139.gif)

[2022-03-09 11:26] Matvey16 commented on #15686
@alanneese Hello, thank you for the report. Do you have any settings that may be disconnecting you because of the timeouts? This message should appear if the connection for editor was lost

[2022-03-09 11:44] alanneese commented on #15686
No, not that I am aware of.  I have been fighting this error for a while.

On Wed, Mar 9, 2022, 5:26 AM Matvey16 ***@***.***> wrote:

[2022-03-09 11:56] uslss commented on #15729
verified

[2022-03-09 12:02] LonwoLonwo commented on #15739
Hello @TheMechanist902

Thanks for the bug report!

[2022-03-09 12:03] rotorboy commented on #15643
How long should I leave jstack running, and how do i terminate the app? eg kill -SIGHUP, other?

-Avi

[2022-03-09 12:13] LonwoLonwo commented on #15761
Hello @pengwanli

Can you provide more info, please?

What Presto database version do you use? What driver do you use?

Can you provide screenshots or a video of this issue?

Maybe you can find some helpful info on our wiki page: https://github.com/dbeaver/dbeaver/wiki/Working-with-Spatial-GIS-data

[2022-03-09 12:16] LonwoLonwo commented on #15766
Hello @fadzlan

What theme do you use? And what theme did you use?

[2022-03-09 12:17] LonwoLonwo commented on #15763
Hello @Bitros

Thanks for the bug report.

[2022-03-09 12:18] LonwoLonwo commented on #15763
This is not good also:

![2022-03-09 14_05_18- Oracle  Bug_ MV changes are not saved  · Issue #15763 · dbeaver_dbeaver — Mozil](https://user-images.githubusercontent.com/45152336/157440504-2117f15f-7dcd-4c25-99b3-df9f2ea69594.png)

[2022-03-09 12:37] enboig opened #15775 "Advanced copy convert Database name and Table name to upper case"
#### System information:
- Operating system (distribution) and version Ubuntu 20.04
- DBeaver version 22.0.0
- Additional extensions

#### Connection specification:
- Database name and version MariaDB

#### Describe the problem you're observing:
When using 'Advanced copy -> SQL', to get `INSERT INTO ...` database name and table name is converted to uppercase:
`INSERT INTO MyDatabaseName.MyTableNam

[2022-03-09 12:39] #15729 closed, assigned to uslss, LonwoLonwo

[2022-03-09 12:43] LonwoLonwo commented on #15745
Thanks for the bug report @danydev

![ROAQjaMzI3](https://user-images.githubusercontent.com/45152336/157443954-63708215-6f4f-49c5-a86d-eac457243a10.gif)

I can reproduce it.

[2022-03-09 12:45] pengwanli commented on #15761
![image](https://user-images.githubusercontent.com/21196591/157443810-3a18e321-4693-46ac-b879-53ef9e8f9938.png)
this

Presto Version:  presto-jdbc-0.270.jar
DBversion: 22.0.0
The panel cannot parse the map structure data of presto.

[2022-03-09 12:47] LonwoLonwo commented on #15761
Could you please send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-03-09 13:00] fadzlan commented on #15766
I just use the Dark theme that is already present in DBeaver.

[2022-03-09 13:09] paul-eeoc commented on #14927
Whenever I upgrade DBeaver, (now on v. 22.0.0), I always had to re-install the office plugin.
DBeaver Office integration - https://dbeaver.io/update/office/latest/

[2022-03-09 13:21] LonwoLonwo commented on #15766
Can't you reproduce it again?
Can you provide a video or screen of the issue?

I can't reproduce for now, unfortunately.

[2022-03-09 13:48] aleksandr-shevchenko opened #15777 "Import process stopped if last symbol of text field has backslash"
original string = ABC "Z" MTK
export string is csv-file as (for example 3 field)
123,"ABC ""Z"" MTK",456
and cannot import second field, write cannot format "Z" to digit.

ver.22.0.0

[2022-03-09 14:16] fadzlan commented on #15766
https://user-images.githubusercontent.com/542501/157459319-77983029-5af7-4dac-9bca-07a5707e2ed4.mp4

[2022-03-09 14:17] LonwoLonwo commented on #15777
Hello @aleksandr-shevchenko

Unfortunately, I can't reproduce.

So, please, provide more info.

What database do you use? What data type has a column with this String value?
Do you use import in an existing table or create a new one?

Can you provide a screen of your CSV import settings? What type of "Quote char" is there?

![2022-03-09 17_14_33-Data Transfer](https://user-images.githubusercontent

[2022-03-09 14:18] LonwoLonwo commented on #15777
Also, if any additional info is in your [Log files](https://github.com/dbeaver/dbeaver/wiki/Log-files) - please share it here.

[2022-03-09 14:18] JessePreiner commented on #583
Would it be possible to give a rough outline of what would be involved? Maybe we can help out if we know what it would take!

[2022-03-09 14:33] Kamurai commented on #15758
I had not opened a new script beforehand, doing so seems to display it correctly.

Thank you, I'm glad this isn't a problem.

[2022-03-09 14:34] paid-geek opened #15780 "Launch Terminal Session from DBeaver"
In other SQL IDEs, there is the ability to access the target database system via a terminal session. The feature I would like DBeaver to have is the ability to launch a terminal session so server-side files can be edited from within the tool.

The solution I am looking for is the ability to right-click on the connection and have an open to "Open via Terminal" and it would leverage that connection'

[2022-03-09 14:35] LonwoLonwo commented on #15758
Thanks for the quick response and investigation @Kamurai

[2022-03-09 14:36] #15758 closed, assigned to nobody

[2022-03-09 14:40] aleksandr-shevchenko commented on #15777
![ss_2022_03_09__18_37_50](https://user-images.githubusercontent.com/25248634/157463643-1f09be4d-479b-4de1-8ae4-216bf06d8fb4.png)

[2022-03-09 14:42] aleksandr-shevchenko commented on #15777
![ss_2022_03_09__18_36_38](https://user-images.githubusercontent.com/25248634/157464322-e0419c82-d880-4a10-803e-372eeb259246.png)

[2022-03-09 15:15] LonwoLonwo commented on #15777
Ok, I see.

Can you check the data type of your target String column?

![2022-03-09 18_11_39-DBeaver Ultimate 22 0 0 - MVTEST](https://user-images.githubusercontent.com/45152336/157470472-26cb2276-f5d0-478f-9b73-4986dcb7c261.png)

The `Can't parse numeric value` message usually appears if you add a string value in the numeric column.

[2022-03-09 15:37] ShadelessFox commented on #15780
Hello @paid-geek,

You can install an extension that provides terminal support inside Eclipse:

https://marketplace.eclipse.org/content/tm-terminal

Although we don't have any integration to sync hosts, you can add them manually.

Please let me know if that solves your issue.

[2022-03-09 16:48] amazzucco48 commented on #15458
Query performance with Join: 80,000ms
Query performance without join: 300ms
all_tables select *: 1,600ms

[2022-03-09 17:26] LonwoLonwo commented on #15458
with JOIN is

[code]

- 80,000ms

And without -

[code]

- 300ms

Am I right?

[2022-03-09 17:41] amazzucco48 commented on #15458
Correct.

This is also another long running query (60,000ms):
[code]

[2022-03-09 19:17] aleksandr-shevchenko commented on #15777
I found!
original string = ABC "Z" MTK\     (last symbol in varchar - backslash)
export string is csv-file as (for example 3 field)
123,"ABC ""Z"" MTK\\",456
and cannot import second and rest fields with various error depending from next field with "not null" or no.

[2022-03-09 20:04] NikolayS opened #15783 "Use `SSHJ` implementation by default to support ed25519 keys"
#### System information:
- Operating system (distribution) and version – doesn't matter (in my case, latest macOS)
- DBeaver version ersion 22.0.0.202203060510)
- Additional extensions

#### Connection specification:
- Database name and version Postgres, doesn't matter
- Driver name Postgres driver (default one)
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  SSH port forwarding – it works wel

[2022-03-09 20:08] carverjc commented on #6213
For the CData ODBC driver I was using, I got it fixed by changing the "Map To WVarchar" to False.  Then I restarted DBeaver and it worked.

[2022-03-09 20:13] E1izabeth commented on #15783
Hello, @NikolayS! Have you tried to switch to another ssh library used to establish connection tunnel? It can be done in Advanced settings:
![image](https://user-images.githubusercontent.com/28875055/157525938-db37a64a-509a-4049-8952-ee0f1d0ab7be.png)

[2022-03-09 20:16] NikolayS commented on #15783
@E1izabeth thanks! It works well (however, without you, I wouldn't go there – so the problem will remain for the majority of users)

[2022-03-09 20:25] NikolayS commented on #15783
Maybe SSHJ could become the default?

[2022-03-09 21:30] dogunbound commented on #15749
Sweet! Got it working! Thanks @LonwoLonwo

Good to know that they are working on fixing the linux clients! There should be for the time being better documentation on this. I couldn't find this solution anywhere. Maybe I didn't google the write question. hmmm...

[2022-03-09 21:30] #15749 closed, assigned to nobody

[2022-03-09 21:51] LonwoLonwo commented on #15777
I do not see the error with this bakslash line, but I can see, that import is broken after this line - import process stopped.

![2022-03-10 00_51_18-line_with_quotes csv — H__asya_special_dbeaver_backup — Atom](https://user-images.githubusercontent.com/45152336/157542449-69fff704-c980-4909-b750-babe7e74b2dd.png)

[2022-03-09 21:53] LonwoLonwo commented on #15749
Thanks for the answer @dogunbound

We will think more about documentation for local clients.

[2022-03-09 22:45] deepaksenthilkumar opened #15784 "Imported an export from a windows user and prevents MAC instance of DBeaver from opening"
#### System information:
- Operating system (distribution) and version Mac OS X 11.5 x86_64
- DBeaver version 22.0.0

Import preferences using the attached file which was exported from a windows environment.
[my_dbeaver_settings.epf.txt](https://github.com/dbeaver/dbeaver/files/8218707/my_dbeaver_settings.epf.txt)

Restart DBeaver

It gives the following error

![image](https://user-images.githubu

[2022-03-10 04:35] aleksandr-shevchenko commented on #15777
It would be great if the program indicated the line number and the line itself, which it could not import. Instead of writing misleading messages about the string "Z".

[2022-03-10 06:49] LonwoLonwo commented on #13549
It seems that the Athena driver updating solved this issue too. Can't reproduce in DBeaver 22.0.0
https://github.com/dbeaver/dbeaver/issues/13784

[2022-03-10 07:36] Matvey16 commented on #15750
Verified

[2022-03-10 07:36] #15750 closed, assigned to serge-rider, Matvey16

[2022-03-10 08:06] dbajaj1 commented on #9326
@uslss I do not see a way to re-open the issue

[2022-03-10 08:21] LonwoLonwo commented on #15196
Hello @zhicwu

It works fine with the latest Clickhouse driver?

[2022-03-10 08:27] zhicwu commented on #15196
Yes, it works fine with the new driver(>=0.3.2) but not legacy driver(<=0.3.1-patch).

[2022-03-10 09:15] icstreispe opened #15786 "Dbeaver 21.0.4 external updates in tables not visible"
I am using version 21.0.4.202105021514 of Dbeaver and connect to Oracle database.
Using sql editor set up to manual commit & smart commit mode & read commited:
I do a query, results are ok
I externally modify the table queried and change some data (using another application or sql developer tool)
I can see the changes in the table data in sql developer tool but not in dbeaver
Same problem happens

[2022-03-10 09:44] AndrewGabelliTR opened #15788 "Incorrect results returned when accessing results of snowflake scripting stored procedure"
#### System information:
- Windows 10 Enterprise 21H2 build 19044.1526
- DBeaver version 22.0.0
- Additional extensions: None

#### Connection specification:
- Snowflake
- Driver name

#### Describe the problem you're observing:

Unable to access return value from stored procedure created with Snowflake scripting

#### Steps to reproduce, if exist:

create or replace procedure test_sp()
returns ta

[2022-03-10 09:45] andrematzke commented on #15117
Dear @akilovich,
@fwatteau mentioned a work around, which fwatteau figured out is working for him. Could this be a usable hint for a possible solution for one of the next releases ?

BR,André

[2022-03-10 10:01] #15788 closed, assigned to nobody

[2022-03-10 10:03] bobf32 opened #15789 "Incorrect results returned when accessing results of snowflake scripting stored procedure"
#### System information:
- Windows 10 Enterprise 21H2 build 19044.1526
- DBeaver version 22.0.0
- Additional extensions: None

#### Connection specification:
- Snowflake
- Driver name

#### Describe the problem you're observing:

Unable to access return value from stored procedure created with Snowflake scripting

#### Steps to reproduce, if exist:

create or replace procedure test_sp()
returns ta