[2022-04-28 11:07] ShadelessFox commented on #16328
I assume that you're using TNS. When the client is present, a TNS names path is resolved (if not specified) using that client.

Perhaps you should specify this path manually?

[2022-04-28 11:35] ShadelessFox commented on #16049
So, basically, you want this combo menu to show references from the table that is currently shown in that panel?

![image](https://user-images.githubusercontent.com/35821147/165740753-d2e05f92-1177-4688-81da-4d9ae737bd7b.png)

I'm not sure what data that panel should display in such case. Should it result in query that looks something like this?

[code]

Thanks.

[2022-04-28 11:39] ShadelessFox commented on #16181
So you just want to save filters? This can be achieved by pressing this button:

![image](https://user-images.githubusercontent.com/35821147/165743976-83ee7b72-7401-4205-8726-9aa5265e3741.png)

[2022-04-28 11:41] ShadelessFox commented on #16354
Hello @ahhmedbilal,

Does this option fulfills your request?

![image](https://user-images.githubusercontent.com/35821147/165744321-133c6f8b-2b69-423d-ac5d-a7d49b0783b4.png)

[2022-04-28 12:13] spassignat commented on #16181
Ok I got it. That's part of the filter !

great Thanks !

[2022-04-28 12:16] ShadelessFox commented on #16181
You're welcome!

I assume that the issue may be closed now.

[2022-04-28 12:16] #16181 closed, assigned to ShadelessFox

[2022-04-28 12:26] spassignat commented on #16181
Just one more question about that.

I can save the column ordering, but the custom filters (where clause) is not saved. Is it a expected behavior ?

thanks

[2022-04-28 12:27] spassignat commented on #16181
my version is
![image](https://user-images.githubusercontent.com/6451374/165751705-bb2538c9-b280-4e23-907c-cc4dea198bb9.png)

[2022-04-28 13:11] E1izabeth commented on #16181
@spassignat thank you for noticing. It's a bug and we have already fixed it. Fix will be available in 22.0.4

[2022-04-28 13:17] ahhmedbilal commented on #16354
Above option saves only the latest filter. i.e if i shutdown DBeaver, on restart the same filter will come up. But how to save multiple filter and select them on need basis. e.g
first filter: r*sr lab r*dw
2nd filter: p*gcf lab r*abc
and so on.

DBeaver should allow to save filter with name and those filter can appear on the drop down menu of filter
![image](https://user-images.githubusercontent.c

[2022-04-28 13:24] ShadelessFox commented on #16354
I see. Thank you for the clarification.

[2022-04-28 14:31] david-AH commented on #4483
Plus 1 for having this very annoying issue.

[2022-04-28 14:54] Matvey16 opened #16355 "[Oracle] Incorrect INSERT query generated for CLOB/BLOB longer than 4000 symbols"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.4

#### Steps to reproduce, if exist:
1. Open a table with CLOB/BLOB column that has a value longer than 4000 symbols
2. Rightclick on that row and click `Generate SQL > INSERT`
3. Copy generated query
4. Execute it in SQL Editor

**Expected:** Row is inserted
**Actual:** Query can't be executer bec

[2022-04-28 14:56] amandaaa1 opened #16356 "Cannot open DBeaver. Error Message: An Error Has Occurred. See the log file"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing: I cannot open my DBeaver. Every time I try to open it it gives me the error message: "An error has occurred. See the

[2022-04-28 16:32] otristan94 commented on #4526
same problem, version 22.0.3 in oracle database, does not allow editing from the results grid the read only box is unchecked
![Cawsa](https://user-images.githubusercontent.com/103969337/165800832-2685b53f-d760-43d7-9940-2b8801eca4eb.PNG)

![image](https://user-images.githubusercontent.com/103969337/165800914-1c0850a8-5749-4128-b122-6f9ba0dae929.png)

[2022-04-28 16:45] Chealer commented on #16049
That is not really what I wanted @ShadelessFox , but please excuse me and disregard my previous comment. I haven't used DBeaver in a while and was confused. I retested, and here is the actual use case which is problematic:
For example, an organization can have members, and a member can have skills. If a table for skills has a foreign key to a table for members, and the members table has a foreign

[2022-04-28 19:22] dancodedev commented on #16266
Yes, for me you can close it now. Thank you.

I hope someone knows how to repair the MariaDb drive

[2022-04-28 19:24] #16266 closed, assigned to ShadelessFox

[2022-04-29 03:25] cijcij opened #16363 "Search results of `DB Metadata` would not respect the `Configure columns` (even modified in last search)"
#### System information:
- Operating system (distribution) and version:  Windows 10 x64 enterprise "10.0.17763.2061"
- DBeaver version:  22.0.3.202204170718
- Additional extensions: None for DBeaver

#### Connection specification:
- Database name and version:  some, like Oracle Database 11g Enterprise Edition Release 11.2.0.1.0 - 64bit Production
- Driver name:  some, like oracle.jdbc.OracleDriver

[2022-04-29 06:45] hoppfrosch opened #16364 "Background color for even/odd rows"
#### System information:
- Win 10 Ultimate
- DBeaver 22.0.3

#### Describe the problem you're observing:
After trying out "dark theme" and switching back to "classic" or "light" theme, the background color of the odd rows in result view remained black. Also the basic background color of the result view remained dark.

**Expected behaviour**
As I want true "light" colors again within the result gri

[2022-04-29 07:27] 2019-05-10 commented on #16356
Without at least your Operating System, the DBeaver version and how you did install, nobody will be able to help you.

[2022-04-29 07:45] 2019-05-10 commented on #10904
Uhm, can we get that as packages (deb, rpm) as well?
IMO expereinced Linux users are much more likely to use managed packages than just a TAR or ZIP archive.
After all, if anything those managed packages are predestined for this sort of thing, being able to manage dependencies -- a simple dependency on `default-jre`should work for both deb and rpm.

[2022-04-29 07:45] LonwoLonwo commented on #16364
Hello @hoppfrosch

Did you restart DBeaver after the thema switching?

[2022-04-29 07:48] 2019-05-10 commented on #16333
Define "private", please.

Well, that just strengthens my point about bundling not being a good idea.

[2022-04-29 07:49] LonwoLonwo commented on #16363
Hello @cijcij

Can you provide please the screen of DB Metadata search? And table DDL.

![2022-04-29 10_47_32-DBeaver Ultimate 22 0 4 - Sessions - postgres 13 3 1](https://user-images.githubusercontent.com/45152336/165904393-d1d53990-ff9f-498d-84de-2c7411cbb8cb.png)

[2022-04-29 07:55] tomtiger65 opened #16365 "Default values via DB link will not be recognized"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version : Community, Version 22.0.3.202204170718
- Additional extensions

#### Connection specification:
- Database name and version: Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit
- Driver name: oracle.jdbc.OracleDriver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Descr

[2022-04-29 08:38] ShadelessFox opened #16366 "Hide `Jobs` folder if `pgagent` extension is not installed"
This is a continuation of #6077.

Currently, we show the `Jobs` folder even if the mentioned extension is not installed.

In order to hide it, we need to load a list of extensions (which requires progress monitor) during the expansion of the parent node.

[2022-04-29 09:13] Matvey16 opened #16367 "[ERD] Raltions of a table to itself ignore any collision"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.4

#### Steps to reproduce, if exist:
1. Open a diagram for a schema that has a table with reference to itself
2. Drag another table to overlap a line of this relation

**Expected:** Line is redrawn to not touch another table
**Actual:** Line always stays the same

![dbeaver_EcGOUQ1SUp](https://user

[2022-04-29 09:20] LonwoLonwo commented on #15265
Interisting thing. Time filter works fine, if the "Disable date/time formatting" option is checked.

So the problem is in the time view. It changed if we unchecked the "Disable date/time formatting" option. And in this case filtering query is incorrect.

It also work fine with correct time zone setting in Data format:

![2022-04-29 12_22_38-Preferences](https://user-images.githubusercontent.com/45

[2022-04-29 09:33] dr-1 opened #16368 "Azure Synapse Serverless: cannot read view definition"
#### System information:
- Windows 10
- DBeaver 22.0.3

#### Connection specification:
- Database type: Azure Synapse "serverless"
- Driver name: Azure SQL Server
- No tunnels or proxies

#### Describe the problem you're observing:
Trying to get the DDL of a view produces a NullPointerException and the definition pane shows:
[code]

In version 22.0.0, view definitions could be obtained, see #15490

[2022-04-29 10:03] ShadelessFox commented on #16049
The provided solution is actually pretty useful, so we can stick with it.

I was unable to take a glance of Toad's Master Detail. Can you please, if possible, provide a footage that shows its functionality?

There is a workaround that involves using the `References` tab in the metadata editor (it's not the same as the `References` panel):

![image](https://user-images.githubusercontent.com/3582114

[2022-04-29 13:56] LonwoLonwo commented on #16368
Hello @dr-1

Sorry, I do not understand.

You said me here, what statement `FROM sys.sql_modules WHERE object_id = (OBJECT_ID(N'your_shema_name.your_view_name'))` did work for you:
https://github.com/dbeaver/dbeaver/issues/15490#issuecomment-1041347435

And now:

This statement did not work for you now? What changed?

[2022-04-29 14:06] LonwoLonwo commented on #16368
Also, do you open the "definition" view tab for the default database? Or for the other?

[2022-04-29 15:08] JeroenNienhuis commented on #13501
Nice! This helps.
But when I have something like this
![afbeelding](https://user-images.githubusercontent.com/51078213/165970326-ea22fde3-a37e-4201-b88a-9c4f6b1184f5.png)
and want to select part of the geometries graphically? Is it possible to create a filter like e.g.
_**st_contains((ST_MakeEnvelope(123456, 456789, 133456, 466789, 28992)), the_geom);**_

[2022-04-29 16:24] dr-1 commented on #16368
Hi @LonwoLonwo, that is correct, at that time querying sys.sql_modules returned the view definitions, but not anymore. When removing the WHERE condition, I see a few other objects recorded in sys.sql_modules, but none of the views.

[2022-04-29 16:25] dr-1 commented on #16368
I had not set a default database in the connection I was using. When I do specify the database in the connection settings, the view definitions can be read! For me this solves the issue, although I suppose the expected behavior is that the definitions can be read regardless of which database is set as default, so I would still consider it an open issue.

[2022-04-29 16:32] ShadelessFox commented on #13501
I don't quite follow your use case. Can please you provide more information? What do you mean by `select graphically`?

[2022-04-29 17:13] JeroenNienhuis commented on #13501
Selecting geometries not by clicking on each them, but e.g. by drawing a rectangle like on the middle of the map below and select everything inside the selected area.
![afbeelding](https://user-images.githubusercontent.com/51078213/165987287-bc5c0054-751b-44e4-be19-8e6974a66c46.png)
The boundary of the drawn area can be used in a gis function that is added to the filter clause (see the example in

[2022-04-29 17:14] manguicho opened #16371 "After execution with error some keys doesnt work SQL SERVER"
#### System information:
- Operating system WINDOWS 11
- DBeaver version 22.0.3 COMUNITY
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name Microsoft JDBC Driver for SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)? f5 vpn client

#### Describe the problem you're observing:

Before executing somethign with ctrl+enter when an error is raise

[2022-04-29 19:14] coleman-rik opened #16372 "PostgreSQL: way to differentiate / group objects created by foreign data wrappers"
**Is your feature request related to a problem? Please describe.**
There are a number of schema/tables in a postgreSQL database that are not actually in the database but only referenced via the foreign data wrapper (fdw) functionality of postgreSQL.  Unfortunately, unlike most other database GUIs dBeaver symbolizes and intermingles native and fdw originated schemas identically.

**Describe the sol

[2022-04-29 19:21] miguelbrandao commented on #16253
Hey @ShadelessFox , thanks for looking into this!

My request is about refreshing data. I'm aware of the auto-refresh feature, but it doesn't fit the workflow that inspired this request (I should have been more specific in the description).

What inspired this request was the need to see cumulative changes all at once in multiple tables, like the following workflow:

- table viewable with data
- r

[2022-04-29 20:18] serge-rider commented on #16217
Agreed. We will remove EULA from OSS product.

[2022-04-29 22:08] pauloneves opened #16374 "Table description of hive database is not displayed"
#### System information:
- Operating system (distribution) and version
Windows 10
- DBeaver version
Version 22.0.3.202204170718

- Additional extensions
None

#### Connection specification:
- Database name and version
Hive database in a hadoop cluster
3.1.0.3.1.0.0-78

- Driver name
Cloudera ODBC driver version 2.6.11.1011

- Do you use tunnels or proxies (SSH, SOCKS, etc)?
no

#### Describe the p

[2022-04-30 03:32] cijcij commented on #16363
Sorry for late response……

I just tested on another PC, with a fresh `DBeaver Sample Database (SQLite)` and the search options exactly same as yours.
And reproduce that.

<details>
<summary>The information is a little different from the original top comment.</summary>

#### System information:
- Operating system (distribution) and version:  Windows 10 x64 Home 10.0.19043 (21H1 19043.1645)
- DBeave

[2022-04-30 08:02] hktalent opened #16375 "[bug]can not auto refresh，Mistakenly deleted other data for SQLite"
<img width="432" alt="image" src="https://user-images.githubusercontent.com/18223385/166097347-5d600a70-cf2e-4f4a-a342-89e4899a3f4a.png">

<img width="682" alt="image" src="https://user-images.githubusercontent.com/18223385/166097304-555ef6a6-abbd-4caf-b0c2-02a5bc6d7942.png">

<img width="645" alt="image" src="https://user-images.githubusercontent.com/18223385/166097222-211bbbaa-d3e3-4b3f-ab74-19e

[2022-04-30 08:42] ahhmedbilal opened #16376 "Previous and Next Word using Ctrl+Left/Right key in SQL Editor"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I have a word e.g ABC-DEF_GHI_JKL
If i double click this word, this will select whole word i.e from A to L, that is fine.

Now lets assume the cursor is before letter A, and when i press Ctrl+Right key 4 times, the cursor first go to after

[2022-04-30 08:50] ahhmedbilal opened #16377 "Multi Line Tab in SQL Editor"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In Notepad++ we can enable multiline Tab bar with following setting..

![image](https://user-images.githubusercontent.com/46369037/166098779-cb5b5ac9-4e67-4552-ab76-412a35607167.png)

in same way, DBeaver should also add this config settin

[2022-04-30 09:14] ahhmedbilal commented on #7114
Is this feature request added to some build? @uslss
I also open similar feature request.... this feature should be enabled so tab management is easy...

[2022-04-30 10:44] michal-bartak commented on #11061
Hello guys.
is it in plans to be covered in near future? Obviously, it has missed 21 milestone.

missing public role in permissions might lead to serious security issues (considering one relies on Dbeaver to check permissions)

[2022-04-30 12:31] hktalent opened #16378 "[bug]sqlite State is not properly controlled"
1. Connect to the sqlite database in dbeaver, view the data, and show 1 entry
2. Then outside dbeaver, delete the database file, recreate the database file through other programs, and add two new data at the same time
3. Refresh the data in dbeaver, and always display only one data
4. Disconnect, reconnect, and refresh the data to display the two data correctly

[2022-04-30 20:34] ShadelessFox commented on #16378
Hello @hktalent,

The described behavior is driver-specific. In the case of SQLite, I believe it loads the entire database file into memory and caches it, so it doesn't need to access the filesystem. So that's why when recreating the database file does not affect the data. Perhaps modifying a row or two and then disconnecting from the data source will cause the database file to be flushed to the d

[2022-04-30 20:34] #16378 closed, assigned to nobody

[2022-04-30 20:37] ShadelessFox commented on #16377
Hello @ahhmedbilal,

This issue is a duplicate of #16050.

Please track the progress there.

[2022-04-30 20:37] #16377 closed, assigned to nobody

[2022-04-30 22:26] Aex12 commented on #6991
This should be revised, it's shamefully easy to decrypt the default credentials file. Just made a Google search and I could find a working code example and tutorial to decrypt the file. I've barely written any Java code before and it took me less than 5 minutes to decrypt my credentials file. There should be a way to define a master password and encrypt-decrypt this file using AES256 at program st

[2022-05-01 15:13] Matvey16 opened #16382 "[Trino] Can't select database/schema in SQL Editor"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.4

#### Steps to reproduce, if exist:
1. Create a Trino connection without a default database/schema
2. Open SQL Editor for the connection
3. Click on schema selection button in top toolbar
4. Select any databse

**Expected:** Database is selected
**Actual:** Current schema still says "N/A"

[2022-05-01 18:40] #14858 closed, assigned to LonwoLonwo, Matvey16

[2022-05-02 05:55] FHBGLD opened #16383 "Postgres JSONB big Json Object - freeze - memory leak"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

Windows 10
Dbeaver 22.0.4

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

Postgres 11
see screenshots
ssh tunnel

#### Describe the problem you're observing:
when you open a table with a JSONB field and this

[2022-05-02 06:42] #16300 closed, assigned to nobody

[2022-05-02 08:49] marcos76hd opened #16384 "xml export errror in new version 22.0.4"
#### System information:
- Operating system: Win Server 2019
- DBeaver version: 22.0.4
- Additional extensions

#### Connection specification:
- Database name and version: SAP Hana
- Driver name: SAP / HANA
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

Since installing the new dbeaver version 22.0.4 I get an error message while trying to export

[2022-05-02 09:22] LonwoLonwo commented on #16368
We do not have a test environment, unfortunately. So we can fix this issue only a blind way.
And the main problem is with the incorrect current database definition. For this reason, your query didn't work also - you must add a database prefix if you want to find a view from another database.
Anyway, thanks for the bug report @dr-1

[2022-05-02 09:23] axrand commented on #13663
I guess there are multiple reports for essentially the same bug (in Eclipse).
AltGr in Eclipse is processed as Alt+Ctrl and that's where the problem starts.
I checked, and AltGr+1 is behaving exactly as Ctrl+Alt+1
Another example in eclipse from 10 (TEN!) years ago: https://bugs.eclipse.org/bugs/show_bug.cgi?id=280580

[2022-05-02 09:24] LonwoLonwo commented on #16384
Hello @marcos76hd
Could you please attach the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/. Thank you.

[2022-05-02 09:44] marcos76hd commented on #16384
Hello,

please find attached the error log and the .log file (renamed). The dbeaver-debug.log is empty

[error log.log](https://github.com/dbeaver/dbeaver/files/8602041/error.log.log).
[dbeaver.log](https://github.com/dbeaver/dbeaver/files/8602047/dbeaver.log)

[2022-05-02 09:48] LonwoLonwo commented on #16383
Hello @FHBGLD

What current value representation do you have? Did you try to change it?
Also, do you use auto-format? If you do, did you try to disable it?

![2022-05-02 12_43_19-DBeaver Ultimate 22 0 4 - json_test](https://user-images.githubusercontent.com/45152336/166215994-26971ef3-d1dc-4411-a14b-64d07416e0b3.png)

[2022-05-02 09:49] LonwoLonwo commented on #16383
Duplicate of https://github.com/dbeaver/dbeaver/issues/15951

[2022-05-02 09:59] Destrolaric commented on #16375
Hi, could you provide the video that demonstrates mentioned issue?

[2022-05-02 10:05] LonwoLonwo commented on #16375
Hello @hktalent

I can see in your table that you have the "id" column marked as a key. But unlike other databases, SQLite can have a NULL value as a value for the Primary key column. And this is not correct because the value must be unique for the good work of the primary key.

![2022-05-02 12_50_36- bug can not auto refresh，Mistakenly deleted other data for SQLite · Issue #1637](https://user-ima

[2022-05-02 10:08] LonwoLonwo commented on #16375
You can check your delete script with the help of the "Script" button.

![2022-05-02 13_06_49-Preview Changes](https://user-images.githubusercontent.com/45152336/166218351-628f7434-c4a0-4664-a418-0653af39c3d0.png)

[2022-05-02 10:19] LonwoLonwo commented on #16384
Ok, can you tell me more please about you steps?

Did you try to export result from query? Or from table?

[2022-05-02 10:38] marcos76hd commented on #16384
Hi,

I try to export results from a query.
I have the result, click on “export result”. Then the transfer dialogue opens.

-       Window Export Target: Selected export as CSV; clicked on Next

-       Extraction Configuration:

***@***.***

Clicked on Next

-       Format settings:
***@***.***

Clicked on Next

-       Output:

***@***.***

After clicking on Next the error occurs:

***@***.***

I

[2022-05-02 10:38] LonwoLonwo commented on #16374
Hello @pauloneves

Can you see your table comment in the table DDL?

![2022-05-02 13_30_04-DBeaver Ultimate 22 0 4 - test_comments](https://user-images.githubusercontent.com/45152336/166221154-d7c15e8e-b575-455d-b28d-633f57d55666.png)

Usually DBeaver receives this information directly from the driver. So it can be the driver issue.

Did you use the custom driver for connection?

[2022-05-02 10:45] LonwoLonwo commented on #16384
Thanks for the bug report @marcos76hd

[2022-05-02 11:21] FHBGLD commented on #16383
Hello @LonwoLonwo ,

thanks for the quick answer.
No I don't have the auto format option enabled (see screenshot).
I also tried it on another PC and the same problem appear.

Thanks and best regards
Michael
![dbeaver1](https://user-images.githubusercontent.com/33415881/166225909-ced96a20-f190-4ba4-bef6-f28e5f49da36.jpg)
l

[2022-05-02 12:44] Xylandor commented on #15377
I can confirm that this has now been fixed in version 22.0.4.202205011839. Thank you for fixing this.

[2022-05-02 13:53] GuenterSch commented on #15950
Thanks Serge, it works fine!

[2022-05-02 14:26] E1izabeth commented on #15377
Hi, @Xylandor! Thank you for informing us. I'll close this issue as it's not reproducible anymore.

[2022-05-02 14:26] #15377 closed, assigned to nobody

[2022-05-02 16:00] 41v4 opened #16386 "SSHJ installation: Cannot complete the install because one or more required items could not be found."
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04
- DBeaver version: 22.0.4
- Additional extensions: no additional extensions.

#### Describe the problem you're observing:
Unable to install SSHJ using Help -> Install New Software -> https://dbeaver.io/update/sshj/latest/

  Software being installed: DBeaver SSHJ 1.0.93.202112211454 (org.jkiss.dbeaver.net.sshj.fea

[2022-05-02 16:42] p91paul commented on #15519
It depends on how you create the sql console.
If you click on the connection on database navigator then open a sql console, it will generate a new connection for that console.

If you open a sql console while you already are on a sql console, or a script, or a table editor, it will use the existing connection of the editor you were in instead of creating a new one.

[2022-05-02 17:05] joshcsmith13 commented on #16077
Yay - it was fixed when I downloaded 22.0.4.202205011839!

It is a little weird that if I leave my work-around extra blank line before the semicolon, and then put my cursor in front of the semicolon and execute, that it executes the next statement!?

![image](https://user-images.githubusercontent.com/8902423/166292254-638676fb-72ac-4b0b-b5ce-80bc24618087.png)

[2022-05-02 19:40] Xylandor opened #16387 "(Minor Bug) Preferences Window: Single-click not clearing search textbox"
#### System information:
- OS:  MacOS Big Sur v11.4
- DBeaver version:  22.0.4.202205011839
- Additional extensions:  None

#### Connection specification:
- AWS connection to MySQL v5.7
- Driver name: MySQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No.

#### Describe the problem you're observing:
In the DBeaver Preferences window, when trying to clear the search results textbox, single-

[2022-05-02 20:41] major-mayer commented on #6581
I am also having some huge problems using KDE Wayland (5.24.4) and 125% fractional scaling on my 4K display.
I switched to the regular Adwaita GTK theme, but the layout is still completely broken and whenever you hover over some element, there appear some weird black boxes that block the visibility:

![grafik](https://user-images.githubusercontent.com/17907799/166324180-fdd21a7a-da8e-48ae-950f-b55

[2022-05-02 23:35] JeroenNienhuis opened #16389 "(minor bug) long notices become blanc lines"
In a function I am building an sql dynamically. This sql becomes a long string. Because of an error The sql is printed with
_raise notice '%', sql_
Showing an sql of 3250 characters is no problem, but adding some 180 extra characters results in a blank line. When de sql is shortened by changing the raise command to
_raise notice '%',left(sql,2000);_
does show the first part of the sql. Is it possi

[2022-05-02 23:59] robertz opened #16390 "DBeaver 22.0.4 breaks NTLM mssql authentication"
OS: MacOS 11.6.5 (Big Sur)
- DBeaver 22.0.4
- Ndditional extensions

- MS SQL
- mssql-jdbc 9.2.0x64
- Connection is not proxied

Problem Observed:

"User" (or "UserName") and "Password" connection properties must be specified for NTLM authentication.

DBeaver 22.0.4 Gets an error when trying to connect to a database using NTLM authentication. Rolling back to DBeaver 22.0.3 resolves the issue

[2022-05-03 00:40] ghost opened #16391 "When you put a column name that's a keyword in backticks, it still uppercases"
#### System information:
Mysql M1 mac
Version 22.0.3.202204170718

#### Describe the problem you're observing:
ALTER TABLE stuff ADD COLUMN `USER`  <-- It always capitalizes user as I finish typing it even though it's in backticks

[2022-05-03 03:09] serge-rider commented on #16390
Thank you for the bug report.
It is a result of SQL Server authentication redesign.

[2022-05-03 03:19] serge-rider commented on #13690
It is not a bug. EE version uses different database drivers which are not present in CE version.
Technically it is not possible to use these drivers configuration in CE.

[2022-05-03 03:19] #13690 closed, assigned to nobody

[2022-05-03 03:26] serge-rider commented on #14585
Is it still reproducible?

[2022-05-03 03:44] serge-rider commented on #16390
Could you check the fix in the Early Access version? https://dbeaver.io/files/ea/

[2022-05-03 06:46] Matvey16 commented on #16391
@turbobuilt Hello. Can you specify when it happens? I wasn't able to reproduce it in SQL Editor
![dbeaver_G8YmeZr2kU](https://user-images.githubusercontent.com/82543000/166414030-8bd9fd4a-a85f-4fbc-b134-34cdd8d90d15.gif)

[2022-05-03 07:00] Matvey16 commented on #16386
@41v4 Hello, you don't need to install SSHJ manually, it is now included in the base installation

[2022-05-03 07:03] Matvey16 commented on #16387
Thank you for the report

[2022-05-03 07:27] xchray opened #16392 "DBeaver as Eclipse plugin missing Keys Schema"
Dear team,

Not sure if this is a missing feature or a bug.

in Eclipse plug-in (including 22.0.4), there is no DBeaver specific Keys-Schema. The Dbeaver Key-Schema however can be found in Zip or Installer version.

Is that something can be added to Plug-in version as well?
Thanks,
Xin

![image](https://user-images.githubusercontent.com/81406963/166417495-1161cf1a-f90a-4990-963f-06987f641b42.png)

[2022-05-03 07:35] Mauro-Michelotti commented on #16390
Hi Serge.
Same issue for me; fortunately, the E.A. version solved the problem.
Thanks a lot

[2022-05-03 08:37] #16386 closed, assigned to nobody

[2022-05-03 09:26] ShadelessFox commented on #13501
Sorry for the late response.

Oh, so you're talking about another way of selecting features on the map. We could either add a lasso or a rectangular selection tool.

Since this issue is now closed, can you please create a separate FR just for that? Thanks.

[2022-05-03 09:32] ShadelessFox commented on #16253
Thanks for the clarification.

This feature has a rather particular use case, but I agree that, in general, someone would require such a feature.

[2022-05-03 10:41] NeutrinoXY commented on #14749
Same error ("Exhausted available authentication methods") with DBeaver 22.0.2 on Windows 11, using JSch and SSHJ. The key was generated with:

`ssh-keygen -t rsa -C xxx`

[2022-05-03 10:59] commentatorboy commented on #11531
I can still confirm that this issue still exists and what [nmeachen](https://github.com/nmeachen) mentioned worked for me.

[2022-05-03 11:07] JeroenNienhuis opened #16393 "selecting geometries by drawing an area on a map"
Is it possible to select geometries e.g. by drawing a rectangle on a map (like on the middle of the map below) and select everything inside the selected area?
![afbeelding](https://user-images.githubusercontent.com/51078213/166441441-0d1f24b0-3779-4597-95e6-2b4ef26c1e2a.png)
The boundary of the drawn area can be used in a gis function that is added to the filter clause
(e.g. _**st_contains((ST_Mak

[2022-05-03 12:03] fjf2002 commented on #16184
The issue re-occurred to me. Please re-open.

The strange thing is, I cannot reproduce it. It suddenly occurred. Again.
I closed the source code editor and reopened it, and then Undo worked.

### Font problems
I noticed that when Undo wasn't working, the font also had problems.

Have you ever noticed? The font should look like this:
![image](https://user-images.githubusercontent.com/7130250/166449

[2022-05-03 12:29] robertz commented on #16390
E.A. version does resolve the issue. Thank you!

[2022-05-03 12:55] ghost commented on #16391
![weird column](https://user-images.githubusercontent.com/7775272/166457004-ebcfdcd6-1030-4ad2-a6e8-20df00e1449d.gif)

Mysql localhost:3306 Version 22.0.3.202204170718, April 18 2022

I don't know what other information there is!

[2022-05-03 13:45] LonwoLonwo commented on #16391
Hello @turbobuilt

Can you please check this setting?

Preferences -> Editors -> SQL Editor -> Code Completion -> "Insert case"

![2022-05-03 16_43_39-Preferences](https://user-images.githubusercontent.com/45152336/166464580-394c3fc8-544a-41b7-b3a7-2fe6ba01748b.png)

[2022-05-03 14:08] LonwoLonwo commented on #16383
Thanks for the answer and for the bug report @FHBGLD

I am closing this issue as a duplicate.

[2022-05-03 14:08] #16383 closed, assigned to nobody

[2022-05-03 14:46] ghost commented on #16391
<img width="913" alt="Screen Shot 2022-05-03 at 14 46 07" src="https://user-images.githubusercontent.com/7775272/166476381-af0d945a-b266-4647-88af-b0b3e8afa547.png">

I have it set to default!

[2022-05-03 15:40] Matvey16 commented on #16350
@ahhmedbilal Hello. Thank you for your report

[2022-05-03 15:42] Matvey16 commented on #16356
@amandaaa1 Hello. Do you use some kind of remote workspace like citrix etc. If so, please try our latest version, this bug shuold have been fixed in it.

[2022-05-03 15:44] alattke-chwy commented on #14625
This query is being executed for Vertica:
[code]
We don't use comments at all, and just running this query takes 14s in our (non-busy) test env. In production it can take more than 60s, and puts quite a bit of stress on the cluster. Can you please introduce a way to disable comments altogether?

[2022-05-03 15:46] alattke-chwy opened #16396 "Vertica - Reading comments table should be optional"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-03 15:50] alattke-chwy opened #16397 "Vertica - Please include option to disable comments altogether"
This is related to issue #14625 .
Reading from comments system table (even though it is not populated in our DB) takes a long time and is I/O intensive.
I am on version 22.0.4.202205011839.
Please provide an option to disable comments altogether as it takes 14s in test env and over a min in a busy prod cluster.

[2022-05-03 17:30] flambchap commented on #14749
Hi @NeutrinoXY.  Can you please share a bit more info with us?

* Log files: https://dbeaver.com/docs/wiki/Log-files/
* Your OS, computer architecture, and Java version (if you use smth non-bundled)

Thank you.

[2022-05-03 17:58] LonwoLonwo commented on #16397
Ok, thanks for the idea.

[2022-05-03 17:59] LonwoLonwo commented on #16396
Duplicate of https://github.com/dbeaver/dbeaver/issues/16397

[2022-05-03 17:59] #16396 closed, assigned to nobody

[2022-05-03 23:04] phasedephase opened #16400 "Result -Set fetch size textbox bug"
#### System information:
- Windows 10 Pro Version: 21H2 OS build: 19044.1586 Experience: Windows Feature Experience Pack 120.2212.4170.0
- 11th Gen Intel(R) Core(TM) i7-11700K @ 3.60GHz   3.60 GHz
- 64 GB of ram
- 3 SSDs, 1 TB each

- DBeaver  22.0.4.202205030312

#### Connection specification:
- Microsoft SQL Server 2016 (SP2-CU15-GDR) (KB4583461) - 13.0.5865.1 (X64)
	Oct 31 2020 02:43:57
	Copyri

[2022-05-04 02:57] travelliu opened #16401 "Added table partition data query feature"
**Is your feature request related to a problem? Please describe.**

![2022-05-04 at 10 56](https://user-images.githubusercontent.com/7792329/166617654-9ac776e1-6b33-4b48-a4a2-a834a6250d6a.png)

When a table has a partition, you can right-click the partition name to query and modify the data

## Oracle SQL

Partition `SELECT x.*,x.ROWID FROM ORA_MTK.RANGE_PART PARTITION (yr9) x where x.x=1`
SubPart

[2022-05-04 07:40] ShadelessFox commented on #15334
Associated PRs: https://github.com/dbeaver/dbeaver/pull/16379, https://github.com/dbeaver/dbeaver-ee/pull/1615

[2022-05-04 08:08] NeutrinoXY commented on #14749
Hi @akilovich, sure:

!MESSAGE Exhausted available authentication methods
!SUBENTRY 1 org.jkiss.dbeaver.model 4 0 2022-05-03 12:28:35.507
!MESSAGE Exhausted available authentication methods
!STACK 0
net.schmizz.sshj.userauth.UserAuthException: Exhausted available authentication methods
	at net.schmizz.sshj.SSHClient.auth(SSHClient.java:230)
	at net.schmizz.sshj.SSHClient.authPublickey(SSHClient.ja

[2022-05-04 08:34] ced75 opened #16402 "Execute SQL queries always open new result tabs after executing a query in a new tab"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04
- DBeaver version: 22.0.4

#### Connection specification:
- Database name and version: PostgreSQL 13.6
- Driver name: PostgreSQL JDBC driver (version 42.3.4)
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
When I execute a query in a new result tab, all query exe

[2022-05-04 08:49] uslss opened #16403 "No active project is chosen in case of enabling Reset UI settings in the installer"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.0.4

#### Describe the problem you're observing:
DB Navigator Tab is empty and no project is bolded at the project tab in case Reset UI settings option was chosen in the installer.
Project General isn't shown as bold, but it is impossible to set It as active. DB Navigator is empty.
![image](https://us

[2022-05-04 09:02] ShadelessFox commented on #16402
Hello @ced75,

This behavior was changed in #15126.

Now the confirmation `Close extra result tabs` also affects the execution of a single query.

You can configure it to prompt every time in the <kbd>Preferences</kbd> &rArr; <kbd>User Interface</kbd> &rArr; <kbd>Confirmations</kbd>.

[2022-05-04 09:20] uslss commented on #16376
thanks for the suggestion.
Closed as a duplicate of #1155

[2022-05-04 09:20] #16376 closed, assigned to nobody

[2022-05-04 09:30] ced75 commented on #16402
Thanks for the answer.
But the behaviour is a little bit different now: you have the choice between close all previous tabs or add a new tab.
Now, it is no more possible to replace the focused tab results with the new query results, as it did before by default.

Is it possible to reintroduce this feature?

[2022-05-04 10:06] #16384 closed, assigned to ShadelessFox, Matvey16

[2022-05-04 10:07] #15030 closed, assigned to E1izabeth, Matvey16

[2022-05-04 10:07] #6012 closed

[2022-05-04 10:07] #15040 closed, assigned to E1izabeth, Matvey16

[2022-05-04 10:08] #16224 closed, assigned to E1izabeth, Matvey16

[2022-05-04 10:10] #14956 closed, assigned to ShadelessFox, Matvey16

[2022-05-04 10:15] #12508 closed, assigned to uslss, ShadelessFox

[2022-05-04 10:22] Mizar01 opened #16406 "Tab view navigation: details change record after saving something on the same table."
Hello.

This is similar the the https://github.com/dbeaver/dbeaver/issues/15541  but it focuses on the tab details.

When i save the record from another program (for example a web app), I hit 'refresh' button on the very same record to see the changes, but the tab view will switch to a completely different record.
I think it moves to the record with the same (position) in the list, despite this co

[2022-05-04 11:49] dbeaver-pm commented on #15076
Duplicate of #15755

[2022-05-04 11:49] #15076 closed, assigned to Destrolaric

[2022-05-04 12:40] Essentia-G opened #16408 "SQL Formatting settings are not applied correctly"
Go to Preferences -> Editors -> SQL Editor -> Formatting
1. Uncheck "Use bold font for keywords": does not apply to an existing query (and new queries too)
2. Change a keyword case: does not apply to an existing query, but works with a new one
3. Check "Insert line feed before commas": does not apply to an existing query, but if you select a query and go to Format -> Format SQL in the context menu

[2022-05-04 12:41] Essentia-G commented on #16408
![bold or not](https://user-images.githubusercontent.com/54938058/166683114-1612f3a0-63cb-490a-8ae7-8680082c2fbe.gif)

[2022-05-04 12:44] LonwoLonwo commented on #16296
Thanks for the report @sandermarechal

[2022-05-04 12:52] ShadelessFox commented on #16352
Hello @plotn,

Thanks for the feature request.

[2022-05-04 12:55] ShadelessFox commented on #16365
Hello @tomtiger65,

Thanks for the bug report. We'll look into it.

[2022-05-04 12:59] ShadelessFox commented on #16371
Hello @manguicho,

Can you please record a video showing the issue? Thanks.

[2022-05-04 13:01] ShadelessFox commented on #16372
Hello @coleman-rik,

Thanks for the feature request.

[2022-05-04 13:05] atarox opened #16409 "Call Stored Procedure from DBeaver to DB2 not working"
#### System information:
- Operating system (distribution) and version: Windows 10 Enterprise
- DBeaver version Version 21.3.3.202201221033
- Java version  java.version=11.0.12
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name: DB2 for z/OS
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
I'm trying t

[2022-05-04 13:06] ShadelessFox commented on #16389
Hello @JeroenNienhuis,

I cannot reproduce your issue. In my case it just truncates whitespaces.

Can you please provide a screenshot or a video showing the issue? Thanks.

[2022-05-04 13:09] ShadelessFox commented on #16392
Hello @xchray,

Thanks for the bug report.

[2022-05-04 13:16] ShadelessFox commented on #16400
Hello @phasedephase,

Can you please record a video showing the issue? Thanks.

[2022-05-04 13:20] ShadelessFox commented on #16401
Hello @travelliu,

Can you please provide more context regarding your feature request?

Do you want an option similar to `Read data in SQL editor` when clicking on a table in the navigator tree?

[2022-05-04 14:01] LonwoLonwo commented on #16409
Hello @atarox

Please provide error logs: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-05-04 14:29] ShadelessFox commented on #16406
Hello @Mizar01,

First of all, I must say that this is a feature request, and it's pretty cool.

But how are we supposed to know where the previously selected row is located?

1. To locate it, we need to scan the table. ⮧
1. The desired row may be shifted down by 200 new rows, let's say. ⮧
1. Now, it doesn't fit within the visible batch (assuming that 200 is the default fetch size). ⮧
1. Should we

[2022-05-04 14:39] owst commented on #14700
@Matvey16 do you have any update on a possible fix for this issue? Thanks

[2022-05-04 14:49] Ryoka commented on #8328
I could not find it either. It looks bad with dark theme. The color of matching brackets needs to be configurable...

[2022-05-04 15:10] #16132 closed, assigned to DariyaFedorova

[2022-05-04 15:11] #16217 closed, assigned to serge-rider, DariyaFedorova

[2022-05-04 15:19] serge-rider commented on #16309
@brvaland Did it work in any previous version of DBeaver?

[2022-05-04 15:20] Xylandor commented on #16402
I'd have to agree with @ced75 on this one. There's not a way to execute a query to replace the current tab in focus when multiple tabs already exists. The only options are to replace all tabs or open in new one. An annoying issue is when you run a query in a new tab and something is wrong with the query, the result tab displays the error message. Once you fix the query problem, you can't rerun the

[2022-05-04 15:26] LonwoLonwo commented on #16296
You can try to use the PPA: https://launchpad.net/~serge-rider/+archive/ubuntu/dbeaver-ce

[2022-05-04 15:29] chuanzgh commented on #14700
I await with bated breath... thanks for putting this back on a milestone!

[2022-05-04 15:53] plotn opened #16411 "Rearrange new table's columns"
Hi! Could it be possible to realize fields rearrange while they still not stored into DB? see pi
![dbeaver_fields_rearrange](https://user-images.githubusercontent.com/11477081/166720932-7236f7a0-3eeb-4c7e-a9fc-444629e67120.png)
c

[2022-05-04 15:54] plotn opened #16412 "Additional column info while editing data"
as shown...

![dbeaver_table_data_edit](https://user-images.githubusercontent.com/11477081/166721113-ca2608f3-64db-4bb7-969b-dcac2256b814.png)

[2022-05-04 17:17] aranapatona commented on #13565
this is still not fixed.

[2022-05-04 17:17] aranapatona commented on #13565
Just happened to me but I also found out that the options menu for the Global setting (Default settings for new connections)
behaves differently but the problem is in the same two checkboxes:

**Datasource settings:
Right click connection->Edit Connection->General**

in the Navigator view "Customize" options menu
"Show all tables in a single list" is grayed out,
can NOT select it no matter what ot

[2022-05-04 17:20] travelliu commented on #16401
With the same operation as a table, you can right-click to query the data and modify the data. Click to automatically have a data page in the area on the right

[2022-05-04 19:09] iron0012 commented on #1741
On my mac keyboard, the block selection toggle shortcut seems to be Option+Command+A.

[2022-05-04 19:14] aranapatona opened #16415 "Dbeaver hangs while trying to edit connection types"
#### System information:
-Windows 10 x64, Version 1709 Build 16299.1087
- DBeaver version 22.0.4
- DevStyle
-  Office  Support

#### Connection specification:
ANY

#### Describe the problem you're observing:
Dbeaver HANGS wjem Trying to change de connection types (DVLP, PROD etc)

#### Steps to reproduce, if exist:
From Window->Preferences Menu
Click Connection Types
![image](https://user-images.g

[2022-05-04 19:22] aranapatona opened #16416 "custom connections view problems"
### open issues in Github tracker: https://github.com/dbeaver/dbeaver/issues
no open one, but found one closed that is not really fixed and it is the same thing

[https://github.com/dbeaver/dbeaver/issues/13565](https://github.com/dbeaver/dbeaver/issues/13565)

#### System information:
windows 10 x64
Dbeaver 22.0.4.2

#### Connection specification:
Any

#### Describe the problem you're observing:

[2022-05-04 20:06] phasedephase commented on #16400
This vid shows me opening the table after having set the fetch size to 500K--it results in a Java Heap Space exception (no out of mem exception this time) after reaching 83K loaded rows:
https://user-images.githubusercontent.com/8108706/166815971-b31bc2ee-5f3e-465d-8f8f-75cbaec9bd6a.mp4

I added this vid because while I was screwing around with the recorder app and stopping/restarting DBeaver I go

[2022-05-04 20:14] brvaland commented on #16309
@serge-rider This issue is now resolved as Okta identity provider pushed a patch and resolved it.

[2022-05-04 20:14] AlexWoroschilow commented on #5620
@serge-rider  if you need an example how to build a dbeaver AppImage, you will find it here:
https://github.com/area-of-dev/DBeaver.Appimage

[2022-05-04 20:24] phasedephase commented on #16400
This vid shows me opening the table after having set the fetch size to 500K--it results in a Java Heap Space exception (no out of mem exception this time) after reaching 83K loaded rows--I ran this twice and got 2 diff behaviors:

https://user-images.githubusercontent.com/8108706/166819393-96389090-678b-4bfe-b2ad-5149c814a7a1.mp4
https://user-images.githubusercontent.com/8108706/166819380-46bd2db9

[2022-05-04 20:28] JeroenNienhuis commented on #16389
dbeaver Version 22.0.3.202204170718 (Windows)

test function:

CREATE OR REPLACE FUNCTION public.test()
	RETURNS void
	LANGUAGE plpgsql
AS $function$
declare
i integer;
t_string text;
t_info text;
t_text text;
begin
	--string length 100
	t_string:='abcdefghijklmnopqrstuvwxyABCDEFGHIJKLMNOPQRSTUVWXYabcdefghijklmnopqrstuvwxyABCDEFGHIJKLMNOPQRSTUVWXY';
	t_text:='';
	for i in 1..50 loop
		t_info:=(i*l

[2022-05-04 20:31] ShadelessFox commented on #16415
Hello @aranapatona,

Can you please send a thread dump?

Please follow the instructions here: https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump

[2022-05-04 20:36] ShadelessFox commented on #16411
Hello @plotn,

Thanks for the feature request.

We can totally do that since the metadata is yet to be persisted, so rearranging these attributes is possible.

[2022-05-04 20:38] ShadelessFox commented on #16401
Thanks for the clarification and for the feature request.

[2022-05-04 20:48] ShadelessFox commented on #16400
Thanks for the footage, but it doesn't show how you trigger the data load.

You see, counting the total row count should not cause the viewer to be refreshed, so I assumed you clicked on the blue `Refresh` button rather than the green one located next to the fetch size field.

I did some tests with fetching tables with 100k rows without any success of out-of-memory-ing. Can you please provide the

[2022-05-04 20:56] ShadelessFox commented on #16389
Strangely enough, every single line is visible to me (and the last one actually being 5000 characters long):

![image](https://user-images.githubusercontent.com/35821147/166823764-adbcb798-bcff-4cd6-b2d7-509f6f21bd7c.png)

Is it possible to verify the output against any other DBMS tool?

[2022-05-04 21:31] JeroenNienhuis commented on #16389
I only work with PostgreSQL. What I can do is test the function on another server or test it using the Ubuntu version of dbeaver.

[2022-05-04 21:32] Mizar01 commented on #16406
Hi @ShadelessFox ,

Thannks for the explanation. As I thought is something tied to the current view/pagination of the data results, so it can't be done easily.
My suggestion will be to use 'tab view' as a popup that brings up a record and stick on it's primary key automatically, probably that will totally change the way it has to be done, I know, and it will mess with the current query ordering/fi

[2022-05-04 22:06] CalmaKarma commented on #16009
@NY5667 Hi, I believe the bug has been fixed in the recent 22.0.4 release. Would you please check if your issue is properly solved on Ubuntu?

[2022-05-04 23:40] ShadelessFox commented on #16389
I mean, any other tool like DBeaver, e.g., pgAdmin.

[2022-05-05 06:21] LonwoLonwo commented on #16416
Thanks for the bug report @aranapatona

[2022-05-05 06:22] LonwoLonwo commented on #16416
![SKXtOw4vK1](https://user-images.githubusercontent.com/45152336/166871937-f6660f2a-989a-4ec0-94ed-88c92f7dfb11.gif)

[2022-05-05 06:38] LonwoLonwo commented on #16309
Thanks for the answer @brvaland

[2022-05-05 06:38] #16309 closed, assigned to nobody

[2022-05-05 06:44] LonwoLonwo commented on #16009
Thanks for the clarification @CalmaKarma

I see, that the problem is fixed.

![2022-05-05 09_41_56-export_202205050941 sql — H__asya_special_dbeaver_backup — Atom](https://user-images.githubusercontent.com/45152336/166874032-e1ccea3c-cb6a-4394-97d7-27ad48a47a9a.png)

I am closing this ticket. Feel free to reopen it if this problem occurs again.

[2022-05-05 06:44] #16009 closed, assigned to nobody

[2022-05-05 07:16] serge-rider commented on #16349
Seems to be a side effect of some specific deployment (snap?).
Although this error shouldn't block DBeaver start we must check .workspaces directory existence before save.

[2022-05-05 07:33] Matvey16 commented on #16390
Verified

[2022-05-05 07:33] #16390 closed, assigned to serge-rider, Matvey16

[2022-05-05 08:07] #14667 closed, assigned to uslss, LonwoLonwo

[2022-05-05 08:18] biggio78 opened #16417 "Preset by default automatic order on my tables"
hi, is possible preset automatic order by column (primary key) for all table on my schema (db postgres) ?

I use dbeaver edition community - Version 22.0.4.202205011839

[2022-05-05 08:46] LonwoLonwo commented on #11140
Like with any other "planned" tickets, we are waiting for feedback from our users.
You can vote with +1 emoji for the main topic.

[2022-05-05 08:48] LonwoLonwo commented on #16417
Hello @biggio78

This feature is not implemented yet.
But we have a ticket for this: https://github.com/dbeaver/dbeaver/issues/11140
You can vote there.

I'm closing this ticket as a duplicate.

[2022-05-05 08:48] #16417 closed, assigned to nobody

[2022-05-05 09:27] uslss commented on #16412
[Metadata panel](https://github.com/dbeaver/dbeaver/wiki/Panels#metadata-panel) could be used in this case. Does it resolve your issue?
![image](https://user-images.githubusercontent.com/31996417/166896306-2adbc6ec-e7b8-43e9-bfb6-adfeb24e74c6.png)

[2022-05-05 09:35] LjzMorn opened #16419 "Oracle connect error ,when change the user interface language to a language other than English."
#### System information:
- Operating system (distribution) and version：Windows 10
- DBeaver version：22.0.4.202205011839
- Additional extensions：No

#### Connection specification:
- Database name and version：Oracle Database 10g Release 10.2.0.1.0 - Production
- Driver name：Oracle JDBC driver 12.2.0.1.0
- Do you use tunnels or proxies (SSH, SOCKS, etc)? ： No

#### Describe the problem you're observi

[2022-05-05 10:08] uslss commented on #16026
There has been no update on issue for a long time.  If it is still reproducible - feel free to reopen it

[2022-05-05 10:08] #16026 closed, assigned to nobody

[2022-05-05 10:09] #15616 closed, assigned to nobody

[2022-05-05 10:10] uslss commented on #15853
There has been no update on the issue for a long time.  If it is still reproducible - feel free to reopen it

[2022-05-05 10:10] #15853 closed, assigned to nobody

[2022-05-05 10:11] uslss commented on #15398
There has been no update on the issue for a long time.  If it is still reproducible - feel free to reopen it

[2022-05-05 10:11] #15398 closed, assigned to nobody

[2022-05-05 10:12] uslss commented on #14269
There has been no update on the issue for a long time.  If it is still reproducible - feel free to reopen it

[2022-05-05 10:12] #14269 closed, assigned to nobody

[2022-05-05 10:12] uslss commented on #15643
There has been no update on the issue for a long time.  If it is still reproducible - feel free to reopen it

[2022-05-05 10:12] #15643 closed, assigned to nobody

[2022-05-05 10:13] uslss commented on #16085
There has been no update on the issue for a long time.  If it is still actual - feel free to reopen it

[2022-05-05 10:13] #16085 closed, assigned to nobody

[2022-05-05 10:14] uslss commented on #16092
There has been no update on the issue for a long time.  If it is still reproducible - feel free to reopen it

[2022-05-05 10:14] #16092 closed, assigned to nobody

[2022-05-05 10:15] uslss commented on #15895
is it still reproducible against 22.0.4?

[2022-05-05 10:16] uslss commented on #5489
There has been no update on the issue for a long time.  If it is still reproducible - feel free to reopen it

[2022-05-05 10:16] #5489 closed

[2022-05-05 10:16] uslss commented on #15984
There has been no update on the issue for a long time.  If it is still reproducible - feel free to reopen it

[2022-05-05 10:16] #15984 closed, assigned to nobody

[2022-05-05 10:16] uslss commented on #8367
There has been no update on the issue for a long time.  If it is still reproducible - feel free to reopen it

[2022-05-05 10:16] #8367 closed

[2022-05-05 10:17] uslss commented on #16126
There has been no update on the issue for a long time.  If it is still reproducible - feel free to reopen it

[2022-05-05 10:17] #16126 closed, assigned to nobody

[2022-05-05 10:17] #16171 closed, assigned to nobody

[2022-05-05 10:21] #16125 closed, assigned to nobody

[2022-05-05 10:26] LonwoLonwo commented on #16419
Hello @LjzMorn

It shows 'Locale not recognized' where?
Can you please check the error logs? You can find instructions here: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-05-05 11:54] erwiese commented on #8864
I use DBeaver inside Eclipse on rhel8 (not snap) and it does not work for me.
org.jkiss.dbeaver.model.exec.DBCException: Authentication error: Couldn't get password from PGPASS file

So where does DBeaver expect to find the pgpass file?
Obviously not in ~/.pgpass

[2022-05-05 12:05] raags commented on #16402
Same here - the ability to use the `current` tab is an important part of my workflow when running queries. There is already Ctrl + \ which opens the results in a new tab. Can this be brought back with a configuration option please?

[2022-05-05 12:07] E1izabeth commented on #16402
We will work on it. Thank you for suggestions.

[2022-05-05 13:16] maoschanz commented on #1361
![Capture d’écran de 2022-05-05 15-12-23](https://user-images.githubusercontent.com/19996113/166930635-fd31d3d6-ad8f-4e62-8f31-f3a0ea6ad71c.png)

aside of the insanely convoluted workflow (4 levels of modal dialog windows ??), maybe you could address the fact that we can't select any binary at all

edit: nevermind, this dialog is to select a "home" which is a directory. ~~The binary path has to be

[2022-05-05 13:18] plotn commented on #16412
yes, patially yes, I missed it, thank you. "Column comment" is missing there. And not so convient, as it could be "in compact mode"

[2022-05-05 14:03] uslss commented on #6077
verified

[2022-05-05 14:09] uslss commented on #16412
Feature request about adding column description: #11054

Also, you can enable Show column description in header option in Preferences
![image](https://user-images.githubusercontent.com/31996417/166941513-992c86ae-9d6a-4567-b18e-8a9166135f07.png)

[2022-05-05 14:22] plotn commented on #16412
Great!!! Thank you very much!

[2022-05-05 14:22] #16412 closed, assigned to nobody

[2022-05-05 17:22] LinWanCen opened #16422 "Show Column Comment In Record View"
Show comment in this view:
![image](https://user-images.githubusercontent.com/14926671/166978069-4d566582-0bba-46a9-a6ef-ee90868f57a2.png)

This view can show:
![image](https://user-images.githubusercontent.com/14926671/166977928-65b6e988-2afe-4061-bf97-d2189c56d812.png)

[2022-05-05 17:23] E1izabeth commented on #16262
Hi, @usoa! Unfortunately, I can't reproduce your issue. How did you install these plugins: with Install new software.. or from Eclipse marketplace? Did you install DBeaver or SAP Hana plugin first?

[2022-05-05 17:24] jdunhamvrtx opened #16423 "22.0.4 NTLM form upgrade - ... connection properties must be specified for NTLM authentication."
#### System information:
- Operating system : Artix Linux (Arch derivative)
- DBeaver version : 22.0.4
- Additional extensions : none

#### Connection specification:
- Database name and version : SqlServer
- Driver name ; In below logs
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Describe the problem you're observing:
Error connecting to SQLServer Dbs with NTLM after upgrade to 22

[2022-05-05 17:28] LinWanCen opened #16424 "Find In Data View"
Because input json Is very long, we hope it can use Ctrl + F to find text in this:
![image](https://user-images.githubusercontent.com/14926671/166979084-ea980f9c-4e1e-48d6-b1c8-6805bf80e9bc.png)

[2022-05-05 17:29] E1izabeth commented on #16423
Hi, @jdunhamvrtx! Thank you for bug report.
It was originally posted here https://github.com/dbeaver/dbeaver/issues/16390.
We have already solved this issue, you can use Early Access version https://github.com/dbeaver/dbeaver/issues/16390#issuecomment-1118254718.

[2022-05-05 17:29] #16423 closed, assigned to nobody

[2022-05-05 19:00] #10184 closed

[2022-05-05 19:01] #6077 closed

[2022-05-05 19:39] LonwoLonwo commented on #16424
Hello @LinWanCen

Please try to use right-click on the view area.

![2022-05-05 22_38_34-DBeaver Ultimate 22 0 4 - json_test_json_without_pk](https://user-images.githubusercontent.com/45152336/167012839-2d9ca579-87cc-4d34-bbed-5fd0c2b89fb5.png)

[2022-05-05 20:12] jaypan13 opened #16425 "Dbeaver is throwing error virtual_pk is missing for commented comma"
First of all thanks for great software. It helps a lot!

#### System information:
- Operating system (distribution) and version - Mac Big Sur
- DBeaver version - 22.0.3.202204170718
- Additional extensions - None

#### Connection specification:
- Database - AWS Aurora
- Driver name - MySQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No proxies/tunnels

#### Describe the problem you're obser

[2022-05-05 20:52] aranapatona commented on #5213
Yes , Clear Log View and probably a checkbox for "Clear Log entries also"

[2022-05-05 23:43] aranapatona commented on #16415
Sure, but as mentioned it happens only when using a them/style from devstyler
[thread-dump.txt](https://github.com/dbeaver/dbeaver/files/8636600/thread-dump.txt)

[2022-05-05 23:51] LinWanCen commented on #16424
Thanks, then this issue is changed to add shortcut keys for find and replace in Value View Area?

[2022-05-06 00:13] ShadelessFox commented on #16306
https://github.com/dbeaver/dbeaver/wiki/Export-Command

[2022-05-06 00:21] ShadelessFox commented on #16415
It looks like the table control is being resized infinitely.

I assume it may happen in multiple places, so I doubt we can easily fix that.

In any case, it's abnormal behavior, but it indeed can be "fixed" by turning off theming. If it doesn't seem critical, let's keep this issue open to see if anybody also has the same problem.

[2022-05-06 02:25] LjzMorn commented on #16419
Hi @LonwoLonwo

In "New Database Connection"→"Choose Oracle"→Enter My Database → push the button 'Test Connection'。
<img width="858" alt="dbeaver oracle" src="https://user-images.githubusercontent.com/104968827/167056861-32ef890d-48cd-418f-a5c2-e1fcfa1a5ed9.png">

But if user interface language in English,it will success.↓
<img width="847" alt="dbeaver oracle-2" src="https://user-images.githubuser

[2022-05-06 04:32] phasedephase commented on #16400
@ShadelessFox First, my mistake--I made a typo: the table has a total of about 250K rows.
 Let me now briefly explain how I trigger the load as I am not allowed to show the various DBs and tables.  Basically, after launching DBeaver:

1_  I double click a table, which opens up with the default 200 in the Result -Set fetch size textbox.
2_  I then change 200 to 500000 and close the tab.
3_  I doubl

[2022-05-06 07:34] ny5667 commented on #16009
@CalmaKarma @LonwoLonwo  OK, this issure has been solved. Thanks！

[2022-05-06 07:57] ems2811 commented on #15992
Still reproduces in 22.0.4

[2022-05-06 08:11] kai-morich opened #16427 "Save SQL console as script"
I changed default 'SQL' command to 'SQL console' instead of 'SQL script', to avoid creating a lot of useless scripts.
If I now have a statement worth saving, I have to create a script and copy from console to script.
Would be good if the 'SQL console' window header would have a 'Save as Script' to save in 'Project/Scripts' folder.
Save as real file is already possible.

[2022-05-06 09:17] LonwoLonwo commented on #15946
Hello @lukaseder

For now we can't fix this problem unfortunately.

`delete from t returning *;`

This statement can't be parsed by JSQLParser library, wich we use for parsing now.

I created a ticket for this case: https://github.com/JSQLParser/JSqlParser/issues/1527

[2022-05-06 09:26] lukaseder commented on #15946
Sure, no worries. Thanks for addressing this!

[2022-05-06 09:30] uslss commented on #16422
thanks for the suggestion
duplicates #5529

[2022-05-06 09:30] #16422 closed, assigned to nobody

[2022-05-06 09:44] manticore-projects commented on #15946
Greetings.

Currently, JSQLParser does not support the `RETURNING` for `DELETE` statements, although I will see what I can do about.

For future reference, the recent SQL Syntax Diagrams of JSQLParser: http://217.160.215.75:8080/jsqlformatter/_static/JSqlParserCC.xhtml#Delete

I keep that up-to-Date.

[2022-05-06 09:46] manticore-projects commented on #15946
@lukaseder: Are there more statements using a `RETURNING` expressing? (Sorry, I never used those before and am not aware of it.)

According to Postgresql https://www.postgresql.org/docs/current/dml-returning.html it would be `INSERT`, `DELETE`, `UPDATE`.

`UPDATE` is supported yet, but not `DELETE` or `INSERT`.

What about `MERGE` statement?

[2022-05-06 10:20] ShadelessFox commented on #16400
Thanks for explaining.

This option affects how many rows are loaded into the memory at a time.

In the worst case, it would require up to 3GiB of memory to load 83k rows (assuming each row contains a screenshot, thus ~40KiB/row). Due to boxing and state-keeping overhead, it may take up to 4GiB or even more.

I don't think that fetching THAT amount of rows is necessary. You can always scroll down

[2022-05-06 10:32] JeroenNienhuis commented on #16389
on pgAdmin 4 v4 it works fine
![afbeelding](https://user-images.githubusercontent.com/51078213/167113838-037996a2-bbd1-4ce3-9177-972128688edb.png)

[2022-05-06 10:59] n1ngu commented on #9107
DBeaver using the system-wide SSH setup would benefit from all the SSH tooling (ssh-agent, ssh_config, known_hosts, etc) and the feature here requested would be available for free.

I am lacking some context on why DBeaver uses its own separate SSH stack. I'd be interested in the topic if anyone can share some links.

[2022-05-06 11:03] manticore-projects commented on #15946
Should be fixed by PR https://github.com/JSQLParser/JSqlParser/pull/1528
I have attached JSQLParser 4.4 + PR 1528, it should be sufficient to just replace the JAR file.
[jsqlparser-4.5-SNAPSHOT.zip](https://github.com/dbeaver/dbeaver/files/8639498/jsqlparser-4.5-SNAPSHOT.zip)

[2022-05-06 11:23] E1izabeth commented on #15946
Thank you, @manticore-projects!

[2022-05-06 11:24] ShadelessFox commented on #16389
What's your driver version?

[2022-05-06 11:27] ShadelessFox commented on #16427
Hello @kai-morich,

Thanks for the feature request.

The suggested workflow is pretty straightforward. I like it :)

[2022-05-06 11:46] JeroenNienhuis commented on #16389
ODBC Postres driver? 13.02

[2022-05-06 11:47] lukaseder commented on #15946
`INSERT`, `UPDATE`, and `DELETE` have it. Speaking of which, these Transact-SQL syntaxes are also not covered by Dbeaver's protection:

[code]

[2022-05-06 11:48] lukaseder commented on #15946
PostgreSQL doesn't support `MERGE` yet. The standard SQL way to return values from `MERGE` would be `{ OLD | NEW | FINAL } TABLE` (as supported by Db2 and H2), e.g.

[code]

[2022-05-06 11:49] lukaseder commented on #15946
`RETURNING` is supported by at least:

- Firebird
- MariaDB
- Oracle PL/SQL
- PostgreSQL (and related, including CockroachDB, YugabyteDB)

[2022-05-06 11:50] manticore-projects commented on #15946
Same problem: JSQLParser does not understand/support it (yet).
I am no big fan of MS Anything, but when this was relevant I would try to implement it (with a second PR).

[2022-05-06 11:53] uslss commented on #9299
not actual against 22.0.4

[2022-05-06 11:53] manticore-projects commented on #15946
@lukaseder : Thanks for the feedback.

My current assessment:

1) We need to support `RETURNING` for `INSERT`, `UPDATE` and `DELETE` (has been implemented now)
2) We may implement T-SQL equivalent `OUTPUT DELETED,i`  (I need to research the syntax though, it looks weird)
3) Nothing to be done for `MERGE` as it does not support `RETURNING`

Anything else please?

[2022-05-06 12:00] uslss commented on #10444
seems to be not actual for now

[2022-05-06 12:01] lukaseder commented on #15946
https://docs.microsoft.com/en-us/sql/t-sql/queries/output-clause-transact-sql?view=sql-server-ver15

Yeah, I think `MERGE` doesn't need any protection. This particular accident is more unlikely with `MERGE`

[2022-05-06 12:08] ShadelessFox commented on #16389
Oh, I thought you were using the JDBC driver. So it may be a limitation of the ODBC driver. It hasn't been updated in a while.

[2022-05-06 12:11] uslss commented on #10592
[Feature](https://github.com/dbeaver/dbeaver/wiki/Edit-mode) is already available in Enterprise edition

[2022-05-06 12:11] #10592 closed

[2022-05-06 12:18] JeroenNienhuis commented on #16389
I guessed I needed to lookup the ODBC driver version (hence the questionmark). Now I looked up details from dbeaver:
![afbeelding](https://user-images.githubusercontent.com/51078213/167129387-055bbe40-b4f6-4859-b673-460727a986d6.png)
Is this what you need?

[2022-05-06 14:03] ShadelessFox commented on #16389
Sorry for the confusion. Yes, I was talking about the driver that DBeaver uses.

Unfortunately, I'm still unable to reproduce this issue against the exact driver version.

My last assumption is that this issue is OS-specific. Judging by the L&F, you're using Windows 7. `¯\_(ツ)_/¯`

[2022-05-06 14:32] #13118 closed, assigned to E1izabeth, Matvey16

[2022-05-06 14:32] #15250 closed, assigned to E1izabeth, Matvey16

[2022-05-06 14:49] fjf2002 commented on #7742
I cannot even find the mentioned "Select "Refresh Materialized View" in Tools" context menu entry for postgres materialized views. Has it gone?

[2022-05-06 15:09] Matvey16 commented on #14326
The problem is not with the dot, but with user name is lower case. It is reproducible

[2022-05-06 15:26] phasedephase commented on #16400
Fair point.  Thanks.

[2022-05-06 15:43] ShadelessFox commented on #16400
If you have any questions left, feel free to ask them here.

[2022-05-06 15:43] #16400 closed, assigned to nobody

[2022-05-06 16:15] travelliu opened #16429 "run script Not support oracle / syntax"
#### System information:
- Operating system: macOS 12.3.1 x86_64
- DBeaver version:  22.0.4
- Additional extensions

#### Connection specification:

![2022-05-07 at 00 13](https://user-images.githubusercontent.com/7792329/167171646-e8187692-41fa-4415-82ee-9e4fc8ef3bf4.png)

#### Describe the problem you're observing:
![2022-05-07 at 00 13](https://user-images.githubusercontent.com/7792329/16717171

[2022-05-06 17:35] Chealer commented on #7742
I unfortunately no longer use PostgreSQL, so I cannot answer that question.

[2022-05-06 17:44] E1izabeth commented on #7742
@fjf2002, I think this context menu with Refresh button was mentioned:

![image](https://user-images.githubusercontent.com/28875055/167185958-b11411ca-b5b8-4972-b34f-8ff5e00170a0.png)

[2022-05-06 22:09] braindevices opened #16431 "use variables in connection's driver properties won't work"
#### System information:
- Ubuntu20.04
- DBeaver version 22.04

#### Connection specification:
- Mariadb
- mariadb jdbc
- socks

#### Describe the problem you're observing:
If I use full path in the driver properties it works, but neither ${home} nor ${HOME} work as path.
#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2022-05-07 04:29] Syehunter opened #16432 "Could not connect to Phoenix with JDK8"
When using V22.0.4.202205011839 on Windows I couldn't connect to Phoenix with JDK8 because of DBeaver needs JDK at least 11

So that is the problem, if I set parameter like "-vm <jdk-path1.8>" the DBeaver can't even start, also it doesn't work on setting this in shell before connection

But if I don't set the parameter, emmmm......↓
class org.[apache](https://so.csdn.net/so/search?q=apache&spm=100

[2022-05-07 06:50] carlosromel opened #16433 "Separarate message logs with log level."
It would be wonderful if DBEeaver were able to separate log messages into their own tabs, according to their declared levels.

"raise debug     format;" will filter messages into "debug" tab;
"raise log       format;" will filter messages into "log" tab;
"raise info      format;" will filter messages into "info" tab;
"raise notice    format;" will filter messages into "notice" tab;
"raise warning

[2022-05-07 12:37] manticore-projects commented on #15946
Thank you @lukaseder .
I have added support for the `OUTPUT` clause to the `INSERT`, `DELETE` and `UPDATE` statement.  This should make those statements parsable and help to trigger the warning in DBeaver.

@E1izabeth: Please do let me know, when anything else was needed. I have attached a Snapshot JAR including the PR again. Unfortunately I can not merge the PR myself, but I would write an e-mail

[2022-05-07 14:16] hktalent commented on #16375
It is confirmed that it is because the id is empty

[2022-05-07 14:28] #16375 closed, assigned to nobody

[2022-05-08 03:35] troizet opened #16435 "Value in the cell is not highlighted."
#### System information:
- Operating system: Ubuntu 20.04
- DBeaver version: 21.3.4.202202051448, 22.0.4.202205011839

#### Describe the problem you're observing:
When you double-click on a cell with the data type date, the value in the cell is not highlighted.

https://user-images.githubusercontent.com/9607501/167280542-3c5e2c41-39e0-4001-b671-f2269b58adeb.mp4

[2022-05-08 03:36] troizet opened #16436 "Appearance of the edited cell with the date data type"
#### System information:
- Operating system: Ubuntu 20.04
- DBeaver version: 21.3.4.202202051448, 22.0.4.202205011839

#### Describe the problem you're observing:
The appearance of the edited cell with the date data type is different from cells with other data types.

https://user-images.githubusercontent.com/9607501/167280542-3c5e2c41-39e0-4001-b671-f2269b58adeb.mp4

[2022-05-08 03:43] troizet opened #16437 "Different behavior of an editable cell when scrolling left and right"
#### System information:
- Operating system: Ubuntu 20.04
- DBeaver version: 21.3.4.202202051448, 22.0.4.202205011839

#### Describe the problem you're observing:
Different behavior of an editable cell when scrolling left and right

https://user-images.githubusercontent.com/9607501/167280783-f7499d24-ffa7-4bea-94ff-102120115996.mp4

[2022-05-08 09:55] PILINING commented on #16149
Hello. @LonwoLonwo I"d like to work on this issue.

[2022-05-08 14:23] Felix0209 opened #16438 "link phoenix fail"
Unexpected driver error occurred while connecting to the database
  java.lang.RuntimeException: class org.apache.hadoop.security.JniBasedUnixGroupsMappingWithFallback not org.apache.hadoop.security.GroupMappingServiceProvider
  java.lang.RuntimeException: class org.apache.hadoop.security.JniBasedUnixGroupsMappingWithFallback not org.apache.hadoop.security.GroupMappingServiceProvider
    class org.

[2022-05-09 00:56] leezm opened #16440 "Export column description in XLSX"
**Is your feature request related to a problem? Please describe.**

I want export data with database column comment replace dafault header.Such as export excel header,show database column comment not the colum name.

**Describe the solution you'd like**

Export data show database column comment.

[2022-05-09 03:03] JerryJian opened #16441 "'temporary connection' feature lost after upgrade to 22.0.4"
#### System information:
- Windows 11 x64
- DBeaver 22.0.4

#### Connection specification:
- SQLite database file
- sqlite
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:

I added file association of *.db file to open with DBeaver sqlite driver by editing windows registry.

The behavior of opening sqlite db by double click on file has changed aft

[2022-05-09 06:16] fjf2002 commented on #7742
Ah, I confused DBeaver's metadata "Refresh" with ""Refresh Materialized View" in Tools", edited my comment. Seems to work.

[2022-05-09 09:20] negora commented on #11531
I've a connection to a MS SQL server that uses NTLM authentication. In DBeaver 22.0.2 it works fine. However, something has changed in version 22.0.4, because it has stopped working. The displayed message is the one mentioned by @nmeachen in his/her original message.

[2022-05-09 14:22] xtof13 opened #16442 "Read Metadata Oracle not properly working (constraints or indexes)"
#### System information:
- Operating system : Windows 10
- DBeaver version : 22.0.4

#### Connection specification:
- Driver name : jdbc8 or TNS

#### Describe the problem you're observing:
`select * from user_indexes;`
`select * from dba_indexes;`

Both queries are not returning the schema on which I'm connected on.

[2022-05-09 17:41] ceinmart opened #16443 "Generate DDL from a result set"
Hi,

My suggestion is add an option to generate da simple DDL (create table) based on the data types of the result set.
This can be very useful when we need to work with data movement and data manipulation where we need to include some result into a new table.
Where the DDL generated already match with the result set in use.

[2022-05-09 18:48] nodule442 opened #16444 "Advanced script to retrieve postgres password"
Hello,

We use AWS and I want to retrieve the postgres user password and other attributes from parameter store for some admin actions, after hopping across a few different AWS accounts/roles first.

I can see that there is an enterprise [feature](https://dbeaver.com/docs/wiki/AWS-SSO/) to retrive an IAM auth token via SSO, which is welcome but isn't quite flexible enough for our use-case.

Could I

[2022-05-10 02:01] tgross35 opened #16445 "MariaDB: Foreign key "cross reference" of UUID needs to be quoted"
#### System information:
- OS: MacOS 12.3.1
- DBeaver version: 22.0.0.202203131528
- Additional extensions: none

#### Connection specification:
- Database name and version: MariaDB 10.7.3
- Driver name: mariadb-java-client-2.7.1.jar / local client MySQL 8.0.28
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH tunnel

#### Describe the problem you're observing:
Clicking the cross reference bu

[2022-05-10 02:56] raymond-lum opened #16446 ""Create new connection from JDBC URL" dialog does not find drivers."
#### System information:
MacOS Intel 64
DBeaver 22.0.4

#### Describe the problem you're observing:
When going to the "Create new connection from JDBC URL" dialog and typing in a JDBC URL, the Drivers never lists a suitable driver.

#### Steps to reproduce, if exist:
1. Install and launch DBeaver 22.0.4
2. Go to Database > New Connection from JDBC URL
3. Type in the field JDBC URL "jdbc:postgresql

[2022-05-10 10:47] LonwoLonwo commented on #16445
Thnaks for the report @tgross35

[2022-05-10 11:04] LonwoLonwo commented on #16442
Hello @xtof13

https://docs.oracle.com/cd/B19306_01/server.102/b14237/statviews_1069.htm#i1578369

So, what do you mean about "not returning the schema on which I'm connected on"?
Please tell me more about your issue.

[2022-05-10 11:09] LonwoLonwo commented on #16440
Hello @leezm

You can choose description instead of column name in the format settings of CSV data export in the current DBeaver version.

![2022-05-10 14_07_00-Data Transfer](https://user-images.githubusercontent.com/45152336/167615404-3b0a992d-d021-4c3b-a017-24b30678335a.png)

[2022-05-10 11:15] LonwoLonwo commented on #16438
I'm closing this issue as duplicate of https://github.com/dbeaver/dbeaver/issues/15676

You can read more info about your problem there.

[2022-05-10 11:15] #16438 closed, assigned to nobody

[2022-05-10 12:34] diegogurpegui commented on #14930
Same issue here. As soon as I right-click, the button magically enables itself.

DBeaver Version 22.0.4.202205011839

[2022-05-10 13:03] xtof13 commented on #16442
Hi LonwoLonwo,

Thanks for your reply.
You're right USER_INDEXES is dedicated for the current user.
I am connected to an user named 'A'. Column TABLE_OWNER should return the name of current user 'A'. But actually, this column is fullfilled with schema named 'B'.

Then I tried an alternative solution which was to select my indexes with another view : dba_indexes. DBA_INDEXES has duly a column named

[2022-05-10 13:34] tphani commented on #1001
Sorry for commenting on a closed thread, but this is the most relevant issue!

I am using the community edition: Version 22.0.4.202205011839 and connection to teradata fails with error:
[code]
After fiddling around with the tera driver params, I realized it tries to use ssl to connect even though custom host and port
 are specified. To force non-ssl, ended up adding **SSLMODE=DISABLE** and it work

[2022-05-10 13:46] mugshepherd commented on #2618
This now seems to be Right Click:  Edit -> Save to file

[2022-05-10 17:39] rodanConafor commented on #7343
Same behavior in my machine with Ubuntu 18.04.06 and dbeaver:
22.0.4.202205011839
with java jdk1.8.0_221, happens same error as above described, I changed java to:
java-11-openjdk-amd64
and with that export data just works fine.

[2022-05-10 18:25] E1izabeth commented on #16441
Thank you for bug report.

[2022-05-10 18:52] E1izabeth commented on #16429
Hi, @travelliu! DBeaver use `;` as a statement delimiter by default, but you can redefine it in settings:

![image](https://user-images.githubusercontent.com/28875055/167701201-44b8793f-8827-4045-8b4e-f17cc806bfe5.png)

Does it resolve the issue?

[2022-05-10 18:52] serge-rider commented on #16432
Similar to #15676
Try to use driver 4.14.1-HBase-1.4.
New DBeaver versions won't support legacy JDK (it is too old).

Also you could try to use an old version of DBeaver (6.x I guess).

[2022-05-10 19:05] iron0012 commented on #3396
I am also experiencing this. Changes made to an entry in a tnsnames.ora file are not picked up by connections in Dbeaver that use the entry. Hovering over the connection entry in Dbeaver to see the connection string as a tool tip confirms that the old connection string is still being used.

[2022-05-11 00:32] leezm commented on #16440
It's CSV,how about excel...

[2022-05-11 05:33] wumpz opened #16447 "temporary database connections"
With older DBeaver versions, I would guess pre version 22 I used this command line string to create **temporary** database connections:

dbeaver-cli.exe -reuseWorkspace -con "name=<USER>@<server>|driver=PostgreSQL|host=<server>|port=5432|database=<USER>|user=<USER>|password=<PASS>|connect=true"

Temporary means, those connections were not persisted, were gone after a restart of DBeaver. I like thi

[2022-05-11 05:34] travelliu commented on #16429
tks.
[code]
Run the above script normally after modification

[2022-05-11 06:00] E1izabeth commented on #16447
Thank you for report. Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/16441

[2022-05-11 06:00] #16447 closed, assigned to nobody

[2022-05-11 06:03] #16429 closed, assigned to nobody

[2022-05-11 06:07] LonwoLonwo commented on #16440
Ok. Thanks for the report.

[2022-05-11 06:21] LonwoLonwo commented on #16009
Thanks for your reply @NY5667

[2022-05-11 07:40] simonst commented on #667
+ this would be really useful

[2022-05-11 07:43] johanneswerner opened #16449 "Plugin Installation of Wakatime fails"
Hello,

I am using DBeaver under Manjaro Linux and tried to install the Wakatime Plugin as described [here](https://wakatime.com/dbeaver). I am not sure if this is a bug, and it seems to be similar to #5174.

Trying to install the plugin leads to the following error message: "Installing software has encountered a problem"

[code]

#### System information:
- Operating system (distribution) and vers

[2022-05-11 09:18] uslss opened #16451 "Script context menu is shown for custom ERD"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.0.5

#### Describe the problem you're observing:
SQL script context menu is shown for custom ERD tab

![image](https://user-images.githubusercontent.com/31996417/167815096-6baaada6-1d4a-4923-ade8-cc6b8c6f61b1.png)

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the

[2022-05-11 09:22] E1izabeth commented on #15519
Thank you for explanation.

[2022-05-11 09:32] wiwwo opened #16452 "Filter in [mariadb/mysql] `show processlist` returns "funny" error"
Running
`show processlist`
and then filtering the datagrid with whatever returns
`QL Error [1064] [42000]: (conn=714972276) You have an error in your SQL syntax` etc etc etc, since what the filter tryes to do is
[code]
which is... wrong :-)

Maybe, avoid the use of the filter in queries like those, or "trap" the error and show "you canz no do dat"

[2022-05-11 09:44] JGFMK opened #16453 "DBeaver CSV to Table import. How to do scripted without import Wizard?"
I have a table I routinely want to drop, then re-import and add a primary key constraint for.
The thing is I don't want to step thru the wizard each time.
How can I script this as a command so I don't need to interact with a GUI/wizard?
If it is of significance I am using PostgreSQL on a Mac
(Also your authentication mechanism with bastard re-captcha is broken at https://dbeaver.com/signin/ )
1) I

[2022-05-11 10:29] LenaVu commented on #16453
Hello @JGFMK

Your account has been activated. Now you can reset a password https://dbeaver.com/forgot/.

[2022-05-11 11:42] ShadelessFox commented on #16446
Hello @raymond-lum,

This URL is matched against the sample URL of the driver.

In the case of the PostgreSQL driver, there's a mandatory `/` at the end, so `jdbc:postgresql://localhost/` should match just fine.

Of course, we could improve this behavior to be driver-agnostic since it will give us a lot of room for enhancements.

[2022-05-11 11:44] ShadelessFox commented on #16446
Will be fixed within #16129

[2022-05-11 11:44] #16446 closed, assigned to ShadelessFox

[2022-05-11 12:16] yoni-yad2 commented on #2960
I second that because when trying to kill a session on MySQL RDS as an admin I get this error:

"You are not owner of thread xxxxxxxx"

but it works when running manually:
CALL mysql.rds_kill (xxxxxxxx);

[2022-05-11 12:18] E1izabeth commented on #15100
Hi again, @deeco! We added a new connection parameter to declare whether you want to save connection or let it stay temporary. To save new connection between launches you need to use `save=true` (please, see https://github.com/dbeaver/dbeaver/wiki/Command-Line#connection-parameters). By default `save` is set to `false`. It will be available in the next release.

[2022-05-11 12:23] E1izabeth commented on #16441
We added a new connection parameter `save` to set whether new connection should be saved (`save=true`) or should be temporary (`save=false`). By default a new connection is temporary. It will be available in the next release.
You can read more here: https://github.com/dbeaver/dbeaver/wiki/Command-Line#connection-parameters

[2022-05-11 12:34] the8tre opened #16454 "Connection isn't created when using command line parameter "-con" along with option "create=false""
#### System information:
- Windows 10 21H1
- DBeaver 22.0.4

#### Connection specification:
- Not related to a specific connection

#### Describe the problem you're observing:
When launching through the command line using the "-con" parameter and specifying the option "**create=false**" the application starts properly but the temporary connection doesn't get created at all.
This used to work until

[2022-05-11 12:38] the8tre commented on #16454
Seems to be related to https://github.com/dbeaver/dbeaver/issues/16441

[2022-05-11 12:38] #16454 closed, assigned to nobody

[2022-05-11 13:07] lackovic commented on #5317
Still happening on Version `22.0.4`.

**Edit**: also happening on the following versions:
- `22.0.5`
- `22.1.0`
- `22.1.1`
- `22.1.2`
- `22.1.3`
- `22.2.0`

**Edit 2**: I have stopped tracking, still happening with any new version.

**Edit 3**: eventually I stopped using any plugin.

[2022-05-11 13:09] LonwoLonwo commented on #16442
Does you user 'A' have any indexes? Have you tried to connect with user 'B'?
Can you please check other development tools? I'm not sure, that this is DBeaver problem.

[2022-05-11 13:26] serge-rider commented on #16086
The problem was in conflicting JNA dependencies.

It was fixed (now it is possible to simply add Waffle dependency to PostgreSQL driver libraries).

Also PostgreSQL SSPI authentication will be added in DBeaver 22.1. IT will trigger Waffle libraries download automatically.
Early Access version will be published later this week.

[2022-05-11 13:27] flambchap commented on #16146
Hi @sochotnicky. Thank you for the report. We are working on this ticket.

[2022-05-11 13:29] palytoxin opened #16455 "crash on editding connection settings"
#### System information:
- Linux nuc 5.15.32-1-MANJARO SMP PREEMPT Mon Mar 28 09:16:36 UTC 2022 x86_64 GNU/Linux
- Version 22.0.4.202205011839

#### Connection specification:
Mysql / PostgreSQL / oracle and so on...
sometimes has HTTP proxy

#### Describe the problem you're observing:
on any connection, right click, edit connection and nothing to do, then press ESC or click cancel or click OK.
the

[2022-05-11 13:36] palytoxin commented on #16455
It's print log has  `Service 'org.jkiss.dbeaver.runtime.ui.UIServiceSecurity' not found` everytime.

1. I checked #7296 , then rm `rm ~/.local/share/.DBeaverData/workspace6/<project name>/.dbeaver/.data-sources.json.bak`
2. I try to remove all dbeaver config files, and try to reinstall dbeaver / install from official tar.gz / install from archlinux pacman source / change zulu,OpenJDK, oraclejdk.

[2022-05-11 13:53] xtof13 commented on #16442
Actually user 'A' is a datapump migration of 'B' with EXCLUDE statistics parameter.
I have within 'A' user 56 indexes with ENABLED status.
DBeaver has been my favorite tool since 2018. I've been surprised of the result here. Of course I have double checked with Toad & SQL Developer.
Finally I've restart the computer and guess what, this is working now for trigger, indexes and constraints.
Many Tha

[2022-05-11 13:53] #16442 closed, assigned to nobody

[2022-05-11 13:55] LonwoLonwo commented on #16442
Thanks for your reply and investigation @xtof13

[2022-05-11 14:05] ShadelessFox commented on #16164
Hello @RobinFrcd,

I cannot reproduce your issue. The foreign key appears just fine after refreshing the `Foreign Keys` node in the navigator tree.

Can you please provide a minimal reproducible example?

Also, what's your database version?

[2022-05-11 14:09] ShadelessFox commented on #16263
Hello @fburelli,

The attached CSV file seems to be weirdly formatted.

Can you please attach a screenshot of the `Preview Data` dialog showing the data you're trying to export? There's a button called `Preview Data` that can be used to access this dialog on the mappings page during data transfer.

[2022-05-11 14:12] ShadelessFox commented on #16419
Hello @LjzMorn,

Does changing these settings help?

![image](https://user-images.githubusercontent.com/35821147/167870534-191e25c6-428c-4bb0-b8cd-89a52f56c104.png)

[2022-05-11 14:21] ShadelessFox commented on #16425
Hello @Jay1305,

Thanks for the bug report.

Note: I was able to reproduce it on Windows.

[2022-05-11 14:25] ShadelessFox commented on #16431
Hello @braindevices,

Variable resolution is not supported in driver properties.

[2022-05-11 14:26] ShadelessFox commented on #16433
Hello @carlosromel,

Thanks for the feature request.

Just to make things clear: what's your database?

[2022-05-11 14:31] ShadelessFox commented on #16437
Hello @troizet,

Thanks for the bug request.

This issue is caused by the way how the grid is rendered. Not sure if we can fix that.

[2022-05-11 14:35] ShadelessFox commented on #16443
Hello @ceinmart,

Thanks for the feature request. It seems useful.

As a workaround, during Data Transfer, you can use the `Target DDL` button to view the generated DDL. Note that the target must be `Database`.

[2022-05-11 14:50] ShadelessFox commented on #16452
Hello @wiwwo,

I don't think we should restrict users from doing that. This behavior may depend on the database version. In the future, this syntax may be allowed.

As for the other `SHOW` variants, some support the `WHERE` clause, such as [`SHOW STATUS`](https://dev.mysql.com/doc/refman/8.0/en/show-status.html). We can support them, at least.

For now, I am closing as a duplicate of #9968.

[2022-05-11 14:50] #16452 closed, assigned to nobody

[2022-05-11 14:53] ShadelessFox commented on #16453
Hello @JGFMK,

You can use the `SQL Script` task to drop and create a unique key constraint in pair with the `Data Import` task.

To combine them, you can use [composite tasks](https://github.com/dbeaver/dbeaver/wiki/Composite-Tasks).

Please let me know if it solves your issue.

[2022-05-11 15:25] LonwoLonwo commented on #14326
So. Usually users use users names in the Connection Page in the lower case and then database recognize it from server-side and uppercase it. And I'm not sure, that it can be a good decision from our side - to quote lower case user names from the connection page. This is the side case.

Please use quotes for your lower case user name in the Connection Page.

[2022-05-11 15:33] #16441 closed, assigned to E1izabeth, uslss

[2022-05-11 15:38] otbutz opened #16457 "Ubuntu 22.04 deprecates apt-key"
Running `apt update` on Ubuntu 22.04 yields the following warning:

[code]

The keyring should be placed in `/usr/share/keyrings/` and the list file updated with the `signed-by` option:

[code]

[2022-05-11 15:46] serge-rider commented on #16086
Linked issue: #8247

[2022-05-11 16:51] JGFMK commented on #16453
https://stackoverflow.com/questions/72198931/dbeaver-csv-to-table-import-how-to-do-scripted-without-import-wizard
A comment someone posted here gave me the info I needed. Haven't used PostreSQL for ages. But comment I posted under question meant I could solve problem. Happy for you to close this item now.

[2022-05-11 16:56] #16453 closed, assigned to nobody

[2022-05-11 17:40] uslss commented on #16415
verified

[2022-05-11 17:40] #16415 closed, assigned to serge-rider, uslss

[2022-05-11 17:43] Xylandor commented on #16289
@E1izabeth
I believe what @tianlongJ is requesting is that the filtering be more of a point-and-click, graphical type of functionality. In the attached video, I show an example of how NaviCat's filtering works. Personally, it's too slow for me to filter like this. I'm more of a query writer, but some people may not be able to write queries as well, so they need more of a graphical approach.

Video

[2022-05-11 18:38] eliezerjrs commented on #15906
hey Zabbah, I couldn't spot any difference between the two .sql :

-- this works

select *
from lala.names
where surname is "SMITH";

-- this does not works because it has a character with accent mark

select *
from lala.names
where surname is "SMITH";

I'm having the same problem loading .sql files into the script executive tool since versions 22.0, but the error message is slightly different:

"

[2022-05-11 18:47] Zabbah commented on #15906
Oh sorry, yes they are the same query 😂

Query working: select * from lala.employees where surname="Garcia"
Query not working: select * from lala.employees where surname="Gárcia"

Note the letter "a" with accent mark "á"

[2022-05-11 20:13] RobinFrcd commented on #16164
I was running PSQL 14.2, but I didn't manage to reproduce the issue.
I remember I was messing with the schema from directly from the PSQL cli and the refresh button on DBeaver didn't work correctly. Sadly, I can't provide anything else to reproduce it for now. So I guess we can close the issue :man_shrugging:

[2022-05-11 20:44] dyoung-ess opened #16461 "Extract command not working correctly"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro version 10.0.19043 build 19403
- DBeaver version: Version 22.0.4.202205011916
- Additional extensions: Using JDBC driver

#### Connection specification:
- Database name and version: Bigquery
- Driver name: com.simba.googlebigquery.jdbc42.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe th

[2022-05-11 20:46] ShadelessFox commented on #16164
I see. Thanks for the feedback.

[2022-05-11 20:46] #16164 closed, assigned to ShadelessFox

[2022-05-11 20:50] ShadelessFox commented on #16461
Hello @dyoung-ess,

I'm unable to reproduce your issue:

![image](https://user-images.githubusercontent.com/35821147/167945179-f7533246-c8b0-44da-a402-92e88167b491.png)

Can you please provide more information, such as the actual output?

[2022-05-11 21:22] E1izabeth commented on #16289
Thank you for explanation, @Xylandor!

[2022-05-11 21:25] dyoung-ess commented on #16461
I found my answer to the issue.  Since I'm using Bigquery it defaults time
to UTC and the JVM in the JDBC driver wasn't.  I had to set the driver
properties for TimezoneFallback to 1 instead of blank or 0.

On Wed, May 11, 2022 at 3:50 PM ShadelessFox ***@***.***>
wrote:

[2022-05-11 21:28] ShadelessFox commented on #16461
I assume that the issue can be closed now. I will convert it to a discussion.

[2022-05-11 21:28] #16461 closed, assigned to nobody

[2022-05-11 22:27] ggrant005 opened #16463 "Pause After Execute (ms) Input Box Not Saving Changes"
#### System information:
- Operating system (distribution) and version: **MacOS Monterey Version 12.3.1**
- DBeaver version: **22.0.4.202205011839**
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Changes to the `Pause After Execute (ms)` value in Shell

[2022-05-11 22:37] ggrant005 commented on #16463
Reproduced: Modifying the Command string (removing a letter, etc.) and changing the Pause value will result in a saved change to the Pause value

[2022-05-12 00:06] JGFMK commented on #14237
I tracked it down as an embedded double quote issue in data.
https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv
All double quotes in data have to be doubled " -> ""
There's some other edge cases
If it starts or ends you triple quote
To embed a single double quote as data in a column use four consecutive double quotes.
I had lots of cases of this. In my case it was e

[2022-05-12 01:42] JerryJian commented on #16441
@E1izabeth Thanks very much.

[2022-05-12 02:29] LjzMorn commented on #16419
Hi @ShadelessFox ,
Before report this issue,I tried it .
But it didn't help.
↓
![image](https://user-images.githubusercontent.com/104968827/167979582-d70950f0-67be-4c19-ba9a-76c7822ed44d.png)
![image](https://user-images.githubusercontent.com/104968827/167979939-aec97b89-e93b-4c32-b12a-849ac827ccc6.png)
![image](https://user-images.githubusercontent.com/104968827/167980015-46eb6a47-38ac-49b6-a595-

[2022-05-12 04:33] quocvan1311 commented on #15038
Hi @Haikson , I still got this issue on DBeaver 22.0.4 when try to open the json field in external editor.
It throws this error
[code]
I also assigned the editor for *.octet-stream type in File Association setting

[2022-05-12 06:30] sschneider-ihre-pvs commented on #1017
Just to revive this again, I stumbled on the ERD notation also a few times now.

[2022-05-12 08:43] uslss commented on #16247
@foobar13372 fix is already available in [EA version](https://dbeaver.io/files/ea/). Could you check if it is ok?

[2022-05-12 09:23] MiiChielHD opened #16464 "Close all button"
I have too many table windows open

I woulde like to close them all once

I am able to clicking them one by one, or mashing ctrl-w;

[2022-05-12 09:24] Omkarcgd01 commented on #1687
![image](https://user-images.githubusercontent.com/105201412/168037929-c63847a1-dda4-436d-82b9-2fa32969edaa.png)
i got this error while connecting Bigquery with Dbeaver

[2022-05-12 10:03] Destrolaric commented on #16444
@nodule442  Hi, EE edition currently supports AWS Secrets Manager for RDS databases. It can be used to provide credentials for the db.

[2022-05-12 11:24] ShadelessFox commented on #16419
Thanks for the bug report.

[2022-05-12 11:59] ShadelessFox commented on #16464
Hello @MiiChielHD,

Are you talking about editor tabs or result tabs?

[2022-05-12 12:04] MiiChielHD commented on #16464
![afbeelding](https://user-images.githubusercontent.com/105423552/168070556-e138eb1c-3d2a-4ea7-9a58-1d946dab0ef3.png)
I mean the tabs that correspond to a table, a query etc,

[2022-05-12 12:44] ShadelessFox commented on #16464
I'm a little bit confused since there's such an action:

![java_FCMNtBQ5Jp](https://user-images.githubusercontent.com/35821147/168077463-314c7d2e-de70-408d-bb1b-6158606d34c7.png)

[2022-05-12 12:46] MiiChielHD commented on #16464
Ah! I was searching for it at File, Close... Okay then you can close the this topic :)

[2022-05-12 12:46] #16464 closed, assigned to nobody

[2022-05-12 12:48] osmar-mobilezone commented on #8508
It works.. thanks!!!!

[2022-05-12 13:04] manguicho commented on #16371
Reseting perspective solved the issue. I had to somehow hide the error popup because it is very invasive for me.

[2022-05-12 13:07] ShadelessFox commented on #16371
I see. If so, I'll close this issue for now.

[2022-05-12 13:07] #16371 closed, assigned to nobody

[2022-05-12 13:16] KrzysztofDusko commented on #14326
_Please use quotes for your lower case user name in the Connection Page._
login is quoted .. without it I wont be able to connect to database at all..
![image](https://user-images.githubusercontent.com/69449360/168083451-c76dd646-4c5e-4171-9082-60d5f10c684a.png)

and error (quotes disappeared + uppercase)
Error setting default catalog/schema for new connection
_Reason:
SQL Error [1114] [08001]: LD

[2022-05-12 13:42] otbutz commented on #16457
This would also follow the Debian guidelines: https://wiki.debian.org/DebianRepository/UseThirdParty#OpenPGP_Key_distribution

[2022-05-12 15:37] NicolasM-Forsk opened #16469 "After opening dashboard, context menu is buggy"
#### System information:
- Windows 10
- DBeaver version: Version 22.0.4.202205011839

When I do right click on a server or database, then > tools > Open Dashboard, subsequent right clicks on the same server or database display an incomplete context menu.
This is particularly true for SQL Server where the context menu contains "create null" after this manipulation

![image](https://user-images.gith

[2022-05-12 16:32] LxFx commented on #11531
I can confirm negora's story. Worked in the previous release, but broken again in 22.0.4. Able to make it work again using the User Properties solution higher up.

[2022-05-12 16:57] uslss commented on #16086
verified

[2022-05-12 16:57] #16086 closed, assigned to serge-rider, uslss

[2022-05-12 17:55] steepdescend opened #16471 "Can't select active catalog/schema in SQL editor - SQL Server"
#### System information:
- Operating system (distribution) and version: Win 10 Enterprise
- DBeaver version 22.0.4
- Additional extensions

#### Connection specification:
- Database name and version: MS SQL Server
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: Named pipe

#### Describe the problem you're observing:
I have the same problem at work when I am connected to MS SQL Se

[2022-05-12 17:57] schmitzkr opened #16472 "Some parts of UI become light when changing default accent colour in Gnome"
#### System information:
- Ubuntu 22.04
- dbeaver CE 22.0.4

#### Describe the problem you're observing:
I noticed when changing the accent colour in gnome, that the title bar and some other parts of the dbeaver dark theme become light or fonts are not rendered crisply.

#### Steps to reproduce, if exist:
If I change the default appearance in gnome the title bar in dbeaver loses its dark theme col

[2022-05-12 18:41] zvlad opened #16473 "Add Ukrainian language"
Add the Ukrainian language! I can help with translation.

[2022-05-12 20:09] belspirit commented on #6818
`CTRL + Left Click` to deselect the current folder or database in the tree and click `New Folder` button.

[2022-05-12 20:30] uslss commented on #16471
@steepdescend unfortunately, cannot reproduce it. Could you provide some video or screenshots of the issue?

[2022-05-12 20:37] uslss commented on #16469
thanks for the report

[2022-05-13 03:10] skotos commented on #16247
Unfortunately I'm still receiving "Can't initialize tunnel -> Cannot establish tunnel -> Exhausted available authentication methods"

Confirming that this is happening with the following:
- dbeaver - 22.0.5
- org.jkiss.dbeaver.net.ssh.sshj - 1.0.103.202205120849
- org.jkiss.bundle.sshj - 0.33.0.

This error does not occur if I add the following lines to the servers sshd_config (i.e. re-allow depre

[2022-05-13 06:40] ShisanXing opened #16474 "新建表新建列的注释会莫名其妙小时"
新建表新建列时，如果不点击”更多“按钮，填写的注释在点击其他地方时会丢失，这个问题存在N年了，就没有想过要解决？？？？
![image](https://user-images.githubusercontent.com/18689511/168225871-6b5e170e-f923-4ebe-9bc7-ba004b6e7b4c.png)

[2022-05-13 06:43] ShisanXing opened #16475 "网络不稳定（不确定一定是）时，数据库下的表展示不出来"
网络不稳定时百分百复现，网络稳定时有几率复现，经常性的表没了，这个问题也存在了N年，就不想着好好修复下？难用的要死
![image](https://user-images.githubusercontent.com/18689511/168226293-0a88ced6-61a8-4729-9313-343bcd6283fd.png)

[2022-05-13 06:53] serge-rider commented on #16349
Please test thee fix in the Early Access version (https://dbeaver.io/files/ea) or wait 22.0.5 release.

[2022-05-13 06:53] #16349 closed, assigned to serge-rider

[2022-05-13 06:55] ShadelessFox commented on #15334
Implemented:

![image](https://user-images.githubusercontent.com/35821147/165987225-f5c27a8a-dafd-461c-875b-08870568a3bb.png)

[2022-05-13 06:55] #15334 closed, assigned to uslss, ShadelessFox

[2022-05-13 07:16] zolovey commented on #8647
@LonwoLonwo can't you just convert everything to same case? i mean typed value and metadata when trying to find suggestions for autocomplete?

[2022-05-13 07:50] pkExec opened #16476 "Cannot create new columns via gui"
#### System information:
- Operating system (distribution) and version: **Windows 10**
- DBeaver version: **22.0.4.202205011839**
- Additional extensions: **No**

#### Connection specification:
- Database name and version:
**PostgreSQL 12.9 (Ubuntu 12.9-0ubuntu0.20.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0, 64-bit**
- Driver name: **postgres-jdbc**
- Do you

[2022-05-13 07:53] pkExec commented on #16476
Workaround: Restart dbeaver and try again.

Maybe it's the same as [this bug? ](https://github.com/dbeaver/dbeaver/issues/14626)

[2022-05-13 08:44] Imobach commented on #12218
I have the same error on 22.0.0 and 22.0.5:

[code]

[2022-05-13 09:01] csiberlin opened #16477 "Connection Properties in inconsistent state after cancelling an operation from within the "edit connection" dialog"
I found a bug:

1.	Create a read-only-connection
2.	Open SQL-Editor and type something.
3.	Edit the connection, and uncheck the read-only checkbox
4.	When the question pops up, click “Cancel”
![image](https://user-images.githubusercontent.com/5721129/168249498-65f7a545-df4f-4414-8b11-bceba7e52cc6.png)
5.	The connection is still read-only. However, if you open the connection tab using “edit connect

[2022-05-13 09:18] rmtsrc commented on #1774
Looking at a fresh install, it seems there are 2 independent settings for word wrap:

1 Sets word wrap for the "Value" panel when inspecting rows etc.

[Workspace location](https://github.com/dbeaver/dbeaver/wiki/Workspace-Location): `DBeaverData/workspace6/.metadata/.plugins/org.jkiss.dbeaver.ui.editors.data/dialog_settings.xml`

[code]

2 Sets word wrap for the Script/editor panel:

Add the foll

[2022-05-13 09:26] ShadelessFox commented on #16247
Hello @skotos,

It's sad to hear that.

I'm a little bit confused now. Is the issue actual for `ssh-ed25519` or `ssh-rsa`?

[2022-05-13 09:34] riednyko commented on #16146
Hi @sochotnicky. You can set property `-Djavax.net.ssl.truststore` with your custom path to your cert in **config.ini** file if **dbeaver.ini** is read-only. [This documentation](https://github.com/dbeaver/dbeaver/wiki/How-to-set-variable-if-dbeaver.ini-is-read-only) will help you.

[2022-05-13 09:46] ShadelessFox commented on #16476
Hello @pkExec,

Thanks for the bug report.

I was able to find the steps required to reproduce the issue:
1. Connect to a database that supports tools
2. From the `Database` menu, open any tool, such as session manager, lock manager, etc.
3. Expand any table in the navigator and try to create a new column by clicking on the `Columns` folder

[2022-05-13 09:48] andriimazur93 commented on #4630
as on March 2022, DBeaver 22.0.4, I can confirm that deleting -n xx from the path in the shortcut solves the issue

[2022-05-13 09:57] pkExec commented on #16476
@ShadelessFox, I cannot reproduce it consistently either. It may have to do with the time the editor remains idle. I had left it open overnight, with locked PC. I resumed this morning, to encounter this error. I believe the same is mentioned in #14626

[2022-05-13 09:58] moontide opened #16479 "Add "Digit group size" option for numbers data formatting"
**Is your feature request related to a problem? Please describe.**
None, but it can provide better internationalization support.

**Describe the solution you'd like**
Add an input component "`Digit group size`" when "Use Grouping" is checked:
A drop down list box, which contains at least two options:
 * 3
 * 4

**Describe alternatives you've considered**
Or, a combo box, which contains least two o

[2022-05-13 10:00] ShadelessFox commented on #16476
Sorry, I meant that I **was able** to reproduce it. Please look at the provided steps.

[2022-05-13 11:16] E1izabeth commented on #16477
Thank you for bug report. It happens because we can't change connection type without reconnect, but checkbox state should be synchronized with the actual connection state.

[2022-05-13 11:22] #16029 closed, assigned to uslss, ShadelessFox

[2022-05-13 11:32] HTML-Jeday commented on #16473
Add Ukrainian language!

[2022-05-13 11:53] codeprowess commented on #16473
Commenting to cast my support.

[2022-05-13 11:56] mcbeelen opened #16480 "'Read results metadata' takes a long time (MySQL)"
#### System information:
- OS: macOS Monteray (v12.3.1)
- DBeaver version: 22.0.4 CE
- Additional extensions: None

#### Connection specification:
- Database name and version: MySQL 8.0.13-4
- Driver name: MySQL (id: mysql8; mysql-connector-java:8.0.17)
- Do you use tunnels or proxies (SSH, SOCKS, etc): No

#### Describe the problem you're observing:
When performing a query, where the resultset is

[2022-05-13 11:58] E1izabeth commented on #16474
Hi, @ShisanXing! Thank you for bug report.
The issue is reproducible if to click on another area after writing text to the text area for Comment instead of pressing Enter. This behavior differs from another textboxes, for example, changes are saved after writing text to text area for Default and clicking to other area.

[2022-05-13 12:10] E1izabeth commented on #16475
Hi, @ShisanXing! Which DBeaver version do you use?

[2022-05-13 12:15] LonwoLonwo commented on #16474
Closing as duplicate of https://github.com/dbeaver/dbeaver/issues/15620

[2022-05-13 12:15] #16474 closed, assigned to nobody

[2022-05-13 12:24] uslss commented on #16473
Thanks for the suggestion! We are always glad to have new contributors. You can find the localization guide [here](https://github.com/dbeaver/dbeaver/wiki/Localization).

[2022-05-13 14:37] FredFrederik commented on #14681
can confirm this worked

[2022-05-13 16:45] mystiquewolf commented on #6581
Also experience this on KDE 5.24.5 with Wayland and 125% display scale. XWayland works OK.

[2022-05-13 17:39] sushruta19 opened #16481 "Auto-completion not working properly"
#### System information:
- Operating system (distribution) and version : Ubuntu 20.04.4 LTS
- DBeaver version : 22.0.4

#### Connection specification:
- Database name and version : mysql Version 8.0.29-0ubuntu0.20.04.3 for Linux on x86_64 ((Ubuntu))
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : NO

#### Describe the problem you're observing:
![issue](https://user-images.githubusercontent.co

[2022-05-13 18:12] nodule442 commented on #16444
@Destrolaric thanks for that, I know about secrets manager in EE, but we have multiple (hundreds) of accounts, and its not quite flexible enough for our use-case...

Putting AWS to one side, Is there a way I can retrieve PGPASSWORD from a (sourced?) shell script and use it to authenticate during a connection?  I can't see a good example of this sort of use of the shell script functionality anywher

[2022-05-13 21:04] jet2 opened #16482 "SQLCipher "PRAGMA rekey=" completely blocks access to database"
#### System information:
- OS Windows 10 Home 21H1
- DBeaver version 22.0.4
- Additional extensions NO

#### Connection specification:
- Database SQLite
- Driver SQLCipher sqlite-jdbc-3.38.1.jar OR sqlite-jdbc-3.34.1.jar
https://github.com/Willena/sqlite-jdbc-crypt/releases?page=2
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Enabling encryption

[2022-05-13 21:48] steepdescend commented on #16471
Here's a screenshot of what I see. Even when I selected the database, it showed only N/A. I can query the database, but have to use fully qualified reference.

![20220513_144530](https://user-images.githubusercontent.com/45262395/168393652-f6f64af9-aea1-4018-b569-1d2709f386f7.png)

[2022-05-14 02:09] kit-johnson opened #16483 "Configuration option - don't automatically open problems view"
#### System information:
- Operating system Windows 10
- DBeaver 22.0.4

#### Describe the problem you're observing:

When I make a syntax error in the SQL editor and run the query, it automatically opens a "Problems" view, every time. I don't want to see this view as I can already see the problem in the "Results" view. I find it annoying to have to manually close the problems view each time when

[2022-05-14 06:47] 41v4 commented on #14749
I am having the same issue.
Yesterday everything was working fine, but today I can't connect to the database.
OS: Ubuntu 20.04
DBeaver: 22.0.4
[dbeaver.log](https://github.com/dbeaver/dbeaver/files/8692390/dbeaver.log)

[2022-05-14 14:53] rmpbklyn opened #16484 "null inserted between the character values?"
when import data , in sqlite there are null characters, unable to use like in query. why were null inserted between the character values?

#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the prob

[2022-05-15 03:30] ShadelessFox commented on #16484
Hello @rmpbklyn,

Unfortunately, It's not clear what you are talking about.

Can you please provide footage showing the issue? Thanks.

[2022-05-15 03:32] ShadelessFox commented on #16481
Hello @sushruta19,

This is expected behavior. The called initials are alias of the table.

Alias autocompletion can be configured in the preferences:

![image](https://user-images.githubusercontent.com/35821147/168455940-723a099e-a4f8-4fee-b7ff-551e4d0fef5f.png)

[2022-05-15 03:32] #16481 closed, assigned to nobody

[2022-05-15 03:34] ShadelessFox commented on #16483
Hello @oldmankit,

Thanks for the report.

Please track issue progress in #15992.

[2022-05-15 03:34] #16483 closed, assigned to nobody

[2022-05-15 12:09] adrianbienias commented on #12218
Same here. I wanted to use SSH tunneling but encountered an error. I found that I had to install SSHJ, but got another error while installing it (`dependency error on org.bouncycastle.bcpkix`) ...

[code]

[2022-05-15 16:58] elvirag commented on #4811
I copied the mysqldump file from the sql, after installing mysql-client with brew install mysql-client:
```sudo cp /opt/homebrew/Cellar/mysql/$(echo `mysql --version` | egrep -o "(\d+\.\d+\.\d+)")/bin/mysqldump /usr/local/var/mysql/virkdb```

[2022-05-15 16:59] elvirag commented on #4811
you can also use your path to the DBeaver drivers, of course

[2022-05-15 18:10] E1izabeth commented on #16043
Linked PR: https://github.com/dbeaver/dbeaver-ee/pull/1632

[2022-05-15 20:17] sochotnicky commented on #16146
I suppose that should work.I missed the docs - I think it might be a nice addition to tweak/add to https://github.com/dbeaver/dbeaver/wiki/Importing-CA-Certificates-into-DBeaver and cross link the other wiki page too?

[2022-05-16 06:52] LonwoLonwo commented on #16471
Can you please check the error logs? You can find the instruction here: https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-05-16 09:20] #16129 closed, assigned to uslss, ShadelessFox

[2022-05-16 09:20] #16476 closed, assigned to uslss, ShadelessFox

[2022-05-16 09:21] #15992 closed, assigned to ShadelessFox

[2022-05-16 09:23] uslss commented on #15755
verified

[2022-05-16 09:33] ShadelessFox commented on #16129
Implemented:

![image](https://user-images.githubusercontent.com/35821147/168122507-99d0a6c6-b95c-47c1-8adf-914f38e58a6c.png)

A small lamp-like overlay is shown on drivers matched by a non-genuine URL. Somewhat useless, but looks cool.

[2022-05-16 09:49] TA961215 commented on #16475
@E1izabeth  hello,我也遇到相同的情况，DBeaver版本22.0.0.202203131528，，，
![image](https://user-images.githubusercontent.com/48305781/168566290-309bd77b-e38a-400d-9c4a-31dca837562d.png)

[2022-05-16 10:36] sakka6868 opened #16487 "expect postgres text type to display string value"
When I use postgres to save text type，as the picture shows
![image](https://user-images.githubusercontent.com/23228684/168574728-a0abff07-61d6-467b-b02e-aa70893aa934.png)
my data type
![image](https://user-images.githubusercontent.com/23228684/168574868-2fbe4e9d-708b-4bcc-8cf2-1c324ba2c8ab.png)
the value i inserted
![image](https://user-images.githubusercontent.com/23228684/168574975-5ec52ff3-ee42

[2022-05-16 10:37] rmpbklyn commented on #16484
when a value in a column should be 'Mary Jane' its displayed 'M a r y J a n e'  which makes it difficult to use the like command to filter. occurs for all text columns, not datetime or numbers. the export also will have  Mnullr.......  eg look at symbols in text editor

[2022-05-16 10:56] ShadelessFox commented on #16484
It's still unclear what the issue is.

Does it occur when importing data into a table from an external file?

[2022-05-16 11:52] serge-rider commented on #11097
https://github.com/dbeaver/dbeaver-ee/pull/1635

[2022-05-16 12:41] serge-rider commented on #16402
Please test that default behavior is the same as before 22.04.

[2022-05-16 13:02] thanh-guong commented on #2618
How can I export all the blobs in a table, and export all the files for each table row?

[2022-05-16 13:33] #15755 closed, assigned to Destrolaric, uslss

[2022-05-16 13:35] E1izabeth commented on #2618
@thanh-guong, I guess you can use data export. To export blobs as files you can choose option 'Save to files'. To export part of the data from the table you can use 'Selected columns only' and/or 'Selected rows only'.
![image](https://user-images.githubusercontent.com/28875055/168604450-1fcd52b0-0a47-4262-8db3-552e91ea8d69.png)

[2022-05-16 13:48] itphonim opened #16491 "Having Script tabs underneath Project tabs ?"
Don't know if the request has already been formulated,
but would it be possible to have the scripts open under an above tab corresponding to the project you're working in...

for, instance, the black tab would be active, and then seeing only the scripts in that project
image
![image](https://user-images.githubusercontent.com/82998099/168607431-4a2d4578-b321-4f2d-802f-cc51ba715c4e.png)

or eventual

[2022-05-16 14:48] Destrolaric opened #16493 "New routing method polishing"
In the scope of the #15755 new method of erd path creation was added it still contains some moments that need to be improved:
1. Path created sometimes changes after a refresh
2. Line created on the border of the diagram sometimes glitches and start to repeatedly switch positions
3. Performance slows significantly if the entity  is dragged outside of the diagram boundary
4. Path manipulation may n

[2022-05-16 15:00] thanh-guong commented on #2618
Thanks for answering @E1izabeth, but I didn't explain myself well. I have a column for filenames, and a column with blob. I need to export the blobs in files with the corresponding filename.

[2022-05-16 15:04] BartBaddeley commented on #8584
Same problem. Updated to latest version DBeaver 22.0.4 and still getting the greyed out export results button.
On 3rd attempt after invalidating connection and ignoring errors it finally exported my results.

[2022-05-16 15:05] E1izabeth commented on #2618
@thanh-guong
There is no such option for now

[2022-05-16 15:06] thanh-guong commented on #2618
Thank you so much for answering me!

[2022-05-16 20:30] Xylandor opened #16498 "Project Window: Separate Saved Filters Based on Database Object Type"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I work mostly from the Projects window and use database object filtering quite a bit. I have many saved filters between the different types of database objects (Database, Tables, Views, Procedures, etc.). The current problem is that the list of all saved filters are shown regardless of whic

[2022-05-16 22:49] tomsafekeep opened #16499 "When using SSH Tunnel, password retrieval from .pgpass looks for 127.0.0.1 instead of the DB host name"
#### System information:
- Operating system (distribution) and version Mac OS X 12.2
- DBeaver version 22.0.4
- Additional extensions Remote System Explorer

#### Connection specification:
- Database name and version Postgresql 14
- Driver name Standard
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:
When using "PostgreSQL PgPass" authentication

[2022-05-16 23:00] rmpbklyn commented on #16484
yes during import

[2022-05-17 00:36] skotos commented on #16247
At the moment I'm using rsa-sha2-512. Using normal ssh command from the command line I get:

but using dbeaver:

For now, I'll key up an ed25519 for dbeaver work as that seems to work ok.

[2022-05-17 01:59] Xylandor commented on #16484
@rmpbklyn

Could you provide us the OS name and version you are running, as well as the DBeaver version?

Also, could you provide a sample of the type of external file you are using for your source data, that includes test values that will produce the same results you are getting? I want to use it to see if I can reproduce the problem.

[2022-05-17 06:45] abkrim commented on #7640
This works, but that is a very bad practice.

The real solution is to fix a permission problem (bug) that the application has.

Anyway, thanks for the tip, which is very common in other snap-based apps or cordova apps and the like, which requires the use of ssh keys.

[2022-05-17 06:57] #11097 closed, assigned to uslss, LonwoLonwo

[2022-05-17 10:13] ShadelessFox commented on #16247
Using the `rsa-sha2-512` key, I was able to authenticate.

Unfortunately, I don't have a lot of experience with SSH. Therefore, I'm unable to help you, sorry.

[2022-05-17 10:14] ShadelessFox commented on #16247
@foobar13372,

Could you please download the latest EA version and see if the issue is gone there?

[2022-05-17 12:09] spgit-hub commented on #9455
Edit: **Solved!** I needed to change the Binary format from String to Hex.

I have a similar problem but cannot find the relevant font to change. I have changed the suggested fonts above without any luck.

![image](https://user-images.githubusercontent.com/68716096/168807308-9369f391-14fd-405c-a6b7-059da56f7d53.png)

[2022-05-17 12:12] skotos commented on #16247
Not sure the EA version had changed. (Still dated 2022-05-12 11:28:05) Re-downloaded it just in case and still the same issue with rsa-sha2-512 key.

A bit of background.  This is happening with openssh-8.8 server having the following PubkeyAccepted Algos (`sshd -T`):

As soon as rsa-sha is added to the algos (see comment on 13 May), it succeeds, even though the pubkey is rsa-sha2-512. I think SSH

[2022-05-17 12:28] flambchap opened #16505 "Rename EnterpriseDB to EDB"
EDB (formerly EnterpriseDB) has changed its name and logo. We need to reflect on these changes.

We also have a broken driver description, I'll fix it right here with other changes.

![image](https://user-images.githubusercontent.com/26031301/168810840-1fc766a2-c5fa-4989-9228-3e125b9d01fc.png)

[2022-05-17 12:39] flambchap commented on #16505
It turns out that the description issue is present in commercial products only.

[2022-05-17 13:34] RushiJeavio opened #16506 "Multiple resultset name issue"
[code]
It opens 2 resultset tabs with same name. I place NAME above CTE also but doesn't help.

[2022-05-17 13:59] #16078 closed, assigned to Destrolaric, uslss

[2022-05-17 14:01] #16402 closed, assigned to E1izabeth, uslss

[2022-05-17 14:04] #16043 closed, assigned to E1izabeth, uslss

[2022-05-17 14:27] #16335 closed, assigned to nobody

[2022-05-17 16:04] PaulBeauregard-CoT commented on #9881
I am seeing the same problem, can this be re-opened?

[2022-05-17 16:07] ShadelessFox commented on #9881
Hello @PaulBeauregard-CoT,

We are aware of this issue. Please refer to https://github.com/dbeaver/dbeaver/issues/16402

[2022-05-17 16:33] ShadelessFox commented on #16479
Hello @moontide,

Thanks for the feature request.

[2022-05-17 16:36] steepdescend commented on #16471
Yes, here is the error log when I clicked on the Active catalog/schema. It is the only error in the log, no other type of error.

eclipse.buildId=unknown
java.version=11.0.12
java.vendor=Eclipse Foundation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en
Command-line arguments:  -os win32 -ws win32 -arch x86_64

org.jkiss.dbeaver.model
Error
Tue May 17 09:33:47 PDT 2022
USE statement i

[2022-05-17 17:44] serge-rider commented on #16367
Fixed in another issue

[2022-05-17 17:56] #16403 closed, assigned to uslss, LonwoLonwo

[2022-05-17 18:22] uslss commented on #16463
thanks for the report

[2022-05-17 18:49] glancep opened #16515 "Ctrl+Enter behavior change--no longer replaces currently selected resultrs tab"
#### System information:
- Operating system (distribution) and version **Windows 10**
- DBeaver version **22.0.4.202205011839**
- Additional extensions

#### Connection specification:
- Database name and version **MySQL 5**
- Driver name **MySQL 5**
- Do you use tunnels or proxies (SSH, SOCKS, etc)? **SSH**

#### Describe the problem you're observing:
After updating DBeaver, I noticed that when I

[2022-05-17 18:52] E1izabeth commented on #16515
Hi, @glancep! Thank you for report. Fix will be available in the next release.
Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/16402

[2022-05-17 18:52] #16515 closed, assigned to nobody

[2022-05-17 19:07] glancep commented on #16515
Awesome -- thanks for the very prompt response!  For what it's worth, I tried looking for an existing issue, but didn't catch it b/c it was already closed.  I love how active this project is!

[2022-05-17 20:00] TomJoyal opened #16516 "ERD Editor"
#### System information:
- Windows 10 Enterprise
- DBeaver 5.1.3

#### Connection specification:
- Oracle
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
ERD: I have a database with 1003 tables and generated the ERD. I then spent hours moving tables around to make it readable. Saved my work. And luckily printed it out. A few days later, opened the ER

[2022-05-17 20:24] LonwoLonwo commented on #16471
Can you please check the aswer from `SELECT SERVERPROPERTY('EngineEdition')`? Or what exactly MSSQL version do you use?

[2022-05-17 20:31] LonwoLonwo commented on #16475
Did you try to use refresh button on the schema/database/tables?

![2022-05-17 23_29_39-DBeaver Ultimate 22 0 5](https://user-images.githubusercontent.com/45152336/168904746-a4da9e9f-9261-4304-9d70-72c41dc8738c.png)

[2022-05-17 20:41] LonwoLonwo commented on #16480
Can you please check the [Query Manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager)?
With all checked properties https://github.com/dbeaver/dbeaver/wiki/Query-Manager#query-manager-properties

You can find the metadata query with the longest duration there.

[2022-05-17 20:59] mcbeelen commented on #16480
Running the query resulted in a whole list of Queries.

<img width="1605" alt="image" src="https://user-images.githubusercontent.com/1905153/168907678-eeba36c0-2dec-4004-80e3-7467e4d72082.png">

### Loading the Metadata

Several slow ones (+20sec) are all loading the CONSTRAINT

[code]

The really slow ones (+50sec) are importing keys:

[code]

### Actual SELECT
Fetching the data is performing nor

[2022-05-17 21:14] mcbeelen commented on #16480
### DBeaver SQL Log

[dbeaver_sql_20220517.log](https://github.com/dbeaver/dbeaver/files/8711576/dbeaver_sql_20220517.log)

### Additional observation

If I click 'Cancel' during the waiting on the loading of the Metadata, the result pane will be filled directly and correctly.

[2022-05-17 22:37] samaguire commented on #11531
Yip, confirming this as well. I'm using the above user property workaround as well.

[2022-05-18 05:12] travelliu opened #16517 "Added create oracle partition table feature"
**Is your feature request related to a problem? Please describe.**

Now the Gui cannot create partitioned tables, add, delete, split partitions and subpartitions

**Describe the solution you'd like**

1. The interface can create partitioned tables
2. Partitions/subpartitions can be added
3. Partitions/subpartitions can be deleted
4. Split partitions/subpartitions can be made

[2022-05-18 06:08] yoni-yad2 opened #16518 "Allow to execute script with output to file/one tab"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to generate a script from multiple commands' output but they open many tabs if I run them as a script.

**Describe the solution you'd like**
Add an Execute to file / single tab option

**Describe alternatives you've considered**
Running the commands in mysql shell.

[2022-05-18 06:43] redcatbear opened #16519 "[Exasol] Crash after displaying result of `ST_BOUNDARY` function"
#### System information:
- Kernel `Linux 5.15.0-30-generic #31-Ubuntu SMP Thu May 5 10:00:34 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
- Ubuntu 22.04
- DBeaver 22.0.4.202205011839 (installed as SNAP package)
- Additional extensions: none

#### Connection specification:
- Exasol 7.1.10
- Exasol JDBC driver 7.0.11 (default)
- Also tested with latest JDBC driver 7.1.10 (same result)
- Do you use tunne

[2022-05-18 06:45] #15766 closed, assigned to Destrolaric, uslss

[2022-05-18 06:45] #16479 closed, assigned to uslss, ShadelessFox

[2022-05-18 06:46] redcatbear commented on #16519
As a reference, I also executed another `SELECT` with a geospatial function, which worked as expected.

[code]

[2022-05-18 07:13] redcatbear commented on #16519
This function also causes a crash:
[code]

[2022-05-18 07:43] umitbuyuksahin commented on #16519
I followed the same steps with DBeaver 21.2.0.202108310918

I got the following the exception :

[2022-05-18 08:04] LonwoLonwo commented on #16519
I can't reproduce with EXASolution JDBC Driver 6.1.0. and 7.0.11 on Windows.
Maybe this is OS-specific issue...

![2022-05-18 10_49_29-DBeaver Ultimate 22 0 5 - _db2 dev dbeaver com_Script-157](https://user-images.githubusercontent.com/45152336/168989285-4ce61d8e-d313-4e4f-8faf-15f330119c73.png)

Can you provide a video of issue please?

[2022-05-18 08:05] webian opened #16520 "Active schema changes without notice after disconnection"
#### System information:
Windows 10 Enterprise 21H2
DBeaver 22.0.4.202205011839
No additional extensions

#### Connection specification:
10.1.48-MariaDB-0ubuntu0.18.04.1
MariaDB
SSH Tunnel

#### Describe the problem you're observing:
Active catalog/schema dropdown not updated after disconnection while in reality the SQL executed after disconnection are executed on the default DB. This could lead t

[2022-05-18 08:15] lastperson commented on #8800
Problem remains in 22.0.4.202205011839 installed via snap.

[2022-05-18 08:15] Destrolaric commented on #14647
@glw Hi, are this issue still active in the new versions of DBeaver?

[2022-05-18 08:39] henkterharmsel commented on #15290
I know this topic is closed, but I had the same problem. For me, the solution was to delete the %APPDATA%/Roaming/DBeaverData/workspace6/.metadata/.plugins folder. (Or I actually renamed it) The issue seemed to be in one of the plugins. On startup, it will redownload the plugins.

[2022-05-18 08:43] redcatbear commented on #16519
Screen capture (animated GIF) of the crash

![DBeaver_Issue_16519](https://user-images.githubusercontent.com/584162/168996987-1fbccb93-135b-4614-b033-eb151cabc1ee.gif)

[2022-05-18 08:46] bricsi22 commented on #1708
Thanks for adding the feature it's really useful :)

[2022-05-18 08:57] LonwoLonwo commented on #16517
It will be not so easy. But we can try.

Thanks for the suggestion @travelliu

[2022-05-18 08:58] LonwoLonwo commented on #16517
Some additional links: https://docs.oracle.com/database/121/VLDBG/GUID-0E7205A9-5D01-4642-B7E9-02406200493E.htm
https://docs.oracle.com/en/database/oracle/oracle-database/12.2/vldbg/evolve-nopartition-table.html#GUID-5FDB7D59-DD05-40E4-8AB4-AF82EA0D0FE5

[2022-05-18 10:18] Matvey16 commented on #16516
Hello @TomJoyal Have you seen if the button "Keep layouot" was enabled after you saved your diagram? I'm not sure it worked in 5.1.3 version the same way it works now

[2022-05-18 11:52] Destrolaric commented on #16449
@johanneswerner, Hi, are you having trouble installing any other plugin?

[2022-05-18 12:16] Matvey16 commented on #16367
Relation ignores the collision if it happens at one of the corners, but works if the line goes through another table.
![dbeaver_D3jYlFuSnp](https://user-images.githubusercontent.com/82543000/169036602-109e0924-1ca6-4c8b-b596-59f15fe5b75d.gif)

[2022-05-18 12:50] Destrolaric commented on #16472
@schmitzkr, Hi, unfortunately, this is an Eclipse issue, for theming to property work Gnome and DBeaver need to have the same type of theme configured.

[2022-05-18 12:54] johanneswerner commented on #16449
I tried a few plugins and all fail with - below two examples for the error messages:

[code]

[code]

I hope this helps - if you require any additional information, please let me know.

[2022-05-18 13:27] jetzerb opened #16521 "Text Record Presentation Header Includes Space For Row Number Column"
#### System information:
- DBeaver version 22.0.4.202205011839

#### Describe the problem you're observing:
"Record" view text presentation header incorrectly includes space for row number.

#### Steps to reproduce, if exist:
Window >> Preferences >> Editors >> Data Editor >> Appearance >> Plain text >> Check the "Show line numbers" box.

Run this script and switch to Text mode (`` CTRL+` ``):
[co

[2022-05-18 13:31] ShadelessFox commented on #16455
Hello @palytoxin,

Thanks for the bug report.

Which distribution of DBeaver are you using?

Note: It looks like a duplicate of #12422.

[2022-05-18 13:34] jethrobarroso commented on #7976
This is still an issue on the latest macos and dbeaver versions. But ^ worked like a charm! Thanks @burtonboucher!
Got mysql-client installed through homebrew which puts it in `/opt/homebrew/opt/mysql-client/bin`, but the client selecter in the app can't see these directories.

[2022-05-18 13:34] ShadelessFox commented on #16482
Hello @jet2,

SQLite Crypt has native support in DBeaver Enterprise. Can you please verify that the issue is either present or gone there?

https://dbeaver.com/files/ea/

[2022-05-18 13:37] ShadelessFox commented on #16498
Hello @Xylandor,

Thanks for the feature request.

We will add a checkbox to show only matching filters for the given object. Unfortunately, it will not work for filters created before this change.

[2022-05-18 13:38] jsemrovdlabs commented on #16499
I've found another issue when connecting to a database over an ssh tunnel. If connection to the database is using TLS, DBeaver checks if there exists record "127.0.0.1" in SAN section of the TLS certificate, instead of database host name. I'm using Neo4j database in this case, but I think the problem might occur on all types of databases, though I  am not sure if it is not just neo4j's driver issu

[2022-05-18 13:39] ShadelessFox commented on #16506
Hello @RushiJeavio,

I guess you selected everything and hit <kbd>Ctrl+Enter</kbd>. Have you tried running your SQL script using the <kbd>Alt+X</kbd> shortcut?

[2022-05-18 13:40] Destrolaric commented on #16499
@jsemrovdlabs Hi, I think this one looks different and I think a new issue needs to be opened.

[2022-05-18 13:41] ShadelessFox commented on #16518
Hello @yoni-yad2,

Thanks for the feature request.

Closing as a duplicate of #667, please track the issue progress there.

[2022-05-18 13:41] #16518 closed, assigned to nobody

[2022-05-18 13:41] jsemrovdlabs commented on #16499
@Destrolaric Ok, I will  open another issue.

[2022-05-18 13:43] ShadelessFox commented on #16491
Hello @itphonim,

You can open the `Scripts` folder as a separate tab:

![image](https://user-images.githubusercontent.com/35821147/169053194-945788c8-4187-4e8d-8c2b-0fbe173530be.png)

Does it solve your issue?

[2022-05-18 13:46] RushiJeavio commented on #16506
OH YES!! You are right. Alt+X is working fine.

[2022-05-18 13:46] #16506 closed, assigned to nobody

[2022-05-18 13:55] leezm commented on #16440
Well, another question，when data editor datetime cloumn view as yyyy-mm-dd hh:mm:ss,export xls view is yyyy-mm-dd.I must set then format by my self,is there any other way?

[2022-05-18 14:14] #16505 closed, assigned to flambchap, uslss

[2022-05-18 14:27] itphonim commented on #16491
Hi,
thanks for the quick response,
though it doesn't solve the demand.

The Goal is to navigate between scripts and/or projects.
- working on script1 from project1 then want to switch to project2 and script1...
for now, except if you rename de script for something obvious, you don't really know which project the script is from.

for instance:
if you've got 5 tabs or more opened
script-1|script2|sc

[2022-05-18 14:34] ShadelessFox commented on #16491
You can specify any pattern, including the project name, for the tab names in the preferences:

![image](https://user-images.githubusercontent.com/35821147/169067205-c6e2128e-1022-47d3-9944-945869bda5fd.png)

[2022-05-18 14:36] travelliu commented on #16517
tks. It can be implemented in stages, first create a partition table

[2022-05-18 14:42] E1izabeth commented on #16289
@tianlongJ, does it cover your needs?

[2022-05-18 14:44] jsemrovdlabs opened #16522 "When using SSH Tunnel together with TLS connection, DBeaver checks for localhost in SAN records instead of database host"
#### Describe the problem you're observing:
I've found another issue when connecting to a database over an ssh tunnel. If connection to the database is using TLS, DBeaver checks if there exists record "127.0.0.1" in SAN section of the TLS certificate, instead of database host name. I'm using Neo4j database in this case, but I think the problem might occur on all types of databases, though I am not

[2022-05-18 14:47] E1izabeth commented on #16475
@TA961215, could you, please, send the log files? You can find instructions here: https://dbeaver.com/docs/wiki/Log-files/.
Thank you.

[2022-05-18 14:59] E1izabeth commented on #16487
Hi, @sakka6868! Thank you for report.
Is this method in the screenshot used to save the _"test"_ value to the `value2` column, or are you trying to insert the _source code_ from the screenshot into the value 2 column?

[2022-05-18 15:14] givihuda commented on #7308
Where did you get the MySQL 5.6 driver?

[2022-05-18 15:34] palytoxin commented on #16455
hi @ShadelessFox
I'm using Community Edition 22.0.4 (Version 22.0.4.202205011839)
It's downloaded from `https://dbeaver.io/download/`

but I'm using Manjaro 21.2.6 + i3wm not Gnome, gtk3:3.24.33-3.0 / gtk2 2.24.33-2

And it is a duplicate of https://github.com/dbeaver/dbeaver/issues/12422
sorry for I didn't find that issue

[2022-05-18 16:29] LonwoLonwo commented on #16521
Thanks for the bug report @jetzerb

[2022-05-18 16:58] jgalvan0815 opened #16524 "Issues when opening DBeaver"
Hello - I'm working with a user who is having issues trying to open DBeaver after a recent Windows update. I had the user gather the logs for me and have attached, any insight would be greatly appreciated.

[log.txt](https://github.com/dbeaver/dbeaver/files/8718449/log.txt)

[2022-05-18 17:50] iBenMoore commented on #4445
I wanted to throw out there that as a workaround some jdbc drivers can have HTTP proxy options themselves you can set for connections.  For example, for Snowflake I was able to work through a corp proxy by including in the "Driver Properties" of the connection new user properties useProxy, proxyHost, and proxyPort.

[2022-05-18 17:57] ShadelessFox commented on #16455
There are various types of distributions (RPM, DEB, Snap, Flatpack). Which one did you install?

[2022-05-18 21:10] E1izabeth commented on #16487
Have you tried to Refresh data editor?

[2022-05-19 02:46] azier33 commented on #15290
great!!

[2022-05-19 05:17] palytoxin commented on #16455
[Linux (zip)](https://dbeaver.io/files/dbeaver-ce-latest-linux.gtk.x86_64.tar.gz)

untar and exec it @ShadelessFox

[2022-05-19 06:39] bhumkong commented on #5203
Would be great to also have this option for open tables, to open one table in multiple tabs.

[2022-05-19 07:03] cassis163 commented on #14511
It looks as if DBeaver is having spasms

[2022-05-19 07:48] elonmusk408 opened #16525 "can't load driver class 'com.ibm.db2.jcc.DB2Driver' in DBeaver"
Can't create driver instance
  Error creating driver 'DB2 z/OS' instance.
Most likely required jar files are missing.
You should configure jars in driver settings.

Reason: can't load driver class 'com.ibm.db2.jcc.DB2Driver'
  Error creating driver 'DB2 z/OS' instance.
Most likely required jar files are missing.
You should configure jars in driver settings.

Reason: can't load driver class 'com.ib

[2022-05-19 08:13] s-kocher commented on #588
To complete that topic : SQL Developer has different password cipherings systems depending of the version.
- v3.x : passwords in connections.xml only
- v4 to v18.1 :  passwords in connections.xml + use of db.system.id in product-preferences.xml
- \>=v18.3 : passwords in connections.json + use of db.system.id in product-preferences.xml

Example of values :
- v3 password like 054D4844D8549C0DB78EE1A

[2022-05-19 08:49] Cisnocxie opened #16526 "[SQL Server] select sequence error"
#### System information:
- Operating system (distribution) and version: windows 10 (19044.1645)
- DBeaver version: 22.0.4
- Additional extensions

#### Connection specification:
- Database name and version: sql server
- Driver name: Microsoft JDBC Driver for SQL Server (MSSQL)
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
select sequence with th

[2022-05-19 09:01] mugg1e opened #16527 "Can't do write operation, but can do read operation. When i do write operation, dbeaver happens "SQL error [08003]: No operations allowed after connection closed”."
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2022-05-19 09:01] mugg1e opened #16528 "Can't do write operation, but can do read operation. When i do write operation, dbeaver happens "SQL error [08003]: No operations allowed after connection closed”."

[2022-05-19 09:02] #16527 closed, assigned to nobody

[2022-05-19 09:11] Cisnocxie commented on #16526
sql server version is 2019

[2022-05-19 10:23] Matvey16 opened #16532 "Extensive items in perspective customization"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.5

#### Steps to reproduce, if exist:
1. Open perspective customization
2. Disable both Search items in menu visibility tabs and save changes
3. Open customization again and enable only one Search

**Expected:** Search menu works
**Actual:** Clicking on search doesn't do anything

![dbeaver_OWaoOAS3

[2022-05-19 10:34] s-kocher opened #16533 "Oracle connexion create / edit - Could not initialize class com.sun.jna.Native"
#### System information:
- Operating system (distribution) and version : Windows 10 20H2 (19042.1645)
- DBeaver version : 22.0.4.202205011839 (Community)
- Additional extensions : N/A

Internal DBeaver java is used :

#### Connection specification:
- Database name and version : Oracle
- Driver name : Oracle (oracle.jdbc.OracleDriver - oracle_thin - 12.2.0.1)
- Do you use tunnels or proxies (SSH, S

[2022-05-19 11:33] josepaul1988 commented on #15153
I have a similar problem. When connecting to Big Query database using User-Based Authentication i have been prompted to obtain authorization code exactly "two times". Once i provide the auth code two times it will login successfully. It would also ask for new code for each SQL Query editor we open, but i have by-passed it by changing settings at "SQL Editor-->Open Separate Connection for each edit

[2022-05-19 11:34] josepaul1988 commented on #15153
Can you please try changing settings at "SQL Editor-->Open Separate Connection for each editor".

[2022-05-19 11:51] FakieKickflip commented on #6213
Have the same issue with the JDBC ODBC bridge driver from JRE7. All the varchar Columns are [NULL]. Any tips?

[2022-05-19 12:12] ShadelessFox commented on #14634
Project rename is broken for the active project.

[2022-05-19 12:21] itphonim commented on #16491
Hi, already tried,
unfortunatly the pattern doesn't take
![image](https://user-images.githubusercontent.com/82998099/169291621-a87f9722-e7f2-4538-8a73-a02050090c92.png)

I've already reported this on a previous issue
-> Add project name in editors' names #13117

[2022-05-19 12:26] LonwoLonwo commented on #16526
Hello @Cisnocxie

Please provide the error log. You can find instructions here: https://github.com/dbeaver/dbeaver/wiki/Log-files

Also please provide clear steps to error.

[2022-05-19 12:35] Destrolaric commented on #16491
@itphonim Hi, I see by your screenshot that you have version 22.0.4 projectName pattern was added in 22.0.5

[2022-05-19 13:17] ShadelessFox commented on #16061
Fixed in #16270

[2022-05-19 13:17] #16061 closed, assigned to ShadelessFox

[2022-05-19 14:05] RushiJeavio commented on #667
6 Years, Dbeaver

[2022-05-19 14:10] RushiJeavio opened #16538 "Print/Export "Query + ResultSet""
**Is your feature request related to a problem? Please describe.**
I am looking for a feature to print/export query+resultset. It is somewhat related to #667. I have written a script with proper comments. If I can get all the queries and resultset properly arranged in text format and exported to single file, my PDF report is ready.

**Describe the solution you'd like**
I want to export a colorful

[2022-05-19 14:10] jet2 commented on #16482
Hey! Sorry, I tried to switch to English 2 times, but the interface
remained in Russian. So, with the listed values of the driver keys,
everything works well: creation with a passphrase, pragma rekey. There are
no such problems that were encountered in the Community Edition. However,
the connection settings on the main tab are filled with incorrect values
when SQLCipher 4 is selected. The correct

[2022-05-19 14:19] plotn opened #16539 "Table editor: place ADD CONSTRAINT after ALTER COLUMN"
DBEaver: 22.0.4.202205011839
DB: Postgres

Scenario is:
- Open table editor, create table. Let field F1 was defined as varchar;
- Save;
- Add FK for F1 field, pointing at int8 field;
- Go back to fieldlist, change F1 type to int8;

Got following DDL:
ALTER TABLE jgproj.task_type_ref ADD CONSTRAINT task_type_ref_fk FOREIGN KEY (def_wf_id) REFERENCES jgproj.workflow_ref(id);
ALTER TABLE jgproj.task_

[2022-05-19 14:32] s-kocher commented on #16533
Similar to problem described here : https://github.com/dbeaver/dbeaver/issues/14882#issuecomment-1019847428

Edit : But not using MS Store version in my case : use  dbeaver-ce-22.0.4-x86_64-setup.exe to update existing installation

[2022-05-19 14:54] ShadelessFox commented on #10901
Implemented in https://github.com/dbeaver/dbeaver/issues/2407

[2022-05-19 14:54] #10901 closed, assigned to serge-rider

[2022-05-19 15:18] kseniiaguzeeva commented on #15922
_Case 3:_
**STR:**
Open MySQL sakila_edited.address and try to filter `POINT (30 60) `via the context menu (by `=`)

**Expected**: the row with the value is displayed.
**Actual result**: no rows are displayed.

[2022-05-19 15:29] Matvey16 opened #16540 "Renaming an active project removes it until restart"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.5

#### Steps to reproduce, if exist:
1. Rename an active project

**Expected:** Project can be seen in projects view
**Actual:** Project disappears from a view and can't be reached until restart

![dbeaver_kTqIvpr5Cj](https://user-images.githubusercontent.com/82543000/169336069-42920f59-9d0b-450d-b

[2022-05-19 15:45] uslss opened #16542 "No tab (Columns nor DDL) is chosen at table propreties tab when switch from Advanced to Simple View"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 22.0.5

#### Describe the problem you're observing:
No tab (Columns nor DDL) is chosen at table propreties tab when switch from Advanced to Simple View
![image](https://user-images.githubusercontent.com/31996417/169340494-7ada7274-414a-4ee6-88d6-49957b3349f4.png)

#### Steps to reproduce, if exist:
1. Op

[2022-05-19 15:45] ShadelessFox commented on #16540
Will be fixed in #14634

[2022-05-19 15:45] #16540 closed, assigned to nobody

[2022-05-19 15:52] uslss commented on #16382
#14693

[2022-05-19 15:52] #16382 closed, assigned to nobody

[2022-05-19 15:55] uslss commented on #14692
not actual at 22.0.5
no erd tab dor catalog
![image](https://user-images.githubusercontent.com/31996417/169344379-8d63df36-45ae-4b2f-8253-f8d3a7529ec7.png)

[2022-05-19 15:55] #14692 closed, assigned to nobody

[2022-05-19 16:02] uslss commented on #16533
@s-kocher did you install dbeaver from MS Store?
Could you try to reset workspace state?
![image](https://user-images.githubusercontent.com/31996417/169345821-ac5054a2-2382-4e89-8a22-89c1cadc13df.png)

[2022-05-19 16:03] uslss commented on #16528
Could you add info accordingly to [template](https://github.com/dbeaver/dbeaver/issues/new?assignees=&labels=bug%2C+wait+for+review&template=bug_report.md&title=)?
Thanks in advance

[2022-05-19 16:06] uslss commented on #16525
@elonmusk408 Cannot reproduce it.
Could you try to reset driver settings to default and then download the driver once again?
![2021-03-25_10h50_09](https://user-images.githubusercontent.com/31996417/112437502-12fad900-8d58-11eb-841d-d4d3d31469c2.gif)

[2022-05-19 16:35] s-kocher commented on #16533
@uslss No, I run the setup dbeaver-ce-22.0.4-x86_64-setup.exe to update an existing installation so it's not the one from MS Store.
A colleague with a clean install (no update existing installation like me) encounters similar issue (setup installation too, not MS Store version).

I did the "Reset workspace state" action, after DBeaver restarted, I tried again to create / edit an Oracle connection

[2022-05-19 18:03] tomsafekeep commented on #9414
The issue persists on DBeaver 22.0.4.202205011839
Mac OS X Monterey.
No DefaultKeyBinding.dict file
Both with and without karabiner, the issue appears again after ~10 minutes of using DBeaver.

[2022-05-19 18:13] hufersil commented on #13532
Hello there!

This still being a issue.

Seems that this parameter is not being passed when connecting to database.

![Captura de Tela 2022-05-19 às 15 06 09](https://user-images.githubusercontent.com/2363112/169369920-822c520e-73a9-4e38-aa7e-4d4412c7b5d9.png)

This is the version where this error occurs:

![Captura de Tela 2022-05-19 às 15 09 20](https://user-images.githubusercontent.com/236311

[2022-05-19 18:36] hufersil commented on #13532
I got it working, but I think this is a bug

The client identification panel is overriding that driver parameter.
When I put the value in this pane, it works fine.

![Captura de Tela 2022-05-19 às 15 32 05](https://user-images.githubusercontent.com/2363112/169375589-b4e5bcba-f656-4b8c-a038-2029fcfbdec3.png)

In other words
- if I set the value driver properties, like in 5.1.6 version, the connect

[2022-05-19 19:35] tomsafekeep commented on #9414
Workaround:

1. Install and open karabiner
2. Go to Complex modifications
3. Click "add rule"
4. Click "Import rules from the internet"
5. Search and import "Home and End" (https://ke-complex-modifications.pqrs.org/#command_arrows)
6. Enable both rules
7. Restart DBeaver

Works well so far even after several hours. Shift+Home still selects to the text's start, so it does not solve the whole proble

[2022-05-19 22:08] agentkirkwood opened #16544 "Poor Result Formatting of BigQuery Nested Objects"
#### System information:
- Operating system (distribution) and version: macOS Monterey - 12.3.1 (21E258)
- DBeaver version: 22.0.4.202205011839
- Additional extensions:

#### Connection specification:
- Database name and version: Google Big Query
- Driver name: SimbaJDBCDriverforGoogleBigQuery42_1.2.22.1026
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're obs

[2022-05-20 00:50] zhicwu opened #16545 "Multi-protocol support for ClickHouse"
**Is your feature request related to a problem? Please describe.**
Below is the dialog popped up when creating a connection to ClickHouse. It's all good except I cannot change URL to something like `jdbc:ch:tcp://localhost` directly, so I have to create the connection first, and then manually change URL by editing driver settings.
![image](https://user-images.githubusercontent.com/4270380/16942479

[2022-05-20 01:14] Cisnocxie commented on #16526
this is the error log:
!ENTRY org.jkiss.dbeaver.model 4 0 2022-05-20 09:11:03.767
!MESSAGE SQL Error [11739] [S0001]: NEXT VALUE FOR function cannot be used if ROWCOUNT option has been set, or the query contains TOP or OFFSET.
!SUBENTRY 1 org.jkiss.dbeaver.model 4 0 2022-05-20 09:11:03.767
!MESSAGE SQL Error [11739] [S0001]: NEXT VALUE FOR function cannot be used if ROWCOUNT option has been set, o

[2022-05-20 01:17] Cisnocxie commented on #16526
steps to error:
Just execute a select sequence sql like 'select next value for seq_name'.

[2022-05-20 01:19] Cisnocxie commented on #16526
Additionally, I roll back dbeaver to 21.0.5 ver, and this issue doesn't show.

[2022-05-20 02:56] kiattisakph opened #16546 "Cannot Connect Postgresql via SSL from AWS"
I think AWS change some firewall rules, and dbeaver version 22.0.4 cannnot accept rule via ssl from AWS

![Capture](https://user-images.githubusercontent.com/43429886/169441222-f9dd5fb9-67da-47fa-a682-b4223d496ce9.PNG)

[2022-05-20 03:31] mugg1e commented on #16528
What do you mean by info accordingly? For example

[2022-05-20 03:31] TA961215 commented on #16475
我在这边解决了。DBeaver  version：22.0.0，Clickhouse version：20.8.18.32，连接时默认下载驱动clickhouse-jdbc版本是0.3.2，把驱动版本手动降为0.2.6就好了，感谢

[2022-05-20 05:05] serge-rider opened #16547 "PG: read-only connection support"
We need to set readOnly and readOnlyMode properties during connect

[2022-05-20 05:09] #16547 closed, assigned to serge-rider

[2022-05-20 07:04] itphonim commented on #16491
Hi, thanks for the info,
the 22.0.5 is not out yet, I'll wait for that then ;)

though, it doesn't really answer the demand,
especially for users having big amounts of scripts opened simultaniously and going through one project to another often.
so still thinking that having only the corresponding scripts to the projetc you're in showing would be great ;)

[2022-05-20 08:21] LonwoLonwo commented on #16546
Can you provide[ the error log](https://github.com/dbeaver/dbeaver/wiki/Log-files) please?

[2022-05-20 08:31] LonwoLonwo commented on #16544
Thanks for the report @kdonavin

[2022-05-20 08:33] LonwoLonwo commented on #16545
Sounds reasonable.

Thanks for the idea @zhicwu

[2022-05-20 08:35] aditya-giri commented on #16524
I'm unable to open DBeaver after the recent Windows update too.

[2022-05-20 09:23] ShadelessFox commented on #16491
Thanks for the feedback. We'll review this issue next week.

[2022-05-20 09:42] ShadelessFox commented on #15893
Hello @detkliff,

Can you please provide a sample DDL of such a function?

[2022-05-20 10:11] ShadelessFox commented on #13419
Duplicate of #11798

[2022-05-20 10:11] #13419 closed, assigned to nobody

[2022-05-20 10:26] ShadelessFox commented on #15887
https://github.com/dbeaver/dbeaver-ee/pull/1645

[2022-05-20 10:57] krilim opened #16548 "Open related table links in new tab"
When a table is related to another one, a link appears in the cell to open the related row in the other table.

Can it be opened in another tab or, at least, give than option in context menu?

Thanks.

[2022-05-20 12:27] arvillion commented on #16416
I'd like to try on this issue. And I wonder if certain options conflict with others or they can all be chosen at the same time.

[2022-05-20 12:37] yunkuotianxian opened #16550 "Eclipse import project error"
![image](https://user-images.githubusercontent.com/18697373/169529455-df71cf37-d4ae-4c50-b4e4-88ff4353ce7e.png)

#### System information:
- Operating system (distribution) and version
- DBeaver version
- Java version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're

[2022-05-20 12:41] LonwoLonwo commented on #16548
Can you provide some example please? With DDL.

[2022-05-20 12:43] #16550 closed, assigned to nobody

[2022-05-20 12:46] Matvey16 opened #16552 "Dialog font preference doesn't cover all dialog windows"
We recently updated the preferences page to use the font configured in `Appearance > Colors and Fonts > Dialog Font` for every tab of preferences page, but now we still have a lot of dialogs that don't apply this option, but have buttons with correct font. This leads to a very strange appearence.
![dbeaver_bUjIaiDMx8](https://user-images.githubusercontent.com/82543000/169530691-ccc85bc9-b9fe-4c1b-

[2022-05-20 12:47] Matvey16 commented on #15887
Preference page shows everithing correct, but we need to update other dialogs #16552 16552

[2022-05-20 13:39] itphonim opened #16555 "is there a way not to have to reinstall plugins after every updates ?"
Hi,
i'm using DBeaver in zip version (Windows)
every time I migrate to the newer version I have to redownload et reinstall the plugins.
Fortunatly I'm using only one.

having this message for instance with the Office addon:
![image](https://user-images.githubusercontent.com/82998099/169539807-4fcde566-4931-49d2-b7fa-d08b961020a4.png)

[2022-05-20 13:54] flambchap opened #16556 "Action icons can be unclickable on machines that use gtk"
#### System information:
- Operating system (distribution) and version: Pop!_OS 22.04 LTS
- DBeaver version 22.0.5 UE devel

#### Describe the issue you're observing:
If your machine uses gtk and you have a lot of connections in the navigator, you cannot click action icons.

#### Steps to reproduce, if exist:
1. Enable the action icons (Right-click on the navigator area -> Connection view -> Show

[2022-05-20 14:03] lyndavandermerwe opened #16558 "Redshift Keep-Alive not working JDBC42"
#### System information:
- Operating system (distribution) and version - OS Name -> Microsoft Windows 10 Enterprise, Version	10.0.19044 Build 19044
- DBeaver version -> Community Edition 22.0.4.202205011839
- Additional extensions -> None

#### Connection specification:
- Database name and version -> Redshift [1.0.38361]
- Driver name -> AWS Redshift JDBC driver (redshift-jdbc42-2.1.0.7.jar)
- Do

[2022-05-20 15:09] #15887 closed, assigned to ShadelessFox, Matvey16

[2022-05-20 15:36] Xylandor commented on #16498
@ShadelessFox

That's fine with me. I can always take some time to recreate them to gain the functionality. Thanks for taking this into consideration.

[2022-05-20 18:45] prudhviteddu commented on #1001
jdbc:teradata://HOSTNAME/DATABASE=DATABASENAME,TMODE=TERA,LOGMECH=LDAP,SSLMODE=DISABLE,DBS_PORT=1025
Thanks a lot @tphani, the above JDBC url worked for me I have been struggling for the access for a while.

[2022-05-20 21:05] mahadea opened #16562 "Unexpected driver error occurred while connecting to the database com/ibm/db2/jcc/sqlj/StaticPackage"
#### System information:
- Windows 10 Version 21H2 Build 19044,1645
- DBeaver version 22.0.4.202205011839
-

#### Connection specification:
- Database name and version DB2 z/os v12
- Driver name db2jcc.jar, db2jcc_license_cisuz.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes

#### Describe the problem you're observing: When trying to connect to a particular DB2 instance getting the abov

[2022-05-21 07:38] datenbank-projekt opened #16563 "sqlserver 2016: Table -> SQL for DDL not correct"
I am trying to recreate a table. I am right-clicking in the table I want to copy to the the DLL SQL code “create …” DBeaver does NOT create the correct code.

Table DDL which is wrong (I marked the sports)

CREATE TABLE tbl_texte (
id int IDENTITY(834,1) NOT NULL,
textnummer int DEFAULT 0 NOT NULL,
[text] nvarchar COLLATE Latin1_General_CI_AS NOT NULL,
tbl_firma_id int NOT NULL,
beschreibung nvarc

[2022-05-21 08:31] travelliu commented on #16401
DB2
https://www.ibm.com/docs/en/db2/11.5?topic=functions-datapartitionnum
select * from table WHERE DATAPARTITIONNUM(partition column )=PartNum and DATAPARTITIONNUM(partition column )=PartNum

[2022-05-22 02:00] zhicwu commented on #16545
Thanks @LonwoLonwo. It's probably too early to say, but you may also want to enhance the `Host` field in order to support load balancing and failover in the future.

For example, for a JDBC URL like `jdbc:ch://server1,(grpc://server2?tags=dc2),(tcp://server3:9000),(http://user4:passwd@server4:8124/db4?tags=dc1)/db?cluster=mycluster&tags=dc1&lbPolicy=firstAlive&autoDiscovery=true` (taken from Click

[2022-05-23 01:14] eugriner opened #16564 "Connect unix socket of asdf-postgres"
#### System information:
- Operating system (distribution) and version: Artix Runit 5.15.40-1-lts
- DBeaver version: 22.0.4
- Additional extensions: asdf, and direnv

#### Connection specification:
- Database name and version: Postgres 14.3
- Driver name: org.postgresql.Driver jdbc? defaults
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Tried a self ssh, I can do in the terminal, but not with

[2022-05-23 01:58] SSSDNSY commented on #16281
OK

[2022-05-23 02:00] SSSDNSY opened #16565 "reordering columns using drag-n-drop"
![image](https://user-images.githubusercontent.com/15624361/164616764-7cbd877b-9594-40aa-9938-933f4f45cfda.png)

[code]
[code]

**[issue records](https://github.com/dbeaver/dbeaver/issues/16281)**

[2022-05-23 02:18] eugriner commented on #16564
For now I just figure it out a work around:
`socat tcp-l:5432,reuseaddr,fork unix-connect:$PGHOST/.s.PGSQL.5432`

It would be nice to be able to connect straight from dbeaver to the socket locally, this way I could have many Postgres versions and minimum overhead, all running simultaneously without having to care about the port number.

[2022-05-23 02:20] ShadelessFox commented on #16281
Ability to copy contents of selected column will be implemented within this ticket.

[2022-05-23 02:24] #16306 closed, assigned to ShadelessFox

[2022-05-23 04:49] yoni-yad2 opened #16566 "Change MySQL user limits phrasing to per hour"
When creating or altering a MySQL user, the first 3 "Limits" box on the top right appear as :
Max Queries
Max Updates
Max Connections

But they actually should be:

Max Queries Per Hour
Max Updates Per Hour
Max Connections Per Hour

[2022-05-23 04:52] aleksandr-shevchenko commented on #15887
![ss_2022_05_23__08_46_11](https://user-images.githubusercontent.com/25248634/169745675-8dc67baf-61d3-4a5f-b171-95d15512f2f4.png)
![ss_2022_05_23__08_46_43](https://user-images.githubusercontent.com/25248634/169745687-90d8cc30-1eb7-49dc-93e4-f76401e92774.png)
![ss_2022_05_23__08_47_21](https://user-images.githubusercontent.com/25248634/169745691-7a47cc42-b9f4-4c43-8b31-e85890ce57f6.png)

And other

[2022-05-23 05:00] pan3793 opened #16567 "Support Apache Kyuubi (Incubating)"
**Is your feature request related to a problem? Please describe.**

Apache Kyuubi (Incubating)[1] a distributed and multi-tenant gateway to provide serverless SQL on lakehouses, and DBeaver is an amazing database/data warehouse GUI client. I want to add the native support of Kyuubi in DBeaver.

**Describe the solution you'd like**

Kyuubi provides a HiveServer2 compatible thrift API and JDBC drive

[2022-05-23 05:07] elonmusk408 commented on #16525
Now getting this error.

Error location: Reply.fill() - socketInputStream.read (-1). Message: Connection reset. ERRORCODE=-4499, SQLSTATE=08001.

But through telnet, able to connect.

[2022-05-23 07:17] uslss commented on #15659
#16281

[2022-05-23 07:18] ShadelessFox commented on #15887
Fix is postponed for the next release.

[2022-05-23 07:19] uslss commented on #16555
thanks for the suggestion
closed a a duplicate of #5317

[2022-05-23 07:19] #16555 closed, assigned to nobody

[2022-05-23 07:19] uslss commented on #14927
#5317

[2022-05-23 07:30] wow-blacksheep opened #16568 "Unable to add custom driver and Page crash"
![image](https://user-images.githubusercontent.com/37165012/169766409-b263ed15-60ce-4c97-bb2c-54fea9256326.png)
![image](https://user-images.githubusercontent.com/37165012/169766487-0de4a82d-31c2-44c8-9982-2345a3537146.png)
![image](https://user-images.githubusercontent.com/37165012/169766700-1ecdb5a2-6c3a-40d1-bb0e-61d886b374ad.png)

[2022-05-23 07:33] travelliu opened #16569 "Supports recreate constraints"
**Is your feature request related to a problem? Please describe.**
Now the recreate constraint needs to be removed first before adding.

Database: postgresql

Generate DDL

[code]
The same constraint operation can be combined together

[code]
or
Add multiple constraints and delete them
[code]

[2022-05-23 07:58] krilim commented on #16247
Hi, the same happen to me.

I can connect with an ed_25519 key using console ssh (MacOS and Fedora 36) but I cannot do the same with dbeaver using same credentials with SSHJ.

I have other connections with the same ed_25519 key and they work without problems.

Version is 22.0.5 with MacOS 12.4 and/or Fedora 36

Both remote machines are CentOS 7 (the one that works and the one that does not)

[2022-05-23 08:17] krilim commented on #16548
Ie.

Two tables: **_user_** and _**location**_.

DDLs are:

[code]

[code]

When I browse data in **_user_** table, column _uuid_location_default_ is linked to row with that _uuid_ in table _**location**_.

[2022-05-23 09:38] LonwoLonwo commented on #16526
Ok, I see the problem.

QueryTransformerTop.

![2022-05-23 12_26_58-Window](https://user-images.githubusercontent.com/45152336/169790452-457f3df0-b1ec-4dbc-abb2-60240a40b5e3.png)

Thanks for the bug report.

You can set the fetch size for this type of statement as a small workaround to -1. In this case, "TOP 100" will not be added to your statement,

![2022-05-23 12_30_35-Window](https://user-imag

[2022-05-23 09:39] ShadelessFox opened #16570 "Can't create tasks without any connections in the project"
#### Describe the problem you're observing:
Tasks can't be created on an empty project without any connections:

![image](https://user-images.githubusercontent.com/35821147/169790376-72091ff2-b73e-4dfc-ac90-71afd7de92d4.png)

This is a partially expected behavior since all<sup>1</sup> tasks operate over database objects, but it's not clear what's wrong in this case.

If there are no applicable tas

[2022-05-23 09:43] LonwoLonwo commented on #16566
Thanks for the clarification @yoni-yad2

[2022-05-23 12:25] s-kocher commented on #16533
I understood the root cause of the issue, by reproducing locally with a basic java 17 POC :
[code]

And maven pom :
[code]

I got a similar error as observer in DBeaver :
[code]

By monitoring any filesystem access to a ressource with "jna" in the name, I got that:
java.exe write C:\Users\{myuser}\AppData\Local\Temp\1\jna--836657406\jna2503025546734971862.dll

So when JNA code is executed, a dll i

[2022-05-23 13:16] Xylandor opened #16572 "Unhandled Event Loop Exception: Unable to Save Confirmation Preferences"
#### System information:
- OS:  MacOS Big Sur v11.4
- DBeaver version:  22.0.5.202205220912
- Additional extensions:  None

#### Connection specification:
- AWS connection to MySQL v5.7
- Driver name: MySQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No.

#### Describe the problem you're observing:
I'm no longer able to save changes in the Confirmations Preferences. I can change the value

[2022-05-23 14:03] mahadea commented on #16562
Problem appears to have gone away on its own after I rebooted the computer. I did close and restart the application before reporting the problem btw.

[2022-05-23 14:03] #16562 closed, assigned to nobody

[2022-05-23 14:08] davidhooey commented on #5317
I too need to reinstall the Vrapper(VIM) plugin after every upgrade.

[2022-05-23 14:54] ShadelessFox commented on #13183
Hello @ahhmedbilal,

The letter `C` works because it's a mnemonic for the `Copy` command.
Similarly, the letter `P` is the mnemonic for the `Paste` command.

You can view mnemonics by opening any context menu using the <kbd>Alt</kbd> key:

![image](https://user-images.githubusercontent.com/35821147/169847034-8ab56193-9426-4bf4-9461-6c77bf176115.png)

We can't change the mnemonic of the `Paste` com

[2022-05-23 14:54] #13183 closed, assigned to ShadelessFox

[2022-05-23 14:55] ahhmedbilal commented on #13183
Hi

You can use like this "Paste(v)" to enable this feature?

Regards

On Mon, May 23, 2022 at 5:54 PM ShadelessFox ***@***.***>
wrote:

[2022-05-23 15:15] ShadelessFox commented on #13183
It's a questionable change, unfortunately. Have you considered using keyboard shortcut instead, <kbd>Ctrl+V</kbd>?

[2022-05-23 15:17] ahhmedbilal commented on #13183
Yes, i hv used Ctrl+V, but having "v" as shortcut on context menu will also
facilitate the process of pasting.

On Mon, May 23, 2022 at 6:15 PM ShadelessFox ***@***.***>
wrote:

[2022-05-23 15:32] LonwoLonwo commented on #16572
Yep, reproducible on Mac (not reproduicible on Windows). Thanks for the bug report @Xylandor

[2022-05-23 16:48] hfcheng66 commented on #9414
Thanks for posting the workaround, works for me so far!

[2022-05-23 17:31] glw commented on #14647
Sorry just saw this. I will check right now.

[2022-05-23 20:12] siberiun commented on #15906
hey zabbah

Thanks. Here solved my problem.

[2022-05-24 03:11] glw commented on #14647
Testing version: Version 22.0.5.202205220912

Unfortunately, the dragging/moving of table objects on the ERD is still not working.  I am able to select and open the table properties or a columns properties from the ERD.

[2022-05-24 06:43] Condor70 commented on #16102
Would it also be possible to add a Label column?

I know there is a workaround to switch Label and Description by specifying metadata source=0, but that as other effects too.

I just noticed there already is a separate issue for this: #13335

[2022-05-24 06:58] Condor70 opened #16576 "Autocompete SQL keywords order"
I'm very happy with the auto-compete feature of DBeaver, especially now I've broken my arm.

However, one thing that annoys me is the fact that auto-complete prefers column names over SQL keywords.

It is much more likely that I want to type "where" instead of some column name that begins with "wh".

Could the order of suggestions be changed to put SQL keywords on top?

[2022-05-24 07:15] #16203 closed, assigned to E1izabeth, Matvey16

[2022-05-24 07:16] #16451 closed, assigned to Destrolaric, uslss

[2022-05-24 07:16] #14634 closed, assigned to uslss, ShadelessFox

[2022-05-24 07:16] #14163 closed, assigned to uslss, ShadelessFox

[2022-05-24 07:26] thummelt commented on #3647
@MarcinGrinberg solution worked for me when getting MSAL4J error as well after executing all the steps from @Xtinction. putting both posts together gets it runnin 💯

[2022-05-24 08:29] agwidarsito commented on #15412
Would really love this!

[2022-05-24 08:41] Destrolaric commented on #14647
Hi, can you send the log file? Instructions can be found here https://github.com/dbeaver/dbeaver/wiki/Log-files

[2022-05-24 09:05] serge-rider commented on #16567
Thank you for the contribution.
We will test it and perhaps include in one of the next releases.

[2022-05-24 09:08] pan3793 commented on #16567
Thanks @serge-rider, feel free to ping me if you run into any issues.

[2022-05-24 09:23] #15815 closed, assigned to Destrolaric, uslss

[2022-05-24 09:55] ShadelessFox commented on #13981
Hello @ivanlonel,

Thanks for the investigation.

As you can see, we store the absolute path to a node that represents a given object in the navigator tree. Without that, it might be impossible to locate an object a relative or, let's say, a more lenient path points to.

Moreover, the connection view can be configured for your desire, making node paths even more unpredictable.

Unfortunately, ther

[2022-05-24 09:55] #13981 closed, assigned to ShadelessFox

[2022-05-24 11:24] PILINING commented on #16436
Hello, I'd like to work on this issue.

[2022-05-24 11:25] PILINING commented on #16436
Hello, I'd like to work on this issue. 😃

[2022-05-24 12:18] LonwoLonwo commented on #16563
Hello @datenbank-projekt

I used your second script for table creation and now I have this DDL:

![2022-05-24 15_08_36-Window](https://user-images.githubusercontent.com/45152336/170031415-9a714ecb-6384-4d6a-8d9f-0a2e21567f54.png)

![2022-05-24 15_09_44-Window](https://user-images.githubusercontent.com/45152336/170031421-14e4cf28-a7eb-4325-9ce0-bf6368957b58.png)

All (max) from your script are in t

[2022-05-24 13:06] biproberkay commented on #2959
someone authorized mark this as an answer @Gery63

[2022-05-24 13:57] bombillazo commented on #2316
+1

Totally breaks my productivity given Tab is commonly used in terminals, IDEs, etc for autocompletion

[2022-05-24 14:43] Matvey16 opened #16579 "NPE happens every time external data editor is opened/closed"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 22.0.5

#### Steps to reproduce, if exist:
1. Open a table with a string column
2. Click on any string and press <kbd>Shift + Enter</kbd>
3. Click `Open Editor`
4. Change some data
5. Close the editor and confirm to save changes

**Result:** Editor is opened and changes are saved, but NPE is recorded in

[2022-05-24 14:49] KurtMar commented on #11531
Can confirm the issue and that downgrading to 22.0.3 works https://dbeaver.io/files/22.0.3/

[2022-05-24 14:56] #14326 closed, assigned to LonwoLonwo, Matvey16

[2022-05-24 14:56] #13726 closed, assigned to E1izabeth, Matvey16

[2022-05-24 14:57] #14397 closed, assigned to ShadelessFox, Matvey16

[2022-05-24 14:59] LietzP opened #16580 "Process failed (exit code = 2) when dumping MySQL database"
#### System information:
- Windows 10
- DBeaver: 21.2.3
- Additional extensions: none

#### Connection specification:
- MySQL
- Driver name: I'm not sure what you need here?
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When I dumb a database, I get the error "Error execution failed - Error executing process (Process failed (exit code = 2). See

[2022-05-24 15:19] serge-rider commented on #13898
Please test in EA version of CE.

[2022-05-24 15:27] LonwoLonwo commented on #16580
What MySQL server and driver version do you use?

[2022-05-24 15:48] givihuda commented on #1679
Note that Preferences -> General -> Keys is now Preferences -> User Interface -> Keys.

[2022-05-24 16:54] datenbank-projekt commented on #16563
Hi,

I did not create the initial table in SQL Server. I used Dbeaver to to some work with the database, so I can not tell you how and why dbeaver shows "0".

[2022-05-24 17:53] jnahmias opened #16582 "show (sub)partitioning key for partitioned tables"
**Is your feature request related to a problem? Please describe.**

Partitioned tables are being found more frequently as we work with larger datasets. DBeaver does show when a table is partitioned, and even lists the partition's name, position, tablespace, high value, #rows, etc... on the Partitions sub-tab of the Table properties.
However, a key piece of information -- the partitioning key -- is

[2022-05-24 19:34] simontol opened #16584 "[GNOME/Wayland] Clicking on collapse/show arrow doesn't opens the menu"
#### System information:
- Fedora 36 Wayland
- DBeaver 22.0.5 (installed from flathub)

#### Connection specification:
- N/A

#### Describe the problem you're observing:
Clicking on collapse/show arrow doesn't opens the menu, 'dragging' action is initiated instead.
I've seen that also when clicking on cells it's not easy to edit the content because of the same behaviour.
Video attached.

#### Step

[2022-05-24 19:41] simontol commented on #16584
Attached Video of the correct behaviour of Dbeaver on Xorg.
[Video Xorg.zip](https://github.com/dbeaver/dbeaver/files/8765745/Video.Xorg.zip)

[2022-05-24 23:02] glw commented on #14647
Actually when I try to export a log it gives me this error.

[code]

![image](https://user-images.githubusercontent.com/556205/170143855-f940acbb-30b7-4594-9bc1-e84984daaee6.png)

Ill try to find the log files on my computer

[2022-05-25 03:47] tarikhagustia commented on #7521
same on Ubuntu 22

[2022-05-25 05:21] detkliff opened #16585 "error with job"
Dbeaver 22.0.5
postgresql 14
windows 11

Steps:

1. Connect to database
2. Open objects tree and click to jobs
![image](https://user-images.githubusercontent.com/61137576/170185187-eabe53a8-3e0c-44af-9124-dc9e0c67c836.png)

4. After that 2 elemets removed from object tree Blocks and session.
![image](https://user-images.githubusercontent.com/61137576/170185531-2c7ce738-00a8-43c1-9ab7-4df0940e61ac.

[2022-05-25 06:07] cpantziaras opened #16586 "DBeaver ce Dashboard"
Dears I need some help regarding the dashboards of DBeaver.

I am new to postgreSQL databases and I need to find a way to monitor the whole server CPU and RAM from the tool.

I do not want to connect on the server and find these details through commands. I want to have a dashboard and view them live. Is this possible?

[2022-05-25 07:00] javaanddonet opened #16587 "DBeaver CE 22.0.5 can't start on Big Sur 11.4"
**After installed dbeaver-ce-22.0.5-macos-x86_64.dmg, I can't start DBeaver app.
My MacOS version is: Big Sur 11.4.
Error message as below:**
[code]

[2022-05-25 07:27] LonwoLonwo commented on #16585
Thanks for the bug report @detkliff

[2022-05-25 08:02] stegus64 opened #16588 "Databricks: Specific valid SQL query generates SQL Error [500051] [HY000]"
#### System information:
- Windows 11
- DBeaver version 22.0.5

#### Connection specification:
- Azure Databricks
- [SimbaSparkJDBC42-2.6.22.1040.zip](https://databricks-bi-artifacts.s3.us-east-2.amazonaws.com/simbaspark-drivers/jdbc/2.6.22/SimbaSparkJDBC42-2.6.22.1040.zip)

#### Describe the problem you're observing:

A valid SQL query somehow gets transformed to an invalid format which then gene

[2022-05-25 08:03] E1izabeth commented on #16475
Please, attach the log file. To know how to find it, see https://dbeaver.com/docs/wiki/Log-files/

[2022-05-25 09:13] lewis1277 opened #16591 "Add configuration option to disable 'Execution Error' popup"
**Is your feature request related to a problem? Please describe.**
When running a script, what often frustrates me is the 'Execution Error' popup, which has to be closed with ESC or Stop/Retry buttons.

**Describe the solution you'd like**
I can't find a configuration option or any who've discussed this anywhere and would like if there was one to disable the popup entirely and automatically stop a

[2022-05-25 09:28] Destrolaric commented on #13960
Now timezone can be selected in the Timezone field in the User interface tab. The selected timezone will be applied to JVM and will affect the whole app. Every timezone supported by JVM can be selected. Autocompletion is also supported.
![image](https://user-images.githubusercontent.com/20579256/170230052-a534d61c-b502-4318-aca6-f18d9384e8f2.png)

[2022-05-25 10:22] detkliff commented on #13960
what version is this?

[2022-05-25 10:23] Destrolaric commented on #13960
@detkliff It will be available on 22.1.0 version of DBeaver

[2022-05-25 11:27] Matvey16 commented on #16480
Is your database also located at https://remotemysql.com/ ? Because the time needed to read all metadata from multiple tables can vary based on the server. And as a free service I assume there can be some limitations

[2022-05-25 11:53] Matvey16 commented on #16520
Hello @webian . Did you manually disconnect and reconnect to the database? I was not able to reproduce this. Could you perhaps record a short video of the actions that lead to this.

[2022-05-25 11:54] Ogaday commented on #8800
I'm also unable to use ssh-agent for ssh tunnel auth, even with devmode enabled.

[code]

[2022-05-25 12:11] ShadelessFox commented on #16172
We need to respect block text selection as well.

[2022-05-25 12:19] stegus64 commented on #16588
I managed to solve this problem myself. The problem is in the databricks jdbc driver. Not in DBeaver.
I solved the problem by adding the setting UseNativeQuery=1 in the jdbc connectionstring.

[2022-05-25 12:19] #16588 closed, assigned to nobody

[2022-05-25 12:28] #16346 closed, assigned to ShadelessFox, Matvey16

[2022-05-25 12:29] #16023 closed, assigned to E1izabeth, uslss

[2022-05-25 12:39] emironovDB commented on #16591
Thanks for a feature request!

[2022-05-25 12:41] flambchap commented on #16587
Hi. Please try resetting the workspace. You can find the instructions here: https://dbeaver.com/docs/wiki/Reset-workspace/.

[2022-05-25 12:49] flambchap commented on #16586
Hi, @konpant. I think we can do that. Can you please tell me if you already have a query/command that does the job? It would significantly speed up the implementation. Thank you.

[2022-05-25 12:52] emironovDB commented on #16580
Could you update DBeaver to the most recent version - this issue may be resolved

[2022-05-25 12:59] LietzP commented on #16580
I did update, but that did not resolve the issue.

But my Work colleague told me that we have a problem with that database, so its not DBeavers fault.

[2022-05-25 13:01] flambchap commented on #16569
Hi. Can you please explain the advantages of such an approach? Unfortunately, I'm not that proficient in this area. Thanks.

[2022-05-25 13:02] emironovDB commented on #16565
Thanks for feature request!

[2022-05-25 13:04] LonwoLonwo commented on #16580
Ok, thanks for the answer @LietzP
I'm closing this ticket now.
If this problem occurs again - feel free to reopen this issue.

[2022-05-25 13:04] #16580 closed, assigned to nobody

[2022-05-25 13:05] LonwoLonwo commented on #16588
Thanks for the investigation @stegus64

[2022-05-25 13:09] emironovDB commented on #16563
Hello @datenbank-projekt,

Can you please attach the DDL of this table from SSMS?

[2022-05-25 13:16] JeroenNienhuis opened #16596 "(minor bug) first typed character in datagrid is lost for date/time fields"
When a field in a datagrid is selected and a keyboard character is typed then the active cell is set to edit mode, shows a cursor and the typed character character is added:
![afbeelding](https://user-images.githubusercontent.com/51078213/170269437-8f549958-0181-4647-906b-11e90da9474f.png)
This works for most field types except for date, time and timestamp fields. In this case the typed character

[2022-05-25 13:24] emironovDB commented on #16538
Hello @RushiJeavio,

The issue #667 is scheduled for the next milestone. If it is implemented, will it suffice your needs? Thanks.

[2022-05-25 13:27] emironovDB commented on #16524
Hello @jgalvan0815 @aditya-giri,

Can you please try uninstalling and installing DBeaver from scratch?

If it doesn't help, try resetting the workspace: https://github.com/dbeaver/dbeaver/wiki/Reset-workspace

Please let me know if it helps

[2022-05-25 13:34] kseniiaguzeeva opened #16597 "Informix and Snowflake: catalogs/databases have ERD tab"
#### System information:
- Operating system (distribution) and version Win
- DBeaver version   DBeaver 22.0.5.202205240823
#### Connection specification:
- Database name and version Informix
#### Steps to reproduce, if exist:
Connect to Informix and open a catalog in the Metadata Editor

**Expected**: Horizontal Properties tab is available
**Actual result**: ERD tab is also displayed.

![dbeaver_0

[2022-05-25 13:36] sastorsl commented on #10912
Is there really a fix for this?
If you have installed DBeaver through snap I should think you would have to update the package through snap aswell, meaning wait until a new snap version is available.

[2022-05-25 13:36] JeroenNienhuis opened #16598 "DBeaver does not know the name of my functions when e.g. typing an sql"
When typing e.g. a script dbeaver knows all names of my schemas, tables, views and fields, but not my functions
![afbeelding](https://user-images.githubusercontent.com/51078213/170273518-456e924b-4054-4ef3-83f8-6d3ffb632783.png)
Can the functions be added?

[2022-05-25 14:07] PILINING commented on #16436
It seems that this issue is due to the date or time type not having a method like Text.selectAll() that can be called directly.
So my idea is to add a similar method to the CustomTimeEditor for all-selecting the contents of a cell of the date type.
It seems that the issue is solved through it.

https://user-images.githubusercontent.com/58755868/170418611-eac1d8f4-68c1-4d22-ace1-525ccd29a38f.mp4

[2022-05-25 14:19] Destrolaric commented on #16596
Hi, thank you for the report!

[2022-05-25 14:37] RushiJeavio commented on #16538
Hi @emironovDB ,

That's great news!! When is the next milestone completion date?

It will not suffice the needs because I want the output of #667 to be printed in PDF. OR even better thing would be that output of every query is preceded by every query (SQL) and then we can take this as a PDF. So, for both cases, I assume the first task we would have to do is find a way to store and club outputs.

[2022-05-25 14:46] aditya-giri commented on #16524
Hi @emironovDB, thanks for your response.

I did initially try uninstalling and reinstalling but that did not help either. I will try resetting the workspace and let you know shortly.

Is there anything else I can do? Perhaps attach some logs?

[2022-05-25 15:19] datenbank-projekt commented on #16563
Hi @emironovDB
I do not know what else I should post but the first DLL which has been generated by dbeaver

`CREATE TABLE tbl_texte (
id int IDENTITY(834,1) NOT NULL,
textnummer int DEFAULT 0 NOT NULL,
[text] nvarchar COLLATE Latin1_General_CI_AS NOT NULL,
tbl_firma_id int NOT NULL,
beschreibung nvarchar(255) COLLATE Latin1_General_CI_AS DEFAULT N” NOT NULL,
textTyp int DEFAULT 0 NOT NULL,
tbl_per

[2022-05-25 15:43] jgalvan0815 commented on #16524
I worked with my end user and what we discovered was the following:

- We uninstalled and reinstalled DBeaver and it did not work
- We uninstalled DBeaver and deleted the folder in AppData where the log was stored and reinstalled DBeaver
- The program was able to run but it looks like the user lost their shortcuts, which they were able to set back up again

[2022-05-25 15:47] LonwoLonwo commented on #12544
Hello @dkornacki-cutco

Can you please check the newest DBeaver version? We added some support for better DB2i schemas and table loading.

If it didn't help, please change the number of fetch elements in the Preferences -> User Interface -> Navigator.

![2022-05-25 18_41_31-DBeaver Ultimate 22 0 3 - TABLES_S](https://user-images.githubusercontent.com/45152336/170302991-ad68baf0-f475-4540-b711-48b3

[2022-05-25 18:50] Destrolaric commented on #7257
Got an update about this functionality. This was added as experimental feature in recent versions of DBeaver. This can be enabled by using Mikami-Tabuchi as routing algorithm.

[2022-05-25 18:57] kcbaltz opened #16605 "Statistics tab not focused after SQL Update"
#### System information:
- Operating system (distribution) and version: MacOS 12.3.1
- DBeaver version: 22.0.5
- Additional extensions: none

#### Connection specification:
- Database name and version: AS/400 and MariaDB
- Driver name: DB2 iSeries/AS 400   and MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Issue happens without using tunnel or proxy

#### Describe the problem you're ob

[2022-05-25 20:29] LonwoLonwo commented on #16563
SQL Management Studio also has the option to create table DDL. Can you please copy tbl_texte DDL from there?

[2022-05-25 20:32] LonwoLonwo commented on #16598
Hello @JeroenNienhuis

Please check the "Show stored procedures in column list" setting in your preferences.
Maybe it helps?

![2022-05-25 23_30_26-DBeaver Ultimate 22 0 3 - public](https://user-images.githubusercontent.com/45152336/170361943-6a3fda04-b8dc-4877-a9aa-134547ffefd1.png)

[2022-05-25 20:32] dkornacki-cutco commented on #12544
I tried it again with 22.0.5 but it still goes unresponsive for several minutes. Just to clarify, expanding the schema works fine and it's very quick. It's only when I select the checkbox (of the schema) for search that the problem happens.

Navigator Tree also expands quickly with no issues. It's just that checkbox for search that's an issue.

[2022-05-25 20:36] LonwoLonwo commented on #12544
Ok, thanks for the quick answer.

[2022-05-25 20:40] Xylandor commented on #16548
@krilim

If I'm understanding correctly, when you click on the referenced link in either the table data view or in the query results list, instead of it replacing the current tab, open it in a new tab. This functionality already exists and can be done by holding down COMMAND (Mac) or CONTROL (Win) and clicking the link. This opens it in a new tab (see attached video).

It would be nice, however, t

[2022-05-25 22:10] JeroenNienhuis commented on #16598
Thanks for the tip, but it wasn't of any help

[2022-05-25 22:15] LonwoLonwo commented on #16598
Please try only with Select

![2022-05-26 01_13_25-](https://user-images.githubusercontent.com/45152336/170376444-1f8b42eb-5a38-4107-af1b-0a2966a30213.png)

[2022-05-25 22:40] JeroenNienhuis commented on #16598
That works :-),. Since part of my functions return tables I also tried
select * from functionname
and
select * from tablename join functionname
These do not work.

[2022-05-26 01:25] aumeli74 opened #16606 "sql editor loose datasource assignation"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2022-05-26 01:37] aumeli74 commented on #16606
System information:
Operating system (distribution) and version   MACOS bigsur
DBeaver version  Versión22.0.4.202205011839

 Connection specification:
Database name and version POSTGRESQL 12
Driver name  PostgreSQL JDBC Driver
Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH TUNNEL

Describe the problem you're observing:
Steps to reproduce, if exist:

a) Open new  sql editor
b) select your dat

[2022-05-26 02:14] travelliu commented on #16569
Performing together is an atomic operation. For example, if you want to modify a constraint, if you divide it into 2 statements, there will be a successful deletion but an unsuccessful addition.

Example:

I'm going to change the constraint newtable_3_pk from column1 to column2,column3. However, coolumn2 and column3 violate the constraint data, and the constraints executed together will not be del

[2022-05-26 04:20] javaanddonet commented on #16587
@akilovich

Thanks for your reply.

There is no such a directory named `~/Library/DBeaverData/workspace6/.metadata/.plugins/org.eclipse.e4.workbench` on my Mac, only below directories:
[code]

Then i try to remove `org.eclipse.core.resources`, still can't start it.
I also try to remove `~/Library/DBeaverData`, and try to restart DBeaver, still can't start it.

Below are detail log:

[code]

[2022-05-26 05:12] cpantziaras commented on #16586
Hello. Unfortunately not!! I tried to generate a script but I was not able to find where these information (CPU and RAM) are stored.

[2022-05-26 06:35] krilim commented on #16548
Thanks so much :-D

[2022-05-26 07:43] LonwoLonwo commented on #12544
Also, this is not db2i specific issue.

[2022-05-26 08:37] serge-rider commented on #15760
#16607

[2022-05-26 08:39] #16172 closed, assigned to ShadelessFox, Matvey16

[2022-05-26 08:39] #16585 closed, assigned to uslss, ShadelessFox

[2022-05-26 08:42] LonwoLonwo commented on #16598
Ok, thanks for the clarification.

[2022-05-26 08:56] 1RichardClarke opened #16608 "Error downloading database drivers after upgrade to 22.0.5"
#### System information:
- Windows Server 2019
- DBeaver v22.04
- Java OpenJDK jdk-11.0.8.10-hotspot
- Additional extensions - None

#### Connection specification:
- PostgresSQL v14
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
Upgraded to 22.0.5, message saying drivers need updating, but get error message
Network unavailable:
jav

[2022-05-26 09:08] flambchap commented on #16587
Wow, I've never seen something like that before. It seems like your workspace is totally broken. I suggest deleting the `~/Library/DBeaverData/workspace6/` folder. Before doing that, please back up everything of value from the projects inside the workspace (SQL scripts, ERD, etc.)

[2022-05-26 09:10] #16567 closed, assigned to serge-rider, Matvey16

[2022-05-26 09:20] #16548 closed, assigned to nobody

[2022-05-26 10:47] flambchap commented on #12559
I've discussed it privately. They do not use proxy nor PGBouncer.

[2022-05-26 12:03] ShadelessFox commented on #14965
Hello @al8bright,

Sorry for the late reply.

After further investigation, it seems like your Windows installation is incomplete and lacks the scheduler entirely. In such a case, neither the legacy scheduler support nor the new one will work. We can't do anything about that, unfortunately.

I suggest you reinstall Windows if you're still having troubles with the scheduler in DBeaver.

[2022-05-26 12:03] #14965 closed, assigned to ShadelessFox

[2022-05-26 13:05] Tazhio commented on #16408
I tested this bug on my dbeaver as well. This feature never worked on my side except in the preference previewer. I think this bug happened because the SQL formatting feature was not implemented except in the preference previewer. I tried to work on this, and here is the improvement.

Now clicking on the formatting preference page will actually perform changes. But to perform changes several times

[2022-05-26 13:09] #15760 closed, assigned to serge-rider, Matvey16

[2022-05-26 14:41] #16293 closed, assigned to nobody

[2022-05-26 14:43] uslss commented on #16294
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:43] #16294 closed, assigned to nobody

[2022-05-26 14:43] uslss commented on #8979
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:43] #8979 closed

[2022-05-26 14:44] uslss commented on #16317
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:44] #16317 closed, assigned to nobody

[2022-05-26 14:45] uslss commented on #16001
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:45] #16001 closed, assigned to ShadelessFox

[2022-05-26 14:45] mcbeelen commented on #16480
@Matvey16 : Yes my database is located at remotemysql.com.

Running the same query using different clients (IntelliJ and mysql cli) is much faster.
- intellij: 9 rows retrieved starting in 235 ms
- mysql: 9 rows in set (0.02 sec)

DBeaver does a various additional queries (for metadata / schema-information), which slows it down.

In the Query Log I see various slow query like:
[code]

Execution of

[2022-05-26 14:46] uslss commented on #16073
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:46] #16073 closed, assigned to ShadelessFox

[2022-05-26 14:46] uslss commented on #16257
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:46] #16257 closed, assigned to ShadelessFox

[2022-05-26 14:47] uslss commented on #16245
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:47] #16245 closed, assigned to LonwoLonwo

[2022-05-26 14:47] uslss commented on #16345
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:47] #16345 closed, assigned to nobody

[2022-05-26 14:48] uslss commented on #16328
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:48] #16328 closed, assigned to ShadelessFox

[2022-05-26 14:50] uslss commented on #16356
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:50] #16356 closed, assigned to nobody

[2022-05-26 14:50] uslss commented on #16364
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:50] #16364 closed, assigned to nobody

[2022-05-26 14:51] uslss commented on #16409
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:51] #16409 closed, assigned to nobody

[2022-05-26 14:51] uslss commented on #15895
There have been no updates on the issue for a long time.
If it is still actual - feel free to reopen it with additional info

[2022-05-26 14:51] #15895 closed, assigned to uslss

[2022-05-26 15:22] #13960 closed, assigned to Destrolaric, uslss

[2022-05-26 15:57] rjake commented on #16073
For the record, the Darkest Dark Theme worked! Thank you

[2022-05-27 01:40] javaanddonet commented on #16587
@akilovich

I try to remove `~/Library/DBeaverData/workspace6/`,  still can't start DBeaver app, error message as below:

[code]

[2022-05-27 03:32] TimNapierVST opened #16617 "Invalidate/Reconnect when connection has timed out"
**Is your feature request related to a problem? Please describe.**
If I haven't been active for a while the connection to snowflake is lost and needs to be invalidated/reconnected

**Describe the solution you'd like**
DBeaver to detect and automatically re-connect ...or.... at least have a button on the dialog box that says reconnect

**Describe alternatives you've considered**
...or.... at least

[2022-05-27 07:00] LonwoLonwo commented on #16608
Hello @1RichardClarke

Please refer to this article. https://github.com/dbeaver/dbeaver/wiki/Importing-CA-Certificates-into-DBeaver

or check this related tickets: #15647, #15612

[2022-05-27 08:14] datenbank-projekt commented on #16563
Hi,

**this is from dbeaver:**
-- mydatabase.dbo.tbl_texte definition

-- Drop table

-- DROP TABLE mydatabase.dbo.tbl_texte;

CREATE TABLE tbl_texte (
	id int IDENTITY(834,1) NOT NULL,
	textnummer int DEFAULT 0 NOT NULL,
	text nvarchar COLLATE Latin1_General_CI_AS NOT NULL,
	tbl_firma_id int NOT NULL,
	beschreibung nvarchar(255) COLLATE Latin1_General_CI_AS DEFAULT N'' NOT NULL,
	textTyp int DEFA

[2022-05-27 09:05] erxiaoouba opened #16618 "每次重新打开后再选择打开SQL控制台执行SQL就提示: SQL 错误 [1046] [3D000]: No database selected"
选择数据库连接右键重新连接也不能执行, 上次关闭时没有手动选择关闭连接, 再次打开时还是连接状态, 可以正常打开表等

可不可以每次重新打开后继续使用上次关闭前的数据库连接呢

1. ![image](https://user-images.githubusercontent.com/30993388/170668125-4603ec1b-4d8e-4f67-9469-aa856a9a9036.png)

2. ![image](https://user-images.githubusercontent.com/30993388/170668182-c07a0178-6282-4fac-8f38-050bb86a9f99.png)

3. ![image](https://user-images.githubusercontent.com/30993388/170668221-69af3b