[2021-11-17 14:47] dbajaj1 commented on #9326
I am on the latest version

[2021-11-17 14:47] dbajaj1 commented on #9326
Ie, Monterey

[2021-11-17 14:47] dbajaj1 commented on #9326
@Matvey16

[2021-11-17 14:57] tcampbPPU commented on #14551
Thanks for the update! @Matvey16

[2021-11-17 15:32] keithschaller79 commented on #14540
It is a custom built JDBC driver (not commercially available) and the
database is Ingres 10.2

[2021-11-17 15:38] Hepcat456 opened #14590 "SQLite : can not add index with GUI. Can be added with own written DDL"
#### System information:
- Windows 10 21H1 (Os Build 19043.1288)
- 21.2.5.202111141807
- sqlite-jdbc-3.36.0.3.jar

#### Connection specification:
- SQLite3
- Driver sqlite-jdbc-3.36.0.3.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NO

#### Describe the problem you're observing:
Create index context not visible anymore in GUI. Was visible before. Can create index with SQL statement

####

[2021-11-17 17:50] rrousselot opened #14591 "Add Python to Copy SQL as source code"
**Is your feature request related to a problem? Please describe.**
Python is currently the most popular programming language on the planet.  Give it some love.

**Describe the solution you'd like**
Add an option for Python multi line formatting.

**Describe alternatives you've considered**
Do it manually now.

**Additional context**
output example..

"CREATE TABLE Example AS " \
        "SELECT Bl

[2021-11-17 19:04] ShadelessFox commented on #14591
Hello @rrousselot,

Thanks for feature request.

Are you certain that provided snippet is a valid Python code? Looks more like a C-way of string concatenation.

Did you mean something like this?

[code]

[2021-11-17 19:26] rrousselot commented on #14591
I think the \ are optional so it would only need to encase each line with "

Or use """ (triple quotes) at beginning (first line) and end (last line) as you a have shown.

Six of one, half dozen the other; I have no preference.

python - Pythonic way to create a long multi-line string - Stack Overflow<https://stackoverflow.com/questions/10660435/pythonic-way-to-create-a-long-multi-line-string>

I

[2021-11-17 19:50] ivanlonel commented on #6077
Is there any chance this could be used to manage [pg_cron](https://github.com/citusdata/pg_cron) jobs as well?

[2021-11-17 19:51] maxzmiz opened #14593 "DBeaver crashes when opening up existing/creating new SQL Editor, connecting thru ODBC connection to Impala"
#### System information:
- Operating system (distribution) and version
***Windows 10 Enterprise version Version 10.0.18363***
- DBeaver version
***Community Edition 21.2.5***
- Additional extensions

#### Connection specification:
- Database name and version
***ODBC connection to Impala (DSN 64bit set as datalake_prod in this case) ***
- Driver name
***Cloudera ODBC Driver for Impala 2.6.10 64bit*

[2021-11-17 20:55] JamesInform opened #14594 "[PostgreSQL] - Array incorrectly shown in record view"
DBeaver 21.2.5 on Mac (PostgreSQL 13.5)

From the following screenshot you can see, that the first field (an array with null value) is not displayed correctly. It is displayed like an empty array showing length 0. But thats incorrect.

![image](https://user-images.githubusercontent.com/38714600/142280865-dd306972-6882-4e0d-a725-3f063a130a34.png)

[2021-11-17 22:02] nathan-alden-sr commented on #3141
Yep. Scaling needs to be handled by the actual UI framework and the OS settings working in concert. Frameworks like WPF and UWP handle this kind of thing natively. Not sure if that's possible with whatever Java UI framework is in use here, but high DPI support is table stakes for modern Windows apps.

Think how all Electron apps can scale seamlessly (VS Code in particular).

Additionally, there ar

[2021-11-18 01:29] flykarry commented on #14299
yes ,it is actual, I insert a value to other db then the db5 show keys

[2021-11-18 01:47] wangqian-49 opened #14595 "After compilation, the startup page cannot be displayed"
#### System information:
- Operating system (distribution) and version:Windows10
- DBeaver version:21.2.2
- Java version :jdk 11.0.2
- Additional extensions:nothing

#### Describe the problem you're observing:
The compiled startup page cannot be displayed
#### Steps to reproduce, if exist:
Download the source code of 21.2.2, compile it with mvn package, and then enter the directory:  product \ com

[2021-11-18 04:45] SiliconBadger opened #14596 "Build for ppc64le"
**Is your feature request related to a problem? Please describe.**
I built according to the directions prescribed here, which was simply to clone the repo, cd into it, and issue:
`mvn package`

The build completed successfully, but in checking under product/community/target/products/org.jkiss.dbeaver.core.product/linux/gtk/ the only architecture listed is x86_64, while I need to build for ppc64le.

[2021-11-18 06:06] #14416 closed, assigned to nobody

[2021-11-18 06:10] ghy-forever commented on #14340
@Matvey16 How could I attach the log file? Will it be created after reproducing this bug automatic?

[2021-11-18 06:23] serge-rider commented on #13654
Now DBeaver will use custom URL whenever it is specified.
Note: you need to create a new driver based on MySQL/PostgreSQL/etc provider to be able to edit URL template.

[2021-11-18 07:06] Matvey16 commented on #14340
Yes, all errors are written to log automatically. The file is named .log and is located in `C:\Users\user_name\AppData\Roaming\DBeaverData\workspace6\.metadata`

[2021-11-18 07:18] ghy-forever commented on #14340
![1](https://user-images.githubusercontent.com/4074318/142369734-1bc267db-ea9d-419e-9f2d-db4c50bf1130.png)
![2](https://user-images.githubusercontent.com/4074318/142369760-fca0341b-670a-4001-a475-074fb261e4a7.png)
![3](https://user-images.githubusercontent.com/4074318/142369783-3dddb26a-49ef-4311-a186-7741bfe95e8f.png)
![4](https://user-images.githubusercontent.com/4074318/142369794-8bf04c1a-8afd-

[2021-11-18 07:24] spassignat commented on #13654
Hello, that looks great ! thanks.

Will this be available in the next update ?

[2021-11-18 08:19] uslss commented on #12071
Target container in data transfer could be chosen only for pg-like database with simple view enabled. No catalogs are shown for connections with Advanced view
![image](https://user-images.githubusercontent.com/31996417/142377868-5cb1af84-a98a-4584-ac8e-45538d0325a0.png)

[2021-11-18 08:22] uslss commented on #12071
Create role is available in Roles catalog, but Role cannot be created
![image](https://user-images.githubusercontent.com/31996417/142378416-415e89e1-9a09-4e3f-aa72-0ecfced395c4.png)
[code]

[2021-11-18 08:28] LonwoLonwo commented on #14590
Hello @Hepcat456

Thanks for the bug report!
This is a side effect of https://github.com/dbeaver/dbeaver/issues/12117

Will be fixed.

[2021-11-18 08:30] uslss commented on #14565
verified.
Fix will be available in 21.3.0

[2021-11-18 08:30] #14565 closed, assigned to serge-rider, uslss

[2021-11-18 08:34] uslss commented on #6045
will be fixed in 21.3.0
![A8evZCT8P0](https://user-images.githubusercontent.com/31996417/142380104-c6d232c3-0bfb-4b5f-86b3-cffa1f20a750.gif)

[2021-11-18 08:34] #6045 closed

[2021-11-18 08:36] uslss commented on #14372
verified

[2021-11-18 08:36] #14372 closed, assigned to uslss, ShadelessFox

[2021-11-18 08:44] ShadelessFox commented on #12319
The problem is that scrollbars are not updated accordingly. It can be seen upon resizing SQL editor panel.

[2021-11-18 09:05] uslss commented on #12071
objects permissions cannot be opened
![image](https://user-images.githubusercontent.com/31996417/142384731-b0d0b921-b051-4a86-8d8d-054b5a4ca220.png)

[2021-11-18 09:57] uslss opened #14599 "NPE appears in case of typing in sql editor for not reconnected connection"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.2.5

#### Connection specification:
- Database name and version postgresql
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Steps to reproduce, if exist:
1. Connect to database and wait until it disconnects
2. Open SQL editor for mentioned connection (connection is not invalidate

[2021-11-18 10:07] uslss commented on #14593
thanks for the report

[2021-11-18 10:08] serge-rider opened #14601 "Auto-recover of corrupted projects"
When project description is corrupted (file `.project` is missing) then there is no possibility to open this project.
We need to support auto-recover of such corrupted project (create empty project metadata).

Currently project open fails with error `The project description file (.project) for my project is missing.`

[2021-11-18 10:09] serge-rider commented on #14601
Fixed

[2021-11-18 10:13] uslss commented on #14594
thanks for the report

[2021-11-18 10:15] uslss commented on #14588
thanks for the report

[2021-11-18 10:24] Matvey16 commented on #14561
Verified

[2021-11-18 10:24] #14561 closed, assigned to Destrolaric, Matvey16

[2021-11-18 10:25] #13575 closed, assigned to Destrolaric, uslss

[2021-11-18 10:32] Matvey16 commented on #9326
@dbajaj1 Could you please record another video, but with more visible details. Particularily I need to see what happens in background tasks and database navigator. If you have sencible information you can use blank scripts and hide hosts names in navigator.
![NntrvTF3Ph](https://user-images.githubusercontent.com/82543000/142398968-39b5b72d-11cb-4705-a815-fab8cb12d405.png)

How to open background t

[2021-11-18 10:44] nachum-shmilovitz opened #14603 "Can't see text in dbeaver after last upgrade, mac pro 2019, bigsur"
See what happened after the last upgrade
i am working with mac, Big sur OS in dark mode
moving to light mode , make things better when removing the using theme oprion

![image](https://user-images.githubusercontent.com/45429821/142400657-a183f572-362f-4e9f-b74e-cbbf07b51375.png)

![image](https://user-images.githubusercontent.com/45429821/142400784-4e0108c6-2902-4fa2-88fe-18b641b82b54.png)

[2021-11-18 11:08] serge-rider commented on #12071
All fixed

[2021-11-18 11:37] LuckyPickleZZ commented on #13596
@tati-kru Hello, our team discussed it and decided to give up the PR of Oracle mode for the time being. Could you please add our plugin to the next release and let our users use it first?

[2021-11-18 11:59] tati-kru commented on #13596
@LuckyLeoZZ we cannot include your plugin to the release without the fixes mentioned above. Please, fix them and we can move forward.

[2021-11-18 12:09] LuckyPickleZZ commented on #13596
Thanks al lot. I see what you mean. We'll fix these soon.

[2021-11-18 12:16] ShadelessFox commented on #13801
Hello @DevJackSmith,

Can you please provide the very first line contained inside your private key file? The line contains a special header describing format in which key is stored.

[2021-11-18 13:25] pedzed commented on #13801
@ShadelessFox Using `ssh-keygen -t ed25519`:
[code]

[2021-11-18 13:26] ShadelessFox commented on #13801
Thanks.

[2021-11-18 13:34] uslss commented on #12071
verified

[2021-11-18 13:36] uslss commented on #12319
verified

[2021-11-18 13:36] #12319 closed, assigned to uslss, ShadelessFox

[2021-11-18 13:52] LuckyPickleZZ commented on #13596
https://github.com/dbeaver/dbeaver/pull/14607
Please check this. I've made some impovements.

[2021-11-18 13:59] serge-rider opened #14608 "Update status icons"
We need to replace legacy Eclipse status icons with new ones.

New icons: SMALL_ERROR, SMALL_WARNING, SMALL_QUESTION and SMALL_INFO

[2021-11-18 14:41] LonwoLonwo commented on #6135
Problem with “Unsupported vector type: com.edb.util.PGobject” fixed for EDB driver in DBeaver 21.3.0

But.
We changed the standard driver for EnterpriseDB connection on the PostgreSQL driver.
If you want to use EnterpriseDB driver:

1. Go to connection settings -> "Edit Drivers Settings" Dialog ->"Libraries" tab and delete PostgreSQL driver.
2. Add your driver with the "Add File" tab.
3. Change dr

[2021-11-18 14:54] ShadelessFox commented on #7890
Hello @Jnb2387,

Can you please verify that the issue persists on the latest version?

[2021-11-18 15:33] Jnb2387 commented on #7890
@ShadelessFox
I am on version 21.2.5 with no change, I am still **not** able to drag a column to set it in a new position.

[2021-11-18 16:28] ShadelessFox commented on #7890
@Jnb2387

That's unfortunate. Is it possible to record a video showing this behavior?

[2021-11-18 16:49] Mazino-Urek commented on #14608
Hello, I would like help with icons of `dbeaver`, if required. I have some experience in this field.

[2021-11-18 18:17] PedroReus opened #14612 "Connection to csv, txt and xlsx"
Dear

Along with saying hello, I present the following query, I try to import a file in csv or text or xlsx format, but I don't know where I should connect and how the connection is managed in relation to the configuration

[2021-11-18 19:54] flambchap commented on #14441
Hello @rajeevmenon11. We've scheduled this ticket for the 21.3.1 release, although we cannot guarantee that we will implement it in that version.

[2021-11-18 20:20] LonwoLonwo commented on #14612
Hello @PedroReus

If I understand you correctly, do you have the file with some data? What kind of data it is? Any database-specific fields (like timestamp with timezone)? Maybe you know, what database was used when creating this file?

[2021-11-18 21:38] stogdan opened #14613 "Version upgrade on M1 (aarch64) beta build installs Intel version instead of arm"
#### System information:
- Operating system (distribution) and version: macOS 12.0.1 Monterey
- DBeaver version: 21.2.4 (aarch64) M1 Beta
- Additional extensions: none

#### Connection specification:
- Database name and version: Not relevant
- Driver name: Not relevant
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: No

#### Describe the problem you're observing:

#### Steps to reproduce, if e

[2021-11-18 22:16] #13171 closed, assigned to riednyko

[2021-11-18 23:44] LonwoLonwo commented on #12071
[code]

Roles -> Permissions

[2021-11-19 00:58] PedroReus commented on #14612
Hello, I actually have files in csv, txt and xlsx format which I need to import in order to join. The data I have is of type number, text and dates.
Therefore I need to know how to connect and configure the import of these files to DBeaver correctly.
It would be helpful if you can show me the step by step or coordinate a video call to know what I should do

[2021-11-19 01:38] Lkledu commented on #14474
i guess this could be a good first issue that i'll try to resolve

[2021-11-19 05:08] ShadelessFox commented on #14608
Hello @nowshed-imran,

Thanks for reaching out! In fact, we do have required icons already, we just need to make use of them. See bb26dc2

[2021-11-19 05:17] SiliconBadger commented on #14596
With the help of someone on the voidlinux-ppc IRC channel, I got it built.  It just needed another environment added in pom.xml.  I'd like to get this change reviewed and incorporated, but I've never made a pull request before, and after checking GitHub's docs about it, I'm still not sure how to proceed.  I made a new local branch and applied the change, but I don't know where to go from here, and

[2021-11-19 06:18] ShadelessFox commented on #13801
@pedzed can you try converting it manually using `ssh-keygen -p -f path/to/your/key -m pem` to see if it helps? Make sure you're using JSCH implementation.

[2021-11-19 06:20] pedzed commented on #13801
Perhaps the original poster would be willing.

I am satisfied with SSHJ, which solved my problem. All I would like to see is that it would be installed and preferably chosen by default.

[2021-11-19 06:24] ShadelessFox commented on #13801
Thanks anyway.

Unfortunately, we can't ship SSHJ by default because it depends on several libraries that are just too big to include.

[2021-11-19 06:37] ShadelessFox commented on #14613
Hello @stogdan,

Thanks for report.

[2021-11-19 06:58] Matvey16 commented on #14601
Verified

[2021-11-19 06:58] #14601 closed, assigned to serge-rider, Matvey16

[2021-11-19 07:21] LonwoLonwo commented on #14612
Ok. We have much helpful info in our Wiki: https://github.com/dbeaver/dbeaver/wiki

You can read about the new connection here: https://github.com/dbeaver/dbeaver/wiki/Create-Connection
About data import here: https://github.com/dbeaver/dbeaver/wiki/Data-transfer#importing-data-from-csv-format

Also, you can add the folder with your CSV (only CSV) files as a separate connection.

![2021-11-19 10_1

[2021-11-19 07:28] Matvey16 commented on #14543
@s0me0ther Do you have any other extensions installed?

[2021-11-19 07:44] s0me0ther commented on #14543
No, only DBeaver itself

[2021-11-19 07:51] hardikhari96 opened #14614 "Need List of functions in mariadb"
No Custom created function getting in software

[2021-11-19 08:21] LonwoLonwo commented on #14614
Hello @hardikhari96

What DBeaver version do you use?
What MariaDB version do you use?

Did you try to find your functions in the Procedures tab?

![2021-11-19 11_20_26-DBeaver Ultimate 21 2 5 - AccessType_202009031659](https://user-images.githubusercontent.com/45152336/142589531-dddf7e4d-fa01-43e6-bc03-c0574bd6f97d.png)

[2021-11-19 08:25] uslss commented on #14331
there is no update on the issue for a long time. if it is still actual for you - feel free to reopen it with additional info

[2021-11-19 08:25] #14331 closed, assigned to nobody

[2021-11-19 08:29] uslss commented on #14298
thanks for the report and clarification

sorry for the late response

[2021-11-19 08:30] uslss commented on #14178
there is no update on the issue. If it is still actual - feel free to reopen it with additional info

[2021-11-19 08:30] #14178 closed, assigned to nobody

[2021-11-19 08:32] uslss commented on #14229
@Ankit281096 sorry for the late response. unfortunately, cannot reproduce the issue. Is it still actual for you?

[2021-11-19 08:33] uslss commented on #14406
there is no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info

[2021-11-19 08:33] #14406 closed, assigned to nobody

[2021-11-19 08:34] uslss commented on #14381
there is no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info

[2021-11-19 08:34] #14381 closed, assigned to flambchap

[2021-11-19 08:34] #14410 closed, assigned to nobody

[2021-11-19 08:39] #14490 closed, assigned to nobody

[2021-11-19 08:40] #14408 closed, assigned to nobody

[2021-11-19 08:44] uslss commented on #14525
unfortunately, pictures that are sent from email are not visible. Could you add pic once again? thanks in advance
![image](https://user-images.githubusercontent.com/31996417/142592739-f508e2fb-84d7-47e2-9637-1ebdcc92980d.png)

[2021-11-19 08:48] uslss commented on #12375
@sergy1 is the issue still actual for you against 21.2.5?

[2021-11-19 08:50] uslss commented on #12064
@db2zosuser is the issue still actual against 21.2.5 version?

[2021-11-19 08:51] uslss commented on #10250
closed as a duplicate of #10852

[2021-11-19 08:51] #10250 closed

[2021-11-19 08:52] uslss commented on #12753
@Koi7 is it still actual for you?

[2021-11-19 08:54] uslss commented on #6213
is it still actual?

[2021-11-19 09:53] Bkingkam commented on #14525
[image: image.png]

On Fri, Nov 19, 2021 at 3:44 PM Dziyana ***@***.***> wrote:

[2021-11-19 09:59] LonwoLonwo commented on #14590
![2021-11-18 15_49_32-DBeaver Ultimate 21 2 5 - Album](https://user-images.githubusercontent.com/45152336/142418549-1ae8c863-4528-4fdc-8cd8-860341dbc6b8.png)

Ability to create/drop indexes returned.

[2021-11-19 10:00] serge-rider commented on #12071
Fixed

[2021-11-19 10:04] Hepcat456 commented on #14590
Thnx for the quick fix!

Regards,
Jonas

From: Anastasiya ***@***.***>
Sent: vrijdag 19 november 2021 10:59
To: dbeaver/dbeaver ***@***.***>
Cc: Jonas Langewouters ***@***.***>; Mention ***@***.***>
Subject: Newsletter/marketing: Re: [dbeaver/dbeaver] SQLite : can not add index with GUI. Can be added with own written DDL (Issue #14590)

CAUTION: This email originated from outside of the organizati

[2021-11-19 10:13] uslss commented on #12071
verified

[2021-11-19 10:13] #12071 closed, assigned to serge-rider, uslss

[2021-11-19 10:16] uslss commented on #14590
verified

[2021-11-19 10:16] #14590 closed, assigned to uslss, LonwoLonwo

[2021-11-19 10:36] Destrolaric commented on #13909
Oracle needs ESCAPE notation to be added to properly parse any character after \ probably it is not only oracle which needs it.

[2021-11-19 10:56] plmmihail opened #14618 "Attribute quoting error in filter"
#### System information:
- Operating system (distribution) and version
Linux. The same on Fedora, Mint, Ubuntu

- DBeaver version
21.2.4

- Additional extensions
 No

#### Connection specification:
- Database name and version
Oracle 10 **_Maybe other DBs affected._**

- Driver name
Standard, artifact  from maven

- Do you use tunnels or proxies (SSH, SOCKS, etc)?
No

#### Describe the problem you'

[2021-11-19 11:03] mackers2 commented on #14578
I only have global settings - I only started using dBeaver in the last couple of weeks so don't know my way around it well yet.
![image](https://user-images.githubusercontent.com/94457559/142612270-cc66c060-8346-4a5d-ac79-681e57fc730e.png)

[2021-11-19 11:36] flambchap opened #14619 "Update to JDK 11.0.13 and JDK 17.0.1"
The new versions of OpenJDK are out, so we can upgrade our bundled JREs.

[2021-11-19 11:37] PedroReus commented on #14612
I've been looking at what you wrote me yet I can't connect to a csv or txt file.
What I do is the following
1) I select the connector
![image](https://user-images.githubusercontent.com/91746607/142616501-16909365-739f-49e2-a73e-7fee50b77b54.png)
2) I get the following configuration, I understand that I must look for the path of the files in csv format
![image](https://user-images.githubusercontent

[2021-11-19 12:01] sergy1 commented on #12375
Hi @uslss, I just have checked 21.2.5 it is still actual

[2021-11-19 12:04] Matvey16 commented on #14551
@tcampbPPU Repository has been updated, you can try to update Dbeaver version
![66751818-8009-4477-b4c6-6e63b1f125f9](https://user-images.githubusercontent.com/82543000/142620221-67be2840-76ea-4db3-a3af-a1e99708e516.png)

[2021-11-19 12:47] flambchap opened #14620 "Find local clients on Linux & macOS under AArch64"
We already do that on Windows and [macOS on x86_64](https://github.com/dbeaver/dbeaver/issues/7976). Now it's time to do the same on Linux and on macOS under AArch64.

It's a standard practice to add a symlink to `/usr/bin/` for pretty much all the binaries that we need to find. Using such symlinks, we can discover the location of local clients. We can also try to locate something in such folders

[2021-11-19 13:36] tcampbPPU commented on #14551
Hi @Matvey16 this is still what I am seeing
![image](https://user-images.githubusercontent.com/25044744/142631232-d013c565-4469-415f-8606-853a16b03f95.png)
![image](https://user-images.githubusercontent.com/25044744/142631347-08d2a662-f32e-4f1d-864e-fed7c8b05fba.png)

If I manual install from .deb file, will I loose all my connection presets I currently have saved?

[2021-11-19 13:57] ShadelessFox commented on #14526
Can't reproduce against DBeaver 21.2.5 on macOS 12.0.1

https://user-images.githubusercontent.com/35821147/142634103-21120d9e-b387-459d-91fb-aee9c07d0f86.mov

[2021-11-19 14:26] LonwoLonwo commented on #14618
Hello @plmmihail

Thanks for the bug report.

As I can see, it works fine to apply filter criteria in the table data editor.

![2021-11-19 17_21_25-DBeaver Ultimate 21 2 5 - TEST_QUOTES](https://user-images.githubusercontent.com/45152336/142638274-09225174-0a2c-48ab-bb0c-4e65349527fd.png)

And also works fine if I use select * from, not specific column names in a query in the SQL Editor.

But it f

[2021-11-19 15:39] LonwoLonwo commented on #14612
Maybe you have some connection restriction for DBeaver, I don't know.

You can add download and add driver manually in the Connection Settings -> Edit Driver Settings -> Libraries -> Add File/Download

![2021-11-19 18_32_57-DBeaver 21 1 0 - system 2](https://user-images.githubusercontent.com/45152336/142649286-cd12af9e-c3ad-4066-8e2d-87f476a82384.png)

![2021-11-19 18_33_43-Connect to a database](

[2021-11-19 15:46] db2zosuser commented on #12064
In the meantime we removed on our side all the outdated LDAP entries and could reduced the file size from 17MB to ~2MB, which lead to a major performance improvement when editing Oracle connection in DBeaver. Currently we encounter only a short latency when editing Oracle connections compared to other RDBMS (DB2, MSSQL, ...). and we also upgraded to DBeaver 21.1.2. Currently I do not see any perfo

[2021-11-19 15:48] logicalup commented on #13801
so then we need to find another way for dbeaver to use ED25519 format, which is quickly becoming the default format for ssh keys. It's very easy to create one in case you want to experiment with it: `ssh-keygen -t ed25519` (then add the new public key to any of your servers and try to connect to it using dbeaver with new private key). See my steps to reproduce in the description of this issue.

[2021-11-19 15:49] logicalup commented on #13801
the other way to ~fix~ workaround this is not to delete SSHJ when installing new version, or reinstall it automatically and make it default upon first run. (but this would still be a workaround rather than a fix, since new users will still get this error and not be able to use ssh keys by default)

[2021-11-19 15:52] logicalup commented on #13801
converting it as you asked for doesn't work, i also mention that in the description: https://github.com/dbeaver/dbeaver/issues/13801#issuecomment-913205219

[2021-11-19 15:52] LonwoLonwo commented on #14586
Index loading can be very long if you have many tables in the schema.
Have you many tables in the schema?

And what Teradata driver version do you use?

[2021-11-19 16:00] flambchap commented on #13066
We'll only do Cassandra in this ticket.

[2021-11-19 16:02] #13066 closed, assigned to flambchap

[2021-11-19 16:04] flambchap opened #14623 "Add Metadata Search in Commets for DB2"
The initial work was done in the scope https://github.com/dbeaver/dbeaver/issues/13066.

[2021-11-19 16:04] flambchap opened #14624 "Add Metadata Search in Commets for SAP HANA"
The initial work was done in the scope https://github.com/dbeaver/dbeaver/issues/13066.

[2021-11-19 16:25] ShadelessFox commented on #13801
Ah, missed that, sorry. Thanks for reply. Seems like JSCH does not support ED25519 (some googling confirmed that).

The idea of backing up installed extensions is really cool and we want to implement it in the future, and looks like this is the one real solution of this problem.

For now, the workaround is already known.

[2021-11-19 17:12] logicalup commented on #13801
1. backing up installed extension is not a solution, as it won't fix the issue for new installs
2. the current workaround is **really really really annoying**, one has to reinstall (which takes good 20 steps) every single time there's an update to DBeaver.

Not sure how to explain the weight of breaking DBeaver every single time there's an update.
Every release that doesn't include a fix for this

[2021-11-19 17:27] PedroReus commented on #14612
I was able to connect with the csv format. (Thanks for the support).

Now I don't know if DBeader can do the same for files (tables) in xlsx or txt format?

[2021-11-19 17:37] bitadmiral opened #14625 "Add option to omit object comments when retrieving object metadata for Vertica database objects"
Hi, I recently upgraded from DBeaver 4 to 21.2.4.202111011413, and find the UI to be very slow and even unresponsive compared to the older version.  I believe it has to do with the fact that the modern DBeaver gathers much more metadata on the database objects (which is nice).  I've traced the problem to background queries that retrieve object metadata, specifically any query that involves Vertica

[2021-11-19 18:04] yonisade opened #14626 ""DataSourceEditorInput cannot be cast to class" error when trying to rename an object"
#### System information:
- Operating system (distribution) and version: Windows 10 64 bit
- DBeaver version: 21.2.4.202111011413
- Java version: 1.8

#### Connection specification:
- Database name and version: MySQL v8.0.27
- Driver name: MySQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Sometimes when I try to rename a table in Da

[2021-11-19 20:49] m2art commented on #6213
Yes. Problem still exist. Do you have some solution or any body else have idea how to solve this issue?

[2021-11-20 06:54] p91paul commented on #13909
yep, \ isn't an escape symbol unless you explicitly tell oracle it is in the exclude clause for like, so I think this is expected.
What happens if you include them both, then use the exclusion filter to remove the dwh2xyz?

[2021-11-21 09:31] gthbusr0 opened #14627 "both versions 21.2.4.202111011413 AND 21.2.5.202111141807 trying to check for updates OR add any driver sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target"
#### System information:
- Operating system (distribution) and version
- DBeaver version: Version 21.2.4.202111011413
- Java version : jdk1.8.0_202/jre1.8.0_202
- Additional extensions: none

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

in

[2021-11-22 05:09] lkebin opened #14628 "Crash when query result include binary data"
#### System information:
- Operating system (distribution) and version
   macOS 12.0.1 (21A559) Apple M1
- DBeaver version
   Version 21.2.5.202111141807
- Additional extensions
   No

#### Connection specification:
- Database name and version
   MySQL 8.0.25
- Driver name
   MySQL Connector/J [mysql-connector-java-8.0.17 (Revision: 16a712ddb3f826a1933ab42b0039f7fb9eebc6ec)])
- Do you use tunnels

[2021-11-22 06:34] Matvey16 commented on #13654
Can't edit URL for MySQL and SQL Server drivers, even if they are copies

![JPZ7xbL078](https://user-images.githubusercontent.com/82543000/142813380-0ffa0d60-8a0b-4e19-96a6-9261f5734711.gif)

[2021-11-22 07:12] Matvey16 commented on #14551
@tcampbPPU Strange, we will look into that.

No, all your project and workspace metadata is stored in separate directory, so it will not change if you reinstall from .deb file. Note that the above rule is not applicable for snap version, because snap forces apps to save everything in the same directory.

[2021-11-22 07:15] uslss commented on #13725
verified

[2021-11-22 07:15] #13725 closed, assigned to uslss, ShadelessFox

[2021-11-22 07:37] vrkadiyala commented on #14586
Hi, 
There are lot of tables. But, I was not facing this issue in earlier versions. 
I have shared the Teradata drivers in the issue. 
Warm Regards,
K. V. rao
    On Friday, 19 November, 2021, 09:23:09 pm IST, Anastasiya ***@***.***> wrote:

Index loading can be very long if you have many tables in the schema.
Have you many tables in the schema?

And what Teradata driver version do you use?

—
You

[2021-11-22 08:21] Matvey16 commented on #14527
Making changes to URL creates additional artifacts

![aVp10RjSP5](https://user-images.githubusercontent.com/82543000/142826946-748c7446-4bd3-4279-85dc-3e9ddcae0d76.gif)

[2021-11-22 08:34] uslss commented on #14628
@lkebin unfortunately, cannot reproduce it. does dbeaver crash on select execution? Could you provide [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files)? Video with the issue also will be very helpful
![image](https://user-images.githubusercontent.com/31996417/142828443-b4f52d57-6878-4aa3-b004-1ced7ef6c09b.png)

[2021-11-22 08:38] uslss commented on #13532
unfortunately, still cannot reproduce. Is it still actual for you?

[2021-11-22 08:52] uslss commented on #14525
unfortunately, picture uploaded using email aren't visible. Please, upload picture through github UI

[2021-11-22 08:57] uslss commented on #12753
probably duplicates #5322

[2021-11-22 09:03] lkebin commented on #14628
Seems it's working with no crash now.

I didn't find anymore logs when crash, will capture a video when crash appears again.

Thanks

[2021-11-22 09:10] flambchap commented on #14627
Hello @iDeepMind. Do you work under a corporate network behind some proxy?

[2021-11-22 09:30] Skydiveroid commented on #14551
Hi there, @tcampbPPU.

_wget -O - https://dbeaver.io/debs/dbeaver.gpg.key | sudo apt-key add -
echo "deb https://dbeaver.io/debs/dbeaver-ce /" | sudo tee /etc/apt/sources.list.d/dbeaver.list_

Please add a repository shown above and this should solve the problem

[2021-11-22 09:35] borkie commented on #9188
Same problem here on Debian 11 with Wayland

[2021-11-22 09:37] flambchap opened #14634 "Name of the General project doesn't change in the bottom toolbar"
#### System information:
- Operating system (distribution) and version Win 11
- DBeaver version 21.2.5 CE

#### Steps to reproduce, if exist:
1. Rename the General project
2. In the Projects tab, select this project
3. Take a look at the left bottom corner of DBeaver window

![image](https://user-images.githubusercontent.com/26031301/142837652-1219e7d6-0e8c-4b97-8859-f4f92bab8473.png)

[2021-11-22 09:40] ShadelessFox opened #14635 "Include SSHJ extension by default"
Currently, the SSHJ extension is not bundled with DBeaver. Instead, it can be downloaded and installed separately.

It was done because this extension had a dependency on a big cryptographic library that is now bundled with Eclipse.

[2021-11-22 09:40] ShadelessFox commented on #13801
I created a separate issue about bundling SSHJ by default. See #14635

[2021-11-22 09:40] #13801 closed, assigned to ShadelessFox

[2021-11-22 10:38] rajeevmenon11 commented on #14441
Okay thank you. Our Sybase users are unable to perform the operations due to missing of GRANT statements.

[2021-11-22 11:02] Matvey16 commented on #14551
I had the same problem while testing. To solve it you need to first add repository like mentioned above
[code]
Then restart your machine and upgrade with `sudo apt-get --only-upgrade install dbeaver-ce`

[2021-11-22 11:33] Matvey16 commented on #14013
Verified

[2021-11-22 11:33] #14013 closed, assigned to ShadelessFox, Matvey16

[2021-11-22 11:38] serge-rider commented on #5704
Now DBeaver uses OS certificate storage. Please test the fix in the Early Access version (https://dbeaver.io/files/ea)

[2021-11-22 11:45] LonwoLonwo commented on #14441
@rajeevmenon11 permissions for that?

[2021-11-22 11:52] LonwoLonwo commented on #14612
DBeaver can not open XLSX or txt files as tables. Only CSV.

Also, the ability to use import from XLSX file you can use only in [DBeaver commercial version](https://dbeaver.com/).

[2021-11-22 12:39] p91paul commented on #14612
@PedroReus for txt, it depends on the content. If the txt is actually similar to a csv (fields delimited by something) the csv connection lets you specify delimiter and extension.

[2021-11-22 12:42] PedroReus commented on #14612
@p91paul Perfect, and in relation to the excel (xlsx) format, could the csv connection be used?

[2021-11-22 12:51] serge-rider commented on #13654
@Matvey16 This is not a bug (I think). Copy copies all settings including restriction to edit URL.
Create new driver using MySQL or SQL Server provider and then you can edit URL.

[2021-11-22 13:09] Matvey16 commented on #13654
Verified

[2021-11-22 13:09] #13654 closed, assigned to serge-rider, Matvey16

[2021-11-22 13:17] #14612 closed, assigned to nobody

[2021-11-22 13:40] plmmihail commented on #14618
Thanks for examples and review, @LonwoLonwo!
1. In my case there is no filtering from table as object of the main object tree. I have filtered a result of query.
There is difference between something like
`SELECT '*', SYSDATE ,k.*  FROM t1 k `
(**correct quoting**)
and
[code]
I think, there is a problem in DBeaver's query analytic functions.
2. Yes, ResultSet have a lock sign in my case
![изображе

[2021-11-22 13:50] kseniiaguzeeva commented on #14526
The issue is in focus. When I
1. click on a checkbox and press Ok, the option isn't applied
2. click on a checkbox, press on field of the dialog and press Ok, the option is applied

https://user-images.githubusercontent.com/51405061/142873009-b009c84b-acb2-4ca9-a215-256b191bb4c3.mov

[2021-11-22 13:54] Destrolaric opened #14639 "[PostgreSQL 14] Support of multirange data types."
#### System information:
- Windows 10
- Devel Branch(last commit 14548 SQL Server data types read fix)

#### Connection specification:
- PostgreSQL 14
- PostgreSQL JDBC Driver
- SSH
#### Describe the problem you're observing:
When trying to connect we get this error in debug log.
`No enum constant org.jkiss.dbeaver.ext.postgresql.model.PostgreTypeType.m`

#### Steps to reproduce, if exist:
Open ou

[2021-11-22 15:25] serge-rider commented on #14161
Fixed

[2021-11-22 15:42] serge-rider commented on #14593
Fixed

[2021-11-22 16:36] hufersil commented on #13532
Hi!

I didn't tested with the newest version.
I'll test it and make a video, and if it is still happening, I'll send the video it to you.

thanks in advance!

[2021-11-22 16:40] tcampbPPU commented on #14551
Thank you both very much @Skydiveroid & @Matvey16!
![image](https://user-images.githubusercontent.com/25044744/142900436-ea4459a8-bf5e-494b-b57f-7798704eb1e4.png)
![image](https://user-images.githubusercontent.com/25044744/142900242-51dfa16e-6390-4266-86d6-5b3c623b31ab.png)

[2021-11-22 16:41] #14551 closed, assigned to nobody

[2021-11-22 16:46] serge-rider commented on #14133
There was an error in project security preference page. If project node wasn't expanded before settings change then connection settings will be lost after encryption enable + password change.

Fixed.

[2021-11-22 16:47] LonwoLonwo commented on #14557
rowid columns in Cockroach: https://github.com/cockroachdb/cockroach/issues/3293

[2021-11-22 16:53] rajeevmenon11 commented on #14441
sorry, didn't get you.

[2021-11-22 16:55] serge-rider commented on #13596
@LuckyLeoZZ is there any cloud service where we can test the driver? Or maybe a standalone version of OceanBase?

[2021-11-22 20:33] eshirvana commented on #13587
Closing this issue ,, since it's been fixed

[2021-11-22 22:12] gthbusr0 commented on #14627
yes & the same installation on another company machine has no issues updating. java home is set & even is the 1st in path.

even explicitly added dbeaver.io/dbeaver.com cert directly to cd C:\Program Files\Java\jdk1.8.0_202\jre\lib\security\ via keytool
& still encountering the same issue.

keytool -import -trustcacerts -keystore cacerts -file C:\Users\EUKJG\Downloads\dbeaver.cer
keytool -import -

[2021-11-23 02:36] hufersil commented on #13532
It is still happening. I made a video, but I'm not good at video editing. I have to hide the credentials / ip etc, then I'll post it here.

[2021-11-23 03:11] EarthXuan opened #14646 "How to connect to the database using mycat2"
System information:
Operating system (distribution) and version: Win10
DBeaver version: 21.2.4 by Community
Connection specification:
Database name and version: MySQL8 by using myact2
Describe your question:
use mysql driver to connect,but it doesn't work.
return this err:
**No enum constant org.jkiss.dbeaver.ext.mysql.model.MySQLEngine.Support.DRFAULT**

So,i want to know how to connect to mycat

[2021-11-23 04:31] glw opened #14647 "Tables within ER Diagram can not be rearranged by hand"
#### System information:
- Operating system (distribution) and version - Ubuntu Xenial
- DBeaver version -   DBeaver	21.2.5.202111141807
- Additional extensions

#### Connection specification:
- Database name and version - Postgresql 10
- Driver name - Java - org.postgresql.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Within an ER Diagra

[2021-11-23 06:40] Destrolaric commented on #13909
Added fix for Oracle, probably need to check other db's for same problem.

[2021-11-23 07:01] Destrolaric commented on #13689
Probably will be fixed with #14648

[2021-11-23 07:27] Matvey16 commented on #14527
Verified

[2021-11-23 08:05] Matvey16 commented on #6135
Verified

[2021-11-23 08:05] #6135 closed

[2021-11-23 08:30] serge-rider commented on #14543
Can't reproduce on Windows.

[2021-11-23 08:33] Matvey16 commented on #14556
Verified

[2021-11-23 08:36] megafetis commented on #5499
Its gonna be nice to have it!!

[2021-11-23 08:39] uslss commented on #14593
verified

[2021-11-23 08:39] #14593 closed, assigned to serge-rider, uslss

[2021-11-23 08:49] Matvey16 commented on #14543
@s0me0ther I wasn't able to reproduce it on Ubuntu. Please verify a few things. How did you install DBeaver (Snap, .deb etc)
In DBeaver open Help -> Installation information -> Configuration, in search window type `org.eclipse.ui.workbench` and look what version do you have.

[2021-11-23 08:51] ShadelessFox commented on #14647
Hello @glw,

Thanks for report.

It looks like it's Linux-specific problem. Can you send a video showing the problem?

[2021-11-23 08:54] ShadelessFox commented on #13225
So, the solution would be to display that reconnect confirmation popup.

[2021-11-23 08:54] Matvey16 commented on #14161
Verified

[2021-11-23 08:54] #14161 closed, assigned to serge-rider, Matvey16

[2021-11-23 09:09] flambchap commented on #14627
This happens because DBeaver comes with bundled JRE and uses it to run. To bypass this issue, you need to import the cert to this JRE. You can find it in the `jre` folder inside the DBeaver installation.

FYI: DBeaver requires Java 11 to run, so using your jdk 1.8 is not an option.

[2021-11-23 09:14] abinhho commented on #988
This worked for me.
Mac M1 but I think Intel chip should work as well.
[code]

Then add `/opt/homebrew/opt/libpq/bin` to `Local Client`
![image](https://user-images.githubusercontent.com/9253378/142997696-948d37e6-2bcf-4d7d-9432-5af7887d9ce2.png)

[2021-11-23 09:30] LonwoLonwo commented on #14646
Hello @EarthXuan

Can you show the result of "SHOW ENGINES" for your MySQL mycat2, please? If you can use another tool for it.

[2021-11-23 09:30] Matvey16 commented on #14556
![RXeTQyJ6s5](https://user-images.githubusercontent.com/82543000/143000017-ec99f9c8-7c8c-4604-bfe3-86ccbe5c81e8.gif)

Can't pick a database for postgres restore task

[2021-11-23 09:39] ShadelessFox commented on #13225
Actually, it works as expected - the <kbd>Custom</kbd> profile is just an indicator that custom view preset was configured.

[2021-11-23 09:52] LonwoLonwo commented on #14646
Oh, I see the problem.
Do you use this MyCat2 https://github.com/MyCATApache/Mycat2 ?

[2021-11-23 09:53] Matvey16 commented on #13486
<kbd>Alt + 6</kbd> is used to change focus between results and sql editor.

[2021-11-23 09:53] #13486 closed, assigned to nobody

[2021-11-23 10:04] Matvey16 commented on #10038
#5704

[2021-11-23 10:04] Matvey16 commented on #11579
#5704

[2021-11-23 10:05] Matvey16 commented on #14627
#5704

[2021-11-23 10:08] EarthXuan commented on #14646
yes

[2021-11-23 10:26] LonwoLonwo commented on #14646
So then this is the MyCat2 problem, unfortunately.
You can see the list of acceptable answers on the "SHOW ENGINES" query: https://dev.mysql.com/doc/refman/8.0/en/show-engines.html
There is a `DEFAULT` answer, but not `DRFAULT`.

[2021-11-23 10:34] LonwoLonwo commented on #14646
I created the issue on the Mycat2 board: https://github.com/MyCATApache/Mycat2/issues/606
Let's hope that it will help.

[2021-11-23 10:43] Destrolaric commented on #14556
@Matvey16  Just checked on my branch, not my commit broke Postgres

[2021-11-23 11:05] EarthXuan commented on #14646
ok,thanks for your help~

ok,thanks for your help~

[2021-11-23 11:06] #14646 closed, assigned to nobody

[2021-11-23 12:32] #13225 closed, assigned to ShadelessFox

[2021-11-23 12:50] LonwoLonwo commented on #6135
And still, the EDB driver is better. Returned it for an EDB connection.

[2021-11-23 13:30] Matvey16 commented on #14613
Verified

[2021-11-23 13:30] #14613 closed, assigned to ShadelessFox, Matvey16

[2021-11-23 13:33] plotn commented on #12559
The situation happened.
I press "Invalidate/reconnect" - message appears "Datasource was invalidated"
I go to problem window, run sql. "Datasource was invalidated" blinking 6 times, then "Connection was closed" written.

"Сведения >>" says:
org.jkiss.dbeaver.model.impl.jdbc.JDBCException: SQL Error [08003]: Соединение уже было закрыто
	at org.jkiss.dbeaver.model.impl.jdbc.exec.JDBCConnectionImpl.p

[2021-11-23 13:40] Matvey16 commented on #14556
Verified

[2021-11-23 13:40] #14556 closed, assigned to Destrolaric, Matvey16

[2021-11-23 13:42] ShadelessFox commented on #14522
Perhaps we want to do something like this to the entire connection (not only during test).

There may be some problems with proxies (proxy is per thread).

[2021-11-23 14:19] Matvey16 commented on #14133
Verified

[2021-11-23 14:19] #14133 closed, assigned to serge-rider, Matvey16

[2021-11-23 15:04] LonwoLonwo commented on #14639
https://www.postgresql.org/docs/current/catalog-pg-type.html

[2021-11-23 15:30] LonwoLonwo commented on #14639
Fixed.

[2021-11-23 16:04] AllexFelicio commented on #9296
Tente colocar a chave primaria no select ou de um select*from e altere a coluna que gostaria exemplo:
SELECT * FROM (tabela_nome)
ou
SELECT (primary_key), (coluna_que_deseja_alterar) FROM (tabela_nome) WHERE (condição)

[2021-11-23 16:21] LonwoLonwo commented on #14639
New Multirange type can be tested with multirange types.

![2021-11-23 19_19_11-Window](https://user-images.githubusercontent.com/45152336/143062798-a537483c-00b5-46fb-846c-b0116de30676.png)

![2021-11-23 19_19_30-Window](https://user-images.githubusercontent.com/45152336/143062801-934fa66e-30fa-4d0e-9d88-80b8dc76cbf4.png)

[2021-11-23 16:26] mahadea opened #14658 "[DB2] Execute with DSN"
#### System information:
- WINDOWS 10 20H2
- 21.2.5.202111141807
- openjdk version "17" 2021-09-14 LTS
- Additional extensions

#### Connection specification:
- DB2 v12 zOS
- Driver name db2:jcc-11.5.0.0.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Is it possible to issue DB2 commands like BIND Package in an SQL Script window? I tried issui

[2021-11-23 16:49] KellyKimbleNotions commented on #9296
I have tried that.  It does not work.  I gave up on getting DBeaver to work long ago.  I actually thought they fixed it once, but I think it was because I added a virtual key to the table.

[2021-11-23 17:14] beiyinghu opened #14659 "I found a bug"
#### System information:
- Operating system (distribution) and version macOS 11.6 (20G165)
- DBeaver version 21.2.5
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

<img width="1429" alt="截屏2021-11-24 上午1 01 06" src="https://user-images.githubusercontent

[2021-11-23 17:57] JuanLH opened #14660 "Switch Tabs"
**Is your feature request related to a problem? Please describe.**
I am used to changing tabs with Ctrl + Tab or Ctrl + Shift + Tab to switch to previous tab.

**Describe the solution you'd like**
Set a shortcut to change open tabs.
[Ctrl + Tab] for switch fordward
[Ctrl + Shift + Tab] for switch backward

[2021-11-23 18:37] ShadelessFox commented on #14660
Hello @JuanLH,

We do have shortcuts for that: <kbd>Ctrl</kbd>+<kbd>PageDown</kbd> and <kbd>Ctrl</kbd>+<kbd>PageUp</kbd>.

You can rebind them to any other shortcuts in <kbd>Preferences</kbd> &rArr; <kbd>User Interface</kbd> &rArr; <kbd>Keys</kbd>.

[2021-11-23 18:37] #14660 closed, assigned to nobody

[2021-11-23 18:38] ShadelessFox commented on #14659
Hello @beiyinghu,

Thanks for the report.

Duplicate of #13882

[2021-11-23 18:38] #14659 closed, assigned to nobody

[2021-11-23 20:51] serge-rider commented on #14627
@iDeepMind Please test the latest Early Access version ()https://dbeaver.io/files/ea). Perhaps the problem was fixed there.

[2021-11-23 20:59] amchurchill opened #14663 "Jump server private key path not retained"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro, build 19043
- DBeaver version: 21.2.3.202110151816
- Java version: 11.0.12+7
- Additional extensions: none

#### Connection specification:
- Database name and version
- Driver name: PostgreSQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes, SSH with multiple hops

#### Describe the problem you're observ

[2021-11-24 05:52] ReconditenessPerson opened #14664 "Declare display error when view contains comments"
System information:
Operating system (distribution) and version : Windows 11 pro 21H2  22000.348
DBeaver version 21.2.5.202111141807
Additional extensions  NO
Connection specification: routine service Name
Database name and version Oracle 11G
Driver name  oracle.jdbc.OracleDriver
Do you use tunnels or proxies (SSH, SOCKS, etc)?  NO
Describe the problem you're observing:
When comments appear in the

[2021-11-24 06:17] Matvey16 commented on #14663
@amchurchill Thank you for the report

[2021-11-24 06:34] Matvey16 commented on #14603
It is a known issue. We are working on it, but the workarounds can found in original ticket #13968

[2021-11-24 06:34] #14603 closed, assigned to nobody

[2021-11-24 06:48] Matvey16 commented on #14658
As far as I know the BIND command is actually DSN command and DSN commands are actually subcommands of the DSN command. DSN is a control program that enables users to issue DB2 environment commands and commands to develop and run application programs. And in most cases it should be used in terminal.

It is definitely not a bug, but a feature request maybe. But I'm not sure if this is actually doab

[2021-11-24 07:25] LonwoLonwo commented on #14533
Fixed only for the topic case.

![83RveKchiD](https://user-images.githubusercontent.com/45152336/143057807-f751f6fe-86ce-45e5-95b9-339cff8c9e12.gif)

[2021-11-24 07:28] LonwoLonwo commented on #14564
Ok. Function `aclexplode(aclitem[])` is very helpful, but doesn't work for old PostgreSQL versions.
Fixed.
Reading sequences and materialized views permissions removed for old (<9) PG versions.

[2021-11-24 07:45] Matvey16 commented on #10038
@ifiddes Please check our EA version https://dbeaver.io/files/ea/ it should have been fixed in it

[2021-11-24 07:46] Matvey16 commented on #11579
@els-pnw  Please check our EA version https://dbeaver.io/files/ea/ it should have been fixed in it

[2021-11-24 07:46] uslss commented on #14639
verified

[2021-11-24 07:46] #14639 closed, assigned to uslss, LonwoLonwo

[2021-11-24 07:49] uslss commented on #14001
verified

[2021-11-24 07:49] #14001 closed, assigned to flambchap, uslss

[2021-11-24 07:51] uslss commented on #14534
verified

[2021-11-24 07:51] #14534 closed, assigned to uslss, ShadelessFox

[2021-11-24 08:00] Matvey16 commented on #14664
@ReconditenessPerson  I was not able to reproduce it, can you please provide a basic DDL of a view for which this issue appears

[2021-11-24 08:03] serge-rider commented on #13596
Extension was included in CE build

[2021-11-24 08:47] Matvey16 commented on #6135
Verified

[2021-11-24 09:20] LonwoLonwo commented on #13775
Test tunnel call from profiles fixed.

[2021-11-24 09:39] Matvey16 commented on #14564
Verified

[2021-11-24 09:39] #14564 closed, assigned to LonwoLonwo, Matvey16

[2021-11-24 09:44] Matvey16 commented on #14533
Verified

[2021-11-24 09:44] #14533 closed, assigned to LonwoLonwo, Matvey16

[2021-11-24 09:57] #14595 closed, assigned to nobody

[2021-11-24 10:12] Destrolaric commented on #14527
Found text dissapperance after switching tabs + npa in edit mode. Added two bugfixes to fix this issues

[2021-11-24 10:19] flambchap commented on #12537
The issue is caused by the fact that there is a duplicate table in the navigator with the same name. This table doesn't exist in the database though.

[2021-11-24 10:24] LonwoLonwo commented on #14314
Hello @phillip-haydon

Can you provide type and table DDL examples, please?

[2021-11-24 10:25] yoletx opened #14667 "Postgres, ERD show pseudo columns"
Hi,
In my ERD, i don't know why but i see pseudos columns for one table :
![DBeaver 21 2 4 - authent](https://user-images.githubusercontent.com/32055492/143219686-584664f4-4487-4425-be94-982debe0f269.jpg)
Dbeaver Version 21.2.4.202111011413 / windows 10
This is a very simple table, no PK/FK only 2 varchar fields.
I have 6 tables, and only one show his pseudo columns.
Tried :
- closing/reopening er

[2021-11-24 10:41] LonwoLonwo commented on #14589
@jetzerb

Thanks for the idea!

[2021-11-24 10:42] LonwoLonwo commented on #14667
Hello @yoletx
What PostgreSQL version do you use?

[2021-11-24 10:43] LonwoLonwo commented on #14667
`auth_para` table DDL will be also very helpful.

[2021-11-24 10:54] yoletx commented on #14667
[code]

PostgreSQL 12.4 on x86_64-pc-linux-musl, compiled by gcc (Alpine 9.3.0) 9.3.0, 64-bit

[2021-11-24 10:58] uslss opened #14669 "Babelfish issues"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.3.0

#### Connection specification:
- Database name and version Babelfish

#### Describe the problem you're observing:
Case 1:
Objects created in non-default database aren't visible after refresh
**STR**
1. Connect to database (database in preferences = master)
2. Create table in another non-default d

[2021-11-24 11:23] Matvey16 commented on #13775
Verified

[2021-11-24 11:23] #13775 closed, assigned to LonwoLonwo, Matvey16

[2021-11-24 11:29] uslss commented on #14599
verified

[2021-11-24 11:29] #14599 closed, assigned to Destrolaric, uslss

[2021-11-24 11:58] LonwoLonwo commented on #14667
Is this problem in the Schema ERD?
And what about table ERD? Also incorrect?

![2021-11-24 14_54_28-Window](https://user-images.githubusercontent.com/45152336/143233845-19a206ae-2329-4bb1-a490-8e40813c8777.png)

I can't reproduce it for now, unfortunately.

[2021-11-24 12:07] phillip-haydon commented on #14314
[code]

That's all I did to reproduce it. Just checked, happened with I ran it.

[2021-11-24 12:08] LonwoLonwo commented on #14540
Hello @keithschaller79

Please, provide more info.
Can you provide a table DDL, please?
Also, table data screenshots from DBeaver vs SQuirreL too.

[2021-11-24 12:10] LonwoLonwo commented on #14578
Hello @mackers2

An example of table DDL will be also very helpful.

[2021-11-24 12:16] Matvey16 commented on #14608
Old icon in export task
![image](https://user-images.githubusercontent.com/82543000/143236832-b3a79d2c-c1d1-4162-901c-ce07ba5d1bb2.png)

[2021-11-24 12:17] LonwoLonwo commented on #14314
@phillip-haydon

Unfortunately, can't reproduce.

![2021-11-24 15_14_44-DBeaver Ultimate 21 3 0 - _postgres12local_ Script-176](https://user-images.githubusercontent.com/45152336/143236717-85399d66-1fb6-4785-8224-8c2a9f8af862.png)

And what about data presentation for test_table in the Data Viewer? Is there a problem there?

[2021-11-24 12:25] phillip-haydon commented on #14314
Hmmm, let me re-install tomorrow (it's 8:30pm and I'm tired). I upgraded from a very old version of DBeaver. Maybe it's just bunged.

Will let you know. Thanks for checking.

[2021-11-24 12:52] uslss commented on #13596
closed without testing

[2021-11-24 12:52] #13596 closed, assigned to serge-rider

[2021-11-24 12:55] Skydiveroid commented on #14658
We can add DSN support just like we support SQL*Plus.

[2021-11-24 13:02] mahadea commented on #14658
Sorry, mea culpa, didn't mean to report it as a bug. If you could add DSN support w/o too much trouble, it would save me (and I daresay others too) the trouble of switching between TSO/ISPF and DBeaver :-)

[2021-11-24 13:12] yoletx commented on #14667
It is the same in the ERD table as in the ERD schema.
I duplicated the ddl to make a new table named auth_para2, this one is ok in ERD.
If i open this schema on another computer, i don't have the bug on the ERD. So maybe it's in the cache of my dbeaver but :
I have deleted the table (drop table), refreshed table list, then the table disappear in the ERD, then recreated the table, then the table ap

[2021-11-24 13:26] Matvey16 commented on #14527
Verified

[2021-11-24 13:26] #14527 closed, assigned to Destrolaric, Matvey16

[2021-11-24 13:29] ShadelessFox commented on #12318
Works fine against Hive 2.3.2

[2021-11-24 13:53] Destrolaric commented on #14608
I am not sure what changing icons in MultiPageWizard errors is possible without significant amount of code, it is inherited directly from eclipse jface dialogs, where icon images are hardcoded and work with .
P.S. Well this probably will look bad but reflection allows to change icons

[2021-11-24 14:27] Destrolaric commented on #14608
@Matvey16 This change will be another issue ticket due to different solution used to add icons

[2021-11-24 14:33] Matvey16 commented on #14608
Verified

[2021-11-24 14:33] #14608 closed, assigned to Destrolaric, Matvey16

[2021-11-24 14:38] ShadelessFox commented on #14062
Hello @Korov,

1. I cannot reproduce this problem.
2. There's no `skip` function on collection object, it's a function of cursor. You have to retrieve results first (e.g. using `.find()`)

Can you please test against the early access version? https://dbeaver.com/files/ea/

[2021-11-24 15:02] Matvey16 commented on #5704
Verified athena URL changes. Needs to be tested in enterprise enviroment. Will be reopened in case of issues

[2021-11-24 15:02] #5704 closed

[2021-11-24 15:26] ssimhahri commented on #4580
Please reopen

[2021-11-24 15:31] agails commented on #13968
I still have this problem today, we can really change the theme but as all applications follow the system theme, I would like to leave DBeaver with this feature as well. There is no workaround to fix this without patch? Macbook Pro 2020 M1 MacOS Monterey

[2021-11-24 15:54] flambchap opened #14672 "Unable to cancel multiple heavy queries running at the same time"
#### System information:
- Operating system (distribution) and version Win 11
- DBeaver version 21.2.0 UE

#### Steps to reproduce, if exist:
1. In the SQLEditor, write a long-running query, such as
[code]
2. Execute a lot of these queries at the same time.
3. Try to cancel several queries.

You need to wait quite some time for the statement to cancel. You also will receive a lot of errors popups.

[2021-11-24 16:20] nikiromagnoli opened #14675 "Inconsistent column index between "Properties" and "Metadata""
#### System information:
- Operating system: Ubuntu 20.04.3 LTS
- DBeaver version:   CE 21.2.5.202111141807
- Additional extensions: none

#### Connection specification:
- Database name and version: MariaDB Ver 15.1 Distrib 10.5.8-MariaDB
- Driver name: MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Columns are numbered in tables (index).

[2021-11-24 17:00] Matvey16 commented on #12583
Verified

[2021-11-24 17:00] #12583 closed, assigned to ShadelessFox

[2021-11-24 17:10] kseniiaguzeeva commented on #13882
verified

[2021-11-24 17:10] #13882 closed, assigned to ShadelessFox

[2021-11-25 00:25] gthbusr0 commented on #14627
yes, @serge-rider this is fixed in EA.

@akilovich here are my java & dbeaver details. so far working ok.

Version 21.3.0.202111231354

java version "1.8.0_202"
Java(TM) SE Runtime Environment (build 1.8.0_202-b08)

[2021-11-25 00:25] #14627 closed, assigned to nobody

[2021-11-25 01:39] ReconditenessPerson commented on #14664
CREATE OR REPLACE FORCE VIEW "oracle"."V_PM_IN_CONTRACTRECEIVABLE" ("FID", "VERSION", "FYEAR", "FMONTH", "FREPORTPERIOD", "FBILLDATE", "FPROJECTID", "FPROJECTNAME", "FPROJECTCODE", "FREFORGFID", "FCONTRACTCODE", "FCONTRACTID", "FCONTRACTNAME", "FCONTRACTRECNO", "FPAYMENTTYPE", "FGUARANTEERATIO", "FLASTRECEIVEDATE", "FCONTRACTAGREERATIO", "FBUILDPROGRESS", "FREMARK", "FATTACHMENT", "FSETTLEMENTID",

[2021-11-25 05:25] LuckyPickleZZ commented on #13596
Sorry for the late reply. If you want to test the driver, please see [this](https://github.com/oceanbase/oceanbase/blob/master/docs/docs/docs-en/quick-start-en.md). It's our quick-start introduction.

[2021-11-25 06:46] kseniiaguzeeva commented on #12318
Cannot reproduce anymore too.

[2021-11-25 06:46] #12318 closed, assigned to nobody

[2021-11-25 06:47] skydiablo commented on #10066
snap install also broken with same error...

[2021-11-25 07:16] Matvey16 commented on #13968
@agails Unfortunately without a patch the only workaround is to change the properties manually

[2021-11-25 08:17] FeIix opened #14680 "Add variables support to the Export Wizard Output Folder field."
The patterns available for the filename when dumping data would also be useful in the folder name / path.

For example, we are backupping our projects each name in a folder named ${year}-${month}-${day}

I'd love to be able to automate this task, but I need to set the folder manually each time.

[2021-11-25 09:04] kseniiaguzeeva opened #14681 "New driver cannot be loaded for new connection"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.3.0.202111242132

#### Connection specification:
- Database name and version tested Derby, Snowflake
-
#### Steps to reproduce, if exist:
Create new connection

**Expected**: the driver is loaded and the connectionis created
**Actual result**: the driver loading fails with error
[code]

[2021-11-25 09:06] flambchap commented on #14672
Fixed.

[2021-11-25 09:23] michal-bartak opened #14682 "Add an option to respect server timezone with enabled data formatting"
#### System information:
- Operating system (distribution) and version: Fedora 35
- DBeaver version: 21.2.5.202111141807
- Additional extensions

#### Connection specification:
- Database name and version: Postgresql 12
- Driver name: postgres
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

Setting TIMEZONE configuration variable should affect ti

[2021-11-25 10:06] labeldevops opened #14683 "Error creating driver 'Oracle' instance."
This software looks very promising. I liked the connection wizard - but it fails, unfortunately.

I can not create an oracle driver connection:

[code]

Network is ok.

[2021-11-25 10:15] uslss commented on #14683
@labeldevops did you try to reset to defaults driver in driver settings dialog?
![image](https://user-images.githubusercontent.com/31996417/143422704-422ac9d3-1f75-485d-a9f0-ff49e2de4f53.png)

[2021-11-25 10:35] labeldevops commented on #14683
Hmm, I checked that again, and now it works - I am not clear why that happened, seems to be ok now, sorry for the error report.

[2021-11-25 10:35] #14683 closed, assigned to nobody

[2021-11-25 10:36] labeldevops commented on #14683
BTW I see in your screenshot that you too have these bad fonts... this is the old Java problem and it still seems to persist... sigh... I will search in this issue tracker for a solution...

[2021-11-25 10:39] plmmihail opened #14685 "No link on quoted object name"
[x:sql]

#### System information:
- Operating system (distribution) and version
Linux
- DBeaver version
The last
- Additional extensions
No
#### Connection specification:
- Database name and version
Most of SQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
No

#### Steps to reproduce, if exist:
Create an object (view, procedure, function) or a query with objects
`"Obj 1", "Obj_1", OBJ_1` etc.

[2021-11-25 10:48] labeldevops opened #14686 "Bad Fonts on Windows 10"
GUI has very bad fonts on Windows 10 - not usable. Fonts look garbled and unsharp.

[2021-11-25 12:27] flambchap commented on #14686
Hi @labeldevops. Could you please clarify a little bit what you mean? A screenshot or two would be helpful as well.

[2021-11-25 13:12] magidc commented on #14309
Hi:
![Captura de pantalla de 2021-11-25 14-07-53 png](https://user-images.githubusercontent.com/4416693/143447663-422fb732-c40a-4034-8d1a-f8973be9ff72.png)
And this is how it looks when using icon file (Icon=/usr/share/dbeaver-ce/icon.xpm):
![Captura de pantalla de 2021-11-25 14-08-43 png](https://user-images.githubusercontent.com/4416693/143447754-06bd8179-5cd3-41fc-a06e-6323fa7f2cf3.png)

[2021-11-25 13:13] magidc commented on #14309
By using icon file it matches the same visual style as the most of the applications in Ubuntu.

[2021-11-25 14:08] kseniiaguzeeva commented on #14681
Verified

[2021-11-25 14:08] #14681 closed, assigned to serge-rider

[2021-11-25 15:45] ShadelessFox commented on #14675
Hello @TechNyquist,

The <kbd>Metadata</kbd> tab shows data reported by the JDBC driver. In <kbd>Columns</kbd> tab, they're 1-indexed because it feels more natural.

[2021-11-25 15:45] #14675 closed, assigned to nobody

[2021-11-25 16:18] flambchap opened #14691 "Snowflake is basically unusable when DBeaver runs with Java 17"
When DBeaver runs with Java 17, it's pretty much impossible to read any result set returned by the Snowflake driver. This means that most queries in SQL Editor don't work, the navigator doesn't show objects such as tables, views, etc. I'm aware of only one query that successfully runs: `SHOW TABLES`.

The exceptions thrown when trying to use DBeaver for Snowflake access indicate that this is cause

[2021-11-25 16:28] DariaMarkaryan opened #14692 "[Trino] ERD tab for databases doesn't always appear and doesn't contain objects"
#### System information:
- Win10
- DBeaver CE 21.3.0

#### Connection specification:
- Trino

#### Describe the problem you're observing:
The tab isn't displayed when before double-clicking on the database, we expand this node. If we expand the node, then we'll see ERD tab, but there are no objects displayed in this ERD tab.

#### Steps to reproduce, if exist:

https://user-images.githubuserconten

[2021-11-25 17:01] DariaMarkaryan opened #14693 "[Trino] Can't select active catalog/schema in SQL editor"
#### System information:
- Win10
- DBeaver CE 21.3.0

#### Connection specification:
- Trino

#### Describe the problem you're observing:
Active catalog/schema is always <N/A> and you can't select any Trino db as active

[2021-11-26 05:00] phillip-haydon commented on #14314
OK Sorry, been busy and slipped my mind.

I completely wiped DBeaver off the computer, re-installed from scratch, and it turns out it works fine.

So I fired up my laptop, I haven't used DBeaver in like 2 years on there (I should have got the version I upgraded from, but I didn't think about it), it worked fine, I upgraded to latest, it broke... So I completely uninstalled, and re-installed, and i

[2021-11-26 07:05] wangqian-49 opened #14694 "Cannot modify the language using Window->Preferences->User Interface"
#### System information:
- Operating system (distribution) and version : Centos7
- DBeaver version : 21.2.2
- Additional extensions : nothing

#### Connection specification:
- Database name and version : postgresql 12.3
- Driver name : PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : no

#### Describe the problem you're observing:

Cannot modify the language using Window

[2021-11-26 07:22] LonwoLonwo commented on #14082
Fixed.

[2021-11-26 08:09] Matvey16 opened #14695 "Wrong highlighting in value panel when composite type is saved"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.0

#### Connection specification:
- Database name and version Postgresql

#### Describe the problem you're observing:
When composite data is changed and saved, the values in value panel remain highlighted as if having pending changes

#### Steps to reproduce, if exist:
1. Open a table with composite

[2021-11-26 09:34] DariaMarkaryan opened #14696 "[Trino] Forbid creation of objects"
Objects cannot be created in Trino. We need to disable their creation in UI

[2021-11-26 10:09] Matvey16 opened #14698 ""Go to line" window is not resizable and the text is cropped"
### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.0

#### Steps to reproduce, if exist:
1. Open data editor for a table
2. Press <kbd>Ctrl + G</kbd>

**Expected:** Text is visible
**Actual:** Text is cropped and the window can't be resized

![dbeaver_z9bGfyzrDU](https://user-images.githubusercontent.com/82543000/143563927-57d3db2f-1779-4bfa-8624-ab3

[2021-11-26 10:45] Matvey16 commented on #13968
Verified. Will be fixed in 21.3.0

[2021-11-26 10:45] #13968 closed, assigned to ShadelessFox, Matvey16

[2021-11-26 10:46] Matvey16 commented on #14526
Verified

[2021-11-26 10:46] #14526 closed, assigned to ShadelessFox, Matvey16

[2021-11-26 11:06] hlascelles opened #14700 "Driver property cannot be set to null (causes Redshift IAM failure)"
#### System information:
- Operating system (distribution) and version: Mint Linux 20.1
- DBeaver version: 21.2.5.202111141807
- Additional extensions: None

#### Connection specification:
- Database name and version: Any, but can try with postgres
- Driver name: : Any, but can try with postgres
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : No

#### Describe the problem you're observing:

1

[2021-11-26 11:45] DariaMarkaryan opened #14701 "[Trino] Metadata panel doesn't show catalog, schema and table names"
#### System information:
- Win10
- DBeaver CE 21.3.0

#### Connection specification:
- Trino

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/43252954/143576097-7a1ef7b3-7b7d-4c4c-8260-d2ce0e4856c6.png)

[2021-11-26 13:21] fcarton opened #14702 "lockPassword property does not lock connection edition"
#### System information:
- Operating system (distribution) and version : Windows 10 Pro
- DBeaver version : Version 21.2.5.202111141807
- Additional extensions : Git Support / Office Support / DevStyle

#### Connection specification:
- Database name and version : Any type of database has the same problem
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observ

[2021-11-26 13:39] Matvey16 opened #14703 "Add database layer in role permissions"
#### System information:
- DBeaver version 21.3.0

#### Steps to reproduce, if exist:
1. Open a role from database navigator
2. Open permissions tab

**Expected:** Databases can be seen
**Actual:** Only schemas and lower layer objects are shown

![eclipse_n7XJa7rQ5V](https://user-images.githubusercontent.com/82543000/143589507-4863d8d3-84b9-4d77-b4df-57518fc0d4ab.png)

[2021-11-26 13:41] LonwoLonwo commented on #14314
@phillip-haydon

Ok, Thanks for the investigation.

[2021-11-26 13:48] Matvey16 opened #14704 "ERD foreign keys referencing the same table are shown incorrectly"
### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.0
- Additional extensions

#### Steps to reproduce, if exist:
1. Create a table with a foreign key referencing the same table (Sample SQLite db, table employee)
2. Open a diagram

![eclipse_QkmslU4tsc](https://user-images.githubusercontent.com/82543000/143590512-ce050433-c681-4a6b-b041-d0955d43716e.p

[2021-11-26 13:57] Matvey16 opened #14705 "Maven artifacts added with a uri have classifier and version switched"
#### System information:
- DBeaver version 21.3.0

#### Describe the problem you're observing:
We actually have three problems here:

- [x]  Wrong classifier and version
- [x]  Raw as a name of the tab is confusing
- [x]  Manual as a name of the tab is confusing
- [x]  We need an info label on how it can be used

![image](https://user-images.githubusercontent.com/82543000/143591707-71e0bb1b-e7be-4

[2021-11-26 14:29] flambchap opened #14706 "Add artifact dialog polishing"
In this ticket, we need to enhance the feature added in https://github.com/dbeaver/dbeaver/issues/14527 to the production-ready quality.

- [ ] Rename Raw and Manual tabs to something more obvious and clear.
- [ ] In the tab with a text field for dependency syntax, add an info label below the text field with a clear explanation of what's it for.

[2021-11-26 14:48] flambchap commented on #14706
Closing as a duplicate of https://github.com/dbeaver/dbeaver/issues/14705

[2021-11-26 14:48] #14706 closed, assigned to nobody

[2021-11-26 14:50] flambchap commented on #14705
I want this in 21.3 versions of commercial products badly.

[2021-11-26 15:02] Skydiveroid commented on #12808
DBeaver requires Java version 11 to work. Dbeaver doesn't supports Eclipse that can't work with Java 11

[2021-11-26 15:02] #12808 closed, assigned to serge-rider

[2021-11-26 19:54] hamidrezaabroshan opened #14710 "Table viewer is not accessible for blind and visually impaired that are using screen readers"
When I execute a query in the script editor and select execute from the context menu, after the table viewer appears I press ctrl+tab to move focus to table viewer, but I can not move through cells and columns by pressing arrow keys or tab and shift+tab.
Also, I can not edit cell values.
I'm running dbeaver in Windows 10, and using the latest version of "Nvda" screen reading software.
I recommend

[2021-11-26 21:19] glw commented on #14647
Here you go. Let me know if you need any more details.

![dbeaver_erdiagram_bug](https://user-images.githubusercontent.com/556205/143655574-ba7372e6-6a37-4b04-8038-e858bdea2f3a.gif)

[2021-11-27 09:41] vrkadiyala commented on #14586
Search proposals are blocking other queries at the server level. it would be really appreciated if work around can be provided for this issue.

[2021-11-27 13:57] windowshome commented on #3858
I don't think you understand the remote desktop multi-user scenario. The accounts of each user under remote multi-user are independent. I hope there is a global setting for the driver, so that each different user doesn't need to set the driver separately to access it. Can you understand;

[2021-11-27 18:42] Lkledu opened #14711 "Postgres permission error: Can't detect root node for objects tree"
#### System information:
- Operating system (distribution) and version
   `Windows10 Pro`
- DBeaver version
   `21.2.5.202111180314`
- Additional extensions
  Docker version: `20.10.10`
  Debian container `14.1-1.pgdg110+1`
- Drivers
  org.postgresql:postgresql:RELEASE [42.2.20]
  net.postgis:postgis-jdbc:RELEASE [2.5.0]
  net.postgis:postgis-geometry:RELEASE [2.5.0]

#### Connection specification

[2021-11-28 00:14] Lkledu commented on #14474
I finished to resolve it.

[2021-11-28 01:50] Lkledu commented on #14711
I was using intelliJ community, i switch to eclipse and it's work. (maybe the way that i build/run it was triggering the bug)

[2021-11-28 02:40] ShadelessFox commented on #14711
Hello @Lkledu,

Please make sure you're on `devel` branch and it is up to date.

[2021-11-28 05:02] Lkledu commented on #14711
Thanks @ShadelessFox i was in `master` branch. When I tried to change branch, git show the error `error: pathspec 'devel' did not match any file(s) known to git` . I was following the [https://github.com/dbeaver/dbeaver/wiki/Develop-in-IDEA](https://github.com/dbeaver/dbeaver/wiki/Develop-in-IDEA) guide

[2021-11-28 06:02] windowshome opened #14712 "DBeaver prompts for driver download even if the driver is already present but only first time"
DBeaver prompts for driver download even if the driver is already present (but only first time

[2021-11-28 06:55] Lkledu commented on #14710
I get interested in your suggestion. I'm new to dbeaver dev community but i would like to try to do it. I'm installing Nvda now.

[2021-11-28 07:20] Lkledu commented on #14710
I search a bit about nvda, and i found this link for the developer guide of NVDA [https://www.nvaccess.org/files/nvda/documentation/developerGuide.html](https://www.nvaccess.org/files/nvda/documentation/developerGuide.html) also, i found a link for NVDA Community Add-ons website [https://addons.nvda-project.org/index.en.html](https://addons.nvda-project.org/index.en.html) they said that if anyone

[2021-11-28 11:06] ShadelessFox commented on #14711
`master` branch is outdated (at least in dbeaver repository).

Are you sure you're inside `dbeaver` directory (where dbeaver was cloned) while performing `git checkout devel`?

[2021-11-28 11:07] ShadelessFox commented on #14712
Hello @windowshome,

This may happen when we update recommended driver version.

Perhaps the driver was indeed updated?

[2021-11-28 11:15] Mikajel commented on #9307
@meddario Amazing catch, I changed DBeaver to use JetBrains font, looks like it could not handle it for more than one session...

[2021-11-28 14:13] ShadelessFox commented on #13284
Implemented (In general tab, not in statistics):

![java_Ny9oT2B5ad](https://user-images.githubusercontent.com/35821147/143599266-ad11a4ed-aba2-4c92-b4d3-6bb57135c503.png)

[2021-11-28 18:52] placaze opened #14715 "NPE when viewing results from Elasticsearch/OpenSearch sources"
#### System information:
- Operating system (distribution) and version : Windows 10
- DBeaver version : 21.2.5
- Additional extensions : no

#### Connection specification:
- Database name and version : OpenSearch 1.1
- Driver name :
-- Elasticsearch : https://mvnrepository.com/artifact/org.elasticsearch.plugin/x-pack-sql-jdbc
-- Open Distro : https://mvnrepository.com/artifact/com.amazon.opendistr

[2021-11-28 19:15] ShadelessFox commented on #14647
I see, thanks!

[2021-11-28 19:58] Matvey16 commented on #14705
Can't add more than one artifact with maven declaration
![dbeaver_c9qAeBZJc7](https://user-images.githubusercontent.com/82543000/143783859-72ec8121-2553-4fb3-af07-41dcb21881c3.png)
![dbeaver_RI2XCQ5liY](https://user-images.githubusercontent.com/82543000/143783864-2b671cab-fb7d-4a82-b8bb-6cf855c57d9d.png)

[2021-11-28 20:10] Matvey16 commented on #14705
Also now artifacts can't be edited

[2021-11-28 20:21] hamidrezaabroshan commented on #14710
Thanks @Lkledu for your interest, There is no need to develop an add-on for nvda.
SWT has Accessibility classes and you can pass Accessibility info through those classes and components.
In this way, Dbeaver will be accessible for every screen reader in every Os.
Please see these docks and sample codes.
https://javadoc.scijava.org/Eclipse/org/eclipse/swt/accessibility/Accessible.html

https://www.p

[2021-11-28 20:23] serge-rider commented on #14704
Fixed (the fix was included in 21.3.0)

[2021-11-28 20:35] hamidrezaabroshan commented on #14710
Hey all, Thanks for your interest.
You went out of your way and installed Nvda and are trying to make Dbeaver
accessible.
Thanks very much.

On Sun, Nov 28, 2021 at 10:50 AM Eduardo ***@***.***> wrote:

--
hamidreza

[2021-11-29 06:35] mannuespinosa commented on #8508
Thanks a lot!

[2021-11-29 07:09] Destrolaric opened #14717 "Warn the user that command line arguments are incorrect"
Currently if input args are incorrect DBeaver will still launch, it's counterintuitive due to user not knowing what part of the args were not executed.

**Describe the solution you'd like**
Don't launch DBeaver if arg wasn't recognised, warn user in console with list of available args.

**Describe alternatives you've considered**
Warn user about wrong argument, but launch DBeaver. It's not canonic

[2021-11-29 09:50] Skydiveroid commented on #9414
Probably will be fixed in Eclipse 2012-12

[2021-11-29 09:57] flambchap commented on #14292
https://github.com/dbeaver/dbeaver/wiki/Connect-to-Oracle-Database-using-JDBC-OCI-driver

[2021-11-29 09:57] Pat28 commented on #9968
Well, I am trying to do DELETE

DELETE FROM PAT WHERE ID = 1;

and that is being modified to

SELECT * FROM (
DELETE FROM PAT WHERE ID = 1
) z_q

Which obviously fails

[2021-11-29 10:37] deep750 commented on #14691
Not sure if it is related or separate issue, but after upgrading to 21.3.0 DBeaver won't connect to snowflake. It doesn't seem to trying. Error message is !390400!. I have authentication in external browser, but nothing happens at all, except for the error message that comes instantly when trying to connect to the database.

[2021-11-29 10:47] Matvey16 opened #14718 "Excessive objects appear when "hide folders" is used"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Describe the problem you're observing:
If custom view is picked for the connection and "hide folders" option is used, a lot of system objects are shown in the navigator even if "show system objects" is disabled.

#### Steps to reproduce, if exist:
1. Right-click on PostgreSQL or O

[2021-11-29 10:55] Pat28 commented on #6440
Wrapping SQL is still happening to me on the latest version from the Windows Store...which seems to be released on April 9 2019...hence an old version...switched to the Windows 64 bit installer which helped a lot.

[2021-11-29 11:25] hski-github opened #14719 "Autocomplete should also show synonyms and columns from synonyms"
I check both Oracle 12 and HANA 2 with DBeaver CE 21.2.5 on Windows 10 and there autocomplete works only for tables and views, but not synonyms. If I use autocomplete in SQL console also synonyms and columns from synonyms should be shown.

If I enter "SELECT * FROM schema1." and hit ctrl-space in SQL console, I see tables and views listed from that schema, but also synonyms should be shown for aut

[2021-11-29 11:43] LonwoLonwo commented on #14719
Hello @hski-github
What DBeaver version do you use?

[2021-11-29 11:48] LonwoLonwo commented on #13102
Closed as duplicate https://github.com/dbeaver/dbeaver/issues/14314

[2021-11-29 11:48] #13102 closed, assigned to LonwoLonwo

[2021-11-29 11:56] flambchap commented on #14691
Hello @deep750. This is a related issue (see the last paragraph in my OP). But that's really odd considering that we didn't change our preferred driver version for Snowflake. Could you please tell me what driver version do you use?

[2021-11-29 11:58] hski-github commented on #14719
Edited initial description. See above

[2021-11-29 12:07] deep750 commented on #14691
@akilovich I'm currently using snowflake-jdbc-3.6.12 - at least that's the one in my personal folder\.dbeaver-drivers-folder

[2021-11-29 12:20] flambchap commented on #14691
@deep750 Please change to 3.13.6. To do that, select your Snowflake connection in the navigator -> F4 -> Edit driver settings -> Libraries -> Download/Update, then follow the instructions from the gif below.

![snow 730](https://user-images.githubusercontent.com/26031301/143866917-d42a2727-656f-4206-a07b-83d7a3b75642.gif)

Also, when doing that, what version of the driver is displayed before chang

[2021-11-29 12:24] LonwoLonwo commented on #14719
Ok. Please check this setting for Oracle connection settings (must be enabled):

![2021-11-29 15_22_39-Window](https://user-images.githubusercontent.com/45152336/143867647-0119414d-76da-48c1-bf23-833facfda1a4.png)

[2021-11-29 12:24] deep750 commented on #14691
@akilovich will updating the driver solve anything with latest version of DBeaver? Understood the initial comment that 3.13.6 doesn't work with the latest version of DBeaver, as it is using Java 17 (?) The suggested version (default) is 3.13.6, in the update driver-wizard.
According to Snowflake's driver page, latest version is 3.13.11 - maybe that fixes it? I haven't tried it yet.

[2021-11-29 12:40] deep750 commented on #14691
upgrading to 3.13.11 didn't solve anything-

[2021-11-29 12:41] flambchap commented on #14691
@deep750 3.13.6 works just fine with the latest version of DBeaver if DBeaver runs on Java 11. Most of the distributions of DBeaver run on that version, this should work for you.

[2021-11-29 12:43] flambchap commented on #14691
Unfortunately, there is no version of the Snowflake driver that works with Java 17. At the same time, we package our version for macs on AArch64 with Java 17. This results in the inability to work with Snowflake with this distribution.

[2021-11-29 12:44] Matvey16 opened #14721 "Content assist in data editor filter field works only for the first word"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.0

#### Describe the problem you're observing:
If content assist is called in blank filter field it will propose column names and keywords like 'or', 'and', 'not', 'is' which are uselees at the start of the filter. But if first word is already entered the content assist won't propose anything

####

[2021-11-29 13:25] Destrolaric opened #14722 "Add wiki for EditMavenArtifact dialog"
Add information about EditMavenArtifact dialog to wiki

[2021-11-29 14:15] Destrolaric opened #14723 "Sample database creation tutorial"
We need to add a wiki page about creating the Sample Database.

[2021-11-29 14:24] Matvey16 opened #14724 "ERD with multiple tables can be drawn incorrectly if there is a table that references itself"
#### System information:
- DBeaver version 21.3.0

#### Describe the problem you're observing:
If some table references itself than the relation that is drawn in the diagram ignores other tables and goes through them

#### Steps to reproduce, if exist:
1. Create a table that references itself
2. Add some more tables to the same schema
3. Open a schema diagram
4. Drag any table so it will get in a

[2021-11-29 14:24] FedorovaDarya opened #14725 "Project password isn't set when clicking the Apply button"
#### System information:
- Win10
- DBeaver EE 21.3.0

#### Describe the problem you're observing:
Project password isn't set when clicking the Apply button, even if you click Apply And Close after it.

#### Steps to reproduce, if exist:
Go to Projects view.
Right-click on a project -> Preferences -> DBeaver Settings -> Project Security.
Click on the **Set password** button.
Enter valid data and cl

[2021-11-29 14:26] Matvey16 commented on #14704
Verified
Minor issue created based on this one
#14724

[2021-11-29 14:26] #14704 closed, assigned to serge-rider

[2021-11-29 15:35] Lkledu commented on #14723
it's a request or you did it? If you go to `help->Create Sample Database`, dbeaver will create a sample SQLite database. Also while coding, I create a docker container running postgres, i can add it in wiki.

[2021-11-29 16:32] hski-github commented on #14719
Oh, great. For Oracle 12 this works now.

How about HANA 2?

[2021-11-29 17:01] Destrolaric commented on #14723
@Lkledu It's issue ticket to add for completed task. I think you need to open it as an additional ticket for this, i think we need to gather opinions about this before adding it.

[2021-11-29 17:27] daweth opened #14726 "The application "DBeaver" can't be opened."
#### System information:
- macOS montery m1 max
- DBeaver version
- Additional extensions

#### Describe the problem you're observing:
can't open dbeaver

#### Steps to reproduce, if exist:
just open the app

[2021-11-29 18:09] enderjsv opened #14727 "PostgreSQL: Support for packages"
In Dbeaver, I cannot see packages.

![image](https://user-images.githubusercontent.com/91348281/143920226-86b71560-d783-491f-a687-60b4a044a687.png)

However in pgadmin they are there.

![image](https://user-images.githubusercontent.com/91348281/143920283-145a2044-96aa-45b8-a2ff-d92456f4755e.png)

There are no errors in the errors log.  Any idea why the packages do not show?

[2021-11-29 18:32] ShadelessFox commented on #14727
Hello @enderjsv,

DBeaver does not show packages because this feature is not implemented.

I'll mark it as a feature request.

[2021-11-29 18:48] flambchap commented on #14726
Hello @daweth. What DBeaver version are you trying to run? Is it a dedicated build for AArch64? What errors do you see?

[2021-11-29 18:56] enderjsv commented on #14727
Thank You ShadelessFox

[2021-11-30 01:33] feeva opened #14729 "Querying empty string without specifying alias causes an error rendering the result"
#### System information:
- Operating system (distribution) and version - **Windows 11**
- DBeaver version - **21 and later**
- Java version  - **11.0.12**

#### Connection specification:
- Database name and version - **mysql**

#### Describe the problem you're observing:
Querying empty string without specifying alias causes an error rendering the result. For example, `select name, created_date, ''

[2021-11-30 06:30] LonwoLonwo commented on #14575
Implemented.

[2021-11-30 07:55] kaaga1 opened #14731 "Dbeaver will show wrong data with column datatype "decimal(4,0) unsigned zerofill" (MariaDB)"
Dbeaver (21.3.0) will show wrong data with column DataType ; "decimal(4,0) unsigned zerofill" with default value of  "0101"

It should show the value

0101

DBbeaver shows value as:
00000000000000000000000000000000000000000000101

PHP Myadmin and other tools are showing the value corectly

[2021-11-30 08:22] Destrolaric commented on #14722
https://github.com/dbeaver/dbeaver/wiki/How-to-add-additional-artifacts-to-the-driver

[2021-11-30 08:23] Destrolaric commented on #14723
https://github.com/dbeaver/dbeaver/wiki/Sample-Database

[2021-11-30 08:42] DariaMarkaryan commented on #14575
Verified

[2021-11-30 08:42] #14575 closed, assigned to DariyaFedorova, LonwoLonwo

[2021-11-30 09:28] qiqingli opened #14733 "Omit schema when exporting data to another table"
**Is your feature request related to a problem? Please describe.**
When exporting data to another table, shcema information is specified by default, which causes the import data to fail because the target table is a sharded database table. I hope an option can be provided to omit the schema information when exporting data to the target table.

**Describe the solution you'd like**
Hopefully, the op

[2021-11-30 09:34] Matvey16 commented on #12508
This was partially broken again by a fix in #14704
Currently reproduces by:
1. Create a custom diagram with relations
2. Drag the lines so they will become a mess
3. Save diagram and close it
4. Reopen the diagram and click on `arrange diagram` button

[2021-11-30 09:41] flambchap commented on #14710
Hello @hamidrezaabroshan. Thank your interest in DBeaver and your willingness to help. We will focus our attention on accessibility issues such as this one. The table grid is the most challenging part of the whole affair, IMHO. That's because the grid itself is a `Canvas`.

[code]

[2021-11-30 09:45] Skydiveroid commented on #14062
We still cannot reproduce this problem.

[2021-11-30 09:45] #14062 closed, assigned to ShadelessFox

[2021-11-30 09:47] Skydiveroid commented on #14543
We still cannot reproduce this problem.

[2021-11-30 09:58] Matvey16 commented on #7890
Reproducible only on Linux

[2021-11-30 11:02] Koi7 commented on #12753
not actual for me, switched to windows

[2021-11-30 11:45] stefardin opened #14735 "Freez parsing sql statement with many brackets"
#### System information:
- Windows 10 Pro for Workstations 21H1
- DBeaver version 21.3.0.202111281534
- Additional extensions: no one

#### Connection specification:
- with both Oracle or PostgreSQL local or remote database

#### Describe the problem you're observing:
SQL statements with many brackets causes freezing before start execution. It depends on many brackets. Same statement with less bra

[2021-11-30 12:40] serge-rider commented on #14414
Fixed

[2021-11-30 13:05] GriGrim opened #14737 "Exasol Kerberos authentification"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro
- DBeaver version: 7.2.0

#### Connection specification:
- Database name and version: Exasol 6.2.13, Exasol 7.1.2
- Driver name: exajdbc 6.2.9
- kerberoshostname: exasol.example.com
- kerberosrealm: EXAMPLE.COM
- kerberosservicename: exasol
- kerberosusername: danila

#### Describe the problem you're observing:

[2021-11-30 13:20] ShadelessFox commented on #14351
Implemented creation, deletion, and altering.

[2021-11-30 14:09] Stadlerrr opened #14738 "ODBC query always returns null value"
#### System information:
- Operating system: Windows 10 Pro
- DBeaver version: 21.3.0.202111281534
- Java version : 8 update 131

#### Connection specification:
- Mysql ODBC
- Mysql ODBC 5.1 Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc): No, just a forticlient VPN to access the server

#### Describe the problem you're observing:

When running any simple query that should "autofill" the

[2021-11-30 14:38] LonwoLonwo commented on #14469
Fixed in DBeaver 21.3.1

![2021-11-30 10_06_16-DBeaver Ultimate 21 3 0 - _postgres 13 3_Script-81](https://user-images.githubusercontent.com/45152336/144002262-9d003ab0-2025-4551-9da2-18c3312e4c61.png)

[2021-11-30 14:42] LonwoLonwo commented on #14735
Hello @stefardin
Thanks for the bug report.

Close cases: https://github.com/dbeaver/dbeaver/issues/14053 and https://github.com/dbeaver/dbeaver/issues/13905

Maybe we must update the @JSQLParser library in the project.

[2021-11-30 15:41] Matvey16 opened #14739 "PostgreSQL backup/restore task can't be executed if the wizard is opened from a tasks window"
#### System information:
- DBeaver version 21.3.0

#### Connection specification:
- Database name and version PostgreSQL 12/14

#### Steps to reproduce, if exist:
1. Create a backup task
2. Double click on that task in **Database tasks** window
3. Immidiately click `Proceed`

**Expected:** Backup task is executed
**Actual:** Nothing changes and NPE is thrown

[code]

[2021-11-30 17:21] techlock77 opened #14742 "Column Search in the result set - Feature request"
Problem Description
  On a daily basis, I deal with tables having columns more than 200-250. And, if I need to look for a certain column, I have to pull the DDL or Transpose the result set and search for the column names that I am looking for and pull those column names to the editor.

  The above steps are a bit time-consuming.

Solution
  I would like to have a column search feature in the Metad

[2021-11-30 19:38] ShadelessFox commented on #14739
Looks like a side-effect of #14556.

[2021-11-30 22:32] daweth commented on #14726
Version :   DBeaver	21.3.0.202111281534	org.jkiss.dbeaver.core.product	null

[2021-12-01 00:44] tgross35 opened #14747 "Migration `ALTER` statements fail if system versioning is used - missing `SET @@system_versioning_alter_history = 1;` (mariadb)"
#### System information:
- Operating system: Windows and MacOS
- DBeaver version: 21.2.0
- Additional extensions: None

#### Connection specification:
- Database name and version: Mariadb 10.6.x
- Driver name: Mariadb Connector (assuming latest)
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: Yes

#### Describe the problem you're observing:
~~Migrations~~ Any schema changes via the GUI often f

[2021-12-01 02:19] imzhi opened #14748 "When too many tabs are opened, popup filter can be fuzzy matching"
![image](https://user-images.githubusercontent.com/2304019/144154842-ded14d0a-1307-4bdb-ba35-d0c5da0d674b.png)

![image](https://user-images.githubusercontent.com/2304019/144154881-66bd47f8-8125-4b78-9002-81a7801c4598.png)

**Is your feature request related to a problem? Please describe.**
When too many tabs are opened, can the input filter text in the pop-up list box be changed from prefix matchi

[2021-12-01 03:36] lpossamai commented on #11613
I no longer have this issue so will close this ticket.

[2021-12-01 03:36] #11613 closed, assigned to ShadelessFox

[2021-12-01 03:42] lpossamai opened #14749 "Auth fail with SSH Key and SSH Tunnel"
When trying to use an SSH Tunnel, I get the following error: `Auth fail`

- DBeaver version: 21.3.0
- MacOS 12.0.1
- DBeaver SSHJ 1.0.91

My SSH key looks like this:

[code]

I can ssh into the server using the same SSH Key.

Error log:

[code]

Thanks in advance.

[2021-12-01 05:26] SSSDNSY opened #14750 "Table Property editing: Removable fields."
**Is your feature request related to a problem? Please describe.**
When I edit the fields of the table, a new field needs to be put in front, and I can only click on the build up of dozens of fields one by one

**Describe the solution you'd like**
Removable or draggable

**Describe alternatives you've considered**
input the sorted number I  want

**Additional context**
I hate one by one click up o

[2021-12-01 07:27] LonwoLonwo commented on #14731
@kaaga1 Thanks for the bug report!

[2021-12-01 07:27] LonwoLonwo commented on #14731
Related: https://github.com/dbeaver/dbeaver/issues/5457

[2021-12-01 09:14] s0me0ther commented on #14543
Sorry for my late answer.

`yay dbeaver`

[code]

[code]

It's a default DBeaver installation on Arch with XFCE with the Arc-Dark Theme
![image](https://user-images.githubusercontent.com/2334783/144205875-5653e674-4efb-4606-8143-1f5ba7a8cda6.png)

[2021-12-01 09:15] keygendnl opened #14751 "Blinks when viewing table data"
- Operating system (distribution) and version
Debian 9.0 Stretch
- DBeaver version
 21.3.0.202111281534(now) and older version same problem
- Additional extensions
installation like from a box

Earlier versions had this problem as well. I use i3wm.
I am attaching a link to a video with a problem.
https://drive.google.com/file/d/1KefbAUQ75j25j07wO08JmIHXTK93a3oo/view?usp=sharing

[2021-12-01 09:19] s0me0ther commented on #14543
@Skydiveroid , @Matvey16

Following error will occur while i try to install the darkest dark theme:

![image](https://user-images.githubusercontent.com/2334783/144206392-a6f1c3eb-3bd2-4859-81ad-3bd213ceb06d.png)

I choose following  DarkestDarkTheem url from select:
`Darkest Dark Theme - https://www.genuitec.com/updates/devstyle/ci/`

[2021-12-01 09:37] Matvey16 commented on #14543
@s0me0ther Could you try to install DBeaver manually from https://dbeaver.io/download/ ? It can be a problem with a repository that yay uses for install.

[2021-12-01 10:08] s0me0ther commented on #14543
If i download and install directly, install of dark theme works like a charm.
Now DBeaver is usable. Even if i reinstall the package version, the dark theme is  now activated and usable.
Not the solution i thought, but works for me.
Seems an problem with the arch community package..

[2021-12-01 10:36] lukaseder opened #14752 "Support H2 2.0.202"
#### System information:
- DBeaver version: Version 21.2.4.202111011413

#### Connection specification:

- Database name and version: `com.h2database:h2:2.0.202`

#### Describe the problem you're observing:

The H2 database has drastically changed their `INFORMATION_SCHEMA` to be more standards compliant. Unfortunately, this means a variety of functionality in DBeaver may no longer work correctly.

[2021-12-01 10:49] Matvey16 commented on #14705
Verified

[2021-12-01 10:49] #14705 closed, assigned to Destrolaric

[2021-12-01 10:54] Matvey16 commented on #14543
@s0me0ther Yes, the arch community package actually needs custom modification to work like our original package, including modifying the dependencies manually. So I would recommend using packages from our site

[2021-12-01 10:54] #14543 closed, assigned to nobody

[2021-12-01 11:17] Matvey16 commented on #14072
No longer reproducible in 21.3.0

[2021-12-01 11:17] #14072 closed, assigned to Matvey16

[2021-12-01 11:26] LonwoLonwo commented on #14752
Thanks for the idea @lukaseder

[2021-12-01 11:31] Matvey16 commented on #14469
Verified

[2021-12-01 11:31] #14469 closed, assigned to LonwoLonwo, Matvey16

[2021-12-01 12:25] LonwoLonwo commented on #14719
It was also implemented for Hana.
Let's try to figure out - why it doesn't work in your case.

![2021-12-01 15_19_16-DBeaver Ultimate 21 3 0 - _HANA_Script-90](https://user-images.githubusercontent.com/45152336/144233744-4d6d7a21-594a-4130-91b8-a118ce650513.png)

Can you see synonyms objects in the Database Navigator tree?

[2021-12-01 12:42] LonwoLonwo commented on #14680
Are you talking about this field?

![2021-12-01 15_39_08-Export](https://user-images.githubusercontent.com/45152336/144236298-99a54e76-69ef-4c5f-b75e-ee6792df610a.png)

[2021-12-01 13:03] gabrielrra commented on #13287
![image](https://user-images.githubusercontent.com/39421688/144238943-ae249eab-0d21-4415-915b-1a61306565c3.png)
When generating DLL now the Unique constraint is generated twice.
I can confirm that other constraints such as Foreign Keys, Primary Keys and other non clustered indexes are not duplicated, only Unique Constraints.

[2021-12-01 13:17] gabrielrra opened #14754 "[SQL Server] Generating DDL duplicating Unique Constraint"
#### System information:
- Windows 10
- DBeaver version - 21.3.0.202111281534
- No extensions

#### Connection specification:
- Sql Server 2005 and 2019

#### Describe the problem you're observing:

Whenever I generate a DDL of a table with a Unique Constraint, the sql resulted will have two lines for creating the Unique Constraint, one inside the `CREATE TABLE ( )` and another one separated as an

[2021-12-01 13:30] jmevel commented on #1544
Personally I've smart commit enabled and I'm in Auto commit mode. Though, when I want to quit DBeaver it always ask me if I want to commit my transactions even though I only performed some `SELECT` queries...

So the smart commit seems not to work as it is written in the documentation

[2021-12-01 13:56] miky2184 opened #14755 "Export data sql missing quote of values"
#### System information:
- Operating system (distribution) and version --> macOs BigSur 11.6.1
- DBeaver version --> 21.3.0
- Additional extensions --> NO

#### Connection specification:
- Database name and version --> PostgresSQL
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
When export data in sql insert format, missing the quotes s

[2021-12-01 14:53] hski-github commented on #14719
The synonyms are shown for HANA (like in your screenshot), but not the columns from the table or view the synonym is pointing to.

If I enter "SELECT * FROM schema1.synonym1 WHERE " and hit ctrl-space in SQL console I would like to get columns shown in autocomplete from the table the synonym is point to.

[2021-12-01 15:35] flambchap commented on #14726
Do you use `Mac OS X x86 (dmg)` or `Mac OS X M1 (dmg) – beta`?

[2021-12-01 15:42] flambchap opened #14757 "Unable to create varchar(max) column in entity editor"
#### System information:
- Operating system (distribution) and version Win 11
- DBeaver version 21.2 UE

#### Connection specification:
- Database name and version Redshift

Redshift supports the MAX keyword for character data types. For example:
[code]
https://docs.aws.amazon.com/redshift/latest/dg/r_Character_types.html

In this case, `col1` will have the type `varchar(65535)`.

Unfortunately, w

[2021-12-01 16:59] FeIix commented on #14680
Yes, exactly !

[2021-12-01 17:28] LonwoLonwo commented on #14754
Hello @gabrielrra

As SQL Server [documentation](https://docs.microsoft.com/en-us/sql/relational-databases/tables/unique-constraints-and-check-constraints?view=sql-server-ver15) said:

 So... we can't show you your table index. It is correct.
So what do you suggest?

[2021-12-01 17:40] LonwoLonwo commented on #14729
@feeva Thanks for the bug report

[2021-12-01 17:45] LonwoLonwo commented on #14719
Yes, I see the issue with the Hanas synonyms columns.
But what about this case:

If I enter "SELECT * FROM schema1." and hit ctrl-space in SQL console, I see tables and views listed from that schema, but also synonyms should be shown for autocomplete

Is it working for Hana?

[2021-12-01 18:04] Cergoo opened #14758 "Import from csv needs option 'trim whitespase' for cells"
Сan't import .csv file, I get a message:
Can't parse numeric value [ 150275] using formatter
For input string: " 150275"

This often happens due to the presence of whitespace characters.
SQLyog does an excellent job of this because it has an option to remove whitespace characters.

[2021-12-01 18:46] hski-github commented on #14719
Yes, that one works.

[2021-12-01 19:54] huineng commented on #11097
i had the same thing (Server information show "Redis null")
I was using  (ibm cloud) but might be the same

I disabled cluster and checked "Use SSL" , i just provided my CA Certifcate and could connect

[2021-12-01 22:17] LonwoLonwo commented on #14729
Fixed in DBeaver 21.3.1

[2021-12-01 23:13] suryapsb commented on #9652
is this issue resolved ? if resolved, can someone provide steps to fix this issue?

[2021-12-02 00:10] ReeganExE commented on #1224
For Mac users:
[code]

Append the config to the end of file then restart DBeaver.
[code]
List tz: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

[2021-12-02 00:33] tgross35 commented on #14749
Do you have the correct username in your connection settings by any chance? This threw me off.

Also double check your authentication method is "Public Key" and the private key field points to the correct location.

[2021-12-02 00:37] lpossamai commented on #14749
Hi there.

Yes, I've checked the username and also the "Public Key" method. The private key is the same I use to connect via SSH.

[2021-12-02 00:42] tgross35 opened #14762 "Don't change table view's visible properties for the "Navigator View" simple mode"
**Is your feature request related to a problem? Please describe.**
The navigator view's simple mode is great for cleaning up the connections panel and removing usually unneeded nesting. However, I think it should be decoupled from changing the table view.

**Describe the solution you'd like**
Changing the view to "Simple" shows a simplified table view:

![image](https://user-images.githubuserconte

[2021-12-02 05:53] ghost opened #14763 "Can't initialize database consumer. No target object and no target container"
Mssql -> PostgreSQL
when working on a task

"
2021-12-02 14:25:59.810 - Connect with 'MssqlDB' (microsoft-17d04707f16-57f1c7983e7a4ab8)
2021-12-02 14:25:59.810 - Connect to jdbc:sqlserver://;serverName=192.168.67.192;databaseName=MssqlDB
2021-12-02 14:25:59.811 - 	Connect to data source
2021-12-02 14:25:59.824 - Execution context opened (MssqlDB; Main; 3)
2021-12-02 14:25:59.865 - 	Connecting Main

[2021-12-02 06:36] ghost commented on #14763
Databases -> Schemas -> public
After selection, setting is complete.

[2021-12-02 06:36] #14763 closed, assigned to nobody

[2021-12-02 07:19] ems2811 commented on #14293
Still reproduces in DBeaver 21.3.0

[2021-12-02 07:33] LonwoLonwo commented on #14719
@hski-github ok, thanks for the investigation!

[2021-12-02 07:44] ghYura opened #14764 "Could you please make navigator tree more compact?"
Could you please make navigator tree more compact?
I mean, economize space on the left from expanded tree, because after all tree expansion I have to shrink main SQL-editor and DB-data-view-column tab/windows (and I have opened them very lot on the right side) so this is feel uncomfortable.

Take a look at possibility for this option for IntelliJIDEA:
https://stackoverflow.com/a/70195443/11714800

[2021-12-02 07:52] LonwoLonwo commented on #14680
@FeIix Ok, Thanks for the idea.

[2021-12-02 09:02] ShadelessFox commented on #14293
Thanks for information. That's unfortunate.

[2021-12-02 09:06] BlazejPalkus opened #14765 "How not to cut off zeros when rounding"
Hi,
I want the result to display exactly as many decimal places as I want when using the ROUND function to 4 decimal places. However, when the final numbers are zeros, they are truncated. It bothers me in data validation. Could someone please help me to solve this problem?
![image](https://user-images.githubusercontent.com/45154348/144391132-fdeb9f16-c85c-47b7-a699-dda1be810f00.png)

[2021-12-02 09:23] ShadelessFox commented on #14764
Hello @ghYura,

It's not possible, unfortunately. DBeaver runs on Eclipse platform that uses OS's native widgets for its graphics.

It is possible in Intellij IDEA because it is powered by Swing library that is entirely written in Java and has no OS-specific widgets and thus can be highly customizable.

[2021-12-02 09:24] #14764 closed, assigned to nobody

[2021-12-02 09:33] uslss commented on #13647
verified

[2021-12-02 09:33] #13647 closed, assigned to serge-rider, uslss

[2021-12-02 09:38] uslss commented on #14729
The query cannot be executed if some symbol was highlighted during execution
![6FEEbxIoyJ](https://user-images.githubusercontent.com/31996417/144396141-96d163f9-a012-452b-95fc-06decb0053b7.gif)
[code]

[2021-12-02 09:45] rgobo opened #14766 "Open Database Object is not filtering on currently active database"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.3.0.202111291534 (november 29)

#### Connection specification:
MSSQL server, driver version 9.2.0.jre8

#### Describe the problem you're observing:
Searching with Ctrl+Shift+D (Open Database Object) and typing a table name displays every potential table on any existing database on the active se

[2021-12-02 09:49] ghYura commented on #14764
@ShadelessFox  Thanks for descriptive clarification

[2021-12-02 10:59] bazmap commented on #11453
Hi,

I've encountered the same trouble as @michalk-k mentionned here.

I will describe a very specific example :

1. Create a database with two schema : "public" and "postgis"
2. Create the PostGIS extension into the "postgis" schema (it's always a good practice to install big extension into there own schema)
3. Set the search_path at the connection of the database to "$user, public, postgis" to a

[2021-12-02 12:29] hamidrezaabroshan commented on #14710
Thanks @akilovich,
Which component used to represent cells?

[2021-12-02 14:11] Matvey16 commented on #13548
Verified

[2021-12-02 14:11] #13548 closed, assigned to ShadelessFox, Matvey16

[2021-12-02 14:15] Matvey16 commented on #14082
Verified

[2021-12-02 14:15] #14082 closed, assigned to LonwoLonwo, Matvey16

[2021-12-02 14:28] uslss commented on #14672
verified

[2021-12-02 14:28] #14672 closed, assigned to flambchap, uslss

[2021-12-02 14:31] uslss commented on #14351
verified

[2021-12-02 14:31] #14351 closed, assigned to uslss, ShadelessFox

[2021-12-02 14:36] medvejonok79 commented on #13153
Hello, I've at last been able to test metadata source = 0 and can confirm it works, the descriptions are visible again with this fix.

Thank you very much for your replies. The bug can be closed in my view.

[2021-12-02 14:56] serge-rider commented on #14710
There is no SWT component for cells, DBeaver paints cell values on canvas (LightGrid).

You can examine GridCellRenderer (for cell values) and GridColumnRenderer (for column headers).

[2021-12-02 15:40] bupy7 opened #14770 "dbeaver quit unexpectedly"
#### System information:
- macOS Monterey 12.0.1
- DBeaver version: dbeaver-ce-21.3.0-macos-x86_64

#### Describe the problem you're observing:

![image](https://user-images.githubusercontent.com/5145037/144451964-9f804cc6-f30b-4d9a-b99d-eb5a15edf19e.png)

#### Steps to reproduce, if exist:

1. Install DBeaver
2. Open DBeaver
3. Work in DBeaver
4. Close DBeaver
5. Restart your mac
6. Open DBeaver

[2021-12-02 15:57] zhicwu opened #14771 "Include "java.net.http" module in bundled JRE"
**Is your feature request related to a problem? Please describe.**
With default DBeaver setup, I ran into below error when testing a driver uses JDK 11 HttpClient:
[code]

**Describe the solution you'd like**
Include `java.net.http` module in bundled JRE. Is there any specific reason exclude the module?

**Describe alternatives you've considered**
I had to manually switch to JDK11 located in a dif

[2021-12-02 16:09] #13153 closed, assigned to nobody

[2021-12-02 16:16] zhicwu opened #14772 "Display nanoseconds in ClickHouse"
**Is your feature request related to a problem? Please describe.**
DBeaver does not display nanoseconds for below query in ClickHouse:
[code]
![image](https://user-images.githubusercontent.com/4270380/144459933-22bce33a-da66-4c0c-9ed3-9d588ed676d7.png)

**Describe the solution you'd like**
Display nanoseconds according to returned `LocalDateTime` or `OffsetDateTime`.

**Describe alternatives you'v

[2021-12-02 16:30] zhicwu commented on #14255
FYI, despite from the version, ClickHouse JDBC driver 0.3.2 is a complete rewrite with some features(e.g. more metadata, fake transaction support, and standard UPDATE/DELTE statements etc.) for better JDBC compliance.

In v[0.3.2-test1](https://github.com/ClickHouse/clickhouse-jdbc/releases/tag/v0.3.2-test1), the first test build for public testing, `ResultSet.getObject()` returns a `java.sql.Arra

[2021-12-02 16:34] ShadelessFox commented on #14255
That's a useful information, thank you.

[2021-12-02 16:45] zhicwu opened #14773 "Categorize table based on its type"
**Is your feature request related to a problem? Please describe.**
In JDBC, `TABLE_TYPE` can be used to categorize tables. Typical types are "TABLE", "VIEW", "SYSTEM TABLE", "GLOBAL TEMPORARY", "LOCAL TEMPORARY", "ALIAS", "SYNONYM". I see DBeaver supports the first two, but can we support more? For example, in ClickHouse, there are also [dictionaries](https://clickhouse.com/docs/en/engines/table-e

[2021-12-02 19:05] uslss commented on #13909
Include filter are case sensitive, but exclude is case-insensitive.
Exclude `TEST\_*` mask:
![image](https://user-images.githubusercontent.com/31996417/144486199-a5b34619-a655-4abb-8ae4-793043e1f595.png)
Include:
![image](https://user-images.githubusercontent.com/31996417/144486270-42eace16-5e0e-4d0b-87ee-6683cd5b2188.png)
So the highlighted database are excluded, but not included:
![image](https:

[2021-12-02 19:12] uslss commented on #13689
Reopened: include filter is case-insensitive, but exlude filter is case-sensitive

[2021-12-02 19:21] uslss commented on #14414
verified

[2021-12-02 19:21] #14414 closed, assigned to serge-rider, uslss

[2021-12-02 19:33] uslss commented on #13284
verified

[2021-12-02 19:33] #13284 closed, assigned to uslss, ShadelessFox

[2021-12-02 21:54] LonwoLonwo commented on #14772
Hello @zhicwu

Have you try to change the data formatting in the Preferences? https://dbeaver.com/docs/wiki/Managing-Data-Formats/#changing-data-formats

![2021-12-03 00_54_16-DBeaver Ultimate 21 3 0 - _default_Script-95](https://user-images.githubusercontent.com/45152336/144509316-78443c87-9def-4f3a-9818-637ad575451b.png)

[2021-12-03 00:21] zhicwu commented on #14772
Thank you @LonwoLonwo! It's a great feature, but ClickHouse can define DateTime64 with scale from 0 to 9 and it has DateTime32.
[code]
![image](https://user-images.githubusercontent.com/4270380/144522915-587661e9-fb09-46fb-8b49-93edd7b8e0e1.png)

I'm not sure how to make nanoseconds part optional(the format I'm using is `yyyy-MM-dd HH:mm:ss.SSSSSSSSS`). In Java, it's something like below. Moreover

[2021-12-03 02:42] tarungk opened #14777 "Best java application suggest"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-03 03:07] ffbh123456 commented on #12355
Hi, how is it going? will you add this feature?

[2021-12-03 05:57] ShadelessFox commented on #14777
I'm not sure what's the point of this issue.

Please create a new one and fill our template instead of leaving it as-is.

[2021-12-03 05:57] #14777 closed, assigned to nobody

[2021-12-03 06:31] boblancer commented on #1849
If someone involve is reading this please make enable by default for the greater good of humanity.

[2021-12-03 06:36] hktalent opened #14778 "[ERROR] Internal error: org.eclipse.tycho.core.ee.UnknownEnvironmentException: Unknown OSGi execution environment: 'JavaSE-"
- macOS
<img width="281" alt="image" src="https://user-images.githubusercontent.com/18223385/144556704-86b7717e-5abd-4680-98a7-2217efcba82a.png">

-  jenv versions
  system
* 1.8 (set by /Users/51pwn/.jenv/version)
  1.8.0.302
  11.0.13
  openjdk64-1.8.0.302
  openjdk64-11.0.13

- jenv local 11.0.13

- mvn -v
Apache Maven 3.8.3 (ff8e977a158738155dc465c6a97ffaf31982d739)
Maven home: /usr/local/Cell

[2021-12-03 06:38] Matvey16 commented on #12335
Verified

[2021-12-03 06:38] #12335 closed, assigned to Destrolaric, Matvey16

[2021-12-03 07:27] Matvey16 commented on #13075
Verified

[2021-12-03 07:39] Skydiveroid commented on #14750
Thank you for the future request!

[2021-12-03 07:55] hktalent commented on #14778
now ,fix is ok
[code]

[2021-12-03 07:55] #14778 closed, assigned to nobody

[2021-12-03 08:18] LinWanCen opened #14780 "show comment in left element tree"
**Is your feature request related to a problem? Please describe.**
We are always frustrated when I read the table and column comment need open a tab.

**Describe the solution you'd like**
We hope show comment in left element tree, like DataGrip open Viev -> Appearance -> Details in Tree View.

https://intellij-support.jetbrains.com/hc/requests/2827972

[2021-12-03 08:23] uslss commented on #13565
verified

[2021-12-03 08:23] #13565 closed, assigned to Destrolaric, uslss

[2021-12-03 09:59] Matvey16 commented on #13075
Using this argument on Linux when DBeaver is maximized leads to it getting minimized

[2021-12-03 10:12] LonwoLonwo commented on #14772
@zhicwu Yes, you can change Data Format settings only for Clickhouse Datasource. Just click on the "Edit connection" in the Database Navigator Tree.

![2021-12-03 11_38_13-DBeaver Ultimate 21 3 0 - test_db](https://user-images.githubusercontent.com/45152336/144585271-2d6c7265-8456-4fb2-8f23-ee8dec5d2db5.png)

Also, you can try to enable "Disable data format settings". Maybe it helps.

[2021-12-03 10:28] zhicwu commented on #14772
Cool, thanks again. Disable date/time format helped, but the time zone part is gone. Would be nice if the date format can support optional nanoseconds(tried `yyyy-MM-dd HH:mm:ss[.SSSSSSSSS]` but ended up with NPE :p).

[2021-12-03 10:35] LonwoLonwo commented on #14772
Auch. Do you have NPE stack trace?

[2021-12-03 10:39] zhicwu commented on #14772
Try change date format to `yyyy-MM-dd HH:mm:ss[.SSSSSSSSS]` and you'll get below NPE:
[code]

[2021-12-03 10:42] hktalent opened #14783 "please support GraphQL query,thanks"
please support GraphQL query,thanks

[2021-12-03 10:56] sryze commented on #5931
Same issue on macOS, it works for some time after startup but then goes back to the default behavior, very strange

[2021-12-03 11:35] ShadelessFox commented on #14783
Hello @hktalent,

Please provide more details about your request.

Thanks.

[2021-12-03 11:36] ShadelessFox commented on #14780
Hello @LinWanCen,

Please post screenshots or text instead of attaching external links.

[2021-12-03 12:02] #13075 closed, assigned to ShadelessFox, Matvey16

[2021-12-03 12:17] flambchap commented on #14771
To shrink the size of the distribution.

[2021-12-03 14:17] LonwoLonwo commented on #14729
Fixed.

[2021-12-03 14:48] ShadelessFox commented on #12740
Fixed:

https://user-images.githubusercontent.com/35821147/144040497-77c57956-4d78-4241-9782-7f268a4d9f96.mp4

[2021-12-03 16:43] ShadelessFox opened #14785 "Tasks: an exception is thrown while reading task statistics"
#### Steps to reproduce, if exist:
Create a new task, save it. Observe an exception in the error log

#### Include any warning/errors/backtraces from the logs

[code]

[2021-12-04 01:42] hktalent commented on #14783
like https://graphql.org tools, thanks @ShadelessFox

[2021-12-04 02:42] 86kk614 commented on #10032
possible to have dbeaver themes not disabled when windows is using high-contrast theme?

[2021-12-04 11:19] ShadelessFox commented on #14783
I'm not sure what exactly do you want us to support.

AFAIK GraphQL is a language for API queries. It has nothing to do with databases.

Can you elaborate?

[2021-12-04 14:51] #14783 closed, assigned to nobody

[2021-12-04 21:25] Hermholtz opened #14790 "[Data transfer] Apply target table mapping chosen in "Browse" to all selected items in the list"
I'm trying to copy individual partitions to a single target table using "Export Data". In the "Tables mapping" I'm selecting all items in the grid and clicking "Browse" to select an existing target table. Unfortunately this choice is only applied to the first item. I'd like this to be applied to all selected items. Please see the screenshot.

I considered copying the entire master partitioned tabl

[2021-12-04 21:46] Hermholtz opened #14791 "[21.3.0] Partition sizes aren't displayed anymore in Database Navigator"
#### System information:
- Operating system (distribution) and version: Windows 11
- DBeaver version: 21.3.0
- Additional extensions: not used

#### Connection specification:
- Database name and version: PostgreSQL 14
- Driver name: default
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
In version 21.2.0 partition sizes were correctly displayed.

[2021-12-05 05:43] ghost opened #14792 "create mysql table failed"
successful：
create table if not exists `students`(`stu_id` int,
`name` varchar(10));

failed：
create table if not exists "students"("stu_id" int
"name" varchar(10));
create table if not exists 'students'('stu_id' int
'name' varchar(10));

finded the  english quotation marks(‘or ") using error,copy 菜鸟教程 succeed

[2021-12-05 09:26] nagylzs opened #14793 "Make config file location configurable under windows"
This request is related to #2755. In https://github.com/dbeaver/dbeaver/issues/2755#issuecomment-513260791 the default config file location for linux was placed under `${XDG_DATA_HOME}/DBeaverData` but for windows, it is still a (somewhat) fixed directory `%AppData%/DBeaverData`.

Here is the use case:

* I have multiple Windows computers, and I work on all of them.
* I have a common config direct

[2021-12-05 10:41] flambchap commented on #14793
Hi @nagylzs. I synchronize DBeaver workspaces between my Windows machines using Dropbox. To do that, I created a different workspace under the directory I share between my devices. You can do that by clicking File -> Switch Workspace -> Other. Does this solution work for you?

[2021-12-05 10:58] nagylzs commented on #14793
I just moved my workspace folder inside a synchronized folder, and I could switch to it. Everything seems to be working. I'm not sure what will happen if I leave open DBeaver on one computer and open it on another one at the same time. But So far so good.

[2021-12-05 10:58] #14793 closed, assigned to nobody

[2021-12-05 11:51] ShadelessFox commented on #14792
Hello @Fred-Laiu,

I'm not sure what you're trying to achieve.

Are you trying to execute mentioned statements via SQL editor?

[2021-12-05 12:36] ghost commented on #14792
yes,I am only trying for  creating a table .then ,finding this

[2021-12-05 12:37] ghost commented on #14792
![图片](https://user-images.githubusercontent.com/50812743/144746823-c013e45f-af91-4575-9347-3d7c5ea951b2.png)

[2021-12-05 12:47] ShadelessFox commented on #14792
You need to use backticks: `` ` ``:
https://dev.mysql.com/doc/refman/8.0/en/identifiers.html

Both `"` and `'` are used for defining string literals:
https://dev.mysql.com/doc/refman/8.0/en/string-literals.html

[2021-12-05 12:47] #14792 closed, assigned to nobody

[2021-12-05 17:40] Jnb2387 opened #14799 "Turn off SQL Tranformation"
**Is your feature request related to a problem? Please describe.**

When copying and pasting column names with quotes, the text is extracted and loses the quotes.
Hitting CTRL + C to copy the column name and then hitting CTRL + V pastes the column name but removes the quotes and a popup appears stating 'SQL Transformation, SQL Query was extracted from the source code.'

**Describe the solution you

[2021-12-05 21:17] IL2 opened #14800 "Better support of END IF/END REPEAT/END WHILE/END FOR (DB2)"
#### System information:
- Windows 10 x64
- DBeaver 2.1.3
- Office Integration

#### Connection specification:
- DB2 AS/400 7.4
- jt400 10.7
- Do you use tunnels or proxies (SSH, SOCKS, etc)? none

#### Describe the problem you're observing:
Compound SQL statements fail if include "END IF"/ "END WHILE" keywords with default delimiter settings
https://www.ibm.com/docs/en/i/7.4?topic=routines-dynami

[2021-12-05 22:02] LonwoLonwo commented on #14791
@Hermholtz Hello

Thanks for the bug report!

[2021-12-05 22:48] Hermholtz commented on #14791
@LonwoLonwo Thank you very much for quick reaction and the fix!

[2021-12-06 01:03] SSSDNSY commented on #14750
OK, looking forward to it!

[2021-12-06 01:07] ShadelessFox commented on #14800
Hello @IL2,

Thank you for the report.

[2021-12-06 06:35] Skydiveroid commented on #14722
verified

[2021-12-06 06:35] #14722 closed, assigned to Destrolaric, Skydiveroid

[2021-12-06 06:36] Skydiveroid commented on #14723
verified

[2021-12-06 06:36] #14723 closed, assigned to Destrolaric, Skydiveroid

[2021-12-06 07:42] uslss commented on #13689
verified

[2021-12-06 07:42] #13689 closed, assigned to Destrolaric, uslss

[2021-12-06 07:45] uslss commented on #13909
still reproducible
![image](https://user-images.githubusercontent.com/31996417/144807107-72fb60dd-e901-40b6-a836-392a5ecd3482.png)
![image](https://user-images.githubusercontent.com/31996417/144807157-eb48ce3e-44f8-46ec-818b-c273ffe90635.png)

[2021-12-06 07:47] uslss commented on #14729
verified

[2021-12-06 07:47] #14729 closed, assigned to uslss, LonwoLonwo

[2021-12-06 07:49] uslss commented on #14785
verified

[2021-12-06 07:49] #14785 closed, assigned to uslss, ShadelessFox

[2021-12-06 08:14] jbernardes commented on #14413
I also have this crash on Ubuntu 20.04 with the snap version 21.2.5

[2021-12-06 08:16] Matvey16 commented on #12740
Wrong script when granting some of the permissions and then revoking all

![adB5eH3AEo](https://user-images.githubusercontent.com/82543000/144811184-74a1fe04-479c-49fc-ba50-be15cde48565.gif)

[2021-12-06 08:30] Matvey16 commented on #13561
The bug still persists

[2021-12-06 08:46] uslss commented on #14626
@yonisade sorry for the late response. unfortunately, cannot reproduce an issue.
Could you provide a [full error log](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-12-06 08:48] uslss commented on #14685
thanks for the report. Closed a duplicate of #12043

[2021-12-06 08:48] #14685 closed, assigned to nobody

[2021-12-06 08:52] uslss commented on #14799
@Jnb2387 Could you try to uncheck Extract SQL from the source code option in Preferences and check if it helps?
![image](https://user-images.githubusercontent.com/31996417/144816023-053d6dcf-21c7-4cb4-9d51-0a23bea7afc1.png)

[2021-12-06 08:59] parisni opened #14803 "Dbeaver Snap install trouble with athena jdbc access"
I installed dbeaver with snap on ubuntu 20.04. In order to connect to athena thougth jdbc and temporary session tokens, the [solution presented here](https://aws.amazon.com/premiumsupport/knowledge-center/athena-iam-jdbc-driver/) didn't work "the profile cannot be null". I had to install dbeaver with the archive to make it work. I suspect snap install does not access to my `~/.aws/credentials` fil

[2021-12-06 09:15] serge-rider commented on #12718
IT also doesn't work in Windows when there is some text before cursor

[2021-12-06 09:15] serge-rider commented on #12718
Very similar to #14721

[2021-12-06 09:16] serge-rider commented on #14721
Duplicate of #12718

[2021-12-06 09:16] #14721 closed, assigned to nobody

[2021-12-06 09:16] uslss commented on #14790
thanks for the suggestion

[2021-12-06 09:27] uslss commented on #14766
Thanks for the report.
At the moment:
- Search is performed **within chosen schema** in case it was in focus when Ctrl+Shift+D was opened.
- Search is performed **within chosen database** in case it was in focus when Ctrl+Shift+D was opened.
- Search isn't performed at all in case some table was in focus when Ctrl+Shift+D was opened.
![F8uLU7r21S](https://user-images.githubusercontent.com/31996417

[2021-12-06 09:29] uslss commented on #14758
please provide more info about feature accordingly to the [template ](https://github.com/dbeaver/dbeaver/issues/new?assignees=&labels=feature+request%2C+wait+for+review&template=feature_request.md&title=)

[2021-12-06 09:30] uslss commented on #14755
thanks for the report

[2021-12-06 09:36] uslss commented on #14738
thanks for the report

closed as a duplicate of #6213

[2021-12-06 09:36] #14738 closed, assigned to nobody

[2021-12-06 10:09] ridicolos opened #14804 "Show default-privileges in PostgreSQL"
There is no tab or menu in DBeaver to show default-privileges in a PostgreSQL-Database.

Currently to do this I use this sql-script to show me the information:

[code]

or do it simply with psql

[code]

It would be nice if you could check your default-privileges of a PostgreSQL-Database inside the DBeaver-UI.

[2021-12-06 10:41] rgobo commented on #14766
Thanks for the clarification, I assumed it always uses the database/schema specified in the connection settings, not that I'd have to focus it in the navigator. I have it collapsed often so I'm guessing my search defaults to all available databases on the server instead, but if I select a specific database then it works fine.

Basically, if you also had a table named "Department" in the "2019test"

[2021-12-06 11:05] uslss commented on #14361
there is no update on ticket for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-12-06 11:05] #14361 closed, assigned to nobody

[2021-12-06 11:06] uslss commented on #14440
there is no update on ticket for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-12-06 11:06] #14440 closed, assigned to nobody

[2021-12-06 11:06] uslss commented on #14459
there is no update on the ticket for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-12-06 11:06] #14459 closed, assigned to nobody

[2021-12-06 11:16] uslss commented on #910
there is no update on the ticket for a long time.
If it is still actual for you - feel free to reopen it with additional info

[2021-12-06 11:16] #910 closed

[2021-12-06 11:19] uslss commented on #14485
there is no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info.

[2021-12-06 11:19] #14485 closed, assigned to nobody

[2021-12-06 11:21] uslss commented on #13900
is it still reproducible against the recent version?

[2021-12-06 11:21] uslss commented on #14508
there is no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info.

[2021-12-06 11:21] #14508 closed, assigned to nobody

[2021-12-06 11:23] uslss commented on #14473
sorry for the late response.
You can read about it [here](https://github.com/dbeaver/dbeaver/wiki/Data-Editor)

[2021-12-06 11:23] #14473 closed, assigned to nobody

[2021-12-06 11:24] uslss commented on #14287
there is no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info.

[2021-12-06 11:24] #14287 closed, assigned to nobody

[2021-12-06 11:24] uslss commented on #14160
there is no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info.

[2021-12-06 11:24] #14160 closed, assigned to nobody

[2021-12-06 11:25] uslss commented on #14336
there is no update on the issue for a long time. If it is still actual - feel free to reopen it with additional info.

[2021-12-06 11:25] #14336 closed, assigned to nobody

[2021-12-06 11:33] uslss commented on #14248
Probably, you've got Compare only structure option checked
![image](https://user-images.githubusercontent.com/31996417/144838765-940dec74-dbc7-4b8c-85c1-baab1a737ad3.png)
in this case difference between datatypes isn't shown
![image](https://user-images.githubusercontent.com/31996417/144838852-0ec1a5f4-a68a-42d6-9ef7-b94e7a831030.png)

In case mentioned option is unchecked the result looks like:
!

[2021-12-06 11:53] #14614 closed, assigned to nobody

[2021-12-06 11:59] uslss commented on #14711
the issue is already fixed in 21.3.0 in the scope of #12071

[2021-12-06 11:59] #14711 closed, assigned to nobody

[2021-12-06 12:00] uslss commented on #12753
closed as a duplicate of #5322

[2021-12-06 12:00] #12753 closed, assigned to Matvey16

[2021-12-06 12:02] Destrolaric opened #14808 "Synonyms, Sequences, Triggers and Database Triggers folders cannot by open due to error"
Synonyms, Sequences, Triggers and Database Triggers folders cannot by open due to error
[code]

[2021-12-06 12:03] Destrolaric commented on #14669
For Case 2 new issue is opened #14808

[2021-12-06 12:08] Matvey16 commented on #13561
Verified

[2021-12-06 12:20] uslss opened #14810 "[Oracle] Include filters for databases are case sensitive, but exclude filters are case-insensitive."
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.3.0

#### Connection specification:
- Database name and version Oracle

#### Describe the problem you're observing:
Include filters for databases are case sensitive, but exclude filters are case-insensitive.
Existing databases:
![image](https://user-images.githubusercontent.com/31996417/144844386-6b7d

[2021-12-06 12:21] uslss commented on #13909
created issue #14810
verified

[2021-12-06 12:21] #13909 closed, assigned to Destrolaric, uslss

[2021-12-06 12:21] Skydiveroid commented on #14808
part of this #14669 ticket

[2021-12-06 13:05] parisni commented on #10276
that would be usefull indeed

[2021-12-06 13:22] akilovich opened #14811 "Write a wiki page about the Task variables"
We need to write a wiki page explaining how to use the Task variables in SQL Script tasks.

[2021-12-06 14:26] Stadlerrr commented on #6213
Hi, there's any chance to solve this?
I would really like to move from Navicat to dBeaver, but until this is fixed I just can't use it.
Having queries returning NULL values where they should not doesn't allow me to do my job in a very solid way.
I hope that someone can help. Thank you!

[2021-12-06 15:38] Jnb2387 commented on #14799
Perfect, thank you!

[2021-12-06 15:38] #14799 closed, assigned to nobody

[2021-12-06 15:56] mhstnsc commented on #8584
same here. reran the query. I have the latest version, button disabled. so annoying

[2021-12-06 20:38] fgalvani70 opened #14814 "Date format in SQL SELECT is inverted when connecting to a SQL SERVER 14. SQL SERVER 12 it's ok"
#### System information:
- Operating system (distribution) and version:
System:    Kernel: 5.4.0-91-generic x86_64 bits: 64 compiler: gcc v: 9.3.0 Desktop: Cinnamon 5.0.7
           wm: muffin dm: LightDM Distro: Linux Mint 20.2 Uma base: Ubuntu 20.04 focal
- DBeaver version 21.3.0
- Additional extensions: no extensions

#### Connection specification:
- Database name and version: **DTMREMOTO**
- D

[2021-12-07 00:23] podoni opened #14817 "How to clear Bind Parameter(Variable) ?"
The method I know is to delete the Bind Parameter panel one by one or manually edit the file(sql-variables-driver-oracle_oracle_thin.json) and restart the deaver.
Is there a way to delete all at once by selecting an area in the Bind Parameter panel?

[2021-12-07 01:47] daweth commented on #14726
I use `Mac OS X M1 (dmg) - beta`.
I uninstalled and reinstalled, seems to have fixed it

[2021-12-07 04:07] xiantuteng commented on #1774
Use Word Wrap feature that wraps the text within a screen.
Use Auto Format feature to automatically change the appearance of XML/JSON script (fix spaces around operators / commas, fix
indentation, etc) and make it more readable.
To learn more about Value panel, see Panels.
DBeaver user guide 61/285
[https://dbeaver.com/doc/dbeaver.pdf](https://dbeaver.com/doc/dbeaver.pdf)

![image](https://user-im

[2021-12-07 07:20] Destrolaric commented on #14717
After some research I find it has more complexity due to having console commands from eclipse and additional parts used. Closing it for now.

[2021-12-07 07:20] #14717 closed, assigned to Destrolaric

[2021-12-07 08:01] JueShanCoder opened #14818 "Drop table generates sql statement without schema information!"
#### System information:
- MacOS
- DBeaver version : 21.0.5.202105160657

#### Connection specification:
- Database name and version: Custom jdbc driver

#### Describe the problem you're observing:
When I select the database and schema and click on the table to drop the table, check that the generated SQL script for drop the table has no schema information

![image](https://user-images.githubuserc

[2021-12-07 08:19] DariaMarkaryan opened #14820 "Can't perform export of Date type column to JSON and Source code"
#### System information:
- Win10
- DBeaver CE 21.3.0

#### Connection specification:
- Tested on ClickHouse, DB2, Derby, MariaDB

#### Describe the problem you're observing:
DateTime column can be exported without any problem. But if you have Date column in the source table when export you'll get an error

#### Include any warning/errors/backtraces from the logs
For JSON
[code]
For Source code
[co

[2021-12-07 09:05] ShadelessFox commented on #14818
Hello @JueShanCoder,

What database is it?

[2021-12-07 09:33] JueShanCoder commented on #14818
Hi, This is our internal database, a custom jdbc driver. As you can see in the picture, DBeaver can get the corresponding database and schema but when building the sql, it finds that there is no schema. @ShadelessFox

[2021-12-07 09:33] LonwoLonwo commented on #14820
Duplicate of https://github.com/dbeaver/dbeaver/issues/12503
(Thanks for the error log)

[2021-12-07 09:33] #14820 closed, assigned to nobody

[2021-12-07 09:40] LonwoLonwo commented on #14427
- binary type handled (uses length as a parameter)
- datetimeoffset type handled (uses scale as a parameter)

[2021-12-07 09:50] ShadelessFox commented on #1651
Implemented as a part of the Enterprise Edition.

[2021-12-07 09:56] ShadelessFox commented on #14818
I see. My suggestion is to try tweaking driver properties, especially this one:

![java_wGak08uypG](https://user-images.githubusercontent.com/35821147/145007049-2e757667-db03-4cfa-b80a-1e69a14780e9.png)

Please let me know if it helps.

[2021-12-07 10:12] rajeevmenon11 commented on #14429
Our DB2 team would like to know the below info on this DDL issue:
•	If there’s no fix for this, then they need to get a confirmation email from DBeaver support stating there’s no fix for this and that they need to grant elevated access for meta tables
•	Would like to get list of Grants that needs to be granted to fix this

-       DB2 Team is currently using the below list of GRANTS as a temporary

[2021-12-07 10:27] michal-bartak commented on #14682
I wouldn't say making it FR is correct way. Since clients MUST respect that setting it should be a bug.

[2021-12-07 10:29] uslss commented on #14427
verified

[2021-12-07 10:29] #14427 closed, assigned to uslss, LonwoLonwo

[2021-12-07 10:32] uslss commented on #1651
verified

[2021-12-07 10:32] #1651 closed

[2021-12-07 10:42] JueShanCoder commented on #14818
Unfortunately, it doesn't work and the generated sql still doesn't contain schema information. @ShadelessFox

[2021-12-07 10:46] Knase commented on #8447
@adbarbosa  Look this article https://askubuntu.com/questions/18654/how-to-prevent-updating-of-a-specific-package
Run command for lold update:
`echo "dbeaver-ce hold" | sudo dpkg --set-selections`

[2021-12-07 10:46] JueShanCoder commented on #14818
I have the same problem when I double click on the table to view the data, there is no schema in the generated sql. @ShadelessFox

[2021-12-07 10:56] LonwoLonwo commented on #14314
- SQL Insert statement for custom types fixed (data wrapping)
- Fully qualified names returned for custom data types

[2021-12-07 11:04] fvannee commented on #14314
Thanks a lot! This is awesome. Am I correct that this fixes the "composite inside another composite" (first case) and "schema-qualified enum" (second case), but that the third case (quoted below) is still open?

[2021-12-07 11:06] JueShanCoder commented on #14818
![image](https://user-images.githubusercontent.com/67142106/145018195-587c2316-a577-45bc-bc0f-f3fd6224cbb7.png)

The database is missing

[2021-12-07 11:23] LonwoLonwo commented on #14791
Fixed in DBeaver 21.3.1

[2021-12-07 12:14] Skydiveroid commented on #14596
Thanks for the idea! Unfortunately, this requires more effort than just a small Pull Request. We will work on it later.

[2021-12-07 12:19] Skydiveroid commented on #14700
@hlascelles sorry for the late response.
Could you provide a [full error log](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-12-07 12:24] Skydiveroid commented on #14715
Thanks for the bug report!

[2021-12-07 12:30] Matvey16 commented on #14737
@GriGrim Have you tried using a more recent version?

[2021-12-07 12:34] uslss commented on #14748
thanks for the suggestion

[2021-12-07 12:35] Skydiveroid commented on #14749
@lpossamai, sorry for the late response.
Could you provide a [full error log](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-12-07 12:44] Matvey16 commented on #14682
@michalk-k That looks like expected behavior of date/time formatting. Can you try to disable it and check if the time is right?

![image](https://user-images.githubusercontent.com/82543000/145031240-c694b9d2-10ea-4b1f-bbaf-a6b3f6da2f14.png)

[2021-12-07 12:45] ShadelessFox commented on #14314
Hello @fvannee,

Yes, it is still open.

[2021-12-07 13:11] Matvey16 commented on #14694
@wangqian-49 Hello, can you add how did install dbeaver?

[2021-12-07 13:24] Matvey16 commented on #14733
@qiqingli What do you mean by shared database?

[2021-12-07 13:29] qiqingli commented on #14733
@Matvey16 It is a database based on MySQL database package, you can specify multiple slices according to the field value rules when building a table, and the table data will be automatically matched to different slices according to the field value when accessing the table data.

[2021-12-07 13:36] Matvey16 commented on #13334
@VladimirVarnakov Can you try renaming the property `auth` to `authMode`

[2021-12-07 13:41] uslss commented on #14791
verified

[2021-12-07 13:41] #14791 closed, assigned to uslss, LonwoLonwo

[2021-12-07 13:43] Matvey16 commented on #14742
@techlock77 Thank you for the suggestion

[2021-12-07 13:47] Matvey16 commented on #14749
@lpossamai What implementation are you using? From the error log it looks like you didn't change it from Jsch

![dbeaver_OtkV4XETwa](https://user-images.githubusercontent.com/82543000/145040646-9e078244-c59e-4ada-a220-775434550b1b.png)

[2021-12-07 14:06] MarkFergusonTN commented on #1651
Just to make sure I understand, the ability to see/work with SQL Server Agent jobs is now part of the Enterprise edition of DBeaver?

[2021-12-07 14:10] ShadelessFox commented on #1651
@MarkFergusonTN yes.

[2021-12-07 14:23] LonwoLonwo commented on #1651
@MarkFergusonTN and part of DBeaver Lite Edition too.

[2021-12-07 14:24] MarkFergusonTN commented on #1651
Great! Thank you so much!

[2021-12-07 15:03] philmassie commented on #12225
In case someone finds this helpful, this works for us:
`
CREATE TABLE mydb.mynewtable
WITH (
      format = 'Parquet',
      write_compression = 'SNAPPY',
      external_location = 's3://my-bucket/created_tables/mydb.mynewtable'
      )
AS
SELECT * somedb.sometable WHERE somecolumn = 'some_value;
`
Seems to work well with very complex SQL and the parquets are then available to Spark/whatever too w

[2021-12-07 15:28] MarkFergusonTN commented on #1651
Is there any documentation on how to do this in the Lite Edition yet?

[2021-12-07 15:39] lichaoge opened #14824 "Does cloud dbeaver support Command line to pass parameters? Can parameters be passed in using Command line like windows when starting the dbeaver container? For example: https://github.com/dbeaver/dbeaver/wiki/Command-Line"
Does cloud dbeaver support Command line to pass parameters? Can parameters be passed in using Command line like windows when starting the dbeaver container? For example: https://github.com/dbeaver/dbeaver/wiki/Command-Line

[2021-12-07 16:12] robmoss2k opened #14825 "Athena connections broken in DBeaver 21.3.0"
#### System information:
- Windows 11
- 21.3.0
- AWS Athena driver extension

#### Connection specification:
- AWS Athena
- Standard driver
- No tunnels or proxies

#### Describe the problem you're observing:

Athena connections are broken by the following commit: https://github.com/dbeaver/dbeaver/commit/77ae18807fe7d07a3adaa8c2a16ff93ee4980c6b

This commit was included in DBeaver 21.3.0 via issu

[2021-12-07 16:43] hlascelles commented on #14700
There isn't much in it I'm afraid, just confirmation that the "resetted settings" are not valid.

![image](https://user-images.githubusercontent.com/299102/145070290-23f98bf4-1218-47f4-88e0-a3b7647b0cc7.png)

[2021-12-07 16:45] hlascelles commented on #14700
So just to simplify:

1) The "error" is that two settings are in conflict
2) The "cause" is that one of the settings must be `null`, but DBeaver changes the `null` setting back to `true` on restart.
3) If DBeaver could leave a user-blanked out setting as blank, then everything would work.

[2021-12-07 19:09] ShadelessFox commented on #14824
Hello @lichaoge,

Please refer to the CloudBeaver issue board:
https://github.com/dbeaver/cloudbeaver/issues

[2021-12-07 19:09] #14824 closed, assigned to nobody

[2021-12-07 19:18] taf1-cornell-edu opened #14830 "[Database] [Tools] menu incorrect when either Session Manager or Locks Manager is open"
#### System information:
- Operating system: Windows 10 Enterprose Ver 1909
- DBeaver version:  21.3.0.2021111281534

#### Connection specification:
- Database name and version:  Postgres 13.x

#### Describe the problem you're observing:
From the main menu, under [Database], [Tools], the submenu items are ([Session Manager] [Lock Manager] [Create new task ...] .)   Once either Session Manager or L

[2021-12-07 20:14] lpossamai commented on #14749
You are right, I did not change the implementation.

After changing it to `SSHJ`, I get the following error:

[code]

[2021-12-07 20:16] lpossamai commented on #14749
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/7671352/dbeaver-debug.log)

Sure. Hope that helps.

[2021-12-07 20:28] cumanacr commented on #12485
@ricsajr I was having the same issue today, that does the trick, thanks!

[2021-12-07 20:46] serge-rider commented on #14825
Could you try to create a new Athena connection and test it?
Or just change something in existing Athena connection settings (this will re-generate URL) and try to connect?

[2021-12-08 00:14] ShadelessFox commented on #14818
Unfortunately, we can't do much without any environment we can use for testing.

[2021-12-08 01:54] alanOO7 opened #14833 "data export"
#### System information:
- Operating system (distribution) and version
-- win10_64x,
- DBeaver version
-- 21.1.1.202106210824
- Additional extensions

#### Connection specification:
- Database name and version
--sqlserver
- Driver name
-- Microsoft JDBC Driver for SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
--NO

#### Describe the problem you're observing:
with t1 as ( select * f

[2021-12-08 02:06] #14833 closed, assigned to nobody

[2021-12-08 03:23] wangqian-49 commented on #14694
@Matvey16

1. Download the installation package "dbeaver-ce-21.2.2-stable.x86_64.rpm" from the website "https://dbeaver.io/download/".
2. Install using command "rpm -ivh dbeaver-ce-21.2.2-stable.x86_64.rpm".
3. cd /usr/share/dbeaver-ce, and ./dbeaver to start.
4. click Window->Preferences, left click User Interface,  and In the right window to modify the language,restart according to the prompt, t

[2021-12-08 06:34] Matvey16 commented on #13561
The issue is reproducible again

[2021-12-08 07:42] Matvey16 commented on #12740
Verified

[2021-12-08 07:42] #12740 closed, assigned to ShadelessFox, Matvey16

[2021-12-08 07:58] Matvey16 commented on #13112
Verified

[2021-12-08 07:58] #13112 closed, assigned to Destrolaric, Matvey16

[2021-12-08 08:33] JueShanCoder commented on #14818
Fixed it, Tks for your help. I will close this issue.

[2021-12-08 08:33] #14818 closed, assigned to nobody

[2021-12-08 08:40] Matvey16 commented on #14664
@ReconditenessPerson Where do you see this bug? I tried to reproduce it and the comments are formatted correctly in view declaration

![image](https://user-images.githubusercontent.com/82543000/145176320-df07d75e-424f-4c8c-97ef-68634bbb5fbc.png)

[2021-12-08 08:52] mbissinger opened #14835 "New task type: shell commands"
I was wondering whether it is possible to have a new task type (Database -> Tasks -> Create new task) for executing shell commands (see screenshots below for an illustration). Executing shell commands is already possible before/after connecting/disconnecting to a database (Edit connection wizard -> Connection settings -> Shell Commands). Like there it would be nice if variables (e.g. ${database})

[2021-12-08 09:47] GreatEMU commented on #6131
Same issue with switzerland keyboard.
I can't believe that there is a correction on this issue since 2 years.
This is one of my most used functions.

[2021-12-08 09:50] flambchap commented on #14771
We've decided to include it in our JRE. Thank you.

[2021-12-08 09:54] huijgijjefisnnfdsid opened #14836 "Can search tables be fuzzily queried?"
Can search tables be fuzzily queried???

[2021-12-08 09:54] #14836 closed, assigned to nobody

[2021-12-08 09:54] huijgijjefisnnfdsid commented on #14836
Can search tables be fuzzily queried

[2021-12-08 09:54] flambchap commented on #14771
@zhicwu Could you please tell me what driver you use? I want to replicate this issue to be able to test the fix.

[2021-12-08 10:01] Matvey16 opened #14837 "Cross-project connections drag-n-drop problem"
#### System information:
- DBeaver version 21.3.0

#### Describe the problem you're observing:
Connection moved from or into a project created from git doesn't appear until the project is manually refreshed or DBeaver restart

#### Steps to reproduce, if exist:
1. Create a project from git that has a connection inside a folder
2. Drag the connection to another project that exists only on local mac

[2021-12-08 10:03] serge-rider commented on #14837
Fixed

[2021-12-08 10:04] Matvey16 commented on #6806
Verified

[2021-12-08 10:12] zhicwu commented on #14771
Please use clickhouse-jdbc [v0.3.2-test2](https://github.com/ClickHouse/clickhouse-jdbc/releases/download/v0.3.2-test2/clickhouse-jdbc-0.3.2-test2-http.jar) for testing purpose. It's a multi-release jar file, HttpClient will be used when you're using JDK 11 or above.

[2021-12-08 10:18] flambchap commented on #14749
Stripped down log: [dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/7675231/dbeaver-debug.log)

[2021-12-08 10:25] Matvey16 commented on #13561
It looks like if the fix somehow got reverted

[2021-12-08 10:50] Matvey16 commented on #6806
If preferences are opened and closed with "Apply and close" button, file name pattern will be erased

![QdFfNheiZW](https://user-images.githubusercontent.com/82543000/145195790-617aeeff-e744-4f7e-b930-7bcc7e127bbe.gif)

[2021-12-08 10:54] adidiot opened #14838 "Retrieve DDL for temporary indexes (or table)"
Hello,

On a Oracle DB I received this error message when trying to retrieve DDL for temporary index ?
Is that a bug or is it not possible to retrieve DDLs for this type of objetcs ?

  SQL-Fehler [31603] [99999]: ORA-31603: Objekt "TMP_KALENDER_IX_END1" vom Typ INDEX  in Schema "PPS_STD" nicht gefunden
  ORA-06512: in "SYS.DBMS_METADATA", Zeile 6069
  ORA-06512: in "SYS.DBMS_METADATA", Zeile 8666

[2021-12-08 11:01] Matvey16 commented on #14837
Verified

[2021-12-08 11:01] #14837 closed, assigned to serge-rider, Matvey16

[2021-12-08 12:31] Matvey16 commented on #14825
@robmoss2k Can you check what URL Template you have in driver settings and if it is not like in the picture, try to reset it to default?

![image](https://user-images.githubusercontent.com/82543000/145208818-d0125893-3595-4bcb-9cae-afeb79529ee3.png)

[2021-12-08 12:37] Skydiveroid commented on #14700
We need to investigate that.

[2021-12-08 12:44] Skydiveroid commented on #14702
Thank you for the report.

[2021-12-08 13:14] Skydiveroid commented on #14804
Thank you for the idea.

[2021-12-08 13:15] michal-bartak commented on #14682
Indeed disabling formatting helps in that that case. Thank you for pointing me out on that

But I would never guess it's expected behavior from formatting function.
IMO formatting output and applying time offset are different cases. For example formatting allows to change precision of fraction of seconds or setup date/time format valid for your country. But definitively should respect session time

[2021-12-08 13:18] tati-kru commented on #9757
It looks like a feature request. We cannot export indexes at this moment. But we can do this.

[2021-12-08 13:25] Skydiveroid commented on #14817
Thank you for the idea.

[2021-12-08 13:26] Skydiveroid commented on #14835
Thank you for the idea.

[2021-12-08 13:43] LonwoLonwo commented on #14081
Closed as duplicate: https://github.com/dbeaver/dbeaver/issues/12503

[2021-12-08 13:43] #14081 closed, assigned to nobody

[2021-12-08 13:46] flambchap commented on #14749
Hi @lpossamai. I see that you use DBeaver's build for m1. Could you please try using the x86_64 build under Rosetta and see if it helps?

[2021-12-08 13:47] LonwoLonwo commented on #14262
Duplicate of #12503

[2021-12-08 13:47] #14262 closed, assigned to nobody

[2021-12-08 13:50] flambchap commented on #14429
Hi @rajeevmenon11. AFAIK, Tatiana has answered your request by email. We can continue the conversation here.

[2021-12-08 13:55] Matvey16 commented on #13196
Doesn't work if the script was already opened for another connection

[2021-12-08 14:02] Matvey16 opened #14843 "Wrong path is opened when clicking browse in embedded database connection"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.1 EA

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
1. Open connection settings for embedded database (e.g. SQLite)
2. Click on **Browse..**

**Expected:** Path to the database location is opened
**Actual:** Last opened path is opened

![Yi9J43CKXd](https://user-ima

[2021-12-08 14:08] serge-rider commented on #14702
Can't reproduce.  When lockPassword  property is set then DBeaver asks for password before configuration change.

It allows to open connection edit dialog though.

![image](https://user-images.githubusercontent.com/6398845/145222289-7a072fad-de34-475c-85ec-bbe9ce983235.png)

[2021-12-08 14:13] Matvey16 commented on #6806
Verified

[2021-12-08 14:13] #6806 closed

[2021-12-08 14:35] ShadelessFox commented on #13971
Duplicate of #12319.

[2021-12-08 14:35] #13971 closed, assigned to nobody

[2021-12-08 15:05] Roenbaeck opened #14844 "Keyword "STRICT" in SQLite 3.37.0 results in an error"
#### System information:
- Windows 10 - Operating system (distribution) and version
- 21.3.0.202111281534 - DBeaver version

#### Connection specification:
- File generated by SQLite 3.37.0 - Database name and version
- org.xerial:sqlite-jdbc:RELEASE 3.36.0.3 - Driver name

#### Describe the problem you're observing:
The new keyword "STRICT" introduced in 3.37.0 results in an error:
`[SQLITE_CORRU

[2021-12-08 15:33] flambchap commented on #14844
Hi @Roenbaeck. Could you please send the [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-12-08 15:34] fcarton commented on #14702
HEllo,

I test with a new fresh "zip" windows 64 bit version and i reproduce. In the dbeaver-debug log i've got this message

**Service 'org.jkiss.dbeaver.runtime.ui.UIServiceSecurity' not found**

Is it linked to my issue ?

Thank you

[2021-12-08 15:37] Roenbaeck commented on #14844
[code]

[2021-12-08 15:40] flambchap commented on #14844
Thank you. There is nothing we can do other than wait for the new driver version.

[2021-12-08 16:28] kai-morich opened #14845 "refactor boolean access in HANA SYS schema"
boolean like columns in SYS schema are stored as VARCHAR(5) with values TRUE, FALSE

(to be used in my PR)

[2021-12-08 17:09] Matvey16 commented on #14314
Verified

[2021-12-08 17:09] #14314 closed, assigned to ShadelessFox, Matvey16

[2021-12-08 17:25] flambchap commented on #8983
We have a customer with a similar issue.

[2021-12-08 20:45] LonwoLonwo commented on #14053
Steel waiting for the official 4.3 JSQLParser release.

[2021-12-08 23:00] lpossamai commented on #14749
I have a Macbook PRO M1.

I asked my friend to test in a Windows machine and he confirms it works. So it's on my mac only that isn't working.

[2021-12-09 00:38] ShadelessFox commented on #6077
Hello @ivanlonel,

It is possible since both pgAgent and pg_cron use cron to create schedules, so we can use the same logic for these two.

But please create a separate feature request.

[2021-12-09 02:25] moshimowang326 opened #14849 "export sql data lost the ‘’ single quotes"
#### System information:
- Operating system (distribution) and version: windows 10
- DBeaver version: 21.2.5.202111141807

#### Describe the problem you're observing:

<img width="467" alt="企业微信截图_16390155068263" src="https://user-images.githubusercontent.com/54019970/145321109-f9652723-39a7-4904-bda1-fce5d54c6c94.png">

when I exorpt the data ,  ‘I’  lost the  single quotes.
<img width="376" alt=

[2021-12-09 06:36] zhangheng0027 commented on #14849
I found the same thing

[2021-12-09 07:53] Destrolaric opened #14850 "NPE in SQLEditorVariablesResolver"
Null pointer exception when starting DBeaver
[code]

[2021-12-09 08:15] Matvey16 commented on #14682
@michalk-k Thank you for the suggestion. We will look if time zone formatting for time data can be a separate option.

[2021-12-09 08:26] uslss commented on #14755
verified

[2021-12-09 08:26] #14755 closed, assigned to uslss, LonwoLonwo

[2021-12-09 08:53] flambchap commented on #14749
I think this is because some encryption protocol needed in your particular SSH setup is disabled in Java 17. We need to repack our macOS AArch64 package.

[2021-12-09 08:54] flambchap commented on #14749
I'll do it simultaneously with this issue: https://github.com/dbeaver/dbeaver/issues/14771

[2021-12-09 08:55] flambchap commented on #14771
I'll fix this issue simultaneously with https://github.com/dbeaver/dbeaver/issues/14749

[2021-12-09 09:20] manticore-projects commented on #14053
Greetings DBeaver Team.

unfortunately, I am not sure if a 4.3 release will happen too soon. Compared to the 4.2 release only a few fixes and improvements have appeared yet. It is all up the project owner @wumpz (although I will write him an e-mail asking for help).

Is there anything I can do for you in the meantime?
What would be your preferred alternative in case a resource starved 3rd party de

[2021-12-09 09:33] uslss commented on #14292
https://github.com/dbeaver/dbeaver/wiki/How-to-connect-to-Oracle-Database-using-JDBC-OCI-driver

[2021-12-09 09:33] #14292 closed, assigned to flambchap

[2021-12-09 10:49] Matvey16 opened #14854 "Metadata refresh incorrectly changes search field"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.1

#### Steps to reproduce, if exist:
1. Open table properties
2. Filter some columns with search field
3. Click refresh

**Expected:** Either the search field remains unchanged or filtering is cleared
**Actual:** The search field disappears, but columns are still filtered

![JNRHtTZqNP](https://use

[2021-12-09 11:23] LonwoLonwo commented on #14849
Thanks for the bug report.

This bug has already been fixed https://github.com/dbeaver/dbeaver/issues/14755
and the fix will be available in DBeaver 21.3.1 version

[2021-12-09 11:23] #14849 closed, assigned to nobody

[2021-12-09 11:27] LonwoLonwo commented on #14755
Fixed in DBeaver 21.3.1

[2021-12-09 11:47] serge-rider commented on #14702
Fixed

[2021-12-09 13:06] virgoparna opened #14856 "SSH agent authentication no longer works in Windows with Pageant."
#### System information:
- Windows 10 21H2
- DBeaver Version 21.2.2.202109281101

#### Connection specification:
- mariadb 10.5
- Driver name: MariaDB
- SSH tunnel

#### Describe the problem you're observing:

After update from Windows Store today DBeaver fails to connect to database over ssh tunnel with an error:
Unable to initialize SSH agent

Can't initialize tunnel
  Unable to initialize SSH a

[2021-12-09 13:07] Matvey16 commented on #14555
Can't reproduce anymore, needs more specific steps to reproduce.

[2021-12-09 13:12] fcarton commented on #14702
Thank you very much !

[2021-12-09 13:47] Skydiveroid commented on #14309
Thank you for the suggestion. We will work on that.

[2021-12-09 14:11] ShadelessFox commented on #14856
Hello @virgoparna,

I'm a bit confused by the provided log.

Can you please clear the debug log file first, reproduce the issue, and then send the newly filled debug log?

[2021-12-09 14:23] virgoparna commented on #14856
[dbeaver.log](https://github.com/dbeaver/dbeaver/files/7685781/dbeaver.log)
Added.

[2021-12-09 14:28] virgoparna commented on #14856
Something strange: inside DBeaver it shows version number 21.2.2 (in title bar). But when i right-clicked on shortcut and selected more, app settings then Windows shows Version: 21.3.1.0. Something strange with Store install?

[2021-12-09 14:33] virgoparna commented on #14856
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/7685850/dbeaver-debug.log)
That was not debug log, that should be correct.

[2021-12-09 14:42] ShadelessFox commented on #14856
Thanks, that's a much clearer log. We'll also investigate the version issue you've mentioned.

[2021-12-09 14:45] kseniiaguzeeva opened #14858 "Enabling date/time formatting doubles values in the column filter for dates"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.3.1 EA

#### Steps to reproduce, if exist:
1. Enable date/time formatting in the connections settings
2. Open the filter in the column header for a date column (e.g. DB2 `DB2INST1.PURCHASEORDER` column `ORDERDATE`)

**Expected**: the number of filtered values ​​is equal to the number of unique values ​​

[2021-12-09 14:54] Cergoo commented on #14758
Сan't import .csv file, I get a message:
Can't parse numeric value [  150275] using formatter
  For input string: "  150275"

This often happens due to the presence of whitespace characters.
SQLyog does an excellent job of this because it has an option to remove whitespace characters.

[2021-12-09 16:30] flambchap commented on #13821
We have a customer with the same issue.

[2021-12-09 17:23] LonwoLonwo commented on #14053
Thanks for the answer @manticore-projects

Okay, I understood about releases.

Maybe you can take a look at this ticket? https://github.com/dbeaver/dbeaver/issues/14735

[2021-12-09 17:43] manticore-projects commented on #14735
Greetings!

Definitely related to JSQLParser, although I have not been able to spot the problem immediately.
I will look into it and return with a solution shortly.

[2021-12-09 17:55] manticore-projects commented on #14735
The problem should be related to the `IN` clause which provide just too many potential `Complex Expressions` which are expensive to parse.

I will need to modify JSQLParser in this regard (limiting `Complex Expressions` to max. 10, switching to cheap simple expressions beyond that).

[2021-12-09 17:57] manticore-projects commented on #14735
As it looks to me, your SQL is invalid since the opening/closing brackets do not match.

[2021-12-09 18:18] manticore-projects commented on #14735
After a bit of trial and error and fixing the query by removing the last 2 closing brackets:

1) the query parses, just (too) slow (e. g. within 3 seconds on my computer)

2) the reason is the Bracket-Structure, because everything inside those Brackets is seen as an expensive Complex Expression as long as we do not exceed a Nesting Depth of 10.

3) Simple Expression (only) parsing would be applied

[2021-12-09 19:47] LonwoLonwo commented on #14735
Yep, SwingWorker is cool, but we just do not use Swing in DBeaver.

Thanks for the answer @manticore-projects

[2021-12-09 20:30] RickSaavedra opened #14860 "Default the proxy setting for Drivers."
#### System information:
- Windows 10
- 21.3.0
- 11.0.12+7

#### Describe the problem you're observing:

We are trying to default the install to include default proxy information for drivers to download. Can this be setup somehow using i.e. (ini file, command line options)?

[2021-12-09 20:59] jstorch commented on #2054
Thanks @GooBall.  This does help but still doesn't fix the original problem of accidently running code in a different location than you expected because the IDE isn't configured correctly. I am one of many on a team.  Not everyone will have this environment.  This is the same as counting on the security settings that are also in the General section.  It’s nice but I am not betting my job on it.  T

[2021-12-09 23:38] ShadelessFox commented on #14860
Hello @RickSaavedra,

Proxy settings, among others, are stored within the workspace folder.

Take a look at https://github.com/dbeaver/dbeaver/wiki/Workspace-Location.

[2021-12-09 23:39] #14860 closed, assigned to nobody

[2021-12-10 00:06] Stadlerrr commented on #6213
Hi all,

I figured out a solution (or at least a possible quick workaround)!!

It is just necessary to set the "Character set" in MySQL Connector/ODBC Data Source Configuration.
Usually it is blank by default...

You can easily find and modify it here:
Type in Windows menú (Search) - ODBC Data Sources (64-bit) - _select your connection_ - Configure... - Details - Connection tab - Character Set

![

[2021-12-10 08:28] manticore-projects commented on #14735
I have opened [JSQLParser Issue 1438](https://github.com/JSQLParser/JSqlParser/issues/1438) for this.

[2021-12-10 08:33] manticore-projects commented on #14735
For Eclipse RCP, you should use Jobs API:
[code]

[2021-12-10 08:52] Oceanboy-free opened #14862 "Can't show chinese simplified(简体中文) correctly while drag a .sql files into sql editor"
hello,

I found that my dbeaver can't show chinese simplified(简体中文) correctly while I try to drag a .sql files into sql editor.

But if I try to import it in a sql editor use the right import button,the chinese  simplified(简体中文) could be shown perfect

#### System information:
- Operating system (distribution) and version:Windows 11 21H2
- DBeaver version:21.3.0.202111281534
- Additional extension

[2021-12-10 09:09] geuss opened #14863 "Teradata JDBC: "FetchRowCount value ignored.""
#### System information:
- Operating system (distribution) and version: Windows 7 SP1
- DBeaver version: 21.3.0
- Additional extensions: None

#### Connection specification:
- Database name and version: Teradata Database 15.0
- Driver name:  TeraJDBC 16.20.00.06
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
When I execute any "SHOW" command in

[2021-12-10 09:47] KoSanBu opened #14864 "Limit connection time to the database / reconnect for every statement"
We have a Sybase IQ license that limits the number of concurrent connections.
Most queries take a short time to execute (less than 5 seconds).
Several tools are configured such that they
- connect to the database
- execute the query
- disconnect from the database
The database is able to manage this constant reconnecting. It does enable a lower number of concurrent connections for the same number o

[2021-12-10 10:31] hoanghog commented on #7976
Alternative fix for Mac users with (mariaDB but will works for every dialect i think) and using brew for applications ->
`brew install mariadb`
Restart DBeaver and choose Local Client -> your client
<img width="691" alt="image" src="https://user-images.githubusercontent.com/18429520/145559776-f304919e-088a-483d-bc0a-7678bb672c6f.png">

[2021-12-10 10:40] Matvey16 commented on #14702
Verified

[2021-12-10 10:40] #14702 closed, assigned to serge-rider, Matvey16

[2021-12-10 11:07] #14850 closed, assigned to Destrolaric

[2021-12-10 12:04] Skydiveroid commented on #14747
Thank you for the report. We will work on that.

[2021-12-10 12:06] Matvey16 commented on #14340
@ghy-forever Unfortunately that is how Greenplum driver works (to read metadata you need those tables). I suspect that it works in Navicat because it is using generic drivers, so it can probably work in DBeaver if you create a connection with PostgreSQL (Old) driver.

![image](https://user-images.githubusercontent.com/82543000/145571612-e4666b83-517a-4526-b6db-2910a3772e8d.png)

[2021-12-10 12:11] Skydiveroid commented on #14667
@yoletx, can I ask you to check it on the newest version, which is 21.3.0?

[2021-12-10 12:14] Skydiveroid commented on #14762
Thank you for the future request!

[2021-12-10 12:16] Skydiveroid commented on #14773
Thank you for the future request!

[2021-12-10 12:20] surpavan opened #14866 "Menu/FE option to disable SQL code editor parse & beautification"
**Is your feature request related to a problem? Please describe.**
When we use sql statement with large list of ids, it hangs or slows down the editor; so a shortcut or questionaccess to option to disable and enable SQL statement coloring/beautification, paring etc.

**Describe the solution you'd like**
Button on toolbar to quick enable & disable SQL editor parse and beautification - as it is an o

[2021-12-10 12:23] Skydiveroid commented on #14830
@taf1-cornell-edu, could you please provide more information on this issue? Video or gif will be perfect. Thx

[2021-12-10 12:26] Skydiveroid commented on #14838
@adidiot, thank you for the report. We will look into that.

[2021-12-10 12:28] yoletx commented on #14667
Ok, just checked, after installing 21.3.0 issue still persist. (tried deleting the table only in the ERD, refresh the ERD, and table came back with his pseudo columns.).
I can't tell you exact steps to produce this bug, but the thing is that i have 2 tables out of 12 with this bug now (this second table appeared before this new Dbeaver version).
And if i remember well (not 100% sure) the second ta

[2021-12-10 13:27] manticore-projects commented on #14735
Solution provided by [PR 1439](https://github.com/JSQLParser/JSqlParser/pull/1439), pending approval.
I have added a 6 seconds timeout to the Parser, which will fail gracefully when it is not able to process the SQL Statement within that time.

This should stop DBeaver from freezing on wrong statements effectively:
1) the corrected SQL Statement provided above will parser within 1 second
2) the or

[2021-12-10 13:37] Destrolaric opened #14867 "Rename Classifier in Maven Artifact Editor"
Classifier has different meaning in Maven, to avoid confusion it's better to rename it to 'Default Version'

[2021-12-10 13:48] Matvey16 opened #14868 "Change initial caret position for scripts with template"
Currently we can set a predefined script template. But when new script is created in SQL Editor, the input caret appears at the first line  of the whole script. We want it to appear on the first line after the template.

[2021-12-10 13:59] ShadelessFox commented on #14867
Otherwise, it would be called `Fallback Version`. I think it's more meaningful in this specific case.

[2021-12-10 14:01] ShadelessFox commented on #14862
Hello @Daniel-W7,

Would you please record a video showing your issue?

[2021-12-10 14:17] Skydiveroid commented on #7890
@Jnb2387, could you please record a video.

[2021-12-10 15:09] riednyko commented on #14803
Hello!
Unfortunately at the moment there is no access to home directories, due to the fact that the required interface is not connected in the **dbeaver-ce** snap package. We sent a request to snapcraft to change some restrictions and are now awaiting a response.

You can use some workarounds:

- use the snap package **dbeaverapp**, this is our sandbox, with restrictions already introduced and the

[2021-12-10 15:35] Stadlerrr opened #14872 "Function Syntax Suggestions / helpers"
Hi there,

I would like to know if there's a way to get some syntax help while writing a MySQL function on dBeaver.

For example, on Navicat when I write a fuction I get a list of the syntax possibilities that Mysql gives me, and after I press Enter I get them auto-written in the code:

![image](https://user-images.githubusercontent.com/95294375/145599965-f96c1234-85b0-495d-9745-7e176b05ee60.png)

[2021-12-10 15:39] flambchap opened #14873 "Change question icon to warning icon in the Data truncate attention message box"
We have the Truncate target table(s) before the load option in the data transfer. If we click on the corresponding checkbox, a message box appears. We need to change the icon there.

[2021-12-10 15:41] pculka commented on #14856
I think I stumbled upon this issue, too.
Cannot initialize any ssh tunnel using agent.
Using windows store install
OS Windows 11

[2021-12-10 15:45] ShadelessFox commented on #14856
As turned out, the Windows Store version is outdated. We're working on it.

[2021-12-10 21:47] tabdoelhafiezkhan commented on #14248
Hello,

Yes you are right. Thanks a lot for the help.

regards,
Tim

Op ma 6 dec. 2021 om 12:33 schreef Dziyana ***@***.***>:

[2021-12-11 03:47] Andrew0002 commented on #4577
When working on something that will affect multiple clients, I often need to disconnect from one client's system and connect to another. When I do this, I need to disconnect one client's VPN and connect to another client's VPN. Generally, before I disconnect the VPN, I disconnect from the current database in dbeaver while keeping several SQL Editors open.

![dbeaver_save_prompt](https://user-image

[2021-12-11 05:34] Mrfork91 commented on #6064
+1

[2021-12-12 12:29] wumpz commented on #14053
I will look into the JSqlparser PR and if all goes well the release will be done in the next few hours. Sorry for the delay.

[2021-12-12 15:15] ShadelessFox commented on #13193
We will implement this feature in the scope of #12864.

[2021-12-12 15:15] #13193 closed, assigned to nobody

[2021-12-12 15:21] wumpz commented on #14053
@LonwoLonwo:  [JSQLParser/JSqlParser#1442. ](https://github.com/JSQLParser/JSqlParser/issues/1442)

[2021-12-12 19:06] Korov opened #14876 "mongo function createCollection"
command: `db.createCollection("book_info", {storageEngine: {wiredTiger: {configString: "block_compressor=zstd"}}});`

result:

[code]

[2021-12-12 21:22] Dominiquini opened #14877 "Program crashs on startup!"
#### System information:
- Operating system (distribution) and version: Windows 10 x64 Version 21H2 (OS Build 19044.1387)
- DBeaver version: 21.3.1
- Additional extensions: ---

#### Connection specification:
- Database name and version: ---
- Driver name: ---
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: ---

#### Describe the problem you're observing:
The program crashs as soon I start it!

[2021-12-12 23:28] BenjaminWKI commented on #14877
21.3.1 is broken!
I've reverted to 21.3.0 to get DBeaver working again.
Logs appear to indicate some configuration incompatibility when it tries to load a past session.
[log.txt](https://github.com/dbeaver/dbeaver/files/7700074/log.txt)

[2021-12-13 02:37] PzaThief commented on #14877
Thanks, I was on the same issue and after reverting it, it's working now.
Here is my log file same with yours just excluding language format.
[log.txt](https://github.com/dbeaver/dbeaver/files/7700582/log.txt)

[2021-12-13 02:51] ReconditenessPerson commented on #14664
Find the view object and open the declaration  , There are many other views as well .
I've reinstalled the software. It's still the same.
Every time an error occurs, it is annotated.
Operating the system character set   is  GBK
Dbeaver language is simplified Chinese
It is normal to open the same view on my other computer (the operating system is the same as the dbeaver version)

[2021-12-13 03:00] Oceanboy-free commented on #14862
Of course!
You can follow this step to reproduce the situation
[dbeaver.sql.zip](https://github.com/dbeaver/dbeaver/files/7700663/dbeaver.sql.zip)
n

[2021-12-13 05:49] ZZIIKKemd commented on #14877
Experienced the same issue with DBeaver 21.3.1 and Win10 21H1 (fully updated). Attaching crash log.
[log.log](https://github.com/dbeaver/dbeaver/files/7701275/log.log)

Reverted to 21.3.0 - it still has no crashes and works great)

[2021-12-13 06:06] sudeep-hk commented on #14877
Experienced the same issue.
@Dbeaver team please see in to this.

[2021-12-13 07:05] mpapachristoforou commented on #14877
Same issue here on Linux Mint with the following kernel:
Linux 5.13.0-22-generic 22~20.04.1-Ubuntu x86_64 GNU/Linux

Reverted to 21.3.0 to get DBeaver working again.

Log file:  [log.txt](https://github.com/dbeaver/dbeaver/files/7701668/log.txt)

[2021-12-13 07:22] LonwoLonwo commented on #14053
@wumpz Thank you very much!

[2021-12-13 07:38] Matvey16 opened #14879 "[SQLite] Wrong icon for date/time columns"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.1

#### Connection specification:
- Database name and version SQLite

#### Describe the problem you're observing:
Datetime or timestamp columns have the same icon as varchar/char columns

#### Steps to reproduce, if exist:
1. Open table with timestamp column in data editor

**Expected:** Timestamp c

[2021-12-13 07:41] Matvey16 commented on #14879
Maybe it is more of an enhancement than a bug, because date and time data are actually stored as text, but maybe we can differentiate this data.

[2021-12-13 07:43] reddyshyam commented on #14877
Hi @serge-rider, now that you have fixed the issue, do we wait for another release or revert back to 21.3?

[2021-12-13 08:14] Matvey16 commented on #12503
Verified

[2021-12-13 08:14] #12503 closed, assigned to E1izabeth, Matvey16

[2021-12-13 08:18] serge-rider commented on #14877
The bug was fixed and version 21.3.1 was re-published (with hotfix).
You can re-download from dbeaver.io or from github.

[2021-12-13 08:29] Matvey16 opened #14881 "Data Transfer wizard does not persist finalizers configuration between runs when exporting to file"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.3.1

#### Steps to reproduce, if exist:
1. Open export wizard for any table
2. In output settings under execute process type something like `notepad ${file}`
3. Perform export
4. Start new export and try to start it without changing any settings

**Expected:** Export is executed with the same settings

[2021-12-13 08:32] uslss opened #14882 "Error at app start appears for MS Store version"
#### System information:
- Operating system (distribution) and version Windows 10 Pro 21H1 19043.1348 **Not reproducible against win10 pro 20H2 19042.1052, 19042.1348**
- DBeaver version 21.3.0

#### Describe the problem you're observing:
Error appears after application start for version that was installed from MS Store

![image](https://user-images.githubusercontent.com/31996417/145777730-82b112f

[2021-12-13 08:36] reddyshyam commented on #14877
Ah! Timestamp of 12 hours ago, got me confused. I downloaded and installed without any issues. Christmas feeling set in with this release. 🎄 ⛄ Thanks @serge-rider, Much appreciated! 👏

Wishing everyone Merry Christmas and a Happy New Year!

[2021-12-13 08:36] ShadelessFox commented on #14862
I see, thank you. We're going to review it soon.

[2021-12-13 08:49] ShadelessFox commented on #14881
Currently, we don't save finalizers' settings between wizard runs. Perhaps we should do it.

[2021-12-13 08:50] Matvey16 commented on #13821
@akilovich The workaround can be found in Eclipse ticket above. I'm not sure if we can fix it ourselves.

[2021-12-13 08:56] Matvey16 commented on #7890
No need to record a video. I reproduced it, but this is actual only for Linux

[2021-12-13 09:21] yoletx commented on #14667
I got it ! here are the steps to reproduce the bug (dbeaver community Version 21.3.0.202111281534)
I don't use keyboard shortcut in this demo, so everything can be seen.
![dbeaver erd issue](https://user-images.githubusercontent.com/32055492/145785237-14fbe8bc-f629-4405-8fe6-61b34e21de7c.gif)

[2021-12-13 09:23] LonwoLonwo commented on #14667
@yoletx Thanks for the investigation!

[2021-12-13 09:59] Skydiveroid commented on #13761
We need to disable variable editor for non-task exports

[2021-12-13 10:04] flambchap commented on #13821
We definitely cannot fix it from our side. However, the ticket you mentioned is closed for some reason with the status CLOSED NOT_ECLIPSE. This **is** an Eclipse issue, IMHO. I assume they don't want to fix this. Unfortunately, we need to wait for a miracle at this point :(

[2021-12-13 10:06] #13821 closed, assigned to nobody

[2021-12-13 10:16] Skydiveroid commented on #13924
This can be fixed by using nested selects for query filtering

[2021-12-13 10:18] uslss commented on #14132
issue is reproducible in case of script execution using alt+x
![q3goioIr8F](https://user-images.githubusercontent.com/31996417/145794287-c45e12a9-9f74-403d-b422-e3c18819a8c9.gif)

[2021-12-13 10:27] markozcvetkovichtec commented on #14877
I've downloaded and re-installed latest version from dbeaver.io and it still showed same error with URI parsing. Then I went to github and downloaded the .exe from the assets collection for 21.13.1 release, re-installed it and now it works fine. I suggest that you check the link on your main website if it points to the correct .exe file of installation.

[2021-12-13 11:02] joanbm opened #14883 "Checksum mismatch for DBeaver CE 21.3.1 downloads from dbeaver.io"
It appears that the checksums for DBeaver CE 21.3.1 that are offered on dbeaver.io (e.g. https://dbeaver.io/files/21.3.1/dbeaver-ce-21.3.1-stable.x86_64.rpm) don't match the checksum files offered on the same domain (e.g. https://dbeaver.io/files/21.3.1/checksum/dbeaver-ce-21.3.1-stable.x86_64.rpm.sha256), as they used to do on 21.3.0. However, the files offered on the GitHub release do match the

[2021-12-13 11:05] yyjdelete opened #14884 "`Copy as sql` may not use data from selected row when order is apply to data grid"
#### System information:
- Operating system (distribution) and version: win10 x64
- DBeaver version: 21.3.1 and old versions
- Additional extensions

#### Connection specification:
- Database name and version: may not affected, I can reproduce this will pgsql, mssql, sqlite
- Driver name: -
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps

[2021-12-13 12:38] Stadlerrr commented on #6213
Actually my last comment just partially fixes the issue, but I discovered that it doesn't work for VARCHAR columns where the character set is different from the one chosen in ODBC connector.

For example if I choose UTF8 in ODBC connector and the character set of the column is latin1 dBeaver returns NULL.
If I swap to latin1 in ODBC connector the query display the correct values for columns set as

[2021-12-13 12:39] flambchap commented on #14883
Thank you for the report. It seems like it was related to https://github.com/dbeaver/dbeaver/issues/14877. We've cleared the CDN caches and everything is OK now.

[2021-12-13 12:39] #14883 closed, assigned to nobody

[2021-12-13 12:42] Matvey16 commented on #13855
Still reproducible.

![dbeaver_UavupYC6cP](https://user-images.githubusercontent.com/82543000/145814560-5bf325e1-d52f-4ce7-b9ac-b4d55c1c4993.png)

[2021-12-13 12:52] ShadelessFox commented on #14879
We can do the same we do for geometry data.

[2021-12-13 12:54] flambchap commented on #14876
Thank you for the report. We support some subset of valid mongo shell queries. We need to make it bigger.

Here is the list of the queries we need to take care of:
[code]

[2021-12-13 13:21] Matvey16 commented on #14862
@Daniel-W7 Thank you for the report. That issue happens because different encoding is used in different options of opening the script. We will work on that. As a workaround you can change the default encoding in workspace

![dbeaver_9PLIYnF8QN](https://user-images.githubusercontent.com/82543000/145820057-24ddeb70-023c-4b06-a48a-a86d237ae49e.png)

[2021-12-13 13:54] joanbm commented on #14883
Thanks, works fine now!

[2021-12-13 14:13] serge-rider commented on #13474
Fixed

[2021-12-13 14:51] serge-rider commented on #12065
Can't reproduce anymore. Perhaps it was fixed in Eclipse 2021-06/09

[2021-12-13 15:02] qupear commented on #12065
In version 21.3.1 this issue is fixed (maybe earlier). At least in my case horizontal scroll works OK.

[2021-12-13 16:56] ShadelessFox commented on #14195
Implemented:

![java_wOzxgDDjgg](https://user-images.githubusercontent.com/35821147/145843156-9f3a0ace-ef32-45b1-930e-24c791d540a2.png)

[2021-12-13 16:59] ShadelessFox commented on #13553
Instead of allowing user to choose endianness which may be confusing let's add an option to _rotate_ all bits instead.

[2021-12-13 18:01] alexleventer opened #14891 "Astra DB Wiki Page"
I'd like to add a page to your wiki with instructions on how to connect to Astra DB. What is the process to propose content changes to your wiki?

[2021-12-13 20:33] ShadelessFox opened #14892 "Implement type resolvers for streaming data importers"
Currently, we have a naive implementation of data type resolvers for CSV and XML importers only.

We should make a generic implementation to be used by all our stream importers.

[2021-12-14 01:22] toharifqi opened #14894 "Dbeaver closed suddelnly during startup on Mac"
Hello everyone, I am unable to open dbeaver after updated to version 21.3.1
but when I rollback the version to 21.0.0, it's still unable to open.
the app suddenly closed during startup

**System information:**

- macOS version Big Sur 11.5.2
- DBeaver version 21.3.1

**Problem**
- Cannot open DBeaver

**Steps to reproduce, if exist:**

     Open DBeaver from GUI DBeaver.app
     Open /Applications

[2021-12-14 02:26] scruel commented on #4250
+10000

[2021-12-14 03:04] toharifqi commented on #14894
I solved it, this is the solution:
https://github.com/dbeaver/dbeaver/wiki/Reset-workspace

[2021-12-14 03:04] #14894 closed, assigned to nobody

[2021-12-14 04:19] offstate opened #14895 "Postgresql: error when counting records in queries with jsonb ? operator"
Here is an example of the query with '?' operator. It executes correctly
![изображение](https://user-images.githubusercontent.com/16996529/145931419-437be910-908b-4f04-9f14-cc7bed19c368.png)

When trying to count records (the button in the toolbar) I get an error.
![изображение](https://user-images.githubusercontent.com/16996529/145931750-6292df9c-8b80-42ee-869d-8e9e073dc115.png)
![изображение](ht

[2021-12-14 06:20] hktalent opened #14896 "h2 database no error, no tables"
jdbc:h2:/Users/51pwn/MyWork/for_hacker_md/config/dependency-check/odc.mv.db;AUTOCOMMIT=ON;CACHE_SIZE=65536;RETENTION_TIME=1000;MAX_COMPACT_TIME=10000;
<img width="688" alt="image" src="https://user-images.githubusercontent.com/18223385/145943128-5a52cd6b-d602-41b2-92c1-c0c3f7207090.png">
<img width="337" alt="image" src="https://user-images.githubusercontent.com/18223385/145943257-95a609d7-a96f-4f

[2021-12-14 06:49] LonwoLonwo commented on #14896
Hello @hktalent

What H2 database version do you use? And what driver version?

Also, please check your connection settings. "Show system objects" setting must be enabled for INFORMATION SCHEMA content.

![2021-12-14 09_46_36-DBeaver Ultimate 21 3 1 - Sessions - postgres 13 3](https://user-images.githubusercontent.com/45152336/145947377-5872519d-f13b-453a-ae8f-e5978edbe701.png)

[2021-12-14 07:13] hktalent commented on #14896
<img width="606" alt="image" src="https://user-images.githubusercontent.com/18223385/145949921-c317aa4b-218b-4e40-95cf-a764eb0d3a3b.png">
<img width="790" alt="image" src="https://user-images.githubusercontent.com/18223385/145950435-dfcdb414-94ed-4e90-8aa7-0e8f690ec6bc.png">

[2021-12-14 07:16] hktalent commented on #14896
<img width="436" alt="image" src="https://user-images.githubusercontent.com/18223385/145950789-58342198-15ae-4a41-9c25-0cba3e22bca7.png">
@LonwoLonwo

[2021-12-14 07:18] hktalent commented on #14896
in Mac OS,you can try:
@LonwoLonwo
[code]

now ,you can found db file

[code]

[2021-12-14 07:36] hktalent commented on #14896
data.connection_string=jdbc:h2:file:%s;AUTOCOMMIT=ON;CACHE_SIZE=65536;RETENTION_TIME=1000;MAX_COMPACT_TIME=10000;
data.user=dcuser
data.password=DC-Pass1337!
data.driver_name=org.h2.Driver

[2021-12-14 07:47] uslss commented on #14084
verified

[2021-12-14 07:47] #14084 closed, assigned to E1izabeth, uslss

[2021-12-14 07:50] uslss commented on #14873
verified

[2021-12-14 07:50] #14873 closed, assigned to flambchap, uslss

[2021-12-14 07:52] uslss commented on #14195
verified

[2021-12-14 07:52] #14195 closed, assigned to uslss, ShadelessFox

[2021-12-14 07:56] uslss commented on #14895
thanks for the report

[2021-12-14 08:00] uslss commented on #14884
thanks for the report

duplicate of #9252

[2021-12-14 08:00] #14884 closed, assigned to nobody

[2021-12-14 08:01] gerardkok opened #14898 "Release page for 21.3.1 has dbeaver-ce-21.3.0-macos-aarch64.dmg as first entry"
#### System information:
- Operating system (distribution) and version: macos 11.6.1, Intel + M1
- DBeaver version: 21.3.1
- Additional extensions: aarch64

#### Connection specification:
- Database name and version: n/a
- Driver name: n/a
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n/a

#### Describe the problem you're observing:

The release page for 21.3.1 (https://github.com/dbeaver/dbe

[2021-12-14 08:11] uslss commented on #13961
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:11] #13961 closed, assigned to nobody

[2021-12-14 08:12] uslss commented on #14009
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:12] #14009 closed, assigned to nobody

[2021-12-14 08:12] uslss commented on #13965
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:12] #13965 closed, assigned to nobody

[2021-12-14 08:12] uslss commented on #14434
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:12] #14434 closed, assigned to nobody

[2021-12-14 08:13] uslss commented on #2198
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:13] #2198 closed

[2021-12-14 08:13] uslss commented on #14476
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:13] #14476 closed, assigned to nobody

[2021-12-14 08:14] uslss commented on #13374
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:14] uslss commented on #13969
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:14] #13969 closed, assigned to LonwoLonwo

[2021-12-14 08:15] uslss commented on #14525
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:15] #14525 closed, assigned to nobody

[2021-12-14 08:15] uslss commented on #14229
There has been no update on the issue for a long time. If it is still actual for you against the recent version- feel free to reopen it with additional info

[2021-12-14 08:15] #14229 closed, assigned to nobody

[2021-12-14 08:15] #14628 closed, assigned to nobody

[2021-12-14 08:16] uslss commented on #13576
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:16] #13576 closed, assigned to riednyko

[2021-12-14 08:16] uslss commented on #13817
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:16] #13817 closed, assigned to Matvey16

[2021-12-14 08:17] uslss commented on #9326
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:19] uslss commented on #10395
There has been no update on the issue for a long time. If it is still actual for you - feel free to reopen it with additional info

[2021-12-14 08:19] #10395 closed

[2021-12-14 08:22] uslss commented on #11415
@ausiddiqui could you check if it is still present against the 21.3.1 version? Thanks in advance

[2021-12-14 08:23] uslss commented on #13875
@th unfortunately, still cannot reproduce it. is it still present for you against the recent(21.3.1) version?

[2021-12-14 08:24] uslss commented on #13896
@detkliff , sorry for the late response. Is the issue persist in 21.3.1?

[2021-12-14 08:41] lackovic commented on #4526
Same issue on Windows 10 21H1: one nullable column of the result set of a SELECT query is marked as read-only in a writable database.

The column header name has a little dot of the same color of the connection type. Other nullable columns of the same result set are editable. The connection type security restrictions are all unchecked (restrict data edit, restrict structure edit, etc). Modifying t

[2021-12-14 08:46] Matvey16 commented on #14808
Verified

[2021-12-14 08:46] #14808 closed, assigned to E1izabeth, Matvey16

[2021-12-14 08:47] #12065 closed, assigned to serge-rider

[2021-12-14 09:01] ShadelessFox commented on #14895
Interesting. Looks like that the driver thinks that `?` is an unbound procedure parameter.

We'll see if we can do anything about it.

[2021-12-14 09:11] ShadelessFox commented on #14898
Hello @gerardkok,

Thanks for the report.

We've removed the `dbeaver-ce-21.3.0-macos-aarch64.dmg` entry.

It should work now.

[2021-12-14 09:28] lackovic commented on #11891
Same issue here: one nullable column of the result set of a `SELECT` query is marked as _Read-only: no corresponding table column_ in a writable database.

The column header name has a little dot of the same color of the connection type. Other nullable columns of the same result set are editable. The connection type security restrictions are all unchecked (restrict data edit, restrict structure ed

[2021-12-14 09:35] gerardkok commented on #14898
Thanks for the quick fix! Our autopkg recipe works again now.

[2021-12-14 09:55] LonwoLonwo commented on #14896
Can you see objects in Information Schema now?

[2021-12-14 10:01] hktalent commented on #14896
yes @LonwoLonwo but,
<img width="252" alt="image" src="https://user-images.githubusercontent.com/18223385/145976584-9e1b6054-e279-42ba-a9a7-42e88dd376c7.png">

[2021-12-14 10:03] hktalent commented on #14896
<img width="952" alt="image" src="https://user-images.githubusercontent.com/18223385/145976752-314dc56f-792c-471f-93f3-6f332490d4f3.png">
<img width="461" alt="image" src="https://user-images.githubusercontent.com/18223385/145976926-8f4d5065-674a-455c-ab04-ee023941bed0.png">

[2021-12-14 11:39] ShadelessFox commented on #14876
Following functions were implemented:

[code]

Other functions are not available in the SDK we're using.

[2021-12-14 12:01] Matvey16 commented on #14765
@mlodybanach You can disable data formatting so it will be shown as it is read from a database

![image](https://user-images.githubusercontent.com/82543000/145994591-2e013a57-e9ed-4b03-b8e2-988a32a5b223.png)

[2021-12-14 12:22] Matvey16 commented on #14877
Verified

[2021-12-14 12:22] #14877 closed, assigned to serge-rider, Matvey16

[2021-12-14 12:22] kai-morich commented on #14845
merged

[2021-12-14 12:22] #14845 closed, assigned to nobody

[2021-12-14 12:24] mpapachristoforou commented on #14877
Just updated and tested with the latest version and I can confirm that i works OK on Linux Mint with the following kernel:
Linux 5.13.0-22-generic 22~20.04.1-Ubuntu x86_64 GNU/Linux

Best wishes to the entire DBeaver team !! :)

[2021-12-14 13:26] uslss commented on #14876
all mentioned functions works ok with mongo 3.4.10 (db1).

Functions mentioned below aren't working against 4.4.10 (atlas) and 4.4.3(db6).
[code]
an attempt to execute them ends up with an error like:

[code]

[2021-12-14 13:45] uslss commented on #14876
works ok in case of functions execution without options

[2021-12-14 13:45] #14876 closed, assigned to uslss, ShadelessFox

[2021-12-14 13:54] Matvey16 commented on #14867
Verified

[2021-12-14 13:54] #14867 closed, assigned to Destrolaric, Matvey16

[2021-12-14 14:34] LonwoLonwo commented on #14896
We use H2 drivers info to get the tables list. So what can we do if the "TABLES" table in INFIRMATION_SCHEMA does not return any rows to you? Do you have any tables in the PUBLIC schema?

[2021-12-14 14:40] lukaseder opened #14904 "Disable Numeric Formatting option doesn't affect array contents"
#### System information:
- Operating system (distribution) and version: Microsoft Windows [Version 10.0.22000.318]
- DBeaver version: 21.2.4.202111011413
- Java version: 17+35-2724

#### Connection specification:
- Database name and version: Oracle 21c
- Driver name: ojdbc
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

When working with Oracle's

[2021-12-14 14:46] #14896 closed, assigned to nobody

[2021-12-14 14:57] flambchap opened #14906 "Suggest downloading the AArch64 package if the x86_64 package is used on Apple Silicon"
Currently, web browsers do not distinguish between x86_64 and AArch64 macs. Because of that, we cannot suggest downloading the correct version on our websites. We offer the x86_64 version by default (because of Rosetta 2). Some users download the wrong version of DBeaver and experience performance penalties from emulation without knowing that. We need to offer to download the AArch64 package for c

[2021-12-14 15:10] dbajaj1 commented on #9326
Hi @uslss Its not that I don't want to update, I just can't find the menu item connection view that @Matvey16 showed in the first screenshot every time I sit down to do this. I'm on Version 21.3.1.202112111946. (Mac)

[2021-12-14 16:51] simonjcarr opened #14907 "Is dbeaver impacted by log4j CVE-2021-4428 Vulnerability issue?"
Is there a statement from the developer community on the vulnerability or otherwise of Debeaver to this Log4J issue?

[2021-12-14 17:24] ShadelessFox commented on #14907
Hello @simonjcarr,

Please see #14878.

[2021-12-14 17:24] #14907 closed, assigned to nobody

[2021-12-14 17:25] #14898 closed, assigned to ShadelessFox

[2021-12-14 20:50] RickSaavedra opened #14908 "PostgreSQL Roles missing comments feature in GUI"
When viewing postgresql roles in dbeaver, there is no place where comments are displayed.

**Describe the solution you'd like**
Similar functionality to other objects: Display/Edit/Add comments. Add comments to Generate DDL for Roles

[2021-12-15 02:45] Bkingkam commented on #14525
Thank you.

On Tue, Dec 14, 2021 at 3:15 PM Dziyana ***@***.***> wrote:

[2021-12-15 03:07] Oceanboy-free commented on #14862
Wow，Thank you very much.

This fix my problem!!!

[2021-12-15 06:34] LonwoLonwo commented on #14908
@RickSaavedra
Thanks for the idea.

[2021-12-15 06:55] mmdext opened #14910 "Views with comments won't be saved."
#### System information:
- OS:Windows 10
- DBeaver version:21.3.1.202112130652

#### Connection specification:
- Oracle
- Driver name: oracle.jdbc.OracleDriver
- No proxy

#### Describe the problem you're observing:
1.View DDL with comment will cause an error when saving.
2."Compact form" will cause comments or something else lost when saving.

#### Steps to reproduce, if exist:
Open and edit a vi