[2021-07-15 12:11] icegood commented on #13029
My apt install log:

apt install dbeaver-ce

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  dbeaver-ce
0 upgraded, 1 newly installed, 0 to remove and 0 not upgraded.
Need to get 93,6 MB of archives.
After this operation, 128 MB of additional disk space will be used.
Get:1 http://ppa.launchpad.net/serg

[2021-07-15 12:13] icegood commented on #13029
bold text looks strange...
Reproducible since of today as well

[2021-07-15 12:27] Pranithaevana commented on #13150
Thanks for responding.

We will check on the below and let you know.

Could you also confirm if DBeaver uses the host's cert store, or if it comes with its own set of trusted root certs?

Thanks,
Pranitha

From: Matvey16 ***@***.***>
Sent: Friday, July 9, 2021 1:41 PM
To: dbeaver/dbeaver ***@***.***>
Cc: Evana, Pranitha ***@***.***>; Mention ***@***.***>
Subject: Re: [dbeaver/dbeaver] Check for up

[2021-07-15 14:07] DariaMarkaryan opened #13206 "Incorrect array data shows in record mode"
#### System information:
- Win10, DBeaver CE 21.1.3

#### Connection specification:
Non specific
#### Describe the problem you're observing:
there is a table with array data type:
![](https://i.imgur.com/fkAOazx.png)
Select multiple rows and switch to record mode
Value of arrary for al columns set as the value of the first row:
![](https://i.imgur.com/ABXmbNp.png)
if select two last rows:
![](http

[2021-07-15 14:24] YuriDude commented on #13160
So:
1. Yes to the context menu (right-mouse-click) on the query text to have an option to review Data Sources.
2. Not quite correct to "_what to have_" : there is no need for columns, it is very easy to "see" them. Data source, on the other hand, "have to be found" when query is analyzed and on the large queries (query that goes thru several pages) that can be somewhat challenging.
3. Attached is

[2021-07-15 14:32] elmicha commented on #7727
I think users should not edit files under /usr/share or in the program directory on Windows, and DBeaver should not try to write there. The default dbeaver.ini can sit in these directories, but it should be copied to the $HOME/.config/ or %APPDATA%/DBeaverData (which is already used for drivers and workspace data) on the first run. In these config directories the file also can be written without p

[2021-07-15 14:40] YuriDude commented on #13184
Hi @LonwoLonwo ,
See attached...
![1](https://user-images.githubusercontent.com/5156159/125806852-897524dc-0f17-4703-a378-0ef0eeb54747.jpg)
All other options for function call return 0 (zero) data

[2021-07-15 15:11] DariaMarkaryan opened #13207 "All rows with the same values are deleted when one of them was deleted"
#### System information:
- Win10, Dbeaver CE 21.1.3
#### Connection specification:
- Clickhouse

#### Steps to reproduce, if exist:
If there are multiple rows with the same values and we delete one of them, all these rows will be deleted
Steps:
select one row, multiply it and save. Then delete one of them and refresh. As the result, all rows with the same values will be deleted

https://user-image

[2021-07-15 15:43] LonwoLonwo commented on #13207
And what's in the delete script? What do you use as a delete key?

[2021-07-15 15:52] YuriDude opened #13208 "Oracle schema DDL"
#### System information:
- Operating system (distribution) and version: Windows 10 [Version 10.0.19042.985]
- DBeaver version: Version 21.1.0.202106032102
- Additional extensions: None .

#### Connection specification:
- Database name and version: Generic: ORACLE & MS SQL
- Driver name: not sure
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: NO

#### Steps to reproduce, if exist:
Images are a

[2021-07-15 15:57] DariaMarkaryan commented on #13207
query for deleting. only use delete key + save. Is the order by works like the primary key?
ALTER TABLE default.array_type DELETE
	WHERE id=3 AND strings=DATA(ClickHouseArray) AND Column1=''

[2021-07-15 15:58] Moridin11 commented on #8529
I still see this as of 21.1.2

[2021-07-15 16:14] YuriDude opened #13209 "DBeaver CE and Microsoft Store: syncing versions & dates"
DBeaver Team,

First: **_EXCELLENT TOOL_** to work in heterogeneous environments where multiple types of DB **Vendors** and **versions** are used!
And that matrix of usage would be huge !

Next:
In somewhat strict environments where software installations are limited and controlled by SysAdmins/NetworkAdmins and others that new method of using Microsoft Store is viable alternative to "local" burea

[2021-07-15 16:23] lestevam opened #13210 "Export query to CSV without string delimiters"
#### System information:
- Windows 10
- DBeaver version 21.1.2

#### Connection specification:
- SqlServer 2016
- Microsoft JDBC Driver for SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
When we export a query to CSV and in CSV configuration we don't put delimiter characters, we see the result with quotes in the column.

#### Steps to

[2021-07-15 16:24] poltpolt commented on #13118
As soon as you click on a foreign key
all tables that refer to this key

all lines linking those tables (connections)

should be highlighted with some distinctive color.

In a perfect world : also a button to hide all other (the ones are not using this key) connections/tables
On lip 15 2021, at 8:15 am, Matvey16 ***@***.***> wrote:

[2021-07-15 16:52] pgnd commented on #13171
Directly installing DL'd rpm,

https://dbeaver.io/files/dbeaver-ce-latest-stable.x86_64.rpm

provides a bin without these snap-related font issues.

Is dbeaver-ce snap planned to be updated/maintained?
Or should we be instead switching to rpm, and managing updates ourselves?

[2021-07-15 18:02] YuriDude opened #13211 "Decimal is incorrectly displayed in MS SQL"
#### System information:
- Operating system (distribution) and version: Windows 10 - Microsoft Windows [Version 10.0.19042.985]
- DBeaver version: Version 21.1.0.202106032102
- Additional extensions: none

#### Connection specification:
- Database name and version: Microsoft SQL Server 2012 (SP2-GDR) (KB3194719) - 11.0.5388.0 (X64) Standard Edition (64-bit) on Windows NT 6.3 <X64> (Build 9600: ) (

[2021-07-15 18:21] YuriDude opened #13213 "VSAM datafiles support"
It would be useful if you also had VSAM datafiles support.
While that mainframe technology one may consider as dinosaur, you might be shocked how often it still used and how well it spread across enterprises.

[What is VSAM](https://www.ibm.com/docs/en/zos-basic-skills?topic=set-what-is-vsam)

[2021-07-15 18:37] DariaMarkaryan commented on #13207
Seems that there is no way to delete only one non-unique row in clkickhouse

[2021-07-15 18:37] #13207 closed, assigned to nobody

[2021-07-15 23:28] Eddie-Hartman commented on #9882
@uslss Sorry for the delayed response. I got a new machine and was setting it up.

On my new machine with version 21.1.0. SQL Server 2019 dev. I transferred the file over from my old machine and works perfectly fine as long as it is not when dbeaver is first launching.

The database has over 350 tables and the diagram has 35 notes in it to give a scope of size. The file itself is 109 kb.

I can't

[2021-07-16 01:05] grassvalley opened #13214 "It is suggested to add a function of importing data from pasteboard."
Many times, you need to import data from the spreadsheet to the database, the amount of data is not large, but if you first export as a CSV file, and then import the database, the operation is more troublesome. If only you could import data directly from the pasteboard, just like libreoffice base.

[2021-07-16 01:54] HoonK212 commented on #13091
@Matvey16 There's any query left in Query manager. Can you suggest me any other way?

[2021-07-16 04:22] kseniiaguzeeva opened #13215 "Generated SQL expression is not valid for geometry type"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.3 EA

#### Connection specification:
- Database name and version MySQL

#### Steps to reproduce, if exist:

1. Open a table with geometry type
2. Generate insert or update  expression and execute in in SQL Editor

**Expected:** the statement is successfully executed
**Actual result:** the execution

[2021-07-16 04:35] kseniiaguzeeva opened #13216 "Auto-complete doesn't insert pattern schema_name.table_name"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.3 EA

#### Connection specification:
- Database name and version MySQL

#### Steps to reproduce, if exist:
1. Click MySQL connection in DB Navigator and open SQL Editor
2. Write select * from table_name
3. Open auto-complete a select the table with the schema

**Expected:** the table name is inserte

[2021-07-16 10:04] Matvey16 opened #13218 "Wrong script generated to create table with bpchar column when exporting a table"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.1.3

#### Connection specification:
- Database name and version Redshift
- Driver name JDBC

#### Describe the problem you're observing:
When transfering tables to another schema with `create` mapping, the generated SQL script to create table uses column data type as `bpchar` with length in paren

[2021-07-16 10:46] Matvey16 opened #13220 "Can't truncate Redshift table using DBeaver tools"
#### System information:
- DBeaver version 21.1.3

#### Connection specification:
- Database name and version Redshift
- Driver name 1.2.45.1069/RedshiftJDBC42-no-awssdk-1.2.45.1069

#### Describe the problem you're observing:
When trying to truncate a table with context menu `Tools > Truncate` incorrect query will be executed which leads to SQL error.

#### Steps to reproduce, if exist:
1. Try to

[2021-07-16 11:12] gregid opened #13221 "Windows shortcut is to "dbeaver.exe -nl en""
#### System information:
- Windows 10
- DBeaver version: Version 21.1.2.202107041908

#### Describe the problem you're observing:
The windows installer creates a shortcut to `dbeaver` and hardcodes the locale to English `dbeaver.exe -nl en` (or possibly the language set during installation - but English will be used when a user can't find his own language in the installer).

The manual and info wi

[2021-07-16 11:36] Matvey16 opened #13222 "Edit task resets destination folder"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.1.3

#### Describe the problem you're observing:
When trying to edit export task the destination folder for resulting file is automatically reset to default

#### Steps to reproduce, if exist:
1. Create a task to export table into a file and select any non-default destination folder
2. Start edit

[2021-07-16 11:38] taf1-cornell-edu opened #13223 "Copy selected columns as a comma-delimited list"
When copying selected columns on a table or view tab, and in the database navigator, they are copied as an undelimited list of the column names with each column name on a separate line.  When I paste that list, I then have to manually add comma delimiters and usually manually combine them into 1 line to use them in a SELECT for example.

An option to copy selected columns as a comma-delimited list

[2021-07-16 12:28] DariaMarkaryan opened #13225 "Navigation view can't be changed to Custom without its change"
### System information:
- Won10, DBeaver CE 21.1.3
- Non-specific for connection (tested for sqlite and clickhouse)
#### Describe the problem you're observing:
If you try to change navigation view to Custom without any changes in custom settings, reconnect dialog won't be shown and the type won't change
#### Steps to reproduce, if exist:
F4 when connection selected -> General tab  -> simple/advanc

[2021-07-16 13:01] wiwwo opened #13226 "Allow use (import?) of .pgpass"
For PG, it would be great to allow the import (or at least, "Use password stored in") the `.pgpass` file

[2021-07-16 13:23] lgraham1 opened #13227 "ClassCastException when setting column data type when creating new column"
#### System information:
- Operating system (distribution) and version macOS 11.2.3
- DBeaver version Community Version 21.1.2.202107041908
- Additional extensions None

#### Connection specification:
- Database name and version MariaDB mysql  Ver 15.1 Distrib 10.5.8-MariaDB, for debian-linux-gnu (aarch64) using readline 5.2 (running in Docker container)
- Driver name MariaDB Java Client 2.7.1 (au

[2021-07-16 13:27] wiwwo opened #13228 "Ability to import from XML data-sources"
It is almost a standard to exchange datasources in form of XML, but DBeaver cannot import those

[2021-07-16 13:33] kseniiaguzeeva opened #13229 "Created Unique key dissapears after creation"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.3 EA

#### Connection specification:
- Database name and version H2 embedded

#### Steps to reproduce, if exist:
1. Create a Unique ket via Metadata Editor
2. Refresh Keys tab

**Expected**: the unique key is displayed in the tab
**Actual result:** the key disappears from the tab but it it included

[2021-07-16 13:43] Matvey16 opened #13230 "Variable search bar exceeds window border"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.1.3

#### Describe the problem you're observing:
Need to adjust search bar so it does not go over border

![dbeaver_qxqQyL3nXi](https://user-images.githubusercontent.com/82543000/125957435-9274ab1f-b974-4aa8-9966-7f28b05a9a21.png)

[2021-07-16 13:45] Matvey16 opened #13231 "Add information about new features for variables to wiki"
A lot of new features about variables are not documented on Wiki page

[2021-07-16 13:46] DariaMarkaryan opened #13232 "Edit import task window shows '?' instead of destination table"
#### System information:
- Win10, DBeaver CE 21.1.3

#### Describe the problem you're observing:
Wen you open created task there is problems with displaying target table
But you still can successfully run this task

https://user-images.githubusercontent.com/43252954/125957916-e7c43b52-055b-4178-b8c6-fb819d6afdb4.mp4

[2021-07-16 13:54] Matvey16 opened #13233 "Add a wiki page about column transformers"
We don't have a wiki page for column transformers in data export

[2021-07-16 13:57] Matvey16 opened #13234 "Update wiki to include a manual for using liquibase PRO key"
Without a manual it is impossible to understand how to use liquibase pro key

[2021-07-16 14:04] Matvey16 opened #13235 "Don't create new columns when executing the same task more than once"
#### Describe the problem you're observing:
When creating export task with a mapping to create new columns it still tries to create columns when executing it for the second time.

#### Steps to reproduce, if exist:
1. Create a task for data export with mapping to create new columns
2. Execute a task
3. Execute a task for the second time

**Expected:** Export is successful and only data is exported

[2021-07-16 14:54] flambchap opened #13236 "Auto assign remembers the case of the previous container"
StR:

1. Open SQLite version of Chinook.
2. Select Album -> Export data -> Database
3. Change the name of the target database to Album2. Mapping type changes to create.
4. Change target container to a DB with upper case or lower case names.
5. Hit auto-assign. The names change their case.
6. Change container back to SQLite, hit auto-assign. The case did not change. However, the case should be exac

[2021-07-16 15:24] LonwoLonwo commented on #12680
Fixed in DBeaver 21.1.4

[2021-07-16 15:28] 90awlui commented on #6064
+1

[2021-07-16 18:35] p91paul commented on #13223
try advanced copy (right click menu or ctrl+shift+c). You can choose what delimiter to use.

Also, if you copied the unseparated list, in sql editor you can select values, right click and use format -> morph to delimited list.

[2021-07-16 18:55] taf1-cornell-edu commented on #13223
My right click menu looks like this:
![image](https://user-images.githubusercontent.com/3789051/125995362-e6e0abdf-b4a4-49ba-9ab0-314d95e9a4cd.png)

'advanced copy' isn't included.  'Copy Advanced Info' (Ctrl+Shift_C) copies the column names with

Column Name	#	Data type	Identity	Collation	Not Null	Default	Comment
e.g.:
Column Name	#	Data type	Identity	Collation	Not Null	Default	Comment
species_co

[2021-07-16 21:05] maffe opened #13237 "Create table: DDL is not updated after viewing it once"
#### System information:
- Windows 10 64 Bit
- DBeaver 21.1.2

#### Connection specification:
- PostgreSQL server 10.13
- PostgreSQL driver 42.2.8
- Not using tunnels or proxies

#### Describe the problem you're observing:
When creating a table via the GUI, the DDL is not updated after viewing it once.

#### Steps to reproduce, if exist:
- Right-click on tables, choose Create table
- Add column1
-

[2021-07-16 21:16] maffe opened #13238 "Create table: DDL does not include primary key"
#### System information:
- Windows 10 64 Bit
- DBeaver 21.1.2

#### Connection specification:
- PostgreSQL server 10.13
- PostgreSQL driver 42.2.8
- Not using tunnels or proxies

#### Describe the problem you're observing:
Primary key is not included in the DDL

#### Steps to reproduce, if exist:
- Right-click on tables, choose Create table
- Add column1
- Switch to constraints, add primary key ov

[2021-07-16 22:26] WolfX2 opened #13239 "Highlight code sections"
**Is your feature request related to a problem? Please describe.**
There may be multiple places i repeat a piece of code in one query - for example i could write:
`TO_NUMBER(TO_CHAR(SYSDATE-1, 'YYYYMMDD'))`
In multiple places, but if i want to change the date range, i would likely have to change it in all places in occours.

**Describe the solution you'd like**
It would be nice if you could have a

[2021-07-17 03:07] yjd commented on #11891
@serge-rider

[2021-07-17 08:26] xunxky commented on #13157
exactly!

PS:
and as pointed out I am well aware that the data source resolution will be tricky because some people might expect that scripts will use the current data source while others might expect the data source associated with the script to be true.

[2021-07-17 14:53] deepaksenthilkumar commented on #11425
Is this planned for Monday's release team?

[2021-07-17 15:30] CComparon opened #13243 "Select JSON display format by default in Value panel's for JSON columns"
**Is your feature request related to a problem? Please describe.**
I use DBeaver with a MySQL database that has many JSON table columns. This is a native column type in MySQL.
However when selecting a value in such a column and viewing it in the "Value" side panel, I still have to go ahead and change the display format to "JSON" manually instead of "Text" in the "Content viewer settings" drop-down

[2021-07-17 16:14] gregbonney-rgare commented on #5649
Why is this closed with no comment? I also would expect this feature. I can work around it, but it would be nice to have.

[2021-07-18 16:40] uslss commented on #13243
thanks for the suggestion.
seems to be related with #10149

[2021-07-18 16:41] #13243 closed, assigned to nobody

[2021-07-18 16:45] uslss commented on #13238
@maffe thanks for the report.
unfortunately, cannot reproduce the issue. Probably some special steps are needed?
![2021-07-18_19h44_23](https://user-images.githubusercontent.com/31996417/126075375-92fb2892-c381-492c-9175-2660642f1b69.gif)

[2021-07-18 16:49] uslss commented on #13237
thanks for the report

[2021-07-18 16:51] uslss commented on #13228
It is already supported in EE version.
![image](https://user-images.githubusercontent.com/31996417/126075547-e4f01055-2e07-4b75-9c76-1eefa0d17553.png)

[2021-07-18 16:51] #13228 closed, assigned to nobody

[2021-07-18 18:56] CComparon commented on #10149
Not sure if #13243 is a strict subset of this issue, but I'll be happy as long as JSON columns will be displayed as JSON by default or at least if DBeaver remembers my choice for this column.
![image](https://user-images.githubusercontent.com/12992190/126079059-29e1f57c-42af-4593-b2cc-c5e451255954.png)
Many thanks!

[2021-07-19 06:40] LonwoLonwo commented on #11425
Nope, sorry @deepaksenthilkumar
It will be implemented in the 21.1.4 release (02 August).
Now runs the testing stage.

[2021-07-19 07:15] Matvey16 commented on #12680
Verified

[2021-07-19 07:15] #12680 closed, assigned to LonwoLonwo, Matvey16

[2021-07-19 07:41] Matvey16 commented on #11891
@yjd We will work on it, scheduled to be fixed in the next update

[2021-07-19 07:53] Matvey16 commented on #13208
@YuriDude Hello. This is expected behavior, because schemas in Oracle are more akin to user's personal folder. To create a schema you need to create new user, while in MS SQL Server Schemas don't need to be associated with a specific user.
Do yo have a specific task that requires a generation of DDL for an Oracle Schema and what do you want to se there?

[2021-07-19 08:24] ChacheGS commented on #8319
At some point in the last two months or so, Manjaro seems to have updated Java or some related setting or something (I guess) and DBeaver works again!
Thanks for the support!

[2021-07-19 08:30] uslss commented on #13211
@YuriDude ,
unfortunately cannot reproduce the issue against 21.1.3. Could you provide ddl example to reproduce it?

[2021-07-19 08:41] uslss commented on #13199
@pandasnew cannot reproduce the issue.
Does auto-completion for big query not work for you at all? is there something in the logs?
![image](https://user-images.githubusercontent.com/31996417/126130405-2cc438e2-57dd-41c3-afc9-f3b6fd7f54ac.png)

[2021-07-19 08:43] uslss commented on #13204
@ahhmedbilal is it about sql editor or data editor?
Also, most of the hotkeys could be reassigned in preferences
![image](https://user-images.githubusercontent.com/31996417/126130658-c4e3d54b-9236-46b0-98c9-8280be7951f2.png)

[2021-07-19 08:55] uslss commented on #13182
@dennisnel Do you use tunnels or proxies?

[2021-07-19 09:00] uslss commented on #13135
@niraj8241 it is not planned at the moment

[2021-07-19 09:00] #13135 closed, assigned to nobody

[2021-07-19 09:00] garex commented on #8281
Still nothing? Why can't you just revert change that broken this feature?

[2021-07-19 09:01] #13131 closed, assigned to nobody

[2021-07-19 09:08] uslss commented on #13214
@grassvalley could you provide more info on how do you want to see it?
Do you want to paste data to the table that already exists?

[2021-07-19 09:13] uslss commented on #13210
@lestevam
seems you should check Quote never option in this case
![image](https://user-images.githubusercontent.com/31996417/126135290-7093d099-f0c7-4ba6-82ca-d0814844a172.png)

[2021-07-19 09:24] #12964 closed, assigned to nobody

[2021-07-19 09:32] uslss commented on #12902
will be fixed in the scope of #13154

[2021-07-19 09:32] #12902 closed, assigned to nobody

[2021-07-19 11:24] #13223 closed, assigned to nobody

[2021-07-19 11:30] Matvey16 commented on #13226
@wiwwo Hello, we already have a pgpass authentication, you need to pick oy in connection settings. Or are you suggesting something different?

![dbeaver_hVKeXk0GTL](https://user-images.githubusercontent.com/82543000/126153626-da4d419f-2636-482a-bda1-72fe48b2eadf.png)

[2021-07-19 11:46] LonwoLonwo commented on #12812
Fixed in DBeaver 21.1.4
Now we add schema name to custom data type name in the statement.

[2021-07-19 11:49] Matvey16 commented on #13239
You can already find and even replace everything at once with Find/Replace feature using Ctrl+F
Are you suggesting this feature because it will be more convenient?

[2021-07-19 11:51] flambchap commented on #12145
The original issue is gone. However, there is another one that is kind of connected. Suppose we connect to MSSQL database X and schema Y. Then we try to open script for database X' schema Y'. We shouldn't be able to do that since MSSQL does not support schema change. Indeed, when we open a script and execute
[code]
, we see `X'.Y`. But schema selector lies to us and says `X'.Y'`.

[2021-07-19 11:56] wiwwo commented on #13226
Funny I haven't seen that...
Btw, an "Import" funcionality would be great as well, and in pgpass there are (almost) all the infos needed

[2021-07-19 11:59] Matvey16 commented on #13226
What do you meant about "import" in this context? Can you elaborate?

[2021-07-19 12:07] wiwwo commented on #13226
pgpass stores db cinnection information. On bdeaver installation and/or on demand, new connections information can be taken by there

[2021-07-19 12:10] LonwoLonwo commented on #11254
Fixed in scope with https://github.com/dbeaver/dbeaver/issues/12812

[2021-07-19 12:25] YuriDude commented on #13211
You should be able to use any generic DDL with Decimal datatype and don't really need DDL from _me_.
I am using  **21.1.0** as stated above; if it is known bug and has been address in 21.1.3 then it is irrelevant.

[2021-07-19 12:38] YuriDude commented on #13208
Not sure if i would agree with "...schemas in Oracle are more akin to user's personal folder...". There are indeed schemas in Oracle that are **user** and "tableless".
However, my expectations for more-or-less similar structured RDBMS' (Oracle/MS SQL/Postgres, etc...) that they will have same end-user interface on DBeaver. If, "something is missing" in case of "tableless" schema  (a user in Oracle

[2021-07-19 12:41] lecriquet38 opened #13251 "Color cell only if cell match text"
**Problem description**
I use the color feature quite often. It works great with cells that are equal to a certain value or cells that fits a range of 2 values.

But if i want to colorize cells that begins with some letters or that contains a number for example, i can not.

**Describe the solution you'd like**
I would like to be able to use the **LIKE** operator :  **LIKE '%my_number_here%'** inst

[2021-07-19 13:05] Matvey16 commented on #13211
@YuriDude I was not able to reproduce it on 21.1.0 Is it displayed like this for every table with decimal column? Also can you at least show how this column looks in Source (DDL) tab?

![dbeaver_pDip0JEW8R](https://user-images.githubusercontent.com/82543000/126164132-b947163d-394a-4ea2-9dbc-00dd12151126.png)

![dbeaver_XbgG6M6Ye4](https://user-images.githubusercontent.com/82543000/126164146-a144e9

[2021-07-19 13:13] rjbhayani opened #13253 "Issue while opening Eclipse with DBeaver Perspective"
![image](https://user-images.githubusercontent.com/19501487/126164961-56232436-98bb-42bc-b992-46e31974740b.png)

-->

#### System information:
- Operating system (distribution) and version
- Windows 11
- DBeaver version - Latest
- Additional extensions
- SAP ADT

#### Connection specification:
Not used yet

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Inclu

[2021-07-19 13:14] Matvey16 commented on #13227
@lgraham1 Thank you for the report. Issue is specific to Mac OS, we will look into it in future updates

[2021-07-19 13:28] YuriDude commented on #13211
Well...
My "local machine" has been patched by Microsoft with latest updates over the weekend. Seems that problem was related to my local "image": I **have decimals** now 👍 .
My local image: Microsoft Windows [Version 10.0.19042.**1052**]  _.... see above to the state before..._

[2021-07-19 13:32] kseniiaguzeeva opened #13255 "ResultSet tabs don't use 1 for pagination after closing the first 1 tab"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.3

#### Steps to reproduce, if exist:
1. Execute query in SQL Editor
2. Execute the same query in separate tab
3. Close the first tab
4. Execute the query in separate tab again

**Expected**: tab with №1 appears in the ResultSet
**Actual Result**: tab with № 2 appears
**Note**: when we execute a que

[2021-07-19 13:36] Matvey16 commented on #13251
We already have this feature. In `Row colors...` menu you can configure a lot of colors including gradient coloring, using different operators e. g. `=, LIKE, REGEX` and other

![mjLFulfmbm](https://user-images.githubusercontent.com/82543000/126168293-9aa67a6e-129b-4b99-bdfd-f70aaa47dc18.gif)

[2021-07-19 13:36] #13251 closed, assigned to nobody

[2021-07-19 13:39] Matvey16 commented on #13211
@YuriDude Glad it was resolved

[2021-07-19 13:39] #13211 closed, assigned to nobody

[2021-07-19 13:44] kseniiaguzeeva commented on #11268
I cannot reproduce the issue in [the latest 21.1.3 version](http://dbeaver.io/)? Could I ask you to check the issue from your side?

[2021-07-19 13:54] Matvey16 commented on #13253
@rjbhayani Hello. I see that you are using Windows 11. Does this issue appear only on this OS, or was it also appearing in Win10?
Also looks like it can be an issue with Eclipse. Have you tried creating a Project in Eclipse without DBeaver plugin?

[2021-07-19 13:55] lecriquet38 commented on #13251
I had version 7.2 which does not have this.
I updated to 21.1.3 and now I have it !
Thanks a lot for your answer !

[2021-07-19 14:14] rjbhayani commented on #13253
Hi Team,
I am not sure since I have not tried in windows 10 but its appearing for Windows 11 and somehow I don't think so its related to windows 11.
Is it not compatible with SAP ADT addins ? 
    On Monday, 19 July, 2021, 07:24:53 pm IST, Matvey16 ***@***.***> wrote:

@rjbhayani Hello. I see that you are using Windows 11. Does this issue appear only on this OS, or was it also appearing in Win10?

[2021-07-19 14:35] JayceHN commented on #5178
Still an issue :'(

[2021-07-19 14:55] lestevam commented on #13210
HI @uslss, you are right!

I think that will be interesting when we selected the disabled in the "Quote always" the "Quote never" automatically change to "true" and any other configuration in the "Quote always" change the "Quote never" automatically to "false".

Thank you for your help!

[2021-07-19 15:09] Matvey16 commented on #13253
@rjbhayani can you attach a .log file? Also what version of eclipse do you use?

[2021-07-19 15:11] Matvey16 commented on #13253
@rjbhayani Have you tried creating a Project in Eclipse without DBeaver plugin? What version of eclipse do you use?

[2021-07-19 18:42] ak-seyam opened #13257 "No tables are shown in my PostgreSQL db"
#### System information:
- Operating system (distribution) and version: Arch linux
- DBeaver version: 21.1.2.202107071042
- Additional extensions: None
[code]
#### Connection specification:
- Database name and version: Postgres:13
- Driver name: PostgreSQL JDBC Driver 42.2.20
- Do you use tunnels or proxies (SSH, SOCKS, etc)? I use it inside a docker container I don't know if that counts or not so

[2021-07-19 19:30] ak-seyam commented on #13257
Sorry it was my mistake I was using a different DB

[2021-07-19 19:30] #13257 closed, assigned to nobody

[2021-07-20 04:29] williambuchanan2 opened #13258 "SQL Assistant not working"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.3.202107181810
- Additional extensions

#### Connection specification:
- Database name and version: SQL
- Driver name: Microsoft JDBC Driver for SQL Server
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Sql Assistant not working

#### Steps

[2021-07-20 07:21] uslss commented on #13087
verified

[2021-07-20 07:21] #13087 closed, assigned to uslss, ShadelessFox

[2021-07-20 07:22] ahhmedbilal commented on #13204
This is about sql editor.
Ctrl + up/down arrow key behavior is provided by the editor (like in
notepad++), I dont think so I can assign any hotkey to this behaviour.

Let's assume there are 30 lines of editor visible on the screen and my
cursor is at line 20. Total rows are 100. if i press down arrow, then the
cursor moves down and when it reaches line 30, then the editor starts
scrolling upward.

[2021-07-20 07:30] uslss commented on #12111
verified

[2021-07-20 07:30] #12111 closed, assigned to flambchap, uslss

[2021-07-20 07:33] uslss commented on #11254
verified

[2021-07-20 07:33] #11254 closed, assigned to uslss, LonwoLonwo

[2021-07-20 07:48] uslss commented on #12858
there is no update on an issue for a long time.
If the issue is still actual - feel free to reopen it

[2021-07-20 07:48] #12858 closed, assigned to nobody

[2021-07-20 07:48] uslss commented on #12986
there is no update on an issue for a long time.
If the issue is still actual - feel free to reopen it

[2021-07-20 07:48] #12986 closed, assigned to nobody

[2021-07-20 07:49] uslss commented on #13018
there is no update on an issue for a long time.
If the issue is still actual - feel free to reopen it

[2021-07-20 07:49] #13018 closed, assigned to nobody

[2021-07-20 07:49] uslss commented on #12990
there is no update on an issue for a long time.
If the issue is still actual - feel free to reopen it

[2021-07-20 07:49] #12990 closed, assigned to nobody

[2021-07-20 07:53] uslss commented on #5353
@douglasdtc unfortunately, we've got no env to test.
Could you please check if it is still actual against 21.1.3?
thanks in advance.

[2021-07-20 08:17] kaliavarun opened #13259 "Ability to switch between filters and highlight selected filter directly from the filter menu"
Is it possible to provide the option to toggle between filters directly from the filter menu?

**Additional context**
![image](https://user-images.githubusercontent.com/8238649/126285913-0244cc55-b7b8-4265-a11b-b9d9a9b968e8.png)

[2021-07-20 08:18] jennybrown8 opened #13260 "CE 21.1.3 breaks the GUI, launching dbeaver .exe as a background process but cannot interact"
#### System information:
Windows 10, Version 20H2, OS Build 19042.1083 from 2021-03-19
DBeaver Community Edition 21.1.3
No additional extensions

#### Describe the problem you're observing:

I try to launch the DBeaver GUI from the desktop icon.  I see a splash screen start.  Then it vanishes, and the task bar icon vanishes with it, as if it crashed during loading.  When I check with Task Manager,

[2021-07-20 08:24] uslss commented on #8363
#5314

[2021-07-20 08:26] uslss commented on #8685
there is no update for an issue for a long time.
if it is still actual against the recent version (21.1.3) feel free to reopen it with an additional info

[2021-07-20 08:26] #8685 closed

[2021-07-20 08:29] uslss commented on #7779
there is no update for an issue for a long time.
if it is still actual against the recent version (21.1.3) feel free to reopen it with an additional info

[2021-07-20 08:29] #7779 closed

[2021-07-20 08:30] uslss commented on #9049
still actual against 21.1.3

[2021-07-20 08:34] gregid commented on #13221
One more argument for the change: dbeaver update overwrites the shortcut files again forcing `en` localization.
I would still consider it a bug (though a minor one)

[2021-07-20 08:36] ShadelessFox commented on #12945
Generated DDL when plugin is **enabled**:
![image](https://user-images.githubusercontent.com/35821147/126162988-c6719da3-42ff-47fc-975b-7892f94ccba2.png)

Generated DDL when plugin is **disabled**:
![image](https://user-images.githubusercontent.com/35821147/126163110-bd80c796-e733-486c-8d31-193ed34c3853.png)

As a bonus, added plugin information in UI:
![image](https://user-images.githubuserconten

[2021-07-20 09:14] uslss commented on #13259
thanks for suggestion

[2021-07-20 09:17] RobbieAuld-edf commented on #10896
@uslss , I agree with @adamsoltesz that this is a bug with the timezone converter and the fact that you have to turn it off to get the correct times in native format is testament to that. I can reproduce it using the Europe/London timezone. I connect to a database in which the dates and times have been written as UTC dates and times, and stored as timestamps with no timezone. If the _Use native da

[2021-07-20 09:28] Matvey16 commented on #13208
@YuriDude What do you want to see in that DDL? To generate a DDL for a schema it would require to include user's password in it, which is bad for security.

[2021-07-20 09:44] uslss commented on #13260
@jennybrown8 could you try to [reset workspace](https://github.com/dbeaver/dbeaver/wiki/Reset-workspace) and write back if it helps or not?

[2021-07-20 10:05] denmusti opened #13263 "export to HTML doesn't open easy in Excel anymore after update"
#### System information:
- Windows 10
- DBeaver version: Latest

#### Describe the problem you're observing:
Because we have to distribute a large portion of data (200K rows but lots of columns) to our internal customers we export the data to HTML.
After that we copy it to Excel in a template as values so all values are shown correctly without any typical excel 'enhancements'.
Normally when we ope

[2021-07-20 10:11] Matvey16 commented on #12812
Double cast is shown if opening a generated script before saving

![dbeaver_HMQTwSK2DA](https://user-images.githubusercontent.com/82543000/126306645-a801e8c1-e781-41cc-94e2-a09ca409eea2.png)

[2021-07-20 11:10] Matvey16 commented on #13258
Can you provide more steps to reproduce an issue? What is the DDL of the table(s) and what is a whole query?

[2021-07-20 11:11] dennisnel commented on #13182
@uslss No tunnels or proxies are being used.

I have uninstalled the standalone product, scanned my registry and removed all references to dbeaver, rebooted and then installed the 21.1.2 version and I'm still not able to install the Git support. (same error as above)

I also did the same with the .zip version and was still not able to install the Git support. (same error as above)

I don't know if

[2021-07-20 11:14] dennisnel commented on #13182
@uslss In another eclipse product I found a reference to a software site [EGit P2 Repository](http://download.eclipse.org/egit/updates), I added this to my Available Software sites and then installed this software.

Once I had done the above, I was able to install the DBeaver Git support without any issue. Everything is working fine now.

[2021-07-20 11:34] p91paul commented on #13263
Have you tried exporting directly to excel? there is an office plugin available.

[2021-07-20 11:58] denmusti commented on #13263
@p91paul where can i find that one?
Although we allways save als xlsb-files beacause of the mass load of data.

[2021-07-20 15:27] swiffer commented on #10852
Yes - same here. Start-Up loop after installing SSHJ / Office Plugin when DBeaver is installed System-wide. Switched to User Install now which is working fine (at least at the moment).

[2021-07-20 15:33] baristahell commented on #11598
I'm really not sure it's a snap-specific issue, I have the same problem and i installed dbeaver with the .deb installer.
A mere click on a cell with a . I had a computer way less powerful before that handled hundreds of geometry cells selected at the same time with a map service behind...

[2021-07-20 16:59] douglasdtc commented on #5353
@uslss , yes, just updated and tested it, it's still happening on version 21.1.3.202107181810. If you want to, we can provide an environment with a database set up so you can test it.
Thank you for your help.

![image](https://user-images.githubusercontent.com/19532943/126365097-651d4c58-1c33-4c22-be89-acd9c20228a5.png)

[2021-07-20 17:04] douglasdtc commented on #5353
Hello @uslss , thank you for your response. Unfortanetly we cannot test it, since there's a new bug regarding GlobalCharacterStreams on Intersystems Caché in recent DBeaver versions. The issu is still open here https://github.com/dbeaver/dbeaver/issues/11899 . I've just updated to the 21.1.3 version and tested it and it still presents the value as `[CacheInputStream]`.
If you need to, we can provi

[2021-07-20 17:48] ag-ttec commented on #9472
I would like to see this implemented as well.  I find the tooltip generally useful, but agree with @coldenol it can get in the way.

A potentially simple solution would be a way to dismiss it after it comes up (ESC key?).  If it's to be an option in preferences, personally I'd appreciate the option to add it to the result tab context menu so it's still easy to access.

[2021-07-20 18:21] jennybrown8 commented on #13260
From %APPDATA%\Roaming\ I deleted the entire DBeaverData directory, relaunched 21.1.2, and it worked.  It prompted me to upgrade.  I told it yes, and let it upgrade.  21.1.3 worked as well.  Resetting the workspace appears to have solved the problem.  Thank you.

[2021-07-20 18:23] ASHspace commented on #7082
I am using flatpak **Version 21.1.3.202107181810** and Darkest Dark working fine.

[2021-07-20 20:20] ddumas30 commented on #13158
Here is an example>  JSON is the column name in this example.  It has a data type of variant, and contains valid json data.

Dave

SELECT DISTINCT
  --  JSON,
     PARSE_JSON(JSON[0]):data.AutoInterview.Dealership.Id::STRING DEALERSHIP_ID
  ,   PARSE_JSON(JSON[0]):data.AutoInterview.Dealership.Request.AutoInterviewRequestId::STRING AUTO_INTERVIEW_REQUEST_ID
  ,   PARSE_JSON(JSON[0]):data.AutoInter

[2021-07-20 20:23] sars2sars2 opened #13267 "Copying from Results Grid and Pasting into Excel results in multiple columns in one cell"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.3.202107181810

#### Connection specification:
- Database name and version Yellowbrick
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When copying the query results from the result grid (Ctrl-A, Ctrl-C), pasting into Excel results in all of

[2021-07-20 20:49] p91paul commented on #13263
https://github.com/dbeaver/dbeaver/wiki/Optional-extensions

[2021-07-21 00:33] williambuchanan2 commented on #13258
I have discovered the problem. It doesn't seem to like blank lines in the query. If you see the query below - it works when I remove the blank line. I guess this also explains why I had intermittent trouble with it in the past.

select top 100 *
from PartitionEquipment pe
-- blank line below

where pe.[bang!]

[2021-07-21 02:10] hnavia commented on #7082
Yeah, the solution was to install DBeaver for a single user rather than all

[2021-07-21 05:09] elbertcastaneda commented on #6064
+1

[2021-07-21 06:59] fafaly opened #13269 "Can't open entity 'xxx' Reason： -434054089"
#### System information:
- win10
- DBeaver version = 21.1.3.202107181810
- Database name and version:Any
- Driver name:Any
-
#### ErrorLog:
java.lang.NegativeArraySizeException: -434054089
	at org.eclipse.swt.program.Program.getKeyValue(Program.java:164)
	at org.eclipse.swt.program.Program.getProgram(Program.java:196)
	at org.eclipse.swt.program.Program.getPrograms(Program.java:228)
	at org.eclips

[2021-07-21 07:19] LonwoLonwo commented on #13158
Please try to disable the setting "Enable SQL Parameters" in Preferences->Editors->SQL Editor->SQL Processing
to disable [parameter binding](https://github.com/dbeaver/dbeaver/wiki/SQL-Execution#dynamic-parameter-bindings)

[2021-07-21 07:19] LonwoLonwo commented on #13158
![2021-07-21 10_14_01-DBeaver Enterprise 21 1 3 - _none_ Script-29](https://user-images.githubusercontent.com/45152336/126447727-162c11e1-d231-47ae-926f-8298c935d897.png)

[2021-07-21 07:30] uslss commented on #13269
@fafaly could you provide steps to reproduce? video of the issue also will be helpful

[2021-07-21 07:33] fafaly commented on #13269
It happend when open the dbeaver and connect to any database. I can use it before and reinstall the software is not useful for me.

[2021-07-21 07:41] uslss commented on #13267
@sars2sars2 unfortunately, cannot reproduce it.
Could you try to Reset UI settings? (Main menu: File - Reset UI Settings)

[2021-07-21 07:45] uslss commented on #12438
verified

[2021-07-21 07:45] #12438 closed, assigned to uslss, ShadelessFox

[2021-07-21 07:45] LonwoLonwo commented on #13258
Hello @williambuchanan2

This is the default behavior for DBeaver SQL Editor. You can disable "Blank line is statement delimiter" setting in Preferences -> Editors -> SQL Editor -> SQL Processing

![2021-07-21 10_43_00-DBeaver Enterprise 21 1 3 - _SNOWFLAKE_SAMPLE_DATA_ Script-29](https://user-images.githubusercontent.com/45152336/126451155-58fbb762-8c8f-4e9b-9e59-2f5a74f98921.png)

[2021-07-21 07:52] LeonardoDaMunici commented on #11352
Please get the button "New SQL script" back on the main toolbar or give the users the option to configure the toolbar theirselves. If you want, google the german word "verschlimmbessern". That's, what it is.
Btw. the shortcut "Ctrl + ]" is terrible combination, when you use a german keyboard. -> "Ctrl + AltGr + 9"

[2021-07-21 07:55] uslss commented on #11352
Default command for button SQL could be changed in its menu
![image](https://user-images.githubusercontent.com/31996417/126452340-8ec0fafa-6d47-4c34-a49b-a9f4c3d5ee4a.png)

Keybindings also could be changed in preferences
![image](https://user-images.githubusercontent.com/31996417/126452541-6df49cfd-85cd-4d23-896d-26c186c2bfeb.png)

[2021-07-21 07:55] #13260 closed, assigned to nobody

[2021-07-21 07:57] uslss commented on #13269
@fafaly Could you try to[ reset workspace ](https://github.com/dbeaver/dbeaver/wiki/Reset-workspace)and check if it helps?

[2021-07-21 08:10] uslss commented on #12945
verified

[2021-07-21 08:10] #12945 closed, assigned to uslss, ShadelessFox

[2021-07-21 08:16] fafaly commented on #13269
I have tried ....It does not help even when I remove the .metadata folder and restart.....

When I open any table the error happen again...

[2021-07-21 08:16] Matvey16 commented on #10504
Verified

[2021-07-21 08:16] #10504 closed

[2021-07-21 08:17] uslss commented on #13269
what database do you use?

[2021-07-21 08:18] fafaly commented on #13269
Clickhouse and Mysql

[2021-07-21 08:23] #13210 closed, assigned to nobody

[2021-07-21 08:24] #13051 closed, assigned to nobody

[2021-07-21 08:25] #13170 closed, assigned to nobody

[2021-07-21 08:25] #12715 closed, assigned to nobody

[2021-07-21 08:29] #13258 closed, assigned to nobody

[2021-07-21 08:45] PovilasC opened #13275 ""Enter password pop up" every time even though no password required"
<img width="557" alt="Screenshot 2021-07-20 at 16 33 44" src="https://user-images.githubusercontent.com/2620949/126458640-fea8fd01-6878-48b4-906b-2a53a394666b.png">

#### System information:
- Operating system (distribution) and version: macOS Big Sur 11.4
- DBeaver version: 21.1.3.202107181810

#### Connection specification:
- Database name and version: postgres
- Driver name
- Do you use tunnels

[2021-07-21 08:50] anderagakura opened #13276 "Counting occurrences via a SQL query"
#### System information:
- Operating system (distribution) and version : macOS Big Sur Version 11.2.2
- DBeaver version 21.1.3.202107181810
- Additional extensions : No

#### Connection specification:
- Database name and version : CSV file
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
I'd like to count occurrences in a string via a

[2021-07-21 10:02] ShadelessFox commented on #12912
Also, it would be nice to refactor model, so we can replace `DBVColorOverride#isRange` with `DBCLogicalOperator#BETWEEN`.

By doing so, we will be able to display <kbd>Clear color for ... </kbd> action for ranges too. We also can support operators beside just <kbd>=</kbd>.

But I don't think major changes like that are related to the issue itself. A separate feature request may be created.

[2021-07-21 11:41] krasucki opened #13281 "Option to choose between truncate and delete in data transfer task (SQL Server issue)"
#### System information:
- Windows 10
- DBeaver version 7.2.5

#### Connection specification:
- SQL Server v2019

#### Describe the problem you're observing:
In some cases, when target table is referenced by foreign key constraint, we can't truncate data. This is because SQL Server requires different approach to disable that kind of check (as opposed here https://github.com/dbeaver/dbeaver/issues/

[2021-07-21 11:53] Sbudaland opened #13282 "DBeaver-CE crashes on Mac OS 12 when trying to change editor fonts"
#### System information:
- Operating system: Mac OS 12 Beta 3
- DBeaver version:  21.1.2.202107041908
- Additional extensions

#### Describe the problem you're observing:
DBeaver-CE crashes on Mac OS 12 when trying to change editor fonts
#### Steps to reproduce, if exist:
Preferences -> Editors -> Text Editor -> 'Colors and Fonts' -> Text Fonts
#### Include any warning/errors/backtraces from the l

[2021-07-21 11:57] LonwoLonwo commented on #11425
We added the ability to use a multi-row insert with data import for better performance. You can turn it on on the data transfer settings page:

![2021-07-21 14_24_57-DBeaver Enterprise 21 1 3 - mood_data](https://user-images.githubusercontent.com/45152336/126481368-6f23b0ca-d8fd-490b-876b-d1faeccef11a.png)

It is the database-specific feature because not all databases support multi-row insert synt

[2021-07-21 12:02] deepaksenthilkumar commented on #11425
Thanks @LonwoLonwo. Which version of DBeaver has this functionality. Is there an early build that we can use now?

[2021-07-21 12:09] ddumas30 commented on #13158
I do not see a “Preferences ” anywhere in the navigation.  I only see File=>Properties

There, that setting you suggest is grayed out.

Dave

***@***.***D77E07.BE8C1000]

From: Anastasiya ***@***.***>
Sent: Wednesday, July 21, 2021 3:19 AM
To: dbeaver/dbeaver ***@***.***>
Cc: David Dumas ***@***.***>; Mention ***@***.***>
Subject: Re: [dbeaver/dbeaver] Support for Snowflake PARSE_JSON() function (

[2021-07-21 12:15] LonwoLonwo commented on #11425
Hello @deepaksenthilkumar
The current early version doesn't contain this feature, maybe a few days later it will be updated. You can check it here: https://dbeaver.io/files/ea/ (Release date must be at least 21.07)

[2021-07-21 12:40] ddumas30 commented on #13158
I found out how to un-gray it out.  I will let you know…
Dave

From: Anastasiya ***@***.***>
Sent: Wednesday, July 21, 2021 3:19 AM
To: dbeaver/dbeaver ***@***.***>
Cc: David Dumas ***@***.***>; Mention ***@***.***>
Subject: Re: [dbeaver/dbeaver] Support for Snowflake PARSE_JSON() function (#13158)

[2021-07-21 10_14_01-DBeaver Enterprise 21 1 3 - none Script-29]<https://user-images.githubusercont

[2021-07-21 12:44] ddumas30 commented on #13158
That worked, and parse_json worked – thanks!

From: Anastasiya ***@***.***>
Sent: Wednesday, July 21, 2021 3:19 AM
To: dbeaver/dbeaver ***@***.***>
Cc: David Dumas ***@***.***>; Mention ***@***.***>
Subject: Re: [dbeaver/dbeaver] Support for Snowflake PARSE_JSON() function (#13158)

[2021-07-21 10_14_01-DBeaver Enterprise 21 1 3 - none Script-29]<https://user-images.githubusercontent.com/45152336/

[2021-07-21 12:52] #13158 closed, assigned to nobody

[2021-07-21 13:27] Matvey16 commented on #13029
@icegood We updated a package on this repository. If it is possible for you, please can you check it again and confirm if the issue is still there for your version of Ubuntu.

[2021-07-21 13:43] Matvey16 commented on #13091
@HoonK212 Can you try exporting it with batches disabled or with a lower amount of inserts before commit. Also check if your target database actually have enough storage to fit all of the transferring data. DBeaver can't delete data in source tables because in the process of export it only reads data from the source.

[2021-07-21 13:45] Matvey16 commented on #13150
@Pranithaevana Dbeaver comes with its own set of trusted root certs that are included in Java 11.

[2021-07-21 13:51] Matvey16 commented on #13157
@xunxky Why do you think that opening a script from Project explorer (where scripts can be saved without associated data source) is not enough?

[2021-07-21 13:56] Matvey16 commented on #13184
Can you attach a DDL in text form so we can try reproducing this issue?

[2021-07-21 13:59] gtorinsd opened #13283 "Error obtaining geometry type from typmod: fff7f"
Hello Everybody,
I can't view GEOMERTY column in DBeaver (Redshift)
There is a error:

**Error obtaining geometry type from typmod: fff7f**

OS: Winddows 10
DBeaver v 21.1.3.202107181810, community
Database: Amazon redshift, no ssh, socks etc.

I can select records, view geomerty objects as a line etc, but I can't view the column in columns list,
The same situation was in a previos versions of DBe

[2021-07-21 14:00] uslss commented on #7617
will be implemented in the scope of #12825

[2021-07-21 14:00] #7617 closed

[2021-07-21 14:02] Matvey16 commented on #13208
@YuriDude Thank you, we will look how it can be implemented

[2021-07-21 14:08] Matvey16 commented on #13209
@YuriDude Thank you for the suggestion. This date is in Microsoft control and it states the day when an app was added to the Microsoft Store and is irrelevant to the last update date.

[2021-07-21 14:08] #13209 closed, assigned to nobody

[2021-07-21 14:10] Matvey16 commented on #13213
@YuriDude This feature will require writing a whole new driver, so currently it is not in our plans.

[2021-07-21 14:13] Matvey16 commented on #13226
@wiwwo Thank you for the suggestion, it is a very useful feature

[2021-07-21 14:19] ShadelessFox commented on #13283
Hello @gtorinsd,

Thanks for the report.

May I ask you to execute following query and provide the result:
[code]

It does not contain any sensitive data, only metadata. `Object ID` can be found under <kbd>Properties</kbd> tab of the problematic table.

[2021-07-21 14:24] gerhard81 opened #13284 "Db2 table new property table organization row or column organized."
Hello everybody,

on Table Properties->Statistics there should be added a new property "Table Organization" which indicates if it's a row or column organized table.

The table organization can be found in the catalog view SYSCAT.TABLES.TABLEORG

- C = Column-organized table
- R = Row-organized table

Currently is only possible to determine the kind of organization when look into the DDL.

Regards,

[2021-07-21 14:30] uslss commented on #8785
not reproducible anymore (21.1.3)

[2021-07-21 14:30] #8785 closed

[2021-07-21 14:34] gerhard81 commented on #9593
Hi, is there any schedule for delivery?
Gerhard

[2021-07-21 14:36] uslss commented on #10580
still reproducible against 21.1.3

[2021-07-21 14:37] #8601 closed

[2021-07-21 14:55] flambchap commented on #12837
Hi @lsieben97. Unfortunately, I can not reproduce your problem since we explicitly make the filter text field uneditable during the data load. I have a feeling that I don't understand the issue correctly. Could you please a screencast with the problem? That would be very helpful. Thank you.

[2021-07-21 15:29] YuriDude commented on #13184
@Matvey16
As you may (or may not ;-) ) recall from our other conversation, I had other problem and it was resolved by my system (my "_local machine"_) updates with latest patches by Microsoft. Today , I double checked on this issue (problem at-hand we are discussing... ) and it seems that it got resolved too. Which made me thinking that originally problems were related to the SQL Server driver sin

[2021-07-21 15:36] tracure1337 commented on #6398
Also big fan of this feature request.  A preference to auto-refresh every x seconds would be amazing.
It could have a warning attached that this can lead to wait times with big databases and we're golden :)

[2021-07-21 15:53] YuriDude opened #13287 "Constraint generation during DDL as **separate** "ALTER...." statements"
**Is your feature request related to a problem? Please describe.**
I would like to have an option that is set as a configuration setting or other global that during the DDL generation of a table **all** constraints are generated as _**separate**_ ALTER statement(s)  and **not** in-line (meaning within "create table ..." statement) as it is current behavior now!

**Rationale**
I think that separate

[2021-07-21 16:38] #9350 closed

[2021-07-21 17:55] ShadelessFox commented on #13283
I did some research and it seems that it's invalid value.

Also, pgAdmin4 was unable to display the value too:

![](https://i.imgur.com/58OcFi9.png)

[2021-07-21 18:15] icegood commented on #13029
doesn't help at all. For now my java config is:

update-alternatives --get-selections | grep jvm
jar                            auto     /usr/lib/jvm/java-8-openjdk-amd64/bin/jar
jarsigner                      auto     /usr/lib/jvm/java-8-openjdk-amd64/bin/jarsigner
java                           auto     /usr/lib/jvm/java-11-openjdk-amd64/bin/java
javac                          auto     /usr/lib/

[2021-07-21 20:32] ShadelessFox commented on #12239
Now you can specify timezone for date/time formatters:
![image](https://user-images.githubusercontent.com/35821147/126294834-dfd58029-78fe-4c97-8a33-a96de79147ee.png)

[2021-07-21 21:46] jlcarpioe opened #13289 "Unhandled event loop exception Linux"
I have this error "Unhandled event loop exception" when try to export records with MySQL 5.6 using SSH tunel

java.lang.StackOverflowError
	at java.base/java.util.HashMap.hash(Unknown Source)
	at java.base/java.util.HashMap.get(Unknown Source)
	at java.base/java.util.Collections$SynchronizedMap.get(Unknown Source)
	at org.eclipse.e4.core.internal.contexts.osgi.EclipseContextOSGi.lookup(EclipseCont

[2021-07-22 05:28] Matvey16 commented on #13289
Please add what version of DBeaver do you use, how did you install it (snap, ppa etc.) and what export were you doing that led to this error.

[2021-07-22 05:28] Matvey16 commented on #13289
@jlcarpioe Please add what version of DBeaver do you use, how did you install it (snap, ppa etc.) and what export were you doing that led to this error.

[2021-07-22 06:48] Matvey16 commented on #13287
@YuriDude DDL generation depends on the database, which one do you have in mind?

[2021-07-22 07:03] Matvey16 commented on #13281
@krasucki Thank you for the suggestion, we will look if it can be implemented

[2021-07-22 07:03] CarGod commented on #4445
@serge-rider @tati-kru

Hi, I noticed that the function of HTTP tunnel has been planned for March 2020, but this function is still not seen in the current latest version. Can this function be done? I really need this feature, thank you.

[2021-07-22 07:09] krasucki commented on #13281
@Matvey16  Thank you, some things to consider:
- can be slower than truncate
- creates transactional log for each deleted row, therefore requires more disk space - unless transactions are skipped
- can activate triggers (if any) - unless triggers are disabled

basically this is DML vs DDL operation

[2021-07-22 07:25] flambchap commented on #13236
Fixed.

[2021-07-22 07:26] flambchap commented on #12484
Done.

[2021-07-22 08:09] uslss commented on #13236
verified

[2021-07-22 08:09] #13236 closed, assigned to flambchap, uslss

[2021-07-22 08:09] uslss commented on #12484
verified

[2021-07-22 08:09] #12484 closed, assigned to flambchap, uslss

[2021-07-22 08:16] Matvey16 opened #13290 "Syntax error in DDL when exporting varchar column to MySQL/DB2 form another DB"
#### System information:
- DBeaver version 21.1.3

#### Connection specification:
- Database name and version MySQL 5.5/DB2 + PostgreSQL 12

#### Describe the problem you're observing:
Exporting a table from PostgreSQL with a varchar column leads to syntax error because generated DDL reads `CREATE TABLE Table_name ( column1 varchar NULL, column2 numeric NULL)` , but it can't be created without a v

[2021-07-22 08:25] fafaly commented on #13269
After restarting my computer,the problem was miraculously fixed .....

[2021-07-22 08:25] #13269 closed, assigned to nobody

[2021-07-22 08:53] Matvey16 opened #13291 "NPE when trying to export numeric column from Postgres to SQL Server"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.1.3

#### Connection specification:
- Database name and version SQL Server

#### Describe the problem you're observing:
When trying to export a table with numeric column from Postgres to SQL Server NPE is thrown both if trying to view a DDL or after starting the export

#### Steps to reproduce, i

[2021-07-22 10:37] Matvey16 commented on #13276
@anderagakura Hello, can you please clarify where are you trying to execute this functions? What Database are you using?
Regarding SQL functions: available functions depend on the database you are using, if they are available in your database, they are eligible to be written in DBeaver SQL editor. Any function that you write for SQL query will be executed on the server side. Client side commands c

[2021-07-22 10:51] LonwoLonwo commented on #13291
Fixed in DBeaver 21.1.4

[2021-07-22 11:01] aminta commented on #12441
Following...

[2021-07-22 11:07] waterMeteors opened #13293 "Compile the source code error"
hello everyone, I want to read the source code. when I clone the source code and running the "mvn package".It is always error that message is  like the picture
![image](https://user-images.githubusercontent.com/54666561/126623583-0486aa2e-d91d-43ab-9e43-fc69f3e58a43.png)

System environment：
  windows 64
java version : "1.8.0_131"
maven version : "Apache Maven 3.6.3"

if I want to run the source c

[2021-07-22 11:13] serge-rider commented on #11891
Joined tables edit support was added.

@Matvey16 please test it in PG, MySQL and Oracle as well.

[2021-07-22 12:01] serge-rider commented on #12582
Native tools version upgraded to 13.3

[2021-07-22 12:23] Matvey16 commented on #11425
Some inconsistency in the UI, checkbox becomes available after returning with **Back** button

![uljX5oXwdb](https://user-images.githubusercontent.com/82543000/126604303-fb4d771d-db15-41a6-b76d-6782dd47aee5.gif)

[2021-07-22 12:28] serge-rider commented on #13041
Fixed

[2021-07-22 12:41] YuriDude commented on #13287
This behavior is the same on Oracle & MS SQL Server currently.
Suggestion (feature request) is also relevant to these RDBMS'.
I did not check Postgres , MySQL DB2 and other "classical" RDBMS' due to the lack of access, but to my mind - feature should be applicable "across the board":
- just like you are developing Universal DB Tool -> all shops/enterprises would have almost the same activities rel

[2021-07-22 12:48] Matvey16 commented on #13291
Verified

[2021-07-22 12:48] #13291 closed, assigned to LonwoLonwo, Matvey16

[2021-07-22 12:59] JeroenNienhuis opened #13294 "filter on NULL and some other value using GUI generates wrong sql code"
#### System information:
- Operating system (distribution) and version
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

[2021-07-22 13:01] #13294 closed, assigned to nobody

[2021-07-22 13:34] JeroenNienhuis opened #13295 "filter on NULL and some other value using GUI generates wrong sql code"
#### System information:
- Operating system (distribution) and version: Windows
- DBeaver version: 21.1.3

#### Describe the problem you're observing:
When filtering on a table using the GUI you can select from all values entered for that field. If NULL and some other values are selected like in
![clip1](https://user-images.githubusercontent.com/51078213/126644434-6cd54478-d70f-4ede-a8ba-ddb7f4c67

[2021-07-22 14:06] Matvey16 commented on #11891
Verified for SQL Server PostgreSQL, MySQL, Oracle

[2021-07-22 14:21] serge-rider opened #13297 "New SQL script template"
It is convenient to have a template for new SQL scripts.
It may contain some header with comments, current time, current user name, etc.

[2021-07-22 14:23] saumyasuhagiya opened #13298 "Azure SQL certificate issue: unable to find valid certification path to requested target"
#### System information:
- Operating system (distribution) and version : macos big sure (11.4)
- DBeaver version Version 21.1.3.202107181810
- Additional extensions: no extensions

#### Connection specification:
- Database name and version :
- Driver name : Azure SQL Server
-  mssql-jdbc-9.2.0.jre8.jar
- msal4j:RELEASE:1.9.1
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  : SSH

#### Describe

[2021-07-22 14:31] serge-rider opened #13299 "Data Transfer: column name mapping"
When exporting from a query to a database table it uses source column names instead of column aliases in some cases.
Reproducible when source database is DB2.

[2021-07-22 14:56] anderagakura commented on #13276
@Matvey16 My database is just a CSV file contain more than 40GB of data and I'm happy that DBeaver can handle it. What I want now is running a sql query (`Select`) to count number of occurrences of a character per each string. When I try **TRANSLATE()** (by the way, the SQL editor highlights this word but no explanation) function I got _SQL Error: SQL function not found: TRANSLATE_, same for **REP

[2021-07-22 15:30] sars2sars2 commented on #13267
I tried resetting the UI settings as described. I'm still getting the same results.

[2021-07-22 17:26] uslss opened #13300 ""Clear color for" for ranges in Data Grid"
Also, it would be nice to refactor model, so we can replace `DBVColorOverride#isRange` with `DBCLogicalOperator#BETWEEN`.

By doing so, we will be able to display <kbd>Clear color for ... </kbd> action for ranges too. We also can support operators beside just <kbd>=</kbd>.

But I don't think major changes like that are related to the issue itself. A separate feature request may be created.

_Origi

[2021-07-22 17:26] uslss commented on #12912
verified

[2021-07-22 17:26] #12912 closed, assigned to uslss, ShadelessFox

[2021-07-22 18:58] uslss opened #13301 "Read Data in SQL editor isn't working from context menu in Metadata editor"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.3

#### Describe the problem you're observing:
1. Open any table in Metadata editor
2. Choose Read data in SQL editor

Actual result:
SQL editor opens, but it is empty.
Expected:
Should working similar to Read data in SQL editor chosen in the context menu in DB navigator

![2021-07-22_21h57_02](http

[2021-07-22 19:07] uslss commented on #12512
3.10 is shown instead of 0.10
![image](https://user-images.githubusercontent.com/31996417/126695475-a4837a34-27db-49b2-a7d7-1a1b5156bf8c.png)

[2021-07-22 19:16] uslss commented on #13041
verified

[2021-07-22 19:16] #13041 closed, assigned to serge-rider, uslss

[2021-07-22 19:22] uslss commented on #12559
there is no update on the issue for a long time. if it is still actual - feel free to reopen it

[2021-07-22 19:24] uslss commented on #12488
closed as a duplicate.
probably was fixed in the scope of #12889

[2021-07-22 19:24] #12488 closed, assigned to nobody

[2021-07-22 19:27] uslss commented on #13114
closed as a duplicate of #10845

[2021-07-22 19:27] #13114 closed, assigned to riednyko

[2021-07-22 19:27] plotn commented on #12559
@uslss, why did you close the issue? I gave all that you asked from me, problem is still exists, whats wrong?

[2021-07-22 19:29] uslss commented on #11734
cannot reproduce it against dbeaver 21.1.3. If it is still actual - feel free to reopen an issue.

[2021-07-22 19:29] #11734 closed, assigned to nobody

[2021-07-23 05:57] HoonK212 commented on #13091
Thank you for your answer. I'll ask you two more questions.
1. Unlike normal cases, is there any logic that runs separately when data export is forced to terminate due to capacity issues in the destination database?
2. Is there no way to check the queries that were executed at that time through query manager now (or any other way)?

[2021-07-23 06:03] #13184 closed, assigned to nobody

[2021-07-23 08:12] Matvey16 commented on #12239
Verified

[2021-07-23 08:12] #12239 closed, assigned to ShadelessFox, Matvey16

[2021-07-23 08:16] Matvey16 commented on #12582
Verified

[2021-07-23 08:16] #12582 closed, assigned to serge-rider, Matvey16

[2021-07-23 08:29] flambchap commented on #12464
Fixed.

[2021-07-23 08:33] marszysz opened #13302 "Can't use LIKE or REGEX to set row colors on numeric columns"
#### System information:
- Operating system (distribution) and version: Manjaro Linux 21.1.0
- DBeaver version: 21.1.2.202107071042
- Java version: java-11-openjdk 11.0.11+9
- Additional extensions: none

#### Connection specification:
- Database name and version: MySQL 5.5.5-10.3.10-MariaDB-1:10.3.10+maria~stretch
- Driver name: MySQL Connector/J mysql-connector-java-8.0.17
- Do you use tunnels o

[2021-07-23 08:40] corleroux commented on #7976
I wouldn't waste my time with this. DBeaver is an awesome tool for other things. This is not one of those things.
Just do this through the command line - here is what I did after a very long struggle, installing the deb, then the flatpak then back to the deb - and a whole lot of looking for mysql client files... I managed to land my db server in a masked state - at least I know what that is now.

[2021-07-23 08:55] serge-rider commented on #11891
The query has joins

[2021-07-23 08:55] #11891 closed, assigned to serge-rider, Matvey16

[2021-07-23 08:57] onedriver3 opened #13304 "我的DBearver 的解析执行计划按钮是灰色的 无法使用"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-07-23 09:37] Matvey16 commented on #13276
@anderagakura If you are using a JDBC driver that opens CSV files as tables then unfortunately it is very limited in functionality, it can only run basic Selects with primitive expressions, and doesn't support any functions. [Documentation](https://github.com/simoc/csvjdbc/blob/master/docs/doc.md) for this driver. If you want to use anything more complex than basic select, you need to at least use

[2021-07-23 10:07] ShadelessFox commented on #13302
Hello @marszysz,

Thanks for the report.

Unfortunately, I cannot reproduce your issue using provided description. Can you record a video instead?

[2021-07-23 10:30] Matvey16 commented on #13299
Verified

[2021-07-23 10:30] #13299 closed, assigned to serge-rider, Matvey16

[2021-07-23 10:55] Matvey16 commented on #13091
@HoonK212 The export process runs multiple queries to create tables and insert data. Depending on the moment where it encounters an error it will either just stop or skip the query if the skip is possible and you choose to do it. If an error is encountered due to a reached capacity the process is still the same. Everything before the last successful commit (you can choose batch size before commits

[2021-07-23 11:42] giulio-quaresima commented on #11268
Just tried: same error for version 21.1.3.202107181810

On Mon, Jul 19, 2021 at 3:45 PM Kseniia ***@***.***> wrote:

[2021-07-23 12:16] inbeacon opened #13305 "Default data source association"
version: dBeaver community, Mac OS version 21.0.2.202104042040 5-april-2021

I have dozens of datasources and hundreds of scripts. All scripts are organized in folders.
When I create a new script this is my current workflow:

- Right mouse click on a folder in the 'scripts' tree, choose create, choose new file.
- this file is named 'script-XX' and a tab is opened with "none" association
- Rename t

[2021-07-23 15:00] uslss commented on #13304
@onedriver3 please add more info about your issue (dbeaver version, database you use, what's going wrong).
Also, please, write in English.
Thanks in advance.

[2021-07-23 17:59] xunxky commented on #13157
@Matvey16 That is quite a loaded question, because  mysql cli is actually "enough", isn't it?
But I can repeat my first reasoning.

My request simply takes note that the SQL button is probably intended for convenience reasons,
 and I explain that it is inconvenient for users with multiple data sources of the same layout.
(having multiple data sources of the same layout is not unusual in my opinion

[2021-07-23 18:12] MichaelFishmanOD opened #13307 "DBeaver cannot detect the end of user defined snowflake functions which use count(distinct case...)"
# dbeaver-cannot-detect-end-of-snowflake-function-issue

#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.3
- Additional extensions

#### Connection specification:
- Database name and version: Snowflake 5.29.1
- Driver name: snowflake-jdbc-3.13.6.jar

#### Describe the problem you're observing:

DBeaver is unable to detect the end of a `Cre

[2021-07-23 21:51] 2-5 opened #13309 "Numbers formatting: fractional digits limits don't work"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.3

#### Connection specification:
- Database name and version: PostgreSQL 13.3
- Driver name: PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:

There is a regression after upgrading from a previous version. I don't know

[2021-07-24 01:14] pgnd commented on #13171
deleted the snap.  no longer in use.
close @ your discretion.

[2021-07-24 21:38] computer-logix commented on #10887
Also happens on Windows 11

Edition	Windows 11 Pro
Version	21H2
OS build	22000.100
Windows Feature Experience Pack 421.18901.0.3

[2021-07-24 23:43] tamoanxx opened #13310 "Support Windows ARM Devices"
Support Windows ARM Devices

[2021-07-25 16:24] akrsnr opened #13312 "No connection to 1434 port"
#### System information:
- Operating system (distribution) and version           windows 10
- DBeaver version                                                        21.1.3
- Additional extensions

#### Connection specification:
- Database name and version                                      sql server 2019
- Driver name                                                                com.microsoft.

[2021-07-25 20:57] LonwoLonwo commented on #11425
Fixed.

[2021-07-25 21:21] artgoldberg opened #13313 "Unable to connect from DBeaver on Mac to SQL Server that uses Active Directory authentication"
#### System information:
- Operating system: MacOS Big Sur: 11.2.3 (20D91)
- DBeaver version: 21.1.0.202106090921
- Additional extensions: none

#### Connection specification:
- Database name and version: Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
Sep 24 2019 13:48:23
Enterprise Edition: Core-based Licensing (64-bit) on Windows Server 2019 Standard 10.0 (Build 17763: ) (Hypervisor)
- Driv

[2021-07-26 00:53] hanulful commented on #1544
This drives me crazy.. (ver 21.0.4)

[2021-07-26 01:00] hanulful commented on #1544
Why don't you read "Smart commit mode" section
https://dbeaver.com/docs/wiki/Auto-and-Manual-Commit-Modes/

[2021-07-26 05:45] Matvey16 commented on #11425
Verified

[2021-07-26 05:45] #11425 closed, assigned to LonwoLonwo, Matvey16

[2021-07-26 06:05] marszysz commented on #13302
No problem.

https://user-images.githubusercontent.com/19807080/126940655-3a2abd45-430b-4b3b-8489-a1db7ae9b7eb.mp4

[2021-07-26 06:24] Matvey16 commented on #12812
Verified

[2021-07-26 06:24] #12812 closed, assigned to LonwoLonwo, Matvey16

[2021-07-26 06:41] Matvey16 opened #13315 "Double casting when saving custom types through data editor in PostgreSQL"
As described in issue [#12812](https://github.com/dbeaver/dbeaver/issues/12812#issuecomment-883272630) SQL query preview shows a double cast for custom data types.

[2021-07-26 06:50] flambchap commented on #12145
Fixed.

[2021-07-26 07:05] excal1bu7 commented on #1842
Not works actually.. i have only jdk and get error:
`java.lang.IllegalStateException: Unable to acquire application service. Ensure that the org.eclipse.core.runtime bundle is resolved and started (see config.ini).`
now i want to try download jre

upd: install jdk then reinstall dbeaver and then it works..

[2021-07-26 07:35] RewriteH commented on #1842
really.. not funny
![image](https://user-images.githubusercontent.com/57995626/126950613-c7dffeb1-1fc0-415e-a569-c9e030b53a63.png)

[2021-07-26 07:38] uslss commented on #13312
It is expected behaviour. DBeaver uses jdbc driver that needs tcp/ip connection enabled to connect to db. SMSS uses another protocol.

[2021-07-26 07:38] #13312 closed, assigned to nobody

[2021-07-26 07:55] uslss commented on #13313
@artgoldberg did you try to connect using e.g. SMSS?
Probably something Is going wrong with user settings
https://docs.microsoft.com/en-us/answers/questions/133709/login-failed-for-user-39lttoken-identified-princip.html

[2021-07-26 07:55] anderagakura commented on #13276
@Matvey16 That makes sense. Thanks for your help. I can close this issue. Best

[2021-07-26 07:55] #13276 closed, assigned to nobody

[2021-07-26 08:25] ShadelessFox commented on #13302
I was able to reproduce the issue. Thanks!

[2021-07-26 08:37] Matvey16 commented on #12145
Verified

[2021-07-26 08:37] #12145 closed, assigned to flambchap, Matvey16

[2021-07-26 08:51] wiwwo opened #13317 "Data grid color does not change after DB (type) change"
If you run a query in a "Production" DB (Connection settings, General, Connection Type), the datagrid db color gets red.
Great.
If you change connection (using the toolbar), select a "normal" DB, and execute the query again, the datagrid db color keeps being red.

MacOsX 11.4 (20F71)
DBeaver Version 21.1.2.202107041908

[2021-07-26 11:08] maffe commented on #13238
After creating the second column, do not press save, but click on the DDL tab.
![grafik](https://user-images.githubusercontent.com/515302/126979390-a1294020-1340-49bf-8846-b00755204e33.png)

[2021-07-26 11:44] mxgrim commented on #11260
actual
![изображение](https://user-images.githubusercontent.com/27305762/126983491-7df3eef1-21bf-4d66-853e-d393c1eb27a9.png)

[2021-07-26 12:30] uslss opened #13318 "Standard Eclipse shortcuts are overwritten by DBeaver extension"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.3

#### Describe the problem you're observing:
I experienced a minor bug when working with DBeaver inside Eclipse. The
feature (it's actually two of them) works great, and I really like it a
lot, but it seems to disable the Eclipse standard key combination
Alt-Left (Go back in history).
Every time I

[2021-07-26 13:15] cpinamtz commented on #6989
The issue persists. In this case with a Postgres connection with the official driver, `float8` and database's version 11.9.

https://user-images.githubusercontent.com/8851448/126995193-2e53d9d7-fa1c-4d52-99f7-d2a76ead98e4.mp4

[2021-07-26 14:14] wiwwo commented on #13317
As a quick note:
* It does work if you start the new connection by selecting the combo box
* It does change if you click on the combo box without changing anything.

Still, by just switching the connection and running the query, the color does not change

[2021-07-26 16:21] pablofuenzalidadf commented on #12582
How do I upgrade to those native tools?
I upgraded DBeaver to last version (21.1.3) but upgrading driver/libraries still gets me version 12.2 instead of 13.3.
Thank you in advance.
Sorry for newbie question.

Working on windows 10 pro 19042.1110 (x64)

[2021-07-26 18:58] xantari opened #13322 "IBMi DB2 / AS400 - Auto Generated / Auto Increment not correctly showing"
#### System information:
- Operating system (distribution) and version:
Windows 10 / 64bit
- DBeaver version:
21.0.1 and 21.0.2. Also verified issue in 6.0.0
- Additional extensions:
None

#### Connection specification:
- Database name and version:
com.ibm.as400.access.AS400JDBCDriver, jt400-10.5.jar (10.5)
- Driver name:
JT400 / com.ibm.as400.access.AS400JDBCDriver
- Do you use tunnels or proxies

[2021-07-26 20:12] LonwoLonwo commented on #13293
Hello @waterMeteors
I can download files from here https://dbeaver.io/eclipse-repo/plugins/
And "mvn package" works fine for me.
Please try again, it can be a temporary failure.
Also it can be some kind of proxy/firewall settings problem.

[2021-07-26 20:12] #13293 closed, assigned to nobody

[2021-07-26 20:14] LonwoLonwo commented on #12582
Hello @pablofuenzalidadf
This improvement will be available in Dbeaver 21.1.4 on 2021-08-02 [here](https://dbeaver.io). You can see it in the "Milestone" section of this page.

[2021-07-26 20:54] LonwoLonwo commented on #13322
Hello @xantari
Please add table DDL info for tests. I can't reproduce it for now for DB2 LUW.

[2021-07-26 21:59] xantari commented on #13322
This is for DB2 for IBMi, which is a different DB2 dialect then LUW and uses a different JDBC driver then the LUW version.

Here is the DDL:

[code]

[2021-07-26 22:51] artgoldberg commented on #13313
Thanks @uslss .  I'm using a Mac and "[SSMS is available only as a 32-bit application for Windows](https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver15)".  I started trying to use Azure Data Studio, but it doesn't support _Active Directory - Password_ authentication.

However, the document you reference provides a hint. While it's terribly writ

[2021-07-27 06:33] Matvey16 opened #13325 "Truncate option tool for table in context menu for Exasol"
We need to add a truncate option for tools in context menu. Right now it is missing for Exasol connections.

[2021-07-27 06:37] Matvey16 commented on #13317
@wiwwo Hello, thank you for the report. Can you clarify what do you mean when saying "changing the connection"
I understood it as picking another connection from this list in a tollbar. Did you mean something else?

![dbeaver_9qANMUKW6s](https://user-images.githubusercontent.com/82543000/127107361-d55d51b3-ba1f-4f9b-8fd2-d6ebb69a3256.png)

[2021-07-27 06:43] wiwwo commented on #13317
Hi!
Yes, that is what I mean.
Not sure it helps, I am connection to PG DBs.

[2021-07-27 07:25] Matvey16 commented on #13309
@2-5 Thank you for the report. We will look into it.

[2021-07-27 07:31] akrsnr opened #13326 "Error message is not complete"
Dbeaver doesn't show complete message as in ssms. Why ? Is there any settings for it or is it bug? It mustn't be specialized to ssms.

![1](https://user-images.githubusercontent.com/17342831/127113933-60b8ed11-aaec-4bb4-b052-8706cb21b132.jpg)
![2](https://user-images.githubusercontent.com/17342831/127113937-83b83045-d732-4b4d-b742-57b7a8ae27b6.png)

#### System information:
- Operating system (dis

[2021-07-27 07:45] LonwoLonwo commented on #13322
Ok, thanks for the bug report.

For AS400 DBeaver shows only what the driver gives. So maybe this is a driver issue.
We don't have a DB2 AS400 test environment for testing, unfortunately. Therefore we can't fix it now. Maybe someday.

[2021-07-27 08:20] uslss commented on #13317
#8081

[2021-07-27 08:39] flambchap commented on #7606
You can now download the official build from our website. Yahoo!

[2021-07-27 08:39] #7606 closed

[2021-07-27 08:44] ShadelessFox commented on #13326
Hello @akrsnr,

I believe this extra bit of information is provided by DBMS itself. In your case, I guess, it's SSMS.

In our case, we retrieve error messages from the driver, and they may lack some crucial parts like line numbers and procedure names.

[2021-07-27 08:46] LonwoLonwo commented on #9385
Hello @gwired2015
You can try to add filters in the "Edit connection" dialog for databases/schemas

![2021-07-27 11_41_57-DBeaver Enterprise 21 1 4 - _orcl_ Script-143](https://user-images.githubusercontent.com/45152336/127124621-eb23dd2b-17fd-427d-b009-3142b13dc98a.png)

Or use Database Navigator filters:
![2021-07-27 11_42_58-DBeaver Enterprise 21 1 4 - _orcl_ Script-143](https://user-images.git

[2021-07-27 08:48] flambchap commented on #13310
Unfortunately, there is no JDK build for Windows/AArch64 at the moment. Even if it existed, we wouldn't be able to build DBeaver against this target since the Eclipse platform does not support it yet. We need to wait for those two things to happen, and then we'll be able to support Windows/AArch64.

[2021-07-27 08:56] Matvey16 commented on #13307
@MichaelFishmanOD Hello, this is a normal Snowflake behavior to protect from SQL injections. This statement to create a function tries to run multiple statements and by default Snowlake limits statement count to 1. To execute it you either need to run the whole script with `Alt + X`, or if you don't want to execute the whole script, you need to firstly execute
`alter session set MULTI_STATEMENT_CO

[2021-07-27 09:52] #13317 closed, assigned to nobody

[2021-07-27 09:55] #13326 closed, assigned to nobody

[2021-07-27 10:14] LonwoLonwo commented on #8901
Hey @LendLord
You can try to use the "Search item(s)" field or Ctrl+F.

![2021-07-27 13_10_36-DBeaver Enterprise 21 1 4 - Track](https://user-images.githubusercontent.com/45152336/127137402-2dcac47e-1c9f-45ad-8a88-82c2349295b7.png)

[2021-07-27 10:18] LendLord commented on #8901
@LonwoLonwo I need such feature when viewing table data, not table columns.

[2021-07-27 10:42] ShadelessFox commented on #12417
Hello @KES777,

Can you provide minimal, environment-independent example to reproduce against?

I tried generating really long `EXPLAIN` output, but I was unable to reproduce your issue.

Also, what is the database version?

[2021-07-27 11:00] Matvey16 commented on #13322
@xantari This driver can be very sensitive to it's properties and changing their default values can fix some issues for some people, but break something for others. So my advice to you for now is to try carefully tweaking them (or first looking in the [documentation](https://www.ibm.com/docs/en/i/7.3?topic=ssw_ibm_i_73/rzahh/javadoc/com/ibm/as400/access/doc-files/JDBCProperties.html) for a needed

[2021-07-27 11:03] 2-5 commented on #13309
Screenshots:

![2021-07-27_140054](https://user-images.githubusercontent.com/3753822/127143595-a3a999e5-4969-4d1d-b08e-b2c5464ba68e.png)

![2021-07-27_140107](https://user-images.githubusercontent.com/3753822/127143616-28581674-a05b-42fc-85db-05e29d967c25.png)

[2021-07-27 11:35] Matvey16 commented on #13295
@JeroenNienhuis Thank you for the report

[2021-07-27 11:42] michal-bartak opened #13331 "Wrong value in decimal part of TIMESTAMP"
#### System information:
- Kubuntu 20.04
- DBeaver 21.1.3
- Additional extensions

#### Connection specification:
- Postgresql 12, Postgresql 9.5
- Postgres
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

Decimal part of TIMESTAMP and TIMESTAMPTZ is contains wrong values.

![image](https://user-images.githubusercontent.com/7868445/127147523-91122

[2021-07-27 11:47] Matvey16 commented on #13282
Can you attach a .log file so we can see an error that leads to this crash?

[2021-07-27 11:48] Matvey16 commented on #13282
@Sbudaland Can you attach a .log file so we can see an error that leads to this crash?

[2021-07-27 11:50] ShadelessFox commented on #13331
Hello @michalk-k,

I was unable to reproduce your issue:
![image](https://user-images.githubusercontent.com/35821147/127148754-a99cc46d-7c21-442c-a45e-5674295ab41d.png)

What's your date/time formatter settings? Is it disabled?

[2021-07-27 12:00] hms5232 commented on #7606
Saddly, Raspberry Pi OS is 32bit. It still can't run on PRi if you are using official OS.
Good news is that 64bit version RPi OS is in beta.

[2021-07-27 12:05] MichaelFishmanOD commented on #13307
@Matvey16 Thanks for the response! Changing this setting allows me to run the whole script, solving my practical issue.

However, there is still an issue with how DBeaver parses the sql. For most SQL statements, if I place my cursor on the statement and run it with `ctrl + enter`, DBeaver attempts to run that single statement. For this statement which creates `tempdb.aa_udtf_count_distinct_case_te

[2021-07-27 12:08] Matvey16 commented on #13331
@michalk-k You enter fractions of a second in your query, but the result is shown in milliseconds.
You need to either disable date/time formatting or change the pattern to show fractions instead of milliseconds

![dbeaver_ArO2WZerpY](https://user-images.githubusercontent.com/82543000/127150937-441491ea-2d03-4809-baba-e67960ee1270.png)
![dbeaver_8dW5vdyyz1](https://user-images.githubusercontent.com

[2021-07-27 12:09] wiwwo commented on #8081
Also, changing from a DB that has colors to one that does not have (Say, PROD to Development) does not "restore" the color to "blank"

[2021-07-27 12:11] michal-bartak commented on #13331
Thank you very much guys.
Verification of the configuration was great advice. Half an hour ago I wasn't aware it exist.. but someone (obviously me) had to change the default setttings, entering wrong pattern for fraction of seconds

![image](https://user-images.githubusercontent.com/7868445/127149449-01e75b94-f38a-4994-8142-864e86d7738e.png)

I changed it to ffffff and now it works as correctly.
I

[2021-07-27 12:18] #13331 closed, assigned to nobody

[2021-07-27 13:25] Matvey16 commented on #11973
Verified

[2021-07-27 13:25] #11973 closed, assigned to ShadelessFox, Matvey16

[2021-07-27 13:26] optik-aper commented on #13318
I don't normally use the Eclipse plugin but the full installation has that binding.  I did install Eclipse and the plugin.  I still see the keybinding.  Perhaps there are some more specifics about what you're doing?  Have you removed the plugin and if so, does the binding remain?

[2021-07-27 13:40] xantari commented on #13322
@Matvey16 Thanks, I did some experimentation and found a result that does show the auto increment properties properly. But then it messes up the column retrieval information.

Here is what I had:
1. metadata source: 0
2. translate binary: true
3. date format: iso
4. time format: iso
5. extended metadata: false

With the above settings you get the column names in addition to the column text underne

[2021-07-27 14:09] xantari commented on #13322
So a bit more experimentation.

Used the following driver properties:

metadata source: 1
translate binary: true
date format: iso
time format: iso
extended metadata: true

When I have this unmarked:

![image](https://user-images.githubusercontent.com/6610039/127168527-361c6e8e-b3d9-4205-b22d-685a480d7051.png)

I get this:

![image](https://user-images.githubusercontent.com/6610039/127168448-40f38c

[2021-07-27 14:10] Matvey16 commented on #12636
Verified

[2021-07-27 14:10] #12636 closed, assigned to ShadelessFox, Matvey16

[2021-07-27 14:48] VladimirVarnakov opened #13334 "Error "Invalid method name: 'OpenSession' " when connecting to HIVE"
Error "Invalid method name: 'OpenSession' " when connecting to HIVE(impala) server.
Automatically downloaded driver is used for the connection. Also, I tried to use a standalone apache hive driver 3.1.2 but had the same error.
![image](https://user-images.githubusercontent.com/18036078/127176326-024ef724-90ff-4c98-8d1f-4bd7fc8c3ba1.png)
Connection settings:
![image](https://user-images.githubuserc

[2021-07-27 14:49] xantari opened #13335 "Column labels are not showing on IBMi / DB2 / AS400 JDBC driver"
#### System information:
- Operating system (distribution) and version:
Windows 10 / 64bit
- DBeaver version:
21.0.1
- Additional extensions:
None

#### Connection specification:
- Database name and version:
com.ibm.as400.access.AS400JDBCDriver, jt400-10.6.jar (10.6) - Latest available as of this bug report
- Driver name:
JT400 / com.ibm.as400.access.AS400JDBCDriver
- Do you use tunnels or proxies

[2021-07-27 14:50] xantari commented on #13322
Closing this in favor of #13335 since the original issue this report is about is fixed, but a separate issue has now cropped up.

[2021-07-27 14:50] #13322 closed, assigned to nobody

[2021-07-27 15:25] KES777 commented on #12417
@ShadelessFox :

How many megabytes?

PostgreSQL v13.1

[2021-07-27 15:34] ShadelessFox commented on #12417
It was around 10 MiB. I was testing on PostgreSQL 12.0

[2021-07-27 15:42] ShadelessFox commented on #8760
Fixed generator which allows you to create `SELECT .. FROM .. IN` statement from selected rows:

![image](https://user-images.githubusercontent.com/35821147/127184493-2969243a-377d-4a18-9c04-06b763c9696f.png)

It uses PKs in the `IN` clause. You can create a separate FR to support using arbitrary columns in the `IN` clause.

[2021-07-27 18:14] serteikas opened #13336 "How to automatically create Hypertables in TimescaleDB?"
Wrong directory

[2021-07-27 18:20] #13336 closed, assigned to nobody

[2021-07-27 18:27] jetzerb opened #13339 ""Execute SQL Statement" on vertical/block selected text executes code outside the selection"
#### System information:
- Windows 10
- DBeaver 21.1.3
- No additional extensions

#### Connection specification:
- N/A

#### Describe the problem you're observing:
When I make a vertical/columnar/block selection in the SQL Editor (via `Ctrl+Shift+A`), and then "Execute SQL Statement" (via `Ctrl+Enter`) to execute that block of text, DBeaver fails to exclude text outside the selected region except

[2021-07-27 20:19] shaykr commented on #10470
Can you post a link to the PKG version?

[2021-07-28 04:56] deepaksenthilkumar commented on #11425
We built this from the developer branch and I tried to import an excel file with 1.5 Million records and 3 columns (for Redshift)

col1 varchar(180)
loaddate varchar(18)
cnt (int4)

In 26 minutes, it only imported 30k records, while it is faster than a single row insert, it is still relatively very slow.

[2021-07-28 07:13] Matvey16 commented on #13295
Verified

[2021-07-28 07:13] #13295 closed, assigned to ShadelessFox, Matvey16

[2021-07-28 07:19] uslss commented on #12512
verified

[2021-07-28 07:19] #12512 closed, assigned to uslss, ShadelessFox

[2021-07-28 07:20] uslss commented on #12464
verified

[2021-07-28 07:26] #13182 closed, assigned to nobody

[2021-07-28 07:56] LonwoLonwo commented on #12417
A text field has a limit, this is expected behavior. You can change it in Preferences:

![2021-07-28 10_53_46-Window](https://user-images.githubusercontent.com/45152336/127285699-8aee6b2c-a294-41b2-9b70-f4aeaef81263.png)

[2021-07-28 07:57] uslss commented on #9620
is it still actual?

[2021-07-28 08:00] LonwoLonwo commented on #12417
If the value panel works fine and the problem is just in the cell capacity, so maybe you can track the line number on which the copied value is broken?

![2021-07-28 10_57_07-Window](https://user-images.githubusercontent.com/45152336/127286265-e206a65c-4fa1-4ef5-a7fb-d473bb07e6c9.png)

[2021-07-28 08:18] LonwoLonwo commented on #13120
Hello @hahacyd

And what driver do you use?
Also, can you show your table DDL?

[2021-07-28 08:40] JeroenNienhuis opened #13342 "Not enough information to select an SQL from "Open SQL script" window"
#### System information:
- Operating system (distribution) and version: Windows
- DBeaver version: 21.1.3

#### Connection specification:
- Database name and version: Postgres

#### Describe the problem you're observing:
When opening an SQL script using F3, there opens a small window like
![afbeelding](https://user-images.githubusercontent.com/51078213/127287155-1b50e967-070b-4838-a57e-abc940576fe

[2021-07-28 08:46] sumibio opened #13343 "Crash when entering multibyte numbers into the query editor."
If you enter characters such as "０" and "１", it will crash, so I will report it.

- Operating system (distribution) and version
macOS Big Sur 11.5
- DBeaver version
21.1.3

DBeaver 21.0.0 doesn't seem to have any issues

Google Translate.

[2021-07-28 08:50] Matvey16 opened #13344 "Invalid SQL statement generated for a table without a primary key"
In addition to a feature added in #8760 it would be better to somehow warn the user that generated `SELECT .. WHERE .. IN` statement would be invalid if the table does not have a primary key.

[2021-07-28 08:51] Matvey16 commented on #8760
Verified with a possible enhancement #13344

[2021-07-28 08:51] #8760 closed

[2021-07-28 08:59] uslss commented on #13343
@mizukamiyuta what database do you use? please provide query you use. Table DDL also will be helpful

[2021-07-28 09:02] ShadelessFox commented on #13344
Or we can use selected columns instead of keys.

[2021-07-28 09:18] sumibio commented on #13343
@uslss
The database mainly uses Postgresql and Redshift, but I think it happens regardless of this.
The application freezes the moment you enter "０" in the editor.
I think it can be reproduced by copying and pasting.

[2021-07-28 09:28] ShadelessFox commented on #12600
Hello @morgan-zylotech,

It's not bash, so you can't use `&&` and other operators.

Instead, you can use following approach:

[code]

[2021-07-28 09:30] Matvey16 commented on #13343
@mizukamiyuta thank you for the report. I preproduced it in the latest version.

[2021-07-28 09:41] Matvey16 commented on #13343
@mizukamiyuta Can you add what encoding is used for this characters

[2021-07-28 09:42] flambchap commented on #10470
@shaykr We don't build PKG versions anymore. However, the dmg version works ok with Rosetta 2.

[2021-07-28 10:09] sumibio commented on #13343
@Matvey16
UTF8 in my settings.

[2021-07-28 10:18] panla commented on #13154
close it?

[2021-07-28 10:40] Matvey16 commented on #13154
@panla no, we will work on it in 21.2.1 version

[2021-07-28 10:40] uslss commented on #13275
@PovilasC do you use SSH?
If yes, please check Save password option at SSH properties
![image](https://user-images.githubusercontent.com/31996417/127309134-92c20db1-90ec-470c-a34e-d3da66421a03.png)

[2021-07-28 10:51] Matvey16 opened #13345 "References panel in wiki"
We need to add information about references panel into our wiki page about panels
https://github.com/dbeaver/dbeaver/wiki/Panels

[2021-07-28 10:55] flambchap commented on #12718
The auto-complete shortcut doesn't work in the SQL editor as well. That's because it conflicts with the system shortcut (CTRL+SPACE BAR). We can't change this shortcut, however, because users of other operating systems will be affected, and that just sucks. I believe that we need to introduce a new separate keymap for macOS. This solution also sucks, but that's better than other alternatives. Life

[2021-07-28 10:59] goxr3plus opened #13346 "Importing from CSV some text characters are replaced by `?`"
#### System information:
- Windows 10 / 2021 May Update
- DBeaver version - 21.1.3

#### Connection specification:
- Database name and version
- Driver name
![image](https://user-images.githubusercontent.com/20374208/127311026-95e76384-f823-4524-8e2f-5ef98dcb31fa.png)

- Do you use tunnels or proxies (SSH, SOCKS, etc)?
 **Nope it's locally**

#### Describe the problem you're observing:

I am impor

[2021-07-28 11:07] ShadelessFox commented on #13346
Hello @goxr3plus,

The issue may be with database encoding. Make sure you're using suitable encoding in both CSV importer and your table.

[2021-07-28 11:21] JeroenNienhuis opened #13347 "In data-grid: copy value from cell above"
When editing data in a grid, it would be handy if it is possible to copy the value from the cell above (e.g. like Ctrl-D in some spreadsheets).
The alternative is moving cursor and use Ctrl-C and Ctrl-V (4 keystrokes instead of 1)

[2021-07-28 11:44] JeroenNienhuis opened #13348 "extra filter option "is distinct from""
When right clicking on a cell value in a grid it is possible to select from a number of options. One handy option is missing: "IS DISTINCT FROM" (is at least Postgres syntax)
![afbeelding](https://user-images.githubusercontent.com/51078213/127315544-bda82af3-ac90-4e92-88e0-a4dac1b2063c.png)
The closest you can get is e.g. hoofdgebied <> 'ED' this selects all non-NULL values unequal to 'ED'. When u

[2021-07-28 12:01] goxr3plus commented on #13346
I am using this default encoding for my database

![image](https://user-images.githubusercontent.com/20374208/127318717-f1e1f0ad-7f35-45ad-a5fd-944d114a0b97.png)

Do you recommend another encoding ?

@ShadelessFox

[2021-07-28 12:05] goxr3plus commented on #13346
I just tried utf-8 and  ascii on the importer but still the problem is there .

![image](https://user-images.githubusercontent.com/20374208/127319318-e10f36e1-ea69-490e-a8e4-9dfad7286efd.png)

[2021-07-28 12:08] Matvey16 opened #13349 "NULL fields in varchar or text sub columns of composite types are shown as empty strings"
#### System information:
- Operating system (distribution) and version Win 10
- DBeaver version 21.1.4

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:

[code]
**Expected:** NULLs in empty fields
**Actual:** Empty Strings in empty fields

![dbeaver_hHmbtEYXLP](https://user-images.githubusercontent.com/82543000/127319564-d651ddd5-cb4c-47b0-a

[2021-07-28 12:10] ShadelessFox commented on #13346
Encoding looks OK. Strangely enough, with the same setup I was able to successfully import data containing unicode characters.

Try adding `-Dfile.encoding=UTF-8` just after `-vmargs` in dbeaver.ini located in DBeaver's root directory.

https://github.com/dbeaver/dbeaver/wiki/Command-Line#system-parameters

[2021-07-28 12:26] ShadelessFox commented on #13349
https://www.postgresql.org/docs/current/rowtypes.html#id-1.5.7.24.6

[2021-07-28 12:31] bdietz400 commented on #13322
You may be able to get a free IBM i account at https://pub400.com/.

[2021-07-28 12:34] goxr3plus commented on #13346
You tried with my attached .zip and UTF-8 encoding on the import ?

```Try adding -Dfile.encoding=UTF-8 just after -vmargs in dbeaver.ini located in DBeaver's root directory.```

Like this ?

![notepad_2021-07-28_15-32-29](https://user-images.githubusercontent.com/20374208/127322867-1bed2b8b-3071-4a99-8838-4ce4af796b64.png)

[2021-07-28 12:34] LuckyPickleZZ opened #13350 "undefined variable object.dataSource"
#### System information:
- Operating system (distribution) and version
   OS=macosx, ARCH=x86_64, WS=cocoa, NL=zh_CN_#Hans
- DBeaver version
  org.jkiss.dbeaver.core 21.1.3.qualifier
- Additional extensions
  Custom plugin

#### Describe the problem you're observing:
  When I put visible if in the first folder tag, an error will be reported. But not in the back. How should this be solved?
[code]

[2021-07-28 12:35] ShadelessFox commented on #13348
Hello @JeroenNienhuis,

Unfortunately, I don't think it deserves its own option in the filter menu.

The syntax `IS DISTINCT FROM` is not widely supported across databases.

As a workaround, you can define custom criteria for a column: https://github.com/dbeaver/dbeaver/wiki/Data-Filters

[2021-07-28 12:42] ShadelessFox commented on #13346
Actually, I missed the attachment, my bad.

I was able to reproduce your issue and found several workarounds:
1. Your file is encoded in extended ASCII, also known as `latin1`. You can specify `latin1` as encoding in CSV importer.
2. You can convert file encoding to UTF-8.

Using these approaches, you don't have to edit `dbeaver.ini` file.

[2021-07-28 12:51] goxr3plus commented on #13346
@ShadelessFox

Excellent thank you a lot !!!!!!!!!!

=> I tried 1 and it worked.

=. I tried changing the encoding of the csv using Notepad++ to UTF-8 and then the encoding on the csv formatter was utf-8 but still the same problem .

As far as way 1 works i am fine :).

[2021-07-28 12:55] ShadelessFox commented on #13346
Just a note: in case of Notepad++, you need to use <kbd>Convert to UTF-8</kbd> option rather than <kbd>UTF-8</kbd>:

![image](https://user-images.githubusercontent.com/35821147/127325260-e0dcbd3e-fec9-47ea-93a6-e8db15677a09.png)

[2021-07-28 12:56] tati-kru commented on #13284
Thanks for the idea!

[2021-07-28 12:57] ShadelessFox commented on #13346
I will close this issue because it's now resolved. You're still able to add comments here.

[2021-07-28 12:57] #13346 closed, assigned to nobody

[2021-07-28 12:58] bdietz400 commented on #13335
To assist in testing on an IBM i server, you may be able to get a free IBM i account at https://pub400.com/.

[2021-07-28 13:08] morgan-zylotech commented on #12600
I've tried multiple iterations of the above without any luck (bash, shell etc). It's possible that my expectations are off but I would expect that with the command pasted above, the window would echo `hello world` and it does not where as the non bash version does.

![bash-test-2](https://user-images.githubusercontent.com/70210123/127327011-b34392f4-af27-4397-b56a-368fb1778fe1.png)

![bash-respons

[2021-07-28 13:16] ShadelessFox commented on #13350
Hello @LuckyPickleZZ,

Data source is not available at this point.

Navigator is trying to determine whether connection has any children (in your case it's `OceanbaseMySQLCatalog`) by evaluating your expression, but connection is not opened and thus no data source is present.

[2021-07-28 13:20] ShadelessFox commented on #13350
You can take look at [DBXTreeNode#makeContext](https://github.com/dbeaver/dbeaver/blob/devel/plugins/org.jkiss.dbeaver.model/src/org/jkiss/dbeaver/model/navigator/meta/DBXTreeNode.java#L344-L370) and extend it to fit your needs.

[2021-07-28 13:25] ShadelessFox commented on #12600
My solution works for me (at least on Windows using WSL):

![image](https://user-images.githubusercontent.com/35821147/127329813-3361ffbb-3a46-4d31-9540-d07632f34da4.png)

Can you try executing the same command in your terminal to see if it even works?

You can also try enabling <kbd>Wait For Process To Finish</kbd>.

[2021-07-28 13:48] morgan-zylotech commented on #12600
Here is my OS info

[code]

No dice via dBeaver, even with `wait for process to finish` checked and 10000ms added for the timeout.
I've also added 10000ms to the `pause after execute` to no avail.

`/usr/bin/sh -c 'echo hello && echo world'` in a terminal does indeed work as expected as does `/usr/bin/bash -c 'echo hello && echo world'`

As I am not familiar with the code, I am just hazarding a gu

[2021-07-28 14:05] Matvey16 opened #13351 "Incorrect script is shown when editing composite columns with disabled "Show complex columns structure""
#### System information:
- Operating system (distribution) and version Win 10
- DBeaver version 21.1.4

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:

[code]
1. Change some data in a composite column and look at the generated script (shown query has incorrect syntax and can't be executed in SQL editor)
2. Persist changes and look at the q

[2021-07-28 14:06] Matvey16 commented on #13351
Can be related to #13102

[2021-07-28 14:17] ShadelessFox commented on #12600
Nope, the exception is not interfering the command output.

We will need to test this behavior on Linux, maybe there's OS-dependent issue.

[2021-07-28 14:18] Matvey16 opened #13352 "Can't set a numeric sub column field to NULL with disabled "Show complex columns structure""
#### System information:
- Operating system (distribution) and version Win 10
- DBeaver version 21.1.4

#### Connection specification:
- Database name and version PostgreSQL

#### Steps to reproduce, if exist:

1. Create a composite data type that has a numeric sub column
2. Create a table with that data type
3. Fill the data
4. Change some of the sub columns value to null and try to save

**Expec

[2021-07-28 14:19] Matvey16 commented on #13352
Related #13349

[2021-07-28 14:38] Barhobbit18 commented on #9467
same issue

have the same issue. readonly user works, but mon_role giving this issue.

[2021-07-28 14:52] #13350 closed, assigned to nobody

[2021-07-28 15:30] artgoldberg commented on #13313
Hello @uslss .
Is it possible to configure DBeaver running on a Mac to connect to an SQL Server instance that uses Active Directory authentication? Have your users achieved this, and, if so, how have they configured the DBeaver, rights on the SQL Server instance, and the user's Active Directory entry?

Thanks
Arthur

[2021-07-28 15:47] baurbr commented on #5317
Hopefully this will be solved

[2021-07-28 16:12] flambchap commented on #11975
I need to clarify the nature of the problems.

StR.
1. Open data editor for the table above.
2. Add a new row. The row with 3 `null` values appears on the grid.
3. Double-click on the `mood` cell. Enum cell editor opens. The default value (`sad`) is set.

Issue 1: Click on some other cell on the grid. The cell editor closes, but the cell still has the value `null`.
Issue 2: Click on some part of t

[2021-07-28 22:52] jstorch commented on #2054
I came here searching how to turn this on and am amazed there is not already an option to enable toggle "Link with Editor" as others here has stated. I believe this to be a very dangerous bug/omission.  After spending **years** in Eclipse & SQLServer's query tools, switching the current text editor and having the Navigator/Explorer follow along with it is second nature.
And now with DBeaver have i

[2021-07-29 00:25] 1000heads-luke commented on #4250
Not perfect, and my first swing at interrogating the Postgres information_schema, but I built a basic query which gave me a jumping off point for creating a data dictionary from an existing database.

[code]

Might be handy for anyone else looking for the same.

[2021-07-29 06:26] wiwwo opened #13355 "[CLARIFICATION] PG locked with only selects executed"
Opening a PG connection (NO autocommit, read committed mode) and just issuing a select locks a DDL in a psql session.
Maybe not  bug, but for sure a very strong behavior.

Also, and I highlighted this before, setting a connection to "Development" database, which implies "AUTO-COMMIT" (it is set so, no custom change), still connects with manual commit/read committed (in the combo box).

What am I d

[2021-07-29 06:38] wiwwo commented on #13355
Correction.
Isolation level is taken by "How you set it last time", which is even more confusing since If I work on DEV DB, than close DBeaver, than open it again and work on prod, if I don't remember to switch i am in autocommit mode. Disaster...

[2021-07-29 06:48] Matvey16 commented on #13231
https://github.com/dbeaver/dbeaver/wiki/Variables-panel

[2021-07-29 06:58] Matvey16 commented on #12339
@echan888 Can you look at the query manager to see what is taking so long?

[2021-07-29 07:22] wiwwo commented on #12120
MacOsX... every time I open DBeaver... At least, annoying :D
Version 21.1.2.202107041908

<img width="254" alt="image" src="https://user-images.githubusercontent.com/3930671/127449223-dda76bec-bf41-4870-8659-329b2025dc94.png">

[2021-07-29 07:44] Matvey16 commented on #13029
@icegood while we are looking for a solution can you try deleting `/home/user/.local/share/DBeaverData/drivers/maven/maven-central/org.xerial` and redownloading the driver. Also have you tried executing SQL statements on other databases other than SQLite and does this happen only in SQL Editor or the same error appears when you try to open a table in data editor?

[2021-07-29 07:48] LonwoLonwo commented on #12786
![2l7LrcrXdy](https://user-images.githubusercontent.com/45152336/127448167-78a9de70-4bb1-4164-ab18-0aacb5516629.gif)

Implemented in DBeaver 21.1.4

Now we are using "INSERT INTO tableName DEFAULT VALUES" for an empty row with all default value cells.

[2021-07-29 08:17] flambchap commented on #11917
Fixed.

[2021-07-29 08:20] flambchap commented on #11975
Fixed the first issue. The second one needs to be extracted into a separate ticket with `xp:minor` label.

[2021-07-29 08:21] LonwoLonwo commented on #13313
Hello @artgoldberg
You have SQL Server database and driver, but also you have Azure drivers.
Have you tried to use the Connection dialog for Azure Database?

![2021-07-29 11_20_58-Connect to a database](https://user-images.githubusercontent.com/45152336/127457645-10a68479-4a4f-4507-8641-4beeeb22ad63.png)

![2021-07-29 11_21_09-DBeaver Ultimate 21 1 4 - NewTable](https://user-images.githubuserconte

[2021-07-29 08:41] flambchap commented on #11268
Does SET ROLE 'MY_ROLE' statement appear in the [query manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager) when you connect to the database? Make sure to tick "Utility functions" before checking that. I also want to ask you to send [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files) which would be very helpful. Thank you.

[2021-07-29 08:52] Matvey16 commented on #12734
Verified

[2021-07-29 08:52] #12734 closed, assigned to ShadelessFox, Matvey16

[2021-07-29 09:25] Rangorca opened #13357 "A display issue with the character "{"."
There is a display issue with the character "{".

Please see
select regexp_split_to_array('ab,c', ',')
![image](https://user-images.githubusercontent.com/25958217/127467328-36d517a7-eb00-4bb0-b2f6-6a8897892ae4.png)

select regexp_split_to_array('a{b,c', ',')
![image](https://user-images.githubusercontent.com/25958217/127467267-bbf009ed-b5bd-4d45-8b51-58edfebc3068.png)
The array shows that it will

[2021-07-29 09:26] Matvey16 opened #13358 "Renaming a column for new table in different tab creates unnecessary dialog window"
#### System information:
- Operating system (distribution) and version Win 10
- DBeaver version 21.1.4

#### Steps to reproduce, if exist:
1. Copy a table with copy paste
2. Before persisting changes rename a column in new table in a different tab
3. Save changes on a table tab.

**Expected:** Changes are saved for both tabs
**Actual:** Window appears asking if you want to revert changes made to a

[2021-07-29 09:27] Matvey16 commented on #11917
Verified
#13358 New related issue opened

[2021-07-29 09:27] #11917 closed, assigned to flambchap, Matvey16

[2021-07-29 09:33] LonwoLonwo opened #13359 "Transparent use of zero values in cells during insertion or update."
When working with table cells, there are situations when we would like to insert exactly zero(NULL), but the DBeaver does not provide us with such an opportunity. For example, this happens if the columns have default values.

The insertion of zeros should be more transparent.

![2021-07-29 11_55_59-DBeaver Ultimate 21 1 4 - DefaulTValuesTest](https://user-images.githubusercontent.com/45152336/1274

[2021-07-29 09:45] uslss opened #13360 "Support of the INSERT with default and non-default values"
#### System information:
- Operating system (distribution) and version win 10
- DBeaver version 21.1.4

#### Describe the problem you're observing:
the side-effect of the #12786 .
we need to support Insert for rows that contains default and non-default values. for now it is fails with an error:
[code]
Table DDL:

[code]

[2021-07-29 09:46] uslss commented on #12786
verified. Related issue is created.

[2021-07-29 09:46] #12786 closed, assigned to uslss, LonwoLonwo

[2021-07-29 09:48] #13231 closed, assigned to uslss, Matvey16

[2021-07-29 10:00] Matvey16 commented on #11975
Verified

[2021-07-29 10:00] #11975 closed, assigned to flambchap, Matvey16

[2021-07-29 11:05] #13234 closed, assigned to LonwoLonwo, Matvey16

[2021-07-29 11:53] JeroenNienhuis commented on #13348
...but the context-menu item
"[field] IS DISTINCT FROM [value]"
can be used to add sql snippet
" ([field] <> [value] OR [field] IS NULL) "
and that is widely used syntax.

[2021-07-29 12:00] ShadelessFox commented on #13348
I got your point. The problem is that there's other alternatives to this syntax: https://stackoverflow.com/a/18684859

So I'm not sure which alternative is correct.

[2021-07-29 12:42] JeroenNienhuis commented on #13348
The code snippets on https://stackoverflow.com/a/18684859 are better (more complete) than what I suggested.

The cell where you right-click to get the filter-context menu contains either NOTNULL or NULL. When a=column and b=cell-value and b=NOTNULL, then the text
((a <> b OR a IS NULL OR b IS NULL) AND NOT (a IS NULL AND b IS NULL))
can be simplified to
(a <> b OR a IS NULL)
if b=NULL then it can

[2021-07-29 13:10] ShadelessFox commented on #13348
It makes sense now, thanks for the explanation!

[2021-07-29 13:37] Matvey16 opened #13365 "Editing BLOB values in separate editor doesn't save changes"
#### System information:
- Operating system (distribution) and version Win 10
- DBeaver version 21.1.4
- Maria DB

#### Steps to reproduce, if exist:
1. Press <kbd>Shift + Enter</kbd> on a BLOB value
2. Add something in hex editor and save changes
3. Try to save changes in data grid

**Expected:** Changes can be saved
**Actual:** Data grid doesn't show any changes and can't be saved

![DT8pns5UeA]

[2021-07-29 13:38] GooBall commented on #2054
@jstorch Your experience mirrors mine exactly.

That said, coloured tabs are possible, or to be more precise, coloured windows are possible.

If you go to "Edit connection" -> "General" you can set a "Connection type". https://dbeaver.com/docs/wiki/Connection-Types/

This lets you use/create presets with both a colour and also custom transaction commit behaviour.
I have default everything for dev,

[2021-07-29 13:47] Matvey16 commented on #13365
#12614

[2021-07-29 13:47] #13365 closed, assigned to nobody

[2021-07-29 13:58] DariaMarkaryan opened #13367 "Derby: Click on the BLOB in data grid throws an error"
#### System information:
- Win10, DBeaver CE 21.1.4

#### Connection specification:
- Derby server
- Driver version 10.15.1.3

#### Describe the problem you're observing:
Any attempt to open the blob results in error. I tried changing the commit modes, but the problem persists
![image](https://user-images.githubusercontent.com/43252954/127505084-8cfe597e-6b13-4db2-a6d5-329642b46cf6.png)

#### Incl

[2021-07-29 14:22] thyringer opened #13368 "DBCException: Error converting string to composite type (PostgreSQL)"
DBeaver – Version 21.1.3.202107181810 (under Linux / Ubuntu) – fails to display composite data type values in a PostgreSQL database. This error affects the display within the table view as well as with select queries:

![Screenshot_20210729_161757](https://user-images.githubusercontent.com/30962753/127508757-926b0239-e327-4bc9-ad66-1158156aa44f.png)

![Screenshot_20210729_162009](https://user-imag

[2021-07-29 14:39] artgoldberg commented on #13313
Thanks @LonwoLonwo

No, I've not tried an Azure database. But I have no problem using **SQL Server Authentication** to access SQL Server, so I do not need to try that. The key challenge here is to get **Active Directory authentication** working.

What do you think Serge @serge-rider ?

Thanks
Arthur

[2021-07-29 15:37] douglasdtc commented on #11899
@serge-rider  , as suggested in the other issue (https://github.com/dbeaver/dbeaver/issues/5353), we can provide a test enviroment with a Cache Server with the minimum setup to reproduce this behaviour if you would like to.

[2021-07-29 15:42] LonwoLonwo commented on #13313
https://github.com/dbeaver/dbeaver/issues/4990

[2021-07-29 15:43] echan888 commented on #12339
Hi @Matvey16 , the query manager doesn't show much. just the query that was executed.

![image](https://user-images.githubusercontent.com/83606824/127522061-2c153881-d292-4c0f-b084-4012ece7b388.png)

What I notice is that when it is loading the data type cache to fetch the records, there is an entry in the error log for each column in the table that states "Catalog view 'table_types' is not suppor

[2021-07-29 19:04] artgoldberg commented on #13313
Thanks @LonwoLonwo , I've tried #4990 and it didn't work.

However, colleagues of mine enabled connection from DBeaver on Mac to SQL Server by using Kerberos to access the Active Directory authentication. It's complicated. I can provide details if you like.

[2021-07-29 19:13] LonwoLonwo commented on #13313
Yes @artgoldberg
It will be very helpful!

[2021-07-29 23:21] mdahlman commented on #2925
I'd like to re-open this topic. For me the behavior is like Petr Vanek suggests. For example:

1. I make a brand new connection to a PostgreSQL server.
2. I execute "begin;"
Expected: A transaction is started.
Actual: A transaction is started. (good!) I can see it in the green transaction count field.
Also: the output window displays "there is already a transaction in progress" (this is bad). I ju

[2021-07-29 23:44] p91paul commented on #2925
issuing rollback from the sql editor does rollback the transaction, however dbeaver is not yet smart enough to know you issued a rollback and so it should reset transaction count.
Also, dbeaver automatically starts a transaction when you issue any statement, which is why you get that warning in the output window when you issue the "begin" statement (you are not supposed to).
Anyway, if you want to

[2021-07-30 05:17] erlangparasu opened #13371 "dbeaver causing error: too many open files"
i need to restart mysql server to fix this problem.

[2021-07-30 06:40] DariaMarkaryan opened #13372 "Task creation: target tables become the same if the same source table was selected"
#### System information:
- Win10, DBeaver CE 21.1.4

#### Connection specification:
- Derby server

#### Steps to reproduce, if exist:
Start task creation. Choose import task. Choose 2+ target tables. Select Table import format. Select same source table fo different target tables:
![image](https://user-images.githubusercontent.com/43252954/127611302-5af440c8-f546-4fa8-b044-176492aac9f5.png)
At the

[2021-07-30 08:28] abij opened #13374 "Fetch limit not used for Databricks (simba-spark driver)"
#### System information:
- Windows 10
- DBeaver CE 21.1.3
- [Databricks driver](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/dbeaver)

#### Connection specification:
- Databricks Cluster (Runtime 8.4)
- New driver added: Databricks. Tried 2 driver types: Generic/Hive
- No tunnels / proxies

#### Describe the problem you're observing:

The Fetch Size limit is not used (appended to th

[2021-07-30 08:53] qiqingli opened #13375 "Wrong formatting for CASE WHEN statement"
#### System information:
- Operating system (distribution) and version：macOS Big Sur 11.5
- DBeaver version: 21.1.3

#### Connection specification:
- Database name and version: MySQL 5.7.36
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/20805098/127627974-96e8c55f-eaf0-43aa-8ba0-d9dabc364855.png

[2021-07-30 09:15] ghYura commented on #11345
Also, please, implement text assertional limitations against intentional malicious delusion input such cases as:
actual KEY : text VALUE depicted in cell for this mode

...

...

...

in case insensitive text and any similar characters from other non-english language alpabets or Latin extended/Latin-1 Supplement characters i.e. 'tяие', 'truè' and spaces/underscores/special (group or combination of

[2021-07-30 10:51] ShadelessFox commented on #13372
I believe the mappings also were copied.

[2021-07-30 11:03] abij commented on #13374
I noticed a difference between Hive SQL and Spark SQL:
- Hive has limit, offset: https://cwiki.apache.org/confluence/display/Hive/LanguageManual+Select#LanguageManualSelect-LIMITClause
- Spark only has limit: https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select.html
  - Suggestions & PRs are made to add offset feature: https://issues.apache.org/jira/browse/SPARK-28330 but it;s suspended

[2021-07-30 12:09] DariaMarkaryan opened #13377 "Another record is shown in record mode if the creation of a new one was canceled"
#### System information:
- DBeaver 21.1.4

#### Describe the problem you're observing:
open one row in record mode. Click add new row btn. Click Cancel btn -> another record is shown at the place where we tried to create a new one

https://user-images.githubusercontent.com/43252954/127650809-c11b25cf-9495-47af-b259-8773cddb304b.mp4

[2021-07-30 12:49] tatod opened #13379 "triggers not shown in view explorer"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04.2 LTS
- DBeaver version: Version 21.1.3.202107181810
- Additional extensions : n/a

#### Connection specification:
- Database name and version: Oracle Oracle Database 12c EE Extreme Perf Release 12.1.0.2.0 - 64bit Production
- Driver name: Oracle JDBC driver 19.6.0.0.0
- Do you use tunnels or proxies (SSH, SOCKS,

[2021-07-30 14:01] ShadelessFox opened #13380 "Data Formats: Verify its properties before saving"
We should verify properties of data formatter before allowing to save it, otherwise it may lead to some unexpected errors.

#### Steps to reproduce, if exist:
1. Go to <kbd>Preferences</kbd> &rArr; <kbd>Editors</kbd> &rArr; <kbd>Data Editor</kbd> &rArr; <kbd>Data Formats</kbd>
2. Choose  <kbd>Timestamp</kbd>
3. Try changing <kbd>Timezone</kbd> property to some invalid value

**Expected**:
Some kin

[2021-07-30 14:12] LonwoLonwo commented on #13379
Thanks for the bug report!

[2021-07-30 14:18] tati-kru commented on #11899
@douglasdtc it would be great! Could you please send all details to support@dbeaver.com?

[2021-07-30 14:38] ShadelessFox commented on #11690
Hello @christopheblin,

You can use UUID formatter with <kbd>UUID type</kbd> &rArr; <kbd>Version2</kbd>:

![image](https://user-images.githubusercontent.com/35821147/127669313-1a1c831e-8ac2-4b1f-bc67-ea1dc3aec684.png)

https://dbeaver.com/docs/wiki/Data-View-and-Format#transforming-data-presentation

[2021-07-30 14:58] tnatanael commented on #8476
+1 THIS FEATURE IS A MUST HAVE PLEASE LOOK INTO THIS s2

[2021-07-30 15:18] christopheblin commented on #11690
I am not working with oracle and c#, however I'm still using dbeaver for postgres :)

Currently, in the View format menu, I only have default / binary / geometry / URL

So maybe this is something only availble on a RAW column in oracle and I cannot see it wit postgres ?

[2021-07-30 15:40] Matvey16 opened #13382 "Default fields a shown as NULL until manual refresh"
#### System information:
- Operating system (distribution) and version WIn10
- DBeaver version 21.1.4

#### Connection specification:
- Database name and version PostgreSQL

#### Describe the problem you're observing:
If a column has default value, inserting new row in data grid shows that field as NULL until the grid is refreshed manually.

#### Steps to reproduce, if exist:
1. Create a table wit

[2021-07-30 16:43] ShadelessFox commented on #11690
What's the type of column you're trying to apply transformer to?

[2021-07-30 17:42] ghYura commented on #11345
@tati-kru why do you keep postponing this feature?

[2021-07-30 20:06] jnahmias commented on #13313
What I did is to set up the Kerberos configuration in /etc/krb5.conf on the Mac for the AD realm(s) aka domain(s). Then, it's just a matter of setting the properties correctly:

databaseName=master
authenticationScheme=JavaKerberos
encrypt=true
integratedSecurity=true
serverName=mssqlserver.example.org
trustStoreType=KeychainStore
userName=**me**@EXAMPLE.ORG
password=**REDACTED**

Another alternat

[2021-07-30 21:28] KramericaInc opened #13384 "Unable to log into snowflake on version 21.1.3 with AD group with spaces"
#### System information:
- Operating system (distribution) and version
- DBeaver version" 21.1.3
- Additional extensions

#### Connection specification:
- Database name and version:   Snowflake
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

Unable to log into snowflake using and AD group with spaces. It worked in previous versions wit

[2021-07-31 12:17] egloffmark opened #13385 "Auto update data grid when switiching between the tables"
**Is your feature request related to a problem? Please describe.**
It is very annoying from usability perspective that you have to click on the "refresh" button at the toolbar when you switch the data grid view between tables. The grid get only automatically refreshed when it is the first time opened, but when you switch between already  opened grid views, it does not automatically refresh.

To ac

[2021-07-31 14:16] artgoldberg commented on #13313
Thanks @jnahmias , that's great!

[2021-07-31 14:16] #13313 closed, assigned to nobody

[2021-07-31 15:41] owiofwm2i commented on #12441
Is there a specific update date? I haven't opened this software for 7 months and I feel bad when I see the structure of intel

[2021-07-31 18:34] quicksnap commented on #12441
@n0thing2speak did you read above?

[2021-08-01 09:46] RamonCar66 commented on #6872
Hello, I face the same issue.
In the upgrade instructions it states "Upgrade – don’t be afraid to remove previous DBeaver version – your settings won’t be lost. All settings are kept in the separate folder",
The fact is that most settings are preserved afte version upgrade, but User Interface language, not.
Maybe a simpler solution could be moving this setting to the "user settings" area ?

Anothe

[2021-08-01 14:00] uslss opened #13387 "Git and debug extensions cannot be installed"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.4

#### Describe the problem you're observing:
Git extension cannot be installed
Error:
[code]
Similar issue for debug ext:

[code]

[2021-08-01 14:40] duri0214 opened #13388 "ssh connected but not connect database via VPS"
#### System information:
- OS CentOS7
- DBeaver version 21.1.3.202107181810

#### Connection specification:
- Database name and version: MySQL8.0
- Driver name: MySQL
- Do you use tunnels or proxies (SSH, SOCKS, etc)?: SSH

#### Describe the problem you're observing:
it's ok "Test tunnel configuration".
![image](https://user-images.githubusercontent.com/19668980/127774388-4204d9ea-06f6-4dc1-a628-e

[2021-08-01 15:02] uslss opened #13389 "Incorrect precision for number type is set in case of export to new table"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.4

#### Connection specification:
- Database name and version Snowflake
#### Describe the problem you're observing:
Incorrect precision (100) for number type is set in case of export to new table. So data transfer cannot be performed due to error.
![image](https://user-images.githubusercontent.com/3

[2021-08-01 23:19] RamonCar66 opened #13390 "Oracle DBMS_OUTPUT not always shows the printed messages"
#### System information:
- Windows 10
- DBeaver 21.1.3
- Additional extensions

#### Connection specification:
- Database name and version
Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit Production
PL/SQL Release 11.2.0.4.0 - Production
"CORE	11.2.0.4.0	Production"
TNS for Linux: Version 11.2.0.4.0 - Production
NLSRTL Version 11.2.0.4.0 - Production

- Driver name : oracle.jdbc.O

[2021-08-02 00:54] leezm opened #13391 "MSSQL Stored procedure can't view result set"
#### System information:
- win10
-21.1.4.202107231409
- Additional extensions

#### Connection specification:
- MSSQL2014
- JDBC&JTDS
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs
Stored procedure Return result set,but can't view it in this version.It's ju

[2021-08-02 05:46] Matvey16 opened #13392 "Incorrect syntax (excessive quotes) when updating Exasol geometry data"
#### System information:
- DBeaver version 21.1.4

#### Connection specification:
- Database name and version Exasol
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Excessive quotes are added for a script when trying to save changes to geometry column.

#### Steps to reproduce, if exist:
1. Create a table with a geometry column.
2. Edit

[2021-08-02 06:12] Matvey16 opened #13393 "SQL Editor doesn't convert table names to hyperlinks if a fully-qualified name is used"
#### System information:
- Operating system (distribution) and version Win 10
- DBeaver version 21.1.4

#### Connection specification:
- Database name and version: Exasol

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:
1. Write a full table name in SQL editor
2. Press <kbd>Ctrl</kbd> and hover over that name

**Expected:** Name can be clicked to open a table in sep

[2021-08-02 06:22] Matvey16 opened #13394 "Save button is missing for execution plan in Exasol connection"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.4

#### Connection specification:
- Database name and version: Exasol

#### Steps to reproduce, if exist:
1. Open execution plan for a query
2. Try to save it

**Expected:** Save button is present
**Actual:** Save button is missing.

![dbeaver_y3yEDh7JCj](https://user-images.githubusercontent.com/82

[2021-08-02 06:43] DariaMarkaryan opened #13395 "Focus in the record mode jumps to the next cell when you press Add new row button"
#### System information:
- Win10
- DBeaver CE 21.1.4

#### Steps to reproduce, if exist:
The video clearly shows what is happening. This is a little annoying

https://user-images.githubusercontent.com/43252954/127815580-cc0c5ee9-8ece-4b81-8f57-f52aff2e06f3.mp4

[2021-08-02 07:27] gcdsss commented on #7777
update, on 21.1.4.202108020335 version, macOS Big Sur 1.5.1, 4k resolution with external display, still laggy:(, yet still great tools, really looking forward to fix it.

[2021-08-02 07:42] hasanyildiz opened #13398 "Export CSV show SQL Script"
When exporting a select statement result to csv format, data is exported well.However in csv file, i cannot see which select query is executed.It would be useful when sending csv file to someone who wants to see which result belongs to which query.

In my opinion, adding an additional sheet in csv file to show select query would be useful.

[2021-08-02 07:47] Matvey16 opened #13399 "Buttons too close to each other in user properties for MySQL"
When editing properties for user in MySQL `Check All` and `Clear All` buttons are too close to each other and almost merge into one button.

![dbeaver_Yzo4emPgem](https://user-images.githubusercontent.com/82543000/127823533-359d9ec8-351e-41b5-934d-d08d60c17287.png)

[2021-08-02 07:50] Matvey16 commented on #13287
@YuriDude We will look if it can be implemented

[2021-08-02 07:57] Matvey16 commented on #13298
@saumyasuhagiya Can you please post a screenshot of your connection settings. Particularly Driver properties and SSL tabs.

[2021-08-02 07:59] Matvey16 commented on #13334
@VladimirVarnakov Hello, can you post an error log?

[2021-08-02 08:01] Matvey16 commented on #13339
@jetzerb Hello, thank you for the report.

[2021-08-02 08:04] uslss commented on #13391
@leezm could you provide a procedure example to reproduce an issue?

[2021-08-02 08:07] Matvey16 commented on #13342
@JeroenNienhuis Thank you for the suggestion, we will see what can be done.

[2021-08-02 08:11] leezm commented on #13391
In old version it's OK...

example: "......select @SQL......" just use select sql syntax at sp end to return record set in MSSQL

[2021-08-02 08:15] ShadelessFox commented on #13393
Duplicate of #12043

[2021-08-02 08:15] #13393 closed, assigned to nobody

[2021-08-02 08:17] ShadelessFox commented on #13391
Hello @leezm,

Please provide a complete example, so we can be sure that the issue can be reproduced on both sides.

[2021-08-02 08:19] uslss commented on #13390
@RamonCar66 , cannot reproduce it against 21.1.4.
![image](https://user-images.githubusercontent.com/31996417/127827989-3443a51c-e247-4aa2-84bb-ad0bf8f0b652.png)
Could you check if it is reproducible for you against the recent version?

[2021-08-02 08:21] uslss commented on #13388
@duri0214 could you provide [debug log](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-08-02 08:29] uslss commented on #13384
@KramericaInc unfortunately, we've got no environment to test it. Could you provide [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-08-02 08:33] Matvey16 commented on #12339
@echan888
Does it return the same error if you execute
[code]
Also is the result different if this query is executed in another tool like SSMS?

[2021-08-02 08:33] uslss commented on #13375
@qiqingli could you provide an example how it should look like in your opinion? thanks in advance

[2021-08-02 08:39] uslss commented on #13371
@erlangparasu please provide steps to reproduce.
Also, you could try to disable Open separate connection for each editor and Open separate connection for metadata read options in preferences
![image](https://user-images.githubusercontent.com/31996417/127830988-1e291681-0094-43f9-b09b-13f150056abe.png)
![image](https://user-images.githubusercontent.com/31996417/127831119-49d79006-2b9e-4c04-aaef-faa

[2021-08-02 08:41] qiqingli commented on #13375
I think it should be formatted like this.
![image](https://user-images.githubusercontent.com/20805098/127831265-3c1e8dca-686b-4de9-9a70-98473199a869.png)

[2021-08-02 08:44] VladimirVarnakov commented on #13334
Hi @Matvey16, the logs are attached here.
[dbeaver_logs_1.zip](https://github.com/dbeaver/dbeaver/files/6915596/dbeaver_logs_1.zip)

[2021-08-02 08:46] uslss commented on #13357
thank you for the report

[2021-08-02 08:48] leezm commented on #13391
I can't provide the Production environment content to you...
![1](https://user-images.githubusercontent.com/24444492/127831420-fa5c3f58-ffe0-4251-90ad-4a3e23eed111.png)
It's just return this message in this pic...
Maybe it's a feature...

[2021-08-02 08:50] Dkrav-UA commented on #13372
Saved tasks are broken too. The destination container is wrong. In the 21.2.2 version, everything is ok.

[2021-08-02 08:51] Matvey16 commented on #13355
@wiwwo I'm not sure I understood the situation with switching from dev to prod connection. Am I doing something differently in my example? Isolation level is supposed to depend on connection type by default.

![pUE2akcYql](https://user-images.githubusercontent.com/82543000/127832678-ea19051a-1df1-4963-b479-b59d5cf7b6b8.gif)

[2021-08-02 08:52] uslss commented on #12960
there is no update for a long time.
If the issue is still actual for you - feel free to reopen it with additional info.

[2021-08-02 08:52] #12960 closed, assigned to nobody

[2021-08-02 08:52] uslss commented on #13052
there is no update for a long time.
If the issue is still actual for you - feel free to reopen it with additional info.

[2021-08-02 08:52] #13052 closed, assigned to nobody

[2021-08-02 08:53] #12781 closed, assigned to nobody

[2021-08-02 08:54] uslss commented on #12689
please, check if it is still actual against 21.1.4.
Unfortunately, we've got no environment to test it.

[2021-08-02 08:55] uslss commented on #11828
there is no update for a long time.
If the issue is still actual for you - feel free to reopen it with additional info.

[2021-08-02 08:55] #11828 closed, assigned to flambchap

[2021-08-02 08:55] uslss commented on #13113
there is no update for a long time.
If the issue is still actual for you - feel free to reopen it with additional info.

[2021-08-02 08:55] #13113 closed, assigned to nobody

[2021-08-02 08:55] uslss commented on #13008
there is no update for a long time.
If the issue is still actual for you - feel free to reopen it with additional info.

[2021-08-02 08:55] #13008 closed, assigned to nobody

[2021-08-02 08:57] uslss commented on #13090
there is no update for a long time.
If the issue is still actual for you - feel free to reopen it with additional info.

[2021-08-02 08:57] #13090 closed, assigned to nobody

[2021-08-02 08:57] uslss commented on #13147
there is no update for a long time.
If the issue is still actual for you - feel free to reopen it with additional info.

[2021-08-02 08:57] #13147 closed, assigned to nobody

[2021-08-02 09:01] #13387 closed, assigned to nobody

[2021-08-02 09:16] ShadelessFox commented on #13391
You can create your own reproducible example.

[2021-08-02 09:54] mikaelmockel opened #13402 "Can't find target attribute [mode]"
Hello,
since the upgrade 21.1.4 I'm unable to import data from CSV to DB (postgres).
Error message : Can't find target attribute [mode]
Everything works just find before the upgrade.

I have a column named : mode in the table and in the import file.
If I have a look to the mapping I have the Source Column named : mode
but the Target Column named : "mode"
It's impossible to rewrite the Target Colum

[2021-08-02 09:56] martinseifertmobility commented on #13387
Hey @uslss

I still have that issue, what's your solution?

`Cannot complete the install because one or more required items could not be found.
  Software being installed: DBeaver Git support 1.0.50.202108020335 (org.jkiss.dbeaver.git.feature.feature.group 1.0.50.202108020335)
  Missing requirement: DBeaver Git support 1.0.50.202108020335 (org.jkiss.dbeaver.git.feature.feature.group 1.0.50.2021080

[2021-08-02 11:23] RamonCar66 commented on #13390
Thanks for the quick response,
I see today has released version 21.1.4, I will retest as soon as I install
it.

Kind regards
--------------------------------------------------------
Carlos RAMON
Mov: +34.649.53.06.19
***@***.***
--------------------------------------------------------

El lun, 2 ago 2021 a las 10:19, Dziyana ***@***.***>)
escribió:

[2021-08-02 11:27] flambchap opened #13403 "[Data transfer] Support tables order when generating SQL"
We need to extend the functionality added in https://github.com/dbeaver/dbeaver/issues/11118 into the cases of transfer to SQL and DDL generation.

[2021-08-02 11:42] tati-kru commented on #11345
@ghYura we do our best to close as much issues as possible, sometimes we need to move some issues to other milestones to make process more efficient.

[2021-08-02 12:14] SherlockSoftware opened #13404 "view data error Postgres 9.6_ Dbeaver all versions, can open in EMS and others like PGadmin 4 /5.1"
#### System information:
- Windows 10
- DBeaver 21.1.4 (and earlier)
- Java JDBC 4.1 (JR 8+) driver for Postgres
- postGIS 2.2.1 Geometry 2.5.0

#### Connection specification:
- postGres 9.6
- postgres    port 5432.. standard simple
- Do you use tunnels or proxies (SSH, SOCKS, etc)?   NO
[dump-__crash_re_settings_View_Data-202108032218.zip](https://github.com/dbeaver/dbeaver/files/6923985/dump-__c

[2021-08-02 12:54] leezm commented on #13391
Unfortunately, this SP is very complicated. The cursor loop was used to piece together SQL, and finally executed.
I can't reproduce it in a simple environment，because I tried simple cases are all successful...

[2021-08-02 13:04] SherlockSoftware commented on #13404
org.jkiss.dbeaver.model.sql.DBSQLException: SQL Error [22021]: ERROR: invalid byte sequence for encoding "UTF8": 0xc2 0x76
	at org.jkiss.dbeaver.model.impl.jdbc.exec.JDBCStatementImpl.executeStatement(JDBCStatementImpl.java:133)
	at org.jkiss.dbeaver.model.impl.jdbc.struct.JDBCTable.readData(JDBCTable.java:190)
	at org.jkiss.dbeaver.ui.controls.resultset.ResultSetJobDataRead.lambda$0(ResultSetJobD

[2021-08-02 13:08] SherlockSoftware commented on #13404
![image](https://user-images.githubusercontent.com/64625961/127866991-293d8e25-56e1-4112-9317-116d462e66a0.png)

[2021-08-02 13:09] uslss commented on #12537
@gavvvr still cannot reproduce an issue.
Could you check if it is still actual for you against the recent version?

[2021-08-02 13:13] uslss commented on #13402
@mikaelmockel it will be very helpful if you can provide some sample csv file to reproduce an issue.
Is this problem actual for all the csv files or just for some special?
is there something in the [logs](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-08-02 13:27] #9275 closed

[2021-08-02 13:36] uslss commented on #12607
#1446

[2021-08-02 13:39] uslss commented on #1538
seems this issue is obsolete.
If it is still actual for you - feel free to reopen it with an additional info

[2021-08-02 13:39] #1538 closed

[2021-08-02 13:48] uslss commented on #2414
Already implemented.
Timezone can be set in Preferences
![image](https://user-images.githubusercontent.com/31996417/127872104-a73bc87b-79d9-4062-9fc0-b4d86e7a7feb.png)

[2021-08-02 13:48] #2414 closed

[2021-08-02 13:57] uslss commented on #3522
duplicates #2082

[2021-08-02 13:57] #3522 closed

[2021-08-02 14:03] Matvey16 commented on #13368
@Thyringer Hello, thank you for the report. I reproduced this issue. Can you verify if `country_code` type is a custom enum type, because I assumed that it is for my test.

For a future reference here is a script to reproduce.

[code]

[2021-08-02 14:12] mikaelmockel commented on #13402
The logs says : Can't find target attribute [mode]
Here are the screen captures :
![dbeaver_import1](https://user-images.githubusercontent.com/70712217/127875173-69c3d8c9-f55d-4190-9afd-61707aa2bca2.jpg)
![dbeaver_import2](https://user-images.githubusercontent.com/70712217/127875203-c31cdd61-c1dc-46aa-8f16-e79c843b62ef.jpg)

[2021-08-02 14:25] duri0214 commented on #13388
@uslss
thank you for reply.
![image](https://user-images.githubusercontent.com/19668980/127876635-e6417e78-0436-4cc6-8cda-a8b2aee85e99.png)

`dbeaver-debug.log`
[code]

`.log`
[code]

[2021-08-02 15:08] jernejkubuntu commented on #1543
https://tools.jboss.org/features/hibernate.html#hibernate-console

JBoss tools  has v hibernate console to execute HQL in Eclipse.
So its technology compatible with DBever.

To enable it in DBever context you would probably need to import eclipse java projects support.

[2021-08-02 15:20] plotn opened #13406 "Cannot add comment to foreign table in Postgres"
Hi!
I have foreign table:

CREATE FOREIGN TABLE XXX (
	id_ varchar(64) NOT NULL,
	rev_ numeric(38) NOT NULL,
	resource_type_ varchar(255) NOT NULL,
	name_ varchar(255) NOT NULL,
	owner_ varchar(255) NULL,
	query_ bytea NULL,
	properties_ bytea NULL
)
SERVER YYY
OPTIONS (schema 'ZZZ', table 'KKK');

Then I try to add comment and the SQL is generated as "COMMENT ON TABLE XXX" but this doesnt work, w

[2021-08-02 16:57] gavvvr commented on #12537
@uslss
DBeaver: Version 21.1.3.202107181810
Oracle 11 XE in Docker containerized with my recipe [above](https://github.com/dbeaver/dbeaver/issues/12537#issuecomment-845522372)

Still the same problem

[2021-08-02 17:05] Mark531 opened #13407 "DBeaver won't start"
#### System information:
- Operating system (distribution) and version Windows 10 version 1909
- DBeaver version 21.1.2
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
DBeaver won't start.

#### Steps to reproduce, if exist:
Run dbeaver.exe.

#### Includ

[2021-08-02 17:06] rrousselot opened #13408 "Bookmarks working?"
#### System information:
- Operating system (distribution) and version - Windows 10
- DBeaver version - 21.1.4
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
I cannot for the life of me make a Bookmark.  Is it me or is there something wrong.

#### Steps

[2021-08-02 17:24] mikaelmockel commented on #13402
I downgraded to 21.1.3 and it works just find.

In your changelog for 21.1.4 version I see some changes that can be the problem :
- Data transfer:
                - Table/column name case conversion was fixed
                - Ambiguous column name mapping was fixed
- PostgreSQL:
                - Column rename DDL was fixed

[2021-08-02 18:38] martinseifertmobility commented on #13387
For some reason (no idea why) it now worked with 1.0.50.202108020335

[2021-08-02 18:41] drawnfallow opened #13409 "SQL Highlighting Not Functioning Properly When Create HIVE Table"
#### System information:
- win10
- 21.1.4

#### Describe the problem you're observing:
Highlighting breaks when creating HIVE table

#### Steps to reproduce, if exist:

CREATE TEMPORARY TABLE matrix (
	distribution_channel STRING,
	campaign_code STRING,
	campaign_name STRING,
	coupon_code STRING
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES ("separatorChar" =

[2021-08-02 18:56] drawnfallow commented on #13409
![image](https://user-images.githubusercontent.com/24426786/127910038-02856228-5976-43e7-8e2f-7238c26d851b.png)

[2021-08-02 18:57] drawnfallow commented on #13409
It doesn't respect the semi-colon as the end of the query.

[2021-08-02 22:58] SubOptimal commented on #13371
@erlangparasu Which OS are you using?

On Linux, you could check how many files a process can open at a time with `ulimit -n`.

[2021-08-03 00:06] thyringer commented on #13368
@Matvey16
Thanks for your answer and the effort!
I downloaded the latest version of DBeaver today and created two test tables: The first table is very simple and the second one quite complex. But there were no display errors in either.

I suspect the bug was fixed in the last update?

Nevertheless I have attached my two test examples here.

[code]

If the error occurs again, I will contact you her

[2021-08-03 03:03] WolfX2 commented on #13239
Yes, i am specifically looking for functionality to highlight or call out important or significant, blocks or lines of code. This is different functionality than the find/replace function.

[2021-08-03 03:09] www-uu opened #13410 "PK column shows the wrong icon in "Columns" tab"
#### System information:
- Operating system (distribution) and version: Windows 10 Home
- DBeaver version: 21.1.4.202108020335
- Additional extensions: TimescaleDB

#### Connection specification:
- Database name and version: PostgreSQL 12.6 on x86_64-pc-linux-musl, compiled by gcc (Alpine 10.2.1_pre1) 10.2.1 20201203, 64-bit

#### Describe the problem you're observing:
In pgAdmin4 v5.2, the "Prima

[2021-08-03 05:50] ghYura commented on #11345
Thanks for your feedback

[2021-08-03 06:11] wiwwo commented on #13355
@Matvey16 I might have done something wrong there. So, problem like "Wrong isolation level at startup" might be something stupid I did.

Still, opening a connection with DBeaver blocks DDL (drop table etc), which is the bigger problem 9and the subject of this ticket, sorry for confusion... I might need vacation :D )

[2021-08-03 06:47] Matvey16 commented on #13368
@Thyringer Can you check the error log? For me the error is visible inside the table, when opened in resultset of SQL Editor by executing a select. When opened in data viewer the table field looks normal, but an error still appears in error log.

![dbeaver_8aMD5LThkY](https://user-images.githubusercontent.com/82543000/127970374-b4813601-a973-4a12-ad8e-4f5c087abc66.png)

[2021-08-03 07:14] Matvey16 commented on #13409
@drawnfallow Thank you for the report. As I see it, the problem is with the triple quotes at the end of this line `WITH SERDEPROPERTIES ("separatorChar" = ",", "quoteChar" = """)` even with an escape char the editor formats it as though it was a long quoted line. Maybe we can add a setting to respect a particular escape char when changing the color of text in the editor.

As you can see, the same

[2021-08-03 07:39] giulio-quaresima commented on #11268
Dear Nikita,

following your suggestion, I carefully read the logs and I found the
solution: it is a quotation problem.

It happens that if one set a role in the "user role" field of the
connection properties, say MY_GREAT_ROLE, when DBeaver opens the connection,
it issues the command SET ROLE MY_GREAT_ROLE which results in:

The solution is to write the role in the user role field within quotes,

[2021-08-03 07:40] Matvey16 commented on #13408
@rrousselot Thank you for the report. Our wiki page had outdated information. The default shortcut changed somewhen to <kbd>CTRL+ALT+SHIFT+D</kbd>
If it is not really convenient for you, you can change any shortcut in preferences. Also if you forgot your shortcuts you can open `Help > Show Active Keybindings` to see the list of shortcuts.

[2021-08-03 07:42] p91paul commented on #13410
I suppose "identity" refers to this feature https://www.postgresqltutorial.com/postgresql-identity-column/
Primary keys are shown under constraints!

[2021-08-03 07:47] Matvey16 commented on #13407
@Mark531 Can you add more information? For example what happens after you run the .exe, at which point it stops executing? At a meantime I would recommend uninstalling and reinstalling DBeaver and if that doesn't change anything, as a second solution you can backup your %APPDATA%\DBeaverData\ folder in other directory and delete it to see if some corruption in a workspace is causing the issue.

[2021-08-03 08:05] flambchap commented on #11268
Hello Giulio, thank you for your investigation. I believe that DBeaver should use proper quotation automatically when executing `SET ROLE` statement, so that's what I'm going to do for the next release.

[2021-08-03 08:13] Matvey16 commented on #13410
@p91paul Thank you, you are correct. This field doesn't refer to PK.

@JH-D Hello, as mentioned above this field doesn't refer to PK. To see if the column is a primary key, you either can look at Constraints tab in table metadata, or refer to a key icon in the Columns tab.

![dbeaver_RSUlX1hEVd](https://user-images.githubusercontent.com/82543000/127981662-a65d0698-6a8b-4212-bdc2-4e5d82d3cd65.png)

[2021-08-03 08:29] uslss commented on #13406
thanks for the report

[2021-08-03 08:43] uslss commented on #4748
will be implemented in scope of #13108

[2021-08-03 08:43] #4748 closed

[2021-08-03 08:50] uslss commented on #7604
#12335

[2021-08-03 08:56] echan888 commented on #12339
Hi @Matvey16, SELECT * FROM sys.table_types against the Synapse dedicated SQL pool from DBeaver results in the following error - Catalog view 'table_types' is not supported in this version.

![image](https://user-images.githubusercontent.com/83606824/127987015-c9b583c5-d475-45a1-b425-8704ed22a99a.png)

When I run SELECT * FROM sys.table_types from SSMS, I also get the same error.

![image](https:/

[2021-08-03 09:00] www-uu commented on #13410
@Matvey16
In Columns tab, the key icon not see.
In Constraints, yes can see.

![图片](https://user-images.githubusercontent.com/7844108/127988445-291342d9-2c1c-4e86-a8d4-7e232a729d94.png)

![图片](https://user-images.githubusercontent.com/7844108/127987758-0fc6cbfa-75f8-43a8-979f-c44d75df5008.png)

[2021-08-03 09:01] uslss commented on #5488
seems it is obsolete issue

[2021-08-03 09:01] #5488 closed

[2021-08-03 09:04] uslss commented on #5540
data types could be changed manually in data transfer dialog
![image](https://user-images.githubusercontent.com/31996417/127989071-579ffd72-6a86-4fe2-9242-903e313e8875.png)

[2021-08-03 09:04] #5540 closed

[2021-08-03 09:43] Mark531 commented on #13407
As I said, it stops straightaway, without any error message nor log. Ok, I will try your solutions.

[2021-08-03 09:51] AnrDaemon opened #13414 "Replace with lookahead regexp in needle won't work"
#### System information:
- Windows/any
- DBeaver 24.1.4
- No additional extensions

#### Connection specification:
- Irrelevant (editor issue)

#### Describe the problem you're observing:
Replacement not performed if needle contains lookahead expression. See image.
![image](https://user-images.githubusercontent.com/6532485/127995572-30791cf4-8337-4e9a-8e87-d65f0076f756.png)

#### Steps to reproduc

[2021-08-03 10:51] vincendep opened #13415 "Schema loss after executing a failing sql script"
#### System information:
- Windows 10 Pro
- DBeaver 21.1.4

#### Connection specification:
- Postgres 9.4
- PostgreSQL

#### Describe the problem you're observing:

After executing an sql script, if an error occur the selected schema is lost and I'm able to reexecute the script only opening a new script tab.

#### Steps to reproduce, if exist:

1. Editor SQL -> New SQL script
2. Select a database

[2021-08-03 11:59] Nemecsek opened #13416 "Wrong Timezone when Importing from CSV into Postgresql"
#### System information:
- Ubuntu 20.04
- DBeaver 21.1.4

#### Connection specification:
Working on Posgresql local docker container for testing purposes.

* DBeaver PostgreSQL Support 2.1.135.202108020335
* net.sf.opencsv 2.3.0

#### Observed problem:

Migrating from Mysql to Postgresql by means of CSV export/import.

**After import, timestamps are set with wrong timezone**. I expect timestamps t

[2021-08-03 13:45] thyringer commented on #13368
Oh ok, I can confirm that. The view of the table entries through the GUI works, but the error still occurs with select queries:

[code]

[2021-08-03 13:45] Matvey16 commented on #13345
https://github.com/dbeaver/dbeaver/wiki/Panels#references-panel

[2021-08-03 14:09] Matvey16 commented on #12339
So it appears the problem is with this query
[code]

Which is run because of Azure SQL Server driver. We need to look if it somehow can be changed to work correctly with Synapse.

[2021-08-03 14:12] Matvey16 commented on #13368
@Thyringer Ok, thank you, we will work on that

[2021-08-03 14:16] SupervisionT opened #13418 "Failed to upgrade dbeaver from v.7.2.5 to v.21.1.4"
#### System information:
- Operating system (distribution) and version: Fedora linux 27
- DBeaver version: current: Community Edition 7.2.5, update to ==>  21.1.4

#### Describe the problem you're observing:
When attempt to update from v. 7.2.5 to v. 21.1.4
``` sudo dpkg -i --force-overwrite dbeaver-ce_21.1.4_amd64.deb ```

I'm having this error:
[code]

This may be related to this [issue 47](http

[2021-08-03 14:31] rrousselot commented on #13408
It is also that way in the Documentation PDF.

Thank you!

[2021-08-03 14:38] rrousselot opened #13419 "Within a project, highlight bookmarked items"
**Is your feature request related to a problem? Please describe.**
If a bookmark is created, highlight the items up the tree to the table within the connection view so that the bookmark can be easily found.  A filter to bookmarked items in connections view could be an alternative as well.

This would be very helpful when working with large and complex schemas/tables.

[2021-08-03 14:46] uslss commented on #5852
will be implemented soon in EE version

[2021-08-03 14:46] #5852 closed

[2021-08-03 14:46] uslss commented on #5852
https://github.com/dbeaver/pro/issues/500

[2021-08-03 15:24] #6248 closed

[2021-08-03 15:25] uslss commented on #6271
closed as duplicate of #8133

[2021-08-03 15:25] #6271 closed

[2021-08-03 15:27] uslss commented on #10228
will be fixed in the scope of #10950

[2021-08-03 15:27] #10228 closed

[2021-08-03 15:28] uslss commented on #8616
will be fixed in the scope of #10950

[2021-08-03 15:28] #8616 closed

[2021-08-03 15:28] uslss commented on #6272
will be fixed in the scope of #10950

[2021-08-03 15:28] #6272 closed

[2021-08-03 15:28] alex88 commented on #2414
@uslss how do I add that? 21.1.3

![image](https://user-images.githubusercontent.com/436888/128042855-49e8b2f5-342f-4a0e-9fda-5eb7336ea72a.png)

[2021-08-03 15:34] uslss commented on #5578
will be implemented in #10184

[2021-08-03 15:34] #5578 closed

[2021-08-03 15:37] #6348 closed

[2021-08-03 15:41] uslss commented on #13414
thank you for the report

[2021-08-03 15:44] uslss commented on #13415
@vincendep unfortunately, cannot reproduce it. could you provide a video of an issue?

[2021-08-03 16:08] uslss commented on #6544
will be implemented in #13002

[2021-08-03 16:08] #6544 closed

[2021-08-03 16:15] uslss commented on #6727
Columns could be reordered and hide/shown using [Customize filters](https://github.com/dbeaver/dbeaver/wiki/Data-Filters#advanced-filters-configuration)
![image](https://user-images.githubusercontent.com/31996417/128050281-ace204c3-cc3a-46fa-b278-8b0ddef19e1d.png)

[2021-08-03 16:16] #6727 closed

[2021-08-03 16:27] uslss commented on #6862
there is no update on the issue for a long time,
If it is still actual - feel free to reopen it if it is still actual

[2021-08-03 16:27] #6862 closed

[2021-08-03 16:31] uslss commented on #13221
duplicates #12771

[2021-08-03 16:31] #13221 closed, assigned to nobody

[2021-08-03 16:32] uslss commented on #6872
#12771

[2021-08-03 16:36] uslss commented on #6893
Link with editor option (Ctrl+Shift + ,) is already implemented for Database Navigator and Projects panel

[2021-08-03 16:36] #6893 closed

[2021-08-03 16:40] #6956 closed

[2021-08-03 16:41] #6976 closed

[2021-08-03 16:43] #7082 closed

[2021-08-03 16:49] uslss commented on #4357
will be tracked in #7151

[2021-08-03 16:49] #4357 closed

[2021-08-03 16:52] #7167 closed

[2021-08-03 16:53] #7173 closed

[2021-08-03 16:54] uslss commented on #7194
closed as duplicate of #7159

[2021-08-03 16:54] #7194 closed

[2021-08-03 16:55] uslss commented on #7224
duplicates #7159

[2021-08-03 16:55] #7224 closed

[2021-08-03 16:59] uslss commented on #7241
1. Reopen database editors after restart option should be checked.
![image](https://user-images.githubusercontent.com/31996417/128055773-89bebb31-b36d-4b31-90aa-621531758843.png)
2. Autosave after any modification option should be checked.
![image](https://user-images.githubusercontent.com/31996417/128055984-e2eb4836-d7d4-4221-aad2-220a19da12ff.png)

[2021-08-03 16:59] #7241 closed

[2021-08-03 17:02] uslss commented on #3389
duplicates #1319

[2021-08-03 17:02] #3389 closed

[2021-08-03 17:03] uslss commented on #1319
will be tracked in #7257

[2021-08-03 17:03] #1319 closed

[2021-08-03 17:04] uslss commented on #7763
duplicates #7257

[2021-08-03 17:04] #7763 closed

[2021-08-03 17:05] uslss commented on #8051
#7257

[2021-08-03 17:11] #7392 closed

[2021-08-03 17:17] uslss commented on #7412
You can read more about it [here](https://github.com/dbeaver/dbeaver/wiki/Working-with-Spatial-GIS-data#tile-layer-management)

[2021-08-03 17:18] #7412 closed

[2021-08-03 17:38] Wroud opened #13431 "Where filter can be modifyed in 'Statistics' tab (SQL Script execution result)"
#### Describe the problem you're observing:
Where filter can be edited in statistics tab, result set can be refreshed (only once)

#### Steps to reproduce, if exist:
execute any SQL Script (Alt + X) in SQL Editor

![image](https://user-images.githubusercontent.com/811729/128060897-8649bc18-6f0a-4805-9d1c-9da057c413bf.png)
![image](https://user-images.githubusercontent.com/811729/128060941-5cb35c87

[2021-08-03 18:43] majkinetor commented on #6727
We know that, that was not the issue. The issue is about UX and interactivity - something that is needed quite often is hidden behind inefficient menu options.

[2021-08-03 21:21] Chealer commented on #8746
Please reopen this ticket

[2021-08-03 21:27] Chealer commented on #7947
@uslss can you explain why you closed this ticket?

[2021-08-04 00:31] bobocaca opened #13432 "[mssql] default value constraint(s) are not displayed"
My request is similar to #8448 , I faced the same issue when trying to delete field with default value (DF_* constraint depend on field, so can not delete), then I realize I didn't see the constraint in the tree view.

the following picture is the view from dbeaver
![image](https://user-images.githubusercontent.com/64453466/128102421-4b1d48db-68bf-4699-8643-7d89aaee8168.png)

view from SQL managem

[2021-08-04 01:12] CapBlackShot opened #13433 "Automatic Invalidate/Reconnect Won't Work Properly"
Hi,

I'm using the latest DBeaver version on Windows 10 x64.

I have an active hosting plan that gives me access to a couple of databases. I am able to connect to them just fine, but apparently the hosting company disconnects me automatically after 30s or so.

DBeaver's "auto-recover" feature doesn't seem to be working in such circumstances. I have to manually click invalidate/reconnect in order f

[2021-08-04 03:53] Pranithaevana commented on #13150
Thanks for the response.

Could you provide more details on this. Does it uses JRE?

Thanks,
Pranitha

From: Matvey16 ***@***.***>
Sent: Wednesday, July 21, 2021 7:15 PM
To: dbeaver/dbeaver ***@***.***>
Cc: Evana, Pranitha ***@***.***>; Mention ***@***.***>
Subject: Re: [dbeaver/dbeaver] Check for update option is throwing as "Perhaps the network connection is down?" in DBeaver Community 21.0.2 &

[2021-08-04 05:12] FHBGLD commented on #13402
Hello,
we have the same problem.
I exported a table to a csv file. That worked fine. When I imported it to the same empty table then I get ‚Can’t find target attribute [version]’. One column of this table is called ‘vesion’.
![db1](https://user-images.githubusercontent.com/33415881/128125480-dee74755-9e68-41a1-9a71-3dc6ed553f27.jpg)
![db2](https://user-images.githubusercontent.com/33415881/1281254

[2021-08-04 05:24] ilne commented on #13402
Reporting in to mention this is not limited to PostgreSQL, it doesn't work with MySQL either. It does work with SQLite. This is not an issue in version 21.1.3.

Table structure MySQL (MySQL 8.0.26-0ubuntu0.20.04.2):

![image](https://user-images.githubusercontent.com/30283610/128126288-57cf3ed8-104d-44a2-843b-22324a0d2b46.png)

Table structure PostgreSQL (PostgreSQL 13.3 (Ubuntu 13.3-1.pgdg20.04+1

[2021-08-04 06:50] Matvey16 commented on #13410
@JH-D This seems strange. Can you provide a DDL for this table?

[2021-08-04 08:15] uslss commented on #13433
You should set keep-alive option to a not-null value. E/g/ if you set it to 20 then connection will be invalidated every 20 seconds
![image](https://user-images.githubusercontent.com/31996417/128146683-f8483caf-dbd3-4322-95e2-46d7cce2374c.png)

[2021-08-04 08:21] uslss commented on #7523
seems issue is obsolete.
if it is still actual - feel free to reopen it

[2021-08-04 08:21] #7523 closed

[2021-08-04 08:24] #7560 closed

[2021-08-04 08:25] uslss commented on #7594
duplicates #3328

[2021-08-04 08:25] #7594 closed

[2021-08-04 08:27] uslss commented on #7630
seems the issue is outdated.
Autocompletion is working in the eclipse extension for now.

[2021-08-04 08:27] #7630 closed

[2021-08-04 08:29] uslss commented on #7631
seems to be related to #10950

[2021-08-04 08:29] #7631 closed

[2021-08-04 08:32] uslss commented on #7730
closed as a duplicate of #6113

[2021-08-04 08:32] #7730 closed

[2021-08-04 08:37] uslss commented on #7765
Keyword case could be set in Preferences
![image](https://user-images.githubusercontent.com/31996417/128149941-e1d1b216-d478-421a-92fc-0f91ae9957ab.png)

[2021-08-04 08:37] #7765 closed

[2021-08-04 08:41] uslss commented on #7877
duplicate of #3416

[2021-08-04 08:41] #7877 closed

[2021-08-04 08:41] uslss commented on #8560
duplicate of #3416

[2021-08-04 08:41] #8560 closed

[2021-08-04 08:47] qiqingli commented on #13375
@uslss After upgrading to 21.1.4, the formatting style is a bit odd

![image](https://user-images.githubusercontent.com/20805098/128151100-7ee4b724-c873-4f76-ab99-e38c042e3e28.png)

[2021-08-04 08:49] mdegrego commented on #10395
@zolthan @kseniiaguzeeva Same issue for many people in my company, all are using latest version DBeaver 21.1.4 on BigSur 11.5.1

I remember similar issues years ago when using Eclipse on Linux. There was a work-around, by launching eclipse with a command line option to disable some graphics libraries.. but I can't remind more.  Any idea? This problem is unsolved since months :-(

Please ask me any

[2021-08-04 08:55] molok commented on #7760
@uslss can you clarify why this bug was closed?

[2021-08-04 08:56] uslss commented on #7760
My fault, it was closed by mistake :)

[2021-08-04 09:02] www-uu commented on #13410
I only replace the table name.

[code]

[2021-08-04 09:11] molok commented on #7760
From a programmer point of view I understand why @serge-rider thinks it's a feature, but from the user-experience point of view it's 100% a bug: why would a click on the commit button and executing a commit statement have different behavior?
If DBeaver isn't able to detect when a transaction ends maybe the UI should reflect that, instead of trying to implement the transaction lifetime detection fo

[2021-08-04 09:29] riednyko commented on #13203
`dbeaver.io.tmpdir` variable doesn't work. No change with this variable

[2021-08-04 09:38] nicolanicoletti opened #13436 "copy sql as source code for delphi and single quote"
#### System information:
- Windows 10
- DBeaver version 21.1.4.202108020335
- dark theme and office

#### Describe the problem you're observing:

when i use "copy  sql as source code" and i don't select use string builder option the code generated have half cicle ")" in end of  code. Delphi require string inside single quote at begin and end.  Another problem is when i use single quote inside sql

[2021-08-04 10:18] uslss opened #13438 "Encoding isn't applied in case it was filled in manually and not chosen from drop-down list"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.4
-
#### Describe the problem you're observing:
Encoding isn't applied in case it was filled in manually and not chosen from drop-down in data transfer properties
#### Steps to reproduce, if exist:
1. Start export to CSV, HTML or any other format
2. Fill in manually encoding value at the output para

[2021-08-04 10:56] Matvey16 commented on #12959
https://github.com/dbeaver/dbeaver/wiki/Database-Structure-Diagrams#relationship-notation

[2021-08-04 11:09] mdegrego commented on #10395
@zolthan FYI I found a work-around:

Instead of double-clicking on the [BLOB] to display the binary contents, you can just right-click on it and select Edit > Modify Cell (even if you don't have to modify anything!).  A new full window tab will open, with all binary contents, and no crash is happening, at least for me ...

NOTE: When you double-click on the [BLOB] cell, no tab will open but a tiny

[2021-08-04 11:28] zolthan commented on #10395
Hi @mdegrego
Thanks for the hint. Unfortunately I stopped using DBeaver because it’s just annoying to have it crashed again and again.
Maybe if this ticket is definitely closed and fixed I will give it a try again.
Best Z

[2021-08-04 11:31] CapBlackShot commented on #13433
Thank you!! I'll give it a shot.

Do you know if hosting companies allow this interval to be changed? Or if it's a setting that I can change manually, so DBeaver doesn't need to invalidate the connection so often?

[2021-08-04 12:01] Matvey16 commented on #13410
@JH-D I wasn't able to reproduce it. Do you see key icon on other PK columns in other tables?

![dbeaver_T1G4Q8oNw7](https://user-images.githubusercontent.com/82543000/128177237-ff1aa8ca-9152-47d7-bfc0-32d2a3767aa4.png)

[2021-08-04 12:12] uslss commented on #13436
thank you for the report

[2021-08-04 12:36] uslss commented on #8188
this info is already available in the statistics tab
![image](https://user-images.githubusercontent.com/31996417/128181713-c99b2562-15b2-4932-b492-5a92e8c8e83f.png)

[2021-08-04 12:36] #8188 closed

[2021-08-04 12:49] uslss commented on #8212
duplicates #6328

[2021-08-04 12:49] #8212 closed

[2021-08-04 12:56] #8583 closed

[2021-08-04 13:00] jkpcguru commented on #7521
This bug still exists

[2021-08-04 13:03] uslss commented on #7521
issue is tracked in #8508

[2021-08-04 13:26] Chealer commented on #7710
This unfortunately persists in 21.1.4. Why is this ticket closed?

[2021-08-04 13:27] ntmeade opened #13441 "Can't edit Athena AWS Simba Driver Properties"
#### System information:
- Operating system (distribution) and version - Mac OS Big Sur 11.4
- DBeaver CE version 21.1.4.202108020335
- Additional extensions

#### Connection specification:
- Database name and version AWS Athena
- Driver name AWS/Athena
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
When attempting to edit values in Driver Proper

[2021-08-04 13:45] sisazim opened #13443 "conexao banco de dados zim usando ODBC <zim database connection using ODBC>"
OLA.
drive odbc instalado e funcionando no windows-10 e acesso excel funciona. Mas o DBeaver nao conecta. Tem como enviar um manual de como configurar a seleçao do drive ja instalado?

< HELLO.
odbc drive up and running on windows-10 and excel access works. But DBeaver does not connect. Is it possible to send a manual on how to configure the selection of the drive already installed? >
![odbc](http

[2021-08-04 14:30] velhaco20000 opened #13444 "Eclipse - Photon - Error - unable to instantiate class "org.jkiss.dbeaver.ui.navigator.database.DatabaseNavigatorView"."
#### System information:
- Operating system : Windows 10 Pro - 2004 Eclipse Photon - fresh install - no previous plugin version
- DBeaver version : Eclipse plugin , latest Tue, 2021-08-03 04:53

When I open DBeaver perspective:

Plug-in "org.jkiss.dbeaver.ui.navigator" was unable to instantiate class "org.jkiss.dbeaver.ui.navigator.database.DatabaseNavigatorView".

org.eclipse.core.runtime.CoreExc

[2021-08-04 15:49] deepaksenthilkumar commented on #11425
@LonwoLonwo I checked further and noticed the problem is in the Redshift JDBC Driver class PGEscaper which becomes exponentially slow with the number of question marks in the INSERT statement. I made a couple of crude changes (just to confirm that) and noticed now I am able to insert 1M records in 8 mins. (with a setting of 10k multi-row insert batch size and commit after 10k records)

In ExecuteI

[2021-08-04 19:06] deepaksenthilkumar commented on #11425
Will implement PostgreValueHandlerProvider for Redshift and handle it accordingly.

[2021-08-04 20:17] CarbonChauvinist commented on #9733
Just chiming in to say that, for my case at least on windows using the latest 21.1.4 version, I needed to do some escaping of the path in order to get this to work. Leaving this here in case it helps others.
![sqlparse_dbeaver_path_escaping](https://user-images.githubusercontent.com/21365869/128246550-6c0d1338-404b-4da0-92b6-4d0025eb2738.PNG)

Edit: Actually it turns out using slash character `/`

[2021-08-04 23:52] SMUsamaShah commented on #12959
I have trouble understanding this. What does it mean by starting and ending at the same point? It sounds like line will be like a loop and table will point to itself which does not make sense.

[2021-08-05 00:19] bianyun1981 commented on #12888
Sorry for the late reply. Sure, I am so happy to help. Dbeaver is really a good software, and this is my honor.

[2021-08-05 01:44] bianyun1981 commented on #12888
@LonwoLonwo I do my best to do the translation, and I hope this helps.

![2021-08-05_082414](https://user-images.githubusercontent.com/17854699/128277120-85c3e2fb-0858-4130-9e75-039a73911cb4.png)

<pre>
(1) Set data transfer settings  ==> 数据传输设置
(2) Extraction settings         ==> 抽取设置
(3) Format settings             ==> 格式设置

(4) Include generated columns   ==> 包含生成的列
        tooltip[Include auto

[2021-08-05 01:53] bianyun1981 commented on #12888
@LonwoLonwo  I found a misuse of Chinese quantifier '个', '条' may be better.

![2021-08-05_094448](https://user-images.githubusercontent.com/17854699/128278434-17d9a798-3c10-477b-9c8e-2166423c853c.png)

[2021-08-05 02:10] www-uu commented on #13410
I find how to reproduce, in any table with primary key, in every time.

1. Open DBeaver.
![图片](https://user-images.githubusercontent.com/7844108/128279723-7f1340eb-1825-4744-bf8c-fc79f967e7b5.png)

2. Open database, open table.  Right now, the key icon is not see.
![图片](https://user-images.githubusercontent.com/7844108/128279298-d24f6d3c-5ed4-4aad-b130-da92a93f9275.png)

3. **Click the "Constraint

[2021-08-05 05:41] Matvey16 commented on #12959
@SMUsamaShah Thank you, I'll try to rephrase that. That basically means that you won't see familiar forks at the ends of one line, but instead there will be multiple lines that all start at the same point attached to first table, continue separately from each other, and then end all at the same point attached to the second table.

[2021-08-05 06:03] Matvey16 commented on #13410
@JH-D Thank you, we will work on that

[2021-08-05 06:35] Matvey16 commented on #13150
@Pranithaevana Yes. But you still haven't answered if you use proxy, because it looks like it is a main issue here and you will need to adjust your preferences

[2021-08-05 06:39] Matvey16 commented on #13157
We have a very different understanding of this feature between our team. Can you please provide a simple and clear use case step by step, so we can be sure that we understood you correctly.

[2021-08-05 06:44] Matvey16 commented on #13239
@WolfX2 So just to clarify, you suggest a feature that will highlight all instances of a specific part of code. Just highlight with a chosen background color, without any changes to text. And this is to help navigating in a long script. Correct?

[2021-08-05 06:54] RamonCar66 commented on #13390
Hello,
After upgrading to 21.1.4, **the issue persists**.

It does not happens always, you're working for a while, and a given point in time you call a PL/SQL and do not see the expected trace. Then, if you invalidate / reconnect, it starts to work again.

I did not notice this problem in version 21.1.2 and earlier.

Kind regards

[2021-08-05 06:54] Matvey16 commented on #13334
@VladimirVarnakov Have you tried using Impala jdbc driver? Because it looks like the Hive driver is not suitable for your database.

[2021-08-05 06:57] Matvey16 commented on #13355
@wiwwo Yeah, it looks like an expected behavior, you have a pending transaction, so it locks the table, it is expected when using manual commit mode.

[2021-08-05 07:25] Matvey16 commented on #13398
@hasanyildiz Unfortunately we can't add this to CSV exports, because it will break the standard layout of csv file, because having additional sheets is not normal for csv format that is usually opened in more basic text editors like Notepad, and will negatively impact the import from it. For now we have exactly this feature for exports into XLSX format. You need to install office support extension

[2021-08-05 07:25] #13398 closed, assigned to nobody

[2021-08-05 08:25] Igor180 commented on #7184
Hello,
This same issue seems to continue in 2021 with Dbeaver version 21.1.4  (02.08.2021).
When trying to alias field names with mixed letters i.e. field_name as "Field_Name" it returns it with all lowercase i.e. field_name.
Any thoughts on how to overcome the issue?

[2021-08-05 08:26] Igor180 commented on #3348
Hello,
This same issue seems to continue in 2021 with Dbeaver version 21.1.4  (02.08.2021).
When trying to alias field names with mixed letters i.e. field_name as "Field_Name" it returns it with all lowercase i.e. field_name.
Any thoughts on how to overcome the issue?

[2021-08-05 08:45] ShadelessFox commented on #13003
Implemented. Works only if you had grid enabled previously (also snaps to grid's size):

![image](https://user-images.githubusercontent.com/35821147/127684960-939646c9-c563-46db-9fec-3652ad4010e6.png)

[2021-08-05 08:47] VladimirVarnakov commented on #13334
Hi @Matvey16, I have successfully connected to this database by other applications with apache hive driver(default driver for this DB) and hive-jdbc-uber. But our test app was fixed by developers due to the same error as described in this issue. So these jdbc drivers are suitable for this DB.

[2021-08-05 08:51] ShadelessFox commented on #9754
Implemented (also z-order is now respected):

![chrome_CVlcew3BcJ](https://user-images.githubusercontent.com/35821147/128159569-b5e9df57-44cb-44ac-8238-ecaa0d92d78a.png)

[2021-08-05 08:56] ShadelessFox commented on #10984
Implemented (you are allowed to pin only top-level attributes):

![image](https://user-images.githubusercontent.com/35821147/128236774-b9eba187-165b-41f3-89bf-e4935bc7fcd1.png)

[2021-08-05 09:08] ShadelessFox opened #13447 "Pinned columns cannot be rearranged"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.1.5

#### Describe the problem you're observing:
Pin more than one column, try to rearrange pinned columns at data grid - columns order remains the same, but it changes in Customize filters pop-up
![2021-01-17_14h08_27](https://user-images.githubusercontent.com/31996417/104838659-8a7e3900-58cd-

[2021-08-05 09:09] ShadelessFox commented on #11022
A separate ticket was created from second issue: #13447

[2021-08-05 09:44] uslss commented on #12508
verified

[2021-08-05 09:47] djsnake81 commented on #13402
Same for sql server

[2021-08-05 10:02] Mrchensama commented on #13402
Yes,we have the same problem with  message "Cannot find target attribute [Index]" when try to import data table to either current database or annother database.
According to mikaelmockel's reply ,i downgrade it to 21.1.3 and it works well . Thank you for your solution ,@mikaelmockel。

[2021-08-05 10:13] djsnake81 commented on #13402
Same for me. Version 21.1.3 working flawless. Thanks @mikaelmockel

[2021-08-05 10:18] Mrchensama commented on #13402
But it sometimes get blocked and keeps waiting for data transform when executing data table import task ,even the table has just a few raws .

[2021-08-05 10:21] velteyn commented on #13153
Hello, I think that I have a similar problem so I write it here.
I put the "Metadata source" to 0 as you suggested but if I do a normal query with AS400 like this:
![immagine](https://user-images.githubusercontent.com/1019294/128333768-0b3687e4-f8e4-44bd-9e9b-4f07beb5f6b5.png)

I obtain the column Labels like this:
![immagine](https://user-images.githubusercontent.com/1019294/128333918-269b7ead-14

[2021-08-05 10:23] velteyn commented on #13153
My DBeaver CE version is

[ DBeaver	21.1.4.202108020335	]

[2021-08-05 10:52] Matvey16 commented on #13399
Verified

[2021-08-05 10:52] #13399 closed, assigned to ShadelessFox, Matvey16

[2021-08-05 10:54] ShadowNev commented on #13390
Hello,
for 21.1.4 with DB2
not working at all too

for example DELETE correctly fill  output tab with messages

[2021-08-05 10:56] uslss commented on #13003
verified

[2021-08-05 10:56] #13003 closed, assigned to uslss, ShadelessFox

[2021-08-05 11:03] uslss commented on #9754
verified

[2021-08-05 11:03] #9754 closed

[2021-08-05 11:13] uslss commented on #10984
verified

[2021-08-05 11:13] #10984 closed, assigned to uslss, ShadelessFox

[2021-08-05 11:39] inliquid opened #13450 "Can't change interaface language to english"
Dbeaver CE 21.1.4 / Win10

My OS language is Russian. Added "-nl en" as instructed by documentation:
[code]

However interface seems to switch only partly. Most of it is still in Russian:
![изображение](https://user-images.githubusercontent.com/6797881/128343450-bd3137c1-4665-47fe-84ec-88dedae0a5a0.png)

Before that I installed it using Windows installer and selecting "English" TWICE during instal

[2021-08-05 11:42] inliquid commented on #13450
Just to add to the last point - after it switched to native OS language, I did complete reinstall with all defaults during installation process. This was just a note.

[2021-08-05 12:14] uslss commented on #13441
thank you for the report

[2021-08-05 12:17] uslss commented on #13443
Unfortunately, dbeaver supports only 64 bit driver version

[2021-08-05 12:57] uslss opened #13453 "Incorrect quotation during export from postgresql to maria"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.1.4

#### Connection specification:
- Database name and version PostgreSQL 12.3, MariaDB 10.3.23

#### Describe the problem you're observing:
Double quotes are used instead of backtick in some cases during data transfer from PostgreSQL to MariaDB
#### Steps to reproduce, if exist:
1. Start export from

[2021-08-05 13:03] saumyasuhagiya commented on #13298
<img width="694" alt="Screenshot 2021-08-05 at 6 34 41 PM" src="https://user-images.githubusercontent.com/2899428/128354639-ee360898-4efc-46d5-ae41-3b95fb5a8ddf.png">

<img width="663" alt="Screenshot 2021-08-05 at 6 29 55 PM" src="https://user-images.githubusercontent.com/2899428/128354397-cd4293f2-d87c-4348-b1a4-3bb6dec79966.png">
<img width="654" alt="Screenshot 2021-08-05 at 6 30 03 PM" src="h

[2021-08-05 13:28] jikeidea opened #13454 "No marketplace entries found to handle Execution"
![image](https://user-images.githubusercontent.com/43924085/128357665-f74cd77e-1603-4ff4-9490-3ba4837e2dcf.png)
An error was reported when importing the project, how can I solve it?

[2021-08-05 13:31] jikeidea commented on #13454
![image](https://user-images.githubusercontent.com/43924085/128358076-43ce22e3-42df-4747-bb81-bab28bc15b79.png)

[2021-08-05 13:56] Matvey16 commented on #13298
@saumyasuhagiya Can you try changing trustServerCertificate to true and see if it helps?

[2021-08-05 14:57] ShadelessFox commented on #12646
Already implemented:

https://user-images.githubusercontent.com/35821147/128372007-e1d90c7e-0e68-4577-9208-5a45c005e28e.mp4

[2021-08-05 14:57] #12646 closed, assigned to ShadelessFox

[2021-08-05 15:48] timharsch commented on #4729
Is this feature in the community edition?  I would like to view CLOBs as PDFs

[2021-08-05 21:40] ftobin opened #13456 "Quick Switch Editor search should find anywhere in tab name"
**Is your feature request related to a problem? Please describe.**
The Quick Switch Editor search dialog (default Ctrl+E) has a largely useless search functionality, since the search is anchored at the beginning of the tab name, which includes the DB name.  For example, if the tab name is `<mydb> scratch.sql`, and I search for `scratch`, no search result pops up -- I have to search for a string an

[2021-08-05 22:12] Drewster727 commented on #6213
I can reproduce this issue with the latest version of dbeaver.

@DenisCasselle I don't have a "Third Party options" section to enable that checkbox on my DSN/ODBC sources in windows. Where can I find this?

[2021-08-06 06:59] kai-morich opened #13457 "Upgrade with less dialogs/clicks"
It's good to have the upgrade download and installation start now from within DBeaver, but there are still a lot of clicks to do:

1. 🟢 close dbeaver to install the update
1. 🔴 select language
1. 🟢 installation welcome
1. 🟡 license
1. 🔴 for anyone / for me
1. 🟢 UAC elevation
1. 🔴 select language
1. 🔴 installer welcome
1. 🟡 license
1. 🔴 components
1. 🔴 target directory
1. 🔴 start menu
1. 🟢 installa

[2021-08-06 07:44] yansolo82 opened #13458 "Results window hiding query on its 1st apparition"
#### Describe the problem you're observing:
The result window is hiding the current query on its 1st apparition, we have go back to the query sheet and scroll down to see the query corresponding to the results

#### Steps to reproduce, if exist:
execute a query which is localized at the end of a query sheet (must have sufficient lines to have scroll)

[2021-08-06 07:45] ShadelessFox commented on #11022
Implemented:

https://user-images.githubusercontent.com/35821147/128324769-32ae1d01-8fd6-4084-bbc2-c7a7c89f3add.mp4

[2021-08-06 08:04] uslss commented on #13458
thank you for the report

[2021-08-06 08:06] uslss commented on #13456
thank you for the suggestion

[2021-08-06 08:30] flambchap commented on #11268
Done.

[2021-08-06 09:11] #13443 closed, assigned to nobody

[2021-08-06 09:45] ShadelessFox commented on #13458
Hello @yansolo82,

This is how it works in most editors, so I'd say it's standard behavior.

What's your suggestion?

[2021-08-06 09:47] uslss commented on #11410
verified

[2021-08-06 09:47] #11410 closed, assigned to flambchap, uslss

[2021-08-06 09:49] uslss commented on #11022
verified

[2021-08-06 09:49] #11022 closed, assigned to uslss, ShadelessFox

[2021-08-06 10:52] uslss commented on #9071
will be tracked in #13127

[2021-08-06 10:52] #9071 closed

[2021-08-06 10:58] uslss opened #13461 "Add Save/Revert/Refresh buttons for Custom ERD"
#### System information:
- DBeaver version 21.1.4

#### Describe the problem you're observing:
It is possible to save changes in the custom erd only using Ctrl+S shortcut or from the main menu (File - Save).
Probably, Save/Revert/Refresh buttons should be shown in UI both for local and custom ERDs
![image](https://user-images.githubusercontent.com/31996417/128500574-1d2885a6-c02b-4ef6-899e-707223d

[2021-08-06 11:04] uslss commented on #9267
will be implemented in the scope of #10765

[2021-08-06 11:04] #9267 closed

[2021-08-06 12:08] ShadelessFox commented on #13382
We refresh only inserted columns by performing query with primary keys as a constraint for optimization purposes.

We can't do the same with default values, since they are expressions and thus may contain function calls and other things that have **side-effects**. Nobody expects DBeaver to launch a rocket upon inserting a new row.

The easiest solution in this situation would be to detect whether

[2021-08-06 12:22] JeroenNienhuis opened #13464 "sql formatting"
Often I have a (very) long sql strings without line breaks (e.g. generated dynamically). There is no problem running the code, but when I want to understand what is written or try to improve the result one long single line is not helpful. The solution is formatting the string by breaking it up in lines and adding indents. In Notepad++ (Windows) I use the Poor manś T-SQL formatter plugin (http://ar

[2021-08-06 12:33] yansolo82 commented on #13458
it's not the standard behavior in intellij or sqldeveloper (even I think it's a recent behavior in dbeaver)

after the result window appears you should recenter the edit window so that we can see the line where the cursor is (and maybe a few more lines)

[2021-08-06 12:34] saumyasuhagiya commented on #13298
thanks worked.

[2021-08-06 12:34] #13298 closed, assigned to nobody

[2021-08-06 13:14] elring opened #13465 "SQL assist/autocomplete does not work with select into"
#### System information:
- OS: Linux Mint 20
- DBeaver: 21.1.4

#### Connection specification:
- Database: Postgresql 12

#### Describe the problem you're observing:
When editing plpgsql function which contains select xxx **into xxx** where xxx, the assist doesn't work (in where block) - ctrl+space has no proposals.

Working assist /autocomplete (select without into):
![obrazek](https://user-image

[2021-08-06 13:48] ShadelessFox commented on #13458
It's standard behavior in IntelliJ. Maybe it's even platform-dependent.

Imagine you have a small script (e.g. 10 lines) located at the very beginning of your SQL editor and you're trying to resize results panel. After expanding the latter, your script will be hidden somewhere above the SQL editor, because SQL editor is now "glued" to the top of results panel.

[2021-08-06 13:57] Matvey16 opened #13466 "Properties for the connection can't be saved"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.1.4

#### Describe the problem you're observing:
If properties are opened by context menu of the connection, a lot of the changes are not saved after closing.

#### Steps to reproduce, if exist:
1. Open connection settings from context menu
2. Edit something in SQL Editor settings
3. Click OK

**Expec

[2021-08-06 14:01] flambchap commented on #13458
That is definitely not a bug. It is a standard behavior on the IntelliJ platform, Eclipse platform, and many other similar applications.

[2021-08-06 14:01] #13458 closed, assigned to nobody

[2021-08-06 14:11] #13355 closed, assigned to nobody

[2021-08-06 14:43] BERRELION opened #13468 "Alter sequence option"
Similar to the truncate options in _Tools_>_Truncate_, an option for sequence operations such as `ALTER SEQUENCE sequence RESTART WITH n;` is always handy.

Is that option already available??
Else taking it into consideration for any future update would really be awesome 😉!

[2021-08-06 15:33] Ishani-Chatterjee opened #13469 "Sidebar arrow for empty folders"
**Problem I face in sidebar**
 I feel that when a folder is empty an arrow should not be shown.
When I click on it only then the arrow disappears.

**What is happening:**
Even If the folder is empty there is an arrow and when I click on it I find the folder is empty, and only then does the arrow disappears

**What is expected (I feel):**
If a folder is empty there should not be any arrow.

**Why i

[2021-08-06 18:22] ShadelessFox commented on #13469
Folder's children are loaded on demand when you expand it, so you can't know whether a given folder contains something or not.

[2021-08-06 18:22] #13469 closed, assigned to nobody

[2021-08-06 21:25] p91paul commented on #13464
Try ctrl+shift+f. It works on the whole script, but if you select some text formatting is applied to the selection only.
There is some configuration in preferences for this feature, and you can also use an external formatter.

[2021-08-07 00:59] lalato commented on #546
+1
What's the latest on this feature?  Is it still planned?

[2021-08-07 06:41] LonwoLonwo commented on #13379
Support of view triggers for Oracle implemented in DBeaver 21.1.5

[2021-08-07 06:45] LonwoLonwo commented on #9179
We added support of sql server logins in DBeaver 21.1.4
And in 21.1.5 we added support of logins creating, renaming and deleting.

[2021-08-07 06:50] LonwoLonwo commented on #12738
Fixed in DBeaver 21.1.5

[2021-08-07 06:51] LonwoLonwo commented on #12345
Fixed in DBeaver 21.1.5

[2021-08-07 06:52] LonwoLonwo commented on #11508
Fixed in DBeaver 21.1.5

[2021-08-07 09:20] MebsSystem opened #13471 "Firebird - Parameter type change from numeric to bigint"
#### System information:
- Operating system (distribution) and version: OSX 11.3
- DBeaver version: 21.1.4
- Additional extensions: null :)

#### Connection specification:
- Database name and version: Firebird 2.5
- Driver name: org.firebirdsql.jdbc.FBDriver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? : null

#### Describe the problem you're observing:
After double clicking to edit procedur

[2021-08-07 16:43] Korov opened #13472 "Mongo can not use sort"
#### System information:
- Operating system (distribution) and version: `Windows 10`
- DBeaver version: `21.1.0.202106090921`
- Additional extensions

#### Connection specification:
- Database name and version： `Mongo 4.4.6`
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? ：`NO`

#### Describe the problem you're observing:

#### Steps to reproduce, if exist:

sql:`db.getCollection(

[2021-08-08 16:10] hoi82 opened #13474 "Importing CSV in Postgresql is too slow."
#### System information:
- Operating system (distribution) and version
- Windows 10
- DBeaver version
- 21.1.4.202108020335
- Additional extensions

#### Connection specification:
- Database name and version
- Postgresql 11.8 (Ubuntu 11.8-1.pgdg20.04+1)
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?
- No

#### Describe the problem you're observing:

 When I import using CSV file

[2021-08-09 05:46] Matvey16 commented on #11268
Verified

[2021-08-09 05:46] #11268 closed, assigned to flambchap, Matvey16

[2021-08-09 05:55] Matvey16 commented on #12129
Verified

[2021-08-09 05:55] #12129 closed, assigned to ShadelessFox, Matvey16

[2021-08-09 06:01] Matvey16 commented on #12352
Verified

[2021-08-09 06:01] #12352 closed, assigned to ShadelessFox, Matvey16

[2021-08-09 06:39] Matvey16 commented on #12824
Verified

[2021-08-09 06:39] #12824 closed, assigned to ShadelessFox, Matvey16

[2021-08-09 07:15] xunxky commented on #13157
it is **common practice to most companies** (that I know) to abide by the following process :

1. in order to **properly separate all stages of development** each of them hold a **copy** (at least in structure) of the relevant **database(s)**.
2. this means there are at least data-sources for the usual stages: **production, testing, development.** (and possibly more)
3. when a particular **query**

[2021-08-09 07:47] flambchap commented on #12926
Fixed.

[2021-08-09 07:56] Matvey16 commented on #13153
@velteyn Hello. How does it look with default metadata source property?

[2021-08-09 08:12] akilovich commented on #11809
Sequences, synonyms, and data types aren't shown as well.

[2021-08-09 08:20] ShadelessFox commented on #13447
Implemented:

https://user-images.githubusercontent.com/35821147/128344503-d5f3833e-6667-4a15-8493-3d10918b0072.mp4

[2021-08-09 08:21] ShadelessFox commented on #12135
Other highlights:
1. All options are now moved into their own group
2. Added delay after changing filter text before refreshing values to avoid spamming DB with queries

https://user-images.githubusercontent.com/35821147/128370049-baecfcff-ccb8-4ad4-b4f8-f06b63fe17aa.mp4

[2021-08-09 09:27] MebsSystem opened #13476 "Option to turn off Code Completion case and white spaces sensitivity"
**Is your feature request related to a problem? Please describe.**

Now Code Completion works like this:
select * from TABLE T where t. --will NOT trigger code completion (cases of aliases don't match)
select * from TABLE T where T. --will trigger code completion (cases match)

Some databases are case sensitive so it's ok.
But sometimes this feature is disabled in database and it will be nice to h

[2021-08-09 09:40] Matvey16 commented on #13447
Verified

[2021-08-09 09:40] #13447 closed, assigned to ShadelessFox, Matvey16

[2021-08-09 09:43] Matvey16 commented on #9179
Verified

[2021-08-09 09:43] #9179 closed

[2021-08-09 10:10] tamarascalva opened #13477 "[Redshift] Show permissions in DDL generates double quotes in wrong place"
**System information:**

- DBeaver version 21.1.4

**Connection details:**
- Database : Redshift
- Cluster version: 1.0.28330
- Driver name: RedshiftJDBC42-no-awssdk-1.2.45.1069 (managed by DBeaver)

**Describe the problem you're observing:**
Wrong group grants after obtaining the DDL of a redshift table with a particular grant over a redshift group. Steps:

1.  Right Click on a table -> Generate

[2021-08-09 10:18] Matvey16 commented on #11508
Verified

[2021-08-09 10:18] #11508 closed, assigned to LonwoLonwo, Matvey16

[2021-08-09 10:19] velteyn commented on #13153
It looks exactly the same (-1)

[2021-08-09 10:43] Matvey16 commented on #13379
Verified

[2021-08-09 10:43] #13379 closed, assigned to LonwoLonwo

[2021-08-09 11:51] Matvey16 commented on #12135
Verified

[2021-08-09 12:08] Matvey16 commented on #12926
Verified

[2021-08-09 12:08] #12926 closed, assigned to flambchap

[2021-08-09 13:34] Matvey16 opened #13479 "Hide passwords from Query Manager after executing ALTER or CREATE USER in SQL Editor"
We already hide passwords from Query Manager if the user is creating through UI, but password is still visible in an query manager if query was executed in SQL Editor.

[2021-08-09 13:35] Matvey16 commented on #12738
Verified
New ticket for password in SQL Editor #13479

[2021-08-09 13:35] #12738 closed, assigned to LonwoLonwo, Matvey16

[2021-08-09 14:53] flambchap commented on #11809
This behavior is expected since triggers 'live' inside tables.

[2021-08-09 14:53] #11809 closed, assigned to flambchap

[2021-08-09 15:05] flambchap commented on #9484
Done.

[2021-08-09 15:37] flambchap commented on #12285
It is not an Eclipse issue. DBeaver exits due to a SIGSEGV outside the Java Virtual Machine in native code.

[2021-08-09 18:52] simmermonr opened #13481 "Navigating references lists relationships multiple times"
#### System information:
- Mac OS Big Sur - V 11.4
- DBeaver Community Version 21.1.4.202108020335

#### Connection specification:
- PostgreSQL 10.10 (Debian 10.10-1.pgdg90+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 6.3.0-18+deb9u1) 6.3.0 20170516, 64-bit (On Docker image)
- Driver name: PostgreSQL JDBC Driver
- Installed on Docker Image clkao/postgres-plv8:10-2

#### Describe the problem

[2021-08-09 19:41] flambchap commented on #12537
Hi @gavvvr. I've tried to reproduce the issue using the official Oracle container for 12c EE, with no success. I suspect that the issue is 11c-specific. Unfortunately, the link to Oracle 11 XE in your recipe above is broken, and I didn't find anything useful on the Oracle website. I'm wondering if could provide some assistance with that. Thank you.

[2021-08-09 19:50] gavvvr commented on #12537
Hi @akilovich,
Yes, unfortunately Oracle website does not provide Oracle 11 XE rpm anymore.
But you can take Oracle 11 rpm from here: https://stackoverflow.com/a/61069731/3581539

[2021-08-10 06:09] Izzyray opened #13483 "When importing CSV with a column name with a period eg S.No the import fails."
#### System information:
- Windows 10
- 21.1.4

#### Connection specification:
- Postgres

#### Describe the problem you're observing:
When importing a csv file, if the csv file contains a column header with a period in it "S.No" vs "SNo", it will fail to import or map properly despite both database column name, and csv column name matching.

It worked fine in 21.1.3.

#### Steps to reproduce, if