[2021-03-31 16:56] #11927 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-03-31 17:05] kseniiaguzeeva commented on #10542
DESC  sorting doesn't work in the Custom filter:
1. Open Custom filter for a table in the ResultSet
2. Set a criteria to order in Custom>Order by _column_name_ DESC

**Expected**: the specified column is sorted DESC
**Actual result**: ASC sorting is applied

[2021-03-31 17:06] sravikrishna3 commented on #8701
can you attach screenshot ?

[2021-04-01 02:37] Montgomeryz opened #11946 "Export as new table DDL issue with SELECT NULL, MySQL"
#### System information:
- Win 10
- 21.0.1.202103211229
- Additional extensions

#### Connection specification:
- MySQL 8
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

#### Select NULL as "abc" generates DDL of CREATE.. "abc VARCHAR NULL," which won't parse. Need VARCHAR(n).

Whilst that's understandable, it is not clear to the user

[2021-04-01 05:18] rgranadino opened #11947 "Toolbar dropdown arrow click area too small"
#### System information:
- Operating system (distribution) and version: MacOS 11.2.1
- DBeaver version: 21.0.1.202103211229
- Additional extensions

#### Describe the problem you're observing:
The "click area" of the drop down arrow is small causing me to accidentally click on the button instead of the drop down.

Here the menu is triggered:

<img width="344" alt="Dbeaver_menu_action" src="https:/

[2021-04-01 06:28] flambchap commented on #11313
Fixed.

[2021-04-01 06:48] kseniiaguzeeva commented on #11853
verified

[2021-04-01 06:48] #11853 closed, assigned to serge-rider, kseniiaguzeeva

[2021-04-01 07:22] robinhe87 opened #11949 "compile error in idea"
hi,I clone the project, and then copy *.iml from dbeaver-idea-project to dbeaver，but it dosn't work.the erros follow image:
![image](https://user-images.githubusercontent.com/37928952/113258052-04836300-92fe-11eb-97b0-f6a844176b43.png)

can you help me,tks.

[2021-04-01 07:35] hilti42 commented on #11379
Hi serge-rider,
the problem is that the tablename has spaces in the name. As following statement:
select * from [Cronus GmbH$KinoTech LotNo Entry] as T1

![image](https://user-images.githubusercontent.com/81740644/113259369-565fc500-92cd-11eb-8314-4c89f2b1e220.png)

if i have a table without spaces in the name it working fine.

Here an working statement:

select from Actsafe$Bin

![image](https://

[2021-04-01 07:45] kseniiaguzeeva commented on #6052
verified

[2021-04-01 07:45] #6052 closed

[2021-04-01 07:49] kseniiaguzeeva commented on #10479
Verified (tested with enabled _Expand navigator tree on connect_)

[2021-04-01 07:49] #10479 closed

[2021-04-01 07:58] kseniiaguzeeva commented on #11313
verified

[2021-04-01 07:58] #11313 closed, assigned to flambchap, kseniiaguzeeva

[2021-04-01 08:05] uslss commented on #11929
verified

[2021-04-01 08:05] #11929 closed, assigned to serge-rider, uslss

[2021-04-01 08:05] kseniiaguzeeva commented on #11698
Thank you, but it was not enoughю Please send also debug log completely https://github.com/dbeaver/dbeaver/wiki/Log-files.

[2021-04-01 08:06] uslss commented on #11936
verified

[2021-04-01 08:06] #11936 closed, assigned to uslss, ShadelessFox

[2021-04-01 08:12] kseniiaguzeeva commented on #11672
Please hover over the lock in the column header and tell what is written in the tooltip.
![110616585-c040ef00-81a5-11eb-8710-5bb2155d9905](https://user-images.githubusercontent.com/51405061/113263956-1a336100-92db-11eb-971c-8895d8ac6483.png)

Do you open the table in SQL Editor or Data Editor? If it is SQL Editor, please write a query which you execute.
Also you can try to upgrade DBeaver version.

[2021-04-01 08:13] uslss commented on #11058
verified

[2021-04-01 08:13] #11058 closed, assigned to uslss, ShadelessFox

[2021-04-01 08:16] kseniiaguzeeva commented on #11712
It is not a bug, the Output panel was redesigned and changed its place. It couldn't be positioned in the old design too. You can resize it.

https://user-images.githubusercontent.com/51405061/113264285-78f8da80-92db-11eb-8a69-6f9d8cfdda21.mp4

[2021-04-01 08:16] #11712 closed, assigned to nobody

[2021-04-01 08:21] kseniiaguzeeva commented on #11762
I cannot reproduce. Please give more details.

https://user-images.githubusercontent.com/51405061/113265056-5ca96d80-92dc-11eb-8b4c-d8a444469014.mp4

[2021-04-01 08:25] kseniiaguzeeva commented on #11762
Managed to reproduce.

https://user-images.githubusercontent.com/51405061/113265536-ed804900-92dc-11eb-836a-ca2a6f8a4e3f.mp4

[2021-04-01 08:30] ShadelessFox commented on #11762
This is the issue with the value panel (not related to gis)

[2021-04-01 08:31] kseniiaguzeeva commented on #11772
Please:
1. send a screenshot what do you see instead of a table
2. send log and debug log files completely https://github.com/dbeaver/dbeaver/wiki/Log-files
3. do you open a table in Data Editor or SQL Editor? If it is SQL Editor, tell the query which you execute.

[2021-04-01 08:37] kseniiaguzeeva commented on #11776
Could you please give more details how the feature looks like/works?
You can do in DBeaver now:
1. Execute a procedure from its context menu
![dbeaver_Q0CsQCT27j](https://user-images.githubusercontent.com/51405061/113266845-62a04e00-92de-11eb-9a45-a293a12d6c40.png)
2. Create a [template](https://github.com/dbeaver/dbeaver/wiki/SQL-Templates) to open a SQL statement

[2021-04-01 08:43] kseniiaguzeeva commented on #11798
Thank you for the idea!

[2021-04-01 08:44] kseniiaguzeeva commented on #11810
Thank you for the idea, we should think about it.

[2021-04-01 08:49] kseniiaguzeeva commented on #11828
Could you please send queries from Query manager (Window>Show view>Query manager). We should understand what DBeaver executes when you change a schema. Enable all query types in it filters.
![dbeaver_eEHMvXvuUj](https://user-images.githubusercontent.com/51405061/113268626-3ede0780-92e0-11eb-9703-305b359134d4.png)

[2021-04-01 08:49] kseniiaguzeeva commented on #11831
Thank you for the suggestion.

[2021-04-01 08:52] LonwoLonwo commented on #11063
Implemented in DBeaver 21.0.2
DBeaver will add indents for OR, AND keywords, if they are first in brackets.

Example:
[code]
Result will be:
![2021-04-01 11_51_40-DBeaver Enterprise 21 0 2 - _none_ Script-17](https://user-images.githubusercontent.com/45152336/113268973-a8f6ac80-92e0-11eb-93e1-bed5d197cfaa.png)

[2021-04-01 08:52] kseniiaguzeeva commented on #11841
Thank you for the report.

[2021-04-01 08:54] LonwoLonwo commented on #10542
Fixed for cases: "Column DESC", "Column1,Column2"

[2021-04-01 08:58] LonwoLonwo commented on #11172
So, this error not from DBeaver side. It is from SQLite side. And I convert this ticket into discussion.

[2021-04-01 08:58] #11172 closed, assigned to LonwoLonwo

[2021-04-01 08:59] kseniiaguzeeva commented on #11845
We need in Thread dump to understand the reason https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump.

[2021-04-01 09:01] kseniiaguzeeva commented on #11872
The idea is really good, we should think how to implement it. Thank you.

[2021-04-01 09:06] kseniiaguzeeva commented on #11878
I understand your question now. I mark the ticket as a feature request.

[2021-04-01 09:13] zkvvoob opened #11951 "Custom application icon overriden by default on MacOS"
#### System information:
- Operating system (distribution) and version: MacOS 11.2.3
- DBeaver version: CE Version 21.0.1.202103211229
- Additional extensions: No

#### Describe the problem you're observing:
When you set a custom icon using the Get Info dialogue box, it is applied; but once DBeaver starts, it overrides the custom icon with its own, which stands out and doesn't match neither the sh

[2021-04-01 09:18] uslss commented on #11951
thanks for the report
closed as duplicate #11557

[2021-04-01 09:18] #11951 closed, assigned to nobody

[2021-04-01 09:21] uslss commented on #11949
Hi @robinhe87 ,
could you try to do it accordingly to [guide](https://github.com/dbeaver/dbeaver/wiki/Develop-in-IDEA)?

[2021-04-01 09:27] kseniiaguzeeva commented on #11812
Similar issues #9875, #9377

[2021-04-01 09:29] serge-rider commented on #11379
@hilti42 this is another issue (see #10858)

[2021-04-01 09:36] kseniiaguzeeva opened #11952 "Respect folding for text actions"
We should respect folding for text actions:
- line and block comments,
- trim spaces
- upper/lower case
- SQL format
- another?

[2021-04-01 09:37] uslss commented on #11276
verified

[2021-04-01 09:37] #11276 closed, assigned to uslss, LonwoLonwo

[2021-04-01 09:58] #11421 closed, assigned to ShadelessFox

[2021-04-01 10:11] pierrecorsini commented on #11063
I love you guys, thanks.

[2021-04-01 10:15] isuruamantha commented on #7597
Restarting the DBviewer helped me

[2021-04-01 10:26] pierrecorsini commented on #11063
@LonwoLonwo I tried to test it again on 21.0.2 but I do not get the same result as you do. Could you please give me the exact vesion where this is fixed ?
![image](https://user-images.githubusercontent.com/50719398/113281132-78fdd800-92e5-11eb-83ae-86cfb6417f60.png)

[2021-04-01 10:32] LonwoLonwo commented on #11063
Hello @pc-robelbois
As you can see on your picture, the release with changes will be April 5th.
Perhaps the changes will appear in early access https://dbeaver.io/files/ea/ (Focus on the date, it must be at least today)

[2021-04-01 10:44] serge-rider commented on #11379
@kseniiaguzeeva let's create another ticket for that minor issues.
Also I think we need to show more detailed information in the details popup (e.g. full list of columns/values).

[2021-04-01 11:06] uslss commented on #11063
verified

[2021-04-01 11:06] #11063 closed, assigned to uslss, LonwoLonwo

[2021-04-01 11:20] kseniiaguzeeva commented on #11379
Ok

[2021-04-01 11:21] #11379 closed, assigned to serge-rider, kseniiaguzeeva

[2021-04-01 11:24] kseniiaguzeeva commented on #10542
verified

[2021-04-01 11:24] #10542 closed

[2021-04-01 11:45] detkliff opened #11957 "wrong information about error in pgsql code"
DBeaver version 21.0.1
Postgresql 12

code:

![изображение](https://user-images.githubusercontent.com/61137576/113289078-2b936200-9309-11eb-85b2-5530cc2f0b27.png)

What is it POSITION 3233? How i can find this position in ma code? Absolutly unusable information.

For example pgAdmin show part of code, when he found the error.

[2021-04-01 12:17] detkliff opened #11958 "DBeaver shut down on a query"
DBeaver 21.0.1
Postgresql 12

This SQL query to any column with string type leads to crash DBeaver

![изображение](https://user-images.githubusercontent.com/61137576/113292526-110fb780-930e-11eb-9ee8-a8b6b804d9b8.png)

[2021-04-01 12:17] detkliff commented on #11958
no problem with this query in another ide

[2021-04-01 12:43] pgodfrin-nov opened #11959 "Select count query fails"
#### System information:
- Windows 10
- DBeaver v21.0.1.202103211229

#### Connection specification:
- Postgres 12.6
- Driver name: org.postgresql.Driver

#### Describe the problem you're observing:
This query is failing:
[code]
with:
SQL Error [57014]: ERROR: canceling statement due to user request

Except there is no user request to cancel the statement. The table has over
a billion rows. this i

[2021-04-01 12:44] ceesvl opened #11960 "Meta refresh broken for non admin users"
Non admin users get a null pointer error when trying to do meta data refresh on Exasol database in any menu/F5 option.

It seems to me  that plugins/org.jkiss.dbeaver.ext.exasol/src/org/jkiss/dbeaver/ext/exasol/model/ExasolDataSource.java. the logic to retrieve a user has getUserHasDictionaryAccess return a non authorize error. A normal user cannot access this SYS table. Maybe it is better to do a

[2021-04-01 12:58] qiqingli opened #11961 "Cannot add data to empty table"
#### System information:
- Operating system (distribution) and version: macOS Big Sur 11.2.3
- DBeaver version: 21.0.1
- Java version: AdoptOpenJDK (build 11.0.10+9)

#### Connection specification:
- Database name and version: Oracle 12c

#### Steps to reproduce, if exist:
Create an empty table, the buttons at the bottom of the result set cannot be operated to add data manually !

![image](https:/

[2021-04-01 13:00] ITHALADQ commented on #7846
It worked well. Click the client button.

[2021-04-01 14:27] LonwoLonwo commented on #11576
Have you try execute this query in SQLEditor manually?
[code]

[2021-04-01 14:32] ShadelessFox commented on #11958
Hello @detkliff,

Can you please post this query as plain text?

Looks like a bug in @JSQLParser library.

[2021-04-01 14:42] LonwoLonwo commented on #10045
Hello @JasonLesser54321
Yes, we are reading procedure definition from table syscomments and text column, which have varchar(255) type. But we are reading each row and gluing all lines in one definition.

So, first - is this problem actual for you in [new DBeaver versions](https://dbeaver.io/)?
Second - clarify you database parameters, please.

[2021-04-01 14:43] ShadelessFox commented on #11957
Hello @detkliff,

This is an offset of the error inside your query. This information is provided by the server, we don't modify this error message. Please refer to #11907 for more information.

When the error appears, editor should move the caret to that position.

[2021-04-01 14:49] LonwoLonwo commented on #11704
Hello @sharathr1
Can you provide example of table DDL and version of your PostgreSQL database? I can't reproduce.
Thanks in advance.

PS: More precisely, while it turned out to be reproduced only when the update occurs with all columns as key.

[2021-04-01 14:58] joshallends commented on #11260
I get the same issue with DBeaver CE (v. 21.0.1) on Mac OS Catalina (v. 10.15.7). Just installed DBeaver today via Homebrew. Fairly certain I run one instance and use the default workspace location.

[2021-04-01 15:36] pweiss82 commented on #6064
Yes, please add this. I would use that everyday!

[2021-04-01 16:24] sharathr1 commented on #11704
CREATE TABLE "public"."AppConfig" (
	 id varchar(25) NULL,
	"type" varchar(100) NULL,
	jsonInfo json NULL
);

[2021-04-01 18:27] wernerdaehn opened #11963 "Hana: create table sql should not contain the CS_... datatypes"
#### System information:
- DBeaver version: 21.0.0

#### Connection specification:
- Database name and version: SAP HANA

#### Describe the problem you're observing:
When you rightclick a table and say "generate ddl" the result looks like this:

[code]

I don't think the CS_LONGDATE and CS_INT should be included in the SQL. The internal column store engine datatype is derived from the database dat

[2021-04-01 18:29] wernerdaehn commented on #11963
@kai-morich @LarsBr May I get your point of view, please? Do I overlook something?

[2021-04-01 18:47] kai-morich commented on #11963
this is not a dbeaver bug.

This info is returned as column definition by the server, so it is ok that dbeaver shows it.
The CS_... types have been removed with HANA Cloud, so there you wont get these any more.

[2021-04-01 18:47] LonwoLonwo commented on #11963
Hello @wernerdaehn
This is result of "CALL get_object_definition(container_name,table_name)" statement.

https://github.com/dbeaver/dbeaver/blob/devel/plugins/org.jkiss.dbeaver.ext.hana/src/org/jkiss/dbeaver/ext/hana/model/HANAMetaModel.java#L183

We can't change it manually.

[2021-04-01 19:56] serge-rider commented on #11143
Probably was fixed in #11194

[2021-04-01 19:57] pgodfrin-nov commented on #11959
I'm not convinced this is an issue with DBeaver. Iget the same error from this:

[code]

[2021-04-01 20:47] ajaygautam commented on #10302
Trying to migrate from DBVisualizer to DBeaver for DB2.
JDBC driver version: 11.5.0.0 (works fine with DBVisualizer)
MacOS: 10.15.6 (office controlled, cannot upgrade)
DBeaver version: 21.0.1 CE

Description: Unable to select schema / expand list of schemas.
Error: when trying to expand the "Schemas" node:

THE DESCRIBE STATEMENT DOES NOT SPECIFY A PREPARED STATEMENT. SQLCODE=-516, SQLSTATE=26501,

[2021-04-02 04:04] wernerdaehn commented on #11963
Thanks.

[2021-04-02 04:04] #11963 closed, assigned to nobody

[2021-04-02 04:26] detkliff commented on #11958
SELECT unnest(regexp_split_to_array(trim(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			replace(
			thav.value,
			' ==', ' = '),
			'>', ' > '),
			'<', ' < '),
			'>=', ' >= '),
			'<=', ' <= '),
			'+

[2021-04-02 04:59] rwichrowski commented on #11776
During my work I often open my sql script file from disk and I read procedures (mssql)
I prepare sample
![image](https://user-images.githubusercontent.com/11941099/113381817-3a692b80-9380-11eb-9636-cee3c569b977.png)
One of my magic procedure is select top 50 from table with I selected
I wish I had a keyboard shortcut to run a stored procedure with the argument I marked
This is a simple example
Tha

[2021-04-02 05:40] detkliff commented on #11845
resource for formula tab is not available, click for this tab
![изображение](https://user-images.githubusercontent.com/61137576/113384256-1537e580-939f-11eb-9d80-d070c50e57c1.png)

and DBeaver is freeze with this procedure

![изображение](https://user-images.githubusercontent.com/61137576/113384071-b3777b80-939e-11eb-85ec-1944e15349f5.png)

no effect when i click to this button when she red color

[2021-04-02 05:55] detkliff commented on #11845
run jstack 8264 > thead-dump.txt in windows 10 task manager

![изображение](https://user-images.githubusercontent.com/61137576/113385560-d0fa1480-93a1-11eb-97ff-ecebb04df93f.png)

[2021-04-02 06:25] detkliff commented on #11958
when trying to just make edits to the query, DBeaver freeze
with this procedure
![изображение](https://user-images.githubusercontent.com/61137576/113387605-102a6480-93a6-11eb-8513-5c3ec27d430b.png)

[2021-04-02 07:15] kseniiaguzeeva commented on #11886
Thank you for the report.

[2021-04-02 08:29] ShadelessFox commented on #11958
Thanks for the feedback.

Unfortunately, that's indeed the third-party issue.

[2021-04-02 08:30] ShadelessFox commented on #11957
If you have any questions left, feel free to ask them here.

[2021-04-02 08:30] #11957 closed, assigned to nobody

[2021-04-02 08:58] vsnikalex commented on #11260
I have the same situation on Big Sur 11.2.3 and DBeaver 21.0.1.202103211229.

[2021-04-02 09:01] vmalyutin commented on #11828
Kseniia, nothing specific. Just "**set search_path**" and then "**show search_path**". After some time (30 seconds or 1 minute) scheme is lost
![set scheme](https://user-images.githubusercontent.com/9856340/113400750-804be100-93cc-11eb-988e-ad8ea63841f1.png)
![scheme is here](https://user-images.githubusercontent.com/9856340/113400759-8641c200-93cc-11eb-8d5d-44f70bcf5295.png)
![no scheme](https://

[2021-04-02 09:15] serge-rider commented on #10549
We probably should add option to switch count calculation on/off.

[2021-04-02 09:20] LonwoLonwo commented on #5483
Reading Sybase functions implemented in DBeaver 21.0.3
They are in Procedures list. And functions also have Source tab with function DDL.
But, unfortunately, function parameters not reading from driver, and I did not find them in system tables.
We will be happy with ideas and suggestions about this.

[2021-04-02 09:22] LonwoLonwo commented on #7394
Double slash comments indicators for Sybase implemented in DBeaver 21.0.3

[2021-04-02 09:35] serge-rider commented on #10549
![image](https://user-images.githubusercontent.com/6398845/113403769-d9f1e280-93af-11eb-88be-1329f37fa66c.png)

[2021-04-02 09:36] serge-rider commented on #10549
![image](https://user-images.githubusercontent.com/6398845/113403807-e6763b00-93af-11eb-9625-447c7880fcbc.png)

[2021-04-02 09:41] LonwoLonwo commented on #11704
@sharathr1 Yes, I see.
We will fix it
As workaround - use real or virtual keys in table, then update statement will use them.

[2021-04-02 09:50] serge-rider commented on #10938
I'm not sure that we can fix it.
You need to turn on option "Read-only connection" to restrict data modification on server side.
Because it is not possible to do this on client-side. Because any stored procedure or function may also do data modifications and only server can check it.

"Edit permissions" restricts explicit data/metadata modification actions on client only.

[2021-04-02 09:53] serge-rider commented on #11804
Yep.
We perform explicit case conversion to the database server default case by default.
You need to enclose in quotes to tell dbeaver that you mean it.

Otherwise too many people create case-sensitive identifiers by mistake.

[2021-04-02 09:53] #11804 closed, assigned to serge-rider

[2021-04-02 09:54] #10938 closed, assigned to serge-rider

[2021-04-02 10:03] flambchap opened #11971 "DBeaver tries to insert null to autogenerated column in data editor when row is empty"
PostgreSQL 12, DBeaver EE 21.0.2-devel.

Suppose we have a table

[code]
Open the data editor and add a row that consists of two nulls. Insert fails with an error. But if we provide some not null value for `text` column, insertion proceed as normal.

[2021-04-02 10:27] flambchap opened #11973 "Filters don't work for enum types"
PostgreSQL 12, DBeaver EE 21.0.0, macOS 11.2.3.

Suppose we have a enum type and a table:

[code]
Fill the table with data. Open the data editor and try to apply a filter on the `mood` column. Possible values for filtering will be duplicated, the data editor will be closed with an error when applying the filter.

[2021-04-02 10:28] PerfKeeper opened #11974 "Scroll down or up using mouse wheel in the list of databases displayed in connection menu"
**Is your feature request related to a problem? Please describe.**

Hi
I'm always frustrated when selecting a database from the list of databases displayed in connection menu (see picture below)...

**Describe the solution you'd like**
Just offer mouse wheel scrolling down / up inside this list please,

Thanks in advance.
Best regards

*Additional context**
Add any other context or screenshots abo

[2021-04-02 10:33] flambchap opened #11975 "Focus issues with custom enum editor in data editor"
PostgreSQL 12, DBeaver EE 21.0.0, macOS 11.2.3.

Suppose we have a enum type and a table:

[code]

1. It's almost impossible to set a value of the `mood` column to the first value (`sad`).
2. When choosing a value in the enum combo, the focus stays on the combo even if we click on some other parts of the grid.

Those 2 things make it quite difficult to use enum combos on a grid.

[2021-04-02 10:53] flambchap opened #11976 "Tile layer definition saves without line delimeters"
Add a tile layer with some fake definition like
[code]
Save it, restart DBeaver and reopen the definition. Now it looks like this:

[code]

We need to save it with line delimeters, but also provide backward compatibility with already entered definitions.

[2021-04-02 11:49] imavo commented on #7250
This ticket should be closed.

Because the symptom is caused by a deliberate change by IBM .

There is no possible change in dbeaver than can alter this behaviour .

IBM  no longer supports the specific kind of authentication (data_encrypt) in Db2, and it has been removed from the code.

So applications that try to use that style will instead get an exception (sqlcode -4223 DH key size must be mul

[2021-04-02 11:50] #7250 closed

[2021-04-02 13:40] kseniiaguzeeva opened #11977 "SQL column value auto-completion issues"
Column completion improvements should be made:
1. Auto-assist doesn't show integer values out of the first limited batch.
https://user-images.githubusercontent.com/51405061/113176784-879cae80-9255-11eb-9372-a0868955d210.mp4

2. Auto-assist list jumps to its beginning when you scroll to its end
https://user-images.githubusercontent.com/51405061/113176926-aa2ec780-9255-11eb-876b-49de6787e428.mp4

3.

[2021-04-02 15:02] elring opened #11978 "Generate SQL for column with comment creates invalid DDL"
#### System information:
- OS: Linux Mint 20
- DBeaver version: 21.0.2 EA

#### Connection specification:
- Database: Postgresql 12

#### Describe the problem you're observing:
Function Generate SQL DDL for any column (with comment) creates invalid DDL - with semicolon inside comment.

#### Steps to reproduce
Use any table, for example
[code]
Try to get DDL only for column testchar (right click on

[2021-04-02 15:10] elring opened #11979 "Generate DDL for whole table is missing column comments"
#### System information:
- OS: Linux Mint 20
- DBeaver version: 21.0.2 EA, 21.0.0

#### Connection specification:
- Database: Postgresql 12

#### Describe the problem you're observing:
The DDL function (DDL tab) in table detail for table with columns with comments doesn't create those comments.

#### Steps to reproduce
Use any table, for example
[code]
Try to get DDL for whole table. Use the tab D

[2021-04-02 16:14] rpalloni opened #11980 "Connection to PostgreSql in Docker is working but tables are not displayed"
#### System information:
- Ubuntu 20.04
- DBeaver 21.0.1

#### Connection specification:
- PostgreSql 12

#### Describe the problem you're observing:

Docker command is showing table and data in console but when using DBeaver connection works but no tables are displayed.
sudo docker exec -t -i -u postgres db psql
\dt --> list of tables

In the immage below you see the connection ok but no tables

[2021-04-02 19:05] parthipank commented on #11772
Here's the error log
`java.lang.NumberFormatException: For input string: "1008901015118442374100"
	at java.base/java.lang.NumberFormatException.forInputString(Unknown Source)
	at java.base/java.lang.Long.parseLong(Unknown Source)
	at java.base/java.lang.Long.parseLong(Unknown Source)
	at com.dbeaver.db.dynamodb.DynamoDBUtils.getRawNumber(DynamoDBUtils.java:154)
	at com.dbeaver.db.dynamodb.DynamoDB

[2021-04-02 19:07] parthipank commented on #11772
@kseniiaguzeeva Here is the complete log file
[.log](https://github.com/dbeaver/dbeaver/files/6250948/default.log)

[2021-04-02 21:35] yanike commented on #1361
On Ubuntu 20.04 LTS using MySQL:
- Make sure mysql-client is installed and mysql-server (always good to have both for local development).
- You can install them using terminal `sudo apt-get install mysql-client` and `sudo apt-get install mysql-server`
- Open DBeaver. If you are reading this and don't have DBeaver installed, you can get it using software manager. I recommend Flatpak ( https://flatp

[2021-04-03 16:11] kwloafman commented on #9974
This also occurs in LiClipse, an Eclipse derivative.  It is not limited to Java since all of my projects are in Python or C++.  It's annoying to have a clean explorer window, then an explosion of open projects.  I can 'close unrelated' projects, but the bug rears its ugly head sometime later.  I have not tracked down what actions cause it, or how it decides that DBeaver has to open some unrelated

[2021-04-04 08:25] ghost opened #11981 "Tabbed result panes separated"
Not sure this is a bug. I don't how but somehow the Results tab has split into separate panes. I cannot find a way to put them all back into the one tabbed 'page' like it used to be.

![image](https://user-images.githubusercontent.com/72906479/113502978-867bc200-9572-11eb-9775-5b38a9b80070.png)

Please can someone advise how to get the panes into one tabbed result window?

Thanks

Windows 10 19041

[2021-04-04 09:22] ololomp commented on #8930
same =(

[2021-04-04 11:30] dxps opened #11982 "Current line background"
Dear all,

Can somebody provide some help, please? I used this tool and I'd like to keep using and promoting it.
In a new Linux distro setup and with a new DBeaver release, I just discovered that I cannot set the current line bg.

**Context:**
- using DBeaver version `21.0.1.202103211229`
- with _Theme:_ `System` and _Color and Font theme:_ `Default (current)`

**Issue**
- As you can see in the sc

[2021-04-04 14:21] LonwoLonwo commented on #11981
Hello @PaulSlater25 this is separate output tab https://github.com/dbeaver/dbeaver/issues/10683

![104336564-98b30a80-5505-11eb-91f8-7af1d2145704](https://user-images.githubusercontent.com/45152336/113511735-18cb9800-956a-11eb-9c4e-22b198b66c0b.png)
You can turn it off in preferences->Editors->SqlEditor

[2021-04-04 14:21] #11981 closed, assigned to nobody

[2021-04-04 14:35] LonwoLonwo commented on #11979
hello @elring
Table and column comments are not default part of table DDL, so we added button "Show comments" in table tab "DDL" and in Generate->DDL

![2021-04-04 17_32_14-DBeaver Enterprise 21 0 2 - reminders](https://user-images.githubusercontent.com/45152336/113512181-1a965b00-956c-11eb-8ac6-e046c11ba368.png)

![2021-04-04 17_33_46-DBeaver Enterprise 21 0 2 - reminders](https://user-images.git

[2021-04-04 16:00] elring commented on #11979
OK, my mistake. It works, I just didn't noticed the settings. I'm sorry :)

[2021-04-04 16:18] #11979 closed, assigned to nobody

[2021-04-04 16:33] catpreneur commented on #5620
For those wondering, there's an appimage for DBeaver available here https://apprepo.de/appimage/dbeaver

[2021-04-04 16:43] LonwoLonwo commented on #11978
Thanks for the bug report @elring
We will fix it in next releases.

[2021-04-04 17:10] LonwoLonwo commented on #11381
Hello @roccopietrini "calculate column width by cell values" setting not really about it.

![2021-04-04 19_56_07-Preferences](https://user-images.githubusercontent.com/45152336/113516163-73242300-9581-11eb-8835-dffa5d62b7a5.png)

But you can use "Columns width: fit values". Right click on column name in Data Viewer.

![2021-04-04 20_03_09-DBeaver Enterprise 21 0 2 - film](https://user-images.githu

[2021-04-04 17:29] LonwoLonwo commented on #11140
It's not a bug. MySQL sort by the primary key by default. And PostgreSQL - don't.
DBeaver read table data just with "Select * from tableName", no ordering.

But we can add extra option for default ordering on PK ant then read table data with "Select * from tableName ORDER BY PK_name"

[2021-04-04 22:47] yan-hic opened #11985 "Teradata: Trigger and procedure created with extra break lines"
Using 21.0.1

For instance, for a trigger created from a clean SQL in SQL Editor (I have enabled the whitespace view to highlight the line delimiters) as:
![image](https://user-images.githubusercontent.com/25224265/113523250-a7ddad80-9574-11eb-8a6c-066c0b41ab05.png)

shows in the table properties, under Triggers like so:
![image](https://user-images.githubusercontent.com/25224265/113522773-541d950

[2021-04-05 07:41] #11770 closed, assigned to flambchap

[2021-04-05 07:56] serge-rider commented on #11052
We could try 1st approach, e.g. highlight column name background. Similarly to how we do it for selected words.

[2021-04-05 08:01] serge-rider commented on #10914
This is Eclipse-specific issue.
We will try to upgrade Eclipse version to 2021-03.

[2021-04-05 08:21] LonwoLonwo commented on #11807
I can't reproduce in DBeaver 21.0.2
Waiting for steps.

[2021-04-05 08:28] serge-rider commented on #11140
We could an option "Sort by primary key" in data viewer preferences.

[2021-04-05 08:50] LonwoLonwo opened #11986 "[Informix] Data viewer do not show data for tables in system DB."
DBeaver 21.0.2

After this fix https://github.com/dbeaver/dbeaver/issues/11590#issuecomment-810044898 https://github.com/dbeaver/dbeaver/commit/5d7ec5c96af2f281c0fd6462224da15946d91091 system databases in Informix do not show data for tables, because to read data from these tables, we need to use the name of the database on the path to the table.
We need a better solution.

[2021-04-05 09:23] LonwoLonwo opened #11987 "Add new section "Format" in Edit menu."
![2021-04-05 11_43_56-Window](https://user-images.githubusercontent.com/45152336/113559247-b32ee880-9609-11eb-9201-d45c7397dc23.png)

[2021-04-05 09:24] serge-rider commented on #10887
It is Eclipse-specific and it happens when theme in DBeaver doesn't match theme in OS (i.e. light OS theme + dark DBeaver theme).

Possibly will be fixed with next Eclipse version upgrade.

[2021-04-05 09:39] SnowPowerCore commented on #10887
No, i have both themes matching: OS theme is dark & DBeaver appearance theme is set to dark too.

[2021-04-05 09:54] tati-kru commented on #11971
Works as expected

[2021-04-05 09:54] #11971 closed, assigned to flambchap

[2021-04-05 11:57] serge-rider commented on #11164
Unfortunately it won't be easy to implement.

[2021-04-05 12:01] GuillaumeGuerra commented on #5754
hi @serge-rider,

I was hoping to see this feature delivered as part of one of recent DBeaver releases.
Yet, I can see it's getting postponed everytime.

Do you know roughly when can we expect it to be available ?

Again, thanks a lot for the development, it'll be a great benefit for us 👍

[2021-04-05 12:05] ShadelessFox commented on #10619
Fixed in the scope of #10858. Fell free to comment here if you still have any questions left.

[2021-04-05 12:05] #10619 closed

[2021-04-05 12:39] flambchap commented on #10078
I can not reproduce this issue against the current DBeaver version on Fedora. If the issue is still actual for anyone, feel free to reopen it.

[2021-04-05 13:06] kseniiaguzeeva commented on #10858
Verified (the issue still exists for column name: will be added to #11977)

[2021-04-05 14:18] ShadelessFox commented on #11144
Fixed.

![KZy78SWgWu](https://user-images.githubusercontent.com/35821147/113583938-ef2a7380-9632-11eb-8173-08e6531c971a.png)

[2021-04-05 14:26] elring opened #11989 "Copy table & column doesn't preserve default column values"
OS: Linux Mint 20
Dbeaver: 21.0.2
DB: PostgreSQL 12

After table copy (for example Ctrl+C and Ctrl+V in table list) new table doesn't have column default values.

Original table:
[code]
After Ctrl+C and Ctrl+V the table has no default values and DDL looks like:
[code]

[2021-04-05 16:01] kseniiaguzeeva commented on #10549
verified

[2021-04-05 16:01] #10549 closed

[2021-04-05 16:15] dimkas78 opened #11992 "Long running query finishes on the database and repeats by DBeaver"
#### System information:
- Operating system (distribution) and version - MS Windows 10 Pro 64 bit
- DBeaver version -  21.0.0.202102281712

#### Connection specification:
- Database name and version - Greenplum 6.14
- Driver name - PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
I have a problem, which looks like  #7759, but

[2021-04-05 17:00] serge-rider opened #11994 "Migrate to Eclipse 2021-03"
We need to migrate all product builds to Eclipse 2021-03

[2021-04-05 17:01] serge-rider commented on #10914
Eclipse updated in #11994

[2021-04-05 17:24] joshallends commented on #11260
Issue has, for me at least, disappeared after upgrade from 21.0.1 to 21.0.2.

[2021-04-05 17:24] joshallends commented on #11260
Issue has, for me at least, disappeared after upgrade from 21.0.1 to 21.0.2.

[2021-04-05 21:31] p91paul commented on #11992
Something similar happened to me as well. However, it was just once and I never reproduced it, but it was exactly as described.
For me, it was on Oracle.

[2021-04-06 02:48] acodervic opened #11995 "postgresql Unable to create array"
postgresql Unable to create array

#### System information:
- ubuntu 20
![深度截图_选择区域_20210406104506](https://user-images.githubusercontent.com/57204004/113652003-9b1c9f00-96c5-11eb-891a-9e19fb9ca3cf.png)

- untimate 21.0.0.0

When I try to create a new table or modify the original table fields, an error occurs

[2021-04-06 05:33] garex commented on #8281
@uslss Do we have any news on this? Because I wanna upgrade, but I dont' wanna loose this disabled feature.

[2021-04-06 07:42] uslss commented on #11701
verified

[2021-04-06 07:42] #11701 closed, assigned to serge-rider, uslss

[2021-04-06 07:43] rokopi-byte commented on #11381
Hello, my context menu looks different, I don't have that entries. I have version 21.0.2 now.

![Screenshot from 2021-04-06 09-37-41](https://user-images.githubusercontent.com/23717373/113676219-77089000-96bc-11eb-9d37-f3c683c7c705.png)

[2021-04-06 07:47] uslss commented on #7394
verified

[2021-04-06 07:47] #7394 closed

[2021-04-06 07:51] uslss commented on #5483
verified

[2021-04-06 07:51] #5483 closed

[2021-04-06 08:27] ducklingasa opened #11996 "Error downloading installation file during automatic version upgrade"
#### System information:
- Windows 10 Enterprise, 1909
- DBeaver version 21.0.1.202103211229 (portable zip)
- Java (built-in): openjdk version "11.0.5" 2019-10-15
- Additional extensions: DBeaver Office Support

#### Describe the problem you're observing:
During the Upgrade to version 21.0.2 the new version seems to be downloading (the percentage is going up), then the following error message appe

[2021-04-06 08:39] ducklingasa commented on #11996
Also, based on the debug log it tries to download the "https://dbeaver.io/files/dbeaver-ce-latest-x86_64-setup.exe" file, which is not really useful to upgrade the portable zip version.

[2021-04-06 08:40] uslss commented on #11989
thanks for the report

[2021-04-06 08:41] uslss commented on #11985
thanks for suggestion

[2021-04-06 08:43] uslss commented on #11974
thanks for suggestion

[2021-04-06 08:43] LonwoLonwo commented on #11995
Hello @YU5Z8X2CvH1fv4ep
Thanks for the bug report. We will fix it.

As workaround, you can turn on setting for reading all PostgreSQL data types, including array types.
In connection settings -> PostgreSQL tab -> "Read all data types"

![2021-04-06 11_29_28-DBeaver Enterprise 21 0 2 - NewTable](https://user-images.githubusercontent.com/45152336/113682347-b9859900-96cb-11eb-97d4-8c13168d721d.png)

[2021-04-06 08:54] LonwoLonwo commented on #11987
New section in Edit menu added.

![113588878-58ad8080-9639-11eb-9092-40c6bcf6dc50](https://user-images.githubusercontent.com/45152336/113685228-b213bf00-96ce-11eb-9406-4bb6fa630fdd.png)

Also with "Trim spaces" and "Morph to delimited list"

[2021-04-06 08:55] ShadelessFox commented on #11996
Hello @ducklingasa,

Thanks for the report. I cannot reproduce this issue, maybe it was a temporary error.

I agree, we download installation file and run it, not respecting the type of current DBeaver installation.

I don't know what solution for zip would be better. You can create a separate issue based on https://github.com/dbeaver/dbeaver/issues/11996#issuecomment-813942251.

[2021-04-06 08:55] uslss commented on #10983
seems it was EA version that is available here https://dbeaver.io/files/ea/

[2021-04-06 08:55] #10983 closed, assigned to nobody

[2021-04-06 08:55] kseniiaguzeeva commented on #11992
Do you insert data using query in SQL Editor?
Could you please give me table DDL example and a query to reproduce.
Please send also log files https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-04-06 08:56] qiqingli commented on #11961
Is there any plan to fix this problem？ @uslss

[2021-04-06 08:57] uslss commented on #10896
There is no update on an issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-04-06 08:57] uslss commented on #11419
There is no update on an issue for a long time.
If it is still actual for you - feel free to reopen an issue with an additional info

[2021-04-06 08:57] #11419 closed, assigned to nobody

[2021-04-06 08:58] uslss commented on #11020
There is no update on an issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-04-06 08:58] #11020 closed, assigned to nobody

[2021-04-06 08:59] uslss commented on #11512
There is no update on an issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-04-06 08:59] #11512 closed, assigned to nobody

[2021-04-06 08:59] uslss commented on #9386
There is no update on an issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-04-06 08:59] #9386 closed

[2021-04-06 09:03] uslss commented on #11573
There is no update on an issue for a long time.
If it is still actual for you - feel free to reopen an issue with an additional info

[2021-04-06 09:03] #11573 closed, assigned to nobody

[2021-04-06 09:06] uslss commented on #10833
Feel free to reopen an issue if it reproduces again

[2021-04-06 09:06] #10833 closed, assigned to nobody

[2021-04-06 09:07] uslss commented on #11623
There is no update on an issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-04-06 09:07] #11623 closed, assigned to nobody

[2021-04-06 09:07] uslss commented on #10952
There is no update on an issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-04-06 09:07] #10952 closed, assigned to nobody

[2021-04-06 09:08] #11617 closed, assigned to nobody

[2021-04-06 09:08] uslss commented on #11610
There is no update on an issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-04-06 09:08] #11610 closed, assigned to nobody

[2021-04-06 09:08] uslss commented on #11396
There is no update on an issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-04-06 09:08] #11396 closed, assigned to nobody

[2021-04-06 09:18] uslss commented on #6846
@dominijk could you check if the feature request is still actual for you against the recent version (21.0.2)?

[2021-04-06 09:20] uslss commented on #9320
Seems that x32 ODBC DSN setup was used.
Dbeaver supports only x64 odbc connections

[2021-04-06 09:21] #9320 closed

[2021-04-06 09:23] uslss commented on #9379
There is no update on issue for a long time.
If it is still actual for you - feel free to reopen an issue.

[2021-04-06 09:23] #9379 closed

[2021-04-06 09:27] #11391 closed, assigned to nobody

[2021-04-06 09:27] kseniiaguzeeva commented on #11961
Cannot reproduce it.
1. Hover over a lock on a column header and tell what is written in the pop up message (it explains, why it is read-only).
![Screenshot 2021-04-06 at 12 26 57](https://user-images.githubusercontent.com/51405061/113689856-6fa0b100-96d3-11eb-917f-4ec3d99ecb8b.png)
2. Do you have permissions to edit tables?
![Screenshot 2021-04-06 at 12 25 18](https://user-images.githubuserconten

[2021-04-06 09:29] uslss commented on #11543
@jyoisamu what driver do you use?

[2021-04-06 09:40] qiqingli commented on #11961
1. I have permissions to edit tables.
2. I created a new table and opened it with select * from table.
3. I found the source of the problem, the newly created table needs to be refreshed before adding data.
4. After creating a new table, can dbeaver automatically refresh the data?
![image](https://user-images.githubusercontent.com/20805098/113691535-18b0d100-96ff-11eb-89fa-771cf22390b0.png)

[2021-04-06 09:45] kseniiaguzeeva commented on #11959
I can execute both statements. Please try the same with another table. Maybe something useful can be found in log files https://github.com/dbeaver/dbeaver/wiki/Log-files

[2021-04-06 09:53] kseniiaguzeeva commented on #11961
We are going to implement auto-refresh in 21.1.1 release in https://github.com/dbeaver/dbeaver/issues/6398

[2021-04-06 10:06] LonwoLonwo commented on #11986
Fixed for CE and EE version. Now "Omit catalog name" setting is false by default, but could be turned on in Driver settings.

![2021-04-06 13_06_01-Connection _stores_demo_ configuration](https://user-images.githubusercontent.com/45152336/113694862-f0ae7700-96d8-11eb-9c89-1820f28541af.png)

[2021-04-06 10:08] jimrandell opened #12001 "Field Mapping Dialog: Field Order"
_Hello and thanks for your time. I don't know if this is a Bug or a Feature Request.  I hope this isn't a duplicate issue, I have searched the docs and issues boards but could not find an answer._

#### System information:
- Operating system Microsoft Windows [Version 10.0.19041.867]
- DBeaver version  21.0.0.202103102007
- Java version 11.0.5
- No Additional extensions

#### Connection specificat

[2021-04-06 10:09] ShadelessFox commented on #11153
Implemented:
![java_jywDSVuvOA](https://user-images.githubusercontent.com/35821147/113695169-3e2ae400-96d9-11eb-8a65-f8e0dcbdc322.png)

[2021-04-06 10:17] flambchap commented on #10370
Implemented for PostgreSQL, SQL Server, Oracle, Exasol, and MySQL.

[2021-04-06 10:43] pkirkaas opened #12003 "Persist SQL Console between sessions?"
I often create multiple one-line queries to examine table data in the SQL console. I don't need to persist them in separate SQL files, but when I close DBeaver & re-open it, my other tabs (tables, etc) are present, but the SQL console is gone, and I have to re-enter my simple, standard queries.

Other tools like SQLYog do this.  In the Preferences/Editors/SQL Editor settings, I have selected "Auto

[2021-04-06 11:04] riednyko commented on #10098
For reading private keys in ~/.ssh you need to manually connect the plugin
`sudo snap connect dbeaver-ce:ssh-keys` for access to private keys
and
`sudo snap connect dbeaver-ce:ssh-public-keys` for access to public keys.

Or you can use the solution written above by @AlainBenbassat

[2021-04-06 11:04] #10098 closed

[2021-04-06 11:58] kseniiaguzeeva commented on #11947
Thank you for the report.

[2021-04-06 12:11] kseniiaguzeeva commented on #11946
Please write steps to reproduce and full query you use.

[2021-04-06 12:11] uslss commented on #12001
thank you for suggestion

[2021-04-06 12:16] uslss commented on #12003
@pkirkaas , you can create just one SQL script with your queries, and it will be available in the future (also after app restart).
![image](https://user-images.githubusercontent.com/31996417/113709427-22303e00-96eb-11eb-92a8-9eb32f6c26b9.png)

SQL console was implemented for those queries that will be needed during current session and will not be needed by the user in the future, so it cannot be s

[2021-04-06 12:34] pgodfrin-nov commented on #11959
Hi – Yeah it’s a 1.5 billion row table. Is there a way to run on verbose debugging to get a better error message?

[2021-04-06 12:47] kseniiaguzeeva commented on #11939
Thank you for the report but the problem is in external Editor. As I see DBeaver shows the content completely.
![Screenshot 2021-04-06 at 15 52 56](https://user-images.githubusercontent.com/51405061/113713579-2f036080-96f0-11eb-9715-27ae04b0f656.png)

[2021-04-06 12:48] serge-rider commented on #5754
SQL Server driver 9.2 was published, official documentation was updated (https://docs.microsoft.com/en-us/sql/connect/jdbc/connecting-using-azure-active-directory-authentication?view=sql-server-ver15)

Eventually MFA authentication works (thru web browser).
You can test it in the Early Access version.

Note: you will need to update driver libraries version to 9.2+ manually in the driver settings d

[2021-04-06 12:48] J3m5 commented on #9698
I'm experiencing the same problem with flatpak.
Should I open an issue for flatpak specifically ?

[2021-04-06 13:00] georgethemarmot commented on #11748
Hi, export from query results.
Thanks

[2021-04-06 13:33] ducklingasa commented on #11996
Hi @ShadelessFox,

Thanks for checking this out, I did several tests in the morning when I had the issue all the time, but now it's gone.
Though, will create a separate feature request for [#11996 (comment)](https://github.com/dbeaver/dbeaver/issues/11996#issuecomment-813942251).

[2021-04-06 13:33] #11996 closed, assigned to nobody

[2021-04-06 13:42] serge-rider commented on #8167
Fixed.

@vityank After all I've decided to make new limit transformer specifically for Vertica. See 0d654fd21696ecaa4e5b70c684bb99ecd96cf989 .
I partially used code from your PR, thank you for the contribution.

[2021-04-06 14:15] mtelgkamp commented on #11939
When I open dbeaver and open the file even without opening any database connection it looks like this:

![screenshot after loading test file](https://user-images.githubusercontent.com/33117529/113725026-3710cf80-96f3-11eb-9134-47d500c46e02.png)

[2021-04-06 15:31] dimkas78 commented on #11992
Actually, I insert data from external table through PXF protocol, which is specific to Greenplum DB.
My query looks exactly like this:

`INSERT INTO target_table_name SELECT * FROM external_pxf_table;`

Maybe you can reproduce this problem using some another very slow (or big) data source.
I think it is only one special condition - query should run at least 30 minutes.

Part of DBeaver's log submi

[2021-04-06 16:32] izno33 commented on #10768
I had the same issue on Windows. It seems related to the path to user data containing certain characters (non-ASCII, space...).
In my case, it was a "`é`" that got transated into "`%C3%A9`".
As a workaround, I created a symlink to my user folder using the "expected" name (`C:\Users\xxx%C3%A9` => `C:\Users\xxxé`). It seems to do the trick with last version (21.0.2).

[2021-04-06 16:59] UlrichDemlehner commented on #10768
I guess it would help if you give more details for your workaround e.g. in which directory specifically did you create the symlink? I have a lot of directories where I could create it ...

[2021-04-06 17:23] vityank commented on #8167
Great.
Thanks.

[2021-04-06 17:26] cygnim commented on #10768
This would definitely explain the problem as my username has a space in it. Hopefully this will be fixed as these characters are valid.

[2021-04-06 18:54] tkorach commented on #10858
Issue still exists for a table name with spaces:

![image](https://user-images.githubusercontent.com/38960214/113763626-e21b8c00-96e7-11eb-8f61-20200c486da5.png)

![image](https://user-images.githubusercontent.com/38960214/113763670-f2336b80-96e7-11eb-8e6f-b930ab77d994.png)

[2021-04-06 19:16] steveoh commented on #10903
I have what I think is the same issue with postgresql

[code]

[code]

[2021-04-06 19:56] jetzerb opened #12004 "MSSQL Code Completion Issues"
#### System information:
- Windows 10
- DBeaver version 21.0.2.202104042040
- No additional extensions

#### Connection specification:
- Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
- Microsoft JDBC Driver for SQL Server
- Not using tunnels or proxies (SSH, SOCKS, etc)

#### Describe the problem you're observing:
This is a continuation of issue #10065:
Code completion does not always offer

[2021-04-06 20:46] LonwoLonwo commented on #11807
Fixed.

[2021-04-06 20:48] serge-rider commented on #10858
The fix will be added in version 21.0.3 (see milestone info).
Or you can download the Early Access version.

[2021-04-06 22:51] ShadelessFox commented on #11116
Fixed:
![image](https://user-images.githubusercontent.com/35821147/113787497-ce9e0e80-9743-11eb-97d1-b08669cb4bfa.png)

[2021-04-06 23:14] Montgomeryz commented on #11946
select 10 'id', null 'abc';
Executue > Export From Query > Database
Mapping = Create, generates DDL of:

The DDL handling NULL value is not valid MySQL, generating:

)

I was using 21.0.2.202104042040 for this query.

[2021-04-07 00:02] podoni opened #12008 "Can not edit result cell."
#### System information:
- Windows 10.
- Dbeaver 21.0.2

#### Connection specification:
- Oracle 18c
- Jdbc

There is a problem when modifying the data result grid after Dbeaver 21.0.2 update.
If a column is specified in the SELECT statement, it cannot be modified. If the entire column is specified (*), it can be modified.
It was a problem that didn't exist in previous versions.

Please refer to t

[2021-04-07 00:15] jyoisamu commented on #11543
It is Mysql5.

[2021-04-07 00:39] jyoisamu commented on #11543
@uslss
The server specs are not high.
So does this mean that it takes a long time to execute this function?

[2021-04-07 01:58] welldone217 opened #12009 "how to exec long sql file."
it is 660000 rows. copy to sql editor,dbeaver will die.

[2021-04-07 02:34] lzb-libra opened #12010 "Time selection plugin for the field in the time format"
Hello, developers of dbeaver, I am a loyal user of dbeaver, but recently I found some places that are not very traversed during the process of using it. I will list two for the time being
1. The data exported by dbeaver is not exported to excel, or the function is hidden too deeply, I haven't found it.
2. I hope to add a time selection plug-in to the field in the time format. I always feel that it

[2021-04-07 02:45] yjd commented on #11891
why？ @serge-rider

[2021-04-07 03:32] lleeoo commented on #8895
I was not on VPN, but did not realise that I was behind a proxy server. Paused it, everything worked fine, resumed it. Worth checking.

[2021-04-07 05:30] wernerdaehn opened #12011 "Support remote source creation"
A very important feature of many databases is data federation: The ability to point to external databases and execute federated queries. As all of this is handled within the database, querying such external tables is no problem for DBeaver. The creation of such tables is.

In SAP Hana this is a very important feature and it would be a huge plus for DBeaver if the creation of remote sources would b

[2021-04-07 06:26] GuillaumeGuerra commented on #5754
Hi @serge-rider ,

Thanks a lot for the update ! 🙏

I gave a round of testing with the EA version, updating sqlserver jdbc driver to 9.2.1.jre8
When I try to connect using MFA, it gives me a `com.sun.net.httpserver.HttpHandler` exception, with not much additional information.
I don't see any browser opening.

I'll just wait for next stable version of DBeaver to be released to try again 🤞

Thanks a

[2021-04-07 06:47] #11980 closed, assigned to nobody

[2021-04-07 07:22] wernerdaehn opened #12012 "Procedures with multiple result tables - Very important for SAP Hana"
#### System information:
- Win 10
- DBeaver 21.0.0

#### Connection specification:
- SAP Hana

#### Describe the problem you're observing:
In SAP Hana almost all procedures have multiple output parameters of type table. When I call such like this one

[code]

in DBeaver, the first table parameter is shown but the second is not.

While less common in other databases, it can happen there as well!

F

[2021-04-07 07:38] p91paul commented on #12010
for 1, you need to install office plugin.
https://github.com/dbeaver/dbeaver/wiki/Optional-extensions

The EE version also includes it by default.

[2021-04-07 08:10] lzb-libra commented on #12010
Thanks for your answer, my first question has been perfectly solved

[2021-04-07 08:12] acodervic commented on #11995
it  works! thanks!

[2021-04-07 08:13] #11995 closed, assigned to LonwoLonwo

[2021-04-07 08:17] uslss commented on #11987
verified

[2021-04-07 08:17] #11987 closed, assigned to uslss, LonwoLonwo

[2021-04-07 08:29] uslss commented on #11807
Error appears on table opening.
[code]

[2021-04-07 08:50] kseniiaguzeeva commented on #11144
verified

[2021-04-07 08:50] #11144 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-04-07 08:50] kseniiaguzeeva commented on #11116
verified

[2021-04-07 08:50] #11116 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-04-07 08:53] uslss commented on #8167
verified

[2021-04-07 08:53] #8167 closed

[2021-04-07 08:54] serge-rider commented on #12008
Seems to be a side effect of #11194

[2021-04-07 08:57] serge-rider commented on #12008
Fixed

[2021-04-07 09:54] pkirkaas commented on #12003
Thank you, just what I wanted!

[2021-04-07 09:59] Pranithaevana opened #12016 "Check for update option is throwing as "Perhaps the network connection is down?" in DBeaver Community 21.0.2 & 21.1.2"
We are trying to deploy DBeaver Community 21.0.2 firm wide.  I could see the attached error when i click on "Help" -> "check for updates"

![error for DBeaver](https://user-images.githubusercontent.com/82090197/113847686-56703100-97b5-11eb-8549-f1359aaa98a0.JPG)

It should ideally say that there are no updates when we click on check for updates.
![DBeaver previous verion](https://user-images.githu

[2021-04-07 10:09] ShadelessFox commented on #11660
Implemented:
![java_4pRqKI7ZLn](https://user-images.githubusercontent.com/35821147/113839927-d5a33c00-9798-11eb-8ace-8be6f0caf9fd.png)

[2021-04-07 10:34] p0m1d0rka opened #12018 "It will be great not to clean /usr/share/dbeaver/dbeaver.ini after update"
Hello!
I ussually add in **/usr/share/dbeaver/dbeaver.ini**  line **-Duser.timezone=UTC**
It works fine, but after every update I should again add this like because this file resets to default state = (
Can you merge or save old dbeaver.ini after update?

My update path:
- download dep package
- sudo dpkg -i dep_package

TY

[2021-04-07 10:46] uslss commented on #11660
verified

[2021-04-07 10:46] #11660 closed, assigned to uslss, ShadelessFox

[2021-04-07 10:47] #11807 closed, assigned to uslss, LonwoLonwo

[2021-04-07 11:17] uslss commented on #12008
verified

[2021-04-07 11:17] #12008 closed, assigned to serge-rider, uslss

[2021-04-07 11:35] JRRS1982 commented on #8863
Same issue here - but was not a snap install - error opening directory, permission denied error.

[2021-04-07 11:36] #12003 closed, assigned to nobody

[2021-04-07 11:39] unlysted opened #12021 "Opening Scripts by default in the SQL Editor"
I have a problem with my install of DBeaver.
Originally when I clicked on files in the Projects Window, they opened in the SQL Editor.
Now when I click on files in the Projects Window, they open in the Projects Window instead of the SQL Editor.

I would like to know how to get them to open by default in the SQL Editor.

I have searched forums and the web but haven't found any solutions.
I have als

[2021-04-07 11:41] uslss commented on #12021
@unlysted , which dbeaver version do you use? could you provide a screenshot or video with an issue?

[2021-04-07 11:47] kseniiaguzeeva commented on #11946
Thank you for the report.

[2021-04-07 11:53] kseniiaguzeeva commented on #11939
Please send a video how do you do it. I cannot reproduce such behavior.

[2021-04-07 12:01] n8falke opened #12022 "Invalidate/Reconnect resets active catalog/schema to default"
#### System information:
- Windows 10
- DBeaver version 21.0.2.202104042040
- with git

#### Connection specification:
- Database: Oracle 12.1.0.2
- Driver: com.oracle.database.jdbc:ojdbc8:RELEASE 12.2.0.1

#### Describe the problem you're observing:
Reconnect by button, menu > Database > Invalidate/Reconnect or by network timeout resets active schema to default of connect instead of chosen.

####

[2021-04-07 12:04] LonwoLonwo commented on #10059
@gerhard81

`SELECT * FROM TABLE ( "SYSPROC".ADMIN_GET_MEM_USAGE(:null))` does not work for me

but `SELECT SCHEMA_NAME.FUNCTION_NAME(:PARAM1) FROM SYSIBM.SYSDUMMY1` is much better.

This call function method is mentioned in the documentation on z/os https://www.ibm.com/docs/en/db2-for-zos/11?topic=objects-creation-user-defined-functions but works for LUW to.

[2021-04-07 12:16] LonwoLonwo commented on #10110
Hello @slavus
I do not see other good table statistics reading solutions. Perhaps you have suggestions?

Also you can disable reading of table statistic in connection view settings:
![2021-04-07 15_13_12-](https://user-images.githubusercontent.com/45152336/113865017-473cb380-97b4-11eb-83eb-a9d21149b5de.png)

[2021-04-07 12:20] ShadelessFox commented on #11628
Implemented:
![java_ANeZtKJ2om](https://user-images.githubusercontent.com/35821147/113865493-d21dae00-97b4-11eb-947c-3c3bd4b4f4d4.png)

[2021-04-07 12:30] ricgavira opened #12023 "Inválid Rows fetched"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.0.2

#### Connection specification:
- Database name and version: SQLServer 2012

#### Describe the problem you're observing:

SQLEditor with 7 statements, the result1 show 0 row(s) fetched, but exist 54 rows in the grid.

It is probably showing the affected lines from the last tab.

Thanks

[2021-04-07 12:33] kseniiaguzeeva commented on #12022
Thank you for the report.

[2021-04-07 13:14] serge-rider commented on #11909
I didn't find any Java drivers for Firebase.
Potentially we could use REST API but it will require quite a lot of effort.

[2021-04-07 13:41] LonwoLonwo commented on #10543
https://www.ibm.com/docs/en/db2-for-zos/11?topic=columns-string-data-types DB2 types which support modifiers after data type name.

[2021-04-07 13:44] serge-rider commented on #5754
@GuillaumeGuerra please make sure you are using Azure driver (not classic SQL Server driver).
Also check that all Maven artifacts were downloaded:
![image](https://user-images.githubusercontent.com/6398845/113876494-78bb7c00-97c0-11eb-8ece-0d80878863d6.png)

[2021-04-07 14:59] rvwoens opened #12025 "Just clicking on a database in the database navigator immediately re-associates the current scirpt"
#### System information:
- MacOS
- 21.0.2.202104042040 and older

#### Connection specification:
- multiple

#### Describe the problem you're observing:
Just clicking on a database in the database navigator immediately re-associates the current script in the current tab with this database. This re-association seems to be permanent because when closing the tab and reopening the script, the wrong da

[2021-04-07 15:10] maffe commented on #11576
Yes I have, the syntax is not valid:
[code]

[2021-04-07 15:22] GuillaumeGuerra commented on #5754
Hi @serge-rider ,

Thanks a lot for the support.

I'm using this setup, which looks fairly similar to yours I think

![image](https://user-images.githubusercontent.com/9720053/113891269-35afd780-97c5-11eb-9cef-54e9b5c92381.png)

![image](https://user-images.githubusercontent.com/9720053/113891226-27fa5200-97c5-11eb-9949-4a6b6dd82dfb.png)

I gave a try with **9.2.0.jre8**, with same error, so I sti

[2021-04-07 15:51] LonwoLonwo commented on #11461
Hello @armandoclasslife
Can you provide more details please?
May be, some pictures?

May be this setting is enabled?
![2021-04-07 18_50_32-DBeaver Enterprise 21 0 2 - reminders](https://user-images.githubusercontent.com/45152336/113895999-31d68200-97d2-11eb-964b-e5ccf2506ac1.png)

[2021-04-07 15:55] kseniiaguzeeva commented on #11518
Looks like a driver issue. Please try to upgrade on another one from SAP source.

[2021-04-07 16:20] jetzerb opened #12028 "Code Completion Incorrectly Suggests SQL Objects Within String Literals"
#### System information:
- Windows 10
- DBeaver version 21.0.2.202104042040
- No additional extensions

#### Connection specification:
- Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
- SQL Server
- No tunnels or proxies (SSH, SOCKS, etc)

#### Describe the problem you're observing:
When typing a string literal, code completion offers column names and functions/procs as suggestions. This is a

[2021-04-07 16:36] eequalsmcaputo opened #12029 "Externalbrowser re-authenticating for every new Query Editor file"
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version: 21.0.1
- Additional extensions: None

#### Connection specification:
- Database name and version: Snowflake
- Driver name: JDBC
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
I just moved to a new laptop. I connect to Snowflake from DBeaver using

[2021-04-07 17:04] serge-rider commented on #5754
Forgot to mention that you must switch auth mode to MFA:
![image](https://user-images.githubusercontent.com/6398845/113906038-7a933880-97dc-11eb-9959-41736e244cb7.png)

[2021-04-07 17:19] armandoclasslife commented on #11461
Hi,

It is very simple.

Now there are 2 options:
1- fit the column width to the screen (Columns width: fit screen)
2- fit the column width to the content (Columns width: fit values)

So there should be an option where both the column name and the column
content are visible.

So if the column name has 100px of width and its content (the maximum of
all rows) is 150px, the column width should be the

[2021-04-07 17:23] pencilcheck commented on #290
Still happening on latest version

[2021-04-07 17:28] guilherme-gm commented on #11643
**Edit:** I'm using DB2 LUW driver (just noticed now that the original post was about am3)

I was having the same issue after updating to version 21.0.2. I was on a version from last year (it was still on the old logo that looks like a workbench) and I'm not sure if I installed it after updating to BigSur or before.

The files were in the folder but I was getting 'operation not permitted', just li

[2021-04-07 18:11] GuillaumeGuerra commented on #5754
Hi,

Yes that's the very first setting I changed.
I confirmed that I was using the early access thanks to this new value in the combo 😊

[2021-04-07 18:16] cmuellerbeyond commented on #3816
Please support the schema registry coming with kafka out of the box - What essentiall happens is that the "kafka" is scanned for the right datasets when a query is run. A good "limit" needs to be chosen if the query should not run for hours. Also a "live" view would be nice.

[2021-04-07 18:35] guilherme-gm commented on #11643
Another case that a friend of mine ran into was that she actually didn't have the file, but after creating it, macOS didn't request for permission to use it and was getting the 'operation not permitted' error until she restarted the machine, in the next start of DBeaver it asked for permission and started working fine.

By the way, both cases I'm posting were using sslTrustStore for DB2 LUW driver

[2021-04-07 20:30] serge-rider commented on #12028
Thanks for the bug report. It is a side effect of #11379 fix

[2021-04-07 23:20] hfcheng66 commented on #9414
same issue here for HOME/END buttons for go to line start/end.
DBeaver Version 21.0.2.202104042040 on Catalina version 10.15.7.
restart DBeaver fixes it, but issue comes back after sometime.

[2021-04-07 23:57] amarvin opened #12031 "Data Transfer from HANA to PostgreSQL suggests to transfer a DECIMAL field to an INT4 field"
#### System information:
- Windows 10
- DBeaver version 7.1.4.202008021649

#### Connection specification:
- SAP HANA and PostgreSQL
- JDBC
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

The Data Transfer tool is great for copying a table from one database to another, but sometimes suggests the wrong field type when the two database technologies

[2021-04-08 00:40] qiqingli opened #12032 "Wrong formatting if there are comments in the SQL statement"
#### System information:
- Operating system (distribution) and version：macOS Big Sur 11.2.3
- DBeaver version: 21.0.2
- Java version: AdoptOpenJDK (build 11.0.10+9)

#### Connection specification:
- Database name and version：Oracle 12c
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
![image](https://user-images.githubusercontent.com/20805098/11395

[2021-04-08 03:26] June11227 opened #12033 "cannot create a database in DB2 Z/OS connection for "unable to find valid certification path to requested target""
#### System information:
- Operating system (distribution) and version
- DBeaver version **21.0.1**
- Additional extensions

![image](https://user-images.githubusercontent.com/82075280/113963970-2714ff00-985d-11eb-9007-3feff8b5d59a.png)
![image](https://user-images.githubusercontent.com/82075280/113963988-3005d080-985d-11eb-92d8-0dc20b89136c.png)
![image](https://user-images.githubusercontent.com/

[2021-04-08 06:33] niudehua opened #12034 "Mac ce version display problem"
#### System information:
- Operating system (distribution) and version   macOS 11.2.3
- DBeaver version       CE 21.0.2

#### Description ：
the system table  of information_schema appears in the view
![image](https://user-images.githubusercontent.com/36468944/113979267-9b5c9c00-9877-11eb-9965-5f447aae3a78.png)

[2021-04-08 06:57] kseniiaguzeeva opened #12035 "PrestoDB: NPE appears after converting NULL varbinary values to geometry"
#### System information:
- Operating system (distribution) and version Mac Big Sur
- DBeaver version Dbeaver 21.0.2

#### Connection specification:
- Database name and version PrestoDB(MySQL)

**STR**:
Open table mysql.sakila.places_1 and convert column1 with NULL values to geometry format

**Expected**: Null values remain in cells without changes
**Actual result**: NPE appears in cells instead of

[2021-04-08 07:17] kseniiaguzeeva commented on #11153
verified

[2021-04-08 07:17] #11153 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-04-08 07:26] kseniiaguzeeva commented on #11560
Please press **Test connection** in Connection settings and send a screenshot of a result. The pop up shows additional details about the connection.
![Screenshot 2021-04-08 at 10 25 09](https://user-images.githubusercontent.com/51405061/113985438-d1d4ef80-9854-11eb-93f8-ded0a031a877.png)

[2021-04-08 07:31] LonwoLonwo opened #12036 "[PostgreSQL] return main array types in data types list."
PostgreSQL is a special database that has a huge list of data types.
Now we read standard data types (int4, varchar, time etc.), add aliases (like serial) and user data types.
Yo can enable reading of all data types in connection settings.

Now we need to return to the main list of types - basic array data types (_int4, _varchar, _time etc.).

[2021-04-08 07:32] kseniiaguzeeva commented on #11776
Thank you. We should think about other places, where such shortcuts can be useful too.

[2021-04-08 07:36] kseniiaguzeeva commented on #11845
Sorry, my advice was incomplete. Embedded DBeaver Java cannot do it. Can I ask you to install Java manually and get Thread dump https://github.com/dbeaver/dbeaver/wiki/Making-a-thread-dump?

[2021-04-08 07:40] zolovey opened #12037 "Syntax highlighting for local variables in SAP ASE and SAP IQ"
Please implement highlighting of local variables for SAP ASE and SAP IQ

Local variables have @ (at) sign in the front of the variable name

[SAP documentation on local variabes](https://help.sap.com/viewer/a898e08b84f21015969fa437e89860c8/LATEST/en-US/a50dbfab84f21015b2e4da36a3467308.html)

Example:
[code]

[2021-04-08 07:41] kseniiaguzeeva commented on #11888
DBeaver connects to dbeaver.io to get info about version upgrade. You can disable version check in Window>Preferences>User interface
![Screenshot 2021-04-08 at 10 40 47](https://user-images.githubusercontent.com/51405061/113987313-ef0abd80-9856-11eb-865f-ce8b37b7a700.png)

[2021-04-08 07:41] #11888 closed, assigned to nobody

[2021-04-08 07:46] kseniiaguzeeva commented on #11889
You can add Eclipse plugin for color themes https://marketplace.eclipse.org/content/eclipse-color-theme via Help>Install new software. Please try it.

[2021-04-08 07:48] kseniiaguzeeva commented on #11901
Please write step by step how do you perform the export (from query, Data Editor, tasks..), which export settings do you use (e.g. compress)?

[2021-04-08 07:52] kseniiaguzeeva commented on #11905
Thank you for the suggestion. It should be implemented together with https://github.com/dbeaver/dbeaver/issues/9717

[2021-04-08 07:52] LonwoLonwo commented on #11576
Have you try another driver?
Seems to be driver issue, unfortunately.

![2021-04-08 10_51_15-Connect to a database](https://user-images.githubusercontent.com/45152336/113988772-77d62900-9858-11eb-9d06-a285d442be56.png)

[2021-04-08 07:55] adminsyszg commented on #7813
reproduceble in version  21.0.2.202104042040

C:\Users\a\AppData\Roaming\DBeaverData\drivers\clients\postgresql\win\12\pg_restore.exe --verbose --host=10.3.14.4 --port=5432 ****** --data-only --format=c --dbname=a13dev

Task 'PostgreSQL restore' started at Thu Apr 08 10:52:38 MSK 2021
pg_restore: warning: restoring tables WITH OIDS is not supported anymore
pg_restore: warning: ftell mismatch with

[2021-04-08 08:12] digitaldutch commented on #10768
Same here. After every upgrade I have to delete .eclipse. I too have a name with a space in it which is replaced with %20 and the message:

Registry Directory not available: C:\Users\Jan%20Derk\.eclipse\org.jkiss.dbeaver.product_21.0.1_1535670467_win32_win32_x86_64\p2\org.eclipse.equinox.p2.engine\profileRegistry.

And yes indeed the directory "C:\Users\Jan%20Derk" does not exist. It must be "C:\U

[2021-04-08 08:17] LonwoLonwo commented on #10543
Fixed for Exasol and DB2. Now length/precision of column are changing in case of column type (from text to numeric, from date to binary etc.) modification.

[2021-04-08 08:26] kseniiaguzeeva commented on #7563
Similar ticket for MariaDB https://github.com/dbeaver/dbeaver/issues/3293

[2021-04-08 08:27] kseniiaguzeeva commented on #4293
Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/3400. We are going to implement it after 21.1.0 release.

[2021-04-08 08:27] #4293 closed

[2021-04-08 08:28] kseniiaguzeeva commented on #11922
Closed as duplicate of https://github.com/dbeaver/dbeaver/issues/3400. We are going to implement it after 21.1.0 release.

[2021-04-08 08:33] LonwoLonwo commented on #7032
Now indexes are read in table DDL as well as main part with columns, constraints etc.
They are read at any DDL format (both in FULL and compact).
Changed reading comments. Now we do not request a database for them, and read comments on the object and object columns on your own. To avoid errors in logs for those objects that have no comments.

[2021-04-08 08:33] kseniiaguzeeva commented on #11923
Please tell does your query return a result when you do not use WHERE (SELECT * FROM chequesout)?

[2021-04-08 08:35] kseniiaguzeeva commented on #11925
Please restart DBeaver and try again. Does it help?

[2021-04-08 08:35] uslss commented on #11628
verified

[2021-04-08 08:35] #11628 closed, assigned to uslss, ShadelessFox

[2021-04-08 08:36] uslss commented on #11673
verified

[2021-04-08 08:36] #11673 closed, assigned to uslss, ShadelessFox

[2021-04-08 08:36] kseniiaguzeeva commented on #11931
Please send [log files](https://github.com/dbeaver/dbeaver/wiki/Log-files). Is your database in-memory?

[2021-04-08 08:39] kseniiaguzeeva commented on #11932
Unfortunately we do not support this platform.

[2021-04-08 08:41] kseniiaguzeeva commented on #11959
Log files will help us to do it. Could you send them https://github.com/dbeaver/dbeaver/wiki/Log-files?

[2021-04-08 08:43] kseniiaguzeeva commented on #11982
We will implement it in 21.1.2.

[2021-04-08 08:46] uslss commented on #10543
verified

[2021-04-08 08:46] #10543 closed

[2021-04-08 08:53] sk-dataocean-online commented on #11925
It doesn't. I have updated it to 21.0.2 but the issue remains. I also have some other strange issues that happened a few months ago and still persist:

1. An attempt to select part of a text or part of a table by mouse (dragging) results in the selection from the very beginning to the start of the selection. The only workaround is to hold shift and make a second click.
2. Click at the column heade

[2021-04-08 09:18] kseniiaguzeeva commented on #10858
verified

[2021-04-08 09:18] #10858 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-04-08 09:26] kseniiaguzeeva opened #12043 "Hyperlink doesn't appear for table names with spaces"
#### System information:
- Operating system (distribution) and version Mac Big Sur
- DBeaver version DBeaver 21.0.2

#### Steps to reproduce, if exist:
1. Write a select query in SQL Editor for table with a space in its name e.g. PostgreSQL.postgres.test_review
`SELECT * FROM "test_ fk";`
2. Hold Ctrl/Cmd and hover over the table name

**Expected:** the table hyperlink appears and table can be ope

[2021-04-08 09:31] ShadelessFox commented on #11719
Hello @noschang,

After future investigation we concluded that it is not possible to implement, unfortunately. Accent-insensitivity is a tricky thing that depends on the collation settings which vary between databases.

It is better to create a separate FR from your request, so we can track it in the future.

[2021-04-08 09:35] kseniiaguzeeva opened #12044 "Auto-completion doesn't work for column names with spaces"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.0.2

#### Steps to reproduce, if exist:
Write a query with a space in a column name and try to auto-complete a column value. E.g. in PostgreSQL postgres.test_review `SELECT * FROM sal s where "test space" =;`

**Expected**: column values appear in auto-suggestion list
**Actual result**: table columns ap

[2021-04-08 09:38] uslss commented on #12034
https://dev.mysql.com/doc/refman/8.0/en/information-schema-introduction.html

So it is expected behavior in this case

[2021-04-08 09:38] #12034 closed, assigned to nobody

[2021-04-08 09:43] uslss commented on #12032
thanks for the report

[2021-04-08 09:47] uslss commented on #12031
thanks for the report
In 21.0.2 Decimal field is suggested to the varbit field

[2021-04-08 09:49] uslss commented on #12025
@rvwoens please, uncheck Auto-sync connection with navigator option in main menu
![image](https://user-images.githubusercontent.com/31996417/114006125-d6a39e80-9868-11eb-966b-57d7caee69f7.png)

[2021-04-08 09:53] uslss commented on #12023
@ricgavira could you provide screenshots/video with an issue?
Table DDL and query examples also will be very useful for issue investigation

[2021-04-08 10:07] kseniiaguzeeva commented on #12035
verified

[2021-04-08 10:07] #12035 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-04-08 10:47] dizzygit commented on #12043
Few more problems with table (and column) names containing spaces:
- double clicking on one word at "TEST TABLE" selects only this word, not whole table name
- F4 (Open declaration) on selected table name in editor searches only by first word: F4 on selected "TEST TABLE" will open declaration of table named TEST (if it exists)
This applies to table names with double quote: "TEST TABLE" as well as

[2021-04-08 10:54] kseniiaguzeeva commented on #11994
verified

[2021-04-08 10:54] #11994 closed, assigned to serge-rider, kseniiaguzeeva

[2021-04-08 11:37] ricgavira commented on #12023
![Screenshot_1](https://user-images.githubusercontent.com/11458628/114019934-ffae3a00-983c-11eb-8a84-79a9026f5a23.png)

There are 7 queries in the same sqleditor, each one opens in a tab. Only the first tab contains data, the other 6 are empty.

[2021-04-08 11:45] rvwoens commented on #12025
Thats it! Have looked for hours in preferences but did not find this. Why this option is default ON (and even exists) is really surprising, as nobody wants this ON in real life situations.

[2021-04-08 11:45] #12025 closed, assigned to nobody

[2021-04-08 11:56] ricgavira commented on #12023
![Screenshot_2](https://user-images.githubusercontent.com/11458628/114022398-b7444b80-983f-11eb-8aaa-3348ca87a7e4.png)

Tab 1 with two records, Tab 2 Empty

The status displayed on the first tab is referring to the result of the second tab

[2021-04-08 12:33] LonwoLonwo commented on #12037
Thanks for suggestion!

[2021-04-08 12:34] pgodfrin-nov commented on #11959
See attached. FYI: this is a 1.5 billion row table. The database is a docker container running in a pod in EKS.

pg

From: Kseniia ***@***.***>
Sent: Thursday, April 8, 2021 3:42 AM
To: ***@***.***
Cc: Godfrin, Philippe E ***@***.***>; ***@***.***
Subject: [EXTERNAL] Re: [dbeaver/dbeaver] Select count query fails (#11959)

Use caution when interacting with this [EXTERNAL] email!

Log files will he

[2021-04-08 13:06] amarvin commented on #12031
Thanks! I'll try the newer version.

[2021-04-08 13:29] pgodfrin-nov commented on #11959
Did you get the files?

From: Kseniia ***@***.***>
Sent: Thursday, April 8, 2021 3:42 AM
To: ***@***.***
Cc: Godfrin, Philippe E ***@***.***>; ***@***.***
Subject: [EXTERNAL] Re: [dbeaver/dbeaver] Select count query fails (#11959)

Use caution when interacting with this [EXTERNAL] email!

Log files will help us to do it. Could you send them https://github.com/dbeaver/dbeaver/wiki/Log-files?

—
You

[2021-04-08 14:44] chan18 opened #12048 "Java heap space"
#### System information:
![image](https://user-images.githubusercontent.com/13510817/114046469-7d5a6000-98a6-11eb-90e3-c6ed4fc43024.png)
- DBeaver version: Version 21.0.0.202103021012
- Additional extensions: NON

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:
Java heap space

[2021-04-08 14:57] piposeimandi commented on #4521
lo venia usando y de un dia para el otro  no ejecuta mas  , probe reinstalar y no lo soluciona .

[2021-04-08 15:10] brasio commented on #11931
Thanks. Database is HSQL embedded. I have checked all log files. The only entrance is in metadata\\.log:

!ENTRY org.eclipse.ui 4 0 2021-04-08 16:57:46.484
!MESSAGE Unhandled event loop exception
!STACK 0
java.lang.OutOfMemoryError: Java heap space

!ENTRY org.jkiss.dbeaver.model 4 0 2021-04-08 16:57:59.452
!MESSAGE Event loop exception
!SUBENTRY 1 org.jkiss.dbeaver.model 4 0 2021-04-08 16:57:59.4

[2021-04-08 15:49] LonwoLonwo commented on #11390
Hello @danilort
We use column name for WHERE clause that the database with another metainformation returns to us. And this is 'campo1' in this case, unfortunately.
Also according [MySQL documentation](https://dev.mysql.com/doc/refman/8.0/en/select.html):

Although I understand that HAVING really works in this case.

The computation of WHERE value occurs earlier than the SELECT, in contrast to the

[2021-04-08 15:50] N1GHTR4NG3R opened #12049 "Allow MFA"
**Describe the solution you'd like**
When I tried to connect to my database, through SSH, I was unable to connect due to an extra layer of security, mainly google authenticator, even with a user that has google authenticator disabled, due to the server still "Checking" and matching the user to permissions.

It would be really good if dbeaver allowed for MFA, checking for keyboard_interactive AFTER

[2021-04-08 15:59] danilort commented on #11390
Hello Lon.
No, I have no other ideas.
If you want, you can close the ticket.
Thank you for your work.

Danilo

[2021-04-08 16:44] LonwoLonwo commented on #11461
I not sure, that I understand you correctly.

We have some standards for columns width. On default we use _fit screen_ - that you can see, when open table.

You can see all content on default columns in case, when this is some text column, when you are using _fit values_. If we have column name 50 px and content 100px - this column will be 100px. If we have column name 100px and content 50px - thi

[2021-04-08 16:50] armandoclasslife commented on #11461
as you can see on the screenshot, this is not true.

selecting fit values, you don't see the entire column names

regards

On Thu, 8 Apr 2021 at 18:44, Anastasiya ***@***.***> wrote:

--
*Armando Loscos*
Classlife Education
***@***.***
www.classlife.education
(+34) 935 436 174
​

Este mensaje va dirigido, de manera exclusiva, a su destinatario y puede
contener información confidencial y sujeta al

[2021-04-08 16:50] armandoclasslife commented on #11461
I am using it on Linux.

On Thu, 8 Apr 2021 at 18:50, Armando Loscos ***@***.***>
wrote:

--
*Armando Loscos*
Classlife Education
***@***.***
www.classlife.education
(+34) 935 436 174
​

Este mensaje va dirigido, de manera exclusiva, a su destinatario y puede
contener información confidencial y sujeta al secreto profesional, cuya
divulgación no está permitida por Ley. En caso de haber recibido est

[2021-04-08 16:51] armandoclasslife commented on #11461
so it fits to the content but not to the max(content,column)

On Thu, 8 Apr 2021 at 18:50, Armando Loscos ***@***.***>
wrote:

--
*Armando Loscos*
Classlife Education
***@***.***
www.classlife.education
(+34) 935 436 174
​

Este mensaje va dirigido, de manera exclusiva, a su destinatario y puede
contener información confidencial y sujeta al secreto profesional, cuya
divulgación no está permitida p

[2021-04-08 17:33] LonwoLonwo commented on #11642
Hello @danilort

First of all in this case:
`SELECT * FROM oggetti ORDER BY id ASC, nome`
The values of the 'nome' column will not be sorted, because sorting the second column from the order depends on the grouping of the values of the first specified column in ORDER BY case - which is not grouped, because it is id.

As example.

id    |     Name
---------------
1     |     Willy
3     |     Alla

[2021-04-08 17:33] #11642 closed, assigned to LonwoLonwo

[2021-04-08 17:34] LonwoLonwo commented on #12036
Implemented. Also array types is now in the end of possible data types list for the column.

[2021-04-08 17:49] els-pnw commented on #11579
@serge-rider that's correct, the workaround in the past was to install the pkg instead of the dmg; however, pkg is no longer available.

The other issue here is that I must use keytool to add the cert after every upgrade.  Is there no way to package this up such that the Java security/cacerts is NOT overwritten.  This seems like something that should be doable and this is the root of the issue, wi

[2021-04-08 18:58] LonwoLonwo commented on #11461
Where can I see screenshot?

[2021-04-08 19:57] TheBoatyMcBoatFace opened #12051 "Error when creating new table"
dBeaver is giving me errors when I try to create a new table

#### System information:
- Mac OS Big Sur 11.2.3
- DBeaver version: Version 21.0.2.202104042040
- Current install via Homebrew

#### Connection specification:
- Localhost MariaDB
- MySql 10.5.9
- No tunnels or proxy, localhost

#### Describe the problem you're observing:

When I try to create a new table, I get an error. I have been cre

[2021-04-08 20:16] smeagol152 commented on #10887
Hello, is this issue fixed with Eclipse migration?

[2021-04-08 20:41] serge-rider commented on #10887
Not yet.
There are related Eclipse bugs:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=562043
https://bugs.eclipse.org/bugs/show_bug.cgi?id=566280

Looks like DBeaver misses new E4 bundle which may fix the problem on Windows 10.

[2021-04-08 21:05] LonwoLonwo commented on #11381
@roccopietrini you need to use right click on column name, not on the cell width data.

[2021-04-08 22:17] sig-steve opened #12053 "Changing a user's password does not correctly escape all characters"
#### System information:
- Ubuntu 20.10
- DBeaver: 21.0.1.202103211229
- Additional extensions: None as far as I'm aware

#### Connection specification:
- MariaDB 10.1
- MariaDB
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:

Changing the password on a user does not correctly escape all characters.

#### Steps to reproduce, if exist:

Connect to

[2021-04-08 23:08] clockback commented on #11652
It would still be preferable to see the connection string. It is not always easy to intuit how to construct such a string from a template which doesn't have _direct_ correspondence.

[2021-04-09 04:10] rossholmberg opened #12054 "Insert lower case not respecting upper case in variable names"
I prefer to use lower case for keywords, so I have the `Insert case` -> `lower` option active (under `Preferences` -> `Editors` -> `SQL Editor` -> `Code Completion`). Unfortunately it's also changing the case of variable names, which causes errors.

For example, see here that there is a table named `ebb_trapInputs` (capital I) available:

![image](https://user-images.githubusercontent.com/14091641

[2021-04-09 05:22] armandoclasslife commented on #11461
sorry,now

On Thu, 8 Apr 2021 at 20:58, Anastasiya ***@***.***> wrote:

--
*Armando Loscos*
Classlife Education
***@***.***
www.classlife.education
(+34) 935 436 174
​

Este mensaje va dirigido, de manera exclusiva, a su destinatario y puede
contener información confidencial y sujeta al secreto profesional, cuya
divulgación no está permitida por Ley. En caso de haber recibido este
mensaje por erro

[2021-04-09 05:23] armandoclasslife commented on #11461
the fact the screenshot was there, but on the 1st out of the 3 emails. but
passed again.

On Fri, 9 Apr 2021 at 07:22, Armando Loscos ***@***.***>
wrote:

--
*Armando Loscos*
Classlife Education
***@***.***
www.classlife.education
(+34) 935 436 174
​

Este mensaje va dirigido, de manera exclusiva, a su destinatario y puede
contener información confidencial y sujeta al secreto profesional, cuya
div

[2021-04-09 07:01] p91paul commented on #11959
@pgodfrin-nov github allows replying to issues via email, but it doesn't support email attachments. To upload stuff you need to reply through the web interface.

[2021-04-09 07:06] kai-morich commented on #12012
_FYI:_ works with multiple implicit results, so looks only like an issue with multiple out parameters

![grafik](https://user-images.githubusercontent.com/25850372/114142081-bc25ff80-9912-11eb-864c-887261c41df4.png)

[2021-04-09 07:13] kai-morich commented on #12011
If there would be support for such function in general in DBeaver, that should also be supported for HANA.

But as @wernerdaehn already said, the _statement is very dynamic_ and is very HANA specific, so I consider this as a feature where DBeaver unlikely can be in sync with HANA development and I consider this more a feature to be implemented in HANA tooling.

[2021-04-09 07:17] rossholmberg commented on #12054
Apologies, it looks like I'm looking at the wrong setting, so closing this issue.

For anyone else who comes across this, what I was looking for was a setting to make auto-complete insert keywords as lower case, not object names. The setting I should have used is:

`Preferences` -> `Editors` -> `SQL Editor` -> `Formatting` -> `Keyword case`

In my case I like this setting to be "lower".

[2021-04-09 07:17] #12054 closed, assigned to nobody

[2021-04-09 07:19] kseniiaguzeeva commented on #10370
verified

[2021-04-09 07:19] #10370 closed

[2021-04-09 07:28] mtelgkamp commented on #11939
Here is a screencast of how I opened the file and then display it with VSCodium

https://user-images.githubusercontent.com/33117529/114145833-2771d080-9917-11eb-83ef-044974fd91db.mp4

[2021-04-09 07:29] p91paul commented on #11461
@armandoclasslife screenshots or other files attached to emails are not supported by github, you have to reply through website to attach files.

[2021-04-09 07:32] parthipank commented on #11772
@serge-rider serge-rider @kseniiaguzeeva  @uslss
Also when I click the metadata It's showing "##document" only. (See screenshot below)
![image](https://user-images.githubusercontent.com/10793238/114144907-74fc3680-9933-11eb-9015-86d3c07e3815.png)

and then when I click the "##document" the error below is getting populated in the error log window.
![image](https://user-images.githubusercontent.com/

[2021-04-09 07:34] flambchap commented on #12051
Hello @TheBoatyMcBoatFace. AFAIK, it's impossible to create a table without specifying at least one column in MariaDB. Please try to change your crate statement and everything should be fine.

[2021-04-09 07:36] #12051 closed, assigned to nobody

[2021-04-09 07:45] Charles-II commented on #10852
Same problem for me.  Installed for all users. It is also installed Eclipse IDE 2020-12(4.18.0)
I have just installed dbeaver-ce-21.0.2-x86_64 and it started then I have installed DBeaver Office support. At DBeaver restart it stucked on the splash screen. I have uninstalled Dbeaver, removed all the files in %APPDATA%, and re-installing it I have also selected to reset settings but didn't fixed the

[2021-04-09 07:51] flambchap commented on #11095
The ability to edit 'copy as' parameters has been added.

[2021-04-09 08:23] rokopi-byte commented on #11381
That's what I do. Right click on the column header automatically select first cell. Is that another issue?

[2021-04-09 08:25] kseniiaguzeeva commented on #12036
verified

[2021-04-09 08:25] #12036 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-04-09 08:37] ShadelessFox commented on #11719
Implemented for PostgreSQL, Oracle:
![image](https://user-images.githubusercontent.com/35821147/114153390-edf59100-9927-11eb-9431-910b2131bf9c.png)

[2021-04-09 08:41] weiss-d commented on #10987
Got the following error trying this with Community Version 21.0.2.202104051733 . Maybe I've missed something?

[code]

[2021-04-09 08:42] uslss commented on #7032
verified

[2021-04-09 08:42] #7032 closed

[2021-04-09 08:44] LonwoLonwo commented on #11381
Seems to be Ubuntu problem. What protocol are you using? May be Wayland?

[2021-04-09 08:47] serge-rider commented on #10887
Fixed. Along with main/context menus and scrollbars.

The fix works only for Windows 10 1903+.
In earlier Windows 10 versions it will remain the same.

![image](https://user-images.githubusercontent.com/6398845/114154501-26499f00-9929-11eb-94f7-086a99b9cac0.png)

[2021-04-09 08:49] rokopi-byte commented on #11381
I'm using a bare Ubuntu 16.04.7, so it's Xorg

[2021-04-09 08:54] ShadelessFox commented on #11635
Implemented as the Enterprise Edition extension:
![image](https://user-images.githubusercontent.com/35821147/114159113-1e402e00-992e-11eb-9545-17b48ac5f96b.png)

[2021-04-09 09:16] armandoclasslife commented on #11461
adding screenshot here.thanks p91paul
![dbeaver](https://user-images.githubusercontent.com/79396486/114158464-fe583c80-9924-11eb-9dc5-3c2e93f6b141.png)

[2021-04-09 09:23] flambchap opened #12056 "NPE when open 'Settings (Table to Database)' page in data transfer wizard"
It leads to an inability to use the 'Disable referential integrity' checkbox.

[2021-04-09 09:26] geforce2k3 opened #12057 "MySQL shows duplicate table"
#### System information:
- Operating system (distribution) and version : Windows 10 Pro 20H2(19042.867)
- DBeaver version : 21.0.2.202104042040
- Java version :
openjdk version "1.8.0_212-1-ojdkbuild"
OpenJDK Runtime Environment (build 1.8.0_212-1-ojdkbuild-b04)
OpenJDK 64-Bit Server VM (build 25.212-b04, mixed mode)
- Additional extensions: No

#### Connection specification:
- Database name and v

[2021-04-09 10:02] sebthom opened #12059 "Empty .dbeaver folders created in eclipse projects"
This is a followup issue to #10507

System information:
- Operating system (distribution) and version: Microsoft Windows [Version 10.0.19042.870]
- DBeaver IDE	21.0.2.202104042040

Describe the problem you're observing:
- I installed dbeaver into Eclipse IDE for Java Developers eclipse-java-2021-03-R-win32-x86_64.zip
- now dbeaver generates empty .dbeaver folders in all projects no matter. When I

[2021-04-09 10:11] 1000283 opened #12060 "minify SQL"
**Is your feature request related to a problem? Please describe.**
The software i use can use multiple database backends (currently MySQL and SQLite) and part of the functionality of said software involves using SQL queries that are themselves stored inside the database as text. These can be very long.

**Describe the solution you'd like**
While traditional code formatting is great to better under

[2021-04-09 10:14] serge-rider commented on #10887
You can test it in the Early Access version (https://dbeaver.io/files/ea)

[2021-04-09 10:17] sebthom opened #12061 "Add option to hide DBeaver menu entries from non-DBeaver perspectives"
**Is your feature request related to a problem? Please describe.**
DBeaver adds two Top Level menu (Database, SQL Editor) entries to all perspectives.
This clutters the UI unnecessarily esp. if other plugins are installed that contribute menu items to specific perspectives.

**Describe the solution you'd like**
There should be an option that makes menu contributions perspective aware, meaning they

[2021-04-09 10:32] smeagol152 commented on #10887
Confirmed. It is fixed in Windows 10 Build 2004

[2021-04-09 10:37] uslss commented on #10887
verified

[2021-04-09 10:37] #10887 closed, assigned to serge-rider, uslss

[2021-04-09 10:42] uslss commented on #5754
Error still appears
![image](https://user-images.githubusercontent.com/31996417/114168749-58fb9380-9939-11eb-99db-3c0a831bc66a.png)

[2021-04-09 10:49] uslss commented on #11986
verified

[2021-04-09 10:49] #11986 closed, assigned to uslss, LonwoLonwo

[2021-04-09 10:50] serge-rider commented on #12061
Yep. We had to do this long time ago

[2021-04-09 10:52] serge-rider commented on #5754
@uslss Please post screen of your driver libraries

[2021-04-09 11:30] tkorach commented on #10858
Indeed the code completion works on 21.0.3 (build from source)

[2021-04-09 11:39] kseniiaguzeeva commented on #8506
verified

[2021-04-09 11:39] #8506 closed

[2021-04-09 12:00] wernerdaehn commented on #12011
It is not that much rocket science either.
Show the list of adapters by querying the ADAPTERS view.
Read the ADAPTERS.CONFIGURATION column for the selected adapter. This XML tells what properties to show. Create an XML with the matching structure and pass it into the create-remote-source statement. So all the "dynamic" is in the CONFIGURATION XML.
I do not have high hopes for that feature to be ac

[2021-04-09 12:26] p91paul opened #12063 "Error with special characters in "Open Database Object""
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.0.1.202103211229
- Additional extensions n/a

#### Connection specification:
- Database name and version: Oracle 11
- Driver name: ojdbc19
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n/a

#### Describe the problem you're observing:
If I, by mistake, insert a ( or ) symbol in my search stri

[2021-04-09 12:27] db2zosuser opened #12064 "Bad performance when creating new or editing existing Oracle database connections"
When creating or editing an Oracle database connection the "Connection Settings" windows get 'not responding' and takes up to 25 seconds to become responsive to mouse or keyboard input.

This issue only appears for Oracle connection settings and not for other RDBMS connection settings (e.g. DB2, MSSQL, Postgres and others). It looks like that this performance degradation issue only appears when an

[2021-04-09 12:48] SnowPowerCore commented on #10887
Hope this fix would also be pushed to Microsoft Store version...

[2021-04-09 14:08] flambchap commented on #12056
Fixed.

[2021-04-09 14:29] kseniiaguzeeva commented on #11772
Thank you.

[2021-04-09 14:32] daniellwdb opened #12065 "Support horizontal scroll using mouse buttons inside views with a scrollbar"
**Is your feature request related to a problem? Please describe.**
When you are inside the grid view, viewing a table with a lot of columns, you can not scroll horizontally with native mouse buttons.

**Describe the solution you'd like**
It would be nice if we could scroll horizontally in views where a horizontal scrollbar is visible using mouse buttons.

**Additional context**
Windows 10 Home
DBe

[2021-04-09 15:14] KevinWellsMLC opened #12066 "Edit Actions Error"
I’m attempting to add “Edit Actions” to my toolbar via Custom Perspective. However; I get an error message ( see attached ).

How can I get around / resolve this error?

System information:
Windows Server 2019 Standard
DBeaver Version 21.0.1.202103211229

Connection specification:
Database: Snowflake

![Edit_Action_error](https://user-images.githubusercontent.com/75385195/114201046-6d309800-991b-1

[2021-04-09 15:18] uslss commented on #11143
still reproducible
![image](https://user-images.githubusercontent.com/31996417/114202599-02ee1680-9960-11eb-9c1e-34b53114cbe6.png)

[2021-04-09 16:13] DustinMeldrumRoot commented on #7879
Has anyone reached a conclusion on this issue? I'm a new user, curious if auto-prepending of the schema name and/or the ability to set and search a default schema for table name autocomplete is available.

[2021-04-09 16:24] serge-rider commented on #11143
Fixed (now we use the same column resolution approach as classic PostgreSQL)

[2021-04-09 16:27] serge-rider opened #12067 "Upgrade Java to 11.0.11"
We need to upgrade Java bundle to the latest compatible version (11.0.9) + include jdk.httpserver module.
Already done for Windows, need to update MacOS and Linux bundles.

[2021-04-09 16:57] uslss commented on #11143
verified

[2021-04-09 16:57] #11143 closed, assigned to serge-rider, uslss

[2021-04-09 16:58] uslss commented on #5754
verified

[2021-04-09 16:58] #5754 closed

[2021-04-09 17:24] GuillaumeGuerra commented on #5754
Hi @uslss

I'm curious, did you manage to make it work ?
it seems you had the exact same error than me.

I downloaded the latest EA, to confirm, and it still happens.

Thanks a lot

[2021-04-09 18:50] DustinMeldrumRoot commented on #5931
Appears to continue to be an issue with macOS Big Sur 11.2.3, Version 21.0.2.202104042040

[2021-04-09 19:22] serge-rider commented on #5754
@GuillaumeGuerra you can test it in the new EA version (now it contains the fix)

[2021-04-10 06:41] kai-morich commented on #12012
for reproduction here a simpler test case:

    CREATE OR replace PROCEDURE proc1 (OUT tab1 sys.dummy, OUT tab2 sys.dummy) AS BEGIN
        tab1 = SELECT 'A' AS dummy FROM dummy;
        tab2 = SELECT 'B' AS dummy FROM dummy;
    END;

    CALL proc1(?,?)

[2021-04-10 09:48] kseniiaguzeeva commented on #12065
Did you try hold shift+scroll by mouse wheel?

[2021-04-10 10:03] daniellwdb commented on #12065
Yes that does seem to work and is a nice alternative, however some mice have a dedicated horizontal scroll wheel and that one does not work, even when holding shift

[2021-04-10 11:37] travis-leith opened #12068 "Support for DuckDb"
**Is your feature request related to a problem? Please describe.**
I would like to be able to query a [DuckDB ](https://duckdb.org/)file

**Describe the solution you'd like**
Add a connector for [DuckDB](https://duckdb.org/)

**Describe alternatives you've considered**
There are no alternatives

**Additional context**
DuckDB is like the OLAP version of Sqlite.

[2021-04-10 12:46] ShayArtzi commented on #11850
I faced this issue as well with MySql 8 over SSH. As a workaround, I manually added the `IDENTIFIED BY` clause to the `CREATE USER` statement.

[2021-04-11 05:52] hartois commented on #8288
Fedora 33
XFCE
Fresh build from git: 21.0.3.202104110528
Bug exists
Workaround ```export GTK_IM_MODULE=ibus``` helps

[2021-04-11 07:31] hartois commented on #9588
![image](https://user-images.githubusercontent.com/11641656/114295884-ca118700-9ab0-11eb-85aa-447a5498856f.png)

But I see only table "ttt", and does not see function "testexception".
Do I need to turn on something else?
![image](https://user-images.githubusercontent.com/11641656/114295880-bebe5b80-9ab0-11eb-8e19-f6d666ad70ef.png)

[2021-04-11 07:54] buttha opened #12070 "[mysql] incorrect handling of stored procedure and function with the same name"
- Operating system (distribution) and version: Debian 10
- DBeaver version: 21.0.2
- Database name and version: mysql 8.0.23
- Driver name: MySQL

If there are one stored procedure and one function with the same name, you could loose function while editing the procedure.

1) create "test" PROCEDURE

[code]

2) create "test" FUNCTION

[code]

3) open the procedure, edit and save. CTRL+S generates t

[2021-04-11 10:30] yonisade opened #12071 "Reorganize PostgreSQL server-level nodes"
**Is your feature request related to a problem? Please describe.**
Currently, server-level entities show up under all databases of a PostgreSQL server, which is redundant and confusing.

**Describe the solution you'd like**
Create "Databases" node under server name and show all databases under it.
Move "Roles","Administer","Storage","System Info" nodes to under the Server name.

[2021-04-11 16:39] dddeveloperrr opened #12072 "cant start dbeaver"
hi everyone
Installed dbeaver from snap store but got error when launching program.

OS: Linux (manjaro) kernel   5.11.6-1-MANJARO
DE: XFCE
snap version:
snap     2.49.1-1
snapd    2.49.1-1
series   16
 below is the output of this commande :  snap run dbeaver-ce

output:
Gtk-Message: 21:04:51.288: Failed to load module "xapp-gtk3-module"
Gtk-Message: 21:04:51.288: Failed to load module "xapp-gtk3-

[2021-04-11 20:03] lvanderlaat commented on #4236
Hi,

I just wanted to add that is a bit confusing to create a timestamp column with a specific precision (number of digits after decimal seconds point). It was a bit frustrating, because for my application I need at least 3 floating points number for the seconds and I found out that even if I created my timestamp column with precision 3, it did created the column with 0 precision. After struggling

[2021-04-12 04:07] kseniiaguzeeva commented on #12028
verified

[2021-04-12 04:07] #12028 closed, assigned to serge-rider, kseniiaguzeeva

[2021-04-12 06:03] kseniiaguzeeva commented on #11719
verified

[2021-04-12 06:03] #11719 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-04-12 07:33] LonwoLonwo commented on #11806
Fixed.

[2021-04-12 08:01] LonwoLonwo commented on #11461
Can you please check datasource settings?

Please click "Configure" bottom in the lower part of grid in Data viewer.
And then attach here photo of "Appearance" tab from Editors->Data Editor->Appearance

![2021-04-12 10_56_33-DBeaver 21 0 1 - film](https://user-images.githubusercontent.com/45152336/114360643-f0e9bf00-9b7d-11eb-9a20-7a0966d2335d.png)

![2021-04-12 10_56_59-Properties for](https://us

[2021-04-12 08:03] LonwoLonwo commented on #11390
I apologize that I could not help in this situation.

[2021-04-12 08:04] #11390 closed, assigned to LonwoLonwo

[2021-04-12 08:16] armandoclasslife commented on #11461
HI,

not necessary, I found what you mean, that is, it is necessary to disable:

calculate column width...

Thanks a million!

On Mon, 12 Apr 2021 at 10:01, Anastasiya ***@***.***> wrote:

--
*Armando Loscos*
Classlife Education
***@***.***
www.classlife.education
(+34) 935 436 174
​

Este mensaje va dirigido, de manera exclusiva, a su destinatario y puede
contener información confidencial y sujet

[2021-04-12 08:17] LonwoLonwo commented on #11461
@armandoclasslife hooray!

[2021-04-12 08:19] #11461 closed, assigned to LonwoLonwo

[2021-04-12 08:21] LonwoLonwo commented on #4236
Hello @lvanderlaat
And it works for you now?

[2021-04-12 08:28] LonwoLonwo commented on #11381
@roccopietrini
Hmm. Looks like a bug.
Can you please try right click on column data type icon, to the left of the title?
![2021-04-12 11_27_34-DBeaver Enterprise 21 0 3 - film](https://user-images.githubusercontent.com/45152336/114364623-3f00c180-9b82-11eb-9fda-c7692bf716cc.png)

[2021-04-12 08:32] bwoostdam commented on #8093
Hello, I am heving the same problem when exporting SDO_Geometrie data. Teh data is written as oracle.sql.STRUCT@xxxxxxxx  instead of coordinates.  I do not understand the solution you are reffering to. Could you please elaborate on it ?  I am hoping this will work for me as well.  Thank you.

[2021-04-12 08:35] rokopi-byte commented on #11381
Just tried, but nothing changed

[2021-04-12 08:49] jurijcz opened #12077 "Export Oracle nested table column to SQL INSERT statement"
Wrong syntax of export to SQL INSERT statement

- DBeaver version: 21.0.2
- Driver name: Oracle

Steps to reproduce

[code]

[code]

[code]

[code]

`DBeaver 21.0.2 -> MYTABLE -> Export data -> SQL -> 3x Next -> Start`

Result is

[code]

Expected result is

[code]

or more precisely

[code]

[2021-04-12 09:25] uslss commented on #11806
verified

[2021-04-12 09:25] #11806 closed, assigned to uslss, LonwoLonwo

[2021-04-12 09:41] kseniiaguzeeva commented on #10859
Thank you for the additional details. Is it possible to give BLOB data example to reproduce?

[2021-04-12 09:52] qiqingli commented on #10859
@kseniiaguzeeva Some content involving personal privacy has been replaced with 'XXX'

[sample.txt](https://github.com/dbeaver/dbeaver/files/6295640/sample.txt)

[2021-04-12 09:57] pdanie opened #12078 "DBeaver: Execute SQL text generate error if the ";" delimiter together with "GO" separator is used with BEGIN/END"
DBeaver - **Version 21.0.2 CE**
DBeaver driver: **MS SQL Server  / Microsoft Driver** _(the new Microsoft Driver)_
Operating System: **Windows 7 / Windows 8.1 / Windows 10**
Database Server: **Microsoft SQL Express 2014, 2016, 2017**

When I execute SQL Text containing both "**;**", "**GO**" and BEGIN/END, I get an error.

Seems that _DBeaver_ do not consider **BEGIN**/**END** statements that cont

[2021-04-12 10:41] dmxunlimit commented on #1453
Add following two properties to /Applications/DBeaver.app/Contents/Eclipse/dbeaver.ini
-Duser.language=en
-Duser.country=US

[2021-04-12 10:59] LonwoLonwo commented on #12078
Hello @pdanie
Yep, this is bug. A can execute the last example in mssql management studio, but not as script in DBeaver.
But I could execute this script рighlighting all the text and using ctrl+enter
[code]

And I have a question about point 3.
As I can see in [Query Manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager) DBeaver send `SELECT TOP 100 * FROM TestTableOne` and `SELECT TOP 10

[2021-04-12 11:01] uslss commented on #11635
verified

[2021-04-12 11:01] #11635 closed, assigned to uslss, ShadelessFox

[2021-04-12 12:06] ShadelessFox commented on #5144
Hello @dragonxtek,

The library we're using refuses to parse this data, and we can't really do much about it, unfortunately.

I believe there's the same issue with your geometry data too. It's strange for me that PostgreSQL accepts these values in first place.

[2021-04-12 12:06] #5144 closed

[2021-04-12 13:28] p91paul opened #12081 "Automatic rollback ignores setting"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.0.2.202104042040
- Additional extensions n/a

#### Connection specification:
- Database name and version Oracle 11
- Driver name ojdbc 19
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n/a

#### Describe the problem you're observing:
Despite the new option for automatic rollback of idle trans

[2021-04-12 13:31] lvanderlaat commented on #4236
Thank you @LonwoLonwo,

Yes. It works. In part, my message was to anybody out there struggling with the same problem. This is my workaround solution: for a timestamp column, instead of entering the precision in the "Precision" entry, it must be entered the "Scale" entry.

Although not intuitive, I guess there is some reason for this behavior. It would be great if it could be ameliorated in the fut

[2021-04-12 13:52] LonwoLonwo commented on #4236
@lvanderlaat you can create another enhancement ticket for this.
as I can see in [documentation](https://www.postgresql.org/docs/current/datatype-datetime.html), time and timestamp data types have precision, not scale as parameters.

[2021-04-12 14:12] lvanderlaat commented on #4236
@LonwoLonwo that's is exactly my point. Somehow, the precision parameter for timestamp ended up in "Scale". I will create the new ticket.

Thanks again.

[2021-04-12 14:22] lvanderlaat opened #12082 "PostgreSQL timestamp precision parameter confused with scale parameter"
#### System information:
- Operating system: macOS Catalina 10.15.7
- DBeaver version: 21.0.1

#### Connection specification:
- Database name and version: PostgresSQL 12
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes, SSH

#### Describe the problem you're observing:
As per the [PostgreSQL documentation](https://www.postgresql.org/docs/current/datatype-datetime.html), time and timestamp hav

[2021-04-12 15:15] qupear commented on #12065
In my case, it's Logitech MX Master 2S, and behavior is like that:
horizontal scroll in Dbeaver works one time (one step of scrolling). Then it stops scrolling. It tries to do something because when a horizontal wheel is moved, Dbeaver flashes its horizontal scrollbar, but nothing happens then. Then I switch the focus to any other window, Then move focus back to Dbeaver, and I can scroll one more

[2021-04-12 15:38] flambchap commented on #12081
Hi @p91paul. Do you use the `production` connection type for your connection? If that's the case, you need to uncheck the corresponding option in connection type settings (focus on navigator -> f4 -> `General` -> `Edit connection types`).

[2021-04-12 15:59] qupear commented on #12060
In Notepad++ you could try Poor Man's plugin and SqlInform. But maybe the simplest solution will be Notepad++ > Edit > Line Operations > Join Lines (shortcut is [CTRL + J]). Though it will be great to be able to do such joining (and maybe some other string commands) without leaving Dbeaver.

[2021-04-12 16:07] pdanie commented on #12078
**1**) You should execute the whole **TEST 6** SQL text.

In real life we have SQL files that contain many batches separated with "GO" (mostly drops followed by creates). Its  really irritating to have to select and execute each batch "by hand".

**2**) When I execute **TEST 3** (ie select all 4 rows and choose **Execute SQL Script**) in _DBeaver_ I got this in the **Execution Log**:

[code]
To me

[2021-04-12 16:13] pdanie commented on #7806
How are this feature request moving forward?

I had hoped that it was to be done around version 6.3.5, but it was removed from that release in 17 Feb 2020.

In version 21.0.2 the only way is the use of the strange function in a data grid context menu:

&nbsp;&nbsp;**View/Format** -> **Set "columnname" format** -> **Boolean**.

Any plans to add a more generic solution to the "pipeline" with the use

[2021-04-12 16:29] fabriziop98 opened #12085 "Stuck in "Open connection to DB2""
#### System information:
- Operating system (distribution) and version - MACOS Big Sur 11.2.3
- DBeaver version - 7.2.4
- Additional extensions

#### Connection specification:
- Database name and version - DESARROLLO
- Driver name - DB2 iSeries/ AS 400
- Do you use tunnels or proxies (SSH, SOCKS, etc) - no

#### Describe the problem you're observing:
When I open dbeaver, the connection to the data

[2021-04-12 22:14] p91paul commented on #12081
Will check that, thanks. I still believe it's wrong to turn that option on by default on any connection type.

[2021-04-13 02:19] myron934 opened #12087 "Unexpected SQL executed like SELECT DISTINCT from, 1 FROM db.t1 WHERE from LIKE ? ORDER BY 1"
#### System information:
- Operating system (distribution) and version:  win10
- DBeaver version: 21.0.2.202104042040
- Additional extensions

#### Connection specification:
- Database name and version: MySQL 5.7
- Driver name: MySQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  use SSH

#### Describe the problem you're observing:
SQL:
select * from t1 where nfrom ='something'
and nto='abc

[2021-04-13 03:42] daguej commented on #6652
FWIW, I thought I was having this problem until I noticed that I had two columns with sort enabled.  Since the first column was `id`, it didn't matter what else I tried to sort by.

[2021-04-13 05:45] sknextcode commented on #7813
Like @adminsyszg said:
Reproducable in: Version 21.0.2.202104042040

Schema will be imported, but upon first dataset restore getting:
**pg_restore: error: unrecognized data block type (152) while searching archive**

Used different Postgres binaries (last used was psql (PostgreSQL) 13.2), but getting same error. Using Pg Admin or cmd.exe (Windows 10) is working fine with same binaries.

However: U

[2021-04-13 06:40] qiqingli commented on #10859
@kseniiaguzeeva This problem also appeared in DBeaver 21.0.2, hope it can be solved completely.

[2021-04-13 07:54] LonwoLonwo commented on #12087
Hello @myron934
Can you please open and check [Query Manager](https://github.com/dbeaver/dbeaver/wiki/Query-Manager) at that moment, when you execute your query?

Usually we use this type of queries for filter panel, to find out the possible values for a specific column.
[code]

![2021-04-13 10_52_30-DBeaver Enterprise 21 0 3 - _none_ Script-19](https://user-images.githubusercontent.com/45152336/1

[2021-04-13 08:54] #10914 closed, assigned to serge-rider

[2021-04-13 08:55] LonwoLonwo commented on #12078
And again, you said:

And we do it. DBeaver recognize GO as batch separator. As you can see in Query Manager.

Do we close the discussion about test case 3? Or tell me, please, more about how it should look like.

[2021-04-13 09:28] karpov-denys commented on #3270
Hi, @serge-rider. Is this feature a part of prepaid version?

[2021-04-13 12:07] karpov-denys commented on #3270
Thank you for your useful script. I am new in BE programing. Could you please explain how I can use your script for connection to db via DBeaver?  I do not get.

[2021-04-13 14:02] santiagofn commented on #8811
Hi. I'm using Ubuntu 20.10 and DBeaver CE 21.0.2.
Tried the workaround, didn't work.

![imagen](https://user-images.githubusercontent.com/8375708/114565530-b9dfe000-9c47-11eb-9c49-2e2515980a32.png)

![imagen](https://user-images.githubusercontent.com/8375708/114566079-4db1ac00-9c48-11eb-953d-4b4aa27c640e.png)

[2021-04-13 15:08] tonyfarney opened #12090 "Missing tables in "References" section (different schema issue)"
#### System information:
- Operating system (distribution) and version
Linux Mint 20.1 Cinnamon

- DBeaver version
21.0.2.202104042040

- Java version
openjdk version "11.0.10" 2021-01-19
OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.20.04)
OpenJDK 64-Bit Server VM (build 11.0.10+9-Ubuntu-0ubuntu1.20.04, mixed mode, sharing)

- Additional extensions
None

#### Connection specificati

[2021-04-13 15:20] pdanie commented on #12078
Sorry if I have been unclear.

The ONLY thing that is something bad, is for TEST 6 use case above. ALL other test cases are OK.

The reason I have written TEST 1 .. 6 is that I wanted to have all use cases using ";" and "GO" separators for SQL Server in one and the same support issue. So that if you adjust _DBeaver_ for TEST 6, that all the other test cases still work ok.

[2021-04-13 15:53] Xyenia commented on #11618
**Version 21.0.2.202104042040**

I can confirm that Help Buttons on the various dialog boxes are not working. I have found lots of instances, but I will not post screenshots as I assume, it is an overall issue that will be eventually tackled. Thanks DBeaver team.

[2021-04-13 17:25] swiffer commented on #3972
found this confusing as well - the dialog is structured in a way that it seems perfectly fine:

![grafik](https://user-images.githubusercontent.com/2990373/114594801-f5050200-9c8d-11eb-8b36-d7f293e4f7fc.png)

[2021-04-13 18:10] jpodpro opened #12092 "Booleans stopped displaying as checkboxes"
#### System information:
- Operating system (distribution) and version: Windows 10 20H2 19042.867
- DBeaver version: latest (21.0.2)

#### Connection specification:
- Database name and version: PGSQL

#### Describe the problem you're observing:
Before upgrading to dbeaver 21 booleans displayed as checkboxes just fine. ever since upgrading they simply show as [ ] or [v]. i have confirmed that the s

[2021-04-13 18:17] ShadelessFox commented on #11476
Implemented:
![image](https://user-images.githubusercontent.com/35821147/114600984-a7909100-9c9d-11eb-92de-a7ef79b406c3.png)

[2021-04-13 18:19] ShadelessFox commented on #11886
Fixed:
![image](https://user-images.githubusercontent.com/35821147/114601145-d9095c80-9c9d-11eb-9cd8-a245b23f2e49.png)

[2021-04-13 19:47] bbigras commented on #11585
I have a similar error message with 21.0.2:

[code]

[2021-04-13 21:15] overlind opened #12093 "View Table and View View opens last changed object tab instead of defaulting to properties tab"
#### System information:
- Windows 10 Enterprise 20H2
- DBeaver Enterprise 21.0.0

#### Connection specification:
- MySQL 8

#### Describe the problem you're observing:
When I double-click (or press F4) on a table or view in the Database Navigator, the editor opens to the last changed tab (Properties, Data, or ER Diagram).  When I change the Default editor page in the screenshot below, the Data an

[2021-04-13 22:34] AshfordN commented on #6064
Also interested in this feature

[2021-04-14 04:07] tonytheodore commented on #12031
There's a similar issue transferring MS Access `double` field to PostgreSQL `varbit` type (should be `double precision`).

Should I raise a new issue or is there a way to override the default mapping?

[2021-04-14 06:04] vrkadiyala commented on #2128
I am able to create a volatile table, however, I am getting the error message of an object does not exist. How to fix this error in Dbeaver?

[2021-04-14 06:35] GuillaumeGuerra commented on #5754
@serge-rider @uslss I confirm, it works ❤️

Thanks soo much !
I'm eagerly waiting for the next stable release to show up 👍

[2021-04-14 06:35] LoloIrie commented on #10235
Agree, any option (colors or tabs grouped by connexion) would be **really** helpful.

[2021-04-14 06:53] flambchap commented on #10960
Added the corresponding option in preferences.

[2021-04-14 07:00] kseniiaguzeeva commented on #11886
verified

[2021-04-14 07:00] #11886 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-04-14 07:51] LonwoLonwo commented on #11477
Hello @mkgrgis
Which DBeaver version do you use?

As I can see, DBeaver shows column and table options in DDL. Only not quite in correct form.

![2021-04-14 10_36_02-Window](https://user-images.githubusercontent.com/45152336/114673764-37225800-9d0f-11eb-9943-cad7b9cb95d9.png)

[2021-04-14 07:57] MatteoR23 commented on #10441
Can someone reopen this issue? The problem is still there on DBeaver v.21.0.2.202104042040

[2021-04-14 08:00] LonwoLonwo commented on #11704
related https://github.com/dbeaver/dbeaver/issues/6779

[2021-04-14 08:04] uslss commented on #12093
thanks for the report

[2021-04-14 08:05] LonwoLonwo commented on #6779
We have auto-casting in DBeaver 21.0.2 for jsonb columns.

![2021-04-14 11_01_57-Window](https://user-images.githubusercontent.com/45152336/114675674-2f63b300-9d11-11eb-9418-9d1f75578f2b.png)

[2021-04-14 08:10] uslss commented on #12092
@jpodpro Cannot reproduce it against 21.0.2.
![image](https://user-images.githubusercontent.com/31996417/114676384-ebbd7900-9d11-11eb-86cd-37db7023069b.png)

Could you show how does it look for you? Is there something in the logs?

[2021-04-14 08:12] LonwoLonwo commented on #10441
Hello @MatteoR23
you can add more details about your problem here or create new Issue.

[2021-04-14 08:15] LonwoLonwo commented on #10441
@MatteoR23 also you can check our [Early Version](https://dbeaver.io/files/ea/). We fixed some problems with autocomplete in this version.

[2021-04-14 08:16] uslss commented on #12090
thanks for the report

[2021-04-14 08:22] uslss commented on #12082
thanks for the report

[2021-04-14 08:30] uslss commented on #12070
thanks for the report

[2021-04-14 08:33] kseniiaguzeeva commented on #11976
verified

[2021-04-14 08:33] #11976 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-04-14 08:34] uslss commented on #12063
thanks for the report

[2021-04-14 08:38] uslss commented on #12049
seems it is implemented in the scope of #5754 .
will be available in 21.0.3
does it fit your needs?

[2021-04-14 08:40] kseniiaguzeeva opened #12095 "'Disable referential integrity' checkbox is disabled for new tables"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.2

#### Steps to reproduce, if exist:
1. Open export wizard table>database
2. Select new table as a target in Tables mapping step and press **Next**

**Expected**: 'Disable referential integrity' checkbox is active on Settings step of datatransfer
**Actual result**: 'Disable referential integrity' c

[2021-04-14 08:41] kseniiaguzeeva commented on #12056
Verified. Separate ticket https://github.com/dbeaver/dbeaver/issues/12095 is created

[2021-04-14 08:41] #12056 closed, assigned to flambchap, kseniiaguzeeva

[2021-04-14 08:42] uslss commented on #12053
thanks for the report

[2021-04-14 08:44] uslss commented on #12016
@Pranithaevana could you provide [debug log](https://github.com/dbeaver/dbeaver/wiki/Log-files)?

[2021-04-14 08:47] uslss commented on #11476
verified

[2021-04-14 08:47] #11476 closed, assigned to uslss, ShadelessFox

[2021-04-14 09:23] kseniiaguzeeva commented on #10960
Verified. Please enable it in Window>Preferences>Editors>Data Editor>Appearance>Grid
![dbeaver_v5xlm16kb6](https://user-images.githubusercontent.com/51405061/114686655-ad2cbc00-9d1b-11eb-8aae-4752629683b0.png)

[2021-04-14 09:23] #10960 closed, assigned to flambchap, kseniiaguzeeva

[2021-04-14 09:29] SergioSuarezGil commented on #7813
same here on windows dbeaver 21.0.2
**pg_restore: error: found unexpected block ID (2116052607) when reading data -- expected 4803**

[2021-04-14 09:54] LonwoLonwo commented on #12004
Hello @jetzerb
Thanks for this big investigation and testing!
points 1,2,3 ok, accepted

4. We offer some objects for auto-completion automatically, mostly those reading less than amount of time. For other cases we use [SQL Assist](https://github.com/dbeaver/dbeaver/wiki/SQL-Assist-and-Auto-Complete) - it works when you press Ctrl+Space - and requires more complex searches for possible objects, so

[2021-04-14 10:07] LonwoLonwo commented on #12057
Hello @geforce2k3
Can you please try to execute this query for your database:
`SHOW FULL TABLES FROM koloko50th`
Are there duplicates in the list received?

[2021-04-14 11:08] p91paul commented on #12081
That was it.
Your call whether to restore the previous default or close this.

[2021-04-14 11:23] p91paul commented on #12095
which kind of referential integrity can you disable on new tables?

[2021-04-14 11:30] kseniiaguzeeva commented on #12095
The ticket name doesn't refer the issue correctly. It is about equal behaviour: you should have the option disabled or enabled in both cases: when you perform export to a new table and when you select an existed table and then change it on a new one.

[2021-04-14 11:58] jetzerb commented on #12004
4. This item is lower priority because there is a low-effort workaround of deleting and re-typing the schema name.

5. If you look at the `update` statements in the test script, where I logged my observations, you can see the differences in the code completion suggestions between the `dbo` and `util` schemas.  Two examples below:
   - When the "show stored procs" box is checked:
![image](https://u

[2021-04-14 12:00] hennie7863 commented on #4791
Same problem here. After installation Git repository browser, a half hour rebooting and it is finished..

[2021-04-14 12:02] hennie7863 commented on #7457
Same problem here

[2021-04-14 12:41] MatteoR23 commented on #10441
@LonwoLonwo unfortunately also the early version has the same problem.

[2021-04-14 13:21] LonwoLonwo commented on #7191
Please check new [DBeaver versions](https://dbeaver.io/).
If I understood you correctly, the addition of aliases after JOIN is already implemented

[2021-04-14 13:45] ShadelessFox opened #12099 "Remove feedback-less Help buttons from all dialogs"
Currently the <kbd>Help</kbd> button is shown in every JFace dialog, even if clicking on it does nothing. To avoid confusion, we should remove these buttons expect in places where they actually do something (e.g. <kbd>Add virtual column</kbd> dialog).

Link to the original issue: #11618

[2021-04-14 13:48] #12081 closed, assigned to nobody

[2021-04-14 14:02] kseniiaguzeeva commented on #12065
Thank you for the report and additional details, Will try to reproduce and fix.

[2021-04-14 14:07] kseniiaguzeeva commented on #10859
Thank you for the additional details. We will try to fix it, but I cannot reproduce it in Mac Big Sur DBeaver 21.0.2.
Could you please also send log files https://github.com/dbeaver/dbeaver/wiki/Log-files?

_DBeaver command:
See table HR."blob" with BLOB value_

[2021-04-14 15:17] qupear commented on #12065
One more detail. It looks like horizontal scroll works only in table data pages (and results). In pages with queries, in values of results cells and definitions it doesn't work to me even using SHIFT + SCROLL.

[2021-04-14 18:14] jpodpro commented on #12092
this was the setting i needed. i was sure i had found another setting that seemed similar but wasn't changing anything. however i cannot find it anywhere...of course.

anyway thanks :)

[2021-04-14 18:14] #12092 closed, assigned to nobody

[2021-04-14 18:35] oudent commented on #12087
This looks to be an attempt at adding new functionality to the auto completion system. It works great on small tables, and optimized databases from what I'm seeing, but essentially it won't run your desired query until it has finished filling the auto complete suggestions list.

Previously (correct me if I'm wrong) auto complete would suggest table names/DB objects, but not suggest things within a

[2021-04-14 18:47] ShadelessFox commented on #11087
Fixed. Now we group continuous rows into partitions, so we can process them individually.

Note for testers: make sure that duplication, insertion and copying (before and after current row) works fine in different databases, such as MongoDB, CouchDB, Cassandra and with complex data types in PostgreSQL.

https://user-images.githubusercontent.com/35821147/114702276-8b880080-9d2c-11eb-915a-0882b15dda

[2021-04-14 21:36] mastrolube commented on #1399
sqlite still not be editable?

[2021-04-14 23:06] lvanderlaat commented on #12082
My pleasure, thank you for this amazing software.

[2021-04-15 01:05] geforce2k3 commented on #12057
OK, seems like it's Azure mySQL bug, the following link for reference. In the last section, there is a MS guy said is a bug.
Need to reboot server
https://docs.microsoft.com/en-us/answers/questions/322028/duplicate-tables-being-created-in-azure-mysql-data.html

But my coworker use Heidisql is ok without this issue, it's bit of weird.

[2021-04-15 01:33] qiqingli commented on #10859
I think the problem is related to workspace configuration file, regenerate a new workspace, the problem disappeared.

[2021-04-15 03:10] myron934 commented on #12087
Oh, I'm sure it's a serious bug.

**Steps to reproduce** :
1. close the application and then reopen it.
2. use the recent SQL Editor to execute SQL like    select * from t1 where nfrom ='something' and nto='abc'
3. you'll find the sql like SELECT DISTINCT nfrom, 1 FROM db.t1 WHERE nfrom LIKE '%something%' is executed.
4. It is very dangerous if there is no index on column nfrom.
This bug It caused

[2021-04-15 04:02] jandude commented on #6064
Up Vote

[2021-04-15 04:43] LonwoLonwo commented on #11381
New option for long content value columns implemented.
You can manually choose the width of those columns - in percents.
Default value is 30% of monitor screen.
100% will set the length of the column on the full column content length (if it allows the monitor screen width).
Will be available in DBeaver 21.0.3
19.04.21

![114680499-efeb9580-9d15-11eb-9674-9dcd9ef42048](https://user-images.githubuse

[2021-04-15 06:25] LonwoLonwo commented on #12087
Ok, this is side effect of https://github.com/dbeaver/dbeaver/issues/11379 (Auto-complete inside strings (inside single quotes))
But autocomplete for string literals must be working _only_ with Ctrl+Space and inside single quotes.
Is this behavior different in your case?

[2021-04-15 06:44] LonwoLonwo commented on #12057
Will you help reboot server? The problem disappeared?

[2021-04-15 07:36] flambchap commented on #11095
Fixed the original issue + added configuration dialog for 'Copy as' commands.

[2021-04-15 07:43] flambchap commented on #11895
The best solution I came up with is to add a new data transfer setting called 'Value format'. In this particular case, this setting should be set to 'Database native'.

![Screenshot 2021-04-12 145814](https://user-images.githubusercontent.com/26031301/114390961-8f3a4c80-9b9f-11eb-8f48-c30e066bd140.png)

[2021-04-15 08:00] flambchap commented on #11973
The bug is specific to PostgreSQL.

[2021-04-15 08:26] myron934 commented on #12087
I didn't use Ctrl + Space.
Just When I typing SQL in the SQL Editor:
select * from table where nto='abc'

![image](https://user-images.githubusercontent.com/7500959/114837977-d37b5600-9e06-11eb-8d0d-f58325a50ed7.png)

you can see a background task is running:

SELECT DISTINCT nto, 1
FROM table
WHERE nto LIKE '%ab%'
ORDER BY 1

[2021-04-15 08:57] uslss commented on #11381
verified

[2021-04-15 08:57] #11381 closed, assigned to uslss, LonwoLonwo

[2021-04-15 08:59] kseniiaguzeeva commented on #11087
verified (mentioned databases were tested)

[2021-04-15 09:04] uslss commented on #11895
verified

[2021-04-15 09:04] #11895 closed, assigned to flambchap, uslss

[2021-04-15 12:37] flambchap commented on #11973
It also seems that the only way to reproduce the bug is when this enum type is created in some non-public schema and this exact schema is set as default schema in the bootstrap settings. Everything points to a bug in PostgreExecutionContext.

[2021-04-15 12:58] kseniiaguzeeva commented on #11087
New row cannot be inserted to an empty table.

[2021-04-15 13:10] GuillaumeDesforges commented on #8712
Would love that feature

[2021-04-15 13:23] LonwoLonwo commented on #11523
+ add ability to change table description

[2021-04-15 13:47] kseniiaguzeeva commented on #11095
Transactions are not commited when you press Excel in the bottom toolbar in Manual or Smart commit modes now.
Please note, Excel button still commits transactions in Auto-commit (you can use Production connection type by default to avoid unexpected commits).

Now **Copy as** format settings can be configured via the context menu.
![dbeaver_9aF1fB0UPV](https://user-images.githubusercontent.com/5140

[2021-04-15 13:47] #11095 closed, assigned to flambchap, kseniiaguzeeva

[2021-04-15 14:17] ShadelessFox opened #12106 "Shortcuts for Insert/Duplicate row actions not working in combination with Shift key"
#### System information:
- Operating system (distribution) and version: **Windows 10**
- DBeaver version: **21.0.3**
- Additional extensions: **None**

#### Describe the problem you're observing:
You can press <kbd>Shift</kbd> while clicking on the <kbd>Add new row</kbd> button in the toolbar to insert row **before** current row. Unfortunately, the same trick can't be achieved using keyboard short

[2021-04-15 15:10] ShadelessFox commented on #11087
Whoops. Fixed:

https://user-images.githubusercontent.com/35821147/114892864-d0d42d00-9e15-11eb-933f-566e0f687b0e.mp4

[2021-04-15 17:43] zolovey opened #12108 "SAP IQ. In 21.0.2 autocomplete does not work for tables"
After upgrading to 21.0.2 autocomplete for tables does not work. (but works for schemas and fields).

Seems that the cause is in GenericObjectContainer.java after it was updated in scope of issue #9710

if changing back `public Collection<? extends DBSObject> getChildren(@NotNull DBRProgressMonitor monitor)` to 21.0.1 version, then autocomplete works fine

#### System information:
- Windows 10 190

[2021-04-15 18:48] DustinMeldrumRoot commented on #9414
same issue here for HOME/END buttons for go to line start/end.
DBeaver Version 21.0.2.202104042040 on Big Sur version 11.2.3
restart DBeaver fixes it, but issue comes back after sometime.

[2021-04-15 19:40] LonwoLonwo commented on #12108
Hello @zolovey
Can you please test [early access](https://dbeaver.io/files/ea/) version? some autocomplete problems were fixed in this version.

[2021-04-15 19:41] LonwoLonwo commented on #11989
Fixed in DBeaver 21.0.4

[2021-04-15 21:05] kseniiaguzeeva commented on #11087
verified

[2021-04-15 21:05] #11087 closed, assigned to ShadelessFox, kseniiaguzeeva

[2021-04-16 06:30] klyusba opened #12110 "Comments on table lead to duplicates in table list"
#### System information:
- Windows 10
- DBeaver version 21.0.2
- Additional extensions - none

#### Connection specification:
- Vertica 9.3.1-11
- jdbc 9.2.1

#### Describe the problem you're observing:
Each column with comment make duplicate table in table list
![изображение](https://user-images.githubusercontent.com/24367455/114981274-63b4ac00-9e96-11eb-9715-7f4e1fedadd8.png)

#### Steps to repr

[2021-04-16 06:51] zolovey commented on #12108
@LonwoLonwo in EA version autocomplete works as expected

[2021-04-16 06:51] #12108 closed, assigned to nobody

[2021-04-16 07:19] LonwoLonwo commented on #12110
Thanks for the bug report!

Note: Duplication of columns is not always happening, but only in some cases.

[2021-04-16 07:36] kseniiaguzeeva opened #12111 "Export from ResultSet doesn't work for uncommitted delete with returning clause"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.2

#### Describe the problem you're observing:
Based on https://github.com/dbeaver/dbeaver/issues/11095
#### Steps to reproduce, if exist:
1. Execute for PostgreSQL in Manual Commit:
[code]
2. Commit transactions
3. Execute `delete from my_test_table returning *;` and press XLS button in the bottom

[2021-04-16 09:18] tobias47n9e opened #12114 "During CSV export: Unhandled event loop exception java.lang.StackOverflowError"
#### System information:
- Operating system (distribution) and version: Ubuntu 21.04, Kernel 5.11.0-14-generic
- DBeaver version: Flatpak Version 21.0.2.202104042040
- Additional extensions: None

#### Connection specification:
- Database name and version: mysql:5.6
- Driver name: MySQL 5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Have had th

[2021-04-16 10:50] cyberbeat commented on #10083
This seems not to be fixed? I am using eclipse plugin with this version:

DBeaver IDE	21.0.2.202104042040	org.jkiss.dbeaver.ide.feature.feature.group	JKISS

I am unable to enter another value than 100. After leaving the textfield it always resets back to 100.

[2021-04-16 11:02] cyberbeat commented on #10010
Yes, this is a bad solution. I often have a slow connection, and default fetching 100 rows with some blobs/longtexts takes forever. Fetch sizes of 1 or 10 also make sense in many cases. Please revert setting a minimum here!

[2021-04-16 11:12] uslss opened #12115 "Table/View cannot be created/dropped using UI"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.3 EA

#### Connection specification:
- Database name and version PrestoDB
- Driver name PrestoSQL - Presto JDBC 350, PrestoDB - PrestoJDBC 0.250

#### Describe the problem you're observing:
The table/view cannot be created using UI - an error appears, but it is successfully created in case of copyin

[2021-04-16 11:49] uslss opened #12116 "Data cannot be updated using UI"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.3 EA

#### Connection specification:
- Database name and version PrestoDB
- Driver name PrestoSQL - Presto JDBC 350, PrestoDB - PrestoJDBC 0.250

#### Describe the problem you're observing:
Error appears when trying to save cell value changes:
![image](https://user-images.githubusercontent.com/31996

[2021-04-16 11:55] uslss opened #12117 "PK/index/column cannot be created using UI"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.3 EA

#### Connection specification:
- Database name and version PrestoDB
- Driver name PrestoSQL - Presto JDBC 350, PrestoDB - PrestoJDBC 0.250

#### Describe the problem you're observing:
Error appears in case of attempt to create index or primary key

Primary Key
[code]
Index:
[code]
Column:
[cod

[2021-04-16 12:22] uslss commented on #11989
verified

[2021-04-16 12:22] #11989 closed, assigned to uslss, LonwoLonwo

[2021-04-16 12:25] uslss commented on #12099
verified

[2021-04-16 12:25] #12099 closed, assigned to uslss, ShadelessFox

[2021-04-16 12:32] uslss opened #12118 "Active schema cannot be changed in Schema Selection"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.3 EA

#### Connection specification:
- Database name and version PrestoDB
- Driver name PrestoSQL - Presto JDBC 350, PrestoDB - PrestoJDBC 0.250

#### Describe the problem you're observing:
![2021-04-16_15h31_30](https://user-images.githubusercontent.com/31996417/115024554-ebb3a980-9ec8-11eb-9928-17

[2021-04-16 12:40] uslss opened #12119 "Import from CSV fails due to error"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.3 EA

#### Connection specification:
- Database name and version PrestoDB
- Driver name PrestoSQL - Presto JDBC 350, PrestoDB - PrestoJDBC 0.250

#### Describe the problem you're observing:
Error appears when trying to import [csv file](https://github.com/dbeaver/dbeaver/files/6325086/actor_1_202103

[2021-04-16 13:39] holdfenytolvaj opened #12120 "DBeaver still has open port for listening wide open"
I understand that
https://github.com/dbeaver/dbeaver/issues/10944
https://github.com/dbeaver/dbeaver/issues/7154
was opened because of this as well, but there is still an open port.
Previously there were two wide open ports, one has been addressed (the RMI), but what's the purpose of the other?

My version is 21.0.2.202104042040 (April)
and it still has a wide open port:
[code]

#### System inform

[2021-04-16 14:48] LonwoLonwo commented on #11521
https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/AdministratorsGuide/Constraints/ConstraintTypes/CheckConstraints.htm check constraints

https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/AdministratorsGuide/Constraints/ConstraintTypes/UniqueConstraints.htm unique constraints

[2021-04-16 15:54] kseniiaguzeeva opened #12124 "Create table statement is wrongly generated and data transfer isn't possible to a new table"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.3 EA

#### Connection specification:
- Database name and version Clickhouse

#### Steps to reproduce, if exist:
Perform export/import to new table

**Expected**: the data is exported/imported
**Actual result**: new table cannot be created

[2021-04-16 16:22] kseniiaguzeeva opened #12126 "Update/Delete statement is wrongly generated"
#### System information:
- Operating system (distribution) and version Mac
- DBeaver version 21.0.2

#### Connection specification:
- Database name and version Clickhouse

#### Steps to reproduce, if exist:
1. Select Generate SQL Statement>Update in a table context menu
2. Copy the generated statement and execute in SQL Editor

**Expected**: the statement is successfully executed
**Actual result**

[2021-04-16 17:21] josh231101 commented on #4186
Same problem here, running on Pop Os,(sort of Ubuntu)

[2021-04-16 20:05] ophers opened #12127 "Regression in 21.0.2: Vertica DB fails to read schema"
#### System information:
- Operating system
  Edition	Windows 10 Enterprise
  Version	20H2
  OS build	19042.928
  Experience	Windows Feature Experience Pack 120.2212.551.0

- DBeaver version
  Version 21.0.2.202104042040

- Additional extensions
  DBeaver	21.0.2.202104042040	org.jkiss.dbeaver.core.product	null
  DBeaver Debug	6.1.44.202104042040	org.jkiss.dbeaver.debug.feature.feature.group	JKISS

[2021-04-16 21:24] fujiokae commented on #11538
I completely agree! I have been using pgAdmin III for a long time and just recently started using DBeaver.
With pgAdmin, you can right-click on a table and select "Count" to get the accurate number of rows in the rigtht-side panel. With DBeaver, you have to View Table, switch to [Properties] tab, go to "Statistics". Then, right-click and choose "Read row count...".

It would be great if the Databa

[2021-04-16 23:36] dustincrockett opened #12128 "Exporting table to .sql script for Postgres with NaN values"
#### System information:
- Windows 10
- 21.0.0.

#### Connection specification:
- Postgres 12

#### Describe the problem you're observing:
When using the export table to .sql script I have a column of type numeric which has multiple rows with the value NaN.  The export script generated creates an output like:
INSERT INTO public.loads(interval_timestamp,load_id,forecast_timestamp,status,fixed_value

[2021-04-17 07:01] zmartell commented on #11585
@bbigras Have you tried latest EE? Is it fixed?

[2021-04-17 07:13] bbigras commented on #11585
@zmartell I still get the problem with 21.0.2.202104070144.

Note that I'm using PostgreSQL, and I'm doing 2 `array_agg` with 2 types in the same query.

Do you want me to open a new issue?

[code]

[2021-04-17 08:26] kseniiaguzeeva opened #12129 "Remove selection when switch text view to record"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.2

#### Steps to reproduce, if exist:
1. Open a table in text view in Data Editor
2. Select some cells
3. Switch to Record view

**Expected**: the selection is removed
**Actual result**: the selection frame remains visible
https://user-images.githubusercontent.com/51405061/115106822-81a20f80-9f6f-11

[2021-04-17 08:41] kseniiaguzeeva commented on #12048
Please tell your database. Is it embedded? Could you please also send log files https://github.com/dbeaver/dbeaver/wiki/Log-files?
Can be the similar issue with https://github.com/dbeaver/dbeaver/issues/11931

[2021-04-17 08:47] kseniiaguzeeva commented on #11931
I caught the similar issue when I tried to fetch all rows of 5.1G  table

_DBeaver command: fetch all rows of Clickhouse table default.ontime_
![dbeaver_VOpH86m9H2](https://user-images.githubusercontent.com/51405061/115107289-8f0cc900-9f72-11eb-80ac-6717a6d94c30.png)
[.log](https://github.com/dbeaver/dbeaver/files/6328877/default.log)
[dbeaver-debug.log](https://github.com/dbeaver/dbeaver/files/63

[2021-04-17 08:50] apiszcz commented on #3222
Also interested in a Goto Position offset for the SQL statement. Currently using NotePad++ go to offset feature
Another bonus would be to highlight the position in the editor with an icon change/etc.

[2021-04-17 15:34] LonwoLonwo commented on #12110
Fixed. The problem was with columns with equal names in different tables.

So steps were:
[code]

[code]

[2021-04-17 16:23] aisbergde opened #12131 "SQL Server - can't update views (which I can update using other tools)"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version
- Additional extensions

#### Connection specification:
- Database name and version: SQL Server 2019
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:

Sometimes I use views to update content in tables, for example if I want to add some

[2021-04-17 17:20] KES777 opened #12132 "Formatting issue"
#### System information:
- Linux Mint 19.3
- DBeaver version 7.2.4
#### Describe the problem you're observing:
![_3](https://user-images.githubusercontent.com/799021/115121211-16315f80-9fba-11eb-984b-040663783cce.jpg)

Expected numbers are: 27453, 27452, 27449
excess coma is thousand delimeter

[2021-04-17 23:13] tombohub commented on #2733
@p91paul just give us a column reorder and let US worry about data integrity

[2021-04-18 01:20] ShadelessFox commented on #10660
There was no activity for a long time, so I will close this issue for now.

[2021-04-18 01:20] #10660 closed

[2021-04-18 01:33] ShadelessFox commented on #3486
Reopening this issue since it is not a duplicate. The referenced issue is about UI, but this one is about invalid SQL.

[2021-04-18 06:49] j0eii commented on #5008
1. Install flatseal
2. run flatseal
3. map the file volume to the path /var/lib/flatpak/runtime/io.dbeaver.DBeaverCommunity.Client.mariadb/x86_64/stable/active/files/bin
4. you are now done!

https://j0eii.cwh-labs.com/linux-dbeaver-setup-guide/

[2021-04-18 11:19] poldie opened #12134 "SWT Resource was not properly disposed"
- Operating system (distribution) and version
Kubuntu 18.04.5 LTS

- DBeaver version
Latest eclipse plugin from the marketplace:
org.jkiss.dbeaver.ide.feature (21.0.2.202104042040) "DBeaver IDE"
org.jkiss.dbeaver.runtime.feature (21.0.2.202104042040) "DBeaver Model"

I'm using:
Eclipse IDE for Java Developers (includes Incubating components)
Version: 2021-03 (4.19.0)
Build id: 20210312-0638

- Dat

[2021-04-18 12:08] p91paul commented on #2733
@tombohub oh but I'm not entitled to give nor deny you anything since I'm not a dbeaver developer, I just advise against it as a user.

[2021-04-18 13:04] kseniiaguzeeva opened #12135 "Add loader when when big data is filtered via column header"
We should add a loader when we apply a column header filter and some time is needed to show results

[2021-04-18 13:04] tombohub commented on #2733
@p91paul ok, I apologize, thank you for the advice

[2021-04-18 13:10] kaelte opened #12136 "DB Navigator does not show functions"
* Ubuntu 20.04.2 LTS
* DBeaver Version 21.0.2.202104042040
* PostgreSQL 12.6 (Ubuntu 12.6-0ubuntu0.20.04.1)

DB Navigator does not show functions anymore, cf. screenshot.
But the query in SQL editor returns many functions defined in schema adressen.
[code]
![dbeaver_functionsNotShown](https://user-images.githubusercontent.com/10630145/115146749-24ce5400-a058-11eb-9b57-12a36c36293a.png)

Moreover t

[2021-04-18 13:29] ewertones commented on #6064
+1

[2021-04-18 18:14] uslss commented on #12136
@kaelte , you should switch to Advanced view to see mentioned objects.
It could be done using Connection context menu:
![image](https://user-images.githubusercontent.com/31996417/115155968-d71f0f00-a08a-11eb-910e-4032e0083dfb.png)
Or in the Connection properties:
![image](https://user-images.githubusercontent.com/31996417/115155996-fae25500-a08a-11eb-98b1-ef53ea6bd04f.png)

[2021-04-18 18:31] uslss commented on #12066
closed as a duplicate of #10692
anyway, thanks for the report

[2021-04-18 18:31] #12066 closed, assigned to nobody

[2021-04-18 18:33] #12136 closed, assigned to nobody

[2021-04-18 21:16] happycoffeebean opened #12138 ""Can not read response from server. Expected to read 4 bytes, read 0 bytes before connection was unexpectedly lost.""
#### System information:
- Operating system (distribution) and version: Pop_OS! (Debian 20.10)
- DBeaver version:  21.0.2
- Additional extensions: None

#### Connection specification:
- Database name and version:  mysql 8.0.22
- Driver name: MySQL , com.mysql.cj.jdbc.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  SSH (connection tests fine)

#### Describe the problem you're observing:

[2021-04-19 01:13] luismigil opened #12139 "Unable to compile dbeaver with mvn package"
#### System information:
- Operating system (distribution) and version: macOS Big Sur 11.2.3
- DBeaver version: 21.0.3
- Maven version: 3.8.1
- Java version:
![8BF8E20B-E90C-4201-B5F2-74859229F6B2_4_5005_c](https://user-images.githubusercontent.com/16280969/115169520-85907780-a0be-11eb-8273-eddc563556e2.jpeg)

I have recently cloned dbeaver repository and when I try to compile them, I get this err

[2021-04-19 01:54] geforce2k3 commented on #12057
Unfortunately, as I am not the DBA or SYSAdmin, so I can't do that, have to wait maintenance.

[2021-04-19 05:03] detkliff opened #12140 "uncomfortable table column hints"
DBeaver 21.0.3
Postgresql 12

my table DDL
CREATE TABLE form.d_condition (
	id serial NOT NULL, -- ИД
	code text NULL, -- Код
	name text NOT NULL, -- Имя
	CONSTRAINT relation_type_pk PRIMARY KEY (id)
);

But DBeaver hints are:
![изображение](https://user-images.githubusercontent.com/61137576/115183733-d96a8300-a0f5-11eb-81b1-771df1050210.png)

Very uncomfortable when DBeaver change real columns so

[2021-04-19 06:09] avdotius opened #12141 "Selected row is not highlighted in value panel with dark theme"
#### System information:
- Windows 10 Pro 20H2 19042.928
- Version 21.0.3.202104181339

#### Connection specification:
- Postgresql

#### Describe the problem you're observing:
With standard dark theme applied in the value panel the selected row is not highlighted.

![dbe-1](https://user-images.githubusercontent.com/1001060/115189174-c0120880-a0ee-11eb-8b98-340262b35076.png)

![dbe-2](https://user

[2021-04-19 07:06] kseniiaguzeeva opened #12142 "Support types containing modifiers in their names in UI"
#### System information:
- DBeaver version 21.0.3

#### Connection specification:
- Database name and version PostgreSQL GIS

#### Describe the problem you're observing:
Users can create only simple geometry type via UI now. We should add mixed-typed collection support too like `CREATE TABLE pois_ny(gid SERIAL PRIMARY KEY, poi_name text, cat text, geom geometry(POINT,4326));`
https://postgis.net/d

[2021-04-19 07:09] flambchap opened #12143 "Metadata search doesn't work for rdbms' with databases and schemas"
DBeaver 21.0.3. The bug is present at least on PostgreSQL and SQL Server, I suspect it can be found on any RDBMS with databases and schemas.

STR:
1. Connect to a database server. Let's say that the default database is called A and the default schema is B.
2. Open metadata search and try to find something which is not in the database A schema B. You won't find anything.

Workaround: if you need to

[2021-04-19 07:34] j0eii commented on #10845
try this

https://github.com/dbeaver/dbeaver/issues/5008

[2021-04-19 07:46] LonwoLonwo opened #12144 "[Vertica] columns can not be created via UI"
DBeaver 21.0.3

[code]

Steps:
1. Create new table or choose persisted one
2. Choose "Create column" in table viewer
3. Error occurs

[2021-04-19 07:48] kseniiaguzeeva commented on #12110
verified (Vertica was tested)

[2021-04-19 07:48] #12110 closed, assigned to LonwoLonwo, kseniiaguzeeva

[2021-04-19 07:51] detkliff commented on #11494
version 21.0.3

timestamp column
![изображение](https://user-images.githubusercontent.com/61137576/115200673-e7c49900-a10d-11eb-8b1a-5fb0a749648b.png)

[2021-04-19 07:57] kseniiaguzeeva opened #12145 "SQL Editor is opened with default schema only via DB Navigator (where databases and schemas exist)"
#### System information:
- Operating system (distribution) and version Win10
- DBeaver version 21.0.3

#### Steps to reproduce, if exist:
1. Expand a database in DB Navigator
2. Click any schema except default
3. Press SQL button on the top toolbar

**Expected:** SQL Editor is opened for the selected schema
**Actual result:** SQL Editor is opened for a default schema

PostgreSQL, Greeplum were tes

[2021-04-19 08:07] kseniiaguzeeva opened #12147 "Save SRID custom settings"
SRID settings are returned back to default after DBeaver reopening. We should keep user SRID settings saved.

[2021-04-19 08:14] flambchap commented on #3486
Closing it once again, now as a duplicate of https://github.com/dbeaver/dbeaver/issues/11426.

[2021-04-19 08:14] #3486 closed

[2021-04-19 08:21] zolthan commented on #10395
Hi @kseniiaguzeeva
I'm not 100% sure, but the Bug seems to be fixed now with the new eclipse platform in 21.0.3. I selected some tables and displayed the binary columns without a crash :D

[2021-04-19 08:23] kseniiaguzeeva commented on #10395
I'm so happy to hear it!

[2021-04-19 08:28] LonwoLonwo commented on #12127
Hello @ophers
Can you please check new version of [DBeaver](https://dbeaver.io/)? We fixed some problems with autocomplete in this Release.

[2021-04-19 08:29] zolthan commented on #10395
Oh no... it crashed 😢 Really... I think I'll finally give up. No Beaver on Big Sur 😢

I updated a table by script and then refreshed the view...
[code]

[code]

[code]

[2021-04-19 08:31] LonwoLonwo commented on #12087
We can add new setting for this case "Autocomplete for string literals", which can be disabled. Such a solution will be suitable for you?

[2021-04-19 08:51] abolognino opened #12148 "Display array elements in the spreadsheet"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04.2 LTS
- DBeaver version: 21.0.3
- Additional extensions

#### Connection specification:
- Database name and version: Oracle 19
- Driver name: ojdbc8-12.2.0.1
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
when selecting a row with a collection type inside, only t

[2021-04-19 09:34] wernerdaehn commented on #9710
Is this really fixed? I don't think so.

`select * from public.tables;` works.
`select * from tables;` does not offer the `tables` for autocompletion.

Yes, I have just upgraded to 21.0.2.

![image](https://user-images.githubusercontent.com/13607767/115214884-3e78a580-a103-11eb-9303-257a4a3b0695.png)

[2021-04-19 09:48] sknextcode commented on #7813
Just tried with new version 21.0.3.202104181339 just in case (no mentioned bugfix in changelog, but bugfix on read of array datatype), but error remains.

[2021-04-19 10:50] ced75 opened #12149 "PostgreSQL and SSH issue since DBeaver 21.0.3"
#### System information:
- Operating system (distribution) and version : Ubuntu 18.04
- DBeaver version : 21.0.3

#### Connection specification:
- Database name and version : PostgreSQL 11, 12 and 13
- Driver name : PostgreSQL JDBC (official)
- Do you use tunnels or proxies (SSH, SOCKS, etc)? SSH

#### Describe the problem you're observing:
Since version 21.0.3 upgrade, it is no more possible to o

[2021-04-19 11:24] poebel opened #12150 "Workspace directory reset after each update"
#### System information:
- OS: Windows 10 20H2 (Build 19042.928)
- DBeaver version: 21.0.3
- Additional extensions: None

#### Describe the problem you're observing:
I'm using a custom workspace located in my Dropbox directory ("D:\Dropbox\Work\DBeaver\workspace").
The dropbox directory is fully synchronized and available locally.

After each DBeaver update the workspace gets reset to the default

[2021-04-19 11:29] LonwoLonwo commented on #9710
Hello @wernerdaehn
You can test [new version 21.0.3](https://dbeaver.io/)
![2021-04-19 14_28_32-](https://user-images.githubusercontent.com/45152336/115229414-b226ac80-a11b-11eb-96f3-cd28a5d25bcc.png)

[2021-04-19 11:52] wernerdaehn commented on #9710
That I don't question. But neither TRACKS nor SKITRACKS are synonyms and no public ones. `TABLE` is, see node PUBLIC -> Synonyms.

[2021-04-19 12:05] LonwoLonwo commented on #9710
I apologize for the misunderstanding.

Autocomplete works with schema_name + synonym name in case of synonyms from non default for SQL Editor schema,
![2021-04-19 14_59_01-DBeaver Enterprise 21 0 3 - _none_ Script-19](https://user-images.githubusercontent.com/45152336/115233344-74785280-a120-11eb-8fd2-84e45849346d.png)

or for schema synonyms in case "select * from synonym_name"
![2021-04-19 15_00

[2021-04-19 12:13] kseniiaguzeeva commented on #10087
Cannot be reproduced anymore.

[2021-04-19 12:13] #10087 closed

[2021-04-19 12:18] wernerdaehn commented on #9710
Exactly. But if a `select * from tables` is valid, and it is, it should be included in the autocomplete list. Don't you agree?
Anyway, that was the original request. At least it should be reopened, I would say.

[2021-04-19 12:27] simenbm commented on #5601
Can someone please comment on how this was solved? This is still an issue with the snap community-ce version 21.0.3 on Ubuntu 20.04

[2021-04-19 13:19] LonwoLonwo commented on #9710
You can create another new ticket.
About autocomplete for public synonyms without "public" schema name.

And It's kind of tricky, make public synonyms available always in autocomplete.
As I see, the base does not prevent me from creating an not public synonym with an identical public synonym name.
![2021-04-19 16_14_07-DBeaver Enterprise 21 0 3 - _spserver rtdi io_ Script-19](https://user-images.g

[2021-04-19 13:37] wernerdaehn opened #12153 "Autocomplete should show all valid options"
As a follow up on this https://github.com/dbeaver/dbeaver/issues/9710 issue, let me try to be more precise.

This select statement `select * from tables;` (Hana) or `select * from all_tables;` (Oracle) is valid for all users. If those object names are valid, then autocomplete should offer them. Even more so as data dictionary tables are among the most often used objects in queries, at least for us

[2021-04-19 13:58] flambchap commented on #9960
Hello. SQLite documentation [states](https://www.sqlite.org/c3ref/changes.html) that they

and that

This perfectly explains why you got the same result over and over again. I believe that this behavior is not a bug.

[2021-04-19 13:59] #9960 closed

[2021-04-19 14:00] LonwoLonwo commented on #12153
Thanks.

[2021-04-19 14:35] MatteoR23 commented on #10441
Hello, can you reopen this bug please?
The issue is still there also on latest version
![image](https://user-images.githubusercontent.com/25712297/115253744-f66e7880-a12c-11eb-8d3a-a416bc59c9aa.png)
![image](https://user-images.githubusercontent.com/25712297/115253893-2158cc80-a12d-11eb-8000-5bd999f3dcbf.png)
![image](https://user-images.githubusercontent.com/25712297/115253998-3a617d80-a12d-11eb-

[2021-04-19 14:41] MatteoR23 commented on #10441
Hello,

I checked also on the latest released version (21.0.3), but the issue is still there.
Can you please reopen this bug? I feel useless to open a new one.

Thank you.
Best regards,
Matteo

![image](https://user-images.githubusercontent.com/25712297/115254558-c07dc400-a12d-11eb-86b7-505d157c19fc.png)
![image](https://user-images.githubusercontent.com/25712297/115254646-d5f2ee00-a12d-11eb-941f-

[2021-04-19 15:24] tmarex opened #12159 "No autocomplete for tables after schema - Apache Ignite SQL"
#### System information:
- Windows 10
- DBeaver version 21.0.3.202104181339
- Additional extensions

#### Connection specification:
- Apache Ignite
- Driver name: ignite-core-2.7.5.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No.

#### Describe the problem you're observing:

For Apache Ignite SQL there is no autocomplete anymore for tables after schema.

#### Steps to reproduce, if exist

[2021-04-19 15:42] luismigil commented on #12139
I have solved that error but now Im getting this one when I run `mvn package`

`Caused by: org.eclipse.equinox.p2.core.ProvisionException: No repository found at https://eclipse-color-theme.github.com/update.`

It seems that its down/offline.
any tip?

Thanks

[2021-04-19 16:02] KevinWellsMLC commented on #12066
Not sure why this is considered a duplicate of  #10692.    #10692 was for DBeaver 7.2.4
This is for DBeaver Version 21.0.1.202103211229  ... a much more current version.  What is the fix then?

[2021-04-19 17:18] ems2811 opened #12162 "Postgresql replacing * to all table columns doesn't work"
#### System information:
- Windows 10 x64 Pro
- DBeaver 21.0.3.202104181339
- No additional extensions

#### Connection specification:
- PostgreSQL 11
- Default JDBC PostgreSQL driver
- SSH tunnel

#### Describe the problem you're observing:
Ctrl+space doesn't replace * after select to all columns from table

#### Steps to reproduce, if exist:
type "select * from some_table", stay after * and pres

[2021-04-19 17:37] ghost opened #12163 "MSSQL CLR Table-Valued Function Returns Columns But Not Data Values"
#### System information:
- Windows 10
- DBeaver Community Version 21.0.3.202104181339
- Standard installation

#### Connection specification:
- Microsoft SQL Server 2016
- SQL Server -- class name com.microsoft.sqlserver.jdbc.SQLServerDriver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Have run a query from a CLR Table-Valued function

#### Ste

[2021-04-19 21:38] Chealer opened #12164 "PostgreSQL: Table Backup creates .sql file in custom format by default"
#### System information:
- Windows 10
- DBeaver 21.0.3

#### Connection specification:
- PostgreSQL 11
- PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
By default, when using Tools->Backup on a PostgreSQL table, DBeaver uses the _Custom_ format, which creates a file in a PostgreSQL-specific binary format. Yet, by default, t

[2021-04-20 02:58] mrevjd commented on #12149
System information:
- Operating system (distribution) and version : Ubuntu 20.04
- DBeaver version : 21.0.3

Connection specification:
- Database name and version : PostgreSQL and MariaDB
- Driver name : org.postgresql.Driver and org.mariadb.jdbc.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Using SSH tunnels and SSH Agent. If I change the connection to use a key instead it works.

[2021-04-20 04:18] PetbkA opened #12165 "[SQL Editor][Database Navigator]: table declaration is always opening in default schema"
#### System information:
- Operating system (distribution) and version: Windows 10 Ent x64 LTSC (version 1809)
- DBeaver version: 21.0.3.202104181339
- Additional extensions: None

#### Connection specification:
- Database name and version: PostgreSQL 12.5 x64
- Driver name: PostgreSQL JDBC Driver 42.2.18.jre7
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're

[2021-04-20 06:39] LonwoLonwo commented on #10441
Hello @MatteoR23
What database do you use?
Can you provide DDL of table an synonym, please?

[2021-04-20 06:44] LonwoLonwo commented on #12163
Hello @lunarquaker
Can you provide more details? Video of incorrect behavior or screens?
Also DDL of function will be very helpful.
Thanks in advance.

[2021-04-20 07:00] LonwoLonwo commented on #12162
Hello @ems2811
I can reproduce this behavior only in the case when table has no alias.
Am a right?

![2021-04-20 09_56_32-DBeaver Enterprise 21 0 3 - _dvdrental_ Script-41](https://user-images.githubusercontent.com/45152336/115351737-3aaa5900-a1bf-11eb-9d10-9d2558eff9e1.png)

[2021-04-20 07:17] LonwoLonwo commented on #12159
Thanks for the bug report!

Can reproduce in PostgreSQL with schema in quotes.
![2021-04-20 11_18_27-](https://user-images.githubusercontent.com/45152336/115362414-2d469c00-a1ca-11eb-945d-5bcf870cb510.png)

[2021-04-20 07:19] ced75 commented on #12149
More detail about my tunnel SSH connection:

- Authentication method: Agent
- Implementation: JSch

[2021-04-20 07:22] yennor opened #12166 "Regression: 21.0.3 ssh connection doesn't work anymore"
#### System information:
- Operating system: Debian testing
- DBeaver version: dbeaver-ce 21.0.3

#### Connection specification:
SSH Tunnel
#### Describe the problem you're observing:
Since updating, dbeaver can't access databases over an ssh tunnel anymore.

#### Steps to reproduce, if exist:

#### Include any warning/errors/backtraces from the logs

2021-04-20 09:14:49.922 - pageant connect exce

[2021-04-20 07:24] yennor commented on #12166
ups... i didn't see the duplicate before...
sorry!
https://github.com/dbeaver/dbeaver/issues/12149

[2021-04-20 07:24] #12166 closed, assigned to nobody

[2021-04-20 07:25] yennor commented on #12149
System information:

    Operating system: Debian testing
    DBeaver version: dbeaver-ce 21.0.3

Connection specification:

SSH Tunnel, using ssh agent
Describe the problem you're observing:

Since updating, dbeaver can't access databases over an ssh tunnel anymore.
Steps to reproduce, if exist:
Include any warning/errors/backtraces from the logs

    Start DBeaver SSH tunnels [org.jkiss.dbeaver.

[2021-04-20 07:30] LonwoLonwo commented on #12148
Hello @abolognino
Thanks for the bug report.

As some workaround - you can see right values in "Text" mode.
![2021-04-20 10_26_58-DBeaver Enterprise 21 0 3 - _orcl_ Script-42](https://user-images.githubusercontent.com/45152336/115355528-6d565080-a1c3-11eb-95c7-c8e572604f51.png)

[2021-04-20 08:06] LonwoLonwo commented on #12141
Hello @Alterant-zz
Unfortunately, could not reproduce.

![2021-04-20 11_01_28-DBeaver 21 0 3 - Album](https://user-images.githubusercontent.com/45152336/115360225-1bfc9000-a1c8-11eb-867f-8e721f0ac105.png)

May be "Reset UI settings"/"Reset workspace state" can help

![2021-04-20 11_00_58-DBeaver 21 0 3 - Album](https://user-images.githubusercontent.com/45152336/115360355-39315e80-a1c8-11eb-8fa4-e4

[2021-04-20 08:21] abolognino opened #12167 "Copy as SQL create an invalid insert statement"
#### System information:
- Operating system (distribution) and version: Ubuntu 20.04.2 LTS
- DBeaver version: 21.0.3
- Additional extensions: Vrapper

#### Connection specification:
- Database name and version: Oracle 19
- Driver name: ojdbc8-12.2.0.1
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  no

#### Describe the problem you're observing:
Copy as SQL produces an insert statement where t

[2021-04-20 08:21] zeridon commented on #12149
System Info:
[code]

Expected: Connect to db

Actual:
[code]

Steps to reproduce:
* Create new connection
* Configure ssh tunel (using jsch)
* Test tunel

[2021-04-20 08:39] uslss commented on #12149
thanks for the report

[2021-04-20 08:40] #11322 closed, assigned to flambchap

[2021-04-20 08:40] 2019-05-10 opened #12168 "21.0.3 and PostgreSQL: completion somewhat broken"
#### System information:
- Operating system (distribution) and version Debian/SID
- DBeaver version 21.0.3.202104181339
- Java version 15.0.2
- Additional extensions

#### Connection specification:
- Database name and version PostgreSQL 12
- Driver name pgjdbc 1.1.5
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:

Completion has always been a bit

[2021-04-20 08:44] LonwoLonwo commented on #12167
Hello @abolognino
Yes, this is tricky case.
If you try first
"select * from ZZTEST;"
and than "Advanced Copy -> Copy as SQL"
Result query will be normal. Without quotes in table name and table name will be in upper case.

We will think about how the problem can be solved. Thanks for the bug report.

[2021-04-20 08:45] uslss commented on #12164
thanks for the report

[2021-04-20 08:50] flambchap commented on #11322
Statistics info is not shown when the navigator tree has a horizontal scrollbar, and the `Hide folders` option causes the navigator to be wider than usual, especially with Postgres.

[2021-04-20 08:50] uslss commented on #12150
thanks for the report

[2021-04-20 08:59] uslss commented on #12140
thanks for the report

[2021-04-20 09:00] uslss commented on #12138
@happycoffeebean could you provide error and debug logs?

[2021-04-20 09:04] 2019-05-10 opened #12169 "Easy collection of bug metadata"
Just now I had to struggle again, to find out what driver the PostgreSQL connection uses -- in fact, I didn't find out, I just guessed from the available JARs in the `drivers` folder.

It seems unnecessary hard to gather that kind of information.
I propose an entry similar to
`Help -> Installation information -> [Tab] Configuration`
that lists all information possibly required (operating system, v

[2021-04-20 09:05] uslss commented on #12132
@KES777 unfortunately, cannot reproduce it.
Could you check if it is reproducible for you against 21.0.3?

[2021-04-20 09:11] merouanekhalili opened #12170 "NULL values when exporting bytea fields - PostgreSQL"
#### System information:
- Operating system (distribution) and version : Ubuntu 20.10
- DBeaver version : 21.0.1.202103211229 CE
- Additional extensions

#### Connection specification:
- Database name and version : PostgreSQL 9.6.20
- Driver name : postgresql-42.2.5.jar
- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:
When I try to export a table

[2021-04-20 09:14] adonis-kun opened #12171 "Dbeaver无法正常启动，报错Path must include project and resource name: /General"
Dbeaver无法正常启动，报错Path must include project and resource name: /General.
原因为在DBeaver配置中，将Navigator bookmarks、ER diagrams置空，现无法正常启动。看过之前也有人遇到过，issues中无解决方案，所以再次提问。

[2021-04-20 09:17] uslss commented on #12128
thanks for the report

[2021-04-20 09:30] uslss commented on #12085
@fabriziop98 could you check if it reproducible for you against 21.0.3?

[2021-04-20 09:34] aisbergde opened #12172 "endless restarting loop after every update on a new version after upgrading plugins"
#### System information:
- Operating system (distribution) and version: windows
- DBeaver version: current and previous (21.0.2, 21.0.3)
- Additional extensions

#### Connection specification:
- Database name and version
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

I update dbeaver using choco. Update works fine, dbeaver startes fin

[2021-04-20 09:35] LonwoLonwo commented on #12168
Hello @2019-05-10
Can you provide more examples, please?
Screens will be very helpful.

[2021-04-20 09:41] LonwoLonwo commented on #12170
Hello @merouanekhalili
Have you try to change data transfer Binaries settings?

![2021-04-20 12_40_30-Data Transfer](https://user-images.githubusercontent.com/45152336/115374686-bfa06d00-a1d5-11eb-9137-a357af8673be.png)

[2021-04-20 09:45] aisbergde commented on #12172
Maybe this information helps to reproduce:
![image](https://user-images.githubusercontent.com/9020187/115374582-469d1780-a1cd-11eb-9114-19ab019be2e7.png)

![image](https://user-images.githubusercontent.com/9020187/115374758-6c2a2100-a1cd-11eb-8e72-a463910bfcae.png)

![image](https://user-images.githubusercontent.com/9020187/115374865-8663ff00-a1cd-11eb-9b69-3119ef1f89ca.png)

![image](https://user

[2021-04-20 09:56] avdotius commented on #12141
Made a reset of UI settings and workspace state.
Enabled option "Highlight rows with ..."

Nothing changed.

Switched Windows theme to Bright.

Also with no luck :(

[2021-04-20 09:59] merouanekhalili commented on #12170
Hello @LonwoLonwo

Thank you for your comment.

It is not a bug, I just forgot to change the settings for the data transfer binaries.

[2021-04-20 09:59] #12170 closed, assigned to nobody

[2021-04-20 10:04] uslss commented on #12141
thanks for the report

[2021-04-20 10:07] uslss commented on #11891
@yjd sorry for the late response
could you check if the issue is reproducible for you against 21.0.3?

[2021-04-20 10:42] uslss commented on #11592
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-04-20 10:42] #11592 closed, assigned to nobody

[2021-04-20 10:43] #11340 closed, assigned to nobody

[2021-04-20 10:44] uslss commented on #11487
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-04-20 10:44] #11487 closed, assigned to nobody

[2021-04-20 10:44] #11555 closed, assigned to nobody

[2021-04-20 10:45] uslss commented on #11572
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-04-20 10:45] #11572 closed, assigned to nobody

[2021-04-20 10:45] uslss commented on #11607
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-04-20 10:45] #11607 closed, assigned to nobody

[2021-04-20 10:46] uslss commented on #11636
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it with an additional info

[2021-04-20 10:46] #11636 closed, assigned to nobody

[2021-04-20 10:56] uslss commented on #11524
@Gota-Peng yes, you are right. If the keep-alive value is zero, the database disconnects in case of activity absence. If the keep-alive value is set, e.g., to ten seconds, a probe packet with no data will be sent every ten seconds to keep the connection alive.
So if you keep-alive value is 9999, so the probe packet is sent only every 166 minutes.

https://tldp.org/HOWTO/TCP-Keepalive-HOWTO/overvie

[2021-04-20 10:56] #11524 closed, assigned to nobody

[2021-04-20 10:58] #11544 closed, assigned to nobody

[2021-04-20 10:59] uslss commented on #11794
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-04-20 10:59] #11794 closed, assigned to nobody

[2021-04-20 11:07] uslss commented on #10743
cannot reproduce it against 21.0.3
seems the issue is fixed
![image](https://user-images.githubusercontent.com/31996417/115386138-b1f0e480-a1e1-11eb-873b-6202001915c6.png)
If it is still actual for you - feel free to reopen it

[2021-04-20 11:07] #10743 closed

[2021-04-20 11:12] uslss opened #12179 "Cannot add/update arrays using UI"
#### System information:
- Operating system (distribution) and version win10
- DBeaver version 21.0.3

#### Connection specification:
- Database name and version Clickhouse
- Driver name clickhouse-jdbc 0.2.6

#### Describe the problem you're observing:
Cannot add LowCardinality(string) value using UI
![image](https://user-images.githubusercontent.com/31996417/115386628-4d825500-a1e2-11eb-8df6-f1a

[2021-04-20 11:15] uslss commented on #11415
@jfreidkes-CA sorry for the late response.
Is issue still actual for you against 21.0.3?

[2021-04-20 11:15] uslss commented on #11654
seems the issue is fixed in 21.0.3

[2021-04-20 11:15] #11654 closed, assigned to nobody

[2021-04-20 11:22] uslss commented on #11852
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-04-20 11:22] #11852 closed, assigned to nobody

[2021-04-20 11:23] uslss commented on #11571
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-04-20 11:23] #11571 closed, assigned to nobody

[2021-04-20 11:23] uslss commented on #11694
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-04-20 11:23] #11694 closed, assigned to nobody

[2021-04-20 11:24] uslss commented on #11721
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-04-20 11:24] #11721 closed, assigned to nobody

[2021-04-20 11:24] uslss commented on #11591
there is no update on the issue for a long time.
If it is still actual for you - feel free to reopen it.

[2021-04-20 11:24] #11591 closed, assigned to nobody

[2021-04-20 11:40] uslss commented on #6510
seems the issue is fixed in 21.0.3

[2021-04-20 11:40] #6510 closed

[2021-04-20 11:42] uslss commented on #3822
@PCR-MikeZ is this issue still actual?
unfortunately, we've got no environment to test it.

Sorry for sooo late response :)

[2021-04-20 11:47] uslss commented on #8157
not reproducible against 21.0.3

[2021-04-20 11:47] #8157 closed

[2021-04-20 11:48] uslss commented on #8129
@atmouse- is it still actual?

[2021-04-20 11:51] uslss commented on #5462
not actual in 21.0.3

[2021-04-20 11:51] #5462 closed

[2021-04-20 11:52] uslss commented on #9624
cannot reproduce against 21.0.3

[2021-04-20 11:52] #9624 closed

[2021-04-20 11:54] uslss commented on #8081
still reproducible against 21.0.3

[2021-04-20 11:54] uslss commented on #5081
still reproducible against 21.0.3

[2021-04-20 11:55] uslss commented on #3452
not actual against 21.0.3

[2021-04-20 11:55] #3452 closed

[2021-04-20 11:57] uslss commented on #6508
not reproducible against 21.0.3

[2021-04-20 11:57] #6508 closed

[2021-04-20 12:04] uslss commented on #8924
not reproducible in 21.0.3

[2021-04-20 12:04] #8924 closed

[2021-04-20 12:06] uslss commented on #8269
cannot reproduce it against 21.0.3.
If it is still actual for you - feel free to reopen an issue

[2021-04-20 12:06] #8269 closed

[2021-04-20 12:07] uslss commented on #8718
still actual against 21.0.3

[2021-04-20 12:08] uslss commented on #8821
cannot reproduce it for now.
If issue is still actual for you - feel free to reopen it

[2021-04-20 12:08] #8821 closed

[2021-04-20 12:10] robert-niestroj commented on #5462
In 21.0.3 Dark Mode looks really good. Good Job Team!

[2021-04-20 12:25] yjd commented on #11891
@uslss The latest version is not resolved

[2021-04-20 12:26] jfreidkes-CA commented on #11415
@uslss Just tried and same behavior as previous versions, not working 😿

[2021-04-20 12:36] ShadelessFox commented on #11223
Hello @ZhouJiaZhi,

Unfortunately, MySQL does not allow to alter indexes, so it's not possible to change the type of an already created index.

[2021-04-20 12:36] #11223 closed, assigned to ShadelessFox

[2021-04-20 12:55] VipSaran commented on #1934
cmon, 4 years old?

[2021-04-20 13:07] MatteoR23 commented on #10441
Hello @LonwoLonwo

I post here:
![Screenshot 2021-04-20 150456](https://user-images.githubusercontent.com/25712297/115400747-ed8fac80-a1e9-11eb-9da1-788c46790f8c.png)
![Screenshot 2021-04-20 150429](https://user-images.githubusercontent.com/25712297/115400781-f54f5100-a1e9-11eb-96b3-6331c2f63e8c.png)

The DDL is:
`-- BIDTMS.BID_CALENDAR1 definition

CREATE TABLE "BIDTMS"."BID_CALENDAR1"
   (	"CALE

[2021-04-20 13:44] jetzerb commented on #12172
Same issue here, but I did not restart windows.  Instead, I manually started DBeaver by clicking on the pinned icon in my taskbar.  A new instance opened and presented a message about the workspace being locked (presumably by the endless cycle of restarts that continued to happen), but clicked the "ignore" button.  DBeaver then started, and the cycle of restarts stopped.  My plugin (Vrapper) was a

[2021-04-20 13:48] PCR-MikeZ commented on #3822
No idea if this is still in issue.
We stopped using DBeaver shortly after finding more issues.

From: Dziyana ***@***.***>
Sent: Tuesday, April 20, 2021 7:43 AM
To: dbeaver/dbeaver ***@***.***>
Cc: Mike zaringhalam ***@***.***>; Mention ***@***.***>
Subject: Re: [dbeaver/dbeaver] DB2 DDL Not making use of the naming property (#3822)

@PCR-MikeZ<https://github.com/PCR-MikeZ> is this issue still act

[2021-04-20 13:49] fabriziop98 commented on #12085
problem still occurs in 21.0.3

[2021-04-20 13:55] atmouse- commented on #8129
The issue is gone under dbeaver 21 :handshake:  with wayland 1.19 and swaywm 1.6

[2021-04-20 13:56] adrinerandrade commented on #8303
In our production environment, using PostgreSQL 11, I've noticed that if some sessions stuck in _idle on transaction_ state, the CPU gets higher progressively until it hits 100% consumption (takes about 1-2 hours). Terminating the sessions stabilizes it. We even created a scheduled procedure to terminate sessions that are stuck eventually after 1 hour. That's a suggestion I would make to work arou

[2021-04-20 14:01] ShadelessFox commented on #11267
Hello @rezelute,

I cannot reproduce your issue with the same setup (using <kbd>Ctrl</kbd>+<kbd>R</kbd> as a shortcut).

Can you try upgrading and testing against [newest version](https://dbeaver.io/download/)?

[2021-04-20 14:15] ShadelessFox commented on #11227
Hello @hennie7863,

I cannot reproduce your issue:

https://user-images.githubusercontent.com/35821147/115411228-f6897980-a1fb-11eb-8a62-97597e2b627f.mp4

Can you try upgrading and testing against [newest version](https://dbeaver.io/download/)?

[2021-04-20 14:17] uslss commented on #8303
In the current version of dbeaver "Automatically end long life transaction" option is available. Here you can set transaction time-to-live value (in seconds). In case there is no activity during this time, you will see a confirmation dialog with the countdown. After the countdown will finish active transaction will be ended with rollback. Does it solve your issue?
![image](https://user-images.gith

[2021-04-20 14:19] glmarsh commented on #11591
Hi Dziyana;It appears the program is able to work if I move mysqldump to the default directory.  Regards,Gary MarshSent from my Galaxy
-------- Original message --------From: Dziyana ***@***.***> Date: 4/20/21  4:24 AM  (GMT-08:00) To: dbeaver/dbeaver ***@***.***> Cc: glmarsh ***@***.***>, Mention ***@***.***> Subject: Re: [dbeaver/dbeaver] Unable to enter local client path (#11591)
there is no up

[2021-04-20 14:26] #8129 closed

[2021-04-20 14:32] rezelute commented on #11267
Thank you for the reply :). I am running version: 21.0.3.202104181339 and this is what i have in the keys:
![image](https://user-images.githubusercontent.com/13378850/115413418-0ea5cc80-a1ed-11eb-8a2b-3a154446178c.png)

Simple way to replicate:
I edit a field (and dont save), then if i right-click and select Refresh, it gives me the dialog box:
![image](https://user-images.githubusercontent.com/13

[2021-04-20 14:43] uslss commented on #11891
@yjd what database do you use? probably you could provide table(s) DDL and query example? It will be very useful for issue investigation

[2021-04-20 14:54] adrinerandrade commented on #8303
I wasn't aware of this feature. It's probably going to be helpful.

But I still think the scheduled process works for scenarios where someone else has some misconfiguration, like not enabling the "**separete connection for metadata read**". Just another layer for safety.

But anyway, that's a useful feature! Thanks!

[2021-04-20 15:31] ShadelessFox commented on #11500
Not reproducible anymore.

[2021-04-20 15:31] #11500 closed, assigned to ShadelessFox

[2021-04-20 15:39] ShadelessFox commented on #11267
Thanks for the informative response!

I was able to reproduce your issue by having two shortcuts set at the same time. Try clicking <kbd>Unbind Command</kbd> first, then set desired shortcut. I hope that solution suits your needs, because by doing that, well, <kbd>F5</kbd> will not work from this moment.

Let me know if your issue was solved :)

[2021-04-20 15:47] mkgrgis commented on #11477
Hello, @LonwoLonwo !
There is problems in 7.3.5, but no problems in 21.0.3. Thanks!
In 21.0.3 there is only not beautiful formatting of column's options. Values of options usually are case sensetive quotes.

[2021-04-20 15:52] cristian-home commented on #6508
Still reproducible in 21.0.3

![bug](https://user-images.githubusercontent.com/4079493/115426678-5a914b00-a1c6-11eb-9e7c-914096cb4d50.gif)

[2021-04-20 16:01] wvolkov opened #12182 "MSSQL temp table autocomple not work"
**System information:**
Operating system (distribution) and version: Windows 10 OS Build 2104
DBeaver version: 21.0.3
Java version "1.8.0_191"
No Additional extensions

Describe the problem you're observing:
Column hints (a.k.a intellisence or autocomplete) doesn't work with MS-SQL temp tables.

**Steps to reproduce:**
1. Create a temp table
[code]
2. invoke "column hint" via table alias:
[code]
*

[2021-04-20 16:05] rezelute commented on #11267
Ah, unbind first seems to have solved it thank you! 😁. Having a single command is perfectly fine thanks.

[2021-04-20 16:22] LonwoLonwo commented on #11477
@mkgrgis Thanks for the clarification.

[2021-04-20 16:27] #11267 closed, assigned to ShadelessFox

[2021-04-20 17:20] ems2811 commented on #12162
@LonwoLonwo, you're right. Error reproduces when table has no alias

[2021-04-20 18:50] jetzerb commented on #12131
@aisbergde : I'm interested in this use case, so decided to look into it for myself, and tried using your repro script above.  Unfortunately, it's incomplete because
- Your view references two tables that you don't provide definitions for
   - RepoObject
   - RepoObject_gross
- You didn't provide any DML statements that generate the error.

But I wanted to take a closer look because it seems stran

[2021-04-20 19:00] derwin12 commented on #11108
Still an issues with 21.0.3

[2021-04-20 19:14] maritogaleano opened #12185 "Hana - field autocompletion does not work"
After the update from version 21.0.1 to version 21.0.3 it no longer suggests the name of the table fields

![image](https://user-images.githubusercontent.com/57814047/115451120-c9809b00-a1ea-11eb-8ddd-454012ecdbce.png)
**Version 21.0.3**

![image](https://user-images.githubusercontent.com/57814047/115451362-182e3500-a1eb-11eb-9e7b-074e7fd58837.png)

**Version 21.0.1**

[2021-04-20 19:37] lorenzo-ghub opened #12186 ""ERROR: argument of AND must be type boolean, not type name" when attempting to expand "Data types" in DBeaver 21.0.3"
#### System information:
- Operating system (distribution) and version: Windows 10 Pro, 20H2, OS build 19042.870
- DBeaver version: DBeaver 21.0.3
- Additional extensions: none

#### Connection specification:
- Database name and version: PostgreSQL 12.6
- Driver name: org.postgresql.Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? no

#### Describe the problem you're observing:
Whenever a

[2021-04-20 19:50] LonwoLonwo commented on #12186
Thanks for the bug report!

[2021-04-20 19:54] LonwoLonwo commented on #12186
Reproducible for those schemas that do not have data types.

[2021-04-20 20:16] jetzerb commented on #12078
@pdanie : FYI - if you change the SQL Processing Delimiters such that
- `Statements delimiter` = "go"
- `Ignore native delimiter` is checked

then your Test 6 runs successfully
![image](https://user-images.githubusercontent.com/36859020/115450336-5f172d00-a1e1-11eb-86ee-c11e1e8b8588.png)
![image](https://user-images.githubusercontent.com/36859020/115450428-7b1ace80-a1e1-11eb-8ed3-d3160156cf7c.png)

[2021-04-20 21:46] LonwoLonwo commented on #12185
Hello @maritogaleano
Thanks for the bug report.
We are getting to fix it soon.

As a workaround for now - you can use table aliases. It can works, if you add any alias after table name.
As example:
"SELECT * FROM ORDR o
WHERE docn"

[2021-04-20 21:48] LonwoLonwo commented on #12162
side case: https://github.com/dbeaver/dbeaver/issues/12185

[2021-04-21 03:04] yjd commented on #11891
[example.zip](https://github.com/dbeaver/dbeaver/files/6347744/example.zip)
@uslss

[2021-04-21 04:58] ujjwal-innocirc opened #12189 "Multiple query in single tab"
Hi team,
Please provide a feature where more than one result can be viewed in single tab

[2021-04-21 07:02] ophers commented on #12127
Hello @LonwoLonwo
I've downloaded and installed version `21.0.3.202104181339` (plus extensions).
It still faulty with the same error messages.

[2021-04-21 07:09] MatteoR23 commented on #10441
I'm going to open a new issue, while this issue is closed and out of my control

[2021-04-21 07:33] LonwoLonwo commented on #10441
@MatteoR23 yep, this is a good idea

[2021-04-21 07:35] LonwoLonwo commented on #12127
Thanks for testing @ophers
Can you provide more examples? Screens or video of incorrect autocomplete behaviour.

[2021-04-21 07:39] MatteoR23 opened #12190 "Autocomplete does not appear if I write SQL using table synonyms with Oracle 12 database"
#### System information:
- Operating system (distribution) and version: Windows  10 Pro 20H2
- DBeaver version
![Screenshot 2021-04-19 163307](https://user-images.githubusercontent.com/25712297/115514851-d5b93680-a284-11eb-8bbf-52fb96441c87.png)
- Additional extensions: Office integration

#### Connection specification:
- Database name and version
![Screenshot 2021-04-20 150429](https://user-image

[2021-04-21 07:44] MatteoR23 commented on #10441
Done, I opened the issue #12190
I will switch to it

Thank you for your patience :-)

[2021-04-21 08:12] uslss commented on #12189
@ujjwal-innocirc please, provide more info about what you're talking about and how you think it should look like. Screenshots will be very helpful too

[2021-04-21 08:17] uslss commented on #12190
thanks for the report

[2021-04-21 08:22] uslss commented on #12182
thanks for the report

[2021-04-21 08:37] uslss commented on #12171
@adonis-kun could you provide more clear steps to reproduce an issue in english?

[2021-04-21 08:53] 2019-05-10 commented on #12168
Uhm, what?
Not sure what exactly you expect.

The query I gave very concisely displays the behaviour in a minimal working examply, suggesting an issue with the position of the second table.
If you have gotten another theory I need more specific information as to what examples to create.

[2021-04-21 08:55] ujjwal-innocirc commented on #12189
Hi Team,
Its a feature request where i can execute two query in one go. Right now it is possible but the result set is coming in two different tabs. My request is to bring these results in one tab one above the another.

Kumar Ujjwal

Software Engineer, MyHealthcare (a digital health ecosystem)

Email: ***@***.******@***.***> I Mobile: +91 9555695547

Website: http://www.myhealthcare.co

Delhi  I

[2021-04-21 09:07] LonwoLonwo commented on #12168
Autocompletion depends on the conditions: in which part of statement it is used, whether there are aliases of the table, whether fully qualified names or short, etc.

Examples:
![2021-04-21 12_00_44-](https://user-images.githubusercontent.com/45152336/115527683-f5a72500-a299-11eb-9a39-7b34bd55dcac.png)

![2021-04-21 12_00_58-](https://user-images.githubusercontent.com/45152336/115527685-f5a72500-a

[2021-04-21 09:35] uslss commented on #11891
thanks for the report and clarification

[2021-04-21 10:37] ShadelessFox commented on #11426
Hello @aisbergde,

Can you create a separate issue about the extended properties, please?

Thanks.

[2021-04-21 10:38] Goddard commented on #7976
I pointed the "home" to my /usr/bin folder expecting it to execute mysqldump but it doesn't find it.

I even added a ln -sf mysqldump /usr/bin/mysqldump to my home folder if it was having permission issues.  Does this operation not execute as my user?

[2021-04-21 11:07] aisbergde opened #12196 "mssql - missing extended properties"
Maybe this is not a bug, but a feature request

#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver Version 21.0.3.202104181339
- Additional extensions

#### Connection specification:
- Database name and version: SQL Server 2017, 2019
- Driver name
- Do you use tunnels or proxies (SSH, SOCKS, etc)?

#### Describe the problem you're observing:

Missing suppo

[2021-04-21 11:07] aisbergde commented on #11426
@ShadelessFox #12196

[2021-04-21 11:30] ShadelessFox commented on #11426
Thanks!

[2021-04-21 11:49] ShadelessFox commented on #11218
Hello @qiqingli,

DBeaver can display jobs in Oracle. Go to <kbd>Scheduler</kbd> &rArr; <kbd>Jobs</kbd>.

Let me know if it solves your issue.

[2021-04-21 11:49] michal-bartak commented on #8303
I'm not sure really.
How this timeout is implemented? Does it use database features like postgres' idle_in_transaction_session_timeout ? If so, then such connection is killed by server disconnecting DBeaver which will rise lot of annoyance.

IMO, it's rather workaround than real solution. In fact, sharing single connection by user and meta data is prone to create not-wanted situations. For example

[2021-04-21 11:53] uslss commented on #3140
already implemented

[2021-04-21 11:53] #3140 closed

[2021-04-21 11:59] uslss commented on #7117
Already implemented

[2021-04-21 11:59] #7117 closed

[2021-04-21 12:01] maritogaleano commented on #12185
Thank you very much for your answer @LonwoLonwo

[2021-04-21 12:02] HolgerGH commented on #6064
+1 :)

[2021-04-21 12:03] qiqingli commented on #11218
DBeaver does not show Jobs correctly, Refer to the information shown in the screenshot.

![image](https://user-images.githubusercontent.com/20805098/115550476-7c7cf180-a2dc-11eb-89a3-c82ec3ec0740.png)

![image](https://user-images.githubusercontent.com/20805098/115549585-6458a280-a2db-11eb-8211-5072127d303c.png)

Other tools can show Jobs
![image](https://user-images.githubusercontent.com/20805098

[2021-04-21 12:16] BogdanMugerli opened #12197 "Flat_csv Driver properties ."
#### System information:
- Operating system (distribution) and version: Windows 10
- DBeaver version 21.0.3.202104181339
- Additional extensions:   DBeaver Office Support	1.1.91.202104042040

#### Connection specification:
- Database name and version: Flat_csv
- Driver name: Flat files (CSV) / CSV
- Do you use tunnels or proxies (SSH, SOCKS, etc)? No

#### Describe the problem you're observing:
Go

[2021-04-21 12:19] ShadelessFox commented on #11218
I see, thanks!

[2021-04-21 12:26] LonwoLonwo commented on #11685
Ok, I understand.
DBeaver add TIMESTAMP mark in Generated UPDATE dialog, but not in the real UPDATE statement

![2021-04-21 15_22_16-DBeaver Enterprise 21 0 3 - DATES_TEST](https://user-images.githubusercontent.com/45152336/115553251-df0ec700-a2b5-11eb-8196-7474c0733253.png)

[2021-04-21 13:42] focusaurus opened #12198 "Cannot save edited row to cloud spanner"
#### System information:
- macos 10.15.7
- DBeaver version 21.0.2.202104042040
  - Installed from homebrew cask

#### Connection specification:
- Cloud Spanner

- Do you use tunnels or proxies (SSH, SOCKS, etc)?  No

#### Describe the problem you're observing:

I cannot edit data in the data grid view and click save.

#### Steps to reproduce, if exist:

Navigate to a table and data view

Edit the

[2021-04-21 13:51] LonwoLonwo commented on #11542
https://docs.oracle.com/database/121/SUTIL/GUID-169DE9FB-36A5-4087-9857-7F03DCF8D3C6.htm INTERVAL case

[2021-04-21 13:57] michal-bartak opened #12199 "leading zeroes in VARBIT truncated"
#### System information:
- Kubuntu 20.04
- DBeaver version: 21.0.3

#### Connection specification:
- Postgresql
- PostgreSQL JDBC Driver
- Do you use tunnels or proxies (SSH, SOCKS, etc)? NO

#### Describe the problem you're observing:

If VARBIT value contains leading-zeroes, those are truncated in DBeaver views. This way the user lost information about size of the varbit.

For example:

![image]

[2021-04-21 14:14] p91paul opened #12200 "Grouping panel does not allow grouping by expression anymore"
#### System information:
- Operating system (distribution) and version Windows 10
- DBeaver version 21.0.3.202104181339 (but was there in 21.0.2 as well)
- Additional extensions n/a

#### Connection specification:
- Database name and version Oracle 11
- Driver name ojdbc19
- Do you use tunnels or proxies (SSH, SOCKS, etc)? n/a

#### Describe the problem you're observing:
In grouping panel, express

[2021-04-21 14:23] techlock77 opened #12201 "Word Wrap NOT working in Editor. (Script Window)"
Instead of going to the next line, editor is still using the same line even though words no longer fit on the same line.

![image](https://user-images.githubusercontent.com/66756251/115569347-23d13880-a28b-11eb-8763-6727841d40a3.png)

[2021-04-21 14:25] Stetzon commented on #2998
Still any way to do this?  I have my db instances running in a docker container, and DBeaver will complain when I close and re-open the application later when the instances aren't running.

[2021-04-21 14:41] melo0187 commented on #8864
Actually I just had the same issue with the current version 21.0.3.202104181339 installed as snap.

At the company I work we use scripting to generate short lived database credentials that are stored in `~/.pgpass`.
The dbeaver snap however looks for the pgpass file in `~/snap/dbeaver-ce/110`. Is it possible to change the location used by dbeaver to look for the pgpass file?
For now I work around

[2021-04-21 16:37] ghost commented on #12163
Hi @LonwoLonwo

I am attaching two screen shots.   This is an internal company data set, so the data itself will not make sense to you.   But the behavior is not correct in dbeaver.   It returns columns, but no data.   SSMS returns fine.

This is a CLR table-valued function written in C# and deployed via assembly to SQL Server.
![ssms_tvf](https://user-images.githubusercontent.com/38664858/1155898

[2021-04-21 16:51] ghost commented on #12163
@LonwoLonwo

Another thing I found is that when I click on the row count refresh button, at the bottom, the correct number of rows can be shown, which in my case is 1024.   But again, no data shows  up.
![dbeaver_rowcount](https://user-images.githubusercontent.com/38664858/115591580-db6c4780-a297-11eb-9097-5a0c646e49b8.GIF)

[2021-04-21 17:29] happycoffeebean commented on #12138
[dbeaver.log](https://github.com/dbeaver/dbeaver/files/6352787/dbeaver.log)
I'm not clear on where to find a pertinent debug log.  In the documentation, searching for debug logs seem to pertain to debugging a language-specific script.

[2021-04-21 19:08] ShadelessFox commented on #11418
Implemented:

![java_tyn2omVmoF](https://user-images.githubusercontent.com/35821147/115261250-2113fd80-a13c-11eb-8308-2046cd780c7e.png)

[2021-04-21 19:09] ShadelessFox commented on #11331
Implemented:

https://user-images.githubusercontent.com/35821147/115244137-5284cd00-a12c-11eb-8fd6-a575bcef8811.mp4

[2021-04-21 19:10] ShadelessFox commented on #9998
Fixed for HANA. Unfortunately, in case of SQLite we can't do anything about it.

[2021-04-21 19:12] ShadelessFox commented on #11177
Implemented ability to edit properties of sequences:

![image](https://user-images.githubusercontent.com/35821147/115394739-c33eee80-a1eb-11eb-90c1-01e06a0c0042.png)

[2021-04-21 20:15] vermgit commented on #9377
To give an update: I'm now using version 21.0.2.202104042040 and Oracle-driver version 12.2.0.1 and it hasn't improved yet.

[2021-04-21 20:32] vermgit opened #12203 "IP-Address Gets Translated to Hostname"
#### System information:
- Windows 7
- DBeaver version 21.0.2

#### Connection specification:
- Oracle-driver 12.2.0.1
- Do you use tunnels or proxies (SSH, SOCKS, etc)? Yes

#### Describe the problem you're observing:
I [asked this on stackoverflow](https://stackoverflow.com/q/67057935/483113), but maybe this is more a bug than something I could fix. For your convenience I copy the question from